{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourcegroups/DmResource-PsTestRun4971?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/DmResource-PsTestRun4971\",\r\n  \"name\": \"DmResource-PsTestRun4971\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/DmResource-PsTestRun4971/providers/Microsoft.DataMigration/services/DmService-PsTestRun9301?api-version=2018-07-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualSubnetId\": \"/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/ERDMSINTDemo-CORP-SCUS-VNET-5080/subnets/Subnet-1\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Premium_4vCores\"\r\n  },\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"7TqRb8e4H0zOStUFgIY1RHkc8l5W+Lm6uH9tKIVs4qE=\""
        ],
        "Retry-After": [
          "30"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/providers/Microsoft.DataMigration/locations/southcentralus/operationStatuses/9efa58c4-0431-4511-b97f-718dd8a784c9?api-version=2018-07-15-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Accepted\",\r\n    \"virtualSubnetId\": \"/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/ERDMSINTDemo-CORP-SCUS-VNET-5080/subnets/Subnet-1\"\r\n  },\r\n  \"etag\": \"7TqRb8e4H0zOStUFgIY1RHkc8l5W+Lm6uH9tKIVs4qE=\",\r\n  \"id\": \"/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/DmResource-PsTestRun4971/providers/Microsoft.DataMigration/services/DmService-PsTestRun9301\",\r\n  \"location\": \"South Central US\",\r\n  \"name\": \"DmService-PsTestRun9301\",\r\n  \"sku\": {\r\n    \"name\": \"Premium_4vCores\",\r\n    \"size\": \"4 vCores\",\r\n    \"tier\": \"Premium\"\r\n  },\r\n  \"type\": \"Microsoft.DataMigration/services\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/providers/Microsoft.DataMigration/locations/southcentralus/operationStatuses/9efa58c4-0431-4511-b97f-718dd8a784c9?api-version=2018-07-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"9efa58c4-0431-4511-b97f-718dd8a784c9\",\r\n  \"id\": \"/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/providers/Microsoft.DataMigration/locations/southcentralus/operationStatuses/9efa58c4-0431-4511-b97f-718dd8a784c9\",\r\n  \"status\": \"Running\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/DmResource-PsTestRun4971/providers/Microsoft.DataMigration/services/DmService-PsTestRun9301?api-version=2018-07-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"I3mjOuEmqbqTsnFdfY/wWbIqA4OAYK3qmhHFPifLtkI=\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11979"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNicId\": \"/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/DmResource-PsTestRun4971/providers/Microsoft.Network/networkInterfaces/NIC-hkqk5sb33kcp6hitc8scckn4\",\r\n    \"virtualSubnetId\": \"/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/ERDMSINTDemo-CORP-SCUS-VNET-5080/subnets/Subnet-1\"\r\n  },\r\n  \"etag\": \"I3mjOuEmqbqTsnFdfY/wWbIqA4OAYK3qmhHFPifLtkI=\",\r\n  \"id\": \"/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/DmResource-PsTestRun4971/providers/Microsoft.DataMigration/services/DmService-PsTestRun9301\",\r\n  \"location\": \"South Central US\",\r\n  \"name\": \"DmService-PsTestRun9301\",\r\n  \"sku\": {\r\n    \"name\": \"Premium_4vCores\",\r\n    \"size\": \"4 vCores\",\r\n    \"tier\": \"Premium\"\r\n  },\r\n  \"type\": \"Microsoft.DataMigration/services\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/DmResource-PsTestRun4971/providers/Microsoft.DataMigration/services/DmService-PsTestRun9301/projects/DmProject-PsTestRun734?api-version=2018-07-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sourcePlatform\": \"SQL\",\r\n    \"targetPlatform\": \"SQLMI\",\r\n    \"sourceConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"aalab03-2k8.redmond.corp.microsoft.com\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"targetConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"Add-target-Here\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"databasesInfo\": [\r\n      {\r\n        \"sourceDatabaseName\": \"DmDbName-PsTestRun406\"\r\n      },\r\n      {\r\n        \"sourceDatabaseName\": \"DmDbName-PsTestRun6460\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"Mzyv9a6QCtzbtzjZK6cdgcaHm/ajNwokv7y2iX/IMq0=\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"sourcePlatform\": \"SQL\",\r\n    \"targetPlatform\": \"SQLMI\",\r\n    \"creationTime\": \"2019-02-11T12:13:15.1038737-08:00\",\r\n    \"sourceConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"aalab03-2k8.redmond.corp.microsoft.com\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"targetConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"Add-target-Here\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"databasesInfo\": [\r\n      {\r\n        \"sourceDatabaseName\": \"DmDbName-PsTestRun406\"\r\n      },\r\n      {\r\n        \"sourceDatabaseName\": \"DmDbName-PsTestRun6460\"\r\n      }\r\n    ],\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"etag\": \"Mzyv9a6QCtzbtzjZK6cdgcaHm/ajNwokv7y2iX/IMq0=\",\r\n  \"id\": \"/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/DmResource-PsTestRun4971/providers/Microsoft.DataMigration/services/DmService-PsTestRun9301/projects/DmProject-PsTestRun734\",\r\n  \"location\": \"South Central US\",\r\n  \"name\": \"DmProject-PsTestRun734\",\r\n  \"type\": \"Microsoft.DataMigration/services/projects\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/DmResource-PsTestRun4971/providers/Microsoft.DataMigration/services/DmService-PsTestRun9301/projects/DmProject-PsTestRun734/tasks/DmTask-PsTestRun572?api-version=2018-07-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"taskType\": \"ConnectToTarget.AzureSqlDbMI.Sync.LRS\",\r\n    \"input\": {\r\n      \"targetConnectionInfo\": {\r\n        \"type\": \"MiSqlConnectionInfo\",\r\n        \"managedInstanceResourceId\": \"/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/demomiRG/providers/Microsoft.Sql/managedInstances/demomi\",\r\n        \"userName\": \"demouser\",\r\n        \"password\": \"******\"\r\n      },\r\n      \"azureApp\": {\r\n        \"applicationId\": \"3d0ecd52-ca9a-4fbe-b0ed-68f1594b3dfe\",\r\n        \"appKey\": \"kv8fDwICsnTJcvsTM8fp2WMSDh6yeSaDalHfbiffBP4=\",\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n      }\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"UVVJM/jaP8mgE8BisEgauJwskKXx5E2JCbIT6L8CdxE=\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"input\": {\r\n      \"targetConnectionInfo\": {\r\n        \"type\": \"MiSqlConnectionInfo\",\r\n        \"managedInstanceResourceId\": \"/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/demomiRG/providers/Microsoft.Sql/managedInstances/demomi\",\r\n        \"userName\": \"demouser\"\r\n      },\r\n      \"azureApp\": {\r\n        \"applicationId\": \"3d0ecd52-ca9a-4fbe-b0ed-68f1594b3dfe\",\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n      }\r\n    },\r\n    \"taskId\": \"d7b486c0-4ea0-43d7-95a6-16674d3dc109\",\r\n    \"taskType\": \"ConnectToTarget.AzureSqlDbMI.Sync.LRS\",\r\n    \"state\": \"Queued\"\r\n  },\r\n  \"etag\": \"UVVJM/jaP8mgE8BisEgauJwskKXx5E2JCbIT6L8CdxE=\",\r\n  \"id\": \"/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/DmResource-PsTestRun4971/providers/Microsoft.DataMigration/services/DmService-PsTestRun9301/projects/DmProject-PsTestRun734/tasks/DmTask-PsTestRun572\",\r\n  \"name\": \"DmTask-PsTestRun572\",\r\n  \"type\": \"Microsoft.DataMigration/services/projects/tasks\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/DmResource-PsTestRun4971/providers/Microsoft.DataMigration/services/DmService-PsTestRun9301/projects/DmProject-PsTestRun734/tasks/DmTask-PsTestRun572?api-version=2018-07-15-preview&$expand=output",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11978"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"input\": {\r\n      \"targetConnectionInfo\": {\r\n        \"type\": \"MiSqlConnectionInfo\",\r\n        \"managedInstanceResourceId\": \"/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/demomiRG/providers/Microsoft.Sql/managedInstances/demomi\",\r\n        \"userName\": \"demouser\"\r\n      },\r\n      \"azureApp\": {\r\n        \"applicationId\": \"3d0ecd52-ca9a-4fbe-b0ed-68f1594b3dfe\",\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n      }\r\n    },\r\n    \"output\": [],\r\n    \"taskId\": \"d7b486c0-4ea0-43d7-95a6-16674d3dc109\",\r\n    \"taskType\": \"ConnectToTarget.AzureSqlDbMI.Sync.LRS\",\r\n    \"state\": \"Queued\"\r\n  },\r\n  \"id\": \"/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/DmResource-PsTestRun4971/providers/Microsoft.DataMigration/services/DmService-PsTestRun9301/projects/DmProject-PsTestRun734/tasks/DmTask-PsTestRun572\",\r\n  \"name\": \"DmTask-PsTestRun572\",\r\n  \"type\": \"Microsoft.DataMigration/services/projects/tasks\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/DmResource-PsTestRun4971/providers/Microsoft.DataMigration/services/DmService-PsTestRun9301/projects/DmProject-PsTestRun734/tasks/DmTask-PsTestRun572?api-version=2018-07-15-preview&$expand=output",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11977"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"input\": {\r\n      \"targetConnectionInfo\": {\r\n        \"type\": \"MiSqlConnectionInfo\",\r\n        \"managedInstanceResourceId\": \"/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/demomiRG/providers/Microsoft.Sql/managedInstances/demomi\",\r\n        \"userName\": \"demouser\"\r\n      },\r\n      \"azureApp\": {\r\n        \"applicationId\": \"3d0ecd52-ca9a-4fbe-b0ed-68f1594b3dfe\",\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n      }\r\n    },\r\n    \"output\": [\r\n      {\r\n        \"targetServerVersion\": \"12.0.2000.8\",\r\n        \"targetServerBrandVersion\": \"Azure SQL Database Managed Instance\",\r\n        \"validationErrors\": null\r\n      }\r\n    ],\r\n    \"taskId\": \"d7b486c0-4ea0-43d7-95a6-16674d3dc109\",\r\n    \"taskType\": \"ConnectToTarget.AzureSqlDbMI.Sync.LRS\",\r\n    \"state\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourceGroups/DmResource-PsTestRun4971/providers/Microsoft.DataMigration/services/DmService-PsTestRun9301/projects/DmProject-PsTestRun734/tasks/DmTask-PsTestRun572\",\r\n  \"name\": \"DmTask-PsTestRun572\",\r\n  \"type\": \"Microsoft.DataMigration/services/projects/tasks\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/resourcegroups/DmResource-PsTestRun4971?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVONDk3MS1TT1VUSENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoic291dGhjZW50cmFsdXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVONDk3MS1TT1VUSENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoic291dGhjZW50cmFsdXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVONDk3MS1TT1VUSENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoic291dGhjZW50cmFsdXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/9d32140c-78d4-49a9-a95f-65c77c16be83/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVONDk3MS1TT1VUSENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoic291dGhjZW50cmFsdXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11980"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "testName": [
      "DmResource-PsTestRun4971",
      "DmService-PsTestRun9301",
      "DmProject-PsTestRun734",
      "DmDbName-PsTestRun406",
      "DmDbName-PsTestRun6460",
      "DmTask-PsTestRun572"
    ]
  },
  "Variables": {
    "SubscriptionId": "9d32140c-78d4-49a9-a95f-65c77c16be83"
  }
}