{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourcegroups/DmResource-PsTestRun2966?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun2966\",\r\n  \"name\": \"DmResource-PsTestRun2966\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun2966/providers/Microsoft.DataMigration/services/DmService-PsTestRun5478?api-version=2018-07-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualSubnetId\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-USC-VNET-6617/subnets/Subnet-1\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"BusinessCritical_4vCores\"\r\n  },\r\n  \"location\": \"centralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Accepted\",\r\n    \"virtualSubnetId\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-USC-VNET-6617/subnets/Subnet-1\"\r\n  },\r\n  \"etag\": \"+YjdY9EmS5tb33CxsRH9z475tDDQGY2NZ2W8P/3Mpzo=\",\r\n  \"id\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun2966/providers/Microsoft.DataMigration/services/DmService-PsTestRun5478\",\r\n  \"location\": \"centralus\",\r\n  \"name\": \"DmService-PsTestRun5478\",\r\n  \"sku\": {\r\n    \"name\": \"BusinessCritical_4vCores\",\r\n    \"size\": \"4 vCores\",\r\n    \"tier\": \"Business Critical\"\r\n  },\r\n  \"type\": \"Microsoft.DataMigration/services\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "30"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/b85b543a-6e4a-45bd-bc00-12684efbb7eb?api-version=2018-07-15-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "ETag": [
          "\"+YjdY9EmS5tb33CxsRH9z475tDDQGY2NZ2W8P/3Mpzo=\""
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/b85b543a-6e4a-45bd-bc00-12684efbb7eb?api-version=2018-07-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"b85b543a-6e4a-45bd-bc00-12684efbb7eb\",\r\n  \"id\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/providers/Microsoft.DataMigration/locations/centralus/operationStatuses/b85b543a-6e4a-45bd-bc00-12684efbb7eb\",\r\n  \"status\": \"Running\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun2966/providers/Microsoft.DataMigration/services/DmService-PsTestRun5478?api-version=2018-07-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNicId\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun2966/providers/Microsoft.Network/networkInterfaces/NIC-8e4rudu4fda3xvyzz8fciyt7\",\r\n    \"virtualSubnetId\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-USC-VNET-6617/subnets/Subnet-1\"\r\n  },\r\n  \"etag\": \"ijQbdTLEnz8vN5v7Ps5NkMeXSOEZnwDFx96K/sNFpoA=\",\r\n  \"id\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun2966/providers/Microsoft.DataMigration/services/DmService-PsTestRun5478\",\r\n  \"location\": \"centralus\",\r\n  \"name\": \"DmService-PsTestRun5478\",\r\n  \"sku\": {\r\n    \"name\": \"BusinessCritical_4vCores\",\r\n    \"size\": \"4 vCores\",\r\n    \"tier\": \"Business Critical\"\r\n  },\r\n  \"type\": \"Microsoft.DataMigration/services\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11971"
        ],
        "ETag": [
          "\"ijQbdTLEnz8vN5v7Ps5NkMeXSOEZnwDFx96K/sNFpoA=\""
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun2966/providers/Microsoft.DataMigration/services/DmService-PsTestRun5478/projects/DmProject-PsTestRun3962?api-version=2018-07-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sourcePlatform\": \"SQL\",\r\n    \"targetPlatform\": \"SQLDB\",\r\n    \"sourceConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"sourcedb\\\\server,12345\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"targetConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"azuredb.database.windows.net\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"databasesInfo\": [\r\n      {\r\n        \"sourceDatabaseName\": \"DmDbName-PsTestRun638\"\r\n      },\r\n      {\r\n        \"sourceDatabaseName\": \"DmDbName-PsTestRun5707\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"centralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"sourcePlatform\": \"SQL\",\r\n    \"targetPlatform\": \"SQLDB\",\r\n    \"creationTime\": \"2018-09-21T18:34:03.509707-07:00\",\r\n    \"sourceConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"sourcedb\\\\server,12345\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"targetConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"azuredb.database.windows.net\",\r\n      \"authentication\": \"SqlAuthentication\",[...]
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun2966/providers/Microsoft.DataMigration/services/DmService-PsTestRun5478/projects/DmProject-PsTestRun3962/tasks/DmTask-PsTestRun548?api-version=2018-07-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"taskType\": \"ConnectToSource.SqlServer.Sync\",\r\n    \"input\": {\r\n      \"sourceConnectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"sourcedb\\\\server,12345\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        \"trustServerCertificate\": true,\r\n        \"userName\": \"testuser\",\r\n        \"password\": \"Password\"\r\n      }\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"input\": {\r\n      \"sourceConnectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"sourcedb\\\\server,12345\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        \"trustServerCertificate\": true,\r\n        \"userName\": \"testuser\"\r\n      }\r\n    },\r\n    \"taskType\": \"ConnectToSource.SqlServer.Sync\",\r\n    \"state\": \"Queued\"\r\n  },\r\n  \"etag\": \"0F9P87XoGhqYQQzbc7q4/wIUec5auLvYcphN6qIAhEM=\",\r\n  \"id\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun2966/providers/Microsoft.DataMigration/services/DmService-PsTestRun5478/projects/DmProject-PsTestRun3962/tasks/DmTask-PsTestRun548\",\r\n  \"name\": \"DmTask-PsTestRun548\",\r\n  \"type\": \"Microsoft.DataMigration/services/projects/tasks\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "ETag": [
          "\"0F9P87XoGhqYQQzbc7q4/wIUec5auLvYcphN6qIAhEM=\""
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun2966/providers/Microsoft.DataMigration/services/DmService-PsTestRun5478/projects/DmProject-PsTestRun3962/tasks/DmTask-PsTestRun548?api-version=2018-07-15-preview&$expand=output",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"input\": {\r\n      \"sourceConnectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"sourcedb\\\\server,12345\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        \"trustServerCertificate\": true,\r\n        \"userName\": \"testuser\"\r\n      }\r\n    },\r\n    \"output\": [],\r\n    \"taskType\": \"ConnectToSource.SqlServer.Sync\",\r\n    \"state\": \"Queued\"\r\n  },\r\n  \"id\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun2966/providers/Microsoft.DataMigration/services/DmService-PsTestRun5478/projects/DmProject-PsTestRun3962/tasks/DmTask-PsTestRun548\",\r\n  \"name\": \"DmTask-PsTestRun548\",\r\n  \"type\": \"Microsoft.DataMigration/services/projects/tasks\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11970"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun2966/providers/Microsoft.DataMigration/services/DmService-PsTestRun5478/projects/DmProject-PsTestRun3962/tasks/DmTask-PsTestRun548?api-version=2018-07-15-preview&$expand=output",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"input\": {\r\n      \"sourceConnectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"sourcedb\\\\server,12345\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        \"trustServerCertificate\": true,\r\n        \"userName\": \"testuser\"\r\n      }\r\n    },\r\n    \"output\": [\r\n      {\r\n        \"id\": \"00e8a6f1-c430-463f-9234-8e5ace213558\",\r\n        \"name\": \"Base0625\",\r\n        \"sizeMB\": 16.0,\r\n        \"databaseFiles\": [\r\n          {\r\n            \"$type\": \"Microsoft.SqlServer.Migration.Service.Scenarios.Contracts.Migration.DatabaseFileInfo, Microsoft.SqlServer.Migration.Service.Scenarios.Contracts\",\r\n            \"restoreFullName\": null,\r\n            \"databaseName\": null,\r\n            \"id\": \"b7d41b39-c57e-4ff7-9ee9-c050e979f68c\",\r\n            \"logicalName\": \"Base0625\",\r\n            \"physicalFullName\": \"F:\\\\Program Files\\\\Microsoft SQL Server\\\\MSSQL13.server\\\\MSSQL\\\\DATA\\\\Base0625_Primary.mdf\",\r\n            \"fileType\": \"Rows\",\r\n            \"sizeMB\": 8.0\r\n          },\r\n          {\r\n            \"$type\": \"Microsoft.SqlServer.Migration.Service.Scenarios.Contracts.Migration.DatabaseFileInfo, Microsoft.SqlServer.Migration.Service.Scenarios.Contracts\",\r\n            \"restoreFullName\": null,\r\n            \"databaseName\": null,\r\n            \"id\": \"2946d202-e151-4422-89bb-32a39b00c175\",\r\n            \"logicalName\": \"Base0625_log\",\r\n            \"physicalFullName\": \"F:\\\\Program Files\\\\Microsoft SQL Server\\\\MSSQL13.server\\\\MSSQL\\\\DATA\\\\Base0625_Primary.ldf\",\r\n            \"fileType\": \"Log\",\r\n            \"sizeMB\": 8.0\r\n          }\r\n        ],\r\n        \"compatibilityLevel\": \"CompatLevel130\",\r\n        \"databaseState\": \"Online\",\r\n        \"resultType\": \"DatabaseLevelOutput\"\r\n      },\r\n      {\r\n        \"id\": \"09155b5d-cec0-4aa4-85e9-d4c8b5ef6ef3\",\r\n        \"name\": \"tpcc_9168MB\",\r\n        \"sizeMB\": 9168.0,\r\n        \"databaseFiles\": [\r\n          {\r\n            \"$type\": \"Microsoft.SqlServer.Migration.Service.Scenarios.Contracts.Migration.DatabaseFileInfo, Microsoft.SqlServer.Migration.Service.Scenarios.Contracts\",\r\n            \"restoreFullName\": null,\r\n            \"databaseName\": null,\r\n            \"id[...]
[...]
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourcegroups/DmResource-PsTestRun2966?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14997"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVOMjk2Ni1DRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6ImNlbnRyYWx1cyJ9?api-version=2016-09-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVOMjk2Ni1DRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6ImNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11972"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVOMjk2Ni1DRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6ImNlbnRyYWx1cyJ9?api-version=2016-09-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVOMjk2Ni1DRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6ImNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11946"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "testName": [
      "DmResource-PsTestRun2966",
      "DmService-PsTestRun5478",
      "DmProject-PsTestRun3962",
      "DmDbName-PsTestRun638",
      "DmDbName-PsTestRun5707",
      "DmTask-PsTestRun548"
    ]
  },
  "Variables": {
    "SubscriptionId": "fc04246f-04c5-437e-ac5e-206a19e7193f"
  }
}