openapi: 3.0.1
info:
  title: Identity.DirectoryManagement
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /organization:
    get:
      tags:
        - organization.organization
      summary: List organization
      description: Retrieve a list of organization objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/organization-list?view=graph-rest-1.0
      operationId: organization.organization_ListOrganization
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - assignedPlans
                - assignedPlans desc
                - businessPhones
                - businessPhones desc
                - city
                - city desc
                - country
                - country desc
                - countryLetterCode
                - countryLetterCode desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - marketingNotificationEmails
                - marketingNotificationEmails desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - postalCode
                - postalCode desc
                - preferredLanguage
                - preferredLanguage desc
                - privacyProfile
                - privacyProfile desc
                - provisionedPlans
                - provisionedPlans desc
                - securityComplianceNotificationMails
                - securityComplianceNotificationMails desc
                - securityComplianceNotificationPhones
                - securityComplianceNotificationPhones desc
                - state
                - state desc
                - street
                - street desc
                - technicalNotificationMails
                - technicalNotificationMails desc
                - tenantType
                - tenantType desc
                - verifiedDomains
                - verifiedDomains desc
                - mobileDeviceManagementAuthority
                - mobileDeviceManagementAuthority desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - assignedPlans
                - businessPhones
                - city
                - country
                - countryLetterCode
                - createdDateTime
                - displayName
                - marketingNotificationEmails
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - postalCode
                - preferredLanguage
                - privacyProfile
                - provisionedPlans
                - securityComplianceNotificationMails
                - securityComplianceNotificationPhones
                - state
                - street
                - technicalNotificationMails
                - tenantType
                - verifiedDomains
                - mobileDeviceManagementAuthority
                - branding
                - certificateBasedAuthConfiguration
                - extensions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - branding
                - certificateBasedAuthConfiguration
                - extensions
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.organizationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - organization.organization
      summary: Add new entity to organization
      operationId: organization.organization_CreateOrganization
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.organization'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.orgContact:
      allOf:
        - $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
        - title: orgContact
          type: object
          properties:
            addresses:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.physicalOfficeAddress'
            companyName:
              type: string
              nullable: true
            department:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            givenName:
              type: string
              nullable: true
            jobTitle:
              type: string
              nullable: true
            mail:
              type: string
              nullable: true
            mailNickname:
              type: string
              nullable: true
            onPremisesLastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            onPremisesProvisioningErrors:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.onPremisesProvisioningError'
            onPremisesSyncEnabled:
              type: boolean
              nullable: true
            phones:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.phone'
            proxyAddresses:
              type: array
              items:
                type: string
            surname:
              type: string
              nullable: true
            directReports:
              type: array
              items:
                $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
              x-ms-navigationProperty: true
            manager:
              $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
            memberOf:
              type: array
              items:
                $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
              x-ms-navigationProperty: true
            transitiveMemberOf:
              type: array
              items:
                $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.directoryObject:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directoryObject
          type: object
          properties:
            deletedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
              format: date-time
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.extensionProperty:
      allOf:
        - $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
        - title: extensionProperty
          type: object
          properties:
            appDisplayName:
              type: string
              description: Display name of the application object on which this extension property is defined. Read-only.
              nullable: true
            dataType:
              type: string
              description: Specifies the data type of the value the extension property can hold. Following values are supported. Not nullable. Binary - 256 bytes maximumBooleanDateTime - Must be specified in ISO 8601 format. Will be stored in UTC.Integer - 32-bit value.LargeInteger - 64-bit value.String - 256 characters maximum
            isSyncedFromOnPremises:
              type: boolean
              description: Indicates if this extension property was synced from on-premises active directory using Azure AD Connect. Read-only.
              nullable: true
            name:
              type: string
              description: Name of the extension property. Not nullable. Supports $filter (eq).
            targetObjects:
              type: array
              items:
                type: string
              description: Following values are supported. Not nullable. UserGroupAdministrativeUnitApplicationDeviceOrganization
          additionalProperties:
            type: object
    microsoft.graph.contract:
      allOf:
        - $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
        - title: contract
          type: object
          properties:
            contractType:
              type: string
              description: 'Type of contract. Possible values are:  SyndicationPartner, BreadthPartner, ResellerPartner. See more in the table below.'
              nullable: true
            customerId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              description: The unique identifier for the customer tenant referenced by this partnership. Corresponds to the id property of the customer tenant's organization resource.
              format: uuid
              nullable: true
            defaultDomainName:
              type: string
              description: A copy of the customer tenant's default domain name. The copy is made when the partnership with the customer is established. It is not automatically updated if the customer tenant's default domain name changes.
              nullable: true
            displayName:
              type: string
              description: A copy of the customer tenant's display name. The copy is made when the partnership with the customer is established. It is not automatically updated if the customer tenant's display name changes.
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.device:
      allOf:
        - $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
        - title: device
          type: object
          properties:
            accountEnabled:
              type: boolean
              description: 'true if the account is enabled; otherwise, false. Required. Default is true.  Supports $filter (eq, ne, not, in). Only callers in Global Administrator and Cloud Device Administrator roles can set this property.'
              nullable: true
            alternativeSecurityIds:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.alternativeSecurityId'
              description: 'For internal use only. Not nullable. Supports $filter (eq, not, ge, le).'
            approximateLastSignInDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only. Supports $filter (eq, ne, not, ge, le, and eq on null values) and $orderBy.'
              format: date-time
              nullable: true
            complianceExpirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The timestamp when the device is no longer deemed compliant. The timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only.'
              format: date-time
              nullable: true
            deviceId:
              type: string
              description: 'Unique identifier set by Azure Device Registration Service at the time of registration. Supports $filter (eq, ne, not, startsWith).'
              nullable: true
            deviceMetadata:
              type: string
              description: For internal use only. Set to null.
              nullable: true
            deviceVersion:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: For internal use only.
              format: int32
              nullable: true
            displayName:
              type: string
              description: 'The display name for the device. Required. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values), $search, and $orderBy.'
              nullable: true
            isCompliant:
              type: boolean
              description: 'true if the device complies with Mobile Device Management (MDM) policies; otherwise, false. Read-only. This can only be updated by Intune for any device OS type or by an approved MDM app for Windows OS devices. Supports $filter (eq, ne, not).'
              nullable: true
            isManaged:
              type: boolean
              description: 'true if the device is managed by a Mobile Device Management (MDM) app; otherwise, false. This can only be updated by Intune for any device OS type or by an approved MDM app for Windows OS devices. Supports $filter (eq, ne, not).'
              nullable: true
            mdmAppId:
              type: string
              description: 'Application identifier used to register device into MDM. Read-only. Supports $filter (eq, ne, not, startsWith).'
              nullable: true
            onPremisesLastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The last time at which the object was synced with the on-premises directory. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z Read-only. Supports $filter (eq, ne, not, ge, le, in).'
              format: date-time
              nullable: true
            onPremisesSyncEnabled:
              type: boolean
              description: 'true if this object is synced from an on-premises directory; false if this object was originally synced from an on-premises directory but is no longer synced; null if this object has never been synced from an on-premises directory (default). Read-only. Supports $filter (eq, ne, not, in, and eq on null values).'
              nullable: true
            operatingSystem:
              type: string
              description: 'The type of operating system on the device. Required. Supports $filter (eq, ne, not, ge, le, startsWith, and eq on null values).'
              nullable: true
            operatingSystemVersion:
              type: string
              description: 'The version of the operating system on the device. Required. Supports $filter (eq, ne, not, ge, le, startsWith, and eq on null values).'
              nullable: true
            physicalIds:
              type: array
              items:
                type: string
              description: 'For internal use only. Not nullable. Supports $filter (eq, not, ge, le, startsWith, and counting empty collections).'
            profileType:
              type: string
              description: 'The profile type of the device. Possible values: RegisteredDevice (default), SecureVM, Printer, Shared, IoT.'
              nullable: true
            systemLabels:
              type: array
              items:
                type: string
              description: List of labels applied to the device by the system. Supports $filter (eq when counting empty collections).
            trustType:
              type: string
              description: 'Type of trust for the joined device. Read-only. Possible values:  Workplace (indicates bring your own personal devices), AzureAd (Cloud only joined devices), ServerAd (on-premises domain joined devices joined to Azure AD). For more details, see Introduction to device management in Azure Active Directory'
              nullable: true
            memberOf:
              type: array
              items:
                $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
              description: Groups and administrative units that this device is a member of. Read-only. Nullable. Supports $expand.
              x-ms-navigationProperty: true
            registeredOwners:
              type: array
              items:
                $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
              description: 'The user that cloud joined the device or registered their personal device. The registered owner is set at the time of registration. Currently, there can be only one owner. Read-only. Nullable. Supports $expand.'
              x-ms-navigationProperty: true
            registeredUsers:
              type: array
              items:
                $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
              description: 'Collection of registered users of the device. For cloud joined devices and registered personal devices, registered users are set to the same value as registered owners at the time of registration. Read-only. Nullable. Supports $expand.'
              x-ms-navigationProperty: true
            transitiveMemberOf:
              type: array
              items:
                $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
              description: Groups and administrative units that the device is a member of. This operation is transitive. Supports $expand.
              x-ms-navigationProperty: true
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
              description: The collection of open extensions defined for the device. Read-only. Nullable.
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.extension:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: extension
          type: object
          additionalProperties:
            type: object
    microsoft.graph.directory:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: directory
          type: object
          properties:
            administrativeUnits:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
              description: Conceptual container for user and group directory objects.
              x-ms-navigationProperty: true
            deletedItems:
              type: array
              items:
                $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
              description: Recently deleted items. Read-only. Nullable.
              x-ms-navigationProperty: true
            federationConfigurations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.identityProviderBase'
              description: Configure domain federation with organizations whose identity provider (IdP) supports either the SAML or WS-Fed protocol.
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.administrativeUnit:
      allOf:
        - $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
        - title: administrativeUnit
          type: object
          properties:
            description:
              type: string
              description: 'An optional description for the administrative unit. Supports $filter (eq, ne, in, startsWith), $search.'
              nullable: true
            displayName:
              type: string
              description: 'Display name for the administrative unit. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values), $search, and $orderBy.'
              nullable: true
            visibility:
              type: string
              description: 'Controls whether the administrative unit and its members are hidden or public. Can be set to HiddenMembership. If not set (value is null), the default behavior is public. When set to HiddenMembership, only members of the administrative unit can list other members of the administrative unit.'
              nullable: true
            members:
              type: array
              items:
                $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
              description: Users and groups that are members of this administrative unit. Supports $expand.
              x-ms-navigationProperty: true
            scopedRoleMembers:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
              description: Scoped-role members of this administrative unit.
              x-ms-navigationProperty: true
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
              description: The collection of open extensions defined for this administrative unit. Nullable.
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.scopedRoleMembership:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: scopedRoleMembership
          type: object
          properties:
            administrativeUnitId:
              type: string
              description: Unique identifier for the administrative unit that the directory role is scoped to
            roleId:
              type: string
              description: Unique identifier for the directory role that the member is in.
            roleMemberInfo:
              $ref: '#/components/schemas/microsoft.graph.identity'
          additionalProperties:
            type: object
    microsoft.graph.identityProviderBase:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: identityProviderBase
          type: object
          properties:
            displayName:
              type: string
              description: The display name of the identity provider.
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.directoryRole:
      allOf:
        - $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
        - title: directoryRole
          type: object
          properties:
            description:
              type: string
              description: 'The description for the directory role. Read-only. Supports $filter (eq), $search, $select.'
              nullable: true
            displayName:
              type: string
              description: 'The display name for the directory role. Read-only. Supports $filter (eq), $search, $select.'
              nullable: true
            roleTemplateId:
              type: string
              description: 'The id of the directoryRoleTemplate that this role is based on. The property must be specified when activating a directory role in a tenant with a POST operation. After the directory role has been activated, the property is read only. Supports $filter (eq), $select.'
              nullable: true
            members:
              type: array
              items:
                $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
              description: 'Users that are members of this directory role. HTTP Methods: GET, POST, DELETE. Read-only. Nullable. Supports $expand.'
              x-ms-navigationProperty: true
            scopedMembers:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
              description: Members of this directory role that are scoped to administrative units. Read-only. Nullable.
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.directoryRoleTemplate:
      allOf:
        - $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
        - title: directoryRoleTemplate
          type: object
          properties:
            description:
              type: string
              description: The description to set for the directory role. Read-only.
              nullable: true
            displayName:
              type: string
              description: The display name to set for the directory role. Read-only.
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.domain:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: domain
          type: object
          properties:
            authenticationType:
              type: string
              description: Indicates the configured authentication type for the domain. The value is either Managed or Federated. Managed indicates a cloud managed domain where Azure AD performs user authentication. Federated indicates authentication is federated with an identity provider such as the tenant's on-premises Active Directory via Active Directory Federation Services. This property is read-only and is not nullable.
            availabilityStatus:
              type: string
              description: 'This property is always null except when the verify action is used. When the verify action is used, a domain entity is returned in the response. The availabilityStatus property of the domain entity in the response is either AvailableImmediately or EmailVerifiedDomainTakeoverScheduled.'
              nullable: true
            isAdminManaged:
              type: boolean
              description: 'The value of the property is false if the DNS record management of the domain has been delegated to Microsoft 365. Otherwise, the value is true. Not nullable'
            isDefault:
              type: boolean
              description: true if this is the default domain that is used for user creation. There is only one default domain per company. Not nullable
            isInitial:
              type: boolean
              description: true if this is the initial domain created by Microsoft Online Services (companyname.onmicrosoft.com). There is only one initial domain per company. Not nullable
            isRoot:
              type: boolean
              description: 'true if the domain is a verified root domain. Otherwise, false if the domain is a subdomain or unverified. Not nullable'
            isVerified:
              type: boolean
              description: true if the domain has completed domain ownership verification. Not nullable
            manufacturer:
              type: string
              nullable: true
            model:
              type: string
              nullable: true
            passwordNotificationWindowInDays:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: 'Specifies the number of days before a user receives notification that their password will expire. If the property is not set, a default value of 14 days will be used.'
              format: int32
              nullable: true
            passwordValidityPeriodInDays:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: 'Specifies the length of time that a password is valid before it must be changed. If the property is not set, a default value of 90 days will be used.'
              format: int32
              nullable: true
            state:
              $ref: '#/components/schemas/microsoft.graph.domainState'
            supportedServices:
              type: array
              items:
                type: string
              description: 'The capabilities assigned to the domain. Can include 0, 1 or more of following values: Email, Sharepoint, EmailInternalRelayOnly, OfficeCommunicationsOnline, SharePointDefaultDomain, FullRedelegation, SharePointPublic, OrgIdAuthentication, Yammer, Intune. The values which you can add/remove using Graph API include: Email, OfficeCommunicationsOnline, Yammer. Not nullable.'
            domainNameReferences:
              type: array
              items:
                $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
              description: 'The objects such as users and groups that reference the domain ID. Read-only, Nullable. Supports $expand and $filter by the OData type of objects returned. For example /domains/{domainId}/domainNameReferences/microsoft.graph.user and /domains/{domainId}/domainNameReferences/microsoft.graph.group.'
              x-ms-navigationProperty: true
            federationConfiguration:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.internalDomainFederation'
              description: Domain settings configured by a customer when federated with Azure AD. Supports $expand.
              x-ms-navigationProperty: true
            serviceConfigurationRecords:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.domainDnsRecord'
              description: 'DNS records the customer adds to the DNS zone file of the domain before the domain can be used by Microsoft Online services. Read-only, Nullable. Supports $expand.'
              x-ms-navigationProperty: true
            verificationDnsRecords:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.domainDnsRecord'
              description: 'DNS records that the customer adds to the DNS zone file of the domain before the customer can complete domain ownership verification with Azure AD. Read-only, Nullable. Supports $expand.'
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.internalDomainFederation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.samlOrWsFedProvider'
        - title: internalDomainFederation
          type: object
          properties:
            activeSignInUri:
              type: string
              description: URL of the endpoint used by active clients when authenticating with federated domains set up for single sign-on in Azure Active Directory (Azure AD). Corresponds to the ActiveLogOnUri property of the Set-MsolDomainFederationSettings MSOnline v1 PowerShell cmdlet.
              nullable: true
            federatedIdpMfaBehavior:
              $ref: '#/components/schemas/microsoft.graph.federatedIdpMfaBehavior'
            isSignedAuthenticationRequestRequired:
              type: boolean
              description: 'If true, when SAML authentication requests are sent to the federated SAML IdP, Azure AD will sign those requests using the OrgID signing key. If false (default), the SAML authentication requests sent to the federated IdP are not signed.'
              nullable: true
            nextSigningCertificate:
              type: string
              description: 'Fallback token signing certificate that is used to sign tokens when the primary signing certificate expires. Formatted as Base64 encoded strings of the public portion of the federated IdP''s token signing certificate. Needs to be compatible with the X509Certificate2 class. Much like the signingCertificate, the nextSigningCertificate property is used if a rollover is required outside of the auto-rollover update, a new federation service is being set up, or if the new token signing certificate is not present in the federation properties after the federation service certificate has been updated.'
              nullable: true
            promptLoginBehavior:
              $ref: '#/components/schemas/microsoft.graph.promptLoginBehavior'
            signingCertificateUpdateStatus:
              $ref: '#/components/schemas/microsoft.graph.signingCertificateUpdateStatus'
            signOutUri:
              type: string
              description: URI that clients are redirected to when they sign out of Azure AD services. Corresponds to the LogOffUri property of the Set-MsolDomainFederationSettings MSOnline v1 PowerShell cmdlet.
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.domainDnsRecord:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: domainDnsRecord
          type: object
          properties:
            isOptional:
              type: boolean
              description: 'If false, this record must be configured by the customer at the DNS host for Microsoft Online Services to operate correctly with the domain.'
            label:
              type: string
              description: Value used when configuring the name of the DNS record at the DNS host.
            recordType:
              type: string
              description: 'Indicates what type of DNS record this entity represents.The value can be one of the following: CName, Mx, Srv, Txt.'
              nullable: true
            supportedService:
              type: string
              description: 'Microsoft Online Service or feature that has a dependency on this DNS record.Can be one of the following values: null, Email, Sharepoint, EmailInternalRelayOnly, OfficeCommunicationsOnline, SharePointDefaultDomain, FullRedelegation, SharePointPublic, OrgIdAuthentication, Yammer, Intune.'
            ttl:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: Value to use when configuring the time-to-live (ttl) property of the DNS record at the DNS host. Not nullable.
              format: int32
          additionalProperties:
            type: object
    microsoft.graph.organization:
      allOf:
        - $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
        - title: organization
          type: object
          properties:
            assignedPlans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.assignedPlan'
              description: The collection of service plans associated with the tenant. Not nullable.
            businessPhones:
              type: array
              items:
                type: string
              description: 'Telephone number for the organization. Although this is a string collection, only one number can be set for this property.'
            city:
              type: string
              description: City name of the address for the organization.
              nullable: true
            country:
              type: string
              description: Country/region name of the address for the organization.
              nullable: true
            countryLetterCode:
              type: string
              description: Country or region abbreviation for the organization in ISO 3166-2 format.
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'Timestamp of when the organization was created. The value cannot be modified and is automatically populated when the organization is created. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only.'
              format: date-time
              nullable: true
            displayName:
              type: string
              description: The display name for the tenant.
              nullable: true
            marketingNotificationEmails:
              type: array
              items:
                type: string
              description: Not nullable.
            onPremisesLastSyncDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              description: 'The time and date at which the tenant was last synced with the on-premises directory. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only.'
              format: date-time
              nullable: true
            onPremisesSyncEnabled:
              type: boolean
              description: true if this object is synced from an on-premises directory; false if this object was originally synced from an on-premises directory but is no longer synced. Nullable. null if this object has never been synced from an on-premises directory (default).
              nullable: true
            postalCode:
              type: string
              description: Postal code of the address for the organization.
              nullable: true
            preferredLanguage:
              type: string
              description: 'The preferred language for the organization. Should follow ISO 639-1 Code; for example, en.'
              nullable: true
            privacyProfile:
              $ref: '#/components/schemas/microsoft.graph.privacyProfile'
            provisionedPlans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.provisionedPlan'
              description: Not nullable.
            securityComplianceNotificationMails:
              type: array
              items:
                type: string
            securityComplianceNotificationPhones:
              type: array
              items:
                type: string
            state:
              type: string
              description: State name of the address for the organization.
              nullable: true
            street:
              type: string
              description: Street name of the address for organization.
              nullable: true
            technicalNotificationMails:
              type: array
              items:
                type: string
              description: Not nullable.
            tenantType:
              type: string
              nullable: true
            verifiedDomains:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.verifiedDomain'
              description: The collection of domains associated with this tenant. Not nullable.
            mobileDeviceManagementAuthority:
              $ref: '#/components/schemas/microsoft.graph.mdmAuthority'
            branding:
              $ref: '#/components/schemas/microsoft.graph.organizationalBranding'
            certificateBasedAuthConfiguration:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.certificateBasedAuthConfiguration'
              description: Navigation property to manage certificate-based authentication configuration. Only a single instance of certificateBasedAuthConfiguration can be created in the collection.
              x-ms-navigationProperty: true
            extensions:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.extension'
              description: The collection of open extensions defined for the organization. Read-only. Nullable.
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.organizationalBranding:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.organizationalBrandingProperties'
        - title: organizationalBranding
          type: object
          properties:
            localizations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.organizationalBrandingLocalization'
              description: Add different branding based on a locale.
              x-ms-navigationProperty: true
          additionalProperties:
            type: object
    microsoft.graph.organizationalBrandingLocalization:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.organizationalBrandingProperties'
        - title: organizationalBrandingLocalization
          type: object
          additionalProperties:
            type: object
    microsoft.graph.subscribedSku:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: subscribedSku
          type: object
          properties:
            appliesTo:
              type: string
              description: 'For example, ''User'' or ''Company''.'
              nullable: true
            capabilityStatus:
              type: string
              description: 'Possible values are: Enabled, Warning, Suspended, Deleted, LockedOut. The capabilityStatus is Enabled if the prepaidUnits property has at least 1 unit that is enabled, and LockedOut if the customer cancelled their subscription.'
              nullable: true
            consumedUnits:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              description: The number of licenses that have been assigned.
              format: int32
              nullable: true
            prepaidUnits:
              $ref: '#/components/schemas/microsoft.graph.licenseUnitsDetail'
            servicePlans:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.servicePlanInfo'
              description: Information about the service plans that are available with the SKU. Not nullable
            skuId:
              pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
              type: string
              description: The unique identifier (GUID) for the service SKU.
              format: uuid
              nullable: true
            skuPartNumber:
              type: string
              description: 'The SKU part number; for example: ''AAD_PREMIUM'' or ''RMSBASIC''. To get a list of commercial subscriptions that an organization has acquired, see List subscribedSkus.'
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.physicalOfficeAddress:
      title: physicalOfficeAddress
      type: object
      properties:
        city:
          type: string
          description: The city.
          nullable: true
        countryOrRegion:
          type: string
          description: 'The country or region. It''s a free-format string value, for example, ''United States''.'
          nullable: true
        officeLocation:
          type: string
          description: Office location such as building and office number for an organizational contact.
          nullable: true
        postalCode:
          type: string
          description: The postal code.
          nullable: true
        state:
          type: string
          description: The state.
          nullable: true
        street:
          type: string
          description: The street.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.onPremisesProvisioningError:
      title: onPremisesProvisioningError
      type: object
      properties:
        category:
          type: string
          description: 'Category of the provisioning error. Note: Currently, there is only one possible value. Possible value: PropertyConflict - indicates a property value is not unique. Other objects contain the same value for the property.'
          nullable: true
        occurredDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: The date and time at which the error occurred.
          format: date-time
          nullable: true
        propertyCausingError:
          type: string
          description: 'Name of the directory property causing the error. Current possible values: UserPrincipalName or ProxyAddress'
          nullable: true
        value:
          type: string
          description: Value of the property causing the error.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.phone:
      title: phone
      type: object
      properties:
        language:
          type: string
          nullable: true
        number:
          type: string
          description: The phone number.
          nullable: true
        region:
          type: string
          nullable: true
        type:
          $ref: '#/components/schemas/microsoft.graph.phoneType'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique idenfier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.alternativeSecurityId:
      title: alternativeSecurityId
      type: object
      properties:
        identityProvider:
          type: string
          description: For internal use only
          nullable: true
        key:
          type: string
          description: For internal use only
          format: base64url
          nullable: true
        type:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: For internal use only
          format: int32
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.identity:
      title: identity
      type: object
      properties:
        displayName:
          type: string
          description: 'The display name of the identity. Note that this might not always be available or up to date. For example, if a user changes their display name, the API might show the new value in a future response, but the items associated with the user won''t show up as having changed when using delta.'
          nullable: true
        id:
          type: string
          description: Unique identifier for the identity.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.domainState:
      title: domainState
      type: object
      properties:
        lastActionDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: 'Timestamp for when the last activity occurred. The value is updated when an operation is scheduled, the asynchronous task starts, and when the operation completes.'
          format: date-time
          nullable: true
        operation:
          type: string
          description: Type of asynchronous operation. The values can be ForceDelete or Verification
          nullable: true
        status:
          type: string
          description: Current status of the operation.  Scheduled - Operation has been scheduled but has not started.  InProgress - Task has started and is in progress.  Failed - Operation has failed.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.samlOrWsFedProvider:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.identityProviderBase'
        - title: samlOrWsFedProvider
          type: object
          properties:
            issuerUri:
              type: string
              description: Issuer URI of the federation server.
              nullable: true
            metadataExchangeUri:
              type: string
              description: URI of the metadata exchange endpoint used for authentication from rich client applications.
              nullable: true
            passiveSignInUri:
              type: string
              description: URI that web-based clients are directed to when signing in to Azure Active Directory (Azure AD) services.
              nullable: true
            preferredAuthenticationProtocol:
              $ref: '#/components/schemas/microsoft.graph.authenticationProtocol'
            signingCertificate:
              type: string
              description: 'Current certificate used to sign tokens passed to the Microsoft identity platform. The certificate is formatted as a Base64 encoded string of the public portion of the federated IdP''s token signing certificate and must be compatible with the X509Certificate2 class.   This property is used in the following scenarios:  if a rollover is required outside of the autorollover update a new federation service is being set up  if the new token signing certificate isn''t present in the federation properties after the federation service certificate has been updated.   Azure AD updates certificates via an autorollover process in which it attempts to retrieve a new certificate from the federation service metadata, 30 days before expiry of the current certificate. If a new certificate isn''t available, Azure AD monitors the metadata daily and will update the federation settings for the domain when a new certificate is available.'
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.federatedIdpMfaBehavior:
      title: federatedIdpMfaBehavior
      enum:
        - acceptIfMfaDoneByFederatedIdp
        - enforceMfaByFederatedIdp
        - rejectMfaByFederatedIdp
        - unknownFutureValue
      type: string
    microsoft.graph.promptLoginBehavior:
      title: promptLoginBehavior
      enum:
        - translateToFreshPasswordAuthentication
        - nativeSupport
        - disabled
        - unknownFutureValue
      type: string
    microsoft.graph.signingCertificateUpdateStatus:
      title: signingCertificateUpdateStatus
      type: object
      properties:
        certificateUpdateResult:
          type: string
          description: 'Status of the last certificate update. Read-only. For a list of statuses, see certificateUpdateResult status.'
          nullable: true
        lastRunDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: Date and time in ISO 8601 format and in UTC time when the certificate was last updated. Read-only.
          format: date-time
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.assignedPlan:
      title: assignedPlan
      type: object
      properties:
        assignedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          description: 'The date and time at which the plan was assigned. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.'
          format: date-time
          nullable: true
        capabilityStatus:
          type: string
          description: 'Condition of the capability assignment. The possible values are Enabled, Warning, Suspended, Deleted, LockedOut. See a detailed description of each value.'
          nullable: true
        service:
          type: string
          description: 'The name of the service; for example, exchange.'
          nullable: true
        servicePlanId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          description: 'A GUID that identifies the service plan. For a complete list of GUIDs and their equivalent friendly service names, see Product names and service plan identifiers for licensing.'
          format: uuid
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.privacyProfile:
      title: privacyProfile
      type: object
      properties:
        contactEmail:
          type: string
          description: A valid smtp email address for the privacy statement contact. Not required.
          nullable: true
        statementUrl:
          type: string
          description: A valid URL format that begins with http:// or https://. Maximum length is 255 characters. The URL that directs to the company's privacy statement. Not required.
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.provisionedPlan:
      title: provisionedPlan
      type: object
      properties:
        capabilityStatus:
          type: string
          description: 'For example, ''Enabled''.'
          nullable: true
        provisioningStatus:
          type: string
          description: 'For example, ''Success''.'
          nullable: true
        service:
          type: string
          description: 'The name of the service; for example, ''AccessControlS2S'''
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.verifiedDomain:
      title: verifiedDomain
      type: object
      properties:
        capabilities:
          type: string
          description: 'For example, Email, OfficeCommunicationsOnline.'
          nullable: true
        isDefault:
          type: boolean
          description: 'true if this is the default domain associated with the tenant; otherwise, false.'
          nullable: true
        isInitial:
          type: boolean
          description: 'true if this is the initial domain associated with the tenant; otherwise, false.'
          nullable: true
        name:
          type: string
          description: 'The domain name; for example, contoso.onmicrosoft.com.'
          nullable: true
        type:
          type: string
          description: 'For example, Managed.'
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.mdmAuthority:
      title: mdmAuthority
      enum:
        - unknown
        - intune
        - sccm
        - office365
      type: string
      description: Mobile device management authority.
      x-ms-enum:
        name: mdmAuthority
        modelAsString: false
        values:
          - value: unknown
            description: Unknown
            name: unknown
          - value: intune
            description: Intune
            name: intune
          - value: sccm
            description: SCCM
            name: sccm
          - value: office365
            description: Office365
            name: office365
    microsoft.graph.certificateBasedAuthConfiguration:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: certificateBasedAuthConfiguration
          type: object
          properties:
            certificateAuthorities:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.certificateAuthority'
              description: Collection of certificate authorities which creates a trusted certificate chain.
          additionalProperties:
            type: object
    microsoft.graph.organizationalBrandingProperties:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: organizationalBrandingProperties
          type: object
          properties:
            backgroundColor:
              type: string
              description: 'Color that will appear in place of the background image in low-bandwidth connections. We recommend that you use the primary color of your banner logo or your organization color. Specify this in hexadecimal format, for example, white is #FFFFFF.'
              nullable: true
            backgroundImage:
              type: string
              description: Image that appears as the background of the sign-in page. The allowed types are PNG or JPEG not smaller than 300 KB and not larger than 1920 × 1080 pixels. A smaller image will reduce bandwidth requirements and make the page load faster.
              format: base64url
              nullable: true
            backgroundImageRelativeUrl:
              type: string
              description: A relative URL for the backgroundImage property that is combined with a CDN base URL from the cdnList to provide the version served by a CDN. Read-only.
              nullable: true
            bannerLogo:
              type: string
              description: A banner version of your company logo that appears on the sign-in page. The allowed types are PNG or JPEG no larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
              format: base64url
              nullable: true
            bannerLogoRelativeUrl:
              type: string
              description: A relative url for the bannerLogo property that is combined with a CDN base URL from the cdnList to provide the read-only version served by a CDN. Read-only.
              nullable: true
            cdnList:
              type: array
              items:
                type: string
                nullable: true
              description: A list of base URLs for all available CDN providers that are serving the assets of the current resource. Several CDN providers are used at the same time for high availability of read requests. Read-only.
            signInPageText:
              type: string
              description: 'Text that appears at the bottom of the sign-in box. You can use this to communicate additional information, such as the phone number to your help desk or a legal statement. This text must be Unicode and not exceed 1024 characters.'
              nullable: true
            squareLogo:
              type: string
              description: A square version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG no larger than 240 x 240 pixels and no more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
              format: base64url
              nullable: true
            squareLogoRelativeUrl:
              type: string
              description: A relative url for the squareLogo property that is combined with a CDN base URL from the cdnList to provide the version served by a CDN. Read-only.
              nullable: true
            usernameHintText:
              type: string
              description: 'String that shows as the hint in the username textbox on the sign-in screen. This text must be a Unicode, without links or code, and can''t exceed 64 characters.'
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.licenseUnitsDetail:
      title: licenseUnitsDetail
      type: object
      properties:
        enabled:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The number of units that are enabled for the active subscription of the service SKU.
          format: int32
          nullable: true
        suspended:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: The number of units that are suspended because the subscription of the service SKU has been cancelled. The units cannot be assigned but can still be reactivated before they are deleted.
          format: int32
          nullable: true
        warning:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: 'The number of units that are in warning status. When the subscription of the service SKU has expired, the customer has a grace period to renew their subscription before it is cancelled (moved to a suspended state).'
          format: int32
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.servicePlanInfo:
      title: servicePlanInfo
      type: object
      properties:
        appliesTo:
          type: string
          description: The object the service plan can be assigned to. The possible values are:User - service plan can be assigned to individual users.Company - service plan can be assigned to the entire tenant.
          nullable: true
        provisioningStatus:
          type: string
          description: 'The provisioning status of the service plan. The possible values are:Success - Service is fully provisioned.Disabled - Service has been disabled.ErrorStatus - The service plan has not been provisioned and is in an error state.PendingInput - Service is not yet provisioned; awaiting service confirmation.PendingActivation - Service is provisioned but requires explicit activation by administrator (for example, Intune_O365 service plan)PendingProvisioning - Microsoft has added a new service to the product SKU and it has not been activated in the tenant, yet.'
          nullable: true
        servicePlanId:
          pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
          type: string
          description: The unique identifier of the service plan.
          format: uuid
          nullable: true
        servicePlanName:
          type: string
          description: The name of the service plan.
          nullable: true
      additionalProperties:
        type: object
    ReferenceCreate:
      type: object
      properties:
        '@odata.id':
          type: string
      additionalProperties:
        type: object
    microsoft.graph.orgContactCollectionResponse:
      title: Collection of orgContact
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.orgContact'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.directoryObjectCollectionResponse:
      title: Collection of directoryObject
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '../CommonTypes.yml#/components/schemas/microsoft.graph.directoryObject'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.contractCollectionResponse:
      title: Collection of contract
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.contract'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.deviceCollectionResponse:
      title: Collection of device
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.device'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.extensionCollectionResponse:
      title: Collection of extension
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.extension'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    StringCollectionResponse:
      title: Collection of string
      type: object
      properties:
        value:
          type: array
          items:
            type: string
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.administrativeUnitCollectionResponse:
      title: Collection of administrativeUnit
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.administrativeUnit'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.scopedRoleMembershipCollectionResponse:
      title: Collection of scopedRoleMembership
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.scopedRoleMembership'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.identityProviderBaseCollectionResponse:
      title: Collection of identityProviderBase
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.identityProviderBase'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.directoryRoleCollectionResponse:
      title: Collection of directoryRole
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.directoryRole'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.directoryRoleTemplateCollectionResponse:
      title: Collection of directoryRoleTemplate
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplate'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.domainCollectionResponse:
      title: Collection of domain
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.domain'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.internalDomainFederationCollectionResponse:
      title: Collection of internalDomainFederation
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.internalDomainFederation'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.domainDnsRecordCollectionResponse:
      title: Collection of domainDnsRecord
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.domainDnsRecord'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.organizationCollectionResponse:
      title: Collection of organization
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.organization'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.organizationalBrandingLocalizationCollectionResponse:
      title: Collection of organizationalBrandingLocalization
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.organizationalBrandingLocalization'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.subscribedSkuCollectionResponse:
      title: Collection of subscribedSku
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.subscribedSku'
        '@odata.nextLink':
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.phoneType:
      title: phoneType
      enum:
        - home
        - business
        - mobile
        - other
        - assistant
        - homeFax
        - businessFax
        - otherFax
        - pager
        - radio
      type: string
    microsoft.graph.authenticationProtocol:
      title: authenticationProtocol
      enum:
        - wsFed
        - saml
        - unknownFutureValue
      type: string
    microsoft.graph.certificateAuthority:
      title: certificateAuthority
      type: object
      properties:
        certificate:
          type: string
          description: Required. The base64 encoded string representing the public certificate.
          format: base64url
        certificateRevocationListUrl:
          type: string
          description: The URL of the certificate revocation list.
          nullable: true
        deltaCertificateRevocationListUrl:
          type: string
          description: The URL contains the list of all revoked certificates since the last time a full certificate revocaton list was created.
          nullable: true
        isRootAuthority:
          type: boolean
          description: 'Required. true if the trusted certificate is a root authority, false if the trusted certificate is an intermediate authority.'
        issuer:
          type: string
          description: 'The issuer of the certificate, calculated from the certificate value. Read-only.'
        issuerSki:
          type: string
          description: 'The subject key identifier of the certificate, calculated from the certificate value. Read-only.'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.MainError:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innererror:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
  responses:
    microsoft.graph.orgContactCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.orgContactCollectionResponse'
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.directoryObjectCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.directoryObjectCollectionResponse'
    microsoft.graph.contractCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.contractCollectionResponse'
    microsoft.graph.deviceCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.deviceCollectionResponse'
    microsoft.graph.extensionCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.extensionCollectionResponse'
    StringCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StringCollectionResponse'
    microsoft.graph.administrativeUnitCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.administrativeUnitCollectionResponse'
    microsoft.graph.scopedRoleMembershipCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.scopedRoleMembershipCollectionResponse'
    microsoft.graph.identityProviderBaseCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.identityProviderBaseCollectionResponse'
    microsoft.graph.directoryRoleCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.directoryRoleCollectionResponse'
    microsoft.graph.directoryRoleTemplateCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplateCollectionResponse'
    microsoft.graph.domainCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.domainCollectionResponse'
    microsoft.graph.internalDomainFederationCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.internalDomainFederationCollectionResponse'
    microsoft.graph.domainDnsRecordCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.domainDnsRecordCollectionResponse'
    microsoft.graph.organizationCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.organizationCollectionResponse'
    microsoft.graph.organizationalBrandingLocalizationCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.organizationalBrandingLocalizationCollectionResponse'
    microsoft.graph.subscribedSkuCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.subscribedSkuCollectionResponse'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
  requestBodies:
    refPostBody:
      description: New navigation property ref value
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReferenceCreate'
      required: true
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]