{
  "Entries": [
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/CloudServices",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<CloudServices xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <CloudService>\r\n    <Name>AzCisIntRunnerWUS</Name>\r\n    <Label>AzCisIntRunnerWUS</Label>\r\n    <Description>AzCisIntRunnerWUS</Description>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Resources>\r\n      <Resource>\r\n        <ResourceProviderNamespace>WACis</ResourceProviderNamespace>\r\n        <Type>CisVault</Type>\r\n        <Name>AzCisIntRunnerWUS</Name>\r\n        <Plan />\r\n        <SchemaVersion>1.1</SchemaVersion>\r\n        <ETag>227f07eb-392b-4cc8-8972-baf13a6299f6</ETag>\r\n        <State>Started</State>\r\n        <SubState>Ok</SubState>\r\n        <OutputItems>\r\n          <OutputItem>\r\n            <Key>StampId</Key>\r\n            <Value>e7b9e848-2f14-47a9-9bad-d77ce5f0ed9a</Value>\r\n          </OutputItem>\r\n          <OutputItem>\r\n            <Key>ResourceId</Key>\r\n            <Value>164364985811234912</Value>\r\n          </OutputItem>\r\n          <OutputItem>\r\n            <Key>BackendStampId</Key>\r\n            <Value>7ef900f6-ad91-497d-a9c5-2742b7ed4a75</Value>\r\n          </OutputItem>\r\n        </OutputItems>\r\n        <OperationStatus>\r\n          <Type>Create</Type>\r\n          <Result>Succeeded</Result>\r\n        </OperationStatus>\r\n        <Label />\r\n      </Resource>\r\n    </Resources>\r\n  </CloudService>\r\n  <CloudService>\r\n    <Name>CisProdCSEA01</Name>\r\n    <Label>0420ce67-e1ce-47c8-95e2-59f656036b8e</Label>\r\n    <Description>8a5ca166-7394-49c4-90bf-c5c10cc891bc</Description>\r\n    <GeoRegion>East Asia</GeoRegion>\r\n    <Resources>\r\n      <Resource>\r\n        <ResourceProviderNamespace>WACiS</ResourceProviderNamespace>\r\n        <Type>CiSVault</Type>\[...]
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/api/devices?api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<ArrayOfDeviceInfo xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <DeviceInfo>\r\n    <ACRCount>0</ACRCount>\r\n    <ActivationTime>2014-11-28T06:04:49.2510897Z</ActivationTime>\r\n    <ActiveController>Unknown</ActiveController>\r\n    <AvailableStorageInBytes>1095364144128</AvailableStorageInBytes>\r\n    <CloudCredCount>0</CloudCredCount>\r\n    <Culture>en-US</Culture>\r\n    <CurrentController>Unknown</CurrentController>\r\n    <DataContainerCount>0</DataContainerCount>\r\n    <Description i:nil=\"true\" />\r\n    <DeviceId>29f9be68-04f7-437d-a466-b90a1ed324b5</DeviceId>\r\n    <DeviceSoftwareVersion>6.3.9600.17215</DeviceSoftwareVersion>\r\n    <FriendlyName>Avirupch_App3</FriendlyName>\r\n    <IsConfigUpdated>true</IsConfigUpdated>\r\n    <IsVirtualApplianceInterimEntry>false</IsVirtualApplianceInterimEntry>\r\n    <Location i:nil=\"true\" />\r\n    <ModelDescription>100</ModelDescription>\r\n    <NNicCards>6</NNicCards>\r\n    <ProvisionedStorageInBytes>4147483648</ProvisionedStorageInBytes>\r\n    <SerialNumber>123456789</SerialNumber>\r\n    <Status>Online</Status>\r\n    <TargetIQN>iqn.1991-05.com.microsoft:storsimple100-123456789-target</TargetIQN>\r\n    <TimeZone>Pacific Standard Time</TimeZone>\r\n    <TotalStorageInBytes>1099511627776</TotalStorageInBytes>\r\n    <Type>Appliance</Type>\r\n    <UsingStorageInBytes>0</UsingStorageInBytes>\r\n    <VolumeCount>0</VolumeCount>\r\n  </DeviceInfo>\r\n  <DeviceInfo>\r\n    <ACRCount>0</ACRCount>\r\n    <ActivationTime>2014-12-11T17:33:21.6765566Z</ActivationTime>\r\n    <ActiveController>Unknown</ActiveController>\r\n    <AvailableStorageInBytes>32985348833280</AvailableStorageInBytes>\r\n    <CloudCredCount>0</CloudCredCount>\r\n    <Culture>en-US</Culture>\r\n    <CurrentController>Unknown</CurrentController>\r\n    <DataContainerCount>0</DataContainerCount>\r\n    <Description i:nil=\"true\" />\r\n    <DeviceId>2b4bda4e-5ab6-4668-a681-ca47cee7ca64</DeviceId>\r\n    <DeviceSoftwareVersion>6.3.9600.17215</DeviceSoftwareVersion>\r\n    <FriendlyName>test-madhurta</FriendlyName>\r\n    <IsConfigUpdated>false</IsConfigUpdated>\r\n    <IsVirtualApplianceInterimEntry>false</IsVirtualApplianceInterimEntry>\r\n    <Location>West US</Location>\r\n    <ModelDescription>1100</ModelDescription>\r\n    <NNicCards>0</NNicCards>\r\n    <ProvisionedStorageInBytes>0</ProvisionedStorageInBytes>\r\n    <SerialNumber>2B4BDA4E-5AB6-4668-A681-CA47CEE7CA64</SerialNumber>\r\n    <Status>Offline</Status>\r\n    <TargetIQN>iqn.1991-05.com.microsoft:storsimple1100-2b4bda4e-5ab6-4668-a681-ca47cee7ca64-target</TargetIQN>\r\n    <TimeZone>UTC</TimeZone>\r\n    <TotalStorageInBytes>32985348833280</TotalStorageInBytes>\r\n    <Type>VirtualAppliance</Type>\r\n    <UsingStorageInBytes>0</UsingStorageInBytes>\r\n    <VolumeCount>0</VolumeCount>\r\n  </DeviceInfo>\r\n</ArrayOfDeviceInfo>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/stamps/7ef900f6-ad91-497d-a9c5-2742b7ed4a75/secretmanagement/publickey?api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<ResourceEncryptionKeysEncrypted xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <EncodedEncryptedPublicKey>EAAAAH/n8WeCQBimBXNIArQtLGliov1nVuoOYLCry/yBWCdDFajYwo6v7PKBYuEkv7I/lfvfh908SM5QQ/Vj5sUeZVLsck98NJuXv/ziR/VXbgSAjxIIDwpDlgBIV3dfhigen2dmp8SjKT2mCGZ81kDf0wub/vRo/ktp3tZbU0yJnP/ueTQo3pZco/J1mJMHCxjqymbFfRg54ex0Go/Z4CxjuNlTN1Pe7q7ohP61KxQ7o1R1qJdLHTaslOdYiSNzDrHNzrGjXEz322wlzZL6+hGRy7LQP06BO4xvJPIwF4k0+k/U0AQ4GtotQ9KWyDeEjuwN2htEOSkwzRnetnzBX45129CkrzyvdeGI4clZz8KOrcMyIUL66hXyK9e1gyllLU+0aU1HEQ127dJwrHYtHYdw/UjPFlVJFi2DpO6SWJCCX13DOpvCeMvrdvyHp40Y/j+Uvg7miKRWrvRnuKLoxhgAPhX4SL4Py2CHQmodp+Yl5Mqv+arq[...]
[...]
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/api/?api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<ServiceConfiguration_Base i:type=\"ServiceConfiguration\" xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <AcrChangeList>\r\n    <Added />\r\n    <Deleted xmlns:d3p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\r\n    <Updated>\r\n      <AccessControlRecord>\r\n        <InstanceId>130a35a5-8182-4934-973b-84cd9a12f3fb</InstanceId>\r\n        <Name>testmadhur9</Name>\r\n        <OperationInProgress>None</OperationInProgress>\r\n        <GlobalId i:nil=\"true\" xmlns=\"http://schemas.datacontract.org/2004/07/Microsoft.Internal.CiS.Service.Interface.Portal\" />\r\n        <InitiatorName>testmadhur9</InitiatorName>\r\n        <VolumeCount>0</VolumeCount>\r\n      </AccessControlRecord>\r\n      <AccessControlRecord>\r\n        <InstanceId>1b50c4b7-235c-4f64-9728-96373a8b2207</InstanceId>\r\n        <Name>a1.m.com</Name>\r\n        <OperationInProgress>None</OperationInProgress>\r\n        <GlobalId i:nil=\"true\" xmlns=\"http://schemas.datacontract.org/2004/07/Microsoft.Internal.CiS.Service.Interface.Portal\" />\r\n        <InitiatorName>s1.m.com</InitiatorName>\r\n        <Volu[...]
[...]
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/api/devices/29f9be68-04f7-437d-a466-b90a1ed324b5/datacontainers?api-version=2014-01-01.2.0",
      "RequestMethod": "POST",
      "RequestBody": "<DataContainer_V2 xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\">\r\n  <Name>VolumeContainer_1895879361</Name>\r\n  <OperationInProgress>Invalid</OperationInProgress>\r\n  <BandwidthRate>256</BandwidthRate>\r\n  <IsDefault>false</IsDefault>\r\n  <IsEncryptionEnabled>false</IsEncryptionEnabled>\r\n  <Owned>false</Owned>\r\n  <PrimaryStorageAccountCredential>\r\n    <InstanceId>88c04991-75d7-4cbf-99ff-25e4621514ad</InstanceId>\r\n    <Name>wuscisclcis1diagj5sy4</Name>\r\n    <OperationInProgress>None</OperationInProgress>\r\n    <CloudType>Azure</CloudType>\r\n    <Hostname>blob.core.windows.net</Hostname>\r\n    <IsDefault>false</IsDefault>\r\n    <Location>West US</Location>\r\n    <Login>wuscisclcis1diagj5sy4</Login>\r\n    <Password>C9fw2tFE3T3W7oqYjDmjVU0NfoX0FXKEaY/MLFU96CHTxONg8JUglbVcIOwfwcAxiJJRAo6JlR+xUNlQ0j2/Sf2Foq+Gr8ON6zaPaamg+INaaQtv2Qhhi9FHK8LGSbPTL+3fszY/pmhlvITRbuSatVock1y1Qm5Z1e+I0zSxR9/ITbPrG7aX/EvjtzNg9nJ9PXzE3MaMmC2c1s+PO+pQ1WA6cSPz9lQJGzIwYsL1nbYP7z9RTLFgUzSmDtgLZC5bZwq8OB+uB+4t3JilgJbUi8WfXg+m/D+f+hoL5p/7ABgRH4mvzFsQptzogYEmZPRBXHeudA/KVJMi4fDBilJwfQ==</Password>\r\n    <UseSSL>true</UseSSL>\r\n    <VolumeCount>2</VolumeCount>\r\n    <PasswordEncryptionCertThumbprint p3:nil=\"true\" xmlns:p3=\"http://www.w3.org/2001/XMLSchema-instance\" />\r\n  </PrimaryStorageAccountCredential>\r\n  <SecretsEncryptionThumbprint>24260B738017EE3EBE3CC75225A3ABB204D871A0</SecretsEncryptionThumbprint>\r\n  <VolumeCount>0</VolumeCount>\r\n</DataContainer_V2>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-01-01"
        ],
        "client-tracking-id": [
          "8"
        ]
      },
      "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">f55b8e99-95cf-471f-b073-8f12293690a3</string>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/api/jobs/f55b8e99-95cf-471f-b073-8f12293690a3?api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ],
        "client-tracking-id": [
          "8"
        ]
      },
      "ResponseBody": "<JobStatusInfo xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Error i:nil=\"true\" xmlns:d2p1=\"http://schemas.microsoft.com/wars\" />\r\n  <JobId>f55b8e99-95cf-471f-b073-8f12293690a3</JobId>\r\n  <JobSteps>\r\n    <JobStep>\r\n      <Detail></Detail>\r\n      <ErrorCode>SS_08061AC3</ErrorCode>\r\n      <Message>Create volume container 'VolumeContainer_1895879361' on 'Avirupch_App3' in progress</Message>\r\n      <Result>Invalid</Result>\r\n      <Status>InProgress</Status>\r\n    </JobStep>\r\n  </JobSteps>\r\n  <Result>Invalid</Result>\r\n  <Status>InProgress</Status>\r\n  <TaskResult>InProgress</TaskResult>\r\n</JobStatusInfo>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/api/devices/29f9be68-04f7-437d-a466-b90a1ed324b5/datacontainers?dataContainerName=VolumeContainer_1895879361&api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<DataContainer_Base i:type=\"DataContainer\" xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <InstanceId>904285a7-4d07-4248-9272-5112483160c3</InstanceId>\r\n  <Name>VolumeContainer_1895879361</Name>\r\n  <OperationInProgress>None</OperationInProgress>\r\n  <BandwidthRate>256</BandwidthRate>\r\n  <EncryptionKey></EncryptionKey>\r\n  <IsDefault>false</IsDefault>\r\n  <IsEncryptionEnabled>false</IsEncryptionEnabled>\r\n  <Owned>true</Owned>\r\n  <PrimaryStorageAccountCredential>\r\n    <InstanceId>88c04991-75d7-4cbf-99ff-25e4621514ad</InstanceId>\r\n    <Name>wuscisclcis1diagj5sy4</Name>\r\n    <OperationInProgress>None</OperationInProgress>\r\n    <GlobalId xmlns=\"http://schemas.datacontract.org/2004/07/Microsoft.Internal.CiS.Service.Interface.Portal\">88c04991-75d7-4cbf-99ff-25e4621514ad</GlobalId>\r\n    <CloudType>Azure</CloudType>\r\n    <Hostname>blob.core.windows.net</Hostname>\r\n    <IsDefault>false</IsDefault>\r\n    <Location>West US</Location>\r\n    <Login>wuscisclcis1diagj5sy4</Login>\r\n    <Password>C9fw2tFE3T3W7oqYjDmjVU0NfoX0FXKEaY/MLFU96CHTxONg8JUglbVcIOwfwcAxiJJRAo6JlR+xUNlQ0j2/Sf2Foq+Gr8ON6zaPaamg+INaaQtv2Qhhi9FHK8LGSbPTL+3fszY/pmhlvITRbuSatVock1y1Qm5Z1e+I0zSxR9/ITbPrG7aX/EvjtzNg9nJ9PXzE3MaMmC2c1s+PO+pQ1WA6cSPz9lQJGzIwYsL1nbYP7z9RTLFgUzSmDtgLZC5bZwq8OB+uB+4t3JilgJbUi8WfXg+m/D+f+hoL5p/7ABgRH4mvzFsQptzogYEmZPRBXHeudA/KVJMi4fDBilJwfQ==</Password>\r\n    <UseSSL>true</UseSSL>\r\n    <VolumeCount>2</VolumeCount>\r\n  </PrimaryStorageAccountCredential>\r\n  <VolumeCount>0</VolumeCount>\r\n</DataContainer_Base>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/api/?api-version=2014-01-01.2.0",
      "RequestMethod": "POST",
      "RequestBody": "<ServiceConfiguration_V2 xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\">\r\n  <AcrChangeList>\r\n    <Added>\r\n      <AccessControlRecord>\r\n        <Name>ACR_1552733300</Name>\r\n        <InitiatorName>IQN_477650913</InitiatorName>\r\n        <VolumeCount>0</VolumeCount>\r\n        <OperationInProgress>Invalid</OperationInProgress>\r\n      </AccessControlRecord>\r\n    </Added>\r\n    <Deleted />\r\n    <Updated />\r\n  </AcrChangeList>\r\n  <CredentialChangeList>\r\n    <Added />\r\n    <Deleted />\r\n    <Updated />\r\n  </CredentialChangeList>\r\n  <OperationInProgress>false</OperationInProgress>\r\n</ServiceConfiguration_V2>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-01-01"
        ],
        "client-tracking-id": [
          "16"
        ]
      },
      "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">a1fd4c50-399e-48b6-aee5-f622089e15c8</string>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/api/devices/29f9be68-04f7-437d-a466-b90a1ed324b5/virtualdisks?api-version=2014-01-01.1.0",
      "RequestMethod": "POST",
      "RequestBody": "<VirtualDisk xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\">\r\n  <Name>Volume_618436982</Name>\r\n  <OperationInProgress>Invalid</OperationInProgress>\r\n  <AccessType>ReadWrite</AccessType>\r\n  <AcrIdList />\r\n  <AcrList>\r\n    <AccessControlRecord>\r\n      <InstanceId>fbe7fd5d-49f6-4f31-a885-d80b3a018d79</InstanceId>\r\n      <Name>ACR_1552733300</Name>\r\n      <InitiatorName>IQN_477650913</InitiatorName>\r\n      <VolumeCount>0</VolumeCount>\r\n      <OperationInProgress>None</OperationInProgress>\r\n    </AccessControlRecord>\r\n  </AcrList>\r\n  <AppType>PrimaryVolume</AppType>\r\n  <DataContainer>\r\n    <InstanceId>904285a7-4d07-4248-9272-5112483160c3</InstanceId>\r\n    <Name>VolumeContainer_1895879361</Name>\r\n    <OperationInProgress>None</OperationInProgress>\r\n    <BandwidthRate>256</BandwidthRate>\r\n    <EncryptionKey></EncryptionKey>\r\n    <IsDefault>false</IsDefault>\r\n    <IsEncryptionEnabled>false</IsEncryptionEnabled>\r\n    <Owned>true</Owned>\r\n    <PrimaryStorageAccountCredential>\r\n      <InstanceId>88c04991-75d7-4cbf-99ff-25e4621514ad</InstanceId>\r\n      <Name>wuscisclcis1diagj5sy4</Name>\r\n      <OperationInProgress>None</OperationInProgress>\r\n      <CloudType>Azure</CloudType>\r\n      <Hostname>blob.core.windows.net</Hostname>\r\n      <IsDefault>false</IsDefault>\r\n      <Location>West US</Location>\r\n      <Login>wuscisclcis1diagj5sy4</Login>\r\n      <Password>C9fw2tFE3T3W7oqYjDmjVU0NfoX0FXKEaY/MLFU96CHTxONg8JUglbVcIOwfwcAxiJJRAo6JlR+xUNlQ0j2/Sf2Foq+Gr8ON6zaPaamg+INaaQtv2Qhhi9FHK8LGSbPTL+3fszY/pmhlvITRbuSatVock1y1Qm5Z1e+I0zSxR9/ITbPrG7aX/EvjtzNg9nJ9PXzE3MaMmC2c1s+PO+pQ1WA6cSPz9lQJGzIwYsL1nbYP7z9RTLFgUzSmDtgLZC5bZwq8OB+uB+4t3JilgJbUi8WfXg+m/D+f+hoL5p/7ABgRH4mvzFsQptzogYEmZPRBXHeudA/KVJMi4fDBilJwfQ==</Password>\r\n      <UseSSL>true</UseSSL>\r\n      <VolumeCount>2</VolumeCount>\r\n      <PasswordEncryptionCertThumbprint p4:nil=\"true\" xmlns:p4=\"http://www.w3.org/2001/XMLSchema-instance\" />\r\n    </PrimaryStorageAccountCredential>\r\n    <VolumeCount>0</VolumeCount>\r\n  </DataContainer>\r\n  <IsBackupEnabled>false</IsBackupEnabled>\r\n  <IsDefaultBackupEnabled>false</IsDefaultBackupEnabled>\r\n  <IsMonitoringEnabled>false</IsMonitoringEnabled>\r\n  <Online>true</Online>\r\n  <SizeInBytes>2000000000</SizeInBytes>\r\n</VirtualDisk>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-01-01"
        ],
        "client-tracking-id": [
          "22"
        ]
      },
      "ResponseBody": "<guid xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">f9f03998-6feb-4908-a51d-d66b064d3cad</guid>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/api/devices/29f9be68-04f7-437d-a466-b90a1ed324b5/virtualdisks?diskName=Volume_618436982&api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<VirtualDisk xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <InstanceId>SS-VOL-740c9748-7b04-4d60-8400-5a71a981709f</InstanceId>\r\n  <Name>Volume_618436982</Name>\r\n  <OperationInProgress>None</OperationInProgress>\r\n  <AccessType>ReadWrite</AccessType>\r\n  <AcrIdList xmlns:d2p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n    <d2p1:string>5120e0bb-3920-4a25-9854-05bbed174fb5</d2p1:string>\r\n  </AcrIdList>\r\n  <AcrList>\r\n    <AccessControlRecord>\r\n      <InstanceId>fbe7fd5d-49f6-4f31-a885-d80b3a018d79</InstanceId>\r\n      <Name>ACR_1552733300</Name>\r\n      <OperationInProgress>None</OperationInProgress>\r\n      <GlobalId xmlns=\"http://schemas.datacontract.org/2004/07/Microsoft.Internal.CiS.Service.Interface.Portal\">fbe7fd5d-49f6-4f31-a885-d80b3a018d79</GlobalId>\r\n      <InitiatorName>IQN_477650913</InitiatorName>\r\n[...]
[...]
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/api/devices/29f9be68-04f7-437d-a466-b90a1ed324b5/policies?api-version=2014-01-01.1.0",
      "RequestMethod": "POST",
      "RequestBody": "<AddBackupPolicyRequest xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\">\r\n  <Name>BackupPolicy_230871824</Name>\r\n  <Schedules>\r\n    <BackupScheduleBase>\r\n      <BackupType>LocalSnapshot</BackupType>\r\n      <Recurrence>\r\n        <RecurrenceType>Daily</RecurrenceType>\r\n        <RecurrenceValue>10</RecurrenceValue>\r\n      </Recurrence>\r\n      <RetentionCount>5</RetentionCount>\r\n      <StartTime>2014-12-18T18:23:26+05:30</StartTime>\r\n      <Status>Enabled</Status>\r\n    </BackupScheduleBase>\r\n    <BackupScheduleBase>\r\n      <BackupType>CloudSnapshot</BackupType>\r\n      <Recurrence>\r\n        <RecurrenceType>Hourly</RecurrenceType>\r\n        <RecurrenceValue>1</RecurrenceValue>\r\n      </Recurrence>\r\n      <RetentionCount>5</RetentionCount>\r\n      <StartTime>2014-12-18T18:23:26+05:30</StartTime>\r\n      <Status>Enabled</Status>\r\n    </BackupScheduleBase>\r\n  </Schedules>\r\n  <VirtualDiskIds>\r\n    <string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">SS-VOL-740c9748-7b04-4d60-8400-5a71a981709f</string>\r\n  </VirtualDiskIds>\r\n</AddBackupPolicyRequest>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-01-01"
        ],
        "client-tracking-id": [
          "33"
        ]
      },
      "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">a36af9ad-4afe-4c33-980e-f4ede17a746c</string>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/api/devices/29f9be68-04f7-437d-a466-b90a1ed324b5/policies?policyName=BackupPolicy_230871824&api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<BackupPolicyDetails xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <InstanceId>6a41bbc6-2bf8-4100-aa1c-784fab961b26</InstanceId>\r\n  <Name>BackupPolicy_230871824</Name>\r\n  <OperationInProgress>None</OperationInProgress>\r\n  <BackupPolicyCreationType>BySaaS</BackupPolicyCreationType>\r\n  <LastBackup>2010-01-01T00:00:00Z</LastBackup>\r\n  <NextBackup>2014-12-18T13:53:53Z</NextBackup>\r\n  <SSMHostName i:nil=\"true\" />\r\n  <SchedulesCount>2</SchedulesCount>\r\n  <VolumesCount>1</VolumesCount>\r\n  <Schedules>\r\n    <BackupScheduleResponse>\r\n      <BackupType>LocalSnapshot</BackupType>\r\n      <Recurrence>\r\n        <RecurrenceType>Daily</RecurrenceType>\r\n        <RecurrenceValue>10</RecurrenceValue>\r\n      </Recurrence>\r\n      <RetentionCount>5</RetentionCount>\r\n      <StartTime>2014-12-18T12:53:26Z</StartTime>\r\n      <Status>Enabled</Status>\r\n      <Id>561cf1f6-13e0-4b08-aff0-8ab8d925708c</Id>\r\n      <LastSuccessfulRun>2010-01-01T00:00:00Z</LastSuccessfulRun>\r\n    </BackupScheduleResponse>\r\n    <BackupScheduleResponse>\r\n      <BackupType>CloudSnapshot</BackupType>\r\n      <Recurrence>\r\n        <RecurrenceType>Hourly</RecurrenceType>\r\n        <RecurrenceValue>1</RecurrenceValue>\r\n      </Recurrence>\r\n      <RetentionCount>5</RetentionCount>\r\n      <StartTime>2014-12-18T12:53:26Z</StartTime>\r\n      <Status>Enabled</Status>\r\n      <Id>f29f877b-6169-4ed5-bec2-2d8d17aabfc4</Id>\r\n      <LastSuccessfulRun>2010-01-01T00:00:00Z</LastSuccessfulRun>\r\n    </BackupScheduleResponse>\r\n  </Schedules>\r\n  <VirtualDisks>\r\n    <VirtualDiskPolicyInfo>\r\n      <InstanceId>SS-VOL-740c9748-7b04-4d60-8400-5a71a981709f</InstanceId>\r\n      <Name>Volume_618436982</Name>\r\n      <OperationInProgress>None</OperationInProgress>\r\n      <AssociatedBackupPolicies xmlns:d4p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n        <d4p1:string>BackupPolicy_230871824</d4p1:string>\r\n      </AssociatedBackupPolicies>\r\n      <DataContainerId>904285a7-4d07-4248-9272-5112483160c3</DataContainerId>\r\n      <DataContainerName>VolumeContainer_1895879361</DataContainerName>\r\n    </VirtualDiskPolicyInfo>\r\n  </VirtualDisks>\r\n</BackupPolicyDetails>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/api/devices/29f9be68-04f7-437d-a466-b90a1ed324b5/policies/6a41bbc6-2bf8-4100-aa1c-784fab961b26?api-version=2014-01-01.1.0",
      "RequestMethod": "PUT",
      "RequestBody": "<UpdateBackupPolicyRequest xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\">\r\n  <InstanceId>6a41bbc6-2bf8-4100-aa1c-784fab961b26</InstanceId>\r\n  <Name>BackupPolicy_230871824</Name>\r\n  <OperationInProgress>Invalid</OperationInProgress>\r\n  <BackupSchedulesToBeAdded>\r\n    <BackupScheduleBase>\r\n      <BackupType>CloudSnapshot</BackupType>\r\n      <Recurrence>\r\n        <RecurrenceType>Daily</RecurrenceType>\r\n        <RecurrenceValue>1</RecurrenceValue>\r\n      </Recurrence>\r\n      <RetentionCount>50</RetentionCount>\r\n      <StartTime>2014-12-18T18:23:55+05:30</StartTime>\r\n      <Status>Enabled</Status>\r\n    </BackupScheduleBase>\r\n  </BackupSchedulesToBeAdded>\r\n  <BackupSchedulesToBeDeleted>\r\n    <string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">f29f877b-6169-4ed5-bec2-2d8d17aabfc4</string>\r\n  </BackupSchedulesToBeDeleted>\r\n  <BackupSchedulesToBeUpdated>\r\n    <BackupScheduleUpdateRequest>\r\n      <BackupType>LocalSnapshot</BackupType>\r\n      <Recurrence>\r\n        <RecurrenceType>Daily</RecurrenceType>\r\n        <RecurrenceValue>3</RecurrenceValue>\r\n      </Recurrence>\r\n      <RetentionCount>2</RetentionCount>\r\n      <StartTime>2014-12-18T18:23:55+05:30</StartTime>\r\n      <Status>Enabled</Status>\r\n      <Id>561cf1f6-13e0-4b08-aff0-8ab8d925708c</Id>\r\n    </BackupScheduleUpdateRequest>\r\n  </BackupSchedulesToBeUpdated>\r\n  <IsPolicyRenamed>true</IsPolicyRenamed>\r\n  <VirtualDiskIds p2:nil=\"true\" xmlns:p2=\"http://www.w3.org/2001/XMLSchema-instance\" />\r\n</UpdateBackupPolicyRequest>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-01-01"
        ],
        "client-tracking-id": [
          "45"
        ]
      },
      "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">017b38be-b2b3-4f32-aacd-50a46df7453d</string>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/api/devices/29f9be68-04f7-437d-a466-b90a1ed324b5/virtualdisks/SS-VOL-740c9748-7b04-4d60-8400-5a71a981709f?api-version=2014-01-01.1.0",
      "RequestMethod": "PUT",
      "RequestBody": "<VirtualDisk xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\">\r\n  <InstanceId>SS-VOL-740c9748-7b04-4d60-8400-5a71[...]
[...]
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/api/jobs/f8b24726-8a4f-49c2-8396-b0de41537668?api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ],
        "client-tracking-id": [
          "72"
        ]
      },
[...]
