{
  "Entries": [
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourcegroups/crptestps7079?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"centraluseuap\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079\",\r\n  \"name\": \"crptestps7079\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Compute/images/Win2022AzureEdition?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Compute/images/Win2022AzureEdition' under resource group 'crptestps7079' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/providers/Microsoft.Compute?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/providers/Microsoft.Compute\",\r\n  \"namespace\": \"Microsoft.Compute\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"60e6cd67-9c8c-4951-9b3c-23c25a2169af\",\r\n      \"roleDefinitionId\": \"e4770acb-272e-4dc8-87f3-12f44a612224\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a303894e-f1d8-4a37-bf10-67aa654a0596\",\r\n      \"roleDefinitionId\": \"903ac751-8ad5-4e5a-bfc2-5e49f450a241\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a8b6bf88-1d1a-4626-b040-9a729ea93c65\",\r\n      \"roleDefinitionId\": \"274dd4a6-9687-462d-9bee-4f973b07ce46\"\r\n    },\r\n    {\r\n      \"applicationId\": \"184909ca-69f1-4368-a6a7-c558ee6eb0bd\",\r\n      \"roleDefinitionId\": \"45c8267c-80ba-4b96-9a43-115b8f49fccd\"\r\n    },\r\n    {\r\n      \"applicationId\": \"5e5e43d4-54da-4211-86a4-c6e7f3715801\",\r\n      \"roleDefinitionId\": \"ffcd6e5b-8772-457d-bb17-89703c03428f\"\r\n    },\r\n    {\r\n      \"applicationId\": \"ce6ff14a-7fdc-4685-bbe0-f6afdfcfa8e0\",\r\n      \"roleDefinitionId\": \"cb17cddc-dbac-4ae0-ae79-8db34eddfca0\"\r\n    },\r\n    {\r\n      \"applicationId\": \"372140e0-b3b7-4226-8ef9-d57986796201\",\r\n      \"roleDefinitionId\": \"cb17cddc-dbac-4ae0-ae79-8db34eddfca0\"\r\n    },\r\n    {\r\n      \"applicationId\": \"579d9c9d-4c83-4efc-8124-7eba65ed3356\",\r\n      \"roleDefinitionId\": \"8c99c4ce-d744-4597-a2f0-0a0044d67560\"\r\n    },\r\n    {\r\n      \"applicationId\": \"b9a92e36-2cf8-4f4e-bcb3-9d99e00e14ab\",\r\n      \"roleDefinitionId\": \"6efa92ca-56b6-40af-a468-5e3d2b5232f0\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"availabilitySets\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"Central US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Australia Central\",\r\n        \"Brazil South\",\r\n        \"South India\",\r\n [...]
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Compute/virtualMachines/vmcrptestps7079?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Compute/virtualMachines/vmcrptestps7079' under resource group 'crptestps7079' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Compute/virtualMachines/vmcrptestps7079?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "\"2\""
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/LowCostGetSubscriptionMaximum;23999,Microsoft.Compute/LowCostGetResource;35"
        ],
        "x-ms-need-to-refresh-epl-cache": [
          "False"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vmcrptestps7079\",\r\n  \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Compute/virtualMachines/vmcrptestps7079\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D2s_v3\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"vmId\": \"8393d4a9-d288-4b90-b8b9-0a360e0d8e19\",\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2022-datacenter-azure-edition\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\": \"20348.2762.241006\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"vmcrptestps7079_disk1_dfed83ac32724c5d9a8b1bf5d8a9c397\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n          \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Compute/disks/vmcrptestps7079_disk1_dfed83ac32724c5d9a8b1bf5d8a9c397\"\r\n        },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\": 127\r\n      },\r\n      \"dataDisks\": [],\r\n      \"diskControllerType\": \"SCSI\"\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vmcrptestps7079\",\r\n      \"adminUsername\": \"Foo2\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"AutomaticByOS\",\r\n          \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\": true\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/networkInterfaces/vmcrptestps7079\"\r\n        }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2024-11-07T11:13:27.815719+05:30\"\r\n  },\r\n  \"etag\": \"\\\"2\\\"\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/networkInterfaces/vmcrptestps7079?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/vmcrptestps7079' under resource group 'crptestps7079' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/virtualNetworks/vmcrptestps7079?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/vmcrptestps7079' under resource group 'crptestps7079' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/virtualNetworks/vmcrptestps7079?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"bb404934-499b-4b1d-8d98-5c6e270df295\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vmcrptestps7079\",\r\n  \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/virtualNetworks/vmcrptestps7079\",\r\n  \"etag\": \"W/\\\"bb404934-499b-4b1d-8d98-5c6e270df295\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"1ed02177-28b4-4905-9d26-84a6b265fa62\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"vmcrptestps7079\",\r\n        \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/virtualNetworks/vmcrptestps7079/subnets/vmcrptestps7079\",\r\n        \"etag\": \"W/\\\"bb404934-499b-4b1d-8d98-5c6e270df295\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"192.168.1.0/24\",\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/networkSecurityGroups/vmcrptestps7079?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkSecurityGroups/vmcrptestps7079' under resource group 'crptestps7079' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/networkSecurityGroups/vmcrptestps7079?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"7ba781f5-a5d0-4826-ae12-35e8a86c5176\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vmcrptestps7079\",\r\n  \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/networkSecurityGroups/vmcrptestps7079\",\r\n  \"etag\": \"W/\\\"7ba781f5-a5d0-4826-ae12-35e8a86c5176\\\"\",\r\n  \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"d5795dea-0715-4de7-b0cd-a12003aefcd5\",\r\n    \"securityRules\": [\r\n      {\r\n        \"name\": \"vmcrptestps70793389\",\r\n        \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/networkSecurityGroups/vmcrptestps7079/securityRules/vmcrptestps70793389\",\r\n        \"etag\": \"W/\\\"7ba781f5-a5d0-4826-ae12-35e8a86c5176\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/securityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"3389\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 1000,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"vmcrptestps70795985\",\r\n        \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/networkSecurityGroups/vmcrptestps7079/securityRules/vmcrptestps70795985\",\r\n        \"etag\": \"W/\\\"7ba781f5-a5d0-4826-ae12-35e8a86c5176\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/securityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"5985\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 1001,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      }\r\n    ],\r\n    \"defaultSecurityRules\": [\r\n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/networkSecurityGroups/vmcrptestps7079/defaultSecurityRules/AllowVnetInBound\",\r\n        \"etag\": \"W/\\\"7ba781f5-a5d0-4826-ae12-35e8a86c5176\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\",\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\": \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"[...]
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/networkSecurityGroups/vmcrptestps7079?api-version=2020-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"securityRules\": [\r\n      {\r\n        \"properties\": {\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"3389\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 1000,\r\n          \"direction\": \"Inbound\"\r\n        },\r\n        \"name\": \"vmcrptestps70793389\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"5985\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 1001,\r\n          \"direction\": \"Inbound\"\r\n        },\r\n        \"name\": \"vmcrptestps70795985\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"centraluseuap\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/providers/Microsoft.Network/locations/centraluseuap/operations/576746c0-94cf-464f-b98f-91c593a468b2?api-version=2020-11-01&t=638665549961672969&c=MIIHhzCCBm-gAwIBAgITfAWKQyvXag-zjrQDfwAABYpDKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTI0MDE0MzE0WhcNMjUwMzIzMDE0MzE0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
[...]
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/providers/Microsoft.Network/locations/centraluseuap/operations/576746c0-94cf-464f-b98f-91c593a468b2?api-version=2020-11-01&t=638665549961672969&c=MIIHhzCCBm-gAwIBAgITfAWKQyvXag-zjrQDfwAABYpDKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTI0MDE0MzE0WhcNMjUwMzIzMDE0MzE0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/providers/Microsoft.Network/locations/centraluseuap/operations/a908148e-6928-4c5c-a13f-941469a6886f?api-version=2020-11-01&t=638665549968186812&c=MIIHhzCCBm-gAwIBAgITfAWKQyvXag-zjrQDfwAABYpDKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTI0MDE0MzE0WhcNMjUwMzIzMDE0MzE0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/networkInterfaces/vmcrptestps7079?api-version=2020-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/networkSecurityGroups/vmcrptestps7079\"\r\n    },\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/virtualNetworks/vmcrptestps7079/subnets/vmcrptestps7079\"\r\n          }\r\n        },\r\n        \"name\": \"vmcrptestps7079\"\r\n      }\r\n    ],\r\n    \"enableAcceleratedNetworking\": false\r\n  },\r\n  \"location\": \"centraluseuap\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vmcrptestps7079\",\r\n  \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/networkInterfaces/vmcrptestps7079\",\r\n  \"etag\": \"W/\\\"f95c79f0-8ce7-4c22-bbf0-7744c1dfe302\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"f5bf1734-5d4b-4fa0-a2b9-86995c0316ec\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"vmcrptestps7079\",\r\n        \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/networkInterfaces/vmcrptestps7079/ipConfigurations/vmcrptestps7079\",\r\n        \"etag\": \"W/\\\"f95c79f0-8ce7-4c22-bbf0-7744c1dfe302\\\"\",\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"192.168.1.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/virtualNetworks/vmcrptestps7079/subnets/vmcrptestps7079\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"o2q3ahvufacuthjgqstlezp0mc.cdmx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/networkSecurityGroups/vmcrptestps7079\"\r\n    },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n    \"nicType\": \"Standard\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"centraluseuap\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Compute/virtualMachines/vmcrptestps7079?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D2s_v3\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2022-datacenter-azure-edition\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"createOption\": \"FromImage\"\r\n      }\r\n    },\r\n    \"additionalCapabilities\": {},\r\n    \"osProfile\": {\r\n      \"computerName\": \"vmcrptestps7079\",\r\n      \"adminUsername\": \"Foo2\",\r\n      \"adminPassword\": \"PLACEHOLDER1@\",\r\n      \"windowsConfiguration\": {}\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.Network/networkInterfaces/vmcrptestps7079\"\r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"location\": \"centraluseuap\"\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "\"1\""
        ],
        "Retry-After": [
    [...]
[...]
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/de1ac589-ab56-4a1c-84bc-b0d2bc9657b9?p=998719a1-0231-41ff-8083-920bb31aead6&api-version=2024-07-01&t=638665550088013675&c=MIIHhzCCBm-gAwIBAgITfAWZnAKDvd4xEuvOGQAABZmcAjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQxMDAzMDg1MDA1WhcNMjUwNDAxMDg1MDA1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlv[...]
[...]
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resources?$filter=resourceType%20eq%20'Microsoft.KeyVault%2Fvaults'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/adeu14kvrg/providers/Microsoft.KeyVault/vaults/adeu14kv\",\r\n      \"name\": \"adeu14kv\",\r\n      \"type\": \"Microsoft.KeyVault/vaults\",\r\n      \"location\": \"eastus2euap\",\r\n      \"tags\": {}\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/adejenkinsrg/providers/Microsoft.KeyVault/vaults/adejenkinskv\",\r\n      \"name\": \"adejenkinskv\",\r\n      \"type\": \"Microsoft.KeyVault/vaults\",\r\n      \"location\": \"eastus2euap\",\r\n      \"tags\": {}\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/ejadeprerg/providers/Microsoft.KeyVault/vaults/ejadeprekv\",\r\n      \"[...]
    {
      "RequestUri": "/v1.0/me",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ags-diagnostic": [
          "{\"ServerInfo\":{\"DataCenter\":\"Central India\",\"Slice\":\"E\",\"Ring\":\"3\",\"ScaleUnit\":\"001\",\"RoleInstance\":\"PN3PEPF000003AE\"}}"
        ],
        "x-ms-resource-unit": [
          "1"
        ],
        "OData-Version": [
          "4.0"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://graph.microsoft.com/v1.0/$metadata#users/$entity\",\r\n  \"businessPhones\": [],\r\n  \"displayName\": \"Anshul Jain\",\r\n  \"givenName\": \"Anshul\",\r\n  \"jobTitle\": \"Software Engineer 2\",\r\n  \"mail\": \"anshjain@microsoft.com\",\r\n  \"mobilePhone\": null,\r\n  \"officeLocation\": \"NOIDA SOVEREIGN/Mobile\",\r\n  \"preferredLanguage\": null,\r\n  \"surname\": \"Jain\",\r\n  \"userPrincipalName\": \"anshjain@microsoft.com\",\r\n  \"id\": \"14547a0b-20d4-46e2-9caf-72729342b466\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps7079/providers/Microsoft.KeyVault/vaults/crptestps7079-kv?api-version=2022-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
[...]
