{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Consumption/budgets/PSBudgetNotified?api-version=2018-01-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Consumption/budgets/PSBudgetNotified\",\r\n  \"name\": \"PSBudgetNotified\",\r\n  \"type\": \"Microsoft.Consumption/budgets\",\r\n  \"eTag\": \"\\\"1d3fc3a0d85dde7\\\"\",\r\n  \"properties\": {\r\n    \"timePeriod\": {\r\n      \"startDate\": \"2018-06-01T00:00:00Z\",\r\n      \"endDate\": \"2018-11-01T00:00:00Z\"\r\n    },\r\n    \"timeGrain\": \"Monthly\",\r\n    \"amount\": 60.0,\r\n    \"currentSpend\": {\r\n      \"amount\": 449.29636707350875,\r\n      \"unit\": \"USD\"\r\n    },\r\n    \"category\": \"Cost\",\r\n    \"notifications\": {\r\n      \"budget100Percent\": {\r\n        \"enabled\": false,\r\n        \"operator\": \"GreaterThanOrEqualTo\",\r\n        \"threshold\": 100.0,\r\n        \"contactEmails\": [\r\n          \"johndoe@contoso.com\",\r\n          \"janesmith@contoso.com\"\r\n        ],\r\n        \"contactRoles\": [\r\n          \"Owner\",\r\n          \"Reader\",\r\n          \"Contributor\"\r\n        ],\r\n        \"contactGroups\": []\r\n      }\r\n    },\r\n    \"filters\": {\r\n      \"resourceGroups\": [],\r\n      \"resources\": [],\r\n      \"meters\": [],\r\n      \"tags\": {}\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "session-id": [
          "ccd02824-4f2a-4682-bdd3-fb1f7305c850"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Consumption/budgets/PSBudgetNotified?api-version=2018-01-31",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"category\": \"Cost\",\r\n    \"amount\": 60.0,\r\n    \"timeGrain\": \"Monthly\",\r\n    \"timePeriod\": {\r\n      \"startDate\": \"2018-06-01T00:00:00Z\",\r\n      \"endDate\": \"2018-11-01T00:00:00Z\"\r\n    },\r\n    \"filters\": {\r\n      \"resourceGroups\": [],\r\n      \"resources\": [],\r\n      \"meters\": []\r\n    },\r\n    \"notifications\": {\r\n      \"budget100Percent\": {\r\n        \"enabled\": false,\r\n        \"operator\": \"GreaterThanOrEqualTo\",\r\n        \"threshold\": 100.0,\r\n        \"contactEmails\": [\r\n          \"johndoe@contoso.com\",\r\n          \"janesmith@contoso.com\"\r\n        ],\r\n        \"contactRoles\": [\r\n          \"Owner\",\r\n          \"Reader\",\r\n          \"Contributor\"\r\n        ],\r\n        \"contactGroups\": []\r\n      },\r\n      \"budget200Percent\": {\r\n        \"enabled\": false,\r\n        \"operator\": \"GreaterThanOrEqualTo\",\r\n        \"threshold\": 200.0,\r\n        \"contactEmails\": [\r\n          \"johndoe@contoso.com\",\r\n          \"janesmith@contoso.com\"\r\n        ]\r\n      }\r\n    }\r\n  },\r\n  \"eTag\": \"\\\"1d3fc3a0d85dde7\\\"\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/1caaa5a3-2b66[...]
