{
  "Entries": [
    {
      "RequestUri": "/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policyAssignments/45ab2ab7898d45ebb3087573/providers/Microsoft.PolicyInsights/policyEvents/default/queryResults?api-version=2018-04-04&$top=10",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policyAssignments/45ab2ab7898d45ebb3087573/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default\",\r\n  \"@odata.count\": 10,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policyAssignments/45ab2ab7898d45ebb3087573/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity\",\r\n      \"timestamp\": \"2018-06-04T19:06:20.0432288Z\",\r\n      \"resourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/arttest8a69f44f-c94f-4888-ab28-34860b7f59c2\",\r\n      \"policyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policyAssignments/45ab2ab7898d45ebb3087573\",\r\n      \"policyDefinitionId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policyDefinitions/c7b9982d-2f50-4730-935f-5c241982a441\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"d0610b27-9663-4c05-89f8-5b4be01e86a5\",\r\n      \"resourceType\": \"/Microsoft.Resources/subscriptions/resourceGroups\",\r\n      \"resourceLocation\": \"eastus\",\r\n      \"resourceGroup\": \"arttest8a69f44f-c94f-4888-ab28-34860b7f59c2\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"45ab2ab7898d45ebb3087573\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"{}\",\r\n      \"policyAssignmentScope\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5\",\r\n      \"policyDefinitionName\": \"c7b9982d-2f50-4730-935f-5c241982a441\",\r\n      \"policyDefinitionAction\": \"auditifnotexists\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"\",\r\n      \"policySetDefinitionName\": \"\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"ArtTest2,ArtTest1,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"\",\r\n      \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"principalOid\": \"8469722b-a481-456f-ac8c-2d837b836d66\"\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policyAssignments/45ab2ab7898d45ebb3087573/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity\",\r\n      \"timestamp\": \"2018-06-04T18:56:22.5757593Z\",\r\n      \"resourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourc[...]
