{
  "Remove-AzHealthBot+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/youriADDomain-rg-nf29bz/providers/Microsoft.HealthBot/healthBots/yourihealthbotsb4tv1?api-version=2020-12-08+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/youriADDomain-rg-nf29bz/providers/Microsoft.HealthBot/healthBots/yourihealthbotsb4tv1?api-version=2020-12-08",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14999" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Remove-AzHealthBot+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HealthBot/healthBots?api-version=2020-12-08+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HealthBot/healthBots?api-version=2020-12-08",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11996" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[]}"
    }
  },
  "Remove-AzHealthBot+[NoContext]+DeleteViaIdentity+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/youriADDomain-rg-nf29bz/providers/Microsoft.HealthBot/healthBots/yourihealthbotfyok8p?api-version=2020-12-08+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/youriADDomain-rg-nf29bz/providers/Microsoft.HealthBot/healthBots/yourihealthbotfyok8p?api-version=2020-12-08",
      "Content": "{\r\n  \"location\": \"eastus\",\r\n  \"sku\": {\r\n    \"name\": \"F0\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"ce000609-0000-0100-0000-5fec24a20000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/21644340-a724-4f70-a3fc-a3c2a6ef6efb?api-version=2020-12-08" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/youriADDomain-rg-nf29bz/providers/Microsoft.HealthBot/healthBots/yourihealthbotfyok8p\",\"name\":\"yourihealthbotfyok8p\",\"type\":\"Microsoft.HealthBot/healthBots\",\"sku\":{\"name\":\"F0\"},\"location\":\"eastus\",\"systemData\":{\"createdBy\":\"v-lipyo@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2020-12-30T06:56:32.9811756Z\",\"lastModifiedBy\":\"v-lipyo@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2020-12-30T06:56:32.9811756Z\"},\"properties\":{\"provisioningState\":\"Accepted\"}}"
    }
  },
  "Remove-AzHealthBot+[NoContext]+DeleteViaIdentity+$GET+https://management.azure.com/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/21644340-a724-4f70-a3fc-a3c2a6ef6efb?api-version=2020-12-08+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/21644340-a724-4f70-a3fc-a3c2a6ef6efb?api-version=2020-12-08",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "4" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"b000aa29-0000-0100-0000-5fec24a30000\"" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/21644340-a724-4f70-a3fc-a3c2a6ef6efb\",\"name\":\"21644340-a724-4f70-a3fc-a3c2a6ef6efb\",\"resourceId\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/youriADDomain-rg-nf29bz/providers/Microsoft.HealthBot/healthBots/yourihealthbotfyok8p\",\"status\":\"Working\",\"startTime\":\"2020-12-30T06:56:33.9622567Z\"}"
    }
  },
  "Remove-AzHealthBot+[NoContext]+DeleteViaIdentity+$GET+https://management.azure.com/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/21644340-a724-4f70-a3fc-a3c2a6ef6efb?api-version=2020-12-08+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/21644340-a724-4f70-a3fc-a3c2a6ef6efb?api-version=2020-12-08",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "5" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"b0005e2c-0000-0100-0000-5fec24cf0000\"" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.HealthBot/locations/EASTUS/operationStatuses/21644340-a724-4f70-a3fc-a3c2a6ef6efb\",\"name\":\"21644340-a724-4f70-a3fc-a3c2a6ef6efb\",\"resourceId\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/youriADDomain-rg-nf29bz/providers/Microsoft.HealthBot/healthBots/yourihealthbotfyok8p\",\"status\":\"Succeeded\",\"startTime\":\"2020-12-30T06:56:33.9622567Z\",\"endTime\":\"2020-12-30T06:57:19.3170698Z\",\"properties\":null}"
    }
  },
  "Remove-AzHealthBot+[NoContext]+DeleteViaIdentity+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/youriADDomain-rg-nf29bz/providers/Microsoft.HealthBot/healthBots/yourihealthbotfyok8p?api-version=2020-12-08+4": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/youriADDoma[...]
