{
  "Remove-AzStackHciCluster+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/azurestackhci-pwsh-rg-h2/providers/Microsoft.AzureStackHCI/clusters/pwsh-Clusterqvip-remove?api-version=2022-05-01+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/azurestackhci-pwsh-rg-h2/providers/Microsoft.AzureStackHCI/clusters/pwsh-Clusterqvip-remove?api-version=2022-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "19" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "ETag": [ "\"1400bbb6-0000-0100-0000-62a9bb740000\"" ],
        "Location": [ "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/8977c6d6-78ba-41a8-89c3-236aadbc57f3*1C3E132371032632A6B781BA8DEF57537F754EC98E9A94EE1356332EBC2D8F94?api-version=2022-05-01" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14998" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/8977c6d6-78ba-41a8-89c3-236aadbc57f3*1C3E132371032632A6B781BA8DEF57537F754EC98E9A94EE1356332EBC2D8F94?api-version=2022-05-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "bnVsbA==",
    }
  },
  "Remove-AzStackHciCluster+[NoContext]+Delete+$GET+https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/8977c6d6-78ba-41a8-89c3-236aadbc57f3*1C3E132371032632A6B781BA8DEF57537F754EC98E9A94EE1356332EBC2D8F94?api-version=2022-05-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/8977c6d6-78ba-41a8-89c3-236aadbc57f3*1C3E132371032632A6B781BA8DEF57537F754EC98E9A94EE1356332EBC2D8F94?api-version=2022-05-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "20" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "ETag": [ "\"0200051b-0000-0100-0000-62a9bb740000\"" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/8977c6d6-78ba-41a8-89c3-236aadbc57f3*1C3E132371032632A6B781BA8DEF57537F754EC98E9A94EE1356332EBC2D8F94\",\"name\":\"8977c6d6-78ba-41a8-89c3-236aadbc57f3*1C3E132371032632A6B781BA8DEF57537F754EC98E9A94EE1356332EBC2D8F94\",\"resourceId\":\"/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/azurestackhci-pwsh-rg-h2/providers/Microsoft.AzureStackHCI/clusters/pwsh-Clusterqvip-remove\",\"status\":\"Deleting\",\"startTime\":\"2022-06-15T10:59:00.4503997Z\"}",
    }
  },
  "Remove-AzStackHciCluster+[NoContext]+Delete+$GET+https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/8977c6d6-78ba-41a8-89c3-236aadbc57f3*1C3E132371032632A6B781BA8DEF57537F754EC98E9A94EE1356332EBC2D8F94?api-version=2022-05-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/8977c6d6-78ba[...]
