{
  "Update-AzStackHciCluster+[NoContext]+UpdateExpanded+$PATCH+https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/azurestackhci-pwsh-rg-h2/providers/Microsoft.AzureStackHCI/clusters/pwsh-Clusterqvip?api-version=2022-05-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/azurestackhci-pwsh-rg-h2/providers/Microsoft.AzureStackHCI/clusters/pwsh-Clusterqvip?api-version=2022-05-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"desiredProperties\": {\r\n      \"windowsServerSubscription\": \"Disabled\",\r\n      \"diagnosticLevel\": \"Enhanced\"\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"14008dbe-0000-0100-0000-62a9bbd40000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1188" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "bbf023ef-a1d8-43f1-ac44-f2ddd26c5939" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/ff0aa6da-20f8-44fe-9aee-381c8e8a4aeb/resourceGroups/azurestackhci-pwsh-rg-h2/providers/Microsoft.AzureStackHCI/clusters/pwsh-Clusterqvip\",\"name\":\"pwsh-Clusterqvip\",\"type\":\"microsoft.azurestackhci/clusters\",\"location\":\"eastus\",\"systemData\":{\"createdBy\":\"lsweeney@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-06-15T10:57:40.4886031Z\",\"lastModifiedBy\":\"lsweeney@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2022-06-15T11:00:36.3233771Z\"},\"properties\":{\"status\":\"NotYetRegistered\",\"cloudId\":\"388070bd-a5f2-4f68-9144-625519cf3746\",\"aadClientId\":\"a47e35a6-f7c0-408c-8045-d813cd41d51a\",\"aadTenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"desiredProperties\":{\"windowsServerSubscription\":\"Disabled\",\"diagnosticLevel\":\"Enhanced\"},\"trialDaysRemaining\":60,\"billingModel\":\"Trial\",\"provisioningState\":\"Succeeded\",\"serviceEndpoint\":\"https://dp.stackhci.azure.com/eastus/\"}}",
    }
  }
}