{
  "AzVMwarePrivateCloudVcenterPassword+[NoContext]+Rotate+$POST+https://management.azure.com/subscriptions/cef41485-ad1e-4cc3-a652-4c2620b8a2d0/resourceGroups/testgrouponhszx/providers/Microsoft.AVS/privateClouds/azps_test_cloud9tpn/rotateVcenterPassword?api-version=2021-12-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/cef41485-ad1e-4cc3-a652-4c2620b8a2d0/resourceGroups/testgrouponhszx/providers/Microsoft.AVS/privateClouds/azps_test_cloud9tpn/rotateVcenterPassword?api-version=2021-12-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "83" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 204,
      "Headers": {
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  }
}