{
  "AzVMwareCluster+[NoContext]+List+$PUT+https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_1/providers/Microsoft.AVS/privateClouds/azps_test_cloud_1/clusters/twp4gr?api-version=2021-06-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_1/providers/Microsoft.AVS/privateClouds/azps_test_cloud_1/clusters/twp4gr?api-version=2021-06-01",
      "Content": "{\r\n  \"sku\": {\r\n    \"name\": \"av20\"\r\n  },\r\n  \"properties\": {\r\n    \"clusterSize\": 3\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Retry-After": [ "10" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_1/providers/Microsoft.AVS/privateClouds/azps_test_cloud_1/clusters/twp4gr/operationstatuses/5350a973-0c7f-480b-b482-0fcd16dc7cd2?api-version=2021-06-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_1/providers/Microsoft.AVS/privateClouds/azps_test_cloud_1/clusters/twp4gr\",\"name\":\"twp4gr\",\"properties\":{\"clusterId\":2,\"clusterSize\":3,\"hosts\":[\"gp-fakehost14.mp01.mock01.vmcp.vs.management\",\"gp-fakehost10.mp01.mock01.vmcp.vs.management\",\"gp-fakehost11.mp01.mock01.vmcp.vs.management\"],\"provisioningState\":\"Building\"},\"sku\":{\"name\":\"av20\"},\"type\":\"Microsoft.AVS/privateClouds/clusters\"}",
    }
  },
  "AzVMwareCluster+[NoContext]+List+$GET+https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_1/providers/Microsoft.AVS/privateClouds/azps_test_cloud_1/clusters/twp4gr/operationstatuses/5350a973-0c7f-480b-b482-0fcd16dc7cd2?api-version=2021-06-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_1/providers/Microsoft.AVS/privateClouds/azps_test_cloud_1/clusters/twp4gr/operationstatuses/5350a973-0c7f-480b-b482-0fcd16dc7cd2?api-version=2021-06-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "65" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Retry-After": [ "10" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "14987" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_1/providers/Microsoft.AVS/privateClouds/azps_test_cloud_1/clusters/twp4gr/operationstatuses/5350a973-0c7f-480b-b482-0fcd16dc7cd2\",\"name\":\"5350a973-0c7f-480b-b482-0fcd16dc7cd2\",\"percentComplete\":0,\"startTime\":\"2021-07-29T03:54:57.1611985+00:00\",\"status\":\"Building\"}",
    }
  },
  "AzVMwareCluster+[NoContext]+List+$GET+https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_1/providers/Microsoft.AVS/privateClouds/azps_test_cloud_1/clusters/twp4gr/operationstatuses/5350a973-0c7f-480b-b482-0fcd16dc7cd2?api-version=2021-06-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_te[...]
