{
  "Get-AzVMwareClusterZone+[NoContext]+List+$POST+https://management.azure.com/subscriptions/60d6b3c7-5ae0-4491-8ea3-3caf8d7afc4c/resourceGroups/TestSddc-rg/providers/Microsoft.AVS/privateClouds/SDDC2/clusters/Cluster-1/listZones?api-version=2023-03-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/60d6b3c7-5ae0-4491-8ea3-3caf8d7afc4c/resourceGroups/TestSddc-rg/providers/Microsoft.AVS/privateClouds/SDDC2/clusters/Cluster-1/listZones?api-version=2023-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"zones\":[{\"hosts\":[\"esx09-r09.p01.canadacentral.avs.azure.com\",\"esx02-r06.p01.canadacentral.avs.azure.com\",\"esx20-r08.p01.canadacentral.avs.azure.com\"],\"zone\":\"3\"}]}",
    }
  }
}