{
  "New-AzVMwarePrivateCloud+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroupl4kn07/providers/Microsoft.AVS/privateClouds/9d68cv?api-version=2021-06-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroupl4kn07/providers/Microsoft.AVS/privateClouds/9d68cv?api-version=2021-06-01",
      "Content": "{\r\n  \"location\": \"australiaeast\",\r\n  \"sku\": {\r\n    \"name\": \"av36\"\r\n  },\r\n  \"properties\": {\r\n    \"managementCluster\": {\r\n      \"clusterSize\": 3\r\n    },\r\n    \"networkBlock\": \"192.168.48.0/22\"\r\n  }\r\n}",
      "Headers": {},
      "ContentHeaders": {
        "Content-Type": [
          "application/json"
        ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroupl4kn07/providers/Microsoft.AVS/privateClouds/9d68cv/operationstatuses/38f0ec3b-e391-4a10-97ee-1187f6026b87?api-version=2021-06-01"
        ]
      },
      "ContentHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroupl4kn07/providers/Microsoft.AVS/privateClouds/9d68cv\",\"location\":\"australiaeast\",\"name\":\"9d68cv\",\"properties\":{\"endpoints\":{\"hcxCloudManager\":\"https://192.168.48.9/\",\"nsxtManager\":\"https://192.168.48.3/\",\"vcsa\":\"https://192.168.48.2/\"},\"externalCloudLinks\":[],\"identitySources\":[],\"internet\":\"Disabled\",\"managementCluster\":{\"clusterId\":1,\"clusterSize\":3,\"hosts\":[\"esx01-r05.p01.australiaeast.avs.azure.com\",\"esx14-r07.p01.australiaeast.avs.azure.com\",\"esx04-r08.p01.australiaeast.avs.azure.com\"],\"provisioningState\":\"Building\"},\"managementNetwork\":\"192.168.48.0/26\",\"networkBlock\":\"192.168.48.0/22\",\"provisioningNetwork\":\"192.168.50.0/25\",\"provisioningState\":\"Building\",\"vmotionNetwork\":\"192.168.49.128/25\"},\"sku\":{\"name\":\"av36\"},\"tags\":{},\"type\":\"Microsoft.AVS/privateClouds\"}",
    }
  },
  "New-AzVMwarePrivateCloud+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroupl4kn07/providers/Microsoft.AVS/privateClouds/9d68cv/operationstatuses/38f0ec3b-e391-4a10-97ee-1187f6026b87?api-version=2021-06-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroupl4kn07/providers/Microsoft.AVS/privateClouds/9d68cv/operationstatuses/38f0ec3b-e391-4a10-97ee-1187f6026b87?api-version=2021-06-01",
      "Content": null,
      "Headers": {
        "Authorization": [
          "[Filtered]"
        ],
        "x-ms-unique-id": [
          "3"
        ]
      },
      "ContentHeaders": {}
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ]
      },
      "ContentHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroupl4kn07/providers/Microsoft.AVS/privateClouds/9d68cv/operationstatuses/38f0ec3b-e391-4a10-97ee-1187f6026b87\",\"name\":\"38f0ec3b-e391-4a10-97ee-1187f6026b87\",\"percentComplete\":0,\"startTime\":\"2021-07-12T07:58:32.3005369+00:00\",\"status\":\"Building\"}",
    }
  },
  "New-AzVMwarePrivateCloud+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroupl4kn07/providers/Microsoft.AVS/privateClouds/9d68cv/operationstatuses/38f0ec3b-e391-4a10-97ee-1187f6026b87?api-version=2021-06-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroupl4kn07/p[...]
