{
  "New-AzVMwareCluster+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_2/providers/Microsoft.AVS/privateClouds/azps_test_cloud_2/clusters/wmvla1?api-version=2021-06-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_2/providers/Microsoft.AVS/privateClouds/azps_test_cloud_2/clusters/wmvla1?api-version=2021-06-01",
      "Content": "{\r\n  \"sku\": {\r\n    \"name\": \"av36\"\r\n  },\r\n  \"properties\": {\r\n    \"clusterSize\": 3\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Retry-After": [ "10" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1194" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_2/providers/Microsoft.AVS/privateClouds/azps_test_cloud_2/clusters/wmvla1/operationstatuses/16098e15-34b3-444b-b580-12df20b85f7b?api-version=2021-06-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_2/providers/Microsoft.AVS/privateClouds/azps_test_cloud_2/clusters/wmvla1\",\"name\":\"wmvla1\",\"properties\":{\"clusterId\":2,\"clusterSize\":3,\"hosts\":[\"he-fakehost19.mp01.mock01.vmcp.vs.management\",\"he-fakehost34.mp01.mock01.vmcp.vs.management\",\"he-fakehost45.mp01.mock01.vmcp.vs.management\"],\"provisioningState\":\"Building\"},\"sku\":{\"name\":\"av36\"},\"type\":\"Microsoft.AVS/privateClouds/clusters\"}",
    }
  },
  "New-AzVMwareCluster+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_2/providers/Microsoft.AVS/privateClouds/azps_test_cloud_2/clusters/wmvla1/operationstatuses/16098e15-34b3-444b-b580-12df20b85f7b?api-version=2021-06-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_2/providers/Microsoft.AVS/privateClouds/azps_test_cloud_2/clusters/wmvla1/operationstatuses/16098e15-34b3-444b-b580-12df20b85f7b?api-version=2021-06-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "120" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Retry-After": [ "10" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "14940" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_2/providers/Microsoft.AVS/privateClouds/azps_test_cloud_2/clusters/wmvla1/operationstatuses/16098e15-34b3-444b-b580-12df20b85f7b\",\"name\":\"16098e15-34b3-444b-b580-12df20b85f7b\",\"percentComplete\":0,\"startTime\":\"2021-07-29T04:01:36.3801542+00:00\",\"status\":\"Building\"}",
    }
  },
  "New-AzVMwareCluster+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_2/providers/Microsoft.AVS/privateClouds/azps_test_cloud_2/clusters/wmvla1/operationstatuses/16098e15-34b3-444b-b580-12df20b85f7b?api-version=2021-06-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resource[...]
