{
  "New-AzVMwareAuthorization+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup5097kq/providers/Microsoft.AVS/privateClouds/ujapnt?api-version=2020-03-20+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup5097kq/providers/Microsoft.AVS/privateClouds/ujapnt?api-version=2020-03-20",
      "Content": "{\r\n  \"location\": \"australiaeast\",\r\n  \"properties\": {\r\n    \"managementCluster\": {\r\n      \"clusterSize\": 3\r\n    },\r\n    \"networkBlock\": \"192.168.48.0/22\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"av36\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Retry-After": [ "10" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup5097kq/providers/Microsoft.AVS/privateClouds/ujapnt/operationstatuses/74aa20a4-1ba5-418c-9f75-319fc8891336?api-version=2020-03-20" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup5097kq/providers/Microsoft.AVS/privateClouds/ujapnt\",\"location\":\"australiaeast\",\"name\":\"ujapnt\",\"properties\":{\"endpoints\":{\"hcxCloudManager\":\"https://192.168.48.6/\",\"nsxtManager\":\"https://192.168.48.3/\",\"vcsa\":\"https://192.168.48.2/\"},\"identitySources\":[],\"internet\":\"Disabled\",\"managementCluster\":{\"clusterId\":1,\"clusterSize\":3,\"hosts\":[\"esx22-r09.p01.australiaeast.avs.azure.com\",\"esx21-r09.p01.australiaeast.avs.azure.com\",\"esx21-r08.p01.australiaeast.avs.azure.com\"],\"provisioningState\":\"Building\"},\"managementNetwork\":\"192.168.48.0/26\",\"networkBlock\":\"192.168.48.0/22\",\"provisioningNetwork\":\"192.168.50.0/25\",\"provisioningState\":\"Building\",\"vmotionNetwork\":\"192.168.49.128/25\"},\"sku\":{\"name\":\"av36\"},\"tags\":{},\"type\":\"Microsoft.AVS/privateClouds\"}"
    }
  },
  "New-AzVMwareAuthorization+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup5097kq/providers/Microsoft.AVS/privateClouds/ujapnt/operationstatuses/74aa20a4-1ba5-418c-9f75-319fc8891336?api-version=2020-03-20+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup5097kq/providers/Microsoft.AVS/privateClouds/ujapnt/operationstatuses/74aa20a4-1ba5-418c-9f75-319fc8891336?api-version=2020-03-20",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "3" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Retry-After": [ "10" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup5097kq/providers/Microsoft.AVS/privateClouds/ujapnt/operationstatuses/74aa20a4-1ba5-418c-9f75-319fc8891336\",\"name\":\"74aa20a4-1ba5-418c-9f75-319fc8891336\",\"percentComplete\":0,\"startTime\":\"2020-09-13T03:58:56.2665964+00:00\",\"status\":\"Building\"}"
    }
  },
  "New-AzVMwareAuthorization+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup5097kq/providers/Microsoft.AVS/privateClouds/ujapnt/operationstatuses/74aa20a4-1ba5-418c-9f75-319fc8891336?api-version=2020-03-20+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup5097kq/p[...]
