{
  "Remove-AzVMwareCloudLink+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_1/providers/Microsoft.AVS/privateClouds/azps_test_cloud_1/cloudLinks/azslrt?api-version=2021-06-01+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_1/providers/Microsoft.AVS/privateClouds/azps_test_cloud_1/cloudLinks/azslrt?api-version=2021-06-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "162" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_1/providers/Microsoft.AVS/privateClouds/azps_test_cloud_1/cloudLinks/azslrt/operationresults/cf553742-c046-47bb-8ff3-5b81a1ee1458?api-version=2021-06-01" ],
        "Retry-After": [ "10" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14996" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_1/providers/Microsoft.AVS/privateClouds/azps_test_cloud_1/cloudLinks/azslrt/operationstatuses/cf553742-c046-47bb-8ff3-5b81a1ee1458?api-version=2021-06-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_1/providers/Microsoft.AVS/privateClouds/azps_test_cloud_1/cloudLinks/azslrt\",\"name\":\"azslrt\",\"properties\":{\"linkedCloud\":\"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_2/providers/Microsoft.AVS/privateClouds/azps_test_cloud_2\",\"status\":\"Deleting\"},\"type\":\"Microsoft.AVS/privateClouds/cloudLinks\"}",
    }
  },
  "Remove-AzVMwareCloudLink+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_1/providers/Microsoft.AVS/privateClouds/azps_test_cloud_1/cloudLinks/azslrt/operationstatuses/cf553742-c046-47bb-8ff3-5b81a1ee1458?api-version=2021-06-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_1/providers/Microsoft.AVS/privateClouds/azps_test_cloud_1/cloudLinks/azslrt/operationstatuses/cf553742-c046-47bb-8ff3-5b81a1ee1458?api-version=2021-06-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "163" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Retry-After": [ "10" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "14905" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_1/providers/Microsoft.AVS/privateClouds/azps_test_cloud_1/cloudLinks/azslrt/operationstatuses/cf553742-c046-47bb-8ff3-5b81a1ee1458\",\"name\":\"cf553742-c046-47bb-8ff3-5b81a1ee1458\",\"percentComplete\":0,\"startTime\":\"2021-07-29T04:08:43.4536734+00:00\",\"status\":\"Building\"}",
    }
  },
  "Remove-AzVMwareCloudLink+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/ba75e79b-dd95-4025-9dbf-3a7ae8dff2b5/resourceGroups/azps_test_group_1/providers/Microsoft.AVS/privateClouds/azps_test_cloud_1/cloudLinks/azslrt/operationstatuses/cf553742-c046-47bb-8ff3-5b81a1ee1458?api-version=2021-06-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptio[...]
