{
  "Test-AzVMWareLocationQuotaAvailability+[NoContext]+Check+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AVS/locations/australiaeast/checkQuotaAvailability?api-version=2020-03-20+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AVS/locations/australiaeast/checkQuotaAvailability?api-version=2020-03-20",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "409" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11740" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"hostsRemaining\":{\"gp\":0,\"he\":27},\"quotaEnabled\":\"Enabled\"}"
    }
  }
}