{
    "Entries": [
        {
            "RequestUri": "/subscriptions/69d3b60e-9ed0-414d-abc2-02a54d09b7a8/resourceGroups/TestRg/providers/Microsoft.Sql/servers/test-srv-v1/databases?api-version=2014-04-01&$expand=upgradeHint",
            "RequestMethod": "GET",
            "RequestBody": "",
            "RequestHeaders": {
            },
            "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/69d3b60e-9ed0-414d-abc2-02a54d09b7a8/resourceGroups/TestRg/providers/Microsoft.Sql/servers/test-srv-v1/databases/master\",\r\n      \"name\": \"master\",\r\n      \"type\": \"Microsoft.Sql/servers/databases\",\r\n      \"location\": \"West US\",\r\n      \"kind\": \"v2.0,system\",\r\n      \"properties\": {\r\n        \"databaseId\": \"09bff456-5a6b-4ca8-8b96-f8060b6ffe7c\",\r\n        \"edition\": \"System\",\r\n        \"status\": \"Online\",\r\n        \"serviceLevelObjective\": \"System\",\r\n        \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n        \"maxSizeBytes\": \"5368709120\",\r\n        \"creationDate\": \"2015-05-25T16:11:14.163Z\",\r\n        \"currentServiceObjectiveId\": \"26e021db-f1f9-4c98-84c6-92af8ef433d7\",\r\n        \"requestedServiceObjectiveId\": \"26e021db-f1f9-4c98-84c6-92af8ef433d7\",\r\n        \"requestedServiceObjectiveName\": null,\r\n        \"defaultSecondaryLocation\": \"North Central US\",\r\n        \"earliestRestoreDate\": null,\r\n        \"upgradeHint\": {\r\n          \"targetServiceLevelObjective\": \"S0\",\r\n          \"targetServiceLevelObjectiveId\": \"f1173c43-91bd-4aaa-973c-54e79e15235b\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/69d3b60e-9ed0-414d-abc2-02a54d09b7a8/resourceGroups/TestRg/providers/Microsoft.Sql/servers/test-srv-v1/databases/test-db-v1\",\r\n      \"name\": \"test-db-v1\",\r\n      \"type\": \"Microsoft.Sql/servers/databases\",\r\n      \"location\": \"West US\",\r\n      \"kind\": \"v2.0,user\",\r\n      \"properties\": {\r\n        \"databaseId\": \"ac247d16-ebd4-4fcb-a4c8-afbc5831615c\",\r\n        \"edition\": \"Standard\",\r\n        \"status\": \"Online\",\r\n        \"serviceLevelObjective\": \"S0\",\r\n        \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n        \"maxSizeBytes\": \"268435456000\",\r\n        \"creationDate\": \"2015-05-25T16:12:15.787Z\",\r\n        \"currentServiceObjectiveId\": \"f1173c43-91bd-4aaa-973c-54e79e15235b\",\r\n        \"requestedServiceObjectiveId\": \"f1173c43-91bd-4aaa-973c-54e79e15235b\",\r\n        \"requestedServiceObjectiveName\": null,\r\n        \"defaultSecondaryLocation\": \"North Central US\",\r\n        \"earliestRestoreDate\": \"2015-05-25T16:13:15.787Z\",\r\n        \"upgradeHint\": {\r\n          \"targetServiceLevelObjective\": \"S0\",\r\n          \"targetServiceLevelObjectiveId\": \"f1173c43-91bd-4aaa-973c-54e79e15235b\"\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
            "ResponseHeaders": {
                "Content-Type": [
                    "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
                ],
                "DataServiceVersion": [
                    "3.0;"
                ],
                "x-ms-ratelimit-remaining-subscription-reads": [
                    "14964"
                ]
            },
            "StatusCode": 200
        },
        {
            "RequestUri": "/subscriptions/69d3b60e-9ed0-414d-abc2-02a54d09b7a8/resourceGroups/TestRg/providers/Microsoft.Sql/servers/test-srv-v1/recommendedElasticPools?api-version=2014-04-01&$expand=databases",
            "RequestMethod": "GET",
            "RequestBody": "",
            "RequestHeaders": {
            },
            "ResponseBody": "{\r\n  \"value\": []\r\n}",
            "ResponseHeaders": {
                "Content-Type": [
                    "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
                ],
                "DataServiceVersion": [
                    "3.0;"
                ],
                "x-ms-ratelimit-remaining-subscription-reads": [
                    "14963"
                ]
            },
            "StatusCode": 200
        },
[...]
        {
            "RequestUri": "/subscriptions/69d3b60e-9ed0-414d-abc2-02a54d09b7a8/resourceGroups/TestRg/providers/Microsoft.Sql/servers/test-srv-v1/recommendedElasticPools?api-version=2014-04-01&$expand=databases",
            "RequestMethod": "GET",
            "RequestBody": "",
            "RequestHeaders": {
            },
            "ResponseBody": "{\r\n  \"value\": []\r\n}",
            "ResponseHeaders": {
                "Content-Type": [
                    "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
                ],
                "DataServiceVersion": [
                    "3.0;"
                ],
                "x-ms-ratelimit-remaining-subscription-reads": [
                    "14962"
                ]
            },
            "StatusCode": 200
        }
    ],
    "Names": { },
    "Variables": {
        "SubscriptionId": "69d3b60e-9ed0-414d-abc2-02a54d09b7a8"
    }
}