parameters:
  osName: ''
  configuration: ''
  testFramework: ''

steps:
- template: download-build-steps.yml
  parameters:
    artifactName: build-${{ parameters.testFramework }}
- task: NodeTool@0
  condition: eq(variables.IsGenerateBased, true)
  displayName: Install autorest
  inputs:
    versionSpec: '14.17.1'
    command: custom
    verbose: false
    customCommand: install autorest@latest
- task: PowerShell@2
  condition: eq(variables.IsGenerateBased, true)
  displayName: Setup environment for autorest
  inputs:
    targetType: inline
    script: "$env:NODE_OPTIONS=\"--max-old-space-size=65536\""
    pwsh: true

- task: UseDotNet@2
  displayName: 'Use .NET Core sdk'
  inputs:
    packageType: sdk
    version: 3.1.x

- pwsh: 'Install-Module "platyPS", "PSScriptAnalyzer" -Force -Confirm:$false -Scope CurrentUser'
  displayName: 'Install PowerShell Dependencies'
  
- task: DotNetCoreCLI@2
  displayName: 'Generate Help'
  inputs:
    command: custom
    custom: msbuild
    arguments: 'build.proj /t:GenerateHelp /p:Configuration=${{ parameters.configuration }};PullRequestNumber=$(System.PullRequest.PullRequestNumber)'

- task: DotNetCoreCLI@2
  displayName: 'Static Analysis'
  inputs:
    command: custom
    custom: msbuild
    arguments: 'build.proj /t:StaticAnalysis /p:Configuration=${{ parameters.configuration }};PullRequestNumber=$(System.PullRequest.PullRequestNumber)'

- template: publish-artifacts-steps.yml
  parameters:
    artifactName: analyze-${{ parameters.testFramework }}