parameters:
  testFramework: ''
  configuration: ''
  powerShellPlatform: ''

steps:
- checkout: self
  persistCredentials: true
- template: get-github-token-steps.yml
- task: PowerShell@2
  displayName: Test
  inputs:
    targetType: inline
    pwsh: true
    script: |
      Write-Host "------------------------0"
      Write-Host (Get-Location).Path
      Write-Host "------------------------1"
      # (Get-childItem -Depth 1).FullName | ForEach-Object {Write-Host $_}
      Write-Host "------------------------2"
      Write-Host $(System.PullRequest.targetBranchName)
      Write-Host "------------------------3"
      Write-Host $(System.PullRequest.SourceBranch)
      Write-Host "------------------------4"
      Write-Host $(System.PullRequest.TargetBranch)
      Write-Host "------------------------5"
      git branch
      Write-Host "------------------------6"
      git --no-pager log -n 6
      Write-Host "------------------------7"
      git remote -v
      Write-Host "------------------------8"
      $targetBranch = $(System.PullRequest.TargetBranch)
      git fetch --no-tags origin $targetBranch:origin/base
      Write-Host "------------------------9"
      git branch
      Write-Host "------------------------10"
      git --no-pager diff --name-only --diff-filter=ACMRT origin/base -- .
      Write-Host "------------------------11"
    
- task: NodeTool@0
  condition: eq(variables.IsGenerateBased, true)
  displayName: Install Autorest
  inputs:
    versionSpec: '14.17.1'
    command: custom
    verbose: false
    customCommand: install autorest@latest
- task: PowerShell@2
  condition: eq(variables.IsGenerateBased, true)
  displayName: Setup environment for Autorest
  inputs:
    targetType: inline
    script: "$env:NODE_OPTIONS=\"--max-old-space-size=65536\""
    pwsh: true
- task: PowerShell@2
  displayName: 'Check Ignored File'
  inputs:
    filePath: tools/CheckIgnoredFile.ps1
- task: UseDotNet@2
  displayName: 'Use .NET Core sdk 6.0.x'
  inputs:
    packageType: sdk
    version: 6.0.x
    
- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: custom
    custom: msbuild
    arguments: 'build.proj /t:Build /p:Configuration=${{ parameters.configuration }};TestFramework=${{ parameters.testFramework }};PullRequestNumber=$(System.PullRequest.PullRequestNumber)'
  env:
      OCTOKITPAT: $(GithubToken)
      PowerShellPlatform: ${{ parameters.powerShellPlatform }}

- task: PowerShell@2
  displayName: Build-AzPredictor
  condition: eq(variables.BuildAzPredictor, 'true')
  inputs:
    targetType: inline
    script: "dotnet msbuild tools/Az.Tools.Predictor/build.proj /t:\"clean;build;test\""
    pwsh: true
  continueOnError: true

- template: publish-artifacts-steps.yml
  parameters:
    artifactName: build-${{ parameters.testFramework }}
