parameters:
  artifactName: ''

steps:
- task: PublishPipelineArtifact@0
  displayName: 'Save ${{ parameters.artifactName }}'
  inputs:
    artifactName: ${{ parameters.artifactName }}
    targetPath: artifacts
  condition: succeededOrFailed()