{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps9754?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'sfmcps-rg-ps74' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps9754?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11976"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps9754\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\": \"southcentralus\",\r\n  \"name\": \"sfmcps-ps9754\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"clusterId\": \"05e40eba-0ec6-41bd-b7af-8fc1a433ce3f\",\r\n    \"clusterState\": \"WaitingForNodes\",\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfmcps-ps9754\",\r\n    \"fqdn\": \"sfmcps-ps9754.southcentralus.cloudapp.azure.com\",\r\n    \"ipv4Address\": \"52.185.225.203\",\r\n    \"clusterCertificateThumbprints\": [\r\n      \"71E02B1B97DE7FB08027E871A6F6C834E53310FC\"\r\n    ],\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"allowRdpAccess\": false,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": false,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps9754?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11942"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps9754\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\": \"southcentralus\",\r\n  \"name\": \"sfmcps-ps9754\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"clusterId\": \"05e40eba-0ec6-41bd-b7af-8fc1a433ce3f\",\r\n    \"clusterState\": \"Deploying\",\r\n    \"clusterCodeVersion\": \"7.2.477.9590\",\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfmcps-ps9754\",\r\n    \"fqdn\": \"sfmcps-ps9754.southcentralus.cloudapp.azure.com\",\r\n    \"ipv4Address\": \"52.185.225.203\",\r\n    \"clusterCertificateThumbprints\": [\r\n      \"71E02B1B97DE7FB08027E871A6F6C834E53310FC\"\r\n    ],\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"allowRdpAccess\": false,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": false,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ],\r\n    \"enableAutoOSUpgrade\": false,\r\n    \"zonalResiliency\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmcps-rg-ps74?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'sfmcps-rg-ps74' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps9754?api-version=2021-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"dnsName\": \"sfmcps-ps9754\",\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"adminPassword\": \"TestPass1234!@#\",\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": false,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ]\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/4bad0003-2582-4fac-bca8-59e08d164ef3?api-version=2021-01-01-preview&Experiment=local"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subsc[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/4bad0003-2582-4fac-bca8-59e08d164ef3?api-version=2021-01-01-preview&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"4bad0003-2582-4fac-bca8-59e08d164ef3\",\r\n  \"startTime\": \"2021-03-05T19:44:44.416824Z\",\r\n  \"endTime\": \"0001-01-01T00:00:00\",\r\n  \"percentComplete\": 30.0,\r\n  \"status\": \"Created\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps9754/nodeTypes/pnt?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11975"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"GetEntityFromTable: the NodeTypeData 05e40eba-0ec6-41bd-b7af-8fc1a433ce3f_pnt could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps9754/nodeTypes/pnt?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11943"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps9754/nodetypes/pnt\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters/nodetypes\",\r\n  \"location\": \"southcentralus\",\r\n  \"name\": \"pnt\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"isPrimary\": true,\r\n    \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n    \"vmImageOffer\": \"WindowsServer\",\r\n    \"vmImageSku\": \"2019-Datacenter\",\r\n    \"vmImageVersion\": \"latest\",\r\n    \"vmSize\": \"Standard_D2_v2\",\r\n    \"vmInstanceCount\": 5,\r\n    \"dataDiskSizeGB\": 100,\r\n    \"placementProperties\": {},\r\n    \"capacities\": {}\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedclusters/sfmcps-ps9754/applicationTypes/VotingType?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11918"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"GetEntityFromTable: the ApplicationTypeData 05e40eba-0ec6-41bd-b7af-8fc1a433ce3f&votingtype could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedclusters/sfmcps-ps9754/applicationTypes/VotingType?api-version=2021-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps9754/applicationTypes/VotingType\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters/applicationTypes\",\r\n  \"location\": \"southcentralus\",\r\n  \"name\": \"VotingType\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"b4f91a72-fd09-4e86-9280-7e0eae864947\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-03-05T12:00:49.0138209-08:00\",\r\n    \"lastModifiedBy\": \"b4f91a72-fd09-4e86-9280-7e0eae864947\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-03-05T12:00:49.0138209-08:00\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedclusters/sfmcps-ps9754/applicationTypes/VotingType/versions/1.0.0?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11917"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"GetEntityFromTable: the ApplicationTypeVersionData 05e40eba-0ec6-41bd-b7af-8fc1a433ce3f&votingtype&1.0.0 could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedclusters/sfmcps-ps9754/applicationTypes/VotingType/versions/1.0.0?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11912"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps9754/applicationTypes/VotingType/versions/1.0.0\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters/applicationTypes/versions\",\r\n  \"location\": \"southcentralus\",\r\n  \"name\": \"1.0.0\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"b4f91a72-fd09-4e86-9280-7e0eae864947\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-03-05T12:00:49.4788149-08:00\",\r\n    \"lastModifiedBy\": \"b4f91a72-fd09-4e86-9280-7e0eae864947\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-03-05T12:00:49.4788149-08:00\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"appPackageUrl\": \"https://sfmconeboxst.blob.core.windows.net/managed-application-deployment/Voting.sfpkg\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedclusters/sfmcps-ps9754/applicationTypes/VotingType/versions/1.0.0?api-version=2021-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"appPackageUrl\": \"https://sfmconeboxst.blob.core.windows.net/managed-application-deployment/Voting.sfpkg\"\r\n  },\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/8c760003-3be4-48c5-a571-f12f7470895d?api-version=2021-01-01-preview&Experiment=local"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/8c7600[...]
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedclusters/sfmcps-ps9754/applications/testApp2352?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11911"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"GetEntityFromTable: the ApplicationData 05e40eba-0ec6-41bd-b7af-8fc1a433ce3f&testapp2352 could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedclusters/sfmcps-ps9754/applications/testApp2352?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11909"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps9754/applications/testApp2352\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters/applications\",\r\n  \"location\": \"southcentralus\",\r\n  \"name\": \"testApp2352\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"b4f91a72-fd09-4e86-9280-7e0eae864947\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-03-05T12:02:10.6347168-08:00\",\r\n    \"lastModifiedBy\": \"b4f91a72-fd09-4e86-9280-7e0eae864947\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-03-05T12:02:10.6347168-08:00\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"version\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedclusters/sfmcps-ps9754/applicationTypes/VotingType/versions/1.0.0\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedclusters/sfmcps-ps9754/applications/testApp2352/services?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11908"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedclusters/sfmcps-ps9754/applications/testApp2352/services/testStatefulService6406?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11906"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"GetEntityFromTable: the ServiceData 05e40eba-0ec6-41bd-b7af-8fc1a433ce3f&testapp2352&teststatefulservice6406 could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedclusters/sfmcps-ps9754/applications/testApp2352/services/testStatefulService6406?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11904"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps9754/applications/testApp2352/services/testStatefulService6406\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters/applications/services\",\r\n  \"location\": \"southcentralus\",\r\n  \"name\": \"testStatefulService6406\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"b4f91a72-fd09-4e86-9280-7e0eae864947\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-03-05T12:02:31.881133-08:00\",\r\n    \"lastModifiedBy\": \"b4f91a72-fd09-4e86-9280-7e0eae864947\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-03-05T12:02:31.881133-08:00\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"serviceKind\": \"Stateful\",\r\n    \"serviceTypeName\": \"VotingDataType\",\r\n    \"partitionDescription\": {\r\n      \"partitionScheme\": \"UniformInt64Range\",\r\n      \"count\": 1,\r\n      \"lowKey\": 0,\r\n      \"highKey\": 25\r\n    },\r\n    \"hasPersistedState\": true,\r\n    \"targetReplicaSetSize\": 3,\r\n    \"minReplicaSetSize\": 2\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedclusters/sfmcps-ps9754/applications/testApp2352/services/testStatefulService6406?api-version=2021-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"serviceKind\": \"Stateful\",\r\n    \"hasPersistedState\": true,\r\n    \"targetReplicaSetSize\": 3,\r\n    \"minReplicaSetSize\": 2,\r\n    \"replicaRestartWaitDuration\": \"00:11:00\",\r\n    \"quorumLossWaitDuration\": \"00:11:00\",\r\n    \"standByReplicaKeepDuration\": \"00:11:00\",\r\n    \"servicePlacementTimeLimit\": \"00:11:00\",\r\n    \"serviceTypeName\": \"VotingDataType\",\r\n    \"partitionDescription\": {\r\n      \"partitionScheme\": \"UniformInt64Range\",\r\n      \"count\": 1,\r\n      \"lowKey\": 0,\r\n      \"highKey\": 25\r\n    }\r\n  },\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptio[...]
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedclusters/sfmcps-ps9754/applications/testApp2352/services/testStatelessService4667?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11901"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"GetEntityFromTable: the ServiceData 05e40eba-0ec6-41bd-b7af-8fc1a433ce3f&testapp2352&teststatelessservice4667 could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedclusters/sfmcps-ps9754/applications/testApp2352/services/testStatelessService4667?api-version=2021-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"serviceKind\": \"Stateless\",\r\n    \"instanceCount\": -1,\r\n    \"serviceTypeName\": \"VotingWebType\",\r\n    \"partitionDescription\": {\r\n      \"partitionScheme\": \"Singleton\"\r\n    }\r\n  },\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcen[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps74/providers/Microsoft.ServiceFabric/managedclusters/sfmcps-ps9754/applications/testApp2352/services/testStatelessService4667?api-version=2021-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"serviceKind\": \"Stateless\",\r\n    \"instanceCount\": -1,\r\n    \"minInstanceCount\": 2,\r\n    \"minInstancePercentage\": 20,\r\n    \"instanceCloseDelayDuration\": \"00:11:00\",\r\n    \"serviceTypeName\": \"VotingWebType\",\r\n    \"partitionDescription\": {\r\n      \"partitionScheme\": \"Singleton\"\r\n    }\r\n  },\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/location[...]
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/7d590003-f372-4deb-8b37-a8129556b0dc?api-version=2021-01-01-preview&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11892"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/ce830003-d13a-4ff1-b4ec-c574b575198e?api-version=2021-01-01-preview&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11886"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "Test-ManagedService": [
      "ps74",
      "ps9754",
      "testApp2352",
      "testStatelessService4667",
      "testStatefulService6406"
    ]
  },
  "Variables": {
    "SubscriptionId": "b36cdf46-b75d-4dc2-9fe1-1296ee8c623d"
  }
}