{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.ResourceGraph/resources?api-version=2018-09-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"subscriptions\": [\r\n    \"00000000-0000-0000-0000-000000000000\"\r\n  ],\r\n  \"query\": \"project id, tags, properties | where tags != '' | where properties != '' | limit 2\",\r\n  \"options\": {\r\n    \"$top\": 2,\r\n    \"$skip\": 0\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"totalRecords\": 2,\r\n  \"count\": 2,\r\n  \"data\": {\r\n    \"columns\": [\r\n      {\r\n        \"name\": \"id\",\r\n        \"type\": \"string\"\r\n      },\r\n      {\r\n        \"name\": \"tags\",\r\n        \"type\": \"object\"\r\n      },\r\n      {\r\n        \"name\": \"properties\",\r\n        \"type\": \"object\"\r\n      }\r\n    ],\r\n    \"rows\": [\r\n      [\r\n        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MEMVM/providers/Microsoft.Compute/virtualMachines/memvm/extensions/MicrosoftMonitoringAgent\",\r\n        {},\r\n        {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"type\": \"MicrosoftMonitoringAgent\",\r\n          \"autoUpgradeMinorVersion\": true,\r\n          \"typeHandlerVersion\": \"1.0\",\r\n          \"publisher\": \"Microsoft.EnterpriseCloud.Monitoring\",\r\n          \"settings\": {\r\n            \"stopOnMultipleConnections\": true,\r\n            \"workspaceId\": \"0f3577b5-fd56-4f52-81d3-43d1eab26618\"\r\n          }\r\n        }\r\n      ],\r\n      [\r\n        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Workerbackup/providers/Microsoft.ClassicCompute/domainNames/worker-b\",\r\n        {},\r\n        {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"status\": \"Created\",\r\n          \"hostName\": \"worker-b.cloudapp.net\",\r\n          \"label\": \"worker-b\"\r\n        }\r\n      ]\r\n    ]\r\n  },\r\n  \"facets\": [],\r\n  \"resultTruncated\": \"false\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "00000000-0000-0000-0000-000000000000"
  }
}