{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.ResourceGraph/resources?api-version=2018-09-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"subscriptions\": [\r\n    \"00000000-0000-0000-0000-000000000000\"\r\n  ],\r\n  \"query\": \"distinct subscriptionId | order by subscriptionId asc\",\r\n  \"options\": {\r\n    \"$top\": 100,\r\n    \"$skip\": 0\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"totalRecords\": 1,\r\n  \"count\": 1,\r\n  \"data\": {\r\n    \"columns\": [\r\n      {\r\n        \"name\": \"subscriptionId\",\r\n        \"type\": \"string\"\r\n      }\r\n    ],\r\n    \"rows\": [\r\n      [\r\n        \"00000000-0000-0000-0000-000000000000\"\r\n      ]\r\n    ]\r\n  },\r\n  \"facets\": [],\r\n  \"resultTruncated\": \"false\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.ResourceGraph/resources?api-version=2018-09-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"subscriptions\": [\r\n    \"11111111-1111-1111-1111-111111111111\",\r\n    \"22222222-2222-2222-2222-222222222222\"\r\n  ],\r\n  \"query\": \"distinct subscriptionId | order by subscriptionId asc\",\r\n  \"options\": {\r\n    \"$top\": 100,\r\n    \"$skip\": 0\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"totalRecords\": 2,\r\n  \"count\": 2,\r\n  \"data\": {\r\n    \"columns\": [\r\n      {\r\n        \"name\": \"subscriptionId\",\r\n        \"type\": \"string\"\r\n      }\r\n    ],\r\n    \"rows\": [\r\n      [\r\n        \"11111111-1111-1111-1111-111111111111\"\r\n      ],\r\n      [\r\n        \"22222222-2222-2222-2222-222222222222\"\r\n      ]\r\n    ]\r\n  },\r\n  \"facets\": [],\r\n  \"resultTruncated\": \"false\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "00000000-0000-0000-0000-000000000000"
  }
}