{
  "Entries": [
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourcegroups/onesdk5917?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk5917\",\r\n  \"name\": \"onesdk5917\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1188"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk5917/providers/Microsoft.Storage/storageAccounts/onesdk6382?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_LRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/providers/Microsoft.Storage/operations/626f359c-62a9-4f5c-8268-1b3ac85ed1bf?monitor=true&api-version=2015-06-15"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/providers/Microsoft.Storage/operations/626f359c-62a9-4f5c-8268-1b3ac85ed1bf?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14893"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/providers/Microsoft.Storage/operations/626f359c-62a9-4f5c-8268-1b3ac85ed1bf?monitor=true&api-version=2015-06-15"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk5917/providers/Microsoft.Storage/storageAccounts/onesdk6382/listKeys?api-version=2015-06-15",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key1\": \"uxi8Fr+Ih3g3+UQFkcdICgkfwPNLMYEmeqYB2xLtcr44M4T7MKe+uHaM7lRj9mxBYt3yVy5DshvKyqhkDLz1pw==\",\r\n  \"key2\": \"oc/F1rYhirNF8txSg+Gsy1xX+OLtjMYsn3pBbRkaMyf8a+676NI+xnRh8/xekvQEZ6GgRiX/RXUxmNv0vRfd9g==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk5917/providers/Microsoft.MachineLearning/CommitmentPlans/onesdk6598?api-version=2016-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {},\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"etag\": \"0a004519-0000-0000-0000-58ed768b0000\",\r\n  \"id\": \"/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk5917/providers/Microsoft.MachineLearning/commitmentPlans/onesdk6598\",\r\n  \"location\": \"southcentralus\",\r\n  \"name\": \"onesdk6598\",\r\n  \"properties\": {\r\n    \"chargeForOverage\": true,\r\n    \"chargeForPlan\": true,\r\n    \"creationDate\": \"2017-04-12T00:36:29.3626512Z\",\r\n    \"includedQuantities\": {\r\n      \"machineLearningWebServiceComputeHours\": {\r\n        \"allowance\": 25.0,\r\n        \"amount\": 0.0,\r\n        \"includedQuantityMeter\": \"29187de1-b4a1-4503-a6f6-078271b3fc9d\",\r\n        \"overageMeter\": \"842f92f7-a46b-4522-ac62-8134271dc591\"\r\n      },\r\n      \"machineLearningWebServiceTransactions\": {\r\n        \"allowance\": 100000.0,\r\n        \"amount\": 0.0,\r\n        \"includedQuantityMeter\": \"303743b6-4cd0-44df-8ec2-a93c8f14943b\",\r\n        \"overageMeter\": \"c906e161-98b8-41b1-81e2-b59e0b263740\"\r\n      }\r\n    },\r\n    \"maxAssociationLimit\": 10000,\r\n    \"maxCapacityLimit\": 10,\r\n    \"minCapacityLimit\": 1,\r\n    \"planMeter\": \"4a5a4b83-6216-47c5-b3db-fe430fa6e2c3\",\r\n    \"refillFrequencyInDays\": 30,\r\n    \"suspendPlanOnOverage\": false\r\n  },\r\n  \"sku\": {\r\n    \"capacity\": 1,\r\n    \"name\": \"S1\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"tags\": {},\r\n  \"type\": \"Microsoft.MachineLearning/commitmentPlans\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk5917/providers/Microsoft.MachineLearning/webServices/onesdk780?api-version=2017-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"packageType\": \"Graph\",\r\n    \"package\": {\r\n      \"nodes\": {\r\n        \"node1\": {\r\n          \"assetId\": \"asset1\",\r\n          \"parameters\": {\r\n            \"Please Specify Data Source\": {\r\n              \"value\": \"AzureBlobStorage\",\r\n              \"certificateThumbprint\": \"\"\r\n            },\r\n            \"Please Specify Authentication Type\": {\r\n              \"value\": \"Account\",\r\n              \"certificateThumbprint\": \"\"\r\n            },\r\n            \"Account Name\": {\r\n              \"value\": \"bohurp\",\r\n              \"certificateThumbprint\": \"\"\r\n            },\r\n            \"Account Key\": {\r\n              \"value\": \"ENCRYPTED_VALUE_1\",\r\n              \"certificateThumbprint\": \"ENCRYPTED_CERTIFICATETHUMBPRINT_1\"\r\n            },\r\n            \"Path to container or directory or blob\": {\r\n              \"value\": \"uploadeddata/adult.data\",\r\n              \"certificateThumbprint\": \"\"\r\n            },\r\n            \"Blob File format\": {\r\n              \"value\": \"CSV\",\r\n              \"certificateThumbprint\": \"\"\r\n            },\r\n            \"File has Header Row\": {\r\n              \"value\": \"True\",\r\n              \"certificateThumbprint\": \"\"\r\n            }\r\n          }\r\n        },\r\n        \"node2\": {\r\n          \"assetId\": \"asset2\",\r\n          \"parameters\": {\r\n            \"Comma-separated case-sensitive names of join key columns for L\": {\r\n              \"value\": \"%7B%22isFilter%22%3Atrue%2C%22rules%22%3A%5B%7B%22ruleType%22%3A%22AllColumns%22%2C%22exclude%22%3Afalse%7D%2C%7B%22ruleType%22%3A%22ColumnTypes%22%2C%22exclude%22%3Afalse%2C%22columnTypes%22%3A%5B%22All%22%5D%2C%22columnKinds%22%3A%5B%22Feature%22%5D%7D%5D%2C%22ui%22%3A%7B%22withRules%22%3Atrue%7D%7D\",\r\n    [...]
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/providers/Microsoft.MachineLearning/locations/southcentralus/operationsStatus/1c446d5b-43f6-43a0-ac57-5ac5a1ff51f2?api-version=2017-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/providers/Microsoft.MachineLearning/locations/southcentralus/operationsStatus/1c446d5b-43f6-43a0-ac57-5ac5a1ff51f2\",\r\n  \"name\": \"1c446d5b-43f6-43a0-ac57-5ac5a1ff51f2\",\r\n  \"status\": \"Provisioning\",\r\n  \"startTime\": \"2017-04-12T00:36:38.1084678Z\",\r\n  \"percentComplete\": 0.3\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-request-duration": [
          "154"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14908"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/providers/Microsoft.MachineLearning/locations/southcentralus/operationsStatus/1c446d5b-43f6-43a0-ac57-5ac5a1ff51f2?api-version=2017-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/providers/Microsoft.MachineLearning/locations/southcentralus/operationsStatus/1c446d5b-43f6-43a0-ac57-5ac5a1ff51f2\",\r\n  \"name\": \"1c446d5b-43f6-43a0-ac57-5ac5a1ff51f2\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2017-04-12T00:36:38.1084678Z\",\r\n  \"endTime\": \"2017-04-12T00:36:50.0908111Z\",\r\n  \"percentComplete\": 1.0\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-request-duration": [
          "16"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14905"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk5917/providers/Microsoft.MachineLearning/webServices/onesdk780?api-version=2017-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk5917/providers/Microsoft.MachineLearning/webServices/onesdk780\",\r\n  \"name\": \"onesdk780\",\r\n  \"type\": \"Microsoft.MachineLearning/webServices\",\r\n  \"location\": \"South Central US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"payloadsInBlobStorage\": false,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"createdOn\": \"2017-04-12T00:36:35.2225847Z\",\r\n    \"modifiedOn\": \"2017-04-12T00:36:50.2629787Z\",\r\n    \"title\": \"Some title (new contract)\",\r\n    \"description\": \"This is some service description (new contract)\",\r\n    \"swaggerLocation\": \"https://ussouthcentral.services.azureml.net/subscriptions/d128f14094e6417587a7954b9d27db16/services/9fecb135ea5f4411ab186ee98c912d2d/swagger.json\",\r\n    \"readOnly\": false,\r\n    \"realtimeConfiguration\": {\r\n      \"maxConcurrentCalls\": 20\r\n    },\r\n    \"diagnostics\": {\r\n      \"level\": \"None\"\r\n    },\r\n    \"storageAccount\": {\r\n      \"name\": \"onesdk6382\"\r\n    },\r\n    \"machineLearningWorkspace\": {\r\n      \"id\": \"8b841df9d60a4d54bcebd4948b10a5db\"\r\n    },\r\n    \"assets\": {\r\n      \"asset1\": {\r\n        \"name\": \"Import Data\",\r\n        \"type\": \"Module\",\r\n        \"locationInfo\": {\r\n          \"uri\": \"aml://module/506153734175476c4f62416c57734963.4e1b0fe6aded4b3fa36f39b8862b9004.v1-default-1743\",\r\n          \"credentials\": \"\"\r\n        }\r\n      },\r\n      \"asset2\": {\r\n        \"name\": \"Join Data\",\r\n        \"type\": \"Module\",\r\n        \"locationInfo\": {\r\n          \"uri\": \"aml://module/506153734175476c4f62416c57734963.124865f7e9014656adacf4cb08248099.v1-default-1712\",\r\n          \"credentials\": \"\"\r\n        }\r\n      }\r\n    },\r\n    \"input\": {\r\n      \"title\": \"\",\r\n      \"description\": \"\",\r\n      \"type\": \"object\",\r\n      \"properties\": {\r\n        \"input1\": {\r\n          \"title\": \"\",\r\n          \"description\": \"\",\r\n          \"type\": \"object\",\r\n          \"properties\": {\r\n            \"0\": {\r\n              \"type\": \"Integer\",\r\n              \"format\": \"Int32\",\r\n              \"x-ms-isnullable\": true\r\n            },\r\n            \"13\": {\r\n              \"type\": \"Integer\",\r\n              \"format\": \"Int32\",\r\n              \"x-ms-isnullable\": true\r\n            },\r\n            \"39\": {\r\n              \"type\": \"Integer\",\r\n              \"format\": \"Int32\",\r\n              \"x-ms-isnullable\": true\r\n            },\r\n            \"40\": {\r\n              \"type\": \"Integer\",\r\n              \"format\": \"Int32\",\r\n              \"x-ms-isnullable\": true\r\n            },\r\n            \"2174\": {\r\n              \"type\": \"Integer\",\r\n              \"format\": \"Int32\",\r\n              \"x-ms-isnullable\": true\r\n            },\r\n            \"77516\": {\r\n              \"type\": \"Integer\",\r\n              \"format\": \"Int32\",\r\n              \"x-ms-isnullable\": true\r\n            },\r\n            \"State-gov\": {\r\n              \"type\": \"String\",\r\n              \"format\": \"\",\r\n              \"x-ms-isnullable\": false\r\n            },\r\n            \"Bachelors\": {\r\n              \"type\": \"String\",\r\n              \"format\": \"\",\r\n              \"x-ms-isnullable\": false\r\n            },\r\n            \"Never-married\": {\r\n              \"type\": \"String\",\r\n              \"format\": \"\",\r\n              \"x-ms-isnullable\": false\r\n            },\r\n            \"Adm-clerical\": {\r\n              \"type\": \"String\",\r\n              \"format\": \"\",\r\n              \"x-ms-isnullable\": false\r\n            },\r\n            \"Not-in-family\": {\r\n              \"type\": \"String\",\r\n              \"format\": \"\",\r\n              \"x-ms-isnullable\": false\r\n            },\r\n            \"White\": {\r\n              \"type\": \"String\",\r\n              \"format\": \"\",\r\n              \"x-ms-isnullable\": false\r\n            },\r\n            \"Male\": {\r\n              \"type\": \"String\",\r\n              \"format\": \"\",\r\n              \"x-ms-isnullable\": false\r\n            },\r\n            \"United-States\": {\r\n              \"type\": \"String\",\r\n              \"format\": \"\",\r\n              \"x-ms-isnullable\": false\r\n            },\r\n            \"<=50K\": {\r\n              \"type\": \"String\",\r\n              \"format\": \"\",\r\n              \"x-ms-isnullable\": false\r\n            }\r\n          }\r\n        }\r\n      }\r\n    },\r\n    \"output\": {\r\n      \"title\": \"\",\r\n      \"description\": \"\",\r\n      \"type\": \"object\",\r\n      \"properties\": {\r\n        \"output1\": {\r\n          \"title\": \"\",\r\n          \"description\": \"\",\r\n          \"type\": \"object\",\r\n          \"properties\": {\r\n            \"0\": {\r\n              \"type\": \"Integer\",\r\n              \"format\": \"Int32\",\r\n              \"x-ms-isnullable\": true\r\n            },\r\n            \"13\": {\r\n              \"type\": \"Integer\",\r\n              \"format\": \"Int32\",\r\n              \"x-ms-isnullable\": true\r\n            },\r\n            \"39\": {\r\n      [...]
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk5917/providers/Microsoft.MachineLearning/webServices/onesdk780?api-version=2017-01-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/providers/Microsoft.MachineLearning/locations/southcentralus/operationsStatus/5088d1fe-559f-4be2-a320-681265f008c6?api-version=2017-01-01"
        ],
        "Azure-AsyncOperationPercentComplete": [
          "0"
        ],
        "x-ms-request-duration": [
          "757"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/providers/Microsoft.MachineLearning/locations/southcentralus/operationresults/5088d1fe-559f-4be2-a320-681265f008c6?api-version=2017-01-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs1OTE3LVNPVVRIQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJzb3V0aGNlbnRyYWx1cyJ9?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14788"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs1OTE3LVNPVVRIQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJzb3V0aGNlbnRyYWx1cyJ9?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs1OTE3LVNPVVRIQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJzb3V0aGNlbnRyYWx1cyJ9?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14773"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-CreateWebServiceFromFile": [
      "onesdk5917",
      "onesdk780",
      "onesdk6382",
      "onesdk6598"
    ]
  },
  "Variables": {
    "SubscriptionId": "d128f140-94e6-4175-87a7-954b9d27db16"
  }
}