{
  "Entries": [
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourcegroups/onesdk6644?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk6644\",\r\n  \"name\": \"onesdk6644\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk6644/providers/Microsoft.Storage/storageAccounts/onesdk9069?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_LRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/providers/Microsoft.Storage/operations/c5655e12-6e97-4014-a231-46a4dbb547ae?monitor=true&api-version=2015-06-15"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/providers/Microsoft.Storage/operations/c5655e12-6e97-4014-a231-46a4dbb547ae?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14921"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/providers/Microsoft.Storage/operations/c5655e12-6e97-4014-a231-46a4dbb547ae?monitor=true&api-version=2015-06-15"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk6644/providers/Microsoft.Storage/storageAccounts/onesdk9069/listKeys?api-version=2015-06-15",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key1\": \"usAMXotzqE4zFZcHYB+eHzXlMzcUTM8Vxn7Drt+JzCYKv2Q27ymLDwJiKUsZeIGOv0kB8oKgUutyrSsN5QotdQ==\",\r\n  \"key2\": \"9JkyGtbuWdjm7dN2G5J07kK7Z/JH+dSlMfQKRI8c13nm84kaSs9wHb7Lo3gQX/FtPNLjszeP0P/jGPLApIJnwA==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk6644/providers/Microsoft.MachineLearning/CommitmentPlans/onesdk7813?api-version=2016-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {},\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"etag\": \"0a005919-0000-0000-0000-58ed77380000\",\r\n  \"id\": \"/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk6644/providers/Microsoft.MachineLearning/commitmentPlans/onesdk7813\",\r\n  \"location\": \"southcentralus\",\r\n  \"name\": \"onesdk7813\",\r\n  \"properties\": {\r\n    \"chargeForOverage\": true,\r\n    \"chargeForPlan\": true,\r\n    \"creationDate\": \"2017-04-12T00:39:21.7667613Z\",\r\n    \"includedQuantities\": {\r\n      \"machineLearningWebServiceComputeHours\": {\r\n        \"allowance\": 25.0,\r\n        \"amount\": 0.0,\r\n        \"includedQuantityMeter\": \"29187de1-b4a1-4503-a6f6-078271b3fc9d\",\r\n        \"overageMeter\": \"842f92f7-a46b-4522-ac62-8134271dc591\"\r\n      },\r\n      \"machineLearningWebServiceTransactions\": {\r\n        \"allowance\": 100000.0,\r\n        \"amount\": 0.0,\r\n        \"includedQuantityMeter\": \"303743b6-4cd0-44df-8ec2-a93c8f14943b\",\r\n        \"overageMeter\": \"c906e161-98b8-41b1-81e2-b59e0b263740\"\r\n      }\r\n    },\r\n    \"maxAssociationLimit\": 10000,\r\n    \"maxCapacityLimit\": 10,\r\n    \"minCapacityLimit\": 1,\r\n    \"planMeter\": \"4a5a4b83-6216-47c5-b3db-fe430fa6e2c3\",\r\n    \"refillFrequencyInDays\": 30,\r\n    \"suspendPlanOnOverage\": false\r\n  },\r\n  \"sku\": {\r\n    \"capacity\": 1,\r\n    \"name\": \"S1\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"tags\": {},\r\n  \"type\": \"Microsoft.MachineLearning/commitmentPlans\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk6644/providers/Microsoft.MachineLearning/webServices/onesdk1392?api-version=2017-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"packageType\": \"Graph\",\r\n    \"package\": {\r\n      \"nodes\": {\r\n        \"node1\": {\r\n          \"assetId\": \"asset1\",\r\n          \"parameters\": {\r\n            \"Please Specify Data Source\": {\r\n              \"value\": \"AzureBlobStorage\",\r\n              \"certificateThumbprint\": \"\"\r\n            },\r\n            \"Please Specify Authentication Type\": {\r\n              \"value\": \"Account\",\r\n              \"certificateThumbprint\": \"\"\r\n            },\r\n            \"Account Name\": {\r\n              \"value\": \"bohurp\",\r\n              \"certificateThumbprint\": \"\"\r\n            },\r\n            \"Account Key\": {\r\n              \"value\": \"ENCRYPTED_VALUE_1\",\r\n              \"certificateThumbprint\": \"ENCRYPTED_CERTIFICATETHUMBPRINT_1\"\r\n            },\r\n            \"Path to container or directory or blob\": {\r\n              \"value\": \"uploadeddata/adult.data\",\r\n              \"certificateThumbprint\": \"\"\r\n            },\r\n            \"Blob File format\": {\r\n              \"value\": \"CSV\",\r\n              \"certificateThumbprint\": \"\"\r\n            },\r\n            \"File has Header Row\": {\r\n              \"value\": \"True\",\r\n              \"certificateThumbprint\": \"\"\r\n            }\r\n          }\r\n        },\r\n        \"node2\": {\r\n          \"assetId\": \"asset2\",\r\n          \"parameters\": {\r\n            \"Comma-separated case-sensitive names of join key columns for L\": {\r\n              \"value\": \"%7B%22isFilter%22%3Atrue%2C%22rules%22%3A%5B%7B%22ruleType%22%3A%22AllColumns%22%2C%22exclude%22%3Afalse%7D%2C%7B%22ruleType%22%3A%22ColumnTypes%22%2C%22exclude%22%3Afalse%2C%22columnTypes%22%3A%5B%22All%22%5D%2C%22columnKinds%22%3A%5B%22Feature%22%5D%7D%5D%2C%22ui%22%3A%7B%22withRules%22%3Atrue%7D%7D\",\r\n    [...]
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/providers/Microsoft.MachineLearning/locations/southcentralus/operationsStatus/ca654f88-553c-4863-ab5d-da68d541af66?api-version=2017-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/providers/Microsoft.MachineLearning/locations/southcentralus/operationsStatus/ca654f88-553c-4863-ab5d-da68d541af66\",\r\n  \"name\": \"ca654f88-553c-4863-ab5d-da68d541af66\",\r\n  \"status\": \"Provisioning\",\r\n  \"startTime\": \"2017-04-12T00:39:25.4465774Z\",\r\n  \"percentComplete\": 0.6\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-request-duration": [
          "184"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14888"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/providers/Microsoft.MachineLearning/locations/southcentralus/operationsStatus/ca654f88-553c-4863-ab5d-da68d541af66?api-version=2017-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/providers/Microsoft.MachineLearning/locations/southcentralus/operationsStatus/ca654f88-553c-4863-ab5d-da68d541af66\",\r\n  \"name\": \"ca654f88-553c-4863-ab5d-da68d541af66\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2017-04-12T00:39:25.4465774Z\",\r\n  \"endTime\": \"2017-04-12T00:39:38.2715266Z\",\r\n  \"percentComplete\": 1.0\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-request-duration": [
          "12"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14886"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk6644/providers/Microsoft.MachineLearning/webServices/onesdk1392?api-version=2017-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk6644/providers/Microsoft.MachineLearning/webServices/onesdk1392\",\r\n  \"name\": \"onesdk1392\",\r\n  \"type\": \"Microsoft.MachineLearning/webServices\",\r\n  \"location\": \"South Central US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"payloadsInBlobStorage\": false,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"createdOn\": \"2017-04-12T00:39:24.8184359Z\",\r\n    \"modifiedOn\": \"2017-04-12T00:39:38.4222119Z\",\r\n    \"title\": \"Some title (new contract)\",\r\n    \"description\": \"This is some service description (new contract)\",\r\n    \"swaggerLocation\": \"https://ussouthcentral.services.azureml.net/subscriptions/d128f14094e6417587a7954b9d27db16/services/9c7c7af6bab945aab8c6795422547095/swagger.json\",\r\n    \"readOnly\": false,\r\n    \"realtimeConfiguration\": {\r\n      \"maxConcurrentCalls\": 20\r\n    },\r\n    \"diagnostics\": {\r\n      \"level\": \"None\"\r\n    },\r\n    \"storageAccount\": {\r\n      \"name\": \"onesdk9069\"\r\n    },\r\n    \"machineLearningWorkspace\": {\r\n      \"id\": \"8b841df9d60a4d54bcebd4948b10a5db\"\r\n    },\r\n    \"assets\": {\r\n      \"asset1\": {\r\n        \"name\": \"Import Data\",\r\n        \"type\": \"Module\",\r\n        \"locationInfo\": {\r\n          \"uri\": \"aml://module/506153734175476c4f62416c57734963.4e1b0fe6aded4b3fa36f39b8862b9004.v1-default-1743\",\r\n          \"credentials\": \"\"\r\n        }\r\n      },\r\n      \"asset2\": {\r\n        \"name\": \"Join Data\",\r\n        \"type\": \"Module\",\r\n        \"locationInfo\": {\r\n          \"uri\": \"aml://module/506153734175476c4f62416c57734963.124865f7e9014656adacf4cb08248099.v1-default-1712\",\r\n          \"credentials\": \"\"\r\n        }\r\n      }\r\n    },\r\n    \"input\": {\r\n      \"title\": \"\",\r\n      \"description\": \"\",\r\n      \"type\": \"object\",\r\n      \"properties\": {\r\n        \"input1\": {\r\n          \"title\": \"\",\r\n          \"description\": \"\",\r\n          \"type\": \"object\",\r\n          \"properties\": {\r\n            \"0\": {\r\n              \"type\": \"Integer\",\r\n              \"format\": \"Int32\",\r\n              \"x-ms-isnullable\": true\r\n            },\r\n            \"13\": {\r\n              \"type\": \"Integer\",\r\n              \"format\": \"Int32\",\r\n              \"x-ms-isnullable\": true\r\n            },\r\n            \"39\": {\r\n              \"type\": \"Integer\",\r\n              \"format\": \"Int32\",\r\n              \"x-ms-isnullable\": true\r\n            },\r\n            \"40\": {\r\n              \"type\": \"Integer\",\r\n              \"format\": \"Int32\",\r\n              \"x-ms-isnullable\": true\r\n            },\r\n            \"2174\": {\r\n              \"type\": \"Integer\",\r\n              \"format\": \"Int32\",\r\n              \"x-ms-isnullable\": true\r\n            },\r\n            \"77516\": {\r\n              \"type\": \"Integer\",\r\n              \"format\": \"Int32\",\r\n              \"x-ms-isnullable\": true\r\n            },\r\n            \"State-gov\": {\r\n              \"type\": \"String\",\r\n              \"format\": \"\",\r\n              \"x-ms-isnullable\": false\r\n            },\r\n            \"Bachelors\": {\r\n              \"type\": \"String\",\r\n              \"format\": \"\",\r\n              \"x-ms-isnullable\": false\r\n            },\r\n            \"Never-married\": {\r\n              \"type\": \"String\",\r\n              \"format\": \"\",\r\n              \"x-ms-isnullable\": false\r\n            },\r\n            \"Adm-clerical\": {\r\n              \"type\": \"String\",\r\n              \"format\": \"\",\r\n              \"x-ms-isnullable\": false\r\n            },\r\n            \"Not-in-family\": {\r\n              \"type\": \"String\",\r\n              \"format\": \"\",\r\n              \"x-ms-isnullable\": false\r\n            },\r\n            \"White\": {\r\n              \"type\": \"String\",\r\n              \"format\": \"\",\r\n              \"x-ms-isnullable\": false\r\n            },\r\n            \"Male\": {\r\n              \"type\": \"String\",\r\n              \"format\": \"\",\r\n              \"x-ms-isnullable\": false\r\n            },\r\n            \"United-States\": {\r\n              \"type\": \"String\",\r\n              \"format\": \"\",\r\n              \"x-ms-isnullable\": false\r\n            },\r\n            \"<=50K\": {\r\n              \"type\": \"String\",\r\n              \"format\": \"\",\r\n              \"x-ms-isnullable\": false\r\n            }\r\n          }\r\n        }\r\n      }\r\n    },\r\n    \"output\": {\r\n      \"title\": \"\",\r\n      \"description\": \"\",\r\n      \"type\": \"object\",\r\n      \"properties\": {\r\n        \"output1\": {\r\n          \"title\": \"\",\r\n          \"description\": \"\",\r\n          \"type\": \"object\",\r\n          \"properties\": {\r\n            \"0\": {\r\n              \"type\": \"Integer\",\r\n              \"format\": \"Int32\",\r\n              \"x-ms-isnullable\": true\r\n            },\r\n            \"13\": {\r\n              \"type\": \"Integer\",\r\n              \"format\": \"Int32\",\r\n              \"x-ms-isnullable\": true\r\n            },\r\n            \"39\": {\r\n      [...]
[...]
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk6644/providers/Microsoft.MachineLearning/webServices/onesdk1392?api-version=2017-01-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"packageType\": \"Graph\",\r\n    \"keys\": {\r\n      \"primary\": \"highly secure key\"\r\n    },\r\n    \"readOnly\": false,\r\n    \"realtimeConfiguration\": {\r\n      \"maxConcurrentCalls\": 30\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk6644/providers/Microsoft.MachineLearning/webServices/onesdk1392\",\r\n  \"name\": \"onesdk1392\",\r\n  \"type\": \"Microsoft.MachineLearning/webServices\",\r\n  \"location\": \"South Central US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Provisioning\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/providers/Microsoft.MachineLearning/locations/southcentralus/operationsStatus/d2cf3f0a-3efa-4fb1-a785-fc788eb6cb8a?api-version=2017-01-01"
        ],
        "Azure-AsyncOperationPercentComplete": [
          "0"
        ],
        "x-ms-request-duration": [
          "1076"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1187"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/resourceGroups/onesdk6644/providers/Microsoft.MachineLearning/webServices/onesdk1392/listKeys?api-version=2017-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"primary\": \"highly secure key\",\r\n  \"secondary\": \"S8ayf24PAsbQqy8Nm67uGf3MbOeorYKPY8QfXen2+JsBZV5Q0NFfk9tgC7mjJ3aCsUPY8yKCFVcI/sCcOlmooo==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-request-duration": [
          "13"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14876"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs2NjQ0LVNPVVRIQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJzb3V0aGNlbnRyYWx1cyJ9?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14872"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs2NjQ0LVNPVVRIQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJzb3V0aGNlbnRyYWx1cyJ9?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/d128f140-94e6-4175-87a7-954b9d27db16/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs2NjQ0LVNPVVRIQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJzb3V0aGNlbnRyYWx1cyJ9?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14858"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-UpdateWebService": [
      "onesdk6644",
      "onesdk1392",
      "onesdk9069",
      "onesdk7813"
    ]
  },
  "Variables": {
    "SubscriptionId": "d128f140-94e6-4175-87a7-954b9d27db16"
  }
}