{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resources?$filter=resourceType%20eq%20'Microsoft.Batch%2FbatchAccounts'&api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests\",\r\n      \"name\": \"pstests\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"eastus\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests?api-version=2015-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-07-01"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pstests\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"accountEndpoint\": \"pstests.batch.core.windows.net\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests\",\r\n  \"type\": \"Microsoft.Batch/batchAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Thu, 09 Jul 2015 20:28:30 GMT"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ],
        "ETag": [
          "0x8D2889CF41A202B"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests/listKeys?api-version=2015-07-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-07-01"
        ]
      },
      "ResponseBody": "{\r\n  \"accountName\": \"pstests\",\r\n  \"primary\": \"LvTRVrhrb0mV/DvM55d7NT36RpCLXka/hrZSZQnNKlfV8nxzU0ChDAxrILper4n3AndEtMgyxW404JKkGodXFA==\",\r\n  \"secondary\": \"Lc37R3wawurI2u8oLu6pblhfYBW7S6770vbeqnUQJX87kT7R5hEFq2IlEfowvQ+rO3K0frlfFNlyiL/rkaYnFw==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/workitems?api-version=2014-10-01.1.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"odata.metadata\": \"https://batch.core.windows.net/$metadata#workitems/@Element\",\r\n  \"name\": \"listTaskPipeWI\",\r\n  \"jobExecutionEnvironment\": {\r\n    \"poolName\": \"testPool\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json;odata=minimalmetadata"
        ],
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Thu, 09 Jul 2015 20:28:31 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Thu, 09 Jul 2015 20:28:31 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://pstests.batch.core.windows.net/workitems/listTaskPipeWI"
        ],
        "ETag": [
          "0x8D2889CF4F710D9"
        ],
        "Location": [
          "https://pstests.batch.core.windows.net/workitems/listTaskPipeWI"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/workitems/listTaskPipeWI?api-version=2014-10-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Thu, 09 Jul 2015 20:28:31 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstests.batch.core.windows.net/$metadata#workitems/@Element\",\r\n  \"name\": \"listTaskPipeWI\",\r\n  \"url\": \"https://pstests.batch.core.windows.net/workitems/listTaskPipeWI\",\r\n  \"eTag\": \"0x8D2889CF4F710D9\",\r\n  \"lastModified\": \"2015-07-09T20:28:31.8769369Z\",\r\n  \"creationTime\": \"2015-07-09T20:28:31.8769369Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2015-07-09T20:28:31.8769369Z\",\r\n  \"jobExecutionEnvironment\": {\r\n    \"poolName\": \"testPool\"\r\n  },\r\n  \"executionInfo\": {\r\n    \"recentJob\": {\r\n      \"url\": \"https://pstests.batch.core.windows.net/workitems/listTaskPipeWI/jobs/job-0000000001\",\r\n      \"name\": \"job-0000000001\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Thu, 09 Jul 2015 20:28:31 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D2889CF4F710D9"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/workitems/listTaskPipeWI/jobs/job-0000000001/tasks?api-version=2014-10-01.1.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"odata.metadata\": \"https://batch.core.windows.net/$metadata#tasks/@Element\",\r\n  \"name\": \"testTask\",\r\n  \"commandLine\": \"cmd /c dir /s\",\r\n  \"runElevated\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json;odata=minimalmetadata"
        ],
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Thu, 09 Jul 2015 20:28:32 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Thu, 09 Jul 2015 20:28:32 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://pstests.batch.core.windows.net/workitems/listTaskPipeWI/jobs/job-0000000001/tasks/testTask"
        ],
        "ETag": [
          "0x8D2889CF55BDCB9"
        ],
        "Location": [
          "https://pstests.batch.core.windows.net/workitems/listTaskPipeWI/jobs/job-0000000001/tasks/testTask"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/workitems/listTaskPipeWI/jobs/job-0000000001?api-version=2014-10-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Thu, 09 Jul 2015 20:28:33 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstests.batch.core.windows.net/$metadata#jobs/@Element\",\r\n  \"name\": \"job-0000000001\",\r\n  \"url\": \"https://pstests.batch.core.windows.net/workitems/listTaskPipeWI/jobs/job-0000000001\",\r\n  \"eTag\": \"0x8D2889CF51FC2A6\",\r\n  \"lastModified\": \"2015-07-09T20:28:32.1436326Z\",\r\n  \"creationTime\": \"2015-07-09T20:28:32.122633Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2015-07-09T20:28:32.1436326Z\",\r\n  \"poolName\": \"testPool\",\r\n  \"executionInfo\": {\r\n    \"startTime\": \"2015-07-09T20:28:32.1436326Z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Thu, 09 Jul 2015 20:28:32 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D2889CF51FC2A6"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/workitems/listTaskPipeWI/jobs/job-0000000001/tasks?api-version=2014-10-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Thu, 09 Jul 2015 20:28:34 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstests.batch.core.windows.net/$metadata#tasks\",\r\n  \"value\": [\r\n    {\r\n      \"name\": \"testTask\",\r\n      \"url\": \"https://pstests.batch.core.windows.net/workitems/listTaskPipeWI/jobs/job-0000000001/tasks/testTask\",\r\n      \"eTag\": \"0x8D2889CF55BDCB9\",\r\n      \"creationTime\": \"2015-07-09T20:28:32.5375161Z\",\r\n      \"lastModified\": \"2015-07-09T20:28:32.5375161Z\",\r\n      \"state\": \"completed\",\r\n      \"stateTransitionTime\": \"2015-07-09T20:28:33.6037648Z\",\r\n      \"previousState\": \"running\",\r\n      \"previousStateTransitionTime\": \"2015-07-09T20:28:33.4927759Z\",\r\n      \"commandLine\": \"cmd /c dir /s\",\r\n      \"runElevated\": true,\r\n      \"taskConstraints\": {\r\n        \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n        \"retentionTime\": \"P10675199DT2H48M5.4775807S\",\r\n        \"maxTaskRetryCount\": 0\r\n      },\r\n      \"executionInfo\": {\r\n        \"startTime\": \"2015-07-09T20:28:33.4927759Z\",\r\n        \"endTime\": \"2015-07-09T20:28:33.6037648Z\",\r\n        \"exitCode\": 0,\r\n        \"retryCount\": 0,\r\n        \"requeueCount\": 0\r\n      },\r\n      \"tvmInfo\": {\r\n        \"affinityId\": \"TVM:tvm-4155946844_1-20150709t190321z\",\r\n        \"tvmUrl\": \"https://pstests.batch.core.windows.net/pools/testpool/tvms/tvm-4155946844_1-20150709t190321z\",\r\n        \"poolName\": \"testpool\",\r\n        \"tvmName\": \"tvm-4155946844_1-20150709t190321z\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/workitems/listTaskPipeWI/jobs?api-version=2014-10-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Thu, 09 Jul 2015 20:28:34 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstests.batch.core.windows.net/$metadata#jobs\",\r\n  \"value\": [\r\n    {\r\n      \"name\": \"job-0000000001\",\r\n      \"url\": \"https://pstests.batch.core.windows.net/workitems/listTaskPipeWI/jobs/job-0000000001\",\r\n      \"eTag\": \"0x8D2889CF51FC2A6\",\r\n      \"lastModified\": \"2015-07-09T20:28:32.1436326Z\",\r\n      \"creationTime\": \"2015-07-09T20:28:32.122633Z\",\r\n      \"state\": \"active\",\r\n      \"stateTransitionTime\": \"2015-07-09T20:28:32.1436326Z\",\r\n      \"poolName\": \"testPool\",\r\n      \"executionInfo\": {\r\n        \"startTime\": \"2015-07-09T20:28:32.1436326Z\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/workitems/listTaskPipeWI?api-version=2014-10-01.1.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Thu, 09 Jul 2015 20:28:35 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "6368ed38-3570-481f-b4fa-1d0a6e8d3f3b"
  }
}