{
  "Entries": [
    {
      "RequestUri": "/subscriptions/04b0639d-85d8-445a-bada-8da78e50ff30/providers/?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/04b0639d-85d8-445a-bada-8da78e50ff30/providers/Microsoft.ResourceHealth\",\r\n      \"namespace\": \"Microsoft.ResourceHealth\",\r\n      \"authorizations\": [\r\n        {\r\n          \"applicationId\": \"8bdebf23-c0fe-4187-a378-717ad86f6a53\",\r\n          \"roleDefinitionId\": \"cc026344-c8b1-4561-83ba-59eba84b27cc\"\r\n        }\r\n      ],\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"availabilityStatuses\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2018-08-01-rc\",\r\n            \"2018-08-01-preview\",\r\n            \"2018-07-01-rc\",\r\n            \"2018-07-01-preview\",\r\n            \"2017-07-01\",\r\n            \"2015-01-01\"\r\n          ],\r\n          \"capabilities\": \"SupportsExtension\"\r\n        },\r\n        {\r\n          \"resourceType\": \"childAvailabilityStatuses\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2018-11-06-beta\",\r\n            \"2018-08-01-rc\",\r\n            \"2018-08-01-preview\",\r\n            \"2018-07-01-rc\",\r\n            \"2018-07-01-preview\",\r\n            \"2018-07-01-beta\",\r\n            \"2017-07-01-rc\",\r\n            \"2017-07-01-preview\",\r\n            \"2017-07-01-beta\[...]
