{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/providers/?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11971"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/providers/microsoft.insights\",\r\n      \"namespace\": \"microsoft.insights\",\r\n      \"authorizations\": [\r\n        {\r\n          \"applicationId\": \"6bccf540-eb86-4037-af03-7fa058c2db75\",\r\n          \"roleDefinitionId\": \"89dcede2-9219-403a-9723-d3c6473f9472\"\r\n        },\r\n        {\r\n          \"applicationId\": \"11c174dc-1945-4a9a-a36b-c79a0f246b9b\",\r\n          \"roleDefinitionId\": \"dd9d4347-f397-45f2-b538-85f21c90037b\"\r\n        },\r\n        {\r\n          \"applicationId\": \"035f9e1d-4f00-4419-bf50-bf2d87eb4878\",\r\n          \"roleDefinitionId\": \"323795fe-ba3d-4f5a-ad42-afb4e1ea9485\"\r\n        },\r\n        {\r\n          \"applicationId\": \"f5c26e74-f226-4ae8-85f0-b4af0080ac9e\",\r\n          \"roleDefinitionId\": \"529d7ae6-e892-4d43-809d-8547aeb90643\"\r\n        },\r\n        {\r\n          \"applicationId\": \"b503eb83-1222-4dcc-b116-b98ed5216e05\",\r\n          \"roleDefinitionId\": \"68699c37-c689-44d4-9248-494b782d46ae\"\r\n        },\r\n        {\r\n          \"applicationId\": \"ca7f3f0b-7d91-482c-8e09-c5d840d0eac5\",\r\n          \"roleDefinitionId\": \"5d5a2e56-9835-44aa-93db-d2f19e155438\"\r\n        },\r\n        {\r\n          \"applicationId\": \"3af5a1e8-2459-45cb-8683-bcd6cccbcc13\",\r\n          \"roleDefinitionId\": \"b1309299-720d-4159-9897-6158a61aee41\"\r\n        },\r\n        {\r\n          \"applicationId\": \"6a0a243c-0886-468a-a4c2-eff52c7445da\",\r\n          \"roleDefinitionId\": \"d2eda64b-c5e6-4930-8642-2d80ecd7c2e2\"\r\n        },\r\n        {\r\n          \"applicationId\": \"707be275-6b9d-4ee7-88f9-c0c2bd646e0f\",\r\n          \"roleDefinitionId\": \"fa027d90-6ba0-4c33-9a54-59edaf2327e7\"\r\n        }\r\n      ],\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"components\",\r\n          \"locations\": [\r\n            \"East US\",\r\n            \"South Central US\",\r\n            \"North Europe\",\r\n            \"West Europe\",\r\n            \"Southeast Asia\",\r\n            \"West US 2\",\r\n            \"UK South\",\r\n            \"Canada Central\",\r\n            \"Central India\",\r\n            \"Japan East\",\r\n            \"Australia East\",\r\n            \"Korea Central\",\r\n            \"France Central\",\r\n            \"East US 2\",\r\n            \"East Asia\",\r\n            \"West US\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2018-05-01-preview\",\r\n            \"2015-05-01\",\r\n            \"2014-12-01-preview\",\r\n            \"2014-08-01\",\r\n            \"2014-04-01\"\r\n          ],\r\n          \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n        },\r\n        {\r\n          \"resourceType\": \"components/query\",\r\n          \"locations\": [\r\n            \"East US\",\r\n            \"South Central US\",\r\n            \"North Europe\",\r\n            \"West Europe\",\r\n            \"Southeast Asia\",\r\n            \"West US 2\",\r\n            \"UK South\",\r\n            \"Central India\",\r\n            \"Canada Central\",\r\n            \"Japan East\",[...]
