{
  "Get-AzCloudService+[NoContext]+List cloud service in subscription+$GET+https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/providers/Microsoft.Compute/cloudServices?api-version=2020-10-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/providers/Microsoft.Compute/cloudServices?api-version=2020-10-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "364" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "6086f866-65b0-45ef-8b00-52b8543d46ed", "c3433727-b04c-4207-91d1-62e58fde26cc" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11978" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"name\":\"cses1visualstudio\",\"id\":\"/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/resourceGroups/ALTAMBAWVS/providers/Microsoft.Compute/cloudServices/cses1visualstudio\",\"type\":\"Microsoft.Compute/cloudServices\",\"location\":\"eastus2euap\",\"properties\":{\"packageUrl\":\"https://csonarm.blob.core.windows.net/cses1visualstudiocontainer/CSESVStudio1.cspkg?sv=2015-04-05\u0026sr=b\u0026sig=j6Z9GS2SAqbmJJglYnDQMP7SaZ3ns%2FauhS5lerr55%2Fk%3D\u0026se=2020-09-25T17%3A01%3A38Z\u0026sp=rcw\",\"configuration\":\"\u003c?xml version=\\\"1.0\\\" encoding=\\\"utf-16\\\"?\u003e\u003cServiceConfiguration xmlns:xsd=\\\"http://www.w3.org/2001/XMLSchema\\\" xmlns:xsi=\\\"http://www.w3.org/2001/XMLSchema-instance\\\" serviceName=\\\"CSESVStudio1\\\" osFamily=\\\"6\\\" osVersion=\\\"*\\\" schemaVersion=\\\"2015-04.2.6\\\" xmlns=\\\"http://schemas.microsoft.com/ServiceHosting/2008/10/ServiceConfiguration\\\"\u003e\u003cRole name=\\\"WebRole1\\\"\u003e\u003cConfigurationSettings\u003e\u003cSetting name=\\\"APPINSI[...]
