{
  "Invoke-AzCloudServiceRoleInstanceRebuild+[NoContext]+Rebuild cloud service role instance+$POST+https://management.azure.com/subscriptions/1c1df74e-7a1a-4d81-afaa-40c4902f98a9/resourceGroups/cscmdlettestmdjygq54/providers/Microsoft.Compute/cloudServices/cscmdlettesta9p8gtmy/roleInstances/WebRole_IN_0/rebuild?api-version=2021-03-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://brazilus.management.azure.com/subscriptions/1c1df74e-7a1a-4d81-afaa-40c4902f98a9/resourceGroups/cscmdlettestmdjygq54/providers/Microsoft.Compute/cloudServices/cscmdlettesta9p8gtmy/roleInstances/WebRole_IN_0/rebuild?api-version=2021-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "58" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://brazilus.management.azure.com/subscriptions/1c1df74e-7a1a-4d81-afaa-40c4902f98a9/providers/Microsoft.Compute/locations/eastus2euap/CsOperations/74aa8236-c30e-4d06-ae93-48a3fcbd2f23?monitor=true\u0026api-version=2021-03-01" ],
        "Azure-AsyncOperation": [ "https://brazilus.management.azure.com/subscriptions/1c1df74e-7a1a-4d81-afaa-40c4902f98a9/providers/Microsoft.Compute/locations/eastus2euap/CsOperations/74aa8236-c30e-4d06-ae93-48a3fcbd2f23?api-version=2021-03-01" ],
        "x-ms-ratelimit-remaining-resource": [ "Microsoft.Compute/CreateUpdateDeleteCloudServiceOperations30Min;294" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1195" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Invoke-AzCloudServiceRoleInstanceRebuild+[NoContext]+Rebuild cloud service role instance+$GET+https://brazilus.management.azure.com/subscriptions/1c1df74e-7a1a-4d81-afaa-40c4902f98a9/providers/Microsoft.Compute/locations/eastus2euap/CsOperations/74aa8236-c30e-4d06-ae93-48a3fcbd2f23?api-version=2021-03-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://brazilus.management.azure.com/subscriptions/1c1df74e-7a1a-4d81-afaa-40c4902f98a9/providers/Microsoft.Compute/locations/eastus2euap/CsOperations/74aa8236-c30e-4d06-ae93-48a3fcbd2f23?api-version=2021-03-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "59" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11938" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"startTime\": \"2021-03-25T20:52:00.1185717+00:00\",\r\n  \"endTime\": \"2021-03-25T20:52:15.3823158+00:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"74aa8236-c30e-4d06-ae93-48a3fcbd2f23\"\r\n}",
    }
  },
  "Invoke-AzCloudServiceRoleInstanceRebuild+[NoContext]+Rebuild cloud service role instance+$GET+https://brazilus.management.azure.com/subscriptions/1c1df74e-7a1a-4d81-afaa-40c4902f98a9/providers/Microsoft.Compute/locations/eastus2euap/CsOperations/74aa8236-c30e-4d06-ae93-48a3fcbd2f23?monitor=true\u0026api-version=2021-03-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://brazilus.management.azure.com/subscrip[...]
