{
  "New-AzCloudService+[NoContext]+UpdateExpanded: Create new cloud service+$PUT+https://management.azure.com/subscriptions/1c1df74e-7a1a-4d81-afaa-40c4902f98a9/resourceGroups/cscmdlettestn8rmh5qx/providers/Microsoft.Compute/cloudServices/cscmdlettestoe6r0n2k?api-version=2021-03-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/1c1df74e-7a1a-4d81-afaa-40c4902f98a9/resourceGroups/cscmdlettestn8rmh5qx/providers/Microsoft.Compute/cloudServices/cscmdlettestoe6r0n2k?api-version=2021-03-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"packageUrl\": \"https://cscmdlettestkf3bd0qx.blob.core.windows.net/cscmdlettestcontainer/CSCmdletTest.cspkg?sv=2019-07-07\\u0026sr=b\\u0026sig=QG8ZEybGKe%2F%2BDjMER%2FGSjkFRIyvsyVSOHb8YAebYg2g%3D\\u0026st=2021-03-26T01%3A01%3A13Z\\u0026se=2022-03-26T01%3A01%3A13Z\\u0026sp=rwd\",\r\n    \"configuration\": \"\\u003c?xml version=\\\"1.0\\\" encoding=\\\"utf-8\\\"?\\u003e\\r\\n\\u003c!--\\r\\n  **********************************************************************************************\\r\\n\\r\\n  This file was generated by a tool from the project file: ServiceConfiguration.Cloud.cscfg\\r\\n\\r\\n  Changes to this file may cause incorrect behavior and will be lost if the file is regenerated.\\r\\n\\r\\n  ********************************************************************************************[...]
