{
  "Reset-AzCloudServiceRoleInstance+[NoContext]+Restart cloud service role instance+$POST+https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/resourceGroups/cscmdlettestutwbz690/providers/Microsoft.Compute/cloudServices/cscmdlettesta5inls8t/roleInstances/WebRole_IN_0/restart?api-version=2020-10-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/resourceGroups/cscmdlettestutwbz690/providers/Microsoft.Compute/cloudServices/cscmdlettesta5inls8t/roleInstances/WebRole_IN_0/restart?api-version=2020-10-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "392" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/providers/Microsoft.Compute/locations/eastus2euap/CsOperations/7ddfdc18-67e7-42d9-bd57-c758b42f64ab?monitor=true\u0026api-version=2020-10-01-preview" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/providers/Microsoft.Compute/locations/eastus2euap/CsOperations/7ddfdc18-67e7-42d9-bd57-c758b42f64ab?api-version=2020-10-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1196" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Reset-AzCloudServiceRoleInstance+[NoContext]+Restart cloud service role instance+$GET+https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/providers/Microsoft.Compute/locations/eastus2euap/CsOperations/7ddfdc18-67e7-42d9-bd57-c758b42f64ab?api-version=2020-10-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/providers/Microsoft.Compute/locations/eastus2euap/CsOperations/7ddfdc18-67e7-42d9-bd57-c758b42f64ab?api-version=2020-10-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "393" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11953" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"startTime\": \"2020-10-27T08:16:59.9237273+00:00\",\r\n  \"endTime\": \"2020-10-27T08:17:15.1648889+00:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"7ddfdc18-67e7-42d9-bd57-c758b42f64ab\"\r\n}"
    }
  },
  "Reset-AzCloudServiceRoleInstance+[NoContext]+Restart cloud service role instance+$GET+https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/providers/Microsoft.Compute/locations/eastus2euap/CsOperations/7ddfdc18-67e7-42d9-bd57-c758b42f64ab?monitor=true\u0026api-version=2020-10-01-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/5833e0eb-b53c[...]
