{
  "Stop-AzCloudService+[NoContext]+PowerOff/Stop cloud service+$POST+https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/resourceGroups/cscmdlettestdk2fgatb/providers/Microsoft.Compute/cloudServices/cscmdlettestank38pzb/poweroff?api-version=2020-10-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/resourceGroups/cscmdlettestdk2fgatb/providers/Microsoft.Compute/cloudServices/cscmdlettestank38pzb/poweroff?api-version=2020-10-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "121" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/providers/Microsoft.Compute/locations/eastus2euap/CsOperations/9730c58c-5e67-49d6-af67-623b4aebbd17?monitor=true\u0026api-version=2020-10-01-preview" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/providers/Microsoft.Compute/locations/eastus2euap/CsOperations/9730c58c-5e67-49d6-af67-623b4aebbd17?api-version=2020-10-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1185" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Stop-AzCloudService+[NoContext]+PowerOff/Stop cloud service+$GET+https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/providers/Microsoft.Compute/locations/eastus2euap/CsOperations/9730c58c-5e67-49d6-af67-623b4aebbd17?api-version=2020-10-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/providers/Microsoft.Compute/locations/eastus2euap/CsOperations/9730c58c-5e67-49d6-af67-623b4aebbd17?api-version=2020-10-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "122" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11892" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"startTime\": \"2020-11-24T06:59:59.1797971+00:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"9730c58c-5e67-49d6-af67-623b4aebbd17\"\r\n}"
    }
  },
  "Stop-AzCloudService+[NoContext]+PowerOff/Stop cloud service+$GET+https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/providers/Microsoft.Compute/locations/eastus2euap/CsOperations/9730c58c-5e67-49d6-af67-623b4aebbd17?api-version=2020-10-01-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/providers/Microsoft.Compute/locations/eastus2euap/CsOperations/9730c58c-5e67-49d6-af67-623b4aebbd17?api-version=2020-10-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "123" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11891" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"startTime\": \"2020-11-24T06:59:59.1797971+00:00\",\r\n  \"endTime\": \"2020-11-24T07:00:54.9604174+00:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"9730c58c-5e67-49d6-af67-623b4aebbd17\"\r\n}"
    }
  },
  "Stop-AzCloudService+[NoContext]+PowerOff/Stop cloud service+$GET+https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/providers/Microsoft.Compute/locations/eastus2euap/CsOperations/9730c58c-5e67-49d6-af67-623b4aebbd17?monitor=true\u0026api-version=2020-10-01-preview+4": {
    "Request": {
      "Method": "GET",
      "Reque[...]
