{
  "Entries": [
    {
      "RequestUri": "/subscriptions/5250dd92-b580-46be-b327-e6596c8de196/resourcegroups/onesdk2630?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5250dd92-b580-46be-b327-e6596c8de196/resourceGroups/onesdk2630\",\r\n  \"name\": \"onesdk2630\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5250dd92-b580-46be-b327-e6596c8de196/resourceGroups/onesdk2630/providers/Microsoft.Logic/workflows/onesdk9033?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Logic/workflows/onesdk9033' under resource group 'onesdk2630' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/5250dd92-b580-46be-b327-e6596c8de196/resourceGroups/onesdk2630/providers/Microsoft.Logic/workflows/onesdk9033?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"createdTime\": \"2016-07-26T00:15:42.9917006Z\",\r\n    \"changedTime\": \"2016-07-26T00:15:42.9923444Z\",\r\n    \"state\": \"Enabled\",\r\n    \"version\": \"08587321147425956530\",\r\n    \"accessEndpoint\": \"https://prod-14.westus.logic.azure.com:443/workflows/55dcfbe551fe4f8f829e2116bec90e0c\",\r\n    \"definition\": {\r\n      \"$schema\": \"http://schema.management.azure.com/providers/Microsoft.Logic/schemas/2015-08-01-preview/workflowdefinition.json#\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"parameters\": {\r\n        \"runworkflowmanually\": {\r\n          \"defaultValue\": false,\r\n          \"type\": \"Bool\"\r\n        }\r\n      },\r\n      \"triggers\": {\r\n        \"httpTrigger\": {\r\n          \"recurrence\": {\r\n            \"frequency\": \"Hour\",\r\n            \"interval\": 1\r\n          },\r\n          \"type\": \"Http\",\r\n          \"inputs\": {\r\n            \"method\": \"GET\",\r\n            \"uri\": \"http://www.bing.com\"\r\n          },\r\n          \"conditions\": [\r\n            {\r\n              \"expression\": \"@bool('true')\"\r\n            }\r\n          ]\r\n        },\r\n        \"manualTrigger\": {\r\n          \"type\": \"Manual\"\r\n        }\r\n      },\r\n      \"actions\": {\r\n        \"http\": {\r\n          \"type\": \"Http\",\r\n          \"inputs\": {\r\n            \"method\": \"GET\",\r\n            \"uri\": \"http://www.bing.com\"\r\n          },\r\n          \"conditions\": [\r\n            {\r\n              \"expression\": \"@bool('true')\"\r\n            }\r\n          ]\r\n        },\r\n        \"http1\": {\r\n          \"type\": \"Http\",\r\n          \"inputs\": {\r\n            \"method\": \"GET\",\r\n            \"uri\": \"http://www.bing.com\"\r\n          },\r\n          \"conditions\": [\r\n            {\r\n              \"expression\": \"@bool('true')\"\r\n            }\r\n          ]\r\n        }\r\n      },\r\n      \"outputs\": {\r\n        \"output1\": {\r\n          \"type\": \"String\",\r\n          \"value\": \"true\"\r\n        }\r\n      }\r\n    },\r\n    \"parameters\": {}\r\n  },\r\n  \"id\": \"/subscriptions/5250dd92-b580-46be-b327-e6596c8de196/resourceGroups/onesdk2630/providers/Microsoft.Logic/workflows/onesdk9033\",\r\n  \"name\": \"onesdk9033\",\r\n  \"type\": \"Microsoft.Logic/workflows\",\r\n  \"location\": \"westus\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14974"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5250dd92-b580-46be-b327-e6596c8de196/resourceGroups/onesdk2630/providers/Microsoft.Logic/workflows/onesdk9033/triggers/httpTrigger/run?api-version=2016-06-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1187"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5250dd92-b580-46be-b327-e6596c8de196/resourceGroups/onesdk2630/providers/Microsoft.Logic/workflows/onesdk9033/triggers/httpTrigger/histories?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"startTime\": \"2016-07-26T00:15:43.8462913Z\",\r\n        \"endTime\": \"2016-07-26T00:15:44.2964143Z\",\r\n        \"status\": \"Succeeded\",\r\n        \"code\": \"OK\",\r\n        \"correlation\": {\r\n          \"clientTrackingId\": \"08587321147416278214182385057\"\r\n        },\r\n        \"inputsLink\": {\r\n          \"uri\": \"https://prod-14.westus.logic.azure.com:443/workflows/55dcfbe551fe4f8f829e2116bec90e0c/triggers/httpTrigger/histories/08587321147416278214182385057/contents/TriggerInputs?api-version=2016-06-01&se=2016-07-26T04%3A15%3A46.0664536Z&sp=%2Ftriggers%2FhttpTrigger%2Fhistories%2F08587321147416278214182385057%2Fcontents%2FTriggerInputs%2Fread&sv=1.0&sig=v_rC3ENv8NYnyS6qLf-rOXYEjlC5DyllRYFSPGUlyQQ\",\r\n          \"contentVersion\": \"iRRH4oDH/dRBnb+0+mFRrA==\",\r\n          \"contentSize\": 44,\r\n          \"contentHash\": {\r\n            \"algorithm\": \"md5\",\r\n            \"value\": \"iRRH4oDH/dRBnb+0+mFRrA==\"\r\n          }\r\n        },\r\n        \"outputsLink\": {\r\n          \"uri\": \"https://prod-14.westus.logic.azure.com:443/workflows/55dcfbe551fe4f8f829e2116bec90e0c/triggers/httpTrigger/histories/08587321147416278214182385057/contents/TriggerOutputs?api-version=2016-06-01&se=2016-07-26T04%3A15%3A46.0664536Z&sp=%2Ftriggers%2FhttpTrigger%2Fhistories%2F08587321147416278214182385057%2Fcontents%2FTriggerOutputs%2Fread&sv=1.0&sig=Ee3cd4DGedEKXS7F3aunj2jhNOV1OZ_QJZnhe8AvKs8\",\r\n          \"contentVersion\": \"\\\"0x8D3B4E9FBA52C62\\\"\",\r\n          \"contentSize\": 95328,\r\n          \"contentHash\": {\r\n            \"algorithm\": \"md5\",\r\n            \"value\": \"zCFrAyrEHWsMBII+NXB0nQ==\"\r\n          }\r\n        },\r\n        \"fired\": true,\r\n        \"run\": {\r\n          \"name\": \"08587321147416278214182385057\",\r\n          \"id\": \"/subscriptions/5250dd92-b580-46be-b327-e6596c8de196/resourceGroups/onesdk2630/providers/Microsoft.Logic/workflows/onesdk9033/runs/08587321147416278214182385057\",\r\n          \"type\": \"Microsoft.Logic/workflows/runs\"\r\n        }\r\n      },\r\n      \"id\": \"/subscriptions/5250dd92-b580-46be-b327-e6596c8de196/resourceGroups/onesdk2630/providers/Microsoft.Logic/workflows/onesdk9033/triggers/httpTrigger/histories/08587321147416278214182385057\",\r\n      \"name\": \"08587321147416278214182385057\",\r\n      \"type\": \"Microsoft.Logic/workflows/triggers/histories\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14973"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-StartAzureLogicAppTrigger": [
      "onesdk2630",
      "onesdk9033"
    ]
  },
  "Variables": {
    "SubscriptionId": "5250dd92-b580-46be-b327-e6596c8de196"
  }
}