{
  "Get-AzsBackup+[NoContext]+TestListBackups+$GET+https://adminmanagement.redmond.ext-v.masd.stbtest.microsoft.com/subscriptions/9aa74e2c-e815-4494-96e4-e8ba2db83c3c/resourceGroups/system.redmond/providers/Microsoft.Backup.Admin/backupLocations/redmond/backups?api-version=2018-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://adminmanagement.redmond.ext-v.masd.stbtest.microsoft.com/subscriptions/9aa74e2c-e815-4494-96e4-e8ba2db83c3c/resourceGroups/system.redmond/providers/Microsoft.Backup.Admin/backupLocations/redmond/backups?api-version=2018-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "87" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "14856" ],
        "WWW-Authenticate": [ "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv+/+QaaRS0GIR38BE5NqJHgIQaAMqa05lHFaX3xriewUdv0sn6e/mgdZAVAmzI+msosGNV4+RvNQc0ACvKzS4DM00sVvRcQf9mgtd91zfdpJC6swpHiUkvTZA4mw2CxenY6rk7iEEpnuFh2YOITic" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/9aa74e2c-e815-4494-96e4-e8ba2db83c3c/resourceGroups/system.redmond/providers/Microsoft.Backup.Admin/backupLocations/redmond/backups/0b86cfdc-88aa-4ec5-8eb0-d78248f780df\",\"name\":\"redmond/0b86cfdc-88aa-4ec5-8eb0-d78248f780df\",\"type\":\"Microsoft.Backup.Admin/backupLocations/backups\",\"location\":\"redmond\",\"tags\":{},\"properties\":{\"backupInfo\":{\"backupDataVersion\":\"1.0.1\",\"backupId\":\"0b86cfdc-88aa-4ec5-8eb0-d78248f780df\",\"roleStatus\":[{\"roleName\":\"Domain\",\"status\":\"Succeeded\"},{\"roleName\":\"AzureStackBitlocker\",\"status\":\"Succeeded\"},{\"roleName\":\"NRP\",\"status\":\"Succeeded\"},{\"roleName\":\"SRP\",\"status\":\"Succeeded\"},{\"roleName\":\"CRP\",\"status\":\"Succeeded\"},{\"roleName\":\"KeyVaultInternalControlPlane\",\"status\":\"Succeeded\"},{\"roleName\":\"KeyVaultInternalDataPlane\",\"status\":\"Succeeded\"},{\"roleName\":\"KeyVaultControlPlane\",\"status\":\"Succeeded\"},{\"roleName\":\"KeyVaultDataPlane\",\"status\":\"Succeeded\"},{\"roleName\":\"KeyVaultNamingService\",\"status\":\"Succeeded\"},{\"roleName\":\"Cluster\",\"status\":\"Succeeded\"},{\"roleName\":\"WAS\",\"status\":\"Succeeded\"},{\"roleName\":\"ECE\",\"status\":\"Succeeded\"},{\"roleName\":\"CA\",\"status\":\"Succeeded\"},{\"roleName\":\"ACS\",\"status\":\"Succeeded\"},{\"roleName\":\"NC\",\"status\":\"Succeeded\"},{\"roleName\":\"DeploymentProvider\",\"status\":\"Succeeded\"},{\"roleName\":\"ACSSettingsService\",\"status\":\"Succeeded\"},{\"roleName\":\"SupportBridgeController\",\"status\":\"Succeeded\"},{\"roleName\":\"IBC\",\"status\":\"Succeeded\"},{\"roleName\":\"CPI\",\"status\":\"Succeeded\"},{\"roleName\":\"DiskRP\",\"status\":\"Succeeded\"},{\"roleName\":\"SupportBridgeRP\",\"status\":\"Succeeded\"}],\"status\":\"Succeeded\",\"createdDateTime\":\"2019-12-19T10:23:58.8247346Z\",\"timeTakenToCreate\":\"PT1H21M55.3941027S\",\"stampVersion\":\"1.1912.0.8\",\"oemVersion\":\"2.1.1907.1\",\"deploymentID\":\"13be6e26-a6dd-4f13-ba4e-9b8265c18cd1\",\"encryptionCertThumbprint\":\"126B334D833C9E3AA9C1429B9B2A3C7CF3215FB0\",\"completelyUploaded\":true,\"isAutomaticBackup\":true,\"isCloudRecoveryReady\":true}}},{\"id\":\"/subscriptions/9aa74e2c-e815-4494-96e4-e8ba2db83c3c/resourceGroups/system.redmond/providers/Microsoft.Backup.Admin/backupLocations/redmond/backups/46a72e4b-a888-4ac8-93f6-62cfc678407f\",\"name\":\"redmond/46a72e4b-a888-4ac8-93f6-62cfc678407f\",\"type\":\"Microsoft.Backup.Admin/backupLocations/backups\",\"location\":\"redmond\",\"tags\":{},\"properties\":{\"backupInfo\":{\"backupDataVersion\":\"1.0.1\",\"backupId\":\"46a72e4b-a888-4ac8-93f6-62cfc678407f\",\"roleStatus\":[{\"role[...]
