{
  "NewRelicObservability+[NoContext]+MonitorCreateExpanded+$PUT+https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/ps-test/providers/NewRelic.Observability/monitors/test-01?api-version=2022-07-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/ps-test/providers/NewRelic.Observability/monitors/test-01?api-version=2022-07-01",
      "Content": "{\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"userInfo\": {\r\n      \"firstName\": \"Joyer\",\r\n      \"lastName\": \"Jin\",\r\n      \"emailAddress\": \"v-jiaji@microsoft.com\"\r\n    },\r\n    \"planData\": {\r\n      \"usageType\": \"PAYG\",\r\n      \"billingCycle\": \"MONTHLY\",\r\n      \"planDetails\": \"newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py@PUBIDnewrelicinc1635200720692.newrelic_liftr_payg\",\r\n      \"effectiveDate\": \"2023-07-04T10:39:27.0785029+08:00\"\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"700038c4-0000-0100-0000-64a3866a0000\"" ],
        "Location": [ "https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/29fd2130-fab3-44a3-ac4e-3ed28586ad22*5B35BF236CB20EBB1F5715CFE9DACBBDE54DB30CA4D4003540E6DE9871D332EE?api-version=2022-07-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "943fff10-7a03-4818-b8bd-136436a27260" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/29fd2130-fab3-44a3-ac4e-3ed28586ad22*5B35BF236CB20EBB1F5715CFE9DACBBDE54DB30CA4D4003540E6DE9871D332EE?api-version=2022-07-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/ps-test/providers/NewRelic.Observability/monitors/test-01\",\"name\":\"test-01\",\"type\":\"newrelic.observability/monitors\",\"location\":\"eastus\",\"systemData\":{\"createdBy\":\"v-jiaji@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-07-04T02:39:33.0098815Z\",\"lastModifiedBy\":\"v-jiaji@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-07-04T02:39:33.0098815Z\"},\"properties\":{\"orgCreationSource\":\"LIFTR\",\"accountCreationSource\":\"LIFTR\",\"provisioningState\":\"Accepted\",\"monitoringStatus\":\"Enabled\",\"marketplaceSubscriptionStatus\":\"Active\",\"newRelicAccountProperties\":{\"userId\":null,\"accountInfo\":null,\"organizationInfo\":null},\"userInfo\":{\"firstName\":\"Joyer\",\"lastName\":\"Jin\",\"emailAddress\":\"v-jiaji@microsoft.com\",\"phoneNumber\":null},\"planData\":{\"usageType\":\"PAYG\",\"billingCycle\":\"MONTHLY\",\"planDetails\":\"newrelic-pay-as-you-go-free-live@TIDgmz7xq9ge3py@PUBIDnewrelicinc1635200720692.newrelic_liftr_payg\",\"effectiveDate\":\"2023-07-04T02:39:27.0785029+00:00\"},\"liftrResourceCategory\":\"MonitorLogs\",\"liftrResourcePreference\":0}}",
    }
  },
  "NewRelicObservability+[NoContext]+MonitorCreateExpanded+$GET+https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/29fd2130-fab3-44a3-ac4e-3ed28586ad22*5B35BF236CB20EBB1F5715CFE9DACBBDE54DB30CA4D4003540E6DE9871D332EE?api-version=2022-07-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/29fd2130-fab3-44a3-ac4e-3ed28586ad22*5B35BF236CB20EBB1F5715CFE9DACBBDE54DB30CA4D4003540E6DE9871D332EE?api-version=2022-07-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"f901e614-0000-0100-0000-64a3866a0000\"" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/29fd2130-fab3-44a3-ac4e-3ed28586ad22*5B35BF236CB20EBB1F5715CFE9DACBBDE54DB30CA4D4003540E6DE9871D332EE\",\"name\":\"29fd2130-fab3-44a3-ac4e-3ed28586ad22*5B35BF236CB20EBB1F5715CFE9DACBBDE54DB30CA4D4003540E6DE9871D332EE\",\"resourceId\":\"/subscriptions/272c26cb-7026-4b37-b190-7cb7b2abecb0/resourceGroups/ps-test/providers/NewRelic.Observability/monitors/test-01\",\"status\":\"Accepted\",\"startTime\":\"2023-07-04T02:39:38.3926162Z\"}",
    }
  },
  "NewRelicObservability+[NoContext]+MonitorCreateExpanded+$GET+https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/29fd2130-fab3-44a3-ac4e-3ed28586ad22*5B35BF236CB20EBB1F5715CFE9DACBBDE54DB30CA4D4003540E6DE9871D332EE?api-version=2022-07-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/NewRelic.Observability/locations/EASTUS/operationStatuses/29f[...]
