{
  "Get-AzServiceLinkerConfigurationForContainerApp+[NoContext]+List+$POST+https://management.azure.com//subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.App/containerApps/servicelinker-containerapp/providers/Microsoft.ServiceLinker/linkers/preparedLinker/listConfigurations?api-version=2022-11-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com//subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.App/containerApps/servicelinker-containerapp/providers/Microsoft.ServiceLinker/linkers/preparedLinker/listConfigurations?api-version=2022-11-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "9da2798d-3ef0-48fc-bbd2-5b587d7a6c38" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"configurations\":[{\"name\":\"AZURE_APPCONFIGURATION_ENDPOINT\",\"value\":\"https://servicelinker-app-configuration.azconfig.io\"}]}"
    }
  }
}