{
  "Test-AzServiceLinkerForSpringCloud+[NoContext]+Validate+$POST+https://management.azure.com//subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/e2etest/deployments/default/providers/Microsoft.ServiceLinker/linkers/preparedLinker/validateLinker?api-version=2022-11-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com//subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/e2etest/deployments/default/providers/Microsoft.ServiceLinker/linkers/preparedLinker/validateLinker?api-version=2022-11-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "48" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/29250243-00ea-41bc-92a1-52c7b39314f6*29FC1D772AA9DB7AB96D203D76DC8999C4D402C87FA6F24B9C0330A7029A41F6?api-version=2021-01-01-privatepreview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1194" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "f7e44877-3913-4815-a0c2-df27b2aed563" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/29250243-00ea-41bc-92a1-52c7b39314f6*29FC1D772AA9DB7AB96D203D76DC8999C4D402C87FA6F24B9C0330A7029A41F6?api-version=2021-01-01-privatepreview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "bnVsbA==",
    }
  },
  "Test-AzServiceLinkerForSpringCloud+[NoContext]+Validate+$GET+https://management.azure.com/subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/29250243-00ea-41bc-92a1-52c7b39314f6*29FC1D772AA9DB7AB96D203D76DC8999C4D402C87FA6F24B9C0330A7029A41F6?api-version=2021-01-01-privatepreview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/29250243-00ea-41bc-92a1-52c7b39314f6*29FC1D772AA9DB7AB96D203D76DC8999C4D402C87FA6F24B9C0330A7029A41F6?api-version=2021-01-01-privatepreview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "49" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"b204159e-0000-0100-0000-63d753d80000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11968" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/29250243-00ea-41bc-92a1-52c7b39314f6*29FC1D772AA9DB7AB96D203D76DC8999C4D402C87FA6F24B9C0330A7029A41F6\",\"name\":\"29250243-00ea-41bc-92a1-52c7b39314f6*29FC1D772AA9DB7AB96D203D76DC8999C4D402C87FA6F24B9C0330A7029A41F6\",\"resourceId\":\"/subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/e2etest/deployments/default/providers/Microsoft.ServiceLinker/linkers/preparedLinker\",\"status\":\"Succeeded\",\"startTime\":\"2023-01-30T05:21:24.0833918Z\",\"endTime\":\"2023-01-30T05:21:28.0719022Z\",\"properties\":{\"Message\":\"{\\\"ConnectionName\\\":\\\"preparedLinker\\\",\\\"IsConnectionAvailable\\\":true,\\\"ValidationDetail\\\":[{\\\"Name\\\":\\\"The target existence is validated\\\",\\\"Description\\\":null,\\\"Result\\\":0},{\\\"Name\\\":\\\"The target\u0027s network access is validated\\\",\\\"Description\\\":\\\"Deny public network access is set to yes. Please confirm you are using private endpoint connection to access target resource.\\\",\\\"Result\\\":2},{\\\"Name\\\":\\\"The configured values (except username/password) is validated\\\",\\\"Description\\\":null,\\\"Result\\\":0}],\\\"ReportStartTimeUtc\\\":\\\"2023-01-30T05:21:25.4010288Z\\\",\\\"ReportEndTimeUtc\\\":\\\"2023-01-30T05:21:26.7903802Z\\\",\\\"SourceId\\\":null,\\\"TargetId\\\":null,\\\"AuthType\\\":4}\",\"linkerName\":\"preparedLinker\",\"isConnectionAvailable\":true,\"validationDetail\":[{\"name\":\"The target existence is validated\",\"description\":null,\"result\":\"success\"},{\"name\":\"The target\u0027s network access is validated\",\"description\":\"Deny public network access is set to yes. Please confirm you are using private endpoint connection to access target resource.\",\"result\":\"warning\"},{\"name\":\"The configured values (except username/password) is validated\",\"description\":null,\"result\":\"success\"}],\"reportStartTimeUtc\":\"2023-01-30T05:21:25.4010288Z\",\"reportEndTimeUtc\":\"2023-01-30T05:21:26.7903802Z\",\"sourceId\":null,\"targetId\":null,\"authType\":\"secret\"}}",
    }
  },
  "Test-AzServiceLinkerForSpringCloud+[NoContext]+Validate+$GET+https://management.azure.com/subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/29250243-00ea-41bc-92a1-52c7b39314f6*29FC1D772AA9DB7AB96D203D76DC8999C4D402C87FA6F24B9C0330A7029A41F6?api-version=2021-01-01-privatepreview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/937bc588-a1[...]
