<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json"
                          publicKeyToken="30ad4fe6b2a6aeed"
                          culture="neutral" />
        <codeBase version="9.0.0.0"
                  href="../../../../../lib/Newtonsoft.Json.9.dll"/>
        <codeBase version="10.0.0.0"
                  href="../../../../../libNetFxPreloadAssemblies/Newtonsoft.Json.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>