{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Authorization/providerOperations/Microsoft.Storage?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"displayName\": \"Microsoft Storage\",\r\n  \"operations\": [\r\n    {\r\n      \"name\": \"Microsoft.Storage/register/action\",\r\n      \"displayName\": \"Registers the Storage Resource Provider\",\r\n      \"description\": \"Registers the subscription for the storage resource provider and enables the creation of storage accounts.\",\r\n      \"origin\": null,\r\n      \"properties\": null,\r\n      \"isDataAction\": false\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Storage/register/action\",\r\n      \"displayName\": null,\r\n      \"description\": null,\r\n      \"origin\": null,\r\n      \"properties\": null,\r\n      \"isDataAction\": false\r\n    }\r\n  ],\r\n  \"id\": \"/providers/Microsoft.Authorization/providerOperations/Microsoft.Storage\",\r\n  \"type\": \"Microsoft.Authorization/providerOperations\",\r\n  \"name\": \"Microsoft.Storage\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f"
  }
}