<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>      
  </configSections>   
  <log4net>
    <!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.SimpleLayout" />          
    </appender>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.SimpleLayout" />          
    </appender>-->
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
        <!--<target value="Console.Error" />-->
        <!--<mapping>
            <level value="FATAL" />
            <foreColor value="Red" />
            <backColor value="White" />         
        </mapping>-->
        <mapping>
            <level value="ERROR" />
            <foreColor value="Red, HighIntensity" />         
        </mapping>
        <mapping>
            <level value="WARN" />
            <foreColor value="Yellow" />         
        </mapping>
        <mapping>
            <level value="INFO" />
            <foreColor value="Cyan" />         
        </mapping>
        <mapping>
            <level value="DEBUG" />
            <foreColor value="Green" />         
        </mapping>
        <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <!--<appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.txt" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>-->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="StaticAnalysis-log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <root>
      <level value="ALL" />
      <!--<appender-ref ref="ConsoleAppender" />-->
      <appender-ref ref="ColoredConsoleAppender" />
      <!--<appender-ref ref="ServiceAppender"/>
      <appender-ref ref="AspNetTraceAppender"/>-->
      <appender-ref ref="RollingFileAppender"/>
      <!--<appender-ref ref="FileAppender"/>-->
      <!--<appender-ref ref="AdoNetAppender"/>-->
      <!--to debug log4net. check the output window of Visual Studio-->
      <!--<appender-ref ref="DebugAppender"/>-->
      <appender-ref ref="TraceAppender"/>
    </root>      
  </log4net>
</configuration>