{
  "AzDigitalTwinsInstance+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup-digitaltwins/providers/Microsoft.DigitalTwins/digitalTwinsInstances/e694o3?api-version=2022-05-31+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup-digitaltwins/providers/Microsoft.DigitalTwins/digitalTwinsInstances/e694o3?api-version=2022-05-31",
      "Content": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.DigitalTwins/locations/eastus/operationResults/eyJvcGVyYXRpb25LaW5kIjoiQ3JlYXRlIiwicmVzb3VyY2VLaW5kIjoiRGlnaXRhbFR3aW5zSW5zdGFuY2UiLCJyZXNvdXJjZUdyb3VwTmFtZSI6InRlc3Rncm91cC1kaWdpdGFsdHdpbnMiLCJyZXNvdXJjZU5hbWUiOiJlNjk0bzMifQ%3d%3d?api-version=2022-05-31" ],
        "Retry-After": [ "10" ],
        "traceresponse": [ "00-47f08557d51e16d957761eedac3c112c-edaf87858fa90b07-01" ],
        "Azure-AsyncOperation": [ "https://management.azure.com:443/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.DigitalTwins/locations/eastus/operationsStatuses/89d2c8ba-878a-4742-9dcf-c7154894fb74?api-version=2022-05-31" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1196" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup-digitaltwins/providers/Microsoft.DigitalTwins/digitalTwinsInstances/e694o3\",\"name\":\"e694o3\",\"type\":\"Microsoft.DigitalTwins/digitalTwinsInstances\",\"properties\":{\"provisioningState\":\"Provisioning\",\"createdTime\":\"2022-11-29T08:30:01.4390021Z\",\"lastUpdatedTime\":\"2022-11-29T08:30:01.4390021Z\",\"hostName\":null,\"publicNetworkAccess\":\"Enabled\"},\"location\":\"eastus\",\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"d9dcf460-c946-46c1-8fcb-bb39b5c2f391\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\"},\"tags\":null,\"systemData\":{\"createdBy\":\"v-jinpel@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-11-29T08:29:59.8005449Z\",\"lastModifiedBy\":\"v-jinpel@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2022-11-29T08:29:59.8005449Z\"}}",
    }
  },
  "AzDigitalTwinsInstance+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.DigitalTwins/locations/eastus/operationsStatuses/89d2c8ba-878a-4742-9dcf-c7154894fb74?api-version=2022-05-31+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.DigitalTwins/locations/eastus/operationsStatuses/89d2c8ba-878a-4742-9dcf-c7154894fb74?api-version=2022-05-31",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "21" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "traceresponse": [ "00-07134499800159a50afce89bf408812f-ef64b21e78b793a7-01" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11982" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/locations/eastus/operationsStatuses/89d2c8ba-878a-4742-9dcf-c7154894fb74\",\"name\":\"89d2c8ba-878a-4742-9dcf-c7154894fb74\",\"status\":\"Running\",\"startTime\":\"2022-11-29T08:30:01.4501921Z\"}",
    }
  },
  "AzDigitalTwinsInstance+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.DigitalTwins/locations/eastus/operationsStatuses/89d2c8ba-878a-4742-9dcf-c7154894fb74?api-version=2022-05-31+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.DigitalTwins/locati[...]
