{
  "Get-AzStorageSku+[NoContext]+List+$GET+https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/skus?api-version=2025-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/skus?api-version=2025-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"resourceType\":\"storageAccounts\",\"name\":\"PremiumV2_LRS\",\"tier\":\"Premium\",\"kind\":\"FileStorage\",\"locations\":[\"australiacentral\"],\"locationInfo\":[{\"location\":\"australiacentral\",\"zones\":[],\"zoneDetails\":[]}],\"capabilities\":[{\"name\":\"supportseventgridforadls\",\"value\":\"true\"},{\"name\":\"supportsfileactivedirectory\",\"value\":\"true\"},{\"name\":\"supportsFilesShareOperationsForProvisionedV2Type\",\"value\":\"true\"},{\"name\":\"supportsIdentities\",\"value\":\"true\"},{\"name\":\"supportslargefileshares\",\"value\":\"true\"},{\"name\":\"supportslargefilesharesga\",\"value\":\"true\"},{\"name\":\"supportsMultichannelByDefaultForPremiumFilesAccount\",\"value\":\"true\"},{\"name\":\"supportsnetworkacls\",\"value\":\"true\"},{\"name\":\"supportsNfsShare\",\"value\":\"true\"},{\"name\":\"supportsPrivateEndpointConnections\",\"value\":\"true\"},{\"name\":\"supportsSmbOAuthForFilesAccount\",\"value\":\"true\"},{\"name\":\"supportsthreatdetection\",\"value\":\"true\"}],\"restrictions\":[]},{\"resourceType\":\"storageAccounts\",\"name\":\"PremiumV2_LRS\",\"tier\":\"Premium\",\"kind\":\"FileStorage\",\"locations\":[\"australiacentral2\"],\"locationInfo\":[{\"location\":\"australiacentral2\",\"zones\":[],\"zoneDetails\":[]}],\"capabilities\":[{\"name\":\"supportseventgridforadls\",\"value\":\"true\"},{\"name\":\"supportsfileactivedirectory\",\"value\":\"true\"},{\"name\":\"supportsFilesShareOperationsForProvisionedV2Type\",\"value\":\"true\"},{\"name\":\"supportsIdentities\",\"va[...]
