{
  "Entries": [
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/alertsSuppressionRules?api-version=2019-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/alertsSuppressionRules/SDK_Test1\",\r\n      \"name\": \"SDK_Test1\",\r\n      \"type\": \"Microsoft.Security/alertsSuppressionRules\",\r\n      \"properties\": {\r\n        \"alertType\": \"Storage.Blob_ApplicationAnomaly\",\r\n        \"lastModifiedUTC\": \"2021-12-05T16:41:05.6018728Z\",\r\n        \"expirationDateUTC\": \"2032-10-18T16:32:12Z\",\r\n        \"state\": \"Enabled\",\r\n        \"reason\": \"Other\",\r\n        \"comment\": \"Test Rule \",\r\n        \"suppressionAlertsScope\": {\r\n          \"allOf\": []\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/alertsSuppressionRules/2a71184ea21e42a1947330e47d442b80\",\r\n      \"name\": \"2a71184ea21e42a1947330e47d442b80\",\r\n      \"type\": \"Microsoft.Security/alertsSuppressionRules\",\r\n      \"properties\": {\r\n        \"alertType\": \"SKDAlertType\",\r\n        \"lastModifiedUTC\": \"2021-12-05T16:42:57.9624898Z\",\r\n        \"expirationDateUTC\": \"2022-06-05T16:42:57.9624898Z\",\r\n        \"state\": \"Enabled\",\r\n        \"reason\": \"Other\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/alertsSuppressionRules/85a979d9847c45bba607dc250fddaec0\",\r\n      \"name\": \"85a979d9847c45bba607dc250fddaec0\",\r\n      \"type\": \"Microsoft.Security/alertsSuppressionRules\",\r\n      \"properties\": {\r\n        \"alertType\": \"SKDAlertType\",\r\n        \"lastModifiedUTC\": \"2021-12-07T11:24:25.2968931Z\",\r\n        \"expirationDateUTC\": \"2022-06-07T11:24:25.2968931Z\",\r\n        \"state\": \"Enabled\",\r\n        \"reason\": \"Other\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/alertsSuppressionRules/Powershell-UT-RuleName?api-version=2019-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"alertType\": \"PS-UT-AlertType\",\r\n    \"reason\": \"Other\",\r\n    \"state\": \"Enabled\",\r\n    \"comment\": \"PS-UT-Comment\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/alertsSuppressionRules/Powershell-UT-RuleName\",\r\n  \"name\": \"Powershell-UT-RuleName\",\r\n  \"type\": \"Microsoft.Security/alertsSuppressionRules\",\r\n  \"properties\": {\r\n    \"alertType\": \"PS-UT-AlertType\",\r\n    \"lastModifiedUTC\": \"2022-04-07T09:15:38.1181944Z\",\r\n    \"expirationDateUTC\": \"2022-10-07T09:15:38.1181944Z\",\r\n    \"state\": \"Enabled\",\r\n    \"reason\": \"Other\",\r\n    \"comment\": \"PS-UT-Comment\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "487bb485-b5b0-471e-9c0d-10717612f869"
  }
}