{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Relay/operations?api-version=2016-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Relay/checkNamespaceAvailability/action\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Azure Relay\",\r\n        \"resource\": \"Non Resource Operation\",\r\n        \"operation\": \"Get namespace availability.\",\r\n        \"description\": \"Checks availability of namespace under given subscription.\"\r\n      },\r\n      \"properties\": null\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Relay/register/action\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Azure Relay\",\r\n        \"resource\": \"Relay and Hybridconnection Resource Provider\",\r\n        \"operation\": \"Registers the Relay Resource Provider\",\r\n        \"description\": \"Registers the subscription for the Relay resource provider and enables the creation of Relay resources\"\r\n      },\r\n      \"properties\": null\r\n    },\r\n    {\r\n[...]
