{
  "Get-AzStackHciExtension+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourceGroups/azurestackhci-pwsh-rg-8x/providers/Microsoft.AzureStackHCI/clusters/pwsh-Cluster0h9u/arcSettings/default/extensions/MicrosoftMonitoringAgent?api-version=2023-03-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourceGroups/azurestackhci-pwsh-rg-8x/providers/Microsoft.AzureStackHCI/clusters/pwsh-Cluster0h9u/arcSettings/default/extensions/MicrosoftMonitoringAgent?api-version=2023-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "12" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"c404317a-0000-0100-0000-64be41060000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11989" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "f73a3e9b-ea2e-4bfa-b45a-230962ebd931" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourceGroups/azurestackhci-pwsh-rg-8x/providers/Microsoft.AzureStackHCI/clusters/pwsh-Cluster0h9u/arcSettings/default/extensions/MicrosoftMonitoringAgent\",\"name\":\"MicrosoftMonitoringAgent\",\"type\":\"microsoft.azurestackhci/clusters/arcsettings/extensions\",\"properties\":{\"provisioningState\":\"Succeeded\",\"aggregateState\":\"NotSpecified\",\"perNodeExtensionDetails\":[],\"extensionParameters\":{\"type\":\"MicrosoftMonitoringAgent\",\"publisher\":\"Microsoft.EnterpriseCloud.Monitoring\",\"autoUpgradeMinorVersion\":false,\"enableAutomaticUpgrade\":true},\"managedBy\":\"User\"}}",
    }
  }
}