{
  "Remove-AzStackHciCluster+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourceGroups/azurestackhci-pwsh-rg-8x/providers/Microsoft.AzureStackHCI/clusters/pwsh-Cluster0h9u-remove?api-version=2023-03-01+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourceGroups/azurestackhci-pwsh-rg-8x/providers/Microsoft.AzureStackHCI/clusters/pwsh-Cluster0h9u-remove?api-version=2023-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "20" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "ETag": [ "\"0d058524-0000-0100-0000-64be41a70000\"" ],
        "Location": [ "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/7cf1da1d-d802-4ccd-b63c-d3f383780e9b*777D6B5BD4EAE2B96EA069DF39D0614DE629C02A09B73CF7FA411C7695D6C70F?api-version=2023-03-01" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14994" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/7cf1da1d-d802-4ccd-b63c-d3f383780e9b*777D6B5BD4EAE2B96EA069DF39D0614DE629C02A09B73CF7FA411C7695D6C70F?api-version=2023-03-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "bnVsbA==",
    }
  },
  "Remove-AzStackHciCluster+[NoContext]+Delete+$GET+https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/7cf1da1d-d802-4ccd-b63c-d3f383780e9b*777D6B5BD4EAE2B96EA069DF39D0614DE629C02A09B73CF7FA411C7695D6C70F?api-version=2023-03-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/7cf1da1d-d802-4ccd-b63c-d3f383780e9b*777D6B5BD4EAE2B96EA069DF39D0614DE629C02A09B73CF7FA411C7695D6C70F?api-version=2023-03-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "21" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "ETag": [ "\"8f0dece2-0000-0100-0000-64be41a70000\"" ],
        "Location": [ "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/eastus/operationStatuses/7cf1da1d-d802-4ccd-b63c-d3f383780e9b*777D6B5BD4EAE2B96EA069DF39D0614DE629C02A09B73CF7FA411C7695D6C70F?api-version=2023-03-01" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11991" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/eastus/operationStatuses/7cf1da1d-d802-4ccd-b63c-d3f383780e9b*777D6B5BD4EAE2B96EA069DF39D0614DE629C02A09B73CF7FA411C7695D6C70F?api-version=2023-03-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.AzureStackHCI/locations/EASTUS/operationStatuses/7cf1da1d-d802-4ccd-b63c-d3f383780e9b*777D6B5BD4EAE2B96EA069DF39D0614DE629C02A09B73CF7FA411C7695D6C70F\",\"name\":\"7cf1da1d-d802-4ccd-b63c-d3f383780e9b*777D6B5BD4EAE2B96EA069DF39D0614DE629C02A09B73CF7FA411C7695D6C70F\",\"resourceId\":\"/subscriptions/680d0dad-59aa-4464-adf3-b34b2b427e8c/resourceGroups/azurestackhci-pwsh-rg-8x/providers/Microsoft.AzureStackHCI/clusters/pwsh-Cluster0h9u-remove\",\"status\":\"Deleting\",\"startTime\":\"2023-07-24T09:17:27.5475316Z\"}",
    }
  },
  "Remove-AzStackHciCluster+[NoContext]+Delete+$GET+https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/eastus/operationStatuses/7cf1da1d-d802-4ccd-b63c-d3f383780e9b*777D6B5BD4EAE2B96EA069DF39D0614DE629C02A09B73CF7FA411C7695D6C70F?api-version=2023-03-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.AzureStackHCI/locations/eastus/operationStatuses/7cf1da1d-d802[...]
