{
  "Entries": [
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/CloudServices",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<CloudServices xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <CloudService>\r\n    <Name>AzCisIntRunnerWUS</Name>\r\n    <Label>AzCisIntRunnerWUS</Label>\r\n    <Description>AzCisIntRunnerWUS</Description>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Resources>\r\n      <Resource>\r\n        <ResourceProviderNamespace>WACis</ResourceProviderNamespace>\r\n        <Type>CisVault</Type>\r\n        <Name>AzCisIntRunnerWUS</Name>\r\n        <Plan />\r\n        <SchemaVersion>1.1</SchemaVersion>\r\n        <ETag>227f07eb-392b-4cc8-8972-baf13a6299f6</ETag>\r\n        <State>Started</State>\r\n        <SubState>Ok</SubState>\r\n        <OutputItems>\r\n          <OutputItem>\r\n            <Key>StampId</Key>\r\n            <Value>e7b9e848-2f14-47a9-9bad-d77ce5f0ed9a</Value>\r\n          </OutputItem>\r\n          <OutputItem>\r\n            <Key>ResourceId</Key>\r\n            <Value>164364985811234912</Value>\r\n          </OutputItem>\r\n          <OutputItem>\r\n            <Key>BackendStampId</Key>\r\n            <Value>7ef900f6-ad91-497d-a9c5-2742b7ed4a75</Value>\r\n          </OutputItem>\r\n        </OutputItems>\r\n        <OperationStatus>\r\n          <Type>Create</Type>\r\n          <Result>Succeeded</Result>\r\n        </OperationStatus>\r\n        <Label />\r\n      </Resource>\r\n    </Resources>\r\n  </CloudService>\r\n  <CloudService>\r\n    <Name>CisProdCSEA01</Name>\r\n    <Label>0420ce67-e1ce-47c8-95e2-59f656036b8e</Label>\r\n    <Description>8a5ca166-7394-49c4-90bf-c5c10cc891bc</Description>\r\n    <GeoRegion>East Asia</GeoRegion>\r\n    <Resources>\r\n      <Resource>\r\n        <ResourceProviderNamespace>WACiS</ResourceProviderNamespace>\r\n        <Type>CiSVault</Type>\[...]
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/api/devices?api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<ArrayOfDeviceInfo xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <DeviceInfo>\r\n    <ACRCount>0</ACRCount>\r\n    <ActivationTime>2014-11-28T06:04:49.2510897Z</ActivationTime>\r\n    <ActiveController>Unknown</ActiveController>\r\n    <AvailableStorageInBytes>1093364144128</AvailableStorageInBytes>\r\n    <CloudCredCount>0</CloudCredCount>\r\n    <Culture>en-US</Culture>\r\n    <CurrentController>Unknown</CurrentController>\r\n    <DataContainerCount>0</DataContainerCount>\r\n    <Description i:nil=\"true\" />\r\n    <DeviceId>29f9be68-04f7-437d-a466-b90a1ed324b5</DeviceId>\r\n    <DeviceSoftwareVersion>6.3.9600.17215</DeviceSoftwareVersion>\r\n    <FriendlyName>Avirupch_App3</FriendlyName>\r\n    <IsConfigUpdated>true</IsConfigUpdated>\r\n    <IsVirtualApplianceInterimEntry>false</IsVirtualApplianceInterimEntry>\r\n    <Location i:nil=\"true\" />\r\n    <ModelDescription>100</ModelDescription>\r\n    <NNicCards>6</NNicCards>\r\n    <ProvisionedStorageInBytes>6147483648</ProvisionedStorageInBytes>\r\n    <SerialNumber>123456789</SerialNumber>\r\n    <Status>Online</Status>\r\n    <TargetIQN>iqn.1991-05.com.microsoft:storsimple100-123456789-target</TargetIQN>\r\n    <TimeZone>Pacific Standard Time</TimeZone>\r\n    <TotalStorageInBytes>1099511627776</TotalStorageInBytes>\r\n    <Type>Appliance</Type>\r\n    <UsingStorageInBytes>0</UsingStorageInBytes>\r\n    <VolumeCount>0</VolumeCount>\r\n  </DeviceInfo>\r\n  <DeviceInfo>\r\n    <ACRCount>0</ACRCount>\r\n    <ActivationTime>2014-12-11T17:33:21.6765566Z</ActivationTime>\r\n    <ActiveController>Unknown</ActiveController>\r\n    <AvailableStorageInBytes>32985348833280</AvailableStorageInBytes>\r\n    <CloudCredCount>0</CloudCredCount>\r\n    <Culture>en-US</Culture>\r\n    <CurrentController>Unknown</CurrentController>\r\n    <DataContainerCount>0</DataContainerCount>\r\n    <Description i:nil=\"true\" />\r\n    <DeviceId>2b4bda4e-5ab6-4668-a681-ca47cee7ca64</DeviceId>\r\n    <DeviceSoftwareVersion>6.3.9600.17215</DeviceSoftwareVersion>\r\n    <FriendlyName>test-madhurta</FriendlyName>\r\n    <IsConfigUpdated>false</IsConfigUpdated>\r\n    <IsVirtualApplianceInterimEntry>false</IsVirtualApplianceInterimEntry>\r\n    <Location>West US</Location>\r\n    <ModelDescription>1100</ModelDescription>\r\n    <NNicCards>0</NNicCards>\r\n    <ProvisionedStorageInBytes>0</ProvisionedStorageInBytes>\r\n    <SerialNumber>2B4BDA4E-5AB6-4668-A681-CA47CEE7CA64</SerialNumber>\r\n    <Status>Offline</Status>\r\n    <TargetIQN>iqn.1991-05.com.microsoft:storsimple1100-2b4bda4e-5ab6-4668-a681-ca47cee7ca64-target</TargetIQN>\r\n    <TimeZone>UTC</TimeZone>\r\n    <TotalStorageInBytes>32985348833280</TotalStorageInBytes>\r\n    <Type>VirtualAppliance</Type>\r\n    <UsingStorageInBytes>0</UsingStorageInBytes>\r\n    <VolumeCount>0</VolumeCount>\r\n  </DeviceInfo>\r\n</ArrayOfDeviceInfo>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/stamps/7ef900f6-ad91-497d-a9c5-2742b7ed4a75/secretmanagement/publickey?api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<ResourceEncryptionKeysEncrypted xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <EncodedEncryptedPublicKey>EAAAAH/n8WeCQBimBXNIArQtLGliov1nVuoOYLCry/yBWCdDFajYwo6v7PKBYuEkv7I/lfvfh908SM5QQ/Vj5sUeZVLsck98NJuXv/ziR/VXbgSAjxIIDwpDlgBIV3dfhigen2dmp8SjKT2mCGZ81kDf0wub/vRo/ktp3tZbU0yJnP/ueTQo3pZco/J1mJMHCxjqymbFfRg54ex0Go/Z4CxjuNlTN1Pe7q7ohP61KxQ7o1R1qJdLHTaslOdYiSNzDrHNzrGjXEz322wlzZL6+hGRy7LQP06BO4xvJPIwF4k0+k/U0AQ4GtotQ9KWyDeEjuwN2htEOSkwzRnetnzBX45129CkrzyvdeGI4clZz8KOrcMyIUL66hXyK9e1gyllLU+0aU1HEQ127dJwrHYtHYdw/UjPFlVJFi2DpO6SWJCCX13DOpvCeMvrdvyHp40Y/j+Uvg7miKRWrvRnuKLoxhgAPhX4SL4Py2CHQmodp+Yl5Mqv+arq[...]
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/api/?api-version=2014-01-01.2.0",
      "RequestMethod": "POST",
      "RequestBody": "<ServiceConfiguration_V2 xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\">\r\n  <AcrChangeList>\r\n    <Added>\r\n      <AccessControlRecord>\r\n        <Name>ACR_1857894614</Name>\r\n        <InitiatorName>IQN_1039971300</InitiatorName>\r\n        <VolumeCount>0</VolumeCount>\r\n        <OperationInProgress>Invalid</OperationInProgress>\r\n      </AccessControlRecord>\r\n    </Added>\r\n    <Deleted />\r\n    <Updated />\r\n  </AcrChangeList>\r\n  <CredentialChangeList>\r\n    <Added />\r\n    <Deleted />\r\n    <Updated />\r\n  </CredentialChangeList>\r\n  <OperationInProgress>false</OperationInProgress>\r\n</ServiceConfiguration_V2>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-01-01"
        ],
        "client-tracking-id": [
          "4"
        ]
      },
      "ResponseBody": "<string xmlns=\"http://schemas.microsoft.com/2003/10/Serialization/\">bbc8eb03-0d56-459a-8a85-d13799529264</string>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/api/jobs/bbc8eb03-0d56-459a-8a85-d13799529264?api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ],
        "client-tracking-id": [
          "4"
        ]
      },
      "ResponseBody": "<JobStatusInfo xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Error i:nil=\"true\" xmlns:d2p1=\"http://schemas.microsoft.com/wars\" />\r\n  <JobId>bbc8eb03-0d56-459a-8a85-d13799529264</JobId>\r\n  <JobSteps />\r\n  <Result>Succeeded</Result>\r\n  <Status>Completed</Status>\r\n  <TaskResult>Succeeded</TaskResult>\r\n</JobStatusInfo>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/api/?api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ]
      },
      "ResponseBody": "<ServiceConfiguration_Base i:type=\"ServiceConfiguration\" xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <AcrChangeList>\r\n    <Added />\r\n    <Deleted xmlns:d3p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\r\n    <Updated>\r\n      <AccessControlRecord>\r\n        <InstanceId>130a35a5-8182-4934-973b-84cd9a12f3fb</InstanceId>\r\n        <Name>testmadhur9</Name>\r\n        <OperationInProgress>None</OperationInProgress>\r\n        <GlobalId i:nil=\"true\" xmlns=\"http://schemas.datacontract.org/2004/07/Microsoft.Internal.CiS.Service.Interface.Portal\" />\r\n        <InitiatorName>testmadhur9</InitiatorName>\r\n        <VolumeCount>0</VolumeCount>\r\n      </AccessControlRecord>\r\n      <AccessControlRecord>\r\n        <InstanceId>1b50c4b7-235c-4f64-9728-96373a8b2207</InstanceId>\r\n        <Name>a1.m.com</Name>\r\n        <OperationInProgress>None</OperationInProgress>\r\n        <GlobalId i:nil=\"true\" xmlns=\"http://schemas.dat[...]
[...]
    {
      "RequestUri": "/062c67a6-019b-40af-a775-c4dc1abe56ed/cloudservices/CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us/resources/WACis/~/CiSVault/OneSDK-Resource/api/jobs/990f2a45-d96f-44b0-8a03-25e816d4fcec?api-version=2014-01-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-01-01"
        ],
        "client-tracking-id": [
          "9"
        ]
      },
      "ResponseBody": "<JobStatusInfo xmlns=\"http://windowscloudbackup.com/CiS/V2013_03\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Error i:nil=\"true\" xmlns:d2p1=\"http://schemas.microsoft.com/wars\" />\r\n  <JobId>990f2a45-d96f-44b0-8a03-25e816d4fcec</JobId>\r\n  <JobSteps />\r\n  <Result>Succeeded</Result>\r\n  <Status>Completed</Status>\r\n  <TaskResult>Succeeded</TaskResult>\r\n</JobStatusInfo>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "062c67a6-019b-40af-a775-c4dc1abe56ed"
  }
}