{
  "Update-AzStorageActionTask+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/joyer-test/providers/Microsoft.StorageActions/storageTasks/storageactiontest1?api-version=2023-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/joyer-test/providers/Microsoft.StorageActions/storageTasks/storageactiontest1?api-version=2023-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "18" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-throttling-version": [ "v1" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/joyer-test/providers/Microsoft.StorageActions/storageTasks/storageactiontest1\",\"name\":\"storageactiontest1\",\"type\":\"Microsoft.StorageActions/storageTasks\",\"location\":\"eastus2euap\",\"identity\":{\"type\":\"None\"},\"properties\":{\"enabled\":true,\"description\":\"test storage task 1\",\"action\":{\"if\":{\"condition\":\"[[equals(AccessTier, \u0027Cool\u0027)]]\",\"operations\":[{\"name\":\"SetBlobTier\",\"parameters\":{\"tier\":\"Hot\"},\"onSuccess\":\"continue\",\"onFailure\":\"break\"}]}},\"taskVersion\":1,\"provisioningState\":\"Succeeded\",\"creationTimeInUtc\":\"2024-05-06T08:36:44.1658106Z\"}}",
    }
  },
  "Update-AzStorageActionTask+[NoContext]+UpdateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/joyer-test/providers/Microsoft.StorageActions/storageTasks/storageactiontest1?api-version=2023-01-01+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/joyer-test/providers/Microsoft.StorageActions/storageTasks/storageactiontest1?api-version=2023-01-01",
      "Content": "{\r\n  \"location\": \"eastus2euap\",\r\n  \"identity\": {\r\n    \"type\": \"None\"\r\n  },\r\n  \"properties\": {\r\n    \"action\": {\r\n      \"if\": {\r\n        \"condition\": \"[[equals(AccessTier, \\u0027Cool\\u0027)]]\",\r\n        \"operations\": [\r\n          {\r\n            \"name\": \"SetBlobTier\",\r\n            \"parameters\": {\r\n              \"tier\": \"Hot\"\r\n            },\r\n            \"onSuccess\": \"continue\",\r\n            \"onFailure\": \"break\"\r\n          }\r\n        ]\r\n      },\r\n      \"else\": {\r\n        \"operations\": [\r\n          {\r\n            \"name\": \"SetBlobTier\",\r\n            \"parameters\": {\r\n              \"tier\": \"Hot\"\r\n            },\r\n            \"onSuccess\": \"continue\",\r\n            \"onFailure\": \"break\"\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"enabled\": true,\r\n    \"description\": \"test storage task 1\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.StorageActions/locations/eastus2euap/asyncoperations/a68f4949-526c-4104-bc80-73618f3162ea?monitor=true\u0026api-version=2023-01-01" ],
        "Retry-After": [ "17" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.StorageActions/locations/eastus2euap/asyncoperations/a68f4949-526c-4104-bc80-73618f3162ea?monitor=true\u0026api-version=2023-01-01\u0026asynclink=true" ],
        "x-ms-throttling-version": [ "v1" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "text/plain; charset=utf-8" ]
      },
      "Content": null,
    }
[...]
