{
  "Get-AzSpringCloudBuildServiceAgentPool+[NoContext]+Get+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/springcloud-rg-0zquav/providers/Microsoft.AppPlatform/Spring/spring-f7lz2n/buildServices/default/agentPools/default?api-version=2022-04-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/springcloud-rg-0zquav/providers/Microsoft.AppPlatform/Spring/spring-f7lz2n/buildServices/default/agentPools/default?api-version=2022-04-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"poolSize\": {\r\n      \"name\": \"S1\"\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/springcloud-rg-0zquav/providers/Microsoft.AppPlatform/locations/eastus/operationResults/f8578199-0242-4ece-b6ad-1a83ddecfbfe/Spring/spring-f7lz2n?api-version=2022-04-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1197" ],
        "x-rp-server-mvid": [ "b4692fb5-75b2-4001-b951-6c09037b5614" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/springcloud-rg-0zquav/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/spring-f7lz2n/operationId/f8578199-0242-4ece-b6ad-1a83ddecfbfe?api-version=2022-04-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"provisioningState\":\"Updating\",\"poolSize\":{\"name\":\"S1\",\"cpu\":\"2\",\"memory\":\"4Gi\"}},\"type\":\"Microsoft.AppPlatform/Spring/buildServices/agentPools\",\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/springcloud-rg-0zquav/providers/Microsoft.AppPlatform/Spring/spring-f7lz2n/buildServices/default/agentPools/default\",\"name\":\"default\"}",
    }
  },
  "Get-AzSpringCloudBuildServiceAgentPool+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/springcloud-rg-0zquav/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/spring-f7lz2n/operationId/f8578199-0242-4ece-b6ad-1a83ddecfbfe?api-version=2022-04-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/springcloud-rg-0zquav/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/spring-f7lz2n/operationId/f8578199-0242-4ece-b6ad-1a83ddecfbfe?api-version=2022-04-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11995" ],
        "x-rp-server-mvid": [ "b4692fb5-75b2-4001-b951-6c09037b5614" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/springcloud-rg-0zquav/providers/Microsoft.AppPlatform/locations/eastus/operationStatus/spring-f7lz2n/operationId/f8578199-0242-4ece-b6ad-1a83ddecfbfe\",\"name\":\"f8578199-0242-4ece-b6ad-1a83ddecfbfe\",\"status\":\"Succeeded\",\"startTime\":\"2022-07-29T06:03:34.7118479Z\",\"endTime\":\"2022-07-29T06:03:41.0832213Z\"}",
    }
  },
  "Get-AzSpringCloudBuildServiceAgentPool+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/springcloud-rg-0zquav/providers/Microsoft.AppPlatform/Spring/spring-f7lz2n/buildServices/default/agentPools/default?api-version=2022-04-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceG[...]
