{
  "Remove-AzElasticMonitor+[NoContext]+Delete+$PUT+https://management.azure.com/subscriptions/5a611eed-e33a-44e8-92b1-3f6bf835905e/resourceGroups/elastic-rg-3eytki/providers/Microsoft.Elastic/monitors/elastic-rhqz4v?api-version=2020-07-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/5a611eed-e33a-44e8-92b1-3f6bf835905e/resourceGroups/elastic-rg-3eytki/providers/Microsoft.Elastic/monitors/elastic-rhqz4v?api-version=2020-07-01",
      "Content": "{\r\n  \"sku\": {\r\n    \"name\": \"ess-monthly-consumption_Monthly\"\r\n  },\r\n  \"properties\": {\r\n    \"userInfo\": {\r\n      \"emailAddress\": \"v-diya@microsoft.com\"\r\n    }\r\n  },\r\n  \"location\": \"westus2\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"0e00cb4a-0000-0800-0000-6135da360000\"" ],
        "Location": [ "https://management.azure.com/providers/Microsoft.Elastic/locations/WESTUS2/operationStatuses/28afa276-11c8-4575-99bb-4dddf40a9dca*7721C3AEB7BD16074090A304A954B5D8871D26E7EB2F2E4F1370B2189105ADC8?api-version=2020-07-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Microsoft.Elastic/locations/WESTUS2/operationStatuses/28afa276-11c8-4575-99bb-4dddf40a9dca*7721C3AEB7BD16074090A304A954B5D8871D26E7EB2F2E4F1370B2189105ADC8?api-version=2020-07-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/5a611eed-e33a-44e8-92b1-3f6bf835905e/resourceGroups/elastic-rg-3eytki/providers/Microsoft.Elastic/monitors/elastic-rhqz4v\",\"name\":\"elastic-rhqz4v\",\"type\":\"microsoft.elastic/monitors\",\"sku\":{\"name\":\"ess-monthly-consumption_Monthly\"},\"location\":\"westus2\",\"systemData\":{\"createdBy\":\"v-diya@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2021-09-06T09:06:57.702567Z\",\"lastModifiedBy\":\"v-diya@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2021-09-06T09:06:57.702567Z\"},\"properties\":{\"provisioningState\":\"Accepted\",\"monitoringStatus\":\"Enabled\",\"elasticProperties\":{\"elasticCloudUser\":null,\"elasticCloudDeployment\":null},\"userInfo\":null,\"liftrResourceCategory\":\"MonitorLogs\",\"liftrResourcePreference\":0}}",
    }
  },
  "Remove-AzElasticMonitor+[NoContext]+Delete+$GET+https://management.azure.com/providers/Microsoft.Elastic/locations/WESTUS2/operationStatuses/28afa276-11c8-4575-99bb-4dddf40a9dca*7721C3AEB7BD16074090A304A954B5D8871D26E7EB2F2E4F1370B2189105ADC8?api-version=2020-07-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Elastic/locations/WESTUS2/operationStatuses/28afa276-11c8-4575-99bb-4dddf40a9dca*7721C3AEB7BD16074090A304A954B5D8871D26E7EB2F2E4F1370B2189105ADC8?api-version=2020-07-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"0500f2c5-0000-0800-0000-6135da360000\"" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11996" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.Elastic/locations/WESTUS2/operationStatuses/28afa276-11c8-4575-99bb-4dddf40a9dca*7721C3AEB7BD16074090A304A954B5D8871D26E7EB2F2E4F1370B2189105ADC8\",\"name\":\"28afa276-11c8-4575-99bb-4dddf40a9dca*7721C3AEB7BD16074090A304A954B5D8871D26E7EB2F2E4F1370B2189105ADC8\",\"resourceId\":\"/subscriptions/5a611eed-e33a-44e8-92b1-3f6bf835905e/resourceGroups/elastic-rg-3eytki/providers/Microsoft.Elastic/monitors/elastic-rhqz4v\",\"status\":\"Accepted\",\"startTime\":\"2021-09-06T09:07:02.4133355Z\"}",
    }
  },
  "Remove-AzElasticMonitor+[NoContext]+Delete+$GET+https://management.azure.com/providers/Microsoft.Elastic/locations/WESTUS2/operationStatuses/28afa276-11c8-4575-99bb-4dddf40a9dca*7721C3AEB7BD16074090A304A954B5D8871D26E7EB2F2E4F1370B2189105ADC8?api-version=2020-07-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Elastic/locations/WESTUS2/operationStatuses/28afa276-11c8-4575-99bb-[...]
