{
  "Get-AzNetworkFabricL2Domain+[NoContext]+ListBySubscription+$GET+https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains?api-version=2023-06-15+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains?api-version=2023-06-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "80899ca0-df04-4a37-93e2-977e587db271", "8c265b66-b4db-4357-83a8-a013ad641bf5", "61f05a8b-58ca-4d46-8d5b-8ab8bf606a2e", "89d1e362-65fe-434d-b13d-b7c4cdf3a2df" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11993" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/pipeline-test-rg071423/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains/l2domain-2007\",\"name\":\"l2domain-2007\",\"type\":\"microsoft.managednetworkfabric/l2isolationdomains\",\"location\":\"eastus2euap\",\"systemData\":{\"createdBy\":\"v-akurapati@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-07-25T07:02:50.1101092Z\",\"lastModifiedBy\":\"v-akurapati@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-07-31T09:35:55.2624406Z\"},\"properties\":{\"provisioningState\":\"Failed\",\"vlanId\":2007,\"mtu\":1500,\"networkFabricId\":\"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/pipeline-test-rg071423/providers/Microsoft.ManagedNetworkFabric/networkFabrics/pipeline-GA-nf071423\",\"administrativeState\":\"Enabled\"}},{\"id\":\"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/pipeline-test-rg071423/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains/l2domain-2008\",\"name\":\"l2domain-2008\",\"type\":\"microsoft.managednetworkfabric/l2isolationdomains\",\"location\":\"eastus2euap\",\"systemData\":{\"createdBy\":\"v-akurapati@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-07-25T07:18:57.5530695Z\",\"lastModifiedBy\":\"d1bd24c7-b27f-477e-86dd-939e107873d7[...]
