{
  "Get-AzNetworkFabricController+[NoContext]+ListBySubscription+$GET+https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers?api-version=2023-06-15+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers?api-version=2023-06-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "1169663e-0d50-422f-9a36-a3c81fdd6941", "a405df87-ad22-412d-8801-12cd405ea2b6", "d9194d45-e5b8-41e5-a11d-2f39288dd44f", "9778757c-69aa-4145-82ed-5676bfba3861" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-clisdktest-GA-nfcrg071323/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/nfa-tool-ts-GA-nfc071323\",\"name\":\"nfa-tool-ts-GA-nfc071323\",\"type\":\"microsoft.managednetworkfabric/networkfabriccontrollers\",\"location\":\"eastus2euap\",\"systemData\":{\"createdBy\":\"v-rmarimuthu@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-07-13T09:34:40.4431317Z\",\"lastModifiedBy\":\"d1bd24c7-b27f-477e-86dd-939e107873d7\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2023-09-05T10:32:49.6640609Z\"},\"properties\":{\"infrastructureExpressRouteConnections\":[{\"expressRouteCircuitId\":\"/subscriptions//resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/example-expressRouteCircuit\"}],\"ipv4AddressSpace\":\"10.0.0.0/19\",\"isWorkloadManagementNetworkEnabled\":\"True\",\"nfcSku\":\"Basic\",\"workloadExpressRouteConnections\":[{\"expressRouteCircuitId\":\"/subscriptions//resourceGroups/example-rg/providers/Microsoft.Network/expressRouteCircuits/example-expressRouteCircuit\"}],\"managedResourceGroupConfiguration\":{\"location\":\"eastus2euap\",\"name\":\"nfa-tool-ts-GA-nfc071323-HostedResources-5A1ABCFE\"},\"provisioningState\":\"Succeeded\",\"ipv6AddressSpace\":\"FC00::/59\",\"workloadManagementNetwork\":true,\"infrastructureServices\":{\"ipv4AddressSpaces\":[\"10.0.0.0/21\"],\"ipv6AddressSpaces\":[]},\"workloadServices\":{\"ipv4AddressSpaces\":[\"10.0.28.0/22\"],\"ipv6AddressSpaces\":[]},\"networkFabricIds\":[\"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourcegroups/pipeline-test-rg071423/providers/microsoft.managednetworkfabric/networkfabrics/pipeline-ga-nf071423\"]}},{\"id\":\"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-automation-testing-nfc-rg/providers/microsoft.managednetworkfabric/networkFabriccontrollers/nfa-automation-testing-nfc-1\",\"name\":\"nfa-automation-testing-nfc-1\",\"type\":\"microsoft.managednetworkfabric/networkfabriccontrollers\",\"location[...]
