{
  "New-AzNetworkFabricTapRule+[NoContext]+Create+$PUT+https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/networkTapRules/NetworkTapRuleName?api-version=2023-06-15+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/networkTapRules/NetworkTapRuleName?api-version=2023-06-15",
      "Content": "{\n  \"location\": \"eastus\",\n  \"properties\": {\n    \"configurationType\": \"Inline\",\n    \"matchConfigurations\": [\n      {\n        \"matchConfigurationName\": \"config1\",\n        \"sequenceNumber\": 12,\n        \"ipAddressType\": \"IPv4\",\n        \"matchConditions\": [\n          {\n            \"vlanMatchCondition\": {\n              \"vlans\": [ \"20-30\" ],\n              \"innerVlans\": [ \"30\" ],\n              \"vlanGroupNames\": [ \"name\" ]\n            },\n            \"ipCondition\": {\n              \"type\": \"SourceIP\",\n              \"prefixType\": \"Prefix\",\n              \"ipPrefixValues\": [ \"10.20.20.20/12\" ],\n              \"ipGroupNames\": [ \"name\" ]\n            },\n            \"portCondition\": {\n              \"portType\": \"SourcePort\",\n              \"layer4Protocol\": \"TCP\",\n              \"ports\": [ \"100\" ],\n              \"portGroupNames\": [ \"portGroupName1\" ]\n            },\n            \"encapsulationType\": \"None\"\n          }\n        ],\n        \"actions\": [\n          {\n            \"type\": \"Drop\",\n            \"truncate\": \"100\",\n            \"isTimestampEnabled\": \"True\",\n            \"destinationId\": \"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/neighborGroups/NeighborGroupName\",\n            \"matchConfigurationName\": \"match1\"\n          }\n        ]\n      }\n    ]\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"bd0078e4-0000-0100-0000-65111db80000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "118cc618-e5ec-4224-871e-8650e708f1e1" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/42065eb0-7809-44b4-a655-b62269b1423c*806080C0C101005A495929D38FE8F9401FAB957AA1897685A830FD3EDF87A94A?api-version=2023-06-15" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/networkTapRules/NetworkTapRuleName\",\"name\":\"NetworkTapRuleName\",\"type\":\"microsoft.managednetworkfabric/networktaprules\",\"location\":\"eastus\",\"systemData\":{\"createdBy\":\"v-rmarimuthu@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-09-25T05:42:15.5346057Z\",\"lastModifiedBy\":\"v-rmarimuthu@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-09-25T05:42:15.5346057Z\"},\"properties\":{\"pollingIntervalInSeconds\":30,\"configurationState\":\"Succeeded\",\"provisioningState\":\"Accepted\",\"administrativeState\":\"Disabled\",\"configurationType\":\"Inline\",\"matchConfigurations\":[{\"matchConfigurationName\":\"config1\",\"sequenceNumber\":12,\"ipAddressType\":\"IPv4\",\"matchConditions\":[{\"encapsulationType\":\"None\",\"portCondition\":{\"portType\":\"SourcePort\",\"layer4Protocol\":\"TCP\",\"ports\":[\"100\"],\"portGroupNames\":[\"portGroupName1\"]},\"vlanMatchCondition\":{\"vlans\":[\"20-30\"],\"innerVlans\":[\"30\"],\"vlanGroupNames\":[\"name\"]},\"ipCondition\":{\"type\":\"SourceIP\",\"prefixType[...]
