{
  "New-AzNetworkFabricL2Domain+[NoContext]+Create+$PUT+https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains/l2DomainName?api-version=2023-06-15+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains/l2DomainName?api-version=2023-06-15",
      "Content": "{\n  \"location\": \"eastus\",\n  \"properties\": {\n    \"networkFabricId\": \"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/networkFabrics/fabricName\",\n    \"vlanId\": 1234,\n    \"mtu\": 1501\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"8600fb76-0000-0100-0000-650d70180000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "ea9cea34-609a-4463-a0d8-de6303b19586" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/1979b8b9-1740-4dbd-a79b-b8eb1c54e3b4*B92458FC39A5205262EC27F84D5A3F591FEBF955838F1C29D86E675713E38CB5?api-version=2023-06-15" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains/l2DomainName\",\"name\":\"l2DomainName\",\"type\":\"microsoft.managednetworkfabric/l2isolationdomains\",\"location\":\"eastus\",\"systemData\":{\"createdBy\":\"v-rmarimuthu@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-09-22T10:44:39.4999547Z\",\"lastModifiedBy\":\"v-rmarimuthu@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-09-22T10:44:39.4999547Z\"},\"properties\":{\"provisioningState\":\"Accepted\",\"vlanId\":1234,\"mtu\":1501,\"networkFabricId\":\"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/networkFabrics/fabricName\",\"administrativeState\":\"Disabled\"}}",
    }
  },
  "New-AzNetworkFabricL2Domain+[NoContext]+Create+$GET+https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/1979b8b9-1740-4dbd-a79b-b8eb1c54e3b4*B92458FC39A5205262EC27F84D5A3F591FEBF955838F1C29D86E675713E38CB5?api-version=2023-06-15+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/1979b8b9-1740-4dbd-a79b-b8eb1c54e3b4*B92458FC39A5205262EC27F84D5A3F591FEBF955838F1C29D86E675713E38CB5?api-version=2023-06-15",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"a90162d1-0000-0100-0000-650d701b0000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11989" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/1979b8b9-1740-4dbd-a79b-b8eb1c54e3b4*B92458FC39A5205262EC27F84D5A3F591FEBF955838F1C29D86E675713E38CB5\",\"name\":\"1979b8b9-1740-4dbd-a79b-b8eb1c54e3b4*B92458FC39A5205262EC27F84D5A3F591FEBF955838F1C29D86E675713E38CB5\",\"resourceId\":\"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains/l2DomainName\",\"status\":\"Succeeded\",\"startTime\":\"2023-09-22T10:44:40.7298609Z\",\"endTime\":\"2023-09-22T10:44:43.3901878Z\",\"properties\":null}",
    }
  },
  "New-AzNetworkFabricL2Domain+[NoContext]+Create+$GET+https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains/l2DomainName?api-version=2023-06-15+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resource[...]
