{
  "New-AzNetworkFabricIPCommunity+[NoContext]+Create+$PUT+https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/ipCommunities/IpCommunityName?api-version=2023-06-15+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/ipCommunities/IpCommunityName?api-version=2023-06-15",
      "Content": "{\n  \"location\": \"eastus\",\n  \"properties\": {\n    \"ipCommunityRules\": [\n      {\n        \"action\": \"Permit\",\n        \"sequenceNumber\": 5463,\n        \"wellKnownCommunities\": [ \"Internet\", \"GShut\" ],\n        \"communityMembers\": [ \"1:1\" ]\n      }\n    ]\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"7f005815-0000-0100-0000-650c3dcb0000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "201a9671-2f9e-43d4-8587-ea5e635046b6" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/c2b20b7c-ecc7-4f90-b867-4042d3e6d100*B2003BF07E0A36631ABE9951AB6E38C23BA16ACF7B291488C4C7EDDC36E91858?api-version=2023-06-15" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/ipCommunities/IpCommunityName\",\"name\":\"IpCommunityName\",\"type\":\"microsoft.managednetworkfabric/ipcommunities\",\"location\":\"eastus\",\"systemData\":{\"createdBy\":\"v-rmarimuthu@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-09-21T12:57:46.6540245Z\",\"lastModifiedBy\":\"v-rmarimuthu@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-09-21T12:57:46.6540245Z\"},\"properties\":{\"ipCommunityRules\":[{\"sequenceNumber\":5463,\"action\":\"Permit\",\"wellKnownCommunities\":[\"Internet\",\"GShut\"],\"communityMembers\":[\"1:1\"]}],\"configurationState\":\"Succeeded\",\"provisioningState\":\"Accepted\",\"administrativeState\":\"Disabled\"}}",
    }
  },
  "New-AzNetworkFabricIPCommunity+[NoContext]+Create+$GET+https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/c2b20b7c-ecc7-4f90-b867-4042d3e6d100*B2003BF07E0A36631ABE9951AB6E38C23BA16ACF7B291488C4C7EDDC36E91858?api-version=2023-06-15+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/c2b20b7c-ecc7-4f90-b867-4042d3e6d100*B2003BF07E0A36631ABE9951AB6E38C23BA16ACF7B291488C4C7EDDC36E91858?api-version=2023-06-15",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"6801e951-0000-0100-0000-650c3dd10000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/c2b20b7c-ecc7-4f90-b867-4042d3e6d100*B2003BF07E0A36631ABE9951AB6E38C23BA16ACF7B291488C4C7EDDC36E91858\",\"name\":\"c2b20b7c-ecc7-4f90-b867-4042d3e6d100*B2003BF07E0A36631ABE9951AB6E38C23BA16ACF7B291488C4C7EDDC36E91858\",\"resourceId\":\"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/ipCommunities/IpCommunityName\",\"status\":\"Succeeded\",\"startTime\":\"2023-09-21T12:57:47.7253509Z\",\"endTime\":\"2023-09-21T12:57:53.0023387Z\",\"properties\":null}",
    }
  },
  "New-AzNetworkFabricIPCommunity+[NoContext]+Create+$GET+https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/ipCommunities/IpCommunityName?api-version=2023-06-15+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourc[...]
