{
  "New-AzNetworkFabricIPPrefix+[NoContext]+Create+$PUT+https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/IpPrefixName?api-version=2023-06-15+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/IpPrefixName?api-version=2023-06-15",
      "Content": "{\n  \"location\": \"eastus\",\n  \"properties\": {\n    \"ipPrefixRules\": [\n      {\n        \"action\": \"Permit\",\n        \"sequenceNumber\": 1234,\n        \"networkPrefix\": \"1.1.1.0/24\",\n        \"condition\": \"EqualTo\",\n        \"subnetMaskLength\": \"24\"\n      }\n    ]\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"130167a4-0000-0100-0000-650c33bb0000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "dc75ae70-d05e-4b1a-9705-6b087f307e1f" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/772029b6-41c0-4769-babb-3621030fa5a9*C754700B5CE01E2313D9EA7CB0E56E5E895DBBE7D9FC63854FCC4689A70CAE5C?api-version=2023-06-15" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/IpPrefixName\",\"name\":\"IpPrefixName\",\"type\":\"microsoft.managednetworkfabric/ipprefixes\",\"location\":\"eastus\",\"systemData\":{\"createdBy\":\"v-rmarimuthu@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-09-21T12:14:50.0138731Z\",\"lastModifiedBy\":\"v-rmarimuthu@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-09-21T12:14:50.0138731Z\"},\"properties\":{\"ipPrefixRules\":[{\"action\":\"Permit\",\"sequenceNumber\":1234,\"networkPrefix\":\"1.1.1.0/24\",\"condition\":\"EqualTo\",\"subnetMaskLength\":\"24\"}],\"provisioningState\":\"Accepted\",\"configurationState\":\"Succeeded\",\"administrativeState\":\"Disabled\"}}",
    }
  },
  "New-AzNetworkFabricIPPrefix+[NoContext]+Create+$GET+https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/772029b6-41c0-4769-babb-3621030fa5a9*C754700B5CE01E2313D9EA7CB0E56E5E895DBBE7D9FC63854FCC4689A70CAE5C?api-version=2023-06-15+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/772029b6-41c0-4769-babb-3621030fa5a9*C754700B5CE01E2313D9EA7CB0E56E5E895DBBE7D9FC63854FCC4689A70CAE5C?api-version=2023-06-15",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"650191b9-0000-0100-0000-650c33bb0000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11997" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS/operationStatuses/772029b6-41c0-4769-babb-3621030fa5a9*C754700B5CE01E2313D9EA7CB0E56E5E895DBBE7D9FC63854FCC4689A70CAE5C\",\"name\":\"772029b6-41c0-4769-babb-3621030fa5a9*C754700B5CE01E2313D9EA7CB0E56E5E895DBBE7D9FC63854FCC4689A70CAE5C\",\"resourceId\":\"/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/IpPrefixName\",\"status\":\"Succeeded\",\"startTime\":\"2023-09-21T12:14:51.0709977Z\",\"endTime\":\"2023-09-21T12:14:51.2826825Z\",\"properties\":null}",
    }
  },
  "New-AzNetworkFabricIPPrefix+[NoContext]+Create+$GET+https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/nfa-tool-ts-powershell-rg092123/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/IpPrefixName?api-version=2023-06-15+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/n[...]
