{
  "Update-AzNetworkFabricController+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-rg/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/jnarvaez?api-version=2025-07-15+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-rg/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/jnarvaez?api-version=2025-07-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [
          "9"
        ],
        "Authorization": [
          "[Filtered]"
        ]
      },
      "ContentHeaders": {}
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [
          "\"9700379a-0000-1100-0000-6a5558c20000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1098"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16498"
        ]
      },
      "ContentHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "Content": "{\"id\":\"/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-rg/providers/microsoft.managednetworkfabric/networkFabriccontrollers/jnarvaez\",\"name\":\"jnarvaez\",\"type\":\"microsoft.managednetworkfabric/networkfabriccontrollers\",\"location\":\"uksouth\",\"systemData\":{\"createdBy\":\"38b0b83f-86c1-4825-b5d3-72b882ac5911\",\"createdByType\":\"Application\",\"createdAt\":\"2026-07-13T20:29:16.8672392Z\",\"lastModifiedBy\":\"cbe7d642-9e0a-475d-b2bf-2cb0a9825e13\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2026-07-13T21:29:38.5767488Z\"},\"identity\":{\"principalId\":\"544bb5fe-aa99-4c9e-8c35-41467e2b2720\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"type\":\"SystemAssigned\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"ipv4AddressSpace\":\"10.30.0.0/19\",\"isWorkloadManagementNetworkEnabled\":\"True\",\"networkFabricIds\":[\"/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourcegroups/jnarvaez-nf-rg/providers/microsoft.managednetworkfabric/networkfabrics/jnarvaez-nf\"],\"infrastructureExpressRouteConnections\":[],\"workloadExpressRouteConnections\":[],\"infrastructureServices\":{\"ipv4AddressSpaces\":[\"10.30.0.0/20\"],\"ipv6AddressSpaces\":[]},\"workloadServices\":{\"ipv4AddressSpaces\":[\"10.30.28.0/22\"],\"ipv6AddressSpaces\":[]},\"managedResourceGroupConfiguration\":{\"location\":\"uksouth\",\"name\":\"jnarvaez-HostedResources-7985B8DB\"},\"tenantInternetGatewayIds\":[],\"nfcSku\":\"VLab\",\"annotation\":\"vlab\"}}",
    }
  },
  "Update-AzNetworkFabricController+[NoContext]+UpdateExpanded+$PUT+https://management.azure.com/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-rg/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/jnarvaez?api-version=2025-07-15+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-rg/providers/Microsoft.ManagedNe[...]
