{
  "Update-AzNetworkFabricExternalNetwork+[NoContext]+UpdateExpanded+$PATCH+https://management.azure.com/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/l3-iso/externalNetworks/externalNetworkName?api-version=2025-07-15+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/l3-iso/externalNetworks/externalNetworkName?api-version=2025-07-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [
          "1"
        ],
        "Authorization": [
          "[Filtered]"
        ]
      },
      "ContentHeaders": {}
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "Content": "{\"properties\": {\"annotation\": \"annotation\", \"networkToNetworkInterconnectId\": \"/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/networkFabrics/fabricNameTest/networkToNetworkInterconnects/example-nni\", \"importRoutePolicy\": {\"importIpv4RoutePolicyId\": \"/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/routePolicies/routePolicyName\", \"importIpv6RoutePolicyId\": \"/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/routePolicies/routePolicyName\"}, \"exportRoutePolicy\": {\"exportIpv4RoutePolicyId\": \"/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/routePolicies/routePolicyName\", \"exportIpv6RoutePolicyId\": \"/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/routePolicies/routePolicyName\"}, \"peeringOption\": \"OptionA\", \"optionBProperties\": {\"importRouteTargets\": [\"65046:10039\"], \"exportRouteTargets\": [\"65046:10039\"], \"routeTargets\": {\"importIpv4RouteTargets\": [\"65046:10050\"], \"importIpv6RouteTargets\": [\"65046:10050\"], \"exportIpv4RouteTargets\": [\"65046:10050\"], \"exportIpv6RouteTargets\": [\"65046:10050\"]}}, \"optionAProperties\": {\"primaryIpv4Prefix\": \"10.1.1.0/30\", \"primaryIpv6Prefix\": \"3FFE:FFFF:0:CD30::a0/126\", \"secondaryIpv4Prefix\": \"10.1.1.4/30\", \"secondaryIpv6Prefix\": \"3FFE:FFFF:0:CD30::a4/126\", \"mtu\": 1500, \"vlanId\": 1001, \"fabricASN\": 1234, \"peerASN\": 65047, \"bfdConfiguration\": {\"administrativeState\": \"Enabled\", \"intervalInMilliSeconds\": 300, \"multiplier\": 10}, \"ingressAclId\": \"/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/accessControlLists/example-acl\", \"egressAclId\": \"/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/accessControlLists/example-acl\", \"bmpConfiguration\": {\"configurationState\": \"Enabled\"}}, \"staticRouteConfiguration\": {\"bfdConfiguration\": {\"administrativeState\": \"Enabled\", \"intervalInMilliSeconds\": 300, \"multiplier\": 10}, \"ipv4Routes\": [{\"prefix\": \"10.0.0.1/24\", \"nextHop\": [\"10.0.0.1\"]}], \"ipv6Routes\": [{\"prefix\": \"2fff::/64\", \"nextHop\": [\"3ffe::1\"]}]}, \"configurationState\": \"Succeeded\", \"provisioningState\": \"Accepted\", \"administrativeState\": \"Enabled\"}, \"id\": \"/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/example-l3domain/externalNetworks/example-externalnetwork\", \"name\": \"example-externalnetwork\", \"type\": \"microsoft.managednetworkfabric/l3IsolationDomains/externalnetworks\", \"systemData\": {\"createdBy\": \"REDACTED\", \"createdByType\": \"User\", \"createdAt\": \"2023-06-09T04:51:41.251Z\", \"lastModifiedBy\": \"UserId\", \"lastModifiedByType\": \"User\", \"lastModifiedAt\": \"2023-06-09T04:51:41.251Z\"}}",
    }
  }
}