{
  "Update-AzNetworkFabricNetworkTapRule+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/networkTapRules/NetworkTapRuleName?api-version=2025-07-15+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/networkTapRules/NetworkTapRuleName?api-version=2025-07-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [
          "1"
        ],
        "Authorization": [
          "[Filtered]"
        ]
      },
      "ContentHeaders": {}
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "Content": "{\"properties\": {\"annotation\": \"annotation\", \"configurationType\": \"File\", \"tapRulesUrl\": \"https://microsoft.com/a\", \"identitySelector\": {\"identityType\": \"UserAssignedIdentity\", \"userAssignedIdentityResourceId\": \"/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourcegroups/jnarvaez-nf-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/example-identity\"}, \"matchConfigurations\": [{\"matchConfigurationName\": \"config1\", \"sequenceNumber\": 10, \"ipAddressType\": \"IPv4\", \"matchConditions\": [{\"protocolTypes\": [\"TCP\"], \"vlanMatchCondition\": {\"vlans\": [\"20-30\"], \"innerVlans\": [\"30\"], \"vlanGroupNames\": [\"example-vlanGroup\"]}, \"ipCondition\": {\"type\": \"SourceIP\", \"prefixType\": \"Prefix\", \"ipPrefixValues\": [\"10.20.20.20/12\"], \"ipGroupNames\": [\"example-ipGroup\"]}, \"encapsulationType\": \"None\", \"portCondition\": {\"portType\": \"SourcePort\", \"layer4Protocol\": \"TCP\", \"ports\": [\"100\"], \"portGroupNames\": [\"example-portGroup1\"]}}], \"actions\": [{\"type\": \"Drop\", \"truncate\": \"100\", \"isTimestampEnabled\": \"True\", \"destinationId\": \"/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourcegroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/neighborGroups/example-neighborGroup\", \"matchConfigurationName\": \"match1\"}]}], \"dynamicMatchConfigurations\": [{\"ipGroups\": [{\"name\": \"example-ipGroup\", \"ipAddressType\": \"IPv4\", \"ipPrefixes\": [\"10.20.3.1/20\"]}], \"vlanGroups\": [{\"name\": \"example-vlanGroup\", \"vlans\": [\"20-30\"]}], \"portGroups\": [{\"name\": \"example-portGroup\", \"ports\": [\"100-200\"]}]}], \"networkTapIds\": [\"/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourcegroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/networkTaps/example-tap\"], \"pollingIntervalInSeconds\": 30, \"lastSyncedTime\": \"2023-06-12T07:11:22.485Z\", \"networkFabricIds\": [\"/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/networkFabrics/fabricNameTest\"], \"globalNetworkTapRuleActions\": {\"enableCount\": \"True\", \"truncate\": \"truncate-name\"}, \"lastOperation\": {\"details\": \"Pending administrative update\"}, \"configurationState\": \"PendingAdministrativeUpdate\", \"provisioningState\": \"Accepted\", \"administrativeState\": \"EnabledDegraded\"}, \"identity\": {\"principalId\": \"0000ABCD-0A0B-0000-0000-000000ABCDEF\", \"tenantId\": \"0000ABCD-0A0B-0000-0000-000000ABCDEF\", \"type\": \"UserAssigned\", \"userAssignedIdentities\": {\"key872\": {\"principalId\": \"0000ABCD-0A0B-0000-0000-000000ABCDEF\", \"clientId\": \"0000ABCD-0A0B-0000-0000-000000ABCDEF\"}}}, \"tags\": {\"keyId\": \"keyValue\"}, \"location\": \"eastuseuap\", \"id\": \"/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourcegroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/networkTapRules/example-tapRule\", \"name\": \"example-tapRule\", \"type\": \"microsoft.managednetworkfabric/networkTapRules\", \"systemData\": {\"createdBy\": \"REDACTED\", \"createdByType\": \"User\", \"createdAt\": \"2023-06-09T04:51:41.251Z\", \"lastModifiedBy\": \"UserId\", \"lastModifiedByType\": \"User\", \"lastModifiedAt\": \"2023-06-09T04:51:41.251Z\"}}",
    }
  },
  "Update-AzNetworkFabricNetworkTapRule+[NoContext]+UpdateExpanded+$PUT+https://management.azure.com/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/networkTapRules/NetworkTapRuleName?api-version=2025-07-15+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-[...]
