{
  "Update-AzNetworkFabricL3IsolationDomain+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/l3-iso?api-version=2025-07-15+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/l3-iso?api-version=2025-07-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [
          "12"
        ],
        "Authorization": [
          "[Filtered]"
        ]
      },
      "ContentHeaders": {}
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "Content": "{\"id\": \"/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/l3-iso\", \"name\": \"l3-iso\", \"type\": \"Microsoft.ManagedNetworkFabric/l3IsolationDomains\", \"location\": \"uksouth\", \"properties\": {\"networkFabricId\": \"/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/networkFabrics/jnarvaez-nf\", \"redistributeConnectedSubnets\": \"True\", \"redistributeStaticRoutes\": \"False\", \"administrativeState\": \"Disabled\", \"configurationState\": \"Succeeded\", \"provisioningState\": \"Succeeded\"}}",
    }
  },
  "Update-AzNetworkFabricL3IsolationDomain+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/l3-iso?api-version=2025-07-15+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/89a70903-42a2-4ff6-b437-688a27893711/resourceGroups/jnarvaez-nf-rg/providers/Microsof[...]
