{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Billing/billingPeriods/201710/providers/Microsoft.Consumption/usageDetails?$top=10&api-version=2018-01-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"nextLink\": \"https://management.azure.com/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Billing/billingPeriods/201710/providers/Microsoft.Consumption/usageDetails?$top=10&api-version=2018-01-31&sessiontoken=12:4024783&$skiptoken=317C31307C31307C46616C73657C547275657C30&skiptokenver=v1&id=6c39671b-f09c-4f17-88fc-edfde31b72d5\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Billing/billingPeriods/20171001/providers/Microsoft.Consumption/usageDetails/7bc64687-0595-21ca-2dcb-d6783472af4a\",\r\n      \"name\": \"7bc64687-0595-21ca-2dcb-d6783472af4a\",\r\n      \"type\": \"Microsoft.Consumption/usageDetails\",\r\n      \"tags\": null,\r\n      \"properties\": {\r\n        \"billingPeriodId\": \"/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Billing/billingPeriods/20171001\",\r\n        \"usageStart\": \"2017-10-01T00:00:00Z\",\r\n        \"usageEnd\": \"2017-10-01T23:59:59Z\",\r\n        \"instanceId\": \"/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/resourceGroups/mynewresourcegroup/providers/Microsoft.Storage/storageAccounts/mynewresourcegroup424\",\r\n        \"instanceName\": \"mynewresourcegroup424\",\r\n        \"instanceLocation\": \"uswest\",\r\n        \"meterId\": \"3f2b1e1c-c886-4ec6-ad6f-dd0ef38819c9\",\r\n        \"usageQuantity\": 7.2E-05,\r\n        \"pretaxCost\": 3.239442285E-06,\r\n        \"currency\": \"USD\",\r\n        \"isEstimated\": false,\r\n        \"subscriptionGuid\": \"1caaa5a3-2b66-438e-8ab4-bce37d518c5d\",\r\n        \"subscriptionName\": \"CCM - Microsoft Azure Enterprise - 1\",\r\n        \"accountName\": \"AAAA\",\r\n        \"departmentName\": \"Ama\",\r\n        \"product\": \"Storage Locally Redundant Standard IO - Table\",\r\n        \"consumedService\": \"Microsoft.Storage\",\r\n        \"costCenter\": \"XYZ987\",\r\n        \"meterDetails\": null\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Billing/billingPeriods/20171001/providers/Microsoft.Consumption/usageDetails/89fcc639-1485-493b-25c5-5a0a02cf21d8\",\r\n      \"name\": \"89fcc639-1485-493b-25c5-5a0a02cf21d8\",\r\n      \"type\": \"Microsoft.Consumption/usageDetails\",\r\n      \"tags\": null,\r\n      \"properties\": {\r\n        \"billingPeriodId\": \"/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5[...]
