{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/providers/Microsoft.Peering/peerings?api-version=2019-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Basic_Direct_Free\",\r\n        \"tier\": \"Basic\",\r\n        \"family\": \"Direct\",\r\n        \"size\": \"Free\"\r\n      },\r\n      \"kind\": \"Direct\",\r\n      \"properties\": {\r\n        \"direct\": {\r\n          \"connections\": [\r\n            {\r\n              \"bandwidthInMbps\": 30000,\r\n              \"provisionedBandwidthInMbps\": 0,\r\n              \"peeringDBFacilityId\": 64,\r\n              \"connectionState\": \"PendingApproval\",\r\n              \"bgpSession\": {\r\n                \"sessionPrefixV4\": \"192.168.1.0/31\",\r\n                \"sessionPrefixV6\": \"fe01::0/127\",\r\n                \"microsoftSessionIPv4Address\": \"192.168.1.1\",\r\n                \"microsoftSessionIPv6Address\": \"fe01::1\",\r\n                \"peerSessionIPv4Address\": \"192.168.1.0\",\r\n                \"peerSessionIPv6Address\": \"fe01::\",\r\n                \"sessionStateV4\": \"None\",\r\n                \"sessionStateV6\": \"None\",\r\n                \"maxPrefixesAdvertisedV4\": 20000,\r\n                \"maxPrefixesAdvertisedV6\": 2000,\r\n                \"md5AuthenticationKey\": \"25234523452123411fd234qdwfas3234\"\r\n              }\r\n            },\r\n            {\r\n              \"bandwidthInMbps\": 30000,\r\n              \"provisionedBandwidthInMbps\": 0,\r\n              \"peeringDBFacilityId\": 64,\r\n              \"connectionState\": \"PendingApproval\",\r\n              \"bgpSession\": {\r\n                \"sessionPrefixV4\": \"192.168.1.2/31\",\r\n                \"sessionPrefixV6\": \"fe01::2/127\",\r\n                \"microsoftSessionIPv4Address\": \"192.168.1.3\",\r\n                \"microsoftSessionIPv6Address\": \"fe01::3\",\r\n                \"peerSessionIPv4Address\": \"192.168.1.2\",\r\n                \"peerSessionIPv6Address\": \"fe01::2\",\r\n                \"sessionStateV4\": \"None\",\r\n                \"sessionStateV6\": \"None\",\r\n                \"maxPrefixesAdvertisedV4\": 20000,\r\n                \"maxPrefixesAdvertisedV6\": 2000,\r\n                \"md5AuthenticationKey\": \"25234523452123411fd234qdwfas3234\"\r\n              }\r\n            }\r\n          ],\r\n          \"useForPeeringService\": false,\r\n          \"peerAsn\": {\r\n            \"id\": \"/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/providers/Microsoft.Peering/peerAsns/myAsn1\"\r\n          }\r\n        },\r\n        \"peeringLocation\": \"Amsterdam\",\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"location\": \"centralus\",\r\n      \"eTag\": \"8f7138e9-1bc2-4c76-bdfd-3094bf40442d\",\r\n      \"tags\": {\r\n        \"tag2\": \"value2\",\r\n        \"tag1\": \"value1\"\r\n      },\r\n      \"name\": \"NewDirectPeeringPipeTwoConnections\",\r\n      \"id\": \"/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/resourceGroups/testCarrier/providers/Microsoft.Peering/peerings/NewDirectPeeringPipeTwoConnections\",\r\n      \"type\": \"Microsoft.Peering/peerings\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/resourceGroups/testCarrier/providers/Microsoft.Peering/peerings/NewDirectPeeringPipeTwoConnections?api-version=2019-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic_Direct_Free\",\r\n    \"tier\": \"Basic\",\r\n    \"family\": \"Direct\",\r\n    \"size\": \"Free\"\r\n  },\r\n  \"kind\": \"Direct\",\r\n  \"properties\": {\r\n    \"direct\": {\r\n      \"conn[...]
[...]
