{
  "Entries": [
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourcegroups/audit-cmdlet-test-rgps8976?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/audit-cmdlet-test-rgps8976\",\r\n  \"name\": \"audit-cmdlet-test-rgps8976\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/audit-cmdlet-test-rgps8976/providers/Microsoft.Sql/servers/audit-cmdlet-serverps8976?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/audit-cmdlet-serverps8976' under resource group 'audit-cmdlet-test-rgps8976' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/audit-cmdlet-test-rgps8976/providers/Microsoft.Sql/servers/audit-cmdlet-serverps8976?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"audit-cmdlet-serverps8976.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/audit-cmdlet-test-rgps8976/providers/Microsoft.Sql/servers/audit-cmdlet-serverps8976\",\r\n  \"name\": \"audit-cmdlet-serverps8976\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/audit-cmdlet-test-rgps8976/providers/Microsoft.Sql/servers/audit-cmdlet-serverps8976?api-version=2020-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!Sec\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/audit-cmdlet-test-rgps8976/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/1c4b946e-1560-470f-a9e5-3b07768c4d20?api-version=2020-11-01-preview"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/audit-cmdlet-test-rgps8976/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/1c4b946e-1560-470f-a9e5-3b07768c4d20?api-version=2020-11-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2021-05-17T07:43:06.17Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/audit-cmdlet-test-rgps8976/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/1c4b946e-1560-470f-a9e5-3b07768c4d20?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"1c4b946e-1560-470f-a9e5-3b07768c4d20\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2021-05-17T07:43:06.17Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/audit-cmdlet-test-rgps8976/providers/Microsoft.Sql/servers/audit-cmdlet-serverps8976/databases/audit-cmdlet-dbps8976?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/audit-cmdlet-serverps8976/databases/audit-cmdlet-dbps8976' under resource group 'audit-cmdlet-test-rgps8976' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/audit-cmdlet-test-rgps8976/providers/Microsoft.Sql/servers/audit-cmdlet-serverps8976/databases/audit-cmdlet-dbps8976?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\",\r\n    \"capacity\": 5\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 2147483648,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"7894239d-2790-4bb6-9774-1e8898a5dabc\",\r\n    \"creationDate\": \"2021-05-17T07:44:35.08Z\",\r\n    \"currentServiceObjectiveName\": \"Basic\",\r\n    \"requestedServiceObjectiveName\": \"Basic\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"readScale\": \"Disabled\",\r\n    \"currentSku\": {\r\n      \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"capacity\": 5\r\n    },\r\n    \"currentBackupStorageRedundancy\": \"Geo\",\r\n    \"requestedBackupStorageRedundancy\": \"Geo\",\r\n    \"maintenanceConfigurationId\": \"/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default\",\r\n    \"isLedgerOn\": false,\r\n    \"isInfraEncryptionEnabled\": false\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/audit-cmdlet-test-rgps8976/providers/Microsoft.Sql/servers/audit-cmdlet-serverps8976/databases/audit-cmdlet-dbps8976\",\r\n  \"name\": \"audit-cmdlet-dbps8976\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/audit-cmdlet-test-rgps8976/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/0e7a05f6-9c9f-45a5-9860-bd3e990288f8?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"0e7a05f6-9c9f-45a5-9860-bd3e990288f8\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2021-05-17T07:43:52.41Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/audit-cmdlet-test-rgps8976/providers/Microsoft.Storage/storageAccounts/blobauditps8976?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/providers/Microsoft.Storage/locations/westcentralus/asyncoperations/bdfbcb47-62a5-4db0-a2c2-83fe2abadad7?monitor=true&api-version=2017-10-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/providers/Microsoft.Storage/locations/westcentralus/asyncoperations/bdfbcb47-62a5-4db0-a2c2-83fe2abadad7?monitor=true&api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/audit-cmdlet-test-rgps8976/providers/Microsoft.Storage/storageAccounts/blobauditps8976\",\r\n  \"name\": \"blobauditps8976\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2021-05-17T07:44:38.661092Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2021-05-17T07:44:38.661092Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2021-05-17T07:44:38.5829869Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://blobauditps8976.blob.core.windows.net/\",\r\n      \"queue\": \"https://blobauditps8976.queue.core.windows.net/\",\r\n      \"table\": \"https://blobauditps8976.table.core.windows.net/\",\r\n      \"file\": \"https://blobauditps8976.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"westcentralus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"westus2\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourcegroups/audit-cmdlet-test-rgps8976/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps8976?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps8976' under resource group 'audit-cmdlet-test-rgps8976' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourcegroups/audit-cmdlet-test-rgps8976/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-workspaceps8976?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"dfe185ee-7de6-4d44-b3c5-7b1bccbac1ed\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"sku\": {\r\n      \"name\": \"standard\",\r\n      \"lastSkuUpdate\": \"Mon, 17 May 2021 07:45:10 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\": \"Tue, 18 May 2021 01:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\",\r\n    \"createdDate\": \"Mon, 17 May 2021 07:45:10 GMT\",\r\n    \"modifiedDate\": \"Mon, 17 May 2021 07:45:12 GMT\"\r\n  },\r\n  \"id\": \"/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourcegroups/audit-cmdlet-test-rgps8976/providers/microsoft.operationalinsights/workspaces/audit-cmdlet-workspaceps8976\",\r\n  \"name\": \"audit-cmdlet-workspaceps8976\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {}\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/audit-cmdlet-test-rgps8976/providers/Microsoft.EventHub/namespaces/audit-cmdlet-event-hub-nsps8976?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "49"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"id\": \"/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/audit-cmdlet-test-rgps8976/providers/Microsoft.EventHub/namespaces/audit-cmdlet-event-hub-nsps8976\",\r\n  \"name\": \"audit-cmdlet-event-hub-nsps8976\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces\",\r\n  \"location\": \"West Central US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"zoneRedundant\": false,\r\n    \"isAutoInflateEnabled\": false,\r\n    \"maximumThroughputUnits\": 0,\r\n    \"kafkaEnabled\": true,\r\n    \"provisioningState\": \"Created\",\r\n    \"metricId\": \"2c647056-bab2-4175-b172-493ff049eb29:audit-cmdlet-event-hub-nsps8976\",\r\n    \"createdAt\": \"2021-05-17T07:45:42.133Z\",\r\n    \"updatedAt\": \"2021-05-17T07:45:42.133Z\",\r\n    \"serviceBusEndpoint\": \"https://audit-cmdlet-event-hub-nsps8976.servicebus.windows.net:443/\",\r\n    \"status\": \"Activating\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/NONEXISTING-RG/providers/Microsoft.Sql/servers/audit-cmdlet-serverps8976/databases/audit-cmdlet-dbps8976/extendedAuditingSettings/default?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'NONEXISTING-RG' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/audit-cmdlet-test-rgps8976/providers/Microsoft.Sql/servers/NONEXISTING-SERVER/databases/audit-cmdlet-dbps8976/extendedAuditingSettings/default?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/NONEXISTING-SERVER/databases/audit-cmdlet-dbps8976' under resource group 'audit-cmdlet-test-rgps8976' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BVURJVDoyRENNRExFVDoyRFRFU1Q6MkRSR1BTODk3Ni1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BVURJVDoyRENNRExFVDoyRFRFU1Q6MkRSR1BTODk3Ni1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BVURJVDoyRENNRExFVDoyRFRFU1Q6MkRSR1BTODk3Ni1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-BlobAuditFailWithBadDatabaseIndentity": [
      "ps8976"
    ]
  },
  "Variables": {
    "SubscriptionId": "2c647056-bab2-4175-b172-493ff049eb29"
  }
}