{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourcegroups/ps1788?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788\",\r\n  \"name\": \"ps1788\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788/providers/Microsoft.Network/virtualNetworks/ps8346?api-version=2021-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps8346' under resource group 'ps1788' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788/providers/Microsoft.Network/virtualNetworks/ps8346?api-version=2021-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"a36526c3-e63e-4125-b602-93ab4d145e2b\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps8346\",\r\n  \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788/providers/Microsoft.Network/virtualNetworks/ps8346\",\r\n  \"etag\": \"W/\\\"a36526c3-e63e-4125-b602-93ab4d145e2b\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"9bb0e864-7aaa-41d4-b6c3-531bfc0cc6c7\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"AzureBastionSubnet\",\r\n        \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788/providers/Microsoft.Network/virtualNetworks/ps8346/subnets/AzureBastionSubnet\",\r\n        \"etag\": \"W/\\\"a36526c3-e63e-4125-b602-93ab4d145e2b\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788/providers/Microsoft.Network/virtualNetworks/ps8346?api-version=2021-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n          \"applicationGatewayIpConfigurations\": []\r\n        },\r\n        \"name\": \"AzureBastionSubnet\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network/locations/westcentralus/operations/0b3960cb-791d-4fe2-ba9a-7cd8ba59ca77?api-version=2021-03-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps8346\",\r\n  \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788/providers/Microsoft.Network/virtualNetworks/ps8346\",\r\n  \"etag\": \"W/\\\"6b4d2055-bfc8-4159-833b-efe2fe44ba8f\\\"\",\r\n  \"type\": \"Microsoft.Ne[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network/locations/westcentralus/operations/0b3960cb-791d-4fe2-ba9a-7cd8ba59ca77?api-version=2021-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788/providers/Microsoft.Network/publicIPAddresses/ps9371?api-version=2021-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps9371' under resource group 'ps1788' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788/providers/Microsoft.Network/publicIPAddresses/ps9371?api-version=2021-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"161cedd5-b38b-446a-8ce6-f9df5d75a43f\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps9371\",\r\n  \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788/providers/Microsoft.Network/publicIPAddresses/ps9371\",\r\n  \"etag\": \"W/\\\"161cedd5-b38b-446a-8ce6-f9df5d75a43f\\\"\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"7ab4b41b-6741-4efc-a70a-58cd33dc800c\",\r\n    \"ipAddress\": \"13.77.216.126\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788/providers/Microsoft.Network/publicIPAddresses/ps9371?api-version=2021-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"ipTags\": []\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network/locations/westcentralus/operations/1cd649ef-2705-4710-8639-0b4d45d2ccab?api-version=2021-03-01"
        [...]
[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788/providers/Microsoft.Network/bastionHosts/ps8759?api-version=2021-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/bastionHosts/ps8759' under resource group 'ps1788' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788/providers/Microsoft.Network/bastionHosts/ps8759?api-version=2021-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"b853180c-da12-4f91-953c-4fc333930507\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps8759\",\r\n  \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788/providers/Microsoft.Network/bastionHosts/ps8759\",\r\n  \"etag\": \"W/\\\"b853180c-da12-4f91-953c-4fc333930507\\\"\",\r\n  \"type\": \"Microsoft.Network/bastionHosts\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"dnsName\": \"bst-0daf808d-7c84-4413-8318-190c480582d9.bastion.azure.com\",\r\n    \"scaleUnits\": 2,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"IpConf\",\r\n        \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788/providers/Microsoft.Network/bastionHosts/ps8759/bastionHostIpConfigurations/IpConf\",\r\n        \"etag\": \"W/\\\"b853180c-da12-4f91-953c-4fc333930507\\\"\",\r\n        \"type\": \"Microsoft.Network/bastionHosts/bastionHostIpConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788/providers/Microsoft.Network/publicIPAddresses/ps9371\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788/providers/Microsoft.Network/virtualNetworks/ps8346/subnets/AzureBastionSubnet\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"bastionShareableLinks\": {}\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788/providers/Microsoft.Network/bastionHosts/ps8759?api-version=2021-03-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network/locations/westcentralus/operationResults/97d51779-b091-4219-b7ef-608d4f489589?api-version=2021-03-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network/locations/westcentralus/operations/97d51779-b091-4219-b7ef-608d4f489589?api-version=2021-03-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network/locations/westcentralus/operationResults/97d51779-b091-4219-b7ef-608d4f489589?api-version=2021-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network/locations/westcentralus/operationResults/97d51779-b091-4219-b7ef-608d4f489589?api-version=2021-03-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network/locations/westcentralus/operations/97d51779-b091-4219-b7ef-608d4f489589?api-version=2021-03-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps1788/providers/Microsoft.Network/bastionHosts?api-version=2021-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzE3ODgtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzE3ODgtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzE3ODgtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-BastionIpObjectParam": [
      "ps1788",
      "ps8759",
      "ps8346",
      "ps9371"
    ]
  },
  "Variables": {
    "SubscriptionId": "1ab4107d-2306-43ab-a9e0-b55b8cd8c345"
  }
}