{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-45a9-930c-ddb2e56fa131\"\r\n    },\r\n    {\r\n      \"applicationId\": \"486c78bf-a0f7-45f1-92fd-37215929e116\",\r\n      \"roleDefinitionId\": \"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d\"\r\n    },\r\n    {\r\n      \"applicationId\": \"19947cfd-0303-466c-ac3c-fcc19a7a1570\",\r\n      \"roleDefinitionId\": \"d813ab6c-bfb7-413e-9462-005b21f0ce09\"\r\n    },\r\n    {\r\n      \"applicationId\": \"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd\",\r\n      \"roleDefinitionId\": \"8141843c-c51c-4c1e-a5bf-0d351594b86c\"\r\n    },\r\n    {\r\n      \"applicationId\": \"328fd23b-de6e-462c-9433-e207470a5727\",\r\n      \"roleDefinitionId\": \"79e29e06-4056-41e5-a6b2-959f1f47747e\"\r\n    },\r\n    {\r\n      \"applicationId\": \"6d057c82-a784-47ae-8d12-ca7b38cf06b4\",\r\n      \"roleDefinitionId\": \"c27dd31e-c1e5-4ab0-93e1-a12ba34f182e\",\r\n      \"managedByRoleDefinitionId\": \"82e8942a-bcb6-444a-b1c4-31a3ea463a7d\"\r\n    },\r\n    {\r\n      \"applicationId\": \"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a\",\r\n      \"roleDefinitionId\": \"18363e25-ff21-4159-ae8d-7dfecb5bd001\"\r\n    },\r\n    {\r\n      \"applicationId\": \"79d7fb34-4bef-4417-8184-ff713af7a679\",\r\n      \"roleDefinitionId\": \"1c1f11ef-abfa-4abe-a02b-226771d07fc7\"\r\n    },\r\n    {\r\n      \"applicationId\": \"38808189-fa7a-4d8a-807f-eba01edacca6\",\r\n      \"roleDefinitionId\": \"7dbad3e2-b105-40d5-8fe4-4a9ff6c17ae6\"\r\n    },\r\n    {\r\n      \"applicationId\": \"6e02f8e9-db9b-4eb5-aa5a-7c8968375f68\",\r\n      \"roleDefinitionId\": \"787424c7-f9d2-416b-a939-4d59deb2d259\"\r\n    },\r\n    {\r\n      \"applicationId\": \"60b2e7d5-a27f-426d-a6b1-acced0846fdf\",\r\n      \"roleDefinitionId\": \"0edb7c43-ed90-4da9-9ca2-e9a5d1521b00\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"networkManagers\",\r\n      \"locations\": [\r\n        \"West Central US\",\r\n        \"North Central US\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"UAE Central\",\r\n        \"Germany North\",\r\n        \"East US\",\r\n        \"West India\",\r\n        \"East US 2\",\r\n        \"Australia Central\",\r\n        \"Australia Central 2\",\r\n        \"South Africa West\",\r\n        \"Brazil South\",\r\n        \"UK West\",\r\n        \"North Europe\",\r\n        \"Central US\",\r\n        \"UAE North\",\r\n   [...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourcegroups/ps8493?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493\",\r\n  \"name\": \"ps8493\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {\r\n    \"Created\": \"2024-05-17T18:03:19.2287255Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/virtualNetworks/ps7516-Vnet?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps7516-Vnet' under resource group 'ps8493' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/virtualNetworks/ps7516-Vnet?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"d5d0d561-c16b-441c-8012-deb7c22a51d0\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps7516-Vnet\",\r\n  \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/virtualNetworks/ps7516-Vnet\",\r\n  \"etag\": \"W/\\\"d5d0d561-c16b-441c-8012-deb7c22a51d0\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"3326928b-ad08-4861-b9a9-d078fade131e\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"AzureBastionSubnet\",\r\n        \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/virtualNetworks/ps7516-Vnet/subnets/AzureBastionSubnet\",\r\n        \"etag\": \"W/\\\"d5d0d561-c16b-441c-8012-deb7c22a51d0\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/virtualNetworks/ps7516-Vnet?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"AzureBastionSubnet\",\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n          \"applicationGatewayIPConfigurations\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network/locations/westcentralus/operations/dd0b46e1-a6b0-4986-bbd9-b666955eb220?api-version=2023-11-01&t=638515658027952398&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE1MTI0NjQwWhcNMjUwNTEwMTI0NjQwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network/locations/westcentralus/operations/dd0b46e1-a6b0-4986-bbd9-b666955eb220?api-version=2023-11-01&t=638515658027952398&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE1MTI0NjQwWhcNMjUwNTEwMTI0NjQwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network/locations/westcentralus/operations/bcdd9cb0-0321-495d-b9bc-e9337b59295e?api-version=2023-11-01&t=638515658087547175&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE1MTI0NjQwWhcNMjUwNTEwMTI0NjQwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/publicIPAddresses/ps5239-Pip?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps5239-Pip' under resource group 'ps8493' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/publicIPAddresses/ps5239-Pip?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"993a4175-5c12-49d9-8b5c-252746fe85f1\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5239-Pip\",\r\n  \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/publicIPAddresses/ps5239-Pip\",\r\n  \"etag\": \"W/\\\"993a4175-5c12-49d9-8b5c-252746fe85f1\\\"\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"e38e02be-5320-4631-a53e-fd94f165f127\",\r\n    \"ipAddress\": \"172.215.232.186\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": [],\r\n    \"ddosSettings\": {\r\n      \"protectionMode\": \"VirtualNetworkInherited\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/publicIPAddresses/ps5239-Pip?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"zones\": [],\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"ipTags\": []\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network/locations/westcentralus/operations/82022deb-e1d7-464f-8c06-3d4a6fc512e2?api-version=2023-11-01&t=638515658151363628&c[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network/locations/westcentralus/operations/82022deb-e1d7-464f-8c06-3d4a6fc512e2?api-version=2023-11-01&t=638515658151363628&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE1MTI0NjQwWhcNMjUwNTEwMTI0NjQwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network/locations/westcentralus/operations/7f492990-64e8-4419-aaea-40261ba01080?api-version=2023-11-01&t=638515658193872365&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE1MTI0NjQwWhcNMjUwNTEwMTI0NjQwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/networkInterfaces/ps7193-Nic?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/ps7193-Nic' under resource group 'ps8493' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/networkInterfaces/ps7193-Nic?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"5e2ed87a-21cd-4176-b661-788c68654cef\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps7193-Nic\",\r\n  \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/networkInterfaces/ps7193-Nic\",\r\n  \"etag\": \"W/\\\"5e2ed87a-21cd-4176-b661-788c68654cef\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"030a5bac-8c4a-4a27-b6b5-3931b9dca9fe\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/networkInterfaces/ps7193-Nic/ipConfigurations/ipconfig1\",\r\n        \"etag\": \"W/\\\"5e2ed87a-21cd-4176-b661-788c68654cef\\\"\",\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/virtualNetworks/ps7516-Vnet/subnets/AzureBastionSubnet\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"rojcmmyivvquronj0b2pvxqtdg.yx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\": false,\r\n    \"disableTcpStateTracking\": false,\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n    \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true,\r\n    \"auxiliaryMode\": \"None\",\r\n    \"auxiliarySku\": \"None\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"westcentralus\",\r\n  \"kind\": \"Regular\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/bastionHosts/ps4563-Bastion?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/bastionHosts/ps4563-Bastion' under resource group 'ps8493' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/bastionHosts/ps4563-Bastion?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"32d32ea5-cc2e-4abb-a100-5181f853c840\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps4563-Bastion\",\r\n  \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/bastionHosts/ps4563-Bastion\",\r\n  \"etag\": \"W/\\\"32d32ea5-cc2e-4abb-a100-5181f853c840\\\"\",\r\n  \"type\": \"Microsoft.Network/bastionHosts\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"dnsName\": \"bst-0ef8edf0-038e-4b81-8087-6a9367672149.bastion.azure.com\",\r\n    \"scaleUnits\": 2,\r\n    \"enableTunneling\": false,\r\n    \"enableIpConnect\": false,\r\n    \"disableCopyPaste\": false,\r\n    \"enableShareableLink\": true,\r\n    \"enableKerberos\": false,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"IpConf\",\r\n        \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/bastionHosts/ps4563-Bastion/bastionHostIpConfigurations/IpConf\",\r\n        \"etag\": \"W/\\\"32d32ea5-cc2e-4abb-a100-5181f853c840\\\"\",\r\n        \"type\": \"Microsoft.Network/bastionHosts/bastionHostIpConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/publicIPAddresses/ps5239-Pip\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/virtualNetworks/ps7516-Vnet/subnets/AzureBastionSubnet\"\r\n          }\r\n        }\r\n      }\r\n    ]\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/bastionHosts/ps6301-Bastion2?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/bastionHosts/ps6301-Bastion2' under resource group 'ps8493' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/networkInterfaces/ps7193-Nic?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefixes\": [],\r\n              \"serviceEndpoints\": [],\r\n              \"serviceEndpointPolicies\": [],\r\n              \"ipAllocations\": [],\r\n              \"delegations\": [],\r\n              \"applicationGatewayIPConfigurations\": []\r\n            },\r\n            \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/virtualNetworks/ps7516-Vnet/subnets/AzureBastionSubnet\"\r\n          },\r\n          \"virtualNetworkTaps\": [],\r\n          \"applicationGatewayBackendAddressPools\": [],\r\n          \"loadBalancerBackendAddressPools\": [],\r\n          \"loadBalancerInboundNatRules\": [],\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"primary\": true\r\n        }\r\n      }\r\n    ],\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\": false\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"n[...]
[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Compute/locations/westcentralus/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2022-datacenter-azure-edition-core/versions?$top=1&$orderby=name%20desc&api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"westcentralus\",\r\n    \"name\": \"20348.2402.240510\",\r\n    \"id\": \"/Subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/Providers/Microsoft.Compute/Locations/westcentralus/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-azure-edition-core/Versions/20348.2402.240510\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Compute/locations/westcentralus/publishers/MicrosoftWindowsServer/artifacttypes/vmimage/offers/WindowsServer/skus/2022-datacenter-azure-edition-core/versions/20348.2402.240510?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73999"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"architecture\": \"x64\",\r\n    \"replicaType\": \"Managed\",\r\n    \"replicaCount\": 10,\r\n    \"disallowed\": {\r\n      \"vmDiskType\": \"Unmanaged\"\r\n    },\r\n    \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\": false\r\n    },\r\n    \"imageDeprecationStatus\": {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"name\": \"SecurityType\",\r\n        \"value\": \"TrustedLaunchAndConfidentialVmSupported\"\r\n      },\r\n      {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\": \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n        \"value\": \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"name\": \"IsHibernateSupported\",\r\n        \"value\": \"True\"\r\n      }\r\n    ],\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\": \"Windows\",\r\n      \"sizeInGb\": 127\r\n    },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"name\": \"20348.2402.240510\",\r\n  \"id\": \"/Subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/Providers/Microsoft.Compute/Locations/westcentralus/Publishers/MicrosoftWindowsServer/ArtifactTypes/VMImage/Offers/WindowsServer/Skus/2022-datacenter-azure-edition-core/Versions/20348.2402.240510\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Compute/virtualMachines/ps9246-Vm?api-version=2024-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D2ds_v4\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2022-datacenter-azure-edition-core\",\r\n        \"version\": \"latest\"\r\n      }\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"ps9246-Vm\",\r\n      \"adminUsername\": \"azureuser\",\r\n      \"adminPassword\": \"azureuser@123\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": true\r\n      }\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/resourceGroups/ps8493/providers/Microsoft.Network/networkInterfaces/ps7193-Nic\"\r\n        }\r\n      ]\r\n    },\r\n    \"securityProfile\": {\r\n      \"uefiSettings\": {\r\n        \"secureBootEnabled\": true,\r\n        \"vTpmEnabled\": true\r\n      },\r\n      \"securityType\": \"trustedlaunch\"\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": false\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Compute/locations/westcentralus/operations/9f86da8b-b4d1-4a0a-84d1-6d60729a9392?p=543760b8-598b-4650-be06-473b36c39090&api-version=2024-03-01&t=638515658272727989&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJv[...]
    {
      "RequestUri": "/subscriptions/1ab4107d-2306-43ab-a9e0-b55b8cd8c345/providers/Microsoft.Network/locations/westcentralus/operations/742947a8-9d67-43ce-a50d-b663e0f7e520?api-version=2023-11-01&t=638515658233888533&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE1MTI0NjQwWhcNMjUwNTEwMTI0NjQwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
[...]
    {
[...]
