{
  "AzEventGridPartner+[NoContext]+New-AzEventGridCaCertificate+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_eventgrid/providers/Microsoft.EventGrid/namespaces/a2fik5z/caCertificates/amnlef1?api-version=2023-06-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_eventgrid/providers/Microsoft.EventGrid/namespaces/a2fik5z/caCertificates/amnlef1?api-version=2023-06-01-preview",
      "Content": "{\r\n  \"properties\": {\r\n    \"encodedCertificate\": \"-----BEGIN CERTIFICATE-----\\r\\nMIIB6DCCAY6gAwIBAgIQdbeqxPLIpJHQedwCWzwVajAKBggqhkjOPQQDAjA+MRkw\\r\\nFwYDVQQKExBNcXR0QXBwU2FtcGxlc0NBMSEwHwYDVQQDExhNcXR0QXBwU2FtcGxl\\r\\nc0NBIFJvb3QgQ0EwHhcNMjMxMTA5MDY1NDMyWhcNMzMxMTA2MDY1NDMyWjBGMRkw\\r\\nFwYDVQQKExBNcXR0QXBwU2FtcGxlc0NBMSkwJwYDVQQDEyBNcXR0QXBwU2FtcGxl\\r\\nc0NBIEludGVybWVkaWF0ZSBDQTBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IABDeX\\r\\nQPkWxMwH8lQKB5cOd7bZtWOXZsyFnYoj9xoSV3LwlattrTRym+rZwMDaZrBQ9w0x\\r\\nRNkRgzApEqlA8vzZhgmjZjBkMA4GA1UdDwEB/wQEAwIBBjASBgNVHRMBAf8ECDAG\\r\\nAQH/AgEAMB0GA1UdDgQWBBSJ3PnUORwxX7rTQugoLnBeJfbFtTAfBgNVHSMEGDAW\\r\\ngBR0/ZlJoeLynj9Qae67EDYczD0Q/TAKBggqhkjOPQQDAgNIADBFAiALZldC7351\\r\\nZDGwPmEDtAw5vkHT7UrSGwws45qBe6iSAQIhANHbb7P8oP2pl63a2O178hRkx6ox\\r\\n+xOEQSekKhCtukZQ\\r\\n-----END CERTIFICATE-----\\r\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 400,
      "Headers": {
        "x-ms-throttling-version": [ "v1" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "\"{\\\"isRetriable\\\":false,\\\"isUserError\\\":true,\\\"error\\\":{\\\"code\\\":\\\"InvalidRequest\\\",\\\"message\\\":\\\"Encoded Certificate string must be in valid PEM (Privacy Enhanced Mail) format with header (-----BEGIN CERTIFICATE-----) and footer (-----END CERTIFICATE-----). This string must not include a private key.\\\"}}\"",
    }
  },
  "AzEventGridPartner+[NoContext]+New-AzEventGridPartnerRegistration+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_eventgrid/providers/Microsoft.EventGrid/partnerRegistrations/a9boutq?api-version=2023-06-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_eventgrid/providers/Microsoft.EventGrid/partnerRegistrations/a9boutq?api-version=2023-06-01-preview",
      "Content": "{\r\n  \"location\": \"global\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-throttling-version": [ "v1" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"provisioningState\":\"Succeeded\",\"partnerRegistrationImmutableId\":\"8ae1e593-0410-4207-8feb-06d9420ebd7a\",\"visibilityState\":\"Hidden\"},\"systemData\":null,\"location\":\"global\",\"tags\":null,\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_eventgrid/providers/Microsoft.EventGrid/partnerRegistrations/a9boutq\",\"name\":\"a9boutq\",\"type\":\"Microsoft.EventGrid/partnerRegistrations\"}",
    }
  },
  "AzEventGridPartner+[NoContext]+New-AzEventGridPartnerRegistration+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_eventgrid/providers/Microsoft.EventGrid/partnerRegistrations/a9boutq?api-version=2023-06-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_eventgrid/providers/Microsoft.EventGrid/partnerRegistrations/a9boutq?api-version=2023-06-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "109" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-throttling-version": [ "v1" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"provisioningState\":\"Succeeded\",\"partnerRegistrationImmutableId\":\"8ae1e593-0410-4207-8feb-06d9420ebd7a\",\"visibility[...]
