{
  "Entries": [
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/providers/?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/providers/Microsoft.Advisor\",\r\n      \"namespace\": \"Microsoft.Advisor\",\r\n      \"authorization\": {\r\n        \"applicationId\": \"c39c9bac-9d1f-4dfb-aa29-27f6365e5cb7\",\r\n        \"roleDefinitionId\": \"8a63b04c-3731-409b-9765-f1175c047872\"\r\n      },\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"suppressions\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\",\r\n            \"2016-07-12-preview\",\r\n            \"2016-05-09-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"recommendations\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\",\r\n            \"2016-07-12-preview\",\r\n            \"2016-05-09-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"generateRecommendations\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\",\r\n            \"2016-07-12-preview\",\r\n            \"2016-05-09-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"operations\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\",\r\n            \"2016-07-12-preview\",\r\n            \"2016-05-09-preview\"\r\n          ]\r\n        }\r\n      ],\r\n      \"registrationState\": \"Registered\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/providers/Microsoft.AlertsManagement\",\r\n      \"namespace\": \"Microsoft.AlertsManagement\",\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"alerts\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2018-05-05-preview\",\r\n            \"2018-05-05\",\r\n            \"2017-11-15-privatepreview\"\r\n          ]\r\n        },\r\n [...]
