{
  "Get-AzAttestationProvider+[NoContext]+List+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Attestation/attestationProviders?api-version=2020-10-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Attestation/attestationProviders?api-version=2020-10-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "6" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11997" ],
        "x-ms-maa-service-version": [ "1.11.02043.302" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/bez-rg/providers/Microsoft.Attestation/attestationProviders/beztest\",\"name\":\"beztest\",\"type\":\"Microsoft.Attestation/attestationProviders\",\"location\":\"East US\",\"tags\":{\"Test\":\"true\",\"CreationYear\":\"2020\"},\"properties\":{\"trustModel\":\"Isolated\",\"status\":\"Ready\",\"attestUri\":\"https://beztest.eus.attest.azure.net\"}},{\"id\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/bez-rg/providers/Microsoft.Attestation/attestationProviders/beztest0918\",\"name\":\"beztest0918\",\"type\":\"Microsoft.Attestation/attestationProviders\",\"location\":\"East US\",\"tags\":{\"Test\":\"true\",\"CreationYear\":\"2020\"},\"properties\":{\"trustModel\":\"Isolated\",\"status\":\"Ready\",\"attestUri\":\"https://beztest0918.eus.attest.azure.net\"}},{\"id\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/test-rgarmb3t2vqyz8g/providers/Microsoft.Attestation/attestationProviders/provider63oyd8fj19m25\",\"name\":\"provider63oyd8fj19m25\",\"type\":\"Microsoft.Attestation/attestationProviders\",\"location\":\"eastus\",\"tags\":{\"k1\":\"v1\"},\"properties\":{\"trustModel\":\"AAD\",\"status\":\"Ready\",\"attestUri\":\"https://provider63oyd8fj19m25.eus.attest.azure.net\"}},{\"id\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/test-rg8pdtz47hu0q1y/providers/Microsoft.Attestation/attestationProviders/providerejrmugiwbxnq2\",\"name\":\"providerejrmugiwbxnq2\",\"type\":\"Microsoft.Attestation/attestationProviders\",\"location\":\"eastus\",\"properties\":{\"trustModel\":\"AAD\",\"status\":\"Ready\",\"attestUri[...]
