{
  "Get-AzAttestationProvider+[NoContext]+List+$GET+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.Attestation/attestationProviders?api-version=2020-10-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.Attestation/attestationProviders?api-version=2020-10-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "6" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "00-b96793bdad5df2b98ff16f7d531266ab-0000000000000000-00" ],
        "x-ms-maa-service-version": [ "1.11.03127.4618" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "247" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3747" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/test-rgrsau2bpxy497c/providers/Microsoft.Attestation/attestationProviders/provider6im32k7tcxyfp\",\"name\":\"provider6im32k7tcxyfp\",\"type\":\"Microsoft.Attestation/attestationProviders\",\"location\":\"eastus\",\"properties\":{\"trustModel\":\"AAD\",\"status\":\"Ready\",\"attestUri\":\"https://provider6im32k7tcxyfp.eus.attest.azure.net\"}},{\"id\":\"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/test-rgrsau2bpxy497c/providers/Microsoft.Attestation/attestationProviders/providerdb960mgjt1ouf\",\"name\":\"providerdb960mgjt1ouf\",\"type\":\"Microsoft.Attestation/attestationProviders\",\"location\":\"eastus\",\"properties\":{\"trustModel\":\"AAD\",\"status\":\"Ready\",\"attestUri\":\"https://providerdb960mgjt1ouf.eus.attest.azure.net\"}}]}",
    }
  },
  "Get-[...]
