{
  "Update-AzAttestationProvider+[NoContext]+UpdateExpanded+$PATCH+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/test-rgrsau2bpxy497c/providers/Microsoft.Attestation/attestationProviders/providermc8khqplfwson?api-version=2020-10-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/test-rgrsau2bpxy497c/providers/Microsoft.Attestation/attestationProviders/providermc8khqplfwson?api-version=2020-10-01",
      "Content": "{\r\n  \"tags\": {\r\n    \"k1\": \"v1\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-maa-service-version": [ "1.11.03127.4618" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "198" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/test-rgrsau2bpxy497c/providers/Microsoft.Attestation/attestationProviders/providermc8khqplfwson\",\"name\":\"providermc8khqplfwson\",\"type\":\"Microsoft.Attestation/attestationProviders\",\"location\":\"eastus\",\"tags\":{\"k1\":\"v1\"},\"properties\":{\"trustModel\":\"AAD\",\"status\":\"Ready\",\"attestUri\":\"https://providermc8khqplfwson.eus.attest.azure.net\"}}",
    }
  },
  "Update-AzAttestationProvider+[NoContext]+UpdateViaIdentityExpanded+$GET+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/test-rgrsau2bpxy497c/providers/Microsoft.Attestation/attestationProviders/providermc8khqplfwson?api-version=2020-10-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/test-rgrsau2bpxy497c/providers/Microsoft.Attestation/attestationProviders/providermc8khqplfwson?api-version=2020-10-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "14" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "248" ],
        "x-ms-maa-service-version": [ "1.11.03127.4618" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3748" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/0e745469-49f8-48c9-873b[...]
