{
  "Get-AzDatabricksWorkspace+[NoContext]+List1+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.Databricks/workspaces?api-version=2021-04-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.Databricks/workspaces?api-version=2021-04-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "eastus:5df3e643-29a5-407e-b7bb-2f43c955d8ff", "eastus2euap:ebcaccaa-d6f4-441b-88a9-3cb008a6ed0b" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "1799" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"managedResourceGroupId\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/databricks-rg-workspace1xfmkv-s41tghmif7cle\",\"parameters\":{\"enableFedRampCertification\":{\"type\":\"Bool\",\"value\":false},\"enableNoPublicIp\":{\"type\":\"Bool\",\"value\":false},\"natGatewayName\":{\"type\":\"String\",\"value\":\"nat-gateway\"},\"prepareEncryption\":{\"type\":\"Bool\",\"value\":false},\"publicIpName\":{\"type\":\"String\",\"value\":\"nat-gw-public-ip\"},\"relayNamespaceName\":{\"type\":\"String\",\"value\":\"dbrelaysaa6ecquvi3pu\"},\"requireInfrastructureEncryption\":{\"type\":\"Bool\",\"value\":false},\"resourceTags\":{\"type\":\"Object\",\"value\":{\"application\":\"databricks\",\"databricks-environment\":\"true\"}},\"storageAccountName\":{\"type\":\"String\",\"value\":\"dbstoragesaa6ecquvi3pu\"},\"storageAccountSkuName\":{\"type\":\"String\",\"value\":\"Standard_GRS\"},\"vnetAddressPrefix\":{\"type\":\"String\",\"value\":\"10.139\"}},\"provisioningState\":\"Succeeded\",\"authorizations\":[{\"principalId\":\"9a74af6f-d153-4348-988a-e2672920bee9\",\"roleDefinitionId\":\"8e3af657-a8ff-443c-a75c-2fe8c4bcb635\"}],\"createdBy\":{\"oid\":\"97deab6c-e478-40b4-b4da-e7d9353dc1e8\",\"puid\":\"100320004B7AE8A5\",\"applicationId\":\"1950a258-227b-4e31-a9cf-717495945fc2\"},\"updatedBy\":{\"oid\":\"97deab6c-e478-40b4-b4da-e7d9353dc1e8\",\"puid\":\"100320004B7AE8A5\",\"applicationId\":\"1950a258-227b-4e31-a9cf-717495945fc2\"},\"workspaceId\":\"5128632506464329\",\"workspaceUrl\":\"adb-5128632506464329.9.azuredatabricks.net\",\"createdDateTime\":\"2022-02-18T03:16:26.8976875Z\"},\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/databricks-rg-13vdtb/providers/Microsoft.Databricks/workspaces/workspace1xfmkv\",\"name\":\"workspace1xfmkv\",\"type\":\"Microsoft.Databricks/workspaces\",\"sku\":{\"name\":\"standard\"},\"location\":\"eastus\"},{\"properties\":{\"managedResourceGroupId\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/databricks-rg-workspace-pwsh01-sdenr3zv5tyh9\",\"parameters\":{\"customPrivateSubnetName\":{\"type\":\"String\",\"value\":\"bricks-privsubnet\"},\"customPublicSubnetName\":{\"type\":\"String\",\"value\":\"bricks-pubsubnet\"},\"customVirtualNetworkId\":{\"type\":\"String\",\"value\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/databricks-rg-13vdtb/providers/Microsoft.Network/virtualNetworks/databricks-vnet-swohp4\"},\"enableFedRampCertification\":{\"type\":\"Bool\",\"value\":false},\"enableNoPublicIp\":{\"type\":\"Bool\",\"value\":false},\"natGatewayName\":{\"type\":\"String\",\"value\":\"nat-gateway\"},\"prepareEncryption\":{\"type\":\"Bool\",\"value\":false},\"publicIpName\":{\"type\":\"String\",\"value\":\"nat-gw-pub[...]
