{
  "New-AzCloudHsm+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/PS-Test/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/TestPSResource?api-version=2025-03-31+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/PS-Test/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/TestPSResource?api-version=2025-03-31",
      "Content": "{\r\n  \"tags\": {\r\n    \"MockHfcDelayInMs\": \"1\",\r\n    \"UseMockHfc\": \"true\"\r\n  },\r\n  \"location\": \"ukwest\",\r\n  \"sku\": {\r\n    \"family\": \"B\",\r\n    \"name\": \"Standard_B1\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-throttling-version": [ "v2" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "800" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"name\":\"TestPSResource\",\"type\":\"Microsoft.HardwareSecurityModules/cloudHsmClusters\",\"location\":\"ukwest\",\"id\":\"/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/PS-Test/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/TestPSResource\",\"sku\":{\"family\":\"B\",\"name\":\"Standard_B1\"},\"properties\":{\"provisioningState\":\"Provisioning\",\"statusMessage\":null,\"autoGeneratedDomainNameLabelScope\":\"TenantReuse\",\"activationState\":\"NotDefined\",\"hsms\":[],\"privateEndpointConnections\":[],\"publicNetworkAccess\":\"Disabled\"},\"tags\":{\"MockHfcDelayInMs\":\"1\",\"UseMockHfc\":\"true\"},\"systemData\":{\"createdBy\":\"earakleitou@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-06-12T13:51:56.6325027Z\",\"lastModifiedBy\":\"earakleitou@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2025-06-12T13:51:56.6325027Z\"}}",
    }
  },
  "New-AzCloudHsm+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/PS-Test/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/TestPSResource?api-version=2025-03-31+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://centraluseuap.management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/PS-Test/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/TestPSResource?api-version=2025-03-31",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-throttling-version": [ "v2" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"name\":\"TestPSResource\",\"type\":\"Microsoft.HardwareSecurityModules/cloudHsmClusters\",\"location\":\"ukwest\",\"id\":\"/subscriptions/75e[...]
