{
  "Restore-AzCloudHsm+[NoContext]+Restore+$POST+https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/ps-test/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/chsm1/restore?api-version=2025-03-31+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/75e96d09-a291-40e1-a5e6-cda78233d867/resourceGroups/ps-test/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/chsm1/restore?api-version=2025-03-31",
      "Content": "{\r\n  \"azureStorageBlobContainerUri\": \"https://pstestbackup.blob.core.windows.net/testbackup\",\r\n  \"backupId\": \"cloudhsm-eb0e0bf9-9d12-4201-b38c-567c8a452dd5-2025061208354444\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 409,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "799" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"code\":\"Conflict\",\"message\":\"Restore operation for resource chsm1 has already been triggered. Restore operation can not be attempted more than once\",\"details\":[],\"additionalInfo\":[]}",
    }
  }
}