{
  "Entries": [
    {
      "RequestUri": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/RSG-Cluster2041?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/RSG-Cluster2041\",\r\n  \"name\": \"RSG-Cluster2041\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.EventHub/availableClusterRegions?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"northcentralus\"\r\n    },\r\n    {\r\n      \"location\": \"westeurope\"\r\n    },\r\n    {\r\n      \"location\": \"uksouth\"\r\n    },\r\n    {\r\n      \"location\": \"westcentralus\"\r\n    },\r\n    {\r\n      \"location\": \"australiasoutheast\"\r\n    },\r\n    {\r\n      \"location\": \"ukwest\"\r\n    },\r\n    {\r\n      \"location\": \"brazilsouth\"\r\n    },\r\n    {\r\n      \"location\": \"centralus\"\r\n    },\r\n    {\r\n      \"location\": \"australiaeast\"\r\n    },\r\n    {\r\n      \"location\": \"eastus\"\r\n    },\r\n    {\r\n      \"location\": \"southcentralus\"\r\n    },\r\n    {\r\n      \"location\": \"japaneast\"\r\n    },\r\n    {\r\n      \"location\": \"northeurope\"\r\n    },\r\n    {\r\n      \"location\": \"eastus2\"\r\n    },\r\n    {\r\n      \"location\": \"southeastasia\"\r\n    },\r\n    {\r\n      \"location\": \"eastasia\"\r\n    },\r\n    {\r\n      \"location\": \"westus\"\r\n    },\r\n    {\r\n      \"location\": \"westus2\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/RSG-Cluster2041/providers/Microsoft.EventHub/clusters/Eventhub-Cluster-2820?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"capacity\": 1,\r\n    \"name\": \"Dedicated\"\r\n  },\r\n  \"location\": \"southcentralus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Dedicated\",\r\n    \"capacity\": 1\r\n  },\r\n  \"id\": \"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/RSG-Cluster2041/providers/Microsoft.EventHub/clusters/Eventhub-Cluster-2820\",\r\n  \"name\": \"Eventhub-Cluster-2820\",\r\n  \"type\": \"Microsoft.EventHub/clusters\",\r\n  \"location\": \"southcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"createdAt\": \"2020-09-11T07:50:28.237Z\",\r\n    \"updatedAt\": \"2020-09-11T07:50:28.237Z\",\r\n    \"metricId\": \"PROD-SN3-522\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/RSG-Cluster2041/providers/Microsoft.EventHub/clusters/Eventhub-Cluster-2820?api-version=2018-01-01-preview",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"capacity\": 1,\r\n    \"name\": \"Dedicated\"\r\n  },\r\n  \"location\": \"southcentralus\",\r\n  \"tags\": {\r\n    \"ClusterTag2\": \"Tag4\",\r\n    \"ClusterTag1\": \"Tag3\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Dedicated\",\r\n    \"capacity\": 1\r\n  },\r\n  \"id\": \"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/RSG-Cluster2041/providers/Microsoft.EventHub/clusters/Eventhub-Cluster-2820\",\r\n  \"name\": \"Eventhub-Cluster-2820\",\r\n  \"type\": \"Microsoft.EventHub/clusters\",\r\n  \"location\": \"southcentralus\",\r\n  \"tags\": {\r\n    \"ClusterTag2\": \"Tag4\",\r\n    \"ClusterTag1\": \"Tag3\"\r\n  },\r\n  \"properties\": {\r\n    \"createdAt\": \"2020-09-11T07:50:28.237Z\",\r\n    \"updatedAt\": \"2020-09-11T07:50:29.963Z\",\r\n    \"metricId\": \"PROD-SN3-522\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    "": [
      "Eventhub-Cluster-2820",
      "RSG-Cluster2041"
    ]
  },
  "Variables": {
    "SubscriptionId": "326100e2-f69d-4268-8503-075374f62b6e"
  }
}