{
  "Entries": [
    {
      "RequestUri": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/RSG-Cluster3358?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/RSG-Cluster3358\",\r\n  \"name\": \"RSG-Cluster3358\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/RSG-Cluster3358/providers/Microsoft.EventHub/clusters/Eventhub-Cluster-6365?api-version=2022-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"capacity\": 1,\r\n    \"name\": \"Dedicated\"\r\n  },\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/microsoft.eventhub/locations/southcentralus/clusterOperationResults/05892ea2-a382-4a88-b511-83a77a2b099d?isAsyncHeader=false&resourceName=Eventhub-Cluster-6365&resourceGroupName=RSG-Cluster3358&resourceType=cluster&api-version=2022-01-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/microsoft.eventhub/locations/southcentralus/clusterOperationResults/05892ea2-a382-4a88-b511-83a77a2b099d?isAsyncHeader=true&resourceName=Eventhub-Cluster-6365&resourceGroupName=RSG-Cluster3358&resourceType=cluster&api-version=2022-01-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/RSG-Cluster3358/providers/Microsoft.EventHub/clusters/Eventhub-Cluster-6365\",\r\n  \"name\": \"Eventhub-Cluster-6365\",\r\n  \"type\": \"Microsoft.EventHub/Clusters\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"status\": \"Unknown\",\r\n    \"supportsScaling\": false\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Dedicated\",\r\n    \"capacity\": 1\r\n  }\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/RSG-Cluster3358/providers/Microsoft.EventHub/clusters/Eventhub-Cluster-6365?api-version=2022-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"capacity\": 1,\r\n    \"name\": \"Dedicated\"\r\n  },\r\n  \"properties\": {\r\n    \"supportsScaling\": false\r\n  },\r\n  \"location\": \"southcentralus\",\r\n  \"tags\": {\r\n    \"ClusterTag1\": \"Tag3\",\r\n    \"ClusterTag2\": \"Tag4\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/microsoft.eventhub/locations/southcentralus/clusterOperationResults/05892ea2-a382-4a88-b511-83a77a2b099d?isAsyncHeader=false&resourceName=Eventhub-Cluster-6365&resourceGroupName=RSG-Cluster3358&resourceType=clus[...]
    {
      "RequestUri": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/microsoft.eventhub/locations/southcentralus/clusterOperationResults/05892ea2-a382-4a88-b511-83a77a2b099d?isAsyncHeader=true&resourceName=Eventhub-Cluster-6365&resourceGroupName=RSG-Cluster3358&resourceType=cluster&api-version=2022-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11964"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/RSG-Cluster3358/providers/Microsoft.EventHub/clusters/Eventhub-Cluster-6365?api-version=2022-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11963"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/RSG-Cluster3358/providers/Microsoft.EventHub/clusters/Eventhub-Cluster-6365\",\r\n  \"name\": \"Eventhub-Cluster-6365\",\r\n  \"type\": \"Microsoft.EventHub/Clusters\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"createdAt\": \"2022-06-02T17:36:41.050354Z\",\r\n    \"updatedAt\": \"2022-07-23T18:08:41.1744714Z\",\r\n    \"status\": \"Active\",\r\n    \"supportsScaling\": false,\r\n    \"metricId\": \"PROD-SN3-540\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Dedicated\",\r\n    \"capacity\": 1\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/RSG-Cluster3358/providers/Microsoft.EventHub/clusters/Eventhub-Cluster-6365?api-version=2022-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/RSG-Cluster3358/providers/Microsoft.EventHub/clusters/Eventhub-Cluster-6365\",\r\n  \"name\": \"Eventhub-Cluster-6365\",\r\n  \"type\": \"Microsoft.EventHub/Clusters\",\r\n  \"location\": \"southcentralus\",\r\n  \"tags\": {\r\n    \"ClusterTag1\": \"Tag3\",\r\n    \"ClusterTag2\": \"Tag4\"\r\n  },\r\n  \"properties\": {\r\n    \"createdAt\": \"2022-06-02T17:36:41.050354Z\",\r\n    \"updatedAt\": \"2022-07-23T18:09:19.1609363Z\",\r\n    \"status\": \"Active\",\r\n    \"supportsScaling\": false,\r\n    \"metricId\": \"PROD-SN3-540\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Dedicated\",\r\n    \"capacity\": 1\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    "": [
      "Eventhub-Cluster-6365",
      "RSG-Cluster3358"
    ]
  },
  "Variables": {
    "SubscriptionId": "326100e2-f69d-4268-8503-075374f62b6e"
  }
}