{
  "New-AzWcfRelay+[NoContext]+Create+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/relay-17oduk/providers/Microsoft.Relay/namespaces/namespace-ircjqk/wcfRelays/wcfRelay-23jgu0?api-version=2021-11-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/relay-17oduk/providers/Microsoft.Relay/namespaces/namespace-ircjqk/wcfRelays/wcfRelay-23jgu0?api-version=2021-11-01",
      "Content": "{\n  \"properties\": {\n    \"relayType\": \"NetTcp\",\n    \"userMetadata\": \"test 01\"\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/relay-17oduk/providers/Microsoft.Relay/namespaces/namespace-ircjqk/wcfrelays/wcfRelay-23jgu0\",\"name\":\"wcfRelay-23jgu0\",\"type\":\"Microsoft.Relay/namespaces/wcfrelays\",\"location\":\"eastus\",\"properties\":{\"createdAt\":\"2023-01-15T12:05:15.4436317Z\",\"updatedAt\":\"2023-01-15T12:05:15.4436317Z\",\"listenerCount\":0,\"requiresClientAuthorization\":false,\"relayType\":\"NetTcp\",\"requiresTransportSecurity\":false,\"isDynamic\":false,\"userMetadata\":\"test 01\"}}",
    }
  },
  "New-AzWcfRelay+[NoContext]+Create+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/relay-17oduk/providers/Microsoft.Relay/namespaces/namespace-ircjqk/wcfRelays/wcfRelay-23jgu0?api-version=2021-11-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/relay-17oduk/providers/Microsoft.Relay/namespaces/namespace-ircjqk/wcfRelays/wcfRelay-23jgu0?api-version=2021-11-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/relay-17oduk/providers/Microsoft.Relay/namespaces/namespace-ircjqk/wcfrelays/wcfRelay-23jgu0\",\"name\[...]
