{
  "New-AzRelayKey+[NoContext]+RegenerateExpanded+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/relay-k5sn20/providers/Microsoft.Relay/namespaces/namespace-qa3tw9/authorizationRules/authRule-5xkwij/regenerateKeys?api-version=2021-11-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/relay-k5sn20/providers/Microsoft.Relay/namespaces/namespace-qa3tw9/authorizationRules/authRule-5xkwij/regenerateKeys?api-version=2021-11-01",
      "Content": "{\r\n  \"keyType\": \"PrimaryKey\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"primaryConnectionString\":\"Endpoint=sb://namespace-qa3tw9.servicebus.windows.net/;SharedAccessKeyName=authRule-5xkwij;SharedAccessKey=6w1XtokAEZNa9AUD8aAr2AgyQsdpKdYB8+ARmO8LYPo=\",\"secondaryConnectionString\":\"Endpoint=sb://namespace-qa3tw9.servicebus.windows.net/;SharedAccessKeyName=authRule-5xkwij;SharedAccessKey=spxxD+qAMzPcdvTWh+QoGZc8eBjSBozVY+ARmKpxSfw=\",\"primaryKey\":\"6w1XtokAEZNa9AUD8aAr2AgyQsdpKdYB8+ARmO8LYPo=\",\"secondaryKey\":\"spxxD+qAMzPcdvTWh+QoGZc8eBjSBozVY+ARmKpxSfw=\",\"keyName\":\"authRule-5xkwij\"}",
    }
  },
  "New-AzRelayKey+[NoContext]+RegenerateExpanded+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/relay-k5sn20/providers/Microsoft.Relay/namespaces/namespace-qa3tw9/authorizationRules/authRule-5xkwij/listKeys?api-version=2021-11-01+2": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/relay-k5sn20/providers/Microsoft.Relay/namespaces/namespace-qa3tw9/authorizationRules/authRule-5xkwij/listKeys?api-version=2021-11-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "51" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"primaryConnectionString\":\"Endpoint=sb://namespace-qa3tw9.servicebus.windows.net/;SharedAccessKeyName=authRule-5xkwij;SharedAccessKey=6w1XtokAEZNa9AUD8aAr2AgyQsdpKdYB8+ARmO8LY[...]
