{
  "AzContainerAppManagedEnvDiagnosticRoot+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/managedEnvironments/aqyvst/detectorProperties/rootApi/?api-version=2023-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/managedEnvironments/aqyvst/detectorProperties/rootApi/?api-version=2023-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "328" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11719" ],
        "api-supported-versions": [ "2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/managedEnvironments/aqyvst\",\"name\":\"aqyvst\",\"type\":\"Microsoft.App/managedEnvironments\",\"location\":\"East US\",\"systemData\":{\"createdBy\":\"v-jinpel@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-11-14T09:27:31.9023874\",\"lastModifiedBy\":\"v-jinpel@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-11-14T09:27:31.9023874\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"daprAIInstrumentationKey\":null,\"daprAIConnectionString\":null,\"vnetConfiguration\":null,\"defaultDomain\":\"ambitiouscliff-366e33ff.eastus.azurecontainerapps.io\",\"staticIp\":\"4.157.181.189\",\"appLogsConfiguration\":{\"destination\":\"log-analytics\",\"logAnalyticsConfiguration\":{\"customerId\":\"be0faa2c-5f24-4f7b-83e8-98928d716ede\",\"sharedKey\":null}},\"zoneRedundant\":false,\"kedaConfiguration\":{\"version\":\"2.10.0\"},\"daprConfiguration\":{\"version\":\"1.11.5\"},\"eventStreamEndpoint\":\"https://eastus.azurecontainerapps.dev/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/managedEnvironments/aqyvst/eventstream\",\"customDomainConfiguration\":{\"customDomainVerificationId\":\"70240F0BA32B9DD28948DBEC834A732C467825FB279A572BFED6A386F1954E0A\",\"dnsSuffix\":null,\"certificateValue\":null,\"certificatePassword\":null,\"thumbprint\":null,\"subjectName\":null,\"expirationDate\":null},\"workloadProfiles\":[{\"workloadProfileType\":\"Consumption\",\"name\":\"Consumption\"}],\"firstPartyConfiguration\":null,\"infrastructureResourceGroup\":null,\"peerAuthentication\":{\"mtls\":{\"enabled\":false}}}}",
    }
  }
}