{
  "AzContainerAppConnectedEnvDapr+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_app/providers/Microsoft.App/connectedEnvironments/a2x6pc/daprComponents/a05ohj?api-version=2023-05-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_app/providers/Microsoft.App/connectedEnvironments/a2x6pc/daprComponents/a05ohj?api-version=2023-05-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"componentType\": \"state.azure.cosmosdb\",\r\n    \"version\": \"v1\",\r\n    \"ignoreErrors\": false,\r\n    \"initTimeout\": \"50s\",\r\n    \"secrets\": [\r\n      {\r\n        \"name\": \"masterkey\",\r\n        \"value\": \"keyvalue\"\r\n      }\r\n    ],\r\n    \"metadata\": [\r\n      {\r\n        \"name\": \"masterkey\",\r\n        \"value\": \"masterkey\"\r\n      }\r\n    ],\r\n    \"scopes\": [ \"container-app-1\", \"container-app-2\" ]\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ],
        "api-supported-versions": [ "2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_app/providers/Microsoft.App/connectedEnvironments/a2x6pc/daprComponents/a05ohj\",\"name\":\"a05ohj\",\"type\":\"Microsoft.App/connectedEnvironments/daprComponents\",\"systemData\":{\"createdBy\":\"v-jinpel@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-11-14T09:35:53.0392252Z\",\"lastModifiedBy\":\"v-jinpel@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-11-14T09:35:53.0392252Z\"},\"properties\":{\"componentType\":\"state.azure.cosmosdb\",\"version\":\"v1\",\"ignoreErrors\":false,\"initTimeout\":\"50s\",\"secrets\":[{\"name\":\"masterkey\"}],\"metadata\":[{\"name\":\"masterkey\",\"value\":\"masterkey\"}],\"scopes\":[\"container-app-1\",\"container-app-2\"]}}",
    }
  },
  "AzContainerAppConnectedEnvDapr+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_app/providers/Microsoft.App/connectedEnvironments/a2x6pc/daprComponents?api-version=2023-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_app/providers/Microsoft.App/connectedEnvironments/a2x6pc/daprComponents?api-version=2023-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "70" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11951" ],
        "api-supported-versions": [ "2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"[...]
