{
  "AzContainerAppDiagnosticDetector+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/containerApps/aulpi/detectors?api-version=2023-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/containerApps/aulpi/detectors?api-version=2023-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "89" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11941" ],
        "api-supported-versions": [ "2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/containerApps/aulpi/detectors/AutoScalingErrors\",\"name\":\"AutoScalingErrors\",\"type\":\"Microsoft.App/containerapps/detectors\",\"location\":\"eastus\",\"properties\":{\"metadata\":{\"id\":\"AutoScalingErrors\",\"name\":\"Auto Scaling Errors\",\"description\":\"This detector shows you auto scaling (KEDA) errors occurred to your container app.\",\"author\":\"\",\"category\":\"Availability and Performance\",\"supportTopicList\":[],\"analysisTypes\":[\"cappContainerAppAvailabilityMetrics\"],\"type\":\"Detector\",\"score\":0},\"dataset\":[],\"status\":{\"statusId\":4}}},{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/containerApps/aulpi/detectors/clustersubnet\",\"name\":\"clustersubnet\",\"type\":\"Microsoft.App/containerapps/detectors\",\"location\":\"eastus\",\"properties\":{\"metadata\":{\"id\":\"clustersubnet\",\"name\":\"Cluster Subnet\",\"description\":\"Looks for issues with cluster subnet configuration\",\"author\":\"\",\"category\":\"Container Apps Environment\",\"supportTopicList\":[{}[...]
