{
  "AzContainerAppDiagnosticRevision+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/containerApps/aulpi/detectorProperties/revisionsApi/revisions/?api-version=2023-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/containerApps/aulpi/detectorProperties/revisionsApi/revisions/?api-version=2023-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "90" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11940" ],
        "api-supported-versions": [ "2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/containerApps/aulpi/revisions/aulpi--28h6y6p\",\"name\":\"aulpi--28h6y6p\",\"type\":\"Microsoft.App/containerapps/revisions\",\"properties\":{\"createdTime\":\"2023-11-14T09:29:18+00:00\",\"fqdn\":\"aulpi--28h6y6p.internal.ambitiouscliff-366e33ff.eastus.azurecontainerapps.io\",\"template\":{\"revisionSuffix\":null,\"terminationGracePeriodSeconds\":null,\"containers\":[{\"image\":\"mcr.microsoft.com/azure-redis-cache/redis:7.0.12-alpine\",\"name\":\"redis\",\"command\":[\"redis-server\"],\"args\":[\"/redis-config/redis.config\"],\"resources\":{\"cpu\":1.000,\"memory\":\"2Gi\"},\"probes\":[],\"volumeMounts\":[{\"volumeName\":\"redis-config\",\"mountPath\":\"/redis-config\"}]}],\"initContainers\":null,\"scale\":{\"minReplicas\":0,\"maxReplicas\":1,\"rules\":null},\"volumes\":[{\"name\":\"redis-config\",\"storageType\":\"Secret\",\"secrets\":[{\"secretRef\":\"redis-config\",\"path\":\"redis.config\"}]}],\"serviceBinds\":null},\"active\":true,\"replicas\":1,\"trafficWeight\":100,\"provisioningError\":\"Failed:redisContainerCrashing\",\"healthState\":\"Unhealthy\",\"provisioningState\":\"Failed\",\"runningState\":\"Failed\",\"runningStateDetails\":\"1/1 Failed:redisContainerCrashing\"}}]}",
    }
  }
}