{
  "AzContainerAppManagedEnvDiagnosticDetector+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/managedEnvironments/aqyvst/detectors?api-version=2023-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/managedEnvironments/aqyvst/detectors?api-version=2023-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "327" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11720" ],
        "api-supported-versions": [ "2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/managedEnvironments/aqyvst/detectors/containerappenvironmentreplicacounts\",\"name\":\"containerappenvironmentreplicacounts\",\"type\":\"Microsoft.App/managedenvironments/detectors\",\"location\":\"eastus\",\"properties\":{\"metadata\":{\"id\":\"containerappenvironmentreplicacounts\",\"name\":\"Container App Environment Replica Counts\",\"description\":\"A detector which shows replica counts for all applications in the managed environment\",\"author\":\"\",\"category\":\"Availability and Performance\",\"supportTopicList\":[],\"type\":\"CategoryOverview\",\"score\":0},\"dataset\":[],\"status\":{\"statusId\":4}}},{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/managedEnvironments/aqyvst/detectors/managedenvironmentdeployment\",\"name\":\"managedenvironmentdeployment\",\"type\":\"Microsoft.App/managedenvironments/detectors\",\"location\":\"eastus\",\"properties\":{\"metadata\":{\"id\":\"managedenvironmentdeployment\",\"name\":\"Get Container App Environment Deployment Information\",\"description\":\"Retrieves deployment info about Container App Environment\",\"author\":\"\",\"category\":\"Deployment\",\"supportTopicList\":[{},{},{},{}],\"type\":\"Detector\",\"score\":0},\"dataset\":[],\"status\":{\"statusId\":4}}}]}",
    }
  }
}