{
  "AzContainerApp+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/managedEnvironments/aqyvst?api-version=2023-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/managedEnvironments/aqyvst?api-version=2023-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "28" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11979" ],
        "api-supported-versions": [ "2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/managedEnvironments/aqyvst\",\"name\":\"aqyvst\",\"type\":\"Microsoft.App/managedEnvironments\",\"location\":\"East US\",\"systemData\":{\"createdBy\":\"v-jinpel@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-11-14T09:27:31.9023874\",\"lastModifiedBy\":\"v-jinpel@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-11-14T09:27:31.9023874\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"daprAIInstrumentationKey\":null,\"daprAIConnectionString\":null,\"vnetConfiguration\":null,\"defaultDomain\":\"ambitiouscliff-366e33ff.eastus.azurecontainerapps.io\",\"staticIp\":\"4.157.181.189\",\"appLogsConfiguration\":{\"destination\":\"log-analytics\",\"logAnalyticsConfiguration\":{\"customerId\":\"be0faa2c-5f24-4f7b-83e8-98928d716ede\",\"sharedKey\":null}},\"zoneRedundant\":false,\"kedaConfiguration\":{\"version\":\"2.10.0\"},\"daprConfiguration\":{\"version\":\"1.11.5\"},\"eventStreamEndpoint\":\"https://eastus.azurecontainerapps.dev/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/managedEnvironments/aqyvst/eventstream\",\"customDomainConfiguration\":{\"customDomainVerificationId\":\"70240F0BA32B9DD28948DBEC834A732C467825FB279A572BFED6A386F1954E0A\",\"dnsSuffix\":null,\"certificateValue\":null,\"certificatePassword\":null,\"thumbprint\":null,\"subjectName\":null,\"expirationDate\":null},\"workloadProfiles\":[{\"workloadProfileType\":\"Consumption\",\"name\":\"Consumption\"}],\"firstPartyConfiguration\":null,\"infrastructureResourceGroup\":null,\"peerAuthentication\":{\"mtls\":{\"enabled\":false}}}}",
    }
  },
  "AzContainerApp+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/containerApps/ajuns?api-version=2023-05-01+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/containerApps/ajuns?api-version=2023-05-01",
      "Content": "{\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"initContainers\": [\r\n        {\r\n          \"resources\": {\r\n            \"cpu\": 0.25,\r\n            \"memory\": \"0.5Gi\"\r\n          },\r\n          \"image\": \"mcr.microsoft.com/k8se/quickstart-jobs:latest\",\r\n          \"name\": \"simple-hello-world-container2\",\r\n          \"command\": [ \"/bin/sh\" ],\r\n          \"args\": [ \"-c\", \"echo hello; sleep 10;\" ]\r\n        }\r\n      ],\r\n      \"containers\": [\r\n        {\r\n          \"resources\": {\r\n            \"cpu\": 0.25,\r\n            \"memory\": \"0.5Gi\"\r\n          },\r\n          \"image\": \"mcr.microsoft.com/k8se/quickstart-jobs:latest\",\r\n          \"name\": \"simple-hello-world-container\",\r\n          \"probes\": [\r\n            {\r\n              \"httpGet\": {\r\n                \"httpHeaders\": [\r\n                  {\r\n                    \"name\": \"Custom-Header\",\r\n                    \"value\": \"Awesome\"\r\n                  }\r\n                ],\r\n                \"path\": \"/health\",\r\n                \"port\": 8080\r\n              },\r\n              \"initialDelaySeconds\": 3,\r\n              \"periodSeconds\": 3,\r\n              \"type\": \"Liveness\"\r\n            }\r\n          ]\r\n        }\r\n      ],\r\n      \"serviceBinds\": [\r\n        {\r\n          \"serviceId\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/containerApps/aulpi\",\r\n          \"name\": \"redisService\"\r\n        }\r\n      ]\r\n    },\r\n    \"environmentId\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ay1z0k2/providers/Microsoft.App/managedEnvironments/aqyvst\",\r\n    \"configuration\": {\r\n      \"ingress\": {\r\n        \"corsPolicy\": {\r\n          \"allowedOrigins\": [ \"https://a.test.com\", \"https://b.test.com\" ],\r\n          \"allowedMethods\": [ \"GET\", \"POST\" ],\r\n          \"allowedHeaders\": [ \"HEADER1\", \"HEADER2\" ],\r\n          \"exposeHeaders\": [ \"HEADER3\", \"HEADER4\" ],\r\n          \"maxAge\": 1234,\r\n          \"allowCredentials\": true\r\n        },\r\n        \"external\": true,\r\n        \"targetPort\": 80,\r\n        \"traffic\": [\r\n          {\r\n            \"weight\": 100,\r\n            \"latestRevision\": true,\r\n            \"label\": \"production\"\r\n          }\r\n        ],\r\n        \"ipSecurityRestrictions\": [\r\n          {\r\n            \"name\": \"Allow work IP A subnet\",\r\n            \"ipAddressRange\": \"192.168.1.1/32\",\r\n            \"action\": \"Allow\"\r\n          }\r\n        ],\r\n        \"clientCertificateMode\": \"accept\"\r\n      },\r\n      \"dapr\": {\r\n        \"enabled\": true,\r\n        \"appProtocol\": \"http\",\r\n        \"appPort\": 3000,\r\n        \"httpReadBufferSize\": 30,\r\n        \"httpMaxRequestSize\": 10,\r\n        \"logLevel\": \"debug\",\r\n        \"enableApiLogging\": true\r\n      },\r\n      \"service\": {\r\n        \"type\": \"redis\"\r\n      },\r\n      \"secrets\": [\r\n        {\r\n          \"name\": \"redis-config\",\r\n          \"value\": \"redis-password\"\r\n        }\r\n      ],\r\n      \"maxInactiveRevisions\": 10\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Retry-After": [ "5" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "697" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.App/locations/eastus/containerappOperationStatuses/b5732885-cfa0-4767-816a-06e0503d307e?api-version=2023-05-01\u0026azureAsyncOperation=true\u0026t=638355512404913079\u0026c=MIIHHjCCBgagAwIBAgITfwI8YE7TFpH4swTJAgAEAjxgTjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMxMTAxMTI0ODMyWhcNMjQxMDI2MTI0ODMyWjBAMT4wPAYDVQQDEzVhc3[...]
