{
  "AzContainerAppAuthConfig+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_app/providers/Microsoft.App/containerApps/awsmd/authConfigs/current?api-version=2023-05-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_app/providers/Microsoft.App/containerApps/awsmd/authConfigs/current?api-version=2023-05-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"platform\": {\r\n      \"enabled\": true\r\n    },\r\n    \"globalValidation\": {\r\n      \"unauthenticatedClientAction\": \"AllowAnonymous\"\r\n    },\r\n    \"identityProviders\": {\r\n      \"facebook\": {\r\n        \"registration\": {\r\n          \"appId\": \"xxxxxx@xxx.com\",\r\n          \"appSecretSettingName\": \"redis-config\"\r\n        }\r\n      }\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "api-supported-versions": [ "2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_app/providers/Microsoft.App/containerApps/awsmd/authConfigs/current\",\"name\":\"current\",\"type\":\"Microsoft.App/containerapps/authconfigs\",\"properties\":{\"platform\":{\"enabled\":true},\"globalValidation\":{\"unauthenticatedClientAction\":\"AllowAnonymous\"},\"identityProviders\":{\"facebook\":{\"registration\":{\"appId\":\"xxxxxx@xxx.com\",\"appSecretSettingName\":\"redis-config\"}}}}}",
    }
  },
  "AzContainerAppAuthConfig+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_app/providers/Microsoft.App/containerApps/awsmd/authConfigs/current?api-version=2023-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_app/providers/Microsoft.App/containerApps/awsmd/authConfigs/current?api-version=2023-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "52" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11960" ],
        "api-supported-versions": [ "2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset[...]
