{
    "Entries": [
        {
            "RequestUri": "/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourcegroups/Default-Web-EastUS/providers/microsoft.insights/autoscalesettings/DefaultServerFarm-Default-Web-EastUS?api-version=2014-04-01",
            "RequestMethod": "DELETE",
            "RequestBody": "",
            "RequestHeaders": {
            },
            "ResponseBody": "",
            "ResponseHeaders": {
                "x-ms-ratelimit-remaining-subscription-writes": [
                    "1199"
                ]
            },
            "StatusCode": 200
        }
    ],
  "Names": {
    "Test-RemoveAutoscaleSetting": [
      ""
    ]
  },
  "Variables": {
    "SubscriptionId": "a93fb07c-6c93-40be-bf3b-4f0deba10f4b"
  }
}