{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults?api-version=2022-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"centraluseuap\",\r\n      \"name\": \"B2A-ccy-version\",\r\n      \"etag\": \"W/\\\"datetime'2022-08-25T07%3A37%3A24.9930827Z'\\\"\",\r\n      \"tags\": null,\r\n      \"identity\": null,\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"Standard\",\r\n        \"tier\": null,\r\n        \"size\": null,\r\n        \"family\": null,\r\n        \"capacity\": null\r\n      }\r\n    },\r\n    {\r\n      \"location\": \"centraluseuap\",\r\n      \"name\": \"E2A-n-version\",\r\n      \"etag\": \"W/\\\"datetime'2022-08-25T07%3A37%3A25.2769262Z'\\\"\",\r\n      \"tags\": null,\r\n      \"identity\": null,\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/E2A-n-vers[...]
    {
      "RequestUri": "/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationFabrics?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1668329247228)\\/\",\"NotAfterTimestamp\":\"\\/Date(1668934047228)\\/\",\"ClientRequestId\":\"811a3907-e2e9-4bc5-a674-f493a483988e-2022-11-13 09:47:27Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"izMhHqweyx7/H33pREm/z0ecuB1rLAB9AhOF78Wh5ZU=\",\"Version\":\"1.2\",\"PropertyBag\":{}}"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"arpita-old-dra\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationFabrics\",\r\n      \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationFabrics/arpita-old-dra\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"arpita-old-dra\",\r\n        \"encryptionDetails\": {\r\n          \"kekState\": \"None\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"rolloverEncryptionDetails\": {\r\n          \"kekState\": \"None\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"internalIdentifier\": \"519e04c8-9585-58e2-926b-c1a4e9acf1a2\",\r\n        \"bcdrState\": \"Valid\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"HyperVSite\",\r\n          \"hyperVHosts\": [\r\n            {\r\n              \"id\": \"idclab-a498_fareast_corp_microsoft_com\",\r\n              \"name\": \"IDCLAB-A498.fareast.corp.microsoft.com\",\r\n              \"marsAgentVersion\": null\r\n            }\r\n          ]\r\n        },\r\n        \"healthErrorDetails\": [],\r\n        \"health\": \"Normal\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"aaaa\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationFabrics\",\r\n      \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationFabrics/aaaa\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"aaaa\",\r\n        \"encryptionDetails\": {\r\n          \"kekState\": \"None\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"rolloverEncryptionDetails\": {\r\n          \"kekState\": \"None\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"internalIdentifier\": \"edfddd83-000b-5a2d-9d5d-94e82e302890\",\r\n        \"bcdrState\": \"Valid\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"HyperVSite\",\r\n          \"hyperVHosts\": []\r\n        },\r\n        \"healthErrorDetails\": [],\r\n        \"health\": \"Normal\"\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationFabrics/arpita-old-dra?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1668329251491)\\/\",\"NotAfterTimestamp\":\"\\/Date(1668934051491)\\/\",\"ClientRequestId\":\"0701f584-4911-4be9-aed4-07aff683[...]
    {
      "RequestUri": "/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationFabrics/arpita-old-dra/replicationProtectionContainers?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1668329255801)\\/\",\"NotAfterTimestamp\":\"\\/Date(1668934055801)\\/\",\"ClientRequestId\":\"6d7b7d4b-5c99-4b09-b306-8a5c8072b02b-2022-11-13 09:47:35Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"uyrY1seQk1Ql3pkwStHeXamlUmyzEcAM3V70ZJxujVo=\",\"Version\":\"1.2\",\"PropertyBag\":{}}"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationFabrics/arpita-old-dra/replicationProtectionContainers/cloud_519e04c8-9585-58e2-926b-c1a4e9acf1a2\",\r\n      \"name\": \"cloud_519e04c8-9585-58e2-926b-c1a4e9acf1a2\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers\",\r\n      \"properties\": {\r\n        \"fabricFriendlyName\": \"arpita-old-dra\",\r\n        \"friendlyName\": \"arpita-old-dra\",\r\n        \"fabricType\": \"HyperVSite\",\r\n        \"protectedItemCount\": 0,\r\n        \"pairingStatus\": \"Paired\",\r\n        \"role\": \"Primary\",\r\n        \"fabricSpecificDetails\": null\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationFabrics/arpita-old-dra/replicationProtectionContainers/cloud_519e04c8-9585-58e2-926b-c1a4e9acf1a2/replicationProtectionContainerMappings?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(166832925780[...]
[...]
    {
      "RequestUri": "/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationPolicies?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1668329261397)\\/\",\"NotAfterTimestamp\":\"\\/Date(1668934061397)\\/\",\"ClientRequestId\":\"01fa44eb-4107-44ab-a85a-89a5064a9f1c-2022-11-13 09:47:41Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"9MJFb7wMVrBB3I8kcKXX5d02oTI0Pnj2QF996TiHIzI=\",\"Version\":\"1.2\",\"PropertyBag\":{}}"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationPolicies/B2APolicyTest\",\r\n      \"name\": \"B2APolicyTest\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationPolicies\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"B2APolicyTest\",\r\n        \"providerSpecificDetails\": {\r\n          \"instanceType\": \"HyperVReplicaAzure\",\r\n          \"recoveryPointHistoryDurationInHours\": 1,\r\n          \"applicationConsistentSnapshotFrequencyInHours\": 0,\r\n          \"replicationInterval\": 30,\r\n          \"encryption\": \"Disabled\",\r\n          \"activeStorageAccountId\": null\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationPolicies/P15min\",\r\n      \"name\": \"P15min\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationPolicies\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"P15min\",\r\n        \"providerSpecificDetails\": {\r\n          \"instanceType\":[...]
    {
      "RequestUri": "/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationFabrics/arpita-old-dra/replicationProtectionContainers/cloud_519e04c8-9585-58e2-926b-c1a4e9acf1a2/replicationProtectableItems?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationFabrics/arpita-old-dra/replicationProtectionContainers/cloud_519e04c8-9585-58e2-926b-c1a4e9acf1a2/replicationProtectableItems/1673bfaf-bdec-4def-9a4e-2813f6441a17\",\r\n      \"name\": \"1673bfaf-bdec-4def-9a4e-2813f6441a17\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectableItems\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"TT8\",\r\n        \"protectionStatus\": \"Unprotected\",\r\n        \"replicationProtectedItemId\": null,\r\n        \"recoveryServicesProviderId\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationFabrics/arpita-old-dra/replicationRecoveryServicesProviders/c6faa097-0b8c-4fb7-8103-1e162dd441c0\",\r\n        \"protectionReadinessErrors\": [],\r\n        \"supportedReplicationProviders\": [\r\n          \"HyperVReplicaAzure\"\r\n        ],\r\n        \"customDetails\": {\r\n          \"instanceType\": \"HyperVVirtualMachine\",\r\n          \"sourceItemId\": \"1673bfaf-bdec-4def-9a4e-2813f6441a17\",\r\n          \"generation\": \"1\",\r\n          \"osDetails\": null,\r\n          \"diskDetails\": [\r\n            {\r\n              \"maxSizeMB\": 10240,\r\n              \"vhdType\": \"Data\",\r\n              \"vhdId\": \"395a6619-2b92-4338-af45-f3048b7130bd\",\r\n              \"vhdName\": \"TT8\"\r\n            }\r\n          ],\r\n          \"hasPhysicalDisk\": \"NotPresent\",\r\n          \"hasFibreChannelAdapter\": \"NotPresent\",\r\n          \"hasSharedVhd\": \"Unknown\",\r\n          \"hyperVHostId\": \"idclab-a498_fareast_corp_microsoft_com\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationFabrics/arpita-old-dra/replicationProtectionContainers/cloud_519e04c8-9585-58e2-926b-c1a4e9acf1a2/replicationProtectableItems/17cc9afd-2566-4a56-99e5-756ee7ade0af\",\r\n      \"name\": \"17cc9afd-2566-4a56-99e5-756ee7ade0af\",\r\n[...]
    {
      "RequestUri": "/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationFabrics/arpita-old-dra/replicationProtectionContainers/cloud_519e04c8-9585-58e2-926b-c1a4e9acf1a2/replicationProtectableItems?api-version=2021-11-01&$skipToken=ReplicationGroup%3ABegin",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1668329266849)\\/\",\"NotAfterTimestamp\":\"\\/Date(1668934066849)\\/\",\"ClientRequestId\":\"691f3188-1b65-4133-924d-c9b5622c54fe-2022-11-13 09:47:46Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"6YTpUfY3A6xa5ABJ0jXCiU33+7T0oBH1cyUkDfq/1w0=\",\"Version\":\"1.2\",\"PropertyBag\":{}}"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [],\r\n  \"nextLink\": null\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationFabrics/arpita-old-dra/replicationProtectionContainers/cloud_519e04c8-9585-58e2-926b-c1a4e9acf1a2/replicationProtectableItems/349c63cc-bd11-401b-ab35-b60fcec8c4b4?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestam[...]
[...]
    {
      "RequestUri": "/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationPolicies/B2APolicyTest?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1668329268412)\\/\",\"NotAfterTimestamp\":\"\\/Date(1668934068412)\\/\",\"ClientRequestId\":\"a53f79c3-cc50-4105-8034-fca61929[...]
    {
      "RequestUri": "/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationFabrics/arpita-old-dra/replicationProtectionContainers/cloud_519e04c8-9585-58e2-926b-c1a4e9acf1a2/replicationProtectedItems/349c63cc-bd11-401b-ab35-b60fcec8c4b4?api-version=2021-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1668329271062)\\/\",\"NotAfterTimestamp\":\"\\/Date(1668934071062)\\/\",\"ClientRequestId\":\"387a95d3-cc23-41da-804f-65c85b43fc97-2022-11-13 09:47:51Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"JWfoG3YN/Ja5gGh0c5RGIlG7qH9uObBZEw+3Yj65p64=\",\"Version\":\"1.2\",\"PropertyBag\":{}}"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"policyId\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationPolicies/B2APolicyTest\",\r\n    \"protectableItemId\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationFabrics/arpita-old-dra/replicationProtectionContainers/cloud_519e04c8-9585-58e2-926b-c1a4e9acf1a2/replicationProtectableItems/349c63cc-bd11-401b-ab35-b60fcec8c4b4\",\r\n    \"providerSpecificDetails\": {\r\n      \"instanceType\": \"HyperVReplicaAzure\",\r\n      \"hvHostVmId\": \"349c63cc-bd11-401b-ab35-b60fcec8c4b4\",\r\n      \"vmName\": \"HyperVVm5960\",\r\n      \"osType\": \"Windows\",\r\n      \"vhdId\": \"de7c495c-3d3e-47dc-8f95-d728b2bcc7f6\",\r\n      \"targetStorageAccountId\": \"/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/Arpita-air/providers/Microsoft.Storage/storageAccounts/sah2atest\",\r\n      \"targetAzureVmName\": \"HyperVVm5960\",\r\n      \"disksToInclude\": [\r\n        \"de7c495c-3d3e-47dc-8f95-d728b2bcc7f6\",\r\n        \"21dd0aaa-c942-4ff2-af7b-3a6e5a75a93b\",\r\n        \"752e467b-5534-4b15-9b0c-97ff9e97bada\"\r\n      ],\r\n      \"targetAzureV2ResourceGroupId\": \"/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakccyrg\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationFabrics/arpita-old-dra/replicationProtectionContainers/cloud_519e04c8-9585-58e2-926b-c1a4e9acf1a2/replicationProtectedItems/349c63cc-bd11-401b-ab35-b60fcec8c4b4/operationresults/3f9da935-5d09-4748-ae30-66138202520f?api-version=2021-11-01"
        ],
        "Retry-After": [
          "30"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationOperationStatus/3f9da935-5d09-4748-ae30-66138202520f?api-version=2021-11-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationJobs/3f9da935-5d09-4748-ae30-66138202520f?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1668329274248)\\/\",\"NotAfterTimestamp\":\"\\/Date(1668934074248)\\/\",\"ClientRequestId\":\"3983b076-ab8a-4e79-86c6-1e229e41cd86-2022-11-13 09:47:54Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"PFkPtamN+oVukj8W/0ioXDqQg2VX03X2FmkekQZPgnA=\",\"Version\":\"1.2\",\"PropertyBag\":{}}"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/h2a-rg-vault-prod-gip-ccy/providers/Microsoft.RecoveryServices/vaults/B2A-ccy-version/replicationJobs/3f9da935-5d09-4748-ae30-66138202520f\",\r\n  \"name\": \"3f9da935-5d09-4748-ae30-66138202520f\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/replicationJobs\",\r\n  \"properties\": {\r\n    \"activityId\": \"15ef3145-9548-42b8-ae77-0a5f0b9db33c ActivityId: 6495c8e7-2b82-4290-8fb3-60b93d2eb35a\",\r\n    \"scenarioName\": \"EnableDr\",\r\n    \"friendlyName\": \"Enable replication\",\r\n    \"state\": \"InProgress\",\r\n    \"stateDescription\": \"InProgress\",\r\n    \"tasks\": [\r\n      {\r\n        \"taskId\": \"EnableProtectionPreflightChecksTask\",\r\n        \"name\": \"EnableProtectionPrerequisitesCheck\",\r\n        \"startTime\": \"2022-11-13T09:47:54.1746433Z\",\r\n        \"endTime\": \"0001-01-01T00:00:00\",\r\n        \"allowedActions\": [],\r\n        \"friendlyName\": \"Prerequisites check for enabling protection\",\r\n        \"state\": \"InProgress\",\r\n        \"stateDescription\": \"InProgress\",\r\n        \"taskType\": \"TaskDetails\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"TaskDetails\"\r\n        },\r\n        \"groupTaskCustomDetails\": null,\r\n        \"errors\": []\r\n      },\r\n      {\r\n        \"taskId\": \"CreateProtectionTargetTask\",\r\n        \"name\": \"CreateProtectionTarget\",\r\n        \"startTime\": \"0001-01-01T00:00:00\",\r\n        \"endTime\": \"0001-01-01T00:00:00\",\r\n        \"allowedActions\": [],\r\n        \"friendlyName\": \"Identifying the replication target\",\r\n        \"state\": \"NotStarted\",\r\n        \"stateDescription\": \"NotStarted\",\r\n        \"taskType\": \"TaskDetails\",\r\n        \"customDetails\": {\r\n [...]
