{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "856c9d2c-398a-42c5-bacd-7fdd9d5dba5a",
          "856c9d2c-398a-42c5-bacd-7fdd9d5dba5a",
          "856c9d2c-398a-42c5-bacd-7fdd9d5dba5a",
          "856c9d2c-398a-42c5-bacd-7fdd9d5dba5a"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"westus\",\r\n      \"name\": \"prakwus\",\r\n      \"etag\": \"W/\\\"datetime'2020-04-23T06%3A54%3A06.3298168Z'\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"privateEndpointStateForBackup\": \"None\",\r\n        \"privateEndpointStateForSiteRecovery\": \"None\"\r\n      },\r\n      \"id\": \"/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/prakwus\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"RS0\",\r\n        \"tier\": \"Standard\"\r\n      }\r\n    },\r\n    {\r\n      \"location\": \"westus2\",\r\n      \"name\": \"H2ATest\",\r\n      \"etag\": \"W/\\\"datetime'2021-01-22T15%3A44%3A11.2653776Z'\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"privateEndpointStateForBackup\": \"None\",\r\n        \"privateEndpointStateForSiteRecovery\": \"None\"\r\n      },\r\n      \"id\": \"/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Mic[...]
    {
      "RequestUri": "/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationFabrics?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1611338040501)\\/\",\"NotAfterTimestamp\":\"\\/Date(1611942840501)\\/\",\"ClientRequestId\":\"a6e85794-60d8-48e8-8355-ec1604d161ae-2021-01-22 18:54:00Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"LnUgzefOrm3UYE3ivBEfsDEcAL9/7oOyGRKdue4vtjM=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"H2ASite\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationFabrics\",\r\n      \"id\": \"/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationFabrics/H2ASite\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"H2ASite\",\r\n        \"encryptionDetails\": {\r\n          \"kekState\": \"None\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"rolloverEncryptionDetails\": {\r\n          \"kekState\": \"None\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"internalIdentifier\": \"1efac2b5-1ac2-5efd-8afa-4487a6cad9b2\",\r\n        \"bcdrState\": \"Valid\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"HyperVSite\"\r\n        },\r\n        \"healthErrorDetails\": [],\r\n        \"health\": \"Normal\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"10d8a11520fcf04c0af7379aedb1c544be28087a281f0dc7d3b9acb3b1f49b0e\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationFabrics\",\r\n      \"id\": \"/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationFabrics/10d8a11520fcf04c0af7379aedb1c544be28087a281f0dc7d3b9acb3b1f49b0e\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"prgoyal-vc\",\r\n        \"encryptionDetails\": {\r\n          \"kekState\": \"None\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"rolloverEncryptionDetails\": {\r\n          \"kekState\": \"None\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"internalIdentifier\": \"264856f2-77e6-414b-9984-17fb4753d5f8\",\r\n        \"bcdrState\": \"Valid\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"VMware\",\r\n          \"processServers\": [\r\n            {\r\n              \"friendlyName\": \"prgoyal-cs\",\r\n              \"id\": \"C8C9CA35-DBBC-7443-B12483DF8C635802\",\r\n              \"ipAddress\": \"10.150.99.208\",\r\n              \"osType\": \"Windows\",\r\n              \"agentVersion\": \"9.32.0.0\",\r\n              \"lastHeartbeat\": \"2020-11-09T17:06:21Z\",\r\n              \"versionStatus\": \"UpdateRequired\",\r\n              \"mobilityServiceUpdates\": [],\r\n              \"hostId\": \"C8C9CA35-DBBC-7443-B12483DF8C635802\",\r\n              \"machineCount\": \"1\",\r\n              \"replicationPairCount\": \"1\",\r\n              \"systemLoad\": \"0\",\r\n              \"systemLoadStatus\": \"Green\",\r\n              \"cpuLoad\": \"0%\",\r\n              \"cpuLoadStatus\": \"Green\",\r\n              \"totalMemoryInBytes\": 9931579392,\r\n              \"availableMemoryInBytes\": 8287903003,\r\n              \"memoryUsageStatus\": \"Green\",\r\n              \"totalSpaceInBytes\": 107005079552,\r\n              \"availableSpaceInBytes\": 87630987264,\r\n              \"spaceUsageStatus\": \"Green\",\r\n              \"psServiceStatus\": \"Running\",\r\n              \"sslCertExpiryDate\": \"2023-06-08T14:03:50Z\",\r\n              \"sslCertExpiryRemainingDays\": 866,\r\n              \"osVersion\": null,\r\n              \"healthErrors\": [\r\n                {\r\n                  \"errorSource\": \"ProcessServer\",\r\n                  \"errorType\": null,\r\n                  \"errorLevel\": \"Warning\",\r\n                  \"errorCategory\": \"VersionExpiry\",\r\n                  \"errorCode\": \"818\",\r\n                  \"summaryMessage\": \"Process server version is nearing End-Of-Support.\",\r\n                  \"errorMessage\": \"The support for the version of Azure Site Recovery software (9.32.0.0) running on your Process Server  will end in the next (58) days.\",\r\n                  \"possibleCauses\": \"The Process Server has not been updated to the latest version. The latest version available is (9.38.0.0).\",\r\n                  \"recommendedAction\": \"Upgrade the Process Server in the next (58) days to ensure the Site Recovery functionality continues to work without issues.\",\r\n                  \"creationTimeUtc\": \"2020-11-09T00:15:56.6031639Z\",\r\n                  \"recoveryProviderErrorMessage\": null,\r\n                  \"entityId\": \"264856f2-77e6-414b-9984-17fb4753d5f8\"\r\n                }\r\n              ],\r\n              \"agentExpiryDate\": \"2021-01-07T00:00:00Z\",\r\n              \"agentVersionDetails\": {\r\n                \"version\": \"9.32.0.0\",\r\n                \"expiryDate\": \"2021-01-07T00:00:00Z\",\r\n                \"status\": \"UpdateRequired\"\r\n              },\r\n              \"health\": \"Warning\",\r\n              \"historicHealth\": \"Normal\",\r\n              \"psStatsRefreshTime\": \"2020-11-09T17:09:28Z\",\r\n              \"throughputUploadPendingDataInBytes\": 0,\r\n              \"throughputInMBps\": 0,\r\n              \"throughputInBytes\": 0,\r\n              \"throughputStatus\": \"Green\",\r\n              \"marsCommunicationStatus\": \"1\",\r\n              \"marsRegistrationStatus\": \"1\"\r\n            },\r\n            {\r\n              \"friendlyName\": \"prgoyal-vc\",\r\n              \"id\": \"A7C02967-0032-354D-92F582159960DCA9\",\r\n              \"ipAddress\": \"10.150.103.112\",\r\n              \"osType\": \"Windows\",\r\n              \"agentVersion\": \"9.36.0.0\",\r\n              \"lastHeartbeat\": \"2020-11-09T17:07:25Z\",\r\n              \"versionStatus\": \"UpdateRequired\",\r\n              \"mobilityServiceUpdates\": [\r\n                {\r\n                  \"version\": \"9.36.0.0\",\r\n                  \"rebootStatus\": \"NotRequired\",\r\n                  \"osType\": \"Windows\"\r\n                },\r\n                {\r\n                  \"version\": \"9.36.0.0\",\r\n                  \"rebootStatus\": \"NotRequired\",\r\n                  \"osType\": \"Linux\"\r\n                }\r\n              ],\r\n              \"hostId\": \"A7C02967-0032-354D-92F582159960DCA9\",\r\n              \"machineCount\": \"3\",\r\n              \"replicationPairCount\": \"6\",\r\n              \"systemLoad\": \"0\",\r\n [...]
    {
      "RequestUri": "/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationFabrics/H2ASite?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1611338042034)\\/\",\"NotAfterTimestamp\":\"\\/Date(1611942842034)\\/\",\"ClientRequestId\":\"be2c001a-e28d-48ff-af19-1a394ab54bf3-2021[...]
    {
      "RequestUri": "/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationFabrics/H2ASite/replicationProtectionContainers?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1611338042390)\\/\",\"NotAfterTimestamp\":\"\\/Date(1611942842390)\\/\",\"ClientRequestId\":\"afbf4947-0135-4657-a079-cbb1e5432aba-2021-01-22 18:54:02Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"6vu+OGbUhh3VruiVEcVX1UwAmlS1xBHWgl6RmjcH4do=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationFabrics/H2ASite/replicationProtectionContainers/cloud_1efac2b5-1ac2-5efd-8afa-4487a6cad9b2\",\r\n      \"name\": \"cloud_1efac2b5-1ac2-5efd-8afa-4487a6cad9b2\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers\",\r\n      \"properties\": {\r\n        \"fabricFriendlyName\": \"H2ASite\",\r\n        \"friendlyName\": \"H2ASite\",\r\n        \"fabricType\": \"HyperVSite\",\r\n        \"protectedItemCount\": 5,\r\n        \"pairingStatus\": \"Paired\",\r\n        \"role\": \"Primary\",\r\n        \"fabricSpecificDetails\": null\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationFabrics/H2ASite/replicationProtectionContainers/cloud_1efac2b5-1ac2-5efd-8afa-4487a6cad9b2/replicationProtectionContainerMappings?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1611338042734)\\/\",\[...]
    {
      "RequestUri": "/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationPolicies?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1611338043113)\\/\",\"NotAfterTimestamp\":\"\\/Date(1611942843113)\\/\",\"ClientRequestId\":\"cdbf653c-0875-4eea-8a06-0c40f60b3886-2021-01-22 18:54:03Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"k6j2eSk36eSLdL9zY5isRDeMmOwhloPkpyatzOoCXgw=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11982"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationPolicies/policy1\",\r\n      \"name\": \"policy1\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationPolicies\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"policy1\",\r\n        \"providerSpecificDetails\": {\r\n          \"instanceType\": \"InMageAzureV2\",\r\n          \"crashConsistentFrequencyInMinutes\": 5,\r\n          \"recoveryPointThresholdInMinutes\": 60,\r\n          \"recoveryPointHistory\": 1440,\r\n          \"appConsistentFrequencyInMinutes\": 60,\r\n          \"multiVmSyncStatus\": \"Enabled\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationPolicies/v2apolicy-failback\",\r\n      \"name\": \"v2apolicy-failback\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationPolicies\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"v2apolicy-failback\",\r\n        \"providerSpecificDetails\": {\r\n          \"instanceType\": \"InMage\",\r\n          \"recoveryPointThresholdInMinutes\": 60,\r\n          \"recoveryPointHistory\": 1440,\r\n          \"appConsistentFrequencyInMinutes\": 60,\r\n          \"multiVmSyncStatus\": \"Enabled\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationPolicies/testvmm\",\r\n      \"name\": \"testvmm\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationPolicies\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"testvmm\",\r\n        \"providerSpecificDetails\": {\r\n          \"instanceType\": \"HyperVReplica2012R2\",\r\n          \"replicationFrequencyInSeconds\": 30,\r\n          \"recoveryPoints\": 2,\r\n          \"applicationConsistentSnapshotFrequencyInHours\": 1,\r\n          \"compression\": \"Enabled\",\r\n          \"initialReplicationMethod\": \"OverNetwork\",\r\n          \"offlineReplicationImportPath\": \"\",\r\n          \"offlineReplicationExportPath\": \"\",\r\n          \"replicationPort\": 8083,\r\n          \"allowedAuthenticationType\": 2,\r\n          \"replicaDeletionOption\": \"None\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationPolicies/policy1-failback\",\r\n      \"name\": \"policy1-failback\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationPolicies\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"policy1-failback\",\r\n        \"providerSpecificDetails\": {\r\n          \"instanceType\": \"InMage\",\r\n          \"recoveryPointThresholdInMinutes\": 60,\r\n          \"recoveryPointHistory\": 1440,\r\n          \"appConsistentFrequencyInMinutes\": 60,\r\n          \"multiVmSyncStatus\": \"Enabled\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationPolicies/b2apolicy\",\r\n      \"name\": \"b2apolicy\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationPolicies\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"b2apolicy\",\r\n        \"providerSpecificDetails\": {\r\n          \"instanceType\": \"HyperVReplicaAzure\",\r\n          \"recoveryPointHistoryDurationInHours\": 2,\r\n          \"applicationConsistentSnapshotFrequencyInHours\": 1,\r\n          \"replicationInterval\": 300,\r\n          \"encryption\": \"Disabled\",\r\n          \"activeStorageAccountId\": null\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationPolicies/b2apolicy1\",\r\n      \"name\": \"b2apolicy1\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationPolicies\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"b2apolicy1\",\r\n        \"providerSpecificDetails\": {\r\n          \"instanceType\": \"HyperVReplic[...]
    {
      "RequestUri": "/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationPolicies/b2apolicy?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1611338043542)\\/\",\"NotAfterTimestamp\":\"\\/Date(1611942843542)\\/\",\"ClientRequestId\":\"6649483a-de83-4df5-9990-de4e12541725-2[...]
    {
      "RequestUri": "/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationFabrics/H2ASite/replicationProtectionContainers/cloud_1efac2b5-1ac2-5efd-8afa-4487a6cad9b2/replicationProtectedItems?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1611338043859)\\/\",\"NotAfterTime[...]
[...]
    {
      "RequestUri": "/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationFabrics/H2ASite/replicationProtectionContainers/cloud_1efac2b5-1ac2-5efd-8afa-4487a6cad9b2/replicationProtectedItems/d7f72e6c-7e3b-4995-9ab1-dc8c93fe1011?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Da[...]
[...]
    {
      "RequestUri": "/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationFabrics/H2ASite/replicationProtectionContainers/cloud_1efac2b5-1ac2-5efd-8afa-4487a6cad9b2/replicationProtectedItems/d7f72e6c-7e3b-4995-9ab1-dc8c93fe1011?api-version=2018-07-10",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"recoveryAzureVMName\": \"A020-VJ-Dum2\",\r\n    \"recoveryAzureVMSize\": \"Standard_B1s\",\r\n    \"selectedRecoveryAzureNetworkId\": \"/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/A2APortalVal-RG-asr-1/providers/Microsoft.Network/virtualNetworks/A2APortalVal-RG-vnet-asr\",\r\n    \"selectedTfoAzureNetworkId\": \"\",\r\n    \"selectedSourceNicId\": \"TWljcm9zb2Z0OkQ3RjcyRTZDLTdFM0ItNDk5NS05QUIxLURDOEM5M0ZFMTAxMVw1RDVCMUU0MC0xQTdELTRCQjctQTE4Ri1GM0UxREM2Mzk0Qjc=\",\r\n    \"vmNics\": [\r\n      {\r\n        \"nicId\": \"TWljcm9zb2Z0OkQ3RjcyRTZDLTdFM0ItNDk5NS05QUIxLURDOEM5M0ZFMTAxMVw1RDVCMUU0MC0xQTdELTRCQjctQTE4Ri1GM0UxREM2Mzk0Qjc=\",\r\n        \"recoveryVMSubnetName\": \"default\",\r\n        \"replicaNicStaticIPAddress\": \"\",\r\n        \"selectionType\": \"SelectedByUser\",\r\n        \"recoveryPublicIpAddressId\": \"\",\r\n        \"recoveryNetworkSecurityGroupId\": \"\",\r\n        \"recoveryLBBackendAddressPoolIds\": []\r\n      }\r\n    ],\r\n    \"licenseType\": \"WindowsServer\",\r\n    \"recoveryAvailabilitySetId\": \"\",\r\n    \"providerSpecificDetails\": {\r\n      \"instanceType\": \"HyperVReplicaAzure\",\r\n      \"recoveryAzureV2ResourceGroupId\": \"/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/h2arg\",\r\n      \"useManagedDisks\": \"false\",\r\n      \"targetProximityPlacementGroupId\": \"\",\r\n      \"targetAvailabilityZone\": \"2\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1611338045140)\\/\",\"NotAfterTimestamp\":\"\\/Date(1611942845140)\\/\",\"ClientRequestId\":\"dd01d352-d414-4404-9517-7ffdc904e445-2021-01-22 18:54:05Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"rUOK5nqXIw1/UTN/Vm3Jf/PuGPmKXci6cPboMYjyokk=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationFabrics/H2ASite/replicationProtectionContainers/cloud_1efac2b5-1ac2-5efd-8afa-4487a6cad9b2/replicationProtectedItems/d7f72e6c-7e3b-4995-9ab1-dc8c93fe1011/operationresults/0a70b045-4b0e-4816-a67b-236f7dac4633?api-version=2018-07-10"
        ],
        "Retry-After": [
          "30"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationOperationStatus/0a70b045-4b0e-4816-a67b-236f7dac4633?api-version=2018-07-10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationJobs/0a70b045-4b0e-4816-a67b-236f7dac4633?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1611338047185)\\/\",\"NotAfterTimestamp\":\"\\/Date(1611942847185)\\/\",\"ClientRequestId\":\"aa30fc34-3dfe-4470-b336-a3d768cb6a81-2021-01-22 18:54:07Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"pYzs61uxWWp0sLFpzZFpBBmqASx86Y/IGLjGqMfsGaQ=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11977"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/prakrg/providers/Microsoft.RecoveryServices/vaults/H2ATest/replicationJobs/0a70b045-4b0e-4816-a67b-236f7dac4633\",\r\n  \"name\": \"0a70b045-4b0e-4816-a67b-236f7dac4633\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/replicationJobs\",\r\n  \"properties\": {\r\n    \"activityId\": \"582088ff-178b-4f31-bdcb-285f88e8d268 ActivityId: 66bd19d2-59ac-4edd-b3c6-1a76b99989c8\",\r\n    \"scenarioName\": \"UpdateVmProperties\",\r\n    \"friendlyName\": \"Update the virtual machine\",\r\n    \"state\": \"InProgress\",\r\n    \"stateDescription\": \"InProgress\",\r\n    \"tasks\": [\r\n      {\r\n        \"taskId\": \"5e1533de-40fa-4fb8-9193-9cea43c64aa1\",\r\n        \"name\": \"UpdateVmPropertiesTask\",\r\n        \"startTime\": \"0001-01-01T00:00:00\",\r\n        \"endTime\": \"0001-01-01T00:00:00\",\r\n        \"allowedActions\": [],\r\n        \"friendlyName\": \"Update the virtual machine properties\",\r\n        \"state\": \"NotStarted\",\r\n        \"stateDescription\": \"NotStarted\",\r\n        \"taskType\": \"TaskDetails\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"TaskDetails\"\r\n        },\r\n        \"groupTaskCustomDetails\": null,\r\n        \"errors\": []\r\n      }\r\n    ],\r\n    \"errors\": [],\r\n    \"startTime\": \"2021-01-22T18:54:06.3377463Z\",\r\n    \"allowedActions\": [],\r\n    \"targetObjectId\": \"d7f72e6c-7e3b-4995-9ab1-dc8c93fe1011\",\r\n    \"targetObjectName\": \"A020-VJ-Dum2\",\r\n    \"targetInstanceType\": \"ProtectionEntity\",\r\n    \"customDetails\": {\r\n      \"instanceType\": \"AsrJobDetails\",\r\n      \"affectedObjectDetails\": {\r\n        \"primaryVmId\": \"d7f72e6c-7e3b-4995-9ab1-dc8c93fe1011\",\r\n        \"primaryVmName\": \"A020-VJ-Dum2\",\r\n        \"recoveryVmId\": \"\",\r\n        \"recoveryVmName\": \"A020-VJ-Dum2\",\r\n        \"protectionProfileId\": \"3e031e8e-87c4-5c1d-8ca2-19e3483da958\",\r\n        \"primaryCloudId\": \"cloud_1efac2b5-1ac2-5efd-8afa-4487a6cad9b2\",\r\n        \"primaryCloudName\": \"H2ASite\",\r\n        \"recoveryCloudId\": \"d38048d4-b460-4791-8ece-108395ee8478\",\r\n        \"recoveryCloudName\": \"Microsoft Azure\",\r\n        \"primaryVmmId\": \"1efac2b5-1ac2-5efd-8afa-4487a6cad9b2\",\r\n        \"primaryVmmName\": \"H2ASite\",\r\n        \"recoveryVmmId\": \"21a9403c-6ec1-44f2-b744-b4e50b792387\",\r\n        \"recoveryVmmName\": \"Microsoft Azure\",\r\n        \"primaryFabricProviderId\": \"HyperVSite\",\r\n        \"recoveryFabricProviderId\": \"Azure\"\r\n      }\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c"
  }
}