{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"eastus\",\r\n      \"name\": \"E2ETest\",\r\n      \"etag\": \"W/\\\"datetime'2017-09-18T12%3A02%3A17.7839455Z'\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"RS0\",\r\n        \"tier\": \"Standard\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13455"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationPolicies/B2APolicyTest1?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1505909221180)\\/\",\"NotAfterTimestamp\":\"\\/Date(1506514021180)\\/\",\"ClientRequestId\":\"279e7838-2bd3-479c-b586-e5adcaf61ca9-2017-09-20 13:07:01Z-P\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"jtSNmbQoDK0+tN/I7HG8D1iv5y8FZuQCmTyDiibi3mo=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationPolicies/B2APolicyTest1\",\r\n  \"name\": \"B2APolicyTest1\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/replicationPolicies\",\r\n  \"properties\": {\r\n    \"friendlyName\": \"B2APolicyTest1\",\r\n    \"providerSpecificDetails\": {\r\n      \"instanceType\": \"HyperVReplicaAzure\",\r\n      \"recoveryPointHistoryDurationInHours\": 1,\r\n      \"applicationConsistentSnapshotFrequencyInHours\": 0,\r\n      \"replicationInterval\": 30,\r\n      \"encryption\": \"Disabled\",\r\n      \"activeStorageAccountId\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.Storage/storageAccounts/ev2teststorage\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "12488"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationFabrics?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1505909221848)\\/\",\"NotAfterTimestamp\":\"\\/Date(1506514021848)\\/\",\"ClientRequestId\":\"4d7e231f-d5aa-4297-93a2-6bcdc8823a56-2017-09-20 13:07:01Z-P\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"RDBlJIRZ/JrTZ53s+94nPqLtb739Bg6YXMVsaDktS3g=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"a98e3833a83e5a803a77d8c9b73d03b34769cddf26a9c36ff4dbb50a86a5bcd4\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationFabrics\",\r\n      \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationFabrics/a98e3833a83e5a803a77d8c9b73d03b34769cddf26a9c36ff4dbb50a86a5bcd4\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"IDCLAB-A137.ntdev.corp.microsoft.com\",\r\n        \"encryptionDetails\": {\r\n          \"kekState\": \"Enabled\",\r\n          \"kekCertThumbprint\": \"95272D091D01E011668299485DE51C93A35023BE\",\r\n          \"kekCertExpiryDate\": \"2020-09-20T13:34:32Z\"\r\n        },\r\n        \"rolloverEncryptionDetails\": {\r\n          \"kekState\": \"Enabled\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"internalIdentifier\": \"630960be-c5ae-4e94-a747-37aa0d1050b7\",\r\n        \"bcdrState\": \"Valid\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"VMM\"\r\n        },\r\n        \"healthErrorDetails\": [],\r\n        \"failoverHealthErrorDetails\": [],\r\n        \"health\": \"Normal\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"primaryFriendlyName\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationFabrics\",\r\n      \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationFabrics/primaryFriendlyName\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"primaryFriendlyName\",\r\n        \"encryptionDetails\": {\r\n          \"kekState\": \"None\[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationFabrics/primaryFriendlyName?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1505909222218)\\/\",\"NotAfterTimestamp\":\"\\/Date(1506514022218)\\/\",\"ClientRequestId\":\"fc4f0230-24e9-4eff-bbcb-1a3d28[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationFabrics/primaryFriendlyName/replicationProtectionContainers?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1505909242779)\\/\",\"NotAfterTimestamp\":\"\\/Date(1506514042779)\\/\",\"ClientRequestId\":\"9d909f6e-ce45-457f-bb1f-859fbb8bd5de-2017-09-20 13:07:22Z-P\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"hZs51p7VNGTwLGluw/3KIzGTWghl02I+UC4YgZdIWSc=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationFabrics/primaryFriendlyName/replicationProtectionContainers/cloud_6e846d3a-d55c-5242-870b-c0b98cee05e2\",\r\n      \"name\": \"cloud_6e846d3a-d55c-5242-870b-c0b98cee05e2\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers\",\r\n      \"properties\": {\r\n        \"fabricFriendlyName\": \"primaryFriendlyName\",\r\n        \"friendlyName\": \"primaryFriendlyName\",\r\n        \"fabricType\": \"HyperVSite\",\r\n        \"protectedItemCount\": 0,\r\n        \"pairingStatus\": \"Paired\",\r\n        \"role\": \"Primary\",\r\n        \"fabricSpecificDetails\": null\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13442"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationFabrics/primaryFriendlyName/replicationProtectionContainers/cloud_6e846d3a-d55c-5242-870b-c0b98cee05e2/replicationProtectionContainerMappings?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1505909243208)\\/\",\"NotAfterTimestamp\":\"\\/Date(1506514043208)\\/\",\"ClientRequestId\":\"b4beb857-e6b3-4d30-a0db-d847ac36dd0d-2017-09-20 13:07:23Z-P\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"tv4XN/ylatJEmHXlYXL+wJIV/6RWSlD/01SK1ax6Q84=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationFabrics/primaryFriendlyName/replicationProtectionContainers/cloud_6e846d3a-d55c-5242-870b-c0b98cee05e2/replicationProtectionContainerMappings/B2AClP26mapping\",\r\n      \"name\": \"B2AClP26mapping\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectionContainerMappings\",\r\n      \"properties\": {\r\n        \"targetProtectionContainerId\": \"Microsoft Azure\",\r\n        \"targetProtectionContainerFriendlyName\": \"Microsoft Azure\",\r\n        \"providerSpecificDetails\": null,\r\n        \"health\": \"Normal\",\r\n        \"healthErrorDetails\": [],\r\n        \"policyId\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationPolicies/B2APolicyTest1\",\r\n        \"state\": \"Paired\",\r\n        \"sourceProtectionContainerFriendlyName\": \"primaryFriendlyName\",\r\n        \"sourceFabricFriendlyName\": \"primaryFriendlyName\",\r\n        \"targetFabricFriendlyName\": \"Microsoft Azure\",\r\n        \"policyFriendlyName\": \"B2APolicyTest1\"\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13441"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationPolicies?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1505909243647)\\/\",\"NotAfterTimestamp\":\"\\/Date(1506514043647)\\/\",\"ClientRequestId\":\"06b753c2-762f-4cbc-9223-eb7085b8b648-2017-09-20 1[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationFabrics/primaryFriendlyName/replicationProtectionContainers/cloud_6e846d3a-d55c-5242-870b-c0b98cee05e2/replicationProtectionContainerMappings/B2AClP26mapping?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationFabrics/primaryFriendlyName/replicationProtectionContainers/cloud_6e846d3a-d55c-5242-870b-c0b98cee05e2/replicationProtectableItems?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1505909244484)\\/\",\[...]
[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationFabrics/primaryFriendlyName/replicationProtectionContainers/cloud_6e846d3a-d55c-5242-870b-c0b98cee05e2/replicationProtectableItems?api-version=2018-07-10&%24skipToken=ReplicationGroup%3aBegin",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1505909246148)\\/\",\"NotAfterTimestamp\":\"\\/Date(1506514046148)\\/\",\"ClientRequestId\":\"99246237-6845-4053-bce8-6a21865f2fbd-2017-09-20 13:07:26Z-P\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"ttr1zXeG1YAa90QeE5yE+TG/g/rTKu68vJeHTOjXr7Y=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13437"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationFabrics/primaryFriendlyName/replicationProtectionContainers/cloud_6e846d3a-d55c-5242-870b-c0b98cee05e2/replicationProtectableItems/b1956159-f3d3-4317-86d4-94fb027c6d95?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimest[...]
[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationFabrics/primaryFriendlyName/replicationProtectionContainers/cloud_6e846d3a-d55c-5242-870b-c0b98cee05e2/replicationProtectedItems/b1956159-f3d3-4317-86d4-94fb027c6d95?api-version=2018-07-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"policyId\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationPolicies/B2APolicyTest1\",\r\n    \"protectableItemId\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationFabrics/primaryFriendlyName/replicationProtectionContainers/cloud_6e846d3a-d55c-5242-870b-c0b98cee05e2/replicationProtectableItems/b1956159-f3d3-4317-86d4-94fb027c6d95\",\r\n    \"providerSpecificDetails\": {\r\n      \"instanceType\": \"HyperVReplicaAzure\",\r\n      \"hvHostVmId\": \"b1956159-f3d3-4317-86d4-94fb027c6d95\",\r\n      \"vmName\": \"hyperV1\",\r\n      \"osType\": \"Windows\",\r\n      \"targetStorageAccountId\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.Storage/storageAccounts/ev2teststorage\",\r\n      \"targetAzureVmName\": \"hyperV1\",\r\n      \"targetAzureV2ResourceGroupId\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1505909247946)\\/\",\"NotAfterTimestamp\":\"\\/Date(1506514047946)\\/\",\"ClientRequestId\":\"5b9043d9-df3f-4d2c-9f42-8656b18facec-2017-09-20 13:07:27Z-P\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"1LII2LgSSV5JUcoto/RRWT01ZoAAX+wv8XnX5p1VHA4=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "30"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationJobs/82fd08d9-a462-4bfa-8080-4d601e658bc2?api-version=2018-07-10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Location": [
          "https://management.azure.com/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationFabrics/primaryFriendlyName/replicationProtectionContainers/cloud_6e846d3a-d55c-5242-870b-c0b98cee05e2/replicationProtectedItems/b1956159-f3d3-4317-86d4-94fb027c6d95/operationresults/82fd08d9-a462-4bfa-8080-4d601e658bc2?api-version=2018-07-10"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationJobs/82fd08d9-a462-4bfa-8080-4d601e658bc2?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1505909249599)\\/\",\"NotAfterTimestamp\":\"\\/Date(1506514049599)\\/\",\"ClientRequestId\":\"4a03af61-d75f-487c-b9ae-245a8de74154-2017-09-20 13:07:29Z-P\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"BDFg4OU+W2d+AtkDZlfDEg8IYOTusNCM+c4VVcyMrA4=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/E2ERg/providers/Microsoft.RecoveryServices/vaults/E2ETest/replicationJobs/82fd08d9-a462-4bfa-8080-4d601e658bc2\",\r\n  \"name\": \"82fd08d9-a462-4bfa-8080-4d601e658bc2\",\r\n  \"properties\": {\r\n    \"activityId\": \"5b9043d9-df3f-4d2c-9f42-8656b18facec-2017-09-20 13:07:27Z-P ActivityId: e6798202-a6ad-463f-8135-bba6ec4b2fb4\",\r\n    \"scenarioName\": \"EnableDr\",\r\n    \"friendlyName\": \"Enable replication\",\r\n    \"state\": \"InProgress\",\r\n    \"stateDescription\": \"InProgress\",\r\n    \"tasks\": [\r\n      {\r\n        \"taskId\": \"EnableProtectionPreflightChecksTask\",\r\n        \"name\": \"EnableProtectionPrerequisitesCheck\",\r\n        \"startTime\": \"2017-09-20T13:07:30.0919937Z\",\r\n        \"endTime\": \"0001-01-01T00:00:00\",\r\n        \"allowedActions\": [],\r\n        \"friendlyName\": \"Prerequisites check for enabling protection\",\r\n        \"state\": \"InProgress\",\r\n        \"stateDescription\": \"InProgress\",\r\n        \"taskType\": \"TaskDetails\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"TaskDetails\"\r\n        },\r\n        \"groupTaskCustomDetails\": null,\r\n        \"errors\": []\r\n      },\r\n      {\r\n        \"taskId\": \"CreateProtectionTargetTask\",\r\n        \"name\": \"CreateProtectionTarget\",\r\n        \"startTime\": \"0001-01-01T00:00:00\",\r\n        \"endTime\": \"0001-01-01T00:00:00\",\r\n        \"allowedActions\": [],\r\n        \"friendlyName\": \"Identifying the replication target\",\r\n        \"state\": \"NotStarted\",\r\n        \"stateDescription\": \"NotStarted\",\r\n        \"taskType\": \"TaskDetails\",\r\n        \"customDetails\": {\r\n [...]
[...]
