{
    "Entries":  [
                    {
                        "RequestUri":  "/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/Arpita-air/providers/Microsoft.RecoveryServices/vaults?api-version=2025-08-01",
                        "RequestMethod":  "GET",
                        "RequestHeaders":  {
                        "RequestBody":  "",
                        "ResponseHeaders":  {
                                                "x-ms-original-request-ids":  [
                                                                                  "c61300f2-c928-4c1b-868a-2a48fc1e8e82",
                                                                                  "c61300f2-c928-4c1b-868a-2a48fc1e8e82",
                                                                                  "c61300f2-c928-4c1b-868a-2a48fc1e8e82",
                                                                                  ""
                                                                              ],
                                                "x-ms-ratelimit-remaining-subscription-reads":  [
                                                                                                    "1100"
                                                                                                ],
                                                "x-ms-ratelimit-remaining-subscription-global-reads":  [
                                                                                                           "16500"
                                                                                                       ],
                                                "Content-Type":  [
                                                                     "application/json; charset=utf-8"
                                                                 ]
                        "ResponseBody":  "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"eastus\",\r\n      \"name\": \"EastUSVault\",\r\n      \"etag\": \"W/\\\"datetime\u00272023-03-28T04%3A27%3A41.4827113Z\u0027\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"privateEndpointStateForBackup\": \"None\",\r\n        \"privateEndpointStateForSiteRecovery\": \"None\",\r\n        \"secureScore\": \"None\",\r\n        \"bcdrSecurityLevel\": \"Poor\",\r\n        \"publicNetworkAccess\": \"Enabled\",\r\n        \"restoreSettings\": {\r\n          \"crossSubscriptionRestoreSettings\": {\r\n            \"crossSubscriptionRestoreState\": \"Enabled\"\r\n          }\r\n        }\r\n      },\r\n      \"id\": \"/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/Arpita-air/providers/Microsoft.RecoveryServices/vaults/EastUSVault\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"RS0\",\r\n        \"tier\": \"Standard\"\r\n      }\r\n    },\r\n    {\r\n      \"location\": \"eastus\",\r\n      \"name\": \"Monitoring-Demo-Vault\",\r\n      \"etag\": \"W/\\\"datetime\u00272023-07-07T09%3A35%3A42.7288508Z\u0027\\\"\",\r\n      \"tags\": {\r\n        \"CreatedOnDate\": \"2023-07-07T09:35:38.7481376Z\"\r\n      },\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"privateEndpointStateForBackup\": \"None\",\r\n        \"privateEndpointStateForSiteRecovery\": \"None\",\r\n        \"secureScore\": \"None\",\r\n        \"bcdrSecurityLevel\": \"Poor\",\r\n        \"publicNetworkAccess\": \"Enabled\",\r\n        \"restoreSettings\": {\r\n          \"crossSubscriptionRestoreSettings\": {\r\n            \"crossSubscriptionRestoreState\": \"Enabled\"\r\n          }\r\n        }\r\n      },\r\n      \"id\": \"/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/Arpita-air/providers/Microsoft.RecoveryServices/vaults/Monitoring-Demo-Vault\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"RS0\",\r\n        \"tier\": \"Standard\"\r\n      }\r\n    },\r\n    {\r\n      \"location\": \"eastus\",\r\n      \"name\": \"rohitvault\",\r\n      \"etag\": \"W/\\\"datetime\u00272024-03-24T08%3A58%3A30.7369884Z\u0027\\\"\",\r\n      \"identity\": {\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"principalId\": \"bd48e3e2-1fa2-4d35-be27-18a5e796736e\",\r\n        \"type\": \"SystemAssigned\"\r\n      },\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"privateEndpointConnections\": [\r\n          {\r\n            \"id\": \"/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/Arpita-air/providers/Microsoft.RecoveryServices/vaults/rohitvault/privateEndpointConnections/pe-rohitvault.6873121959163457443.SiteRecovery.ab4a1d46-b63f-4cad-a8f7-c886fde0d3d9\",\r\n            \"name\": \"pe-rohitvault.6873121959163457443.SiteRecovery.ab4a1d46-b63f-4cad-a8f7-c886fde0d3d9\",\r\n            \"type\": \"Microsoft.RecoveryServices/vaults/privateEndpointConnections\",\r\n            \"location\": null,\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"privateEndpoint\": {\r\n                \"id\": \"/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/Arpita-air/providers/Microsoft.Network/privateEndpoints/pe-rohitvault\"\r\n              },\r\n              \"groupIds\": [\r\n                \"AzureSiteRecovery\"\r\n              ],\r\n              \"privateLinkServiceConnectionState\": {\r\n                \"status\": \"Approved\",\r\n                \"description\": \"Auto Approved Request.\",\r\n                \"actionsRequired\": null\r\n              }\r\n            }\r\n          }\r\n        ],\r\n        \"privateEndpointStateForBackup\": \"None\",\r\n        \"privateEndpointStateForSiteRecovery\": \"Enabled\",\r\n        \"secureScore\": \"None\",\r\n        \"bcdrSecurityLevel\": \"Poor\",\r\n        \"publicNetworkAccess\": \"Enabled\",\r\n        \"restoreSettings\": {\r\n          \"crossSubscriptionRestoreSettings\": {\r\n            \"crossSubscriptionRestoreState\": \"Enabled\"\r\n          }\r\n        }\[...]
