{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6602ac9a-5dad-41bd-a792-592c704b6a31/resourceGroups/automation/providers/Microsoft.Batch/batchAccounts/billstestba24326/applications/newApplicationPackage/versions/foo?api-version=2022-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"0x8DC49FBB6868165\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Thu, 21 Mar 2024 23:07:42 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Batch/batchAccounts/applications/versions\",\r\n  \"id\": \"/subscriptions/6602ac9a-5dad-41bd-a792-592c704b6a31/resourceGroups/automation/providers/Microsoft.Batch/batchAccounts/billstestba24326/applications/newApplicationPackage/versions/foo\",\r\n  \"name\": \"foo\",\r\n  \"etag\": \"W/\\\"0x8DC49FBB6868165\\\"\",\r\n  \"properties\": {\r\n    \"storageUrl\": \"https://billsstorage24326.blob.core.windows.net/app-newapplicationpackage-7b64ca4997c142418bea46e5fc424265/foo?sv=2018-03-28&sr=b&sig=NlE2lRbK4SCUtKwaVjxo4W6DbQdzPr5ng220dlGSY2E%3D&st=2024-03-21T23%3A02%3A42Z&se=2024-03-22T03%3A07%3A42Z&sp=rw\",\r\n    \"storageUrlExpiry\": \"2024-03-22T03:07:42.7823494Z\",\r\n    \"state\": \"Pending\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6602ac9a-5dad-41bd-a792-592c704b6a31/resourceGroups/automation/providers/Microsoft.Batch/batchAccounts/billstestba24326/applications/newApplicationPackage/versions/foo/activate?api-version=2022-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"format\": \"zip\"\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "W/\"0x8DC49FBB722393E\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Thu, 21 Mar 2024 23:07:43 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Batch/batchAccounts/applications/versions\",\r\n  \"id\": \"/subscriptions/6602ac9a-5dad-41bd-a792-592c704b6a31/resourceGroups/automation/providers/Microsoft.Batch/batchAccounts/billstestba24326/applications/newApplicationPackage/versions/foo\",\r\n  \"name\": \"foo\",\r\n  \"etag\": \"W/\\\"0x8DC49FBB722393E\\\"\",\r\n  \"properties\": {\r\n    \"storageUrl\": \"https://billsstorage24326.blob.core.windows.net/app-newapplicationpackage-7b64ca4997c142418bea46e5fc424265/foo?sv=2018-03-28&sr=b&sig=YnhhZj6P1lyhzxEFWRPSBfgGTbA3VkJlUH8gOVBHvO0%3D&st=2024-03-21T23%3A02%3A43Z&se=2024-03-22T03%3A07%3A43Z&sp=rw\",\r\n    \"storageUrlExpiry\": \"2024-03-22T03:07:43.8103238Z\",\r\n    \"state\": \"Active\",\r\n    \"format\": \"zip\",\r\n    \"lastActivationTime\": \"2024-03-21T23:07:43.7733382Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6602ac9a-5dad-41bd-a792-592c704b6a31/resourceGroups/automation/providers/Microsoft.Batch/batchAccounts/billstestba24326/applications/newApplicationPackage?api-version=2022-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "6602ac9a-5dad-41bd-a792-592c704b6a31",
    "AZURE_BATCH_ACCOUNT": "billstestba24326",
    "AZURE_BATCH_ENDPOINT": "https://billstestba24326.uksouth.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "automation"
  }
}