{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/createPoolWithApplicationPackage/versions/foo?api-version=2017-01-01",
=======
      "RequestUri": "/subscriptions/21abd678-18c5-4660-9fdd-8c5ba6b6fe1f/resourceGroups/abc/providers/Microsoft.Batch/batchAccounts/prodtest6/applications/createPoolWithApplicationPackage/versions/foo?api-version=2020-05-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "62c4a519-9c68-4d7c-8c62-0c9708c1b46d"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.3163.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.Batch.BatchManagementClient/4.2.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"createPoolWithApplicationPackage\",\r\n  \"version\": \"foo\",\r\n  \"storageUrl\": \"https://matthchr1.blob.core.windows.net/app-createpoolwithappl-3cfcd7091812a8971dd693f069532e872e2342e7/createpoolwithapplicationpackage-foo-f5b0654f-32ba-4509-ba77-3e53d7494965?sv=2015-04-05&sr=b&sig=N1S7xmRGnBUV3f4WHgdpLTTxCVWAUzZiJy9NFZM5fRk%3D&st=2018-09-24T21%3A48%3A51Z&se=2018-09-25T01%3A53%3A51Z&sp=rw\",\r\n  \"storageUrlExpiry\": \"2018-09-25T01:53:51.099059Z\",\r\n  \"state\": \"pending\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "9b773cb9-836b-400c-b5a0-e1d5cc90c865"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Batch.BatchManagementClient/11.0.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
=======
        "ETag": [
          "W/\"0x8D80CC2208DFA79\""
        ],
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "12bda47f-581f-44f2-b416-2bcb372c8a92"
=======
          "f7bd9397-a1ee-48f6-a496-a477be952af8"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "x-ms-correlation-request-id": [
          "5a7fc6db-3465-4636-ba0c-6daab1329e0c"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180924T215351Z:5a7fc6db-3465-4636-ba0c-6daab1329e0c"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Mon, 24 Sep 2018 21:53:50 GMT"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/createPoolWithApplicationPackage/versions/foo/activate?api-version=2017-01-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"format\": \"zip\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Mon, 24 Sep 2018 21:53:51 GMT"
=======
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-correlation-request-id": [
          "99e0dd45-53ca-4e57-9a9f-bb230f8c220a"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200609T221158Z:99e0dd45-53ca-4e57-9a9f-bb230f8c220a"
        ],
        "Date": [
          "Tue, 09 Jun 2020 22:11:58 GMT"
        ],
        "Content-Length": [
          "637"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Last-Modified": [
          "Tue, 09 Jun 2020 22:11:58 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Batch/batchAccounts/applications/versions\",\r\n  \"id\": \"/subscriptions/21abd678-18c5-4660-9fdd-8c5ba6b6fe1f/resourceGroups/abc/providers/Microsoft.Batch/batchAccounts/prodtest6/applications/createPoolWithApplicationPackage/versions/foo\",\r\n  \"name\": \"foo\",\r\n  \"etag\": \"W/\\\"0x8D80CC2208DFA79\\\"\",\r\n  \"properties\": {\r\n    \"storageUrl\": \"https://prodtest6.blob.core.windows.net/app-createpoolwithapplicationp-f9ae94269c934ab7a486b1089c40562c/foo?sv=2018-03-28&sr=b&sig=eaI2Oz5GjNI%2Fzh1%2FaVXiR0ZzCv48J0i2T1HE6yf5Cd8%3D&st=2020-06-09T22%3A06%3A58Z&se=2020-06-10T02%3A11%3A58Z&sp=rw\",\r\n    \"storageUrlExpiry\": \"2020-06-10T02:11:58.2568852Z\",\r\n    \"state\": \"Pending\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/21abd678-18c5-4660-9fdd-8c5ba6b6fe1f/resourceGroups/abc/providers/Microsoft.Batch/batchAccounts/prodtest6/applications/createPoolWithApplicationPackage/versions/foo/activate?api-version=2020-05-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"format\": \"zip\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b[...]
[...]
    {
      "RequestUri": "/subscriptions/21abd678-18c5-4660-9fdd-8c5ba6b6fe1f/resourceGroups/abc/providers/Microsoft.Batch/batchAccounts/prodtest6/applications/createPoolWithApplicationPackage/versions/foo?api-version=2020-05-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "9f00ea26-d301-4a63-8fcf-9b6b0556433c"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.3163.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.Batch.BatchManagementClient/4.2.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"createPoolWithApplicationPackage\",\r\n  \"version\": \"foo\",\r\n  \"storageUrl\": \"https://matthchr1.blob.core.windows.net/app-createpoolwithappl-3cfcd7091812a8971dd693f069532e872e2342e7/createpoolwithapplicationpackage-foo-f5b0654f-32ba-4509-ba77-3e53d7494965?sv=2015-04-05&sr=b&sig=PavQLxte4w3nKB9fo%2FOfKNuMjofzI3vCKqyolv5gWL4%3D&st=2018-09-24T21%3A48%3A52Z&se=2018-09-25T01%3A53%3A52Z&sp=rw\",\r\n  \"storageUrlExpiry\": \"2018-09-25T01:53:52.9286912Z\",\r\n  \"state\": \"active\",\r\n  \"format\": \"zip\",\r\n  \"lastActivationTime\": \"2018-09-24T21:53:52.142081Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Mon, 24 Sep 2018 21:53:52 GMT"
=======
          "c9274dbd-7147-4e74-8054-6f2ff1ed6ebc"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Micro[...]
    {
      "RequestUri": "/pools?api-version=2018-08-01.7.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"testCreatePoolWithAppPackages\",\r\n  \"vmSize\": \"small\",\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"targetOSVersion\": \"*\"\r\n  },\r\n  \"targetDedicatedNodes\": 3,\r\n  \"enableInterNodeCommunication\": false,\r\n  \"applicationPackageReferences\": [\r\n    {\r\n      \"applicationId\": \"createPoolWithApplicationPackage\",\r\n      \"version\": \"foo\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Mon, 24 Sep 2018 21:53:53 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Mon, 24 Sep 2018 21:53:53 GMT"
        ]
=======
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-correlation-request-id": [
          "6d2687b5-6663-4c83-8cd6-1cd5bb7658c3"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200609T221200Z:6d2687b5-6663-4c83-8cd6-1cd5bb7658c3"
        ],
        "[...]
    {
      "RequestUri": "/pools?api-version=2020-03-01.11.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"testCreatePoolWithAppPackages\",\r\n  \"vmSize\": \"small\",\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"osVersion\": \"*\"\r\n  },\r\n  \"targetDedicatedNodes\": 3,\r\n  \"enableInterNodeCommunication\": false,\r\n  \"applicationPackageReferences\": [\r\n    {\r\n      \"applicationId\": \"createPoolWithApplicationPackage\",\r\n      \"version\": \"foo\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 09 Jun 2020 22:12:00 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D80CC22EE2BA00"
        ],
        "Location": [
          "https://prodtest6.francecentral.batch.azure.com/pools/testCreatePoolWithAppPackages"
        ]
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
<<<<<<< HEAD
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/testCreatePoolWithAppPackages"
        ],
        "Date": [
          "Mon, 24 Sep 2018 21:53:52 GMT"
        ],
        "ETag": [
          "0x8D6226838477020"
        ],
        "Location": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/testCreatePoolWithAppPackages"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/2915bbd6-1252-405f-8173-6c00428146d9/resourceGroups/matthchrwestcentralus/providers/Microsoft.Batch/batchAccounts/matthchrwestcentralus/applications/createPoolWithApplicationPackage?api-version=2017-01-01",
=======
          "490b4b5c-f5dd-48d0-93cd-7dc199f555dd"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200609T221222Z:490b4b5c-f5dd-48d0-93cd-7dc199f555dd"
        ],
        "Date": [
          "Tue, 09 Jun 2020 22:12:22 GMT"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/21abd678-18c5-4660-9fdd-8c5ba6b6fe1f/resourceGroups/abc/providers/Microsoft.Batch/batchAccounts/prodtest6/applications/createPoolWithApplicationPackage?api-version=2020-05-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "a8724b34-a175-4538-bc3f-b23fec9525ac"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Age[...]
    {
      "RequestUri": "/pools/testCreatePoolWithAppPackages?api-version=2018-08-01.7.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 24 Sep 2018 21:53:54 GMT"
        ]
      },
      "ResponseBody": "",
=======
          "f0aa751c-0511-43c2-b332-0b1f9efe785a"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200609T221222Z:f0aa751c-0511-43c2-b332-0b1f9efe785a"
        ],
        "Date": [
          "Tue, 09 Jun 2020 22:12:22 GMT"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/testCreatePoolWithAppPackages?api-version=2020-03-01.11.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 09 Jun 2020 22:12:22 GMT"
        ]
      },
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "ResponseHeaders": {
<<<<<<< HEAD
        "request-id": [
          "a7c8fe95-447f-4ea1-92d5-8491dfbf13b2"
=======
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "request-id": [
          "26772ec3-4443-4002-80cc-812cc35c0821"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 24 Sep 2018 21:53:54 GMT"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ]
      },
=======
          "Tue, 09 Jun 2020 22:12:23 GMT"
        ]
      },
      "ResponseBody": "",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
<<<<<<< HEAD
    "SubscriptionId": "2915bbd6-1252-405f-8173-6c00428146d9",
    "AZURE_BATCH_ACCOUNT": "matthchrwestcentralus",
    "AZURE_BATCH_ENDPOINT": "https://matthchrwestcentralus.westcentralus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "matthchrwestcentralus"
=======
    "SubscriptionId": "21abd678-18c5-4660-9fdd-8c5ba6b6fe1f",
    "AZURE_BATCH_ACCOUNT": "prodtest6",
    "AZURE_BATCH_ENDPOINT": "https://prodtest6.francecentral.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "abc"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
  }
}