{
  "Remove-AzADB2CTenant+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/test-rg-poj8m/providers/Microsoft.AzureActiveDirectory/b2cDirectories/cdx2k1ym.onmicrosoft.com?api-version=2019-01-01-preview+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/test-rg-poj8m/providers/Microsoft.AzureActiveDirectory/b2cDirectories/cdx2k1ym.onmicrosoft.com?api-version=2019-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/microsoft.azureactivedirectory/operations/9210eee2-8e36-492e-85dd-aff0e4a6bc74?api-version=2019-01-01-preview" ],
        "Retry-After": [ "60" ],
        "x-ms-version": [ "1.0.1841.0" ],
        "x-ms-gateway-requestid": [ "bad141c1-0e68-4621-acf0-09b77569aeec" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "99" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Remove-AzADB2CTenant+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/microsoft.azureactivedirectory/operations/9210eee2-8e36-492e-85dd-aff0e4a6bc74?api-version=2019-01-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/microsoft.azureactivedirectory/operations/9210eee2-8e36-492e-85dd-aff0e4a6bc74?api-version=2019-01-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-version": [ "1.0.1841.0" ],
        "x-ms-gateway-requestid": [ "8803a454-51e2-46cb-aea1-34ae30100d9c" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "299" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"subscriptionId\":\"0b1f6471-1bf0-4dda-aec3-cb9272f09590\",\"id\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/microsoft.azureactivedirectory/operations/9210eee2-8e36-492e-85dd-aff0e4a6bc74\",\"name\":\"9210eee2-8e36-492e-85dd-aff0e4a6bc74\",\"status\":\"Succeeded\",\"startTime\":\"01/11/2021 10:07:02\",\"endTime\":\"01/11/2021 10:07:22\",\"error\":null,\"properties\":{\"billingConfig\":null,\"tenantId\":\"dcb065cf-12c0-480b-b51d-d35b85dd2907\"}}"
    }
  },
  "Remove-AzADB2CTenant+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/microsoft.azureactivedirectory/operations/9210eee2-8e36-492e-85dd-aff0e4a6bc74?api-version=2019-01-01-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/microsoft.azureactivedirectory/operation[...]
