{
  "Entries": [
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourcegroups/ps8288?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West Central US\",\r\n  \"tags\": {\r\n    \"testtag\": \"testval\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288\",\r\n  \"name\": \"ps8288\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {\r\n    \"testtag\": \"testval\",\r\n    \"Created\": \"2023-04-18T20:32:24.6366886Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/virtualNetworks/ps624?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps624' under resource group 'ps8288' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/virtualNetworks/ps624?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"655594c1-a792-4efc-8fa8-2a8d479edf9a\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps624\",\r\n  \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/virtualNetworks/ps624\",\r\n  \"etag\": \"W/\\\"655594c1-a792-4efc-8fa8-2a8d479edf9a\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"7c465b34-d56e-464c-8be9-b82c11f79892\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps5566\",\r\n        \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/virtualNetworks/ps624/subnets/ps5566\",\r\n        \"etag\": \"W/\\\"655594c1-a792-4efc-8fa8-2a8d479edf9a\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/virtualNetworks/ps624?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n          \"applicationGatewayIpConfigurations\": []\r\n        },\r\n        \"name\": \"ps5566\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"eastus2euap\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "azure-asyncoperation": [
          "https://management.azure.com/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/providers/Microsoft.Network/locations/eastus2euap/operations/4aac1553-adc5-4510-8836-0be980df4528?api-version=2022-05-01"
        ],
        "azure-asyncnotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps624\",\r\n  \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/virtualNetworks/ps624\",\r\n  \"etag\": \"W/\\\"31d8ff52-cd2e-4d99-a538-bcf0d5684e2a\\\"\",\r\n  \"type\": \"Microsoft.Netw[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/providers/Microsoft.Network/locations/eastus2euap/operations/4aac1553-adc5-4510-8836-0be980df4528?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/publicIPAddresses/ps6270?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps6270' under resource group 'ps8288' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/publicIPAddresses/ps6270?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"0369c93f-0022-4eaa-a767-19c48a06563b\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps6270\",\r\n  \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/publicIPAddresses/ps6270\",\r\n  \"etag\": \"W/\\\"0369c93f-0022-4eaa-a767-19c48a06563b\\\"\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"f27fe3ef-8417-4357-8a02-f528c2fe7753\",\r\n    \"ipAddress\": \"40.89.112.5\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"ps1263\",\r\n      \"fqdn\": \"ps1263.eastus2euap.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": [],\r\n    \"ddosSettings\": {\r\n      \"protectionMode\": \"VirtualNetworkInherited\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Global\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/publicIPAddresses/ps6270?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Global\"\r\n  },\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"ps1263\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"eastus2euap\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "azure-asyncoperation": [
          "https://management.azure.com/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/providers/Microsoft.Network/locations/eastus2euap/operations/9f9a2eda-cfbb-4310-a61e-ff8ebd16b2c9?api-version=2022-05-01"
        ],
        "azure-asyncnotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-wri[...]
[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/loadBalancers/ps9017?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/loadBalancers/ps9017' under resource group 'ps8288' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/loadBalancers/ps9017?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"999f4d68-042e-4243-8a42-bc77de46720d\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps9017\",\r\n  \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/loadBalancers/ps9017\",\r\n  \"etag\": \"W/\\\"999f4d68-042e-4243-8a42-bc77de46720d\\\"\",\r\n  \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"3b5a9967-fd1c-4b34-9c12-e21e32de6986\",\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps3896\",\r\n        \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/loadBalancers/ps9017/frontendIPConfigurations/ps3896\",\r\n        \"etag\": \"W/\\\"999f4d68-042e-4243-8a42-bc77de46720d\\\"\",\r\n        \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/publicIPAddresses/ps6270\"\r\n          },\r\n          \"loadBalancingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/loadBalancers/ps9017/loadBalancingRules/ps3800\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps9855\",\r\n        \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/loadBalancers/ps9017/backendAddressPools/ps9855\",\r\n        \"etag\": \"W/\\\"999f4d68-042e-4243-8a42-bc77de46720d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"loadBalancerBackendAddresses\": [],\r\n          \"loadBalancingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/loadBalancers/ps9017/loadBalancingRules/ps3800\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/loadBalancers/backendAddressPools\"\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [\r\n      {\r\n        \"name\": \"ps3800\",\r\n        \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/loadBalancers/ps9017/loadBalancingRules/ps3800\",\r\n        \"etag\": \"W/\\\"999f4d68-042e-4243-8a42-bc77de46720d\\\"\",\r\n        \"type\": \"Microsoft.Network/loadBalancers/loadBalancingRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/loadBalancers/ps9017/frontendIPConfigurations/ps3896\"\r\n          },\r\n          \"frontendPort\": 80,\r\n          \"backendPort\": 80,\r\n          \"enableFloatingIP\": true,\r\n          \"idleTimeoutInMinutes\": 4,\r\n          \"protocol\": \"Tcp\",\r\n          \"enableDestinationServiceEndpoint\": false,\r\n          \"enableTcpReset\": false,\r\n          \"allowBackendPortConflict\": false,\r\n          \"loadDistribution\": \"SourceIP\",\r\n          \"disableOutboundSnat\": true,\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/loadBalancers/ps9017/backendAddressPools/ps9855\"\r\n          },\r\n          \"backendAddressPools\": [\r\n            {\r\n              \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/loadBalancers/ps9017/backendAddressPools/ps9855\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"outboundRules\": [],\r\n    \"inboundNatPools\": []\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Global\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/loadBalancers/ps9017?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Global\"\r\n  },\r\n  \"properties\": {\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"properties\": {\r\n              \"ipTags\": []\r\n            },\r\n            \"zones\": [],\r\n            \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/publicIPAddresses/ps6270\",\r\n            \"tags\": {}\r\n          }\r\n        },\r\n        \"name\": \"ps3896\",\r\n        \"zones\": [],\r\n        \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/loadBalancers/ps9017/FrontendIpConfigurations/ps3896\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"properties\": {\r\n          \"tunnelInterfaces\": [],\r\n          \"loadBalancerBackendAddresses\": []\r\n        },\r\n        \"name\": \"ps9855\",\r\n        \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/loadBalancers/ps9017/BackendAddressPools/ps9855\"\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [\r\n      {\r\n        \"properties\": {\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGr[...]
[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/loadBalancers?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ps9017\",\r\n      \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/loadBalancers/ps9017\",\r\n      \"etag\": \"W/\\\"999f4d68-042e-4243-8a42-bc77de46720d\\\"\",\r\n      \"type\": \"Microsoft.Network/loadBalancers\",\r\n      \"location\": \"eastus2euap\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"3b5a9967-fd1c-4b34-9c12-e21e32de6986\"[...]
[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8288/providers/Microsoft.Network/loadBalancers/ps9017?api-version=2022-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/providers/Microsoft.Network/locations/eastus2euap/operationResults/f3e7ff28-1a8b-4e13-90df-5cc4573ef99d?api-version=2022-05-01"
        ],
        "Retry-After": [
          "10"
        ],
        "azure-asyncoperation": [
          "https://management.azure.com/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/providers/Microsoft.Network/locations/eastus2euap/operations/f3e7ff28-1a8b-4e13-90df-5cc4573ef99d?api-version=2022-05-01"
        ],
        "azure-asyncnotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/providers/Microsoft.Network/locations/eastus2euap/operationResults/f3e7ff28-1a8b-4e13-90df-5cc4573ef99d?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/providers/Microsoft.Network/locations/eastus2euap/operationResults/f3e7ff28-1a8b-4e13-90df-5cc4573ef99d?api-version=2022-05-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/providers/Microsoft.Network/locations/eastus2euap/operations/f3e7ff28-1a8b-4e13-90df-5cc4573ef99d?api-version=2022-05-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzgyODgtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzgyODgtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzgyODgtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-LoadBalancerCRUD-PublicStandardSkuGlobalTier": [
      "ps8288",
      "ps624",
      "ps5566",
      "ps6270",
      "ps1263",
      "ps9017",
      "ps3896",
      "ps9855",
      "ps602",
      "ps3800"
    ]
  },
  "Variables": {
    "SubscriptionId": "38acb747-b5d3-4338-a7fc-31f49e38850b"
  }
}