# Compute Reviewers
/src/Compute/    @ookoka @haagha @audreyttt @NoriZC @yanzhudd @teresaritorto @thomas-temby @isra-fel @VeryEarly @Pan-Qi

# Make sure changes to .github folder go through our team's double check
/.github/        @isra-fel @VeryEarly @NoriZC @necusjz @naga-nandyala @wangzelin007 @act-platform-engineering-squad
