{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourcegroups/ps6874?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874\",\r\n  \"name\": \"ps6874\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-STDNamespace-5501?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"location\": \"South Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-STDNamespace-5501\",\r\n  \"name\": \"ServiceBus-STDNamespace-5501\",\r\n  \"type\": \"Microsoft.ServiceBus/Namespaces\",\r\n  \"location\": \"South Central US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Created\",\r\n    \"metricId\": \"e2f361f0-3b27-4503-a9cc-21cfba380093:servicebus-stdnamespace-5501\",\r\n    \"createdAt\": \"2018-07-20T01:45:08.567Z\",\r\n    \"updatedAt\": \"2018-07-20T01:45:08.567Z\",\r\n    \"serviceBusEndpoint\": \"https://ServiceBus-STDNamespace-5501.servicebus.windows.net:443/\",\r\n    \"status\": \"Activating\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-PRENamespace-1496?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Premium\"\r\n  },\r\n  \"location\": \"North Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Premium\",\r\n    \"tier\": \"Premium\",\r\n    \"capacity\": 1\r\n  },\r\n  \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-PRENamespace-1496\",\r\n  \"name\": \"ServiceBus-PRENamespace-1496\",\r\n  \"type\": \"Microsoft.ServiceBus/Namespaces\",\r\n  \"location\": \"North Central US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Created\",\r\n    \"metricId\": \"e2f361f0-3b27-4503-a9cc-21cfba380093:servicebus-prenamespace-1496\",\r\n    \"createdAt\": \"2018-07-20T01:45:40.01Z\",\r\n    \"updatedAt\": \"2018-07-20T01:45:40.01Z\",\r\n    \"serviceBusEndpoint\": \"https://ServiceBus-PRENamespace-1496.servicebus.windows.net:443/\",\r\n    \"status\": \"Activating\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-STDNamespace-5501/AuthorizationRules/ServiceBus-Namespace-AuthorizationRule3709?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-STDNamespace-5501/AuthorizationRules/ServiceBus-Namespace-AuthorizationRule3709\",\r\n  \"name\": \"ServiceBus-Namespace-AuthorizationRule3709\",\r\n  \"type\": \"\",\r\n  \"location\": \"South Central US\",\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-STDNamespace-5501/queues/Queue-5796?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"enableBatchedOperations\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-STDNamespace-5501/queues/Queue-5796\",\r\n  \"name\": \"Queue-5796\",\r\n  \"type\": \"Microsoft.ServiceBus/Namespaces/Queues\",\r\n  \"location\": \"South Central US\",\r\n  \"properties\": {\r\n    \"lockDuration\": \"PT1M\",\r\n    \"maxSizeInMegabytes\": 5120,\r\n    \"requiresDuplicateDetection\": false,\r\n    \"requiresSession\": false,\r\n    \"defaultMessageTimeToLive\": \"P10675199DT2H48M5.4775807S\",\r\n    \"deadLetteringOnMessageExpiration\": false,\r\n    \"enableBatchedOperations\": false,\r\n    \"duplicateDetectionHistoryTimeWindow\": \"PT10M\",\r\n    \"maxDeliveryCount\": 10,\r\n    \"sizeInBytes\": 0,\r\n    \"messageCount\": 0,\r\n    \"status\": \"Active\",\r\n    \"autoDeleteOnIdle\": \"P10675199DT2H48M5.4775807S\",\r\n    \"enablePartitioning\": false,\r\n    \"enableExpress\": false,\r\n    \"countDetails\": {\r\n      \"activeMessageCount\": 0,\r\n      \"deadLetterMessageCount\": 0,\r\n      \"scheduledMessageCount\": 0,\r\n      \"transferMessageCount\": 0,\r\n      \"transferDeadLetterMessageCount\": 0\r\n    },\r\n    \"createdAt\": \"2018-07-20T01:47:30.303Z\",\r\n    \"updatedAt\": \"2018-07-20T01:47:30.35Z\",\r\n    \"accessedAt\": \"0001-01-01T00:00:00\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-STDNamespace-5501/queues/Queue-90?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"enableBatchedOperations\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \[...]
[...]
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-STDNamespace-5501/topics/Topic-9666?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"enablePartitioning\": true\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-STDNamespace-5501/topics/Topic-9666\",\r\n  \"name\": \"Topic-9666\",\r\n  \"type\": \"Microsoft.ServiceBus/Namespaces/Topics\",\r\n  \"location\": \"South Central US\",\r\n  \"properties\": {\r\n    \"defaultMessageTimeToLive\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxSizeInMegabytes\": 81920,\r\n    \"requiresDuplicateDetection\": false,\r\n    \"duplicateDetectionHistoryTimeWindow\": \"PT10M\",\r\n    \"enableBatchedOperations\": true,\r\n    \"sizeInBytes\": 0,\r\n    \"status\": \"Active\",\r\n    \"supportOrdering\": false,\r\n    \"autoDeleteOnIdle\": \"P10675199DT2H48M5.4775807S\",\r\n    \"enablePartitioning\": true,\r\n    \"enableExpress\": false,\r\n    \"createdAt\": \"2018-07-20T01:48:24.983Z\",\r\n    \"updatedAt\": \"2018-07-20T01:48:25.797Z\",\r\n    \"accessedAt\": \"0001-01-01T00:00:00\",\r\n    \"subscriptionCount\": 0,\r\n    \"countDetails\": {\r\n      \"activeMessageCount\": 0,\r\n      \"deadLetterMessageCount\": 0,\r\n      \"scheduledMessageCount\": 0,\r\n      \"transferMessageCount\": 0,\r\n      \"transferDeadLetterMessageCount\": 0\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1176"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-STDNamespace-5501/topics/Topic-888?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"enablePartitioning\": true\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/sub[...]
[...]
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-STDNamespace-5501/migrationConfigurations/%24default?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"targetNamespace\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-PRENamespace-1496\",\r\n    \"postMigrationName\": \"PostMigration-Name-7373\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-STDNamespace-5501/migrationConfigurations/$default\",\r\n  \"name\": \"ServiceBus-STDNamespace-5501\",\r\n  \"type\": \"Microsoft.ServiceBus/Namespaces/migrationconfigurations\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Accepted\",\r\n    \"targetNamespace\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-PRENamespace-1496\",\r\n    \"postMigrationName\": \"PostMigration-Name-7373\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1156"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-STDNamespace-5501/migrationConfigurations/%24default?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-STDNamespace-5501/migrationConfigurations/$default\",\r\n  \"name\": \"ServiceBus-STDNamespace-5501\",\r\n  \"type\": \"Microsoft.ServiceBus/Namespaces/migrationconfigurations\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"targetNamespace\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-PRENamespace-1496\",\r\n    \"postMigrationName\": \"PostMigration-Name-7373\",\r\n    \"pendingReplicationOperationsCount\": 34\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14941"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-STDNamespace-5501/migrationConfigurations/%24default/upgrade?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1155"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-PRENamespace-1496/queues?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-PRENamespace-1496/queues/queue-1386\",\r\n      \"name\": \"queue-1386\",\r\n      \"type\": \"Microsoft.ServiceBus/Namespaces/Queues\",\r\n      \"location\": \"North Central US\",\r\n      \"properties\": {\r\n        \"lockDuration\": \"PT1M\",\r\n        \"maxSizeInMegabytes\": 5120,\r\n        \"requiresDuplicateDetection\": false,\r\n[...]
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-PRENamespace-1496/topics?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-PRENames[...]
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-PRENamespace-1496/disasterRecoveryConfigs/ServiceBus-STDNamespace-5501?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-PRENamespace-1496/disasterRecoveryConfigs/ServiceBus-STDNamespace-5501\",\r\n  \"name\": \"ServiceBus-STDNamespace-5501\",\r\n  \"type\": \"Microsoft.ServiceBus/Namespaces/disasterrecoveryconfigs\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"partnerNamespace\": \"\",\r\n    \"role\": \"PrimaryNotReplicating\",\r\n    \"type\": \"MetadataReplication\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14927"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-STDNamespace-5501?api-version=2017-04-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-STDNamespace-5501/operationresults/ServiceBus-STDNamespace-5501?api-version=2017-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-STDNamespace-5501/operationresults/ServiceBus-STDNamespace-5501?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14926"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/ps6874/providers/Microsoft.ServiceBus/namespaces/ServiceBus-PRENamespace-1496/operationresults/ServiceBus-PRENamespace-1496?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14924"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourcegroups/ps6874?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzY4NzQtU09VVEhDRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6InNvdXRoY2VudHJhbHVzIn0?api-version=2016-09-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzY4NzQtU09VVEhDRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6InNvdXRoY2VudHJhbHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzY4NzQtU09VVEhDRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6InNvdXRoY2VudHJhbHVzIn0?api-version=2016-09-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzY4NzQtU09VVEhDRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6InNvdXRoY2VudHJhbHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "": [
      "ps6874",
      "ServiceBus-STDNamespace-5501",
      "ServiceBus-PRENamespace-1496",
      "ServiceBus-Namespace-AuthorizationRule3709",
      "PostMigration-Name-7373",
      "Queue-7466",
      "Topic-2073",
      "Queue-5796",
      "Queue-6440",
      "Queue-3456",
      "Queue-4456",
      "Queue-3964",
      "Queue-4873",
      "Queue-8404",
      "Queue-1386",
      "Queue-8361",
      "Queue-8277",
      "Queue-3633",
      "Queue-90",
      "Queue-7468",
      "Queue-4506",
      "Queue-7431",
      "Queue-2547",
      "Queue-818",
      "Queue-8576",
      "Queue-2688",
      "Queue-7363",
      "Topic-9666",
      "Topic-7456",
      "Topic-7688",
      "Topic-3602",
      "Topic-2140",
      "Topic-7886",
      "Topic-3724",
      "Topic-1784",
      "Topic-6537",
      "Topic-9215",
      "Topic-9369",
      "Topic-888",
      "Topic-9972",
      "Topic-2305",
      "Topic-8521",
      "Topic-4658",
      "Topic-9850",
      "Topic-9218",
      "Topic-6533",
      "Topic-5771"
    ]
  },
  "Variables": {
    "SubscriptionId": "e2f361f0-3b27-4503-a9cc-21cfba380093"
  }
}