{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourcegroups/ps4078?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourcegroups/ps8117?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "35"
<<<<<<< HEAD
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps4078\",\r\n  \"name\": \"ps4078\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1198"
        ],
        "x-ms-request-id": [
          "984e24d8-0eeb-4c48-88aa-9319599be153"
        ],
        "x-ms-correlation-request-id": [
          "984e24d8-0eeb-4c48-88aa-9319599be153"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180506T035959Z:984e24d8-0eeb-4c48-88aa-9319599be153"
=======
          "1189"
        ],
        "x-ms-request-id": [
          "ddbaaae5-f923-455c-8624-f53f58381b93"
        ],
        "x-ms-correlation-request-id": [
          "ddbaaae5-f923-455c-8624-f53f58381b93"
        ],
        "x-ms-routing-request-id": [
          "BRAZILUS:20200908T010127Z:ddbaaae5-f923-455c-8624-f53f58381b93"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Sun, 06 May 2018 03:59:58 GMT"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps4078/providers/Microsoft.Sql/servers/ps3006?api-version=2015-05-01-preview",
=======
        "Date": [
          "Tue, 08 Sep 2020 01:01:26 GMT"
        ],
        "Content-Length": [
          "172"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/ps8117\",\r\n  \"name\": \"ps8117\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/ps8117/providers/Microsoft.Sql/servers/ps904?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "d36402a5-2988-4da6-a79d-e33892f1e06f"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.15.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/ps3006' under resource group 'ps4078' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "451da91d-8e4c-4fda-b57f-2397ef9b75dc"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.29130.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.44.2.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "d87e4075-e3ca-4c42-b79b-4b8852b82ab9"
        ],
        "x-ms-correlation-request-id": [
          "d87e4075-e3ca-4c42-b79b-4b8852b82ab9"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180506T040000Z:d87e4075-e3ca-4c42-b79b-4b8852b82ab9"
=======
          "07edc58e-dd75-47be-83f0-0a0d6234e8f4"
        ],
        "x-ms-correlation-request-id": [
          "07edc58e-dd75-47be-83f0-0a0d6234e8f4"
        ],
        "x-ms-routing-request-id": [
          "BRAZILUS:20200908T010129Z:07edc58e-dd75-47be-83f0-0a0d6234e8f4"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Sun, 06 May 2018 03:59:59 GMT"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/ps8117/providers/Microsoft.Sql/servers/ps904?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.15.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"ps3006.database.windows.net\"\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps4078/providers/Microsoft.Sql/servers/ps3006\",\r\n  \"name\": \"ps3006\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "FxVersion/4.6.29130.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.44.2.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "47d82ef5-5c68-4f45-a14b-3045190174bc"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14983"
        ],
        "x-ms-correlation-request-id": [
          "23df0651-1f96-44d6-b71d-fceeaaec1258"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180506T040054Z:23df0651-1f96-44d6-b71d-fceeaaec1258"
=======
          "163c2bed-d09b-447b-aa57-dbb3ecdc229e"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11947"
        ],
        "x-ms-correlation-request-id": [
          "b8c6675a-1f4b-43a3-9002-507c05ec2231"
        ],
        "x-ms-routing-request-id": [
          "BRAZILUS:20200908T010223Z:b8c6675a-1f4b-43a3-9002-507c05ec2231"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Sun, 06 May 2018 04:00:53 GMT"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps4078/providers/Microsoft.Sql/servers/ps3006?api-version=2015-05-01-preview",
=======
        "Date": [
          "Tue, 08 Sep 2020 01:02:22 GMT"
        ],
        "Content-Length": [
          "412"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"ps904.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"id\": \"/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/ps8117/providers/Microsoft.Sql/servers/ps904\",\r\n  \"name\": \"ps904\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps4078/providers/Microsoft.Sql/servers/ps3006?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!\"\r\n  },\r\n  \"location\": \"southeastasia\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2018-05-06T04:00:01.833Z\"\r\n}",
      "ResponseHeaders": {
=======
        "Date": [
          "Tue, 08 Sep 2020 01:02:23 GMT"
        ],
        "Content-Length": [
          "412"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"ps904.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"id\": \"/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/ps8117/providers/Microsoft.Sql/servers/ps904\",\r\n  \"name\": \"ps904\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/ps8117/providers/Microsoft.Sql/servers/ps904?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!\"\r\n  },\r\n  \"location\": \"southeastasia\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
<<<<<<< HEAD
        "Expires": [
          "-1"
=======
        "Content-Length": [
          "157"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
=======
        "Location": [
          "https://brazilus.management.azure.com/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/ps8117/providers/Microsoft.Sql/locations/southeastasia/serverOperationResults/e1cc72f8-db42-4878-878e-499fe5792960?api-version=2019-06-01-preview"
        ],
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps4078/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/775969b8-f6e1-4235-9728-e4295aab5ad3?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "775969b8-f6e1-4235-9728-e4295aab5ad3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "x-ms-correlation-request-id": [
 [...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps4078/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/775969b8-f6e1-4235-9728-e4295aab5ad3?api-version=2015-05-01-preview",
=======
        "Date": [
          "Tue, 08 Sep 2020 01:01:35 GMT"
        ],
        "Content-Length": [
          "73"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-09-08T01:01:35.76Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/ps8117/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/e1cc72f8-db42-4878-878e-499fe5792960?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.15.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"775969b8-f6e1-4235-9728-e4295aab5ad3\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-05-06T04:00:01.833Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "FxVersion/4.6.29130.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.44.2.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma":[...]
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps4078/providers/Microsoft.Sql/servers/ps3006/databases/ps6496?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/ps3006/databases/ps6496' under resource group 'ps4078' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        "Date": [
          "Tue, 08 Sep 2020 01:01:39 GMT"
        ],
        "Content-Length": [
          "107"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"e1cc72f8-db42-4878-878e-499fe5792960\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-09-08T01:01:35.76Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/ps8117/providers/Microsoft.Sql/locations/southeastasia/serverAzureAsyncOperation/e1cc72f8-db42-4878-878e-499fe5792960?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.15.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 10\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 268435456000,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"f0e1705f-5ded-4d41-b854-713ee7c814e1\",\r\n    \"creationDate\": \"2018-05-06T04:00:55.7Z\",\r\n    \"currentServiceObjectiveName\": \"S0\",\r\n    \"requestedServiceObjectiveName\": \"S0\",\r\n    \"defaultSecondaryLocation\": \"East Asia\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"earliestRestoreDate\": \"2018-05-06T04:31:44.403Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"currentSku\": {\r\n      \"name\": \"Standard\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 10\r\n    }\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps4078/providers/Microsoft.Sql/servers/ps3006/databases/ps6496\",\r\n  \"name\": \"ps6496\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
  [...]
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps4078/providers/Microsoft.Sql/locations/southeastasia/databaseAzureAsyncOperation/ee82a598-da68-439a-938c-37bc2c4c5bc5?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"ee82a598-da68-439a-938c-37bc2c4c5bc5\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-05-06T04:00:55.43Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        "Date": [
          "Tue, 08 Sep 2020 01:02:22 GMT"
        ],
        "Content-Length": [
          "106"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"e1cc72f8-db42-4878-878e-499fe5792960\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-09-08T01:01:35.76Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps4078/providers/Microsoft.Sql/locations/southeastasia/databaseAzureAsyncOperation/ee82a598-da68-439a-938c-37bc2c4c5bc5?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"ee82a598-da68-439a-938c-37bc2c4c5bc5\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-05-06T04:00:55.43Z\"\r\n}",
      "ResponseHeaders": {
=======
        "Date": [
          "Tue, 08 Sep 2020 01:02:56 GMT"
        ],
        "Content-Length": [
          "983"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 2\r\n  },\r\n  \"kind\": \"v12.0,user,vcore\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 34359738368,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"81342ff9-a466-4dc0-904e-4c3587004d3e\",\r\n    \"creationDate\": \"2020-09-08T01:02:55.51Z\",\r\n    \"currentServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"requestedServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"defaultSecondaryLocation\": \"eastasia\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"maxLogSizeBytes\": 10307502080,\r\n    \"earliestRestoreDate\": \"2020-09-08T01:32:55.51Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"readReplicaCount\": 0,\r\n    \"currentSku\": {\r\n      \"name\": \"GP_Gen5\",\r\n      \"tier\": \"GeneralPurpose\",\r\n      \"family\": \"Gen5\",\r\n      \"capacity\": 2\r\n    },\r\n    \"storageAccountType\": \"GRS\"\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"id\": \"/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/ps8117/providers/Microsoft.Sql/servers/ps904/databases/ps8719\",\r\n  \"name\": \"ps8719\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps4078/providers/Microsoft.Sql/servers/ps3006/databases/ps6496/transparentDataEncryption/current?api-version=2014-04-01",
=======
        "Date": [
          "Tue, 08 Sep 2020 01:02:40 GMT"
        ],
        "Content-Length": [
          "108"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"77946cac-35a5-4569-8646-7bececf2dba8\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-09-08T01:02:25.587Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/ps8117/providers/Microsoft.Sql/locations/southeastasia/databaseAzureAsyncOperation/77946cac-35a5-4569-8646-7bececf2dba8?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "Microsoft.Azure.Management.Sql.LegacySdk.SqlManagementClient/4.4.1.0"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"current\",\r\n  \"location\": \"Southeast Asia\",\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps4078/providers/Microsoft.Sql/servers/ps3006/databases/ps6496/transparentDataEncryption/current\",\r\n  \"type\": \"Microsoft.Sql/servers/databases/transparentDataEncryption\",\r\n  \"properties\": {\r\n    \"status\": \"Enabled\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14981"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/ps8117/providers/Microsoft.Sql/servers/ps904/databases/ps8719/transparentDataEncryption/current?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"status\": \"Disabled\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "54"
<<<<<<< HEAD
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Sql.LegacySdk.SqlManagementClient/4.4.1.0"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"current\",\r\n  \"location\": null,\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps4078/providers/Microsoft.Sql/servers/ps3006/databases/ps6496/transparentDataEncryption/current\",\r\n  \"type\": \"Microsoft.Sql/servers/databases/transparentDataEncryption\",\r\n  \"properties\": {\r\n    \"status\": \"Disabled\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
=======
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-ms-correlation-request-id": [
          "db693abd-0f31-4055-b0f8-72b680f5e4fb"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180506T040200Z:db693abd-0f31-4055-b0f8-72b680f5e4fb"
        ],
        "Cache-Control": [
          "no-store, no-cache"
        ],
        "Date": [
          "Sun, 06 May 2018 04:02:00 GMT"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps4078/providers/Microsoft.Sql/servers/ps3006/databases/ps6496/transparentDataEncryption/current/operationResults?api-version=2014-04-01",
=======
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1188"
        ],
        "x-ms-correlation-request-id": [
          "7f23fef9-3371-4e04-b9aa-4a6b1caba202"
        ],
        "x-ms-routing-request-id": [
          "BRAZILUS:20200908T010259Z:7f23fef9-3371-4e04-b9aa-4a6b1caba202"
        ],
        "Date": [
          "Tue, 08 Sep 2020 01:02:58 GMT"
        ],
        "Content-Length": [
          "306"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"current\",\r\n  \"location\": null,\r\n  \"id\": \"/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/ps8117/providers/Microsoft.Sql/servers/ps904/databases/ps8719/transparentDataEncryption/current\",\r\n  \"type\": \"Microsoft.Sql/servers/databases/transparentDataEncryption\",\r\n  \"properties\": {\r\n    \"status\": \"Disabled\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/ps8117/providers/Microsoft.Sql/servers/ps904/databases/ps8719/transparentDataEncryption/current/operationResults?api-version=2014-04-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "Microsoft.Azure.Management.Sql.LegacySdk.SqlManagementClient/4.4.1.0"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"status\": \"Decrypting\",\r\n        \"percentComplete\": 100\r\n      },\r\n      \"name\": \"current\",\r\n      \"location\": \"Southeast Asia\",\r\n      \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps4078/providers/Microsoft.Sql/servers/ps3006/databases/ps6496/transparentDataEncryption/current/operationResults/current\",\r\n      \"type\": \"Microsoft.Sql/servers/databases/transparentDataEncryption/operationResults\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/[...]
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzQwNzgtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
=======
        "Date": [
          "Tue, 08 Sep 2020 01:03:02 GMT"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzgxMTctV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
=======
        "Loc[...]
[...]
