{
  "New-AzLoad+[NoContext]+Create with MI+$PUT+https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/pwsh-test-rgtkuv/providers/Microsoft.LoadTestService/loadTests/pwsh-loadtestingtkuv?api-version=2022-12-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/pwsh-test-rgtkuv/providers/Microsoft.LoadTestService/loadTests/pwsh-loadtestingtkuv?api-version=2022-12-01",
      "Content": "{\n  \"tags\": {\n    \"tag1\": \"value1\"\n  },\n  \"location\": \"westus2\",\n  \"identity\": {\n    \"type\": \"SystemAssigned, UserAssigned\",\n    \"userAssignedIdentities\": {\n      \"/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/pwsh-test-rgtkuv/providers/Microsoft.ManagedIdentity/userAssignedIdentities/pwshtestid1\": {\n      },\n      \"/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/pwsh-test-rgtkuv/providers/Microsoft.ManagedIdentity/userAssignedIdentities/pwshtestid2\": {\n      }\n    }\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"27038bef-0000-0800-0000-638b619a0000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "70a7fbda-a837-4971-9c8b-3cb3a5a09834" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/ddaf46d0-16b0-42ec-a93b-2ba1293706a4*5B431BC84E4011F65BC21BB1DFA12A7C25918A01AFA9EF511EC9F14D818ED19C?api-version=2022-12-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/pwsh-test-rgtkuv/providers/Microsoft.LoadTestService/loadTests/pwsh-loadtestingtkuv\",\"name\":\"pwsh-loadtestingtkuv\",\"type\":\"microsoft.loadtestservice/loadtests\",\"location\":\"westus2\",\"tags\":{\"tag1\":\"value1\"},\"systemData\":{\"createdBy\":\"vens@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-12-03T14:47:51.2982291Z\",\"lastModifiedBy\":\"vens@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2022-12-03T14:47:51.2982291Z\"},\"identity\":{\"principalId\":\"b694c1f2-4633-4b65-8f21-ada1a9807812\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"type\":\"SystemAssigned, UserAssigned\",\"userAssignedIdentities\":{\"/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/pwsh-test-rgtkuv/providers/microsoft.managedidentity/userassignedidentities/pwshtestid1\":{\"principalId\":\"cd7dab82-f7e4-446a-8ed6-f8adb87d90d2\",\"clientId\":\"a431c05a-e31b-4e13-921b-c1501fb6b732\"},\"/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/pwsh-test-rgtkuv/providers/microsoft.managedidentity/userassignedidentities/pwshtestid2\":{\"principalId\":\"d56bec86-f69a-44c5-acc0-7245dcda0a71\",\"clientId\":\"6f50f7a8-b6df-4b8d-8e4c-f2a698479591\"}}},\"properties\":{\"description\":null,\"dataPlaneURI\":\"0cdbe33b-51a6-4e57-9c88-54dc1e1e309c.westus2.cnt-prod.loadtesting.azure.com\",\"encryption\":null,\"provisioningState\":\"Accepted\"}}",
    }
  },
  "New-AzLoad+[NoContext]+Create with MI+$GET+https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/ddaf46d0-16b0-42ec-a93b-2ba1293706a4*5B431BC84E4011F65BC21BB1DFA12A7C25918A01AFA9EF511EC9F14D818ED19C?api-version=2022-12-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/ddaf46d0-16b0-42ec-a93b-2ba1293706a4*5B431BC84E4011F65BC21BB1DFA12A7C25918A01AFA9EF511EC9F14D818ED19C?api-version=2022-12-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "14" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"9d0165d4-0000-0800-0000-638b619b0000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/ddaf46d0-16b0-42ec-a93b-2ba1293706a4*5B431BC84E4011F65BC21BB1DFA12A7C25918A01AFA9EF511EC9F14D818ED19C\",\"name\":\"ddaf46d0-16b0-42ec-a93b-2ba1293706a4*5B431BC84E4011F65BC21BB1DFA12A7C25918A01AFA9EF511EC9F14D818ED19C\",\"resourceId\":\"/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/pwsh-test-rgtkuv/providers/Microsoft.LoadTestService/loadTests/pwsh-loadtestingtkuv\",\"status\":\"Succeeded\",\"startTime\":\"2022-12-03T14:47:53.7816753Z\",\"endTime\":\"2022-12-03T14:47:55.2140352Z\",\"properties\":null}",
    }
  },
  "New-AzLoad+[NoContext]+Create with MI+$GET+https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/pwsh-test-rgtkuv/providers/Microsoft.LoadTestService/loadTests/pwsh-loadtestingtkuv?api-version=2022-12-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/pwsh-test-rgtkuv/provid[...]
