{
  "New-AzLoad+[NoContext]+Create with MI+$PUT+https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/pwsh-test-rg3dw8/providers/Microsoft.LoadTestService/loadTests/pwsh-loadtesting3dw8?api-version=2022-12-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/pwsh-test-rg3dw8/providers/Microsoft.LoadTestService/loadTests/pwsh-loadtesting3dw8?api-version=2022-12-01",
      "Content": "{\n  \"tags\": {\n    \"tag1\": \"value1\"\n  },\n  \"location\": \"westus2\",\n  \"identity\": {\n    \"type\": \"SystemAssigned, UserAssigned\",\n    \"userAssignedIdentities\": {\n      \"/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/pwsh-test-rg3dw8/providers/Microsoft.ManagedIdentity/userAssignedIdentities/pwshtestid1\": {\n      },\n      \"/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/pwsh-test-rg3dw8/providers/Microsoft.ManagedIdentity/userAssignedIdentities/pwshtestid2\": {\n      }\n    }\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"bb0308d3-0000-0800-0000-6390c8bd0000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "5ecb969c-a86c-46f7-bdb4-6d83073ef591" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/b1b82f50-f982-40ac-a5a1-71c80bc80dc0*69CA5861DA8D567688B0D1BFCB3DBF6B3F8BE000F1DE7D5C8F7DFFA4EF33AE03?api-version=2022-12-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/pwsh-test-rg3dw8/providers/Microsoft.LoadTestService/loadTests/pwsh-loadtesting3dw8\",\"name\":\"pwsh-loadtesting3dw8\",\"type\":\"microsoft.loadtestservice/loadtests\",\"location\":\"westus2\",\"tags\":{\"tag1\":\"value1\"},\"systemData\":{\"createdBy\":\"vens@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-12-07T17:09:14.6838282Z\",\"lastModifiedBy\":\"vens@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2022-12-07T17:09:14.6838282Z\"},\"identity\":{\"principalId\":\"a2f31809-ca5d-49cf-804a-10da1f20a20a\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"type\":\"SystemAssigned, UserAssigned\",\"userAssignedIdentities\":{\"/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/pwsh-test-rg3dw8/providers/microsoft.managedidentity/userassignedidentities/pwshtestid1\":{\"principalId\":\"b93a1428-ef76-4e61-91a3-096af66b0072\",\"clientId\":\"b6379488-54e5-4454-9e55-c7439d4ceed9\"},\"/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourcegroups/pwsh-test-rg3dw8/providers/microsoft.managedidentity/userassignedidentities/pwshtestid2\":{\"principalId\":\"716e3637-9b51-4467-a8d3-afabe25ae423\",\"clientId\":\"a168c91f-45ef-4bac-a8c3-f5da9d5843e4\"}}},\"properties\":{\"description\":null,\"dataPlaneURI\":\"d5dbabc0-326a-4d65-b925-b0783c64e513.westus2.cnt-prod.loadtesting.azure.com\",\"encryption\":null,\"provisioningState\":\"Accepted\"}}",
    }
  },
  "New-AzLoad+[NoContext]+Create with MI+$GET+https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/b1b82f50-f982-40ac-a5a1-71c80bc80dc0*69CA5861DA8D567688B0D1BFCB3DBF6B3F8BE000F1DE7D5C8F7DFFA4EF33AE03?api-version=2022-12-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/b1b82f50-f982-40ac-a5a1-71c80bc80dc0*69CA5861DA8D567688B0D1BFCB3DBF6B3F8BE000F1DE7D5C8F7DFFA4EF33AE03?api-version=2022-12-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "13" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"ea01cdf5-0000-0800-0000-6390c8be0000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/b1b82f50-f982-40ac-a5a1-71c80bc80dc0*69CA5861DA8D567688B0D1BFCB3DBF6B3F8BE000F1DE7D5C8F7DFFA4EF33AE03\",\"name\":\"b1b82f50-f982-40ac-a5a1-71c80bc80dc0*69CA5861DA8D567688B0D1BFCB3DBF6B3F8BE000F1DE7D5C8F7DFFA4EF33AE03\",\"resourceId\":\"/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/pwsh-test-rg3dw8/providers/Microsoft.LoadTestService/loadTests/pwsh-loadtesting3dw8\",\"status\":\"Succeeded\",\"startTime\":\"2022-12-07T17:09:17.2154405Z\",\"endTime\":\"2022-12-07T17:09:18.7676273Z\",\"properties\":null}",
    }
  },
  "New-AzLoad+[NoContext]+Create with MI+$GET+https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/pwsh-test-rg3dw8/providers/Microsoft.LoadTestService/loadTests/pwsh-loadtesting3dw8?api-version=2022-12-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/7c71b563-0dc0-4bc0-bcf6-06f8f0516c7a/resourceGroups/pwsh-test-rg3dw8/provid[...]
