{
  "Remove-AzNetworkSecurityPerimeterAccessRule+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/kumarkaushal-PS-RG-1/providers/Microsoft.Network/networkSecurityPerimeters/tmqcgt-nspDelB1/profiles/t-prDelB1/accessRules/tmpAccessRuleDelete1?api-version=2021-02-01-preview+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/kumarkaushal-PS-RG-1/providers/Microsoft.Network/networkSecurityPerimeters/tmqcgt-nspDelB1/profiles/t-prDelB1/accessRules/tmpAccessRuleDelete1?api-version=2021-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "25" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 204,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14997" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Remove-AzNetworkSecurityPerimeterAccessRule+[NoContext]+DeleteViaIdentity+$GET+https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/kumarkaushal-PS-RG-1/providers/Microsoft.Network/networkSecurityPerimeters/tmqcgt-nspDelB1/profiles/t-prDelB1/accessRules/t-arD2?api-version=2021-02-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/kumarkaushal-PS-RG-1/providers/Microsoft.Network/networkSecurityPerimeters/tmqcgt-nspDelB1/profiles/t-prDelB1/accessRules/t-arD2?api-version=2021-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "26" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11982" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"name\":\"t-arD2\",\"id\":\"/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/kumarkaushal-PS-RG-1/providers/Microsoft.Network/networkSecurityPerimeters/tmqcgt-nspDelB1/profiles/t-prDelB1/accessRules/t-arD2\",\"type\":\"Microsoft.Network/networkSecurityPerimeters/profiles/accessRules\",\"properties\":{\"provisioningState\":\"Succeeded\",\"direction\":\"Inbound\",\"addressPrefixes\":[\"10.10.0.0/16\"],\"fullyQualifiedDomainNames\":[],\"subscriptions\":[],\"networkSecurityPerimeters\":[]}}",
    }
  },
  "Remove-AzNetworkSecurityPerimeterAccessRule+[NoContext]+DeleteViaIdentity+$DELETE+https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/kumarkaushal-PS-RG-1/providers/Microsoft.Network/networkSecurityPerimeters/tmqcgt-nspDelB1/profiles/t-prDelB1/accessRules/t-arD2?api-version=2021-02-01-preview+2": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/resourceGroups/kumarkaushal-PS-RG-1/providers/Microsoft.Network/networkSecurityPerimeters/tmqcgt-nspDelB1/profiles/t-prDelB1/accessRules/t-arD2?api-version=2021-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "27" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14996" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  }
}