{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerings?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "59"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Basic_Direct_Free\",\r\n        \"tier\": \"Basic\",\r\n        \"family\": \"Direct\",\r\n        \"size\": \"Free\"\r\n      },\r\n      \"kind\": \"Direct\",\r\n      \"properties\": {\r\n        \"direct\": {\r\n          \"connections\": [\r\n            {\r\n              \"bandwidthInMbps\": 100000,\r\n              \"provisionedBandwidthInMbps\": 0,\r\n              \"sessionAddressProvider\": \"Peer\",\r\n              \"useForPeeringService\": false,\r\n              \"peeringDBFacilityId\": 11,\r\n              \"connectionState\": \"PendingApproval\",\r\n              \"bgpSession\": {\r\n                \"sessionPrefixV4\": \"8.8.1.0/31\",\r\n                \"microsoftSessionIPv4Address\": \"8.8.1.1\",\r\n                \"peerSessionIPv4Address\": \"8.8.1.0\",\r\n                \"sessionStateV4\": \"None\",\r\n                \"sessionStateV6\": \"None\",\r\n                \"maxPrefixesAdvertisedV4\": 2000,\r\n                \"maxPrefixesAdvertisedV6\": 0\r\n              },\r\n              \"connectionIdentifier\": \"78b0e62a-25f3-460b-8ccf-9cf4a666cfc6\"\r\n            },\r\n            {\r\n              \"bandwidthInMbps\": 100000,\r\n              \"provisionedBandwidthInMbps\": 0,\r\n              \"sessionAddressProvider\": \"Peer\",\r\n              \"useForPeeringService\": false,\r\n              \"peeringDBFacilityId\": 11,\r\n              \"connectionState\": \"PendingApproval\",\r\n              \"bgpSession\": {\r\n                \"sessionPrefixV4\": \"8.8.2.0/31\",\r\n                \"mic[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/AS15169_Atlanta_Direct/providers/Microsoft.Peering/peerings/AS15169_Atlanta_Direct/registeredPrefixes/name4959?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"prefix\": \"223.162.54.54/32\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"OperationNotSupported\",\r\n  \"message\": \"Operation is not supported for this peering type\"\r\n}",
      "StatusCode": 405
    },
[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/AS15169_Atlanta_Direct/providers/Microsoft.Peering/peerings/AS15169_Atlanta_Direct/registeredPrefixes/name4959?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"prefix\": \"223.162.54.54/32\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"OperationNotSupported\",\r\n  \"message\": \"Operation is not supported for this peering type\"\r\n}",
      "StatusCode": 405
    }
  ],
  "Names": {
    "Test-CreateRegisteredPrefix": [
      "name4959"
    ]
  },
  "Variables": {
    "SubscriptionId": "3e919f9a-4e26-4736-aa8d-d596d9a49239"
  }
}