{
  "Get-AzElasticDeploymentInfo+[NoContext]+List+$POST+https://management.azure.com/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/resourceGroups/elastic-rg-kj4sw7/providers/Microsoft.Elastic/monitors/elastic-z3qcia/listDeploymentInfo?api-version=2024-03-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/resourceGroups/elastic-rg-kj4sw7/providers/Microsoft.Elastic/monitors/elastic-z3qcia/listDeploymentInfo?api-version=2024-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "24" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "372280d4-502f-475d-a5a4-3d435eb0282f" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"status\":\"Healthy\",\"version\":\"8.15.2\",\"memoryCapacity\":\"16384\",\"diskCapacity\":\"573440\",\"elasticsearchEndPoint\":\"https://elastic-z3qcia.es.westus2.azure.elastic-cloud.com/\",\"deploymentUrl\":\"/sso/v1/go/ec:2419531357:kibana-elastic-z3qcia?acs=https://elastic-z3qcia.kb.westus2.azure.elastic-cloud.com:9243/api/security/saml/callback\u0026sp_login_url=https://elastic-z3qcia.kb.westus2.azure.elastic-cloud.com:9243\",\"marketplaceSaasInfo\":{\"marketplaceSubscription\":{\"id\":\"79ae90f2-7366-4d9a-c36f-0655b3b281a6\"},\"marketplaceName\":\"AzElastic_bedde969-f23d-4ec0-82a4-c456823c99ab_testrefresh7809\",\"marketplaceResourceId\":null,\"marketplaceStatus\":\"Subscribed\",\"billedAzureSubscriptionId\":null,\"subscribed\":false}}",
    }
  }
}