{
  "Get-AzElasticVersion+[NoContext]+List+$GET+https://management.azure.com/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/providers/Microsoft.Elastic/elasticVersions?api-version=2024-03-01\u0026region=westus2+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/providers/Microsoft.Elastic/elasticVersions?api-version=2024-03-01\u0026region=westus2",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "51" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "6728fd4f-a82b-4f4f-b834-1af3ea5efe54" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"version\":\"7.17.24\"}},{\"properties\":{\"version\":\"8.15.2\"}},{\"properties\":{\"version\":\"8.14.3\"}}]}",
    }
  }
}