{
  "Get-AzElasticVersion+[NoContext]+List+$GET+https://management.azure.com/subscriptions/e16a0478-bcb5-4c34-b8c7-7f2aa1b9995e/providers/Microsoft.Elastic/elasticVersions?api-version=2025-06-01\u0026region=westus2+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e16a0478-bcb5-4c34-b8c7-7f2aa1b9995e/providers/Microsoft.Elastic/elasticVersions?api-version=2025-06-01\u0026region=westus2",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "33" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "838d1ec1-a309-4509-871d-15a739a93316" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"version\":\"9.1.5\"}},{\"properties\":{\"version\":\"8.19.5\"}},{\"properties\":{\"version\":\"9.0.8\"}}]}",
    }
  }
}