{
  "Get-AzElasticMonitor+[NoContext]+List+$GET+https://management.azure.com/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/providers/Microsoft.Elastic/monitors?api-version=2024-03-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/providers/Microsoft.Elastic/monitors?api-version=2024-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "37" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "be04bdbb-7df1-4c13-a11b-6d798cf9663f", "2ee3d357-e414-4360-a058-686a2d7defa5", "7779e9f6-a9ab-42d8-af6d-2d42d675a687", "aa9c9eb6-88de-48a9-810e-c321e11caf29", "e0c55124-90ed-4779-bfd8-f2a3600a31cb", "f1e28263-7321-4c04-a6f4-cf84c7922ba9", "51ee5cde-e816-48ac-8c90-45ae737cf851", "36a3e5b1-e354-46d4-b704-c0623b4d4d9a", "bcc0c3be-7abb-4cd7-a375-929ff130d538", "1ba232ce-6a87-4c02-a341-fd3e76679b11", "836cb053-13f3-4952-99ba-e23efe2b3475", "5bee7a43-f5ab-4a82-ad6a-b69153a662d9", "0f4cacef-5193-4f82-a92b-69f6cf92ea30", "42015b10-491d-42de-b6ee-e911b5939493", "64d235d2-19e1-47b2-aee5-c82d5f10d0e0", "2996a44a-f28b-439c-98b3-5a5570f4e138", "32739e9b-a325-444a-b1f8-8a121f81a346", "d05a325c-ddff-4066-9829-1677f893b4b3" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/resourceGroups/piyush_rg/providers/Microsoft.Elastic/monitors/AOAIDemo\",\"name\":\"AOAIDemo\",\"type\":\"microsoft.elastic/monitors\",\"sku\":{\"name\":\"ess-consumption-2024_ThreeYearly@TIDgmz7xq9ge3py\"},\"location\":\"westus2\",\"tags\":{},\"systemData\":{\"createdBy\":\"piyushdash@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2024-05-15T13:24:28.621157Z\",\"lastModifiedBy\":\"piyushdash@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2024-05-15T13:24:28.621157Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"monitoringStatus\":\"Enabled\",\"elasticProperties\":{\"elasticCloudUser\":{\"emailAddress\":\"piyushdash@microsoft.com\",\"id\":\"3210617200\",\"elasticCloudSsoDefaultUrl\":\"https://cloud.elastic.co\"},\"elasticCloudDeployment\":{\"name\":\"AOAIDemo\",\"deploymentId\":\"436f8033baa43fb78430fb46e25b6a28\",\"azureSubscriptionId\":\"cff37b56-870a-448f-a2fb-1a89235d4d32\",\"elasticsearchRegion\":\"azure-westus2\",\"elasticsearchServiceUrl\":\"https://aoaidemo.es.westus2.azure.elastic-cloud.com\",\"kibanaServiceUrl\":\"https://937e4bf4fe7b447b81621572a84d0f43.westus2.azure.elastic-cloud.com:9243\",\"kibanaSsoUrl\":\"/sso/v1/go/ec:2389585155:kibana-aoaidemo?acs=https://aoaidemo.kb.westus2.azure.elastic-cloud.com:9243/api/security/saml/callback\u0026sp_login_url=https://aoaidemo.kb.westus2.azure.elastic-cloud.com:9243\"}},\"planDetails\":{\"offerID\":\"ec-azure-pp\",\"publisherID\":\"elastic\",\"termID\":\"gmz7xq9ge3py\",\"planID\":\"ess-consumption-2024\"},\"version\":\"8.13.4\",\"sourceCampaignName\":\"\",\"sourceCampaignId\":\"\",\"liftrResourceCategory\":\"MonitorLogs\",\"liftrResourcePreference\":0,\"generateApiKey\":false}},{\"id\":\"/subscriptions/cff37b56-870a-448f-a2fb-1a89235d4d32/resourceGroups/princy-testing/providers/Microsoft.Elastic/monitors/test5678\",\"name\":\"test5678\",\"type\":\"microsoft.elastic/monitors\",\"sku\":{\"name\":\"ess-consumption-2024_Monthly@TIDgmz7xq9ge3py\"},\"location\":\"westus2\",\"tags\":{},\"systemData\":{\"createdBy\":\"joytesting5678@mpliftrelastic20211117outlo.onmicrosoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2024-08-19T05:02:17.9336242Z\",\"lastModifiedBy\"[...]
