{
  "Entries": [
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"eastus2euap\",\r\n  \"name\": \"PSTestingVault\",\r\n  \"etag\": \"W/\\\"datetime'2025-08-14T01%3A49%3A10.3889877Z'\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"privateEndpointStateForBackup\": \"None\",\r\n    \"privateEndpointStateForSiteRecovery\": \"None\",\r\n    \"backupStorageVersion\": \"V1\",\r\n    \"securitySettings\": {\r\n      \"immutabilitySettings\": {\r\n        \"state\": \"Disabled\"\r\n      },\r\n      \"softDeleteSettings\": {\r\n        \"softDeleteRetentionPeriodInDays\": 14,\r\n        \"softDeleteState\": \"Enabled\",\r\n        \"enhancedSecurityState\": \"Enabled\"\r\n      },\r\n      \"multiUserAuthorization\": \"Disabled\",\r\n      \"sourceScanConfiguration\": {\r\n        \"state\": \"Disabled\"\r\n      }\r\n    },\r\n    \"redundancySettings\": {\r\n      \"standardTierStorageRedundancy\": \"GeoRedundant\",\r\n      \"crossRegionRestore\": \"Disabled\"\r\n    },\r\n    \"secureScore\": \"None\",\r\n    \"bcdrSecurityLevel\": \"Poor\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"restoreSettings\": {\r\n      \"crossSubscriptionRestoreSettings\": {\r\n        \"crossSubscriptionRestoreState\": \"Enabled\"\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n  \"sku\": {\r\n    \"name\": \"RS0\",\r\n    \"tier\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupProtectionContainers?$filter=friendlyName%20eq%20'PSCVMRestoreTestingVM'%20and%20backupManagementType%20eq%20'AzureIaasVM'&api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "1099"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;sgholap-rg;pscvmrestoretestingvm\",\r\n      \"name\": \"IaasVMContainer;iaasvmcontainerv2;sgholap-rg;pscvmrestoretestingvm\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers\",\r\n      \"properties\": {\r\n        \"virtualMachineId\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.Compute/virtualMachines/PSCVMRestoreTestingVM\",\r\n        \"virtualMachineVersion\": \"Compute\",\r\n        \"resourceGroup\": \"sgholap-rg\",\r\n        \"friendlyName\": \"PSCVMRestoreTestingVM\",\r\n        \"backupManagementType\": \"AzureIaasVM\",\r\n        \"registrationStatus\": \"Registered\",\r\n        \"healthStatus\": \"Healthy\",\r\n        \"containerType\": \"Microsoft.Compute/virtualMachines\",\r\n        \"protectableObjectType\": \"Microsoft.Compute/virtualMachines\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupProtectedItems?$filter=backupManagementType%20eq%20'AzureIaasVM'%20and%20itemType%20eq%20'VM'&api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "1099"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM/protectedItems/VM;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM\",\r\n      \"name\": \"VM;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"PSCVMRestoreTestingVM\",\r\n        \"virtualMachineId\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.Compute/virtualMachines/PSCVMRestoreTestingVM\",\r\n        \"protectionStatus\": \"Healthy\",\r\n        \"protectionState\": \"Protected\",\r\n        \"healthStatus\": \"Passed\",\r\n        \"healthDetails\": [\r\n          {\r\n            \"code\": 400239,\r\n            \"title\": \"IaasVmHealthGreenDefault\",\r\n            \"message\": \"Backup pre-check status of this virtual machine is OK.\",\r\n            \"recommendations\": []\r\n          }\r\n        ],\r\n        \"lastBackupStatus\": \"Completed\",\r\n        \"lastBackupTime\": \"2025-10-28T16:05:16.6015052Z\",\r\n        \"protectedItemDataId\": \"686095811647967\",\r\n        \"extendedProperties\": {},\r\n        \"policyType\": \"V2\",\r\n        \"protectedItemType\": \"Microsoft.Compute/virtualMachines\",\r\n        \"backupManagementType\": \"AzureIaasVM\",\r\n        \"workloadType\": \"VM\",\r\n        \"containerName\": \"iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM\",\r\n        \"sourceResourceId\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.Compute/virtualMachines/PSCVMRestoreTestingVM\",\r\n        \"policyId\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupPolicies/EnhancedPolicy\",\r\n        \"policyName\": \"EnhancedPolicy\",\r\n        \"lastRecoveryPoint\": \"2025-10-28T20:07:58.5953282Z\",\r\n        \"vaultId\": \"https://management.azure.com/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault\",\r\n        \"isArchiveEnabled\": false,\r\n        \"softDeleteRetentionPeriod\": 0\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bsgholap-rg%3BPSCVMRestoreTestingVM/protectedItems/VM%3Biaasvmcontainerv2%3Bsgholap-rg%3BPSCVMRestoreTestingVM/recoveryPoints/808254335380202?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "1099"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM/protectedItems/VM;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM/recoveryPoints/808254335380202\",\r\n  \"name\": \"808254335380202\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints\",\r\n  \"properties\": {\r\n    \"objectType\": \"IaasVMRecoveryPoint\",\r\n    \"recoveryPointType\": \"CrashConsistent\",\r\n    \"recoveryPointTime\": \"2025-10-28T08:11:48.0910588Z\",\r\n    \"recoveryPointAdditionalInfo\": \"\",\r\n    \"sourceVMStorageType\": \"PremiumVMOnPartialPremiumStorage\",\r\n    \"isSourceVMEncrypted\": false,\r\n    \"isInstantIlrSessionActive\": false,\r\n    \"recoveryPointTierDetails\": [\r\n      {\r\n        \"type\": \"InstantRP\",\r\n        \"status\": \"Valid\"\r\n      }\r\n    ],\r\n    \"isManagedVirtualMachine\": true,\r\n    \"virtualMachineSize\": \"Standard_DC4ads_v5\",\r\n    \"originalStorageAccountOption\": false,\r\n    \"osType\": \"Windows\",\r\n    \"recoveryPointMoveReadinessInfo\": {\r\n      \"ArchivedRP\": {\r\n        \"isReadyForMove\": false,\r\n        \"additionalInfo\": \"We're still determining if this Recovery Point can be moved.. Please check again after some time.\"\r\n      }\r\n    },\r\n    \"securityType\": \"ConfidentialVMDiskEncryptedWithCustomerKey\",\r\n    \"isPrivateAccessEnabledOnAnyDisk\": false,\r\n    \"createdWithPolicyType\": \"V2\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resources?$filter=resourceType%20eq%20'Microsoft.ClassicStorage%2FstorageAccounts'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resources?$filter=resourceType%20eq%20'Microsoft.Storage%2FstorageAccounts'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/cloud-shell-storage-centralindia/providers/Microsoft.Storage/storageAccounts/csg1003000081b20844\",\r\n      \"name\": \"csg1003000081b20844\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_LRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"kind\": \"StorageV2\",\r\n      \"location\": \"centralindia\",\r\n      \"tags\": {\r\n        \"ms-resource-usage\": \"azure-cloud-shell\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/vityagi/providers/Microsoft.Storage/storageAccounts/vityagidiag336\",\r\n      \"name\": \"vityagidiag336\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_LRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"kind\": \"Storage\",\r\n      \"location\": \"centralindia\",\r\n      \"tags\": {\r\n        \"Owner\": \"vityagi\",\r\n        \"Purpose\": \"testing\",\r\n        \"DeleteBy\": \"02-2021\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/cloud-shell-storage-centralindia/providers/Microsoft.Storage/storageAccounts/csg1003bffd801c51aa\",\r\n      \"name\": \"csg1003bffd801c51aa\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_LRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"kind\": \"StorageV2\",\r\n      \"location\": \"centr[...]
[...]
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupResourceGuardProxies?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bsgholap-rg%3BPSCVMRestoreTestingVM/protectedItems/VM%3Biaasvmcontainerv2%3Bsgholap-rg%3BPSCVMRestoreTestingVM/recoveryPoints/808254335380202/restore?api-version=2025-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"objectType\": \"IaasVMRestoreRequest\",\r\n    \"recoveryPointId\": \"808254335380202\",\r\n    \"recoveryType\": \"AlternateLocation\",\r\n    \"sourceResourceId\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.Compute/virtualMachines/PSCVMRestoreTestingVM\",\r\n    \"targetVirtualMachineId\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/asmaskarrg/providers/Microsoft.Compute/virtualMachines/PSRestoreVM\",\r\n    \"targetResourceGroupId\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/asmaskarrg\",\r\n    \"storageAccountId\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.Storage/storageAccounts/sgholapecysa3\",\r\n    \"virtualNetworkId\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/asmaskarrg/providers/Microsoft.Network/virtualNetworks/testadeecy-vnet\",\r\n    \"subnetId\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/asmaskarrg/providers/Microsoft.Network/virtualNetworks/testadeecy-vnet/subnets/default\",\r\n    \"region\": \"eastus2euap\",\r\n    \"createNewCloudService\": false,\r\n    \"originalStorageAccountOption\": false,\r\n    \"restoreWithManagedDisks\": false,\r\n    \"securedVMDetails\": {\r\n      \"securedVMOsDiskEncryptionSetId\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.Compute/diskEncryptionSets/CVMPSRestoreDES\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM/protectedItems/VM;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM/operationResults/821368fd-433d-4cd4-88c4-bb5431702c64?api-version=2025-02-01&t=638972794650367698&c=MIIHhzCCBm-gAwIBAgITfAlfz46TC-Xfowg7qwAACV_P[...]
[...]
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM/protectedItems/VM;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM/operationsStatus/821368fd-433d-4cd4-88c4-bb5431702c64?api-version=2025-02-01&t=638972794650211452&c=MIIHhzCCBm-gAwIBAgITfAlfz46TC-Xfowg7qwAACV_PjjANBgkqhkiG9w0[...]
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM/protectedItems/VM;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM/operationResults/821368fd-433d-4cd4-88c4-bb5431702c64?api-version=2025-02-01&t=638972794650367698&c=MIIHhzCCBm-gAwIBAgITfAlfz46TC-Xfowg7qwAACV_PjjANBgkqhkiG9w0[...]
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupOperations/821368fd-433d-4cd4-88c4-bb5431702c64?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "1099"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"821368fd-433d-4cd4-88c4-bb5431702c64\",\r\n  \"name\": \"821368fd-433d-4cd4-88c4-bb5431702c64\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2025-10-28T20:17:44.7974295Z\",\r\n  \"endTime\": \"2025-10-28T20:17:44.7974295Z\",\r\n  \"properties\": {\r\n    \"objectType\": \"OperationStatusJobExtendedInfo\",\r\n    \"jobId\": \"821368fd-433d-4cd4-88c4-bb5431702c64\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupJobs/821368fd-433d-4cd4-88c4-bb5431702c64?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupJobs/821368fd-433d-4cd4-88c4-bb5431702c64\",\r\n  \"name\": \"821368fd-433d-4cd4-88c4-bb5431702c64\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupJobs\",\r\n  \"properties\": {\r\n    \"jobType\": \"AzureIaaSVMJob\",\r\n    \"actionsInfo\": [\r\n      \"Cancellable\"\r\n    ],\r\n    \"containerName\": \"iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM\",\r\n    \"duration\": \"PT1M3.5228893S\",\r\n    \"virtualMachineVersion\": \"Compute\",\r\n    \"extendedInfo\": {\r\n      \"tasksList\": [\r\n        {\r\n          \"taskId\": \"Transfer data from vault\",\r\n          \"duration\": \"PT0S\",\r\n          \"status\": \"Completed\",\r\n          \"taskType\": \"Normal\"\r\n        },\r\n        {\r\n          \"taskId\": \"Create the restored virtual machine\",\r\n          \"duration\": \"PT0S\",\r\n          \"status\": \"InProgress\",\r\n          \"taskType\": \"Normal\"\r\n        }\r\n      ],\r\n      \"propertyBag\": {\r\n        \"Job Type\": \"Recover VM to an alternate location\",\r\n        \"Original VM Name\": \"PSCVMRestoreTestingVM\",\r\n        \"Target VM Name\": \"PSRestoreVM\",\r\n        \"Target VNet Name\": \"Group asmaskarrg testadeecy-vnet\",\r\n        \"Target Storage Account Name\": \"sgholapecysa3\",\r\n        \"Recovery point time \": \"10/28/2025 8:11:48 AM\",\r\n        \"Target resource group\": \"asmaskarrg\"\r\n      },\r\n      \"internalPropertyBag\": {\r\n        \"restoreLocationType\": \"AlternateLocation\"\r\n      },\r\n      \"progressPercentage\": 1.0,\r\n      \"dynamicErrorMessage\": \"\"\r\n    },\r\n    \"entityFriendlyName\": \"PSCVMRestoreTestingVM\",\r\n    \"backupManagementType\": \"AzureIaasVM\",\r\n    \"operation\": \"Restore\",\r\n    \"status\": \"InProgress\",\r\n    \"startTime\": \"2025-10-28T20:17:44.7974295Z\",\r\n    \"activityId\": \"653bb72e-87b8-4fef-bafa-de325bed3f5e\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/asmaskarrg/providers/Microsoft.Compute/virtualMachines/PSRestoreVM?api-version=2025-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/c2841d48-36d2-4a84-9[...]
[...]
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/c2841d48-36d2-4a84-9649-cef4b440528f?p=eb8f75d0-08e2-4262-87b9-729471a0fe17&api-version=2025-04-01&t=638972796259040658&c=MIIHhzCCBm-gAwIBAgITfAlfz46TC-Xfowg7qwAACV_PjjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIyMTIyMTE3WhcNMjYwNDIwMTIyMTE3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbn[...]
[...]
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/c2841d48-36d2-4a84-9649-cef4b440528f?p=eb8f75d0-08e2-4262-87b9-729471a0fe17&monitor=true&api-version=2025-04-01&t=638972796259040658&c=MIIHhzCCBm-gAwIBAgITfAlfz46TC-Xfowg7qwAACV_PjjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIyMTIyMTE3WhcNMjYwNDIwMTIyMTE3WjBAMT4wPAYDVQQDEzVhc3luY[...]
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM/protectedItems/VM;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM/operationsStatus/283b90c1-e42e-4d29-8afc-061cf68b12ec?api-version=2025-02-01&t=638972796732375403&c=MIIHhzCCBm-gAwIBAgITfAlfz46TC-Xfowg7qwAACV_PjjANBgkqhkiG9w0[...]
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM/protectedItems/VM;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM/operationResults/283b90c1-e42e-4d29-8afc-061cf68b12ec?api-version=2025-02-01&t=638972796732531683&c=MIIHhzCCBm-gAwIBAgITfAlfz46TC-Xfowg7qwAACV_PjjANBgkqhkiG9w0[...]
[...]
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/024290aa-8434-4a4b-a7cd-c8367d58aa92?p=eb8f75d0-08e2-4262-87b9-729471a0fe17&api-version=2025-04-01&t=638972798657252676&c=MIIHhzCCBm-gAwIBAgITfAlfz46TC-Xfowg7qwAACV_PjjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIyMTIyMTE3WhcNMjYwNDIwMTIyMTE3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbn[...]
[...]
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/024290aa-8434-4a4b-a7cd-c8367d58aa92?p=eb8f75d0-08e2-4262-87b9-729471a0fe17&monitor=true&api-version=2025-04-01&t=638972798657408596&c=MIIHhzCCBm-gAwIBAgITfAlfz46TC-Xfowg7qwAACV_PjjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIyMTIyMTE3WhcNMjYwNDIwMTIyMTE3WjBAMT4wPAYDVQQDEzVhc3luY[...]
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM/protectedItems/VM;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM/operationsStatus/20934852-a6a1-4d52-a194-786491ff4600?api-version=2025-02-01&t=638972799127998691&c=MIIHhzCCBm-gAwIBAgITfAlfz46TC-Xfowg7qwAACV_PjjANBgkqhkiG9w0[...]
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/sgholap-rg/providers/Microsoft.RecoveryServices/vaults/PSTestingVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM/protectedItems/VM;iaasvmcontainerv2;sgholap-rg;PSCVMRestoreTestingVM/operationResults/20934852-a6a1-4d52-a194-786491ff4600?api-version=2025-02-01&t=638972799127998691&c=MIIHhzCCBm-gAwIBAgITfAlfz46TC-Xfowg7qwAACV_PjjANBgkqhkiG9w0[...]
[...]
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/34dfb797-07df-43d0-a4a6-7f042d18b5c4?p=eb8f75d0-08e2-4262-87b9-729471a0fe17&api-version=2025-04-01&t=638972800737634761&c=MIIHhzCCBm-gAwIBAgITfAlfz46TC-Xfowg7qwAACV_PjjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIyMTIyMTE3WhcNMjYwNDIwMTIyMTE3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbn[...]
[...]
    {
      "RequestUri": "/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/34dfb797-07df-43d0-a4a6-7f042d18b5c4?p=eb8f75d0-08e2-4262-87b9-729471a0fe17&monitor=true&api-version=2025-04-01&t=638972800737634761&c=MIIHhzCCBm-gAwIBAgITfAlfz46TC-Xfowg7qwAACV_PjjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIyMTIyMTE3WhcNMjYwNDIwMTIyMTE3WjBAMT4wPAYDVQQDEzVhc3luY[...]
