{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6d875e77-e412-4d7d-9af4-8895278b4443/resourceGroups/swbela-ransom-rg/providers/Microsoft.RecoveryServices/vaults/swbela-mdc-vault-1?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"eastus2euap\",\r\n  \"name\": \"swbela-mdc-vault-1\",\r\n  \"etag\": \"W/\\\"datetime'2025-10-08T15%3A46%3A37.763222Z'\\\"\",\r\n  \"identity\": {\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"principalId\": \"ba07525e-a8dd-4684-8461-df9c793265db\",\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"privateEndpointStateForBackup\": \"None\",\r\n    \"privateEndpointStateForSiteRecovery\": \"None\",\r\n    \"backupStorageVersion\": \"V1\",\r\n    \"securitySettings\": {\r\n      \"immutabilitySettings\": {\r\n        \"state\": \"Locked\"\r\n      },\r\n      \"softDeleteSettings\": {\r\n        \"softDeleteRetentionPeriodInDays\": 14,\r\n        \"softDeleteState\": \"AlwaysON\",\r\n        \"enhancedSecurityState\": \"AlwaysON\"\r\n      },\r\n      \"multiUserAuthorization\": \"Enabled\",\r\n      \"sourceScanConfiguration\": {\r\n        \"state\": \"Enabled\"\r\n      }\r\n    },\r\n    \"redundancySettings\": {\r\n      \"standardTierStorageRedundancy\": \"GeoRedundant\",\r\n      \"crossRegionRestore\": \"Disabled\"\r\n    },\r\n    \"regionOfChoiceSettings\": {\r\n      \"status\": \"Disabled\"\r\n    },\r\n    \"secureScore\": \"Maximum\",\r\n    \"bcdrSecurityLevel\": \"Excellent\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"restoreSettings\": {\r\n      \"crossSubscriptionRestoreSettings\": {\r\n        \"crossSubscriptionRestoreState\": \"Enabled\"\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/6d875e77-e412-4d7d-9af4-8895278b4443/resourceGroups/swbela-ransom-rg/providers/Microsoft.RecoveryServices/vaults/swbela-mdc-vault-1\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n  \"sku\": {\r\n    \"name\": \"RS0\",\r\n    \"tier\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6d875e77-e412-4d7d-9af4-8895278b4443/resourceGroups/swbela-ransom-rg/providers/Microsoft.RecoveryServices/vaults/swbela-mdc-vault-1/backupProtectionContainers?api-version=2026-07-01&$filter=friendlyName%20eq%20%27Sample-VM%27%20and%20backupManagementType%20eq%20%27AzureIaasVM%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/6d875e77-e412-4d7d-9af4-8895278b4443/resourceGroups/swbela-ransom-rg/providers/Microsoft.RecoveryServices/vaults/swbela-mdc-vault-1/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;sample-rg;sample-vm\",\r\n      \"name\": \"IaasVMContainer;iaasvmcontainerv2;sample-rg;sample-vm\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers\",\r\n      \"properties\": {\r\n        \"virtualMachineId\": \"/subscriptions/6d875e77-e412-4d7d-9af4-8895278b4443/resourceGroups/Sample-RG/providers/Microsoft.Compute/virtualMachines/Sample-VM\",\r\n        \"virtualMachineVersion\": \"Compute\",\r\n        \"resourceGroup\": \"Sample-RG\",\r\n        \"friendlyName\": \"Sample-VM\",\r\n        \"backupManagementType\": \"AzureIaasVM\",\r\n        \"registrationStatus\": \"Registered\",\r\n        \"healthStatus\": \"Healthy\",\r\n        \"containerType\": \"Microsoft.Compute/virtualMachines\",\r\n        \"protectableObjectType\": \"Microsoft.Compute/virtualMachines\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6d875e77-e412-4d7d-9af4-8895278b4443/resourceGroups/swbela-ransom-rg/providers/Microsoft.RecoveryServices/vaults/swbela-mdc-vault-1/backupProtectedItems?api-version=2026-07-01&$filter=backupManagementType%20eq%20%27AzureIaasVM%27%20and%20itemType%20eq%20%27VM%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/6d875e77-e412-4d7d-9af4-8895278b4443/resourceGroups/swbela-ransom-rg/providers/Microsoft.RecoveryServices/vaults/swbela-mdc-vault-1/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;sample-rg;Sample-VM/protectedItems/VM;iaasvmcontainerv2;sample-rg;Sample-VM\",\r\n      \"name\": \"VM;iaasvmcontainerv2;sample-rg;Sample-VM\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"Sample-VM\",\r\n        \"virtualMachineId\": \"/subscriptions/6d875e77-e412-4d7d-9af4-8895278b4443/resourceGroups/Sample-RG/providers/Microsoft.Compute/virtualMachines/Sample-VM\",\r\n        \"protectionStatus\": \"Healthy\",\r\n        \"protectionState\": \"Protected\",\r\n        \"healthStatus\": \"Passed\",\r\n        \"healthDetails\": [\r\n          {\r\n            \"code\": 400239,\r\n            \"title\": \"IaasVmHealthGreenDefault\",\r\n            \"message\": \"Backup pre-check status of this virtual machine is OK.\",\r\n            \"recommendations\": []\r\n          }\r\n        ],\r\n        \"lastBackupStatus\": \"Completed\",\r\n        \"lastBackupTime\": \"2026-09-01T08:07:14.3690498Z\",\r\n        \"protectedItemDataId\": \"1178678470200372\",\r\n        \"extendedProperties\": {},\r\n        \"policyType\": \"V2\",\r\n        \"protectedItemType\": \"Microsoft.Compute/virtualMachines\",\r\n        \"backupManagementType\": \"AzureIaasVM\",\r\n        \"workloadType\": \"VM\",\r\n        \"containerName\": \"iaasvmcontainerv2;sample-rg;Sample-VM\",\r\n        \"sourceResourceId\": \"/subscriptions/6d875e77-e412-4d7d-9af4-8895278b4443/resourceGroups/Sample-RG/providers/Microsoft.Compute/virtualMachines/Sample-VM\",\r\n        \"policyId\": \"/subscriptions/6d875e77-e412-4d7d-9af4-8895278b4443/resourceGroups/swbela-ransom-rg/providers/Microsoft.RecoveryServices/vaults/swbela-mdc-vault-1/backupPolicies/EnhancedPolicy\",\r\n        \"policyName\": \"EnhancedPolicy\",\r\n        \"lastRecoveryPoint\": \"2026-09-01T08:09:22.1181238Z\",\r\n        \"vaultId\": \"https://management.azure.com/subscriptions/6d875e77-e412-4d7d-9af4-8895278b4443/resourceGroups/swbela-ransom-rg/providers/Microsoft.RecoveryServices/vaults/swbela-mdc-vault-1\",\r\n        \"isArchiveEnabled\": false,\r\n        \"softDeleteRetentionPeriod\": 0,\r\n        \"sourceLocation\": \"eastus2euap\",\r\n        \"sourceSideScanInfo\": {\r\n          \"sourceSideScanStatus\": \"Configured\",\r\n          \"sourceSideScanSummary\": \"Suspicious\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/6d875e77-e412-4d7d-9af4-8895278b4443/resourceGroups/swbela-ransom-rg/providers/Microsoft.RecoveryServices/vaults/swbela-mdc-vault-1/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;swbela-ransom-rg;swbela-mdc-injected-2/protectedItems/VM;iaasvmcontainerv2;swbela-ransom-rg;swbela-mdc-injected-2\",\r\n      \"name\": \"VM;iaasvmcontainerv2;swbela-ransom-rg;swbela-mdc-injected-2\",[...]
    {
      "RequestUri": "/subscriptions/6d875e77-e412-4d7d-9af4-8895278b4443/resourceGroups/swbela-ransom-rg/providers/Microsoft.RecoveryServices/vaults/swbela-mdc-vault-1/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bsample-rg%3BSample-VM/protectedItems/VM%3Biaasvmcontainerv2%3Bsample-rg%3BSample-VM/recoveryPoints/1131169477306229?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6d875e77-e412-4d7d-9af4-8895278b4443/resourceGroups/swbela-ransom-rg/providers/Microsoft.RecoveryServices/vaults/swbela-mdc-vault-1/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;sample-rg;Sample-VM/protectedItems/VM;iaasvmcontainerv2;sample-rg;Sample-VM/recoveryPoints/1131169477306229\",\r\n  \"name\": \"1131169477306229\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints\",\r\n  \"properties\": {\r\n    \"objectType\": \"IaasVMRecoveryPoint\",\r\n    \"recoveryPointType\": \"AppConsistent\",\r\n    \"recoveryPointTime\": \"2026-08-31T08:11:12.5650378Z\",\r\n    \"recoveryPointAdditionalInfo\": \"\",\r\n    \"sourceVMStorageType\": \"PremiumVMOnPartialPremiumStorage\",\r\n    \"isSourceVMEncrypted\": false,\r\n    \"isInstantIlrSessionActive\": false,\r\n    \"recoveryPointTierDetails\": [\r\n      {\r\n        \"type\": \"InstantRP\",\r\n        \"status\": \"Valid\"\r\n      }\r\n    ],\r\n    \"isManagedVirtualMachine\": true,\r\n    \"virtualMachineSize\": \"Standard_D2s_v3\",\r\n    \"originalStorageAccountOption\": false,\r\n    \"osType\": \"Windows\",\r\n    \"recoveryPointMoveReadinessInfo\": {\r\n      \"ArchivedRP\": {\r\n        \"isReadyForMove\": false,\r\n        \"additionalInfo\": \"We're still determining if this Recovery Point can be moved.. Please check again after some time.\"\r\n      }\r\n    },\r\n    \"securityType\": \"None\",\r\n    \"recoveryPointProperties\": {\r\n      \"expiryTime\": \"2026-09-02T08:11:12.5650378Z\",\r\n      \"ruleName\": \"Daily\",\r\n      \"isSoftDeleted\": false,\r\n      \"immutabilityProperties\": {\r\n        \"isImmutable\": true\r\n      }\r\n    },\r\n    \"isPrivateAccessEnabledOnAnyDisk\": false,\r\n    \"createdWithPolicyType\": \"V2\",\r\n    \"threatInfo\": [\r\n      {\r\n        \"threatTitle\": \"[SAMPLE ALERT] Digital currency mining related behavior detected\",\r\n        \"threatDescription\": \"[SAMPLE ALERT] Digital currency mining related behavior detected\",\r\n        \"lastUpdatedTime\": \"2026-08-13T07:47:15.860308\",\r\n        \"threatState\": \"Active\",\r\n        \"threatStartTime\": \"2026-08-13T07:47:15.860308\",\r\n        \"threatEndTime\": \"2026-08-13T07:47:15.860308\",\r\n        \"threatURI\": \"https://portal.azure.com/#blade/Microsoft_Azure_Security_AzureDefenderForData/AlertBlade/alertId/136b246a-ee42-f137-a707-2c1b7c535b5a/subscriptionId/6d875e77-e412-4d7d-9af4-8895278b4443/resourceGroup/Sample-RG/referencedFrom/alertDeepLink/location/centralus\",\r\n        \"threatSeverity\": \"High\"\r\n      },\r\n      {\r\n        \"threatTitle\": \"[SAMPLE ALERT]  Detected suspicious file cleanup commands\",\r\n        \"threatDescription\": \"[SAMPLE ALERT]  Detected suspicious file cleanup commands\",\r\n        \"lastUpdatedTime\": \"2026-08-13T07:47:11.860308\",\r\n        \"threatState\": \"Active\",\r\n        \"threatStartTime\": \"2026-08-13T07:47:11.860308\",\r\n        \"threatEndTime\": \"2026-08-13T07:47:11.860308\",\r\n        \"threatURI\": \"https://portal.azure.[...]
