{
  "Entries": [
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"westeurope\",\r\n  \"name\": \"afs-msi-test-vault\",\r\n  \"etag\": \"W/\\\"datetime'2026-09-15T04%3A45%3A16.3860257Z'\\\"\",\r\n  \"tags\": {\r\n    \"DisableLocalAuth\": \"false\",\r\n    \"ManagerAlias\": \"test-user\",\r\n    \"Owner\": \"test-user\",\r\n    \"Purpose\": \"AFS-MSI-Portal-Testing\",\r\n    \"TestType\": \"E2E\",\r\n    \"Workload\": \"AzureFileShareBackup\",\r\n    \"DeleteBy\": \"10-2026\",\r\n    \"BCDR\": \"NA\",\r\n    \"SourceRegion\": \"westeurope\",\r\n    \"Reason\": \"AFS-MSI-Portal-Testing\",\r\n    \"ETA\": \"10-2026\"\r\n  },\r\n  \"identity\": {\r\n    \"tenantId\": \"11111111-1111-1111-1111-111111111111\",\r\n    \"principalId\": \"22222222-2222-2222-2222-222222222222\",\r\n    \"type\": \"SystemAssigned, UserAssigned\",\r\n    \"userAssignedIdentities\": {\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/afs-msi-test-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/afsmsiresource05\": {\r\n        \"clientId\": \"90000000-0000-0000-0000-000000000150\",\r\n        \"principalId\": \"90000000-0000-0000-0000-000000000331\"\r\n      },\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/afs-msi-test-rg-tgt/providers/Microsoft.ManagedIdentity/userAssignedIdentities/afsmsiresource04\": {\r\n        \"clientId\": \"90000000-0000-0000-0000-000000000146\",\r\n        \"principalId\": \"90000000-0000-0000-0000-000000000141\"\r\n      },\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/afsmsiresource07\": {\r\n        \"clientId\": \"90000000-0000-0000-0000-000000000096\",\r\n        \"principalId\": \"90000000-0000-0000-0000-000000000042\"\r\n      },\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/afs-msi-test-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/afs-msi-test-uami\": {\r\n        \"clientId\": \"33333333-3333-3333-3333-333333333333\",\r\n        \"principalId\": \"44444444-4444-4444-4444-444444444444\"\r\n      }\r\n    }\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"privateEndpointStateForBackup\": \"None\",\r\n    \"privateEndpointStateForSiteRecovery\": \"None\",\r\n    \"monitoringSettings\": {\r\n      \"azureMonitorAlertSettings\": {\r\n        \"alertsForAllJobFailures\": \"Enabled\",\r\n        \"alertsForAllReplicationIssues\": \"Enabled\",\r\n        \"alertsForAllFailoverIssues\": \"Enabled\"\r\n      },\r\n      \"classicAlertSettings\": {\r\n        \"alertsForCriticalOperations\": \"Enabled\",\r\n        \"emailNotificationsForSiteRecovery\": \"Enabled\"\r\n      }\r\n    },\r\n    \"backupStorageVersion\": \"V2\",\r\n    \"securitySettings\": {\r\n      \"softDeleteSettings\": {\r\n        \"softDeleteRetentionPeriodInDays\": 14,\r\n        \"softDeleteState\": \"AlwaysON\",\r\n        \"enhancedSecurityState\": \"AlwaysON\"\r\n      },\r\n      \"multiUserAuthorization\": \"Disabled\",\r\n      \"sourceScanConfiguration\": {\r\n        \"state\": \"Disabled\"\r\n      }\r\n    },\r\n    \"redundancySettings\": {\r\n      \"standardTierStorageRedundancy\": \"GeoRedundant\",\r\n      \"crossRegionRestore\": \"Enabled\"\r\n    },\r\n    \"regionOfChoiceSettings\": {\r\n      \"status\": \"Disabled\"\r\n    },\r\n    \"secureScore\": \"Adequate\",\r\n    \"bcdrSecurityLevel\": \"Good\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"restoreSettings\": {\r\n      \"crossSubscriptionRestoreSettings\": {\r\n        \"crossSubscriptionRestoreState\": \"Enabled\"\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupProtectionContainers?api-version=2026-07-01&$filter=friendlyName%20eq%20%27afsmsiuamisa%27%20and%20backupManagementType%20eq%20%27AzureStorage%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;afs-msi-test-rg;afsmsiuamisa\",\r\n      \"name\": \"StorageContainer;Storage;afs-msi-test-rg;afsmsiuamisa\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers\",\r\n      \"properties\": {\r\n        \"sourceResourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.Storage/storageAccounts/afsmsiuamisa\",\r\n        \"protectedItemCount\": 1,\r\n        \"acquireStorageAccountLock\": \"Acquire\",\r\n        \"accessType\": \"IdentityBased\",\r\n        \"identityInfo\": {\r\n          \"isSystemAssignedIdentity\": false,\r\n          \"managedIdentityResourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/afs-msi-test-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/afs-msi-test-uami\"\r\n        },\r\n        \"friendlyName\": \"afsmsiuamisa\",\r\n        \"backupManagementType\": \"AzureStorage\",\r\n        \"registrationStatus\": \"Registered\",\r\n        \"healthStatus\": \"Healthy\",\r\n        \"containerType\": \"StorageContainer\",\r\n        \"protectableObjectType\": \"StorageContainer\",\r\n        \"sourceLocation\": \"westeurope\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupProtectedItems?api-version=2026-07-01&$filter=backupManagementType%20eq%20%27AzureStorage%27%20and%20itemType%20eq%20%27AzureFileShare%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;afs-msi-test-rg-tgt;afsmsiresource22/protectedItems/AzureFileShare;E550032D1014827612A3C5E16979A659325DC79E1D281E67829CC251A7BE04EA\",\r\n      \"name\": \"AzureFileShare;E550032D1014827612A3C5E16979A659325DC79E1D281E67829CC251A7BE04EA\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"vault-tgt-fs\",\r\n        \"fileShareProtocol\": \"SMB\",\r\n        \"protectionStatus\": \"Unhealthy\",\r\n        \"protectionState\": \"IRPending\",\r\n        \"lastBackupStatus\": \"Failed\",\r\n        \"lastBackupTime\": \"2026-09-14T22:18:56.3113611Z\",\r\n        \"protectedItemType\": \"AzureFileShareProtectedItem\",\r\n        \"backupManagementType\": \"AzureStorage\",\r\n        \"workloadType\": \"AzureFileShare\",\r\n        \"containerName\": \"StorageContainer;Storage;afs-msi-test-rg-tgt;afsmsiresource22\",\r\n        \"sourceResourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg-tgt/providers/Microsoft.Storage/storageAccounts/afsmsiresource22\",\r\n        \"policyId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupPolicies/afsmsiresource08\",\r\n        \"vaultId\": \"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault\",\r\n        \"isArchiveEnabled\": false,\r\n        \"softDeleteRetentionPeriod\": 0,\r\n        \"sourceLocation\": \"westeurope\",\r\n        \"sourceSideScanInfo\": {\r\n          \"sourceSideScanStatus\": \"NotApplicable\",\r\n          \"sourceSideScanSummary\": \"NotApplicable\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;afs-msi-test-rg-tgt;afsmsiresource22/protectedItems/AzureFileShare;12DBCFE6781E105BD2C0BC76884976F581BC008C108BA6104C4DFE09DBEEE99F\",\r\n      \"name\": \"AzureFileShare;12DBCFE6781E105BD2C0BC76884976F581BC[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/StorageContainer%3Bstorage%3Bafs-msi-test-rg%3Bafsmsiuamisa/protectedItems/AzureFileShare%3B4b434c740c03e08339fe7aa0b420ef9e549607c5947d9cf57247adba835dac42?api-version=2026-07-01&$filter=expand%20eq%20%27extendedinfo%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
      }[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/StorageContainer%3Bstorage%3Bafs-msi-test-rg%3Bafsmsiuamisa/protectedItems/AzureFileShare%3B4b434c740c03e08339fe7aa0b420ef9e549607c5947d9cf57247adba835dac42/backup?api-version=2026-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"objectType\": \"AzureFileShareBackupRequest\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/StorageContainer;storage;afs-msi-test-rg;afsmsiuamisa/protectedItems/AzureFileShare;4b434c740c03e08339fe7aa0b420ef9e549607c5947d9cf57247adba835dac42/operationResults/90000000-0000-0000-0000-000000000348?api-version=2026-07-01&t=639250596450494067&c=MIIHlDCCBnygAwIBAgIQeE[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupOperations/90000000-0000-0000-0000-000000000348?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"90000000-0000-0000-0000-000000000348\",\r\n  \"name\": \"90000000-0000-0000-0000-000000000348\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2026-09-15T09:00:44.9023843Z\",\r\n  \"endTime\": \"2026-09-15T09:00:44.9023843Z\",\r\n  \"properties\": {\r\n    \"objectType\": \"OperationStatusJobExtendedInfo\",\r\n    \"jobId\": \"90000000-0000-0000-0000-000000000113\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupJobs/90000000-0000-0000-0000-000000000113?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupJobs/90000000-0000-0000-0000-000000000113\",\r\n  \"name\": \"90000000-0000-0000-0000-000000000113\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupJobs\",\r\n  \"properties\": {\r\n    \"jobType\": \"AzureStorageJob\",\r\n    \"duration\": \"PT2.6436243S\",\r\n    \"storageAccountName\": \"afsmsiuamisa\",\r\n    \"storageAccountVersion\": \"MicrosoftStorage\",\r\n    \"extendedInfo\": {\r\n      \"tasksList\": [\r\n        {\r\n          \"taskId\": \"Take Snapshot\",\r\n          \"taskType\": \"Normal\",\r\n          \"status\": \"InProgress\"\r\n        }\r\n      ],\r\n      \"propertyBag\": {\r\n        \"Data Transferred (in MB)\": \"0\",\r\n        \"File Share Name\": \"afsmsiuamishare\",\r\n        \"Whether job is adhoc or scheduled.\": \"True\"\r\n      }\r\n    },\r\n    \"isUserTriggered\": false,\r\n    \"entityFriendlyName\": \"afsmsiuamishare\",\r\n    \"backupManagementType\": \"AzureStorage\",\r\n    \"operation\": \"Backup\",\r\n    \"status\": \"InProgress\",\r\n    \"startTime\": \"2026-09-15T09:00:44.9023843Z\",\r\n    \"activityId\": \"90000000-0000-0000-0000-000000000306\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupJobs?api-version=2026-07-01&$filter=operation%20eq%20%27%27%20and%20jobId%20eq%20%2790000000-0000-0000-0000-000000000113%27%20and%20startTime%20eq%20%272026-09-15%2008%3A00%3A44%20AM%27%20and%20endTime%20eq%20%272026-09-16%2009%3A00%3A44%20AM%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "R[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/StorageContainer%3Bstorage%3Bafs-msi-test-rg%3Bafsmsiuamisa/protectedItems/AzureFileShare%3B4b434c740c03e08339fe7aa0b420ef9e549607c5947d9cf57247adba835dac42/recoveryPoints?api-version=2026-07-01&$filter=startDate%20eq%20%272026-09-15%2008%3A59%3A44%20AM%27%20and%20endDate%20eq%20%27202[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20'Microsoft.ClassicStorage%2FstorageAccounts'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20'Microsoft.Storage%2FstorageAccounts'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shdix/providers/Microsoft.Storage/storageAccounts/hardeningbugbash7\",\r\n      \"name\": \"hardeningbugbash7\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_LRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"kind\": \"StorageV2\",\r\n      \"location\": \"eastasia\",\r\n      \"tags\": {\r\n        \"Owner\": \"shdix\",\r\n        \"AutoAddedTagsSpendMgmt\": \"Owner\"\r\n      }\r\n    },\r\n    {\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/taeguptaHardeningRG/providers/Microsoft.Storage/storageAccounts/cmkafsv2yabajaj\",\r\n      \"name\": \"cmkafsv2yabajaj\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_RAGRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"kind\": \"StorageV2\",\r\n      \"location\": \"eastasia\",\r\n      \"tag[...]
[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupResourceGuardProxies?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/StorageContainer%3Bstorage%3Bafs-msi-test-rg%3Bafsmsiuamisa/protectedItems/AzureFileShare%3B4b434c740c03e08339fe7aa0b420ef9e549607c5947d9cf57247adba835dac42/recoveryPoints/1847539630583174718/restore?api-version=2026-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"objectType\": \"AzureFileShareRestoreRequest\",\r\n    \"recoveryType\": \"AlternateLocation\",\r\n    \"sourceResourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.Storage/storageAccounts/afsmsiuamisa\",\r\n    \"copyOptions\": \"Overwrite\",\r\n    \"restoreRequestType\": \"FullShareRestore\",\r\n    \"restoreFileSpecs\": [\r\n      {\r\n        \"targetFolderPath\": \"uami-restore\"\r\n      }\r\n    ],\r\n    \"targetDetails\": {\r\n      \"name\": \"afsmsiuamishare\",\r\n      \"targetResourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.Storage/storageAccounts/afsmsiuamisa\"\r\n    },\r\n    \"identityInfo\": {\r\n      \"isSystemAssignedIdentity\": false,\r\n      \"managedIdentityResourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/afs-msi-test-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/afs-msi-test-uami\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Location"[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/StorageContainer;storage;afs-msi-test-rg;afsmsiuamisa/protectedItems/AzureFileShare;4b434c740c03e08339fe7aa0b420ef9e549607c5947d9cf57247adba835dac42/operationsStatus/90000000-0000-0000-0000-000000000257?api-version=2026-07-01&t=639250596724777551&c=MIIHlDCCBnygAwIBAgIQeEidveEb90AyQzV3V[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/StorageContainer;storage;afs-msi-test-rg;afsmsiuamisa/protectedItems/AzureFileShare;4b434c740c03e08339fe7aa0b420ef9e549607c5947d9cf57247adba835dac42/operationResults/90000000-0000-0000-0000-000000000257?api-version=2026-07-01&t=639250596724777551&c=MIIHlDCCBnygAwIBAgIQeEidveEb90AyQzV3V[...]
[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupJobs/90000000-0000-0000-0000-000000000257?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupJobs/90000000-0000-0000-0000-000000000257\",\r\n  \"name\": \"90000000-0000-0000-0000-000000000257\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupJobs\",\r\n  \"properties\": {\r\n    \"jobType\": \"AzureStorageJob\",\r\n    \"actionsInfo\": [\r\n      \"Cancellable\"\r\n    ],\r\n    \"duration\": \"PT1M23.654122S\",\r\n    \"storageAccountName\": \"afsmsiuamisa\",\r\n    \"storageAccountVersion\": \"ClassicCompute\",\r\n    \"extendedInfo\": {\r\n      \"tasksList\": [],\r\n      \"propertyBag\": {\r\n        \"Source File Share Name\": \"afsmsiuamishare\",\r\n        \"Source Storage Account Name\": \"afsmsiuamisa\",\r\n        \"Recovery Point Time in UTC\": \"9/15/2026 9:00:50 AM\",\r\n        \"Target File Share Name\": \"afsmsiuamishare\",\r\n        \"Target Storage Account Name\": \"afsmsiuamisa\",\r\n        \"Job Type\": \"Recover to an alternate file share\",\r\n        \"RestoreDestination\": \"afsmsiuamisa/afsmsiuamishare/uami-restore\",\r\n        \"Data Transferred (in MB)\": \"0\",\r\n        \"Number Of Restored Files\": \"0\",\r\n        \"Number Of Skipped Files\": \"0\",\r\n        \"Number Of Failed Files\": \"0\"\r\n      }\r\n    },\r\n    \"isUserTriggered\": false,\r\n    \"entityFriendlyName\": \"afsmsiuamishare\",\r\n    \"backupManagementType\": \"AzureStorage\",\r\n    \"operation\": \"Restore\",\r\n    \"status\": \"InProgress\",\r\n    \"startTime\": \"2026-09-15T09:01:11.8597437Z\",\r\n    \"activityId\": \"90000000-0000-0000-0000-000000000153\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
