{
  "Entries": [
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"westeurope\",\r\n  \"name\": \"afs-msi-test-vault\",\r\n  \"etag\": \"W/\\\"datetime'2026-09-15T04%3A45%3A16.3860257Z'\\\"\",\r\n  \"tags\": {\r\n    \"DisableLocalAuth\": \"false\",\r\n    \"ManagerAlias\": \"testuser\",\r\n    \"Owner\": \"testuser\",\r\n    \"Purpose\": \"AFS-MSI-Portal-Testing\",\r\n    \"TestType\": \"E2E\",\r\n    \"Workload\": \"AzureFileShareBackup\",\r\n    \"DeleteBy\": \"10-2026\",\r\n    \"BCDR\": \"NA\",\r\n    \"SourceRegion\": \"westeurope\",\r\n    \"Reason\": \"AFS-MSI-Portal-Testing\",\r\n    \"ETA\": \"10-2026\"\r\n  },\r\n  \"identity\": {\r\n    \"tenantId\": \"11111111-1111-1111-1111-111111111111\",\r\n    \"principalId\": \"22222222-2222-2222-2222-222222222222\",\r\n    \"type\": \"SystemAssigned, UserAssigned\",\r\n    \"userAssignedIdentities\": {\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/afs-msi-test-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/afsmsiresc17b6beb\": {\r\n        \"clientId\": \"5cbfbb80-9801-4b2a-a1b5-10738944f347\",\r\n        \"principalId\": \"d8e59cd7-9221-4da2-aef3-dc8a1fb729fb\"\r\n      },\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/afs-msi-test-rg-tgt/providers/Microsoft.ManagedIdentity/userAssignedIdentities/afsmsires9d74bdda\": {\r\n        \"clientId\": \"e5139a6b-7385-4f6a-ab87-81337963a85d\",\r\n        \"principalId\": \"0bb5b206-3981-4d2e-ac9e-e83ed9d24b6b\"\r\n      },\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/afsmsires6c5b919b\": {\r\n        \"clientId\": \"c3069de0-4b75-403f-a136-64f3fc4fd8b0\",\r\n        \"principalId\": \"3b7b487a-cb54-4eb6-a4a3-4ed876ebd123\"\r\n      },\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/afs-msi-test-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/afs-msi-test-uami\": {\r\n        \"clientId\": \"33333333-3333-3333-3333-333333333333\",\r\n        \"principalId\": \"44444444-4444-4444-4444-444444444444\"\r\n      }\r\n    }\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"privateEndpointStateForBackup\": \"None\",\r\n    \"privateEndpointStateForSiteRecovery\": \"None\",\r\n    \"monitoringSettings\": {\r\n      \"azureMonitorAlertSettings\": {\r\n        \"alertsForAllJobFailures\": \"Enabled\",\r\n        \"alertsForAllReplicationIssues\": \"Enabled\",\r\n        \"alertsForAllFailoverIssues\": \"Enabled\"\r\n      },\r\n      \"classicAlertSettings\": {\r\n        \"alertsForCriticalOperations\": \"Enabled\",\r\n        \"emailNotificationsForSiteRecovery\": \"Enabled\"\r\n      }\r\n    },\r\n    \"backupStorageVersion\": \"V2\",\r\n    \"securitySettings\": {\r\n      \"softDeleteSettings\": {\r\n        \"softDeleteRetentionPeriodInDays\": 14,\r\n        \"softDeleteState\": \"AlwaysON\",\r\n        \"enhancedSecurityState\": \"AlwaysON\"\r\n      },\r\n      \"multiUserAuthorization\": \"Disabled\",\r\n      \"sourceScanConfiguration\": {\r\n        \"state\": \"Disabled\"\r\n      }\r\n    },\r\n    \"redundancySettings\": {\r\n      \"standardTierStorageRedundancy\": \"GeoRedundant\",\r\n      \"crossRegionRestore\": \"Enabled\"\r\n    },\r\n    \"regionOfChoiceSettings\": {\r\n      \"status\": \"Disabled\"\r\n    },\r\n    \"secureScore\": \"Adequate\",\r\n    \"bcdrSecurityLevel\": \"Good\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"restoreSettings\": {\r\n      \"crossSubscriptionRestoreSettings\": {\r\n        \"crossSubscriptionRestoreState\": \"Enabled\"\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupPolicies/afs-msi-test-policy?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupPolicies/afs-msi-test-policy\",\r\n  \"name\": \"afs-msi-test-policy\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupPolicies\",\r\n  \"properties\": {\r\n    \"backupManagementType\": \"AzureStorage\",\r\n    \"workLoadType\": \"AzureFileShare\",\r\n    \"schedulePolicy\": {\r\n      \"schedulePolicyType\": \"SimpleSchedulePolicy\",\r\n      \"scheduleRunFrequency\": \"Daily\",\r\n      \"scheduleRunTimes\": [\r\n        \"2026-09-01T22:00:00Z\"\r\n      ],\r\n      \"scheduleWeeklyFrequency\": 0\r\n    },\r\n    \"retentionPolicy\": {\r\n      \"retentionPolicyType\": \"LongTermRetentionPolicy\",\r\n      \"dailySchedule\": {\r\n        \"retentionTimes\": [\r\n          \"2026-09-01T22:00:00Z\"\r\n        ],\r\n        \"retentionDuration\": {\r\n          \"count\": 30,\r\n          \"durationType\": \"Days\"\r\n        }\r\n      }\r\n    },\r\n    \"timeZone\": \"UTC\",\r\n    \"protectedItemsCount\": 12\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupProtectionContainers?api-version=2026-07-01&$filter=backupManagementType%20eq%20%27AzureStorage%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;afs-msi-test-rg-tgt;afsmsires76a3cf8d\",\r\n      \"name\": \"StorageContainer;Storage;afs-msi-test-rg-tgt;afsmsires76a3cf8d\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers\",\r\n      \"properties\": {\r\n        \"sourceResourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg-tgt/providers/Microsoft.Storage/storageAccounts/afsmsires76a3cf8d\",\r\n        \"protectedItemCount\": 2,\r\n        \"acquireStorageAccountLock\": \"Acquire\",\r\n        \"accessType\": \"IdentityBased\",\r\n        \"identityInfo\": {\r\n          \"isSystemAssignedIdentity\": true\r\n        },\r\n        \"friendlyName\": \"afsmsires76a3cf8d\",\r\n        \"backupManagementType\": \"AzureStorage\",\r\n        \"registrationStatus\": \"Registered\",\r\n        \"healthStatus\": \"Healthy\",\r\n        \"containerType\": \"StorageContainer\",\r\n        \"protectableObjectType\": \"StorageContainer\",\r\n        \"sourceLocation\": \"westeurope\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;afs-msi-test-rg-tgt;afsmsires8e58ecde\",\r\n      \"name\": \"StorageContainer;Storage;afs-msi-test-rg-tgt;afsmsires8e58ecde\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers\",\r\n      \"properties\": {\r\n        \"sourceResourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg-tgt/providers/Microsoft.Storage/storageAccounts/afsmsires8e58ecde\",\r\n        \"protectedItemCount\": 0,\r\n        \"acquireStorageAccountLock\": \"Acquire\",\r\n        \"accessType\": \"IdentityBased\",\r\n        \"identityInfo\": {\r\n          \"isSystemAssignedIdentity\": false,\r\n          \"managedIdentityResourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/afs-msi-test-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/afs-msi-test-uami\"\r\n        },\r\n        \"friendlyName\": \"afsmsires8e58ecde\",\r\n        \"backupManagementType\": \"AzureStorage\",\r\n        \"registrationStatus\": \"Registered\",\r\n        \"healthStatus\": \"Healthy\",\r\n        \"containerType\": \"StorageContainer\",\r\n        \"protectableObjectType\": \"StorageContainer\",\r\n      [...]
[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupProtectableItems?api-version=2026-07-01&$filter=backupManagementType%20eq%20%27AzureStorage%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/storagecontainer;storage;afs-msi-test-rg;afsmsiresbd9b7f63/protectableItems/azurefileshare;keypsshare\",\r\n      \"name\": \"azurefileshare;keypsshare\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems\",\r\n      \"properties\": {\r\n        \"parentContainerFabricId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.Storage/storageAccounts/afsmsiresbd9b7f63\",\r\n        \"parentContainerFriendlyName\": \"afsmsiresbd9b7f63\",\r\n        \"azureFileShareType\": \"XSMB\",\r\n        \"backupManagementType\": \"AzureStorage\",\r\n        \"workloadType\": \"AzureFileShare\",\r\n        \"protectableItemType\": \"AzureFileShare\",\r\n        \"friendlyName\": \"keypsshare\",\r\n        \"protectionState\": \"NotProtected\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/storagecontainer;storage;afs-msi-test-rg;afsmsiresea12f270/protectableItems/azurefileshare;108104bed900ad950f2f61d09a87adcea2bd0f7cbcb5e070cfc5188d5752f52a\",\r\n      \"name\": \"azurefileshare;108104bed900ad950f2f61d09a87adcea2bd0f7cbcb5e070cfc[...]
[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/StorageContainer%3BStorage%3Bafs-msi-test-rg%3Bafsmsiuamisa/inquire?api-version=2026-07-01&$filter=workloadType%20eq%20%27AzureFileShare%27",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;afs-msi-test-rg;afsmsiuamisa/operationResults/159f9737-388d-4c54-aaae-8846e7cbfd84?api-version=2026-07-01&t=639250655802514202&c=MIIHlDCCBnygAwIBAgIQeEidveEb90AyQzV3Vg_ZqzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgM[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/operationResults/159f9737-388d-4c54-aaae-8846e7cbfd84?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/00000000-0000-0000-0000-00000000000[...]
[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/storagecontainer%3Bstorage%3Bafs-msi-test-rg%3Bafsmsiuamisa/protectedItems/azurefileshare%3B32f5d8966f5d11f7729ba00a4694fdfeb986892cdbbecbd6600c235d86f5b34e?api-version=2026-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"protectedItemType\": \"AzureFileShareProtectedItem\",\r\n    \"sourceResourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.Storage/storageAccounts/afsmsiuamisa\",\r\n    \"policyId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupPolicies/afs-msi-test-policy\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/storagecontainer;storage;[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupOperations/25d2a3b7-d896-4e18-aa5a-a01cc19b4aac?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"25d2a3b7-d896-4e18-aa5a-a01cc19b4aac\",\r\n  \"name\": \"25d2a3b7-d896-4e18-aa5a-a01cc19b4aac\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2026-09-15T10:40:04.8352266Z\",\r\n  \"endTime\": \"0001-01-01T00:00:00\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupOperations/25d2a3b7-d896-4e18-aa5a-a01cc19b4aac?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"25d2a3b7-d896-4e18-aa5a-a01cc19b4aac\",\r\n  \"name\": \"25d2a3b7-d896-4e18-aa5a-a01cc19b4aac\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2026-09-15T10:40:04.8352266Z\",\r\n  \"endTime\": \"2026-09-15T10:40:04.8352266Z\",\r\n  \"properties\": {\r\n    \"objectType\": \"OperationStatusJobExtendedInfo\",\r\n    \"jobId\": \"6b87635f-99b2-4974-ae32-6b27bcad1f10\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupJobs/6b87635f-99b2-4974-ae32-6b27bcad1f10?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupJobs/6b87635f-99b2-4974-ae32-6b27bcad1f10\",\r\n  \"name\": \"6b87635f-99b2-4974-ae32-6b27bcad1f10\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupJobs\",\r\n  \"properties\": {\r\n    \"jobType\": \"AzureStorageJob\",\r\n    \"duration\": \"PT1M13.5781796S\",\r\n    \"storageAccountName\": \"afsmsiuamisa\",\r\n    \"storageAccountVersion\": \"Storage\",\r\n    \"extendedInfo\": {\r\n      \"tasksList\": [],\r\n      \"propertyBag\": {\r\n        \"File Share Name\": \"afsmsiuamishare\",\r\n        \"Storage Account Name\": \"afsmsiuamisa\",\r\n        \"Policy Name\": \"afs-msi-test-policy\"\r\n      }\r\n    },\r\n    \"isUserTriggered\": false,\r\n    \"entityFriendlyName\": \"afsmsiuamishare\",\r\n    \"backupManagementType\": \"AzureStorage\",\r\n    \"operation\": \"ConfigureBackup\",\r\n    \"status\": \"Completed\",\r\n    \"startTime\": \"2026-09-15T10:40:04.8352266Z\",\r\n    \"endTime\": \"2026-09-15T10:41:18.4134062Z\",\r\n    \"activityId\": \"d7fe9ee5-0a80-4efd-a7ff-f7527605fb9b\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupProtectionContainers?api-version=2026-07-01&$filter=friendlyName%20eq%20%27afsmsiuamisa%27%20and%20backupManagementType%20eq%20%27AzureStorage%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
    [...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupProtectedItems?api-version=2026-07-01&$filter=backupManagementType%20eq%20%27AzureStorage%27%20and%20itemType%20eq%20%27AzureFileShare%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;afs-msi-test-rg-tgt;afsmsires76a3cf8d/protectedItems/AzureFileShare;E550032D1014827612A3C5E16979A659325DC79E1D281E67829CC251A7BE04EA\",\r\n      \"name\": \"AzureFileShare;E550032D1014827612A3C5E16979A659325DC79E1D281E67829CC251A7BE04EA\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"vault-tgt-fs\",\r\n        \"fileShareProtocol\": \"SMB\",\r\n        \"protectionStatus\": \"Unhealthy\",\r\n        \"protectionState\": \"IRPending\",\r\n        \"lastBackupStatus\": \"Failed\",\r\n        \"lastBackupTime\": \"2026-09-14T22:18:56.3113611Z\",\r\n        \"protectedItemType\": \"AzureFileShareProtectedItem\",\r\n        \"backupManagementType\": \"AzureStorage\",\r\n        \"workloadType\": \"AzureFileShare\",\r\n        \"containerName\": \"StorageContainer;Storage;afs-msi-test-rg-tgt;afsmsires76a3cf8d\",\r\n        \"sourceResourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg-tgt/providers/Microsoft.Storage/storageAccounts/afsmsires76a3cf8d\",\r\n        \"policyId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupPolicies/afsmsires2deed506\",\r\n        \"vaultId\": \"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault\",\r\n        \"isArchiveEnabled\": false,\r\n        \"softDeleteRetentionPeriod\": 0,\r\n        \"sourceLocation\": \"westeurope\",\r\n        \"sourceSideScanInfo\": {\r\n          \"sourceSideScanStatus\": \"NotApplicable\",\r\n          \"sourceSideScanSummary\": \"NotApplicable\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/StorageContainer;Storage;afs-msi-test-rg-tgt;afsmsires76a3cf8d/protectedItems/AzureFileShare;12DBCFE6781E105BD2C0BC76884976F581BC008C108BA6104C4DFE09DBEEE99F\",\r\n      \"name\": \"AzureFileShare;12DBCFE6781E105BD2C0BC76884976F581B[...]
[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/StorageContainer%3BStorage%3Bafs-msi-test-rg%3Bafsmsisamisa/inquire?api-version=2026-07-01&$filter=workloadType%20eq%20%27AzureFileShare%27",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
    [...]
[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupFabrics/Azure/protectionContainers/storagecontainer%3Bstorage%3Bafs-msi-test-rg%3Bafsmsisamisa/protectedItems/azurefileshare%3Be6e5304a1e7d59d54ffca234349cf7bb8bd5c8eae0ce333d209dfd8b2ce76789?api-version=2026-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application[...]
[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/afs-msi-test-rg/providers/Microsoft.RecoveryServices/vaults/afs-msi-test-vault/backupProtectionContainers?api-version=2026-07-01&$filter=friendlyName%20eq%20%27afsmsisamisa%27%20and%20backupManagementType%20eq%20%27AzureStorage%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
    [...]
