{
  "Entries": [
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"eastasia\",\r\n  \"name\": \"singhprab-csb-vault-ea\",\r\n  \"etag\": \"W/\\\"datetime'2026-07-13T19%3A52%3A28.7946912Z'\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"privateEndpointStateForBackup\": \"None\",\r\n    \"privateEndpointStateForSiteRecovery\": \"None\",\r\n    \"monitoringSettings\": {\r\n      \"azureMonitorAlertSettings\": {\r\n        \"alertsForAllJobFailures\": \"Enabled\",\r\n        \"alertsForAllReplicationIssues\": \"Enabled\",\r\n        \"alertsForAllFailoverIssues\": \"Enabled\"\r\n      },\r\n      \"classicAlertSettings\": {\r\n        \"alertsForCriticalOperations\": \"Enabled\",\r\n        \"emailNotificationsForSiteRecovery\": \"Enabled\"\r\n      }\r\n    },\r\n    \"backupStorageVersion\": \"V2\",\r\n    \"securitySettings\": {\r\n      \"softDeleteSettings\": {\r\n        \"softDeleteRetentionPeriodInDays\": 14,\r\n        \"softDeleteState\": \"AlwaysON\",\r\n        \"enhancedSecurityState\": \"AlwaysON\"\r\n      },\r\n      \"multiUserAuthorization\": \"Disabled\",\r\n      \"sourceScanConfiguration\": {\r\n        \"state\": \"Disabled\"\r\n      }\r\n    },\r\n    \"redundancySettings\": {\r\n      \"standardTierStorageRedundancy\": \"LocallyRedundant\",\r\n      \"crossRegionRestore\": \"Disabled\"\r\n    },\r\n    \"secureScore\": \"Adequate\",\r\n    \"bcdrSecurityLevel\": \"Good\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"restoreSettings\": {\r\n      \"crossSubscriptionRestoreSettings\": {\r\n        \"crossSubscriptionRestoreState\": \"Enabled\"\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea/backupProtectedItems?$filter=backupManagementType%20eq%20'AzureIaasVM'%20and%20itemType%20eq%20'VM'&api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;singhprab-csb-rg-ea;singhprab-csb-vm-ea/protectedItems/VM;iaasvmcontainerv2;singhprab-csb-rg-ea;singhprab-csb-vm-ea\",\r\n      \"name\": \"VM;iaasvmcontainerv2;singhprab-csb-rg-ea;singhprab-csb-vm-ea\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"singhprab-csb-vm-ea\",\r\n        \"virtualMachineId\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/singhprab-csb-rg-ea/providers/Microsoft.Compute/virtualMachines/singhprab-csb-vm-ea\",\r\n        \"protectionStatus\": \"Healthy\",\r\n        \"protectionState\": \"Protected\",\r\n        \"healthStatus\": \"Passed\",\r\n        \"healthDetails\": [\r\n          {\r\n            \"code\": 400239,\r\n            \"title\": \"IaasVmHealthGreenDefault\",\r\n            \"message\": \"Backup pre-check status of this virtual machine is OK.\",\r\n            \"recommendations\": []\r\n          }\r\n        ],\r\n        \"lastBackupStatus\": \"Completed\",\r\n        \"lastBackupTime\": \"2026-07-13T16:00:57.1102568Z\",\r\n        \"protectedItemDataId\": \"2266471698217946936\",\r\n        \"extendedProperties\": {},\r\n        \"policyType\": \"V2\",\r\n        \"protectedItemType\": \"Microsoft.Compute/virtualMachines\",\r\n        \"backupManagementType\": \"AzureIaasVM\",\r\n        \"workloadType\": \"VM\",\r\n        \"containerName\": \"iaasvmcontainerv2;singhprab-csb-rg-ea;singhprab-csb-vm-ea\",\r\n        \"sourceResourceId\": \"/subscriptions/5288acd1-ba79-4377-9205-9f220331a44a/resourceGroups/singhprab-csb-rg-ea/providers/Microsoft.Compute/virtualMachines/singhprab-csb-vm-ea\",\r\n        \"policyId\": \"/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea/backupPolicies/singhprab\",\r\n        \"policyName\": \"singhprab\",\r\n        \"lastRecoveryPoint\": \"2026-07-13T16:01:31.9505922Z\",\r\n        \"vaultId\": \"https://management.azure.com/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea\",\r\n        \"isArchiveEnabled\": false,\r\n        \"softDeleteRetentionPeriod\": 0\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;singhprab-rg-1c;singhprab-ps-vm2/protectedItems/VM;iaasvmcontainerv2;singhprab-rg-1c;singhprab-ps-vm2\",\r\n      \"name\": \"VM;iaasvmcontainerv2;singhprab-rg-1c;singhprab-ps-vm2\",\r\n      \"type\": \"Microsoft[...]
[...]
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea/backupPolicies/singhprab?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "250"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea/backupPolicies/singhprab\",\r\n  \"name\": \"singhprab\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupPolicies\",\r\n  \"properties\": {\r\n    \"backupManagementType\": \"AzureIaasVM\",\r\n    \"policyType\": \"V2\",\r\n    \"instantRPDetails\": {},\r\n    \"schedulePolicy\": {\r\n      \"schedulePolicyType\": \"SimpleSchedulePolicyV2\",\r\n      \"scheduleRunFrequency\": \"Hourly\",\r\n      \"hourlySchedule\": {\r\n        \"interval\": 8,\r\n        \"scheduleWindowStartTime\": \"2026-06-26T08:00:00Z\",\r\n        \"scheduleWindowDuration\": 24\r\n      }\r\n    },\r\n    \"retentionPolicy\": {\r\n      \"retentionPolicyType\": \"LongTermRetentionPolicy\",\r\n      \"dailySchedule\": {\r\n        \"retentionTimes\": [\r\n          \"2026-06-26T08:00:00Z\"\r\n        ],\r\n        \"retentionDuration\": {\r\n          \"count\": 180,\r\n          \"durationType\": \"Days\"\r\n        }\r\n      }\r\n    },\r\n    \"tieringPolicy\": {\r\n      \"ArchivedRP\": {\r\n        \"tieringMode\": \"DoNotTier\",\r\n        \"duration\": 0,\r\n        \"durationType\": \"Invalid\"\r\n      }\r\n    },\r\n    \"instantRpRetentionRangeInDays\": 7,\r\n    \"timeZone\": \"UTC\",\r\n    \"protectedItemsCount\": 2\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bsinghprab-rg-1c%3Bsinghprab-ps-vm9/protectedItems/VM%3Biaasvmcontainerv2%3Bsinghprab-rg-1c%3Bsinghprab-ps-vm9?api-version=2025-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"protectedItemType\": \"Microsoft.Compute/virtualMachines\",\r\n    \"sourceResourceId\": \"/subscriptions/80abcfe3-b410-42b2-983f-df23cba781dc/resourceGroups/singhprab-rg-1c/providers/Microsoft.Compute/virtualMachines/singhprab-ps-vm9\",\r\n    \"policyId\": \"/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea/backupPolicies/singhprab\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;singhprab-rg-1c;singhprab-ps-vm9/protectedItems/VM;iaasvmcontainerv2;singhprab-rg-1c;singhprab-ps-vm9/operationResults/6e30ef69-2eed-4530-a0c4-e9c61438d1f7?api-version=2025-02-01&t=639195704278651101&c=MIIHkDCCBnigAwIBAgIQK[...]
[...]
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea/backupOperations/6e30ef69-2eed-4530-a0c4-e9c61438d1f7?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"6e30ef69-2eed-4530-a0c4-e9c61438d1f7\",\r\n  \"name\": \"6e30ef69-2eed-4530-a0c4-e9c61438d1f7\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2026-07-13T20:13:20.5448939Z\",\r\n  \"endTime\": \"0001-01-01T00:00:00\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea/backupOperations/6e30ef69-2eed-4530-a0c4-e9c61438d1f7?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"6e30ef69-2eed-4530-a0c4-e9c61438d1f7\",\r\n  \"name\": \"6e30ef69-2eed-4530-a0c4-e9c61438d1f7\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2026-07-13T20:13:20.5448939Z\",\r\n  \"endTime\": \"2026-07-13T20:13:20.5448939Z\",\r\n  \"properties\": {\r\n    \"objectType\": \"OperationStatusJobExtendedInfo\",\r\n    \"jobId\": \"c88e8a59-42db-474e-87d6-ba958e8b0c34\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea/backupJobs/c88e8a59-42db-474e-87d6-ba958e8b0c34?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea/backupJobs/c88e8a59-42db-474e-87d6-ba958e8b0c34\",\r\n  \"name\": \"c88e8a59-42db-474e-87d6-ba958e8b0c34\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupJobs\",\r\n  \"properties\": {\r\n    \"jobType\": \"AzureIaaSVMJob\",\r\n    \"containerName\": \"iaasvmcontainerv2;singhprab-rg-1c;singhprab-ps-vm9\",\r\n    \"duration\": \"PT33.3081748S\",\r\n    \"virtualMachineVersion\": \"Compute\",\r\n    \"extendedInfo\": {\r\n      \"tasksList\": [],\r\n      \"propertyBag\": {\r\n        \"VM Name\": \"singhprab-ps-vm9\",\r\n        \"Policy Name\": \"singhprab\"\r\n      }\r\n    },\r\n    \"entityFriendlyName\": \"singhprab-ps-vm9\",\r\n    \"backupManagementType\": \"AzureIaasVM\",\r\n    \"operation\": \"ConfigureBackup\",\r\n    \"status\": \"Completed\",\r\n    \"startTime\": \"2026-07-13T20:13:20.5448939Z\",\r\n    \"endTime\": \"2026-07-13T20:13:53.8530687Z\",\r\n    \"activityId\": \"2b9d8e7b-d3fd-413c-abe0-70ed76ef8a83\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea/backupPolicies/singhprab2?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/[...]
[...]
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea/backupResourceGuardProxies?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-vault-ea/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bsinghprab-rg-1c%3Bsinghprab-ps-vm9/protectedItems/VM%3Biaasvmcontainerv2%3Bsinghprab-rg-1c%3Bsinghprab-ps-vm9/recoveryPoints?api-version=2025-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
