{
    "Entries":  [
                    {
                        "RequestUri":  "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourcegroups/PSTestRGdfd66a6c?api-version=2016-09-01",
                        "RequestMethod":  "GET",
                        "RequestBody":  "",
                        "RequestHeaders":  {
                        "ResponseHeaders":  {
                                                "x-ms-failure-cause":  [
                                                                           "gateway"
                                                                       ],
                                                "x-ms-ratelimit-remaining-subscription-reads":  [
                                                                                                    "11999"
                                                                                                ],
                                                "Content-Type":  [
                                                                     "application/json; charset=utf-8"
                                                                 ]
                        "ResponseBody":  "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group \u0027PSTestRGdfd66a6c\u0027 could not be found.\"\r\n  }\r\n}",
                        "StatusCode":  404
                    },
                    {
                        "RequestUri":  "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourcegroups/PSTestRGdfd66a6c?api-version=2016-09-01",
                        "RequestMethod":  "GET",
                        "RequestBody":  "",
                        "RequestHeaders":  {
                        "ResponseHeaders":  {
                                                "x-ms-ratelimit-remaining-subscription-reads":  [
                                                                                                    "11999"
                                                                                                ],
                                                "Content-Type":  [
                                                                     "application/json; charset=utf-8"
                                                                 ]
                        "ResponseBody":  "{\r\n  \"id\": \"/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourceGroups/PSTestRGdfd66a6c\",\r\n  \"name\": \"PSTestRGdfd66a6c\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
                        "StatusCode":  200
                    },
                    {
                        "RequestUri":  "/subscriptions/e37510d7-33b6-4676-886f-ee75bcc01871/resourcegroups/PSTestRGdfd66a6c?api-version=2016-09-01",
                        "RequestMethod":  "PUT",
                        "RequestBody":  "{\r\n  \"location\": \"southeastasia\"\r\n}",
                        "RequestHeaders":  {
                                               "Conte[...]
