{
  "Entries": [
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"eastus\",\r\n  \"name\": \"hiaga-zrs-vault\",\r\n  \"etag\": \"W/\\\"datetime'2022-12-20T14%3A59%3A47.1354605Z'\\\"\",\r\n  \"tags\": {\r\n    \"MABUsed\": \"yes\",\r\n    \"Purpose\": \"testing\",\r\n    \"Owner\": \"hiaga\",\r\n    \"DeleteBy\": \"01-2099\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"privateEndpointStateForBackup\": \"None\",\r\n    \"privateEndpointStateForSiteRecovery\": \"None\",\r\n    \"backupStorageVersion\": \"V1\",\r\n    \"redundancySettings\": {\r\n      \"standardTierStorageRedundancy\": \"ZoneRedundant\",\r\n      \"crossRegionRestore\": \"Disabled\"\r\n    },\r\n    \"securitySettings\": {\r\n      \"immutabilitySettings\": null,\r\n      \"softDeleteSettings\": {\r\n        \"softDeleteRetentionPeriodInDays\": 14,\r\n        \"softDeleteState\": \"Enabled\"\r\n      },\r\n      \"multiUserAuthorization\": \"Disabled\"\r\n    },\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"restoreSettings\": {\r\n      \"crossSubscriptionRestoreSettings\": {\r\n        \"crossSubscriptionRestoreState\": \"Enabled\"\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n  \"sku\": {\r\n    \"name\": \"RS0\",\r\n    \"tier\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupProtectedItems?$filter=backupManagementType%20eq%20'AzureIaasVM'%20and%20itemType%20eq%20'VM'&api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "299"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;HIAGARG;hiagaNZP/protectedItems/VM;iaasvmcontainerv2;HIAGARG;hiagaNZP\",\r\n      \"name\": \"VM;iaasvmcontainerv2;HIAGARG;hiagaNZP\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"hiagaNZP\",\r\n        \"virtualMachineId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.Compute/virtualMachines/hiagaNZP\",\r\n        \"protectionStatus\": \"Healthy\",\r\n        \"protectionState\": \"Protected\",\r\n        \"healthStatus\": \"Passed\",\r\n        \"healthDetails\": [\r\n          {\r\n            \"code\": 400239,\r\n            \"title\": \"IaasVmHealthGreenDefault\",\r\n            \"message\": \"Backup pre-check status of this virtual machine is OK.\",\r\n            \"recommendations\": []\r\n          }\r\n        ],\r\n        \"lastBackupStatus\": \"Completed\",\r\n        \"lastBackupTime\": \"2023-12-10T08:10:40.01884Z\",\r\n        \"protectedItemDataId\": \"900983809286295468\",\r\n        \"extendedProperties\": {\r\n          \"linuxVmApplicationName\": \"\"\r\n        },\r\n        \"protectedItemType\": \"Microsoft.Compute/virtualMachines\",\r\n        \"backupManagementType\": \"AzureIaasVM\",\r\n        \"workloadType\": \"VM\",\r\n        \"containerName\": \"iaasvmcontainerv2;HIAGARG;hiagaNZP\",\r\n        \"sourceResourceId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.Compute/virtualMachines/hiagaNZP\",\r\n        \"policyId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupPolicies/DailyPolicy-l9ntp153\",\r\n        \"policyName\": \"DailyPolicy-l9ntp153\",\r\n        \"lastRecoveryPoint\": \"2023-12-10T08:10:43.648906Z\",\r\n        \"vaultId\": \"https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault\",\r\n        \"isArchiveEnabled\": false,\r\n        \"softDeleteRetentionPeriod\": 0\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3BHIAGARG%3BhiagaNZP/protectedItems/VM%3Biaasvmcontainerv2%3BHIAGARG%3BhiagaNZP?$filter=expand%20eq%20'extendedinfo'&api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
  [...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3BHIAGARG%3BhiagaNZP/protectedItems/VM%3Biaasvmcontainerv2%3BHIAGARG%3BhiagaNZP/recoveryPoints/172325782667650?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "299"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;HIAGARG;hiagaNZP/protectedItems/VM;iaasvmcontainerv2;HIAGARG;hiagaNZP/recoveryPoints/172325782667650\",\r\n  \"name\": \"172325782667650\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints\",\r\n  \"properties\": {\r\n    \"objectType\": \"IaasVMRecoveryPoint\",\r\n    \"recoveryPointType\": \"FileSystemConsistent\",\r\n    \"recoveryPointTime\": \"2023-11-16T08:11:29.2759718Z\",\r\n    \"recoveryPointAdditionalInfo\": \"\",\r\n    \"sourceVMStorageType\": \"PremiumVMOnPartialPremiumStorage\",\r\n    \"isSourceVMEncrypted\": false,\r\n    \"isInstantIlrSessionActive\": false,\r\n    \"recoveryPointTierDetails\": [\r\n      {\r\n        \"type\": \"InstantRP\",\r\n        \"status\": \"Deleted\"\r\n      },\r\n      {\r\n        \"type\": \"HardenedRP\",\r\n        \"status\": \"Valid\"\r\n      }\r\n    ],\r\n    \"isManagedVirtualMachine\": true,\r\n    \"virtualMachineSize\": \"Standard_DS1_v2\",\r\n    \"originalStorageAccountOption\": false,\r\n    \"osType\": \"Linux\",\r\n    \"recoveryPointMoveReadinessInfo\": {\r\n      \"ArchivedRP\": {\r\n        \"isReadyForMove\": false,\r\n        \"additionalInfo\": \"Recovery point cannot be moved to Archive tier in vaults with Zone-redundant storage enabled.. Please update backend storage type on the vault before retrying the move operation, or use a different vault.\"\r\n      }\r\n    },\r\n    \"securityType\": \"None\",\r\n    \"recoveryPointProperties\": {\r\n      \"expiryTime\": \"2023-12-16T08:11:29.2759718\",\r\n      \"ruleName\": \"Daily\",\r\n      \"isSoftDeleted\": false\r\n    },\r\n    \"isPrivateAccessEnabledOnAnyDisk\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupstorageconfig/vaultstorageconfig?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "299"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupstorageconfig/vaultstorageconfig\",\r\n  \"name\": \"vaultstorageconfig\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupstorageconfig\",\r\n  \"properties\": {\r\n    \"storageModelType\": \"ZoneRedundant\",\r\n    \"storageType\": \"ZoneRedundant\",\r\n    \"dedupState\": \"Disabled\",\r\n    \"xcoolState\": \"Disabled\",\r\n    \"storageTypeState\": \"Locked\",\r\n    \"crossRegionRestoreFlag\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resources?$filter=resourceType%20eq%20'Microsoft.ClassicStorage%2FstorageAccounts'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/iaasvm.existing/providers/Microsoft.ClassicStorage/storageAccounts/iaasextstore2\",\r\n      \"name\": \"iaasextstore2\",\r\n      \"type\": \"Microsoft.ClassicStorage/storageAccounts\",\r\n      \"location\": \"southeastasia\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/gvjreddy_test_rg/providers/Microsoft.ClassicStorage/storageAccounts/gvjreddytestrg8307\",\r\n      \"name\": \"gvjreddytestrg8307\",\r\n      \"type\": \"Microsoft.ClassicStorage/storageAccounts\",\r\n      \"location\": \"eastus\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resources?$filter=resourceType%20eq%20'Microsoft.Storage%2FstorageAccounts'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/iaasvm.existing.crr/providers/Microsoft.Storage/storageAccounts/iaasvmexistingcrrdiag\",\r\n      \"name\": \"iaasvmexistingcrrdiag\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_LRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"kind\": \"Storage\",\r\n      \"location\": \"centraluseuap\",\r\n      \"tags\": {\r\n        \"MAB Used\": \"Yes\",\r\n        \"DeleteBy\": \"01-2030\",\r\n        \"Delete By\": \"01-2030\",\r\n        \"Owner\": \"chgonugu\",\r\n        \"Purpose\": \"Testing\",\r\n        \"AutoShutdown\": \"false\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/iaasvm.existing.crr/providers/Microsoft.Storage/storageAccounts/iaasvmexistingcrrdiag112\",\r\n      \"name\": \"iaasvmexistingcrrdiag112\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_LRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"kind\": \"Storage\",\r\n      \"location\": \"eastus2euap\",\r\n      \"tags\": {\r\n        \"Owner\": \"chgonugu\",\r\n        \"Purpose\": \"Testing\",\r\n        \"MabUsed\": \"Yes\",\r\n        \"DeleteBy\": \"01-2025\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/iaasvm.existing.crr/providers/Microsoft.Storage/storageAccounts/iaasvmexistingcrr\",\r\n      \"name\": \"iaasvmexistingcrr\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_LRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"kind\": \"StorageV2\",\r\n      \"lo[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3BHIAGARG%3BhiagaNZP/protectedItems/VM%3Biaasvmcontainerv2%3BHIAGARG%3BhiagaNZP/recoveryPoints/172325782667650/restore?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"objectType\": \"IaasVMRestoreRequest\",\r\n    \"recoveryPointId\": \"172325782667650\",\r\n    \"recoveryType\": \"AlternateLocation\",\r\n    \"sourceResourceId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.Compute/virtualMachines/hiagaNZP\",\r\n    \"targetVirtualMachineId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.Compute/virtualMachines/czr-pstest-vm\",\r\n    \"targetResourceGroupId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg\",\r\n    \"storageAccountId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.Storage/storageAccounts/hiagaeussa\",\r\n    \"virtualNetworkId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.Network/virtualNetworks/hiagaNZPVNet\",\r\n    \"subnetId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.Network/virtualNetworks/hiagaNZPVNet/subnets/custom\",\r\n    \"region\": \"eastus\",\r\n    \"createNewCloudService\": false,\r\n    \"originalStorageAccountOption\": false,\r\n    \"restoreWithManagedDisks\": false,\r\n    \"zones\": [\r\n      \"2\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;HIAGARG;hiagaNZP/protectedItems/VM;iaasvmcontainerv2;HIAGARG;hiagaNZP/operationResults/c4dac34c-fbce-4055-a852-2c5de1842524?api-version=2023-04-01"
        ],
        "Retry-After": [
          "60"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;HIAGARG;hiagaNZP/protectedItems/VM;iaasvmcontainerv2;HIAGARG;hiagaNZP/operationsStatus/c4dac34c-fbce-4055-a852-2c5de1842524?api-version=2023-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;HIAGARG;hiagaNZP/protectedItems/VM;iaasvmcontainerv2;HIAGARG;hiagaNZP/operationsStatus/c4dac34c-fbce-4055-a852-2c5de1842524?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "299"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"c4dac34c-fbce-4055-a852-2c5de1842524\",\r\n  \"name\": \"c4dac34c-fbce-4055-a852-2c5de1842524\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2023-12-11T03:22:08.5864737Z\",\r\n  \"endTime\": \"2023-12-11T03:22:08.5864737Z\",\r\n  \"properties\": {\r\n    \"objectType\": \"OperationStatusJobExtendedInfo\",\r\n    \"jobId\": \"c4dac34c-fbce-4055-a852-2c5de1842524\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;HIAGARG;hiagaNZP/protectedItems/VM;iaasvmcontainerv2;HIAGARG;hiagaNZP/operationResults/c4dac34c-fbce-4055-a852-2c5de1842524?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;HIAGARG;hiagaNZP/protectedItems/VM;iaasvmcontainerv2;HIAGARG;hiagaNZP/operationsStatus/c4dac34c-fbce-4055-a852-2c5de1842524?api-version=2023-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "299"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupOperations/c4dac34c-fbce-4055-a852-2c5de1842524?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "299"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"c4dac34c-fbce-4055-a852-2c5de1842524\",\r\n  \"name\": \"c4dac34c-fbce-4055-a852-2c5de1842524\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2023-12-11T03:22:08.5864737Z\",\r\n  \"endTime\": \"2023-12-11T03:22:08.5864737Z\",\r\n  \"properties\": {\r\n    \"objectType\": \"OperationStatusJobExtendedInfo\",\r\n    \"jobId\": \"c4dac34c-fbce-4055-a852-2c5de1842524\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupJobs/c4dac34c-fbce-4055-a852-2c5de1842524?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "449"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupJobs/c4dac34c-fbce-4055-a852-2c5de1842524\",\r\n  \"name\": \"c4dac34c-fbce-4055-a852-2c5de1842524\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupJobs\",\r\n  \"properties\": {\r\n    \"jobType\": \"AzureIaaSVMJob\",\r\n    \"actionsInfo\": [\r\n      \"Cancellable\"\r\n    ],\r\n    \"containerName\": \"iaasvmcontainerv2;HIAGARG;hiagaNZP\",\r\n    \"duration\": \"PT1M3.5248283S\",\r\n    \"virtualMachineVersion\": \"Compute\",\r\n    \"extendedInfo\": {\r\n      \"tasksList\": [\r\n        {\r\n          \"taskId\": \"Transfer data from vault\",\r\n          \"duration\": \"PT0S\",\r\n          \"status\": \"InProgress\"\r\n        },\r\n        {\r\n          \"taskId\": \"Create the restored virtual machine\",\r\n          \"duration\": \"PT0S\",\r\n          \"status\": \"NotStarted\"\r\n        }\r\n      ],\r\n      \"propertyBag\": {\r\n        \"Job Type\": \"Recover VM to an alternate location\",\r\n        \"Original VM Name\": \"hiagaNZP\",\r\n        \"Target VM Name\": \"czr-pstest-vm\",\r\n        \"Target VNet Name\": \"Group hiagarg hiagaNZPVNet\",\r\n        \"Target Storage Account Name\": \"hiagaeussa\",\r\n        \"Recovery point time \": \"11/16/2023 8:11:29 AM\",\r\n        \"Target resource group\": \"hiagarg\"\r\n      },\r\n      \"internalPropertyBag\": {\r\n        \"restoreLocationType\": \"AlternateLocation\"\r\n      },\r\n      \"progressPercentage\": 1.0\r\n    },\r\n    \"entityFriendlyName\": \"hiagaNZP\",\r\n    \"backupManagementType\": \"AzureIaasVM\",\r\n    \"operation\": \"Restore\",\r\n    \"status\": \"InProgress\",\r\n    \"startTime\": \"2023-12-11T03:22:08.5864737Z\",\r\n    \"activityId\": \"ecaf2565-7b76-4ebd-89a9-38d811be3d7e\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupJobs/c4dac34c-fbce-4055-a852-2c5de1842524?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "447"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiaga-zrs-vault/backupJobs/c4dac34c-fbce-4055-a852-2c5de1842524\",\r\n  \"name\": \"c4dac34c-fbce-4055-a852-2c5de1842524\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupJobs\",\r\n  \"properties\": {\r\n    \"jobType\": \"AzureIaaSVMJob\",\r\n    \"actionsInfo\": [\r\n      \"Cancellable\"\r\n    ],\r\n    \"containerName\": \"iaasvmcontainerv2;HIAGARG;hiagaNZP\",\r\n    \"duration\": \"PT13M36.1600813S\",\r\n    \"virtualMachineVersion\": \"Compute\",\r\n    \"extendedInfo\": {\r\n      \"tasksList\": [\r\n        {\r\n          \"taskId\": \"Transfer data from vault\",\r\n          \"duration\": \"PT0S\",\r\n          \"status\": \"Completed\",\r\n          \"taskExecutionDetails\": \"30 GBs / 30 GBs Transferred\"\r\n        },\r\n        {\r\n          \"taskId\": \"Create the restored virtual machine\",\r\n          \"duration\": \"PT0S\",\r\n          \"status\": \"InProgress\"\r\n        }\r\n      ],\r\n      \"propertyBag\": {\r\n        \"Job Type\": \"Recover VM to an alternate location\",\r\n        \"Original VM Name\": \"hiagaNZP\",\r\n        \"Target VM Name\": \"czr-pstest-vm\",\r\n        \"Target VNet Name\": \"Group hiagarg hiagaNZPVNet\",\r\n        \"Target Storage Account Name\": \"hiagaeussa\",\r\n        \"Recovery point time \": \"11/16/2023 8:11:29 AM\",\r\n        \"Target resource group\": \"hiagarg\"\r\n      },\r\n      \"internalPropertyBag\": {\r\n        \"restoreLocationType\": \"AlternateLocation\"\r\n      },\r\n      \"progressPercentage\": 57.0,\r\n      \"estimatedRemainingDuration\": \"PT10M\"\r\n    },\r\n    \"entityFriendlyName\": \"hiagaNZP\",\r\n    \"backupManagementType\": \"AzureIaasVM\",\r\n    \"operation\": \"Restore\",\r\n    \"status\": \"InProgress\",\r\n    \"startTime\": \"2023-12-11T03:22:08.5864737Z\",\r\n    \"activityId\": \"ecaf2565-7b76-4ebd-89a9-38d811be3d7e\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.Compute/virtualMachines/czr-pstest-vm?api-version=2023-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.Compute/locations/eastus/operations/e197e576-a266-4472-beb0-57[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.Compute/locations/eastus/operations/e197e576-a266-4472-beb0-57a0379c70c2?p=fd7fc82b-5b0e-4e79-bee5-0bb5dc2f48d1&api-version=2023-07-01&t=638378626397841985&c=MIIHADCCBeigAwIBAgITHgOOMBozud4ntKDx9AAAA44wGjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDE1MTU0WhcNMjQxMDI2MDE1MTU0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25[...]
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.Compute/locations/eastus/operations/e197e576-a266-4472-beb0-57a0379c70c2?p=fd7fc82b-5b0e-4e79-bee5-0bb5dc2f48d1&monitor=true&api-version=2023-07-01&t=638378626397998252&c=MIIHADCCBeigAwIBAgITHgOOMBozud4ntKDx9AAAA44wGjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAxMDE1MTU0WhcNMjQxMDI2MDE1MTU0WjBAMT4wPAYDVQQDEzVhc3luY29wZX[...]
