{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.RecoveryServices?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourcegroups/PSTestRGee74bed3?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "d8d2649c-fa38-4589-adff-c499c84f951e"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.3132.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17134",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.RecoveryServices\",\r\n  \"namespace\": \"Microsoft.RecoveryServices\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"262044b1-e2ce-469f-a196-69ab7ada62d3\",\r\n    \"roleDefinitionId\": \"21CEC436-F7D0-4ADE-8AD8-FEC5668484CC\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"vaults\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"Brazil South\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2018-01-10\",\r\n        \"2017-07-01-preview\",\r\n        \"2017-07-01\",\r\n        \"2016-12-01\",\r\n        \"2016-08-10\",\r\n        \"2016-06-01\",\r\n        \"2016-05-01\",\r\n        \"2015-12-15\",\r\n        \"2015-12-10\",\r\n        \"2015-11-10\",\r\n        \"2015-08-15\",\r\n        \"2015-08-10\",\r\n        \"2015-06-10\",\r\n        \"2015-03-15\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locations\": [\r\n        \"Southeast Asia\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2016-08-10\",\r\n        \"2016-06-01\",\r\n        \"2015-12-15\",\r\n        \"2015-12-10\",\r\n        \"2015-11-10\",\r\n        \"2015-08-15\",\r\n        \"2015-08-10\",\r\n        \"2015-06-10\",\r\n        \"2015-03-15\"\r\n      ]\r\n    },\r\n    {\r\n[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/PSTestRG2552ccb2?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'PSTestRG2552ccb2' could not be found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
=======
        "Date": [
          "Mon, 21 Dec 2020 16:17:35 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
<<<<<<< HEAD
        "Pragma": [
          "no-cache"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "x-ms-request-id": [
          "6f289989-8329-4e20-aef2-43d81856c789"
        ],
        "x-ms-correlation-request-id": [
          "6f289989-8329-4e20-aef2-43d81856c789"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180827T191639Z:6f289989-8329-4e20-aef2-43d81856c789"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Mon, 27 Aug 2018 19:16:38 GMT"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/PSTestRG2552ccb2?api-version=2016-09-01",
=======
        "Content-Length": [
          "108"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'PSTestRGee74bed3' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourcegroups/PSTestRGee74bed3?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "9e8ae9cb-7a83-4e58-9459-7ae9fd42a8c9"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.3132.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17134",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG2552ccb2\",\r\n  \"name\": \"PSTestRG2552ccb2\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "0933bdda-631b-430a-9c84-31b56b9ac0bf"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.29"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
         [...]
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG2552ccb2/providers/Microsoft.Compute/virtualMachines/PSTestVM2552c0?api-version=2018-04-01",
=======
        "Date": [
          "Mon, 21 Dec 2020 16:17:36 GMT"
        ],
        "Content-Length": [
          "192"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGee74bed3\",\r\n  \"name\": \"PSTestRGee74bed3\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGee74bed3/providers/Microsoft.Compute/virtualMachines/PSTestVMee74b0?api-version=2020-06-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.3132.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17134",
          "Microsoft.Azure.Management.Compute.ComputeManagementClient/21.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"vmId\": \"5f5176c9-d30a-417f-8bf7-ff16c795dbf7\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D1\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2016-Datacenter\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"PSTestVM2552c0_OsDisk_1_49cbd37ce2bd4ca28ce48cfd4c229524\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\",\r\n          \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG2552ccb2/providers/Microsoft.Compute/disks/PSTestVM2552c0_OsDisk_1_49cbd37ce2bd4ca28ce48cfd4c229524\"\r\n        },\r\n        \"diskSizeGB\": 127\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"PSTestVM2552c0\",\r\n      \"adminUsername\": \"demouser\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": false\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG2552ccb2/providers/Microsoft.Network/networkInterfaces/PSTestNIC2552c0\"\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": true,\r\n        \"storageUri\": \"https://smokesatest5169.blob.core.windows.net/\"\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG2552ccb2/providers/Microsoft.Compute/virtualMachines/PSTestVM2552c0\",\r\n  \"name\": \"PSTestVM2552c0\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.Compute.ComputeManagementClient/39.0.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-resource": [
<<<<<<< HEAD
          "Microsoft.Compute/LowCostGet3Min;3996,Microsoft.Compute/LowCostGet30Min;31995"
=======
          "Microsoft.Compute/LowCostGet3Min;3991,Microsoft.Compute/LowCostGet30Min;31990"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "x-ms-served-by": [
          "92ee2ba5-d1cb-4536-af4e-e306b67c70d2_131798689646080656"
        ],
        "x-ms-request-id": [
          "d036a2a9-c604-4564-8b7f-f57782a99420"
        ],
        "Cache-Control": [
          "no-cache"
=======
        "x-ms-request-id": [
          "d47d31c2-5fbb-4b19-9aad-b298f5e3810b"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11993"
        ],
        "x-ms-correlation-request-id": [
          "00c39c24-83eb-433c-b37d-b0f022b3176b"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180827T192217Z:00c39c24-83eb-433c-b37d-b0f022b3176b"
=======
          "11995"
        ],
        "x-ms-correlation-request-id": [
          "ab72d8e3-2bba-479d-a5bf-7000bb82b0d5"
        ],
        "x-ms-routing-request-id": [
          "WESTINDIA:20201221T161950Z:ab72d8e3-2bba-479d-a5bf-7000bb82b0d5"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 27 Aug 2018 19:22:17 GMT"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG2552ccb2/providers/Microsoft.Compute/virtualMachines/PSTestVM2552c0?api-version=2018-04-01",
=======
          "Mon, 21 Dec 2020 16:19:49 GMT"
        ],
        "Content-Length": [
          "2184"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"PSTestVMee74b0\",\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGee74bed3/providers/Microsoft.Compute/virtualMachines/PSTestVMee74b0\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"AutoShutDown\": \"No\",\r\n    \"Purpose\": \"PSTest\",\r\n    \"DeleteBy\": \"05-2020\",\r\n    \"MabUsed\": \"Yes\",\r\n    \"Owner\": \"sarath\"\r\n  },\r\n  \"properties\": {\r\n    \"vmId\": \"0155c20b-9540-4498-9be5-daac97ff6df4\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D1_v2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2016-Datacenter\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\": \"14393.4104.2012040817\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"PSTestVMee74b0_OsDisk_1_2614396f497446f7bb2f2a7fbbe63968\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\",\r\n          \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGee74bed3/providers/Microsoft.Compute/disks/PSTestVMee74b0_OsDisk_1_2614396f497446f7bb2f2a7fbbe63968\"\r\n        },\r\n        \"diskSizeGB\": 127\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"PSTestVMee74b0\",\r\n      \"adminUsername\": \"demouser\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": false,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"Manual\"\r\n        }\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGee74bed3/providers/Microsoft.Network/networkInterfaces/PSTestNICee74b0\"\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": true,\r\n        \"storageUri\": \"https://aasavigationestdiag.blob.core.windows.net/\"\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG2552ccb2/providers/Microsoft.Network/virtualNetworks/PSTestVNET2552c0?api-version=2018-04-01",
=======
          "Mon, 21 Dec 2020 16:22:24 GMT"
        ],
        "Content-Length": [
          "2747"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"PSTestVM[...]
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGee74bed3/providers/Microsoft.Network/virtualNetworks/PSTestVNETee74b0?api-version=2020-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.3132.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17134",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.1.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"PSTestVNET2552c0\",\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG2552ccb2/providers/Microsoft.Network/virtualNetworks/PSTestVNET2552c0\",\r\n  \"etag\": \"W/\\\"10f47174-74aa-48a6-9342-812c9c406e4d\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"23ff8dc9-a07a-449d-bb82-082191fb4325\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"PSTestSNC2552c0\",\r\n        \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG2552ccb2/providers/Microsoft.Network/virtualNetworks/PSTestVNET2552c0/subnets/PSTestSNC2552c0\",\r\n        \"etag\": \"W/\\\"10f47174-74aa-48a6-9342-812c9c406e4d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"192.168.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": []\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.2.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
        "x-ms-request-id": [
          "895a9812-f68d-4002-bbb8-1265ff5fedab"
        ],
        "x-ms-correlation-request-id": [
          "885893da-6c7c-4e02-81a9-fe21694905c5"
=======
        "ETag": [
          "W/\"9a3d5334-54fb-4c03-bf73-21d61cd3188c\""
        ],
        "x-ms-request-id": [
          "e4a1dd39-a977-424f-8687-1b24121cb82a"
        ],
        "x-ms-correlation-request-id": [
          "13d114b4-544c-4cbf-8be9-9bb3d70e338f"
        ],
        "x-ms-arm-service-request-id": [
          "63003a9d-1563-45cb-ac1a-cc67cb92ab4e"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "ETag": [
          "W/\"10f47174-74aa-48a6-9342-812c9c406e4d\""
        ],
=======
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "x-ms-routing-request-id": [
<<<<<<< HEAD
          "WESTUS2:20180827T191653Z:885893da-6c7c-4e02-81a9-fe21694905c5"
=======
          "WESTINDIA:20201221T161745Z:13d114b4-544c-4cbf-8be9-9bb3d70e338f"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 27 Aug 2018 19:16:52 GMT"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG2552ccb2/providers/Microsoft.Network/virtualNetworks/PSTestVNET2552c0?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"192.168.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"resourceNavigationLinks\": []\r\n        },\r\n        \"name\": \"PSTestSNC2552c0\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"PSTestVNET2552c0\",\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGee74bed3/providers/Microsoft.Network/virtualNetworks/PSTestVNETee74b0?api-version=2020-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"192.168.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"PSTestSNCee74b0\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"southeastasia\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
<<<<<<< HEAD
        "Expires": [
          "-1"
=======
        "Content-Length": [
          "699"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "Retry-After": [
          "3"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "f1a70bac-5a11-4db7-85d2-a02dac3a2ef5"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/f1a70bac-5a11-4db7-85d2-a02dac3a2ef5?api-version=2018-04-01"
        ],
        "x-ms-correlation-request-id": [
          "cde88bf6-4ce6-4a4a-afaa-db216f9dfc9d"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Cache-Control": [
          "no-cache"
=======
          "36fef4b2-8434-49c5-bdaa-8a9b9db60d21"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.Network/locations/southeastasia/operations/36fef4b2-8434-49c5-bdaa-8a9b9db60d21?api-version=2020-07-01"
        ],
        "x-ms-correlation-request-id": [
          "36a142cd-bbc1-4da6-8a57-cd2b795fdd2b"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-arm-service-request-id": [
          "94d32fa3-eae3-4415-86cb-e4b51387efe1"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-routing-request-id": [
          "WESTUS2:20180827T191643Z:cde88bf6-4ce6-4a4a-afaa-db216f9dfc9d"
=======
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-routing-request-id": [
          "WESTINDIA:20201221T161742Z:36a142cd-bbc1-4da6-8a57-cd2b795fdd2b"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 27 Aug 2018 19:16:42 GMT"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/f1a70bac-5a11-4db7-85d2-a02dac3a2ef5?api-version=2018-04-01",
=======
          "Mon, 21 Dec 2020 16:17:42 GMT"
        ],
        "Content-Length": [
          "1347"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"PSTestVN[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.Network/locations/southeastasia/operations/36fef4b2-8434-49c5-bdaa-8a9b9db60d21?api-version=2020-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.3132.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17134",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.1.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.2.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        [...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG2552ccb2/providers/Microsoft.Network/publicIPAddresses/pstestpublicdns2552c0?api-version=2018-04-01",
=======
          "Mon, 21 Dec 2020 16:17:45 GMT"
        ],
        "Content-Length": [
          "29"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGee74bed3/providers/Microsoft.Network/publicIPAddresses/pstestpublicdnsee74b0?api-version=2020-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.3132.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17134",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.1.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pstestpublicdns2552c0\",\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG2552ccb2/providers/Microsoft.Network/publicIPAddresses/pstestpublicdns2552c0\",\r\n  \"etag\": \"W/\\\"fd80cb16-9cb2-4f2e-8666-9b8b3f01231b\\\"\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"ddd7578e-142f-49b4-9622-a9d5fc258f07\",\r\n    \"ipAddress\": \"40.118.148.28\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.2.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<[...]
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG2552ccb2/providers/Microsoft.Network/publicIPAddresses/pstestpublicdns2552c0?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"ipTags\": [],\r\n    \"idleTimeoutInMinutes\": 4\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pstestpublicdns2552c0\",\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG2552ccb2/providers/Microsoft.Network/publicIPAddresses/pstestpublicdns2552c0\",\r\n  \"etag\": \"W/\\\"2dd9c831-2fd0-4f93-ad05-df5e1510661a\\\"\",\r\n  \"location\": \"westus\",\r\n  \"p[...]
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG2552ccb2/providers/Microsoft.Network/networkSecurityGroups/PSTestNSG2552c0?api-version=2018-04-01",
=======
          "Mon, 21 Dec 2020 16:17:48 GMT"
        ],
        "Content-Length": [
          "29"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
[...]
