{
  "Entries": [
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"eastus2euap\",\r\n  \"name\": \"clitest-vault-secondary-donotuse\",\r\n  \"etag\": \"W/\\\"datetime'2023-02-08T09%3A50%3A02.669519Z'\\\"\",\r\n  \"tags\": {\r\n    \"Owner\": \"akneema\",\r\n    \"Purpose\": \"Testing\",\r\n    \"MABUsed\": \"Yes\",\r\n    \"DeleteBy\": \"12-9999\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"privateEndpointStateForBackup\": \"None\",\r\n    \"privateEndpointStateForSiteRecovery\": \"None\",\r\n    \"backupStorageVersion\": \"V1\",\r\n    \"securitySettings\": {\r\n      \"immutabilitySettings\": null,\r\n      \"softDeleteSettings\": {\r\n        \"softDeleteRetentionPeriodInDays\": 14,\r\n        \"softDeleteState\": \"Enabled\",\r\n        \"enhancedSecurityState\": \"Enabled\"\r\n      },\r\n      \"multiUserAuthorization\": \"Disabled\"\r\n    },\r\n    \"redundancySettings\": {\r\n      \"standardTierStorageRedundancy\": \"GeoRedundant\",\r\n      \"crossRegionRestore\": \"Disabled\"\r\n    },\r\n    \"secureScore\": \"None\",\r\n    \"bcdrSecurityLevel\": \"Poor\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"restoreSettings\": {\r\n      \"crossSubscriptionRestoreSettings\": {\r\n        \"crossSubscriptionRestoreState\": \"Enabled\"\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n  \"sku\": {\r\n    \"name\": \"RS0\",\r\n    \"tier\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupProtectedItems/?$filter=backupManagementType%20eq%20'AzureWorkload'%20and%20itemType%20eq%20'SQLDataBase'&api-version=2021-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "299"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;hiagarg;sql-migration-vm2/protectedItems/SQLDataBase;mssqlserver;model\",\r\n      \"name\": \"SQLDataBase;mssqlserver;model\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"model\",\r\n        \"serverName\": \"sql-migration-v\",\r\n        \"parentName\": \"MSSQLSERVER\",\r\n        \"parentType\": \"AzureVmWorkloadSQLInstance\",\r\n        \"protectionStatus\": \"Healthy\",\r\n        \"protectionState\": \"Protected\",\r\n        \"lastBackupStatus\": \"Healthy\",\r\n        \"lastBackupTime\": \"2024-03-11T14:29:06.2116087Z\",\r\n        \"protectedItemDataSourceId\": \"160905541\",\r\n        \"protectedItemHealthStatus\": \"NotReachable\",\r\n        \"protectedItemType\": \"AzureVmWorkloadSQLDatabase\",\r\n        \"backupManagementType\": \"AzureWorkload\",\r\n        \"workloadType\": \"SQLDataBase\",\r\n        \"containerName\": \"VMAppContainer;compute;hiagarg;sql-migration-vm2\",\r\n        \"sourceResourceId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.Compute/virtualMachines/sql-migration-vm2\",\r\n        \"policyId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupPolicies/HourlyLogBackup\",\r\n        \"vaultId\": \"https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault\",\r\n        \"isArchiveEnabled\": false,\r\n        \"softDeleteRetentionPeriod\": 0\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;hiagarg;sql-migration-vm2/protectedItems/SQLDataBase;mssqlserver;master\",\r\n      \"name\": \"SQLDataBase;mssqlserver;master\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems\",\r\n      \"prope[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bhiagarg%3Bsql-pstest-vm1/protectedItems/SQLDataBase%3Bmssqlserver%3Bmodel/recoveryPoints/174141832383313?api-version=2021-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "299"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;hiagarg;sql-pstest-vm1/protectedItems/SQLDataBase;mssqlserver;model/recoveryPoints/174141832383313\",\r\n  \"name\": \"174141832383313\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints\",\r\n  \"properties\": {\r\n    \"objectType\": \"AzureWorkloadSQLRecoveryPoint\",\r\n    \"extendedInfo\": {\r\n      \"dataDirectoryTimeInUTC\": \"2024-04-20T23:03:53Z\",\r\n      \"dataDirectoryPaths\": [\r\n        {\r\n          \"type\": \"Data\",\r\n          \"path\": \"C:\\\\Program Files\\\\Microsoft SQL Server\\\\MSSQL14.MSSQLSERVER\\\\MSSQL\\\\DATA\\\\model.mdf\",\r\n          \"logicalName\": \"modeldev\"\r\n        },\r\n        {\r\n          \"type\": \"Log\",\r\n          \"path\": \"C:\\\\Program Files\\\\Microsoft SQL Server\\\\MSSQL14.MSSQLSERVER\\\\MSSQL\\\\DATA\\\\modellog.ldf\",\r\n          \"logicalName\": \"modellog\"\r\n        }\r\n      ],\r\n      \"snapshotRecoveryPointInfo\": {}\r\n    },\r\n    \"recoveryPointTimeInUTC\": \"2024-04-20T23:03:53Z\",\r\n    \"type\": \"Full\",\r\n    \"crossRegionRestoreState\": \"Supported\",\r\n    \"recoveryPointTierDetails\": [\r\n      {\r\n        \"type\": \"HardenedRP\",\r\n        \"status\": \"Valid\"\r\n      }\r\n    ],\r\n    \"recoveryPointMoveReadinessInfo\": {\r\n      \"ArchivedRP\": {\r\n        \"isReadyForMove\": false,\r\n        \"additionalInfo\": \"Recovery-Point having active dependencies for restore is not eligible for Archive Move. \"\r\n      }\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectionContainers?$filter=backupManagementType%20eq%20'AzureWorkload'&api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "299"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;clitest-rg-donotuse;clitest-sql-secondary-donotuse\",\r\n      \"name\": \"VMAppContainer;Compute;clitest-rg-donotuse;clitest-sql-secondary-donotuse\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers\",\r\n      \"properties\": {\r\n        \"sourceResourceId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/clitest-rg-donotuse/providers/Microsoft.Compute/virtualMachines/clitest-sql-secondary-donotuse\",\r\n        \"lastUpdatedTime\": \"2021-09-21T16:08:51.492522Z\",\r\n        \"extendedInfo\": {\r\n          \"hostServerName\": \"clitest-sql-sec\",\r\n          \"inquiryInfo\": {\r\n            \"status\": \"Success\",\r\n            \"errorDetail\": {\r\n              \"code\": \"Success\",\r\n              \"message\": \"\",\r\n              \"recommendations\": [\r\n                \"\"\r\n              ]\r\n            },\r\n            \"inquiryDetails\": [\r\n              {\r\n                \"type\": \"SQL\",\r\n                \"itemCount\": 22,\r\n                \"inquiryValidation\": {\r\n                  \"status\": \"Success\",\r\n                  \"errorDetail\": {\r\n                    \"code\": \"Success\",\r\n                    \"message\": \"\",\r\n                    \"recommendations\": [\r\n                      \"\"\r\n                    ]\r\n                  },\r\n                  \"additionalDetail\": \"\"\r\n                }\r\n              }\r\n            ]\r\n          }\r\n        },\r\n        \"friendlyName\": \"clitest-sql-secondary-donotuse\",\r\n        \"backupManagementType\": \"AzureWorkload\",\r\n        \"registrationStatus\": \"Registered\",\r\n        \"healthStatus\": \"Healthy\",\r\n        \"containerType\": \"VMAppContainer\",\r\n        \"protectableObjectType\": \"VMAppContainer\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectedItems?$filter=backupManagementType%20eq%20'AzureWorkload'%20and%20itemType%20eq%20'SQLDataBase'&api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectableItems?$filter=backupManagementType%20eq%20'AzureWorkload'%20and%20workloadType%20eq%20'SQLDataBase'&api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "299"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;clitest-rg-donotuse;clitest-sql-secondary-donotuse/protectableItems/sqlinstance;mssqlserver\",\r\n      \"name\": \"sqlinstance;mssqlserver\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems\",\r\n      \"properties\": {\r\n        \"parentName\": \"MSSQLSERVER\",\r\n        \"serverName\": \"clitest-sql-sec\",\r\n        \"isAutoProtectable\": true,\r\n        \"isAutoProtected\": false,\r\n        \"subinquireditemcount\": 22,\r\n        \"subprotectableitemcount\": 22,\r\n        \"prebackupvalidation\": {\r\n          \"status\": \"Success\",\r\n          \"code\": \"Success\"\r\n        },\r\n        \"IsProtectable\": false,\r\n        \"backupManagementType\": \"AzureWorkload\",\r\n        \"workloadType\": \"SQL\",\r\n        \"protectableItemType\": \"SQLInstance\",\r\n        \"friendlyName\": \"MSSQLSERVER\",\r\n        \"protectionState\": \"NotProtected\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;clitest-rg-donotuse;clitest-sql-secondary-donotuse/protectableItems/sqldatabase;mssqlserver;master\",\r\n     [...]
    {
      "RequestUri": "/Subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupProtectionIntents?$filter=itemType%20eq%20'sqlinstance'%20and%20itemName%20eq%20'mssqlserver'%20and%20parentName%20eq%20'vmappcontainer%3Bcompute%3Bclitest-rg-donotuse%3Bclitest-sql-secondary-donotuse'%20and%20backupManagementType%20eq%20'AzureWorkload'&api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "299"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/clitest-rg-donotuse/providers/Microsoft.RecoveryServices/vaults/clitest-vault-secondary-donotuse/backupFabrics/Azure/protectionContainers/vmappcontainer%3Bcompute%3Bclitest-rg-donotuse%3Bclitest-sql-secondary-donotuse/items?$filter=workloadItemType%20eq%20'SQLInstance'%20and%20backupManagementType%20eq%20'AzureWorkload'&api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
   [...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupAadProperties?$filter=backupManagementType%20eq%20'AzureWorkload'&api-version=2021-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"tenantId\": \"33e01921-4d64-4f8c-a055-5bdaffd5e33d\",\r\n    \"audience\": \"https://RecoveryServices/WkloadCoord/aadmgmt/ecy\",\r\n    \"servicePrincipalObjectId\": \"1b8029ee-c6a9-4e01-a52b-5bb44807b831\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/VMAppContainer%3Bcompute%3Bhiagarg%3Bsql-pstest-vm1/protectedItems/SQLDataBase%3Bmssqlserver%3Bmodel/recoveryPoints/174141832383313/accessToken?api-version=2021-11-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"tenantId\": \"33e01921-4d64-4f8c-a055-5bdaffd5e33d\",\r\n    \"audience\": \"https://RecoveryServices/WkloadCoord/aadmgmt/ecy\",\r\n    \"servicePrincipalObjectId\": \"1b8029ee-c6a9-4e01-a52b-5bb44807b831\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"protectableObjectUniqueName\": \"MSSQLSERVER/model\",\r\n    \"protectableObjectFriendlyName\": \"model\",\r\n    \"protectableObjectWorkloadType\": \"SQL\",\r\n    \"protectableObjectProtectionState\": \"Protected\",\r\n    \"protectableObjectContainerHostOsName\": \"sql-pstest-vm1\",\r\n    \"protectableObjectParentLogicalContainerName\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.Compute/virtualMachines/sql-pstest-vm1\",\r\n    \"containerId\": \"3001351\",\r\n    \"policyName\": \"HourlyLogBackup\",\r\n    \"policyId\": \"0b429c24-fa86-4c5b-a63c-8f9062ba937d\",\r\n    \"objectType\": \"WorkloadCrrAccessToken\",\r\n    \"accessTokenString\": \"eyJhbGciOiJSUzI1NiIsImtpZCI6IkNGMDJCRTg4NTg3OUYzNDJBNjU5Q0FCMkM2QzA2Mjg1RTAyREQ0QjUiLCJ4NXQiOiJ6d0staUZoNTgwS21XY3F5eHNCaWhlQXQxTFUiLCJ0eXAiOiJKV1QifQ.eyJVc2VySWRlbnRpdHlUeXBlIjoiQUFEIiwiQWFkVGVuYW50SWQiOiIzM2UwMTkyMS00ZDY0LTRmOGMtYTA1NS01YmRhZmZkNWUzM2QiLCJBYWRTUE9iamVjdElkIjoiMWI4MDI5ZWUtYzZhOS00ZTAxLWE1MmItNWJiNDQ4MDdiODMxIiwiUGl0UGVybWlzc2lvbnMiOiJSZWFkIiwiQmFja3VwVmF1bHRJRCI6IjYwODQ5NjA5ODI3ODc0Mzc5MDYiLCJDb250YWluZXJJRCI6IjMwMDEzNTEiLCJEYXRhc291cmNlSUQiOiI3MTYwNTkwNDgiLCJQaXRJRCI6IjE3NDE0MTgzMjM4MzMxMyIsImlzc2lkIjoiYTE3MWYwZmUtMTA0MC00YjJkLTgzY2QtOTA2MjhlYmJlMDhlIiwiaHR0cDovL3NjaGVtYXMud2luZG93c2Nsb3VkYmFja3VwLmNvbS8yMDEwLzEwL2lkZW50aXR5L2NsYWltcy9yZXNvdXJjZWlkIjoiNjA4NDk2MDk4Mjc4NzQzNzkwNiIsImh0dHA6Ly9zY2hlbWFzLndpbmRvd3NjbG91ZGJhY2t1cC5jb20vMjAxMC8xMC9pZGVudGl0eS9jbGFpbXMvY29udGFpbmVyaWQiOiIzMDAxMzUxIiwibmJmIjoxNzEzNzg2ODg1LCJleHAiOjE3MTM4NzMyODUsImlhdCI6MTcxMzc4NjU4NSwiaXNzIjoiaHR0cDovL21pY3Jvc29mdC5kYXRhcHJvdGVjdGlvbi9pc3N1ZXJzL2ExNzFmMGZlLTEwNDAtNGIyZC04M2NkLTkwNjI4ZWJiZTA4ZSIsImF1ZCI6Imh0dHA6Ly9taWNyb3NvZnQuZGF0YXByb3RlY3Rpb24vUHJvdGVjdGlvblNlcnZpY2UifQ.DfACrFiE2qlj_h5mMx86_nftoJqtItdIWay1dOUQ7q6_4Nu4D-rJtLBcA-lg7R9ks2ooXKASBzYX1AMO7CNFbmB2pUFup_BrowRdVE166kyQAhgoc1cfIqXiqdTvwpi7MndbkTpgip5S-4_tGgXkKmeRFGcQZ7kEbmUugHcUv_GyWRC4qIpT_uR5t4c6-nNPU0wzCZoLir1R12-SyeZ_Tf1-BZ2kgfAqfdad27yn20Vc6J2hYzdrb25sfSKiIQCI9pf9SXZdEB6Wz7Ofo3sV0z3yPeSS5ls1t9k1eiiJYmPvPs2qPqkpYBnw4Kj8PqSzhiZ1W1Ah0ys9BLxqjwXjUw\",\r\n    \"subscriptionId\": \"38304e13-357e-405e-9e9a-220351dcce8c\",\r\n    \"resourceGroupName\": \"hiagarg\",\r\n    \"resourceName\": \"hiagaVault\",\r\n    \"resourceId\": \"6084960982787437906\",\r\n    \"protectionContainerId\": 3001351,\r\n    \"recoveryPointId\": \"174141832383313\",\r\n    \"recoveryPointTime\": \"4/20/2024 11:03:53 PM\",\r\n    \"containerName\": \"Compute;hiagarg;sql-pstest-vm1\",\r\n    \"containerType\": \"VMAppContainer\",\r\n    \"backupManagementType\": \"AzureWorkload\",\r\n    \"datasourceType\": \"SQLDataBase\",\r\n    \"datasourceName\": \"model\",\r\n    \"datasourceId\": \"716059048\",\r\n    \"datasourceContainerName\": \"compute;hiagarg;sql-pstest-vm1\",\r\n    \"coordinatorServiceStampId\": \"6367f474-c521-46cb-8bdb-b4daa8888f1e\",\r\n    \"coordinatorServiceStampUri\": \"https://pod01-wbcm1.ccy.backup.windowsazure.com\",\r\n    \"protectionServiceStampId\": \"90d98224-2ac6-4bda-9f35-33fb22841f2a\",\r\n    \"protectionServiceStampUri\": \"https://pod01-prot1-int.ccy.backup.windowsazure.com\",\r\n    \"rpOriginalSAOption\": false,\r\n    \"rpIsManagedVirtualMachine\": false,\r\n    \"bMSActiveRegion\": \"CentralUSEUAP\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrossRegionRestore?api-version=2021-11-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"crossRegionRestoreAccessDetails\": {\r\n    \"objectType\": \"WorkloadCrrAccessToken\",\r\n    \"protectableObjectUniqueName\": \"MSSQLSERVER/model\",\r\n    \"protectableObjectFriendlyName\": \"model\",\r\n    \"protectableObjectWorkloadType\": \"SQL\",\r\n    \"protectableObjectProtectionState\": \"Protected\",\r\n    \"protectableObjectContainerHostOsName\": \"sql-pstest-vm1\",\r\n    \"protectableObjectParentLogicalContainerName\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microso[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/NjA4NDk2MDk4Mjc4NzQzNzkwNjs4ZDM5MDNlMS04Y2M3LTQ1ZDMtOWIyOC0xNTUxMTkwNDJiNzI=?api-version=2021-11-15&t=638493836870601953&c=MIIHADCCBeigAwIBAgITHgPr-Oynpc11nukqPwAAA-v47DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAxMTUzMzMzWhcNMjUwMTI2MTUzMzMzWjBAMT4wPAYDV[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationResults/NjA4NDk2MDk4Mjc4NzQzNzkwNjs4ZDM5MDNlMS04Y2M3LTQ1ZDMtOWIyOC0xNTUxMTkwNDJiNzI=?api-version=2021-11-15&t=638493836870601953&c=MIIHADCCBeigAwIBAgITHgPr-Oynpc11nukqPwAAA-v47DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAxMTUzMzMzWhcNMjUwMTI2MTUzMzMzWjBAMT4wPAYDV[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/NjA4NDk2MDk4Mjc4NzQzNzkwNjs4ZDM5MDNlMS04Y2M3LTQ1ZDMtOWIyOC0xNTUxMTkwNDJiNzI%3D?api-version=2021-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrOperationsStatus/NjA4NDk2MDk4Mjc4NzQzNzkwNjs4ZDM5MDNlMS04Y2M3LTQ1ZDMtOWIyOC0xNTUxMTkwNDJiNzI=\",\r\n  \"name\": \"NjA4NDk2MDk4Mjc4NzQzNzkwNjs4ZDM5MDNlMS04Y2M3LTQ1ZDMtOWIyOC0xNTUxMTkwNDJiNzI=\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2024-04-22T11:54:46.7866535Z\",\r\n  \"endTime\": \"2024-04-22T11:54:47Z\",\r\n  \"properties\": {\r\n    \"objectType\": \"OperationStatusJobExtendedInfo\",\r\n    \"jobId\": \"8c3f04e5-a0d9-447b-b94d-a07302e8b2f9\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupCrrJob?api-version=2021-11-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"resourceId\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault\",\r\n  \"jobName\": \"8c3f04e5-a0d9-447b-b94d-a07302e8b2f9\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.RecoveryServices/locations/eastus2euap/backupJobs/8c3f04e5-a0d9-447b-b94d-a07302e8b2f9\",\r\n  \"name\": \"8c3f04e5-a0d9-447b-b94d-a07302e8b2f9\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupJobs\",\r\n  \"properties\": {\r\n    \"jobType\": \"AzureWorkloadJob\",\r\n    \"actionsInfo\": [\r\n      \"Cancellable\"\r\n    ],\r\n    \"workloadType\": \"SQLDataBase\",\r\n    \"duration\": \"PT1M4.1874623S\",\r\n    \"extendedInfo\": {\r\n      \"tasksList\": [\r\n        {\r\n          \"taskId\": \"Transfer data from vault\",\r\n          \"taskType\": \"Normal\",\r\n          \"status\": \"InProgress\"\r\n        }\r\n      ],\r\n      \"propertyBag\": {\r\n        \"Job Type\": \"Recovery to an alternate database\",\r\n        \"Original VM Name\": \"sql-pstest-vm1\",\r\n        \"Target VM Name\": \"clitest-sql-secondary-donotuse\",\r\n        \"Target resource group\": \"clitest-rg-donotuse\",\r\n        \"Subscription Id of the vault\": \"38304e13-357e-405e-9e9a-220351dcce8c\",\r\n        \"Resource Group Name of the vault\": \"hiagarg\",\r\n        \"Vault name\": \"hiagaVault\",\r\n        \"Resource Group Name of the target vault\": \"clitest-rg-donotuse\",\r\n        \"Target vault name\": \"clitest-vault-secondary-donotuse\"\r\n      }\r\n    },\r\n    \"isUserTriggered\": true,\r\n    \"entityFriendlyName\": \"model [sql-pstest-vm1]\",\r\n    \"backupManagementType\": \"AzureWorkload\",\r\n    \"operation\": \"CrossRegionRestore\",\r\n    \"status\": \"InProgress\",\r\n    \"startTime\": \"2024-04-22T11:54:47.1300801Z\",\r\n    \"activityId\": \"f2b5b2d0-1dd3-4f10-af27-54d9861628b3\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
