{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.RecoveryServices/vaults/arpja-pe-e2e-validation-vault?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"eastus2euap\",\r\n  \"name\": \"arpja-pe-e2e-validation-vault\",\r\n  \"etag\": \"W/\\\"datetime'2024-03-15T03%3A35%3A31.5958359Z'\\\"\",\r\n  \"tags\": {\r\n    \"Owner\": \"arpja\",\r\n    \"AutoAddedTagsSpendMgmt\": \"Owner\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"privateEndpointStateForBackup\": \"None\",\r\n    \"privateEndpointStateForSiteRecovery\": \"None\",\r\n    \"backupStorageVersion\": \"V1\",\r\n    \"securitySettings\": {\r\n      \"immutabilitySettings\": {\r\n        \"state\": \"Disabled\"\r\n      },\r\n      \"softDeleteSettings\": {\r\n        \"softDeleteRetentionPeriodInDays\": 14,\r\n        \"softDeleteState\": \"Disabled\",\r\n        \"enhancedSecurityState\": \"Disabled\"\r\n      },\r\n      \"multiUserAuthorization\": \"Disabled\"\r\n    },\r\n    \"redundancySettings\": {\r\n      \"standardTierStorageRedundancy\": \"GeoRedundant\",\r\n      \"crossRegionRestore\": \"Enabled\"\r\n    },\r\n    \"secureScore\": \"None\",\r\n    \"bcdrSecurityLevel\": \"Poor\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"restoreSettings\": {\r\n      \"crossSubscriptionRestoreSettings\": {\r\n        \"crossSubscriptionRestoreState\": \"Enabled\"\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.RecoveryServices/vaults/arpja-pe-e2e-validation-vault\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n  \"sku\": {\r\n    \"name\": \"RS0\",\r\n    \"tier\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.RecoveryServices/vaults/arpja-pe-e2e-validation-vault/backupProtectedItems?$filter=backupManagementType%20eq%20'AzureIaasVM'%20and%20itemType%20eq%20'VM'&api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "149"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.RecoveryServices/vaults/arpja-pe-e2e-validation-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;arpja;arpja-pe-del-vm/protectedItems/VM;iaasvmcontainerv2;arpja;arpja-pe-del-vm\",\r\n      \"name\": \"VM;iaasvmcontainerv2;arpja;arpja-pe-del-vm\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"arpja-pe-del-vm\",\r\n        \"virtualMachineId\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.Compute/virtualMachines/arpja-pe-del-vm\",\r\n        \"protectionStatus\": \"Healthy\",\r\n        \"protectionState\": \"Protected\",\r\n        \"healthStatus\": \"Passed\",\r\n        \"healthDetails\": [\r\n          {\r\n            \"code\": 400239,\r\n            \"title\": \"IaasVmHealthGreenDefault\",\r\n            \"message\": \"Backup pre-check status of this virtual machine is OK.\",\r\n            \"recommendations\": []\r\n          }\r\n        ],\r\n        \"lastBackupStatus\": \"Completed\",\r\n        \"lastBackupTime\": \"2024-07-29T05:35:29.8243027Z\",\r\n        \"protectedItemDataId\": \"193515347511732\",\r\n        \"extendedProperties\": {\r\n          \"linuxVmApplicationName\": \"\"\r\n        },\r\n        \"sourceSideScanning\": 0,\r\n        \"protectedItemType\": \"Microsoft.Compute/virtualMachines\",\r\n        \"backupManagementType\": \"AzureIaasVM\",\r\n        \"workloadType\": \"VM\",\r\n        \"containerName\": \"iaasvmcontainerv2;arpja;arpja-pe-del-vm\",\r\n        \"sourceResourceId\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.Compute/virtualMachines/arpja-pe-del-vm\",\r\n        \"policyId\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.RecoveryServices/vaults/arpja-pe-e2e-validation-vault/backupPolicies/enh1\",\r\n        \"policyName\": \"enh1\",\r\n        \"lastRecoveryPoint\": \"2024-07-29T05:36:07.3453633Z\",\r\n        \"vaultId\": \"https://management.azure.com/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.RecoveryServices/vaults/arpja-pe-e2e-validation-vault\",\r\n        \"isArchiveEnabled\": false,\r\n        \"softDeleteRetentionPeriod\": 0\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.RecoveryServices/vaults/arpja-pe-e2e-validation-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;arpja;peval-cvm/protectedItems/VM;iaasvmcontainerv2;arpja;peval-cvm\",\r\n      \"name\": \"VM;iaasvmcontainerv2;arpja;peval-cvm\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/prot[...]
    {
      "RequestUri": "/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.RecoveryServices/vaults/arpja-pe-e2e-validation-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Barpja%3Bpeval-ecy-win44/protectedItems/VM%3Biaasvmcontainerv2%3Barpja%3Bpeval-ecy-win44/recoveryPoints/252905611419763?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "149"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.RecoveryServices/vaults/arpja-pe-e2e-validation-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;arpja;peval-ecy-win44/protectedItems/VM;iaasvmcontainerv2;arpja;peval-ecy-win44/recoveryPoints/252905611419763\",\r\n  \"name\": \"252905611419763\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints\",\r\n  \"properties\": {\r\n    \"objectType\": \"IaasVMRecoveryPoint\",\r\n    \"recoveryPointType\": \"AppConsistent\",\r\n    \"recoveryPointTime\": \"2024-07-28T05:37:39.8394412Z\",\r\n    \"recoveryPointAdditionalInfo\": \"\",\r\n    \"sourceVMStorageType\": \"NormalStorage\",\r\n    \"isSourceVMEncrypted\": false,\r\n    \"isInstantIlrSessionActive\": false,\r\n    \"recoveryPointTierDetails\": [\r\n      {\r\n        \"type\": \"InstantRP\",\r\n        \"status\": \"Valid\"\r\n      },\r\n      {\r\n        \"type\": \"HardenedRP\",\r\n        \"status\": \"Valid\"\r\n      }\r\n    ],\r\n    \"isManagedVirtualMachine\": true,\r\n    \"virtualMachineSize\": \"Standard_A1_v2\",\r\n    \"originalStorageAccountOption\": false,\r\n    \"osType\": \"Windows\",\r\n    \"recoveryPointMoveReadinessInfo\": {\r\n      \"ArchivedRP\": {\r\n        \"isReadyForMove\": false,\r\n        \"additionalInfo\": \"Recovery-Point RetentionTag Type is not eligible for Archive Move. \"\r\n      }\r\n    },\r\n    \"securityType\": \"None\",\r\n    \"isPrivateAccessEnabledOnAnyDisk\": true,\r\n    \"createdWithPolicyType\": \"V2\",\r\n    \"threatStatus\": 0\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resources?$filter=resourceType%20eq%20'Microsoft.ClassicStorage%2FstorageAccounts'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody":[...]
    {
      "RequestUri": "/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resources?$filter=resourceType%20eq%20'Microsoft.Storage%2FstorageAccounts'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/sopattna/providers/Microsoft.Storage/storageAccounts/sopattna2247\",\r\n      \"name\": \"sopattna2247\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"sku\": {\r\n        \"name\": \"Premium_LRS\",\r\n        \"tier\": \"Premium\"\r\n      },\r\n      \"kind\": \"Storage\",\r\n      \"location\": \"southeastasia\",\r\n      \"tags\": {\r\n        \"MAB Used\": \"Yes\",\r\n        \"Owner\": \"sopattna\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/sopattna/providers/Microsoft.Storage/storageAccounts/sopattna6898\",\r\n      \"name\": \"sopattna6898\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_LRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"kind\": \"Storage\",\r\n      \"location\": \"southeastasia\",\r\n      \"tags\": {\r\n        \"MAB Used\": \"Yes\",\r\n        \"Owner\": \"sopattna\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/sopattna/providers/Microsoft.Storage/storageAccounts/sopattnadiag\",\r\n      \"name\": \"sopattnadiag\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_LRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"kind\": \"Storage\",\r\n      \"location\": \"centraluseuap\",\r\n      \"tags\": {\r\n        \"Owner\": \"sopattna\",\r\n        \"MAB Used\": \" Yes\",\r\n        \"DeleteBy\": \"04-2020\",\r\n        \"AutoShutDown\": \"No\",\r\n        \"Purpose\": \"\\\"IaaS VM Canary Setup\\\"\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/raaggrg/providers/Microsoft.Storage/storageAccounts/test32diskrestore\",\r\n      \"name\": \"test32diskrestore\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_LRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"kind\": \"Storage\",\r\n      \"location\": \"eastus2euap\",\[...]
    {
      "RequestUri": "/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.RecoveryServices/vaults/arpja-pe-e2e-validation-vault/backupResourceGuardProxies?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.RecoveryServices/vaults/arpja-pe-e2e-validation-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Barpja%3Bpeval-ecy-win44/protectedItems/VM%3Biaasvmcontainerv2%3Barpja%3Bpeval-ecy-win44/recoveryPoints/252905611419763/restore?api-version=2024-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"objectType\": \"IaasVMRestoreRequest\",\r\n    \"recoveryPointId\": \"252905611419763\",\r\n    \"recoveryType\": \"AlternateLocation\",\r\n    \"sourceResourceId\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.Compute/virtualMachines/peval-ecy-win44\",\r\n    \"targetVirtualMachineId\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.Compute/virtualMachines/ps-diskaccess\",\r\n    \"targetResourceGroupId\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja\",\r\n    \"storageAccountId\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.Storage/storageAccounts/arpjapevalrestoresa\",\r\n    \"virtualNetworkId\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.Network/virtualNetworks/arpjavnet238\",\r\n    \"subnetId\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.Network/virtualNetworks/arpjavnet238/subnets/default\",\r\n    \"region\": \"eastus2euap\",\r\n    \"createNewCloudService\": false,\r\n    \"originalStorageAccountOption\": false,\r\n    \"restoreWithManagedDisks\": false,\r\n    \"targetDiskNetworkAccessSettings\": {\r\n      \"targetDiskNetworkAccessOption\": \"EnablePrivateAccessForAllDisks\",\r\n      \"targetDiskAccessId\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.Compute/diskAccesses/arpja-peval-restore-da\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.RecoveryServices/vaults/arpja-pe-e2e-validation-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;arpja;peval-ecy-win44/protectedItems/VM;iaasvmcontainerv2;arpja;peval-ecy-win44/operationResults/0bacaecc-6bf8-4b30-b7b3-d5538264d568?api-version=2024-04-01&t=638578310187439546&c=MIIHpTCCBo2gAwIBAgITOgM-Xr7vUGLrtCNEEQAEAz5evjANBgkqhkiG[...]
    {
      "RequestUri": "/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.RecoveryServices/vaults/arpja-pe-e2e-validation-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;arpja;peval-ecy-win44/protectedItems/VM;iaasvmcontainerv2;arpja;peval-ecy-win44/operationsStatus/0bacaecc-6bf8-4b30-b7b3-d5538264d568?api-version=2024-04-01&t=638578310187283292&c=MIIHpTCCBo2gAwIBAgITOgM-Xr7vUGLrtCNEEQAEAz5evjANBgkqhkiG9w0BAQsFADBEMRM[...]
    {
      "RequestUri": "/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.RecoveryServices/vaults/arpja-pe-e2e-validation-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;arpja;peval-ecy-win44/protectedItems/VM;iaasvmcontainerv2;arpja;peval-ecy-win44/operationResults/0bacaecc-6bf8-4b30-b7b3-d5538264d568?api-version=2024-04-01&t=638578310187439546&c=MIIHpTCCBo2gAwIBAgITOgM-Xr7vUGLrtCNEEQAEAz5evjANBgkqhkiG9w0BAQsFADBEMRM[...]
    {
      "RequestUri": "/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.RecoveryServices/vaults/arpja-pe-e2e-validation-vault/backupOperations/0bacaecc-6bf8-4b30-b7b3-d5538264d568?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "149"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"0bacaecc-6bf8-4b30-b7b3-d5538264d568\",\r\n  \"name\": \"0bacaecc-6bf8-4b30-b7b3-d5538264d568\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2024-07-29T06:23:38.5345788Z\",\r\n  \"endTime\": \"2024-07-29T06:23:38.5345788Z\",\r\n  \"properties\": {\r\n    \"objectType\": \"OperationStatusJobExtendedInfo\",\r\n    \"jobId\": \"0bacaecc-6bf8-4b30-b7b3-d5538264d568\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.RecoveryServices/vaults/arpja-pe-e2e-validation-vault/backupJobs/0bacaecc-6bf8-4b30-b7b3-d5538264d568?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "449"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.RecoveryServices/vaults/arpja-pe-e2e-validation-vault/backupJobs/0bacaecc-6bf8-4b30-b7b3-d5538264d568\",\r\n  \"name\": \"0bacaecc-6bf8-4b30-b7b3-d5538264d568\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupJobs\",\r\n  \"properties\": {\r\n    \"jobType\": \"AzureIaaSVMJob\",\r\n    \"actionsInfo\": [\r\n      \"Cancellable\"\r\n    ],\r\n    \"containerName\": \"iaasvmcontainerv2;arpja;peval-ecy-win44\",\r\n    \"duration\": \"PT1M4.6085239S\",\r\n    \"virtualMachineVersion\": \"Compute\",\r\n    \"extendedInfo\": {\r\n      \"tasksList\": [\r\n        {\r\n          \"taskId\": \"Transfer data from vault\",\r\n          \"duration\": \"PT0S\",\r\n          \"status\": \"Completed\",\r\n          \"taskType\": \"Normal\"\r\n        },\r\n        {\r\n          \"taskId\": \"Create the restored virtual machine\",\r\n          \"duration\": \"PT0S\",\r\n          \"status\": \"InProgress\",\r\n          \"taskType\": \"Normal\"\r\n        }\r\n      ],\r\n      \"propertyBag\": {\r\n        \"Job Type\": \"Recover VM to an alternate location\",\r\n        \"Original VM Name\": \"peval-ecy-win44\",\r\n        \"Target VM Name\": \"ps-diskaccess\",\r\n        \"Target VNet Name\": \"Group arpja arpjavnet238\",\r\n        \"Target Storage Account Name\": \"arpjapevalrestoresa\",\r\n        \"Recovery point time \": \"7/28/2024 5:37:39 AM\",\r\n        \"Target resource group\": \"arpja\"\r\n      },\r\n      \"internalPropertyBag\": {\r\n        \"restoreLocationType\": \"AlternateLocation\"\r\n      },\r\n      \"progressPercentage\": 1.0,\r\n      \"dynamicErrorMessage\": \"\"\r\n    },\r\n    \"entityFriendlyName\": \"peval-ecy-win44\",\r\n    \"backupManagementType\": \"AzureIaasVM\",\r\n    \"operation\": \"Restore\",\r\n    \"status\": \"InProgress\",\r\n    \"startTime\": \"2024-07-29T06:23:38.5345788Z\",\r\n    \"activityId\": \"6ea9efcb-dfd6-424b-8003-9929d0da4b9f\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/resourceGroups/arpja/providers/Microsoft.Compute/virtualMachines/ps-diskaccess?api-version=2024-03-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/56df4459-6b2e-49f6-a760[...]
    {
      "RequestUri": "/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/56df4459-6b2e-49f6-a760-8d46d85a742d?p=471d86d4-c639-4c2d-a1d8-7d604989b802&api-version=2024-03-01&t=638578312101557506&c=MIIHpTCCBo2gAwIBAgITOgM-Xr7vUGLrtCNEEQAEAz5evjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI5MDUzNDMyWhcNMjUwNjI0MDUzNDMyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbn[...]
[...]
    {
      "RequestUri": "/subscriptions/f2edfd5d-5496-4683-b94f-b3588c579009/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/56df4459-6b2e-49f6-a760-8d46d85a742d?p=471d86d4-c639-4c2d-a1d8-7d604989b802&monitor=true&api-version=2024-03-01&t=638578312101713767&c=MIIHpTCCBo2gAwIBAgITOgM-Xr7vUGLrtCNEEQAEAz5evjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI5MDUzNDMyWhcNMjUwNjI0MDUzNDMyWjBAMT4wPAYDVQQDEzVhc3luY[...]
