{
  "Entries": [
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/cmk-pstest-vault?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"centraluseuap\",\r\n  \"name\": \"cmk-pstest-vault\",\r\n  \"etag\": \"W/\\\"datetime'2021-09-08T11%3A34%3A03.4586907Z'\\\"\",\r\n  \"tags\": {\r\n    \"MABUsed\": \"yes\",\r\n    \"Owner\": \"hiaga\",\r\n    \"Purpose\": \"testing\",\r\n    \"DeleteBy\": \"01-2099\"\r\n  },\r\n  \"identity\": {\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"principalId\": \"c7fb28d8-227b-46b0-a17b-7e45e20a560f\",\r\n    \"type\": \"SystemAssigned, UserAssigned\",\r\n    \"userAssignedIdentities\": {\r\n      \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourcegroups/hiagarg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cmk-pstest-msi1\": {\r\n        \"clientId\": \"cc17dc91-0ffc-41c4-9f4b-b7b61fa9f4e8\",\r\n        \"principalId\": \"79e6360a-251c-4431-b817-a7fff3ac5c91\"\r\n      }\r\n    }\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"privateEndpointStateForBackup\": \"None\",\r\n    \"privateEndpointStateForSiteRecovery\": \"None\",\r\n    \"encryption\": {\r\n      \"keyVaultProperties\": {\r\n        \"keyUri\": \"https://cmk-pstest-keyvault.vault.azure.net/keys/cmk-pstest-key/5569d5a163ee474cad2da4ac334af9d7\"\r\n      },\r\n      \"kekIdentity\": {\r\n        \"useSystemAssignedIdentity\": true,\r\n        \"userAssignedIdentity\": null\r\n      },\r\n      \"infrastructureEncryption\": \"Enabled\"\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/cmk-pstest-vault\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n  \"sku\": {\r\n    \"name\": \"RS0\",\r\n    \"tier\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/cmk-pstest-vault?api-version=2021-06-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"encryption\": {\r\n      \"keyVaultProperties\": {\r\n        \"keyUri\": \"https://cmk-pstest-keyvault.vault.azure.net/keys/cmk-pstest-key/5569d5a163ee474cad2da4ac334af9d7\"\r\n      },\r\n      \"kekIdentity\": {\r\n        \"useSystemAssignedIdentity\": false,\r\n        \"userAssignedIdentity\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourcegroups/hiagarg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cmk-pstest-msi1\"\r\n      },\r\n      \"infrastructureEncryption\": \"Enabled\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/cmk-pstest-vault/operationResults/NDA5NTtiN2U0MDVhNC1mMjJiLTRiMTMtODhkNC1hZWQ1MjgwOTNmMWY=?api-version=2021-06-01"
        ],
        "Retry-After": [
          "60"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/cmk-pstest-vault/operationStatus/NDA5NTtiN2U0MDVhNC1mMjJiLTRiMTMtODhkNC1hZWQ1MjgwOTNmMWY=?api-version=2021-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "299"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/cmk-pstest-vault/operationStatus/NDA5NTtiN2U0MDVhNC1mMjJiLTRiMTMtODhkNC1hZWQ1MjgwOTNmMWY=?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceG[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/cmk-pstest-vault/operationStatus/NDA5NTtiN2U0MDVhNC1mMjJiLTRiMTMtODhkNC1hZWQ1MjgwOTNmMWY=?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/cmk-pstest-vault/operationStatus/NDA5NTtiN2U0MDVhNC1mMjJiLTRiMTMtODhkNC1hZWQ1MjgwOTNmMWY=\",\r\n  \"name\": \"NDA5NTtiN2U0MDVhNC1mMjJiLTRiMTMtODhkNC1hZWQ1MjgwOTNmMWY=\",\r\n  \"status\": \"Succeeded\",\r\n  \"percentComplete\": 0.0\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/cmk-pstest-vault/backupEncryptionConfigs/backupResourceEncryptionConfig?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "299"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/cmk-pstest-vault/backupEncryptionConfigs/backupResourceEncryptionConfig\",\r\n  \"name\": \"backupResourceEncryptionConfig\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupEncryptionConfigs\",\r\n  \"properties\": {\r\n    \"userAssignedIdentity\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourcegroups/hiagarg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cmk-pstest-msi1\",\r\n    \"useSystemAssignedIdentity\": false,\r\n    \"encryptionAtRestType\": \"CustomerManaged\",\r\n    \"keyUri\": \"https://cmk-pstest-keyvault.vault.azure.net/keys/cmk-pstest-key/5569d5a163ee474cad2da4ac334af9d7\",\r\n    \"subscriptionId\": \"\",\r\n    \"lastUpdateStatus\": \"Succeeded\",\r\n    \"infrastructureEncryptionState\": \"Enabled\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/cmk-pstest-vault/backupconfig/vaultconfig?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "299"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/cmk-pstest-vault/backupconfig/vaultconfig\",\r\n  \"name\": \"vaultconfig\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupconfig\",\r\n  \"properties\": {\r\n    \"enhancedSecurityState\": \"Enabled\",\r\n    \"softDeleteFeatureState\": \"Enabled\",\r\n    \"isSoftDeleteFeatureStateEditable\": true\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/cmk-pstest-vault/operationStatus/NDA5NTs5NWY1NzlhYy1hOGY4LTQ5YzctODQzMi0wNWVkZjJlYjRkN2E=?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceG[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/cmk-pstest-vault/operationStatus/NDA5NTs5NWY1NzlhYy1hOGY4LTQ5YzctODQzMi0wNWVkZjJlYjRkN2E=?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/cmk-pstest-vault/operationStatus/NDA5NTs5NWY1NzlhYy1hOGY4LTQ5YzctODQzMi0wNWVkZjJlYjRkN2E=\",\r\n  \"name\": \"NDA5NTs5NWY1NzlhYy1hOGY4LTQ5YzctODQzMi0wNWVkZjJlYjRkN2E=\",\r\n  \"status\": \"Succeeded\",\r\n  \"percentComplete\": 0.0\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "38304e13-357e-405e-9e9a-220351dcce8c"
  }
}