{
    "swagger": "2.0",
    "info": {
        "version": "2015-01-05",
        "title": "IntuneResourceManagementClient",
        "description": "Microsoft.Intune Resource provider Api features in the swagger-2.0 specification"
    },
    "host": "management.azure.com",
    "schemes": [ "https" ],
    "consumes": [ "application/json" ],
    "produces": [ "application/json" ],
    "paths": {
        "/providers/Microsoft.Intune/locations": {
            "get": {
                "description": "Returns location for user tenant.",
                "operationId": "GetLocations",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "location response as a collection",
                        "schema": {
                            "$ref": "#/definitions/LocationCollection"
                        }
                    }
                },
                "default": {
                    "description": "unexpected error",
                    "schema": {
                        "$ref": "#/definitions/Error"
                    }
                }
            }
        },
        "/providers/Microsoft.Intune/locations/hostName": {
            "get": {
                "description": "Returns location for given tenant.",
                "operationId": "GetLocationByHostName",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "single location response",
                        "schema": {
                            "$ref": "#/definitions/Location"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Intune/locations/{hostName}/apps": {
            "get": {
                "description": "Returns Intune Manageable apps.",
                "operationId": "GetApplications",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "The filter to apply on the operation."
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "select specific fields in entity."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "applications as collection response",
                        "schema": {
                            "$ref": "#/definitions/ApplicationCollection"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies": {
            "get": {
                "description": "Returns Intune iosPolicies.",
                "operationId": "GetiOSPolicies",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "The filter to apply on the operation."
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "select specific fields in entity."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "applications as collection response",
                        "schema": {
                            "$ref": "#/definitions/IOSPolicyCollection"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Intune/locations/{hostName}/androidPolicies": {
            "get": {
                "description": "Returns Intune android Policies.",
                "operationId": "GetAndroidPolicies",
                "produces": [ "application/json" ],
                "parameters": [
                    {

                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "The filter to apply on the operation."
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "select specific fields in entity."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "android Policies response",
                        "schema": {
                            "$ref": "#/definitions/AndroidPolicyCollection"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyId}": {
            "get": {
                "description": "Returns Intune iOS policies.",
                "operationId": "GetiOSPolicyById",
                "produces": [ "application/json" ],
                "parameters": [
                    {

                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "select specific fields in entity."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "iosPolicy entity.",
                        "schema": {
                            "$ref": "#/definitions/IOSPolicy"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "description": "Creates or updates iosPolicy.",
                "operationId": "CreateOrUpdateIOSPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {

                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/IOSPolicy"
                        },
                        "description": "Parameters supplied to the Create or update an android policy operation."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "iosPolicy entity.",
                        "schema": {
                            "$ref": "#/definitions/IOSPolicy"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Ios Policy",
                "operationId": "DeleteIosPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {

                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No-Content."
                    },
                    "204": {
                        "description": "No-Content."
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyId}": {
            "get": {
                "description": "Returns androidPolicy with given Id.",
                "operationId": "GetAndroidPolicyById",
                "produces": [ "application/json" ],
                "parameters": [
                    {

                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "select specific fields in entity."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "iosPolicy entity.",
                        "schema": {
                            "$ref": "#/definitions/AndroidPolicy"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "description": "Creates or updates androidPolicy.",
                "operationId": "CreateOrUpdateAndroidPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {

                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AndroidPolicy"
                        },
                        "description": "Parameters supplied to the Create or update an android policy operation."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "android entity.",
                        "schema": {
                            "$ref": "#/definitions/AndroidPolicy"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Android Policy",
                "operationId": "DeleteAndroidPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "204": {
                        "description": ""
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },

        "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyId}": {
            "delete": {
                "description": "Deletes Intune iOS MAM policies.",
                "operationId": "RemoveiOSPolicyById",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Empty content."                     
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
        
    },

    "definitions": {
        "Resource": {
            "properties": {
                "id": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource Id"
                },
                "name": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource name"
                },
                "type": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource type"
                }
            }
        },
        "Location": {
            "properties": {
                "properties": {
                    "$ref": "#/definitions/LocationProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": "Location entity for given tenant."
        },
        "LocationProperties": {
            "type": "object",
            "required": [ "hostName" ],
            "properties": {
                "hostName": {
                    "type": "string"
                }
            }
        },
        "Error": {
            "type": "object",
            "required": [
                "code",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "LocationCollection": {
            "type": "object",
            "required": [ "value" ],
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Location"
                    }
                },
                "nextlink": {
                    "type": "string"
                }
            }
        },
        "ApplicationCollection": {
            "type": "object",
            "required": [ "value" ],
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Application"
                    }
                },
                "nextlink": {
                    "type": "string"
                }
            }
        },
        "Application": {
            "type": "object",
            "properties": {
                "properties": {
                    "$ref": "#/definitions/ApplicationProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": "Application entity for Intune MAM."
        },
        "ApplicationProperties": {
            "type": "object",
            "required": [
                "friendlyName",
                "platform"
            ],
            "properties": {
                "friendlyName": {
                    "type": "string"
                },
                "platform": {
                    "type": "string",
                    "default": "ios",
                    "enum": [
                        "ios",
                        "android",
                        "windows"
                    ]
                },
                "appId": {
                    "type": "string"
                }
            }
        },
        "IOSPolicyCollection": {
            "type": "object",
            "required": [ "value" ],
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/IOSPolicy"
                    }
                },
                "nextlink": {
                    "type": "string"
                }
            }
        },
        "AndroidPolicyCollection": {
            "type": "object",
            "required": [ "value" ],
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/AndroidPolicy"
                    }
                },
                "nextlink": {
                    "type": "string"
                }
            }
        },
        "IOSPolicy": {
            "type": "object",
            "properties": {
                "properties": {
                    "$ref": "#/definitions/IOSPolicyProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": "iOS Policy entity for Intune MAM."
        },
        "AndroidPolicy": {
            "type": "object",
            "properties": {
                "properties": {
                    "$ref": "#/definitions/AndroidPolicyProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": "Android Policy entity for Intune MAM."
        },
        "MAMPolicyProperties": {
            "type": "object",
            "required": [
                "friendlyName"
            ],
            "properties": {
                "friendlyName": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "appSharingFromLevel": {
                    "type": "string",
                    "default": "none",
                    "enum": [
                        "none",
                        "policyManagedApps",
                        "allApps"
                    ]
                },
                "appSharingToLevel": {
                    "type": "string",
                    "default": "none",
                    "enum": [
                        "none",
                        "policyManagedApps",
                        "allApps"
                    ]
                },
                "authentication": {
                    "type": "string",
                    "default": "required",
                    "enum": [
                        "required",
                        "notRequired "
                    ]
                },
                "clipboardSharingLevel": {
                    "type": "string",
                    "default": "blocked",
                    "enum": [
                        "blocked",
                        "policyManagedApps",
                        "policyManagedAppsWithPasteIn",
                        "allApps"
                    ]
                },
                "dataBackup": {
                    "type": "string",
                    "default": "allow",
                    "enum": [
                        "allow",
                        "block"
                    ]
                },
                "fileSharingSaveAs": {
                    "type": "string",
                    "default": "allow",
                    "enum": [
                        "allow",
                        "block"
                    ]
                },
                "pin": {
                    "type": "string",
                    "default": "required",
                    "enum": [
                        "required",
                        "notRequired "
                    ]
                },
                "pinNumRetry": {
                    "type": "integer"
                },
                "deviceCompliance": {
                    "type": "string",
                    "default": "enable",
                    "enum": [
                        "enable",
                        "disable"
                    ]
                },
                "managedBrowser": {
                    "type": "string",
                    "default": "required",
                    "enum": [
                        "required",
                        "notRequired"
                    ]
                },
                "accessRecheckOfflineTimeout": {
                    "type": "string",
                    "format": "duration"
                },
                "accessRecheckOnlineTimeout": {
                    "type": "string",
                    "format": "duration"
                },

                "offlineWipeTimeout": {
                    "type": "string",
                    "format": "duration"
                },
                "numOfApps": {
                    "type": "integer",
                    "readOnly": true
                },
                "groupStatus": {
                    "readOnly": true,
                    "type": "string",
                    "default": "notTargeted",
                    "enum": [
                        "notTargeted",
                        "targeted"
                    ]
                },
                "lastModifiedTime": {
                    "type": "string",
                    "readOnly": true,
                    "format": "date-time"
                }
            }

        },
        "IOSPolicyProperties": {
            "type": "object",
            "properties": {
                "fileEncryptionLevel": {
                    "type": "string",
                    "default": "deviceLocked",
                    "enum": [
                        "deviceLocked",
                        "deviceLockedExceptFilesOpen",
                        "afterDeviceRestart",
                        "useDeviceSettings"
                    ]
                },
                "touchId": {
                    "type": "string",
                    "default": "enable",
                    "enum": [
                        "enable",
                        "disable"
                    ]
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/MAMPolicyProperties"
                }
            ],
            "description": "Intune MAM iOS Policy Properties."
        },
        "AndroidPolicyProperties": {
            "type": "object",
            "properties": {
                "screenCapture": {
                    "type": "string",
                    "default": "allow",
                    "enum": [
                        "allow",
                        "block"
                    ]
                },
                "fileEncryption": {
                    "type": "string",
                    "default": "required",
                    "enum": [
                        "required",
                        "notRequired "
                    ]
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/MAMPolicyProperties"
                }
            ],
            "description": "Intune MAM iOS Policy Properties."
        }
    },
    "parameters": {
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Service Api Version."
        }
    }
}