{
    "swagger": "2.0",
    "info": {
        "version": "2015-01-11-alpha",
        "title": "IntuneResourceManagementClient",
        "description": "Microsoft.Intune Resource provider Api features in the swagger-2.0 specification"
    },
    "host": "management.azure.com",
    "schemes": [ "https" ],
    "consumes": [ "application/json" ],
    "produces": [ "application/json" ],
    "paths": {
        "/providers/Microsoft.Intune/locations": {
            "get": {
                "description": "Returns location for user tenant.",
                "operationId": "GetLocations",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "location response as a collection",
                        "schema": {
                            "$ref": "#/definitions/LocationCollection"
                        }
                    }
                },
                "default": {
                    "description": "unexpected error",
                    "schema": {
                        "$ref": "#/definitions/Error"
                    }
                }
            }
        },
        "/providers/Microsoft.Intune/locations/hostName": {
            "get": {
                "description": "Returns location for given tenant.",
                "operationId": "GetLocationByHostName",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "single location response",
                        "schema": {
                            "$ref": "#/definitions/Location"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Intune/locations/{hostName}/apps": {
            "get": {
                "description": "Returns Intune Manageable apps.",
                "operationId": "GetApplications",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "The filter to apply on the operation."
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "select specific fields in entity."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "applications as collection response",
                        "schema": {
                            "$ref": "#/definitions/ApplicationCollection"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies": {
            "get": {
                "description": "Returns Intune iOSPolicies.",
                "operationId": "GetiOSMAMPolicies",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "The filter to apply on the operation."
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "select specific fields in entity."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "applications as collection response",
                        "schema": {
                            "$ref": "#/definitions/IOSMAMPolicyCollection"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Intune/locations/{hostName}/androidPolicies": {
            "get": {
                "description": "Returns Intune Android policies.",
                "operationId": "GetAndroidMAMPolicies",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "The filter to apply on the operation."
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "select specific fields in entity."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "android Policies response",
                        "schema": {
                            "$ref": "#/definitions/AndroidMAMPolicyCollection"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyId}": {
            "get": {
                "description": "Returns Intune iOS policies.",
                "operationId": "GetiOSMAMPolicyById",
                "produces": [ "application/json" ],
                "parameters": [
                    {

                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "select specific fields in entity."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "iOSMAMPolicy entity.",
                        "schema": {
                            "$ref": "#/definitions/iOSMAMPolicy"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "description": "Creates or updates iOSMAMPolicy.",
                "operationId": "CreateOrUpdateiOSMAMPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {

                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/iOSMAMPolicyRequestBody"
                        },
                        "description": "Parameters supplied to the Create or update an android policy operation."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "iOSMAMPolicy entity.",
                        "schema": {
                            "$ref": "#/definitions/iOSMAMPolicy"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
			"patch":{
                "description": " patch an iOSMAMPolicy.",
                "operationId": "PatchiOSMAMPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {

                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/iOSMAMPolicyRequestBody"
                        },
                        "description": "Parameters supplied to the Create or update an android policy operation."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "iOSMAMPolicy entity.",
                        "schema": {
                            "$ref": "#/definitions/iOSMAMPolicy"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },			
            "delete": {
                "description": "Delete Ios Policy",
                "operationId": "DeleteiOSMAMPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {

                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No-Content."
                    },
                    "204": {
                        "description": "No-Content."
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyId}": {
            "get": {
                "description": "Returns AndroidMAMPolicy with given Id.",
                "operationId": "GetAndroidMAMPolicyById",
                "produces": [ "application/json" ],
                "parameters": [
                    {

                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "select specific fields in entity."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "iOSMAMPolicy entity.",
                        "schema": {
                            "$ref": "#/definitions/AndroidMAMPolicy"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "description": "Creates or updates AndroidMAMPolicy.",
                "operationId": "CreateOrUpdateAndroidMAMPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {

                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AndroidMAMPolicyRequestBody"
                        },
                        "description": "Parameters supplied to the Create or update an android policy operation."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "android entity.",
                        "schema": {
                            "$ref": "#/definitions/AndroidMAMPolicy"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
			"patch": {
                "description": "Patch AndroidMAMPolicy.",
                "operationId": "PatchAndroidMAMPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {

                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AndroidMAMPolicyRequestBody"
                        },
                        "description": "Parameters supplied to the Create or update an android policy operation."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "android entity.",
                        "schema": {
                            "$ref": "#/definitions/AndroidMAMPolicy"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete Android Policy",
                "operationId": "DeleteAndroidMAMPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "204": {
                        "description": ""
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyId}/apps": {           
            "get": {
                "description": "Get apps for an iOSMAMPolicy.",
                "operationId": "GetAppForiOSMAMPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
					{
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "The filter to apply on the operation."
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "select specific fields in entity."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "applications as collection response",
                        "schema": {
                            "$ref": "#/definitions/ApplicationCollection"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
		},		
		"/providers/Microsoft.Intune/locations/{hostName}/AndroidPolicies/{policyId}/apps": {           
            "get": {
                "description": "Get apps for an AndroidMAMPolicy.",
                "operationId": "GetAppForAndroidMAMPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
					{
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "The filter to apply on the operation."
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "description": "select specific fields in entity."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "applications as collection response",
                        "schema": {
                            "$ref": "#/definitions/ApplicationCollection"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
		},		
        "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyId}/apps/{appId}": {           
            "put": {
                "description": "Add app to an iOSMAMPolicy.",
                "operationId": "AddAppForiOSMAMPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
					{
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "appId",
                        "in": "path",
                        "description": "application unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MAMPolicyAppIdOrGroupIdPayload"
                        },
                        "description": "Parameters supplied to add an app to an ios policy."
                    }
                ],
                "responses": {
				"200": {
                        "description": "No-Content."
                    },
					"204": {
                        "description": "No-Content.",
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },			
            "delete": {
                "description": "Delete App for Ios Policy",
                "operationId": "DeleteAppForiOSMAMPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
					{
                        "name": "appId",
                        "in": "path",
                        "description": "application unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No-Content."
                    },
                    "204": {
                        "description": "No-Content."
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
		"/providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyId}/apps/{appId}": {           
            "put": {
                "description": "Add app to an AndroidMAMPolicy.",
                "operationId": "AddAppForAndriodPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
					{
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "appId",
                        "in": "path",
                        "description": "application unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MAMPolicyAppIdOrGroupIdPayload"
                        },
                        "description": "Parameters supplied to the Create or update app to an android policy operation."
                    }
                ],
                "responses": {
				"200": {
                        "description": "No-Content."
                    },
                    "204": {
                        "description": "No-Content.",
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },			
            "delete": {
                "description": "Delete App for Android Policy",
                "operationId": "DeleteAppForAndroidMAMPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {

                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
					{
                        "name": "appId",
                        "in": "path",
                        "description": "application unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No-Content."
                    },
                    "204": {
                        "description": "No-Content."
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
		"/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyId}/groups": { 
            "get": {
                "description": "Returns groups for a given iOSMAMPolicy.",
                "operationId": "GetGroupsForiOSMAMPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
					{
                        "name": "policyId",
                        "in": "path",
                        "description": "policy name for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "groups as collection response",
                        "schema": {
                            "$ref": "#/definitions/GroupsCollection"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
		"/providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyId}/groups": { 
            "get": {
                "description": "Returns groups for a given AndroidMAMPolicy.",
                "operationId": "GetGroupsForAndroidMAMPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
					{
                        "name": "policyId",
                        "in": "path",
                        "description": "policy name for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "groups as collection response",
                        "schema": {
                            "$ref": "#/definitions/GroupsCollection"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },			
		"/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyId}/groups/{groupId}": {           
            "put": {
                "description": "Add group to an iOSMAMPolicy.",
                "operationId": "AddGroupForiOSMAMPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
					{
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "group Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MAMPolicyAppIdOrGroupIdPayload"
                        },
                        "description": "Parameters supplied to the Create or update app to an android policy operation."
                    }
                ],
                "responses": {
				"200": {
                        "description": "No-Content."
                    },
                    "204": {
                        "description": "No-Content.",
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },			
            "delete": {
                "description": "Delete Group for iOS Policy",
                "operationId": "DeleteGroupForiOSMAMPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {

                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
					{
                        "name": "groupId",
                        "in": "path",
                        "description": "application unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No-Content."
                    },
                    "204": {
                        "description": "No-Content."
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
		"/providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyId}/groups/{groupId}": {           
            "put": {
                "description": "Add group to an AndroidMAMPolicy.",
                "operationId": "AddGroupForAndriodPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {
                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
					{
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "group Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MAMPolicyAppIdOrGroupIdPayload"
                        },
                        "description": "Parameters supplied to the Create or update app to an android policy operation."
                    }
                ],
                "responses": {
				"200": {
                        "description": "No-Content."
                    },
                    "204": {
                        "description": "No-Content.",
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },			
            "delete": {
                "description": "Delete Group for Android Policy",
                "operationId": "DeleteGroupForAndroidMAMPolicy",
                "produces": [ "application/json" ],
                "parameters": [
                    {

                        "name": "hostName",
                        "in": "path",
                        "description": "Location hostName for the tenant",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "policyId",
                        "in": "path",
                        "description": "policy unique Id",
                        "required": true,
                        "type": "string"
                    },
					{
                        "name": "groupId",
                        "in": "path",
                        "description": "application unique Id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "No-Content."
                    },
                    "204": {
                        "description": "No-Content."
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },		
    },

    "definitions": {
        "Resource": {
            "properties": {
                "id": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource Id"
                },
                "name": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource name"
                },
                "type": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource type"
                }
            }
        },
        "Location": {
            "properties": {
                "properties": {
                    "$ref": "#/definitions/LocationProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": "Location entity for given tenant."
        },
        "LocationProperties": {
            "type": "object",
            "required": [ "hostName" ],
            "properties": {
                "hostName": {
                    "type": "string"
                }
            }
        },
        "Error": {
            "type": "object",
            "required": [
                "code",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "LocationCollection": {
            "type": "object",
            "required": [ "value" ],
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Location"
                    }
                },
                "nextlink": {
                    "type": "string"
                }
            }
        },		
        "GroupsCollection": {
            "type": "object",
            "required": [ "value" ],
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Group"
                    }
                },
                "nextlink": {
                    "type": "string"
                }
            }
        },
        "Group": {
            "type": "object",
            "properties": {
                "properties": {
                    "$ref": "#/definitions/GroupProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": "Group entity for Intune MAM."
        },
        "GroupProperties": {
            "type": "object",
            "required": [
                "friendlyName",
                "platform"
            ],
            "properties": {
                "friendlyName": {
                    "type": "string"
                }
			}
		},
        "ApplicationCollection": {
            "type": "object",
            "required": [ "value" ],
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Application"
                    }
                },
                "nextlink": {
                    "type": "string"
                }
            }
        },
        "Application": {
            "type": "object",
            "properties": {
                "properties": {
                    "$ref": "#/definitions/ApplicationProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": "Application entity for Intune MAM."
        },
        "ApplicationProperties": {
            "type": "object",
            "required": [
                "friendlyName",
                "platform"
            ],
            "properties": {
                "friendlyName": {
                    "type": "string"
                },
                "platform": {
                    "type": "string",
                    "default": "ios",
                    "enum": [
                        "ios",
                        "android",
                        "windows"
                    ]
                },
                "appId": {
                    "type": "string"
                }
            }
        },
        "IOSMAMPolicyCollection": {
            "type": "object",
            "required": [ "value" ],
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/iOSMAMPolicy"
                    }
                },
                "nextlink": {
                    "type": "string"
                }
            }
        },
        "AndroidMAMPolicyCollection": {
            "type": "object",
            "required": [ "value" ],
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/AndroidMAMPolicy"
                    }
                },
                "nextlink": {
                    "type": "string"
                }
            }
        },
        "iOSMAMPolicy": {
            "type": "object",
            "properties": {
                "properties": {
                    "$ref": "#/definitions/iOSMAMPolicyProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": "iOS Policy entity for Intune MAM."
        },
		"iOSMAMPolicyRequestBody": {
            "type": "object",
            "properties": {
                "properties": {
                    "$ref": "#/definitions/iOSMAMPolicyProperties"
                }
            },
            "description": "iOS Policy request body parameters for Intune MAM."
        },
        "AndroidMAMPolicy": {
            "type": "object",
            "properties": {
                "properties": {
                    "$ref": "#/definitions/AndroidMAMPolicyProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "description": "Android Policy entity for Intune MAM."
        },
        "AndroidMAMPolicyRequestBody": {
            "type": "object",
            "properties": {
                "properties": {
                    "$ref": "#/definitions/AndroidMAMPolicyProperties"
                }
            },
            "description": "Android Policy request body for Intune MAM."
        },
        "MAMPolicyAppIdOrGroupIdPayload": {
            "type": "object",			
            "properties": {
                "properties": {
                    "$ref": "#/definitions/MAMPolicyAppOrGroupIdProperties"
                }
            },
            "description": "MAM Policy request body for properties Intune MAM."
        },
        "MAMPolicyAppOrGroupIdProperties": {
            "type": "object",
			"required": [
                "url"
            ],
            "properties": {
                "url": {
                    "type": "string"
                }
            },
            "description": "Android Policy request body for Intune MAM."
        },			
        "MAMPolicyProperties": {
            "type": "object",
            "required": [
                "friendlyName"
            ],
            "properties": {
                "friendlyName": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "appSharingFromLevel": {
                    "type": "string",
                    "default": "none",
                    "enum": [
                        "none",
                        "policyManagedApps",
                        "allApps"
                    ]
                },
                "appSharingToLevel": {
                    "type": "string",
                    "default": "none",
                    "enum": [
                        "none",
                        "policyManagedApps",
                        "allApps"
                    ]
                },
                "authentication": {
                    "type": "string",
                    "default": "required",
                    "enum": [
                        "required",
                        "notRequired"
                    ]
                },
                "clipboardSharingLevel": {
                    "type": "string",
                    "default": "blocked",
                    "enum": [
                        "blocked",
                        "policyManagedApps",
                        "policyManagedAppsWithPasteIn",
                        "allApps"
                    ]
                },
                "dataBackup": {
                    "type": "string",
                    "default": "allow",
                    "enum": [
                        "allow",
                        "block"
                    ]
                },
                "fileSharingSaveAs": {
                    "type": "string",
                    "default": "allow",
                    "enum": [
                        "allow",
                        "block"
                    ]
                },
                "pin": {
                    "type": "string",
                    "default": "required",
                    "enum": [
                        "required",
                        "notRequired"
                    ]
                },
                "pinNumRetry": {
                    "type": "integer"
                },
                "deviceCompliance": {
                    "type": "string",
                    "default": "enable",
                    "enum": [
                        "enable",
                        "disable"
                    ]
                },
                "managedBrowser": {
                    "type": "string",
                    "default": "required",
                    "enum": [
                        "required",
                        "notRequired"
                    ]
                },
                "accessRecheckOfflineTimeout": {
                    "type": "string",
                    "format": "duration"
                },
                "accessRecheckOnlineTimeout": {
                    "type": "string",
                    "format": "duration"
                },

                "offlineWipeTimeout": {
                    "type": "string",
                    "format": "duration"
                },
                "numOfApps": {
                    "type": "integer",
                    "readOnly": true
                },
                "groupStatus": {
                    "readOnly": true,
                    "type": "string",
                    "default": "notTargeted",
                    "enum": [
                        "notTargeted",
                        "targeted"
                    ]
                },
                "lastModifiedTime": {
                    "type": "string",
                    "readOnly": true,
                    "format": "date-time"
                }
            }

        },
        "iOSMAMPolicyProperties": {
            "type": "object",
            "properties": {
                "fileEncryptionLevel": {
                    "type": "string",
                    "default": "deviceLocked",
                    "enum": [
                        "deviceLocked",
                        "deviceLockedExceptFilesOpen",
                        "afterDeviceRestart",
                        "useDeviceSettings"
                    ]
                },
                "touchId": {
                    "type": "string",
                    "default": "enable",
                    "enum": [
                        "enable",
                        "disable"
                    ]
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/MAMPolicyProperties"
                }
            ],
            "description": "Intune MAM iOS Policy Properties."
        },
        "AndroidMAMPolicyProperties": {
            "type": "object",
            "properties": {
                "screenCapture": {
                    "type": "string",
                    "default": "allow",
                    "enum": [
                        "allow",
                        "block"
                    ]
                },
                "fileEncryption": {
                    "type": "string",
                    "default": "required",
                    "enum": [
                        "required",
                        "notRequired"
                    ]
                }
            },
            "allOf": [
                {
                    "$ref": "#/definitions/MAMPolicyProperties"
                }
            ],
            "description": "Intune MAM iOS Policy Properties."
        }
    },
    "parameters": {
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Service Api Version."
        }
    }
}