{
  "Entries": [
    {
      "RequestUri": "/jobschedules?api-version=2018-03-01.6.1",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"testDisableEnableTerminateJobSchedule\",\r\n  \"schedule\": {},\r\n  \"jobSpecification\": {\r\n    \"poolInfo\": {\r\n      \"poolId\": \"testPool\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Fri, 25 May 2018 18:40:58 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Fri, 25 May 2018 18:40:58 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://batchtestaccount.westus.batch.azure.com/jobschedules/testDisableEnableTerminateJobSchedule"
        ],
        "ETag": [
          "0x8D5C26F0E8E132D"
        ],
        "Location": [
          "https://batchtestaccount.westus.batch.azure.com/jobschedules/testDisableEnableTerminateJobSchedule"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobschedules/testDisableEnableTerminateJobSchedule/disable?api-version=2018-03-01.6.1",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 25 May 2018 18:40:58 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Fri, 25 May 2018 18:40:58 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://batchtestaccount.westus.batch.azure.com/jobschedules/testDisableEnableTerminateJobSchedule/disable"
        ],
        "ETag": [
          "0x8D5C26F0EE0D325"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/jobschedules/testDisableEnableTerminateJobSchedule?api-version=2018-03-01.6.1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 25 May 2018 18:40:59 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://batchtestaccount.westus.batch.azure.com/$metadata#jobschedules/@Element\",\r\n  \"id\": \"testDisableEnableTerminateJobSchedule\",\r\n  \"url\": \"https://batchtestaccount.westus.batch.azure.com/jobschedules/testDisableEnableTerminateJobSchedule\",\r\n  \"eTag\": \"0x8D5C26F0EE0D325\",\r\n  \"lastModified\": \"2018-05-25T18:40:58.9566757Z\",\r\n  \"creationTime\": \"2018-05-25T18:40:58.4143661Z\",\r\n  \"state\": \"disabled\",\r\n  \"stateTransitionTime\": \"2018-05-25T18:40:58.9566757Z\",\r\n  \"previousState\": \"active\",\r\n  \"previousStateTransitionTime\": \"2018-05-25T18:40:58.4143661Z\",\r\n  \"jobSpecification\": {\r\n    \"priority\": 0,\r\n    \"usesTaskDependencies\": false,\r\n    \"onAllTasksComplete\": \"noaction\",\r\n    \"onTaskFailure\": \"noaction\",\r\n    \"constraints\": {\r\n      \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n      \"maxTaskRetryCount\": 0\r\n    },\r\n    \"poolInfo\": {\r\n      \"poolId\": \"testPool\"\r\n    }\r\n  },\r\n  \"executionInfo\": {\r\n    \"recentJob\": {\r\n      \"url\": \"https://batchtestaccount.westus.batch.azure.com/jobs/testDisableEnableTerminateJobSchedule:job-1\",\r\n      \"id\": \"testDisableEnableTerminateJobSchedule:job-1\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Fri, 25 May 2018 18:40:58 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D5C26F0EE0D325"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobschedules/testDisableEnableTerminateJobSchedule/enable?api-version=2018-03-01.6.1",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 25 May 2018 18:40:59 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Fri, 25 May 2018 18:40:59 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://batchtestaccount.westus.batch.azure.com/jobschedules/testDisableEnableTerminateJobSchedule/enable"
        ],
        "ETag": [
          "0x8D5C26F0F08CD99"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/jobschedules?api-version=2018-03-01.6.1&$filter=id%20eq%20'testDisableEnableTerminateJobSchedule'",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 25 May 2018 18:40:59 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://batchtestaccount.westus.batch.azure.com/$metadata#jobschedules\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"testDisableEnableTerminateJobSchedule\",\r\n      \"url\": \"https://batchtestaccount.westus.batch.azure.com/jobschedules/testDisableEnableTerminateJobSchedule\",\r\n      \"eTag\": \"0x8D5C26F0F08CD99\",\r\n      \"lastModified\": \"2018-05-25T18:40:59.2186777Z\",\r\n      \"creationTime\": \"2018-05-25T18:40:58.4143661Z\",\r\n      \"state\": \"active\",\r\n      \"stateTransitionTime\": \"2018-05-25T18:40:59.2186777Z\",\r\n      \"previousState\": \"disabled\",\[...]
    {
      "RequestUri": "/jobschedules/testDisableEnableTerminateJobSchedule/terminate?api-version=2018-03-01.6.1",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 25 May 2018 18:40:59 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Fri, 25 May 2018 18:40:59 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://batchtestaccount.westus.batch.azure.com/jobschedules/testDisableEnableTerminateJobSchedule/terminate"
        ],
        "ETag": [
          "0x8D5C26F0F3431D4"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/jobschedules/testDisableEnableTerminateJobSchedule?api-version=2018-03-01.6.1",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 25 May 2018 18:40:59 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "ac86108b-e8ec-4858-8603-2f80105f96db",
    "AZURE_BATCH_ACCOUNT": "batchtestaccount",
    "AZURE_BATCH_ENDPOINT": "https://batchtestaccount.westus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "antoniowtestbatchrg"
  }
}