# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

*.sln text eol=crlf
*.cs text eol=crlf
*.csproj text eol=crlf
*.ps1 text eol=crlf
*.psd1 text eol=crlf
*.psm1 text eol=crlf
*.ps1xml text eol=crlf
build.proj text eol=crlf
