sudo: required
language: csharp
mono: none
dotnet: 2.1.400
dist: trusty

env:
  - NAME="azure-powershell-core" CONFIG="Debug" TESTS_TO_RUN="Core"
  - NAME="azure-powershell-core" CONFIG="Debug" TESTS_TO_RUN="NonCore"

services:
 - docker

before_install:
 - sudo apt-get update
 - sudo apt-get install docker-ce
 - curl https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
 - curl https://packages.microsoft.com/config/ubuntu/14.04/prod.list | sudo tee /etc/apt/sources.list.d/microsoft.list
 - wget -q https://packages.microsoft.com/config/ubuntu/14.04/packages-microsoft-prod.deb
 - sudo dpkg -i packages-microsoft-prod.deb
 - sudo apt-get install apt-transport-https
 - sudo apt-get update
 - sudo apt-get install -y powershell
 - sudo pwsh -NonInteractive -NoLogo -NoProfile -Command "Install-Module platyPS -Force -Confirm:\$false -Scope CurrentUser"

 # https://github.com/travis-ci/travis-ci/issues/1066#issuecomment-383489298
script:
 - sudo dotnet msbuild build.proj /t:Build;StaticAnalysis;Test /p:ExcludeAuthenticators=true;Configuration=$CONFIG;TestsToRun=$TESTS_TO_RUN

after_success:
 - if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
    docker build . -t $DOCKER_USER/$NAME:$TRAVIS_COMMIT --build-arg CONFIG=$CONFIG;
    docker tag $DOCKER_USER/$NAME:$TRAVIS_COMMIT $DOCKER_USER/$NAME:$TRAVIS_BRANCH;

    echo "$DOCKER_PASS" | docker login -u $DOCKER_USER --password-stdin;

    docker push $DOCKER_USER/$NAME:$TRAVIS_COMMIT;
    docker push $DOCKER_USER/$NAME:$TRAVIS_BRANCH;
   fi
