clone_folder: c:\ps
branches:
  only:
    - master
environment:
  nodejs_version: "6"
  github_access_token:
    secure: VMFbecLLHzDq/09YDPbcM0VDDSwwgY57vr5GXK6cZZ4Ti/Xs5RZoylzV8MMr1350

before_build:
  - ps: Get-Module -ListAvailable | where-Object {$_.Name -like “Azure*”} | Uninstall-Module -Verbose
  - ps: Install-Module -Name PowerShellGet -Force
  - ps: Install-Module -Name SplitPipeline -Force
  - ps: Install-Module -Name platyPS -Force
  - ps: Install-Module -Name Azure -Force
  - ps: Install-Module -Name AzureRM -Force -AllowClobber
  - ps: Install-Module -Name AzureStack -Force -AllowClobber
  - ps: Install-Product node $env:nodejs_version
  - git config --global credential.helper store
  - ps: ac "$env:USERPROFILE\.git-credentials" "https://$($env:github_access_token):x-oauth-basic@github.com`n"
  - git config --global user.email %email%
  - git config --global user.name %name%
  - git clone -q https://github.com/MicrosoftDocs/azure-psdocs-ciscripts azpsci
  - cd azpsci
  - npm install
  - npm install typescript
  - node ./node_modules/typescript/bin/tsc
  - cd ..
build_script:
  - node azpsci/out/ci0.js src c:\projects\_output

test: off
on_success:
  - git clone -q --branch=%target_branch% %content_repo% %TEMP%\Azure
  - cd %TEMP%\Azure
  - ps: ls c:\projects\_output -dir | % { copy $_.FullName . -Recurse -Force }
  - git add -A
  - git diff --quiet --exit-code --cached || git commit -m "Sync docs from source code repo to content repo." && git push origin %target_branch% && appveyor AddMessage "Content Updated"
