<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="azure-powershell-release" value="https://pkgs.dev.azure.com/azclitools/release/_packaging/azure-powershell-release/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
