{
  "Entries": [
    {
      "RequestUri": "/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit?api-version=2017-05-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"code\": \"NotFound\",\r\n  \"message\": \"SourceControl with name: 'AASourceControl-VsoGit' does not exist.\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit?api-version=2017-05-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit\",\r\n  \"name\": \"AASourceControl-VsoGit\",\r\n  \"type\": null,\r\n  \"properties\": {\r\n    \"creationTime\": \"2018-10-24T13:21:40.6222126-07:00\",\r\n    \"lastModifiedTime\": \"2018-10-24T13:21:41.1701341-07:00\",\r\n    \"repoUrl\": \"https://francisco-gamino.visualstudio.com/_git/VsoGit-SwaggerAndCmdletsTests\",\r\n    \"sourceType\": \"VsoGit\",\r\n    \"branch\": \"preview\",\r\n    \"folderPath\": \"Azure/MyRunbooks\",\r\n    \"autoSync\": false,\r\n    \"publishRunbook\": true,\r\n    \"description\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit?api-version=2017-05-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"repoUrl\": \"https://francisco-gamino.visualstudio.com/_git/VsoGit-SwaggerAndCmdletsTests\",\r\n    \"branch\": \"preview\",\r\n    \"folderPath\": \"Azure/MyRunbooks\",\r\n    \"autoSync\": false,\r\n    \"publishRunbook\": false,\r\n    \"sourceType\": \"VsoGit\",\r\n    \"securityToken\": {\r\n      \"accessToken\": \"3qdxa22lutnhezd4atpna74jn3m7wgo6o6kfbwezjfnvgbjhvoca\",\r\n      \"tokenType\": \"PersonalAccessToken\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit\",\r\n  \"name\": \"AASourceControl-VsoGit\",\r\n  \"type\": null,\r\n  \"properties\": {\r\n    \"creationTime\": \"2018-10-24T13:21:40.6222126-07:00\",\r\n    \"lastModifiedTime\": \"2018-10-24T13:21:40.6222126-07:00\",\r\n    \"repoUrl\": \"https://francisco-gamino.visualstudio.com/_git/VsoGit-SwaggerAndCmdletsTests\",\r\n    \"sourceType\": \"VsoGit\",\r\n    \"branch\": \"preview\",\r\n    \"folderPath\": \"Azure/MyRunbooks\",\r\n    \"autoSync\": false,\r\n    \"publishRunbook\": false,\r\n    \"description\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-location": [
          "https://management.azure.com/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit?api-version=2017-05-15-preview"
        ],
        "ocp-location": [
          "https://management.azure.com/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit?api-version=2017-05-15-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit?api-version=2017-05-15-preview"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit/sourceControlSyncJobs/0bfa6b49-c08c-4b2f-853e-08128c3c86ee?api-version=2017-05-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"commitId\": \"\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit/sourceControlSyncJobs/0bfa6b49-c08c-4b2f-853e-08128c3c86ee\",\r\n  \"properties\": {\r\n    \"sourceControlSyncJobId\": \"0bfa6b49-c08c-4b2f-853e-08128c3c86ee\",\r\n    \"provisioningState\": \"Running\",\r\n    \"creationTime\": \"2018-10-24T13:21:41.5763868-07:00\",\r\n    \"startTime\": null,\r\n    \"endTime\": null,\r\n    \"syncType\": \"FullSync\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-location": [
          "https://management.azure.com/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit/sourceControlSyncJobs/0bfa6b49-c08c-4b2f-853e-08128c3c86ee?api-version=2017-05-15-preview"
        ],
        "ocp-location": [
          "https://management.azure.com/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit/sourceControlSyncJobs/0bfa6b49-c08c-4b2f-853e-08128c3c86ee?api-version=2017-05-15-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit/sourceControlSyncJobs/0bfa6b49-c08c-4b2f-853e-08128c3c86ee?api-version=2017-05-15-preview"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit/sourceControlSyncJobs/0bfa6b49-c08c-4b2f-853e-08128c3c86ee?api-version=2017-05-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit/sourceControlSyncJobs/0bfa6b49-c08c-4b2f-853e-08128c3c86ee\",\r\n  \"properties\": {\r\n    \"sourceControlSyncJobId\": \"0bfa6b49-c08c-4b2f-853e-08128c3c86ee\",\r\n    \"provisioningState\": \"Running\",\r\n    \"exception\": null,\r\n    \"creationTime\": \"2018-10-24T13:21:41.5763868-07:00\",\r\n    \"startTime\": null,\r\n    \"endTime\": null,\r\n    \"syncType\": \"FullSync\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit/sourceControlSyncJobs/0bfa6b49-c08c-4b2f-853e-08128c3c86ee/streams?$filter=properties%2FstreamType%20eq%20'Output'&api-version=2017-05-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit/sourceControlSyncJobs/0bfa6b49-c08c-4b2f-853e-08128c3c86ee/streams/d3746109-375e-43f4-8a43-565f66440fc0_00636760093109818635_00000000000000000001\",\r\n      \"properties\": {\r\n        \"sourceControlSyncJobStreamId\": \"d3746109-375e-43f4-8a43-565f66440fc0_00636760093109818635_00000000000000000001\",\r\n        \"summary\": \"========================================================================================================\\r\\n\\r\\nAzure Automation Source Control Public Preview.\\r\\nSupported runbooks to sync: PowerShell Workflow, PowerShell Scripts, DSC Configurations, Graphical, and Python 2.\",\r\n        \"time\": \"2018-10-24T13:21:50.9818635-07:00\",\r\n        \"streamType\": \"Output\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit/sourceControlSyncJobs/0bfa6b49-c08c-4b2f-853e-08128c3c86ee/streams/d3746109-375e-43f4-8a43-565f66440fc0_00636760093110756137_00000000000000000002\",\r\n      \"properties\": {\r\n        \"sourceControlSyncJobStreamId\": \"d3746109-375e-43f4-8a43-[...]
    {
      "RequestUri": "/subscriptions/52d8cf1b-bcac-493a-bbae-f234b5ff38b0/resourceGroups/frangom-test/providers/Microsoft.Automation/automationAccounts/frangom-sdkCmdlet-tests/sourceControls/AASourceControl-VsoGit?api-version=2017-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "52d8cf1b-bcac-493a-bbae-f234b5ff38b0"
  }
}