{
  "Get-AzDataTransferPipeline+[NoContext]+List in Subscription+$GET+https://management.azure.com/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/providers/Microsoft.AzureDataTransfer/pipelines?api-version=2025-05-21+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/providers/Microsoft.AzureDataTransfer/pipelines?api-version=2025-05-21",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "55" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "9cb5d13f-d9be-4852-b5d4-1fe885e4b0b5" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/Pipelines/corptest\",\"name\":\"corptest\",\"type\":\"microsoft.azuredatatransfer/pipelines\",\"location\":\"eastus\",\"systemData\":{\"createdBy\":\"6e135f4a-4afc-4899-b453-26151edd13fb\",\"createdByType\":\"Application\",\"createdAt\":\"2025-05-23T20:24:10.5018871Z\",\"lastModifiedBy\":\"6e135f4a-4afc-4899-b453-26151edd13fb\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2025-06-19T08:08:12.6061867Z\"},\"identity\":{\"type\":\"None\"},\"properties\":{\"remoteCloud\":\"corptest\",\"connections\":[{\"properties\":{\"pipeline\":\"corptest\",\"direction\":\"Receive\",\"justification\":\"Receive side for PS testing\",\"status\":\"Approved\",\"statusReason\":\"Approving for PS testing\",\"linkStatus\":\"Unlinked\",\"flowTypes\":[\"Mission\"],\"requirementId\":\"0\",\"remoteSubscriptionId\":\"389ff96a-b137-405b-a3c8-4d22514708b5\",\"pin\":\"G8jG8pe\",\"primaryContact\":\"faikh@microsoft.com\",\"provisioningState\":\"Accepted\",\"internalMetadata\":{\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\"}},\"id\":\"/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/connections/faikh-connection-to-approve-1\",\"name\":\"faikh-connection-to-approve-1\",\"type\":\"microsoft.azuredatatransfer/connections\",\"location\":\"eastus\",\"etag\":\"\\\"0800a352-0000-0100-0000-683837fc0000\\\"\",\"systemData\":{\"lastModifiedBy\":\"faikh@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2025-05-29T10:33:28.7605991Z\"},\"identity\":{\"type\":\"None\"}},{\"properties\":{\"pipeline\":\"corptest\",\"direction\":\"Receive\",\"justification\":\"Receive side for PS testing\",\"status\":\"InReview\",\"linkStatus\":\"Unlinked\",\"flowTypes\":[\"Mission\"],\"requirementId\":\"0\",\"remoteSubscriptionId\":\"389ff96a-b137-405b-a3c8[...]
