{
  "Get-AzDataTransferPendingConnection+[NoContext]+List+$POST+https://management.azure.com/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/connections/test-approved-connection-1/listPendingConnections?api-version=2025-05-21+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/connections/test-approved-connection-1/listPendingConnections?api-version=2025-05-21",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "53" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "65e80d3d-1e94-420b-b0b6-b1d9ce82189c" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "799" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/connections/Connection02\",\"name\":\"Connection02\",\"type\":\"microsoft.azuredatatransfer/connections\",\"location\":\"eastus\",\"subscriptionId\":\"389ff96a-b137-405b-a3c8-4d22514708b5\",\"pipeline\":\"corptest\",\"justification\":\"Required for data processing\",\"flowTypes\":[\"Mission\"]},{\"id\":\"/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/connections/Connection04\",\"name\":\"Connection04\",\"type\":\"microsoft.azuredatatransfer/connections\",\"location\":\"eastus\",\"subscriptionId\":\"389ff96a-b137-405b-a3c8-4d22514708b5\",\"pipeline\":\"corptest\",\"justification\":\"Required for data processing\",\"flowTypes\":[\"Mission\"]},{\"id\":\"/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/res[...]
