{
  "Get-AzDataTransferFlowProfile+[NoContext]+List+$GET+https://management.azure.com/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/pipelines/corptest/flowProfiles?api-version=2025-05-30-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/pipelines/corptest/flowProfiles?api-version=2025-05-30-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "27422dc2-e412-4d75-a813-f495642d8931", "d6d02113-a305-4afa-8e0b-af54ce5b0641" ],
        "x-ms-throttling-version": [ "v2" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/pipelines/corptest/flowProfiles/MessagingFlowProfile14\",\"name\":\"MessagingFlowProfile14\",\"type\":\"microsoft.azuredatatransfer/pipelines/flowprofiles\",\"location\":\"eastus\",\"tags\":{\"creationTime\":\"2025-09-26T20:04:06.1647313Z\",\"vteam\":\"Experience\"},\"systemData\":{\"createdBy\":\"faikh@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-09-26T20:04:12.2396017Z\",\"lastModifiedBy\":\"faikh@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2025-09-26T20:04:12.2396017Z\"},\"properties\":{\"rulesets\":{\"antivirus\":{\"avSolutions\":[\"Defender\"]}},\"replicationScenario\":\"Messaging\",\"status\":\"Enabled\",\"description\":\"FlowProfile optimized for Azure Service Bus and Event Hub message replication\",\"provisioningState\":\"Accepted\"}},{\"id\":\"/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/pipelines/corptest/flowProfiles/BasicFlowProfile15\",\"name\":\"BasicFlowProfile15\",\"type\":\"microsoft.azuredatatransfer/pipelines/flowprofiles\",\"location\":\"eastus\",\"tags\":{\"creationTime\":\"2025-09-27T00:48:26.2142650Z\",\"vteam\":\"Experience\"},\"systemData\":{\"createdBy\":\"faikh@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-09-27T00:48:28.0536856Z\",\"lastModifiedBy\":\"faikh@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2025-09-27T00:48:28.0536856Z\"},\"properties\":{\"replicationScenario\":\"Files\",\"status\":\"Enabled\",\"description\":\"Basic FlowProfile for Files replication\",\"provisioningState\":\"Accepted\"}},{\"id\":\"/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/pipelines/corptest/flowprofiles/joshfp\",\"name\":\"joshfp\",\"type\":\"microsoft.azuredatatransfer/pipelines/flowprofiles\",\"location\":\"eastus2\",\"tags\":{\"creationTime\":\"2025-09-26T17:16:11.1907551Z\",\"vteam\":\"Experience\"},\"systemData\":{\"createdBy\":\"joschung@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-09-26T17:16:14.8366906Z\",\"lastModifiedBy\":\"joschung@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2025-09-26T17:16:14.8366906Z\"},\"identity\":{\"type\":\"None\"},\"properties\":{\"flowProfileId\":\"7d4843be-36bb-41c1-a176-4aa9388fe70d\",\"replicationScenario\":\"Files\",\"status\":\"Enabled\",\"description\":\"FlowProfile \",\"rulesets\":{\"antivirus\":{\"avSolutions\":[\"Defender\"]}},\"provisioningState\":\"Succeeded\"}},{\"id\":\"/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/pipelines/corptest/flowProfiles/FilesFlowProfileManual\",\"name\":\"FilesFlowProfileManual\",\"type\":\"microsoft.azuredatatransfer/pipelines/flo[...]
