{
  "Get-AzDataTransferFlowProfile+[NoContext]+List via Provider Action+$POST+https://management.azure.com/providers/Microsoft.AzureDataTransfer/listFlowProfiles?api-version=2025-05-30-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.AzureDataTransfer/listFlowProfiles?api-version=2025-05-30-preview",
      "Content": "{\r\n  \"pipeline\": \"corptest\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "e4a09be2-83c5-44fd-b1b5-9fea40a6eab6" ],
        "x-ms-throttling-version": [ "v2" ],
        "x-ms-ratelimit-remaining-tenant-writes": [ "799" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"pipeline\":\"corptest\",\"name\":\"BasicFlowProfile20\",\"replicationScenario\":\"Files\",\"flowProfileId\":\"f6059272-31ef-4fc8-9104-bab9b89fcffb\",\"status\":\"Enabled\",\"description\":\"Updated basic FlowProfile for Files replication - Enhanced for production use 2025-09-30 13:09 - Bulk updated on 2025-09-30 13:11:01\"},{\"pipeline\":\"corptest\",\"name\":\"MessagingFlowProfile20\",\"replicationScenario\":\"Messaging\",\"flowProfileId\":\"00548f8f-6dff-4af0-be9c-10e375376c81\",\"status\":\"Enabled\",\"description\":\"FlowProfile optimized for Azure Service Bus and Event Hub message replication - Bulk updated on 2025-09-30 13:11:01\"},{\"pipeline\":\"corptest\",\"name\":\"Tagg[...]
