{
  "New-AzDataTransferFlow+[NoContext]+[NoScenario]+$GET+https://management.azure.com/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/connections/test-rcv-basic-fp-conn-01?api-version=2025-05-30-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/connections/test-rcv-basic-fp-conn-01?api-version=2025-05-30-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"380127fb-0000-0100-0000-68d924400000\"" ],
        "x-ms-throttling-version": [ "v2" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1100" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/connections/test-rcv-basic-fp-conn-01\",\"name\":\"test-rcv-basic-fp-conn-01\",\"type\":\"microsoft.azuredatatransfer/connections\",\"location\":\"eastus\",\"tags\":{\"creationTime\":\"2025-09-28T11:13:22.0613987Z\",\"vteam\":\"Experience\"},\"systemData\":{\"createdBy\":\"faikh@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-09-28T11:13:22.6590143Z\",\"lastModifiedBy\":\"6e135f4a-4afc-4899-b453-26151edd13fb\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2025-09-28T12:04:16.9401162Z\"},\"identity\":{\"type\":\"None\"},\"properties\":{\"provisioningState\":\"Failed\",\"pipeline\":\"corptest\",\"direction\":\"Receive\",\"justification\":\"Basic receive connection using single FlowProfile for testing\",\"flowProfileList\":[{\"pipeline\":\"corptest\",\"name\":\"test-basic-fp-09280826\",\"replicationScenario\":\"Files\",\"flowProfileId\":\"0683c597-735d-49de-93db-8ed5cbfa4e31\",\"status\":\"Enabled\",\"description\":\"Basic FlowProfile for Files replication testing\"}],\"requirementId\":\"FP-BASIC-01\",\"remoteSubscriptionId\":\"389ff96a-b137-405b-a3c8-4d22514708b5\",\"primaryContact\":\"fptest@company.com\",\"status\":\"Approved\",\"statusReason\":\"Approved for bug bash testing\",\"linkStatus\":\"Linked\",\"pin\":\"67A3!Vc\",\"linkedConnectionId\":\"/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/connections/test-send-basic-fp-conn-01\"}}",
    }
  },
  "New-AzDataTransferFlow+[NoContext]+[NoScenario]+$GET+https://management.azure.com/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Microsoft.AzureDataTransfer/connections/test-send-basic-fp-conn-01?api-version=2025-05-30-preview+2": {
    "Request": {
      "Method": "GET",
      "Request[...]
