<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hyak.Common" version="1.0.2" targetFramework="net45" />
  <package id="Microsoft.Azure.Common" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.Azure.Common.Authentication" version="1.0.8-preview" targetFramework="net45" />
  <package id="Microsoft.Azure.Common.Dependencies" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Azure.Common.Extensions" version="0.14.0-preview" targetFramework="net45" />
  <package id="Microsoft.Azure.Management.RecoveryServices" version="0.5.1-preview" targetFramework="net45" />
  <package id="Microsoft.Azure.Management.Resources" version="2.12.0-preview" targetFramework="net45" />
  <package id="Microsoft.Azure.Test.Framework" version="1.0.5513.27084-prerelease" targetFramework="net45" />
  <package id="Microsoft.Azure.Test.HttpRecorder" version="1.0.5513.27084-prerelease" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.12.111071459" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Common" version="1.4.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Common.Dependencies" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management" version="4.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="xunit" version="2.0.0-beta5-build2785" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0-beta5-build2785" targetFramework="net45" />
  <package id="xunit.assert" version="2.0.0-beta5-build2785" targetFramework="net45" />
  <package id="xunit.core" version="2.0.0-beta5-build2785" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="0.99.9-build1021" targetFramework="net45" />
</packages>