<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="azure sdk internal" value="https://www.myget.org/F/azure-sdk-internal/" />
    <add key="myfeed.org Hydra" value="https://www.myget.org/F/hydra/" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="local" value="C:\NuGet" />
  </packageSources>
  <activePackageSource>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>