{
    "Entries": [
        {
          "RequestUri": "/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/providers/microsoft.insights/eventtypes/management/values?$filter=eventTimestamp%20ge%20'2015-03-02T18:00:00.0000000Z'%20and%20eventTimestamp%20le%20'2015-03-02T20:00:00.0000000Z'%20and%20correlationId%20eq%20'/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourceGroups/Default-Web-EastUS/providers/microsoft.insights/alertrules/checkrule3-4b135401-a30c-4224-ae21-fa53a5bd253d/incidents/L3N1YnNjcmlwdGlvbnMvYTkzZmIwN2MtNmM5My00MGJlLWJmM2ItNGYwZGViYTEwZjRiL3Jlc291cmNlR3JvdXBzL0RlZmF1bHQtV2ViLUVhc3RVUy9wcm92aWRlcnMvbWljcm9zb2Z0Lmluc2lnaHRzL2FsZXJ0cnVsZXMvY2hlY2tydWxlMy00YjEzNTQwMS1hMzBjLTQyMjQtYWUyMS1mYTUzYTViZDI1M2QwNjM1NjA5MjE5ODU0NzQ1NDI0'&api-version=2015-04-01",
            "RequestMethod": "GET",
            "RequestBody": "",
            "RequestHeaders": {
            },
            "ResponseBody": "{\"value\":[{\"caller\":\"Microsoft.Insights/alertRules\",\"channels\":\"Admin, Operation\",\"claims\":{\"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/spn\":\"Microsoft.Insights/alertRules\"},\"correlationId\":\"/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourceGroups/Default-Web-EastUS/providers/microsoft.insights/alertrules/checkrule3-4b135401-a30c-4224-ae21-fa53a5bd253d/incidents/L3N1YnNjcmlwdGlvbnMvYTkzZmIwN2MtNmM5My00MGJlLWJmM2ItNGYwZGViYTEwZjRiL3Jlc291cmNlR3JvdXBzL0RlZmF1bHQtV2ViLUVhc3RVUy9wcm92aWRlcnMvbWljcm9zb2Z0Lmluc2lnaHRzL2FsZXJ0cnVsZXMvY2hlY2tydWxlMy00YjEzNTQwMS1hMzBjLTQyMjQtYWUyMS1mYTUzYTViZDI1M2QwNjM1NjA5MjE5ODU0NzQ1NDI0\",\"description\":\"'CpuTime GreaterThan 3 ([Count]) in the last 5 minutes' has been resolved for Website: garyyang1 (Default-Web-EastUS)\",\"eventDataId\":\"0f4f4885-2f32-46ed-9aac-e179132fb8be\",\"eventName\":{\"value\":\"Alert\",\"localizedValue\":\"Alert\"},\"category\":{\"value\":\"microsoft.insights/alertrules\",\"localizedValue\":\"Microsoft Insights Alert Settings\"},\"id\":\"/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourceGroups/Default-Web-EastUS/providers/microsoft.web/sites/garyyang1/events/0f4f4885-2f32-46ed-9aac-e179132fb8be/ticks/635609219854745424\",\"level\":\"Informational\",\"resourceGroupName\":\"Default-Web-EastUS\",\"resourceProviderName\":{\"value\":\"microsoft.web\",\"localizedValue\":\"Azure Web Sites\"},\"resourceUri\":\"/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourceGroups/Default-Web-EastUS/providers/microsoft.web/sites/garyyang1\",\"operationId\":\"/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourceGroups/Default-Web-EastUS/providers/microsoft.insights/alertrules/checkrule3-4b135401-a30c-4224-ae21-fa53a5bd253d/incidents/L3N1YnNjcmlwdGlvbnMvYTkzZmIwN2MtNmM5My00MGJlLWJmM2ItNGYwZGViYTEwZjRiL3Jlc291cmNlR3JvdXBzL0RlZmF1bHQtV2ViLUVhc3RVUy9wcm92aWRlcnMvbWljcm9zb2Z0Lmluc2lnaHRzL2FsZXJ0cnVsZXMvY2hlY2tydWxlMy00YjEzNTQwMS1hMzBjLTQyMjQtYWUyMS1mYTUzYTViZDI1M2QwNjM1NjA5MjE5ODU0NzQ1NDI0\",\"operationName\":{\"value\":\"ResolveAlert\",\"localizedValue\":\"Resolve alert.\"},\"properties\":{\"RuleUri\":\"/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourceGroups/Default-Web-EastUS/providers/microsoft.insights/alertrules/checkrule3-4b135401-a30c-4224-ae21-fa53a5bd253d\",\"RuleName\":\"checkrule3-4b135401-a30c-4224-ae21-fa53a5bd253d\",\"RuleDescription\":\"\",\"Threshold\":\"3\",\"WindowSizeInMinutes\":\"5\",\"Aggregation\":\"Total\",\"Operator\":\"GreaterThan\",\"MetricName\":\"CpuTime\",\"MetricUnit\":\"Count\"},\"status\":{\"value\":\"Resolved\",\"localizedValue\":\"Resolved\"},\"subStatus\":{\"value\":null},\"eventTimestamp\":\"2015-03-02T19:39:45.4745424Z\",\"submissionTimestamp\":\"2015-03-02T19:39:45.5427015Z\",\"subscriptionId\":\"a93fb07c-6c93-40be-bf3b-4f0deba10f4b\"},{\"caller\":\"Microsoft.Insights/alertRules\",\"channels\":\"Admin, Operation\",\"claims\":{\"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/spn\":\"Microsoft.Insights/alertRules\"},\"correlationId\":\"/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourceGroups/Default-Web-EastUS/providers/microsoft.insights/alertrules/checkrule3-4b135401-a30c-4224-ae21-fa53a5bd253d/incidents/L3N1YnNjcmlwdGlvbnMvYTkzZmIwN2MtNmM5My00MGJlLWJmM2ItNGYwZGViYTEwZ[...]
      {
        "RequestUri": "/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/providers/microsoft.insights/eventtypes/management/values?$filter=eventTimestamp%20ge%20'2015-01-15T12:30:00.0000000Z'%20and%20eventTimestamp%20le%20'2015-01-15T20:30:00.0000000Z'%20and%20resourceGroupName%20eq%20'Default-Web-EastUS'&api-version=2015-04-01",
        "RequestMethod": "GET",
        "RequestBody": "",
        "RequestHeaders": {
        },
        "ResponseBody": "{\"value\":[{\"caller\":\"Microsoft[...]
        {
            "RequestUri": "/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/providers/microsoft.insights/eventtypes/management/values?$filter=eventTimestamp%20ge%20'2015-03-03T15:42:50.0000000Z'%20and%20eventTimestamp%20le%20'2015-03-03T16:42:50.0000000Z'%20and%20resourceUri%20eq%20'/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourceGroups/Default-Web-EastUS/providers/microsoft.insights/alertrules/checkrule3-4b135401-a30c-4224-ae21-fa53a5bd253d'&api-version=2015-04-01",
   [...]
        {
            "RequestUri": "/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/providers/microsoft.insights/eventtypes/management/values?$filter=eventTimestamp%20ge%20'2015-03-03T15:42:50.0000000Z'%20and%20eventTimestamp%20le%20'2015-03-03T16:42:50.0000000Z'%20and%20resourceProvider%20eq%20'microsoft.insights'&api-version=2015-04-01",
            "RequestMethod": "GET",
            "RequestBody": "",
            "RequestHeaders": {
            },
            "ResponseBody": "{\"value\"[...]
        {
            "RequestUri": "/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/providers/microsoft.insights/eventtypes/management/values?$filter=eventTimestamp%20ge%20'2015-01-15T12:30:00.0000000Z'%20and%20eventTimestamp%20le%20'2015-01-15T20:30:00.0000000Z'&api-version=2015-04-01",
            "RequestMethod": "GET",
            "RequestBody": "",
            "RequestHeaders": {
            },
            "ResponseBody": "{\"value\":[{\"caller\":\"Microsoft.Insights/alertRules\",\"cor[...]
