{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.DataLakeAnalytics/register?api-version=2014-04-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.DataLakeAnalytics\",\r\n  \"namespace\": \"Microsoft.DataLakeAnalytics\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"South Central US\",\r\n        \"East US 2\",\r\n        \"East US\",\r\n        \"Central US\",\r\n        \"North Central US\",\r\n        \"Japan East\",\r\n        \"North Europe\",\r\n        \"Japan West\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts/dataLakeStoreAccounts\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"South Central US\",\r\n        \"East US 2\",\r\n        \"East US\",\r\n        \"Central US\",\r\n        \"North Central US\",\r\n        \"Japan East\",\r\n        \"North Europe\",\r\n        \"Japan West\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ]\r\n    },\[...]
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.DataLakeAnalytics?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.DataLakeAnalytics\",\r\n  \"namespace\": \"Microsoft.DataLakeAnalytics\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"accounts\"[...]
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourcegroups/abarg17624?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourceGroups/abarg17624\",\r\n  \"name\": \"abarg17624\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1139"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourceGroups/abarg17624/providers/Microsoft.DataLakeStore/accounts/datalake01645?api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\",\r\n  \"name\": \"datalake01645\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.Store 0.9.1-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"state\": null,\r\n    \"endpoint\": null,\r\n    \"creationTime\": null,\r\n    \"lastModifiedTime\": null\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourceGroups/abarg17624/providers/Microsoft.DataLakeStore/accounts/datalake01645\",\r\n  \"name\": \"datalake01645\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/7a17f5e0-cf99-46a5-b505-959a1a31d73f0?api-version=2015-10-01-preview&expanded=true"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1131"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourcegroups/abarg17624/providers/Microsoft.DataLakeStore/accounts/datalake01645/operationresults/0?api-version=2015-10-01-preview"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/7a17f5e0-cf99-46a5-b505-959a1a31d73f0?api-version=2015-10-01-preview&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-10-01-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14775"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourceGroups/abarg17624/providers/Microsoft.DataLakeStore/accounts/datalake01645?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.Store 0.9.1-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallRules\": [],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"datalake01645.caboaccountdogfood.net\",\r\n    \"creationTime\": \"2015-12-11T22:11:40.7081474Z\",\r\n    \"lastModifiedTime\": \"2015-12-11T22:11:40.7081474Z\"\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourceGroups/abarg17624/providers/Microsoft.DataLakeStore/accounts/datalake01645\",\r\n  \"name\": \"datalake01645\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14765"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourceGroups/abarg17624/providers/Microsoft.DataLakeAnalytics/accounts/testaba1781?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.Analytics 0.9.4-preview - PowerShell Client"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeAnalytics/accounts/testaba1781' under resource group 'abarg17624' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourceGroups/abarg17624/providers/Microsoft.DataLakeAnalytics/accounts/testaba1781?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.Analytics 0.9.4-preview - PowerShell Client"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStoreAccount\": \"datalake01645\",\r\n    \"dataLakeStoreAccounts\": [\r\n      {\r\n        \"properties\": {\r\n          \"suffix\": \"caboaccountdogfood.net\"\r\n        },\r\n        \"name\": \"datalake01645\"\r\n      }\r\n    ],\r\n    \"storageAccounts\": [],\r\n    \"maxDegreeOfParallelism\": 20,\r\n    \"maxJobCount\": 3,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"testaba1781.konaaccountdogfood.net\",\r\n    \"creationTime\": \"2015-12-11T22:13:03.9284021Z\",\r\n    \"lastModifiedTime\": \"2015-12-11T22:13:03.9284021Z\"\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourceGroups/abarg17624/providers/Microsoft.DataLakeAnalytics/accounts/testaba1781\",\r\n  \"name\": \"testaba1781\",\r\n  \"type\": \"Microsoft.DataLakeAnalytics/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14707"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/4e4f2b30-1afb-4ef0-ad97-90538dc3183c0?api-version=2015-10-01-preview&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-10-01-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14721"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/Jobs/b6e85a99-efd5-4d3c-843f-51435b8472c6?api-version=2015-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"jobId\": \"b6e85a99-efd5-4d3c-843f-51435b8472c6\",\r\n  \"name\": \"TestJob\",\r\n  \"type\": \"USql\",\r\n  \"degreeOfParallelism\": 1,\r\n  \"priority\": 1000,\r\n  \"properties\": {\r\n    \"type\": \"USql\",\r\n    \"script\": \"DROP DATABASE IF EXISTS adladb012974; CREATE DATABASE adladb012974;\\r\\nCREATE TABLE adladb012974.dbo.adlatable012440\\r\\n(\\r\\n        //Define schema of table\\r\\n        UserId          int, \\r\\n        Start           DateTime, \\r\\n        Region          string, \\r\\n        Query           string, \\r\\n        Duration        int, \\r\\n        Urls            string, \\r\\n        ClickedUrls     string,\\r\\n    INDEX idx1 //Name of index\\r\\n    CLUSTERED (Region ASC) //Co[...]
    {
      "RequestUri": "/Jobs/b6e85a99-efd5-4d3c-843f-51435b8472c6?api-version=2015-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsJob 0.9.6-preview - PowerShell Client"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17624"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"jobId\": \"b6e85a99-efd5-4d3c-843f-51435b8472c6\",\r\n  \"name\": \"TestJob\",\r\n  \"type\": \"USql\",\r\n  \"submitter\": \"admin@aad264.ccsctp.net\",\r\n  \"account\": null,\r\n  \"degreeOfParallelism\": 1,\r\n  \"priority\": 1000,\r\n  \"submitTime\": \"Fri, 11 Dec 2015 22:15:47 GMT\",\r\n  \"startTime\": null,\r\n  \"endTime\": null,\r\n  \"state\": \"Compiling\",\r\n  \"result\": \"Succeeded\",\r\n  \"errorMessage\": null,\r\n  \"storageAccounts\": null,\r\n  \"stateAuditRecords\": [\r\n    {\r\n      \"newState\": \"New\",\r\n      \"timeStamp\": \"Fri, 11 Dec 2015 22:15:47 GMT\",\r\n      \"requestedByUser\": null,\r\n      \"details\": \"userName:admin@aad264.ccsctp.net;submitMachine:N/A\"\r\n    }\r\n  ],\r\n  \"properties\": {\r\n    \"owner\": \"admin@aad264.ccsctp.net\",\r\n    \"resources\": [\r\n      {\r\n        \"name\": \"Profile\",\r\n        \"resourcePath\": \"adl://datalake01645.caboaccountdogfood.net/system/jobservice/jobs/Usql/2015/12/11/22/15/b6e85a99-efd5-4d3c-843f-51435b8472c6/profile\",\r\n        \"type\": \"StatisticsResource\"\r\n      },\r\n      {\r\n        \"name\": \"__ScopeRuntimeStatistics__.xml\",\r\n        \"resourcePath\": \"adl://datalake01645.caboaccountdogfood.net/system/jobservice/jobs/Usql/2015/12/11/22/15/b6e85a99-efd5-4d3c-843f-51435b8472c6/__ScopeRuntimeStatistics__.xml\",\r\n        \"type\": \"StatisticsResource\"\r\n      }\r\n    ],\r\n    \"runtimeVersion\": \"default\",\r\n    \"rootProcessNodeId\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"script\": \"DROP DATABASE IF EXISTS adladb012974; CREATE DATABASE adladb012974;\\nCREATE TABLE adladb012974.dbo.adlatable012440\\n(\\n        //Define schema of table\\n        UserId          int, \\n        Start           DateTime, \\n        Region          string, \\n        Query           string, \\n        Duration        int, \\n        Urls            string, \\n        ClickedUrls     string,\\n    INDEX idx1 //Name of index\\n    CL[...]
[...]
    {
      "RequestUri": "/catalog/usql/databases?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview - PowerShell Client"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17624"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba1781.konaaccountdogfood.net/sqlip/$metadata#databases\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testaba1781\",\r\n      \"databaseName\": \"adladb012974\",\r\n      \"version\": \"53598104-203c-48eb-b3e4-e151a63e2855\"\r\n    },\r\n    {\r\n      \"computeAccountName\": \"testaba1781\",\r\n      \"databaseName\": \"master\",\r\n      \"version\": \"293a3a3a-7204-4ba7-be35-b409fbe908ee\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/adladb012974?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview - PowerShell Client"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17624"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba1781.konaaccountdogfood.net/sqlip/$metadata#databases/$entity\",\r\n  \"computeAccountName\": \"testaba1781\",\r\n  \"databaseName\": \"adladb012974\",\r\n  \"version\": \"53598104-203c-48eb-b3e4-e151a63e2855\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/adladb012974/schemas/dbo/tables?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview - PowerShell Client"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17624"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba1781.konaaccountdogfood.net/sqlip/$metadata#tables\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testaba1781\",\r\n      \"databaseName\": \"adladb012974\",\r\n      \"schemaName\": \"dbo\",\r\n      \"tableName\": \"adlatable012440\",\r\n      \"columnList\": [\r\n        {\r\n          \"name\": \"UserId\",\r\n          \"type\": \"System.Int32\"\r\n        },\r\n        {\r\n          \"name\": \"Start\",\r\n          \"type\": \"System.DateTime\"\r\n        },\r\n        {\r\n          \"name\": \"Region\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"Query\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"Duration\",\r\n          \"type\": \"System.Int32\"\r\n        },\r\n        {\r\n          \"name\": \"Urls\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"ClickedUrls\",\r\n          \"type\": \"System.String\"\r\n        }\r\n      ],\r\n      \"indexList\": [\r\n        {\r\n          \"name\": \"idx1\",\r\n          \"indexKeys\": [\r\n            {\r\n              \"name\": \"Region\",\r\n              \"descending\": false\r\n            }\r\n          ],\r\n          \"columns\": [\r\n            \"Region\"\r\n          ],\r\n          \"distributionInfo\": {\r\n            \"type\": 2,\r\n            \"keys\": [\r\n              {\r\n                \"name\": \"Region\",\r\n                \"descending\": false\r\n              }\r\n            ],\r\n            \"count\": 0,\r\n            \"dynamicCount\": 0\r\n          },\r\n          \"partitionFunction\": \"0e2f0ed1-ef86-4949-9629-4f3f690f2051\",\r\n          \"partitionKeyList\": [],\r\n          \"streamNames\": [],\r\n          \"distributionGroups\": [],\r\n          \"isColumnstore\": false,\r\n          \"indexId\": 1,\r\n          \"isUnique\": false\r\n        }\r\n      ],\r\n      \"partitionKeyList\": [],\r\n      \"externalTable\": null,\r\n      \"version\": \"d5df8381-d115-4655-8727-1a15f7267702\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/adladb012974/schemas/dbo/tables/adlatable012440?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview - PowerShell Client"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17624"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e3[...]
    {
      "RequestUri": "/catalog/usql/databases/adladb012974/schemas/dbo/tablevaluedfunctions?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview - PowerShell Client"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17624"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba1781.konaaccountdogfood.net/sqlip/$metadata#tablevaluedfunctions\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testaba1781\",\r\n      \"databaseName\": \"adladb012974\",\r\n      \"schemaName\": \"dbo\",\r\n      \"tvfName\": \"adlatvf012169\",\r\n      \"definition\": \"//create table weblogs on space-delimited website log data\\nCREATE FUNCTION adladb012974.dbo.adlatvf012169()\\nRETURNS @result TABLE\\n(\\n    s_date DateTime,\\n    s_time string,\\n    s_sitename string,\\n    cs_method string, \\n    cs_uristem string,\\n    cs_uriquery string,\\n    s_port int,\\n    cs_username string, \\n    c_ip string,\\n    cs_useragent string,\\n    cs_cookie string,\\n    cs_referer string, \\n    cs_host string,\\n    sc_status int,\\n    sc_substatus int,\\n    [...]
    {
      "RequestUri": "/catalog/usql/databases/adladb012974/schemas/dbo/tablevaluedfunctions/adlatvf012169?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview - PowerShell Client"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17624"
        ],
        "x-ms-client-subscription-id": [
          [...]
    {
      "RequestUri": "/catalog/usql/databases/adladb012974/schemas/dbo/procedures?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview - PowerShell Client"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17624"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba1781.konaaccountdogfood.net/sqlip/$metadata#procedures\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testaba1781\",\r\n      \"databaseName\": \"adladb012974\",\r\n      \"schemaName\": \"dbo\",\r\n      \"procName\": \"adlaproc014280\",\r\n      \"definition\": \"CREATE PROCEDURE adladb012974.dbo.adlaproc014280()\\nAS BEGIN\\n  CREATE VIEW adladb012974.dbo.adlaview013025 \\n  AS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    ) \\n  AS \\n  T(a, b);\\nEND;\",\r\n      \"version\": \"8ad306a6-1efc-4648-a09c-7a01e9a468a8\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/adladb012974/schemas/dbo/procedures/adlaproc014280?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview - PowerShell Client"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17624"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba1781.konaaccountdogfood.net/sqlip/$metadata#procedures/$entity\",\r\n  \"computeAccountName\": \"testaba1781\",\r\n  \"databaseName\": \"adladb012974\",\r\n  \"schemaName\": \"dbo\",\r\n  \"procName\": \"adlaproc014280\",\r\n  \"definition\": \"CREATE PROCEDURE adladb012974.dbo.adlaproc014280()\\nAS BEGIN\\n  CREATE VIEW adladb012974.dbo.adlaview013025 \\n  AS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    ) \\n  AS \\n  T(a, b);\\nEND;\",\r\n  \"version\": \"8ad306a6-1efc-4648-a09c-7a01e9a468a8\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/adladb012974/schemas/dbo/views?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview - PowerShell Client"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17624"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba1781.konaaccountdogfood.net/sqlip/$metadata#views\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testaba1781\",\r\n      \"databaseName\": \"adladb012974\",\r\n      \"schemaName\": \"dbo\",\r\n      \"viewName\": \"adlaview013025\",\r\n      \"definition\": \"CREATE VIEW adladb012974.dbo.adlaview013025 \\nAS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    ) \\nAS \\nT(a, b);\",\r\n      \"version\": \"da3e411c-43a0-415d-9065-e75353b34531\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/adladb012974/schemas/dbo/views/adlaview013025?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview - PowerShell Client"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17624"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba1781.konaaccountdogfood.net/sqlip/$metadata#views/$entity\",\r\n  \"computeAccountName\": \"testaba1781\",\r\n  \"databaseName\": \"adladb012974\",\r\n  \"schemaName\": \"dbo\",\r\n  \"viewName\": \"adlaview013025\",\r\n  \"definition\": \"CREATE VIEW adladb012974.dbo.adlaview013025 \\nAS \\n    SELECT * FROM \\n    (\\n        VALUES(1,2),(2,4)\\n    ) \\nAS \\nT(a, b);\",\r\n  \"version\": \"da3e411c-43a0-415d-9065-e75353b34531\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/adladb012974/secrets/adlasecret019923?api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"password\": \"adlasecretpwd012819\",\r\n  \"uri\": \"https://pstest.contoso.com/\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview - PowerShell Client"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17624"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/catalog/usql/databases/adladb012974/credentials?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview - PowerShell Client"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17624"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba1781.konaaccountdogfood.net/sqlip/$metadata#credentials\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"testaba1781\",\r\n      \"databaseName\": \"adladb012974\",\r\n      \"credentialName\": \"adlacred012412\",\r\n      \"userName\": \"scope@rkm4grspxa\",\r\n      \"identity\": \"adlasecret019923\",\r\n      \"version\": \"854b4c09-d70e-433f-b14f-25c95e18c4dd\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/adladb012974/credentials/adlacred012412?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.AnalyticsCatalog 0.9.3-preview - PowerShell Client"
        ],
        "x-ms-client-resource-group-name": [
          "abarg17624"
        ],
        "x-ms-client-subscription-id": [
          "0353d26d-e338-469a-a87a-bd3507471155"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://testaba1781.konaaccountdogfood.net/sqlip/$metadata#credentials/$entity\",\r\n  \"computeAccountName\": \"testaba1781\",\r\n  \"databaseName\": \"adladb012974\",\r\n  \"credentialName\": \"adlacred012412\",\r\n  \"userName\": \"scope@rkm4grspxa\",\r\n  \"identity\": \"adlasecret019923\",\r\n  \"version\": \"854b4c09-d70e-433f-b14f-25c95e18c4dd\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0353d26d-e338-469a-a87a-bd3507471155/resourceGroups/abarg17624/providers/Microsoft.DataLakeAnalytics/accounts/testaba1781?api-version=2015-10-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "useragent": [
          "Azure SDK - Microsoft.Azure.Management.DataLake.Analytics 0.9.4-preview - PowerShell Client"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
[...]
