{
  "Entries": [
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/providers/Microsoft.DataLakeAnalytics/register?api-version=2016-02-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/providers/Microsoft.DataLakeAnalytics\",\r\n  \"namespace\": \"Microsoft.DataLakeAnalytics\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"locations\": [\r\n        \"East US 2\",\r\n        \"North Europe\",\r\n        \"Central US\",\r\n        \"West Europe\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2016-11-01\",\r\n        \"2015-10-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts/dataLakeStoreAccounts\",\r\n      \"locations\": [\r\n        \"East US 2\",\r\n        \"North Europe\",\r\n        \"Central US\",\r\n        \"West Europe\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2016-11-01\",\r\n        \"2015-10-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts/storageAccounts\",\r\n      \"locations\": [\r\[...]
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/providers/Microsoft.DataLakeAnalytics?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/providers/Microsoft.DataLakeAnalytics\",\r\n  \"namespace\": \"Microsoft.DataLakeAnalytics\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n   [...]
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourcegroups/ps1439?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/ps1439\",\r\n  \"name\": \"ps1439\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/ps1439/providers/Microsoft.DataLakeStore/accounts/ps1625?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeStore/accounts/ps1625' under resource group 'ps1439' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/ps1439/providers/Microsoft.DataLakeStore/accounts/ps1625?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallAllowAzureIps\": \"Disabled\",\r\n    \"firewallAllowDataLakeAnalytics\": \"Disabled\",\r\n    \"firewallRules\": [],\r\n    \"virtualNetworkRules\": [],\r\n    \"trustedIdProviderState\": \"Disabled\",\r\n    \"trustedIdProviders\": [],\r\n    \"encryptionState\": \"Enabled\",\r\n    \"encryptionConfig\": {\r\n      \"type\": \"ServiceManaged\"\r\n    },\r\n    \"currentTier\": \"Consumption\",\r\n    \"newTier\": \"Consumption\",\r\n    \"dataLakePerformanceTierState\": \"Disabled\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"ps1625.azuredatalakestore.net\",\r\n    \"accountId\": \"fd38d414-870e-4160-883d-9786446cecbf\",\r\n    \"creationTime\": \"2018-06-07T14:36:07.0403029Z\",\r\n    \"lastModifiedTime\": \"2018-06-07T14:36:07.0403029Z\"\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"a71b8723-e110-4e98-8a37-05f423cd6291\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n  },\r\n  \"id\": \"/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/ps1439/providers/Microsoft.DataLakeStore/accounts/ps1625\",\r\n  \"name\": \"ps1625\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14939"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/fd38d414-870e-4160-883d-9786446cecbf0?api-version=2016-11-01&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14942"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/ps1439/providers/Microsoft.DataLakeAnalytics/accounts/ps8054?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeAnalytics/accounts/ps8054' under resource group 'ps1439' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/ps1439/providers/Microsoft.DataLakeAnalytics/accounts/ps8054?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallAllowAzureIps\": \"Disabled\",\r\n    \"firewallRules\": [],\r\n    \"virtualNetworkRules\": [],\r\n    \"debugDataAccessLevel\": \"All\",\r\n    \"defaultDataLakeStoreAccount\": \"ps1625\",\r\n    \"dataLakeStoreAccounts\": [\r\n      {\r\n        \"properties\": {\r\n          \"suffix\": \"azuredatalakestore.net\"\r\n        },\r\n        \"name\": \"ps1625\"\r\n      }\r\n    ],\r\n    \"publicDataLakeStoreAccounts\": [\r\n      {\r\n        \"properties\": {\r\n          \"suffix\": \"azuredatalakestore.net\"\r\n        },\r\n        \"name\": \"adltrainingsampledata\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"suffix\": \"azuredatalakestore.net\"\r\n        },\r\n        \"name\": \"ghinsights\"\r\n      }\r\n    ],\r\n    \"storageAccounts\": [],\r\n    \"maxDegreeOfParallelism\": 32,\r\n    \"maxJobCount\": 20,\r\n    \"systemMaxDegreeOfParallelism\": 100,\r\n    \"systemMaxJobCount\": 20,\r\n    \"maxDegreeOfParallelismPerJob\": 32,\r\n    \"minPriorityPerJob\": 1,\r\n    \"computePolicies\": [],\r\n    \"queryStoreRetention\": 30,\r\n    \"hiveMetastores\": [],\r\n    \"currentTier\": \"Consumption\",\r\n    \"newTier\": \"Consumption\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"ps8054.azuredatalakeanalytics.net\",\r\n    \"accountId\": \"cba73f9c-9ec3-4c1f-a49d-11ef3c7e7d2f\",\r\n    \"creationTime\": \"2018-06-07T14:36:50.5211128Z\",\r\n    \"lastModifiedTime\": \"2018-06-07T14:36:50.5211128Z\"\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/ps1439/providers/Microsoft.DataLakeAnalytics/accounts/ps8054\",\r\n  \"name\": \"ps8054\",\r\n  \"type\": \"Microsoft.DataLakeAnalytics/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14989"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/ps1439/providers/Microsoft.DataLakeAnalytics/accounts/ps8054?api-version=2016-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"defaultDataLakeStoreAccount\": \"ps1625\",\r\n    \"dataLakeStoreAccounts\": [\r\n      {\r\n        \"name\": \"ps1625\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStoreAccount\": \"ps1625\",\r\n    \"dataLakeStoreAccounts\": [\r\n      {\r\n        \"properties\": {\r\n          \"suffix\": \"azuredatalakestore.net\"\r\n        },\r\n        \"name\": \"ps1625\"\r\n      }\r\n    ],\r\n    \"provisioningState\": \"Creating\",\r\n    \"state\": null,\r\n    \"endpoint\": null,\r\n    \"accountId\": \"cba73f9c-9ec3-4c1f-a49d-11ef3c7e7d2f\"\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/ps1439/providers/Microsoft.DataLakeAnalytics/accounts/ps8054\",\r\n  \"name\": \"ps8054\",\r\n  \"type\": \"Microsoft.DataLakeAnalytics/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/providers/Microsoft.DataLakeAnalytics/locations/eastus2/operationResults/cba73f9c-9ec3-4c1f-a49d-11ef3c7e7d2f0?api-version=2016-11-01&expanded=true"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourcegroups/ps1439/providers/Microsoft.DataLakeAnalytics/accounts/ps8054/operationresults/0?api-version=2016-11-01"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/providers/Microsoft.DataLakeAnalytics/locations/eastus2/operationResults/cba73f9c-9ec3-4c1f-a49d-11ef3c7e7d2f0?api-version=2016-11-01&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobs/2bf6e41c-45ee-4980-9966-541f09a28885?api-version=2017-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"TestJob\",\r\n  \"degreeOfParallelism\": 1,\r\n  \"priority\": 1000,\r\n  \"type\": \"USql\",\r\n  \"properties\": {\r\n    \"type\": \"USql\",\r\n    \"script\": \"\\tDROP DATABASE IF EXISTS ps5104; CREATE DATABASE ps5104;\\r\\n\\tCREATE TABLE ps5104.dbo.ps43\\r\\n\\t(\\r\\n\\t\\t\\t//Define schema of table\\r\\n\\t\\t\\tUserId          int, \\r\\n\\t\\t\\tStart           DateTime, \\r\\n\\t\\t\\tRegion          string, \\r\\n\\t\\t\\tQuery           string, \\r\\n\\t\\t\\tDuration        int, \\r\\n\\t\\t\\tUrls            string, \\r\\n\\t\\t\\tClickedUrls     string,\\r\\n\\t\\tINDEX idx1 //Name of index\\r\\n\\t\\tCLUSTERED (Region ASC) //Column to [...]
    {
      "RequestUri": "/jobs/2bf6e41c-45ee-4980-9966-541f09a28885?api-version=2017-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"jobId\": \"2bf6e41c-45ee-4980-9966-541f09a28885\",\r\n  \"name\": \"TestJob\",\r\n  \"type\": \"USql\",\r\n  \"submitter\": \"AdlSdkTestApp01@SPI\",\r\n  \"degreeOfParallelism\": 1,\r\n  \"priority\": 1000,\r\n  \"submitTime\": \"2018-06-07T22:42:27.7310088+08:00\",\r\n  \"state\": \"Compiling\",\r\n  \"result\": \"None\",\r\n  \"stateAuditRecords\": [\r\n    {\r\n      \"newState\": \"New\",\r\n      \"timeStamp\": \"2018-06-07T22:42:27.7310088+08:00\",\r\n      \"details\": \"userName:;submitMachine:N/A\"\r\n    },\r\n    {\r\n      \"newState\": \"Compiling\",\r\n      \"timeStamp\": \"2018-06-07T22:42:28.3091598+08:00\",\r\n      \"details\": \"Compilation:f4d060e0-fc08-43ae-8425-04733da4f012;Status:Dispatched\"\r\n    }\r\n  ],\r\n  \"properties\": {\r\n    \"owner\": \"AdlSdkTestApp01@SPI\",\r\n    \"resources\": [\r\n      {\r\n        \"name\": \"Profile\",\r\n        \"resourcePath\": \"adl://ps1625.azuredatalakestore.net/system/jobservice/jobs/Usql/2018/06/07/14/42/2bf6e41c-45ee-4980-9966-541f09a28885/profile\",\r\n        \"type\": \"StatisticsResource\"\r\n      },\r\n      {\r\n        \"name\": \"__ScopeRuntimeStatistics__.xml\",\r\n        \"resourcePath\": \"adl://ps1625.azuredatalakestore.net/system/jobservice/jobs/Usql/2018/06/07/14/42/2bf6e41c-45ee-4980-9966-541f09a28885/__ScopeRuntimeStatistics__.xml\",\r\n        \"type\": \"StatisticsResource\"\r\n      }\r\n    ],\r\n    \"runtimeVersion\": \"default\",\r\n    \"rootProcessNodeId\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"script\": \"\\tDROP DATABASE IF EXISTS ps5104; CREATE DATABASE ps5104;\\n\\tCREATE TABLE ps5104.dbo.ps43\\n\\t(\\n\\t\\t\\t//Define schema of table\\n\\t\\t\\tUserId          int, \\n\\t\\t\\tStart           DateTime, \\n\\t\\t\\tRegion          string, \\n\\t\\t\\tQuery           string, \\n\\t\\t\\tDuration        int, \\n\\t\\t\\tUrls            string, \\n\\t\\t\\tClickedUrls     string,\\n\\t\\tINDEX idx1 //Name of index\\n\\t\\tCLUSTERED [...]
[...]
    {
      "RequestUri": "/jobs/2bf6e41c-45ee-4980-9966-541f09a28885?api-version=2017-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"jobId\": \"2bf6e41c-45ee-4980-9966-541f09a28885\",\r\n  \"name\": \"TestJob\",\r\n  \"type\": \"USql\",\r\n  \"submitter\": \"AdlSdkTestApp01@SPI\",\r\n  \"degreeOfParallelism\": 1,\r\n  \"priority\": 1000,\r\n  \"submitTime\": \"2018-06-07T22:42:27.7310088+08:00\",\r\n  \"startTime\": \"2018-06-07T22:42:51.465666+08:00\",\r\n  \"state\": \"Running\",\r\n  \"result\": \"None\",\r\n  \"stateAuditRecords\": [\r\n    {\r\n      \"newState\": \"New\",\r\n      \"timeStamp\": \"2018-06-07T22:42:27.7310088+08:00\",\r\n      \"details\": \"userName:;submitMachine:N/A\"\r\n    },\r\n    {\r\n      \"newState\": \"Compiling\",\r\n      \"timeStamp\": \"2018-06-07T22:42:28.3091598+08:00\",\r\n      \"details\": \"Compilation:f4d060e0-fc08-43ae-8425-04733da4f012;Status:Dispatched\"\r\n [...]
[...]
    {
      "RequestUri": "/jobs/2bf6e41c-45ee-4980-9966-541f09a28885?api-version=2017-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"jobId\": \"2bf6e41c-45ee-4980-9966-541f09a28885\",\r\n  \"name\": \"TestJob\",\r\n  \"type\": \"USql\",\r\n  \"submitter\": \"AdlSdkTestApp01@SPI\",\r\n  \"degreeOfParallelism\": 1,\r\n  \"priority\": 1000,\r\n  \"submitTime\": \"2018-06-07T22:42:27.7310088+08:00\",\r\n  \"startTime\": \"2018-06-07T22:42:51.465666+08:00\",\r\n  \"endTime\": \"2018-06-07T22:43:05.5127078+08:00\",\r\n  \"state\": \"Ended\",\r\n  \"result\": \"Succeeded\",\r\n  \"stateAuditRecords\": [\r\n    {\r\n      \"newState\": \"New\",\r\n      \"timeStamp\": \"2018-06-07T22:42:27.7310088+08:00\",\r\n      \"details\": \"userName:;submitMachine:N/A\"\r\n    },\r\n    {\r\n      \"newState\": \"Compiling\",\r\n      \"timeStamp\": \"2018-06-07T22:42:28.3091598+08:00\",\r\n      \"details\": \"Compilation:f4d060e0-fc08-43ae-8425-04733da4f012;Status:Dispatched\"\[...]
    {
      "RequestUri": "/catalog/usql/databases?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://ps8054.azuredatalakeanalytics.net/sqlip/$metadata#databases\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"ps8054\",\r\n      \"databaseName\": \"master\",\r\n      \"version\": \"83c1dd1a-6b6e-42fc-8d5d-183c43478be9\"\r\n    },\r\n    {\r\n      \"computeAccountName\": \"ps8054\",\r\n      \"databaseName\": \"ps5104\",\r\n      \"version\": \"3f9cb8df-7cdb-4958-a01b-2fc40a1411d6\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/ps5104?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://ps8054.azuredatalakeanalytics.net/sqlip/$metadata#databases/$entity\",\r\n  \"computeAccountName\": \"ps8054\",\r\n  \"databaseName\": \"ps5104\",\r\n  \"version\": \"3f9cb8df-7cdb-4958-a01b-2fc40a1411d6\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/ps5104/schemas/dbo/tables?basic=false&api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://ps8054.azuredatalakeanalytics.net/sqlip/$metadata#tables\",\r\n  \"value\": [\r\n    {\r\n      \"tableName\": \"ps43\",\r\n      \"columnList\": [\r\n        {\r\n          \"name\": \"UserId\",\r\n          \"type\": \"System.Int32\"\r\n        },\r\n        {\r\n          \"name\": \"Start\",\r\n          \"type\": \"System.DateTime\"\r\n        },\r\n        {\r\n          \"name\": \"Region\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"Query\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"Duration\",\r\n          \"type\": \"System.Int32\"\r\n        },\r\n        {\r\n          \"name\": \"Urls\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"ClickedUrls\",\r\n          \"type\": \"System.String\"\r\n        }\r\n      ],\r\n      \"indexList\": [\r\n        {\r\n          \"name\": \"idx1\",\r\n          \"indexKeys\": [\r\n            {\r\n              \"name\": \"Region\",\r\n              \"descending\": false\r\n            }\r\n          ],\r\n          \"columns\": [\r\n            \"Region\",\r\n            \"UserId\"\r\n          ],\r\n          \"distributionInfo\": {\r\n            \"type\": 2,\r\n            \"keys\": [\r\n              {\r\n                \"name\": \"Region\",\r\n                \"descending\": false\r\n              }\r\n            ],\r\n            \"count\": 0,\r\n            \"dynamicCount\": 0\r\n          },\r\n          \"partitionFunction\": \"f1f6aa9a-09ba-4995-a5b9-7e92ad7104a2\",\r\n          \"partitionKeyList\": [\r\n            \"UserId\"\r\n          ],\r\n          \"isColumnstore\": false,\r\n          \"indexId\": 1,\r\n          \"isUnique\": false\r\n        }\r\n      ],\r\n      \"partitionKeyList\": [],\r\n      \"externalTable\": null,\r\n      \"distributionInfo\": null,\r\n      \"computeAccountName\": \"ps8054\",\r\n      \"databaseName\": \"ps5104\",\r\n      \"schemaName\": \"dbo\",\r\n      \"createTime\": \"2018-06-08T05:43:00.597+08:00\",\r\n      \"updateTime\": \"2018-06-08T05:43:00.597+08:00\",\r\n      \"version\": \"53687dcb-c4e0-423f-a5cf-b9f3f894e5ff\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/ps5104/tables?basic=false&api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://ps8054.azuredatalakeanalytics.net/sqlip/$metadata#tables\",\r\n  \"value\": [\r\n    {\r\n      \"tableName\": \"ps43\",\r\n      \"columnList\": [\r\n        {\r\n          \"name\": \"UserId\",\r\n          \"type\": \"System.Int32\"\r\n        }[...]
    {
      "RequestUri": "/catalog/usql/databases/ps5104/schemas/dbo/tables/ps43?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://ps8054.azuredatalakeanalytics.net/sqlip/$metadata#tables/$entity\",\r\n  \"tableName\": \"ps43\",\r\n  \"columnList\": [\r\n    {\r\n      \"name\": \"UserId\",\r\n      \"type\": \"System.Int32\"\r\n    },\r\n    {\r\n      \"name\": \"Start\[...]
    {
      "RequestUri": "/catalog/usql/databases/ps5104/schemas/dbo/tables/ps43/partitions?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://ps8054.azuredatalakeanalytics.net/sqlip/$metadata#partitions\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"ps8054\",\r\n      \"databaseName\": \"ps5104\",\r\n      \"schemaName\": \"dbo\",\r\n      \"partitionName\": \"ps43_Partition_6ac71185-a752-4b35-babd-c580d03b51d2\",\r\n      \"indexId\": 1,\r\n      \"label\": [\r\n        \"1\"\r\n      ],\r\n      \"createTime\": \"2018-06-08T05:43:00.61+08:00\",\r\n      \"parentName\": {\r\n        \"server\": \"cba73f9c-9ec3-4c1f-a49d-11ef3c7e7d2f\",\r\n        \"firstPart\": \"ps5104\",\r\n        \"secondPart\": \"dbo\",\r\n        \"thirdPart\": \"ps43\",\r\n        \"fourthPart\": null\r\n      },\r\n      \"version\": \"bed1e18a-61e5-4c76-b383-6874b43409a4\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/ps5104/schemas/dbo/tables/ps43/partitions/ps43_Partition_6ac71185-a752-4b35-babd-c580d03b51d2?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://ps8054.azuredatalakeanalytics.net/sqlip/$metadata#partitions/$entity\",\r\n  \"computeAccountName\": \"ps8054\",\r\n  \"databaseName\": \"ps5104\",\r\n  \"schemaName\": \"dbo\",\r\n  \"partitionName\": \"ps43_Partition_6ac71185-a752-4b35-babd-c580d03b51d2\",\r\n  \"indexId\": 1,\r\n  \"label\": [\r\n    \"1\"\r\n  ],\r\n  \"createTime\": \"2018-06-08T05:43:00.61+08:00\",\r\n  \"parentName\": {\r\n    \"server\": \"cba73f9c-9ec3-4c1f-a49d-11ef3c7e7d2f\",\r\n    \"firstPart\": \"ps5104\",\r\n    \"secondPart\": \"dbo\",\r\n    \"thirdPart\": \"ps43\",\r\n    \"fourthPart\": null\r\n  },\r\n  \"version\": \"bed1e18a-61e5-4c76-b383-6874b43409a4\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/ps5104/schemas/dbo/tablevaluedfunctions?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://ps8054.azuredatalakeanalytics.net/sqlip/$metadata#tablevaluedfunctions\",\r\n  \"value\": [\r\n    {\r\n      \"tvfName\": \"ps687\",\r\n      \"definition\": \"//create table weblogs on space-delimited website log data\\n\\tCREATE FUNCTION ps5104.dbo.ps687()\\n\\tRETURNS @result TABLE\\n\\t(\\n\\t\\ts_date DateTime,\\n\\t\\ts_time string,\\n\\t\\ts_sitename string,\\n\\t\\tcs_method string, \\n\\t\\tcs_uristem string,\\n\\t\\tcs_uriquery string,\\n\\t\\ts_port int,\\n\\t\\tcs_username string, \\n\\t\\tc_ip string,\\n\\t\\tcs_useragent string,\\n\\t\\tcs_cookie string,\\n\\t\\tcs_referer string, \\n\\t\\tcs_host string,\\n\\t\\tsc_status int,\\n\\t\\[...]
    {
      "RequestUri": "/catalog/usql/databases/ps5104/tablevaluedfunctions?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://ps8054.azuredatalakeanalytics.net/sqlip/$metadata#tablevaluedfunctions\",\r\n  \"value\": [\r\n    {\r\n      \"tvfName\": \"ps687\",\r\n      \"definition\": \"//create table weblogs on space-delimited website log data\\n\\tCREATE FUNCTION ps510[...]
    {
      "RequestUri": "/catalog/usql/databases/ps5104/schemas/dbo/tablevaluedfunctions/ps687?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://ps8054.azuredatalakeanalytics.net/sqlip/$metadata#tablevaluedfunctions/$entity\",\r\n  \"tvfName\": \"ps687\",\r\n  \"definition\": \"//create table weblogs on space-delimited website log data\\n\\tCREATE FUNCTION ps5104.dbo.ps6[...]
    {
      "RequestUri": "/catalog/usql/databases/ps5104/schemas/dbo/procedures?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://ps8054.azuredatalakeanalytics.net/sqlip/$metadata#procedures\",\r\n  \"value\": [\r\n    {\r\n      \"procName\": \"ps2375\",\r\n      \"definition\": \"CREATE PROCEDURE ps5104.dbo.ps2375()\\n\\tAS BEGIN\\n\\t  CREATE VIEW ps5104.dbo.ps8687 \\n\\t  AS \\n\\t\\tSELECT * FROM \\n\\t\\t(\\n\\t\\t\\tVALUES(1,2),(2,4)\\n\\t\\t) \\n\\t  AS \\n\\t  T(a, b);\\n\\tEND;\",\r\n      \"computeAccountName\": \"ps8054\",\r\n      \"databaseName\": \"ps5104\",\r\n      \"schemaName\": \"dbo\",\r\n      \"createTime\": null,\r\n      \"updateTime\": null,\r\n      \"version\": \"b1f59892-2421-43ed-a3cb-cc3cb7f66bfd\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/ps5104/schemas/dbo/procedures/ps2375?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://ps8054.azuredatalakeanalytics.net/sqlip/$metadata#procedures/$entity\",\r\n  \"procName\": \"ps2375\",\r\n  \"definition\": \"CREATE PROCEDURE ps5104.dbo.ps2375()\\n\\tAS BEGIN\\n\\t  CREATE VIEW ps5104.dbo.ps8687 \\n\\t  AS \\n\\t\\tSELECT * FROM \\n\\t\\t(\\n\\t\\t\\tVALUES(1,2),(2,4)\\n\\t\\t) \\n\\t  AS \\n\\t  T(a, b);\\n\\tEND;\",\r\n  \"computeAccountName\": \"ps8054\",\r\n  \"databaseName\": \"ps5104\",\r\n  \"schemaName\": \"dbo\",\r\n  \"createTime\": null,\r\n  \"updateTime\": null,\r\n  \"version\": \"b1f59892-2421-43ed-a3cb-cc3cb7f66bfd\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/ps5104/schemas/dbo/views?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://ps8054.azuredatalakeanalytics.net/sqlip/$metadata#views\",\r\n  \"value\": [\r\n    {\r\n      \"viewName\": \"ps8687\",\r\n      \"definition\": \"CREATE VIEW ps5104.dbo.ps8687 \\n\\tAS \\n\\t\\tSELECT * FROM \\n\\t\\t(\\n\\t\\t\\tVALUES(1,2),(2,4)\\n\\t\\t) \\n\\tAS \\n\\tT(a, b);\",\r\n      \"computeAccountName\": \"ps8054\",\r\n      \"databaseName\": \"ps5104\",\r\n      \"schemaName\": \"dbo\",\r\n      \"createTime\": \"2018-06-08T05:43:00.627+08:00\",\r\n      \"updateTime\": \"2018-06-08T05:43:00.627+08:00\",\r\n      \"version\": \"5f781e74-2e43-4eb7-8ba8-15e2e025f7d5\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/ps5104/views?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
[...]
