{
  "Entries": [
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeAnalytics/register?api-version=2016-02-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeAnalytics\",\r\n  \"namespace\": \"Microsoft.DataLakeAnalytics\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"locations\": [\r\n        \"East US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts/dataLakeStoreAccounts\",\r\n      \"locations\": [\r\n        \"East US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts/storageAccounts\",\r\n      \"locations\": [\r\n        \"East US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-10-01-preview\"\r\n      ]\r\n[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeAnalytics?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeAnalytics\",\r\n  \"namespace\": \"Microsoft.DataLakeAnalytics\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"operations\",\r\n [...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourcegroups/onesdk5068?api-version=2016-02-01",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourcegroups/onesdk5068?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/onesdk5068\",\r\n  \"name\": \"onesdk5068\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/onesdk5068/resources?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/onesdk5068/providers/Microsoft.DataLakeStore/accounts/onesdk4792?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeStore/accounts/onesdk4792' under resource group 'onesdk5068' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/onesdk5068/providers/Microsoft.DataLakeStore/accounts/onesdk4792?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"onesdk4792.azuredatalakestore.net\",\r\n    \"accountId\": \"fdcd0447-7f0f-4e09-9c4a-ad0e86e64d6c\",\r\n    \"creationTime\": \"2016-06-09T22:35:51.012111Z\",\r\n    \"lastModifiedTime\": \"2016-06-09T22:35:51.012111Z\"\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/onesdk5068/providers/Microsoft.DataLakeStore/accounts/onesdk4792\",\r\n  \"name\": \"onesdk4792\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/onesdk5068/providers/Microsoft.DataLakeStore/accounts/onesdk4792?api-version=2015-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\",\r\n  \"name\": \"onesdk4792\",\r\n  \"tags\": {},\r\n  \"properties\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"state\": null,\r\n    \"endpoint\": null,\r\n    \"accountId\": \"fdcd0447-7f0f-4e09-9c4a-ad0e86e64d6c\",\r\n    \"creationTime\": null,\r\n    \"lastModifiedTime\": null\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/onesdk5068/providers/Microsoft.DataLakeStore/accounts/onesdk4792\",\r\n  \"name\": \"onesdk4792\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/fdcd0447-7f0f-4e09-9c4a-ad0e86e64d6c0?api-version=2015-10-01-preview&expanded=true"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourcegroups/onesdk5068/providers/Microsoft.DataLakeStore/accounts/onesdk4792/operationresults/0?api-version=2015-10-01-preview"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/fdcd0447-7f0f-4e09-9c4a-ad0e86e64d6c0?api-version=2015-10-01-preview&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/onesdk5068/providers/Microsoft.DataLakeAnalytics/accounts/onesdk9533?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeAnalytics/accounts/onesdk9533' under resource group 'onesdk5068' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/onesdk5068/providers/Microsoft.DataLakeAnalytics/accounts/onesdk9533?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStoreAccount\": \"onesdk4792\",\r\n    \"dataLakeStoreAccounts\": [\r\n      {\r\n        \"properties\": {\r\n          \"suffix\": \"azuredatalakestore.net\"\r\n        },\r\n        \"name\": \"onesdk4792\"\r\n      }\r\n    ],\r\n    \"storageAccounts\": [],\r\n    \"maxDegreeOfParallelism\": 20,\r\n    \"maxJobCount\": 3,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"onesdk9533.azuredatalakeanalytics.net\",\r\n    \"accountId\": \"1399ea1f-1282-46ec-aefc-feb8e980cc0e\",\r\n    \"creationTime\": \"2016-06-09T22:36:20.9789543Z\",\r\n    \"lastModifiedTime\": \"2016-06-09T22:36:20.9789543Z\"\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/resourceGroups/onesdk5068/providers/Microsoft.DataLakeAnalytics/accounts/onesdk9533\",\r\n  \"name\": \"onesdk9533\",\r\n  \"type\": \"Microsoft.DataLakeAnalytics/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/53d9063d-87ae-4ea8-be90-3686c3b8669f/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/1399ea1f-1282-46ec-aefc-feb8e980cc0e0?api-version=2015-10-01-preview&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Jobs/52e0059f-9128-4b10-8be8-935b5add7cb4?api-version=2016-03-20-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"jobId\": \"52e0059f-9128-4b10-8be8-935b5add7cb4\",\r\n  \"name\": \"TestJob\",\r\n  \"type\": \"USql\",\r\n  \"degreeOfParallelism\": 1,\r\n  \"priority\": 1000,\r\n  \"properties\": {\r\n    \"type\": \"USql\",\r\n    \"script\": \"\\tDROP DATABASE IF EXISTS onesdk5734; CREATE DATABASE onesdk5734;\\r\\n\\tCREATE TABLE onesdk5734.dbo.onesdk786\\r\\n\\t(\\r\\n\\t\\t\\t//Define schema of table\\r\\n\\t\\t\\tUserId          int, \\r\\n\\t\\t\\tStart           DateTime, \\r\\n\\t\\t\\tRegion          string, \\r\\n\\t\\t\\tQuery           string, \\r\\n\\t\\t\\tDuration        int, \\r\\n\\t\\t\\tUrls            string, \\r\\n\\t\\t\\tClickedUrls     string,\\r\\n\\t\\tINDEX idx1 //Name of index\\r\\n\\t\\tCLUSTERED (Region [...]
    {
      "RequestUri": "/Jobs/52e0059f-9128-4b10-8be8-935b5add7cb4?api-version=2016-03-20-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"jobId\": \"52e0059f-9128-4b10-8be8-935b5add7cb4\",\r\n  \"name\": \"TestJob\",\r\n  \"type\": \"USql\",\r\n  \"submitter\": \"adlsvc01@benwgoldoutlook.onmicrosoft.com\",\r\n  \"degreeOfParallelism\": 1,\r\n  \"priority\": 1000,\r\n  \"submitTime\": \"2016-06-09T15:38:49.2702739-07:00\",\r\n  \"state\": \"Compiling\",\r\n  \"result\": \"Succeeded\",\r\n  \"stateAuditRecords\": [\r\n    {\r\n      \"newState\": \"New\",\r\n      \"timeStamp\": \"2016-06-09T15:38:49.2702739-07:00\",\r\n      \"details\": \"userName:adlsvc01@benwgoldoutlook.onmicrosoft.com;submitMachine:N/A\"\r\n    },\r\n    {\r\n      \"newState\": \"Compiling\",\r\n      \"timeStamp\": \"2016-06-09T15:38:53.6922419-07:00\",\r\n      \"details\": \"CcsAttempts:1;Status:Dispatched\"\r\n    }\r\n  ],\r\n  \"properties\": {\r\n    \"owner\": \"adlsvc01@benwgoldoutlook.onmicrosoft.com\",\r\n    \"resources\": [\r\n      {\r\n        \"name\": \"Profile\",\r\n        \"resourcePath\": \"adl://onesdk4792.azuredatalakestore.net/system/jobservice/jobs/Usql/2016/06/09/22/38/52e0059f-9128-4b10-8be8-935b5add7cb4/profile\",\r\n        \"type\": \"StatisticsResource\"\r\n      },\r\n      {\r\n        \"name\": \"__ScopeRuntimeStatistics__.xml\",\r\n        \"resourcePath\": \"adl://onesdk4792.azuredatalakestore.net/system/jobservice/jobs/Usql/2016/06/09/22/38/52e0059f-9128-4b10-8be8-935b5add7cb4/__ScopeRuntimeStatistics__.xml\",\r\n        \"type\": \"StatisticsResource\"\r\n      }\r\n    ],\r\n    \"runtimeVersion\": \"default\",\r\n    \"rootProcessNodeId\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"script\": \"\\tDROP DATABASE IF EXISTS onesdk5734; CREATE DATABASE onesdk5734;\\n\\tCREATE TABLE onesdk5734.dbo.onesdk786\\n\\t(\\n\\t\\t\\t//Define schema of table\\n\\t\\t\\tUserId          int, \\n\\t\\t\\tStart           DateTime, \\n\\t\\t\\tRegion          string, \\n\\t\\t\\tQuery           string, \\n\\t\\t\\tDuration        int, \\n\\t\\t\\tUrls            string, \\n\\t\\t\\tClickedUrls     string,\\n\\t\\tINDEX idx1 //Name of index\\[...]
[...]
    {
      "RequestUri": "/Jobs/52e0059f-9128-4b10-8be8-935b5add7cb4?api-version=2016-03-20-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"jobId\": \"52e0059f-9128-4b10-8be8-935b5add7cb4\",\r\n  \"name\": \"TestJob\",\r\n  \"type\": \"USql\",\r\n  \"submitter\": \"adlsvc01@benwgoldoutlook.onmicrosoft.com\",\r\n  \"degreeOfParallelism\": 1,\r\n  \"priority\": 1000,\r\n  \"submitTime\": \"2016-06-09T15:38:49.2702739-07:00\",\r\n  \"startTime\": \"2016-06-09T15:39:33.5680863-07:00\",\r\n  \"state\": \"Running\",\r\n  \"result\": \"Succeeded\",\r\n  \"stateAuditRecords\": [\r\n    {\r\n      \"newState\": \"New\",\r\n      \"timeStamp\": \"2016-06-09T15:38:49.2702739-07:00\",\r\n      \"details\": \"userName:adlsvc01@benwgoldoutlook.onmicrosoft.com;submitMachine:N/A\"\r\n    },\r\n    {\r\n      \"newState\": \"Compiling\",\r\n      \"timeStamp\": \"2016-06-09T15:38:53.6922419-07:00\",\r\n      \"details\": \"CcsAttempts:1;Status:Dispat[...]
[...]
    {
      "RequestUri": "/Jobs/52e0059f-9128-4b10-8be8-935b5add7cb4?api-version=2016-03-20-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"jobId\": \"52e0059f-9128-4b10-8be8-935b5add7cb4\",\r\n  \"name\": \"TestJob\",\r\n  \"type\": \"USql\",\r\n  \"submitter\": \"adlsvc01@benwgoldoutlook.onmicrosoft.com\",\r\n  \"degreeOfParallelism\": 1,\r\n  \"priority\": 1000,\r\n  \"submitTime\": \"2016-06-09T15:38:49.2702739-07:00\",\r\n  \"startTime\": \"2016-06-09T15:39:33.5680863-07:00\",\r\n  \"endTime\": \"2016-06-09T15:39:43.4589251-07:00\",\r\n  \"state\": \"Ended\",\r\n  \"result\": \"Succeeded\",\r\n  \"stateAuditRecords\": [\r\n    {\r\n      \"newState\": \"New\",\r\n      \"timeStamp\": \"2016-06-09T15:38:49.2702739-07:00\",\r\n      \"details\": \"userName:adlsvc01@benwgoldoutlook.onmicrosoft.com;submitMachine:N/A\"\r\n    },\r\n    {\r\n      \"newState\": \"Compiling\",\r\n      \"timeStamp\": \"2016-06-09T15:38:53.6922419-07:00\",\r\n      \"details\": \"CcsAttempts:1;Status:Dispatch[...]
    {
      "RequestUri": "/catalog/usql/databases?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk9533.azuredatalakeanalytics.net/sqlip/$metadata#databases\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"onesdk9533\",\r\n      \"databaseName\": \"master\",\r\n      \"version\": \"a6fe4677-7990-4d82-bc25-c61a156ee28a\"\r\n    },\r\n    {\r\n      \"computeAccountName\": \"onesdk9533\",\r\n      \"databaseName\": \"onesdk5734\",\r\n      \"version\": \"f00722d8-2763-484d-bbb4-906edf56583f\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/onesdk5734?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk9533.azuredatalakeanalytics.net/sqlip/$metadata#databases/$entity\",\r\n  \"computeAccountName\": \"onesdk9533\",\r\n  \"databaseName\": \"onesdk5734\",\r\n  \"version\": \"f00722d8-2763-484d-bbb4-906edf56583f\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/onesdk5734/schemas/dbo/tables?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk9533.azuredatalakeanalytics.net/sqlip/$metadata#tables\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"onesdk9533\",\r\n      \"databaseName\": \"onesdk5734\",\r\n      \"schemaName\": \"dbo\",\r\n      \"tableName\": \"onesdk786\",\r\n      \"columnList\": [\r\n        {\r\n          \"name\": \"UserId\",\r\n          \"type\": \"System.Int32\"\r\n        },\r\n        {\r\n          \"name\": \"Start\",\r\n          \"type\": \"System.DateTime\"\r\n        },\r\n        {\r\n          \"name\": \"Region\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"Query\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"Duration\",\r\n          \"type\": \"System.Int32\"\r\n        },\r\n        {\r\n          \"name\": \"Urls\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"ClickedUrls\",\r\n          \"type\": \"System.String\"\r\n        }\r\n      ],\r\n      \"indexList\": [\r\n        {\r\n          \"name\": \"idx1\",\r\n          \"indexKeys\": [\r\n            {\r\n              \"name\": \"Region\",\r\n              \"descending\": false\r\n            }\r\n          ],\r\n          \"columns\": [\r\n            \"Region\",\r\n            \"UserId\"\r\n          ],\r\n          \"distributionInfo\": {\r\n            \"type\": 2,\r\n            \"keys\": [\r\n              {\r\n                \"name\": \"Region\",\r\n                \"descending\": false\r\n              }\r\n            ],\r\n            \"count\": 0,\r\n            \"dynamicCount\": 0\r\n          },\r\n          \"partitionFunction\": \"848bbe6d-b5a7-469e-b536-2295d2396b81\",\r\n          \"partitionKeyList\": [\r\n            \"UserId\"\r\n          ],\r\n          \"isColumnstore\": false,\r\n          \"indexId\": 1,\r\n          \"isUnique\": false\r\n        }\r\n      ],\r\n      \"partitionKeyList\": [],\r\n      \"externalTable\": null,\r\n      \"version\": \"60221c68-951e-4b75-a30f-2d4cb3c44ea5\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/onesdk5734/schemas/dbo/tables/onesdk786?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk9533.azuredatalakeanalytics.net/sqlip/$metadata#tables/$entity\",\r\n  \"computeAccountName\": \"onesdk9533\",\r\n  \"databaseName\": \"onesdk5734\",\r\n  \"schemaName\": \"dbo\",\r\n  \"tableName\": \"onesdk786\",\r\n  [...]
    {
      "RequestUri": "/catalog/usql/databases/onesdk5734/schemas/dbo/tables/onesdk786/partitions?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk9533.azuredatalakeanalytics.net/sqlip/$metadata#partitions\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"onesdk9533\",\r\n      \"databaseName\": \"onesdk5734\",\r\n      \"schemaName\": \"dbo\",\r\n      \"partitionName\": \"onesdk786__1__1\",\r\n      \"indexId\": 1,\r\n      \"label\": [\r\n        \"1\"\r\n      ],\r\n      \"version\": \"8c93c5e2-b5ff-4210-af41-5c03d057adc9\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/onesdk5734/schemas/dbo/tables/onesdk786/partitions/onesdk786__1__1?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk9533.azuredatalakeanalytics.net/sqlip/$metadata#partitions/$entity\",\r\n  \"computeAccountName\": \"onesdk9533\",\r\n  \"databaseName\": \"onesdk5734\",\r\n  \"schemaName\": \"dbo\",\r\n  \"partitionName\": \"onesdk786__1__1\",\r\n  \"indexId\": 1,\r\n  \"label\": [\r\n    \"1\"\r\n  ],\r\n  \"version\": \"8c93c5e2-b5ff-4210-af41-5c03d057adc9\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/onesdk5734/schemas/dbo/tablevaluedfunctions?api-version=2015-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk9533.azuredatalakeanalytics.net/sqlip/$metadata#tablevaluedfunctions\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"onesdk9533\",\r\n      \"databaseName\": \"onesdk5734\",\r\n      \"schemaName\": \"dbo\",\r\n      \"tvfName\": \"onesdk7804\",\r\n      \"definition\": \"//create table weblogs on space-delimited website log data\\n\\tCREATE FUNCTION onesdk5734.dbo.onesdk7804()\\n\\tRETURNS @result TABLE\\n\\t(\\n\\t\\ts_date DateTime,\\n\\t\\ts_time string,\\n\\t\\ts_sitename string,\\n\\t\\tcs_method string, \\n\\t\\tcs_uristem string,\\n\\t\\tcs_uriquery string,\\n\\t\\ts_port int,\\n\\t\\tcs_username string, \\n\\t\\tc_ip string,\\n\\t\\tcs_useragent string,\\n\\t\\tcs_cookie string,\\n\\t\\tcs_referer string, \\n\\t\\tcs_host string,\\n\\t\\tsc_status int[...]
