{
  "Entries": [
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/providers/Microsoft.DataLakeAnalytics/register?api-version=2016-02-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/providers/Microsoft.DataLakeAnalytics\",\r\n  \"namespace\": \"Microsoft.DataLakeAnalytics\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"locations\": [\r\n        \"East US 2\",\r\n        \"North Europe\",\r\n        \"Central US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2016-11-01\",\r\n        \"2015-10-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts/dataLakeStoreAccounts\",\r\n      \"locations\": [\r\n        \"East US 2\",\r\n        \"North Europe\",\r\n        \"Central US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2016-11-01\",\r\n        \"2015-10-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts/storageAccounts\",\r\n      \"locations\": [\r\n        \"East US 2\",\r\n [...]
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/providers/Microsoft.DataLakeAnalytics?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/providers/Microsoft.DataLakeAnalytics\",\r\n  \"namespace\": \"Microsoft.DataLakeAnalytics\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n   [...]
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourcegroups/onesdk8035?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/onesdk8035\",\r\n  \"name\": \"onesdk8035\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/onesdk8035/providers/Microsoft.DataLakeStore/accounts/onesdk9305?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeStore/accounts/onesdk9305' under resource group 'onesdk8035' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/onesdk8035/providers/Microsoft.DataLakeStore/accounts/onesdk9305?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallAllowAzureIps\": \"Disabled\",\r\n    \"firewallRules\": [],\r\n    \"virtualNetworkRules\": [],\r\n    \"trustedIdProviderState\": \"Disabled\",\r\n    \"trustedIdProviders\": [],\r\n    \"encryptionState\": \"Enabled\",\r\n    \"encryptionConfig\": {\r\n      \"type\": \"ServiceManaged\"\r\n    },\r\n    \"currentTier\": \"Consumption\",\r\n    \"newTier\": \"Consumption\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"onesdk9305.azuredatalakestore.net\",\r\n    \"accountId\": \"d19a1db8-b69b-4f9d-adc9-048c5bf49839\",\r\n    \"creationTime\": \"2017-09-13T20:12:35.2615025Z\",\r\n    \"lastModifiedTime\": \"2017-09-13T20:12:35.2615025Z\"\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"90e5156d-476c-4cdd-8c67-4933180c38a8\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n  },\r\n  \"id\": \"/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/onesdk8035/providers/Microsoft.DataLakeStore/accounts/onesdk9305\",\r\n  \"name\": \"onesdk9305\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14986"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/providers/Microsoft.DataLakeStore/locations/EastUS2/operationResults/d19a1db8-b69b-4f9d-adc9-048c5bf498390?api-version=2016-11-01&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14983"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/onesdk8035/providers/Microsoft.DataLakeAnalytics/accounts/onesdk7807?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeAnalytics/accounts/onesdk7807' under resource group 'onesdk8035' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/onesdk8035/providers/Microsoft.DataLakeAnalytics/accounts/onesdk7807?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallAllowAzureIps\": \"Disabled\",\r\n    \"debugDataAccessLevel\": \"All\",\r\n    \"firewallRules\": [],\r\n    \"defaultDataLakeStoreAccount\": \"onesdk9305\",\r\n    \"dataLakeStoreAccounts\": [\r\n      {\r\n        \"properties\": {\r\n          \"suffix\": \"azuredatalakestore.net\"\r\n        },\r\n        \"name\": \"onesdk9305\"\r\n      }\r\n    ],\r\n    \"publicDataLakeStoreAccounts\": [\r\n      {\r\n        \"properties\": {\r\n          \"suffix\": \"azuredatalakestore.net\"\r\n        },\r\n        \"name\": \"adltrainingsampledata\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"suffix\": \"azuredatalakestore.net\"\r\n        },\r\n        \"name\": \"ghinsights\"\r\n      }\r\n    ],\r\n    \"storageAccounts\": [],\r\n    \"maxDegreeOfParallelism\": 100,\r\n    \"maxJobCount\": 20,\r\n    \"systemMaxDegreeOfParallelism\": 100,\r\n    \"systemMaxJobCount\": 20,\r\n    \"maxDegreeOfParallelismPerJob\": 100,\r\n    \"minPriorityPerJob\": 1,\r\n    \"computePolicies\": [],\r\n    \"queryStoreRetention\": 30,\r\n    \"hiveMetastores\": [],\r\n    \"currentTier\": \"Consumption\",\r\n    \"newTier\": \"Consumption\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"onesdk7807.azuredatalakeanalytics.net\",\r\n    \"accountId\": \"6b7a6acb-6bdc-42e6-974b-3fe4ec7b3b31\",\r\n    \"creationTime\": \"2017-09-13T20:13:10.0577238Z\",\r\n    \"lastModifiedTime\": \"2017-09-13T20:13:10.0577238Z\"\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/onesdk8035/providers/Microsoft.DataLakeAnalytics/accounts/onesdk7807\",\r\n  \"name\": \"onesdk7807\",\r\n  \"type\": \"Microsoft.DataLakeAnalytics/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14966"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/onesdk8035/providers/Microsoft.DataLakeAnalytics/accounts/onesdk7807?api-version=2016-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStoreAccount\": \"onesdk9305\",\r\n    \"dataLakeStoreAccounts\": [\r\n      {\r\n        \"name\": \"onesdk9305\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStoreAccount\": \"onesdk9305\",\r\n    \"dataLakeStoreAccounts\": [\r\n      {\r\n        \"properties\": {\r\n          \"suffix\": \"azuredatalakestore.net\"\r\n        },\r\n        \"name\": \"onesdk9305\"\r\n      }\r\n    ],\r\n    \"provisioningState\": \"Creating\",\r\n    \"state\": null,\r\n    \"endpoint\": null,\r\n    \"accountId\": \"6b7a6acb-6bdc-42e6-974b-3fe4ec7b3b31\"\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourceGroups/onesdk8035/providers/Microsoft.DataLakeAnalytics/accounts/onesdk7807\",\r\n  \"name\": \"onesdk7807\",\r\n  \"type\": \"Microsoft.DataLakeAnalytics/accounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/6b7a6acb-6bdc-42e6-974b-3fe4ec7b3b310?api-version=2016-11-01&expanded=true"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/resourcegroups/onesdk8035/providers/Microsoft.DataLakeAnalytics/accounts/onesdk7807/operationresults/0?api-version=2016-11-01"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/04319d6d-4a66-4701-bb2f-e7dbbd9ae4db/providers/Microsoft.DataLakeAnalytics/locations/EastUS2/operationResults/6b7a6acb-6bdc-42e6-974b-3fe4ec7b3b310?api-version=2016-11-01&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14976"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/Jobs/be6ed028-5e0a-4adb-b5d2-2b5ea3db5d27?api-version=2016-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"TestJob\",\r\n  \"degreeOfParallelism\": 1,\r\n  \"priority\": 1000,\r\n  \"type\": \"USql\",\r\n  \"properties\": {\r\n    \"type\": \"USql\",\r\n    \"script\": \"\\tDROP DATABASE IF EXISTS onesdk6218; CREATE DATABASE onesdk6218;\\r\\n\\tCREATE TABLE onesdk6218.dbo.onesdk3674\\r\\n\\t(\\r\\n\\t\\t\\t//Define schema of table\\r\\n\\t\\t\\tUserId          int, \\r\\n\\t\\t\\tStart           DateTime, \\r\\n\\t\\t\\tRegion          string, \\r\\n\\t\\t\\tQuery           string, \\r\\n\\t\\t\\tDuration        int, \\r\\n\\t\\t\\tUrls            string, \\r\\n\\t\\t\\tClickedUrls     string,\\r\\n\\t\\tINDEX idx1 //Name of index\\r\\n\\t\\tCLUSTERED (Region[...]
    {
      "RequestUri": "/Jobs/be6ed028-5e0a-4adb-b5d2-2b5ea3db5d27?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"jobId\": \"be6ed028-5e0a-4adb-b5d2-2b5ea3db5d27\",\r\n  \"name\": \"TestJob\",\r\n  \"type\": \"USql\",\r\n  \"submitter\": \"AdlSdkTestApp01@SPI\",\r\n  \"degreeOfParallelism\": 1,\r\n  \"priority\": 1000,\r\n  \"submitTime\": \"2017-09-13T13:18:40.8436635-07:00\",\r\n  \"state\": \"Compiling\",\r\n  \"result\": \"None\",\r\n  \"stateAuditRecords\": [\r\n    {\r\n      \"newState\": \"New\",\r\n      \"timeStamp\": \"2017-09-13T13:18:40.8436635-07:00\",\r\n      \"details\": \"userName:;submitMachine:N/A\"\r\n    },\r\n    {\r\n      \"newState\": \"Compiling\",\r\n      \"timeStamp\": \"2017-09-13T13:18:41.2498923-07:00\",\r\n      \"details\": \"Compilation:a05d0858-941d-4969-8e79-2bd7c3afa320;Status:Dispatched\"\r\n    }\r\n  ],\r\n  \"properties\": {\r\n    \"owner\": \"AdlSdkTestApp01@SPI\",\r\n    \"resources\": [\r\n      {\r\n        \"name\": \"Profile\",\r\n        \"resourcePath\": \"adl://onesdk9305.azuredatalakestore.net/system/jobservice/jobs/Usql/2017/09/13/20/18/be6ed028-5e0a-4adb-b5d2-2b5ea3db5d27/profile\",\r\n        \"type\": \"StatisticsResource\"\r\n      },\r\n      {\r\n        \"name\": \"__ScopeRuntimeStatistics__.xml\",\r\n        \"resourcePath\": \"adl://onesdk9305.azuredatalakestore.net/system/jobservice/jobs/Usql/2017/09/13/20/18/be6ed028-5e0a-4adb-b5d2-2b5ea3db5d27/__ScopeRuntimeStatistics__.xml\",\r\n        \"type\": \"StatisticsResource\"\r\n      }\r\n    ],\r\n    \"runtimeVersion\": \"default\",\r\n    \"rootProcessNodeId\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"script\": \"\\tDROP DATABASE IF EXISTS onesdk6218; CREATE DATABASE onesdk6218;\\n\\tCREATE TABLE onesdk6218.dbo.onesdk3674\\n\\t(\\n\\t\\t\\t//Define schema of table\\n\\t\\t\\tUserId          int, \\n\\t\\t\\tStart           DateTime, \\n\\t\\t\\tRegion          string, \\n\\t\\t\\tQuery           string, \\n\\t\\t\\tDuration        int, \\n\\t\\t\\tUrls            string, \\n\\t\\t\\tClickedUrls     string,\\n\\t\\tINDEX idx1 //Name of index\[...]
[...]
    {
      "RequestUri": "/Jobs/be6ed028-5e0a-4adb-b5d2-2b5ea3db5d27?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"jobId\": \"be6ed028-5e0a-4adb-b5d2-2b5ea3db5d27\",\r\n  \"name\": \"TestJob\",\r\n  \"type\": \"USql\",\r\n  \"submitter\": \"AdlSdkTestApp01@SPI\",\r\n  \"degreeOfParallelism\": 1,\r\n  \"priority\": 1000,\r\n  \"submitTime\": \"2017-09-13T13:18:40.8436635-07:00\",\r\n  \"startTime\": \"2017-09-13T13:19:11.0628346-07:00\",\r\n  \"state\": \"Running\",\r\n  \"result\": \"None\",\r\n  \"stateAuditRecords\": [\r\n    {\r\n      \"newState\": \"New\",\r\n      \"timeStamp\": \"2017-09-13T13:18:40.8436635-07:00\",\r\n      \"details\": \"userName:;submitMachine:N/A\"\r\n    },\r\n    {\r\n      \"newState\": \"Compiling\",\r\n      \"timeStamp\": \"2017-09-13T13:18:41.2498923-07:00\",\r\n      \"details\": \"Compilation:a05d0858-941d-4969-8e79-2bd7c3afa320;Status:Dispatched\"\r\n[...]
[...]
    {
      "RequestUri": "/Jobs/be6ed028-5e0a-4adb-b5d2-2b5ea3db5d27?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"jobId\": \"be6ed028-5e0a-4adb-b5d2-2b5ea3db5d27\",\r\n  \"name\": \"TestJob\",\r\n  \"type\": \"USql\",\r\n  \"submitter\": \"AdlSdkTestApp01@SPI\",\r\n  \"degreeOfParallelism\": 1,\r\n  \"priority\": 1000,\r\n  \"submitTime\": \"2017-09-13T13:18:40.8436635-07:00\",\r\n  \"startTime\": \"2017-09-13T13:19:11.0628346-07:00\",\r\n  \"endTime\": \"2017-09-13T13:19:21.5169149-07:00\",\r\n  \"state\": \"Ended\",\r\n  \"result\": \"Succeeded\",\r\n  \"stateAuditRecords\": [\r\n    {\r\n      \"newState\": \"New\",\r\n      \"timeStamp\": \"2017-09-13T13:18:40.8436635-07:00\",\r\n      \"details\": \"userName:;submitMachine:N/A\"\r\n    },\r\n    {\r\n      \"newState\": \"Compiling\",\r\n      \"timeStamp\": \"2017-09-13T13:18:41.2498923-07:00\",\r\n      \"details\": \"Compilation:a05d0858-941d-4969-8e79-2bd7c3afa320;Status:Dispatched\"\[...]
    {
      "RequestUri": "/catalog/usql/databases?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk7807.azuredatalakeanalytics.net/sqlip/$metadata#databases\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"onesdk7807\",\r\n      \"databaseName\": \"master\",\r\n      \"version\": \"c2eb3344-4df3-4328-8f7b-321ad6b6e0f6\"\r\n    },\r\n    {\r\n      \"computeAccountName\": \"onesdk7807\",\r\n      \"databaseName\": \"onesdk6218\",\r\n      \"version\": \"ad79f697-b5d0-4915-b8a5-9154811c562d\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/onesdk6218?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk7807.azuredatalakeanalytics.net/sqlip/$metadata#databases/$entity\",\r\n  \"computeAccountName\": \"onesdk7807\",\r\n  \"databaseName\": \"onesdk6218\",\r\n  \"version\": \"ad79f697-b5d0-4915-b8a5-9154811c562d\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/onesdk6218/schemas/dbo/tables?basic=false&api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk7807.azuredatalakeanalytics.net/sqlip/$metadata#tables\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"onesdk7807\",\r\n      \"databaseName\": \"onesdk6218\",\r\n      \"schemaName\": \"dbo\",\r\n      \"tableName\": \"onesdk3674\",\r\n      \"columnList\": [\r\n        {\r\n          \"name\": \"UserId\",\r\n          \"type\": \"System.Int32\"\r\n        },\r\n        {\r\n          \"name\": \"Start\",\r\n          \"type\": \"System.DateTime\"\r\n        },\r\n        {\r\n          \"name\": \"Region\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"Query\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"Duration\",\r\n          \"type\": \"System.Int32\"\r\n        },\r\n        {\r\n          \"name\": \"Urls\",\r\n          \"type\": \"System.String\"\r\n        },\r\n        {\r\n          \"name\": \"ClickedUrls\",\r\n          \"type\": \"System.String\"\r\n        }\r\n      ],\r\n      \"indexList\": [\r\n        {\r\n          \"name\": \"idx1\",\r\n          \"indexKeys\": [\r\n            {\r\n              \"name\": \"Region\",\r\n              \"descending\": false\r\n            }\r\n          ],\r\n          \"columns\": [\r\n            \"Region\",\r\n            \"UserId\"\r\n          ],\r\n          \"distributionInfo\": {\r\n            \"type\": 2,\r\n            \"keys\": [\r\n              {\r\n                \"name\": \"Region\",\r\n                \"descending\": false\r\n              }\r\n            ],\r\n            \"count\": 0,\r\n            \"dynamicCount\": 0\r\n          },\r\n          \"partitionFunction\": \"4fbd90bd-fd00-44ef-91b8-6d789f7364b2\",\r\n          \"partitionKeyList\": [\r\n            \"UserId\"\r\n          ],\r\n          \"isColumnstore\": false,\r\n          \"indexId\": 1,\r\n          \"isUnique\": false\r\n        }\r\n      ],\r\n      \"partitionKeyList\": [],\r\n      \"externalTable\": null,\r\n      \"distributionInfo\": null,\r\n      \"version\": \"4192da5b-1b79-4b21-b411-a6af435bb7d2\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/onesdk6218/tables?basic=false&api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk7807.azuredatalakeanalytics.net/sqlip/$metadata#tables\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"onesdk7807\",\r\n      \"databaseName\": \"onesdk6218\",\r\n      \"schemaName\": \"dbo\",\r\n      \"tableName\": \"o[...]
    {
      "RequestUri": "/catalog/usql/databases/onesdk6218/schemas/dbo/tables/onesdk3674?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk7807.azuredatalakeanalytics.net/sqlip/$metadata#tables/$entity\",\r\n  \"computeAccountName\": \"onesdk7807\",\r\n  \"databaseName\": \"onesdk6218\",\r\n  \"schemaName\": \"dbo\",\r\n  \"tableName\": \"onesdk3674\",\r\n  \"colu[...]
    {
      "RequestUri": "/catalog/usql/databases/onesdk6218/schemas/dbo/tables/onesdk3674/partitions?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk7807.azuredatalakeanalytics.net/sqlip/$metadata#partitions\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"onesdk7807\",\r\n      \"databaseName\": \"onesdk6218\",\r\n      \"schemaName\": \"dbo\",\r\n      \"partitionName\": \"onesdk3674_Partition_33a998e9-b9d5-4869-b6f6-861d76468af8\",\r\n      \"indexId\": 1,\r\n      \"label\": [\r\n        \"1\"\r\n      ],\r\n      \"createDate\": \"2017-09-13T20:19:17.76-07:00\",\r\n      \"parentName\": {\r\n        \"server\": \"6b7a6acb-6bdc-42e6-974b-3fe4ec7b3b31\",\r\n        \"firstPart\": \"onesdk6218\",\r\n        \"secondPart\": \"dbo\",\r\n        \"thirdPart\": \"onesdk3674\",\r\n        \"fourthPart\": null\r\n      },\r\n      \"version\": \"63fdee19-5b4a-4952-9512-30c463cd42b6\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/onesdk6218/schemas/dbo/tables/onesdk3674/partitions/onesdk3674_Partition_33a998e9-b9d5-4869-b6f6-861d76468af8?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk7807.azuredatalakeanalytics.net/sqlip/$metadata#partitions/$entity\",\r\n  \"computeAccountName\": \"onesdk7807\",\r\n  \"databaseName\": \"onesdk6218\",\r\n  \"schemaName\": \"dbo\",\r\n  \"partitionName\": \"onesdk3674_Partition_33a998e9-b9d5-4869-b6f6-861d76468af8\",\r\n  \"indexId\": 1,\r\n  \"label\": [\r\n    \"1\"\r\n  ],\r\n  \"createDate\": \"2017-09-13T20:19:17.76-07:00\",\r\n  \"parentName\": {\r\n    \"server\": \"6b7a6acb-6bdc-42e6-974b-3fe4ec7b3b31\",\r\n    \"firstPart\": \"onesdk6218\",\r\n    \"secondPart\": \"dbo\",\r\n    \"thirdPart\": \"onesdk3674\",\r\n    \"fourthPart\": null\r\n  },\r\n  \"version\": \"63fdee19-5b4a-4952-9512-30c463cd42b6\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/onesdk6218/schemas/dbo/tablevaluedfunctions?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk7807.azuredatalakeanalytics.net/sqlip/$metadata#tablevaluedfunctions\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"onesdk7807\",\r\n      \"databaseName\": \"onesdk6218\",\r\n      \"schemaName\": \"dbo\",\r\n      \"tvfName\": \"onesdk3064\",\r\n      \"definition\": \"//create table weblogs on space-delimited website log data\\n\\tCREATE FUNCTION onesdk6218.dbo.onesdk3064()\\n\\tRETURNS @result TABLE\\n\\t(\\n\\t\\ts_date DateTime,\\n\\t\\ts_time string,\\n\\t\\ts_sitename string,\\n\\t\\tcs_method string, \\n\\t\\tcs_uristem string,\\n\\t\\tcs_uriquery string,\\n\\t\\ts_port int,\\n\\t\\tcs_username string, \\n\\t\\tc_ip string,\\n\\t\\tcs_useragent string,\\n\\t\\tcs_cookie string,\\n\\t\\tcs_referer string, \\n\\t\\tcs_host string,\\n\\t\\tsc_status int[...]
    {
      "RequestUri": "/catalog/usql/databases/onesdk6218/tablevaluedfunctions?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk7807.azuredatalakeanalytics.net/sqlip/$metadata#tablevaluedfunctions\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"onesdk7807\",\r\n      \"databaseName\": \"onesdk6218\",\r\n      \"schemaName\": \"dbo\",\r\n      \"[...]
    {
      "RequestUri": "/catalog/usql/databases/onesdk6218/schemas/dbo/tablevaluedfunctions/onesdk3064?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk7807.azuredatalakeanalytics.net/sqlip/$metadata#tablevaluedfunctions/$entity\",\r\n  \"computeAccountName\": \"onesdk7807\",\r\n  \"databaseName\": \"onesdk6218\",\r\n  \"schemaName\": \"dbo\",\r\n  \"tvfName\": \[...]
    {
      "RequestUri": "/catalog/usql/databases/onesdk6218/schemas/dbo/procedures?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk7807.azuredatalakeanalytics.net/sqlip/$metadata#procedures\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"onesdk7807\",\r\n      \"databaseName\": \"onesdk6218\",\r\n      \"schemaName\": \"dbo\",\r\n      \"procName\": \"onesdk5033\",\r\n      \"definition\": \"CREATE PROCEDURE onesdk6218.dbo.onesdk5033()\\n\\tAS BEGIN\\n\\t  CREATE VIEW onesdk6218.dbo.onesdk1851 \\n\\t  AS \\n\\t\\tSELECT * FROM \\n\\t\\t(\\n\\t\\t\\tVALUES(1,2),(2,4)\\n\\t\\t) \\n\\t  AS \\n\\t  T(a, b);\\n\\tEND;\",\r\n      \"version\": \"9cb51628-b9d5-4ee3-a0b7-779b757233de\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/onesdk6218/schemas/dbo/procedures/onesdk5033?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk7807.azuredatalakeanalytics.net/sqlip/$metadata#procedures/$entity\",\r\n  \"computeAccountName\": \"onesdk7807\",\r\n  \"databaseName\": \"onesdk6218\",\r\n  \"schemaName\": \"dbo\",\r\n  \"procName\": \"onesdk5033\",\r\n  \"definition\": \"CREATE PROCEDURE onesdk6218.dbo.onesdk5033()\\n\\tAS BEGIN\\n\\t  CREATE VIEW onesdk6218.dbo.onesdk1851 \\n\\t  AS \\n\\t\\tSELECT * FROM \\n\\t\\t(\\n\\t\\t\\tVALUES(1,2),(2,4)\\n\\t\\t) \\n\\t  AS \\n\\t  T(a, b);\\n\\tEND;\",\r\n  \"version\": \"9cb51628-b9d5-4ee3-a0b7-779b757233de\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/onesdk6218/schemas/dbo/views?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://onesdk7807.azuredatalakeanalytics.net/sqlip/$metadata#views\",\r\n  \"value\": [\r\n    {\r\n      \"computeAccountName\": \"onesdk7807\",\r\n      \"databaseName\": \"onesdk6218\",\r\n      \"schemaName\": \"dbo\",\r\n      \"viewName\": \"onesdk1851\",\r\n      \"definition\": \"CREATE VIEW onesdk6218.dbo.onesdk1851 \\n\\tAS \\n\\t\\tSELECT * FROM \\n\\t\\t(\\n\\t\\t\\tVALUES(1,2),(2,4)\\n\\t\\t) \\n\\tAS \\n\\tT(a, b);\",\r\n      \"version\": \"3411a537-62be-4d22-b22c-6435dc05b6d1\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "OData-Version": [
          "4.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/catalog/usql/databases/onesdk6218/views?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
[...]
