{
  "AzOrbitalAvailableGroundStation+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.Orbital/availableGroundStations?api-version=2022-03-01\u0026capability=EarthObservation+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.Orbital/availableGroundStations?api-version=2022-03-01\u0026capability=EarthObservation",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "", "", "", "", "", "" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"location\":\"westus2\",\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.Orbital/availableGroundStations/WESTUS2_0\",\"name\":\"WESTUS2_0\",\"type\":\"Microsoft.Orbital/availableGroundStations\",\"properties\":{\"city\":\"Quincy\",\"providerName\":\"Microsoft\",\"longitudeDegrees\":-119.88515,\"latitudeDegrees\":47.2393,\"altitudeMeters\":392.5,\"releaseMode\":\"GA\"}},{\"location\":\"westus2\",\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.Orbital/availableGroundStations/SVALSAT\",\"name\":\"SVALSAT\",\"type\":\"Microsoft.Orbital/availableGroundStations\",\"properties\":{\"city\":\"Svalbard\",\"providerName\":\"KSAT\",\"longitudeDegrees\":15.38624,\"latitudeDegrees\":78.22702,\"altitudeMeters\":493.0,\"releaseMode\":\"GA\"}},{\"location\":\"westus2\",\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/provid[...]
