<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hyak.Common" version="1.0.3" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights" version="1.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net452" />
  <package id="Microsoft.Azure.Common" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Azure.Common.Dependencies" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Azure.Gallery" version="2.6.2-preview" targetFramework="net45" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Azure.Management.Authorization" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Azure.Management.ResourceManager" version="1.9.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.Management.Resources" version="2.20.1-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.PowerShell.Aks" version="1.1.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.PowerShell.Authentication" version="1.1.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.PowerShell.Authentication.Abstractions" version="1.1.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.PowerShell.Authentication.ResourceManager" version="1.1.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.PowerShell.Authorization" version="1.1.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.PowerShell.Common" version="1.1.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.PowerShell.Compute" version="1.1.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.PowerShell.Graph.Rbac" version="1.1.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.PowerShell.KeyVault" version="1.1.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.PowerShell.Network" version="1.1.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.PowerShell.ResourceManager" version="1.1.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.PowerShell.ScenarioTest.ResourceManager" version="1.1.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.PowerShell.ServiceManagement" version="1.1.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.PowerShell.Storage" version="1.1.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.PowerShell.Storage.Management" version="1.1.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.PowerShell.Strategies" version="1.1.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.PowerShell.Websites" version="1.1.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.Test.Framework" version="1.0.6179.26854-prerelease" targetFramework="net452" />
  <package id="Microsoft.Azure.Test.HttpRecorder" version="1.8.1" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net452" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.28.3" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net452" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.12" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.13" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime.Azure.Authentication" version="2.3.1" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime.Azure.TestFramework" version="1.7.2" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.Management" version="4.1.1" targetFramework="net452" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="xunit" version="2.1.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net452" />
  <package id="xunit.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net452" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net45" developmentDependency="true" />
</packages>