{
  "Get-AzsKeyvaultQuota+[NoContext]+List+$GET+https://adminmanagement.local.azurestack.external/subscriptions/e0472ab8-6c95-464d-bd13-590c91be5bbf/providers/Microsoft.KeyVault.Admin/locations/local/quotas?api-version=2017-02-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://adminmanagement.local.azurestack.external/subscriptions/e0472ab8-6c95-464d-bd13-590c91be5bbf/providers/Microsoft.KeyVault.Admin/locations/local/quotas?api-version=2017-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "4" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "14990" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/e0472ab8-6c95-464d-bd13-590c91be5bbf/providers/Microsoft.KeyVault.Admin/locations/local/quotas/Unlimited\",\"name\":\"local/Unlimited\",\"type\":\"Microsoft.KeyVault.Admin/locations/quotas\",\"location\":\"local\",\"plan\":null,\"sku\":null,\"kind\":null,\"tags\":null,\"etag\":null,\"properties\":null}],\"nextLink\":null}"
    }
  }
}