{
  "Get-AzFrontDoorCdnSecret+[NoContext]+[NoScenario]+$PUT+https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testps-rg-i4qa/providers/Microsoft.Cdn/profiles/fdp-w4j2mq/secrets/kvsecret-test01?api-version=2024-09-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testps-rg-i4qa/providers/Microsoft.Cdn/profiles/fdp-w4j2mq/secrets/kvsecret-test01?api-version=2024-09-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"parameters\": {\r\n      \"type\": \"CustomerCertificate\",\r\n      \"secretSource\": {\r\n        \"id\": \"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/huaiyiz/providers/Microsoft.KeyVault/vaults/huaiyizkvtest/secrets/wildcard-huaiyiz-azfdtest-xyz\"\r\n      },\r\n      \"useLatestVersion\": true,\r\n      \"subjectAlternativeNames\": [ ]\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "99" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-i4qa/providers/Microsoft.Cdn/profiles/fdp-w4j2mq/secrets/kvsecret-test01\",\"type\":\"Microsoft.Cdn/profiles/secrets\",\"name\":\"kvsecret-test01\",\"properties\":{\"parameters\":{\"type\":\"CustomerCertificate\",\"subject\":\"*.huaiyiz.azfdtest.xyz\",\"certificateAuthority\":\"CN=DigiCert TLS RSA SHA256 2020 CA1, O=DigiCert Inc, C=US\",\"expirationDate\":\"2025-01-11T23:59:59+00:00\",\"thumbprint\":\"0815004D7957DD251396E547368658617112BC11\",\"secretSource\":{\"id\":\"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/huaiyiz/providers/Microsoft.KeyVault/vaults/huaiyizkvtest/secrets/wildcard-huaiyiz-azfdtest-xyz\"},\"secretVersion\":\"f15ba828c7144eeb8571de452469f185\",\"useLatestVersion\":true,\"subjectAlternativeNames\":[\"*.huaiyiz.azfdtest.xyz\",\"huaiyiz.azfdtest.xyz\"]},\"provisioningState\":\"Succeeded\",\"deploymentStatus\":\"NotStarted\"}}",
    }
  },
  "Get-AzFrontDoorCdnSecret+[NoContext]+[NoScenario]+$GET+https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testps-rg-i4qa/providers/Microsoft.Cdn/profiles/fdp-w4j2mq/secrets/kvsecret-test01?api-version=2024-09-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testps-rg-i4qa/providers/Microsoft.Cdn/profiles/fdp-w4j2mq/secrets/kvsecret-test01?api-version=2024-09-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "226" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-i4qa/providers/Microsoft.[...]
