{
<<<<<<< HEAD
  "Get-AzCdnEndpoint+[NoContext]+List+$GET+https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testps-rg-hbtl/providers/Microsoft.Cdn/profiles/p-ob4nd3/endpoints?api-version=2025-06-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testps-rg-hbtl/providers/Microsoft.Cdn/profiles/p-ob4nd3/endpoints?api-version=2025-06-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "128" ]
=======
  "Get-AzCdnEndpoint+[NoContext]+List+$GET+https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testps-rg-g51i/providers/Microsoft.Cdn/profiles/p-hmv7yj/endpoints?api-version=2025-04-15+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testps-rg-g51i/providers/Microsoft.Cdn/profiles/p-hmv7yj/endpoints?api-version=2025-04-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "178" ]
>>>>>>> edge-action-2024
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
<<<<<<< HEAD
        "x-ms-original-request-ids": [ "f48015f0-c6a7-4831-b418-2f675c843293" ],
        "Strict-Transport-Security": [ "max-age=31536000; includeSubDomains" ],
        "x-ms-client-request-id": [ "32ff9087-28ef-4510-bf7f-7629a498190c" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "249" ],
        "x-ms-request-id": [ "475357a6-e7e8-408b-aa9e-48a0c0f058ff" ],
        "x-ms-correlation-request-id": [ "475357a6-e7e8-408b-aa9e-48a0c0f058ff" ],
        "x-ms-routing-request-id": [ "AUSTRALIAEAST:20250723T005857Z:475357a6-e7e8-408b-aa9e-48a0c0f058ff" ],
        "X-Content-Type-Options": [ "nosniff" ],
        "X-Cache": [ "CONFIG_NOCACHE" ],
        "X-MSEdge-Ref": [ "Ref A: 72D8E7E742A3402CA70065CB25F9E9C7 Ref B: SYD03EDGE1306 Ref C: 2025-07-23T00:58:55Z" ],
        "Date": [ "Wed, 23 Jul 2025 00:58:57 GMT" ]
=======
        "x-ms-original-request-ids": [ "8d13d5f7-924a-4ce7-aa74-6aa3e804d359" ],
        "Strict-Transport-Security": [ "max-age=31536000; includeSubDomains" ],
        "x-ms-client-request-id": [ "25adc507-4f2a-4506-ae54-c62c1aa38a85" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1098" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16498" ],
        "x-ms-request-id": [ "9fd60542-11c9-4a32-8904-d83af248f376" ],
        "x-ms-correlation-request-id": [ "9fd60542-11c9-4a32-8904-d83af248f376" ],
        "x-ms-routing-request-id": [ "WESTUS:20251029T041816Z:9fd60542-11c9-4a32-8904-d83af248f376" ],
        "X-Content-Type-Options": [ "nosniff" ],
        "X-Cache": [ "CONFIG_NOCACHE" ],
        "X-MSEdge-Ref": [ "Ref A: 3F6401CCF2E443398C676D8885D232B8 Ref B: SYD03EDGE1114 Ref C: 2025-10-29T04:18:16Z" ],
        "Date": [ "Wed, 29 Oct 2025 04:18:15 GMT" ]
>>>>>>> edge-action-2024
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
<<<<<<< HEAD
      "Content": "{\"value\":[{\"id\":\"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-hbtl/providers/Microsoft.Cdn/profiles/p-ob4nd3/endpoints/ps-2024-0901-domain010\",\"type\":\"Microsoft.Cdn/profiles/endpoints\",\"name\":\"ps-2024-0901-domain010\",\"location\":\"WestUs\",\"tags\":{},\"properties\":{\"hostName\":\"ps-2024-0901-domain010.azureedge.net\",\"originHostHeader\":null,\"originPath\":null,\"contentTypesToCompress\":[],\"isCompressionEnabled\":false,\"isHttpAllowed\":true,\"isHttpsAllowed\":true,\"queryStringCachingBehavior\":\"IgnoreQueryString\",\"optimizationType\":null,\"probePath\":null,\"origins\":[{\"name\":\"origin1\",\"properties\":{\"hostName\":\"host1.hello.com\",\"httpPort\":null,\"httpsPort\":null,\"originHostHeader\":null,\"priority\":1,\"weight\":1000,\"enabled\":true,\"privateLinkAlias\":null,\"privateLinkResourceId\":null,\"privateLinkLocation\":null,\"privateEndpointStatus\":null,\"privateLinkApprovalMessage\":null}}],\"originGroups\":[{\"name\":\"originGroup1\",\"properties\":{\"healthProbeSettings\":{\"probePath\":\"/health.aspx\",\"probeRequestType\":\"GET\",\"probeProtocol\":\"Https\",\"probeIntervalInSeconds\":240},\"responseBasedOriginErrorDetectionSettings\":null,\"trafficRestorationTimeToHealedOrNewEndpointsInMinutes\":null,\"origins\":[{\"id\":\"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-hbtl/providers/Microsoft.Cdn/profiles/p-ob4nd3/endpoints/ps-2024-0901-domain010/origins/origin1\"}]}}],\"defaultOriginGroup\":{\"id\":\"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-hbtl/providers/Microsoft.Cdn/profiles/p-ob4nd3/endpoints/ps-2024-0901-domain010/origingroups/originGroup1\"},\"customDomains\":[{\"name\":\"cd-p8z3go\",\"properties\":{\"hostName\":\"ps-2024-0901-domain010.ps.cdne2e.azfdtest.xyz\",\"validationData\":null}}],\"geoFilters\":[],\"deliveryPolicy\":null,\"urlSigningKeys\":null,\"webApplicationFirewallPolicyLink\":null,\"resourceState\":\"Running\",\"provisioningState\":\"Succeeded\"}}]}",
    }
  },
  "Get-AzCdnEndpoint+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testps-rg-hbtl/providers/Microsoft.Cdn/profiles/p-ob4nd3/endpoints/ps-2024-0901-domain010?api-version=2025-06-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testps-rg-hbtl/providers/Microsoft.Cdn/profiles/p-ob4nd3/[...]
