{
  "Import-AzCdnEndpointContent+[NoContext]+LoadExpanded+$POST+https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testps-rg-07us/providers/Microsoft.Cdn/profiles/p-kl402s/endpoints/e-fbomwy/load?api-version=2023-05-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testps-rg-07us/providers/Microsoft.Cdn/profiles/p-kl402s/endpoints/e-fbomwy/load?api-version=2023-05-01",
      "Content": "{\r\n  \"contentPaths\": [ \"/movies/amazing.mp4\", \"/pictures/pic1.jpg\" ]\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-07us/providers/Microsoft.Cdn/operationresults/e6b69b01-3013-4df5-8b56-b5ae8a5c8ad4/profileresults/p-kl402s/endpointresults/e-fbomwy?api-version=2023-05-01" ],
        "Retry-After": [ "10" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-07us/providers/Microsoft.Cdn/operationresults/e6b69b01-3013-4df5-8b56-b5ae8a5c8ad4?api-version=2023-05-01" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "499" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Import-AzCdnEndpointContent+[NoContext]+LoadExpanded+$GET+https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-07us/providers/Microsoft.Cdn/operationresults/e6b69b01-3013-4df5-8b56-b5ae8a5c8ad4?api-version=2023-05-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-07us/providers/Microsoft.Cdn/operationresults/e6b69b01-3013-4df5-8b56-b5ae8a5c8ad4?api-version=2023-05-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "254" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11895" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"status\":\"InProgress\",\"error\":{\"code\":\"None\",\"message\":null}}",
    }
  },
  "Import-AzCdnEndpointContent+[NoContext]+LoadExpanded+$GET+https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-07us/providers/Microsoft.Cdn/operationresults/e6b69b01-3013-4df5-8b56-b5ae8a5c8ad4?api-version=2023-05-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-07us/providers/Microsoft.Cdn/operati[...]
