{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ChangeSafety management service",
    "version": "2026-01-01-preview",
    "description": "Microsoft.ChangeSafety Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "StageMaps"
    },
    {
      "name": "ChangeStates"
    },
    {
      "name": "StageProgressions"
    },
    {
      "name": "ChangeRecords"
    },
    {
      "name": "ChangeRecordStageProgressions"
    }
  ],
  "paths": {
    "/managementGroups/{managementGroupName}/providers/Microsoft.ChangeSafety/stageMaps": {
      "get": {
        "operationId": "StageMaps_ListByManagementGroup",
        "tags": [
          "StageMaps"
        ],
        "description": "List StageMap resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMapListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_ListByManagementGroup": {
            "$ref": "./examples/StageMaps_ListByManagementGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/managementGroups/{managementGroupName}/providers/Microsoft.ChangeSafety/stageMaps/{stageMapName}": {
      "get": {
        "operationId": "StageMaps_GetAtManagementGroupLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Get a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_GetAtManagementGroupLevel": {
            "$ref": "./examples/StageMaps_GetAtManagementGroupLevel.json"
          }
        }
      },
      "put": {
        "operationId": "StageMaps_CreateOrUpdateAtManagementGroupLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Create a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StageMap' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "201": {
            "description": "Resource 'StageMap' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_CreateOrUpdateAtManagementGroupLevel": {
            "$ref": "./examples/StageMaps_CreateOrUpdateAtManagementGroupLevel.json"
          }
        }
      },
      "patch": {
        "operationId": "StageMaps_UpdateAtManagementGroupLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Update a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageMapUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_UpdateAtManagementGroupLevel": {
            "$ref": "./examples/StageMaps_UpdateAtManagementGroupLevel.json"
          }
        }
      },
      "delete": {
        "operationId": "StageMaps_DeleteAtManagementGroupLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Delete a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_DeleteAtManagementGroupLevel": {
            "$ref": "./examples/StageMaps_DeleteAtManagementGroupLevel.json"
          }
        }
      }
    },
    "/providers/Microsoft.ChangeSafety/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeRecords": {
      "get": {
        "operationId": "ChangeRecords_ListBySubscription",
        "tags": [
          "ChangeRecords"
        ],
        "description": "List ChangeRecord resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecordListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecords_ListBySubscription": {
            "$ref": "./examples/ChangeRecords_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeRecords/{changeRecordName}": {
      "get": {
        "operationId": "ChangeRecords_GetAtSubscriptionLevel",
        "tags": [
          "ChangeRecords"
        ],
        "description": "Get a ChangeRecord",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecord"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecords_GetAtSubscriptionLevel": {
            "$ref": "./examples/ChangeRecords_GetAtSubscriptionLevel.json"
          }
        }
      },
      "put": {
        "operationId": "ChangeRecords_CreateOrUpdateAtSubscriptionLevel",
        "tags": [
          "ChangeRecords"
        ],
        "description": "Create a ChangeRecord",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeRecord"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ChangeRecord' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeRecord"
            }
          },
          "201": {
            "description": "Resource 'ChangeRecord' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeRecord"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecords_CreateOrUpdateAtSubscriptionLevel": {
            "$ref": "./examples/ChangeRecords_CreateOrUpdateAtSubscriptionLevel.json"
          }
        }
      },
      "patch": {
        "operationId": "ChangeRecords_UpdateAtSubscriptionLevel",
        "tags": [
          "ChangeRecords"
        ],
        "description": "Update a ChangeRecord",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeRecordUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecord"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecords_UpdateAtSubscriptionLevel": {
            "$ref": "./examples/ChangeRecords_UpdateAtSubscriptionLevel.json"
          }
        }
      },
      "delete": {
        "operationId": "ChangeRecords_DeleteAtSubscriptionLevel",
        "tags": [
          "ChangeRecords"
        ],
        "description": "Delete a ChangeRecord",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecords_DeleteAtSubscriptionLevel": {
            "$ref": "./examples/ChangeRecords_DeleteAtSubscriptionLevel.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeRecords/{changeRecordName}/retrieveAuditTrail": {
      "post": {
        "operationId": "ChangeRecords_RetrieveAuditTrailAtSubscriptionLevel",
        "tags": [
          "ChangeRecords"
        ],
        "description": "Retrieve the audit trail action for a ChangeRecord at subscription level.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecordRetrieveAuditTrailResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecords_RetrieveAuditTrailAtSubscriptionLevel": {
            "$ref": "./examples/ChangeRecords_RetrieveAuditTrailAtSubscriptionLevel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeRecords/{changeRecordName}/retrieveNextStages": {
      "post": {
        "operationId": "ChangeRecords_RetrieveNextStagesAtSubscriptionLevel",
        "tags": [
          "ChangeRecords"
        ],
        "description": "Gets list of next stages that are eligible to put in 'InProgress' state in a ChangeRecord resource at subscription level.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecordRetrieveNextStagesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecords_RetrieveNextStagesAtSubscriptionLevel": {
            "$ref": "./examples/ChangeRecords_RetrieveNextStagesAtSubscriptionLevel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeRecords/{changeRecordName}/stageProgressions": {
      "get": {
        "operationId": "ChangeRecordStageProgressions_ListByParentAtSubscriptionLevel",
        "tags": [
          "ChangeRecordStageProgressions"
        ],
        "description": "List ChangeRecordStageProgression resources by ChangeRecord",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecordStageProgressionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecordStageProgressions_ListByParentAtSubscriptionLevel": {
            "$ref": "./examples/ChangeRecordStageProgressions_ListByParentAtSubscriptionLevel.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeRecords/{changeRecordName}/stageProgressions/{stageProgressionName}": {
      "get": {
        "operationId": "ChangeRecordStageProgressions_GetAtSubscriptionLevel",
        "tags": [
          "ChangeRecordStageProgressions"
        ],
        "description": "Get a ChangeRecordStageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "Name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecordStageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecordStageProgressions_GetAtSubscriptionLevel": {
            "$ref": "./examples/ChangeRecordStageProgressions_GetAtSubscriptionLevel.json"
          }
        }
      },
      "put": {
        "operationId": "ChangeRecordStageProgressions_CreateOrUpdateAtSubscriptionLevel",
        "tags": [
          "ChangeRecordStageProgressions"
        ],
        "description": "Create a ChangeRecordStageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "Name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeRecordStageProgression"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ChangeRecordStageProgression' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeRecordStageProgression"
            }
          },
          "201": {
            "description": "Resource 'ChangeRecordStageProgression' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeRecordStageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecordStageProgressions_CreateOrUpdateAtSubscriptionLevel": {
            "$ref": "./examples/ChangeRecordStageProgressions_CreateOrUpdateAtSubscriptionLevel.json"
          }
        }
      },
      "patch": {
        "operationId": "ChangeRecordStageProgressions_UpdateAtSubscriptionLevel",
        "tags": [
          "ChangeRecordStageProgressions"
        ],
        "description": "Update a ChangeRecordStageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "Name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeRecordStageProgressionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecordStageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecordStageProgressions_UpdateAtSubscriptionLevel": {
            "$ref": "./examples/ChangeRecordStageProgressions_UpdateAtSubscriptionLevel.json"
          }
        }
      },
      "delete": {
        "operationId": "ChangeRecordStageProgressions_DeleteAtSubscriptionLevel",
        "tags": [
          "ChangeRecordStageProgressions"
        ],
        "description": "Delete a ChangeRecordStageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "Name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecordStageProgressions_DeleteAtSubscriptionLevel": {
            "$ref": "./examples/ChangeRecordStageProgressions_DeleteAtSubscriptionLevel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeRecords/{changeRecordName}/stageProgressions/{stageProgressionName}/retrieveAuditTrail": {
      "post": {
        "operationId": "ChangeRecordStageProgressions_RetrieveAuditTrailAtSubscriptionLevel",
        "tags": [
          "ChangeRecordStageProgressions"
        ],
        "description": "Retrieve the audit trail action for a ChangeRecord StageProgression at subscription level.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "Name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecordRetrieveAuditTrailResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecordStageProgressions_RetrieveAuditTrailAtSubscriptionLevel": {
            "$ref": "./examples/ChangeRecordStageProgressions_RetrieveAuditTrailAtSubscriptionLevel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeRecords/{changeRecordName}/verifyChangeValidity": {
      "post": {
        "operationId": "ChangeRecords_VerifyChangeValidityAtSubscriptionLevel",
        "tags": [
          "ChangeRecords"
        ],
        "description": "Verify the change validity at subscription level for a ChangeRecord.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeRecordVerifyChangeValidityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecordVerifyChangeValidityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecords_VerifyChangeValidityAtSubscriptionLevel": {
            "$ref": "./examples/ChangeRecords_VerifyChangeValidityAtSubscriptionLevel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates": {
      "get": {
        "operationId": "ChangeStates_ListBySubscription",
        "tags": [
          "ChangeStates"
        ],
        "description": "List ChangeState resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeStateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_ListBySubscription": {
            "$ref": "./examples/ChangeStates_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}": {
      "get": {
        "operationId": "ChangeStates_GetAtSubscriptionLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Get a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_GetAtSubscriptionLevel": {
            "$ref": "./examples/ChangeStates_GetAtSubscriptionLevel.json"
          }
        }
      },
      "put": {
        "operationId": "ChangeStates_CreateOrUpdateAtSubscriptionLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Create a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ChangeState' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "201": {
            "description": "Resource 'ChangeState' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_CreateOrUpdateAtSubscriptionLevel": {
            "$ref": "./examples/ChangeStates_CreateOrUpdateAtSubscriptionLevel.json"
          }
        }
      },
      "patch": {
        "operationId": "ChangeStates_UpdateAtSubscriptionLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Update a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeStateUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_UpdateAtSubscriptionLevel": {
            "$ref": "./examples/ChangeStates_UpdateAtSubscriptionLevel.json"
          }
        }
      },
      "delete": {
        "operationId": "ChangeStates_DeleteAtSubscriptionLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Delete a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_DeleteAtSubscriptionLevel": {
            "$ref": "./examples/ChangeStates_DeleteAtSubscriptionLevel.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/retrieveAuditTrail": {
      "post": {
        "operationId": "ChangeStates_RetrieveAuditTrailAtSubscriptionLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Retrieve the audit trail action, for a change state at subscription level.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RetrieveAuditTrailResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_RetrieveAuditTrailAtSubscriptionLevel": {
            "$ref": "./examples/ChangeStates_RetrieveAuditTrailAtSubscriptionLevel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/retrieveNextStages": {
      "post": {
        "operationId": "ChangeStates_RetrieveNextStagesAtSubscriptionLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Gets list of next stages that are eligible to put in 'InProgress' state in a changestate resource at subscription level.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RetrieveNextStagesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_RetrieveNextStagesAtSubscriptionLevel_MaximumSet": {
            "$ref": "./examples/ChangeStates_RetrieveNextStagesAtSubscriptionLevel_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/stageProgressions": {
      "get": {
        "operationId": "StageProgressions_ListByParentAtSubscriptionLevel",
        "tags": [
          "StageProgressions"
        ],
        "description": "List StageProgression resources by ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageProgressionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_ListByParentAtSubscriptionLevel": {
            "$ref": "./examples/StageProgressions_ListByParentAtSubscriptionLevel.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/stageProgressions/{stageProgressionName}": {
      "get": {
        "operationId": "StageProgressions_GetAtSubscriptionLevel",
        "tags": [
          "StageProgressions"
        ],
        "description": "Get a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_Get_MaximumSet_At_Subscription_Level": {
            "$ref": "./examples/StageProgressions_Get_At_Subscription_Level.json"
          }
        }
      },
      "put": {
        "operationId": "StageProgressions_CreateOrUpdateAtSubscriptionLevel",
        "tags": [
          "StageProgressions"
        ],
        "description": "Create a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StageProgression' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "201": {
            "description": "Resource 'StageProgression' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_CreateOrUpdateAtSubscriptionLevel": {
            "$ref": "./examples/StageProgressions_CreateOrUpdateAtSubscriptionLevel.json"
          }
        }
      },
      "patch": {
        "operationId": "StageProgressions_UpdateAtSubscriptionLevel",
        "tags": [
          "StageProgressions"
        ],
        "description": "Update a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageProgressionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_UpdateAtSubscriptionLevel": {
            "$ref": "./examples/StageProgressions_UpdateAtSubscriptionLevel.json"
          }
        }
      },
      "delete": {
        "operationId": "StageProgressions_DeleteAtSubscriptionLevel",
        "tags": [
          "StageProgressions"
        ],
        "description": "Delete a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_DeleteAtSubscriptionLevel": {
            "$ref": "./examples/StageProgressions_DeleteAtSubscriptionLevel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/stageProgressions/{stageProgressionName}/retrieveAuditTrail": {
      "post": {
        "operationId": "StageProgressions_RetrieveAuditTrailAtSubscriptionLevel",
        "tags": [
          "StageProgressions"
        ],
        "description": "Retrieve the audit trail action, for a StageProgression at subscription level.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RetrieveAuditTrailResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_RetrieveAuditTrailAtSubscriptionLevel_MaximumSet": {
            "$ref": "./examples/StageProgressions_RetrieveAuditTrailAtSubscriptionLevel_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/verifyChangeValidity": {
      "post": {
        "operationId": "ChangeStates_VerifyChangeValidityAtSubscriptionLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Verify the change validity at subscription level.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerifyChangeValidityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VerifyChangeValidityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_VerifyChangeValidityAtSubscriptionLevel": {
            "$ref": "./examples/ChangeStates_VerifyChangeValidityAtSubscriptionLevel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/stageMaps": {
      "get": {
        "operationId": "StageMaps_ListBySubscription",
        "tags": [
          "StageMaps"
        ],
        "description": "List StageMap resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMapListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_ListBySubscription": {
            "$ref": "./examples/StageMaps_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/stageMaps/{stageMapName}": {
      "get": {
        "operationId": "StageMaps_GetAtSubscriptionLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Get a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_GetAtSubscriptionLevel": {
            "$ref": "./examples/StageMaps_GetAtSubscriptionLevel.json"
          }
        }
      },
      "put": {
        "operationId": "StageMaps_CreateOrUpdateAtSubscriptionLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Create a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StageMap' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "201": {
            "description": "Resource 'StageMap' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_CreateOrUpdateAtSubscriptionLevel": {
            "$ref": "./examples/StageMaps_CreateOrUpdateAtSubscriptionLevel.json"
          }
        }
      },
      "patch": {
        "operationId": "StageMaps_UpdateAtSubscriptionLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Update a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageMapUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_UpdateAtSubscriptionLevel": {
            "$ref": "./examples/StageMaps_UpdateAtSubscriptionLevel.json"
          }
        }
      },
      "delete": {
        "operationId": "StageMaps_DeleteAtSubscriptionLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Delete a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_DeleteAtSubscriptionLevel": {
            "$ref": "./examples/StageMaps_DeleteAtSubscriptionLevel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeRecords": {
      "get": {
        "operationId": "ChangeRecords_ListByResourceGroup",
        "tags": [
          "ChangeRecords"
        ],
        "description": "List ChangeRecord resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecordListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecords_ListByResourceGroup": {
            "$ref": "./examples/ChangeRecords_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeRecords/{changeRecordName}": {
      "get": {
        "operationId": "ChangeRecords_Get",
        "tags": [
          "ChangeRecords"
        ],
        "description": "Get a ChangeRecord",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecord"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecords_Get": {
            "$ref": "./examples/ChangeRecords_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ChangeRecords_CreateOrUpdate",
        "tags": [
          "ChangeRecords"
        ],
        "description": "Create a ChangeRecord",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeRecord"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ChangeRecord' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeRecord"
            }
          },
          "201": {
            "description": "Resource 'ChangeRecord' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeRecord"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecords_CreateOrUpdate": {
            "$ref": "./examples/ChangeRecords_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "ChangeRecords_Update",
        "tags": [
          "ChangeRecords"
        ],
        "description": "Update a ChangeRecord",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeRecordUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecord"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecords_Update": {
            "$ref": "./examples/ChangeRecords_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ChangeRecords_Delete",
        "tags": [
          "ChangeRecords"
        ],
        "description": "Delete a ChangeRecord",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecords_Delete": {
            "$ref": "./examples/ChangeRecords_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeRecords/{changeRecordName}/retrieveAuditTrail": {
      "post": {
        "operationId": "ChangeRecords_RetrieveAuditTrail",
        "tags": [
          "ChangeRecords"
        ],
        "description": "Retrieve the audit trail action for a ChangeRecord.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecordRetrieveAuditTrailResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecords_RetrieveAuditTrail": {
            "$ref": "./examples/ChangeRecords_RetrieveAuditTrail.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeRecords/{changeRecordName}/retrieveNextStages": {
      "post": {
        "operationId": "ChangeRecords_RetrieveNextStages",
        "tags": [
          "ChangeRecords"
        ],
        "description": "Gets list of next stages that are eligible to put in 'InProgress' state in a ChangeRecord resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecordRetrieveNextStagesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecords_RetrieveNextStages": {
            "$ref": "./examples/ChangeRecords_RetrieveNextStages.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeRecords/{changeRecordName}/stageProgressions": {
      "get": {
        "operationId": "ChangeRecordStageProgressions_ListByParent",
        "tags": [
          "ChangeRecordStageProgressions"
        ],
        "description": "List ChangeRecordStageProgression resources by ChangeRecord",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecordStageProgressionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecordStageProgressions_ListByParent": {
            "$ref": "./examples/ChangeRecordStageProgressions_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeRecords/{changeRecordName}/stageProgressions/{stageProgressionName}": {
      "get": {
        "operationId": "ChangeRecordStageProgressions_Get",
        "tags": [
          "ChangeRecordStageProgressions"
        ],
        "description": "Get a ChangeRecordStageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "Name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecordStageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecordStageProgressions_Get": {
            "$ref": "./examples/ChangeRecordStageProgressions_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ChangeRecordStageProgressions_CreateOrUpdate",
        "tags": [
          "ChangeRecordStageProgressions"
        ],
        "description": "Create a ChangeRecordStageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "Name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeRecordStageProgression"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ChangeRecordStageProgression' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeRecordStageProgression"
            }
          },
          "201": {
            "description": "Resource 'ChangeRecordStageProgression' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeRecordStageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecordStageProgressions_CreateOrUpdate": {
            "$ref": "./examples/ChangeRecordStageProgressions_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "ChangeRecordStageProgressions_Update",
        "tags": [
          "ChangeRecordStageProgressions"
        ],
        "description": "Update a ChangeRecordStageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "Name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeRecordStageProgressionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecordStageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecordStageProgressions_Update": {
            "$ref": "./examples/ChangeRecordStageProgressions_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ChangeRecordStageProgressions_Delete",
        "tags": [
          "ChangeRecordStageProgressions"
        ],
        "description": "Delete a ChangeRecordStageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "Name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecordStageProgressions_Delete": {
            "$ref": "./examples/ChangeRecordStageProgressions_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeRecords/{changeRecordName}/stageProgressions/{stageProgressionName}/retrieveAuditTrail": {
      "post": {
        "operationId": "ChangeRecordStageProgressions_RetrieveAuditTrail",
        "tags": [
          "ChangeRecordStageProgressions"
        ],
        "description": "Retrieve the audit trail action for a ChangeRecord StageProgression.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "Name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeRecordRetrieveAuditTrailResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeRecordStageProgressions_RetrieveAuditTrail": {
            "$ref": "./examples/ChangeRecordStageProgressions_RetrieveAuditTrail.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeRecords/{changeRecordName}/verifyChangeValidity": {
      "post": {
        "operationId": "ChangeRecords_VerifyChangeValidity",
        "tags": [
          "ChangeRecords"
        ],
        "description": "Verify the change validity for a ChangeRecord.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeRecordName",
            "in": "path",
            "description": "The name of the ChangeRecord resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "body",
            "in": "body",
[...]
