{
  "Entries": [
    {
      "RequestUri": "//providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Blueprint/blueprints/Filiz-Ps-Test1/versions?api-version=2018-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"blueprintName\": \"Filiz-Ps-Test1\",\r\n        \"parameters\": {},\r\n        \"resourceGroups\": {\r\n          \"ResourceGroup\": {\r\n            \"metadata\": {\r\n              \"displayName\": \"filiz-ps-testrg\"\r\n            },\r\n            \"dependsOn\": []\r\n          }\r\n        },\r\n        \"targetScope\": \"subscription\",\r\n        \"status\": {\r\n          \"timeCreated\": \"2019-02-03T09:13:27-08:00\",\r\n          \"lastModified\": \"2019-02-03T09:13:27-08:00\"\r\n        },\r\n        \"description\": \"testing\"\r\n      },\r\n      \"id\": \"/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Blueprint/blueprints/Filiz-Ps-Test1/versions/1.0\",\r\n      \"type\": \"Microsoft.Blueprint/blueprints/versions\",\r\n      \"name\": \"1.0\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"blueprintName\": \"Filiz-Ps-Test1\",\r\n        \"parameters\": {\r\n          \"audituseofclassicvirtualmachines_effect\": {\r\n            \"type\": \"string\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Effect (Policy: Audit use of classic virtual machines)\"\r\n            },\r\n            \"defaultValue\": \"Audit\",\r\n            \"allowedValues\": [\r\n              \"Audit\",\r\n              \"Disabled\"\r\n            ]\r\n          }\r\n        },\r\n        \"resourceGroups\": {\r\n          \"ResourceGroup\": {\r\n            \"metadata\": {\r\n              \"displayName\": \"filiz-ps-testrg\"\r\n            },\r\n            \"dependsOn\": []\r\n          }\r\n        },\r\n        \"targetScope\": \"subscription\",\r\n        \"status\": {\r\n          \"timeCreated\": \"2019-02-03T10:13:34-08:00\",\r\n          \"lastModified\": \"2019-02-03T10:13:34-08:00\"\r\n        },\r\n        \"description\": \"testing\"\r\n      },\r\n      \"id\": \"/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Blueprint/blueprints/Filiz-Ps-Test1/versions/2.0\",\r\n      \"type\": \"Microsoft.Blueprint/blueprints/versions\",\r\n      \"name\": \"2.0\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/28cbf98f-381d-4425-9ac4-cf342dab9753/providers/Microsoft.Blueprint/blueprintAssignments/PS-ScenarioTest-SetAssignment?api-version=2018-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"AssignmentNotFound\",\r\n    \"message\": \"Assignment 'PS-ScenarioTest-SetAssignment' could not be found in subscription '28cbf98f-381d-4425-9ac4-cf342dab9753'.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "//subscriptions/28cbf98f-381d-4425-9ac4-cf342dab9753/providers/Microsoft.Blueprint/blueprintAssignments/PS-ScenarioTest-SetAssignment?api-version=2018-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"identity\": {\r\n    \"type\": \"userAssigned\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"userAssignedIdentities\": {\r\n      \"/subscriptions/996a2f3f-ee01-4ffd-9765-d2c3fc98f30a/resourceGroups/user-assigned-test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/owner-identity\": {\r\n        \"principalId\": \"613933a9-4c82-49b6-b90c-9a4d18c6e3d3\",\r\n        \"clientId\": \"423694c8-02b8-41c9-af47-9efc9d24f763\"\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"East US\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"creating\",\r\n    \"blueprintId\": \"/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Blueprint/blueprints/Filiz-Ps-Test1/versions/2.0\",\r\n    \"parameters\": {\r\n      \"audituseofclassicvirtualmachines_effect\": {\r\n        \"value\": \"Audit\"\r\n      }\r\n    },\r\n    \"resourceGroups\": {\r\n      \"ResourceGroup\": {\r\n        \"name\": \"bp-testrg\",\r\n        \"location\": \"eastus\"\r\n      }\r\n    },\r\n    \"status\": {\r\n      \"timeCreated\": \"2019-02-28T12:26:34-08:00\",\r\n      \"lastModified\": \"2019-02-28T12:26:35-08:00\"\r\n    },\r\n    \"scope\": \"/subscriptions/28cbf98f-381d-4425-9ac4-cf342dab9753\",\r\n    \"locks\": {\r\n      \"mode\": \"none\"\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/28cbf98f-381d-4425-9ac4-cf342dab9753/providers/Microsoft.Blueprint/blueprintAssignments/PS-ScenarioTest-SetAssignment\",\r\n  \"type\": \"Microsoft.Blueprint/blueprintAssignments\",\r\n  \"name\": \"PS-ScenarioTest-SetAssignment\"\r\n}",
      "StatusCode": 200
    },
[...]
