{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerings?api-version=2019-08-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "597"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Basic_Exchange_Free\",\r\n        \"tier\": \"Basic\",\r\n        \"family\": \"Exchange\",\r\n        \"size\": \"Free\"\r\n      },\r\n      \"kind\": \"Exchange\",\r\n      \"properties\": {\r\n        \"exchange\": {\r\n          \"connections\": [\r\n            {\r\n              \"peeringDBFacilityId\": 13,\r\n              \"connectionState\": \"Active\",\r\n              \"bgpSession\": {\r\n                \"sessionPrefixV4\": \"206.81.80.0/23\",\r\n                \"sessionPrefixV6\": \"2001:504:16::/64\",\r\n                \"microsoftSessionIPv4Address\": \"206.81.80.30\",\r\n                \"microsoftSessionIPv6Address\": \"2001:504:16::1f8b\",\r\n                \"peerSessionIPv4Address\": \"206.81.80.77\",\r\n                \"peerSessionIPv6Address\": \"2001:504:16::2b9c\",\r\n                \"sessionStateV4\": \"Established\",\r\n                \"sessionStateV6\": \"Established\",\r\n                \"maxPrefixesAdvertisedV4\": 20000,\r\n                \"maxPrefixesAdvertisedV6\": 2000\r\n              },\r\n              \"connectionIdentifier\": \"6a30fbfc-c944-45c6-8935-b0f2cd6743ab\"\r\n            },\r\n            {\r\n              \"peeringDBFacilityId\": 13,\r\n              \"connectionState\": \"Active\",\r\n              \"bgpSession\": {\r\n                \"sessionPrefixV4\": \"206.81.80.0/23\",\r\n                \"sessionPrefixV6\": \"2001:504:16::/64\",\r\n                \"microsoftSessionIPv4Address\": \"206.81.80.68\",\r\n                \"microsoftSessionIPv6Address\": \"2001:504:16::68:0:1f8b\",\r\n                \"peerSessionIPv4Address\": \"206.81.80.77\",\r\n                \"peerSessionIPv6Address\": \"2001:504:16::2b9c\",\r\n                \"sessionStateV4\": \"Established\",\r\n                \"sessionStateV6\": \"Established\",\r\n                \"maxPrefixesAdvertisedV4\": 20000,\r\n                \"maxPrefixesAdvertisedV6\": 2000\r\n              },\r\n              \"connectionIdentifier\": \"bf48e338-9865-4f00-9e5d-1121a8a63bad\"\r\n            }\r\n          ],\r\n          \"peerAsn\": {\r\n            \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/11164-Global9635\"\r\n          }\r\n        },\r\n        \"peeringLocation\": \"Seattle\",\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"location\": \"West US 2\",\r\n      \"tags\": {},\r\n      \"eTag\": \"66a2efd3-dba2-40b1-8487-6aba404c3317\",\r\n      \"name\": \"LegacyConvertExchange7307\",\r\n      \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/testCarrier/providers/Microsoft.Peering/peerings/LegacyConvertExchange7307\",\r\n      \"type\": \"Microsoft.Peering/peerings\"\r\n    },\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Basic_Direct_Free\",\r\n        \"tier\": \"Basic\",\r\n        \"family\": \"Direct\",\r\n        \"size\": \"Free\"\r\n      },\r\n      \"kind\": \"Direct\",\r\n      \"properties\": {\r\n        \"direct\": {\r\n          \"connections\": [\r\n            {\r\n              \"bandwidthInMbps\": 40000,\r\n              \"provisionedBandwidthInMbps\": 0,\r\n              \"sessionAddressProvider\": \"Default\",\r\n              \"useForPeeringService\": false,\r\n              \"peeringDBFacilityId\": 71,\r\n              \"connectionState\": \"Approved\",\r\n              \"bgpSession\": {\r\n                \"sessionPrefixV4\": \"211.65.65.0/31\",\r\n                \"sessionPrefixV6\": \"18e7:f8f6:1fad:ca35:1c90:9e8a:323e:b500/127\",\r\n                \"microsoftSessionIPv4Address\": \"211.65.65.1\",\r\n                \"microsoftSessionIPv6Address\": \"18e7:f8f6:1fad:ca35:1c90:9e8a:323e:b501\",\r\n                \"peerSessionIPv4Address\": \"211.65.65.0\",\r\n                \"peerSessionIPv6Address\": \"18e7:f8f6:1fad:ca35:1c90:9e8a:323e:b500\",\r\n                \"sessionStateV4\": \"None\",\r\n                \"sessionStateV6\": \"None\",\r\n                \"maxPrefixesAdvertisedV4\": 12469,\r\n                \"maxPrefixesAdvertisedV6\": 1045,\r\n                \"md5AuthenticationKey\": \"314380a61946245e136531c256980a7c\"\r\n              },\r\n              \"connectionIdentifier\": \"5bae05ac-38a8-447d-9298-dba4fa8ac88b\"\r\n            }\r\n          ],\r\n          \"useForPeeringService\": false,\r\n          \"peerAsn\": {\r\n            \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/47765-Global8941\"\r\n          },\r\n          \"directPeeringType\": \"Edge\"\r\n        },\r\n        \"peeringLocation\": \"Seattle\",\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"location\": \"West US 2\",\r\n      \"tags\": {\r\n        \"tfs_47765\": \"value1\",\r\n        \"tag2\": \"value2\"\r\n      },\r\n      \"eTag\": \"1c2d622e-2a73-42f2-94f0-b64bc88c8141\",\r\n      \"name\": \"DirectPipeConnection6\",\r\n      \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/testCarrier/providers/Microsoft.Peering/peerings/DirectPipeConnection6\",\r\n      \"type\": \"Microsoft.Peering/peerings\"\r\n    },\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Basic_Direct_Free\",\r\n        \"tier\": \"Basic\",\r\n        \"family\": \"Direct\",\r\n      [...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/testCarrier/providers/Microsoft.Peering/peerings/DirectPipeConnection6?api-version=2019-08-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Premium_Direct_Free\"\r\n  },\r\n  \"kind\": \"Direct\",\r\n  \"properties\": {\r\n    \"direct\": {\r\n      \"connections\": [\r\n        {\r\n          \"bandwidthInMbps\": 40000,\r\n          \"provisionedBand[...]
