{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/resourceGroups/testCarrier/providers/Microsoft.Peering/peerings/NewDirectPeering?api-version=2019-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic_Direct_Free\",\r\n    \"tier\": \"Basic\",\r\n    \"family\": \"Direct\",\r\n    \"size\": \"Free\"\r\n  },\r\n  \"kind\": \"Direct\",\r\n  \"properties\": {\r\n    \"direct\": {\r\n      \"connections\": [\r\n        {\r\n          \"bandwidthInMbps\": 30000,\r\n          \"provisionedBandwidthInMbps\": 0,\r\n          \"peeringDBFacilityId\": 64,\r\n          \"connectionState\": \"PendingApproval\",\r\n          \"bgpSession\": {\r\n            \"sessionPrefixV4\": \"192.168.1.56/31\",\r\n            \"sessionPrefixV6\": \"fe01::fe02/127\",\r\n            \"microsoftSessionIPv4Address\": \"192.168.1.57\",\r\n            \"microsoftSessionIPv6Address\": \"fe01::fe03\",\r\n            \"peerSessionIPv4Address\": \"192.168.1.56\",\r\n            \"peerSessionIPv6Address\": \"fe01::fe02\",\r\n            \"sessionStateV4\": \"None\",\r\n            \"sessionStateV6\": \"None\",\r\n            \"maxPrefixesAdvertisedV4\": 20000,\r\n            \"maxPrefixesAdvertisedV6\": 2000,\r\n            \"md5AuthenticationKey\": \"25234523452123411fd234qdwfas3234\"\r\n          }\r\n        }\r\n      ],\r\n      \"useForPeeringService\": false,\r\n      \"peerAsn\": {\r\n        \"id\": \"/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/providers/Microsoft.Peering/peerAsns/Akamai\"\r\n      }\r\n    },\r\n    \"peeringLocation\": \"Amsterdam\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"location\": \"centralus\",\r\n  \"eTag\": \"132c587a-84d6-433b-b197-ad8f221aafc8\",\r\n  \"tags\": {\r\n    \"tag2\": \"value2\",\r\n    \"tag1\": \"value1\"\r\n  },\r\n  \"name\": \"NewDirectPeering\",\r\n  \"id\": \"/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/resourceGroups/testCarrier/providers/Microsoft.Peering/peerings/NewDirectPeering\",\r\n  \"type\": \"Microsoft.Peering/peerings\"\r\n}",
      "StatusCode": 200
    },
[...]
