{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerings?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "595"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Basic_Exchange_Free\",\r\n        \"tier\": \"Basic\",\r\n        \"family\": \"Exchange\",\r\n        \"size\": \"Free\"\r\n      },\r\n      \"kind\": \"Exchange\",\r\n      \"properties\": {\r\n        \"exchange\": {\r\n          \"connections\": [\r\n            {\r\n              \"peeringDBFacilityId\": 99999,\r\n              \"connectionState\": \"ProvisioningCompleted\",\r\n              \"bgpSession\": {\r\n                \"sessionPrefixV4\": \"10.12.97.128/26\",\r\n                \"microsoftSessionIPv4Address\": \"10.12.97.129\",\r\n                \"peerSessionIPv4Address\": \"10.12.97.129\",\r\n                \"sessionStateV4\": \"Connect\",\r\n                \"sessionStateV6\": \"None\",\r\n                \"maxPrefixesAdvertisedV4\": 20000,\r\n                \"maxPrefixesAdvertisedV6\": 2000,\r\n                \"md5AuthenticationKey\": \"\"\r\n              },\r\n              \"connectionIdentifier\": \"bca4512e-fcb5-499f-8572-fa63ac8c5f6f\"\r\n            }\r\n          ],\r\n          \"peerAsn\": {\r\n            \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/Contoso\"\r\n          }\r\n        },\r\n        \"peeringLocation\": \"Seattle\",\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"location\": \"centralus\",\r\n      \"tags\": {\r\n        \"tfs_453534\": \"Active\"\r\n      },\r\n      \"eTag\": \"f9518134-c844-43ba-ba4e-1e31d7d50b79\",\r\n      \"name\": \"AS47551_Seattle_Exchange\",\r\n      \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/Building40/providers/Microsoft.Peering/peerings/AS47551_Seattle_Exchange\",\r\n      \"type\": \"Microsoft.Peering/peerings\"\r\n    },\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Basic_Exchange_Free\",\r\n        \"tier\": \"Basic\",\r\n        \"family\": \"Exchange\",\r\n        \"size\": \"Free\"\r\n      },\r\n      \"kind\": \"Exchange\",\r\n      \"properties\": {\r\n        \"exchange\": {\r\n          \"connections\": [\r\n            {\r\n              \"peeringDBFacilityId\": 13,\r\n              \"connectionState\": \"Active\",\r\n              \"bgpSession\": {\r\n                \"sessionPrefixV4\": \"206.81.80.0/23\",\r\n                \"sessionPrefixV6\": \"2001:504:16::/64\",\r\n                \"microsoftSessionIPv4Address\": \"206.81.80.30\",\r\n                \"microsoftSessionIPv6Address\": \"2001:504:16::1f8b\",\r\n                \"peerSessionIPv4Address\": \"206.81.80.77\",\r\n                \"peerSessionIPv6Address\": \"2001:504:16::2b9c\",\r\n                \"sessionStateV4\": \"Established\",\r\n                \"sessionStateV6\": \"Established\",\r\n                \"maxPrefixesAdvertisedV4\": 20000,\r\n                \"maxPrefixesAdvertisedV6\": 2000\r\n              },\r\n              \"connectionIdentifier\": \"b399df0c-3fad-4b3a-8028-5bee2244a68e\"\r\n            },\r\n            {\r\n              \"peeringDBFacilityId\": 13,\r\n              \"connectionState\": \"Active\",\r\n              \"bg[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/testCarrier/providers/Microsoft.Peering/peerings/DirectPipeConnection4305?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic_Direct_Free\",\r\n    \"tier\": \"Basic\",\r\n    \"family\": \"Direct\",\r\n    \"size\": \"Free\"\r\n  },\r\n  \"kind\": \"Direct\",\r\n  \"properties\": {\r\n    \"direct\": {\r\n      \"connections\": [\r\n        {\r\n          \"bandwidthInMbps\": 90000,\r\n          \"provisionedBandwidthInMbps\": 0,\r\n          \"peeringDBFacilityId\": 71,\r\n          \"bgpSession\": {\r\n            \"sessionPrefixV4\": \"42.200.193.90/31\",\r\n            \"sessionPrefixV6\": \"a7c7:e411:8aad:a543:8149:757f:ed2e:100/127\",\r\n            \"peerSessionIPv4Address\": \"42.200.193.0\",\r\n            \"peerSessionIPv6Address\": \"a7c7:e411:8aad:a543:8149:757f:ed2e:100\",\r\n            \"maxPrefixesAdvertisedV4\": 12401,\r\n            \"maxPrefixesAdvertisedV6\": 1881,\r\n            \"md5AuthenticationKey\": \"9338ee0738eae8df5f33e060607ad384\"\r\n          },\r\n          \"connectionIdentifier\": \"7068b898-1155-4767-bfbb-058bb0ef7e17\"\r\n        }\r\n      ],\r\n      \"useForPeeringService\": false,\r\n      \"peerAsn\": {\r\n        \"id\": \"/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peerAsns/54733-Global4380\"\r\n      }\r\n    },\r\n    \"peeringLocation\": \"Seattle\"\r\n  },\r\n  \"location\": \"West US 2\",\r\n  \"tags\": {\r\n    \"tag2\": \"value2\",\r\n    \"tfs_54733\": \"value1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "service"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "94"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"OperationFailed\",\r\n  \"message\": \"Internal error during provisioning\"\r\n}",
      "StatusCode": 500
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "3e919f9a-4e26-4736-aa8d-d596d9a49239",
    "offSet": "90",
    "newIpAddress": "42.200.193.90/31",
    "MicrosoftSessionIPv4Address": "42.200.193.1"
  }
}