{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/testCarrier/providers/Microsoft.Peering/peerings/NewExchangePeeringCVS2160?api-version=2019-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "59"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic_Exchange_Free\",\r\n    \"tier\": \"Basic\",\r\n    \"family\": \"Exchange\",\r\n    \"size\": \"Free\"\r\n  },\r\n  \"kind\": \"Exchange\",\r\n  \"properties\": {\r\n    \"exchange\": {\r\n      \"connections\": [\r\n        {\r\n          \"peeringDBFacilityId\": 87,\r\n          \"connectionState\": \"PendingApproval\",\r\n          \"bgpSession\": {\r\n            \"sessionPrefixV4\": \"193.178.185.0/24\",\r\n            \"sessionPrefixV6\": \"2001:7f8:19:1::/64\",\r\n            \"microsoftSessionIPv4Address\": \"193.178.185.84\",\r\n            \"microsoftSessionIPv6Address\": \"2001:7f8:19:1::1f8b:1\",\r\n            \"peerSessionIPv4Address\": \"193.178.185.91\",\r\n            \"peerSessionIPv6Address\": \"2001:7f8:19:1::1f8b:8\",\r\n            \"sessionStateV4\": \"None\",\r\n            \"sessionStateV6\": \"None\",\r\n            \"maxPrefixesAdvertisedV4\": 19641,\r\n            \"maxPrefixesAdvertisedV6\": 647,\r\n            \"md5AuthenticationKey\": \"372c583d343d77be76f47573f987f244\"\r\n          },\r\n          \"connectionIdentifier\": \"143eedc6-c000-4543-888a-6a4db1ea7c01\"\r\n        },\r\n        {\r\n          \"peeringDBFacilityId\": 87,\r\n          \"connectionState\": \"PendingApproval\",\r\n          \"bgpSession\": {\r\n            \"sessionPrefixV4\": \"193.178.185.0/24\",\r\n            \"sessionPrefixV6\": \"2001:7f8:19:1::/64\",\r\n            \"microsoftSessionIPv4Address\": \"193.178.185.84\",\r\n            \"microsoftSessionIPv6Address\": \"2001:7f8:19:1::1f8b:1\",\r\n            \"peerSessionIPv4Address\":[...]
[...]
