{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "//subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/remediations/PSTestRemediation?api-version=2018-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policyAssignments/2deae24764b447c29af7c309\",\r\n    \"filters\": {\r\n      \"locations\": [\r\n        \"eastus2\"\r\n      ]\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "RequestUri": "//subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/providers/Microsoft.PolicyInsights/remediations/PSTestRemediation?api-version=2019-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/providers/Microsoft.Authorization/policyAssignments/fcddeb6113ec43798567dce2\",\r\n    \"filters\": {\r\n      \"locations\": [\r\n        \"westus2\"\r\n      ]\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "262"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
=======
        "Cache-Control": [
          "no-cache"
        ],
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
<<<<<<< HEAD
          "595"
        ],
        "x-ms-request-id": [
          ":972efabb-cb65-4403-b4c4-100541f6ebf9"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
=======
          "599"
        ],
        "x-ms-request-id": [
          ":67529f5c-2fff-48b1-b259-ae7b39358117"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "3abda0a1-831e-4f68-835b-257cde4e8479"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20181018T182852Z:3abda0a1-831e-4f68-835b-257cde4e8479"
=======
          "bf44df60-37ca-4394-abf4-fdfb43e33901"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191206T005532Z:bf44df60-37ca-4394-abf4-fdfb43e33901"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Thu, 18 Oct 2018 18:28:51 GMT"
        ],
        "Content-Length": [
          "614"
=======
        "Date": [
          "Fri, 06 Dec 2019 00:55:31 GMT"
        ],
        "Content-Length": [
          "660"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/microsoft.authorization/policyassignments/2deae24764b447c29af7c309\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"createdOn\": \"2018-10-18T18:28:51.7190097Z\",\r\n    \"lastUpdatedOn\": \"2018-10-18T18:28:51.7190097Z\",\r\n    \"filters\": {\r\n      \"locations\": [\r\n        \"eastus2\"\r\n      ]\r\n    },\r\n    \"deploymentStatus\": {\r\n      \"totalDeployments\": 1,\r\n      \"successfulDeployments\": 0,\r\n      \"failedDeployments\": 0\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/microsoft.policyinsights/remediations/pstestremediation\",\r\n  \"name\": \"PSTestRemediation\",\r\n  \"type\": \"Microsoft.PolicyInsights/remediations\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "//subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/remediations/PSTestRemediation?api-version=2018-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policyAssignments/2deae24764b447c29af7c309\",\r\n    \"filters\": {\r\n      \"locations\": [\r\n        \"eastus2\"\r\n      ]\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/providers/microsoft.authorization/policyassignments/fcddeb6113ec43798567dce2\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"createdOn\": \"2019-12-06T00:55:30.826595Z\",\r\n    \"lastUpdatedOn\": \"2019-12-06T00:55:31.3666546Z\",\r\n    \"filters\": {\r\n      \"locations\": [\r\n        \"westus2\"\r\n      ]\r\n    },\r\n    \"deploymentStatus\": {\r\n      \"totalDeployments\": 1,\r\n      \"successfulDeployments\": 0,\r\n      \"failedDeployments\": 0\r\n    },\r\n    \"resourceDiscoveryMode\": \"ExistingNonCompliant\"\r\n  },\r\n  \"id\": \"/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/providers/microsoft.policyinsights/remediations/pstestremediation\",\r\n  \"name\": \"PSTestRemediation\",\r\n  \"type\": \"Microsoft.PolicyInsights/remediations\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/providers/Microsoft.PolicyInsights/remediations/PSTestRemediation?api-version=2019-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/providers/Microsoft.Authorization/policyAssignments/fcddeb6113ec43798567dce2\",\r\n    \"filters\": {\r\n      \"locations\": [\r\n        \"northcentralus\"\r\n      [...]
    {
      "RequestUri": "//subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5//providers/Microsoft.PolicyInsights/remediations/PSTestRemediation?api-version=2018-07-01-preview",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/providers/microsoft.authorization/policyassignments/fcddeb6113ec43798567dce2\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"createdOn\": \"2019-12-06T00:57:03.1092623Z\",\r\n    \"lastUpdatedOn\": \"2019-12-06T00:57:03.5681112Z\",\r\n    \"filters\": {\r\n      \"locations\": [\r\n        \"northcentralus\"\r\n      ]\r\n    },\r\n    \"deploymentStatus\": {\r\n      \"totalDeployments\": 2,\r\n      \"successfulDeployments\": 0,\r\n      \"failedDeployments\": 0\r\n    },\r\n    \"resourceDiscoveryMode\": \"ExistingNonCompliant\"\r\n  },\r\n  \"id\": \"/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/providers/microsoft.policyinsights/remediations/pstestremediation\",\r\n  \"name\": \"PSTestRemediation\",\r\n  \"type\": \"Microsoft.PolicyInsights/remediations\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41//providers/Microsoft.PolicyInsights/remediations/PSTestRemediation?api-version=2019-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "629e6616-0686-42ba-ac28-5323d28708f2"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.3190.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17763",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/2.0.0.0"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "597"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ]
=======
          "902b0aa1-827f-495a-8865-b5609750e2ad"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/3.0.0.0"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "598"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
>>>>>>> d7[...]
[...]
    {
      "RequestUri": "//subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5//providers/Microsoft.PolicyInsights/remediations/PSTestRemediation/cancel?api-version=2018-07-01-preview",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/providers/microsoft.authorization/policyassignments/fcddeb6113ec43798567dce2\",\r\n    \"provisioningState\": \"Canceled\",\r\n    \"createdOn\": \"2019-12-06T00:57:03.1092623Z\",\r\n    \"lastUpdatedOn\": \"2019-12-06T00:57:05.3825195Z\",\r\n    \"filters\": {\r\n      \"locations\": [\r\n        \"northcentralus\"\r\n      ]\r\n    },\r\n    \"deploymentStatus\": {\r\n      \"totalDeployments\": 2,\r\n      \"successfulDeployments\": 0,\r\n      \"failedDeployments\": 0\r\n    },\r\n    \"resourceDiscoveryMode\": \"ExistingNonCompliant\"\r\n  },\r\n  \"id\": \"/subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41/providers/microsoft.policyinsights/remediations/pstestremediation\",\r\n  \"name\": \"PSTestRemediation\",\r\n  \"type\": \"Microsoft.PolicyInsights/remediations\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/f67cc918-f64f-4c3f-aa24-a855465f9d41//providers/Microsoft.PolicyInsights/remediations/PSTestRemediation/cancel?api-version=2019-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "428a898a-9913-4574-9204-175cf6c67a6a"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.3190.0",
 [...]
[...]
