{
  "Entries": [
    {
      "RequestUri": "//providers/Microsoft.Management/managementGroups/AzGovPerfTest/providers/Microsoft.PolicyInsights/remediations/Remediation-ErrorHandling?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/providers/Microsoft.Management/managementGroups/AzGovPerfTest/providers/Microsoft.Authorization/policyAssignments/PSTestDeployAssignmentMG\",\r\n    \"resourceDiscoveryMode\": \"ReEvaluateCompliance\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidCreateRemediationRequest\",\r\n    \"message\": \"The request to create remediation 'Remediation-ErrorHandling' is invalid. Evaluating compliance before remediation is only supported for remediations at subscription scope and below. The requested scope was '/providers/Microsoft.Management/managementGroups/AzGovPerfTest'.\"\r\n  }\r\n}",
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "086aecf4-23d6-4dfd-99a8-a5c6299f0322"
  }
}