{
  "Entries": [
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/remediations/Remediation-LargeRemediation?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policyAssignments/PSTestModifyAssignmentSub\",\r\n    \"resourceCount\": 1010,\r\n    \"parallelDeployments\": 30\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "148"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/microsoft.authorization/policyassignments/pstestmodifyassignmentsub\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"createdOn\": \"2025-02-04T23:34:47.9787631Z\",\r\n    \"lastUpdatedOn\": \"2025-02-04T23:34:47.9788222Z\",\r\n    \"deploymentStatus\": {\r\n      \"totalDeployments\": 0,\r\n      \"successfulDeployments\": 0,\r\n      \"failedDeployments\": 0\r\n    },\r\n    \"resourceDiscoveryMode\": \"ExistingNonCompliant\",\r\n    \"correlationId\": \"33f28c28-0a55-4370-94bb-89530214c00d\",\r\n    \"resourceCount\": 1010,\r\n    \"parallelDeployments\": 30\r\n  },\r\n  \"id\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/microsoft.policyinsights/remediations/remediation-largeremediation\",\r\n  \"name\": \"Remediation-LargeRemediation\",\r\n  \"type\": \"Microsoft.PolicyInsights/remediations\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"dunnryan@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2025-01-28T23:39:07.2478035Z\",\r\n    \"lastModifiedBy\": \"dunnryan@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2025-02-04T23:34:47.7230875Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935//providers/Microsoft.PolicyInsights/remediations/Remediation-LargeRemediation?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "149"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-r[...]
[...]
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/remediations/Remediation-LargeRemediation/listDeployments?api-version=2021-10-01&$top=10",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "148"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"remediatedResourceId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg1/providers/microsoft.network/networksecuritygroups/pstests431\",\r\n      \"status\": \"Succeeded\",\r\n      \"resourceLocation\": \"westus3\",\r\n      \"createdOn\": \"2025-02-04T23:40:16.7844858Z\",\r\n      \"lastUpdatedOn\": \"2025-02-04T23:40:18.739538Z\"\r\n    },\r\n    {\r\n      \"remediatedResourceId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg1/providers/microsoft.network/networksecuritygroups/pstests434\",\r\n      \"status\": \"Succeeded\",\r\n      \"resourceLocation\": \"northcentralus\",\r\n      \"createdOn\": \"2025-02-04T23:40:16.784474Z\",\r\n      \"lastUpdatedOn\":[...]
[...]
    {
      "RequestUri": "/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/remediations/Remediation-LargeRemediation/listDeployments?api-version=2021-10-01&$top=1001&$skiptoken=W3sidG9rZW4iOiIrUklEOn51WWRVQVBvSVNBVmYrNkVNQUFBQURnPT0jUlQ6MSNUUkM6NjE4I1JURDpFaWFqdjkrYmZvS1BCZ2UrVy9zV0JUTXhNell1TVRNdU1UVlZNelE3TkRjN05qa3ZPakU1TXpRMU5Gc0EjSVNWOjIjSUVPOjY1NTUxI1FDRjo4IiwicmFuZ2UiOnsibWluIjoiIiwibWF4IjoiMDVDMUI5Q0Q2NzMzOTAifX1d",
      "RequestMethod": "POST",
  [...]
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/remediations/Remediation-LargeRemediation/listDeployments?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "148"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "[...]
    {
      "RequestUri": "/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/remediations/Remediation-LargeRemediation/listDeployments?api-version=2021-10-01&$skiptoken=W3sidG9rZW4iOiIrUklEOn51WWRVQVBvSVNBVmYrNkVNQUFBQURnPT0jUlQ6MSNUUkM6NjE4I1JURDpFaWFqdjkrYmZvS1BCZ2UrVy9zV0JUTXhNell1TVRNdU1UVlZNelE3TkRjN05qa3ZPakU1TXpRMU5Gc0EjSVNWOjIjSUVPOjY1NTUxI1FDRjo4IiwicmFuZ2UiOnsibWluIjoiIiwibWF4IjoiMDVDMUI5Q0Q2NzMzOTAifX1d",
      "RequestMethod": "POST",
      "Reque[...]
