{
  "Entries": [
    {
      "RequestUri": "//subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourceGroups/PSTestEmptyRG/providers/Microsoft.PolicyInsights/remediations/Remediation-ReEvaluateCompliance?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.Authorization/policyAssignments/PSTestDeployAssignmentSub\",\r\n    \"resourceDiscoveryMode\": \"ReEvaluateCompliance\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "149"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/microsoft.authorization/policyassignments/pstestdeployassignmentsub\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"createdOn\": \"2022-01-13T23:11:04.6401908Z\",\r\n    \"lastUpdatedOn\": \"2022-01-13T23:11:04.6403078Z\",\r\n    \"deploymentStatus\": {\r\n      \"totalDeployments\": 0,\r\n      \"successfulDeployments\": 0,\r\n      \"failedDeployments\": 0\r\n    },\r\n    \"resourceDiscoveryMode\": \"ReEvaluateCompliance\",\r\n    \"correlationId\": \"c167053b-cd2c-497d-bc34-9b2fe7100582\"\r\n  },\r\n  \"id\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourcegroups/pstestemptyrg/providers/microsoft.policyinsights/remediations/remediation-reevaluatecompliance\",\r\n  \"name\": \"Remediation-ReEvaluateCompliance\",\r\n  \"type\": \"Microsoft.PolicyInsights/remediations\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"aa1a7d99-cf7d-4af9-8a92-e466ddeee946\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2022-01-13T23:11:04.2890415Z\",\r\n    \"lastModifiedBy\": \"aa1a7d99-cf7d-4af9-8a92-e466ddeee946\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2022-01-13T23:11:04.2890415Z\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "//subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourcegroups/pstestemptyrg//providers/Microsoft.PolicyInsights/remediations/remediation-reevaluatecompliance/cancel?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "148"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "[...]
    {
      "RequestUri": "//subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourcegroups/pstestemptyrg//providers/Microsoft.PolicyInsights/remediations/Remediation-ReEvaluateCompliance?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "147"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
  [...]
[...]
