{
  "Entries": [
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourceGroups/PSTestRG1/providers/Microsoft.PolicyInsights/remediations/Remediation-ResourceGroupScope-Crud?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policyAssignments/PSTestDeployAssignmentSub\",\r\n    \"resourceCount\": 3,\r\n    \"parallelDeployments\": 20,\r\n    \"failureThreshold\": {\r\n      \"percentage\": 0.9\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "149"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/microsoft.authorization/policyassignments/pstestdeployassignmentsub\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"createdOn\": \"2025-02-04T23:40:23.1912791Z\",\r\n    \"lastUpdatedOn\": \"2025-02-04T23:40:23.1914106Z\",\r\n    \"deploymentStatus\": {\r\n      \"totalDeployments\": 0,\r\n      \"successfulDeployments\": 0,\r\n      \"failedDeployments\": 0\r\n    },\r\n    \"resourceDiscoveryMode\": \"ExistingNonCompliant\",\r\n    \"correlationId\": \"794418d6-a06d-47f1-b7f9-c78ef02d2bc4\",\r\n    \"resourceCount\": 3,\r\n    \"parallelDeployments\": 20,\r\n    \"failureThreshold\": {\r\n      \"percentage\": 0.9\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg1/providers/microsoft.policyinsights/remediations/remediation-resourcegroupscope-crud\",\r\n  \"name\": \"Remediation-ResourceGroupScope-Crud\",\r\n  \"type\": \"Microsoft.PolicyInsights/remediations\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"dunnryan@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2025-02-04T23:40:22.8742495Z\",\r\n    \"lastModifiedBy\": \"dunnryan@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2025-02-04T23:40:22.8742495Z\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg1//providers/Microsoft.PolicyInsights/remediations/Remediation-ResourceGroupScope-Crud?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "149"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
    [...]
[...]
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourceGroups/PSTestRG1/providers/Microsoft.PolicyInsights/remediations/Remediation-ResourceGroupScope-Crud/listDeployments?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "148"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1098"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16498"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"remediatedResourceId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg1/providers/microsoft.network/networksecuritygroups/pstests1\",\r\n      \"deploymentId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg1/providers/microsoft.resources/deployments/policydeployment_17326186171342302490\",\r\n      \"status\": \"Succeeded\",\r\n      \"resourceLocation\": \"eastus\",\r\n      \"createdOn\": \"2025-02-04T23:40:39.1304511Z\",\r\n      \"lastUpdatedOn\": \"2025-02-04T23:41:41.1419834Z\"\r\n    },\r\n    {\r\n      \"remediatedResourceId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg1/providers/microsoft.network/networksecuritygroups/pstests440\",\r\n      \"deploymentId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg1/providers/microsoft.resources/deployments/policydeployment_844338875989404167\",\r\n      \"status\": \"Succeeded\",\r\n      \"resourceLocation\": \"westus3\",\r\n      \"createdOn\": \"2025-02-04T23:40:39.1304613Z\",\r\n      \"lastUpdatedOn\": \"2025-02-04T23:41:40.806284Z\"\r\n    },\r\n    {\r\n      \"remediatedResourceId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg1/providers/microsoft.network/networksecuritygroups/pstests428\",\r\n      \"deploymentId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg1/providers/microsoft.resources/deployments/policydeployment_14596136007619700250\",\r\n      \"status\": \"Succeeded\",\r\n      \"resourceLocation\": \"eastus2\",\r\n      \"createdOn\": \"2025-02-04T23:40:39.1304654Z\",\r\n      \"lastUpdatedOn\": \"2025-02-04T23:41:40.7991108Z\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourceGroups/PSTestRG1/providers/Microsoft.PolicyInsights/remediations/Remediation-ResourceGroupScope-Crud/listDeployments?api-version=2021-10-01&$top=2",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "149"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [...]
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourceGroups/PSTestRG1/providers/Microsoft.PolicyInsights/remediations?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "148"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remain[...]
    {
      "RequestUri": "/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourceGroups/PSTestRG1/providers/Microsoft.PolicyInsights/remediations?api-version=2021-10-01&$skiptoken=W3sidG9rZW4iOiIrUklEOn51WWRVQVBvSVNBWG5FNllOQUFBQUJ3PT0jUlQ6MSNUUkM6MTAwI1JURDpqaTArSVc1endMRkY0L2t5U3BJekJUTXhNell1TVRNdU1UVlZNek03TWpVN05EY3ZOVFExT1RJME9sc0EjSVNWOjIjSUVPOjY1NTUxI1FDRjo4IiwicmFuZ2UiOnsibWluIjoiMDVDMUU3MkI1M0Q1NUUiLCJtYXgiOiIwNUMxRTlDRDY3MzM5OCJ9fV0%3D",
      "RequestMethod": "GET",
      "Requ[...]
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourceGroups/PSTestRG1/providers/Microsoft.PolicyInsights/remediations?api-version=2021-10-01&$top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "147"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit[...]
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourceGroups/PSTestRG1/providers/Microsoft.PolicyInsights/remediations?api-version=2021-10-01&$filter=PolicyAssignmentId%20eq%20%27%2Fsubscriptions%2Fe5a130f3-57fd-46b6-9c55-03d21a853935%2Fproviders%2FMicrosoft.Authorization%2FpolicyAssignments%2FPSTestDeployAssignmentSub%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit[...]
[...]
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg1//providers/Microsoft.PolicyInsights/remediations/remediation-resourcegroupscope-crud/cancel?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "149"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "7[...]
