{
  "Entries": [
    {
      "RequestUri": "//subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourceGroups/elpere/providers/Microsoft.KeyVault/vaults/elpereKv/providers/Microsoft.PolicyInsights/remediations/PSTestRemediation?api-version=2018-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policyAssignments/2deae24764b447c29af7c309\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "599"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/microsoft.authorization/policyassignments/2deae24764b447c29af7c309\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"createdOn\": \"2018-10-18T18:25:58.6556991Z\",\r\n    \"lastUpdatedOn\": \"2018-10-18T18:25:58.6713712Z\",\r\n    \"deploymentStatus\": {\r\n      \"totalDeployments\": 1,\r\n      \"successfulDeployments\": 0,\r\n      \"failedDeployments\": 0\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/elpere/providers/microsoft.keyvault/vaults/elperekv/providers/microsoft.policyinsights/remediations/pstestremediation\",\r\n  \"name\": \"PSTestRemediation\",\r\n  \"type\": \"Microsoft.PolicyInsights/remediations\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "//subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourceGroups/elpere/providers/Microsoft.KeyVault/vaults/elpereKv/providers/Microsoft.PolicyInsights/remediations/PSTestRemediation/cancel?api-version=2018-07-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "598"
        ],
        "x-ms-ratelimit-re[...]
    {
      "RequestUri": "//subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/elpere/providers/microsoft.keyvault/vaults/elperekv//providers/Microsoft.PolicyInsights/remediations/PSTestRemediation?api-version=2018-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "599"
        ],
        "x-ms-ratelimit-remaining[...]
[...]
    {
      "RequestUri": "//subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/elpere/providers/microsoft.keyvault/vaults/elperekv//providers/Microsoft.PolicyInsights/remediations/PSTestRemediation?api-version=2018-07-01-preview",
      "EncodedRequestUri": "Ly9zdWJzY3JpcHRpb25zL2QwNjEwYjI3LTk2NjMtNGMwNS04OWY4LTViNGJlMDFlODZhNS9yZXNvdXJjZWdyb3Vwcy9lbHBlcmUvcHJvdmlkZXJzL21pY3Jvc29mdC5rZXl2YXVsdC92YXVsdHMvZWxwZXJla3YvL3Byb3ZpZGVycy9NaWNyb