{
  "Entries": [
    {
      "RequestUri": "//subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/remediations/Remediation-SubscriptionScope-Crud?api-version=2021-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.Authorization/policyAssignments/PSTestDeployAssignmentSub\",\r\n    \"filters\": {\r\n      \"locations\": [\r\n        \"westus2\",\r\n        \"northcentralus\"\r\n      ]\r\n    },\r\n    \"resourceCount\": 3,\r\n    \"parallelDeployments\": 20,\r\n    \"failureThreshold\": {\r\n      \"percentage\": 0.9\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "148"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/microsoft.authorization/policyassignments/pstestdeployassignmentsub\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"createdOn\": \"2022-01-25T23:21:29.444984Z\",\r\n    \"lastUpdatedOn\": \"2022-01-25T23:21:29.4450659Z\",\r\n    \"filters\": {\r\n      \"locations\": [\r\n        \"westus2\",\r\n        \"northcentralus\"\r\n      ]\r\n    },\r\n    \"deploymentStatus\": {\r\n      \"totalDeployments\": 0,\r\n      \"successfulDeployments\": 0,\r\n      \"failedDeployments\": 0\r\n    },\r\n    \"resourceDiscoveryMode\": \"ExistingNonCompliant\",\r\n    \"correlationId\": \"b7c59a0e-69c2-4c7f-816d-88807e330556\",\r\n    \"resourceCount\": 3,\r\n    \"parallelDeployments\": 20,\r\n    \"failureThreshold\": {\r\n      \"percentage\": 0.9\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/microsoft.policyinsights/remediations/remediation-subscriptionscope-crud\",\r\n  \"name\": \"Remediation-SubscriptionScope-Crud\",\r\n  \"type\": \"Microsoft.PolicyInsights/remediations\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"aa1a7d99-cf7d-4af9-8a92-e466ddeee946\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2022-01-13T23:15:14.2735325Z\",\r\n    \"lastModifiedBy\": \"aa1a7d99-cf7d-4af9-8a92-e466ddeee946\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2022-01-25T23:21:29.0486225Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322//providers/Microsoft.PolicyInsights/remediations/Remediation-SubscriptionScope-Crud?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "147"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-T[...]
[...]
    {
      "RequestUri": "//subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/remediations/Remediation-SubscriptionScope-Crud/listDeployments?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "146"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"remediatedResourceId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourcegroups/pstestrg2/providers/microsoft.network/networksecuritygroups/pstests380\",\r\n      \"deploymentId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourcegroups/pstestrg2/providers/microsoft.resources/deployments/policydeployment_12231458288598213333\",\r\n      \"status\": \"Succeeded\",\r\n      \"resourceLocation\": \"northcentralus\",\r\n      \"createdOn\": \"2022-01-25T23:21:45.5292352Z\",\r\n      \"lastUpdatedOn\": \"2022-01-25T23:22:47.7639443Z\"\r\n    },\r\n    {\r\n      \"remediatedResourceId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourcegroups/pstestrg2/providers/microsoft.network/networksecuritygroups/pstests272\",\r\n      \"deploymentId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourcegroups/pstestrg2/providers/microsoft.resources/deployments/policydeployment_14065112389665932119\",\r\n      \"status\": \"Succeeded\",\r\n      \"resourceLocation\": \"northcentralus\",\r\n      \"createdOn\": \"2022-01-25T23:21:45.5292198Z\",\r\n      \"lastUpdatedOn\": \"2022-01-25T23:22:47.7590294Z\"\r\n    },\r\n    {\r\n      \"remediatedResourceId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourcegroups/pstestrg2/providers/microsoft.network/networksecuritygroups/pstests286\",\r\n      \"deploymentId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourcegroups/pstestrg2/providers/microsoft.resources/deployments/policydeployment_7242927125375487712\",\r\n      \"status\": \"Succeeded\",\r\n      \"resourceLocation\": \"westus2\",\r\n      \"createdOn\": \"2022-01-25T23:21:45.5292426Z\",\r\n      \"lastUpdatedOn\": \"2022-01-25T23:22:47.5887216Z\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/remediations/Remediation-SubscriptionScope-Crud/listDeployments?api-version=2021-10-01&$top=2",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "144"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
      [...]
    {
      "RequestUri": "//subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/remediations?api-version=2021-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "143"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json;[...]
    {
      "RequestUri": "/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/remediations?api-version=2021-10-01&$skiptoken=K1JJRDp%2BdVlkVUFQb0lTQVV3UFdjQ0FBQUFCdz09I1JUOjEjVFJDOjEwMCNSVEQ6amkwK0lXNXp3TEZGNC9reVNwSXpCVE14TXpNdU1USXVNelpWTXpNN01UUTdNVEV2TmpZMU5ERTZXd0E9I0lTVjoyI0lFTzo2NTU1MSNRQ0Y6NA%3D%3D",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-pol[...]
    {
      "RequestUri": "/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/remediations?api-version=2021-10-01&$skiptoken=K1JJRDp%2BdVlkVUFQb0lTQVZYLVdNQ0FBQUFCdz09I1JUOjIjVFJDOjIwMCNSVEQ6amkwK0lXNXp3TEZGNC9reVNwSXpCVE14TXpNdU1USXVNakZWTXpNN01qSTdNVFl2TkRFMk56WTNPRnNBI0lTVjoyI0lFTzo2NTU1MSNRQ0Y6NA%3D%3D",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-pol[...]
    {
      "RequestUri": "//subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/remediations?api-version=2021-10-01&$top=5",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "140"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ],
        "Content-Type": [
          "applicatio[...]
[...]
    {
      "RequestUri": "/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/remediations?api-version=2021-10-01&$top=101&$skiptoken=K1JJRDp%2BdVlkVUFQb0lTQVV3UFdjQ0FBQUFCdz09I1JUOjEjVFJDOjEwMCNSVEQ6amkwK0lXNXp3TEZGNC9reVNwSXpCVE14TXpNdU1USXVNelpWTXpNN01UUTdNVEV2TmpZMU5ERTZXd0E9I0lTVjoyI0lFTzo2NTU1MSNRQ0Y6NA%3D%3D",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-rema[...]
    {
      "RequestUri": "//subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/remediations?api-version=2021-10-01&$filter=PolicyAssignmentId%20eq%20%27%2Fsubscriptions%2F086aecf4-23d6-4dfd-99a8-a5c6299f0322%2Fproviders%2FMicrosoft.Authorization%2FpolicyAssignments%2FPSTestDeployAssignmentSub%27",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insight[...]
[...]
    {
      "RequestUri": "//subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322//providers/Microsoft.PolicyInsights/remediations/Remediation-SubscriptionScope-Crud/cancel?api-version=2021-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "133"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "C[...]
