{
  "Entries": [
    {
      "RequestUri": "/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/providers/Microsoft.DocumentDB/locations?api-version=2023-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "499"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/providers/Microsoft.DocumentDB/locations/brazilsoutheast\",\r\n      \"type\": \"Microsoft.DocumentDB/locations\",\r\n      \"name\": \"Brazil Southeast\",\r\n      \"properties\": {\r\n        \"supportsAvailabilityZone\": false,\r\n        \"isResidencyRestricted\": false,\r\n        \"isSubscriptionRegionAccessAllowedForAz\": false,\r\n        \"isSubscriptionRegionAccessAllowedForRegular\": true,\r\n        \"status\": \"Online\",\r\n        \"backupStorageRedundancies\": [\r\n          \"Geo\",\r\n          \"Local\"\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/providers/Microsoft.DocumentDB/locations/centralus\",\r\n      \"type\": \"Microsoft.DocumentDB/locations\",\r\n      \"name\": \"Central US\",\r\n      \"properties\": {\r\n        \"supportsAvailabilityZone\": true,\r\n        \"isResidencyRestricted\": false,\r\n        \"isSubscriptionRegionAccessAllowedForAz\": false,\r\n        \"[...]
    {
      "RequestUri": "/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/providers/Microsoft.DocumentDB/locations/East%20US?api-version=2023-11-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "498"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/23587e98-b6ac-4328-a753-03bcd3c8e744/providers/Microsoft.DocumentDB/locations/eastus\",\r\n  \"type\": \"Microsoft.DocumentDB/locations\",\r\n  \"name\": \"East US\",\r\n  \"properties\": {\r\n    \"supportsAvailabilityZone\": true,\r\n    \"isResidencyRestricted\": false,\r\n    \"isSubscriptionRegionAccessAllowedForAz\": true,\r\n    \"isSubscriptionRegionAccessAllowedForRegular\": true,\r\n    \"status\": \"Online\",\r\n    \"backupStorageRedundancies\": [\r\n      \"Geo\",\r\n      \"Zone\",\r\n      \"Local\"\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "23587e98-b6ac-4328-a753-03bcd3c8e744"
  }
}