{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6d59efe9-a0e4-4066-9771-725b10837e10/resourceGroups/pshtestrg6041/providers/Microsoft.KeyVault/vaults/pshtestvault1018?api-version=2014-12-19-PREVIEW",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6d59efe9-a0e4-4066-9771-725b10837e10/resourceGroups/pshtestrg6041/providers/Microsoft.KeyVault/vaults/pshtestvault1018\",\r\n  \"name\": \"pshtestvault1018\",\r\n  \"type\": \"Microsoft.KeyVault/vaults\",\r\n  \"location\": \"northcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"family\": \"A\",\r\n      \"name\": \"Premium\"\r\n    },\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"accessPolicies\": [],\r\n    \"enabledForDeployment\": true,\r\n    \"vaultUri\": \"https://pshtestvault1018.vault.azure.net/\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "ResourceGroupName": "pshtestrg6041",
    "Location": "northcentralus",
    "PreCreatedVault": "pshtestvault1018",
    "SubscriptionId": "6d59efe9-a0e4-4066-9771-725b10837e10",
    "TenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "Domain": "ntdev.microsoft.com",
    "User": "divyag@ntdev.microsoft.com"
  }
}