{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4fbe2810-8ec4-4443-88f4-1d0a6a212d02/resourceGroups/pshtestrg4931/providers/Microsoft.KeyVault/vaults/onesdk5008?api-version=2015-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.KeyVault/vaults/onesdk5008' under resource group 'pshtestrg4931' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {
    "Test-GetUnknownVaultFails": [
      "onesdk5008"
    ]
  },
  "Variables": {
    "ResourceGroupName": "pshtestrg4931",
    "Location": "northcentralus",
    "PreCreatedVault": "pshtestvault7685",
    "SubscriptionId": "4fbe2810-8ec4-4443-88f4-1d0a6a212d02",
    "TenantId": "dab60df3-eb31-470e-9aa7-0bb580c2624c",
    "Domain": "mstestkeyvaultoutlook.onmicrosoft.com",
    "User": "testuser@mstestkeyvaultoutlook.onmicrosoft.com"
  }
}