{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4fbe2810-8ec4-4443-88f4-1d0a6a212d02/resourceGroups/onesdk9243/resources?$filter=resourceType%20eq%20'Microsoft.KeyVault%2Fvaults'&api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'onesdk9243' could not be found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {
    "Test-ListVaultsByUnknownResourceGroupFails": [
      "onesdk9243"
    ]
  },
  "Variables": {
    "ResourceGroupName": "pshtestrg9281",
    "Location": "northcentralus",
    "PreCreatedVault": "pshtestvault7095",
    "SubscriptionId": "4fbe2810-8ec4-4443-88f4-1d0a6a212d02",
    "TenantId": "dab60df3-eb31-470e-9aa7-0bb580c2624c",
    "Domain": "mstestkeyvaultoutlook.onmicrosoft.com",
    "User": "testuser@mstestkeyvaultoutlook.onmicrosoft.com"
  }
}