{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6d59efe9-a0e4-4066-9771-725b10837e10/resourceGroups/pshtestrg6041/providers/Microsoft.KeyVault/vaults/onesdk6295?api-version=2014-12-19-PREVIEW",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"Resource not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {
    "Test-GetUnknownVaultFails": [
      "onesdk6295"
    ]
  },
  "Variables": {
    "ResourceGroupName": "pshtestrg6041",
    "Location": "northcentralus",
    "PreCreatedVault": "pshtestvault1018",
    "SubscriptionId": "6d59efe9-a0e4-4066-9771-725b10837e10",
    "TenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "Domain": "ntdev.microsoft.com",
    "User": "divyag@ntdev.microsoft.com"
  }
}