{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c2619f08-57f7-492b-a9c3-45dee233805b/resourceGroups/pshtestrg1197/providers/Microsoft.KeyVault/vaults/onesdk6132?api-version=2014-12-19-PREVIEW",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"Resource not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {
    "Test-GetUnknownVaultFails": [
      "onesdk6132"
    ]
  },
  "Variables": {
    "ResourceGroupName": "pshtestrg1197",
    "Location": "northcentralus",
    "PreCreatedVault": "pshtestvault6809",
    "SubscriptionId": "c2619f08-57f7-492b-a9c3-45dee233805b",
    "TenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "Domain": "microsoft.com",
    "User": "kmsngtu@microsoft.com"
  }
}