{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4fbe2810-8ec4-4443-88f4-1d0a6a212d02/resourceGroups/pshtestrg6777/resources?$filter=resourceType%20eq%20'Microsoft.KeyVault%2Fvaults'&api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/4fbe2810-8ec4-4443-88f4-1d0a6a212d02/resourceGroups/pshtestrg6777/providers/Microsoft.KeyVault/vaults/pshtestvault3677\",\r\n      \"name\": \"pshtestvault3677\",\r\n      \"type\": \"Microsoft.KeyVault/vaults\",\r\n      \"location\": \"northcentralus\",\r\n      \"tags\": {}\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "ResourceGroupName": "pshtestrg6777",
    "Location": "northcentralus",
    "PreCreatedVault": "pshtestvault3677",
    "SubscriptionId": "4fbe2810-8ec4-4443-88f4-1d0a6a212d02",
    "TenantId": "dab60df3-eb31-470e-9aa7-0bb580c2624c",
    "Domain": "mstestkeyvaultoutlook.onmicrosoft.com",
    "User": "testuser@mstestkeyvaultoutlook.onmicrosoft.com"
  }
}