{
  "Get-AzApplicationInsightsWorkbook+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/microsoft.insights/workbooks?category=workbook\u0026api-version=2022-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/microsoft.insights/workbooks?category=workbook\u0026api-version=2022-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "", "" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/appinsights-hkrs2v-test/providers/microsoft.insights/workbooks/cc18e5e4-9558-4be1-b333-20b28aaca021\",\"name\":\"cc18e5e4-9558-4be1-b333-20b28aaca021\",\"type\":null,\"location\":\"eastus\",\"tags\":{\"hidden-title\":\"workbook-portal\"},\"kind\":\"shared\",\"etag\":\"\\\"c900443e-0000-0100-0000-636a0ee50000\\\"\",\"properties\":{\"displayName\":\"workbook-portal\",\"serializedData\":null,\"version\":null,\"category\":\"workbook\",\"userId\":\"97deab6c-e478-40b4-b4da-e7d9353dc1e8\",\"sourceId\":null,\"timeModified\":\"2022-11-08T08:10:13.167088Z\",\"tags\":null,\"storageUri\":null,\"revision\":\"ff2b641e693840c9828177c29bebeab3\"}},{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/appinsights-hkrs2v-test/providers/microsoft.insights/workbooks/2e47417f-c136-44c0-b78f-7a4ca35fd9d1\",\"name\":\"2e47417f-c136-44c0-b78f-7a4ca35fd9d1\",\"type\":null,\"location\":\"westus2\",\"tags\":{\"key01\":\"value01\",\"hidden-title\":\"pwsh01\",\"k2\":\"v2\"},\"kind\":\"user\",\"etag\":\"\\\"0100f0a3-0000-0600-0000-636a18880000\\\"\",\"properties\":{\"displayName\":\"pwsh01\",\"serializedData\":null,\"version\":null,\"category\":\"workbook\",\"userId\":\"97deab6c-e478-40b4-b4da-e7d9353dc1e8\",\"sourceId\":null,\"timeModified\":\"2022-11-08T08:51:19.8259929Z\",\"tags\":null,\"storageUri\":null,\"revision\":\"3ab17ca0bc164b6bb1b38eb0562d871c\"}},{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/appinsights-hkrs2v-test[...]
