{
  "Get-AzApplicationInsightsWorkbookTemplate+[NoContext]+Get+$PUT+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/appInsights-df1yir-test/providers/microsoft.insights/workbooktemplates/23eb2aa1-0cf5-4f1d-b733-7ccb0ecec467?api-version=2020-11-20+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/appInsights-df1yir-test/providers/microsoft.insights/workbooktemplates/23eb2aa1-0cf5-4f1d-b733-7ccb0ecec467?api-version=2020-11-20",
      "Content": "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"priority\": 1,\r\n    \"templateData\": {\r\n      \"items\": [\r\n        {\r\n          \"name\": \"text - 2\",\r\n          \"content\": {\r\n            \"json\": \"## New workbook\\\\n---\\\\n\\\\nWelcome to your new workbook.  This area will display text formatted as markdown.\\\\n\\\\n\\\\nWe\\u0027ve included a basic analytics query to get you started. Use the Edit button below each section to configure it or add more sections.\"\r\n          },\r\n          \"type\": 1\r\n        },\r\n        {\r\n          \"name\": \"query - 2\",\r\n          \"content\": {\r\n            \"size\": 1,\r\n            \"exportToExcelOptions\": \"visible\",\r\n            \"query\": \"union withsource=TableName *\\\\n| summarize Count=count() by TableName\\\\n| render barchart\",\r\n            \"queryType\": 0,\r\n            \"resourceType\": \"microsoft.operationalinsights/workspaces\",\r\n            \"version\": \"KqlItem/1.0\"\r\n          },\r\n          \"type\": 3\r\n        }\r\n      ],\r\n      \"styleSettings\": {\r\n      },\r\n      \"version\": \"Notebook/1.0\",\r\n      \"\": \"https://github.com/Microsoft/Application-Insights-Workbooks/blob/master/schema/workbook.json\"\r\n    },\r\n    \"galleries\": [\r\n      {\r\n        \"name\": \"Simple Template\",\r\n        \"category\": \"Failures\",\r\n        \"type\": \"tsg\",\r\n        \"order\": 100,\r\n        \"resourceType\": \"microsoft.insights/components\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "197" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2997" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"name\": \"23eb2aa1-0cf5-4f1d-b733-7ccb0ecec467\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": null,\r\n  \"type\": \"microsoft.insights/workbooktemplates\",\r\n  \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/appinsights-df1yir-test/providers/microsoft.insights/workbooktemplates/23eb2aa1-0cf5-4f1d-b733-7ccb0ecec467\",\r\n  \"properties\": {\r\n    \"priority\": 1,\r\n    \"author\": null,\r\n    \"templateData\": {\r\n      \"items\": [\r\n        {\r\n          \"name\": \"text - 2\",\r\n          \"content\": {\r\n            \"json\": \"## New workbook\\\\n---\\\\n\\\\nWelcome to your new workbook.  This area will display text formatted as markdown.\\\\n\\\\n\\\\nWe\u0027ve included a basic analytics query to get you started. Use the Edit button below each section to configure it or add more sections.\"\r\n          },\r\n          \"type\": 1\r\n        },\r\n        {\r\n          \"name\": \"query - 2\",\r\n          \"content\": {\r\n            \"size\": 1,\r\n            \"exportToExcelOptions\": \"visible\",\r\n            \"query\": \"union withsource=TableName *\\\\n| summarize Count=count() by TableName\\\\n| render barchart\",\r\n            \"queryType\": 0,\r\n            \"resourceType\": \"microsoft.operationalinsights/workspaces\",\r\n            \"version\": \"KqlItem/1.0\"\r\n          },\r\n          \"type\": 3\r\n        }\r\n      ],\r\n      \"styleSettings\": {},\r\n      \"version\": \"Notebook/1.0\",\r\n      \"\": \"https://github.com/Microsoft/Application-Insights-Workbooks/blob/master/schema/workbook.json\"\r\n    },\r\n    \"galleries\": [\r\n      {\r\n        \"name\": \"Simple Template\",\r\n        \"category\": \"Failures\",\r\n        \"order\": 100,\r\n        \"type\": \"tsg\",\r\n        \"resourceType\": \"microsoft.insights/components\"\r\n      }\r\n    ],\r\n    \"localized\": null\r\n  }\r\n}",
    }
  },
  "Get-AzApplicationInsightsWorkbookTemplate+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/appInsights-df1yir-test/providers/microsoft.insights/workbooktemplates/23eb2aa1-0cf5-4f1d-b733-7ccb0ecec467?api-version=2020-11-20+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/appInsights-df1yir-test/providers/microsoft.insights/workbooktemplates/23eb2aa1-0cf5-4f1d-b733-7ccb0ecec467?api-version=2020-11-20",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "35" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "248" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3748" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"name\": \"23eb2aa1-0cf5-4f1d-b733-7ccb0ecec467\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": n[...]
