{
  "Get-AzAzureDataTransferFlow+[NoContext]+List - Should retrieve all flows for a connection+$GET+https://eastus2euap.management.azure.com/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Private.AzureDataTransfer/connections/faikh-send-connection-6/flows?api-version=2024-09-27+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Private.AzureDataTransfer/connections/faikh-send-connection-6/flows?api-version=2024-09-27",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "b1678041-ed81-4b66-a35d-6ba3c20f54da" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "4000" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-throttling-version": [ "v1" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Private.AzureDataTransfer/connections/faikh-send-connection-6/flows/faikh-send-flow-2\",\"name\":\"faikh-send-flow-2\",\"type\":\"private.azuredatatransfer/connections/flows\",\"location\":\"westcentralus\",\"tags\":{\"someTag\":\"someValue\"},\"systemData\":{\"lastModifiedBy\":\"faikh@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2025-03-17T09:42:31.17311Z\"},\"identity\":{\"type\":\"None\"},\"properties\":{\"connection\":{\"id\":\"/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg/providers/Private.AzureDataTransfer/connections/faikh-send-connection-6\"},\"flowId\":\"80800d2e-5682-4c83-9587-d02811ccc31d\",\"status\":\"Disabled\",\"storageAccountName\":\"/subscriptions/389ff96a-b137-405b-a3c8-4d22514708b5/resourceGroups/rpaas-rg-faikh/providers/Microsoft.Storage/storageAccounts/armstrongtest\",\"storageContainerName\":\"armstrong-test-container\",\"flowType\":\"Mission\",\"dataType\":\"Blob\",\"provisioningState\":\"Succeeded\"}}]}",
    }
  }
}