{
  "Entries": [
    {
      "RequestUri": "/6e66bcd0-07ac-47a4-9128-d576f625046f/locations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Locations xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Location>\r\n    <Name>East US</Name>\r\n    <DisplayName>East US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableService>Storage</AvailableService>\r\n      <AvailableService>PersistentVMRole</AvailableService>\r\n      <AvailableService>HighMemory</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>A10</RoleSize>\r\n        <RoleSize>A11</RoleSize>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>A8</RoleSize>\r\n        <RoleSize>A9</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Standard_D1</RoleSize>\r\n        <RoleSize>Standard_D11</RoleSize>\r\n        <RoleSize>Standard_D12</RoleSize>\r\n        <RoleSize>Standard_D13</RoleSize>\r\n        <RoleSize>Standard_D14</RoleSize>\r\n        <RoleSize>Standard_D2</RoleSize>\r\n        <RoleSize>Standard_D3</RoleSize>\r\n        <RoleSize>Standard_D4</RoleSize>\r\n      </WebWorkerRoleSizes>\r\n      <VirtualMachinesRoleSizes>\r\n        <RoleSize>A10</RoleSize>\r\n        <RoleSize>A11</RoleSize>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>A8</RoleSize>\r\n        <RoleSize>A9</RoleSize>\r\n        <RoleSize>Basic_A0</RoleSize>\r\n        <RoleSize>Basic_A1</RoleSize>\r\n        <RoleSize>Basic_A2</RoleSize>\r\n        <RoleSize>Basic_A3</RoleSize>\r\n        <RoleSize>Basic_A4</RoleSize>\r\n        <RoleSize>Basic_D1</RoleSize>\r\n        <RoleSize>Basic_D11</RoleSize>\r\n        <RoleSize>Basic_D12</RoleSize>\r\n        <RoleSize>Basic_D13</RoleSize>\r\n        <RoleSize>Basic_D2</RoleSize>\r\n        <RoleSize>Basic_D3</RoleSize>\r\n        <RoleSize>Basic_D4</RoleSize>\r\n        <RoleSize>Basic_D5</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Standard_D1</RoleSize>\r\n        <RoleSize>Standard_D11</RoleSize>\r\n        <RoleSize>Standard_D12</RoleSize>\r\n        <RoleSize>Standard_D13</RoleSize>\r\n        <RoleSize>Standard_D14</RoleSize>\r\n        <RoleSize>Standard_D2</RoleSize>\r\n        <RoleSize>Standard_D3</RoleSize>\r\n        <RoleSize>Standard_D4</RoleSize>\r\n      </VirtualMachinesRoleSizes>\r\n    </ComputeCapabilities>\r\n    <StorageCapabilities>\r\n      <StorageAccountTypes>\r\n        <StorageAccountType>Standard_LRS</StorageAccountType>\r\n        <StorageAccountType>Standard_ZRS</StorageAccountType>\r\n        <StorageAccountType>Standard_GRS</StorageAccountType>\r\n        <StorageAccountType>Standard_RAGRS</StorageAccountType>\r\n      </StorageAccountTypes>\r\n    </StorageCapabilities>\r\n  </Location>\r\n  <Location>\r\n    <Name>West US</Name>\r\n    <DisplayName>West US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableServ[...]
    {
      "RequestUri": "/6e66bcd0-07ac-47a4-9128-d576f625046f/operations/0a879787d5ebb84bac66d44c43ac6d33",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>0a879787-d5eb-b84b-ac66-d44c43ac6d33</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/6e66bcd0-07ac-47a4-9128-d576f625046f/services/storageservices",
      "RequestMethod": "POST",
      "RequestBody": "<CreateStorageServiceInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>onesdk4625</ServiceName>\r\n  <Description p2:nil=\"true\" xmlns:p2=\"http://www.w3.org/2001/XMLSchema-instance\" />\r\n  <Label>b25lc2RrNDYyNQ==</Label>\r\n  <Location>West US</Location>\r\n  <AccountType>Standard_GRS</AccountType>\r\n</CreateStorageServiceInput>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ],
        "Location": [
          "https://management.core.windows.net/subscriptions/6e66bcd0-07ac-47a4-9128-d576f625046f/storage/onesdk4625"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/6e66bcd0-07ac-47a4-9128-d576f625046f/services/images",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<Images xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <OSImage>\r\n    <Category>Public</Category>\r\n    <Label>CoreCLR x64 Beta5 (11624) with PartsUnlimited Demo App on Ubuntu Server 14.04 LTS</Label>\r\n    <Location>East Asia;Southeast Asia;Australia East;Australia Southeast;North Europe;West Europe;Japan East;Japan West;Central US;East US;East US 2;South Central US;West US</Location>\r\n    <LogicalSizeInGB>30</LogicalSizeInGB>\r\n    <Name>03f55de797f546a1b29d1b8d66be687a__CoreCLR-x64-Beta5-Linux-PartsUnlimited-Demo-App-201504.29</Name>\r\n    <OS>Linux</OS>\r\n    <Eula>http://go.microsoft.com/fwlink/?LinkId=521895</Eula>\r\n    <Description>Linux VM image with coreclr-x64-beta5-11624 installed to /opt/dnx. This image is based on Ubuntu 14.04 LTS, with prerequisites of CoreCLR installed. It also contains PartsUnlimited demo app which runs on the installed coreclr. The demo app is installed to /opt/demo. To run the demo, please type the command '/opt/demo/Kestrel' in a terminal window. The website is listening on port 5004. Please enable or map a endpoint of HTTP port 5004 for your azure VM.</Description>\r\n    <ImageFamily>CoreCLR x64 Beta5 (11624) with PartsUnlimited Demo App on Ubuntu Server 14.04 LTS</ImageFamily>\r\n    <PublishedDate>2015-04-29T07:00:00Z</PublishedDate>\r\n    <IsPremium>false</IsPremium>\r\n    <IconUri>Ubuntu-cof-45.png</IconUri>\r\n    <PrivacyUri>http://go.microsoft.com/fwlink/?LinkID=528096</PrivacyUri>\r\n    <RecommendedVMSize>Standard_D1</RecommendedVMSize>\r\n    <PublisherName>Microsoft Visual Studio Group</PublisherName>\r\n    <SmallIconUri>Ubuntu-cof-45.png</SmallIconUri>\r\n    <IOType>Standard_LRS</IOType>\r\n  </OSImage>\r\n  <OSImage>\r\n    <Category>Public</Category>\r\n    <Label>Team Foundation Server 2013 Update 4 on Windows Server 2012 R2</Label>\r\n    <Location>East Asia;Southeast Asia;Australia East;Australia Southeast;North Europe;West Europe;Japan East;Japan West;Central US;East US;East US 2;South Central US;West US</Location>\r\n    <LogicalSizeInGB>128</LogicalSizeInGB>\r\n    <Name>03f55de797f546a1b29d1b8d66be687a__Team-Foundation-Server-2013-Update4-WS2012R2<[...]
[...]
