{
  "Entries": [
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/providers/Microsoft.Sql?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/providers/Microsoft.Sql\",\r\n  \"namespace\": \"Microsoft.Sql\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"e4ab13ed-33cb-41b4-9140-6e264582cf85\",\r\n      \"roleDefinitionId\": \"ec3ddc95-44dc-47a2-9926-5e9f5ffd44ec\"\r\n    },\r\n    {\r\n      \"applicationId\": \"0130cc9f-7ac5-4026-bd5f-80a08a54e6d9\",\r\n      \"roleDefinitionId\": \"45e8abf8-0ec4-44f3-9c37-cff4f7779302\"\r\n    },\r\n    {\r\n      \"applicationId\": \"76cd24bf-a9fc-4344-b1dc-908275de6d6d\",\r\n      \"roleDefinitionId\": \"c13b7b9c-2ed1-4901-b8a8-16f35468da29\"\r\n    },\r\n    {\r\n      \"applicationId\": \"76c7f279-7959-468f-8943-3954880e0d8c\",\r\n      \"roleDefinitionId\": \"7f7513a8-73f9-4c5f-97a2-c41f0ea783ef\",\r\n      \"managedByRoleDefinitionId\": \"f2f79976-90be-4501-89c6-7caf12474683\"\r\n    },\r\n    {\r\n      \"applicationId\": \"022907d3-0f1b-48f7-badc-1ba6abab6d66\"\r\n    },\r\n    {\r\n      \"applicationId\": \"9c8b80bc-6887-42d0-b1af-d0c40f9bf1fa\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locations\": [\r\n        \"Australia Central\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central India\",\r\n        \"Central US\",\r\n        \"East Asia\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"France Central\",\r\n        \"Germany West Central\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Jio India West\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"North Central US\",\r\n        \"North Europe\",\r\n        \"Norway East\",\r\n        \"Qatar Central\",\r\n        \"South Africa North\",\r\n        \"South Central US\",\r\n        \"South India\",\r\n        \"Southeast Asia\",\r\n        \"Sweden Central\",\r\n        \"Switzerland North\",\r\n        \"UAE North\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"West Central US\",\r\n        \"West Europe\",\r\n        \"West India\",\r\n        \"West US\",\r\n        \"West US 2\",\r\n        \"West US 3\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2022-08-01-preview\",\r\n        \"2022-05-01-preview\",\r\n        \"2022-02-01-preview\",\r\n        \"2021-11-01-preview\",\r\n        \"2021-11-01\",\r\n        \"2021-08-01-preview\",\r\n        \"2021-05-01-preview\",\r\n        \"2021-02-01-preview\",\r\n        \"2020-11-01-preview\",\r\n        \"2020-08-01-preview\",\r\n        \"2020-02-02-preview\",\r\n        \"2019-06-01-preview\",\r\n        \"2018-06-01-preview\",\r\n        \"2017-10-01-preview\",\r\n        \"20[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourcegroups/ps1?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West Europe\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps1\",\r\n  \"name\": \"ps1\",\r\n  \"location\": \"westeurope\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps1/providers/Microsoft.Sql/servers/ps7314?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/ps7314' under resource group 'ps1' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps1/providers/Microsoft.Sql/servers/ps7314?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"ps7314.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"restrictOutboundNetworkAccess\": \"Disabled\"\r\n  },\r\n  \"location\": \"westeurope\",\r\n  \"id\": \"/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps1/providers/Microsoft.Sql/servers/ps7314\",\r\n  \"name\": \"ps7314\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps1/providers/Microsoft.Sql/servers/ps7314?api-version=2021-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!\"\r\n  },\r\n  \"location\": \"West Europe\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps1/providers/Microsoft.Sql/locations/westeurope/serverOperationResults/6a823855-2077-4338-9f21-250bda6459ab?api-version=2021-02-01-preview"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps1/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/6a823855-2077-4338-9f21-250bda6459ab?api-version=2021-02-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2023-02-17T21:28:35.04Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps1/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/6a823855-2077-4338-9f21-250bda6459ab?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"6a823855-2077-4338-9f21-250bda6459ab\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2023-02-17T21:28:35.04Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps1/providers/Microsoft.Sql/servers/ps7314/databases/ps2976?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/ps7314/databases/ps2976' under resource group 'ps1' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps1/providers/Microsoft.Sql/servers/ps7314/databases/ps2976?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11981"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Premium\",\r\n    \"tier\": \"Premium\",\r\n    \"capacity\": 125\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 536870912000,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"ff46abce-db6f-49e2-a447-7c877c8391eb\",\r\n    \"creationDate\": \"2023-02-17T21:31:08.71Z\",\r\n    \"currentServiceObjectiveName\": \"P1\",\r\n    \"requestedServiceObjectiveName\": \"P1\",\r\n    \"defaultSecondaryLocation\": \"northeurope\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": true,\r\n    \"readScale\": \"Enabled\",\r\n    \"currentSku\": {\r\n      \"name\": \"Premium\",\r\n      \"tier\": \"Premium\",\r\n      \"capacity\": 125\r\n    },\r\n    \"currentBackupStorageRedundancy\": \"Geo\",\r\n    \"requestedBackupStorageRedundancy\": \"Geo\",\r\n    \"maintenanceConfigurationId\": \"/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default\",\r\n    \"isLedgerOn\": false,\r\n    \"isInfraEncryptionEnabled\": false,\r\n    \"availabilityZone\": \"NoPreference\"\r\n  },\r\n  \"location\": \"westeurope\",\r\n  \"id\": \"/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps1/providers/Microsoft.Sql/servers/ps7314/databases/ps2976\",\r\n  \"name\": \"ps2976\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps1/providers/Microsoft.Sql/servers/ps7314/databases/ps2976?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Premium\",\r\n    \"tier\": \"Premium\"\r\n  },\r\n  \"properties\": {\r\n    \"maxSizeBytes\": 0,\r\n    \"zoneRedundant\": true,\r\n    \"readScale\": \"\",\r\n    \"keys\": {}\r\n  },\r\n  \"location\": \"westeurope\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps1/providers/Microsoft.Sql/locations/westeurope/databaseOperationResults/6cc5fa78-e3cc-4bcb-900a-45f813d5b9b2?api-version=2022-08-01-preview"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps1/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/6cc5fa78-e3cc-4bcb-900a-45f813d5b9b2?api-version=2022-08-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2023-02-17T21:29:47.533Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps1/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/6cc5fa78-e3cc-4bcb-900a-45f813d5b9b2?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"6cc5fa78-e3cc-4bcb-900a-45f813d5b9b2\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2023-02-17T21:29:47.533Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzEtV0VTVEVVUk9QRSIsImpvYkxvY2F0aW9uIjoid2VzdGV1cm9wZSJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzEtV0VTVEVVUk9QRSIsImpvYkxvY2F0aW9uIjoid2VzdGV1cm9wZSJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzEtV0VTVEVVUk9QRSIsImpvYkxvY2F0aW9uIjoid2VzdGV1cm9wZSJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-GetDatabaseWithZoneRedundancy": [
      "ps1",
      "ps7314",
      "ps2976",
      "ps8910"
    ]
  },
  "Variables": {
    "SubscriptionId": "2c647056-bab2-4175-b172-493ff049eb29"
  }
}