{
  "Entries": [
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourcegroups/ps9446?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps9446\",\r\n  \"name\": \"ps9446\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps9446/providers/Microsoft.Sql/servers/ps3004?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/ps3004' under resource group 'ps9446' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps9446/providers/Microsoft.Sql/servers/ps3004?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"ps3004.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"restrictOutboundNetworkAccess\": \"Disabled\"\r\n  },\r\n  \"location\": \"westeurope\",\r\n  \"id\": \"/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps9446/providers/Microsoft.Sql/servers/ps3004\",\r\n  \"name\": \"ps3004\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps9446/providers/Microsoft.Sql/servers/ps3004?api-version=2021-02-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!\"\r\n  },\r\n  \"location\": \"westeurope\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps9446/providers/Microsoft.Sql/locations/westeurope/serverOperationResults/5758da01-922a-41c9-b9dc-59f2141aa3d3?api-version=2021-02-01-preview"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps9446/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/5758da01-922a-41c9-b9dc-59f2141aa3d3?api-version=2021-02-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2023-02-17T21:53:23.547Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps9446/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/5758da01-922a-41c9-b9dc-59f2141aa3d3?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"5758da01-922a-41c9-b9dc-59f2141aa3d3\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2023-02-17T21:53:23.547Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps9446/providers/Microsoft.Sql/servers/ps3004/databases/ps6449?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/ps3004/databases/ps6449' under resource group 'ps9446' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps9446/providers/Microsoft.Sql/servers/ps3004/databases/ps6449?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11972"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 2\r\n  },\r\n  \"kind\": \"v12.0,user,vcore\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 1073741824,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"739c9857-af59-4962-a885-778de2341114\",\r\n    \"creationDate\": \"2023-02-17T21:55:30.337Z\",\r\n    \"currentServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"requestedServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"defaultSecondaryLocation\": \"northeurope\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"maxLogSizeBytes\": 193273528320,\r\n    \"readScale\": \"Disabled\",\r\n    \"currentSku\": {\r\n      \"name\": \"GP_Gen5\",\r\n      \"tier\": \"GeneralPurpose\",\r\n      \"family\": \"Gen5\",\r\n      \"capacity\": 2\r\n    },\r\n    \"currentBackupStorageRedundancy\": \"Geo\",\r\n    \"requestedBackupStorageRedundancy\": \"Geo\",\r\n    \"maintenanceConfigurationId\": \"/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default\",\r\n    \"isLedgerOn\": false,\r\n    \"isInfraEncryptionEnabled\": false,\r\n    \"availabilityZone\": \"NoPreference\"\r\n  },\r\n  \"location\": \"westeurope\",\r\n  \"id\": \"/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps9446/providers/Microsoft.Sql/servers/ps3004/databases/ps6449\",\r\n  \"name\": \"ps6449\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps9446/providers/Microsoft.Sql/servers/ps3004/databases/ps6449?api-version=2022-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"maxSizeBytes\": 1073741824,\r\n    \"readScale\": \"\",\r\n    \"keys\": {}\r\n  },\r\n  \"location\": \"westeurope\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps9446/providers/Microsoft.Sql/locations/westeurope/databaseOperationResults/414e4037-5129-40d3-913e-56f75a7878c7?api-version=2022-08-01-preview"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps9446/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/414e4037-5129-40d3-913e-56f75a7878c7?api-version=2022-08-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2023-02-17T21:54:33.337Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps9446/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/414e4037-5129-40d3-913e-56f75a7878c7?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11976"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"414e4037-5129-40d3-913e-56f75a7878c7\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2023-02-17T21:54:33.337Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps9446/providers/Microsoft.Sql/servers/ps3004/databases/ps6449?$expand=keys&api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
     [...]
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzk0NDYtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzk0NDYtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzk0NDYtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-RenameDatabase": [
      "ps9446",
      "ps3004",
      "ps6449"
    ]
  },
  "Variables": {
    "SubscriptionId": "2c647056-bab2-4175-b172-493ff049eb29"
  }
}