{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f28872d6-4a93-4bb1-84b9-aecb02b6af4c/providers/Microsoft.Sql/locations/Japan%20East/capabilities?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"Japan East\",\r\n  \"supportedServerVersions\": [\r\n    {\r\n      \"name\": \"12.0\",\r\n      \"supportedEditions\": [\r\n        {\r\n          \"name\": \"System\",\r\n          \"supportedServiceLevelObjectives\": [\r\n            {\r\n              \"id\": \"26e021db-f1f9-4c98-84c6-92af8ef433d7\",\r\n              \"name\": \"System\",\r\n              \"supportedMaxSizes\": [\r\n                {\r\n                  \"minValue\": {\r\n                    \"limit\": 5,\r\n                    \"unit\": \"Gigabytes\"\r\n                  },\r\n                  \"maxValue\": {\r\n                    \"limit\": 5,\r\n                    \"unit\": \"Gigabytes\"\r\n                  },\r\n                  \"scaleSize\": {\r\n                    \"limit\": 0,\r\n                    \"unit\": \"Gigabytes\"\r\n                  },\r\n                  \"status\": \"Visible\",\r\n                  \"reason\": \"'System' is not a valid database edition in this version of SQL Server.\"\r\n                },\r\n                {\r\n                  \"minValue\": {\r\n                    \"limit\": 30,\r\n                    \"unit\": \"Gigabytes\"\r\n                  },\r\n                  \"maxValue\": {\r\n                    \"limit\": 30,\r\n                    \"unit\": \"Gigabytes\"\r\n                  },\r\n                  \"scaleSize\": {\r\n                    \"limit\": 0,\r\n                    \"unit\": \"Gigabytes\"\r\n                  },\r\n                  \"status\": \"Visible\",\r\n                  \"reason\": \"'System' is not a valid database edition in this version of SQL Server.\"\r\n                }\r\n              ],\r\n              \"performanceLevel\": {\r\n                \"value\": 0.0,\r\n                \"unit\": \"DTU\"\r\n              },\r\n              \"sku\": {\r\n                \"name\": \"System\",\r\n                \"tier\": \"System\",\r\n                \"capacity\": 0\r\n              },\r\n              \"supportedLicenseTypes\": [],\r\n              \"zoneRedundant\": true,\r\n              \"status\": \"Visible\",\r\n              \"reason\": \"'System' is not a valid database edition in this version of SQL Server.\"\r\n            },\r\n            {\r\n              \"id\": \"29dd7459-4a7c-4e56-be22-f0adda49440d\",\r\n              \"name\": \"System0\",\r\n              \"supportedMaxSizes\": [\r\n                {\r\n                  \"minValue\": {\r\n                    \"limit\": 5,\r\n                    \"unit\": \"Gigabytes\"\r\n                 [...]
