{
  "Entries": [
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurationRuns?api-version=2017-05-15-preview&$filter=properties%2FstartTime%20ge%200001-01-01T08:00:00.0000000Z",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurationRuns/eb74a03a-b8ef-44a0-be0d-89681afa9c8d\",\r\n      \"name\": \"eb74a03a-b8ef-44a0-be0d-89681afa9c8d\",\r\n      \"type\": null,\r\n      \"properties\": {\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"mo-onetime-02\"\r\n        },\r\n        \"status\": \"Succeeded\",\r\n        \"configuredDuration\": \"PT2H\",\r\n        \"osType\": \"Linux\",\r\n        \"startTime\": \"2018-05-26T01:56:37.7118994-07:00\",\r\n        \"endTime\": \"2018-05-26T01:57:09.073-07:00\",\r\n        \"computerCount\": 2,\r\n        \"failedCount\": 0,\r\n        \"creationTime\": \"2018-05-26T01:56:37.7118994-07:00\",\r\n        \"lastModifiedBy\": null,\r\n        \"lastModifiedTime\": \"2018-05-26T01:57:46.95-07:00\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurationRuns/afaec58b-2918-4751-aae1-436ab23f6ef0\",\r\n      \"name\": \"afaec58b-2918-4751-aae1-436ab23f6ef0\",\r\n      \"type\": null,\r\n      \"properties\": {\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"mo-onetime-02\"[...]
