{
  "Entries": [
    {
      "RequestUri": "/subscriptions/cd45f23b-b832-4fa4-a434-1bf7e6f14a5a/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurationMachineRuns?api-version=2022-08-08&$filter=properties%2FcorrelationId%20eq%200ba88dce-b361-4b15-b70a-4f99c98a0f1a%20and%20properties%2Fstatus%20eq%20%27Succeeded%27%20and%20properties%2FtargetComputer%20eq%20%27%2Fsubscriptions%2F422b6c61-95b0-4213-b3be-7282315df71d%2FresourceGroups%2Fmo-compute%2Fproviders%2FMicrosoft.Compute%2FvirtualMachines%2Fmo-vm-w-01%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'mo-resources-eus' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "cd45f23b-b832-4fa4-a434-1bf7e6f14a5a"
  }
}