{
  "Entries": [
    {
      "RequestUri": "/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powershell-record-tests/providers/Microsoft.Automation/automationAccounts/record-tests-aa/softwareUpdateConfigurationMachineRuns?api-version=2022-08-08",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powershell-record-tests/providers/Microsoft.Automation/automationAccounts/record-tests-aa/softwareUpdateConfigurationMachineRuns/af4fc30e-e580-475d-ae23-1b177774a028\",\r\n      \"name\": \"af4fc30e-e580-475d-ae23-1b177774a028\",\r\n      \"type\": null,\r\n      \"properties\": {\r\n        \"targetComputer\": \"/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powershell-record-tests/providers/Microsoft.Compute/virtualMachines/record-test-linux-1\",\r\n        \"targetComputerType\": \"AzureVirtualMachines\",\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"mo-weekly-01\"\r\n        },\r\n        \"status\": \"Succeeded\",\r\n        \"osType\": \"Linux\",\r\n        \"correlationId\": \"8b4a37e0-577a-48ba-8d6b-4fa6cd43cac7\",\r\n        \"sourceComputerId\": \"7d1f5d23-3186-4095-99ed-11fcf36c678f\",\r\n        \"startTime\": \"2023-11-24T23:41:24.0425265+05:30\",\r\n        \"endTime\": \"2023-11-25T00:25:40.9133333+05:30\",\r\n        \"configuredDuration\": \"PT2H\",\r\n        \"job\": null,\r\n        \"error\": null,\r\n        \"creationTime\": \"2023-11-24T23:41:24.0425265+05:30\",\r\n        \"lastModifiedBy\": null,\r\n        \"lastModifiedTime\": \"2023-11-25T00:25:41.8+05:30\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powershell-record-tests/providers/Microsoft.Automation/automationAccounts/record-tests-aa/softwareUpdateConfigurationMachineRuns/39e66d56-e79e-429d-a05c-7c539a55b0d2\",\r\n      \"name\": \"39e66d56-e79e-429d-a05c-7c539a55b0d2\",\r\n      \"type\": null,\r\n      \"properties\": {\r\n        \"targetComputer\": \"/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powershell-record-tests/providers/Microsoft.Compute/virtualMachines/record-test-linux-2\",\r\n        \"targetComputerType\": \"AzureVirtualMachines\",\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"mo-weekly-01\"\r\n        },\r\n        \"status\": \"FailedToStart\",\r\n        \"osType\": \"Linux\",\r\n        \"correlationId\": \"8b4a37e0-577a-48ba-8d6b-4fa6cd43cac7\",\r\n        \"sourceComputerId\": \"5f1385b7-806e-4c19-84c4-e5e10dc52bd0\",\r\n        \"startTime\": \"2023-11-24T23:41:23.5737756+05:30\",\r\n        \"endTime\": \"2023-11-24T23:41:23.5737756+05:30\",\r\n        \"configuredDuration\": \"PT2H\",\r\n        \"job\": null,\r\n        \"error\": {\r\n          \"code\": null,\r\n          \"message\": \"Failed to start, as hybrid worker was not available when scheduled job started and last logged active at Nov 24 2023  5:05PM UTC. For more details, see: https://aka.ms/FailedToStartJob\"\r\n        },\r\n        \"creationTime\": \"2023-11-24T23:41:23.5737756+05:30\",\r\n        \"lastModifiedBy\": null,\r\n        \"lastModifiedTime\": \"2023-11-25T00:12:39.2166667+05:30\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powe[...]
