{
  "Entries": [
    {
      "RequestUri": "/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powershell-record-tests/providers/Microsoft.Automation/automationAccounts/record-tests-aa/softwareUpdateConfigurations?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powershell-record-tests/providers/Microsoft.Automation/automationAccounts/record-tests-aa/softwareUpdateConfigurations/mo-weekly-01\",\r\n      \"name\": \"mo-weekly-01\",\r\n      \"properties\": {\r\n        \"updateConfiguration\": {\r\n          \"operatingSystem\": \"Linux\",\r\n          \"windows\": null,\r\n          \"linux\": {\r\n            \"includedPackageClassifications\": \"Security, Other\",\r\n            \"excludedPackageNameMasks\": [\r\n              \"Mask-exc-01\",\r\n              \"Mask-exc-02\"\r\n            ],\r\n            \"includedPackageNameMasks\": null,\r\n            \"rebootSetting\": \"IfRequired\"\r\n          },\r\n          \"targets\": null,\r\n          \"duration\": \"PT2H\",\r\n          \"azureVirtualMachines\": [\r\n            \"/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powershell-record-tests/providers/Microsoft.Compute/virtualMachines/record-test-linux-1\",\r\n            \"/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powershell-record-tests/providers/Microsoft.Compute/virtualMachines/record-test-linux-2\"\r\n          ],\r\n          \"nonAzureComputerNames\": null\r\n        },\r\n        \"frequency\": \"Week\",\r\n        \"startTime\": \"2023-11-24T23:40:00+05:30\",\r\n        \"creationTime\": \"2023-11-24T18:00:21.4866667+05:30\",\r\n        \"lastModifiedTime\": \"2023-11-24T18:00:37.5133333+05:30\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"nextRun\": \"2023-12-01T23:40:00+05:30\",\r\n        \"tasks\": {\r\n          \"preTask\": null,\r\n          \"postTask\": null\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powershell-record-tests/providers/Microsoft.Automation/automationAccounts/record-tests-aa/softwareUpdateConfigurations/mo-monthly-02\",\r\n      \"name\": \"mo-monthly-02\",\r\n      \"properties\": {\r\n        \"updateConfiguration\": {\r\n          \"operatingSystem\": \"Linux\",\r\n          \"windows\": null,\r\n          \"linux\": {\r\n            \"includ[...]
