{
  "Entries": [
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurationMachineRuns?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurationMachineRuns/bad23553-58d4-4558-b40a-c04146860809\",\r\n      \"name\": \"bad23553-58d4-4558-b40a-c04146860809\",\r\n      \"type\": null,\r\n      \"properties\": {\r\n        \"targetComputer\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-compute/providers/Microsoft.Compute/virtualMachines/mo-vm-w-01\",\r\n        \"targetComputerType\": \"AzureVirtualMachines\",\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"mo-onetime-01\"\r\n        },\r\n        \"status\": \"Succeeded\",\r\n        \"osType\": \"Windows\",\r\n        \"correlationId\": \"78728b94-dcf9-4841-ad78-65a882c46830\",\r\n        \"sourceComputerId\": \"f95133cb-0433-423a-8683-d97f6246ea22\",\r\n        \"startTime\": \"2021-04-21T01:42:41.4866666+05:30\",\r\n        \"endTime\": \"2021-04-21T01:43:53.46+05:30\",\r\n        \"configuredDuration\": \"PT2H\",\r\n        \"job\": null,\r\n        \"error\": null,\r\n        \"creationTime\": \"2021-04-21T01:42:41.4866666+05:30\",\r\n        \"lastModifiedBy\": null,\r\n        \"lastModifiedTime\": \"2021-04-21T01:44:44.14+05:30\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurationMachineRuns/e1394741-1ced-4732-9390-95c0bc42e8ec\",\r\n      \"name\": \"e1394741-1ced-4732-9390-95c0bc42e8ec\",\r\n      \"type\": null,\r\n      \"properties\": {\r\n        \"targetComputer\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315[...]
