{
  "Entries": [
    {
      "RequestUri": "/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powershell-record-tests/providers/Microsoft.Automation/automationAccounts/record-tests-aa/softwareUpdateConfigurationRuns?api-version=2022-08-08&$filter=properties%2FosType%20eq%20%27Windows%27%20and%20properties%2Fstatus%20eq%20%27Succeeded%27%20and%20properties%2FstartTime%20ge%202023-11-26T15%3A10%3A00.0000000Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "783fd652-64f3-4680-81e9-0b978c542005"
  }
}