{
  "Entries": [
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurationMachineRuns?api-version=2017-05-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurationMachineRuns/25684518-73c9-4b15-b8f6-f8b2e78cc8b0\",\r\n      \"name\": \"25684518-73c9-4b15-b8f6-f8b2e78cc8b0\",\r\n      \"type\": null,\r\n      \"properties\": {\r\n        \"targetComputer\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-compute/providers/Microsoft.Compute/virtualMachines/mo-vm-w-02\",\r\n        \"targetComputerType\": \"AzureVirtualMachines\",\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"mo-monthly-01\"\r\n        },\r\n        \"status\": \"Succeeded\",\r\n        \"osType\": \"Windows\",\r\n        \"correlationId\": \"2f74d133-d756-4df5-861f-03030b0cfa95\",\r\n        \"sourceComputerId\": \"91739da1-3376-4b0b-94c2-f6bd3259a194\",\r\n        \"startTime\": \"2019-02-02T14:06:05.357854-08:00\",\r\n        \"endTime\": \"2019-02-02T14:06:27.043-08:00\",\r\n        \"configuredDuration\": \"PT2H\",\r\n        \"job\": null,\r\n        \"error\": null,\r\n        \"creationTime\": \"2019-02-02T14:06:05.357854-08:00\",\r\n        \"lastModifiedBy\": null,\r\n        \"lastModifiedTime\": \"2019-02-02T14:07:08.25-08:00\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurationMachineRuns/64a90ddd-ad98-426d-adf3-ea30097e6fd2\",\r\n      \"name\": \"64a90ddd-ad98-426d-adf3-ea30097e6fd2\",\r\n      \"type\": null,\r\n      \"properties\": {\r\n        \"targetComputer\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315[...]
