{
  "Entries": [
    {
      "RequestUri": "/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powershell-record-tests/providers/Microsoft.Automation/automationAccounts/record-tests-aa/softwareUpdateConfigurationMachineRuns?api-version=2022-08-08&$filter=properties%2FcorrelationId%20eq%20b4ec6c22-92bf-4f8a-b2d9-20d8446e618a%20and%20properties%2Fstatus%20eq%20%27Succeeded%27%20and%20properties%2FtargetComputer%20eq%20%27foo%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "783fd652-64f3-4680-81e9-0b978c542005"
  }
}