{
  "Entries": [
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurationRuns?api-version=2017-05-15-preview&$filter=properties%2FosType%20eq%20'Windows'%20and%20properties%2Fstatus%20eq%20'Succeeded'%20and%20properties%2FstartTime%20ge%202018-05-22T23:40:00.0000000Z",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurationRuns/d23dd1fa-e67e-4146-8376-1c5583a90612\",\r\n      \"name\": \"d23dd1fa-e67e-4146-8376-1c5583a90612\",\r\n      \"type\": null,\r\n      \"properties\": {\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"tst2\"\r\n        },\r\n        \"status\": \"Succeeded\",\r\n        \"configuredDuration\": \"PT2H\",\r\n        \"osType\": \"Windows\",\r\n        \"startTime\": \"2018-05-24T01:21:50.3088776-07:00\",\r\n        \"endTime\": \"2018-05-24T01:22:28.59-07:00\",\r\n        \"computerCount\": 1,\r\n        \"failedCount\": 0,\r\n        \"creationTime\": \"2018-05-24T01:21:50.3088776-07:00\",\r\n        \"lastModifiedBy\": null,\r\n        \"lastModifiedTime\": \"2018-05-24T01:22:55.763-07:00\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurationRuns/344c2bba-2c6c-4474-b300-a5b5bbacdc84\",\r\n      \"name\": \"344c2bba-2c6c-4474-b300-a5b5bbacdc84\",\r\n      \"type\": null,\r\n      \"properties\": {\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"tst\"\r\n        },\r\n        \"status\": \"Succeeded\",\r\n        \"configuredDuration\": \"PT2H\",\r\n        \"osType\": \"Windows\",\r\n        \"startTime\": \"2018-05-24T01:19:46.4605625-07:00\",\r\n        \"endTime\": \"2018-05-24T01:22:27.59-07:00\",\r\n        \"computerCount\": 1,\r\n        \"failedCount\": 0,\r\n        \"creationTime\": \"2018-05-24T01:19:46.4605625-07:00\",\r\n        \"lastModifiedBy\": null,\r\n        \"lastModifiedTime\": \"2018-05-24T01:22:52.653-07:00\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14954"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "422b6c61-95b0-4213-b3be-7282315df71d"
  }
}