{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Advisor\",\r\n      \"namespace\": \"Microsoft.Advisor\",\r\n      \"authorization\": {\r\n        \"applicationId\": \"c39c9bac-9d1f-4dfb-aa29-27f6365e5cb7\",\r\n        \"roleDefinitionId\": \"8a63b04c-3731-409b-9765-f1175c047872\"\r\n      },\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"suppressions\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\",\r\n            \"2016-07-12-preview\",\r\n            \"2016-05-09-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"configurations\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"recommendations\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\",\r\n            \"2016-07-12-preview\",\r\n            \"2016-05-09-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"generateRecommendations\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\",\r\n            \"2016-07-12-preview\",\r\n            \"2016-05-09-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"operations\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\",\r\n            \"2016-07-12-preview\",\r\n            \"2016-05-09-preview\"\r\n          ]\r\n        }\r\n      ],\r\n      \"registrationState\": \"Registered\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AnalysisServices\",\r\n      \"namespace\": \"Microsoft.AnalysisServices\",\r\n      \"authorization\": {\r\n        \"applicationId\": \"4ac7d521-0382-477b-b0f8-7e1d95f85ca2\",\r\n        \"roleDefinitionId\": \"490d5987-bcf6-4be6-b6b2-056a78cb693a\"\r\n      },\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"servers\",\r\n          \"locations\": [\r\n            \"West US\",\r\n            \"North Europe\",\r\n            \"South Central US\",\r\n            \"West Europe\",\r\n            \"West Central US\",\r\n            \"Southeast Asia\",\r\n            \"East US 2\",\r\n            \"North Central US\",\r\n            \"Brazil South\",\r\n            \"Canada Central\",\r\n            \"Australia Southeast\",\r\n            \"Japan East\",\r\n            \"UK South\",\r\n            \"West India\",\r\n            \"West US 2\",\r\n            \"Central US\",\r\n            \"East US\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2017-08-01-beta\",\r\n            \"2017-08-01\",\r\n            \"2017-07-14\",\r\n            \"2016-05-16\"\r\n          ],\r\n          \"apiProfiles\": [\r\n            {\r\n              \"profileVersion\": \"2018-06-01-profile\",\r\n              \"apiVersion\": \"2017-08-01\"\r\n            }\r\n          ],\r\n          \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n        },\r\n        {\r\n          \"resourceType\": \"locations\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-08-01-beta\",\r\n            \"2017-08-01\",\r\n            \"2017-07-14\",\r\n            \"2016-05-16\"\r\n          ],\r\n          \"apiProfiles\": [\r\n            {\r\n              \"profileVersion\": \"2018-06-01-profile\",\r\n              \"apiVersion\": \"2017-08[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute\",\r\n  \"namespace\": \"Microsoft.Compute\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"60e6cd67-9c8c-4951-9b3c-23c25a2169af\",\r\n      \"roleDefinitionId\": \"e4770acb-272e-4dc8-87f3-12f44a612224\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a303894e-f1d8-4a37-bf10-67aa654a0596\",\r\n      \"roleDefinitionId\": \"903ac751-8ad5-4e5a-bfc2-5e49f450a241\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a8b6bf88-1d1a-4626-b040-9a729ea93c65\",\r\n      \"roleDefinitionId\": \"45c8267c-80ba-4b96-9a43-115b8f49fccd\"\r\n    },\r\n    {\r\n  [...]
