{
  "Get-AzCloudServiceOSVersion+[NoContext]+List OS versions in location+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/EastUS2EUAP/cloudServiceOsVersions?api-version=2022-09-04+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/EastUS2EUAP/cloudServiceOsVersions?api-version=2022-09-04",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "24" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-resource": [ "Microsoft.Compute/GetCloudService3Min;980,Microsoft.Compute/GetCloudService30Min;4962" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11978" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"WA-GUEST-OS-3.117_202210-02\",\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/EastUS2EUAP/cloudServiceOSVersions/WA-GUEST-OS-3.117_202210-02\",\r\n      \"type\": \"Microsoft.Compute/locations/cloudServiceOSVersions\",\r\n      \"location\": \"EastUS2EUAP\",\r\n      \"properties\": {\r\n        \"version\": \"WA-GUEST-OS-3.117_202210-02\",\r\n        \"label\": \"Windows Azure Guest OS 3.117 (Release 202210-02)\",\r\n        \"isDefault\": true,\r\n        \"isActive\": true,\r\n        \"family\": \"3\",\r\n        \"familyLabel\": \"Windows Server 2012\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"WA-GUEST-OS-2.121_202203-01\",\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Compute/locations/EastUS2EUAP/cloudServiceOSVersions/WA-GUEST-OS-2.121_202203-01\",\r\n      \"type\": \"Microsoft.Compute/locations/cloudServiceOSVersions\",\r\n      \"location\": \"EastUS2EUAP\",\r\n      \"properties\": {\r\n        \"version\": \"WA-GUEST-OS-2.121_202203-01\",\r\n        \"label\[...]
