{
  "Invoke-AzReservationCalculateExchange+[NoContext]+PostExpanded+$POST+https://management.azure.com/providers/Microsoft.Capacity/calculateExchange?api-version=2022-11-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/calculateExchange?api-version=2022-11-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"reservationsToPurchase\": [\r\n      {\r\n        \"sku\": {\r\n          \"name\": \"Standard_B12ms\"\r\n        },\r\n        \"properties\": {\r\n          \"reservedResourceProperties\": {\r\n            \"instanceFlexibility\": \"\"\r\n          },\r\n          \"reservedResourceType\": \"VirtualMachines\",\r\n          \"billingScopeId\": \"/subscriptions/10000000-aaaa-bbbb-cccc-100000000001\",\r\n          \"term\": \"P3Y\",\r\n          \"billingPlan\": \"Upfront\",\r\n          \"quantity\": 1,\r\n          \"displayName\": \"PSExchange\",\r\n          \"appliedScopeType\": \"Shared\",\r\n          \"renew\": false,\r\n          \"reviewDateTime\": \"0001-01-01T00:00:00.0000000\"\r\n        },\r\n        \"location\": \"westeurope\"\r\n      },\r\n      {\r\n        \"sku\": {\r\n          \"name\": \"Standard_B8ms\"\r\n        },\r\n        \"properties\": {\r\n          \"reservedResourceProperties\": {\r\n            \"instanceFlexibility\": \"\"\r\n          },\r\n          \"reservedResourceType\": \"VirtualMachines\",\r\n          \"billingScopeId\": \"/subscriptions/10000000-aaaa-bbbb-cccc-100000000001\",\r\n          \"term\": \"P3Y\",\r\n          \"billingPlan\": \"Upfront\",\r\n          \"quantity\": 2,\r\n          \"displayName\": \"PSExchange2\",\r\n          \"appliedScopeType\": \"Shared\",\r\n          \"renew\": false,\r\n          \"reviewDateTime\": \"0001-01-01T00:00:00.0000000\"\r\n        },\r\n        \"location\": \"westeurope\"\r\n      }\r\n    ],\r\n    \"reservationsToExchange\": [\r\n      {\r\n        \"reservationId\": \"/providers/microsoft.capacity/reservationOrders/50000000-aaaa-bbbb-cccc-100000000003/reservations/30000000-aaaa-bbbb-cccc-100000000003\",\r\n        \"quantity\": 1\r\n      },\r\n      {\r\n        \"reservationId\": \"/providers/microsoft.capacity/reservationOrders/10000000-aaaa-bbbb-cccc-100000000003/reservations/40000000-aaaa-bbbb-cccc-100000000002\",\r\n        \"quantity\": 1\r\n      }\r\n    ]\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/providers/Microsoft.Capacity/operationResults/7b7fee4a-47a1-40a5-a88f-83066e86dd4e?api-version=2022-11-01" ],
        "Retry-After": [ "5" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Microsoft.Capacity/operationResults/7b7fee4a-47a1-40a5-a88f-83066e86dd4e?api-version=2022-11-01" ],
        "x-ms-test": [ "{\"contact\":\"chchen3\",\"scenarios\":\"recpur\",\"retention\":\"5/11/2023 9:28:12 PM\"}" ],
        "x-ms-version": [ "1.0.2206.71" ],
        "x-ms-ratelimit-remaining-tenant-writes": [ "1199" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Invoke-AzReservationCalculateExchange+[NoContext]+PostExpanded+$GET+https://management.azure.com/providers/Microsoft.Capacity/operationResults/7b7fee4a-47a1-40a5-a88f-83066e86dd4e?api-version=2022-11-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/7b7fee4a-47a1-40a5-a88f-83066e86dd4e?api-version=2022-11-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Location": [ "https://management.azure.com/providers/Microsoft.Capacity/operationResults/7b7fee4a-47a1-40a5-a88f-83066e86dd4e?api-version=2022-11-01" ],
        "Retry-After": [ "5" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11999" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Microsoft.Capacity/operationResults/7b7fee4a-47a1-40a5-a88f-83066e86dd4e?api-version=2022-11-01" ],
        "x-ms-test": [ "{\"contact\":\"chchen3\",\"scenarios\":\"recpur\",\"retention\":\"5/11/2023 9:28:18 PM\"}" ],
        "x-ms-version": [ "1.0.2206.71" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.Capacity/operationResults/7b7fee4a-47a1-40a5-a88f-83066e86dd4e\",\"name\":\"7b7fee4a-47a1-40a5-a88f-83066e86dd4e\",\"status\":\"Pending\"}"
    }
  },
  "Invoke-AzReservationCalculateExchange+[NoContext]+PostExpanded+$GET+https://management.azure.com/providers/Microsoft.Capacity/operationResults/7b7fee4a-47a1-40a5-a88f-83066e86dd4e?api-version=2022-11-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/7b7fee4a-47a1-40a5-a88f-83066e86dd4e?api-version=2022-11-01",
      "Content": null,
      "Headers": {
        "Authorization"[...]
