{
  "Invoke-AzReservationExchange+[NoContext]+PostExpanded+$POST+https://management.azure.com/providers/Microsoft.Capacity/calculateExchange?api-version=2022-11-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/calculateExchange?api-version=2022-11-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"reservationsToPurchase\": [\r\n      {\r\n        \"sku\": {\r\n          \"name\": \"Standard_B16ms\"\r\n        },\r\n        \"properties\": {\r\n          \"reservedResourceProperties\": {\r\n            \"instanceFlexibility\": \"\"\r\n          },\r\n          \"reservedResourceType\": \"VirtualMachines\",\r\n          \"billingScopeId\": \"/subscriptions/10000000-aaaa-bbbb-cccc-100000000000\",\r\n          \"term\": \"P3Y\",\r\n          \"billingPlan\": \"Upfront\",\r\n          \"quantity\": 2,\r\n          \"displayName\": \"PSExchange1\",\r\n          \"appliedScopeType\": \"Shared\",\r\n          \"renew\": false,\r\n          \"reviewDateTime\": \"0001-01-01T00:00:00.0000000\"\r\n        },\r\n        \"location\": \"westeurope\"\r\n      }\r\n    ],\r\n    \"reservationsToExchange\": [\r\n      {\r\n        \"reservationId\": \"/providers/microsoft.capacity/reservationOrders/c3131617-d38c-4bbc-a33d-6094c5a88cbc/reservations/24fbc015-d032-4fc7-9dfe-7e46b655d8c1\",\r\n        \"quantity\": 1\r\n      }\r\n    ]\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/providers/Microsoft.Capacity/operationResults/7547707c-31ad-4bda-9579-910e2ad0d8d8?api-version=2022-11-01" ],
        "Retry-After": [ "5" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Microsoft.Capacity/operationResults/7547707c-31ad-4bda-9579-910e2ad0d8d8?api-version=2022-11-01" ],
        "x-ms-test": [ "{\"contact\":\"chchen3\",\"scenarios\":\"recpur\",\"retention\":\"5/11/2023 9:44:51 PM\"}" ],
        "x-ms-version": [ "1.0.2206.71" ],
        "x-ms-ratelimit-remaining-tenant-writes": [ "1199" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Invoke-AzReservationExchange+[NoContext]+PostExpanded+$GET+https://management.azure.com/providers/Microsoft.Capacity/operationResults/7547707c-31ad-4bda-9579-910e2ad0d8d8?api-version=2022-11-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/7547707c-31ad-4bda-9579-910e2ad0d8d8?api-version=2022-11-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Location": [ "https://management.azure.com/providers/Microsoft.Capacity/operationResults/7547707c-31ad-4bda-9579-910e2ad0d8d8?api-version=2022-11-01" ],
        "Retry-After": [ "5" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11998" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Microsoft.Capacity/operationResults/7547707c-31ad-4bda-9579-910e2ad0d8d8?api-version=2022-11-01" ],
        "x-ms-test": [ "{\"contact\":\"chchen3\",\"scenarios\":\"recpur\",\"retention\":\"5/11/2023 9:44:57 PM\"}" ],
        "x-ms-version": [ "1.0.2206.71" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.Capacity/operationResults/7547707c-31ad-4bda-9579-910e2ad0d8d8\",\"name\":\"7547707c-31ad-4bda-9579-910e2ad0d8d8\",\"status\":\"Pending\"}"
    }
  },
  "Invoke-AzReservationExchange+[NoContext]+PostExpanded+$GET+https://management.azure.com/providers/Microsoft.Capacity/operationResults/7547707c-31ad-4bda-9579-910e2ad0d8d8?api-version=2022-11-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/7547707c-31ad-4bda-9579-910e2ad0d8d8?api-version=2022-11-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "4" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-reads": [ "11996" ],
        "x-ms-test": [ "{\"contact\":\"chchen3\",\"scenarios\":\"recpur\",\"retention\":\"5/11/2023 9:45:07 PM\"}" ],
        "x-ms-version": [ "1.0.2206.71" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.Capacity/operationResults/7547707c-31ad-4bda-9579-910e2ad0d8d8\",\"name\":\"7547707c-31ad-4bda-9579-910e2ad0d8d8\",\"status\":\"Succeeded\",\"properties\":{\"sessionId\":\"9067b889-ee64-4d94-b950-87cc483528a7\",\"netPayable\":{\"currencyCode\":\"GBP\",\"amount\":11285.16},\"refundsTotal\":{\"currencyCode\":\"GBP\",\"amount\":42.84},\"purchasesTotal\":{\"currencyCode\":\"GBP\",\"amount\":11328.0},\"policyResult\":{\"policyErrors\":null},\"reservationsToPurchase\":[{\"properties\":{\"location\":\"westeurope\",\"properties\":{\"appliedScopes\":null,\"reservedResourceProperties\":{\"instanceFlexibility\":null},\"instanceFlexibility\":null,\"renew\":false,\"billingScopeId\":\"/subscriptions/10000000-aaaa-bbbb-cccc-100000000000\",\"term\":\"P3Y\",\"billingPlan\":\"Upfront\",\"quantity\":2,\"displayName\":\"PSExchange1\",\"appliedScopeType\":\"Shared\",\"reservedResourceType\":\"VirtualMachines\",\"reviewDateTime\":null},\"sku\":{\"name\":\"Standard_B16ms\"}},\"billingCurrencyTotal\":{\"currencyCode\":\"GBP\",\"amount\":11328.0},\"paymentSchedule\":null,\"pricingCurrencyTotal\":null}],\"savingsPlansToPurchase\":[],\"reservationsToExchange\":[{\"reservationId\":\"/providers/microsoft.capacity/reservationOrders/c3131617-d38c-4bbc-a33d-6094c5a88cbc/reservations/24fbc015-d032-4fc7-9dfe-7e46b655d8c1\",\"quantity\":1,\"billingRefundAmount\":{\"currencyCode\":\"GBP\",\"amount\":1.19},\"billingInformation\":{\"billingCurrencyTotalPaidAmount\":{\"currencyCode\":\"GBP\",\"amount\":1.19},\"billingCurrencyProratedAmount\":{\"currencyCode\":\"GBP\",\"amount\":0.0},\"billingCurrencyRemainingCommitmentAmount\":{\"currencyCode\":\"GBP\",\"amount\":41.65}}}]}}"
    }
  },
  "Invoke-AzReservationExchange+[NoContext]+PostExpanded+$GET+https://management.azure.com/providers/Microsoft.Capacity/operationResults/7547707c-31ad-4bda-9579-910e2ad0d8d8?api-version=2022-11-01+4": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/operationResults/7547707c-31ad-4bda-9579-910e2ad0d8d8?api-version=2022-11-01",
      "Content": null,
      "Headers"[...]
