{
    "Entries":  [
                    {
                        "RequestUri":  "/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults?api-version=2024-04-01",
                        "RequestMethod":  "GET",
                        "RequestBody":  "",
                        "RequestHeaders":  {
                        "ResponseBody":  "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"southeastasia\",\r\n      \"name\": \"IbizaV2ATest\",\r\n      \"etag\": \"W/\\\"datetime\u00272017-02-23T07%3A17%3A38.2866453Z\u0027\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults/IbizaV2ATest\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"RS0\",\r\n        \"tier\": \"Standard\"\r\n      }\r\n    },\r\n    {\r\n      \"location\": \"southeastasia\",\r\n      \"name\": \"SrilathaVault\",\r\n      \"etag\": \"W/\\\"datetime\u00272017-02-23T07%3A17%3A38.6426618Z\u0027\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults/SrilathaVault\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"RS0\",\r\n        \"tier\": \"Standard\"\r\n      }\r\n    },\r\n    {\r\n      \"location\": \"southeastasia\",\r\n      \"name\": \"ubuntu\",\r\n      \"etag\": \"W/\\\"datetime\u00272017-02-23T07%3A17%3A38.9596794Z\u0027\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults/ubuntu\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"RS0\",\r\n        \"tier\": \"Standard\"\r\n      }\r\n    }\r\n  ]\r\n}",
                        "ResponseHeaders":  {
                                                "Content-Type":  [
                                                                     "application/json"
                                                                 ],
                                                "x-ms-ratelimit-remaining-subscription-reads":  [
                                                                                                    "14243"
                                                                                                ]
                        "StatusCode":  200
                    },
                    {
                        "RequestUri":  "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults/IbizaV2ATest/replicationFabrics?api-version=2018-07-10",
                        "RequestMethod":  "GET",
                        "RequestBody":  "",
                        "RequestHeaders":  {
                                               "Agent-Authentication":  [
                                                                            "{\"NotBeforeTimestamp\":\"\\/Date(1505201824378)\\/\",\"NotAfterTimestamp\":\"\\/Date(1505806624378)\\/\",\"ClientRequestId\":\"349fd803-116e-4302-a911-e61673a0db65-2017-09-12 08:37:04Z-P\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"vFP0+UgJIo/+QN5xwJ5ij3xRgPo7LShhSxLSCg16WJ4=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
                                                                        ]
                        "ResponseBody":  "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"c583aaf56000ea7592258e8fc4fecba574a6564e131ae5f0a6dcfe0de5d7154f\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationFabrics\",\r\n      \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults/IbizaV2ATest/replicationFabrics/c583aaf56000ea7592258e8fc4fecba574a6564e131ae5f0a6dcfe0de5d7154f\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"PRGOYAL-TEST3\",\r\n        \"encryptionDetails\": {\r\n          \"kekState\": \"None\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"rolloverEncryptionDetails\": {\r\n          \"kekState\": \"None\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"internalIdentifier\": \"2cebd426-9b24-458b-ad60-6de90e622c7a\",\r\n        \"bcdrState\": \"Valid\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"VMware\",\r\n          \"processServers\": [\r\n            {\r\n              \"friendlyName\": \"prgoyal-test2\",\r\n              \"id\": \"7F26794C-CCD6-8C40-B7986081B8CDD3D6\",\r\n              \"ipAddress\": \"10.150.0.101\",\r\n              \"osType\": \"Windows\",\r\n              \"agentVersion\": \"9.12.0.0\",\r\n              \"lastHeartbeat\": \"2017-09-12T07:24:46Z\",\r\n              \"versionStatus\": \"NotSupported\",\r\n              \"mobilityServiceUpdates\": [\r\n                {\r\n                  \"version\": \"9.12.0.0\",\r\n                  \"rebootStatus\": \"NotRequired\",\r\n                  \"osType\": \"Windows\"\r\n                },\r\n                {\r\n                  \"version\": \"9.12.0.0\",\r\n                  \"rebootStatus\": \"NotRequired\",\r\n                  \"osType\": \"Linux\"\r\n                }\r\n              ],\r\n              \"hostId\": \"7F26794C-CCD6-8C40-B7986081B8CDD3D6\",\r\n              \"machineCount\": \"1\",\r\n              \"replicationPairCount\": \"2\",\r\n              \"systemLoad\": \"0\",\r\n              \"systemLoadStatus\": \"Green\",\r\n              \"cpuLoad\": \"0\",\r\n              \"cpuLoadStatus\": \"Green\",\r\n              \"totalMemoryInBytes\": 4294500352,\r\n              \"availableMemoryInBytes\": 1440714752,\r\n              \"memoryUsageStatus\": \"Green\",\r\n              \"totalSpaceInBytes\": 53317988352,\r\n              \"availableSpaceInBytes\": 23907282944,\r\n              \"spaceUsageStatus\": \"Yellow\",\r\n              \"psServiceStatus\": \"Stopped\",\r\n              \"sslCertExpiryDate\": \"2020-09-06T08:08:02Z\",\r\n              \"sslCertExpiryRemainingDays\": 1089,\r\n              \"osVersion\": null\r\n            },\r\n            {\r\n              \"friendlyName\": \"prgoyal-test3\",\r\n              \"id\": \"31BEE026-7757-6E43-BC71703B463813CE\",\r\n              \"ipAddress\": \"10.150.208.191\",\r\n              \"osType\": \"Windows\",\r\n              \"agentVersion\": \"9.12.0.0\",\r\n              \"lastHeartbeat\": \"2017-09-12T08:24:00Z\",\r\n              \"versionStatus\": \"NotSupported\",\r\n              \"mobilityServiceUpdates\": [\r\n                {\r\n         [...]
