{
  "Entries": [
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourcegroups/ps3672?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centraluseuap\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "ba51f914-3026-4f66-ad37-6e207a97e5e8"
=======
          "1f8ce75d-51fd-43db-a21e-b677a4e03fdc"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.30015.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19043.",
<<<<<<< HEAD
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.34"
=======
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.32"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "35"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "15a26544-6f2d-4a13-83e9-478201712177"
        ],
        "x-ms-correlation-request-id": [
          "15a26544-6f2d-4a13-83e9-478201712177"
        ],
        "x-ms-routing-request-id": [
          "CANADACENTRAL:20210624T041601Z:15a26544-6f2d-4a13-83e9-478201712177"
=======
          "5375d3d5-7877-4627-8e31-23a217724fff"
        ],
        "x-ms-correlation-request-id": [
          "5375d3d5-7877-4627-8e31-23a217724fff"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20210607T122749Z:5375d3d5-7877-4627-8e31-23a217724fff"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 24 Jun 2021 04:16:00 GMT"
=======
          "Mon, 07 Jun 2021 12:27:48 GMT"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
        "Content-Length": [
          "222"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672\",\r\n  \"name\": \"ps3672\",\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"Created\": \"2021-06-24T04:16:00.6317934Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualNetworks/ps3339?api-version=2020-11-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672\",\r\n  \"name\": \"ps3672\",\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"Created\": \"2021-06-07T12:27:48.9890925Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualNetworks/ps2072?api-version=2021-02-01",
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "f5198bf4-8343-4162-a3f4-b882a99cc293"
=======
          "6e12bb98-22ba-4027-977e-30251775425f"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.30015.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19043.",
<<<<<<< HEAD
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.4.0.0"
=======
          "Microsoft.Azure.Management.Network.NetworkManagementClient/413.1856.57282.0"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "abdbe5b5-77c8-42b9-9a15-494296725ef4"
        ],
        "x-ms-correlation-request-id": [
          "abdbe5b5-77c8-42b9-9a15-494296725ef4"
        ],
        "x-ms-routing-request-id": [
          "CANADACENTRAL:20210624T041602Z:abdbe5b5-77c8-42b9-9a15-494296725ef4"
=======
          "019a637f-df98-4432-8ae4-c1b2f82f5b23"
        ],
        "x-ms-correlation-request-id": [
          "019a637f-df98-4432-8ae4-c1b2f82f5b23"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20210607T122750Z:019a637f-df98-4432-8ae4-c1b2f82f5b23"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 24 Jun 2021 04:16:01 GMT"
=======
          "Mon, 07 Jun 2021 12:27:50 GMT"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "218"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps3339' under resource group 'ps3672' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualNetworks/ps2072?api-version=2021-02-01",
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "f5198bf4-8343-4162-a3f4-b882a99cc293"
=======
          "6e12bb98-22ba-4027-977e-30251775425f"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
        "User-Agent": [
          "FxVersion/4.6.30015.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19043.",
<<<<<<< HEAD
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.4.0.0"
=======
          "Microsoft.Azure.Management.Network.NetworkManagementClient/413.1856.57282.0"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"2d09d541-2c2c-464c-bfc3-b45ea7359861\""
        ],
        "x-ms-request-id": [
          "d26ca570-609e-4d15-acc0-7cf98c821cdd"
        ],
        "x-ms-correlation-request-id": [
          "b441d85d-3177-48c5-aab0-cbf4a752c216"
        ],
        "x-ms-arm-service-request-id": [
          "672c97b0-59aa-4f39-934a-00b62fd7bedb"
=======
          "W/\"37384aac-e5ec-4108-b8ab-27c1ab263a90\""
        ],
        "x-ms-request-id": [
          "ac7e44e7-6b5c-4660-b2f0-344d90caa500"
        ],
        "x-ms-correlation-request-id": [
          "82ba84d5-62e9-4e1d-b048-0ebc33889867"
        ],
        "x-ms-arm-service-request-id": [
          "2887a5e0-394f-4e2a-bcc6-2b19a52dc936"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "x-ms-routing-request-id": [
<<<<<<< HEAD
          "CANADACENTRAL:20210624T041609Z:b441d85d-3177-48c5-aab0-cbf4a752c216"
=======
          "WESTCENTRALUS:20210607T122757Z:82ba84d5-62e9-4e1d-b048-0ebc33889867"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 24 Jun 2021 04:16:08 GMT"
=======
          "Mon, 07 Jun 2021 12:27:56 GMT"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
        "Content-Length": [
          "1263"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"ps3339\",\r\n  \"id\": \"/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualNetworks/ps3339\",\r\n  \"etag\": \"W/\\\"2d09d541-2c2c-464c-bfc3-b45ea7359861\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"452ed88d-dbe5-48e5-98d7-04f0e257a706\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"RouteServerSubnet\",\r\n        \"id\": \"/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualNetworks/ps3339/subnets/RouteServerSubnet\",\r\n        \"etag\": \"W/\\\"2d09d541-2c2c-464c-bfc3-b45ea7359861\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualNetworks/ps2072?api-version=2021-02-01",
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"RouteServerSubnet\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"centraluseuap\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "f5198bf4-8343-4162-a3f4-b882a99cc293"
=======
          "6e12bb98-22ba-4027-977e-30251775425f"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.30015.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19043.",
<<<<<<< HEAD
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.4.0.0"
=======
          "Microsoft.Azure.Management.Network.NetworkManagementClient/413.1856.57282.0"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "695"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ]
<<<<<<< HEAD
          "4d9dc6ea-2cf3-42c4-af5d-d1bc1b9ae426"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/providers/Microsoft.Network/locations/centraluseuap/operations/4d9dc6ea-2cf3-42c4-af5d-d1bc1b9ae426?api-version=2020-11-01"
        ],
        "x-ms-correlation-request-id": [
          "e75ac7d6-c4a8-4c8c-bc49-a6971ccb598d"
=======
          "863dc74b-5c16-4156-9668-7a417e269a1c"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/providers/Microsoft.Network/locations/centraluseuap/operations/863dc74b-5c16-4156-9668-7a417e269a1c?api-version=2021-02-01"
        ],
        "x-ms-correlation-request-id": [
          "3b6080c1-bbb2-4e3f-8ea0-767fffc80483"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-arm-service-request-id": [
<<<<<<< HEAD
          "ecbc2e5b-3d2f-416d-9f66-02626fcf78ee"
=======
          "21a764b0-1a78-43fc-8cdf-cfe30d9e3a2b"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-w[...]
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/providers/Microsoft.Network/locations/centraluseuap/operations/4d9dc6ea-2cf3-42c4-af5d-d1bc1b9ae426?api-version=2020-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps2072\",\r\n  \"id\": \"/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualNetworks/ps2072\",\r\n  \"etag\": \"W/\\\"8bbfe3ed-b40d-477a-8922-48c7ba8bbcec\\\"\",\r\n  \"type\": \"Microsoft[...]
[...]
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/publicIPAddresses/ps9016?api-version=2020-11-01",
=======
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualHubs/ps8308' under resource group 'ps3672' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualHubs/ps8308?api-version=2021-02-01",
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "e9240859-4625-4640-83b9-1d763624b1b9"
=======
          "e28d4533-3703-4c25-ac07-f0d870d71342"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
        "User-Agen[...]
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/publicIPAddresses/ps9016?api-version=2020-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps8308\",\r\n  \"id\": \"/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualHubs/ps8308\",\r\n  \"etag\": \"W/\\\"512c735a-42a5-4f7d-9174-af9e9d4a503b\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"virtualRouterAsn\": 0,\r\n    \"virtualRouterIps\": [],\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"sku\": \"Standard\",\r\n    \"routingState\": \"None\",\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"preferredRoutingGateway\": \"ExpressRoute\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/publicIPAddresses/ps9016?api-version=2020-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  },\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"ipTags\": []\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"centraluseuap\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"ps8308\",\r\n  \"id\": \"/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualHubs/ps8308\",\r\n  \"etag\": \"W/\\\"c3f14fc5-f658-4b0d-a73c-b20728e8bb0a\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"virtualRouterAsn\": 65515,\r\n    \"virtualRouterIps\": [\r\n      \"10.0.0.4\",\r\n      \"10.0.0.5\"\r\n    ],\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"sku\": \"Standard\",\r\n    \"routingState\": \"Provisioned\",\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"preferredRoutingGateway\": \"ExpressRoute\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualHubs/ps8308/ipConfigurations/ipconfig1?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"subnet\": {\r\n      \"id\": \"/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualNetworks/ps2072/subnets/RouteServerSubnet\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.30015.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19043.",
<<<<<<< HEAD
    [...]
[...]
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualHubs/ps8694?api-version=2020-11-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ipconfig1\",\r\n  \"id\": \"/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualHubs/ps8308/ipConfigurations/ipconfig1\",\r\n  \"etag\": \"W/\\\"ed2b887f-d829-4a36-a43d-31a2004f901e\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs/ipConfigurations\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"privateIPAllocationMethod\": \"Dynamic\",\r\n    \"subnet\": {\r\n      \"id\": \"/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualNetworks/ps2072/subnets/RouteServerSubnet\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualHubs/ps8694/ipConfigurations/ipconfig1?api-version=2020-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"subnet\": {\r\n      \"id\": \"/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualNetworks/ps3339/subnets/RouteServerSubnet\"\r\n    },\r\n    \"publicIPAddress\": {\r\n      \"sku\": {\r\n        \"name\": \"Standard\",\r\n        \"tier\": \"Regional\"\r\n      },\r\n      \"properties\": {\r\n        \"publicIPAllocationMethod\": \"Static\",\r\n        \"publicIPAddressVersion\": \"IPv4\",\r\n        \"ipTags\": [],\r\n        \"ipAddress\": \"20.45.236.61\",\r\n        \"idleTimeoutInMinutes\": 4\r\n      },\r\n      \"zones\": [],\r\n      \"id\": \"/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/publicIPAddresses/ps9016\",\r\n      \"location\": \"centraluseuap\",\r\n      \"tags\": {}\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "Microsoft.Azure.Management.Network.NetworkManagementClient/413.1856.57282.0"
>>>>>>> c545415a8424826[...]
[...]
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualHubs/ps8308/ipConfigurations?api-version=2021-02-01",
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "8e5fe823-e0b9-49dc-b557-4b1c6aeb6d47"
=======
          "e28d4533-3703-4c25-ac07-f0d870d71342"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
 [...]
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualHubs/ps8694/ipConfigurations/ipconfig1?api-version=2020-11-01",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ipconfig1\",\r\n      \"id\": \"/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualHubs/ps8308/ipConfigurations/ipconfig1\",\r\n      \"etag\": \"W/\\\"c3f14fc5-f658-4b0d-a73c-b20728e8bb0a\\\"\",\r\n      \"type\": \"Microsoft.Network/virtualHubs/ipConfigurations\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"privateIPAllocationMethod\": \"Dynamic\",\r\n        \"subnet\": {\r\n          \"id\": \"/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualNetworks/ps2072/subnets/RouteServerSubnet\"\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualHubs/ps8694/bgpConnections?api-version=2020-11-01",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ipconfig1\",\r\n      \"id\": \"/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualHubs/ps8308/ipConfigurations/ipconfig1\",\r\n      \"etag\": \"W/\\\"520742dc-2580-4b67-8803-0938c64bc5d1\\\"\",\r\n      \"type\": \"Microsoft.Network/virtualHubs/ipConfigurations\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"privateIPAllocationMethod\": \"Dynamic\",\r\n        \"subnet\": {\r\n          \"id\": \"/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualNetworks/ps2072/subnets/RouteServerSubnet\"\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualHubs/ps8694/bgpConnections?api-version=2020-11-01",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ps156\",\r\n      \"id\": \"/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualHubs/ps8308/bgpConnections/ps156\",\r\n      \"etag\": \"W/\\\"2fd59187-4f44-4044-afd2-74927576798a\\\"\",\r\n      \"type\": \"Microsoft.Network/virtualHubs/bgpConnections\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"peerIp\": \"192.168.1.5\",\r\n        \"peerAsn\": 20000\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualHubs/ps8694/bgpConnections/ps7397?api-version=2020-11-01",
=======
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"Resource /subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourceGroups/ps3672/providers/Microsoft.Network/virtualHubs/ps8308/bgpConnections/ps156 not found.\",\r\n    \"details\": []\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/resourcegroups/ps3672?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "322c8f4b-5ea9-4581-8886-d98ccc710151"
=======
          "1743d1e1-96b8-414a-a797-c6f3095f0e65"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.30015.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19043.",
<<<<<<< HEAD
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.34"
=======
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.32"
>>>>>>> c545415a84248260224fd66f01c0ac73440424d2
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzM2NzItQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
<<<<<<< HEAD
          "e363d093-af39-49c6-88f6-a529741a37f6"
        ],
        "x-ms-correlation-[...]
    {
      "RequestUri": "/subscriptions/8c992d64-fce9-426d-b278-85642dfeab03/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzM2NzItQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.34"
=======
          "Microsoft.Azure.Management.Internal.Resources.ResourceManag[...]
[...]
