{
    "Entries":  [
                    {
                        "RequestUri":  "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults?api-version=2024-04-01",
                        "RequestMethod":  "GET",
                        "RequestBody":  "",
                        "RequestHeaders":  {
                        "ResponseHeaders":  {
                                                "x-ms-ratelimit-remaining-subscription-reads":  [
                                                                                                    "11996"
                                                                                                ],
                                                "Content-Type":  [
                                                                     "application/json"
                                                                 ]
                        "ResponseBody":  "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"centraluseuap\",\r\n      \"name\": \"PwsTestVault\",\r\n      \"etag\": \"W/\\\"datetime\u00272021-03-24T14%3A01%3A50.8326358Z\u0027\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"privateEndpointStateForBackup\": \"None\",\r\n        \"privateEndpointStateForSiteRecovery\": \"None\"\r\n      },\r\n      \"id\": \"/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"RS0\",\r\n        \"tier\": \"Standard\"\r\n      }\r\n    }\r\n  ]\r\n}",
                        "StatusCode":  200
                    },
                    {
                        "RequestUri":  "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults?api-version=2024-04-01",
                        "RequestMethod":  "GET",
                        "RequestBody":  "",
                        "RequestHeaders":  {
                        "ResponseHeaders":  {
                                                "x-ms-ratelimit-remaining-subsc[...]
