{
    "Entries":  [
                    {
                        "RequestUri":  "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults?api-version=2024-04-01",
                        "RequestMethod":  "GET",
                        "RequestBody":  "",
                        "RequestHeaders":  {
                        "ResponseHeaders":  {
                                                "x-ms-ratelimit-remaining-subscription-reads":  [
                                                                                                    "11260"
                                                                                                ],
                                                "Content-Type":  [
                                                                     "application/json"
                                                                 ]
                        "ResponseBody":  "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"centraluseuap\",\r\n      \"name\": \"PwsTestVault\",\r\n      \"etag\": \"W/\\\"datetime\u00272021-03-24T14%3A01%3A50.8326358Z\u0027\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"privateEndpointStateForBackup\": \"None\",\r\n        \"privateEndpointStateForSiteRecovery\": \"None\"\r\n      },\r\n      \"id\": \"/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"RS0\",\r\n        \"tier\": \"Standard\"\r\n      }\r\n    }\r\n  ]\r\n}",
                        "StatusCode":  200
                    },
                    {
                        "RequestUri":  "/subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationPolicies/Policyv2a?api-version=2023-02-01",
                        "RequestMethod":  "PUT",
                        "RequestBody":  "{\r\n  \"properties\": {\r\n    \"providerSpecificInput\": {\r\n      \"instanceType\": \"InMageAzureV2\",\r\n      \"recoveryPointThresholdInMinutes\": 5,\r\n      \"recoveryPointHistory\": 2400,\r\n      \"crashConsistentFrequencyInMinutes\": 5,\r\n      \"appConsistentFrequencyInMinutes\": 900,\r\n      \"multiVmSyncStatus\": \"Enable\"\r\n    }\r\n  }\r\n}",
                        "RequestHeaders":  {
                                               "Agent-Authentication":  [
                                                                            "{\"NotBeforeTimestamp\":\"\\/Date(1617642266869)\\/\",\"NotAfterTimestamp\":\"\\/Date(1618247066869)\\/\",\"ClientRequestId\":\"32f12695-c9b7-409a-8ea4-172aa6b12dd2-2021-04-05 18:04:26Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"zLNptDZ9aaCqVigmvKlvGUn8KUMvRYocJdoZ3CSxmfw=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
                                                                        ],
                                               "Content-Type":  [
                                                                    "application/json; charset=utf-8"
                                                                ]
                        "ResponseHeaders":  {
                                                "Location":  [
                                                                 "https://centraluseuap.management.azure.com/Subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationPolicies/Policyv2a/operationresults/bd8efc4a-5b89-4464-b0fc-f6857ee0e1c3?api-version=2021-06-01"
                                                             ],
                                                "Retry-After":  [
                                                                    "30"
                                                                ],
                                                "Azure-AsyncOperation":  [
                                                                             "https://centraluseuap.management.azure.com/Subscriptions/b8aef8e1-37df-4f17-a537-f10e183c8eca/resourceGroups/PwsTestRG/providers/Microsoft.RecoveryServices/vaults/PwsTestVault/replicationOperationStatus/bd8efc4a-5b89-4464-b0fc-f6857ee0e1c3?api-version=2021-06-01"
                                                                         ],
                                                "x-ms-ratelimit-remaining-subs[...]
