{
  "Update-AzHealthBot+[NoContext]+UpdateExpanded+$PATCH+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/youriADDomain-rg-nf29bz/providers/Microsoft.HealthBot/healthBots/yourihealthbotsb4tv1?api-version=2020-12-08+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/youriADDomain-rg-nf29bz/providers/Microsoft.HealthBot/healthBots/yourihealthbotsb4tv1?api-version=2020-12-08",
      "Content": "{\r\n  \"sku\": {\r\n    \"name\": \"S1\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"ce004307-0000-0100-0000-5fec247b0000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/youriADDomain-rg-nf29bz/providers/Microsoft.HealthBot/healthBots/yourihealthbotsb4tv1\",\"name\":\"yourihealthbotsb4tv1\",\"type\":\"Microsoft.HealthBot/healthBots\",\"sku\":{\"name\":\"S1\"},\"location\":\"eastus\",\"systemData\":{\"createdBy\":\"v-lipyo@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2020-12-30T06:54:09.3505284Z\",\"lastModifiedBy\":\"v-lipyo@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2020-12-30T06:55:51.5660916Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"botManagementPortalLink\":\"https://us.healthbot.microsoft.com/account/yourihealthbotsb4tv1-ldsbfqp\"}}"
    }
  },
  "Update-AzHealthBot+[NoContext]+UpdateViaIdentityExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/youriADDomain-rg-nf29bz/providers/Microsoft.HealthBot/healthBots/yourihealthbotsb4tv1?api-version=2020-12-08+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/youriADDomain-rg-nf29bz/providers/Microsoft.HealthBot/healthBots/yourihealthbotsb4tv1?api-version=2020-12-08",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"ce004307-0000-0100-0000-5fec247b0000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11997" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/youriADDomain-rg-nf29bz/providers/Micr[...]
