{
  "New-AzCommunicationService+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/73fc3588-3cef-4302-9e19-2d18b71ce0e5/resourceGroups/testgrouppvbt51/providers/Microsoft.Communication/communicationServices/acsResourcepvbt51?api-version=2020-08-20-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/73fc3588-3cef-4302-9e19-2d18b71ce0e5/resourceGroups/testgrouppvbt51/providers/Microsoft.Communication/communicationServices/acsResourcepvbt51?api-version=2020-08-20-preview",
      "Content": "{\r\n  \"location\": \"Global\",\r\n  \"properties\": {\r\n    \"dataLocation\": \"UnitedStates\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"910262d4-0000-0700-0000-5fab0a190000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/9b56fcce-b0da-474b-bfc1-e11743406bdf?api-version=2020-08-20-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/73fc3588-3cef-4302-9e19-2d18b71ce0e5/resourceGroups/testgrouppvbt51/providers/Microsoft.Communication/communicationServices/acsResourcepvbt51\",\"name\":\"acsResourcepvbt51\",\"type\":\"Microsoft.Communication/communicationServices\",\"location\":\"Global\",\"properties\":{\"provisioningState\":\"Accepted\",\"hostName\":\"acsresourcepvbt51.communication.azure.com\",\"immutableResourceId\":\"4378c223-4225-4957-adca-9768311fccde\",\"dataLocation\":\"UnitedStates\"}}"
    }
  },
  "New-AzCommunicationService+[NoContext]+CreateExpanded+$GET+https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/9b56fcce-b0da-474b-bfc1-e11743406bdf?api-version=2020-08-20-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/9b56fcce-b0da-474b-bfc1-e11743406bdf?api-version=2020-08-20-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "12" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"8a0142e7-0000-0800-0000-5fab0a1a0000\"" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.Communication/locations/WESTUS2/operationStatuses/9b56fcce-b0da-474b-bfc1-e11743406bdf\",\"name\":\"9b56fcce-b0da-474b-bfc1-e11743406bdf\",\"resourceId\":\"/subscriptions/73fc3588-3cef-4302-9e19-2d18b71ce0e5/resourceGroups/testgrouppvbt51/providers/Microsoft.Communication/communicationServices/acsResourcepvbt51\",\"status\":\"Succeeded\",\"startTime\":\"2020-11-10T21:46:01.8756991Z\",\"percentComplete\":100.0,\"properties\":null}"
    }
  },
  "New-AzCommunicationService+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/73fc3588-3cef-4302-9e19-2d18b71ce0e5/resourceGroups/testgrouppvbt51/providers/Microsoft.Communication/communicationServices/acsResourcepvbt51?api-version=2020-08-20-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/73fc3588-3cef-4302-9e19-2d18b71ce0e5/resourceGroups/testgrouppvbt51/provi[...]
