{
  "Get-AzElasticSanSkuList+[NoContext]+List+$GET+https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/skus?api-version=2021-11-20-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/skus?api-version=2021-11-20-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "36" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11973" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"resourceType\":\"elasticSans\",\"name\":\"Premium_LRS\",\"tier\":\"Premium\",\"locations\":[\"centraluseuap\"],\"locationInfo\":[{\"location\":\"centraluseuap\",\"zones\":[\"1\",\"2\"],\"zoneDetails\":[]}],\"capabilities\":[{\"name\":\"elasticSanIopsPerBaseTiB\",\"value\":\"5000\"},{\"name\":\"elasticSanMaxSizeTiB\",\"value\":\"1024\"},{\"name\":\"elasticSanMinSizeTiB\",\"value\":\"64\"},{\"name\":\"elasticSanMBpsPerBaseTiB\",\"value\":\"80\"},{\"name\":\"elasticSanMaxMBps\",\"value\":\"81920\"},{\"name\":\"elasticSanMinIncrementSizeTiB\",\"value\":\"1\"},{\"name\":\"elasticSanMaxVolumeGroupCount\",\"value\":\"20\"},{\"name\":\"volumeGroupMaxVolumeCount\",\"value\":\"1000\"},{\"name\":\"volumeMaxSizeGiB\",\"value\":\"65536\"},{\"name\":\"volumeMinSizeGiB\",\"value\":\"1\"},{\"name\":\"volumeIopsPerBaseGiB\",\"value\":\"750\"},{\"name\":\"volumeMBpsPerBaseGiB\",\"value\":\"192\"},{\"name\":\"volumeMaxIops\",\"value\":\"64000\"},{\"name\":\"volumeMaxMBps\",\"value\":\"1024\"},{\"name\":\"volumeMinIncrementSizeGiB\",\"value\":\"1\"}],\"restrictions\":[]},{\"resourceType\":\"elasticSans\",\"name\":\"Premium_LRS\",\"tier\":\"Premium\",\"locations\":[\"eastus2euap\"],\"locationInfo\":[{\"location\":\"eastus2euap\",\"zones\":[\"1\",\"2\",\"3\"],\"zoneDetails\":[]}],\"capabilities\":[{\"name\":\"elasticSanIopsPerBaseTiB\",\"value\":\"5000\"},{\"name\":\"elasticSanMaxSizeTiB\",\"value\":\"1024\"},{\"name\":\"elasticSanMinSizeTiB\",\"value\":\"64\"},{\"name\":\"elasticSanMBpsPerBaseTiB\",\"value\":\"80\"},{\"name\":\"elasticSanMaxMBps\",\"value\":\[...]
