{
  "Get-AzElasticSanSkuList+[NoContext]+List+$GET+https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/skus?api-version=2023-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/skus?api-version=2023-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "37" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11844" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"resourceType\":\"elasticSans\",\"name\":\"Premium_LRS\",\"tier\":\"Premium\",\"locations\":[\"australiaeast\"],\"locationInfo\":[{\"location\":\"australiaeast\",\"zones\":[\"1\",\"2\",\"3\"],\"zoneDetails\":[]}],\"capabilities\":[{\"name\":\"elasticSanIopsPerBaseTiB\",\"value\":\"5000\"},{\"name\":\"elasticSanMaxSizeTiB\",\"value\":\"100\"},{\"name\":\"elasticSanMinSizeTiB\",\"value\":\"1\"},{\"name\":\"elasticSanMBpsPerBaseTiB\",\"value\":\"200\"},{\"name\":\"elasticSanMaxMBps\",\"value\":\"8000\"},{\"name\":\"elasticSanMinIncrementSizeTiB\",\"value\":\"1\"},{\"name\":\"elasticSanMaxVolumeGroupCount\",\"value\":\"20\"},{\"name\":\"elasticSanMaxIOPS\",\"value\":\"500000\"},{\"name\":\"volumeGroupMaxVolumeCount\",\"value\":\"1000\"},{\"name\":\"volumeMaxSizeGiB\",\"value\":\"65536\"},{\"name\":\"volumeMinSizeGiB\",\"value\":\"1\"},{\"name\":\"volumeIopsPerBaseGiB\",\"value\":\"750\"},{\"name\":\"volumeMBpsPerBaseGiB\",\"value\":\"192\"},{\"name\":\"volumeMaxIops\",\"value\":\"80000\"},{\"name\":\"volumeMaxMBps\",\"value\":\"1280\"},{\"name\":\"volumeMinIncrementSizeGiB\",\"value\":\"1\"}],\"restrictions\":[]},{\"resourceType\":\"elasticSans\",\"name\":\"Premium_LRS\",\"tier\":\"Premium\",\"locations\":[\"centraluseuap\"],\"locationInfo\":[{\"location\":\"centraluseuap\",\"zones\":[\"1\"],\"zoneDetails\":[]}],\"capabilities\":[{\"name\":\"elasticSanIopsPerBaseTiB\",\"value\":\"5000\"},{\"name\":\"elasticSanMaxSizeTiB\",\"value\":\"100\"},{\"name\":\"elasticSanMinSizeTiB\",\"value\":\"1\"},{\"name\":\"elasticSanMBpsPerBaseTiB\",\"value\":\"200\"},{\"name\":\"elasticSanMaxMBps\",\"value\":\"8000\"},[...]
