{
  "Update-AzElasticSanVolume+[NoContext]+UpdateExpanded+$PATCH+https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsanrgo1emr6d5/providers/Microsoft.ElasticSan/elasticSans/testelasticsan1o1emr6d5/volumegroups/testvolgroupo1emr6d5/volumes/testvolo1emr6d5?api-version=2022-12-01-preview+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsanrgo1emr6d5/providers/Microsoft.ElasticSan/elasticSans/testelasticsan1o1emr6d5/volumegroups/testvolgroupo1emr6d5/volumes/testvolo1emr6d5?api-version=2022-12-01-preview",
      "Content": "{\r\n  \"properties\": {\r\n    \"sizeGiB\": 120\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/450ecd85-59b5-4a5a-bb5f-f24fcd7d948d?monitor=true\u0026api-version=2022-12-01-preview" ],
        "Retry-After": [ "17" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1177" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"properties\":{\"creationData\":{\"createSource\":\"None\"},\"sizeGiB\":120,\"storageTarget\":{\"targetIqn\":\"iqn.2023-07.net.windows.core.blob.ElasticSan.es-gld0v2w5tcn1:testvolo1emr6d5\",\"provisioningState\":\"Updating\",\"status\":\"Pending\",\"targetPortalHostname\":\"es-gld0v2w5tcn1.z9.blob.storage.azure.net\",\"targetPortalPort\":3260},\"volumeId\":\"8c29389b-ca37-4414-952c-7892c251fba4\"},\"id\":\"/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/testelasticsanrgo1emr6d5/providers/Microsoft.ElasticSan/elasticSans/testelasticsan1o1emr6d5/volumegroups/testvolgroupo1emr6d5/volumes/testvolo1emr6d5\",\"name\":\"testvolo1emr6d5\",\"type\":\"Microsoft.ElasticSan/ElasticSans\",\"systemData\":{\"createdAt\":\"2023-07-17T06:30:45.7959806Z\",\"createdBy\":\"a000255f-5f09-45e0-a970-9d9ed9cc6453\",\"createdByType\":\"Application\",\"lastModifiedAt\":\"2023-07-17T06:30:45.7959806Z\",\"lastModifiedBy\":\"a000255f-5f09-45e0-a970-9d9ed9cc6453\",\"lastModifiedByType\":\"Application\"}}",
    }
  },
  "Update-AzElasticSanVolume+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/450ecd85-59b5-4a5a-bb5f-f24fcd7d948d?monitor=true\u0026api-version=2022-12-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.ElasticSan/locations/eastus2euap/asyncoperations/450ecd85-59b5-4a5a-bb5f-f24fcd7d948d?monitor=true\u0026api-version=2022-12-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "94" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11924" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"properties\":{\"creationData\":{\"createSource\":\"None\"},\"sizeGiB\":120,\"storageTarget\":{\"targetIqn\":\"iqn.2023-07.net.windows.core.blob.ElasticSan.es-gld0v2w5tcn1:testvolo1emr6d5\",\"provisio[...]
