{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0347d63a-421a-43a7-836a-5f389c79cd07/providers/Microsoft.Billing/invoices/201705-217994100075389?api-version=2017-04-24-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0347d63a-421a-43a7-836a-5f389c79cd07/providers/Microsoft.Billing/invoices/201705-217994100075389\",\r\n  \"type\": \"Microsoft.Billing/invoices\",\r\n  \"name\": \"201705-217994100075389\",\r\n  \"properties\": {\r\n    \"downloadUrl\": {\r\n      \"expiryTime\": \"2017-04-25T02:21:29Z\",\r\n      \"url\": \"https://billinginsightsstoretest.blob.core.windows.net/invoices/0347d63a-421a-43a7-836a-5f389c79cd07-201705-217994100075389.pdf?sv=2014-02-14&sr=b&sig=yMzDJ9r58cQIboPQsJoFsLlvrRba%2FX%2FpSLvFVxHtFrY%3D&se=2017-04-25T02%3A21%3A29Z&sp=r\"\r\n    },\r\n    \"invoicePeriodEndDate\": \"2017-04-09\",\r\n    \"invoicePeriodStartDate\": \"2017-03-10\",\r\n    \"billingPeriodIds\": [\r\n      \"/subscriptions/0347d63a-421a-43a7-836a-5f389c79cd07/providers/Microsoft.Billing/billingPeriods/201705-1\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0347d63a-421a-43a7-836a-5f389c79cd07/providers/Microsoft.Billing/invoices/201704-117049130068772?api-version=2017-04-24-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0347d63a-421a-43a7-836a-5f389c79cd07/providers/Microsoft.Billing/invoices/201704-117049130068772\",\r\n  \"type\": \"Microsoft.Billing/invoices\",\r\n  \"name\": \"201704-117049130068772\",\r\n  \"properties\": {\r\n    \"downloadUrl\": {\r\n      \"expiryTime\": \"2017-04-25T02:21:30Z\",\r\n      \"url\": \"https://billinginsightsstoretest.blob.core.windows.net/invoices/0347d63a-421a-43a7-836a-5f389c79cd07-201704-117049130068772.pdf?sv=2014-02-14&sr=b&sig=5sZXA3fV5S%2FeqcpXDYGU3suk6aW4irps5k%2BolqxvgNo%3D&se=2017-04-25T02%3A21%3A30Z&sp=r\"\r\n    },\r\n    \"invoicePeriodEndDate\": \"2017-03-09\",\r\n    \"invoicePeriodStartDate\": \"2017-02-10\",\r\n    \"billingPeriodIds\": [\r\n      \"/subscriptions/0347d63a-421a-43a7-836a-5f389c79cd07/providers/Microsoft.Billing/billingPeriods/201704-1\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0347d63a-421a-43a7-836a-5f389c79cd07"
  }
}