{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0347d63a-421a-43a7-836a-5f389c79cd07/providers/Microsoft.Billing/invoices?api-version=2017-04-24-preview&$expand=downloadUrl&$top=1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0347d63a-421a-43a7-836a-5f389c79cd07/providers/Microsoft.Billing/invoices/201705-217994100075389\",\r\n      \"type\": \"Microsoft.Billing/invoices\",\r\n      \"name\": \"201705-217994100075389\",\r\n      \"properties\": {\r\n        \"downloadUrl\": {\r\n          \"expiryTime\": \"2017-04-25T02:21:52Z\",\r\n          \"url\": \"https://billinginsightsstoretest.blob.core.windows.net/invoices/0347d63a-421a-43a7-836a-5f389c79cd07-201705-217994100075389.pdf?sv=2014-02-14&sr=b&sig=EigPr%2BisMbtTGa6Cw%2BB1kcBKrVx%2B%2BmpPn2JD%2BxCCgM4%3D&se=2017-04-25T02%3A21%3A52Z&sp=r\"\r\n        },\r\n        \"invoicePeriodEndDate\": \"2017-04-09\",\r\n        \"invoicePeriodStartDate\": \"2017-03-10\",\r\n        \"billingPeriodIds\": [\r\n          \"/subscriptions/0347d63a-421a-43a7-836a-5f389c79cd07/providers/Microsoft.Billing/billingPeriods/201705-1\"\r\n        ]\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": \"https://billing-preview.windowsazure.com/subscriptions/0347d63a-421a-43a7-836a-5f389c79cd07/providers/Microsoft.Billing/invoices?api-version=2017-04-24-preview&$expand=downloadUrl&$top=1&$skiptoken=%23%231!8!OEY1MEY-%23%231!80!MDM0N0Q2M0EtNDIxQS00M0E3LTgzNkEtNUYzODlDNzlDRDA3Xzc5ODIwOC0xMTcwNDkxMzAwNjg3NzI-%23%23\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0347d63a-421a-43a7-836a-5f389c79cd07"
  }
}