{
  "Get-AzAksArcVMSku+[NoContext]+Get+$GET+https://management.azure.com//subscriptions/69f14c19-881e-42c7-99b9-3286116410aa/resourceGroups/EDGECI-REGISTRATION-HC1n25r0638-jrXozscA/providers/Microsoft.ExtendedLocation/customLocations/s-cluster-customlocation/providers/Microsoft.HybridContainerService/skus/default?api-version=2024-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com//subscriptions/69f14c19-881e-42c7-99b9-3286116410aa/resourceGroups/EDGECI-REGISTRATION-HC1n25r0638-jrXozscA/providers/Microsoft.ExtendedLocation/customLocations/s-cluster-customlocation/providers/Microsoft.HybridContainerService/skus/default?api-version=2024-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"a001facd-0000-0a00-0000-68de1b370000\"" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/69f14c19-881e-42c7-99b9-3286116410aa/resourceGroups/edgeci-registration-hc1n25r0638-jrxozsca/providers/microsoft.extendedlocation/customlocations/s-cluster-customlocation/providers/Microsoft.HybridContainerService/skus/default\",\"name\":\"default\",\"type\":\"microsoft.hybridcontainerservice/skus\",\"systemData\":{\"createdBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"createdByType\":\"Application\",\"createdAt\":\"2025-09-26T17:11:29.5746968Z\",\"lastModifiedBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2025-10-02T06:27:03.5887369Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"values\":[{\"resourceType\":\"virtualMachines\",\"capabilities\":[{\"name\":\"vCpu\",\"value\":\"2\"},{\"name\":\"MemoryGB\",\"value\":\"4\"}],\"name\":\"Standard_A2_v2\",\"size\":\"A2\",\"tier\":\"Standard\"},{\"resourceType\":\"virtualMachines\",\"capabilities\":[{\"name\":\"vCpu\",\"value\":\"4\"},{\"name\":\"MemoryGB\",\"value\":\"8\"}],\"name\":\"Standard_A4_v2\",\"size\":\"A4\",\"tier\":\"Standard\"},{\"resourceType\":\"virtualMachines\",\"capabilities\":[{\"name\":\"vCpu\",\"value\":\"16\"},{\"name\":\"MemoryGB\",\"value\":\"64\"}],\"name\":\"Standard_D16s_v3\",\"size\":\"D16s\",\"tier\":\"Standard\"},{\"resourceType\":\"virtualMachines\",\"capabilities\":[{\"name\":\"vCpu\",\"val[...]
