{
  "AzProviderHubDefaultRollout-CRUD+[NoContext]+Create, get, list, cancel, and delete DefaultRollout+$PUT+https://management.azure.com/subscriptions/6f53185c-ea09-4fc3-9075-318dec805303/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/defaultRollouts/psDefaultRollout?api-version=2020-11-20+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/6f53185c-ea09-4fc3-9075-318dec805303/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/defaultRollouts/psDefaultRollout?api-version=2020-11-20",
      "Content": "{\r\n  \"properties\": {\r\n    \"specification\": {\r\n      \"canary\": {\r\n        \"skipRegions\": [ \"brazilus\" ]\r\n      },\r\n      \"restOfTheWorldGroupTwo\": {\r\n        \"waitDuration\": \"PT4H\"\r\n      }\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Retry-After": [ "00:01:00" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Microsoft.ProviderHub/operationStatuses/91d9ce5d-cbc1-417b-8c5b-af92ef01767d?api-version=2019-10-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"provisioningState\":\"RolloutInProgress\",\"specification\":{\"canary\":{\"skipRegions\":[\"brazilus\"],\"regions\":[\"eastus2euap\",\"centraluseuap\"]},\"lowTraffic\":{\"waitDuration\":\"P1D\",\"regions\":[\"westcentralus\"]},\"mediumTraffic\":{\"waitDuration\":\"P1D\",\"regions\":[\"northcentralus\",\"centralindia\"]},\"highTraffic\":{\"waitDuration\":\"P1D\",\"regions\":[\"westus2\"]},\"restOfTheWorldGroupOne\":{\"waitDuration\":\"P1D\",\"regions\":[\"westeurope\",\"eastus\",\"southcentralus\",\"eastasia\",\"uksouth\",\"canadacentral\",\"japanwest\",\"australiasoutheast\",\"koreacentral\",\"francecentral\",\"australiacentral\",\"westus\",\"uaecentral\",\"southafricawest\",\"switzerlandwest\",\"norwaywest\",\"westindia\",\"germanywestcentral\"]},\"restOfTheWorldGroupTwo\":{\"waitDuration\":\"PT4H\",\"regions\":[\"northeurope\",\"centralus\",\"southeastasia\",\"ukwest\",\"canadaeast\",\"brazilsouth\",\"japaneast\",\"australiaeast\",\"koreasouth\",\"eastus2\",\"francesouth\",\"australiacentral2\",\"uaenorth\",\"southafricanorth\",\"switzerlandnorth\",\"germanynorth\",\"norwayeast\",\"brazilsoutheast\",\"eastusslv\",\"southindia\",\"westus3\"]}},\"status\":{\"nextTrafficRegion\":\"Canary\",\"nextTrafficRegionScheduledTime\":\"2021-04-06T05:04:09.7764954Z\",\"completedRegions\":[],\"failedOrSkippedRegions\":{}}},\"name\":\"psDefaultRollout\"}"
    }
  },
  "AzProviderHubDefaultRollout-CRUD+[NoContext]+Create, get, list, cancel, and delete DefaultRollout+$GET+https://management.azure.com/subscriptions/6f53185c-ea09-4fc3-9075-318dec805303/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/defaultRollouts/psDefaultRollout?api-version=2020-11-20+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/6f53185c-ea09-4fc3-9075-318dec805303/providers/Microsoft.ProviderHub/providerRegistrations/Microsoft.Contoso/defaultRollouts/psDefaultRollout?api-version=2020-11-20",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"provisioningState\":\"RolloutInProgress\",\"specification\":{\"canary\":{\"skipRegions\":[\"brazilus\"],\"regions\":[\"eastus2euap\",\"centraluseuap\"]},\"lowTr[...]
