{
  "Get-AzDisconnectedOperationsDisconnectedOperation+[NoContext]+List1+$GET+https://management.azure.com/subscriptions/82c4f715-0d39-4b14-bc1a-8d28a289472c/providers/Microsoft.Edge/disconnectedOperations?api-version=2025-06-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/82c4f715-0d39-4b14-bc1a-8d28a289472c/providers/Microsoft.Edge/disconnectedOperations?api-version=2025-06-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "7" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "c0758023-277f-4f46-a6bd-ac137edb16e4", "db4697d9-aa7b-4b2e-8344-5d4b58b2259b", "8e4a3994-0200-419e-9b49-cadae6614424", "157902bc-0238-4ed4-b41b-9fe2c04c2bad" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/82c4f715-0d39-4b14-bc1a-8d28a289472c/resourceGroups/anponnet-rg/providers/Microsoft.Edge/disconnectedOperations/demo-winfield-ecy\",\"name\":\"demo-winfield-ecy\",\"type\":\"microsoft.edge/disconnectedoperations\",\"location\":\"eastus2euap\",\"tags\":{},\"systemData\":{\"createdBy\":\"anponnet@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-07-16T00:04:48.3303866Z\",\"lastModifiedBy\":\"anponnet@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2025-07-16T00:04:48.3303866Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"stampId\":\"65619471-8556-4e26-a47d-3ba3cb4d09e8\",\"billingModel\":\"Capacity\",\"connectionIntent\":\"Disconnected\",\"connectionStatus\":\"Disconnected\",\"registrationStatus\":\"Unregistered\"}},{\"id\":\"/subscriptions/82c4f715-0d39-4b14-bc1a-8d28a289472c/resourceGroups/bvt-test-automation/providers/Microsoft.Edge/disconnectedoperations/test-automation\",\"name\":\"test-automation\",\"type\":\"microsoft.edge/disconnectedoperations\",\"location\":\"West US 3\",\"tags\":{},\"systemData\":{\"createdBy\":\"anponnet@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-05-19T21:23:25.932068Z\",\"lastModifiedBy\":\"aviranjan@microsoft.com\",\"lastModifiedByType\"[...]
