{
  "Get-AzDisconnectedOperationsImage+[NoContext]+List+$GET+https://management.azure.com/subscriptions/dc4ac3fc-8889-44d6-a8f8-a8fa229c659e/resourceGroups/winfield-demo-rg-2/providers/Microsoft.Edge/disconnectedOperations/winfield-ps-test/images?api-version=2026-03-15+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/dc4ac3fc-8889-44d6-a8f8-a8fa229c659e/resourceGroups/winfield-demo-rg-2/providers/Microsoft.Edge/disconnectedOperations/winfield-ps-test/images?api-version=2026-03-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "16" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/dc4ac3fc-8889-44d6-a8f8-a8fa229c659e/resourceGroups/winfield-demo-rg-2/providers/Microsoft.Edge/disconnectedOperations/winfield-ps-test/images/release-v2602\",\"name\":\"release-v2602\",\"type\":\"Microsoft.Edge/disconnectedOperations/images\",\"properties\":{\"provisioningState\":\"Succeeded\",\"releaseVersion\":\"2602.1.25259\",\"releaseDisplayName\":\"release-v2602\",\"releaseNotes\":\"https://aka.ms/aldo-publicdocs\",\"releaseDate\":\"2026-03-02\",\"releaseType\":\"Install\",\"compatibleVersions\":[]}},{\"id\":\"/subscriptions/dc4ac3fc-8889-44d6-a8f8-a8fa229c659e/resourceGroups/winfield-demo-rg-2/providers/Microsoft.Edge/disconnectedOperations/winfield-ps-test/images/release-v2601\",\"name\":\"release-v2601\",\"type\":\"Microsoft.Edge/disconnectedOperations/images\",\"properties\":{\"provisioningState\":\"Succeeded\",\"releaseVersion\":\"2601.1.24997\",\"releaseDisplayName\":\"release-v2601\",\"releaseNotes\":\"https://aka.ms/aldo-publicdocs\",\"releaseDate\":\"2026-02-19\",\"releaseType\[...]
