{
  "Get-AzDisconnectedOperationsArtifact+[NoContext]+List+$GET+https://management.azure.com/subscriptions/dc4ac3fc-8889-44d6-a8f8-a8fa229c659e/resourceGroups/winfield-demo-rg-2/providers/Microsoft.Edge/disconnectedOperations/winfield-ps-test/images/default/artifacts?api-version=2026-03-15+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/dc4ac3fc-8889-44d6-a8f8-a8fa229c659e/resourceGroups/winfield-demo-rg-2/providers/Microsoft.Edge/disconnectedOperations/winfield-ps-test/images/default/artifacts?api-version=2026-03-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/dc4ac3fc-8889-44d6-a8f8-a8fa229c659e/resourceGroups/winfield-demo-rg-2/providers/Microsoft.Edge/disconnectedOperations/winfield-ps-test/images/default/artifacts/OSAndDocker-A\",\"name\":\"OSAndDocker-A\",\"type\":\"Microsoft.Edge/disconnectedOperations/images/artifacts\",\"properties\":{\"provisioningState\":\"Succeeded\",\"artifactOrder\":1,\"title\":\"OSAndDocker_A.vhdx\",\"description\":\"OS and docker disk\",\"size\":116000}},{\"id\":\"/subscriptions/dc4ac3fc-8889-44d6-a8f8-a8fa229c659e/resourceGroups/winfield-demo-rg-2/providers/Microsoft.Edge/disconnectedOperations/winfield-ps-test/images/default/artifacts/ArcA-LocalData-A\",\"name\":\"ArcA-LocalData-A\",\"type\":\"Microsoft.Edge/disconnectedOperations/images/artifacts\",\"properties\":{\"provisioningState\":\"Succeeded\",\"artifactOrder\":2,\"title\":\"ArcA_LocalData_A.vhdx\",\"description\":\"Local data disk\",\"size\":37200}},{\"id\":\"/subscriptions/dc[...]
