{
  "New-AzDisconnectedOperationsDisconnectedOperation+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/82c4f715-0d39-4b14-bc1a-8d28a289472c/resourceGroups/bvt-test-automation/providers/Microsoft.Edge/disconnectedOperations/ps-test-automation?api-version=2025-06-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/82c4f715-0d39-4b14-bc1a-8d28a289472c/resourceGroups/bvt-test-automation/providers/Microsoft.Edge/disconnectedOperations/ps-test-automation?api-version=2025-06-01-preview",
      "Content": "{\n  \"location\": \"westus3\",\n  \"properties\": {\n    \"connectionIntent\": \"Disconnected\"\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"0900ac09-0000-4d00-0000-6916ef070000\"" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "799" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/82c4f715-0d39-4b14-bc1a-8d28a289472c/resourceGroups/bvt-test-automation/providers/Microsoft.Edge/disconnectedOperations/ps-test-automation\",\"name\":\"ps-test-automation\",\"type\":\"microsoft.edge/disconnectedoperations\",\"location\":\"westus3\",\"tags\":{},\"systemData\":{\"createdBy\":\"aviranjan@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-11-14T08:57:42.9623924Z\",\"lastModifiedBy\":\"aviranjan@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2025-11-14T08:57:42.9623924Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"stampId\":\"e6e558fe-7a25-452f-9ba4-c6617821cd4d\",\"billingModel\":\"Capacity\",\"connectionIntent\":\"Disconnected\",\"connectionStatus\":\"Disconnected\",\"registrationStatus\":\"Unregistered\"}}",
    }
  },
  "New-AzDisconnectedOperationsDisconnectedOperation+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/82c4f715-0d39-4b14-bc1a-8d28a289472c/resourceGroups/bvt-test-automation/providers/Microsoft.Edge/disconnectedOperations/ps-test-automation?api-version=2025-06-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/82c4f715-0d39-4b14-bc1a-8d28a289472c/resourceGroups/bvt-test-automation/providers/Microsoft.Edge/disconnectedOperations/ps-test-automation?api-version=2025-06-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "18" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"0900ac09-0000-4d00-0000-6916ef070000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{[...]
