{
  "Entries": [
    {
      "RequestUri": "/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.Kubernetes\",\r\n      \"namespace\": \"Microsoft.Kubernetes\",\r\n      \"authorizations\": [\r\n        {\r\n          \"applicationId\": \"64b12d6e-6549-484c-8cc6-6281839ba394\",\r\n          \"roleDefinitionId\": \"1d1d44cf-68a1-4def-a2b6-cd7efc3515af\"\r\n        },\r\n        {\r\n          \"applicationId\": \"359431ad-ece5-496b-8768-be4bbfd82f36\",\r\n          \"roleDefinitionId\": \"1b5c71b7-9814-4b40-b62a-23018af874d8\"\r\n        },\r\n        {\r\n          \"applicationId\": \"0000dab9-8b21-4ba2-807f-1743968cef00\",\r\n          \"roleDefinitionId\": \"1b5c71b7-9814-4b40-b62a-23018af874d8\"\r\n        },\r\n        {\r\n          \"applicationId\": \"8edd93e1-2103-40b4-bd70-6e34e586362d\",\r\n          \"roleDefinitionId\": \"eb67887a-31e8-4e4e-bf5b-14ff79351a6f\"\r\n        }\r\n      ],\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"connectedClusters\",\r\n          \"locations\": [\r\n            \"West Europe\",\r\n            \"East US\",\r\n            \"West Central US\",\r\n            \"South Central US\",\r\n            \"Southeast Asia\",\r\n            \"UK South\",\r\n            \"East US 2\",\r\n            \"West US 2\",\r\n            \"Australia East\",\r\n            \"North Europe\",\r\n            \"France Central\",\r\n            \"Central US\",\r\n            \"West US\",\r\n            \"North Central US\",\r\n            \"Korea Central\",\r\n            \"Japan East\",\r\n            \"West US 3\",\r\n            \"East Asia\",\r\n            \"Canada Central\",\r\n            \"East US 2 EUAP\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2022-05-01-preview\",\r\n            \"2021-10-01\",\r\n            \"2021-04-01-preview\",\r\n            \"2021-03-01\",\r\n            \"2020-01-01-preview\"\r\n          ],\r\n          \"capabilities\": \"SystemAssignedResourceIdentity\"\r\n        },\r\n        {\r\n          \"resourceType\": \"locations\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2022-05-01-preview\",\r\n            \"2021-10-01\",\r\n            \"2021-04-01-preview\",\r\n            \"2021-03-01\",\r\n            \"2020-01-01-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"locations/operationStatuses\",\r\n          \"locations\": [\r\n          [...]
