{
  "AzOrbitalContactProfile+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstest-gp/providers/Microsoft.Orbital/contactProfiles/azps-orbital-contactprofile?api-version=2022-11-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstest-gp/providers/Microsoft.Orbital/contactProfiles/azps-orbital-contactprofile?api-version=2022-11-01",
      "Content": "{\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"networkConfiguration\": {\r\n      \"subnetId\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstest-gp/providers/Microsoft.Network/virtualNetworks/orbital-virtualnetwork/subnets/orbital-vn\"\r\n    },\r\n    \"minimumViableContactDuration\": \"PT1M\",\r\n    \"minimumElevationDegrees\": 10,\r\n    \"autoTrackingConfiguration\": \"xBand\",\r\n    \"eventHubUri\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstest-gp/providers/Microsoft.EventHub/namespaces/eventhub-test-0505\",\r\n    \"links\": [\r\n      {\r\n        \"name\": \"RHCP_Downlink\",\r\n        \"polarization\": \"RHCP\",\r\n        \"direction\": \"Downlink\",\r\n        \"gainOverTemperature\": 0,\r\n        \"eirpdBW\": 45,\r\n        \"channels\": [\r\n          {\r\n            \"endPoint\": {\r\n              \"ipAddress\": \"10.0.1.0\",\r\n              \"endPointName\": \"AQUA_command\",\r\n              \"port\": \"55555\",\r\n              \"protocol\": \"TCP\"\r\n            },\r\n            \"name\": \"channel1\",\r\n            \"centerFrequencyMHz\": 8160,\r\n            \"bandwidthMHz\": 15,\r\n            \"modulationConfiguration\": \"AQUA_UPLINK_BPSK\",\r\n            \"demodulationConfiguration\": \"na\",\r\n            \"encodingConfiguration\": \"AQUA_CMD_CCSDS\",\r\n            \"decodingConfiguration\": \"na\"\r\n          }\r\n        ]\r\n      }\r\n    ]\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.Orbital/locations/westus2/operationResults/0540aed0-b4c0-43f6-859d-ad8623738086?api-version=2022-11-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"location\":\"westus2\",\"tags\":null,\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstest-gp/providers/Microsoft.Orbital/contactProfiles/azps-orbital-contactprofile\",\"name\":\"azps-orbital-contactprofile\",\"type\":\"Microsoft.Orbital/contactProfiles\",\"properties\":{\"thirdPartyConfigurations\":null,\"provisioningState\":\"updating\",\"minimumViableContactDuration\":\"PT1M\",\"minimumElevationDegrees\":10.0,\"autoTrackingConfiguration\":\"xBand\",\"eventHubUri\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstest-gp/providers/Microsoft.EventHub/namespaces/eventhub-test-0505\",\"networkConfiguration\":{\"subnetId\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstest-gp/providers/Microsoft.Network/virtualNetworks/orbital-virtualnetwork/subnets/orbital-vn\"},\"lin[...]
