{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/providers/Microsoft.Web/checknameavailability?api-version=2018-02-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"ps8666\",\r\n  \"type\": \"Site\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true,\r\n  \"reason\": \"\",\r\n  \"message\": \"\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resources?$filter=resourceType%20eq%20'Microsoft.Web%2FserverFarms'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/20160328sepportalmatrix/providers/Microsoft.Web/serverFarms/20160328sepportalmatrix\",\r\n      \"name\": \"20160328sepportalmatrix\",\r\n      \"type\": \"Microsoft.Web/serverFarms\",\r\n      \"sku\": {\r\n        \"name\": \"S1\",\r\n        \"tier\": \"Standard\",\r\n        \"size\": \"S1\",\r\n        \"family\": \"S\",\r\n        \"capacity\": 1\r\n      },\r\n      \"kind\": \"app\",\r\n      \"location\": \"eastasia\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/232223/providers/Microsoft.Web/serverFarms/F2BranchASP\",\r\n      \"name\": \"F2BranchASP\",\r\n      \"type\": \"Microsoft.Web/serverFarms\",\r\n      \"sku\": {\r\n        \"name\": \"D1\",\r\n        \"tier\": \"Shared\",\r\n        \"size\": \"D1\",\r\n        \"family\": \"D\",\r\n        \"capacity\": 0\r\n      },\r\n      \"kind\": \"app\",\r\n      \"location\": \"sout[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/20160328sepportalmatrix/providers/Microsoft.Web/serverfarms/20160328sepportalmatrix?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/20160328sepportalmatrix/providers/Microsoft.Web/serverfarms/20160328sepportalmatrix\",\r\n  \"name\": \"20160328sepportalmatrix\",\r\n  \"type\": \"Microsoft.Web/serverfarms\",\r\n  \"kind\": \"app\",\r\n  \"location\": \"East Asia\",\r\n  \"properties\": {\r\n    \"serverFarmId\": 9688,\r\n    \"name\": \"20160328sepportalmatrix\",\r\n    \"workerSize\": \"Default\",\r\n    \"workerSizeId\": 0,\r\n    \"workerTierName\": null,\r\n    \"numberOfWorkers\": 1,\r\n    \"currentWorkerSize\": \"Default\",\r\n    \"currentWorkerSizeId\": 0,\r\n    \"currentNumberOfWorkers\": 1,\r\n    \"status\": \"Ready\",\r\n    \"webSpace\": \"20160328sepportalmatrix-EastAsiawebspace\",\r\n    \"subscription\": \"0d3ae56c-deaf-4982-b514-33d016d4a683\",\r\n    \"adminSiteName\": null,\r\n    \"hostingEnvironment\": null,\r\n    \"hostingEnvironmentProfile\": null,\r\n    \"maximumNumberOfWorkers\": 10,\r\n    \"planName\": \"VirtualDedicatedPlan\",\r\n    \"adminRuntimeSiteName\": null,\r\n    \"computeMode\": \"Dedicated\",\r\n    \"siteMode\": null,\r\n    \"geoRegion\": \"East Asia\",\r\n    \"perSiteScaling\": false,\r\n    \"numberOfSites\": 15,\r\n    \"hostingEnvironmentId\": null,\r\n    \"isSpot\": false,\r\n    \"spotExpirationTime\": null,\r\n    \"freeOfferExpirationTime\": null,\r\n    \"tags\": null,\r\n    \"kind\": \"app\",\r\n    \"resourceGroup\": \"20160328sepportalmatrix\",\r\n    \"reserved\": false,\r\n    \"isXenon\": false,\r\n    \"mdmId\": \"waws-prod-hk1-017_9688\",\r\n    \"targetWorkerCount\": 0,\r\n    \"targetWorkerSizeId\": 0,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"webSiteId\": null\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"tier\": \"Standard\",\r\n    \"size\": \"S1\",\r\n    \"family\": \"S\",\r\n    \"capacity\": 1\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/232223/providers/Microsoft.Web/serverfarms/F2BranchASP?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/232223/providers/Microsoft.Web/serverfarms/F2BranchASP\",\r\n  \"name\": \"F2BranchASP\",\r\n  \"type\": \"Microsoft.Web/serverfa[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/232223/providers/Microsoft.Web/serverfarms/NewASp?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/232223/providers/Microsoft.Web/serverfarms/NewASp\",\r\n  \"name\": \"NewASp\",\r\n  \"type\": \"Microsoft.Web/serverfarms\",\r\n  \"k[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/232223/providers/Microsoft.Web/serverfarms/ServicePlan?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/232223/providers/Microsoft.Web/serverfarms/ServicePlan\",\r\n  \"name\": \"ServicePlan\",\r\n  \"type\": \"Microsoft.Web/serverfa[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/232223/providers/Microsoft.Web/serverfarms/testwp76?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/232223/providers/Microsoft.Web/serverfarms/testwp76\",\r\n  \"name\": \"testwp76\",\r\n  \"type\": \"Microsoft.Web/serverfarms\",\r\[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/232223/providers/Microsoft.Web/serverfarms/werwe334eerewer?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/232223/providers/Microsoft.Web/serverfarms/werwe334eerewer\",\r\n  \"name\": \"werwe334eerewer\",\r\n  \"type\": \"Microsoft.[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AaaJul13RG4V/providers/Microsoft.Web/serverfarms/dgdsfds?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AaaJul13RG4V/providers/Microsoft.Web/serverfarms/dgdsfds\",\r\n  \"name\": \"dgdsfds\",\r\n  \"type\": \"Microsoft.Web/serverfa[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AaaJul13RG4V/providers/Microsoft.Web/serverfarms/testPlanUKSouth?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AaaJul13RG4V/providers/Microsoft.Web/serverfarms/testPlanUKSouth\",\r\n  \"name\": \"testPlanUKSouth\",\r\n  \"type\": [...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AaJul29RG/providers/Microsoft.Web/serverfarms/CentralUSPlan?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AaJul29RG/providers/Microsoft.Web/serverfarms/CentralUSPlan\",\r\n  \"name\": \"CentralUSPlan\",\r\n  \"type\": \"Microsoft.[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AaJul29RG/providers/Microsoft.Web/serverfarms/sdfredgtertg?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AaJul29RG/providers/Microsoft.Web/serverfarms/sdfredgtertg\",\r\n  \"name\": \"sdfredgtertg\",\r\n  \"type\": \"Microsoft.Web[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/aarthisk/providers/Microsoft.Web/serverfarms/asdasdasdasdas?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/aarthisk/providers/Microsoft.Web/serverfarms/asdasdasdasdas\",\r\n  \"name\": \"asdasdasdasdas\",\r\n  \"type\": \"Microsoft[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/aarthisk/providers/Microsoft.Web/serverfarms/ase-cert-repro-for-real-asp?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/aarthisk/providers/Microsoft.Web/serverfarms/ase-cert-repro-for-real-asp\",\r\n  \"name\": \"ase-cert-repro-for[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/aarthisk/providers/Microsoft.Web/serverfarms/Default1?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/aarthisk/providers/Microsoft.Web/serverfarms/Default1\",\r\n  \"name\": \"Default1\",\r\n  \"type\": \"Microsoft.Web/serverfarms\"[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/aarthisk1/providers/Microsoft.Web/serverfarms/ASP3?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/aarthisk1/providers/Microsoft.Web/serverfarms/ASP3\",\r\n  \"name\": \"ASP3\",\r\n  \"type\": \"Microsoft.Web/serverfarms\",\r\n  \"k[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/adasds22dssa1/providers/Microsoft.Web/serverfarms/dfsdfsdfdfdf?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/adasds22dssa1/providers/Microsoft.Web/serverfarms/dfsdfsdfdfdf\",\r\n  \"name\": \"dfsdfsdfdfdf\",\r\n  \"type\": \"Micro[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/akurmidomaindemorg/providers/Microsoft.Web/serverfarms/akurmidomaindemoplan?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/akurmidomaindemorg/providers/Microsoft.Web/serverfarms/akurmidomaindemoplan\",\r\n  \"name\": \"akurmidomain[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/akurmidomaindemorg/providers/Microsoft.Web/serverfarms/Default1?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/akurmidomaindemorg/providers/Microsoft.Web/serverfarms/Default1\",\r\n  \"name\": \"Default1\",\r\n  \"type\": \"Microso[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/alisa/providers/Microsoft.Web/serverfarms/alsia?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/alisa/providers/Microsoft.Web/serverfarms/alsia\",\r\n  \"name\": \"alsia\",\r\n  \"type\": \"Microsoft.Web/serverfarms\",\r\n  \"kind\"[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/alpagari/providers/Microsoft.Web/serverfarms/testAppServicePlan?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/alpagari/providers/Microsoft.Web/serverfarms/testAppServicePlan\",\r\n  \"name\": \"testAppServicePlan\",\r\n  \"type\":[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/andimarc-slotstest/providers/Microsoft.Web/serverfarms/andimarc-slotstest?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/andimarc-slotstest/providers/Microsoft.Web/serverfarms/andimarc-slotstest\",\r\n  \"name\": \"andimarc-slotste[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/andreyse/providers/Microsoft.Web/serverfarms/andreyseisolatedplan?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/andreyse/providers/Microsoft.Web/serverfarms/andreyseisolatedplan\",\r\n  \"name\": \"andreyseisolatedplan\",\r\n  \"t[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/andreyse/providers/Microsoft.Web/serverfarms/deletemedeleteme?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/andreyse/providers/Microsoft.Web/serverfarms/deletemedeleteme\",\r\n  \"name\": \"deletemedeleteme\",\r\n  \"type\": \"Mic[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/andreyse/providers/Microsoft.Web/serverfarms/FrebAppService?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/andreyse/providers/Microsoft.Web/serverfarms/FrebAppService\",\r\n  \"name\": \"FrebAppService\",\r\n  \"type\": \"Microsoft[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/andreyse/providers/Microsoft.Web/serverfarms/IndiaAppServicePlan?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/andreyse/providers/Microsoft.Web/serverfarms/IndiaAppServicePlan\",\r\n  \"name\": \"IndiaAppServicePlan\",\r\n  \"type[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/andreyse/providers/Microsoft.Web/serverfarms/SouthCentralUSPlan?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/andreyse/providers/Microsoft.Web/serverfarms/SouthCentralUSPlan\",\r\n  \"name\": \"SouthCentralUSPlan\",\r\n  \"type\":[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/andreyselinuxapp/providers/Microsoft.Web/serverfarms/andreyselinuxplan?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/andreyselinuxapp/providers/Microsoft.Web/serverfarms/andreyselinuxplan\",\r\n  \"name\": \"andreyselinuxplan\",\r[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/antares-durable-rg/providers/Microsoft.Web/serverfarms/WestUSPlan?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/antares-durable-rg/providers/Microsoft.Web/serverfarms/WestUSPlan\",\r\n  \"name\": \"WestUSPlan\",\r\n  \"type\": \"M[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AntUx/providers/Microsoft.Web/serverfarms/AntUx?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AntUx/providers/Microsoft.Web/serverfarms/AntUx\",\r\n  \"name\": \"AntUx\",\r\n  \"type\": \"Microsoft.Web/serverfarms\",\r\n  \"kind\"[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AntUx/providers/Microsoft.Web/serverfarms/MigrationDestination?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AntUx/providers/Microsoft.Web/serverfarms/MigrationDestination\",\r\n  \"name\": \"MigrationDestination\",\r\n  \"type\":[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/antuxRbacTest/providers/Microsoft.Web/serverfarms/antuxRbacASP?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/antuxRbacTest/providers/Microsoft.Web/serverfarms/antuxRbacASP\",\r\n  \"name\": \"antuxRbacASP\",\r\n  \"type\": \"Micro[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/antuxRbacTest/providers/Microsoft.Web/serverfarms/antuxRbacHelperASP?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/antuxRbacTest/providers/Microsoft.Web/serverfarms/antuxRbacHelperASP\",\r\n  \"name\": \"antuxRbacHelperASP\",\r\n [...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/app-lke-tm-eastus/providers/Microsoft.Web/serverfarms/asp-lke-tm-eastus?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/app-lke-tm-eastus/providers/Microsoft.Web/serverfarms/asp-lke-tm-eastus\",\r\n  \"name\": \"asp-lke-tm-eastus\",[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/app-lke-tm-westus/providers/Microsoft.Web/serverfarms/asp-lke-tm-westus?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/app-lke-tm-westus/providers/Microsoft.Web/serverfarms/asp-lke-tm-westus\",\r\n  \"name\": \"asp-lke-tm-westus\",[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/appdemorg/providers/Microsoft.Web/serverfarms/travelproductionplan?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/appdemorg/providers/Microsoft.Web/serverfarms/travelproductionplan\",\r\n  \"name\": \"travelproductionplan\",\r\n  \[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/appsvc_rg_Linux_CentralUS/providers/Microsoft.Web/serverfarms/appsvc_asp_Linux_CentralUS?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/appsvc_rg_Linux_CentralUS/providers/Microsoft.Web/serverfarms/appsvc_asp_Linux_CentralUS\",\r\n[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/appsvc_rg_Linux_CentralUS/providers/Microsoft.Web/serverfarms/michinoy?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/appsvc_rg_Linux_CentralUS/providers/Microsoft.Web/serverfarms/michinoy\",\r\n  \"name\": \"michinoy\",\r\n  \"typ[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/aseforlinuxtcext/providers/Microsoft.Web/serverfarms/appforlinuxcontainerplan?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/aseforlinuxtcext/providers/Microsoft.Web/serverfarms/appforlinuxcontainerplan\",\r\n  \"name\": \"appforli[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/aseforlinuxtcext/providers/Microsoft.Web/serverfarms/apponlinuxaseext?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/aseforlinuxtcext/providers/Microsoft.Web/serverfarms/apponlinuxaseext\",\r\n  \"name\": \"apponlinuxaseext\",\r\n [...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/azieltestps10/providers/Microsoft.Web/serverfarms/azielplan?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/azieltestps10/providers/Microsoft.Web/serverfarms/azielplan\",\r\n  \"name\": \"azielplan\",\r\n  \"type\": \"Microsoft.Web/[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AzureFunctions/providers/Microsoft.Web/serverfarms/Default1?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AzureFunctions/providers/Microsoft.Web/serverfarms/Default1\",\r\n  \"name\": \"Default1\",\r\n  \"type\": \"Microsoft.Web/s[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AzureFunctions-AustraliaEast/providers/Microsoft.Web/serverfarms/AustraliaEastPlan?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AzureFunctions-AustraliaEast/providers/Microsoft.Web/serverfarms/AustraliaEastPlan\",\r\n  \"name\": [...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AzureFunctions-SouthCentralUS/providers/Microsoft.Web/serverfarms/SouthCentralUSPlan?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AzureFunctions-SouthCentralUS/providers/Microsoft.Web/serverfarms/SouthCentralUSPlan\",\r\n  \"name[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AzureFunctions-SoutheastAsia/providers/Microsoft.Web/serverfarms/Default1?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AzureFunctions-SoutheastAsia/providers/Microsoft.Web/serverfarms/Default1\",\r\n  \"name\": \"Default1\",\r\n [...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AzureFunctions-WestEurope/providers/Microsoft.Web/serverfarms/Default1?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AzureFunctions-WestEurope/providers/Microsoft.Web/serverfarms/Default1\",\r\n  \"name\": \"Default1\",\r\n  \"typ[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AzureFunctions-WestUS/providers/Microsoft.Web/serverfarms/Default1?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AzureFunctions-WestUS/providers/Microsoft.Web/serverfarms/Default1\",\r\n  \"name\": \"Default1\",\r\n  \"type\": \"M[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AzureFunctions-WestUS2/providers/Microsoft.Web/serverfarms/WestUS2Plan?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AzureFunctions-WestUS2/providers/Microsoft.Web/serverfarms/WestUS2Plan\",\r\n  \"name\": \"WestUS2Plan\",\r\n  \"[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/Azurejoomla111/providers/Microsoft.Web/serverfarms/Azurejoomla111?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/Azurejoomla111/providers/Microsoft.Web/serverfarms/Azurejoomla111\",\r\n  \"name\": \"Azurejoomla111\",\r\n  \"type\":[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/Azurephpbb/providers/Microsoft.Web/serverfarms/Azurephpbb?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/Azurephpbb/providers/Microsoft.Web/serverfarms/Azurephpbb\",\r\n  \"name\": \"Azurephpbb\",\r\n  \"type\": \"Microsoft.Web/ser[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/azuresecteam/providers/Microsoft.Web/serverfarms/JabbR649c?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/azuresecteam/providers/Microsoft.Web/serverfarms/JabbR649c\",\r\n  \"name\": \"JabbR649c\",\r\n  \"type\": \"Microsoft.Web/se[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AzureTestBetterCMS/providers/Microsoft.Web/serverfarms/AzureTestBetterCMS?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/AzureTestBetterCMS/providers/Microsoft.Web/serverfarms/AzureTestBetterCMS\",\r\n  \"name\": \"AzureTestBetterC[...]
[...]
    {
      "RequestUri": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/Azurevirtocommerce/providers/Microsoft.Web/serverfarms/Azurevirtocommerce?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
[...]
