{
  "Entries": [
    {
      "RequestUri": "/nodeagentskus?api-version=2017-09-01.6.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 06 Oct 2017 03:10:20 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#nodeagentskus\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"batch.node.centos 7\",\r\n      \"verifiedImageReferences\": [\r\n        {\r\n          \"publisher\": \"OpenLogic\",\r\n          \"offer\": \"CentOS\",\r\n          \"sku\": \"7.3\",\r\n          \"version\": \"latest\"\r\n        },\r\n        {\r\n          \"publisher\": \"OpenLogic\",\r\n          \"offer\": \"CentOS-HPC\",\r\n          \"sku\": \"7.3\",\r\n          \"version\": \"latest\"\r\n        },\r\n        {\r\n          \"publisher\": \"Oracle\",\r\n          \"offer\": \"Oracle-Linux\",\r\n          \"sku\": \"7.3\",\r\n          \"version\": \"latest\"\r\n        },\r\n        {\r\n          \"publisher\": \"microsoft-ads\",\r\n          \"offer\": \"linux-data-science-vm\",\r\n          \"sku\": \"linuxdsvm\",\r\n          \"version\": \"latest\"\r\n        },\r\n        {\r\n          \"publisher\": \"batch\",\r\n          \"offer\": \"rendering-centos73\",\r\n          \"sku\": \"rendering\",\r\n          \"version\": \"latest\"\r\n        }\r\n      ],\r\n      \"osType\": \"linux\"\r\n    },\r\n    {\r\n      \"id\": \"batch.node.debian 8\",\r\n      \"verifiedImageReferences\": [\r\n        {\r\n          \"publisher\": \"Credativ\",\r\n          \"offer\": \"Debian\",\r\n          \"sku\": \"8\",\r\n          \"version\": \"latest\"\r\n        },\r\n        {\r\n          \"publisher\": \"Credativ\",\r\n          \"offer\": \"Debian\",\r\n          \"sku\": \"8-backports\",\r\n          \"version\": \"latest\"\r\n        }\r\n      ],\r\n      \"osType\": \"li[...]
