{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourcegroups/ps1649?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourcegroups/ps1826?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "35"
<<<<<<< HEAD
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649\",\r\n  \"name\": \"ps1649\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1199"
        ],
        "x-ms-request-id": [
          "03631ff0-f49d-4b1c-9e77-5e0169eacda5"
        ],
        "x-ms-correlation-request-id": [
          "03631ff0-f49d-4b1c-9e77-5e0169eacda5"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180506T070529Z:03631ff0-f49d-4b1c-9e77-5e0169eacda5"
=======
          "1193"
        ],
        "x-ms-request-id": [
          "e210e178-6269-4b08-ad22-39d6a26504c9"
        ],
        "x-ms-correlation-request-id": [
          "e210e178-6269-4b08-ad22-39d6a26504c9"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20201117T195334Z:e210e178-6269-4b08-ad22-39d6a26504c9"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Sun, 06 May 2018 07:05:28 GMT"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/servers/ps5729?api-version=2015-05-01-preview",
=======
        "Date": [
          "Tue, 17 Nov 2020 19:53:33 GMT"
        ],
        "Content-Length": [
          "172"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/ps1826\",\r\n  \"name\": \"ps1826\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/ps1826/providers/Microsoft.Sql/servers/ps1689?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "382f6dec-0b4c-4fbd-ad82-d3d67ed213e6"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.15.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/ps5729' under resource group 'ps1649' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "14aa0f27-8ecc-43f1-a23e-742c83040378"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.46.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "45ddd143-8962-483d-9eeb-5bd8679865e5"
        ],
        "x-ms-correlation-request-id": [
          "45ddd143-8962-483d-9eeb-5bd8679865e5"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180506T070529Z:45ddd143-8962-483d-9eeb-5bd8679865e5"
=======
          "b7da85e4-0dbc-47e4-b9ff-e9a36c9de7c9"
        ],
        "x-ms-correlation-request-id": [
          "b7da85e4-0dbc-47e4-b9ff-e9a36c9de7c9"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20201117T195335Z:b7da85e4-0dbc-47e4-b9ff-e9a36c9de7c9"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Sun, 06 May 2018 07:05:29 GMT"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/ps1826/providers/Microsoft.Sql/servers/ps1689?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.15.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"ps5729.database.windows.net\"\r\n  },\r\n  \"location\": \"westus2\",\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/servers/ps5729\",\r\n  \"name\": \"ps5729\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.46.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "01773db9-0d0b-41f8-9f68-95703d232d41"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14994"
        ],
        "x-ms-correlation-request-id": [
          "c2db67f2-1dca-4048-9d6a-e44b4160ba92"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180506T070621Z:c2db67f2-1dca-4048-9d6a-e44b4160ba92"
=======
          "dcde9d07-415a-4132-bef7-a345cf00de46"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11950"
        ],
        "x-ms-correlation-request-id": [
          "264a9594-824d-4b1a-a950-cd0e12aa4162"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20201117T195421Z:264a9594-824d-4b1a-a950-cd0e12aa4162"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Sun, 06 May 2018 07:06:20 GMT"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/servers/ps5729?api-version=2015-05-01-preview",
=======
        "Date": [
          "Tue, 17 Nov 2020 19:54:21 GMT"
        ],
        "Content-Length": [
          "409"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"ps1689.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westus2\",\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/ps1826/providers/Microsoft.Sql/servers/ps1689\",\r\n  \"name\": \"ps1689\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/servers/ps5729?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!\"\r\n  },\r\n  \"location\": \"West US 2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2018-05-06T07:05:30.49Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        "Date": [
          "Tue, 17 Nov 2020 19:55:08 GMT"
        ],
        "Content-Length": [
          "409"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"ps1689.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westus2\",\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/ps1826/providers/Microsoft.Sql/servers/ps1689\",\r\n  \"name\": \"ps1689\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/ps1826/providers/Microsoft.Sql/servers/ps1689?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/locations/westus2/serverAzureAsyncOperation/8f046ab3-97b7-45a7-8668-84a30531829a?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "8f046ab3-97b7-45a7-8668-84a30531829a"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
          "0937ded2-52f3-4b73-a217-06b9596fb8f6"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180506T070530Z:0937ded2-52f3-4b73-a217-06b9596fb8f6"
=======
        "x-ms-request-id": [
          "3699f727-c94b-4c3a-be9f-8717e060387a"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11940"
        ],
        "x-ms-correlation-request-id": [
          "3ac8fa78-511d-4ff3-a662-4a7954a15178"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20201117T195508Z:3ac8fa78-511d-4ff3-a662-4a7954a15178"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Sun, 06 May 2018 07:05:30 GMT"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/locations/westus2/serverOperationResults/8f046ab3-97b7-45a7-8668-84a30531829a?api-version=2015-05-01-preview"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/locations/westus2/serverAzureAsyncOperation/8f046ab3-97b7-45a7-8668-84a30531829a?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"8f046ab3-97b7-45a7-8668-84a30531829a\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-05-06T07:05:30.49Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        "Date": [
          "Tue, 17 Nov 2020 19:55:08 GMT"
        ],
        "Content-Length": [
          "409"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"ps1689.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westus2\",\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/ps1826/providers/Microsoft.Sql/servers/ps1689\",\r\n  \"name\": \"ps1689\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/servers/ps5729/databases/ps5992?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/ps5729/databases/ps5992' under resource group 'ps1649' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        "Date": [
          "Tue, 17 Nov 2020 19:53:35 GMT"
        ],
        "Content-Length": [
          "73"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-11-17T19:53:35.91Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/ps1826/providers/Microsoft.Sql/locations/westus2/serverAzureAsyncOperation/10a77dce-bd92-4257-bacb-1532cc80468b?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.15.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 10\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 268435456000,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"a31bdfb3-4dcf-40d6-8ab4-47665d0ebac4\",\r\n    \"creationDate\": \"2018-05-06T07:06:22.18Z\",\r\n    \"currentServiceObjectiveName\": \"S0\",\r\n    \"requestedServiceObjectiveName\": \"S0\",\r\n    \"defaultSecondaryLocation\": \"West Central US\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"earliestRestoreDate\": \"2018-05-06T07:37:06.457Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"currentSku\": {\r\n      \"name\": \"Standard\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 10\r\n    }\r\n  },\r\n  \"location\": \"westus2\",\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/servers/ps5729/databases/ps5992\",\r\n  \"name\": \"ps5992\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        [...]
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/locations/westus2/databaseAzureAsyncOperation/51b22b65-2144-4e81-8d03-26565335154c?api-version=2017-10-01-preview",
=======
        "Date": [
          "Tue, 17 Nov 2020 19:53:38 GMT"
        ],
        "Content-Length": [
          "107"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"10a77dce-bd92-4257-bacb-1532cc80468b\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-11-17T19:53:35.91Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/servers/ps5729/databases/ps4130?api-version=2017-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"maxSizeBytes\": 0,\r\n    \"readScale\": \"Disabled\"\r\n  },\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2018-05-06T07:07:07.677Z\"\r\n}",
      "ResponseHeaders": {
=======
        "Date": [
          "Tue, 17 Nov 2020 19:55:08 GMT"
        ],
        "Content-Length": [
          "964"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 2\r\n  },\r\n  \"kind\": \"v12.0,user,vcore\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 34359738368,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"0dcde558-23b5-4d80-b80e-5435b1af84e9\",\r\n    \"creationDate\": \"2020-11-17T19:55:04.343Z\",\r\n    \"currentServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"requestedServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"defaultSecondaryLocation\": \"westcentralus\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"maxLogSizeBytes\": 10307921510,\r\n    \"earliestRestoreDate\": \"2020-11-17T20:25:04.343Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"currentSku\": {\r\n      \"name\": \"GP_Gen5\",\r\n      \"tier\": \"GeneralPurpose\",\r\n      \"family\": \"Gen5\",\r\n      \"capacity\": 2\r\n    },\r\n    \"storageAccountType\": \"GRS\"\r\n  },\r\n  \"location\": \"westus2\",\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/ps1826/providers/Microsoft.Sql/servers/ps1689/databases/ps3051\",\r\n  \"name\": \"ps3051\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/servers/ps5729/databases/ps5992/syncGroups/ps5589?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The requested resource of type 'Microsoft.Sql/servers/databases/syncGroups' with name 'ps5589' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        "Date": [
          "Tue, 17 Nov 2020 19:55:54 GMT"
        ],
        "Content-Length": [
          "107"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"d2844355-3f8f-4a0f-83be-18a53f354b7c\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-11-17T19:55:09.213Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/ps1826/providers/Microsoft.Sql/servers/ps1689/databases/ps1595?api-version=2020-08-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "Microsoft.Azure.Management.Sql.LegacySdk.SqlManagementClient/4.4.1.0"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"interval\": 300,\r\n    \"lastSyncTime\": \"0001-01-01T00:00:00Z\",\r\n    \"conflictResolutionPolicy\": \"HubWin\",\r\n    \"syncDatabaseId\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/servers/ps5729/databases/ps4997\",\r\n    \"hubDatabaseUserName\": \"testusername\",\r\n    \"syncState\": \"NotReady\"\r\n  },\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/servers/ps5729/databases/ps5992/syncGroups/ps5589\",\r\n  \"name\": \"ps5589\",\r\n  \"type\": \"Microsoft.Sql/servers/databases/syncGroups\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Window[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/servers/ps5729/databases/ps5992/syncGroups/ps5589?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"interval\": 300,\r\n    \"conflictResolutionPolicy\": \"HubWin\",\r\n    \"syncDatabaseId\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/servers/ps5729/databases/ps4997\",\r\n    \"hubDatabaseUserName\": \"testusername\",\r\n    \"hubDatabasePassword\": \"t357ingP@s5w0rd!\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertSyncGroup\",\r\n  \"startTime\": \"2018-05-06T07:08:44.723Z\"\r\n}",
      "ResponseHeaders": {
=======
        "Date": [
          "Tue, 17 Nov 2020 19:56:40 GMT"
        ],
        "Content-Length": [
          "962"
        ],
        "Content-Type": [
          "application/json; charset=utf[...]
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/locations/westus2/syncGroupOperationResults/cb566f80-a018-4fd5-8deb-99d65194f53b?api-version=2015-05-01-preview",
=======
        "Date": [
          "Tue, 17 Nov 2020 19:55:55 GMT"
        ],
        "Content-Length": [
          "75"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2020-11-17T19:55:55.48Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/ps1826/providers/Microsoft.Sql/locations/westus2/databaseAzureAsyncOperation/01dc272f-6cb0-47cf-ac7f-2457bb4943cf?api-version=2020-08-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "Microsoft.Azure.Management.Sql.LegacySdk.SqlManagementClient/4.4.1.0"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"interval\": 300,\r\n    \"lastSyncTime\": \"0001-01-01T00:00:00Z\",\r\n    \"conflictResolutionPolicy\": \"HubWin\",\r\n    \"syncDatabaseId\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/servers/ps5729/databases/ps4997\",\r\n    \"syncState\": \"Good\",\r\n    \"enableConflictLogging\": false,\r\n    \"conflictLoggingRetentionInDays\": 30\r\n  },\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/servers/ps5729/databases/ps5992/syncGroups/ps5589\",\r\n  \"name\": \"ps5589\",\r\n  \"type\": \"Microsoft.Sql/servers/databases/syncGroups\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.177[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/servers/ps5729/databases/ps5992/syncGroups/ps5589/syncMembers/ps6751?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The requested resource of type 'Microsoft.Sql/servers/databases/syncGroups/syncMembers' with name 'ps6751' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        "Date": [
          "Tue, 17 Nov 2020 19:56:40 GMT"
        ],
        "Content-Length": [
          "106"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"01dc272f-6cb0-47cf-ac7f-2457bb4943cf\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-11-17T19:55:55.48Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/servers/ps5729/databases/ps5992/syncGroups/ps5589/syncMembers/ps6751?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"databaseType\": \"AzureSqlDatabase\",\r\n    \"serverName\": \"ps5729.database.windows.net\",\r\n    \"databaseName\": \"ps4130\",\r\n    \"userName\": \"testusername\",\r\n    \"syncDirection\": \"Bidirectional\",\r\n    \"syncState\": \"UnProvisioned\",\r\n    \"skipInitSync\": false\r\n  },\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/ps1649/providers/Microsoft.Sql/servers/ps5729/databases/ps5992/syncGroups/ps5589/syncMembers/ps6751\",\r\n  \"name\": \"ps6751\",\r\n  \"type\": \"Microsoft.Sql/servers/databases/syncGroups/syncMembers\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        "Date": [
          "Tue, 17 Nov 2020 19:56:40 GMT"
        ],
        "Content-Length": [
          "159"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The requested resource of type 'Microsoft.Sql/servers/databases/syncGroups' with name 'ps1647' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/ps1826/providers/Microsoft.Sql/servers/ps1689/databases/ps3051/syncGroups/ps1647?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
[...]
