{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4f2b42fc-a99d-4fc3-8ab8-5a382d8b30df/resourcegroups/ps2610?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/4f2b42fc-a99d-4fc3-8ab8-5a382d8b30df/resourceGroups/ps2610\",\r\n  \"name\": \"ps2610\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/4f2b42fc-a99d-4fc3-8ab8-5a382d8b30df/resourceGroups/ps2610/providers/Microsoft.Sql/servers/ps7302?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/ps7302' under resource group 'ps2610' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/4f2b42fc-a99d-4fc3-8ab8-5a382d8b30df/resourceGroups/ps2610/providers/Microsoft.Sql/servers/ps7302?api-version=2024-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"Sanitized\",\r\n    \"minimalTlsVersion\": \"1.2\",\r\n    \"createMode\": \"Normal\"\r\n  },\r\n  \"location\": \"West Europe\"\r\n}",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"LocationNotAvailableForResourceType\",\r\n    \"message\": \"The provided location 'West Europe' is not available for resource type 'Microsoft.Sql/servers'. List of available regions for the resource type is 'australiaeast,canadacentral,eastasia,eastus,northeurope,southeastasia,westus2'.\"\r\n  }\r\n}",
      "StatusCode": 400
    }
  ],
  "Names": {
    "Test-ListSyncAgentLinkedDatabase": [
      "ps2610",
      "ps7302"
    ]
  },
  "Variables": {
    "SubscriptionId": "4f2b42fc-a99d-4fc3-8ab8-5a382d8b30df"
  }
}