{
  "Entries": [
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/customerexperienceteam_rg/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases/autobot-managed-database?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"lastAvailableBackupDate\": \"2021-11-01T11:09:42.8406234Z\"\r\n  },\r\n  \"id\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/customerexperienceteam_rg/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases/autobot-managed-database\",\r\n  \"name\": \"autobot-managed-database\",\r\n  \"type\": \"Microsoft.Sql/managedInstances/recoverableDatabases\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/customerexperienceteam_rg/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"lastAvailableBackupDate\": \"2021-11-01T11:09:43.3562354Z\"\r\n      },\r\n      \"id\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/customerexperienceteam_rg/providers/Microsoft.Sql/managedInstances/autobot-managed-instance/recoverableDatabases/temp-restored-managed-database-1635421043469\",\r\n      \"name\": \"temp-restored-managed-database-1635421043469\",\r\n      \"type\": \"Microsoft.Sql/managedInstances/recovera[...]
