{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/restore-rg/providers/Microsoft.Sql/managedInstances/testbrinstance/recoverableDatabases/sourceDb?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"lastAvailableBackupDate\": \"2019-02-20T05:44:43.2446015Z\"\r\n  },\r\n  \"id\": \"/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/restore-rg/providers/Microsoft.Sql/managedInstances/testbrinstance/recoverableDatabases/sourcedb\",\r\n  \"name\": \"sourcedb\",\r\n  \"type\": \"Microsoft.Sql/managedInstances/recoverableDatabases\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/restore-rg/providers/Microsoft.Sql/managedInstances/testbrinstance/recoverableDatabases?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"lastAvailableBackupDate\": \"2019-02-20T05:44:44.1196687Z\"\r\n      },\r\n      \"id\": \"/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/restore-rg/providers/Microsoft.Sql/managedInstances/testbrinstance/recoverableDatabases/testrecovered1\",\r\n      \"name\": \"testrecovered1\",\r\n      \"type\": \"Microsoft.Sql/managedInstances/recoverableDatabases\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"lastAvailableBackupDate\": \"2019-02-20T05:44:44.1196687Z\"\r\n      },\r\n      \"id\": \"/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/restore-rg/providers/Microsoft.Sql/managedInstances/testbrinstance/recoverableDatabases/sourcedb\",\r\n      \"name\": \"sourcedb\",\r\n      \"type\": \"Microsoft.Sql/managedInstances/recoverableDatabases\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"lastAvailableBackupDate\": \"2019-02-20T05:44:44.1196687Z\"\r\n      },\r\n      \"id\": \"/subscriptions/a8c9a924-06c0-4bde-9788-e7b1370969e1/resourceGroups/restore-rg/providers/Microsoft.Sql/managedInstances/testbrinstance/recoverableDatabases/testbrdb\",\r\n      \"name\": \"testbrdb\",\r\n      \"type\": \"Microsoft.Sql/managedInstances/recoverableDatabases\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "a8c9a924-06c0-4bde-9788-e7b1370969e1"
  }
}