<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Management.SecurityCenter" version="0.9.0-preview" targetFramework="net472" />
  <package id="Microsoft.Azure.Test.HttpRecorder" version="1.10.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.28.3" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.12" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.13" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime.Azure.Authentication" version="2.3.0" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime.Azure.TestFramework" version="1.7.2" targetFramework="net472" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="15.8.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net452" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.3.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
  <package id="xunit" version="2.4.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.2" targetFramework="net452" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.4.0" targetFramework="net452" />
  <package id="xunit.core" version="2.4.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.4.0" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.4.0" targetFramework="net452" />
</packages>