{
    "Entries":  [
                    {
                        "RequestUri":  "/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/V2A-ECY/providers/Microsoft.RecoveryServices/vaults/Rcm-Vault-150?api-version=2024-04-01",
                        "RequestMethod":  "GET",
                        "RequestBody":  "",
                        "RequestHeaders":  {
                        "ResponseHeaders":  {
                                                "x-ms-ratelimit-remaining-subscription-reads":  [
                                                                                                    "11980"
                                                                                                ],
                                                "Content-Type":  [
                                                                     "application/json"
                                                                 ]
                        "ResponseBody":  "{\r\n  \"location\": \"eastus2euap\",\r\n  \"name\": \"Rcm-Vault-150\",\r\n  \"etag\": \"W/\\\"datetime\u00272021-08-25T04%3A54%3A22.5105157Z\u0027\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"privateEndpointStateForBackup\": \"None\",\r\n    \"privateEndpointStateForSiteRecovery\": \"None\"\r\n  },\r\n  \"id\": \"/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/V2A-ECY/providers/Microsoft.RecoveryServices/vaults/Rcm-Vault-150\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n  \"sku\": {\r\n    \"name\": \"RS0\",\r\n    \"tier\": \"Standard\"\r\n  }\r\n}",
                        "StatusCode":  200
                    },
                    {
                        "RequestUri":  "/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/V2A-ECY/providers/Microsoft.RecoveryServices/vaults/Rcm-Vault-150/extendedInformation/vaultExtendedInfo?api-version=2024-04-01",
                        "RequestMethod":  "GET",
                        "RequestBody":  "",
                        "RequestHeaders":  {
                                               "Agent-Authentication":  [
                                                                            ""
                                                                        ]
                        "ResponseHeaders":  {
                                                "x-ms-ratelimit-remaining-subscription-reads":  [
                                                                                                    "11979"
                                                                                                ],
                                                "Content-Type":  [
                                                                     "application/json"
                                                                 ]
                        "ResponseBody":  "{\r\n  \"name\": \"vaultExtendedInfo\",\r\n  \"etag\": \"6ff08158-428f-4c59-9f52-fca792dc6641\",\r\n  \"properties\": {\r\n    \"integrityKey\": \"aEsWvnHb1YrcZt0Z4D7AUA==\",\r\n    \"algorithm\": \"None\"\r\n  },\r\n  \"id\": \"/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/V2A-ECY/providers/Microsoft.RecoveryServices/vaults/Rcm-Vault-150extendedInformation/vaultExtendedInfo\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/extendedInformation\"\r\n}",
                        "StatusCode":  200
                    },
                    {
                        "RequestUri":  "/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/V2A-ECY/providers/Microsoft.RecoveryServices/vaults?api-version=2024-04-01",
                        "RequestMethod":  "GET",
                        "RequestBody":  "",
                        "RequestHeaders":  {
                        "ResponseHeaders":  {
                                                "x-ms-ratelimit-remaining-subscription-reads":  [
                                                                                                    "11978"
                                                                                                ],
                                                "Content-Type":  [
                                                                     "application/json"
                                                                 ]
                        "ResponseBody":  "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"eastus2euap\",\r\n      \"name\": \"Rcm-ECY-Vault-900\",\r\n      \"etag\": \"W/\\\"datetime\u00272021-08-13T15%3A22%3A31.2229784Z\u0027\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"privateEndpointStateForBackup\": \"None\",\r\n        \"privateEndpointStateForSiteRecovery\": \"None\"\r\n      },\r\n      \"id\": \"/subscriptions/b364ed8d-4279-4bf8-8fd1-56f8fa0ae05c/resourceGroups/V2A-ECY/providers/Microsoft.[...]
