{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Resources?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Resources\",\r\n  \"namespace\": \"Microsoft.Resources\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"3b990c8b-9607-4c2a-8b04-1d41985facca\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"tenants\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2020-01-01\",\r\n        \"2019-09-01\",\r\n        \"2019-05-01\",\r\n        \"2019-04-01\",\r\n        \"2019-03-01\",\r\n        \"2018-11-01\",\r\n        \"2018-09-01\",\r\n        \"2018-08-01\",\r\n        \"2018-07-01\",\r\n        \"2018-05-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-01\",\r\n        \"2017-08-01\",\r\n        \"2017-06-01\",\r\n        \"2017-05-10\",\r\n        \"2017-05-01\",\r\n        \"2017-03-01\",\r\n        \"2016-09-01\",\r\n        [...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.StorageSync?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.StorageSync\",\r\n  \"namespace\": \"Microsoft.StorageSync\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"9469b9f5-6722-4481-a2b2-14ed560b706f\",\r\n      \"roleDefinitionId\": \"4cd49d82-1f4d-43fc-af0c-1c1203668e5a\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageSyncServices\",\r\n      \"locations\": [\r\n        \"West Central US\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"East US\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Brazil South\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"West US 2\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"France South\",\r\n        \"South Africa North\",\r\n        \"South Africa West\",\r\n        \"UAE North\",\r\n        \"UAE Central\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2020-03-01\",\r\n        \"2019-10-01\",\r\n        \"2019-06-01\",\r\n        \"2019-03-01\",\r\n        \"2019-02-01\",\r\n        \"2018-10-01\",\r\n        \"2018-07-01\",\r\n        \"2018-04-02\",\r\n        \"2018-01-01-preview\",\r\n        \"2017-06-05-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"storageSyncServices/syncGroups\",\r\n      \"locations\": [\r\n        \"West Central US\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"East US\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n  [...]
    {
      "RequestUri": "/tenants?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/tenants/6ad91d65-65ab-4e14-90f7-fe951035b7c9\",\r\n      \"tenantId\": \"6ad91d65-65ab-4e14-90f7-fe951035b7c9\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourcegroups/ps1498?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps1498\",\r\n  \"name\": \"ps1498\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.StorageSync/locations/CentralUSEUAP/checkNameAvailability?api-version=2020-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"sssps5814\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps1498/providers/Microsoft.StorageSync/storageSyncServices/sssps5814?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjRiNjRjOGJmLWEwZWMtNDZjNS1hYWYwLTAyMDQzNzA2YjM0MCIsIndvcmtmbG93SWQiOiJmMWE4YjU5My01ZDc2LTRlNmMtODZiNi05OWQyMTQxZDJmOTMiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMmNmM2UwNDUtMjViMy00YWI3LTk0ODktNjk2MjFiZjVjMzZiIn0=?api-version=2020-03-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjRiNjRjOGJmLWEwZWMtNDZjNS1hYWYwLTAyMDQzNzA2YjM0MCIsIndvcmtmbG93SWQiOiJmMWE4YjU5My01ZDc2LTRlNmMtODZiNi05OWQyMTQxZDJmOTMiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMmNmM2UwNDUtMjViMy00YWI3LTk0ODktNjk2MjFiZjVjMzZiIn0=?api-version=2020-03-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjRiNjRjOGJmLWEwZWMtNDZjNS1hYWYwLTAyMDQzNzA2YjM0MCIsIndvcmtmbG93SWQiOiJmMWE4YjU5My01ZDc2LTRlNmMtODZiNi05OWQyMTQxZDJmOTMiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMmNmM2UwNDUtMjViMy00YWI3LTk0ODktNjk2MjFiZjVjMzZiIn0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjRiNjRjOGJmLWEwZWMtNDZjNS1hYWYwLTAyMDQzNzA2YjM0MCIsIndvcmtmbG93SWQiOiJmMWE4YjU5My01ZDc2LTRlNmMtODZiNi05OWQyMTQxZDJmOTMiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMmNmM2UwNDUtMjViMy00YWI3LTk0ODktNjk2MjFiZjVjMzZiIn0=\",\r\n  \"name\": \"eyJwYXJ0aXRpb25JZCI6IjRiNjRjOGJmLWEwZWMtNDZjNS1hYWYwLTAyMDQzNzA2YjM0MCIsIndvcmtmbG93SWQiOiJmMWE4YjU5My01ZDc2LTRlNmMtODZiNi05OWQyMTQxZDJmOTMiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMmNmM2UwNDUtMjViMy00YWI3LTk0ODktNjk2MjFiZjVjMzZiIn0=\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-06-23T08:58:34.779155Z\",\r\n  \"endTime\": \"2020-06-23T08:58:41.5293301Z\",\r\n  \"properties\": {}\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps1498/providers/Microsoft.StorageSync/storageSyncServices/sssps5814?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageSyncServiceStatus\": 0,\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\",\r\n    \"privateEndpointConnections\": [],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"lastWorkflowId\": \"storageSyncServices/sssps5814/workflows/f1a8b593-5d76-4e6c-86b6-99d2141d2f93\",\r\n    \"lastOperationName\": \"ICreateStorageSyncServiceWorkflow\"\r\n  },\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps1498/providers/microsoft.storagesync/storageSyncServices/sssps5814\",\r\n  \"name\": \"sssps5814\",\r\n  \"type\": \"microsoft.storagesync/storageSyncServices\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps1498/providers/Microsoft.StorageSync/storageSyncServices/sssps5814/syncGroups/sgps4938?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"syncGroupStatus\": \"0\",\r\n    \"uniqueId\": \"ca5c866d-f242-41e4-a77a-78798e79b122\"\r\n  },\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps1498/providers/microsoft.storagesync/storageSyncServices/sssps5814/syncGroups/sgps4938\",\r\n  \"name\": \"sgps4938\",\r\n  \"type\": \"microsoft.storagesync/storageSyncServices/syncGroups\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps1498/providers/Microsoft.Storage/storageAccounts/saps8837?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"Central US EUAP\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Storage/locations/centraluseuap/asyncoperations/85852571-7b5b-49bb-a7ff-bdd9805f7cfb?monitor=true&api-version=2017-10-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Storage/locations/centraluseuap/asyncoperations/85852571-7b5b-49bb-a7ff-bdd9805f7cfb?monitor=true&api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps1498/providers/Microsoft.Storage/storageAccounts/saps8837\",\r\n  \"name\": \"saps8837\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-06-23T08:58:45.9647655Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-06-23T08:58:45.9647655Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2020-06-23T08:58:45.9022779Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://saps8837.blob.core.windows.net/\",\r\n      \"queue\": \"https://saps8837.queue.core.windows.net/\",\r\n      \"table\": \"https://saps8837.table.core.windows.net/\",\r\n      \"file\": \"https://saps8837.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"centraluseuap\",\r\n    \"statusOfPrimary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps1498/providers/Microsoft.Storage/storageAccounts/saps8837/listKeys?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\": \"Vf8mQl5V90xxYTwUcynas+OlgMNGWuhz9ohs1L9KWomlmEgeWgx0t8kjgVpgO4mZhg3XR7jCRlAR2BA077pmug==\",\r\n      \"permissions\": \"FULL\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"OlARrJiUaIYOwhKkTiJ9T2btpzpTN5A1CdkXtFcTv+wjVUXPqBfQvn8dVzHvRoGte+0LjE8rwVRbN8BEJIJIKA==\",\r\n      \"permissions\": \"FULL\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/6ad91d65-65ab-4e14-90f7-fe951035b7c9/servicePrincipalsByAppId/9469b9f5-6722-4481-a2b2-14ed560b706f/objectId?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "gVYeWZfSX9mkzriipUjAD9i6IZAJ5eI2PiGNN2hB0oU="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "hpO_lXqBtMelv60VtRlUNatY0T0T-vQiy17xTTlY6B83jXYHM3p6uviSb03YIj_8iEMPaS1SysvlHPYz7FEw-K604latTup2KNaM7X_K2EDDxct6IsSE3tjlGkNdhBsV.gW8w4bK5P3AYgfld-reOEa9Cve2-zsK22ng7nwCvDww"
        ],
        "x-aad-resource-unit": [
          "1"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "332273"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/6ad91d65-65ab-4e14-90f7-fe951035b7c9/$metadata#Edm.String\",\r\n  \"value\": \"d8eca219-3055-4504-9a60-18c2d0b4c18c\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/6ad91d65-65ab-4e14-90f7-fe951035b7c9/servicePrincipals/d8eca219-3055-4504-9a60-18c2d0b4c18c?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "gVYeWZfSX9mkzriipUjAD9i6IZAJ5eI2PiGNN2hB0oU="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "pQtMSsxVhz-tqzFK5mY2XJfq5k2XXs4BdeQvcF96gYKa80eBLDCUYiH_4G43GI_RJMbLyrAOYunsI6X7d8fyLDmh0WZ4T3pprk1FQINmQq4KorNE9R05tCZpE_Z_brur.S8kPw5wLJGiylT0u98lk7_uuKtBSkhfJVadRf-RiOkk"
        ],
        "x-aad-resource-unit": [
          "1"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "303025"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/6ad91d65-65ab-4e14-90f7-fe951035b7c9/$metadata#directoryObjects/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"d8eca219-3055-4504-9a60-18c2d0b4c18c\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"Microsoft.StorageSync\",\r\n  \"appId\": \"9469b9f5-6722-4481-a2b2-14ed560b706f\",\r\n  \"applicationTemplateId\": null,\r\n  \"appOwnerTenantId\": \"f8cdef31-a31e-4b4a-93e4-5f571e91255a\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"Microsoft.StorageSync\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": null,\r\n  \"informationalUrls\": {\r\n    \"termsOfService\": null,\r\n    \"support\": null,\r\n    \"privacy\": null,\r\n    \"marketing\": null\r\n  },\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"notificationEmailAddresses\": [],\r\n  \"oauth2Permissions\": [],\r\n  \"passwordCredentials\": [],\r\n  \"preferredSingleSignOnMode\": null,\r\n  \"preferredTokenSigningKeyEndDateTime\": null,\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"Microsoft Services\",\r\n  \"replyUrls\": [\r\n    \"https://0c38d04b-cf53-496f-aa30-9751eaf67399/redir\"\r\n  ],\r\n  \"samlMetadataUrl\": null,\r\n  \"samlSingleSignOnSettings\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"9469b9f5-6722-4481-a2b2-14ed560b706f\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"signInAudience\": \"AzureADMultipleOrgs\",\r\n  \"tags\": [],\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "///providers/Microsoft.Authorization/roleDefinitions/c12c1c16-33a1-487b-954d-41c89c60f349?api-version=2015-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleName\": \"Reader and Data Access\",\r\n    \"type\": \"BuiltInRole\",\r\n    \"description\": \"Lets you view everything but will not let you delete or create a storage account or contained resource. It will also allow read/write access to all data contained in a storage account via access to storage account keys.\",\r\n    \"assignableScopes\": [\r\n      \"/\"\r\n    ],\r\n    \"permissions\": [\r\n      {\r\n        \"actions\": [\r\n          \"Microsoft.Storage/storageAccounts/listKeys/action\",\r\n          \"Microsoft.Storage/storageAccounts/ListAccountSas/action\",\r\n          \"Microsoft.Storage/storageAccounts/read\"\r\n        ],\r\n        \"notActions\": []\r\n      }\r\n    ],\r\n    \"createdOn\": \"2018-03-27T23:20:46.1498906Z\",\r\n    \"updatedOn\": \"2019-04-04T23:41:26.1056261Z\",\r\n    \"createdBy\": null,\r\n    \"updatedBy\": null\r\n  },\r\n  \"id\": \"/providers/Microsoft.Authorization/roleDefinitions/c12c1c16-33a1-487b-954d-41c89c60f349\",\r\n  \"type\": \"Microsoft.Authorization/roleDefinitions\",\r\n  \"name\": \"c12c1c16-33a1-487b-954d-41c89c60f349\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourcegroups/ps1498/providers/Microsoft.Storage///storageAccounts/saps8837/providers/Microsoft.Authorization/roleAssignments?$filter=assignedTo('d8eca219-3055-4504-9a60-18c2d0b4c18c')&api-version=2015-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleDefinitionId\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\r\n        \"principalId\": \"d8eca219-3055-4504-9a60-18c2d0b4c18c\",\r\n        \"scope\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b\",\r\n        \"createdOn\": \"2020-05-23T18:29:54.9647107Z\",\r\n        \"updatedOn\": \"2020-05-23T18:29:54.9647107Z\",\r\n        \"createdBy\": \"a8656ec6-d7a4-4e38-bf78-58d74e3ed751\",\r\n        \"updatedBy\": \"a8656ec6-d7a4-4e38-bf78-58d74e3ed751\"\r\n      },\r\n      \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Authorization/roleAssignments/dc60f792-d409-4e1d-8fe5-192d121c26e9\",\r\n      \"type\": \"Microsoft.Authorization/roleAssignments\",\r\n      \"name\": \"dc60f792-d409-4e1d-8fe5-192d121c26e9\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps1498/providers/Microsoft.StorageSync/storageSyncServices/sssps5814/syncGroups/sgps4938/cloudEndpoints/cepps1263?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"storageAccountResourceId\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps1498/providers/Microsoft.Storage/storageAccounts/saps8837\",\r\n    \"azureFileShareName\": \"testfs\",\r\n    \"storageAccountTenantId\": \"6ad91d65-65ab-4e14-90f7-fe951035b7c9\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjRiNjRjOGJmLWEwZWMtNDZjNS1hYWYwLTAyMDQzNzA2YjM0MCIsIndvcmtmbG93SWQiOiJjMzVmOTI4MS1lOWE1LTQ0MWItODE5Yi1iMjQzNDc5ZGVmNjUiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZmQzZTExMjItZDY0Yi00Y2E3LTk4OTctMzM4N2ExMDhiYWU1In0=?api-version=2020-03-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjRiNjRjOGJmLWEwZWMtNDZjNS1hYWYwLTAyMDQzNzA2YjM0MCIsIndvcmtmbG93SWQiOiJjMzVmOTI4MS1lOWE1LTQ0MWItODE5Yi1iMjQzNDc5ZGVmNjUiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZmQzZTExMjItZDY0Yi00Y2E3LTk4OTctMzM4N2ExMDhiYWU1In0=?api-version=2020-03-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjRiNjRjOGJmLWEwZWMtNDZjNS1hYWYwLTAyMDQzNzA2YjM0MCIsIndvcmtmbG93SWQiOiJjMzVmOTI4MS1lOWE1LTQ0MWItODE5Yi1iMjQzNDc5ZGVmNjUiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZmQzZTExMjItZDY0Yi00Y2E3LTk4OTctMzM4N2ExMDhiYWU1In0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "Respons[...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps1498/providers/Microsoft.StorageSync/storageSyncServices/sssps5814/syncGroups/sgps4938/cloudEndpoints/cepps1263?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageAccountResourceId\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps1498/providers/Microsoft.Storage/storageAccounts/saps8837\",\r\n    \"azureFileShareName\": \"testfs\",\r\n    \"storageAccountTenantId\": \"6ad91d65-65ab-4e14-90f7-fe951035b7c9\",\r\n    \"partnershipId\": \"1|U0VSVkVSQVNTWU5DQ0xJRU5USEZTVjJ8Q0E1Qzg2NkQtRjI0Mi00MUU0LUE3N0EtNzg3OThFNzlCMTIyfEdFTkVSSUN8MzgxRTkxNUMtMDJENi00NkMxLUJBNDktRUQ3QTI2QTg1NTE2\",\r\n    \"friendlyName\": \"testfs\",\r\n    \"backupEnabled\": \"false\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"lastWorkflowId\": \"storageSyncServices/sssps5814/workflows/c35f9281-e9a5-441b-819b-b243479def65\",\r\n    \"lastOperationName\": \"ICreateCloudEndpointWorkflow\"\r\n  },\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps1498/providers/microsoft.storagesync/storageSyncServices/sssps5814/syncGroups/sgps4938/cloudEndpoints/cepps1263\",\r\n  \"name\": \"cepps1263\",\r\n  \"type\": \"microsoft.storagesync/storageSyncServices/syncGroups/cloudEndpoints\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps1498/providers/Microsoft.StorageSync/storageSyncServices/sssps5814/syncGroups/sgps4938/cloudEndpoints?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
[...]
[...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjRiNjRjOGJmLWEwZWMtNDZjNS1hYWYwLTAyMDQzNzA2YjM0MCIsIndvcmtmbG93SWQiOiJlZTVjODI3YS0yNzVkLTRhNjQtOTkyMC0xZTY0ZDJlNmQyYTkiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZTk3MDdkYWMtOWJmNy00NzdkLWE0ZjMtMzNjMTdjZTYyZDRkIn0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "Respons[...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjRiNjRjOGJmLWEwZWMtNDZjNS1hYWYwLTAyMDQzNzA2YjM0MCIsIndvcmtmbG93SWQiOiJlZTVjODI3YS0yNzVkLTRhNjQtOTkyMC0xZTY0ZDJlNmQyYTkiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZTk3MDdkYWMtOWJmNy00NzdkLWE0ZjMtMzNjMTdjZTYyZDRkIn0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjRiNjRjOGJmLWEwZWMtNDZjNS1hYWYwLTAyMDQzNzA2YjM0MCIsIndvcmtmbG93SWQiOiI5OTI0ZjIyOC1kOWU0LTQzNTYtYjY4MC00NWNkN2ZhMzgwMTUiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiOGM4MzIzMmEtMzM1Ni00MDE0LTkyOWMtNDVkZTBhODVlMzk0In0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "Respons[...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjRiNjRjOGJmLWEwZWMtNDZjNS1hYWYwLTAyMDQzNzA2YjM0MCIsIndvcmtmbG93SWQiOiI5OTI0ZjIyOC1kOWU0LTQzNTYtYjY4MC00NWNkN2ZhMzgwMTUiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiOGM4MzIzMmEtMzM1Ni00MDE0LTkyOWMtNDVkZTBhODVlMzk0In0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
[...]
