{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Resources?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Resources\",\r\n  \"namespace\": \"Microsoft.Resources\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"3b990c8b-9607-4c2a-8b04-1d41985facca\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"tenants\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2020-01-01\",\r\n        \"2019-09-01\",\r\n        \"2019-05-01\",\r\n        \"2019-04-01\",\r\n        \"2019-03-01\",\r\n        \"2018-11-01\",\r\n        \"2018-09-01\",\r\n        \"2018-08-01\",\r\n        \"2018-07-01\",\r\n        \"2018-05-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-01\",\r\n        \"2017-08-01\",\r\n        \"2017-06-01\",\r\n        \"2017-05-10\",\r\n        \"2017-05-01\",\r\n        \"2017-03-01\",\r\n        \"2016-09-01\",\r\n        [...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.StorageSync?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.StorageSync\",\r\n  \"namespace\": \"Microsoft.StorageSync\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"9469b9f5-6722-4481-a2b2-14ed560b706f\",\r\n      \"roleDefinitionId\": \"4cd49d82-1f4d-43fc-af0c-1c1203668e5a\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageSyncServices\",\r\n      \"locations\": [\r\n        \"West Central US\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"East US\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Brazil South\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"West US 2\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"France South\",\r\n        \"South Africa North\",\r\n        \"South Africa West\",\r\n        \"UAE North\",\r\n        \"UAE Central\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2020-03-01\",\r\n        \"2019-10-01\",\r\n        \"2019-06-01\",\r\n        \"2019-03-01\",\r\n        \"2019-02-01\",\r\n        \"2018-10-01\",\r\n        \"2018-07-01\",\r\n        \"2018-04-02\",\r\n        \"2018-01-01-preview\",\r\n        \"2017-06-05-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"storageSyncServices/syncGroups\",\r\n      \"locations\": [\r\n        \"West Central US\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"East US\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n  [...]
    {
      "RequestUri": "/tenants?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/tenants/6ad91d65-65ab-4e14-90f7-fe951035b7c9\",\r\n      \"tenantId\": \"6ad91d65-65ab-4e14-90f7-fe951035b7c9\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourcegroups/ps9289?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps9289\",\r\n  \"name\": \"ps9289\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.StorageSync/locations/CentralUSEUAP/checkNameAvailability?api-version=2020-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"sssps7295\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps9289/providers/Microsoft.StorageSync/storageSyncServices/sssps7295?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjI3OTMxY2MwLTJmNWYtNDQ1OC04ZDM2LTIyZTI4Zjg4Y2NiNSIsIndvcmtmbG93SWQiOiJjMTQ5NGQ2Yy1iMDczLTQ0OTMtYjAzMy1hOTA5MTc2ZjE1M2QiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZWE0ODlkMWItZTJmZC00NjU2LWIzN2MtYzllOGFjYTNlMDlhIn0=?api-version=2020-03-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjI3OTMxY2MwLTJmNWYtNDQ1OC04ZDM2LTIyZTI4Zjg4Y2NiNSIsIndvcmtmbG93SWQiOiJjMTQ5NGQ2Yy1iMDczLTQ0OTMtYjAzMy1hOTA5MTc2ZjE1M2QiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZWE0ODlkMWItZTJmZC00NjU2LWIzN2MtYzllOGFjYTNlMDlhIn0=?api-version=2020-03-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjI3OTMxY2MwLTJmNWYtNDQ1OC04ZDM2LTIyZTI4Zjg4Y2NiNSIsIndvcmtmbG93SWQiOiJjMTQ5NGQ2Yy1iMDczLTQ0OTMtYjAzMy1hOTA5MTc2ZjE1M2QiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZWE0ODlkMWItZTJmZC00NjU2LWIzN2MtYzllOGFjYTNlMDlhIn0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjI3OTMxY2MwLTJmNWYtNDQ1OC04ZDM2LTIyZTI4Zjg4Y2NiNSIsIndvcmtmbG93SWQiOiJjMTQ5NGQ2Yy1iMDczLTQ0OTMtYjAzMy1hOTA5MTc2ZjE1M2QiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZWE0ODlkMWItZTJmZC00NjU2LWIzN2MtYzllOGFjYTNlMDlhIn0=\",\r\n  \"name\": \"eyJwYXJ0aXRpb25JZCI6IjI3OTMxY2MwLTJmNWYtNDQ1OC04ZDM2LTIyZTI4Zjg4Y2NiNSIsIndvcmtmbG93SWQiOiJjMTQ5NGQ2Yy1iMDczLTQ0OTMtYjAzMy1hOTA5MTc2ZjE1M2QiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZWE0ODlkMWItZTJmZC00NjU2LWIzN2MtYzllOGFjYTNlMDlhIn0=\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-06-23T09:08:27.269099Z\",\r\n  \"endTime\": \"2020-06-23T09:08:33.619738Z\",\r\n  \"properties\": {}\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps9289/providers/Microsoft.StorageSync/storageSyncServices/sssps7295?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageSyncServiceStatus\": 0,\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\",\r\n    \"privateEndpointConnections\": [],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"lastWorkflowId\": \"storageSyncServices/sssps7295/workflows/c1494d6c-b073-4493-b033-a909176f153d\",\r\n    \"lastOperationName\": \"ICreateStorageSyncServiceWorkflow\"\r\n  },\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps9289/providers/microsoft.storagesync/storageSyncServices/sssps7295\",\r\n  \"name\": \"sssps7295\",\r\n  \"type\": \"microsoft.storagesync/storageSyncServices\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps9289/providers/Microsoft.StorageSync/storageSyncServices/sssps7295/syncGroups/sgps1518?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"syncGroupStatus\": \"0\",\r\n    \"uniqueId\": \"0bf75ed5-9916-4103-9cd9-09afdfcc07b5\"\r\n  },\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps9289/providers/microsoft.storagesync/storageSyncServices/sssps7295/syncGroups/sgps1518\",\r\n  \"name\": \"sgps1518\",\r\n  \"type\": \"microsoft.storagesync/storageSyncServices/syncGroups\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps9289/providers/Microsoft.Storage/storageAccounts/saps5687?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"Central US EUAP\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Storage/locations/centraluseuap/asyncoperations/7ba475e3-b2ef-4cde-b407-783f53674503?monitor=true&api-version=2017-10-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Storage/locations/centraluseuap/asyncoperations/7ba475e3-b2ef-4cde-b407-783f53674503?monitor=true&api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11977"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps9289/providers/Microsoft.Storage/storageAccounts/saps5687\",\r\n  \"name\": \"saps5687\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-06-23T09:08:37.9887126Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-06-23T09:08:37.9887126Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2020-06-23T09:08:37.9261838Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://saps5687.blob.core.windows.net/\",\r\n      \"queue\": \"https://saps5687.queue.core.windows.net/\",\r\n      \"table\": \"https://saps5687.table.core.windows.net/\",\r\n      \"file\": \"https://saps5687.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"centraluseuap\",\r\n    \"statusOfPrimary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps9289/providers/Microsoft.Storage/storageAccounts/saps5687/listKeys?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11997"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\": \"07pHPNT7Ub+DTHPdb57Z9ys4JyBklRU+e5whQ8fxiL9pIiAlZ6Tn7iceJpehYLGuVxpJ8sUwwABTHA5zizZT8w==\",\r\n      \"permissions\": \"FULL\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"0nKXmNp+KxJ4p8L0+wdey6kaAdHCHMSReS9pBo7x3EftSvr8KO8DWF6Ed23gOp78n/5xvcEpgURqK0hhVPnZVQ==\",\r\n      \"permissions\": \"FULL\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/6ad91d65-65ab-4e14-90f7-fe951035b7c9/servicePrincipalsByAppId/9469b9f5-6722-4481-a2b2-14ed560b706f/objectId?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "qS43F4iLBOJT6RGkkYs1XEqkZVQTuWFJkKZZm/yzJso="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "KjLWwLsTonD86vFC8ro5Qc_-n19xACxZN-yXnx_26PzUjpwXCdeYTZ4epgxqBgj4fwE79p8Y8NUNLUZTAblYsCKTuGsy9Fcped0u-PH9HDX4R7J0qpbUVXGayY_iDu0L.CdgVLyyx9fIGyzFiKGp6tgL7HisKRmybaBZSH7yTLZA"
        ],
        "x-aad-resource-unit": [
          "1"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "531308"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/6ad91d65-65ab-4e14-90f7-fe951035b7c9/$metadata#Edm.String\",\r\n  \"value\": \"d8eca219-3055-4504-9a60-18c2d0b4c18c\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/6ad91d65-65ab-4e14-90f7-fe951035b7c9/servicePrincipals/d8eca219-3055-4504-9a60-18c2d0b4c18c?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "ELSFvR45OJc17Ux8fxvEYEt7oeQqKBuXlRZeZ80EmzQ="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "YNs6FREQafqIIYT__Q_VuK6Y_SpixxelE6fKSoEYabIOwSLWCA4g4as5E0bpGhvyKTd8RVglY6bRXXMN6myBLrDDaJHmDByx39pGcwXerTXqXj7s4yGu2UA0xjOJ-JaR.oqazo2daWLpt5s-OoZ2dMZxXeP9X72wwrQvmE_ffxR4"
        ],
        "x-aad-resource-unit": [
          "1"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "532196"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/6ad91d65-65ab-4e14-90f7-fe951035b7c9/$metadata#directoryObjects/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"d8eca219-3055-4504-9a60-18c2d0b4c18c\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"Microsoft.StorageSync\",\r\n  \"appId\": \"9469b9f5-6722-4481-a2b2-14ed560b706f\",\r\n  \"applicationTemplateId\": null,\r\n  \"appOwnerTenantId\": \"f8cdef31-a31e-4b4a-93e4-5f571e91255a\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"Microsoft.StorageSync\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": null,\r\n  \"informationalUrls\": {\r\n    \"termsOfService\": null,\r\n    \"support\": null,\r\n    \"privacy\": null,\r\n    \"marketing\": null\r\n  },\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"notificationEmailAddresses\": [],\r\n  \"oauth2Permissions\": [],\r\n  \"passwordCredentials\": [],\r\n  \"preferredSingleSignOnMode\": null,\r\n  \"preferredTokenSigningKeyEndDateTime\": null,\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"Microsoft Services\",\r\n  \"replyUrls\": [\r\n    \"https://0c38d04b-cf53-496f-aa30-9751eaf67399/redir\"\r\n  ],\r\n  \"samlMetadataUrl\": null,\r\n  \"samlSingleSignOnSettings\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"9469b9f5-6722-4481-a2b2-14ed560b706f\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"signInAudience\": \"AzureADMultipleOrgs\",\r\n  \"tags\": [],\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "///providers/Microsoft.Authorization/roleDefinitions/c12c1c16-33a1-487b-954d-41c89c60f349?api-version=2015-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleName\": \"Reader and Data Access\",\r\n    \"type\": \"BuiltInRole\",\r\n    \"description\": \"Lets you view everything but will not let you delete or create a storage account or contained resource. It will also allow read/write access to all data contained in a storage account via access to storage account keys.\",\r\n    \"assignableScopes\": [\r\n      \"/\"\r\n    ],\r\n    \"permissions\": [\r\n      {\r\n        \"actions\": [\r\n          \"Microsoft.Storage/storageAccounts/listKeys/action\",\r\n          \"Microsoft.Storage/storageAccounts/ListAccountSas/action\",\r\n          \"Microsoft.Storage/storageAccounts/read\"\r\n        ],\r\n        \"notActions\": []\r\n      }\r\n    ],\r\n    \"createdOn\": \"2018-03-27T23:20:46.1498906Z\",\r\n    \"updatedOn\": \"2019-04-04T23:41:26.1056261Z\",\r\n    \"createdBy\": null,\r\n    \"updatedBy\": null\r\n  },\r\n  \"id\": \"/providers/Microsoft.Authorization/roleDefinitions/c12c1c16-33a1-487b-954d-41c89c60f349\",\r\n  \"type\": \"Microsoft.Authorization/roleDefinitions\",\r\n  \"name\": \"c12c1c16-33a1-487b-954d-41c89c60f349\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourcegroups/ps9289/providers/Microsoft.Storage///storageAccounts/saps5687/providers/Microsoft.Authorization/roleAssignments?$filter=assignedTo('d8eca219-3055-4504-9a60-18c2d0b4c18c')&api-version=2015-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleDefinitionId\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\r\n        \"principalId\": \"d8eca219-3055-4504-9a60-18c2d0b4c18c\",\r\n        \"scope\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b\",\r\n        \"createdOn\": \"2020-05-23T18:29:54.9647107Z\",\r\n        \"updatedOn\": \"2020-05-23T18:29:54.9647107Z\",\r\n        \"createdBy\": \"a8656ec6-d7a4-4e38-bf78-58d74e3ed751\",\r\n        \"updatedBy\": \"a8656ec6-d7a4-4e38-bf78-58d74e3ed751\"\r\n      },\r\n      \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Authorization/roleAssignments/dc60f792-d409-4e1d-8fe5-192d121c26e9\",\r\n      \"type\": \"Microsoft.Authorization/roleAssignments\",\r\n      \"name\": \"dc60f792-d409-4e1d-8fe5-192d121c26e9\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps9289/providers/Microsoft.StorageSync/storageSyncServices/sssps7295/syncGroups/sgps1518/cloudEndpoints/cepps7027?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"storageAccountResourceId\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps9289/providers/Microsoft.Storage/storageAccounts/saps5687\",\r\n    \"azureFileShareName\": \"testfs\",\r\n    \"storageAccountTenantId\": \"6ad91d65-65ab-4e14-90f7-fe951035b7c9\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjI3OTMxY2MwLTJmNWYtNDQ1OC04ZDM2LTIyZTI4Zjg4Y2NiNSIsIndvcmtmbG93SWQiOiI2YTgwZTQ1ZC05MjJlLTQyZjYtOTZhNi05NGFiYTJlNGMyZDUiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiOTk2ODYwYmMtNTZiYi00NzU3LWE0ZGYtYjNhYmU1ODJjMjVjIn0=?api-version=2020-03-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjI3OTMxY2MwLTJmNWYtNDQ1OC04ZDM2LTIyZTI4Zjg4Y2NiNSIsIndvcmtmbG93SWQiOiI2YTgwZTQ1ZC05MjJlLTQyZjYtOTZhNi05NGFiYTJlNGMyZDUiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiOTk2ODYwYmMtNTZiYi00NzU3LWE0ZGYtYjNhYmU1ODJjMjVjIn0=?api-version=2020-03-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjI3OTMxY2MwLTJmNWYtNDQ1OC04ZDM2LTIyZTI4Zjg4Y2NiNSIsIndvcmtmbG93SWQiOiI2YTgwZTQ1ZC05MjJlLTQyZjYtOTZhNi05NGFiYTJlNGMyZDUiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiOTk2ODYwYmMtNTZiYi00NzU3LWE0ZGYtYjNhYmU1ODJjMjVjIn0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "Respons[...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps9289/providers/Microsoft.StorageSync/storageSyncServices/sssps7295/syncGroups/sgps1518/cloudEndpoints/cepps7027?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11981"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageAccountResourceId\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps9289/providers/Microsoft.Storage/storageAccounts/saps5687\",\r\n    \"azureFileShareName\": \"testfs\",\r\n    \"storageAccountTenantId\": \"6ad91d65-65ab-4e14-90f7-fe951035b7c9\",\r\n    \"partnershipId\": \"1|U0VSVkVSQVNTWU5DQ0xJRU5USEZTVjJ8MEJGNzVFRDUtOTkxNi00MTAzLTlDRDktMDlBRkRGQ0MwN0I1fEdFTkVSSUN8RjdFREQ1MEUtNEU4NS00MUM3LUFENEYtQzA0RTdEOUVBNUFF\",\r\n    \"friendlyName\": \"testfs\",\r\n    \"backupEnabled\": \"false\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"lastWorkflowId\": \"storageSyncServices/sssps7295/workflows/6a80e45d-922e-42f6-96a6-94aba2e4c2d5\",\r\n    \"lastOperationName\": \"ICreateCloudEndpointWorkflow\"\r\n  },\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps9289/providers/microsoft.storagesync/storageSyncServices/sssps7295/syncGroups/sgps1518/cloudEndpoints/cepps7027\",\r\n  \"name\": \"cepps7027\",\r\n  \"type\": \"microsoft.storagesync/storageSyncServices/syncGroups/cloudEndpoints\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjI3OTMxY2MwLTJmNWYtNDQ1OC04ZDM2LTIyZTI4Zjg4Y2NiNSIsIndvcmtmbG93SWQiOiJhZWY1YTE5ZS04OTg3LTQ2NGUtYjc4ZS04NmZiOTM2NGY1ZDgiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMWE2Mjc4ZTktNjNlNy00YmZkLWJiMWQtZGIzMzQwYjRiYzI4In0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "Respons[...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjI3OTMxY2MwLTJmNWYtNDQ1OC04ZDM2LTIyZTI4Zjg4Y2NiNSIsIndvcmtmbG93SWQiOiJhZWY1YTE5ZS04OTg3LTQ2NGUtYjc4ZS04NmZiOTM2NGY1ZDgiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMWE2Mjc4ZTktNjNlNy00YmZkLWJiMWQtZGIzMzQwYjRiYzI4In0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11978"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjI3OTMxY2MwLTJmNWYtNDQ1OC04ZDM2LTIyZTI4Zjg4Y2NiNSIsIndvcmtmbG93SWQiOiJiZDc2NzZlYS01Y2FmLTQ4M2ItODkyNi05Y2VhYmE1MjkwOTEiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiYWRlYWQ0YzctYmQyYS00NWI0LWE0M2QtNmZiYzQ0YjhmODIyIn0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "Respons[...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjI3OTMxY2MwLTJmNWYtNDQ1OC04ZDM2LTIyZTI4Zjg4Y2NiNSIsIndvcmtmbG93SWQiOiJiZDc2NzZlYS01Y2FmLTQ4M2ItODkyNi05Y2VhYmE1MjkwOTEiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiYWRlYWQ0YzctYmQyYS00NWI0LWE0M2QtNmZiYzQ0YjhmODIyIn0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11976"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps9289/providers/Microsoft.StorageSync/storageSyncServices?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11975"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
[...]
