{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.Resources?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.Resources\",\r\n  \"namespace\": \"Microsoft.Resources\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"3b990c8b-9607-4c2a-8b04-1d41985facca\"\r\n    },\r\n    {\r\n      \"applicationId\": \"f77c2a8f-8a0a-4776-8e0a-bcb2549610ca\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"changes\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2024-06-01-preview\",\r\n        \"2023-07-01-preview\",\r\n        \"2023-03-01-preview\",\r\n        \"2022-05-01\",\r\n        \"2022-03-01-preview\"\r\n      ],\r\n      \"capabilities\": \"SupportsExtension\"\r\n    },\r\n    {\r\n      \"resourceType\": \"snapshots\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2022-11-01-preview\"\r\n      ],\r\n      \"capabilities\": \"SupportsExtension\"\r\n    },\r\n    {\r\n      \"resourceType\": \"deploymentScripts\",\r\n      \"locations\": [\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"Cana[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync\",\r\n  \"namespace\": \"Microsoft.StorageSync\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"9469b9f5-6722-4481-a2b2-14ed560b706f\",\r\n      \"roleDefinitionId\": \"4cd49d82-1f4d-43fc-af0c-1c1203668e5a\"\r\n    },\r\n    {\r\n      \"applicationId\": \"ad47578a-93bb-4ab8-85ed-8e99cd5a48da\",\r\n      \"roleDefinitionId\": \"4cd49d82-1f4d-43fc-af0c-1c1203668e5a\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageSyncServices\",\r\n      \"locations\": [\r\n        \"West Central US\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourcegroups/ps4885?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885\",\r\n  \"name\": \"ps4885\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/CentralUSEUAP/checkNameAvailability?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"name\": \"sssps2116\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\"\r\n}",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "282397e7-c231-4cc1-bf51-b74a6c9baa56"
        ],
        "X-ServiceFabricRequestId": [
          "7ea25aff-2f16-40f4-a2c9-3f518364b6b9"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.StorageSync/storageSyncServices/sssps2116?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\"\r\n  },\r\n  \"tags\": {},\r\n  \"location\": \"Central US EUAP\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjA0MzhkNWJmLWM1MGQtNDI0Yy04NjUyLTE5YzE2ZDMyYTVmMSIsIndvcmtmbG93SWQiOiJjZmJmMmUwZC01ZGJjLTRiMTItODhhNi0xYTAxNzE0OGViMTUiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiNmNmMWRkNzMtOGJiMy00MzM3LWJiZGQtOWU4ZDMzOTk0YTgyIn0=?api-version=2022-09-01&t=638672459368596444&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQ[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjA0MzhkNWJmLWM1MGQtNDI0Yy04NjUyLTE5YzE2ZDMyYTVmMSIsIndvcmtmbG93SWQiOiJjZmJmMmUwZC01ZGJjLTRiMTItODhhNi0xYTAxNzE0OGViMTUiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiNmNmMWRkNzMtOGJiMy00MzM3LWJiZGQtOWU4ZDMzOTk0YTgyIn0=?api-version=2022-09-01&t=638672459368596444&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZP[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.StorageSync/storageSyncServices/sssps2116?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "fa657e6a-9994-4b09-9188-cb138e0313d6"
        ],
        "X-ServiceFabricRequestId": [
          "6cecafa3-77e8-4c1b-b485-3f24d9fc3c55"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\": \"0483643a-cb2f-462a-bc27-1a270e5bdc0a\",\r\n    \"principalId\": \"03d31941-f7bf-44e4-bf85-2784b84c6447\",\r\n    \"userAssignedIdentities\": {}\r\n  },\r\n  \"properties\": {\r\n    \"storageSyncServiceStatus\": 0,\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\",\r\n    \"privateEndpointConnections\": [],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"useIdentity\": true,\r\n    \"lastWorkflowId\": \"storageSyncServices/sssps2116/workflows/cfbf2e0d-5dbc-4b12-88a6-1a017148eb15\",\r\n    \"lastOperationName\": \"ICreateStorageSyncServiceWorkflow2\"\r\n  },\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.StorageSync/storageSyncServices/sssps2116\",\r\n  \"name\": \"sssps2116\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"ankushb@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-11-15T05:38:56.0158778Z\",\r\n    \"lastModifiedBy\": \"ankushb@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2024-11-15T05:38:56.0158778Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.StorageSync/storageSyncServices/sssps2116/syncGroups/sgps3134?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {}\r\n}",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "596cf55e-9162-4918-ad80-73f35a198a54"
        ],
        "X-ServiceFabricRequestId": [
          "be7a6160-cfa6-4125-aa39-cafd6f7ea7c2"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"syncGroupStatus\": \"0\",\r\n    \"uniqueId\": \"9dd43074-2244-4443-91ba-ccdf9e9cd8ed\"\r\n  },\r\n  \"id\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.StorageSync/storageSyncServices/sssps2116/syncGroups/sgps3134\",\r\n  \"name\": \"sgps3134\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices/syncGroups\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"ankushb@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-11-15T05:39:08.0090295Z\",\r\n    \"lastModifiedBy\": \"ankushb@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2024-11-15T05:39:08.0090295Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.Storage/storageAccounts/saps8338?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"Central US EUAP\",\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"defaultAction\": \"Allow\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.Storage/locations/centraluseuap/asyncoperations/7e4fad83-1995-4581-bd1f-26f5c1eb9dae?monitor=true&api-version=2017-10-01&t=638672459577682937&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxDIgAABXG8fjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHh[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.Storage/locations/centraluseuap/asyncoperations/7e4fad83-1995-4581-bd1f-26f5c1eb9dae?monitor=true&api-version=2017-10-01&t=638672459577682937&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxDIgAABXG8fjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwOTI1MTkzNzA4WhcNMjUwMzI0MTkzNzA4WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.Storage/storageAccounts/saps8338?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.Storage/storageAccounts/saps8338\",\r\n  \"name\": \"saps8338\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2024-11-15T05:39:09.1669286Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2024-11-15T05:39:09.1669286Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2024-11-15T05:39:09.0575297Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://saps8338.blob.core.windows.net/\",\r\n      \"queue\": \"https://saps8338.queue.core.windows.net/\",\r\n      \"table\": \"https://saps8338.table.core.windows.net/\",\r\n      \"file\": \"https://saps8338.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"centraluseuap\",\r\n    \"statusOfPrimary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.Storage/storageAccounts/saps8338/listKeys?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\": \"*REDACTED*\",\r\n      \"permissions\": \"FULL\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"*REDACTED*\",\r\n      \"permissions\": \"FULL\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.Storage/storageAccounts/saps8338/providers/Microsoft.Authorization/roleDefinitions/c12c1c16-33a1-487b-954d-41c89c60f349?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleName\": \"Reader and Data Access\",\r\n    \"type\": \"BuiltInRole\",\r\n    \"description\": \"Lets you view everything but will not let you delete or create a storage account or contained resource. It will also allow read/write access to all data contained in a storage account via access to storage account keys.\",\r\n    \"assignableScopes\": [\r\n      \"/\"\r\n    ],\r\n    \"permissions\": [\r\n      {\r\n        \"actions\": [\r\n          \"Microsoft.Storage/storageAccounts/listKeys/action\",\r\n          \"Microsoft.Storage/storageAccounts/ListAccountSas/action\",\r\n          \"Microsoft.Storage/storageAccounts/read\"\r\n        ],\r\n        \"notActions\": [],\r\n        \"dataActions\": [],\r\n        \"notDataActions\": []\r\n      }\r\n    ],\r\n    \"createdOn\": \"2018-03-27T23:20:46.1498906Z\",\r\n    \"updatedOn\": \"2021-11-11T20:13:48.2278951Z\",\r\n    \"createdBy\": null,\r\n    \"updatedBy\": null\r\n  },\r\n  \"id\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.Authorization/roleDefinitions/c12c1c16-33a1-487b-954d-41c89c60f349\",\r\n  \"type\": \"Microsoft.Authorization/roleDefinitions\",\r\n  \"name\": \"c12c1c16-33a1-487b-954d-41c89c60f349\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.Storage/storageAccounts/saps8338/providers/Microsoft.Authorization/roleAssignments?$filter=assignedTo('384dab06-7a70-4ecf-a04e-284602199124')&api-version=2020-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.Storage/storageAccounts/saps8338/providers/Microsoft.Authorization/roleAssignments?$filter=assignedTo('384dab06-7a70-4ecf-a04e-284602199124')&api-version=2020-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleDefinitionId\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.Authorization/roleDefinitions/c12c1c16-33a1-487b-954d-41c89c60f349\",\r\n        \"principalId\": \"384dab06-7a70-4ecf-a04e-284602199124\",\r\n        \"principalType\": \"ServicePrincipal\",\r\n        \"scope\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.Storage/storageAccounts/saps8338\",\r\n        \"condition\": null,\r\n        \"conditionVersion\": null,\r\n        \"createdOn\": \"2024-11-15T05:45:19.6686737Z\",\r\n        \"updatedOn\": \"2024-11-15T05:45:19.6686737Z\",\r\n        \"createdBy\": \"fe3dc09f-e286-418a-a7b3-0b27f3467e90\",\r\n        \"updatedBy\": \"fe3dc09f-e286-418a-a7b3-0b27f3467e90\",\r\n        \"delegatedManagedIdentityResourceId\": null,\r\n        \"description\": null\r\n      },\r\n      \"id\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.Storage/storageAccounts/saps8338/providers/Microsoft.Authorization/roleAssignments/e77027be-30de-4dfb-a334-d7fd988679f9\",\r\n      \"type\": \"Microsoft.Authorization/roleAssignments\",\r\n      \"name\": \"e77027be-30de-4dfb-a334-d7fd988679f9\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.Storage/storageAccounts/saps8338/providers/Microsoft.Authorization/roleAssignments/e77027be-30de-4dfb-a334-d7fd988679f9?api-version=2020-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/s[...]
    {
      "RequestUri": "//subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.Authorization/roleDefinitions/17d1049b-9a84-46fb-8f53-869881c3d3ab?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
       [...]
[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.Storage/storageAccounts/saps8338/fileServices/default/fileshares/testfs/providers/Microsoft.Authorization/roleAssignments?$filter=assignedTo('03d31941-f7bf-44e4-bf85-2784b84c6447')&api-version=2020-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.Storage/storageAccounts/saps8338/fileServices/default/fileshares/testfs/providers/Microsoft.Authorization/roleAssignments/4fcf26cc-d454-4a34-b2be-3b90c01cde6f?api-version=2020-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.StorageSync/storageSyncServices/sssps2116/syncGroups/sgps3134/cloudEndpoints/cepps8113?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"storageAccountResourceId\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.Storage/storageAccounts/saps8338\",\r\n    \"azureFileShareName\": \"testfs\",\r\n    \"storageAccountTenantId\": \"0483643a-cb2f-462a-bc27-1a270e5bdc0a\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjA0MzhkNWJmLWM1MGQtNDI0Yy04NjUyLTE5YzE2ZDMyYTVmMSIsIndvcmtmbG93SWQiOiJiMzRhZjA0OC0wYjgwLTQwNTMtODQ1ZC0xYWI5ZjU2MmViMjEiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiNDg5NmUzZGMtYzZiNC00ZGJkLWFhNmUtYmZjYTUwOTIyZjg0In0=?api-ve[...]
[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjA0MzhkNWJmLWM1MGQtNDI0Yy04NjUyLTE5YzE2ZDMyYTVmMSIsIndvcmtmbG93SWQiOiJiMzRhZjA0OC0wYjgwLTQwNTMtODQ1ZC0xYWI5ZjU2MmViMjEiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiNDg5NmUzZGMtYzZiNC00ZGJkLWFhNmUtYmZjYTUwOTIyZjg0In0=?api-version=2022-09-01&t=638672466400549773&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZP[...]
[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.StorageSync/storageSyncServices/sssps2116/syncGroups/sgps3134/cloudEndpoints/cepps8113?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "aba67259-f1f4-4407-898f-374d3b1573b1"
        ],
        "X-ServiceFabricRequestId": [
          "ad049dd5-eeb0-4fd2-8d66-64996b9ca1b9"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageAccountResourceId\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.Storage/storageAccounts/saps8338\",\r\n    \"azureFileShareName\": \"testfs\",\r\n    \"storageAccountTenantId\": \"0483643a-cb2f-462a-bc27-1a270e5bdc0a\",\r\n    \"partnershipId\": \"1|U0VSVkVSQVNTWU5DQ0xJRU5USEZTVjJ8OURENDMwNzQtMjI0NC00NDQzLTkxQkEtQ0NERjlFOUNEOEVEfEdFTkVSSUN8MTJBQzA1RTgtMjkyMS00MjQ2LTgwQUMtREUzMTEwQkM3Nzg1\",\r\n    \"friendlyName\": \"testfs\",\r\n    \"backupEnabled\": \"false\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"lastWorkflowId\": \"storageSyncServices/sssps2116/workflows/b34af048-0b80-4053-845d-1ab9f562eb21\",\r\n    \"lastOperationName\": \"ICreateCloudEndpointWorkflow\",\r\n    \"changeEnumerationStatus\": {\r\n      \"lastUpdatedTimestamp\": \"2024-11-15T05:51:01.2548997Z\",\r\n      \"lastEnumerationStatus\": {\r\n        \"startedTimestamp\": \"2024-11-15T05:50:52.5120177Z\",\r\n        \"completedTimestamp\": \"2024-11-15T05:50:52.7776487Z\",\r\n        \"namespaceFilesCount\": 0,\r\n        \"namespaceDirectoriesCount\": 1,\r\n        \"namespaceSizeBytes\": 0\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.StorageSync/storageSyncServices/sssps2116/syncGroups/sgps3134/cloudEndpoints/cepps8113\",\r\n  \"name\": \"cepps8113\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"ankushb@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-11-15T05:50:39.8049691Z\",\r\n    \"lastModifiedBy\": \"ankushb@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2024-11-15T05:50:39.8049691Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.StorageSync/storageSyncServices/sssps2116/syncGroups/sgps3134/cloudEndpoints/cepps8113/triggerChangeDetection?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"directoryPath\": \"\",\r\n  \"changeDetectionMode\": \"Default\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjA0MzhkNWJmLWM1MGQtNDI0Yy04NjUyLTE5YzE2ZDMyYTVmMSIsIndvcmtmbG93SWQiOiIwYWMzYWE4Ni04MjQ3LTQwYTgtOThiNy0xNjFjYjlkN2Q5NDYiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiN2ZmOTk3NjEtMjNjYi00M2E1LWE3YWMtMmFmMWEzZWMzNTM2In0=?api-version=2022-09-01&t=63867246661834537[...]
[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps4885/providers/Microsoft.StorageSync/storageSyncServices/sssps2116/syncGroups/sgps3134/cloudEndpoints/cepps8113/triggerChangeDetection?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"paths\": [\r\n    \"a\",\r\n    \"b\",\r\n    \"c\"\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjA0MzhkNWJmLWM1MGQtNDI0Yy04NjUyLTE5YzE2ZDMyYTVmMSIsIndvcmtmbG93SWQiOiJiNGY4ZmU1Ny00NDRhLTQxZDUtOTAxMS0yMTQ4YWY0MDZjMjEiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiODk2MTIyZGQtYThkMy00MGY1LTk3NzAtOWFjMDk0NzZmZmEyIn0=?api-[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjA0MzhkNWJmLWM1MGQtNDI0Yy04NjUyLTE5YzE2ZDMyYTVmMSIsIndvcmtmbG93SWQiOiIwYWMzYWE4Ni04MjQ3LTQwYTgtOThiNy0xNjFjYjlkN2Q5NDYiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiN2ZmOTk3NjEtMjNjYi00M2E1LWE3YWMtMmFmMWEzZWMzNTM2In0=?api-version=2022-09-01&t=638672466618345372&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZP[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjA0MzhkNWJmLWM1MGQtNDI0Yy04NjUyLTE5YzE2ZDMyYTVmMSIsIndvcmtmbG93SWQiOiIwYWMzYWE4Ni04MjQ3LTQwYTgtOThiNy0xNjFjYjlkN2Q5NDYiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiN2ZmOTk3NjEtMjNjYi00M2E1LWE3YWMtMmFmMWEzZWMzNTM2In0=?api-version=2022-09-01&t=638672466618345372&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKC[...]
    {
[...]
