{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/providers/Microsoft.Resources?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Resources?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "76e28016-3224-4161-b2a0-4c1509661f64"
=======
          "041a05c4-34d6-44a6-9eca-d6b29b0bf86a"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.16"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
<<<<<<< HEAD
          "5283ff61-1b5a-4375-bb63-676824b50ac3"
        ],
        "x-ms-correlation-request-id": [
          "5283ff61-1b5a-4375-bb63-676824b50ac3"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190703T155814Z:5283ff61-1b5a-4375-bb63-676824b50ac3"
=======
          "461dafd4-3710-4775-99f2-e966736aaa29"
        ],
        "x-ms-correlation-request-id": [
          "461dafd4-3710-4775-99f2-e966736aaa29"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200623T084954Z:461dafd4-3710-4775-99f2-e966736aaa29"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 03 Jul 2019 15:58:13 GMT"
=======
          "Tue, 23 Jun 2020 08:49:54 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "8818"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/providers/Microsoft.Resources\",\r\n  \"namespace\": \"Microsoft.Resources\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"tenants\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2019-05-01\",\r\n        \"2019-04-01\",\r\n        \"2019-03-01\",\r\n        \"2018-11-01\",\r\n        \"2018-09-01\",\r\n        \"2018-08-01\",\r\n        \"2018-07-01\",\r\n        \"2018-05-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-01\",\r\n        \"2017-08-01\",\r\n        \"2017-06-01\",\r\n        \"2017-05-10\",\r\n        \"2017-05-01\",\r\n        \"2017-03-01\",\r\n        \"2016-09-01\",\r\n        \"2016-07-01\",\r\n        \"2016-06-01\",\r\n        [...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/providers/Microsoft.StorageSync?api-version=2016-09-01",
=======
          "10899"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Resources\",\r\n  \"namespace\": \"Microsoft.Resources\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"3b990c8b-9607-4c2a-8b04-1d41985facca\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"tenants\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2020-01-01\",\r\n        \"2019-09-01\",\r\n        \"2019-05-01\",\r\n        \"2019-04-01\",\r\n        \"2019-03-01\",\r\n        \"2018-11-01\",\r\n        \"2018-09-01\",\r\n        \"2018-08-01\",\r\n        \"2018-07-01\",\r\n        \"2018-05-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-0[...]
[...]
    {
      "RequestUri": "/tenants?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "f2b142a3-14fb-4fa5-8c6a-5d078e893112"
=======
          "ed80d0c7-47b0-4e5a-a8f1-7618a3d6f5f9"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Internal.Subscriptions.SubscriptionClient/1.3.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Internal.Subscriptions.SubscriptionClient/1.3.16"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ]
<<<<<<< HEAD
          "79644004-c85b-4474-a0d3-12c297a21917"
        ],
        "x-ms-correlation-request-id": [
          "79644004-c85b-4474-a0d3-12c297a21917"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190703T155814Z:79644004-c85b-4474-a0d3-12c297a21917"
=======
          "67c0c729-e0c2-4b41-b44a-79f63fdb22fb"
        ],
        "x-ms-correlation-request-id": [
          "67c0c729-e0c2-4b41-b44a-79f63fdb22fb"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200623T084955Z:67c0c729-e0c2-4b41-b44a-79f63fdb22fb"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 03 Jul 2019 15:58:14 GMT"
=======
          "Tue, 23 Jun 2020 08:49:54 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "116"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/tenants/0483643a-cb2f-462a-bc27-1a270e5bdc0a\",\r\n      \"tenantId\": \"0483643a-cb2f-462a-bc27-1a270e5bdc0a\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourcegroups/ps9331?api-version=2016-09-01",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/tenants/6ad91d65-65ab-4e14-90f7-fe951035b7c9\",\r\n      \"tenantId\": \"6ad91d65-65ab-4e14-90f7-fe951035b7c9\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourcegroups/ps3577?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "990cdf9a-4b1b-4f05-967d-852787503b62"
=======
          "b6e2616b-166e-4f35-bd14-f34429bc41b2"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.Resour[...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/providers/Microsoft.StorageSync/locations/CentralUSEUAP/checkNameAvailability?api-version=2019-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"sssps4912\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps3577\",\r\n  \"name\": \"ps3577\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps9331/providers/Microsoft.StorageSync/storageSyncServices/sssps4912?api-version=2019-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps3577/providers/Microsoft.StorageSync/storageSyncServices/sssps7698?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.StorageSync.StorageSyncManagementClient/3.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.StorageSync.StorageSyncManagementClient/5.0.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "52"
=======
          "125"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "x-ms-request-id": [
          "c33bda65-95b8-401c-aa8d-911e47f36b78"
=======
        "Location": [
          "https://management.azure.com/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6ImZlYzg1YTZjLTVhNTgtNDgyMS1hNzlhLTgwZDNmYTQ0MmU2NyIsIndvcmtmbG93SWQiOiJkOWQ2NWQ0NS0yNjZmLTQ2ZWMtOTUxNi1hYzAzM2MzMGQ0OGMiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMmIwZWI3M2MtNzUxZC00NjU0LTgzYmYtMDdkZDQ5MzA3NGNlIn0=?api-version=2020-03-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6ImZlYzg1YTZjLTVhNTgtNDgyMS1hNzlhLTgwZDNmYTQ0MmU2NyIsIndvcmtmbG93SWQiOiJkOWQ2NWQ0NS0yNjZmLTQ2ZWMtOTUxNi1hYzAzM2MzMGQ0OGMiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMmIwZWI3M2MtNzUxZC00NjU0LTgzYmYtMDdkZDQ5MzA3NGNlIn0=?api-version=2020-03-01"
        ],
        "x-ms-request-id": [
          "6fcee344-5446-4cbd-bd54-0492f88d7071"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "48c0c065-93f4-431e-9a0d-6fd444cab857"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190703T155817Z:48c0c065-93f4-431e-9a0d-6fd444cab857"
        ],
        "Date": [
          "Wed, 03 Jul 2019 15:58:17 GMT"
        ],
        "Content-Length": [
          "329"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
=======
          "6d8d6d9e-697d-4602-b493-aa38ea6d0e37"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200623T084958Z:6d8d6d9e-697d-4602-b493-aa38ea6d0e37"
        ],
        "Date": [
          "Tue, 23 Jun 2020 08:49:58 GMT"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6ImZlYzg1YTZjLTVhNTgtNDgyMS1hNzlhLTgwZDNmYTQ0MmU2NyIsIndvcmtmbG93SWQiOiJkOWQ2NWQ0NS0yNjZmLTQ2ZWMtOTUxNi1hYzAzM2MzMGQ0OGMiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMmIwZWI3M2MtNzUxZC00NjU0LTgzYmYtMDdkZDQ5MzA3NGNlIn0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6ImZlYzg1YTZjLTVhNTgtNDgyMS1hNzlhLTgwZDNmYTQ0MmU2NyIsIndvcmtmbG93SWQiOiJkOWQ2NWQ0NS0yNjZmLTQ2ZWMtOTUxNi1hYzAzM2MzMGQ0OGMiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMmIwZWI3M2MtNzUxZC00NjU0LTgzYmYtMDdkZDQ5MzA3NGNlIn0=\",\r\n  \"name\": \"eyJwYXJ0aXRpb25JZCI6ImZlYzg1YTZjLTVhNTgtNDgyMS1hNzlhLTgwZDNmYTQ0MmU2NyIsIndvcmtmbG93SWQiOiJkOWQ2NWQ0NS0yNjZmLTQ2ZWMtOTUxNi1hYzAzM2MzMGQ0OGMiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMmIwZWI3M2MtNzUxZC00NjU0LTgzYmYtMDdkZDQ5MzA3NGNlIn0=\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-06-23T08:49:58.4561804Z\",\r\n  \"endTime\": \"2020-06-23T08:50:04.7016052Z\",\r\n  \"properties\": {}\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps3577/providers/Microsoft.StorageSync/storageSyncServices/sssps7698?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageSyncServiceStatus\": null,\r\n    \"storageSyncServiceUid\": null\r\n  },\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps9331/providers/microsoft.storagesync/storageSyncServices/sssps4912\",\r\n  \"name\": \"sssps4912\",\r\n  \"type\": \"microsoft.storagesync/storageSyncServices\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps9331/providers/Microsoft.StorageSync/storageSyncServices/sssps4912/syncGroups/sgps7789?api-version=2019-03-01",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageSyncServiceStatus\": 0,\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\",\r\n    \"privateEndpointConnections\": [],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"lastWorkflowId\": \"storageSyncServices/sssps7698/workflows/d9d65d45-266f-46ec-9516-ac033c30d48c\",\r\n    \"lastOperationName\": \"ICreateStorageSyncServiceWorkflow\"\r\n  },\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps3577/providers/microsoft.storagesync/storageSyncServices/sssps7698\",\r\n  \"name\": \"sssps7698\",\r\n  \"type\": \"microsoft.storagesync/storageSyncServices\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps9331/providers/Microsoft.Storage/storageAccounts/saps1057?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"Central US EUAP\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"syncGroupStatus\": \"0\",\r\n    \"uniqueId\": \"3f3da444-83c4-458f-808e-aff2db56fd24\"\r\n  },\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps3577/providers/microsoft.storagesync/storageSyncServices/sssps7698/syncGroups/sgps4474\",\r\n  \"name\": \"sgps4474\",\r\n  \"type\": \"microsoft.storagesync/storageSyncServices/syncGroups\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps9331/providers/Microsoft.Storage/storageAccounts/saps1057?api-version=2017-10-01",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps3577/providers/Microsoft.Storage/storageAccounts/saps7395\",\r\n  \"name\": \"saps7395\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-06-23T08:50:10.3614446Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-06-23T08:50:10.3614446Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2020-06-23T08:50:10.3145694Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://saps7395.blob.core.windows.net/\",\r\n      \"queue\": \"https://saps7395.queue.core.windows.net/\",\r\n      \"table\": \"https://saps7395.table.core.windows.net/\",\r\n      \"file\": \"https://saps7395.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"centraluseuap\",\r\n    \"statusOfPrimary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps9331/providers/Microsoft.Storage/storageAccounts/saps1057/listKeys?api-version=2017-10-01",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps3577/providers/Microsoft.Storage/storageAccounts/saps7395\",\r\n  \"name\": [...]
[...]
    {
      "RequestUri": "/0483643a-cb2f-462a-bc27-1a270e5bdc0a/servicePrincipalsByAppId/9469b9f5-6722-4481-a2b2-14ed560b706f/objectId?api-version=1.6",
=======
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\": \"IkTqSUjmsNy2GSmX9j6XGFnoFeJy6bsf2+/MgmscASOxs/Sv7R8eLlGHcxjFp3GUeMXjGwNNHrPACVdzsI6cnA==\",\r\n      \"permissions\": \"FULL\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"Md1nO9WPIQF/DInZrDNVRyubWoT4lhHeTHbciKfpI2vuKCY1qtCIYP3wpw6vKIY1+un3EGU+Z0XOUfdYojNN+w==\",\r\n      \"permissions\": \"FULL\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/6ad91d65-65ab-4e14-90f7-fe951035b7c9/servicePrincipalsByAppId/9469b9f5-6722-4481-a2b2-14ed560b706f/objectId?api-version=1.6",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "0c49e22a-7fbd-4024-a85a-db41669a77db"
=======
          "bf03b570-17e4-41b1-8831-8801d49150fd"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Graph.RBAC.Version1.6.20190326.GraphRbacManagementClient/1.3.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Graph.RBAC.Version1.6.20190326.GraphRbacManagementClient/1.3.16"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
<<<<<<< HEAD
          "NorBiSXbBacugIOc9PINP1SvB49TAti3iq1gEzH+f90="
        ],
        "request-id": [
          "fa7e20a5-9b22-4ff7-80fb-e87b80becd5c"
        ],
        "client-request-id": [
          "0c49e22a-7fbd-4024-a85a-db41669a77db"
=======
          "nCPedxZrWpkfFXa8YjMlGp+hxZG0CKs1KLjt7iMyV9k="
        ],
        "request-id": [
          "42edc586-8050-4ffa-a83f-aec6db967e16"
        ],
        "client-request-id": [
          "bf03b570-17e4-41b1-8831-8801d49150fd"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
<<<<<<< HEAD
          "qKjWZNXykrqGBqsCQ4Flv7EEswkbf2kpDZrMntdN6QHUKfs6_XvqMU8Q_636j5QSVcIwWUC4p4WXqaUVXVWiEFIyY3MU9njfJTy13BF5pSOK1XwT5H0IuKgA9arrhVNF.X4k9WJUoHJ3pL7jx9q0lrQ7ed-CErC9mZ3U3kieYw98"
=======
          "PSxQEn8AFcmxQVxSYQPEFgE4DSHAkBnt1WPdFLKGR2n3KR7iVXCk2eaV2jQkpEHd7RND3OtRK_2RZ_zLNvHa0B_-qBBkcTGlOQinpcGdfWQFH6Bh5gvP2vc_9qY-CycF.a4lqzbs-eErsk_HJqDG8HCQkZuM4G4ZYprg6uIKP__w"
        ],
        "x-aad-resource-unit": [
          "1"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Access-Control-Allow-Origin": [
          "*"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "Duration": [
<<<<<<< HEAD
          "572130"
        ],
        "Date": [
          "Wed, 03 Jul 2019 15:58:41 GMT"
=======
          "437770"
        ],
        "Date": [
          "Tue, 23 Jun 2020 08:50:36 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "151"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/0483643a-cb2f-462a-bc27-1a270e5bdc0a/$metadata#Edm.String\",\r\n  \"value\": \"384dab06-7a70-4ecf-a04e-284602199124\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/0483643a-cb2f-462a-bc27-1a270e5bdc0a/servicePrincipals/384dab06-7a70-4ecf-a04e-284602199124?api-version=1.6",
=======
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/6ad91d65-65ab-4e14-90f7-fe951035b7c9/$metadata#Edm.String\",\r\n  \"value\": \"d8eca219-3055-4504-9a60-18c2d0b4c18c\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "///providers/Microsoft.Authorization/roleDefinitions/c12c1c16-33a1-487b-954d-41c89c60f349?api-version=2015-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "14698a36-c163-4669-a0a2-267652c42197"
=======
          "4b841e66-ded3-4e3c-a082-eb4a595f6124"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Authorization.Version2015.07.01.AuthorizationManagementClient/1.3.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Authorization.Version2015.07.01.AuthorizationManagementClient/1.3.16"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "x-ms-request-charge": [
          "1"
        ],
        "x-ms-request-id": [
          "65b2eef5-d452-4987-9027-d1e8716292b7"
=======
        "x-ms-request-id": [
          "26546c9c-c560-46ab-9f0b-51058edf0984"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Set-Cookie": [
<<<<<<< HEAD
          "x-ms-gateway-slice=Production; path=/; secure; HttpOnly"
=======
          "x-ms-gateway-slice=Production; path=/; SameSite=None; secure; HttpOnly"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "d8f2b49a-822f-40a7-b736-f0424341d32d"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190703T155842Z:d8f2b49a-822f-40a7-b736-f0424341d32d"
        ],
        "Date": [
          "Wed, 03 Jul 2019 15:58:42 GMT"
=======
          "50221a8a-2d9a-4212-9c23-43e99129f760"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200623T085040Z:50221a8a-2d9a-4212-9c23-43e99129f760"
        ],
        "Date": [
          "Tue, 23 Jun 2020 08:50:39 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Length": [
          "841"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleName\": \"Reader and Data Access\",\r\n    \"type\": \"BuiltInRole\",\r\n    \"description\": \"Lets you view everything but will not let you delete or create a storage account or contained resource. It will also allow read/write access to all data contained in a storage account via access to storage account keys.\",\r\n    \"assignableScopes\": [\r\n      \"/\"\r\n    ],\r\n    \"permissions\": [\r\n      {\r\n        \"actions\": [\r\n          \"Microsoft.Storage/storageAccounts/listKeys/action\",\r\n          \"Microsoft.Storage/storageAccounts/ListAccountSas/action\",\r\n          \"Microsoft.Storage/storageAccounts/read\"\r\n        ],\r\n        \"notActions\": []\r\n      }\r\n    ],\r\n    \"createdOn\": \"2018-03-27T23:20:46.1498906Z\",\r\n    \"updatedOn\": \"2019-04-04T23:41:26.1056261Z\",\r\n    \"createdBy\": null,\r\n    \"updatedBy\": null\r\n  },\r\n  \"id\": \"/providers/Microsoft.Authorization/roleDefinitions/c12c1c16-33a1-487b-954d-41c89c60f349\",\r\n  \"type\": \"Microsoft.Authorization/roleDefinitions\",\r\n  \"name\": \"c12c1c16-33a1-487b-954d-41c89c60f349\"\r\n}",
      "StatusCode": 200
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourcegroups/ps9331/providers/Microsoft.Storage///storageAccounts/saps1057/providers/Microsoft.Authorization/roleAssignments?$filter[...]
    {
      "RequestUri": "//subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps9331/providers/Microsoft.Storage/storageAccounts/saps1057/providers/Microsoft.Authorization/roleAssignments/45234253-56ed-4243-b8ed-bd92b2fbe5ce?api-version=2015-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/providers/Microsoft.Authorization/roleDefinitions/c12c1c16-33a1-487b-954d-41c89c60f349\",\r\n    \"principalId\": \"384dab06-7a70-4ecf-a04e-284602199124\"\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleDefinitionId\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\r\n        \"principalId\": \"d8eca219-3055-4504-9a60-18c2d0b4c18c\",\r\n        \"scope\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b\",\r\n        \"createdOn\": \"2020-05-23T18:29:54.9647107Z\",\r\n        \"updatedOn\": \"2020-05-23T18:29:54.9647107Z\",\r\n        \"createdBy\": \"a8656ec6-d7a4-4e38-bf78-58d74e3ed751\",\r\n        \"updatedBy\": \"a8656ec6-d7a4-4e38-bf78-58d74e3ed751\"\r\n      },\r\n      \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Authorization/roleAssignments/dc60f792-d409-4e1d-8fe5-192d121c26e9\",\r\n      \"type\": \"Microsoft.Authorization/roleAssignments\",\r\n      \"name\": \"dc60f792-d409-4e1d-8fe5-192d121c26e9\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps3577/providers/Microsoft.StorageSync/storageSyncServices/sssps7698/syncGroups/sgps4474/cloudEndpoints/cepps2531?api-version=2020-03-01",
      "RequestMethod": "PUT",
[...]
