{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/psnrp7296?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourcegroups/psnrp3177?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "3833c233-450c-4ca7-980b-dc78811cfb4e"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.1"
=======
          "ed7b8319-b1c0-4073-9304-541b55f55ef6"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.26614.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "35"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
=======
        "Date": [
          "Wed, 18 Sep 2019 23:04:01 GMT"
        ],
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1199"
        ],
        "x-ms-request-id": [
          "1e2727bc-31bc-4294-8950-6b829d4435f8"
        ],
        "x-ms-correlation-request-id": [
          "1e2727bc-31bc-4294-8950-6b829d4435f8"
        ],
        "x-ms-routing-request-id": [
          "WESTEUROPE:20190712T141429Z:1e2727bc-31bc-4294-8950-6b829d4435f8"
=======
          "1196"
        ],
        "x-ms-request-id": [
          "5212f489-456b-48b6-9a8d-52b23e67d76c"
        ],
        "x-ms-correlation-request-id": [
          "5212f489-456b-48b6-9a8d-52b23e67d76c"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20190918T230402Z:5212f489-456b-48b6-9a8d-52b23e67d76c"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "Date": [
          "Fri, 12 Jul 2019 14:14:28 GMT"
        ],
=======
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Content-Length": [
          "178"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/psnrp7296\",\r\n  \"name\": \"psnrp7296\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/networkWatchers?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/psnrp3177\",\r\n  \"name\": \"psnrp3177\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/providers/Microsoft.Network/networkWatchers?api-version=2019-08-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "16d55588-0552-4433-869f-546a4fd1b401"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
=======
          "e4df2dee-8d5f-4c3c-b779-826e8e18dfcd"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.26614.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
=======
        "Date": [
          "Wed, 18 Sep 2019 23:04:01 GMT"
        ],
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Pragma": [
          "no-cache"
        ],
        "x-ms-original-request-ids": [
<<<<<<< HEAD
          "9762fb6a-a8f3-4cb8-8439-fe1db24f6ada",
          "471d1ac5-5316-49d0-8398-6f3b6849831c",
          "87aa4cb1-5949-454f-a3cd-a583b74c9520",
          "d0f180d0-211e-469f-aaf6-52eccf46aecf"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "x-ms-request-id": [
          "97c714b6-8da4-45cc-9a4b-c696a0b8abe0"
        ],
        "x-ms-correlation-request-id": [
          "97c714b6-8da4-45cc-9a4b-c696a0b8abe0"
        ][...]
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/psnrp3177/providers/Microsoft.Network/networkWatchers/psnrp1012?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
<<<<<<< HEAD
        ],
        "Content-Length": [
          "1634"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"networkWatcherName-5cee2563e4\",\r\n      \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/restler-networkWatcher/providers/Microsoft.Network/networkWatchers/networkWatcherName-5cee2563e4\",\r\n      \"etag\": \"W/\\\"a2883bab-54b2-4b22-84e0-b347a3b71432\\\"\",\r\n      \"type\": \"Microsoft.Network/networkWatchers\",\r\n      \"location\": \"eastus2\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"flowLogs\": [],\r\n        \"runningOperationIds\": []\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"NetworkWatcher_westcentralus\",\r\n      \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westcentralus\",\r\n      \"etag\": \"W/\\\"74fb49ea-6fd2-4c08-b920-d15131ab4476\\\"\",\r\n      \"type\": \"Microsoft.Network/networkWatchers\",\r\n      \"location\": \"westcentralus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westcentralus/availableProvidersList?api-version=2019-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"azureLocations\": [\r\n    \"West US\"\r\n  ],\r\n  \"country\": \"United States\"\r\n}",
      "RequestHeaders": {
=======
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkWatchers/psnrp1012' under resource group 'psnrp3177' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/psnrp3177/providers/Microsoft.Network/networkWatchers/psnrp1012?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"90b96623-552a-497b-81db-3cb0811d1031\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"psnrp1012\",\r\n  \"id\": \"/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/psnrp3177/providers/Microsoft.Network/networkWatchers/psnrp1012\",\r\n  \"etag\": \"W/\\\"90b96623-552a-497b-81db-3cb0811d1031\\\"\",\r\n  \"type\": \"Microsoft.Network/networkWatchers\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"flowLogs\": [],\r\n    \"runningOperationIds\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/psnrp3177/providers/Microsoft.Network/networkWatchers/psnrp1012?api-version=2019-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "78"
=======
          "35"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Pragma": [
          "no-cache"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/westcentralus/operationResults/b722bebc-1d26-4486-aeca-ba2dcb490225?api-version=2019-06-01"
        ],
        "x-ms-request-id": [
          "b722bebc-1d26-4486-aeca-ba2dcb490225"
        ],
        "x-ms-correlation-request-id": [
          "e5805f85-69a9-42ad-a084-adbc731f7442"
        ],
        "x-ms-arm-service-request-id": [
          "a12d8335-a3d4-4ffe-82cd-78e65cf72850"
=======
        "Date": [
          "Wed, 18 Sep 2019 23:04:03 GMT"
        ],
        "Pragma": [
          "no-cache"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-request-id": [
          "6a18972d-da68-462c-9ded-42ad881ef7df"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/providers/Microsoft.Network/locations/westcentralus/operations/6a18972d-da68-462c-9ded-42ad881ef7df?api-version=2019-08-01"
        ],
        "x-ms-correlation-request-id": [
          "ac7276b9-5e6a-434d-ada0-b7e5acad71c1"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-arm-service-request-id": [
          "8d929aab-ad18-4275-8bb9-486deeb67d12"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
=======
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20190918T230403Z:ac7276b9-5e6a-434d-ada0-b7e5acad71c1"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Content-Length": [
          "423"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"psnrp1012\",\r\n  \"id\": \"/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/psnrp3177/providers/Microsoft.Network/networkWatchers/psnrp1012\",\r\n  \"etag\": \"W/\\\"3bda3f72-47bd-4386-a3c3-820971970089\\\"\",\r\n  \"type\": \"Microsoft.Network/networkWatchers\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"flowLogs\": [],\r\n    \"runningOperationIds\": []\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/psnrp3177/providers/Microsoft.Network/networkWatchers/psnrp1012/availableProvidersList?api-version=2019-08-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"azureLocations\": [\r\n    \"West US\"\r\n  ],\r\n  \"country\": \"United States\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westcentralus/availableProvidersList?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"countries\": [\r\n    {\r\n      \"countryName\": \"United States\",\r\n      \"providers\": [\r\n        \"ALMOUROLTEC SERVICOS DE INFORMATICA E INTERNET LDA - ASN 24768\",\r\n        \"AT&T Services, Inc. - ASN 7018\",\r\n        \"CABLE ONE, INC. - ASN 11492\",\r\n        \"Cablevision Systems Corp. - ASN 6128\",\r\n        \"Charter Communications - ASN 20115\",\r\n        \"Charter Communications - ASN 33588\",\r\n        \"Cogent Communications - ASN 174\",\r\n        \"Comcast Cable Communications, LLC - ASN 7922\",\r\n        \"Cox Communications Inc. - ASN 22773\",\r\n        [...]
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/psnrp3177/providers/Microsoft.Network/networkWatchers/psnrp1012/availableProvidersList?api-version=2019-08-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"azureLocations\": [\r\n    \"West US\"\r\n  ],\r\n  \"country\": \"United States\",\r\n  \"state\": \"washington\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "4180bbf6-6d67-4e22-b04f-ce4e64ffa760"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
=======
          "061dbc0c-88d5-475e-8099-13e4f87de567"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.2661[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westcentralus/availableProvidersList?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"countries\": [\r\n    {\r\n      \"countryName\": \"United States\",\r\n      \"states\": [\r\n        {\r\n          \"stateName\": \"washington\",\r\n          \"providers\": [\r\n            \"Comcast Cable Communications, LLC - ASN 7922\",\r\n            \"Qwest Communications Company, LLC - ASN 209\"\r\n          ],\r\n          \"cities\": [\r\n            {\r\n              \"cityName\": \"seattle\",\r\n              \"providers\": [\r\n                \"Comcast Cable Communications, LLC - ASN 7922\"\r\n              ]\r\n            },\r\n            {\r\n              \"cityName\": \"tukwila\",\r\n              \"providers\": [\r\n                \"Qwest Communications Company, LLC - ASN 209\"\r\n              ]\r\n            }\r\n          ]\r\n        }\r\n      ]\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/resourceGroups/psnrp3177/providers/Microsoft.Network/networkWatchers/psnrp1012/availableProvidersList?api-version=2019-08-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"azureLocations\": [\r\n    \"West US\"\r\n  ],\r\n  \"country\": \"United States\",\r\n  \"state\": \"washington\",\r\n  \"city\": \"seattle\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "d2020158-51a6-4ef6-8f4f-2e5e3c93d4a2"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
=======
          "c6e92b16-e6cd-426f-a256-8093cd7eb413"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.26614.0[...]
    {
      "RequestUri": "/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU05SUDMxNzctV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/6926fc75-ce7d-4c9e-a87f-c4e38c594eb5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU05SUDMxNzctV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ]
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU05SUDcyOTYtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
======[...]
[...]
