{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-[...]
[...]
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourcegroups/psnrp5640?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp5640\",\r\n  \"name\": \"psnrp5640\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourcegroups/psnrp5640/providers/Microsoft.Resources/deployments/psnrp5640?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"parameters\": {\r\n        \"vmSku\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"windowsOSVersion\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"vmssName\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"instanceCount\": {\r\n          \"type\": \"int\"\r\n        },\r\n        \"singlePlacementGroup\": {\r\n          \"type\": \"bool\"\r\n        },\r\n        \"adminUsername\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"adminPassword\": {\r\n          \"type\": \"securestring\"\r\n        },\r\n        \"location\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"platformFaultDomainCount\": {\r\n          \"type\": \"int\"\r\n        }\r\n      },\r\n      \"variables\": {\r\n        \"namingInfix\": \"[toLower(substring(concat(parameters('vmssName'), uniqueString(resourceGroup().id)), 0, 9))]\",\r\n        \"longNamingInfix\": \"[toLower(parameters('vmssName'))]\",\r\n        \"addressPrefix\": \"10.0.0.0/16\",\r\n        \"subnetPrefix\": \"10.0.0.0/24\",\r\n        \"virtualNetworkName\": \"[concat(variables('namingInfix'), 'vnet')]\",\r\n        \"publicIPAddressName\": \"[concat(variables('namingInfix'), 'pip')]\",\r\n        \"subnetName\": \"[concat(variables('namingInfix'), 'subnet')]\",\r\n        \"loadBalancerName\": \"[concat(variables('namingInfix'), 'lb')]\",\r\n        \"publicIPAddressID\": \"[resourceId('Microsoft.Network/publicIPAddresses',variables('publicIPAddressName'))]\",\r\n        \"lbProbeID\": \"[resourceId('Microsoft.Network/loadBalancers/probes',variables('loadBalancerName'), 'tcpProbe')]\",\r\n        \"natPoolName\": \"[concat(variables('namingInfix'), 'natpool')]\",\r\n        \"bePoolName\": \"[concat(variables('namingInfix'), 'bepool')]\",\r\n        \"lbPoolID\": \"[resourceId('Microsoft.Network/loadBalancers/backendAddressPools',variables('loadBalancerName'),variables('bePoolName'))]\",\r\n        \"natStartPort\": 50000,\r\n        \"natEndPort\": 50119,\r\n        \"natBackendPort\": 3389,\r\n        \"nicName\": \"[concat(variables('namingInfix'), 'nic')]\",\r\n        \"ipConfigName\": \"[concat(variables('namingInfix'), 'ipconfig')]\",\r\n        \"frontEndIPConfigID\": \"[resourceId('Microsoft.Network/loadBalancers/frontendIPConfigurations',variables('loadBalancerName'),'loadBalancerFrontEnd')]\",\r\n        \"osType\": {\r\n          \"publisher\": \"MicrosoftWindowsServer\",\r\n          \"offer\": \"WindowsServer\",\r\n          \"sku\": \"[parameters('windowsOSVersion')]\",\r\n          \"version\": \"latest\"\r\n        },\r\n        \"imageReference\": \"[variables('osType')]\"\r\n      },\r\n      \"resources\": [\r\n        {\r\n          \"type\": \"Microsoft.Network/loadBalancers\",\r\n          \"apiVersion\": \"2020-06-01\",\r\n          \"name\": \"[variables('loadBalancerName')]\",\r\n          \"location\": \"[parameters('location')]\",\r\n          \"dependsOn\": [\r\n            \"[resourceId('Microsoft.Network/publicIPAddresses', variables('publicIPAddressName'))]\"\r\n          ],\r\n          \"properties\": {\r\n            \"frontendIPConfigurations\": [\r\n              {\r\n                \"name\": \"LoadBalancerFrontEnd\",\r\n                \"properties\": {\r\n                  \"publicIPAddress\": {\r\n                    \"id\": \"[variables('publicIPAddressID')]\"\r\n                  }\r\n                }\r\n              }\r\n            ],\r\n            \"backendAddressPools\": [\r\n              {\r\n                \"name\": \"[variables('bePoolName')]\"\r\n              }\r\n            ],\r\n            \"inboundNatPools\": [\r\n              {\r\n                \"name\": \"[variables('natPoolName')]\",\r\n                \"properties\": {\r\n                  \"frontendIPConfiguration\": {\r\n                    \"id\": \"[variables('frontEndIPConfigID')]\"\r\n                  },\r\n                  \"protocol\": \"Tcp\",\r\n                  \"frontendPortRangeStart\": \"[variables('natStartPort')]\",\r\n                  \"frontendPortRangeEnd\": \"[variables('natEndPort')]\",\r\n                  \"backendPort\": \"[variables('natBackendPort')]\"\r\n                }\r\n              }\r\n            ],\r\n            \"loadBalancingRules\": [\r\n              {\r\n                \"name\": \"LBRule\",\r\n                \"properties\": {\r\n                  \"frontendIPConfiguration\": {\r\n                    \"id\": \"[variables('frontEndIPConfigID')]\"\r\n                  },\r\n                  \"backendAddressPool\": {\r\n                    \"id\": \"[variables('lbPoolID')]\"\r\n                  },\r\n                  \"protocol\": \"Tcp\",\r\n                  \"frontendPort\": 80,\r\n                  \"backendPort\": 80,\r\n                  \"enableFloatingIP\": false,\r\n                  \"idleTimeoutInMinutes\": 5,\r\n                  \"probe\": {\r\n                    \"id\": \"[variables('lbProbeID')]\"\r\n                  }\r\n                }\r\n              }\r\n            ],\r\n            \"probes\": [\r\n              {\r\n                \"name\": \"tcpProbe\",\r\n                \"properties\": {\r\n                  \"protocol\": \"Tcp\",\r\n                  \"port\": 80,\r\n                  \"intervalInSeconds\": 5,\r\n                  \"numberOfProbes\": 2\r\n                }\r\n              }\r\n            ]\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n          \"apiVersion\": \"2020-06-01\",\r\n          \"name\": \"[variables('namingInfix')]\",\r\n          \"location\": \"[parameters('location')]\",\r\n          \"sku\": {\r\n            \"name\": \"[parameters('vmSku')]\",\r\n            \"tier\": \"Standard\",\r\n            \"capacity\": \"[parameters('instanceCount')]\"\r\n          },\r\n          \"dependsOn\": [\r\n            \"[resourceId('Microsoft.Network/loadBalancers', variables('loadBalancerName'))]\",\r\n            \"[resourceId('Microsoft.Network/virtualNetworks', variables('virtualNetworkName'))]\"\r\n          ],\r\n          \"properties\": {\r\n            \"overprovision\": true,\r\n            \"upgradePolicy\": {\r\n              \"mode\": \"Manual\"\r\n            },\r\n            \"singlePlacementGroup\": \"[parameters('singlePlacementGroup')]\",\r\n            \"platformFaultDomainCount\": \"[parameters('platformFaultDomainCount')]\",\r\n            \"virtualMachineProfile\": {\r\n              \"storageProfile\": {\r\n                \"osDisk\": {\r\n                  \"caching\": \"ReadWrite\",\r\n                  \"createOption\": \"FromImage\"\r\n                },\r\n                \"imageReference\": \"[variables('imageReference')]\"\r\n              },\r\n              \"osProfile\": {\r\n                \"computerNamePrefix\": \"[variables('namingInfix')]\",\r\n                \"adminUsername\": \"[parameters('adminUsername')]\",\r\n                \"adminPassword\": \"[parameters('adminPassword')]\"\r\n              },\r\n              \"networkProfile\": {\r\n                \"networkInterfaceConfigurations\": [\r\n                  {\r\n                    \"name\": \"[variables('nicName')]\",\r\n                    \"properties\": {\r\n                      \"primary\": true,\r\n                      \"ipConfigurations\": [\r\n                        {\r\n                          \"name\": \"[variables('ipConfigName')]\",\r\n                          \"properties\": {\r\n                            \"subnet\": {\r\n                              \"id\": \"[resourceId('Microsoft.Network/virtualNetworks/subnets', variables('virtualNetworkName'), variables('subnetName'))]\"\r\n                            },\r\n                            \"loadBalancerBackendAddressPools\": [\r\n                              {\r\n                                \"id\": \"[variables('lbPoolID')]\"\r\n                              }\r\n                            ],\r\n                            \"loadBalancerInboundNatPools\": [\r\n                              {\r\n                                \"id\": \"[resourceId('Microsoft.Network/loadBalancers/inboundNatPools', variables('loadBalancerName'),  variables('natPoolName'))]\"\r\n                              }\r\n                            ]\r\n                          }\r\n                        }\r\n                      ]\r\n                    }\r\n                  }\r\n                ]\r\n              }\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n          \"apiVersion\": \"2020-06-01\",\r\n          \"name\": \"[variables('publicIPAddressName')]\",\r\n          \"location\": \"[parameters('location')]\",\r\n          \"properties\": {\r\n            \"publicIPAllocationMethod\": \"Static\",\r\n            \"dnsSettings\": {\r\n              \"domainNameLabel\": \"[variables('longNamingInfix')]\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"Microsoft.Network/virtualNetworks\",\r\n          \"apiVersion\": \"2020-06-01\",\r\n          \"name\": \"[variables('virtualNetworkName')]\",\r\n          \"location\": \"[parameters('location')]\",\r\n          \"properties\": {\r\n            \"addressSpace\": {\r\n              \"addressPrefixes\": [\r\n                \"[variables('addressPrefix')]\"\r\n              ]\r\n            },\r\n            \"subnets\": [\r\n              {\r\n                \"name\": \"[variables('subnetName')]\",\r\n                \"properties\": {\r\n                  \"addressPrefix\": \"[variables('subnetPrefix')]\"\r\n                }\r\n              }\r\n            ]\r\n          }\r\n        }\r\n      ],\r\n      \"outputs\": {\r\n        \"applicationUrl\": {\r\n          \"type\": \"string\",\r\n          \"value\": \"[concat('http://', reference(variables('publicIPAddressName')).dnsSettings.fqdn, '/MyApp')]\"\r\n        }\r\n      }\r\n    },\r\n    \"parameters\": {\r\n      \"vmSku\": {\r\n        \"value\": \"Standard_D4s_v3\"\r\n      },\r\n      \"windowsOSVersion\": {\r\n        \"value\": \"2019-Datacenter\"\r\n      },\r\n      \"vmssName\": {\r\n        \"value\": \"psnrp2654\"\r\n      },\r\n      \"instanceCount\": {\r\n        \"value\": 3\r\n      },\r\n      \"singlePlacementGroup\": {\r\n        \"value\": true\r\n      },\r\n      \"adminUsername\": {\r\n        \"value\": \"netanaytics12\"\r\n      },\r\n      \"adminPassword\": {\r\n        \"value\": \"netanalytics-32psnrp5640\"\r\n      },\r\n      \"location\": {\r\n        \"value\": \"West Central US\"\r\n      },\r\n      \"platformFaultDomainCount\": {\r\n        \"value\": 1\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourcegroups/psnrp5640/providers/Microsoft.Resources/deployments/psnrp5640/operationStatuses/08585432067356127190?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp5640/providers/Microsoft.Resources/deployments/psnrp5640\",\r\n  \"name\": \"psnrp5640\",\r\n  \"properties\": {\r\n    \"templateHash\": \"7756322736726885846\",\r\n    \"parameters\": {\r\n      \"vmSku\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"Standard_D4s_v3\"\r\n      },\r\n      \"windowsOSVersion\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"2019-Datacenter\"\r\n      },\r\n      \"vmssName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"psnrp2654\"\r\n      },\r\n      \"instanceCount\": {\r\n        \"type\": \"Int\",\r\n        \"value\": 3\r\n      },\r\n      \"singlePlacementGroup\": {\r\n        \"type\": \"Bool\",\r\n        \"value\": true\r\n      },\r\n      \"adminUsername\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"netanaytics12\"\r\n      },\r\n      \"adminPassword\": {\r\n        \"type\": \"SecureString\"\r\n      },\r\n      \"location\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"West Central US\"\r\n      },\r\n      \"platformFaultDomainCount\": {\r\n        \"type\": \"Int\",\r\n        \"value\": 1\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"timestamp\": \"2022-07-21T10:42:34.4749562Z\",\r\n    \"duration\": \"PT0.000679S\",\r\n    \"correlationId\": \"fd1169b0-f1f8-4246-a622-124baf0476b0\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.Network\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"loadBalancers\",\r\n            \"locations\": [\r\n              \"westcentralus\"\r\n            ]\r\n          },\r\n          {\r\n            \"resourceType\": \"publicIPAddresses\",\r\n            \"locations\": [\r\n              \"westcentralus\"\r\n            ]\r\n          },\r\n          {\r\n            \"resourceType\": \"virtualNetworks\",\r\n            \"locations\": [\r\n              \"westcentralus\"\r\n            ]\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"namespace\": \"Microsoft.Compute\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"virtualMachineScaleSets\",\r\n            \"locations\": [\r\n              \"westcentralus\"\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": [\r\n      {\r\n        \"dependsOn\": [\r\n          {\r\n            \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp5640/providers/Microsoft.Network/publicIPAddresses/psnrp2654pip\",\r\n            \"resourceType\": \"Microsoft.Network/publicIPAddresses\",\r\n            \"resourceName\": \"psnrp2654pip\"\r\n          }\r\n        ],\r\n        \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp5640/providers/Microsoft.Network/loadBalancers/psnrp2654lb\",\r\n        \"resourceType\": \"Microsoft.Network/loadBalancers\",\r\n        \"resourceName\": \"psnrp2654lb\"\r\n      },\r\n      {\r\n        \"dependsOn\": [\r\n          {\r\n            \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp5640/providers/Microsoft.Network/loadBalancers/psnrp2654lb\",\r\n            \"resourceType\": \"Microsoft.Network/loadBalancers\",\r\n            \"resourceName\": \"psnrp2654lb\"\r\n          },\r\n          {\r\n            \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp5640/providers/Microsoft.Network/virtualNetworks/psnrp2654vnet\",\r\n            \"resourceType\": \"Microsoft.Network/virtualNetworks\",\r\n            \"resourceName\": \"psnrp2654vnet\"\r\n          }\r\n        ],\r\n        \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp5640/providers/Microsoft.Compute/virtualMachineScaleSets/psnrp2654\",\r\n        \"resourceType\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n        \"resourceName\": \"psnrp2654\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourcegroups/psnrp5640/providers/Microsoft.Resources/deployments/psnrp5640/operationStatuses/08585432067356127190?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Running\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network/networkWatchers?api-version=2022-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "7c642d04-ec14-4f63-ae7a-ac2837461e48",
          "20f7cb12-4825-478a-b0d1-b7771b324023",
          "58c32df7-437f-42fc-87be-5a6025c5d24f",
          "ae30323e-2dae-44c3-af41-33cf61aab7f5",
          "42299795-ff2c-46d8-a068-57a72dc68793",
          "6e846a7f-5837-454d-94db-e331f2e2fc8b",
          "573442a0-5124-4860-a57d-a5a6f5e78526",
          "f7c556d2-29eb-4d82-ae11-d08eeea8ec10",
          "f14079b1-565c-4d08-9771-6126d3680123",
          "362dabb2-9c3f-45c8-9f6c-fee6d7465b6e[...]
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp5640/providers/Microsoft.Compute/virtualMachineScaleSets/psnrp2654?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetVMScaleSet3Min;395,Microsoft.Compute/GetVMScaleSet30Min;2545"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"psnrp2654\",\r\n  \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp5640/providers/Microsoft.Compute/virtualMachineScaleSets/psnrp2654\",\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\": \"westcentralus\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_D4s_v3\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 3\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Manual\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"psnrp2654\",\r\n        \"adminUsername\": \"netanaytics12\",\r\n        \"windowsConfiguration\": {\r\n          \"provisionVMAgent\": true,\r\n          \"enableAutomaticUpdates\": true,\r\n          \"enableVMAgentPlatformUpdates\": false\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\n          \"osType\": \"Windows\",\r\n          \"createOption\": \"FromImage\",\r\n          \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Premium_LRS\"\r\n          },\r\n          \"diskSizeGB\": 127\r\n        },\r\n        \"imageReference\": {\r\n          \"publisher\": \"MicrosoftWindowsServer\",\r\n          \"offer\": \"WindowsServer\",\r\n          \"sku\": \"2019-Datacenter\",\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"networkProfile\": {\r\n        \"networkInterfaceConfigurations\": [\r\n          {\r\n            \"name\": \"psnrp2654nic\",\r\n            \"properties\": {\r\n              \"primary\": true,\r\n              \"dnsSettings\": {\r\n                \"dnsServers\": []\r\n              },\r\n              \"enableIPForwarding\": false,\r\n              \"ipConfigurations\": [\r\n                {\r\n                  \"name\": \"psnrp2654ipconfig\",\r\n                  \"properties\": {\r\n                    \"subnet\": {\r\n                      \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp5640/providers/Microsoft.Network/virtualNetworks/psnrp2654vnet/subnets/psnrp2654subnet\"\r\n                    },\r\n                    \"privateIPAddressVersion\": \"IPv4\",\r\n                    \"loadBalancerBackendAddressPools\": [\r\n                      {\r\n                        \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp5640/providers/Microsoft.Network/loadBalancers/psnrp2654lb/backendAddressPools/psnrp2654bepool\"\r\n                      }\r\n                    ],\r\n                    \"loadBalancerInboundNatPools\": [\r\n                      {\r\n                        \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp5640/providers/Microsoft.Network/loadBalancers/psnrp2654lb/inboundNatPools/psnrp2654natpool\"\r\n                      }\r\n                    ]\r\n                  }\r\n                }\r\n              ]\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"overprovision\": true,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\": \"4a99ad66-342e-4def-947d-c2d7dc8875c7\",\r\n    \"platformFaultDomainCount\": 1,\r\n    \"timeCreated\": \"2022-07-21T16:13:07.6117356+05:30\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp5640/providers/Microsoft.Compute/virtualMachineScaleSets/psnrp2654?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetVMScaleSet3Min;390,Microsoft.Compute/GetVMScaleSet30Min;2548"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"psnrp2654\",\r\n  \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp5640/providers/Microsoft.Compute/virtualMachineScaleSets/psnrp2654\",\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {\r\n    \"azsecpack\": \"nonprod\",\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\": \"true\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_D4s_v3\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 3\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Manual\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"psnrp2654\",\r\n        \"adminUsername[...]
[...]
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Compute/locations/westcentralus/operations/b72d3311-85bd-40a8-ac36-e0cb15845f98?p=430b1cf6-0a4e-4055-8499-40af8897460e&api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "51"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14998,Microsoft.Compute/GetOperation30Min;29950"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2022-07-21T16:14:24.2675111+05:30\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"b72d3311-85bd-40a8-ac36-e0cb15845f98\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Compute/locations/westcentralus/operations/b72d3311-85bd-40a8-ac36-e0cb15845f98?p=430b1cf6-0a4e-4055-8499-40af8897460e&api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14994,Microsoft.Compute/GetOperation30Min;29953"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2022-07-21T16:14:24.2675111+05:30\",\r\n  \"endTime\": \"2022-07-21T16:16:12.579939+05:30\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"b72d3311-85bd-40a8-ac36-e0cb15845f98\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp5640/providers/Microsoft.Compute/virtualMachineScaleSets/psnrp2654/virtualMachines?api-version=2021-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/HighCostGetVMScaleSet3Min;178,Microsoft.Compute/HighCostGetVMScaleSet30Min;895,Microsoft.Compute/VMScaleSetVMViews3Min;4997"
        ],
        "x-ms-request-charge": [
          "3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"psnrp2654_0\",\r\n      \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp5640/providers/Microsoft.Compute/virtualMachineScaleSets/psnrp2654/virtualMachines/0\",\r\n      \"type\": \"Microsoft.Compute/virtualMachineScaleSets/virtualMachines\",\r\n      \"location\": \"westcentralus\",\r\n      \"tags\": {\r\n        \"azsecpack\": \"nonprod\",\r\n        \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\": \"true\"\r\n      },\r\n      \"instanceId\": \"0\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_D4s_v3\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"properties\": {\r\n        \"latestModelApplied\": false,\r\n        \"modelDefinitionApplied\": \"VirtualMachineScaleSet\",\r\n        \"networkProfileConfiguration\": {\r\n          \"networkInterfaceConfigurations\": [\r\n            {\r\n              \"name\": \"psnrp2654nic\",\r\n              \"properties\": {\r\n                \"primary\": true,\r\n                \"dnsSettings\": {\r\n                  \"dnsServers\": []\r\n                },\r\n                \"enableIPForwarding\": false,\r\n                \"ipConfigurations\": [\r\n                  {\r\n                    \"name\": \"psnrp2654ipconfig\",\r\n                    \"properties\": [...]
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp5640/providers/Microsoft.Compute/virtualMachineScaleSets/psnrp2654/manualupgrade?api-version=2021-11-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"instanceIds\": [\r\n    \"0\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
[...]
