{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-[...]
[...]
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network/networkWatchers?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "add96693-72f0-455a-8c1f-878930560e4d",
          "466d6aa7-3afd-4101-b8ef-609d92a3cd4e",
          "27859bc0-3991-48ef-bb7d-2cb95347feac",
          "3b66dad3-b59f-414e-b151-73fdd2d6d5a2",
          "3db7841f-998e-45f4-887a-f66f4bfdc885",
          "f6e8c45a-fb22-4ceb-89a9-f1cfc14efaf6",
          "6451dc2e-a541-488c-bae2-a213daac7a6d",
          "d8e38953-b24f-41fb-b470-f727ed561317",
          "53d864bd-5218-4fff-98d5-a2b135154b5c",
          "291df3f7-a17d-4ccd-afc2-54ef9c2fff9d[...]
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/PS-INT-Testing-PacketCapture/providers/Microsoft.Compute/virtualMachineScaleSets/PS-INT-Testing-PacketCapture?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetVMScaleSet3Min;396,Microsoft.Compute/GetVMScaleSet30Min;2586"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"PS-INT-Testing-PacketCapture\",\r\n  \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/PS-INT-Testing-PacketCapture/providers/Microsoft.Compute/virtualMachineScaleSets/PS-INT-Testing-PacketCapture\",\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"azsecpack\": \"nonprod\",\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\": \"true\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"UserAssigned\",\r\n    \"userAssignedIdentities\": {\r\n      \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/AzSecPackAutoConfigRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/AzSecPackAutoConfigUA-centraluseuap\": {\r\n        \"principalId\": \"bfe5a2db-bf19-4d14-92d0-e22b5d1ebbd8\",\r\n        \"clientId\": \"6a2b7366-4728-4489-be95-905996c1316f\"\r\n      }\r\n    }\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": false,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Manual\"\r\n    },\r\n    \"scaleInPolicy\": {\r\n      \"rules\": [\r\n        \"Default\"\r\n      ]\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"ps-int-te\",\r\n        \"adminUsername\": \"dhawal\",\r\n        \"windowsConfiguration\": {\r\n          \"provisionVMAgent\": true,\r\n          \"enableAutomaticUpdates\": true\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\n          \"osType\": \"Windows\",\r\n          \"createOption\": \"FromImage\",\r\n          \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Premium_LRS\"\r\n          },\r\n          \"diskSizeGB\": 127\r\n        },\r\n        \"imageReference\": {\r\n          \"publisher\": \"MicrosoftWindowsServer\",\r\n          \"offer\": \"WindowsServer\",\r\n          \"sku\": \"2019-Datacenter\",\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"networkProfile\": {\r\n        \"networkInterfaceConfigurations\": [\r\n          {\r\n            \"name\": \"PS-INT-Testing-PacketCapture-vnet-nic01\",\r\n            \"properties\": {\r\n              \"primary\": true,\r\n              \"enableAcceleratedNetworking\": true,\r\n              \"networkSecurityGroup\": {\r\n                \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/PS-INT-Testing-PacketCapture/providers/Microsoft.Network/networkSecurityGroups/basicNsgPS-INT-Testing-PacketCapture-vnet-nic01\"\r\n              },\r\n              \"dnsSettings\": {\r\n                \"dnsServers\": []\r\n              },\r\n              \"enableIPForwarding\": false,\r\n              \"ipConfigurations\": [\r\n                {\r\n                  \"name\": \"PS-INT-Testing-PacketCapture-vnet-nic01-defaultIpConfiguration\",\r\n                  \"properties\": {\r\n                    \"primary\": true,\r\n                    \"subnet\": {\r\n                      \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/PS-INT-Testing-PacketCapture/providers/Microsoft.Network/virtualNetworks/PS-INT-Testing-PacketCapture-vnet/subnets/default\"\r\n                    },\r\n                    \"privateIPAddressVersion\": \"IPv4\"\r\n                  }\r\n                }\r\n              ]\r\n            }\r\n          }\r\n        ]\r\n      },\r\n      \"diagnosticsProfile\": {\r\n        \"bootDiagnostics\": {\r\n          \"enabled\": true\r\n        }\r\n      },\r\n      \"extensionProfile\": {\r\n        \"extensions\": [\r\n          {\r\n            \"name\": \"Microsoft.Azure.Security.AntimalwareSignature.AntimalwareConfiguration\",\r\n            \"properties\": {\r\n              \"autoUpgradeMinorVersion\": true,\r\n              \"enableAutomaticUpgrade\": true,\r\n              \"publisher\": \"Microsoft.Azure.Security.AntimalwareSignature\",\r\n              \"type\": \"AntimalwareConfiguration\",\r\n              \"typeHandlerVersion\": \"2.0\",\r\n              \"settings\": {}\r\n            }\r\n          },\r\n          {\r\n            \"name\": \"Microsoft.Azure.Geneva.GenevaMonitoring\",\r\n            \"properties\": {\r\n              \"autoUpgradeMinorVersion\": true,\r\n              \"enableAutomaticUpgrade\": true,\r\n              \"publisher\": \"Microsoft.Azure.Geneva\",\r\n              \"type\": \"GenevaMonitoring\",\r\n              \"typeHandlerVersion\": \"2.0\",\r\n              \"settings\": {}\r\n            }\r\n          },\r\n          {\r\n            \"name\": \"Microsoft.Compute.CustomScriptExtension\",\r\n            \"properties\": {\r\n              \"autoUpgradeMinorVersion\": true,\r\n              \"publisher\": \"Microsoft.Compute\",\r\n              \"type\": \"CustomScriptExtension\",\r\n              \"typeHandlerVersion\": \"1.10\",\r\n              \"settings\": {\r\n                \"timestamp\": 123456789\r\n              }\r\n            }\r\n          },\r\n          {\r\n            \"name\": \"AzureNetworkWatcherExtension\",\r\n            \"properties\": {\r\n              \"autoUpgradeMinorVersion\": true,\r\n              \"publisher\": \"Microsoft.Azure.NetworkWatcher\",\r\n              \"type\": \"NetworkWatcherAgentWindows\",\r\n              \"typeHandlerVersion\": \"1.4\",\r\n              \"settings\": {}\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"overprovision\": false,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\": \"23da1aaf-77c2-4358-baca-bab1ac6bfe86\",\r\n    \"platformFaultDomainCount\": 1\r\n  },\r\n  \"zones\": [\r\n    \"2\"\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_centraluseuap/packetCaptures/PS-INT-Testing-PacketCapture?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"Resource /subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_centraluseuap/packetCaptures/PS-INT-Testing-PacketCapture not found.\",\r\n    \"details\": []\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_centraluseuap/packetCaptures/PS-INT-Testing-PacketCapture?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"89e72e5b-5655-4f67-813e-49e8ade3e0ba\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"PS-INT-Testing-PacketCapture\",\r\n  \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_centraluseuap/packetCaptures/PS-INT-Testing-PacketCapture\",\r\n  \"etag\": \"W/\\\"89e72e5b-5655-4f67-813e-49e8ade3e0ba\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"target\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/PS-INT-Testing-PacketCapture/providers/Microsoft.Compute/virtualMachineScaleSets/PS-INT-Testing-PacketCapture\",\r\n    \"scope\": {\r\n      \"include\": [],\r\n      \"exclude\": []\r\n    },\r\n    \"targetType\": \"AzureVMSS\",\r\n    \"bytesToCapturePerPacket\": 0,\r\n    \"totalBytesPerSession\": 1073741824,\r\n    \"timeLimitInSeconds\": 18000,\r\n    \"storageLocation\": {\r\n      \"storagePath\": \"\",\r\n      \"filePath\": \"C:\\\\tmp\\\\Capture.cap\"\r\n    },\r\n    \"filters\": [\r\n      {\r\n        \"protocol\": \"TCP\",\r\n        \"localIPAddress\": \"\",\r\n        \"localPort\": \"80\",\r\n        \"remoteIPAddress\": \"127.0.0.1-127.0.0.255\",\r\n        \"remotePort\": \"80-120\"\r\n      },\r\n      {\r\n        \"protocol\": \"Any\",\r\n        \"localIPAddress\": \"127.0.0.1\",\r\n        \"localPort\": \"\",\r\n        \"remoteIPAddress\": \"\",\r\n        \"remotePort\": \"\"\r\n      }\r\n    ]\r\n  },\r\n  \"type\": \"Microsoft.Network/networkWatchers/packetCaptures\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_centraluseuap/packetCaptures/PS-INT-Testing-PacketCapture?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"target\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/PS-INT-Testing-PacketCapture/providers/Microsoft.Compute/virtualMachineScaleSets/PS-INT-Testing-PacketCapture\",\r\n    \"targetType\": \"AzureVMSS\",\r\n    \"storageLocation\": {\r\n      \"filePath\": \"C:\\\\tmp\\\\Capture.cap\"\r\n    },\r\n    \"filters\": [\r\n      {\r\n        \"protocol\": \"Tcp\",\r\n        \"remoteIPAddress\": \"127.0.0.1-127.0.0.255\",\r\n        \"localPort\": \"80\",\r\n        \"remotePort\": \"80-120\"\r\n      },\r\n      {\r\n        \"localIPAddress\": \"127.0.0.1\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network/locations/centraluseuap/operations/1cc90ac6-eeb4-4df8-8886-0e9fd8105dc9?api-version=2021-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"PS-INT-Testing-PacketCapture\",\r\n  \"id\": \"/subscr[...]
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network/locations/centraluseuap/operations/1cc90ac6-eeb4-4df8-8886-0e9fd8105dc9?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_centraluseuap/packetCaptures/PS-INT-Testing-PacketCapture/queryStatus?api-version=2021-06-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network/locations/centraluseuap/operationResults/38910ad6-bf92-43e6-bcbb-06f3c15562c4?api-version=2021-06-01"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"PS-INT-Testing-PacketCapture\",\r\n  \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_centraluseuap/packetCaptures/PS-INT-Testing-PacketCapture\",\r\n  \"captureStartTime\": \"2022-02-07T14:20:31.9924735Z\",\r\n  \"packetCaptureStatus\": \"Running\",\r\n  \"packetCaptureError\": []\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network/locations/centraluseuap/operationResults/38910ad6-bf92-43e6-bcbb-06f3c15562c4?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network/locations/centraluseuap/operationResults/38910ad6-bf92-43e6-bcbb-06f3c15562c4?api-version=2021-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"PS-INT-Testing-PacketCapture\",\r\n  \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_centraluseuap/packetCaptures/PS-INT-Testing-PacketCapture\",\r\n  \"captureStartTime\": \"2022-02-07T14:20:31.9924735Z\",\r\n  \"packetCaptureStatus\": \"Running\",\r\n  \"packetCaptureError\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_centraluseuap/packetCaptures/PS-INT-Testing-PacketCapture/stop?api-version=2021-06-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network/locations/centraluseuap/operationResults/efa6ebcd-a3ef-46d3-82aa-857d6d613cfa?api-version=2021-06-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network/locations/centraluseuap/operations/efa6ebcd-a3ef-46d3-82aa-857d6d613cfa?api-version=2021-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network/locations/centraluseuap/operationResults/4af54961-543b-4370-a2d9-60bcb6cc128b?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network/locations/centraluseuap/operationResults/4af54961-543b-4370-a2d9-60bcb6cc128b?api-version=2021-06-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network/locations/centraluseuap/operations/4af54961-543b-4370-a2d9-60bcb6cc128b?api-version=2021-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "9cece3e3-0f7d-47ca-af0e-9772773f90b7"
  }
}