{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-[...]
[...]
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourcegroups/psnrp1595?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp1595\",\r\n  \"name\": \"psnrp1595\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourcegroups/psnrp1595/providers/Microsoft.Resources/deployments/psnrp1595?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"parameters\": {\r\n        \"vmSku\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"windowsOSVersion\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"vmssName\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"instanceCount\": {\r\n          \"type\": \"int\"\r\n        },\r\n        \"singlePlacementGroup\": {\r\n          \"type\": \"bool\"\r\n        },\r\n        \"adminUsername\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"adminPassword\": {\r\n          \"type\": \"securestring\"\r\n        },\r\n        \"location\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"platformFaultDomainCount\": {\r\n          \"type\": \"int\"\r\n        }\r\n      },\r\n      \"variables\": {\r\n        \"namingInfix\": \"[toLower(substring(concat(parameters('vmssName'), uniqueString(resourceGroup().id)), 0, 9))]\",\r\n        \"longNamingInfix\": \"[toLower(parameters('vmssName'))]\",\r\n        \"addressPrefix\": \"10.0.0.0/16\",\r\n        \"subnetPrefix\": \"10.0.0.0/24\",\r\n        \"virtualNetworkName\": \"[concat(variables('namingInfix'), 'vnet')]\",\r\n        \"publicIPAddressName\": \"[concat(variables('namingInfix'), 'pip')]\",\r\n        \"subnetName\": \"[concat(variables('namingInfix'), 'subnet')]\",\r\n        \"loadBalancerName\": \"[concat(variables('namingInfix'), 'lb')]\",\r\n        \"publicIPAddressID\": \"[resourceId('Microsoft.Network/publicIPAddresses',variables('publicIPAddressName'))]\",\r\n        \"lbProbeID\": \"[resourceId('Microsoft.Network/loadBalancers/probes',variables('loadBalancerName'), 'tcpProbe')]\",\r\n        \"natPoolName\": \"[concat(variables('namingInfix'), 'natpool')]\",\r\n        \"bePoolName\": \"[concat(variables('namingInfix'), 'bepool')]\",\r\n        \"lbPoolID\": \"[resourceId('Microsoft.Network/loadBalancers/backendAddressPools',variables('loadBalancerName'),variables('bePoolName'))]\",\r\n        \"natStartPort\": 50000,\r\n        \"natEndPort\": 50119,\r\n        \"natBackendPort\": 3389,\r\n        \"nicName\": \"[concat(variables('namingInfix'), 'nic')]\",\r\n        \"ipConfigName\": \"[concat(variables('namingInfix'), 'ipconfig')]\",\r\n        \"frontEndIPConfigID\": \"[resourceId('Microsoft.Network/loadBalancers/frontendIPConfigurations',variables('loadBalancerName'),'loadBalancerFrontEnd')]\",\r\n        \"osType\": {\r\n          \"publisher\": \"MicrosoftWindowsServer\",\r\n          \"offer\": \"WindowsServer\",\r\n          \"sku\": \"[parameters('windowsOSVersion')]\",\r\n          \"version\": \"latest\"\r\n        },\r\n        \"imageReference\": \"[variables('osType')]\"\r\n      },\r\n      \"resources\": [\r\n        {\r\n          \"type\": \"Microsoft.Network/loadBalancers\",\r\n          \"apiVersion\": \"2020-06-01\",\r\n          \"name\": \"[variables('loadBalancerName')]\",\r\n          \"location\": \"[parameters('location')]\",\r\n          \"dependsOn\": [\r\n            \"[resourceId('Microsoft.Network/publicIPAddresses', variables('publicIPAddressName'))]\"\r\n          ],\r\n          \"properties\": {\r\n            \"frontendIPConfigurations\": [\r\n              {\r\n                \"name\": \"LoadBalancerFrontEnd\",\r\n                \"properties\": {\r\n                  \"publicIPAddress\": {\r\n                    \"id\": \"[variables('publicIPAddressID')]\"\r\n                  }\r\n                }\r\n              }\r\n            ],\r\n            \"backendAddressPools\": [\r\n              {\r\n                \"name\": \"[variables('bePoolName')]\"\r\n              }\r\n            ],\r\n            \"inboundNatPools\": [\r\n              {\r\n                \"name\": \"[variables('natPoolName')]\",\r\n                \"properties\": {\r\n                  \"frontendIPConfiguration\": {\r\n                    \"id\": \"[variables('frontEndIPConfigID')]\"\r\n                  },\r\n                  \"protocol\": \"Tcp\",\r\n                  \"frontendPortRangeStart\": \"[variables('natStartPort')]\",\r\n                  \"frontendPortRangeEnd\": \"[variables('natEndPort')]\",\r\n                  \"backendPort\": \"[variables('natBackendPort')]\"\r\n                }\r\n              }\r\n            ],\r\n            \"loadBalancingRules\": [\r\n              {\r\n                \"name\": \"LBRule\",\r\n                \"properties\": {\r\n                  \"frontendIPConfiguration\": {\r\n                    \"id\": \"[variables('frontEndIPConfigID')]\"\r\n                  },\r\n                  \"backendAddressPool\": {\r\n                    \"id\": \"[variables('lbPoolID')]\"\r\n                  },\r\n                  \"protocol\": \"Tcp\",\r\n                  \"frontendPort\": 80,\r\n                  \"backendPort\": 80,\r\n                  \"enableFloatingIP\": false,\r\n                  \"idleTimeoutInMinutes\": 5,\r\n                  \"probe\": {\r\n                    \"id\": \"[variables('lbProbeID')]\"\r\n                  }\r\n                }\r\n              }\r\n            ],\r\n            \"probes\": [\r\n              {\r\n                \"name\": \"tcpProbe\",\r\n                \"properties\": {\r\n                  \"protocol\": \"Tcp\",\r\n                  \"port\": 80,\r\n                  \"intervalInSeconds\": 5,\r\n                  \"numberOfProbes\": 2\r\n                }\r\n              }\r\n            ]\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n          \"apiVersion\": \"2020-06-01\",\r\n          \"name\": \"[variables('namingInfix')]\",\r\n          \"location\": \"[parameters('location')]\",\r\n          \"sku\": {\r\n            \"name\": \"[parameters('vmSku')]\",\r\n            \"tier\": \"Standard\",\r\n            \"capacity\": \"[parameters('instanceCount')]\"\r\n          },\r\n          \"dependsOn\": [\r\n            \"[resourceId('Microsoft.Network/loadBalancers', variables('loadBalancerName'))]\",\r\n            \"[resourceId('Microsoft.Network/virtualNetworks', variables('virtualNetworkName'))]\"\r\n          ],\r\n          \"properties\": {\r\n            \"overprovision\": true,\r\n            \"upgradePolicy\": {\r\n              \"mode\": \"Manual\"\r\n            },\r\n            \"singlePlacementGroup\": \"[parameters('singlePlacementGroup')]\",\r\n            \"platformFaultDomainCount\": \"[parameters('platformFaultDomainCount')]\",\r\n            \"virtualMachineProfile\": {\r\n              \"storageProfile\": {\r\n                \"osDisk\": {\r\n                  \"caching\": \"ReadWrite\",\r\n                  \"createOption\": \"FromImage\"\r\n                },\r\n                \"imageReference\": \"[variables('imageReference')]\"\r\n              },\r\n              \"osProfile\": {\r\n                \"computerNamePrefix\": \"[variables('namingInfix')]\",\r\n                \"adminUsername\": \"[parameters('adminUsername')]\",\r\n                \"adminPassword\": \"[parameters('adminPassword')]\"\r\n              },\r\n              \"networkProfile\": {\r\n                \"networkInterfaceConfigurations\": [\r\n                  {\r\n                    \"name\": \"[variables('nicName')]\",\r\n                    \"properties\": {\r\n                      \"primary\": true,\r\n                      \"ipConfigurations\": [\r\n                        {\r\n                          \"name\": \"[variables('ipConfigName')]\",\r\n                          \"properties\": {\r\n                            \"subnet\": {\r\n                              \"id\": \"[resourceId('Microsoft.Network/virtualNetworks/subnets', variables('virtualNetworkName'), variables('subnetName'))]\"\r\n                            },\r\n                            \"loadBalancerBackendAddressPools\": [\r\n                              {\r\n                                \"id\": \"[variables('lbPoolID')]\"\r\n                              }\r\n                            ],\r\n                            \"loadBalancerInboundNatPools\": [\r\n                              {\r\n                                \"id\": \"[resourceId('Microsoft.Network/loadBalancers/inboundNatPools', variables('loadBalancerName'),  variables('natPoolName'))]\"\r\n                              }\r\n                            ]\r\n                          }\r\n                        }\r\n                      ]\r\n                    }\r\n                  }\r\n                ]\r\n              },\r\n              \"extensionProfile\": {\r\n                \"extensions\": [\r\n                  {\r\n                    \"name\": \"Microsoft.Azure.Geneva.GenevaMonitoring\",\r\n                    \"properties\": {\r\n                      \"publisher\": \"Microsoft.Azure.Geneva\",\r\n                      \"type\": \"GenevaMonitoring\",\r\n                      \"typeHandlerVersion\": \"2.0\",\r\n                      \"enableAutomaticUpgrade\": true,\r\n                      \"autoUpgradeMinorVersion\": true,\r\n                      \"protectedSettings\": {},\r\n                      \"settings\": {}\r\n                    }\r\n                  }\r\n                ]\r\n              }\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n          \"apiVersion\": \"2020-06-01\",\r\n          \"name\": \"[variables('publicIPAddressName')]\",\r\n          \"location\": \"[parameters('location')]\",\r\n          \"properties\": {\r\n            \"publicIPAllocationMethod\": \"Static\",\r\n            \"dnsSettings\": {\r\n              \"domainNameLabel\": \"[variables('longNamingInfix')]\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"Microsoft.Network/virtualNetworks\",\r\n          \"apiVersion\": \"2020-06-01\",\r\n          \"name\": \"[variables('virtualNetworkName')]\",\r\n          \"location\": \"[parameters('location')]\",\r\n          \"properties\": {\r\n            \"addressSpace\": {\r\n              \"addressPrefixes\": [\r\n                \"[variables('addressPrefix')]\"\r\n              ]\r\n            },\r\n            \"subnets\": [\r\n              {\r\n                \"name\": \"[variables('subnetName')]\",\r\n                \"properties\": {\r\n                  \"addressPrefix\": \"[variables('subnetPrefix')]\"\r\n                }\r\n              }\r\n            ]\r\n          }\r\n        }\r\n      ],\r\n      \"outputs\": {\r\n        \"applicationUrl\": {\r\n          \"type\": \"string\",\r\n          \"value\": \"[concat('http://', reference(variables('publicIPAddressName')).dnsSettings.fqdn, '/MyApp')]\"\r\n        }\r\n      }\r\n    },\r\n    \"parameters\": {\r\n      \"vmSku\": {\r\n        \"value\": \"Standard_D4s_v3\"\r\n      },\r\n      \"windowsOSVersion\": {\r\n        \"value\": \"2019-Datacenter\"\r\n      },\r\n      \"vmssName\": {\r\n        \"value\": \"psnrp7283\"\r\n      },\r\n      \"instanceCount\": {\r\n        \"value\": 3\r\n      },\r\n      \"singlePlacementGroup\": {\r\n        \"value\": true\r\n      },\r\n      \"adminUsername\": {\r\n        \"value\": \"netanaytics12\"\r\n      },\r\n      \"adminPassword\": {\r\n        \"value\": \"netanalytics-32psnrp1595\"\r\n      },\r\n      \"location\": {\r\n        \"value\": \"West Central US\"\r\n      },\r\n      \"platformFaultDomainCount\": {\r\n        \"value\": 1\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourcegroups/psnrp1595/providers/Microsoft.Resources/deployments/psnrp1595/operationStatuses/08585131149776072971?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp1595/providers/Microsoft.Resources/deployments/psnrp1595\",\r\n  \"name\": \"psnrp1595\",\r\n  \"properties\": {\r\n    \"templateHash\": \"2859584337030253575\",\r\n    \"parameters\": {\r\n      \"vmSku\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"Standard_D4s_v3\"\r\n      },\r\n      \"windowsOSVersion\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"2019-Datacenter\"\r\n      },\r\n      \"vmssName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"psnrp7283\"\r\n      },\r\n      \"instanceCount\": {\r\n        \"type\": \"Int\",\r\n        \"value\": 3\r\n      },\r\n      \"singlePlacementGroup\": {\r\n        \"type\": \"Bool\",\r\n        \"value\": true\r\n      },\r\n      \"adminUsername\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"netanaytics12\"\r\n      },\r\n      \"adminPassword\": {\r\n        \"type\": \"SecureString\"\r\n      },\r\n      \"location\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"West Central US\"\r\n      },\r\n      \"platformFaultDomainCount\": {\r\n        \"type\": \"Int\",\r\n        \"value\": 1\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"timestamp\": \"2023-07-04T17:31:53.0461917Z\",\r\n    \"duration\": \"PT0.000456S\",\r\n    \"correlationId\": \"3988dac2-2ebc-4f9f-b431-4bf6df16bf2d\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.Network\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"loadBalancers\",\r\n            \"locations\": [\r\n              \"westcentralus\"\r\n            ]\r\n          },\r\n          {\r\n            \"resourceType\": \"publicIPAddresses\",\r\n            \"locations\": [\r\n              \"westcentralus\"\r\n            ]\r\n          },\r\n          {\r\n            \"resourceType\": \"virtualNetworks\",\r\n            \"locations\": [\r\n              \"westcentralus\"\r\n            ]\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"namespace\": \"Microsoft.Compute\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"virtualMachineScaleSets\",\r\n            \"locations\": [\r\n              \"westcentralus\"\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": [\r\n      {\r\n        \"dependsOn\": [\r\n          {\r\n            \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp1595/providers/Microsoft.Network/publicIPAddresses/psnrp7283pip\",\r\n            \"resourceType\": \"Microsoft.Network/publicIPAddresses\",\r\n            \"resourceName\": \"psnrp7283pip\"\r\n          }\r\n        ],\r\n        \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp1595/providers/Microsoft.Network/loadBalancers/psnrp7283lb\",\r\n        \"resourceType\": \"Microsoft.Network/loadBalancers\",\r\n        \"resourceName\": \"psnrp7283lb\"\r\n      },\r\n      {\r\n        \"dependsOn\": [\r\n          {\r\n            \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp1595/providers/Microsoft.Network/loadBalancers/psnrp7283lb\",\r\n            \"resourceType\": \"Microsoft.Network/loadBalancers\",\r\n            \"resourceName\": \"psnrp7283lb\"\r\n          },\r\n          {\r\n            \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp1595/providers/Microsoft.Network/virtualNetworks/psnrp7283vnet\",\r\n            \"resourceType\": \"Microsoft.Network/virtualNetworks\",\r\n            \"resourceName\": \"psnrp7283vnet\"\r\n          }\r\n        ],\r\n        \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp1595/providers/Microsoft.Compute/virtualMachineScaleSets/psnrp7283\",\r\n        \"resourceType\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n        \"resourceName\": \"psnrp7283\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourcegroups/psnrp1595/providers/Microsoft.Resources/deployments/psnrp1595/operationStatuses/08585131149776072971?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Running\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Network/networkWatchers?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "5c863caf-de1f-4c70-9f99-c42cdadc8fa3",
          "c21a0a95-bcd8-4d30-85bc-909f787193ce",
          "b5c7b89d-03ce-4ce9-962f-32127bb7e3f3",
          "c7194a8a-8687-418a-865a-686af1173505",
          "51238d6f-9c15-4ed3-ab35-f472b1ee5640",
          "de1f041e-f460-4edb-b24e-892cd5d57e1f",
          "f8036845-b770-4f3c-bbe2-e3c1771f3ed7",
          "9d58f54a-3ab9-45cf-8679-d9fff47ee439",
          "6288e85b-4007-4eb8-b72b-c3cfa63a9854",
          "6caeded7-41fe-4195-8add-1653d0d06a98[...]
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp1595/providers/Microsoft.Compute/virtualMachineScaleSets/psnrp7283?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetVMScaleSet3Min;399,Microsoft.Compute/GetVMScaleSet30Min;2581"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"psnrp7283\",\r\n  \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp1595/providers/Microsoft.Compute/virtualMachineScaleSets/psnrp7283\",\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {\r\n    \"azsecpack\": \"nonprod\",\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\": \"true\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"UserAssigned\",\r\n    \"userAssignedIdentities\": {\r\n      \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/AzSecPackAutoConfigRG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/AzSecPackAutoConfigUA-westcentralus\": {\r\n        \"principalId\": \"ee0995eb-786d-4919-b3f4-c5a09d0ded58\",\r\n        \"clientId\": \"73f37fc0-7edb-480a-8630-5bc5a03d4b83\"\r\n      }\r\n    }\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_D4s_v3\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 3\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": true,\r\n    \"orchestrationMode\": \"Uniform\",\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Manual\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"psnrp7283\",\r\n        \"adminUsername\": \"netanaytics12\",\r\n        \"windowsConfiguration\": {\r\n          \"provisionVMAgent\": true,\r\n          \"enableAutomaticUpdates\": true,\r\n          \"enableVMAgentPlatformUpdates\": false\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\n          \"osType\": \"Windows\",\r\n          \"createOption\": \"FromImage\",\r\n          \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Premium_LRS\"\r\n          },\r\n          \"diskSizeGB\": 127\r\n        },\r\n        \"imageReference\": {\r\n          \"publisher\": \"MicrosoftWindowsServer\",\r\n          \"offer\": \"WindowsServer\",\r\n          \"sku\": \"2019-Datacenter\",\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"networkProfile\": {\r\n        \"networkInterfaceConfigurations\": [\r\n          {\r\n            \"name\": \"psnrp7283nic\",\r\n            \"properties\": {\r\n              \"primary\": true,\r\n              \"disableTcpStateTracking\": false,\r\n              \"dnsSettings\": {\r\n                \"dnsServers\": []\r\n              },\r\n              \"enableIPForwarding\": false,\r\n              \"ipConfigurations\": [\r\n                {\r\n                  \"name\": \"psnrp7283ipconfig\",\r\n                  \"properties\": {\r\n                    \"subnet\": {\r\n                      \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp1595/providers/Microsoft.Network/virtualNetworks/psnrp7283vnet/subnets/psnrp7283subnet\"\r\n                    },\r\n                    \"privateIPAddressVersion\": \"IPv4\",\r\n                    \"loadBalancerBackendAddressPools\": [\r\n                      {\r\n                        \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp1595/providers/Microsoft.Network/loadBalancers/psnrp7283lb/backendAddressPools/psnrp7283bepool\"\r\n                      }\r\n                    ],\r\n                    \"loadBalancerInboundNatPools\": [\r\n                      {\r\n                        \"id\": \"/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp1595/providers/Microsoft.Network/loadBalancers/psnrp7283lb/inboundNatPools/psnrp7283natpool\"\r\n                      }\r\n                    ]\r\n                  }\r\n                }\r\n              ]\r\n            }\r\n          }\r\n        ]\r\n      },\r\n      \"extensionProfile\": {\r\n        \"extensions\": [\r\n          {\r\n            \"name\": \"Microsoft.Azure.Geneva.GenevaMonitoring\",\r\n            \"properties\": {\r\n              \"autoUpgradeMinorVersion\": true,\r\n              \"enableAutomaticUpgrade\": true,\r\n              \"suppressFailures\": true,\r\n              \"publisher\": \"Microsoft.Azure.Geneva\",\r\n              \"type\": \"GenevaMonitoring\",\r\n              \"typeHandlerVersion\": \"2.0\",\r\n              \"settings\": {}\r\n            }\r\n          },\r\n          {\r\n            \"name\": \"Microsoft.Azure.Security.AntimalwareSignature.AntimalwareConfiguration\",\r\n            \"properties\": {\r\n              \"autoUpgradeMinorVersion\": true,\r\n              \"enableAutomaticUpgrade\": true,\r\n              \"publisher\": \"Microsoft.Azure.Security.AntimalwareSignature\",\r\n              \"type\": \"AntimalwareConfiguration\",\r\n              \"typeHandlerVersion\": \"2.0\",\r\n              \"settings\": {}\r\n            }\r\n          },\r\n          {\r\n            \"name\": \"Microsoft.Compute.CustomScriptExtension\",\r\n            \"properties\": {\r\n              \"autoUpgradeMinorVersion\": true,\r\n              \"publisher\": \"Microsoft.Compute\",\r\n              \"type\": \"CustomScriptExtension\",\r\n              \"typeHandlerVersion\": \"1.10\",\r\n              \"settings\": {\r\n                \"timestamp\": 123456789\r\n              }\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"overprovision\": true,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\": \"99cbfc9d-3249-4043-90cf-e628cbc81d1b\",\r\n    \"platformFaultDomainCount\": 1,\r\n    \"timeCreated\": \"2023-07-04T23:02:24.0988637+05:30\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/providers/Microsoft.Compute/locations/westcentralus/operations/4c5c773e-c1e8-4c4f-990c-000d5b59f8a5?p=430b1cf6-0a4e-4055-8499-40af8897460e&api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29971"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2023-07-04T23:16:24.3955799+05:30\",\r\n  \"endTime\": \"2023-07-04T23:16:24.8174388+05:30\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"4c5c773e-c1e8-4c4f-990c-000d5b59f8a5\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9cece3e3-0f7d-47ca-af0e-9772773f90b7/resourceGroups/psnrp1595/providers/Microsoft.Compute/virtualMachineScaleSets/psnrp7283/virtualMachines?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/HighCostGetVMScaleSet3Min;179,Microsoft.Compute/HighCostGetVMScaleSet30Min;893,Microsoft.Compute/VMScaleSetVMViews3Min;4997"
        ],
        "x-ms-request-charge": [
          "3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
[...]
