{
  "Get-AzMLWorkspaceComponentContainer+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/components?api-version=2022-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/components?api-version=2022-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "12" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11988" ],
        "x-ms-response-type": [ "standard" ],
        "x-aml-cluster": [ "vienna-eastus-01" ],
        "x-request-time": [ "0.377" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/components/train_data_component\",\n      \"name\": \"train_data_component\",\n      \"type\": \"Microsoft.MachineLearningServices/workspaces/components\",\n      \"properties\": {\n        \"description\": \"\",\n        \"tags\": {},\n        \"properties\": {},\n        \"isArchived\": false,\n        \"latestVersion\": null,\n        \"nextVersion\": \"2022-06-05-09-40-13-2163322\"\n      },\n      \"systemData\": {\n        \"createdAt\": \"2022-05-24T07:23:25.3105486Z\",\n        \"createdBy\": \"Lucas Yao (Wicresoft North America)\",\n        \"createdByType\": \"User\",\n        \"lastModifiedAt\": \"2022-05-24T07:23:25.5758536Z\",\n        \"lastModifiedBy\": \"Lucas Yao (Wicresoft North America)\",\n        \"lastModifiedByType\": \"User\"\n      }\n    }\n  ]\n}",
    }
  },
  "Get-AzMLWorkspaceComponentContainer+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/components/train_data_component?api-version=2022-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGrou[...]
