{
  "Get-AzMLWorkspaceBatchEndpoint+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/batchEndpoints?api-version=2022-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/batchEndpoints?api-version=2022-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "9" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11991" ],
        "x-ms-response-type": [ "standard" ],
        "x-aml-cluster": [ "vienna-eastus-01" ],
        "x-request-time": [ "0.628" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/batchEndpoints/batch-pwsh04\",\n      \"name\": \"batch-pwsh04\",\n      \"type\": \"Microsoft.MachineLearningServices/workspaces/batchEndpoints\",\n      \"properties\": {\n        \"description\": null,\n        \"properties\": {\n          \"BatchEndpointCreationApiVersion\": \"2022-05-01\",\n          \"AzureAsyncOperationUri\": \"https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.MachineLearningServices/locations/eastus/mfeOperationsStatus/be:85b9e7f0-8ea4-4e3d-a742-06ee40ba4b03:aed8c225-ad55-472a-8935-67c9a781b6a6?api-version=2022-05-01\"\n        },\n        \"scoringUri\": null,\n        \"swaggerUri\": null,\n        \"authMode\": \"Key\",\n        \"defaults\": {\n          \"deploymentName\": null\n        },\n        \"provisioningState\": \"Failed\"\n      },\n      \"systemData\": {\n        \"createdAt\": \"2022-06-01T09:51:38.2025881Z\",\n        \"createdBy\": \"Lucas Yao (Wicresoft North America)\",\n        \"lastModifiedAt\": \"2022-06-01T10:01:50.4044371Z\"\n      },\n      \"tags\": {},\n      \"location\": \"eastus\",\n      \"identity\": {\n        \"type\": \"None\",\n        \"principalId\": \"00000000-0000-0000-0000-000000000000\",\n        \"tenantId\": \"00000000-0000-0000-0000-000000000000\"\n      }\n    },\n    {\n      \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/batchEndpoints/batchpwsh01-key\",\n      \"name\": \"batchpwsh01-key\",\n      \"type\": \"Microsoft.MachineLearningServices/workspaces/batchEndpoints\",\n      \"properties\": {\n        \"description\": null,\n        \"properties\": {\n          \"BatchEndpointCr[...]
