{
  "Get-AzMLWorkspaceStorageAccountKey+[NoContext]+List+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/listStorageAccountKeys?api-version=2022-05-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/listStorageAccountKeys?api-version=2022-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "52" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1192" ],
        "x-ms-response-type": [ "standard" ],
        "x-aml-cluster": [ "vienna-eastus-01" ],
        "x-request-time": [ "0.023" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"userStorageKey\": \"8aw4ioZ/KLrq/sCp/FtKPRW+XzJQ/dl+SNHhTrN1lRYXQZ/YytATUXtzuRpYMh2TqRr9KBQk5OjM+AStCETudQ==\"\n}",
    }
  }
}