{
  "Get-AzMLWorkspaceCompute+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/computes?api-version=2022-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/computes?api-version=2022-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "16" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11984" ],
        "x-ms-response-type": [ "standard" ],
        "x-aml-cluster": [ "vienna-eastus-02" ],
        "x-request-time": [ "0.068" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/computes/cpu-cluster\",\n      \"name\": \"cpu-cluster\",\n      \"type\": \"Microsoft.MachineLearningServices/workspaces/computes\",\n      \"location\": \"eastus\",\n      \"tags\": {},\n      \"properties\": {\n        \"createdOn\": \"2022-05-18T06:36:19.4702579+00:00\",\n        \"modifiedOn\": \"2022-05-18T06:36:23.0884488+00:00\",\n        \"disableLocalAuth\": false,\n        \"description\": null,\n        \"resourceId\": null,\n        \"computeType\": \"AmlCompute\",\n        \"computeLocation\": \"eastus\",\n        \"provisioningState\": \"Succeeded\",\n        \"provisioningErrors\": null,\n        \"isAttachedCompute\": false,\n        \"properties\": {\n          \"vmSize\": \"STANDARD_DS3_V2\",\n          \"vmPriority\": \"Dedicated\",\n          \"scaleSettings\": {\n            \"maxNodeCount\": 10,\n            \"minNodeCount\": 0,\n            \"nodeIdleTimeBeforeScaleDown\": \"PT2M\"\n          },\n          \"subnet\": null,\n          \"currentNodeCount\": 0,\n          \"targetNodeCount\": 0,\n          \"nodeStateCounts\": {\n            \"preparingNodeCount\": 0,\n            \"runningNodeCount\": 0,\n            \"idleNodeCount\": 0,\n            \"unusableNodeCount\": 0,\n            \"leavingNodeCount\": 0,\n            \"preemptedNodeCount\": 0\n          },\n          \"allocationState\": \"Steady\",\n          \"allocationStateTransitionTime\": \"2022-05-31T08:06:27.516+00:00\",\n          \"errors\": null,\n          \"remoteLoginPortPublicAccess\": \"Enabled\",\n          \"osType\": \"Linux\",\n          \"virtualMachineImage\": null,\n          \"isolatedNetwork\": false,\n          \"enableNodePublicIp\": true,\n          \"propertyBag\": {}\n        }\n      }\n    },\n    {\n      \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/computes/gpu-cluster\",\n      \"name\": \"gpu-cluster\",\n      \"type\": \"Microsoft.MachineLearningServices/workspaces/computes\",\n      \"location\": \"eastus\",\n      \"tags\": {},\n      \"properties\": {\n        \"createdOn\": \"2022-05-18T06:38:25.4755965+00:00\",\n        \"modifi[...]
