{
  "Backup-AzDataProtectionBackupInstanceAdhoc+[NoContext]+BackupExpanded+$GET+https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/pstest-diskrg/providers/Microsoft.DataProtection/backupVaults/pstest-disk-vault/backupInstances?api-version=2025-07-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/pstest-diskrg/providers/Microsoft.DataProtection/backupVaults/pstest-disk-vault/backupInstances?api-version=2025-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "1099" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"friendlyName\":\"pstest-disk\",\"dataSourceInfo\":{\"resourceID\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourcegroups/pstest-diskrg/providers/Microsoft.Compute/disks/pstest-disk\",\"resourceUri\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourcegroups/pstest-diskrg/providers/Microsoft.Compute/disks/pstest-disk\",\"datasourceType\":\"Microsoft.Compute/disks\",\"resourceName\":\"pstest-disk\",\"resourceType\":\"Microsoft.Compute/disks\",\"resourceLocation\":\"centraluseuap\",\"objectType\":\"Datasource\"},\"policyInfo\":{\"policyId\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/pstest-diskrg/providers/Microsoft.DataProtection/backupVaults/pstest-disk-vault/backupPolicies/pstest-diskpolicy\",\"policyParameters\":{\"dataStoreParametersList\":[{\"objectType\":\"AzureOperationalStoreParameters\",\"dataStoreType\":\"OperationalStore\",\"resourceGroupId\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/pstest-diskrg\"}]}},\"protectionStatus\":{\"status\":\"ProtectionConfigured\"},\"currentProtectionState\":\"ProtectionConfigured\",\"provisioningState\":\"Succeeded\",\"objectType\":\"BackupInstance\"},\"id\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/pstest-diskrg/providers/Microsoft.DataProtection/backupVaults/pstest-disk-vault/backupInstances/pstest-disk-pstest-disk-5801e30f-5a3c-4d32-88bb-faf06228fca3\",\"name\":\"pstest-disk-pstest-disk-5801e30f-5a3c-4d32-88bb-faf06228fca3\",\"type\":\"Microsoft.DataProtection/backupVaults/backupInstances\"}]}",
    }
  },
  "Backup-AzDataProtectionBackupInstanceAdhoc+[NoContext]+BackupExpanded+$POST+https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/pstest-diskrg/providers/Microsoft.DataProtection/backupVaults/pstest-disk-vault/backupInstances/pstest-disk-pstest-disk-5801e30f-5a3c-4d32-88bb-faf06228fca3/backup?api-version=2025-07-01+2": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/pstest-diskrg/providers/Microsoft.DataProtection/backupVaults/pstest-disk-vault/backupInstances/pstest-disk-pstest-disk-5801e30f-5a3c-4d32-88bb-faf06228fca3/backup?api-version=2025-07-01",
      "Content": "{\r\n  \"backupRuleOptions\": {\r\n    \"triggerOption\": {\r\n      \"retentionTagOverride\": \"Default\"\r\n    },\r\n    \"ruleName\": \"BackupHourly\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.DataProtection/locations/centraluseuap/operationResults/ZjViOGE1NDItMDZjZi00NjY5LTg2OTgtODM2ZmIxN2JlMzNjOzhjMDNkNWEzLWM2ODItNGE5NC05OWVjLWFhMGM1YTI0YzQ0OA==?api-version=2025-07-01\u0026t=639003320144253800\u0026c=MIIIpTCCBo2gAwIBAgITFgIgjekYlM3S-wfuhwABAiCN6TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUxMDIzMTQ0NzI1Whc[...]
