{
  "CmkEncryptionScenario+[NoContext]+Get-AzDataProtectionBackupVault+$GET+https://management.azure.com/subscriptions/191973cd-9c54-41e0-ac19-25dd9a92d5a8/resourceGroups/jeevan-wrk-vms/providers/Microsoft.DataProtection/backupVaults/pstestvault-automated?api-version=2024-03-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/191973cd-9c54-41e0-ac19-25dd9a92d5a8/resourceGroups/jeevan-wrk-vms/providers/Microsoft.DataProtection/backupVaults/pstestvault-automated?api-version=2024-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-throttling-version": [ "v1" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"location\":\"eastasia\",\"identity\":{\"type\":\"UserAssigned\",\"userAssignedIdentities\":{\"/subscriptions/191973cd-9c54-41e0-ac19-25dd9a92d5a8/resourcegroups/jeevan-wrk-vms/providers/Microsoft.ManagedIdentity/userAssignedIdentities/userMSIpstest\":{\"clientId\":\"3ffad3da-29a4-4823-8f7b-e174994e01af\",\"principalId\":\"fef4c24f-c831-4909-bb46-c3b1eaef110d\"}},\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"storageSettings\":[{\"datastoreType\":\"VaultStore\",\"type\":\"LocallyRedundant\"}],\"isVaultProtectedByResourceGuard\":false,\"securitySettings\":{\"softDeleteSettings\":{\"state\":\"On\",\"retentionDurationInDays\":14.0},\"encryptionSettings\":{\"state\":\"Enabled\",\"keyVaultProperties\":{\"keyUri\":\"https://jeevantestkeyvaultcmk.vault.azure.net/keys/pstest/3cd5235ad6ac4c11b40a6f35444bcbe1\"},\"kekIdentity\":{\"identityType\":\"UserAssigned\",\"identityId\":\"/subscriptions/191973cd-9c54-41e0-ac19-25dd9a92d5a8/resourcegroups/jeevan-wrk-vms/providers/Microsoft.ManagedIdentity/userAssignedIdentities/userMSIpstest\"},\"infrastructureEncryption\":\"Enabled\"}},\"secureScore\":\"None\",\"bcdrSecurityLevel\":\"Poor\",\"replicatedRegions\":[]},\"id\":\"/subscriptions/191973cd-9c54-41e0-ac19-25dd9a92d5a8/resourceGroups/jeevan-wrk-vms/providers/Microsoft.DataProtection/backupVaults/pstestvault-automated\",\"name\":\"pstestvault-automated\",\"type\":\"Microsoft.DataProtection/backupVaults\"}",
    }
  },
  "CmkEncryptionScenario+[NoContext]+New-AzDataProtectionBackupVault+$PUT+https://management.azure.com/subscriptions/191973cd-9c54-41e0-ac19-25dd9a92d5a8/resourceGroups/jeevan-wrk-vms/providers/Microsoft.DataProtection/backupVaults/pstestvault-automated?api-version=2024-03-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/191973cd-9c54-41e0-ac1[...]
