{
  "Find-AzDataProtectionRestorableTimeRange+[NoContext]+PostExpanded+$GET+https://management.azure.com/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/resourceGroups/jkjk-rg/providers/Microsoft.DataProtection/backupVaults/jktest-vault/backupInstances?api-version=2025-02-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/resourceGroups/jkjk-rg/providers/Microsoft.DataProtection/backupVaults/jktest-vault/backupInstances?api-version=2025-02-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "45" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "1099" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"friendlyName\":\"jktest-disk-2\",\"dataSourceInfo\":{\"resourceID\":\"/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/resourceGroups/jkjk-rg/providers/Microsoft.Compute/disks/jktest-disk-2\",\"resourceUri\":\"/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/resourceGroups/jkjk-rg/providers/Microsoft.Compute/disks/jktest-disk-2\",\"datasourceType\":\"Microsoft.Compute/disks\",\"resourceName\":\"jktest-disk-2\",\"resourceType\":\"Microsoft.Compute/disks\",\"resourceLocation\":\"eastus\",\"objectType\":\"Datasource\"},\"dataSourceSetInfo\":{\"resourceID\":\"/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/resourceGroups/jkjk-rg/providers/Microsoft.Compute/disks/jktest-disk-2\",\"resourceUri\":\"/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/resourceGroups/jkjk-rg/providers/Microsoft.Compute/disks/jktest-disk-2\",\"datasourceType\":\"Microsoft.Compute/disks\",\"resourceName\":\"jktest-disk-2\",\"resourceType\":\"Microsoft.Compute/disks\",\"resourceLocation\":\"eastus\",\"objectType\":\"DatasourceSet\"},\"policyInfo\":{\"policyId\":\"/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/resourceGroups/jkjk-rg/providers/Microsoft.DataProtection/backupVaults/jktest-vault/backupPolicies/jktest-policy-1\",\"policyVersion\":\"\",\"policyParameters\":{\"dataStoreParametersList\":[{\"objectType\":\"AzureOperationalStoreParameters\",\"dataStoreType\":\"OperationalStore\",\"resourceGroupId\":\"/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/resourceGroups/jkjk-rg\"}]}},\"protectionStatus\":{\"status\":\"ProtectionConfigured\"},\"currentProtectionState\":\"ProtectionConfigured\",\"provisioningState\":\"Succeeded\",\"identityDetails\":{\"useSystemAssignedIdentity\":true},\"objectType\":\"BackupInstance\"},\"id\":\"/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/resourceGroups/jkjk-rg/providers/Microsoft.DataProtection/backupVaults/jktest-vault/backupInstances/jktest-disk-2-jktest-disk-2-4523ed3b-0f8a-48dd-9614-972c4834803c\",\"name\":\"jktest-disk-2-jktest-disk-2-4523ed3b-0f8a-48dd-9614-972c4834803c\",\"type\":\"Microsoft.DataProtection/backupVaults/backupInstances\"},{\"properties\":{\"friendlyName\":\"jktest-disk\",\"dataSourceInfo\":{\"resourceID\":\"/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/resourceGroups/jkjk-rg/providers/Microsoft.Compute/disks/jktest-disk\",\"resourceUri\":\"/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/resourceGroups/jkjk-rg/providers/Microsoft.Compute/disks/jktest-disk\",\"datasourceType\":\"Microsoft.Compute/disks\",\"resourceName\":\"jktest-disk\",\"resource[...]
