{
  "Find-AzDataProtectionRestorableTimeRange+[NoContext]+PostExpanded+$GET+https://management.azure.com/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.DataProtection/backupVaults/jecECYBlobVault/backupInstances?api-version=2025-02-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.DataProtection/backupVaults/jecECYBlobVault/backupInstances?api-version=2025-02-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "476" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "1099" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"friendlyName\":\"azdrill1_OsDisk_1_649995dd9b32479d98a035cebc8773f7\",\"dataSourceInfo\":{\"resourceID\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/ECYZONEDOWNDRILL/providers/Microsoft.Compute/disks/azdrill1_OsDisk_1_649995dd9b32479d98a035cebc8773f7\",\"resourceUri\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/ECYZONEDOWNDRILL/providers/Microsoft.Compute/disks/azdrill1_OsDisk_1_649995dd9b32479d98a035cebc8773f7\",\"datasourceType\":\"Microsoft.Compute/disks\",\"resourceName\":\"azdrill1_OsDisk_1_649995dd9b32479d98a035cebc8773f7\",\"resourceType\":\"Microsoft.Compute/disks\",\"resourceLocation\":\"eastus2euap\",\"objectType\":\"Datasource\"},\"policyInfo\":{\"policyId\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.DataProtection/backupVaults/jecECYBlobVault/backupPolicies/jkkl\",\"policyVersion\":\"\",\"policyParameters\":{\"dataStoreParametersList\":[{\"objectType\":\"AzureOperationalStoreParameters\",\"dataStoreType\":\"OperationalStore\",\"resourceGroupId\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/adigupt-rg\"}]}},\"protectionStatus\":{\"status\":\"ProtectionConfigured\"},\"currentProtectionState\":\"ProtectionConfigured\",\"provisioningState\":\"Succeeded\",\"objectType\":\"BackupInstance\"},\"id\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.DataProtection/backupVaults/jecECYBlobVault/backupInstances/azdrill1_OsDisk_1_649995dd9b32479d98a035-azdrill1_OsDisk_1_649995dd9b32479d98a035-7d220d9b-c6ad-4b50-b53b-8b5712a9c03d\",\"name\":\"azdrill1_OsDisk_1_649995dd9b32479d98a035-azdrill1_OsDisk_1_649995dd9b32479d98a035-7d220d9b-c6ad-4b50-b53b-8b5712a9c03d\",\"type\":\"Microsoft.DataProtection/backupVaults/backupInstances\"},{\"properties\":{\"friendlyName\":\"arpja-drl-zn1_OsDisk_1_70ef9961a22046bea3b17e07fcfc7509\",\"dataSourceInfo\":{\"resourceID\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/ECYZONEDOWNDRILL/providers/Microsoft.Compute/disks/arpja-drl-zn1_OsDisk_1_70ef9961a22046bea3b17e07fcfc7509\",\"resourceUri\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/ECYZONEDOWNDRILL/providers/Microsoft.Compute/disk[...]
