{
  "Get-AzDataProtectionBackupVault+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/adkayeth/providers/Microsoft.DataProtection/backupVaults/sadsasad?api-version=2026-06-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/adkayeth/providers/Microsoft.DataProtection/backupVaults/sadsasad?api-version=2026-06-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "137" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "1099" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"location\":\"eastasia\",\"identity\":{\"type\":\"SystemAssigned,UserAssigned\",\"userAssignedIdentities\":{\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/cmk.system/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2\":{\"clientId\":\"c105dcb0-b19f-4d55-adba-749e0037c42e\",\"principalId\":\"ab44c749-c400-4689-bcd1-128d7ecefd94\"}},\"principalId\":\"5353ccc2-11b9-4416-82de-e87c87c01469\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"storageSettings\":[{\"datastoreType\":\"VaultStore\",\"type\":\"LocallyRedundant\"}],\"isVaultProtectedByResourceGuard\":false,\"securitySettings\":{\"softDeleteSettings\":{\"state\":\"ON\",\"retentionDurationInDays\":14.0}},\"secureScore\":\"None\",\"bcdrSecurityLevel\":\"Poor\",\"replicatedRegions\":[],\"regionOfChoiceSettings\":{\"status\":\"NotApplicable\"},\"costManagementSettings\":{\"granularityLevel\":\"ProtectedItemWithParentTag\"}},\"id\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourcegroups/adkayeth/providers/Microsoft.DataProtection/BackupVaults/sadsasad\",\"name\":\"sadsasad\",\"type\":\"Microsoft.DataProtection/backupVaults\"}",
    }
  }
}