{
  "New-AzDataProtectionBackupVault+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/resourceGroups/jkjk-rg/providers/Microsoft.DataProtection/backupVaults/new-jktest-vault?api-version=2025-02-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/resourceGroups/jkjk-rg/providers/Microsoft.DataProtection/backupVaults/new-jktest-vault?api-version=2025-02-01",
      "Content": "{\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"storageSettings\": [\r\n      {\r\n        \"datastoreType\": \"VaultStore\",\r\n        \"type\": \"LocallyRedundant\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 400,
      "Headers": {
        "x-ms-failure-cause": [ "gateway" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"error\":{\"code\":\"LocationNotAvailableForResourceType\",\"message\":\"The provided location \u0027centraluseuap\u0027 is not available for resource type \u0027Microsoft.DataProtection/BackupVaults\u0027. List of available regions for the resource type is \u0027southcentralus,eastus,eastus2,westus,uksouth,australiacentral,australiaeast,australiasoutheast,brazilsouth,canadacentral,canadaeast,centralus,eastasia,francecentral,germanywestcentral,centralindia,southindia,westindia,japaneast,japanwest,koreacentral,koreasouth,northcentralus,northeurope,norwayeast,southafricanorth,southeastasia,switzerlandnorth,uaenorth,ukwest,westcentralus,westeurope,westus2,jioindiawest,jioindiacentral,westus3,swedencentral,qatarcentral,israelcentral,italynorth,polandcentral,spaincentral,newzealandnorth,belgiumcentral,austriaeast,indonesiacentral,malaysiawest,chilecentral,mexicocentral\u0027.\"}}",
    }
  },
  "New-AzDataProtectionBackupVault+[NoContext]+ImmutabilityCSRSoftDelete+$PUT+https://management.azure.com/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/resourceGroups/jkjk-rg/providers/Microsoft.DataProtection/backupVaults/csr-jktest-vault?api-version=2025-02-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/resourceGroups/jkjk-rg/providers/Microsoft.DataProtection/backupVaults/csr-jktest-vault?api-version=2025-02-01",
      "Content": "{\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"securitySettings\": {\r\n      \"softDeleteSettings\": {\r\n        \"state\": \"On\",\r\n        \"retentionDurationInDays\": 100\r\n      },\r\n      \"immutabilitySettings\": {\r\n        \"state\": \"Unlocked\"\r\n      }\r\n    },\r\n    \"featureSettings\": {\r\n      \"crossSubscriptionRestoreSettings\": {\r\n        \"state\": \"Enabled\"\r\n      }\r\n    },\r\n    \"storageSettings\": [\r\n      {\r\n        \"datastoreType\": \"VaultStore\",\r\n        \"type\": \"LocallyRedundant\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 400,
      "Headers": {
        "x-ms-failure-cause": [ "gateway" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"error\":{\"code\":\"LocationNotAvailableForResourceType\",\"message\":\"The provided location \u0027centraluseuap\u0027 is not available for resource type \u0027Microsoft.DataProtection/BackupVaults\u0027. List of available regions for the resource type is \u0027southcentralus,eastus,eastus2,westus,uksouth,australiacentral,australiaeast,australiasoutheast,brazilsouth,canadacentral,canadaeast,centralus,eastasia,francecentral,germanywestcentral,centralindia,southindia,westindia,japaneast,japanwest,koreacentral,koreasouth,northcentralus,northeurope,norwayeast,southafricanorth,southeastasia,switzerlandnorth,uaenorth,ukwest,westcentralus,westeurope,westus2,jioindiawest,jioindiacentral,westus3,swedencentral,qatarcentral,israelcentral,italynorth,polandcentral,spaincentral,newzealandnorth,belgiumcentral,austriaeast,indonesiacentral,malaysiawest,chilecentral,mexicocentral\u0027.\"}}",
    }
  }
}