{
  "Start-AzDataProtectionBackupInstanceRestore+[NoContext]+PGFlexRestore+$GET+https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/zubairRG/providers/Microsoft.DataProtection/backupVaults/zpgflex?api-version=2025-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/zubairRG/providers/Microsoft.DataProtection/backupVaults/zpgflex?api-version=2025-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"location\":\"eastus2euap\",\"identity\":{\"type\":\"SystemAssigned,UserAssigned\",\"userAssignedIdentities\":{\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/zubairRGecy/providers/Microsoft.ManagedIdentity/userAssignedIdentities/zubairuamiecy\":{\"clientId\":\"e5f5dcca-f99a-4722-8de8-b51ba0119ab0\",\"principalId\":\"08dab2c2-10f7-4cbd-9321-b097e3c2ca84\"},\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/sarathuamirg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sarathecyuami\":{\"clientId\":\"ef8e458d-ad17-4984-9064-5669ff87023b\",\"principalId\":\"fb0eeba3-705b-4924-a8bc-1418d7cc0324\"}},\"principalId\":\"d08cbaa7-7b44-4bea-bf1a-665ce8f2e01a\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"storageSettings\":[{\"datastoreType\":\"VaultStore\",\"type\":\"LocallyRedundant\"}],\"isVaultProtectedByResourceGuard\":true,\"securitySettings\":{\"softDeleteSettings\":{\"state\":\"Off\",\"retentionDurationInDays\":14.0},\"encryptionSettings\":{\"state\":\"Enabled\",\"keyVaultProperties\":{\"keyUri\":\"https://zubairkv.vault.azure.net/keys/cmktest\"},\"kekIdentity\":{\"identityType\":\"UserAssigned\",\"identityId\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/zubairRGecy/providers/Microsoft.ManagedIdentity/userAssignedIdentities/zubairuamiecy\"},\"infrastructureEncryption\":\"Disabled\"}},\"secureScore\":\"Minimum\",\"bcdrSecurityLevel\":\"Fair\",\"replicatedRegions\":[]},\"id\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/zubairRG/providers/Microsoft.DataProtection/backupVaults/zpgflex\",\"name\":\"zpgflex\",\"type\":\"Microsoft.DataProtection/backupVaults\"}",
    }
  },
  "Start-AzDataProtectionBackupInstanceRestore+[NoContext]+PGFlexRestore+$GET+https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/zubairRG/providers/Microsoft.DataProtection/backupVaults/zpgflex/backupInstances?api-version=2025-01-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/zubairRG/providers/Microsoft.DataProtection/backupVaults/zpgflex/backupInstances?api-version=2025-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "1999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"friendlyName\":\"zubair-pgflex-cli1\",\"dataSourceInfo\":{\"resourceID\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/zubairRG/providers/Microsoft.DBforPostgreSQL/flexibleServers/zubair-pgflex-cli1\",\"resourceUri\":\"\",\"datasourceType\":\"Microsoft.DBforPostgreSQL/flexibleServers\",\"resourceName\":\"zubair-pgflex-cli1\",\"resourceType\":\"Microsoft.DBforPostgreSQL/flexibleServers\",\"resourceLocation\":\"eastus2euap\",\"objectType\":\"Datasource\"},\"policyInfo\":{\"policyId\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/zubairRG/providers/Microsoft.DataProtection/backupVaults/zpgflex/backupPolicies/OssFlexiblePolicy1\"},\"protectionStatus\":{\"status\":\"ProtectionConfigured\"},\"currentProtectionState\":\"ProtectionConfigured\",\"provisioningState\":\"Succeeded\",\"objectType\":\"BackupInstance\"},\"id\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/zubairRG/providers/Microsoft.DataProtection/backupVaults/zpgflex/backupInstances/zubair-pgflex-cli1-zubair-pgflex-cli1-b184233a-d578-11ee-b8f7-60a5e243551b\",\"name\":\"zubair-pgflex-cli1-zubair-pgflex-cli1-b184233a-d578-11ee-b8f7-60a5e243551b\",\"type\":\"Microsoft.DataProtection/backupVaults/backupInstances\"},{\"properties\":{\"friendlyName\":\"zCSRTestDisk-restore1\",\"dataSourceInfo\":{\"resourceID\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/zubairRG/providers/Microsoft.Compute/disks/zCSRTestDisk-restore1\",\"resourceUri\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/zubairRG/providers/Microsoft.Compute/disks/zCSRTestDisk-restore1\",\"datasourceType\":\"Microsoft.Compute/disks\",\"resourceName\":\"zCSRTestDisk-restore1\",\"resourceType\":\"Microsoft.Compute/disks\",\"resourceLocation\":\"eastus2euap\",\"objectType\":\"Datasource\"},\"dataSourceSetInfo\":{\"resourceID\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/zubairRG/providers/Microsoft.Compute/disks/zCSRTestDisk-restore1\",\"resourceUri\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/zubairRG/providers/Microsoft.Compute/disks/zCSRTestDisk-restore1\",\"datasourceType\":\"Microsoft.Compute/disks\",\"resourceName\":\"zCSRTestDisk-restore1\",\"resourceType\":\"Microsoft.Compute/disks\",\"resourceLocation\":\"eastus2euap\",\"objectType\":\"DatasourceSet\"},\"policyInfo\":{\"policyId\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/zubairRG/providers/Microsoft.DataProtection/backupVaults/zpgflex/backupPolicies/dfgdfdf\",\"policyVersion\":\"\",\"policyParameters\":{\"dataStoreParametersList\":[{\"objectType\":\"AzureOperationalStoreParameters\",\"dataStoreType\":\"OperationalStore\",\"resourceGroupId\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/zubairRG\"}]}},\"protectionStatus\":{\"status\":\"ProtectionConfigured\"},\"currentProtectionState\":\"ProtectionConfigured\",\"provisioningState\":\"Succeeded\",\"identityDetails\":{\"useSystemAssignedIdentity\":true},\"objectType\":\"BackupInstance\"},\"id\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/zubairRG/providers/Microsoft.DataProtection/backupVaults/zpgflex/backupInstances/zCSRTestDisk-restore1-zCSRTestDisk-restore1-b358a135-c6db-4ebe-ad13-13006caf2067\",\"name\":\"zCSRTestDisk-restore1-zCSRTestDisk-restore1-b358a135-c6db-4ebe-ad13-13006caf2067\",\"type\":\"Microsoft.DataProtection/backupVaults/backupInstances\"},{\"properties\":{\"friendlyName\":\"zubairsaecy\",\"dataS[...]
