{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourcegroups/sql-atp-cmdlet-test-rgps4266?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266\",\r\n  \"name\": \"sql-atp-cmdlet-test-rgps4266\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/cl_one/providers/Microsoft.Network/virtualNetworks/cl_initial?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"eed92c5e-2c37-440a-a3de-1b357581300d\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"cl_initial\",\r\n  \"id\": \"/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/cl_one/providers/Microsoft.Network/virtualNetworks/cl_initial\",\r\n  \"etag\": \"W/\\\"eed92c5e-2c37-440a-a3de-1b357581300d\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"965f5861-b84a-420a-9899-aabad7690902\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"VM\",\r\n        \"id\": \"/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/cl_one/providers/Microsoft.Network/virtualNetworks/cl_initial/subnets/VM\",\r\n        \"etag\": \"W/\\\"eed92c5e-2c37-440a-a3de-1b357581300d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      },\r\n      {\r\n        \"name\": \"vm1\",\r\n        \"id\": \"/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/cl_one/providers/Microsoft.Network/virtualNetworks/cl_initial/subnets/vm1\",\r\n        \"etag\": \"W/\\\"eed92c5e-2c37-440a-a3de-1b357581300d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"1[...]
    {
      "RequestUri": "/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Sql/managedInstances/sql-atp-cmdlet-serverps4266?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/managedInstances/sql-atp-cmdlet-serverps4266' under resource group 'sql-atp-cmdlet-test-rgps4266' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Sql/managedInstances/sql-atp-cmdlet-serverps4266?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen4\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen4\",\r\n    \"capacity\": 16\r\n  },\r\n  \"properties\": {\r\n    \"fullyQualifiedDomainName\": \"sql-atp-cmdlet-serverps4266.d7e3d3633ad0.database.windows.net\",\r\n    \"administratorLogin\": \"testusername\",\r\n    \"subnetId\": \"/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/cl_one/providers/Microsoft.Network/virtualNetworks/cl_initial/subnets/CooL\",\r\n    \"state\": \"Ready\",\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"vCores\": 16,\r\n    \"storageSizeInGB\": 256,\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"dnsZone\": \"d7e3d3633ad0\",\r\n    \"publicDataEndpointEnabled\": false,\r\n    \"timezoneId\": \"UTC\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Sql/managedInstances/sql-atp-cmdlet-serverps4266\",\r\n  \"name\": \"sql-atp-cmdlet-serverps4266\",\r\n  \"type\": \"Microsoft.Sql/managedInstances\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Sql/managedInstances/sql-atp-cmdlet-serverps4266?api-version=2018-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen4\"\r\n  },\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!\",\r\n    \"subnetId\": \"/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/cl_one/providers/Microsoft.Network/virtualNetworks/cl_initial/subnets/CooL\",\r\n    \"vCores\": 16,\r\n    \"publicDataEndpointEnabled\": false\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Sql/locations/westcentralus/managedInstanceOperationResults/51d70615-0748-4eaa-a413-64fed45a284b?api-version=2018-06-01-preview"
        ],
        "Retry-After": [
          "60"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Sql/locations/westcentralus/managedInstanceAzureAsyncOperation/51d70615-0748-4eaa-a413-64fed45a284b?api-version=2018-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertManagedServer\",\r\n  \"startTime\": \"2019-11-20T09:44:38.503Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Sql/locations/westcentralus/managedInstanceAzureAsyncOperation/51d70615-0748-4eaa-a413-64fed45a284b?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"51d70615-0748-4eaa-a413-64fed45a284b\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2019-11-20T09:44:38.503Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Sql/managedInstances/sql-atp-cmdlet-serverps4266/databases/sql-atp-cmdlet-dbps4266?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/managedInstances/sql-atp-cmdlet-serverps4266/databases/sql-atp-cmdlet-dbps4266' under resource group 'sql-atp-cmdlet-test-rgps4266' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Sql/managedInstances/sql-atp-cmdlet-serverps4266/databases/sql-atp-cmdlet-dbps4266?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"status\": \"Online\",\r\n    \"creationDate\": \"2019-11-20T09:47:44.793Z\",\r\n    \"defaultSecondaryLocation\": \"westus2\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Sql/managedInstances/sql-atp-cmdlet-serverps4266/databases/sql-atp-cmdlet-dbps4266\",\r\n  \"name\": \"sql-atp-cmdlet-dbps4266\",\r\n  \"type\": \"Microsoft.Sql/managedInstances/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/providers/Microsoft.Sql/locations/westcentralus/managedDatabaseAzureAsyncOperation/f4e8d71a-442d-4f76-9728-84e3413154f0?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"f4e8d71a-442d-4f76-9728-84e3413154f0\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2019-11-20T09:47:44.463Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Sql/managedInstances/sql-atp-cmdlet-serverps4266/securityAlertPolicies/Default?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"state\": \"Disabled\",\r\n    \"disabledAlerts\": [\r\n      \"\"\r\n    ],\r\n    \"emailAddresses\": [\r\n      \"\"\r\n    ],\r\n    \"emailAccountAdmins\": false,\r\n    \"storageEndpoint\": \"\",\r\n    \"storageAccountAccessKey\": \"\",\r\n    \"retentionDays\": 0,\r\n    \"creationTime\": \"0001-01-01T00:00:00Z\"\r\n  },\r\n  \"id\": \"/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Sql/managedInstances/sql-atp-cmdlet-serverps4266/securityAlertPolicies/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/managedInstances/securityAlertPolicies\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/providers/Microsoft.Sql/locations/westcentralus/managedServerSecurityAlertPoliciesAzureAsyncOperation/dfbfa641-a3f4-405f-8133-40a943dfc72d?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"dfbfa641-a3f4-405f-8133-40a943dfc72d\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2019-11-20T09:48:15.83Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Sql/managedInstances/sql-atp-cmdlet-serverps4266/vulnerabilityAssessments/default?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11974"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"recurringScans\": {\r\n      \"isEnabled\": false,\r\n      \"emailSubscriptionAdmins\": true\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Sql/managedInstances/sql-atp-cmdlet-serverps4266/vulnerabilityAssessments/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/managedInstances/vulnerabilityAssessments\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Sql/managedInstances/sql-atp-cmdlet-serverps4266/vulnerabilityAssessments/default?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11971"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageContainerPath\": \"https://sqlvauy4mvztuenfqe.blob.core.windows.net/vulnerability-assessment/\",\r\n    \"recurringScans\": {\r\n      \"isEnabled\": true,\r\n      \"emailSubscriptionAdmins\": true,\r\n      \"emails\": []\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Sql/managedInstances/sql-atp-cmdlet-serverps4266/vulnerabilityAssessments/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/managedInstances/vulnerabilityAssessments\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourcegroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Resources/deployments/EnableVA_sql-ads-cmdlet-test-srv1?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"parameters\": {\r\n        \"serverName\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"location\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"enableVa\": {\r\n          \"type\": \"bool\",\r\n          \"defaultValue\": true\r\n        }\r\n      },\r\n      \"variables\": {\r\n        \"subscriptionId\": \"[subscription().subscriptionId]\",\r\n        \"resourceGroupName\": \"[resourceGroup().name]\",\r\n        \"uniqueStorage\": \"[uniqueString(variables('subscriptionId'), variables('resourceGroupName'), parameters('location'))]\",\r\n        \"storageName\": \"[tolower(concat('sqlva', variables('uniqueStorage')))]\"\r\n      },\r\n      \"resources\": [\r\n        {\r\n          \"condition\": \"[parameters('enableVa')]\",\r\n          \"type\": \"Microsoft.Storage/storageAccounts\",\r\n          \"name\": \"[variables('storageName')]\",\r\n          \"apiVersion\": \"2016-01-01\",\r\n          \"location\": \"[parameters('location')]\",\r\n          \"sku\": {\r\n            \"name\": \"Standard_LRS\"\r\n          },\r\n          \"kind\": \"Storage\",\r\n          \"properties\": {}\r\n        },\r\n        {\r\n          \"condition\": \"[parameters('enableVa')]\",\r\n          \"type\": \"Microsoft.Sql/managedInstances/vulnerabilityAssessments\",\r\n          \"name\": \"[concat(parameters('serverName'), '/Default')]\",\r\n          \"apiVersion\": \"2018-06-01-preview\",\r\n          \"properties\": {\r\n            \"storageContainerPath\": \"[if(parameters('enableVa'), concat(reference(variables('storageName'), '2018-02-01').primaryEndpoints.blob, 'vulnerability-assessment'), '')]\",\r\n            \"storageAccountAccessKey\": \"[if(parameters('enableVa'), listKeys(variables('storageName'), '2018-02-01').keys[0].value, '')]\",\r\n            \"recurringScans\": {\r\n              \"isEnabled\": true,\r\n              \"emailSubscriptionAdmins\": true\r\n            }\r\n          },\r\n          \"dependsOn\": [\r\n            \"[concat('Microsoft.Storage/storageAccounts/', variables('storageName'))]\"\r\n          ]\r\n        }\r\n      ]\r\n    },\r\n    \"parameters\": {\r\n      \"serverName\": {\r\n        \"value\": \"sql-atp-cmdlet-serverps4266\"\r\n      },\r\n      \"location\": {\r\n        \"value\": \"westcentralus\"\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourcegroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Resources/deployments/EnableVA_sql-ads-cmdlet-test-srv1/operationStatuses/08586273635722999260?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Resources/deployments/EnableVA_sql-ads-cmdlet-test-srv1\",\r\n  \"name\": \"EnableVA_sql-ads-cmdlet-test-srv1\",\r\n  \"properties\": {\r\n    \"templateHash\": \"17620855326729522122\",\r\n    \"parameters\": {\r\n      \"serverName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"sql-atp-cmdlet-serverps4266\"\r\n      },\r\n      \"location\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"westcentralus\"\r\n      },\r\n      \"enableVa\": {\r\n        \"type\": \"Bool\",\r\n        \"value\": true\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"timestamp\": \"2019-11-20T09:48:34.9328178Z\",\r\n    \"duration\": \"PT1.7551203S\",\r\n    \"correlationId\": \"382d0b1a-3e96-44f2-a25e-b9f839fa862d\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.Storage\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"storageAccounts\",\r\n            \"locations\": [\r\n              \"westcentralus\"\r\n            ]\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"namespace\": \"Microsoft.Sql\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"managedInstances/vulnerabilityAssessments\",\r\n            \"locations\": [\r\n              null\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": [\r\n      {\r\n        \"dependsOn\": [\r\n          {\r\n            \"id\": \"/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Storage/storageAccounts/sqlvauy4mvztuenfqe\",\r\n            \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n            \"resourceName\": \"sqlvauy4mvztuenfqe\"\r\n          },\r\n          {\r\n            \"id\": \"/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Storage/storageAccounts/sqlvauy4mvztuenfqe\",\r\n            \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n            \"resourceName\": \"sqlvauy4mvztuenfqe\",\r\n            \"apiVersion\": \"2018-02-01\"\r\n          },\r\n          {\r\n            \"id\": \"/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Storage/storageAccounts/sqlvauy4mvztuenfqe\",\r\n            \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n            \"resourceName\": \"sqlvauy4mvztuenfqe\",\r\n            \"actionName\": \"listKeys\",\r\n            \"apiVersion\": \"2018-02-01\"\r\n          }\r\n        ],\r\n        \"id\": \"/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/resourceGroups/sql-atp-cmdlet-test-rgps4266/providers/Microsoft.Sql/managedInstances/sql-atp-cmdlet-serverps4266/vulnerabilityAssessments/Default\",\r\n        \"resourceType\": \"Microsoft.Sql/managedInstances/vulnerabilityAssessments\",\r\n        \"resourceName\": \"sql-atp-cmdlet-serverps4266/Default\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRBVFA6MkRDTURMRVQ6MkRURVNUOjJEUkdQUzQyNjYtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRBVFA6MkRDTURMRVQ6MkRURVNUOjJEUkdQUzQyNjYtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/ee5ea899-0791-418f-9270-77cd8273794b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRBVFA6MkRDTURMRVQ6MkRURVNUOjJEUkdQUzQyNjYtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11921"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-AdvancedDataSecurityPolicyManagedInstanceTest": [
      "ps4266"
    ]
  },
  "Variables": {
    "SubscriptionId": "ee5ea899-0791-418f-9270-77cd8273794b"
  }
}