{
  "Entries": [
    {
      "RequestUri": "/jobs?api-version=2017-09-01.6.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"deletetaskFile\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Fri, 06 Oct 2017 03:12:24 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Fri, 06 Oct 2017 03:12:24 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/job-1"
        ],
        "ETag": [
          "0x8D50C681152E838"
        ],
        "Location": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/job-1"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/deletetaskFile/tasks?api-version=2017-09-01.6.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"task1\",\r\n  \"commandLine\": \"cmd /c echo \\\"test\\\" > testFile.txt\",\r\n  \"userIdentity\": {\r\n    \"autoUser\": {\r\n      \"scope\": \"task\",\r\n      \"elevationLevel\": \"admin\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Fri, 06 Oct 2017 03:12:24 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Fri, 06 Oct 2017 03:12:24 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/deletetaskFile/tasks/task1"
        ],
        "ETag": [
          "0x8D50C68112DE4FC"
        ],
        "Location": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/deletetaskFile/tasks/task1"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/deletetaskFile/tasks/task1?api-version=2017-09-01.6.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 06 Oct 2017 03:12:24 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#tasks/@Element\",\r\n  \"id\": \"task1\",\r\n  \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/deletetaskFile/tasks/task1\",\r\n  \"eTag\": \"0x8D50C68112DE4FC\",\r\n  \"creationTime\": \"2017-10-06T03:12:24.7145724Z\",\r\n  \"lastModified\": \"2017-10-06T03:12:24.7145724Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2017-10-06T03:12:24.7145724Z\",\r\n  \"commandLine\": \"cmd /c echo \\\"test\\\" > testFile.txt\",\r\n  \"userIdentity\": {\r\n    \"autoUser\": {\r\n      \"scope\": \"task\",\r\n      \"elevationLevel\": \"admin\"\r\n    }\r\n  },\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"retentionTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"executionInfo\": {\r\n    \"retryCount\": 0,\r\n    \"requeueCount\": 0\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Fri, 06 Oct 2017 03:12:24 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D50C68112DE4FC"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/deletetaskFile/tasks?api-version=2017-09-01.6.0&$filter=id%20eq%20'task1'&$select=id%2Cstate",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 06 Oct 2017 03:12:24 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#tasks\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"task1\",\r\n      \"state\": \"active\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobs/deletetaskFile/tasks/task1/files/wd%5CtestFile.txt?api-version=2017-09-01.6.0",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 06 Oct 2017 03:12:27 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/octet-stream"
        ],
        "Last-Modified": [
          "Fri, 06 Oct 2017 03:12:25 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ocp-creation-time": [
          "Fri, 06 Oct 2017 03:12:25 GMT"
        ],
        "ocp-batch-file-isdirectory": [
          "False"
        ],
        "ocp-batch-file-url": [
          "https%3A%2F%2Fmatthchrwestcentralus.westcentralus.batch.azure.com%2Fjobs%2FdeletetaskFile%2Ftasks%2Ftask1%2Ffiles%2Fwd%2FtestFile.txt"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/deletetaskFile/tasks/task1/files/wd%5CtestFile.txt?recursive=false&api-version=2017-09-01.6.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 06 Oct 2017 03:12:27 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/deletetaskFile/tasks/task1/files?recursive=false&api-version=2017-09-01.6.0&$filter=startswith(name%2C'wd%5CtestFile.txt')",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 06 Oct 2017 03:12:27 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#files\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/deletetaskFile?api-version=2017-09-01.6.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 06 Oct 2017 03:12:27 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "2915bbd6-1252-405f-8173-6c00428146d9",
    "AZURE_BATCH_ACCOUNT": "matthchrwestcentralus",
    "AZURE_BATCH_ENDPOINT": "https://matthchrwestcentralus.westcentralus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "matthchrwestcentralus"
  }
}