{
  "Entries": [
    {
      "RequestUri": "/jobs?api-version=2016-07-01.3.1",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"listNodeFilesByTaskJob\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Tue, 06 Sep 2016 06:24:15 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Tue, 06 Sep 2016 06:24:17 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://pstestaccount.centralus.batch.azure.com/jobs/job-1"
        ],
        "ETag": [
          "0x8D3D61E6DDE4EFC"
        ],
        "Location": [
          "https://pstestaccount.centralus.batch.azure.com/jobs/job-1"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/listNodeFilesByTaskJob/tasks?api-version=2016-07-01.3.1",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"testTask\",\r\n  \"commandLine\": \"cmd /c dir /s\",\r\n  \"runElevated\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Tue, 06 Sep 2016 06:24:17 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Tue, 06 Sep 2016 06:24:17 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://pstestaccount.centralus.batch.azure.com/jobs/listNodeFilesByTaskJob/tasks/testTask"
        ],
        "ETag": [
          "0x8D3D61E6E45986C"
        ],
        "Location": [
          "https://pstestaccount.centralus.batch.azure.com/jobs/listNodeFilesByTaskJob/tasks/testTask"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/listNodeFilesByTaskJob/tasks/testTask?api-version=2016-07-01.3.1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 06 Sep 2016 06:24:17 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstestaccount.centralus.batch.azure.com/$metadata#tasks/@Element\",\r\n  \"id\": \"testTask\",\r\n  \"url\": \"https://pstestaccount.centralus.batch.azure.com/jobs/listNodeFilesByTaskJob/tasks/testTask\",\r\n  \"eTag\": \"0x8D3D61E6E45986C\",\r\n  \"creationTime\": \"2016-09-06T06:24:17.6789612Z\",\r\n  \"lastModified\": \"2016-09-06T06:24:17.6789612Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2016-09-06T06:24:17.6789612Z\",\r\n  \"commandLine\": \"cmd /c dir /s\",\r\n  \"runElevated\": true,\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"retentionTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"executionInfo\": {\r\n    \"retryCount\": 0,\r\n    \"requeueCount\": 0\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Tue, 06 Sep 2016 06:24:17 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D3D61E6E45986C"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/listNodeFilesByTaskJob/tasks/testTask?api-version=2016-07-01.3.1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 06 Sep 2016 06:24:22 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstestaccount.centralus.batch.azure.com/$metadata#tasks/@Element\",\r\n  \"id\": \"testTask\",\r\n  \"url\": \"https://pstestaccount.centralus.batch.azure.com/jobs/listNodeFilesByTaskJob/tasks/testTask\",\r\n  \"eTag\": \"0x8D3D61E6E45986C\",\r\n  \"creationTime\": \"2016-09-06T06:24:17.6789612Z\",\r\n  \"lastModified\": \"2016-09-06T06:24:17.6789612Z\",\r\n  \"state\": \"completed\",\r\n  \"stateTransitionTime\": \"2016-09-06T06:24:18.419144Z\",\r\n  \"previousState\": \"running\",\r\n  \"previousStateTransitionTime\": \"2016-09-06T06:24:18.245327Z\",\r\n  \"commandLine\": \"cmd /c dir /s\",\r\n  \"runElevated\": true,\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"retentionTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"executionInfo\": {\r\n    \"startTime\": \"2016-09-06T06:24:18.245327Z\",\r\n    \"endTime\": \"2016-09-06T06:24:18.419144Z\",\r\n    \"exitCode\": 0,\r\n    \"retryCount\": 0,\r\n    \"requeueCount\": 0\r\n  },\r\n  \"nodeInfo\": {\r\n    \"affinityId\": \"TVM:tvm-2544493925_18-20160906t061824z\",\r\n    \"nodeUrl\": \"https://pstestaccount.centralus.batch.azure.com/pools/testPool/nodes/tvm-2544493925_18-20160906t061824z\",\r\n    \"poolId\": \"testPool\",\r\n    \"nodeId\": \"tvm-2544493925_18-20160906t061824z\",\r\n    \"taskRootDirectory\": \"\\\\workitems\\\\listnodefilesbytaskjob\\\\job-1\\\\testtask\",\r\n    \"taskRootDirectoryUrl\": \"https://pstestaccount.centralus.batch.azure.com/pools/testPool/nodes/tvm-2544493925_18-20160906t061824z/files//workitems/listnodefilesbytaskjob/job-1/testtask\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Tue, 06 Sep 2016 06:24:17 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D3D61E6E45986C"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/listNodeFilesByTaskJob/tasks?api-version=2016-07-01.3.1&$filter=id%20eq%20'testTask'&$select=id%2Cstate",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 06 Sep 2016 06:24:18 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstestaccount.centralus.batch.azure.com/$metadata#tasks\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"testTask\",\r\n      \"state\": \"active\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobs/listNodeFilesByTaskJob/tasks/testTask/files?recursive=false&api-version=2016-07-01.3.1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 06 Sep 2016 06:24:20 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstestaccount.centralus.batch.azure.com/$metadata#files\",\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ProcessEnv.cmd\",\r\n      \"url\": \"https://pstestaccount.centralus.batch.azure.com/jobs/listNodeFilesByTaskJob/tasks/testTask/files/ProcessEnv.cmd\",\r\n      \"isDirectory\": false,\r\n      \"properties\": {\r\n        \"creationTime\": \"2016-09-06T06:24:18.3400475Z\",\r\n        \"lastModified\": \"2016-09-06T06:24:18.341024Z\",\r\n        \"contentLength\": \"2548\",\r\n        \"contentType\": \"application/octet-stream\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"stderr.txt\",\r\n      \"url\": \"https://pstestaccount.centralus.batch.azure.com/jobs/listNodeFilesByTaskJob/tasks/testTask/files/stderr.txt\",\r\n      \"isDirectory\": false,\r\n      \"properties\": {\r\n        \"creationTime\": \"2016-09-06T06:24:18.2677865Z\",\r\n        \"lastModified\": \"2016-09-06T06:24:18.2677865Z\",\r\n        \"contentLength\": \"0\",\r\n        \"contentType\": \"application/octet-stream\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"stdout.txt\",\r\n      \"url\": \"https://pstestaccount.centralus.batch.azure.com/jobs/listNodeFilesByTaskJob/tasks/testTask/files/stdout.txt\",\r\n      \"isDirectory\": false,\r\n      \"properties\": {\r\n        \"creationTime\": \"2016-09-06T06:24:18.2677865Z\",\r\n        \"lastModified\": \"2016-09-06T06:24:18.395708Z\",\r\n        \"contentLength\": \"414\",\r\n        \"contentType\": \"application/octet-stream\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"wd\",\r\n      \"url\": \"https://pstestaccount.centralus.batch.azure.com/jobs/listNodeFilesByTaskJob/tasks/testTask/files/wd\",\r\n      \"isDirectory\": true\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobs/listNodeFilesByTaskJob?api-version=2016-07-01.3.1",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 06 Sep 2016 06:24:22 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "46241355-bb95-46a9-ba6c-42b554d71925",
    "AZURE_BATCH_ACCOUNT": "pstestaccount",
    "AZURE_BATCH_ENDPOINT": "https://pstestaccount.centralus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "accountmgmtsamplegroup"
  }
}