{
  "Get-AzMarketplacePrivateStoreNewPlanNotification+[NoContext]+List+$POST+https://management.azure.com/providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/listNewPlansNotifications?api-version=2023-01-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/listNewPlansNotifications?api-version=2023-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "3" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-writes": [ "1199" ],
        "x-ms-version": [ "6.0.02536.29-012fd621" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"newPlansNotifications\":[{\"offerId\":\"haivisionsystemsinc1580780591922.haivision-srt-gateway\",\"displayName\":\"Haivision SRT Gateway\",\"isFuturePlansEnabled\":false,\"plans\":[{\"planDisplayName\":\"Haivision SRT Gateway 3.8.1\",\"planId\":\"srt-gateway-3-8-1-mi\"}],\"messageCode\":10000,\"icon\":\"https://store-images.s-microsoft.com/image/apps.56129.c5d0ccc5-4bcc-48b8-8c6c-5de4db5102d5.cddb8763-605c-4030-a07f-f0fc548f390d.58c6518d-ded9-4bfe-a7e2-5ee09f96645f\"},{\"offerId\":\"haivisionsystemsinc1580780591922.haivision-kraken\",\"displayName\":\"Haivision Kraken Transcoder\",\"isFuturePlansEnabled\":false,\"plans\":[{\"planDisplayName\":\"Haivision Kraken 3.10.0b\",\"planId\":\"hai-kraken-3_10_0b-byol-vm\"},{\"planDisplayName\":\"Haivision Kraken 3.10.1\",\"planId\":\"hai-kraken-3_10_1-[...]
