{
  "Get-AzMarketplacePrivateStoreAllSubscriptionInTenant+[NoContext]+Fetch+$POST+https://management.azure.com/providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/fetchAllSubscriptionsInTenant?api-version=2023-01-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/fetchAllSubscriptionsInTenant?api-version=2023-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "9" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-writes": [ "1188" ],
        "x-ms-version": [ "6.0.02586.90-5c77bed2" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/1f58b5dd-313c-42ed-84fc-f1e351bba7fb\",\"subscriptionId\":\"1f58b5dd-313c-42ed-84fc-f1e351bba7fb\",\"displayName\":\"PrivatestorePAYGSubscription\",\"state\":\"Enabled\"},{\"id\":\"/subscriptions/ab3de7bc-7a6e-4e9f-a34a-f6922df453e4\",\"subscriptionId\":\"ab3de7bc-7a6e-4e9f-a34a-f6922df453e4\",\"displayName\":\"PrivatestoreTestSubscription\",\"state\":\"Enabled\"}],\"skipToken\":null,\"count\":2}",
    }
  }
}