{
  "Get-AzMarketplacePrivateStoreStopSellOfferPlanNotification+[NoContext]+List+$POST+https://management.azure.com/providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/listStopSellOffersPlansNotifications?api-version=2023-01-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/listStopSellOffersPlansNotifications?api-version=2023-01-01",
      "Content": "{\r\n  \"subscriptions\": [ \"1f58b5dd-313c-42ed-84fc-f1e351bba7fb\" ]\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 400,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-writes": [ "1190" ],
        "x-ms-version": [ "6.0.02586.90-5c77bed2" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"error\":{\"code\":\"BadRequest\",\"message\":\"Invalid Input\"}}",
    }
  }
}