{
  "Get-AzMarketplacePrivateStoreSubscription+[NoContext]+List+$POST+https://management.azure.com/providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/listSubscriptionsContext?api-version=2023-01-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/listSubscriptionsContext?api-version=2023-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "16" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-writes": [ "1196" ],
        "x-ms-version": [ "6.0.02586.90-5c77bed2" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"subscriptionsIds\":[\"1052ff5a-aa43-4ca1-bd18-010399494ce5\",\"ab3de7bc-7a6e-4e9f-a34a-f6922df453e4\",\"1f58b5dd-313c-42ed-84fc-f1e351bba7fb\"]}",
    }
  }
}