{
  "New-AzMarketplacePrivateStoreCollectionOfferMultiContext+[NoContext]+OfferExpanded+$POST+https://management.azure.com/providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/collections/fdb889a1-cf3e-49f0-95b8-2bb012fa01f1/offers/test_test_pmc2pc1.vm_4plans_privatestoretesting/upsertOfferWithMultiContext?api-version=2023-01-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/collections/fdb889a1-cf3e-49f0-95b8-2bb012fa01f1/offers/test_test_pmc2pc1.vm_4plans_privatestoretesting/upsertOfferWithMultiContext?api-version=2023-01-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"plansContext\": [\r\n      {\r\n        \"context\": \"1f58b5dd-313c-42ed-84fc-f1e351bba7fb\",\r\n        \"planIds\": [ \"plan1\" ]\r\n      },\r\n      {\r\n        \"context\": \"ab3de7bc-7a6e-4e9f-a34a-f6922df453e4\",\r\n        \"planIds\": [ \"plan2\" ]\r\n      },\r\n      {\r\n        \"context\": \"a260d38c-96cf-492d-a340-404d0c4b3ad6\",\r\n        \"planIds\": [ \"plan3\" ]\r\n      }\r\n    ]\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-writes": [ "1186" ],
        "x-ms-version": [ "6.0.02536.29-012fd621" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/collections/fdb889a1-cf3e-49f0-95b8-2bb012fa01f1/offers/test_test_pmc2pc1.vm_4plans_privatestoretesting\",\"name\":\"test_test_pmc2pc1.vm_4plans_privatestoretesting\",\"type\":\"Microsoft.Marketplace/privateStores/collection/offers\",\"properties\":{\"uniqueOfferId\":\"test_test_pmc2pc1.vm_4plans_privatestoretesting\",\"specificPlanIdsLimitation\":[\"plan3\",\"plan1\",\"plan2\"],\"eTag\":\"\\\"040258fe-0000-0100-0000-65b130640000\\\"\",\"privateStoreId\":\"a260d38c-96cf-492d-a340-404d0c4b3ad6\",\"updateSuppressedDueIdempotence\":false}}",
    }
  },
  "New-AzMarketplacePrivateStoreCollectionOfferMultiContext+[NoContext]+OfferExpanded+$POST+https://management.azure.com/providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/collections/fdb889a1-cf3e-49f0-95b8-2bb012fa01f1/offers/sendgrid.tsg-saas-offer/upsertOfferWithMultiContext?api-version=2023-01-01+2": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Marketplace/privateStores/a[...]
