{
    "Entries": [
        {
            "RequestUri": "//subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/insights-integration/providers/test.shoebox/testresources2/pstest0000eastusR2/providers/microsoft.insights/diagnosticSettings?api-version=2017-05-01-preview",
            "RequestMethod": "GET",
            "RequestBody": "",
            "RequestHeaders": {
            },
            "ResponseBody": "{\"value\": [{\"id\":\"/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/insights-integration/providers/test.shoebox/testresources2/pstest0000eastusr2/diagnosticSettings/service\",\"name\":\"service\",\"location\":\"\",\"tags\":null,\"properties\":{\"workspaceId\":\"workspace1\",\"storageAccountId\":\"/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourceGroups/montest/providers/Microsoft.Storage/storageAccounts/montest3470\",\"eventHubName\":\"/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourceGroups/montest/providers/Microsoft.ServiceBus/namespaces/ns1/authorizationrules/ar1\",\"metrics\":[{\"timeGrain\":\"PT1M\",\"enabled\":false,\"retentionPolicy\":{\"days\":0}}],\"logs\":[{\"category\":\"TestLog1\",\"enabled\":false,\"retentionPolicy\":{\"days\":0}},{\"category\":\"TestLog2\",\"enabled\":false,\"retentionPolicy\":{\"days\":0}}]}}]}",
            "ResponseHeaders": {
                "Content-Type": [
                    "application/json; charset=utf-8"
                ],
                "x-ms-ratelimit-remaining-subscription-writes": [
                    "1199"
                ]
            },
            "StatusCode": "200"
        },
      {
        "RequestUri": "//subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/insights-integration/providers/test.shoebox/testresources2/pstest0000eastusR2/providers/microsoft.insights/diagnosticSettings/service?api-version=2017-05-01-preview",
        "RequestMethod": "PUT",
        "RequestBody": "{\"location\":\"\",\"properties\": {\"storageAccountId\": \"/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourceGroups/montest/providers/Microsoft.Storage/storageAccounts[...]
