{
  "Test-AzVoiceServicesNameAvailability+[NoContext]+CheckExpanded+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VoiceServices/locations/eastus/checkNameAvailability?api-version=2023-01-31+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VoiceServices/locations/eastus/checkNameAvailability?api-version=2023-01-31",
      "Content": "{\n  \"name\": \"VoiceServicesTestName\",\n  \"type\": \"Microsoft.VoiceServices/CommunicationsGateways\"\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"nameAvailable\":true}",
    }
  }
}