{
  "Entries": [
    {
      "RequestUri": "/Subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backupseadev01/BackupVault/backuprn/containers/iaasvmcontainer%3Bdev01testing%3Bdev01testing/datasources/VM/17593283453810/recoverypoints?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"Objects\": [\r\n    {\r\n      \"RecoveryPointType\": \"AppConsistent\",\r\n      \"RecoveryPointTime\": \"2015-06-11T10:52:30.0345282Z\",\r\n      \"RecoveryPointAdditionalInfo\": \"\",\r\n      \"InstanceId\": \"19591702463836\",\r\n      \"Name\": null,\r\n      \"OperationInProgress\": false\r\n    },\r\n    {\r\n      \"RecoveryPointType\": \"AppConsistent\",\r\n      \"RecoveryPointTime\": \"2015-06-12T06:05:46.9189974Z\",\r\n      \"RecoveryPointAdditionalInfo\": \"\",\r\n      \"InstanceId\": \"20483888156836\",\r\n      \"Name\": null,\r\n      \"OperationInProgress\": false\r\n    },\r\n    {\r\n      \"RecoveryPointType\": \"AppConsistent\",\r\n      \"RecoveryPointTime\": \"2015-06-12T05:49:51.2034409Z\",\r\n      \"RecoveryPointAdditionalInfo\": \"\",\r\n      \"InstanceId\": \"20920255378610\",\r\n      \"Name\": null,\r\n      \"OperationInProgress\": false\r\n    },\r\n    {\r\n      \"RecoveryPointType\": \"AppConsistent\",\r\n      \"RecoveryPointTime\": \"2015-06-12T06:24:33.0768703Z\",\r\n      \"RecoveryPointAdditionalInfo\": \"\",\r\n      \"InstanceId\": \"26453384139263\",\r\n      \"Name\": null,\r\n      \"OperationInProgress\": false\r\n    },\r\n    {\r\n      \"RecoveryPointType\": \"AppConsistent\",\r\n      \"RecoveryPointTime\": \"2015-06-11T14:41:46.0950893Z\",\r\n      \"RecoveryPointAdditionalInfo\": \"\",\r\n      \"InstanceId\": \"32528401668178\",\r\n      \"Name\": null,\r\n      \"OperationInProgress\": false\r\n    }\r\n  ],\r\n  \"ResultCount\": 5,\r\n  \"Skiptoken\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "f5303a0b-fae4-4cdb-b44d-0e4c032dde26"
  }
}