{
  "Entries": [
    {
      "RequestUri": "/Subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backupseadev01/BackupVault/backuprn/datasources?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"Objects\": [\r\n    {\r\n      \"FriendlyName\": \"dev01Testing\",\r\n      \"ContainerName\": \"iaasvmcontainer;dev01testing;dev01testing\",\r\n      \"ContainerType\": \"IaasVMContainer\",\r\n      \"Type\": \"VM\",\r\n      \"Status\": \"Protected\",\r\n      \"ProtectionStatus\": \"Protected\",\r\n      \"ProtectableObjectName\": \"iaasvmcontainer;dev01testing;dev01testing\",\r\n      \"ProtectionPolicyName\": \"Policy9\",\r\n      \"ProtectionPolicyId\": \"c87bbada-6e1b-4db2-b76c-9062d28959a4\",\r\n      \"PolicyInconsistent\": false,\r\n      \"RecoveryPointsCount\": 16,\r\n      \"LastRecoveryPoint\": \"2015-06-17T08:38:51.5793413Z\",\r\n      \"LastBackupTime\": \"2015-06-17T08:37:13.9649748Z\",\r\n      \"LastBackupStatus\": \"Completed\",\r\n      \"LastBackupJobId\": \"b4c03815-5512-4c7e-8187-fcacbb443b2a\",\r\n      \"InstanceId\": \"17593283453810\",\r\n      \"Name\": \"iaasvmcontainer;dev01testing;dev01testing\",\r\n      \"OperationInProgress\": false\r\n    }\r\n  ],\r\n  \"ResultCount\": 1,\r\n  \"Skiptoken\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14916"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backupseadev01/BackupVault/backuprn/protectableobjects?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"Objects\": [\r\n    {\r\n      \"FriendlyName\": \"dev01Testing\",\r\n      \"Type\": \"VM\",\r\n      \"ProtectionStatus\": \"Protected\",\r\n      \"ContainerName\": \"iaasvmcontainer;dev01testing;dev01testing\",\r\n      \"ContainerFriendlyName\": \"dev01Testing\",\r\n      \"ContainerType\": \"IaasVMContainer\",\r\n      \"ParentContainerName\": \"dev01Testing\",\r\n      \"ParentContainerFriendlyName\": \"dev01Testing\",\r\n      \"ParentContainerType\": \"IaasVMServiceContainer\",\r\n      \"InstanceId\": \"iaasvmcontainer;dev01testing;dev01testing\",\r\n      \"Name\": \"iaasvmcontainer;dev01testing;dev01testing\",\r\n      \"OperationInProgress\": false\r\n    },\r\n    {\r\n      \"FriendlyName\": \"mkheranivmps05\",\r\n      \"Type\": \"VM\",\r\n      \"ProtectionStatus\": \"NotProtected\",\r\n      \"ContainerName\": \"iaasvmcontainer;mkheranivmps02;mkheranivmps05\",\r\n      \"ContainerFriendlyName\": \"mkheranivmps05\",\r\n      \"ContainerType\": \"IaasVMContainer\",\r\n      \"ParentContainerName\": \"mkheranivmps02\",\r\n      \"ParentContainerFriendlyName\": \"mkheranivmps02\",\r\n      \"ParentContainerType\": \"IaasVMServiceContainer\",\r\n      \"InstanceId\": \"iaasvmcontainer;mkheranivmps02;mkheranivmps05\",\r\n      \"Name\": \"iaasvmcontainer;mkheranivmps02;mkheranivmps05\",\r\n      \"OperationInProgress\": false\r\n    }\r\n  ],\r\n  \"ResultCount\": 2,\r\n  \"Skiptoken\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14915"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "f5303a0b-fae4-4cdb-b44d-0e4c032dde26"
  }
}