{
  "Entries": [
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/providers/Microsoft.Compute?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/providers/Microsoft.Compute\",\r\n  \"namespace\": \"Microsoft.Compute\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"availabilitySets\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"Central US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"North Central US\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"virtualMachines\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"Central US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"North Central US\[...]
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourcegroups/crptestps6110?api-version=2014-04-01-preview",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourcegroups/crptestps6110?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110\",\r\n  \"name\": \"crptestps6110\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/resources?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14990"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/virtualnetworks/vnetcrptestps6110?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/vnetcrptestps6110' under resource group 'crptestps6110' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/virtualnetworks/vnetcrptestps6110?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps6110\",\r\n  \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/virtualNetworks/vnetcrptestps6110\",\r\n  \"etag\": \"W/\\\"43299f1e-bceb-485d-b939-71c1298bc20b\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"6813052b-fb2d-49b6-8f03-b4f2b50cb636\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnetcrptestps6110\",\r\n        \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/virtualNetworks/vnetcrptestps6110/subnets/subnetcrptestps6110\",\r\n        \"etag\": \"W/\\\"43299f1e-bceb-485d-b939-71c1298bc20b\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"43299f1e-bceb-485d-b939-71c1298bc20b\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14966"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/virtualnetworks/vnetcrptestps6110?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\",\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnetcrptestps6110\",\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"ipConfigurations\": []\r\n        }\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps6110\",\r\n  \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/virtualNetworks/vnetcrptestps6110\",\r\n  \"etag\": \"W/\\\"e0b20976-d770-4f8f-b827-18fe3cd088d1\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"6813052b-fb2d-49b6-8f03-b4f2b50cb636\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnetcrptestps6110\",\r\n        \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/virtualNetworks/vnetcrptestps6110/subnets/subnetcrptestps6110\",\r\n        \"etag\": \"W/\\\"e0b20976-d770-4f8f-b827-18fe3cd088d1\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/providers/Microsoft.Network/locations/eastus/operations/08077c7d-8741-496e-b871-e609d2698c7c?api-version=2015-06-15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/providers/Microsoft.Network/locations/eastus/operations/08077c7d-8741-496e-b871-e609d2698c7c?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14967"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps6110?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/pubipcrptestps6110' under resource group 'crptestps6110' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps6110?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"pubipcrptestps6110\",\r\n  \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps6110\",\r\n  \"etag\": \"W/\\\"fc46bf59-17e2-4a17-bc8c-9a11550d21c4\\\"\",\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"55cb3f13-e015-4ae9-a954-345bc60902ee\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"pubipcrptestps6110\",\r\n      \"fqdn\": \"pubipcrptestps6110.eastus.cloudapp.azure.com\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"fc46bf59-17e2-4a17-bc8c-9a11550d21c4\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14961"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/networkInterfaces/nic0crptestps6110?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/nic0crptestps6110' under resource group 'crptestps6110' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/networkInterfaces/nic0crptestps6110?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"nic0crptestps6110\",\r\n  \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/networkInterfaces/nic0crptestps6110\",\r\n  \"etag\": \"W/\\\"f8e0d9a1-8f09-482b-a9b9-5f3de240275e\\\"\",\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"a68782ed-6be1-4f03-b7f5-7bf768c41ba1\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/networkInterfaces/nic0crptestps6110/ipConfigurations/ipconfig1\",\r\n        \"etag\": \"W/\\\"f8e0d9a1-8f09-482b-a9b9-5f3de240275e\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps6110\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/virtualNetworks/vnetcrptestps6110/subnets/subnetcrptestps6110\"\r\n          },\r\n          \"primary\": true\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": []\r\n    },\r\n    \"enableIPForwarding\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"f8e0d9a1-8f09-482b-a9b9-5f3de240275e\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14957"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/networkInterfaces/nic0crptestps6110?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\",\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"properties\": {\r\n          \"loadBalancerBackendAddressPools\": [],\r\n          \"loadBalancerInboundNatRules\": [],\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/virtualNetworks/vnetcrptestps6110/subnets/subnetcrptestps6110\",\r\n            \"properties\": {\r\n              \"ipConfigurations\": []\r\n            }\r\n          },\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f59[...]
[...]
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Storage/storageAccounts/stocrptestps6110?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\",\r\n  \"properties\": {\r\n    \"accountType\": \"Premium_LRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/providers/Microsoft.Storage/operations/97ac7781-2ee1-4bea-8f36-056686891b38?monitor=true&api-version=2015-06-15"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/providers/Microsoft.Storage/operations/97ac7781-2ee1-4bea-8f36-056686891b38?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14950"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/providers/Microsoft.Storage/operations/97ac7781-2ee1-4bea-8f36-056686891b38?monitor=true&api-version=2015-06-15"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Storage/storageAccounts/stocrptestps6110?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Storage/storageAccounts/stocrptestps6110\",\r\n  \"location\": \"eastus\",\r\n  \"name\": \"stocrptestps6110\",\r\n  \"properties\": {\r\n    \"accountType\": \"Premium_LRS\",\r\n    \"creationTime\": \"2016-02-16T10:24:47.5385966Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://stocrptestps6110.blob.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"eastus\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"statusOfPrimary\": \"available\"\r\n  },\r\n  \"tags\": {},\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14950"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Storage/storageAccounts/stocrptestps6110/listKeys?api-version=2015-06-15",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key1\": \"/85dNlDjWZh4LxF4RNnqBxZMyWSyEGR3YH6/JtRTY6zmLmQabVrJtfgaNhDLLMYdzG+mq83iEnp0DDhMZMNAuQ==\",\r\n  \"key2\": \"4cSbTDSbEeRahVTn75NZGUbbXuh86AnKatv1Lz3YYvGBNDi55SMGk3wkgKNjTGt3U+caFGFOa1SYYiLGpOJXpg==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Compute/virtualMachines/vmcrptestps6110?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\",\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2008-R2-SP1\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"name\": \"osDisk\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://stocrptestps6110.blob.core.windows.net/test/os.vhd\"\r\n        },\r\n        \"caching\": \"ReadWrite\",\r\n        \"createOption\": \"FromImage\"\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 1,\r\n          \"name\": \"testDataDisk1\",\r\n          \"vhd\": {\r\n            \"uri\": \"https://stocrptestps6110.blob.core.windows.net/test/data1.vhd\"\r\n          },\r\n          \"caching\": \"ReadOnly\",\r\n          \"createOption\": \"Empty\",\r\n          \"diskSizeGB\": 10\r\n        },\r\n        {\r\n          \"lun\": 2,\r\n          \"name\": \"testDataDisk2\",\r\n          \"vhd\": {\r\n            \"uri\": \"https://stocrptestps6110.blob.core.windows.net/test/data2.vhd\"\r\n          },\r\n          \"caching\": \"ReadOnly\",\r\n          \"createOption\": \"Empty\",\r\n          \"diskSizeGB\": 11\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"adminPassword\": \"BaR@123crptestps6110\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true\r\n      }\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/networkInterfaces/nic0crptestps6110\",\r\n          \"properties\": {\r\n            \"primary\": true\r\n          }\r\n        },\r\n        {\r\n          \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/networkInterfaces/nic1crptestps6110\",\r\n          \"properties\": {\r\n            \"primary\": false\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": false\r\n      }\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"vmId\": \"75fe4dc3-f01d-44b5-ba3e-1fc40cd3c7b6\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2008-R2-SP1\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"osDisk\",\r\n        \"createOption\": \"FromImage\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://stocrptestps6110.blob.core.windows.net/test/os.vhd\"\r\n        },\r\n        \"caching\": \"ReadWrite\"\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 1,\r\n          \"name\": \"testDataDisk1\",\r\n          \"createOption\": \"Empty\",\r\n          \"vhd\": {\r\n            \"uri\": \"https://stocrptestps6110.blob.core.windows.net/test/data1.vhd\"\r\n          },\r\n          \"caching\": \"ReadOnly\",\r\n          \"diskSizeGB\": 10\r\n        },\r\n        {\r\n          \"lun\": 2,\r\n          \"name\": \"testDataDisk2\",\r\n          \"createOption\": \"Empty\",\r\n          \"vhd\": {\r\n            \"uri\": \"https://stocrptestps6110.blob.core.windows.net/test/data2.vhd\"\r\n          },\r\n          \"caching\": \"ReadOnly\",\r\n          \"diskSizeGB\": 11\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": true\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/networkInterfaces/nic0crptestps6110\",\r\n          \"properties\": {\r\n            \"primary\": true\r\n          }\r\n        },\r\n        {\r\n          \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Network/n[...]
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/providers/Microsoft.Compute/locations/eastus/operations/069005c3-56e7-4b1c-9c81-dfc9056d0136?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operationId\": \"069005c3-56e7-4b1c-9c81-dfc9056d0136\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2016-02-16T11:25:17.5737952+01:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14959"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/providers/Microsoft.Compute/locations/eastus/operations/069005c3-56e7-4b1c-9c81-dfc9056d0136?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operationId\": \"069005c3-56e7-4b1c-9c81-dfc9056d0136\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2016-02-16T11:25:17.5737952+01:00\",\r\n  \"endTime\": \"2016-02-16T11:30:27.9175266+01:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14949"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/providers/Microsoft.Compute/locations/eastus/publishers?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"eastus\",\r\n    \"name\": \"4psa\",\r\n    \"id\": \"/Subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/Providers/Microsoft.Compute/Locations/eastus/Publishers/4psa\"\r\n  },\r\n  {\r\n    \"lo[...]
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Compute/artifacttypes/vmextension/types?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"eastus\",\r\n    \"name\": \"BGInfo\",\r\n    \"id\": \"/Subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/Providers/Microsoft.Compute/Locations[...]
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Compute/artifacttypes/vmextension/types/BGInfo/versions?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"eastus\",\r\n    \"name\": \"2.1\",\r\n    \"id\": \"/Subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.Compute/ArtifactTypes/VMExtension/Types/BGInfo/Versions/2.1\"\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14945"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Compute/virtualMachines/vmcrptestps6110/extensions/BGInfo?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\",\r\n  \"properties\": {\r\n    \"publisher\": \"Microsoft.Compute\",\r\n    \"type\": \"BGInfo\",\r\n    \"typeHandlerVersion\": \"2.1\",\r\n    \"autoUpgradeMinorVersion\": true\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"publisher\": \"Microsoft.Compute\",\r\n    \"type\": \"BGInfo\",\r\n    \"typeHandlerVersion\": \"2.1\",\r\n    \"autoUpgradeMinorVersion\": true,\r\n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"id\": \"/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Compute/virtualMachines/vmcrptestps6110/extensions/BGInfo\",\r\n  \"name\": \"BGInfo\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines/extensions\",\r\n  \"location\": \"eastus\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/providers/Microsoft.Compute/locations/eastus/operations/e87df0bc-ebc2-4ba4-89c0-348f99fd4c8e?api-version=2015-06-15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/resourceGroups/crptestps6110/providers/Microsoft.Compute/virtualMachines/vmcrptestps6110?$expand=instanceView&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"vmId\": \"75fe4dc3-f01d-44b5-ba3e-1fc40cd3c7b6\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS2\"\r\n    },\r\n    \"st[...]
[...]
    {
      "RequestUri": "/subscriptions/acf8322c-ac5c-4cbd-8907-5f5920784774/providers/Microsoft.Storage/storageAccounts?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
[...]
