{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/providers/Microsoft.Compute?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/providers/Microsoft.Compute\",\r\n  \"namespace\": \"Microsoft.Compute\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"60e6cd67-9c8c-4951-9b3c-23c25a2169af\",\r\n    \"roleDefinitionId\": \"e4770acb-272e-4dc8-87f3-12f44a612224\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"availabilitySets\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"Central US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"South India\",\r\n        \"Central India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West US 2\",\r\n        \"West Central US\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Korea Central\",\r\n        \"Korea South\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2017-03-30\",\r\n        \"2016-08-30\",\r\n        \"2016-04-30-preview\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"virtualMachines\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"Central US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n  [...]
    {
      "RequestUri": "/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourcegroups/crptestps9067?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067\",\r\n  \"name\": \"crptestps9067\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/virtualNetworks/vnetcrptestps9067?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/vnetcrptestps9067' under resource group 'crptestps9067' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/virtualNetworks/vnetcrptestps9067?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps9067\",\r\n  \"id\": \"/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/virtualNetworks/vnetcrptestps9067\",\r\n  \"etag\": \"W/\\\"2d20c882-b84e-4001-9aca-43f8d6a7a33f\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"52af5076-3cd0-4f1a-9f03-51a7a9a204cf\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnetcrptestps9067\",\r\n        \"id\": \"/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/virtualNetworks/vnetcrptestps9067/subnets/subnetcrptestps9067\",\r\n        \"etag\": \"W/\\\"2d20c882-b84e-4001-9aca-43f8d6a7a33f\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"2d20c882-b84e-4001-9aca-43f8d6a7a33f\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/virtualNetworks/vnetcrptestps9067?api-version=2017-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"resourceNavigationLinks\": []\r\n        },\r\n        \"name\": \"subnetcrptestps9067\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": []\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps9067\",\r\n  \"id\": \"/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/virtualNetworks/vnetcrptestps9[...]
    {
      "RequestUri": "/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/providers/Microsoft.Network/locations/eastus/operations/daf8434f-2545-4378-bb12-ddb281db7506?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps9067?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/pubipcrptestps9067' under resource group 'crptestps9067' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps9067?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"pubipcrptestps9067\",\r\n  \"id\": \"/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps9067\",\r\n  \"etag\": \"W/\\\"7776efb4-7e19-4445-a35f-a5fd5b31e8a6\\\"\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"bc65df78-4cbf-4c57-8ce1-c3e6ca268bbf\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"pubipcrptestps9067\",\r\n      \"fqdn\": \"pubipcrptestps9067.eastus.cloudapp.azure.com\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"7776efb4-7e19-4445-a35f-a5fd5b31e8a6\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/networkInterfaces/nic0crptestps9067?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/nic0crptestps9067' under resource group 'crptestps9067' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/networkInterfaces/nic0crptestps9067?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"nic0crptestps9067\",\r\n  \"id\": \"/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/networkInterfaces/nic0crptestps9067\",\r\n  \"etag\": \"W/\\\"be6ba499-a8fc-4f9b-b031-20c22cde9f31\\\"\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"5d0f0b10-ece6-4877-ad0c-cc7199d9bf8e\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/networkInterfaces/nic0crptestps9067/ipConfigurations/ipconfig1\",\r\n        \"etag\": \"W/\\\"be6ba499-a8fc-4f9b-b031-20c22cde9f31\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps9067\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/virtualNetworks/vnetcrptestps9067/subnets/subnetcrptestps9067\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"ozik4uwqhqne5hydkgt0tiqezh.bx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\": false\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"be6ba499-a8fc-4f9b-b031-20c22cde9f31\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14988"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/networkInterfaces/nic0crptestps9067?api-version=2017-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"applicationGatewayBackendAddressPools\": [],\r\n          \"loadBalancerBackendAddressPools\": [],\r\n          \"loadBalancerInboundNatRules\": [],\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"resourceNavigationLinks\": []\r\n            },\r\n            \"id\": \"/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/virtualNetworks/vnetcrptestps9067/subnets/subnetcrptestps9067\"\r\n          },\r\n          \"primary\": true,\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/sub[...]
[...]
    {
      "RequestUri": "/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Storage/storageAccounts/stocrptestps9067?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\",\r\n  \"properties\": {\r\n    \"accountType\": \"Premium_LRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/providers/Microsoft.Storage/operations/1d70540c-6433-4bbe-ad3d-fda59b951d38?monitor=true&api-version=2015-06-15"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/providers/Microsoft.Storage/operations/1d70540c-6433-4bbe-ad3d-fda59b951d38?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/providers/Microsoft.Storage/operations/1d70540c-6433-4bbe-ad3d-fda59b951d38?monitor=true&api-version=2015-06-15"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Storage/storageAccounts/stocrptestps9067?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Storage/storageAccounts/stocrptestps9067\",\r\n  \"location\": \"eastus\",\r\n  \"name\": \"stocrptestps9067\",\r\n  \"properties\": {\r\n    \"accountType\": \"Premium_LRS\",\r\n    \"creationTime\": \"2017-07-19T16:33:01.0869312Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://stocrptestps9067.blob.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"eastus\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"statusOfPrimary\": \"available\"\r\n  },\r\n  \"tags\": {},\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14937"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Storage/storageAccounts/stocrptestps9067/listKeys?api-version=2015-06-15",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key1\": \"Y29ZAIqHoRA43cAXpfpA/DFDSaz5CnNHW0IS9VrplCjaXjxgYht8DzIIlGY4R6sL3kfR3q/eFcpy68UUapjZng==\",\r\n  \"key2\": \"DTvF1T0BYkSZesn+7RblJO7cQvi66dWp9ETPXO082/R0t9y6xFAAOHpIOKRkKHXpOZsjR+clBtar65rV+KcGjA==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Compute/virtualMachines/vmcrptestps9067?api-version=2017-03-30",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"SUSE\",\r\n        \"offer\": \"SLES\",\r\n        \"sku\": \"12-SP2\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"name\": \"osDisk\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"createOption\": \"fromImage\"\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 1,\r\n          \"name\": \"testDataDisk1\",\r\n          \"caching\": \"ReadOnly\",\r\n          \"createOption\": \"empty\",\r\n          \"diskSizeGB\": 10\r\n        },\r\n        {\r\n          \"lun\": 2,\r\n          \"name\": \"testDataDisk2\",\r\n          \"caching\": \"ReadOnly\",\r\n          \"createOption\": \"empty\",\r\n          \"diskSizeGB\": 11\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"adminPassword\": \"PLACEHOLDER1@\",\r\n      \"linuxConfiguration\": {}\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"properties\": {\r\n            \"primary\": true\r\n          },\r\n          \"id\": \"/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/networkInterfaces/nic0crptestps9067\"\r\n        },\r\n        {\r\n          \"properties\": {\r\n            \"primary\": false\r\n          },\r\n          \"id\": \"/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/networkInterfaces/nic1crptestps9067\"\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": false\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"vmId\": \"88a5f163-595b-428f-adb8-389accc3330e\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"SUSE\",\r\n        \"offer\": \"SLES\",\r\n        \"sku\": \"12-SP2\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\": \"osDisk\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\"\r\n        }\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 1,\r\n          \"name\": \"testDataDisk1\",\r\n          \"createOption\": \"Empty\",\r\n          \"caching\": \"ReadOnly\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Premium_LRS\"\r\n          },\r\n          \"diskSizeGB\": 10\r\n        },\r\n        {\r\n          \"lun\": 2,\r\n          \"name\": \"testDataDisk2\",\r\n          \"createOption\": \"Empty\",\r\n          \"caching\": \"ReadOnly\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Premium_LRS\"\r\n          },\r\n          \"diskSizeGB\": 11\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\": false\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/networkInterfaces/nic0crptestps9067\",\r\n          \"properties\": {\r\n            \"primary\": true\r\n          }\r\n        },\r\n        {\r\n          \"id\": \"/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Network/networkInterfaces/nic1crptestps9067\",\r\n          \"properties\": {\r\n            \"primary\": false\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": false\r\n      }\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/resourceGroups/crptestps9067/providers/Microsoft.Compute/virtualMachines/vmcrptestps9067\",\r\n  \"name\": \"vmcrptestps9067\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/providers/Microsoft.Compute/locations/eastus/operations/ebc3aa29-84c8-4a68-a1b4-6be234148fd4?api-version=2017-03-30"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0d00a9f6-eabe-4083-99ad-383632714f14/providers/Microsoft.Compute/locations/eastus/operations/ebc3aa29-84c8-4a68-a1b4-6be234148fd4?api-version=2017-03-30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2017-07-19T18:33:20.8778497+02:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"ebc3aa29-84c8-4a68-a1b4-6be234148fd4\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
[...]
