{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/providers/Microsoft.Compute?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/providers/Microsoft.Compute\",\r\n  \"namespace\": \"Microsoft.Compute\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"60e6cd67-9c8c-4951-9b3c-23c25a2169af\",\r\n    \"roleDefinitionId\": \"e4770acb-272e-4dc8-87f3-12f44a612224\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"availabilitySets\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"Central US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"South India\",\r\n        \"Central India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West US 2\",\r\n        \"West Central US\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Korea Central\",\r\n        \"Korea South\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2017-03-30\",\r\n        \"2016-08-30\",\r\n        \"2016-04-30-preview\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"virtualMachines\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"Central US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n  [...]
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourcegroups/crptestps8671?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671\",\r\n  \"name\": \"crptestps8671\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8671?api-version=2017-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/vnetcrptestps8671' under resource group 'crptestps8671' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8671?api-version=2017-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps8671\",\r\n  \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8671\",\r\n  \"etag\": \"W/\\\"c922bfb7-7565-4e4f-82d6-e4ff34079d33\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"b46ed4a8-a70a-4c82-b6e2-f1d50af6cb53\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnetcrptestps8671\",\r\n        \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8671/subnets/subnetcrptestps8671\",\r\n        \"etag\": \"W/\\\"c922bfb7-7565-4e4f-82d6-e4ff34079d33\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"c922bfb7-7565-4e4f-82d6-e4ff34079d33\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8671?api-version=2017-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"ipConfigurations\": [],\r\n          \"resourceNavigationLinks\": []\r\n        },\r\n        \"name\": \"subnetcrptestps8671\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": []\r\n  },\r\n  \"name\": \"vnetcrptestps8671\",\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps8671\",\r\n  \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.[...]
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/providers/Microsoft.Network/locations/eastus/operations/6183f1b1-4643-4171-9791-5ca5bcbe7a32?api-version=2017-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps8671?api-version=2017-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/pubipcrptestps8671' under resource group 'crptestps8671' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps8671?api-version=2017-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"pubipcrptestps8671\",\r\n  \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps8671\",\r\n  \"etag\": \"W/\\\"c2052bb9-fa06-47f1-be8a-2b9e2cd870b7\\\"\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"b0061b08-763e-4f5f-b2f3-aea965f38e93\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"pubipcrptestps8671\",\r\n      \"fqdn\": \"pubipcrptestps8671.eastus.cloudapp.azure.com\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"c2052bb9-fa06-47f1-be8a-2b9e2cd870b7\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14987"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/networkInterfaces/nic0crptestps8671?api-version=2017-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/nic0crptestps8671' under resource group 'crptestps8671' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/networkInterfaces/nic0crptestps8671?api-version=2017-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"nic0crptestps8671\",\r\n  \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/networkInterfaces/nic0crptestps8671\",\r\n  \"etag\": \"W/\\\"e864985f-1924-43a0-9bef-fb7c6abd135e\\\"\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"bfb59d4e-994c-4172-b4dd-55fcf53685e0\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/networkInterfaces/nic0crptestps8671/ipConfigurations/ipconfig1\",\r\n        \"etag\": \"W/\\\"e864985f-1924-43a0-9bef-fb7c6abd135e\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps8671\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8671/subnets/subnetcrptestps8671\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"vdkg3naku4beznxc4hkqv3wlkd.bx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\": false\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"e864985f-1924-43a0-9bef-fb7c6abd135e\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14983"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/networkInterfaces/nic0crptestps8671?api-version=2017-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"applicationGatewayBackendAddressPools\": [],\r\n          \"loadBalancerBackendAddressPools\": [],\r\n          \"loadBalancerInboundNatRules\": [],\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"ipConfigurations\": [],\r\n              \"resourceNavigationLinks\": []\r\n            },\r\n            \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8671/subnets/subnetcrptestps8671\"\r\n          },\r\n          \"primary\": true,\r\n          \"publicI[...]
[...]
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Storage/storageAccounts/stocrptestps8671?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\",\r\n  \"properties\": {\r\n    \"accountType\": \"Premium_LRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/providers/Microsoft.Storage/operations/27e8130a-1328-4afe-957e-f69e027da49b?monitor=true&api-version=2015-06-15"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/providers/Microsoft.Storage/operations/27e8130a-1328-4afe-957e-f69e027da49b?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"location\": \"East US\",\r\n  \"properties\": {\r\n    \"accountType\": \"Premium_LRS\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Storage/storageAccounts/stocrptestps8671?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Storage/storageAccounts/stocrptestps8671\",\r\n  \"location\": \"eastus\",\r\n  \"name\": \"stocrptestps8671\",\r\n  \"properties\": {\r\n    \"accountType\": \"Premium_LRS\",\r\n    \"creationTime\": \"2017-04-27T09:24:22.6506981Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://stocrptestps8671.blob.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"eastus\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"statusOfPrimary\": \"available\"\r\n  },\r\n  \"tags\": {},\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Storage/storageAccounts/stocrptestps8671/listKeys?api-version=2015-06-15",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key1\": \"5IjTrFiIIVCI2+0WGGCS2nYmw+QbD4yx7ARixk2cDhs/JXPBRvJW4jcUT20C8PaKMqknPtG966vX+LtcCBE5aQ==\",\r\n  \"key2\": \"hSMR/pWsBeRs2nOO/XiAa0xMaGJOr7Hk/q2ewgIN+/8L2RSRePYN9AIrYXj5wjX2mS8GdC2gHyV1tOOllUkr0Q==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Compute/virtualMachines/vmcrptestps8671?api-version=2016-04-30-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"SUSE\",\r\n        \"offer\": \"SLES\",\r\n        \"sku\": \"12-SP1\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"name\": \"osDisk\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"createOption\": \"fromImage\"\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 1,\r\n          \"name\": \"testDataDisk1\",\r\n          \"caching\": \"ReadOnly\",\r\n          \"createOption\": \"empty\",\r\n          \"diskSizeGB\": 10\r\n        },\r\n        {\r\n          \"lun\": 2,\r\n          \"name\": \"testDataDisk2\",\r\n          \"caching\": \"ReadOnly\",\r\n          \"createOption\": \"empty\",\r\n          \"diskSizeGB\": 11\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"adminPassword\": \"PLACEHOLDER1@\",\r\n      \"linuxConfiguration\": {}\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"properties\": {\r\n            \"primary\": true\r\n          },\r\n          \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/networkInterfaces/nic0crptestps8671\"\r\n        },\r\n        {\r\n          \"properties\": {\r\n            \"primary\": false\r\n          },\r\n          \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/networkInterfaces/nic1crptestps8671\"\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": false\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"vmId\": \"e93ef132-7389-4136-8f0c-319e77ea2b79\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"SUSE\",\r\n        \"offer\": \"SLES\",\r\n        \"sku\": \"12-SP1\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\": \"osDisk\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\"\r\n        }\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 1,\r\n          \"name\": \"testDataDisk1\",\r\n          \"createOption\": \"Empty\",\r\n          \"caching\": \"ReadOnly\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Premium_LRS\"\r\n          },\r\n          \"diskSizeGB\": 10\r\n        },\r\n        {\r\n          \"lun\": 2,\r\n          \"name\": \"testDataDisk2\",\r\n          \"createOption\": \"Empty\",\r\n          \"caching\": \"ReadOnly\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Premium_LRS\"\r\n          },\r\n          \"diskSizeGB\": 11\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\": false\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/networkInterfaces/nic0crptestps8671\",\r\n          \"properties\": {\r\n            \"primary\": true\r\n          }\r\n        },\r\n        {\r\n          \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Network/networkInterfaces/nic1crptestps8671\",\r\n          \"properties\": {\r\n            \"primary\": false\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": false\r\n      }\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Compute/virtualMachines/vmcrptestps8671\",\r\n  \"name\": \"vmcrptestps8671\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/providers/Microsoft.Compute/locations/eastus/operations/f14e949f-d2e8-4608-aebd-1ca6f5104ed6?api-version=2016-04-30-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/providers/Microsoft.Compute/locations/eastus/operations/f14e949f-d2e8-4608-aebd-1ca6f5104ed6?api-version=2016-04-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2017-04-27T11:24:58.6627108+02:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"f14e949f-d2e8-4608-aebd-1ca6f5104ed6\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14951"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/providers/Microsoft.Compute/locations/eastus/operations/f14e949f-d2e8-4608-aebd-1ca6f5104ed6?api-version=2016-04-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2017-04-27T11:24:58.6627108+02:00\",\r\n  \"endTime\": \"2017-04-27T11:28:24.4627519+02:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"f14e949f-d2e8-4608-aebd-1ca6f5104ed6\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14994"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Compute/virtualMachines/vmcrptestps8671?$expand=instanceView&api-version=2016-04-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"vmId\": \"e93ef132-7389-4136-8f0c-319e77ea2b79\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS2\"\r\n    },\r\n[...]
[...]
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Compute/disks/osDisk?api-version=2016-04-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"accountType\": \"Premium_LRS\",\r\n    \"osType\": \"Linux\",\r\n    \"creationData\": {\r\n      \"createOption\": \"FromImage\",\r\n      \"imageReference\": {\r\n        \"id\": \"/Subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/Providers/Microsoft.Compute/Locations/eastus/Publishers/SUSE/ArtifactTypes/VMImage/Offers/SLES/Skus/12-SP1/Versions/latest\"\r\n      }\r\n    },\r\n    \"diskSizeGB\": 30,\r\n    \"timeCreated\": \"2017-04-27T11:25:09.8394513+02:00\",\r\n    \"ownerId\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Compute/virtualMachines/vmcrptestps8671\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"Attached\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Compute/disks/osDisk\",\r\n  \"name\": \"osDisk\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14982"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Compute/disks/testDataDisk1?api-version=2016-04-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"accountType\": \"Premium_LRS\",\r\n    \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 10,\r\n    \"timeCreated\": \"2017-04-27T11:25:09.8394513+02:00\",\r\n    \"ownerId\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Compute/virtualMachines/vmcrptestps8671\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"Attached\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Compute/disks/testDataDisk1\",\r\n  \"name\": \"testDataDisk1\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14981"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Compute/disks/vmcrptestps8671_disk4_70891b616cc14b70b75bd07cc44a4a83?api-version=2016-04-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_LRS\",\r\n    \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 10,\r\n    \"timeCreated\": \"2017-04-27T11:28:53.3656065+02:00\",\r\n    \"ownerId\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Compute/virtualMachines/vmcrptestps8671\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"Attached\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Compute/disks/vmcrptestps8671_disk4_70891b616cc14b70b75bd07cc44a4a83\",\r\n  \"name\": \"vmcrptestps8671_disk4_70891b616cc14b70b75bd07cc44a4a83\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14979"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7d42757b-9459-4cb8-9b0e-3f44f4373cf5/resourceGroups/crptestps8671/providers/Microsoft.Compute/virtualMachines/vmcrptestps8671/extensions/AzureEnhancedMonitorForLinux?api-version=2016-04-30-preview",
      "RequestMethod": "PUT",
[...]
