{
  "Update-AzSecurityDefenderForStorage+[NoContext]+UpdateExpandedEnableATP+$GET+https://management.azure.com//subscriptions/f5f18ed8-74de-4917-9f69-d5f7e877104c/resourcegroups/d4s-v2lgk0vz/providers/Microsoft.Storage/storageAccounts/d4sv2sa0/providers/Microsoft.Security/defenderForStorageSettings/current?api-version=2022-12-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com//subscriptions/f5f18ed8-74de-4917-9f69-d5f7e877104c/resourcegroups/d4s-v2lgk0vz/providers/Microsoft.Storage/storageAccounts/d4sv2sa0/providers/Microsoft.Security/defenderForStorageSettings/current?api-version=2022-12-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "7" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"isEnabled\":false,\"malwareScanning\":{\"onUpload\":{\"isEnabled\":false,\"capGBPerMonth\":-1}},\"sensitiveDataDiscovery\":{\"isEnabled\":false},\"overrideSubscriptionLevelSettings\":false},\"id\":\"/subscriptions/f5f18ed8-74de-4917-9f69-d5f7e877104c/resourceGroups/d4s-v2lgk0vz/providers/Microsoft.Storage/storageAccounts/d4sv2sa0/providers/Microsoft.Security/defenderForStorageSettings/current\",\"type\":\"Microsoft.Security/defenderForStorageSettings\",\"name\":\"current\"}",
    }
  },
  "Update-AzSecurityDefenderForStorage+[NoContext]+UpdateExpandedEnableATP+$PUT+https://management.azure.com//subscriptions/f5f18ed8-74de-4917-9f69-d5f7e877104c/resourcegroups/d4s-v2lgk0vz/providers/Microsoft.Storage/storageAccounts/d4sv2sa0/providers/Microsoft.Security/defenderForStorageSettings/current?api-version=2022-12-01-preview+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com//subscriptions/f5f18ed8-74de-4917-9f69-d5[...]
