{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.Resources?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.Resources\",\n  \"namespace\": \"Microsoft.Resources\",\n  \"authorizations\": [\n    {\n      \"applicationId\": \"f77c2a8f-8a0a-4776-8e0a-bcb2549610ca\"\n    },\n    {\n      \"applicationId\": \"3b990c8b-9607-4c2a-8b04-1d41985facca\"\n    }\n  ],\n  \"resourceTypes\": [\n    {\n      \"resourceType\": \"changes\",\n      \"locations\": [],\n      \"apiVersions\": [\n        \"2024-06-01-preview\",\n        \"2023-07-01-preview\",\n        \"2023-03-01-preview\",\n        \"2022-05-01\",\n        \"2022-03-01-preview\"\n      ],\n      \"capabilities\": \"SupportsExtension\"\n    },\n    {\n      \"resourceType\": \"snapshots\",\n      \"locations\": [],\n      \"apiVersions\": [\n        \"2022-11-01-preview\"\n      ],\n      \"capabilities\": \"SupportsExtension\"\n    },\n    {\n      \"resourceType\": \"moboBrokers\",\n      \"locations\": [\n        \"Australia Central\",\n        \"Australia East\",\n        \"Australia Southeast\",\n        \"Brazil South\",\n        \"Canada Central\",\n        \"Canada East\",\n        \"Central Indi[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.KeyVault?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.KeyVault\",\n  \"namespace\": \"Microsoft.KeyVault\",\n  \"authorizations\": [\n    {\n      \"applicationId\": \"cfa8b339-82a2-471a-a3c9-0fc0be7a4093\",\n      \"roleDefinitionId\": \"1cf9858a-28a2-4228-abba-94e606305b95\"\n    },\n    {\n      \"applicationId\": \"589d5083-6f11-4d30-a62a-a4b316a14abf\",\n      \"roleDefinitionId\": \"1f7e9952-ea79-42b8-a90e-b2dabbe1c1f2\"\n    },\n    {\n      \"applicationId\": \"a1b76039-a76c-499f-a2dd-846b4cc32627\"\n    },\n    {\n      \"applicationId\": \"1341df96-0b28-43da-ba24-7a6ce39be816\"\n    }\n  ],\n  \"resourceTypes\": [\n    {\n      \"resourceType\": \"vaults\",\n      \"locations\": [\n        \"North Central US\",\n    [...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
     [...]
[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourcegroups/ps335?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\n  \"location\": \"West US\"\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335\",\n  \"name\": \"ps335\",\n  \"location\": \"westus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resources?$filter=resourceType%20eq%20'Microsoft.KeyVault%2Fvaults'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/auto-test-databricks/providers/Microsoft.KeyVault/vaults/veyvault-0923\",\n      \"name\": \"veyvault-0923\",\n      \"type\": \"Microsoft.KeyVault/vaults\",\n      \"location\": \"eastus\",\n      \"tags\": {}\n    },\n    {\n      \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/auto-test-databricks/providers/Microsoft.KeyVault/vaults/kv-test-0923\",\n      \"name\": \"kv-test-0923\",\n      \"type\": \"Microsoft.KeyVault/vaults\",\n      \"location\": \"eastus\",\n      \"tags\": {}\n    },\n    {\n      \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/auto-test-databricks-dc/providers/Microsoft.KeyVault/vaults/azpsnj7mob\",\n      \"name\": \"azpsnj7mob\",\n      \"type\": \"Microsoft.KeyVault/vaults\",\n      \"location\": \"eastus\",\n      \"tags\": {}\n    },\n    {\n      \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps9695/providers/Microsoft.KeyVault/vaults/ps5461\",\n      \"name\": \"ps5461\",\n      \"type\": \"Microsoft.KeyVault/vaults\",\n      \"location\": \"westus\",\n      \"tags\": {}\n    }\n  ]\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/v1.0/me",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ags-diagnostic": [
          "{\"ServerInfo\":{\"DataCenter\":\"Australia East\",\"Slice\":\"E\",\"Ring\":\"5\",\"ScaleUnit\":\"001\",\"RoleInstance\":\"SY1PEPF000089DC\"}}"
        ],
        "x-ms-resource-unit": [
          "1"
        ],
        "OData-Version": [
          "4.0"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"@odata.context\": \"https://graph.microsoft.com/v1.0/$metadata#users/$entity\",\n  \"businessPhones\": [],\n  \"displayName\": \"Yash Patil\",\n  \"givenName\": null,\n  \"jobTitle\": null,\n  \"mail\": \"patilyash@microsoft.com\",\n  \"mobilePhone\": null,\n  \"officeLocation\": null,\n  \"preferredLanguage\": null,\n  \"surname\": null,\n  \"userPrincipalName\": \"patilyash_microsoft.com#EXT#@azclitools.onmicrosoft.com\",\n  \"id\": \"e1b70801-ae8d-4cb2-9d6a-12adffdc6856\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.KeyVault/vaults/ps3903?api-version=2024-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\n  \"location\": \"West US\",\n  \"properties\": {\n    \"tenantId\": \"213e87ed-8e08-4eb4-a63c-c073058f7b00\",\n    \"sku\": {\n      \"name\": \"standard\",\n      \"family\": \"A\"\n    },\n    \"accessPolicies\": [\n      {\n        \"tenantId\": \"213e87ed-8e08-4eb4-a63c-c073058f7b00\",\n        \"objectId\": \"e1b70801-ae8d-4cb2-9d6a-12adffdc6856\",\n        \"permissions\": {\n          \"keys\": [\n            \"all\"\n          ],\n          \"secrets\": [\n            \"all\"\n          ],\n          \"certificates\": [\n            \"all\"\n          ],\n          \"storage\": [\n            \"all\"\n          ]\n        }\n      }\n    ],\n    \"vaultUri\": \"\",\n    \"softDeleteRetentionInDays\": 90,\n    \"enableRbacAuthorization\": true,\n    \"networkAcls\": {\n      \"bypass\": \"AzureServices\",\n      \"defaultAction\": \"Allow\"\n    }\n  }\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.KeyVault/vaults/ps3903\",\n  \"name\": \"ps3903\",\n  \"type\": \"Microsoft.KeyVault/vaults\",\n  \"location\": \"West US\",\n  \"tags\": {},\n  \"systemData\": {\n    \"createdBy\": \"patilyash@microsoft.com\",\n    \"createdByType\": \"User\",\n    \"createdAt\": \"2025-09-24T15:37:54.953Z\",\n    \"lastModifiedBy\": \"patilyash@microsoft.com\",\n    \"lastModifiedByType\": \"User\",\n    \"lastModifiedAt\": \"2025-09-24T15:37:54.953Z\"\n  },\n  \"properties\": {\n    \"sku\": {\n      \"family\": \"A\",\n      \"name\": \"standard\"\n    },\n    \"tenantId\": \"213e87ed-8e08-4eb4-a63c-c073058f7b00\",\n    \"accessPolicies\": [\n      {\n        \"tenantId\": \"213e87ed-8e08-4eb4-a63c-c073058f7b00\",\n        \"objectId\": \"e1b70801-ae8d-4cb2-9d6a-12adffdc6856\",\n        \"permissions\": {\n          \"keys\": [\n            \"all\"\n          ],\n          \"secrets\": [\n            \"all\"\n          ],\n          \"certificates\": [\n            \"all\"\n          ],\n          \"storage\": [\n            \"all\"\n          ]\n        }\n      }\n    ],\n    \"enabledForDeployment\": false,\n    \"enabledForDiskEncryption\": false,\n    \"enabledForTemplateDeployment\": false,\n    \"enableSoftDelete\": true,\n    \"softDeleteRetentionInDays\": 90,\n    \"enableRbacAuthorization\": true,\n    \"vaultUri\": \"https://ps3903.vault.azure.net\",\n    \"provisioningState\": \"RegisteringDns\",\n    \"publicNetworkAccess\": \"Enabled\"\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/v1.0/directoryObjects/e1b70801-ae8d-4cb2-9d6a-12adffdc6856",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ags-diagnostic": [
          "{\"ServerInfo\":{\"DataCenter\":\"Australia East\",\"Slice\":\"E\",\"Ring\":\"5\",\"ScaleUnit\":\"001\",\"RoleInstance\":\"SY1PEPF000089DC\"}}"
        ],
        "x-ms-resource-unit": [
          "1"
        ],
        "OData-Version": [
          "4.0"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"@odata.context\": \"https://graph.microsoft.com/v1.0/$metadata#directoryObjects/$entity\",\n  \"@odata.type\": \"#microsoft.graph.user\",\n  \"id\": \"e1b70801-ae8d-4cb2-9d6a-12adffdc6856\",\n  \"businessPhones\": [],\n  \"displayName\": \"Yash Patil\",\n  \"givenName\": null,\n  \"jobTitle\": null,\n  \"mail\": \"patilyash@microsoft.com\",\n  \"mobilePhone\": null,\n  \"officeLocation\": null,\n  \"preferredLanguage\": null,\n  \"surname\": null,\n  \"userPrincipalName\": \"patilyash_microsoft.com#EXT#@azclitools.onmicrosoft.com\"\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.KeyVault/vaults/ps3903/privateLinkResources?api-version=2018-02-14",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.KeyVault/vaults/ps3903/privateLinkResources/vault\",\n      \"name\": \"vault\",\n      \"type\": \"Microsoft.KeyVault/vaults/privateLinkResources\",\n      \"properties\": {\n        \"groupId\": \"vault\",\n        \"requiredMembers\": [\n          \"default\"\n        ],\n        \"requiredZoneNames\": [\n          \"privatelink.vaultcore.azure.net\"\n        ]\n      }\n    }\n  ]\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.Network/virtualNetworks/ps6703?api-version=2024-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"error\": {\n    \"code\": \"ResourceNotFound\",\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps6703' under resource group 'ps335' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\n  }\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.Network/virtualNetworks/ps6703?api-version=2024-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"967da747-1d8f-4d62-b0bc-530445f1cd89\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"ps6703\",\n  \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.Network/virtualNetworks/ps6703\",\n  \"etag\": \"W/\\\"967da747-1d8f-4d62-b0bc-530445f1cd89\\\"\",\n  \"type\": \"Microsoft.Network/virtualNetworks\",\n  \"location\": \"westus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"8bb86062-6c30-4fc9-a344-2530a39450a9\",\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"11.0.0.0/16\"\n      ]\n    },\n    \"privateEndpointVNetPolicies\": \"Disabled\",\n    \"subnets\": [\n      {\n        \"name\": \"ps966\",\n        \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.Network/virtualNetworks/ps6703/subnets/ps966\",\n        \"etag\": \"W/\\\"967da747-1d8f-4d62-b0bc-530445f1cd89\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Succeeded\",\n          \"addressPrefix\": \"11.0.1.0/24\",\n          \"serviceEndpoints\": [],\n          \"delegations\": [],\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\n        },\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\n      }\n    ],\n    \"virtualNetworkPeerings\": [],\n    \"enableDdosProtection\": false\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.Network/virtualNetworks/ps6703?api-version=2024-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\n  \"properties\": {\n    \"addressSpace\": {\n      \"addressPrefixes\": [\n        \"11.0.0.0/16\"\n      ],\n      \"ipamPoolPrefixAllocations\": []\n    },\n    \"subnets\": [\n      {\n        \"name\": \"ps966\",\n        \"properties\": {\n          \"addressPrefix\": \"11.0.1.0/24\",\n          \"addressPrefixes\": [],\n          \"serviceEndpoints\": [],\n          \"serviceEndpointPolicies\": [],\n          \"ipAllocations\": [],\n          \"delegations\": [],\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\n          \"applicationGatewayIPConfigurations\": [],\n          \"ipamPoolPrefixAllocations\": []\n        }\n      }\n    ],\n    \"virtualNetworkPeerings\": [],\n    \"enableDdosProtection\": false,\n    \"ipAllocations\": []\n  },\n  \"location\": \"West US\"\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.Network/locations/westus/operations/22702dad-7809-4902-82fe-28ef9eda1a20?api-version=2024-10-01&t=638943251113021476&c=MIIIrzCCBpegAwIBAgITUQB9VQ7j8TP8msVbVQABAH1VDjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUwNzE3MTAxMTQxWhcNMjYwMTEzMTAxMTQxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.Network/locations/westus/operations/22702dad-7809-4902-82fe-28ef9eda1a20?api-version=2024-10-01&t=638943251113021476&c=MIIIrzCCBpegAwIBAgITUQB9VQ7j8TP8msVbVQABAH1VDjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUwNzE3MTAxMTQxWhcNMjYwMTEzMTAxMTQxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dX[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.Network/privateEndpoints/ps2118?api-version=2024-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"error\": {\n    \"code\": \"ResourceNotFound\",\n    \"message\": \"The Resource 'Microsoft.Network/privateEndpoints/ps2118' under resource group 'ps335' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\n  }\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.Network/privateEndpoints/ps2118?api-version=2024-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"ed065a0d-cad6-4875-b15f-1fb9aa6d6c2b\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"name\": \"ps2118\",\n  \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.Network/privateEndpoints/ps2118\",\n  \"etag\": \"W/\\\"ed065a0d-cad6-4875-b15f-1fb9aa6d6c2b\\\"\",\n  \"type\": \"Microsoft.Network/privateEndpoints\",\n  \"location\": \"westus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"resourceGuid\": \"46c957f3-d366-46b9-9e0a-eb31bad9045d\",\n    \"privateLinkServiceConnections\": [],\n    \"manualPrivateLinkServiceConnections\": [\n      {\n        \"name\": \"ps5774\",\n        \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.Network/privateEndpoints/ps2118/manualPrivateLinkServiceConnections/ps5774\",\n        \"etag\": \"W/\\\"ed065a0d-cad6-4875-b15f-1fb9aa6d6c2b\\\"\",\n        \"properties\": {\n          \"provisioningState\": \"Succeeded\",\n          \"privateLinkServiceId\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.KeyVault/vaults/ps3903\",\n          \"groupIds\": [\n            \"vault\"\n          ],\n          \"privateLinkServiceConnectionState\": {\n            \"status\": \"Pending\",\n            \"description\": \"\",\n            \"actionsRequired\": \"None\"\n          }\n        },\n        \"type\": \"Microsoft.Network/privateEndpoints/manualPrivateLinkServiceConnections\"\n      }\n    ],\n    \"customNetworkInterfaceName\": \"\",\n    \"subnet\": {\n      \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.Network/virtualNetworks/ps6703/subnets/ps966\"\n    },\n    \"ipConfigurations\": [],\n    \"networkInterfaces\": [\n      {\n        \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.Network/networkInterfaces/ps2118.nic.dd935157-f40a-4e53-86ea-f7cf097115e1\"\n      }\n    ],\n    \"customDnsConfigs\": [\n      {\n        \"fqdn\": \"ps3903.vault.azure.net\",\n        \"ipAddresses\": [\n          \"11.0.1.4\"\n        ]\n      }\n    ],\n    \"ipVersionType\": \"IPv4\"\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.Network/privateEndpoints/ps2118?api-version=2024-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\n  \"properties\": {\n    \"subnet\": {\n      \"name\": \"ps966\",\n      \"properties\": {\n        \"addressPrefix\": \"11.0.1.0/24\",\n        \"addressPrefixes\": [],\n        \"serviceEndpoints\": [],\n        \"serviceEndpointPolicies\": [],\n        \"ipAllocations\": [],\n        \"delegations\": [],\n        \"privateEndpointNetworkPolicies\": \"Disabled\",\n        \"privateLinkServiceNetworkPolicies\": \"Enabled\",\n        \"applicationGatewayIPConfigurations\": [],\n        \"ipamPoolPrefixAllocations\": []\n      },\n      \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.Network/virtualNetworks/ps6703/subnets/ps966\"\n    },\n    \"privateLinkServiceConnections\": [],\n    \"manualPrivateLinkServiceConnections\": [\n      {\n        \"name\": \"ps5774\",\n        \"properties\": {\n          \"privateLinkServiceId\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.KeyVault/vaults/ps3903\",\n          \"groupIds\": [\n            \"vault\"\n          ]\n        }\n      }\n    ],\n    \"customDnsConfigs\": [],\n    \"applicationSecurityGroups\": [],\n    \"ipConfigurations\": []\n  },\n  \"location\": \"West US\"\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.Network/locations/westus/operations/b348b925-7994-4427-b2ef-6b8ea681f34f?api-version=2024-10-01&t=638943251173872211&c=MIIIrzCCBpegAwIBAgITUQB9VQ7j8TP8msVbVQABAH1VDjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZP[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.Network/locations/westus/operations/b348b925-7994-4427-b2ef-6b8ea681f34f?api-version=2024-10-01&t=638943251173872211&c=MIIIrzCCBpegAwIBAgITUQB9VQ7j8TP8msVbVQABAH1VDjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUwNzE3MTAxMTQxWhcNMjYwMTEzMTAxMTQxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dX[...]
[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.KeyVault/vaults/ps3903?api-version=2018-02-14",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.KeyVault/vaults/ps3903\",\n  \"name\": \"ps3903\",\n  \"type\": \"Microsoft.KeyVault/vaults\",\n  \"location\": \"West US\",\n  \"tags\": {},\n  \"properties\": {\n    \"sku\": {\n      \"family\": \"A\",\n      \"name\": \"standard\"\n    },\n    \"tenantId\": \"213e87ed-8e08-4eb4-a63c-c073058f7b00\",\n    \"privateEndpointConnections\": [\n      {\n        \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.KeyVault/vaults/ps3903/privateEndpointConnections/ps5774\",\n        \"properties\": {\n          \"provisioningState\": \"Succeeded\",\n          \"privateEndpoint\": {\n            \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.Network/privateEndpoints/ps2118\"\n          },\n          \"privateLinkServiceConnectionState\": {\n            \"status\": \"Pending\",\n            \"actionsRequired\": \"None\"\n          }\n        }\n      }\n    ],\n    \"accessPolicies\": [\n      {\n        \"tenantId\": \"213e87ed-8e08-4eb4-a63c-c073058f7b00\",\n        \"objectId\": \"e1b70801-ae8d-4cb2-9d6a-12adffdc6856\",\n        \"permissions\": {\n          \"keys\": [\n            \"all\"\n          ],\n          \"secrets\": [\n            \"all\"\n          ],\n          \"certificates\": [\n            \"all\"\n          ],\n          \"storage\": [\n            \"all\"\n          ]\n        }\n      }\n    ],\n    \"enabledForDeployment\": false,\n    \"enabledForDiskEncryption\": false,\n    \"enabledForTemplateDeployment\": false,\n    \"enableSoftDelete\": true,\n    \"softDeleteRetentionInDays\": 90,\n    \"enableRbacAuthorization\": true,\n    \"vaultUri\": \"https://ps3903.vault.azure.net/\",\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.KeyVault/vaults/ps3903/privateEndpointConnections/ps5774?api-version=2018-02-14",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.KeyVault/vaults/ps3903/privateEndpointConnections/ps5774\",\n  \"name\": \"ps5774\",\n  \"type\": \"Microsoft.KeyVault/vaults/privateEndpointConnections\",\n  \"location\": \"West US\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"privateEndpoint\": {\n      \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ps335/providers/Microsoft.Network/privateEndpoints/ps2118\"\n    },\n    \"privateLinkServiceConnectionState\": {\n      \"status\": \"Pending\",\n      \"actionsRequired\": \"None\"\n    }\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourcegroups/ps335?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzMzNS1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2016-09-01&t=638943251693050130&c=MIIHhzCCBm-gAwIBAgITfAiEqRZrgLhPwkUvfgAACISpFjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNzE5MTUxNTU3WhcNMjYwMTE1MTUxNTU3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbm[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzMzNS1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2016-09-01&t=638943251693050130&c=MIIHhzCCBm-gAwIBAgITfAiEqRZrgLhPwkUvfgAACISpFjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNzE5MTUxNTU3WhcNMjYwMTE1MTUxNTU3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0Z[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzMzNS1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2016-09-01&t=638943251852588959&c=MIIIpTCCBo2gAwIBAgITFgGu93GY3gI-EV_djgABAa73cTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzIwMjAyMzE0WhcNMjYwMTE2MjAyMzE0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0Z[...]
    {
[...]
