{
  "Entries": [
    {
      "RequestUri": "/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/WiPowershellTestRg/providers/Microsoft.Sql/servers/wipowershelltestserver/elasticPools/WiPowershellTestEp/advisors/CreateIndex/recommendedActions?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"kind\": \"\",\r\n    \"properties\": {\r\n      \"recommendationReason\": \"\",\r\n      \"validSince\": \"2022-03-10T13:10:21Z\",\r\n      \"lastRefresh\": \"2022-03-10T13:10:21Z\",\r\n      \"state\": {\r\n        \"currentValue\": \"Ignored\",\r\n        \"lastModified\": \"2022-03-10T13:10:21Z\"\r\n      },\r\n      \"isExecutableAction\": true,\r\n      \"isRevertableAction\": true,\r\n      \"isArchivedAction\": false,\r\n      \"score\": 3,\r\n      \"implementationDetails\": {\r\n        \"method\": \"TSql\",\r\n        \"script\": \"CREATE NONCLUSTERED INDEX [nci_wi_CreateIndex_auto_test_table_3_885B72B3C86C4406D3D8D6C35BA87FD5] ON [test_schema].[CreateIndex_auto_test_table_3] ([index_1],[index_2],[index_3]) INCLUDE ([included_1],[included_2]) WITH (ONLINE = ON)\"\r\n      },\r\n      \"errorDetails\": {},\r\n      \"estimatedImpact\": [],\r\n      \"observedImpact\": [],\r\n      \"timeSeries\": [],\r\n      \"details\": {\r\n        \"indexName\": \"nci_wi_CreateIndex_auto_test_table_3_885B72B3C86C4406D3D8D6C35BA87FD5\",\r\n        \"indexType\": \"NONCLUSTERED\",\r\n        \"schema\": \"[test_schema]\",\r\n        \"table\": \"[CreateIndex_auto_test_table_3]\",\r\n        \"indexColumns\": \"[index_1],[index_2],[index_3]\",\r\n        \"includedColumns\": \"[included_1],[included_2]\",\r\n        \"databaseName\": \"WiPowershellTestDb\"\r\n      }\r\n    },\r\n    \"id\": \"/subscriptions/741fd0f5-9cb8-442c-91c3-3ef4ca231c2a/resourceGroups/WiPowershellTestRg/providers/Microsoft.Sql/servers/wipowershelltestserver/elasticPools/WiPowershellTestEp/advisors/CreateIndex/recommendedActions/IR_[test_schema]_[CreateIndex_auto_test_table_3]_6C7AE8CC9C87E7FD5893\",\r\n    \"name\": \"IR_[test_schema]_[CreateIndex_auto_test_table_3]_6C7AE8CC9C87E7FD5893\",\r\n    \"type\": \"Microsoft.Sql/servers/elasticPools/advisors/recommendedActions\"\r\n  },\r\n  {\r\n    \"kind\": \"\",\r\n    \"properties\": {\r\n      \"recommendationReason\": \"\",\r\n      \"validSince\": \"2022-03-10T13:10:21Z\",\r\n      \"lastRefresh\": \"2022-03-10T13:10:21Z\",\r\n      \"state\": {\r\n        \"currentValue\": \"Active\",\r\n        \"lastModified\": \"2022-03-10T15:15:08Z\"\r\n      },\r\n      \"isExecutableAction\": true,\r\n      \"isRevertableAction\": true,\r\n      \"isArchivedAction\": false,\r\n      \"score\": 1,\r\n      \"implementationDetails\": {\r\n        \"method\": \"TSql\",\r\n        \"script\": \"CREATE NONCLUSTERED INDEX [nci_wi_CreateIndex_auto_test_table_1_885B72B3C86C4406D3D8D6C35BA87FD5] ON [test_schema].[CreateIndex_auto_test_table_1] ([index_1],[index_2],[index_3]) INCLUDE ([included_1],[included_2]) WITH (ONLINE = ON)\"\r\n      },\r\n      \"errorDetails\": {},\r\n      \"estimatedImpact\": [\r\n        {\r\n          \"dimensionName\": \"ActionDuration\",\r\n          \"unit\": \"Seconds\",\r\n          \"absoluteValue\": 60.0\r\n        },\r\n        {\r\n          \"dimensionName\": \"SpaceChange\",\r\n          \"unit\": \"Megabytes\",\r\n          \"absoluteValue\": 0.09765625\r\n        }\r\n      ],\r\n      \"observedImpact\": [],\r\n      \"timeSeries\": [],\r\n      \"details\": {\r\n        \"indexName\": \"nci_wi_CreateIndex_auto_test_table_1_885B72B3C86C4406D3D8D6C35BA87FD5\",\r\n        \"indexType\": \"NONCLUSTERED\",\r\n        \"schema\": \"[test_schema]\",\r\n        \"table\": \"[CreateIndex_au[...]
