{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e3a1f070-4fbe-428f-90cb-50dadce68bfb/providers/Microsoft.Authorization/resourceManagementPrivateLinks?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"privateEndpointConnections\": []\r\n      },\r\n      \"id\": \"/subscriptions/e3a1f070-4fbe-428f-90cb-50dadce68bfb/resourceGroups/PrivateLinkTestRG/providers/Microsoft.Authorization/resourceManagementPrivateLinks/NewPL\",\r\n      \"name\": \"NewPL\",\r\n      \"type\": \"Microsoft.Authorization/resourceManagementPrivateLinks\",\r\n      \"location\": \"centralus\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"privateEndpointConnections\": []\r\n      },\r\n      \"id\": \"/subscriptions/e3a1f070-4fbe-428f-90cb-50dadce68bfb/resourceGroups/PrivateLinkTestRG/providers/Microsoft.Authorization/resourceManagementPrivateLinks/NewPL2\",\r\n      \"name\": \"NewPL2\",\r\n      \"type\": \"Microsoft.Authorization/resourceManagementPrivateLinks\",\r\n      \"location\": \"centralus\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
