{
  "Entries": [
    {
      "RequestUri": "//providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Blueprint/blueprintAssignments?api-version=2018-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"identity\": {\r\n        \"type\": \"systemAssigned\",\r\n        \"principalId\": \"468ec5fd-0114-479b-a1cb-d0fe35126ed2\",\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n      },\r\n      \"location\": \"westus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"succeeded\",\r\n        \"blueprintId\": \"/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Blueprint/blueprints/shenglol-ps-test-bp/versions/1.0\",\r\n        \"parameters\": {},\r\n        \"resourceGroups\": {\r\n          \"ProdRG\": {\r\n            \"name\": \"shenglol-ps-test-01\",\r\n            \"location\": \"westus\"\r\n          }\r\n        },\r\n        \"status\": {\r\n          \"managedResources\": [],\r\n          \"timeCreated\": \"2020-04-14T14:03:45-07:00\",\r\n          \"lastModified\": \"2020-04-14T14:03:45.2845977-07:00\"\r\n        },\r\n        \"scope\": \"/subscriptions/a1bfa635-f2bf-42f1-86b5-848c674fc321\",\r\n        \"locks\": {\r\n          \"mode\": \"none\"\r\n        }\r\n      },\r\n      \"id\": \"/providers/Microsoft.Management/managementGroups/AzBlueprintAssignTest/providers/Microsoft.Blueprint/blueprintAssignments/shenglol-ps-test-permanent-assignment\",\r\n      \"type\": \"Microsoft.Blueprint/blueprintAssignments\",\r\n      \"name\": \"shenglol-ps-test-permanent-assignment\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "a1bfa635-f2bf-42f1-86b5-848c674fc321"
  }
}