{
  "Entries": [
    {
      "RequestUri": "/a0d901ba-9956-4f7d-830c-2d7974c36666/resourceproviders/scheduler/Properties?resourceType=JobCollections",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<ResourceProviderProperties xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ResourceProviderProperty>\r\n    <Key>SupportedGeoRegions</Key>\r\n    <Value>South Central US,North Central US,North Europe,West Europe,East Asia,Southeast Asia,West US,East US,Japan West,Japan East,Brazil South,East US 2,Central US,Australia East,Australia Southeast,South India,Central India,West India</Value>\r\n  </ResourceProviderProperty>\r\n  <ResourceProviderProperty>\r\n    <Key>Plans</Key>\r\n    <Value>Free, Standard, Premium</Value>\r\n  </ResourceProviderProperty>\r\n  <ResourceProviderProperty>\r\n    <Key>PlanDetail:Free:Quota:MaxJobCount</Key>\r\n    <Valu[...]
