{
  "New-AzDnsDnssecConfig+[NoContext]+Create+$PUT+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/dnssecrg/providers/Microsoft.Network/dnsZones/dnstestpowershellsdk2.com/dnssecConfigs/default?api-version=2023-07-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/dnssecrg/providers/Microsoft.Network/dnsZones/dnstestpowershellsdk2.com/dnssecConfigs/default?api-version=2023-07-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "5" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "806af903-a9ea-4943-8082-d019a06a1de3" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "799" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"\\/subscriptions\\/0e745469-49f8-48c9-873b-24ca87143db1\\/resourceGroups\\/dnssecrg\\/providers\\/Microsoft.Network\\/dnszones\\/dnstestpowershellsdk2.com\\/dnssecConfigs\\/default\",\"name\":\"default\",\"type\":\"Microsoft.Network\\/dnszones\\/dnssecConfigs\",\"etag\":\"806af903-a9ea-4943-8082-d019a06a1de3\",\"properties\":{\"provisioningState\":\"Creating\",\"signingKeys\":[]}}",
    }
  },
  "New-AzDnsDnssecConfig+[NoContext]+Create+$GET+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/dnssecrg/providers/Microsoft.Network/dnsZones/dnstestpowershellsdk2.com/dnssecConfigs/default?api-version=2023-07-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/dnssecrg/providers/Microsoft.Network/dnsZones/dnstestpowershellsdk2.com/dnssecConfigs/default?api-version=2023-07-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "6" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "c3a2cebf-7f09-49e0-b9f2-24a670726a3a" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "1099" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"\\/subscriptions\\/0e745469-49f8-48c9-873b-24ca87143db1\\/resourceGroups\\/dnssecrg\\/providers\\/Microsoft.Network\\/dnszones\\/dnstestpowershellsdk2.com\\/dnssecConfigs\\/default\",\"name\":\"default\",\"type\":\"Microsoft.Network\\/dnszones\\/dnssecConfigs\",\"etag\":\"c3a2cebf-7f09-49e0-b9f2-24a670726a3a\",\"properties\":{\"provisioningState\":\"Succeeded\",\"signingKeys\":[{\"delegationSignerInfo\":[],\"flags\":256,\"keyTag\":55812,\"protocol\":3,\"publicKey\":\"DJF5z\\/O0vSY62MRDfaK6aIiRyqZYbJlTHi+kt3WjrpGVYRdj1Xcc0iuyzJmRdvoJclmPv34BuhDc3FD3yBXojw==\",\"securityAlgorithmType\":13},{\"delegationSignerInfo\":[{\"digestAlgorithmType\":2,\"digestValue\":\"AFDC6A2F62CC88D7B360DFD4576E6CACF606FA9AD74C489E50407D13B6A62749\",\"record\":\"59825 13 2 AFDC6A2F62CC88D7B360DFD4576E6CACF606FA9AD74C489E50407D13B6A62749\"}],\"flags\":257,\"keyTag\":59825,\"protocol\":3,\"publicKey\":\"XplCt4KCYFPIDB94nTq13E+Skym1\\/AAzfSE9kqaVM9RJ5TihaqSBHM6nbsFFLpE1Eqxde3VXbjGE21rM0fRxdg==\",\"securityAlgorithmType\":13}]}}",
    }
  },
  "New-AzDnsDnssecConfig+[NoContext]+Create+$GET+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/dnssecrg/providers/Microsoft.Network/dnsZones/dnstestpowershellsdk2.com/d[...]
