{
  "New-AzDnsDnssecConfig+[NoContext]+Create+$PUT+https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnssecrg/providers/Microsoft.Network/dnsZones/dnstestpowershellsdk2.com/dnssecConfigs/default?api-version=2023-07-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnssecrg/providers/Microsoft.Network/dnsZones/dnstestpowershellsdk2.com/dnssecConfigs/default?api-version=2023-07-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "5" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "6a351f75-c1c5-48e6-bdf9-23aca51283db" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"\\/subscriptions\\/a984ce58-225e-44d2-bc79-20a834ce85ae\\/resourceGroups\\/dnssecrg\\/providers\\/Microsoft.Network\\/dnszones\\/dnstestpowershellsdk2.com\\/dnssecConfigs\\/default\",\"name\":\"default\",\"type\":\"Microsoft.Network\\/dnszones\\/dnssecConfigs\",\"etag\":\"6a351f75-c1c5-48e6-bdf9-23aca51283db\",\"properties\":{\"provisioningState\":\"Creating\",\"signingKeys\":[]}}",
    }
  },
  "New-AzDnsDnssecConfig+[NoContext]+Create+$GET+https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnssecrg/providers/Microsoft.Network/dnsZones/dnstestpowershellsdk2.com/dnssecConfigs/default?api-version=2023-07-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnssecrg/providers/Microsoft.Network/dnsZones/dnstestpowershellsdk2.com/dnssecConfigs/default?api-version=2023-07-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "6" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "8a3914c6-5afb-45fa-9209-a01f31a66eb9" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "496" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"\\/subscriptions\\/a984ce58-225e-44d2-bc79-20a834ce85ae\\/resourceGroups\\/dnssecrg\\/providers\\/Microsoft.Network\\/dnszones\\/dnstestpowershellsdk2.com\\/dnssecConfigs\\/default\",\"name\":\"default\",\"type\":\"Microsoft.Network\\/dnszones\\/dnssecConfigs\",\"etag\":\"8a3914c6-5afb-45fa-9209-a01f31a66eb9\",\"properties\":{\"provisioningState\":\"Succeeded\",\"signingKeys\":[{\"delegationSignerInfo\":[],\"flags\":256,\"keyTag\":10017,\"protocol\":3,\"publicKey\":\"aTbFcjS9dPM80PVr2XaHWU4MjiwBwE8Qq08LMphDoc9OHLxc\\/IhVIyEfmWUeurxNHSmKHNfk7HvwT6r8N0dqIw==\",\"securityAlgorithmType\":13},{\"delegationSignerInfo\":[{\"digestAlgorithmType\":2,\"digestValue\":\"9979567EC6AADF6B6D7E981838D260F33D76283E751ABE93458C836FF820A5D7\",\"record\":\"37012 13 2 9979567EC6AADF6B6D7E981838D260F33D76283E751ABE93458C836FF820A5D7\"}],\"flags\":257,\"keyTag\":37012,\"protocol\":3,\"publicKey\":\"BrsRImumJjaxBqWZ+qZlNAS6Yk+eC58qbgW4ZmADb856jbSdBUwBFSzP5EiMGZYvANON6BKmqIJDyk0HN38WsQ==\",\"securityAlgorithmType\":13}]}}",
    }
  },
  "New-AzDnsDnssecConfig+[NoContext]+Create+$GET+https://management.azure.com/subscriptions/a984ce58-225e-44d2-bc79-20a834ce85ae/resourceGroups/dnssecrg/providers/Microsoft.Network/dnsZones/dnstestpowershellsdk2.com/dns[...]
