{
  "Get-AzMigrateProject+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/31be0ff4-c932-4cb3-8efc-efa411d79280/resourceGroups/BugBashAVSVMware/providers/Microsoft.Migrate/migrateProjects/BugBashAVSVMware?api-version=2018-09-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/31be0ff4-c932-4cb3-8efc-efa411d79280/resourceGroups/BugBashAVSVMware/providers/Microsoft.Migrate/migrateProjects/BugBashAVSVMware?api-version=2018-09-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "7" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"6c01f085-0000-1800-0000-5f6c994b0000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11991" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/31be0ff4-c932-4cb3-8efc-efa411d79280/resourceGroups/BugBashAVSVMware/providers/Microsoft.Migrate/MigrateProjects/BugBashAVSVMware\",\"name\":\"BugBashAVSVMware\",\"type\":\"Microsoft.Migrate/MigrateProjects\",\"etag\":\"\\\"6c01f085-0000-1800-0000-5f6c994b0000\\\"\",\"location\":\"southeastasia\",\"tags\":{\"Migrate Project\":\"BugBashAVSVMware\"},\"properties\":{\"registeredTools\":[\"ServerAssessment\",\"ServerDiscovery\",\"ServerMigration\",\"Zerto\",\"Cloudamize\"],\"identity\":null,\"serviceEndpoint\":\"https://can01-amh1.sea.hypervrecoverymanager.windowsazure.com/resources/090e6ef1-552d-4ec8-8f69-9fcdae639f4c\",\"summary\":{\"servers\":{\"instanceType\":\"Servers\",\"discoveredCount\":423,\"assessedCount\":409,\"replicatingCount\":0,\"testMigratedCount\":0,\"migratedCount\":0,\"refreshSummaryState\":\"Completed\",\"lastSummaryRefreshedTime\":\"2020-09-15T07:32:34.8868704Z\",\"extendedSummary\":{\"microsoftDiscoveredCount\":\"423\",\"microsoftMachinesCount\":\"423\"}},\"databases\":{\"instanceType\":\"Databases\",\"refreshSummaryState\":\"Completed\",\"lastSummaryRefreshedTime\":\"2020-06-17T01:33:25.3302595Z\",\"extendedSummary\":{}},\"webApplications\":{\"instanceType\":\"WebApplications\",\"refreshSummaryState\":\"Completed\",\"lastSummaryRefreshedTime\":\"2020-09-25T19:12:23.8347616Z\",\"extendedSummary\":{}},\"desktopVirtualization\":{\"instanceType\":\"DesktopVirtualization\",\"refreshSummaryState\":\"Completed\",\"lastSummaryRefreshedTime\":\"2020-06-17T01:33:25.3302595Z\",\"extendedSummary\":{}}},\"lastSummaryRefreshedTime\":\"2020-09-15T07:32:34.8868704Z\",\"refreshSummaryState\":\"Completed\",\"provisioningState\":\"Succeeded\"}}"
    }
  }
}