{
    "Entries": [
        {
            "RequestUri": "/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourcegroups/Default-Web-EastUS/providers/Microsoft.Storage.Admin/farms/03768357-B4F2-4C3C-AA75-574209B03D49/nodes/woss-node-1/online?api-version=2015-12-01-preview",
            "RequestMethod": "POST",
            "RequestBody": "",
            "RequestHeaders": {
            },
            "ResponseBody": "",
            "ResponseHeaders": {
                "Retry-After": [
                    "5"
                ],
                "x-ms-ratelimit-remaining-subscription-writes": [
                    "1190"
                ],
                "Location": [
                    "https://management.azure.com/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourcegroups/Default-Web-EastUS/providers/Microsoft.Storage.Admin/farms/03768357-B4F2-4C3C-AA75-574209B03D49/nodes/woss-node-1/operationresults/491b11bf-fffc-4990-81c2-e6693627d5e2?api-version=2015-12-01-preview"
                ]
            },
            "StatusCode": 202
        },
        {
            "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourcegroups/Default-Web-EastUS/providers/Microsoft.Storage.Admin/farms/03768357-B4F2-4C3C-AA75-574209B03D49/nodes/woss-node-1/operationresults/491b11bf-fffc-4990-81c2-e6693627d5e2?api-version=2015-12-01-preview",            
            "RequestMethod": "GET",
            "RequestBody": "",
            "RequestHeaders": {
                "x-ms-version": [
                    "2015-12-01-preview"
                ]
            },
            "ResponseBody": "",
            "ResponseHeaders": {
                "Retry-After": [
                    "15"
                ],
                "x-ms-ratelimit-remaining-subscription-reads": [
                    "31991"
                ],
                "Location": [
                    "https://management.azure.com/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourcegroups/Default-Web-EastUS/providers/Microsoft.Storage.Admin/farms/03768357-B4F2-4C3C-AA75-574209B03D49/nodes/woss-node-1/operationresults/491b11bf-fffc-4990-81c2-e6693627d5e2?api-version=2015-12-01-preview"
                ]
            },
            "StatusCode": 202
        },
[...]
        {
            "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourcegroups/Default-Web-EastUS/providers/Microsoft.Storage.Admin/farms/03768357-B4F2-4C3C-AA75-574209B03D49/nodes/woss-node-1/operationresults/491b11bf-fffc-4990-81c2-e6693627d5e2?api-version=2015-12-01-preview",            
            "RequestMethod": "GET",
            "RequestBody": "",
            "RequestHeaders": {
                "x-ms-version": [
                    "2015-12-01-preview"
                ]
            },
            "ResponseBody": "",
            "ResponseHeaders": {
                "x-ms-ratelimit-remaining-subscription-reads": [
                    "31988"
                ]
            },
            "StatusCode": 200
        }
    ],
  "Names": {
    "Test-DisableNode": [
      ""
    ]
  },
  "Variables": {
    "SubscriptionId": "a93fb07c-6c93-40be-bf3b-4f0deba10f4b"
  }
}