{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionBackups?onlyLatestPerDatabase=false&api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"serverName\": \"trgrie-ltr-server\",\r\n        \"serverCreateTime\": \"2018-02-12T22:29:54.033Z\",\r\n        \"databaseName\": \"testdb2\",\r\n        \"backupTime\": \"2018-03-18T19:01:42Z\",\r\n        \"backupExpirationTime\": \"2020-03-17T19:01:42Z\"\r\n      },\r\n      \"id\": \"/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/trgrie-ltr-server/longTermRetentionDatabases/testdb2/longTermRetentionBackups/ef2e5a7b-54f5-4735-83ed-da4ea5a316f9;131658733020000000\",\r\n      \"name\": \"ef2e5a7b-54f5-4735-83ed-da4ea5a316f9;131658733020000000\",\r\n      \"type\": \"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14994"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/trgrie-ltr-server/longTermRetentionBackups?onlyLatestPerDatabase=false&api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"serverName\": \"trgrie-ltr-server\",\r\n        \"serverCreateTime\": \"2018-02-12T22:29:54.033Z\",\r\n        \"databaseName\": \"testdb2\",\r\n        \"backupTime\": \"2018-03-18T19:01:42Z\",\r\n        \"backupExpirationTime\": \"2020-03-17T19:01:42Z\"\r\n      },\r\n      \"id\": \"/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/trgrie-ltr-server/longTermRetentionDatabases/testdb2/longTermRetentionBackups/ef2e5a7b-54f5-4735-83ed-da4ea5a316f9;131658733020000000\",\r\n      \"name\": \"ef2e5a7b-54f5-4735-83ed-da4ea5a316f9;131658733020000000\",\r\n      \"type\": \"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/trgrie-ltr-server/longTermRetentionDatabases/testdb2/longTermRetentionBackups?onlyLatestPerDatabase=false&api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"serverName\": \"trgrie-ltr-server\",\r\n        \"serverCreateTime\": \"2018-02-12T22:29:54.033Z\",\r\n        \"databaseName\": \"testdb2\",\r\n        \"backupTime\": \"2018-03-18T19:01:42Z\",\r\n        \"backupExpirationTime\": \"2020-03-17T19:01:42Z\"\r\n      },\r\n      \"id\": \"/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/trgrie-ltr-server/longTermRetentionDatabases/testdb2/longTermRetentionBackups/ef2e5a7b-54f5-4735-83ed-da4ea5a316f9;131658733020000000\",\r\n      \"name\": \"ef2e5a7b-54f5-4735-83ed-da4ea5a316f9;131658733020000000\",\r\n      \"type\": \"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/trgrie-ltr-server/longTermRetentionDatabases/testdb2/longTermRetentionBackups/ef2e5a7b-54f5-4735-83ed-da4ea5a316f9%3B131658733020000000?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"serverName\": \"trgrie-ltr-server\",\r\n    \"serverCreateTime\": \"2018-02-12T22:29:54.033Z\",\r\n    \"databaseName\": \"testdb2\",\r\n    \"backupTime\": \"2018-03-18T19:01:42Z\",\r\n    \"backupExpirationTime\": \"2020-03-17T19:01:42Z\"\r\n  },\r\n  \"id\": \"/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/trgrie-ltr-server/longTermRetentionDatabases/testdb2/longTermRetentionBackups/ef2e5a7b-54f5-4735-83ed-da4ea5a316f9;131658733020000000\",\r\n  \"name\": \"ef2e5a7b-54f5-4735-83ed-da4ea5a316f9;131658733020000000\",\r\n  \"type\": \"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/resourceGroups/Default-SQL-WestCentralUS/providers/Microsoft.Sql/servers/trgrie-ltr-server/databases/testdb2?api-version=2014-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/resourceGroups/Default-SQL-WestCentralUS/providers/Microsoft.Sql/servers/trgrie-ltr-server/databases/testdb2\",\r\n  \"name\": \"testdb2\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\",\r\n  \"location\": \"West Central US\",\r\n  \"kind\": \"v12.0,user\",\r\n  \"managedBy\": null,\r\n  \"properties\": {\r\n    \"databaseId\": \"ef2e5a7b-54f5-4735-83ed-da4ea5a316f9\",\r\n    \"edition\": \"Basic\",\r\n    \"status\": \"Online\",\r\n    \"serviceLevelObjective\": \"Basic\",\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": \"104857600\",\r\n    \"creationDate\": \"2018-03-18T18:55:27.493Z\",\r\n    \"currentServiceObjectiveId\": \"dd6d99bb-f193-4ec1-86f2-43d3bccbc49c\",\r\n    \"requestedServiceObjectiveId\": \"dd6d99bb-f193-4ec1-86f2-43d3bccbc49c\",\r\n    \"requestedServiceObjectiveName\": \"Basic\",\r\n    \"sampleName\": null,\r\n    \"defaultSecondaryLocation\": \"West US 2\",\r\n    \"earliestRestoreDate\": \"2018-03-18T19:26:12.717Z\",\r\n    \"elasticPoolName\": null,\r\n    \"containmentState\": 2,\r\n    \"readScale\": \"Disabled\",\r\n    \"failoverGroupId\": null,\r\n    \"zoneRedundant\": false,\r\n    \"isUpgradeRequested\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14990"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/West%20Central%20US/longTermRetentionServers/trgrie-ltr-server/longTermRetentionDatabases/testdb2/longTermRetentionBackups?onlyLatestPerDatabase=false&api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"serverName\": \"trgrie-ltr-server\",\r\n        \"serverCreateTime\": \"2018-02-12T22:29:54.033Z\",\r\n        \"databaseName\": \"testdb2\",\r\n        \"backupTime\": \"2018-03-18T19:01:42Z\",\r\n        \"backupExpirationTime\": \"2020-03-17T19:01:42Z\"\r\n      },\r\n      \"id\": \"/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/West Central US/longTermRetentionServers/trgrie-ltr-server/longTermRetentionDatabases/testdb2/longTermRetentionBackups/ef2e5a7b-54f5-4735-83ed-da4ea5a316f9;131658733020000000\",\r\n      \"name\": \"ef2e5a7b-54f5-4735-83ed-da4ea5a316f9;131658733020000000\",\r\n      \"type\": \"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14989"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/West%20Central%20US/longTermRetentionServers/trgrie-ltr-server/longTermRetentionDatabases/testdb2/longTermRetentionBackups/ef2e5a7b-54f5-4735-83ed-da4ea5a316f9%3B131658733020000000?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"serverName\": \"trgrie-ltr-server\",\r\n    \"serverCreateTime\": \"2018-02-12T22:29:54.033Z\",\r\n    \"databaseName\": \"testdb2\",\r\n    \"backupTime\": \"2018-03-18T19:01:42Z\",\r\n    \"backupExpirationTime\": \"2020-03-17T19:01:42Z\"\r\n  },\r\n  \"id\": \"/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/West Central US/longTermRetentionServers/trgrie-ltr-server/longTermRetentionDatabases/testdb2/longTermRetentionBackups/ef2e5a7b-54f5-4735-83ed-da4ea5a316f9;131658733020000000\",\r\n  \"name\": \"ef2e5a7b-54f5-4735-83ed-da4ea5a316f9;131658733020000000\",\r\n  \"type\": \"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14987"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/trgrie-ltr-server/longTermRetentionDatabases/testdb2/longTermRetentionBackups?onlyLatestPerDatabase=true&databaseState=All&api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"serverName\": \"trgrie-ltr-server\",\r\n        \"serverCreateTime\": \"2018-02-12T22:29:54.033Z\",\r\n        \"databaseName\": \"testdb2\",\r\n        \"backupTime\": \"2018-03-18T19:01:42Z\",\r\n        \"backupExpirationTime\": \"2020-03-17T19:01:42Z\"\r\n      },\r\n      \"id\": \"/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/trgrie-ltr-server/longTermRetentionDatabases/testdb2/longTermRetentionBackups/ef2e5a7b-54f5-4735-83ed-da4ea5a316f9;131658733020000000\",\r\n      \"name\": \"ef2e5a7b-54f5-4735-83ed-da4ea5a316f9;131658733020000000\",\r\n      \"type\": \"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14986"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/West%20Central%20US/longTermRetentionServers/trgrie-ltr-server/longTermRetentionDatabases/testdb2/longTermRetentionBackups?onlyLatestPerDatabase=true&api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"serverName\": \"trgrie-ltr-server\",\r\n        \"serverCreateTime\": \"2018-02-12T22:29:54.033Z\",\r\n        \"databaseName\": \"testdb2\",\r\n        \"backupTime\": \"2018-03-18T19:01:42Z\",\r\n        \"backupExpirationTime\": \"2020-03-17T19:01:42Z\"\r\n      },\r\n      \"id\": \"/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/West Central US/longTermRetentionServers/trgrie-ltr-server/longTermRetentionDatabases/testdb2/longTermRetentionBackups/ef2e5a7b-54f5-4735-83ed-da4ea5a316f9;131658733020000000\",\r\n      \"name\": \"ef2e5a7b-54f5-4735-83ed-da4ea5a316f9;131658733020000000\",\r\n      \"type\": \"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14984"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/resourceGroups/Default-SQL-WestCentralUS/providers/Microsoft.Sql/servers/trgrie-ltr-server/databases/testdb?api-version=2014-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/resourceGroups/Default-SQL-WestCentralUS/providers/Microsoft.Sql/servers/trgrie-ltr-server/databases/testd[...]
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/West%20Central%20US/longTermRetentionServers/trgrie-ltr-server/longTermRetentionDatabases/testdb/longTermRetentionBackups?onlyLatestPerDatabase=true&api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14982"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/resourceGroups/Default-SQL-WestCentralUS/providers/Microsoft.Sql/servers/trgrie-ltr-server/databases/testdb2/backupLongTermRetentionPolicies/Default?api-version=2014-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/resourceGroups/Default-SQL-WestCentralUS/providers/Microsoft.Sql/servers/trgrie-ltr-server/databases/testdb2/backupLongTermRetentionPolicies/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/databases/backupLongTermRetentionPolicies\",\r\n  \"location\": \"West Central US\",\r\n  \"kind\": null,\r\n  \"properties\": {\r\n    \"state\": \"Disabled\",\r\n    \"recoveryServicesBackupPolicyResourceId\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/resourceGroups/Default-SQL-WestCentralUS/providers/Microsoft.Sql/servers/trgrie-ltr-server/databases/testdb2/backupLongTermRetentionPolicies/default?api-version=2017-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"weeklyRetention\": \"P2W\",\r\n    \"weekOfYear\": 0\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertDatabaseBackupArchivalPolicyV2\",\r\n  \"startTime\": \"2018-03-20T14:48:10.663Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/resourceGroups/Default-SQL-WestCentralUS/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionPolicyAzureAsyncOperation/c68629da-46ae-4ccf-8d80-86ec446baa53?api-version=2017-03-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/resourceGroups/Default-SQL-WestCentralUS/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionPolicyOperationResults/c68629da-46ae-4ccf-8d80-86ec446baa53?api-version=2017-03-01-preview"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/resourceGroups/Default-SQL-WestCentralUS/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionPolicyAzureAsyncOperation/c68629da-46ae-4ccf-8d80-86ec446baa53?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"c68629da-46ae-4ccf-8d80-86ec446baa53\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2018-03-20T14:48:10.663Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14981"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/resourceGroups/Default-SQL-WestCentralUS/providers/Microsoft.Sql/servers/trgrie-ltr-server/databases/testdb2/backupLongTermRetentionPolicies/default?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"weeklyRetention\": \"P2W\",\r\n    \"monthlyRetention\": \"PT0S\",\r\n    \"yearlyRetention\": \"PT0S\",\r\n    \"weekOfYear\": 0\r\n  },\r\n  \"id\": \"/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/resourceGroups/Default-SQL-WestCentralUS/providers/Microsoft.Sql/servers/trgrie-ltr-server/databases/testdb2/backupLongTermRetentionPolicies/default\",\r\n  \"name\": \"default\",\r\n  \"type\": \"Microsoft.Sql/servers/databases/backupLongTermRetentionPolicies\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14980"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/resourceGroups/Default-SQL-WestCentralUS/providers/Microsoft.Sql/servers/trgrie-ltr-server?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"trgrie\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"trgrie-ltr-server.database.windows.net\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/resourceGroups/Default-SQL-WestCentralUS/providers/Microsoft.Sql/servers/trgrie-ltr-server\",\r\n  \"name\": \"trgrie-ltr-server\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14974"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/resourcegroups/Default-SQL-WestCentralUS/providers/Microsoft.Sql/servers/trgrie-ltr-server/databases/testdb3?api-version=2017-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"LongTermRetentionBackupResourceId\": \"/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/westcentralus/longTermRetentionServers/trgrie-ltr-server/longTermRetentionDatabases/testdb2/longTermRetentionBackups/ef2e5a7b-54f5-4735-83ed-da4ea5a316f9;131658733020000000\",\r\n    \"Edition\": null,\r\n    \"RequestedServiceObjectiveId\": null,\r\n    \"CreateMode\": \"RestoreLongTermRetentionBackup\",\r\n    \"ElasticPoolName\": null,\r\n    \"RequestedServiceObjectiveName\": null\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateRestoreFromLtrBackupRequest\",\r\n  \"startTime\": \"2018-03-20T14:48:43.677Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/e54c70c7-24f0-4944-b2ed-3460020cbbab?api-version=2017-03-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/westcentralus/databaseOperationResults/e54c70c7-24f0-4944-b2ed-3460020cbbab?api-version=2017-03-01-preview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/e54c70c7-24f0-4944-b2ed-3460020cbbab?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"e54c70c7-24f0-4944-b2ed-3460020cbbab\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-03-20T14:48:43.677Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/resourcegroups/Default-SQL-WestCentralUS/providers/Microsoft.Sql/servers/trgrie-ltr-server/databases/testdb3?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\"\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 2147483648,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"81efabff-8719-4f81-9b3a-5c81a31f7a13\",\r\n    \"creationDate\": \"2018-03-20T14:48:44.177Z\",\r\n    \"currentServiceObjectiveName\": \"Basic\",\r\n    \"defaultSecondaryLocation\": \"West US 2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/a8f5abd6-ccbc-4801-89e3-cfc7219946ba/resourceGroups/Default-SQL-WestCentralUS/providers/Microsoft.Sql/servers/trgrie-ltr-server/databases/testdb3\",\r\n  \"name\": \"testdb3\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14984"
        ]
      },
      "StatusCode": 200
    },
[...]
