{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/eastus/regionInfos/default?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0661b131-4a11-479b-96bf-2f95acca2f73/providers/Microsoft.NetApp/locations/eastus/regionInfos/default\",\r\n  \"name\": \"eastus/default\",\r\n  \"type\": \"Microsoft.NetApp/locations/regionInfos\",\r\n  \"properties\": {\r\n    \"storageToNetworkProximity\": \"T1AndT2AndAcrossT2\",\r\n    \"availabilityZoneMappings\": [\r\n      {\r\n        \"availabilityZone\": \"1\",\r\n        \"isAvailable\": true\r\n      },\r\n      {\r\n        \"availabilityZone\": \"2\",\r\n        \"isAvailable\": true\r\n      },\r\n      {\r\n        \"availabilityZone\": \"3\",\r\n        \"isAvailable\": true\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0661b131-4a11-479b-96bf-2f95acca2f73"
  }
}