{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.Authorization/policyDefinitions/policy2/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2019-10-01&$top=10",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "599"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.Authorization/policyDefinitions/policy2/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary\",\r\n  \"@odata.count\": 1,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.Authorization/policyDefinitions/policy2/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity\",\r\n      \"results\": {\r\n        \"queryResultsUri\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.Authorization/policyDefinitions/policy2/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-12-08 19:33:36Z&$to=2019-12-09 19:33:36Z\",\r\n        \"nonCompliantResources\": 0,\r\n        \"nonCompliantPolicies\": 0,\r\n        \"resourceDetails\": [\r\n          {\r\n            \"complianceState\": \"compliant\",\r\n            \"count\": 3\r\n          }\r\n        ],\r\n        \"policyDetails\": [\r\n          {\r\n            \"complianceState\": \"compliant\",\r\n            \"count\": 1\r\n          }\r\n        ],\r\n        \"policyGroupDetails\": [\r\n          {\r\n            \"complianceState\": \"compliant\",\r\n            \"count\": 1\r\n          }\r\n        ]\r\n      },\r\n      \"policyAssignments\": [\r\n        {\r\n          \"policyAssignmentId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/microsoft.authorization/policyassignments/location-lock\",\r\n          \"policySetDefinitionId\": \"\",\r\n          \"results\": {\r\n            \"queryResultsUri\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.Authorization/policyDefinitions/policy2/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-12-08 19:33:36Z&$to=2019-12-09 19:33:36Z and PolicyAssignmentId eq '/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/microsoft.authorization/policyassignments/location-lock'\",\r\n            \"nonCompliantResources\": 0,\r\n            \"nonCompliantPolicies\": 0,\r\n            \"resourceDetails\": [\r\n              {\r\n                \"complianceState\": \"compliant\",\r\n                \"count\": 3\r\n              }\r\n            ],\r\n            \"policyDetails\": [\r\n              {\r\n                \"complianceState\": \"compliant\",\r\n                \"count\": 1\r\n              }\r\n            ],\r\n            \"policyGroupDetails\": [\r\n              {\r\n                \"complianceState\": \"compliant\",\r\n                \"count\": 1\r\n              }\r\n            ]\r\n          },\r\n          \"policyDefinitions\": [\r\n            {\r\n              \"policyDefinitionGroupNames\": [\r\n                \"\"\r\n              ],\r\n              \"policyDefinitionReferenceId\": \"\",\r\n              \"policyDefinitionId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/microsoft.authorization/policydefinitions/policy2\",\r\n              \"effect\": \"deny\",\r\n              \"results\": {\r\n                \"queryResultsUri\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.Authorization/policyDefinitions/policy2/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-12-08 19:33:36Z&$to=2019-12-09 19:33:36Z and PolicyAssignmentId eq '/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/microsoft.authorization/policyassignments/location-lock' and PolicyDefinitionId eq '/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/microsoft.authorization/policydefinitions/policy2'\",\r\n                \"nonCompliantResources\": 0,\r\n                \"resourceDetails\": [\r\n                  {\r\n                    \"complianceState\": \"compliant\",\r\n                    \"count\": 3\r\n                  }\r\n                ],\r\n                \"policyDetails\": [\r\n                  {\r\n                    \"complianceState\": \"compliant\",\r\n                    \"count\": 1\r\n                  }\r\n                ],\r\n                \"policyGroupDetails\": [\r\n                  {\r\n                    \"complianceState\": \"compliant\",\r\n                    \"count\": 1\r\n                  }\r\n                ]\r\n              }\r\n            }\r\n          ],\r\n          \"policyGroups\": [\r\n            {\r\n              \"policyGroupName\": \"\",\r\n              \"results\": {\r\n                \"queryResultsUri\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.Authorization/policyDefinitions/policy2/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2019-12-08 19:33:36Z&$to=2019-12-09 19:33:36Z and PolicyAssignmentId eq '/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/microsoft.authorization/policyassignments/location-lock' and PolicySetDefinitionId eq '' and '' in PolicyDefinitionGroupNames\",\r\n                \"nonCompliantResources\": 0,\r\n                \"resourceDetails\": [\r\n                  {\r\n                    \"complianceState\": \"compliant\",\r\n                    \"count\": 3\r\n                  }\r\n                ],\r\n                \"policyDetails\": [\r\n                  {\r\n                    \"complianceState\": \"compliant\",\r\n                    \"count\": 1\r\n                  }\r\n                ],\r\n                \"policyGroupDetails\": [\r\n                  {\r\n                    \"complianceState\": \"compliant\",\r\n                    \"count\": 1\r\n                  }\r\n                ]\r\n              }\r\n            }\r\n          ]\r\n        }\r\n      ]\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0b40be06-04e8-4f70-abde-a502b2646fe8"
  }
}