{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/jilimpolicytest2/providers/Microsoft.Authorization/policyAssignments/e9860612d8ec4a469f59af06/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2018-07-01-preview&$top=10",
=======
      "RequestUri": "/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/cheggpolicy/providers/Microsoft.Authorization/policyAssignments/8a4555d353ed46bb856e9890/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2019-10-01&$top=10",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "e37cfe74-d438-417d-a322-668c1e81703a"
=======
          "71045b37-c277-4350-ac7d-8b2122b75335"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27317.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/2.0.2.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/3.1.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Vary": [
          "Accept-Encoding"
        ],
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "592"
        ],
        "x-ms-request-id": [
          ":ca0bb1d1-e68c-4cad-94b5-5f9b7f06c33b"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "x-ms-correlation-request-id": [
          "60e3be94-86e1-43dc-9f10-cd2da9a818c5"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20190416T211806Z:60e3be94-86e1-43dc-9f10-cd2da9a818c5"
=======
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "597"
        ],
        "x-ms-request-id": [
          ":2943fd7d-2efd-4524-8822-f5e6e8aa27a2"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-correlation-request-id": [
          "84a44847-57e1-443a-906a-ce7d088a5ad9"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200331T020542Z:84a44847-57e1-443a-906a-ce7d088a5ad9"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 16 Apr 2019 21:18:05 GMT"
        ],
        "Content-Length": [
          "3286"
=======
          "Tue, 31 Mar 2020 02:05:41 GMT"
        ],
        "Content-Length": [
          "5699"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/jilimpolicytest2/providers/Microsoft.Authorization/policyAssignments/e9860612d8ec4a469f59af06/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary\",\r\n  \"@odata.count\": 1,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/jilimpolicytest2/providers/Microsoft.Authorization/policyAssignments/e9860612d8ec4a469f59af06/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity\",\r\n      \"results\": {\r\n        \"queryResultsUri\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/jilimpolicytest2/providers/Microsoft.Authorization/policyAssignments/e9860612d8ec4a469f59af06/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-07-01-preview&$from=2019-04-15 21:18:05Z&$to=2019-04-16 21:18:05Z\",\r\n        \"nonCompliantResources\": 1,\r\n        \"nonCompliantPolicies\": 1,\r\n        \"resourceDetails\": [\r\n          {\r\n            \"complianceState\": \"notapplicable\",\r\n            \"count\": 1\r\n          },\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 1\r\n          }\r\n        ],\r\n        \"policyDetails\": [\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 1\r\n          }\r\n        ]\r\n      },\r\n      \"policyAssignments\": [\r\n        {\r\n          \"policyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/jilimpolicytest2/providers/microsoft.authorization/policyassignments/e9860612d8ec4a469f59af06\",\r\n          \"policySetDefinitionId\": \"\",\r\n          \"results\": {\r\n            \"queryResultsUri\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/jilimpolicytest2/providers/Microsoft.Authorization/policyAssignments/e9860612d8ec4a469f59af06/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-07-01-preview&$from=2019-04-15 21:18:05Z&$to=2019-04-16 21:18:05Z and PolicyAssignmentId eq '/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/jilimpolicytest2/providers/microsoft.authorization/policyassignments/e9860612d8ec4a469f59af06'\",\r\n            \"nonCompliantResources\": 1,\r\n            \"nonCompliantPolicies\": 1,\r\n            \"resourceDetails\": [\r\n              {\r\n                \"complianceState\": \"notapplicable\",\r\n                \"count\": 1\r\n              },\r\n              {\r\n                \"complianceState\": \"noncompliant\",\r\n                \"count\": 1\r\n              }\r\n            ],\r\n            \"policyDetails\": [\r\n              {\r\n                \"complianceState\": \"noncompliant\",\r\n                \"count\": 1\r\n              }\r\n            ]\r\n          },\r\n          \"policyDefinitions\": [\r\n            {\r\n              \"policyDefinitionReferenceId\": \"\",\r\n              \"policyDefinitionId\": \"/providers/microsoft.authorization/policydefinitions/e56962a6-4747-49cd-b67b-bf8b01975c4c\",\r\n              \"effect\": \"deny\",\r\n              \"results\": {\r\n                \"queryResultsUri\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/jilimpolicytest2/providers/Microsoft.Authorization/policyAssignments/e9860612d8ec4a469f59af06/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-07-01-preview&$from=2019-04-15 21:18:05Z&$to=2019-04-16 21:18:05Z and PolicyAssignmentId eq '/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e8[...]
