{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/PSTestRG1/providers/Microsoft.Authorization/policyAssignments/PSTestAuditAssignmentRG/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2019-10-01&$top=10",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "149"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/PSTestRG1/providers/Microsoft.Authorization/policyAssignments/PSTestAuditAssignmentRG/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary\",\r\n  \"@odata.count\": 1,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/PSTestRG1/providers/Microsoft.Authorization/policyAssignments/PSTestAuditAssignmentRG/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity\",\r\n      \"results\": {\r\n        \"queryResultsUri\": \"https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/PSTestRG1/providers/Microsoft.Authorization/policyAssignments/PSTestAuditAssignmentRG/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2025-02-03 23:30:36Z&$to=2025-02-04 23:30:36Z\",\r\n        \"nonCompliantResources\": 111,\r\n        \"nonCompliantPolicies\": 1,\r\n        \"resourceDetails\": [\r\n          {\r\n            \"complianceState\": \"compliant\",\r\n            \"count\": 399\r\n          },\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 111\r\n          }\r\n        ],\r\n        \"policyDetails\": [\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 1\r\n          }\r\n        ],\r\n        \"policyGroupDetails\": [\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 1\r\n          }\r\n        ]\r\n      },\r\n      \"policyAssignments\": [\r\n        {\r\n          \"policyAssignmentId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg1/providers/microsoft.authorization/policyassignments/pstestauditassignmentrg\",\r\n          \"policySetDefinitionId\": \"\",\r\n          \"results\": {\r\n            \"queryResultsUri\": \"https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/PSTestRG1/providers/Microsoft.Authorization/policyAssignments/PSTestAuditAssignmentRG/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2025-02-03 23:30:36Z&$to=2025-02-04 23:30:36Z&$filter=PolicyAssignmentId eq '/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg1/providers/microsoft.authorization/policyassignments/pstestauditassignmentrg'\",\r\n            \"nonCompliantResources\": 111,\r\n            \"nonCompliantPolicies\": 1,\r\n            \"resourceDetails\": [\r\n              {\r\n                \"complianceState\": \"compliant\",\r\n                \"count\": 399\r\n              },\r\n              {\r\n                \"complianceState\": \"noncompliant\",\r\n                \"count\": 111\r\n              }\r\n            ],\r\n            \"policyDetails\": [\r\n              {\r\n                \"complianceState\": \"noncompliant\",\r\n                \"count\": 1\r\n              }\r\n            ],\r\n            \"policyGroupDetails\": [\r\n              {\r\n                \"complianceState\": \"noncompliant\",\r\n                \"count\": 1\r\n              }\r\n            ]\r\n          },\r\n          \"policyDefinitions\": [\r\n            {\r\n              \"policyDefinitionGroupNames\": [\r\n                \"\"\r\n              ],\r\n              \"policyDefinitionReferenceId\": \"\",\r\n              \"policyDefinitionId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/microsoft.authorization/policydefinitions/pstestauditdefinition\",\r\n              \"effect\": \"audit\",\r\n              \"results\": {\r\n                \"queryResultsUri\": \"https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/PSTestRG1/providers/Microsoft.Authorization/policyAssignments/PSTestAuditAssignmentRG/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$from=2025-02-03 23:30:36Z&$to=2025-02-04 23:30:36Z&$filter=PolicyAssignmentId eq '/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourc[...]
