{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "//subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/govintpolicyrp/providers/microsoft.network/trafficmanagerprofiles/gov-int-policy-rp/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2018-07-01-preview&$top=10&$from=2019-01-20T00%3A00%3A00Z",
=======
      "RequestUri": "//subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/cheggpolicy/providers/microsoft.keyvault/vaults/cheggkv/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2019-10-01&$top=10&$from=2020-03-24T00%3A00%3A00Z",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "ea424793-81e5-40fa-90fb-9738d6381d22"
=======
          "b27ba8e6-a117-402e-a9e6-c179183d7013"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27317.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/2.0.2.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/3.1.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Vary": [
          "Accept-Encoding"
        ],
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "593"
        ],
        "x-ms-request-id": [
          ":afc236c1-412a-4ca4-a6cf-46fa1d3031ea"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "x-ms-correlation-request-id": [
          "5a7f3f73-7ff4-4592-91c5-c9099018c3e3"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20190416T211816Z:5a7f3f73-7ff4-4592-91c5-c9099018c3e3"
=======
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "597"
        ],
        "x-ms-request-id": [
          ":0116a81b-2f45-4c74-a91f-c2babbd23985"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-correlation-request-id": [
          "e4f98b56-f8e2-4e24-bef1-24992c26eeb9"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200331T020553Z:e4f98b56-f8e2-4e24-bef1-24992c26eeb9"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 16 Apr 2019 21:18:16 GMT"
        ],
        "Content-Length": [
          "14370"
=======
          "Tue, 31 Mar 2020 02:05:53 GMT"
        ],
        "Content-Length": [
          "32008"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/govintpolicyrp/providers/microsoft.network/trafficmanagerprofiles/gov-int-policy-rp/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary\",\r\n  \"@odata.count\": 1,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/govintpolicyrp/providers/microsoft.network/trafficmanagerprofiles/gov-int-policy-rp/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity\",\r\n      \"results\": {\r\n        \"queryResultsUri\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/govintpolicyrp/providers/microsoft.network/trafficmanagerprofiles/gov-int-policy-rp/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-07-01-preview&$from=2019-01-20 00:00:00Z&$to=2019-04-16 21:18:16Z\",\r\n        \"nonCompliantResources\": 1,\r\n        \"nonCompliantPolicies\": 2,\r\n        \"resourceDetails\": [\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 1\r\n          }\r\n        ],\r\n        \"policyDetails\": [\r\n          {\r\n            \"complianceState\": \"compliant\",\r\n            \"count\": 3\r\n          },\r\n          {\r\n            \"complianceState\": \"noncompliant\",\r\n            \"count\": 2\r\n          }\r\n        ]\r\n      },\r\n      \"policyAssignments\": [\r\n        {\r\n          \"policyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/microsoft.authorization/policyassignments/3c3059c96b0940f0995f9464\",\r\n          \"policySetDefinitionId\": \"\",\r\n          \"results\": {\r\n            \"queryResultsUri\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/govintpolicyrp/providers/microsoft.network/trafficmanagerprofiles/gov-int-policy-rp/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-07-01-preview&$from=2019-01-20 00:00:00Z&$to=2019-04-16 21:18:16Z and PolicyAssignmentId eq '/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/microsoft.authorization/policyassignments/3c3059c96b0940f0995f9464'\",\r\n            \"nonCompliantResources\": 0,\r\n            \"nonCompliantPolicies\": 0,\r\n            \"resourceDetails\": [\r\n              {\r\n                \"complianceState\": \"compliant\",\r\n                \"count\": 1\r\n              }\r\n            ],\r\n            \"policyDetails\": [\r\n              {\r\n                \"complianceState\": \"compliant\",\r\n                \"count\": 1\r\n              }\r\n            ]\r\n          },\r\n          \"policyDefinitions\": [\r\n            {\r\n              \"policyDefinitionReferenceId\": \"\",\r\n              \"policyDefinitionId\": \"/providers/microsoft.authorization/policydefinitions/0a914e76-4921-4c19-b460-a2d36003525a\",\r\n              \"effect\": \"audit\",\r\n              \"results\": {\r\n                \"queryResultsUri\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/govintpolicyrp/providers/microsoft.network/trafficmanagerprofiles/gov-int-policy-rp/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-07-01-preview&$from=2019-01-20 00:00:00Z&$to=2019-04-16 21:18:16Z and PolicyAssignmentId eq '/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/provi[...]
