{
  "Disable-AzAdvisorRecommendation+[NoContext]+IdParameterSet+$PUT+https://management.azure.com/subscriptions%2F45bc121f-54a8-4e7d-ac12-7033247f9f2c%2Fresourcegroups%2Frg-arv-extractor-dev-cac%2Fproviders%2Fmicrosoft.web%2Fsites%2Ffunc-j6lptrkb6izaw/providers/Microsoft.Advisor/recommendations/f228b427-bbff-3b0b-3561-33c0ca8580c1/suppressions/HardcodedSuppressionName?api-version=2020-01-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions%2F45bc121f-54a8-4e7d-ac12-7033247f9f2c%2Fresourcegroups%2Frg-arv-extractor-dev-cac%2Fproviders%2Fmicrosoft.web%2Fsites%2Ffunc-j6lptrkb6izaw/providers/Microsoft.Advisor/recommendations/f228b427-bbff-3b0b-3561-33c0ca8580c1/suppressions/HardcodedSuppressionName?api-version=2020-01-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"ttl\": \"03:00:00:00\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "799" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"suppressionId\":\"18e31e11-07bb-e089-df11-9e056d40565d\",\"ttl\":\"3.00:00:00\",\"expirationTimeStamp\":\"2025-09-14T18:24:07.3873809Z\"},\"id\":\"/subscriptions/45bc121f-54a8-4e7d-ac12-7033247f9f2c/resourcegroups/rg-arv-extractor-dev-cac/providers/microsoft.web/sites/func-j6lptrkb6izaw/providers/Microsoft.Advisor/recommendations/f228b427-bbff-3b0b-3561-33c0ca8580c1/suppressions/HardcodedSuppressionName\",\"type\":\"Microsoft.Advisor/suppressions\",\"name\":\"HardcodedSuppressionName\"}",
    }
  },
  "Disable-AzAdvisorRecommendation+[NoContext]+NameParameterSet+$GET+https://management.azure.com/subscriptions%2F45bc121f-54a8-4e7d-ac12-7033247f9f2c/providers/Microsoft.Advisor/recommendations/f228b427-bbff-3b0b-3561-33c0ca8580c1?api-version=2020-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions%2F45bc121f-54a8-4e7d-ac12-7033247f9f2c/providers/Microsoft.Advisor/recommendations/f228b427-bbff-3b0b-3561-33c0ca8580c1?api-version=2020-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "1099" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"category\":\"Security\",\"impact\":\"High\",\"impactedField\":\"Microsoft.Web/sites\",\"impactedValue\":\"func-j6lptrkb6izaw\",\"lastUpdated\":\"2025-09-11T17:47:31.9576017Z\",\"recommendationTypeId\":\"4a3d7cd3-f17c-637a-1ffc-614a01dd03cf\",\"shortDescription\":{\"problem\":\"Managed identity should be enabled on web apps\",\"solution\":\"Managed identity should be enabled on web apps\"},\"suppressionIds\":[\"18e31e11-07bb-e089-df11-9e056d40565d\"],\"extendedProperties\":{\"assessmentKey\":\"4a3d7cd3-f17c-637a-1ffc-614a01dd03cf\",\"score\":\"0\",\"recommendationOfferingId\":\"e11311d7-dcf7-4ed0-a4e8-718288227231\"},\"resourceMetadata\":{\"resourceId\":\"/subscriptions/45bc121f-54a8-4e7d-ac12-7033247f9f2c/resourcegroups/rg-arv-extractor-dev-cac/providers/microsoft.web/sites/func-j6lptrkb6izaw\"}},\"id\":\"/subscriptions/45bc121f-54a8-4e7d-ac12-7033247f9f2c/resourcegroups/rg-arv-extractor-dev-cac/providers/microsoft.web/sites/func-j6lptrkb6izaw/providers/Microsoft.Advisor/recommendations/f228b427-bbff-3b0b-3561-33c0ca8580c1\",\"type\":\"Microsoft.Advisor/recommendations\",\"name\":\"f228b427-bbff-3b0b-3561-33c0ca8580c1\"}",
    }
  },
  "Disabl[...]
