{
  "Get-AzAdvisorConfiguration+[NoContext]+List+$GET+https://management.azure.com/subscriptions/45bc121f-54a8-4e7d-ac12-7033247f9f2c/providers/Microsoft.Advisor/configurations?api-version=2020-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/45bc121f-54a8-4e7d-ac12-7033247f9f2c/providers/Microsoft.Advisor/configurations?api-version=2020-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "15" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "1099" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"exclude\":false,\"lowCpuThreshold\":\"15\",\"low_cpu_threshold\":\"15\"},\"id\":\"/subscriptions/45bc121f-54a8-4e7d-ac12-7033247f9f2c/providers/Microsoft.Advisor/configurations/default\",\"type\":\"Microsoft.Advisor/Configurations\",\"name\":\"default\"},{\"properties\":{\"exclude\":true},\"id\":\"/subscriptions/45bc121f-54a8-4e7d-ac12-7033247f9f2c/resourceGroups/defaultresourcegroup-eus2/providers/Microsoft.Advisor/configurations/default\",\"type\":\"Microsoft.Advisor/Configurations\",\"name\":\"default\"},{\"properties\":{\"exclude\":true},\"id\":\"/subscriptions/45bc121f-54a8-4e7d-ac12-7033247f9f2c/resourceGroups/defaultresourcegroup-ea/providers/Microsoft.Advisor/configurations/default\",\"type\":\"Microsoft.Advisor/Configuratio[...]
