{
  "Entries": [
    {
      "RequestUri": "/pools/testPool/nodes?api-version=2023-05-01.17.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 16 Jun 2023 07:36:13 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://hoppeeastasia2.eastasia.batch.azure.com/$metadata#nodes\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"tvmps_67590f6ffdc37891aa09de07a4d14e513ce75f2e93c73f7f556cdf00710d7b2d_d\",\r\n      \"url\": \"https://hoppeeastasia2.eastasia.batch.azure.com/pools/testPool/nodes/tvmps_67590f6ffdc37891aa09de07a4d14e513ce75f2e93c73f7f556cdf00710d7b2d_d\",\r\n      \"state\": \"idle\",\r\n      \"schedulingState\": \"enabled\",\r\n      \"stateTransitionTime\": \"2023-06-16T07:25:22.287975Z\",\r\n      \"lastBootTime\": \"2023-06-16T07:25:22.018509Z\",\r\n      \"allocationTime\": \"2023-06-13T07:46:20.7222354Z\",\r\n      \"ipAddress\": \"10.218.0.6\",\r\n      \"affinityId\": \"TVM:tvmps_67590f6ffdc37891aa09de07a4d14e513ce75f2e93c73f7f556cdf00710d7b2d_d\",\r\n      \"vmSize\": \"standard_d1_v2\",\r\n      \"totalTasksRun\": 9,\r\n      \"totalTasksSucceeded\": 6,\r\n      \"runningTasksCount\": 0,\r\n      \"runningTaskSlotsCount\": 0,\r\n      \"recentTasks\": [],\r\n      \"startTask\": {\r\n        \"commandLine\": \"cmd /c echo hello\",\r\n        \"userIdentity\": {\r\n          \"autoUser\": {\r\n            \"scope\": \"pool\",\r\n            \"elevationLevel\": \"nonadmin\"\r\n          }\r\n        },\r\n        \"maxTaskRetryCount\": 0,\r\n        \"waitForSuccess\": true\r\n      },\r\n      \"startTaskInfo\": {\r\n        \"state\": \"completed\",\r\n        \"startTime\": \"2023-06-16T07:25:22.194236Z\",\r\n        \"endTime\": \"2023-06-16T07:25:22.272356Z\",\r\n        \"exitCode\": 0,\r\n        \"result\": \"success\",\r\n        \"retryCount\": 0\r\n      },\r\n      \"certificateReferences\": [],\r\n      \"isDedicated\": true,\r\n      \"endpointConfiguration\": {\r\n        \"inboundEndpoints\": [\r\n          {\r\n            \"name\": \"Microsoft.WindowsAzure.Plugins.RemoteForwarder.RdpInput\",\r\n            \"protocol\": \"tcp\",\r\n            \"frontendPort\": 3389,\r\n            \"backendPort\": 20000\r\n          }\r\n        ]\r\n      },\r\n      \"nodeAgentInfo\": {\r\n        \"lastUpdateTime\": \"2023-06-13T07:53:19.121974Z\",\r\n        \"version\": \"1.10.0\"\r\n      },\r\n      \"virtualMachineInfo\": {}\r\n    },\r\n    {\r\n      \"id\": \"tvmps_c3cdeb8c344b8b5cca4c1052f8fd5c239f09cffd64837afc6cbb2e073e15dab3_d\",\r\n      \"url\": \"https://hoppeeastasia2.eastasia.batch.azure.com/pools/testPool/nodes/tvmps_c3cdeb8c344b8b5cca4c1052f8fd5c239f09cffd64837afc6cbb2e073e15dab3_d\",\r\n      \"state\": \"idle\",\r\n      \"schedulingState\": \"enabled\",\r\n      \"stateTransitionTime\": \"2023-06-16T07:27:06.090722Z\",\r\n      \"lastBootTime\": \"2023-06-16T07:27:04.928724Z\",\r\n      \"alloca[...]
    {
      "RequestUri": "/pools/testPool/nodes/tvmps_67590f6ffdc37891aa09de07a4d14e513ce75f2e93c73f7f556cdf00710d7b2d_d/users?api-version=2023-05-01.17.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 16 Jun 2023 07:36:14 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"name\": \"userendtoend\",\r\n  \"isAdmin\": false,\r\n  \"expiryTime\": \"0001-01-01T00:00:00Z\",\r\n  \"password\": \"Password1234!\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://hoppeeastasia2.eastasia.batch.azure.com/pools/testPool/nodes/tvmps_67590f6ffdc37891aa09de07a4d14e513ce75f2e93c73f7f556cdf00710d7b2d_d/users/userendtoend"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://hoppeeastasia2.eastasia.batch.azure.com/pools/testPool/nodes/tvmps_67590f6ffdc37891aa09de07a4d14e513ce75f2e93c73f7f556cdf00710d7b2d_d/users/userendtoend"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/pools/testPool/nodes/tvmps_67590f6ffdc37891aa09de07a4d14e513ce75f2e93c73f7f556cdf00710d7b2d_d/users/userendtoend?api-version=2023-05-01.17.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 16 Jun 2023 07:36:14 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"password\": \"Abcdefghijk1234!\",\r\n  \"expiryTime\": \"2023-06-21T07:36:14.9257797Z\"\r\n}",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://hoppeeastasia2.eastasia.batch.azure.com/pools/testPool/nodes/tvmps_67590f6ffdc37891aa09de07a4d14e513ce75f2e93c73f7f556cdf00710d7b2d_d/users/userendtoend"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/testPool/nodes/tvmps_67590f6ffdc37891aa09de07a4d14e513ce75f2e93c73f7f556cdf00710d7b2d_d/users/userendtoend?api-version=2023-05-01.17.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 16 Jun 2023 07:36:15 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://hoppeeastasia2.eastasia.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\r\n  \"code\": \"NodeUserNotFound\",\r\n  \"message\": {\r\n    \"lang\": \"en-US\",\r\n    \"value\": \"The specified node user does not exist.\\nRequestId:96708828-76f8-4198-8216-8defa65af7de\\nTime:2023-06-16T07:36:17.0215063Z\"\r\n  }\r\n}",
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "21abd678-18c5-4660-9fdd-8c5ba6b6fe1f",
    "AZURE_BATCH_ACCOUNT": "hoppeeastasia2",
    "AZURE_BATCH_ENDPOINT": "https://hoppeeastasia2.eastasia.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "123"
  }
}