{
  "Get-AzQuotaGroupQuotaSubscriptionAllocation+[NoContext]+List+$GET+https://management.azure.com/providers/Microsoft.Management/managementGroups/0e745469-49f8-48c9-873b-24ca87143db1/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.Quota/groupQuotas/ComputeGroupQuota01/resourceProviders/Microsoft.Compute/quotaAllocations/eastus?api-version=2025-07-15+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/0e745469-49f8-48c9-873b-24ca87143db1/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.Quota/groupQuotas/ComputeGroupQuota01/resourceProviders/Microsoft.Compute/quotaAllocations/eastus?api-version=2025-07-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "8" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 403,
      "Headers": {
        "x-ms-failure-cause": [ "gateway" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"error\":{\"code\":\"AuthorizationFailed\",\"message\":\"The client \u0027resilv@microsoft.com\u0027 with object id \u00272b39426f-84f6-41b3-9ad1-ee6021770dba\u0027 does not have authorization to perform action \u0027Microsoft.Quota/groupQuotas/resourceProviders/quotaAllocations/read\u0027 over scope \u0027/providers/Microsoft.Management/managementGroups/0e745469-49f8-48c9-873b-24ca87143db1/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.Quota/groupQuotas/ComputeGroupQuota01/resourceProviders/Microsoft.Compute/quotaAllocations/eastus\u0027 or the scope is invalid. If access was recently granted, please refresh your credentials.\"}}",
    }
  }
}