{
  "Get-AzQuotaRequestStatus+[NoContext]+List+$GET+https://management.azure.com/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/providers/Microsoft.Compute/locations/eastus/providers/Microsoft.Quota/quotaRequests?api-version=2025-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/providers/Microsoft.Compute/locations/eastus/providers/Microsoft.Quota/quotaRequests?api-version=2025-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "46" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "MS-RequestId": [ "f1jbhemWIUCIM_S6jam3Ow.0" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "1099" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"message\":\"Request completed.\",\"provisioningState\":\"Succeeded\",\"requestSubmitTime\":\"2026-01-22T07:05:11Z\",\"value\":[{\"limit\":{\"limitObjectType\":\"LimitValue\",\"limitType\":\"Independent\",\"value\":25},\"message\":\"Request completed.\",\"name\":{\"value\":\"STANDARDFSV2FAMILY\"},\"provisioningState\":\"Succeeded\",\"subRequestId\":\"63d01663-03c7-4b67-ab08-1cdbde0d8856\"}]},\"id\":\"/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/providers/Microsoft.Compute/locations/eastus/providers/Microsoft.Quota/quotaRequests/63d01663-03c7-4b67-ab08-1cdbde0d8856\",\"type\":\"Microsoft.Quota/QuotaRequests\",\"name\":\"63d01663-03c7-4b67-ab08-1cdbde0d8856\"},{\"properties\":{\"message\":\"Request completed.\",\"provisioningState\":\"Succeeded\",\"requestSubmitTime\":\"2026-01-22T03:52:08Z\",\"value\":[{\"limit\":{\"limitObjectType\":\"LimitValue\",\"limitType\":\"Independent\",\"value\":24},\"message\":\"Request completed.\",\"name\":{\"value\":\"STANDARDFSV2FAMILY\"},\"provisioningState\":\"Succeeded\",\"subRequestId\":\"79c6611a-3c4c-46ee-8e91-2254aed38c72\"}]},\"[...]
