{
  "Get-AzQuotaRequestStatus+[NoContext]+List+$GET+https://management.azure.com/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/providers/Microsoft.Compute/locations/eastus/providers/Microsoft.Quota/quotaRequests?api-version=2025-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/providers/Microsoft.Compute/locations/eastus/providers/Microsoft.Quota/quotaRequests?api-version=2025-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "46" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "MS-RequestId": [ "K1hUp3xWZkS-oyJlm6RO_g.0" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "1099" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"message\":\"Request completed.\",\"provisioningState\":\"Succeeded\",\"requestSubmitTime\":\"2026-01-22T23:54:45Z\",\"value\":[{\"limit\":{\"limitObjectType\":\"LimitValue\",\"limitType\":\"Independent\",\"value\":31},\"message\":\"Request completed.\",\"name\":{\"value\":\"STANDARDFSV2FAMILY\"},\"provisioningState\":\"Succeeded\",\"subRequestId\":\"245db67a-ade2-48a3-977f-279ee11495fe\"}]},\"id\":\"/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/providers/Microsoft.Compute/locations/eastus/providers/Microsoft.Quota/quotaRequests/245db67a-ade2-48a3-977f-279ee11495fe\",\"type\":\"Microsoft.Quota/QuotaRequests\",\"name\":\"245db67a-ade2-48a3-977f-279ee11495fe\"},{\"properties\":{\"message\":\"Request completed.\",\"provisioningState\":\"Succeeded\",\"requestSubmitTime\":\"2026-01-22T23:43:41Z\",\"value\":[{\"limit\":{\"limitObjectType\":\"LimitValue\",\"limitType\":\"Independent\",\"value\":30},\"message\":\"Request completed.\",\"name\":{\"value\":\"STANDARDFSV2FAMILY\"},\"provisioningState\":\"Succeeded\",\"subRequestId\":\"50d91c65-fecc-470b-afc2-ef71b12d1e24\"}]},\"[...]
