{
  "Get-AzQuotaGroupQuotaSubscription+[NoContext]+Get+$GET+https://management.azure.com/providers/Microsoft.Management/managementGroups/mg-demo/providers/Microsoft.Quota/groupQuotas/testlocation?api-version=2025-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/mg-demo/providers/Microsoft.Quota/groupQuotas/testlocation?api-version=2025-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "21" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "MS-RequestId": [ "1kYfbHG3CkKTpkSp7U8ooQ.0" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "249" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"properties\":{\"displayName\":\"Test Location Group Quota\",\"groupType\":\"AllocationGroup\",\"provisioningState\":\"Succeeded\",\"additionalAttributes\":{\"groupId\":{\"groupingIdType\":\"None\"},\"environment\":\"None\"}},\"id\":\"/providers/Microsoft.Management/managementGroups/mg-demo/providers/Microsoft.Quota/groupQuotas/testlocation\",\"type\":\"Microsoft.Quota/groupQuotas\",\"name\":\"testlocation\"}",
    }
  },
  "Get-AzQuotaGroupQuotaSubscription+[NoContext]+Get+$GET+https://management.azure.com/providers/Microsoft.Management/managementGroups/mg-demo/providers/Microsoft.Quota/groupQuotas/testlocation/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1?api-version=2025-09-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/mg-demo/providers/Microsoft.Quota/groupQuotas/testlocation/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1?api-version=2025-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "22" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "MS-RequestId": [ "3pLPB46IG0OQ5HwaYjxfBw.0" ],
        "x-ms-ratelimit-remaining-tenant-resource-requests": [ "2199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"Properties\":{\"subscriptionId\":\"0e745469-49f8-48c9-873b-24ca87143db1\",\"provisioningState\":\"SUCCEEDED\"},\"id\":\"/providers/Microsoft.Management/managementGroups/mg-demo/providers/Microsoft.Quota/groupQuotas/testlocation/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1\",\"type\":\"Microsoft.Quota/groupQuotas/subscriptions\",\"name\":\"0e745469-49f8-48c9-873b-24ca87143db1\"}",
    }
  },
  "Get-AzQuotaGroupQuotaSubscription+[NoContext]+Get+$GET+https://management.azure.com/providers/Microsoft.Management/managementGroup[...]
