{
  "Get-AzQuota+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.Network/locations/eastus/providers/Microsoft.Quota/quotas?api-version=2023-02-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.Network/locations/eastus/providers/Microsoft.Quota/quotas?api-version=2023-02-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "MS-RequestId": [ "l2JXXq-WcUG3xaBO_LYyLA.0" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"limit\":{\"limitObjectType\":\"LimitValue\",\"limitType\":\"Independent\",\"value\":1000},\"name\":{\"value\":\"VirtualNetworks\",\"localizedValue\":\"Virtual Networks\"},\"properties\":{},\"unit\":\"Count\",\"isQuotaApplicable\":false},\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.Network/locations/eastus/providers/Microsoft.Quota/quotas/VirtualNetworks\",\"type\":\"Microsoft.Quota/Quotas\",\"name\":\"VirtualNetworks\"},{\"properties\":{\"limit\":{\"limitObjectType\":\"LimitValue\",\"limitType\":\"Independent\",\"value\":5},\"name\":{\"value\":\"CustomIpPrefixes\",\"localizedValue\":\"Custom Ip Prefixes\"},\"properties\":{},\"unit\":\"Count\",\"isQuotaApplicable\":false},\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.Network/locations/eastus/providers/Microsoft.Quota/quotas/CustomIpPrefixes\",\"type\":\"Microsoft.Quota/Qu[...]
