{
  "Get-AzQuota+[NoContext]+List+$GET+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.Network/locations/eastus/providers/Microsoft.Quota/quotas?api-version=2025-07-15+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.Network/locations/eastus/providers/Microsoft.Quota/quotas?api-version=2025-07-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "7" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "MS-RequestId": [ "daqP_v-mEUGcY88vxtPcQQ.0" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"limit\":{\"limitObjectType\":\"LimitValue\",\"limitType\":\"Independent\",\"value\":1000},\"name\":{\"value\":\"VirtualNetworks\",\"localizedValue\":\"Virtual Networks\"},\"properties\":{},\"unit\":\"Count\",\"isQuotaApplicable\":false},\"id\":\"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.Network/locations/eastus/providers/Microsoft.Quota/quotas/VirtualNetworks\",\"type\":\"Microsoft.Quota/Quotas\",\"name\":\"VirtualNetworks\"},{\"properties\":{\"limit\":{\"limitObjectType\":\"LimitValue\",\"limitType\":\"Independent\",\"value\":5},\"name\":{\"value\":\"CustomIpPrefixes\",\"localizedValue\":\"Custom Ip Prefixes\"},\"properties\":{},\"unit\":\"Count\",\"isQuotaApplicable\":false},\"id\":\"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.Network/locations/eastus/providers/Microsoft.Quota/quotas/CustomIpPrefixes\",\"type\":\"Microsoft.Quota/Qu[...]
