{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e64f3e8e-ab91-4a65-8cdd-5cd2f47d00b4/resourceGroups/extgov-pstest/providers/Microsoft.Sql/servers/extgov-pstest-svr/refreshExternalGovernanceStatus?api-version=2022-08-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/e64f3e8e-ab91-4a65-8cdd-5cd2f47d00b4/resourceGroups/extgov-pstest/providers/Microsoft.Sql/locations/eastus2euap/refreshExternalGovernanceStatusOperationResults/c97ce71f-d50f-4f05-8458-f70b3db28162?api-version=2022-08-01-preview"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/e64f3e8e-ab91-4a65-8cdd-5cd2f47d00b4/resourceGroups/extgov-pstest/providers/Microsoft.Sql/locations/eastus2euap/refreshExternalGovernanceStatusAzureAsyncOperation/c97ce71f-d50f-4f05-8458-f70b3db28162?api-version=2022-08-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpdatePurviewMetadata\",\r\n  \"startTime\": \"2023-03-16T05:24:11.59Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/e64f3e8e-ab91-4a65-8cdd-5cd2f47d00b4/resourceGroups/extgov-pstest/providers/Microsoft.Sql/locations/eastus2euap/refreshExternalGovernanceStatusAzureAsyncOperation/c97ce71f-d50f-4f05-8458-f70b3db28162?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"c97ce71f-d50f-4f05-8458-f70b3db28162\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2023-03-16T05:24:11.59Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e64f3e8e-ab91-4a65-8cdd-5cd2f47d00b4/resourceGroups/extgov-pstest/providers/Microsoft.Sql/locations/eastus2euap/refreshExternalGovernanceStatusOperationResults/c97ce71f-d50f-4f05-8458-f70b3db28162?api-version=2022-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"requestId\": \"c97ce71f-d50f-4f05-8458-f70b3db28162\",\r\n    \"requestType\": \"UpdatePurviewMetadata\",\r\n    \"queuedTime\": \"3/16/2023 5:24:11 AM\",\r\n    \"serverName\": \"extgov-pstest-svr\",\r\n    \"status\": \"Succeeded\"\r\n  },\r\n  \"id\": \"c97ce71f-d50f-4f05-8458-f70b3db28162\",\r\n  \"name\": \"c97ce71f-d50f-4f05-8458-f70b3db28162\",\r\n  \"type\": \"Microsoft.Sql/locations/refreshExternalGovernanceStatusOperationResults\"\r\n}",
      "StatusCode": 201
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "e64f3e8e-ab91-4a65-8cdd-5cd2f47d00b4"
  }
}