{
  "Entries": [
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups/RGName-ps9041?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9041\",\r\n  \"name\": \"RGName-ps9041\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9041/providers/Microsoft.EventGrid/domains/PSTestDomain-ps1638?api-version=2022-06-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"inputSchema\": \"EventGridSchema\",\r\n    \"publicNetworkAccess\": \"enabled\",\r\n    \"disableLocalAuth\": false,\r\n    \"autoCreateTopicWithFirstSubscription\": false,\r\n    \"autoDeleteTopicWithLastSubscription\": false\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/westcentralus/operationsStatus/36343B7E-CA10-482E-8AA0-888366FB7E48?api-version=2022-06-15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"endpoint\": null,\r\n    \"inputSchema\": \"EventGridSchema\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"disableLocalAuth\": false,\r\n    \"autoCreateTopicWithFirstSubscription\": false,\r\n    \"autoDeleteTopicWithLastSubscription\": false\r\n  },\r\n  \"systemData\": null,\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9041/providers/Microsoft.EventGrid/domains/PSTestDomain-ps1638\",\r\n  \"name\": \"PSTestDomain-ps1638\",\r\n  \"type\": \"Microsoft.EventGrid/domains\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/westcentralus/operationsStatus/36343B7E-CA10-482E-8AA0-888366FB7E48?api-version=2022-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/westcentralus/operationsStatus/36343B7E-CA10-482E-8AA0-888366FB7E48?api-version=2022-06-15\",\r\n  \"name\": \"36343b7e-ca10-482e-8aa0-888366fb7e48\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9041/providers/Microsoft.EventGrid/domains/PSTestDomain-ps1638?api-version=2022-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"endpoint\": \"https://pstestdomain-ps1638.westcentralus-1.eventgrid.azure.net/api/events\",\r\n    \"inputSchema\": \"EventGridSchema\",\r\n    \"metricResourceId\": \"9b045cff-8e3c-4a14-97c5-a46bc526d0ce\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"disableLocalAuth\": false,\r\n    \"autoCreateTopicWithFirstSubscription\": false,\r\n    \"autoDeleteTopicWithLastSubscription\": false,\r\n    \"dataResidencyBoundary\": \"WithinGeopair\"\r\n  },\r\n  \"systemData\": null,\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9041/providers/Microsoft.EventGrid/domains/PSTestDomain-ps1638\",\r\n  \"name\": \"PSTestDomain-ps1638\",\r\n  \"type\": \"Microsoft.EventGrid/domains\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9622/providers/Microsoft.EventGrid/domains/PSTestDomain-ps9117?api-version=2022-06-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"inputSchema\": \"EventGridSchema\",\r\n    \"publicNetworkAccess\": \"enabled\",\r\n    \"disableLocalAuth\": false,\r\n    \"autoCreateTopicWithFirstSubscription\": false,\r\n    \"autoDeleteTopicWithLastSubscription\": false\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {\r\n    \"Environment\": \"Test\",\r\n    \"Dept\": \"IT\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/westcentralus/operationsStatus/FB69C1A9-25DC-4957-8FCA-5501B2707810?api-version=2022-06-15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"endpoint\": null,\r\n    \"inputSchema\": \"EventGridSchema\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"disableLocalAuth\": false,\r\n    \"autoCreateTopicWithFirstSubscription\": false,\r\n    \"autoDeleteTopicWithLastSubscription\": false\r\n  },\r\n  \"systemData\": null,\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {\r\n    \"Environment\": \"Test\",\r\n    \"Dept\": \"IT\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9622/providers/Microsoft.EventGrid/domains/PSTestDomain-ps9117\",\r\n  \"name\": \"PSTestDomain-ps9117\",\r\n  \"type\": \"Microsoft.EventGrid/domains\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9622/providers/Microsoft.EventGrid/domains?api-version=2022-06-15&$top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"endpoint\": \"https://pstestdomain-ps9117.westcentralus-1.eventgrid.azure.net/api/events\",\r\n        \"inputSchema\": \"EventGridSchema\",\r\n        \"metricResourceId\": \"0eb7d248-05f4-40c6-8c23-f7b890d1eac3\",\r\n        \"publicNetworkAccess\": \"Enabled\",\r\n        \"disableLocalAuth\": false,\r\n        \"autoCreateTopicWithFirstSubscription\": false,\r\n        \"autoDeleteTopicWithLastSubscription\": false,\r\n        \"dataResidencyBoundary\": \"WithinGeopair\"\r\n      },\r\n      \"systemData\": null,\r\n      \"location\": \"westcentralus\",\r\n      \"tags\": {\r\n        \"Environment\": \"Test\",\r\n        \"Dept\": \"IT\"\r\n      },\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9622/providers/Microsoft.EventGrid/domains/PSTestDomain-ps9117\",\r\n      \"name\": \"PSTestDomain-ps9117\",\r\n      \"type\": \"Microsoft.EventGrid/domains\"\r\n    }\r\n  ],\r\n  \"nextLink\": \"https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9622/providers/Microsoft.EventGrid/domains?api-version=2022-06-15&$skiptoken=%5b%7b%22token%22%3a%22%2bRID%3a%7egx8DAKys5Qd%2b%2bBsAAAAAAA%3d%3d%23RT%3a1%23TRC%3a1%23ISV%3a2%23IEO%3a65551%23QCF%3a8%23FPC%3aAgFvb28EAH64AIA%3d%22%2c%22range%22%3a%7b%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7d%7d%5d&$top=1\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9622/providers/Microsoft.EventGrid/domains?api-version=2022-06-15&$skiptoken=%5b%7B%22token%22%3a%22%2bRID%3a~gx8DAKys5Qd%2b%2bBsAAAAAAA%3d%3d%23RT%3a1%23TRC%3a1%23ISV%3a2%23IEO%3a65551%23QCF%3a8%23FPC%3aAgFvb28EAH64AIA%3d%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D%5d&$top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
  [...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/domains?api-version=2022-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "20733e83-4a1a-47c5-8202-31a249224149",
          "bd70a287-517c-4059-9ef5-d0d7ee7f2aec",
          "44d75b03-7556-417a-ad45-5c900a4f23ad",
          "fc55158b-f6a7-48c0-a4c8-bfd82483cd14",
          "785859a6-c6df-4331-9c55-dbe04033d36c",
          "1d3844a8-334a-4efa-91af-86e09ec88bc2",
          "748d4009-3158-47ba-916e-0cff849a0cf7",
          "fe6546c9-c231-4cf9-afd6-297dc1b02110",
          "12101a17-b81f-4cb2-b5ed-b79ce37cd877",
          "7b124b45-02b5-485f-bbb3-0351003401c3",
          "209e81cd-adce-40d9-aeaa-de94384ed79e",
          "7b67e710-5d4b-4767-9885-0b804c58ebb5",
          "61838983-db28-4b33-953f-d7bb6ff417f8",
          "a7ed7251-fcad-48a2-910e-39f254276501"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"endpoint\": \"https://testdomain3.westus2-1.eventgrid.azure.net/api/events\",\r\n        \"inputSchema\": \"EventGridSchema\",\r\n        \"metricResourceId\": \"8c2c8d2b-d07d-43a0-a9c7-1118cfa23fe5\",\r\n        \"publicNetworkAccess\": \"Enabled\",\r\n        \"dataResidencyBoundary\": \"WithinGeopair\"\r\n      },\r\n      \"identity\": {\r\n        \"type\": \"SystemAssigned\",\r\n        \"principalId\": \"405c34b5-6a06-4fa7-b278-84da4f864ac4\",\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"userAssignedIdentities\": null\r\n      },\r\n      \"systemData\": null,\r\n      \"location\": \"westus2\",\r\n      \"tags\": {\r\n        \"{tag1\": \"value1}\"\r\n      },\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/amh/providers/Microsoft.EventGrid/domains/testDomain3\",\r\n      \"name\": \"testDomain3\",\r\n      \"type\": \"Microsoft.EventGrid/domains\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"endpoint\"[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/domains?api-version=2022-06-15&%24skiptoken=TZFtT9swEMe%2fS0R4RZrg1k2phKYjdbYMCiQtaLy0Y2NMFzuyTYeG%2bO6zO4SwTvbvTn%2fdk98SLV79ldI7lyzfkopcbzu4utuQO7hNlsmT96Nb5vlANZViENpP6N8XKya9GXL3wlxv1eiV0S7HbMbmuBAZWrCzbFaeFRmbUpZxzvhiwUtU9rN8tGavuLAuX6veGmce%2fYTsQ9rvVvGcm4Eq7b7RUWX7IAp5z1GBUFbMs1N8fOR2oZjZCX2eYpaWLEXo4IY3ndJ4I9Y1q8il2PhawNo%2bo5ZgBz38P%2bmUR0PTbhtkpwG2XRUIFQGbzX3ESOQm0BxjHCVtVQdvEai%2bjWKQRPRPMwIr8gfgwYG8%2bGGfdxXUw%2fWNbKE29Vz%2bbitoLpv7tgH2kzOQK%2b9%2bNQRqsg%2bhQxOhUh%2b6tlRL8THDYahB6S8jfagG%2bvoZrOuIJY%2bG%2bfGRN2NYVPJ%2bklA7gJRWSOoF38ZdhV%2bEbp28%2fwM%3d",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "fff50761-c27a-4ed2-ad63-0abe99453d6c"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"endpoint\": \"https://testdomainipfiltering11.centraluseuap-1.eventgrid.azure.net/api/events\",\r\n        \"inputSchema\": \"EventGridSchema\",\r\n        \"metricResourceId\": \"52a3c764-c754-4f28-8e1b-6eddf99638ff\",\r\n        \"publicNetworkAccess\": \"Enabled\",\r\n        \"inboundIpRules\": [\r\n          {\r\n            \"ipMask\": \"10.2.0.0/8\",\r\n            \"action\": \"Allow\"\r\n          }\r\n        ],\r\n        \"dataResidencyBoundary\": \"WithinGeopair\"\r\n      },\r\n      \"systemData\": null,\r\n      \"location\": \"centraluseuap\",\r\n      \"tags\": null,\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/amh/providers/Microsoft.EventGrid/domains/testDomainIpFiltering11\",\r\n      \"name\": \"testDomainIpFiltering11\",\r\n      \"type\": \"Microsoft.EventGrid/domains\"\r\n    },\r\n    {\r\n      \"properties[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/domains?api-version=2022-06-15&$top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "5b5a250c-c602-4978-89f9-dc55cd8c169f",
          "5fcc70c8-a4a0-4325-ad6c-70f3ccbc2f7d",
          "b74b72eb-cfbf-4a96-8f8d-a971bb698219",
          "cbaf77b7-4c1f-49f1-9172-0ec7bb4532[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/domains?api-version=2022-06-15&%24top=1&%24skiptoken=1ZbbTqtAFIbfhVivRHAoB03MzoIOMCrWATy0d5wcsHLYQGu3xnffQ%2bs2%2bwHwomQC%2f6ysrFnJl38NH0KVbfubolp1wsWH8IiD8D5AwoWQ933TXUhSGVURy8qs6k%2bj93WbnSZ1KXXruEvaoumLuuokNZ7GmipnIjLic3Gqn8tirESxmKZxahipjvRkKjVtvSnSrO0kr0jauquf%2b1O84WWdtkiltC6joup%2bRU0hbngSr3uJZIREWRPP1OOjbsUPq1dZdTlR44keTxDabfl3okTDG8U%2bmQ1az5Kn2xVcreGcJetnYLB%2fJko6LKT4IU874yL0rS[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9041/providers/Microsoft.EventGrid/domains/PSTestDomain-ps1638?api-version=2022-06-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/westcentralus/operationResults/A0C3D80D-E6D5-463E-AE28-1F880719FD17?api-version=2022-06-15"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/westcentralus/operationsStatus/A0C3D80D-E6D5-463E-AE28-1F880719FD17?api-version=2022-06-15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/westcentralus/operationResults/A0C3D80D-E6D5-463E-AE28-1F880719FD17?api-version=2022-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9041/providers/Microsoft.EventGrid/domains?api-version=2022-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR05BTUU6MkRQUzkwNDEtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR05BTUU6MkRQUzk2MjItV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR05BTUU6MkRQUzk2MjItV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "": [
      "ps1638",
      "ps9117",
      "ps9533",
      "ps583",
      "ps9041",
      "ps9622"
    ]
  },
  "Variables": {
    "SubscriptionId": "5b4b650e-28b9-4790-b3ab-ddbd88d727c4"
  }
}