{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups/RGName-ps294?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups/RGName-ps8965?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "d2ab4981-c2a8-4c81-9dbf-e20f115aaa4f"
=======
          "e044d056-db39-4a39-8fec-415b748abdc1"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.2.0"
=======
          "FxVersion/4.6.28928.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.17"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "35"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "47ae5c59-a0df-4821-a1bd-1fe3b18a0c12"
        ],
        "x-ms-correlation-request-id": [
          "47ae5c59-a0df-4821-a1bd-1fe3b18a0c12"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20190604T082931Z:47ae5c59-a0df-4821-a1bd-1fe3b18a0c12"
=======
          "f0294359-8fcd-441f-bff7-3b11020a700f"
        ],
        "x-ms-correlation-request-id": [
          "f0294359-8fcd-441f-bff7-3b11020a700f"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200702T203707Z:f0294359-8fcd-441f-bff7-3b11020a700f"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 04 Jun 2019 08:29:31 GMT"
        ],
        "Content-Length": [
          "184"
=======
          "Thu, 02 Jul 2020 20:37:06 GMT"
        ],
        "Content-Length": [
          "186"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps294\",\r\n  \"name\": \"RGName-ps294\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps294/providers/Microsoft.EventGrid/domains/PSTestDomain-ps3877?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps8965\",\r\n  \"name\": \"RGName-ps8965\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps8965/providers/Microsoft.EventGrid/domains/PSTestDomain-ps1253?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"inputSchema\": \"EventGridSchema\",\r\n    \"publicNetworkAccess\": \"enabled\"\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.EventGrid.EventGridManagementClient/5.0.0.0"
=======
          "FxVersion/4.6.28928.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.EventGrid.EventGridManagementClient/6.0.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "35"
=======
          "137"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/westcentralus/operationsStatus/115C876C-F3A8-4CD9-A68D-8548387EF0B0?api-version=2019-06-01"
        ],
        "x-ms-request-id": [
          "00981e11-0ebe-42cf-9f7e-5ec86e1d0795"
=======
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/westcentralus/operationsStatus/73534F06-CFB1-423E-BBD9-795909AA67C9?api-version=2020-06-01"
        ],
        "x-ms-request-id": [
          "7d3cedde-2d12-477a-8c26-9acabda21484"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1194"
        ],
        "x-ms-correlation-request-id": [
          "6060a576-f6f1-4a69-811e-43e850621314"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20190604T082932Z:6060a576-f6f1-4a69-811e-43e850621314"
=======
          "1199"
        ],
        "x-ms-correlation-request-id": [
          "8013a7a7-d70d-45a8-b0ba-b9c78803d886"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200702T203710Z:8013a7a7-d70d-45a8-b0ba-b9c78803d886"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 04 Jun 2019 08:29:31 GMT"
        ],
        "Content-Length": [
          "313"
=======
          "Thu, 02 Jul 2020 20:37:09 GMT"
        ],
        "Content-Length": [
          "378"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"endpoint\": null\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps294/providers/Microsoft.EventGrid/domains/PSTestDomain-ps3877\",\r\n  \"name\": \"PSTestDomain-ps3877\",\r\n  \"type\": \"Microsoft.EventGrid/domains\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/westcentralus/operationsStatus/115C876C-F3A8-4CD9-A68D-8548387EF0B0?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"endpoint\": null,\r\n    \"inputSchema\": \"EventGridSchema\",\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps8965/providers/Microsoft.EventGrid/domains/PSTestDomain-ps1253\",\r\n  \"name\": \"PSTestDomain-ps1253\",\r\n  \"type\": \"Microsoft.EventGrid/domains\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps294/providers/Microsoft.EventGrid/domains/PSTestDomain-ps3877?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/westcentralus/operationsStatus/73534F06-CFB1-423E-BBD9-795909AA67C9?api-version=2020-06-01\",\r\n  \"name\": \"73534f06-cfb1-423e-bbd9-795909aa67c9\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps294/providers/Microsoft.EventGrid/domains/PSTestDomain-ps3877/topics/PSTestDomainTopic-ps6726/providers/Microsoft.EventGrid/eventSubscriptions/EventSubscription-ps5655?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"destination\": {\r\n      \"endpointType\": \"WebHook\",\r\n      \"properties\": {\r\n        \"endpointUrl\": \"https://devexpfuncappdestination.azurewebsites.net/runtime/webhooks/EventGrid?functionName=EventGridTrigger1&code=<HIDDEN>\"\r\n      }\r\n    },\r\n    \"filter\": {\r\n      \"isSubjectCaseSensitive\": false\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"endpoint\": \"https://pstestdomain-ps1253.westcentralus-1.eventgrid.azure.net/api/events\",\r\n    \"inputSchema\": \"EventGridSchema\",\r\n    \"metricResourceId\": \"1a7f153b-cdbb-43f5-821d-9e801e9af409\",\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps8965/providers/Microsoft.EventGrid/domains/PSTestDomain-ps1253\",\r\n  \"name\": \"PSTestDomain-ps1253\",\r\n  \"type\": \"Microsoft.EventGrid/domains\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps8965/providers/Microsoft.EventGrid/domains/PSTestDomain-ps1253/topics/PSTestDomainTopic-ps7741/providers/Microsoft.EventGrid/eventSubscriptions/EventSubscription-ps9263?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"destination\": {\r\n      \"endpointType\": \"WebHook\",\r\n      \"properties\": {\r\n        \"endpointUrl\": \"https://devexpfuncappdestination.azurewebsites.net/runtime/webhooks/EventGrid?functionName=EventGridTrigger1&code=<HIDDEN>\"\r\n      }\r\n    },\r\n    \"filter\": {\r\n      \"isSubjectCaseSensitive\": false\r\n    },\r\n    \"eventDeliverySchema\": \"EventGridSchema\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.EventGrid.EventGridManagementClient/5.0.0.0"
=======
          "FxVersion/4.6.28928.01",
          "OSName/Windows",
          "O[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/westcentralus/operationsStatus/AF1F1758-DB5A-41C7-9074-17E715080906?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"topic\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/rgname-ps8965/providers/microsoft.eventgrid/domains/pstestdomain-ps1253/topics/pstestdomaintopic-ps7741\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"destination\": {\r\n      \"properties\": {\r\n        \"endpointUrl\": null,\r\n        \"endpointBaseUrl\": \"https://devexpfuncappdestination.azurewebsites.net/runtime/webhooks/EventGrid\"\r\n      },\r\n      \"endpointType\": \"WebHook\"\r\n    },\r\n    \"filter\": {},\r\n    \"labels\": null,\r\n    \"eventDeliverySchema\": \"EventGridSchema\",\r\n    \"retryPolicy\": {\r\n      \"maxDeliveryAttempts\": 30,\r\n      \"eventTimeToLiveInMinutes\": 1440\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps8965/providers/Microsoft.EventGrid/domains/PSTestDomain-ps1253/topics/PSTestDomainTopic-ps7741/providers/Microsoft.EventGrid/eventSubscriptions/EventSubscription-ps9263\",\r\n  \"name\": \"EventSubscription-ps9263\",\r\n  \"type\": \"Microsoft.EventGrid/eventSubscriptions\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "//subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps294/providers/Microsoft.EventGrid/domains/PSTestDomain-ps3877/topics/PSTestDomainTopic-ps9141/providers/Microsoft.EventGrid/eventSubscriptions/EventSubscription-ps5655?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"destination\": {\r\n      \"endpointType\": \"WebHook\",\r\n      \"properties\": {\r\n        \"endpointUrl\": \"https://devexpfuncappdestination.azurewebsites.net/runtime/webhooks/EventGrid?functionName=EventGridTrigger1&code=<HIDDEN>\"\r\n      }\r\n    },\r\n    \"filter\": {\r\n      \"isSubjectCaseSensitive\": false\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"topic\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/rgname-ps8965/providers/microsoft.eventgrid/domains/pstestdomain-ps1253/topics/pstestdomaintopic-ps7741\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"destination\": {\r\n      \"properties\": {\r\n        \"endpointUrl\": null,\r\n        \"endpointBaseUrl\": \"https://devexpfuncappdestination.azurewebsites.net/runtime/webhooks/EventGrid\",\r\n        \"maxEventsPerBatch\": 1,\r\n        \"preferredBatchSizeInKilobytes\": 64\r\n      },\r\n      \"endpointType\": \"WebHook\"\r\n    },\r\n    \"filter\": {\r\n      \"subjectBeginsWith\": \"\",\r\n      \"subjectEndsWith\": \"\"\r\n    },\r\n    \"labels\": null,\r\n    \"eventDeliverySchema\": \"EventGridSchema\",\r\n    \"retryPolicy\": {\r\n      \"maxDeliveryAttempts\": 30,\r\n      \"eventTimeToLiveInMinutes\": 1440\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps8965/providers/Microsoft.EventGrid/domains/PSTestDomain-ps1253/topics/PSTestDomainTopic-ps7741/providers/Microsoft.EventGrid/eventSubscriptions/EventSubscription-ps9263\",\r\n  \"name\": \"EventSubscription-ps9263\",\r\n  \"type\": \"Microsoft.EventGrid/eventSubscriptions\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps294/providers/Microsoft.EventGrid/domains/PSTestDomain-ps3877/topics/PSTestDomainTopic-ps7489?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"topic\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/rgname-ps8965/providers/microsoft.eventgrid/domains/pstestdomain-ps1253/topics/pstestdomaintopic-ps7437\",\r\n    \"provisioningState\"[...]
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps294/providers/Microsoft.EventGrid/domains/PSTestDomain-ps3877/topics?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps8965/providers/Microsoft.EventGrid/domains/PSTestDomain-ps1253/topics/PSTestDomainTopic-ps4191\",\r\n  \"name\": \"PSTestDomainTopic-ps4191\",\r\n  \"type\": \"Microsoft.EventGrid/domains/topics\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps294/providers/Microsoft.EventGrid/domains/PSTestDomain-ps3877/topics?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/rgname-ps8965/providers/Microsoft.EventGrid/domains/pstestdomain-ps1253/topics/pstestdomaintopic-ps7741\",\r\n      \"name\": \"pstestdomaintopic-ps7741\",\r\n      \"type\": \"Microsoft.EventGrid/domains/topics\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n    [...]
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps294/providers/Microsoft.EventGrid/domains/PSTestDomain-ps3877/topics?api-version=2019-06-01&$filter=Name%20ne%20%27PSTestDomainTopic-ps7489%27&$top=2",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/rgname-ps896[...]
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps294/providers/Microsoft.EventGrid/domains/PSTestDomain-ps3877/topics?api-version=2019-06-01&$skiptoken=%7B%22token%22%3a%22%2bRID%3agx8DAKys5Qc%2b4AQAAAAAAA%3d%3d%23RT%3a1%23TRC%3a2%23FPC%3aAT7gBAAAAAAAP%2bAEAAAAAAA%3d%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D&$top=2&$filter=Name%20ne%20'PSTestDomainTopic-ps7489'",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/rgname-ps8965/providers/Microsoft.EventGrid/domains/pstestdomain-ps1253/topics/pstestdomaintopic-ps7741\",\r\n      \"name\": \"pstestdomaintopic-ps7741\",\r\n      \"type\": \"Microsoft.EventGrid/domains/topics\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/rgname-ps8965/providers/Microsoft.EventGrid/domains/pstestdomain-ps1253/topics/pstestdomaintopic-ps601\",\r\n      \"name\": \"pstestdomaintopic-ps601\",\r\n      \"type\": \"Microsoft.EventGrid/domains/topics\"\r\n    }\r\n  ],\r\n  \"nextLink\": \"https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps8965/providers/Microsoft.EventGrid/domains/PSTestDomain-ps1253/topics?api-version=2020-06-01&$skiptoken=%7b%22token%22%3a%22%2bRID%3a%7egx8DAKys5Qc1gAkAAAAAAA%3d%3d%23RT%3a1%23TRC%3a2%23ISV%3a2%23IEO%3a65551%23FPC%3aATWACQAAAAAAN4AJAAAAAAA%3d%22%2c%22range%22%3a%7b%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7d%7d&$top=2&$filter=Name ne 'PSTestDomainTopic-ps4191'\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps8965/providers/Microsoft.EventGrid/domains/PSTestDomain-ps1253/topics?api-version=2020-06-01&$skiptoken=%7B%22token%22%3a%22%2bRID%3a~gx8DAKys5Qc1gAkAAAAAAA%3d%3d%23RT%3a1%23TRC%3a2%23ISV%3a2%23IEO%3a65551%23FPC%3aATWACQAAAAAAN4AJAAAAAAA%3d%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D&$top=2&$filter=Name%20ne%20'PSTestDomainTopic-ps4191'",
>>>>>>> d78b04a5306127f583235b[...]
[...]
    {
      "RequestUri": "//subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps8965/providers/Microsoft.EventGrid/domains/PSTestDomain-ps1253/topics/PSTestDomainTopic-ps7437/providers/Microsoft.EventGrid/eventSubscriptions/EventSubscription-ps9263?api-version=2020-06-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "820a3e66-3f0e-4346-affa-8ba0f6a5fa63"
=======
          "42b77e34-ea4b-4de6-be40-396d314dd9cf"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.EventGrid.EventGridManagementClient/5.0.0.0"
=======
          "FxVersion/4.6.28928.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.EventGrid.EventGridManagementClient/6.0.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/westcentralus/operationResults/18B40BA8-0FE9-49EF-90E7-242A86AA56F3?api-version=2019-06-01"
=======
          "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/westcentralus/operationResults/70E339C6-580E-4361-955E-5FA729541EF8?api-version=2020-06-01"
>>>>>>> d78b04a5306127f583235b[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/westcentralus/operationResults/18B40BA8-0FE9-49EF-90E7-242A86AA56F3?api-version=2019-06-01",
=======
          "Thu, 02 Jul 2020 20:39:04 GMT"
        ],
        "Content-Length": [
          "286"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/westcentralus/operationsStatus/70E339C6-580E-4361-955E-5FA729541EF8?api-version=2020-06-01\",\r\n  \"name\": \"70e339c6-580e-4361-955e-5fa729541ef8\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps294/providers/Microsoft.EventGrid/domains/PSTestDomain-ps3877/topics/PSTestDomainTopic-ps6726?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"Domain topic PSTestDomainTopic-ps7437 under Domain PSTestDomain-ps1253 is not found. Please check the domain topic name and try again.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
