{
  "Entries": [
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourcegroups/ps9929?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"testtag\": \"testval\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929\",\r\n  \"name\": \"ps9929\",\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"testtag\": \"testval\",\r\n    \"Created\": \"2024-09-25T05:25:23.2804513Z\",\r\n    \"skipNRMSNSG\": \"true\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkManagers/ps3095' under resource group 'ps9929' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps3095\",\r\n  \"id\": \"/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095\",\r\n  \"location\": \"centraluseuap\",\r\n  \"type\": \"Microsoft.Network/networkManagers\",\r\n  \"tags\": {},\r\n  \"etag\": \"\\\"0a007d49-0000-3300-0000-66f39ec80000\\\"\",\r\n  \"properties\": {\r\n    \"description\": \"\",\r\n    \"networkManagerScopes\": {\r\n      \"managementGroups\": [],\r\n      \"subscriptions\": [\r\n        \"/subscriptions/dd7b516d-9de0-4fd6-b6f2-db41b3ee0c0c\"\r\n      ],\r\n      \"crossTenantScopes\": []\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"networkManagerScopeAccesses\": [\r\n      \"SecurityUser\"\r\n    ],\r\n    \"resourceGuid\": \"433be4f1-589f-45cb-ad1a-5ba5cbf804d2\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"ankursood@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-09-25T05:25:27.3612439Z\",\r\n    \"lastModifiedBy\": \"ankursood@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2024-09-25T05:25:27.3612439Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/networkGroups/ps3275?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"message\": \"Resource [/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/networkGroups/ps3275] does not exist or has been deleted\",\r\n    \"code\": \"NotFound\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/networkGroups/ps3275?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps3275\",\r\n  \"id\": \"/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/networkGroups/ps3275\",\r\n  \"type\": \"Microsoft.Network/networkManagers/networkGroups\",\r\n  \"etag\": \"\\\"0a008449-0000-3300-0000-66f39ecb0000\\\"\",\r\n  \"properties\": {\r\n    \"description\": \"Sample SecurityUser Configuration\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"memberType\": \"Subnet\",\r\n    \"resourceGuid\": \"7beacde1-a02b-4ed6-9234-e13054af4e45\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"ankursood@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-09-25T05:25:31.2837811Z\",\r\n    \"lastModifiedBy\": \"ankursood@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2024-09-25T05:25:31.2837811Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/networkGroups/ps3275/staticMembers/ps5050?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"message\": \"Resource [/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/networkGroups/ps3275/staticMembersps5050] does not exist or has been deleted\",\r\n    \"code\": \"NotFound\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/networkGroups/ps3275/staticMembers/ps5050?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5050\",\r\n  \"id\": \"/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/networkGroups/ps3275/staticMembers/ps5050\",\r\n  \"type\": \"Microsoft.Network/networkManagers/networkGroups/staticMembers\",\r\n  \"etag\": \"\\\"0a008a49-0000-3300-0000-66f39ece0000\\\"\",\r\n  \"properties\": {\r\n    \"resourceId\": \"/subscriptions/dd7b516d-9de0-4fd6-b6f2-db41b3ee0c0c/resourceGroups/SwaggerStackRG/providers/Microsoft.Network/virtualNetworks/SwaggerStackVnet/subnets/subnet1\",\r\n    \"provisioningState\": \"Failed\",\r\n    \"location\": \"\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"ankursood@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-09-25T05:25:33.8662642Z\",\r\n    \"lastModifiedBy\": \"ankursood@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2024-09-25T05:25:33.8662642Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations/ps5223?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"message\": \"Resource [/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations/ps5223] does not exist or has been deleted\",\r\n    \"code\": \"NotFound\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nextLink\": \"\",\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ps5223\",\r\n      \"id\": \"/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations/ps5223\",\r\n      \"type\": \"Microsoft.Network/networkManagers/securityUserConfigurations\",\r\n      \"etag\": \"\\\"0a008f49-0000-3300-0000-66f39ed10000\\\"\",\r\n      \"properties\": {\r\n        \"description\": \"Sample Network Manager\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"175a64d1-ee87-4d24-928b-b435640b5298\"\r\n      },\r\n      \"systemData\": {\r\n        \"createdBy\": \"ankursood@microsoft.com\",\r\n        \"createdByType\": \"User\",\r\n        \"createdAt\": \"2024-09-25T05:25:37.4921624Z\",\r\n        \"lastModifiedBy\": \"ankursood@microsoft.com\",\r\n        \"lastModifiedByType\": \"User\",\r\n        \"lastModifiedAt\": \"2024-09-25T05:25:37.4921624Z\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations/ps5223/ruleCollections/ps6262?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"message\": \"Resource [/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations/ps5223/ruleCollections/ps6262] does not exist or has been deleted\",\r\n    \"code\": \"NotFound\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations/ps5223/ruleCollections/ps6262?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps6262\",\r\n  \"id\": \"/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations/ps5223/ruleCollections/ps6262\",\r\n  \"type\": \"Microsoft.Network/networkManagers/securityUserConfigurations/ruleCollections\",\r\n  \"etag\": \"\\\"0a009c49-0000-3300-0000-66f39ed80000\\\"\",\r\n  \"properties\": {\r\n    \"description\": \"\",\r\n    \"appliesToGroups\": [\r\n      {\r\n        \"networkGroupId\": \"/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/networkGroups/ps3275\"\r\n      }\r\n    ],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"c9e97247-6453-4e23-9b82-4dc3c7f25e4e\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"ankursood@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-09-25T05:25:44.3030482Z\",\r\n    \"lastModifiedBy\": \"ankursood@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2024-09-25T05:25:44.3030482Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations/ps5223/ruleCollections?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
[...]
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations/ps5223/ruleCollections/ps6262/rules/ps7320?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"message\": \"Resource [/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations/ps5223/ruleCollections/ps6262/rules/ps7320] does not exist or has been deleted\",\r\n    \"code\": \"NotFound\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations/ps5223/ruleCollections/ps6262/rules/ps7320?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps7320\",\r\n  \"id\": \"/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations/ps5223/ruleCollections/ps6262/rules/ps7320\",\r\n  \"type\": \"Microsoft.Network/networkManagers/securityUserConfigurations/ruleCollections/rules\",\r\n  \"etag\": \"\\\"0a00ad49-0000-3300-0000-66f39ee00000\\\"\",\r\n  \"properties\": {\r\n    \"description\": \"Description\",\r\n    \"protocol\": \"Tcp\",\r\n    \"direction\": \"Inbound\",\r\n    \"sources\": [\r\n      {\r\n        \"addressPrefixType\": \"IPPrefix\",\r\n        \"addressPrefix\": \"10.1.0.0/24\"\r\n      },\r\n      {\r\n        \"addressPrefixType\": \"IPPrefix\",\r\n        \"addressPrefix\": \"50.1.0.0/24\"\r\n      }\r\n    ],\r\n    \"destinations\": [\r\n      {\r\n        \"addressPrefixType\": \"IPPrefix\",\r\n        \"addressPrefix\": \"6.6.6.6/32\"\r\n      },\r\n      {\r\n        \"addressPrefixType\": \"IPPrefix\",\r\n        \"addressPrefix\": \"7.7.7.7/32\"\r\n      }\r\n    ],\r\n    \"sourcePortRanges\": [\r\n      \"100\",\r\n      \"80\"\r\n    ],\r\n    \"destinationPortRanges\": [\r\n      \"99\",\r\n      \"200\"\r\n    ],\r\n    \"flag\": \"\",\r\n    \"resourceGuid\": \"532132d4-ab3f-4fc1-a3e6-b396ca45711b\"\r\n  },\r\n  \"kind\": \"Custom\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"ankursood@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-09-25T05:25:52.551181Z\",\r\n    \"lastModifiedBy\": \"ankursood@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2024-09-25T05:25:52.551181Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations/ps5223/ruleCollections/ps6262/rules?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; ch[...]
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/commit?api-version=2024-03-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"targetLocations\": [\r\n    \"centraluseuap\"\r\n  ],\r\n  \"configurationIds\": [\r\n    \"/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations/ps5223\"\r\n  ],\r\n  \"commitType\": \"SecurityUser\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/operationResults/00000000-0000-0000-0000-000000000000?api-version=2024-03-01&t=638628387566812354&c=MIIHpTCCBo2gAwIBAgITOgOyrKG1I7-uwOPtkAAEA7KsoTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTIyMTEzNzIyWhcNMjUwMzIxMTEzNzIyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhd[...]
[...]
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/operationResults/00000000-0000-0000-0000-000000000000?api-version=2024-03-01&t=638628387566812354&c=MIIHpTCCBo2gAwIBAgITOgOyrKG1I7-uwOPtkAAEA7KsoTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTIyMTEzNzIyWhcNMjUwMzIxMTEzNzIyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
[...]
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/listDeploymentStatus?api-version=2024-03-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"regions\": [\r\n    \"centraluseuap\"\r\n  ],\r\n  \"deploymentTypes\": [\r\n    \"SecurityUser\"\r\n  ]\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"skipToken\": \"\",\r\n  \"value\": [\r\n    {\r\n      \"deploymentType\": \"SecurityUser\",\r\n      \"configurationIds\": [\r\n        \"/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations/ps5223\"\r\n      ],\r\n      \"region\": \"centraluseuap\",\r\n      \"deploymentStatus\": \"Deployed\",\r\n      \"errorMessage\": \"\",\r\n      \"commitTime\": \"2024-09-25T05:25:56Z\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/operationResults/00000000-0000-0000-0000-000000000000?api-version=2024-03-01&t=638628387899989752&c=MIIHpTCCBo2gAwIBAgITOgOyrKG1I7-uwOPtkAAEA7KsoTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTIyMTEzNzIyWhcNMjUwMzIxMTEzNzIyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
[...]
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations/ps5223/ruleCollections/ps6262/rules/ps7320?api-version=2024-03-01&force=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations/ps5223/ruleCollections/ps6262?api-version=2024-03-01&force=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/securityUserConfigurations/ps5223?api-version=2024-03-01&force=true",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/networkGroups/ps3275?api-version=2024-03-01&force=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/network[...]
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095/networkGroups/ps3275/operationResults/7beacde1-a02b-4ed6-9234-e13054af4e45?api-version=2024-03-01&t=638628388285151646&c=MIIHpTCCBo2gAwIBAgITOgOyrKG1I7-uwOPtkAAEA7KsoTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTIyMTEzNzIyWhcNMjUwMzIxMTEzNzIyWjBAMT4wPAYDVQQDEzVhc3luY29[...]
[...]
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/resourceGroups/ps9929/providers/Microsoft.Network/networkManagers/ps3095?api-version=2024-03-01&force=false",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/16319507-0b13-46b9-9dcb-b943a4ee1d70/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzk5MjktQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01&t=638628388623623813&c=MIIHpTCCBo2gAwIBAgITOgOyrKG1I7-uwOPtkAAEA7KsoTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTIyMTEzNzIyWhcNMjUwMzIxMTEzNzIyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ[...]
[...]
