{
  "New-AzOperationalInsightsTable+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/dabenham-dev/providers/Microsoft.OperationalInsights/workspaces/dabenham-PSH2/tables/danielKukuTest_CL?api-version=2021-12-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/dabenham-dev/providers/Microsoft.OperationalInsights/workspaces/dabenham-PSH2/tables/danielKukuTest_CL?api-version=2021-12-01-preview",
      "Content": "{\n  \"properties\": {\n    \"schema\": {\n      \"name\": \"danielKukuTest_CL\",\n      \"columns\": [\n        {\n          \"name\": \"SourceSystem\",\n          \"type\": \"string\",\n          \"description\": \"Type of agent the data was collected from. Possible values are OpsManager (Windows agent) or Linux.\"\n        },\n        {\n          \"name\": \"TimeGenerated\",\n          \"type\": \"datetime\",\n          \"description\": \"Date and time the record was created.\"\n        }\n      ]\n    },\n    \"retentionInDays\": 33,\n    \"totalRetentionInDays\": 55\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/dabenham-dev/providers/Microsoft.OperationalInsights/workspaces/dabenham-PSH2/tables/danielKukuTest_CL/operationresults/9f325b58-50fb-4827-9ba2-f5cf1c8925fc?api-version=2021-12-01-preview" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/providers/Microsoft.OperationalInsights/locations/eastus/operationStatuses/9f325b58-50fb-4827-9ba2-f5cf1c8925fc?api-version=2015-11-01-preview" ],
        "X-AMS-APIVersion": [ "WebAPI1.0" ],
        "CacheControl": [ "no-cache" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "New-AzOperationalInsightsTable+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/providers/Microsoft.OperationalInsights/locations/eastus/operationStatuses/9f325b58-50fb-4827-9ba2-f5cf1c8925fc?api-version=2015-11-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/providers/Microsoft.OperationalInsights/locations/eastus/operationStatuses/9f325b58-50fb-4827-9ba2-f5cf1c8925fc?api-version=2015-11-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "7" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "X-AMS-APIVersion": [ "WebAPI1.0" ],
        "CacheControl": [ "no-cache" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11994" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"9f325b58-50fb-4827-9ba2-f5cf1c8925fc\",\r\n  \"id\": \"/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/providers/Microsoft.OperationalInsights/locations/eastus/operationStatuses/9f325b58-50fb-4827-9ba2-f5cf1c8925fc\",\r\n  \"startTime\": \"Mon, 31 Jan 2022 16:39:19 GMT\"\r\n}",
    }
  },
  "New-AzOperationalInsightsTable+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/providers/Microsoft.OperationalInsights/locations/eastus/operationStatuses/9f325b58-50fb-4827-9ba2-f5cf1c8925fc?api-version=2015-11-01-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/providers/Microsoft.OperationalInsights/locations/eastus/operationStatuses/9f325b58-50fb-4827-9ba2-f5cf1c8925fc?api-version=2015-11-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "8" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "X-AMS-APIVersion": [ "WebAPI1.0" ],
        "CacheControl": [ "no-cache" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11993" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"9f325b58-50fb-4827-9ba2-f5cf1c8925fc\",\r\n  \"id\": \"/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/providers/Microsoft.OperationalInsights/locations/eastus/operationStatuses/9f325b58-50fb-4827-9ba2-f5cf1c8925fc\",\r\n  \"startTime\": \"Mon, 31 Jan 2022 16:39:19 GMT\",\r\n  \"endTime\": \"Mon, 31 Jan 2022 16:40:06 GMT\"\r\n}",
    }
  },
  "New-AzOperationalInsightsTable+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/dabenham-dev/providers/Microsoft.OperationalInsights/workspaces/dabenham-PSH2/tables/danielKukuTest_CL?api-version=2021-12-01-preview+4": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/dabenham-dev/providers/Microsoft.OperationalInsights/workspaces/dabenham-PSH2/tables/danielKukuTest_CL?api-version=2021-12-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "9" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "X-AMS-APIVersion": [ "WebAPI1.0" ],
        "CacheControl": [ "no-cache" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11992" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"properties\": {\r\n    \"totalRetentionInDays\": 55,\r\n    \"archiveRetentionInDays\": 22,\r\n    \"plan\": \"Analytics\",\r\n    \"lastPlanModifiedDate\": \"2022-01-31T14:14:41.9\",\r\n    \"schema\": {\r\n      \"tableSubType\": \"DataCollectionRuleBased\",\r\n      \"name\": \"danielKukuTest_CL\",\r\n      \"tableType\": \"CustomLog\",\r\n      \"columns\": [\r\n        {\r\n          \"name\": \"SourceSystem\",\r\n          \"type\": \"string\",\r\n          \"description\": \"Type of agent the data was collected from. Possible values are OpsManager (Windows agent) or Linux.\",\r\n          \"isDefaultDisplay\": false,\r\n          \"isHidden\": false\r\n        },\r\n        {\r\n          \"name\": \"TimeGenerated\",\r\n          \"type\": \"datetime\",\r\n          \"description\": \"Date and time the record was created.\",\r\n          \"isDefaultDisplay\": false,\r\n          \"isHidden\": false\r\n        }\r\n      ],\r\n      \"standardColumns\": [\r\n        {\r\n          \"name\": \"TenantId\",\r\n          \"type\": \"guid\",\r\n          \"isDefaultDisplay\": false,\r\n          \"isHidden\": false\r\n        }\r\n      ],\r\n      \"solutions\": [\r\n        \"LogManagement\"\r\n      ]\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"retentionInDays\": 33\r\n  },\r\n  \"id\": \"/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/dabenham-dev/providers/Microsoft.OperationalInsights/workspaces/dabenham-PSH2/tables/danielKukuTest_CL\",\r\n  \"name\": \"danielKukuTest_CL\"\r\n}",
    }
  }
}