{
  "Entries": [
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WATM/profiles",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<Profiles xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Profile>\r\n    <DomainName>cool-profile.trafficmanager.net</DomainName>\r\n    <Name>cool-profile</Name>\r\n    <Status>Enabled</Status>\r\n    <StatusDetails>\r\n      <EnabledVersion>1</EnabledVersion>\r\n    </StatusDetails>\r\n    <Definitions>\r\n      <Definition>\r\n        <Status>Enabled</Status>\r\n        <Version>1</Version>\r\n      </Definition>\r\n    </Definitions>\r\n  </Profile>\r\n</Profiles>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/services/WATM/profiles",
      "RequestMethod": "POST",
      "RequestBody": "<Profile xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <DomainName>INVALID</DomainName>\r\n  <Name>onesdk408</Name>\r\n</Profile>",
      "RequestHeaders": {
        "x-ms-version": [
          "2011-10-01"
        ]
      },
      "ResponseBody": "<Error xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Code>BadRequest</Code>\r\n  <Message>A policy with the requested domain name could not be created because the name INVALID does not end with the expected value .trafficmanager.net.</Message>\r\n</Error>",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ]
      },
      "StatusCode": 400
    }
  ],
  "Names": {
    "Test-NewProfileWithInvalidParameter": [
      "onesdk408"
    ]
  },
  "Variables": {
    "SubscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}