{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.PolicyInsights/policyEvents/default/queryResults?api-version=2017-12-12-preview&$top=5",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default\",\r\n  \"@odata.count\": 5,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity\",\r\n      \"Timestamp\": \"2018-03-21T22:19:40.4930246Z\",\r\n      \"ResourceId\": \"/subscriptions/bc8edd8f-a09f-499d-978d-6b5ed2f84852/resourceGroups/oi-default-east-us/providers/Microsoft.Automation/automationAccounts/aztestaccount-bd498c6ee3db44-20180321\",\r\n      \"PolicyAssignmentId\": \"/providers/Microsoft.Management/managementGroups/AzGovTest6/providers/Microsoft.Authorization/policyAssignments/ee64644dfa614abb9d98394e\",\r\n      \"PolicyDefinitionId\": \"/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.Authorization/policyDefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d\",\r\n      \"EffectiveParameters\": null,\r\n      \"IsCompliant\": false,\r\n      \"SubscriptionId\": \"bc8edd8f-a09f-499d-978d-6b5ed2f84852\",\r\n      \"ResourceType\": \"/Microsoft.Automation/automationAccounts\",\r\n      \"ResourceLocation\": \"southeastasia\",\r\n      \"ResourceGroup\": \"oi-default-east-us\",\r\n      \"ResourceTags\": \"tbd\",\r\n      \"PolicyAssignmentName\": \"ee64644dfa614abb9d98394e\",\r\n      \"PolicyAssignmentOwner\": \"tbd\",\r\n      \"PolicyAssignmentParameters\": \"{}\",\r\n      \"PolicyAssignmentScope\": \"/providers/Microsoft.Management/managementGroups/AzGovTest6\",\r\n      \"PolicyDefinitionName\": \"022d9357-5a90-46f7-9554-21d30ce4c32d\",\r\n      \"PolicyDefinitionAction\": \"audit\",\r\n      \"PolicyDefinitionCategory\": \"tbd\",\r\n      \"PolicySetDefinitionId\": \"/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.Authorization/policySetDefinitions/335cefd2-ab16-430f-b364-974a170eb1d5\",\r\n      \"PolicySetDefinitionName\": \"335cefd2-ab16-430f-b364-974a170eb1d5\",\r\n      \"PolicySetDefinitionOwner\": null,\r\n      \"PolicySetDefinitionCategory\": null,\r\n      \"PolicySetDefinitionParameters\": null,\r\n      \"ManagementGroupIds\": \"AzGovTest6,AzGovTest5,AzGovTest3,AzGovTest2,AzGovTest1,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"PolicyDefinitionReferenceId\": \"4337452039094051187\",\r\n      \"TenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"PrincipalOid\": \"5d7fb743-b335-4f27-ba6e-f8bc2444f333\"\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity\",\r\n      \"Timestamp\": \"2018-03-21T22:19:40.4930246Z\",\r\n      \"ResourceId\": \"/subscriptions/bc8edd8f-a09f-499d-978d-6b5ed2f84852/resourceGroups/oi-default-east-us/providers/Microsoft.Automation/automationAccounts/aztestaccount-bd498c6ee3db44-20180321\",\r\n      \"PolicyAssignmentId\": \"/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.Authorization/policyAssignments/186044306c044a1d8c0ff76c\",\r\n      \"PolicyDefinitionId\": \"/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.Authorization/policyDefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d\",\r\n      \"EffectiveParameters\": null,\r\n      \"IsCompliant\": false,\r\n      \"SubscriptionId\": \"bc8edd8f-a09f-499d-978d-6b5ed2f84852\",\r\n      \"ResourceType\": \"/Microsoft.Automation/automationAccounts\",\r\n      \"ResourceLocation\": \"southeastasia\",\r\n      \"ResourceGroup\": \"oi-default-east-us\",\r\n      \"ResourceTags\": \"tbd\",\r\n      \"PolicyAssignmentName\": \"186044306c044a1d8c0ff76c\",\r\n      \"PolicyAssignmentOwner\": \"tbd\",\r\n      \"PolicyAssignmentParameters\": \"{\\\"allowedLocations\\\":{\\\"value\\\":[\\\"centralus\\\"]}}\",\r\n      \"PolicyAssignmentScope\": \"/providers/Microsoft.Management/managementGroups/AzGovTest1\",\r\n      \"PolicyDefinitionName\": \"022d9357-5a90-46f7-9554-21d30ce4c32d\",\r\n      \"PolicyDefinitionAction\": \"audit\",\r\n      \"PolicyDefinitionCategory\": \"tbd\",\r\n      \"PolicySetDefinitionId\": \"\",\r\n      \"PolicySetDefinitionName\": \"\",\r\n      \"PolicySetDefinitionOwner\": null,\r\n      \"PolicySetDefinitionCategory\": null,\r\n    [...]
