{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Consumption/pricesheets/default?$expand=properties%2FmeterDetails&$top=1000&api-version=2018-01-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Billing/billingPeriods/20180501/providers/Microsoft.Consumption/pricesheets/default\",\r\n  \"name\": \"default\",\r\n  \"type\": \"Microsoft.Consumption/pricesheets\",\r\n  \"properties\": {\r\n    \"nextLink\": \"https://management.azure.com/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Consumption/pricesheets/default?$expand=properties/meterDetails&$top=1000&api-version=2018-01-31&$skiptoken=AQAAAA%3D%3D\",\r\n    \"download\": null,\r\n    \"pricesheets\": [\r\n      {\r\n        \"billingPeriodId\": \"/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Billing/billingPeriods/20180501\",\r\n        \"meterId\": \"E6F353D8-FF65-420E-B06D-E2260D5B7493\",\r\n        \"unitOfMeasure\": \"10 Hours\",\r\n        \"includedQuantity\": 0.0,\r\n        \"partNumber\": \"AAD-13096\",\r\n        \"unitPrice\": 1.82,\r\n        \"currencyCode\": \"USD\",\r\n        \"meterDetails\": {\r\n          \"meterName\": \"vCore\",\r\n          \"meterCategory\": \"SQL Database\",\r\n          \"unit\": \"Hours\",\r\n          \"meterLocation\": \"CA Central\",\r\n          \"meterSubCategory\": \"Elastic Pool - General Purpose Compute Gen4\"\r\n        }\r\n      },\r\n      {\r\n        \"billingPeriodId\": \"/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Billing/billingPeriods/20180501\",\r\n        \"meterId\": \"6667B0C6-BFDC-4DEC-A295-77438B7048A9\",\r\n        \"unitOfMeasure\": \"100 Hours\",\r\n        \"includedQuantity\": 0.0,\r\n        \"partNumber\": \"AAA-90430\",\r\n        \"unitPrice\": 4.08,\r\n        \"currencyCode\": \"USD\",\r\n        \"[...]
