{
  "AzMobileNetworkService+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup-mobilenetwork/providers/Microsoft.MobileNetwork/mobileNetworks/test-mn3/services/test-mn-service?api-version=2022-11-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup-mobilenetwork/providers/Microsoft.MobileNetwork/mobileNetworks/test-mn3/services/test-mn-service?api-version=2022-11-01",
      "Content": "{\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"serviceQosPolicy\": {\r\n      \"maximumBitRate\": {\r\n        \"uplink\": \"500 Mbps\",\r\n        \"downlink\": \"1 Gbps\"\r\n      },\r\n      \"5qi\": 9,\r\n      \"allocationAndRetentionPriorityLevel\": 9,\r\n      \"preemptionCapability\": \"MayPreempt\",\r\n      \"preemptionVulnerability\": \"Preemptable\"\r\n    },\r\n    \"servicePrecedence\": 0,\r\n    \"pccRules\": [\r\n      {\r\n        \"ruleQosPolicy\": {\r\n          \"maximumBitRate\": {\r\n            \"uplink\": \"500 Mbps\",\r\n            \"downlink\": \"1 Gbps\"\r\n          },\r\n          \"allocationAndRetentionPriorityLevel\": 9,\r\n          \"preemptionCapability\": \"NotPreempt\",\r\n          \"preemptionVulnerability\": \"Preemptable\"\r\n        },\r\n        \"ruleName\": \"test-mn-service-rule\",\r\n        \"rulePrecedence\": 0,\r\n        \"trafficControl\": \"Enabled\",\r\n        \"serviceDataFlowTemplates\": [\r\n          {\r\n            \"templateName\": \"test-mn-flow-template\",\r\n            \"direction\": \"Bidirectional\",\r\n            \"protocol\": [ \"255\" ],\r\n            \"remoteIpList\": [ \"any\" ]\r\n          }\r\n        ]\r\n      }\r\n    ]\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"1700955d-0000-0100-0000-63bd71120000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1193" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-build-version": [ "1.0.1" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/ec5cb64c-b6a1-40af-a5f5-175d4a16d345*635526C4AE250EF192E4150550240CEC408B62D881F1CA27C876E4A71CAC9C50?api-version=2022-11-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup-mobilenetwork/providers/Microsoft.MobileNetwork/mobileNetworks/test-mn3/services/test-mn-service\",\"name\":\"test-mn-service\",\"type\":\"microsoft.mobilenetwork/mobilenetworks/services\",\"location\":\"eastus\",\"systemData\":{\"createdBy\":\"v-jinpel@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-01-10T14:07:13.6757432Z\",\"lastModifiedBy\":\"v-jinpel@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-01-10T14:07:13.6757432Z\"},\"properties\":{\"serviceQosPolicy\":{\"maximumBitRate\":{\"uplink\":\"500 Mbps\",\"downlink\":\"1 Gbps\"},\"5qi\":9,\"allocationAndRetentionPriorityLevel\":9,\"preemptionCapability\":\"MayPreempt\",\"preemptionVulnerability\":\"Preemptable\"},\"servicePrecedence\":0,\"pccRules\":[{\"ruleQosPolicy\":{\"maximumBitRate\":{\"uplink\":\"500 Mbps\",\"downlink\":\"1 Gbps\"},\"allocationAndRetentionPriorityLevel\":9,\"preemptionCapability\":\"NotPreempt\",\"preemptionVulnerability\":\"Preemptable\"},\"ruleName\":\"test-mn-service-rule\",\"rulePrecedence\":0,\"trafficControl\":\"Enabled\",\"serviceDataFlowTemplates\":[{\"templateName\":\"test-mn-flow-template\",\"direction\":\"Bidirectional\",\"protocol\":[\"255\"],\"remoteIpList\":[\"any\"]}]}],\"provisioningState\":\"Accepted\"}}",
    }
  },
  "AzMobileNetworkService+[NoContext]+CreateExpanded+$GET+https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/ec5cb64c-b6a1-40af-a5f5-175d4a16d345*635526C4AE250EF192E4150550240CEC408B62D881F1CA27C876E4A71CAC9C50?api-version=2022-11-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/ec5cb64c-b6a1-40af-a5f5-175d4a16d345*635526C4AE250EF192E4150550240CEC408B62D881F1CA27C876E4A71CAC9C50?api-version=2022-11-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "25" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"ae007f06-0000-0100-0000-63bd71120000\"" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11993" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/ec5cb64c-b6a1-40af-a5f5-175d4a16d345*635526C4AE250EF192E4150550240CEC408B62D881F1CA27C876E4A71CAC9C50\",\"name\":\"ec5cb64c-b6a1-40af-a5f5-175d4a16d345*635526C4AE250EF192E4150550240CEC408B62D881F1CA27C876E4A71CAC9C50\",\"resourceId\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup-mobilenetwork/providers/Microsoft.MobileNetwork/mobileNetworks/test-mn3/services/test-mn-service\",\"status\":\"Accepted\",\"startTime\":\"2023-01-10T14:07:14.4701503Z\"}",
    }
  },
  "AzMobileNetworkService+[NoContext]+CreateExpanded+$GET+https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/ec5cb64c-b6a1-40af-a5f5-175d4a16d345*635526C4AE250EF192E4150550240CEC408B62D881F1CA27C876E4A71CAC9C50?api-version=2022-11-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/ec5cb64[...]
