{
  "AzMobileNetworkSlice+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup-mobilenetwork/providers/Microsoft.MobileNetwork/mobileNetworks/test-mn3/slices/test-mn-slice?api-version=2022-11-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup-mobilenetwork/providers/Microsoft.MobileNetwork/mobileNetworks/test-mn3/slices/test-mn-slice?api-version=2022-11-01",
      "Content": "{\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"snssai\": {\r\n      \"sst\": 1,\r\n      \"sd\": \"1abcde\"\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"2200af46-0000-0100-0000-63bd73a30000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1181" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-build-version": [ "1.0.1" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/3ad337dd-7980-47bf-9f4d-3fe1f89761e3*C42ACA888D1D651B43CEF57BCD5A51F27FA5F93E8EC29543B3F06DF9950048B6?api-version=2022-11-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup-mobilenetwork/providers/Microsoft.MobileNetwork/mobileNetworks/test-mn3/slices/test-mn-slice\",\"name\":\"test-mn-slice\",\"type\":\"microsoft.mobilenetwork/mobilenetworks/slices\",\"location\":\"eastus\",\"systemData\":{\"createdBy\":\"v-jinpel@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-01-10T14:18:11.0415803Z\",\"lastModifiedBy\":\"v-jinpel@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-01-10T14:18:11.0415803Z\"},\"properties\":{\"snssai\":{\"sst\":1,\"sd\":\"1abcde\"},\"provisioningState\":\"Accepted\"}}",
    }
  },
  "AzMobileNetworkSlice+[NoContext]+CreateExpanded+$GET+https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/3ad337dd-7980-47bf-9f4d-3fe1f89761e3*C42ACA888D1D651B43CEF57BCD5A51F27FA5F93E8EC29543B3F06DF9950048B6?api-version=2022-11-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/3ad337dd-7980-47bf-9f4d-3fe1f89761e3*C42ACA888D1D651B43CEF57BCD5A51F27FA5F93E8EC29543B3F06DF9950048B6?api-version=2022-11-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "82" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"ae00550b-0000-0100-0000-63bd73a30000\"" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11971" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/3ad337dd-7980-47bf-9f4d-3fe1f89761e3*C42ACA888D1D651B43CEF57BCD5A51F27FA5F93E8EC29543B3F06DF9950048B6\",\"name\":\"3ad337dd-7980-47bf-9f4d-3fe1f89761e3*C42ACA888D1D651B43CEF57BCD5A51F27FA5F93E8EC29543B3F06DF9950048B6\",\"resourceId\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup-mobilenetwork/providers/Microsoft.MobileNetwork/mobileNetworks/test-mn3/slices/test-mn-slice\",\"status\":\"Accepted\",\"startTime\":\"2023-01-10T14:18:11.6170855Z\"}",
    }
  },
  "AzMobileNetworkSlice+[NoContext]+CreateExpanded+$GET+https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/3ad337dd-7980-47bf-9f4d-3fe1f89761e3*C42ACA888D1D651B43CEF57BCD5A51F27FA5F93E8EC29543B3F06DF9950048B6?api-version=2022-11-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.MobileNetwork/locations/EASTUS/operationStatuses/3ad337dd-[...]
