{
  "Entries": [
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourcegroups/sql-va-cmdlet-test-rgps2115?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"North Europe\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115\",\r\n  \"name\": \"sql-va-cmdlet-test-rgps2115\",\r\n  \"location\": \"northeurope\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Storage/checkNameAvailability?api-version=2019-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"sqlvastorageps2115\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11963"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Storage/storageAccounts/sqlvastorageps2115?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"North Europe\",\r\n  \"properties\": {\r\n    \"isHnsEnabled\": true\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Storage/locations/northeurope/asyncoperations/91b57441-7369-4509-9941-6125812e71ef?monitor=true&api-version=2019-06-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Storage/locations/northeurope/asyncoperations/91b57441-7369-4509-9941-6125812e71ef?monitor=true&api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11963"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Storage/storageAccounts/sqlvastorageps2115\",\r\n  \"name\": \"sqlvastorageps2115\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"northeurope\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"privateEndpointConnections\": [],\r\n    \"isHnsEnabled\": true,\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": true,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"keyType\": \"Account\",\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2021-01-29T08:05:04.0971543Z\"\r\n        },\r\n        \"blob\": {\r\n          \"keyType\": \"Account\",\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2021-01-29T08:05:04.0971543Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2021-01-29T08:05:04.0190315Z\",\r\n    \"primaryEndpoints\": {\r\n      \"dfs\": \"https://sqlvastorageps2115.dfs.core.windows.net/\",\r\n      \"web\": \"https://sqlvastorageps2115.z16.web.core.windows.net/\",\r\n      \"blob\": \"https://sqlvastorageps2115.blob.core.windows.net/\",\r\n      \"queue\": \"https://sqlvastorageps2115.queue.core.windows.net/\",\r\n      \"table\": \"https://sqlvastorageps2115.table.core.windows.net/\",\r\n      \"file\": \"https://sqlvastorageps2115.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"northeurope\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"westeurope\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Synapse/workspaces/sqlvawsps2115' under resource group 'sql-va-cmdlet-test-rgps2115' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115\",\r\n  \"location\": \"northeurope\",\r\n  \"name\": \"sqlvawsps2115\",\r\n  \"type\": \"Microsoft.Synapse/workspaces\",\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"principalId\": \"e35f3cef-bbb2-4faa-9bfb-fd87effecc62\"\r\n  },\r\n  \"properties\": {\r\n    \"connectivityEndpoints\": {\r\n      \"web\": \"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsql-va-cmdlet-test-rgps2115%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fsqlvawsps2115\",\r\n      \"dev\": \"https://sqlvawsps2115.dev.azuresynapse.net\",\r\n      \"sqlOnDemand\": \"sqlvawsps2115-ondemand.sql.azuresynapse.net\",\r\n      \"sql\": \"sqlvawsps2115.sql.azuresynapse.net\"\r\n    },\r\n    \"managedResourceGroupName\": \"synapseworkspace-managedrg-a76574b7-6708-46b5-9280-9280db4acab1\",\r\n    \"defaultDataLakeStorage\": {\r\n      \"accountUrl\": \"https://sqlvastorageps2115.dfs.core.windows.net\",\r\n      \"filesystem\": \"sqlvacmdletfsps2115\"\r\n    },\r\n    \"sqlAdministratorLogin\": \"testlogin\",\r\n    \"privateEndpointConnections\": [],\r\n    \"workspaceUID\": \"ffd3b818-e518-47fc-9f42-59a1cae659ee\",\r\n    \"extraProperties\": {\r\n      \"IsScopeEnabled\": false,\r\n      \"WorkspaceType\": \"Normal\"\r\n    },\r\n    \"encryption\": {\r\n      \"doubleEncryptionEnabled\": false\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStorage\": {\r\n      \"accountUrl\": \"https://sqlvastorageps2115.dfs.core.windows.net\",\r\n      \"filesystem\": \"sqlvacmdletfsps2115\"\r\n    },\r\n    \"sqlAdministratorLoginPassword\": \"testp@ssMakingIt1007Longer\",\r\n    \"sqlAdministratorLogin\": \"testlogin\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"location\": \"North Europe\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/operationStatuses/46f24dd3-d1c0-46ee-a800-fdd0756e6c7b?api-version=2019-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\":[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/operationStatuses/46f24dd3-d1c0-46ee-a800-fdd0756e6c7b?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115' under resource group 'sql-va-cmdlet-test-rgps2115' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11968"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"status\": \"Online\",\r\n    \"maxSizeBytes\": 263882790666240,\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"restorePointInTime\": \"0001-01-01T00:00:00\",\r\n    \"creationDate\": \"2021-01-29T08:12:42.557Z\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"DW200c\",\r\n    \"capacity\": 0\r\n  },\r\n  \"id\": \"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115\",\r\n  \"name\": \"sqlvapoolps2115\",\r\n  \"type\": \"Microsoft.Synapse/workspaces/sqlPools\",\r\n  \"location\": \"northeurope\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"DW200c\"\r\n  },\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"createMode\": \"Default\"\r\n  },\r\n  \"location\": \"northeurope\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/operationResults/d7a7163e-809a-40ca-b1ce-1eca128579ce?api-version=2019-06-01-preview"
[...]
[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/securityAlertPolicies/Default?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11967"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"state\": \"Disabled\",\r\n    \"disabledAlerts\": [\r\n      \"\"\r\n    ],\r\n    \"emailAddresses\": [\r\n      \"\"\r\n    ],\r\n    \"emailAccountAdmins\": false,\r\n    \"storageEndpoint\": \"\",\r\n    \"storageAccountAccessKey\": \"\",\r\n    \"retentionDays\": 0,\r\n    \"creationTime\": \"0001-01-01T00:00:00Z\"\r\n  },\r\n  \"id\": \"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/securityAlertPolicies/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Synapse/workspaces/securityAlertPolicies\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/securityAlertPolicies/Default?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"state\": \"Enabled\",\r\n    \"disabledAlerts\": [\r\n      \"\"\r\n    ],\r\n    \"emailAddresses\": [\r\n      \"\"\r\n    ],\r\n    \"emailAccountAdmins\": false,\r\n    \"storageAccountAccessKey\": \"\",\r\n    \"retentionDays\": 0\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/operationResults/sql08ftr-27c9ece7-a735-4bd7-bda9-3256887f6114?api-version=2019-06-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/operationStatuses/sql08ftr-27c9ece7-a735-4bd7-bda9-3256887f6114?api-version=2019-06-01-preview"
        ],
        "RetryAfter": [
          "3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/operationStatuses/sql08ftr-27c9ece7-a735-4bd7-bda9-3256887f6114?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11966"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"27c9ece7-a735-4bd7-bda9-3256887f6114\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-01-29T08:13:00.923Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115/vulnerabilityAssessments/default?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11964"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"recurringScans\": {\r\n      \"isEnabled\": false,\r\n      \"emailSubscriptionAdmins\": true\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115/vulnerabilityAssessments/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Synapse/workspaces/sqlPools/vulnerabilityAssessments\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resources?$filter=resourceType%20eq%20'Microsoft.ClassicStorage%2FstorageAccounts'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11960"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resources?$filter=resourceType%20eq%20'Microsoft.Storage%2FstorageAccounts'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11959"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n[...]
[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Storage/storageAccounts/sqlvastorageps2115/listKeys?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\": \"rLPcvqgOzqD59qAnyJcjDuafY+NE0WPEdmAValYP1n6Pzcq7QkPNICwNbUTsvYuklDwMTupj+BL2pQ+CorvwvQ==\",\r\n      \"permissions\": \"FULL\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"mfgIW2XyiG2aWSgGlwg62Fmipe2bQgs+6WfHkDS7WExtMhvkAyjdA6p/T0HPPjDyHC/AO3tFCIBMeNzkczSXVg==\",\r\n      \"permissions\": \"FULL\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115/vulnerabilityAssessments/default?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"storageContainerPath\": \"https://sqlvastorageps2115.blob.core.windows.net/vulnerability-assessment\",\r\n    \"storageAccountAccessKey\": \"rLPcvqgOzqD59qAnyJcjDuafY+NE0WPEdmAValYP1n6Pzcq7QkPNICwNbUTsvYuklDwMTupj+BL2pQ+CorvwvQ==\",\r\n    \"recurringScans\": {\r\n      \"isEnabled\": false,\r\n      \"emailSubscriptionAdmins\": true\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageContainerPath\": \"https://sqlvastorageps2115.blob.core.windows.net/vulnerability-assessment/\",\r\n    \"recurringScans\": {\r\n      \"isEnabled\": false,\r\n      \"emailSubscriptionAdmins\": true\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115/vulnerabilityAssessments/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Synapse/workspaces/sqlPools/vulnerabilityAssessments\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115/vulnerabilityAssessments/default/scans/20210129_081335/initiateScan?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115/operationResults/sql03ftr-22990f69-2582-4e1c-9118-27436bf65220?api-version=2019-06-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115/operationStatuses/sql03ftr-22990f69-2582-4e1c-9118-27436bf65220?api-version=2019-06-01-preview"
        ],
        "RetryAfter": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115/operationStatuses/sql03ftr-22990f69-2582-4e1c-9118-27436bf65220?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11963"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"22990f69-2582-4e1c-9118-27436bf65220\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-01-29T08:13:36.26Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115/operationResults/sql03ftr-22990f69-2582-4e1c-9118-27436bf65220?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11962"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"scanId\": \"20210129_081335\",\r\n    \"triggerType\": \"OnDemand\",\r\n    \"state\": \"Failed\",\r\n    \"startTime\": \"2021-01-29T08:13:36.26Z\",\r\n    \"endTime\": \"9999-12-31T23:59:59.9999999Z\",\r\n    \"storageContainerPath\": \"https://sqlvastorageps2115.blob.core.windows.net/vulnerability-assessment/\",\r\n    \"numberOfFailedSecurityChecks\": 0\r\n  },\r\n  \"id\": \"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115/vulnerabilityAssessments/Default/scans/20210129_081335\",\r\n  \"name\": \"20210129_081335\",\r\n  \"type\": \"Microsoft.Synapse/workspaces/sqlPools/vulnerabilityAssessments/scans\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115/vulnerabilityAssessments/default/scans/20210129_081335?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11961"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"scanId\": \"20210129_081335\",\r\n    \"triggerType\": \"OnDemand\",\r\n    \"state\": \"Failed\",\r\n    \"startTime\": \"2021-01-29T08:13:36.9037868Z\",\r\n    \"endTime\": \"2021-01-29T08:13:37.3725144Z\",\r\n    \"storageContainerPath\": \"https://sqlvastorageps2115.blob.core.windows.net/vulnerability-assessment/scans/sqlvawsps2115/sqlvapoolps2115/scan_20210129_081335.json\",\r\n    \"numberOfFailedSecurityChecks\": 4\r\n  },\r\n  \"id\": \"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115/vulnerabilityAssessments/Default/scans/20210129_081335\",\r\n  \"name\": \"20210129_081335\",\r\n  \"type\": \"Microsoft.Synapse/workspaces/sqlPools/vulnerabilityAssessments/scans\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115/vulnerabilityAssessments/default/scans/cmdletGetListScan/initiateScan?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115/operationResults/sql03ftr-0d1f720b-d135-43e2-a0ab-e929ee93bf3a?api-version=2019-06-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115/operationStatuses/sql03ftr-0d1f720b-d135-43e2-a0ab-e929ee93bf3a?api-version=2019-06-01-preview"
        ],
        "RetryAfter": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115/vulnerabilityAssessments/default/scans/cmdletGetListScan?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11958"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"scanId\": \"cmdletGetListScan\",\r\n    \"triggerType\": \"OnDemand\",\r\n    \"state\": \"Failed\",\r\n    \"startTime\": \"2021-01-29T08:14:09.1066991Z\",\r\n    \"endTime\": \"2021-01-29T08:14:09.2176098Z\",\r\n    \"storageContainerPath\": \"https://sqlvastorageps2115.blob.core.windows.net/vulnerability-assessment/scans/sqlvawsps2115/sqlvapoolps2115/scan_cmdletGetListScan.json\",\r\n    \"numberOfFailedSecurityChecks\": 4\r\n  },\r\n  \"id\": \"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-va-cmdlet-test-rgps2115/providers/Microsoft.Synapse/workspaces/sqlvawsps2115/sqlPools/sqlvapoolps2115/vulnerabilityAssessments/Default/scans/cmdletGetListScan\",\r\n  \"name\": \"cmdletGetListScan\",\r\n  \"type\": \"Microsoft.Synapse/workspaces/sqlPools/vulnerabilityAssessments/scans\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
[...]
