{
  "AzStandbyContainerPool+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/826c93bf-0407-46d0-86dc-6c41c64c8f0c/resourceGroups/standbypool-powershell-sdk/providers/Microsoft.StandbyPool/standbyContainerGroupPools/testCGPool?api-version=2025-03-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/826c93bf-0407-46d0-86dc-6c41c64c8f0c/resourceGroups/standbypool-powershell-sdk/providers/Microsoft.StandbyPool/standbyContainerGroupPools/testCGPool?api-version=2025-03-01",
      "Content": "{\r\n  \"location\": \"centralindia\",\r\n  \"properties\": {\r\n    \"elasticityProfile\": {\r\n      \"maxReadyCapacity\": 3,\r\n      \"refillPolicy\": \"always\"\r\n    },\r\n    \"containerGroupProperties\": {\r\n      \"containerGroupProfile\": {\r\n        \"id\": \"/subscriptions/826c93bf-0407-46d0-86dc-6c41c64c8f0c/resourcegroups/standbypool-powershell-sdk/providers/Microsoft.ContainerInstance/containerGroupProfiles/testCG\",\r\n        \"revision\": 1\r\n      }\r\n    },\r\n    \"zones\": [ \"1\", \"2\", \"3\" ]\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"9f015c37-0000-2000-0000-680694100000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "19997" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/826c93bf-0407-46d0-86dc-6c41c64c8f0c/resourceGroups/standbypool-powershell-sdk/providers/Microsoft.StandbyPool/standbyContainerGroupPools/testCGPool\",\"name\":\"testCGPool\",\"type\":\"microsoft.standbypool/standbycontainergrouppools\",\"location\":\"centralindia\",\"tags\":{},\"systemData\":{\"createdBy\":\"carlosh@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-04-21T18:53:03.0706798Z\",\"lastModifiedBy\":\"carlosh@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2025-04-21T18:53:03.0706798Z\"},\"properties\":{\"elasticityProfile\":{\"maxReadyCapacity\":3,\"refillPolicy\":\"always\"},\"containerGroupProperties\":{\"containerGroupProfile\":{\"id\":\"/subscriptions/826c93bf-0407-46d0-86dc-6c41c64c8f0c/resourcegroups/standbypool-powershell-sdk/providers/Microsoft.ContainerInstance/containerGroupProfiles/testCG\",\"revision\":1}},\"zones\":[\"1\",\"2\",\"3\"],\"provisioningState\":\"Succeeded\"}}",
    }
  },
  "AzStandbyContainerPool+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/826c93bf-0407-46d0-86dc-6c41c64c8f0c/resourceGroups/standbypool-powershell-sdk/providers/Microsoft.StandbyPool/standbyContainerGroupPools/testCGPool?api-version=2025-03-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/826c93bf-0407-46d0-86dc-6c41c64c8f0c/resourceGroups/standbypool-powershell-sdk/providers/Microsoft.StandbyPool/standbyContainerGroupPools/testCGPool?api-version=2025-03-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"9f015c37-0000-2000-0000-680694100000\"" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "199997" ],
        "x-ms-providerhub-traffic": [ "True" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "[...]
