{
  "Get-AzNetworkCloudL2Network+[NoContext]+ListBySubscription+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/l2Networks?api-version=2025-02-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/l2Networks?api-version=2025-02-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "5" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "e6c1d861-3bc5-45ce-b3da-2812e0c14a00" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "199723" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/aep01-cluster/providers/Microsoft.NetworkCloud/l2Networks/l2network-569\",\"name\":\"l2network-569\",\"type\":\"microsoft.networkcloud/l2networks\",\"location\":\"uksouth\",\"extendedLocation\":{\"name\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/aep01-4c2671266e11-HostedResources-53C3BD37/providers/Microsoft.ExtendedLocation/customLocations/aep01-4c2671266e11-cstm-loc\",\"type\":\"CustomLocation\"},\"etag\":\"\\\"8e056d61-0000-1000-0000-6773c8260000\\\"\",\"tags\":{\"ResourceType\":\"l2Network\",\"ManagedBy\":\"nc-labs\",\"LabEnvironment\":\"aep01\",\"ResourceTest\":\"deployment\"},\"systemData\":{\"createdBy\":\"38f84252-c3f0-4bfd-bc44-06d493055463\",\"createdByType\":\"Application\",\"createdAt\":\"2024-12-31T10:19:58.5795488Z\",\"lastModifiedBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2024-12-31T10:32:06.7270072Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"interfaceName\":\"vlan-569\",\"l2IsolationDomainId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/aep01-cluster/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains/aep01-l2domain-569\",\"clusterId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/aep01-cluster/providers/Microsoft.NetworkCloud/clusters/aep01-4c2671266e11\",\"associatedResourceIds\":[\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/aep01-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters/pipelinenaks-u3mVsQbb5OhuNQ\",\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/aep01-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters/pipelinenaks-u3mVsQbb5OhuNQ/agentPools/systemagentpool\",\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/aep01-cluster/providers/Microsoft.NetworkCloud/kubernetesClusters/pipelinenaks-u3mVsQbb5OhuNQ/agentPools/workerAgentpool1\"],\"virtualMachinesAssociatedIds\":[],\"detailedStatus\":\"Available\",\"detailedStatusMessage\":\"all resource creation succeeded\"}},{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dev02-1-cluster/providers/Microsoft.NetworkCloud/l2Networks/l2network-569\",\"name\":\"l2network-569\",\"type\":\"microsoft.networkcloud/l2networks\",\"location\":\"uksouth\",\"extendedLocation\":{\"name\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dev02-1-6dfad85e8fe3-HostedResources-6E613920/providers/Microsoft.ExtendedLocation/customLocations/dev02-1-6df[...]
