{
  "Get-AzNetworkCloudCluster+[NoContext]+ListBySubscription+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/clusters?api-version=2025-02-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/clusters?api-version=2025-02-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "15" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "2c40ad23-a18a-455f-bbf0-fb3b8dc75bfa", "457f8042-7e38-4b4d-b7a3-e987739cd7d0", "034b7b07-3eae-4962-8fe6-118ffee1f6a5" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/graymark-readonlymultirack_id-simdev-3386353/providers/Microsoft.NetworkCloud/clusters/simdev-3386353-cluster-1\",\"name\":\"simdev-3386353-cluster-1\",\"type\":\"microsoft.networkcloud/clusters\",\"location\":\"eastus\",\"extendedLocation\":{\"name\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/CM-simdev-3386353-b53bx6w7q6bpa/providers/Microsoft.ExtendedLocation/customLocations/sim-cluster-mgr-b53bx6w7q6bpa-cl\",\"type\":\"CustomLocation\"},\"etag\":\"\\\"17001f04-0000-0100-0000-67f936d50000\\\"\",\"tags\":{\"EnableDenyAssignments\":\"false\",\"LabEnvironment\":\"simulator\",\"ManagedBy\":\"nc-development-environments\",\"ResourceType\":\"cluster\"},\"systemData\":{\"createdBy\":\"975445e1-202a-4786-b0ac-d35fa6fc1f6d\",\"createdByType\":\"Application\",\"createdAt\":\"2025-04-11T15:07:41.5447623Z\",\"lastModifiedBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2025-04-11T15:35:49.8939569Z\"},\"identity\":{\"type\":\"UserAssigned\",\"userAssignedIdentities\":{\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/graymark-readonlymultirack_id-simdev-3386353/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3386353-cluster-1-identity\":{\"clientId\":\"6e03ad60-5fb0-4098-9c55-64c2cab3330d\",\"principalId\":\"b36d82a0-5913-4548-847d-f94505d61e40\"}}},\"properties\":{\"aggregatorOrSingleRackDefinition\":{\"availabilityZone\":\"A\",\"bareMetalMachineConfigurationData\":[],\"networkRackId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/graymark-readonlymultirack_id-simdev-3386353/providers/Microsoft.Network/virtualNetworks/vNet/subnets/Subnet\",\"rackLocation\":\"Foo Datacenter, Floor 3, Aisle 9, Rack 2\",\"rackSerialNumber\":\"aa1234\",\"rackSkuId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Aggregator_sim\",\"storageApplianceConfigurationData\":[]},\"analyticsOutputSettings\":{\"analyticsWorkspaceId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/graymark-readonlymultirack_id-simdev-3386353/providers/Microsoft.OperationalInsights/workspaces/simdev-3386353-law\",\"associatedIdentity\":{\"identityType\":\"UserAssignedIdentity\",\"userAssignedIdentityResourceId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/graymark-readonlymultirack_id-simdev-3386353/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3386353-cluster-1-identity\"}},\"clusterServicePrincipal\":{\"applicationId\":\"975445e1-202a-4786-b0ac-d35fa6fc1f6d\",\"principalId\":\"f462bb75-52ee-4f0f-9cd4-60b687b75c34\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\"},\"clusterType\":\"MultiRack\",\"clusterVersion\":\"4.4.0\",\"commandOutputSettings\":{\"associatedIdentity\":{\"identityType\":\"UserAssignedIdentity\",\"userAssignedIdentityResourceId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/graymark-readonlymultirack_id-simdev-3386353/providers/Microsoft.ManagedIdentity/userAssignedIdentities/simdev-3386353-cluster-1-identity\"},\"containerUrl\":\"https://simdev3386353vm1sa.blob.core.windows.net/command-output-blob\"},\"computeRackDefinitions\":[{\"networkRackId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/graymark-readonlymultirack_id-simdev-3386353/providers/Microsoft.Network/virtualNetworks/vNet/subnets/Subnet\",\"rackSkuId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Compute_DellR750_1C2M_sim\",\"rackSerialNumber\":\"rack1\",\"rackLocation\":\"Foo Datacenter, Floor 3, Aisle 9, Rack 2\",\"availabilityZone\":\"1\",\"storageApplianceConfigurationData\":[],\"bareMetalMachineConfigurationData\":[{\"rackSlot\":1,\"bootMacAddress\":\"52:54:00:9b:27:01\",\"bmcCredentials\":{\"username\":\"dXNlcm5hbWUK\"},\"bmcConnectionString\":\"redfish+https://10.1.3.11:8443/redfish/v1/Systems/rack1compute01\",\"machineName\":\"rack1compute01\",\"bmcMacAddress\":\"AA:BB:CC:DD:EE:AA\",\"serialNumber\":\"BM1219XX1\"},{\"rackSlot\":2,\"bootMacAddress\":\"52:54:00:b6:ed:31\",\"bmcCredentials\":{\"username\":\"dXNlcm5hbWUK\"},\"bmcConnectionString\":\"redfish+https://10.1.3.12:8443/redfish/v1/Systems/rack1control01\",\"machineName\":\"rack1control01\",\"bmcMacAddress\":\"AA:BB:CC:DD:EE:DD\",\"serialNumber\":\"BM1219XX2\"},{\"rackSlot\":3,\"bootMacAddress\":\"52:54:00:9b:27:41\",\"bmcCredentials\":{\"username\":\"dXNlcm5hbWUK\"},\"bmcConnectionString\":\"redfish+https://10.1.3.13:8443/redfish/v1/S[...]
