{
  "Get-AzNetworkCloudVolume+[NoContext]+ListBySubscription+$GET+https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/volumes?api-version=2024-07-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/volumes?api-version=2024-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "4" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "a5f44eae-6b5a-42ce-9ade-3fd51b6cda5c", "7bdae079-d664-472f-902e-2cc9ca77ea92", "bc72406b-0095-4b88-970c-82383fbda593", "dbb882c4-b44c-4bd1-bd46-c561ad1fae2a", "21482fe9-9a3a-43a7-9009-8d4fd206f0b7" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/rg-cw-vm01/providers/Microsoft.NetworkCloud/volumes/testvol2\",\"name\":\"testvol2\",\"type\":\"microsoft.networkcloud/volumes\",\"location\":\"westus3\",\"extendedLocation\":{\"name\":\"/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev04-4174390a7f54-hostedresources-625a143b/providers/microsoft.extendedlocation/customlocations/dev04-4174390a7f54-cstm-loc\",\"type\":\"CustomLocation\"},\"systemData\":{\"createdBy\":\"REDACTED\",\"createdByType\":\"User\",\"createdAt\":\"2024-10-22T21:36:21.395742Z\",\"lastModifiedBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2024-10-22T21:36:40.7958999Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"sizeMiB\":1024,\"attachedTo\":[],\"detailedStatus\":\"Active\",\"detailedStatusMessage\":\"Could not add NAKS cluster ResourceID to volume. Volume is ready to use.\"}},{\"id\":\"/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/rg-cw-vm01/providers/Microsoft.NetworkCloud/volumes/testvol3\",\"name\":\"testvol3\",\"type\":\"microsoft.networkcloud/volumes\",\"location\":\"westus3\",\"extendedLocation\":{\"name\":\"/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev04-4174390a7f54-hostedresources-625a143b/providers/microsoft.extendedlocation/customloc[...]
