{
  "Get-AzNetworkCloudL3Network+[NoContext]+ListBySubscription+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/l3Networks?api-version=2024-07-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/l3Networks?api-version=2024-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "5" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "86832ca8-894b-42e8-afe4-8ff5fa1d180a", "e7fc9eb3-347b-4749-aec0-7058ec0ef4d9" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dev02-1-cluster/providers/Microsoft.NetworkCloud/l3Networks/l3network-537\",\"name\":\"l3network-537\",\"type\":\"microsoft.networkcloud/l3networks\",\"location\":\"eastus2euap\",\"extendedLocation\":{\"name\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dev02-1-a94a54922286-HostedResources-66211BA4/providers/Microsoft.ExtendedLocation/customLocations/dev02-1-a94a54922286-cstm-loc\",\"type\":\"CustomLocation\"},\"tags\":{\"ResourceType\":\"l3network\",\"ManagedBy\":\"nc-labs\",\"LabEnvironment\":\"dev02-1\",\"ResourceTest\":\"deployment\"},\"systemData\":{\"createdBy\":\"38f84252-c3f0-4bfd-bc44-06d493055463\",\"createdByType\":\"Application\",\"createdAt\":\"2024-09-26T13:42:19.445836Z\",\"lastModifiedBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2024-10-17T07:24:16.6964823Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"clusterId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dev02-1-cluster/providers/Microsoft.NetworkCloud/clusters/dev02-1-a94a54922286\",\"associatedResourceIds\":[],\"virtualMachinesAssociatedIds\":[],\"detailedStatus\":\"Available\",\"detailedStatusMessage\":\"all resource creation succeeded\",\"interfaceName\":\"vlan-537\",\"l3IsolationDomainId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dev02-1-cluster/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/dev02-1-l3domain-2\",\"ipAllocationType\":\"DualStack\",\"ipv4ConnectedPrefix\":\"10.1.104.0/24\",\"ipv6ConnectedPrefix\":\"fda0:d59c:da0a:168::/64\",\"vlan\":537}},{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/aep02-cluster/providers/Microsoft.NetworkCloud/l3Networks/l3network-537\",\"name\":\"l3network-537\",\"type\":\"microsoft.networkcloud/l3networks\",\"location\":\"eastus2euap\",\"extendedLocation\":{\"name\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/aep02-0b9a285dcb85-HostedResources-799C7550/providers/Microsoft.ExtendedLocation/customLocations/aep02-0b9a285dcb85-cstm-loc\",\"type\":\"Cu[...]
