{
  "Get-AzNetworkCloudTrunkedNetwork+[NoContext]+ListBySubscription+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/trunkedNetworks?api-version=2023-07-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/trunkedNetworks?api-version=2023-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "4" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "931ef123-396b-4dbf-a138-06ffc3a7c35f", "dd25aee9-cada-498b-887b-b47c50ae8099", "f51c533e-e0f5-424b-b501-438dd8338bb0", "c2c0e15e-e24a-4542-ac6a-7943d1bb86cf" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11948" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/mbashtovaya-sim2-rg/providers/Microsoft.NetworkCloud/trunkedNetworks/trunkedNetworkName\",\"name\":\"trunkedNetworkName\",\"type\":\"microsoft.networkcloud/trunkednetworks\",\"location\":\"eastus\",\"extendedLocation\":{\"name\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/simulator-hostedresources-106b4111/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc\",\"type\":\"CustomLocation\"},\"tags\":{\"tag1\":\"tag1\",\"tag2\":\"tag2update\"},\"systemData\":{\"createdBy\":\"REDACTED\",\"createdByType\":\"User\",\"createdAt\":\"2023-05-15T20:43:42.0125373Z\",\"lastModifiedBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2023-05-15T20:43:48.9668812Z\"},\"properties\":{\"provisioningState\":\"Failed\",\"hybridAksPluginType\":\"DPDK\",\"interfaceName\":\"eth0\",\"isolationDomainIds\":[\"/subscriptions/fabricsubs/resourceGroups/fabric-rg/providers/Microsoft.NetworkFabric/L3IsolationDomains/l3isolationdomain2\"],\"vlans\":[1004],\"clusterId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/mbashtovaya-sim2-rg/providers/Microsoft.NetworkCloud/clusters/simulator\",\"associatedResourceIds\":[],\"hybridAksClustersAssociatedIds\":[],\"virtualMachinesAssociatedIds\":[],\"detailedStatus\":\"Available\",\"detailedStatusMessage\":\"all resource creation succeeded\"}},{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/aep2-cluster/providers/Microsoft.NetworkCloud/trunkedNetworks/trunk-530-535\",\"name\":\"trunk-530-535\",\"type\":\"microsoft.networkcloud/trunkednetworks\",\"location\":\"eastus\",\"extendedLocation\":{\"name\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/aep2-1ac97bae91bd-hostedresources-6c2c3380/providers/microsoft.extendedlocation/customlocations/aep2-1ac97bae91bd-cstm-loc\",\"type\":\"CustomLocation\"},\"tags\":{\"ResourceType\":\"trunkednetwork\",\"ManagedBy\":\"nc-labs\",\"LabEnvironment\":\"aep2\",\"ResourceTest\":\"deployment\"},\"systemData\":{\"createdBy\":\"de975306-d24e-4dec-9d3b-ef05c66f0075\",\"createdByType\":\"Application\",\"createdAt\":\"2023-07-15T22:02:57.4197738Z\",\"lastModifiedBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2023-07-15T22:03:35.1478744Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"isolationDomainIds\":[\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/aep2-cluster/providers/Microsoft.Ma[...]
