{
  "Get-AzNetworkCloudVolume+[NoContext]+ListBySubscription+$GET+https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/volumes?api-version=2025-02-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/providers/Microsoft.NetworkCloud/volumes?api-version=2025-02-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "4" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "8178a71c-f98f-4d84-b9a2-77f31f794b8e", "12f39a56-dc65-4cfc-b3fb-8addbfae628b" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev07-cb4496ab6215-HostedResources-009EAA62/providers/Microsoft.NetworkCloud/volumes/reddy-delete-test\",\"name\":\"reddy-delete-test\",\"type\":\"microsoft.networkcloud/volumes\",\"location\":\"eastus\",\"extendedLocation\":{\"name\":\"/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev07-cb4496ab6215-hostedresources-009eaa62/providers/microsoft.extendedlocation/customlocations/dev07-cb4496ab6215-cstm-loc\",\"type\":\"CustomLocation\"},\"etag\":\"\\\"7300c1ec-0000-0100-0000-67ef936b0000\\\"\",\"tags\":{\"CreatedBy\":\"/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev07-cb4496ab6215-hostedresources-009eaa62/providers/microsoft.extendedlocation/customlocations/dev07-cb4496ab6215-cstm-loc/resourcesyncrules/volumeshydrationrule\"},\"systemData\":{\"createdBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"createdByType\":\"Application\",\"createdAt\":\"2025-04-04T08:08:08.4358401Z\",\"lastModifiedBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2025-04-04T08:08:11.0570829Z\"},\"properties\":{\"sizeMiB\":3072,\"provisioningState\":\"Succeeded\",\"attachedTo\":[],\"detailedStatus\":\"Active\",\"detailedStatusMessage\":\"Volume provisioning Succeeded\"}},{\"id\":\"/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev07-cb4496ab6215-HostedResources-009EAA62/providers/Microsoft.NetworkCloud/volumes/testvol1\",\"name\":\"testvol1\",\"type\":\"microsoft.networkcloud/volumes\",\"location\":\"eastus\",\"extendedLocation\":{\"name\":\"/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev07-cb4496ab6215-hostedresources-009eaa62/providers/microsoft.extendedlocation/customlocations/dev0[...]
