{
  "Get-AzNetworkCloudClusterManager+[NoContext]+ListBySubscription+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/clusterManagers?api-version=2025-02-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/clusterManagers?api-version=2025-02-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "105" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "e2851f97-fffb-4225-9983-4960320ae9e4", "6f4d7d82-1fb2-42e5-9bfe-0e333fda5211", "dcfc5c55-3889-4e25-95e9-fbfcfd819c81", "8e658250-5bc9-451d-ad85-83a827460418" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/synt-sandbox-apitestingonazure-australiaeast-api-sy_uswest-s24wtl2k-test/providers/Microsoft.NetworkCloud/clusterManagers/clustermgr669ad7\",\"name\":\"clustermgr669ad7\",\"type\":\"microsoft.networkcloud/clustermanagers\",\"location\":\"australiaeast\",\"etag\":\"\\\"0d00aa80-0000-1a00-0000-67e360500000\\\"\",\"tags\":{\"Created\":\"2025-03-26T01:47:34Z\",\"DisableFabricIntegration\":\"true\",\"EnableDenyAssignments\":\"false\",\"EnableNexusRelay\":\"false\",\"OverrideClusterManagerAZs\":\"[3,2,1]\",\"OverrideClusterManagerVmSKU\":\"Standard_D4_v2\",\"Owner\":\"REDACTED\",\"from\":\"geneva-synthetics,\",\"nc:environment\":\"sandbox\",\"testKey\":\"testValue\"},\"systemData\":{\"createdBy\":\"7f367e7e-d781-490a-9e68-8ebff7896583\",\"createdByType\":\"Application\",\"createdAt\":\"2025-03-26T01:21:25.2881265Z\",\"lastModifiedBy\":\"7f367e7e-d781-490a-9e68-8ebff7896583\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2025-03-26T01:47:35.4280946Z\"},\"properties\":{\"analyticsWorkspaceId\":\"/subscriptions/sub/resourceGroups/rg/providers/Microsoft.operationalinsights/workspaces/AnalyticsWorkspaceID-update\",\"availabilityZones\":[\"3\",\"2\",\"1\"],\"clusterVersions\":[{\"supportExpiryDate\":\"2025-06-30\",\"targetClusterVersion\":\"3.14.3\"},{\"supportExpiryDate\":\"2026-02-28\",\"targetClusterVersion\":\"4.1.4\"},{\"supportExpiryDate\":\"2026-02-28\",\"targetClusterVersion\":\"4.1.6\"},{\"supportExpiryDate\":\"2025-06-30\",\"targetClusterVersion\":\"4.3.0\"}],\"fabricControllerId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/synt-sandbox-apitestingonazure-australiaeast-api-sy_uswest-s24wtl2k-test/providers/Microsoft.Network/virtualNetworks/vnet61c8d4/subnets/subnet535cc9\",\"managedResourceGroupConfiguration\":{\"location\":\"australiaeast\",\"name\":\"clustermgr669ad7-HostedResources-26D424E7\"},\"managerExtendedLocation\":{\"name\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/clustermgr669ad7-HostedResources-26D424E7/providers/Microsoft.ExtendedLocation/customLocations/clustermgr669ad7-cl\",\"type\":\"CustomLocation\"},\"vmSize\":\"Standard_D4_v2\",\"provisioningState\":\"Failed\"}},{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/synt-sandbox-Templates-australiaeast-ClusterManager-sy_USEast-2oauxff0/providers/Microsoft.NetworkCloud/clusterManagers/synt-australiaeast-reui51yd\",\"name\":\"synt-australiaeast-reui51yd\",\"type\":\"microsoft.networkcloud/clustermanagers\",\"location\":\"australiaeast\",\"etag\":\"\\\"50008703-0000-1a00-0000-67ec612f0000\\\"\",\"tags\":{\"DisableFabricIntegration\":\"True\",\"EnableDenyAssignments\":\"true\",\"EnableManagedIdentity\":\"false\",\"EnableNexusRelay\":\"true\",\"OverrideClusterManagerAKSRegion\":\"\",\"OverrideClusterManagerAZs\":\"[]\",\"OverrideClusterManagerVmSKU\":\"Standard_D8s_v3\",\"nc:environment\":\"sandbox\"},\"systemData\":{\"createdBy\":\"7f367e7e-d781-490a-9e68-8ebff7896583\",\"createdByType\":\"Application\",\"createdAt\":\"2025-04-01T21:47:20.7703897Z\",\"lastModifiedBy\":\"7f367e7e-d781-490a-9e68-8ebff7896583\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2025-04-01T21:47:20.7703897Z\"},\"identity\":{\"type\":\"None\"},\"properties\":{\"fabricControllerId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/synt-sandbox-Templates-australiaeast-ClusterManager-sy_USEast-2oauxff0/providers/Microsoft.Network/virtualNetworks/synt-australiaeast-reui51yd/subnets/ClusterManagerSubnet\",\"managedResourceGroupConfiguration\":{\"location\":\"australiaeast\",\"name\":\"synt-australiaeast-reui51yd-HostedResources-5C486D1F\"},\"provisioningState\":\"InProgress\",\"availabilityZones\":[\"1\",\"2\",\"3\"],\"vmSize\":\"Standard_D8s_v3\",\"clusterVersions\":[{\"supportExpiryDate\":\"2025-06-30\",\"targetClusterVersion\":\"3.14.3\"},{\"supportExpiryDate\":\"2026-02-28\",\"targetClusterVersion\":\"4.1.4\"},{\"supportExpiryDate\":\"2026-02-28\",\"targetClusterVersion\":\"4.1.6\"},{\"supportExpiryDate\":\"2025-06-30\",\"targetClusterVersion\":\"4.3.0\"}]}},{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/aostapenko-test-rg-cm1/providers/Microsoft.NetworkCloud/clusterManagers/sim-cluster-mgr-qc423ab4xacz4\",\"name\":\"sim-cluster-mgr-qc423ab4xacz4\",\"type\":\"microsoft.networkcloud/clustermanagers\",\"location\":\"eastus\",\"etag\":\"\\\"ef015332-0000-0100-0000-6425d30c0000\\\"\",\"tags\":{\"DisableFabricIntegration\":\"true\",\"EnableClusterManagerInfraServices\":\"true\"},\"systemData\":{\"createdBy\":\"de975306-d24e-4dec-9d3b-ef05c66f0075\",\"createdByType\":\"Application\",\"createdAt\":\"2023-03-30T18:17:13.3252428Z\",\"lastModifiedBy\":\"de975306-d24e-4dec-9d3b-ef05c66f0075\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2023-03-30T18:17:13.3252428Z\"},\"properties\":{\"analyticsWorkspaceId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/aostapenko-test-rg-cm1/providers/Microsoft.OperationalInsights/workspaces/si[...]
