{
  "Get-AzNetworkCloudRack+[NoContext]+ListBySubscription+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/racks?api-version=2023-07-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/racks?api-version=2023-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "771db11e-46cb-4dd6-8c00-7f6c8761bd02", "efe40f3a-2562-4cf2-b334-e2072b3a4de2", "c26be9ff-c2ce-45c2-9f68-29bf2b6b082d", "67ede375-bb8c-47d6-93e5-64e440aae183" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-79D8EB80/providers/Microsoft.NetworkCloud/racks/aa5678\",\"name\":\"aa5678\",\"type\":\"microsoft.networkcloud/racks\",\"location\":\"westus3\",\"extendedLocation\":{\"name\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-hostedresources-79d8eb80/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc\",\"type\":\"CustomLocation\"},\"tags\":{\"CreatedBy\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-hostedresources-79d8eb80/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc/resourcesyncrules/rackshydrationrule\"},\"systemData\":{\"createdBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"createdByType\":\"Application\",\"createdAt\":\"2023-03-30T18:24:34.8749607Z\",\"lastModifiedBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2023-03-30T18:27:13.5028249Z\"},\"properties\":{\"rackSkuId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VLab1_4_Compute_DellR750_3C2M_sim\",\"rackSerialNumber\":\"aa5678\",\"availabilityZone\":\"1\",\"rackLocation\":\"Foo Datacenter, Floor 3, Aisle 9, Rack 2\",\"clusterId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/sangeetgupta-main1/providers/Microsoft.NetworkCloud/clusters/simulator\",\"detailedStatus\":\"Available\",\"provisioningState\":\"Succeeded\"}},{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-79D8EB80/providers/Microsoft.NetworkCloud/racks/aa1234\",\"name\":\"aa1234\",\"type\":\"microsoft.networkcloud/racks\",\"location\":\"westus3\",\"extendedLocation\":{\"name\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-hostedresources-79d8eb80/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc\",\"type\":\"CustomLocation\"}[...]
