{
  "Get-AzNetworkCloudAgentPool+[NoContext]+ListByParent+$GET+https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/pstest_rg053dl1/providers/Microsoft.NetworkCloud/kubernetesClusters/k8s-cluster-name/agentPools?api-version=2024-07-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/pstest_rg053dl1/providers/Microsoft.NetworkCloud/kubernetesClusters/k8s-cluster-name/agentPools?api-version=2024-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "12" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/pstest_rg053dl1/providers/Microsoft.NetworkCloud/kubernetesClusters/k8s-cluster-name/agentPools/agentpool1\",\"name\":\"agentpool1\",\"type\":\"microsoft.networkcloud/kubernetesclusters/agentpools\",\"location\":\"uksouth\",\"tags\":{\"tags\":\"tag1\"},\"systemData\":{\"createdBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"createdByType\":\"Application\",\"createdAt\":\"2024-10-24T02:49:18.2429986Z\",\"lastModifiedBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2024-10-24T13:09:39.9242381Z\"},\"properties\":{\"administratorConfiguration\":{\"adminUsername\":\"admin\",\"sshPublicKeys\":[{\"keyData\":\"ssh-rsa REDACTED\"}]},\"agentOptions\":{\"hugepagesCount\":0,\"hugepagesSize\":\"2M\"},\"attachedNetworkConfiguration\":{},\"count\":1,\"mode\":\"System\",\"vmSkuName\":\"NC_G2_8_v1\",\"availabilityZones\":[],\"labels\":[],\"taints\":[],\"kubernetesVersion\":\"v1.28.0-6\",\"upgradeSettings\":{\"maxSurge\":\"1\",\"maxUnavailable\":\"0\"},\"provisioningState\":\"Succeeded\"}},{\"id\":\"/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/pstest_rg053dl1/providers/Microsoft.NetworkCloud/kubernetesClusters/k8s-cluster-name/agentPools/agentpool4\",\"name\":\"agentpool4\",\"type\":\"microsoft.networkcloud/kubernetesclusters/agentpools\",\"location\":\"uksouth\",\"systemData\":{\"createdBy\":\"REDACTED\",\"createdByType\":\"User\",\"createdAt\":\"2024-10-24T16:12:57.4746737Z\",\"lastModifiedBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2024-10-24T16:24:11.2691296Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"administratorConfiguration\":{\"adminUsername\":\"azureuser\",\"sshPublicKeys\":[{\"keyData\":\"ssh-rsa REDACTED\"}]},\"agentOptions\":{\"hugepagesCount\":0,\"hugepagesSize\":\"2M\"},\"attachedNetworkConfiguration\":{\"l3Networks\":[{\"ipamEnabled\":\"False\",\"networkId\":\"/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/shared-dev-dev07-cluster-1/providers/Microsoft.NetworkCloud/l3Networks/l3network-736\",\"pluginType\":\"SRIOV\"}]},\"availabilityZones\":[\"1\"],\"count\":3,\"labels\":[{\"key\":\"kubernetes.label\",\"value\":\"true\"}],\"mode\":\"System\",\"upgradeSettings\":{\"maxSurge\":\"1\",\"maxUnavailable\":\"0\"},\"vmSkuName\":\"NC_G2_8_v1\",\"taints\":[],\"kubernetesVersion\":\"v1.28.0-6\"}},{\"id\":\"/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/pstest_rg053dl1/providers/Microsoft.NetworkCloud/kubernetesClusters/k8s-cluster-name/agentPools/agentpooldpdk\",\"name\":\"agentpooldpdk\",\"type\":\"microsoft.networkcloud/kubernetesclusters/agentpools\",\"location\":\"uksouth\",\"extendedLocation\":{\"name\":\"/subscriptions/fca2e8ee-1179-48b8-9532-428ed0873a2e/resourceGroups/dev07-170a7a87d9a7-HostedResources-52364569/providers/Microsoft.ExtendedLocation/customLocations/dev07-170a7a87d9a7-cstm-loc\",\"type\":\"CustomLocation\"},\"tags\":{\"tags\":\"tag1\"},\"systemData\":{\"createdBy\":\"REDACTED\",\"createdByType\":\"User\",\"createdAt\":\"2024-10-24T16:23:36.4909213Z\",\"lastModifiedBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\[...]
