{
  "Get-AzNetworkCloudRack+[NoContext]+ListBySubscription+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/racks?api-version=2024-07-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/racks?api-version=2024-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "ff9b2f0d-92d2-4d26-98dd-ea4ad3d4fbd7", "97c066a2-d20d-40bf-9d5a-559acc70c38e" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dev02-1-a94a54922286-HostedResources-66211BA4/providers/Microsoft.NetworkCloud/racks/b37dev02r1\",\"name\":\"b37dev02r1\",\"type\":\"microsoft.networkcloud/racks\",\"location\":\"eastus2euap\",\"extendedLocation\":{\"name\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dev02-1-a94a54922286-hostedresources-66211ba4/providers/microsoft.extendedlocation/customlocations/dev02-1-a94a54922286-cstm-loc\",\"type\":\"CustomLocation\"},\"tags\":{\"BuildURL\":\"https://dev.azure.com/msazuredev/AzureForOperatorsIndustry/_build/results?buildId=2608979\",\"Created\":\"2024-09-26T21:51:27Z\",\"CreatedBy\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dev02-1-a94a54922286-hostedresources-66211ba4/providers/microsoft.extendedlocation/customlocations/dev02-1-a94a54922286-cstm-loc/resourcesyncrules/rackshydrationrule\",\"ExecutionType\":\"nc-labs-LabDeployment\",\"Owner\":\"REDACTED\",\"from\":\"cloudtest\",\"rackAPITestKey\":\"mytagvalue\"},\"systemData\":{\"createdBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"createdByType\":\"Application\",\"createdAt\":\"2024-09-26T05:33:28.5519728Z\",\"lastModifiedBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2024-09-26T21:51:33.7802789Z\"},\"properties\":{\"rackSkuId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/rackSkus/VNearEdge1_Single_DellR750_4C1M_x70r3_9_labonly\",\"rackSerialNumber\":\"b37dev02r1\",\"availabilityZone\":\"A\",\"rackLocation\":\"b37dev02r1\",\"clusterId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/dev02-1-cluster/providers/Microsoft.NetworkCloud/clusters/dev02-1-a94a54922286\",\"detailedStatus\":\"Available\",\"provisioningState\":\"Succeeded\"}},{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-2627558-cluster-1-HostedResources-03D4F4B3/providers/Microsoft.NetworkCloud/racks/aa1234\",\"name\":\"aa1234\",\"type\":\"microsoft.networkcloud/racks\",\"location\":\"eastus2euap\",\"extendedLocation\":{\"name\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-2627558-cluster-1-hostedresources-03d4f4b3/providers/microsoft.extendedlocation/customlocations/simdev-2627558-[...]
