{
  "New-AzNetworkCloudBmcKeySet+[NoContext]+Create+$PUT+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/j17-cluster/providers/Microsoft.NetworkCloud/clusters/j17-46a577f16969/bmcKeySets/rgbmcKeySet?api-version=2024-07-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/j17-cluster/providers/Microsoft.NetworkCloud/clusters/j17-46a577f16969/bmcKeySets/rgbmcKeySet?api-version=2024-07-01",
      "Content": "{\n  \"tags\": {\n    \"tag1\": \"tag1\"\n  },\n  \"location\": \"eastus\",\n  \"extendedLocation\": {\n    \"name\": \"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/j17-46a577f16969-HostedResources-0A94A731/providers/Microsoft.ExtendedLocation/customLocations/j17-46a577f16969-cstm-loc\",\n    \"type\": \"CustomLocation\"\n  },\n  \"properties\": {\n    \"azureGroupId\": \"azGroup\",\n    \"expiration\": \"2023-12-31T23:59:59.0080000Z\",\n    \"privilegeLevel\": \"ReadOnly\",\n    \"userList\": [\n      {\n        \"sshPublicKey\": {\n          \"keyData\": \"ssh-rsa REDACTED\"\n        },\n        \"azureUserName\": \"userABC\",\n        \"description\": \"User ABC desc\"\n      }\n    ]\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"2e01c158-0000-0100-0000-64c2d85f0000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "4c2135ef-8df8-46de-83a9-54f0536cc70e" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/a2722f28-9db9-4e83-a7b7-1e43c55e3d94*F3D3DDA693E192AD25E7B31D10CEC77890E4F63716915CA07AA1BC061BA9B6DA?api-version=2024-07-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/j17-cluster/providers/Microsoft.NetworkCloud/clusters/j17-46a577f16969/bmcKeySets/rgbmcKeySet\",\"name\":\"rgbmcKeySet\",\"type\":\"microsoft.networkcloud/clusters/bmckeysets\",\"location\":\"eastus\",\"extendedLocation\":{\"name\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/j17-46a577f16969-HostedResources-0A94A731/providers/Microsoft.ExtendedLocation/customLocations/j17-46a577f16969-cstm-loc\",\"type\":\"CustomLocation\"},\"tags\":{\"tag1\":\"tag1\"},\"systemData\":{\"createdBy\":\"REDACTED\",\"createdByType\":\"User\",\"createdAt\":\"2023-07-27T20:19:43.0655202Z\",\"lastModifiedBy\":\"REDACTED\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-07-27T20:49:33.5459734Z\"},\"properties\":{\"provisioningState\":\"Accepted\",\"userListStatus\":[{\"azureUserName\":\"userABC\",\"status\":\"Invalid\"},{\"azureUserName\":\"userPQR\",\"status\":\"Active\"}],\"lastValidation\":\"2023-07-27T20:23:22Z\",\"detailedStatus\":\"AllActive\",\"detailedStatusMessage\":\"Updated users on all the nodes\",\"azureGroupId\":\"azGroup\",\"expiration\":\"2023-12-31T23:59:59.008Z\",\"privilegeLevel\":\"ReadOnly\",\"userList\":[{\"sshPublicKey\":{\"keyData\":\"ssh-rsa REDACTED\"},\"azureUserName\":\"userABC\",\"description\":\"User ABC desc\"}]}}",
    }
  },
  "New-AzNetworkCloudBmcKeySet+[NoContext]+Create+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/a2722f28-9db9-4e83-a7b7-1e43c55e3d94*F3D3DDA693E192AD25E7B31D10CEC77890E4F63716915CA07AA1BC061BA9B6DA?api-version=2024-07-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/a2722f28-9db9-4e83-a7b7-1e43c55e3d94*F3D3DDA693E192AD25E7B31D10CEC77890E4F63716915CA07AA1BC061BA9B6DA?api-version=2024-07-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"b703a1db-0000-0100-0000-64c2d8700000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/a2722f28-9db9-4e83-a7b7-1e43c55e3d94*F3D3DDA693E192AD25E7B31D10CEC77890E4F63716915CA07AA1BC061BA9B6DA\",\"name\":\"a2722f28-9db9-4e83-a7b7-1e43c55e3d94*F3D3DDA693E192AD25E7B31D10CEC77890E4F63716915CA07AA1BC061BA9B6DA\",\"resourceId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/j17-cluster/providers/Microsoft.NetworkCloud/clusters/j17-46a577f16969/bmcKeySets/rgbmcKeySet\",\"status\":\"Succeeded\",\"startTime\":\"2023-07-27T20:49:33.8005075Z\",\"endTime\":\"2023-07-27T20:49:52.6485979Z\",\"error\":{},\"properties\":null}",
    }
  },
  "New-AzNetworkCloudBmcKeySet+[NoContext]+Create+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/j17-cluster/providers/Microsoft.NetworkCloud/clusters/j17-46a577f16969/bmcKeySets/rgbmcKeySet?api-version=2024-07-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/j17-cluster/providers/Microsoft.Ne[...]
