{
  "New-AzNetworkCloudClusterManager+[NoContext]+Create+$PUT+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/pstest_rglvf4zh/providers/Microsoft.NetworkCloud/clusterManagers/testClusterManager?api-version=2023-07-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/pstest_rglvf4zh/providers/Microsoft.NetworkCloud/clusterManagers/testClusterManager?api-version=2023-07-01",
      "Content": "{\n  \"tags\": {\n    \"DisableFabricIntegration\": \"true\",\n    \"EnableNexusRelay\": \"false\"\n  },\n  \"location\": \"eastus\",\n  \"properties\": {\n    \"analyticsWorkspaceId\": \"\",\n    \"fabricControllerId\": \"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/cli-test-ps/providers/Microsoft.Network/virtualNetworks/cmres/subnets/ClusterManagerSubnet\"\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"67046e7a-0000-0100-0000-64c9aca90000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/a14884a0-7763-4c7f-abd0-b2971f11e8c8*407B85AD9E23D3ED185877F5E4D9F80470BA2F1217CA1D431D29333C025E7F4C?api-version=2023-07-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/pstest_rglvf4zh/providers/Microsoft.NetworkCloud/clusterManagers/testClusterManager\",\"name\":\"testClusterManager\",\"type\":\"microsoft.networkcloud/clustermanagers\",\"location\":\"eastus\",\"tags\":{\"DisableFabricIntegration\":\"true\",\"EnableNexusRelay\":\"false\"},\"systemData\":{\"createdBy\":\"REDACTED\",\"createdByType\":\"User\",\"createdAt\":\"2023-08-02T01:08:57.4911506Z\",\"lastModifiedBy\":\"REDACTED\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-08-02T01:08:57.4911506Z\"},\"properties\":{\"analyticsWorkspaceId\":\"\",\"fabricControllerId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/cli-test-ps/providers/Microsoft.Network/virtualNetworks/cmres/subnets/ClusterManagerSubnet\",\"managedResourceGroupConfiguration\":{\"location\":\"eastus\",\"name\":\"testClusterManager-HostedResources-121FD7C7\"},\"provisioningState\":\"Accepted\"}}",
    }
  },
  "New-AzNetworkCloudClusterManager+[NoContext]+Create+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/a14884a0-7763-4c7f-abd0-b2971f11e8c8*407B85AD9E23D3ED185877F5E4D9F80470BA2F1217CA1D431D29333C025E7F4C?api-version=2023-07-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/a14884a0-7763-4c7f-abd0-b2971f11e8c8*407B85AD9E23D3ED185877F5E4D9F80470BA2F1217CA1D431D29333C025E7F4C?api-version=2023-07-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "3" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"510982ab-0000-0100-0000-64c9aca90000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/a14884a0-7763-4c7f-abd0-b2971f11e8c8*407B85AD9E23D3ED185877F5E4D9F80470BA2F1217CA1D431D29333C025E7F4C\",\"name\":\"a14884a0-7763-4c7f-abd0-b2971f11e8c8*407B85AD9E23D3ED185877F5E4D9F80470BA2F1217CA1D431D29333C025E7F4C\",\"resourceId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/pstest_rglvf4zh/providers/Microsoft.NetworkCloud/clusterManagers/testClusterManager\",\"status\":\"Accepted\",\"startTime\":\"2023-08-02T01:08:57.6081874Z\"}",
    }
  },
  "New-AzNetworkCloudClusterManager+[NoContext]+Create+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/a14884a0-7763-4c7f-abd0-b2971f11e8c8*407B85AD9E23D3ED185877F5E4D9F80470BA2F1217CA1D431D29333C025E7F4C?api-version=2023-07-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-6[...]
