{
  "Remove-AzNetworkCloudTrunkedNetwork+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-1493033C/providers/Microsoft.NetworkCloud/trunkedNetworks/trunkedNetwork-ps-test?api-version=2023-07-01+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-1493033C/providers/Microsoft.NetworkCloud/trunkedNetworks/trunkedNetwork-ps-test?api-version=2023-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "8" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "ETag": [ "\"da0064ea-0000-0100-0000-64caea3a0000\"" ],
        "Location": [ "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/fd6d1dcb-0eaa-42b4-9b9f-7ff0609b214d*4490B14006DBD5CEBCD3AA52BFCA19BD436E75C18F17A84F052B697C0857F201?api-version=2023-07-01" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14998" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "ee8bf439-caba-4a37-9fba-514d5bc4cb63" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/fd6d1dcb-0eaa-42b4-9b9f-7ff0609b214d*4490B14006DBD5CEBCD3AA52BFCA19BD436E75C18F17A84F052B697C0857F201?api-version=2023-07-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "bnVsbA==",
    }
  },
  "Remove-AzNetworkCloudTrunkedNetwork+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/fd6d1dcb-0eaa-42b4-9b9f-7ff0609b214d*4490B14006DBD5CEBCD3AA52BFCA19BD436E75C18F17A84F052B697C0857F201?api-version=2023-07-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/fd6d1dcb-0eaa-42b4-9b9f-7ff0609b214d*4490B14006DBD5CEBCD3AA52BFCA19BD436E75C18F17A84F052B697C0857F201?api-version=2023-07-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "9" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"5d09aac1-0000-0100-0000-64caea3f0000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11945" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/fd6d1dcb-0eaa-42b4-9b9f-7ff0609b214d*4490B14006DBD5CEBCD3AA52BFCA19BD436E75C18F17A84F052B697C0857F201\",\"name\":\"fd6d1dcb-0eaa-42b4-9b9f-7ff0609b214d*4490B14006DBD5CEBCD3AA52BFCA19BD436E75C18F17A84F052B697C0857F201\",\"resourceId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-1493033C/providers/Microsoft.NetworkCloud/trunkedNetworks/trunkedNetwork-ps-test\",\"status\":\"Succeeded\",\"startTime\":\"2023-08-02T23:43:53.1493883Z\",\"endTime\":\"2023-08-02T23:43:59.6416708Z\",\"properties\":null}",
    }
  },
  "Remove-AzNetworkCloudTrunkedNetwork+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/fd6d1dcb-0eaa-42b4-9b9f-7ff0609b214d*4490B14006DBD5CEBCD3AA52BFCA19BD436E75C18F17A84F052B697C0857F201?api-version=2023-07-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb2[...]
