{
  "Remove-AzNetworkCloudL2Network+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/pstest_rgqu19zn/providers/Microsoft.NetworkCloud/l2Networks/l2network?api-version=2023-07-01+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/pstest_rgqu19zn/providers/Microsoft.NetworkCloud/l2Networks/l2network?api-version=2023-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "9" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "ETag": [ "\"8110c5d7-0000-0100-0000-6494c1d40000\"" ],
        "Location": [ "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0d52ed67-b166-4037-a27f-a5214f8642ba*B39819B2EFC865EF3A35DD77339D2DC9FB42145A0037FF258E01284751ED8AC0?api-version=2023-07-01" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14999" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "51c4bd15-a800-4c79-a687-cd9784333bb8" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0d52ed67-b166-4037-a27f-a5214f8642ba*B39819B2EFC865EF3A35DD77339D2DC9FB42145A0037FF258E01284751ED8AC0?api-version=2023-07-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "bnVsbA==",
    }
  },
  "Remove-AzNetworkCloudL2Network+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0d52ed67-b166-4037-a27f-a5214f8642ba*B39819B2EFC865EF3A35DD77339D2DC9FB42145A0037FF258E01284751ED8AC0?api-version=2023-07-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0d52ed67-b166-4037-a27f-a5214f8642ba*B39819B2EFC865EF3A35DD77339D2DC9FB42145A0037FF258E01284751ED8AC0?api-version=2023-07-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "10" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"e7022104-0000-0100-0000-6494c1d70000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11987" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0d52ed67-b166-4037-a27f-a5214f8642ba*B39819B2EFC865EF3A35DD77339D2DC9FB42145A0037FF258E01284751ED8AC0\",\"name\":\"0d52ed67-b166-4037-a27f-a5214f8642ba*B39819B2EFC865EF3A35DD77339D2DC9FB42145A0037FF258E01284751ED8AC0\",\"resourceId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/pstest_rgqu19zn/providers/Microsoft.NetworkCloud/l2Networks/l2network\",\"status\":\"Succeeded\",\"startTime\":\"2023-06-22T21:49:07.9280587Z\",\"endTime\":\"2023-06-22T21:49:11.9644747Z\",\"properties\":null}",
    }
  },
  "Remove-AzNetworkCloudL2Network+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/0d52ed67-b166-4037-a27f-a5214f8642ba*B39819B2EFC865EF3A35DD77339D2DC9FB42145A0037FF258E01284751ED8AC0?api-version=2023-07-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/pro[...]
