{
  "Stop-AzNetworkCloudBareMetalMachine+[NoContext]+PowerOff+$POST+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-1493033C/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute02/powerOff?api-version=2023-07-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-1493033C/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute02/powerOff?api-version=2023-07-01",
      "Content": "{\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/f24932bb-a8a3-4578-adc6-e85c2c704ef6*EF43F96D82FF690FBEFC22F2F42C0126D380BC968C77CCD0FDC691AA8DB385E7?api-version=2023-07-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "80ae7c78-3b98-48f5-a49c-3afffc9993cd" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/f24932bb-a8a3-4578-adc6-e85c2c704ef6*EF43F96D82FF690FBEFC22F2F42C0126D380BC968C77CCD0FDC691AA8DB385E7?api-version=2023-07-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "bnVsbA==",
    }
  },
  "Stop-AzNetworkCloudBareMetalMachine+[NoContext]+PowerOff+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/f24932bb-a8a3-4578-adc6-e85c2c704ef6*EF43F96D82FF690FBEFC22F2F42C0126D380BC968C77CCD0FDC691AA8DB385E7?api-version=2023-07-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/f24932bb-a8a3-4578-adc6-e85c2c704ef6*EF43F96D82FF690FBEFC22F2F42C0126D380BC968C77CCD0FDC691AA8DB385E7?api-version=2023-07-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "5" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "ETag": [ "\"2209eafb-0000-0100-0000-64c838220000\"" ],
        "Location": [ "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/eastus/operationStatuses/f24932bb-a8a3-4578-adc6-e85c2c704ef6*EF43F96D82FF690FBEFC22F2F42C0126D380BC968C77CCD0FDC691AA8DB385E7?api-version=2023-07-01" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11995" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/eastus/operationStatuses/f24932bb-a8a3-4578-adc6-e85c2c704ef6*EF43F96D82FF690FBEFC22F2F42C0126D380BC968C77CCD0FDC691AA8DB385E7?api-version=2023-07-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/f24932bb-a8a3-4578-adc6-e85c2c704ef6*EF43F96D82FF690FBEFC22F2F42C0126D380BC968C77CCD0FDC691AA8DB385E7\",\"name\":\"f24932bb-a8a3-4578-adc6-e85c2c704ef6*EF43F96D82FF690FBEFC22F2F42C0126D380BC968C77CCD0FDC691AA8DB385E7\",\"resourceId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simulator-HostedResources-1493033C/providers/Microsoft.NetworkCloud/bareMetalMachines/rack1compute02\",\"status\":\"Accepted\",\"startTime\":\"2023-07-31T22:39:24.9801187Z\"}",
    }
  },
  "Stop-AzNetworkCloudBareMetalMachine+[NoContext]+PowerOff+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/eastus/operationStatuses/f24932bb-a8a3-4578-adc6-e85c2c704ef6*EF43F96D82FF690FBEFC22F2F42C0126D380BC968C77CCD0FDC691AA8DB385E7?api-version=2023-07-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb[...]
