{
  "Update-AzNetworkCloudBareMetalMachineKeySet+[NoContext]+Update+$PATCH+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/powershell-cli-automation/providers/Microsoft.NetworkCloud/clusters/simulator/bareMetalMachineKeySets/bmmKeySet?api-version=2024-07-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/powershell-cli-automation/providers/Microsoft.NetworkCloud/clusters/simulator/bareMetalMachineKeySets/bmmKeySet?api-version=2024-07-01",
      "Content": "{\n  \"properties\": {\n    \"userList\": [\n      {\n        \"sshPublicKey\": {\n          \"keyData\": \"ssh-rsa REDACTED\"\n        },\n        \"azureUserName\": \"userXYZ\",\n        \"description\": \"User XYZ Desc\"\n      }\n    ]\n  },\n  \"tags\": {\n    \"tag1\": \"tag1\",\n    \"tag2\": \"tagUpdate\"\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "ETag": [ "\"46003497-0000-0100-0000-649c82b20000\"" ],
        "Location": [ "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/451701e0-367b-481b-840f-97fdfa1448f6*F59C1AB678C77E63B702C003DA55DFFFD8930B988A0861A33A8D23577760B7D3?api-version=2024-07-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1192" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "1981d0f2-57b1-4d5b-bd4d-5ab5f463667a" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/451701e0-367b-481b-840f-97fdfa1448f6*F59C1AB678C77E63B702C003DA55DFFFD8930B988A0861A33A8D23577760B7D3?api-version=2024-07-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "bnVsbA==",
    }
  },
  "Update-AzNetworkCloudBareMetalMachineKeySet+[NoContext]+Update+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/451701e0-367b-481b-840f-97fdfa1448f6*F59C1AB678C77E63B702C003DA55DFFFD8930B988A0861A33A8D23577760B7D3?api-version=2024-07-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/451701e0-367b-481b-840f-97fdfa1448f6*F59C1AB678C77E63B702C003DA55DFFFD8930B988A0861A33A8D23577760B7D3?api-version=2024-07-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "7" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"b800ee3a-0000-0100-0000-649c82b70000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11988" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/EASTUS/operationStatuses/451701e0-367b-481b-840f-97fdfa1448f6*F59C1AB678C77E63B702C003DA55DFFFD8930B988A0861A33A8D23577760B7D3\",\"name\":\"451701e0-367b-481b-840f-97fdfa1448f6*F59C1AB678C77E63B702C003DA55DFFFD8930B988A0861A33A8D23577760B7D3\",\"resourceId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/powershell-cli-automation/providers/Microsoft.NetworkCloud/clusters/simulator/bareMetalMachineKeySets/bmmKeySet\",\"status\":\"Succeeded\",\"startTime\":\"2023-06-28T18:57:54.2413018Z\",\"endTime\":\"2023-06-28T18:57:59.600244Z\",\"error\":{},\"properties\":null}",
    }
  },
  "Update-AzNetworkCloudBareMetalMachineKeySet+[NoContext]+Update+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/powershell-cli-automation/providers/Microsoft.NetworkCloud/clusters/simulator/bareMetalMachineKeySets/bmmKeySet?api-version=2024-07-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/powershell-cli-automation/providers/Microsoft.NetworkCloud/clusters/simulator/bareMetalMachineKeySets/bmmKeySet?api-version=2024-07-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "8" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"46003797-0000-0100-0000-649c82b80000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11987" ],
        "x-ms-providerhub-traffic": [ "True" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/powershell-cli-automation/providers/Microsoft.NetworkCloud/clusters/simulator/bareMetalMachineKeySets/bmmKeySet\",\"name\":\"bmmKeySet\",\"type\":\"microsoft.networkcloud/clusters/baremetalmachinekeysets\",\"location\":\"eastus\",\"extendedLocation\":{\"name\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/simulator-hostedresources-3a4c8046/providers/microsoft.extendedlocation/customlocations/simulator-cstm-loc\",\"type\":\"CustomLocation\"},\"tags\":{\"tag1\":\"tag1\",\"tag2\":\"tagUpdate\"},\"systemData\":{\"createdBy\":\"REDACTED\",\"createdByType\":\"User\",\"createdAt\":\"2023-06-28T18:57:21.4066851Z\",\"lastModifiedBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2023-06-28T18:58:00.019304Z\"},\"properties\":{\"azureGroupId\":\"azGroup\",\"expiration\":\"2023-12-31T23:59:59.008Z\",\"jumpHostsAllowed\":[\"10.23.25.1\"],\"osGroupName\":\"standardAccessGroup\",\"privilegeLevel\":\"Standard\",\"userList\":[{\"azureUserName\":\"userXYZ\",\"description\":\"User XYZ Desc\",\"sshPublicKey\":{\"keyData\":\"ssh-rsa REDACTED\"}}],\"userListStatus\":[{\"azureUserName\":\"userABC\",\"status\":\"Invalid\"},{\"azureUserName\":\"userXYZ\",\"status\":\"Active\"}],\"lastValidation\":\"2023-06-28T18:57:58Z\",\"detailedStatus\":\"AllActive\",\"detailedStatusMessage\":\"Updated users on all the nodes\",\"provisioningState\":\"Succeeded\"}}",
    }
  }
}
