{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/azurermsfrgCNTest?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrgCNTest\",\r\n  \"name\": \"azurermsfrgCNTest\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resources?$filter=resourceType%20eq%20'Microsoft.KeyVault%2Fvaults'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/alsantamclirg2017/providers/Microsoft.KeyVault/vaults/alsantamclirg2017\",\r\n      \"name\": \"alsantamclirg2017\",\r\n      \"type\": \"Microsoft.KeyVault/vaults\",\r\n      \"location\": \"westus\",\r\n      \"tags\": {}\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.KeyVault/vaults/azurermsfkvtest\",\r\n      \"name\": \"azurermsfkvtest\",\r\n      \"type\": \"Microsoft.KeyVault/vaults\",\r\n      \"location\": \"southcentralus\",\r\n      \"tags\": {\r\n        \"clusterName\": \"azurermsfclustertest\",\r\n        \"resourceType\": \"Service Fabric\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.KeyVault/vaults/azurermsfkvtestWU\",\r\n      \"name\": \"azurermsfkvtestWU\",\r\n      \"type\": \"Microsoft.KeyVault/vaults\",\r\n      \"location\": \"westus\",\r\n      \"tags\": {}\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/demo-1227160413082019-paasv2/providers/Mi[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.KeyVault/vaults/azurermsfkvtest?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.KeyVault/vaults/azurermsfkvtest\",\r\n  \"name\": \"azurermsfkvtest\",\r\n  \"type\": \"Microsoft.KeyVault/vaults\",\r\n  \"location\": \"southcentralus\",\r\n  \"tags\": {\r\n    \"clusterName\": \"azurermsfclustertest\",\r\n    \"resourceType\": \"Service Fabric\"\r\n  },\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"family\": \"A\",\r\n      \"name\": \"standard\"\r\n    },\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"accessPolicies\": [\r\n      {\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"objectId\": \"3307ff37-85af-4550-bc6a-d1e02672cb7c\",\r\n        \"permissions\": {\r\n          \"keys\": [\r\n            \"get\",\r\n            \"create\",\r\n            \"delete\",\r\n            \"list\",\r\n            \"update\",\r\n            \"import\",\r\n            \"backup\",\r\n            \"restore\"\r\n          ],\r\n          \"secrets\": [\r\n            \"all\"\r\n          ],\r\n          \"certificates\": [\r\n            \"all\"\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"enabledForDeployment\": true,\r\n    \"vaultUri\": \"https://azurermsfkvtest.vault.azure.net/\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/azurermsfrgCNTest/providers/Microsoft.Resources/deployments/templateCNCert/validate?api-version=2016-09-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"parameters\": {\r\n        \"clusterLocation\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"southcentralus\",\r\n          \"metadata\": {\r\n            \"description\": \"Location of the Cluster\"\r\n          }\r\n        },\r\n        \"clusterName\": {\r\n          \"type\": \"string\",\r\n          \"metadata\": {\r\n            \"description\": \"Name of your cluster - Between 3 and 23 characters. Letters and numbers only\"\r\n          }\r\n        },\r\n        \"adminUserName\": {\r\n          \"type\": \"string\",\r\n          \"metadata\": {\r\n            \"description\": \"Remote desktop user Id\"\r\n          }\r\n        },\r\n        \"adminPassword\": {\r\n          \"type\": \"securestring\",\r\n          \"metadata\": {\r\n            \"description\": \"Remote desktop user password. Must be a strong password\"\r\n          }\r\n        },\r\n        \"vmImagePublisher\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"MicrosoftWindowsServer\",\r\n          \"metadata\": {\r\n            \"description\": \"VM image Publisher\"\r\n          }\r\n        },\r\n        \"vmImageOffer\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"WindowsServer\",\r\n          \"metadata\": {\r\n            \"description\": \"VM image offer\"\r\n          }\r\n        },\r\n        \"vmImageSku\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"2016-Datacenter-with-Containers\",\r\n          \"metadata\": {\r\n            \"description\": \"VM image SKU\"\r\n          }\r\n        },\r\n        \"vmImageVersion\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"latest\",\r\n          \"metadata\": {\r\n            \"description\": \"VM image version\"\r\n          }\r\n        },\r\n        \"loadBalancedAppPort1\": {\r\n          \"type\": \"int\",\r\n          \"defaultValue\": 80,\r\n          \"metadata\": {\r\n            \"description\": \"Input endpoint1 for the application to use. Replace it with what your application uses\"\r\n          }\r\n        },\r\n        \"loadBalancedAppPort2\": {\r\n          \"type\": \"int\",\r\n          \"defaultValue\": 8081,\r\n          \"metadata\": {\r\n            \"description\": \"Input endpoint2 for the application to use. Replace it with what your application uses\"\r\n          }\r\n        },\r\n        \"clusterProtectionLevel\": {\r\n          \"type\": \"string\",\r\n          \"allowedValues\": [\r\n            \"None\",\r\n            \"Sign\",\r\n            \"EncryptAndSign\"\r\n          ],\r\n          \"defaultValue\": \"EncryptAndSign\",\r\n          \"metadata\": {\r\n            \"description\": \"Protection level.Three values are allowed - EncryptAndSign, Sign, None. It is best to keep the default of EncryptAndSign, unless you have a need not to\"\r\n          }\r\n        },\r\n        \"certificateStoreValue\": {\r\n          \"type\": \"string\",\r\n          \"allowedValues\": [\r\n            \"My\"\r\n          ],\r\n          \"defaultValue\": \"My\",\r\n          \"metadata\": {\r\n            \"description\": \"The store name where the cert will be deployed in the virtual machine\"\r\n          }\r\n        },\r\n        \"certificateCommonName\": {\r\n          \"type\": \"string\",\r\n          \"metadata\": {\r\n            \"description\": \"Certificate Commonname\"\r\n          }\r\n        },\r\n        \"certificateIssuerThumbprint\": {\r\n          \"type\": \"string\",\r\n          \"metadata\": {\r\n            \"description\": \"Certificate Issuer thumprints separated by comma\"\r\n          }\r\n        },\r\n        \"sourceVaultValue\": {\r\n          \"type\": \"string\",\r\n          \"metadata\": {\r\n            \"description\": \"Resource Id of the key vault, is should be in the format of /subscriptions/<Sub ID>/resourceGroups/<Resource group name>/providers/Microsoft.KeyVault/vaults/<vault name>\"\r\n          }\r\n        },\r\n        \"certificateUrlValue\": {\r\n          \"type\": \"string\",\r\n          \"metadata\": {\r\n            \"description\": \"Refers to the location URL in your key vault where the certificate was uploaded, it is should be in the format of https://<name of the vault>.vault.azure.net:443/secrets/<exact location>\"\r\n          }\r\n        },\r\n        \"storageAccountType\": {\r\n          \"type\": \"string\",\r\n          \"allowedValues\": [\r\n            \"Standard_LRS\",\r\n            \"Standard_GRS\"\r\n          ],\r\n          \"defaultValue\": \"Standard_LRS\",\r\n          \"metadata\": {\r\n            \"description\": \"Replication option for the VM image storage account\"\r\n          }\r\n        },\r\n        \"supportLogStorageAccountType\": {\r\n          \"type\": \"string\",\r\n          \"allowedValues\": [\r\n            \"Standard_LRS\",\r\n            \"Standard_GRS\"\r\n          ],\r\n          \"defaultValue\": \"Standard_LRS\",\r\n          \"metadata\": {\r\n            \"description\": \"Replication option for the support log storage account\"\r\n          }\r\n        },\r\n        \"applicationDiagnosticsStorageAccountType\": {\r\n          \"type\": \"string\",\r\n          \"allowedValues\": [\r\n            \"Standard_LRS\",\r\n            \"Standard_GRS\"\r\n          ],\r\n          \"defaultValue\": \"Standard_LRS\",\r\n          \"metadata\": {\r\n            \"description\": \"Replication option for the application diagnostics storage account\"\r\n          }\r\n        },\r\n        \"nt0InstanceCount\": {\r\n          \"type\": \"int\",\r\n          \"defaultValue\": 5,\r\n          \"metadata\": {\r\n            \"description\": \"Instance count for node type\"\r\n          }\r\n        },\r\n        \"vmNodeType0Size\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"Standard_D2_V2\"\r\n        }\r\n      },\r\n      \"variables\": {\r\n        \"computeLocation\": \"[parameters('clusterLocation')]\",\r\n        \"dnsName\": \"[parameters('clusterName')]\",\r\n        \"vmStorageAccountName\": \"[toLower(concat( 'sflogs', uniqueString(resourceGroup().id), '1' ))]\",\r\n        \"vmName\": \"vm\",\r\n        \"publicIPAddressName\": \"PublicIP-VM\",\r\n        \"publicIPAddressType\": \"Dynamic\",\r\n        \"vmStorageAccountContainerName\": \"vhds\",\r\n        \"virtualNetworkName\": \"VNet\",\r\n        \"addressPrefix\": \"10.0.0.0/16\",\r\n        \"nicName\": \"NIC\",\r\n        \"lbName\": \"LoadBalancer\",\r\n        \"lbIPName\": \"PublicIP-LB-FE\",\r\n        \"availSetName\": \"AvailabilitySet\",\r\n        \"maxPercentUpgradeDomainDeltaUnhealthyNodes\": \"100\",\r\n        \"vnetID\": \"[resourceId('Microsoft.Network/virtualNetworks',variables('virtualNetworkName'))]\",\r\n        \"overProvision\": \"false\",\r\n        \"vmssApiVersion\": \"2017-03-30\",\r\n        \"sfrpApiVersion\": \"2018-02-01\",\r\n        \"lbApiVersion\": \"2015-06-15\",\r\n        \"vNetApiVersion\": \"2015-06-15\",\r\n        \"storageApiVersion\": \"2016-01-01\",\r\n        \"publicIPApiVersion\": \"2015-06-15\",\r\n        \"nt0applicationStartPort\": \"20000\",\r\n        \"nt0applicationEndPort\": \"30000\",\r\n        \"nt0ephemeralStartPort\": \"49152\",\r\n        \"nt0ephemeralEndPort\": \"65534\",\r\n        \"nt0fabricTcpGatewayPort\": \"19000\",\r\n        \"nt0fabricHttpGatewayPort\": \"19080\",\r\n        \"subnet0Name\": \"Subnet-0\",\r\n        \"subnet0Prefix\": \"10.0.0.0/24\",\r\n        \"subnet0Ref\": \"[concat(variables('vnetID'),'/subnets/',variables('subnet0Name'))]\",\r\n        \"supportLogStorageAccountName\": \"[toLower( concat( uniqueString(resourceGroup().id),'2'))]\",\r\n        \"applicationDiagnosticsStorageAccountName\": \"[toLower(concat('wad',uniqueString(resourceGroup().id), '3' ))]\",\r\n        \"lbID0\": \"[resourceId('Microsoft.Network/loadBalancers',concat('LB','-', parameters('clusterName'),'-',variables('vmNodeType0Name')))]\",\r\n        \"lbIPConfig0\": \"[concat(variables('lbID0'),'/frontendIPConfigurations/LoadBalancerIPConfig')]\",\r\n        \"lbPoolID0\": \"[concat(variables('lbID0'),'/backendAddressPools/LoadBalancerBEAddressPool')]\",\r\n        \"lbProbeID0\": \"[concat(variables('lbID0'),'/probes/FabricGatewayProbe')]\",\r\n        \"lbHttpProbeID0\": \"[concat(variables('lbID0'),'/probes/FabricHttpGatewayProbe')]\",\r\n        \"lbNatPoolID0\": \"[concat(variables('lbID0'),'/inboundNatPools/LoadBalancerBEAddressNatPool')]\",\r\n        \"vmNodeType0Name\": \"[toLower(concat('NT1', variables('vmName')))]\",\r\n        \"vmStorageAccountName0\": \"[toLower(concat(uniqueString(resourceGroup().id), '1', '0' ))]\"\r\n      },\r\n      \"resources\": [\r\n        {\r\n          \"apiVersion\": \"[variables('storageApiVersion')]\",\r\n          \"type\": \"Microsoft.Storage/storageAccounts\",\r\n          \"name\": \"[variables('supportLogStorageAccountName')]\",\r\n          \"location\": \"[variables('computeLocation')]\",\r\n          \"dependsOn\": [],\r\n          \"properties\": {},\r\n          \"kind\": \"Storage\",\r\n          \"sku\": {\r\n            \"name\": \"[parameters('supportLogStorageAccountType')]\"\r\n          },\r\n          \"tags\": {\r\n            \"resourceType\": \"Service Fabric\",\r\n            \"clusterName\": \"[parameters('clusterName')]\"\r\n          }\r\n        },\r\n        {\r\n          \"apiVersion\": \"[variables('storageApiVersion')]\",\r\n          \"type\": \"Microsoft.Storage/storageAccounts\",\r\n          \"name\": \"[variables('applicationDiagnosticsStorageAccountName')]\",\r\n          \"location\": \"[variables('computeLocation')]\",\r\n          \"dependsOn\": [],\r\n          \"properties\": {},\r\n          \"kind\": \"Storage\",\r\n          \"sku\": {\r\n            \"name\": \"[parameters('applicationDiagnosticsStorageAccountType')]\"\r\n          },\r\n          \"tags\": {\r\n            \"resourceType\": \"Service Fabric\",\r\n            \"clusterName\": \"[parameters('clusterName')]\"\r\n          }\r\n        },\r\n        {\r\n          \"apiVersion\": \"[variables('vNetApiVersion')]\",\r\n          \"type\": \"Microsoft.Network/virtualNetworks\",\r\n          \"name\": \"[variables('virtualNetworkName')]\",\r\n          \"location\": \"[variables('computeLocation')]\",\r\n          \"dependsOn\": [\r\n            \"[concat('Microsoft.Network/networkSecurityGroups/', concat('nsg', variables('subnet0Name')))]\"\r\n          ],\r\n          \"properties\": {\r\n            \"addressSpace\": {\r\n              \"addressPrefixes\": [\r\n                \"[variables('addressPrefix')]\"\r\n              ]\r\n            },\r\n            \"subnets\": [\r\n              {\r\n                \"name\": \"[variables('subnet0Name')]\",\r\n                \"properties\": {\r\n                  \"addressPrefix\": \"[variables('subnet0Prefix')]\",\r\n                  \"networkSecurityGroup\": {\r\n                    \"id\": \"[resourceId('Microsoft.Network/networkSecurityGroups', concat('nsg', variables('subnet0Name')))]\"\r\n                  }\r\n                }\r\n              }\r\n            ]\r\n          },\r\n          \"tags\": {\r\n            \"resourceType\": \"Service Fabric\",\r\n            \"clusterName\": \"[parameters('clusterName')]\"\r\n          }\r\n        },\r\n        {\r\n          \"apiVersion\": \"[variables('publicIPApiVersion')]\",\r\n          \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n          \"name\": \"[concat(variables('lbIPName'),'-',variables('vmNodeType0Name'))]\",\r\n          \"location\": \"[variables('computeLocation')]\",\r\n          \"properties\": {\r\n            \"dnsSettings\": {\r\n              \"domainNameLabel\": \"[variables('dnsName')]\"\r\n            },\r\n            \"publicIPAllocationMethod\": \"Dynamic\"\r\n          },\r\n          \"tags\": {\r\n            \"resourceType\": \"Service Fabric\",\r\n            \"clusterName\": \"[parameters('clusterName')]\"\r\n          }\r\n        },\r\n        {\r\n          \"apiVersion\": \"[variables('lbApiVersion')]\",\r\n          \"type\": \"Microsoft.Network/loadBalancers\",\r\n          \"name\": \"[concat('LB','-', parameters('clusterName'),'-',variables('vmNodeType0Name'))]\",\r\n          \"location\": \"[variables('computeLocation')]\",\r\n          \"dependsOn\": [\r\n            \"[concat('Microsoft.Network/publicIPAddresses/',concat(variables('lbIPName'),'-',variables('vmNodeType0Name')))]\"\r\n          ],\r\n          \"properties\": {\r\n            \"frontendIPConfigurations\": [\r\n              {\r\n                \"name\": \"LoadBalancerIPConfig\",\r\n                \"properties\": {\r\n                  \"publicIPAddress\": {\r\n                    \"id\": \"[resourceId('Microsoft.Network/publicIPAddresses',concat(variables('lbIPName'),'-',variables('vmNodeType0Name')))]\"\r\n                  }\r\n                }\r\n              }\r\n            ],\r\n            \"backendAddressPools\": [\r\n              {\r\n                \"name\": \"LoadBalancerBEAddressPool\",\r\n                \"properties\": {}\r\n              }\r\n            ],\r\n            \"loadBalancingRules\": [\r\n              {\r\n                \"name\": \"LBRule\",\r\n                \"properties\": {\r\n                  \"backendAddressPool\": {\r\n                    \"id\": \"[variables('lbPoolID0')]\"\r\n                  },\r\n                  \"backendPort\": \"[variables('nt0fabricTcpGatewayPort')]\",\r\n                  \"enableFloatingIP\": \"false\",\r\n                  \"frontendIPConfiguration\": {\r\n                    \"id\": \"[variables('lbIPConfig0')]\"\r\n                  },\r\n                  \"frontendPort\": \"[variables('nt0fabricTcpGatewayPort')]\",\r\n                  \"idleTimeoutInMinutes\": \"5\",\r\n                  \"probe\": {\r\n                    \"id\": \"[variables('lbProbeID0')]\"\r\n                  },\r\n                  \"protocol\": \"tcp\"\r\n                }\r\n              },\r\n              {\r\n                \"name\": \"LBHttpRule\",\r\n                \"properties\": {\r\n                  \"backendAddressPool\": {\r\n                    \"id\": \"[variables('lbPoolID0')]\"\r\n                  },\r\n                  \"backendPort\": \"[variables('nt0fabricHttpGatewayPort')]\",\r\n                  \"enableFloatingIP\": \"false\",\r\n                  \"frontendIPConfiguration\": {\r\n                    \"id\"[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/azurermsfrgCNTest/providers/Microsoft.Resources/deployments/templateCNCert?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"parameters\": {\r\n        \"clusterLocation\": [...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/azurermsfrgCNTest/providers/Microsoft.Resources/deployments/templateCNCert/operationStatuses/08586359281618290600?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Running\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/azurermsfrgCNTest/providers/Microsoft.Resources/deployments/templateCNCert?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrgCNTest/providers/Microsoft.Resources/deployments/templateCNCert\",\r\n  \"name\": \"templateCNCert\",\r\n  \"properties\": {\r\n    \"templateHash\": \"5641255836129950387\",\r\n    \"parameters\": {\r\n      \"clusterLocation\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"southcentralus\"\r\n      },\r\n      \"clusterName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"azurermsfcntest\"\r\n      },\r\n      \"adminUserName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"username\"\r\n      },\r\n      \"adminPassword\": {\r\n        \"type\": \"SecureString\"\r\n      },\r\n      \"vmImagePublishe[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrgCNTest/providers/Microsoft.ServiceFabric/clusters/azurermsfcntest?api-version=2019-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.ServiceFabric/clusters\",\r\n  \"location\": \"southcentralus\",\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/azurermsfrgCNTest/providers/Microsoft.ServiceFabric/clusters/azurermsfcntest\",\r\n  \"name\": \"azurermsfcntest\",\r\n  \"tags\": {\r\n    \"resourceType\": \"Service Fabric\",\r\n    \"clusterName\": \"azurermsfcntest\"\r\n  },\r\n  \"etag\": \"W/\\\"637012755874805302\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"clusterId\": \"c500962b-6273-4baa-be43-96150917c171\",\r\n    \"clusterCodeVersion\": \"6.5.658.9590\",\r\n    \"clusterState\": \"Deploying\",\r\n    \"managementEndpoint\": \"https://azurermsfcntest.southcentralus.cloudapp.azure.com:19080\",\r\n    \"clusterEndpoint\": \"https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/c500962b-6273-4baa-be43-96150917c171\",\r\n    \"clientCertificateThumbprints\": [],\r\n    \"clientCertificateCommonNames\": [],\r\n    \"fabricSettings\": [\r\n      {\r\n        \"name\": \"Security\",\r\n        \"parameters\": [\r\n          {\r\n            \"name\": \"ClusterProtectionLevel\",\r\n            \"value\": \"EncryptAndSign\"\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"vmImage\": \"Windows\",\r\n    \"reliabilityLevel\": \"Silver\",\r\n    \"nodeTypes\": [\r\n      {\r\n        \"name\": \"nt1vm\",\r\n        \"vmInstanceCount\": 5,\r\n        \"clientConnectionEndpointPort\": 19000,\r\n        \"httpGatewayEndpointPort\": 19080,\r\n        \"applicationPorts\": {\r\n          \"startPort\": 20000,\r\n          \"endPort\": 30000\r\n        },\r\n        \"ephemeralPorts\": {\r\n          \"startPort\": 49152,\r\n          \"endPort\": 65534\r\n        },\r\n        \"isPrimary\": true,\r\n        \"durabilityLevel\": \"Bronze\"\r\n      }\r\n    ],\r\n    \"diagnosticsStorageAccountConfig\": {\r\n      \"storageAccountName\": \"6el7ufusn667a2\",\r\n      \"primaryAccessKey\": \"\",\r\n      \"secondaryAccessKey\": \"\",\r\n      \"protectedAccountKeyName\": \"StorageAccountKey1\",\r\n      \"blobEndpoint\": \"https://6el7ufusn667a2.blob.core.windows.net/\",\r\n      \"queueEndpoint\": \"https://6el7ufusn667a2.queue.core.windows.net/\",\r\n      \"tableEndpoint\": \"https://6el7ufusn667a2.table.core.windows.net/\"\r\n    },\r\n    \"upgradeMode\": \"Automatic\",\r\n    \"addonFeatures\": [\r\n      \"DnsService\",\r\n      \"RepairManager\"\r\n    ],\r\n    \"certificateCommonNames\": {\r\n      \"commonNames\": [\r\n        {\r\n          \"certificateCommonName\": \"azurermsfcntest.southcentralus.cloudapp.azure.com\",\r\n          \"certificateIssuerThumbprint\": \"417e225037fbfaa4f95761d5ae729e1aea7e3a42,d4de20d05e66fc53fe1a50882c78db2852cae474\"\r\n        }\r\n      ],\r\n      \"x509StoreName\": \"My\"\r\n    },\r\n    \"availableClusterVersions\": [\r\n      {\r\n        \"codeVersion\": \"6.5.658.9590\",\r\n        \"supportExpiryUtc\": \"9999-12-31T23:59:59.9999999\",\r\n        \"environment\": \"Windows\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
