{
  "Entries": [
    {
      "RequestUri": "/supportedimages?api-version=2022-10-01.16.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 02 Dec 2022 17:17:42 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://mikebatcheast.eastus.batch.azure.com/$metadata#supportedimages\",\r\n  \"value\": [\r\n    {\r\n      \"imageReference\": {\r\n        \"publisher\": \"almalinux\",\r\n        \"offer\": \"almalinux\",\r\n        \"sku\": \"8_4\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"verificationType\": \"unverified\",\r\n      \"nodeAgentSKUId\": \"batch.node.el 8\",\r\n      \"osType\": \"linux\"\r\n    },\r\n    {\r\n      \"imageReference\": {\r\n        \"publisher\": \"almalinux\",\r\n        \"offer\": \"almalinux\",\r\n        \"sku\": \"8_4-gen2\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"verificationType\": \"unverified\",\r\n      \"nodeAgentSKUId\": \"batch.node.el 8\",\r\n      \"capabilities\": [\r\n        \"Generation2VMImage\"\r\n      ],\r\n      \"osType\": \"linux\"\r\n    },\r\n    {\r\n      \"imageReference\": {\r\n        \"publisher\": \"almalinux\",\r\n        \"offer\": \"almalinux\",\r\n        \"sku\": \"8_5\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"verificationType\": \"unverified\",\r\n      \"nodeAgentSKUId\": \"batch.node.el 8\",\r\n      \"osType\": \"linux\"\r\n    },\r\n    {\r\n      \"imageReference\": {\r\n        \"publisher\": \"almalinux\[...]
