{
  "Entries": [
    {
      "RequestUri": "/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourcegroups/test-powershell?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell\",\r\n  \"name\": \"test-powershell\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.Network/virtualNetworks/MyVirtualNetwork?api-version=2020-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/MyVirtualNetwork' under resource group 'test-powershell' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.Network/virtualNetworks/MyVirtualNetwork?api-version=2020-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"1cfb0853-11dd-4ee5-9e1f-c20a972a4480\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"MyVirtualNetwork\",\r\n  \"id\": \"/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.Network/virtualNetworks/MyVirtualNetwork\",\r\n  \"etag\": \"W/\\\"1cfb0853-11dd-4ee5-9e1f-c20a972a4480\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"4b74979d-9411-4eaa-8f2d-3f4277665104\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnet1\",\r\n        \"id\": \"/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.Network/virtualNetworks/MyVirtualNetwork/subnets/subnet1\",\r\n        \"etag\": \"W/\\\"1cfb0853-11dd-4ee5-9e1f-c20a972a4480\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.2.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.Network/virtualNetworks/MyVirtualNetwork?api-version=2020-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.2.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"subnet1\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/providers/Microsoft.Network/locations/eastus2/operations/558b0f83-099b-4dc9-b092-7b698ea47af3?api-version=2020-08-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"MyVirtualNetwork\",\r\n  \"id\": \"/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.Network/virtualNetworks/MyVirtualNetwork\",\r\n  \"etag\": \"W/\\\"06613e37-9930-4188-a130-921815e8cba8\\\"\",\[...]
    {
      "RequestUri": "/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/providers/Microsoft.Network/locations/eastus2/operations/558b0f83-099b-4dc9-b092-7b698ea47af3?api-version=2020-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.DocumentDB/cassandraClusters/cluster01?api-version=2021-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DocumentDB/cassandraClusters/cluster01' under resource group 'test-powershell' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.DocumentDB/cassandraClusters/cluster01?api-version=2021-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.DocumentDB/cassandraClusters/cluster01\",\r\n  \"name\": \"cluster01\",\r\n  \"type\": \"Microsoft.DocumentDB/cassandraClusters\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"systemData\": {\r\n    \"createdBy\": \"7bbd3f4e-8f53-4ba0-91a7-47a06506ac65\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-06-03T18:37:44.9079156Z\",\r\n    \"lastModifiedBy\": \"7bbd3f4e-8f53-4ba0-91a7-47a06506ac65\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-06-03T18:37:44.9079156Z\"\r\n  },\r\n  \"identity\": null,\r\n  \"properties\": {\r\n    \"authenticationMethod\": \"Cassandra\",\r\n    \"clientCertificates\": [],\r\n    \"clusterNameOverride\": \"cluster01\",\r\n    \"delegatedManagementSubnetId\": \"/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.Network/virtualNetworks/MyVirtualNetwork/subnets/subnet1\",\r\n    \"externalGossipCertificates\": [],\r\n    \"externalSeedNodes\": [],\r\n    \"gossipCertificates\": [\r\n      {\r\n        \"pem\": \"\\r\\n-----BEGIN CERTIFICATE-----\\r\\nMIIF8zCCBNugAwIBAgIQDXvt6X2CCZZ6UmMbi90YvTANBgkqhkiG9w0BAQwFADBh\\r\\nMQswCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMRkwFwYDVQQLExB3\\r\\nd3cuZGlnaWNlcnQuY29tMSAwHgYDVQQDExdEaWdpQ2VydCBHbG9iYWwgUm9vdCBH\\r\\nMjAeFw0yMDA3MjkxMjMwMDBaFw0yNDA2MjcyMzU5NTlaMFkxCzAJBgNVBAYTAlVT\\r\\nMR4wHAYDVQQKExVNaWNyb3NvZnQgQ29ycG9yYXRpb24xKjAoBgNVBAMTIU1pY3Jv\\r\\nc29mdCBBenVyZSBUTFMgSXNzdWluZyBDQSAwNTCCAiIwDQYJKoZIhvcNAQEBBQAD\\r\\nggIPADCCAgoCggIBAKplDTmQ9afwVPQelDuu+N[...]
    {
      "RequestUri": "/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.DocumentDB/cassandraClusters/cluster01?api-version=2021-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"delegatedManagementSubnetId\": \"/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.Network/virtualNetworks/MyVirtualNetwork/subnets/subnet1\",\r\n    \"initialCassandraAdminPassword\": \"password\",\r\n    \"clientCertificates\": [],\r\n    \"externalGossipCertificates\": [],\r\n    \"externalSeedNodes\": []\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/providers/Microsoft.DocumentDB/locations/e[...]
    {
      "RequestUri": "/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/358be4eb-7446-4702-9dd4-54061563ee77?api-version=2021-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Dequeued\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.DocumentDB/cassandraClusters/cluster01/dataCenters/dc1?api-version=2021-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"NotFound\",\r\n  \"message\": \"Entity with the specified id does not exist in the system. More info: https://aka.ms/cosmosdb-tsg-not-found\\r\\nActivityId: 38e06175-96b8-41ca-8c24-9fa1093abe08, Microsoft.Azure.Documents.Common/2.14.0\"\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.DocumentDB/cassandraClusters/cluster01/dataCenters/dc1?api-version=2021-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11971"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.DocumentDB/cassandraClusters/cluster01/dataCenters/dc1\",\r\n  \"name\": \"dc1\",\r\n  \"type\": \"Microsoft.DocumentDB/cassandraClusters/dataCenters\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"7bbd3f4e-8f53-4ba0-91a7-47a06506ac65\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-06-03T18:41:18.3525382Z\",\r\n    \"lastModifiedBy\": \"7bbd3f4e-8f53-4ba0-91a7-47a06506ac65\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-06-03T18:41:18.3525382Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"dataCenterLocation\": \"eastus2\",\r\n    \"delegatedSubnetId\": \"/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.Network/virtualNetworks/MyVirtualNetwork/subnets/subnet1\",\r\n    \"nodeCount\": 3,\r\n    \"seedNodes\": [\r\n      {\r\n        \"ipAddress\": \"10.0.2.5\"\r\n      },\r\n      {\r\n        \"ipAddress\": \"10.0.2.7\"\r\n      },\r\n      {\r\n        \"ipAddress\": \"10.0.2.9\"\r\n      }\r\n    ],\r\n    \"base64EncodedCassandraYamlFragment\": \"\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.DocumentDB/cassandraClusters/cluster01/dataCenters?api-version=2021-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11960"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.DocumentDB/cassandraClusters/cluster01/dataCenters/dc1\",\r\n      \"name\": \"dc1\",\r\n      \"type\": \"Microsoft.DocumentDB/cassandraClusters/dataCenters\",\r\n      \"systemData\": {\r\n        \"createdBy\": \"7bbd3f4e-8f53-4ba0-91a7-47a06506ac65\",\r\n        \"createdByType\": \"Application\",\r\n        \"createdAt\": \"2021-06-03T18:41:18.3525382Z\",\r\n        \"lastModifiedBy\": \"7bbd3f4e-8f53-4ba0-91a7-47a06506ac65\",\r\n        \"lastModifiedByType\": \"Application\",\r\n        \"lastModifiedAt\": \"2021-06-03T18:41:18.3525382Z\"\r\n      },\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"dataCenterLocation\": \"eastus2\",\r\n        \"delegatedSubnetId\": \"/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.Network/virtualNetworks/MyVirtualNetwork/subnets/subnet1\",\r\n        \"nodeCount\": 4,\r\n        \"seedNodes\": [\r\n          {\r\n            \"ipAddress\": \"10.0.2.5\"\r\n          },\r\n          {\r\n            \"ipAddress\": \"10.0.2.7\"\r\n          },\r\n          {\r\n            \"ipAddress\": \"10.0.2.9\"\r\n          }\r\n        ],\r\n        \"base64EncodedCassandraYamlFragment\": \"\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/test-powershell/providers/Microsoft.DocumentDB/cassandraClusters/cluster01/dataCenters/dc1?api-version=2021-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/providers/Microsoft.DocumentDB/locations/eastus2/operationResults/29164dba-f6ec-45ba-9b2a-396a33898a55?api-version=2021-03-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/providers/Microsoft.DocumentDB/locations/eastus2/operationsStatus/29164dba-f6ec-45ba-9b2a-396a33898a55?api-version=2021-03-01-preview"
        ],
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Enqueued\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/providers/Microsoft.DocumentDB/locations/eastus2/operationResults/29164dba-f6ec-45ba-9b2a-396a33898a55?api-version=2021-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11958"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "dd31ecae-4522-468e-8b27-5befd051dd53"
  }
}