{
  "Entries": [
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourcegroups/nova-powershell-tests-rg?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"central us\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/nova-powershell-tests-rg\",\r\n  \"name\": \"nova-powershell-tests-rg\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/nova-powershell-tests-rg/providers/Microsoft.DocumentDB/cassandraClusters?api-version=2021-11-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/nova-powershell-tests-rg/providers/Microsoft.DocumentDB/cassandraClusters/cluster8ea4cb76-7009-4b56-b09c-13dad8371a42?api-version=2021-11-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DocumentDB/cassandraClusters/cluster8ea4cb76-7009-4b56-b09c-13dad8371a42' under resource group 'nova-powershell-tests-rg' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/nova-powershell-tests-rg/providers/Microsoft.DocumentDB/cassandraClusters/cluster8ea4cb76-7009-4b56-b09c-13dad8371a42?api-version=2021-11-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"delegatedManagementSubnetId\": \"/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/nova-powershell-tests-rg/providers/Microsoft.Network/virtualNetworks/cassandra-mi-vnet/subnets/default\",\r\n    \"initialCassandraAdminPassword\": \"password\",\r\n    \"clientCertificates\": [],\r\n    \"externalGossipCertificates\": [],\r\n    \"externalSeedNodes\": []\r\n  },\r\n  \"location\": \"central us\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/centralus/operationsStatus/1a3a1b85-268c-43f6-a466-1eae812d807e?api-version=2021-11-15-preview"
        ],
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/resourceGroups/nova-powershell-tests-rg/providers/Microsoft.DocumentDB/cassandraClusters/cluster8ea4cb76-7009-4b56-b09c-13dad8371a42\",\r\n  \"name\": \"cluster8ea4cb76-7009-4b56-b09c-13dad8371a42\",\r\n  \"type\": \"Microsoft.DocumentDB/cassandraClusters\",\r\n  \"location\": \"Central US\",\r\n  \"tags\": {},\r\n  \"systemData\": {\r\n    \"createdBy\": \"3e25c2b6-ed6b-4a1c-addb-9854055c272a\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2022-02-16T17:58:20.4369605Z\",\r\n    \"lastModifiedBy\": \"3e25c2b6-ed6b-4a1c-addb-9854055c272a\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2022-02-16T17:58:20.4369605Z\"\r\n  },\r\n  \"identity\": null,\r\n  \"properties\": {\r\n    \"authenticationMethod\": \"Cassandra\",\r\n    \"cassandraVersion\": \"3.11\",\r\n    \"clientCertificates\": [],\r\n    \"clusterNameOverride\": \"cluster8ea4cb76-7009-4b56-b09c-13dad8371a42\",\r\n    \"deallocated\": false,\r\n    \"delegatedManagementSubnetId\": \"/subscriptions/dd31ecae-4522-468e-8b27-5befd051dd53/resourceGroups/nova-powershell-tests-rg/providers/Microsoft.Network/virtualNetworks/cassandra-mi-vnet/subnets/default\",\r\n    \"externalGossipCertificates\": [],\r\n    \"externalSeedNodes\": [],\r\n    \"gossipCertificates\": [],\r\n    \"hoursBetweenBackups\": 24,\r\n    \"prometheusEndpoint\": {},\r\n    \"provisioningState\": \"Creating\",\r\n    \"repairEnabled\": true,\r\n    \"seedNodes\": [],\r\n    \"cassandraAuditLoggingEnabled\": false\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/259fbb24-9bcd-4cfc-865c-fc33b22fe38a/providers/Microsoft.DocumentDB/locations/centralus/operationsStatus/1a3a1b85-268c-43f6-a466-1eae812d807e?api-version=2021-11-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Dequeued\"\r\n}",
      "StatusCode": 200
    },
[...]
