{
  "AzConnectedNetworkFunctionVendor+[NoContext]+List+$GET+https://management.azure.com/subscriptions/xxxxx-00000-xxxxx-00000/providers/Microsoft.HybridNetwork/networkFunctionVendors?api-version=2021-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/xxxxx-00000-xxxxx-00000/providers/Microsoft.HybridNetwork/networkFunctionVendors?api-version=2021-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "35" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11994" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-build-version": [ "" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"vendorName\":\"metaswitch\",\"skuList\":[{\"skuName\":\"fusionbasevm-102-01-lab\",\"skuType\":\"EvolvedPacketCore\"},{\"skuName\":\"fusionbasevm-102-01\",\"skuType\":\"EvolvedPacketCore\"},{\"skuName\":\"fusionbasevm-092-01-lab\",\"skuType\":\"EvolvedPacketCore\"},{\"skuName\":\"fusionbasevm-092-01\",\"skuType\":\"EvolvedPacketCore\"},{\"skuName\":\"fusionbasevm-090-01-lab\",\"skuType\":\"EvolvedPacketCore\"},{\"skuName\":\"fusionbasevm-090-01\",\"skuType\":\"EvolvedPacketCore\"},{\"skuName\":\"fusionbasevm-086-04-lab\",\"skuType\":\"EvolvedPacketCore\"},{\"skuName\":\"fusionbasevm-086-0[...]
