<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ResourceName" value="backuprn" />
    <add key="ResourceGroupName" value="backuprg" />
    <add key="ResourceId" value="7368183945769329045" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>