<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ResourceName" value="swatirn1" />
    <add key="ResourceGroupName" value="swatirg1" />
    <add key="ResourceId" value="7368183945769329045" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>