{
    "Entries": [
        {
            "RequestUri": "/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourcegroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin?api-version=2016-03-01",
            "RequestMethod": "DELETE",
            "RequestBody": "",
            "RequestHeaders": {
            },
            "ResponseBody": "",
            "ResponseHeaders": {
                "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
            },
            "StatusCode": "200"
        }
    ],
    "Names": {
        "Test-RemoveAzureRmAlertRule": [ "" ]
    },
    "Variables": { "SubscriptionId": "b67f7fec-69fc-4974-9099-a26bd6ffeda3" }
}
