{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/tagNames?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/tagNames/tag1\",\"tagName\":\"tag1\",\"count\":{\"type\":\"Total\",\"value\":10},\"values\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/tagNames/tag1/tagValues/tagValue1\",\"tagValue\":\"tagValue1\",\"count\":{\"type\":\"Total\",\"value\":2}}]},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/tagNames/tag2\",\"tagName\":\"tag2\",\"count\":{\"type\":\"Total\",\"value\":10},\"values\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/tagNames/tag2/tagValues/tagValue1\",\"tagValue\":\"tagValue1\",\"count\":{\"type\":\"Total\",\"value\":2}}]},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/tagNames/tag3\",\"tagName\":\"tag3\",\"count\":{\"ty[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/tagNames?api-version=2021-04-01&%24skiptoken=faketoken",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": [...]
