{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups/TestParent5?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"TestParent5\",\r\n  \"properties\": {\r\n    \"details\": {\r\n      \"parent\": {}\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-managementgroups-requests": [
          "59"
        ],
        "x-ba-restapi": [
          "0.0.0.0"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Management/managementGroups/TestParent5\",\r\n  \"type\": \"Microsoft.Management/managementGroups\",\r\n  \"name\": \"TestParent5\",\r\n  \"properties\": {\r\n    \"tenantId\": \"c7a87cda-9a66-4920-b0f8-869baa04efe0\",\r\n    \"displayName\": \"TestParent5\",\r\n    \"details\": {\r\n      \"version\": 4,\r\n      \"updatedTime\": \"2022-04-06T19:06:49.2125773Z\",\r\n      \"updatedBy\": \"9e41f384-0aa9-41bc-a29d-6d956cd8eadb\",\r\n      \"parent\": {\r\n        \"id\": \"/providers/Microsoft.Management/managementGroups/c7a87cda-9a66-4920-b0f8-869baa04efe0\",\r\n        \"name\": \"c7a87cda-9a66-4920-b0f8-869baa04efe0\",\r\n        \"displayName\": \"Root Management Group\"\r\n      }\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups/TestPSNewGroup5?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"TestPSNewGroup5\",\r\n  \"properties\": {\r\n    \"details\": {\r\n      \"parent\": {\r\n        \"id\": \"/providers/Microsoft.Management/managementGroups/TestParent5\"\r\n      }\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
 [...]
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups/TestPSNewGroup5?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/TestPSNewGroup5?api-version=2021-04-01"
        ],
        "Retry-After": [
          "0"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/TestPSNewGroup5?api-version=2021-04-01"
        ],
        "x-ms-ratelimit-remaining-managementgroups-requests": [
          "59"
        ],
        "x-ba-restapi": [
          "0.0.0.0"
        ],
        "x-ms-ratelimit-remaining-tenant-deletes": [
          "14999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Management/managementGroups/TestPSNewGroup5\",\r\n  \"type\": \"Microsoft.Management/managementGroups\",\r\n  \"name\": \"TestPSNewGroup5\",\r\n  \"status\": \"NotStarted\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/TestPSNewGroup5?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ba-restapi": [
          "0.0.0.0"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/TestPSNewGroup5\",\r\n  \"name\": \"TestPSNewGroup5\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Management/operationResults/delete/managementGroups/TestPSNewGroup5?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ba-restapi": [
          "0.0.0.0"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Management/managementGroups/TestPSNewGroup5\",\r\n  \"type\": \"Microsoft.Management/managementGroups\",\r\n  \"name\": \"TestPSNewGroup5\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/TestParent5?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ba-restapi": [
          "0.0.0.0"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Management/operationResults/delete/asyncOperation/status/managementGroups/TestParent5\",\r\n  \"name\": \"TestParent5\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Management/operationResults/delete/managementGroups/TestParent5?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ba-restapi": [
          "0.0.0.0"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Management/managementGroups/TestParent5\",\r\n  \"type\": \"Microsoft.Management/managementGroups\",\r\n  \"name\": \"TestParent5\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "5602fbd9-fb0d-4fbb-98b3-10c8ea20b6de"
  }
}