{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Management/getEntities?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ba-restapi": [
          "0.0.0.0"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"count\": 19,\r\n  \"value\": [\r\n    {\r\n      \"name\": \"c7a87cda-9a66-4920-b0f8-869baa04efe0\",\r\n      \"id\": \"/providers/Microsoft.Management/managementGroups/c7a87cda-9a66-4920-b0f8-869baa04efe0\",\r\n      \"type\": \"Microsoft.Management/managementGroups\",\r\n      \"properties\": {\r\n        \"tenantId\": \"c7a87cda-9a66-4920-b0f8-869baa04efe0\",\r\n        \"numberOfChildren\": 12,\r\n        \"numberOfChildGroups\": 11,\r\n        \"numberOfDescendants\": 18,\r\n        \"displayName\": \"Root Management Group\",\r\n        \"parentDisplayNameChain\": [],\r\n        \"parent\": {\r\n          \"id\": null\r\n        },\r\n        \"parentNameChain\": [],\r\n        \"inheritedPermissions\": \"delete\",\r\n        \"permissions\": \"delete\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"TestGroup1\",\r\n      \"id\": \"/providers/Microsoft.Management/managementGroups/TestGroup1\",\r\n      \"type\": \"Microsoft.Management/managementGroups\",\r\n      \"properties\": {\r\n        \"tenantId\": \"c7a87cda-9a66-4920-b0f8-869baa04efe0\",\r\n        \"numberOfChildren\": 2,\r\n        \"numberOfChildGroups\": 2,\r\n        \"numberOfDescendants\": 3,\r\n        \"displayName\": \"TestGroup1\",\r\n        \"parentDisplayN[...]
