{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Management/tenantBackfillStatus?api-version=2021-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ba-restapi": [
          "0.0.0.0"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"tenantId\": \"c7a87cda-9a66-4920-b0f8-869baa04efe0\",\r\n  \"status\": \"Completed\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "5602fbd9-fb0d-4fbb-98b3-10c8ea20b6de"
  }
}