{
  "Entries": [
    {
      "RequestUri": "/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/providers/Microsoft.Network/locations/West%20Central%20US/availableDelegations?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Web.serverFarms\",\r\n      \"id\": \"/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/providers/Microsoft.Network/availableDelegations/Microsoft.Web.serverFarms\",\r\n      \"type\": \"Microsoft.Network/availableDelegations\",\r\n      \"serviceName\": \"Microsoft.Web/serverFarms\",\r\n      \"actions\": [\r\n        \"Microsoft.Network/virtualNetworks/subnets/action\"\r\n      ]\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Sql.servers\",\r\n      \"id\": \"/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/providers/Microsoft.Network/availableDelegations/Microsoft.Sql.servers\",\r\n      \"type\": \"Microsoft.Network/availableDelegations\",\r\n      \"serviceName\": \"Microsoft.Sql/servers\",\r\n      \"actions\": []\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.ContainerInstance.con[...]
