{
  "Entries": [
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups/RGName-ps7697?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centraluseuap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps7697\",\r\n  \"name\": \"RGName-ps7697\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps7697/providers/Microsoft.EventGrid/topics/PSTestTopic-ps2451?api-version=2019-02-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"inputSchema\": \"EventGridSchema\"\r\n  },\r\n  \"location\": \"centraluseuap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/5BD61582-B091-482C-A6D5-956CD251BCAB?api-version=2019-02-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"endpoint\": null,\r\n    \"inputSchema\": \"EventGridSchema\"\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps7697/providers/Microsoft.EventGrid/topics/PSTestTopic-ps2451\",\r\n  \"name\": \"PSTestTopic-ps2451\",\r\n  \"type\": \"Microsoft.EventGrid/topics\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/5BD61582-B091-482C-A6D5-956CD251BCAB?api-version=2019-02-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/5BD61582-B091-482C-A6D5-956CD251BCAB?api-version=2019-02-01-preview\",\r\n  \"name\": \"5bd61582-b091-482c-a6d5-956cd251bcab\",\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9303/providers/Microsoft.EventGrid/topics/PSTestTopic-ps5584?api-version=2019-02-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"inputSchema\": \"EventGridSchema\"\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"Dept\": \"IT\",\r\n    \"Environment\": \"Test\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationsStatus/E11E1A0B-0782-4E9F-BC87-33B73D617492?api-version=2019-02-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"endpoint\": null,\r\n    \"inputSchema\": \"EventGridSchema\"\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"Dept\": \"IT\",\r\n    \"Environment\": \"Test\"\r\n  },\r\n  \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9303/providers/Microsoft.EventGrid/topics/PSTestTopic-ps5584\",\r\n  \"name\": \"PSTestTopic-ps5584\",\r\n  \"type\": \"Microsoft.EventGrid/topics\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9303/providers/Microsoft.EventGrid/topics?api-version=2019-02-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"endpoint\": \"https://pstesttopic-ps5584.centraluseuap-1.eventgrid.azure.net/api/events\",\r\n        \"inputSchema\": \"EventGridSchema\"\r\n      },\r\n      \"location\": \"centraluseuap\",\r\n      \"tags\": {\r\n        \"Dept\": \"IT\",\r\n        \"Environment\": \"Test\"\r\n      },\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9303/providers/Microsoft.EventGrid/topics/PSTestTopic-ps5584\",\r\n      \"name\": \"PSTestTopic-ps5584\",\r\n      \"type\": \"Microsoft.EventGrid/topics\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"endpoint\": \"https://pstesttopic-ps3927.centraluseuap-1.eventgrid.azure.net/api/events\",\r\n        \"inputSchema\": \"EventGridSchema\"\r\n      },\r\n      \"location\": \"centraluseuap\",\r\n      \"tags\": null,\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9303/providers/Microsoft.EventGrid/topics/PSTestTopic-ps3927\",\r\n      \"name\": \"PSTestTopic-ps3927\",\r\n      \"type\": \"Microsoft.EventGrid/topics\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9303/providers/Microsoft.EventGrid/topics?api-version=2019-02-01-preview&$top=1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"endpoint\": \"https://pstesttopic-ps5584.centraluseuap-1.eventgrid.azure.net/api/events\",\r\n        \"inputSchema\": \"EventGridSchema\"\r\n      },\r\n      \"location\": \"centraluseuap\",\r\n      \"tags\": {\r\n        \"Dept\": \"IT\",\r\n        \"Environment\": \"Test\"\r\n      },\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9303/providers/Microsoft.EventGrid/topics/PSTestTopic-ps5584\",\r\n      \"name\": \"PSTestTopic-ps5584\",\r\n      \"type\": \"Microsoft.EventGrid/topics\"\r\n    }\r\n  ],\r\n  \"nextLink\": \"https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9303/providers/Microsoft.EventGrid/topics?api-version=2019-02-01-preview&$skiptoken=%7b%22token%22%3a%22%2bRID%3aStFeAPAAVQF8PQQAAAAAAA%3d%3d%23RT%3a1%23TRC%3a1%23FPC%3aAXw9BAAAAAAAfD0EAAAAAAA%3d%22%2c%22range%22%3a%7b%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7d%7d&$top=1\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9303/providers/Microsoft.EventGrid/topics?api-version=2019-02-01-preview&$skiptoken=%7B%22token%22%3a%22%2bRID%3aStFeAPAAVQF8PQQAAAAAAA%3d%3d%23RT%3a1%23TRC%3a1%23FPC%3aAXw9BAAAAAAAfD0EAAAAAAA%3d%22%2c%22range%22%3a%7B%22min%22%3a%22%22%2c%22max%22%3a%22FF%22%7D%7D&$top=1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"endpoint\": \"https://pstesttopic-ps3927.centraluseuap-1.eventgrid.azure.net/api/events\",\r\n        \"inputSchema\": \"EventGridSchema\"\r\n      },\r\n      \"location\": \"centraluseuap\",\r\n      \"tags\": null,\r\n      \"id\": \"/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps9303/providers/Microsoft.EventGrid/topics/PSTestTopic-ps3927\",\r\n      \"name\": \"PSTestTopic-ps3927\",\r\n      \"type\": \"Microsoft.EventGrid/topics\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/topics?api-version=2019-02-01-preview&$top=1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "bc39f6cc-1302-4a71-9b2b-b9c354ed4226",
          "f3ce3767-a631-4c3e-8fab-5780712ce588",
          "b2121391-aa8b-4477-a466-2020277fc057",
          "97b68b6b-7fca-4dab-b26e-ecc3bab11853",
          "15484b77-7250-4dbd-901e-88cd1cf3affc",
          "c9e384fb-ccbf-4f3e-a21a-a1ff850aa951",
          "85a0be35-4712-48ce-820f-3e4176780152",
          "8c7094b5-0877-49cc-83b8-4d37f42872cb",
          "887745f2-0371-406e-8659-b50a63e352c1",
          "9b6a2d91-3a98-4a38-9e0e-9f36f29faf57[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/topics?api-version=2019-02-01-preview&%24top=1&%24skiptoken=3ZdRk5pIEMe%2fi5XN07kimqhbtXX1n2EQUNQBzMZ7Q8WRuIoBFddUvvs1ru6%2b3W1S5sGdgqGBAbF%2f8%2b%2fu%2bVFaRftNN14tstLdjxIXvcBDd%2biX7krzzWad3VUqy3AVqmgZrTa34WGbRreTZFnJtuNsksbrTZysssqncX38%2bZMWlfXmuFWuN1paeVwLx%2bXpdDxtNqcNvTGpV9ZpsounUZpV3HiSJlky29yKHb22ncbTyiZZx5Ps73Adl3c0hl57r2vVVlnTy1q1vE6jXRzlHz9kC%2frNZBGt7m8a4xtdP9p0vKmFRa%2bPPdsgO[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/topics?api-version=2019-02-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "67d0d2fe-fae9-4cdb-9e64-c869fab52465",
          "68eb65d5-8320-425e-83c6-58f44057723d",
          "fc0fdc20-3215-4f1f-8e80-0e28008f91b7",
          "d74f5fb1-c97d-45b5-a542-86f5e87b46[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/topics?api-version=2019-02-01-preview&%24skiptoken=TY9Ra8IwFIX%2fS7G%2bxcZUVyvIyLQdAzdq1bHXpIkuSJOSxE4m%2fndvnQzDJfkI555z7znQ8uSXSh9cMD0H8%2bxjU9Lldp1taRFMg2%2fvGzeNoppptpe11H7Afo9WDipTR%2b7IXWVV45XRLhrzEX8aY4nIhKdolKQY8ZhxJAQXk4lISFKNosaaVglpXfSuKmuc2flB1oLtq1Ui8qZRlXtmjUItaMB2RvAwRZggPESNla2SP%2f2eO0CmOUg9CxMeEnJjeMOYdTfh5dsCeO1zSQtKP1d5UqxW9O%2bEseiKxOUGNEOATTkHIhgwLzqkXy59uct3C5w9dHb2[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/RGName-ps7697/providers/Microsoft.EventGrid/topics/PSTestTopic-ps2451?api-version=2019-02-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationResults/9EBE929A-C768-495D-BAE3-1F014A9B6289?api-version=2019-02-01-preview"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/centraluseuap/operationResults/9EBE929A-C768-495D-BAE3-1F014A9B6289?api-version=2019-02-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR05BTUU6MkRQUzc2OTctQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR05BTUU6MkRQUzc2OTctQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR05BTUU6MkRQUzkzMDMtQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR05BTUU6MkRQUzkzMDMtQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR05BTUU6MkRQUzkzMDMtQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11981"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "": [
      "ps2451",
      "ps5584",
      "ps3927",
      "ps215",
      "ps7697",
      "ps9303"
    ]
  },
  "Variables": {
    "SubscriptionId": "5b4b650e-28b9-4790-b3ab-ddbd88d727c4"
  }
}