{
  "Entries": [
    {
      "RequestUri": "/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/MichalResourceGroup/providers/Microsoft.Security/iotSecuritySolutions/MichalDemoHub/analyticsModels/default?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/michalresourcegroup/providers/Microsoft.Security/IoTSecuritySolutions/Locations/westus/default\",\r\n  \"name\": \"/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/michalresourcegroup/providers/Microsoft.Security/IoTSecuritySolutions/Locations/westus/default\",\r\n  \"type\": \"Microsoft.Security/IoTSecuritySolutionAnalyticsModel\",\r\n  \"properties\": {\r\n    \"metrics\": {\r\n      \"high\": 2,\r\n      \"medium\": 0,\r\n      \"low\": 0\r\n    },\r\n    \"unhealthyDeviceCount\": 2,\r\n    \"devicesMetrics\": [\r\n      {\r\n        \"date\": \"2020-03-15\",\r\n        \"devicesMetrics\": {\r\n          \"high\": 1,\r\n          \"medium\": 0,\r\n          \"low\": 0\r\n        }\r\n      }\r\n    ],\r\n    \"topAlertedDevices\": [\r\n      {\r\n        \"deviceId\": \"device1\",\r\n        \"alertsCount\": 4\r\n      }\r\n    ],\r\n    \"mostPrevalentDeviceAlerts\": [\r\n      {\r\n        \"alertDisplayName\": \"Crypto coin miner image\",\r\n        \"alertsCount\": 2,\r\n        \"reportedSeverity\": \"High\"\r\n      }\r\n    ],\r\n    \"mostPrevalentDeviceRecommendations\": [\r\n      {\r\n        \"recommendationDisplayName\": \"Install the Azure IoT Security agent\",\r\n        \"devicesCount\": 1,\r\n        \"reportedSeverity\": \"High\"\r\n      },\r\n      {\r\n        \"recommendationDisplayName\": \"Device has open ports\",\r\n        \"devicesCount\": 1,\r\n        \"reportedSeverity\": \"Medium\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "075423e9-7d33-4166-8bdf-3920b04e3735"
  }
}