{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"adgroup7106\",\r\n  \"mailNickname\": \"adgroupmail1601\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"16ba6377-f9fe-4a96-9bf7-1da3dbe7980b\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"adgroup7106\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"adgroupmail1601\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "Q4kjRIlKK0a3fhjdHCWqkMhRECNtN56sCdbc+phCtGM="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "BlCvh_vQI6hePNczoLq9C_BIZMUr8zN1oKZ-vsC7hEJjZRGp33MhRqqoh85UjcXu08mhaIwbYaPq4axkhpM_47V2ezi3zEvLsj0lRhQN5tU82OaBLn4ZWwS47_3z34C5e0SVYasS1J0CwVgsOn9CfQ.IOQwWYqZD6XLETxfzqlaFCus2OeYOTF-egx_NHtZMOM"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2387229"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/16ba6377-f9fe-4a96-9bf7-1da3dbe7980b/Microsoft.DirectoryServices.Group"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n      \"objectType\": \"Group\",\r\n      \"objectId\": \"032dedc4-b9b8-4a52-82ae-db8380713995\",\r\n      \"deletionTimestamp\": null,\r\n      \"description\": null,\r\n      \"dirSyncEnabled\": null,\r\n      \"displayName\": \"adgroup6214\",\r\n      \"lastDirSyncTime\": null,\r\n      \"mail\": null,\r\n      \"mailNickname\": \"adgroupmail4992\",\r\n      \"mailEnabled\": false,\r\n      \"onPremisesSecurityIden[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/$/Microsoft.DirectoryServices.Group?$skiptoken=X'445370740200010000002A47726F75705F39656435636266372D343332642D343030612D613265372D6162386662376436633363342A47726F75705F39656435636266372D343332642D343030612D613265372D6162386662376436633363340000000000000000000000'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadat[...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/16ba6377-f9fe-4a96-9bf7-1da3dbe7980b?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "aD+ubvBi6otlKe4aYUIVFugAwUNC+vXLL2dE/tqt9BQ="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "G1YiXHZO0dVjcAsMvWjjJdO-Cc5Mp8min7k5IVf7_q-HRkUnxqfvkULD0sBkyKAl6VIKp1AUInxc43HKF6m4db01h9Avegf87fTpoKDXRl4q8RP56VEJwYRvIQzXVpiMObISQbroIn8p4h2No_PHKA.Cjl_r1HEebrVSM8mF4UECPjn2DRL3eMN045HgESvjIQ"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2054544"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdGroup": [
      "adgroup7106",
      "adgroupmail1601"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}