{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"aduser8596\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"adpass7790#$\",\r\n    \"forceChangePasswordNextLogin\": false\r\n  },\r\n  \"userPrincipalName\": \"aduser8596@rbacclitest.onmicrosoft.com\",\r\n  \"mailNickname\": \"aduser8596test\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n  \"objectType\": \"User\",\r\n  \"objectId\": \"2e2d73f5-319b-43eb-9b70-a72546442914\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"assignedLicenses\": [],\r\n  \"assignedPlans\": [],\r\n  \"city\": null,\r\n  \"companyName\": null,\r\n  \"country\": null,\r\n  \"creationType\": null,\r\n  \"department\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"aduser8596\",\r\n  \"employeeId\": null,\r\n  \"facsimileTelephoneNumber\": null,\r\n  \"givenName\": null,\r\n  \"immutableId\": null,\r\n  \"isCompromised\": null,\r\n  \"jobTitle\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"aduser8596test\",\r\n  \"mobile\": null,\r\n  \"onPremisesDistinguishedName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"otherMails\": [],\r\n  \"passwordPolicies\": null,\r\n  \"passwordProfile\": null,\r\n  \"physicalDeliveryOfficeName\": null,\r\n  \"postalCode\": null,\r\n  \"preferredLanguage\": null,\r\n  \"provisionedPlans\": [],\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"refreshTokensValidFromDateTime\": \"2017-11-30T00:44:57.0666385Z\",\r\n  \"showInAddressList\": null,\r\n  \"signInNames\": [],\r\n  \"sipProxyAddress\": null,\r\n  \"state\": null,\r\n  \"streetAddress\": null,\r\n  \"surname\": null,\r\n  \"telephoneNumber\": null,\r\n  \"usageLocation\": null,\r\n  \"userIdentities\": [],\r\n  \"userPrincipalName\": \"aduser8596@rbacclitest.onmicrosoft.com\",\r\n  \"userType\": \"Member\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "X7JJrDJZ6J5u3UjAG6S964BeoRqIrZ+Y1/baVMmjI9U="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "yuZtaE41EyP43IyszaC0hQs8mLAXe5b6wgN8c8CjxJIfYMvoq4TOwfN3xp-2IZ8efwuuemydGTwkcOM7_tcjn7XIwDQQu1-cciyWNd4NIZhPkDdsjzBIJ9Y6kVpUVt00BAn0FNLS5Xqv4oxsTp0BMTsNgYEuITG0FZk2aXs3n_-G-GiIvdmGcz6nuImqqYnRahp7x7BFzshTNMkzbb5LQQ.vRCT1XJXmtpUJob4V-ngoKynJ7e6HQhn_SQfeGBxqlM"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "4932021"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/2e2d73f5-319b-43eb-9b70-a72546442914/Microsoft.DirectoryServices.User"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users?$filter=userPrincipalName%20eq%20'aduser8596%40rbacclitest.onmicrosoft.com'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.User\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n      \"objectType\": \"User\",\r\n      \"objectId\": \"2e2d73f5-319b-43eb-9b70-a72546442914\",\r\n      \"deletionTimestamp\": null,\r\n      \"accountEnabled\": true,\r\n      \"assignedLicenses\": [],\r\n      \"assignedPlans\": [],\r\n      \"city\": null,\r\n      \"companyName\": null,\r\n      \"country\": null,\r\n      \"creationType\": null,\r\n      \"department\": null,\r\n      \"dirSyncEnabled\": null,\r[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users/2e2d73f5-319b-43eb-9b70-a72546442914?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "4nmBIka+RsLYPWKmnmXko5iClI11NQ4Pd4ryRuwNLI4="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "sOGd7bfWbWzt3tXbcssJH7Iipc7aHZlfgN6YM-SIQTTctHxXJ16a0WwcM4L1Ts8q7gtl1W5xAqb1KB5ja0TimK4QLgESSucDWHkn5um5bhKlCi41n4dBKJywPFpsKtmjsL3ZGxVBB4BB83oYqVtD1oldsEaVKMmqnmdh48e6kIYk59tIH6Z9Qf81yVvNojjeNV-9ecA6MPaQrDALo3wLiA.1qZH9jlv0jyOiAOjoBsQAfSW3cMJjcG5ZglKeTin25E"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "10946597"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdUser": [
      "aduser8596",
      "adpass779"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}