{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/baadc0de-baad-c0de-baad-c0debaadc0de?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource 'baadc0de-baad-c0de-baad-c0debaadc0de' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "B0qYUu2wmC42QTQTMANMQgBOAt7CqRYECuEiH/QxP2w="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "6P-fTrd018G5V-kU3BVUu7cPuw8PhX4ahvhsVZ--vvjkEYA5GNr0kTmimi62KV81Cxbh347p6SPKvnu3plpeR5aBsAKA-kk2QkT8DVx7htr0xsy_pRvKlZP_4MtioB8NUBvLcWQKx2pewqpFRzXzXQsxG1Sae5z7Pm9x9UzMT_ciBS0P8b5mdcE5Rxik6QN2vJJEMe8fePZQpjRlY96jaA.XTNXP69rt1sj8V28I6pwbg8dqK2Fl_ht7vT013yoUKs"
        ],
        "Duration": [
          "795049"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}