{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users?$filter=userPrincipalName%20eq%20'baduser%40rbactest.onmicrosoft.com'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.User\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "cchiu08RtZQ3+O1oL4RWyxlt169wEFih863TtAv+d54="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "KDIILvtI6G9HRqFHNTy3FdUlyeGJipIorwXqENTy6tNrucvwH7IY0-7abXSgfP1PYA-uh7VJRWGCrqW0zgME4yamwyNA5NcYmmVA_g-4SorpS--KGVT4WEFLuc2H8BDZokA9cD62XYXEGxSbM8Rwx9BqNmIE15KJC3KVB6SWhWNfgut5OvKIxRfAepxIo8lfY3I8BlgjTRG9ZTssgTnq4w.zAjXhVICZ4J7WP-8reaik2HdKCVtcmctTA5-w6pVB9U"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "741122"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}