{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"onesdk1706\",\r\n  \"homepage\": \"http://onesdk1706\",\r\n  \"identifierUris\": [\r\n    \"http://onesdk1706\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"bc843c67-01f6-431e-b090-05e295070c7e\",\r\n  \"deletionTimestamp\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"335ee446-729f-4213-aae3-a1d8d3c54df0\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"onesdk1706\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://onesdk1706\",\r\n  \"identifierUris\": [\r\n    \"http://onesdk1706\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"mainLogo@odata.mediaEditLink\": \"directoryObjects/bc843c67-01f6-431e-b090-05e295070c7e/Microsoft.DirectoryServices.Application/mainLogo\",\r\n  \"logoutUrl\": null,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access onesdk1706 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access onesdk1706\",\r\n      \"id\": \"a014d723-9e08-465f-8bd1-68a2b173d702\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access onesdk1706 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access onesdk1706\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "dS62cdS3jxXz9WV41FbNbdFCgD8BZkeQdpb/3DuhgUM="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "-Vmeaikn06IdNp-9Hnsjj6R5iNhGmBKLYjPjqYmBjJYtQiMt034oo2iiNjKZPtf0FIgfT1zW-Yv3gUplRRlz3v9ILkL0Ts3Y0r4fGUyy4HM5jyMx7tvi-5Am5p3AW8J2UXYg1KSrts4GbdnN3l1sfA.MnpoT2_qbXu3oxb6k17v3MF5BCJ6rWPWGuLRnn1_Nw8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "12030510"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/bc843c67-01f6-431e-b090-05e295070c7e/Microsoft.DirectoryServices.Application"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"335ee446-729f-4213-aae3-a1d8d3c54df0\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"4d043256-7447-48ec-a0c1-44741f31308d\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"onesdk1706\",\r\n  \"appId\": \"335ee446-729f-4213-aae3-a1d8d3c54df0\",\r\n  \"appOwnerTenantId\": \"1273adef-00a3-4086-a51a-dbcce1857d36\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"onesdk1706\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://onesdk1706\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access onesdk1706 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access onesdk1706\",\r\n      \"id\": \"a014d723-9e08-465f-8bd1-68a2b173d702\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access onesdk1706 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access onesdk1706\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [],\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"rbacCliTestDirectory\",\r\n  \"replyUrls\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"335ee446-729f-4213-aae3-a1d8d3c54df0\",\r\n    \"http://onesdk1706\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"tags\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "CsyM59IyEG8NtoG93Zs1iaZk8m7nLCS/ZIsRW3/qOUQ="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "88sEEGsibfxCilHa8eRKdjHGAAAuRTNVEpncHI7gqaeUOBhlRORWuLFP9KrO62Rq1taab3VPSbdK443z-usHXSRoAbSpQp5LnTZaWOBDP7_D5_BQ6DCuiyGwnMRxuEfRhbNcGIs4ajF--uKmbbn-mA.MVDrOcLRZYhIbxE9s47DJmdxon910szWgfaxQWNWhxY"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "5509319"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/4d043256-7447-48ec-a0c1-44741f31308d/Microsoft.DirectoryServices.ServicePrincipal"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/4d043256-7447-48ec-a0c1-44741f31308d?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\[...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/4d043256-7447-48ec-a0c1-44741f31308d?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource '4d043256-7447-48ec-a0c1-44741f31308d' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "VVxluyB/90ULVNmN4ohZDq4pPkM8JjJfz7sFteoBp9Y="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "iSvtQ5L6np4dXCzWhpaUYTMta1ebk_HXk6C_W9V1ohv8oTeOhQ0cJ3s9kKAcDFXp1GCsdD5rq-O6tHEdbnQKs-yCj-d_PTUfwsXXuRIHLzL_QDvHjtXLMLVNZ50WRiIkEs9t_OcNV3cUOjsbXz1MJA.beFtYecPUIMptDIBPke49I5eStXZiifrrTj3M1wHARA"
        ],
        "Duration": [
          "969734"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?$filter=servicePrincipalNames/any(c:%20c%20eq%20'335ee446-729f-4213-aae3-a1d8d3c54df0')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"value\": [\r\n    {\r\n [...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?$filter=appId%20eq%20'335ee446-729f-4213-aae3-a1d8d3c54df0'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.Direc[...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/bc843c67-01f6-431e-b090-05e295070c7e?api-version=1.6",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"displayName\": \"onesdk6785\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "VVxluyB/90ULVNmN4ohZDq4pPkM8JjJfz7sFteoBp9Y="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "wY6Lgtl7V6_J97-KKK_e6bLN-hiJRp_ibjMMb62I4Jr-NqzDAollDk-IDiAi-hEKu6w0Qy9oMZuWUT2vNsW-isXvbYIgUjnaaVR01sFKkdK9A58DisBrccC_A_fWf7dc2jliFLxrXc4MqazTS4iBvQ.jFPuEBzACYr7Jm7MIy59PqHxOhOqX-tSvhw6ZlgynDU"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "6631287"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/bc843c67-01f6-431e-b090-05e295070c7e?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "lcgTVjrkmz34f6GD6dMZc9V6sDyWYM8/6SEcoDLpSbc="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "WKpuqIN_-86R4U0uCMNm7o0I8WyC45qYrl2L3_uYEpbvlOlpozCq9v7Na1y7hyNkkgcLzDwJIffbM1DVXzZj3SzmLE6i1_93il8FZdk5J3JJrBjEv2-2z8wV4CbvJBr3MAY53QQpEzd68PYtZMfNOw.2fcOr5EeappqS1_tdxBcQwmPGyCw51zfkEAB22Ry5GU"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "7095825"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "Test-NewADServicePrincipalWithoutApp": [
      "onesdk1706",
      "onesdk6785"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}