{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication9892\",\r\n  \"homepage\": \"http://adApplication9892/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication9892/home\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"http://adApplication9892/home\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"6cf3c856-d70d-4dae-bca6-bb080c8279c9\",\r\n  \"deletionTimestamp\": null,\r\n  \"acceptMappedClaims\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"ab56a0ba-9e58-41ec-9d40-6917aa740804\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication9892\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://adApplication9892/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication9892/home\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication9892 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication9892\",\r\n      \"id\": \"14022408-d370-45a1-a83a-ff36f9584e30\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication9892 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication9892\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [\r\n    \"http://adApplication9892/home\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "gzTHd9xPT6UpzqL1VdRsA3bqkd3Ju1OXrLwpKneHrpg="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "G5ft9_bVp1HH1JuivWgRhz5xRjUH0tSy7iqSBlUdDEVvv-AFXUp0OAYNjMRymtb58o2zeh5TFBstd_9Lld_Jq0FzivajoCCPVjq0YKB2jwDfi83NEmZ-vZol-tqktJcFZRpB-WBueBN01Lv-Ie7oR20BZSS-K_9E_9faHgb_vC9KsPXhwP-PA1uAiVw5bgOuOE9-xgmiZ-zcTRHlscALTQ.ZiC0_BVGb6keO5cXHXL9czTYAuKbDdLg3qE3ifk9DIE"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2697170"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/6cf3c856-d70d-4dae-bca6-bb080c8279c9/Microsoft.DirectoryServices.Application"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"ab56a0ba-9e58-41ec-9d40-6917aa740804\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"54512ae3-8257-4ce3-b219-167334710417\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"adApplication9892\",\r\n  \"appId\": \"ab56a0ba-9e58-41ec-9d40-6917aa740804\",\r\n  \"appOwnerTenantId\": \"1273adef-00a3-4086-a51a-dbcce1857d36\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"adApplication9892\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://adApplication9892/home\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication9892 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication9892\",\r\n      \"id\": \"14022408-d370-45a1-a83a-ff36f9584e30\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication9892 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication9892\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [],\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"rbacCliTestDirectory\",\r\n  \"replyUrls\": [\r\n    \"http://adApplication9892/home\"\r\n  ],\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"ab56a0ba-9e58-41ec-9d40-6917aa740804\",\r\n    \"http://adApplication9892/home\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"tags\": [],\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "O3zUwAi8QzcuoWXYo3P9BPa+vEau9l2qX1zs2MJrpKg="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "KtVBVl-r-YRrZT4ULyFA5kwwO5mxIKjxXp42M_kY-o4o9cLMlp_Jw4cKMvmY1sy3cS6sHytTnIa51rJhrhGomukhlsvChkYww6wOX96_YRzRR4dK7KPb7NzmOkdVT_vWil8TFiIuFNGkqSKEeDPOAyvmatHc9ANez2cIsnAewlnth2wjU5FZkMeDGviSyXgzdH5l7TsTffuDBnzX5MHHPg._ZIi6MGO8_KPoz0ikWdSh5kcpzw_A9nfatoRVfVOnQ0"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "3272614"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/54512ae3-8257-4ce3-b219-167334710417/Microsoft.DirectoryServices.ServicePrincipal"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?$filter=startswith(displayName,'adApplication9892')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.Dir[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/54512ae3-8257-4ce3-b219-167334710417?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "XZZhkzlE3oBkIQVB+wQnvi7mbmSLDUoik6doGquKkr4="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "0AG6DyVpYPaNrZbFiOiSzNyKB2bWiDZb7JA-LM6SrKv9pIAGQCp04O5TRC-UXd4IYCQwNXrEDWh8FlWSxwvxogcTpL5TGuqvW_P8uv_jVNPXJYf9EqOuvdBP_CMmY7yZORqHsT34Pmh4n9Hu4fT4sqMPFiJ9yWyBn9q-QCKy5FBnYUesPrmMfc4wnHxLS4xMVcrzRnD8F4nfP3LwrzbJ5g.g2N4gTyYgicBUAtTbnQ1954lPfUB9Gq6aGAeG1PWv8s"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "3867579"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/6cf3c856-d70d-4dae-bca6-bb080c8279c9?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "5JlFRWeifqpEaKW66wH+yRLAP3N70Ws3YjJG6rtmoDM="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "GeNSJSXLjcwpVs3ulrns90PBT1JdQMhmBb1Qe2fMumi2yDtNWhzDy9HZoG0vTBfzTfq9vhvzki9bFkEgg3n88LT0tyGPEQ0Txe0cpzFtAgPrPDVW2XA65rAVHuW2vn6RtqPWfsFfVObU42BvV2EN2Xjl_q3XfEHvZMXzTQhfbD-Xcn_AigcXp4Bn7iRp8fNv4CVPzQ86NLtpJgFHy_p6yQ.sbNknUsoo_ehovCulMY-f6Scdwc5DAZFtx32g6ZiHh0"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1542937"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdApp": [
      "adApplication9892"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}