{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6-internal",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"adgroup9549\",\r\n  \"mailEnabled\": false,\r\n  \"mailNickname\": \"adgroupmail7941\",\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"8ab88385-28a4-40ef-aece-903649446f7d\",\r\n  \"deletionTimestamp\": null,\r\n  \"appMetadata\": null,\r\n  \"cloudSecurityIdentifier\": \"S-1-12-1-2327348101-1089415332-915459758-2104443977\",\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"adgroup9549\",\r\n  \"exchangeResources\": [],\r\n  \"creationOptions\": [],\r\n  \"groupTypes\": [],\r\n  \"isMembershipRuleLocked\": null,\r\n  \"isPublic\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"licenseAssignment\": [],\r\n  \"mail\": null,\r\n  \"mailNickname\": \"adgroupmail7941\",\r\n  \"mailEnabled\": false,\r\n  \"membershipRule\": null,\r\n  \"membershipRuleProcessingState\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"primarySMTPAddress\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true,\r\n  \"sharepointResources\": [],\r\n  \"targetAddress\": null,\r\n  \"visibility\": null,\r\n  \"wellKnownObject\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "48jy7KgKFTsMiecpM4WUCGol4ILBn2ZSwN2hY2pE3Nc="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6-internal"
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "ocp-aad-session-key": [
          "PPZwdbx4O7XA1j0L2pNS5w1SEV1tEWLjnCq42ZURq1poZpvWWKzboMSmJJG36Cx1BTCFxrxXeUm1S59v1U7r6eVTjCcJwwli5Unrqmwz_SiSrRgc4XpoFNiREeKpEIQ2v_QLsaW7W5VB1UuQcCPRqw._5ncLJZqKFwrHjL52U0xodUHduxTzoOGek__dCHqfcM"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "4900419"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/8ab88385-28a4-40ef-aece-903649446f7d/Microsoft.DirectoryServices.Group"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/8ab88385-28a4-40ef-aece-903649446f7d?api-version=1.6-internal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Gro[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/8ab88385-28a4-40ef-aece-903649446f7d/members?api-version=1.6-internal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "8Ba8jFJWlB6UNGy5USNBdUszVHBWp9oGDFk7mC8Am2g="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6-internal"
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "ocp-aad-session-key": [
          "_-un-L3-NtW7Bxj7LsjZntQuryRnEmZlVH6CKPrRUUNoKpOHuH0O303TdoOhmxRR_wIrIOVZ5bgwDPxFrhFHGdkxe8FIZwWUk6zVagW3S7NjmynG-bB7s7rPbImEd7vjm0FTtVzHk2i5Qk3TBIhr4w.jrk8e9RBHG6K8wR3RSHkYvtZRxNt0pf7zZrPBIfAmuU"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "932344"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/8ab88385-28a4-40ef-aece-903649446f7d?api-version=1.6-internal",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "8Ba8jFJWlB6UNGy5USNBdUszVHBWp9oGDFk7mC8Am2g="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6-internal"
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "ocp-aad-session-key": [
          "TTg0C0oDsml9wmt4UtRPum8rWbtyenmzD1gJ-wyvdJtEJd2MeCRMtT93P09FvKEUgsE_qSy5ngtxJhJV-DZr600vy7qpYVr11Ad6U6wRWNtQfJB-XdKxst6dqJ6UMMLGeslQou-pikDNhJ0G_fnsHA.rGD0FM867m3nXfoXUhDBfP4FrJACT3R7uSjYTZoFqCk"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "4615415"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdGroup": [
      "adgroup9549",
      "adgroupmail7941"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacCliTest.onmicrosoft.com"
  }
}