{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication6460\",\r\n  \"homepage\": \"http://adApplication6460/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication6460/home\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"http://adApplication6460/home\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"ca166f1d-5eb7-430b-92d9-90af23731fa1\",\r\n  \"deletionTimestamp\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"c7c739a4-9324-4534-9693-56d8d6c29118\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication6460\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://adApplication6460/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication6460/home\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication6460 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication6460\",\r\n      \"id\": \"33bfae36-27dd-425c-8e74-756d3c3e83d4\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication6460 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication6460\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [\r\n    \"http://adApplication6460/home\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "+KN/w2Ts04h15hg3VpBFGjY2OeIPWLaG0UQkdaOlcPE="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "XARBwCi-V3Q-d3RRNCrPmXczTLMwEH2cROMYQ9lyfm_eQnOsdyueQmiK6OL_Jkb-PvQ-jUCzOthD0IzF8vl8csfePMoA1b4vSDgD_CWg7VKgINl68k9I5XOtn3p0bXb6UZvF2TPxf0QogiR7Qz-L3A.BTNXBCzu6GegLqvV208nix30XN4OqYtrL-ysTJ4kxMM"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "6041953"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/ca166f1d-5eb7-430b-92d9-90af23731fa1/Microsoft.DirectoryServices.Application"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"c7c739a4-9324-4534-9693-56d8d6c29118\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"4d34f9dc-9a44-4d1e-bba8-53f2d1f92e5c\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"adApplication6460\",\r\n  \"appId\": \"c7c739a4-9324-4534-9693-56d8d6c29118\",\r\n  \"appOwnerTenantId\": \"1273adef-00a3-4086-a51a-dbcce1857d36\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"adApplication6460\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://adApplication6460/home\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication6460 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication6460\",\r\n      \"id\": \"33bfae36-27dd-425c-8e74-756d3c3e83d4\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication6460 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication6460\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [],\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"rbacCliTestDirectory\",\r\n  \"replyUrls\": [\r\n    \"http://adApplication6460/home\"\r\n  ],\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"c7c739a4-9324-4534-9693-56d8d6c29118\",\r\n    \"http://adApplication6460/home\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"tags\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "8dKgX5gVBF/WbpYK6Ji037sxCoLcJ1Uj7FRMsNhafCw="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "zNLsO8eFGR778ffQgWxhgDbrDdvr2yxJw15yNYeC1Zv2oHtFmTrvBIopTP2Kjkb_KI60OqMSmx5B6HP2-1BAnkH3eDZIdzE-7WZRLpvdxhTUCmO3NtJhcvUICi5dRmCq4nbKCBvtRJPLybtrviMg-A.vjRSNQHftOrX1onO6qajJjFeIKM3ci8Este-k9Ndo0M"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2972382"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/4d34f9dc-9a44-4d1e-bba8-53f2d1f92e5c/Microsoft.DirectoryServices.ServicePrincipal"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?$filter=servicePrincipalNames/any(c:%20c%20eq%20'http:%2F%2FadApplication6460%2Fhome')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"value\": [\r\n    {\r\n  [...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/4d34f9dc-9a44-4d1e-bba8-53f2d1f92e5c?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "8dKgX5gVBF/WbpYK6Ji037sxCoLcJ1Uj7FRMsNhafCw="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "w4L61UgrN-jpR_L3n_w8zIaO5zvr9zVWztF7VmbsQTQTKf0_S2_FN0KcyMvyVYnJxuiT29e8Ry_QHavEuDE_V9d5EM7V848_DYabDice8xAQ4mP2tRv4OpbA6atL5BglUAc_-KcXRuvJoAHe8HzdgQ.xrdVeMkcc-9nyrP1yDbclKZJtqp4g92LCUZbXcEYwTo"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2159902"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/ca166f1d-5eb7-430b-92d9-90af23731fa1?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "8dKgX5gVBF/WbpYK6Ji037sxCoLcJ1Uj7FRMsNhafCw="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "F_6QJhC5fNRLSjRpm8dXusi28_J3lx1lBFfEwkCP-9hv2oonoXeb9pYY1HS6_vkMitJ-LHP9kFNCpq8F8PC0EJIAQHq7iSHw5Tl17B7hitl3EEZ6pBuIvpJ0ZaX7mzxK3H69fCgyCI8KVGdneEmY4w.rSdVQz5D8dgWca27QjPpVjo41T8HmaB_dvkVl4SHT_0"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2165844"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdApp": [
      "adApplication6460"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}