{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users/baadc0de-baad-c0de-baad-c0debaadc0de?api-version=1.6-internal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource 'baadc0de-baad-c0de-baad-c0debaadc0de' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "pcEjtggFbO+fm3HKUqvGP5lzCwUVwGtyMML/tOx4RCQ="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6-internal"
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "ocp-aad-session-key": [
          "NQy_5HtsUJtVFWrQCu76S14xh0Dap0aVYZMMCoXaR-nVFmAy0Fu27JTzmmsNkh8zxQtiYkySruBNtFRPe_1bpwSJAr0JnU1w5BbRoLibezydBv6EKnlajXjt1n8XSGCQ_6Nxyb7TnSYL5lzD62Nr1w.fribcLW3JOL2j5W21ERL8B7adEffzXYmbe0r54vzRzU"
        ],
        "Duration": [
          "864605"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacCliTest.onmicrosoft.com"
  }
}