{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication5611\",\r\n  \"homepage\": \"http://adApplication5611/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication5611/home\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"http://adApplication5611/home\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"d99d04a8-b87e-4232-97c3-2c80f394dd91\",\r\n  \"deletionTimestamp\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"884b2f88-275f-4bde-967d-daec677055bf\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication5611\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://adApplication5611/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication5611/home\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication5611 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication5611\",\r\n      \"id\": \"88942109-247d-4802-b4e8-1fe607cbb000\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication5611 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication5611\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [\r\n    \"http://adApplication5611/home\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "i4Cjy0Rm3dU5EwgdJFsHVUFiI7cBL4KFGb+3zXKTCts="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "FukoOv8tHJig_hwWKdEiBgTNEjDxyo--QWYd92XRdbj5NbqXaHlUmcJkfcajbncvvgbLG121061bNPDcd2Nx-U_iObFOkY6W9ZV9YGxtiERjt4zv1F1dmaJSuZN71mqVZ1eIq9iYkdG66mQ-jvGZkA.s1o3eXe2O1pZe7XZ0DKiorjjG6YZ1D8CTRDHhdbPvGg"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "7323540"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/d99d04a8-b87e-4232-97c3-2c80f394dd91/Microsoft.DirectoryServices.Application"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"884b2f88-275f-4bde-967d-daec677055bf\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"4d42af9e-f476-4e42-99ff-0db89834d8e1\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"adApplication5611\",\r\n  \"appId\": \"884b2f88-275f-4bde-967d-daec677055bf\",\r\n  \"appOwnerTenantId\": \"1273adef-00a3-4086-a51a-dbcce1857d36\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"adApplication5611\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://adApplication5611/home\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication5611 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication5611\",\r\n      \"id\": \"88942109-247d-4802-b4e8-1fe607cbb000\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication5611 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication5611\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [],\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"rbacCliTestDirectory\",\r\n  \"replyUrls\": [\r\n    \"http://adApplication5611/home\"\r\n  ],\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"884b2f88-275f-4bde-967d-daec677055bf\",\r\n    \"http://adApplication5611/home\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"tags\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "WidflJ9mqequu8oD2vdZNqrS85ZDnXLVWdKHcPhx/k4="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "OBQjBdmC2m_zHbnG7xzdm_XRw8IjeOakxFfpAZ0022nT17YBZxZnbKKfCfG-fYoi4o00qSOrmvfVx9Y1peMgckc8dIlB6alMJVJk8gEE_JlAPhtQI83TX93jJS1iEyHc14OoyYn-FqJLZsk13eTGOg.1e0cVK3ER5zjyfwj7HZGoUcDf4i20RkAa6uZOYz6vqI"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "21140487"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/4d42af9e-f476-4e42-99ff-0db89834d8e1/Microsoft.DirectoryServices.ServicePrincipal"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/4d42af9e-f476-4e42-99ff-0db89834d8e1?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\[...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/d99d04a8-b87e-4232-97c3-2c80f394dd91?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "WidflJ9mqequu8oD2vdZNqrS85ZDnXLVWdKHcPhx/k4="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "NByBK2pIQidV9KNRd39KBQpxwjrrpNOluDkGng54dLxP8L4JI2__Yy4UZADw8m1kmEXtjMPWz9iIMUs0ODiNKRqeVW0s7ktZMjTkTLPWa0k_idzlqS0Jb7KVZlFM61FUkFV_Izqd6NfkzwoWasip6Q.07PUjFULVwHP0OD2lyaIR2l0wN-dNIPc6Ayvf2jxQrI"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "3049799"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdApp": [
      "adApplication5611"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}