{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication2981\",\r\n  \"homepage\": \"http://adApplication2981/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication2981/home\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"http://adApplication2981/home\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"e006fc28-c324-4c34-b390-afd4c9863f45\",\r\n  \"deletionTimestamp\": null,\r\n  \"acceptMappedClaims\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"fd2c26b0-5685-4766-aff7-10f81d8ccc66\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication2981\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://adApplication2981/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication2981/home\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication2981 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication2981\",\r\n      \"id\": \"37b6abbb-0e85-4352-a2c9-350fc3c2fc89\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication2981 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication2981\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [\r\n    \"http://adApplication2981/home\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "G57Yk3WNLvoHnAQZbO/VLb7EEltFzonymMi2WhJ99Kk="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "fKfo7hQpPDMyPjMsVMLtio7Vx8O9mYklKG-pT4YwHnac8wNLUDRli-KMOu4bcIANudnjYTsItby9iLG37sEkbPWPU__bwDXhVZNQA8IYyQf8B3Z8moo3BLicdY5wRPzipimKocY_tmXTCBFs-l77U91DIMGpwZbnZpislF7QIbcWOGmKPi5AoZO9PZTWUyZPjiDRPJ9g9L_RtbyoSjPpXQ.3TSq3ZTlo2txfEpUHIS-ACuyGf3s9PyoKY6rnjlDhzs"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "5938638"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/e006fc28-c324-4c34-b390-afd4c9863f45/Microsoft.DirectoryServices.Application"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"fd2c26b0-5685-4766-aff7-10f81d8ccc66\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"95393ad1-e1a2-4930-9835-f2c5b31a2172\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"adApplication2981\",\r\n  \"appId\": \"fd2c26b0-5685-4766-aff7-10f81d8ccc66\",\r\n  \"appOwnerTenantId\": \"1273adef-00a3-4086-a51a-dbcce1857d36\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"adApplication2981\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://adApplication2981/home\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication2981 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication2981\",\r\n      \"id\": \"37b6abbb-0e85-4352-a2c9-350fc3c2fc89\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication2981 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication2981\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [],\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"rbacCliTestDirectory\",\r\n  \"replyUrls\": [\r\n    \"http://adApplication2981/home\"\r\n  ],\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"fd2c26b0-5685-4766-aff7-10f81d8ccc66\",\r\n    \"http://adApplication2981/home\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"tags\": [],\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "p1lHTRPF/dam1vURl+wJyDtqEVscUuEPV/gvuR8Ob6o="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "Pz7Iknnbcugn9RVn8ocFQGLS7cVylUB54w599Gh-LxR6MtLVeBzPcaf7OTRZe8BdYt6hBPmgjIVJBUlepl_kWjs0zaDJWxy4GRPF-uevfEqCoKSibJC9RUHRvN8lzElwY1cMoDfALuaLUnF32LwMifhaqYozu-vllR21hZwblYNQmQatbNDu-ezVjBp1-2V2zQK-BcxlfwjCvBvHMIDwAA.--JjbCEOX730J-7x2yz2b-YB7wxEgQ8-olJrvbFBgmE"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1507220"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/95393ad1-e1a2-4930-9835-f2c5b31a2172/Microsoft.DirectoryServices.ServicePrincipal"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/95393ad1-e1a2-4930-9835-f2c5b31a2172?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\[...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?$filter=servicePrincipalNames/any(c:%20c%20eq%20'fd2c26b0-5685-4766-aff7-10f81d8ccc66')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"value\": [\r\n    {\r\n [...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/e006fc28-c324-4c34-b390-afd4c9863f45?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "/qlcEIqkKGQ9rgmLHd1kED9DOA/6rNJzUGuBELRCU6g="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "llpVSdsCTMDqutycawk2twy8f7sfoTl58G0_QrEcEONMBYDfXIUK5Y_TINA5oS0MEk7Tvalg0zsLWWpe_FiZSvwMex0k_r6WTonga1BHtSvV9q6PliiI6KuDndQKUdEJIql6YzXy6FliK6LV6AReWmmtc9lR8-Ue66NYKLkrLr6TLdvtVAL_ek31LX_iMFDFGO_wkGmPU8T4xpoBwcKtdw.hJCvi6vwqlvOZijk3zZ-cRC5-H9ynjXqN7_B47Kjphs"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1354769"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdApp": [
      "adApplication2981"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}