{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication454\",\r\n  \"homepage\": \"http://adApplication454/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication454/home\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"http://adApplication454/home\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"8440e548-4a75-47ca-8df2-2e3ff6093dd4\",\r\n  \"deletionTimestamp\": null,\r\n  \"acceptMappedClaims\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"19155e49-7756-4388-a589-f28447189ba8\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication454\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://adApplication454/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication454/home\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication454 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication454\",\r\n      \"id\": \"c601eb49-c75e-4509-840d-4b4671d68142\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication454 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication454\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [\r\n    \"http://adApplication454/home\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "kLgfBDBbbmdI5i6h/TZLDCS0c4hDk+160Sy1hFyeaqo="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "0HwmWif5hRoZvx2OGNqFpPZ_h-9keZ5On3BGo3fNvDBqgmZ6vtdZzRDkNA6sF1_JNrfkI6Xw2ieKOAbY6WeJbXeUSJ1swngWq-lZIjjTQ8kMsZpzgGBc3UbKHbzncLazvHdsutztb82NwpnfA_kBkEVulOGm0gg7uBvVUs1UDhyTkFt5qPFSi3rkeOxV64gHoZnR577jHxRLIbHlsusYeQ.011RileY9Yuztqfy0MiOYGFO3uM28ybCCX7IIvGz5uU"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "4596431"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/8440e548-4a75-47ca-8df2-2e3ff6093dd4/Microsoft.DirectoryServices.Application"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"19155e49-7756-4388-a589-f28447189ba8\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"f7d22dc0-22af-4c4f-8263-97b7133b5939\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"adApplication454\",\r\n  \"appId\": \"19155e49-7756-4388-a589-f28447189ba8\",\r\n  \"appOwnerTenantId\": \"1273adef-00a3-4086-a51a-dbcce1857d36\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"adApplication454\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://adApplication454/home\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication454 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication454\",\r\n      \"id\": \"c601eb49-c75e-4509-840d-4b4671d68142\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication454 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication454\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [],\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"rbacCliTestDirectory\",\r\n  \"replyUrls\": [\r\n    \"http://adApplication454/home\"\r\n  ],\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"19155e49-7756-4388-a589-f28447189ba8\",\r\n    \"http://adApplication454/home\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"tags\": [],\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "kLgfBDBbbmdI5i6h/TZLDCS0c4hDk+160Sy1hFyeaqo="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "R0wWIaRfTVORsk3nh1jsE4taKR1rFHgetceRH8iHl0y4BsqWi-MrrIjSTjnC9ScO8ADoAecJQz3yd1DxKOBezq2m1XxEOlSKA6tiwA9b-lH1rwlY6KzUQDr0NyoPSjAaJ5uvmgitBvm1tYPPDYuIoKGQrCBTa7GBgcqU7RC4sRA0AzYryk7XD8oTmStOzg6QHtd6ryHNSMl__HN3QTz6Cw.AARTDXws1rh8noFA74G8NhS99HMbUa4c3cSmMNbLu-Y"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2142876"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/f7d22dc0-22af-4c4f-8263-97b7133b5939/Microsoft.DirectoryServices.ServicePrincipal"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/f7d22dc0-22af-4c4f-8263-97b7133b5939?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\[...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?$filter=servicePrincipalNames/any(c:%20c%20eq%20'19155e49-7756-4388-a589-f28447189ba8')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"value\": [\r\n    {\r\n [...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/8440e548-4a75-47ca-8df2-2e3ff6093dd4?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "2DD9Uu67ybR8Pd6jBxWLoYGX++26Si/Rh4KiODEAByo="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "Ydu4PmFBDupDYq9xuR9MJhRinKmPm72j49VT3bXXRz_tAhEC6T7ePrJUghNFSsxlof4KqFxK6ZxJ8QbZ10cdcmTWQ1ZXhxUdo3CUZ_78BLqR5j-lU-PXqLRj4jzsYgQTebK94Q297fde3TUyjepDsmBNEo2Ndh4zDY5BEFnhJwHxpzFexkAYXF2htxJeAAYDYf9egVfRxwkuXZSEkL3orQ.sfsCIk3ugkMKZYRNvxq1X7OrlY1mAYvdgqBvlJn6IzU"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2425749"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdApp": [
      "adApplication454"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}