{
  "Entries": [
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/users?api-version=1.42-previewInternal",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"userPrincipalName\": \"aduser577@rbactest.onmicrosoft.com\",\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"aduser577\",\r\n  \"mailNickname\": \"aduser577test\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"adpass39870#$\",\r\n    \"forceChangePasswordNextLogin\": false\r\n  }\r\n}",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.User/@Element\",\r\n  \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.User\",\r\n  \"objectType\": \"User\",\r\n  \"objectId\": \"061e39c9-e586-4588-85f3-a95925e813c5\",\r\n  \"softDeletionTimestamp\": null,\r\n  \"acceptedAs\": null,\r\n  \"acceptedOn\": null,\r\n  \"accountEnabled\": true,\r\n  \"alternativeSecurityIds\": [],\r\n  \"appMetadata\": null,\r\n  \"assignedLicenses\": [],\r\n  \"assignedPlans\": [],\r\n  \"city\": null,\r\n  \"country\": null,\r\n  \"creationType\": null,\r\n  \"department\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"aduser577\",\r\n  \"extensionAttribute1\": null,\r\n  \"extensionAttribute2\": null,\r\n  \"extensionAttribute3\": null,\r\n  \"extensionAttribute4\": null,\r\n  \"extensionAttribute5\": null,\r\n  \"extensionAttribute6\": null,\r\n  \"extensionAttribute7\": null,\r\n  \"extensionAttribute8\": null,\r\n  \"extensionAttribute9\": null,\r\n  \"extensionAttribute10\": null,\r\n  \"extensionAttribute11\": null,\r\n  \"extensionAttribute12\": null,\r\n  \"extensionAttribute13\": null,\r\n  \"extensionAttribute14\": null,\r\n  \"extensionAttribute15\": null,\r\n  \"facsimileTelephoneNumber\": null,\r\n  \"givenName\": null,\r\n  \"immutableId\": null,\r\n  \"invitedOn\": null,\r\n  \"inviteReplyUrl\": [],\r\n  \"inviteResources\": [],\r\n  \"inviteTicket\": [],\r\n  \"isCompromised\": null,\r\n  \"jobTitle\": null,\r\n  \"jrnlAddress\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"logonIdentifiers\": [],\r\n  \"mail\": null,\r\n  \"mailNickname\": \"aduser577test\",\r\n  \"mobile\": null,\r\n  \"netId\": \"10033FFF8BCF0658\",\r\n  \"onPremiseSecurityIdentifier\": null,\r\n  \"otherMails\": [],\r\n  \"passwordPolicies\": null,\r\n  \"passwordProfile\": null,\r\n  \"physicalDeliveryOfficeName\": null,\r\n  \"postalCode\": null,\r\n  \"preferredLanguage\": null,\r\n  \"primarySMTPAddress\": null,\r\n  \"provisionedPlans\": [],\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"searchableDeviceKey\": [],\r\n  \"selfServePasswordResetData\": null,\r\n  \"signInName\": \"aduser577@rbactest.onmicrosoft.com\",\r\n  \"sipProxyAddress\": null,\r\n  \"smtpAddresses\": [],\r\n  \"state\": null,\r\n  \"streetAddress\": null,\r\n  \"surname\": null,\r\n  \"telephoneNumber\": null,\r\n  \"usageLocation\": null,\r\n  \"userPrincipalName\": \"aduser577@rbactest.onmicrosoft.com\",\r\n  \"userState\": null,\r\n  \"userStateChangedOn\": null,\r\n  \"userType\": \"Member\"\r\n}",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "GHWom5F4FhO0ryJj9WTZucEuZW4pI1MbWekjNz7LQZA="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "DjB2asdkQ1unWNacbOdd3_Kzth8lGVAQoVfBsXcyNZdNNPLZ9GN0U_LBLRkxvattR0w9E40eQ4eouBohinpwrIvqYTmqcVwANgeKcGreI6RyyyACYOeaT8gCV5s2qrO-cJSDtyb0MYW33-B5tPUsqw.UdOtqTpzkjwv4ihoA0tsdMt03RUfGhH8MRbpT0Uel00"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Location": [
          "https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/directoryObjects/061e39c9-e586-4588-85f3-a95925e813c5/Microsoft.WindowsAzure.ActiveDirectory.User"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/groups?api-version=1.42-previewInternal",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"adgroup5662\",\r\n  \"mailEnabled\": false,\r\n  \"mailNickname\": \"adgroupmail3430\",\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"36a4830f-b259-444f-909f-b2f87b652ec6\",\r\n  \"softDeletionTimestamp\": null,\r\n  \"appMetadata\": null,\r\n  \"exchangeResources\": [],\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"adgroup5662\",\r\n  \"groupType\": null,\r\n  \"isPublic\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"licenseAssignment\": [],\r\n  \"mail\": null,\r\n  \"mailNickname\": \"adgroupmail3430\",\r\n  \"mailEnabled\": false,\r\n  \"onPremiseSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true,\r\n  \"sharepointResources\": []\r\n}",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "GHWom5F4FhO0ryJj9WTZucEuZW4pI1MbWekjNz7LQZA="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "kSYG6PEDHUHp2NO_05jDYBwE-tHr1HOn6Djfgz9bpm7kdiFKhoDg1MAJBdj9DLDRXs8BPwD6Cpjw6Fo2Rb5HC9WFmfK2kcpFdjPdGtAGmoJblTo7-KxLJFYnk5wc4yCvt7oBwDH5C5RuD-dGc7CzKw.PClmq61UlcqAyhL9KrJokv9VB5TaKOo85TvVhFgW6Ks"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Location": [
          "https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/directoryObjects/36a4830f-b259-444f-909f-b2f87b652ec6/Microsoft.WindowsAzure.ActiveDirectory.Group"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/groups/36a4830f-b259-444f-909f-b2f87b652ec6/$links/members?api-version=1.42-previewInternal",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/directoryObjects/061e39c9-e586-4588-85f3-a95925e813c5\"\r\n}",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "GHWom5F4FhO0ryJj9WTZucEuZW4pI1MbWekjNz7LQZA="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "3i3Xgg2IThetQZI0E94Ne_x5P9Gvc2wMKTuyEN6zuxA1eP0hyYW5fl0Ma6a2EIVisUl-Vov66NW1pZIEn1fgzqaCN2u_wwg2pvTazPUJX2rsIgkt6QFsmzoio6dMSkDdHvqWBjnFchJicTk8qYqSNA.U6aj25-gshmkm8f3w8Q81MbVtwYdpRyRoh7cYUmTOBk"
        ],
        "DataServiceVersion": [
          "1.0;"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/groups/36a4830f-b259-444f-909f-b2f87b652ec6?api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.Group[...]
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/groups/36a4830f-b259-444f-909f-b2f87b652ec6/members?api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/$metadata#directoryObjects\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.User\",\r\n      \"objectType\": \"User\",\r\n      \"objectId\": \"061e39c9-e586-4588-85f3-a95925e813c5\",\r\n      \"softDeletionTimestamp\": null,\r\n      \"acceptedAs\": null,\r\n      \"acceptedOn\": null,\r\n      \"accountEnabled\": true,\r\n      \"alternativeSecurityIds\": [],\r\n      \"appMetadata\": null,\r\n      \"assignedLicenses\": [],\r\n      \"assignedPlans\": [],\r\n      \"city\": null,\r\n      \[...]
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/users/061e39c9-e586-4588-85f3-a95925e813c5?api-version=1.42-previewInternal",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "GHWom5F4FhO0ryJj9WTZucEuZW4pI1MbWekjNz7LQZA="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "ZAz9LK3ksyyFQQm7WNNOLUZ6lje0M-DePIu84EeGxT4XHlPtInBQ1xbjW52kVAzpHfSPQ9v4iimYcfyCBjG3Qm8tymp_AHA0kSL1x4Yg107BMd2a981ND1e6S1_VCA_E6ZlrzQXlKFTVQvmvIbzjTg.6Qn3YyYuQniR2TOs82N1AgfY6aKb6eKEbg4ANQ-sgro"
        ],
        "DataServiceVersion": [
          "1.0;"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/groups/36a4830f-b259-444f-909f-b2f87b652ec6?api-version=1.42-previewInternal",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "GHWom5F4FhO0ryJj9WTZucEuZW4pI1MbWekjNz7LQZA="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "JmBg5Jv20j6eW_dDcj_QZ8tVYpcucUh0FMDHTbdbvVbsLqjazxumnP3Mz1pEb2b_gtlk3VCLimHgnTLwIpCK8XajzW7gJJNBHUHAovTzdDtzpCLFEdPhbGJqFCQR49ZYcNbs1pS56r4G9sJq_awPHg.WlXLCCDleUbMTElw0LCXFVXAXouyysus3lQixBj5ZpM"
        ],
        "DataServiceVersion": [
          "1.0;"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdUser": [
      "aduser577",
      "adpass3987"
    ],
    "CreateNewAdGroup": [
      "adgroup5662",
      "adgroupmail3430"
    ]
  },
  "Variables": {
    "SubscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TenantId": "1449d5b7-8a83-47db-ae4c-9b03e888bad0",
    "Domain": "rbactest.onmicrosoft.com"
  }
}