{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/baadc0de-baad-c0de-baad-c0debaadc0de?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource 'baadc0de-baad-c0de-baad-c0debaadc0de' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "WidflJ9mqequu8oD2vdZNqrS85ZDnXLVWdKHcPhx/k4="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "mr2rVqLRxIT0Eson6WeBYXkq3Lgl0O_j6a5N3Xz_ZM8wFkyenrQagb-Ypb7p8dYtWKOLIFHS0JGQnDjJEFP307z-OOTQepGA8cWGAGakwfITh8zSR6uuedh63HFmcAsYNdtErcapLd7NxBYG5nN51w.q6qkFyVFjp7ABlcYjxt-gOw9yjYjEJZ6EUvfPIP5g2c"
        ],
        "Duration": [
          "1340771"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}