{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?$filter=startswith(displayName,'badsearchstring')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "CCXOF6rt6Xl8XB3GXCt/tnQbRKpxWms12kSO3g305EI="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "rYJiMfKzn8qqgbyNt1jm9_14NRGE_EFx3lgudm7kO2RA85X7ylyjqBMvOzOrrz298C2q14N2DRBCyMvhF9HdTubvSHOIm1qKU8_p1CkpHXfm4xDDwiTit0E2eG3fEhYvLJsgEKrIPlVgMLlhF0_OJOmKSnxCTErGM4F04dFJeEoT5Qo7-oi5fu9C8jhZliNHsyxoHjF8AOUtca5XUTe57g.XXWtmYF5-dx9t-oXpsi2oDkeI5HM-B4Lp4vZkniP8uw"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2779642"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}