{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/baadc0de-baad-c0de-baad-c0debaadc0de?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource 'baadc0de-baad-c0de-baad-c0debaadc0de' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "7akEoJBB3jXdCcddmuqIriGupZolWpVIrAvUTJndNgo="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "w0VE14f-E2D5eaAU2JY6AzOuKis-Gvu6460RWAhawvvuiHnPoCApJp_ER22tsNkkNFbqbxBZCENxtyvp4BGBW7e-0o4sRKSEryqa9WeVthr7ChslkPizPOBQzj4xduB3nBbiBOnBp0rbfdcoG9EuHnghVO8fSHyidBqll4kMzKIuLXyASfEQI2S34Cvf8qfsoEhTuRrGlEWYkKMrZTvZ0w.GCpIx-Dt4seoSgB92-s7VgTRRBx8SlqwyEAcdxLK7jQ"
        ],
        "Duration": [
          "494520"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}