{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"adgroup5396\",\r\n  \"mailNickname\": \"adgroupmail1222\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"fdeb545e-653a-4b1e-bd5c-df91badef985\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"adgroup5396\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"adgroupmail1222\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesDomainName\": null,\r\n  \"onPremisesNetBiosName\": null,\r\n  \"onPremisesSamAccountName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "OzArKxpPSemSWWoFLWW7BNCbp+jQjreuu63QDSj69JM="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "QlKMy3sGLGhkCjtwAUX5Yv5GfIrqNz6yBCmw9Zxge0GXXPoFeXasDOQAoNehfGD5gSi9QqdlRY1hWE_FyNhGHCdzXe6GZ4J_5y5t9XzvYnfMK98kz7_lYG-8yR2uJ6YF_nxHSqR-82VsQC_1S-Bin7Ns_eqexXAqT9vvs1JlUEv1Y6KLLhlvQIEbYxcoX8oPbxptFNgYvE1kvKTFigTI3A.i8goA7vhHKZVcT7TXNX3XwKXsxXMOdzoTgZF2glzPRI"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1470428"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/fdeb545e-653a-4b1e-bd5c-df91badef985/Microsoft.DirectoryServices.Group"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n      \"objectType\": \"Group\",\r\n      \"objectId\": \"0007442c-98fe-49cb-9b32-ed2e82254c56\",\r\n      \"deletionTimestamp\": null,\r\n      \"description\": null,\r\n      \"dirSyncEnabled\": null,\r\n      \"displayName\": \"testGroup8d909fccb-cd42-48d9-99b1-6ad3aeb05b32\",\r\n      \"lastDirSyncTime\": null,\r\n      \"mail\": null,\r\n      \"mailNickname\": \"testGroup8d909fccb-cd42-48d9-99b1-6ad3aeb05b32test[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/$/Microsoft.DirectoryServices.Group?$skiptoken=X'445370740200010000002A47726F75705F31356533376539632D306130372D346165302D396565372D3034663038356363363063322A47726F75705F31356533376539632D306130372D346165302D396565372D3034663038356363363063320000000000000000000000'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadat[...]
[...]
