{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"onesdk4875\",\r\n  \"homepage\": \"http://onesdk4875.com\",\r\n  \"identifierUris\": [\r\n    \"http://onesdk4875\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"c71bd5d7-d700-4b02-8031-2710eab5899e\",\r\n  \"deletionTimestamp\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"f751137a-5c0f-4603-a724-0d10d3516e3e\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"onesdk4875\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://onesdk4875.com\",\r\n  \"identifierUris\": [\r\n    \"http://onesdk4875\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access onesdk4875 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access onesdk4875\",\r\n      \"id\": \"e0adeb01-cc20-484b-8ca5-89e50e0455a4\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access onesdk4875 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access onesdk4875\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "dS5n1gIKpvuVz70gIQwT3GyktIuQo1lHcmSA2GJAH2A="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "Lo59g4tbPO-9Y8mtYfBKniT9FVJyPJ8xFyfe3oqIxtXSkFDEiHRWCAZn9w2bZSXRAFAYpPBKlVhx_s4VysH4gJ-rF6spuuWffNs-jDH9Fx0qMh2uEH6s9K4SZwGzQ0PEujqRRJoXXMjXCcdbtZ5kkQ.oRx_CRSoad_-S3KhPPYpI58ls5fjP0Hu2DmZ6k7QZkw"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "5836425"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/c71bd5d7-d700-4b02-8031-2710eab5899e/Microsoft.DirectoryServices.Application"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/c71bd5d7-d700-4b02-8031-2710eab5899e?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType[...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?$filter=appId%20eq%20'f751137a-5c0f-4603-a724-0d10d3516e3e'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.Direc[...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?$filter=identifierUris/any(c:%20c%20eq%20'http:%2F%2Fonesdk4875')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?$filter=startswith(displayName,'onesdk4875')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.Ap[...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/c71bd5d7-d700-4b02-8031-2710eab5899e?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "anrd5chmBPjbcjO3WaIoaDqmGjgTCsqrXfe0lun0TBc="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "w1waz5XFXf_-AuD6GWMORr785ybNY319skCk3vvybGTCHDxMWTVZHL4IwGOzHkpUXB3C6nHqmvJA9fZcIoeiA2T_ttSPK0fndCx2dl5zAnz4f4dHJjpmpFheIn5cmCNW8Y9exjQabN58YvmpCoH12w.cksbFFwxI1X1FaeW4W9oDdirI9zAzv4vFiHi-V-8ShA"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "5117916"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "Test-NewADApplication": [
      "onesdk4875",
      "onesdk6416"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}