{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"adgroup4496\",\r\n  \"mailNickname\": \"adgroupmail6738\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"0b634a10-f0cb-490c-9672-9ffda13308ed\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"adgroup4496\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"adgroupmail6738\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "AEh3InkyK/0lngVWuF06maEYUOLTzyWkuPM5B/Fn2hc="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "yIFxkfaI9bowGSgdYQQj9omwP4rQKreRWVDCj30vEGDpAEHU6YeGDpP_PioMci2EQP6VznP8Zm3q1ZG50vkxAuvqKUwV-Zoo8mWmj60MtXfjwzLm4yDLk1ADI4xdvYg6683Gci0a0uysEznK49zmEw.wKYLiwiQwtlrsyboIQNBxgGc35nKkNkEF9ymUXPpu5g"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2425174"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/0b634a10-f0cb-490c-9672-9ffda13308ed/Microsoft.DirectoryServices.Group"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?$filter=startswith(displayName,'adgroup4496')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n      \"objectType\": \"Group\",\r\n      \"objectId\": \"0b634a10-f0cb-490c-9672-9ffda13308ed\",\r\n      \"deletionTimestamp\": null,\r\n      \"description\": null,\r\n      \"dirSyncEnabled\": null,\r\n      \"displayName\": \"adgroup4496\",\r\n      \"lastDirSyncTime\": null,\r\n      \"mail\": null,\r\n      \"mailNickname\": \"adgroupmail6738\",\r\n      \"mailEnabled\": false,\r\n      \"onPremisesSecurityIdentifier\": null,\r\n      \"provisioningErrors\": [],\r\n      \"proxyAddresses\": [],\r\n      \"securityEnabled\": true\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "+KN/w2Ts04h15hg3VpBFGjY2OeIPWLaG0UQkdaOlcPE="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "ZsxTl_ZXYrhYHwxHBTU-wZ6IrO0C7SYQLQbsG-Rs6kda6HLfyGVHPGM4ob_n9plgMSI-FdnmdNLCj0ugQEDt7Y85itlOSlySOCGjibX23XYKy3RWqZWCgvTcRsv1kgMldr7wBqFPVzt4lN4Q_FDpnw.8ySutHMQ-ARHA2aHvgePH_bRoVde2_LqtbwKyDYoiCg"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2743157"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/0b634a10-f0cb-490c-9672-9ffda13308ed?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "zmzsGhhbLh/07D93ac0moxPwQTy64IajZcbqlQLfltQ="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "OmjTRu0bYeCFCm4K9OJfbHqTDoHMeicpYcxekhhinnekhFcOEzQXcx7SGUxnlSDu915KG1lCRTCu0hNc88Bu6SaZ2vI7xng48IPWVN1h1Ul5US7jBs36vdapuvuVOIetO-y3niV8n9vtJg-vi4W0Yw.AqWoX4SbS8GTxBLfTB8kIV2PAH_lNXXy1GR9tskIl5w"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2145862"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdGroup": [
      "adgroup4496",
      "adgroupmail6738"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}