{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?$filter=startswith(displayName,'BadSearchString')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "1mZWOAvwnETziiyOUezZwk4btUj3M9yZQUGwmKHQ+/8="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "Xqoq9aTiHGWWaypQlLjefxSiyqCaNpzBNe5mnsmhgdFrywEnyH5IYTBUV7uhUbC6OCdnOaNSGZwMSc1hL8fX1b5Q3lzRXbownZAhxZq_wxhSLv5pDi9zf7DMkITUulxqlhTSpOLF7Pwz7tHmllMOGfIXgtZcmcyY4tCP1daUB60aZQnSZGHVcDilmDWwpFUZkKEOl0THBYKCJpajyuULkg.H_Ou70NKIkHQV_DlQbeRE662dJ4Kg6_7NH2lF7RJl6U"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "543120"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}