{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?$filter=servicePrincipalNames/any(c:%20c%20eq%20'badspn')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "PYwxym7pwiJKTX9pMlU7TPE11z9OunOht914SMB3jo0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "IbBom7235iPYrYUKGAKNGywt18iivd5fh7J66N38tIp2qTIkmPiJTJsyNcZirhZRDYqaSXdRvO8PKICwsJnBkj086LHxUWXK3poVX4miBpBtBjf2og6PyWHaC1ypfKCctg4dHU0s75IqnlxJ4-X2UQ.F8JsLkfAp-l1xa9OifAJglPWfCRVcW44AUHYCQo4bC4"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "830517"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}