{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?$filter=startswith(displayName,'BadSearchString')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "iyH1L5ZSeWH83EP1icIOAwr148oY/OGtb+Pw+quNhWk="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "kTLQpQzkxC63Delf4J96b_eiUkPgWBL2gzmXqXx2cyghmTC1WnYM3hWfHCkgQavpeQXPzojT3JiJSjWLPJUXXHospScNxxTDke8JZgHI3U1-2VRhBHEH2pfUP4RAhH3i7Ly2vp60Bt6VuhlbtOmNgw.kt-VbnYW9dSx5OZG3_X7fYsyEO9_26DctDF9hql50hE"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "506886"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}