{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"aduser1281\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"adpass22070#$\",\r\n    \"forceChangePasswordNextLogin\": false\r\n  },\r\n  \"userPrincipalName\": \"aduser1281@rbacclitest.onmicrosoft.com\",\r\n  \"mailNickname\": \"aduser1281test\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n  \"objectType\": \"User\",\r\n  \"objectId\": \"28da4425-5a5a-41ba-8d1a-0795eff4d3f7\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"assignedLicenses\": [],\r\n  \"assignedPlans\": [],\r\n  \"city\": null,\r\n  \"companyName\": null,\r\n  \"country\": null,\r\n  \"creationType\": null,\r\n  \"department\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"aduser1281\",\r\n  \"employeeId\": null,\r\n  \"facsimileTelephoneNumber\": null,\r\n  \"givenName\": null,\r\n  \"immutableId\": null,\r\n  \"isCompromised\": null,\r\n  \"jobTitle\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"aduser1281test\",\r\n  \"mobile\": null,\r\n  \"onPremisesDistinguishedName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"otherMails\": [],\r\n  \"passwordPolicies\": null,\r\n  \"passwordProfile\": null,\r\n  \"physicalDeliveryOfficeName\": null,\r\n  \"postalCode\": null,\r\n  \"preferredLanguage\": null,\r\n  \"provisionedPlans\": [],\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"refreshTokensValidFromDateTime\": \"2017-10-31T19:30:50.3372442Z\",\r\n  \"showInAddressList\": null,\r\n  \"signInNames\": [],\r\n  \"sipProxyAddress\": null,\r\n  \"state\": null,\r\n  \"streetAddress\": null,\r\n  \"surname\": null,\r\n  \"telephoneNumber\": null,\r\n  \"usageLocation\": null,\r\n  \"userIdentities\": [],\r\n  \"userPrincipalName\": \"aduser1281@rbacclitest.onmicrosoft.com\",\r\n  \"userType\": \"Member\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "yt6nptJbg5NcMoRd8olQmRyf1xoaQrW5AVjlweyozdM="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "1iqertXCLSizAvbkJynCTS6zW6R8LOlptDprybmh1SNXvsgiLbDLtasWfv7VJlwxsxIa6yEJl6Juk2UqxnSYS0_B0hW5xPvfuBvYmVPQNK1N3GUAxrI0RqAUyb_6k2JnJMkQXG1gwQcZ8i521ZSNUGOK9cppwgopP3F21JCqL9cWVX444zUcew5S8YTJrJWAENFVLar3x472ZdTLO00yVg.h-r9_n_FOHHFi6MqbUPeouhza6rCVdq_v0aIGLdaKxw"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "5344934"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/28da4425-5a5a-41ba-8d1a-0795eff4d3f7/Microsoft.DirectoryServices.User"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"adgroup696\",\r\n  \"mailNickname\": \"adgroupmail2854\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"706cbd69-0e7f-4768-9135-e7085ec5a9af\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"adgroup696\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"adgroupmail2854\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesDomainName\": null,\r\n  \"onPremisesNetBiosName\": null,\r\n  \"onPremisesSamAccountName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "SU5fdDwsCqc7z2lm5DqXdq4BDcpBb/7KVd8B1LQCIVs="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "jDKgxILNK-Pgf1HcRgahgXArWrnJarnHFxYTMXp4NKV-8fh0yQczAvTizQLma9nmYIDWrJ88Fw_s_Jb63kuedrJM1FLg-d8ivHMH2z16L8TJiMLv29WraqFbK2sLscHR0jM4kTdeFj4l38aBFsTOwHyqdKAx3URtzinSQhi591BgKr-SSS6skgorCBHHYqA8VMJaYlhNQadPNeOZdy86KA.cxccNEaRzDCXPQigwlovts9KghXRmF9mf7zL_K6ODFU"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "4128610"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/706cbd69-0e7f-4768-9135-e7085ec5a9af/Microsoft.DirectoryServices.Group"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/706cbd69-0e7f-4768-9135-e7085ec5a9af/$links/members?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"url\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/28da4425-5a5a-41ba-8d1a-0795eff4d3f7\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "DpRYB6D5SlNUKN7Y94FfEBl5r/DsKbRuMnXpLar5o6M="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "FsOluGtW6j0ikGF4t97v-_Z8vtrP1r8FnWYglXlkImdhvMOpw4Jew5P29sQZ2tgQZW__PYvGz3mFHzxjckMrU4VQsw6dZO6OZ9mArCp9sc6YrfK-nlH79XqBdhHY6sKICe-5zEi3iCHF36uFBEqqwrmnnp3b_DGdyN7MHJehI6whukt5hdqb2uKaEASszT47VlzmO57TbsZz3u2jT4fqog.cUD8buh3XwxGJ_pJAZQJvKs5crigVTMYSvZb_9HviFI"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1840942"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/getObjectsByObjectIds?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"objectIds\": [\r\n    \"706cbd69-0e7f-4768-9135-e7085ec5a9af\"\r\n  ],\r\n  \"includeDirectoryObjectReferences\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n      \"objectType\": \"Group\",\r\n      \"objectId\": \"706cbd69-0e7f-4768-9135-e7085ec5a9af\",\r\n      \"deletionTimestamp\": null,\r\n      \"description\": null,\r\n      \"dirSyncEnabled\": null,\r\n      \"displayName\": \"adgroup696\",\r\n      \"lastDirSyncTime\": null,\r\n      \"mail\": null,\r\n      \"mailNickname\": \"adgroupmail2854\",\r\n      \"mailEnabled\": false,\r\n      \"onPremisesDomainName\":[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/706cbd69-0e7f-4768-9135-e7085ec5a9af/members?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n      \"objectType\": \"User\",\r\n  [...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users/28da4425-5a5a-41ba-8d1a-0795eff4d3f7?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "UUsoRVZx52dAfTb5wv/hhWzDqbmsJKcNRViHoL4/1IY="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "Zv-WkMXeyvkk2Pj5YQxAKaL6QIdHf1Cx3Lp_DhvBnl0p8bRJ2F7dRLdocbV5js3VGgALtFjGE_qcN9klSyFOsxlhIHgpU3GSzFfqZ4Sk9CT6Re5c4CDyPXXWEwaJPwBnZK0-mwA5SHgQyMcFtoRbEeIDP08xmJt9ZXfIadgLisRm6OS7WqvuV3_gxDVUbyEKnGeyJJoK0-x1dORKtBYYbg.6aovu1kHj4E6VYGuPRru6djoiEF4NpIDM-N05y81tLQ"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "10800731"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/706cbd69-0e7f-4768-9135-e7085ec5a9af?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "qzvxOBLVxmQxplHB5+b6WmoZShjpkheHyKFblsUWoSM="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "gyhnM90zbwwVC-mH_pwMOmymgrtBYxh33RHe6lgdWQZf6seE48_Dmlg2r5MWqhv9G7kfv2qz3p4FvImE4pAv2BDMWiaLS-G7N8irdasxkFv3k6LySWrdOPiaT0JOH8HYWKjsjjGH9rBlkr7l6T9Xj36QFsQO3Y_gR4ESQnNDvHAm8ypJiNyEn67DLzn_REgdZThZ_WQUNcYwa29-RrwxQw.Haegf8-1IqBGuLHyh8To1hxaTMOQtkf7zmooUXknMMU"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "3566829"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdUser": [
      "aduser1281",
      "adpass2207"
    ],
    "CreateNewAdGroup": [
      "adgroup696",
      "adgroupmail2854"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}