{
  "Entries": [
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/users?api-version=1.42-previewInternal",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"userPrincipalName\": \"aduser7065@rbactest.onmicrosoft.com\",\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"aduser7065\",\r\n  \"mailNickname\": \"aduser7065test\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"adpass23550#$\",\r\n    \"forceChangePasswordNextLogin\": false\r\n  }\r\n}",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.User/@Element\",\r\n  \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.User\",\r\n  \"objectType\": \"User\",\r\n  \"objectId\": \"e253bc25-fbe6-4d8a-888b-f828d4b37e60\",\r\n  \"softDeletionTimestamp\": null,\r\n  \"acceptedAs\": null,\r\n  \"acceptedOn\": null,\r\n  \"accountEnabled\": true,\r\n  \"alternativeSecurityIds\": [],\r\n  \"appMetadata\": null,\r\n  \"assignedLicenses\": [],\r\n  \"assignedPlans\": [],\r\n  \"city\": null,\r\n  \"country\": null,\r\n  \"creationType\": null,\r\n  \"department\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"aduser7065\",\r\n  \"extensionAttribute1\": null,\r\n  \"extensionAttribute2\": null,\r\n  \"extensionAttribute3\": null,\r\n  \"extensionAttribute4\": null,\r\n  \"extensionAttribute5\": null,\r\n  \"extensionAttribute6\": null,\r\n  \"extensionAttribute7\": null,\r\n  \"extensionAttribute8\": null,\r\n  \"extensionAttribute9\": null,\r\n  \"extensionAttribute10\": null,\r\n  \"extensionAttribute11\": null,\r\n  \"extensionAttribute12\": null,\r\n  \"extensionAttribute13\": null,\r\n  \"extensionAttribute14\": null,\r\n  \"extensionAttribute15\": null,\r\n  \"facsimileTelephoneNumber\": null,\r\n  \"givenName\": null,\r\n  \"immutableId\": null,\r\n  \"invitedOn\": null,\r\n  \"inviteReplyUrl\": [],\r\n  \"inviteResources\": [],\r\n  \"inviteTicket\": [],\r\n  \"isCompromised\": null,\r\n  \"jobTitle\": null,\r\n  \"jrnlAddress\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"logonIdentifiers\": [],\r\n  \"mail\": null,\r\n  \"mailNickname\": \"aduser7065test\",\r\n  \"mobile\": null,\r\n  \"netId\": \"10033FFF8BCF0657\",\r\n  \"onPremiseSecurityIdentifier\": null,\r\n  \"otherMails\": [],\r\n  \"passwordPolicies\": null,\r\n  \"passwordProfile\": null,\r\n  \"physicalDeliveryOfficeName\": null,\r\n  \"postalCode\": null,\r\n  \"preferredLanguage\": null,\r\n  \"primarySMTPAddress\": null,\r\n  \"provisionedPlans\": [],\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"searchableDeviceKey\": [],\r\n  \"selfServePasswordResetData\": null,\r\n  \"signInName\": \"aduser7065@rbactest.onmicrosoft.com\",\r\n  \"sipProxyAddress\": null,\r\n  \"smtpAddresses\": [],\r\n  \"state\": null,\r\n  \"streetAddress\": null,\r\n  \"surname\": null,\r\n  \"telephoneNumber\": null,\r\n  \"usageLocation\": null,\r\n  \"userPrincipalName\": \"aduser7065@rbactest.onmicrosoft.com\",\r\n  \"userState\": null,\r\n  \"userStateChangedOn\": null,\r\n  \"userType\": \"Member\"\r\n}",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "MsH+7bNxSLKcmuX3JqvzScisCtZwuMTpgstB41T1Viw="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "Ua4Epva-Z0idIMmMgoK9d04E4vmYG-PkKKg4U3mkAY5XcSaeSgpEfIKoTzg5tO96i-qfhEoMsG63AX-3MLfDH-YI5rUU-JHM8SW8fh1WUCuPppxcgypiwkWw7yGwyGG46LKufSv6SgVDccnNZgnb0A.pW54EchnrgZZmzBhExKwAM3ykZD4jKrqEEGyldYsg44"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Location": [
          "https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/directoryObjects/e253bc25-fbe6-4d8a-888b-f828d4b37e60/Microsoft.WindowsAzure.ActiveDirectory.User"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/users?&$filter=startswith(displayName,'aduser7065')&api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.User\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.User\",\r\n      \"objectType\": \"User\",\r\n      \"objectId\": \"e253bc25-fbe6-4d8a-888b-f828d4b37e60\",\r\n      \"softDeletionTimestamp\": null,\r\n      \"acceptedAs\": null,\r\n      \"acceptedOn\": null,\r\n      \"accountEnabled\": true,\r\n      \"alternativeSecurityIds\": [],\r\n      \"appMetadata\": null,\r\n      \"assignedLicenses\": [],\r\n      \"assignedPlans\": [],\r\n      \"city\": null,\r\n      \[...]
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/users/e253bc25-fbe6-4d8a-888b-f828d4b37e60?api-version=1.42-previewInternal",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "MsH+7bNxSLKcmuX3JqvzScisCtZwuMTpgstB41T1Viw="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "pXrw9oczVcFljV01GU5YwycJynLc-4StPbW7C_JjqS6eS6C5m1TYScsgYCxuhEX10DizrVvKeTFnYquP4DmySqs2c8RatYNW2WguhmPpBSzstTGSRxdzY6j6PKe37gVxi2mJQoTReLBBMmzs_otMFQ.FF8t94IftJ9HB2IYSbPPSIVSI75-jd7mM7YMSfrW97Q"
        ],
        "DataServiceVersion": [
          "1.0;"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdUser": [
      "aduser7065",
      "adpass2355"
    ]
  },
  "Variables": {
    "SubscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TenantId": "1449d5b7-8a83-47db-ae4c-9b03e888bad0",
    "Domain": "rbactest.onmicrosoft.com"
  }
}