{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users?$filter=userPrincipalName%20eq%20'baduser%40rbactest.onmicrosoft.com'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.User\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "4nmBIka+RsLYPWKmnmXko5iClI11NQ4Pd4ryRuwNLI4="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "NNdKBxYp-hQl-Cvrg00WYXmHpyTxfzjq5-Pqx9xCy9E6Mb6xwRhqIcDgTEWxVZa79UIa03oYaLzO0894HXUBFvguNI4bA_vZIP27rGrJKoncHn_KWtxsl6687haA8lcoHtT8U8uvhb0Wo9K8e5KQY65G0uYQEffRZK-S4ELp7EBSARxZDETcd9VHNsj2YPHtcaf2_6cDPEeEap5a-W6wUg.P_hRg6-DCwKHEP3PxowIl6XxE2bGGMbZp_VQi9PL8jo"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "566794"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}