{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"aduser3783\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"adpass43090#$\",\r\n    \"forceChangePasswordNextLogin\": false\r\n  },\r\n  \"userPrincipalName\": \"aduser3783@rbacclitest.onmicrosoft.com\",\r\n  \"mailNickname\": \"aduser3783test\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n  \"objectType\": \"User\",\r\n  \"objectId\": \"baf8dc3f-322c-4a6c-8d62-488fac0ad184\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"assignedLicenses\": [],\r\n  \"assignedPlans\": [],\r\n  \"city\": null,\r\n  \"companyName\": null,\r\n  \"country\": null,\r\n  \"creationType\": null,\r\n  \"department\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"aduser3783\",\r\n  \"employeeId\": null,\r\n  \"facsimileTelephoneNumber\": null,\r\n  \"givenName\": null,\r\n  \"immutableId\": null,\r\n  \"isCompromised\": null,\r\n  \"jobTitle\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"aduser3783test\",\r\n  \"mobile\": null,\r\n  \"onPremisesDistinguishedName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"otherMails\": [],\r\n  \"passwordPolicies\": null,\r\n  \"passwordProfile\": null,\r\n  \"physicalDeliveryOfficeName\": null,\r\n  \"postalCode\": null,\r\n  \"preferredLanguage\": null,\r\n  \"provisionedPlans\": [],\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"refreshTokensValidFromDateTime\": \"2017-09-19T01:14:32.4445711Z\",\r\n  \"showInAddressList\": null,\r\n  \"signInNames\": [],\r\n  \"sipProxyAddress\": null,\r\n  \"state\": null,\r\n  \"streetAddress\": null,\r\n  \"surname\": null,\r\n  \"telephoneNumber\": null,\r\n  \"usageLocation\": null,\r\n  \"userIdentities\": [],\r\n  \"userPrincipalName\": \"aduser3783@rbacclitest.onmicrosoft.com\",\r\n  \"userType\": \"Member\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "DRh1E8KpzyDQ2JIEbQFJYUEDvVJ2kaqlg9shn22LEv0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "_z2XR6CUs7UvwUxm5IUbTxP0MABrc0rTK1E9mo2XDzDDjyLyasrcGqXdrLXXrJp9ACyzxB3x9DTV_EyoP7q-tIs3-FGXZbkYG-onj-_ENXKkOBhq_V5C-EgHFQo6Y0emYmoXWH3DAZhdGv1zDpzDnxBn8cqasoE9CIknGcRbdT2ZRTiOPZD16xj9J7vOm1MbjlVzBpZb1n7a9XWcUpXSfg.z2sY8dkdJQLYOR4y-4TMggLvOXIj2xc9Us-y2j1U9ac"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "7866401"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/baf8dc3f-322c-4a6c-8d62-488fac0ad184/Microsoft.DirectoryServices.User"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users/baf8dc3f-322c-4a6c-8d62-488fac0ad184?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n  \"objectType\": \"User\",\r\n  \"[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users/baf8dc3f-322c-4a6c-8d62-488fac0ad184?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "4QNX61j6pooq22+BFVvaz7k51+Cai/QsoVwfLYwcLzM="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "BS8ZkVdzevUEPVPEAeLZg2dpR4XdREoD5P-E2DI5LVIRWODjDUNX2DKSwRjzCeyVq3ETs-SAGR8ENPn4pBvUdWS0CsEhyIdkKBYhrxPFOcYUEpcOMunMVpkam-gYWEkJImo3tmtR8WmkDIxUcwkXjHOTc-CHZkF0CGhAsZ2Diy5my6aKWQCWLIRYUo8Ta4IqrHLRCSXxiEkVc73LF0lNAA.Dz5Jl4irrypYylwVj6DzZacv83hCpoJzvijcXOMtJ3k"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "10734222"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdUser": [
      "aduser3783",
      "adpass4309"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}