{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"adgroup7804\",\r\n  \"mailNickname\": \"adgroupmail1509\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"2fa85da2-0513-4de7-91e0-165622be4666\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"adgroup7804\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"adgroupmail1509\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesDomainName\": null,\r\n  \"onPremisesNetBiosName\": null,\r\n  \"onPremisesSamAccountName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "6jK4XfmKxcTjGA4F0kismAWyAzj8N/JPhQDwsSuw5/U="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "3a-P8H9EIn1qEhn3I9xXh6j3nVDOg1BT2gtbLlBEO6Rk6FKS53Lkw1f6rYcgRKWL2P9GZ-oDhWtU41fqROakLUInA85CgYATW-q6ibKAIhNQLMf0694NAti2hmKW6wakKZZ-N9omESl2B1SDh2M5pDNba1CjIJsQEoKUjWxW6TCibYKGZWuB8X38ridm37gzgTNyMyktCm7Gk6eVjw1xcw.nj91AVM4QZLHeCwml8N4EcMa-ABYzbE3AcDo7FHxpgA"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2616231"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/2fa85da2-0513-4de7-91e0-165622be4666/Microsoft.DirectoryServices.Group"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/getObjectsByObjectIds?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"objectIds\": [\r\n    \"2fa85da2-0513-4de7-91e0-165622be4666\"\r\n  ],\r\n  \"includeDirectoryObjectReferences\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n      \"objectType\": \"Group\",\r\n      \"objectId\": \"2fa85da2-0513-4de7-91e0-165622be4666\",\r\n      \"deletionTimestamp\": null,\r\n      \"description\": null,\r\n      \"dirSyncEnabled\": null,\r\n      \"displayName\": \"adgroup7804\",\r\n      \"lastDirSyncTime\": null,\r\n      \"mail\": null,\r\n      \"mailNickname\": \"adgroupmail1509\",\r\n      \"mailEnabled\": false,\r\n      \"onPremisesDomainName\"[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/2fa85da2-0513-4de7-91e0-165622be4666?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "nwoPDPBe8J1qM7KlA3xNHurxCxJXOtsHl8UwAYIE67M="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "ZiqMtBwO5V7aTKNmHhJ3wbpoJrFtLjPeGyuWfr2QB2chY97Ebvc6YHtWZAc8EP4LnCMLq4lCRz9jcuDR0TfzAn1DWQNcN8JIKHjeeZ8dSrAP5k7G-6MSNgdqLRoG6BUyMmCkxac21eILiCSDeAj3I8MWc67bPXGBEVe1KDRl9CpmIZMHNlCjbIjrMSi7BDqZzfGEZQbUSG1pe-f_LHNzRw.jaE-8L5FvthvHM5oOMoNeeq5rlr6Rs6-USrDU_1Uv7U"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2611137"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdGroup": [
      "adgroup7804",
      "adgroupmail1509"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}