{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"onesdk243\",\r\n  \"homepage\": \"http://onesdk243\",\r\n  \"identifierUris\": [\r\n    \"http://onesdk243\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"5889a67b-5db4-4d22-a18a-5cef9b31dbcc\",\r\n  \"deletionTimestamp\": null,\r\n  \"acceptMappedClaims\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"e98dfcc1-c01f-4c52-9ca6-3131a9eedd56\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"onesdk243\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://onesdk243\",\r\n  \"identifierUris\": [\r\n    \"http://onesdk243\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access onesdk243 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access onesdk243\",\r\n      \"id\": \"9a0cdfe1-9a3d-4835-909b-efe7d2405677\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access onesdk243 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access onesdk243\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "XZZhkzlE3oBkIQVB+wQnvi7mbmSLDUoik6doGquKkr4="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "65mX3IEqEGeSumSQr_ZDwKV7_DcLxtaJlKILrx4drlj1nAV7ZJA9B9ni3WGOIcRyUel_zdWdEBRA8QPIdiZk5n1AVHDYlVF4yeFL6g7a3Fs2AXrjwFOUzAwZyH65TyUZQHoMmPdtGEDvtQv3FihUUt0k9fwFbR3dX_BGijzWWRZii7pv-T-wbjXrEdd22yZ1ERkDosb9t_1xnVTgSddFew.s4p0CKVlKOEE6koq5wu6WoFEbB5XPzaRkPBW2Je7BGY"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "3699056"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/5889a67b-5db4-4d22-a18a-5cef9b31dbcc/Microsoft.DirectoryServices.Application"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"e98dfcc1-c01f-4c52-9ca6-3131a9eedd56\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"890d9b35-0f96-47e8-90a7-ceee0e492a97\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"onesdk243\",\r\n  \"appId\": \"e98dfcc1-c01f-4c52-9ca6-3131a9eedd56\",\r\n  \"appOwnerTenantId\": \"1273adef-00a3-4086-a51a-dbcce1857d36\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"onesdk243\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://onesdk243\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access onesdk243 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access onesdk243\",\r\n      \"id\": \"9a0cdfe1-9a3d-4835-909b-efe7d2405677\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access onesdk243 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access onesdk243\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [],\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"rbacCliTestDirectory\",\r\n  \"replyUrls\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"e98dfcc1-c01f-4c52-9ca6-3131a9eedd56\",\r\n    \"http://onesdk243\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"tags\": [],\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "kpTVY9vhytH2Y1JxyUkph+h7pjb7c5rbFUPU3WdgiQ0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "FvY1mKitLyyT5_bc0rWEwbR6OW-ZClx1umoX6wtM9p8QlYIsVCoA6xGvEw7bQbaTTyFOKgp7ObfchB-_b0yjb_O5Rupy_yS0QOq9LKD-IlOpOAtWNEcZu1WCc8FsSWF4eQeKhj2oDQbIm7BEoa7RLEACIhIlDG_8uxVxk-wYLDl9v9vnQypt5Quc4GQflejhldUMAHZmL6q0eNXlRvv66A.uctLV-b4LHngN9acoHP2BBAnyT2oosgwi7CzfSFTP-I"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2155702"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/890d9b35-0f96-47e8-90a7-ceee0e492a97/Microsoft.DirectoryServices.ServicePrincipal"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/890d9b35-0f96-47e8-90a7-ceee0e492a97?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\[...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/890d9b35-0f96-47e8-90a7-ceee0e492a97?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource '890d9b35-0f96-47e8-90a7-ceee0e492a97' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "kpTVY9vhytH2Y1JxyUkph+h7pjb7c5rbFUPU3WdgiQ0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "xdxvNQ0QY0ClClTUTl-2_-E1KQapnvcy3Zerj3zhfp0rXy6-idYdN4VwvflFMc25UsOR3j_Twg2ez7DSkRahuhkTHo0xjtTQVlD7fU_z_CW-ZAIEziovZEU_yE6vYflpwY4x4BFtZ_H2qYWCh_4oPX5U0MHZ206Hjf4OPnuaN_LlPLEmjYAfuwEptew-9JiodJeHGA5a1IEGN_JYCUS4bA.-_uCS6pRblY1KQdK5sD8dq3OIqc0H6h5KREIaLs1fHY"
        ],
        "Duration": [
          "963379"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?$filter=servicePrincipalNames/any(c:%20c%20eq%20'e98dfcc1-c01f-4c52-9ca6-3131a9eedd56')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"value\": [\r\n    {\r\n [...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?$filter=appId%20eq%20'e98dfcc1-c01f-4c52-9ca6-3131a9eedd56'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.Direc[...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/5889a67b-5db4-4d22-a18a-5cef9b31dbcc?api-version=1.6",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"displayName\": \"onesdk3560\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "jQn46b1YjW8EIarJT5QnYIj4o+mCIlp3UDf9d/G5Jlw="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "xaSUFmqop4g2nwkWiwXtrgvLhpknlbvetJAwftAQmqOjjl83-ZQcBy3gqcwFEkvES6YlqCbJ4u4DJyA5fOc8lsn64iIoSEcGyyQXGBGwJEGajEHn0O2fYGrKDQjb_t97rZxFKUFozDtNvd1KiAmTvNgGV7LfktefVta3ZSYgB8OOeHEBMZDKzB3Z7M8JY8AwrGbsfGBDV0Gmn_gQZdBBCg.pj5WbuFO4QNu2iP0igLTRqWlUJlQ9Ht7hXi6TLGQWts"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "4602427"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/5889a67b-5db4-4d22-a18a-5cef9b31dbcc?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "jQn46b1YjW8EIarJT5QnYIj4o+mCIlp3UDf9d/G5Jlw="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "47nFSaHWDR2mr3teTYV4oYHPZqCOyL7goAPW4Euaw9PJ1TvQ2DvXrfyGIV8leo9L1zvxmtypJY0yO1OXSB9CsuRWd1flizrr18j8ADiPPtQ7pGltTEG3HV08El6Y2LhUtx9GC7oIKryYOn94-GnxBQ6fOsdHw2jGYy0gCwuDsQm6hJz8o1KmxaaM2N2cJ1gsumJwkDaUNiJ_JPsMe8pyNQ.zhOuxlcql16I9zKm0VMHc8h_KFPZ3nv55OUSLq6sDUM"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1965959"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "Test-NewADServicePrincipalWithoutApp": [
      "onesdk243",
      "onesdk3560"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}