{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"aduser5349\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"adpass97190#$\",\r\n    \"forceChangePasswordNextLogin\": false\r\n  },\r\n  \"userPrincipalName\": \"aduser5349@rbacclitest.onmicrosoft.com\",\r\n  \"mailNickname\": \"aduser5349test\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n  \"objectType\": \"User\",\r\n  \"objectId\": \"5da0e556-c0dc-4cef-bb00-9272979ece4d\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"assignedLicenses\": [],\r\n  \"assignedPlans\": [],\r\n  \"city\": null,\r\n  \"companyName\": null,\r\n  \"country\": null,\r\n  \"creationType\": null,\r\n  \"department\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"aduser5349\",\r\n  \"employeeId\": null,\r\n  \"facsimileTelephoneNumber\": null,\r\n  \"givenName\": null,\r\n  \"immutableId\": null,\r\n  \"isCompromised\": null,\r\n  \"jobTitle\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"aduser5349test\",\r\n  \"mobile\": null,\r\n  \"onPremisesDistinguishedName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"otherMails\": [],\r\n  \"passwordPolicies\": null,\r\n  \"passwordProfile\": null,\r\n  \"physicalDeliveryOfficeName\": null,\r\n  \"postalCode\": null,\r\n  \"preferredLanguage\": null,\r\n  \"provisionedPlans\": [],\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"refreshTokensValidFromDateTime\": \"2017-09-19T01:32:40.9134792Z\",\r\n  \"showInAddressList\": null,\r\n  \"signInNames\": [],\r\n  \"sipProxyAddress\": null,\r\n  \"state\": null,\r\n  \"streetAddress\": null,\r\n  \"surname\": null,\r\n  \"telephoneNumber\": null,\r\n  \"usageLocation\": null,\r\n  \"userIdentities\": [],\r\n  \"userPrincipalName\": \"aduser5349@rbacclitest.onmicrosoft.com\",\r\n  \"userType\": \"Member\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "9WLo4B6kQVjpP+q4mIG8bJrIWTKzOYf1v3k7vmr7wg8="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "YzxD46RXFeUT67wBHTSJrVoRW05ZQcSP3H6saevU70bRUkpq8HzEmPnoNdFhizcDFRXvJQZO3SA_BRlcIsgYpohyRPe9gV4zmZ6kO9Yea9P415RPQdL3EaBIr9UrGqbRGk0o6CDqFCh5bvcsMW4ln-UGlAQpDJ0VCXiaEAbBMbSRttL-v5Yg9m_8hdv3CPuLvGp64Jzl2dU88MTeQFj9QQ.qhI2tS1uQjS6jN8ED8fRZKMvRDMcgJ7hSTjR6o9I09M"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "12429792"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/5da0e556-c0dc-4cef-bb00-9272979ece4d/Microsoft.DirectoryServices.User"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/5da0e556-c0dc-4cef-bb00-9272979ece4d?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource '5da0e556-c0dc-4cef-bb00-9272979ece4d' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "EtcWSCm0yJGd3kCZLzFsjeCyL72QJUnSrwuPNHYUd1g="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "uN7FKm1ROpzCAqwYWdIjgvksDXHNj70Uj5rKa_H6Bd86Omuqs6-I9kZ-03Pc87LbZh8OwlTxGfQSNq85_iBUKB3MGVzRWoWS-4kyt0LCwS5jo0SHbaeNGs3yHv8K1oDDbNL3_V8_Teye5KxQYlwkuEUW2KFhYufJo727uaT5ER5ZLN6fbDuCuq7yY27_BSyKTuHa38A7GQZMwKrzbOB55g.8LdrJT7bivTn1-FFlyMu6lmHTqFwsgDCX9_xL_kp-lE"
        ],
        "Duration": [
          "678930"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users/5da0e556-c0dc-4cef-bb00-9272979ece4d?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "nqD28CyTcqD3Biknx4FyJZuYuPTfrh3H9scanSfz64Y="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "RS-uv61guPISGpb8dBfhtoVs-wc4lt3XeF42JG55p3yZ9iIDfponrlMRDo7bjEFgs6a6uw9ti7oRBlacE9iMkPU8fae6lRp-ieomAX_43AWW1LA4qit1N9ZWFB_s_j2Xl5-lFPQ86ReFWQEUQ7hRTcD93aktJikMFretJOlnmX8C6_UMhdp4u2X_TqcENBY6Zx18_dhF_aKs-rRcoJGqEQ.u3H4JTd8SbHG4KjzFd8foOJykug1HyVdDYQEfAQM3gM"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "13712738"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdUser": [
      "aduser5349",
      "adpass9719"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}