{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"adgroup2870\",\r\n  \"mailNickname\": \"adgroupmail7108\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"90caba38-3262-4ab3-bc1d-1194715568ba\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"adgroup2870\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"adgroupmail7108\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesDomainName\": null,\r\n  \"onPremisesNetBiosName\": null,\r\n  \"onPremisesSamAccountName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "gzTHd9xPT6UpzqL1VdRsA3bqkd3Ju1OXrLwpKneHrpg="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "oTyLof7fN9CfhYSA5ZkDwFFLN5Wwq97Lg0uF29fdfqHP7u-879FNqHQpF2pmN_LTbPmyrzUwjEB3RssmydX2rSGCsE17pqXEqhu-KP0wOUoha6XdOGa6RAw4WGLmczYUCwZhQ82pz0XYsBmfKT-AOmNUUROIUJI_EP1C39yGKzRNW8ez3KBr8Mfbv2K3uQcUaDwoBz7YCMmd9ALx_VmDKQ.0bJf9oeDv0NVDQOiR3gbHzDoPB1wievjA9u_w_YH8ww"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1543469"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/90caba38-3262-4ab3-bc1d-1194715568ba/Microsoft.DirectoryServices.Group"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/getObjectsByObjectIds?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"objectIds\": [\r\n    \"90caba38-3262-4ab3-bc1d-1194715568ba\"\r\n  ],\r\n  \"includeDirectoryObjectReferences\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n      \"objectType\": \"Group\",\r\n      \"objectId\": \"90caba38-3262-4ab3-bc1d-1194715568ba\",\r\n      \"deletionTimestamp\": null,\r\n      \"description\": null,\r\n      \"dirSyncEnabled\": null,\r\n      \"displayName\": \"adgroup2870\",\r\n      \"lastDirSyncTime\": null,\r\n      \"mail\": null,\r\n      \"mailNickname\": \"adgroupmail7108\",\r\n      \"mailEnabled\": false,\r\n      \"onPremisesDomainName\"[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/90caba38-3262-4ab3-bc1d-1194715568ba?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "Wvx7TZ/eEDk0k41ajYvQwgwehU+KM5tQhOMjjNrsD6E="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "APgszRC5ujuCGx4CrTkRUQAdDy87TPYeo-mbDToIFtRIypA2NUqWz7S6UzMTTOxL1o_NGpD5dlkUDT0TLO8bwd7CmeyPgRRjZNVjgX4KGmF3vtFBuH3GfNkqplJLtDtjcE7yJ-qkDgdJ4Bo4zJCkfziQwRG0x4GLOSc6rA2soCxaU2U5obqhuqOhS9EQK-YBHguyDA9WzyULxRr8O75NbA.Ar5yCtfOP_3qQzadwLRPDo37dwSfUC0tF0MLWOp0kjo"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2624681"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdGroup": [
      "adgroup2870",
      "adgroupmail7108"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}