{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"adgroup2656\",\r\n  \"mailNickname\": \"adgroupmail6017\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"b4862030-96a0-4a47-9d39-45d2d51fd2b6\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"adgroup2656\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"adgroupmail6017\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "zgpSVXR+40hzOIhX19CmbvOQ8x7ZHq7eSqDtyxBfuBY="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "ztq-_6MKfhkm_cNnp9bsEhN0VSSeUhUqaisfC9FuQIWeR1FXoW7F4BHlyZksjao7GONM56t--_tzoHI7yIQ7uJSXWm0uMFiYSEo-Yk9Gc_fkE0mCSQdwr8QmM20oHgM3Xn7IHGn-HbzefQM8tJqRZw.JXt4aUaq9LTcZhXrzJ2kDqgZT9JCKIKDabq_UqUuMbA"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2239183"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/b4862030-96a0-4a47-9d39-45d2d51fd2b6/Microsoft.DirectoryServices.Group"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/getObjectsByObjectIds?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"objectIds\": [\r\n    \"b4862030-96a0-4a47-9d39-45d2d51fd2b6\"\r\n  ],\r\n  \"includeDirectoryObjectReferences\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n      \"objectType\": \"Group\",\r\n      \"objectId\": \"b4862030-96a0-4a47-9d39-45d2d51fd2b6\",\r\n      \"deletionTimestamp\": null,\r\n      \"description\": null,\r\n      \"dirSyncEnabled\": null,\r\n      \"displayName\": \"adgroup2656\",\r\n      \"lastDirSyncTime\": null,\r\n      \"mail\": null,\r\n      \"mailNickname\": \"adgroupmail6017\",\r\n      \"mailEnabled\": false,\r\n      \"onPremisesSecurityIdentifier\": null,\r\n      \"provisioningErrors\": [],\r\n      \"proxyAddresses\": [],\r\n      \"securityEnabled\": true\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "zBnO1zgN2HN/dAMzOnN35k2SLefJt7CbCenk7Vv7NR0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "_m2cmD7LeeApDatSklnXdS5nEBZs0wJqRp56LSRPYTn78DWvw3YsvFB8KM4CKJSZzlnHDi2cbV_7-J77E2UyDGdYZb9za_3jlp7qIF3Fbu-rewHpYe5aERWEU1s-jWHOZg5igkfEf0LK0vSHsrcoFA.OWlQFGxDea8-Sk_C4BZ_c4wxM2wYkeaae_6quf8kCeA"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "732864"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/b4862030-96a0-4a47-9d39-45d2d51fd2b6?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "zBnO1zgN2HN/dAMzOnN35k2SLefJt7CbCenk7Vv7NR0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "dwgsK0G3GdpI9JB66D8fN4KtVs-jyu1P8vZS1ovAGy_Jiu2QZJn8DMahI2XoQ5zK9bLymmcsO0o9OtuLc_JEg8gPpD0S2etaNv7IbUY-5OolI7uNik50fPcnO_j8bYTeM71WOinMu-dzn7V6YmnQJw.9JUPAm16BUhcUnY2KSPnL-WUBTYLCzcryVH0D62JkMk"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1983777"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdGroup": [
      "adgroup2656",
      "adgroupmail6017"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}