{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.42-previewInternal",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"onesdk9338\",\r\n  \"homepage\": \"http://onesdk9338.com\",\r\n  \"identifierUris\": [\r\n    \"http://onesdk9338\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"fa770d9d-16b7-4af0-bfd5-4e1e98a85b26\",\r\n  \"softDeletionTimestamp\": null,\r\n  \"appId\": \"32519538-2452-4062-836c-bc4d1b4cf55a\",\r\n  \"appMetadata\": null,\r\n  \"appPermissions\": [\r\n    {\r\n      \"claimValue\": \"user_impersonation\",\r\n      \"description\": \"Allow the application to access onesdk9338 on behalf of the signed-in user.\",\r\n      \"directAccessGrantTypes\": [],\r\n      \"displayName\": \"Access onesdk9338\",\r\n      \"impersonationAccessGrantTypes\": [\r\n        {\r\n          \"impersonated\": \"User\",\r\n          \"impersonator\": \"Application\"\r\n        }\r\n      ],\r\n      \"isDisabled\": false,\r\n      \"origin\": \"Application\",\r\n      \"permissionId\": \"66d30801-e09b-48d9-a543-b01da6cf6fbe\",\r\n      \"resourceScopeType\": \"Personal\",\r\n      \"userConsentDescription\": \"Allow the application to access onesdk9338 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access onesdk9338\",\r\n      \"lang\": null\r\n    }\r\n  ],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"onesdk9338\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://onesdk9338.com\",\r\n  \"identifierUris\": [\r\n    \"http://onesdk9338\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"passwordCredentials\": [],\r\n  \"oAuth2AllowImplicitFlow\": false,\r\n  \"oAuth2AllowUrlPathMatching\": false,\r\n  \"oAuth2RequirePostResponse\": false,\r\n  \"publicClient\": null,\r\n  \"replyUrls\": [],\r\n  \"requiredResourceAccess\": [],\r\n  \"resourceApplicationSet\": null,\r\n  \"samlMetadataUrl\": null,\r\n  \"webApi\": null,\r\n  \"webApp\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "30icSeY/bVr9Xoytdat1AuqgYDoWTl+qNMdr2ZkR20g="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "ocp-aad-session-key": [
          "CWT4R2bLTBmDyoTgEXqVCI4M5oNpgslFCriW9gkqplcNWtFUeJhbp5dzJCQZ1mUGlZSPhdxIpwDHA8BwcRZGqYqpCFcsap6Y4KZNklCteYHIEakNNJOQvJoXMvPjblA56rEZhL44mZVnKYN3zX78xIlBdrcJan16h9oDMwTF6OBq611Ze7MNnwHtcRX_PT94qV8WjPGCx4ICRaUWW5IgXg.KPfhZAHZ4mtBaJD8udWqjTglKNvjBkGB-MGxkk7WQQ0"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "10544426"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/fa770d9d-16b7-4af0-bfd5-4e1e98a85b26/Microsoft.WindowsAzure.ActiveDirectory.Application"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/fa770d9d-16b7-4af0-bfd5-4e1e98a85b26?api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.WindowsAzure.ActiveDir[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.42-previewInternal&$filter=appId%20eq%20guid'32519538-2452-4062-836c-bc4d1b4cf55a'",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.Application\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.Application\",\r\n      \"objectType\": \"Application\",\r\n      \"objectId\": \"fa770d9d-16b7-4af0-bfd5-4e1e98a85b26\",\r\n      \"softDeletionTimestamp\": null,\r\n      \"appId\": \"32519538-2452-4062-836c-bc4d1b4cf55a\",\r\n      \"appMetadata\": null,\r\n      \"appPermissions\": [\r\n        {\r\n          \"claimValue\": \"user_impersonation\",\r\n          \"description\": \"Allow the application to access one[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.42-previewInternal&$filter=identifierUris/any(s:s%20eq%20'http:%2F%2Fonesdk9338')",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.Application\",\r\n  \"value\": [\r\n    {\r\n      \"[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.42-previewInternal&$filter=startswith(displayName,'onesdk9338')",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.Application\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Mi[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/fa770d9d-16b7-4af0-bfd5-4e1e98a85b26?api-version=1.42-previewInternal",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "i4Cjy0Rm3dU5EwgdJFsHVUFiI7cBL4KFGb+3zXKTCts="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "ocp-aad-session-key": [
          "QPw7Fuc55hyQM9VqNUSouSvvYxgmPzX-xv0sMt29Lil1zjbFYNI9dsqMyo4NxXH6y4KhIPeGaxND9k1XYugVoJccLE15dPToceeS4oCSP0vyYXO-sFPjnw0_MyGL3z-bxj0KEO-BqquWexY-xiC27_RPgcu_lmnfpkZF7Dw4lzYL3EOf8o5c7bU-JeudGRZQsEGXQ_SJdI_T3oU7H7b3Ng.59BGd0afhEgYNaESHJ2gxbaHntI87bYylUyP718WxMw"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "13855585"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "Test-NewADApplication": [
      "onesdk9338"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacCliTest.onmicrosoft.com"
  }
}