{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"adgroup6273\",\r\n  \"mailNickname\": \"adgroupmail7977\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"1065cf4b-d4e5-44b6-afc7-387af9bc5d60\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"adgroup6273\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"adgroupmail7977\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesDomainName\": null,\r\n  \"onPremisesNetBiosName\": null,\r\n  \"onPremisesSamAccountName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "aaJ/atTByDA7ec7KxvzhSr28KXwDXFZWU0USJ7ia5BA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "eScZnK9A7pbhybtgMWzO8SOKXXXyFwUPCtVwQTQ5gNueaiDP8QoSTASNXQVnKCaHfELC9WZpR-FTZXdKhZf0wmtqV5SyPEfhnVH8gTHjqV7VooIyi58KGo9xaz-qVmyUaPzwDFMfniYYG7Q33xbIcIskXy3Li8rRl4BTzoU0SS07miC5XikmmU83BgWFtdLdFtAFvNdb5snnoVVGCseXtA.N3_hOj9y0_8sYRhPIs2WcXTgFkX8bR_bzSgsx4SRBcE"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2344658"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/1065cf4b-d4e5-44b6-afc7-387af9bc5d60/Microsoft.DirectoryServices.Group"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users/1065cf4b-d4e5-44b6-afc7-387af9bc5d60?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource '1065cf4b-d4e5-44b6-afc7-387af9bc5d60' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "cmmfSsdnBAIEQoSVdNrxUXwW51QiWF0lftDnqRxKdr8="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "PlEMNU4H15CThfNR89d9x0xjZ1EY1YzenjRj3z6mGz0Rf3ohiCGqOB6a5S634R08IPf9J6NxMOzB3vmr480-NaA_8rhs570s-HzeExcp0ctSTtA_zjgNLN-njfg7844TaYl42EXuFbB-ECxnFoLsGu-6yzWHUlG4r9rNWsZkMtrYpf612gPvXCeB0fdjRmgVylSUnKLyTr1oRBhppbZZJQ.oECG4AZvGLgbXyCF8a5Lh6F_NnPusdC1PfAOrVw_8kE"
        ],
        "Duration": [
          "930457"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/1065cf4b-d4e5-44b6-afc7-387af9bc5d60?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "Di2Mb1FQpAkptjcd3t0sJrUHBU1H5BG1v34ttQWjQvo="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "VL6hC7bsmdRdFkdBlRZ9XAiHSZE2Co3Q-qbNp_5anAZ_UQNJ-6pHnKfv4UJjkxTa2h7nE0be6R4dLHpGUeroyHgGnb_pP1cWt3eso4blA0QuSE1LGqLIdiRDXw8zH1HPAd4VaA5JWJpJNXtHuy131zFlMxet-oH3l6Ifhk9FJEH98tMs8lBtiFgGj30HaLEv2x_uK02s_xjiCW8RgNNkTw.ktixrbUu23XDogCnBhbwsg-JucOe3SVD3VyOm2nZs7A"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2632332"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdGroup": [
      "adgroup6273",
      "adgroupmail7977"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}