{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication5825\",\r\n  \"homepage\": \"http://adApplication5825/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication5825/home\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"http://adApplication5825/home\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"d211611f-c514-4d1b-a710-2db94db9557b\",\r\n  \"deletionTimestamp\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"66244864-c378-407a-8a20-ceaf218dfe2a\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication5825\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://adApplication5825/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication5825/home\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication5825 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication5825\",\r\n      \"id\": \"aa698182-45fb-4572-830f-2008273b7fff\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication5825 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication5825\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [\r\n    \"http://adApplication5825/home\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "VE96ymV+N7+qIsCyCRMEXtWtFdJRAMYbA69ATN4L+b0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "Vu7gQR_UiQz74dnxco9JVqbJqe_sx7x9yqVvg7yjfkfpgXx4SBcHEgT49LvdO-bIruUc-HouvxmmNqGCznfLTOH_RMqFKTzvZ329j988WPMDahFN-vIeYeDenVjH0IDkUvbxec3vAFDjUR_QonUe0Q.17A4MgxyQTMay1ZYjHAn9LyJXz5labFUJ9OLoiR4hys"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "8436532"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/d211611f-c514-4d1b-a710-2db94db9557b/Microsoft.DirectoryServices.Application"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"66244864-c378-407a-8a20-ceaf218dfe2a\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"d0ca5d43-76cd-498b-b17e-8818a38e30bf\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"adApplication5825\",\r\n  \"appId\": \"66244864-c378-407a-8a20-ceaf218dfe2a\",\r\n  \"appOwnerTenantId\": \"1273adef-00a3-4086-a51a-dbcce1857d36\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"adApplication5825\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://adApplication5825/home\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication5825 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication5825\",\r\n      \"id\": \"aa698182-45fb-4572-830f-2008273b7fff\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication5825 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication5825\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [],\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"rbacCliTestDirectory\",\r\n  \"replyUrls\": [\r\n    \"http://adApplication5825/home\"\r\n  ],\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"66244864-c378-407a-8a20-ceaf218dfe2a\",\r\n    \"http://adApplication5825/home\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"tags\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "3YDvl4w1xxnS9UxO4Rrmc5+MOBTWBKL8fvqWYxPh/i0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "xSWXGebEv_pBnx2G5TLmHPs7I6YvBe-4F-kdgqBG6KDUxrAtdn0fNH_twXWVoQ6xYIk-ZO7Bwh4qKJ9kx_e9KNc8sdDdR1nVfSufB2FfMSbAcSR-TQldu9ng1EWmIYnsnisll6EPch3U060_BPJpzQ.8P6sZxBpKhuUW-kEdRTjPzupSHX8qRNS_2DgrAbUhJs"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "3185820"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/d0ca5d43-76cd-498b-b17e-8818a38e30bf/Microsoft.DirectoryServices.ServicePrincipal"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/d0ca5d43-76cd-498b-b17e-8818a38e30bf?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\[...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?$filter=servicePrincipalNames/any(c:%20c%20eq%20'66244864-c378-407a-8a20-ceaf218dfe2a')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"value\": [\r\n    {\r\n [...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/d211611f-c514-4d1b-a710-2db94db9557b?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "3YDvl4w1xxnS9UxO4Rrmc5+MOBTWBKL8fvqWYxPh/i0="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "hEHAZEgsrqkj04lRgLCpk9AclvDr0aGi-xCLuJF6iC1i4i0fUBS5piWbpRrceGz6ieSYgKRJZhl5YbfLovHeSYc7CpwPe-LAD88q-MRLOY67XWdqJM1OdzGm0oqwEsbuJebdVfz1oXstmhTG6RwUrw.bi9l5MTpc9HEa9OcGm6EZqg1ftDf4W_m3kNDzST8hRo"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "3359888"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdApp": [
      "adApplication5825"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}