{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"adgroup9081\",\r\n  \"mailNickname\": \"adgroupmail5713\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"6ed96ff1-b4f1-4552-96c9-cf8e8837238a\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"adgroup9081\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"adgroupmail5713\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "UDWMhJ2wsihr7cwNrF7BPZPdBBmeKZMJhClpqBVAWfA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "tMyALj3DTlKPf7giDe8Z-1YcEQ_5Whroz9hbajpXZ98x3J7hF34AQRmi9SE836Ot4LI0-Z4MC3_-pZSiAlOlHbWCdbVOTSnbzc16wCFzgJCuUzlwScGubOKsMX5DBYP_In3ZjUlHZDROzPgGURlMxQ.2N_8X1Ozc1qBPnTZXTqQu258_Ilbl5L60Bi21GUMzXE"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2327593"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/6ed96ff1-b4f1-4552-96c9-cf8e8837238a/Microsoft.DirectoryServices.Group"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/getObjectsByObjectIds?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"objectIds\": [\r\n    \"6ed96ff1-b4f1-4552-96c9-cf8e8837238a\"\r\n  ],\r\n  \"includeDirectoryObjectReferences\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n      \"objectType\": \"Group\",\r\n      \"objectId\": \"6ed96ff1-b4f1-4552-96c9-cf8e8837238a\",\r\n      \"deletionTimestamp\": null,\r\n      \"description\": null,\r\n      \"dirSyncEnabled\": null,\r\n      \"displayName\": \"adgroup9081\",\r\n      \"lastDirSyncTime\": null,\r\n      \"mail\": null,\r\n      \"mailNickname\": \"adgroupmail5713\",\r\n      \"mailEnabled\": false,\r\n      \"onPremisesSecurityIdentifier\": null,\r\n      \"provisioningErrors\": [],\r\n      \"proxyAddresses\": [],\r\n      \"securityEnabled\": true\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "P5XDh+40oRiEYElBk5y9Ll9ImEe7c98o5sdOCruXVcM="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "Mi63E4OG2jInZ6xIg5tHL6CBxAvVDSNwu26SyPRnCNCt2B1JwFr6cg2DkxbBdMONVrMpghhdZBMOyJTxCq0TB9rV2RFOTgBi2EShZKIIIfazu5lVdODUmh5grwWnNcCE5toqK8MNAoBy7M-DmxKy8Q.u0kfL3bx13E2-JEpIlKdtiD2uzvKZki8whwKvwcyLuA"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "728487"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/6ed96ff1-b4f1-4552-96c9-cf8e8837238a/members?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "UDWMhJ2wsihr7cwNrF7BPZPdBBmeKZMJhClpqBVAWfA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "oeAt7jZ_qGqtldnen7EpTGzzKUsUEaO_cFc9CcQieF0EFkPG7RkfVSBgE-PLaypM_78-0CRAQE5fQxDujUgTvWmSOaU7Wau7Ldq564i4b4j4VcsLm61pOphM6Myk6GktpkW6hYCLKOWmOe1XXcyGDQ._ZlrP9OEwnQGwt_p_9TPbpEuF-jibgcQweaBauFvg6o"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "552385"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/6ed96ff1-b4f1-4552-96c9-cf8e8837238a?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "UDWMhJ2wsihr7cwNrF7BPZPdBBmeKZMJhClpqBVAWfA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "4fFv-6laV8qekW0256UeeoxK8W9z-OY6IuBcpmyiIVXqkgim95tseU1v6NueJX97I-0LXYXKGSe0mkApYRRCPDqPshQfEY28x7Sr_i0dJZjU9UAtPOi5pYn9VhOf-m8c8XfSuNpkOSQ4JrQxHuMqYA.kuuvWy5qfvyNQfFfg2sk0G_BuDnz3QaqSBBpaFlrBdo"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1996090"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdGroup": [
      "adgroup9081",
      "adgroupmail5713"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}