{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication5444\",\r\n  \"homepage\": \"http://adApplication5444/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication5444/home\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"http://adApplication5444/home\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"81c9a6e0-dc37-4be2-966e-1742fe62ae29\",\r\n  \"deletionTimestamp\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"c9b65f0c-4177-44fc-81a9-edf359751237\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication5444\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://adApplication5444/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication5444/home\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication5444 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication5444\",\r\n      \"id\": \"36d9c54f-dac5-42fe-93e0-987626a2bbd5\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication5444 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication5444\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [\r\n    \"http://adApplication5444/home\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "JI7Ca0Wtacsn3e2Y1FRjFO8qh6f3DNYttzXsIANsgIA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "ght1l9o6NEQPb-evogZdnEtoY4jWZ_rntagtQvK-wrxC2Z6qKm3xcColf2qYswMy9qYr69ZW1NdpSx25Th7aftTtk49-v3d4hbh3YsrYVmrMWVjA0QXysonun84sHqWqgeCcaeR6Hky5lzp-QnFjcw.gl0g8QsJjvGYaTVRlgeUdgnIT64-zRrmOBXjUKHvu4I"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "5732206"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/81c9a6e0-dc37-4be2-966e-1742fe62ae29/Microsoft.DirectoryServices.Application"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"c9b65f0c-4177-44fc-81a9-edf359751237\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"298f8005-dd0f-424e-a36f-b31f4a74d34c\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"adApplication5444\",\r\n  \"appId\": \"c9b65f0c-4177-44fc-81a9-edf359751237\",\r\n  \"appOwnerTenantId\": \"1273adef-00a3-4086-a51a-dbcce1857d36\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"adApplication5444\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://adApplication5444/home\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication5444 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication5444\",\r\n      \"id\": \"36d9c54f-dac5-42fe-93e0-987626a2bbd5\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication5444 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication5444\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [],\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"rbacCliTestDirectory\",\r\n  \"replyUrls\": [\r\n    \"http://adApplication5444/home\"\r\n  ],\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"c9b65f0c-4177-44fc-81a9-edf359751237\",\r\n    \"http://adApplication5444/home\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"tags\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "zgpSVXR+40hzOIhX19CmbvOQ8x7ZHq7eSqDtyxBfuBY="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "JmxEPIYWtsHyxwY7GytUDptKiieZKgOw5xQX-pKsCBMVZuZqMvADON4kVg021ZyyTarchnSSqu0BMpWa-CyVbtEb29Le2UkCC3zueYeUXpyJSyrByh9GgDG-YhDCk9ak7Mre03ye6QJATqDRSodO6g.LpQIGl6jvMhzTbZuUsk3e8A_vYLqv_2VcdQn8b067L0"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "3082815"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/298f8005-dd0f-424e-a36f-b31f4a74d34c/Microsoft.DirectoryServices.ServicePrincipal"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/298f8005-dd0f-424e-a36f-b31f4a74d34c?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\[...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/81c9a6e0-dc37-4be2-966e-1742fe62ae29?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "JI7Ca0Wtacsn3e2Y1FRjFO8qh6f3DNYttzXsIANsgIA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "nolkkXao9VQG9-Wh240PbfgadAecKXIO1k0FFy5SuObTVA4SQiAj6XYVP8GgmJmEnSxmdrnciJwAyxPl2rdxH6H8PEYe5XDaMOppfPY_36Bhd7yBRQHs_tdQpR4WlYR70TEvzKCH5f2UfDOMY0X0iA.gORfKZOfCXpeMrdAy1X-DtFipvKS6AMhfLAp0RDaFts"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2252207"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdApp": [
      "adApplication5444"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}