{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?$filter=startswith(displayName,'BadSearchString')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "HU7qlXRtX8KLODQBO5CdOeWfpuntgqWle5baRvCgDQc="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "ddu6fiLdOAsX8NsPDDcnXOph4FwSVGn-kk_0TJievoHJhbVHrbbzkH8r3QuqWcqDwznQDe0L_X5ok8GP9ZJQBb-p-WVEUpSE9fnTW-gTBXS-P-DStWM0w73032lXndepaA3BjJB7vu1AW4XybV6Tcw.niTIA2_ZR_8c7EkSXtp7vmxW1ztTs1qX9iRbvvGoilM"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "931758"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}