{
  "Entries": [
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals/baadc0de-baad-c0de-baad-c0debaadc0de?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource 'baadc0de-baad-c0de-baad-c0debaadc0de' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "vPettSiUstOmmenKCofUY/RtXhXy1JLj54Gv/HPGCX8="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "3D6Otyr0X0MSVkoxJ1fwUiKgX2GZHj-Fe2G-5Jv-mCMBAAuHJNZzAHKABAPMcy3sYdPW6mRBnl86Nb_2-h0tHyv6-q6jbYC523o12HYsimw4FHXh37YMQqNuEl9hcTNS.RagTS7Pq1dCVmYPJlLMwFrsBkVXoCtKZ14D3v4Lb4mM"
        ],
        "Duration": [
          "2056247"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0b1f6471-1bf0-4dda-aec3-cb9272f09590",
    "TenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
    "Domain": "AzureSDKTeam.onmicrosoft.com"
  }
}