{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?$filter=startswith(displayName,'badsearchstring')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "yS9JUeUG1UMOWN92T6VIX9FKx75g5RGtcP1ZlTjzoDE="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "tLGaQp0TLGCqgEVXlFEZC3MRIDW15OPxGUtKPZkUK-pZzwTysqJBY3222WGrBmn8JWmHVMNi8U0-YiDz-9Qc2tGbClWnsylUki52MyETaOtsUpzplyW5v-uMe9l4o_1mqh1dA7G-ctXsLM8ETKOX5Q.53HtWzxewY75-fEfqQ2Lo7ZY0D8xa4u_NYID8N0Wf8Q"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "719415"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}