{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"aduser5836\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"adpass29350#$\",\r\n    \"forceChangePasswordNextLogin\": false\r\n  },\r\n  \"userPrincipalName\": \"aduser5836@rbacclitest.onmicrosoft.com\",\r\n  \"mailNickname\": \"aduser5836test\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n  \"objectType\": \"User\",\r\n  \"objectId\": \"8d220edd-e1a8-4d4f-8d24-2e488e1cd6fd\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"assignedLicenses\": [],\r\n  \"assignedPlans\": [],\r\n  \"city\": null,\r\n  \"companyName\": null,\r\n  \"country\": null,\r\n  \"creationType\": null,\r\n  \"department\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"aduser5836\",\r\n  \"employeeId\": null,\r\n  \"facsimileTelephoneNumber\": null,\r\n  \"givenName\": null,\r\n  \"immutableId\": null,\r\n  \"isCompromised\": null,\r\n  \"jobTitle\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"aduser5836test\",\r\n  \"mobile\": null,\r\n  \"onPremisesDistinguishedName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"otherMails\": [],\r\n  \"passwordPolicies\": null,\r\n  \"passwordProfile\": null,\r\n  \"physicalDeliveryOfficeName\": null,\r\n  \"postalCode\": null,\r\n  \"preferredLanguage\": null,\r\n  \"provisionedPlans\": [],\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"refreshTokensValidFromDateTime\": \"2017-09-19T01:32:31.0656353Z\",\r\n  \"showInAddressList\": null,\r\n  \"signInNames\": [],\r\n  \"sipProxyAddress\": null,\r\n  \"state\": null,\r\n  \"streetAddress\": null,\r\n  \"surname\": null,\r\n  \"telephoneNumber\": null,\r\n  \"usageLocation\": null,\r\n  \"userIdentities\": [],\r\n  \"userPrincipalName\": \"aduser5836@rbacclitest.onmicrosoft.com\",\r\n  \"userType\": \"Member\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "7akEoJBB3jXdCcddmuqIriGupZolWpVIrAvUTJndNgo="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "AqPllWSeLSxBcjVl7wOmba_rq5_OgYB0T9RqIkF19bGCSAM8K7c66dk_kTHUPalKw-woODlSUEC61mCwvKh9u2_4ebq3lHPP7-kL89_vkH23LJoWf9UVaAnXCsY6hnetteTo5RO0LvVw48FZvTib2CSTwXQ7ryLly5v8xTG59a3ZjXJ4U_Pp3foNmjcG19GMPfT9cnmANR-HFoB-QM3wNA.Rn3dmp-FG5AfkNfVmzekms7mdmP1z1AuowL4Y9l8IW4"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "8686283"
        ],
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/8d220edd-e1a8-4d4f-8d24-2e488e1cd6fd/Microsoft.DirectoryServices.User"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users/8d220edd-e1a8-4d4f-8d24-2e488e1cd6fd?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n  \"objectType\": \"User\",\r\n  \"[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users/8d220edd-e1a8-4d4f-8d24-2e488e1cd6fd?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "q4xdW5Eam+nA8Gmr8wXBfFiMX1F+vK+gBordZAyoY70="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "h01vQO2FOFQGtDvp3AORQyPWQ3WKubVlT9GSMgOqVw2qWUtQCmUCxkL9pJ795FtifrlGlF9LPgE5YvMf9GXDbOZ1FV2lbwUTYeOUtBv_Ure7eUCF_8exmJyNeqtobCC6fiV-b3zueW16LjkwYDl29H9_XBTULupUKyU5Vh8hTORVgRBvBYUO61Ashr8jEz_MkESIoMKSCYmcsdefYG_w_w.g5PMPdZh1PqQC5W8EtdL1v0ME3C-FPVwEkDoJQb9E3o"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "11518521"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdUser": [
      "aduser5836",
      "adpass2935"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}