{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"System.Security.SecureString\",\r\n  \"homepage\": \"http://System.Security.SecureString\",\r\n  \"identifierUris\": [\r\n    \"http://System.Security.SecureString\"\r\n  ],\r\n  \"passwordCredentials\": [\r\n    {\r\n      \"startDate\": \"2018-12-12T23:08:59.5215772Z\",\r\n      \"endDate\": \"2019-12-12T23:08:59.5215772Z\",\r\n      \"keyId\": \"ebb95f0c-1405-49e4-adfd-f1f9c68a230a\",\r\n      \"value\": \"test\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/f4ab3e63-9575-47e7-abf9-f3f4f8e2b7be/Microsoft.DirectoryServices.Application"
        ],
        "ocp-aad-diagnostics-server-name": [
          "P277HeLOcMoYADlOIgX/5nDH/EQ2eMVFV4LkO8IWIBk="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "GZwI9pEAoH26HPmNtlF7Wl9MjnUq2EDd2HpZWfLusjoEt3VT4RZ1iZrTXN-Qf-PEAOZ2ejvK004kQ--ebmqUE_e3Y_dqGnMaxYhXcmAKHHWoM8zG_xXOy9UOiUqWjx3vArqk7vQwueLmlhuMeC3X1A.X0lPzwIEg_3SUK4Uccraz9ZWUX331tqrGGTIbrTf9Mw"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2586987"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"f4ab3e63-9575-47e7-abf9-f3f4f8e2b7be\",\r\n  \"deletionTimestamp\": null,\r\n  \"acceptMappedClaims\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"6614531f-9909-4bd4-9ca7-cc7771d6b0a2\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"System.Security.SecureString\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://System.Security.SecureString\",\r\n  \"identifierUris\": [\r\n    \"http://System.Security.SecureString\"\r\n  ],\r\n  \"informationalUrls\": {\r\n    \"termsOfService\": null,\r\n    \"support\": null,\r\n    \"privacy\": null,\r\n    \"marketing\": null\r\n  },\r\n  \"isDeviceOnlyAuthSupported\": null,\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"logo@odata.mediaContentType\": \"application/json;odata=minimalmetadata; charset=utf-8\",\r\n  \"logoUrl\": null,\r\n  \"oauth2AllowIdTokenImplicitFlow\": true,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access System.Security.SecureString on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access System.Security.SecureString\",\r\n      \"id\": \"94944fbe-be10-4624-b3e9-44405c173b4e\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access System.Security.SecureString on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access System.Security.SecureString\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"orgRestrictions\": [],\r\n  \"parentalControlSettings\": {\r\n    \"countriesBlockedForMinors\": [],\r\n    \"legalAgeGroupRule\": \"Allow\"\r\n  },\r\n  \"passwordCredentials\": [\r\n    {\r\n      \"customKeyIdentifier\": null,\r\n      \"endDate\": \"2019-12-12T23:08:59.5215772Z\",\r\n      \"keyId\": \"ebb95f0c-1405-49e4-adfd-f1f9c68a230a\",\r\n      \"startDate\": \"2018-12-12T23:08:59.5215772Z\",\r\n      \"value\": null\r\n    }\r\n  ],\r\n  \"publicClient\": null,\r\n  \"publisherDomain\": \"rbacCliTest.onmicrosoft.com\",\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"signInAudience\": \"AzureADMyOrg\",\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"6614531f-9909-4bd4-9ca7-cc7771d6b0a2\",\r\n  \"accountEnabled\": true,\r\n  \"passwordCredentials\": [\r\n    {\r\n      \"startDate\": \"2018-12-12T23:08:59.5215772Z\",\r\n      \"endDate\": \"2019-12-12T23:08:59.5215772Z\",\r\n      \"keyId\": \"ebb95f0c-1405-49e4-adfd-f1f9c68a230a\",\r\n      \"value\": \"test\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/3cd2f981-96c0-4cc9-b2ec-7ae558d5ba07?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "zZ1f4XOAaTeupg8OmIBOPbaDV65tJpuytfDxxeFsj0o="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "R4UD0UKKfo7uX5EhV2EHWIhLLlq8lbIvK0PHvBMPH2hNMBrrPnx_ORKEjXiP5xJd3P7NZoW619DpLxjzI5DRMvNMJzWsnuFmGHygXxln_-e-efKSJ7Il2o0IVLi_L80ulfvkmdUY3JSkncJG1GhQag.Ja9CPLGqfAI3iMlLeKVb4DIyPx8zWVj70NpAIYenmdQ"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "413582"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"3cd2f981-96c0-4cc9-b2ec-7ae558d5ba07\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"System.Security.SecureString\",\r\n  \"appId\": \"6614531f-9909-4bd4-9ca7-cc7771d6b0a2\",\r\n  \"appOwnerTenantId\": \"1273adef-00a3-4086-a51a-dbcce1857d36\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"System.Security.SecureString\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://System.Security.SecureString\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access System.Security.SecureString on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access System.Security.SecureString\",\r\n      \"id\": \"94944fbe-be10-4624-b3e9-44405c173b4e\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access System.Security.SecureString on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access System.Security.SecureString\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [\r\n    {\r\n      \"customKeyIdentifier\": null,\r\n      \"endDate\": \"2019-12-12T23:08:59.5215772Z\",\r\n      \"keyId\": \"ebb95f0c-1405-49e4-adfd-f1f9c68a230a\",\r\n      \"startDate\": \"2018-12-12T23:08:59.5215772Z\",\r\n      \"value\": null\r\n    }\r\n  ],\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"rbacCliTestDirectory\",\r\n  \"replyUrls\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"http://System.Security.SecureString\",\r\n    \"6614531f-9909-4bd4-9ca7-cc7771d6b0a2\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"signInAudience\": \"AzureADMyOrg\",\r\n  \"tags\": [],\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/3cd2f981-96c0-4cc9-b2ec-7ae558d5ba07/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "s1AYRiKTN8Zyk5kxIB0PtqEoINriycEcNdfPJWLTOYA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "kRd98HgMbK3u391JRdY6RzCL_KxWzjkQ2kKCkiKEmMKKZqIyDWgfcCetWXXBMxF691YLfuSaJl_7EIFZvNvNSgHi7s5e7Pca67llcb1E4KpN6-b4ztZNS5v398uOFjmmIeSaP5cz5wraYjtMdm3R6g.KrOWRSJekBd2IdAzvJKox_mYs5LYOij6ui1jqwehFqE"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1188430"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/3cd2f981-96c0-4cc9-b2ec-7ae558d5ba07/passwordCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "zZ1f4XOAaTeupg8OmIBOPbaDV65tJpuytfDxxeFsj0o="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
     [...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/3cd2f981-96c0-4cc9-b2ec-7ae558d5ba07/keyCredentials?api-version=1.6",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"value\": [\r\n    {\r\n      \"startDate\": \"2018-12-12T23:09:01.6536848Z\",\r\n      \"endDate\": \"2018-12-13T23:09:01.6536848Z\",\r\n      \"value\": \"MIIC1zCCAb+gAwIBAgIJAItLWfRAC6+MMA0GCSqGSIb3DQEBCwUAMBQxEjAQBgNVBAMTCWxvY2FsaG9zdDAeFw0xODEyMTIyMzA5MDFaFw0xOTEyMTIyMzA5MDFaMBQxEjAQBgNVBAMTCWxvY2FsaG9zdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALXxw36pQTpp51xf6c1HN9D4Z/h4GRRvuVY2cps6inM8ccTKNiLnfnAFXZCi2MpiddCOPrlJOPvxSABcQZiHHzR3MpyVCQ6yvVtW4oIuoQ2T5xz2elOky4VJNYADdVE5uRjwWM26ANqaQxTyFiT8UV4GWPXuHyS1SNDi1iIe0K9dsDRGEDzhDeHyq61JWIw1OH5myw9vk+B/aw73ieQRdMxReQdBwkjq4wmR3o4mCntww6QjfWO1AddH5Jp0MhkkrTEr4CCAg0d/MoKNz4+zYVoBG3ks2xRC+W7wWOiKPAi4U1EW2wtuesuXulmsPly6kaHDMyJ2s53oin2BfHlhG5ECAwEAAaMsMCowCQYDVR0TBAIwADAdBgNVHQ4EFgQUHvzQdKswUKnDKc66mKZXqm4WhhMwDQYJKoZIhvcNAQELBQADggEBAJbtLV16ogh0Wx/8DfeJ/3JsIg4RWd5TL1/Z4FEWlPYiVlkN3tolEEJVxm3tgdip8/psvZ4PRmXhuifFDxOh4qlPaVzaeA2B/8X4PPt5RyphGjGKbrFf06neKPz+0Az1P6Dd0PcHrVzGJQqQMKOZjPeag9vuMI746a05FjR9Y8YhNom0xQ5DOY1PuvAIw0l4KJiXlSSOKLtMvmc4wtMVkkk2yVNlSoxqryR3ijpTqdbX2CD/kXjZKuv+Gp8oFEwkTu39gTZ+IIOLckWCloitD6kUQCyhYEKzjFLIxxZh9RmyRZwPKc6s6ceo2MXDLOPgLbtEG5lFgOeP8JjHJBpZH+U=\",\r\n      \"keyId\": \"7b26572d-9797-4a14-9476-b330c633dffd\",\r\n      \"usage\": \"Verify\",\r\n      \"type\": \"AsymmetricX509Cert\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "s1AYRiKTN8Zyk5kxIB0PtqEoINriycEcNdfPJWLTOYA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "mrNry0sGlXtYM0i_QgDizQcBj7tEDVho5w70KKoBPhhcWFYLo8503ZJm6qWSr7L_-NDjBpbfXbQQosgQPVwr2Vlv7XwyaEtaCegLf-5NLNoa2PK0xGt8o6tEZNt_6-QV4XyyTiaEA3ELLKFF1ixkgg.JkSgW1jBFaquyP91PEjzU6qMWf0l1-wYa4GxOxxcIng"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1048624"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?$filter=servicePrincipalNames/any(c:%20c%20eq%20'6614531f-9909-4bd4-9ca7-cc7771d6b0a2')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "s1AYRiKTN8Zyk5kxIB0PtqEoINriycEcNdfPJWLTOYA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
       [...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?$filter=appId%20eq%20'6614531f-9909-4bd4-9ca7-cc7771d6b0a2'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "P277HeLOcMoYADlOIgX/5nDH/EQ2eMVFV4LkO8IWIBk="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
       [...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/f4ab3e63-9575-47e7-abf9-f3f4f8e2b7be?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "7zDIRrVJqjSZfhHAIvOE5P1Iegs1wlixjPO7KsOVy0Y="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "m6XuADIwMKPrl4YDzJWbVCrNhuEyphkZ60CFcZaYgztIPitIgAFtG1Of9ZQl-QfIQp969YoB1LrAR0jTHbTvMUD3KhEpK-z2hnNvw9xEfxne4irFdjsZDGKgBjzFJJT2bNeuNvVgtAQ9WCvGLTdISw.vh-nXUMQj4nsoPFHkzRMVri68rwWkgp2jsDs8JHUYWI"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1757903"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}