{
    "Entries": [
        {
            "RequestUri": "/%2Fsubscriptions%2Fa93fb07c-6c93-40be-bf3b-4f0deba10f4b%2FresourceGroups%2FDefault-Web-EastUS%2Fproviders%2Fmicrosoft.web%2Fsites%2Fgaryyang1/usages?api-version=2014-04-01&$filter=startTime%20eq%202015-04-07T15%3A31%3A28.4590754-07%3A00%20and%20endTime%20eq%202015-04-07T16%3A31%3A28.4590754-07%3A00",
            "RequestMethod": "GET",
            "RequestBody": "",
            "RequestHeaders": {
                "x-ms-version": [ "2014-04-01" ]
            },
            "ResponseBody": "{\"id\":null,\"name\":\"garyyang1\",\"type\":\"Microsoft.Web/sites\",\"kind\":null,\"location\":\"East US\",\"tags\":null,\"plan\":null,\"properties\":[{\"displayName\":\"CPU Time\",\"name\":\"CpuTime\",\"resourceName\":\"CpuTime\",\"unit\":\"Milliseconds\",\"currentValue\":0,\"limit\":-1,\"nextResetTime\":\"2015-04-08T00:00:00\",\"computeMode\":1,\"siteMode\":null},{\"displayName\":\"Data In\",\"name\":\"BytesReceived\",\"resourceName\":\"BytesReceived\",\"unit\":\"Bytes\",\"currentValue\":0,\"limit\":-1,\"nextResetTime\":\"2015-04-08T00:00:00\",\"computeMode\":1,\"siteMode\":null},{\"displayName\":\"Data Out\",\"name\":\"BytesSent\",\"resourceName\":\"BytesSent\",\"unit\":\"Bytes\",\"currentValue\":0,\"limit\":-1,\"nextResetTime\":\"2015-04-08T00:00:00\",\"computeMode\":1,\"siteMode\":null},{\"displayName\":\"Local bytes read\",\"name\":\"LocalBytes[...]
        {
            "RequestUri": "/%2Fsubscriptions%2Fa93fb07c-6c93-40be-bf3b-4f0deba10f4b%2FresourceGroups%2FDefault-Web-EastUS%2Fproviders%2Fmicrosoft.web%2Fsites%2Fgaryyang1/usages?api-version=2014-04-01&$filter=",
            "RequestMethod": "GET",
            "RequestBody": "",
            "RequestHeaders": {
                "x-ms-version": [ "2014-04-01" ]
            },
            "ResponseBody": "{\"id\":null,\"name\":\"garyyang1\",\"type\":\"Microsoft.Web/sites\",\"kind\":null,\"lo[...]
