{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.RecoveryServices?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourcegroups/PSTestRGb4083fad?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "2eb24a74-a65f-4523-8c20-2cc3c1bdec25"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.3132.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17134",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/4.1.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.RecoveryServices\",\r\n  \"namespace\": \"Microsoft.RecoveryServices\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"262044b1-e2ce-469f-a196-69ab7ada62d3\",\r\n    \"roleDefinitionId\": \"21CEC436-F7D0-4ADE-8AD8-FEC5668484CC\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"vaults\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"Brazil South\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2018-01-10\",\r\n        \"2017-07-01-preview\",\r\n        \"2017-07-01\",\r\n        \"2016-12-01\",\r\n        \"2016-08-10\",\r\n        \"2016-06-01\",\r\n        \"2016-05-01\",\r\n        \"2015-12-15\",\r\n        \"2015-12-10\",\r\n        \"2015-11-10\",\r\n        \"2015-08-15\",\r\n        \"2015-08-10\",\r\n        \"2015-06-10\",\r\n        \"2015-03-15\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locations\": [\r\n        \"Southeast Asia\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2016-08-10\",\r\n        \"2016-06-01\",\r\n        \"2015-12-15\",\r\n        \"2015-12-10\",\r\n        \"2015-11-10\",\r\n        \"2015-08-15\",\r\n        \"2015-08-10\",\r\n        \"2015-06-10\",\r\n        \"2015-03-15\"\r\n      ]\r\n    },\r\n    {\r\n[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/PSTestRG76dd5da1?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'PSTestRG76dd5da1' could not be found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
=======
        "Date": [
          "Mon, 21 Dec 2020 13:21:47 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
<<<<<<< HEAD
        "Pragma": [
          "no-cache"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "x-ms-request-id": [
          "e8a2de8b-7eb7-49fd-aaee-1bf479443f9b"
        ],
        "x-ms-correlation-request-id": [
          "e8a2de8b-7eb7-49fd-aaee-1bf479443f9b"
        ],
        "x-ms-routing-request-id": [
          "NORTHCENTRALUS:20180821T194406Z:e8a2de8b-7eb7-49fd-aaee-1bf479443f9b"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Tue, 21 Aug 2018 19:44:06 GMT"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/PSTestRG76dd5da1?api-version=2016-09-01",
=======
        "Content-Length": [
          "108"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'PSTestRGb4083fad' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourcegroups/PSTestRGb4083fad?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "21a71a3a-7438-4018-9a9f-d8cd46a10bd0"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.3132.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17134",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/4.1.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG76dd5da1\",\r\n  \"name\": \"PSTestRG76dd5da1\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "e8deab1a-c268-4cd8-9dad-82c4fe1dc68c"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.29"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
    [...]
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG76dd5da1/providers/Microsoft.Compute/virtualMachines/PSTestVM76dd50?api-version=2018-04-01",
=======
        "Date": [
          "Mon, 21 Dec 2020 13:21:49 GMT"
        ],
        "Content-Length": [
          "192"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb4083fad\",\r\n  \"name\": \"PSTestRGb4083fad\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb4083fad/providers/Microsoft.Compute/virtualMachines/PSTestVMb40830?api-version=2020-06-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.3132.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17134",
          "Microsoft.Azure.Management.Compute.ComputeManagementClient/21.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"vmId\": \"69dcf127-c130-4fac-a212-c7bc1b03f7d1\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D1\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2016-Datacenter\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"PSTestVM76dd50_OsDisk_1_a5297a18e8474c78bb21fb4620d4f766\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\",\r\n          \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG76dd5da1/providers/Microsoft.Compute/disks/PSTestVM76dd50_OsDisk_1_a5297a18e8474c78bb21fb4620d4f766\"\r\n        },\r\n        \"diskSizeGB\": 127\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"PSTestVM76dd50\",\r\n      \"adminUsername\": \"demouser\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": false\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG76dd5da1/providers/Microsoft.Network/networkInterfaces/PSTestNIC76dd50\"\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": true,\r\n        \"storageUri\": \"https://tespstestpste082112440.blob.core.windows.net/\"\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG76dd5da1/providers/Microsoft.Compute/virtualMachines/PSTestVM76dd50\",\r\n  \"name\": \"PSTestVM76dd50\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.Compute.ComputeManagementClient/39.0.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-resource": [
<<<<<<< HEAD
          "Microsoft.Compute/LowCostGet3Min;3995,Microsoft.Compute/LowCostGet30Min;31993"
=======
          "Microsoft.Compute/LowCostGet3Min;3996,Microsoft.Compute/LowCostGet30Min;31969"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "x-ms-served-by": [
          "92ee2ba5-d1cb-4536-af4e-e306b67c70d2_131777214369055148"
        ],
        "x-ms-request-id": [
          "77c59829-43f8-4508-ba1e-d330e8f80957"
        ],
        "Cache-Control": [
          "no-cache"
=======
        "x-ms-request-id": [
          "2cabdc9e-b895-45eb-8fcc-e0f227d2b784"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11994"
        ],
        "x-ms-correlation-request-id": [
          "fcda1772-125d-4de3-85b4-60944b8ec800"
        ],
        "x-ms-routing-request-id": [
          "NORTHCENTRALUS:20180821T194900Z:fcda1772-125d-4de3-85b4-60944b8ec800"
=======
          "11995"
        ],
        "x-ms-correlation-request-id": [
          "bd47ef78-7aca-4ac3-bed7-012648d52155"
        ],
        "x-ms-routing-request-id": [
          "CENTRALINDIA:20201221T132405Z:bd47ef78-7aca-4ac3-bed7-012648d52155"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 21 Aug 2018 19:48:59 GMT"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG76dd5da1/providers/Microsoft.Compute/virtualMachines/PSTestVM76dd50?api-version=2018-04-01",
=======
          "Mon, 21 Dec 2020 13:24:04 GMT"
        ],
        "Content-Length": [
          "2184"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"PSTestVMb40830\",\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb4083fad/providers/Microsoft.Compute/virtualMachines/PSTestVMb40830\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {\r\n    \"DeleteBy\": \"05-2020\",\r\n    \"AutoShutDown\": \"No\",\r\n    \"Purpose\": \"PSTest\",\r\n    \"MabUsed\": \"Yes\",\r\n    \"Owner\": \"sarath\"\r\n  },\r\n  \"properties\": {\r\n    \"vmId\": \"f9436c50-32f6-4c6f-93f0-96b5e55cef5b\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D1_v2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2016-Datacenter\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\": \"14393.4104.2012040817\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"PSTestVMb40830_OsDisk_1_153fdc6e5b42446bb5f4dabfd304cd37\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\",\r\n          \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb4083fad/providers/Microsoft.Compute/disks/PSTestVMb40830_OsDisk_1_153fdc6e5b42446bb5f4dabfd304cd37\"\r\n        },\r\n        \"diskSizeGB\": 127\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"PSTestVMb40830\",\r\n      \"adminUsername\": \"demouser\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": false,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"Manual\"\r\n        }\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb4083fad/providers/Microsoft.Network/networkInterfaces/PSTestNICb40830\"\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": true,\r\n        \"storageUri\": \"https://aasavigationestdiag.blob.core.windows.net/\"\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG76dd5da1/providers/Microsoft.Network/virtualNetworks/PSTestVNET76dd50?api-version=2018-04-01",
=======
          "Mon, 21 Dec 2020 13:26:38 GMT"
        ],
        "Content-Length": [
          "2747"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"PSTestVM[...]
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb4083fad/providers/Microsoft.Network/virtualNetworks/PSTestVNETb40830?api-version=2020-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.3132.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17134",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.1.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"PSTestVNET76dd50\",\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG76dd5da1/providers/Microsoft.Network/virtualNetworks/PSTestVNET76dd50\",\r\n  \"etag\": \"W/\\\"09667741-e3ee-4d9d-bc65-8bf4eecaa80b\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"a3973a6e-c049-446f-83a1-b2fd3137c6e7\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"PSTestSNC76dd50\",\r\n        \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG76dd5da1/providers/Microsoft.Network/virtualNetworks/PSTestVNET76dd50/subnets/PSTestSNC76dd50\",\r\n        \"etag\": \"W/\\\"09667741-e3ee-4d9d-bc65-8bf4eecaa80b\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"192.168.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": []\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.2.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
        "x-ms-request-id": [
          "288d9460-de15-4ee7-86a9-beb39df889bd"
        ],
        "x-ms-correlation-request-id": [
          "e09d871a-22fd-4802-91de-3f07b4fdcf1f"
=======
        "ETag": [
          "W/\"34f70712-d949-47ab-a23e-233e86499850\""
        ],
        "x-ms-request-id": [
          "193ccf29-051a-4400-9d17-0ee2a718c300"
        ],
        "x-ms-correlation-request-id": [
          "664703e6-5cb6-40d1-a190-94207479c6e7"
        ],
        "x-ms-arm-service-request-id": [
          "2717a841-6cd5-4219-aa43-61a4f07251be"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "ETag": [
          "W/\"09667741-e3ee-4d9d-bc65-8bf4eecaa80b\""
        ],
=======
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11996"
        ],
        "x-ms-routing-request-id": [
          "NORTHCENTRALUS:20180821T194431Z:e09d871a-22fd-4802-91de-3f07b4fdcf1f"
=======
          "11997"
        ],
        "x-ms-routing-request-id": [
          "CENTRALINDIA:20201221T132158Z:664703e6-5cb6-40d1-a190-94207479c6e7"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 21 Aug 2018 19:44:31 GMT"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG76dd5da1/providers/Microsoft.Network/virtualNetworks/PSTestVNET76dd50?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"192.168.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"resourceNavigationLinks\": []\r\n        },\r\n        \"name\": \"PSTestSNC76dd50\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"PSTestVNET76dd50\",\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb4083fad/providers/Microsoft.Network/virtualNetworks/PSTestVNETb40830?api-version=2020-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"192.168.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"PSTestSNCb40830\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"southeastasia\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
<<<<<<< HEAD
        "Expires": [
          "-1"
=======
        "Content-Length": [
          "699"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "Retry-After": [
          "3"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "5c6d48b9-d703-4803-b2a4-c49fcac2cae7"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/5c6d48b9-d703-4803-b2a4-c49fcac2cae7?api-version=2018-04-01"
        ],
        "x-ms-correlation-request-id": [
          "86799ba3-b1c6-43ad-b982-99ae94e59016"
=======
          "61c8d909-c685-48d2-9fe9-937ff9ccd48e"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.Network/locations/southeastasia/operations/61c8d909-c685-48d2-9fe9-937ff9ccd48e?api-version=2020-07-01"
        ],
        "x-ms-correlation-request-id": [
          "c3c1cb38-02db-4da0-a541-51fe60e2af18"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-arm-service-request-id": [
          "252aa740-f5d9-473e-904c-9f92df62f0d7"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
=======
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-routing-request-id": [
<<<<<<< HEAD
          "NORTHCENTRALUS:20180821T194411Z:86799ba3-b1c6-43ad-b982-99ae94e59016"
=======
          "CENTRALINDIA:20201221T132154Z:c3c1cb38-02db-4da0-a541-51fe60e2af18"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 21 Aug 2018 19:44:10 GMT"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus/operations/5c6d48b9-d703-4803-b2a4-c49fcac2cae7?api-version=2018-04-01",
=======
          "Mon, 21 Dec 2020 13:21:53 GMT"
        ],
        "Content-Length": [
          "1347"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"PSTestVN[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.Network/locations/southeastasia/operations/61c8d909-c685-48d2-9fe9-937ff9ccd48e?api-version=2020-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.3132.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17134",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.1.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.2.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<<[...]
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG76dd5da1/providers/Microsoft.Network/publicIPAddresses/pstestpublicdns76dd50?api-version=2018-04-01",
=======
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb4083fad/providers/Microsoft.Network/publicIPAddresses/pstestpublicdnsb40830?api-version=2020-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.3132.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17134",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.1.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pstestpublicdns76dd50\",\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG76dd5da1/providers/Microsoft.Network/publicIPAddresses/pstestpublicdns76dd50\",\r\n  \"etag\": \"W/\\\"aa9dd38c-bb01-428f-b8b6-44ef4c37450e\\\"\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"79dcf643-89f4-4c12-a13a-07f7246632dd\",\r\n    \"ipAddress\": \"40.112.178.177\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.2.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<[...]
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG76dd5da1/providers/Microsoft.Network/publicIPAddresses/pstestpublicdns76dd50?api-version=2018-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"ipTags\": [],\r\n    \"idleTimeoutInMinutes\": 4\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pstestpublicdns76dd50\",\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG76dd5da1/providers/Microsoft.Network/publicIPAddresses/pstestpublicdns76dd50\",\r\n  \"etag\": \"W/\\\"4d7ef7e3-2b8d-420b-ab37-3bf09ac7c49e\\\"\",\r\n  \"location\": \"westus\",\r\n  \"p[...]
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PSTestRG76dd5da1/providers/Microsoft.Network/networkSecurityGroups/PSTestNSG76dd50?api-version=2018-04-01",
=======
          "Mon, 21 Dec 2020 13:22:00 GMT"
        ],
        "Content-Length": [
          "29"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/PSTestRGb4083fad/providers/Microsoft.Network/networkSecurityGroups/PSTestNSGb40830?api-version=2020-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
[...]
