{
  "Entries": [
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault?api-version=2026-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"costManagementSettings\": {\r\n      \"granularityLevel\": \"VaultLevel\"\r\n    },\r\n    \"securitySettings\": {\r\n      \"softDeleteSettings\": {\r\n        \"softDeleteState\": \"AlwaysON\",\r\n        \"softDeleteRetentionPeriodInDays\": 14,\r\n        \"enhancedSecurityState\": \"AlwaysON\"\r\n      }\r\n    }\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"tags\": {\r\n    \"MABUsed\": \"Yes\",\r\n    \"Owner\": \"singhprab\",\r\n    \"Purpose\": \"Testing\",\r\n    \"DeleteBy\": \"12-2099\"\r\n  },\r\n  \"location\": \"eastus2euap\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/operationStatus/MjA0Nzs0NDc3YmU5ZC03NGU4LTRjYTQtOWU2Yi1mNmYxMTljMTdjMWY=?api-version=2026-07-01&t=639256714942443477&c=MIIHwzCCBqugAwIBAgIQZqyhWXktICsoXIHH53eSrDANBgkqhkiG9w0BAQsFADA1MTMwMQYDVQQDEypDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBDVVMgQ0EgMDEwHhcNMjYwODE0MDIxOTI2WhcNMjcwMjA5MDgxOTI2Wj[...]
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/operationStatus/MjA0Nzs0NDc3YmU5ZC03NGU4LTRjYTQtOWU2Yi1mNmYxMTljMTdjMWY=?api-version=2026-07-01&t=639256714942443477&c=MIIHwzCCBqugAwIBAgIQZqyhWXktICsoXIHH53eSrDANBgkqhkiG9w0BAQsFADA1MTMwMQYDVQQDEypDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBDVVMgQ0EgMDEwHhcNMjYwODE0MDIxOTI2WhcNMjcwMjA5MDgxOTI2WjBAMT4wPAYDVQQDE[...]
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"eastus2euap\",\r\n  \"name\": \"singhprab-csb-job-vault\",\r\n  \"etag\": \"W/\\\"datetime'2026-09-22T10%3A59%3A14.8023543Z'\\\"\",\r\n  \"tags\": {\r\n    \"MABUsed\": \"Yes\",\r\n    \"Owner\": \"singhprab\",\r\n    \"Purpose\": \"Testing\",\r\n    \"DeleteBy\": \"12-2099\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"privateEndpointStateForBackup\": \"None\",\r\n    \"privateEndpointStateForSiteRecovery\": \"None\",\r\n    \"costManagementSettings\": {\r\n      \"granularityLevel\": \"VaultLevel\"\r\n    },\r\n    \"backupStorageVersion\": \"Unassigned\",\r\n    \"securitySettings\": {\r\n      \"softDeleteSettings\": {\r\n        \"softDeleteRetentionPeriodInDays\": 14,\r\n        \"softDeleteState\": \"AlwaysON\",\r\n        \"enhancedSecurityState\": \"AlwaysON\"\r\n      },\r\n      \"multiUserAuthorization\": \"Disabled\",\r\n      \"sourceScanConfiguration\": {\r\n        \"state\": \"Disabled\"\r\n      }\r\n    },\r\n    \"redundancySettings\": {\r\n      \"standardTierStorageRedundancy\": \"GeoRedundant\",\r\n      \"crossRegionRestore\": \"Disabled\"\r\n    },\r\n    \"regionOfChoiceSettings\": {\r\n      \"status\": \"Disabled\"\r\n    },\r\n    \"secureScore\": \"Adequate\",\r\n    \"bcdrSecurityLevel\": \"Good\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"restoreSettings\": {\r\n      \"crossSubscriptionRestoreSettings\": {\r\n        \"crossSubscriptionRestoreState\": \"Enabled\"\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupPolicies/EnhancedPolicy?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupPolicies/EnhancedPolicy\",\r\n  \"name\": \"EnhancedPolicy\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupPolicies\",\r\n  \"properties\": {\r\n    \"backupManagementType\": \"AzureIaasVM\",\r\n    \"policyType\": \"V2\",\r\n    \"instantRPDetails\": {},\r\n    \"schedulePolicy\": {\r\n      \"schedulePolicyType\": \"SimpleSchedulePolicyV2\",\r\n      \"scheduleRunFrequency\": \"Hourly\",\r\n      \"hourlySchedule\": {\r\n        \"interval\": 4,\r\n        \"scheduleWindowStartTime\": \"2026-09-22T08:00:00Z\",\r\n        \"scheduleWindowDuration\": 12\r\n      }\r\n    },\r\n    \"retentionPolicy\": {\r\n      \"retentionPolicyType\": \"LongTermRetentionPolicy\",\r\n      \"dailySchedule\": {\r\n        \"retentionTimes\": [\r\n          \"2026-09-22T08:00:00Z\"\r\n        ],\r\n        \"retentionDuration\": {\r\n          \"count\": 30,\r\n          \"durationType\": \"Days\"\r\n        }\r\n      }\r\n    },\r\n    \"instantRpRetentionRangeInDays\": 2,\r\n    \"timeZone\": \"UTC\",\r\n    \"protectedItemsCount\": 0\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bsinghprab-rg-1c%3BtestCsbPS/protectedItems/vm%3Biaasvmcontainerv2%3Bsinghprab-rg-1c%3BtestCsbPS?api-version=2026-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"protectedItemType\": \"Microsoft.Compute/virtualMachines\",\r\n    \"sourceResourceId\": \"/subscriptions/80abcfe3-b410-42b2-983f-df23cba781dc/resourceGroups/singhprab-rg-1c/providers/Microsoft.Compute/virtualMachines/testCsbPS\",\r\n    \"policyId\": \"/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupPolicies/EnhancedPolicy\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;singhprab-rg-1c;testCsbPS/protectedItems/vm;iaasvmcontainerv2;singhprab-rg-1c;testCsbPS/operationResults/33a36434-4a34-479d-8d9c-cadc52f52911?api-version=2026-07-01&t=639256715592983590&c=MIIHwzCCBqugAwIBAgIQZqyhWXktICsoXI[...]
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupOperations/33a36434-4a34-479d-8d9c-cadc52f52911?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"33a36434-4a34-479d-8d9c-cadc52f52911\",\r\n  \"name\": \"33a36434-4a34-479d-8d9c-cadc52f52911\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2026-09-22T10:59:19.0557523Z\",\r\n  \"endTime\": \"0001-01-01T00:00:00\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupOperations/33a36434-4a34-479d-8d9c-cadc52f52911?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"33a36434-4a34-479d-8d9c-cadc52f52911\",\r\n  \"name\": \"33a36434-4a34-479d-8d9c-cadc52f52911\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2026-09-22T10:59:19.0557523Z\",\r\n  \"endTime\": \"2026-09-22T10:59:19.0557523Z\",\r\n  \"properties\": {\r\n    \"objectType\": \"OperationStatusJobExtendedInfo\",\r\n    \"jobId\": \"056b7eca-0022-4c3b-8f84-1b8018bcbd09\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupJobs/056b7eca-0022-4c3b-8f84-1b8018bcbd09?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupJobs/056b7eca-0022-4c3b-8f84-1b8018bcbd09\",\r\n  \"name\": \"056b7eca-0022-4c3b-8f84-1b8018bcbd09\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupJobs\",\r\n  \"properties\": {\r\n    \"jobType\": \"AzureIaaSVMJob\",\r\n    \"containerName\": \"iaasvmcontainerv2;singhprab-rg-1c;testCsbPS\",\r\n    \"duration\": \"PT1M10.6697205S\",\r\n    \"virtualMachineVersion\": \"Compute\",\r\n    \"extendedInfo\": {\r\n      \"tasksList\": [],\r\n      \"propertyBag\": {\r\n        \"VM Name\": \"testCsbPS\",\r\n        \"Policy Name\": \"EnhancedPolicy\"\r\n      }\r\n    },\r\n    \"entityFriendlyName\": \"testCsbPS\",\r\n    \"backupManagementType\": \"AzureIaasVM\",\r\n    \"operation\": \"ConfigureBackup\",\r\n    \"status\": \"Completed\",\r\n    \"startTime\": \"2026-09-22T10:59:19.0557523Z\",\r\n    \"endTime\": \"2026-09-22T11:00:29.7254728Z\",\r\n    \"activityId\": \"1106af5e-f0f8-49d6-b31a-984529ddf5b2\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupProtectedItems?api-version=2026-07-01&$filter=backupManagementType%20eq%20%27AzureIaasVM%27%20and%20itemType%20eq%20%27VM%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;singhprab-rg-1c;testCsbPS/protectedItems/VM;iaasvmcontainerv2;singhprab-rg-1c;testCsbPS\",\r\n      \"name\": \"VM;iaasvmcontainerv2;singhprab-rg-1c;testCsbPS\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"testCsbPS\",\r\n        \"virtualMachineId\": \"/subscriptions/80abcfe3-b410-42b2-983f-df23cba781dc/resourceGroups/singhprab-rg-1c/providers/Microsoft.Compute/virtualMachines/testCsbPS\",\r\n        \"protectionStatus\": \"Healthy\",\r\n        \"protectionState\": \"IRPending\",\r\n        \"healthStatus\": \"Passed\",\r\n        \"lastBackupStatus\": \"\",\r\n        \"lastBackupTime\": \"2001-01-01T00:00:00Z\",\r\n        \"protectedItemDataId\": \"1460151932286498\",\r\n        \"policyType\": \"V2\",\r\n        \"protectedItemType\": \"Microsoft.Compute/virtualMachines\",\r\n        \"backupManagementType\": \"AzureIaasVM\",\r\n        \"workloadType\": \"VM\",\r\n        \"containerName\": \"iaasvmcontainerv2;singhprab-rg-1c;testCsbPS\",\r\n        \"sourceResourceId\": \"/subscriptions/80abcfe3-b410-42b2-983f-df23cba781dc/resourceGroups/singhprab-rg-1c/providers/Microsoft.Compute/virtualMachines/testCsbPS\",\r\n        \"policyId\": \"/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupPolicies/EnhancedPolicy\",\r\n        \"policyName\": \"EnhancedPolicy\",\r\n        \"vaultId\": \"https://management.azure.com/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault\",\r\n        \"isArchiveEnabled\": false,\r\n        \"softDeleteRetentionPeriod\": 0,\r\n        \"sourceLocation\": \"eastus2euap\",\r\n        \"sourceSideScanInfo\": {\r\n          \"sourceSideScanStatus\": \"NotConfigured\",\r\n          \"sourceSideScanSummary\": \"Unknown\"\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bsinghprab-rg-1c%3BtestCsbPS/protectedItems/VM%3Biaasvmcontainerv2%3Bsinghprab-rg-1c%3BtestCsbPS/backup?api-version=2026-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"objectType\": \"IaasVMBackupRequest\",\r\n    \"recoveryPointExpiryTimeInUTC\": \"2026-10-22T11:00:36.6598515Z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;singhprab-rg-1c;testCsbPS/protectedItems/VM;iaasvmcontainerv2;singhprab-rg-1c;testCsbPS/operationResults/5b698f9e-d45b-45b2-9648[...]
[...]
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupJobs/5d44973e-0fc6-4247-9e8b-0118063b986d?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupJobs/5d44973e-0fc6-4247-9e8b-0118063b986d\",\r\n  \"name\": \"5d44973e-0fc6-4247-9e8b-0118063b986d\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupJobs\",\r\n  \"properties\": {\r\n    \"jobType\": \"AzureIaaSVMJob\",\r\n    \"actionsInfo\": [\r\n      \"Cancellable\"\r\n    ],\r\n    \"containerName\": \"iaasvmcontainerv2;singhprab-rg-1c;testCsbPS\",\r\n    \"duration\": \"PT2.4728304S\",\r\n    \"virtualMachineVersion\": \"Compute\",\r\n    \"extendedInfo\": {\r\n      \"tasksList\": [\r\n        {\r\n          \"taskId\": \"Take Snapshot\",\r\n          \"startTime\": \"2026-09-22T11:00:39.5256407Z\",\r\n          \"endTime\": \"0001-01-01T00:00:00\",\r\n          \"duration\": \"PT0.1899017S\",\r\n          \"status\": \"InProgress\",\r\n          \"taskType\": \"Normal\"\r\n        },\r\n        {\r\n          \"taskId\": \"Transfer data to vault\",\r\n          \"startTime\": \"0001-01-01T00:00:00\",\r\n          \"endTime\": \"0001-01-01T00:00:00\",\r\n          \"duration\": \"PT0S\",\r\n          \"status\": \"NotStarted\",\r\n          \"taskType\": \"Normal\"\r\n        },\r\n        {\r\n          \"taskId\": \"Validate Backup\",\r\n          \"startTime\": \"0001-01-01T00:00:00\",\r\n          \"endTime\": \"0001-01-01T00:00:00\",\r\n          \"duration\": \"PT0S\",\r\n          \"status\": \"NotStarted\",\r\n          \"taskType\": \"Normal\"\r\n        }\r\n      ],\r\n      \"propertyBag\": {\r\n        \"VM Name\": \"testCsbPS\",\r\n        \"Recovery Point Expiry Time in UTC\": \"10/22/2026 11:00:36 AM\",\r\n        \"VM Subscription ID\": \"80abcfe3-b410-42b2-983f-df23cba781dc\"\r\n      },\r\n      \"internalPropertyBag\": {\r\n        \"IsInstantRpJob\": \"True\"\r\n      }\r\n    },\r\n    \"entityFriendlyName\": \"testCsbPS\",\r\n    \"backupManagementType\": \"AzureIaasVM\",\r\n    \"operation\": \"Backup\",\r\n    \"status\": \"InProgress\",\r\n    \"startTime\": \"2026-09-22T11:00:37.0360023Z\",\r\n    \"activityId\": \"67713bb2-1cdc-419d-91e5-8b85f9982cf6\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bsinghprab-rg-1c%3BtestCsbPS/protectedItems/VM%3Biaasvmcontainerv2%3Bsinghprab-rg-1c%3BtestCsbPS/recoveryPoints?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;singhprab-rg-1c;testCsbPS/protectedItems/VM;iaasvmcontainerv2;singhprab-rg-1c;testCsbPS/recoveryPoints/107910335182890\",\r\n      \"name\": \"107910335182890\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints\",\r\n      \"properties\": {\r\n        \"objectType\": \"IaasVMRecoveryPoint\",\r\n        \"recoveryPointType\": \"FileSystemConsistent\",\r\n        \"recoveryPointTime\": \"2026-09-22T11:00:48.4170586Z\",\r\n        \"recoveryPointAdditionalInfo\": \"\",\r\n        \"sourceVMStorageType\": \"PremiumVMOnPartialPremiumStorage\",\r\n        \"isSourceVMEncrypted\": false,\r\n        \"isInstantIlrSessionActive\": false,\r\n        \"recoveryPointTierDetails\": [\r\n          {\r\n            \"type\": \"InstantRP\",\r\n            \"status\": \"Valid\"\r\n          },\r\n          {\r\n            \"type\": \"HardenedRP\",\r\n            \"status\": \"Valid\"\r\n          }\r\n        ],\r\n        \"isManagedVirtualMachine\": true,\r\n        \"virtualMachineSize\": \"Standard_DS1_v2\",\r\n        \"originalStorageAccountOption\": false,\r\n        \"osType\": \"Linux\",\r\n        \"recoveryPointMoveReadinessInfo\": {\r\n          \"ArchivedRP\": {\r\n            \"isReadyForMove\": false,\r\n            \"additionalInfo\": \"We're still determining if this Recovery Point can be moved.. Please check again after some time.\"\r\n          }\r\n        },\r\n        \"securityType\": \"None\",\r\n        \"recoveryPointProperties\": {\r\n          \"isSoftDeleted\": false\r\n        },\r\n        \"isPrivateAccessEnabledOnAnyDisk\": false,\r\n        \"createdWithPolicyType\": \"V2\",\r\n        \"threatStatus\": \"NotAvailable\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupResourceGuardProxies?api-version=2026-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttling-version": [
          "v2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bsinghprab-rg-1c%3BtestCsbPS/protectedItems/VM%3Biaasvmcontainerv2%3Bsinghprab-rg-1c%3BtestCsbPS?api-version=2026-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHead[...]
[...]
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/operationStatus/MTAyMzs2OTBlZTFkMi05Y2MxLTQ1NWEtOGM3Ni1hMzZjN2NkMjA1Nzg=?api-version=2026-07-01&t=639256733303385068&c=MIIHwzCCBqugAwIBAgIQZqyhWXktICsoXIHH53eSrDANBgkqhkiG9w0BAQsFADA1MTMwMQYDVQQDEypDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBDVVMgQ0EgMDEwHhcNMjYwODE0MDIxOTI2WhcNMjcwMjA5MDgxOTI2WjBAMT4wPAYDVQQDE[...]
    {
      "RequestUri": "/subscriptions/2c6832bf-90ef-457a-a663-9aeae88a7f80/resourceGroups/singhprab-csb-vault-rg-ea/providers/Microsoft.RecoveryServices/vaults/singhprab-csb-job-vault/operationResults/MTAyMzs2OTBlZTFkMi05Y2MxLTQ1NWEtOGM3Ni1hMzZjN2NkMjA1Nzg=?api-version=2026-07-01&t=639256733303385068&c=MIIHwzCCBqugAwIBAgIQZqyhWXktICsoXIHH53eSrDANBgkqhkiG9w0BAQsFADA1MTMwMQYDVQQDEypDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBDVVMgQ0EgMDEwHhcNMjYwODE0MDIxOTI2WhcNMjcwMjA5MDgxOTI2WjBAMT4wPAYDVQQD[...]
