{ 
  "Entries": [
    {
      "RequestUri": "/subscriptions/961b9df1-ea70-4a6c-bd33-49a84f66f10f/providers/Microsoft.Features/features?api-version=2014-08-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Batch/betaAccess\",\r\n      \"properties\": {\r\n        \"state\": \"NotRegistered\"\r\n      },\r\n      \"id\": \"/subscriptions/961b9df1-ea70-4a6c-bd33-49a84f66f10f/providers/Microsoft.Features/providers/Microsoft.Batch/features/betaAccess\",\r\n      \"type\": \"Microsoft.Features/providers/features\"\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Cache/betaAccess3\",\r\n      \"properties\": {\r\n        \"state\": \"NotRegistered\"\r\n      },\r\n      \"id\": \"/subscriptions/961b9df1-ea70-4a6c-bd33-49a84f66f10f/providers/Microsoft.Features/providers/Microsoft.Cache/features/betaAccess3\",\r\n      \"type\": \"Microsoft.Features/providers/features\"\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Compute/armApiPreviewAccess\",\r\n      \"prop[...]
[...]
    {
      "RequestUri": "/subscriptions/961b9df1-ea70-4a6c-bd33-49a84f66f10f/providers/Microsoft.Features/providers/Microsoft.Batch/features?api-version=2014-08-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Batch/betaAccess\",\r\n      \"properties\": {\r\n        \"state\": \"NotRegistered\"\r\n      },\r\n      \"id\": \"/subscriptions/961b9df1-ea70-4a6c-bd33-49a84f66f10f/providers/Microsoft.Features/providers/Microsoft.Batch/features/betaAccess\",\r\n      \"type\": \"Microsoft.Features/providers/features\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31997"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/961b9df1-ea70-4a6c-bd33-49a84f66f10f/providers/Microsoft.Features/providers/Microsoft.Cache/features/betaAccess3/register?api-version=2014-08-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"Microsoft.Cache/betaAccess3\",\r\n  \"properties\": {\r\n    \"state\": \"Registered\"\r\n  },\r\n  \"id\": \"/subscriptions/961b9df1-ea70-4a6c-bd33-49a84f66f10f/providers/Microsoft.Features/providers/Microsoft.Cache/features/betaAccess3\",\r\n  \"type\": \"Microsoft.Features/providers/features\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/961b9df1-ea70-4a6c-bd33-49a84f66f10f/providers/Microsoft.Features/providers/Microsoft.Cache/features?api-version=2014-08-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Cache/betaAccess2\",\r\n      \"properties\": {\r\n        \"state\": \"Registered\"\r\n      },\r\n      \"id\": \"/subscriptions/961b9df1-ea70-4a6c-bd33-49a84f66f10f/providers/Microsoft.Features/providers/Microsoft.Cache/features/betaAccess2\",\r\n      \"type\": \"Microsoft.Features/providers/features\"\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Cache/betaAccess3\",\r\n      \"properties\": {\r\n        \"state\": \"Registered\"\r\n      },\r\n      \"id\": \"/subscriptions/961b9df1-ea70-4a6c-bd33-49a84f66f10f/providers/Microsoft.Features/providers/Microsoft.Cache/features/betaAccess3\",\r\n      \"type\": \"Microsoft.Features/providers/features\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31995"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "961b9df1-ea70-4a6c-bd33-49a84f66f10f",
    "TenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "Domain": "microsoft.com"
  }
}