{
  "Get-AzMLWorkspaceComputeKey+[NoContext]+List+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/computes/cpu-cluster/listKeys?api-version=2022-05-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/computes/cpu-cluster/listKeys?api-version=2022-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "18" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 400,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-response-type": [ "error" ],
        "x-aml-cluster": [ "vienna-eastus-02" ],
        "x-request-time": [ "0.059" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"error\": {\n    \"code\": \"UserError\",\n    \"severity\": null,\n    \"message\": \"AmlCompute computes do not have any secrets associated with them. This operation is not supported.\",\n    \"messageFormat\": null,\n    \"messageParameters\": null,\n    \"referenceCode\": null,\n    \"detailsUri\": null,\n    \"target\": null,\n    \"details\": [],\n    \"innerError\": null,\n    \"debugInfo\": null,\n    \"additionalInfo\": null\n  },\n  \"correlation\": {\n    \"operation\": \"11abe4c1bf44364088ff71f446df71a9\",\n    \"request\": \"9c369c17f32cbd16\"\n  },\n  \"environment\": \"eastus\",\n  \"location\": \"eastus\",\n  \"time\": \"2022-06-05T09:40:24.4935943+00:00\",\n  \"componentName\": \"machinelearningcompute\"\n}",
    }
  }
}