{
  "Get-AzMLWorkspaceEnvironmentVersion+[NoContext]+List+$GET+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/environments/batchenv1/versions?api-version=2024-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/environments/batchenv1/versions?api-version=2024-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "138" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-response-type": [ "standard" ],
        "azureml-served-by-cluster": [ "vienna-eastus-02" ],
        "x-request-time": [ "0.184" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/environments/batchenv1/versions/1\",\n      \"name\": \"1\",\n      \"type\": \"Microsoft.MachineLearningServices/workspaces/environments/versions\",\n      \"properties\": {\n        \"description\": null,\n        \"tags\": {},\n        \"properties\": {\n          \"azureml.labels\": \"latest\"\n        },\n        \"isArchived\": false,\n        \"isAnonymous\": false,\n        \"environmentType\": \"UserCreated\",\n        \"image\": \"mcr.microsoft.com/azureml/openmpi4.1.0-ubuntu20.04\",\n        \"condaFile\": \"\",\n        \"osType\": \"Linux\",\n        \"autoRebuild\": \"Disabled\",\n        \"provisioningState\": \"Succeeded\",\n        \"stage\": \"Development\"\n      },\n      \"systemData\": {\n        \"createdAt\": \"2025-11-04T06:18:41.5297317+00:00\",\n        \"createdBy\": \"Joyer Jin (Wicresoft North America Ltd)\",\n        \"createdByType\": \"User\",\n        \"lastModifiedAt\": \"2025-11-04T06:18:41.5297317+00:00\",\n        \"lastModifiedBy\": \"Joyer Jin (Wicresoft North America Ltd)\",\n        \"lastModifiedByType\": \"User\"\n      }\n    }\n  ]\n}",
    }
  },
  "Get-AzMLWorkspaceEnvironmentVersion+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/environments/batchenv1/versions/1?api-version=2024-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroup[...]
