{
  "Get-AzMLWorkspaceOutboundNetworkDependencyEndpoint+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/outboundNetworkDependenciesEndpoints?api-version=2024-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/outboundNetworkDependenciesEndpoints?api-version=2024-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "111" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11994" ],
        "x-ms-response-type": [ "standard" ],
        "x-aml-cluster": [ "vienna-eastus-02" ],
        "x-request-time": [ "0.058" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"value\": [\n    {\n      \"properties\": {\n        \"category\": \"Azure Active Directory\",\n        \"endpoints\": [\n          {\n            \"domainName\": \"login.microsoftonline.com\",\n            \"endpointDetails\": [\n              {\n                \"port\": 80\n              },\n              {\n                \"port\": 443\n              }\n            ]\n          }\n        ]\n      }\n    },\n    {\n      \"properties\": {\n        \"category\": \"Azure portal\",\n        \"endpoints\": [\n          {\n            \"domainName\": \"management.azure.com\",\n            \"endpointDetails\": [\n              {\n                \"port\": 443\n              }\n            ]\n          }\n        ]\n      }\n    },\n    {\n      \"properties\": {\n[...]
