{
  "Get-AzMLWorkspaceEnvironmentContainer+[NoContext]+List+$GET+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/environments?api-version=2024-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/environments?api-version=2024-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "136" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-response-type": [ "standard" ],
        "azureml-served-by-cluster": [ "vienna-eastus-02" ],
        "x-request-time": [ "0.127" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/environments/DefaultNcdEnv-mlflow-ubuntu20-04-py38-cpu-inference\",\n      \"name\": \"DefaultNcdEnv-mlflow-ubuntu20-04-py38-cpu-inference\",\n      \"type\": \"Microsoft.MachineLearningServices/workspaces/environments\",\n      \"properties\": {\n        \"description\": \"\",\n        \"tags\": {},\n        \"properties\": {},\n        \"isArchived\": false,\n        \"latestVersion\": \"0\",\n        \"nextVersion\": \"1\",\n        \"provisioningState\": \"Succeeded\"\n      },\n      \"systemData\": {\n        \"createdAt\": \"2025-11-04T09:30:32.7098513+00:00\",\n        \"createdBy\": \"779301c0-18b2-4cdc-801b-a0a3368fee0a\",\n        \"createdByType\": \"Application\",\n        \"lastModifiedAt\": \"2025-11-04T09:30:32.7098513+00:00\",\n        \"lastModifiedBy\": \"779301c0-18b2-4cdc-801b-a0a3368fee0a\",\n        \"lastModifiedByType\": \"Application\"\n      }\n    },\n    {\n      \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/environments/commandjobenv1\",\n      \"name\": \"commandjobenv1\",\n      \"type\": \"Microsoft.MachineLearningServices/workspaces/environments\",\n      \"properties\": {\n        \"description\": \"\",\n        \"tags\": {},\n        \"properties\": {},\n        \"isArchived\": false,\n    [...]
