{
  "Get-AzMLWorkspaceConnection+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/connections?api-version=2024-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/connections?api-version=2024-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "82" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ],
        "x-ms-response-type": [ "standard" ],
        "x-aml-cluster": [ "vienna-eastus-01" ],
        "x-request-time": [ "0.034" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"value\": [\n    {\n      \"tags\": null,\n      \"location\": null,\n      \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/connections/test01\",\n      \"name\": \"test01\",\n      \"type\": \"Microsoft.MachineLearningServices/workspaces/connections\",\n      \"properties\": {\n        \"authType\": \"None\",\n        \"group\": \"Azure\",\n        \"category\": \"ContainerRegistry\",\n        \"expiryTime\": null,\n        \"target\": \"www.facebook.com\",\n        \"createdByWorkspaceArmId\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1\",\n        \"useWorkspaceManagedIdentity\": false,\n        \"isSharedToAll\": false,\n        \"sharedUserList\": [],\n        \"peRequirement\": \"NotRequired\",\n        \"peStatus\": \"NotApplicable\",\n        \"error\": null,\n        \"metadata\": {}\n      },\n      \"systemData\": {\n        \"createdAt\": \"2024-07-24T08:48:47.2679158Z\",\n        \"createdBy\": \"v-jiaji@microsoft.com\",\n        \"createdByType\": \"User\",\n        \"lastModifiedAt\": \"2024-07-24T08:48:47.2679158Z\",\n        \"lastModifiedBy\": \"v-jiaji@microsoft.com\",\n        \"lastModifiedByType\": \"User\"\n      }\n    }\n  ]\n}",
    }
  },
  "Get-AzMLWorkspaceConnection+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/connections/test01?api-version=2024-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/provi[...]
