{
  "Get-AzMLWorkspaceOnlineDeployment+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/onlineEndpoints/online-cli01/deployments?api-version=2022-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/onlineEndpoints/online-cli01/deployments?api-version=2022-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "43" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11961" ],
        "x-ms-response-type": [ "standard" ],
        "x-aml-cluster": [ "vienna-eastus-01" ],
        "x-request-time": [ "0.472" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/onlineEndpoints/online-cli01/deployments/blue\",\n      \"name\": \"blue\",\n      \"type\": \"Microsoft.MachineLearningServices/workspaces/onlineEndpoints/deployments\",\n      \"properties\": {\n        \"description\": null,\n        \"properties\": {\n          \"AzureAsyncOperationUri\": \"https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.MachineLearningServices/locations/eastus/mfeOperationsStatus/od:85b9e7f0-8ea4-4e3d-a742-06ee40ba4b03:2fc9c85d-3e6b-417a-b5d1-b7c84d7adc4e?api-version=2022-05-01\"\n        },\n        \"codeConfiguration\": {\n          \"codeId\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/codes/787fc793-1ac7-414e-a035-7248767b7b23/versions/1\",\n          \"scoringScript\": \"score.py\"\n        },\n        \"environmentId\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/environments/CliV2AnonymousEnvironment/versions/8a424b013f5b0177929a1697d772da41\",\n        \"environmentVariables\": {},\n        \"scaleSettings\": {\n          \"scaleType\": \"Default\"\n        },\n        \"requestSettings\": {\n          \"maxQueueWait\": \"PT0S\",\n          \"requestTimeout\": \"PT5S\",\n          \"maxConcurrentRequestsPerInstance\": 1\n        },\n        \"modelMountPath\": null,\n        \"appInsightsEnabled\": false,\n        \"livenessProbe\": {\n          \"failureThreshold\": 30,\n          \"successThreshold\": 1,\n          \"timeout\": \"PT2S\",\n          \"period\": \"PT10S\",\n          \"initialDelay\": \"PT10S\"\n        },\n        \"readinessProbe\": {\n          \"failureThreshold\": 30,\n          \"successThreshold\": 1,\n          \"timeout\": \"PT2S\",\n          \"period\": \"PT10S\",\n          \"initialDelay\": \"PT10S\"\n        },\n        \"provisioningState\": \"Succeeded\",\n        \"instanceType\": \"Standard_F2s_v2\",\n        \"model\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/models/a99089c5-23a6-4431-9ecd-37c70f01c9bc/versions/1\",\n        \"endpointComputeType\": \"Managed\"\n      },\n      \"systemData\": {\n        \"createdAt\": \"2022-05-19T02:52:06.8585592Z\",\n        \"createdBy\": \"Lucas Yao (Wicresoft North America)\",\n        \"lastModifiedAt\": \"2022-05-19T02:52:06.8585592Z\"\n      },\n      \"tags\": {},\n      \"location\": \"eastus\",\n      \"kind\": \"Managed\",\n      \"sku\": {\n        \"name\": \"Default\",\n        \"tier\": \"Standard\",\n        \"capacity\": 1\n      }\n    }\n  ]\n}",
    }
  },
  "Get-AzMLWorkspaceOnlineDeployment+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/onlineEndpoints/online-cli01/deployments/blue?api-version=2022-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourc[...]
