{
  "Get-AzMLWorkspaceDatastore+[NoContext]+List+$GET+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/datastores?api-version=2024-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/datastores?api-version=2024-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "131" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-response-type": [ "standard" ],
        "azureml-served-by-cluster": [ "vienna-eastus-02" ],
        "x-request-time": [ "0.160" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/datastores/datastore01\",\n      \"name\": \"datastore01\",\n      \"type\": \"Microsoft.MachineLearningServices/workspaces/datastores\",\n      \"properties\": {\n        \"description\": null,\n        \"tags\": null,\n        \"properties\": null,\n        \"isDefault\": false,\n        \"credentials\": {\n          \"credentialsType\": \"AccountKey\"\n        },\n        \"subscriptionId\": null,\n        \"resourceGroup\": null,\n        \"datastoreType\": \"AzureBlob\",\n        \"accountName\": \"mltestaccount03\",\n        \"containerName\": \"azureml-blobstore-38f33446-3fc3-4d31-8243-029e4a988f9f\",\n        \"endpoint\": \"core.windows.net\",\n        \"protocol\": \"https\",\n        \"serviceDataAccessAuthIdentity\": \"None\"\n      },\n      \"systemData\": {\n        \"createdAt\": \"2025-11-04T06:10:37.7524634+00:00\",\n        \"createdBy\": \"Joyer Jin (Wicresoft North America Ltd)\",\n        \"createdByType\": \"User\",\n        \"lastModifiedAt\": \"2025-11-04T06:10:38.2457794+00:00\",\n        \"lastModifiedBy\": \"Joyer Jin (Wicresoft North America Ltd)\",\n        \"lastModifiedByType\": \"User\"\n      }\n    },\n    {\n      \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/datastores/workspaceblobstore\",\n      \"name\": \"workspaceblobstore\",\n      \"type\": \"Microsoft.MachineLearningServices/workspaces/datastores\",\n      \"properties\": {\n        \"description\": null,\n        \"tags\": null,\n        \"properties\": null,\n        \"isDefault\": true,\n     [...]
