{
  "Get-AzMLWorkspaceBatchEndpoint+[NoContext]+List+$GET+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/batchEndpoints?api-version=2024-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/batchEndpoints?api-version=2024-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "117" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "" ],
        "x-ms-response-type": [ "standard" ],
        "azureml-served-by-cluster": [ "vienna-eastus-02" ],
        "x-request-time": [ "0.103" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "248" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3748" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/batchEndpoints/batchenpoint01\",\"name\":\"batchenpoint01\",\"type\":\"Microsoft.MachineLearningServices/workspaces/batchEndpoints\",\"properties\":{\"description\":null,\"properties\":{\"BatchEndpointCreationApiVersion\":\"2024-04-01\",\"azureml.onlineendpointid\":\"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/batchEndpoints/batchenpoint01\"},\"scoringUri\":\"https://batchenpoint01.eastus.inference.ml.azure.com/jobs\",\"swaggerUri\":null,\"authMode\":\"AADToken\",\"defaults\":{\"deploymentName\":null},\"provisioningState\":\"Succeeded\"},\"systemData\":{\"createdAt\":\"2025-11-04T09:19:42.7420567+00:00\",\"createdBy\":\"Joyer Jin (Wicresoft North America Ltd)\",\"lastModifiedAt\":\"2025-11-04T09:19:42.7420657+00:00\"},\"tags\":{},\"location\":\"eastus\"}]}",
    }
  },
  "Get-AzMLWorkspaceBatchEndpoint+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/batchEndpoints/batchenpoint01?api-version=2024-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-test/providers/Microsoft[...]
