{
  "Get-AzMLWorkspaceBatchEndpoint+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/batchEndpoints?api-version=2024-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/batchEndpoints?api-version=2024-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "72" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ],
        "x-ms-response-type": [ "standard" ],
        "x-aml-cluster": [ "vienna-eastus-01" ],
        "x-request-time": [ "0.091" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/batchEndpoints/batchenpoint01\",\n      \"name\": \"batchenpoint01\",\n      \"type\": \"Microsoft.MachineLearningServices/workspaces/batchEndpoints\",\n      \"properties\": {\n        \"description\": null,\n        \"properties\": {\n          \"BatchEndpointCreationApiVersion\": \"2024-04-01\",\n          \"azureml.onlineendpointid\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/batchEndpoints/batchenpoint01\"\n        },\n        \"scoringUri\": \"https://batchenpoint01.eastus.inference.ml.azure.com/jobs\",\n        \"swaggerUri\": null,\n        \"authMode\": \"AADToken\",\n        \"defaults\": {\n          \"deploymentName\": null\n        },\n        \"provisioningState\": \"Succeeded\"\n      },\n      \"systemData\": {\n        \"createdAt\": \"2024-07-24T08:45:11.4957933+00:00\",\n        \"createdBy\": \"Joyer Jin (Wicresoft North America Ltd)\",\n        \"lastModifiedAt\": \"2024-07-24T08:45:11.4958073+00:00\"\n      },\n      \"tags\": {},\n      \"location\": \"eastus\"\n    }\n  ]\n}",
    }
  },
  "Get-AzMLWorkspaceBatchEndpoint+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/batchEndpoints/batchenpoint01?api-version=2024-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-test/provid[...]
