{
  "New-AzMLWorkspaceDataVersion+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/data/iris-data/versions/2?api-version=2024-04-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/data/iris-data/versions/2?api-version=2024-04-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"dataType\": \"uri_file\",\r\n    \"dataUri\": \"https://azuremlexamples.blob.core.windows.net/datasets/iris.csv\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/data/iris-data/versions/2?api-version=2024-04-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-response-type": [ "standard" ],
        "x-aml-cluster": [ "vienna-eastus-02" ],
        "x-request-time": [ "0.961" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/data/iris-data/versions/2\",\n  \"name\": \"2\",\n  \"type\": \"Microsoft.MachineLearningServices/workspaces/data/versions\",\n  \"properties\": {\n    \"description\": null,\n    \"tags\": null,\n    \"properties\": null,\n    \"isArchived\": false,\n    \"isAnonymous\": false,\n    \"dataUri\": \"https://azuremlexamples.blob.core.windows.net/datasets/iris.csv\",\n    \"dataType\": \"uri_file\"\n  },\n  \"systemData\": {\n    \"createdAt\": \"2024-07-24T08:54:37.301986+00:00\",\n    \"createdBy\": \"Joyer Jin (Wicresoft North America Ltd)\",\n    \"createdByType\": \"User\",\n    \"lastModifiedAt\": \"2024-07-24T08:54:37.3163816+00:00\"\n  }\n}",
    }
  }
}