{
  "New-AzMLWorkspaceCompute+[NoContext]+AmlCompute+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test01/computes/aml02?api-version=2022-05-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test01/computes/aml02?api-version=2022-05-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"computeType\": \"AmlCompute\",\r\n    \"properties\": {\r\n      \"scaleSettings\": {\r\n        \"maxNodeCount\": 8,\r\n        \"minNodeCount\": 0\r\n      },\r\n      \"osType\": \"Linux\",\r\n      \"vmSize\": \"STANDARD_DS3_V2\",\r\n      \"remoteLoginPortPublicAccess\": \"NotSpecified\",\r\n      \"enableNodePublicIp\": true\r\n    }\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-response-type": [ "standard" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.MachineLearningServices/locations/eastus/computeOperationsStatus/e963b795-d6a3-4a40-b591-63c65ddf972f?api-version=2022-05-01\u0026service=new" ],
        "x-aml-cluster": [ "vienna-eastus-01" ],
        "x-request-time": [ "0.395" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test01/computes/aml02\",\n  \"name\": \"aml02\",\n  \"type\": \"Microsoft.MachineLearningServices/workspaces/computes\",\n  \"location\": \"eastus\",\n  \"tags\": {},\n  \"properties\": {\n    \"createdOn\": \"2022-05-31T03:13:58.5270306+00:00\",\n    \"modifiedOn\": \"2022-06-05T14:56:20.2320921+00:00\",\n    \"disableLocalAuth\": false,\n    \"description\": null,\n    \"resourceId\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.BatchAI/workspaces/mlworkspace-test01/clusters/aml02\",\n    \"computeType\": \"AmlCompute\",\n    \"computeLocation\": \"eastus\",\n    \"provisioningState\": \"Creating\",\n    \"provisioningErrors\": null,\n    \"isAttachedCompute\": false,\n    \"properties\": {\n      \"vmSize\": \"STANDARD_DS3_V2\",\n      \"vmPriority\": \"Dedicated\",\n      \"scaleSettings\": {\n        \"maxNodeCount\": 8,\n        \"minNodeCount\": 0,\n        \"nodeIdleTimeBeforeScaleDown\": null\n      },\n      \"subnet\": null,\n      \"currentNodeCount\": null,\n      \"targetNodeCount\": null,\n      \"nodeStateCounts\": null,\n      \"allocationState\": null,\n      \"errors\": null,\n      \"remoteLoginPortPublicAccess\": \"NotSpecified\",\n      \"osType\": \"Linux\",\n      \"virtualMachineImage\": null,\n      \"isolatedNetwork\": false,\n      \"enableNodePublicIp\": true\n    }\n  }\n}",
    }
  },
  "New-AzMLWorkspaceCompute+[NoContext]+AmlCompute+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.MachineLearningServices/locations/eastus/computeOperationsStatus/e963b795-d6a3-4a40-b591-63c65ddf972f?api-version=2022-05-01\u0026service=new+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.MachineLearningServices/locations/eastus/computeOperationsStatus/e963b795-d6a3-4a40-b591-63c65ddf972f?api-version=2022-05-01\u0026service=new",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ],
        "x-ms-response-type": [ "standard" ],
        "x-aml-cluster": [ "vienna-eastus-01" ],
        "x-request-time": [ "0.014" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"status\": \"Succeeded\",\n  \"percentComplete\": 100.0\n}",
    }
  },
  "New-AzMLWorkspaceCompute+[NoContext]+AmlCompute+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test01/computes/aml02?api-version=2022-05-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLea[...]
