{
  "New-AzMLWorkspaceEnvironmentVersion+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/environments/commandjobenv/versions/1?api-version=2024-04-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/environments/commandjobenv/versions/1?api-version=2024-04-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"image\": \"library/python:latest\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/environments/commandjobenv/versions/1?api-version=2024-04-01" ],
        "x-ms-response-type": [ "standard" ],
        "azureml-served-by-cluster": [ "vienna-eastus2-02" ],
        "x-request-time": [ "0.511" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "199" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/environments/commandjobenv/versions/1\",\n  \"name\": \"1\",\n  \"type\": \"Microsoft.MachineLearningServices/workspaces/environments/versions\",\n  \"properties\": {\n    \"description\": null,\n    \"tags\": {},\n    \"properties\": {\n      \"azureml.labels\": \"latest\"\n    },\n    \"isArchived\": false,\n    \"isAnonymous\": false,\n    \"environmentType\": \"UserCreated\",\n    \"image\": \"library/python:latest\",\n    \"condaFile\": \"\",\n    \"osType\": \"Linux\",\n    \"autoRebuild\": \"Disabled\",\n    \"provisioningState\": \"Succeeded\",\n    \"stage\": \"Development\"\n  },\n  \"systemData\": {\n    \"createdAt\": \"2025-11-04T09:43:11.3600702+00:00\",\n    \"createdBy\": \"Joyer Jin (Wicresoft North America Ltd)\",\n    \"createdByType\": \"User\",\n    \"lastModifiedAt\": \"2025-11-04T09:43:11.3600702+00:00\",\n    \"lastModifiedBy\": \"Joyer Jin (Wicresoft North America Ltd)\",\n    \"lastModifiedByType\": \"User\"\n  }\n}",
    }
  },
  "New-AzMLWorkspaceEnvironmentVersion+[NoContext]+CreateExpanded+$DELETE+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/environments/commandjobenv/versions/1?api-version=2024-04-01+2": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/environments/commandjobenv/versions/1?api-version=2024-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "174" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-response-type": [ "standard" ],
        "azureml-served-by-cluster": [ "vienna-eastus2-02" ],
        "x-request-time": [ "0.162" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "199" ],
        "x-ms-ratelimit-remaining-subscription-global-deletes": [ "2999" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  }
}