{
  "New-AzMLWorkspaceModelContainer+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/models/modelcontainerpwsh01?api-version=2024-04-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/models/modelcontainerpwsh01?api-version=2024-04-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"description\": \"code container for test.\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1197" ],
        "x-ms-response-type": [ "standard" ],
        "x-aml-cluster": [ "vienna-eastus-02" ],
        "x-request-time": [ "0.305" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/models/modelcontainerpwsh01\",\n  \"name\": \"modelcontainerpwsh01\",\n  \"type\": \"Microsoft.MachineLearningServices/workspaces/models\",\n  \"properties\": {\n    \"description\": \"code container for test.\",\n    \"tags\": {},\n    \"properties\": {},\n    \"isArchived\": false,\n    \"latestVersion\": null,\n    \"nextVersion\": \"1\",\n    \"provisioningState\": \"Succeeded\"\n  },\n  \"systemData\": {\n    \"createdAt\": \"2024-07-24T08:45:05.6052865+00:00\",\n    \"createdBy\": \"Joyer Jin (Wicresoft North America Ltd)\",\n    \"createdByType\": \"User\",\n    \"lastModifiedAt\": \"2024-07-24T08:54:45.1577243+00:00\",\n    \"lastModifiedBy\": \"Joyer Jin (Wicresoft North America Ltd)\",\n    \"lastModifiedByType\": \"User\"\n  }\n}",
    }
  },
  "New-AzMLWorkspaceModelContainer+[NoContext]+CreateExpanded+$DELETE+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/models/modelcontainerpwsh01?api-version=2024-04-01+2": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/models/modelcontainerpwsh01?api-version=2024-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "129" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14999" ],
        "x-ms-response-type": [ "standard" ],
        "x-aml-cluster": [ "vienna-eastus-02" ],
        "x-request-time": [ "0.221" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  }
}