{
  "Stop-AzMLWorkspaceJob+[NoContext]+Cancel+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/jobs/commandJob02/cancel?api-version=2024-04-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test2/jobs/commandJob02/cancel?api-version=2024-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "149" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-response-type": [ "standard" ],
        "x-aml-cluster": [ "vienna-eastus-02" ],
        "x-request-time": [ "0.686" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Stop-AzMLWorkspaceJob+[NoContext]+CancelViaIdentity+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/jobs/commandjob01?api-version=2024-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/jobs/commandjob01?api-version=2024-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "150" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ],
        "x-ms-response-type": [ "standard" ],
        "x-aml-cluster": [ "vienna-eastus-02" ],
        "x-request-time": [ "0.359" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/jobs/commandjob01\",\n  \"name\": \"commandjob01\",\n  \"type\": \"Microsoft.MachineLearningServices/workspaces/jobs\",\n  \"properties\": {\n    \"description\": null,\n    \"tags\": {\n      \"_aml_system_ComputeTargetStatus\": \"{\\\"AllocationState\\\":\\\"steady\\\",\\\"PreparingNodeCount\\\":0,\\\"RunningNodeCount\\\":0,\\\"CurrentNodeCount\\\":1}\"\n    },\n    \"properties\": {\n      \"_azureml.ComputeTargetType\": \"amlcdsi\",\n      \"_azureml.ClusterName\": \"commandjobcompute\",\n      \"ProcessInfoFile\": \"azureml-logs/process_info.json\",\n      \"ProcessStatusFile\": \"azureml-logs/process_status.json\",\n      \"StartTimeUtc\": \"2024-07-24 08:48:48\",\n      \"EndTimeUtc\": \"2024-07-24 08:49:55\"\n    },\n    \"displayName\": \"commandJob01\",\n    \"status\": \"Completed\",\n    \"experimentName\": \"jobexperiment\",\n    \"services\": {\n      \"Tracking\": {\n        \"jobServiceType\": \"Tracking\",\n        \"port\": null,\n        \"endpoint\": \"azureml://eastus.api.azureml.ms/mlflow/v1.0/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1?\",\n        \"status\": null,\n        \"errorMessage\": null,\n        \"properties\": null,\n        \"nodes\": null\n      },\n      \"Studio\": {\n        \"jobServiceType\": \"Studio\",\n        \"port\": null,\n        \"endpoint\": \"https://ml.azure.com/runs/commandjob01?wsid=/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/ml-psh-test/workspaces/mlworkspace-test1\",\n        \"status\": null,\n        \"errorMessage\": null,\n        \"properties\": null,\n        \"nodes\": null\n      }\n    },\n    \"computeId\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/computes/commandjobcompute\",\n    \"isArchived\": false,\n    \"identity\": null,\n    \"componentId\": null,\n    \"notificationSetting\": null,\n    \"jobType\": \"Command\",\n    \"resources\": {\n      \"instanceCount\": 1,\n      \"instanceType\": null,\n      \"properties\": null,\n      \"shmSize\": \"2g\",\n      \"dockerArgs\": null\n    },\n    \"codeId\": null,\n    \"command\": \"echo \\\"hello powershell 01\\\"\",\n    \"environmentId\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/environments/commandjobenv1/versions/1\",\n    \"inputs\": {},\n    \"outputs\": {\n      \"default\": {\n        \"description\": null,\n        \"uri\": \"azureml://datastores/workspaceartifactstore/ExperimentRun/dcid.commandjob01\",\n        \"mode\": \"ReadWriteMount\",\n        \"jobOutputType\": \"uri_folder\"\n      }\n    },\n    \"distribution\": null,\n    \"limits\": {\n      \"timeout\": null,\n      \"jobLimitsType\": \"Command\"\n    },\n    \"environmentVariables\": null,\n    \"parameters\": {},\n    \"queueSettings\": {\n      \"jobTier\": \"Null\"\n    }\n  },\n  \"systemData\": {\n    \"createdAt\": \"2024-07-24T08:48:40.8234943+00:00\",\n    \"createdBy\": \"Joyer Jin (Wicresoft North America Ltd)\",\n    \"createdByType\": \"User\"\n  }\n}",
    }
  },
  "Stop-AzMLWorkspaceJob+[NoContext]+CancelViaIdentity+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/jobs/commandjob01/cancel?api-version=2024-04-01+2": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-psh-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-test1/jobs/commandjob01/cancel?api-version=2024-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "151" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-response-type": [ "standard" ],
        "x-aml-cluster": [ "vienna-eastus-01" ],
        "x-request-time": [ "0.320" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  }
}