{
  "Stop-AzMLWorkspaceCompute+[NoContext]+ComputeInstance+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/computes/v-diya1/stop?api-version=2022-05-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/ml-rg-test/providers/Microsoft.MachineLearningServices/workspaces/mlworkspace-cli01/computes/v-diya1/stop?api-version=2022-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "8" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1196" ],
        "x-ms-response-type": [ "standard" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.MachineLearningServices/locations/eastus/computeOperationsStatus/95bb0ee5-9708-49f3-bc17-98d4039f0273?api-version=2022-05-01\u0026service=new" ],
        "x-aml-cluster": [ "vienna-eastus-01" ],
        "x-request-time": [ "0.320" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Stop-AzMLWorkspaceCompute+[NoContext]+ComputeInstance+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.MachineLearningServices/locations/eastus/computeOperationsStatus/95bb0ee5-9708-49f3-bc17-98d4039f0273?api-version=2022-05-01\u0026service=new+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.MachineLearningServices/locations/eastus/computeOperationsStatus/95bb0ee5-9708-49f3-bc17-98d4039f0273?api-version=2022-05-01\u0026service=new",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "9" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11982" ],
        "x-ms-response-type": [ "standard" ],
        "x-aml-cluster": [ "vienna-eastus-01" ],
        "x-request-time": [ "0.010" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"status\": \"InProgress\"\n}",
    }
  },
  "Stop-AzMLWorkspaceCompute+[NoContext]+ComputeInstance+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.MachineLearningServices/locations/eastus/computeOperationsStatus/95bb0ee5-9708-49f3-bc17-98d4039f0273?api-version=2022-05-01\u0026service=new+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microso[...]
