{
  "Update-AzMLServiceQuota+[NoContext]+UpdateExpanded+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.MachineLearningServices/locations/eastus/updateQuotas?api-version=2024-04-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.MachineLearningServices/locations/eastus/updateQuotas?api-version=2024-04-01",
      "Content": "{\r\n  \"value\": [ ]\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-response-type": [ "standard" ],
        "x-aml-cluster": [ "vienna-eastus-02" ],
        "x-request-time": [ "0.029" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"value\": [\n    {\n      \"id\": null,\n      \"type\": null,\n      \"limit\": 0,\n      \"unit\": null,\n      \"status\": \"success\"\n    }\n  ]\n}",
    }
  }
}