{
  "Entries": [
    {
      "RequestUri": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourcegroups/onesdk8810?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"North Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/onesdk8810\",\r\n  \"name\": \"onesdk8810\",\r\n  \"location\": \"northcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/onesdk8810/providers/Microsoft.ApiManagement/service/onesdk4354?api-version=2016-07-07",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"North Central US\",\r\n  \"properties\": {\r\n    \"publisherEmail\": \"apim@powershell.org\",\r\n    \"publisherName\": \"apimpowershellorg\",\r\n    \"createdAtUtc\": \"0001-01-01T00:00:00\",\r\n    \"hostnameConfigurations\": [],\r\n    \"vpnconfiguration\": {\r\n      \"vnetid\": \"00000000-0000-0000-0000-000000000000\",\r\n      \"subnetResourceId\": \"/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/powershelltest/providers/Microsoft.Network/virtualNetworks/apimvnettest/subnets/default\",\r\n      \"location\": \"North Central US\"\r\n    },\r\n    \"vpnType\": \"External\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Developer\",\r\n    \"capacity\": 1\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/onesdk8810/providers/Microsoft.ApiManagement/service/onesdk4354\",\r\n  \"name\": \"onesdk4354\",\r\n  \"type\": \"Microsoft.ApiManagement/service\",\r\n  \"tags\": {},\r\n  \"location\": \"North Central US\",\r\n  \"etag\": \"AAAAAABbUcg=\",\r\n  \"properties\": {\r\n    \"publisherEmail\": \"apim@powershell.org\",\r\n    \"publisherName\": \"apimpowershellorg\",\r\n    \"provisioningState\": \"Created\",\r\n    \"targetProvisioningState\": \"Activating\",\r\n    \"createdAtUtc\": \"2016-10-11T00:58:14.506812Z\",\r\n    \"runtimeUrl\": null,\r\n    \"portalUrl\": null,\r\n    \"managementApiUrl\": null,\r\n    \"scmUrl\": null,\r\n    \"addresserEmail\": null,\r\n    \"hostnameConfigurations\": [],\r\n    \"staticIPs\": [],\r\n    \"additionalLocations\": null,\r\n    \"vpnconfiguration\": {\r\n      \"subnetResourceId\": \"/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/powershelltest/providers/Microsoft.Network/virtualNetworks/apimvnettest/subnets/default\",\r\n      \"vnetid\": \"00000000-0000-0000-0000-000000000000\",\r\n      \"subnetname\": null,\r\n      \"location\": \"North Central US\"\r\n    },\r\n    \"customProperties\": null,\r\n    \"vpnType\": 1\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Developer\",\r\n    \"capacity\": 1\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "60"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "ETag": [
          "\"AAAAAABbUcg=\""
        ],
        "Location": [
          "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/onesdk8810/providers/Microsoft.ApiManagement/service/onesdk4354/operationresults/b25lc2RrNDM1NF9BY3RfNWNjOWFjYmM=?api-version=2016-07-07"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/onesdk8810/providers/Microsoft.ApiManagement/service/onesdk4354/operationresults/b25lc2RrNDM1NF9BY3RfNWNjOWFjYmM=?api-version=2016-07-07",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-07-07"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/onesdk8810/providers/Microsoft.ApiManagement/service/onesdk4354/operationresults/b25lc2RrNDM1NF9BY3RfNWNjOWFjYmM%3D?api-version=2016-07-07"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/onesdk8810/providers/Microsoft.ApiManagement/service/onesdk4354/operationresults/b25lc2RrNDM1NF9BY3RfNWNjOWFjYmM%3D?api-version=2016-07-07",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-07-07"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/onesdk8810/providers/Microsoft.ApiManagement/service/onesdk4354/operationresults/b25lc2RrNDM1NF9BY3RfNWNjOWFjYmM%3D?api-version=2016-07-07"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/onesdk8810/providers/Microsoft.ApiManagement/service/?api-version=2016-07-07",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/resourceGroups/onesdk8810/providers/Microsoft.ApiManagement/service/onesdk4354\",\r\n      \"name\": \"onesdk4354\",\r\n      \"type\": \"Microsoft.ApiManagement/service\",\r\n      \"tags\": {},\r\n      \"location\": \"North Central US\",\r\n      \"etag\": \"AAAAAABbUtQ=\",\r\n      \"properties\": {\r\n        \"publisherEmail\": \"apim@powershell.org\",\r\n        \"publisherName\": \"apimpowershellorg\",\r\n[...]
[...]
    {
      "RequestUri": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs4ODEwLU5PUlRIQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJub3J0aGNlbnRyYWx1cyJ9?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs4ODEwLU5PUlRIQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJub3J0aGNlbnRyYWx1cyJ9?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/20010222-2b48-4245-a95c-090db6312d5f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs4ODEwLU5PUlRIQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJub3J0aGNlbnRyYWx1cyJ9?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-CrudApiManagementWithExternalVpn": [
      "onesdk8810",
      "onesdk4354"
    ]
  },
  "Variables": {
    "SubscriptionId": "20010222-2b48-4245-a95c-090db6312d5f"
  }
}