{
  "Entries": [
    {
      "RequestUri": "/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/providers?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/providers/Microsoft.ApiManagement\",\r\n      \"namespace\": \"Microsoft.ApiManagement\",\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"service\",\r\n          \"locations\": [\r\n            \"Central US\",\r\n            \"East US\",\r\n            \"East US 2\",\r\n            \"North Central US\",\r\n            \"South Central US\",\r\n            \"West US\",\r\n            \"North Europe\",\r\n            \"West Europe\",\r\n            \"East Asia\",\r\n            \"Southeast Asia\",\r\n            \"Japan East\",\r\n            \"Japan West\",\r\n            \"Brazil South\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2014-02-14\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"validateServiceName\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2014-02-14\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"checkServiceNameAvailability\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2014-02-14\"\r\n          ]\r\n        }\r\n      ],\r\n      \"registrationState\": \"Registered\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/providers/microsoft.intelligentsystems\",\r\n      \"namespace\": \"microsoft.intelligentsystems\",\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"accounts\",\r\n          \"locations\": [\r\n            \"West US\",\r\n            \"North Central US\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2014-04-28\"\r\n          ]\r\n        }\r\n   [...]
[...]
    {
      "RequestUri": "/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourcegroups/onesdk2572?api-version=2014-04-01-preview",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31928"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourcegroups/onesdk2572?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourceGroups/onesdk2572\",\r\n  \"name\": \"onesdk2572\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourceGroups/onesdk2572/resources?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31927"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourcegroups/onesdk2572/providers/Microsoft.Authorization/permissions?api-version=2014-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"actions\": [\r\n        \"*\"\r\n      ],\r\n      \"notActions\": []\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31949"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourceGroups/onesdk2572/providers/Microsoft.ApiManagement/service/onesdk8430?api-version=2014-02-14",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US\",\r\n  \"properties\": {\r\n    \"publisherEmail\": \"apim@powershell.org\",\r\n    \"publisherName\": \"apimpowershellorg\",\r\n    \"sku\": {\r\n      \"name\": \"Developer\",\r\n      \"capacity\": 1\r\n    },\r\n    \"createdAtUtc\": \"0001-01-01T00:00:00\",\r\n    \"hostnameConfigurations\": []\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourceGroups/onesdk2572/providers/Microsoft.ApiManagement/service/onesdk8430/operations/b25lc2RrODQzMF9BY3RfNDNhNTIzYw=="
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourceGroups/onesdk2572/providers/Microsoft.ApiManagement/service/onesdk8430/operationresults/b25lc2RrODQzMF9BY3RfNDNhNTIzYw==?api-version=2014-02-14"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourceGroups/onesdk2572/providers/Microsoft.ApiManagement/service/onesdk8430/operationresults/b25lc2RrODQzMF9BY3RfNDNhNTIzYw==?api-version=2014-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-02-14"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31946"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourceGroups/onesdk2572/providers/Microsoft.ApiManagement/service/onesdk8430/operationresults/b25lc2RrODQzMF9BY3RfNDNhNTIzYw%3D%3D?api-version=2014-02-14"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourceGroups/onesdk2572/providers/Microsoft.ApiManagement/service/onesdk8430/operationresults/b25lc2RrODQzMF9BY3RfNDNhNTIzYw%3D%3D?api-version=2014-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-02-14"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31950"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourceGroups/onesdk2572/providers/Microsoft.ApiManagement/service/onesdk8430/operationresults/b25lc2RrODQzMF9BY3RfNDNhNTIzYw%3D%3D?api-version=2014-02-14"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourceGroups/onesdk2572/providers/Microsoft.ApiManagement/service/onesdk8430/operationresults/b25lc2RrODQzMF9BY3RfNDNhNTIzYw%3D%3D?api-version=2014-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-02-14"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourceGroups/onesdk2572/providers/Microsoft.ApiManagement/service/onesdk8430\",\r\n  \"name\": \"onesdk8430\",\r\n  \"type\": \"Microsoft.ApiManagement/service\",\r\n  \"tags\": {},\r\n  \"location\": \"Central US\",\r\n  \"etag\": \"AAAAAAAEOCk=\",\r\n  \"properties\": {\r\n    \"publisherEmail\": \"apim@powershell.org\",\r\n    \"publisherName\": \"apimpowershellorg\",\r\n    \"sku\": {\r\n      \"name\": \"Developer\",\r\n      \"capacity\": 1\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"targetProvisioningState\": \"\",\r\n    \"createdAtUtc\": \"2015-04-23T00:28:28.8976939Z\",\r\n    \"runtimeUrl\": \"https://onesdk8430.preview.int-azure-api.net\",\r\n    \"portalUrl\": \"https://onesdk8430.portal.preview.int-azure-api.net\",\r\n    \"addresserEmail\": null,\r\n    \"hostnameConfigurations\": [],\r\n    \"staticIPs\": [\r\n      \"23.101.112.128\"\r\n    ],\r\n    \"additionalLocations\": null,\r\n    \"vpnconfiguration\": null,\r\n    \"customProperties\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31933"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourceGroups/onesdk2572/providers/Microsoft.ApiManagement/service/onesdk8430?api-version=2014-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourceGroups/onesdk2572/providers/Microsoft.ApiManagement/service/onesdk8430\",\r\n  \"name\": \"onesdk8430\",\r\n  \"type\": \"Microsoft.ApiManagement/service\",\r\n  \"tags\": {},\r\n  \"location\": \"Central US\",\r\n  \"etag\": \"AAAAAAAEONo=\",\r\n  \"properties\": {\r\n    \"publisherEmail\": \"apim@powershell.org\",\r\n    \"publisherName\": \"apimpowershellorg\",\r\n    \"sku\": {\r\n      \"name\": \"Premium\",\r\n      \"capacity\": 2\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"targetProvisioningState\": \"\",\r\n    \"createdAtUtc\": \"2015-04-23T00:28:28.8976939Z\",\r\n    \"runtimeUrl\": \"https://onesdk8430.preview.int-azure-api.net\",\r\n    \"portalUrl\": \"https://onesdk8430.portal.preview.int-azure-api.net\",\r\n    \"addresserEmail\": null,\r\n    \"hostnameConfigurations\": [],\r\n    \"staticIPs\": [\r\n      \"23.101.112.128\"\r\n    ],\r\n    \"additionalLocations\": [\r\n      {\r\n        \"location\": \"East US\",\r\n        \"skuType\": \"Premium\",\r\n        \"skuUnitCount\": 1,\r\n        \"staticIPs\": [\r\n          \"104.211.34.167\"\r\n        ],\r\n        \"vpnconfiguration\": null\r\n      }\r\n    ],\r\n    \"vpnconfiguration\": null,\r\n    \"customProperties\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31898"
        ],
        "ETag": [
          "\"AAAAAAAEONo=\""
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourceGroups/onesdk2572/providers/Microsoft.ApiManagement/service/onesdk8430/managedeployments?api-version=2014-02-14",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"location\": \"Central US\",\r\n  \"skuType\": \"Premium\",\r\n  \"skuUnitCount\": 2,\r\n  \"additionalLocations\": [\r\n    {\r\n      \"location\": \"East US\",\r\n      \"skuType\": \"Premium\",\r\n      \"skuUnitCount\": 1\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourceGroups/onesdk2572/providers/Microsoft.ApiManagement/service/onesdk8430/managedeployments/operations/b25lc2RrODQzMF9TY2FsZV9mZWIzMjQw"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourceGroups/onesdk2572/providers/Microsoft.ApiManagement/service/onesdk8430/managedeployments/operationresults/b25lc2RrODQzMF9TY2FsZV9mZWIzMjQw?api-version=2014-02-14"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourceGroups/onesdk2572/providers/Microsoft.ApiManagement/service/onesdk8430/managedeployments/operationresults/b25lc2RrODQzMF9TY2FsZV9mZWIzMjQw?api-version=2014-02-14",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-02-14"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31933"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/resourceGroups/onesdk2572/providers/Microsoft.ApiManagement/service/onesdk8430/managedeployments/operationresults/b25lc2RrODQzMF9TY2FsZV9mZWIzMjQw?api-version=2014-02-14"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREsyNTcyLUNFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzIn0?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-04-01-preview"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31941"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREsyNTcyLUNFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzIn0?api-version=2014-04-01-preview"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/bb3f6f90-0996-4c18-8d61-028ab0f0f29b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREsyNTcyLUNFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzIn0?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-04-01-preview"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31939"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-UpdateApiManagementDeployment": [
      "onesdk2572",
      "onesdk8430"
    ]
  },
  "Variables": {
    "SubscriptionId": "bb3f6f90-0996-4c18-8d61-028ab0f0f29b"
  }
}