{
  "Get-AzReservationOrder+[NoContext]+List+$GET+https://management.azure.com/providers/Microsoft.Capacity/reservationOrders?api-version=2022-03-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders?api-version=2022-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/providers/microsoft.capacity/reservationOrders/d4570f43-72b0-4b97-a828-d665dfa9c9d9\",\"type\":\"Microsoft.Capacity/reservationOrders\",\"name\":\"d4570f43-72b0-4b97-a828-d665dfa9c9d9\",\"etag\":4,\"properties\":{\"displayName\":\"VM_RI_06-17-2022_17-27\",\"requestDateTime\":\"2022-06-18T00:27:55.6496176Z\",\"term\":\"P3Y\",\"provisioningState\":\"Failed\",\"reservations\":[{\"id\":\"/providers/microsoft.capacity/reservationOrders/d4570f43-72b0-4b97-a828-d665dfa9c9d9/reservations/8aa01bf6-4466-4686-92f3-07761fe71e69\"}],\"originalQuantity\":1,\"billingPlan\":\"Monthly\"}},{\"id\":\"/providers/microsoft.capacity/reservationOrders/9359bc0b-e9e1-4b03-9e9e-a82e1c30d719\",\"type\":\"Microsoft.Capacity/reservationOrders\",\"name\":\"9359bc0b-e9e1-4b03-9e9e-a82e1c30d719\",\"etag\":10,\"properties\":{\"displayName\":\"VirtualMachineSoftware_RI_04-01-2022_17-21\",\"requestDateTime\":\"2022-04-02T00:22:01.3940692Z\",\"createdDateTime\":\"2022-04-02T00:25:09.1072873Z\",\"expiryDate\":\"2025-04-02\",\"benefitStartTime\":\"2022-04-02T00:25:06.9041563Z\",\"term\":\"P3Y\",\"provisioningState\":\"Succeeded\",\"reservations\":[{\"id\":\"/providers/microsoft.capacity/reservationOrders/9359bc0b-e9e1-4b03-9e9e-a82e1c30d719/reservations/062ec8d4-cd53-40ba-ad8a-74cb0c8d0bcd\"}],\"originalQuantity\":1,\"billingPlan\":\"Monthly\"}},{\"id\":\"/providers/microsoft.capacity/reservationOrders/7a4d4335-9e58-4a56-91b1-0ec05e4e3461\",\"type\":\"Microsoft.Capacity/reservationOrders\",\"name\":\"7a4d4335-9e58-4a56-91b1-0ec05e4e3461[...]
