{
  "Get-AzReservationQuote+[NoContext]+CalculateExpanded+$POST+https://management.azure.com/providers/Microsoft.Capacity/calculatePrice?api-version=2022-11-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/calculatePrice?api-version=2022-11-01",
      "Content": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_b1ls\"\r\n  },\r\n  \"properties\": {\r\n    \"reservedResourceType\": \"VirtualMachines\",\r\n    \"billingScopeId\": \"/subscriptions/30000000-aaaa-bbbb-cccc-100000000005\",\r\n    \"term\": \"P1Y\",\r\n    \"billingPlan\": \"Upfront\",\r\n    \"quantity\": 1,\r\n    \"displayName\": \"TestVm\",\r\n    \"appliedScopeType\": \"Shared\"\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-writes": [ "1195" ],
        "x-ms-test": [ "{\"contact\":\"yunga\",\"scenarios\":\"time-scale:17520,days-until-time-stop:365,CSZ,Inv-v7,crs-vnext,GtmRiPurchase\",\"retention\":\"5/11/2023 4:52:50 PM\"}" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"billingCurrencyTotal\":{\"currencyCode\":\"USD\",\"amount\":32.0},\"netTotal\":0.0,\"taxTotal\":0.0,\"grandTotal\":0.0,\"reservationOrderId\":\"81d1d99c-a64d-4e05-b4c2-0e01f873e406\",\"skuTitle\":\"Reserved VM Instance, Standard_B1ls, US West, 1 Year\",\"skuDescription\":\"Standard_b1ls\",\"pricingCurrencyTotal\":{\"currencyCode\":\"USD\",\"amount\":32.0}}}"
    }
  },
  "Get-AzReservationQuote+[NoContext]+Calculate+$POST+https://management.azure.com/providers/Microsoft.Capacity/calculatePrice?api-version=2022-11-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/calculatePrice?api-version=2022-11-01",
      "Content": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_b1ls\"\r\n  },\r\n  \"properties\": {\r\n    \"reservedResourceProperties\": {\r\n      \"instanceFlexibility\": \"\"\r\n    },\r\n    \"reservedResourceType\": \"VirtualMachines\",\r\n    \"billingScopeId\": \"/subscriptions/30000000-aaaa-bbbb-cccc-100000000005\",\r\n    \"term\": \"P1Y\",\r\n    \"billingPlan\": \"Upfront\",\r\n    \"quantity\": 1,\r\n    \"displayName\": \"Testvm\",\r\n    \"appliedScopeType\": \"Shared\",\r\n    \"renew\": false,\r\n    \"reviewDateTime\": \"0001-01-01T00:00:00.0000000\"\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-writes": [ "1194" ],
        "x-ms-test": [ "{\"contact\":\"yunga\",\"scenarios\":\"time-scale:17520,days-until-time-stop:365,CSZ,Inv-v7,crs-vnext,GtmRiPurchase\",\"retention\":\"5/11/2023 4:52:53 PM\"}" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"billingCurrencyTotal\":{\"currencyCode\":\"USD\",\"amount\":32.0},\"netTotal\":0.0,\"taxTotal\":0.0,\"grandTotal\":0.0,\"reservationOrderId\":\"a1992ec2-e2f7-4cb5-a04b-00887efac7d8\",\"skuTitle\":\"Reserved VM Instance, Standard_B1ls, US West, 1 Year\",\"skuDescription\":\"Standard_b1ls\",\"pricingCurrencyTotal\":{\"currencyCode\":\"USD\",\"amount\":32.0}}}"
    }
  }
}