{
  "New-AzReservation+[NoContext]+PurchaseExpanded+$POST+https://management.azure.com/providers/Microsoft.Capacity/calculatePrice?api-version=2022-03-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/calculatePrice?api-version=2022-03-01",
      "Content": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_b1ls\"\r\n  },\r\n  \"properties\": {\r\n    \"reservedResourceType\": \"VirtualMachines\",\r\n    \"billingScopeId\": \"/subscriptions/40000000-aaaa-bbbb-cccc-200000000006\",\r\n    \"term\": \"P1Y\",\r\n    \"billingPlan\": \"Upfront\",\r\n    \"quantity\": 1,\r\n    \"displayName\": \"TestVm1\",\r\n    \"appliedScopeType\": \"Shared\"\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-writes": [ "1199" ],
        "x-ms-test": [ "{\"contact\":\"sornaks\",\"scenarios\":\"MultiCurrencyTesting\",\"retention\":\"10/3/2022 12:23:52 AM\"}" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"billingCurrencyTotal\":{\"currencyCode\":\"GBP\",\"amount\":24.0},\"netTotal\":0.0,\"taxTotal\":0.0,\"grandTotal\":0.0,\"reservationOrderId\":\"10000000-aaaa-bbbb-cccc-200000000001\",\"skuTitle\":\"Reserved VM Instance, Standard_B1ls, US West, 1 Year\",\"skuDescription\":\"Standard_b1ls\",\"pricingCurrencyTotal\":{\"currencyCode\":\"GBP\",\"amount\":24.0}}}",
    }
  },
  "New-AzReservation+[NoContext]+PurchaseExpanded+$PUT+https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/10000000-aaaa-bbbb-cccc-200000000001?api-version=2022-03-01+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/10000000-aaaa-bbbb-cccc-200000000001?api-version=2022-03-01",
      "Content": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_b1ls\"\r\n  },\r\n  \"properties\": {\r\n    \"reservedResourceType\": \"VirtualMachines\",\r\n    \"billingScopeId\": \"/subscriptions/40000000-aaaa-bbbb-cccc-200000000006\",\r\n    \"term\": \"P1Y\",\r\n    \"billingPlan\": \"Upfront\",\r\n    \"quantity\": 1,\r\n    \"displayName\": \"TestVm1\",\r\n    \"appliedScopeType\": \"Shared\"\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/10000000-aaaa-bbbb-cccc-200000000001?api-version=2022-03-01" ],
        "Retry-After": [ "120" ],
        "x-ms-test": [ "{\"contact\":\"sornaks\",\"scenarios\":\"MultiCurrencyTesting\",\"retention\":\"10/3/2022 12:23:55 AM\"}" ],
        "x-ms-ratelimit-remaining-tenant-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/microsoft.capacity/reservationOrders/10000000-aaaa-bbbb-cccc-200000000001\",\"type\":\"Microsoft.Capacity/reservationOrders\",\"name\":\"10000000-aaaa-bbbb-cccc-200000000001\",\"etag\":1,\"properties\":{\"displayName\":\"TestVm1\",\"requestDateTime\":\"2022-07-05T00:23:59.0766746Z\",\"term\":\"P1Y\",\"provisioningState\":\"Creating\",\"reservations\":[{\"sku\":{\"name\":\"Standard_b1ls\"},\"id\":\"/providers/microsoft.capacity/reservationOrders/10000000-aaaa-bbbb-cccc-200000000001/reservations/10000000-aaaa-bbbb-cccc-200000000007\",\"type\":\"Microsoft.Capacity/reservationOrders/reservations\",\"name\":\"10000000-aaaa-bbbb-cccc-200000000001/10000000-aaaa-bbbb-cccc-200000000007\",\"etag\":1,\"location\":\"westus\",\"properties\":{\"appliedScopeType\":\"Shared\",\"quantity\":1,\"provisioningState\":\"Creating\",\"displayName\":\"TestVm1\",\"effectiveDateTime\":\"2022-07-05T00:23:59.0766746Z\",\"lastUpdatedDateTime\":\"2022-07-05T00:23:59.0766746Z\",\"reservedResourceType\":\"VirtualMachines\",\"instanceFlexibility\":\"On\",\"skuDescription\":\"Reserved VM Instance, Standard_B1ls, US West, 1 Year\",\"renew\":false,\"archived\":false}}],\"originalQuantity\":1,\"billingPlan\":\"Upfront\"}}",
    }
  },
  "New-AzReservation+[NoContext]+PurchaseExpanded+$GET+https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/10000000-aaaa-bbbb-cccc-200000000001?api-version=2022-03-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/10000000-aaaa-bbbb-cccc-200000000001?api-version=2022-03-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "3" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/microsoft.capacity/reservationOrders/10000000-aaaa-bbbb-cccc-200000000001\",\"type\":\"Microsoft.Capacity/reservationOrders\",\"name\":\"10000000-aaaa-bbbb-cccc-200000000001\",\"etag\":6,\"properties\":{\"displayName\":\"TestVm1\",\"requestDateTime\":\"2022-07-05T00:23:59.0766746Z\",\"term\":\"P1Y\",\"provisioningState\":\"PendingBilling\",[...]
