{
  "Split-AzReservation+[NoContext]+SplitExpanded+$POST+https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/50000000-aaaa-bbbb-cccc-200000000002/split?api-version=2022-03-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Capacity/reservationOrders/50000000-aaaa-bbbb-cccc-200000000002/split?api-version=2022-03-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"quantities\": [ 7, 3 ],\r\n    \"reservationId\": \"/providers/Microsoft.Capacity/reservationOrders/50000000-aaaa-bbbb-cccc-200000000002/reservations/10000000-aaaa-bbbb-cccc-200000000006\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Location": [ "https://management.azure.com/providers/Microsoft.Capacity/reservationorders/50000000-aaaa-bbbb-cccc-200000000002/splitoperationresults/10000000-aaaa-bbbb-cccc-200000000006_10?api-version=2022-03-01" ],
        "Retry-After": [ "10" ],
        "x-ms-ratelimit-remaining-tenant-writes": [ "1199" ],
        "x-ms-test": [ "{\"contact\":\"sornaks\",\"scenarios\":\"MultiCurrencyTesting\",\"retention\":\"10/3/2022 1:03:02 AM\"}" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "[{\"sku\":{\"name\":\"Standard_B1s\"},\"id\":\"/providers/microsoft.capacity/reservationOrders/50000000-aaaa-bbbb-cccc-200000000002/reservations/f9b2f091-0ac4-4308-bfd0-2d1710765a7a/revisions/2\",\"type\":\"Microsoft.Capacity/reservationOrders/reservations/revisions\",\"name\":\"50000000-aaaa-bbbb-cccc-200000000002/f9b2f091-0ac4-4308-bfd0-2d1710765a7a/2\",\"etag\":2,\"location\":\"westeurope\",\"properties\":{\"appliedScopeType\":\"Shared\",\"quantity\":7,\"provisioningState\":\"Succeeded\",\"expiryDate\":\"2025-07-05\",\"benefitStartTime\":\"2022-07-05T01:09:39.0273547Z\",\"displayName\":\"VM_RI_07-04-2022_18-02\",\"effectiveDateTime\":\"2022-07-05T01:40:36.3124782Z\",\"lastUpdatedDateTime\":\"2022-07-05T01:40:43.0448976Z\",\"reservedResourceType\":\"VirtualMachines\",\"instanceFlexibility\":\"On\",\"skuDescription\":\"Reserved VM Instance, Standard_B1s, EU West, 3 Years\",\"splitProperties\":{\"splitSource\":\"/providers/microsoft.capacity/reservationOrders/50000000-aaaa-bbbb-cccc-200000000002/reservations/10000000-aaaa-bbbb-cccc-200000000006\"},\"renew\":false,\"archived\":false}},{\"sku\":{\"name\":\"Standard_B1s\"},\"id\":\"/providers/microsoft.capacity/reservationOrders/50000000-aaaa-bbbb-cccc-200000000002/reservations/980864e6-f534-44f7-9413-7211dcd96c4f/revisions/2\",\"type\":\"Microsoft.Capacity/reservationOrders/reservations/revisions\",\"name\":\"50000000-aaaa-bbbb-cccc-200000000002/980864e6-f534-44f7-9413-7211dcd96c4f/2\",\"etag\":2,\"location\":\"westeurope\",\"properties\":{\"appliedScopeType\":\"Shared\",\"quantity\":3,\"provisioningState\":\"Succeeded[...]
