{
  "Entries": [
    {
      "RequestUri": "/subscriptions/592cc9de-a3cd-4d70-9bc1-c1a28a3625b5/resourceGroups/SiddharthsSub/providers/Microsoft.Cache/Redis/sunny-premium/patchSchedules/default?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"scheduleEntries\": [\r\n      {\r\n        \"dayOfWeek\": \"Saturday\",\r\n        \"startHourUtc\": 2,\r\n        \"maintenanceWindow\": \"PT6H\"\r\n      },\r\n      {\r\n        \"dayOfWeek\": \"Sunday\",\r\n        \"startHourUtc\": 2,\r\n        \"maintenanceWindow\": \"PT6H\"\r\n      },\r\n      {\r\n        \"dayOfWeek\": \"Thursday\",\r\n        \"startHourUtc\": 10,\r\n        \"maintenanceWindow\": \"PT9H\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/592cc9de-a3cd-4d70-9bc1-c1a28a3625b5/resourceGroups/SiddharthsSub/providers/Microsoft.Cache/Redis/sunny-premium/patchSchedules/default\",\r\n  \"location\": \"West US\",\r\n  \"name\": \"sunny-premium/default\",\r\n  \"type\": \"Microsoft.Cache/Redis/PatchSchedules\",\r\n  \"properties\": {\r\n    \"scheduleEntries\": [\r\n      {\r\n        \"dayOfWeek\": \"Saturday\",\r\n        \"startHourUtc\": 2,\r\n        \"maintenanceWindow\": \"PT6H\"\r\n      },\r\n      {\r\n        \"dayOfWeek\": \"Sunday\",\r\n        \"startHourUtc\": 2,\r\n        \"maintenanceWindow\": \"PT6H\"\r\n      },\r\n      {\r\n        \"dayOfWeek\": \"Thursday\",\r\n        \"startHourUtc\": 10,\r\n        \"maintenanceWindow\": \"PT9H\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-rp-server-mvid": [
          "ee94f66d-6cbf-4677-9102-16a91b3a282c"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/592cc9de-a3cd-4d70-9bc1-c1a28a3625b5/resourceGroups/SiddharthsSub/providers/Microsoft.Cache/Redis/sunny-premium/patchSchedules/default?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"There are no patch schedules found for redis cache 'sunny-premium'.\\r\\nRequestID=391c4d63-ee26-4815-aa51-95ef2e2e1014\",\r\n    \"target\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-rp-server-mvid": [
          "ee94f66d-6cbf-4677-9102-16a91b3a282c"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/592cc9de-a3cd-4d70-9bc1-c1a28a3625b5/resourceGroups/SiddharthsSub/providers/Microsoft.Cache/Redis/sunny-premium/patchSchedules/default?api-version=2016-04-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "ee94f66d-6cbf-4677-9102-16a91b3a282c"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "592cc9de-a3cd-4d70-9bc1-c1a28a3625b5"
  }
}