{
  "Entries": [
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/providers/Microsoft.Sql?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/providers/Microsoft.Sql\",\r\n  \"namespace\": \"Microsoft.Sql\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"e4ab13ed-33cb-41b4-9140-6e264582cf85\",\r\n      \"roleDefinitionId\": \"ec3ddc95-44dc-47a2-9926-5e9f5ffd44ec\"\r\n    },\r\n    {\r\n      \"applicationId\": \"0130cc9f-7ac5-4026-bd5f-80a08a54e6d9\",\r\n      \"roleDefinitionId\": \"45e8abf8-0ec4-44f3-9c37-cff4f7779302\"\r\n    },\r\n    {\r\n      \"applicationId\": \"76cd24bf-a9fc-4344-b1dc-908275de6d6d\",\r\n      \"roleDefinitionId\": \"c13b7b9c-2ed1-4901-b8a8-16f35468da29\"\r\n    },\r\n    {\r\n      \"applicationId\": \"76c7f279-7959-468f-8943-3954880e0d8c\",\r\n      \"roleDefinitionId\": \"7f7513a8-73f9-4c5f-97a2-c41f0ea783ef\"\r\n    },\r\n    {\r\n      \"applicationId\": \"022907d3-0f1b-48f7-badc-1ba6abab6d66\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locations\": [\r\n        \"Australia Central\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central India\",\r\n        \"Central US\",\r\n        \"East Asia\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"France Central\",\r\n        \"Germany West Central\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"North Central US\",\r\n        \"North Europe\",\r\n        \"Norway East\",\r\n        \"South Africa North\",\r\n        \"South Central US\",\r\n        \"South India\",\r\n        \"Southeast Asia\",\r\n        \"Switzerland North\",\r\n        \"UAE North\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"West Central US\",\r\n        \"West Europe\",\r\n        \"West India\",\r\n        \"West US\",\r\n        \"West US 2\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2017-03-01-preview\",\r\n        \"2015-05-01-preview\",\r\n        \"2015-05-01\",\r\n        \"2014-04-01-preview\",\r\n        \"2014-04-01\",\r\n        \"2014-01-01\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations\",\r\n      \"locations\": [\r\n        \"Australia Central\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central Indi[...]
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourcegroups/ps231?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Europe\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ps231\",\r\n  \"name\": \"ps231\",\r\n  \"location\": \"westeurope\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ps231/providers/Microsoft.Sql/servers/ps1082?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/ps1082' under resource group 'ps231' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ps231/providers/Microsoft.Sql/servers/ps1082?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"ps1082.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westeurope\",\r\n  \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ps231/providers/Microsoft.Sql/servers/ps1082\",\r\n  \"name\": \"ps1082\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ps231/providers/Microsoft.Sql/servers/ps1082?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!\"\r\n  },\r\n  \"location\": \"West Europe\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ps231/providers/Microsoft.Sql/locations/westeurope/serverOperationResults/3fb76baf-2964-497e-93ed-1e860429a8dc?api-version=2019-06-01-preview"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ps231/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/3fb76baf-2964-497e-93ed-1e860429a8dc?api-version=2019-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-09-14T16:46:06.34Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ps231/providers/Microsoft.Sql/locations/westeurope/serverAzureAsyncOperation/3fb76baf-2964-497e-93ed-1e860429a8dc?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"3fb76baf-2964-497e-93ed-1e860429a8dc\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-09-14T16:46:06.34Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ps231/providers/Microsoft.Sql/servers/ps1082/databases/ps157?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/ps1082/databases/ps157' under resource group 'ps231' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ps231/providers/Microsoft.Sql/servers/ps1082/databases/ps157?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 2\r\n  },\r\n  \"kind\": \"v12.0,user,vcore\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 34359738368,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"020a319a-98b3-4206-852d-394f5360528b\",\r\n    \"creationDate\": \"2020-09-14T16:47:36.167Z\",\r\n    \"currentServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"requestedServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"defaultSecondaryLocation\": \"northeurope\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"maxLogSizeBytes\": 10307502080,\r\n    \"earliestRestoreDate\": \"2020-09-14T17:17:36.167Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"readReplicaCount\": 0,\r\n    \"currentSku\": {\r\n      \"name\": \"GP_Gen5\",\r\n      \"tier\": \"GeneralPurpose\",\r\n      \"family\": \"Gen5\",\r\n      \"capacity\": 2\r\n    },\r\n    \"storageAccountType\": \"GRS\"\r\n  },\r\n  \"location\": \"westeurope\",\r\n  \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ps231/providers/Microsoft.Sql/servers/ps1082/databases/ps157\",\r\n  \"name\": \"ps157\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ps231/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/aba2950f-b249-44b3-81f4-4493a264ded2?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"aba2950f-b249-44b3-81f4-4493a264ded2\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-09-14T16:46:57.213Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ps231/providers/Microsoft.Sql/servers/ps1082/databases/ps157/failover?replicaType=Primary&api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ps231/providers/Microsoft.Sql/locations/westeurope/databaseOperationResults/98265083-d54a-4a51-ae50-d2e34f748cd7?api-version=2019-06-01-preview"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ps231/providers/Microsoft.Sql/locations/westeurope/databaseAzureAsyncOperation/98265083-d54a-4a51-ae50-d2e34f748cd7?api-version=2019-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"FailoverDatabaseOrElasticPoolAsync\",\r\n  \"startTime\": \"2020-09-14T16:47:43.603Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ps231/providers/Microsoft.Sql/locations/westeurope/databaseOperationResults/98265083-d54a-4a51-ae50-d2e34f748cd7?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11980"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzIzMS1XRVNURVVST1BFIiwiam9iTG9jYXRpb24iOiJ3ZXN0ZXVyb3BlIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzIzMS1XRVNURVVST1BFIiwiam9iTG9jYXRpb24iOiJ3ZXN0ZXVyb3BlIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzIzMS1XRVNURVVST1BFIiwiam9iTG9jYXRpb24iOiJ3ZXN0ZXVyb3BlIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-FailoverDatabase": [
      "ps231",
      "ps1082",
      "ps157"
    ]
  },
  "Variables": {
    "SubscriptionId": "412b782d-2511-4c6d-98f2-3ea01b1c83c3"
  }
}