{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourcegroups/rgps1482?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/rgps1482\",\r\n  \"name\": \"rgps1482\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/rgps1482/providers/Microsoft.ContainerService/managedClusters/kubeps2202?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.ContainerService/managedClusters/kubeps2202' under resource group 'rgps1482' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/rgps1482/providers/Microsoft.ContainerService/managedClusters/kubeps2202?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourcegroups/rgps1482/providers/Microsoft.ContainerService/managedClusters/kubeps2202\",\r\n  \"location\": \"eastus\",\r\n  \"name\": \"kubeps2202\",\r\n  \"type\": \"Microsoft.ContainerService/ManagedClusters\",\r\n  \"kind\": \"Base\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"powerState\": {\r\n      \"code\": \"Running\"\r\n    },\r\n    \"kubernetesVersion\": \"1.32\",\r\n    \"currentKubernetesVersion\": \"1.32.7\",\r\n    \"dnsPrefix\": \"kubep0e74\",\r\n    \"fqdn\": \"kubep0e74-i4dnpg69.hcp.eastus.azmk8s.io\",\r\n    \"azurePortalFQDN\": \"kubep0e74-i4dnpg69.portal.hcp.eastus.azmk8s.io\",\r\n    \"agentPoolProfiles\": [\r\n      {\r\n        \"name\": \"default\",\r\n        \"count\": 1,\r\n        \"vmSize\": \"standard_a2_v2\",\r\n        \"osDiskSizeGB\": 128,\r\n        \"osDiskType\": \"Managed\",\r\n        \"kubeletDiskType\": \"OS\",\r\n        \"maxPods\": 30,\r\n        \"type\": \"VirtualMachineScaleSets\",\r\n        \"enableAutoScaling\": false,\r\n        \"scaleDownMode\": \"Delete\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"powerState\": {\r\n          \"code\": \"Running\"\r\n        },\r\n        \"orchestratorVersion\": \"1.32\",\r\n        \"currentOrchestratorVersion\": \"1.32.7\",\r\n        \"enableNodePublicIP\": false,\r\n        \"mode\": \"System\",\r\n        \"osType\": \"Linux\",\r\n        \"osSKU\": \"Ubuntu\",\r\n        \"nodeImageVersion\": \"AKSUbuntu-2004fipscontainerd-202510.03.0\",\r\n        \"upgradeSettings\": {\r\n          \"maxSurge\": \"10%\",\r\n          \"maxUnavailable\": \"0\"\r\n        },\r\n        \"enableFIPS\": true,\r\n        \"securityProfile\": {\r\n          \"sshAccess\": \"LocalUser\",\r\n          \"enableVTPM\": false,\r\n          \"enableSecureBoot\": false\r\n        }\r\n      }\r\n    ],\r\n    \"linuxProfile\": {\r\n      \"adminUsername\": \"azureuser\",\r\n      \"ssh\": {\r\n        \"publicKeys\": [\r\n          {\r\n            \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC3My+HmY0labgRY1jOERb9hqoNPXUqeKifbTEbYCZNZmu0X0KsPvdr8H210kL1luu38S5TX9Q3ym56+/m4MmjS8th85CchFd+QJoiGN/0CCh4PA5kcSeQ/FKe++Lh4b1Sja6+BzLZ71FNSuX8icQbbyWXp1polcFfuO00RDZSow7m7WF9xNAfJx2lUcPxG6dSIti18cpmgLGs/tkJit3cWS34cz46UjtlLV4rrZA1lC/ZQEhEV6RGf4/m+ImCkziPDdXB9D31ITEzP6dS57NiZVUhkHa1w5M23V7G7CYhAKkuR7EeHoOF4SVJHxxm2eP0tqMbwnghHJvfUPpHIRraZAPDU1FhVunXCAkmgpf+uHGz+evgfx3NWarvpZICjhCDBLpQAqfWQcDdg619+QQkUw4lSg1KyMLeg1xpAj6bCwPSDuFTCGg0vK0fxdmzlMob2EC49XMStK674IY3zzLl+HDwhc1IgwZJNbRA3iboo0UN+llppDrTYwN2N+3wmjf0= fareast\\\\yanxu1@yanxu1\\r\\n\"\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"windowsProfile\": {\r\n      \"adminUsername\": \"azureuser\",\r\n      \"enableCSIProxy\": true\r\n    },\r\n    \"servicePrincipalProfile\": {\r\n      \"clientId\": \"2716d67c-f0bb-43ba-b159-c1aee9ae57a2\"\r\n    },\r\n    \"nodeResourceGroup\": \"MC_rgps1482_kubeps2202_eastus\",\r\n    \"enableRBAC\": true,\r\n    \"supportPlan\": \"KubernetesOfficial\",\r\n    \"networkProfile\": {\r\n      \"networkPlugin\": \"azure\",\r\n      \"networkPolicy\": \"none\",\r\n      \"networkDataplane\": \"azure\",\r\n      \"loadBalancerSku\": \"standard\",\r\n      \"loadBalancerProfile\": {\r\n        \"managedOutboundIPs\": {\r\n          \"count\": 1\r\n        },\r\n        \"effectiveOutboundIPs\": [\r\n          {\r\n            \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/MC_rgps1482_kubeps2202_eastus/providers/Microsoft.Network/publicIPAddresses/d531f74d-41bc-467d-8407-635e4488fbba\"\r\n          }\r\n        ],\r\n        \"backendPoolType\": \"nodeIPConfiguration\"\r\n      },\r\n      \"serviceCidr\": \"10.0.0.0/16\",\r\n      \"dnsServiceIP\": \"10.0.0.10\",\r\n      \"outboundType\": \"loadBalancer\",\r\n      \"serviceCidrs\": [\r\n        \"10.0.0.0/16\"\r\n      ],\r\n      \"ipFamilies\": [\r\n        \"IPv4\"\r\n      ]\r\n    },\r\n    \"maxAgentPools\": 100,\r\n    \"autoUpgradeProfile\": {\r\n      \"nodeOSUpgradeChannel\": \"NodeImage\"\r\n    },\r\n    \"securityProfile\": {},\r\n    \"storageProfile\": {\r\n      \"diskCSIDriver\": {\r\n        \"enabled\": true\r\n      },\r\n      \"fileCSIDriver\": {\r\n        \"enabled\": true\r\n      },\r\n      \"snapshotController\": {\r\n        \"enabled\": true\r\n      }\r\n    },\r\n    \"oidcIssuerProfile\": {\r\n      \"enabled\": false\r\n    },\r\n    \"workloadAutoScalerProfile\": {},\r\n    \"resourceUID\": \"69002b62e03fce0001f00584\",\r\n    \"metricsProfile\": {\r\n      \"costAnalysis\": {\r\n        \"enabled\": false\r\n      }\r\n    },\r\n    \"nodeProvisioningProfile\": {\r\n      \"mode\": \"Manual\",\r\n      \"defaultNodePools\": \"Auto\"\r\n    },\r\n    \"bootstrapProfile\": {\r\n      \"artifactSource\": \"Direct\"\r\n    }\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Base\",\r\n    \"tier\": \"Free\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.ContainerService?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.ContainerService\",\r\n  \"namespace\": \"Microsoft.ContainerService\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"7319c514-987d-4e9b-ac3d-d38c4f427f4c\",\r\n      \"roleDefinitionId\": \"1b4a0c7f-2217-416f-acfa-cf73452fdc1c\",\r\n      \"managedByRoleDefinitionId\": \"9e3af657-a8ff-583c-a75c-2fe7c4bcb635\",\r\n      \"managedByAuthorization\": {\r\n        \"allowManagedByInheritance\": true\r\n      }\r\n    },\r\n    {\r\n      \"applicationId\": \"6dae42f8-4368-4678-94ff-3960e28e3630\",\r\n      \"roleDefinitionId\": \"831388fc-33b1-4dd1-b64c-40fdcaf96654\"\r\n    },\r\n    {\r\n      \"applicationId\": \"609d2f62-527f-4451-bfd2-ac2c7850822c\",\r\n      \"roleDefinitionId\": \"396a420e-37b1-40a8-96e0-1eb9c21c977e\",\r\n      \"managedByRoleDefinitionId\": \"9e3af657-a8ff-583c-a75c-2fe7c4bcb635\",\r\n      \"managedByAuthorization\": {\r\n        \"allowManagedByInheritance\": true\r\n      }\r\n    },\r\n    {\r\n      \"applicationId\": \"589ce44b-ca13-4384-89e2-dd4e642a4b37\",\r\n      \"roleDefinitionId\": \"ca44e057-26dd-4086-93b8-e3fd567b5eed\"\r\n    },\r\n    {\r\n      \"applicationId\": \"4730902d-4371-4615-ba76-e99be524bd44\",\r\n      \"roleDefinitionId\": \"e45735a4-eb04-49e6-8168-9fa0a8124b2f\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"deploymentSafeguards\",\r\n      \"locations\": [\r\n        \"Australia Central\",\r\n        \"Australia Central 2\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Austria East\",\r\n        \"Belgium Central\",\r\n        \"Brazil South\",\r\n        \"Brazil Southeast\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central India\",\r\n        \"Central US\",\r\n        \"Chile Central\",\r\n        \"East Asia\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"Fr[...]
[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.ContainerService/locations/eastus/operations/5236ae30-2795-4415-a401-606922030d5d?api-version=2025-03-01&t=638972155870824189&c=MIIHhzCCBm-gAwIBAgITfAlY2NhYWz_rkiYT0gAACVjY2DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE5MDMwMTUzWhcNMjYwNDE3MDMwMTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZ[...]
[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/rgps1482/providers/Microsoft.ContainerService/managedClusters/kubeps2202/agentPools?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourcegroups/rgps1482/providers/Microsoft.ContainerService/managedClusters/kubeps2202/agentPools/default\",\r\n      \"name\": \"default\",\r\n      \"type\": \"Microsoft.ContainerService/managedClusters/agentPools\",\r\n      \"properties\": {\r\n        \"count\": 1,\r\n        \"vmSize\": \"standard_a2_v2\",\r\n        \"osDiskSizeGB\": 128,\r\n        \"osDiskType\": \"Managed\",\r\n        \"kubeletDiskType\": \"OS\",\r\n        \"maxPods\": 30,\r\n        \"type\": \"VirtualMachineScaleSets\",\r\n        \"enableAutoScaling\": false,\r\n        \"scaleDownMode\": \"Delete\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"powerState\": {\r\n          \"code\": \"Running\"\r\n        },\r\n        \"orchestratorVersion\": \"1.32\",\r\n        \"currentOrchestratorVersion\": \"1.32.7\",\r\n        \"enableNodePublicIP\": false,\r\n        \"mode\": \"System\",\r\n        \"osType\": \"Linux\",\r\n        \"osSKU\": \"Ubuntu\",\r\n        \"nodeImageVersion\": \"AKSUbuntu-2004fipscontainerd-202510.03.0\",\r\n        \"upgradeSettings\": {\r\n          \"maxSurge\": \"10%\",\r\n          \"maxUnavailable\": \"0\"\r\n        },\r\n        \"enableFIPS\": true,\r\n        \"securityProfile\": {\r\n          \"sshAccess\": \"LocalUser\",\r\n          \"enableVTPM\": false,\r\n          \"enableSecureBoot\": false\r\n        }\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": \"https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/rgps1482/providers/Microsoft.ContainerService/managedClusters/kubeps2202/agentPools?%24skipToken=12448006&api-version=2025-08-01&skipToken=12448006\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/rgps1482/providers/Microsoft.ContainerService/managedClusters/kubeps2202/agentPools?%24skipToken=12448006&api-version=2025-08-01&skipToken=12448006",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/rgps1482/providers/Microsoft.ContainerService/managedClusters/kubeps2202/agentPools/pool2?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"NotFound\",\r\n  \"details\": [\r\n    {\r\n      \"code\": \"Unspecified\",\r\n      \"message\": \"rpc error: code = NotFound desc = Agent Pool not found\"\r\n    }\r\n  ],\r\n  \"message\": \"Could not find the agentpool: pool2 in subscription: 0e745469-49f8-48c9-873b-24ca87143db1, resourceGroup: rgps1482, resourceName: kubeps2202.\",\r\n  \"subcode\": \"GetAgentPool_NotFound_HCPServerError\"\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/rgps1482/providers/Microsoft.ContainerService/managedClusters/kubeps2202/agentPools/pool2?api-version=2025-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"count\": 1,\r\n    \"vmSize\": \"standard_a2_v2\",\r\n    \"osDiskSizeGB\": 0,\r\n    \"enableFIPS\": true\r\n  }\r\n}",
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.ContainerService/locations/eastus/operations/01039a67-05fe-42e7-88bf-3e1f143582c1?api-version=2025-03-01&t=638972159378050595&c=MIIHhzCCBm-gAwIBAgITfAlY2NhYWz_rkiYT0gAACVjY2DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE5MDMwMTUzWhcNMjYwNDE3MDMwMTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.ContainerService/locations/eastus/operations/01039a67-05fe-42e7-88bf-3e1f143582c1?api-version=2025-03-01&t=638972159378050595&c=MIIHhzCCBm-gAwIBAgITfAlY2NhYWz_rkiYT0gAACVjY2DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE5MDMwMTUzWhcNMjYwNDE3MDMwMTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZ[...]
[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/rgps1482/providers/Microsoft.ContainerService/managedClusters/kubeps2202?api-version=2025-08-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.ContainerService/locations/eastus/operationresults/d0cccdbd-fb13-44b0-87e9-1e1bb2ee287d?api-version=2025-03-01&t=638972161284575484&c=MIIHhzCCBm-gAwIBAgITfAlY2NhYWz_rkiYT0gAACVjY2DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE5MDMwMTUzWhcNMjYwNDE3MDMwMTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.ContainerService/locations/eastus/operations/d0cccdbd-fb13-44b0-87e9-1e1bb2ee287d?api-version=2025-03-01&t=638972161284575484&c=MIIHhzCCBm-gAwIBAgITfAlY2NhYWz_rkiYT0gAACVjY2DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE5MDMwMTUzWhcNMjYwNDE3MDMwMTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZ[...]
[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.ContainerService/locations/eastus/operationresults/d0cccdbd-fb13-44b0-87e9-1e1bb2ee287d?api-version=2025-03-01&t=638972161284575484&c=MIIHhzCCBm-gAwIBAgITfAlY2NhYWz_rkiYT0gAACVjY2DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDE5MDMwMTUzWhcNMjYwNDE3MDMwMTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5[...]
[...]
    {
      "RequestUri": "/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1BTMTQ4Mi1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2016-09-01&t=638972163194285072&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUxMDIyMTAyMjQ3WhcNMjYwNDIwMTAyMjQ3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY[...]
[...]
