{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"test\",\r\n  \"homepage\": \"http://test\",\r\n  \"identifierUris\": [\r\n    \"http://test\"\r\n  ],\r\n  \"passwordCredentials\": [\r\n    {\r\n      \"startDate\": \"2019-02-12T00:53:38.4797396Z\",\r\n      \"endDate\": \"2020-02-12T00:53:38.4797396Z\",\r\n      \"keyId\": \"e12001e4-1459-40e0-a124-00670e59bf11\",\r\n      \"value\": \"24c44fe6-7b9e-4fd5-8b53-c626e58681a0\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/64f16b23-4bf0-4c20-ab72-63b3b2d17347/Microsoft.DirectoryServices.Application"
        ],
        "ocp-aad-diagnostics-server-name": [
          "dWCANOa3JjPDcseMBZksFWn7gO0rsnL3G7snEFR71w8="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "7lri2wShh88J4YdtKNQV0Qc5bPjFdfamCtRfXOIYNGUA17Nkxeo29uBjyMQrB2rxNZqGmSLKOivDc8qchFLXwhaAWEqzk3fKKiPJCXrthtS3tE5EVdQEJSH5kMYGoNDZJytIIxqppFjtCq79He3zEw.gDpi-3aYp7L99-snpyNZZs8A6JJN9-9HIBF0QamEYcE"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2538788"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"64f16b23-4bf0-4c20-ab72-63b3b2d17347\",\r\n  \"deletionTimestamp\": null,\r\n  \"acceptMappedClaims\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"83b49611-34a7-4034-af75-88292bc3827a\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"test\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://test\",\r\n  \"identifierUris\": [\r\n    \"http://test\"\r\n  ],\r\n  \"informationalUrls\": {\r\n    \"termsOfService\": null,\r\n    \"support\": null,\r\n    \"privacy\": null,\r\n    \"marketing\": null\r\n  },\r\n  \"isDeviceOnlyAuthSupported\": null,\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"logo@odata.mediaContentType\": \"application/json;odata=minimalmetadata; charset=utf-8\",\r\n  \"logoUrl\": null,\r\n  \"oauth2AllowIdTokenImplicitFlow\": true,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access test on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access test\",\r\n      \"id\": \"65ba06e2-78d2-4c0c-a0f1-f1ad244db059\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access test on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access test\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"orgRestrictions\": [],\r\n  \"parentalControlSettings\": {\r\n    \"countriesBlockedForMinors\": [],\r\n    \"legalAgeGroupRule\": \"Allow\"\r\n  },\r\n  \"passwordCredentials\": [\r\n    {\r\n      \"customKeyIdentifier\": null,\r\n      \"endDate\": \"2020-02-12T00:53:38.4797396Z\",\r\n      \"keyId\": \"e12001e4-1459-40e0-a124-00670e59bf11\",\r\n      \"startDate\": \"2019-02-12T00:53:38.4797396Z\",\r\n      \"value\": null\r\n    }\r\n  ],\r\n  \"publicClient\": null,\r\n  \"publisherDomain\": \"rbacCliTest.onmicrosoft.com\",\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"signInAudience\": \"AzureADMyOrg\",\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"83b49611-34a7-4034-af75-88292bc3827a\",\r\n  \"accountEnabled\": true,\r\n  \"passwordCredentials\": [\r\n    {\r\n      \"startDate\": \"2019-02-12T00:53:38.4797396Z\",\r\n      \"endDate\": \"2020-02-12T00:53:38.4797396Z\",\r\n      \"keyId\": \"e12001e4-1459-40e0-a124-00670e59bf11\",\r\n      \"value\": \"24c44fe6-7b9e-4fd5-8b53-c626e58681a0\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.win[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/ec0752af-310a-49de-b75c-75aaedd891f4?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "7zDIRrVJqjSZfhHAIvOE5P1Iegs1wlixjPO7KsOVy0Y="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "e_RfeNS7sm-nJxPu2H0HcTOpcA-WBjwZ-vInQeiazJDjIJ4T5L16KcrqMRCuTDDgyRO9ICKoEHImT0vGvUEEcxlsVjK9Cw_9RLjnVZZlAWHg8Kp2KyJgI4vLh_mQU2EACkWgORXu2BgOueeCIJQReg.uvAFOBVv92OzfpoQP48rqvCe33RUVgVd02t9bC6CauU"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "611548"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"ec0752af-310a-49de-b75c-75aaedd891f4\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"test\",\r\n  \"appId\": \"83b49611-34a7-4034-af75-88292bc3827a\",\r\n  \"appOwnerTenantId\": \"1273adef-00a3-4086-a51a-dbcce1857d36\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"test\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://test\",\r\n  \"informationalUrls\": {\r\n    \"termsOfService\": null,\r\n    \"support\": null,\r\n    \"privacy\": null,\r\n    \"marketing\": null\r\n  },\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access test on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access test\",\r\n      \"id\": \"65ba06e2-78d2-4c0c-a0f1-f1ad244db059\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access test on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access test\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [\r\n    {\r\n      \"customKeyIdentifier\": null,\r\n      \"endDate\": \"2020-02-12T00:53:38.4797396Z\",\r\n      \"keyId\": \"e12001e4-1459-40e0-a124-00670e59bf11\",\r\n      \"startDate\": \"2019-02-12T00:53:38.4797396Z\",\r\n      \"value\": null\r\n    }\r\n  ],\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"rbacCliTestDirectory\",\r\n  \"replyUrls\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"http://test\",\r\n    \"83b49611-34a7-4034-af75-88292bc3827a\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"signInAudience\": \"AzureADMyOrg\",\r\n  \"tags\": [],\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/ec0752af-310a-49de-b75c-75aaedd891f4/keyCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "Ww4JZ3phP63mdXQAX3Q+w5V7Po6AayFlRCSGeKGwhtg="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "Bb5ttywGZObMGOGWay1zn0NrN6OSK97BnxE-Rg1lH5J2DL5NrTmS4rxNFAvgchno59w0Wea63GqM3xag9fcEbwDMoGl19vlekvCum47EEvtyb5Vegl7ll_WPjkkyEa54sklJHWxQVtWH-iYBhi_AyA.EWFoPN5A1AV51nneOdrh87MSc6IJdJYmSaC-Hq87BR0"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "595848"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#Collection(Microsoft.DirectoryServices.KeyCredential)\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/ec0752af-310a-49de-b75c-75aaedd891f4/passwordCredentials?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "s1AYRiKTN8Zyk5kxIB0PtqEoINriycEcNdfPJWLTOYA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
     [...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?$filter=servicePrincipalNames/any(c:%20c%20eq%20'83b49611-34a7-4034-af75-88292bc3827a')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "s1AYRiKTN8Zyk5kxIB0PtqEoINriycEcNdfPJWLTOYA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
       [...]
[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?$filter=appId%20eq%20'83b49611-34a7-4034-af75-88292bc3827a'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "P277HeLOcMoYADlOIgX/5nDH/EQ2eMVFV4LkO8IWIBk="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
       [...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/64f16b23-4bf0-4c20-ab72-63b3b2d17347?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "Ww4JZ3phP63mdXQAX3Q+w5V7Po6AayFlRCSGeKGwhtg="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "WcyUhx1ud0IcOEIxWp6pAl7AU8R9CmsNKWxC91q-L56WvmkLouBoRmEOBKLzl34POaDr6XwuhQT8v4nFTz9qZfunk58HarNdv-U6Xzb1dMDlz_Cl8GZoGqtruwJJF9FxQwyZ8Vm6ixB49yzz11SuzQ.rYPjmXVpSAgLzLI1wnPTYZFWkH_tFg0KD5sME6vwfC0"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1255260"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f"
  }
}