{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"adgroup3810\",\r\n  \"mailNickname\": \"adgroupmail1274\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/540df6d1-8cf1-47fb-8606-f42d4cb02ec2/Microsoft.DirectoryServices.Group"
        ],
        "ocp-aad-diagnostics-server-name": [
          "zZ1f4XOAaTeupg8OmIBOPbaDV65tJpuytfDxxeFsj0o="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "0N7gVrBQllGRRH6USBGhDB_6kw7rz3EpDVLZWPUVhdPUoyJTfpkXYr7GmKaEKgdBPIU7KziXohD1bOt4KiMk4T2S8Bq3oySF8AiqPI5A23D-u6As8VRJwVhPyGHzfXpjFaFKA9Mv3IG1S50yoBRH8A.CN5zwFedgRWZ_QqgCBlKqiikrLPC2nFShIiTvj_ygi4"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1390299"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"540df6d1-8cf1-47fb-8606-f42d4cb02ec2\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"adgroup3810\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"adgroupmail1274\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesDomainName\": null,\r\n  \"onPremisesNetBiosName\": null,\r\n  \"onPremisesSamAccountName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users/540df6d1-8cf1-47fb-8606-f42d4cb02ec2?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "Ww4JZ3phP63mdXQAX3Q+w5V7Po6AayFlRCSGeKGwhtg="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "rNj914AkjkVzrkZ95P8rLYS6HwZf2bYKk90xI0i8KykhJiy-gKuH042d82ihtD00l8EllIKFhWOviRJapI1RUxmiAi8hLw-sBSjNLBrpya55EjR4k0mR45lsMMk6AbsJeQO4_fGy_pOnYK5LHRzvVg.fd-3tMbHMMPGYUZmM4vc6jKO7Thq8NsfGpDbekggYmE"
        ],
        "Duration": [
          "729422"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource '540df6d1-8cf1-47fb-8606-f42d4cb02ec2' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/540df6d1-8cf1-47fb-8606-f42d4cb02ec2?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "7zDIRrVJqjSZfhHAIvOE5P1Iegs1wlixjPO7KsOVy0Y="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "EkN8EVpweaifjgChvf4j06XC2zL9f-itM0pQuz9r9vWSVGMqohGfULtfu8tFl8KOZF0WkL8NO0rJvVZFrU7iMJWNsn8LypNSrzab40UnIWsPm7umIh6Sbeo7H89hY2Fpb0KrR24NDLOc4awz63aOgQ.pF4vx-8S0FglE5HFCzbwWAPJNsMgU5LVPa6T_Bh1XC0"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1199415"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdGroup": [
      "adgroup3810",
      "adgroupmail1274"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}