{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"adgroup6140\",\r\n  \"mailNickname\": \"adgroupmail5525\",\r\n  \"mailEnabled\": false,\r\n  \"securityEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/533973fc-8a53-42cc-b948-24578837ab94/Microsoft.DirectoryServices.Group"
        ],
        "ocp-aad-diagnostics-server-name": [
          "dWCANOa3JjPDcseMBZksFWn7gO0rsnL3G7snEFR71w8="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "8e7XgZGYEMTbG5pDh1mIrQSMP4BpqhH0AeyE6I30uXI1NtwVwP4VeCpmaZxJsbKtwKTdnLGAH_VJMH51wPSD00BVoyUO9LUiaiQHmZ7tu9IgVHP--9NN6RcjT8z5uZJZNtcti1eYmT10hfXe5C-Oww.cHCn3bTXY4L0n1QBh6lVG397nJo7HLXyBOt-U3xaE70"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2724912"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n  \"objectType\": \"Group\",\r\n  \"objectId\": \"533973fc-8a53-42cc-b948-24578837ab94\",\r\n  \"deletionTimestamp\": null,\r\n  \"description\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"adgroup6140\",\r\n  \"lastDirSyncTime\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"adgroupmail5525\",\r\n  \"mailEnabled\": false,\r\n  \"onPremisesDomainName\": null,\r\n  \"onPremisesNetBiosName\": null,\r\n  \"onPremisesSamAccountName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"securityEnabled\": true\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/getObjectsByObjectIds?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"objectIds\": [\r\n    \"533973fc-8a53-42cc-b948-24578837ab94\"\r\n  ],\r\n  \"includeDirectoryObjectReferences\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "7zDIRrVJqjSZfhHAIvOE5P1Iegs1wlixjPO7KsOVy0Y="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "9brtQ-NrmIhiV-6_93OOW8AW4HsKaIPXCxGdE1sCvk0a1A668GwyB0pKzUCof0velzZkapELtfP4dj8V_YmkVH_x48Fs62d3m1VLHJ7TW2fYMrMbEGv3mX8o3ZY0AU8k0LKlYyayIp4L84wF9RUhSg.h1p65Mrc9hL0L_0arTXugyfiryzgPgYdnfYFhxRK99w"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2216087"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n      \"objectType\": \"Group\",\r\n      \"objectId\": \"533973fc-8a53-42cc-b948-24578837ab94\",\r\n      \"deletionTimestamp\": null,\r\n      \"description\": null,\r\n      \"dirSyncEnabled\": null,\r\n      \"displayName\": \"adgroup6140\",\r\n      \"lastDirSyncTime\": null,\r\n      \"mail\": null,\r\n      \"mailNickname\": \"adgroupmail5525\",\r\n      \"mailEnabled\": false,\r\n      \"onPremisesDomainName\": null,\r\n      \"onPremisesNetBiosName\": null,\r\n      \"onPremisesSamAccountName\": null,\r\n      \"onPremisesSecurityIdentifier\": null,\r\n      \"provisioningErrors\": [],\r\n      \"proxyAddresses\": [],\r\n      \"securityEnabled\": true\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/groups/533973fc-8a53-42cc-b948-24578837ab94?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "zZ1f4XOAaTeupg8OmIBOPbaDV65tJpuytfDxxeFsj0o="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "wwBtldDUGePXrgUWsu2_ycUFpXL0kZBAa1gdGoXANkVIbWr-rXXrYzoUOT17RzUAe69xAKriYnAt_uOvVYysL8uNsEZyrpMF_HjMX3bqOqVbIt0xxnSaWgXcSQd7IbZarMvTsQxjdkhI0TScTN-iWw.cXDyej5H6jdb12XOVezKS6KfIsx9ihxYzGNry_HpvjA"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1129113"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdGroup": [
      "adgroup6140",
      "adgroupmail5525"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}