{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"accountEnabled\": true,\r\n  \"displayName\": \"aduser6203\",\r\n  \"passwordProfile\": {\r\n    \"password\": \"adpass78580#$\",\r\n    \"forceChangePasswordNextLogin\": false\r\n  },\r\n  \"userPrincipalName\": \"aduser6203@rbacclitest.onmicrosoft.com\",\r\n  \"mailNickname\": \"aduser6203test\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/e424edcb-cfd1-40cd-a6f1-79977e1c9752/Microsoft.DirectoryServices.User"
        ],
        "ocp-aad-diagnostics-server-name": [
          "Ww4JZ3phP63mdXQAX3Q+w5V7Po6AayFlRCSGeKGwhtg="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "_O6ab-MTx8GMbaRMjKTfGiT9MdCABQlZDDurrYA2zL7NBk3JTB96pEcROV3vcnEXFdqiB7PpvkB1k2-JrhHZz2nnZpSP5u3nVDfsEOH44uwwGR6ZFh09fvVSvEt7FJI2muoAYRB-nkb-vo1-xdQzwQ.iSTzHVO9G6Z5CmVsFFqGtwnM1f3E7GgPaYSHCLbxCf8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "3125050"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.User/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n  \"objectType\": \"User\",\r\n  \"objectId\": \"e424edcb-cfd1-40cd-a6f1-79977e1c9752\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"ageGroup\": null,\r\n  \"assignedLicenses\": [],\r\n  \"assignedPlans\": [],\r\n  \"city\": null,\r\n  \"companyName\": null,\r\n  \"consentProvidedForMinor\": null,\r\n  \"country\": null,\r\n  \"createdDateTime\": null,\r\n  \"creationType\": null,\r\n  \"department\": null,\r\n  \"dirSyncEnabled\": null,\r\n  \"displayName\": \"aduser6203\",\r\n  \"employeeId\": null,\r\n  \"facsimileTelephoneNumber\": null,\r\n  \"givenName\": null,\r\n  \"immutableId\": null,\r\n  \"isCompromised\": null,\r\n  \"jobTitle\": null,\r\n  \"lastDirSyncTime\": null,\r\n  \"legalAgeGroupClassification\": null,\r\n  \"mail\": null,\r\n  \"mailNickname\": \"aduser6203test\",\r\n  \"mobile\": null,\r\n  \"onPremisesDistinguishedName\": null,\r\n  \"onPremisesSecurityIdentifier\": null,\r\n  \"otherMails\": [],\r\n  \"passwordPolicies\": null,\r\n  \"passwordProfile\": null,\r\n  \"physicalDeliveryOfficeName\": null,\r\n  \"postalCode\": null,\r\n  \"preferredLanguage\": null,\r\n  \"provisionedPlans\": [],\r\n  \"provisioningErrors\": [],\r\n  \"proxyAddresses\": [],\r\n  \"refreshTokensValidFromDateTime\": \"2019-01-31T22:45:00.1127729Z\",\r\n  \"showInAddressList\": null,\r\n  \"signInNames\": [],\r\n  \"sipProxyAddress\": null,\r\n  \"state\": null,\r\n  \"streetAddress\": null,\r\n  \"surname\": null,\r\n  \"telephoneNumber\": null,\r\n  \"usageLocation\": null,\r\n  \"userIdentities\": [],\r\n  \"userPrincipalName\": \"aduser6203@rbacclitest.onmicrosoft.com\",\r\n  \"userState\": null,\r\n  \"userStateChangedOn\": null,\r\n  \"userType\": \"Member\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/e424edcb-cfd1-40cd-a6f1-79977e1c9752?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "Ww4JZ3phP63mdXQAX3Q+w5V7Po6AayFlRCSGeKGwhtg="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "Vxz35N_pCBVoBj1PlNNKsgvorm0zC8SME4rQ7DhlX_jtg0Ty867L06fJGMzpoWKzYgHyHNe05yA7vwHdKBQw_A9q6IAvKIGfwwpm_9-dGwY09LNH7WS5ohAGNWMhJrpzj3kbyECnSqCbGyonZldtZA.DCoXKSsGuwon0mVQJNPNcRLnAqwhaMCVn_NP8v8f_3I"
        ],
        "Duration": [
          "527959"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource 'e424edcb-cfd1-40cd-a6f1-79977e1c9752' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users/e424edcb-cfd1-40cd-a6f1-79977e1c9752?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "zZ1f4XOAaTeupg8OmIBOPbaDV65tJpuytfDxxeFsj0o="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "UMM6UiGC0e4VF1ypCOtegG4q3LdONxs37TaVRS5fAJj_CCQaB72iJ6-j2ZZLJlUAWXSxpwVnufKa9vvF4Yp4_RmONixN9s14oy-BxZKn2bax2On1mxq7ThQzroc0fyAKjULw4J4UePPaFgtuyZXLKw.gpC8w17Q62QdhJ4VWILgu7Ux6kdlPc0ZVuA83BMKJ0w"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1242629"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdUser": [
      "aduser6203",
      "adpass7858"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}