{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users?$filter=userPrincipalName%20eq%20'baduser%40rbactest.onmicrosoft.com'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "s1AYRiKTN8Zyk5kxIB0PtqEoINriycEcNdfPJWLTOYA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "8OdAw2IHkc0CJBooYy13ct65Zk3hxr1ZC_BpP3eBkbTrDgD0aeB5aD65ej5TVrYSmcQchiGrgteObl2S3rj7pN2NqtJ2aojOGa-FU3bvwJ7jsmgK6-Y6_mjWj0rlA_GWA36PFU_Ik8C2RCpzisKFiA.C2BesF6HEjb0hdZzYFf15MlnBCH7uwYdHZ3uQFxf_mo"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "544679"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.User\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f"
  }
}