{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/baadc0de-baad-c0de-baad-c0debaadc0de?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "P277HeLOcMoYADlOIgX/5nDH/EQ2eMVFV4LkO8IWIBk="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "8w9E0Xr2tOcc5W-rWx_lC0CPVlCGmD3QpsK_Yxs74NzKNWsYFyIVhqsQWejhNgOe4XblVjDhXwgWKM-tNd5RxZY8dtFt_XWqSjs-UhUG9NPcW7ewyRHUd6173Zzu8SyxrI8A7Mg_qmVC4FTHT7GR6g.m90ivDbUFIrgyu7LX2yTkCwf2wcf3W6TDzyI1SpSE74"
        ],
        "Duration": [
          "563547"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource 'baadc0de-baad-c0de-baad-c0debaadc0de' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f"
  }
}