{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication7842\",\r\n  \"homepage\": \"http://adApplication7842/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication7842/home\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"http://adApplication7842/home\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/f82de66f-a9e8-4e4c-b6d9-dc40fc5b1d40/Microsoft.DirectoryServices.Application"
        ],
        "ocp-aad-diagnostics-server-name": [
          "s1AYRiKTN8Zyk5kxIB0PtqEoINriycEcNdfPJWLTOYA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "BF2A-w4YA8JshRzOWeB5S9CAr5qs8zPzPAbewPdXkFzLGjYnLVy3FpO8aeAR5Evq01flAbYYy9WIHRx1As__mcVQhccF5P2rJtOewGf1Fq_gV9CyPU4-HlH8toBs5fScpnTMJvD1QJy2cuFp3Xh81A.BIvuSeyYEQ30T1OXbKHLco_QhWLykYVYuJ4hALLLFmE"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2134227"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"f82de66f-a9e8-4e4c-b6d9-dc40fc5b1d40\",\r\n  \"deletionTimestamp\": null,\r\n  \"acceptMappedClaims\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"8fa95360-b256-4ee0-93f2-71aade3a07aa\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication7842\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://adApplication7842/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication7842/home\"\r\n  ],\r\n  \"informationalUrls\": {\r\n    \"termsOfService\": null,\r\n    \"support\": null,\r\n    \"privacy\": null,\r\n    \"marketing\": null\r\n  },\r\n  \"isDeviceOnlyAuthSupported\": null,\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"logo@odata.mediaContentType\": \"application/json;odata=minimalmetadata; charset=utf-8\",\r\n  \"logoUrl\": null,\r\n  \"oauth2AllowIdTokenImplicitFlow\": true,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access adApplication7842 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access adApplication7842\",\r\n      \"id\": \"554e218c-eb77-4886-af14-54ec4e494a23\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access adApplication7842 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access adApplication7842\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"orgRestrictions\": [],\r\n  \"parentalControlSettings\": {\r\n    \"countriesBlockedForMinors\": [],\r\n    \"legalAgeGroupRule\": \"Allow\"\r\n  },\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"publisherDomain\": \"rbacCliTest.onmicrosoft.com\",\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [\r\n    \"http://adApplication7842/home\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"signInAudience\": \"AzureADMyOrg\",\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"8fa95360-b256-4ee0-93f2-71aade3a07aa\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/directoryObjects/2e166b88-cbd7-49de-9030-771eefb643f6/Microsoft.DirectoryServices.ServicePrincipal"
        ],
        "ocp-aad-diagnostics-server-name": [
          "dWCANOa3JjPDcseMBZksFWn7gO0rsnL3G7snEFR71w8="
        ],
        "x-ms-dirapi-data[...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?$filter=servicePrincipalNames/any(c:%20c%20eq%20'http%3A%2F%2FadApplication7842%2Fhome')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "s1AYRiKTN8Zyk5kxIB0PtqEoINriycEcNdfPJWLTOYA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
      [...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals/2e166b88-cbd7-49de-9030-771eefb643f6?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "s1AYRiKTN8Zyk5kxIB0PtqEoINriycEcNdfPJWLTOYA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "5B6EpZsbeXHW4RVU-fRhATwgv_OhoZTOgSW9RCSuyjACeZFci3iF9U01atGtETbFJcRMxbD3aacRn7TiYqREMz5BnmQw4s2mLYHnaG-QBSCoHBw7dnHw3-c3RnzoX6e7piTerSvL7cUY2cmGjgQMkw.J_7ePVD4L9MlxEW_pw5KlB-fiYzFyotnojtYJkU4kKo"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1232309"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/applications/f82de66f-a9e8-4e4c-b6d9-dc40fc5b1d40?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "dWCANOa3JjPDcseMBZksFWn7gO0rsnL3G7snEFR71w8="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "xEH5x9WnFpLqFbhGihZK3GyAWiafLfW4Vp4krwnQUT3lnLjsKhV0PU--J9X5TZ-YmO8RZYxRZ3JrOtoOZ6QE7x9BounkabwJOJkSoMN9AZ557LySEHw2dpNrfV5-Dm5i7i18Ym9idcPZMpKtVBR0ig.HvWSnCwBXpJBAdkzsrnnZyNOS7gx9eziHmsTNwas5CE"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1229765"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdApp": [
      "adApplication7842"
    ]
  },
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}