{
  "Test-AzActionGroup+[NoContext]+CreateExpanded+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/Monitor-ActionGroup/providers/Microsoft.Insights/actionGroups/actiongroupGet/createNotifications?api-version=2023-01-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/Monitor-ActionGroup/providers/Microsoft.Insights/actionGroups/actiongroupGet/createNotifications?api-version=2023-01-01",
      "Content": "{\r\n  \"alertType\": \"servicehealth\",\r\n  \"emailReceivers\": [\r\n    {\r\n      \"name\": \"emailreceiver1\",\r\n      \"emailAddress\": \"v-jiaji@microsoft.com\"\r\n    },\r\n    {\r\n      \"name\": \"emailreceiver2\",\r\n      \"emailAddress\": \"user@example.com\"\r\n    }\r\n  ]\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/Monitor-ActionGroup/providers/microsoft.insights/actionGroups/actiongroupGet/notificationStatus/11000010774239?api-version=2023-01-01" ],
        "X-ActivityId": [ "4e20e3f9-25e9-4ede-bc65-181a0db43222" ],
        "X-ServedBy": [ "SN1AZNS000001" ],
        "api-supported-versions": [ "2021-09-01, 2022-04-01, 2022-06-01, 2023-01-01, 2023-03-01-preview, 2023-05-01-preview, 2023-05-01, 2023-08-01-preview, 2023-09-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1197" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Test-AzActionGroup+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/Monitor-ActionGroup/providers/microsoft.insights/actionGroups/actiongroupGet/notificationStatus/11000010774239?api-version=2023-01-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/Monitor-ActionGroup/providers/microsoft.insights/actionGroups/actiongroupGet/notificationStatus/11000010774239?api-version=2023-01-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "17" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "X-ActivityId": [ "4e20e3f9-25e9-4ede-bc65-181a0db43222" ],
        "X-ServedBy": [ "SN1AZNS000001" ],
        "api-supported-versions": [ "2021-09-01, 2022-04-01, 2022-06-01, 2023-01-01, 2023-03-01-preview, 2023-05-01-preview, 2023-05-01, 2023-08-01-preview, 2023-09-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"context\":{\"notificationSource\":\"Microsoft.Insights/TestNotification\",\"contextType\":\"Microsoft.Insights/ServiceHealth\"},\"state\":\"InProgress\",\"completedTime\":\"0001-01-01T00:00:00+00:00\",\"createdTime\":\"2023-11-08T05:38:50.5790286+00:00\",\"actionDetails\":[{\"MechanismType\":\"Email\",\"Name\":\"emailreceiver1\",\"Status\":\"InProgress\",\"SubState\":\"Default\",\"SendTime\":\"2023-11-08T05:39:00.7436042+00:00\",\"Message\":null},{\"MechanismType\":\"Email\",\"Name\":\"emailreceiver2\",\"Status\":\"InProgress\",\"SubState\":\"Default\",\"SendTime\":\"2023-11-08T05:39:00.7436042+00:00\",\"Message\":null}]}",
    }
  },
  "Test-AzActionGroup+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/Monitor-ActionGroup/providers/microsoft.insights/actionGroups/actiongroupGet/notificationStatus/11000010774239?api-version=2023-01-01+3": {
    "Request"[...]
