{
  "Get-AzMapsSubscriptionOperation+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.Maps/operations?api-version=2021-02-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.Maps/operations?api-version=2021-02-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "16" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11968" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Maps/resourceTypes/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft.Maps\",\r\n        \"resource\": \"resourceTypes\",\r\n        \"operation\": \"Read the provider resourceTypes\",\r\n        \"description\": \"Read the provider resourceTypes\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Maps/unregister/action\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft.Maps\",\r\n        \"resource\": \"unregister\",\r\n        \"operation\": \"Unregister provider\",\r\n        \"description\": \"Unregister the Maps provider\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Maps/operations/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft.Maps\",\[...]
