{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps8166/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps7638?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'sfmcps-rg-ps8166' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps8166/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps7638?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11985"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmcps-rg-ps8166/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps7638\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\": \"northeurope\",\r\n  \"name\": \"sfmcps-ps7638\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"clusterId\": \"3e49531d-ffb4-4dc3-92c4-f7499909d08a\",\r\n    \"clusterState\": \"WaitingForNodes\",\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfmcps-ps7638\",\r\n    \"fqdn\": \"sfmcps-ps7638.northeurope.cloudapp.azure.com\",\r\n    \"ipv4Address\": \"13.74.30.132\",\r\n    \"clusterCertificateThumbprints\": [\r\n      \"2C82C974425C711B2B8D65A4E0AB55122F64B457\"\r\n    ],\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"allowRdpAccess\": false,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": false,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ],\r\n    \"enableAutoOSUpgrade\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps8166/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps7638?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11958"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmcps-rg-ps8166/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps7638\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\": \"northeurope\",\r\n  \"name\": \"sfmcps-ps7638\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"clusterId\": \"3e49531d-ffb4-4dc3-92c4-f7499909d08a\",\r\n    \"clusterState\": \"Deploying\",\r\n    \"clusterCodeVersion\": \"7.2.432.9590\",\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfmcps-ps7638\",\r\n    \"fqdn\": \"sfmcps-ps7638.northeurope.cloudapp.azure.com\",\r\n    \"ipv4Address\": \"13.74.30.132\",\r\n    \"clusterCertificateThumbprints\": [\r\n      \"2C82C974425C711B2B8D65A4E0AB55122F64B457\"\r\n    ],\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"allowRdpAccess\": false,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": false,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ],\r\n    \"enableAutoOSUpgrade\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmcps-rg-ps8166?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'sfmcps-rg-ps8166' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps8166/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps7638?api-version=2021-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"dnsName\": \"sfmcps-ps7638\",\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"adminPassword\": \"TestPass1234!@#\",\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": false,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ]\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"location\": \"northeurope\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/northeurope/managedclusteroperations/516f0002-363b-4c62-9f9d-afcc2f926d54?api-version=2021-01-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/northeurope/managedclusteroperations/516f0002-363b-4c62-9f9d-afcc2f926d54?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"516f0002-363b-4c62-9f9d-afcc2f926d54\",\r\n  \"startTime\": \"2021-02-17T01:44:38.3764526Z\",\r\n  \"endTime\": \"0001-01-01T00:00:00\",\r\n  \"percentComplete\": 30.0,\r\n  \"status\": \"Created\",\r\n  \"error\": {\r\n    \"code\": \"OperationFailed\",\r\n    \"message\": \"\",\r\n    \"details\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps8166/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps7638/nodeTypes/pnt?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"GetEntityFromTable: the NodeTypeData 3e49531d-ffb4-4dc3-92c4-f7499909d08a_pnt could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps8166/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps7638/nodeTypes/pnt?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11959"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmcps-rg-ps8166/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps7638/nodetypes/pnt\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters/nodetypes\",\r\n  \"location\": \"northeurope\",\r\n  \"name\": \"pnt\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"isPrimary\": true,\r\n    \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n    \"vmImageOffer\": \"WindowsServer\",\r\n    \"vmImageSku\": \"2019-Datacenter\",\r\n    \"vmImageVersion\": \"latest\",\r\n    \"vmSize\": \"Standard_D2_v2\",\r\n    \"vmInstanceCount\": 5,\r\n    \"dataDiskSizeGB\": 100,\r\n    \"placementProperties\": {},\r\n    \"capacities\": {}\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps8166/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps7638/nodeTypes/pnt?api-version=2021-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"isPrimary\": true,\r\n    \"vmInstanceCount\": 6,\r\n    \"dataDiskSizeGB\": 100,\r\n    \"placementProperties\": {},\r\n    \"capacities\": {},\r\n    \"vmSize\": \"Standard_D2_v2\",\r\n    \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n    \"vmImageOffer\": \"WindowsServer\",\r\n    \"vmImageSku\": \"2019-Datacenter\",\r\n    \"vmImageVersion\": \"latest\"\r\n  },\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/northeurope/managedclusteroperationresults/a6020002-68ab-43e1-939c-15ddc4a557b0?api-version=2021-01-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/northeurope/managedclusteroperations/a6020002-68ab-43e1-939c-15ddc4a55[...]
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/northeurope/managedclusteroperationresults/f2ae0002-3e81-4356-b39b-096e8b31c004?api-version=2021-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11863"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "Test-CreateBasicCluster": [
      "ps8166",
      "ps7638"
    ]
  },
  "Variables": {
    "SubscriptionId": "b36cdf46-b75d-4dc2-9fe1-1296ee8c623d"
  }
}