{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps1311/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps8384?api-version=2020-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'sfmcps-rg-ps1311' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps1311/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps8384?api-version=2020-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11982"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmcps-rg-ps1311/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps8384\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\": \"southcentralus\",\r\n  \"name\": \"sfmcps-ps8384\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"clusterId\": \"e46dc795-0a4d-4aa5-a843-bdd16aa7387d\",\r\n    \"clusterState\": \"WaitingForNodes\",\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfmcps-ps8384\",\r\n    \"fqdn\": \"sfmcps-ps8384.southcentralus.cloudapp.azure.com\",\r\n    \"clusterCertificateThumbprint\": \"E9702F24C59E56853BDDBE9F88F04699A8A0AD50\",\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": false,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ],\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmcps-rg-ps1311?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'sfmcps-rg-ps1311' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps1311/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps8384?api-version=2020-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"dnsName\": \"sfmcps-ps8384\",\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"adminPassword\": \"TestPass1234!@#\",\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": false,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ],\r\n    \"useTestExtension\": false,\r\n    \"clusterUpgradeMode\": \"Automatic\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/e9ee0001-83bb-4654-87f0-0fd0dee4a32f?api-version=2020-01-01-preview&Experiment=local"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmcps-rg-ps1311/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps8384\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters\",\r\n  \"location\": \"southcentralus\",\r\n  \"name\": \"sfmcps-ps8384\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"clusterId\": \"e46dc795-0a4d-4aa5-a843-bdd16aa7387d\",\r\n    \"clusterUpgradeCadence\": \"Wave0\",\r\n    \"adminUserName\": \"vmadmin\",\r\n    \"dnsName\": \"sfmcps-ps8384\",\r\n    \"clientConnectionPort\": 19000,\r\n    \"httpGatewayConnectionPort\": 19080,\r\n    \"clients\": [\r\n      {\r\n        \"isAdmin\": false,\r\n        \"thumbprint\": \"123BDACDCDFB2C7B250192C6078E47D1E1DB119B\"\r\n      }\r\n    ],\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/e9ee0001-83bb-4654-87f0-0fd0dee4a32f?api-version=2020-01-01-preview&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"e9ee0001-83bb-4654-87f0-0fd0dee4a32f\",\r\n  \"startTime\": \"2020-08-31T22:51:09.8484007Z\",\r\n  \"endTime\": \"0001-01-01T00:00:00\",\r\n  \"percentComplete\": 30.0,\r\n  \"status\": \"Created\",\r\n  \"error\": {\r\n    \"code\": \"OperationFailed\",\r\n    \"message\": \"\",\r\n    \"details\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps1311/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps8384/nodeTypes/pnt?api-version=2020-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11981"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"GetEntityFromTable: the NodeTypeData e46dc795-0a4d-4aa5-a843-bdd16aa7387d_pnt could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps1311/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps8384/nodeTypes/pnt?api-version=2020-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11926"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/sfmcps-rg-ps1311/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps8384/nodetypes/pnt\",\r\n  \"type\": \"Microsoft.ServiceFabric/managedclusters/nodetypes\",\r\n  \"location\": \"southcentralus\",\r\n  \"name\": \"pnt\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"isPrimary\": true,\r\n    \"vmImagePublisher\": \"MicrosoftWindowsServer\",\r\n    \"vmImageOffer\": \"WindowsServer\",\r\n    \"vmImageSku\": \"2019-Datacenter\",\r\n    \"vmImageVersion\": \"latest\",\r\n    \"vmSize\": \"Standard_D2\",\r\n    \"vmInstanceCount\": 5,\r\n    \"dataDiskSizeGB\": 100,\r\n    \"placementProperties\": {},\r\n    \"capacities\": {}\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps1311/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps8384/nodeTypes/snt?api-version=2020-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"GetEntityFromTable: the NodeTypeData e46dc795-0a4d-4aa5-a843-bdd16aa7387d_snt could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps1311/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps8384/nodeTypes/snt/restart?api-version=2020-01-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"nodes\": [\r\n    \"snt_0\",\r\n    \"snt_1\"\r\n  ],\r\n  \"force\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/0d690001-2612-49fe-94a5-0d4bb1ccefe2?api-version=2020-01-01-preview&Experiment=local"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/0d690001-2612-49fe-94a5-0d4bb1ccefe2?api-version=2020-01-01-preview&Experiment=local"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/0d690001-2612-49fe-94a5-0d4bb1ccefe2?api-version=2020-01-01-preview&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11898"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps1311/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps8384/nodeTypes/snt/deleteNode?api-version=2020-01-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"nodes\": [\r\n    \"snt_1\"\r\n  ],\r\n  \"force\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/66890001-2f68-43ba-904d-c6b850534774?api-version=2020-01-01-preview&Experiment=local"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/66890001-2f68-43ba-904d-c6b850534774?api-version=2020-01-01-preview&Experiment=local"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/sfmcps-rg-ps1311/providers/Microsoft.ServiceFabric/managedClusters/sfmcps-ps8384/nodeTypes/snt/reimage?api-version=2020-01-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"nodes\": [\r\n    \"snt_3\"\r\n  ],\r\n  \"force\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/3dab0001-d5e8-453f-831f-6a21ce51e493?api-version=2020-01-01-preview&Experiment=local"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperations/3dab0001-d5e8-453f-831f-6a21ce51e493?api-version=2020-01-01-preview&Experiment=local"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/managedclusteroperationresults/79fc0001-1ac3-4578-8bc1-7b9bedac2764?api-version=2020-01-01-preview&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11731"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "Test-NodeTypeOperations": [
      "ps1311",
      "ps8384"
    ]
  },
  "Variables": {
    "SubscriptionId": "b36cdf46-b75d-4dc2-9fe1-1296ee8c623d"
  }
}