{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/providers/Microsoft.Peering/peerAsns/Contoso?api-version=2019-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 15224,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@contoso.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"899-888-9989\"\r\n      ]\r\n    },\r\n    \"peerName\": \"Microscript\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 15224,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@contoso.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"899-888-9989\"\r\n      ]\r\n    },\r\n    \"peerName\": \"Microscript\",\r\n    \"validationState\": \"None\"\r\n  },\r\n  \"name\": \"Contoso\",\r\n  \"id\": \"/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/providers/Microsoft.Peering/peerAsns/Contoso\",\r\n  \"type\": \"Microsoft.Peering/peerAsns\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/providers/Microsoft.Peering/peerAsns/Contoso?api-version=2019-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 15224,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@contoso.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"899-888-9989\"\r\n      ]\r\n    },\r\n    \"peerName\": \"Microscript\",\r\n    \"validationState\": \"None\"\r\n  },\r\n  \"name\": \"Contoso\",\r\n  \"id\": \"/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/providers/Microsoft.Peering/peerAsns/Contoso\",\r\n  \"type\": \"Microsoft.Peering/peerAsns\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4445bf11-61c4-436f-a940-60194f8aca57"
  }
}