{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/resourceGroups/testCarrier/providers/Microsoft.Peering/peerings/NewContosoAmsterdamExchangePeering?api-version=2019-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic_Exchange_Free\",\r\n    \"tier\": \"Basic\",\r\n    \"family\": \"Exchange\",\r\n    \"size\": \"Free\"\r\n  },\r\n  \"kind\": \"Exchange\",\r\n  \"properties\": {\r\n    \"exchange\": {\r\n      \"connections\": [\r\n        {\r\n          \"peeringDBFacilityId\": 26,\r\n          \"connectionState\": \"Active\",\r\n          \"bgpSession\": {\r\n            \"sessionPrefixV4\": \"80.249.208.0/21\",\r\n            \"sessionPrefixV6\": \"2001:7f8:1::/64\",\r\n            \"microsoftSessionIPv4Address\": \"80.249.209.21\",\r\n            \"microsoftSessionIPv6Address\": \"2001:7f8:1::a500:8075:2\",\r\n            \"peerSessionIPv4Address\": \"80.249.208.61\",\r\n            \"peerSessionIPv6Address\": \"2001:7f8:1::a501:5224:1\",\r\n            \"sessionStateV4\": \"Established\",\r\n            \"sessionStateV6\": \"Established\",\r\n            \"maxPrefixesAdvertisedV4\": 20000,\r\n            \"maxPrefixesAdvertisedV6\": 2000\r\n          }\r\n        },\r\n        {\r\n          \"peeringDBFacilityId\": 26,\r\n          \"connectionState\": \"Active\",\r\n          \"bgpSession\": {\r\n            \"sessionPrefixV4\": \"80.249.208.0/21\",\r\n            \"sessionPrefixV6\": \"2001:7f8:1::/64\",\r\n            \"microsoftSessionIPv4Address\": \"80.249.209.21\",\r\n            \"microsoftSessionIPv6Address\": \"2001:7f8:1::a500:8075:2\",\r\n            \"peerSessionIPv4Address\": \"80.249.211.60\",\r\n            \"peerSessionIPv6Address\": \"2001:7f8:1::a501:5224:2\",\r\n            \"sessionStateV4\": \"Established\",\r\n            \"sessionStateV6\": \"Established\",\r\n            \"maxPrefixesAdvertisedV4\": 20000,\r\n            \"maxPrefixesAdvertisedV6\": 2000\r\n          }\r\n        }\r\n      ],\r\n      \"peerAsn\": {\r\n        \"id\": \"/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/providers/Microsoft.Peering/peerAsns/Contoso\"\r\n      }\r\n    },\r\n    \"peeringLocation\": \"Amsterdam\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"location\": \"centralus\",\r\n  \"tags\": {},\r\n  \"name\": \"NewContosoAmsterdamExchangePeering\",\r\n  \"id\": \"/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/resourceGroups/testCarrier/providers/Microsoft.Peering/peerings/NewContosoAmsterdamExchangePeering\",\r\n  \"type\": \"Microsoft.Peering/peerings\"\r\n}",
      "StatusCode": 200
    },
[...]
