{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourcegroups/ps5105?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105\",\r\n  \"name\": \"ps5105\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworks/ps8627?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps8627' under resource group 'ps5105' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworks/ps8627?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"119b21d4-7b3b-4c26-a967-b2a45d1230b3\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11971"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps8627\",\r\n  \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworks/ps8627\",\r\n  \"etag\": \"W/\\\"119b21d4-7b3b-4c26-a967-b2a45d1230b3\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"b7f137c7-0252-49b0-afe2-17bbaa439519\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"GatewaySubnet\",\r\n        \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworks/ps8627/subnets/GatewaySubnet\",\r\n        \"etag\": \"W/\\\"119b21d4-7b3b-4c26-a967-b2a45d1230b3\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworks/ps8627?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"GatewaySubnet\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"centraluseuap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://brazilus.management.azure.com/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/providers/Microsoft.Network/locations/centraluseuap/operations/288459e6-53de-4752-ae18-e641b3dcfb77?api-version=2021-02-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps8627\",\r\n  \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworks/ps8627\",\r\n  \"etag\": \"W/\\\"8f415c07-1c2b-4255-bd5e-f07326fab5d5\\\"\",\r\n  \"type\": \"Microsoft.Ne[...]
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/providers/Microsoft.Network/locations/centraluseuap/operations/288459e6-53de-4752-ae18-e641b3dcfb77?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11972"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/publicIPAddresses/ps9673?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps9673' under resource group 'ps5105' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/publicIPAddresses/ps9673?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"8c10eb65-6adf-4b39-8d3a-2d465cf0585c\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11965"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps9673\",\r\n  \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/publicIPAddresses/ps9673\",\r\n  \"etag\": \"W/\\\"8c10eb65-6adf-4b39-8d3a-2d465cf0585c\\\"\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"67be381d-669e-4769-a7a4-68254ef4bc4c\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"ps1232\",\r\n      \"fqdn\": \"ps1232.centraluseuap.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/publicIPAddresses/ps9673?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"ps1232\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"centraluseuap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://brazilus.management.azure.com/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/providers/Microsoft.Network/locations/centraluseuap/operations/e051325c-1e1e-4eeb-87df-e01227057a3f?api-version=2021-02-01"
 [...]
[...]
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworkGateways/ps8464?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworkGateways/ps8464' under resource group 'ps5105' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworkGateways/ps8464?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps8464\",\r\n  \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworkGateways/ps8464\",\r\n  \"etag\": \"W/\\\"28f4c9e6-2c4c-4493-9d46-f476cc914149\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworkGateways\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"caf49fca-0408-4ea3-8ea8-a2d33b3096d0\",\r\n    \"packetCaptureDiagnosticState\": \"None\",\r\n    \"enablePrivateIpAddress\": false,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ps5850\",\r\n        \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworkGateways/ps8464/ipConfigurations/ps5850\",\r\n        \"etag\": \"W/\\\"28f4c9e6-2c4c-4493-9d46-f476cc914149\\\"\",\r\n        \"type\": \"Microsoft.Network/virtualNetworkGateways/ipConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/publicIPAddresses/ps9673\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworks/ps8627/subnets/GatewaySubnet\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"natRules\": [\r\n      {\r\n        \"name\": \"natRule1\",\r\n        \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworkGateways/ps8464/natRules/natRule1\",\r\n        \"etag\": \"W/\\\"28f4c9e6-2c4c-4493-9d46-f476cc914149\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"type\": \"Static\",\r\n          \"mode\": \"IngressSnat\",\r\n          \"internalMappings\": [\r\n            {\r\n              \"addressSpace\": \"25.0.0.0/16\"\r\n            }\r\n          ],\r\n          \"externalMappings\": [\r\n            {\r\n              \"addressSpace\": \"30.0.0.0/16\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworkGateways/natRules\"\r\n      },\r\n      {\r\n        \"name\": \"natRule2\",\r\n        \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworkGateways/ps8464/natRules/natRule2\",\r\n        \"etag\": \"W/\\\"28f4c9e6-2c4c-4493-9d46-f476cc914149\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"type\": \"Static\",\r\n          \"mode\": \"EgressSnat\",\r\n          \"internalMappings\": [\r\n            {\r\n              \"addressSpace\": \"20.0.0.0/16\"\r\n            }\r\n          ],\r\n          \"externalMappings\": [\r\n            {\r\n              \"addressSpace\": \"50.0.0.0/16\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworkGateways/natRules\"\r\n      }\r\n    ],\r\n    \"enableBgpRouteTranslationForNat\": false,\r\n    \"sku\": {\r\n      \"name\": \"VpnGw2\",\r\n      \"tier\": \"VpnGw2\",\r\n      \"capacity\": 2\r\n    },\r\n    \"gatewayType\": \"Vpn\",\r\n    \"vpnType\": \"RouteBased\",\r\n    \"enableBgp\": false,\r\n    \"activeActive\": false,\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"bgpPeeringAddress\": \"10.0.0.254\",\r\n      \"peerWeight\": 0,\r\n      \"bgpPeeringAddresses\": [\r\n        {\r\n          \"ipconfigurationId\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworkGateways/ps8464/ipConfigurations/ps5850\",\r\n          \"defaultBgpIpAddresses\": [\r\n            \"10.0.0.254\"\r\n          ],\r\n          \"customBgpIpAddresses\": [],\r\n          \"tunnelIpAddresses\": [\r\n            \"52.176.232.207\"\r\n          ]\r\n        }\r\n      ]\r\n    },\r\n    \"vpnGatewayGeneration\": \"Generation1\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/localNetworkGateways/ps2692?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/localNetworkGateways/ps2692' under resource group 'ps5105' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/localNetworkGateways/ps2692?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"1d5e50e5-992a-402a-b7d7-dbbd2607eb41\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2692\",\r\n  \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/localNetworkGateways/ps2692\",\r\n  \"etag\": \"W/\\\"1d5e50e5-992a-402a-b7d7-dbbd2607eb41\\\"\",\r\n  \"type\": \"Microsoft.Network/localNetworkGateways\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"dc3dfce7-ef9f-40f2-8f53-1fc6ac0dbb7f\",\r\n    \"localNetworkAddressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"gatewayIpAddress\": \"192.168.3.10\",\r\n    \"fqdn\": \"\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworkGateways/ps8464/natRules/natRule1?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"28f4c9e6-2c4c-4493-9d46-f476cc914149\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11981"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"natRule1\",\r\n  \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworkGateways/ps8464/natRules/natRule1\",\r\n  \"etag\": \"W/\\\"28f4c9e6-2c4c-4493-9d46-f476cc914149\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"type\": \"Static\",\r\n    \"mode\": \"IngressSnat\",\r\n    \"internalMappings\": [\r\n      {\r\n        \"addressSpace\": \"25.0.0.0/16\"\r\n      }\r\n    ],\r\n    \"externalMappings\": [\r\n      {\r\n        \"addressSpace\": \"30.0.0.0/16\"\r\n      }\r\n    ]\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworkGateways/natRules\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/connections/ps9329?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/connections/ps9329' under resource group 'ps5105' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/connections/ps9329?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11975"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps9329\",\r\n  \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/connections/ps9329\",\r\n  \"etag\": \"W/\\\"4bd12a31-3a16-4f5e-b413-06e0f610b276\\\"\",\r\n  \"type\": \"Microsoft.Network/connections\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"11e76730-23c5-4b48-9e8a-d266ee78b384\",\r\n    \"packetCaptureDiagnosticState\": \"None\",\r\n    \"virtualNetworkGateway1\": {\r\n      \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworkGateways/ps8464\"\r\n    },\r\n    \"localNetworkGateway2\": {\r\n      \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/localNetworkGateways/ps2692\"\r\n    },\r\n    \"ingressNatRules\": [\r\n      {\r\n        \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworkGateways/ps8464/natRules/natRule1\"\r\n      }\r\n    ],\r\n    \"egressNatRules\": [\r\n      {\r\n        \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworkGateways/ps8464/natRules/natRule2\"\r\n      }\r\n    ],\r\n    \"connectionType\": \"IPsec\",\r\n    \"connectionProtocol\": \"IKEv1\",\r\n    \"routingWeight\": 3,\r\n    \"sharedKey\": \"abc\",\r\n    \"enableBgp\": false,\r\n    \"useLocalAzureIpAddress\": false,\r\n    \"usePolicyBasedTrafficSelectors\": false,\r\n    \"ipsecPolicies\": [],\r\n    \"trafficSelectorPolicies\": [],\r\n    \"connectionStatus\": \"Unknown\",\r\n    \"ingressBytesTransferred\": 0,\r\n    \"egressBytesTransferred\": 0,\r\n    \"expressRouteGatewayBypass\": false,\r\n    \"dpdTimeoutSeconds\": 0,\r\n    \"connectionMode\": \"Default\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/connections/ps9329?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11963"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps9329\",\r\n  \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/connections/ps9329\",\r\n  \"etag\": \"W/\\\"ae9da73d-852f-49aa-a46b-cd6b2be197de\\\"\",\r\n  \"type\": \"Microsoft.Network/connections\",\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"testtagKey\": \"SomeTagKey\",\r\n    \"testtagValue\": \"SomeKeyValue\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"11e76730-23c5-4b48-9e8a-d266ee78b384\",\r\n    \"packetCaptureDiagnosticState\": \"None\",\r\n    \"virtualNetworkGateway1\": {\r\n      \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworkGateways/ps8464\"\r\n    },\r\n    \"localNetworkGateway2\": {\r\n      \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/localNetworkGateways/ps2692\"\r\n    },\r\n    \"egressNatRules\": [\r\n      {\r\n        \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/virtualNetworkGateways/ps8464/natRules/natRule2\"\r\n      }\r\n    ],\r\n    \"connectionType\": \"IPsec\",\r\n    \"connectionProtocol\": \"IKEv1\",\r\n    \"routingWeight\": 4,\r\n    \"sharedKey\": \"abc\",\r\n    \"enableBgp\": false,\r\n    \"useLocalAzureIpAddress\": false,\r\n    \"usePolicyBasedTrafficSelectors\": false,\r\n    \"ipsecPolicies\": [],\r\n    \"trafficSelectorPolicies\": [],\r\n    \"connectionStatus\": \"Unknown\",\r\n    \"ingressBytesTransferred\": 0,\r\n    \"egressBytesTransferred\": 0,\r\n    \"expressRouteGatewayBypass\": false,\r\n    \"dpdTimeoutSeconds\": 0,\r\n    \"connectionMode\": \"ResponderOnly\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/connections?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11972"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ps9329\",\r\n      \"id\": \"/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/connections/ps9329\",\r\n      \"etag\": \"W/\\\"4bd12a31-3a16-4f5e-b413-06e0f610b276\\\"\",\r\n      \"type\": \"Microsoft.Network/connections\",\r\n      \"location\": \"centraluseuap\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"11e76730-23c5-4b48-9e8a-d266ee78b384\",\[...]
[...]
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/resourceGroups/ps5105/providers/Microsoft.Network/connections/ps9329?api-version=2021-02-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://brazilus.management.azure.com/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/providers/Microsoft.Network/locations/centraluseuap/operationResults/670bf277-598c-430b-adde-71076505df36?api-version=2021-02-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://brazilus.management.azure.com/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/providers/Microsoft.Network/locations/centraluseuap/operations/670bf277-598c-430b-adde-71076505df36?api-version=2021-02-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/providers/Microsoft.Network/locations/centraluseuap/operationResults/670bf277-598c-430b-adde-71076505df36?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://brazilus.management.azure.com/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/providers/Microsoft.Network/locations/centraluseuap/operationResults/670bf277-598c-430b-adde-71076505df36?api-version=2021-02-01"
        ],
        "Azure-AsyncOperation": [
          "https://brazilus.management.azure.com/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/providers/Microsoft.Network/locations/centraluseuap/operations/670bf277-598c-430b-adde-71076505df36?api-version=2021-02-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11957"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzUxMDUtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzUxMDUtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/7afd8f92-c220-4f53-886e-1df53a69afd4/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzUxMDUtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11958"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-VirtualNetworkGatewayConnectionCRUD": [
      "ps5105",
      "ps8464",
      "ps1232",
      "ps8627",
      "ps2692",
      "ps9329",
      "ps9673",
      "ps5850"
    ]
  },
  "Variables": {
    "SubscriptionId": "7afd8f92-c220-4f53-886e-1df53a69afd4"
  }
}