{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "34b42515-a09f-4df8-bcef-06e29b25b9c2"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.26614.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.1"
=======
          "d3765d4e-7893-4426-be67-db8d45620192"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.13"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": [
          "Mon, 15 Jul 2019 08:51:14 GMT"
        ],
=======
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "55862510-b22f-489a-8b3d-8dd2c526be7a"
        ],
        "x-ms-correlation-request-id": [
          "55862510-b22f-489a-8b3d-8dd2c526be7a"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190715T085115Z:55862510-b22f-489a-8b3d-8dd2c526be7a"
        ],
        "strict-transport-security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-content-type-options": [
          "nosniff"
        ],
        "Content-Length": [
          "56961"
=======
          "45e77283-00ed-4e18-9e69-174cd1e62b5e"
        ],
        "x-ms-correlation-request-id": [
          "45e77283-00ed-4e18-9e69-174cd1e62b5e"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20200607T133608Z:45e77283-00ed-4e18-9e69-174cd1e62b5e"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
          "Sun, 07 Jun 2020 13:36:08 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
<<<<<<< HEAD
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-45a9-930c-ddb2e56fa131\"\r\n    },\r\n    {\r\n      \"applicationId\": \"486c78bf-a0f7-45f1-92fd-37215929e116\",\r\n      \"roleDefinitionId\": \"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d\"\r\n    },\r\n    {\r\n      \"applicationId\": \"19947cfd-0303-466c-ac3c-fcc19a7a1570\",\r\n      \"roleDefinitionId\": \"d813ab6c-bfb7-413e-9462-005b21f0ce09\"\r\n    },\r\n    {\r\n      \"applicationId\": \"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd\",\r\n      \"roleDefinitionId\": \"8141843c-c51c-4c1e-a5bf-0d351594b86c\"\r\n    },\r\n    {\r\n      \"applicationId\": \"328fd23b-de6e-462c-9433-e207470a5727\",\r\n      \"roleDefinitionId\": \"79e29e06-4056-41e5-a6b2-959f1f47747e\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"virtualNetworks\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"UK West\",\r\n        \"UK South\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"Australia Central\",\r\n        \"Australia Central 2\",\r\n        \"South Africa North\",\r\n        \"UAE North\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-06-01\",\r\n        \"2019-04-01\",\r\n        \"2019-02-01\",\r\n        \"2018-12-01\",\r\n        \"2018-11-01\",\r\n        \"2018-10-01\",\r\n        \"2018-08-01\",\r\n        \"2018-07-01\",\r\n        \"2018-06-01\",\r\n        \"2018-05-01\",\r\n        \"2018-04-01\",\r\n        \"2018-03-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-01\",\r\n        \"2017-11-01\",\r\n        \"2017-10-01\",\r\n        \"2017-09-01\",\r\n        \"2017-08-01\",\r\n        \"2017-06-01\",\r\n        \"2017-04-01\",\r\n        \"2017-03-01\",\r\n        \"2016-12-01\",\r\n        \"2016-11-01\",\r\n        \"2016-10-01\",\r\n        \"2016-09-01\",\r\n        \"2016-08-01\",\r\n        \"2016-07-01\",\r\n        \"2016-06-01\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\",\r\n        \"2014-12-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"natGateways\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"Central US EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-06-01\",\r\n        \"2019-04-01\",\r\n        \"2019-02-01\",\r\n        \"2018-12-01\",\r\n        \"2018-11-01\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourcegroups/ps540?api-version=2016-09-01",
=======
        ],
        "Content-Length": [
          "77032"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefi[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourcegroups/ps2838?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "7f82ef31-637f-4f65-abc4-3a6c7635bedd"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.26614.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.1"
=======
          "8275d054-243a-4fb1-a542-204fa253e129"
        ],
        "Accept-L[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps540/providers/Microsoft.Network/virtualNetworks/ps220?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps2838\",\r\n  \"name\": \"ps2838\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps2838/providers/Microsoft.Network/virtualNetworks/ps2587?api-version=2020-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "810ee0c8-ca89-4864-8fe6-b055e977d34f"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.26614.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.2.0.0"
=======
          "3d3640a9-f7dc-4688-98e6-ccc966db3964"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": [
          "Mon, 15 Jul 2019 08:51:19 GMT"
        ],
=======
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Pragma": [
          "no-cache"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "a4270d7c-5654-454e-ac42-d4e20a42b202"
        ],
        "x-ms-correlation-request-id": [
          "a4270d7c-5654-454e-ac42-d4e20a42b202"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190715T085119Z:a4270d7c-5654-454e-ac42-d4e20a42b202"
        ],
        "strict-transport-security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-content-type-options": [
          "nosniff"
        ],
        "Content-Length": [
          "148"
=======
          "bfee76bb-8d92-4077-95b3-95829a748c36"
        ],
        "x-ms-correlation-request-id": [
          "bfee76bb-8d92-4077-95b3-95829a748c36"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20200607T133610Z:bfee76bb-8d92-4077-95b3-95829a748c36"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
          "Sun, 07 Jun 2020 13:36:09 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
<<<<<<< HEAD
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps220' under resource group 'ps540' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps2838/providers/Microsoft.Network/virtualNetworks/ps2587?api-version=2020-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.26614.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.2.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": [
          "Mon, 15 Jul 2019 08:51:25 GMT"
        ],
=======
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Pragma": [
          "no-cache"
        ],
        "ETag": [
<<<<<<< HEAD
          "W/\"2c384bee-c64c-4a26-8d87-f9cef9e039aa\""
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-request-id": [
          "a272e4f5-3479-4468-8a98-1341c12fdae1"
        ],
        "x-ms-correlation-request-id": [
          "ca12b9b7-501e-42a6-a501-1f2930f3249e"
        ],
        "x-ms-arm-service-request-id": [
          "baa8aad2-a228-4dd8-a7a0-e71be05fe301"
        ],
        "strict-transport-security": [
          "max-age=31536000; includeSubDomains"
        ],
=======
          "W/\"5e8bcce8-afc1-4aed-ac1e-50386b5cdf8c\""
        ],
        "x-ms-request-id": [
          "b2c6168a-5ada-402a-b8be-2616c4b36cb5"
        ],
        "x-ms-correlation-request-id": [
          "1b876b8c-931b-4647-8fa3-3742a8d23104"
        ],
        "x-ms-arm-service-request-id": [
          "5ac92809-2a97-4e72-a7b6[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps540/providers/Microsoft.Network/virtualNetworks/ps220?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps2587\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps2838/providers/Microsoft.Network/virtualNetworks/ps2587\",\r\n  \"etag\": \"W/\\\"5e8bcce8-afc1-4aed-ac1e-50386b5cdf8c\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"3657db3b-d9d3-4e2c-a86b-14a214de23eb\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"GatewaySubnet\",\r\n        \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps2838/providers/Microsoft.Network/virtualNetworks/ps2587/subnets/GatewaySubnet\",\r\n        \"etag\": \"W/\\\"5e8bcce8-afc1-4aed-ac1e-50386b5cdf8c\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps540/providers/Microsoft.Network/virtualNetworks/ps220?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"resourceNavigationLinks\": [],\r\n          \"serviceAssociationLinks\": [],\r\n          \"delegations\": []\r\n        },\r\n        \"name\": \"GatewaySubnet\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"ps2587\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps2838/providers/Microsoft.Network/virtualNetworks/ps2587\",\r\n  \"etag\": \"W/\\\"5e8b[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps2838/providers/Microsoft.Network/virtualNetworks/ps2587?api-version=2020-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"GatewaySubnet\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "604"
=======
          "693"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": [
          "Mon, 15 Jul 2019 08:51:22 GMT"
        ],
=======
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Pragma": [
          "no-cache"
        ],
        "Retry-After": [
          "3"
        ],
<<<<<<< HEAD
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-request-id": [
          "5ecaaea6-d140-4d47-9051-b336a81816ef"
        ],
        "azure-asyncoperation": [
          "https://management.azure.com/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/locations/westcentralus/operations/5ecaaea6-d140-4d47-9051-b336a81816ef?api-version=2019-06-01"
        ],
        "x-ms-correlation-request-id": [
          "6f1f6d21-65c7-4eac-9634-ac46b6cd5d56"
        ],
        "x-ms-arm-service-request-id": [
          "0e22102e-2956-4de6-9e9b-f80151bba3a8"
        ],
        "strict-transport-security": [
          "max-age=31536000; includeSubDomains"
        ],
=======
        "x-ms-request-id": [
          "181abb3c-5a53-4e73-b670-4874e2496719"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/locations/westcentralus/operations/181abb3c-5a53-4e73-b670-4874e2496719?api-version=2020-07-01"
        ],
        "x-ms-correlation-request-id": [
          "41b011ba-aca9-4361-bfe6-2090001ddcba"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-arm-service-request-id": [
          "b911eee0-fc11-44ad-b9b3-0b475dab62f9"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-routing-request-id[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/locations/westcentralus/operations/5ecaaea6-d140-4d47-9051-b336a81816ef?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps2587\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps2838/providers/Microsoft.Network/virtualNetworks/ps2587\",\r\n  \"etag\": \"W/\\\"bc9783a8-47e5-4ff9-992d-a1972405eba6\\\"\",\r\n  \"type\": \"Microsoft[...]
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps540/providers/Microsoft.Network/publicIPAddresses/ps8417?api-version=2019-06-01",
=======
        ],
        "Content-Length": [
          "220"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps1766' under resource group 'ps2838' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps540/providers/Microsoft.Network/publicIPAddresses/ps8417?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps1766\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps2838/providers/Microsoft.Network/publicIPAddresses/ps1766\",\r\n  \"etag\": \"W/\\\"93aa3f74-d004-482e-b28b-0512cf332094\\\"\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"4ef2520a-6b57-4446-ab30-2e1e44dd4eb3\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"ps2370\",\r\n      \"fqdn\": \"ps2370.westcentralus.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps540/providers/Microsoft.Network/publicIPAddresses/ps8417?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"ps4539\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"ps1766\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps2838/providers/Microsoft.Network/publicIPAddresses/ps1766\",\r\n  \"etag\": \"W/\\\"93aa3f74-d004-482e-b28b-0512cf332094\\\"\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"4ef2520a-6b57-4446-ab30-2e1e44dd4eb3\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"ps2370\",\r\n      \"fqdn\": \"ps2370.westcentralus.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps540/providers/Microsoft.Network/virtualNetworkGateways/ps6393?api-version=2019-06-01",
=======
        ],
        "Content-Length": [
          "225"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworkGateways/ps6042' under resource group 'ps2838' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps540/providers/Microsoft.Network/virtualNetworkGateways/ps6393?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps6042\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps2838/providers/Microsoft.Network/virtualNetworkGateways/ps6042\",\r\n  \"etag\": \"W/\\\"7c919a64-a264-4d21-a033-9b3827804017\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworkGateways\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"7af2dd5e-4bf8-45f5-b9de-8d081360d619\",\r\n    \"packetCaptureDiagnosticState\": \"None\",\r\n    \"enablePrivateIpAddress\": false,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ps7398\",\r\n        \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps2838/providers/Microsoft.Network/virtualNetworkGateways/ps6042/ipConfigurations/ps7398\",\r\n        \"etag\": \"W/\\\"7c919a64-a264-4d21-a033-9b3827804017\\\"\",\r\n        \"type\": \"Microsoft.Network/virtualNetworkGateways/ipConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps2838/providers/Microsoft.Network/publicIPAddresses/ps1766\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps2838/providers/Microsoft.Network/virtualNetworks/ps2587/subnets/GatewaySubnet\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"sku\": {\r\n      \"name\": \"Standard\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"gatewayType\": \"Vpn\",\r\n    \"vpnType\": \"RouteBased\",\r\n    \"enableBgp\": false,\r\n    \"activeActive\": false,\r\n    \"bgpSettings\": {\r\n      \"asn\": 55000,\r\n      \"bgpPeeringAddress\": \"10.0.0.254\",\r\n      \"peerWeight\": 0,\r\n      \"bgpPeeringAddresses\": [\r\n        {\r\n          \"ipconfigurationId\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps2838/providers/Microsoft.Network/virtualNetworkGateways/ps6042/ipConfigurations/ps7398\",\r\n          \"defaultBgpIpAddresses\": [\r\n            \"10.0.0.254\"\r\n          ],\r\n          \"customBgpIpAddresses\": [],\r\n          \"tunnelIpAddresses\": [\r\n            \"52.161.96.172\"\r\n          ]\r\n        }\r\n      ]\r\n    },\r\n    \"vpnGatewayGeneration\": \"Generation1\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
