<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Azure.Management.DataFactories" version="4.13.0" targetFramework="net45" />
  <package id="Microsoft.DataTransfer.Gateway.Encryption" version="3.4.6604.1" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="5.0.2" targetFramework="net452" />
</packages>