{
  "Entries": [
    {
      "RequestUri": "/subscriptions/2c2f67af-09f9-4d60-b051-c5d956d2c9a7/resourcegroups/ps4251?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'ps4251' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/2c2f67af-09f9-4d60-b051-c5d956d2c9a7/resourcegroups/ps4251?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"Central US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2c2f67af-09f9-4d60-b051-c5d956d2c9a7/resourceGroups/ps4251\",\r\n  \"name\": \"ps4251\",\r\n  \"type\": \"Microsoft.Resources/resourceGroups\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/2c2f67af-09f9-4d60-b051-c5d956d2c9a7/providers/Microsoft.Purview?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2c2f67af-09f9-4d60-b051-c5d956d2c9a7/providers/Microsoft.Purview\",\r\n  \"namespace\": \"Microsoft.Purview\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"73c2949e-da2d-457a-9607-fcc665198967\",\r\n      \"roleDefinitionId\": \"1BC09725-0C9B-4F57-A3D0-FCCF4EB40120\",\r\n      \"managedByRoleDefinitionId\": \"9e3af657-a8ff-583c-a75c-2fe7c4bcb635\"\r\n    },\r\n    {\r\n      \"applicationId\": \"fd642066-7bfc-4b65-9463-6a08841c12f0\",\r\n      \"roleDefinitionId\": \"5b3958cb-0439-42e1-80e3-cae077d0d5e8\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"West Europe\",\r\n        \"Southeast Asia\",\r\n        \"Canada Central\",\r\n        \"South Central US\",\r\n        \"Brazil South\",\r\n        \"Central India\",\r\n        \"UK South\",\r\n        \"France Central\",\r\n        \"Korea Central\",\r\n        \"UAE North\",\r\n        \"Japan East\",\r\n        \"Switzerland North\",\r\n        \"West US\",\r\n        \"South Africa North\",\r\n        \"Qatar Central\",\r\n        \"West US 3\",\r\n        \"Australia East\",\r\n        \"North Europe\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"East US 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2021-12-01\",\r\n        \"2021-07-01\",\r\n        \"2020-12-01-preview\"\r\n      ],\r\n      \"defaultApiVersion\": \"2021-07-01\",\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity, SupportsTags, SupportsLocation\"\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts/kafkaConfigurations\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"West Europe\",\r\n        \"Southeast Asia\",\r\n        \"Canada Central\",\r\n        \"South Central US\",\r\n        \"Brazil South\",\r\n        \"Central India\",\r\n        \"UK South\",\r\n        \"France Central\",\r[...]
    {
      "RequestUri": "//subscriptions/2c2f67af-09f9-4d60-b051-c5d956d2c9a7/resourceGroups/ps4251/providers/Microsoft.Purview/accounts/ps8516?api-version=2021-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Purview/accounts/ps8516' under resource group 'ps4251' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "//subscriptions/2c2f67af-09f9-4d60-b051-c5d956d2c9a7/resourceGroups/ps4251/providers/Microsoft.Purview/accounts/ps8516/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"tags\": {\r\n      \"key1\": \"value1\",\r\n      \"key2\": \"value2\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/2c2f67af-09f9-4d60-b051-c5d956d2c9a7/resourcegroups/ps4251/providers/Microsoft.Purview/accounts/ps8516/operationResults/fd119a47-8a9f-460f-92bb-1a4a1eb0483d?api-version=2021-07-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/2c2f67af-09f9-4d60-b051-c5d956d2c9a7/resourcegroups/ps4251/providers/Microsoft.Purview/accounts/ps8516/operationResults/fd119a47-8a9f-460f-92bb-1a4a1eb0483d?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/2c2f67af-09f9-4d60-b051-c5d956d2c9a7/resourcegroups/ps4251/providers/Microsoft.Purview/accounts/ps8516/operationResults/fd119a47-8a9f-460f-92bb-1a4a1eb0483d?api-version=2021-07-01"
        ],
        "api-supported-versions": [
          "2020-12-01-preview, 2021-07-01, 2021-12-01, 2023-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/2c2f67af-09f9-4d60-b051-c5d956d2c9a7/resourcegroups/ps4251/providers/Microsoft.Purview/accounts/ps8516/operationResults/fd119a47-8a9f-460f-92bb-1a4a1eb0483d?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "api-supported-versions": [
          "2020-12-01-preview, 2021-07-01, 2021-12-01, 2023-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\": {\r\n    \"cloudConnectors\": {\r\n      \"awsExternalId\": \"f03c28d6-268a-4296-bc6e-7b7c595fac31\"\r\n    },\r\n    \"friendlyName\": \"ps8516\",\r\n    \"createdBy\": \"fb2b8227-2ea3-43c5-b357-0379ed954481\",\r\n    \"createdByObjectId\": \"9b2c2fab-2ce6-43cb-8431-de186f679254\",\r\n    \"createdAt\": \"2023-07-19T01:07:59.7620895Z\",\r\n    \"endpoints\": {\r\n      \"catalog\": \"https://ps8516.purview.azure.com/catalog\",\r\n      \"scan\": \"https://ps8516.purview.azure.com/scan\",\r\n      \"guardian\": \"https://ps8516.purview.azure.com/guardian\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"privateEndpointConnections\": [],\r\n    \"managedResources\": {\r\n      \"resourceGroup\": \"/subscriptions/2c2f67af-09f9-4d60-b051-c5d956d2c9a7/resourceGroups/managed-rg-ncajiko\",\r\n      \"storageAccount\": \"/subscriptions/2c2f67af-09f9-4d60-b051-c5d956d2c9a7/resourceGroups/managed-rg-ncajiko/providers/Microsoft.Storage/storageAccounts/scanwestustkroaec\",\r\n      \"eventHubNamespace\": \"/subscriptions/2c2f67af-09f9-4d60-b051-c5d956d2c9a7/resourceGroups/managed-rg-ncajiko/providers/Microsoft.EventHub/namespaces/Atlas-2159c2ba-6154-44ac-b695-a80757c62e69\"\r\n    },\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"managedResourceGroupName\": \"managed-rg-ncajiko\"\r\n  },\r\n  \"id\": \"/subscriptions/2c2f67af-09f9-4d60-b051-c5d956d2c9a7/resourceGroups/ps4251/providers/Microsoft.Purview/accounts/ps8516\",\r\n  \"name\": \"ps8516\",\r\n  \"type\": \"Microsoft.Purview/accounts\",\r\n  \"location\": \"westus\",\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"b3b61ccb-80c5-438f-b138-43d33edb7777\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n  },\r\n  \"tags\": {\r\n    \"key1\": \"value1\",\r\n    \"key2\": \"value2\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"fb2b8227-2ea3-43c5-b357-0379ed954481\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2023-07-19T01:07:59.7620895Z\",\r\n    \"lastModifiedBy\": \"fb2b8227-2ea3-43c5-b357-0379ed954481\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2023-07-19T01:07:59.7620895Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
