<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings" schemaVersion="2014-05-30">
  <!-- 
    Learn more about Application Insights configuration with ApplicationInsights.config here: 
    http://go.microsoft.com/fwlink/?LinkID=513840
    
    Note: If not present, please add <InstrumentationKey>Your Key</InstrumentationKey> to the top of this file.
  -->
  <TelemetryModules>
    <Add Type="Microsoft.ApplicationInsights.Extensibility.Implementation.Tracing.DiagnosticsTelemetryModule, Microsoft.ApplicationInsights"/>
  </TelemetryModules>
  <ContextInitializers>
  </ContextInitializers>
  <TelemetryInitializers>
  </TelemetryInitializers>
  <InstrumentationKey>ce08abab-065a-4af8-a997-fdd4cd5481b4</InstrumentationKey>
</ApplicationInsights>