{
  "AzMixedRealityObjectAnchorsAccount+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testgroup/providers/Microsoft.MixedReality/objectAnchorsAccounts/g9rb21?api-version=2021-03-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testgroup/providers/Microsoft.MixedReality/objectAnchorsAccounts/g9rb21?api-version=2021-03-01-preview",
      "Content": "{\r\n  \"location\": \"eastus2\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Location": [ "subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testgroup/providers/Microsoft.MixedReality/objectAnchorsAccounts/g9rb21" ],
        "MS-CV": [ "oDMIBMOL+0CaNCUGAr6pow.0" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testgroup/providers/Microsoft.MixedReality/objectAnchorsAccounts/g9rb21\",\"name\":\"g9rb21\",\"type\":\"Microsoft.MixedReality/objectAnchorsAccounts\",\"identity\":null,\"location\":\"eastus2\",\"plan\":null,\"sku\":null,\"kind\":null,\"tags\":{},\"properties\":{\"accountDomain\":\"eastus2.mixedreality.azure.com\",\"accountId\":\"32995280-8a02-40cd-b37b-7125f78765a7\"}}",
    }
  },
  "AzMixedRealityObjectAnchorsAccount+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testgroup/providers/Microsoft.MixedReality/objectAnchorsAccounts/9bdmr2?api-version=2021-03-01-preview+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/testgroup/prov[...]
