{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/providers/Microsoft.SignalRService?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/providers/Microsoft.SignalRService\",\r\n  \"namespace\": \"Microsoft.SignalRService\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"cdad765c-f191-43ba-b9f5-7aef392f811d\",\r\n      \"roleDefinitionId\": \"346b504e-4aec-45d1-be25-a6e10f3cb4fe\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"SignalR\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"West US\",\r\n        \"Southeast Asia\",\r\n        \"West Europe\",\r\n        \"West US 2\",\r\n        \"East US 2\",\r\n        \"North Europe\",\r\n        \"Australia East\",\r\n        \"Canada East\",\r\n        \"Central US\",\r\n        \"Japan East\",\r\n        \"UK South\",\r\n        \"South Central US\",\r\n        \"Brazil South\",\r\n        \"France Central\",\r\n        \"Korea Central\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2020-05-01\",\r\n        \"2018-10-01\",\r\n        \"2018-03-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity\"\r\n    },\r\n    {\r\n      \"resourceType\": \"locations\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2020-05-01\",\r\n        \"2018-10-01\",\r\n        \"2018-03-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations/operationResults\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"West US\",\r\n        \"Southeast Asia\",\r\[...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourcegroups/signalr-test-rg-ps8794?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794\",\r\n  \"name\": \"signalr-test-rg-ps8794\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/signalR/signalr-test-rg-ps8794?api-version=2020-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_S1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/locations/eastus/operationResults/9d2baa34-42c3-4135-8a60-726416268e7c/SignalR/signalr-test-rg-ps8794?api-version=2020-05-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-rp-server-mvid": [
          "550a765b-13c2-41b5-b121-6b740f4e6137"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test-rg-ps8794/operationId/9d2baa34-42c3-4135-8a60-726416268e7c?api-version=2020-05-01"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_S1\",\r\n    \"tier\": \"Standard\",\r\n    \"size\": \"S1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"externalIP\": null,\r\n    \"hostName\": \"signalr-test-rg-ps8794.service.signalr.net\",\r\n    \"publicPort\": 443,\r\n    \"serverPort\": 443,\r\n    \"version\": \"1.0-preview\",\r\n    \"privateEndpointConnections\": [],\r\n    \"hostNamePrefix\": \"signalr-test-rg-ps8794\",\r\n    \"features\": [\r\n      {\r\n        \"flag\": \"ServiceMode\",\r\n        \"value\": \"Default\",\r\n        \"properties\": {}\r\n      },\r\n      {\r\n        \"flag\": \"EnableConnectivityLogs\",\r\n        \"value\": \"False\",\r\n        \"properties\": {}\r\n      },\r\n      {\r\n        \"flag\": \"EnableMessagingLogs\",\r\n        \"value\": \"False\",\r\n        \"properties\": {}\r\n      }\r\n    ],\r\n    \"cors\": {\r\n      \"allowedOrigins\": [\r\n        \"*\"\r\n      ]\r\n    },\r\n    \"upstream\": {\r\n      \"templates\": null\r\n    },\r\n    \"networkACLs\": {\r\n      \"defaultAction\": \"Deny\",\r\n      \"publicNetwork\": {\r\n        \"allow\": [\r\n          \"ServerConnection\",\r\n          \"ClientConnection\",\r\n          \"RESTAPI\"\r\n        ],\r\n        \"deny\": null\r\n      },\r\n      \"privateEndpoints\": []\r\n    }\r\n  },\r\n  \"kind\": \"SignalR\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/SignalR/signalr-test-rg-ps8794\",\r\n  \"name\": \"signalr-test-rg-ps8794\",\r\n  \"type\": \"Microsoft.SignalRService/SignalR\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test-rg-ps8794/operationId/9d2baa34-42c3-4135-8a60-726416268e7c?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-rp-server-mvid": [
          "550a765b-13c2-41b5-b121-6b740f4e6137"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test-rg-ps8794/operationId/9d2baa34-42c3-4135-8a60-726416268e7c\",\r\n  \"name\": \"9d2baa34-42c3-4135-8a60-726416268e7c\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2020-08-06T09:11:56.5469508Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test-rg-ps8794/operationId/9d2baa34-42c3-4135-8a60-726416268e7c?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "x-rp-server-mvid": [
          "550a765b-13c2-41b5-b121-6b740f4e6137"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test-rg-ps8794/operationId/9d2baa34-42c3-4135-8a60-726416268e7c\",\r\n  \"name\": \"9d2baa34-42c3-4135-8a60-726416268e7c\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-08-06T09:11:56.5469508Z\",\r\n  \"endTime\": \"2020-08-06T09:14:41.3621941Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/signalR?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "x-rp-server-mvid": [
          "550a765b-13c2-41b5-b121-6b740f4e6137"
        ],
        "Content-Type"[...]
[...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/signalR/signalr-test-ps7711?api-version=2020-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Free_F1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "Respo[...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test-ps7711/operationId/67acaeba-b064-41d9-9de6-bf35e5d0d8ff?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "x-rp-server-mvid": [
          "550a765b-13c2-41b5-b121-6b740f4e6137"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test-ps7711/operationId/67acaeba-b064-41d9-9de6-bf35e5d0d8ff\",\r\n  \"name\": \"67acaeba-b064-41d9-9de6-bf35e5d0d8ff\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2020-08-06T09:15:10.1034411Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/signalR/signalr-test-ps7711/listKeys?api-version=2020-05-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-rp-server-mvid": [
          "550a765b-13c2-41b5-b121-6b740f4e6137"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"sSpk3uP1kHkBkbrj3FKUN6oUs3aCCzh4VvIpmZlwG6s=\",\r\n  \"secondaryKey\": \"QY600hWquoy1zxslQNCatoaYbPxkfoQuppi9c0/9sp8=\",\r\n  \"primaryConnectionString\": \"Endpoint=https://signalr-test-ps7711.service.signalr.net;AccessKey=sSpk3uP1kHkBkbrj3FKUN6oUs3aCCzh4VvIpmZlwG6s=;Version=1.0;\",\r\n  \"secondaryConnectionString\": \"Endpoint=https://signalr-test-ps7711.service.signalr.net;AccessKey=QY600hWquoy1zxslQNCatoaYbPxkfoQuppi9c0/9sp8=;Version=1.0;\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/signalR/signalr-test-ps7711/regenerateKey?api-version=2020-05-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyType\": \"Primary\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/locations/eastus/operationResults/ed5e76ed-10da-461c-9d1d-7d3a823f6ab0/SignalR/signalr-test-ps7711?api-version=2020-05-01"
        ],
        "x-ms-rate[...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/locations/eastus/operationResults/ed5e76ed-10da-461c-9d1d-7d3a823f6ab0/SignalR/signalr-test-ps7711?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/locations/eastus/operationResults/ed5e76ed-10da-461c-9d1d-7d3a823f6ab0/SignalR/signalr-test-ps7711?api-version=2020-05-01"
        ],
        "x-rp-server-mvid": [
          "550a765b-13c2-41b5-b121-6b740f4e6137"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/signalr-test-ps7711/operationId/ed5e76ed-10da-461c-9d1d-7d3a823f6ab0?api-version=2020-05-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/signalr-test-rg-ps8794/providers/Microsoft.SignalRService/locations/eastus/operationResults/7fb40d65-c06f-43f0-8590-067ffd92a21a/SignalR/signalr-test-rg-ps8794?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "550a765b-13c2-41b5-b121-6b740f4e6137"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11976"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourcegroups/signalr-test-rg-ps8794?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TSUdOQUxSOjJEVEVTVDoyRFJHOjJEUFM4Nzk0LUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14996"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TSUdOQUxSOjJEVEVTVDoyRFJHOjJEUFM4Nzk0LUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TSUdOQUxSOjJEVEVTVDoyRFJHOjJEUFM4Nzk0LUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11961"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TSUdOQUxSOjJEVEVTVDoyRFJHOjJEUFM4Nzk0LUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11958"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-AzureRmSignalRWithDefaultArgs": [
      "ps8794",
      "ps7711",
      "ps1948"
    ]
  },
  "Variables": {
    "SubscriptionId": "9caf2a1e-9c49-49b6-89a2-56bdec7e3f97"
  }
}