{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/providers/Microsoft.SignalRService?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/providers/Microsoft.SignalRService\",\r\n  \"namespace\": \"Microsoft.SignalRService\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"cdad765c-f191-43ba-b9f5-7aef392f811d\",\r\n      \"roleDefinitionId\": \"346b504e-4aec-45d1-be25-a6e10f3cb4fe\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"SignalR\",\r\n      \"locations\": [\r\n        \"Australia East\",\r\n        \"Brazil South\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central US\",\r\n        \"East Asia\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"France Central\",\r\n        \"Germany West Central\",\r\n        \"Japan East\",\r\n        \"Korea Central\",\r\n        \"North Europe\",\r\n        \"South Africa North\",\r\n        \"South Central US\",\r\n        \"Switzerland North\",\r\n        \"UK South\",\r\n        \"West Europe\",\r\n        \"West US\",\r\n        \"West US 2\",\r\n        \"UAE North\",\r\n        \"Southeast Asia\",\r\n        \"Central US EUAP\",\r\n        \"West Central US\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2021-04-01-preview\",\r\n        \"2020-07-01-preview\",\r\n        \"2020-05-01\",\r\n        \"2018-10-01\",\r\n        \"2018-03-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity\"\r\n    },\r\n    {\r\n      \"resourceType\": \"locations\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2021-04-01-preview\",\r\n        \"2020-07-01-preview\",\r\n        \"2020-05-01\",\r\n        \"2018-10-01\",\r\n        \"2018-03-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations/operationResults\",\r\n      \"locations\": [\r\n        [...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourcegroups/signalr-test-rg-ps4517?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg-ps4517\",\r\n  \"name\": \"signalr-test-rg-ps4517\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg-ps4517/providers/Microsoft.SignalRService/signalR/signalr-test-rg-ps4517?api-version=2021-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_S1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg-ps4517/providers/Microsoft.SignalRService/locations/eastus/operationResults/b5cc655d-7ff9-46be-ab8e-416af70e977b/SignalR/signalr-test-rg-ps4517?api-version=2021-04-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-rp-server-mvid": [
          "984a9db1-8dbb-44a5-825f-40facb4f334c"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg-ps4517/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/b5cc655d-7ff9-46be-ab8e-416af70e977b/SignalR/signalr-test-rg-ps4517?api-version=2021-04-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_S1\",\r\n    \"tier\": \"Standard\",\r\n    \"size\": \"S1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"externalIP\": null,\r\n    \"hostName\": \"signalr-test-rg-ps4517.service.signalr.net\",\r\n    \"publicPort\": 443,\r\n    \"serverPort\": 443,\r\n    \"version\": \"1.0-preview\",\r\n    \"privateEndpointConnections\": [],\r\n    \"sharedPrivateLinkResources\": [],\r\n    \"tls\": {\r\n      \"clientCertEnabled\": false\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"flag\": \"ServiceMode\",\r\n        \"value\": \"Default\",\r\n        \"properties\": {}\r\n      },\r\n      {\r\n        \"flag\": \"EnableConnectivityLogs\",\r\n        \"value\": \"False\",\r\n        \"properties\": {}\r\n      },\r\n      {\r\n        \"flag\": \"EnableMessagingLogs\",\r\n        \"value\": \"False\",\r\n        \"properties\": {}\r\n      },\r\n      {\r\n        \"flag\": \"EnableLiveTrace\",\r\n        \"value\": \"False\",\r\n        \"properties\": {}\r\n      }\r\n    ],\r\n    \"cors\": {\r\n      \"allowedOrigins\": [\r\n        \"*\"\r\n      ]\r\n    },\r\n    \"upstream\": {\r\n      \"templates\": null\r\n    },\r\n    \"networkACLs\": {\r\n      \"defaultAction\": \"Deny\",\r\n      \"publicNetwork\": {\r\n        \"allow\": [\r\n          \"ServerConnection\",\r\n          \"ClientConnection\",\r\n          \"RESTAPI\",\r\n          \"Trace\"\r\n        ],\r\n        \"deny\": null\r\n      },\r\n      \"privateEndpoints\": []\r\n    }\r\n  },\r\n  \"kind\": \"SignalR\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"cb22f9f3-798a-45a0-ba57-25a1fc004ce3\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-05-21T08:40:10.1292362Z\",\r\n    \"lastModifiedBy\": \"cb22f9f3-798a-45a0-ba57-25a1fc004ce3\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-05-21T08:40:10.1292362Z\"\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg-ps4517/providers/Microsoft.SignalRService/SignalR/signalr-test-rg-ps4517\",\r\n  \"name\": \"signalr-test-rg-ps4517\",\r\n  \"type\": \"Microsoft.SignalRService/SignalR\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg-ps4517/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/b5cc655d-7ff9-46be-ab8e-416af70e977b/SignalR/signalr-test-rg-ps4517?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-rp-server-mvid": [
          "984a9db1-8dbb-44a5-825f-40facb4f334c"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg-ps4517/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/b5cc655d-7ff9-46be-ab8e-416af70e977b/SignalR/signalr-test-rg-ps4517\",\r\n  \"name\": \"b5cc655d-7ff9-46be-ab8e-416af70e977b\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2021-05-21T08:40:14.0955224Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg-ps4517/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/b5cc655d-7ff9-46be-ab8e-416af70e977b/SignalR/signalr-test-rg-ps4517?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "x-rp-server-mvid": [
          "984a9db1-8dbb-44a5-825f-40facb4f334c"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg-ps4517/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/b5cc655d-7ff9-46be-ab8e-416af70e977b/SignalR/signalr-test-rg-ps4517\",\r\n  \"name\": \"b5cc655d-7ff9-46be-ab8e-416af70e977b\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-05-21T08:40:14.0955224Z\",\r\n  \"endTime\": \"2021-05-21T08:41:25.389961Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg-ps4517/providers/Microsoft.SignalRService/signalR?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "x-rp-server-mvid": [
          "984a9db1-8dbb-44a5-825f-40facb4f334c"
        ],
        "Conte[...]
[...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg-ps4517/providers/Microsoft.SignalRService/signalR/signalr-test-ps9127?api-version=2021-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Free_F1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
    [...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg-ps4517/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/af68338f-458a-414f-b17c-5bcf29dfda19/SignalR/signalr-test-ps9127?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "x-rp-server-mvid": [
          "984a9db1-8dbb-44a5-825f-40facb4f334c"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg-ps4517/providers/Microsoft.SignalRService/locations/eastus/operationStatuses/af68338f-458a-414f-b17c-5bcf29dfda19/SignalR/signalr-test-ps9127\",\r\n  \"name\": \"af68338f-458a-414f-b17c-5bcf29dfda19\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2021-05-21T08:41:56.0224318Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg-ps4517/providers/Microsoft.SignalRService/signalR/signalr-test-ps9127/listKeys?api-version=2021-04-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-rp-server-mvid": [
          "984a9db1-8dbb-44a5-825f-40facb4f334c"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"sUfnOUG3QxztyrK2n0S1dWYog9C3Tnr79NJ0fUrpJcM=\",\r\n  \"secondaryKey\": \"aQTsAEnk0mP+PRdTCjg1VLAxhWx8hBnMUJr9f13OuIQ=\",\r\n  \"primaryConnectionString\": \"Endpoint=https://signalr-test-ps9127.service.signalr.net;AccessKey=sUfnOUG3QxztyrK2n0S1dWYog9C3Tnr79NJ0fUrpJcM=;Version=1.0;\",\r\n  \"secondaryConnectionString\": \"Endpoint=https://signalr-test-ps9127.service.signalr.net;AccessKey=aQTsAEnk0mP+PRdTCjg1VLAxhWx8hBnMUJr9f13OuIQ=;Version=1.0;\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg-ps4517/providers/Microsoft.SignalRService/signalR/signalr-test-ps9127/regenerateKey?api-version=2021-04-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyType\": \"Primary\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg-ps4517/providers/Microsoft.SignalRService/locations/eastus/operationResults/d0ef981c-3ce5-40e8-b8f6-1c7d1291f019/SignalR/signalr-test-ps9127?api-version=2021-04-01-preview"
        ],
        "x[...]
[...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg-ps4517/providers/Microsoft.SignalRService/locations/eastus/operationResults/d0ef981c-3ce5-40e8-b8f6-1c7d1291f019/SignalR/signalr-test-ps9127?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "984a9db1-8dbb-44a5-825f-40facb4f334c"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourceGroups/signalr-test-rg-ps4517/providers/Microsoft.SignalRService/locations/eastus/operationResults/c5717413-85ec-433f-b2c1-a8513786a3e9/SignalR/signalr-test-rg-ps4517?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "984a9db1-8dbb-44a5-825f-40facb4f334c"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11979"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/resourcegroups/signalr-test-rg-ps4517?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TSUdOQUxSOjJEVEVTVDoyRFJHOjJEUFM0NTE3LUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TSUdOQUxSOjJEVEVTVDoyRFJHOjJEUFM0NTE3LUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TSUdOQUxSOjJEVEVTVDoyRFJHOjJEUFM0NTE3LUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/ef72249e-9785-4799-a76b-7cdd80e1b1d0/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TSUdOQUxSOjJEVEVTVDoyRFJHOjJEUFM0NTE3LUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-AzureRmSignalRWithDefaultArgs": [
      "ps4517",
      "ps9127",
      "ps5185"
    ]
  },
  "Variables": {
    "SubscriptionId": "ef72249e-9785-4799-a76b-7cdd80e1b1d0"
  }
}