{
  "Entries": [
    {
      "RequestUri": "/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/providers/Microsoft.Network/FrontDoorWebApplicationFirewallManagedRuleSets?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft_DefaultRuleSet_1.1\",\r\n      \"id\": \"/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/providers/Microsoft.Network/frontdoorwebapplicationfirewallmanagedrulesets/Microsoft_DefaultRuleSet_1.1\",\r\n      \"type\": \"Microsoft.Network/frontdoorwebapplicationfirewallmanagedrulesets\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"ruleSetId\": \"8125d145-ddc5-4d90-9bc3-24c5f2de69a2\",\r\n        \"ruleSetType\": \"Microsoft_DefaultRuleSet\",\r\n        \"ruleSetVersion\": \"1.1\",\r\n        \"ruleGroups\": [\r\n          {\r\n            \"ruleGroupName\": \"MS-ThreatIntel-WebShells\",\r\n            \"description\": \"Web shell attacks\",\r\n            \"rules\": [\r\n              {\r\n                \"ruleId\": \"99005002\",\r\n                \"description\": \"Web Shell Interaction Attempt (POST)\",\r\n                \"defaultAction\": \"Block\",\r\n                \"defaultState\": \"Enabled\"\r\n              },\r\n              {\r\n                \"ruleId\": \"99005003\",\r\n                \"description\": \"Web Shell Upload Attempt (POST) - CHOPPER PHP\",\r\n                \"defaultAction\": \"Block\",\r\n                \"defaultState\": \"Enabled\"\r\n              },\r\n              {\r\n                \"ruleId\": \"99005004\",\r\n                \"description\": \"Web Shell Upload Attempt (POST) - CHOPPER ASPX\",\r\n                \"defaultAction\": \"Block\[...]
