{
  "Entries": [
    {
      "RequestUri": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/providers/Microsoft.Network/FrontDoorWebApplicationFirewallManagedRuleSets?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Network/frontdoorwebapplicationfirewallmanagedrulesets/Microsoft_DefaultRuleSet_2.0\",\r\n      \"type\": \"Microsoft.Network/frontdoorwebapplicationfirewallmanagedrulesets\",\r\n      \"name\": \"Microsoft_DefaultRuleSet_2.0\",\r\n      \"properties\": {\r\n        \"ruleSetType\": \"Microsoft_DefaultRuleSet\",\r\n        \"ruleSetVersion\": \"2.0\",\r\n        \"ruleSetId\": \"8125d145-ddc5-4d90-9bc3-24c5f2de69a2\",\r\n        \"ruleGroups\": [\r\n          {\r\n            \"ruleGroupName\": \"MS-ThreatIntel-WebShells\",\r\n            \"description\": \"Web shell attacks\",\r\n            \"rules\": [\r\n              {\r\n                \"ruleId\": \"99005002\",\r\n                \"description\": \"Web Shell Interaction Attempt (POST)\",\r\n                \"defaultAction\": \"AnomalyScoring\",\r\n                \"defaultState\": \"Enabled\"\r\n              },\r\n              {\r\n                \"ruleId\": \"99005003\",\r\n                \"description\": \"Web Shell Upload Attempt (POST) - CHOPPER PHP\",\r\n                \"defaultAction\": \"AnomalyScoring\",\r\n                \"defaultState\": \"Enabled\"\r\n              },\r\n              {\r\n                \"ruleId\": \"99005004\",\r\n                \"description\": \"Web Shell Upload Attempt (POST) - CHOPPER ASPX\",\r\n                \"defaultAction\":[...]
