{
  "Get-AzPostgreSqlFlexibleServerCapabilitiesByServer+[NoContext]+[NoScenario]+$GET+https://management.azure.com/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/psqlflex-autorest-7rhve0/providers/Microsoft.DBforPostgreSQL/flexibleServers/psqlflex-autorest-y6rwbhul?api-version=2026-01-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/psqlflex-autorest-7rhve0/providers/Microsoft.DBforPostgreSQL/flexibleServers/psqlflex-autorest-y6rwbhul?api-version=2026-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "74" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"sku\":{\"name\":\"Standard_D4ds_v5\",\"tier\":\"GeneralPurpose\"},\"systemData\":{\"createdAt\":\"2026-06-05T16:32:14.2028737Z\"},\"properties\":{\"dataEncryption\":{\"type\":\"SystemManaged\"},\"replica\":{\"role\":\"Primary\",\"capacity\":6},\"storage\":{\"type\":\"PremiumV2_LRS\",\"iops\":3000,\"throughput\":125,\"storageSizeGB\":32,\"autoGrow\":\"Disabled\"},\"network\":{\"publicNetworkAccess\":\"Enabled\"},\"privateEndpointConnections\":[],\"authConfig\":{\"activeDirectoryAuth\":\"Disabled\",\"passwordAuth\":\"Enabled\"},\"fullyQualifiedDomainName\":\"psqlflex-autorest-y6rwbhul.postgres.database.azure.com\",\"version\":\"16\",\"minorVersion\":\"14\",\"administratorLogin\":\"azpsadmin\",\"state\":\"Ready\",\"availabilityZone\":\"1\",\"backup\":{\"backupRetentionDays\":7,\"geoRedundantBackup\":\"Disabled\"},\"highAvailability\":{\"mode\":\"Disabled\",\"state\":\"NotEnabled\"},\"maintenanceWindow\":{\"customWindow\":\"Disabled\",\"dayOfWeek\":0,\"startHour\":0,\"startMinute\":0},\"replicationRole\":\"Primary\",\"replicaCapacity\":6},\"location\":\"Canada Central\",\"id\":\"/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/psqlflex-autorest-7rhve0/providers/Microsoft.DBforPostgreSQL/flexibleServers/psqlflex-autorest-y6rwbhul\",\"name\":\"psqlflex-autorest-y6rwbhul\",\"type\":\"Microsoft.DBforPostgreSQL/flexibleServers\"}",
    }
  },
  "Get-AzPostgreSqlFlexibleServerCapabilitiesByServer+[NoContext]+[NoScenario]+$GET+https://management.azure.com/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/psqlflex-autorest-7rhve0/providers/Microsoft.DBforPostgreSQL/flexibleServers/psqlflex-autorest-y6rwbhul/capabilities?api-version=2026-01-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/psqlflex-autorest-7rhve0/providers/Microsoft.DBforPostgreSQL/flexibleServers/psqlflex-autorest-y6rwbhul/capabilities?api-version=2026-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "75" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"name\":\"FlexibleServerCapabilities\",\"supportedServerEditions\":[{\"supportedServerSkus\":[{\"supportedFeatures\":[],\"name\":\"Standard_B1ms\",\"vCores\":1,\"supportedIops\":640,\"supportedMemoryPerVcoreMb\":2048,\"supportedZones\":[\"1\",\"2\",\"3\"],\"supportedHaMode\":[\"SameZone\",\"ZoneRedundant\"]},{\"supportedFeatures\":[],\"name\":\"Standard_B2s\",\"vCores\":2,\"supportedIops\":1280,\"supportedMemoryPerVcoreMb\":2048,\"supportedZones\":[\"1\",\"2\",\"3\"],\"supportedHaMode\":[\"SameZone\",\"ZoneRedundant\"]},{\"supportedFeatures\":[],\"name\":\"Standard_B2ms\",\"vCores\":2,\"supportedIops\":1920,\"supportedMemoryPerVcoreMb\":4096,\"supportedZones\":[\"1\",\"2\",\"3\"],\"supportedHaMode\":[\"SameZone\",\"ZoneRedundant\"]},{\"supportedFeatures\":[],\"name\[...]
