{
  "Get-AzPostgreSqlFlexibleServer+[NoContext]+List1+$GET+https://management.azure.com/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/psqlflex-autorest-pzt9iw/providers/Microsoft.DBforPostgreSQL/flexibleServers?api-version=2026-01-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/psqlflex-autorest-pzt9iw/providers/Microsoft.DBforPostgreSQL/flexibleServers?api-version=2026-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "66" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "f455ca8c-4063-4a35-b486-95b5deb07ec8" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"sku\":{\"name\":\"Standard_D4ds_v5\",\"tier\":\"GeneralPurpose\"},\"systemData\":{\"createdAt\":\"2026-06-05T14:19:23.5451839Z\"},\"properties\":{\"dataEncryption\":{\"type\":\"SystemManaged\"},\"replica\":{\"role\":\"Primary\",\"capacity\":6},\"storage\":{\"type\":\"Premium_LRS\",\"iops\":120,\"tier\":\"P4\",\"storageSizeGB\":32,\"autoGrow\":\"Disabled\"},\"network\":{\"publicNetworkAccess\":\"Enabled\"},\"privateEndpointConnections\":[],\"authConfig\":{\"activeDirectoryAuth\":\"Disabled\",\"passwordAuth\":\"Enabled\"},\"fullyQualifiedDomainName\":\"psqlflex-autorest-8lx5j3dq.postgres.database.azure.com\",\"version\":\"13\",\"minorVersion\":\"23\",\"administratorLogin\":\"azpsadmin\",\"state\":\"Ready\",\"availabilityZone\":\"1\",\"backup\":{\"backupRetentionDays\":7,\"geoRedundantBackup\":\"Enabled\"},\"highAvailability\":{\"mode\":\"SameZone\",\"state\":\"Healthy\",\"standbyAvailabilityZone\":\"1\"},\"maintenanceWindow\":{\"customWindow\":\"Disabled\",\"dayOfWeek\":0,\"startHour\":0,\"startMinute\":0},\"replicationRole\":\"Primary\",\"replicaCapacity\":6},\"location\":\"Canada Central\",\"id\":\"/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/psqlflex-autorest-pzt9iw/providers/Microsoft.DBforPostgreSQL/flexibleServers/psqlflex-autorest-8lx5j3dq\",\"name\":\"psqlflex-autorest-8lx5j3dq\",\"type\":\"Microsoft.DBforPostgreSQL/flexibleServers\"}]}",
    }
  },
  "Get-AzPostgreSqlFlexibleServer+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/psqlflex-autorest-pzt9iw/providers/Microsoft.DBforPostgreSQL/fle[...]
