{
  "Test-AzPostgreSqlFlexibleServerNameAvailabilityGlobally+[NoContext]+CheckExpandedShouldReturnInvalidForWrongCharacters+$POST+https://management.azure.com/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/providers/Microsoft.DBforPostgreSQL/checkNameAvailability?api-version=2026-01-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/providers/Microsoft.DBforPostgreSQL/checkNameAvailability?api-version=2026-01-01-preview",
      "Content": "{\r\n  \"name\": \"wrong-~server\",\r\n  \"type\": \"Microsoft.DBforPostgreSQL/flexibleServers\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "799" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"name\":\"wrong-~server\",\"type\":\"Microsoft.DBforPostgreSQL/flexibleServers\",\"nameAvailable\":false,\"reason\":\"Invalid\",\"message\":\"Specified server name contains unsupported characters or is too long. Server name must be no longer than 63 characters long, contain only lower-case characters or digits, cannot contain \u0027.\u0027 or \u0027_\u0027 characters and can\u0027t start or end with \u0027-\u0027 character.\"}",
    }
  },
  "Test-AzPostgreSqlFlexibleServerNameAvailabilityGlobally+[NoContext]+CheckExpandedShouldReturnAvailableForRandom63CharName+$POST+https://management.azure.com/subscriptions/ffffffff-ffff-ffff-fff[...]
