{
  "Get-AzRedisEnterpriseCacheKey+[NoContext]+List+$POST+https://management.azure.com/subscriptions/9508734a-8a49-4b3e-bd1e-d039b249a023/resourceGroups/ps-redisenterprise-rg-1/providers/Microsoft.Cache/redisEnterprise/ps-cache-test3-3/databases/default/listKeys?api-version=2025-07-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9508734a-8a49-4b3e-bd1e-d039b249a023/resourceGroups/ps-redisenterprise-rg-1/providers/Microsoft.Cache/redisEnterprise/ps-cache-test3-3/databases/default/listKeys?api-version=2025-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "21" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-rp-server-mvid": [ "f4f6654a-0925-42fb-9cb8-ca861a4c4494" ],
        "x-ms-throttling-version": [ "v2" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "799" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"primaryKey\": \"***\",\r\n  \"secondaryKey\": \"****\"\r\n}",
    }
  }
}