{
  "Entries": [
    {
      "RequestUri": "/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourcegroups/testPS?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS\",\r\n  \"name\": \"testPS\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Authorization/resourceManagementPrivateLinks/RMPL/privateLinkResources?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"groupId\": \"ResourceManagement\",\r\n        \"requiredMembers\": [\r\n          \"ResourceManagement\"\r\n        ],\r\n        \"requiredZoneNames\": [\r\n          \"privatelink.azure.com\"\r\n        ]\r\n      },\r\n      \"id\": \"/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Authorization/resourceManagementPrivateLinks/RMPL/privateLinkResources/ResourceManagement\",\r\n      \"name\": \"ResourceManagement\",\r\n      \"type\": \"Microsoft.Authorization/resourceManagementPrivateLinks/privateLinkResources\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Network/virtualNetworks/ps5656?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps5656' under resource group 'testPS' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Network/virtualNetworks/ps5656?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"027c0508-2b4d-41ac-a2d7-c8defd9b043f\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5656\",\r\n  \"id\": \"/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Network/virtualNetworks/ps5656\",\r\n  \"etag\": \"W/\\\"027c0508-2b4d-41ac-a2d7-c8defd9b043f\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"b97d9a99-ad17-446a-b09e-9ff00af7a464\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"11.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"Subnet\",\r\n        \"id\": \"/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Network/virtualNetworks/ps5656/subnets/Subnet\",\r\n        \"etag\": \"W/\\\"027c0508-2b4d-41ac-a2d7-c8defd9b043f\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"11.0.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Network/virtualNetworks/ps5656?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"11.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"11.0.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n          \"applicationGatewayIpConfigurations\": []\r\n        },\r\n        \"name\": \"Subnet\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/providers/Microsoft.Network/locations/eastus/operations/978fe977-90a6-4cf2-ae9f-f599f22a3c17?api-version=2021-08-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5656\",\r\n  \"id\": \"/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Network/virtualNetworks/ps5656\",\r\n  \"etag\": \"W/\\\"9cdebcd3-9058-47ed-a984-8b1955699a0c\\\"\",\r\n  \"type\": \"Microsoft.Ne[...]
    {
      "RequestUri": "/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/providers/Microsoft.Network/locations/eastus/operations/978fe977-90a6-4cf2-ae9f-f599f22a3c17?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Network/privateEndpoints/ps3211?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/privateEndpoints/ps3211' under resource group 'testPS' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Network/privateEndpoints/ps3211?api-version=2021-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"e006b5db-956f-4966-8b75-68a43917d08f\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps3211\",\r\n  \"id\": \"/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Network/privateEndpoints/ps3211\",\r\n  \"etag\": \"W/\\\"e006b5db-956f-4966-8b75-68a43917d08f\\\"\",\r\n  \"type\": \"Microsoft.Network/privateEndpoints\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"c38852c3-98a3-4698-bfcd-5ae1d4bfac88\",\r\n    \"privateLinkServiceConnections\": [],\r\n    \"manualPrivateLinkServiceConnections\": [\r\n      {\r\n        \"name\": \"ps1419\",\r\n        \"id\": \"/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Network/privateEndpoints/ps3211/manualPrivateLinkServiceConnections/ps1419\",\r\n        \"etag\": \"W/\\\"e006b5db-956f-4966-8b75-68a43917d08f\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateLinkServiceId\": \"/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Authorization/resourceManagementPrivateLinks/RMPL\",\r\n          \"groupIds\": [\r\n            \"ResourceManagement\"\r\n          ],\r\n          \"privateLinkServiceConnectionState\": {\r\n            \"status\": \"Pending\",\r\n            \"description\": \"\",\r\n            \"actionsRequired\": \"None\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/privateEndpoints/manualPrivateLinkServiceConnections\"\r\n      }\r\n    ],\r\n    \"customNetworkInterfaceName\": \"\",\r\n    \"subnet\": {\r\n      \"id\": \"/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Network/virtualNetworks/ps5656/subnets/Subnet\"\r\n    },\r\n    \"ipConfigurations\": [],\r\n    \"networkInterfaces\": [\r\n      {\r\n        \"id\": \"/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Network/networkInterfaces/ps3211.nic.2922f01a-017d-4ab8-87e5-afe62d04933c\"\r\n      }\r\n    ],\r\n    \"customDnsConfigs\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Network/privateEndpoints/ps3211?api-version=2021-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"subnet\": {\r\n      \"properties\": {\r\n        \"addressPrefix\": \"11.0.1.0/24\",\r\n        \"addressPrefixes\": [],\r\n        \"serviceEndpoints\": [],\r\n        \"serviceEndpointPolicies\": [],\r\n        \"ipAllocations\": [],\r\n        \"delegations\": [],\r\n        \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n        \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n        \"applicationGatewayIpConfigurations\": []\r\n      },\r\n      \"name\": \"Subnet\",\r\n      \"id\": \"/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Network/virtualNetworks/ps5656/subnets/Subnet\"\r\n    },\r\n    \"privateLinkServiceConnections\": [],\r\n    \"manualPrivateLinkServiceConnections\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateLinkServiceId\": \"/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Authorization/resourceManagementPrivateLinks/RMPL\",\r\n          \"groupIds\": [\r\n            \"ResourceManagement\"\r\n          ]\r\n        },\r\n        \"name\": \"ps1419\"\r\n      }\r\n    ],\r\n    \"customDnsConfigs\": [],\r\n    \"applicationSecurityGroups\": [],\r\n    \"ipConfigurations\": []\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/providers/Microsoft.Network/locations/eastus/operations/acebba11-6160-4b91-b00f-30cd082e93fd?api-ver[...]
[...]
    {
      "RequestUri": "/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Authorization/resourceManagementPrivateLinks/RMPL/privateEndpointConnections?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"privateEndpoint\": {\r\n          \"id\": \"/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Network/privateEndpoints/ps3211\"\r\n        },\r\n        \"privateLinkServiceConnectionState\": {\r\n          \"status\": \"Pending\",\r\n          \"description\": \"Auto-approved\"\r\n        }\r\n      },\r\n      \"id\": \"/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Authorization/resourceManagementPrivateLinks/RMPL/privateEndpointConnections/ps3211.c38852c3-98a3-4698-bfcd-5ae1d4bfac88\",\r\n      \"name\": \"ps3211.c38852c3-98a3-4698-bfcd-5ae1d4bfac88\",\r\n      \"type\": \"Microsoft.Authorization/resourceManagementPrivateLinks/privateEndpointConnections\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Authorization/resourceManagementPrivateLinks/RMPL/privateEndpointConnections/ps3211.c38852c3-98a3-4698-bfcd-5ae1d4bfac88?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"privateEndpoint\": {\r\n      \"id\": \"/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Network/privateEndpoints/ps3211\"\r\n    },\r\n    \"privateLinkServiceConnectionState\": {\r\n      \"status\": \"Pending\",\r\n      \"description\": \"Auto-approved\"\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourceGroups/testPS/providers/Microsoft.Authorization/resourceManagementPrivateLinks/RMPL/privateEndpointConnections/ps3211.c38852c3-98a3-4698-bfcd-5ae1d4bfac88\",\r\n  \"name\": \"ps3211.c38852c3-98a3-4698-bfcd-5ae1d4bfac88\",\r\n  \"type\": \"Microsoft.Authorization/resourceManagementPrivateLinks/privateEndpointConnections\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/resourcegroups/testPS?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1URVNUUFMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1URVNUUFMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1URVNUUFMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/08b18a9d-315d-4e7b-9bcc-abcf418031e7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1URVNUUFMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-ResourceManagerPrivateEndpoint": [
      "ps5656",
      "ps1419",
      "ps3211"
    ]
  },
  "Variables": {
    "SubscriptionId": "08b18a9d-315d-4e7b-9bcc-abcf418031e7"
  }
}