{
  "Get-AzSystemAssignedIdentity+[NoContext]+Get+$POST+https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/ar-rg-8or9dp5v/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ar-identity6al5po/listAssociatedResources?api-version=2022-01-31-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/ar-rg-8or9dp5v/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ar-identity6al5po/listAssociatedResources?api-version=2022-01-31-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "26" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11989" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"totalCount\":1,\"value\":[{\"id\":\"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/identity-jvsqdw9r/providers/Microsoft.Web/sites/appServicegf62n9\",\"name\":\"appServicegf62n9\",\"type\":\"microsoft.web/sites\",\"resourceGroup\":\"identity-jvsqdw9r\",\"subscriptionId\":\"0336439f-0e9d-44ec-975e-62accb9b3901\",\"subscriptionDisplayName\":\"Visual Studio Enterprise Subscription\"}]}",
    }
  }
}