{
  "Get-AzFederatedIdentityCredentials+[NoContext]+List+$GET+https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/fic-rg-1znoxkhq/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fic-identity-ws41z9/federatedIdentityCredentials?api-version=2022-01-31-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/fic-rg-1znoxkhq/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fic-identity-ws41z9/federatedIdentityCredentials?api-version=2022-01-31-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "16" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/fic-rg-1znoxkhq/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fic-identity-ws41z9/federatedIdentityCredentials/fic-27zqjk\",\"name\":\"fic-27zqjk\",\"type\":\"Microsoft.ManagedIdentity/userAssignedIdentities/federatedIdentityCredentials\",\"properties\":{\"issuer\":\"https://kubernetes-oauth.azure.mpxq2a\",\"subject\":\"system:serviceaccount:ns:svcaccount-5iaowt\",\"audiences\":[\"api://AzureADTokenExchange\"]}}]}",
    }
  },
  "Get-AzFederatedIdentityCredentials+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/fic-rg-1znoxkhq/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fic-identity-ws41z9/federatedIdentityCredentials/fic-27zqjk?api-version=2022-01-31-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0336439f-0e9d-44ec-9[...]
