{
  "Get-AzUserAssignedIdentity+[NoContext]+List+$GET+https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/providers/Microsoft.ManagedIdentity/userAssignedIdentities?api-version=2022-01-31-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/providers/Microsoft.ManagedIdentity/userAssignedIdentities?api-version=2022-01-31-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "21" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "", "" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11994" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/ar-rg-8or9dp5v/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ar-identity6al5po\",\"name\":\"ar-identity6al5po\",\"type\":\"Microsoft.ManagedIdentity/userAssignedIdentities\",\"location\":\"centralus\",\"tags\":{},\"properties\":{\"tenantId\":\"a66b4d27-b1b3-4b60-8b06-7fb4fd05bc3c\",\"principalId\":\"8b30b04e-ebab-4a3e-93ad-459352ad3bc7\",\"clientId\":\"9ecc6987-94a0-4548-8855-4b0c4fbddd72\"}},{\"id\":\"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/identity-jvsqdw9r/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityhknlo4\",\"name\":\"identityhknlo4\",\"type\":\"Microsoft.ManagedIdentity/userAssignedIdentities\",\"location\":\"centralus\",\"tags\":{},\"properties\":{\"tenantId\":\"a66b4d27-b1b3-4b60-8b06-7fb4fd05bc3c\",\"principalId\":\"9da8a443-1b0d-4aec-97df-d0b13d0c1903\",\"clientId\":\"44f98dd3-e1f6-4[...]
