{
  "New-AzFederatedIdentityCredentials+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/fic-rg-1znoxkhq/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fic-identity-ws41z9/federatedIdentityCredentials/fic-gwpmy6?api-version=2022-01-31-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/fic-rg-1znoxkhq/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fic-identity-ws41z9/federatedIdentityCredentials/fic-gwpmy6?api-version=2022-01-31-preview",
      "Content": "{\n  \"properties\": {\n    \"issuer\": \"https://kubernetes-oauth.azure.bntxv3\",\n    \"subject\": \"system:serviceaccount:ns:svcaccount-2s401c\",\n    \"audiences\": [ \"api://AzureADTokenExchange\" ]\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Location": [ "/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/fic-rg-1znoxkhq/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fic-identity-ws41z9/federatedIdentityCredentials/fic-gwpmy6" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1196" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/fic-rg-1znoxkhq/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fic-identity-ws41z9/federatedIdentityCredentials/fic-gwpmy6\",\"name\":\"fic-gwpmy6\",\"type\":\"Microsoft.ManagedIdentity/userAssignedIdentities/federatedIdentityCredentials\",\"properties\":{\"issuer\":\"https://kubernetes-oauth.azure.bntxv3\",\"subject\":\"system:serviceaccount:ns:svcaccount-2s401c\",\"audiences\":[\"api://AzureADTokenExchange\"]}}",
    }
  }
}