{
  "Update-AzFederatedIdentityCredentials+[NoContext]+UpdateExpanded+$PUT+https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/fic-rg-1znoxkhq/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fic-identity-ws41z9/federatedIdentityCredentials/fic-27zqjk?api-version=2022-01-31-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/fic-rg-1znoxkhq/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fic-identity-ws41z9/federatedIdentityCredentials/fic-27zqjk?api-version=2022-01-31-preview",
      "Content": "{\n  \"properties\": {\n    \"issuer\": \"https://kubernetes-oauth.azure.mpxq2a-updated\",\n    \"subject\": \"system:serviceaccount:ns:svcaccount-5iaowt-updated\",\n    \"audiences\": [ \"updated\" ]\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1192" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/fic-rg-1znoxkhq/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fic-identity-ws41z9/federatedIdentityCredentials/fic-27zqjk\",\"name\":\"fic-27zqjk\",\"type\":\"Microsoft.ManagedIdentity/userAssignedIdentities/federatedIdentityCredentials\",\"properties\":{\"issuer\":\"https://kubernetes-oauth.azure.mpxq2a-updated\",\"subject\":\"system:serviceaccount:ns:svcaccount-5iaowt-updated\",\"audiences\":[\"updated\"]}}",
    }
  },
  "Update-AzFederatedIdentityCredentials+[NoContext]+UpdateViaIdentityExpanded+$GET+https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/fic-rg-1znoxkhq/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fic-identity-ws41z9/federatedIdentityCredentials/fic-27zqjk?api-version=2022-01-31-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/fic-rg-1znoxkhq/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fic-identity-ws41z9/federatedIdentityCredentials/fic-27zqjk?api-version=2022-01-31-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "40" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11984" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/fic-rg-1znoxkhq/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fic-identity-ws41z9/federat[...]
