{
  "AzMySqlFlexibleServer+[NoContext]+List1+$GET+https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBForMySql/flexibleServers?api-version=2020-07-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBForMySql/flexibleServers?api-version=2020-07-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "12" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "0439b246-48de-40c9-8728-916f5c80d826", "7fa16d6e-8b5e-4213-9dd7-ecce09538ecb", "bc211152-76f6-4419-9bbe-6261ed8c2a04", "21222c23-9cb1-452d-8b72-179548ce4183" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11990" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"sku\":{\"name\":\"Standard_B1ms\",\"tier\":\"Burstable\",\"capacity\":0},\"properties\":{\"administratorLogin\":\"portal\",\"storageProfile\":{\"storageMB\":10240,\"storageIops\":100,\"backupRetentionDays\":7,\"storageAutogrow\":\"Disabled\",\"fileStorageSkuName\":\"Premium_LRS\"},\"version\":\"5.7\",\"state\":\"Ready\",\"haState\":\"NotEnabled\",\"fullyQualifiedDomainName\":\"ambrahma-mfs-vnet1.mysql.database.azure.com\",\"sourceServerId\":\"\",\"publicNetworkAccess\":\"Disabled\",\"sslEnforcement\":\"Disabled\",\"haEnabled\":\"Disabled\",\"earliestRestoreDate\":\"2021-02-08T20:20:59.4097058+00:00\",\"replicationRole\":\"None\",\"replicaCapacity\":10,\"delegatedSubnetArguments\":{\"subnetArmResourceId\":\"/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/ambrahma-rg/providers/Microsoft.Network/virtualNetworks/ambrahma-vnet-2/subnets/ambrahma-sub-mfs\"},\"byokEnforcement\":\"Disabled\"},\"location\":\"East US 2\",\"tags\":{},\"id\":\"/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/ambrahma-rg/providers/Microsoft.DBforMySQL/flexibleServers/ambrahma-mfs-vnet1\",\"name\":\"ambrahma-mfs-vnet1\",\"type\":\"Microsoft.DBforMySQL/flexibleServers\"},{\"sku\":{\"name\":\"Standard_B1ms\",\"tier\":\"Burstable\",\"capacity\":0},\"properties\":{\"administratorLogin\":\"portal\",\"storageProfile\":{\"storageMB\":10240,\"storageIops\":100,\"backupRetentionDays\":7,\"storageAutogrow\":\"Disabled\",\"fileStorageSkuName\":\"Premium_LRS\"},\"version\":\"5.7\",\"state\":\"Ready\",\"haState\":\"NotEnabled\",\"fullyQualifiedDomainName\":\"ambrahma-mfs-vnet3.mysql.database.azure.com\",\"sourceServerId\":\"\",\"pub[...]
