{
  "AzMySqlFlexibleServer+[NoContext]+List1+$GET+https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBForMySql/flexibleServers?api-version=2020-07-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBForMySql/flexibleServers?api-version=2020-07-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "15" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "6a3e3b22-d553-41ee-b4a4-80f209d51015", "3dcbf483-e1a1-4a96-b7d9-9e2af684c1f2" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11988" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"sku\":{\"name\":\"Standard_D2ds_v4\",\"tier\":\"GeneralPurpose\",\"capacity\":0},\"properties\":{\"administratorLogin\":\"freeBongo5\",\"storageProfile\":{\"storageMB\":10240,\"storageIops\":0,\"backupRetentionDays\":7,\"storageAutogrow\":\"Disabled\",\"fileStorageSkuName\":\"Premium_ZRS\"},\"version\":\"5.7\",\"state\":\"Ready\",\"haState\":\"Healthy\",\"fullyQualifiedDomainName\":\"server165887122.mysql.database.azure.com\",\"sourceServerId\":\"\",\"publicNetworkAccess\":\"Enabled\",\"sslEnforcement\":\"Disabled\",\"haEnabled\":\"Enabled\",\"earliestRestoreDate\":\"2021-02-03T06:36:35.0969757+00:00\",\"replicationRole\":\"None\",\"replicaCapacity\":10,\"byokEnforcement\":\"Disabled\"},\"location\":\"West US 2\",\"id\":\"/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/daeunyim-hatest/providers/Microsoft.DBforMySQL/flexibleServers/server165887122\",\"name\":\"server165887122\",\"type\":\"Microsoft.DBforMySQL/flexibleServers\"},{\"sku\":{\"name\":\"Standard_B1ms\",\"tier\":\"Burstable\",\"capacity\":0},\"properties\":{\"administratorLogin\":\"lethalCaribou5\",\"storageProfile\":{\"storageMB\":20480,\"storageIops\":100,\"backupRetentionDays\":16,\"storageAutogrow\":\"Disabled\",\"fileStorageSkuName\":\"Premium_LRS\"},\"version\":\"5.7\",\"state\":\"Ready\",\"haState\":\"NotEnabled\",\"fullyQualifiedDomainName\":\"test-dani123.mysql.database.azure.com\",\"sourceServerId\":\"\",\"[...]
