{
  "Get-AzMySqlFirewallRule+[NoContext]+List+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/MySqlTest/providers/Microsoft.DBforMySQL/servers/mysql-test-100/firewallRules/mysqlrule01?api-version=2017-12-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/MySqlTest/providers/Microsoft.DBforMySQL/servers/mysql-test-100/firewallRules/mysqlrule01?api-version=2017-12-01",
      "Content": "{\n  \"properties\": {\n    \"endIpAddress\": \"0.0.0.1\",\n    \"startIpAddress\": \"0.0.0.0\"\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.DBforMySQL/locations/eastus/operationResults/6be5f02d-99c6-48a2-b817-a102f1802474?api-version=2017-12-01" ],
        "Retry-After": [ "15" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.DBforMySQL/locations/eastus/azureAsyncOperation/6be5f02d-99c6-48a2-b817-a102f1802474?api-version=2017-12-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"operation\":\"UpsertElasticServerFirewallRules\",\"startTime\":\"2020-07-24T05:24:25.77Z\"}"
    }
  },
  "Get-AzMySqlFirewallRule+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.DBforMySQL/locations/eastus/azureAsyncOperation/6be5f02d-99c6-48a2-b817-a102f1802474?api-version=2017-12-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.DBforMySQL/locations/eastus/azureAsyncOperation/6be5f02d-99c6-48a2-b817-a102f1802474?api-version=2017-12-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1", "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Retry-After": [ "15" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"name\":\"6be5f02d-99c6-48a2-b817-a102f1802474\",\"status\":\"Succeeded\",\"startTime\":\"2020-07-24T05:24:25.77Z\"}"
    }
  },
  "Get-AzMySqlFirewallRule+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/MySqlTest/providers/Microsoft.DBforMySQL/servers/mysql-test-100/firewallRules/mysqlrule01?api-version=2017-12-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/MySqlTest/providers/Microsoft.DBforMySQL/servers/mysql-test-100/firewallRules/mysqlrule01?api-version=2017-12-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1", "2", "3" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11997" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"startIpAddress\":\"0.0.0.0\",\"endIpAddress\":\"0.0.0.1\"},\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/MySqlTest/providers/Microsoft.DBforMySQL/servers/mysql-test-100/firewallRules/mysqlrule01\",\"name\":\"mysqlrule01\",\"type\":\"Microsoft.DBforMySQL/servers/firewallRules\"}"
    }
  },
  "Get-AzMySqlFirewallRule+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/MySqlTest/providers/Microsoft.DBforMySQL/servers/mysql-test-100/firewallRules?api-version=2017-12-01+4": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/MySqlTest/providers/Microsoft.DBforMySQL/servers/mysql-test-100/firewallRules?api-version=2017-12-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "4" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11996" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"startIpAddress\":\"0.0.0.0\",\"endIpAddress\":\"0.0.0.1\"},\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/MySqlTest/providers/Microsoft.DBforMySQL/servers/mysql-test-100/firewallRules/mysqlrule01\",\"name\":\"mysqlrule01\",\"type\":\"Microsoft.DBforMySQL/servers/firewallRules\"}]}"
    }
  },
  "Get-AzMySqlFirewallRule+[NoContext]+List+$DELETE+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/MySqlTest/[...]
