{
    "New-AzMySqlServer+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/MySqlTestGroup/providers/Microsoft.DBForMySQL/servers/mysql-test-100-2?api-version=2017-12-01+1": {
      "Request": {
        "Method": "PUT",
        "RequestUri": "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/MySqlTestGroup/providers/Microsoft.DBForMySQL/servers/mysql-test-100-2?api-version=2017-12-01",
        "Content": "{\n  \"properties\": {\n    \"createMode\": \"Default\",\n    \"administratorLogin\": \"pwsh\",\n    \"administratorLoginPassword\": \"Pa88word!\"\n  },\n  \"sku\": {\n    \"name\": \"GP_Gen5_4\"\n  },\n  \"location\": \"eastus\"\n}",
        "Headers": {
        },
        "ContentHeaders": {
          "Content-Type": [ "application/json" ]
        }
      },
      "Response": {
        "StatusCode": 202,
        "Headers": {
          "Location": [ "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBForMySQL/locations/eastus/operationResults/4d7c6645-81d7-4604-99db-387dedcedfbf?api-version=2017-12-01" ],
          "Retry-After": [ "60" ],
          "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBForMySQL/locations/eastus/azureAsyncOperation/4d7c6645-81d7-4604-99db-387dedcedfbf?api-version=2017-12-01" ],
          "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
        },
        "ContentHeaders": {
          "Content-Type": [ "application/json; charset=utf-8" ]
        },
        "Content": "{\"operation\":\"UpsertElasticServer\",\"startTime\":\"2020-07-24T06:20:48.23Z\"}"
      }
    },
    "New-AzMySqlServer+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBForMySQL/locations/eastus/azureAsyncOperation/4d7c6645-81d7-4604-99db-387dedcedfbf?api-version=2017-12-01+2": {
      "Request": {
        "Method": "GET",
        "RequestUri": "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBForMySQL/locations/eastus/azureAsyncOperation/4d7c6645-81d7-4604-99db-387dedcedfbf?api-version=2017-12-01",
        "Content": null,
        "Headers": {
          "x-ms-unique-id": [ "1", "2" ],
          "Authorization": [ "[Filtered]" ]
        },
        "ContentHeaders": {
        }
      },
      "Response": {
        "StatusCode": 200,
        "Headers": {
          "Retry-After": [ "60" ],
          "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
        },
        "ContentHeaders": {
          "Content-Type": [ "application/json; charset=utf-8" ]
        },
        "Content": "{\"name\":\"4d7c6645-81d7-4604-99db-387dedcedfbf\",\"status\":\"InProgress\",\"startTime\":\"2020-07-24T06:20:48.23Z\"}"
      }
    },
    "New-AzMySqlServer+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBForMySQL/locations/eastus/azureAsyncOperation/4d7c6645-81d7-4604-99db-387dedcedfbf?api-version=2017-12-01+3": {
      "Request": {
        "Method": "GET",
        "RequestUri": "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/[...]
