{
  "Restart-AzMySqlServer+[NoContext]+Restart+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/MySqlTest/providers/Microsoft.DBforMySQL/servers/mysql-test-100/restart?api-version=2017-12-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/MySqlTest/providers/Microsoft.DBforMySQL/servers/mysql-test-100/restart?api-version=2017-12-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.DBforMySQL/locations/eastus/operationResults/2c5d06a0-f0c2-47db-8145-c596b0e722b6?api-version=2017-12-01" ],
        "Retry-After": [ "15" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.DBforMySQL/locations/eastus/azureAsyncOperation/2c5d06a0-f0c2-47db-8145-c596b0e722b6?api-version=2017-12-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"operation\":\"RestartElasticServer\",\"startTime\":\"2020-07-24T06:42:17.86Z\"}"
    }
  },
  "Restart-AzMySqlServer+[NoContext]+Restart+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.DBforMySQL/locations/eastus/azureAsyncOperation/2c5d06a0-f0c2-47db-8145-c596b0e722b6?api-version=2017-12-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.DBforMySQL/locations/eastus/azureAsyncOperation/2c5d06a0-f0c2-47db-8145-c596b0e722b6?api-version=2017-12-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1", "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Retry-After": [ "15" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11980" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"name\":\"2c5d06a0-f0c2-47db-8145-c596b0e722b6\",\"status\":\"InProgress\",\"startTime\":\"2020-07-24T06:42:17.86Z\"}"
    }
  },
  "Restart-AzMySqlServer+[NoContext]+Restart+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.DBforMySQL/locations/eastus/azureAsyncOperation/2c5d06a0-f0c2-47db-8145-c596b0e722b6?api-version=2017-12-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.DBfor[...]
