{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f26d1f13-67d5-4ad6-9012-67ca12d2436f/providers/Microsoft.Security/regulatoryComplianceStandards/SOC%20TSP/regulatoryComplianceControls/C1.2?api-version=2019-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f26d1f13-67d5-4ad6-9012-67ca12d2436f/providers/Microsoft.Security/regulatoryComplianceStandards/SOC-TSP/regulatoryComplianceControls/C1.2\",\r\n  \"name\": \"C1.2\",\r\n  \"type\": \"Microsoft.Security/regulatoryComplianceStandards/regulatoryComplianceControls\",\r\n  \"properties\": {\r\n    \"description\": \"Confidential information within the boundaries of the system is protected against unauthorized access, use, and disclosure during input, processing, retention, output, and disposition in accordance with confidentiality commitments and requirements.\",\r\n    \"state\": \"Failed\",\r\n    \"passedAssessments\": 177,\r\n    \"failedAssessments\": 22,\r\n    \"skippedAssessments\": 0\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "f26d1f13-67d5-4ad6-9012-67ca12d2436f"
  }
}