{
  "Entries": [
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/attestations/Attestation-SubscriptionScope-Crud?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"AttestationNotFound\",\r\n    \"message\": \"The attestation with name 'Attestation-SubscriptionScope-Crud' does not exist.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/attestations/Attestation-SubscriptionScope-Crud?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"complianceState\": \"Compliant\",\r\n    \"policyAssignmentId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policyAssignments/PSAttestationSubAssignment\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "144"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"policyAssignmentId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/microsoft.authorization/policyassignments/psattestationsubassignment\",\r\n    \"complianceState\": \"Compliant\",\r\n    \"lastComplianceStateChangeAt\": \"2025-02-05T00:19:56.6876569Z\"\r\n  },\r\n  \"id\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/microsoft.policyinsights/attestations/attestation-subscriptionscope-crud\",\r\n  \"name\": \"Attestation-SubscriptionScope-Crud\",\r\n  \"type\": \"Microsoft.PolicyInsights/attestations\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"dunnryan@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2025-02-05T00:19:56.6876569Z\",\r\n    \"lastModifiedBy\": \"dunnryan@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2025-02-05T00:19:56.6876569Z\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourceGroups/ps-attestation-test-rg/providers/Microsoft.PolicyInsights/attestations/Attestation-RG-Full?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"AttestationNotFound\",\r\n    \"message\": \"The attestation with name 'Attestation-RG-Full' does not exist.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourceGroups/ps-attestation-test-rg/providers/Microsoft.PolicyInsights/attestations/Attestation-RG-Full?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"complianceState\": \"Compliant\",\r\n    \"policyAssignmentId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policyAssignments/PSAttestationInitiativeRGAssignment\",\r\n    \"policyDefinitionReferenceId\": \"PSTestAttestationRG_1\",\r\n    \"expiresOn\": \"2050-01-01T00:00:00Z\",\r\n    \"owner\": \"Test Owner\",\r\n    \"comments\": \"Test Comment\",\r\n    \"evidence\": [\r\n      {\r\n        \"description\": \"This is a test description\",\r\n        \"sourceUri\": \"https://contoso.org/test.pdf\"\r\n      }\r\n    ],\r\n    \"assessmentDate\": \"2049-12-30T00:00:00Z\",\r\n    \"metadata\": {\r\n      \"TestKey\": \"TestValue\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "144"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\":[...]
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourceGroups/ps-attestation-test-rg/providers/Microsoft.Network/networkSecurityGroups/pstests0/providers/Microsoft.PolicyInsights/attestations/Attestation-ResourceScope-Crud?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"AttestationNotFound\",\r\n    \"message\": \"The attestation with name 'Attestation-ResourceScope-Crud' does not exist.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/attestations?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "141"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"policyAssignmentId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/microsoft.authorization/policyassignments/psattestationsubassignment\",\r\n        \"complianceState\": \"Compliant\",\r\n        \"lastComplianceStateChangeAt\": \"2025-02-05T00:19:56.6876569Z\"\r\n      },\r\n      \"id\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/microsoft.policyinsights[...]
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/attestations?api-version=2022-09-01&$top=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "144"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-g[...]
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/attestations?api-version=2022-09-01&$filter=PolicyAssignmentId%20eq%20%27%2Fsubscriptions%2Fe5a130f3-57fd-46b6-9c55-03d21a853935%2Fproviders%2FMicrosoft.Authorization%2FpolicyAssignments%2FPSAttestationSubAssignment%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insigh[...]
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourceGroups/ps-attestation-test-rg/providers/Microsoft.PolicyInsights/attestations?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "145"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-rat[...]
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourceGroups/ps-attestation-test-rg/providers/Microsoft.Network/networkSecurityGroups/pstests0/providers/Microsoft.PolicyInsights/attestations?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "143"
        ],
        "x-ms-ratelimit-remaining-subscript[...]
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935//providers/Microsoft.PolicyInsights/attestations/Attestation-SubscriptionScope-Crud?api-version=2022-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "142"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-deletes": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/ps-attestation-test-rg//providers/Microsoft.PolicyInsights/attestations/Attestation-RG-Full?api-version=2022-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "144"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-deletes": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/ps-attestation-test-rg/providers/microsoft.network/networksecuritygroups/pstests0//providers/Microsoft.PolicyInsights/attestations/Attestation-ResourceScope-Crud?api-version=2022-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "140"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-deletes": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "e5a130f3-57fd-46b6-9c55-03d21a853935"
  }
}