{
  "Entries": [
    {
      "RequestUri": "//subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourceGroups/ps-attestation-test-rg/providers/Microsoft.PolicyInsights/attestations/Attestation-Error-Crud?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"AttestationNotFound\",\r\n    \"message\": \"The attestation with name 'Attestation-Error-Crud' does not exist.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "//subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourceGroups/ps-attestation-test-rg/providers/Microsoft.PolicyInsights/attestations/Attestation-Error-Crud?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"policyAssignmentId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.Authorization/policyAssignments/PSAttestationSubAssignment\",\r\n    \"complianceState\": \"Compliant\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidCreateAttestationRequest\",\r\n    \"message\": \"Unable to create attestation 'Attestation-Error-Crud'. No compliance data was found for resource '/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourceGroups/ps-attestation-test-rg' against policy assignment '/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.Authorization/policyAssignments/PSAttestationSubAssignment' and policy definition reference ID ''. If this is a new resource or policy assignment please trigger a compliance scan or try again later.\"\r\n  }\r\n}",
      "StatusCode": 400
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "086aecf4-23d6-4dfd-99a8-a5c6299f0322"
  }
}