{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/invoices/T000512627?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "x-ms-service-version": [
          "10.6.1271.445"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/invoices/T000512627\",\r\n  \"name\": \"T000512627\",\r\n  \"properties\": {\r\n    \"amountDue\": {\r\n      \"currency\": \"USD\",\r\n      \"value\": 0.0\r\n    },\r\n    \"azurePrepaymentApplied\": {\r\n      \"currency\": \"USD\",\r\n      \"value\": 0.0\r\n    },\r\n    \"billedAmount\": {\r\n      \"currency\": \"USD\",\r\n      \"value\": 0.0\r\n    },\r\n    \"billingProfileDisplayName\": \"Ibiza One\",\r\n    \"creditAmount\": {\r\n      \"currency\": \"USD\",\r\n      \"value\": 0.0\r\n    },\r\n    \"documents\": [\r\n      {\r\n        \"kind\": \"Invoice\",\r\n        \"url\": \"https://management.azure.com/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/invoices/T000512627/download?downloadToken=Drs_6390568816&api-version=2020-05-01\",\r\n        \"source\": \"DRS\"\r\n      }\r\n    ],\r\n    \"dueDate\": \"2020-07-16T15:31:14.5914624Z\",\r\n    \"freeAzureCreditApplied\": {\r\n      \"currency\": \"USD\",\r\n      \"value\": 0.0\r\n    },\r\n    \"invoiceDate\": \"2020-06-16T15:31:14.5914624Z\",\r\n    \"invoicePeriodEndDate\": \"2020-06-16T15:15:57.5331884Z\",\r\n    \"invoicePeriodStartDate\": \"2020-06-16T15:15:57.5331884Z\",\r\n    \"invoiceType\": \"AzureMarketplace\",\r\n    \"isMonthlyInvoice\": false,\r\n    \"payments\": [],\r\n    \"status\": \"Paid\",\r\n    \"subscriptionId\": \"a8f7d0a1-204c-478a-86f0-bc53ce8d33a8\",\r\n    \"subTotal\": {\r\n      \"currency\": \"USD\",\r\n      \"value\": 0.0\r\n    },\r\n    \"taxAmount\": {\r\n      \"currency\": \"USD\",\r\n      \"value\": 0.0\r\n    },\r\n    \"totalAmount\": {\r\n      \"currency\": \"USD\",\r\n      \"value\": 0.0\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Billing/billingAccounts/billingSubscriptions/invoices\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "a8f7d0a1-204c-478a-86f0-bc53ce8d33a8"
  }
}