{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/invoices?api-version=2018-03-01-preview&$expand=downloadUrl",
=======
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/invoices?periodStartDate=2020-01-01T00%3A00%3A00.0000000&periodEndDate=2020-06-30T00%3A00%3A00.0000000&api-version=2020-05-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "64540522-0c2b-4307-aba5-c2577d3f808d"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2633.0",
          "OSName/Windows_10_Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.Billing.BillingManagementClient/2.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/invoices/201710-317724100092362\",\r\n      \"type\": \"Microsoft.Billing/invoices\",\r\n      \"name\": \"201710-317724100092362\",\r\n      \"properties\": {\r\n        \"downloadUrl\": {\r\n          \"expiryTime\": \"2018-03-23T21:02:45Z\",\r\n          \"url\": \"https://billinginsightsstoretest.blob.core.windows.net/invoices/c909e979-ef71-4def-a970-bc7c154db8c5-201710-317724100092362.pdf?sv=2014-02-14&sr=b&sig=sDOcIoAg5pjj2p1nvazjpYwQCORIIiKgbTM6dziZu4E%3D&se=2018-03-23T21%3A02%3A45Z&sp=r\"\r\n        },\r\n        \"invoicePeriodEndDate\": \"2017-08-05\",\r\n        \"invoicePeriodStartDate\": \"2017-07-06\",\r\n        \"billingPeriodIds\": [\r\n          \"/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/billingPeriods/201710-1\"\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/invoices/201709-317477130089288\",\r\n      \"type\": \"Microsoft.Billing/invoices\",\r\n      \"name\": \"201709-317477130089288\",\r\n      \"properties\": {\r\n        \"downloadUrl\": {\r\n          \"expiryTime\": \"2018-03-23T21[...]
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/invoices/T000534832/download?api-version=2020-05-01&downloadToken=Drs_8404755123",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
        "api-supported-versions": [
          "2017-02-27-preview, 2017-04-24-preview, 2018-03-01-preview"
=======
        "Location": [
          "https://management.azure.com/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/operationResults/invoiceDownload_2659ef7e-ee18-40f0-afe4-0d3ab61d848b?api-version=2020-05-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-service-version": [
          "10.6.1278.449"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "X-Frame-Options": [
          "DENY"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "x-ms-request-id": [
          "3a04fce0-6385-4f6c-ae62-9c9cc731bac2"
        ],
        "x-ms-correlation-request-id": [
          "3a04fce0-6385-4f6c-ae62-9c9cc731bac2"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200706T191757Z:3a04fce0-6385-4f6c-ae62-9c9cc731bac2"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ],
        "x-ms-request-id": [
          "d55c0318-cbcc-4ccf-bbc8-dac5155047c4"
        ],
        "x-ms-correlation-request-id": [
          "d55c0318-cbcc-4ccf-bbc8-dac5155047c4"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20180323T200245Z:d55c0318-cbcc-4ccf-bbc8-dac5155047c4"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Fri, 23 Mar 2018 20:02:45 GMT"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/billingPeriods?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/billingPeriods/201806-1\",\r\n      \"type\": \"Microsoft.Billing/billingPeriods\",\r\n      \"name\": \"201806-1\",\r\n      \"properties\": {\r\n        \"billingPeriodStartDate\": \"2018-03-06\",\r\n        \"billingPeriodEndDate\": \"2018-04-05\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/billingPeriods/201805-1\",\r\n      \"type\": \"Microsoft.Billing/billingPeriods\",\r\n      \"name\": \"201805-1\",\r\n      \"properties\": {\r\n        \"billingPeriodStartDate\": \"2018-02-06\",\r\n        \"billingPeriodEndDate\": \"2018-03-05\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/pro[...]
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/operationResults/invoiceDownload_2659ef7e-ee18-40f0-afe4-0d3ab61d848b?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "x-ms-service-version": [
          "10.6.1278.449"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"url\": \"https://billingrppub.blob.core.windows.net/invoices/T000534832_8404755123.pdf?sv=2019-02-02&sr=b&sp=r\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/operationResults/invoiceDownload_02be3207-e96a-46c1-9001-c3d6ed65a0f6?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/operationResults/invoiceDownload_02be3207-e96a-46c1-9001-c3d6ed65a0f6?api-version=2020-05-01"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-service-version": [
          "10.6.1278.449"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11996"
        ]
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Expires": [
          "-1"
        ],
<<<<<<< HEAD
        "Pragma": [
          "no-cache"
        ],
        "api-supported-versions": [
          "2017-04-24-preview, 2018-03-01-preview"
=======
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/operationResults/invoiceDownload_02be3207-e96a-46c1-9001-c3d6ed65a0f6?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11990"
        ],
        "x-ms-service-version": [
          "10.6.1278.449"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"url\": \"https://billingrppub.blob.core.windows.net/invoices/T000512627_6390568816.pdf?sv=2019-02-02&sr=b&sp=r\"\r\n}",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
<<<<<<< HEAD
    "SubscriptionId": "c909e979-ef71-4def-a970-bc7c154db8c5"
=======
    "SubscriptionId": "a8f7d0a1-204c-478a-86f0-bc53ce8d33a8"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
  }
}