{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/invoices?api-version=2018-03-01-preview",
=======
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/invoices?periodStartDate=2020-01-01T00%3A00%3A00.0000000&periodEndDate=2020-06-30T00%3A00%3A00.0000000&api-version=2020-05-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "09f69e63-fee5-46d6-b258-dc5409fb6901"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2633.0",
          "OSName/Windows_10_Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.Billing.BillingManagementClient/2.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/invoices/201710-317724100092362\",\r\n      \"type\": \"Microsoft.Billing/invoices\",\r\n      \"name\": \"201710-317724100092362\",\r\n      \"properties\": {\r\n        \"invoicePeriodEndDate\": \"2017-08-05\",\r\n        \"invoicePeriodStartDate\": \"2017-07-06\",\r\n        \"billingPeriodIds\": [\r\n          \"/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/billingPeriods/201710-1\"\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/invoices/201709-317477130089288\",\r\n      \"type\": \"Microsoft.Billing/invoices\",\r\n      \"name\": \"201709-317477130089288\",\r\n      \"properties\": {\r\n        \"invoicePeriodEndDate\": \"2017-07-05\",\r\n        \"invoiceP[...]
