{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/invoices/latest?api-version=2018-03-01-preview",
=======
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/invoices?periodStartDate=2020-01-01T00%3A00%3A00.0000000&periodEndDate=2020-06-30T00%3A00%3A00.0000000&api-version=2020-05-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "1a386bfa-b994-4cf3-8b93-8abc804715e7"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2633.0",
          "OSName/Windows_10_Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.Billing.BillingManagementClient/2.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/invoices/201710-317724100092362\",\r\n  \"type\": \"Microsoft.Billing/invoices\",\r\n  \"name\": \"201710-317724100092362\",\r\n  \"properties\": {\r\n    \"downloadUrl\": {\r\n      \"expiryTime\": \"2018-03-23T21:03:14Z\",\r\n      \"url\": \"https://billinginsightsstoretest.blob.core.windows.net/invoices/c909e979-ef71-4def-a970-bc7c154db8c5-201710-317724100092362.pdf?sv=2014-02-14&sr=b&sig=NOTg%2FhWF%2B6bQpB7FLoqny1aVdIHeC3Hsfu%2BauGlvD4w%3D&se=2018-03-23T21%3A03%3A14Z&sp=r\"\r\n    },\r\n    \"invoicePeriodEndDate\": \"2017-08-05\",\r\n    \"invoicePeriodStartDate\": \"2017-07-06\",\r\n    \"billingPeriodIds\": [\r\n      \"/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/billingPeriods/201710-1\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
=======
          "373a1140-da8c-4d67-be6c-078573d5a323"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.27817.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Billing.BillingManagementClient/4.0.0.0"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11993"
        ],
        "x-ms-service-version": [
          "10.6.1278.449"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ]
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
<<<<<<< HEAD
=======
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/invoices/T000534832\",\r\n      \"name\": \"T000534832\",\r\n      \"properties\": {\r\n        \"amountDue\": {\r\n          \"currency\": \"USD\",\r\n          \"value\": 4.37\r\n        },\r\n        \"azurePrepaymentApplied\": {\r\n          \"currency\": \"USD\",\r\n          \"value\": 0.0\r\n        },\r\n        \"billedAmount\": {\r\n          \"currency\": \"USD\",\r\n          \"value\": 4.36\r\n        },\r\n        \"billingProfileDisplayName\": \"Marketing\",\r\n        \"creditAmount\": {\r\n          \"currency\": \"USD\",\r\n          \"value\": 0.0\r\n        },\r\n        \"documents\": [\r\n          {\r\n            \"kind\": \"Invoice\",\r\n            \"url\": \"https://management.azure.com/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/invoices/T000534832/download?downloadToken=Drs_8404755123&api-version=2020-05-01\",\r\n            \"source\": \"DRS\"\r\n          }\r\n        ],\r\n        \"dueDate\": \"2020-08-04T00:18:53.801623Z\",\r\n        \"freeAzureCreditApplied\": {\r\n          \"currency\": \"USD\",\r\n          \"value\": 0.0\r\n        },\r\n        \"invoiceDate\": \"2020-07-05T00:18:53.801623Z\",\r\n        \"invoicePeriodEndDate\": \"2020-06-30T23:59:59.9999999\",\r\n        \"invoicePeriodStartDate\": \"2020-06-16T15:15:28.2936915Z\",\r\n        \"invoiceType\": \"AzureMarketplace\",\r\n        \"isMonthlyInvoice\": true,\r\n        \"payments\": [],\r\n        \"status\": \"Due\",\r\n        \"subscriptionId\": \"a8f7d0a1-204c-478a-86f0-bc53ce8d33a8\",\r\n        \"subTotal\": {\r\n          \"currency\": \"USD\",\r\n          \"value\": 4.36\r\n        },\r\n        \"taxAmount\": {\r\n          \"currency\": \"USD\",\r\n          \"value\": 0.01\r\n        },\r\n        \"totalAmount\": {\r\n          \"currency\": \"USD\",\r\n          \"value\": 4.37\r\n        }\r\n      },\r\n      \"type\": \"Microsoft.Billing/billingAccounts/billingSubscriptions/invoices\"\r\n    },\r\n    {\r\n      \"id\": \"/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/invoices/T000512627\",\r\n      \"name\": \"T000512627\",\r\n      \"properties\": {\r\n        \"amountDue\": {\r\n          \"currency\": \"USD\",\r\n          \"value\"[...]
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/invoices/T000534832/download?api-version=2020-05-01&downloadToken=Drs_8404755123",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
        "api-supported-versions": [
          "2017-02-27-preview, 2017-04-24-preview, 2018-03-01-preview"
=======
        "Location": [
          "https://management.azure.com/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/operationResults/invoiceDownload_e11c0e2f-aff4-4190-bba2-834491b8017f?api-version=2020-05-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-service-version": [
          "10.6.1278.449"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "X-Frame-Options": [
          "DENY"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1198"
        ],
        "x-ms-request-id": [
          "d91f6043-19d3-4d64-96f0-ef1f5e6dfeee"
        ],
        "x-ms-correlation-request-id": [
          "d91f6043-19d3-4d64-96f0-ef1f5e6dfeee"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200706T191913Z:d91f6043-19d3-4d64-96f0-ef1f5e6dfeee"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14990"
        ],
        "x-ms-request-id": [
          "b64d7f78-956d-4437-8573-04f5fe11e90a"
        ],
        "x-ms-correlation-request-id": [
          "b64d7f78-956d-4437-8573-04f5fe11e90a"
        ],
        "x-ms-routing-request-id": [
          "CENTRALUS:20180323T200315Z:b64d7f78-956d-4437-8573-04f5fe11e90a"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Fri, 23 Mar 2018 20:03:15 GMT"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ]
      },
=======
        "Date": [
          "Mon, 06 Jul 2020 19:19:13 GMT"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/operationResults/invoiceDownload_e11c0e2f-aff4-4190-bba2-834491b8017f?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11992"
        ],
        "x-ms-service-version": [
          "10.6.1278.449"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"url\": \"https://billingrppub.blob.core.windows.net/invoices/T000534832_8404755123.pdf?sv=2019-02-02&sr=b&sp=r\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/default/billingSubscriptions/a8f7d0a1-204c-478a-86f0-bc53ce8d33a8/operationResults/invoiceDownload_e11c0e2f-aff4-4190-bba2-834491b8017f?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11991"
        ],
        "x-ms-service-version": [
          "10.6.1278.449"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"url\": \"https://billingrppub.blob.core.windows.net/invoices/T000534832_8404755123.pdf?sv=2019-02-02&sr=b&sp=r\"\r\n}",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
<<<<<<< HEAD
    "SubscriptionId": "c909e979-ef71-4def-a970-bc7c154db8c5"
=======
    "SubscriptionId": "a8f7d0a1-204c-478a-86f0-bc53ce8d33a8"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
  }
}