<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure.Batch" version="8.0.0" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Azure.Management.Batch" version="4.2.0" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="6.2.0" targetFramework="net45" />
</packages>