{
  "Entries": [
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourcegroups/sql-cmdlet-test-rgps8471?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471\",\r\n  \"name\": \"sql-cmdlet-test-rgps8471\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Storage/checkNameAvailability?api-version=2021-02-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"sqlstorageps8471\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Storage/storageAccounts/sqlstorageps8471?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"isHnsEnabled\": true\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Storage/locations/westcentralus/asyncoperations/e309a2f4-2520-43fe-969c-6ad6c864ed9c?monitor=true&api-version=2021-02-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Storage/locations/westcentralus/asyncoperations/e309a2f4-2520-43fe-969c-6ad6c864ed9c?monitor=true&api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Storage/storageAccounts/sqlstorageps8471\",\r\n  \"name\": \"sqlstorageps8471\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"privateEndpointConnections\": [],\r\n    \"isHnsEnabled\": true,\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": true,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"keyType\": \"Account\",\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2021-03-01T04:35:14.2520551Z\"\r\n        },\r\n        \"blob\": {\r\n          \"keyType\": \"Account\",\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2021-03-01T04:35:14.2520551Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2021-03-01T04:35:14.189553Z\",\r\n    \"primaryEndpoints\": {\r\n      \"dfs\": \"https://sqlstorageps8471.dfs.core.windows.net/\",\r\n      \"web\": \"https://sqlstorageps8471.z4.web.core.windows.net/\",\r\n      \"blob\": \"https://sqlstorageps8471.blob.core.windows.net/\",\r\n      \"queue\": \"https://sqlstorageps8471.queue.core.windows.net/\",\r\n      \"table\": \"https://sqlstorageps8471.table.core.windows.net/\",\r\n      \"file\": \"https://sqlstorageps8471.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"westcentralus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"westus2\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Synapse/workspaces/sqlwsps8471' under resource group 'sql-cmdlet-test-rgps8471' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471\",\r\n  \"location\": \"westcentralus\",\r\n  \"name\": \"sqlwsps8471\",\r\n  \"type\": \"Microsoft.Synapse/workspaces\",\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"principalId\": \"15c17243-cbaa-4e89-837e-ae349adac317\"\r\n  },\r\n  \"properties\": {\r\n    \"connectivityEndpoints\": {\r\n      \"web\": \"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3%2fresourceGroups%2fsql-cmdlet-test-rgps8471%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fsqlwsps8471\",\r\n      \"dev\": \"https://sqlwsps8471.dev.azuresynapse.net\",\r\n      \"sqlOnDemand\": \"sqlwsps8471-ondemand.sql.azuresynapse.net\",\r\n      \"sql\": \"sqlwsps8471.sql.azuresynapse.net\"\r\n    },\r\n    \"managedResourceGroupName\": \"synapseworkspace-managedrg-042c7aea-b61c-4e24-9720-4242f0b05ebe\",\r\n    \"defaultDataLakeStorage\": {\r\n      \"accountUrl\": \"https://sqlstorageps8471.dfs.core.windows.net\",\r\n      \"filesystem\": \"sqlcmdletfsps8471\"\r\n    },\r\n    \"sqlAdministratorLogin\": \"testlogin\",\r\n    \"privateEndpointConnections\": [],\r\n    \"workspaceUID\": \"29cec2cd-ec02-4bf3-b8a3-427706440414\",\r\n    \"extraProperties\": {\r\n      \"IsScopeEnabled\": false,\r\n      \"WorkspaceType\": \"Normal\"\r\n    },\r\n    \"encryption\": {\r\n      \"doubleEncryptionEnabled\": false\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStorage\": {\r\n      \"accountUrl\": \"https://sqlstorageps8471.dfs.core.windows.net\",\r\n      \"filesystem\": \"sqlcmdletfsps8471\"\r\n    },\r\n    \"sqlAdministratorLoginPassword\": \"testp@ssMakingIt1007Longer\",\r\n    \"sqlAdministratorLogin\": \"testlogin\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/operationStatuses/7f5e70d7-e961-4627-a03b-93a72a35d47e?api-version=2019-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/s[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/operationStatuses/7f5e70d7-e961-4627-a03b-93a72a35d47e?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471' under resource group 'sql-cmdlet-test-rgps8471' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11961"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"status\": \"Online\",\r\n    \"maxSizeBytes\": 263882790666240,\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"restorePointInTime\": \"0001-01-01T00:00:00\",\r\n    \"creationDate\": \"2021-03-01T04:43:39.067Z\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"DW200c\",\r\n    \"capacity\": 0\r\n  },\r\n  \"id\": \"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471\",\r\n  \"name\": \"sqlpoolps8471\",\r\n  \"type\": \"Microsoft.Synapse/workspaces/sqlPools\",\r\n  \"location\": \"westcentralus\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"status\": \"Online\",\r\n    \"maxSizeBytes\": 263882790666240,\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"restorePointInTime\": \"0001-01-01T00:00:00\",\r\n    \"creationDate\": \"2021-03-01T04:43:39.067Z\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"DW200c\",\r\n    \"capacity\": 0\r\n  },\r\n  \"id\": \"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471\",\r\n  \"name\": \"sqlpoolps8471\",\r\n  \"type\": \"Microsoft.Synapse/workspaces/sqlPools\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {\r\n    \"TestTag\": \"TestUpdate\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"DW200c\"\r\n  },\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"createMode\": \"Default\"\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/operationResults/811081fe-f481-42f1-8b11-bf01dedcfee5?api-version=2019-06-01-preview"
   [...]
[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471?api-version=2019-06-01-preview",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"tags\": {\r\n    \"TestTag\": \"TestUpdate\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"DW200c\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471/operationResults/sql04ftr-09d74a18-f2c3-4de0-af9a-09d781995c9f?api-version=2019-06-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471/operationStatuses/sql04ftr-09d74a18-f2c3-4de0-af9a-09d781995c9f?api-version=2019-06-01-preview"
        ],
        "RetryAfter": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"status\": \"Online\",\r\n        \"maxSizeBytes\": 263882790666240,\r\n        \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n        \"restorePointInTime\": \"0001-01-01T00:00:00\",\r\n        \"creationDate\": \"2021-03-01T04:43:39.067Z\",\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"sku\": {\r\n        \"name\": \"DW200c\",\r\n        \"capacity\": 0\r\n      },\r\n      \"id\": \"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471\",\r\n      \"name\": \"sqlpoolps8471\",\r\n      \"type\": \"Microsoft.Synapse/workspaces/sqlPools\",\r\n      \"location\": \"westcentralus\",\r\n      \"tags\": {\r\n        \"TestTag\": \"TestUpdate\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471/pause?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471/operationResults/sql01ftr-9da0da5a-e082-4b0c-85a4-cd0ede9dfb83?api-version=2019-06-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471/operationStatuses/sql01ftr-9da0da5a-e082-4b0c-85a4-cd0ede9dfb83?api-version=2019-06-01-preview"
        ],
        "RetryAfter": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471/operationStatuses/sql01ftr-9da0da5a-e082-4b0c-85a4-cd0ede9dfb83?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"9da0da5a-e082-4b0c-85a4-cd0ede9dfb83\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2021-03-01T04:46:56.223Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471/operationResults/sql01ftr-9da0da5a-e082-4b0c-85a4-cd0ede9dfb83?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {},\r\n  \"kind\": \"v12.0,user,datawarehouse,gen2\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 263882790666240,\r\n    \"status\": \"Paused\",\r\n    \"databaseId\": \"6c3f1c12-43f8-43eb-bc9a-cdf0272f0ed2\",\r\n    \"creationDate\": \"2021-03-01T04:43:39.067Z\",\r\n    \"currentServiceObjectiveName\": \"DW200c\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {\r\n    \"TestTag\": \"TestUpdate\"\r\n  },\r\n  \"id\": \"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471\",\r\n  \"name\": \"sqlpoolps8471\",\r\n  \"type\": \"Microsoft.Synapse/workspaces/sqlPools\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471/resume?api-version=2019-06-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471/operationResults/sql01ftr-d2ea9db4-faa8-4a2f-b4d3-6a5a9c5b59cc?api-version=2019-06-01-preview"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/sqlPools/sqlpoolps8471/operationStatuses/sql01ftr-d2ea9db4-faa8-4a2f-b4d3-6a5a9c5b59cc?api-version=2019-06-01-preview"
        ],
        "RetryAfter": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/sql-cmdlet-test-rgps8471/providers/Microsoft.Synapse/workspaces/sqlwsps8471/operationResults/9812238a-1996-4696-9e43-3f3a7a536f71?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11977"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRDTURMRVQ6MkRURVNUOjJEUkdQUzg0NzEtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRDTURMRVQ6MkRURVNUOjJEUkdQUzg0NzEtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRDTURMRVQ6MkRURVNUOjJEUkdQUzg0NzEtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11972"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-SynapseSqlPool": [
      "ps8471"
    ]
  },
  "Variables": {
    "SubscriptionId": "051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3"
  }
}