{
  "Get-AzDiskPoolZone+[NoContext]+List+$GET+https://management.azure.com/subscriptions/eff9fadd-6918-4253-b667-c39271e7435c/providers/Microsoft.StoragePool/locations/westeurope/diskPoolZones?api-version=2021-04-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/eff9fadd-6918-4253-b667-c39271e7435c/providers/Microsoft.StoragePool/locations/westeurope/diskPoolZones?api-version=2021-04-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"value\":[{\"availabilityZones\":[\"3\",\"1\",\"2\"],\"sku\":{\"name\":\"Basic\",\"tier\":\"Basic\"}},{\"availabilityZones\":[\"3\",\"1\",\"2\"],\"sku\":{\"name\":\"Standard\",\"tier\":\"Standard\"}},{\"availabilityZones\":[\"3\",\"1\",\"2\"],\"sku\":{\"name\":\"Premium\",\"tier\":\"Premium\"}}]}",
    }
  }
}