{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ac86108b-e8ec-4858-8603-2f80105f96db/resourceGroups/antoniowtestbatchrg/providers/Microsoft.Batch/batchAccounts/batchtestaccount/applications/updatePoolWithApplicationPackage/versions/foo?api-version=2017-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"updatePoolWithApplicationPackage\",\r\n  \"version\": \"foo\",\r\n  \"storageUrl\": \"https://batchtestaccount1.blob.core.windows.net/app-updatepoolwithappl-4a358fdb664073254e74693d5d6d8255aed78782/updatepoolwithapplicationpackage-foo-a8ddbdd8-dc9d-458a-84b8-0cf2c579ad58?sv=2015-04-05&sr=b&sig=axg86ILq2Id3j91567lLSqnsEYOJPBX45I36Ke4BgAs%3D&st=2018-05-25T18%3A53%3A28Z&se=2018-05-25T22%3A58%3A28Z&sp=rw\",\r\n  \"storageUrlExpiry\": \"2018-05-25T22:58:28.3926314Z\",\r\n  \"state\": \"pending\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/pools?api-version=2018-03-01.6.1",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"testUpdatePoolWithAppPackages\",\r\n  \"vmSize\": \"small\",\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"targetOSVersion\": \"*\"\r\n  },\r\n  \"targetDedicatedNodes\": 1,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableInterNodeCommunication\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Fri, 25 May 2018 18:58:28 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Fri, 25 May 2018 18:58:28 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://batchtestaccount.westus.batch.azure.com/pools/testUpdatePoolWithAppPackages"
        ],
        "ETag": [
          "0x8D5C271809D527E"
        ],
        "Location": [
          "https://batchtestaccount.westus.batch.azure.com/pools/testUpdatePoolWithAppPackages"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ac86108b-e8ec-4858-8603-2f80105f96db/resourceGroups/antoniowtestbatchrg/providers/Microsoft.Batch/batchAccounts/batchtestaccount/applications/updatePoolWithApplicationPackage/versions/foo/activate?api-version=2017-01-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"format\": \"zip\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Fri, 25 May 2018 18:58:28 GMT"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "ETag": [
          "0x8D5C27180639901"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/ac86108b-e8ec-4858-8603-2f80105f96db/resourceGroups/antoniowtestbatchrg/providers/Microsoft.Batch/batchAccounts/batchtestaccount/applications/updatePoolWithApplicationPackage/versions/foo?api-version=2017-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"updatePoolWithApplicationPackage\",\r\n  \"version\": \"foo\",\r\n  \"storageUrl\": \"https://batchtestaccount1.blob.core.windows.net/app-updatepoolwithappl-4a358fdb664073254e74693d5d6d8255aed78782/updatepoolwithapplicationpackage-foo-a8ddbdd8-dc9d-458a-84b8-0cf2c579ad58?sv=2015-04-05&sr=b&sig=b1KnFoSls3g9r3fecD1%2Feb5ZGwgbQCyWhCNl05AGgmA%3D&st=2018-05-25T18%3A53%3A29Z&se=2018-05-25T22%3A58%3A29Z&sp=rw\",\r\n  \"storageUrlExpiry\": \"2018-05-25T22:58:29.3990947Z\",\r\n  \"state\": \"active\",\r\n  \"format\": \"zip\",\r\n  \"lastActivationTime\": \"2018-05-25T18:58:29.2429752Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Fri, 25 May 2018 18:58:29 GMT"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ],
        "ETag": [
          "0x8D5C27180E7B5A9"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/testUpdatePoolWithAppPackages?api-version=2018-03-01.6.1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 25 May 2018 18:58:29 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://batchtestaccount.westus.batch.azure.com/$metadata#pools/@Element\",\r\n  \"id\": \"testUpdatePoolWithAppPackages\",\r\n  \"url\": \"https://batchtestaccount.westus.batch.azure.com/pools/testUpdatePoolWithAppPackages\",\r\n  \"eTag\": \"0x8D5C271809D527E\",\r\n  \"lastModified\": \"2018-05-25T18:58:28.7680126Z\",\r\n  \"creationTime\": \"2018-05-25T18:58:28.7680126Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2018-05-25T18:58:28.7680126Z\",\r\n  \"allocationState\": \"resizing\",\r\n  \"allocationStateTransitionTime\": \"2018-05-25T18:58:28.7680126Z\",\r\n  \"vmSize\": \"small\",\r\n  \"resizeTimeout\": \"PT15M\",\r\n  \"currentDedicatedNodes\": 0,\r\n  \"targetDedicatedNodes\": 1,\r\n  \"currentLowPriorityNodes\": 0,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableAutoScale\": false,\r\n  \"enableInterNodeCommunication\": true,\r\n  \"maxTasksPerNode\": 1,\r\n  \"taskSchedulingPolicy\": {\r\n    \"nodeFillType\": \"Spread\"\r\n  },\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"targetOSVersion\": \"*\",\r\n    \"currentOSVersion\": \"*\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Fri, 25 May 2018 18:58:28 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D5C271809D527E"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/testUpdatePoolWithAppPackages?api-version=2018-03-01.6.1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 25 May 2018 18:58:29 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://batchtestaccount.westus.batch.azure.com/$metadata#pools/@Element\",\r\n  \"id\": \"testUpdatePoolWithAppPackages\",\r\n  \"url\": \"https://batchtestaccount.westus.batch.azure.com/pools/testUpdatePoolWithAppPackages\",\r\n  \"eTag\": \"0x8D5C2718132E724\",\r\n  \"lastModified\": \"2018-05-25T18:58:29.7483044Z\",\r\n  \"creationTime\": \"2018-05-25T18:58:28.7680126Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2018-05-25T18:58:28.7680126Z\",\r\n  \"allocationState\": \"resizing\",\r\n  \"allocationStateTransitionTime\": \"2018-05-25T18:58:28.7680126Z\",\r\n  \"vmSize\": \"small\",\r\n  \"resizeTimeout\": \"PT15M\",\r\n  \"currentDedicatedNodes\": 0,\r\n  \"targetDedicatedNodes\": 1,\r\n  \"currentLowPriorityNodes\": 0,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableAutoScale\": false,\r\n  \"enableInterNodeCommunication\": true,\r\n  \"applicationPackageReferences\": [\r\n    {\r\n      \"applicationId\": \"updatepoolwithapplicationpackage\",\r\n      \"version\": \"foo\"\r\n    }\r\n  ],\r\n  \"maxTasksPerNode\": 1,\r\n  \"taskSchedulingPolicy\": {\r\n    \"nodeFillType\": \"Spread\"\r\n  },\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"targetOSVersion\": \"*\",\r\n    \"currentOSVersion\": \"*\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Fri, 25 May 2018 18:58:29 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D5C2718132E724"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/testUpdatePoolWithAppPackages/updateproperties?api-version=2018-03-01.6.1",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"certificateReferences\": [],\r\n  \"applicationPackageReferences\": [\r\n    {\r\n      \"applicationId\": \"updatePoolWithApplicationPackage\",\r\n      \"version\": \"foo\"\r\n    }\r\n  ],\r\n  \"metadata\": []\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Fri, 25 May 2018 18:58:29 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Fri, 25 May 2018 18:58:29 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://batchtestaccount.westus.batch.azure.com/pools/testUpdatePoolWithAppPackages/updateproperties"
        ],
        "ETag": [
          "0x8D5C2718132E724"
        ]
      },
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/subscriptions/ac86108b-e8ec-4858-8603-2f80105f96db/resourceGroups/antoniowtestbatchrg/providers/Microsoft.Batch/batchAccounts/batchtestaccount/applications/updatePoolWithApplicationPackage?api-version=2017-01-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14997"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/pools/testUpdatePoolWithAppPackages?api-version=2018-03-01.6.1",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 25 May 2018 18:58:30 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "ac86108b-e8ec-4858-8603-2f80105f96db",
    "AZURE_BATCH_ACCOUNT": "batchtestaccount",
    "AZURE_BATCH_ENDPOINT": "https://batchtestaccount.westus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "antoniowtestbatchrg"
  }
}