{
  "Entries": [
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourcegroups/RGName-onesdk9951?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951\",\r\n  \"name\": \"RGName-onesdk9951\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179\",\r\n  \"name\": \"Relay-Namespace-onesdk179\",\r\n  \"type\": \"Microsoft.Relay/Namespaces\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Created\",\r\n    \"metricId\": \"854d368f-1828-428f-8f3c-f2affa9b2f7d:relay-namespace-onesdk179\",\r\n    \"createdAt\": \"2017-07-28T01:44:11.453Z\",\r\n    \"updatedAt\": \"2017-07-28T01:44:11.453Z\",\r\n    \"serviceBusEndpoint\": \"https://Relay-Namespace-onesdk179.servicebus.windows.net:443/\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/wcfRelays/WcfRelay-onesdk9001?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"relayType\": \"NetTcp\",\r\n    \"requiresClientAuthorization\": true,\r\n    \"requiresTransportSecurity\": true,\r\n    \"userMetadata\": \"usermetadata is a placeholder to store user-defined string data for the HybridConnection endpoint.e.g. it can be used to store  descriptive data, such as list of teams and their contact information also user-defined configuration settings can be stored.\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/wcfRelays/WcfRelay-onesdk9001\",\r\n  \"name\": \"WcfRelay-onesdk9001\",\r\n  \"type\": \"Microsoft.Relay/Namespaces/WcfRelays\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"createdAt\": \"2017-07-28T01:44:51.6202085Z\",\r\n    \"updatedAt\": \"2017-07-28T01:44:51.6202085Z\",\r\n    \"listenerCount\": 0,\r\n    \"requiresClientAuthorization\": true,\r\n    \"relayType\": \"NetTcp\",\r\n    \"requiresTransportSecurity\": true,\r\n    \"isDynamic\": false,\r\n    \"userMetadata\": \"usermetadata is a placeholder to store user-defined string data for the HybridConnection endpoint.e.g. it can be used to store  descriptive data, such as list of teams and their contact information also user-defined configuration settings can be stored.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/hybridConnections/HybridConnections-onesdk7462?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"requiresClientAuthorization\": true,\r\n    \"userMetadata\": \"User Meta data\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "applicati[...]
[...]
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/authorizationRules/Relay-AuthorizationRuleonesdk1406?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/authorizationRules/Relay-AuthorizationRuleonesdk1406\",\r\n  \"name\": \"Relay-AuthorizationRuleonesdk1406\",\r\n  \"type\": \"Microsoft.Relay/Namespaces/AuthorizationRules\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/wcfRelays/WcfRelay-onesdk9001/authorizationRules/WcfRelay-AuthorizationRuleonesdk1712?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/wcfRelays/WcfRelay-onesdk9001/authorizationRules/WcfRelay-AuthorizationRuleonesdk1712\",\r\n  \"name\": \"WcfRelay-AuthorizationRuleonesdk1712\",\r\n  \"type\": \"Microsoft.Relay/Namespaces/WcfRelays/AuthorizationRules\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/hybridConnections/HybridConnections-onesdk7462/authorizationRules/HybirdConnection-AuthorizationRuleonesdk8481?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/hybridConnections/HybridConnections-onesdk7462/authorizationRules/HybirdConnection-AuthorizationRuleonesdk8481\",\r\n  \"name\": \"HybirdConnection-AuthorizationRuleonesdk8481\",\r\n  \"type\": \"Microsoft.Relay/Namespaces/HybridConnections/AuthorizationRules\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/authorizationRules?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/authorizationRules/RootManageSharedAccessKey\",\r\n      \"name\": \"RootManageSharedAccessKey\",\r\n      \"type\": \"Microsoft.Relay/Namespaces/AuthorizationRules\",\r\n      \"location\": \"West US\",\r\n      \"properties\": {\r\n        \"rights\": [\r\n          \"Listen\",\r\n          \"Manage\",\r\n          \"Send\"\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/authorizationRules/Relay-AuthorizationRuleonesdk1406\",\r\n      \"name\": \"Relay-AuthorizationRuleonesdk1406\",\r\n      \"type\": \"Microsoft.Relay/Namespaces/AuthorizationRules\",\r\n      \"location\": \"West US\",\r\n      \"properties\": {\r\n        \"rights\": [\r\n          \"Send\",\r\n          \"Listen\"\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14715"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/wcfRelays/WcfRelay-onesdk9001/authorizationRules?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/wcfRelays/WcfRelay-onesdk9001/authorizationRules/WcfRelay-AuthorizationRuleonesdk1712\",\r\n      \"name\": \"WcfRelay-AuthorizationRuleonesdk1712\",\r\n      \"type\": \"Microsoft.Relay/Namespaces/WcfRelays/AuthorizationRules\",\r\n      \"location\": \"West US\",\r\n      \"properties\": {\r\n        \"rights\": [\r\n          \"Listen\",\r\n          \"Send\"\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14714"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/hybridConnections/HybridConnections-onesdk7462/authorizationRules?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/hybridConnections/HybridConnections-onesdk7462/authorizationRules/HybirdConnection-AuthorizationRuleonesdk8481\",\r\n      \"name\": \"HybirdConnection-AuthorizationRuleonesdk8481\",\r\n      \"type\": \"Microsoft.Relay/Namespaces/HybridConnections/AuthorizationRules\",\r\n      \"location\": \"West US\",\r\n      \"properties\": {\r\n        \"rights\": [\r\n          \"Listen\",\r\n          \"Send\"\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14713"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/authorizationRules/Relay-AuthorizationRuleonesdk1406/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"primaryConnectionString\": \"Endpoint=sb://relay-namespace-onesdk179.servicebus.windows.net/;SharedAccessKeyName=Relay-AuthorizationRuleonesdk1406;SharedAccessKey=rCjXF2xWc5jMgOICbgFOQk7Kg+5rt7iaWSLmKvK4oX0=\",\r\n  \"secondaryConnectionString\": \"Endpoint=sb://relay-namespace-onesdk179.servicebus.windows.net/;SharedAccessKeyName=Relay-AuthorizationRuleonesdk1406;SharedAccessKey=f4EtY3wB0SxFtdOBrI/SHZ/JDfeqC/BpJKPH6YLpwm0=\",\r\n  \"primaryKey\": \"rCjXF2xWc5jMgOICbgFOQk7Kg+5rt7iaWSLmKvK4oX0=\",\r\n  \"secondaryKey\": \"f4EtY3wB0SxFtdOBrI/SHZ/JDfeqC/BpJKPH6YLpwm0=\",\r\n  \"keyName\": \"Relay-AuthorizationRuleonesdk1406\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1189"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/authorizationRules/Relay-AuthorizationRuleonesdk1406/regenerateKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyType\": \"PrimaryKey\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryConnectionString\": \"Endpoint=sb://relay-namespace-onesdk179.servicebus.windows.net/;SharedAccessKeyName=Relay-AuthorizationRuleonesdk1406;SharedAccessKey=rdl8BxfbAwXPCMLiysUCIaN5+lOSXIOqXwe5V1lH0X4=\",\r\n  \"secondaryConnectionString\": \"Endpoint=sb://relay-namespace-onesdk179.servicebus.windows.net/;SharedAccessKeyName=Relay-AuthorizationRuleonesdk1406;SharedAccessKey=f4EtY3wB0SxFtdOBrI/SHZ/JDfeqC/BpJKPH6YLpwm0=\",\r\n  \"primaryKey\": \"rdl8BxfbAwXPCMLiysUCIaN5+lOSXIOqXwe5V1lH0X4=\",\r\n  \"secondaryKey\": \"f4EtY3wB0SxFtdOBrI/SHZ/JDfeqC/BpJKPH6YLpwm0=\",\r\n  \"keyName\": \"Relay-AuthorizationRuleonesdk1406\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1188"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/wcfRelays/WcfRelay-onesdk9001/authorizationRules/WcfRelay-AuthorizationRuleonesdk1712/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"primaryConnectionString\": \"Endpoint=sb://relay-namespace-onesdk179.servicebus.windows.net/;SharedAccessKeyName=WcfRelay-AuthorizationRuleonesdk1712;SharedAccessKey=dk02apvB9IF/ac2tCeEnKU1yAGF+qY6EgYP5aSjU9U8=;EntityPath=WcfRelay-onesdk9001\",\r\n  \"secondaryConnectionString\": \"Endpoint=sb://relay-namespace-onesdk179.servicebus.windows.net/;SharedAccessKeyName=WcfRelay-AuthorizationRuleonesdk1712;SharedAccessKey=+JMAMzPsl5FnPlkuy3CM9VNlrSpFmJ9El7+irpCasYY=;EntityPath=WcfRelay-onesdk9001\",\r\n  \"primaryKey\": \"dk02apvB9IF/ac2tCeEnKU1yAGF+qY6EgYP5aSjU9U8=\",\r\n  \"secondaryKey\": \"+JMAMzPsl5FnPlkuy3CM9VNlrSpFmJ9El7+irpCasYY=\",\r\n  \"keyName\": \"WcfRelay-AuthorizationRuleonesdk1712\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1186"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/wcfRelays/WcfRelay-onesdk9001/authorizationRules/WcfRelay-AuthorizationRuleonesdk1712/regenerateKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyType\": \"PrimaryKey\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        [...]
[...]
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/wcfRelays/HybridConnections-onesdk7462/authorizationRules/HybirdConnection-AuthorizationRuleonesdk8481/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"primaryConnectionString\": \"Endpoint=sb://relay-namespace-onesdk179.servicebus.windows.net/;SharedAccessKeyName=HybirdConnection-AuthorizationRuleonesdk8481;SharedAccessKey=1+O3O9Uk7cPmIa4wKWjCRAvaAuUlLHVauMZcTlDfAVY=;EntityPath=HybridConnections-onesdk7462\",\r\n  \"secondaryConnectionString\": \"Endpoint=sb://relay-namespace-onesdk179.servicebus.windows.net/;SharedAccessKeyName=HybirdConnection-AuthorizationRuleonesdk8481;SharedAccessKey=9tkr3d4/mZoJUzR8QJg6RFtu3TgIkUiP2SXrpH8bc5I=;EntityPath=HybridConnections-onesdk7462\",\r\n  \"primaryKey\": \"1+O3O9Uk7cPmIa4wKWjCRAvaAuUlLHVauMZcTlDfAVY=\",\r\n  \"secondaryKey\": \"9tkr3d4/mZoJUzR8QJg6RFtu3TgIkUiP2SXrpH8bc5I=\",\r\n  \"keyName\": \"HybirdConnection-AuthorizationRuleonesdk8481\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1183"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/hybridConnections/HybridConnections-onesdk7462/authorizationRules/HybirdConnection-AuthorizationRuleonesdk8481/regenerateKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyType\": \"PrimaryKey\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json[...]
[...]
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179?api-version=2017-04-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/operationresults/Relay-Namespace-onesdk179?api-version=2017-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1175"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/operationresults/Relay-Namespace-onesdk179?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/854d368f-1828-428f-8f3c-f2affa9b2f7d/resourceGroups/RGName-onesdk9951/providers/Microsoft.Relay/namespaces/Relay-Namespace-onesdk179/operationresults/Relay-Namespace-onesdk179?api-version=2017-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14707"
        ]
      },
      "StatusCode": 202
    },
[...]
