{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Capacity/reservationOrders/b9fbc5c6-fa93-4c1d-b7dc-81a786af5813/reservations/d42d1cd5-9ea9-4a93-b3ca-c50a2ab0c0b9?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_B1ls\"\r\n  },\r\n  \"id\": \"/providers/microsoft.capacity/reservationOrders/b9fbc5c6-fa93-4c1d-b7dc-81a786af5813/reservations/d42d1cd5-9ea9-4a93-b3ca-c50a2ab0c0b9\",\r\n  \"type\": \"Microsoft.Capacity/reservationOrders/reservations\",\r\n  \"name\": \"b9fbc5c6-fa93-4c1d-b7dc-81a786af5813/d42d1cd5-9ea9-4a93-b3ca-c50a2ab0c0b9\",\r\n  \"etag\": 18,\r\n  \"location\": \"westeurope\",\r\n  \"properties\": {\r\n    \"appliedScopeType\": \"Shared\",\r\n    \"quantity\": 2,\r\n    \"provisioningState\": \"Cancelled\",\r\n    \"expiryDate\": \"2022-11-08\",\r\n    \"displayName\": \"powershellTest\",\r\n    \"effectiveDateTime\": \"2019-11-08T23:51:43.389684Z\",\r\n    \"extendedStatusInfo\": {\r\n      \"statusCode\": \"Expired\",\r\n      \"message\": \"This reservation was expired and is no longer active.\"\r\n    },\r\n    \"lastUpdatedDateTime\": \"2019-11-08T23:51:43.389684Z\",\r\n    \"reservedResourceType\": \"VirtualMachines\",\r\n    \"instanceFlexibility\": \"On\",\r\n    \"skuDescription\": \"Reserved VM Instance, Standard_B1ls, EU West, 3 Years\",\r\n    \"renew\": false,\r\n    \"term\": \"P3Y\",\r\n    \"billingScopeId\": \"/subscriptions/d3ae48e5-dbb2-4618-afd4-fb1b8559cb80\",\r\n    \"billingPlan\": \"Upfront\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "d3ae48e5-dbb2-4618-afd4-fb1b8559cb80"
  }
}