{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Capacity/reservationOrders/11e0f3cb-d8d2-42d4-8b24-b460cab90b67/reservations/153f4fea-dde4-4656-949a-50e3191840c9?api-version=2019-04-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"appliedScopeType\": \"Single\",\r\n    \"appliedScopes\": [\r\n      \"/subscriptions/d3ae48e5-dbb2-4618-afd4-fb1b8559cb80\"\r\n    ],\r\n    \"instanceFlexibility\": \"On\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "x-ms-test": [
          "{\"contact\":\"kgautam\",\"scenarios\":\"NewRiTesting\",\"retention\":\"1/23/2020 3:02:14 PM\"}"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_B1ls\"\r\n  },\r\n  \"id\": \"/providers/microsoft.capacity/reservationOrders/11e0f3cb-d8d2-42d4-8b24-b460cab90b67/reservations/153f4fea-dde4-4656-949a-50e3191840c9\",\r\n  \"type\": \"Microsoft.Capacity/reservationOrders/reservations\",\r\n  \"name\": \"11e0f3cb-d8d2-42d4-8b24-b460cab90b67/153f4fea-dde4-4656-949a-50e3191840c9\",\r\n  \"etag\": 52,\r\n  \"location\": \"westeurope\",\r\n  \"properties\": {\r\n    \"appliedScopes\": [\r\n      \"/subscriptions/d3ae48e5-dbb2-4618-afd4-fb1b8559cb80\"\r\n    ],\r\n    \"appliedScopeType\": \"Single\",\r\n    \"quantity\": 5,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"expiryDate\": \"2020-10-25\",\r\n    \"displayName\": \"VM_RI_10-25-2019_08-10\",\r\n    \"effectiveDateTime\": \"2019-11-10T23:37:01.5279416Z\",\r\n    \"lastUpdatedDateTime\": \"2019-11-10T23:37:04.4973856Z\",\r\n    \"reservedResourceType\": \"VirtualMachines\",\r\n    \"instanceFlexibility\": \"On\",\r\n    \"skuDescription\": \"Reserved VM Instance, Standard_B1ls, EU West, 1 Year\",\r\n    \"renew\": false\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "d3ae48e5-dbb2-4618-afd4-fb1b8559cb80"
  }
}