{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/providers/Microsoft.Capacity/reservationOrders/704aee8c-c906-47c7-bd22-781841fb48b5/reservations/ac7f6b04-ff45-4da1-83f3-b0f2f6c8128e?api-version=2018-06-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"appliedScopeType\": \"Shared\",\r\n    \"instanceFlexibility\": \"On\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_B1ms\"\r\n  },\r\n  \"id\": \"/providers/microsoft.capacity/reservationOrders/704aee8c-c906-47c7-bd22-781841fb48b5/reservations/ac7f6b04-ff45-4da1-83f3-b0f2f6c8128e\",\r\n  \"type\": \"Microsoft.Capacity/reservationOrders/reservations\",\r\n  \"name\": \"704aee8c-c906-47c7-bd22-781841fb48b5/ac7f6b04-ff45-4da1-83f3-b0f2f6c8128e\",\r\n  \"etag\": 11,\r\n  \"location\": \"westeurope\",\r\n  \"properties\": {\r\n    \"appliedScopeType\": \"Shared\",\r\n    \"quantity\": 2,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"expiryDate\": \"2019-06-15\",\r\n    \"displayName\": \"Powershell_Test\",\r\n    \"effectiveDateTime\": \"2018-06-15T22:18:16.1504397Z\",\r\n    \"lastUpdatedDateTime\": \"2018-06-15T22:18:21.5510168Z\",\r\n    \"reservedResourceType\": \"VirtualMachines\",\r\n    \"instanceFlexibility\": \"On\",\r\n    \"skuDescription\": \"Standard_B1ms\"\r\n  }\r\n}",
      "ResponseHeaders": {
=======
      "RequestUri": "/providers/Microsoft.Capacity/reservationOrders/11e0f3cb-d8d2-42d4-8b24-b460cab90b67/reservations/153f4fea-dde4-4656-949a-50e3191840c9?api-version=2019-04-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"appliedScopeType\": \"Shared\",\r\n    \"instanceFlexibility\": \"On\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
<<<<<<< HEAD
        "Expires": [
          "-1"
=======
        "Content-Length": [
          "96"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "Vary": [
          "Accept-Encoding"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "x-ms-test": [
<<<<<<< HEAD
          "{\"contact\":\"kgautam\",\"scenarios\":\"SqlSusePurchase\",\"retention\":\"6/25/2018 9:30:59 PM\"}"
        ],
        "x-ms-request-id": [
          "westus:9fa83c1f-9a16-4f0d-b89c-83dde0301295"
=======
          "{\"contact\":\"kgautam\",\"scenarios\":\"NewRiTesting\",\"retention\":\"1/23/2020 3:02:14 PM\"}"
        ],
        "x-ms-request-id": [
          "westus:5e4c94f8-14ea-48e4-9442-f8fe98af2b42"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "x-ms-correlation-request-id": [
          "faaff7bf-b94b-45a4-959d-f50ccbe55e78"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180615T221823Z:faaff7bf-b94b-45a4-959d-f50ccbe55e78"
=======
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "x-ms-correlation-request-id": [
          "ed487f79-12d7-4361-ac35-9e5143dcce5c"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20191110T233735Z:ed487f79-12d7-4361-ac35-9e5143dcce5c"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Fri, 15 Jun 2018 22:18:23 GMT"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
        ]
      },
=======
        "Date": [
          "Sun, 10 Nov 2019 23:37:35 GMT"
        ],
        "Content-Length": [
          "760"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_B1ls\"\r\n  },\r\n  \"id\": \"/providers/microsoft.capacity/reservationOrders/11e0f3cb-d8d2-42d4-8b24-b460cab90b67/reservations/153f4fea-dde4-4656-949a-50e3191840c9\",\r\n  \"type\": \"Microsoft.Capacity/reservationOrders/reservations\",\r\n  \"name\": \"11e0f3cb-d8d2-42d4-8b24-b460cab90b67/153f4fea-dde4-4656-949a-50e3191840c9\",\r\n  \"etag\": 54,\r\n  \"location\": \"westeurope\",\r\n  \"properties\": {\r\n    \"appliedScopeType\": \"Shared\",\r\n    \"quantity\": 5,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"expiryDate\": \"2020-10-25\",\r\n    \"displayName\": \"VM_RI_10-25-2019_08-10\",\r\n    \"effectiveDateTime\": \"2019-11-10T23:37:30.5963441Z\",\r\n    \"lastUpdatedDateTime\": \"2019-11-10T23:37:34.289193Z\",\r\n    \"reservedResourceType\": \"VirtualMachines\",\r\n    \"instanceFlexibility\": \"On\",\r\n    \"skuDescription\": \"Reserved VM Instance, Standard_B1ls, EU West, 1 Year\",\r\n    \"renew\": false\r\n  }\r\n}",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
<<<<<<< HEAD
    "SubscriptionId": "302110e3-cd4e-4244-9874-07c91853c809"
=======
    "SubscriptionId": "d3ae48e5-dbb2-4618-afd4-fb1b8559cb80"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
  }
}