{
	"Entries": [
		{
			"RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/onesdk3148?api-version=2016-02-01",
			"RequestMethod": "HEAD",
			"RequestBody": "",
			"RequestHeaders": {
			},
			"ResponseBody": "",
			"ResponseHeaders": {
				"Content-Type": [
					"application/json; charset=utf-8"
				],
				"x-ms-failure-cause": [
					"gateway"
				],
				"x-ms-ratelimit-remaining-subscription-reads": [
					"14999"
				]
			},
			"StatusCode": 404
		},
[...]
		{
			"RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/onesdk3148?api-version=2016-02-01",
			"RequestMethod": "PUT",
			"RequestBody": "{\r\n  \"location\": \"EastUS\"\r\n}",
			"RequestHeaders": {
				"Content-Type": [
					"application/json; charset=utf-8"
				]
			},
			"ResponseBody": "{\r\n  \"id\": \"/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/onesdk3148\",\r\n  \"name\": \"onesdk3148\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
			"ResponseHeaders": {
				"Content-Type": [
					"application/json; charset=utf-8"
				],
				"x-ms-ratelimit-remaining-subscription-writes": [
					"1199"
				]
			},
			"StatusCode": 201
		},
		{
			"RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/onesdk3148/providers/Microsoft.Resources/deployments/onesdk4770/validate?api-version=2016-02-01",
			"RequestMethod": "POST",
			"RequestBody": "{\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"parameters\": {\r\n        \"appSku\": {\r\n          \"type\": \"object\",\r\n          \"allowedValues\": [\r\n            {\r\n              \"code\": \"f1\",\r\n              \"name\": \"Free\"\r\n            },\r\n            {\r\n              \"code\": \"f2\",\r\n              \"name\": \"Shared\"\r\n            },\r\n            {\r\n              \"code\": \"f3\",\r\n              \"name\": {\r\n                \"major\": \"Official\",\r\n                \"minor\": \"1.0\"\r\n              }\r\n            }\r\n          ],\r\n          \"defaultValue\": {\r\n            \"code\": \"f1\",\r\n            \"name\": \"Free\"\r\n          }\r\n        },\r\n        \"servicePlan\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"ranks\": {\r\n          \"type\": \"array\",\r\n          \"allowedValues\": [\r\n            [\r\n              \"a\",\r\n              \"b\"\r\n            ],\r\n            [\r\n              \"c\",\r\n              \"d\"\r\n            ],\r\n            [\r\n              \"d\",\r\n              \"e\",\r\n              \"f\"\r\n            ]\r\n          ],\r\n          \"defaultValue\": [\r\n            \"a\",\r\n            \"b\"\r\n          ]\r\n        }\r\n      },\r\n      \"variables\": {},\r\n      \"resources\": [\r\n        {\r\n          \"type\": \"Microsoft.Storage/storageAccounts\",\r\n          \"name\": \"[concat('tianotest010', parameters('appSku').code, parameters('ranks')[0])]\",\r\n          \"apiVersion\": \"2015-06-15\",\r\n          \"location\": \"[resourceGroup().location]\",\r\n          \"properties\": {\r\n            \"accountType\": \"Standard_LRS\"\r\n          }\r\n        }\r\n      ],\r\n      \"outputs\": {}\r\n    },\r\n    \"parameters\": {\r\n      \"servicePlan\": {\r\n        \"value\": \"plan1\"\r\n      },\r\n      \"ranks\": {\r\n        \"value\": [\r\n          \"c\",\r\n          \"d\"\r\n        ]\r\n      },\r\n      \"appSku\": {\r\n        \"value\": {\r\n          \"code\": \"f1\",\r\n          \"name\": \"Free\"\r\n        }\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\"\r\n  }\r\n}",
			"RequestHeaders": {
				"Content-Type": [
					"application/json; charset=utf-8"
				]
			},
			"ResponseBody": "{\r\n  \"id\": \"/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/onesdk3148/providers/Microsoft.Resources/deployments/onesdk4770\",\r\n  \"name\": \"onesdk4770\",\r\n  \"properties\": {\r\n    \"parameters\": {\r\n      \"appSku\": {\r\n        \"type\": \"Object\",\r\n        \"value\": {\r\n          \"code\": \"f1\",\r\n          \"name\": \"Free\"\r\n        }\r\n      },\r\n      \"servicePlan\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"plan1\"\r\n      },\r\n      \"ranks\": {\r\n        \"type\": \"Array\",\r\n        \"value\": [\r\n          \"c\",\r\n          \"d\"\r\n        ]\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"timestamp\": \"2016-05-12T22:37:37.0604948Z\",\r\n    \"duration\": \"PT0S\",\r\n    \"correlationId\": \"aeee6c7d-fd8a-4dbb-958f-615390160564\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.Storage\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"storageAccounts\",\r\n            \"locations\": [\r\n              \"eastus\"\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": [],\r\n    \"validatedResources\": [\r\n      {\r\n        \"apiVersion\": \"2015-06-15\",\r\n        \"id\": \"/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/onesdk3148/providers/Microsoft.Storage/storageAccounts/tianotest010f1c\",\r\n        \"name\": \"tianotest010f1c\",\r\n        \"type\": \"Microsoft.Storage/storageAccounts\",\r\n        \"location\": \"eastus\",\r\n        \"properties\": {\r\n          \"accountType\": \"Standard_LRS\"\r\n        }\r\n      }\r\n    ]\r\n  }\r\n}",
			"ResponseHeaders": {
				"Content-Type": [
					"application/json; charset=utf-8"
				],
				"x-ms-ratelimit-remaining-subscription-writes": [
					"1198"
				]
			},
			"StatusCode": 200
		},
		{
			"RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/onesdk3148/providers/Microsoft.Resources/deployments/onesdk4770?api-version=2016-02-01",
			"RequestMethod": "PUT",
			"RequestBody": "{\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"parameters\": {\r\n        \"appSku\": {\r\n          \"type\": \"obj[...]
		{
			"RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/onesdk3148/providers/Microsoft.Resources/deployments/onesdk4770/operationStatuses/08587385142275529175?api-version=2016-02-01",
			"RequestMethod": "GET",
			"RequestBody": "",
			"RequestHeaders": {
			},
			"ResponseBody": "{\r\n  \"status\": \"Running\"\r\n}",
			"ResponseHeaders": {
				"Content-Type": [
					"application/json; charset=utf-8"
				],
				"x-ms-ratelimit-remaining-subscription-reads": [
					"14998"
				]
			},
			"StatusCode": 200
		},
[...]
		{
			"RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/onesdk3148/deployments/onesdk4770/operations?api-version=2016-02-01",
			"RequestMethod": "GET",
			"RequestBody": "",
			"RequestHeaders": {
			},
			"ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/onesdk3148/providers/Microsoft.Resources/deployments/onesdk4770/operations/AFF24DA310B70732\",\r\n      \"operationId\": \"AFF24DA310B70732\",\r\n      \"properties\": {\r\n        \"provisioningOperation\": \"Create\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"timestamp\": \"2016-05-12T22:38:16.0373008Z\",\r\n        \"duration\": \"PT35.9060396S\",\r\n        \"trackingId\": \"972c8b4f-a0a9-4c55-bb32-e659cf9c389c\",\r\n        \"serviceRequestId\": \"81b74c5f-e3d7-4be8-ac2c-f7dff59bfad3\",\r\n        \"statusCode\": \"OK\",\r\n        \"targetResource\": {\r\n          \"id\": \"/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/onesdk3148/providers/Microsoft.Storage/storageAccounts/tianotest010f1c\",\r\n          \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n          \"resourceName\": \"tianotest010f1c\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourceGroups/onesdk3148/providers/Microsoft.Resources/deployments/onesdk4770/operations/08587385142275529175\",\r\n      \"operationId\": \"08587385142275529175\",\r\n      \"properties\": {\r\n        \"provisioningOperation\": \"EvaluateDeploymentOutput\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"timestamp\": \"2016-05-12T22:38:16.8144048Z\",\r\n        \"duration\": \"PT0.6452819S\",\r\n        \"trackingId\": \"eb7ba242-dd5e-4d19-9cf2-f27af3b44dde\",\r\n        \"statusCode\": \"OK\",\r\n        \"statusMessage\": null\r\n      }\r\n    }\r\n  ]\r\n}",
			"ResponseHeaders": {
				"Content-Type": [
					"application/json; charset=utf-8"
				],
				"x-ms-ratelimit-remaining-subscription-reads": [
					"14995"
				]
			},
			"StatusCode": 200
		},
		{
			"RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/resourcegroups/onesdk3148?api-version=2016-02-01",
			"RequestMethod": "DELETE",
			"RequestBody": "",
			"RequestHeaders": {
			},
			"ResponseBody": "",
			"ResponseHeaders": {
				"Retry-After": [
					"15"
				],
				"x-ms-ratelimit-remaining-subscription-writes": [
					"1196"
				],
				"Location": [
					"https://management.azure.com/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREszMTQ4LUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-02-01"
				]
			},
			"StatusCode": 202
		},
		{
			"RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREszMTQ4LUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-02-01",
			"RequestMethod": "GET",
			"RequestBody": "",
			"RequestHeaders": {
			},
			"ResponseBody": "",
			"ResponseHeaders": {
				"Retry-After": [
					"15"
				],
				"x-ms-ratelimit-remaining-subscription-reads": [
					"14991"
				],
				"Location": [
					"https://management.azure.com/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREszMTQ4LUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-02-01"
				]
			},
			"StatusCode": 202
		},
[...]
		{
			"RequestUri": "/subscriptions/fb3a3d6b-44c8-44f5-88c9-b20917c9b96b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREszMTQ4LUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-02-01",
			"RequestMethod": "GET",
			"RequestBody": "",
			"RequestHeaders": {
			},
			"ResponseBody": "",
			"ResponseHeaders": {
				"x-ms-ratelimit-remaining-subscription-reads": [
					"14988"
				]
			},
			"StatusCode": 200
		}
	],
	"Names": {
		"Test-NewDeploymentWithParameterObject": [
			"onesdk3148",
			"onesdk4770"
		]
	},
	"Variables": {
		"SubscriptionId": "fb3a3d6b-44c8-44f5-88c9-b20917c9b96b",
		"TenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
		"Domain": "microsoft.com"
	}
}