{
  "New-AzConnectedMachineExtension+[NoContext]+[NoScenario]+$GET+https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/connectedmachine-rg-3f7k2t/providers/Microsoft.HybridCompute/machines/uikfg6/extensions?api-version=2020-07-30-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/connectedmachine-rg-3f7k2t/providers/Microsoft.HybridCompute/machines/uikfg6/extensions?api-version=2020-07-30-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "54" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11951" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[]}"
    }
  },
  "New-AzConnectedMachineExtension+[NoContext]+CreateExpanded parameter set+$PUT+https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/connectedmachine-rg-3f7k2t/providers/Microsoft.HybridCompute/machines/uikfg6/extensions/customa162f17a-2e8d-4a2f-8c71-0fef2ecc72c6?api-version=2020-07-30-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/connectedmachine-rg-3f7k2t/providers/Microsoft.HybridCompute/machines/uikfg6/extensions/customa162f17a-2e8d-4a2f-8c71-0fef2ecc72c6?api-version=2020-07-30-preview",
      "Content": "{\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"type\": \"CustomScriptExtension\",\r\n    \"publisher\": \"Microsoft.Compute\",\r\n    \"settings\": {\r\n      \"commandToExecute\": \"dir\"\r\n    },\r\n    \"typeHandlerVersion\": \"1.10\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/providers/Microsoft.HybridCompute/locations/eastus/operationresults/a85b3d08-ef84-4ecd-835c-0d455d84b8bc?api-version=2020-07-30-preview" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/providers/Microsoft.HybridCompute/locations/eastus/operationstatus/a85b3d08-ef84-4ecd-835c-0d455d84b8bc?api-version=2020-07-30-preview" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "319" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": null
    }
  },
  "New-AzConnectedMachineExtension+[NoContext]+CreateExpanded parameter set+[...]
