{
  "Remove-AzConnectedMachine+[NoContext]+Remove a connected machine by name+$DELETE+https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/connectedmachine-rg-uh0x1q/providers/Microsoft.HybridCompute/machines/cqf57r?api-version=2020-08-02+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/connectedmachine-rg-uh0x1q/providers/Microsoft.HybridCompute/machines/cqf57r?api-version=2020-08-02",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "155" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14992" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": null
    }
  },
  "Remove-AzConnectedMachine+[NoContext]+Remove a connected machine by name+$GET+https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/connectedmachine-rg-uh0x1q/providers/Microsoft.HybridCompute/machines/cqf57r?api-version=2020-08-02+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/connectedmachine-rg-uh0x1q/providers/Microsoft.HybridCompute/machines/cqf57r?api-version=2020-08-02",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "156" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-failure-cause": [ "gateway" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"error\":{\"code\":\"ResourceNotFound\",\"message\":\"The Resource \u0027Microsoft.HybridCompute/machines/cqf57r\u0027 under resource group \u0027connectedmachine-rg-uh0x1q\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"}}"
    }
  },
  "Remove-AzConnectedMachine+[NoContext]+Remove a connected machine by Input Object+$GET+https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/connectedmachine-rg-uh0x1q/providers/Microsoft.HybridCompute/machines/cqf57r?api-version=2020-08-02+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/connectedmachine-rg-uh0x1q/providers/Microsoft.HybridCompute/machines/cqf57r?api-version=2020-08-02",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "157" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11856" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/connectedmachine-rg-uh0x1q/providers/Microsoft.HybridCompute/machines/cqf57r\",\"name\":\"cqf57r\",\"location\":\"eastus\",\"tags\":{},\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"b2eefd56-2626-40c6-b901-a7f69f26fb24\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\"},\"type\":\"Microsoft.HybridCompute/machines\",\"properties\":{\"provisioningState\":\"Succeeded\",\"osName\":\"windows\",\"osProfile\":{},\"vmId\":\"103957ad-c345-4171-b0c7-980cc196cd0a\",\"clientPublicKey\":\"MIIBCgKCAQEAqUA9LWDOeAz4cp4+VpJ6V22s+Fj/9hL04abgge+J25tRdrAL+M6qaM4UbBMuyYIstjhZiSD4FZ5L+zYQkVTkd09TQtpYHFDYtE2mKlJ9lg+YLnqgI5O7Z3dJypLGexPo3oDqGwYlEib6kkaMIPSIbMotTylQpyeDnYWkcctJkcj0srB31A7dNpt3sZluQXLlWt25yFuKc86ZaoBwy/KXHmhp9t4xFsluNjJbmx1fs86N6uVeAbgh/vtc55Oi/ED/LhJkEFRBNFmLJ7WsVGEwpF8DMt50zJnr/PLbIss9IHmsNNRlG3/bUqQCiSxArZgJ19nmrclsuE0aoAwh+r5f6wIDAQAB\"}}"
    }
  },
  "Remove-AzConnectedMachine+[NoContext]+Remove a connected machine by Input Object+$DELETE+https://management.azure.com/[...]
