{
  "Update-AzConnectedMachine+[NoContext]+Update a machine with new private link scope and assessment mode+$PUT+https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test-powershell-rg-58z3v2/providers/Microsoft.HybridCompute/privateLinkScopes/scope-j5c1q2?api-version=2022-03-10+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test-powershell-rg-58z3v2/providers/Microsoft.HybridCompute/privateLinkScopes/scope-j5c1q2?api-version=2022-03-10",
      "Content": "{\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test-powershell-rg-58z3v2/providers/Microsoft.HybridCompute/privateLinkScopes/scope-j5c1q2\",\"name\":\"scope-j5c1q2\",\"type\":\"Microsoft.HybridCompute/privateLinkScopes\",\"location\":\"eastus2euap\",\"properties\":{\"privateLinkScopeId\":\"616004a2-fdd0-4af7-9b66-3ed05f9b324b\",\"publicNetworkAccess\":\"Enabled\",\"provisioningState\":\"Succeeded\",\"privateEndpointConnections\":[]}}",
    }
  },
  "Update-AzConnectedMachine+[NoContext]+Update a machine with new private link scope and assessment mode+$PATCH+https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test-powershell-rg-58z3v2/providers/Microsoft.HybridCompute/machines/3ofp5s?api-version=2022-03-10+2": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test-powershell-rg-58z3v2/providers/Microsoft.HybridCompute/machines/3ofp5s?api-version=2022-03-10",
      "Content": "{\r\n  \"properties\": {\r\n    \"osProfile\": {\r\n      \"windowsConfiguration\": {\r\n        \"patchSettings\": {\r\n          \"assessmentMode\": \"AutomaticByOS\"\r\n        }\r\n      }\r\n    },\r\n    \"privateLinkScopeResourceId\": \"/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test-powershell-rg-58z3v2/providers/Microsoft.HybridCompute/privateLinkScopes/scope-j5c1q2\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "319" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test-powershell-rg-58z3v2/providers/Microsoft.HybridCompute/machines/3ofp5s\",\"name\":\"3ofp5s\",\"location\":\"eastus2euap\",\"tags\":{},\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"066f479b-a617-425d-9fea-2de2cc05b5cd\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\"},\"type\":\"Microsoft.HybridCompute/machines\",\"properties\":{\"provisioningState\":\"Updating\",\"agentVersion\":\"1.18.01965.249\",\"status\":\"Connected\",\"lastStatusChange\":\"2022-06-07T03:07:02.76328Z\",\"errorDetails\":[],\"displayName\":\"DorothysSurface\",\"machineFqdn\":\"DorothysSurface\",\"osName\":\"windows\",\"osVersion\":\"10.0.19044.1706\",\"osType\":\"windows\",\"osProfile\":{\"computerName\":\"DorothysSurface\",\"windowsConfiguration\":{\"patchSettings\":{\"assessmentMode\":\"AutomaticByOS\"}}},\"vmId\":\"e7ba987e-e740-477b-99a5-c36ba70575b5\",\"vmUuid\":\"2883CCA3-7EE6-60E9-A204-97718B655D1D\",\"clientPublicKey\":\"MIIBCgKCAQEArMigGm/PQ3izHA2fH4j2ArEWdjf6CmqXjHMLjpiD/jzT+NpzrrhSYcQIbr2cXHL+M7w1gR0lXV8Qq8MPNwfZQlU984fc7TmKA+XdAPt7LrshRm23UleSpJGIev0+aKA8Zd4IvJkUBBQKBxr+1VVU38PhY7XYa8BNSeoLH8rwtIKVzVVIICaXh0K2pWom+KFWNqdoV6LiO8vJsCswGrpKBJnFZxr5gljzf1NUN/9cFpR33RpEQZPs63iVWTdW8Ts6IrO/w3b/93cdpOPtHiWuQ60PRzDGrdPnIcz8xvX2YdEgjEC/QDJt1kmIGCzxLQV1P757q44ChzeeMKbJGVozBQIDAQAB\",\"osSku\":\"Windows 10 Enterprise\",\"domainName\":\"WORKGROUP\",\"adFqdn\":\"DorothysSurface\",\"dnsFqdn\":\"DorothysSurface\",\"mssqlDiscovered\":\"false\",\"cloudMetadata\":{\"provider\":\"N/A\"},\"detectedProperties\":{\"cloudprovider\":\"N/A\",\"manufacturer\":\"Microsoft Corporation\",\"model\":\"Surface Book 2\",\"mssqldiscovered\":\"false\"},\"privateLinkScopeResourceId\":\"/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test-powershell-rg-58z3v2/providers/Microsoft.HybridCompute/privateLinkScopes/scope-j5c1q2\",\"agentConfiguration\":{\"proxyUrl\":\"\",\"incomingConnectionsPorts\":[],\"extensionsAllowList\":[],\"extensionsBlockList\":[],\"proxyBypass\":[],\"extensionsEnabled\":\"true\",\"guestConfigurationEnabled\":\"true\"},\"serviceStatuses\":{\"extensionService\":{\"status\":\"running\",\"startupType\":\"automatic\"},\"guestConfigurationService\":{\"status\":\"running\",\"startupType\":\"automatic\"}}}}",
    }
  },
  "Update-AzConnectedMachine+[NoContext]+Update a machine with new private link scope and assessment mode+$PATCH+https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test-powershell-rg-58z3v2/providers/Microsoft.HybridCompute/machines/3ofp5s?api-version=2022-03-10+3": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/e6f[...]
