{
  "Get-AzLabServicesLabPlan+[NoContext]+List+$GET+https://management.azure.com/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/providers/Microsoft.LabServices/labPlans?api-version=2021-10-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/providers/Microsoft.LabServices/labPlans?api-version=2021-10-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "16" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "0HNDSTN1VPUOT:00000003", "0HNDJ74BBLJ21:00000004", "0HNDPPF4F1SPP:00000003", "0HNDPP3H0QRLH:00000002", "0HNDJ7ILOF9OP:00000003", "0HNDRBFSQMJLF:00000005", "0HNDRQVT92OPO:00000002", "0HNDMKMTNFU70:00000002", "0HNDORV4S010K:00000003", "0HNDRAVR0HP79:00000004", "0HNDRBKNFUF51:00000003", "0HNDK4PNS0MO1:00000002", "0HNDSU21R4CJ9:00000004", "0HNDPK71F4T2S:00000002", "0HNDJQFG7UL7D:00000002", "0HNDRB3LUOP90:00000001", "0HNDRBHJSNGPM:00000003", "0HNDS4PBMGFN7:00000003", "0HNDMM0L5O68P:00000002", "0HNDQILLOHSCD:00000004", "0HNDPHPL2AC9P:00000002", "0HNDJPFNJJA6L:00000003", "0HNDJETHFOAD0:00000002", "0HNDP18094HNV:00000001", "0HNDSV78GL0QN:00000001", "0HNDLN4B05OJ7:00000001" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"systemData\":{\"createdBy\":\"apgaddag@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-10-16T20:32:15.963853Z\",\"lastModifiedBy\":\"apgaddag@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-10-16T20:32:58.3504775Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"defaultAutoShutdownProfile\":{\"shutdownOnDisconnect\":\"Enabled\",\"shutdownWhenNotConnected\":\"Enabled\",\"shutdownOnIdle\":\"LowUsage\",\"disconnectDelay\":\"PT0S\",\"noConnectDelay\":\"PT15M\",\"idleDelay\":\"PT15M\"},\"allowedRegions\":[\"australiaeast\"],\"sharedGalleryId\":\"/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/resourceGroups/rg-apgaddag-global-prod/providers/Microsoft.Compute/galleries/acg_lp_apgaddag_uniform_auseast\"},\"tags\":{},\"location\":\"australiaeast\",\"id\":\"/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/resourceGroups/rg-apgaddag-global-prod/providers/Microsoft.LabServices/labPlans/lp-apgaddag-flex-auseast\",\"name\":\"lp-apgaddag-flex-auseast\",\"type\":\"Microsoft.LabServices/labPlans\"},{\"systemData\":{\"createdBy\":\"apgaddag@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-10-16T20:13:54.3206545Z\",\"lastModifiedBy\":\"apgaddag@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-10-16T20:20:44.2520948Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"defaultAutoShutdownProfile\":{\"shutdownOnDisconnect\":\"Enabled\",\"shutdownWhenNotConnected\":\"Enabled\",\"shutdownOnIdle\":\"LowUsage\",\"disconnectDelay\":\"PT0S\",\"noConnectDelay\":\"PT15M\",\"idleDelay\":\"PT15M\"},\"allowedRegions\":[\"australiaeast\"],\"sharedGalleryId\":\"/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/resourceGroups/rg-apgaddag-global-prod/providers/Microsoft.Compute/galleries/acg_lp_apgaddag_uniform_auseast\"},\"tags\":{\"vmmodel\":\"uniform\"},\"location\":\"australiaeast\",\"id\":\"/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/resourceGroups/rg-apgaddag-global-prod/providers/Microsoft.LabServices/labPlans/lp-apgaddag-uniform-auseast\",\"name\":\"lp-apgaddag-uniform-auseast\",\"type\":\"Microsoft.LabServices/labPlans\"},{\"systemData\":{\"createdBy\":\"v-yixueli@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2024-11-25T01:42:55.8718603Z\",\"lastModifiedBy\":\"v-yixueli@microsoft.com\",\"lastModifiedByTyp[...]
