{
  "Get-AzLabServicesLab+[NoContext]+List+$GET+https://management.azure.com/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/providers/Microsoft.LabServices/labs?api-version=2021-10-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/providers/Microsoft.LabServices/labs?api-version=2021-10-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "7" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "0HNDSTN1VPUP4:00000002", "0HNDJ74I2FM50:00000002", "0HNDPPALTP06C:00000004", "0HNDOVSTPTP03:00000002", "0HNDJ7IAE7IIP:00000003", "0HNDRBPG733VO:00000002", "0HNDRQRCGF0U4:00000003", "0HNDMKK5LLNVF:00000002", "0HNDOS55V1V26:00000002", "0HNDS4777HGMN:00000002", "0HNDRB3JPA5QS:00000002", "0HNDRBL059DGA:00000003", "0HNDK4FDLU2SV:00000002", "0HNDJ0S29HAQK:00000002", "0HNDSU2FIG0F7:00000003", "0HNDPK2TGLH9F:00000003", "0HNDJFJBEHBC3:00000003", "0HNDRB7C7UPDE:00000001", "0HNDRBFMQ4SBN:00000003", "0HNDS4LC0MAP4:00000003", "0HNDMLS0FA1M6:00000002", "0HNDQIOA881HD:0000000A", "0HNDPKMPVM7QP:00000003", "0HNDJ72PE4PG7:00000009", "0HNDJETHFOACL:00000003", "0HNDPJEQ0F1PQ:00000001", "0HNDSUAOUT7RT:00000001", "0HNDLN84A1GUS:00000001" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"systemData\":{\"createdBy\":\"c7bb12bf-0b39-4f7f-9171-f418ff39b76a\",\"createdByType\":\"Application\",\"createdAt\":\"2024-03-01T19:24:37.5013084Z\",\"lastModifiedBy\":\"c7bb12bf-0b39-4f7f-9171-f418ff39b76a\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2024-03-01T19:24:37.5013084Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"networkProfile\":{},\"state\":\"Draft\",\"autoShutdownProfile\":{\"shutdownOnDisconnect\":\"Enabled\",\"shutdownWhenNotConnected\":\"Enabled\",\"shutdownOnIdle\":\"LowUsage\",\"disconnectDelay\":\"PT0S\",\"noConnectDelay\":\"PT15M\",\"idleDelay\":\"PT15M\"},\"connectionProfile\":{\"webSshAccess\":\"None\",\"webRdpAccess\":\"None\",\"clientSshAccess\":\"None\",\"clientRdpAccess\":\"Public\"},\"virtualMachineProfile\":{\"createOption\":\"TemplateVM\",\"imageReference\":{\"offer\":\"windows-11\",\"publisher\":\"microsoftwindowsdesktop\",\"sku\":\"win11-21h2-pron\",\"version\":\"latest\"},\"osType\":\"Windows\",\"sku\":{\"name\":\"Classic_Fsv2_2_4GB_128_S_SSD\",\"capacity\":0},\"additionalCapabilities\":{\"installGpuDrivers\":\"Disabled\"},\"usageQuota\":\"PT10H\",\"useSharedPassword\":\"Enabled\",\"adminUser\":{\"username\":\"test_user\"}},\"securityProfile\":{\"registrationCode\":\"tbtd35t1s\",\"openAccess\":\"Disabled\"},\"rosterProfile\":{},\"labPlanId\":\"/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/resourceGroups/rg-apgaddag-global-prod/providers/Microsoft.LabServices/labPlans/lp-apgaddag-flex-auseast\",\"title\":\"asdf\"},\"tags\":{},\"location\":\"australiaeast\",\"id\":\"/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/resourceGroups/rg-apgaddag-global-prod/providers/Microsoft.LabServices/labs/asdf\",\"name\":\"asdf\",\"type\":\"Microsoft.LabServices/labs\"},{\"systemData\":{\"createdBy\":\"c7bb12bf-0b39-4f7f-9171-f418ff39b76a\",\"createdByType\":\"Application\",\"createdAt\":\"2023-10-16T20:42:34.0201013Z\",\"lastModifiedBy\":\"apgaddag@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2024-05-06T17:12:20.2055127Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"networkProfile\":{},\"state\":\"Published\",\"autoShutdownProfile\":{\"shutdownOnDisconnect\":\"Enabled\",\"shutdownWhenNotConnect[...]
