{
  "Get-AzContainerInstanceCapability+[NoContext]+List+$GET+https://management.azure.com/subscriptions/da28f5e5-aa45-46fe-90c8-053ca49ab4b5/providers/Microsoft.ContainerInstance/locations/eastus/capabilities?api-version=2022-10-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/da28f5e5-aa45-46fe-90c8-053ca49ab4b5/providers/Microsoft.ContainerInstance/locations/eastus/capabilities?api-version=2022-10-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "58" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11960" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"resourceType\":\"containerGroups\",\"osType\":\"NotSpecified\",\"location\":\"eastus\",\"ipAddressType\":\"Public\",\"gpu\":\"None\",\"capabilities\":{\"maxMemoryInGB\":16.0,\"maxCpu\":4.0,\"maxGpuCount\":0}},{\"resourceType\":\"containerGroups\",\"osType\":\"NotSpecified\",\"location\":\"eastus\",\"ipAddressType\":\"Private\",\"gpu\":\"None\",\"capabilities\":{\"maxMemoryInGB\":16.0,\"maxCpu\":4.0,\"maxGpuCount\":0}},{\"resourceType\":\"containerGroups\",\"osType\":\"Linux\",\"location\":\"eastus\",\"ipAddressType\":\"Public\",\"gpu\":\"K80\",\"capabilities\":{\"maxMemoryInGB\":224.0,\"maxCpu\":24.0,\"maxGpuCount\":4}},{\"resourceType\":\"containerGroups\",\"osType\":\"Linux\",\"location\":\"eastus\",\"ipAddressType\":\"Public\",\"gpu\":\"P100\",\"capabilities\":{\"maxMemoryInGB\":448.0,\"maxCpu\":24.0,\"maxGpuCount\":4}},{\"resourceType\":\"containerGroups\",\"osType\":\"Linux\",\"location\":\"eastus\",\"ipAddressType\":\"Public\",\"gpu\":\"V100\",\"capabilities\":{\"maxMemoryInGB\":448.0,\"maxCpu\":24.0,\"maxGpuCount\":4}}]}",
    }
  }
}