{
  "Get-AzContainerInstanceCachedImage+[NoContext]+List+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.ContainerInstance/locations/eastus/cachedImages?api-version=2021-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.ContainerInstance/locations/eastus/cachedImages?api-version=2021-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "17" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11989" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"osType\":\"Windows\",\"osVersion\":\"Windows Server 2016 - Before 2B\",\"image\":\"microsoft/dotnet-framework:4.7.2-runtime-20181211-windowsservercore-ltsc2016\"},{\"osType\":\"Windows\",\"osVersion\":\"Windows Server 2016 - Before 2B\",\"image\":\"microsoft/dotnet-framework:4.7.2-runtime-20190108-windowsservercore-ltsc2016\"},{\"osType\":\"Windows\",\"osVersion\":\"Windows Server 2016 - Before 2B\",\"image\":\"microsoft/dotnet-framework:4.7.2-runtime-20190212-windowsservercore-ltsc2016\"},{\"osType\":\"Windows\",\"osVersion\":\"Windows Server 2016 - Before 2B\",\"image\":\"[...]
