{
  "New-AzContainerGroup+[NoContext]+Creates a container group using latest nginx image and requests a public IP address with opening ports+$PUT+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/test-rgdabsp/providers/Microsoft.ContainerInstance/containerGroups/test-cg8g3dz?api-version=2021-09-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/test-rgdabsp/providers/Microsoft.ContainerInstance/containerGroups/test-cg8g3dz?api-version=2021-09-01",
      "Content": "{\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"ipAddress\": {\r\n      \"ports\": [\r\n        {\r\n          \"protocol\": \"TCP\",\r\n          \"port\": 8000\r\n        },\r\n        {\r\n          \"protocol\": \"TCP\",\r\n          \"port\": 8001\r\n        }\r\n      ],\r\n      \"type\": \"Public\"\r\n    },\r\n    \"containers\": [\r\n      {\r\n        \"properties\": {\r\n          \"resources\": {\r\n            \"requests\": {\r\n              \"memoryInGB\": 1.5,\r\n              \"cpu\": 1\r\n            }\r\n          },\r\n          \"image\": \"nginx\",\r\n          \"ports\": [\r\n            {\r\n              \"protocol\": \"TCP\",\r\n              \"port\": 8000\r\n            },\r\n            {\r\n              \"protocol\": \"TCP\",\r\n              \"port\": 8001\r\n            }\r\n          ]\r\n        },\r\n        \"name\": \"bez-test-ci\"\r\n      }\r\n    ],\r\n    \"restartPolicy\": \"Never\",\r\n    \"osType\": \"Linux\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.ContainerInstance/locations/eastus/operations/90434210-b5f3-42a6-aa25-e1f47d1fb14c?api-version=2018-06-01" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests-pt5m": [ "98" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests-pt1h": [ "298" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1195" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"sku\":\"Standard\",\"provisioningState\":\"Pending\",\"containers\":[{\"name\":\"bez-test-ci\",\"properties\":{\"image\":\"nginx\",\"ports\":[{\"protocol\":\"TCP\",\"port\":8000},{\"protocol\":\"TCP\",\"port\":8001}],\"environmentVariables\":[],\"resources\":{\"requests\":{\"memoryInGB\":1.5,\"cpu\":1.0}}}}],\"initContainers\":[],\"restartPolicy\":\"Never\",\"ipAddress\":{\"ports\":[{\"protocol\":\"TCP\",\"port\":8000},{\"protocol\":\"TCP\",\"port\":8001}],\"type\":\"Public\"},\"osType\":\"Linux\",\"instanceView\":{\"events\":[],\"state\":\"Pending\"}},\"id\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/test-rgdabsp/providers/Microsoft.ContainerInstance/containerGroups/test-cg8g3dz\",\"name\":\"test-cg8g3dz\",\"type\":\"Microsoft.ContainerInstance/containerGroups\",\"location\":\"eastus\"}",
    }
  },
  "New-AzContainerGroup+[NoContext]+Creates a container group using latest nginx image and requests a public IP address with opening ports+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.ContainerInstance/locations/eastus/operations/90434210-b5f3-42a6-aa25-e1f47d1fb14c?api-version=2018-06-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.ContainerInstance/locations/eastus/operations/90434210-b5f3-42a6-aa25-e1f47d1fb14c?api-version=2018-06-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "24" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11984" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/test-rgdabsp/providers/Microsoft.ContainerInstance/containerGroups/test-cg8g3dz\",\"status\":\"Succeeded\",\"startTime\":\"2021-11-09T08:56:22.4871031Z\",\"properties\":{\"events\":[{\"count\":1,\"firstTimestamp\":\"2021-11-09T08:56:25Z\",\"lastTimestamp\":\"2021-11-09T08:56:25Z\",\"name\":\"Pulled\",\"message\":\"Successfully pulled image \\\"nginx@sha256:7250923ba3543110040462388756ef099331822c6172a050b12c7a38361ea46f\\\"\",\"type\":\"Normal\"},{\"count\":1,\"firstTimestamp\":\"2021-11-09T08:56:25Z\",\"lastTimestamp\":\"2021-11-09T08:56:25Z\",\"name\":\"Pulling\",\"message\":\"pulling image \\\"nginx@sha256:7250923ba3543110040462388756ef099331822c6172a050b12c7a38361ea46f\\\"\",\"type\":\"Normal\"},{\"count\":1,\"firstTimestamp\":\"2021-11-09T08:56:31Z\",\"lastTimestamp\":\"2021-11-09T08:56:31Z\",\"nam[...]
