{
  "Get-AzEventHubCluster+[NoContext]+List+$GET+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.EventHub/clusters?api-version=2022-01-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.EventHub/clusters?api-version=2022-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "38" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "75d0a5d0-5286-431b-bf87-8a1dfe112bfb_M8CH3_M8CH3", "", "", "", "d1aa6f5c-d305-481e-917f-8bf0f7507028_M9CH3_M9CH3", "91a6975d-ed6c-49c2-9e7a-92f6c387ad36_M11SN1_M11SN1", "8826bb94-2194-4622-a6f6-defc553da7a3_M4SN1_M4SN1" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11967" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"sku\":{\"name\":\"Dedicated\",\"capacity\":1},\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/v-ajnavtest/providers/Microsoft.EventHub/clusters/PMTestCluster1\",\"name\":\"PMTestCluster1\",\"type\":\"Microsoft.EventHub/clusters\",\"location\":\"westus2\",\"tags\":{},\"properties\":{\"supportsScaling\":false,\"createdAt\":\"2021-09-27T00:03:18.28Z\",\"updatedAt\":\"2021-09-27T00:03:18.28Z\",\"metricId\":\"PROD-MWH01-594\"}},{\"sku\":{\"name\":\"Dedicated\",\"capacity\":1},\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/prod-by3-533-rg/providers/Microsoft.EventHub/clusters/PMTestCluster\",\"name\":\"PMTestCluster\",\"type\":\"Microsoft.EventHub/clusters\",\"location\":\"eastus2\",\"tags\":{},\"properties\":{\"supportsScaling\":false,\"createdAt\":\"2021-10-27T02:00:33.58Z\",\"updatedAt\":\"2021-10-27T02:00:33.58Z\",\"metricId\":\"PROD-BN3-575\"}},{\"sku\":{\"name\":\"Dedicated\",\"capacity\":1},\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/framborg/providers/Microsoft.EventHub/clusters/scusCluster\",\"name\":\"scusCluster\",\"type\":\"Microsoft.EventHub/clusters\",\"location\":\"southcentralus\",\"tags\":{},\"properties\":{\"supportsScaling\":false,\"createdAt\":\"2022-06-28T23:28:03.07Z\",\"updatedAt\":\"2022-06-28T23:28:03.07Z\",\"metricId\":\"PROD-SN-V51005\"}},{\"sku\":{\"name\":\"Dedicated\",\"capacity\":1},\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/RSG-Cluster5208/providers/Microsoft.EventHub/clusters/Eventhub-Cluster-8960\",\"name\":\"Eventhub-Cluster-8960\",\"type\":\"Microsoft.EventHub/clusters\",\"location\":\"southcentralus\",\"tags\":{\"k1\":\"v1\",\"k2\":\"v2\"},\"properties\":{\"supportsScaling\":false,\"createdAt\":\"2022-07-26T05:03:11.69Z\",\"updatedAt\":\"2022-07-26T05:03:11.69Z\",\"metricId\":\"PROD-SN-V51002\"}},{\"sku\":{\"name\":\"Dedicated\",\"capacity\":1},\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/RSG-Cluster9613/providers/Microsoft.EventHub/clusters/Eventhub-Cluster-5758\",\"name\":\"Eventhub-Cluster-5758\",\"type\":\"Microsoft.EventHub/clusters\",\"location\":\"southcentralus\",\"tags\":{\"k2\":\"v2[...]
