{
  "Get-AzEventHubCluster+[NoContext]+List+$GET+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.EventHub/clusters?api-version=2022-01-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.EventHub/clusters?api-version=2022-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "16" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "b244888b-ad1c-484c-b9db-bbf42e6d8add_M8SN1_M8SN1", "", "", "", "5cc8483e-94e3-4343-a478-f2f50ee8dbcb_M0SN1_M0SN1", "1bc5ee68-6f00-43c7-880d-1e98d4474f56_M8SN1_M8SN1", "1cef43fc-f760-4273-89bb-63197b31bf4d_M5CH3_M5CH3" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11985" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"sku\":{\"name\":\"Dedicated\",\"capacity\":1},\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/v-ajnavtest/providers/Microsoft.EventHub/clusters/PMTestCluster1\",\"name\":\"PMTestCluster1\",\"type\":\"Microsoft.EventHub/clusters\",\"location\":\"westus2\",\"tags\":{},\"properties\":{\"supportsScaling\":false,\"createdAt\":\"2021-09-27T00:03:18.28Z\",\"updatedAt\":\"2021-09-27T00:03:18.28Z\",\"metricId\":\"PROD-MWH01-594\"}},{\"sku\":{\"name\":\"Dedicated\",\"capacity\":1},\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/prod-by3-533-rg/providers/Microsoft.EventHub/clusters/PMTestCluster\",\"name\":\"PMTestCluster\",\"type\":\"Microsoft.EventHub/clusters\",\"location\":\"eastus2\",\"tags\":{},\"properties\":{\"supportsScaling\":false,\"createdAt\":\"2021-10-27T02:00:33.58Z\",\"updatedAt\":\"2021-10-27T02:00:33.58Z\",\"metricId\":\"PROD-BN3-575\"}},{\"sku\":{\"name\":\"Dedicated\",\"capacity\":1},\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/rgehcluster-cli-test/providers/Microsoft.EventHub/clusters/eventhubs-clus1-onwp\",\"name\":\"eventhubs-clus1-onwp\",\"type\":\"Microsoft.EventHub/clusters\",\"location\":\"eastus2\",\"tags\":{\"tag1\":\"value1\"},\"properties\":{\"supportsScaling\":false,\"createdAt\":\"2021-09-28T01:56:00.25Z\",\"updatedAt\":\"2021-09-28T01:56:00.25Z\",\"metricId\":\"PROD-BN3-51090\"}},{\"sku\":{\"name\":\"Dedicated\",\"capacity\":1},\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/framborg/providers/Microsoft.EventHub/clusters/scusCluster\",\"name\":\"scusCluster\",\"type\":\"Microsoft.EventHub/clusters\",\"location\":\"southcentralus\",\"tags\":{},\"properties\":{\"supportsScaling\":false,\"createdAt\":\"2022-06-28T23:28:03.07Z\",\"updatedAt\":\"2022-06-28T23:28:03.07Z\",\"metricId\":\"PROD-SN-V51005\"}},{\"sku\":{\"name\":\"Dedicated\",\"capacity\":1},\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/RSG-Cluster5208/providers/Microsoft.EventHub/clusters/Eventhub-Cluster-8960\",\"name\":\"Eventhub-Cluster-8960\",\"type\":\"Microsoft.EventHub/clusters\",\"location\":\"southcentralus\",\"tags\":{\"k1\":\"v1\",\"k2\":\"v2\"},\"properties\":{\"supportsScaling\":false,\"createdAt\":\"2022-07-26T05:03:11.69Z\",\"updatedAt\":\"2022-07-26T05:03:11.69Z\",\"metricId\":\"PROD-SN-V51002\"}},{\"sku\":{\"name\":\"Dedicated\",\"capacity\":1},\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/rgehcluster-cli-test/providers/Microsoft.EventHub/clusters/eventhubs-clus1-hs5d\",\"name\":\"eventhubs-clus1-hs5d\",\"type\":\"Microsoft.EventHub/clusters\",\"location\":\"eastus\",\"tags\":{\"tag2\":\"value2\"},\"properties\":{\"supportsScaling\":false,\"createdAt\":\"2022-04-19T03:35:01.737Z\",\"updatedAt\":\"2022-04-19T03:36:32.7Z\",\"metricId\":\"PROD-BL3-51129\"}},{\"sku\":{\"name\":\"Dedicated\",\"capacity\":1},\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/RSG-Cluster9613/providers/Microsoft.EventHub/clusters/Eventhub-Cluster-5758\",\"name\":\"Eventhub-Cluster-5758\",\"type\":\"Microsoft.EventHub/clusters\",\"location\":\"southcentralus\",\"tags\":{\"k2\":[...]
