{
  "New-AzEventHub+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestjikdue/providers/Microsoft.EventHub/namespaces/namespaceNameb1o7k5/eventhubs/eventhub?api-version=2022-01-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestjikdue/providers/Microsoft.EventHub/namespaces/namespaceNameb1o7k5/eventhubs/eventhub?api-version=2022-01-01-preview",
      "Content": "{\n  \"properties\": {\n    \"messageRetentionInDays\": 6,\n    \"partitionCount\": 5\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestjikdue/providers/Microsoft.EventHub/namespaces/namespaceNameb1o7k5/eventhubs/eventhub\",\"name\":\"eventhub\",\"type\":\"Microsoft.EventHub/Namespaces/EventHubs\",\"location\":\"australiaeast\",\"properties\":{\"messageRetentionInDays\":6,\"partitionCount\":5,\"status\":\"Active\",\"createdAt\":\"2022-09-01T05:38:46.44Z\",\"updatedAt\":\"2022-09-01T05:38:48.433Z\",\"partitionIds\":[\"0\",\"1\",\"2\",\"3\",\"4\"]}}",
    }
  }
}