{
  "Set-AzEventHubCluster+[NoContext]+SetExpanded+$GET+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/clusterdoqsl1?api-version=2022-01-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/clusterdoqsl1?api-version=2022-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "285" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11802" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/clusterdoqsl1\",\"name\":\"clusterdoqsl1\",\"type\":\"Microsoft.EventHub/Clusters\",\"location\":\"eastasia\",\"properties\":{\"createdAt\":\"2022-09-11T16:49:38.4259033Z\",\"updatedAt\":\"2022-09-11T17:37:26.895522Z\",\"status\":\"Active\",\"supportsScaling\":true,\"metricId\":\"PROD-HK-V51003\"},\"sku\":{\"name\":\"Dedicated\",\"capacity\":2}}",
    }
  },
  "Set-AzEventHubCluster+[NoContext]+SetExpanded+$PUT+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/clusterdoqsl1?api-version=2022-01-01-preview+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/clusterdoqsl1?api-version=2022-01-01-preview",
      "Content": "{\n  \"location\": \"eastasia\",\n  \"sku\": {\n    \"name\": \"Dedicated\",\n    \"capacity\": 3\n  },\n  \"properties\": {\n    \"supportsScaling\": true\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/microsoft.eventhub/locations/eastasia/clusterOperationResults/d6a55b8f-0cc0-42c6-87ae-5836dd708638?isAsyncHeader=false\u0026resourceName=clusterdoqsl1\u0026resourceGroupName=AutomatedPowershellTesting\u0026resourceType=cluster\u0026api-version=2022-01-01-preview" ],
        "Azure-AsyncOperation": [ "https://management.azure.com:443/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/microsoft.eventhub/locations/eastasia/clusterOperationResults/d6a55b8f-0cc0-42c6-87ae-5836dd708638?isAsyncHeader=true\u0026resourceName=clusterdoqsl1\u0026resourceGroupName=AutomatedPowershellTesting\u0026resourceType=cluster\u0026api-version=2022-01-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1165" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "applica[...]
