{
  "AzChaosTarget+[NoContext]+NewAzChaosTarget-CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_chaos/providers/Microsoft.Compute/virtualMachines/azpstest2/providers/Microsoft.Chaos/targets/microsoft-virtualmachine?api-version=2024-01-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_chaos/providers/Microsoft.Compute/virtualMachines/azpstest2/providers/Microsoft.Chaos/targets/microsoft-virtualmachine?api-version=2024-01-01",
      "Content": "{\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"identities\": [\r\n      {\r\n        \"subject\": \"CN=example.subject\",\r\n        \"type\": \"CertificateSubjectIssuer\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"e301c549-0000-0100-0000-6639caef0000\"" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "199" ],
        "x-ms-throttling-version": [ "v1" ],
        "api-supported-versions": [ "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview, 2023-04-15-preview, 2023-09-01-preview, 2023-10-27-preview, 2023-11-01, 2023-12-01-preview, 2024-01-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_chaos/providers/Microsoft.Compute/virtualMachines/azpstest2/providers/Microsoft.Chaos/targets/microsoft-virtualmachine\",\"type\":\"Microsoft.Chaos/targets\",\"name\":\"microsoft-virtualmachine\",\"location\":\"eastus\",\"properties\":{},\"systemData\":{\"createdAt\":\"2024-05-07T06:29:37.194+00:00\",\"lastModifiedAt\":\"2024-05-07T06:32:15.793+00:00\",\"createdByType\":\"User\"}}",
    }
  },
  "AzChaosTarget+[NoContext]+GetAzChaosTarget-List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_chaos/providers/Microsoft.Compute/virtualMachines/azpstest2/providers/Microsoft.Chaos/targets?api-version=2024-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_chaos/providers/Microsoft.Compute/virtualMachines/azpstest2/providers/Microsoft.Chaos/targets?api-version=2024-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "38" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "599" ],
        "x-ms-throttling-version": [ "v1" ],
        "api-supported-versions": [ "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview, 2023-04-15-preview, 2023-09-01-preview, 2023-10-27-preview, 2023-11-01, 2023-12-01-preview, 2024-01-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_chaos/providers/Microsoft.Compute/virtualMachines/azpstest2/providers/Microsoft.Chaos/targets/microsoft-virtualmachine\",\"type\":\"Microsoft.Chaos/targets\",\"name\":\"microsoft-virtualmachine\",\"location\":\"eastus\",\"properties\":{},\"systemData\":{\"createdAt\":\"2024-05-07T06:29:37.194+00:00\",\"lastModifiedAt\":\"2024-05-07T06:32:15.793+00:00\",\"createdByType\":\"User\"}}],\"nextLink\":\"\"}",
    }
  },
  "AzChaosTarget+[NoContext]+GetAzChaosTarget-Get+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_group_chaos/providers/Microsoft.Compute/virtualMachines/azpstest2/providers/Microsoft.Chaos/targets/microsoft-virtualmachine?api-version=2024-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps_test_g[...]
