{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourcegroups/rg-ypi3s5?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourceGroups/rg-ypi3s5\",\r\n  \"name\": \"rg-ypi3s5\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourceGroups/rg-ypi3s5/providers/Microsoft.HybridCompute/machines/arc-aztgem?api-version=2020-08-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourceGroups/rg-ypi3s5/providers/Microsoft.HybridCompute/machines/arc-aztgem\",\r\n  \"name\": \"arc-aztgem\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"adfbb60c-261b-4704-ab47-f19bce507c11\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n  },\r\n  \"type\": \"Microsoft.HybridCompute/machines\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"agentVersion\": \"1.22.02077.495\",\r\n    \"status\": \"Connected\",\r\n    \"lastStatusChange\": \"2022-10-04T18:31:00.7719065Z\",\r\n    \"errorDetails\": [],\r\n    \"displayName\": \"DESKTOP-NOSPF1Q\",\r\n    \"machineFqdn\": \"DESKTOP-NOSPF1Q\",\r\n    \"osName\": \"windows\",\r\n    \"osVersion\": \"10.0.22000.978\",\r\n    \"osProfile\": {\r\n      \"computerName\": \"DESKTOP-NOSPF1Q\"\r\n    },\r\n    \"vmId\": \"096afdaf-73c8-454c-89ed-4aeffec75411\",\r\n    \"vmUuid\": \"C74C3D53-7F8C-3831-C2FE-E3B92AE5FD56\",\r\n    \"clientPublicKey\": \"MIIBCgKCAQEAnob6FPuaytBZ+fuD+KNRz8HmL/PH5tTZAtmxcsDbSVgBCnrVqnjbEZJUekgk9o+2DJYWlZSj7c7M+5zQRkmcT+XnZ+FX3a4LsyH9vPlscGIZrSKp8hZF3OQiaGLJ9Pk1YM6zvM+x7T78hRoEOy2q+SkxQ+n5adEJnscZVA3Pu9whwd9fE0xBiS1yLRE2FVcjdP+nVgRqKtsVS1WZVDVZv6rA/qBYFmylFZYmSzu6utRL10TyvLmtvK7Q9j09x/mKo3ooIX+WN1ND6uMnBW94ImOomqvfb9DhfgLwcEmmPCgjmvSYUOxAwJaCJAQ1GqbUcP5umJ/iED4615oLtnOplwIDAQAB\",\r\n    \"osSku\": \"Windows 10 Enterprise\",\r\n    \"domainName\": \"WORKGROUP\",\r\n    \"adFqdn\": \"DESKTOP-NOSPF1Q\",\r\n    \"dnsFqdn\": \"DESKTOP-NOSPF1Q\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourceGroups/rg-ypi3s5/providers/Microsoft.Compute/virtualMachines/arc-aztgem?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Compute/virtualMachines/arc-aztgem' under resource group 'rg-ypi3s5' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "//subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourceGroups/rg-ypi3s5/providers/Microsoft.HybridCompute/machines/arc-aztgem/providers/Microsoft.HybridConnectivity/endpoints/default/listCredentials?api-version=2021-10-06-preview&expiresin=3600",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The resource 'Microsoft.HybridCompute/machines/arc-aztgem/providers/Microsoft.HybridConnectivity/endpoints/default' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "//subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourceGroups/rg-ypi3s5/providers/Microsoft.HybridCompute/machines/arc-aztgem/providers/Microsoft.HybridConnectivity/endpoints/default/listCredentials?api-version=2021-10-06-preview&expiresin=3600",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "mise-correlation-id": [
          "9a8373dd-876c-492b-b03e-87c9a2be55fc"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"relay\": {\r\n    \"namespaceName\": \"azgnrelay-eastus-l1\",\r\n    \"namespaceNameSuffix\": \"servicebus.windows.net\",\r\n    \"hybridConnectionName\": \"microsoft.hybridcompute/machines/3cf2188f2bdab27b0907dcb9c53d8ada1a6cba913af6580863dbae75b0cdc433/1664908286977728256\",\r\n    \"accessKey\": \"SharedAccessSignature sr=http%3A%2F%2Fazgnrelay-eastus-l1.servicebus.windows.net%2Fmicrosoft.hybridcompute%2Fmachines%2F3cf2188f2bdab27b0907dcb9c53d8ada1a6cba913af6580863dbae75b0cdc433%2F1664908286977728256%2F&sig=PeFRELjaRiI1JTLLxuNYgh6bg%2FmmJw%2FTU%2BabQgGZzXo%3D&se=1664912486&skn=sender20221003\",\r\n    \"expiresOn\": 1664911886\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourceGroups/rg-ypi3s5/providers/Microsoft.HybridCompute/machines/arc-aztgem/providers/Microsoft.HybridConnectivity/endpoints/default?api-version=2021-10-06-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"type\": \"default\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "\"e1005e66-0000-0100-0000-633c7bfe0000\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "mise-correlation-id": [
          "d4a2fedb-f974-4a33-99b9-074415f1660e"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourceGroups/rg-ypi3s5/providers/Microsoft.HybridCompute/machines/arc-aztgem/providers/Microsoft.HybridConnectivity/endpoints/default\",\r\n  \"name\": \"default\",\r\n  \"type\": \"microsoft.hybridconnectivity/endpoints\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"4674a78d-12e9-46a1-ba34-12caf4ae388b\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2022-10-04T18:31:26.2465074Z\",\r\n    \"lastModifiedBy\": \"4674a78d-12e9-46a1-ba34-12caf4ae388b\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2022-10-04T18:31:26.2465074Z\"\r\n  },\r\n  \"properties\": {\r\n    \"type\": \"default\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourcegroups/rg-ypi3s5?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzoyRFlQSTNTNS1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzoyRFlQSTNTNS1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzoyRFlQSTNTNS1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzoyRFlQSTNTNS1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0a363e8c-a728-4970-8108-d104b63cb74f"
  }
}