{
  "Entries": [
    {
      "RequestUri": "/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourcegroups/rg-a2mtwg?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg\",\r\n  \"name\": \"rg-a2mtwg\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Compute/images/UbuntuLTS?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Compute/images/UbuntuLTS' under resource group 'rg-a2mtwg' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/providers/Microsoft.Network/locations/eastus/CheckDnsNameAvailability?domainNameLabel=vm-avcz5g-af4096&api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"available\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/providers/Microsoft.Compute?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/providers/Microsoft.Compute\",\r\n  \"namespace\": \"Microsoft.Compute\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"60e6cd67-9c8c-4951-9b3c-23c25a2169af\",\r\n      \"roleDefinitionId\": \"e4770acb-272e-4dc8-87f3-12f44a612224\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a303894e-f1d8-4a37-bf10-67aa654a0596\",\r\n      \"roleDefinitionId\": \"903ac751-8ad5-4e5a-bfc2-5e49f450a241\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a8b6bf88-1d1a-4626-b040-9a729ea93c65\",\r\n      \"roleDefinitionId\": \"45c8267c-80ba-4b96-9a43-115b8f49fccd\"\r\n    },\r\n    {\r\n      \"applicationId\": \"184909ca-69f1-4368-a6a7-c558ee6eb0bd\",\r\n      \"roleDefinitionId\": \"45c8267c-80ba-4b96-9a43-115b8f49fccd\"\r\n    },\r\n    {\r\n      \"applicationId\": \"5e5e43d4-54da-4211-86a4-c6e7f3715801\",\r\n      \"roleDefinitionId\": \"ffcd6e5b-8772-457d-bb17-89703c03428f\"\r\n    },\r\n    {\r\n      \"applicationId\": \"ce6ff14a-7fdc-4685-bbe0-f6afdfcfa8e0\",\r\n      \"roleDefinitionId\": \"cb17cddc-dbac-4ae0-ae79-8db34eddfca0\"\r\n    },\r\n    {\r\n      \"applicationId\": \"372140e0-b3b7-4226-8ef9-d57986796201\",\r\n      \"roleDefinitionId\": \"cb17cddc-dbac-4ae0-ae79-8db34eddfca0\"\r\n    },\r\n    {\r\n      \"applicationId\": \"579d9c9d-4c83-4efc-8124-7eba65ed3356\",\r\n      \"roleDefinitionId\": \"8c99c4ce-d744-4597-a2f0-0a0044d67560\"\r\n    },\r\n    {\r\n      \"applicationId\": \"b9a92e36-2cf8-4f4e-bcb3-9d99e00e14ab\",\r\n      \"roleDefinitionId\": \"6efa92ca-56b6-40af-a468-5e3d2b5232f0\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"availabilitySets\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"Central US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Australia Central\",\r\n        \"Brazil South\",\r\n        \"South India\",\r\n        \"Central India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West US 2\",\r\n        \"West Central US\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"South Africa North\",\r\n        \"UAE North\",\r\n        \"Switzerland North\",\r\n        \"Germany West Central\",\r\n        \"Norway East\",\r\n        \"Jio India West\",\r\n        \"West US 3\",\r\n        \"Sweden Central\",\r\n        \"Qatar Central\",\r\n        \"East US 2 EUAP\",\r\n        \"Central US EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2022-08-01\",\r\n        \"2022-03-01\",\r\n        \"2021-11-01\",\r\n        \"2021-07-01\",\r\n        \"2021-04-01\",\r\n        \"2021-03-01\",\r\n        \"2020-12-01\",\r\n        \"2020-06-01\",\r\n        \"2019-12-01\",\r\n        \"2019-07-01\",\r\n        \"2019-03-01\",\r\n        \"2018-10-01\",\r\n        \"2018-06-01\",\r\n        \"2018-04-01\",\r\n        \"2017-12-01\",\r\n        \"2017-03-30\",\r\n        \"2016-08-30\",\r\n        \"2016-04-30-preview\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"virtualMachines\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"Central US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n  [...]
    {
      "RequestUri": "/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Compute/virtualMachines/vm-avcz5g?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Compute/virtualMachines/vm-avcz5g' under resource group 'rg-a2mtwg' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Compute/virtualMachines/vm-avcz5g?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/LowCostGet3Min;3998,Microsoft.Compute/LowCostGet30Min;31988"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vm-avcz5g\",\r\n  \"id\": \"/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Compute/virtualMachines/vm-avcz5g\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"azsecpack\": \"nonprod\",\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\": \"true\"\r\n  },\r\n  \"properties\": {\r\n    \"vmId\": \"b5347e39-b6ab-4059-887e-394b74d25364\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D2s_v3\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"16.04-LTS\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\": \"16.04.202109280\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\": \"vm-avcz5g_OsDisk_1_210d35e321a44ee4a12eed613a8557f4\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n          \"id\": \"/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Compute/disks/vm-avcz5g_OsDisk_1_210d35e321a44ee4a12eed613a8557f4\"\r\n        },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm-avcz5g\",\r\n      \"adminUsername\": \"azuretestuser\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\": false,\r\n        \"provisionVMAgent\": true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"ImageDefault\",\r\n          \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\": false\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/networkInterfaces/vm-avcz5g\"\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"timeCreated\": \"2022-09-29T13:43:35.5413824-04:00\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/networkInterfaces/vm-avcz5g?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/vm-avcz5g' under resource group 'rg-a2mtwg' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/networkInterfaces/vm-avcz5g?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"55033575-1992-43de-af96-57aa2c407648\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vm-avcz5g\",\r\n  \"id\": \"/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/networkInterfaces/vm-avcz5g\",\r\n  \"etag\": \"W/\\\"55033575-1992-43de-af96-57aa2c407648\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"698510cf-79b8-4fa7-bdf2-5616b92e9277\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"vm-avcz5g\",\r\n        \"id\": \"/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/networkInterfaces/vm-avcz5g/ipConfigurations/vm-avcz5g\",\r\n        \"etag\": \"W/\\\"55033575-1992-43de-af96-57aa2c407648\\\"\",\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"192.168.1.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/virtualNetworks/vm-avcz5g/subnets/vm-avcz5g\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"4yyhwvwom5je3kq24vnmk5r55f.bx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/networkSecurityGroups/vm-avcz5g\"\r\n    },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n    \"nicType\": \"Standard\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"eastus\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/virtualNetworks/vm-avcz5g?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/vm-avcz5g' under resource group 'rg-a2mtwg' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/virtualNetworks/vm-avcz5g?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"9b30ab80-8435-4afc-aec5-c14f0a0307bb\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vm-avcz5g\",\r\n  \"id\": \"/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/virtualNetworks/vm-avcz5g\",\r\n  \"etag\": \"W/\\\"9b30ab80-8435-4afc-aec5-c14f0a0307bb\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"567b30f6-67ce-4ed2-aa1c-f55ac57e3ffd\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"vm-avcz5g\",\r\n        \"id\": \"/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/virtualNetworks/vm-avcz5g/subnets/vm-avcz5g\",\r\n        \"etag\": \"W/\\\"9b30ab80-8435-4afc-aec5-c14f0a0307bb\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"192.168.1.0/24\",\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/networkSecurityGroups/vm-avcz5g?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkSecurityGroups/vm-avcz5g' under resource group 'rg-a2mtwg' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/networkSecurityGroups/vm-avcz5g?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"0e5f7c95-9f93-4482-bd70-96004f514af3\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vm-avcz5g\",\r\n  \"id\": \"/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/networkSecurityGroups/vm-avcz5g\",\r\n  \"etag\": \"W/\\\"0e5f7c95-9f93-4482-bd70-96004f514af3\\\"\",\r\n  \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"7c5d8f74-8394-4370-b095-cba7110be5c4\",\r\n    \"securityRules\": [\r\n      {\r\n        \"name\": \"vm-avcz5g22\",\r\n        \"id\": \"/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/networkSecurityGroups/vm-avcz5g/securityRules/vm-avcz5g22\",\r\n        \"etag\": \"W/\\\"0e5f7c95-9f93-4482-bd70-96004f514af3\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/securityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"22\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 1000,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      }\r\n    ],\r\n    \"defaultSecurityRules\": [\r\n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/networkSecurityGroups/vm-avcz5g/defaultSecurityRules/AllowVnetInBound\",\r\n        \"etag\": \"W/\\\"0e5f7c95-9f93-4482-bd70-96004f514af3\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\",\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\": \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"[...]
    {
      "RequestUri": "/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/virtualNetworks/vm-avcz5g?api-version=2020-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"192.168.1.0/24\"\r\n        },\r\n        \"name\": \"vm-avcz5g\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/providers/Microsoft.Network/locations/eastus/operations/51ddc08d-8872-415e-8fa8-968e502b8718?api-version=2020-11-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vm-avcz5g\",\r\n  \"id\": \"/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/virtualNetworks/vm-avcz5g\",\r\n  \"etag\": \"W/\\\"2f362c1c-9719-409e-9741-2252864ddfa7\\\"\",\r\n  \"type\": \"Mic[...]
[...]
    {
      "RequestUri": "/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/providers/Microsoft.Network/locations/eastus/operations/3fbdc318-2c1a-4493-b580-28f7979c25ad?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Compute/virtualMachines/vm-avcz5g?api-version=2022-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D2s_v3\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"16.04-LTS\",\r\n        \"version\": \"latest\"\r\n      }\r\n    },\r\n    \"additionalCapabilities\": {},\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm-avcz5g\",\r\n      \"adminUsername\": \"azuretestuser\",\r\n      \"adminPassword\": \"1qt4-k5vc155\",\r\n      \"linuxConfiguration\": {\r\n        \"ssh\": {}\r\n      }\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.Network/networkInterfaces/vm-avcz5g\"\r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptio[...]
    {
      "RequestUri": "/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/providers/Microsoft.Compute/locations/eastus/operations/a0ac79cc-2384-4c7d-b7f1-c0caa91a5c07?p=59a53828-55e2-4db0-9599-7f4640c6c1cb&api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "35"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29994"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2022-09-29T13:43:33.9476726-04:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"a0ac79cc-2384-4c7d-b7f1-c0caa91a5c07\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/providers/Microsoft.Compute/locations/eastus/operations/a0ac79cc-2384-4c7d-b7f1-c0caa91a5c07?p=59a53828-55e2-4db0-9599-7f4640c6c1cb&api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14998,Microsoft.Compute/GetOperation30Min;29993"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2022-09-29T13:43:33.9476726-04:00\",\r\n  \"endTime\": \"2022-09-29T13:44:05.8831389-04:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"a0ac79cc-2384-4c7d-b7f1-c0caa91a5c07\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/8ac9b3ce-9c7e-43f4-ace6-137b961c1b09/resourceGroups/rg-a2mtwg/providers/Microsoft.HybridCompute/machines/vm-avcz5g?api-version=2020-08-02",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.HybridCompute/machines/vm-avcz5g' under resource group 'rg-a2mtwg' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
