{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourcegroups/rg-ps8924?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourceGroups/rg-ps8924\",\r\n  \"name\": \"rg-ps8924\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourceGroups/rg-ps8924/resources?$filter=name%20eq%20'arc-ps4620'%20and%20(resourceType%20eq%20'Microsoft.HybridCompute/machines'%20or%20resourceType%20eq%20'Microsoft.Compute/virtualMachines'%20or%20resourceType%20eq%20'Microsoft.ConnectedVMwarevSphere/virtualMachines'%20or%20resourceType%20eq%20'Microsoft.ScVmm/virtualMachines'%20or%20resourceType%20eq%20'Microsoft.AzureStackHCI/virtualMachines')&api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourceGroups/rg-ps8924/providers/Microsoft.HybridCompute/machines/arc-ps4620\",\r\n      \"name\": \"arc-ps4620\",\r\n      \"type\": \"Microsoft.HybridCompute/machines\",\r\n      \"location\": \"eastus\",\r\n      \"identity\": {\r\n        \"principalId\": \"1257c56c-97fe-4bdf-a0ec-4e591c60e3b4\",\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"type\": \"SystemAssigned\"\r\n      },\r\n      \"tags\": {}\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourceGroups/rg-ps8924/providers/Microsoft.HybridCompute/machines/arc-ps4620/providers/Microsoft.HybridConnectivity/endpoints/default/listCredentials?api-version=2021-10-06-preview&expiresin=3600",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The resource 'Microsoft.HybridCompute/machines/arc-ps4620/providers/Microsoft.HybridConnectivity/endpoints/default' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "//subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourceGroups/rg-ps8924/providers/Microsoft.HybridCompute/machines/arc-ps4620/providers/Microsoft.HybridConnectivity/endpoints/default/listCredentials?api-version=2021-10-06-preview&expiresin=3600",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "mise-correlation-id": [
          "1d665f2d-fca3-4da9-b4ca-a719c34fd450"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"relay\": {\r\n    \"namespaceName\": \"azgnrelay-eastus-l1\",\r\n    \"namespaceNameSuffix\": \"servicebus.windows.net\",\r\n    \"hybridConnectionName\": \"microsoft.hybridcompute/machines/326f053b2b9df924ed034d1e7493dee13cb35046da5ee852ad530a4be43ce599/1675204284356183040\",\r\n    \"accessKey\": \"SharedAccessSignature sr=http%3A%2F%2Fazgnrelay-eastus-l1.servicebus.windows.net%2Fmicrosoft.hybridcompute%2Fmachines%2F326f053b2b9df924ed034d1e7493dee13cb35046da5ee852ad530a4be43ce599%2F1675204284356183040%2F&sig=lxBxuLyXSUtp74tgz6fgRsNfIu9liKdZaE9Af7qLCFk%3D&se=1675208484&skn=sender20230130\",\r\n    \"expiresOn\": 1675207884\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourceGroups/rg-ps8924/providers/Microsoft.HybridCompute/machines/arc-ps4620/providers/Microsoft.HybridConnectivity/endpoints/default?api-version=2021-10-06-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"type\": \"default\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "\"a900234f-0000-0100-0000-63d996bb0000\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "mise-correlation-id": [
          "caea6276-f10c-4817-bf68-e132bb28bf85"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourceGroups/rg-ps8924/providers/Microsoft.HybridCompute/machines/arc-ps4620/providers/Microsoft.HybridConnectivity/endpoints/default\",\r\n  \"name\": \"default\",\r\n  \"type\": \"microsoft.hybridconnectivity/endpoints\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"4674a78d-12e9-46a1-ba34-12caf4ae388b\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2023-01-31T22:31:23.5867248Z\",\r\n    \"lastModifiedBy\": \"4674a78d-12e9-46a1-ba34-12caf4ae388b\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2023-01-31T22:31:23.5867248Z\"\r\n  },\r\n  \"properties\": {\r\n    \"type\": \"default\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourcegroups/rg-ps8924?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzoyRFBTODkyNC1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzoyRFBTODkyNC1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzoyRFBTODkyNC1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SRzoyRFBTODkyNC1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-GetArcConfig": [
      "ps4620",
      "ps8924"
    ]
  },
  "Variables": {
    "SubscriptionId": "0a363e8c-a728-4970-8108-d104b63cb74f"
  }
}