{
  "Remove-AzBotService+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/youriBotService-rg-erbkmo/providers/Microsoft.BotService/botServices/BotService-u4xkzo?api-version=2022-06-15-preview+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/youriBotService-rg-erbkmo/providers/Microsoft.BotService/botServices/BotService-u4xkzo?api-version=2022-06-15-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "15" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14999" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Remove-AzBotService+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.BotService/botServices?api-version=2022-06-15-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.BotService/botServices?api-version=2022-06-15-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "16" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "d6c414a1-51b8-46f4-84b4-caff1f27129d", "f10e81d1-64bb-4b28-9fe3-cb17161e31a8" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11993" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/youriBotService-rg-erbkmo/providers/Microsoft.BotService/botServices/BotService-32eqdx\",\"name\":\"BotService-32eqdx\",\"type\":\"Microsoft.BotService/botServices\",\"etag\":\"\\\"27007f1b-0000-1800-0000-63734bb30000\\\"\",\"location\":\"global\",\"sku\":{\"name\":\"F0\"},\"kind\":\"bot\",\"tags\":{},\"properties\":{\"displayName\":\"BotService-32eqdx\",\"description\":null,\"iconUrl\":\"https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png\",\"endpoint\":\"\",\"msaAppId\":\"e55b126c-e2e4-4259-a3c0-1101ab7a908a\",\"msaAppTenantId\":null,\"msaAppType\":null,\"msaAppMSIResourceId\":null,\"developerAppInsightKey\":null,\"developerAppInsightsApplicationId\":null,\"luisAppIds\":[],\"endpointVersion\":\"3.0\",\"configuredChannels\":[\"webchat\"],\"enabledChannels\":[\"webchat\",\"directline\"],\"isDeveloperAppInsightsApiKeySet\":false,\"isStreamingSupported\":false,\"schemaTransformationVersion\":\"1.3\",\"publishingCredentials\":null,\"parameters\":null,\"allSettings\":null,\"manifestUrl\":null,\"storageResourceId\":null,\"tenantId\":\"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\"migrationToken\":null,\"isCmekEnabled\":false,\"cmekKeyVaultUrl\":null,\"openWithHint\":null,\"appPasswordHint\":null,\"publicNetworkAccess\":null,\"disableLocalAuth\":false,\"cmekEncryptionStatus\":\"Off\",\"provisioningState\":\"Succeeded\"},\"zones\":[]},{\"id\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/fybot/providers/Microsoft.BotService/botServices/fybot-handle\",\"name\":\"fybot-handle\",\"type\":\"Microsoft.BotService/botServices\",\"etag\":\"\\\"4f003041-0000-1800-0000-6281fec80000\\\"\",\"location\":\"global\",\"sku\":{\"name\":\"F0\"},\"kind\":\"bot\",\"tags\":{},\"properties\":{\"displayName\":\"fybot-handle\",\"description\":null,\"iconUrl\":\"https://docs.botframework.com/static/devportal/client/images/b[...]
