{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?$filter=servicePrincipalNames/any(c:%20c%20eq%20'https:%2F%2FrbacCliTest.onmicrosoft.com%2F722c28d1-3e5c-472a-ab3e-0ff6827aeedc')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "XJbTIKGdEOf1NlwmY8KyGmuB0cYYMB3F3SW245EhNiA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "_svHKiAZ_37TB1xEsOTeQKz_R2_8NlB3gRc6azZTvNTs4SVB9euhAmMsi9Zah8V-UZIpKJmQgwgu5ASJZuL02tA1QjdHiutnL842Du1d_4F4_s1Bh5K8ZLID7TVp66z5.lyD3kDvzGddfbTTfaqLGaFY1Z4dRzIZhyuGMm8LePrc"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "495591"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n      \"objectType\": \"ServicePrincipal\",\r\n      \"objectId\": \"f2dc21ac-702a-4bde-a4ce-146edf751d81\",\r\n      \"deletionTimestamp\": null,\r\n      \"accountEnabled\": true,\r\n      \"addIns\": [],\r\n      \"alternativeNames\": [],\r\n      \"appDisplayName\": \"PowershellTestingApp\",\r\n      \"appId\": \"306d85f9-f885-4bdf-a20e-36d6ee8eddad\",\r\n      \"appOwnerTenantId\": \"1273adef-00a3-4086-a51a-dbcce1857d36\",\r\n      \"appRoleAssignmentRequired\": false,\r\n      \"appRoles\": [],\r\n      \"displayName\": \"PowershellTestingApp\",\r\n      \"errorUrl\": null,\r\n      \"homepage\": \"http://localhost:3000\",\r\n      \"keyCredentials\": [],\r\n      \"logoutUrl\": null,\r\n      \"oauth2Permissions\": [\r\n        {\r\n          \"adminConsentDescription\": \"Allow the application to access PowershellTestingApp on behalf of the signed-in user.\",\r\n          \"adminConsentDisplayName\": \"Access PowershellTestingApp\",\r\n          \"id\": \"41f1ef57-a8c2-4609-8af6-4f59889d27d4\",\r\n          \"isEnabled\": true,\r\n          \"type\": \"User\",\r\n          \"userConsentDescription\": \"Allow the application to access PowershellTestingApp on your behalf.\",\r\n          \"userConsentDisplayName\": \"Access PowershellTestingApp\",\r\n          \"value\": \"user_impersonation\"\r\n        }\r\n      ],\r\n      \"passwordCredentials\": [],\r\n      \"preferredTokenSigningKeyThumbprint\": null,\r\n      \"publisherName\": \"rbacCliTestDirectory\",\r\n      \"replyUrls\": [\r\n        \"https://PowershellTestingApp\"\r\n      ],\r\n      \"samlMetadataUrl\": null,\r\n      \"servicePrincipalNames\": [\r\n        \"https://rbacCliTest.onmicrosoft.com/722c28d1-3e5c-472a-ab3e-0ff6827aeedc\",\r\n        \"306d85f9-f885-4bdf-a20e-36d6ee8eddad\"\r\n      ],\r\n      \"servicePrincipalType\": \"Application\",\r\n      \"signInAudience\": \"AzureADMyOrg\",\r\n      \"tags\": [\r\n        \"WindowsAzureActiveDirectoryIntegratedApp\"\r\n      ],\r\n      \"tokenEncryptionKeyId\": null\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/providers/Microsoft.Authorization/denyAssignments?$filter=principalId%20eq%20'f2dc21ac-702a-4bde-a4ce-146edf751d81'&api-version=2018-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-request-charge": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"denyAssignmentName\": \"AzureAuthzSDK_43AF7D0C-0BF8-407F-96C0-96A29D076431\",\r\n        \"description\": \"Test deny assignment for AzureAuthzSDK\",\r\n        \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n              \"foo/*\"\r\n            ],\r\n            \"notActions\": [\r\n              \"foo/*/read\"\r\n            ],\r\n            \"dataActions\": [\r\n              \"foo/*\"\r\n            ],\r\n            \"notDataActions\": []\r\n          }\r\n        ],\r\n        \"scope\": \"/subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/resourcegroups/AzureAuthzSDK\",\r\n        \"doNotApplyToChildScopes\": false,\r\n        \"principals\": [\r\n          {\r\n            \"id\": \"f8d526a054eb4941ae69ebf4a334d0f0\",\r\n            \"type\": \"User\"\r\n          },\r\n          {\r\n            \"id\": \"f2dc21ac702a4bdea4ce146edf751d81\",\r\n            \"type\": \"ServicePrincipal\"\r\n          }\r\n        ],\r\n        \"excludePrincipals\": [],\r\n        \"isSystemProtected\": true,\r\n        \"createdOn\": \"2018-09-20T19:03:38.8383507Z\",\r\n        \"updatedOn\": \"2018-11-15T21:50:20.4521666Z\",\r\n        \"createdBy\": null,\r\n        \"updatedBy\": null\r\n      },\r\n      \"id\": \"/subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/resourcegroups/AzureAuthzSDK/providers/Microsoft.Authorization/denyAssignments/43af7d0c-0bf8-407f-96c0-96a29d076431\",\r\n      \"type\": \"Microsoft.Authorization/denyAssignments\",\r\n      \"name\": \"43af7d0c-0bf8-407f-96c0-96a29d076431\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"denyAssignmentName\": \"AzureAuthzSDK_94E3D9DA-3700-4113-AAB4-15F6C173D794\",\r\n        \"description\": \"Test deny assignment for AzureAuthzSDK\",\r\n        \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n              \"foo/*\"\r\n            ],\r\n            \"notActions\": [\r\n              \"foo/*/read\"\r\n            ],\r\n            \"dataActions\": [\r\n         [...]
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/getObjectsByObjectIds?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"objectIds\": [\r\n    \"f8d526a054eb4941ae69ebf4a334d0f0\",\r\n    \"f2dc21ac702a4bdea4ce146edf751d81\"\r\n  ],\r\n  \"includeDirectoryObjectReferences\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "uvPTCZ5YaY3P1obgmri12BXUydEZzky/GuuHPXDOJbo="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "A-r_P-HjpMCqd91OetMeTCQKq4TBBs86WHcV3UnHxS5NvTNR5jOSXXmCirxcR7WrKpWpU9t_2SQEVaAU1rPJdCcEs2LmnY17NnqJ7gvpNyzbaRK7nW5U8Jdn26xMBvy5.aLP-F_Eah0b22kTsgFGyDPzcB9T4UeenD9ipgVLDiqg"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "432648"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.User\",\r\n      \"objectType\": \"User\",\r\n      \"objectId\": \"f8d526a0-54eb-4941-ae69-ebf4a334d0f0\",\r\n      \"deletionTimestamp\": null,\r\n      \"accountEnabled\": true,\r\n      \"ageGroup\": null,\r\n      \"assignedLicenses\": [],\r\n      \"assignedPlans\": [],\r\n      \"city\": null,\r\n      \"companyName\": null,\r\n      \"consentProvidedForMinor\": null,\r\n      \"country\": null,\r\n      \"createdDateTime\": \"2015-08-04T22:45:24Z\",\r\n      \"creationType\": null,\r\n      \"department\": null,\r\n      \"dirSyncEnabled\": null,\r\n      \"displayName\": \"test2\",\r\n      \"employeeId\": null,\r\n      \"facsimileTelephoneNumber\": null,\r\n      \"givenName\": \"test\",\r\n      \"immutableId\": null,\r\n      \"isCompromised\": null,\r\n      \"jobTitle\": null,\r\n      \"lastDirSyncTime\": null,\r\n      \"legalAgeGroupClassification\": null,\r\n      \"mail\": null,\r\n      \"mailNickname\": \"test2\",\r\n      \"mobile\": null,\r\n      \"onPremisesDistinguishedName\": null,\r\n      \"onPremisesSecurityIdentifier\": null,\r\n      \"otherMails\": [\r\n        \"shubhamagarwal05@gmail.com\"\r\n      ],\r\n      \"passwordPolicies\": \"None\",\r\n      \"passwordProfile\": null,\r\n      \"physicalDeliveryOfficeName\": null,\r\n      \"postalCode\": null,\r\n      \"preferredLanguage\": \"en-US\",\r\n      \"provisionedPlans\": [],\r\n      \"provisioningErrors\": [],\r\n      \"proxyAddresses\": [],\r\n      \"refreshTokensValidFromDateTime\": \"2017-10-13T19:08:04Z\",\r\n      \"showInAddressList\": null,\r\n      \"signInNames\": [],\r\n      \"sipProxyAddress\": null,\r\n      \"state\": null,\r\n      \"streetAddress\": null,\r\n      \"surname\": \"test2\",\r\n      \"telephoneNumber\": null,\r\n      \"thumbnailPhoto@odata.mediaEditLink\": \"directoryObjects/f8d526a0-54eb-4941-ae69-ebf4a334d0f0/Microsoft.DirectoryServices.User/thumbnailPhoto\",\r\n      \"usageLocation\": null,\r\n      \"userIdentities\": [],\r\n      \"userPrincipalName\": \"test2@rbacCliTest.onmicrosoft.com\",\r\n      \"userState\": null,\r\n      \"userStateChangedOn\": null,\r\n      \"userType\": \"Member\"\r\n    },\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n      \"objectType\": \"ServicePrincipal\",\r\n      \"objectId\": \"f2dc21ac-702a-4bde-a4ce-146edf751d81\",\r\n      \"deletionTimestamp\": null,\r\n      \"accountEnabled\": true,\r\n      \"addIns\": [],\r\n      \"alternativeNames\": [],\r\n      \"appDisplayName\": \"PowershellTestingApp\",\r\n      \"appId\": \"306d85f9-f885-4bdf-a20e-36d6ee8eddad\",\r\n      \"appOwnerTenantId\": \[...]
