{
  "Update-AzStorageDiscoveryWorkspace+[NoContext]+UpdateExpanded+$PATCH+https://management.azure.com/subscriptions/d0fe5891-b68c-45a0-8d80-4d66d57f3859/resourceGroups/storageDiscoveryTestRg/providers/Microsoft.StorageDiscovery/storageDiscoveryWorkspaces/pshtestworkspace1?api-version=2025-09-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/d0fe5891-b68c-45a0-8d80-4d66d57f3859/resourceGroups/storageDiscoveryTestRg/providers/Microsoft.StorageDiscovery/storageDiscoveryWorkspaces/pshtestworkspace1?api-version=2025-09-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"sku\": \"Premium\",\r\n    \"description\": \"updated storage discovery workspace description\",\r\n    \"scopes\": [\r\n      {\r\n        \"displayName\": \"updatedScope\",\r\n        \"resourceTypes\": [ \"Microsoft.Storage/storageAccounts\" ],\r\n        \"tagKeysOnly\": [ \"updatedKey\" ],\r\n        \"tags\": {\r\n          \"updatedTag1\": \"updatedValue1\",\r\n          \"updatedTag2\": \"updatedValue2\"\r\n        }\r\n      }\r\n    ]\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"3e02828b-0000-0200-0000-68c9ec960000\"" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "e213670e-3f5b-4491-a292-8d066d5a2b58" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "799" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/d0fe5891-b68c-45a0-8d80-4d66d57f3859/resourceGroups/storageDiscoveryTestRg/providers/Microsoft.StorageDiscovery/storageDiscoveryWorkspaces/pshtestworkspace1\",\"name\":\"pshtestworkspace1\",\"type\":\"microsoft.storagediscovery/storagediscoveryworkspaces\",\"location\":\"eastus2\",\"tags\":{\"team\":\"Discovery\"},\"systemData\":{\"createdBy\":\"jyunshengfu@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-09-16T23:02:38.8210471Z\",\"lastModifiedBy\":\"jyunshengfu@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2025-09-16T23:02:46.4974751Z\"},\"properties\":{\"sku\":\"Premium\",\"workspaceRoots\":[\"/subscriptions/d0fe5891-b68c-45a0-8d80-4d66d57f3859\"],\"description\":\"updated storage discovery workspace description\",\"scopes\":[{\"displayName\":\"updatedScope\",\"resourceTypes\":[\"Microsoft.Storage/storageAccounts\"],\"tagKeysOnly\":[\"updatedKey\"],\"tags\":{\"updatedTag1\":\"updatedValue1\",\"updatedTag2\":\"updatedValue2\"}}],\"provisioningState\":\"Succeeded\"}}",
    }
  }
}