{
  "Entries": [
    {
      "RequestUri": "/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/providers?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/providers/Microsoft.ApiManagement\",\r\n      \"namespace\": \"Microsoft.ApiManagement\",\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"service\",\r\n          \"locations\": [\r\n            \"East Asia\",\r\n            \"East US\",\r\n            \"North Central US\",\r\n            \"North Europe\",\r\n            \"West Europe\",\r\n            \"West US\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2014-02-14\"\r\n          ]\r\n        }\r\n      ],\r\n      \"registrationState\": \"Registered\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/providers/microsoft.intelligentsystems\",\r\n      \"namespace\": \"microsoft.intelligentsystems\",\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"accounts\",\r\n          \"locations\": [\r\n            \"West US\",\r\n            \"North Central US\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2014-04-28\"\r\n          ]\r\n        }\r\n   [...]
    {
      "RequestUri": "/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530?api-version=2014-04-01-preview",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14964"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourceGroups/onesdk2530\",\r\n  \"name\": \"onesdk2530\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1184"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourceGroups/onesdk2530/resources?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14963"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530/providers/Microsoft.Authorization/permissions?api-version=2014-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"actions\": [\r\n        \"*\"\r\n      ],\r\n      \"notActions\": []\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14931"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530/providers/Microsoft.OperationalInsights/workspaces/AzTestonesdk9858?api-version=2015-03-20",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {},\r\n  \"name\": \"AzTestonesdk9858\",\r\n  \"location\": \"East US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"5cb291a0-fb03-42ef-aca8-dca3757f78dc\",\r\n    \"portalUrl\": \"https://login.int2.microsoftatlanta-int.com/SignIn.aspx?returnUrl=https%3a%2f%2fpreview.int2.microsoftatlanta-int.com%2fMain.aspx%3fcid%3d5cb291a0-fb03-42ef-aca8-dca3757f78dc\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"sku\": {\r\n      \"name\": \"free\"\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530/providers/microsoft.operationalinsights/workspaces/aztestonesdk9858\",\r\n  \"name\": \"AzTestonesdk9858\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\": \"East US\",\r\n  \"tags\": {}\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1169"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530/providers/Microsoft.OperationalInsights/workspaces/AzTestonesdk9858?api-version=2015-03-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-03-20"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"5cb291a0-fb03-42ef-aca8-dca3757f78dc\",\r\n    \"portalUrl\": \"https://login.int2.microsoftatlanta-int.com/SignIn.aspx?returnUrl=https%3a%2f%2fpreview.int2.microsoftatlanta-int.com%2fMain.aspx%3fcid%3d5cb291a0-fb03-42ef-aca8-dca3757f78dc\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"sku\": {\r\n      \"name\": \"free\"\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530/providers/microsoft.operationalinsights/workspaces/aztestonesdk9858\",\r\n  \"name\": \"AzTestonesdk9858\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\": \"East US\",\r\n  \"tags\": {}\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14930"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530/providers/Microsoft.OperationalInsights/workspaces/AzTestonesdk9858/storageInsightConfigs/AzTestonesdk4986?api-version=2015-03-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14928"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530/providers/Microsoft.OperationalInsights/workspaces/AzTestonesdk9858/storageInsightConfigs/AzTestonesdk4986?api-version=2015-03-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"containers\": [\r\n      \"wad-iis-logfiles\"\r\n    ],\r\n    \"tables\": [\r\n      \"WADWindowsEventLogsTable\",\r\n      \"LinuxSyslogVer2v0\"\r\n    ],\r\n    \"storageAccount\": {\r\n      \"id\": \"/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530/providers/microsoft.storage/storageaccounts/AzTestonesdk6082\"\r\n    },\r\n    \"status\": {\r\n      \"state\": \"OK\"\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530/providers/microsoft.operationalinsights/workspaces/aztestonesdk9858/storageinsightconfigs/AzTestonesdk4986\",\r\n  \"name\": \"AzTestonesdk4986\",\r\n  \"type\": \"Microsoft.OperationalInsights/storageinsightconfigs\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14927"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530/providers/Microsoft.OperationalInsights/workspaces/AzTestonesdk9858/storageInsightConfigs/AzTestonesdk4986?api-version=2015-03-20",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"containers\": [\r\n      \"wad-iis-logfiles\"\r\n    ],\r\n    \"tables\": [\r\n      \"WADWindowsEventLogsTable\",\r\n      \"LinuxSyslogVer2v0\"\r\n    ],\r\n    \"storageAccount\": {\r\n      \"id\": \"/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530/providers/microsoft.storage/storageaccounts/AzTestonesdk6082\",\r\n      \"key\": \"fakekey\"\r\n    }\r\n  },\r\n  \"name\": \"AzTestonesdk4986\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"containers\": [\r\n      \"wad-iis-logfiles\"\r\n    ],\r\n    \"tables\": [\r\n      \"WADWindowsEventLogsTable\",\r\n      \"LinuxSyslogVer2v0\"\r\n    ],\r\n    \"storageAccount\": {\r\n      \"id\": \"/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530/providers/microsoft.storage/storageaccounts/AzTestonesdk6082\"\r\n    },\r\n    \"status\": {\r\n      \"state\": \"OK\"\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530/providers/microsoft.operationalinsights/workspaces/aztestonesdk9858/storageinsightconfigs/AzTestonesdk4986\",\r\n  \"name\": \"AzTestonesdk4986\",\r\n  \"type\": \"Microsoft.OperationalInsights/storageinsightconfigs\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1168"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530/providers/Microsoft.OperationalInsights/workspaces/AzTestonesdk9858/storageInsightConfigs/AzTestonesdk4986?api-version=2015-03-20",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"containers\": [\r\n      \"wad-iis-logfiles\"\r\n    ],\r\n    \"tables\": [],\r\n    \"storageAccount\": {\r\n      \"id\": \"/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530/providers/microsoft.storage/storageaccounts/AzTestonesdk6082\"\r\n    }\r\n  },\r\n  \"name\": \"AzTestonesdk4986\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"BadRequest\",\r\n    \"message\": \"The object supplied in the request is invalid\",\r\n    \"target\": \"storageAccount/key\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1164"
        ]
      },
      "StatusCode": 400
    },
[...]
    {
      "RequestUri": "/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530/providers/Microsoft.OperationalInsights/workspaces/AzTestonesdk9858/storageInsightConfigs?api-version=2015-03-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"containers\": [\r\n          \"wad-iis-logfiles\"\r\n        ],\r\n        \"tables\": [\r\n      [...]
[...]
    {
      "RequestUri": "/subscriptions/813a1ab9-e4fe-4340-91c1-0870e79344f7/resourcegroups/onesdk2530/providers/Microsoft.OperationalInsights/workspaces/AzTestonesdk9858/storageInsightConfigs/AzTestonesdk5768?api-version=2015-03-20",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1166"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-StorageInsightCreateUpdateDelete": [
      "onesdk9858",
      "onesdk4986",
      "onesdk6082",
      "onesdk2530",
      "onesdk5768"
    ]
  },
  "Variables": {
    "SubscriptionId": "813a1ab9-e4fe-4340-91c1-0870e79344f7"
  }
}