{
  "Entries": [
    {
      "RequestUri": "/v1.0/users/6d764d35-6b3b-49ea-83f8-5c223b56eac5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ags-diagnostic": [
          "{\"ServerInfo\":{\"DataCenter\":\"Australia Southeast\",\"Slice\":\"E\",\"Ring\":\"3\",\"ScaleUnit\":\"001\",\"RoleInstance\":\"ML1PEPF0001A8EB\"}}"
        ],
        "WWW-Authenticate": [
          "Bearer realm=\"\", authorization_uri=\"https://login.microsoftonline.com/common/oauth2/authorize\", client_id=\"00000003-0000-0000-c000-000000000000\"",
          "PoP realm=\"\", authorization_uri=\"https://login.microsoftonline.com/common/oauth2/authorize\", client_id=\"00000003-0000-0000-c000-000000000000\", nonce=\"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6Ijg2ODc1RDgwQzAyRkExRkNEQUNGMjFFQzE0QUY5MzhFNDI3RTlFREMifQ.eyJ0cyI6MTc1MjEzMDYyMH0.nYsye11w9yCHuxdeTYfeqpx_qp8XYdptyprdmI3jR4thCuDr_PtNUWaWvhKU91QCPnZSG8iKzikdazh5uguD_3jTL274SIkV2f7T5yqM72VmsmOpQVCi63v_nT1Dqgz2jZUbej1u75D4HBVhgy0mRvFQsrXQhMg5j3Z248d7Qft8DKEdEInfkd8N6asRgunFdb6jFmVBIipiwEtQ2jQviaT77KH40Ek4hcBWVkE6a4KCL1d3ikPGyar0KnMXZy70khjH_QCU7uHZsgrO85HW0S1Lf6RVVRnovo7HymJ1RWvFI6I-4CkXNhrGlENdKSZz_DTITmKnYvUQ1uoJSp_oLQ\""
        ],
        "Content-Type": [
          "application/json"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidAuthenticationToken\",\r\n    \"message\": \"IDX14100: JWT is not well formed, there are no dots (.).\\nThe token needs to be in JWS or JWE Compact Serialization Format. (JWS): 'EncodedHeader.EncodedPayload.EncodedSignature'. (JWE): 'EncodedProtectedHeader.EncodedEncryptedKey.EncodedInitializationVector.EncodedCiphertext.EncodedAuthenticationTag'.\",\r\n    \"innerError\": {\r\n      \"date\": \"2025-07-10T06:57:00\",\r\n      \"request-id\": \"76c57f20-9f91-4fa9-bc1f-fcf7ee6799df\",\r\n      \"client-request-id\": \"76c57f20-9f91-4fa9-bc1f-fcf7ee6799df\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 401
    },
    {
      "RequestUri": "/v1.0/servicePrincipals/6d764d35-6b3b-49ea-83f8-5c223b56eac5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ags-diagnostic": [
          "{\"ServerInfo\":{\"DataCenter\":\"Australia Southeast\",\"Slice\":\"E\",\"Ring\":\"3\",\"ScaleUnit\":\"001\",\"RoleInstance\":\"ML1PEPF0001A8EB\"}}"
        ],
        "WWW-Authenticate": [
          "Bearer realm=\"\", authorization_uri=\"https://l[...]
    {
      "RequestUri": "/v1.0/directoryObjects/6d764d35-6b3b-49ea-83f8-5c223b56eac5",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ags-diagnostic": [
          "{\"ServerInfo\":{\"DataCenter\":\"Australia Southeast\",\"Slice\":\"E\",\"Ring\":\"3\",\"ScaleUnit\":\"001\",\"RoleInstance\":\"ML1PEPF0001A8EB\"}}"
        ],
        "WWW-Authenticate": [
          "Bearer realm=\"\", authorization_uri=\"https://lo[...]
    {
      "RequestUri": "//subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/providers/Microsoft.Authorization/roleAssignments/0f7b6fb6-a5f4-4046-83eb-dfd93c5e4b72?api-version=2020-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7\",\r\n    \"principalId\": \"6d764d35-6b3b-49ea-83f8-5c223b56eac5\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "Bearer authorization_uri=\"https://login.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36\", error=\"invalid_token\", error_description=\"The primary access token is invalid.\""
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidAuthenticationToken\",\r\n    \"message\": \"The 'EvolvedSecurityTokenService' access token is invalid.\"\r\n  }\r\n}",
      "StatusCode": 401
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": ""
  }
}