{
  "Entries": [
    {
      "RequestUri": "/395544B0-BF41-429D-921F-E1CA2252FCF4/getObjectsByObjectIds?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"objectIds\": [\r\n    \"77666677-1111-2222-3333-2b4444bd5555\"\r\n  ],\r\n  \"includeDirectoryObjectReferences\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "GjgZ69g3pmjT8umR8Y0VXf/Zj7sT/rYLOTFXNz0SE8s="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "VowhdvTrDzw0pS3bu_SmimLXujZLYd8AYKJHVbFJCDYLIsgnRLr9uoMR_eVlpfV-9cpvVcMC_jgCnHDpeRQOQTkMMpkx_EXtqOQomRwrioTR-B0TXv2n7rp14AW96gGw.1xWdmTljFI1iPm0pX4aGN8q30vSSMV3T2QHvilFoN7I"
        ],
        "Duration": [
          "448445"
        ],
        "x-ms-resource-unit": [
          "3"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/395544B0-BF41-429D-921F-E1CA2252FCF4/$metadata#directoryObjects\",\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f"
  }
}