{
  "PolicyAssignmentVersionCRUD+[NoContext]+[NoScenario]+$GET+https://management.azure.com/subscriptions/edb2c18a-04d6-49e9-bc72-e23852f507ad/providers/Microsoft.Authorization/policyDefinitions/36fd7371-8eb7-4321-9c30-a7100022d048/versions/1.0.0?api-version=2023-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/edb2c18a-04d6-49e9-bc72-e23852f507ad/providers/Microsoft.Authorization/policyDefinitions/36fd7371-8eb7-4321-9c30-a7100022d048/versions/1.0.0?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "575" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11989" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"error\":{\"code\":\"PolicyDefinitionNotFound\",\"message\":\"The policy definition \u002736fd7371-8eb7-4321-9c30-a7100022d048\u0027 could not be found.\"}}",
    }
  },
  "PolicyAssignmentVersionCRUD+[NoContext]+[NoScenario]+$GET+https://management.azure.com/providers/Microsoft.Authorization/policyDefinitions/36fd7371-8eb7-4321-9c30-a7100022d048/versions/1.0.0?api-version=2023-04-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Authorization/policyDefinitions/36fd7371-8eb7-4321-9c30-a7100022d048/versions/1.0.0?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "576" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-reads": [ "11992" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"displayName\":\"Requires resources to not have a specifc tag.\",\"policyType\":\"BuiltIn\",\"mode\":\"Indexed\",\"description\":\"Denies the creation of a resource that contains the given tag.  Does not apply to resource groups.\",\"metadata\":{\"version\":\"1.0.0\",\"category\":\"Tags\"},\"version\":\"1.0.0\",\"parameters\":{\"tagName_v1\":{\"type\":\"String\",\"metadata\":{\"displayName\":\"Tag Name\",\"description\":\"Name of the tag.\"}},\"effect\":{\"type\":\"String\",\"metadata\":{\"displayName\":\"Effect\",\"description\":\"Enable or disable the execution of the policy\"},\"allowedValues\":[\"Audit\",\"Deny\",\"Disabled\"],\"defaultValue\":\"Audit\"}},\"policyRule\":{\"if\":{\"field\":\"[concat(\u0027tags[\u0027, parameters(\u0027tagName_v1\u0027), \u0027]\u0027)]\",\"exists\":\"true\"},\"then\":{\"effect\":\"[parameters(\u0027effect\u0027)]\"}}},\"id\":\"/providers/Microsoft.Authorization/policyDefinitions/36fd7371-8eb7-4321-9c30-a7100022d048/versions/1.0.0\",\"type\":\"Microsoft.Authorization/policyDefinitions/versions\",\"name\":\"1.0.0\"}",
    }
  },
  "PolicyAssignmentVersionCRUD+[NoContext]+[NoScenario]+$GET+https://management.azure.com/subscriptions/edb2c18a-04d6-49e9-bc72-e23852f507ad/providers/Microsoft.Authorization/policyDefinitions/36fd7371-8eb7-4321-9c30-a7100022d048/versions/1.1.1?api-version=2023-04-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/edb2c18a-04d6-49e9-bc72-e23852f507ad/providers/Microsoft.Authorization/policyDefinitions/36fd7371-[...]
