{
  "PolicyDefinitionWithComplexParameters+[NoContext]+make test definition with complex parameters from a file+$PUT+https://management.azure.com/subscriptions/597b2066-8f6f-4236-9c61-6d4e9891eef8/providers/Microsoft.Authorization/policyDefinitions/psPolicyDefinitionWithComplexParameters01?api-version=2023-04-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/597b2066-8f6f-4236-9c61-6d4e9891eef8/providers/Microsoft.Authorization/policyDefinitions/psPolicyDefinitionWithComplexParameters01?api-version=2023-04-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"policyType\": \"Custom\",\r\n    \"mode\": \"Microsoft.Kubernetes.Data\",\r\n    \"displayName\": \"Kubernetes cluster containers should only use allowed images\",\r\n    \"description\": \"Cloned from built-in DP policy: febd0533-8e55-448f-b837-bd0e06f16469\",\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"field\": \"type\",\r\n        \"in\": [ \"Microsoft.Kubernetes/connectedClusters\", \"Microsoft.ContainerService/managedClusters\" ]\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"[parameters(\\u0027effect\\u0027)]\",\r\n        \"details\": {\r\n          \"warn\": \"[parameters(\\u0027warn\\u0027)]\",\r\n          \"templateInfo\": {\r\n            \"sourceType\": \"PublicURL\",\r\n            \"url\": \"https://store.policy.core.windows.net/kubernetes/container-allowed-images/v2/template.yaml\"\r\n          },\r\n          \"apiGroups\": [ \"\" ],\r\n          \"kinds\": [ \"Pod\" ],\r\n          \"excludedNamespaces\": \"[parameters(\\u0027excludedNamespaces\\u0027)]\",\r\n          \"namespaces\": \"[parameters(\\u0027namespaces\\u0027)]\",\r\n          \"labelSelector\": \"[parameters(\\u0027labelSelector\\u0027)]\",\r\n          \"values\": {\r\n            \"imageRegex\": \"[parameters(\\u0027allowedContainerImagesRegex\\u0027)]\",\r\n            \"excludedContainers\": \"[parameters(\\u0027excludedContainers\\u0027)]\"\r\n          }\r\n        }\r\n      }\r\n    },\r\n    \"metadata\": {\r\n      \"version\": \"9.2.0\",\r\n      \"category\": \"Kubernetes\"\r\n    },\r\n    \"parameters\": {\r\n      \"warn\": {\r\n        \"type\": \"Boolean\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Warn\",\r\n          \"description\": \"Whether or not to return warnings back to the user in the kubectl cli\"\r\n        },\r\n        \"allowedValues\": [ true, false ],\r\n        \"defaultValue\": false\r\n      },\r\n      \"effect\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Effect\",\r\n          \"description\": \"\\u0027Audit\\u0027 allows a non-compliant resource to be created, but flags it as non-compliant. \\u0027Deny\\u0027 blocks the resource creation. \\u0027Disable\\u0027 turns off the policy.\",\r\n          \"portalReview\": true\r\n        },\r\n        \"allowedValues\": [ \"audit\", \"Audit\", \"deny\", \"Deny\", \"disabled\", \"Disabled\" ],\r\n        \"defaultValue\": \"Deny\"\r\n      },\r\n      \"excludedNamespaces\": {\r\n        \"type\": \"Array\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Namespace exclusions\",\r\n          \"description\": \"List of Kubernetes namespaces to exclude from policy evaluation. System namespaces \\\"kube-system\\\", \\\"gatekeeper-system\\\" and \\\"azure-[...]
