{
  "PolicySetDefinitionVersionReferencePolicyDefinitionVersion+[NoContext]+[NoScenario]+$GET+https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policyDefinitions/36fd7371-8eb7-4321-9c30-a7100022d048?api-version=2025-03-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policyDefinitions/36fd7371-8eb7-4321-9c30-a7100022d048?api-version=2025-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1241" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"error\":{\"code\":\"PolicyDefinitionNotFound\",\"message\":\"The policy definition \u002736fd7371-8eb7-4321-9c30-a7100022d048\u0027 could not be found.\"}}",
    }
  },
  "PolicySetDefinitionVersionReferencePolicyDefinitionVersion+[NoContext]+[NoScenario]+$GET+https://management.azure.com/providers/Microsoft.Authorization/policyDefinitions/36fd7371-8eb7-4321-9c30-a7100022d048?api-version=2025-03-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Authorization/policyDefinitions/36fd7371-8eb7-4321-9c30-a7100022d048?api-version=2025-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1242" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-reads": [ "2199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"displayName\":\"Requires resources to not have a specific tag. This is a versioning test built-in.\",\"policyType\":\"BuiltIn\",\"mode\":\"Indexed\",\"description\":\"Denies the creation of a resource that contains the given tag. Does not apply to resource groups.\",\"metadata\":{\"version\":\"2.0.1\",\"category\":\"BuiltInPolicyTest\"},\"version\":\"2.0.1\",\"parameters\":{\"tagName\":{\"type\":\"String\",\"metadata\":{\"displayName\":\"Tag Name\",\"description\":\"Name of the tag.\"}},\"effect\":{\"type\":\"String\",\"metadata\":{\"displayName\":\"Effect\",\"description\":\"Enable or disable the execution of the policy\"},\"allowedValues\":[\"Audit\",\"Deny\",\"Disabled\"],\"defaultValue\":\"Audit\"}},\"policyRule\":{\"if\":{\"field\":\"[concat(\u0027tags[\u0027, parameters(\u0027tagName\u0027), \u0027]\u0027)]\",\"exists\":\"true\"},\"then\":{\"effect\":\"[parameters(\u0027effect\u0027)]\"}},\"versions\":[\"2.0.1\",\"2.0.0\",\"1.1.1\",\"1.0.1\",\"1.0.0\"]},\"id\":\"/providers/Microsoft.Authorization/policyDefinitions/36fd7371-8eb7-4321-9c30-a7100022d048\",\"type\":\"Microsoft.Authorization/policyDefinitions\",\"name\":\"36fd7371-8eb7-4321-9c30-a7100022d048\"}",
    }
  },
  "PolicySetDefinitionVersionReferencePolicyDefinitionVersion+[NoContext]+[NoScenario]+$PUT+https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policySetDefinitions/psPolicySetDefinitionVersionReferencePolicyDefinitionVersion01?api-version=2025-03-01+3": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policySetDefinitions/psPolicySetDefinitionVersionReferencePolicyDefinitionVersion01?api-version=2025-03-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"description\": \"Unit test junk: sorry for littering. Please delete me!\",\r\n    \"metadata\": {\r\n      \"testName\": \"testValue\"\r\n    },\r\n    \"parameters\": {\r\n      \"tagName\": {\r\n        \"type\": \"string\"\r\n      }\r\n    },\r\n    \"policyDefinitions\": [\r\n      {\r\n        \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/36fd7371-8eb7-4321-9c30-a7100022d048\",\r\n        \"definitionVersion\": \"1.0.*\",\r\n        \"parameters\": {\r\n          \"tagName_v1\": {\r\n            \"value\": \"[parameters(\\u0027tagName\\u0027)]\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"version\": \"2.0.1\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "799" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"policyType\":\"Custom\",\"description\":\"Unit test junk: sorry for littering. Please delete me!\",\"metadata\":{\"testName\":\"testValue\",\"createdBy\":\"638d92d9-ae3b-4f1d-be91-382dcc631f82\",\"createdOn\":\"2026-01-30T00:28:37.6059935Z\",\"updatedBy\":null,\"updatedOn\":null},\"version\":\"2.0.1\",\"parameters\":{\"tagName\":{\"type\":\"string\"}},\"policyDefinitions\":[{\"policyDefinitionReferenceId\":\"10294428500095118409\",\"policyDefinitionId\":\"/providers/Microsoft.Authorization/policyDefinitions/36fd7371-8eb7-4321-9c30-a7100022d048\",\"definitionVersion\":\"1.0.*\",\"parameters\":{\"tagName_v1\":{\"value\":\"[parameters(\u0027tagName\u0027)]\"}}}],\"versions\":[\"2.0.1\"]},\"id\":\"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policySetDefinitions/psPolicySetDefinitionVersionReferencePolicyDefinitionVersion01\",\"type\":\"Microsoft.Authorization/policySetDefinitions\",\"name\":\"psPolicySetDefinitionVersionReferencePolicyDefinitionVersion01\",\"systemData\":{\"createdBy\":\"zhaocelina@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2026-01-30T00:28:37.6119811Z\",\"lastModifiedBy\":\"zhaocelina@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2026-01-30T00:28:37.6119811Z\"}}",
    }
  },
  "PolicySetDefinitionVersionReferencePolicyDefinitionVersion+[NoContext]+Make and validate a policy set definition with version reference+$GET+https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policySetDefinitions/psPolicySetDefinitionVersionReferencePolicyDefinitionVersion01?api-version=2025-03-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.a[...]
