{
  "PolicySetDefinitionWithManyParameters+[NoContext]+make policy set definition with many parameters+$PUT+https://management.azure.com/subscriptions/edb2c18a-04d6-49e9-bc72-e23852f507ad/providers/Microsoft.Authorization/policySetDefinitions/psPolicySetDefinitionWithManyParameters01?api-version=2023-04-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/edb2c18a-04d6-49e9-bc72-e23852f507ad/providers/Microsoft.Authorization/policySetDefinitions/psPolicySetDefinitionWithManyParameters01?api-version=2023-04-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"displayName\": \"Some display name\",\r\n    \"description\": \"Unit test junk: sorry for littering. Please delete me!\",\r\n    \"metadata\": {\r\n      \"category\": \"ScenarioTest\",\r\n      \"version\": \"1.0.0\"\r\n    },\r\n    \"parameters\": {\r\n      \"appGwWaf\": {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"Audit\",\r\n        \"allowedValues\": [ \"Audit\", \"Deny\", \"Disabled\" ]\r\n      },\r\n      \"vnetModifyDdos\": {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"Modify\"\r\n      },\r\n      \"ddosPlanResourceId\": {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"\"\r\n      },\r\n      \"wafMode\": {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"Audit\",\r\n        \"allowedValues\": [ \"Audit\", \"Deny\", \"Disabled\" ]\r\n      },\r\n      \"wafModeRequirement\": {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"Prevention\"\r\n      },\r\n      \"wafFwRules\": {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"Audit\",\r\n        \"allowedValues\": [ \"Audit\", \"Deny\", \"Disabled\" ]\r\n      },\r\n      \"wafModeAppGw\": {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"Audit\",\r\n        \"allowedValues\": [ \"Audit\", \"Deny\", \"Disabled\" ]\r\n      },\r\n      \"wafModeAppGwRequirement\": {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"Prevention\"\r\n      },\r\n      \"afwEnbaleTlsForAllAppRules\": {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"Audit\",\r\n        \"allowedValues\": [ \"Audit\", \"Deny\", \"Disabled\" ]\r\n      },\r\n      \"afwEnableTlsInspection\": {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"Audit\",\r\n        \"allowedValues\": [ \"Audit\", \"Deny\", \"Disabled\" ]\r\n      },\r\n      \"afwEmptyIDPSBypassList\": {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"Audit\",\r\n        \"allowedValues\": [ \"Audit\", \"Deny\", \"Disabled\" ]\r\n      },\r\n      \"afwEnableAllIDPSSignatureRules\": {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"Audit\",\r\n        \"allowedValues\": [ \"Audit\", \"Deny\", \"Disabled\" ]\r\n      },\r\n      \"afwEnableIDPS\": {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"Audit\",\r\n        \"allowedValues\": [ \"Audit\", \"Deny\", \"Disabled\" ]\r\n      },\r\n      \"wafAfdEnabled\": {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"Audit\",\r\n        \"allowedValues\": [ \"Audit\", \"Deny\", \"Disabled\" ]\r\n      },\r\n      \"vpnAzureAD\": {\r\n        \"type\": \"string\",\r\n        \"defaultValue\": \"Audit\",\r\n        \"allowedValues\": [ \"Audit\", \"Deny\", \"Disabled\" ]\r\n      }\r\n    },\r\n    \"policyDefinitions\": [\r\n      {\r\n        \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/35f9c03a-cc27-418e-9c0c-539ff999d010\",\r\n        \"policyDefinitionReferenceId\": \"Deny-Nsg-GW-subnet\",\r\n        \"groupNames\": [ ]\r\n      },\r\n      {\r\n        \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/21a6bc25-125e-4d13-b82d-2e19b7208ab7\",\r\n        \"parameters\": {\r\n          \"effect\": {\r\n            \"value\": \"[parameters(\\u0027vpnAzureAD\\u0027)]\"\r\n          }\r\n        },\r\n        \"policyDefinitionReferenceId\": \"Deny-VPN-AzureAD\",\r\n        \"groupNames\": [ ]\r\n      },\r\n      {\r\n        \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/055aa869-bc98-4af8-bafc-23f1ab6ffe2c\",\r\n        \"parameters\": {\r\n          \"effect\": {\r\n            \"value\": \"[parameters(\\u0027wafAfdEnabled\\u0027)]\"\r\n          }\r\n        },\r\n        \"policyD[...]
