{
  "RemovePolicyDefinitionVersion+[NoContext]+Remove-AzPolicyDefinition -Name -Version -Force+$DELETE+https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policyDefinitions/someName/versions/2.0.1?api-version=2026-01-01-preview+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policyDefinitions/someName/versions/2.0.1?api-version=2026-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "718" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-deletes": [ "799" ],
        "x-ms-ratelimit-remaining-subscription-global-deletes": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"error\":{\"code\":\"PolicyDefinitionNotFound\",\"message\":\"The policy definition \u0027someName\u0027 could not be found.\"}}",
    }
  },
  "RemovePolicyDefinitionVersion+[NoContext]+Remove-AzPolicyDefinition -Name -Version -Force -ManagementGroupName+$DELETE+https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/someName/versions/2.0.1?api-version=2026-01-01-preview+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.Authorization/policyDefinitions/someName/versions/2.0.1?api-version=2026-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "719" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-deletes": [ "799" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"error\":{\"code\":\"PolicyDefinitionNotFound\",\"message\":\"The policy definition \u0027someName\u0027 could not be found.\"}}",
    }
  },
  "RemovePolicyDefinitionVersion+[NoContext]+Remove-AzPolicyDefinition -Name -Version -Force -SubscriptionId+$DELETE+https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/polic[...]
