{
  "UpdatePolicyDefinitionVersion+[NoContext]+Update-AzPolicyDefinition -Name -Policy -ManagementGroupName -Version+$GET+https://management.azure.com/providers/Microsoft.Management/managementGroups/someManagementGroup/providers/Microsoft.Authorization/policyDefinitions/someName?api-version=2025-03-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/someManagementGroup/providers/Microsoft.Authorization/policyDefinitions/someName?api-version=2025-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "540" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-reads": [ "2199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"error\":{\"code\":\"PolicyDefinitionNotFound\",\"message\":\"The policy definition \u0027someName\u0027 could not be found.\"}}",
    }
  },
  "UpdatePolicyDefinitionVersion+[NoContext]+Update-AzPolicyDefinition -Name -Policy -SubscriptionId -Version+$GET+https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policyDefinitions/someName?api-version=2025-03-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21[...]
