{
  "UpdatePolicySetDefinitionVersion+[NoContext]+Update-AzPolicySetDefinition -Name -PolicyDefinition -Version+$GET+https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policySetDefinitions/someName?api-version=2026-01-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policySetDefinitions/someName?api-version=2026-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "824" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"error\":{\"code\":\"PolicySetDefinitionNotFound\",\"message\":\"The policy set definition \u0027someName\u0027 could not be found.\"}}",
    }
  },
  "UpdatePolicySetDefinitionVersion+[NoContext]+Update-AzPolicySetDefinition -Name -PolicyDefinition -Version+$GET+https://management.azure.com/providers/Microsoft.Authorization/policySetDefinitions/someName?api-version=2026-01-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Authorization/policySetDefinitions/someName?api-version=2026-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "825" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-reads": [ "2199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"error\":{\"code\":\"PolicySetDefinitionNotFound\",\"message\":\"The policy set definition \u0027someName\u0027 could not be found.\"}}",
    }
  },
  "UpdatePolicySetDefinitionVersion+[NoContext]+Update-AzPolicySetDefinition -Name -PolicyDefinition -ManagementGroupName -Version+$GET+https://management.azure.com/providers/Microsoft.Management/managementGroups/someManagementG[...]
