{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resources?$filter=resourceType%20eq%20'Microsoft.Batch%2FbatchAccounts'&api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-centralus/providers/Microsoft.Batch/batchAccounts/jaschneibatch2\",\r\n      \"name\": \"jaschneibatch2\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"centralus\",\r\n      \"tags\": {\r\n        \"tagname\": \"tagvalue\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/Default-AzureBatch-WestUS/providers/Microsoft.Batch/batchAccounts/jaschneibatch\",\r\n      \"name\": \"jaschneibatch\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"westus\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/file-tests/providers/Microsoft.Batch/batchAccounts/filetests\",\r\n      \"name\": \"filetests\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"eastus\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31997"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/file-tests/providers/Microsoft.Batch/batchAccounts/filetests?api-version=2014-05-01-privatepreview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01-privatepreview"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"filetests\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"accountEndpoint\": \"filetests.batch.core.windows.net\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/file-tests/providers/Microsoft.Batch/batchAccounts/filetests\",\r\n  \"type\": \"Microsoft.Batch/batchAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Mon, 16 Mar 2015 18:14:40 GMT"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31995"
        ],
        "ETag": [
          "0x8D22E2C3431B271"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/file-tests/providers/Microsoft.Batch/batchAccounts/filetests/listKeys?api-version=2014-05-01-privatepreview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01-privatepreview"
        ]
      },
      "ResponseBody": "{\r\n  \"accountName\": \"filetests\",\r\n  \"primary\": \"gs6pQ+s1o6fhgUkmhoPWOR2ulrziKOTOCAsNEPaS3YudZqQdsz5srX2xMr3BVAMyeznOFeHEfWn6j03Rsf9dzw==\",\r\n  \"secondary\": \"25FU/EyZDPgajbyq5nSjTwY29dIMn+ilBl/v9lxnObv4r8cxFto4iiTxNSCjyJEeeoWzvTxL9VXQpNc0Z+ce8A==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/workitems?api-version=2014-10-01.1.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"odata.metadata\": \"https://batch.core.windows.net/$metadata#workitems/@Element\",\r\n  \"name\": \"testListTaskFileFilterWI\",\r\n  \"jobExecutionEnvironment\": {\r\n    \"poolName\": \"testPool\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json;odata=minimalmetadata"
        ],
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Mon, 16 Mar 2015 18:14:40 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Mon, 16 Mar 2015 18:14:39 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://filetests.batch.core.windows.net/workitems/testListTaskFileFilterWI"
        ],
        "ETag": [
          "0x8D22E2C33B84885"
        ],
        "Location": [
          "https://filetests.batch.core.windows.net/workitems/testListTaskFileFilterWI"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/workitems/testListTaskFileFilterWI?api-version=2014-10-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Mon, 16 Mar 2015 18:14:41 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://filetests.batch.core.windows.net/$metadata#workitems/@Element\",\r\n  \"name\": \"testListTaskFileFilterWI\",\r\n  \"url\": \"https://filetests.batch.core.windows.net/workitems/testListTaskFileFilterWI\",\r\n  \"eTag\": \"0x8D22E2C33B84885\",\r\n  \"lastModified\": \"2015-03-16T18:14:39.3815173Z\",\r\n  \"creationTime\": \"2015-03-16T18:14:39.3815173Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2015-03-16T18:14:39.3815173Z\",\r\n  \"jobExecutionEnvironment\": {\r\n    \"poolName\": \"testPool\"\r\n  },\r\n  \"executionInfo\": {\r\n    \"recentJob\": {\r\n      \"url\": \"https://filetests.batch.core.windows.net/workitems/testListTaskFileFilterWI/jobs/job-0000000001\",\r\n      \"name\": \"job-0000000001\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Mon, 16 Mar 2015 18:14:39 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D22E2C33B84885"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/workitems/testListTaskFileFilterWI/jobs/job-0000000001/tasks?api-version=2014-10-01.1.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"odata.metadata\": \"https://batch.core.windows.net/$metadata#tasks/@Element\",\r\n  \"name\": \"testTask\",\r\n  \"commandLine\": \"cmd /c dir /s\",\r\n  \"runElevated\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json;odata=minimalmetadata"
        ],
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Mon, 16 Mar 2015 18:14:42 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Mon, 16 Mar 2015 18:14:40 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://filetests.batch.core.windows.net/workitems/testListTaskFileFilterWI/jobs/job-0000000001/tasks/testTask"
        ],
        "ETag": [
          "0x8D22E2C34A26835"
        ],
        "Location": [
          "https://filetests.batch.core.windows.net/workitems/testListTaskFileFilterWI/jobs/job-0000000001/tasks/testTask"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/workitems/testListTaskFileFilterWI/jobs/job-0000000001/tasks/testTask?api-version=2014-10-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Mon, 16 Mar 2015 18:14:42 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://filetests.batch.core.windows.net/$metadata#tasks/@Element\",\r\n  \"name\": \"testTask\",\r\n  \"url\": \"https://filetests.batch.core.windows.net/workitems/testListTaskFileFilterWI/jobs/job-0000000001/tasks/testTask\",\r\n  \"eTag\": \"0x8D22E2C34A26835\",\r\n  \"creationTime\": \"2015-03-16T18:14:40.9158709Z\",\r\n  \"lastModified\": \"2015-03-16T18:14:40.9158709Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2015-03-16T18:14:40.9158709Z\",\r\n  \"commandLine\": \"cmd /c dir /s\",\r\n  \"runElevated\": false,\r\n  \"taskConstraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"retentionTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"executionInfo\": {\r\n    \"retryCount\": 0,\r\n    \"requeueCount\": 0\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Mon, 16 Mar 2015 18:14:40 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D22E2C34A26835"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/workitems/testListTaskFileFilterWI/jobs/job-0000000001/tasks/testTask?api-version=2014-10-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Mon, 16 Mar 2015 18:15:12 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://filetests.batch.core.windows.net/$metadata#tasks/@Element\",\r\n  \"name\": \"testTask\",\r\n  \"url\": \"https://filetests.batch.core.windows.net/workitems/testListTaskFileFilterWI/jobs/job-0000000001/tasks/testTask\",\r\n  \"eTag\": \"0x8D22E2C34A26835\",\r\n  \"creationTime\": \"2015-03-16T18:14:40.9158709Z\",\r\n  \"lastModified\": \"2015-03-16T18:14:40.9158709Z\",\r\n  \"state\": \"completed\",\r\n  \"stateTransitionTime\": \"2015-03-16T18:14:43.5598669Z\",\r\n  \"previousState\": \"running\",\r\n  \"previousStateTransitionTime\": \"2015-03-16T18:14:43.4708787Z\",\r\n  \"commandLine\": \"cmd /c dir /s\",\r\n  \"runElevated\": false,\r\n  \"taskConstraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"retentionTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"executionInfo\": {\r\n    \"startTime\": \"2015-03-16T18:14:43.4708787Z\",\r\n    \"endTime\": \"2015-03-16T18:14:43.5598669Z\",\r\n    \"exitCode\": 0,\r\n    \"retryCount\": 0,\r\n    \"requeueCount\": 0\r\n  },\r\n  \"tvmInfo\": {\r\n    \"affinityId\": \"TVM:tvm-3657382398_1-20150313t235640z\",\r\n    \"tvmUrl\": \"https://filetests.batch.core.windows.net/pools/testPool/tvms/tvm-3657382398_1-20150313t235640z\",\r\n    \"poolName\": \"testPool\",\r\n    \"tvmName\": \"tvm-3657382398_1-20150313t235640z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Mon, 16 Mar 2015 18:14:40 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D22E2C34A26835"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/workitems/testListTaskFileFilterWI/jobs/job-0000000001/tasks?api-version=2014-10-01.1.0&$select=name%2Cstate&$filter=name%20eq%20'testTask'",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Mon, 16 Mar 2015 18:14:43 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://filetests.batch.core.windows.net/$metadata#tasks\",\r\n  \"value\": [\r\n    {\r\n      \"name\": \"testTask\",\r\n      \"state\": \"active\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/workitems/testListTaskFileFilterWI/jobs/job-0000000001/tasks/testTask/files?api-version=2014-10-01.1.0&recursive=False&$filter=startswith(name%2C'std')",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Mon, 16 Mar 2015 18:14:48 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://filetests.batch.core.windows.net/$metadata#files\",\r\n  \"value\": [\r\n    {\r\n      \"name\": \"stderr.txt\",\r\n      \"url\": \"https://filetests.batch.core.windows.net/workitems/testListTaskFileFilterWI/jobs/job-0000000001/tasks/testTask/files/stderr.txt\",\r\n      \"isDirectory\": false,\r\n      \"properties\": {\r\n        \"creationTime\": \"2015-03-16T18:14:43.4798735Z\",\r\n        \"lastModified\": \"2015-03-16T18:14:43.4798735Z\",\r\n        \"contentLength\": \"0\",\r\n        \"contentType\": \"application/octet-stream\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"stdout.txt\",\r\n      \"url\": \"https://filetests.batch.core.windows.net/workitems/testListTaskFileFilterWI/jobs/job-0000000001/tasks/testTask/files/stdout.txt\",\r\n      \"isDirectory\": false,\r\n      \"properties\": {\r\n        \"creationTime\": \"2015-03-16T18:14:43.4798735Z\",\r\n        \"lastModified\": \"2015-03-16T18:14:43.5428711Z\",\r\n        \"contentLength\": \"425\",\r\n        \"contentType\": \"application/octet-stream\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/workitems/testListTaskFileFilterWI?api-version=2014-10-01.1.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Mon, 16 Mar 2015 18:15:13 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "6368ed38-3570-481f-b4fa-1d0a6e8d3f3b"
  }
}