{
  "Entries": [
    {
      "RequestUri": "/pools?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 22 Mar 2024 22:41:48 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"id\": \"remotedesktopprotocolfilepool\",\r\n  \"vmSize\": \"STANDARD_D2S_V3\",\r\n  \"virtualMachineConfiguration\": {\r\n    \"imageReference\": {\r\n      \"publisher\": \"canonical\",\r\n      \"offer\": \"0001-com-ubuntu-server-focal\",\r\n      \"sku\": \"20_04-lts\"\r\n    },\r\n    \"nodeAgentSKUId\": \"batch.node.ubuntu 20.04\",\r\n    \"nodePlacementConfiguration\": {\r\n      \"policy\": \"zonal\"\r\n    }\r\n  },\r\n  \"targetDedicatedNodes\": 2,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableInterNodeCommunication\": false,\r\n  \"taskSlotsPerNode\": 1,\r\n  \"targetNodeCommunicationMode\": \"default\"\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "0x8DC4AC142CC3E39"
        ],
        "Location": [
          "https://billstestba24326.uksouth.batch.azure.com/pools/remotedesktopprotocolfilepool"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://billstestba24326.uksouth.batch.azure.com/pools/remotedesktopprotocolfilepool"
        ],
        "Last-Modified": [
          "Fri, 22 Mar 2024 22:41:48 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/pools/remotedesktopprotocolfilepool?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 22 Mar 2024 22:41:48 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "0x8DC4AC142CC3E39"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Fri, 22 Mar 2024 22:41:48 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://billstestba24326.uksouth.batch.azure.com/$metadata#pools/@Element\",\r\n  \"id\": \"remotedesktopprotocolfilepool\",\r\n  \"url\": \"https://billstestba24326.uksouth.batch.azure.com/pools/remotedesktopprotocolfilepool\",\r\n  \"eTag\": \"0x8DC4AC142CC3E39\",\r\n  \"lastModified\": \"2024-03-22T22:41:48.9592889Z\",\r\n  \"creationTime\": \"2024-03-22T22:41:48.9592875Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2024-03-22T22:41:48.9592875Z\",\r\n  \"allocationState\": \"resizing\",\r\n  \"allocationStateTransitionTime\": \"2024-03-22T22:41:48.9592889Z\",\r\n  \"vmSize\": \"standard_d2s_v3\",\r\n  \"resizeTimeout\": \"PT15M\",\r\n  \"currentDedicatedNodes\": 0,\r\n  \"targetDedicatedNodes\": 2,\r\n  \"currentLowPriorityNodes\": 0,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableAutoScale\": false,\r\n  \"enableInterNodeCommunication\": false,\r\n  \"taskSlotsPerNode\": 1,\r\n  \"taskSchedulingPolicy\": {\r\n    \"nodeFillType\": \"Spread\"\r\n  },\r\n  \"virtualMachineConfiguration\": {\r\n    \"imageReference\": {\r\n      \"publisher\": \"canonical\",\r\n      \"offer\": \"0001-com-ubuntu-server-focal\",\r\n      \"sku\": \"20_04-lts\",\r\n      \"version\": \"latest\"\r\n    },\r\n    \"nodeAgentSKUId\": \"batch.node.ubuntu 20.04\",\r\n    \"nodePlacementConfiguration\": {\r\n      \"policy\": \"Zonal\"\r\n    }\r\n  },\r\n  \"targetNodeCommunicationMode\": \"default\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/remotedesktopprotocolfilepool/nodes?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 22 Mar 2024 22:42:22 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://billstestba24326.uksouth.batch.azure.com/$metadata#nodes\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"tvmps_2a312c8d1b8a16865f7fa44009fb5793769932bc146fe3124cdb6eed11355d4e_d\",\r\n      \"url\": \"https://billstestba24326.uksouth.batch.azure.com/pools/remotedesktopprotocolfilepool/nodes/tvmps_2a312c8d1b8a16865f7fa44009fb5793769932bc146fe3124cdb6eed11355d4e_d\",\r\n      \"state\": \"starting\",\r\n      \"schedulingState\": \"enabled\",\r\n      \"stateTransitionTime\": \"2024-03-22T22:42:17.1052946Z\",\r\n      \"allocationTime\": \"2024-03-22T22:42:16.0426006Z\",\r\n      \"ipAddress\": \"10.0.0.4\",\r\n      \"affinityId\": \"TVM:tvmps_2a312c8d1b8a16865f7fa44009fb5793769932bc146fe3124cdb6eed11355d4e_d\",\r\n      \"vmSize\": \"standard_d2s_v3\",\r\n      \"totalTasksRun\": 0,\r\n      \"totalTasksSucceeded\": 0,\r\n      \"runningTasksCount\": 0,\r\n      \"runningTaskSlotsCount\": 0,\r\n      \"isDedicated\": true,\r\n      \"endpointConfiguration\": {\r\n        \"inboundEndpoints\": [\r\n          {\r\n            \"name\": \"SSHRule.0\",\r\n            \"protocol\": \"tcp\",\r\n            \"publicIPAddress\": \"172.165.65.239\",\r\n            \"publicFQDN\": \"dnsfc9427fa-4d7b-43e7-8bed-83d8133fcac9-azurebatch-cloudservice.uksouth.cloudapp.azure.com\",\r\n            \"frontendPort\": 50000,\r\n            \"backendPort\": 22\r\n          }\r\n        ]\r\n      },\r\n      \"virtualMachineInfo\": {\r\n        \"imageReference\": {\r\n          \"publisher\": \"canonical\",\r\n          \"offer\": \"0001-com-ubuntu-server-focal\",\r\n          \"sku\": \"20_04-lts\",\r\n          \"version\": \"latest\",\r\n          \"exactVersion\": \"20.04.202403190\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"tvmps_f515ac6d7e873bb9505a66bb5423b3ea1396c354a16ab85aaee181c62a6bbc38_d\",\r\n      \"url\": \"https://billstestba24326.uksouth.batch.azure.com/pools/remotedesktopprotocolfilepool/nodes/tvmps_f515ac6d7e873bb9505a66bb5423b3ea1396c354a16ab85aaee181c62a6bbc38_d\",\r\n      \"state\": \"starting\",\r\n      \"schedulingState\": \"enabled\",\r\n      \"stateTransitionTime\": \"2024-03-22T22:42:17.1052946Z\",\r\n      [...]
    {
      "RequestUri": "/pools/remotedesktopprotocolfilepool/nodes/tvmps_2a312c8d1b8a16865f7fa44009fb5793769932bc146fe3124cdb6eed11355d4e_d?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 22 Mar 2024 22:42:23 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"[...]
    {
      "RequestUri": "/pools/remotedesktopprotocolfilepool/nodes/tvmps_2a312c8d1b8a16865f7fa44009fb5793769932bc146fe3124cdb6eed11355d4e_d/rdp?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 22 Mar 2024 22:42:23 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://billstestba24326.uksouth.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\r\n  \"code\": \"OperationNotValidOnNode\",\r\n  \"message\": {\r\n    \"lang\": \"en-US\",\r\n    \"value\": \"The specified operation is not valid on the node.\\nRequestId:4d01ed32-f7c9-45f3-aeca-15d4859d1d35\\nTime:2024-03-22T22:42:24.3138437Z\"\r\n  },\r\n  \"values\": [\r\n    {\r\n      \"key\": \"Reason\",\r\n      \"value\": \"Operation rdp can be invoked only on pools created with cloudServiceConfiguration\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 409
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "6602ac9a-5dad-41bd-a792-592c704b6a31",
    "AZURE_BATCH_ACCOUNT": "billstestba24326",
    "AZURE_BATCH_ENDPOINT": "https://billstestba24326.uksouth.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "automation"
  }
}