{
  "Entries": [
    {
      "RequestUri": "/subscriptions%2F658c8950-e79d-4704-a903-1df66ba90258/providers/Microsoft.Advisor/recommendations/4fa2ff4f-dc90-9876-0723-1360fa9f4bd7?api-version=2017-04-19",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "598"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/658c8950-e79d-4704-a903-1df66ba90258/resourceGroups/testing/providers/Microsoft.Storage/storageAccounts/fontcjk/providers/Microsoft.Advisor/recommendations/4fa2ff4f-dc90-9876-0723-1360fa9f4bd7\",\r\n  \"name\": \"4fa2ff4f-dc90-9876-0723-1360fa9f4bd7\",\r\n  \"properties\": {\r\n    \"description\": \"After enabling Soft Delete, deleted data transitions to a soft deleted state instead of being permanently deleted. When data is overwritten, a soft deleted snapshot is generated to save the state of the overwritten data. You can configure the amount of time soft deleted data is recoverable before it permanently expires.\",\r\n    \"label\": \"Enable Soft Delete\",\r\n    \"learnMoreLink\": \"https://aka.ms/softdelete\",\r\n    \"potentialBenefits\": \"Save and recover your data when blobs or blob snapshots are accidentally overwritten or deleted\",\r\n    \"category\": \"HighAvailability\",\r\n    \"impact\": \"Medium\",\r\n    \"impactedField\": \"Microsoft.Storage/storageAccounts\",\r\n    \"impactedValue\": \"fontcjk\",\r\n    \"lastUpdated\": \"2018-12-13T14:37:43.9248722Z\",\r\n    \"recommendationTypeId\": \"42dbf883-9e4b-4f84-9da4-232b87c4b5e9\",\r\n    \"risk\": \"Error\",\r\n    \"shortDescription\": {\r\n      \"problem\": \"Enable Soft Delete to protect your blob data\",\r\n      \"solution\": \"Enable Soft Delete to protect your blob data\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Advisor/recommendations\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions%2F658c8950-e79d-4704-a903-1df66ba90258%2FresourceGroups%2Ftesting%2Fproviders%2FMicrosoft.Storage%2FstorageAccounts%2Ffontcjk/providers/Microsoft.Advisor/recommendations/4fa2ff4f-dc90-9876-0723-1360fa9f4bd7/suppressions/HardcodedSuppressionName?api-version=2017-04-19",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ttl\": \"30\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"suppressionId\": \"23f2ae3d-f99a-6935-2cfb-1e8ffd82ede5\",\r\n    \"ttl\": \"30\",\r\n    \"expirationTimeStamp\": \"2019-01-12T16:53:34.1021113Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/658c8950-e79d-4704-a903-1df66ba90258/providers/Microsoft.Advisor/suppressions?api-version=2017-04-19",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "597"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/658c8950-e79d-4704-a903-1df66ba90258/resourcegroups/testing/providers/microsoft.storage/storageaccounts/fontcjk/providers/Microsoft.Advisor/recommendations/b0569f30-0351-b3ee-cce6-7a49ae76a06b/suppressions/HardcodedSuppressionName\",\r\n      \"name\": \"HardcodedSuppressionName\",\r\n      \"type\": \"Microsoft.Advisor/suppressions\",\r\n      \"properties\": {\r\n        \"suppressionId\": \"d58d5271-8bc5-9709-20bf-b1b150c8193b\",\r\n        \"ttl\[...]
