{
  "Entries": [
    {
      "RequestUri": "/Subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backupseadev01/BackupVault/backuprn/containers?api-version=2014-09-01&dummy=%26ContainerType%3DIaasVMContainer%26FriendlyName%3Ddev01Testing",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "{\r\n  \"Objects\": [\r\n    {\r\n      \"FriendlyName\": \"dev01Testing\",\r\n      \"SubscriptionId\": \"f5303a0b-fae4-4cdb-b44d-0e4c032dde26\",\r\n      \"ContainerType\": \"IaasVMContainer\",\r\n      \"ParentContainerName\": \"dev01Testing\",\r\n      \"ParentContainerFriendlyName\": \"dev01Testing\",\r\n      \"RegistrationStatus\": \"Registered\",\r\n      \"HealthStatus\": \"Healthy\",\r\n      \"PropertyBag\": null,\r\n      \"InstanceId\": null,\r\n      \"Name\": \"iaasvmcontainer;dev01testing;dev01testing\",\r\n      \"OperationInProgress\": false\r\n    }\r\n  ],\r\n  \"ResultCount\": 1,\r\n  \"Skiptoken\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backupseadev01/BackupVault/backuprn/containers/register?api-version=2014-09-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"ContainerUniqueNameList\": [\r\n    \"iaasvmcontainer;dev01testing;dev01testing\"\r\n  ],\r\n  \"ContainerType\": \"IaasVMContainer\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "\"4a6fddd3-bdfc-482e-b7db-446cf9d729bc\"",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "f5303a0b-fae4-4cdb-b44d-0e4c032dde26"
  }
}