{
  "Entries": [
    {
      "RequestUri": "/Subscriptions/04cf684a-d41f-4550-9f70-7708a3a2283b/resourceGroups/phaniktRSV/providers/Microsoft.RecoveryServices/vaults?api-version=2015-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"westus\",\r\n      \"name\": \"phaniktRs1\",\r\n      \"etag\": \"5ac5016f-e720-4fbb-84df-7726c1b12e95\",\r\n      \"tags\": null,\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/04cf684a-d41f-4550-9f70-7708a3a2283b/resourceGroups/phaniktRSV/providers/Microsoft.RecoveryServices/vaults/phaniktRs1\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"RS0\",\r\n        \"tier\": \"Standard\",\r\n        \"size\": null,\r\n        \"family\": null,\r\n        \"capacity\": null\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14584"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/04cf684a-d41f-4550-9f70-7708a3a2283b/resourceGroups/phaniktRSV/providers/Microsoft.RecoveryServices/vaults/phaniktRs1?api-version=2015-08-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-01-01"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"westus\",\r\n  \"name\": \"phaniktRs1\",\r\n  \"etag\": \"5ac5016f-e720-4fbb-84df-7726c1b12e95\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/04cf684a-d41f-4550-9f70-7708a3a2283b/resourceGroups/phaniktRSV/providers/Microsoft.RecoveryServices/vaults/phaniktRs1\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n  \"sku\": {\r\n    \"name\": \"RS0\",\r\n    \"tier\": \"Standard\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14726"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/04cf684a-d41f-4550-9f70-7708a3a2283b/resourceGroups/phaniktRSV/providers/Microsoft.RecoveryServices/vaults/phaniktRs1/backupJobs?api-version=2015-03-15&$filter=startTime%20eq%20'2016-03-21%2006:30:00%20AM'%20and%20endTime%20eq%20'2016-03-22%2006:30:00%20AM'",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/Subscriptions/04cf684a-d41f-4550-9f70-7708a3a2283b/resourceGroups/phaniktRSV/providers/Microsoft.RecoveryServices/vaults/phaniktRs1/backupJobs/a5e97e69-50d8-4861-886d-646522b81f52\",\r\n      \"name\": \"a5e97e69-50d8-4861-886d-646522b81f52\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupJobs\",\r\n      \"location\": null,\r\n      \"tags\": null,\r\n      \"eTag\": null,\r\n      \"properties\": {\r\n        \"jobType\": \"AzureIaaSVMJob\",\r\n        \"duration\": \"00:00:00.3735779\",\r\n        \"actionsInfo\": [\r\n          1\r\n        ],\r\n        \"errorDetails\": [\r\n          {\r\n            \"errorCode\": 400001,\r\n            \"errorTitle\": \"\",\r\n            \"errorString\": \"Command execution failed.\",\r\n            \"recommendations\": [\r\n              \"Another operation is currently in progress on this item. Please wait until the previous operation is completed, and then retry.\"\r\n            ]\r\n          }\r\n        ],\r\n        \"virtualMachineVersion\": \"Compute\",\r\n        \"extendedInfo\": null,\r\n        \"entityFriendlyName\": \"dc1vm0\",\r\n        \"backupManagementType\": \"AzureIaasVM\",\r\n        \"operation\": \"Backup\",\r\n        \"status\": \"Failed\",\r\n        \"startTime\": \"2016-03-21T22:02:59.0700175Z\",\r\n        \"endTime\": \"2016-03-21T22:02:59.4435954Z\",\r\n        \"activityId\": \"1ff07ce0-462f-4428-8a62-aba23ad3fc6a\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/Subscriptions/04cf684a-d41f-4550-9f70-7708a3a2283b/resourceGroups/phaniktRSV/providers/Microsoft.RecoveryServices/vaults/phaniktRs1/backupJobs/44e7bd1a-ae53-40af-b77b-74ad26e8a2df\",\r\n      \"name\": \"44e7bd1a-ae53-40af-b77b-74ad26e8a2df\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/backupJobs\",\r\n      \"location\": null,\r\n      \"tags\": null,\r\n      \"eTag\": null,\r\n      \"prope[...]
    {
      "RequestUri": "/Subscriptions/04cf684a-d41f-4550-9f70-7708a3a2283b/resourceGroups/phaniktRSV/providers/Microsoft.RecoveryServices/vaults/phaniktRs1/backupJobs/a5e97e69-50d8-4861-886d-646522b81f52?api-version=2015-03-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/04cf684a-d41f-4550-9f70-7708a3a2283b/resourceGroups/phaniktRSV/providers/Microsoft.RecoveryServices/vaults/phaniktRs1/backupJobs/a5e97e69-50d8-4861-886d-646522b81f52\",\r\n  \"name\": \"a5e97e69-50d8-4861-886d-646522b81f52\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupJobs\",\r\n  \"location\": null,\r\n  \"tags\": null,\r\n  \"eTag\": null,\r\n  \"properties\": {\r\n    \"jobType\": \"AzureIaaSVMJob\",\r\n    \"duration\": \"00:00:00.3735779\",\r\n    \"actionsInfo\": [\r\n      1\r\n    ],\r\n    \"errorDetails\": [\r\n      {\r\n        \"errorCode\": 400001,\r\n        \"errorTitle\": \"\",\r\n        \"errorString\": \"Command execution failed.\",\r\n        \"recommendations\": [\r\n          \"Another operation is currently in progress on this item. Please wait until the previous operation is completed, and then retry.\"\r\n        ]\r\n      }\r\n    ],\r\n    \"virtualMachineVersion\": \"Compute\",\r\n    \"extendedInfo\": {\r\n      \"tasksList\": [\r\n        {\r\n          \"taskId\": \"Take Snapshot\",\r\n          \"startTime\": null,\r\n          \"endTime\": null,\r\n          \"instanceId\": null,\r\n          \"name\": null,\r\n          \"duration\": \"00:00:00\",\r\n          \"status\": \"Failed\",\r\n          \"progressPercentage\": null\r\n        },\r\n        {\r\n          \"taskId\": \"Transfer data to vault\",\r\n          \"startTime\": null,\r\n          \"endTime\": null,\r\n          \"instanceId\": null,\r\n          \"name\": null,\r\n          \"duration\": \"00:00:00\",\r\n          \"status\": \"NotStarted\",\r\n          \"progressPercentage\": null\r\n        }\r\n      ],\r\n      \"propertyBag\": {\r\n        \"VM Name\": \"dc1vm0\",\r\n        \"Backup Size\": \"0 MB\"\r\n      },\r\n      \"progressPercentage\": null,\r\n      \"dynamicErrorMessage\": null\r\n    },\r\n    \"entityFriendlyName\": \"dc1vm0\",\r\n    \"backupManagementType\": \"AzureIaasVM\",\r\n    \"operation\": \"Backup\",\r\n    \"status\": \"Failed\",\r\n    \"startTime\": \"2016-03-21T22:02:59.0700175Z\",\r\n    \"endTime\": \"2016-03-21T22:02:59.4435954Z\",\r\n    \"activityId\": \"1ff07ce0-462f-4428-8a62-aba23ad3fc6a\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14582"
        ]
      },
      "StatusCode": 200
    },
[...]
