{
  "Get-AzDevCenterAdminDevCenter+[NoContext]+List+$GET+https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/providers/Microsoft.DevCenter/devcenters?api-version=2023-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/providers/Microsoft.DevCenter/devcenters?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "15" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "9e56f8a2-db7c-4438-b3e3-14704326ba4d", "da05e202-3859-4626-8e1f-d7b7e0247fb0", "7fbe7399-dc39-4aa1-b8be-8d4aab74699e", "53131d12-21bb-43f6-90cb-63901fd4c0e9", "f7babc88-1448-4055-85b7-435d5e0c7ba3", "f256e609-f501-42c7-9745-09a2ae96d7cc", "30d5cbd5-d1a0-4dff-8b60-22da208ad80b", "2e5c3c82-8129-4083-8d24-e48348052ff0", "2c14af03-3e81-4de8-aaf1-3b8412a7d673", "7699067e-8eef-4358-bd4f-9f2b4e7b8255", "e612b915-1fdf-4f55-b3e1-5ea0461e7f5b" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11987" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/krsotora-rg/providers/Microsoft.DevCenter/devcenters/krsotora-dc\",\"name\":\"krsotora-dc\",\"type\":\"microsoft.devcenter/devcenters\",\"location\":\"canadacentral\",\"tags\":{},\"systemData\":{\"createdBy\":\"krisia.soto@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-10-04T21:50:48.9083302Z\",\"lastModifiedBy\":\"2dc3760b-4713-48b1-a383-1dfe3e449ec2\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2023-05-03T20:14:02.1794994Z\"},\"identity\":{\"principalId\":\"00932d3e-5ff3-496c-9a6a-29163c5c6335\",\"tenantId\":\"003b06c3-d471-4452-9686-9e7f3ca85f0a\",\"type\":\"SystemAssigned\"},\"properties\":{\"devCenterUri\":\"https://003b06c3-d471-4452-9686-9e7f3ca85f0a-krsotora-dc.devcenter.azure.com/\",\"provisioningState\":\"Succeeded\"}},{\"id\":\"/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/kevinnguyen-rp/providers/Microsoft.DevCenter/devcenters/kevinnguyen-devcenter\",\"name\":\"kevinnguyen-devcenter\",\"type\":\"microsoft.devcenter/devcenters\",\"location\":\"canadacentral\",\"tags\":{},\"systemData\":{\"createdBy\":\"kevinnguyen@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-12-06T02:09:15.6352966Z\",\"lastModifiedBy\":\"2dc3760b-4713-48b1-a383-1dfe3e449ec2\",\"lastModif[...]
