{
  "Get-AzDevCenterAdminNetworkConnectionHealthDetail+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRgbfptry/providers/Microsoft.DevCenter/networkConnections/qu4rta/healthChecks/latest?api-version=2023-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRgbfptry/providers/Microsoft.DevCenter/networkConnections/qu4rta/healthChecks/latest?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "41" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11889" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "X-Rate-Limit-Limit": [ "1m" ],
        "X-Rate-Limit-Remaining": [ "294" ],
        "X-Rate-Limit-Reset": [ "2023-06-15T23:53:45.7758010Z" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"startDateTime\":\"2023-06-15T23:44:07.000000Z\",\"endDateTime\":\"2023-06-15T23:50:33.000000Z\",\"healthChecks\":[{\"status\":\"Passed\",\"displayName\":\"Azure tenant readiness\",\"startDateTime\":\"2023-06-15T23:44:08.258904Z\",\"endDateTime\":\"2023-06-15T23:45:12.802766Z\"},{\"status\":\"Passed\",\"displayName\":\"Azure virtual network readiness\",\"startDateTime\":\"2023-06-15T23:44:08.418052Z\",\"endDateTime\":\"2023-06-15T23:44:09.297958Z\"},{\"status\":\"Passed\",\"displayName\":\"Intune enrollment restrictions allow Windows enrollment\",\"startDateTime\":\"2023-06-15T23:44:08.622572Z\",\"endDateTime\":\"2023-06-15T23:44:08.967687Z\"},{\"status\":\"Passed\",\"displayName\":\"Azure subnet IP address usage\",\"startDateTime\":\"2023-06-15T23:44:09.476660Z\",\"endDateTime\":\"2023-06-15T23:44:09.570716Z\"},{\"status\":\"Passed\",\"displayName\":\"Endpoint connectivity\",\"startDateTime\":\"2023-06-15T23:49:29.000000Z\",\"endDateTime\":\"2023-06-15T23:49:51.000000Z\"},{\"status\":\"Passed\",\"displayName\":\"Localization language package readiness\",\"startDateTime\":\"2023-06-15T23:49:29.000000Z\",\"endDateTime\":\"2023-06-15T23:49:51.000000Z\"},{\"status\":\"Passed\",\"displayName\":\"UDP connection check\",\"startDateTime\":\"2023-06-15T23:49:54.000000Z\",\"endDateTime\":\"2023-06-15T23:49:55.000000Z\"}]}}",
    }
  }
}