{
  "Get-AzDevCenterAdminProject+[NoContext]+List+$GET+https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/providers/Microsoft.DevCenter/projects?api-version=2023-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/providers/Microsoft.DevCenter/projects?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "49" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "20f4d3d6-269c-4fb4-a1cd-0540d6e71d61", "82858f07-5b19-4b4b-8275-ce035e377386", "1422194b-6b5b-481f-9224-9bcb88e395b5", "5e28c4e2-91b8-458e-aa74-9a7cadf51034", "74825045-d311-40d1-8a21-2b233b580897", "65a44ead-f906-448d-bf04-722e6c141b43", "bfa60a95-c3ce-4e4a-aea6-5e2255b91f3d", "86002ca8-a8a1-4cf3-9104-fa682021d287", "6dee821d-57a9-4dc7-9ae4-1a224779be02", "bcb79dd6-05ab-44ee-9094-d7fec6812117", "2b719f7b-a282-4f59-941a-77f36dc74bc2" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11953" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/krsotora-rg/providers/Microsoft.DevCenter/projects/krsotora-project\",\"name\":\"krsotora-project\",\"type\":\"microsoft.devcenter/projects\",\"location\":\"canadacentral\",\"tags\":{},\"systemData\":{\"createdBy\":\"krisia.soto@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-10-04T22:14:09.5243837Z\",\"lastModifiedBy\":\"2dc3760b-4713-48b1-a383-1dfe3e449ec2\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2023-01-17T06:14:14.6277683Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"devCenterId\":\"/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/krsotora-rg/providers/Microsoft.DevCenter/devcenters/krsotora-dc\",\"description\":\"test\",\"devCenterUri\":\"https://003b06c3-d471-4452-9686-9e7f3ca85f0a-krsotora-dc.devcenter.azure.com/\"}},{\"id\":\"/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/kevinnguyen-rp/providers/Microsoft.DevCenter/projects/kevinnguyen-project\",\"name\":\"kevinnguyen-project\",\"type\":\"microsoft.devcenter/projects\",\"location\":\"canadacentral\",\"tags\":{},\"systemData\":{\"createdBy\":\"kevinnguyen@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-12-06T02:17:37.2528628Z\",\"lastModif[...]
