{
  "Invoke-AzDevCenterAdminExecuteCheckScopedNameAvailability+[NoContext]+ExecuteExpanded+$POST+https://management.azure.com/subscriptions/306bbddd-068b-4efc-a779-50342af2547a/providers/Microsoft.DevCenter/checkScopedNameAvailability?api-version=2024-05-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/306bbddd-068b-4efc-a779-50342af2547a/providers/Microsoft.DevCenter/checkScopedNameAvailability?api-version=2024-05-01-preview",
      "Content": "{\n  \"name\": \"test-ado-errors\",\n  \"type\": \"Microsoft.DevCenter/projects/catalogs\",\n  \"scope\": \"/subscriptions/306bbddd-068b-4efc-a779-50342af2547a/resourceGroups/ibiza-testing/providers/Microsoft.DevCenter/projects/test-ibiza-project\"\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "X-Rate-Limit-Limit": [ "1m" ],
        "X-Rate-Limit-Remaining": [ "299" ],
        "X-Rate-Limit-Reset": [ "2024-08-01T22:58:25.6080683Z" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"nameAvailable\":false,\"reason\":\"AlreadyExists\",\"message\":\"Project catalog names must be unique within the project and its associated devcenter. Retry the operation with a different Catalog name.\"}",
    }
  },
  "Invoke-AzDevCenterAdminExecuteCheckScopedNameAvailability+[NoContext]+ExecuteExpanded+$POST+https://management.azure.com/subscriptions/306bbddd-068b-4efc-a779-50342af2547a/providers/Microsoft.DevCenter/checkScopedNameAvailability?api-version=2024-05-01-preview+2": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://manag[...]
