{
  "Invoke-AzDevCenterAdminExecuteCheckNameAvailability+[NoContext]+ExecuteExpanded+$POST+https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/providers/Microsoft.DevCenter/checkNameAvailability?api-version=2024-05-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/providers/Microsoft.DevCenter/checkNameAvailability?api-version=2024-05-01-preview",
      "Content": "{\r\n  \"name\": \"pwshDchw2yeu\",\r\n  \"type\": \"Microsoft.devcenter/devcenters\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "X-Rate-Limit-Limit": [ "1m" ],
        "X-Rate-Limit-Remaining": [ "299" ],
        "X-Rate-Limit-Reset": [ "2023-06-23T00:11:17.1341082Z" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"nameAvailable\":false,\"reason\":\"AlreadyExists\",\"message\":\"Failed to create the DevCenter as the name is already in use. DevCenter names must be unique within the tenant. Retry the operation with a different DevCenter name\"}",
    }
  },
  "Invoke-AzDevCenterAdminExecuteCheckNameAvailability+[NoContext]+ExecuteExpanded+$POST+https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/providers/Microsoft.DevCenter/checkNameAvailability?api-version=2024-05-01-preview+2": {
    "Request": {
      "Method": "POST",
      "RequestUri":[...]
