{
  "Remove-AzDevCenterAdminEnvironmentType+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRgwfpqgj/providers/Microsoft.DevCenter/devcenters/pwshDcisx0w8/environmentTypes/quj86l?api-version=2023-04-01+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRgwfpqgj/providers/Microsoft.DevCenter/devcenters/pwshDcisx0w8/environmentTypes/quj86l?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "201" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "X-Rate-Limit-Limit": [ "1m" ],
        "X-Rate-Limit-Remaining": [ "299" ],
        "X-Rate-Limit-Reset": [ "2023-06-21T05:51:59.0893638Z" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14991" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Remove-AzDevCenterAdminEnvironmentType+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRgwfpqgj/providers/Microsoft.DevCenter/devcenters/pwshDcisx0w8/environmentTypes/quj86l?api-version=2023-04-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRgwfpqgj/providers/Microsoft.DevCenter/devcenters/pwshDcisx0w8/environmentTypes/quj86l?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "202" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11837" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-failure-cause": [ "gateway" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"error\":{\"code\":\"ResourceNotFound\",\"message\":\"The resource \u0027Microsoft.DevCenter/devcenters/pwshDcisx0w8/environmentTypes/quj86l\u0027 could not be found.\"}}",
    }
  },
  "Remove-AzDevCenterAdminEnvironmentType+[NoContext]+DeleteViaIdentity+$GET+https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRgwfpqgj/providers/Microsoft.DevCenter/devcenters/pwshDcisx0w8/environmentTypes/ax0bwr?api-version=2023-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRgwfpqgj/providers/Microsoft.DevCenter/devcenters/pwshDcisx0w8/environmentTypes/ax0bwr?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "203" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"4e0092e6-0000-0a00-0000-6492868a0000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11836" ],
        "x-ms-providerhub-traffic": [ "True" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRgwfpqgj/providers/microsoft.devcenter/devcenters/pwshDcisx0w8/environmenttypes/ax0bwr\",\"name\":\"ax0bwr\",\"type\":\"microsoft.devcenter/devcenters/environmenttypes\",\"systemData\":{\"createdBy\":\"amlim@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-06-21T05:11:38.1201721Z\",\"lastModifiedBy\":\"amlim@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-06-21T05:11:38.1201721Z\"},\"properties\":{\"provisioningState\":\"Succeeded\"}}",
    }
  },
  "Remove-AzDevCenterAdminEnvironmentType+[NoContext]+DeleteViaIdentity+$DELETE+https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRgwfpqgj/providers/Microsoft.DevCenter/devcenters/pwshDcisx0w8/environmentTypes/ax0bwr?api-version=2023-04-01+2": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRgwfpqgj/providers/Microsoft.DevCenter/devcenters/pwshDcisx0w8/environmentTypes/ax0bwr?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "204" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "X-Rate-Limit-Limit": [ "1m" ],
        "X-Rate-Limit-Remaining": [ "299" ],
        "X-Rate-Limit-Reset": [ "2023-06-21T05:52:00.5382538Z" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14990" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  }
}