{
  "Remove-AzDevCenterAdminEnvironmentType+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRg9xk0p7/providers/Microsoft.DevCenter/devcenters/pwshDcbfj81w/environmentTypes/i9olq8?api-version=2023-04-01+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRg9xk0p7/providers/Microsoft.DevCenter/devcenters/pwshDcbfj81w/environmentTypes/i9olq8?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "176" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "X-Rate-Limit-Limit": [ "1m" ],
        "X-Rate-Limit-Remaining": [ "299" ],
        "X-Rate-Limit-Reset": [ "2023-06-21T04:31:53.3337615Z" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14992" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Remove-AzDevCenterAdminEnvironmentType+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRg9xk0p7/providers/Microsoft.DevCenter/devcenters/pwshDcbfj81w/environmentTypes/i9olq8?api-version=2023-04-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRg9xk0p7/providers/Microsoft.DevCenter/devcenters/pwshDcbfj81w/environmentTypes/i9olq8?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "177" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11857" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-failure-cause": [ "gateway" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"error\":{\"code\":\"ResourceNotFound\",\"message\":\"The resource \u0027Microsoft.DevCenter/devcenters/pwshDcbfj81w/environmentTypes/i9olq8\u0027 could not be found.\"}}",
    }
  },
  "Remove-AzDevCenterAdminEnvironmentType+[NoContext]+DeleteViaIdentity+$GET+https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRg9xk0p7/providers/Microsoft.DevCenter/devcenters/pwshDcbfj81w/environmentTypes/0nospr?api-version=2023-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRg9xk0p7/providers/Microsoft.DevCenter/devcenters/pwshDcbfj81w/environmentTypes/0nospr?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "178" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"4e001dcf-0000-0a00-0000-649275990000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11856" ],
        "x-ms-providerhub-traffic": [ "True" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRg9xk0p7/providers/microsoft.devcenter/devcenters/pwshDcbfj81w/environmenttypes/0nospr\",\"name\":\"0nospr\",\"type\":\"microsoft.devcenter/devcenters/environmenttypes\",\"systemData\":{\"createdBy\":\"amlim@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-06-21T03:59:20.9883796Z\",\"lastModifiedBy\":\"amlim@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-06-21T03:59:20.9883796Z\"},\"properties\":{\"provisioningState\":\"Succeeded\"}}",
    }
  },
  "Remove-AzDevCenterAdminEnvironmentType+[NoContext]+DeleteViaIdentity+$DELETE+https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRg9xk0p7/providers/Microsoft.DevCenter/devcenters/pwshDcbfj81w/environmentTypes/0nospr?api-version=2023-04-01+2": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshRg9xk0p7/providers/Microsoft.DevCenter/devcenters/pwshDcbfj81w/environmentTypes/0nospr?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "179" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "X-Rate-Limit-Limit": [ "1m" ],
        "X-Rate-Limit-Remaining": [ "299" ],
        "X-Rate-Limit-Reset": [ "2023-06-21T04:31:54.9105929Z" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14991" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  }
}