{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.ContainerService/locations/westus/orchestrators?api-version=2019-08-01&resource-type=managedClusters",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.ContainerService/locations/westus/orchestrators\",\r\n  \"name\": \"default\",\r\n  \"type\": \"Microsoft.ContainerService/locations/orchestrators\",\r\n  \"properties\": {\r\n    \"orchestrators\": [\r\n      {\r\n        \"orchestratorType\": \"Kubernetes\",\r\n        \"orchestratorVersion\": \"1.15.11\",\r\n        \"upgrades\": [\r\n          {\r\n            \"orchestratorType\": \"Kubernetes\",\r\n            \"orchestratorVersion\": \"1.15.12\"\r\n          },\r\n          {\r\n            \"orchestratorType\": \"Kubernetes\",\r\n            \"orchestratorVersion\": \"1.16.10\"\r\n          },\r\n          {\r\n            \"orchestratorType\": \"Kubernetes\",\r\n            \"orchestratorVersion\": \"1.16.13\"\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"orchestratorType\": \"Kubernetes\",\r\n  [...]
