{
  "Entries": [
    {
      "RequestUri": "/pools/mpiPool?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 11 Sep 2025 22:43:31 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\r\n  \"code\": \"PoolNotFound\",\r\n  \"message\": {\r\n    \"lang\": \"en-US\",\r\n    \"value\": \"The specified pool does not exist.\\nRequestId:b6a11b89-7136-4042-ad72-6c8ed2b3d3c0\\nTime:2025-09-11T22:43:31.3770013Z\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/pools?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 11 Sep 2025 22:43:31 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"id\": \"mpiPool\",\r\n  \"vmSize\": \"STANDARD_D2S_V3\",\r\n  \"virtualMachineConfiguration\": {\r\n    \"imageReference\": {\r\n      \"publisher\": \"canonical\",\r\n      \"offer\": \"0001-com-ubuntu-server-focal\",\r\n      \"sku\": \"20_04-lts\"\r\n    },\r\n    \"nodeAgentSKUId\": \"batch.node.ubuntu 20.04\",\r\n    \"nodePlacementConfiguration\": {\r\n      \"policy\": \"zonal\"\r\n    }\r\n  },\r\n  \"targetDedicatedNodes\": 3,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableInterNodeCommunication\": true,\r\n  \"taskSlotsPerNode\": 1,\r\n  \"targetNodeCommunicationMode\": \"default\"\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "0x8DDF184A22F7097"
        ],
        "Location": [
          "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/mpiPool"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/mpiPool"
        ],
        "Last-Modified": [
          "Thu, 11 Sep 2025 22:43:31 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 11 Sep 2025 22:43:31 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"id\": \"listSubtaskJob\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"poolId\": \"mpiPool\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "0x8DDF184A278E397"
        ],
        "Location": [
          "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/job-1"
        ],
        "Last-Modified": [
          "Thu, 11 Sep 2025 22:43:32 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/listSubtaskJob/tasks?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 11 Sep 2025 22:43:32 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"id\": \"testTask\",\r\n  \"commandLine\": \"/bin/bash -c 'echo task'\",\r\n  \"userIdentity\": {\r\n    \"autoUser\": {\r\n      \"scope\": \"task\",\r\n      \"elevationLevel\": \"nonadmin\"\r\n    }\r\n  },\r\n  \"multiInstanceSettings\": {\r\n    \"numberOfInstances\": 3,\r\n    \"coordinationCommandLine\": \"/bin/bash -c 'echo coordinating'\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "0x8DDF184A2886C3A"
        ],
        "Location": [
          "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/listSubtaskJob/tasks/testTask"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/listSubtaskJob/tasks/testTask"
        ],
        "Last-Modified": [
          "Thu, 11 Sep 2025 22:43:32 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/listSubtaskJob/tasks/testTask?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 11 Sep 2025 22:43:32 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "0x8DDF184A2886C3A"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Thu, 11 Sep 2025 22:43:32 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#tasks/@Element\",\r\n  \"id\": \"testTask\",\r\n  \"url\": \"https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/listSubtaskJob/tasks/testTask\",\r\n  \"eTag\": \"0x8DDF184A2886C3A\",\r\n  \"creationTime\": \"2025-09-11T22:43:32.1305146Z\",\r\n  \"lastModified\": \"2025-09-11T22:43:32.1305146Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2025-09-11T22:43:32.1305146Z\",\r\n  \"commandLine\": \"/bin/bash -c 'echo task'\",\r\n  \"userIdentity\": {\r\n    \"autoUser\": {\r\n      \"scope\": \"task\",\r\n      \"elevationLevel\": \"nonadmin\"\r\n    }\r\n  },\r\n  \"multiInstanceSettings\": {\r\n    \"numberOfInstances\": 3,\r\n    \"coordinationCommandLine\": \"/bin/bash -c 'echo coordinating'\"\r\n  },\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"retentionTime\": \"P7D\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"requiredSlots\": 1,\r\n  \"executionInfo\": {\r\n    \"retryCount\": 0,\r\n    \"requeueCount\": 0\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/listSubtaskJob/tasks/testTask?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 11 Sep 2025 22:44:51 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "0x8DDF184A2886C3A"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Thu, 11 Sep 2025 22:43:32 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#tasks/@Element\",\r\n  \"id\": \"testTask\",\r\n  \"url\": \"https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/jobs/listSubtaskJob/tasks/testTask\",\r\n  \"eTag\": \"0x8DDF184A2886C3A\",\r\n  \"creationTime\": \"2025-09-11T22:43:32.1305146Z\",\r\n  \"lastModified\": \"2025-09-11T22:43:32.1305146Z\",\r\n  \"state\": \"completed\",\r\n  \"stateTransitionTime\": \"2025-09-11T22:44:48.585306Z\",\r\n  \"previousState\": \"running\",\r\n  \"previousStateTransitionTime\": \"2025-09-11T22:44:46.383098Z\",\r\n  \"commandLine\": \"/bin/bash -c 'echo task'\",\r\n  \"userIdentity\": {\r\n    \"autoUser\": {\r\n      \"scope\": \"task\",\r\n      \"elevationLevel\": \"nonadmin\"\r\n    }\r\n  },\r\n  \"multiInstanceSettings\": {\r\n    \"numberOfInstances\": 3,\r\n    \"coordinationCommandLine\": \"/bin/bash -c 'echo coordinating'\"\r\n  },\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"retentionTime\": \"P7D\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"requiredSlots\": 1,\r\n  \"executionInfo\": {\r\n    \"startTime\": \"2025-09-11T22:44:46.566688Z\",\r\n    \"endTime\": \"2025-09-11T22:44:48.585306Z\",\r\n    \"exitCode\": 0,\r\n    \"result\": \"success\",\r\n    \"retryCount\": 0,\r\n    \"requeueCount\": 0\r\n  },\r\n  \"nodeInfo\": {\r\n    \"affinityId\": \"TVM:tvmps_d4f2721be02716048830e4142aa7901cb9f27bc100c45deb6be2004791ba1d4f_d\",\r\n    \"nodeUrl\": \"https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/mpiPool/nodes/tvmps_d4f2721be02716048830e4142aa7901cb9f27bc100c45deb6be2004791ba1d4f_d\",\r\n    \"poolId\": \"mpiPool\",\r\n    \"nodeId\": \"tvmps_d4f2721be02716048830e4142aa7901cb9f27bc100c45deb6be2004791ba1d4f_d\",\r\n    \"taskRootDirectory\": \"workitems/listSubtaskJob/job-1/testTask\",\r\n    \"taskRootDirectoryUrl\": \"https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/pools/mpiPool/nodes/tvmps_d4f2721be02716048830e4142aa7901cb9f27bc100c45deb6be2004791ba1d4f_d/files/workitems/listSubtaskJob/job-1/testTask\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/listSubtaskJob/tasks?api-version=2024-02-01.19.0&$filter=id%20eq%20%27testTask%27&$select=id%2Cstate",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 11 Sep 2025 22:43:32 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://dotnotsdkbatchaccount2.eastus2.batch.azure.com/$metadata#tasks\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"testTask\",\r\n      \"state\": \"active\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobs/listSubtaskJob/tasks/testTask/subtasksinfo?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 11 Sep 2025 22:44:51 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\[...]
[...]
    {
      "RequestUri": "/jobs/listSubtaskJob?api-version=2024-02-01.19.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 11 Sep 2025 22:44:52 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "94bd7ded-68b4-4ffa-82a5-37ac72caa2ec",
    "AZURE_BATCH_ACCOUNT": "dotnotsdkbatchaccount2",
    "AZURE_BATCH_ENDPOINT": "https://dotnotsdkbatchaccount2.eastus2.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "automation"
  }
}