{
  "Entries": [
    {
      "RequestUri": "/pools/mpiPool?api-version=2019-08-01.10.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 06 Sep 2019 21:28:55 GMT"
        ]
      },
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\r\n  \"code\": \"PoolNotFound\",\r\n  \"message\": {\r\n    \"lang\": \"en-US\",\r\n    \"value\": \"The specified pool does not exist.\\nRequestId:99c07aea-6142-4451-98a3-3eea07d4dfc8\\nTime:2019-09-06T21:28:55.6383047Z\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/pools?api-version=2019-08-01.10.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"mpiPool\",\r\n  \"vmSize\": \"small\",\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"osVersion\": \"*\"\r\n  },\r\n  \"targetDedicatedNodes\": 3,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableInterNodeCommunication\": true\r\n}",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 06 Sep 2019 21:28:55 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D7331138DB1AAD"
        ],
        "Location": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/mpiPool"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/mpiPool"
        ],
        "Last-Modified": [
          "Fri, 06 Sep 2019 21:28:55 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs?api-version=2019-08-01.10.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"listSubtaskJob\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"poolId\": \"mpiPool\"\r\n  }\r\n}",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 06 Sep 2019 21:28:55 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D7331138F35654"
        ],
        "Location": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/job-1"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/job-1"
        ],
        "Last-Modified": [
          "Fri, 06 Sep 2019 21:28:55 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/listSubtaskJob/tasks?api-version=2019-08-01.10.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"testTask\",\r\n  \"commandLine\": \"cmd /c hostname\",\r\n  \"userIdentity\": {\r\n    \"autoUser\": {\r\n      \"scope\": \"task\",\r\n      \"elevationLevel\": \"nonadmin\"\r\n    }\r\n  },\r\n  \"multiInstanceSettings\": {\r\n    \"numberOfInstances\": 3,\r\n    \"coordinationCommandLine\": \"cmd /c echo coordinating\"\r\n  }\r\n}",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 06 Sep 2019 21:28:56 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D7331139012BF9"
        ],
        "Location": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/listSubtaskJob/tasks/testTask"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/listSubtaskJob/tasks/testTask"
        ],
        "Last-Modified": [
          "Fri, 06 Sep 2019 21:28:56 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/listSubtaskJob/tasks/testTask?api-version=2019-08-01.10.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 06 Sep 2019 21:28:56 GMT"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D7331139012BF9"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Fri, 06 Sep 2019 21:28:56 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#tasks/@Element\",\r\n  \"id\": \"testTask\",\r\n  \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/listSubtaskJob/tasks/testTask\",\r\n  \"eTag\": \"0x8D7331139012BF9\",\r\n  \"creationTime\": \"2019-09-06T21:28:56.0053241Z\",\r\n  \"lastModified\": \"2019-09-06T21:28:56.0053241Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2019-09-06T21:28:56.0053241Z\",\r\n  \"commandLine\": \"cmd /c hostname\",\r\n  \"userIdentity\": {\r\n    \"autoUser\": {\r\n      \"scope\": \"task\",\r\n      \"elevationLevel\": \"nonadmin\"\r\n    }\r\n  },\r\n  \"multiInstanceSettings\": {\r\n    \"numberOfInstances\": 3,\r\n    \"coordinationCommandLine\": \"cmd /c echo coordinating\"\r\n  },\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"retentionTime\": \"P7D\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"executionInfo\": {\r\n    \"retryCount\": 0,\r\n    \"requeueCount\": 0\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/listSubtaskJob/tasks/testTask?api-version=2019-08-01.10.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 06 Sep 2019 21:37:47 GMT"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D7331139012BF9"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Fri, 06 Sep 2019 21:28:56 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#tasks/@Element\",\r\n  \"id\": \"testTask\",\r\n  \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/listSubtaskJob/tasks/testTask\",\r\n  \"eTag\": \"0x8D7331139012BF9\",\r\n  \"creationTime\": \"2019-09-06T21:28:56.0053241Z\",\r\n  \"lastModified\": \"2019-09-06T21:28:56.0053241Z\",\r\n  \"state\": \"completed\",\r\n  \"stateTransitionTime\": \"2019-09-06T21:37:44.52735Z\",\r\n  \"previousState\": \"running\",\r\n  \"previousStateTransitionTime\": \"2019-09-06T21:37:40.911089Z\",\r\n  \"commandLine\": \"cmd /c hostname\",\r\n  \"userIdentity\": {\r\n    \"autoUser\": {\r\n      \"scope\": \"task\",\r\n      \"elevationLevel\": \"nonadmin\"\r\n    }\r\n  },\r\n  \"multiInstanceSettings\": {\r\n    \"numberOfInstances\": 3,\r\n    \"coordinationCommandLine\": \"cmd /c echo coordinating\"\r\n  },\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"retentionTime\": \"P7D\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"executionInfo\": {\r\n    \"startTime\": \"2019-09-06T21:37:40.911089Z\",\r\n    \"endTime\": \"2019-09-06T21:37:44.52735Z\",\r\n    \"exitCode\": 0,\r\n    \"result\": \"success\",\r\n    \"retryCount\": 0,\r\n    \"requeueCount\": 0\r\n  },\r\n  \"nodeInfo\": {\r\n    \"affinityId\": \"TVM:tvmps_5d390540e82f83e0a0942343682800b6a8baabb94729e7476c01d2c6522437b5_d\",\r\n    \"nodeUrl\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/mpiPool/nodes/tvmps_5d390540e82f83e0a0942343682800b6a8baabb94729e7476c01d2c6522437b5_d\",\r\n    \"poolId\": \"mpiPool\",\r\n    \"nodeId\": \"tvmps_5d390540e82f83e0a0942343682800b6a8baabb94729e7476c01d2c6522437b5_d\",\r\n    \"taskRootDirectory\": \"workitems\\\\listSubtaskJob\\\\job-1\\\\testTask\",\r\n    \"taskRootDirectoryUrl\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/mpiPool/nodes/tvmps_5d390540e82f83e0a0942343682800b6a8baabb94729e7476c01d2c6522437b5_d/files/workitems/listSubtaskJob/job-1/testTask\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/listSubtaskJob/tasks?api-version=2019-08-01.10.0&$filter=id%20eq%20%27testTask%27&$select=id%2Cstate",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 06 Sep 2019 21:28:56 GMT"
        ]
      },
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#tasks\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"testTask\",\r\n      \"state\": \"active\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobs/listSubtaskJob/tasks/testTask/subtasksinfo?api-version=2019-08-01.10.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 06 Sep 2019 21:37:46 GMT"
        ]
      },
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\[...]
[...]
    {
      "RequestUri": "/jobs/listSubtaskJob?api-version=2019-08-01.10.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 06 Sep 2019 21:37:47 GMT"
        ]
      },
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "2915bbd6-1252-405f-8173-6c00428146d9",
    "AZURE_BATCH_ACCOUNT": "matthchrwestcentralus",
    "AZURE_BATCH_ENDPOINT": "https://matthchrwestcentralus.westcentralus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "matthchrwestcentralus"
  }
}