{
  "Entries": [
    {
      "RequestUri": "/jobs?api-version=2022-01-01.15.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"taskCrudJob\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  }\r\n}",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 15 Feb 2022 19:30:46 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D9F0B9AA084E90"
        ],
        "Location": [
          "https://mikeportal.eastus.batch.azure.com/jobs/job-1"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://mikeportal.eastus.batch.azure.com/jobs/job-1"
        ],
        "Last-Modified": [
          "Tue, 15 Feb 2022 19:30:46 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/taskCrudJob/tasks?api-version=2022-01-01.15.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"task1\",\r\n  \"commandLine\": \"cmd /c echo task1\"\r\n}",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 15 Feb 2022 19:30:47 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D9F0B9AA7BF811"
        ],
        "Location": [
          "https://mikeportal.eastus.batch.azure.com/jobs/taskCrudJob/tasks/task1"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://mikeportal.eastus.batch.azure.com/jobs/taskCrudJob/tasks/task1"
        ],
        "Last-Modified": [
          "Tue, 15 Feb 2022 19:30:46 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/jobs/taskCrudJob/tasks?api-version=2022-01-01.15.0&$filter=id%20eq%20%27task1%27%20or%20id%20eq%20%27task2%27",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 15 Feb 2022 19:30:47 GMT"
        ]
      },
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://mikeportal.eastus.batch.azure.com/$metadata#tasks\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"task1\",\r\n      \"url\": \"https://mikeportal.eastus.batch.azure.com/jobs/taskCrudJob/tasks/task1\",\r\n      \"eTag\": \"0x8D9F0B9AA7BF811\",\r\n      \"creationTime\": \"2022-02-15T19:30:46.9502993Z\",\r\n      \"lastModified\": \"2022-02-15T19:30:46.9502993Z\",\r\n      \"state\": \"active\",\r\n      \"stateTransitionTime\": \"2022-02-15T19:30:46.9502993Z\",\r\n      \"commandLine\": \"cmd /c echo task1\",\r\n      \"userIdentity\": {\r\n        \"autoUser\": {\r\n          \"scope\": \"pool\",\r\n          \"elevationLevel\": \"nonadmin\"\r\n        }\r\n      },\r\n      \"constraints\": {\r\n        \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n        \"retentionTime\": \"P7D\",\r\n        \"maxTaskRetryCount\": 0\r\n      },\r\n      \"requiredSlots\": 1,\r\n      \"executionInfo\": {\r\n        \"retryCount\": 0,\r\n        \"requeueCount\": 0\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"task2\",\r\n      \"url\": \"https://mikeportal.eastus.batch.azure.com/jobs/taskCrudJob/tasks/task2\",\r\n      \"eTag\": \"0x8D9F0B9AA8790DC\",\r\n      \"creationTime\": \"2022-02-15T19:30:47.0263004Z\",\r\n      \"lastModified\": \"2022-02-15T19:30:47.0263004Z\",\r\n      \"state\": \"active\",\r\n      \"stateTransitionTime\": \"2022-02-15T19:30:47.0263004Z\",\r\n      \"commandLine\": \"cmd /c echo task2\",\r\n      \"userIdentity\": {\r\n        \"autoUser\": {\r\n          \"scope\": \"pool\",\r\n          \"elevationLevel\": \"nonadmin\"\r\n        }\r\n      },\r\n      \"constraints\": {\r\n        \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n        \"retentionTime\": \"P7D\",\r\n        \"maxTaskRetryCount\": 0\r\n      },\r\n      \"requiredSlots\": 1,\r\n      \"executionInfo\": {\r\n        \"retryCount\": 0,\r\n        \"requeueCount\": 0\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/taskCrudJob/tasks/task2?api-version=2022-01-01.15.0",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"constraints\": {\r\n    \"maxTaskRetryCount\": 3\r\n  }\r\n}",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 15 Feb 2022 19:30:47 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D9F0B9AAA8AD6F"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://mikeportal.eastus.batch.azure.com/jobs/taskCrudJob/tasks/task2"
        ],
        "Last-Modified": [
          "Tue, 15 Feb 2022 19:30:47 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobs/taskCrudJob?api-version=2022-01-01.15.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 15 Feb 2022 19:30:48 GMT"
        ]
      },
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "ba2358c2-42f2-4138-88df-7c68cf608bea",
    "AZURE_BATCH_ACCOUNT": "mikeportal",
    "AZURE_BATCH_ENDPOINT": "https://mikeportal.eastus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "batchportal"
  }
}