{
  "Entries": [
    {
      "RequestUri": "/jobs?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 13 Nov 2024 21:27:02 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"id\": \"createTaskCollectionJob\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "0x8DD0429EA59D7AE"
        ],
        "Location": [
          "https://dawatrouhobo.eastus2.batch.azure.com/jobs/job-1"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://dawatrouhobo.eastus2.batch.azure.com/jobs/job-1"
        ],
        "Last-Modified": [
          "Wed, 13 Nov 2024 21:27:02 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/createTaskCollectionJob?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 13 Nov 2024 21:27:03 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "0x8DD0429EA59D7AE"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Wed, 13 Nov 2024 21:27:02 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://dawatrouhobo.eastus2.batch.azure.com/$metadata#jobs/@Element\",\r\n  \"id\": \"createTaskCollectionJob\",\r\n  \"url\": \"https://dawatrouhobo.eastus2.batch.azure.com/jobs/createTaskCollectionJob\",\r\n  \"eTag\": \"0x8DD0429EA59D7AE\",\r\n  \"lastModified\": \"2024-11-13T21:27:02.8405166Z\",\r\n  \"creationTime\": \"2024-11-13T21:27:02.8185192Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2024-11-13T21:27:02.8405166Z\",\r\n  \"priority\": 0,\r\n  \"maxParallelTasks\": -1,\r\n  \"usesTaskDependencies\": false,\r\n  \"allowTaskPreemption\": false,\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  },\r\n  \"executionInfo\": {\r\n    \"startTime\": \"2024-11-13T21:27:02.8405166Z\",\r\n    \"poolId\": \"testPool\"\r\n  },\r\n  \"onAllTasksComplete\": \"noaction\",\r\n  \"onTaskFailure\": \"noaction\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/createTaskCollectionJob/addtaskcollection?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 13 Nov 2024 21:27:03 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"simple1\",\r\n      \"commandLine\": \"cmd /c dir /s\"\r\n    },\r\n    {\r\n      \"id\": \"simple2\",\r\n      \"commandLine\": \"cmd /c dir /s\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://dawatrouhobo.eastus2.batch.azure.com/$metadata#taskaddresult\",\r\n  \"value\": [\r\n    {\r\n      \"status\": \"Success\",\r\n      \"taskId\": \"simple2\",\r\n      \"eTag\": \"0x8DD0429EABF2594\",\r\n      \"lastModified\": \"2024-11-13T21:27:03.5044244Z\",\r\n      \"location\": \"https://dawatrouhobo.eastus2.batch.azure.com/jobs/createTaskCollectionJob/tasks/simple2\"\r\n    },\r\n    {\r\n      \"status\": \"Success\",\r\n      \"taskId\": \"simple1\",\r\n      \"eTag\": \"0x8DD0429EABF4CA7\",\r\n      \"lastModified\": \"2024-11-13T21:27:03.5054247Z\",\r\n      \"location\": \"https://dawatrouhobo.eastus2.batch.azure.com/jobs/createTaskCollectionJob/tasks/simple1\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/createTaskCollectionJob/addtaskcollection?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 13 Nov 2024 21:27:03 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"complex1\",\r\n      \"commandLine\": \"cmd /c dir /s\",\r\n      \"resourceFiles\": [\r\n        {\r\n          \"httpUrl\": \"https://testacct.blob.core.windows.net/\",\r\n          \"filePath\": \"file1\"\r\n        }\r\n      ],\r\n      \"environmentSettings\": [\r\n        {\r\n          \"name\": \"env2\",\r\n          \"value\": \"value2\"\r\n        },\r\n        {\r\n          \"name\": \"env1\",\r\n          \"value\": \"value1\"\r\n        }\r\n      ],\r\n      \"affinityInfo\": {\r\n        \"affinityId\": \"affinityId\"\r\n      },\r\n      \"constraints\": {\r\n        \"maxWallClockTime\": \"P1D\",\r\n        \"retentionTime\": \"P2D\",\r\n        \"maxTaskRetryCount\": 5\r\n      },\r\n      \"multiInstanceSettings\": {\r\n        \"numberOfInstances\": 3,\r\n        \"coordinationCommandLine\": \"cmd /c echo coordinating\",\r\n        \"commonResourceFiles\": [\r\n          {\r\n            \"httpUrl\": \"https://common.blob.core.windows.net/\",\r\n            \"filePath\": \"common.exe\"\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"simple3\",\r\n      \"commandLine\": \"cmd /c dir /s\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://dawatrouhobo.eastus2.batch.azure.com/$metadata#taskaddresult\",\r\n  \"value\": [\r\n    {\r\n      \"status\": \"Success\",\r\n      \"taskId\": \"simple3\",\r\n      \"eTag\": \"0x8DD0429EADDD17A\",\r\n      \"lastModified\": \"2024-11-13T21:27:03.705433Z\",\r\n      \"location\": \"https://dawatrouhobo.eastus2.batch.azure.com/jobs/createTaskCollectionJob/tasks/simple3\"\r\n    },\r\n    {\r\n      \"status\": \"Success\",\r\n      \"taskId\": \"complex1\",\r\n      \"eTag\": \"0x8DD0429EADD8326\",\r\n      \"lastModified\": \"2024-11-13T21:27:03.7034278Z\",\r\n      \"location\": \"https://dawatrouhobo.eastus2.batch.azure.com/jobs/createTaskCollectionJob/tasks/complex1\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/createTaskCollectionJob/tasks/simple1?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 13 Nov 2024 21:27:03 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "0x8DD0429EABF4CA7"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Wed, 13 Nov 2024 21:27:03 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://dawatrouhobo.eastus2.batch.azure.com/$metadata#tasks/@Element\",\r\n  \"id\": \"simple1\",\r\n  \"url\": \"https://dawatrouhobo.eastus2.batch.azure.com/jobs/createTaskCollectionJob/tasks/simple1\",\r\n  \"eTag\": \"0x8DD0429EABF4CA7\",\r\n  \"creationTime\": \"2024-11-13T21:27:03.5054247Z\",\r\n  \"lastModified\": \"2024-11-13T21:27:03.5054247Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2024-11-13T21:27:03.5054247Z\",\r\n  \"commandLine\": \"cmd /c dir /s\",\r\n  \"userIdentity\": {\r\n    \"autoUser\": {\r\n      \"scope\": \"pool\",\r\n      \"elevationLevel\": \"nonadmin\"\r\n    }\r\n  },\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"retentionTime\": \"P7D\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"requiredSlots\": 1,\r\n  \"executionInfo\": {\r\n    \"retryCount\": 0,\r\n    \"requeueCount\": 0\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobs/createTaskCollectionJob/tasks/complex1?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 13 Nov 2024 21:27:03 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "0x8DD0429EADD8326"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
[...]
[...]
    {
      "RequestUri": "/jobs/createTaskCollectionJob?api-version=2024-02-01.19.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 13 Nov 2024 21:27:03 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "21abd678-18c5-4660-9fdd-8c5ba6b6fe1f",
    "AZURE_BATCH_ACCOUNT": "dawatrouhobo",
    "AZURE_BATCH_ENDPOINT": "https://dawatrouhobo.eastus2.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "dawatrou-rg"
  }
}