{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/b90b0dec-9b9a-4778-a84e-4ffb73bb17f6/resourcegroups/pstestrg6679?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/pstestrg259?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "28"
<<<<<<< HEAD
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b90b0dec-9b9a-4778-a84e-4ffb73bb17f6/resourceGroups/pstestrg6679\",\r\n  \"name\": \"pstestrg6679\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1199"
        ],
        "x-ms-request-id": [
          "4c488482-c36c-4771-b39a-e59c45eef1a0"
        ],
        "x-ms-correlation-request-id": [
          "4c488482-c36c-4771-b39a-e59c45eef1a0"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20171023T192348Z:4c488482-c36c-4771-b39a-e59c45eef1a0"
=======
          "1198"
        ],
        "x-ms-request-id": [
          "d3cd3ed8-feb0-433e-a779-df4f089db983"
        ],
        "x-ms-correlation-request-id": [
          "d3cd3ed8-feb0-433e-a779-df4f089db983"
        ],
        "x-ms-routing-request-id": [
          "KOREASOUTH:20200505T165558Z:d3cd3ed8-feb0-433e-a779-df4f089db983"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Mon, 23 Oct 2017 19:23:47 GMT"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b90b0dec-9b9a-4778-a84e-4ffb73bb17f6/resourceGroups/pstestrg6679/providers/microsoft.insights/components/apppstestrg6679?api-version=2015-05-01",
=======
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
          "Tue, 05 May 2020 16:55:58 GMT"
        ],
        "Content-Length": [
          "175"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg259\",\r\n  \"name\": \"pstestrg259\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg259/providers/Microsoft.Insights/components/apppstestrg259?api-version=2018-05-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "2dd559d6-dd30-40b3-a7da-a987331c8f82"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2110.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.15063",
          "Microsoft.Azure.Management.ApplicationInsights.Management.ApplicationInsightsManagementClient/0.1.0.1"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'microsoft.insights/components/apppstestrg6679' under resource group 'pstestrg6679' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "80e4a513-80c5-4ae7-a0ff-f1d8311106da"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.ApplicationInsights.Management.ApplicationInsightsManagementClient/0.3.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "e44b2293-b365-4340-a977-f98570af6e5f"
        ],
        "x-ms-correlation-request-id": [
          "e44b2293-b365-4340-a977-f98570af6e5f"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20171023T192348Z:e44b2293-b365-4340-a977-f98570af6e5f"
=======
          "1f397728-72ea-459f-9ce4-0cdb2f86f72b"
        ],
        "x-ms-correlation-request-id": [
          "1f397728-72ea-459f-9ce4-0cdb2f86f72b"
        ],
        "x-ms-routing-request-id": [
          "KOREASOUTH:20200505T165559Z:1f397728-72ea-459f-9ce4-0cdb2f86f72b"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Mon, 23 Oct 2017 19:23:48 GMT"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg259/providers/Microsoft.Insights/components/apppstestrg259?api-version=2018-05-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "f9072ddc-1898-465e-b4b8-cf9eb00b433c"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2110.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.15063",
          "Microsoft.Azure.Management.ApplicationInsights.Management.ApplicationInsightsManagementClient/0.1.0.1"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b90b0dec-9b9a-4778-a84e-4ffb73bb17f6/resourceGroups/pstestrg6679/providers/microsoft.insights/components/apppstestrg6679\",\r\n  \"name\": \"apppstestrg6679\",\r\n  \"type\": \"microsoft.insights/components\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"kind\": \"web\",\r\n  \"etag\": \"\\\"0600d807-0000-0000-0000-59ee41c50000\\\"\",\r\n  \"properties\": {\r\n    \"Ver\": \"v2\",\r\n    \"ApplicationId\": \"apppstestrg6679\",\r\n    \"AppId\": \"8cf28969-f6c1-4d8e-9bbc-91e68a3e21e8\",\r\n    \"Application_Type\": \"web\",\r\n    \"Flow_Type\": null,\r\n    \"Request_Source\": \"AzurePowerShell\",\r\n    \"InstrumentationKey\": \"e51fa094-dbae-4c03-abf3-e9b1d638684b\",\r\n    \"Name\": \"apppstestrg6679\",\r\n    \"CreationDate\": \"2017-10-23T12:23:51.4966322-07:00\",\r\n    \"PackageId\": null,\r\n    \"TenantId\": \"8b41dbed-3445-4071-893b-0d78932d36df\",\r\n    \"HockeyAppId\": null,\r\n    \"HockeyAppToken\": null,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"SamplingPercentage\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "3ab66202-ea03-491e-aab8-1373f1ff27cb"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.ApplicationInsights.Management.ApplicationInsightsManagementClient/0.3.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "f9072ddc-1898-465e-b4b8-cf9eb00b433c"
        ],
        "x-content-type-options": [
          "nosniff",
          "nosniff"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14974"
        ],
        "x-ms-correlation-request-id": [
          "aed3cf09-97b9-434f-b724-b0391dc4aff2"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20171023T192353Z:aed3cf09-97b9-434f-b724-b0391dc4aff2"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Mon, 23 Oct 2017 19:23:53 GMT"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg259/providers/Microsoft.Insights/components/apppstestrg259?api-version=2018-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"kind\": \"web\",\r\n  \"properties\": {\r\n    \"Application_Type\": \"web\",\r\n    \"Request_Source\": \"AzurePowerShell\"\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
<<<<<<< HEAD
        "Expires": [
          "-1"
=======
        "Content-Length": [
          "144"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "1cfe36b3-4ec9-46cb-a9b1-65d3c948ffba"
        ],
        "x-content-type-options": [
          "nosniff",
          "nosniff"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
=======
          "e0412bd3-6dd8-487d-9049-ce5f38d34dfb"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Request-Context": [
          "appId=cid-v1:920e14b1-13f3-461a-a4bb-b4fe6f1a4525"
        ],
        "Access-Control-Expose-Headers": [
          "Request-Context"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "93a12e36-8066-4336-a0b2-2383646504e1"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20171023T192353Z:93a12e36-8066-4336-a0b2-2383646504e1"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Mon, 23 Oct 2017 19:23:52 GMT"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b90b0dec-9b9a-4778-a84e-4ffb73bb17f6/resourceGroups/pstestrg6679/providers/microsoft.insights/components/apppstestrg6679/currentbillingfeatures?api-version=2015-05-01",
=======
          "2f0a658f-b0fe-4a5d-9093-1e3b9e898e08"
        ],
        "x-ms-routing-request-id": [
          "KOREASOUTH:20200505T165610Z:2f0a658f-b0fe-4a5d-9093-1e3b9e898e08"
        ],
        "Date": [
          "Tue, 05 May 2020 16:56:09 GMT"
        ],
        "Content-Length": [
          "885"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg259/providers/microsoft.insights/components/apppstestrg259\",\r\n  \"name\": \"apppstestrg259\",\r\n  \"type\": \"microsoft.insights/components\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"kind\": \"web\",\r\n  \"etag\": \"\\\"1000fafc-0000-0100-0000-5eb19aa70000\\\"\",\r\n  \"properties\": {\r\n    \"Ver\": \"v2\",\r\n    \"ApplicationId\": \"apppstestrg259\",\r\n    \"AppId\": \"c44ef8b8-812a-4ff7-b88e-50c36792b4f6\",\r\n    \"Application_Type\": \"web\",\r\n    \"Flow_Type\": null,\r\n    \"Request_Source\": \"AzurePowerShell\",\r\n    \"InstrumentationKey\": \"a64a0dd8-8245-4bcc-81bc-5ad651938df2\",\r\n    \"ConnectionString\": \"InstrumentationKey=a64a0dd8-8245-4bcc-81bc-5ad651938df2\",\r\n    \"Name\": \"apppstestrg259\",\r\n    \"CreationDate\": \"2020-05-06T00:56:06.8857429+08:00\",\r\n    \"TenantId\": \"57947cb5-aadd-4b6c-9e8e-27f545bb7bf5\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"SamplingPercentage\": null,\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg259/providers/Microsoft.Insights/components/apppstestrg259/currentbillingfeatures?api-version=2015-05-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "b4e834a2-6aab-407d-9bf1-7ababf588c8f"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2110.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.15063",
          "Microsoft.Azure.Management.ApplicationInsights.Management.ApplicationInsightsManagementClient/0.1.0.1"
        ]
      },
      "ResponseBody": "{\r\n  \"CurrentBillingFeatures\": [\r\n    \"Basic\"\r\n  ],\r\n  \"DataVolumeCap\": {\r\n    \"Cap\": 100.0,\r\n    \"MaxHistoryCap\": 1000.0,\r\n    \"ResetTime\": 19,\r\n    \"WarningThreshold\": 90,\r\n    \"StopSendNotificationWhenHitThreshold\": false,\r\n    \"StopSendNotificationWhenHitCap\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "2b382e9e-b949-4e76-bd72-96cc3b8d05c9"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.ApplicationInsights.Management.ApplicationInsightsManagementClient/0.3.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "b4e834a2-6aab-407d-9bf1-7ababf588c8f"
        ],
        "x-content-type-options": [
          "nosniff",
          "nosniff"
        ],
        "x-ms-request-target-ikey": [
          "7SnR++mMeLceCvTHjbpPGe36AbXK0NpMtoctklaOQS4="
=======
          "2b382e9e-b949-4e76-bd72-96cc3b8d05c9"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Request-Context": [
          "appId=cid-v1:920e14b1-13f3-461a-a4bb-b4fe6f1a4525"
        ],
        "Access-Control-Expose-Headers": [
          "Request-Context"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14973"
        ],
        "x-ms-correlation-request-id": [
          "c1832bba-883b-43ff-af0e-f72afa4734df"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20171023T192354Z:c1832bba-883b-43ff-af0e-f72afa4734df"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Mon, 23 Oct 2017 19:23:54 GMT"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b90b0dec-9b9a-4778-a84e-4ffb73bb17f6/resourceGroups/pstestrg6679/providers/microsoft.insights/components/apppstestrg6679/quotastatus?api-version=2015-05-01",
=======
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "x-ms-correlation-request-id": [
          "7018901c-5709-4370-be6d-55ba66f74a82"
        ],
        "x-ms-routing-request-id": [
          "KOREASOUTH:20200505T165612Z:7018901c-5709-4370-be6d-55ba66f74a82"
        ],
        "Date": [
          "Tue, 05 May 2020 16:56:11 GMT"
        ],
        "Content-Length": [
          "248"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"CurrentBillingFeatures\": [\r\n    \"Basic\"\r\n  ],\r\n  \"DataVolumeCap\": {\r\n    \"Cap\": 100.0,\r\n    \"MaxHistoryCap\": 1000.0,\r\n    \"ResetTime\": 15,\r\n    \"WarningThreshold\": 90,\r\n    \"StopSendNotificationWhenHitThreshold\": false,\r\n    \"StopSendNotificationWhenHitCap\": false\r\n  },\r\n  \"EndTime\": \"2018-04-02T21:00:00+08:00\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg259/providers/Microsoft.Insights/components/apppstestrg259/quotastatus?api-version=2015-05-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "7f77c40c-b886-4f67-911c-4d6de0aedcd6"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2110.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.15063",
          "Microsoft.Azure.Management.ApplicationInsights.Management.ApplicationInsightsManagementClient/0.1.0.1"
        ]
      },
      "ResponseBody": "{\r\n  \"InstrumentationKey\": null,\r\n  \"AppId\": \"8cf28969-f6c1-4d8e-9bbc-91e68a3e21e8\",\r\n  \"ShouldBeThrottled\": false,\r\n  \"ExpirationTime\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "fd8362b1-a3da-45bd-9764-1f7b0683a778"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.ApplicationInsights.Management.ApplicationInsightsManagementClient/0.3.0.0"[...]
[...]
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/pstestrg259?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-ms-request-id": [
          "f65f258e-bed1-476a-97d8-94d76fba7353"
        ],
        "x-ms-correlation-request-id": [
          "f65f258e-bed1-476a-97d8-94d76fba7353"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20171023T192358Z:f65f258e-bed1-476a-97d8-94d76fba7353"
=======
        "Location": [
          "https://management.azure.com/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzI1OS1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ],
        "x-ms-request-id": [
          "ebfd7cb5-1fc0-4c4e-b1dd-8d46fac7f2f1"
        ],
        "x-ms-correlation-request-id": [
          "ebfd7cb5-1fc0-4c4e-b1dd-8d46fac7f2f1"
        ],
        "x-ms-routing-request-id": [
          "KOREASOUTH:20200505T165620Z:ebfd7cb5-1fc0-4c4e-b1dd-8d46fac7f2f1"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Mon, 23 Oct 2017 19:23:58 GMT"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/b90b0dec-9b9a-4778-a84e-4ffb73bb17f6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzY2NzktRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/b90b0dec-9b9a-4778-a84e-4ffb73bb17f6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzY2NzktRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
=======
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
          "Tue, 05 May 2020 16:56:20 GMT"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzI1OS1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
=======
        "Location": [
  [...]
[...]
