{
  "New-AzFederatedIdentityCredentials+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/fic-rg-49ei1m3y/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fic-identity-oqecha/federatedIdentityCredentials/fic-blsv9r?api-version=2023-01-31+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourceGroups/fic-rg-49ei1m3y/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fic-identity-oqecha/federatedIdentityCredentials/fic-blsv9r?api-version=2023-01-31",
      "Content": "{\n  \"properties\": {\n    \"issuer\": \"https://kubernetes-oauth.azure.npolvx\",\n    \"subject\": \"system:serviceaccount:ns:svcaccount-f2p1wq\",\n    \"audiences\": [ \"api://AzureADTokenExchange\" ]\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Location": [ "/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/fic-rg-49ei1m3y/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fic-identity-oqecha/federatedIdentityCredentials/fic-blsv9r" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1196" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/0336439f-0e9d-44ec-975e-62accb9b3901/resourcegroups/fic-rg-49ei1m3y/providers/Microsoft.ManagedIdentity/userAssignedIdentities/fic-identity-oqecha/federatedIdentityCredentials/fic-blsv9r\",\"name\":\"fic-blsv9r\",\"type\":\"Microsoft.ManagedIdentity/userAssignedIdentities/federatedIdentityCredentials\",\"properties\":{\"issuer\":\"https://kubernetes-oauth.azure.npolvx\",\"subject\":\"system:serviceaccount:ns:svcaccount-f2p1wq\",\"audiences\":[\"api://AzureADTokenExchange\"]}}",
    }
  }
}