{
  "Remove-AzUserAssignedIdentity+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/identity-of9g5pl0/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2bgdny?api-version=2023-01-31+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/identity-of9g5pl0/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2bgdny?api-version=2023-01-31",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "31" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14999" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Remove-AzUserAssignedIdentity+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/identity-of9g5pl0/providers/Microsoft.ManagedIdentity/userAssignedIdentities?api-version=2023-01-31+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/identity-of9g5pl0/providers/Microsoft.ManagedIdentity/userAssignedIdentities?api-version=2023-01-31",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "32" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11996" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"location\":\"centralus\",\"tags\":{},\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/identity-of9g5pl0/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityn1iz32\",\"name\":\"identityn1iz32\",\"type\":\"Microsoft.ManagedIdentity/userAssignedIdentities\",\"properties\":{\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"principalId\":\"8228e1aa-9528-4bd6-9336-738d9bfa4645\",\"clientId\":\"e5154b48-fcdf-4a77-a70e-67ea83c250a2\"}}]}",
    }
  },
  "Remove-AzUserAssignedIdentity+[NoContext]+DeleteViaIdentity+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/identity-of9g5pl0/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity3f9eiu?api-version=2023-01-31+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/identity-of9g5pl0/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity3f9eiu?api-version=2023-01-31",
      "Content": "{\r\n  \"location\": \"Central US\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Location": [ "/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/identity-of9g5pl0/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity3f9eiu" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"location\":\"centralus\",\"tags\":{},\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/identity-of9g5pl0/provider[...]
