{
  "Get-AzNetworkSecurityPerimeterAssociableResourceType+[NoContext]+List+$GET+https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/providers/Microsoft.Network/locations/eastus2euap/perimeterAssociableResourceTypes?api-version=2025-07-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/providers/Microsoft.Network/locations/eastus2euap/perimeterAssociableResourceTypes?api-version=2025-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "11" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"type\":\"\",\"nextLink\":\"https://management.azure.com/subscriptions/3846cb0f-4afa-47ee-8ea4-1c8449c8c8d9/providers/Microsoft.Network/locations/eastus2euap/perimeterAssociableResourceTypes?api-version=2025-07-01\u0026firstIndex=10\u0026pageSize=10\",\"value\":[{\"type\":\"Microsoft.Network/PerimeterAssociableResourceTypes\",\"name\":\"Microsoft.AppConfiguration.configurationStores\",\"id\":\"/subscriptions/{subscriptionId}/providers/Microsoft.Network/PerimeterAssociableResourceTypes/Microsoft.AppConfiguration.configurationStores\",\"properties\":{\"providerNamespace\":\"Microsoft.AppConfiguration\",\"resourceType\":\"configurationStores\",\"displayName\":\"Microsoft.AppConfiguration/configurationStores\",\"apiVersion\":\"2025-08-01-preview\",\"publicDnsZones\":[\"azconfig.io\",\"azconfig.azure.us\",\"azconfig.azure.cn\"],\"features\":[],\"availableControls\":[],\"serviceTags\":[],\"readinessState\":\"Onboarding\",\"outboundSupported\":true,\"description\":\"\"}},{\"type\":\"Microsoft.Network/PerimeterAssociableResourceTypes\",\"name\":\"Microsoft.CognitiveServices.accounts\",\"id\":\"/subscriptions/{subscriptionId}/providers/Microsoft.Network/PerimeterAssociableResourceTypes/Microsoft.CognitiveServices.accounts\",\"properties\":{\"providerNamespace\":\"Microsoft.CognitiveServices\",\"resourceType\":\"accounts\",\"displayName\":\"Microsoft.CognitiveServices/accounts\",\"apiVersion\":\"2021-10-01\",\"publicDnsZones\":[\"cognitiveservices.azure.com\[...]
