{
  "Get-AzNetworkCloudClusterManager+[NoContext]+ListBySubscription+$GET+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/clusterManagers?api-version=2023-07-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/clusterManagers?api-version=2023-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "35" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "f590c50b-4a67-4032-833c-139b8f776ae1", "0cb20f8e-42ae-40bb-a63e-6e3419661446", "dfbedd0d-9e43-455c-b97b-2fff9b2c380b", "5cbe6572-494a-4878-b229-b587984f111c" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11965" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/afoinc-l19-wv3ge6mfjdjqc/providers/Microsoft.NetworkCloud/clusterManagers/afoinc-l19-wv3ge6mfjdjqc\",\"name\":\"afoinc-l19-wv3ge6mfjdjqc\",\"type\":\"microsoft.networkcloud/clustermanagers\",\"location\":\"eastus\",\"tags\":{\"TreatFabricAsSubnet\":\"true\"},\"systemData\":{\"createdBy\":\"REDACTED\",\"createdByType\":\"User\",\"createdAt\":\"2022-08-26T15:26:43.5814924Z\",\"lastModifiedBy\":\"REDACTED\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2022-10-17T21:24:16.0692319Z\"},\"properties\":{\"analyticsWorkspaceId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/afoinc-l19-wv3ge6mfjdjqc/providers/Microsoft.OperationalInsights/workspaces/afoinc-l19-cm-law\",\"fabricControllerId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/aods-rg/providers/Microsoft.Network/virtualNetworks/aods-b37-vnet/subnets/ClusterManagerSubnet\",\"managedResourceGroupConfiguration\":{\"location\":\"eastus\",\"name\":\"afoinc-l19-clustermanager-mrg-wv3ge6mfjdjqc\"},\"provisioningState\":\"Failed\"}},{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/k2-clustermanager/providers/Microsoft.NetworkCloud/clusterManagers/k2-ft65crtuum3r4\",\"name\":\"k2-ft65crtuum3r4\",\"type\":\"microsoft.networkcloud/clustermanagers\",\"location\":\"eastus\",\"tags\":{\"DisableFabricIntegration\":\"true\",\"EnableClusterManagerInfraServices\":\"true\",\"EnableDenyAssignments\":\"True\"},\"systemData\":{\"createdBy\":\"de975306-d24e-4dec-9d3b-ef05c66f0075\",\"createdByType\":\"Application\",\"createdAt\":\"2023-03-30T02:23:42.2365461Z\",\"lastModifiedBy\":\"de975306-d24e-4dec-9d3b-ef05c66f0075\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2023-03-30T02:23:42.2365461Z\"},\"properties\":{\"analyticsWorkspaceId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/k2-clustermanager/providers/Microsoft.OperationalInsights/workspaces/k2-cm-law\",\"availabilityZones\":[\"1\",\"2\",\"3\"],\"fabricControllerId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/aods-rg/providers/Microsoft.Network/virtualNetworks/aods-b37-vnet/subnets/ClusterManagerSubnet\",\"managedResourceGroupConfiguration\":{\"location\":\"eastus\",\"name\":\"k2-clustermgr-mrg-ft65crtuum3r4\"},\"provisioningState\":\"InProgress\",\"vmSize\":\"Standard_D8s_v3\",\"clusterVersions\":[{\"supportExpiryDate\":\"2023-07-31 00:00:00 +0000 UTC\",\"targetClusterVersion\":\"0.1.6\"},{\"supportExpiryDate\":\"2023-07-31 00:00:00 +0000 UTC\",\"targetClusterVersion\":\"3.1.0\"}]}},{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/aostapenko-test-rg-cm1/providers/Microsoft.NetworkCloud/clusterManagers/sim-cluster-mgr-qc423ab4xacz4\",\"name\":\"sim-cluster-mgr-qc423ab4xacz4\",\"type\":\"microsoft.networkcloud/clustermanagers\",\"location\":\"eastus\",\"tags\":{\"DisableFabricIntegration\":\"true\",\"EnableClusterManagerInfraServices\":\"true\[...]
