{
  "Update-AzNetworkCloudClusterManager+[NoContext]+Update+$PATCH+https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/pstest_rglvf4zh/providers/Microsoft.NetworkCloud/clusterManagers/testClusterManager?api-version=2023-07-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/pstest_rglvf4zh/providers/Microsoft.NetworkCloud/clusterManagers/testClusterManager?api-version=2023-07-01",
      "Content": "{\n  \"tags\": {\n    \"EnableNexusRelay\": \"false\",\n    \"DisableFabricIntegration\": \"true\",\n    \"TagsUpdate\": \"NewTags\"\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"6904be07-0000-0100-0000-64c9b04e0000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ],
        "x-ms-providerhub-traffic": [ "True" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/pstest_rglvf4zh/providers/Microsoft.NetworkCloud/clusterManagers/testClusterManager\",\"name\":\"testClusterManager\",\"type\":\"microsoft.networkcloud/clustermanagers\",\"location\":\"eastus\",\"tags\":{\"EnableNexusRelay\":\"false\",\"DisableFabricIntegration\":\"true\",\"TagsUpdate\":\"NewTags\"},\"systemData\":{\"createdBy\":\"REDACTED\",\"createdByType\":\"User\",\"createdAt\":\"2023-08-02T01:08:57.4911506Z\",\"lastModifiedBy\":\"REDACTED\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-08-02T01:24:30.8190702Z\"},\"properties\":{\"analyticsWorkspaceId\":\"\",\"fabricControllerId\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/cli-test-ps/providers/Microsoft.Network/virtualNetworks/cmres/subnets/ClusterManagerSubnet\",\"managedResourceGroupConfiguration\":{\"location\":\"eastus\",\"name\":\"testClusterManager-HostedResources-121FD7C7\"},\"provisioningState\":\"Succeeded\",\"availabilityZones\":[\"1\",\"2\",\"3\"],\"vmSize\":\"Standard_D4_v2\",\"clusterVersions\":[{\"supportExpiryDate\":\"2023-07-15 00:00:00 +0000 UTC\",\"targetClusterVersion\":\"3.2.2\"},{\"supportExpiryDate\":\"2024-04-30 00:00:00 +0000 UTC\",\"targetClusterVersion\":\"3.3.0\"},{\"supportExpiryDate\":\"2024-04-30 00:00:00 +0000 UTC\",\"targetClusterVersion\":\"3.4.0\"}],\"managerExtendedLocation\":{\"name\":\"/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/testclustermanager-hostedresources-121fd7c7/providers/microsoft.extendedlocation/customlocations/testclustermanager-cl\",\"type\":\"CustomLocation\"}}}",
    }
  }
}