{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourcegroups/ps1124?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Europe\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124\",\r\n  \"name\": \"ps1124\",\r\n  \"location\": \"westeurope\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"location\": \"West Europe\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5574\",\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"97eb879b-b97b-4328-b74e-238725067c88\",\r\n    \"tenantId\": \"f686d426-8d16-42db-81b7-ab578e110ccd\"\r\n  },\r\n  \"id\": \"/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574\",\r\n  \"type\": \"Microsoft.DataFactory/factories\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"createTime\": \"2018-07-21T14:38:53.7029287Z\",\r\n    \"version\": \"2018-06-01\"\r\n  },\r\n  \"eTag\": \"\\\"0000180d-0000-0000-0000-5b53457d0000\\\"\",\r\n  \"location\": \"West Europe\",\r\n  \"tags\": {}\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574-linked?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"location\": \"West Europe\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5574-linked\",\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"ef310c4e-ad78-4d15-a6b8-68c88c5e3eaa\",\r\n    \"tenantId\": \"f686d426-8d16-42db-81b7-ab578e110ccd\"\r\n  },\r\n  \"id\": \"/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574-linked\",\r\n  \"type\": \"Microsoft.DataFactory/factories\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"createTime\": \"2018-07-21T14:38:59.0107581Z\",\r\n    \"version\": \"2018-06-01\"\r\n  },\r\n  \"eTag\": \"\\\"0000190d-0000-0000-0000-5b5345830000\\\"\",\r\n  \"location\": \"West Europe\",\r\n  \"tags\": {}\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574/integrationRuntimes/selfhosted-test-integrationruntime?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"The document could not be retrieved because it does not exist.\",\r\n    \"target\": \"/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574/integrationruntimes/selfhosted-test-integrationruntime\",\r\n    \"details\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14989"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574/integrationRuntimes/selfhosted-test-integrationruntime?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"type\": \"SelfHosted\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574/integrationruntimes/selfhosted-test-integrationruntime\",\r\n  \"name\": \"selfhosted-test-integrationruntime\",\r\n  \"type\": \"Microsoft.DataFactory/factories/integrationruntimes\",\r\n  \"properties\": {\r\n    \"type\": \"SelfHosted\"\r\n  },\r\n  \"etag\": \"0000c95f-0000-0000-0000-5b5345990000\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1189"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574/integrationruntimes/selfhosted-test-integrationruntime/providers/Microsoft.Authorization/roleAssignments/6558f9a7-689c-41d3-93bd-3281fbe3d26f?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574/integrationruntimes/selfhosted-test-integrationruntime/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\r\n    \"principalId\": \"ef310c4e-ad78-4d15-a6b8-68c88c5e3eaa\",\r\n    \"canDelegate\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\r\n    \"principalId\": \"ef310c4e-ad78-4d15-a6b8-68c88c5e3eaa\",\r\n    \"principalType\": \"ServicePrincipal\",\r\n    \"scope\": \"/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574/integrationruntimes/selfhosted-test-integrationruntime\",\r\n    \"createdOn\": \"2018-07-21T14:39:23.3135052Z\",\r\n    \"updatedOn\": \"2018-07-21T14:39:23.3135052Z\",\r\n    \"createdBy\": null,\r\n    \"updatedBy\": \"01fc2db1-61b6-4e82-b865-f708e52819a4\",\r\n    \"canDelegate\": false\r\n  },\r\n  \"id\": \"/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574/integrationruntimes/selfhosted-test-integrationruntime/providers/Microsoft.Authorization/roleAssignments/6558f9a7-689c-41d3-93bd-3281fbe3d26f\",\r\n  \"type\": \"Microsoft.Authorization/roleAssignments\",\r\n  \"name\": \"6558f9a7-689c-41d3-93bd-3281fbe3d26f\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1188"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "//subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleName\": \"Contributor\",\r\n    \"type\": \"BuiltInRole\",\r\n    \"description\": \"Lets you manage everything except access to resources.\",\r\n    \"assignableScopes\": [\r\n      \"/\"\r\n    ],\r\n    \"permissions\": [\r\n      {\r\n        \"actions\": [\r\n          \"*\"\r\n        ],\r\n        \"notActions\": [\r\n          \"Microsoft.Authorization/*/Delete\",\r\n          \"Microsoft.Authorization/*/Write\",\r\n          \"Microsoft.Authorization/elevateAccess/Action\"\r\n        ],\r\n        \"dataActions\": [],\r\n        \"notDataActions\": []\r\n      }\r\n    ],\r\n    \"createdOn\": \"0001-01-01T08:00:00Z\",\r\n    \"updatedOn\": \"2016-12-14T02:00:11.531269Z\",\r\n    \"createdBy\": null,\r\n    \"updatedBy\": null\r\n  },\r\n  \"id\": \"/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\r\n  \"type\": \"Microsoft.Authorization/roleDefinitions\",\r\n  \"name\": \"b24988ac-6180-42a0-ab88-20f7382dd24c\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14988"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/f686d426-8d16-42db-81b7-ab578e110ccd/getObjectsByObjectIds?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"objectIds\": [\r\n    \"ef310c4e-ad78-4d15-a6b8-68c88c5e3eaa\"\r\n  ],\r\n  \"includeDirectoryObjectReferences\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.ppe.windows.net/f686d426-8d16-42db-81b7-ab578e110ccd/$metadata#directoryObjects\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n      \"objectType\": \"ServicePrincipal\",\r\n      \"objectId\": \"ef310c4e-ad78-4d15-a6b8-68c88c5e3eaa\",\r\n      \"deletionTimestamp\": null,\r\n      \"accountEnabled\": true,\r\n      \"addIns\": [],\r\n      \"alternativeNames\": [\r\n        \"isExplicit=False\",\r\n        \"/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourcegroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574-linked\"\r\n      ],\r\n      \"appDisplayName\": null,\r\n      \"appId\": \"5f919641-e8b1-4529-a2fb-a2cb7e758819\",\r\n      \"appOwnerTenantId\": null,\r\n      \"appRoleAssignmentRequired\": false,\r\n      \"appRoles\": [],\r\n      \"displayName\": \"ps5574-linked\",\r\n      \"errorUrl\": null,\r\n      \"homepage\": null,\r\n      \"keyCredentials\": [\r\n        {\r\n          \"customKeyIdentifier\": \"EBF212F75C418A517CF8D2B9D33284FF3E1A1F97\",\r\n          \"endDate\": \"2018-10-19T14:33:00Z\",\r\n          \"keyId\": \"f872a2bf-e628-4e34-a64c-c2d9dbacdcb3\",\r\n          \"startDate\": \"2018-07-21T14:33:00Z\",\r\n          \"type\": \"AsymmetricX509Cert\",\r\n          \"usage\": \"Verify\",\r\n          \"value\": null\r\n        }\r\n      ],\r\n      \"logoutUrl\": null,\r\n      \"oauth2Permissions\": [],\r\n      \"passwordCredentials\": [],\r\n      \"preferredTokenSigningKeyThumbprint\": null,\r\n      \"publisherName\": null,\r\n      \"replyUrls\": [],\r\n      \"samlMetadataUrl\": null,\r\n      \"servicePrincipalNames\": [\r\n        \"5f919641-e8b1-4529-a2fb-a2cb7e758819\",\r\n        \"https://identity.azure.net/MwQVs6H1V/HKYSEU+3CllWsPHwU92SWFVzF3S6UraJY=\"\r\n      ],\r\n      \"servicePrincipalType\": \"ManagedIdentity\",\r\n      \"signInAudience\": null,\r\n      \"tags\": [],\r\n      \"tokenEncryptionKeyId\": null\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "XMXsyaf2U0bCyHDL5nNMmIIZia/I5+ykf0ewvfeAFbw="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "y7yIngy6mgprpu-0hAk7FCgDxtpvNe2PImOYsQ4glx5k0uqLlCeoAnQM-DNzsyLhtTyrFOzk0v7mzo1DqpJp6mMmcDd5esHAD4kOdt9GXGNytQgf4KG9BzbLOVutL6FE.dOrOWP7imANIEyTwTgVb3B5Hwqgt1DSlW9EPHUMLlPs"
        ],
        "x-aad-auth-flow": [
          "non-interactive"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "15044415"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574-linked/integrationRuntimes/LinkedIntegrationRuntime?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"The document could not be retrieved because it does not exist.\",\r\n    \"target\": \"/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574-linked/integrationruntimes/LinkedIntegrationRuntime\",\r\n    \"details\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14987"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574-linked/integrationRuntimes/LinkedIntegrationRuntime?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"type\": \"SelfHosted\",\r\n    \"typeProperties\": {\r\n      \"linkedInfo\": {\r\n        \"authorizationType\": \"RBAC\",\r\n        \"resourceId\": \"/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574/integrationruntimes/selfhosted-test-integrationruntime\"\r\n      }\r\n    },\r\n    \"description\": \"This is a linked integration runtime\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574-linked/integrationruntimes/LinkedIntegrationRuntime\",\r\n  \"name\": \"LinkedIntegrationRuntime\",\r\n  \"type\": \"Microsoft.DataFactory/factories/integrationruntimes\",\r\n  \"properties\": {\r\n    \"type\": \"SelfHosted\",\r\n    \"description\": \"This is a linked integration runtime\",\r\n    \"typeProperties\": {\r\n      \"linkedInfo\": {\r\n        \"authorizationType\": \"RBAC\",\r\n        \"resourceId\": \"/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574/integrationruntimes/selfhosted-test-integrationruntime\"\r\n      }\r\n    }\r\n  },\r\n  \"etag\": \"0100b809-0000-0000-0000-5b5345b90000\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1187"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574-linked/integrationRuntimes/LinkedIntegrationRuntime/monitoringData?api-version=2018-06-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"selfhosted-test-integrationruntime\",\r\n  \"nodes\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14986"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574-linked/integrationRuntimes?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574-linked/integrationruntimes/LinkedIntegrationRuntime\",\r\n      \"name\": \"LinkedIntegrationRuntime\",\r\n      \"type\": \"Microsoft.DataFactory/factories/integrationruntimes\",\r\n      \"properties\": {\r\n        \"type\": \"SelfHosted\",\r\n        \"description\": \"This is a linked integration runtime\",\r\n        \"typeProperties\": {\r\n          \"linkedInfo\": {\r\n            \"authorizationType\": \"RBAC\",\r\n            \"resourceId\": \"/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574/integrationruntimes/selfhosted-test-integrationruntime\"\r\n          }\r\n        }\r\n      },\r\n      \"etag\": \"0100b809-0000-0000-0000-5b5345b90000\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14985"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574/integrationRuntimes/selfhosted-test-integrationruntime/removeLinks?api-version=2018-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"factoryName\": \"ps5574-linked\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1186"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "//subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574/integrationruntimes/selfhosted-test-integrationruntime/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20'ef310c4e-ad78-4d15-a6b8-68c88c5e3eaa'&api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n[...]
    {
      "RequestUri": "//subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourceGroups/ps1124/providers/Microsoft.DataFactory/factories/ps5574/integrationruntimes/selfhosted-test-integrationruntime/providers/Microsoft.Authorization/roleDefinitions?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleName\": \"GenevaWarmPathR[...]
[...]
    {
      "RequestUri": "/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/resourcegroups/ps1124?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14997"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzExMjQtV0VTVEVVUk9QRSIsImpvYkxvY2F0aW9uIjoid2VzdGV1cm9wZSJ9?api-version=2016-09-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzExMjQtV0VTVEVVUk9QRSIsImpvYkxvY2F0aW9uIjoid2VzdGV1cm9wZSJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzExMjQtV0VTVEVVUk9QRSIsImpvYkxvY2F0aW9uIjoid2VzdGV1cm9wZSJ9?api-version=2016-09-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/c39dce18-cead-4065-8fb1-3af7683a5038/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzExMjQtV0VTVEVVUk9QRSIsImpvYkxvY2F0aW9uIjoid2VzdGV1cm9wZSJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-Shared-IntegrationRuntime": [
      "ps5574",
      "ps1124"
    ]
  },
  "Variables": {
    "SubscriptionId": "c39dce18-cead-4065-8fb1-3af7683a5038",
    "TenantId": "f686d426-8d16-42db-81b7-ab578e110ccd"
  }
}