{
  "Get-AzMapsAccountKey+[NoContext]+List+$POST+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/maps-rg-qhzp2i/providers/Microsoft.Maps/accounts/mapsnu0d57/listKeys?api-version=2021-02-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/maps-rg-qhzp2i/providers/Microsoft.Maps/accounts/mapsnu0d57/listKeys?api-version=2021-02-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "9" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "198" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"primaryKey\": \"*****\",\n  \"secondaryKey\": \"*****\",\n  \"primaryKeyLastUpdated\": \"2025-04-16T02:01:47.0865805Z\",\n  \"secondaryKeyLastUpdated\": \"2025-04-16T02:01:47.0866587Z\"\n}",
    }
  }
}