{
  "Entries": [
    {
      "RequestUri": "/subscriptions/8dad10ed-97e6-41aa-8594-a1497297897a/providers/Microsoft.DocumentDB/locations/West%20US%202/softDeletedDatabaseAccounts?api-version=2026-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-throttling-version": [
          "v2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"clisdpacc4wkslacy6a4\",\r\n      \"type\": \"Microsoft.DocumentDB/softDeletedDatabaseAccounts\",\r\n      \"id\": \"/subscriptions/8dad10ed-97e6-41aa-8594-a1497297897a/resourceGroups/cli_test_cosmosdb_softdelete_coll_purge5huu3bux5an4rnphqhszepv3nf4cqn2epgtj/providers/Microsoft.DocumentDB/locations/West US 2/softDeletedDatabaseAccounts/clisdpacc4wkslacy6a4\",\r\n      \"properties\": {\r\n        \"accountName\": \"clisdpacc4wkslacy6a4\",\r\n        \"softDeletionMetadata\": {\r\n          \"isSoftDeleted\": true,\r\n          \"softDeletionStartTimestamp\": 1782360596,\r\n          \"softDeletionResourceExpirationTimestamp\": 1782360716\r\n        },\r\n        \"softDeleteConfiguration\": {\r\n          \"softDeletionEnabled\": true,\r\n          \"minMinutesBeforePermanentDeletionAllowed\": 1,\r\n          \"softDeleteRetentionPeriodInMinutes\": 2\r\n        },\r\n        \"resource\": {\r\n          \"writeLocations\": [\r\n            {\r\n              \"id\": \"clisdpacc4wkslacy6a4-westus2\",\r\n              \"locationName\": \"West US 2\",\r\n              \"documentEndpoint\": \"https://clisdpacc4wkslacy6a4-westus2.documents.azure.com:443/\",\r\n              \"provisioningState\": \"Offline\",\r\n              \"failoverPriority\": 0,\r\n              \"isZoneRedundant\": false\r\n            }\r\n          ],\r\n          \"readLocations\": [\r\n            {\r\n              \"id\": \"clisdpacc4wkslacy6a4-westus2\",\r\n              \"locationName\": \"West US 2\",\r\n              \"documentEndpoint\": \"https://clisdpacc4wkslacy6a4-westus2.documents.azure.com:443/\",\r\n              \"provisioningState\": \"Offline\",\r\n              \"failoverPriority\": 0,\r\n              \"isZoneRedundant\": false\r\n            }\r\n          ],\r\n          \"locations\": [\r\n            {\r\n              \"id\": \"clisdpacc4wkslacy6a4-westus2\",\r\n              \"locationName\": \"West US 2\",\r\n              \"documentEndpoint\": \"https://clisdpacc4wkslacy6a4-westus2.documents.azure.com:443/\",\r\n              \"provisioningState\": \"Offline\",\r\n              \"failoverPriority\": 0,\r\n              \"isZoneRedundant\": false\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"clisddacc2weis3cyiry\",\r\n   [...]
    {
      "RequestUri": "/subscriptions/8dad10ed-97e6-41aa-8594-a1497297897a/resourceGroups/cli_test_cosmosdb_softdelete_coll_purge5huu3bux5an4rnphqhszepv3nf4cqn2epgtj/providers/Microsoft.DocumentDB/locations/West%20US%202/softDeletedDatabaseAccounts/clisdpacc4wkslacy6a4?api-version=2026-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
     [...]
