{
  "Entries": [
    {
      "RequestUri": "/subscriptions/8dad10ed-97e6-41aa-8594-a1497297897a/providers/Microsoft.DocumentDB/locations/East%20US/softDeletedDatabaseAccounts?api-version=2026-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-gatewayversion": [
          "version=2.14.0"
        ],
        "x-ms-throttling-version": [
          "v2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "8dad10ed-97e6-41aa-8594-a1497297897a"
  }
}