{
  "Entries": [
    {
      "RequestUri": "/subscriptions/22e614a1-bbb9-4692-acc9-e5c8e9b22b7e/resources?$filter=resourceType%20eq%20'Microsoft.Batch%2FbatchAccounts'&api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/22e614a1-bbb9-4692-acc9-e5c8e9b22b7e/resourceGroups/cmdletexample/providers/Microsoft.Batch/batchAccounts/cmdletexample\",\r\n      \"name\": \"cmdletexample\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"westus\",\r\n      \"tags\": {\r\n        \"tag1\": \"value1\",\r\n        \"tag2\": \"value2\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/22e614a1-bbb9-4692-acc9-e5c8e9b22b7e/resourceGroups/tests/providers/Microsoft.Batch/batchAccounts/filetests\",\r\n      \"name\": \"filetests\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"westus\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/22e614a1-bbb9-4692-acc9-e5c8e9b22b7e/resourceGroups/tests/providers/Microsoft.Batch/batchAccounts/usertests\",\r\n      \"name\": \"usertests\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"westus\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/22e614a1-bbb9-4692-acc9-e5c8e9b22b7e/resourceGroups/tests/providers/Microsoft.Batch/batchAccounts/vmtests\",\r\n      \"name\": \"vmtests\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"westus\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31981"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/22e614a1-bbb9-4692-acc9-e5c8e9b22b7e/resourceGroups/tests/providers/Microsoft.Batch/batchAccounts/usertests?api-version=2014-05-01-privatepreview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01-privatepreview"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"usertests\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"accountEndpoint\": \"usertests.batch-test.windows-int.net\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/22e614a1-bbb9-4692-acc9-e5c8e9b22b7e/resourceGroups/tests/providers/Microsoft.Batch/batchAccounts/usertests\",\r\n  \"type\": \"Microsoft.Batch/batchAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Tue, 07 Apr 2015 20:54:16 GMT"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31980"
        ],
        "ETag": [
          "0x8D23F8C25256258"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/22e614a1-bbb9-4692-acc9-e5c8e9b22b7e/resourceGroups/tests/providers/Microsoft.Batch/batchAccounts/usertests/listKeys?api-version=2014-05-01-privatepreview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01-privatepreview"
        ]
      },
      "ResponseBody": "{\r\n  \"accountName\": \"usertests\",\r\n  \"primary\": \"ZwKYqE/etpYU+5I6sHBT/JU0iFYjhQy5o7u/t0VadKp9/LHVZVL61mEz2b6nZ+5qX9UR1eyEKc5SfLlhtX0i9Q==\",\r\n  \"secondary\": \"C227ETQSsRIVdDE1wj+L7LGFvtem8Km9yLxxe9ZQ6z6uVFfy1WqFinA/nR4BVeEqZKrFFdjF4+U9aKayXqi7dA==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1189"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/testPool/tvms/tvm-1900272697_1-20150407t180708z/users?api-version=2014-10-01.1.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"odata.metadata\": \"https://batch-test.windows-int.net/$metadata#users/@Element\",\r\n  \"name\": \"testCreateUser\",\r\n  \"isAdmin\": false,\r\n  \"password\": \"Password1234!\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json;odata=minimalmetadata"
        ],
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Tue, 07 Apr 2015 20:54:16 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://usertests.batch-test.windows-int.net/pools/testPool/tvms/tvm-1900272697_1-20150407t180708z/users/testCreateUser"
        ],
        "Location": [
          "https://usertests.batch-test.windows-int.net/pools/testPool/tvms/tvm-1900272697_1-20150407t180708z/users/testCreateUser"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/pools/testPool/tvms/tvm-1900272697_1-20150407t180708z/users?api-version=2014-10-01.1.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"odata.metadata\": \"https://batch-test.windows-int.net/$metadata#users/@Element\",\r\n  \"name\": \"testCreateUser\",\r\n  \"isAdmin\": false,\r\n  \"password\": \"Password1234!\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json;odata=minimalmetadata"
        ],
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Tue, 07 Apr 2015 20:54:17 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://usertests.batch-test.windows-int.net/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\r\n  \"code\": \"TVMUserExists\",\r\n  \"message\": {\r\n    \"lang\": \"en-US\",\r\n    \"value\": \"The specified TVM user already exists.\\nRequestId:8c3a49c8-5081-41c5-9b83-f75cd66eac02\\nTime:2015-04-07T20:54:18.3545138Z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 409
    },
    {
      "RequestUri": "/pools/testPool/tvms/tvm-1900272697_1-20150407t180708z/users/testCreateUser?api-version=2014-10-01.1.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Tue, 07 Apr 2015 20:54:19 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "22e614a1-bbb9-4692-acc9-e5c8e9b22b7e"
  }
}