{
  "Get-AzSecuritySqlVulnerabilityAssessmentScan+[NoContext]+List+$GET+https://management.azure.com//subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Sql/servers/vasqlsrv000002/databases/vasqldb000003/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/scans?api-version=2026-04-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com//subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Sql/servers/vasqlsrv000002/databases/vasqldb000003/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/scans?api-version=2026-04-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [
          "1"
        ],
        "Authorization": [
          "[Filtered]"
        ]
      },
      "ContentHeaders": {}
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "99"
        ]
      },
      "ContentHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "Content": "{\"value\": [{\"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Sql/servers/vasqlsrv000002/databases/vasqldb000003/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/scans/aa735d1b-92ce-42f9-adc6-ef1806a65e0d\", \"name\": \"aa735d1b-92ce-42f9-adc6-ef1806a65e0d\", \"type\": \"Microsoft.Security/sqlVulnerabilityAssessments/scans\", \"properties\": {\"triggerType\": \"OnDemand\", \"state\": \"Failed\", \"server\": \"vasqlsrv000002\", \"database\": \"vasqldb000003\", \"sqlVersion\": \"17.0.9114\", \"startTime\": \"2026-06-03T08:57:48.2047016+00:00\", \"endTime\": \"2026-06-03T08:57:50.0205424+00:00\", \"highSeverityFailedRulesCount\": 0, \"mediumSeverityFailedRulesCount\": 1, \"lowSeverityFailedRulesCount\": 0, \"totalPassedRulesCount\": 23, \"totalFailedRulesCount\": 1}}]}",
    }
  },
  "Get-AzSecuritySqlVulnerabilityAssessmentScan+[NoContext]+Get+$GET+https://management.azure.com//subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Sql/servers/vasqlsrv000002/databases/vasqldb000003/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/scans/aa735d1b-92ce-42f9-adc6-ef1806a65e0d?api-version=2026-04-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.c[...]
