{
  "Get-AzSecuritySqlVulnerabilityAssessmentSetting+[NoContext]+Get+$GET+https://management.azure.com//subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Sql/servers/vasqlsrv000002/databases/vasqldb000003/providers/Microsoft.Security/sqlVulnerabilityAssessments/default?api-version=2026-04-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com//subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Sql/servers/vasqlsrv000002/databases/vasqldb000003/providers/Microsoft.Security/sqlVulnerabilityAssessments/default?api-version=2026-04-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [
          "1"
        ],
        "Authorization": [
          "[Filtered]"
        ]
      },
      "ContentHeaders": {}
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "99"
        ]
      },
      "ContentHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "Content": "{\"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Sql/servers/vasqlsrv000002/databases/vasqldb000003/providers/Microsoft.Security/sqlVulnerabilityAssessments/default\", \"name\": \"default\", \"type\": \"Microsoft.Security/sqlVulnerabilityAssessments\", \"properties\": {\"creationTime\": \"2026-06-03T08:57:26.987+00:00\", \"state\": \"Enabled\"}}",
    }
  },
  "Get-AzSecuritySqlVulnerabilityAssessmentSetting+[NoContext]+GetViaIdentity+$GET+https://management.azure.com//subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Sql/servers/vasqlsrv000002/databases/vasqldb000003/providers/Microsoft.Security/sqlVulnerabilityAssessments/default?api-version=2026-04-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com//subscriptions/487[...]
