{
  "Get-AzSecurityConnectorGitLabSubgroup+[NoContext]+List+$POST+https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests/listSubgroups?api-version=2023-09-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests/listSubgroups?api-version=2023-09-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "39" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "mise-correlation-id": [ "6dc6ad2e-1dc0-4b55-bc54-92b7d8cb172a" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"fullyQualifiedName\":\"dfdsdktests$testsubgroup1$testsubgroupNested\",\"fullyQualifiedFriendlyName\":\"Defender for DevOps SDK Tests / testsubgroup1 / Test Subgroup\",\"url\":\"https://gitlab.com/groups/dfdsdktests/testsubgroup1/testsubgroupNested\",\"onboardingState\":\"Onboarded\",\"provisioningStatusMessage\":\"Resource modification successful.\",\"provisioningStatusUpdateTimeUtc\":\"2024-02-13T22:42:12Z\",\"provisioningState\":\"Succeeded\"},\"id\":\"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests$testsubgroup1$testsubgroupNested\",\"name\":\"dfdsdktests$testsubgroup1$testsubgroupNested\",\"type\":\"Microsoft.Security/securityConnectors/devops/gitLabGroups\"},{\"properties\":{\"fullyQualifiedName\":\"dfdsdktests$testsubgroup1\",\"fullyQualifiedFriendlyName\":\"Defender for DevOps SDK Tests / testsubgroup1\",\"url\":\"https://gitlab.com/groups/dfdsdktests/testsubgroup1\",\"onboardingState\":\"Onboarded\",\"provisioningStatusMessage\":\"Resource modification successful.\",\"provisioningStatusUpdateTimeUtc\":\"2024-02-13T22:42:14Z\",\"provisioningState\":\"Succeeded\"},\"id\":\"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests$testsubgroup1\",\"name\":\"dfdsdktests$testsubgroup1\",\"type\":\"Microsoft.Security/securityConnectors/devops/gitLabGroups\"}]}",
    }
  }
}