{
  "Get-AzSecurityConnectorGitLabProject+[NoContext]+List+$GET+https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests/projects?api-version=2023-09-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests/projects?api-version=2023-09-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "35" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ],
        "mise-correlation-id": [ "32b7bbe6-aea4-437f-918d-913b1d470ce1" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"fullyQualifiedName\":\"dfdsdktests$testapp10\",\"fullyQualifiedFriendlyName\":\"Defender for DevOps SDK Tests / TestApp10\",\"fullyQualifiedParentGroupName\":\"dfdsdktests\",\"url\":\"https://gitlab.com/dfdsdktests/testapp10\",\"onboardingState\":\"Onboarded\",\"provisioningStatusMessage\":\"Resource modification successful.\",\"provisioningStatusUpdateTimeUtc\":\"1970-01-01T00:00:00Z\",\"provisioningState\":\"Succeeded\"},\"id\":\"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests/projects/testapp10\",\"name\":\"testapp10\",\"type\":\"Microsoft.Security/securityConnectors/devops/gitLabGroups/projects\"},{\"properties\":{\"fullyQualifiedName\":\"dfdsdktests$testapp11\",\"fullyQualifiedFriendlyName\":\"Defender for DevOps SDK Tests / TestApp11\",\"fullyQualifiedParentGroupName\":\"dfdsdktests\",\"url\":\"https://gitlab.com/dfdsdktests/testapp11\",\"onboardingState\":\"Onboarded\",\"provisioningStatusMessage\":\"Resource modification successful.\",\"provisioningStatusUpdateTimeUtc\":\"1970-01-01T00:00:00Z\",\"provisioningState[...]
