{
  "Get-AzSecurityConnectorGitHubRepo+[NoContext]+List+$GET+https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default/gitHubOwners/dfdsdktests/repos?api-version=2023-09-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default/gitHubOwners/dfdsdktests/repos?api-version=2023-09-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "28" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ],
        "mise-correlation-id": [ "3cf6587e-ee6c-4b40-9901-8715a016f4a5" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"repoId\":\"728418798\",\"repoName\":\"TestApp0\",\"onboardingState\":\"Onboarded\",\"repoUrl\":\"https://github.com/dfdsdktests/TestApp0\",\"parentOwnerName\":\"dfdsdktests\",\"provisioningStatusUpdateTimeUtc\":\"2024-02-14T00:45:48Z\"},\"id\":\"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default/gitHubOwners/dfdsdktests/repos/TestApp0\",\"name\":\"TestApp0\",\"type\":\"Microsoft.Security/securityConnectors/devops/gitHubOwners/repos\"},{\"properties\":{\"repoId\":\"730346643\",\"repoName\":\"TestApp1\",\"onboardingState\":\"Onboarded\",\"repoUrl\":\"https://github.com/dfdsdktests/TestApp1\",\"parentOwnerName\":\"dfdsdktests\",\"provisioningStatusUpdateTimeUtc\":\"2024-02-14T00:45:48Z\"},\"id\":\"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default/gitHub[...]
