{
  "Remove-AzSecuritySqlVulnerabilityAssessmentSetting+[NoContext]+Delete+$DELETE+https://management.azure.com//subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Sql/servers/vasqlsrv000002/databases/vasqldb000003/providers/Microsoft.Security/sqlVulnerabilityAssessments/default?api-version=2026-04-01-preview+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com//subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Sql/servers/vasqlsrv000002/databases/vasqldb000003/providers/Microsoft.Security/sqlVulnerabilityAssessments/default?api-version=2026-04-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [
          "1"
        ],
        "Authorization": [
          "[Filtered]"
        ]
      },
      "ContentHeaders": {}
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "99"
        ]
      },
      "ContentHeaders": {
      },
      "Content": "",
    }
  },
  "Remove-AzSecuritySqlVulnerabilityAssessmentSetting+[NoContext]+DeleteViaIdentity+$DELETE+https://management.azure.com//subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Sql/servers/vasqlsrv000002/databases/vasqldb000003/providers/Microsoft.Security/sqlVulnerabilityAssessments/default?api-version=2026-04-01-preview+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com//subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Sql/servers/vasqlsrv000002/databases/vasqldb000003/providers/Microsoft.Security/sqlVulnerabilityAssessments/default?api-version=2026-04-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [
          "2"
        ],
        "Authorization": [
          "[Filtered]"
        ]
      },
      "ContentHeaders": {}
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "99"
        ]
      },
      "ContentHeaders": {
      },
      "Content": "",
    }
  }
}
