{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/invoices?api-version=2018-03-01-preview&$expand=downloadUrl&$top=1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/invoices/201710-317724100092362\",\r\n      \"type\": \"Microsoft.Billing/invoices\",\r\n      \"name\": \"201710-317724100092362\",\r\n      \"properties\": {\r\n        \"downloadUrl\": {\r\n          \"expiryTime\": \"2018-03-23T21:02:35Z\",\r\n          \"url\": \"https://billinginsightsstoretest.blob.core.windows.net/invoices/c909e979-ef71-4def-a970-bc7c154db8c5-201710-317724100092362.pdf?sv=2014-02-14&sr=b&sig=W1SsB4qFmVTt%2FWnlLk8JIXrs4tLONPFwg7cfjeaeK6M%3D&se=2018-03-23T21%3A02%3A35Z&sp=r\"\r\n        },\r\n        \"invoicePeriodEndDate\": \"2017-08-05\",\r\n        \"invoicePeriodStartDate\": \"2017-07-06\",\r\n        \"billingPeriodIds\": [\r\n          \"/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/billingPeriods/201710-1\"\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "api-supported-versions": [
          "2017-02-27-preview, 2017-04-24-preview, 2018-03-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14990"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "c909e979-ef71-4def-a970-bc7c154db8c5"
  }
}