{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backup/BackupVault/backuprn2/registeredContainers/iaasvmcontainer%3Bpowershellbvt1%3Bpowershellbvt1/protectedItems/iaasvmcontainer%3Bpowershellbvt1%3Bpowershellbvt1?api-version=2014-09-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"policyId\": \"\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "\"69fe59fa-ee89-4bcf-b57f-15701c0b0517\"",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backup/BackupVault/backuprn2/operationResults/69fe59fa-ee89-4bcf-b57f-15701c0b0517?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\",\r\n  \"error\": {\r\n    \"code\": \"\",\r\n    \"message\": \"\"\r\n  },\r\n  \"jobList\": [\r\n    \"7a7c1f06-a2b0-4774-983b-64b2e88f7b76\"\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backup/BackupVault/backuprn2/jobs/7a7c1f06-a2b0-4774-983b-64b2e88f7b76?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"tasksList\": [],\r\n    \"propertyBag\": {\r\n      \"VM Name\": \"powershellbvt1\",\r\n      \"Delete Backup Data\": \"False\"\r\n    },\r\n    \"progressPercentage\": null,\r\n    \"dynamicErrorMessage\": null,\r\n    \"workloadType\": \"IaasVM\",\r\n    \"operation\": \"Unprotect\",\r\n    \"status\": \"Completed\",\r\n    \"startTimestamp\": \"2015-09-24T14:14:59.1549513Z\",\r\n    \"endTimestamp\": \"2015-09-24T14:15:03.2479149Z\",\r\n    \"duration\": \"00:00:04.0929636\",\r\n    \"entityFriendlyName\": \"powershellbvt1\",\r\n    \"actionsInfo\": null,\r\n    \"errorDetails\": null\r\n  },\r\n  \"id\": \"/subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backup/BackupVault/backuprn2/jobs/7a7c1f06-a2b0-4774-983b-64b2e88f7b76\",\r\n  \"name\": \"7a7c1f06-a2b0-4774-983b-64b2e88f7b76\",\r\n  \"type\": \"Microsoft.Backup/BackupVault/jobs\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "f5303a0b-fae4-4cdb-b44d-0e4c032dde26"
  }
}