{
  "Update-AzWindowsIotServicesDevice+[NoContext]+UpdateExpanded+$PATCH+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/wis-f4v98a-test/providers/Microsoft.WindowsIoT/DeviceServices/wis-imsg4v?api-version=2019-06-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/wis-f4v98a-test/providers/Microsoft.WindowsIoT/DeviceServices/wis-imsg4v?api-version=2019-06-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"quantity\": 100\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"a900e466-0000-0700-0000-5fb36b410000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1196" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/wis-f4v98a-test/providers/Microsoft.WindowsIoT/DeviceServices/wis-imsg4v\",\"name\":\"wis-imsg4v\",\"type\":\"Microsoft.WindowsIoT/DeviceServices\",\"etag\":\"\\\"a900e466-0000-0700-0000-5fb36b410000\\\"\",\"location\":\"eastus\",\"properties\":{\"adminDomainName\":\"microsoft.onmicrosoft.com\",\"billingDomainName\":\"microsoft.onmicrosoft.com\",\"quantity\":100,\"notes\":null,\"startDate\":\"2020-11-17T06:18:01.7321539Z\",\"provisioningState\":\"Succeeded\"}}"
    }
  },
  "Update-AzWindowsIotServicesDevice+[NoContext]+UpdateViaIdentityExpanded+$PATCH+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/wis-f4v98a-test/providers/Microsoft.WindowsIoT/DeviceServices/wis-imsg4v?api-version=2019-06-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/wis-f4v98a-test/providers/Microsoft[...]
