{
  "Get-AzWorkloadsMonitor+[NoContext]+ListBySubscription+$GET+https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/monitors?api-version=2023-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/monitors?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "9c1588e9-ac12-4b13-93be-0e0ae1bf5ba9", "0aca79b2-9d13-4067-aa85-0355b902cdbf", "cc9a1f34-dad0-4dbe-86b7-eff957a4189f", "fec9ecd3-288b-4684-adc4-671edba5bf90", "3d864ae1-1a48-4e2e-9bdc-1f0715c344ac", "b8d6b44b-0729-4865-bf75-879aba2f46c9", "f9565cc4-76ae-4769-9c80-3451754af71a", "40457916-ef8d-475f-ad6d-7155cd9f8258", "7dc6c252-eb82-4506-94e4-9c4dd43c6709", "9dbb7036-15d8-4a9f-a53a-babf8ecf8b3a", "ec65a29f-ed6f-4077-bebe-5f76a7c9afaf", "3658f965-a93c-45e0-b5f3-f6296cb47e37", "86861065-4f35-43f5-88bd-f7547574f8a2" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11996" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/momakhij-test/providers/Microsoft.Workloads/monitors/ams-spog-scale\",\"name\":\"ams-spog-scale\",\"type\":\"microsoft.workloads/monitors\",\"location\":\"eastus\",\"tags\":{\"SkipCleanUp\":\"true\"},\"systemData\":{\"createdBy\":\"momakhij@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-10-10T09:03:57.3704465Z\",\"lastModifiedBy\":\"39495caf-cc21-4d03-b6b0-8c4a973cf213\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2023-03-08T22:12:51.7249161Z\"},\"properties\":{\"appLocation\":\"eastus\",\"routingPreference\":\"RouteAll\",\"zoneRedundancyPreference\":\"Disabled\",\"managedResourceGroupConfiguration\":{\"name\":\"sapmonrg-g2mduz\"},\"monitorSubnet\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/nitin-agarwal-scale-test/providers/Microsoft.Network/virtualNetworks/vnetpeeringtest/subnets/testpass-ha-mohit-1\",\"provisioningState\":\"Succeeded\",\"logAnalyticsWorkspaceArmId\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/sapmonrg-g2mduz/providers/microsoft.operationalinsights/workspaces/sapmon-laws-929b6274ac5183\",\"msiArmId\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/sapmonrg-g2mduz/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sapmon-msi-929b6274ac5183\",\"storageAccountArmId\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/sapmonrg-g2mduz/providers/Microsoft.Storage/storageAccounts/sapsto929b6274ac5183\"}},{\"id\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/DemoRG-1/providers/Microsoft.Workloads/monitors/test-hs-1-1027\",\"name\":\"test-hs-1-1027\",\"type\":\"microsoft.workloads/monitors\",\"location\":\"eastus\",\"tags\":{\"sapnetweaver-provider-image-uri\":\"amsprovidersregistry.azurecr.io/sapnetweaver-provider:3.0.221027.190456\",\"SkipCeanUp\":\"true\"},\"systemData\":{\"createdBy\":\"SC-pd36@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-10-27T21:41:05.1786543Z\",\"lastModifiedBy\":\"39495caf-cc21-4d03-b6b0-8c4a973cf213\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2023-03-06T05:31:33.5314141Z\"},\"properties\":{\"appLocation\":\"eastus\",\"routingPreference\":\"RouteAll\",\"zoneRedundancyPreference\":\"Disabled\",\"managedResourceGroupConfiguration\":{\"name\":\"sapmonrg-iymzi0\"},\"monitorSubnet\":\[...]
