{
  "Test-AzConfidentialLedgerNameAvailability+[NoContext]+CheckExpanded+$POST+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.ConfidentialLedger/checkNameAvailability?api-version=2022-05-13+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.ConfidentialLedger/checkNameAvailability?api-version=2022-05-13",
      "Content": "{\r\n  \"name\": \"pwsh-3qrhmelbczgnt\",\r\n  \"type\": \"Microsoft.ConfidentialLedger/ledgers\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-rpaas-checknameavailability-skipped-regions": [ "UAE North,Central India" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "199" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"nameAvailable\":false,\"reason\":\"AlreadyExists\",\"message\":\"Resource name already exists\"}",
    }
  },
  "Test-AzConfidentialLedgerNameAvailability+[NoContext]+CheckExpanded+$POST+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.ConfidentialLedger/checkNameAvailability?api-version=2022-05-13+2": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/providers/Microsoft.ConfidentialLedger/checkNameAvailability?api-version=2022-05-13",
      "Content": "{\r\n  \"name\": \"pwsh-avail-mb290va\",\r\n  \"type\": \"Microsoft.ConfidentialLedger/ledgers\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "198" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"nameAvailable\":true}",
    }
  }
}