{
  "Add-AzKeyVaultManagedHsmRegion+[NoContext]+__AllParameterSets+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/bez-rg/providers/Microsoft.KeyVault/managedHSMs/bezmhsm?api-version=2023-02-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/bez-rg/providers/Microsoft.KeyVault/managedHSMs/bezmhsm?api-version=2023-02-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"sku\":{\"family\":\"B\",\"name\":\"Standard_B1\"},\"id\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/bez-rg/providers/Microsoft.KeyVault/managedHSMs/bezmhsm\",\"name\":\"bezmhsm\",\"type\":\"Microsoft.KeyVault/managedHSMs\",\"location\":\"eastus\",\"tags\":{},\"systemData\":{\"createdBy\":\"Beisi.Zhou@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-05-11T03:48:15.524Z\",\"lastModifiedBy\":\"Beisi.Zhou@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-08-18T09:05:48.683Z\"},\"properties\":{\"tenantId\":\"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\"hsmUri\":\"https://bezmhsm.managedhsm.azure.net/\",\"initialAdminObjectIds\":[\"2f153a9e-5be9-4f43-abd2-04561777c8b0\"],\"enableSoftDelete\":true,\"softDeleteRetentionInDays\":90,\"enablePurgeProtection\":false,\"provisioningState\":\"Succeeded\",\"statusMessage\":\"The Managed HSM is provisioned and ready to use.\",\"networkAcls\":{\"bypass\":\"AzureServices\",\"defaultAction\":\"Allow\",\"ipRules\":[],\"virtualNetworkRules\":[]},\"publicNetworkAccess\":\"Enabled\",\"regions\":[{\"name\":\"westus\",\"provisioningState\":\"Provisioning\",\"isPrimary\":false}],\"securityDomainProperties\":{\"activationStatus\":\"Active\",\"activationStatusMessage\":\"Your HSM has been activated and can be used for cryptographic operations.\"}}}",
    }
  },
  "Add-AzKeyVaultManagedHsmRegion+[NoContext]+__AllParameterSets+$PATCH+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/bez-rg/providers/Microsoft.KeyVault/managedHSMs/bezmhsm?api-version=2023-02-01+2": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGro[...]
