{
  "Entries": [
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourcegroups/sql-audit-cmdlet-test-rgps6286?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sql-audit-cmdlet-test-rgps6286\",\r\n  \"name\": \"sql-audit-cmdlet-test-rgps6286\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sql-audit-cmdlet-test-rgps6286/providers/Microsoft.Sql/servers/sql-audit-cmdlet-serverps6286?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/sql-audit-cmdlet-serverps6286' under resource group 'sql-audit-cmdlet-test-rgps6286' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sql-audit-cmdlet-test-rgps6286/providers/Microsoft.Sql/servers/sql-audit-cmdlet-serverps6286?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sql-audit-cmdlet-serverps6286.database.windows.net\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sql-audit-cmdlet-test-rgps6286/providers/Microsoft.Sql/servers/sql-audit-cmdlet-serverps6286\",\r\n  \"name\": \"sql-audit-cmdlet-serverps6286\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14956"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sql-audit-cmdlet-test-rgps6286/providers/Microsoft.Sql/servers/sql-audit-cmdlet-serverps6286?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!Sec\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2018-05-05T02:24:36.223Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sql-audit-cmdlet-test-rgps6286/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/533de78f-6b12-475f-b9d7-9493980471a3?api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sql-audit-cmdlet-test-rgps6286/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/533de78f-6b12-475f-b9d7-9493980471a3?api-version=2015-05-01-preview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sql-audit-cmdlet-test-rgps6286/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/533de78f-6b12-475f-b9d7-9493980471a3?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"533de78f-6b12-475f-b9d7-9493980471a3\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-05-05T02:24:36.223Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "20"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14959"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sql-audit-cmdlet-test-rgps6286/providers/Microsoft.Sql/servers/sql-audit-cmdlet-serverps6286/databases/sql-audit-cmdlet-dbps6286?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/sql-audit-cmdlet-serverps6286/databases/sql-audit-cmdlet-dbps6286' under resource group 'sql-audit-cmdlet-test-rgps6286' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sql-audit-cmdlet-test-rgps6286/providers/Microsoft.Sql/servers/sql-audit-cmdlet-serverps6286/databases/sql-audit-cmdlet-dbps6286?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\",\r\n    \"capacity\": 5\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 2147483648,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"420a8873-c68e-4226-80d3-846cfe4bc443\",\r\n    \"creationDate\": \"2018-05-05T02:25:27.763Z\",\r\n    \"currentServiceObjectiveName\": \"Basic\",\r\n    \"requestedServiceObjectiveName\": \"Basic\",\r\n    \"defaultSecondaryLocation\": \"West US 2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"earliestRestoreDate\": \"2018-05-05T02:55:59.723Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"currentSku\": {\r\n      \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"capacity\": 5\r\n    }\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sql-audit-cmdlet-test-rgps6286/providers/Microsoft.Sql/servers/sql-audit-cmdlet-serverps6286/databases/sql-audit-cmdlet-dbps6286\",\r\n  \"name\": \"sql-audit-cmdlet-dbps6286\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14950"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sql-audit-cmdlet-test-rgps6286/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/ad443946-76d4-41d2-a959-65d7bcc60537?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"ad443946-76d4-41d2-a959-65d7bcc60537\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-05-05T02:25:27.513Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14953"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/sql-audit-cmdlet-test-rgps6286/providers/Microsoft.Storage/storageAccounts/auditcmdletsps6286?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "text/plain; charset=utf-8"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1188"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/providers/Microsoft.Storage/locations/westcentralus/asyncoperations/6142ff97-43c8-4381-a705-1f1286bf89fd?monitor=true&api-version=2015-05-01-preview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/providers/Microsoft.Storage/locations/westcentralus/asyncoperations/6142ff97-43c8-4381-a705-1f1286bf89fd?monitor=true&api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "text/plain; charset=utf-8"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14978"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/providers/Microsoft.Storage/locations/westcentralus/asyncoperations/6142ff97-43c8-4381-a705-1f1286bf89fd?monitor=true&api-version=2015-05-01-preview"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRBVURJVDoyRENNRExFVDoyRFRFU1Q6MkRSR1BTNjI4Ni1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRBVURJVDoyRENNRExFVDoyRFRFU1Q6MkRSR1BTNjI4Ni1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRBVURJVDoyRENNRExFVDoyRFRFU1Q6MkRSR1BTNjI4Ni1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14990"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-AuditingFailedServerUpdatePolicyWithNoStorage": [
      "ps6286"
    ]
  },
  "Variables": {
    "SubscriptionId": "df7c055c-6310-4374-9852-10ef71ce5f85",
    "User": "payi@microsoft.com",
    "TenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}