{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices\",\r\n  \"namespace\": \"Microsoft.Devices\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"checkNameAvailability\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2018-04-01\",\r\n        \"2018-01-22\",\r\n        \"2017-07-01\",\r\n        \"2017-01-19\",\r\n        \"2016-02-03\",\r\n        \"2015-08-15-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"checkProvisioningServiceNameAvailability\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2018-01-22\",\r\n        \"2017-11-15\",\r\n        \"2017-08-21-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"usages\",\r\n      \"l[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourcegroups/ps4087?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
=======
        "Date": [
          "Wed, 16 Sep 2020 23:02:18 GMT"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "6060"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices\",\r\n  \"namespace\": \"Microsoft.Devices\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"0cd79364-7a90-4354-9984-6e36c841418d\",\r\n      \"roleDefinitionId\": \"C121DF10-FE58-4BC4-97F9-8296879F7BBB\"\r\n    },\r\n    {\r\n      \"applicationId\": \"29f411f1-b2cf-4043-8ac8-2185d7316811\"\r\n    },\r\n    {\r\n      \"applicationId\": \"89d10474-74af-4874-99a7-c23c2f643083\",\r\n      \"roleDefinitionId\": \"7df22794-26e3-4f94-9d50-a4f0f6e1cb41\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"checkNameAvailability\",\r\n      \"locations\": [\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\",\r\n        \"W[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourcegroups/ps7026?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "29"
<<<<<<< HEAD
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4087\",\r\n  \"name\": \"ps4087\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1182"
        ],
        "x-ms-request-id": [
          "65a614d1-313f-4344-b09c-53ff817de4c2"
        ],
        "x-ms-correlation-request-id": [
          "65a614d1-313f-4344-b09c-53ff817de4c2"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180418T012441Z:65a614d1-313f-4344-b09c-53ff817de4c2"
=======
          "1199"
        ],
        "x-ms-request-id": [
          "12860d14-1cac-4348-80e0-c4a2aff408af"
        ],
        "x-ms-correlation-request-id": [
          "12860d14-1cac-4348-80e0-c4a2aff408af"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200916T230219Z:12860d14-1cac-4348-80e0-c4a2aff408af"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Wed, 18 Apr 2018 01:24:41 GMT"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4087/providers/Microsoft.Devices/provisioningServices/ps566?api-version=2017-11-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {},\r\n  \"sku\": {\r\n    \"name\": \"S1\"\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps566\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"state\": \"Activating\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"allocationPolicy\": \"Hashed\",\r\n    \"idScope\": null\r\n  },\r\n  \"resourcegroup\": \"ps4087\",\r\n  \"type\": \"Microsoft.Devices/provisioningServices\",\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4087/providers/Microsoft.Devices/provisioningServices/ps566\",\r\n  \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"tier\": \"Standard\"\r\n  }\r\n}",
      "ResponseHeaders": {
=======
        "Date": [
          "Wed, 16 Sep 2020 23:02:19 GMT"
        ],
        "Content-Length": [
          "165"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7026\",\r\n  \"name\": \"ps7026\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7026/providers/Microsoft.Devices/provisioningServices/ps6375?api-version=2017-11-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {},\r\n  \"sku\": {\r\n    \"name\": \"S1\"\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
<<<<<<< HEAD
        "Expires": [
          "-1"
=======
        "Content-Length": [
          "86"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4087/providers/Microsoft.Devices/provisioningServices/ps566/operationResults/b3NfaWRfYzdhY2FkNmQtZWUwNC00NjU4LTk5MjAtMjVlM2EyZmY1YzQy?api-version=2017-11-15&asyncinfo"
=======
          "https://management.azure.com/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7026/providers/Microsoft.Devices/provisioningServices/ps6375/operationResults/b3NfaWRfMDg5MzViMzktZTFlYi00YjhhLTk5MDctODlmMGQ0NWQ0ZjZl?api-version=2017-11-15&asyncinfo"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "4999"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "f51a8cb2-7738-40eb-9221-e54af933e2cf"
        ],
        "x-ms-correlation-request-id": [
          "f51a8cb2-7738-40eb-9221-e54af933e2cf"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180418T012444Z:f51a8cb2-7738-40eb-9221-e54af933e2cf"
=======
          "7b804a43-c313-42e9-a715-f5e03f43a248"
        ],
        "x-ms-correlation-request-id": [
          "7b804a43-c313-42e9-a715-f5e03f43a248"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200916T230222Z:7b804a43-c313-42e9-a715-f5e03f43a248"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Wed, 18 Apr 2018 01:24:44 GMT"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4087/providers/Microsoft.Devices/provisioningServices/ps566?api-version=2017-11-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"etag\": \"AAAAAAAbvDk=\",\r\n  \"properties\": {\r\n    \"state\": \"Active\",\r\n    \"iotHubs\": [],\r\n    \"allocationPolicy\": \"Hashed\",\r\n    \"authorizationPolicies\": [\r\n      {\r\n        \"keyName\": \"provisioningserviceowner\",\r\n        \"primaryKey\": \"P5K0W3pvsKITebU536If0nXFObT2MJiWN9E11SBAhiA=\",\r\n        \"secondaryKey\": \"hwR5ZLxe/RUJy1mjZXSGdjrbG/hXwKhHKWgWsUA2cHg=\",\r\n        \"rights\": \"ServiceConfig, DeviceConnect, EnrollmentWrite\"\r\n      },\r\n      {\r\n        \"keyName\": \"Access1\",\r\n        \"rights\": \"ServiceConfig\"\r\n      }\r\n    ]\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"S1\"\r\n  },\r\n  \"location\": \"West US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"etag\": \"AAAAAAAbvDk=\",\r\n  \"name\": \"ps566\",\r\n  \"location\[...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4087/providers/Microsoft.Devices/provisioningServices/ps566/operationResults/b3NfaWRfYzdhY2FkNmQtZWUwNC00NjU4LTk5MjAtMjVlM2EyZmY1YzQy?api-version=2017-11-15&asyncinfo",
=======
        "Date": [
          "Wed, 16 Sep 2020 23:03:57 GMT"
        ],
        "Content-Length": [
          "712"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7026/providers/Microsoft.Devices/provisioningServices/ps6375/operationResults/b3NfaWRfMDg5MzViMzktZTFlYi00YjhhLTk5MDctODlmMGQ0NWQ0ZjZl?api-version=2017-11-15&asyncinfo",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.DeviceProvisioningServices.IotDpsClient/0.9.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "FxVersion/4.6.29220.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.DeviceProvisioningServices.IotDpsClient/0.10.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
[...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7026/providers/Microsoft.Devices/provisioningServices/ps6375?api-version=2017-11-15",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.DeviceProvisioningServices.IotDpsClient/0.9.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"etag\": \"AAAAAAAbvDk=\",\r\n  \"name\": \"ps566\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"state\": \"Active\",\r\n    \"iotHubs\": [],\r\n    \"allocationPolicy\": \"Hashed\",\r\n    \"serviceOperationsHostName\": \"ps566.azure-devices-provisioning.net\",\r\n    \"deviceProvisioningHostName\": \"global.azure-devices-provisioning.net\",\r\n    \"idScope\": \"0ne000157A9\"\r\n  },\r\n  \"resourcegroup\": \"ps4087\",\r\n  \"type\": \"Microsoft.Devices/provisioningServices\",\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4087/providers/Microsoft.Devices/provisioningServices/ps566\",\r\n  \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"tier\": \"Standard\"\r\n  }\r\n}",[...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7026/providers/Microsoft.Devices/provisioningServices/ps6375?api-version=2017-11-15",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "6d20e542-6a4a-435b-9862-ce95f2243005"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.DeviceProvisioningServices.IotDpsClient/0.9.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"etag\": \"AAAAAAAbvDk=\",\r\n  \"name\": \"ps566\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"state\": \"Active\",\r\n    \"iotHubs\": [],\r\n    \"allocationPolicy\": \"Hashed\",\r\n    \"serviceOperationsHostName\": \"ps566.azure-devices-provisioning.net\",\r\n    \"deviceProvisioningHostName\": \"global.azure-devices-provisioning.net\",\r\n    \"idScope\": \"0ne000157A9\"\r\n  },\r\n  \"resourcegroup\": \"ps4087\",\r\n  \"type\": \"Microsoft.Devices/provisioningServices\",\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4087/providers/Microsoft.Devices/provisioningServices/ps566\",\r\n  \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"tier\": \"Standard\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "a0175c57-aec0-4b86-b026-5154fe49b062"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.29220.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.DeviceProvisioningServices.IotDpsClient/0.10.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-reads": [
          "[...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4087/providers/Microsoft.Devices/provisioningServices/ps566/listkeys?api-version=2017-11-15",
=======
        "Date": [
          "Wed, 16 Sep 2020 23:04:28 GMT"
        ],
        "Content-Length": [
          "640"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"etag\": \"AAAAAASgW7M=\",\r\n  \"name\": \"ps6375\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"state\": \"Active\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"iotHubs\": [],\r\n    \"allocationPolicy\": \"Hashed\",\r\n    \"serviceOperationsHostName\": \"ps6375.azure-devices-provisioning.net\",\r\n    \"deviceProvisioningHostName\": \"global.azure-devices-provisioning.net\",\r\n    \"idScope\": \"0ne0017FFD1\"\r\n  },\r\n  \"resourcegroup\": \"ps7026\",\r\n  \"type\": \"Microsoft.Devices/provisioningServices\",\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7026/providers/Microsoft.Devices/provisioningServices/ps6375\",\r\n  \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"tier\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7026/providers/Microsoft.Devices/provisioningServices/ps6375/listkeys?api-version=2017-11-15",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "37c43120-795e-473c-a2c5-422e9afe1975"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.DeviceProvisioningServices.IotDpsClient/0.9.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"keyName\": \"provisioningserviceowner\",\r\n      \"primaryKey\": \"P5K0W3pvsKITebU536If0nXFObT2MJiWN9E11SBAhiA=\",\r\n      \"secondaryKey\": \"hwR5ZLxe/RUJy1mjZXSGdjrbG/hXwKhHKWgWsUA2cHg=\",\r\n      \"rights\": \"ServiceConfig, DeviceConnect, EnrollmentWrite\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "112182b4-c8dd-4698-b2ae-7f1a52d5d79d"
        ],
        "Accept[...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4087/providers/Microsoft.Devices/provisioningServices/ps566/operationResults/b3NfaWRfYjUzYjI0ZmYtMGYyMC00NzE3LWJhZmUtMWVlYWMyMDcyZTNm?api-version=2017-11-15&asyncinfo",
=======
        "Date": [
          "Wed, 16 Sep 2020 23:03:56 GMT"
        ],
        "Content-Length": [
          "229"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"keyName\": \"provisioningserviceowner\",\r\n      \"primaryKey\": \"G8rSOcmKXXvSReSwlHbHtq5aalWNcg9a+0KUZl58xo0=\",\r\n      \"secondaryKey\": \"XJtZLdVCBM1gw04+/Ho7U1D5Hsfnl8MlUJAVDB7bd1s=\",\r\n      \"rights\": \"ServiceConfig, DeviceConnect, EnrollmentWrite\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7026/providers/Microsoft.Devices/provisioningServices/ps6375/operationResults/b3NfaWRfN2Q1N2NhNjgtN2Q4ZC00OTllLTk0MzItZDE5ZTY1NDYxZWFl?api-version=2017-11-15&asyncinfo",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVers[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4087/providers/Microsoft.Devices/provisioningServices/ps566/keys/Access1/listkeys?api-version=2017-11-15",
=======
        "Date": [
          "Wed, 16 Sep 2020 23:03:23 GMT"
        ],
        "Content-Length": [
          "22"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4087/providers/Microsoft.Devices/provisioningServices/ps566/operationResults/b3NfaWRfZWEwZTFkMTQtNGEwZC00ODcwLWI5YTAtYTRkMGZhMzNiNGJl?api-version=2017-11-15&asyncinfo",
=======
        "Date": [
          "Wed, 16 Sep 2020 23:03:24 GMT"
        ],
        "Content-Length": [
          "168"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"keyName\": \"Access1\",\r\n  \"primaryKey\": \"S225IkkefRM3c8K7p3+7WkNNJ+ySks+22PuuA+A9xDE=\",\r\n  \"secondaryKey\": \"JeVdDmz81trFudqkd3cH//2nGIiY2RmZ32Y5IkMHWLs=\",\r\n  \"rights\": \"ServiceConfig\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7026/providers/Microsoft.Devices/provisioningServices/ps6375/operationResults/b3NfaWRfMjRkZmQ1NDMtMTRiZS00YzE4LWI0NTAtMmU1ZjBlZjRlMjU2?api-version=2017-11-15&asyncinfo",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVers[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4087/providers/Microsoft.Devices/provisioningServices/ps566/keys/provisioningserviceowner/listkeys?api-version=2017-11-15",
=======
        "Date": [
          "Wed, 16 Sep 2020 23:03:56 GMT"
        ],
        "Content-Length": [
          "22"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4087/providers/Microsoft.Devices/provisioningServices/ps566/operationResults/b3NfaWRfOTYwMTI2MWQtYTVjOC00ZTIzLWEyNzAtMTRiMTk2ZDk5OWY3?api-version=2017-11-15&asyncinfo",
=======
        "Date": [
          "Wed, 16 Sep 2020 23:04:29 GMT"
        ],
        "Content-Length": [
          "185"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"keyName\": \"provisioningserviceowner\",\r\n  \"primaryKey\": \"G8rSOcmKXXvSReSwlHbHtq5aalWNcg9a+0KUZl58xo0=\",\r\n  \"secondaryKey\": \"XJtZLdVCBM1gw04+/Ho7U1D5Hsfnl8MlUJAVDB7bd1s=\",\r\n  \"rights\": \"ServiceConfig\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7026/providers/Microsoft.Devices/provisioningServices/ps6375/operationResults/b3NfaWRfMjg5ZjNlNWEtZjcxNi00MTg3LTljM2EtOGU2NzI4ZjY3ZTNk?api-version=2017-11-15&asyncinfo",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVers[...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7026/providers/Microsoft.Devices/provisioningServices/ps6375?api-version=2017-11-15",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "695f0e50-6320-4725-933e-1c2771878c73"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.DeviceProvisioningServices.IotDpsClient/0.9.0.0"
        ]
      },
      "ResponseBody": "null",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "fbb02f1b-49a4-489d-85f2-f18c99a24c0b"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.29220.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.DeviceProvisioningServices.IotDpsClient/0.10.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
=======
        "Location": [
          "https://management.azure.com/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7026/providers/Microsoft.Devices/provisioningServices/ps6375/operationResults/b3NfaWRfNzYwYjJmNWQtMTZjMS00YTA1LThlNWMtNDg4MWFjYWQ2ZWE3?api-version=2017-11-15"
        ],
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4087/providers/Microsoft.Devices/provisioningServices/ps566/operationResults/b3NfaWRfMjFiMGU4MWYtZTQyMy00YTMxLTllOTQtMmJkZjcxNzVkODc3?api-version=2017-11-15&asyncinfo"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1188"
        ],
        "x-ms-request-id": [
          "8f04278d-e3[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4087/providers/Microsoft.Devices/provisioningServices/ps566/operationResults/b3NfaWRfMjFiMGU4MWYtZTQyMy00YTMxLTllOTQtMmJkZjcxNzVkODc3?api-version=2017-11-15&asyncinfo",
=======
        "Date": [
          "Wed, 16 Sep 2020 23:04:30 GMT"
        ],
        "Content-Length": [
          "4"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7026/providers/Microsoft.Devices/provisioningServices/ps6375/operationResults/b3NfaWRfNzYwYjJmNWQtMTZjMS00YTA1LThlNWMtNDg4MWFjYWQ2ZWE3?api-version=2017-11-15&asyncinfo",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Management.DeviceProvisioningServices.IotDpsClient/0.9.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
=======
          "FxVersion/4.6.29220.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.DeviceProvisioningServices.IotDpsClient/0.10.0.0"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ]
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
<<<<<<< HEAD
=======
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Running\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4087/providers/Microsoft.Devices/provisioningServices/ps566/operationResults/b3NfaWRfMjFiMGU4MWYtZTQyMy00YTMxLTllOTQtMmJkZjcxNzVkODc3?api-version=2017-11-15",
=======
        "Date": [
          "Wed, 16 Sep 2020 23:05:00 GMT"
        ],
        "Content-Length": [
          "22"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps7026/providers/Microsoft.Devices/provisioningServices/ps6375/operationResults/b3NfaWRfNzYwYjJmNWQtMTZjMS00YTA1LThlNWMtNDg4MWFjYWQ2ZWE3?api-version=2017-11-15",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.2633.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16[...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzQwODctV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
=======
        "Date": [
          "Wed, 16 Sep 2020 23:05:01 GMT"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzcwMjYtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
=======
        "Location": [
        [...]
[...]
