{
    "Entries": [
        {
            "RequestUri": "/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourceGroups/Default-Web-EastUS/providers/microsoft.web/sites/garyyang1/metricDefinitions?api-version=2014-04-01&$filter=",
            "RequestMethod": "GET",
            "RequestBody": "",
            "RequestHeaders": {
                "x-ms-version": [ "2014-04-01" ]
            },
            "ResponseBody": "{\"value\":[{\"name\":{\"value\":\"CpuTime\",\"localizedValue\":\"CPU Time\"},\"unit\":\"Seconds\",\"primaryAggregationType\":\"Total\",\"resourceUri\":null,\"metricAvailabilities\":[{\"timeGrain\":\"PT1M\",\"retention\":\"P2D\"},{\"timeGrain\":\"PT1H\",\"retention\":\"P30D\"},{\"timeGrain\":\"P1D\",\"retention\":\"P90D\"}],\"properties\":[]},{\"name\":{\"value\":\"Requests\",\"localizedValue\":\"Requests\"},\"unit\":\"Count\",\"primaryAggregationType\":\"Total\",\"resourceUri\":null,\"metricAvailabilities\":[{\"timeGrain\":\"PT1M\",\"retention\":\"P2D\"},{\"timeGrain\":\"PT1H\",\"retention\":\"P30D\"},{\"timeGrain\":\"P1D\",\"retention\":\"P90D\"}],\"properties\":[]},{\"name\":{\"value\":\"BytesReceived\",\"localizedValue\":\"Data In\"},\"unit\":\"Bytes\",\"primaryAggregationType\":\"Total\",\"resourceUri\":null,\"metricAvailabi[...]
