{
  "Entries": [
    {
      "RequestUri": "/subscriptions/56bb45c9-5c14-4914-885e-c6fd6f130f7c/resourceGroups/reactdemo/providers/Microsoft.Web/sites/reactdemowebapi/providers/microsoft.insights/metrics?timespan=2018-03-23T22:00:00.0000000Z%2F2018-03-23T22:30:00.0000000Z&api-version=2018-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"cost\": 0,\r\n  \"timespan\": \"2018-03-23T22:00:00Z/2018-03-23T22:30:00Z\",\r\n  \"interval\": \"PT1M\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/56bb45c9-5c14-4914-885e-c6fd6f130f7c/resourceGroups/reactdemo/providers/Microsoft.Web/sites/reactdemowebapi/providers/Microsoft.Insights/metrics/CpuTime\",\r\n      \"type\": \"Microsoft.Insights/metrics\",\r\n      \"name\": {\r\n        \"value\": \"CpuTime\",\r\n        \"localizedValue\": \"CPU Time\"\r\n      },\r\n      \"unit\": \"Seconds\",\r\n      \"timeseries\": [\r\n        {\r\n          \"metadatavalues\": [],\r\n          \"data\": [\r\n            {\r\n              \"timeStamp\": \"2018-03-23T22:00:00Z\",\r\n              \"total\": 0.0\r\n            },\r\n            {\r\n              \"timeStamp\": \"2018-03-23T22:01:00Z\",\r\n              \"total\": 0.0\r\n            },\r\n            {\r\n              \"timeStamp\": \"2018-03-23T22:02:00Z\",\r\n              \"total\": 0.0\r\n            },\r\n            {\r\n              \"timeStamp\": \"2018-03-23T22:03:00Z\",\r\n              \"total\": 0.0\r\n            },\r\n            {\r\n              \"timeStamp\": \"2018-03-23T22:04:00Z\",\r\n              \"total\":[...]
    {
      "RequestUri": "/subscriptions/56bb45c9-5c14-4914-885e-c6fd6f130f7c/resourceGroups/reactdemo/providers/Microsoft.Web/sites/reactdemowebapi/providers/microsoft.insights/metrics?timespan=2018-03-23T22:00:00.0000000Z%2F2018-03-23T22:30:00.0000000Z&interval=PT1M&metricnames=CpuTime%2CRequests&aggregation=Count&api-version=2018-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"cost\": 0,\r\n  \"timespan\": \"2018-03-23T22:00:00Z/2018-03-23T22:30:00Z\",\r\n  \"interval\": \"PT1M\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/56bb45c9-5c14-4914-885e-c6fd6f130f7c/resourceGroups/reactdemo/providers/Microsoft.Web/sites/reactdemowebapi/providers/Microsoft.Insights/metrics/CpuTime\",\r\n      \"type\": \"Microsoft.Insights/metrics\",\r\n      \"name\": {\r\n        \"value\": \"CpuTime\",\r\n        \"localizedValue\": \"CPU Time\"\r\n      },\r\n      \"unit\": \"Seconds\",\r\n      \"timeseries\": [\r\n        {\r\n          \"metadatavalues\": [],\r\n          \"data\": [\r\n            {\r\n              \"timeStamp\": \"2018-03-23T22:00:00Z\",\r\n              \"count\": 0.0\r\n            },\r\n            {\r\n              \"timeStamp\": \"2018-03-23T22:01:00Z\",\r\n              \"count\": 0.0\r\n            },\r\n            {\r\n              \"timeStamp\": \"2018-03-23T22:02:00Z\",\r\n              \"count\": 0.0\r\n            },\r\n            {\r\n              \"timeStamp\": \"2018-03-23T22:03:00Z\",\r\n              \"count\": 0.0\r\n            },\r\n            {\r\n              \"timeStamp\": \"2018-03-23T22:04:00Z\",\r\n              \"count\":[...]
