{
    "Entries": [
        {
            "RequestUri": "/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourceGroups/Default-Web-EastUS/providers/microsoft.web/sites/garyyang1/metricDefinitions?api-version=2014-04-01&$filter=",
            "RequestMethod": "GET",
            "RequestBody": "",
            "RequestHeaders": {
                "x-ms-version": [ "2014-04-01" ]
            },
            "ResponseBody": "{\"value\":[{\"name\":{\"value\":\"CpuTime\",\"localizedValue\":\"CPU Time\"},\"unit\":\"Seconds\",\"primaryAggregationType\":\"Total\",\"resourceUri\":null,\"metricAvailabilities\":[{\"timeGrain\":\"PT1M\",\"retention\":\"P2D\"},{\"timeGrain\":\"PT1H\",\"retention\":\"P30D\"},{\"timeGrain\":\"P1D\",\"retention\":\"P90D\"}],\"properties\":[]},{\"name\":{\"value\":\"Requests\",\"localizedValue\":\"Requests\"},\"unit\":\"Count\",\"primaryAggregationType\":\"Total\",\"resourceUri\":null,\"metricAvailabilities\":[{\"timeGrain\":\"PT1M\",\"retention\":\"P2D\"},{\"timeGrain\":\"PT1H\",\"retention\":\"P30D\"},{\"timeGrain\":\"P1D\",\"retention\":\"P90D\"}],\"properties\":[]},{\"name\":{\"value\":\"BytesReceived\",\"localizedValue\":\"Data In\"},\"unit\":\"Bytes\",\"primaryAggregationType\":\"Total\",\"resourceUri\":null,\"metricAvailabi[...]
        {
            "RequestUri": "/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourceGroups/Default-Web-EastUS/providers/microsoft.web/sites/garyyang1/metrics?api-version=2014-04-01&$filter=%28name.value%20eq%20%27CpuTime%27%20or%20name.value%20eq%20%27Requests%27%20or%20name.value%20eq%20%27BytesReceived%27%20or%20name.value%20eq%20%27BytesSent%27%20or%20name.value%20eq%20%27Http2xx%27%20or%20name.value%20eq%20%27Http3xx%27%20or%20name.value%20eq%20%27Http401%27%20or%20name.value%20eq%20%27Http403%27%20or%20name.value%20eq%20%27Http404%27%20or%20name.value%20eq%20%27Http406%27%20or%20name.value%20eq%20%27Http4xx%27%20or%20name.value%20eq%20%27Http5xx%27%20or%20name.value%20eq%20%27MemoryWorkingSet%27%20or%20name.value%20eq%20%27AverageMemoryWorkingSet%27%20or%20name.value%20eq%20%27AverageResponseTime%27%29%20and%20timeGrain%20eq%20duration%27PT1M%27%20and%20startTime%20eq%202015-03-23T15%3A00%3A00.0000000%20and%20endTime%20eq%202015-03-23T15%3A30%3A00.0000000",
            "RequestMethod": "GET",
            "RequestBody": "",
            "RequestHeaders": {
                "x-ms-version": [ "2014-04-01" ]
            },
            "ResponseBody": "{\"value\":[{\"name\":{\"value\":\"AverageResponseTime\",\"localizedValue\":\"Average Response Time\"},\"unit\":\"Seconds\",\"timeGrain\":\"PT1M\",\"startTime\":\"2015-03-23T15:00:00Z\",\"endTime\":\"2015-03-23T15:30:00Z\",\"metricValues\":[{\"timestamp\":\"2015-03-23T15:00:00Z\",\"average\":0.062,\"minimum\":null,\"maximum\":null,\"total\":0.062,\"count\":1,\"properties\":[]},{\"timestamp\":\"2015-03-23T15:01:00Z\",\"average\":0.0,\"minimum\":null,\"maximum\":null,\"total\":0.0,\"count\":1,\"properties\":[]},{\"timestamp\":\"2015-03-23T15:02:00Z\",\"average\":0.0,\"minimum\":null,\"maximum\":null,\"total\":0.0,\"count\":1,\"properties\":[]},{\"timestamp\":\"2015-03-23T15:03:00Z\",\"average\":0.0,\"minimum\":null,\"maximum\":null,\"total\":0.0,\"count\":1,\"properties\":[]},{\"timestamp\":\"2015-03-23T15:05:00Z\",\"average\":0.0,\"minimum\":null,\[...]
