{
  "Get-AzWvdStartMenuItem+[NoContext]+List+$GET+https://management.azure.com/subscriptions/6738509d-84ed-4ad6-974a-7dc4e3c34146/resourceGroups/zhongjie-rg-wus/providers/Microsoft.DesktopVirtualization/applicationGroups/zhongjie-automated-DAG/startMenuItems?api-version=2025-10-10+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/6738509d-84ed-4ad6-974a-7dc4e3c34146/resourceGroups/zhongjie-rg-wus/providers/Microsoft.DesktopVirtualization/applicationGroups/zhongjie-automated-DAG/startMenuItems?api-version=2025-10-10",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "154" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "X-Rate-Limit-Limit": [ "0" ],
        "X-Rate-Limit-Remaining": [ "9223372036854775807" ],
        "X-Rate-Limit-Reset": [ "0" ],
        "x-ms-opsarmpath64": [ "L3N1YnNjcmlwdGlvbnMvNjczODUwOWQtODRlZC00YWQ2LTk3NGEtN2RjNGUzYzM0MTQ2L3Jlc291cmNlR3JvdXBzL3pob25namllLXJnLXd1cy9wcm92aWRlcnMvTWljcm9zb2Z0LkRlc2t0b3BWaXJ0dWFsaXphdGlvbi9hcHBsaWNhdGlvbkdyb3Vwcy96aG9uZ2ppZS1hdXRvbWF0ZWQtREFH" ],
        "x-ms-lamport-ts": [ "-9223372036854775808" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "248" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3748" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"name\":\"zhongjie-automated-DAG/Character Map\",\"id\":\"/subscriptions/6738509d-84ed-4ad6-974a-7dc4e3c34146/resourcegroups/zhongjie-rg-wus/providers/Microsoft.DesktopVirtualization/applicationgroups/zhongjie-automated-DAG/startmenuitems/Character Map\",\"type\":\"Microsoft.DesktopVirtualization/applicationgroups/startmenuitems\",\"properties\":{\"appAlias\":\"charactermap\",\"filePath\":\"C:\\\\Windows\\\\system32\\\\charmap.exe\",\"commandLineArguments\":\"\",\"iconPath\":\"C:\\\\Windows\\\\system32\\\\charmap.exe\",\"iconIndex\":0},\"systemData\":null},{\"name\":\"zhongjie-automated-DAG/dfrgui\",\"id\":\"/subscriptions/6738509d-84ed-4ad6-974a-7dc4e3c34146/resourcegroups/zhongjie-rg-wus/providers/Microsoft.DesktopVirtualization/applicationgroups/zhongjie-automated-DAG/startmenuitems/dfrgui\",\"type\":\"Microsoft.DesktopVirtualization/applicationgroups/startmenuitems\",\"properties\":{\"appAlias\":\"dfrgui\",\"filePath\":\"C:\\\\Windows\\\\system32\\\\dfrgui.exe\",\"commandLineArguments\":\"\",\"iconPath\":\"C:\\\\Windows\\\\system32\\\\df[...]
