{
  "Remove-AzWvdSessionHost+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/6738509d-84ed-4ad6-974a-7dc4e3c34146/resourceGroups/zhongjie-powershelltest-2026-04-16-eastus/providers/Microsoft.DesktopVirtualization/hostPools/azps-avd-32f890fc-shm-hp/sessionHosts/azps-32f890fc-2?api-version=2026-04-16\u0026force=True+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/6738509d-84ed-4ad6-974a-7dc4e3c34146/resourceGroups/zhongjie-powershelltest-2026-04-16-eastus/providers/Microsoft.DesktopVirtualization/hostPools/azps-avd-32f890fc-shm-hp/sessionHosts/azps-32f890fc-2?api-version=2026-04-16\u0026force=True",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "334" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 204,
      "Headers": {
        "X-Rate-Limit-Limit": [ "5m" ],
        "X-Rate-Limit-Remaining": [ "9621" ],
        "X-Rate-Limit-Reset": [ "2026-09-02T08:50:24.7912414Z" ],
        "x-ms-opsarmpath64": [ "L3N1YnNjcmlwdGlvbnMvNjczODUwOWQtODRlZC00YWQ2LTk3NGEtN2RjNGUzYzM0MTQ2L3Jlc291cmNlR3JvdXBzL3pob25namllLXBvd2Vyc2hlbGx0ZXN0LTIwMjYtMDQtMTYtZWFzdHVzL3Byb3ZpZGVycy9NaWNyb3NvZnQuRGVza3RvcFZpcnR1YWxpemF0aW9uL2hvc3RQb29scy9henBzLWF2ZC0zMmY4OTBmYy1zaG0taHAvc2Vzc2lvbkhvc3RzL2F6cHMtMzJmODkwZmMtMg==" ],
        "x-ms-lamport-ts": [ "-9223372036854775804" ],
        "x-ms-throttling-version": [ "v2" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "198" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Remove-AzWvdSessionHost+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/6738509d-84ed-4ad6-974a-7dc4e3c34146/resourceGroups/zhongjie-powershelltest-2026-04-16-eastus/providers/Microsoft.DesktopVirtualization/hostPools/azps-avd-32f890fc-shm-hp/sessionHosts/azps-32f890fc-2?api-version=2026-04-16+2": {
    "Request": {
    [...]
