{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourcegroups/crptestps7690?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"eastus2euap\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690\",\r\n  \"name\": \"crptestps7690\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Compute/images/Win2019Datacenter?api-version=2025-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Compute/images/Win2019Datacenter' under resource group 'crptestps7690' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/providers/Microsoft.Compute?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/providers/Microsoft.Compute\",\r\n  \"namespace\": \"Microsoft.Compute\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"b9a92e36-2cf8-4f4e-bcb3-9d99e00e14ab\",\r\n      \"roleDefinitionId\": \"6efa92ca-56b6-40af-a468-5e3d2b5232f0\"\r\n    },\r\n    {\r\n      \"applicationId\": \"60e6cd67-9c8c-4951-9b3c-23c25a2169af\",\r\n      \"roleDefinitionId\": \"e4770acb-272e-4dc8-87f3-12f44a612224\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a303894e-f1d8-4a37-bf10-67aa654a0596\",\r\n      \"roleDefinitionId\": \"903ac751-8ad5-4e5a-bfc2-5e49f450a241\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a8b6bf88-1d1a-4626-b040-9a729ea93c65\",\r\n      \"roleDefinitionId\": \"274dd4a6-9687-462d-9bee-4f973b07ce46\"\r\n    },\r\n    {\r\n      \"applicationId\": \"5e5e43d4-54da-4211-86a4-c6e7f3715801\",\r\n      \"roleDefinitionId\": \"ffcd6e5b-8772-457d-bb17-89703c03428f\"\r\n    },\r\n    {\r\n      \"applicationId\": \"ce6ff14a-7fdc-4685-bbe0-f6afdfcfa8e0\",\r\n      \"roleDefinitionId\": \"cb17cddc-dbac-4ae0-ae79-8db34eddfca0\"\r\n    },\r\n    {\r\n      \"applicationId\": \"372140e0-b3b7-4226-8ef9-d57986796201\",\r\n      \"roleDefinitionId\": \"cb17cddc-dbac-4ae0-ae79-8db34eddfca0\"\r\n    },\r\n    {\r\n      \"applicationId\": \"579d9c9d-4c83-4efc-8124-7eba65ed3356\",\r\n      \"roleDefinitionId\": \"8c99c4ce-d744-4597-a2f0-0a0044d67560\"\r\n    },\r\n    {\r\n      \"applicationId\": \"3cf468b4-12a0-43cd-aa3f-3f39210d14cf\",\r\n      \"roleDefinitionId\": \"27520bb3-e7c3-4ef4-8a93-e9b332bcf259\"\r\n    },\r\n    {\r\n      \"applicationId\": \"51b6191a-b045-44cf-8277-ee37c9fb5a06\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"cloudServices\",\r\n      \"locations\": [\r\n        \"Southeast Asia\",\r\n        \"East US 2\",\r\n        \"Central US\",\r\n        \"West Europe\",\r\n        \"East US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"West US\",\r\n        \"North Europe\",\r\n        \"East Asia\",\r\n        \"Brazil South\",\r\n        \"West US 2\",\r\n        \"West Central US\",\r\n        \"UK West\",\r\n        \"UK South\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Canada Centra[...]
    {
      "RequestUri": "/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Compute/virtualMachines/vm-ia-123?api-version=2025-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Compute/virtualMachines/vm-ia-123' under resource group 'crptestps7690' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Compute/virtualMachines/vm-ia-123?api-version=2025-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "\"2\""
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/LowCostGetSubscriptionMaximum;23997,Microsoft.Compute/LowCostGetResource;33"
        ],
        "x-ms-need-to-refresh-epl-cache": [
          "False"
        ],
        "x-ms-throttling-version": [
          "v2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vm-ia-123\",\r\n  \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Compute/virtualMachines/vm-ia-123\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus2euap\",\r\n  \"tags\": {\r\n    \"azsecpack\": \"nonprod\",\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\": \"true\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"fa5b8d9b-80c7-483d-971d-6793ce8cd5cf\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n  },\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D2s_v3\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"vmId\": \"37e66b0d-73ca-4d34-8eda-44b5a3448681\",\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2019-Datacenter\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\": \"17763.8644.260411\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"vm-ia-123_OsDisk_1_f30a62312d2743689674d08f41003eea\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n          \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Compute/disks/vm-ia-123_OsDisk_1_f30a62312d2743689674d08f41003eea\"\r\n        },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\": 127\r\n      },\r\n      \"dataDisks\": [],\r\n      \"alignRegionalDisksToVMZone\": false\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm-ia-123\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"AutomaticByOS\",\r\n          \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\": true\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\": true,\r\n      \"adminUsername\": \"Foo12\"\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/networkInterfaces/vm-ia-123\"\r\n        }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2026-04-24T03:45:53.5957085-07:00\"\r\n  },\r\n  \"etag\": \"\\\"2\\\"\",\r\n  \"zones\": [\r\n    \"2\"\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/networkInterfaces/vm-ia-123?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/vm-ia-123' under resource group 'crptestps7690' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/virtualNetworks/vm-ia-123?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/vm-ia-123' under resource group 'crptestps7690' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/virtualNetworks/vm-ia-123?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttle-levels": [
          "operationRatePct=0.4, operationConcurrencyPct=2.5, subscriptionReadRatePct=0.2, etc"
        ],
        "x-ms-throttling-version": [
          "v2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vm-ia-123\",\r\n  \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/virtualNetworks/vm-ia-123\",\r\n  \"etag\": \"W/\\\"cc1452a8-f2a5-4715-9fb8-949cc6d3b7b0\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"0f0edfde-70a4-46c3-b551-c48b50852c71\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"vm-ia-123\",\r\n        \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/virtualNetworks/vm-ia-123/subnets/vm-ia-123\",\r\n        \"etag\": \"W/\\\"cc1452a8-f2a5-4715-9fb8-949cc6d3b7b0\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"192.168.1.0/24\",\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/networkSecurityGroups/vm-ia-123?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkSecurityGroups/vm-ia-123' under resource group 'crptestps7690' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/networkSecurityGroups/vm-ia-123?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"863f35d1-18dc-4c5f-a218-2a898ba05882\""
        ],
        "x-ms-throttle-levels": [
          "operationRatePct=0.2, operationConcurrencyPct=0.7, subscriptionReadRatePct=0.1, etc"
        ],
        "x-ms-throttling-version": [
          "v2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vm-ia-123\",\r\n  \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/networkSecurityGroups/vm-ia-123\",\r\n  \"etag\": \"W/\\\"863f35d1-18dc-4c5f-a218-2a898ba05882\\\"\",\r\n  \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"94a5cdb5-3289-4b38-939c-e0adbe105acd\",\r\n    \"securityRules\": [\r\n      {\r\n        \"name\": \"vm-ia-1233389\",\r\n        \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/networkSecurityGroups/vm-ia-123/securityRules/vm-ia-1233389\",\r\n        \"etag\": \"W/\\\"863f35d1-18dc-4c5f-a218-2a898ba05882\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/securityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"3389\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 1000,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"vm-ia-1235985\",\r\n        \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/networkSecurityGroups/vm-ia-123/securityRules/vm-ia-1235985\",\r\n        \"etag\": \"W/\\\"863f35d1-18dc-4c5f-a218-2a898ba05882\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/securityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"5985\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 1001,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      }\r\n    ],\r\n    \"defaultSecurityRules\": [\r\n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/networkSecurityGroups/vm-ia-123/defaultSecurityRules/AllowVnetInBound\",\r\n        \"etag\": \"W/\\\"863f35d1-18dc-4c5f-a218-2a898ba05882\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\",\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\": \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"[...]
    {
      "RequestUri": "/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/virtualNetworks/vm-ia-123?api-version=2020-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"192.168.1.0/24\"\r\n        },\r\n        \"name\": \"vm-ia-123\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"eastus2euap\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/providers/Microsoft.Network/locations/eastus2euap/operations/af815226-177b-4efc-8d5f-f1ea4610dd51?api-version=2020-11-01&t=639126243463597607&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS[...]
[...]
    {
      "RequestUri": "/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/providers/Microsoft.Network/locations/eastus2euap/operations/f6f1cec8-6d91-48be-b051-4bfd046dcf01?api-version=2020-11-01&t=639126243468119674&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0GC[...]
    {
      "RequestUri": "/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/providers/Microsoft.Network/locations/eastus2euap/operations/af815226-177b-4efc-8d5f-f1ea4610dd51?api-version=2020-11-01&t=639126243463597607&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0GC[...]
    {
      "RequestUri": "/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/networkInterfaces/vm-ia-123?api-version=2020-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/networkSecurityGroups/vm-ia-123\"\r\n    },\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/virtualNetworks/vm-ia-123/subnets/vm-ia-123\"\r\n          }\r\n        },\r\n        \"name\": \"vm-ia-123\"\r\n      }\r\n    ],\r\n    \"enableAcceleratedNetworking\": false\r\n  },\r\n  \"location\": \"eastus2euap\"\r\n}",
      "ResponseHeaders": {
        "x-ms-throttle-levels": [
          "operationRatePct=0.1, operationConcurrencyPct=0.3, subscriptionWriteRatePct=0.3, etc"
        ],
        "x-ms-throttling-version": [
          "v2"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vm-ia-123\",\r\n  \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/networkInterfaces/vm-ia-123\",\r\n  \"etag\": \"W/\\\"62a9bfcc-3b42-49de-8ac1-fe04cff420d6\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"a29cfa73-6bab-4946-a312-fdd9c421d5dd\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"vm-ia-123\",\r\n        \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/networkInterfaces/vm-ia-123/ipConfigurations/vm-ia-123\",\r\n        \"etag\": \"W/\\\"62a9bfcc-3b42-49de-8ac1-fe04cff420d6\\\"\",\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"192.168.1.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/virtualNetworks/vm-ia-123/subnets/vm-ia-123\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"11pq2d3eodbunnkrysfvbbjmob.cbnx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/networkSecurityGroups/vm-ia-123\"\r\n    },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n    \"nicType\": \"Standard\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"eastus2euap\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Compute/virtualMachines/vm-ia-123?api-version=2025-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"zones\": [\r\n    \"2\"\r\n  ],\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D2s_v3\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2019-Datacenter\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"createOption\": \"FromImage\"\r\n      },\r\n      \"alignRegionalDisksToVMZone\": false\r\n    },\r\n    \"additionalCapabilities\": {},\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm-ia-123\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"adminPassword\": \"Sanitized\",\r\n      \"windowsConfiguration\": {}\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Network/networkInterfaces/vm-ia-123\"\r\n        }\r\n      ]\r\n    },\r\n    \"securityProfile\": {}\r\n  },\r\n  \"location\": \"eastus2euap\"\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "\"1\""
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/1e577a1c-33bf-4956-bb9a-2aa317089018?p=4edbd24d-d563-4319-8e0d-208b49f73f7f&api-version=2025-04-01&t=639126243538631707&c=MIIH9DCCBtygA[...]
    {
      "RequestUri": "/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Compute/virtualMachines/vm-ia-123?api-version=2025-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"zones\": [\r\n    \"2\"\r\n  ],\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D2s_v3\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2019-Datacenter\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"vm-ia-123_OsDisk_1_f30a62312d2743689674d08f41003eea\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"createOption\": \"FromImage\",\r\n        \"diskSizeGB\": 127,\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n          \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Compute/disks/vm-ia-123_OsDisk_1_f30a62312d2743689674d08f41003eea\"\r\n        },\r\n        \"deleteOption\": \"Detach\"\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 0,\r\n          \"name\": \"dd-disk-ia-123\",\r\n          \"caching\": \"None\",\r\n          \"writeAcceleratorEnabled\": false,\r\n          \"createOption\": \"Attach\",\r\n          \"managedDisk\": {\r\n            \"id\": \"/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Compute/disks/dd-disk-ia-123\"\r\n          }\r\n        }\r\n      ],\r\n      \"alignRegionalDisksToVMZone\": false\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"vm-ia-123\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"windowsConfiguration\": {\r\n        \"provisio[...]
    {
      "RequestUri": "/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/1e577a1c-33bf-4956-bb9a-2aa317089018?p=4edbd24d-d563-4319-8e0d-208b49f73f7f&api-version=2025-04-01&t=639126243538631707&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdG[...]
[...]
    {
      "RequestUri": "/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/resourceGroups/crptestps7690/providers/Microsoft.Compute/disks/dd-disk-ia-123?api-version=2025-01-02",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"PremiumV2_LRS\"\r\n  },\r\n  \"zones\": [\r\n    \"2\"\r\n  ],\r\n  \"properties\": {\r\n    \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 32,\r\n    \"diskIOPSReadWrite\": 3000,\r\n    \"diskMBpsReadWrite\": 125\r\n  },\r\n  \"tags\": {},\r\n  \"location\": \"eastus2euap\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/f3dc4aaa-f836-4cef-91af-8764f035bfa9/providers/Microsoft.Compute/locations/eastus2euap/DiskOperations/e5543565-aadf-40c3-bebf-cf053bf04d8a?p=833683cf-f417-4646-bc13-5f4ea0670ace&monitor=true&api-version=2025-01-02&t=639126244811353936&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE-MDwGA1UEAxM1YXN5bmNvcG[...]
    {
[...]
