{
  "Get-AzFunctionApp+[NoContext]+GetAll+$GET+https://management.azure.com/subscriptions/a8dce044-414f-4fbc-8ed3-4cd1c9d9b6b0/providers/Microsoft.Web/sites?api-version=2019-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a8dce044-414f-4fbc-8ed3-4cd1c9d9b6b0/providers/Microsoft.Web/sites?api-version=2019-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "39" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"1D6A4EDB205BD55\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11979" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/a8dce044-414f-4fbc-8ed3-4cd1c9d9b6b0/resourceGroups/Functions-Test-Linux-Premium-63wer9/providers/Microsoft.Web/sites/Functions-Node-10-yithnw\",\"name\":\"Functions-Node-10-yithnw\",\"type\":\"Microsoft.Web/sites\",\"kind\":\"functionapp,linux\",\"location\":\"Central US\",\"properties\":{\"name\":\"Functions-Node-10-yithnw\",\"state\":\"Running\",\"hostNames\":[\"functions-node-10-yithnw.azurewebsites.net\"],\"webSpace\":\"Functions-Test-Linux-Premium-63wer9-CentralUSwebspace\",\"selfLink\":\"https://waws-prod-dm1-165.api.azurewebsites.windows.net:454/subscriptions/a8dce044-414f-4fbc-8ed3-4cd1c9d9b6b0/webspaces/Functions-Test-Linux-Premium-63wer9-CentralUSwebspace/sites/Functions-Node-10-yithnw\",\"repositorySiteName\":\"Functions-Node-10-yithnw\",\"owner\":null,\"usageState\":\"Normal\",\"enabled\":true,\"adminEnabled\":true,\"enabledHostNames\":[\"functions-node-10-yithnw.azurewebsites.net\",\"functions-node-10-yithnw.scm.azurewebsites.net\"],\"siteProperties\":{\"metadata\":null,\"properties\":[{\"name\":\"LinuxFxVersion\",\"value\":\"Node|10\"},{\"name\":\"WindowsFxVersion\",\"value\":null}],\"appSettings\":null},\"availabilityState\":\"Normal\",\"sslCertificates\":[],\"csrs\":[],\"cers\":null,\"siteMode\":\"Limited\",\"hostNameSslStates\":[{\"name\":\"functions-node-10-yithnw.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"thumbprint\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Standard\"},{\"name\":\"functions-node-10-yithnw.scm.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"thumbprint\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Repository\"}],\"computeMode\":\"Dedicated\",\"serverFarm\":null,\"serverFarmId\":\"/subscriptions/a8dce044-414f-4fbc-8ed3-4cd1c9d9b6b0/resourceGroups/Functions-Test-Linux-Premium-63wer9/providers/Microsoft.Web/serverfarms/Functions-Linux-Premium-r14mya\",\"reserved\":true,\"isXenon\":false,\"hyperV\":false,\"lastModifiedTimeUtc\":\"2020-10-18T01:25:12.8966667\",\"storageRecoveryDefaultState\":\"Running\",\"contentAvailabilityState\":\"Normal\",\"runtimeAvailabilityState\":\"Normal\",\"siteConfig\":{\"numberOfWorkers\":null,\"defaultDocuments\":null,\"netFrameworkVersion\":null,\"phpVersion\":null,\"pythonVersion\":null,\"nodeVersion\":null,\"powerShellVersion\":null,\"linuxFxVersion\":null,\"windowsFxVersion\":null,\"requestTracingEnabled\":null,\"remoteDebuggingEnabled\":null,\"remoteDebuggingVersion\":null,\"httpLoggingEnabled\":null,\"azureMonitorLogCategories\":null,\"acrUseManagedIdentityCreds\":false,\"acrUserManagedIdentityID\":null,\"logsDirectorySizeLimit\":null,\"detailedErrorLoggingEnabled\":null,\"publishingUsername\":null,\"publishingPassword\":null,\"appSettings\":null,\"azureStorageAccounts\":null,\"metadata\":null,\"connectionStrings\":null,\"machineKey\":null,\"handlerMappings\":null,\"documentRoot\":null,\"scmType\":null,\"use32BitWorkerProcess\":null,\"webSocketsEnabled\":null,\"alwaysOn\":null,\"javaVersion\":null,\"javaContainer\":null,\"javaContainerVersion\":null,\"appCommandLine\":null,\"managedPipelineMode\":null,\"virtualApplications\":null,\"winAuthAdminState\":null,\"winAuthTenantState\":null,\"customAppPoolIdentityAdminState\":null,\"customAppPoolIdentityTenantState\":null,\"runtimeADUser\":null,\"runtimeADUserPassword\":null,\"loadBalancing\":null,\"routingRules\":null,\"experiments\":null,\"limits\":null,\"autoHealEnabled\":null,\"autoHealRules\":null,\"tracingOptions\":null,\"vnetName\":null,\"vnetRouteAllEnabled\":null,\"cors\":null,\"push\":null,\"apiDefinition\":null,\"apiManagementConfig\":null,\"autoSwapSlotName\":null,\"localMySqlEnabled\":null,\"managedServiceIdentityId\":null,\"xManagedServiceIdentityId\":null,\"ipSecurityRestrictions\":null,\"scmIpSecurityRestrictions\":null,\"scmIpSecurityRestrictionsUseMain\":null,\"http20Enabled\":null,\"minTlsVersion\":null,\"scmMinTlsVersion\":null,\"ftpsState\":null,\"preWarmedInstanceCount\":null,\"functionAppScaleLimit\":null,\"healthCheckPath\":null,\"fileChangeAuditEnabled\":null,\"functionsRuntimeScaleMonitoringEnabled\":null,\"websiteTimeZone\":null,\"minimumElasticInstanceCount\":0},\"deploymentId\":\"Functions-Node-10-yithnw\",\"trafficManagerHostNames\":null,\"sku\":\"ElasticPremium\",\"scmSiteAlsoStopped\":false,\"targetSwapSlot\":null,\"hostingEnvironment\":null,\"hostingEnvironmentProfile\":null,\"clientAffinityEnabled\":false,\"clientCertEnabled\":false,\"clientCertMode\":\"Required\",\"clientCertExclusionPaths\":null,\"hostNamesDisabled\":false,\"domainVerificationIdentifiers\":null,\"customDomainVerificationId\":\"1410363E0F650415A759E2995BEEE01120A6D1E5C1CE6CC54AD062D02F2B1540\",\"kind\":\"functionapp,linux\",\"inboundIpAddress\":\"13.89.172.9\",\"possibleInboundIpAddresses\":\"13.89.172.9\",\"ftpUsername\":\"Functions-Node-10-yithnw\\\\$Functions-Node-10-yithnw\",\"ftpsHostName\":\"ftps://waws-prod-dm1-165.ftp.azurewebsites.windows.net/site/wwwroot\",\"outboundIpAddresses\":\"52.165.222.230,23.101.120.30,52.173.207.58,23.99.176.208,52.165.217.193\",\"possibleOutboundIpAddresses\":\"13.89.172.9,40.122.128.108,13.67.228.39,13.67.190.51,52.165.186.118,52.165.222.230,23.101.120.30,52.173.207.58,23.99.176.208,52.165.217.193\",\"containerSize\":0,\"dailyMemoryTimeQuota\":0,\"suspendedTill\":null,\"siteDisabledReason\":0,\"functionExecutionUnitsCache\":null,\"maxNumberOfWorkers\":null,\"homeStamp\":\"waws-prod-dm1-165\",\"cloningInfo\":null,\"hostingEnvironmentId\":null,\"tags\":null,\"resourceGroup\":\"Functions-Test-Linux-Premium-63wer9\",\"defaultHostName\":\"functions-node-10-yithnw.azurewebsites.net\",\"slotSwapStatus\":null,\"httpsOnly\":false,\"redundancyMode\":\"None\",\"inProgressOperationId\":null,\"geoDistributions\":null,\"privateEndpointConnections\":null,\"buildVersion\":null,\"targetBuildVersion\":null,\"migrationState\":null}},{\"id\":\"/subscriptions/a8dce044-414f-4fbc-8ed3-4cd1c9d9b6b0/resourceGroups/Functions-Test-Linux-Consumption-2mc68v/providers/Microsoft.Web/sites/Functions-Python-3-8-ykjwlf\",\"name\":\"Functions-Python-3-8-ykjwlf\",\"type\":\"Microsoft.Web/sites\",\"kind\":\"functionapp,linux\",\"location\":\"Central US\",\"properties\":{\"name\":\"Functions-Python-3-8-ykjwlf\",\"state\":\"Running\",\"hostNames\":[\"functions-python-3-8-ykjwlf.azurewebsites.net\"],\"webSpace\":\"Functions-Test-Linux-Co[...]
