{
  "Get-AzFunctionApp+[NoContext]+GetAll+$GET+https://management.azure.com/subscriptions/3c4c30a8-1259-4f75-b267-fc4d7a7855eb/providers/Microsoft.Web/sites?api-version=2019-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/3c4c30a8-1259-4f75-b267-fc4d7a7855eb/providers/Microsoft.Web/sites?api-version=2019-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "37" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"1D64374B665488B\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11981" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/3c4c30a8-1259-4f75-b267-fc4d7a7855eb/resourceGroups/Functions-Test-Linux-Premium-dk83nx/providers/Microsoft.Web/sites/Functions-Node-10-3eq4rm\",\"name\":\"Functions-Node-10-3eq4rm\",\"type\":\"Microsoft.Web/sites\",\"kind\":\"functionapp,linux\",\"location\":\"Central US\",\"properties\":{\"name\":\"Functions-Node-10-3eq4rm\",\"state\":\"Running\",\"hostNames\":[\"functions-node-10-3eq4rm.azurewebsites.net\"],\"webSpace\":\"Functions-Test-Linux-Premium-dk83nx-CentralUSwebspace\",\"selfLink\":\"https://waws-prod-dm1-165.api.azurewebsites.windows.net:454/subscriptions/3c4c30a8-1259-4f75-b267-fc4d7a7855eb/webspaces/Functions-Test-Linux-Premium-dk83nx-CentralUSwebspace/sites/Functions-Node-10-3eq4rm\",\"repositorySiteName\":\"Functions-Node-10-3eq4rm\",\"owner\":null,\"usageState\":\"Normal\",\"enabled\":true,\"adminEnabled\":true,\"enabledHostNames\":[\"functions-node-10-3eq4rm.azurewebsites.net\",\"functions-node-10-3eq4rm.scm.azurewebsites.net\"],\"siteProperties\":{\"metadata\":null,\"properties\":[{\"name\":\"LinuxFxVersion\",\"value\":\"NODE|10\"},{\"name\":\"WindowsFxVersion\",\"value\":null}],\"appSettings\":null},\"availabilityState\":\"Normal\",\"sslCertificates\":[],\"csrs\":[],\"cers\":null,\"siteMode\":\"Limited\",\"hostNameSslStates\":[{\"name\":\"functions-node-10-3eq4rm.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"thumbprint\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Standard\"},{\"name\":\"functions-node-10-3eq4rm.scm.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"thumbprint\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Repository\"}],\"computeMode\":\"Dedicated\",\"serverFarm\":null,\"serverFarmId\":\"/subscriptions/3c4c30a8-1259-4f75-b267-fc4d7a7855eb/resourceGroups/Functions-Test-Linux-Premium-dk83nx/providers/Microsoft.Web/serverfarms/Functions-Linux-Premium-hlqm6e\",\"reserved\":true,\"isXenon\":false,\"hyperV\":false,\"lastModifiedTimeUtc\":\"2020-06-16T00:24:33.8433333\",\"storageRecoveryDefaultState\":\"Running\",\"contentAvailabilityState\":\"Normal\",\"runtimeAvailabilityState\":\"Normal\",\"siteConfig\":{\"numberOfWorkers\":null,\"defaultDocuments\":null,\"netFrameworkVersion\":null,\"phpVersion\":null,\"pythonVersion\":null,\"nodeVersion\":null,\"powerShellVersion\":null,\"linuxFxVersion\":null,\"windowsFxVersion\":null,\"requestTracingEnabled\":null,\"remoteDebuggingEnabled\":null,\"remoteDebuggingVersion\":null,\"httpLoggingEnabled\":null,\"azureMonitorLogCategories\":null,\"acrUseManagedIdentityCreds\":false,\"acrUserManagedIdentityID\":null,\"logsDirectorySizeLimit\":null,\"detailedErrorLoggingEnabled\":null,\"publishingUsername\":null,\"publishingPassword\":null,\"appSettings\":null,\"metadata\":null,\"connectionStrings\":null,\"machineKey\":null,\"handlerMappings\":null,\"documentRoot\":null,\"scmType\":null,\"use32BitWorkerProcess\":null,\"webSocketsEnabled\":null,\"alwaysOn\":null,\"javaVersion\":null,\"javaContainer\":null,\"javaContainerVersion\":null,\"appCommandLine\":null,\"managedPipelineMode\":null,\"virtualApplications\":null,\"winAuthAdminState\":null,\"winAuthTenantState\":null,\"customAppPoolIdentityAdminState\":null,\"customAppPoolIdentityTenantState\":null,\"runtimeADUser\":null,\"runtimeADUserPassword\":null,\"loadBalancing\":null,\"routingRules\":null,\"experiments\":null,\"limits\":null,\"autoHealEnabled\":null,\"autoHealRules\":null,\"tracingOptions\":null,\"vnetName\":null,\"cors\":null,\"push\":null,\"apiDefinition\":null,\"apiManagementConfig\":null,\"autoSwapSlotName\":null,\"localMySqlEnabled\":null,\"managedServiceIdentityId\":null,\"xManagedServiceIdentityId\":null,\"ipSecurityRestrictions\":null,\"scmIpSecurityRestrictions\":null,\"scmIpSecurityRestrictionsUseMain\":null,\"http20Enabled\":null,\"minTlsVersion\":null,\"ftpsState\":null,\"preWarmedInstanceCount\":null,\"healthCheckPath\":null,\"fileChangeAuditEnabled\":null,\"functionsRuntimeScaleMonitoringEnabled\":null,\"websiteTimeZone\":null,\"minimumElasticInstanceCount\":0},\"deploymentId\":\"Functions-Node-10-3eq4rm\",\"trafficManagerHostNames\":null,\"sku\":\"ElasticPremium\",\"scmSiteAlsoStopped\":false,\"targetSwapSlot\":null,\"hostingEnvironment\":null,\"hostingEnvironmentProfile\":null,\"clientAffinityEnabled\":false,\"clientCertEnabled\":false,\"clientCertMode\":\"Required\",\"clientCertExclusionPaths\":null,\"hostNamesDisabled\":false,\"domainVerificationIdentifiers\":null,\"customDomainVerificationId\":\"B791A77508393F6BFEFD70C47DC23B7F62B8A293A34CC6F0D2184895E65EFA93\",\"kind\":\"functionapp,linux\",\"inboundIpAddress\":\"13.89.172.9\",\"possibleInboundIpAddresses\":\"13.89.172.9\",\"ftpUsername\":\"Functions-Node-10-3eq4rm\\\\$Functions-Node-10-3eq4rm\",\"ftpsHostName\":\"ftps://waws-prod-dm1-165.ftp.azurewebsites.windows.net/site/wwwroot\",\"outboundIpAddresses\":\"52.165.222.230,23.101.120.30,52.173.207.58,23.99.176.208,52.165.217.193\",\"possibleOutboundIpAddresses\":\"13.89.172.9,40.122.128.108,13.67.228.39,13.67.190.51,52.165.186.118,52.165.222.230,23.101.120.30,52.173.207.58,23.99.176.208,52.165.217.193\",\"containerSize\":0,\"dailyMemoryTimeQuota\":0,\"suspendedTill\":null,\"siteDisabledReason\":0,\"functionExecutionUnitsCache\":null,\"maxNumberOfWorkers\":null,\"homeStamp\":\"waws-prod-dm1-165\",\"cloningInfo\":null,\"hostingEnvironmentId\":null,\"tags\":null,\"resourceGroup\":\"Functions-Test-Linux-Premium-dk83nx\",\"defaultHostName\":\"functions-node-10-3eq4rm.azurewebsites.net\",\"slotSwapStatus\":null,\"httpsOnly\":false,\"redundancyMode\":\"None\",\"inProgressOperationId\":null,\"geoDistributions\":null,\"privateEndpointConnections\":null,\"buildVersion\":null,\"targetBuildVersion\":null}},{\"id\":\"/subscriptions/3c4c30a8-1259-4f75-b267-fc4d7a7855eb/resourceGroups/Functions-Test-Linux-Consumption-1c0z2q/providers/Microsoft.Web/sites/Functions-Python-3-8-4wmydl\",\"name\":\"Functions-Python-3-8-4wmydl\",\"type\":\"Microsoft.Web/sites\",\"kind\":\"functionapp,linux\",\"location\":\"Central US\",\"properties\":{\"name\":\"Functions-Python-3-8-4wmydl\",\"state\":\"Running\",\"hostNames\":[\"functions-python-3-8-4wmydl.azurewebsites.net\"],\"webSpace\":\"Functions-Test-Linux-Co[...]
