{
  "Get-AzFunctionAppAvailableLocation+[NoContext]+Validate set default parameters for -PlanType and -OSType+$GET+https://management.azure.com/subscriptions/68816ea7-79b4-44f0-b75a-d7fa96560173/providers/Microsoft.Web/geoRegions?sku=ElasticPremium\u0026api-version=2019-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/68816ea7-79b4-44f0-b75a-d7fa96560173/providers/Microsoft.Web/geoRegions?sku=ElasticPremium\u0026api-version=2019-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "80" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11951" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/68816ea7-79b4-44f0-b75a-d7fa96560173/providers/Microsoft.Web/geoRegions/Central US\",\"name\":\"Central US\",\"type\":\"Microsoft.Web/geoRegions\",\"properties\":{\"name\":\"Central US\",\"description\":null,\"sortOrder\":0,\"displayName\":\"Central US\",\"orgDomain\":\"PUBLIC;DREAMSPARK;MSFTPUBLIC;FUNCTIONS;DYNAMIC;DSERIES;LINUX;LINUXDSERIES;ELASTICPREMIUM;LINUXFREE;LINUXDYNAMIC;ELASTICLINUX;XENON;XENONV3;WINDOWSV3;LINUXV3\"}},{\"id\":\"/subscriptions/68816ea7-79b4-44f0-b75a-d7fa96560173/providers/Microsoft.Web/geoRegions/North Europe\",\"name\":\"North Europe\",\"type\":\"Microsoft.Web/geoRegions\",\"properties\":{\"name\":\"North Europe\",\"description\":null,\"sortOrder\":1,\"displayName\":\"North Europe\",\"orgDomain\":\"PUBLIC;DREAMSPARK;MSFTPUBLIC;FUNC[...]
