{
  "Get-AzFunctionAppAvailableLocation+[NoContext]+Validate set default parameters for -PlanType and -OSType+$GET+https://management.azure.com/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/providers/Microsoft.Web/geoRegions?sku=ElasticPremium\u0026api-version=2019-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/providers/Microsoft.Web/geoRegions?sku=ElasticPremium\u0026api-version=2019-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "132" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11917" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/providers/Microsoft.Web/geoRegions/Central US\",\"name\":\"Central US\",\"type\":\"Microsoft.Web/geoRegions\",\"properties\":{\"name\":\"Central US\",\"description\":null,\"sortOrder\":0,\"displayName\":\"Central US\",\"orgDomain\":\"PUBLIC;DREAMSPARK;MSFTPUBLIC;FUNCTIONS;DYNAMIC;DSERIES;LINUX;LINUXDSERIES;ELASTICPREMIUM;LINUXFREE;LINUXDYNAMIC;ELASTICLINUX\"}},{\"id\":\"/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/providers/Microsoft.Web/geoRegions/North Europe\",\"name\":\"North Europe\",\"type\":\"Microsoft.Web/geoRegions\",\"properties\":{\"name\":\"North Europe\",\"description\":\"\",\"sortOrder\":1,\"displayName\":\"North Europe\",\"orgDomain\":\"PUBLIC;DREAMSPARK;MSFTPUBLIC;FUNCTIONS;DYNAMIC;DSERIES;LINUX;LINU[...]
