{
  "Get-AzFunctionApp+[NoContext]+GetAll+$GET+https://management.azure.com/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/providers/Microsoft.Web/sites?api-version=2019-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/providers/Microsoft.Web/sites?api-version=2019-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "99" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "59e5a4c2-7a0a-4f97-8dad-2bfec34363b6", "7528992c-5067-444b-a5bd-64ddc759988d", "37e7bea4-2ae6-4615-89b8-baf39f55e304", "b86ef0c0-83b4-4878-ada0-150dc0566ba4" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11919" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/cleanupservice/providers/Microsoft.Web/sites/cln7cfd10d3-e1fb-49f9-9c53-711a58e9de69\",\"name\":\"cln7cfd10d3-e1fb-49f9-9c53-711a58e9de69\",\"type\":\"Microsoft.Web/sites\",\"kind\":\"app\",\"location\":\"West US\",\"tags\":{\"hidden-related:/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourcegroups/cleanupservice/providers/Microsoft.Web/serverfarms/cln7cfd10d3-e1fb-49f9-9c53-711a58e9de69\":\"empty\"},\"properties\":{\"name\":\"cln7cfd10d3-e1fb-49f9-9c53-711a58e9de69\",\"state\":\"Running\",\"hostNames\":[\"cln7cfd10d3-e1fb-49f9-9c53-711a58e9de69.azurewebsites.net\"],\"webSpace\":\"cleanupservice-WestUSwebspace\",\"selfLink\":\"https://waws-prod-bay-113.api.azurewebsites.windows.net:454/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/webspaces/cleanupservice-WestUSwebspace/sites/cln7cfd10d3-e1fb-49f9-9c53-711a58e9de69\",\"repositorySiteName\":\"cln7cfd10d3-e1fb-49f9-9c53-711a58e9de69\",\"owner\":null,\"usageState\":\"Normal\",\"enabled\":true,\"adminEnabled\":true,\"enabledHostNames\":[\"cln7cfd10d3-e1fb-49f9-9c53-711a58e9de69.azurewebsites.net\",\"cln7cfd10d3-e1fb-49f9-9c53-711a58e9de69.scm.azurewebsites.net\"],\"siteProperties\":{\"metadata\":null,\"properties\":[{\"name\":\"LinuxFxVersion\",\"value\":\"\"},{\"name\":\"WindowsFxVersion\",\"value\":null}],\"appSettings\":null},\"availabilityState\":\"Normal\",\"sslCertificates\":[],\"csrs\":[],\"cers\":null,\"siteMode\":\"Limited\",\"hostNameSslStates\":[{\"name\":\"cln7cfd10d3-e1fb-49f9-9c53-711a58e9de69.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"thumbprint\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Standard\"},{\"name\":\"cln7cfd10d3-e1fb-49f9-9c53-711a58e9de69.scm.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"thumbprint\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Repository\"}],\"computeMode\":\"Dedicated\",\"serverFarm\":null,\"serverFarmId\":\"/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/cleanupservice/providers/Microsoft.Web/serverfarms/cln7cfd10d3-e1fb-49f9-9c53-711a58e9de69\",\"reserved\":false,\"isXenon\":false,\"hyperV\":false,\"lastModifiedTimeUtc\":\"2021-05-22T12:14:03.79\",\"storageRecoveryDefaultState\":\"Running\",\"contentAvailabilityState\":\"Normal\",\"runtimeAvailabilityState\":\"Normal\",\"siteConfig\":{\"numberOfWorkers\":1,\"defaultDocuments\":null,\"netFrameworkVersion\":null,\"phpVersion\":null,\"pythonVersion\":null,\"nodeVersion\":null,\"powerShellVersion\":null,\"linuxFxVersion\":\"\",\"windowsFxVersion\":null,\"requestTracingEnabled\":null,\"remoteDebuggingEnabled\":null,\"remoteDebuggingVersion\":null,\"httpLoggingEnabled\":null,\"azureMonitorLogCategories\":null,\"acrUseManagedIdentityCreds\":false,\"acrUserManagedIdentityID\":null,\"logsDirectorySizeLimit\":null,\"detailedErrorLoggingEnabled\":null,\"publishingUsername\":null,\"publishingPassword\":null,\"appSettings\":null,\"azureStorageAccounts\":null,\"metadata\":null,\"connectionStrings\":null,\"machineKey\":null,\"handlerMappings\":null,\"documentRoot\":null,\"scmType\":null,\"use32BitWorkerProcess\":null,\"webSocketsEnabled\":null,\"alwaysOn\":true,\"javaVersion\":null,\"javaContainer\":null,\"javaContainerVersion\":null,\"appCommandLine\":null,\"managedPipelineMode\":null,\"virtualApplications\":null,\"winAuthAdminState\":null,\"winAuthTenantState\":null,\"customAppPoolIdentityAdminState\":null,\"customAppPoolIdentityTenantState\":null,\"runtimeADUser\":null,\"runtimeADUserPassword\":null,\"loadBalancing\":null,\"routingRules\":null,\"experiments\":null,\"limits\":null,\"autoHealEnabled\":null,\"autoHealRules\":null,\"tracingOptions\":null,\"vnetName\":null,\"vnetRouteAllEnabled\":null,\"vnetPrivatePortsCount\":null,\"publicNetworkAccess\":null,\"cors\":null,\"push\":null,\"apiDefinition\":null,\"apiManagementConfig\":null,\"autoSwapSlotName\":null,\"localMySqlEnabled\":null,\"managedServiceIdentityId\":null,\"xManagedServiceIdentityId\":null,\"keyVaultReferenceIdentity\":null,\"ipSecurityRestrictions\":null,\"scmIpSecurityRestrictions\":null,\"scmIpSecurityRestrictionsUseMain\":null,\"http20Enabled\":false,\"minTlsVersion\":null,\"scmMinTlsVersion\":null,\"ftpsState\":null,\"preWarmedInstanceCount\":null,\"functionAppScaleLimit\":0,\"healthCheckPath\":null,\"fileChangeAuditEnabled\":null,\"functionsRuntimeScaleMonitoringEnabled\":null,\"websiteTimeZone\":null,\"minimumElasticInstanceCount\":0},\"deploymentId\":\"cln7cfd10d3-e1fb-49f9-9c53-711a58e9de69\",\"slotName\":null,\"trafficManagerHostNames\":null,\"sku\":\"Standard\",\"scmSiteAlsoStopped\":false,\"targetSwapSlot\":null,\"hostingEnvironment\":null,\"hostingEnvironmentProfile\":null,\"clientAffinityEnabled\":true,\"clientCertEnabled\":false,\"clientCertMode\":\"Required\",\"clientCertExclusionPaths\":null,\"hostNamesDisabled\":false,\"domainVerificationIdentifiers\":null,\"customDomainVerificationId\":\"3A60014F75AE3C2D120BAD27B23583AF45148A24ADDB09602E322BD2777C248F\",\"kind\":\"app\",\"inboundIpAddress\":\"40.78.48.219\",\"possibleInboundIpAddresses\":\"40.78.48.219\",\"ftpUsername\":\"cln7cfd10d3-e1fb-49f9-9c53-711a58e9de69\\\\$cln7cfd10d3-e1fb-49f9-9c53-711a58e9de69\",\"ftpsHostName\":\"ftps://waws-prod-bay-113.ftp.azurewebsites.windows.net/site/wwwroot\",\"outboundIpAddresses\":\"40.78.48.219,104.40.3.246,104.40.8.50,104.40.4.179,104.40.14.83\",\"possibleOutboundIpAddresses\":\"40.78.48.219,104.40.3.246,104.40.8.50,104.40.4.179,104.40.14.83,104.40.12.222,104.40.2.67,104.40.9.121\",\"containerSize\":0,\"dailyMemoryTimeQuota\":0,\"suspendedTill\":null,\"siteDisabledReason\":0,\"functionExecutionUnitsCache\":null,\"maxNumberOfWorkers\":null,\"homeStamp\":\"waws-prod-bay-113\",\"cloningInfo\":null,\"hostingEnvironmentId\":null,\"tags\":{\"hidden-related:/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourcegroups/cleanupservice/providers/Microsoft.Web/serverfarms/cln7cfd10d3-e1fb-49f9-9c53-711a58e9de69\":\"empty\"},\"resourceGroup\":\"cleanupservice\",\"defaultHostName\":\"cln7cfd10d3-e1fb-49f9-9c53-711a58e9de69.azurewebsites.net\",\"slotSwapStatus\":null,\"keyVaultReferenceIdentity\":\"SystemAssigned\",\"httpsOnly\":false,\"redundancyMode\":\"None\",\"inProgressOperationId\":null,\"geoDistributions\":null,\"privateEndpointConnections\":null,\"buildVersion\":null,\"targetBuildVersion\":null,\"migrationState\":null,\"eligibleLogCategories\":\"app\",\"storageAccountRequired\":false,\"virtualNetworkSubnetId\":null},\"identity\":{\"type\":\"SystemAssigned\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"principalId\":\"01e3d745-a679-49dc-becb-ccf83bbb320a\"}},{\"id\":\"/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/frangom-west-us/providers/Microsoft.Web/sites/frangom-PS7-west-us-2\",\"name\":\"frangom-PS7-west-us-2\",\"type\":\"Microsoft.Web/sites\",\"kind\":\"functionapp\",\"location\":\"West US\",\"tags\":{\"MarkedForDelete\":\"03-05-2021 13:20:32\"},\"properties\":{\"name\":\"frangom-PS7-west-us-2\",\"state\":\"Running\",\"hostNames\":[\"frangom-ps7-west-us-2.azurewebsites.net\"],\"webSpace\":\"frangom-west-us-WestUSwebspace\",\"selfLink\":\"https://waws-prod-bay-111.api.azurewebsites.windows.net:454/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/webspaces/frangom-west-us-WestUSwebspace/sites/frangom-PS7-west-us-2\",\"repositorySiteName\":\"frangom-PS7-west-us-2\",\"owner\":null,\"usageState\":\"Normal\",\"enabl[...]
