{
  "Get-AzFunctionApp+[NoContext]+GetAll+$GET+https://management.azure.com/subscriptions/13029c26-a786-43f8-b6ae-e2699a8ea360/providers/Microsoft.Web/sites?api-version=2019-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/13029c26-a786-43f8-b6ae-e2699a8ea360/providers/Microsoft.Web/sites?api-version=2019-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "37" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"1D628BF6F8A2F80\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11981" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/13029c26-a786-43f8-b6ae-e2699a8ea360/resourceGroups/Functions-Test-Linux-Consumption-iobaf4/providers/Microsoft.Web/sites/Functions-Python-3-8-dc8pa6\",\"name\":\"Functions-Python-3-8-dc8pa6\",\"type\":\"Microsoft.Web/sites\",\"kind\":\"functionapp,linux\",\"location\":\"Central US\",\"properties\":{\"name\":\"Functions-Python-3-8-dc8pa6\",\"state\":\"Running\",\"hostNames\":[\"functions-python-3-8-dc8pa6.azurewebsites.net\"],\"webSpace\":\"Functions-Test-Linux-Consumption-iobaf4-CentralUSwebspace\",\"selfLink\":\"https://waws-prod-dm1-157.api.azurewebsites.windows.net:454/subscriptions/13029c26-a786-43f8-b6ae-e2699a8ea360/webspaces/Functions-Test-Linux-Consumption-iobaf4-CentralUSwebspace/sites/Functions-Python-3-8-dc8pa6\",\"repositorySiteName\":\"Functions-Python-3-8-dc8pa6\",\"owner\":null,\"usageState\":\"Normal\",\"enabled\":true,\"adminEnabled\":true,\"enabledHostNames\":[\"functions-python-3-8-dc8pa6.azurewebsites.net\",\"functions-python-3-8-dc8pa6.scm.azurewebsites.net\"],\"siteProperties\":{\"metadata\":null,\"properties\":[{\"name\":\"LinuxFxVersion\",\"value\":\"PYTHON|3.8\"},{\"name\":\"WindowsFxVersion\",\"value\":null}],\"appSettings\":null},\"availabilityState\":\"Normal\",\"sslCertificates\":[],\"csrs\":[],\"cers\":null,\"siteMode\":\"Limited\",\"hostNameSslStates\":[{\"name\":\"functions-python-3-8-dc8pa6.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"thumbprint\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Standard\"},{\"name\":\"functions-python-3-8-dc8pa6.scm.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"thumbprint\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Repository\"}],\"computeMode\":\"Dynamic\",\"serverFarm\":null,\"serverFarmId\":\"/subscriptions/13029c26-a786-43f8-b6ae-e2699a8ea360/resourceGroups/Functions-Test-Linux-Consumption-iobaf4/providers/Microsoft.Web/serverfarms/CentralUSLinuxDynamicPlan\",\"reserved\":true,\"isXenon\":false,\"hyperV\":false,\"lastModifiedTimeUtc\":\"2020-05-13T00:42:52.92\",\"storageRecoveryDefaultState\":\"Running\",\"contentAvailabilityState\":\"Normal\",\"runtimeAvailabilityState\":\"Normal\",\"siteConfig\":null,\"deploymentId\":\"Functions-Python-3-8-dc8pa6\",\"trafficManagerHostNames\":null,\"sku\":\"Dynamic\",\"scmSiteAlsoStopped\":false,\"targetSwapSlot\":null,\"hostingEnvironment\":null,\"hostingEnvironmentProfile\":null,\"clientAffinityEnabled\":false,\"clientCertEnabled\":false,\"clientCertMode\":\"Required\",\"clientCertExclusionPaths\":null,\"hostNamesDisabled\":false,\"domainVerificationIdentifiers\":null,\"customDomainVerificationId\":\"DFAAE5DF30D13D6CBC56C48D7EEF9D6563904555A892EBF8CFB101BCFF89B5D5\",\"kind\":\"functionapp,linux\",\"inboundIpAddress\":\"13.89.172.4\",\"possibleInboundIpAddresses\":\"13.89.172.4\",\"ftpUsername\":\"Functions-Python-3-8-dc8pa6\\\\$Functions-Python-3-8-dc8pa6\",\"ftpsHostName\":\"ftps://waws-prod-dm1-157.ftp.azurewebsites.windows.net/site/wwwroot\",\"outboundIpAddresses\":\"13.89.172.4,40.122.169.200,104.208.27.4,40.122.42.64,23.99.130.19\",\"possibleOutboundIpAddresses\":\"13.89.172.4,40.122.169.200,104.208.27.4,40.122.42.64,23.99.130.19,13.67.176.18,104.208.28.216,40.122.168.112,40.122.169.80,23.99.159.248\",\"containerSize\":0,\"dailyMemoryTimeQuota\":0,\"suspendedTill\":null,\"siteDisabledReason\":0,\"functionExecutionUnitsCache\":null,\"maxNumberOfWorkers\":null,\"homeStamp\":\"waws-prod-dm1-157\",\"cloningInfo\":null,\"hostingEnvironmentId\":null,\"tags\":null,\"resourceGroup\":\"Functions-Test-Linux-Consumption-iobaf4\",\"defaultHostName\":\"functions-python-3-8-dc8pa6.azurewebsites.net\",\"slotSwapStatus\":null,\"httpsOnly\":false,\"redundancyMode\":\"None\",\"inProgressOperationId\":null,\"geoDistributions\":null,\"privateEndpointConnections\":null,\"buildVersion\":null,\"targetBuildVersion\":null}},{\"id\":\"/subscriptions/13029c26-a786-43f8-b6ae-e2699a8ea360/resourceGroups/Functions-Test-Linux-Premium-ityqcv/providers/Microsoft.Web/sites/Functions-Node-10-x86q7m\",\"name\":\"Functions-Node-10-x86q7m\",\"type\":\"Microsoft.Web/sites\",\"kind\":\"functionapp,linux\",\"location\":\"Central US\",\"properties\":{\"name\":\"Functions-Node-10-x86q7m\",\"state\":\"Running\",\"hostNames\":[\"functions-node-10-x86q7m.azurewebsites.net\"],\"webSpace\":\"Functions-Test-Linux-Premium-ityqcv-Cen[...]
