{
  "New-AzFunctionApp, Update-AzFunctionApp, and Remove-AzFunctionApp E2E+[NoContext]+Validate New-AzFunctionAppPlan, Update-AzFunctionApp and Remove-AzFunctionApp+$PUT+https://management.azure.com/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-12thli/providers/Microsoft.Web/sites/Functions-PowerShell-g7pz5tefr0?api-version=2019-08-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-12thli/providers/Microsoft.Web/sites/Functions-PowerShell-g7pz5tefr0?api-version=2019-08-01",
      "Content": "{\r\n  \"kind\": \"functionapp\",\r\n  \"location\": \"Central US\",\r\n  \"tags\": {\r\n    \"MyTag2\": \"MyTag1Value2\",\r\n    \"MyTag1\": \"MyTag1Value1\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"serverFarmId\": \"/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-12thli/providers/Microsoft.Web/serverfarms/Functions-Windows-Premium-wv5q3m\",\r\n    \"siteConfig\": {\r\n      \"appSettings\": [\r\n        {\r\n          \"name\": \"FUNCTIONS_WORKER_RUNTIME\",\r\n          \"value\": \"powershell\"\r\n        },\r\n        {\r\n          \"name\": \"WEBSITE_NODE_DEFAULT_VERSION\",\r\n          \"value\": \"~12\"\r\n        },\r\n        {\r\n          \"name\": \"AzureWebJobsStorage\",\r\n          \"value\": \"DefaultEndpointsProtocol=https;AccountName=functionswinstorageg1x;AccountKey=er/A6LnFScNge2lannvFwYsXFLQYywPv7qMztNH8AGAWXbBgjEulwieQWoRiL6r1wllNV2MJRuQU61RQJH5Nig==\"\r\n        },\r\n        {\r\n          \"name\": \"AzureWebJobsDashboard\",\r\n          \"value\": \"DefaultEndpointsProtocol=https;AccountName=functionswinstorageg1x;AccountKey=er/A6LnFScNge2lannvFwYsXFLQYywPv7qMztNH8AGAWXbBgjEulwieQWoRiL6r1wllNV2MJRuQU61RQJH5Nig==\"\r\n        },\r\n        {\r\n          \"name\": \"FUNCTIONS_EXTENSION_VERSION\",\r\n          \"value\": \"~3\"\r\n        },\r\n        {\r\n          \"name\": \"WEBSITE_CONTENTAZUREFILECONNECTIONSTRING\",\r\n          \"value\": \"DefaultEndpointsProtocol=https;AccountName=functionswinstorageg1x;AccountKey=er/A6LnFScNge2lannvFwYsXFLQYywPv7qMztNH8AGAWXbBgjEulwieQWoRiL6r1wllNV2MJRuQU61RQJH5Nig==\"\r\n        },\r\n        {\r\n          \"name\": \"WEBSITE_CONTENTSHARE\",\r\n          \"value\": \"functions-powershell-g7pz5tefr0\"\r\n        },\r\n        {\r\n          \"name\": \"APPINSIGHTS_INSTRUMENTATIONKEY\",\r\n          \"value\": \"cb115cc8-af7d-4524-bfe6-96dd84b6be7f\"\r\n        }\r\n      ]\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"1D6275FE55263CB\"" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "492" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-12thli/providers/Microsoft.Web/sites/Functions-PowerShell-g7pz5tefr0\",\"name\":\"Functions-PowerShell-g7pz5tefr0\",\"type\":\"Microsoft.Web/sites\",\"kind\":\"functionapp\",\"location\":\"Central US\",\"tags\":{\"MyTag2\":\"MyTag1Value2\",\"MyTag1\":\"MyTag1Value1\"},\"properties\":{\"name\":\"Functions-PowerShell-g7pz5tefr0\",\"state\":\"Running\",\"hostNames\":[\"functions-powershell-g7pz5tefr0.azurewebsites.net\"],\"webSpace\":\"Functions-Test-Windows-Premium-12thli-CentralUSwebspace\",\"selfLink\":\"https://waws-prod-dm1-097.api.azurewebsites.windows.net:454/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/webspaces/Functions-Test-Windows-Premium-12thli-CentralUSwebspace/sites/Functions-PowerShell-g7pz5tefr0\",\"repositorySiteName\":\"Functions-PowerShell-g7pz5tefr0\",\"owner\":null,\"usageState\":\"Normal\",\"enabled\":true,\"adminEnabled\":true,\"enabledHostNames\":[\"functions-powershell-g7pz5tefr0.azurewebsites.net\",\"functions-powershell-g7pz5tefr0.scm.azurewebsites.net\"],\"siteProperties\":{\"metadata\":null,\"properties\":[{\"name\":\"LinuxFxVersion\",\"value\":\"\"},{\"name\":\"WindowsFxVersion\",\"value\":null}],\"appSettings\":null},\"availabilityState\":\"Normal\",\"sslCertificates\":null,\"csrs\":[],\"cers\":null,\"siteMode\":null,\"hostNameSslStates\":[{\"name\":\"functions-powershell-g7pz5tefr0.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"thumbprint\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Standard\"},{\"name\":\"functions-powershell-g7pz5tefr0.scm.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"thumbprint\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Repository\"}],\"computeMode\":null,\"serverFarm\":null,\"serverFarmId\":\"/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-12thli/providers/Microsoft.Web/serverfarms/Functions-Windows-Premium-wv5q3m\",\"reserved\":false,\"isXenon\":false,\"hyperV\":false,\"lastModifiedTimeUtc\":\"2020-05-11T06:46:26.7933333\",\"storageRecoveryDefaultState\":\"Running\",\"contentAvailabilityState\":\"Normal\",\"runtimeAvailabilityState\":\"Normal\",\"siteConfig\":null,\"deploymentId\":\"Functions-PowerShell-g7pz5tefr0\",\"trafficManagerHostNames\":null,\"sku\":\"ElasticPremium\",\"scmSiteAlsoStopped\":false,\"targetSwapSlot\":null,\"hostingEnvironment\":null,\"hostingEnvironmentProfile\":null,\"clientAffinityEnabled\":false,\"clientCertEnabled\":false,\"clientCertMode\":\"Required\",\"clientCertExclusionPaths\":null,\"hostNamesDisabled\":false,\"domainVerificationIdentifiers\":null,\"customDomainVerificationId\":\"3A60014F75AE3C2D120BAD27B23583AF45148A24ADDB09602E322BD2777C248F\",\"kind\":\"functionapp\",\"inboundIpAddress\":\"23.100.82.11\",\"possibleInboundIpAddresses\":\"23.100.82.11\",\"ftpUsername\":\"Functions-PowerShell-g7pz5tefr0\\\\$Functions-PowerShell-g7pz5tefr0\",\"ftpsHostName\":\"ftps://waws-prod-dm1-097.ftp.azurewebsites.windows.net/site/wwwroot\",\"outboundIpAddresses\":\"23.101.113.59,23.101.120.15,23.101.125.15\",\"possibleOutboundIpAddresses\":\"23.100.82.11,23.101.121.37,23.101.123.100,23.101.122.96,23.101.122.233,23.101.113.59,23.101.120.15,23.101.125.15\",\"containerSize\":1536,\"dailyMemoryTimeQuota\":0,\"suspendedTill\":null,\"siteDisabledReason\":0,\"functionExecutionUnitsCache\":null,\"maxNumberOfWorkers\":null,\"homeStamp\":\"waws-prod-dm1-097\",\"cloningInfo\":null,\"hostingEnvironmentId\":null,\"tags\":{\"MyTag2\":\"MyTag1Value2\",\"MyTag1\":\"MyTag1Value1\"},\"resourceGroup\":\"Functions-Test-Windows-Premium-12thli\",\"defaultHostName\":\"functions-powershell-g7pz5tefr0.azurewebsites.net\",\"slotSwapStatus\":null,\"httpsOnly\":false,\"redundancyMode\":\"None\",\"inProgressOperationId\":null,\"geoDistributions\":null,\"privateEndpointConnections\":null,\"buildVersion\":null,\"targetBuildVersion\":null},\"identity\":{\"type\":\"SystemAssigned\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"principalId\":\"81657277-4149-4ea5-8698-a657fb65a6b5\"}}"
    }
  },
  "New-AzFunctionApp, Update-AzFunctionApp, and Remove-AzFunctionApp E2E+[NoContext]+Validate New-AzFunctionAppPlan, Update-AzFunctionApp and Remove-AzFunctionApp+$GET+https://management.azure.com/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-12thli/providers/Microsoft.Web/sites/Functions-PowerShell-g7pz5tefr0?api-version=2019-08-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-12thli/providers/Microsoft.Web/sites/Functions-PowerShell-g7pz5tefr0?api-version=2019-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "567" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"1D6275FE55263CB\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11600" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-12thli/providers/Microsoft.Web/sites/Functi[...]
