{
  "New-AzFunctionApp, Update-AzFunctionApp, and Remove-AzFunctionApp E2E+[NoContext]+Validate New-AzFunctionAppPlan, Update-AzFunctionApp and Remove-AzFunctionApp+$POST+https://management.azure.com/subscriptions/68816ea7-79b4-44f0-b75a-d7fa96560173/providers/Microsoft.Web/checknameavailability?api-version=2019-08-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/68816ea7-79b4-44f0-b75a-d7fa96560173/providers/Microsoft.Web/checknameavailability?api-version=2019-08-01",
      "Content": "{\r\n  \"name\": \"Functions-PowerShell-oblei70y2k\",\r\n  \"type\": \"Site\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11671" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"nameAvailable\":true,\"reason\":\"\",\"message\":\"\"}",
    }
  },
  "New-AzFunctionApp, Update-AzFunctionApp, and Remove-AzFunctionApp E2E+[NoContext]+Validate New-AzFunctionAppPlan, Update-AzFunctionApp and Remove-AzFunctionApp+$GET+https://management.azure.com/subscriptions/68816ea7-79b4-44f0-b75a-d7fa96560173/providers/Microsoft.Web/serverfarms?api-version=2019-08-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/68816ea7-79b4-44f0-b75a-d7fa96560173/providers/Microsoft.Web/serverfarms?api-version=2019-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "504" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11670" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/68816ea7-79b4-44f0-b75a-d7fa96560173/resourceGroups/Functions-Test-Linux-Consumption-dq1rki/providers/Microsoft.Web/serverfarms/CentralUSLinuxDynamicPlan\",\"name\":\"CentralUSLinuxDynamicPlan\",\"type\":\"Microsoft.Web/serverfarms\",\"kind\":\"functionapp\",\"location\":\"Central US\",\"properties\":{\"serverFarmId\":2756352,\"name\":\"CentralUSLinuxDynamicPlan\",\"workerSize\":\"Default\",\"workerSizeId\":0,\"workerTierName\":null,\"numberOfWorkers\":0,\"currentWorkerSize\":null,\"currentWorkerSizeId\":null,\"currentNumberOfWorkers\":null,\"status\":\"Ready\",\"webSpace\":\"Functions-Test-Linux-Consumption-dq1rki-CentralUSwebspace-Linux\",\"subscription\":null,\"adminSiteName\":null,\"hostingEnvironment\":null,\"hostingEnvironmentProfile\":null,\"maximumNumberOfWorkers\":0,\"planName\":\"VirtualDedicatedPlan\",\"adminRuntimeSiteName\":null,\"computeMode\":\"Shared\",\"siteMode\":null,\"geoRegion\":\"Central US\",\"perSiteScaling\":null,\"elasticScaleEnabled\":null,\"maximumElasticWorkerCount\":null,\"numberOfSites\":0,\"hostingEnvironmentId\":null,\"isSpot\":null,\"spotExpirationTime\":null,\"freeOfferExpirationTime\":null,\"tags\":null,\"kind\":\"functionapp\",\"resourceGroup\":\"Functions-Test-Linux-Consumption-dq1rki\",\"reserved\":null,\"isXenon\":null,\"hyperV\":null,\"mdmId\":null,\"targetWorkerCount\":null,\"targetWorkerSizeId\":null,\"provisioningState\":null,\"webSiteId\":null,\"existingServerFarmIds\":null,\"kubeEnvironmentProfile\":null,\"azBalancing\":null},\"sku\":{\"name\":\"Y1\",\"tier\":\"Dynamic\",\"size\":\"Y1\",\"family\":\"Y\",\"capacity\":0}},{\"id\":\"/subscriptions/68816ea7-79b4-44f0-b75a-d7fa96560173/resourceGroups/Functions-Test-Linux-Premium-4btkfl/providers/Microsoft.Web/serverfarms/Functions-Linux-Premium-1t27rf\",\"name\":\"Functions-Linux-Premium-1t27rf\",\"type\":\"Microsoft.Web/serverfarms\",\"kind\":\"elastic\",\"location\":\"Central US\",\"properties\":{\"serverFarmId\":2756337,\"name\":\"Functions-Linux-Premium-1t27rf\",\"workerSize\":\"D1\",\"workerSizeId\":3,\"workerTierName\":null,\"numberOfWorkers\":1,\"currentW[...]
