{
  "Restart-AzFunctionApp, Stop-AzFunctionApp and Start-AzFunctionApp+[NoContext]+ByName \u0027Functions-PowerShell-7-r3evk0\u0027+$POST+https://management.azure.com/subscriptions/a8dce044-414f-4fbc-8ed3-4cd1c9d9b6b0/resourceGroups/Functions-Test-Windows-Premium-5xovwq/providers/Microsoft.Web/sites/Functions-PowerShell-7-r3evk0/restart?api-version=2019-08-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/a8dce044-414f-4fbc-8ed3-4cd1c9d9b6b0/resourceGroups/Functions-Test-Windows-Premium-5xovwq/providers/Microsoft.Web/sites/Functions-PowerShell-7-r3evk0/restart?api-version=2019-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "520" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Restart-AzFunctionApp, Stop-AzFunctionApp and Start-AzFunctionApp+[NoContext]+ByName \u0027Functions-PowerShell-7-r3evk0\u0027+$GET+https://management.azure.com/subscriptions/a8dce044-414f-4fbc-8ed3-4cd1c9d9b6b0/resourceGroups/Functions-Test-Windows-Premium-5xovwq/providers/Microsoft.Web/sites/Functions-PowerShell-7-r3evk0?api-version=2019-08-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a8dce044-414f-4fbc-8ed3-4cd1c9d9b6b0/resourceGroups/Functions-Test-Windows-Premium-5xovwq/providers/Microsoft.Web/sites/Functions-PowerShell-7-r3evk0?api-version=2019-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "521" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"1D6A4EF9CD126E0\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11667" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/a8dce044-414f-4fbc-8ed3-4cd1c9d9b6b0/resourceGroups/Functions-Test-Windows-Premium-5xovwq/providers/Microsoft.Web/sites/Functions-PowerShell-7-r3evk0\",\"name\":\"Functions-PowerShell-7-r3evk0\",\"type\":\"Microsoft.Web/sites\",\"kind\":\"functionapp\",\"location\":\"Central US\",\"properties\":{\"name\":\"Functions-PowerShell-7-r3evk0\",\"state\":\"Running\",\"hostNames\":[\"functions-powershell-7-r3evk0.azurewebsites.net\"],\"webSpace\":\"Functions-Test-Windows-Premium-5xovwq-CentralUSwebspace\",\"selfLink\":\"https://waws-prod-dm1-167.api.azurewebsites.windows.net:454/subscriptions/a8dce044-414f-4fbc-8ed3-4cd1c9d9b6b0/webspaces/Functions-Test-Windows-Premium-5xovwq-CentralUSwebspace/sites/Functions-PowerShell-7-r3evk0\",\"repositorySiteName\":\"Functions-PowerShell-7-r3evk0\",\"owner\":null,\"usageState\":\"Normal\",\"enabled\":true,\"adminEnabled\":true,\"enabledHostNames\":[\"functions-powershell-7-r3evk0.azurewebsites.net\",\"functions-powershell-7-r3evk0.scm.azurewebsites.net\"],\"siteProperties\":{\"metadata\":null,\"properties\":[{\"name\":\"LinuxFxVersion\",\"value\":\"\"},{\"name\":\"WindowsFxVersion\",\"value\":null}],\"appSettings\":null},\"availabilityState\":\"Normal\",\"sslCertificates\":null,\"csrs\":[],\"cers\":null,\"siteMode\":null,\"hostNameSslStates\":[{\"name\":\"functions-powershell-7-r3evk0.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"thumbprint\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Standard\"},{\"name\":\"functions-powershell-7-r3evk0.scm.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"thumbprint\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Repository\"}],\"computeMode\":null,\"serverFarm\":null,\"serverFarmId\":\"/subscriptions/a8dce044-414f-4fbc-8ed3-4cd1c9d9b6b0/resourceGroups/Functions-Test-Windows-Premium-5xovwq/providers/Microsoft.Web/serverfarms/Functions-Windows-Premium-jeh1rs\",\"reserved\":false,\"isXenon\":false,\"hyperV\":false,\"lastModifiedTimeUtc\":\"2020-10-18T01:40:08.91\",\"storageRecoveryDefaultState\":\"Running\",\"contentAvailabilityState\":\"Normal\",\"runtimeAvailabilityState\":\"Normal\",\"siteConfig\":{\"numberOfWorkers\":null,\"defaultDocuments\":null,\"netFrameworkVersion\":null,\"phpVersion\":null,\"pythonVersion\":null,\"nodeVersion\":null,\"powerShellVersion\":null,\"linuxFxVersion\":null,\"windowsFxVersion\":null,\"requestTracingEnabled\":null,\"remoteDebuggingEnabled\":null,\"remoteDebuggingVersion\":null,\"httpLoggingEnabled\":null,\"azureMonitorLogCategories\":null,\"acrUseManagedIdentityCreds\":false,\"acrUserManagedIdentityID\":null,\"logsDirectorySizeLimit\":null,\"detailedErrorLoggingEnabled\":null,\"publishingUsername\":null,\"publishingPassword\":null,\"appSettings\":null,\"azureStorageAccounts\":null,\"metadata\":null,\"connectionStrings\":null,\"machineKey\":null,\"handlerMappings\":null,\"documentRoot\":null,\"scmType\":null,\"use32BitWorkerProcess\":null,\"webSocketsEnabled\":null,\"alwaysOn\":null,\"javaVersion\":null,\"javaContainer\":null,\"javaContainerVersion\":null,\"appCommandLine\":null,\"managedPipelineMode\":null,\"virtualApplications\":null,\"winAuthAdminState\":null,\"winAuthTenantState\":null,\"customAppPoolIdentityAdminState\":null,\"customAppPoolIdentityTenantState\":null,\"runtimeADUser\":null,\"runtimeADUserPassword\":null,\"loadBalancing\":null,\"routingRules\":null,\"experiments\":null,\"limits\":null,\"autoHealEnabled\":null,\"autoHealRules\":null,\"tracingOptions\":null,\"vnetName\":null,\"vnetRouteAllEnabled\":null,\"cors\":null,\"push\":null,\"apiDefinition\":null,\"apiManagementConfig\":null,\"autoSwapSlotName\":null,\"localMySqlEnabled\":null,\"managedServiceIdentityId\":null,\"xManagedServiceIdentityId\":null,\"ipSecurityRestrictions\":null,\"scmIpSecurityRestrictions\":null,\"scmIpSecurityRestrictionsUseMain\":null,\"http20Enabled\":null,\"minTlsVersion\":null,\"scmMinTlsVersion\":null,\"ftpsState\":null,\"preWarmedInstanceCount\":null,\"functionAppScaleLimit\":null,\"healthCheckPath\":null,\"fileChangeAuditEnabled\":null,\"functionsRuntimeScaleMonitoringEnabled\":null,\"websiteTimeZone\":null,\"minimumElasticInstanceCount\":0},\"deploymentId\":\"Functions-PowerShell-7-r3evk0\",\"trafficManagerHostNames\":null,\"sku\":\"ElasticPremium\",\"scmSiteAlsoStopped\":false,\"targetSwapSlot\":null,\"hostingEnvironment\":null,\"hostingEnvironmentProfile\":null,\"clientAffinityEnabled\":false,\"clientCertEnabled\":false,\"clientCertMode\":\"Required\",\"clientCertExclusionPaths\":null,\"hostNamesDisabled\":false,\"domainVerificationIdentifiers\":null,\"customDomainVerificationId\":\"1410363E0F650415A759E2995BEEE01120A6D1E5C1CE6CC54AD062D02F2B1540\",\"kind\":\"functionapp\",\"inboundIpAddress\":\"13.89.172.11\",\"possibleInboundIpAddresses\":\"13.89.172.11\",\"ftpUsername\":\"Functions-PowerShell-7-r3evk0\\\\$Functions-PowerShell-7-r3evk0\",\"ftpsHostName\":\"ftps://waws-prod-dm1-167.ftp.azurewebsites.windows.net/site/wwwroot\",\"outboundIpAddresses\":\"40.113.224.199,40.122.118.225,40.122.116.133,40.122.126.193,40.122.104.60\",\"possibleOutboundIpAddresses\":\"13.89.172.11,40.78.130.218,40.78.131.170,40.122.52.191,40.122.27.37,40.113.224.199,40.122.118.225,40.122.116.133,40.122.126.193,40.122.104.60\",\"containerSize\":1536,\"dailyMemoryTimeQuota\":0,\"suspendedTill\":null,\"siteDisabledReason\":0,\"functionExecutionUnitsCache\":null,\"maxNumberOfWorkers\":null,\"homeStamp\":\"waws-prod-dm1-167\",\"cloningInfo\":null,\"hostingEnvironmentId\":null,\"tags\":null,\"resourceGroup\":\"Functions-Test-Windows-Premium-5xovwq\",\"defaultHostName\":\"functions-powershell-7-r3evk0.azurewebsites.net\",\"slotSwapStatus\":null,\"httpsOnly\":false,\"redundancyMode\":\"None\",\"inProgressOperationId\":null,\"geoDistributions\":null,\"privateEndpointConnections\":[],\"buildVersion\":null,\"targetBuildVersion\":null,\"migrationState\":null}}"
    }
  },
  "Restart-AzFunctionApp, Stop-AzFunctionApp and Start-AzFunctionApp+[NoContext]+ByName \u0027Functions-PowerShell-7-r3evk0\u0027+$POST+https://management.azure.com/subscriptions/a8dce044-414f-4fbc-8ed3-4cd1c9d9b6b0/resourceGroups/Functions-Test-Windows-Premium-5xovwq/providers/Microsoft.Web/sites/Functions-PowerShell-7-r3evk0/config/appsettings/list?api-version=2019-08-01+3": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/a8dce044-414f-4fbc-8ed3-4cd1c9d9b6b0/resourceGroups/Functions-Test-Windows-Premium-5xovwq/providers/Microsoft.Web/sites/Functions-PowerShell-7-r3evk0/config/appsettings/list?api-version=2019-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "522" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "11943" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/a8dce044-414f-4fbc-8ed3-4cd1c9d9b6b0/resourceGroups/Functions-Test-Windows-Premium-5xovwq/providers/Microsoft.Web/sites/Functions-PowerShell-7-r3evk0/config/appsettings\",\"name\":\"appsettings\",\"type\":\"Microsoft.Web/sites/config\",\"location\":\"Central US\",\"properties\":{\"FUNCTIONS_WORKER_RUNTIME\":\"powershell\",\"AzureWebJobsStorage\":\"DefaultEndpointsProtocol=https;AccountName=functionswinstoragetid;AccountKey=ttTAmvNeUqrxzr+ldZC6dF6ai89JVZlqvNP4Mcf7+A5RD0vEfSJ1SWkP0JTwPGzTUF4cWWJcBWI37UlUpuJKyA==\",\"AzureWebJobsDashboard\":\"DefaultEndpointsProtocol=https;AccountName=functionswinstoragetid;AccountKey=ttTAmvNeUqrxzr+ldZC6dF6ai89JVZlqvNP4Mcf7+A5RD0vEfSJ1SWkP0JTwPGzTUF4cWWJcBWI37UlUpuJKyA==\",\"FUNCTIONS_EXTENSION_VERSION\":\"~3\",\"WEBSITE_CONTENTAZUREFILECONNECTIONSTRING\":\"DefaultEndpointsProtocol=https;AccountName=functionswinstoragetid;AccountKey=ttTAmvNeUqrxzr+ldZC6dF6ai89JVZlqvNP4Mcf7+A5RD0vEfSJ1SWkP0JTwPGzTUF4cWWJcBWI37UlUpuJKyA==\",\"WEBSITE_CONTENTSHARE\":\"functions-powershell-7-r3evk0\",\"APPINSIGHTS_INSTRUMENTATIONKEY\":\"10b528ed-290a-4cab-8066-257d6da902f9\"}}"
    }
  },
  "Restart-AzFunctionApp, Stop-AzFunctionApp and Start-AzFunctionApp+[NoContext]+ByName \u0027Functions-PowerShell-7-r3evk0\u0027+$GET+https://management.azure.com/subscriptions/a8dce044-414f-4fbc-8ed3-4cd1c9d9b6b0/resourceGroups/Functions-Test-Windows-Premium-5xovwq/providers/Microsoft.Web/sites/Functions-PowerShell-7-r3evk0/config/web?api-version=2019-08-01+4": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://manageme[...]
