{
  "Restart-AzFunctionApp, Stop-AzFunctionApp and Start-AzFunctionApp+[NoContext]+ByName \u0027Functions-PowerShell-6-p1grwo\u0027+$POST+https://management.azure.com/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-c5so0x/providers/Microsoft.Web/sites/Functions-PowerShell-6-p1grwo/restart?api-version=2019-08-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-c5so0x/providers/Microsoft.Web/sites/Functions-PowerShell-6-p1grwo/restart?api-version=2019-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "637" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Restart-AzFunctionApp, Stop-AzFunctionApp and Start-AzFunctionApp+[NoContext]+ByName \u0027Functions-PowerShell-6-p1grwo\u0027+$GET+https://management.azure.com/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-c5so0x/providers/Microsoft.Web/sites/Functions-PowerShell-6-p1grwo?api-version=2019-08-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-c5so0x/providers/Microsoft.Web/sites/Functions-PowerShell-6-p1grwo?api-version=2019-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "638" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"1D6282F03E93F40\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11899" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-c5so0x/providers/Microsoft.Web/sites/Functions-PowerShell-6-p1grwo\",\"name\":\"Functions-PowerShell-6-p1grwo\",\"type\":\"Microsoft.Web/sites\",\"kind\":\"functionapp\",\"location\":\"Central US\",\"properties\":{\"name\":\"Functions-PowerShell-6-p1grwo\",\"state\":\"Running\",\"hostNames\":[\"functions-powershell-6-p1grwo.azurewebsites.net\"],\"webSpace\":\"Functions-Test-Windows-Premium-c5so0x-CentralUSwebspace\",\"selfLink\":\"https://waws-prod-dm1-141.api.azurewebsites.windows.net:454/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/webspaces/Functions-Test-Windows-Premium-c5so0x-CentralUSwebspace/sites/Functions-PowerShell-6-p1grwo\",\"repositorySiteName\":\"Functions-PowerShell-6-p1grwo\",\"owner\":null,\"usageState\":\"Normal\",\"enabled\":true,\"adminEnabled\":true,\"enabledHostNames\":[\"functions-powershell-6-p1grwo.azurewebsites.net\",\"functions-powershell-6-p1grwo.scm.azurewebsites.net\"],\"siteProperties\":{\"metadata\":null,\"properties\":[{\"name\":\"LinuxFxVersion\",\"value\":\"\"},{\"name\":\"WindowsFxVersion\",\"value\":null}],\"appSettings\":null},\"availabilityState\":\"Normal\",\"sslCertificates\":null,\"csrs\":[],\"cers\":null,\"siteMode\":null,\"hostNameSslStates\":[{\"name\":\"functions-powershell-6-p1grwo.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"thumbprint\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Standard\"},{\"name\":\"functions-powershell-6-p1grwo.scm.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"thumbprint\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Repository\"}],\"computeMode\":null,\"serverFarm\":null,\"serverFarmId\":\"/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-c5so0x/providers/Microsoft.Web/serverfarms/Functions-Windows-Premium-ta1res\",\"reserved\":false,\"isXenon\":false,\"hyperV\":false,\"lastModifiedTimeUtc\":\"2020-05-12T07:29:04.82\",\"storageRecoveryDefaultState\":\"Running\",\"contentAvailabilityState\":\"Normal\",\"runtimeAvailabilityState\":\"Normal\",\"siteConfig\":null,\"deploymentId\":\"Functions-PowerShell-6-p1grwo\",\"trafficManagerHostNames\":null,\"sku\":\"ElasticPremium\",\"scmSiteAlsoStopped\":false,\"targetSwapSlot\":null,\"hostingEnvironment\":null,\"hostingEnvironmentProfile\":null,\"clientAffinityEnabled\":false,\"clientCertEnabled\":false,\"clientCertMode\":\"Required\",\"clientCertExclusionPaths\":null,\"hostNamesDisabled\":false,\"domainVerificationIdentifiers\":null,\"customDomainVerificationId\":\"3A60014F75AE3C2D120BAD27B23583AF45148A24ADDB09602E322BD2777C248F\",\"kind\":\"functionapp\",\"inboundIpAddress\":\"40.122.65.162\",\"possibleInboundIpAddresses\":\"40.122.65.162\",\"ftpUsername\":\"Functions-PowerShell-6-p1grwo\\\\$Functions-PowerShell-6-p1grwo\",\"ftpsHostName\":\"ftps://waws-prod-dm1-141.ftp.azurewebsites.windows.net/site/wwwroot\",\"outboundIpAddresses\":\"40.113.195.102,13.89.184.19,52.165.224.153\",\"possibleOutboundIpAddresses\":\"40.122.65.162,52.165.224.141,13.89.191.154,52.165.227.187,52.165.231.176,40.113.195.102,13.89.184.19,52.165.224.153\",\"containerSize\":1536,\"dailyMemoryTimeQuota\":0,\"suspendedTill\":null,\"siteDisabledReason\":0,\"functionExecutionUnitsCache\":null,\"maxNumberOfWorkers\":null,\"homeStamp\":\"waws-prod-dm1-141\",\"cloningInfo\":null,\"hostingEnvironmentId\":null,\"tags\":null,\"resourceGroup\":\"Functions-Test-Windows-Premium-c5so0x\",\"defaultHostName\":\"functions-powershell-6-p1grwo.azurewebsites.net\",\"slotSwapStatus\":null,\"httpsOnly\":false,\"redundancyMode\":\"None\",\"inProgressOperationId\":null,\"geoDistributions\":null,\"privateEndpointConnections\":[],\"buildVersion\":null,\"targetBuildVersion\":null}}"
    }
  },
  "Restart-AzFunctionApp, Stop-AzFunctionApp and Start-AzFunctionApp+[NoContext]+ByName \u0027Functions-PowerShell-6-p1grwo\u0027+$POST+https://management.azure.com/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-c5so0x/providers/Microsoft.Web/sites/Functions-PowerShell-6-p1grwo/config/appsettings/list?api-version=2019-08-01+3": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-c5so0x/providers/Microsoft.Web/sites/Functions-PowerShell-6-p1grwo/config/appsettings/list?api-version=2019-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "639" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "11990" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-c5so0x/providers/Microsoft.Web/sites/Functions-PowerShell-6-p1grwo/config/appsettings\",\"name\":\"appsettings\",\"type\":\"Microsoft.Web/sites/config\",\"location\":\"Central US\",\"properties\":{\"FUNCTIONS_WORKER_RUNTIME\":\"powershell\",\"WEBSITE_NODE_DEFAULT_VERSION\":\"~12\",\"AzureWebJobsStorage\":\"DefaultEndpointsProtocol=https;AccountName=functionswinstoragelju;AccountKey=luqQCSCQHIYoLXKnZNg7Zb765UTV99xzi6eLSeK4IcKjyCKMFkZoCW0VYOyHS+QEfUavO7Ve0/XkltCYu7PiZw==\",\"AzureWebJobsDashboard\":\"DefaultEndpointsProtocol=https;AccountName=functionswinstoragelju;AccountKey=luqQCSCQHIYoLXKnZNg7Zb765UTV99xzi6eLSeK4IcKjyCKMFkZoCW0VYOyHS+QEfUavO7Ve0/XkltCYu7PiZw==\",\"FUNCTIONS_EXTENSION_VERSION\":\"~3\",\"WEBSITE_CONTENTAZUREFILECONNECTIONSTRING\":\"DefaultEndpointsProtocol=https;AccountName=functionswinstoragelju;AccountKey=luqQCSCQHIYoLXKnZNg7Zb765UTV99xzi6eLSeK4IcKjyCKMFkZoCW0VYOyHS+QEfUavO7Ve0/XkltCYu7PiZw==\",\"WEBSITE_CONTENTSHARE\":\"functions-powershell-6-p1grwo\",\"APPINSIGHTS_INSTRUMENTATIONKEY\":\"cd8fc9a3-d1e4-4219-9484-b040d7ea1c58\"}}"
    }
  },
  "Restart-AzFunctionApp, Stop-AzFunctionApp and Start-AzFunctionApp+[NoContext]+ByName \u0027Functions-PowerShell-6-p1grwo\u0027+$GET+https://management.azure.com/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-c5so0x/providers/Microsoft.Web/sites/Functions-PowerShell-6-p1grwo/config/web?api-version=2019-08-01+4": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-c5so0x/providers/Microsoft.Web/sites/Functions-PowerShell-6-p1grwo/config/web?api-version=2019-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "640" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11898" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-c5so0x/providers/Microsoft.Web/sites/Functions-PowerShell-6-p1grwo/config/web\",\"name\":\"Functions-PowerShell-6-p1grwo\",\"type\":\"Microsoft.Web/sites/config\",\"location\":\"Central US\",\"properties\":{\"numberOfWorkers\":-1,\"defaultDocuments\":[\"Default.htm\",\"Default.html\",\"Default.asp\",\"index.htm\",\"index.html\",\"iisstart.htm\",\"default.aspx\",\"index.php\"],\"netFrameworkVersion\":\"v4.0\",\"phpVersion\":\"5.6\",\"pythonVersion\":\"\",\"nodeVersion\":\"\",\"powerShellVersion\":null,\"linuxFxVersion\":\"\",\"windowsFxVersion\":null,\"requestTracingEnabled\":false,\"remoteDebuggingEnabled\":false,\"remoteDebuggingVersion\":null,\"httpLoggingEnabled\":false,\"azureMonitorLogCategories\":null,\"acrUseManagedIdentityCreds\":false,\"acrUserManagedIdentityID\":null,\"logsDirectorySizeLimit\":35,\"detailedErrorLoggingEnabled\":false,\"publishingUsername\":\"$Functions-PowerShell-6-p1grwo\",\"publishingPassword\":null,\"appSettings\":null,\"metadata\":null,\"connectionStrings\":null,\"machineKey\":null,\"handlerMappings\":null,\"documentRoot\":null,\"scmType\":\"None\",\"use32BitWorkerProcess\":true,\"webSocketsEnabled\":false,\"alwaysOn\":false,\"javaVersion\":null,\"javaContainer\":null,\"javaContainerVersion\":null,\"appCommandLine\":\"\",\"managedPipelineMode\":\"Integrated\",\"virtualApplications\":[{\"virtualPath\":\"/\",\"physicalPath\":\"site\\\\wwwroot\",\"preloadEnabled\":false,\"virtualDirectories\":null}],\"winAuthAdminState\":0,\"winAuthTenantState\":0,\"customAppPoolIdentityAdminState\":false,\"customAppPoolIdentityTenantState\":false,\"runtimeADUser\":null,\"runtimeADUserPassword\":null,\"loadBalancing\":\"LeastRequests\",\"routingRules\":[],\"experiments\":{\"rampUpRules\":[]},\"limits\":null,\"autoHealEnabled\":false,\"autoHealRules\":null,\"tracingOptions\":null,\"vnetName\":\"\",\"siteAuthEnabled\":false,\"siteAuthSettings\":{\"enabled\":null,\"unauthenticatedClientAction\":null,\"tokenStoreEnabled\":null,\"allowedExternalRedirectUrls\":null,\"defaultProvider\":null,\"clientId\":null,\"clientSecret\":null,\"clientSecretCertificateThumbprint\":null,\"issuer\":null,\"allowedAudiences\":null,\"additionalLoginParams\":null,\"isAadAutoProvisioned\":false,\"googleClientId\":null,\"googleClientSecret\":null,\"googleOAuthScopes\":null,\"facebookAppId\":null,\"facebookAppSecret\":null,\"facebookOAuthScopes\":null,\"twitterConsumerKey\":null,\"twitterConsumerSecret\":null,\"microsoftAccountClientId\":null,\"microsoftAccountClientSecret\":null,\"microsoftAccountOAuthScopes\":null},\"cors\":{\"allowedOrigins\":[\"https://functions.azure.com\",\"https://functions-staging.azure.com\",\"https://functions-next.azure.com\"],\"supportCredentials\":false},\"push\":null,\"apiDefinition\":null,\"apiManagementConfig\":null,\"autoSwapSlotName\":null,\"localMySqlEnabled\":false,\"managedServiceIdentityId\":null,\"xManagedServiceIdentityId\":null,\"ipSecurityRestrictions\":[{\"ipAddress\":\"Any\",\"action\":\"Allow\",\"priority\":1,\"name\":\"Allow all\",\"description\":\"Allow all access\"}],\"scmIpSecurityRestrictions\":[{\"ipAddress\":\"Any\",\"action\":\"Allow\",\"priority\":1,\"name\":\"Allow all\",\"description\":\"Allow all access\"}],\"scmIpSecurityRestrictionsUseMain\":false,\"http20Enabled\":false,\"minTlsVersion\":\"1.2\",\"ftpsState\":\"AllAllowed\",\"preWarmedInstanceCount\":1,\"healthCheckPath\":null,\"fileChangeAuditEnabled\":false,\"functionsRuntimeScaleMonitoringEnabled\":false,\"websiteTimeZone\":null}}"
    }
  },
  "Restart-AzFunctionApp, Stop-AzFunctionApp and Start-AzFunctionApp+[NoContext]+ByName \u0027Functions-PowerShell-6-p1grwo\u0027+$POST+https://management.azure.com/subscriptions/07308f04-ea00-494b-b320-690df74b1ce6/resourceGroups/Functions-Test-Windows-Premium-c5so0x/providers/Microsoft.Web/sites/Functions-PowerShell-6-p1grwo/stop?api-version=2019-08-01+5": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/07308f04-ea00[...]
