{
  "Entries": [
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourcegroups/ps8242?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242\",\r\n  \"name\": \"ps8242\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {\r\n    \"Created\": \"2023-03-07T21:48:16.0293117Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualWans/ps7295?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualWans/ps7295' under resource group 'ps8242' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualWans/ps7295?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"d966d70d-7409-42a5-8018-7e32e1aeb438\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps7295\",\r\n  \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualWans/ps7295\",\r\n  \"etag\": \"W/\\\"d966d70d-7409-42a5-8018-7e32e1aeb438\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualWans/ps7295?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"96dc829c-2853-467a-ba86-011cf89a0595\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps7295\",\r\n  \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualWans/ps7295\",\r\n  \"etag\": \"W/\\\"96dc829c-2853-467a-ba86-011cf89a0595\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\",\r\n    \"virtualHubs\": [\r\n      {\r\n        \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualHubs/ps2774\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualWans/ps7295?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"a0f574a2-4150-425b-af37-97fffc78789a\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps7295\",\r\n  \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualWans/ps7295\",\r\n  \"etag\": \"W/\\\"a0f574a2-4150-425b-af37-97fffc78789a\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\",\r\n    \"virtualHubs\": [\r\n      {\r\n        \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualHubs/ps2774\"\r\n      }\r\n    ],\r\n    \"vpnSites\": [\r\n      {\r\n        \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/vpnSites/ps9599\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualWans/ps7295?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"type\": \"Standard\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/providers/Microsoft.Network/locations/westcentralus/operations/e1e98699-0672-4bdd-a837-eaac196631d3?api-version=2022-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps7295\",\r\n  \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualWans/ps7295\",\r\n  \"etag\": \"W/\\\"9d1fd836-14c1-4f8f-a295-3f7de419890b\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/providers/Microsoft.Network/locations/westcentralus/operations/e1e98699-0672-4bdd-a837-eaac196631d3?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualWans?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"etag\": \"d8cf4cee-3308-481a-a825-6dc1d0a33691\",\r\n      \"properties\": {\r\n        \"disableVpnEncryption\": false,\r\n        \"allowBranchToBranchTraffic\": false,\r\n        \"office365LocalBreakoutCategory\": \"None\",\r\n        \"type\": \"Standard\",\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualWans/ps7295\",\r\n      \"name\": \"ps7295\",\r\n      \"type\": \"Microsoft.Network/VirtualWans\",\r\n      \"location\": \"westcentralus\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/providers/Microsoft.Network/virtualWans?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "",
          ""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"etag\": \"f89e1055-2396-47ba-9fa2-54689f8ed9cc\",\r\n      \"properties\": {\r\n        \"disableVpnEncryption\": false,\r\n        \"allowBranchToBranchTraffic\": false,\r\n        \"office365LocalBreakoutCategory\": \"N[...]
[...]
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualHubs/ps2774?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualHubs/ps2774' under resource group 'ps8242' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualHubs/ps2774?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2774\",\r\n  \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualHubs/ps2774\",\r\n  \"etag\": \"W/\\\"da5bc9b9-6fa9-426d-85bf-b4ae18884890\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"192.168.1.0/24\",\r\n    \"virtualRouterAsn\": 65515,\r\n    \"virtualRouterIps\": [],\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualRouterAutoScaleConfiguration\": {\r\n      \"minCapacity\": 2\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualWans/ps7295\"\r\n    },\r\n    \"networkVirtualAppliances\": [],\r\n    \"sku\": \"Standard\",\r\n    \"routingState\": \"Provisioning\",\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"hubRoutingPreference\": \"ASPath\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualHubs/ps2774?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2774\",\r\n  \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualHubs/ps2774\",\r\n  \"etag\": \"W/\\\"95d1858e-beaa-4976-a41d-f9b7c432a51e\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"192.168.1.0/24\",\r\n    \"virtualRouterAsn\": 65515,\r\n    \"virtualRouterIps\": [],\r\n    \"routeTable\": {\r\n      \"routes\": [\r\n        {\r\n          \"addressPrefixes\": [\r\n            \"10.0.0.0/16\",\r\n            \"11.0.0.0/16\"\r\n          ],\r\n          \"nextHopIpAddress\": \"12.0.0.5\"\r\n        },\r\n        {\r\n          \"addressPrefixes\": [\r\n            \"13.0.0.0/16\"\r\n          ],\r\n          \"nextHopIpAddress\": \"14.0.0.5\"\r\n        }\r\n      ]\r\n    },\r\n    \"virtualRouterAutoScaleConfiguration\": {\r\n      \"minCapacity\": 2\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualWans/ps7295\"\r\n    },\r\n    \"networkVirtualAppliances\": [],\r\n    \"sku\": \"Standard\",\r\n    \"routingState\": \"Provisioning\",\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"hubRoutingPreference\": \"ExpressRoute\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualHubs/ps2774?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualWans/ps7295\"\r\n    },\r\n    \"addressPrefix\": \"192.168.1.0/24\",\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"sku\": \"Standard\",\r\n    \"virtualRouterAsn\": 0,\r\n    \"virtualRouterIps\": [],\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"preferredRoutingGateway\": \"ExpressRoute\",\r\n    \"hubRoutingPreference\": \"ASPath\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "azure-asyncoperation": [
          "https://management.azure.com/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/providers/Microsoft.Network/locations/westcentralus/operations/77dabbcd-0c26-4e9f-bea5-605dd7f33386?api-version=2022-09-01"
        ],
        "azure-asyncnotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2774\",\r\n  \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualHubs/ps2774\",\r\n  \"etag\": \"W/\\\"1d65d553-2dd2-453e-a118-6e1c991d6469\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"192.168.1.0/24\",\r\n    \"virtualRouterAsn\": 65515,\r\n    \"virtualRouterIps\": [],\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualRouterAutoScaleConfiguration\": {\r\n      \"minCapacity\": 2\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualWans/ps7295\"\r\n    },\r\n    \"networkVirtualAppliances\": [],\r\n    \"sku\": \"Standard\",\r\n    \"routingState\": \"None\",\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"hubRoutingPreference\": \"ASPath\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualHubs/ps2774/hubVirtualNetworkConnections?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualHubs?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [[...]
[...]
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/vpnSites/ps9599?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/vpnSites/ps9599' under resource group 'ps8242' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/vpnSites/ps9599?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"988ab8b2-c15a-4262-a2b6-e7a1ee337019\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps9599\",\r\n  \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/vpnSites/ps9599\",\r\n  \"etag\": \"W/\\\"988ab8b2-c15a-4262-a2b6-e7a1ee337019\\\"\",\r\n  \"type\": \"Microsoft.Network/vpnSites\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.2.0/24\"\r\n      ]\r\n    },\r\n    \"deviceProperties\": {\r\n      \"deviceModel\": \"SomeDevice\",\r\n      \"deviceVendor\": \"SomeDeviceVendor\",\r\n      \"linkSpeedInMbps\": 10\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualWans/ps7295\"\r\n    },\r\n    \"isSecuritySite\": false,\r\n    \"o365Policy\": {\r\n      \"breakOutCategories\": {\r\n        \"optimize\": false,\r\n        \"allow\": false,\r\n        \"default\": false\r\n      }\r\n    },\r\n    \"ipAddress\": \"1.2.3.4\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/vpnSites/ps9599?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualWans/ps7295\"\r\n    },\r\n    \"deviceProperties\": {\r\n      \"deviceVendor\": \"SomeDeviceVendor\",\r\n      \"deviceModel\": \"SomeDevice\",\r\n      \"linkSpeedInMbps\": 10\r\n    },\r\n    \"ipAddress\": \"1.2.3.4\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.2.0/24\"\r\n      ]\r\n    },\r\n    \"isSecuritySite\": false,\r\n    \"vpnSiteLinks\": []\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "azure-asyncoperation": [
          "https://management.azure.com/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/providers/Microsoft.Network/locations/westcentralus/operations/7a376ee0-a619-4c2b-9adf-c72833542b1a?api-version=2022-09-01"
        ],
        "azure-asyncnotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-su[...]
[...]
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/vpnSites/ps1923?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualWans/ps7295\"\r\n    },\r\n    \"deviceProperties\": {\r\n      \"deviceVendor\": \"SomeDeviceVendor\",\r\n      \"deviceModel\": \"SomeDevice\",\r\n      \"linkSpeedInMbps\": 0\r\n    },\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.169.2.0/24\",\r\n        \"192.169.3.0/24\"\r\n      ]\r\n    },\r\n    \"isSecuritySite\": false,\r\n    \"vpnSiteLinks\": [\r\n      {\r\n        \"properties\": {\r\n          \"linkProperties\": {\r\n            \"linkProviderName\": \"SomeTelecomProvider1\",\r\n            \"linkSpeedInMbps\": 10\r\n          },\r\n          \"ipAddress\": \"5.5.5.5\",\r\n          \"fqdn\": \"\"\r\n        },\r\n        \"name\": \"ps3244\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"linkProperties\": {\r\n            \"linkProviderName\": \"SomeTelecomProvider2\",\r\n            \"linkSpeedInMbps\": 10\r\n          },\r\n          \"ipAddress\": \"5.5.5.6\",\r\n          \"fqdn\": \"\"\r\n        },\r\n        \"name\": \"ps7886\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
  [...]
[...]
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/vpnSites?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\[...]
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/providers/Microsoft.Network/vpnSites?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name[...]
[...]
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/vpnGateways/ps3230?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/vpnGateways/ps3230' under resource group 'ps8242' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/vpnGateways/ps3230?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps3230\",\r\n  \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/vpnGateways/ps3230\",\r\n  \"etag\": \"W/\\\"1ff7d83f-8319-4ce7-8861-610d8dd3bf52\\\"\",\r\n  \"type\": \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"connections\": [],\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/virtualHubs/ps2774\"\r\n    },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"peerWeight\": 0,\r\n      \"bgpPeeringAddresses\": [\r\n        {\r\n          \"ipconfigurationId\": \"Instance0\",\r\n          \"defaultBgpIpAddresses\": [\r\n            \"192.168.1.12\"\r\n          ],\r\n          \"customBgpIpAddresses\": [],\r\n          \"tunnelIpAddresses\": [\r\n            \"20.47.104.60\",\r\n            \"192.168.1.4\"\r\n          ]\r\n        },\r\n        {\r\n          \"ipconfigurationId\": \"Instance1\",\r\n          \"defaultBgpIpAddresses\": [\r\n            \"192.168.1.13\"\r\n          ],\r\n          \"customBgpIpAddresses\": [],\r\n          \"tunnelIpAddresses\": [\r\n            \"20.47.104.59\",\r\n            \"192.168.1.5\"\r\n          ]\r\n        }\r\n      ]\r\n    },\r\n    \"vpnGatewayScaleUnit\": 3,\r\n    \"packetCaptureDiagnosticState\": \"None\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"id\": \"Instance0\",\r\n        \"publicIpAddress\": \"20.47.104.60\",\r\n        \"privateIpAddress\": \"192.168.1.4\"\r\n      },\r\n      {\r\n        \"id\": \"Instance1\",\r\n        \"publicIpAddress\": \"20.47.104.59\",\r\n        \"privateIpAddress\": \"192.168.1.5\"\r\n      }\r\n    ],\r\n    \"natRules\": [\r\n      {\r\n        \"name\": \"NatRule1\",\r\n        \"id\": \"/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/vpnGateways/ps3230/natRules/NatRule1\",\r\n        \"etag\": \"W/\\\"1ff7d83f-8319-4ce7-8861-610d8dd3bf52\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"type\": \"Static\",\r\n          \"mode\": \"EgressSnat\",\r\n          \"internalMappings\": [\r\n            {\r\n              \"addressSpace\": \"192.168.0.0/24\"\r\n            }\r\n          ],\r\n          \"externalMappings\": [\r\n            {\r\n              \"addressSpace\": \"10.0.0.0/24\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/vpnGateways/natRules\"\r\n      }\r\n    ],\r\n    \"enableBgpRouteTranslationForNat\": true,\r\n    \"isRoutingPreferenceInternet\": true\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/59ac12a6-f2b7-46d4-af3d-98ba9d9dbd92/resourceGroups/ps8242/providers/Microsoft.Network/vpnGateways/ps3230?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
[...]
