{
  "Entries": [
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourcegroups/ps4023?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023\",\r\n  \"name\": \"ps4023\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"Created\": \"2021-02-23T21:20:13.008712Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualWans/ps814?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualWans/ps814' under resource group 'ps4023' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualWans/ps814?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"3d3ccae7-a383-48db-92fd-0cbe7c0245a0\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps814\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualWans/ps814\",\r\n  \"etag\": \"W/\\\"3d3ccae7-a383-48db-92fd-0cbe7c0245a0\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualWans/ps814?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"102ded57-e8e4-4951-a2eb-36fef9ead531\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps814\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualWans/ps814\",\r\n  \"etag\": \"W/\\\"102ded57-e8e4-4951-a2eb-36fef9ead531\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\",\r\n    \"virtualHubs\": [\r\n      {\r\n        \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualHubs/ps7464\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualWans/ps814?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"4edbd285-a062-4fdc-b055-fb2dff6f40ae\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps814\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualWans/ps814\",\r\n  \"etag\": \"W/\\\"4edbd285-a062-4fdc-b055-fb2dff6f40ae\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\",\r\n    \"virtualHubs\": [\r\n      {\r\n        \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualHubs/ps7464\"\r\n      }\r\n    ],\r\n    \"vpnSites\": [\r\n      {\r\n        \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnSites/ps6649\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualWans/ps814?api-version=2020-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"type\": \"Standard\"\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/eastus/operations/8d0e5d60-f4bf-4b30-8fef-e2234448b486?api-version=2020-11-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps814\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualWans/ps814\",\r\n  \"etag\": \"W/\\\"ef3b8a4b-bb89-4f27-8710-bef5488e0d07\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/eastus/operations/8d0e5d60-f4bf-4b30-8fef-e2234448b486?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualHubs/ps7464?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualHubs/ps7464' under resource group 'ps4023' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualHubs/ps7464?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps7464\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualHubs/ps7464\",\r\n  \"etag\": \"W/\\\"64d90e60-7d53-417c-90cd-ee7ce42eed77\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"192.168.1.0/24\",\r\n    \"virtualRouterAsn\": 0,\r\n    \"virtualRouterIps\": [],\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualWans/ps814\"\r\n    },\r\n    \"sku\": \"Standard\",\r\n    \"routingState\": \"Provisioning\",\r\n    \"allowBranchToBranchTraffic\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualHubs/ps7464/hubVirtualNetworkConnections?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnSites/ps6649?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/vpnSites/ps6649' under resource group 'ps4023' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnSites/ps6649?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"eac67531-79e1-4ac8-bc9c-8f99b65d5c7d\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps6649\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnSites/ps6649\",\r\n  \"etag\": \"W/\\\"eac67531-79e1-4ac8-bc9c-8f99b65d5c7d\\\"\",\r\n  \"type\": \"Microsoft.Network/vpnSites\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.2.0/24\"\r\n      ]\r\n    },\r\n    \"deviceProperties\": {\r\n      \"deviceModel\": \"SomeDevice\",\r\n      \"deviceVendor\": \"SomeDeviceVendor\",\r\n      \"linkSpeedInMbps\": 10\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualWans/ps814\"\r\n    },\r\n    \"isSecuritySite\": false,\r\n    \"o365Policy\": {\r\n      \"breakOutCategories\": {\r\n        \"optimize\": false,\r\n        \"allow\": false,\r\n        \"default\": false\r\n      }\r\n    },\r\n    \"ipAddress\": \"1.2.3.4\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnSites/ps6649?api-version=2020-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualWans/ps814\"\r\n    },\r\n    \"deviceProperties\": {\r\n      \"deviceVendor\": \"SomeDeviceVendor\",\r\n      \"deviceModel\": \"SomeDevice\",\r\n      \"linkSpeedInMbps\": 10\r\n    },\r\n    \"ipAddress\": \"1.2.3.4\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.2.0/24\"\r\n      ]\r\n    },\r\n    \"vpnSiteLinks\": []\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/eastus/operations/60fc823d-cd46-4b5f-8cb8-2803b21dc52a?api-version=2020-11-01"
        ],
    [...]
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnSites/ps1642?api-version=2020-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualWans/ps814\"\r\n    },\r\n    \"deviceProperties\": {\r\n      \"deviceVendor\": \"SomeDeviceVendor\",\r\n      \"deviceModel\": \"SomeDevice\",\r\n      \"linkSpeedInMbps\": 0\r\n    },\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.169.2.0/24\",\r\n        \"192.169.3.0/24\"\r\n      ]\r\n    },\r\n    \"vpnSiteLinks\": [\r\n      {\r\n        \"properties\": {\r\n          \"linkProperties\": {\r\n            \"linkProviderName\": \"SomeTelecomProvider1\",\r\n            \"linkSpeedInMbps\": 10\r\n          },\r\n          \"ipAddress\": \"5.5.5.5\",\r\n          \"fqdn\": \"\"\r\n        },\r\n        \"name\": \"ps2376\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"linkProperties\": {\r\n            \"linkProviderName\": \"SomeTelecomProvider2\",\r\n            \"linkSpeedInMbps\": 100\r\n          },\r\n          \"ipAddress\": \"5.5.5.6\",\r\n          \"fqdn\": \"\"\r\n        },\r\n        \"name\": \"ps9903\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
         [...]
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnGateways/ps5742?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/vpnGateways/ps5742' under resource group 'ps4023' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnGateways/ps5742?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5742\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnGateways/ps5742\",\r\n  \"etag\": \"W/\\\"32da379e-2f75-4334-8ef8-de84ed2d9b8c\\\"\",\r\n  \"type\": \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"connections\": [],\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualHubs/ps7464\"\r\n    },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"peerWeight\": 0,\r\n      \"bgpPeeringAddresses\": [\r\n        {\r\n          \"ipconfigurationId\": \"Instance0\",\r\n          \"defaultBgpIpAddresses\": [\r\n            \"192.168.1.12\"\r\n          ],\r\n          \"customBgpIpAddresses\": [],\r\n          \"tunnelIpAddresses\": [\r\n            \"52.142.33.130\",\r\n            \"192.168.1.4\"\r\n          ]\r\n        },\r\n        {\r\n          \"ipconfigurationId\": \"Instance1\",\r\n          \"defaultBgpIpAddresses\": [\r\n            \"192.168.1.13\"\r\n          ],\r\n          \"customBgpIpAddresses\": [],\r\n          \"tunnelIpAddresses\": [\r\n            \"52.142.33.156\",\r\n            \"192.168.1.5\"\r\n          ]\r\n        }\r\n      ]\r\n    },\r\n    \"vpnGatewayScaleUnit\": 3,\r\n    \"packetCaptureDiagnosticState\": \"None\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"id\": \"Instance0\",\r\n        \"publicIpAddress\": \"52.142.33.130\",\r\n        \"privateIpAddress\": \"192.168.1.4\"\r\n      },\r\n      {\r\n        \"id\": \"Instance1\",\r\n        \"publicIpAddress\": \"52.142.33.156\",\r\n        \"privateIpAddress\": \"192.168.1.5\"\r\n      }\r\n    ],\r\n    \"natRules\": [],\r\n    \"enableBgpRouteTranslationForNat\": false,\r\n    \"isRoutingPreferenceInternet\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnGateways/ps5742?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5742\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnGateways/ps5742\",\r\n  \"etag\": \"W/\\\"111829f8-264a-4543-adca-8fc8c1ac7411\\\"\",\r\n  \"type\": \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"connections\": [\r\n      {\r\n        \"name\": \"ps8282\",\r\n        \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnGateways/ps5742/vpnConnections/ps8282\",\r\n        \"etag\": \"W/\\\"111829f8-264a-4543-adca-8fc8c1ac7411\\\"\",\r\n        \"type\": \"Microsoft.Network/vpnGateways/vpnConnections\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"routingConfiguration\": {\r\n            \"associatedRouteTable\": {\r\n              \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualHubs/ps7464/hubRouteTables/defaultRouteTable\"\r\n            },\r\n            \"propagatedRouteTables\": {\r\n              \"labels\": [\r\n                \"default\"\r\n              ],\r\n              \"ids\": [\r\n                {\r\n                  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualHubs/ps7464/hubRouteTables/defaultRouteTable\"\r\n                }\r\n              ]\r\n            },\r\n            \"vnetRoutes\": {\r\n              \"staticRoutes\": []\r\n            }\r\n          },\r\n          \"enableInternetSecurity\": false,\r\n          \"remoteVpnSite\": {\r\n            \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnSites/ps6649\"\r\n          },\r\n          \"ingressBytesTransferred\": 0,\r\n          \"egressBytesTransferred\": 0,\r\n          \"connectionBandwidth\": 20,\r\n          \"ipsecPolicies\": [],\r\n          \"trafficSelectorPolicies\": [],\r\n          \"vpnConnectionProtocolType\": \"IKEv2\",\r\n          \"enableBgp\": false,\r\n          \"enableRateLimiting\": false,\r\n          \"useLocalAzureIpAddress\": false,\r\n          \"usePolicyBasedTrafficSelectors\": false,\r\n          \"routingWeight\": 0\r\n        }\r\n      }\r\n    ],\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualHubs/ps7464\"\r\n    },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"peerWeight\": 0,\r\n      \"bgpPeeringAddresses\": [\r\n        {\r\n          \"ipconfigurationId\": \"Instance0\",\r\n          \"defaultBgpIpAddresses\": [\r\n            \"192.168.1.12\"\r\n          ],\r\n          \"cu[...]
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnGateways/ps5742?api-version=2020-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualHubs/ps7464\"\r\n    },\r\n    \"connections\": [\r\n      {\r\n        \"properties\": {\r\n          \"remoteVpnSite\": {\r\n            \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnSites/ps6649\"\r\n          },\r\n          \"connectionBandwidth\": 20,\r\n          \"enableBgp\": false,\r\n          \"usePolicyBasedTrafficSelectors\": false,\r\n          \"ipsecPolicies\": [],\r\n          \"enableInternetSecurity\": false,\r\n          \"useLocalAzureIpAddress\": false,\r\n          \"vpnLinkConnections\": []\r\n        },\r\n        \"name\": \"ps8282\"\r\n      }\r\n    ],\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"peerWeight\": 0,\r\n      \"bgpPeeringAddresses\": [\r\n        {\r\n          \"ipconfigurationId\": \"Instance0\",\r\n          \"customBgpIpAddresses\": []\r\n        },\r\n        {\r\n          \"ipconfigurationId\": \"Instance1\",\r\n          \"customBgpIpAddresses\": []\r\n        }\r\n      ]\r\n    },\r\n    \"vpnGatewayScaleUnit\": 3,\r\n    \"isRoutingP[...]
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnGateways/ps5742?api-version=2020-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/virtualHubs/ps7464\"\r\n    },\r\n    \"connections\": [\r\n      {\r\n        \"properties\": {\r\n          \"remoteVpnSite\": {\r\n            \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnSites/ps1642\"\r\n          },\r\n          \"connectionBandwidth\": 0,\r\n          \"enableBgp\": false,\r\n          \"usePolicyBasedTrafficSelectors\": false,\r\n          \"ipsecPolicies\": [],\r\n          \"enableInternetSecurity\": false,\r\n          \"useLocalAzureIpAddress\": false,\r\n          \"vpnLinkConnections\": [\r\n            {\r\n              \"properties\": {\r\n                \"vpnSiteLink\": {\r\n                  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnSites/ps1642/vpnSiteLinks/ps2376\"\r\n                },\r\n                \"routingWeight\": 0,\r\n                \"vpnConnectionProtocolType\": \"IKEv2\",\r\n                \"connectionBandwidth\": 100,\r\n                \"enableBgp\": false,\r\n                \"usePolicyBasedTrafficSelectors\": false,\r\n                \"ipsecPolicies\": [],\r\n                \"useLocalAzureIpAddress\": false,\r\n                \"ingressNatRules\": [],\r\n                \"egressNatRules\": []\r\n              },\r\n              \"name\": \"ps8490\",\r\n              \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnGateways/ps5742/vpnConnections/ps9603/vpnLinkConnections/ps8490\"\r\n            },\r\n            {\r\n              \"properties\": {\r\n                \"vpnSiteLink\": {\r\n                  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Networ[...]
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnGateways/ps5742/vpnConnections/ps8282?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"Resource /subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnGateways/ps5742/vpnConnections/ps8282 not found.\",\r\n    \"details\": []\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps4023/providers/Microsoft.Network/vpnGateways/ps5742/vpnConnections/ps9603/vpnLinkConnections/ps8490/resetconnection?api-version=2020-11-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/eastus/operationResults/19acd05d-939a-415d-a57f-8616efca1cbc?api-version=2020-11-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/eastus/operations/19acd05d-939a-415d-a57f-8616efca1cbc?api-version=2020-11-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/eastus/operationResults/19acd05d-939a-415d-a57f-8616efca1cbc?api-version=2020-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/eastus/operationResults/19acd05d-939a-415d-a57f-8616efca1cbc?api-version=2020-11-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/eastus/operations/19acd05d-939a-415d-a57f-8616efca1cbc?api-version=2020-11-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Storage/checkNameAvailability?api-version=2019-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"blobps4023\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
[...]
