{
  "Entries": [
    {
      "RequestUri": "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourcegroups/ps1190?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/ps1190\",\r\n  \"name\": \"ps1190\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/ps1190/providers/Microsoft.Network/virtualWans/ps6249?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualWans/ps6249' under resource group 'ps1190' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/ps1190/providers/Microsoft.Network/virtualWans/ps6249?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"adf230a0-dfbc-453a-b21e-0d2c67e189b9\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps6249\",\r\n  \"id\": \"/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/ps1190/providers/Microsoft.Network/virtualWans/ps6249\",\r\n  \"etag\": \"W/\\\"adf230a0-dfbc-453a-b21e-0d2c67e189b9\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/ps1190/providers/Microsoft.Network/virtualWans/ps6249?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"592208be-ffa4-453b-a452-33e6731e41ea\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps6249\",\r\n  \"id\": \"/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/ps1190/providers/Microsoft.Network/virtualWans/ps6249\",\r\n  \"etag\": \"W/\\\"592208be-ffa4-453b-a452-33e6731e41ea\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\",\r\n    \"vpnSites\": [\r\n      {\r\n        \"id\": \"/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/ps1190/providers/Microsoft.Network/vpnSites/ps3522\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/ps1190/providers/Microsoft.Network/virtualWans/ps6249?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"type\": \"Standard\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/providers/Microsoft.Network/locations/westcentralus/operations/2c388898-863b-4bb1-8404-dadc5eb85291?api-version=2021-02-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps6249\",\r\n  \"id\": \"/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/ps1190/providers/Microsoft.Network/virtualWans/ps6249\",\r\n  \"etag\": \"W/\\\"95edf491-ba46-4f7d-93f8-1ae74cafa2cd\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/providers/Microsoft.Network/locations/westcentralus/operations/2c388898-863b-4bb1-8404-dadc5eb85291?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/ps1190/providers/Microsoft.Network/vpnSites/ps3522?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/vpnSites/ps3522' under resource group 'ps1190' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/ps1190/providers/Microsoft.Network/vpnSites/ps3522?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"f51191e1-a952-4fcc-8885-e41986e2329e\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps3522\",\r\n  \"id\": \"/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/ps1190/providers/Microsoft.Network/vpnSites/ps3522\",\r\n  \"etag\": \"W/\\\"f51191e1-a952-4fcc-8885-e41986e2329e\\\"\",\r\n  \"type\": \"Microsoft.Network/vpnSites\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.2.0/24\"\r\n      ]\r\n    },\r\n    \"deviceProperties\": {\r\n      \"deviceModel\": \"SomeDevice\",\r\n      \"deviceVendor\": \"SomeDeviceVendor\",\r\n      \"linkSpeedInMbps\": 10\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/ps1190/providers/Microsoft.Network/virtualWans/ps6249\"\r\n    },\r\n    \"isSecuritySite\": true,\r\n    \"o365Policy\": {\r\n      \"breakOutCategories\": {\r\n        \"optimize\": false,\r\n        \"allow\": false,\r\n        \"default\": false\r\n      }\r\n    },\r\n    \"ipAddress\": \"1.2.3.4\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/ps1190/providers/Microsoft.Network/vpnSites/ps3522?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/ps1190/providers/Microsoft.Network/virtualWans/ps6249\"\r\n    },\r\n    \"deviceProperties\": {\r\n      \"deviceVendor\": \"SomeDeviceVendor\",\r\n      \"deviceModel\": \"SomeDevice\",\r\n      \"linkSpeedInMbps\": 10\r\n    },\r\n    \"ipAddress\": \"1.2.3.4\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.2.0/24\"\r\n      ]\r\n    },\r\n    \"isSecuritySite\": true,\r\n    \"vpnSiteLinks\": []\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/providers/Microsoft.Network/locations/westcentralus/operations/8446aab9-c66d-4aa1-a6df-0e3ef5a3c00a?api-version=2021-02-01"
[...]
[...]
    {
      "RequestUri": "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/ps1190/providers/Microsoft.Network/vpnSites/ps9096?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/ps1190/providers/Microsoft.Network/virtualWans/ps6249\"\r\n    },\r\n    \"deviceProperties\": {\r\n      \"deviceVendor\": \"SomeDeviceVendor\",\r\n      \"deviceModel\": \"SomeDevice\",\r\n      \"linkSpeedInMbps\": 0\r\n    },\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.2.0/24\",\r\n        \"192.168.3.0/24\"\r\n      ]\r\n    },\r\n    \"isSecuritySite\": true,\r\n    \"vpnSiteLinks\": [\r\n      {\r\n        \"properties\": {\r\n          \"linkProperties\": {\r\n            \"linkProviderName\": \"SomeTelecomProvider1\",\r\n            \"linkSpeedInMbps\": 10\r\n          },\r\n          \"ipAddress\": \"5.5.5.5\",\r\n          \"fqdn\": \"\"\r\n        },\r\n        \"name\": \"ps3192\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"linkProperties\": {\r\n            \"linkProviderName\": \"SomeTelecomProvider2\",\r\n            \"linkSpeedInMbps\": 10\r\n          },\r\n          \"ipAddress\": \"5.5.5.6\",\r\n          \"fqdn\": \"\"\r\n        },\r\n        \"name\": \"ps9214\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
  [...]
[...]
    {
      "RequestUri": "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/resourceGroups/ps1190/providers/Microsoft.Network/vpnSites/ps3522?api-version=2021-02-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/providers/Microsoft.Network/locations/westcentralus/operationResults/b797a83b-968f-465f-8279-a47093a5adf8?api-version=2021-02-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/providers/Microsoft.Network/locations/westcentralus/operations/b797a83b-968f-465f-8279-a47093a5adf8?api-version=2021-02-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/providers/Microsoft.Network/locations/westcentralus/operationResults/b797a83b-968f-465f-8279-a47093a5adf8?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/providers/Microsoft.Network/locations/westcentralus/operationResults/b797a83b-968f-465f-8279-a47093a5adf8?api-version=2021-02-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/providers/Microsoft.Network/locations/westcentralus/operations/b797a83b-968f-465f-8279-a47093a5adf8?api-version=2021-02-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11981"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzExOTAtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzExOTAtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/83704d68-d560-4c67-b1c7-12404db89dc3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzExOTAtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-VpnSiteIsSecurity": [
      "ps1190",
      "ps6249",
      "ps3522",
      "ps9096",
      "ps3192",
      "ps9214"
    ]
  },
  "Variables": {
    "SubscriptionId": "83704d68-d560-4c67-b1c7-12404db89dc3"
  }
}