{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourcegroups/ps5730?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730\",\r\n  \"name\": \"ps5730\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualWans/ps8549?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualWans/ps8549' under resource group 'ps5730' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualWans/ps8549?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"8e1c2c47-b5f5-4aa4-993f-f36c1be936d1\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps8549\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualWans/ps8549\",\r\n  \"etag\": \"W/\\\"8e1c2c47-b5f5-4aa4-993f-f36c1be936d1\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"p2SVpnServerConfigurations\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualWans/ps8549?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"50e72309-5517-4ec5-824b-e4a2796385bc\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps8549\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualWans/ps8549\",\r\n  \"etag\": \"W/\\\"50e72309-5517-4ec5-824b-e4a2796385bc\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"allowVnetToVnetTraffic\": false,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"virtualHubs\": [\r\n      {\r\n        \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualHubs/ps2892\"\r\n      }\r\n    ],\r\n    \"p2SVpnServerConfigurations\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualWans/ps8549?api-version=2019-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"p2SVpnServerConfigurations\": []\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/locations/eastus/operations/5d2c9222-4800-42c2-ad99-68162b2f87c1?api-version=2019-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps8549\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualWans/ps8549\",\r\n  \"etag\": \"W/\\\"58e41636-ff3f-4640-9852-316bf47299a9\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"p2SVpnServerConfigurations\": []\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/locations/eastus/operations/5d2c9222-4800-42c2-ad99-68162b2f87c1?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualWans?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ps8549\",\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualWans/ps8549\",\r\n      \"etag\": \"W/\\\"6f9344b7-53ba-45b0-bea6-da872e531319\\\"\",\r\n      \"type\": \"Microsoft.Network/virtualWans\",\r\n      \"location\": \"eastus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"disableVpnEncryption\": false,\r\n        \"allowBranchToBranchTraffic\": false,\r\n        \"allowVnetToVnetTraffic\": false,\r\n        \"office365LocalBreakoutCategory\": \"None\",\r\n        \"p2SVpnServerConfigurations\": []\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/virtualWans?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "b5f88778-3927-4054-b824-ba6e8ae46c4d",
          "856b14aa-5e5d-404b-8c96-d68aae6f9f27",
          "60e80888-f5d6-45bf-a549-13200fd6c3b2",
          "d1331f28-2b6e-4dc9-8582-41e4aff207c2",
          "66e260ba-4475-44cd-b58b-1435040f8421"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11878"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \[...]
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualHubs/ps2892?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualHubs/ps2892' under resource group 'ps5730' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualHubs/ps2892?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2892\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualHubs/ps2892\",\r\n  \"etag\": \"W/\\\"0a2e823c-cd5f-4960-9d70-268ef19dada6\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNetworkConnections\": [],\r\n    \"addressPrefix\": \"192.168.1.0/24\",\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualWans/ps8549\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualHubs/ps2892?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2892\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualHubs/ps2892\",\r\n  \"etag\": \"W/\\\"4ef7b683-9459-4db4-bdf5-fbeeb16a2f3f\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNetworkConnections\": [],\r\n    \"addressPrefix\": \"192.168.1.0/24\",\r\n    \"routeTable\": {\r\n      \"routes\": [\r\n        {\r\n          \"addressPrefixes\": [\r\n            \"10.0.0.0/16\",\r\n            \"11.0.0.0/16\"\r\n          ],\r\n          \"nextHopIpAddress\": \"12.0.0.5\"\r\n        },\r\n        {\r\n          \"addressPrefixes\": [\r\n            \"13.0.0.0/16\"\r\n          ],\r\n          \"nextHopIpAddress\": \"14.0.0.5\"\r\n        }\r\n      ]\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualWans/ps8549\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualHubs/ps2892?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2892\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualHubs/ps2892\",\r\n  \"etag\": \"W/\\\"e53335ac-8057-49be-93ae-a7c4a4a41250\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNetworkConnections\": [\r\n      {\r\n        \"name\": \"ps4553\",\r\n        \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualHubs/ps2892/hubVirtualNetworkConnections/ps4553\",\r\n        \"etag\": \"W/\\\"e53335ac-8057-49be-93ae-a7c4a4a41250\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"resourceGuid\": \"9574c464-119c-4120-bb54-cb961ea90eab\",\r\n          \"remoteVirtualNetwork\": {\r\n            \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualNetworks/ps107\"\r\n          },\r\n          \"allowHubToRemoteVnetTransit\": true,\r\n          \"allowRemoteVnetToUseHubVnetGateways\": true,\r\n          \"enableInternetSecurity\": false\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualHubs/hubVirtualNetworkConnections\"\r\n      }\r\n    ],\r\n    \"addressPrefix\": \"192.168.1.0/24\",\r\n    \"routeTable\": {\r\n      \"routes\": [\r\n        {\r\n          \"addressPrefixes\": [\r\n            \"10.0.0.0/16\",\r\n            \"11.0.0.0/16\"\r\n          ],\r\n          \"nextHopIpAddress\": \"12.0.0.5\"\r\n        },\r\n        {\r\n          \"addressPrefixes\": [\r\n            \"13.0.0.0/16\"\r\n          ],\r\n          \"nextHopIpAddress\": \"14.0.0.5\"\r\n        }\r\n      ]\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualWans/ps8549\"\r\n    },\r\n    \"vpnGateway\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnGateways/ps1563\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualHubs?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11863"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ps2892\",\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualHubs/ps2892\",\r\n      \"etag\": \"W/\\\"0a2e823c-cd5f-4960-9d70-268ef19dada6\\\"\",\r\n      \"type\": \"Microsoft.Network/virtualHubs\",\r\n      \"location\": \"eastus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"virtualNetworkConnections\": [],\r\n        \"addressPrefix\": \"192.168.1.0/24\",\r\n        \"routeTable\": {\r\n          \"routes\": []\r\n        },\r\n        \"virtualWan\": {\r\n          \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualWans/ps8549\"\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/virtualHubs?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "abb8575f-cf25-4d37-8d58-cabd115a553c",
          "0b41902d-2e09-4c81-bad6-8af6ea70dc1d"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"P2SCortexDemo3Hub2\",\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/P2SCortexDemo3/providers/Microsoft.Network/virtualHubs/P2SCortexDemo3Hub2\",\r\n      \"etag\": \"W/\\\"ecd589aa-7670-4131-8964-e4fd01b22ed8\\\"\",\r\n      \"type\": \"Microsoft.Network/virtualHubs\",\r\n      \"location\": \"eastus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"virtualNetworkConnections\": [],\r\n        \"addressPrefix\": \"192.168.2.0/24\",\r\n        \"routeTable\": {\r\n          \"routes\": []\r\n        },\r\n        \"virtualWan\": {\r\n          \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/P2SCortexDemo3/providers/Microsoft.Network/virtualWans/P2SCortexDemo3Wan1\"\r\n        },\r\n        \"p2SVpnGateway\": {\r\n          \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/P2SCortexDemo3/providers/Microsoft.Network/p2sVpnGateways/P2SCortexDemo3Wan1P2SVpnGateway2\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"eastus-11122018-22-19-29\",\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/P2SCortexTempRG/providers/Microsoft.Network/virtualHubs/eastus-11122018-22-19-29\",\r\n      \"etag\": \"W/\\\"7335b77d-7e88-431b-8b59-f[...]
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnSites/ps6480?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/vpnSites/ps6480' under resource group 'ps5730' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnSites/ps6480?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"1ecc78a4-d820-40d6-b477-fd159dcd8d10\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps6480\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnSites/ps6480\",\r\n  \"etag\": \"W/\\\"1ecc78a4-d820-40d6-b477-fd159dcd8d10\\\"\",\r\n  \"type\": \"Microsoft.Network/vpnSites\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.2.0/24\"\r\n      ]\r\n    },\r\n    \"deviceProperties\": {\r\n      \"deviceModel\": \"SomeDevice\",\r\n      \"deviceVendor\": \"SomeDeviceVendor\",\r\n      \"linkSpeedInMbps\": 10\r\n    },\r\n    \"ipAddress\": \"1.2.3.4\",\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualWans/ps8549\"\r\n    },\r\n    \"isSecuritySite\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnSites?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/vpnSites?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name[...]
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnGateways/ps1563?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/vpnGateways/ps1563' under resource group 'ps5730' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnGateways/ps1563?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11848"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps1563\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnGateways/ps1563\",\r\n  \"etag\": \"W/\\\"3ed437e2-4545-4507-8707-bc501971de93\\\"\",\r\n  \"type\": \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"connections\": [],\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualHubs/ps2892\"\r\n    },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"peerWeight\": 0\r\n    },\r\n    \"vpnGatewayScaleUnit\": 3\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnGateways/ps1563?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11942"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps1563\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnGateways/ps1563\",\r\n  \"etag\": \"W/\\\"653a64ba-2ab5-49ac-82ea-a526eb138b5f\\\"\",\r\n  \"type\": \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"connections\": [\r\n      {\r\n        \"name\": \"ps4848\",\r\n        \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnGateways/ps1563/vpnConnections/ps4848\",\r\n        \"etag\": \"W/\\\"653a64ba-2ab5-49ac-82ea-a526eb138b5f\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"remoteVpnSite\": {\r\n            \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnSites/ps6480\"\r\n          },\r\n          \"connectionBandwidth\": 20,\r\n          \"ipsecPolicies\": [],\r\n          \"vpnConnectionProtocolType\": \"IKEv2\",\r\n          \"ingressBytesTransferred\": 0,\r\n          \"egressBytesTransferred\": 0,\r\n          \"enableBgp\": false,\r\n          \"enableRateLimiting\": false,\r\n          \"enableInternetSecurity\": false,\r\n          \"useLocalAzureIpAddress\": false,\r\n          \"usePolicyBasedTrafficSelectors\": false\r\n        },\r\n        \"type\": \"Microsoft.Network/vpnGateways/vpnConnections\"\r\n      }\r\n    ],\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualHubs/ps2892\"\r\n    },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"peerWeight\": 0\r\n    },\r\n    \"vpnGatewayScaleUnit\": 4\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnGateways?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ps1563\",\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnGateways/ps1563\",\r\n      \"etag\": \"W/\\\"01c45601-3905-430c-9238-15a30290a88a\\\"\",\r\n      \"type\": \"Microsoft.Network/vpnGateways\",\r\n      \"location\": \"eastus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"connections\": [],\r\n        \"virtualHub\": {\r\n          \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/virtualHubs/ps2892\"\r\n        },\r\n        \"bgpSettings\": {\r\n          \"asn\": 65515,\r\n          \"peerWeight\": 0\r\n        },\r\n        \"vpnGatewayScaleUnit\": 4\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/vpnGateways?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "86b61887-c476-4186-9915-737e8e181535",
          "c256a734-6fea-4148-9776-0900cf4cd71c"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
    [...]
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnGateways/ps1563/vpnConnections/ps4848?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11960"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"Resource /subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnGateways/ps1563/vpnConnections/ps4848 not found.\",\r\n    \"details\": []\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnGateways/ps1563/vpnConnections/ps4848?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps4848\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnGateways/ps1563/vpnConnections/ps4848\",\r\n  \"etag\": \"W/\\\"5039cdf3-b0ef-40dc-92a2-16fa0ea34880\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"remoteVpnSite\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps5730/providers/Microsoft.Network/vpnSites/ps6480\"\r\n    },\r\n    \"connectionBandwidth\": 30,\r\n    \"ipsecPolicies\": [],\r\n    \"vpnConnectionProtocolType\": \"IKEv2\",\r\n    \"ingressBytesTransferred\": 0,\r\n    \"egressBytesTransferred\": 0,\r\n    \"connectionStatus\": \"Connecting\",\r\n    \"enableBgp\": false,\r\n    \"enableRateLimiting\": false,\r\n    \"enableInternetSecurity\": false,\r\n    \"useLocalAzureIpAddress\": false,\r\n    \"usePolicyBasedTrafficSelectors\": false\r\n  },\r\n  \"type\": \"Microsoft.Network/vpnGateways/vpnConnections\"\r\n}",
      "StatusCode": 200
    },
[...]
