{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourcegroups/ps6415?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415\",\r\n  \"name\": \"ps6415\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualWans/ps2962?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualWans/ps2962' under resource group 'ps6415' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualWans/ps2962?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"70bfe4f8-51b0-484d-aac1-243e3feab881\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2962\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualWans/ps2962\",\r\n  \"etag\": \"W/\\\"70bfe4f8-51b0-484d-aac1-243e3feab881\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualWans/ps2962?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"dfa27e81-dd32-4425-9249-e76f87808b02\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2962\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualWans/ps2962\",\r\n  \"etag\": \"W/\\\"dfa27e81-dd32-4425-9249-e76f87808b02\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"allowVnetToVnetTraffic\": false,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\",\r\n    \"virtualHubs\": [\r\n      {\r\n        \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualHubs/ps1102\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualWans/ps2962?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"08bdbbbf-8694-4276-a1aa-3f5e131f7f6e\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2962\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualWans/ps2962\",\r\n  \"etag\": \"W/\\\"08bdbbbf-8694-4276-a1aa-3f5e131f7f6e\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"allowVnetToVnetTraffic\": false,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\",\r\n    \"virtualHubs\": [\r\n      {\r\n        \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualHubs/ps1102\"\r\n      }\r\n    ],\r\n    \"vpnSites\": [\r\n      {\r\n        \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/vpnSites/ps224\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualWans/ps2962?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"type\": \"Standard\"\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/locations/westcentralus/operations/82bc23da-9b35-49c5-b464-48044c265b43?api-version=2019-12-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2962\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualWans/ps2962\",\r\n  \"etag\": \"W/\\\"f6d15c45-35c2-41db-a1cd-cdaadf6e6735\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/locations/westcentralus/operations/82bc23da-9b35-49c5-b464-48044c265b43?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualWans?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ps2962\",\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualWans/ps2962\",\r\n      \"etag\": \"W/\\\"86a20162-7b66-44c6-9d6e-c8674422c115\\\"\",\r\n      \"type\": \"Microsoft.Network/virtualWans\",\r\n      \"location\": \"westcentralus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"disableVpnEncryption\": false,\r\n        \"allowBranchToBranchTraffic\": false,\r\n        \"allowVnetToVnetTraffic\": false,\r\n        \"office365LocalBreakoutCategory\": \"None\",\r\n        \"type\": \"Standard\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/virtualWans?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "ea10cad9-6b78-453c-a4c7-19a1d09964ac",
          "f10c5f42-be04-4e37-8285-554d0a198ebd",
          "759338b8-72ce-47e6-8c02-992680315d8f",
          "eb8548a8-5066-409e-a69f-2b559d191d24",
          "ac82fc25-1818-4399-bff4-b6b641d080ed",
          "243ab915-8bd6-46ff-ba54-136fa4255e19",
          "cbadcebe-788d-498b-ba02-ae71f60f587a",
          "0f0c5acc-ffe3-49fd-9444-8645ec6180a6"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
 [...]
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualHubs/ps1102?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualHubs/ps1102' under resource group 'ps6415' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualHubs/ps1102?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps1102\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualHubs/ps1102\",\r\n  \"etag\": \"W/\\\"599a5e5a-b1da-4792-bb7c-8e60ed763563\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNetworkConnections\": [],\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"192.168.1.0/24\",\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualWans/ps2962\"\r\n    },\r\n    \"sku\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualHubs/ps1102?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps1102\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualHubs/ps1102\",\r\n  \"etag\": \"W/\\\"dee667c3-30e0-424a-9f6e-ce031402d69e\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNetworkConnections\": [],\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"192.168.1.0/24\",\r\n    \"routeTable\": {\r\n      \"routes\": [\r\n        {\r\n          \"addressPrefixes\": [\r\n            \"10.0.0.0/16\",\r\n            \"11.0.0.0/16\"\r\n          ],\r\n          \"nextHopIpAddress\": \"12.0.0.5\"\r\n        },\r\n        {\r\n          \"addressPrefixes\": [\r\n            \"13.0.0.0/16\"\r\n          ],\r\n          \"nextHopIpAddress\": \"14.0.0.5\"\r\n        }\r\n      ]\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualWans/ps2962\"\r\n    },\r\n    \"sku\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualHubs/ps1102?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualWans/ps2962\"\r\n    },\r\n    \"vpnGateway\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/vpnGateways/ps2355\"\r\n    },\r\n    \"virtualNetworkConnections\": [\r\n      {\r\n        \"properties\": {\r\n          \"remoteVirtualNetwork\": {\r\n            \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualNetworks/ps408\"\r\n          },\r\n          \"enableInternetSecurity\": false\r\n        },\r\n        \"name\": \"ps4331\"\r\n      }\r\n    ],\r\n    \"addressPrefix\": \"192.168.1.0/24\",\r\n    \"routeTable\": {\r\n      \"routes\": [\r\n        {\r\n          \"addressPrefixes\": [\r\n            \"10.0.0.0/16\",\r\n            \"11.0.0.0/16\"\r\n          ],\r\n          \"nextHopIpAddress\": \"12.0.0.5\"\r\n        },\r\n        {\r\n          \"addressPrefixes\": [\r\n            \"13.0.0.0/16\"\r\n          ],\r\n          \"nextHopIpAddress\": \"14.0.0.5\"\r\n        }\r\n      ]\r\n    },\r\n    \"virtualHubRouteTableV2s\": []\r\n  },\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualHubs/ps1102\",\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "x-ms-authorization-auxiliary": [
          "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IllNRUxIVDBndmIwbXhvU0RvWWZvbWpxZmpZVSIsImtpZCI6IllNRUxIVDBndmIwbXhvU0RvWWZvbWpxZmpZVSJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuY29yZS53aW5kb3dzLm5ldC8iLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC83MmY5ODhiZi04NmYxLTQxYWYtOTFhYi0yZDdjZDAxMWRiNDcvIiwiaWF0IjoxNTg2MzI4MTYxLCJuYmYiOjE1ODYzMjgxNjEsImV4cCI6MTU4NjQxNDg2MSwiYWlvIjoiNDJkZ1lJaTJjeGZtRW5pNDcyTDdoeTBIMTVhcUFRQT0iLCJhcHBpZCI6IjkzN2IwZGYxLWQ1YzktNDliYi1iYjE3LWQ2ZmNkYjMyODM2ZCIsImFwcGlkYWNyIjoiMSIsImlkcCI6Imh0dHBzOi8vc3RzLndpbmRvd3MubmV0LzcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0Ny8iLCJvaWQiOiIwY2FkM2U5ZC0wMjVmLTQ1YjQtOTk0NC0xZDM3Y2NiZDE3ZjQiLCJzdWIiOiIwY2FkM2U5ZC0wMjVmLTQ1YjQtOTk0NC0xZDM3Y2NiZDE3ZjQiLCJ0aWQiOiI3MmY5ODhiZi04NmYxLTQxYWYtOTFhYi0yZDdjZDAxMWRiNDciLCJ1dGkiOiJwcWJNSUNlbGxFcVpUV1hoN3pnSUFBIiwidmVyIjoiMS4wIn0.UQtDLa4IhW3CwEzYcQYv1Awvfw5d9NTvMvCXJBGg7hM_HxxBuBBuMls9WJo0IXhDYFB4z0c2VBHf8Dw_4NARDZm4lQbc0hVjZ9xhLJgMusL5SN18nwx64ikWCJELOLpwWPdBZA_Av5vNWGEwKChYtLuj1qq_15Kysnv7PYjBcZfAshMoeHOGLeAEBy9uFyWOqeBvftlT55WHZWavmy3te9dTT-9aa2wShg5h9_66l2uJkCJBD_DNisfit0GWp1umKqbEB8eShqqMzO4Qz9KkGY8OzLRlYsmz0UvCtARVeTVw7gaW61znbT0neZPw_hLA3OfrhyGp2eKtZkMA4yQ3ug"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "Bearer authorization_uri=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", error=\"invalid_token\", error_description=\"The authentication failed because some auxiliary tokens are duplicates and belong to the same tenant.\""
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"AuxiliaryTokensDuplicate\",\r\n    \"message\": \"Authentication failed for auxiliary token: 'The '1' auxiliary tokens contains duplicates which are from the same tenant. The tenant ids '72f988bf-86f1-41af-91ab-2d7cd011db47' are common in more than one auxiliary tokens or is same as primary tenant.'\"\r\n  }\r\n}",
      "StatusCode": 401
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualHubs?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ps1102\",\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualHubs/ps1102\",\r\n      \"etag\": \"W/\\\"599a5e5a-b1da-4792-bb7c-8e60ed763563\\\"\",\r\n      \"type\": \"Microsoft.Network/virtualHubs\",\r\n      \"location\": \"westcentralus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"virtualNetworkConnections\": [],\r\n        \"virtualHubRouteTableV2s\": [],\r\n        \"addressPrefix\": \"192.168.1.0/24\",\r\n        \"routeTable\": {\r\n          \"routes\": []\r\n        },\r\n        \"virtualWan\": {\r\n          \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualWans/ps2962\"\r\n        },\r\n        \"sku\": \"Standard\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/virtualHubs?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "a5e0a994-7574-4ff5-80be-13ffe33e789b",
          "3daa0d95-1361-4ff6-8a23-fd626a04379a",
          "8fe75f7b-ddb6-43ee-826b-cd4709e98edf",
          "08ac05ac-c85a-434a-9942-91c846ff60b2",
[...]
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/vpnSites/ps224?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/vpnSites/ps224' under resource group 'ps6415' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/vpnSites/ps224?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"c1d9e4be-dd74-4f78-85bf-a2e9ec9c411c\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps224\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/vpnSites/ps224\",\r\n  \"etag\": \"W/\\\"c1d9e4be-dd74-4f78-85bf-a2e9ec9c411c\\\"\",\r\n  \"type\": \"Microsoft.Network/vpnSites\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.2.0/24\"\r\n      ]\r\n    },\r\n    \"deviceProperties\": {\r\n      \"deviceModel\": \"SomeDevice\",\r\n      \"deviceVendor\": \"SomeDeviceVendor\",\r\n      \"linkSpeedInMbps\": 10\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualWans/ps2962\"\r\n    },\r\n    \"isSecuritySite\": false,\r\n    \"ipAddress\": \"1.2.3.4\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/vpnSites/ps224?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualWans/ps2962\"\r\n    },\r\n    \"deviceProperties\": {\r\n      \"deviceVendor\": \"SomeDeviceVendor\",\r\n      \"deviceModel\": \"SomeDevice\",\r\n      \"linkSpeedInMbps\": 10\r\n    },\r\n    \"ipAddress\": \"1.2.3.4\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.2.0/24\"\r\n      ]\r\n    },\r\n    \"vpnSiteLinks\": []\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/locations/westcentralus/operations/c34382de-1475-4eb6-aa28-2f726584bdfc?api-version=2019-12-01"
  [...]
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/vpnSites/ps7742?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualWans/ps2962\"\r\n    },\r\n    \"deviceProperties\": {\r\n      \"deviceVendor\": \"SomeDeviceVendor\",\r\n      \"deviceModel\": \"SomeDevice\",\r\n      \"linkSpeedInMbps\": 0\r\n    },\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.169.2.0/24\",\r\n        \"192.169.3.0/24\"\r\n      ]\r\n    },\r\n    \"vpnSiteLinks\": [\r\n      {\r\n        \"properties\": {\r\n          \"linkProperties\": {\r\n            \"linkProviderName\": \"SomeTelecomProvider1\",\r\n            \"linkSpeedInMbps\": 10\r\n          },\r\n          \"ipAddress\": \"5.5.5.5\",\r\n          \"fqdn\": \"\"\r\n        },\r\n        \"name\": \"ps1266\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"linkProperties\": {\r\n            \"linkProviderName\": \"SomeTelecomProvider2\",\r\n            \"linkSpeedInMbps\": 10\r\n          },\r\n          \"ipAddress\": \"5.5.5.6\",\r\n          \"fqdn\": \"\"\r\n        },\r\n        \"name\": \"ps7312\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
    [...]
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/vpnSites?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/providers/Microsoft.Network/vpnSites?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "d40b8de7-1360-4e5a-9564-2ad594d6078c",
          "d403c68e-ccff-42f5-ab70-07180308e4b9"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
       [...]
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/vpnGateways/ps2355?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/vpnGateways/ps2355' under resource group 'ps6415' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/vpnGateways/ps2355?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11793"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2355\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/vpnGateways/ps2355\",\r\n  \"etag\": \"W/\\\"32d08ef1-d132-43fc-9252-58cec51e1eb6\\\"\",\r\n  \"type\": \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"connections\": [],\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualHubs/ps1102\"\r\n    },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"peerWeight\": 0\r\n    },\r\n    \"vpnGatewayScaleUnit\": 3\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/vpnGateways/ps2355?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11959"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2355\",\r\n  \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/vpnGateways/ps2355\",\r\n  \"etag\": \"W/\\\"2e47fdfd-1c64-4a0e-a3dc-36f0b0912626\\\"\",\r\n  \"type\": \"Microsoft.Network/vpnGateways\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"connections\": [],\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/virtualHubs/ps1102\"\r\n    },\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"peerWeight\": 0,\r\n      \"bgpPeeringAddresses\": []\r\n    },\r\n    \"vpnGatewayScaleUnit\": 4\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b1f1deed-af60-4bab-9223-65d340462e24/resourceGroups/ps6415/providers/Microsoft.Network/vpnGateways/ps2355?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11981"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
[...]
