{
  "Entries": [
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourcegroups/ps7323?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"centraluseuap\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323\",\r\n  \"name\": \"ps7323\",\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {\r\n    \"Created\": \"2022-09-16T23:51:36.9684145Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualWans/ps5958?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualWans/ps5958' under resource group 'ps7323' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualWans/ps5958?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"ce629941-7c4c-4566-93ce-5e4887b9f093\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5958\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualWans/ps5958\",\r\n  \"etag\": \"W/\\\"ce629941-7c4c-4566-93ce-5e4887b9f093\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualWans/ps5958?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"type\": \"Standard\"\r\n  },\r\n  \"location\": \"centraluseuap\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/centraluseuap/operations/a39d5607-eb59-4b43-add9-6d1e2ef24b5a?api-version=2022-05-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5958\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualWans/ps5958\",\r\n  \"etag\": \"W/\\\"9e176214-54e8-4c41-89b4-e2a26565c7d7\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"type\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/centraluseuap/operations/a39d5607-eb59-4b43-add9-6d1e2ef24b5a?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualHubs/ps8029?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualHubs/ps8029' under resource group 'ps7323' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualHubs/ps8029?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps8029\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualHubs/ps8029\",\r\n  \"etag\": \"W/\\\"202cc8d7-0d53-4b62-8e4a-08dc1d169cc2\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"192.168.1.0/24\",\r\n    \"virtualRouterAsn\": 65515,\r\n    \"virtualRouterIps\": [],\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualRouterAutoScaleConfiguration\": {\r\n      \"minCapacity\": 2\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualWans/ps5958\"\r\n    },\r\n    \"networkVirtualAppliances\": [],\r\n    \"sku\": \"Standard\",\r\n    \"routingState\": \"Provisioning\",\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"hubRoutingPreference\": \"ASPath\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualHubs/ps8029?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps8029\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualHubs/ps8029\",\r\n  \"etag\": \"W/\\\"aeb3c5b2-76e9-437a-a61d-23a383029da2\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"addressPrefix\": \"192.168.1.0/24\",\r\n    \"virtualRouterAsn\": 65515,\r\n    \"virtualRouterIps\": [\r\n      \"192.168.1.68\",\r\n      \"192.168.1.69\"\r\n    ],\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualRouterAutoScaleConfiguration\": {\r\n      \"minCapacity\": 2\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualWans/ps5958\"\r\n    },\r\n    \"azureFirewall\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/azureFirewalls/testFirewall1\"\r\n    },\r\n    \"networkVirtualAppliances\": [],\r\n    \"sku\": \"Standard\",\r\n    \"routingState\": \"Provisioned\",\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"hubRoutingPreference\": \"ASPath\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualHubs/ps8029?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualWans/ps5958\"\r\n    },\r\n    \"addressPrefix\": \"192.168.1.0/24\",\r\n    \"virtualHubRouteTableV2s\": [],\r\n    \"sku\": \"Standard\",\r\n    \"virtualRouterAsn\": 0,\r\n    \"virtualRouterIps\": [],\r\n    \"allowBranchToBranchTraffic\": false,\r\n    \"preferredRoutingGateway\": \"ExpressRoute\",\r\n    \"hubRoutingPreference\": \"ASPath\"\r\n  },\r\n  \"location\": \"centraluseuap\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/centraluseuap/operations/6d697892-5597-4d89-8039-05822ce4e84a?api-version=2022-05-01"
        ],
        "Azure-AsyncNotification": [
          [...]
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualHubs/ps8029/hubVirtualNetworkConnections?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/azureFirewalls/testFirewall1?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/azureFirewalls/testFirewall1' under resource group 'ps7323' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/azureFirewalls/testFirewall1?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"7054ab8f-8d42-447f-988e-c32d24341b1e\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"testFirewall1\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/azureFirewalls/testFirewall1\",\r\n  \"etag\": \"W/\\\"7054ab8f-8d42-447f-988e-c32d24341b1e\\\"\",\r\n  \"type\": \"Microsoft.Network/azureFirewalls\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"sku\": {\r\n      \"name\": \"AZFW_Hub\",\r\n      \"tier\": \"Standard\"\r\n    },\r\n    \"additionalProperties\": {},\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualHubs/ps8029\"\r\n    },\r\n    \"hubIPAddresses\": {\r\n      \"privateIPAddress\": \"192.168.1.132\",\r\n      \"publicIPs\": {\r\n        \"addresses\": [\r\n          {\r\n            \"address\": \"20.228.25.204\"\r\n          }\r\n        ],\r\n        \"count\": 1\r\n      }\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/azureFirewalls/testFirewall1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"applicationRuleCollections\": [],\r\n    \"natRuleCollections\": [],\r\n    \"networkRuleCollections\": [],\r\n    \"ipConfigurations\": [],\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualHubs/ps8029\"\r\n    },\r\n    \"hubIPAddresses\": {\r\n      \"publicIPs\": {\r\n        \"addresses\": [],\r\n        \"count\": 1\r\n      }\r\n    },\r\n    \"sku\": {\r\n      \"name\": \"AZFW_Hub\",\r\n      \"tier\": \"Standard\"\r\n    },\r\n    \"additionalProperties\": {}\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"centraluseuap\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/centraluseuap/operations/9b383367-e93c-4e0e-8e0f-711864fe7c67?api-version=2022-05-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscriptio[...]
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualHubs/ps8029/routingIntent?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualHubs/ps8029/routingIntent/testRoutingIntent1?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"routingPolicies\": [\r\n      {\r\n        \"name\": \"PrivateTraffic\",\r\n        \"destinations\": [\r\n          \"PrivateTraffic\"\r\n        ],\r\n        \"nextHop\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/azureFirewalls/testFirewall1\"\r\n      },\r\n      {\r\n        \"name\": \"PublicTraffic\",\r\n        \"destinations\": [\r\n          \"Internet\"\r\n        ],\r\n        \"nextHop\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/azureFirewalls/testFirewall1\"\r\n      }\r\n    ]\r\n  },\r\n  \"name\": \"testRoutingIntent1\"\r\n}"[...]
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps7323/providers/Microsoft.Network/virtualHubs/ps8029/routingIntent/testRoutingIntent1?api-version=2022-05-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/centraluseuap/operationResults/6bb03955-5f17-4ca7-9fb5-14bb4d72368f?api-version=2022-05-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/centraluseuap/operations/6bb03955-5f17-4ca7-9fb5-14bb4d72368f?api-version=2022-05-01"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/centraluseuap/operationResults/6bb03955-5f17-4ca7-9fb5-14bb4d72368f?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/centraluseuap/operationResults/6bb03955-5f17-4ca7-9fb5-14bb4d72368f?api-version=2022-05-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/centraluseuap/operations/6bb03955-5f17-4ca7-9fb5-14bb4d72368f?api-version=2022-05-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzczMjMtQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzczMjMtQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-RoutingIntentCRUD": [
      "ps7323",
      "ps5958",
      "ps8029"
    ]
  },
  "Variables": {
    "SubscriptionId": "62364504-2406-418e-971c-05822ff72fad"
  }
}