{
  "Entries": [
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourcegroups/ps3850?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850\",\r\n  \"name\": \"ps3850\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/virtualWans/ps5741?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualWans/ps5741' under resource group 'ps3850' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/virtualWans/ps5741?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"9176f932-4bce-4d4f-9e9e-12cf38829315\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5741\",\r\n  \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/virtualWans/ps5741\",\r\n  \"etag\": \"W/\\\"9176f932-4bce-4d4f-9e9e-12cf38829315\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"p2SVpnServerConfigurations\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/virtualWans/ps5741?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"Resource /subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/virtualWans/ps5741 not found.\",\r\n    \"details\": []\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/virtualWans/ps5741?api-version=2019-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"p2SVpnServerConfigurations\": []\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://brazilus.management.azure.com/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/providers/Microsoft.Network/locations/westcentralus/operations/2e70504a-57c4-4163-8de2-cec857ecf50a?api-version=2019-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5741\",\r\n  \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/virtualWans/ps5741\",\r\n  \"etag\": \"W/\\\"db67e304-94ae-4777-a32e-b4439ca03a57\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualWans\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"disableVpnEncryption\": false,\r\n    \"allowBranchToBranchTraffic\": true,\r\n    \"allowVnetToVnetTraffic\": true,\r\n    \"office365LocalBreakoutCategory\": \"None\",\r\n    \"p2SVpnServerConfigurations\": []\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/providers/Microsoft.Network/locations/westcentralus/operations/2e70504a-57c4-4163-8de2-cec857ecf50a?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps1964/providers/Microsoft.Network/virtualHubs/ps4118?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualHubs/ps4118' under resource group 'ps1964' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps1964/providers/Microsoft.Network/virtualHubs/ps4118?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps4118\",\r\n  \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps1964/providers/Microsoft.Network/virtualHubs/ps4118\",\r\n  \"etag\": \"W/\\\"4300a93d-f19b-4ba1-be3a-528da4d7e238\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualHubs\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNetworkConnections\": [],\r\n    \"addressPrefix\": \"10.8.0.0/24\",\r\n    \"routeTable\": {\r\n      \"routes\": []\r\n    },\r\n    \"virtualWan\": {\r\n      \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/virtualWans/ps5741\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/expressRouteGateways/ps9275?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/expressRouteGateways/ps9275' under resource group 'ps3850' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/expressRouteGateways/ps9275?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11900"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps9275\",\r\n  \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/expressRouteGateways/ps9275\",\r\n  \"etag\": \"W/\\\"3271cefe-9270-4e00-83d4-fadedc583109\\\"\",\r\n  \"type\": \"Microsoft.Network/expressRouteGateways\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"130a4152-e348-424c-8b75-14473cab2aa6\",\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps1964/providers/Microsoft.Network/virtualHubs/ps4118\"\r\n    },\r\n    \"expressRouteConnections\": [],\r\n    \"autoScaleConfiguration\": {\r\n      \"bounds\": {\r\n        \"min\": 2\r\n      }\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/expressRouteGateways/ps9275?api-version=2019-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"autoScaleConfiguration\": {\r\n      \"bounds\": {\r\n        \"min\": 2,\r\n        \"max\": 2\r\n      }\r\n    },\r\n    \"virtualHub\": {\r\n      \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps1964/providers/Microsoft.Network/virtualHubs/ps4118\"\r\n    }\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://br[...]
[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/providers/Microsoft.Network/expressRouteGateways?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "df79be73-bfd2-4520-9be1-306947021cd1",
          "cdc7cff5-4057-4cd0-b39d-5bbc7e34c02e",
          "825c50cf-5138-448c-bc1f-c7e1fb4780fc",
          "d10797b9-8775-4b81-a569-4a4080646cc5",
          "d16c11b5-f574-47cf-a352-7f2b1c1031b6",
          "3d03b635-ac52-4d32-88bd-6c613668b5f3",
          "a0aae9f8-213e-47ad-9688-a2b855b6db42",
          "9c89ef95-d5a7-4ee6-996b-7e855b946649"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"70e61960d139-42b8-94a0-e29da813f9ea-eastus-er-gw\",\r\n      \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/cortexTransit/providers/Microsoft.Network/expressRouteGateways/70e61960d139-42b8-94a0-e29da813f9ea-eastus-er-gw\",\r\n      \"etag\": \"W/\\\"dc46fa63-7d85-427e-a3a4-112dc9e31397\\\"\",\r\n      \"type\": \"Microsoft.Network/expressRouteGateways\",\r\n      \"location\": \"eastus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Failed\",\r\n        \"resourceGuid\": \"7d946fd6-bd60-49a1-9017-c21325571340\",\r\n        \"virtualHub\": {\r\n          \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/cortexTransit/providers/Microsoft.Network/virtualHubs/cortexTransitHub-EastUS\"\r\n        },\r\n        \"expressRouteConnections\": [\r\n          {\r\n            \"name\": \"ExRConnection-eastus-1555111530088\",\r\n            \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/cortexTransit/providers/Microsoft.Network/expressRouteGateways/70e61960d139-42b8-94a0-e29da813f9ea-eastus-er-gw/expressRouteConnections/ExRConnection-eastus-1555111530088\",\r\n            \"etag\": \"W/\\\"dc46fa63-7d85-427e-a3a4-112dc9e31397\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Failed\",\r\n              \"resourceGuid\": \"539fac9b-2f7c-478e-8a55-f1801d043af6\",\r\n              \"expressRouteCircuitPeering\": {\r\n                \"id\": \"/subscriptions/4bffbb15-d414-4874-a2e4-c548c6d45e2a/resourceGroups/SEA-Cust10/providers/Microsoft.Network/expressRouteCircuits/SEA-Cust10-ER/peerings/AzurePrivatePeering\"\r\n              },\r\n              \"routingWeight\": 0,\r\n              \"authorizationKey\": \"3082022706092A864886F70D010703A082021830820214020100318201C0308201BC0201003081A330818B310B3009060355040613025553311330110603550408130A57617368696E67746F6E3110300E060355040713075265646D6F6E64311E301C060355040A13154D6963726F736F667420436F72706F726174696F6E31153013060355040B130C4D6963726F736F6674204954311E301C060355040313154D6963726F736F667420495420544C53204341203502132D0000D349852941F131B899E100000000D349300D06092A864886F70D010101050004820100071F924980A5B80FE85E061E6E620ABF6C3B50F6858C333633619D304AC7A6CCCB6C52B33222CC5C8FFDF92D5584A95A08E92BA051B5FA2B585E40EDBCE7FC0E13C4EBAB93DDAB8739050468D4A14380F54F228956853311DD687E4E19AEB18B04578B3BB1179DE9D3E45C832FA55F82C835973340957A9A71F7AF2E2A523625E8E12199A99F97EA14061FF7F12767A941F006C9CFC99E2598DE6E6D13B3B082F4ECF5C740ABD57FE11719668F7E2D556CDAEAC589D12E5A82BE00965B46FAC7D0337DE3D65F56F4A0508D8C194687E3A5830B1E2768BCDB387CF92577EC6CB3CFA3C06DDF4C4DBABACE67D0CAE066948C9B8CC25E377974478F748FC3C83AFB304B06092A864886F70D010701301406082A864886F70D03070408AA6C45BB609E26978028FE2DD63DB222176D066C19A05575BF95A666BD8C10103D79158B1D84A1961E445F7F731CCD8D36A6\",\r\n              \"enableInternetSecurity\": false\r\n            },\r\n            \"type\": \"Microsoft.Network/expressRouteGateways/expressRouteConnections\"\r\n          }\r\n        ],\r\n        \"autoScaleConfiguration\": {\r\n          \"bounds\": {\r\n            \"min\": 2\r\n          }\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"psHubErGw1\",\r\n      \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/cortexReliability/providers/Microsoft.Network/expressRouteGateways/psHubErGw1\",\[...]
[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/expressRouteGateways?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ps9275\",\r\n      \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/expressRouteGateways/ps9275\",\r\n      \"etag\": \"W/\\\"3271cefe-9270-4e00-83d4-fadedc583109\\\"\",\r\n      \"type\": \"Microsoft.Network/expressRouteGateways\",\r\n      \"location\": \"westcentralus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"130a4152-e348-424c-8b75-14473cab2aa6\",\r\n        \"virtualHub\": {\r\n          \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps1964/providers/Microsoft.Network/virtualHubs/ps4118\"\r\n        },\r\n        \"expressRouteConnections\": [],\r\n        \"autoScaleConfiguration\": {\r\n          \"bounds\": {\r\n            \"min\": 2\r\n          }\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/expressRouteCircuits/ps7502?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/expressRouteCircuits/ps7502' under resource group 'ps3850' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/expressRouteCircuits/ps7502?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps7502\",\r\n  \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/expressRouteCircuits/ps7502\",\r\n  \"etag\": \"W/\\\"24ff8841-4238-488b-a35a-88196b89c949\\\"\",\r\n  \"type\": \"Microsoft.Network/expressRouteCircuits\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"f6dfd7d3-cea8-4ed4-8ac2-a5c2136b0048\",\r\n    \"peerings\": [\r\n      {\r\n        \"name\": \"AzurePrivatePeering\",\r\n        \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/expressRouteCircuits/ps7502/peerings/AzurePrivatePeering\",\r\n        \"etag\": \"W/\\\"24ff8841-4238-488b-a35a-88196b89c949\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"peeringType\": \"AzurePrivatePeering\",\r\n          \"azureASN\": 12076,\r\n          \"peerASN\": 100,\r\n          \"primaryPeerAddressPrefix\": \"10.2.3.4/30\",\r\n          \"secondaryPeerAddressPrefix\": \"11.2.3.4/30\",\r\n          \"primaryAzurePort\": \"\",\r\n          \"secondaryAzurePort\": \"\",\r\n          \"state\": \"Enabled\",\r\n          \"vlanId\": 22,\r\n          \"gatewayManagerEtag\": \"\",\r\n          \"lastModifiedBy\": \"Customer\",\r\n          \"connections\": [],\r\n          \"peeredConnections\": []\r\n        },\r\n        \"type\": \"Microsoft.Network/expressRouteCircuits/peerings\"\r\n      }\r\n    ],\r\n    \"authorizations\": [],\r\n    \"serviceProviderProperties\": {\r\n      \"serviceProviderName\": \"Zayo\",\r\n      \"peeringLocation\": \"Denver\",\r\n      \"bandwidthInMbps\": 200\r\n    },\r\n    \"circuitProvisioningState\": \"Enabled\",\r\n    \"allowClassicOperations\": false,\r\n    \"gatewayManagerEtag\": \"\",\r\n    \"serviceKey\": \"8f044488-1e3e-405b-95c5-e387b1293041\",\r\n    \"serviceProviderProvisioningState\": \"NotProvisioned\",\r\n    \"allowGlobalReach\": false,\r\n    \"globalReachEnabled\": false,\r\n    \"stag\": 11\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Premium_MeteredData\",\r\n    \"tier\": \"Premium\",\r\n    \"family\": \"MeteredData\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/expressRouteGateways/ps9275/expressRouteConnections/ps2784?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"Resource /subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/expressRouteGateways/ps9275/expressRouteConnections/ps2784 not found.\",\r\n    \"details\": []\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/expressRouteGateways/ps9275/expressRouteConnections?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11894"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ps2784\",\r\n      \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/expressRouteGateways/ps9275/expressRouteConnections/ps2784\",\r\n      \"etag\": \"W/\\\"aaae25cc-3771-433a-8425-1b5306199cd9\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"7a7e2388-50f6-4e7d-b030-8bf6a5c42ef0\",\r\n        \"expressRouteCircuitPeering\": {\r\n          \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/expressRouteCircuits/ps7502/peerings/AzurePrivatePeering\"\r\n        },\r\n        \"routingWeight\": 30,\r\n        \"enableInternetSecurity\": false\r\n      },\r\n      \"type\": \"Microsoft.Network/expressRouteGateways/expressRouteConnections\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps3850/providers/Microsoft.Network/expressRouteGateways/ps9275?api-version=2019-04-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://brazilus.management.azure.com/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/providers/Microsoft.Network/locations/westcentralus/operationResults/d9a77be6-d95d-4d16-9380-aac0bc8f5209?api-version=2019-04-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://brazilus.management.azure.com/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/providers/Microsoft.Network/locations/westcentralus/operations/d9a77be6-d95d-4d16-9380-aac0bc8f5209?api-version=2019-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/providers/Microsoft.Network/locations/westcentralus/operationResults/d9a77be6-d95d-4d16-9380-aac0bc8f5209?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://brazilus.management.azure.com/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/providers/Microsoft.Network/locations/westcentralus/operationResults/d9a77be6-d95d-4d16-9380-aac0bc8f5209?api-version=2019-04-01"
        ],
        "Azure-AsyncOperation": [
          "https://brazilus.management.azure.com/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/providers/Microsoft.Network/locations/westcentralus/operations/d9a77be6-d95d-4d16-9380-aac0bc8f5209?api-version=2019-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11785"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzM4NTAtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://brazilus.management.azure.com/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzM4NTAtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11784"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzM4NTAtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11774"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-CortexExpressRouteCRUD": [
      "ps3850",
      "ps1964",
      "ps5741",
      "ps4118",
      "ps9275",
      "ps7502",
      "ps2784"
    ]
  },
  "Variables": {
    "SubscriptionId": "18b0dc06-a2b8-4c0f-95af-550319fa5eac"
  }
}