{
  "Get-AzNginxDeployment+[NoContext]+List+$GET+https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/limgu_rg/providers/Nginx.NginxPlus/nginxDeployments?api-version=2022-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/limgu_rg/providers/Nginx.NginxPlus/nginxDeployments?api-version=2022-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "9" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "02cf8132-5ce9-4dd7-bbd1-f083afcd888c", "ca2b8cd4-fcda-4272-8c59-4eaaa055d438", "f96cfd38-69d6-4eba-b3fb-21aef0dd5c85", "8a94a7a8-0715-40a5-bcf5-304980ad6ef1", "a214ebab-3f7f-4208-a12c-6780a16e5e66", "432be1d1-c3d0-4fe3-bf12-3767d6b7039f", "9c30e886-3d61-435c-b6a9-d7a6ab6d36ea", "4c5bf6b1-dce6-4a5c-bd2d-67e429b4facc" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11989" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/limgu_rg/providers/NGINX.NGINXPLUS/nginxDeployments/test920\",\"name\":\"test920\",\"type\":\"nginx.nginxplus/nginxdeployments\",\"sku\":{\"name\":\"publicpreview_Monthly_gmz7xq9ge3py\"},\"location\":\"eastus2\",\"tags\":{},\"systemData\":{\"createdBy\":\"limgu@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-09-20T20:41:30.0046696Z\",\"lastModifiedBy\":\"limgu@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2022-09-20T20:48:17.9826227Z\"},\"identity\":{\"type\":\"UserAssigned\",\"userAssignedIdentities\":{\"/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/demo-common/providers/Microsoft.ManagedIdentity/userAssignedIdentities/demo-mi\":{\"principalId\":\"4fa6b75b-7f51-4522-8873-bc2481954113\",\"clientId\":\"25d78737-a027-49ed-9dd6-e7de1086e76a\"}}},\"properties\":{\"provisioningState\":\"Succeeded\",\"nginxVersion\":\"\",\"managedResourceGroup\":\"NGX_limgu_rg_test920_eastus2\",\"ipAddress\":\"20.96.85.173\",\"networkProfile\":{\"frontEndIPConfiguration\":{\"publicIPAddresses\":[{\"id\":\"/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/limgu_rg/providers/Microsoft.Network/publicIPAddresses/test920-ip\"}],\"privateIPAddresses\":[]},\"networkInterfaceConfiguration\":{\"subnetId\":\"/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/limgu_rg/providers/Microsoft.Network/virtualNetworks/test920-vnet/subnets/default\"}},\"enableDiagnosticsSupport\":false}}]}",
    }
  },
  "Get-AzNginxDeployment+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/limgu_rg/providers/Nginx.NginxPlus/nginxDeployments/test920?api-version=2022-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/limgu_rg/providers/Nginx.NginxPlus/nginxDeployments/test920?api-version=2022-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "10" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"79006ee9-0000-0200-0000-632a27310000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11988" ],
        "x-ms-providerhub-traffic": [ "True" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/limgu_rg/providers/NGINX.NGINXPLUS/nginxDeployments/test920\",\"name\":\"test920\",\"type\":\"nginx.nginxplus/nginxdeployments\",\"sku\":{\"name\":\"publicpreview_Monthly_gmz7xq9ge3py\"},\"location\":\"eastus2\",\"tags\":{},\"systemData\":{\"createdBy\":\"limgu@microsoft.com\",\"created[...]
