{
  "Update-AzNginxDeployment+[NoContext]+UpdateExpanded+$PATCH+https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/limgu_rg/providers/Nginx.NginxPlus/nginxDeployments/test920?api-version=2022-08-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/limgu_rg/providers/Nginx.NginxPlus/nginxDeployments/test920?api-version=2022-08-01",
      "Content": "{\n  \"properties\": {\n    \"enableDiagnosticsSupport\": true\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"7e00ea49-0000-0200-0000-632bbe220000\"" ],
        "Location": [ "https://management.azure.com/providers/Nginx.NginxPlus/locations/EASTUS2/operationStatuses/d8c59c00-5e78-40e2-b63b-b8f26ad5709c*CDD5CCAAE0AD6DD57A723730BD7ED343E6A9161C1D97356EFC59DFBDF1E8848E?api-version=2022-08-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Nginx.NginxPlus/locations/EASTUS2/operationStatuses/d8c59c00-5e78-40e2-b63b-b8f26ad5709c*CDD5CCAAE0AD6DD57A723730BD7ED343E6A9161C1D97356EFC59DFBDF1E8848E?api-version=2022-08-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/limgu_rg/providers/NGINX.NGINXPLUS/nginxDeployments/test920\",\"name\":\"test920\",\"type\":\"nginx.nginxplus/nginxdeployments\",\"sku\":{\"name\":\"publicpreview_Monthly_gmz7xq9ge3py\"},\"location\":\"eastus2\",\"tags\":{},\"systemData\":{\"createdBy\":\"limgu@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-09-20T20:41:30.0046696Z\",\"lastModifiedBy\":\"limgu@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2022-09-22T01:45:05.5048421Z\"},\"identity\":{\"type\":\"UserAssigned\",\"userAssignedIdentities\":{\"/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/demo-common/providers/Microsoft.ManagedIdentity/userAssignedIdentities/demo-mi\":{\"principalId\":\"4fa6b75b-7f51-4522-8873-bc2481954113\",\"clientId\":\"25d78737-a027-49ed-9dd6-e7de1086e76a\"}}},\"properties\":{\"provisioningState\":\"Accepted\",\"nginxVersion\":\"\",\"managedResourceGroup\":\"NGX_limgu_rg_test920_eastus2\",\"ipAddress\":\"20.96.85.173\",\"networkProfile\":{\"frontEndIPConfiguration\":{\"publicIPAddresses\":[{\"id\":\"/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/limgu_rg/providers/Microsoft.Network/publicIPAddresses/test920-ip\"}],\"privateIPAddresses\":[]},\"networkInterfaceConfiguration\":{\"subnetId\":\"/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/limgu_rg/providers/Microsoft.Network/virtualNetworks/test920-vnet/subnets/default\"}},\"enableDiagnosticsSupport\":true}}",
    }
  },
  "Update-AzNginxDeployment+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/providers/Nginx.NginxPlus/locations/EASTUS2/operationStatuses/d8c59c00-5e78-40e2-b63b-b8f26ad5709c*CDD5CCAAE0AD6DD57A723730BD7ED343E6A9161C1D97356EFC59DFBDF1E8848E?api-version=2022-08-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/EASTUS2/operationStatuses/d8c59c00-5e78-40e2-b63b-b8f26ad5709c*CDD5CCAAE0AD6DD57A723730BD7ED343E6A9161C1D97356EFC59DFBDF1E8848E?api-version=2022-08-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"87019862-0000-0200-0000-632bbe210000\"" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Nginx.NginxPlus/locations/EASTUS2/operationStatuses/d8c59c00-5e78-40e2-b63b-b8f26ad5709c*CDD5CCAAE0AD6DD57A723730BD7ED343E6A9161C1D97356EFC59DFBDF1E8848E\",\"name\":\"d8c59c00-5e78-40e2-b63b-b8f26ad5709c*CDD5CCAAE0AD6DD57A723730BD7ED343E6A9161C1D97356EFC59DFBDF1E8848E\",\"resourceId\":\"/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/limgu_rg/providers/Nginx.NginxPlus/nginxDeployments/test920\",\"status\":\"Accepted\",\"startTime\":\"2022-09-22T01:45:05.6044531Z\"}",
    }
  },
  "Update-AzNginxDeployment+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/providers/Nginx.NginxPlus/locations/EASTUS2/operationStatuses/d8c59c00-5e78-40e2-b63b-b8f26ad5709c*CDD5CCAAE0AD6DD57A723730BD7ED343E6A9161C1D97356EFC59DFBDF1E8848E?api-version=2022-08-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/EASTUS2/operationStatuses/d8c59c00-5e78-40e2-[...]
