{
  "Enable-AzFrontDoorCdnProfileMigration+[NoContext]+[NoScenario]+$POST+https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testps-rg-vocbe1/providers/Microsoft.Cdn/migrate?api-version=2022-11-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testps-rg-vocbe1/providers/Microsoft.Cdn/migrate?api-version=2022-11-01-preview",
      "Content": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_AzureFrontDoor\"\r\n  },\r\n  \"classicResourceReference\": {\r\n    \"id\": \"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-vocbe1/providers/Microsoft.Network/Frontdoors/fdp-k9royx\"\r\n  },\r\n  \"profileName\": \"migrated-test\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-vocbe1/providers/Microsoft.Cdn/operationresults/1cd60f3a-ebc8-4a19-aa06-a88716054655/migrateresults/migrated-test?api-version=2020-09-01" ],
        "Retry-After": [ "10" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-vocbe1/providers/Microsoft.Cdn/operationresults/1cd60f3a-ebc8-4a19-aa06-a88716054655?api-version=2020-09-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Enable-AzFrontDoorCdnProfileMigration+[NoContext]+[NoScenario]+$GET+https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-vocbe1/providers/Microsoft.Cdn/operationresults/1cd60f3a-ebc8-4a19-aa06-a88716054655?api-version=2020-09-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-vocbe1/providers/Microsoft.Cdn/operationresults/1cd60f3a-ebc8-4a19-aa06-a88716054655?api-version=2020-09-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "158" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11929" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"status\":\"InProgress\",\"error\":{\"code\":\"None\",\"message\":null}}",
    }
  },
  "Enable-AzFrontDoorCdnProfileMigration+[NoContext]+[NoScenario]+$GET+https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-vocbe1/providers/Microsoft.Cdn/operationresults/1cd60f3a-ebc8-4a19-aa06-a88716054655?api-version=2020-09-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-vocbe1/providers/Microso[...]
