{
  "Test-AzFrontDoorCdnEndpointCustomDomain+[NoContext]+ValidateExpanded+$PUT+https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testps-rg-g097ec/providers/Microsoft.Cdn/profiles/fdp-t5eu4a?api-version=2022-11-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testps-rg-g097ec/providers/Microsoft.Cdn/profiles/fdp-t5eu4a?api-version=2022-11-01-preview",
      "Content": "{\r\n  \"location\": \"Global\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_AzureFrontDoor\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Retry-After": [ "10" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-g097ec/providers/Microsoft.Cdn/operationresults/5218457d-cf3a-4fbb-95a4-1d42f00d11c8?api-version=2022-11-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "9" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-g097ec/providers/Microsoft.Cdn/profiles/fdp-t5eu4a\",\"type\":\"Microsoft.Cdn/profiles\",\"name\":\"fdp-t5eu4a\",\"location\":\"Global\",\"kind\":\"frontdoor\",\"tags\":{},\"sku\":{\"name\":\"Standard_AzureFrontDoor\"},\"properties\":{\"originResponseTimeoutSeconds\":30,\"frontDoorId\":\"a379849e-ca8c-4920-855c-d287679bd958\",\"extendedProperties\":{},\"resourceState\":\"Creating\",\"provisioningState\":\"Creating\"}}",
    }
  },
  "Test-AzFrontDoorCdnEndpointCustomDomain+[NoContext]+ValidateExpanded+$GET+https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-g097ec/providers/Microsoft.Cdn/operationresults/5218457d-cf3a-4fbb-95a4-1d42f00d11c8?api-version=2022-11-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/testps-rg-g097ec/providers/Microsoft.Cdn/operationresults/5218457d-cf3a-4fbb-95a4-1d42f00d11c8?api-version=2022-11-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "1369" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11944" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"status\":\"Succeeded\",\"error\":{\"code\":\"None\",\"message\":null}}",
    }
  },
  "Test-AzFrontDoorCdnEndpointCustomDomain+[NoContext]+ValidateExpanded+$GET+https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testps-rg-g097ec/providers/Microsoft.Cdn/profiles/fdp-t5eu4a?api-version=2022-11-01-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/testps-rg-g097ec/providers/Microsoft.Cdn/profiles/fdp-[...]
