{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/providers/Microsoft.Network?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n    \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"virtualNetworks\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"UK West\",\r\n        \"UK South\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2017-06-01\",\r\n        \"2016-08-01\",\r\n        \"2016-07-01\",\r\n        \"2016-06-01\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\",\r\n        \"2014-12-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"publicIPAddresses\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n[...]
    {
      "RequestUri": "/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourcegroups/onesdk153?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153\",\r\n  \"name\": \"onesdk153\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/virtualNetworks/onesdk2293?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/onesdk2293' under resource group 'onesdk153' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/virtualNetworks/onesdk2293?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk2293\",\r\n  \"id\": \"/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/virtualNetworks/onesdk2293\",\r\n  \"etag\": \"W/\\\"3e1ce12b-6ba9-4391-8236-38b007f8a469\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"dbc42673-3694-49f8-b9ba-f6ad6fbc9d48\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"GatewaySubnet\",\r\n        \"id\": \"/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/virtualNetworks/onesdk2293/subnets/GatewaySubnet\",\r\n        \"etag\": \"W/\\\"3e1ce12b-6ba9-4391-8236-38b007f8a469\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceTunnels\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"3e1ce12b-6ba9-4391-8236-38b007f8a469\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/virtualNetworks/onesdk2293?api-version=2017-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"resourceNavigationLinks\": []\r\n        },\r\n        \"name\": \"GatewaySubnet\"\r\n      }\r\n    ],\r\n    \"VirtualNetworkPeerings\": []\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk2293\",\r\n  \"id\": \"/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/virtualNetworks/onesdk2293\",\r\n  \"etag\": \"W/\\\"e3b08429-8725-431e-a169-0b9c4dbfdfc7\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"dbc42673-3694-49f8-b9ba-f6ad6fbc9d48\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"GatewaySubnet\",\r\n        \"id\": \"/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/virtualNetworks/onesdk2293/subnets/GatewaySubnet\",\r\n        \"etag\": \"W/\\\"e3b08429-8725-431e-a169-0b9c4dbfdfc7\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceTunnels\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/providers/Microsoft.Network/locations/westus/operations/2dc38343-2b31-49e8-bbec-017da11ed471?api-version=2017-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/providers/Microsoft.Network/locations/westus/operations/2dc38343-2b31-49e8-bbec-017da11ed471?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/publicIPAddresses/onesdk8481?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/onesdk8481' under resource group 'onesdk153' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/publicIPAddresses/onesdk8481?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk8481\",\r\n  \"id\": \"/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/publicIPAddresses/onesdk8481\",\r\n  \"etag\": \"W/\\\"531040b8-a54d-4fbd-b48a-645756cfd6bb\\\"\",\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"06b75264-aaf5-426e-8a0b-db94fd0de9ec\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"onesdk5249\",\r\n      \"fqdn\": \"onesdk5249.westus.cloudapp.azure.com\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"531040b8-a54d-4fbd-b48a-645756cfd6bb\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/publicIPAddresses/onesdk8481?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk8481\",\r\n  \"id\": \"/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/publicIPAddresses/onesdk8481\",\r\n  \"etag\": \"W/\\\"5fd44258-5fad-4c8a-a10c-a4770c0edc61\\\"\",\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"06b75264-aaf5-426e-8a0b-db94fd0de9ec\",\r\n    \"ipAddress\": \"40.118.255.128\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"onesdk5249\",\r\n      \"fqdn\": \"onesdk5249.westus.cloudapp.azure.com\"\r\n    },\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/virtualNetworkGateways/onesdk998/ipConfigurations/onesdk8036\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"5fd44258-5fad-4c8a-a10c-a4770c0edc61\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14913"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/virtualNetworkGateways/onesdk998?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworkGateways/onesdk998' under resource group 'onesdk153' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/virtualNetworkGateways/onesdk998?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk998\",\r\n  \"id\": \"/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/virtualNetworkGateways/onesdk998\",\r\n  \"etag\": \"W/\\\"8c0960f0-2d52-4b78-b772-108ced5f4e25\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworkGateways\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"4c70b0dd-b8f4-41ef-a909-834c4e6b20d9\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"onesdk8036\",\r\n        \"id\": \"/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/virtualNetworkGateways/onesdk998/ipConfigurations/onesdk8036\",\r\n        \"etag\": \"W/\\\"8c0960f0-2d52-4b78-b772-108ced5f4e25\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/publicIPAddresses/onesdk8481\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/virtualNetworks/onesdk2293/subnets/GatewaySubnet\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"sku\": {\r\n      \"name\": \"Standard\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"gatewayType\": \"Vpn\",\r\n    \"vpnType\": \"RouteBased\",\r\n    \"enableBgp\": false,\r\n    \"activeActive\": false,\r\n    \"bgpSettings\": {\r\n      \"asn\": 65515,\r\n      \"bgpPeeringAddress\": \"10.0.0.254\",\r\n      \"peerWeight\": 0\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14933"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/virtualNetworkGateways?api-version=2017-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"onesdk998\",\r\n      \"id\": \"/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/virtualNetworkGateways/onesdk998\",\r\n      \"etag\": \"W/\\\"8c0960f0-2d52-4b78-b772-108ced5f4e25\\\"\",\r\n      \"type\": \"Microsoft.Network/virtualNetworkGateways\",\r\n      \"location\": \"westus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"4c70b0dd-b8f4-41[...]
[...]
    {
      "RequestUri": "/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/virtualNetworkGateways/onesdk998/reset?api-version=2017-06-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/providers/Microsoft.Network/locations/westus/operations/6eec3ec1-8059-4523-9198-4cab63ecfdae?api-version=2017-06-01"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/providers/Microsoft.Network/locations/westus/operationResults/6eec3ec1-8059-4523-9198-4cab63ecfdae?api-version=2017-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/resourceGroups/onesdk153/providers/Microsoft.Network/virtualNetworkGateways/onesdk998/reset?gatewayVip=40.118.255.128&api-version=2017-06-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/providers/Microsoft.Network/locations/westus/operations/4dcadeea-c7f0-4bc2-9b41-ab281772bd68?api-version=2017-06-01"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/providers/Microsoft.Network/locations/westus/operationResults/4dcadeea-c7f0-4bc2-9b41-ab281772bd68?api-version=2017-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREsxNTMtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREsxNTMtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/a8bd1848-6ad2-41f7-9e08-8b965a7e8c59/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREsxNTMtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14969"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-VirtualNetworkGatewayCRUD": [
      "onesdk153",
      "onesdk998",
      "onesdk5249",
      "onesdk2293",
      "onesdk8481",
      "onesdk8036"
    ]
  },
  "Variables": {
    "SubscriptionId": "a8bd1848-6ad2-41f7-9e08-8b965a7e8c59"
  }
}
