{
  "Entries": [
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.Resources?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.Resources\",\r\n  \"namespace\": \"Microsoft.Resources\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"3b990c8b-9607-4c2a-8b04-1d41985facca\"\r\n    },\r\n    {\r\n      \"applicationId\": \"f77c2a8f-8a0a-4776-8e0a-bcb2549610ca\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"changes\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2024-06-01-preview\",\r\n        \"2023-07-01-preview\",\r\n        \"2023-03-01-preview\",\r\n        \"2022-05-01\",\r\n        \"2022-03-01-preview\"\r\n      ],\r\n      \"capabilities\": \"SupportsExtension\"\r\n    },\r\n    {\r\n      \"resourceType\": \"snapshots\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2022-11-01-preview\"\r\n      ],\r\n      \"capabilities\": \"SupportsExtension\"\r\n    },\r\n    {\r\n      \"resourceType\": \"deploymentScripts\",\r\n      \"locations\": [\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Austria East\",\r\n        \"Australia East\",\r\n        \"Australia Central\",\r\n        \"Austra[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync\",\r\n  \"namespace\": \"Microsoft.StorageSync\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"9469b9f5-6722-4481-a2b2-14ed560b706f\",\r\n      \"roleDefinitionId\": \"4cd49d82-1f4d-43fc-af0c-1c1203668e5a\"\r\n    },\r\n    {\r\n      \"applicationId\": \"ad47578a-93bb-4ab8-85ed-8e99cd5a48da\",\r\n      \"roleDefinitionId\": \"4cd49d82-1f4d-43fc-af0c-1c1203668e5a\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageSyncServices\",\r\n      \"locations\": [\r\n        \"West Central US\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourcegroups/ps6170?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps6170\",\r\n  \"name\": \"ps6170\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/CentralUSEUAP/checkNameAvailability?api-version=2025-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"name\": \"sssps3601\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\"\r\n}",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "8f4aecca-5dd6-4050-bbc6-53b06126924e"
        ],
        "X-ServiceFabricRequestId": [
          "877195a8-fa80-47d2-a2fa-51557f15baa9"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps6170/providers/Microsoft.StorageSync/storageSyncServices/sssps3601?api-version=2025-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\"\r\n  },\r\n  \"tags\": {},\r\n  \"location\": \"Central US EUAP\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjAyYTE4NjhkLWZjMDMtNDIwNS04ODRhLTg1OTE4NzgzNGMxMiIsIndvcmtmbG93SWQiOiJmYTFhY2M3Ni1kMmFkLTRlZWUtODIxMC0yMzI1ZjhkNDI0MTEiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiODcwMDc1NzgtMzVmNy00NDM3LWFmMjktMDhmMDAwMTgzMDA3In0=?api-version=2025-12-01&t=639228767796225289&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFAD[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjAyYTE4NjhkLWZjMDMtNDIwNS04ODRhLTg1OTE4NzgzNGMxMiIsIndvcmtmbG93SWQiOiJmYTFhY2M3Ni1kMmFkLTRlZWUtODIxMC0yMzI1ZjhkNDI0MTEiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiODcwMDc1NzgtMzVmNy00NDM3LWFmMjktMDhmMDAwMTgzMDA3In0=?api-version=2025-12-01&t=639228767796069062&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps6170/providers/Microsoft.StorageSync/storageSyncServices/sssps3601?api-version=2025-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "29b455b4-5709-405b-901e-95c52f561bf1"
        ],
        "X-ServiceFabricRequestId": [
          "9eb157c5-3d28-4d5a-9c6d-f3ab495aff34"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"principalId\": \"04d7450b-cbaf-40e5-b677-1a3315053257\",\r\n    \"userAssignedIdentities\": {}\r\n  },\r\n  \"properties\": {\r\n    \"storageSyncServiceStatus\": 0,\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\",\r\n    \"privateEndpointConnections\": [],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"useIdentity\": true,\r\n    \"lastWorkflowId\": \"storageSyncServices/sssps3601/workflows/fa1acc76-d2ad-4eee-8210-2325f8d42411\",\r\n    \"lastOperationName\": \"ICreateStorageSyncServiceWorkflow2\"\r\n  },\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps6170/providers/Microsoft.StorageSync/storageSyncServices/sssps3601\",\r\n  \"name\": \"sssps3601\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"anpint@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2026-08-21T02:39:37.9975673Z\",\r\n    \"lastModifiedBy\": \"anpint@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2026-08-21T02:39:37.9975673Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjAyYTE4NjhkLWZjMDMtNDIwNS04ODRhLTg1OTE4NzgzNGMxMiIsIndvcmtmbG93SWQiOiJiMzA3MmIxNC01M2YyLTQwNTgtODgwYy1lOWRjZTNjMWM1MWQiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiODMyY2Q2ZWQtZjJiNS00ZjA4LTlhMGUtYmRjNDIyYzcyMjQ3In0=?api-version=2025-12-01&t=639228767911953298&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01[...]
[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjAyYTE4NjhkLWZjMDMtNDIwNS04ODRhLTg1OTE4NzgzNGMxMiIsIndvcmtmbG93SWQiOiJiMzA3MmIxNC01M2YyLTQwNTgtODgwYy1lOWRjZTNjMWM1MWQiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiODMyY2Q2ZWQtZjJiNS00ZjA4LTlhMGUtYmRjNDIyYzcyMjQ3In0=?api-version=2025-12-01&t=639228767911953298&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDE[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps6170/providers/Microsoft.StorageSync/storageSyncServices?api-version=2025-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "65fd6e74-cf39-46d8-8e77-2432da26d1e1"
        ],
        "mise-correlation-id": [
          "cdaf0aba-f5a4-4006-8b3c-48aa25e303d0"
        ],
        "X-ServiceFabricRequestId": [
          "acaab39b-9b75-48c3-8950-55a38dd43a28"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzYxNzAtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMiLCJqb2JTdG9yYWdlQWNjb3VudCI6Ii9jc20vc3RvcmFnZWFjY291bnRzL2dsb2JhbC9ycGZkbGpvYjAwcHJvZGJ5MDQifQ?api-version=2016-09-01&t=639228768136118398&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMTE2NTU0MVoXDTI3MDI[...]
[...]
