{
  "Entries": [
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.Resources?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.Resources\",\r\n  \"namespace\": \"Microsoft.Resources\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"3b990c8b-9607-4c2a-8b04-1d41985facca\"\r\n    },\r\n    {\r\n      \"applicationId\": \"f77c2a8f-8a0a-4776-8e0a-bcb2549610ca\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"changes\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2024-06-01-preview\",\r\n        \"2023-07-01-preview\",\r\n        \"2023-03-01-preview\",\r\n        \"2022-05-01\",\r\n        \"2022-03-01-preview\"\r\n      ],\r\n      \"capabilities\": \"SupportsExtension\"\r\n    },\r\n    {\r\n      \"resourceType\": \"snapshots\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2022-11-01-preview\"\r\n      ],\r\n      \"capabilities\": \"SupportsExtension\"\r\n    },\r\n    {\r\n      \"resourceType\": \"deploymentScripts\",\r\n      \"locations\": [\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Austria East\",\r\n        \"Australia East\",\r\n        \"Australia Central\",\r\n        \"Austra[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync\",\r\n  \"namespace\": \"Microsoft.StorageSync\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"9469b9f5-6722-4481-a2b2-14ed560b706f\",\r\n      \"roleDefinitionId\": \"4cd49d82-1f4d-43fc-af0c-1c1203668e5a\"\r\n    },\r\n    {\r\n      \"applicationId\": \"ad47578a-93bb-4ab8-85ed-8e99cd5a48da\",\r\n      \"roleDefinitionId\": \"4cd49d82-1f4d-43fc-af0c-1c1203668e5a\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageSyncServices\",\r\n      \"locations\": [\r\n        \"West Central US\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourcegroups/ps2505?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps2505\",\r\n  \"name\": \"ps2505\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/CentralUSEUAP/checkNameAvailability?api-version=2025-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"name\": \"sssps4151\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\"\r\n}",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "b52e13dd-f05e-4f22-b8c4-17437ccf5fd9"
        ],
        "X-ServiceFabricRequestId": [
          "35ce72ed-6fb0-4c9a-9eca-2891e55a4513"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps2505/providers/Microsoft.StorageSync/storageSyncServices/sssps4151?api-version=2025-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\"\r\n  },\r\n  \"tags\": {},\r\n  \"location\": \"Central US EUAP\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjRlYmFmMTNjLWQ1NWYtNGU1ZS1hMmFiLWRhNDI5ZGIwNzA5YyIsIndvcmtmbG93SWQiOiI3NGU0MmFiYi05MTdiLTRmNmYtYWE2Mi1mODVjYTkwZmUzMDIiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZGNkZTM0YzctOWNmMS00MmE2LTk1YmQtOTA2YTEwZGUxZjQzIn0=?api-version=2025-12-01&t=639240630981746928&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFAD[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjRlYmFmMTNjLWQ1NWYtNGU1ZS1hMmFiLWRhNDI5ZGIwNzA5YyIsIndvcmtmbG93SWQiOiI3NGU0MmFiYi05MTdiLTRmNmYtYWE2Mi1mODVjYTkwZmUzMDIiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZGNkZTM0YzctOWNmMS00MmE2LTk1YmQtOTA2YTEwZGUxZjQzIn0=?api-version=2025-12-01&t=639240630981746928&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps2505/providers/Microsoft.StorageSync/storageSyncServices/sssps4151?api-version=2025-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "61a5a0c3-631c-443e-b37a-bb51a6147ea1"
        ],
        "X-ServiceFabricRequestId": [
          "48e66d22-b17f-448d-856a-a3d4de490d43"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"principalId\": \"419829ff-a804-4a08-9b9d-20a88e0dc6d0\",\r\n    \"userAssignedIdentities\": {}\r\n  },\r\n  \"properties\": {\r\n    \"storageSyncServiceStatus\": 0,\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\",\r\n    \"privateEndpointConnections\": [],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"useIdentity\": true,\r\n    \"lastWorkflowId\": \"storageSyncServices/sssps4151/workflows/74e42abb-917b-4f6f-aa62-f85ca90fe302\",\r\n    \"lastOperationName\": \"ICreateStorageSyncServiceWorkflow2\"\r\n  },\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps2505/providers/Microsoft.StorageSync/storageSyncServices/sssps4151\",\r\n  \"name\": \"sssps4151\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"2a9cc9f0-884a-4fd1-a87b-4bbec753776e\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2026-09-03T20:11:36.5340976Z\",\r\n    \"lastModifiedBy\": \"2a9cc9f0-884a-4fd1-a87b-4bbec753776e\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2026-09-03T20:11:36.5340976Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps2505/providers/Microsoft.StorageSync/storageSyncServices?api-version=2025-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "5a80f3bb-5775-4d88-aad9-9cdb0a6eeca1"
        ],
        "mise-correlation-id": [
          "7e351e64-df89-4e81-95b2-234a1aa795d3"
        ],
        "X-ServiceFabricRequestId": [
          "50b6101b-628f-4772-8208-15381008f082"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"identity\": {\r\n        \"type\": \"SystemAssigned\",\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"principalId\": \"419829ff-a804-4a08-9b9d-20a88e0dc6d0\",\r\n        \"userAssignedIdentities\": {}\r\n      },\r\n      \"properties\": {\r\n        \"storageSyncServiceStatus\": 0,\r\n        \"incomingTrafficPolicy\": \"AllowAllTraffic\",\r\n        \"privateEndpointConnections\": [],\r\n        \"provisioningState\": \"Succeeded\",\r\n  [...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps2505/providers/Microsoft.StorageSync/storageSyncServices/sssps4151/registeredServers?api-version=2025-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "16383435-aace-453b-83ec-d5315ff9cc96"
        ],
        "X-ServiceFabricRequestId": [
          "1cbf6ddf-6a22-450f-8db4-debc949c6036"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps2505/providers/Microsoft.StorageSync/storageSyncServices/sssps4151/syncGroups?api-version=2025-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "12ec6590-baac-436e-922a-a2ca29bffe56"
        ],
        "X-ServiceFabricRequestId": [
          "c28ea469-55ff-49ff-882d-fca2f51ab770"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjRlYmFmMTNjLWQ1NWYtNGU1ZS1hMmFiLWRhNDI5ZGIwNzA5YyIsIndvcmtmbG93SWQiOiJiNGM3N2JlNS0wZDJhLTQxYTEtYTU5Ny1kZjA3ZDk1ZjhjMDQiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiNzQ1YzBlZWYtYWIyNy00MDRlLWFkYWItMmRhMzY1OWI1OWZjIn0=?api-version=2025-12-01&t=639240631158532474&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjRlYmFmMTNjLWQ1NWYtNGU1ZS1hMmFiLWRhNDI5ZGIwNzA5YyIsIndvcmtmbG93SWQiOiJiNGM3N2JlNS0wZDJhLTQxYTEtYTU5Ny1kZjA3ZDk1ZjhjMDQiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiNzQ1YzBlZWYtYWIyNy00MDRlLWFkYWItMmRhMzY1OWI1OWZjIn0=?api-version=2025-12-01&t=639240631158688738&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDE[...]
[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzI1MDUtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMiLCJqb2JTdG9yYWdlQWNjb3VudCI6Ii9jc20vc3RvcmFnZWFjY291bnRzL2dsb2JhbC9ycGZkbGpvYjAwcHJvZGJ5MDQifQ?api-version=2016-09-01&t=639240631271445433&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMTE2NTU0MVoXDTI3MDI[...]
[...]
