{
  "Get-AzOracleDnsPrivateZone+[NoContext]+List+$GET+https://management.azure.com/subscriptions/fd42b73d-5f28-4a23-ae7c-ca08c625fe07/providers/Oracle.Database/locations/eastus/dnsPrivateZones?api-version=2025-03-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/fd42b73d-5f28-4a23-ae7c-ca08c625fe07/providers/Oracle.Database/locations/eastus/dnsPrivateZones?api-version=2025-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "101" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "opc-request-id": [ "/8FC5B25C016D2B7A7D60DCF89F7F24B3/F233D6D1D465E7AB2EED7F9933CF8A1E" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/fd42b73d-5f28-4a23-ae7c-ca08c625fe07/providers/Oracle.Database/locations/eastus/dnsPrivateZones/privatelink.vaultcore.azure.net\",\"name\":\"privatelink.vaultcore.azure.net\",\"type\":\"Oracle.Database/Locations/dnsPrivateZones\",\"properties\":{\"ocid\":\"ocid1.dns-zone.oc1.iad.aaaaaaaaiepa2dwh5qqku7yh2rzfpcrg2efn2cm73m6zjz6fqjd7p3lzdy2q\",\"isProtected\":false,\"provisioningState\":\"Active\",\"lifecycleState\":\"Active\",\"self\":\"https://dns.us-ashburn-1.oci.oraclecloud.com/20180115/zones/ocid1.dns-zone.oc1.iad.aaaaaaaaiepa2dwh5qqku7yh2rzfpcrg2efn2cm73m6zjz6fqjd7p3lzdy2q\",\"serial\":2,\"version\":\"2\",\"viewId\":\"ocid1.dnsview.oc1.iad.aaaaaaaaedendgtuqlhe5rmuxagjl4uesq7mqxap2bwnlckjnwtdodepixhq\",\"zoneType\":\"Primary\",\"timeCreated\":\"2025-06-11T17:41:46.436Z\"}},{\"id\":\"/subscriptions/fd42b73d-5f28-4a23-ae7c-ca08c625fe07/providers/Oracle.Database/locations/eastus/dnsPrivateZones/vault.azure.net\",\"name\":\"vault.azure.net\",\"type\":\"Oracle.Database/Locations/dnsPrivateZones\",\"properties\":{\"ocid\":\"ocid1.dns-zone.oc1.iad.aaaaaaaamf6xwzzz3bvh45kj77xqgwuchxfec5qfbawbuusryq7z75yyt7gq\",\"isProtected\":false,\"provisioningState\":\"Active\",\"lifecycleState\":\"Active\",\"self\":\"https://dns.us-ashburn-1.oci.oraclecl[...]
