{
  "Get-AzOracleResourceAnchor+[NoContext]+Get by name and resource group+$GET+https://management.azure.com/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-rg929-ti-iad52/providers/Oracle.Database/resourceAnchors/Create?api-version=2025-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-rg929-ti-iad52/providers/Oracle.Database/resourceAnchors/Create?api-version=2025-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"4100dc70-0000-0700-0000-68e96f230000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-rg929-ti-iad52/providers/Oracle.Database/resourceAnchors/Create\",\"name\":\"Create\",\"type\":\"oracle.database/resourceanchors\",\"location\":\"global\",\"tags\":{\"updatedBy\":\"Pester\",\"purpose\":\"sdk-test\"},\"systemData\":{\"createdBy\":\"mikita.artsemyeu@oracle.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-10-10T18:56:07.2493256Z\",\"lastModifiedBy\":\"mikita.artsemyeu@oracle.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2025-10-10T20:40:02.9560451Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"linkedCompartmentId\":\"ocid1.compartment.oc1..aaaaaaaapp7w6fpyiz4zkso7ltyuquwkuk2mm7x3mvq34gud64kaifi5p5jq\"}}",
    }
  },
  "Get-AzOracleResourceAnchor+[NoContext]+List in subscription+$GET+https://management.azure.com/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/providers/Oracle.Database/resourceAnchors?api-version=2025-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/providers/Oracle.Database/resourceAnchors?api-version=2025-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "a9593a1d-ddee-4881-aed3-081ca17d2754" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/ADBS-Resource-Group/providers/Oracle.Database/resourceAnchors/BaseDBRA1606\",\"name\":\"BaseDBRA1606\",\"type\":\"oracle.database/resourceanchors\",\"location\":\"global\",\"tags\":{},\"systemData\":{\"createdBy\":\"prabhat.d.kumar@oracle.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-06-16T11:26:28.3906211Z\",\"lastModifiedBy\":\"a50e6610-5416-4c2a-88b6-172c7f376f7d\",\"lastModifiedByType\":\"Application\",\"la[...]
