{
  "Get-AzOracleDbSystem+[NoContext]+Get by name and resource group+$GET+https://management.azure.com/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-rg929-ti-iad52/providers/Oracle.Database/dbSystems/PowershellSdk?api-version=2025-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-rg929-ti-iad52/providers/Oracle.Database/dbSystems/PowershellSdk?api-version=2025-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"d400a526-0000-0100-0000-68e976740000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-rg929-ti-iad52/providers/Oracle.Database/dbSystems/PowershellSdk\",\"name\":\"PowershellSdk\",\"type\":\"oracle.database/dbsystems\",\"location\":\"eastus\",\"zones\":[\"3\"],\"tags\":{\"updatedBy\":\"Pester\",\"purpose\":\"sdk-test\"},\"systemData\":{\"createdBy\":\"mikita.artsemyeu@oracle.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-10-10T16:39:02.6843366Z\",\"lastModifiedBy\":\"a50e6610-5416-4c2a-88b6-172c7f376f7d\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2025-10-10T21:11:16.4883247Z\"},\"properties\":{\"source\":\"None\",\"provisioningState\":\"Failed\",\"ociUrl\":\"https://cloud.oracle.com/dbaas/dbsystems/ocid1.dbsystem.oc1.iad.anuwcljrpf266qyaqjez2jron3u5c26guei2lhvvedj26oowb5iqtqr2yknq?region=us-ashburn-1\u0026tenant=indigosandboxprod\u0026compartmentId=ocid1.compartment.oc1..aaaaaaaawtvlyea2e7b54f4ggl4txddrm7auvjhq34utvxzh3emck72oco4q\",\"resourceAnchorId\":\"/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourcegroups/basedb-rg929-ti-iad52/providers/oracle.database/resourceanchors/basedb-ra929-ti-iad52\",\"networkAnchorId\":\"/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-rg929-ti-iad52/providers/Oracle.Database/networkAnchors/basedb-na9293-ti-iad52\",\"dataStorageSizeInGbs\":256,\"dbSystemOptions\":{\"storageManagement\":\"LVM\"},\"diskRedundancy\":\"High\",\"domain\":\"ocidelegated.ocibasedbvnet9.oraclevcn.com\",\"hostname\":\"whitelist2\",\"ocid\":\"ocid1.dbsystem.oc1.iad.anuwcljrpf266qyaqjez2jron3u5c26guei2lhvvedj26oowb5iqtqr2yknq\",\"licenseModel\":\"LicenseIncluded\",\"lifecycleState\":\"Terminating\",\"listenerPort\":1521,\"memorySizeInGbs\":8,\"nodeCount\":1,\"shape\":\"VM.Standard.x86\",\"sshPublicKeys\":[\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC924t51mimqfTUclp0f9QFTUH8yx6J5p+dIEvl0mNDxBXZ+CgcUHjJ74OUMGj4017KDlqGs1/jEDeshZlkuk3NRACyjkmUWqMG4xYAvNlszRYh6X0nq+acjK1Xu3Ez/nYe/mQo4O3BpR1DnCb67xZYCmHDc7u58lqxNF1+fgeuoqaIgJWGE3ykq/RyFd+RtfOvLnOdYTIKkt/LPgsYP30tbFjRtu7sGQcLzuE/3rr33+OfNAeALtk9SwlBz43RVzJJZYly5lIZFH91nTJx90u3xd5BAOC+d6fXZh4vN9GdT7PQUiBdlULFjVkYJkJrqj0gq9LeRsJYx0LVQTZuc0YiqYmCWx6pXhc4ye5psnCsJml4rwCEk68567SuvxELAahOZW0M1aS9Lc12bYTm/71u35CHevcUwyQk+Ejizmq2xRK5g9Ez1fb6imifgJ3Ll/B7U7dbsux3D4zLrkoDNisr2XekP3qr8nwe0r/Ppgyi8jNr5lMPkSLHpSCMEBDKuxE= xuezh@xuezh-mac\"],\"storageVolumePerformanceMode\":\"HighPerformance\",\"timeZone\":\"UTC\",\"displayName\":\"PowershellSdk\",\"computeModel\":\"ECPU\",\"computeCount\":4,\"databaseEdition\":\"EnterpriseEdition\",\"dbVersion\":\"Not Available\"}}",
    }
  },
  "Get-AzOracleDbSystem+[NoContext]+List in subscription+$GET+https://management.azure.com/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/providers/Oracle.Database/dbSystems?api-version=2025-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/providers/Oracle.Database/dbSystems?api-version=2025-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "06e0a0d3-473b-42b9-94b7-cbd867ac6c14", "21e7e832-0527-4127-8233-28f78c9d4d25", "172d50f6-1530-4ea7-baa1-1989000bdd21", "28fdb0b8-45b0-4d15-97b1-ff946598ac7d", "7a39a6ce-9b8c-417f-9290-f0f5a5c0dba8", "460a2bab-9ae7-4dc5-993c-284f2ff61b2c" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-iad53-rg/providers/Oracle.Database/dbSystems/basedbiad53testdb\",\"name\":\"basedbiad53testdb\",\"type\":\"oracle.database/dbsystems\",\"location\":\"eastus\",\"zones\":[\"2\"],\"tags\":{},\"systemData\":{\"createdBy\":\"sumanth.balachandra@oracle.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-09-10T03:22:14.4679487Z\",\"lastModifiedBy\":\"a50e6610-5416-4c2a-88b6-172c7f376f7d\",\"lastModifiedByType\":\"Ap[...]
