{
  "Get-AzOracleNetworkAnchor+[NoContext]+Get by name and resource group+$GET+https://management.azure.com/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-iad53-rg/providers/Oracle.Database/networkAnchors/PowershellTest1s?api-version=2025-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-iad53-rg/providers/Oracle.Database/networkAnchors/PowershellTest1s?api-version=2025-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"10005da0-0000-0100-0000-68e981e30000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-iad53-rg/providers/Oracle.Database/networkAnchors/PowershellTest1s\",\"name\":\"PowershellTest1s\",\"type\":\"oracle.database/networkanchors\",\"location\":\"eastus\",\"zones\":[\"2\"],\"systemData\":{\"createdBy\":\"mikita.artsemyeu@oracle.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-10-10T21:53:48.684484Z\",\"lastModifiedBy\":\"mikita.artsemyeu@oracle.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2025-10-10T21:53:48.684484Z\"},\"properties\":{\"resourceAnchorId\":\"/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-iad53-rg/providers/Oracle.Database/resourceAnchors/basedb-iad53-ra\",\"provisioningState\":\"Failed\",\"vnetId\":null,\"subnetId\":\"/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-iad53-rg/providers/Microsoft.Network/virtualNetworks/basedb-iad53-vnet/subnets/delegated\",\"cidrBlock\":null,\"ociVcnId\":null,\"ociVcnDnsLabel\":null,\"ociSubnetId\":null,\"ociBackupCidrBlock\":null,\"isOracleToAzureDnsZoneSyncEnabled\":null,\"isOracleDnsListeningEndpointEnabled\":null,\"isOracleDnsForwardingEndpointEnabled\":null,\"dnsListeningEndpointIpAddress\":null,\"dnsForwardingEndpointIpAddress\":null,\"dnsForwardingRulesUrl\":null,\"dnsListeningEndpointNsgRulesUrl\":null,\"dnsForwardingEndpointNsgRulesUrl\":null}}",
    }
  },
  "Get-AzOracleNetworkAnchor+[NoContext]+List in subscription (sanity)+$GET+https://management.azure.com/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/providers/Oracle.Database/networkAnchors?api-version=2025-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/providers/Oracle.Database/networkAnchors?api-version=2025-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "49626d2f-9f03-452b-b84e-3168933ea547", "2ad1c252-70fa-4bbe-b20d-b72463759a3a", "0ddb1c5c-c739-43e1-9954-1c53910a3b3d", "d4ba3572-cdf6-4da7-9f05-384c1164420f", "e0cd0e22-1512-4d0d-b848-d4dcc9884629", "3b9f4002-5b2a-4549-9f57-be31b9195ff9", "4e8ff1cd-683b-492d-81d2-ce71692bd907", "5aec42cc-5116-4ab5-b111-ce88ea7802a6", "0101cff4-5c53-48c3-8741-b68ab2fcc37c" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-iad53-rg/providers/Oracle.Database/networkAnchors/basedb-iad53-na\",\"name\":\"basedb-iad53-na\",\"type\":\"oracle.database/networkanchors\",\"location\":\"eastus\",\"zones\":[\"2\"],\"tags\":{},\"systemData\":{\"createdBy\":\"sumanth.balachandra@oracle.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-09-09T16:59:13.035925Z\",\"lastModifiedBy\":\"a50e6610-5416-4c2a-88b6-172c7f376f7d\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2025-09-09T17:08:48.3999654Z\"},\"properties\":{\"resourceAnchorId\":\"/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-iad53-rg/providers/Oracle.Database/resourceAnchors/basedb-iad53-ra\",\"provisioningState\":\"Succeeded\",\"subnetId\":\"/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-iad53-rg/providers/Microsoft.Network/virtualNetworks/basedb-iad53-vnet/subnets/delegated\",\"cidrBlock\":\"10.0.1.0/24\",\"ociVcnId\":\"ocid1.vcn.oc1.iad.amaaaaaapf266qyalou6cdrws2eee7ssew2qeskdznnzwykebkisqt2efbra\",\"ociVcnDnsLabel\":\"ocibasedbiad53\",\"ociSubnetId\":\"ocid1.subnet.oc1.iad.aaaaaaaa2l324raj3orydrdyhpr5vqepxm62hk2s7s6o4ic43hjoycwfeuma\",\"isOracleToAzureDnsZoneSyncEnabled\":true,\"isOracleDnsListeningEndpointEnabled\":false,\"isOracleDnsForwardingEndpointEnabled\":false}},{\"id\":\"/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/demo-rg-02/providers/Oracle.Database/networkAnchors/demo-na-02\",\"name\":\"demo-na-02\",\"type\":\"oracle.database/networkanchors\",\"location\":\"eastus\",\"zones\":[\"2\"],\"tags\":{\"organization\":\"sales\",\"owner\":\"Nishanth\"},\"systemData\":{\"createdBy\":\"nishanth.x.sodum@oracle.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-09-11T01:58:03.3762595Z\",\"lastModifiedBy\":\"a50e6610-5416-4c2a-88b6-172c7f376f7d\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2025-09-11T02:12:01.5926683Z\"},\"properties\":{\"resourceAnchorId\":\"/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/demo-rg-02/providers/Oracle.Database/resourceAnchors/demo-ra-02\",\"provisioningState\":\"Su[...]
