{
  "Update-AzOracleResourceAnchor+[NoContext]+Update tags+$PATCH+https://management.azure.com/subscriptions/fd42b73d-5f28-4a23-ae7c-ca08c625fe07/resourceGroups/PowershellAnchors/providers/Oracle.Database/resourceAnchors/PowershellTestRANew1?api-version=2025-09-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/fd42b73d-5f28-4a23-ae7c-ca08c625fe07/resourceGroups/PowershellAnchors/providers/Oracle.Database/resourceAnchors/PowershellTestRANew1?api-version=2025-09-01",
      "Content": "{\r\n  \"tags\": {\r\n    \"purpose\": \"sdk-test\",\r\n    \"updatedBy\": \"Pester\"\r\n  }\r\n}",
      "Headers": {},
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"9400e680-0000-0700-0000-68ee868b0000\"" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "199" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/fd42b73d-5f28-4a23-ae7c-ca08c625fe07/resourceGroups/PowershellAnchors/providers/Oracle.Database/resourceAnchors/PowershellTestRANew1\",\"name\":\"PowershellTestRANew1\",\"type\":\"oracle.database/resourceanchors\",\"location\":\"global\",\"tags\":{\"purpose\":\"sdk-test\",\"updatedBy\":\"Pester\"},\"systemData\":{\"createdBy\":\"mihret.kidane@oracle.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-10-13T19:15:12.3148168Z\",\"lastModifiedBy\":\"mihret.kidane@oracle.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2025-10-14T17:21:15.2831461Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"linkedCompartmentId\":\"ocid1.compartment.oc1..aaaaaaaarxkmqhihd5rng4ahdof6fqnor7zcyneloxbm4esygi3l5pmxezka\"}}",
    }
  },
  "Update-AzOracleResourceAnchor+[NoContext]+Update tags+$GET+https://management.azure.com/subscriptions/fd42b73d-5f28-4a23-ae7c-ca08c625fe07/resourceGroups/PowershellAnchors/providers/Oracle.Database/resourceAnchors/PowershellTestRANew1?api-version=2025-09-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/fd42b73d-5f28-4a23-ae7c-ca08c625fe07/resourceGroups/PowershellAnchors/providers/Oracle.Database/resourceAnchors/PowershellTestRANew1?api-version=2025-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": { }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"9400e680-0000-0700-0000-68ee868b0000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{[...]
