{
  "Update-AzOracleNetworkAnchor+[NoContext]+Update tags only+$PATCH+https://management.azure.com/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-iad53-rg/providers/Oracle.Database/networkAnchors/PowershellTest1s?api-version=2025-09-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-iad53-rg/providers/Oracle.Database/networkAnchors/PowershellTest1s?api-version=2025-09-01",
      "Content": "{\n  \"tags\": {\n    \"updatedBy\": \"Pester\",\n    \"purpose\": \"sdk-test\"\n  }\n}",
      "Headers": {},
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "opc-request-id": [ "oci-1234" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "199" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-iad53-rg/providers/Oracle.Database/networkAnchors/PowershellTest1s\",\"name\":\"PowershellTest1s\",\"type\":\"Oracle.Database/networkAnchors\",\"location\":\"eastus\",\"tags\":{\"updatedBy\":\"Pester\",\"purpose\":\"sdk-test\"},\"systemData\":{\"createdBy\":\"mihret.kidane@oracle.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-10-14T18:00:00.000Z\",\"lastModifiedBy\":\"mihret.kidane@oracle.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2025-10-14T19:00:00.000Z\"},\"properties\":{\"provisioningState\":\"Succeeded\"}}",
    }
  },
  "Update-AzOracleNetworkAnchor+[NoContext]+Update tags only+$GET+https://management.azure.com/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-iad53-rg/providers/Oracle.Database/networkAnchors/PowershellTest1s?api-version=2025-09-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-iad53-rg/providers/Oracle.Database/networkAnchors/PowershellTest1s?api-version=2025-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": { }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/049e5678-fbb1-4861-93f3-7528bd0779fd/resourceGroups/basedb-iad53-rg/providers/Oracle.Database/networkAnchors/PowershellTest1s\",\"name\":\"PowershellTest1s\",\"type\":\"Oracle.Database/networkAnchors\",\"location\":\"eastus\",\"tags\":{\"updatedBy\":\"Pester\",\"purpose\":\"sdk-test\"},\"systemData\":{\"createdBy\":\"mihret.kidane@oracle.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-10-14T18:00:00.000Z\",\"lastModifiedBy\":\"mihret.kidane@oracle.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2025-10-14T19:00:00.000Z\"},\"properties\":{\"provisioningState\":\"Succeeded\"}}",
    }
  }
}
