{
  "Entries": [
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourcegroups/recRG350?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"EastUS2\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/recRG350\",\r\n  \"name\": \"recRG350\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/recRG350/providers/Microsoft.Network/virtualNetworks/A2ARecoveryNetwork350?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/A2ARecoveryNetwork350' under resource group 'recRG350' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/recRG350/providers/Microsoft.Network/virtualNetworks/A2ARecoveryNetwork350?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"ab2de0b9-c442-4243-9bae-e8c1c12d3dc4\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"A2ARecoveryNetwork350\",\r\n  \"id\": \"/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/recRG350/providers/Microsoft.Network/virtualNetworks/A2ARecoveryNetwork350\",\r\n  \"etag\": \"W/\\\"ab2de0b9-c442-4243-9bae-e8c1c12d3dc4\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"33e3d0d8-4a13-488c-8e5b-78ee38d45079\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"frontendSubnet\",\r\n        \"id\": \"/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/recRG350/providers/Microsoft.Network/virtualNetworks/A2ARecoveryNetwork350/subnets/frontendSubnet\",\r\n        \"etag\": \"W/\\\"ab2de0b9-c442-4243-9bae-e8c1c12d3dc4\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/recRG350/providers/Microsoft.Network/virtualNetworks/A2ARecoveryNetwork350?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n          \"applicationGatewayIpConfigurations\": []\r\n        },\r\n        \"name\": \"frontendSubnet\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"EastUS2\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/providers/Microsoft.Network/locations/eastus2/operations/20987a91-ae43-468f-9a13-5cf7fb450ec6?api-version=2022-05-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"A2ARecoveryNetwork350\",\r\n  \"id\": \"/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/recRG350/providers/Microsoft.Network/virtualNetworks/A2ARecoveryNetwork350\",\r\n  \"etag\": \"W/\\\"7a5c696e-0d88-4272-be03-24ca4f83fdc1\\\"\[...]
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/providers/Microsoft.Network/locations/eastus2/operations/20987a91-ae43-468f-9a13-5cf7fb450ec6?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourcegroups/a2aVM350?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"EastUS2\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350\",\r\n  \"name\": \"a2aVM350\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Storage/storageAccounts/asrcacheps350?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"EastUS2\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0ca8dd15-8edb-4c4c-a280-770ff0700a57?monitor=true&api-version=2017-10-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0ca8dd15-8edb-4c4c-a280-770ff0700a57?monitor=true&api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0ca8dd15-8edb-4c4c-a280-770ff0700a57?monitor=true&api-version=2017-10-01"
        ],
        "Retry-After": [
          "3"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/providers/Microsoft.Storage/locations/eastus2/asyncoperations/0ca8dd15-8edb-4c4c-a280-770ff0700a57?monitor=true&api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Storage/storageAccounts/asrcacheps350\",\r\n  \"name\": \"asrcacheps350\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2022-10-12T17:55:17.1496577Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2022-10-12T17:55:17.1496577Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2022-10-12T17:55:16.7746545Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://asrcacheps350.blob.core.windows.net/\",\r\n      \"queue\": \"https://asrcacheps350.queue.core.windows.net/\",\r\n      \"table\": \"https://asrcacheps350.table.core.windows.net/\",\r\n      \"file\": \"https://asrcacheps350.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"eastus2\",\r\n    \"statusOfPrimary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Network/publicIPAddresses/myStdPublicIP?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/myStdPublicIP' under resource group 'a2aVM350' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Network/publicIPAddresses/myStdPublicIP?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"22d716c7-3057-4803-9aa1-8c48b878c978\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11915"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"myStdPublicIP\",\r\n  \"id\": \"/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Network/publicIPAddresses/myStdPublicIP\",\r\n  \"etag\": \"W/\\\"22d716c7-3057-4803-9aa1-8c48b878c978\\\"\",\r\n  \"location\": \"eastus2\",\r\n  \"extendedLocation\": {\r\n    \"type\": \"EdgeZone\",\r\n    \"name\": \"microsoftmiami1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"85113baa-1459-4353-9f12-7619dba80800\",\r\n    \"ipAddress\": \"20.44.115.98\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": [],\r\n    \"ddosSettings\": {\r\n      \"protectionMode\": \"VirtualNetworkInherited\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Network/publicIPAddresses/myStdPublicIP?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"extendedLocation\": {\r\n    \"name\": \"microsoftmiami1\",\r\n    \"type\": \"EdgeZone\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"ipTags\": []\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"EastUS2\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/providers/Microsoft.Network/locations/eastus2/operations/dd7658ad-7495-4625-b6b1-1e0782f829cc?api-version=2022-05-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
[...]
[...]
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Network/virtualNetworks/MyVNet?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/MyVNet' under resource group 'a2aVM350' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Network/networkInterfaces/MyNIC?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/MyNIC' under resource group 'a2aVM350' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Network/networkInterfaces/MyNIC?api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"682a8b95-c228-4e84-b5d6-cc0423556e8a\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"MyNIC\",\r\n  \"id\": \"/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Network/networkInterfaces/MyNIC\",\r\n  \"etag\": \"W/\\\"682a8b95-c228-4e84-b5d6-cc0423556e8a\\\"\",\r\n  \"extendedLocation\": {\r\n    \"type\": \"EdgeZone\",\r\n    \"name\": \"microsoftmiami1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"283d08cb-fab6-4fe8-90fa-b9a9d4308295\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"IpConfigVm\",\r\n        \"id\": \"/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Network/networkInterfaces/MyNIC/ipConfigurations/IpConfigVm\",\r\n        \"etag\": \"W/\\\"682a8b95-c228-4e84-b5d6-cc0423556e8a\\\"\",\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Network/publicIPAddresses/myStdPublicIP\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Network/virtualNetworks/MyVNet/subnets/MySubnet\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"lf0bnwlrnxbexgx33tmzszdeib.cx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\": false,\r\n    \"disableTcpStateTracking\": false,\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n    \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"eastus2\",\r\n  \"kind\": \"Regular\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Network/networkInterfaces/MyNIC?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"extendedLocation\": {\r\n    \"name\": \"microsoftmiami1\",\r\n    \"type\": \"EdgeZone\"\r\n  },\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"virtualNetworkTaps\": [],\r\n          \"applicationGatewayBackendAddressPools\": [],\r\n          \"loadBalancerBackendAddressPools\": [],\r\n          \"loadBalancerInboundNatRules\": [],\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefixes\": [],\r\n              \"serviceEndpoints\": [],\r\n              \"serviceEndpointPolicies\": [],\r\n              \"ipAllocations\": [],\r\n              \"delegations\": [],\r\n              \"applicationGatewayIpConfigurations\": []\r\n            },\r\n            \"id\": \"/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGr[...]
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Compute/virtualMachines/a2aVM350?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D2S_V3\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2019-Datacenter\",\r\n        \"version\": \"latest\"\r\n      }\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"a2aVM350\",\r\n      \"adminUsername\": \"adminUser\",\r\n      \"adminPassword\": \"System.Security.SecureString\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": true\r\n      }\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Network/networkInterfaces/MyNIC\"\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": false\r\n      }\r\n    }\r\n  },\r\n  \"extendedLocation\": {\r\n    \"name\": \"microsoftmiami1\",\r\n    \"type\": \"EdgeZone\"\r\n  },\r\n  \"location\": \"EastUS2\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/providers/Microsoft.Compute/locations/eastus2/operations/0cee9660-0fce-405a-8817-fa2a1705545e?p=05b73ed8-5632-48e5-9c41-84aa59a7a8f5&api-version=2022-08-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1199"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"a2aVM350\",\r\n  \"id\": \"/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Compute/virtualMachines/a2aVM350\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"azsecpack\": \"nonprod\",\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\": \"true\"\r\n  },\r\n  \"properties\": {\r\n    \"vmId\": \"1f70538f-d140-4796-b135-77ab9b19eba1\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D2s_v3\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2019-Datacenter\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\": \"17763.3406.220909\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\"\r\n        },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\": 128\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"a2aVM350\",\r\n      \"adminUsername\": \"adminUser\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"AutomaticByOS\",\r\n          \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\": false\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Network/networkInterfaces/MyNIC\"\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": false\r\n      }\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"timeCreated\": \"2022-10-12T10:58:51.386193-07:00\"\r\n  },\r\n  \"extendedLocation\": {\r\n    \"type\": \"EdgeZone\",\r\n    \"name\": \"microsoftmiami1\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/providers/Microsoft.Compute/locations/eastus2/operations/0cee9660-0fce-405a-8817-fa2a1705545e?p=05b73ed8-5632-48e5-9c41-84aa59a7a8f5&api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "50"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29999"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2022-10-12T10:58:51.3236905-07:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"0cee9660-0fce-405a-8817-fa2a1705545e\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/providers/Microsoft.Compute/locations/eastus2/operations/0cee9660-0fce-405a-8817-fa2a1705545e?p=05b73ed8-5632-48e5-9c41-84aa59a7a8f5&api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14998,Microsoft.Compute/GetOperation30Min;29998"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2022-10-12T10:58:51.3236905-07:00\",\r\n  \"endTime\": \"2022-10-12T10:59:33.1537133-07:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"0cee9660-0fce-405a-8817-fa2a1705545e\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/providers/Microsoft.Compute/locations/eastus2/publishers?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"locati[...]
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/providers/Microsoft.Compute/locations/eastus2/publishers/Microsoft.Compute/artifacttypes/vmextension/types?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/ListVMExtensionTypes3Min;17999,Microsoft.Compute/ListVMExtensionTypes30Min;22499"
        ],
   [...]
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/providers/Microsoft.Compute/locations/eastus2/publishers/Microsoft.Compute/artifacttypes/vmextension/types/BGInfo/versions?api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/ListVMExtensions3Min;9999,Microsoft.Compute/ListVMExtensions30Min;21999"
       [...]
    {
      "RequestUri": "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/a2aVM350/providers/Microsoft.Compute/virtualMachines/a2aVM350/extensions/BGInfo?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publisher\": \"Microsoft.Compute\",\r\n    \"type\": \"BGInfo\",\r\n    \"typeHandlerVersion\": \"2.2\",\r\n    \"autoUpgradeMinorVersion\": true\r\n  },\r\n  \"location\": \"EastUS2\"\r\n}",
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/providers/Microsoft.Compute/locations/eastus2/operations/b1b8f01d-0e7b-4b3c-b0f3-b99d53d5c1f8?p=05b73ed8-5632-48e5-9c41-84aa59a7a8f5&api-version=2022-08-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/UpdateVM3Min;239,Microsoft.Compute/UpdateVM30Min;1199"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
[...]
