{
    "Entries":  [
                    {
                        "RequestUri":  "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourcegroups/recRG104?api-version=2016-09-01",
                        "RequestMethod":  "PUT",
                        "RequestHeaders":  {
                                               "Content-Type":  [
                                                                    "application/json; charset=utf-8"
                                                                ]
                        "RequestBody":  "{\r\n  \"location\": \"WestCentralUS\"\r\n}",
                        "ResponseHeaders":  {
                                                "x-ms-ratelimit-remaining-subscription-writes":  [
                                                                                                     "1199"
                                                                                                 ],
                                                "Content-Type":  [
                                                                     "application/json; charset=utf-8"
                                                                 ]
                        "ResponseBody":  "{\r\n  \"id\": \"/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/recRG104\",\r\n  \"name\": \"recRG104\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
                        "StatusCode":  201
                    },
                    {
                        "RequestUri":  "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/recRG104/providers/Microsoft.Network/virtualNetworks/A2ARecoveryNetwork104?api-version=2022-05-01",
                        "RequestMethod":  "GET",
                        "RequestHeaders":  {
                        "RequestBody":  "",
                        "ResponseHeaders":  {
                                                "x-ms-failure-cause":  [
                                                                           "gateway"
                                                                       ],
                                                "Content-Type":  [
                                                                     "application/json; charset=utf-8"
                                                                 ]
                        "ResponseBody":  "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource \u0027Microsoft.Network/virtualNetworks/A2ARecoveryNetwork104\u0027 under resource group \u0027recRG104\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
                        "StatusCode":  404
                    },
                    {
                        "RequestUri":  "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/recRG104/providers/Microsoft.Network/virtualNetworks/A2ARecoveryNetwork104?api-version=2022-05-01",
                        "RequestMethod":  "GET",
                        "RequestHeaders":  {
                        "RequestBody":  "",
                        "ResponseHeaders":  {
                                                "ETag":  [
                                                             "W/\"e6662f52-b38d-46c6-a49c-90f96fad3eb4\""
                                                         ],
                                                "x-ms-ratelimit-remaining-subscription-reads":  [
                                                                                                    "11995"
                                                                                                ],
                                                "Content-Type":  [
                                                                     "application/json; charset=utf-8"
                                                                 ]
                        "ResponseBody":  "{\r\n  \"name\": \"A2ARecoveryNetwork104\",\r\n  \"id\": \"/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/recRG104/providers/Microsoft.Network/virtualNetworks/A2ARecoveryNetwork104\",\r\n  \"etag\": \"W/\\\"e6662f52-b38d-46c6-a49c-90f96fad3eb4\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"25dde347-360b-44d4-816a-f87ffa5c1de1\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"frontendSubnet\",\r\n        \"id\": \"/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/recRG104/providers/Microsoft.Network/virtualNetworks/A2ARecoveryNetwork104/subnets/frontendSubnet\",\r\n        \"etag\": \"W/\\\"e6662f52-b38d-46c6-a49c-90f96fad3eb4\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
                        "StatusCode":  200
                    },
                    {
                        "RequestUri":  "/subscriptions/5e71c90f-36aa-448a-8c28-cd6d8d664acf/resourceGroups/recRG104/providers/Microsoft.Network/virtualNetworks/A2ARecoveryNetwork104?api-version=2022-05-01",
                        "RequestMethod":  "GET",
                        "RequestHeaders":  {
                        "RequestBody":  "",
                        "ResponseHeaders":  {
[...]
