{
  "Entries": [
    {
      "RequestUri": "/jobs?api-version=2022-01-01.15.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"testDisableEnableTerminateJob\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  }\r\n}",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 15 Feb 2022 19:31:09 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D9F0B9B7AEDC42"
        ],
        "Location": [
          "https://mikeportal.eastus.batch.azure.com/jobs/job-1"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://mikeportal.eastus.batch.azure.com/jobs/job-1"
        ],
        "Last-Modified": [
          "Tue, 15 Feb 2022 19:31:09 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/testDisableEnableTerminateJob/disable?api-version=2022-01-01.15.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"disableTasks\": \"terminate\"\r\n}",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 15 Feb 2022 19:31:10 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D9F0B9B8321687"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://mikeportal.eastus.batch.azure.com/jobs/testDisableEnableTerminateJob/disable"
        ],
        "Last-Modified": [
          "Tue, 15 Feb 2022 19:31:09 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/jobs/testDisableEnableTerminateJob?api-version=2022-01-01.15.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 15 Feb 2022 19:31:20 GMT"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D9F0B9B8321687"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Tue, 15 Feb 2022 19:31:09 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://mikeportal.eastus.batch.azure.com/$metadata#jobs/@Element\",\r\n  \"id\": \"testDisableEnableTerminateJob\",\r\n  \"url\": \"https://mikeportal.eastus.batch.azure.com/jobs/testDisableEnableTerminateJob\",\r\n  \"eTag\": \"0x8D9F0B9B8321687\",\r\n  \"lastModified\": \"2022-02-15T19:31:09.9542151Z\",\r\n  \"creationTime\": \"2022-02-15T19:31:09.0652002Z\",\r\n  \"state\": \"disabled\",\r\n  \"stateTransitionTime\": \"2022-02-15T19:31:10.8707362Z\",\r\n  \"previousState\": \"active\",\r\n  \"previousStateTransitionTime\": \"2022-02-15T19:31:09.0942018Z\",\r\n  \"priority\": 0,\r\n  \"maxParallelTasks\": -1,\r\n  \"usesTaskDependencies\": false,\r\n  \"allowTaskPreemption\": false,\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  },\r\n  \"executionInfo\": {\r\n    \"startTime\": \"2022-02-15T19:31:09.0942018Z\",\r\n    \"poolId\": \"testPool\"\r\n  },\r\n  \"onAllTasksComplete\": \"noaction\",\r\n  \"onTaskFailure\": \"noaction\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobs/testDisableEnableTerminateJob/enable?api-version=2022-01-01.15.0",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 15 Feb 2022 19:31:20 GMT"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D9F0B9BE48FE98"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://mikeportal.eastus.batch.azure.com/jobs/testDisableEnableTerminateJob/enable"
        ],
        "Last-Modified": [
          "Tue, 15 Feb 2022 19:31:20 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/jobs?api-version=2022-01-01.15.0&$filter=id%20eq%20%27testDisableEnableTerminateJob%27",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 15 Feb 2022 19:31:20 GMT"
        ]
      },
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://mikeportal.eastus.batch.azure.com/$metadata#jobs\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"testDisableEnableTerminateJob\",\r\n      \"url\": \"https://mikeportal.eastus.batch.azure.com/jobs/testDisableEnableTerminateJob\",\r\n      \"eTag\": \"0x8D9F0B9BE48FE98\",\r\n      \"lastModified\": \"2022-02-15T19:31:20.1706648Z\",\r\n      \"creationTime\": \"2022-02-15T19:31:09.0652002Z\",\r\n      \"state\": \"active\",\r\n      \"stateTransitionTime\": \"2022-02-15T19:31:20.1706648Z\",\r\n      \"previousState\": \"disabled\",\r\n      \"previousStateTransitionTime\": \"2022-02-15T19:31:10.8707362Z\",\r\n      \"priority\": 0,\r\n      \"maxParallelTasks\": -1,\r\n      \"usesTaskDependencies\": false,\r\n      \"allowTaskPreemption\": false,\r\n      \"constraints\": {\r\n        \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n        \"maxTaskRetryCount\": 0\r\n      },\r\n      \"poolInfo\": {\r\n        \"poolId\": \"testPool\"\r\n      },\r\n      \"executionInfo\": {\r\n        \"startTime\": \"2022-02-15T19:31:09.0942018Z\",\r\n        \"poolId\": \"testPool\"\r\n      },\r\n      \"onAllTasksComplete\": \"noaction\",\r\n      \"onTaskFailure\": \"noaction\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/testDisableEnableTerminateJob/terminate?api-version=2022-01-01.15.0",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 15 Feb 2022 19:31:20 GMT"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D9F0B9BE6B059D"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://mikeportal.eastus.batch.azure.com/jobs/testDisableEnableTerminateJob/terminate"
        ],
        "Last-Modified": [
          "Tue, 15 Feb 2022 19:31:20 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/jobs/testDisableEnableTerminateJob?api-version=2022-01-01.15.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 15 Feb 2022 19:31:20 GMT"
        ]
      },
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "ba2358c2-42f2-4138-88df-7c68cf608bea",
    "AZURE_BATCH_ACCOUNT": "mikeportal",
    "AZURE_BATCH_ENDPOINT": "https://mikeportal.eastus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "batchportal"
  }
}