{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/jobs?api-version=2018-08-01.7.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"job1\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  },\r\n  \"usesTaskDependencies\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Mon, 24 Sep 2018 21:30:09 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Mon, 24 Sep 2018 21:30:09 GMT"
        ]
=======
      "RequestUri": "/jobs?api-version=2020-03-01.11.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"job1\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  },\r\n  \"usesTaskDependencies\": false\r\n}",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 09 Jun 2020 21:02:54 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D80CB8879C3DE0"
        ],
        "Location": [
          "https://prodtest6.francecentral.batch.azure.com/jobs/job-1"
        ]
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
<<<<<<< HEAD
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/job-1"
        ],
        "Date": [
          "Mon, 24 Sep 2018 21:30:09 GMT"
        ],
        "ETag": [
          "0x8D62264E7775CCF"
        ],
        "Location": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/job-1"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/jobs?api-version=2018-08-01.7.0&$filter=id%20eq%20'job1'%20or%20id%20eq%20'job2'",
=======
          "https://prodtest6.francecentral.batch.azure.com/jobs/job-1"
        ],
        "Date": [
          "Tue, 09 Jun 2020 21:03:16 GMT"
        ],
        "Last-Modified": [
          "Tue, 09 Jun 2020 21:03:16 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs?api-version=2020-03-01.11.0&$filter=id%20eq%20%27job1%27%20or%20id%20eq%20%27job2%27",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "1b9ef556-9e1b-4e2f-b941-fc954c71a0ef"
        ],
        "accept-language": [
          "en-US"
        ],
        "ocp-date": [
          "Mon, 24 Sep 2018 21:30:09 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.7.3163.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/9.0.0.0",
          "AzurePowershell/v6.9.0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#jobs\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"job1\",\r\n      \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/job1\",\r\n      \"eTag\": \"0x8D62264E7775CCF\",\r\n      \"lastModified\": \"2018-09-24T21:30:09.4937295Z\",\r\n      \"creationTime\": \"2018-09-24T21:30:09.4487283Z\",\r\n      \"state\": \"active\",\r\n      \"stateTransitionTime\": \"2018-09-24T21:30:09.4937295Z\",\r\n      \"priority\": 0,\r\n      \"usesTaskDependencies\": false,\r\n      \"constraints\": {\r\n        \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n        \"maxTaskRetryCount\": 0\r\n      },\r\n      \"poolInfo\": {\r\n        \"poolId\": \"testPool\"\r\n      },\r\n      \"executionInfo\": {\r\n        \"startTime\": \"2018-09-24T21:30:09.4937295Z\",\r\n        \"poolId\": \"testPool\"\r\n      },\r\n      \"onAllTasksComplete\": \"noaction\",\r\n      \"onTaskFailure\": \"noaction\"\r\n    },\r\n    {\r\n      \"id\": \"job2\",\r\n      \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/job2\",\r\n      \"eTag\": \"0x8D62264E788E8F5\",\r\n      \"lastModified\": \"2018-09-24T21:30:09.6087285Z\",\r\n      \"creationTime\": \"2018-09-24T21:30:09.5857831Z\",\r\n      \"state\": \"active\",\r\n      \"stateTransitionTime\": \"2018-09-24T21:30:09.6087285Z\",\r\n      \"priority\": 3,\r\n      \"usesTaskDependencies\": false,\r\n      \"constraints\": {\r\n        \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n        \"maxTaskRetryCount\": 0\r\n      },\r\n      \"poolInfo\": {\r\n        \"poolId\": \"testPool2\"\r\n      },\r\n      \"executionInfo\": {\r\n        \"startTime\": \"2018-09-24T21:30:09.6087285Z\",\r\n        \"poolId\": \"testPool2\"\r\n      },\r\n      \"onAllTasksComplete\": \"noaction\",\r\n      \"onTaskFailure\": \"noaction\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
=======
          "16828132-4461-48c0-b9cc-9431ebe7a055"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "ocp-date": [
          "Tue, 09 Jun 2020 21:03:16 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/13.0.20.15503",
          "AzurePowershell/Az1.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 24 Sep 2018 21:30:09 GMT"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/job2?api-version=2018-08-01.7.0",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"priority\": 5,\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool2\"\r\n  },\r\n  \"onAllTasksComplete\": \"noaction\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
  [...]
[...]
    {
      "RequestUri": "/jobs/job1?api-version=2020-03-01.11.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 09 Jun 2020 21:03:16 GMT"
        ]
      },
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "ResponseHeaders": {
<<<<<<< HEAD
        "request-id": [
          "cc0048af-39e5-4652-ae0e-f7643d287309"
=======
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "request-id": [
          "c5cd3019-4e8b-40a1-a097-48a2122c2d4d"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 24 Sep 2018 21:30:09 GMT"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/jobs?api-version=2020-03-01.11.0",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "979a922f-345c-4a2a-a833-4c0cbba028cf"
        ],
        "accept-language": [
          "en-US"
        ],
        "ocp-date": [
          "Mon, 24 Sep 2018 21:30:10 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.7.3163.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/9.0.0.0",
          "AzurePowershell/v6.9.0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#jobs\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"job1\",\r\n      \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/job1\",\r\n      \"eTag\": \"0x8D62264E7775CCF\",\r\n      \"lastModified\": \"2018-09-24T21:30:09.4937295Z\",\r\n      \"creationTime\": \"2018-09-24T21:30:09.4487283Z\",\r\n      \"state\": \"deleting\",\r\n      \"stateTransitionTime\": \"2018-09-24T21:30:10.0265543Z\",\r\n      \"previousState\": \"active\",\r\n      \"previousStateTransitionTime\": \"2018-09-24T21:30:09.4937295Z\",\r\n      \"priority\": 0,\r\n      \"usesTaskDependencies\": false,\r\n      \"constraints\": {\r\n        \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n        \"maxTaskRetryCount\": 0\r\n      },\r\n      \"poolInfo\": {\r\n        \"poolId\": \"testPool\"\r\n      },\r\n      \"executionInfo\": {\r\n        \"startTime\": \"2018-09-24T21:30:09.4937295Z\",\r\n        \"poolId\": \"testPool\"\r\n      },\r\n      \"onAllTasksComplete\": \"noaction\"[...]
