{
  "Entries": [
    {
      "RequestUri": "/jobs?api-version=2022-10-01.16.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 13 Jun 2023 08:52:59 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"id\": \"testDisableEnableTerminateJob\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "0x8DB6BEB9760D5B8"
        ],
        "Location": [
          "https://hoppeeastasia2.eastasia.batch.azure.com/jobs/job-1"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://hoppeeastasia2.eastasia.batch.azure.com/jobs/job-1"
        ],
        "Last-Modified": [
          "Tue, 13 Jun 2023 08:53:00 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/testDisableEnableTerminateJob/disable?api-version=2022-10-01.16.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 13 Jun 2023 08:53:00 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"disableTasks\": \"terminate\"\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "0x8DB6BEB97DB9072"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://hoppeeastasia2.eastasia.batch.azure.com/jobs/testDisableEnableTerminateJob/disable"
        ],
        "Last-Modified": [
          "Tue, 13 Jun 2023 08:53:01 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/jobs/testDisableEnableTerminateJob?api-version=2022-10-01.16.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 13 Jun 2023 08:53:10 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "0x8DB6BEB97DB9072"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Tue, 13 Jun 2023 08:53:01 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://hoppeeastasia2.eastasia.batch.azure.com/$metadata#jobs/@Element\",\r\n  \"id\": \"testDisableEnableTerminateJob\",\r\n  \"url\": \"https://hoppeeastasia2.eastasia.batch.azure.com/jobs/testDisableEnableTerminateJob\",\r\n  \"eTag\": \"0x8DB6BEB97DB9072\",\r\n  \"lastModified\": \"2023-06-13T08:53:01.2292722Z\",\r\n  \"creationTime\": \"2023-06-13T08:53:00.4069526Z\",\r\n  \"state\": \"disabled\",\r\n  \"stateTransitionTime\": \"2023-06-13T08:53:01.7267701Z\",\r\n  \"previousState\": \"active\",\r\n  \"previousStateTransitionTime\": \"2023-06-13T08:53:00.4249528Z\",\r\n  \"priority\": 0,\r\n  \"maxParallelTasks\": -1,\r\n  \"usesTaskDependencies\": false,\r\n  \"allowTaskPreemption\": false,\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  },\r\n  \"executionInfo\": {\r\n    \"startTime\": \"2023-06-13T08:53:00.4249528Z\",\r\n    \"poolId\": \"testPool\"\r\n  },\r\n  \"onAllTasksComplete\": \"noaction\",\r\n  \"onTaskFailure\": \"noaction\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobs/testDisableEnableTerminateJob/enable?api-version=2022-10-01.16.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 13 Jun 2023 08:53:10 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "0x8DB6BEB9E000BF7"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://hoppeeastasia2.eastasia.batch.azure.com/jobs/testDisableEnableTerminateJob/enable"
        ],
        "Last-Modified": [
          "Tue, 13 Jun 2023 08:53:11 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/jobs?api-version=2022-10-01.16.0&$filter=id%20eq%20%27testDisableEnableTerminateJob%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 13 Jun 2023 08:53:11 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://hoppeeastasia2.eastasia.batch.azure.com/$metadata#jobs\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"testDisableEnableTerminateJob\",\r\n      \"url\": \"https://hoppeeastasia2.eastasia.batch.azure.com/jobs/testDisableEnableTerminateJob\",\r\n      \"eTag\": \"0x8DB6BEB9E000BF7\",\r\n      \"lastModified\": \"2023-06-13T08:53:11.5346935Z\",\r\n      \"creationTime\": \"2023-06-13T08:53:00.4069526Z\",\r\n      \"state\": \"active\",\r\n      \"stateTransitionTime\": \"2023-06-13T08:53:11.5346935Z\",\r\n      \"previousState\": \"disabled\",\r\n      \"previousStateTransitionTime\": \"2023-06-13T08:53:01.7267701Z\",\r\n      \"priority\": 0,\r\n      \"maxParallelTasks\": -1,\r\n      \"usesTaskDependencies\": false,\r\n      \"allowTaskPreemption\": false,\r\n      \"constraints\": {\r\n        \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n        \"maxTaskRetryCount\": 0\r\n      },\r\n      \"poolInfo\": {\r\n        \"poolId\": \"testPool\"\r\n      },\r\n      \"executionInfo\": {\r\n        \"startTime\": \"2023-06-13T08:53:00.4249528Z\",\r\n        \"poolId\": \"testPool\"\r\n      },\r\n      \"onAllTasksComplete\": \"noaction\",\r\n      \"onTaskFailure\": \"noaction\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/testDisableEnableTerminateJob/terminate?api-version=2022-10-01.16.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 13 Jun 2023 08:53:11 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "0x8DB6BEB9E27045D"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://hoppeeastasia2.eastasia.batch.azure.com/jobs/testDisableEnableTerminateJob/terminate"
        ],
        "Last-Modified": [
          "Tue, 13 Jun 2023 08:53:11 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/jobs/testDisableEnableTerminateJob?api-version=2022-10-01.16.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 13 Jun 2023 08:53:11 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "21abd678-18c5-4660-9fdd-8c5ba6b6fe1f",
    "AZURE_BATCH_ACCOUNT": "hoppeeastasia2",
    "AZURE_BATCH_ENDPOINT": "https://hoppeeastasia2.eastasia.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "123"
  }
}