{
  "Entries": [
    {
      "RequestUri": "/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/resources?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/resourceGroups/aaronnewgroup/providers/microsoft.alertsManagement/smartDetectorAlertRules/Failure Anomalies - BotHandle_Test22fur434\",\r\n      \"name\": \"Failure Anomalies - BotHandle_Test22fur434\",\r\n      \"type\": \"microsoft.alertsManagement/smartDetectorAlertRules\",\r\n      \"location\": \"global\",\r\n      \"tags\": {}\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/resourceGroups/aaronnewgroup/providers/Microsoft.AppPlatform/Spring/dfsds\",\r\n      \"name\": \"dfsds\",\r\n      \"type\": \"Microsoft.AppPlatform/Spring\",\r\n      \"location\": \"westus2\",\r\n      \"tags\": {}\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/resourceGroups/aaronnewgroup/providers/Microsoft.BotService/botServices/BotHandle_Test22\",\r\n      \"name\": \"BotHandle_Test22\",\r\n      \"type\": \"Microsoft.BotService/botServices\",\r\n      \"sku\": {\r\n        \"name\": \"S1\"\r\n      },\r\n      \"kind\": \"sdk\",\r\n      \"location\": \"global\",\r\n      \"tags\": {}\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/resourceGroups/AARONNEWGROUP/providers/Microsoft.Compute/disks/ibiza-vm_OsDisk_1_108c8b1619e949529c67583013b383a4\",\r\n      \"name\": \"ibiza-vm_OsDisk_1_108c8b1619e949529c67583013b383a4\",\r\n      \"type\": \"Microsoft.Compute/disks\",\r\n      \"sku\": {\r\n        \"name\": \"Premium_LRS\",\r\n        \"tier\": \"Premium\"\r\n      },\r\n      \"location\": \"southindia\",\r\n      \"tags\": {}\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/resourceGroups/AARONNEWGROUP/providers/Microsoft.Compute/disks/Testing_disk1_db14fc3bbb344f169bc8e7aeb41bc081\",\r\n      \"name\": \"Testing_disk1_db14fc3bbb344f169bc8e7aeb41bc081\",\r\n      \"type\": \"Microsoft.Compute/disks\",\r\n      \"sku\": {\r\n        \"name\": \"Premium_LRS\",\r\n        \"tier\": \"Premium\"\r\n      },\r\n      \"managedBy\": \"/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/resourceGroups/aaronnewgroup/providers/Microsoft.Compute/virtualMachines/Testing\",\r\n      \"location\": \"southcentralus\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/resourceGroups/AARONNEWGROUP/providers/Microsoft.Compute/disks/VMNotification_OsDisk_1_159ec7beb94a4cc8b0fd42c1dcdfa961\",\r\n      \"name\": \"VMNotification_OsDisk_1_159ec7beb94a4cc8b0fd42c1dcdfa961\",\r\n      \"type\": \"Micr[...]
    {
      "RequestUri": "/providers/Microsoft.Support/services?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Support/services/484e2236-bc6d-b1bb-76d2-7d09278cf9ea\",\r\n      \"name\": \"484e2236-bc6d-b1bb-76d2-7d09278cf9ea\",\r\n      \"type\": \"Microsoft.Support/services\",\r\n      \"properties\": {\r\n        \"displayName\": \"Activity Logs\",\r\n        \"resourceTypes\": []\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/providers/Microsoft.Support/services/809e8afe-489e-08b0-95f2-08f835a383e8\",\r\n      \"name\": \"809e8afe-489e-08b0-95f2-08f835a383e8\",\r\n      \"type\": \"Microsoft.Support/services\",\r\n      \"properties\": {\r\n        \"displayName\": \"Advanced Threat Protection - Azure\",\r\n        \"resourceTypes\": []\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/providers/Microsoft.Support/services/6859f4e8-4a1d-13e4-f276-6d055007e83d\",\r\[...]
    {
      "RequestUri": "/providers/Microsoft.Support/services/722ccc66-c988-d2ac-1ec6-b7aebc857f2d/problemClassifications?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"i[...]
[...]
    {
      "RequestUri": "/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/checkNameAvailability?api-version=2020-04-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"PowershellScenarioTest4113\",\r\n  \"type\": \"Microsoft.Support/supportTickets\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/resources?$filter=resourceId%20eq%20'/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/resourceGroups/aaronnewgroup/providers/Microsoft.Compute/virtualMachines/Testing'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/resourceGroups/aaronnewgroup/providers/Microsoft.Compute/virtualMachines/Testing\",\r\n      \"name\": \"Testing\",\r\n      \"type\": \"Microsoft.Compute/virtualMachines\",\r\n      \"location\": \"southcentralus\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/supportTickets/PowershellScenarioTest4113?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"test ticket from azure powershell scenario test. please ignore and close\",\r\n    \"problemClassificationId\": \"/providers/Microsoft.Support/services/722ccc66-c988-d2ac-1ec6-b7aebc857f2d/problemClassifications/d234fe02-6908-ebff-7fa9-995a81be7e6e\",\r\n    \"severity\": \"Minimal\",\r\n    \"require24X7Response\": true,\r\n    \"contactDetails\": {\r\n      \"firstName\": \"first\",\r\n      \"lastName\": \"last\",\r\n      \"preferredContactMethod\": \"email\",\r\n      \"primaryEmailAddress\": \"user@contoso.com\",\r\n      \"additionalEmailAddresses\": [\r\n        \"user2@contoso.com\"\r\n      ],\r\n      \"phoneNumber\": \"2222\",\r\n      \"preferredTimeZone\": \"Pacific Standard Time\",\r\n      \"country\": \"USA\",\r\n      \"preferredSupportLanguage\": \"en-US\"\r\n    },\r\n    \"title\": \"test ticket from azure powershell scenario test. please ignore and close\",\r\n    \"serviceId\": \"/providers/Microsoft.Support/services/722ccc66-c988-d2ac-1ec6-b7aebc857f2d\",\r\n    \"technicalTicketDetails\": {\r\n      \"resourceId\": \"/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/resourceGroups/aaronnewgroup/providers/Microsoft.Compute/virtualMachines/Testing\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://centraluseuap.management.azure.com/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/operationResults/967b5ec8-0bd9-485d-9f45-d0b030a7f626?api-version=2020-04-01"
        ],
        "Azure-AsyncOperation": [
          "https://centraluseuap.management.azure.com/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/operationsStatus/967b5ec8-0bd9-485d-9f45-d0b030a7f626?api-version=2020-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/operationsStatus/967b5ec8-0bd9-485d-9f45-d0b030a7f626?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/operationsStatus/967b5ec8-0bd9-485d-9f45-d0b030a7f626\",\r\n  \"status\": \"Succeeded\",\r\n  \"properties\": {\r\n    \"supportTicketCreationWarning\": \"\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/supportTickets/PowershellScenarioTest4113?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/providers/Microsoft.Support/supportTickets/PowershellScenarioTest4113\",\r\n  \"name\": \"PowershellScenarioTest4113\",\r\n  \"type\": \"Microsoft.Support/supportTickets\",\r\n  \"properties\": {\r\n    \"description\": \"test ticket from azure powershell scenario test. please ignore and close\",\r\n    \"problemClassificationId\": \"/providers/Microsoft.Support/services/722ccc66-c988-d2ac-1ec6-b7aebc857f2d/problemClassifications/d234fe02-6908-ebff-7fa9-995a81be7e6e\",\r\n    \"problemClassificationDisplayName\": \"Configuration and Setup / NetScaler\",\r\n    \"severity\": \"Minimal\",\r\n    \"require24X7Response\": true,\r\n    \"enrollmentId\": \"\",\r\n    \"contactDetails\": {\r\n      \"firstName\": \"first\",\r\n      \"lastName\": \"last\",\r\n      \"preferredContactMethod\": \"Email\",\r\n      \"primaryEmailAddress\": \"user@contoso.com\",\r\n      \"additionalEmailAddresses\": [\r\n        \"user2@contoso.com\"\r\n      ],\r\n      \"phoneNumber\": \"2222\",\r\n      \"preferredTimeZone\": \"Pacific Standard Time\",\r\n      \"country\": \"USA\",\r\n      \"preferredSupportLanguage\": \"en-US\"\r\n    },\r\n    \"technicalTicketDetails\": {\r\n      \"resourceId\": \"/subscriptions/76cb77fa-8b17-4eab-9493-b65dace99813/resourceGroups/aaronnewgroup/providers/Microsoft.Compute/virtualMachines/Testing\"\r\n    },\r\n    \"serviceLevelAgreement\": {\r\n      \"startTime\": \"2020-03-27T13:00:00Z\",\r\n      \"expirationTime\": \"2020-03-27T17:00:00Z\",\r\n      \"slaMinutes\": 240\r\n    },\r\n    \"supportEngineer\": {},\r\n    \"supportPlanType\": \"Premier\",\r\n    \"supportTicketId\": \"120032721000240\",\r\n    \"title\": \"test ticket from azure powershell scenario test. please ignore and close\",\r\n    \"serviceId\": \"/providers/Microsoft.Support/services/722ccc66-c988-d2ac-1ec6-b7aebc857f2d\",\r\n    \"serviceDisplayName\": \"Virtual Machine running Citrix\",\r\n    \"status\": \"Open\",\r\n    \"createdDate\": \"2020-03-27T04:36:04Z\",\r\n    \"modifiedDate\": \"2020-03-27T04:36:07Z\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    "": [
      "PowershellScenarioTest4113"
    ]
  },
  "Variables": {
    "SubscriptionId": "76cb77fa-8b17-4eab-9493-b65dace99813"
  }
}