{
  "Get-AzServiceGroup+[NoContext]+Get+$GET+https://management.azure.com/providers/Microsoft.Management/serviceGroups/testsggetv81d9f?api-version=2026-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/serviceGroups/testsggetv81d9f?api-version=2026-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "17" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ba-restapi": [ "3.2026.0904.1" ],
        "x-ms-throttling-version": [ "v2" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "2199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.Management/serviceGroups/testsggetv81d9f\",\"type\":\"Microsoft.Management/serviceGroups\",\"name\":\"testsggetv81d9f\",\"properties\":{\"displayName\":\"Az PS Test Service Group\",\"parent\":{\"resourceId\":\"/providers/Microsoft.Management/serviceGroups/72f988bf-86f1-41af-91ab-2d7cd011db47\"},\"provisioningState\":\"Succeeded\"}}",
    }
  },
  "Get-AzServiceGroup+[NoContext]+GetViaIdentity+$GET+https://management.azure.com/providers/Microsoft.Management/serviceGroups/testsggetv81d9f?api-version=2026-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/serviceGroups/testsggetv81d9f?api-version=2026-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "18" ],
        "Authorization": [ "[Filtered]" ]
  [...]
