{
  "Get-AzServiceGroup+[NoContext]+Get+$GET+https://management.azure.com/providers/Microsoft.Management/serviceGroups/testsggetce7mwf?api-version=2024-02-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/serviceGroups/testsggetce7mwf?api-version=2024-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "21" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ba-restapi": [ "3.2026.0302.1" ],
        "mise-correlation-id": [ "a6baeca7-7655-407c-8bed-b85020b37cee" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "2199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.Management/serviceGroups/testsggetce7mwf\",\"type\":\"Microsoft.Management/serviceGroups\",\"name\":\"testsggetce7mwf\",\"properties\":{\"displayName\":\"Az PS Test Service Group\",\"parent\":{\"resourceId\":\"/providers/Microsoft.Management/serviceGroups/72f988bf-86f1-41af-91ab-2d7cd011db47\"},\"provisioningState\":\"Succeeded\"}}",
    }
  },
  "Get-AzServiceGroup+[NoContext]+GetViaIdentity+$GET+https://management.azure.com/providers/Microsoft.Management/serviceGroups/testsggetce7mwf?api-version=2024-02-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/serviceGroups/testsggetce7mwf?api-version=2024-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "22" ],
        "Authorization": [ "[...]
