{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Authorization/policySetDefinitions?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"displayName\": \"[Preview]: Enable Monitoring in Azure Security Center\",\r\n        \"policyType\": \"BuiltIn\",\r\n        \"description\": \"Monitor all the available security recommendations in Azure Security Center. This is the default policy for Azure Security Center.\",\r\n        \"metadata\": {\r\n          \"category\": \"Security Center\"\r\n        },\r\n        \"parameters\": {\r\n          \"systemUpdatesMonitoringEffect\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Monitor system updates\",\r\n              \"description\": \"Enable or disable reporting of system updates\"\r\n            },\r\n            \"allowedValues\": [\r\n              \"AuditIfNotExists\",\r\n              \"Disabled\"\r\n            ],\r\n            \"defaultValue\": \"AuditIfNotExists\"\r\n          },\r\n          \"systemConfigurationsMonitoringEffect\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Monitor OS vulnerabilities\",\r\n              \"description\": \"Enable or disable OS vulnerabilities monitoring (based on a configured baseline)\"\r\n            },\r\n            \"allowedValues\": [\r\n              \"AuditIfNotExists\",\r\n              \"Disabled\"\r\n            ],\r\n            \"defaultValue\": \"AuditIfNotExists\"\r\n          },\r\n          \"endpointProtectionMonitoringEffect\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Monitor endpoint protection\",\r\n              \"description\": \"Enable or disable endpoint protection monitoring\"\r\n            },\r\n            \"allowedValues\": [\r\n              \"AuditIfNotExists\",\r\n              \"Disabled\"\r\n            ],\r\n            \"defaultValue\": \"AuditIfNotExists\"\r\n          },\r\n          \"diskEncryptionMonitoringEffect\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Monitor disk encryption\",\r\n              \"description\": \"Enable or disable the monitoring for VM disk encryption\"\r\n            },\r\n            \"allowedValues\": [\r\n              \"AuditIfNotExists\",\r\n              \"Disabled\"\r\n            ],\r\n            \"defaultValue\": \"AuditIfNotExists\"\r\n          },\r\n          \"networkSecurityGroupsMonitoringEffect\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Monitor network security groups\",\r\n              \"description\": \"Enable or disable monitoring of network security groups with permissive rules\"\r\n            },\r\n            \"allowedValues\": [\r\n              \"AuditIfNotExists\",\r\n              \"Disabled\"\r\n            ],\r\n            \"defaultValue\": \"AuditIfNotExists\"\r\n          },\r\n          \"webApplicationFirewallMonitoringEffect\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Monitor web application firewall\",\r\n              \"description\": \"Enable or disable the monitoring of unprotected web applications\"\r\n            },\r\n            \"allowedValues\": [\r\n              \"AuditIfNotExists\",\r\n              \"Disabled\"\r\n            ],\r\n            \"defaultValue\": \"AuditIfNotExists\"\r\n          },\r\n          \"nextGenerationFirewallMonitoringEffect\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Enable Next Generation Firewall (NGFW) monitoring\",\r\n              \"description\": \"Enable or disable monitoring network endpoints without a Next Generation Firewall\"\r\n            },\r\n            \"allowedValues\": [\r\n              \"AuditIfNotExists\",\r\n              \"Disabled\"\r\n            ],\r\n            \"defaultValue\": \"AuditIfNotExists\"\r\n          },\r\n          \"vulnerabilityAssesmentMonitoringEffect\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Monitor vulnerability assesment\",\r\n              \"description\": \"Enable or disable the detection of VM vulnerabilities by a vulnerability assessment solution\"\r\n            },\r\n            \"allowedValues\": [\r\n              \"AuditIfNotExists\",\r\n              \"Disabled\"\r\n            ],\r\n            \"defaultValue\": \"AuditIfNotExists\"\r\n          },\r\n          \"storageEncryptionMonitoringEffect\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Monitor storage blob encryption\",\r\n              \"description\": \"Enable or disable the monitoring of blob encryption for storage accounts\"\r\n            },\r\n            \"allowedValues\": [\r\n              \"Audit\",\r\n              \"Disabled\"\r\n            ],\r\n            \"defaultValue\": \"Audit\"\r\n          },\r\n          \"jitNetworkAccessMonitoringEffect\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Monitor JIT network access\",\r\n              \"description\": \"Enable or disable the monitoring of network just In time access\"\r\n            },\r\n            \"allowedValues\": [\r\n              \"AuditIfNotExists\",\r\n              \"Disabled\"\r\n            ],\r\n            \"defaultValue\": \"AuditIfNotExists\"\r\n          },\r\n          \"adaptiveApplicationControlsMonitoringEffect\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Monitor application whitelisting\",\r\n              \"description\": \"Enable or disable the monitoring of application whitelisting in Azure Security Center\"\r\n            },\r\n            \"allowedValues\": [\r\n              \"AuditIfNotExists\",\r\n              \"Disabled\"\r\n            ],\r\n            \"defaultValue\": \"AuditIfNotExists\"\r\n          },\r\n          \"sqlAuditingMonitoringEffect\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Monitor SQL auditing\",\r\n              \"description\": \"Enable or disable the monitoring of unaudited SQL databases\"\r\n            },\r\n            \"allowedValues\": [\r\n              \"AuditIfNotExists\",\r\n              \"Disabled\"\r\n            ],\r\n            \"defaultValue\": \"AuditIfNotExists\"\r\n          },\r\n          \"sqlEncryptionMonitoringEffect\": {\r\n            \"type\": \"String\",\r\n            \"metadata\": {\r\n              \"displayName\": \"Monitor SQL encryption\",\r\n              \"description\": \"Enable or disable the monitoring of unencrypted SQL databases\"\r\n            },\r\n            \"allowedValues\": [\r\n              \"AuditIfNotExists\",\r\n              \"Disabled\"\r\n            ],\r\n            \"defaultValue\": \"AuditIfNotExists\"\r\n          },\r\n          \"diagnosticsLogsInAppServiceMonitoringEffe[...]
    {
      "RequestUri": "/providers/Microsoft.Authorization/policySetDefinitions/3fa7cbf5-c0a4-4a59-85a5-cca4d996d5a6?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"[Preview]: Audit Password security settings inside Linux and Windows virtual machines\",\r\n    \"policyType\": \"BuiltIn\",\r\n    \"description\": \"http://aka.ms/gcpol. This policy will audit password security settings inside Linux and Windows virtual machines. For a list of individual settings, please follow the aka.ms link to Azure Policy documentation.\",\r\n    \"metadata\": {\r\n      \"category\": \"Guest Configuration\"\r\n    },\r\n    \"policyDefinitions\": [\r\n      {\r\n        \"policyDefinitionReferenceId\": \"Audit_PasswordPolicy_msid110\",\r\n        \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/2d67222d-05fd-4526-a171-2ee132ad9e83\"\r\n      },\r\n      {\r\n        \"policyDefinitionReferenceId\": \"Deploy_PasswordPolicy_msid110\",\r\n        \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/ec49586f-4939-402d-a29e-6ff502b20592\"\r\n      },\r\n      {\r\n        \"policyDefinitionReferenceId\": \"Audit_PasswordPolicy_msid121\",\r\n        \"policyDefinitionId\": \"/providers/Microsoft.Authorization/p[...]
    {
      "RequestUri": "/providers/Microsoft.Authorization/policyDefinitions/2d67222d-05fd-4526-a171-2ee132ad9e83?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"[Preview]: Audit Linux VM allowing remote connections from accounts with no passwords\",\r\n    \"policyType\": \"BuiltIn\",\r\n    \"mode\": \"Indexed\",\r\n    \"description\": \"This security setting verifies remote connections from accounts with empty passwords is disabled.\",\r\n    \"metadata\": {\r\n      \"category\": \"Guest Configuration\"\r\n    },\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"allOf\": [\r\n          {\r\n            \"field\": \"type\",\r\n            \"equals\": \"Microsoft.Compute/virtualMachines\"\r\n          },\r\n          {\r\n            \"anyOf\": [\r\n              {\r\n                \"allOf\": [\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                    \"equals\": \"Canonical\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imageOffer\",\r\n                    \"equals\": \"UbuntuServer\"\r\n                  },\r\n                  {\r\n                    \"anyOf\": [\r\n                      {\r\n                        \"field\": \"Microsoft.Compute/imageSKU\",\r\n                        \"match\": \"14.04.#-LTS\"\r\n                      },\r\n                      {\r\n                        \"field\": \"Microsoft.Compute/imageSKU\",\r\n                        \"match\": \"16.04.#-LTS\"\r\n                      },\r\n                      {\r\n                        \"field\": \"Microsoft.Compute/imageSKU\",\r\n                        \"equals\": \"16.04-LTS\"\r\n                      },\r\n                      {\r\n                        \"field\": \"Microsoft.Compute/imageSKU\",\r[...]
[...]
    {
      "RequestUri": "/providers/Microsoft.Authorization/policyDefinitions/24dde96d-f0b1-425e-884f-4a1421e2dcdc?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"[Preview]: Audit Windows VM maximum password age 70 days\",\r\n    \"policyType\": \"BuiltIn\",\r\n    \"mode\": \"Indexed\",\r\n    \"description\": \"This security setting determines the period of time (in days) that a password can be used before the system requires the user to change it.\",\r\n    \"metadata\": {\r\n      \"category\": \"Guest Configuration\"\r\n    },\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"allOf\": [\r\n          {\r\n            \"field\": \"type\",\r\n            \"equals\": \"Microsoft.Compute/virtualMachines\"\r\n          },\r\n          {\r\n            \"field\": \"Microsoft.Compute/imagePublisher\",\r\n            \"equals\": \"MicrosoftWindowsServer\"\r\n          },\r\n          {\r\n            \"field\": \"Microsoft.Compute/imageOffer\",\r\n            \"equals\": \"WindowsServer\"\r\n          },\r\n          {\r\n            \"field\": \"Microsoft.Compute/imageSKU\",\r\n            \"in\": [\r\n              \"2012-Datacenter\",\r\n              \"2012-Datacenter-smalldisk\",\r\n              \"2012-R2-Datacenter\",\r\n              \"2012-R2-Datacenter-smalldisk\",\r\n              \"2016-Datacenter\",\r\n              \"2016-Datacenter-Server-Core\",\r\n              \"2016-Datacenter-Server-Core-smalldisk\",\r\n              \"2016-Datacenter-smalldisk\",\r\n              \"2016-Datacenter-with-Containers\",\r\n              \"2016-Datacenter-with-RDSH\"\r\n            ]\r\n          }\r\n        ]\r\n      },\r\n      \"then\": {\r\n        \"effect\": \"auditIfNotExists\",\r\n        \"details\": {\r\n          \"type\": \"Microsoft.GuestConfiguration/guestConfigurationAssignments\",\r\n          \"name\": \"MaximumPasswordAge\",\r\n          \"existenceCondition\": {\r\n            \"field\": \"Microsoft.GuestConfiguration/guestConfigurationAssignments/complianceStatus\",\r\n            \"equals\": \"Compliant\"\r\n          }\r\n        }\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/providers/Microsoft.Authorization/policyDefinitions/24dde96d-f0b1-425e-884f-4a1421e2dcdc\",\r\n  \"type\": \"Microsoft.Authorization/policyDefinitions\",\r\n  \"name\": \"24dde96d-f0b1-425e-884f-4a1421e2dcdc\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11990"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f9d04da5-1ab5-4396-881f-ed3dbc0cc47e/resourceGroups/VivsCmdlet/providers/Microsoft.Compute/virtualMachines/VivsCmdlet0/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/PasswordPolicy_msid110?api-version=2018-06-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"Message\": \"No Assignment has been found for this resource = https://oaasgcservice.azure-automation.net/subscriptions/f9d04da5-1ab5-4396-881f-ed3dbc0cc47e/resourceGroups/VivsCmdlet/providers/Microsoft.Compute/virtualMachines/VivsCmdlet0/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/PasswordPolicy_msid110?api-version=2018-06-30-preview\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/f9d04da5-1ab5-4396-881f-ed3dbc0cc47e/resourceGroups/VivsCmdlet/providers/Microsoft.Compute/virtualMachines/VivsCmdlet0/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/MaximumPasswordAge?api-version=2018-06-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/f9d04da5-1ab5-4396-881f-ed3dbc0cc47e/resourceGroups/VivsCmdlet/providers/Microsoft.Compute/virtualMachines/VivsCmdlet0/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/MaximumPasswordAge\",\r\n  \"name\": \"MaximumPasswordAge\",\r\n  \"properties\": {\r\n    \"complianceStatus\": \"NonCompliant\",\r\n    \"assignmentHash\": \"88F262FFF3C38620B590CE5D87D31E464E6EA2CA4F20D92DE6AAD7BA16E59496.E3B0C44298FC1C149AFBF4C8996FB92427AE41E4649B934CA495991B7852B855\",\r\n    \"latestReportId\": \"/subscriptions/f9d04da5-1ab5-4396-881f-ed3dbc0cc47e/resourceGroups/VivsCmdlet/providers/Microsoft.Compute/virtualMachines/VivsCmdlet0/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/MaximumPasswordAge/reports/32b494d3-6b26-4a6e-8181-ee7619a205b3\",\r\n    \"lastComplianceStatusChecked\": \"2018-09-20T18:55:07Z\",\r\n    \"context\": null,\r\n    \"guestConfiguration\": {\r\n      \"kind\": null,\r\n      \"name\": \"MaximumPasswordAge\",\r\n      \"version\": \"1.*\",\r\n      \"contentUri\": \"https://oaasguestconfigwcuss1.blob.core.windows.net/builtinconfig/MaximumPasswordAge/MaximumPasswordAge_1.0.0.0.zip\",\r\n      \"contentHash\": \"88F262FFF3C38620B590CE5D87D31E464E6EA2CA4F20D92DE6AAD7BA16E59496\",\r\n      \"configurationParameter\": [],\r\n      \"configurationSetting\": null\r\n    },\r\n    \"provisioningState\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f9d04da5-1ab5-4396-881f-ed3dbc0cc47e/resourceGroups/VivsCmdlet/providers/Microsoft.Compute/virtualMachines/VivsCmdlet0/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/MinimumPasswordAge?api-version=2018-06-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/f9d04da5-1ab5-4396-881f-ed3dbc0cc47[...]
    {
      "RequestUri": "/subscriptions/f9d04da5-1ab5-4396-881f-ed3dbc0cc47e/resourceGroups/VivsCmdlet/providers/Microsoft.Compute/virtualMachines/VivsCmdlet0/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/PasswordMustMeetComplexityRequirements?api-version=2018-06-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/f9d04da5-1ab5-4[...]
    {
      "RequestUri": "/subscriptions/f9d04da5-1ab5-4396-881f-ed3dbc0cc47e/resourceGroups/VivsCmdlet/providers/Microsoft.Compute/virtualMachines/VivsCmdlet0/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/StorePasswordsUsingReversibleEncryption?api-version=2018-06-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/f9d04da5-1ab5-[...]
    {
      "RequestUri": "/subscriptions/f9d04da5-1ab5-4396-881f-ed3dbc0cc47e/resourceGroups/VivsCmdlet/providers/Microsoft.Compute/virtualMachines/VivsCmdlet0/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/EnforcePasswordHistory?api-version=2018-06-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/f9d04da5-1ab5-4396-881f-ed3dbc0[...]
    {
      "RequestUri": "/subscriptions/f9d04da5-1ab5-4396-881f-ed3dbc0cc47e/resourceGroups/VivsCmdlet/providers/Microsoft.Compute/virtualMachines/VivsCmdlet0/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/MinimumPasswordLength?api-version=2018-06-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/f9d04da5-1ab5-4396-881f-ed3dbc0c[...]
