{
  "Entries": [
    {
      "RequestUri": "/a5aa5997-33e5-46cc-8ab8-8bd89b76b7ba/cloudservices?api-version=2015-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<CloudServices xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <CloudService>\r\n    <Name>CS-West-US-RecoveryServices</Name>\r\n    <Label>Q1MtV2VzdC1VUy1SZWNvdmVyeVNlcnZpY2Vz</Label>\r\n    <Description>Q1MtV2VzdC1VUy1SZWNvdmVyeVNlcnZpY2Vz</Description>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Resources />\r\n  </CloudService>\r\n  <CloudService>\r\n    <Name>RecoveryServices-T2RMT6H7QF7AENS66ZV7KS2QZA2BXRAUPOECQXGXX2Q4V3VQ6MUQ-West-US</Name>\r\n    <Label>0425da7f-bb6b-433a-8c51-8552af88aa82</Label>\r\n    <Description>10f2b605-0935-49d2-89dc-e1befc67e406</Description>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Resources>\r\n      <Resource>\r\n        <ResourceProviderNamespace>WAHyperVRecoveryManager</ResourceProviderNamespace>\r\n        <Type>HyperVRecoveryManagerVault</Type>\r\n        <Name>Hosters-FC-BVT-Vault</Name>\r\n        <Plan />\r\n        <SchemaVersion>1.1</SchemaVersion>\r\n        <ETag>04d7d387-7bc1-4b85-902d-42c7913f9c68</ETag>\r\n        <State>Started</State>\r\n        <SubState>Ok</SubState>\r\n        <OutputItems>\r\n          <OutputItem>\r\n            <Key>StampId</Key>\r\n            <Value>abeb635b-e186-4605-b464-c7c9e55b226a</Value>\r\n          </OutputItem>\r\n          <OutputItem>\r\n            <Key>ResourceId</Key>\r\n            <Value>6776506762078999256</Value>\r\n          </OutputItem>\r\n          <OutputItem>\r\n            <Key>BackendStampId</Key>\r\n            <Value>75d5c811-a801-4332-8f96-43640cad60e9</Value>\r\n          </OutputItem>\r\n        </OutputItems>\r\n        <OperationStatus>\r\n          <Type>Create</Type>\r\n          <Result>Succeeded</Result>\r\n        </OperationStatus>\r\n        <Label />\r\n      </Resource>\r\n    </Resources>\r\n  </CloudService>\r\n  <CloudService>\r\n    <Name>VS-iamanewaccount-Group</Name>\r\n    <Label>VS-iamanewaccount-Group</Label>\r\n    <Description>Resource group based cloud service.</Description>\r\n    <GeoRegion>North Central US</GeoRegion>\r\n    <Resources>\r\n      <Resource>\r\n        <ResourceProviderNamespace>visualstudio</ResourceProviderNamespace>\r\n        <Type>account</Type>\r\n        <Name>iamanewaccount</Name>\r\n        <ETag>6a05b50f-981c-4bda-8cb7-7dc1675b17ae</ETag>\r\n        <State>NotFound</State>\r\n        <OutputItems />\r\n        <OperationStatus>\r\n          <Type>Create</Type>\r\n          <Result>Succeeded</Result>\r\n        </OperationStatus>\r\n      </Resource>\r\n    </Resources>\r\n  </CloudService>\r\n</CloudServices>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/a5aa5997-33e5-46cc-8ab8-8bd89b76b7ba/cloudservices/RecoveryServices-T2RMT6H7QF7AENS66ZV7KS2QZA2BXRAUPOECQXGXX2Q4V3VQ6MUQ-West-US/resources/WAHyperVRecoveryManager/~/HyperVRecoveryManagerVault/Hosters-FC-BVT-Vault/ProtectionContainers?api-version=2015-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<ArrayOfProtectionContainer xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ProtectionContainer>\r\n    <ID>774859b0-1966-48cc-9df7-759c441b7a8c_494c0993-cc35-4d84-b373-bf1a23be21d3</ID>\r\n    <Name>cloudOn19</Name>\r\n    <Role>Primary</Role>\r\n    <AvailableProtectionProfiles>\r\n      <ProtectionProfile>\r\n        <ID>7580cb43-decf-4e66-aee3-40718d11fec8</ID>\r\n        <Name>7580cb43-decf-4e66-aee3-40718d11fec8</Name>\r\n        <AssociationDetail>\r\n          <ProtectionProfileAssociationDetails>\r\n            <PrimaryProtectionContainerId>774859b0-1966-48cc-9df7-759c441b7a8c_494c0993-cc35-4d84-b373-bf1a23be21d3</PrimaryProtectionContainerId>\r\n            <RecoveryProtectionContainerId>dc1ed9b2-7b90-4534-9977-12881d278fb5_3b5005e5-0aec-451c-9fb8-bda02cbf1515</RecoveryProtectionContainerId>\r\n            <AssociationStatus>Paired</AssociationStatus>\r\n          </ProtectionProfileAssociationDetails>\r\n        </AssociationDetail>\r\n        <CanDissociate>true</CanDissociate>\r\n        <ProtectedEntityCount>0</ProtectedEntityCount>\r\n        <ReplicationProvider>HyperVReplica</ReplicationProvider>\r\n        <ReplicationProviderSetting>&lt;HyperVReplicaProtectionProfileDetails xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://schemas.microsoft.com/windowsazure\"&gt;\r\n  &lt;AllowedAuthenticationType&gt;1&lt;/AllowedAuthenticationType&gt;\r\n  &lt;ApplicationConsistentSnapshotFrequencyInHours&gt;1&lt;/ApplicationConsistentSnapshotFrequencyInHours&gt;\r\n  &lt;CompressionEnabled&gt;true&lt;/CompressionEnabled&gt;\r\n  &lt;OfflineReplicationExportPath /&gt;\r\n  &lt;OfflineReplicationImportPath /&gt;\r\n  &lt;[...]
    {
      "RequestUri": "/a5aa5997-33e5-46cc-8ab8-8bd89b76b7ba/cloudservices/RecoveryServices-T2RMT6H7QF7AENS66ZV7KS2QZA2BXRAUPOECQXGXX2Q4V3VQ6MUQ-West-US/resources/WAHyperVRecoveryManager/~/HyperVRecoveryManagerVault/Hosters-FC-BVT-Vault/ProtectionContainers/774859b0-1966-48cc-9df7-759c441b7a8c_494c0993-cc35-4d84-b373-bf1a23be21d3?api-version=2015-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-03-01"
        ][...]
    {
      "RequestUri": "/a5aa5997-33e5-46cc-8ab8-8bd89b76b7ba/cloudservices/RecoveryServices-T2RMT6H7QF7AENS66ZV7KS2QZA2BXRAUPOECQXGXX2Q4V3VQ6MUQ-West-US/resources/WAHyperVRecoveryManager/~/HyperVRecoveryManagerVault/Hosters-FC-BVT-Vault/ProtectionContainers/dc1ed9b2-7b90-4534-9977-12881d278fb5_3b5005e5-0aec-451c-9fb8-bda02cbf1515?api-version=2015-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<ProtectionContainer xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>dc1ed9b2-7b90-4534-9977-12881d278fb5_3b5005e5-0aec-451c-9fb8-bda02cbf1515</ID>\r\n  <Name>cloudOn21</Name>\r\n  <Role>Recovery</Role>\r\n  <AvailableProtectionProfiles />\r\n  <FabricObjectId>3b5005e5-0aec-451c-9fb8-bda02cbf1515</FabricObjectId>\r\n  <FabricType>VMM</FabricType>\r\n  <ServerId>dc1ed9b2-7b90-4534-9977-12881d278fb5</ServerId>\r\n  <Type>VMM</Type>\r\n</ProtectionContainer>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/a5aa5997-33e5-46cc-8ab8-8bd89b76b7ba/cloudservices/RecoveryServices-T2RMT6H7QF7AENS66ZV7KS2QZA2BXRAUPOECQXGXX2Q4V3VQ6MUQ-West-US/resources/WAHyperVRecoveryManager/~/HyperVRecoveryManagerVault/Hosters-FC-BVT-Vault/ProtectionProfiles/7580cb43-decf-4e66-aee3-40718d11fec8/DissociateAndDelete?api-version=2015-02-10",
      "RequestMethod": "POST",
      "RequestBody": "<ProtectionProfileAssociationInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <PrimaryProtectionContainerId>774859b0-1966-48cc-9df7-759c441b7a8c_494c0993-cc35-4d84-b373-bf1a23be21d3</PrimaryProtectionContainerId>\r\n  <RecoveryProtectionContainerId>dc1ed9b2-7b90-4534-9977-12881d278fb5_3b5005e5-0aec-451c-9fb8-bda02cbf1515</RecoveryProtectionContainerId>\r\n</ProtectionProfileAssociationInput>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1424700887000)\\/\",\"NotAfterTimestamp\":\"\\/Date(1424722487000)\\/\",\"ClientRequestId\":\"647b6334-ab3e-4ebb-bd71-7df83dd85df2-2015-02-23 15:14:47Z-P\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"5n7FfsSRpmHt6/jqAQxXQLtsDBLQFF9YmYv2IwDAGkI=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ],
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<Job xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>6b58b2c4-0969-48ff-800b-6f44480b2852</ID>\r\n  <ActivityId>647b6334-ab3e-4ebb-bd71-7df83dd85df2-2015-02-23 15:14:47Z-P</ActivityId>\r\n  <AllowedActions xmlns:d2p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\r\n  <DisplayName i:nil=\"true\" />\r\n  <EndTime i:nil=\"true\" />\r\n  <Errors />\r\n  <Name i:nil=\"true\" />\r\n  <StartTime i:nil=\"true\" />\r\n  <State>NotStarted</State>\r\n  <StateDescription>NotStarted</StateDescription>\r\n  <TargetObjectId i:nil=\"true\" />\r\n  <TargetObjectName i:nil=\"true\" />\r\n  <TargetObjectType>ProtectionEntity</TargetObjectType>\r\n  <Tasks />\r\n</Job>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/a5aa5997-33e5-46cc-8ab8-8bd89b76b7ba/cloudservices/RecoveryServices-T2RMT6H7QF7AENS66ZV7KS2QZA2BXRAUPOECQXGXX2Q4V3VQ6MUQ-West-US/resources/WAHyperVRecoveryManager/~/HyperVRecoveryManagerVault/Hosters-FC-BVT-Vault/Jobs/6b58b2c4-0969-48ff-800b-6f44480b2852?api-version=2015-02-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<Job xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>6b58b2c4-0969-48ff-800b-6f44480b2852</ID>\r\n  <ActivityId>647b6334-ab3e-4ebb-bd71-7df83dd85df2-2015-02-23 15:14:47Z-P</ActivityId>\r\n  <AllowedActions xmlns:d2p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n    <d2p1:string>Cancel</d2p1:string>\r\n    <d2p1:string>Restart</d2p1:string>\r\n  </AllowedActions>\r\n  <DisplayName>Remove protection</DisplayName>\r\n  <EndTime i:nil=\"true\" />\r\n  <Errors />\r\n  <Name>CloudUnPairing</Name>\r\n  <StartTime>2/23/2015 3:14:48 PM</StartTime>\r\n  <State>InProgress</State>\r\n  <StateDescription>InProgress</StateDescription>\r\n  <TargetObjectId>494c0993-cc35-4d84-b373-bf1a23be21d3</TargetObjectId>\r\n  <TargetObjectName>cloudOn19</TargetObjectName>\r\n  <TargetObjectType>ProtectionContainer</TargetObjectType>\r\n  <Tasks>\r\n    <Task>\r\n      <ID>6c11a271-07bc-4ec4-bf1b-82b2189f980f</ID>\r\n      <Name>Removing the configuration for  Windows Server 2012 Hyper-V hosts</Name>\r\n      <Actions xmlns:d4p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\r\n      <ChildJobId i:nil=\"true\" />\r\n      <EndTime>2015-02-23T15:14:50Z</EndTime>\r\n      <ExtendedDetails>&lt;InlineWorkflowTaskDetails xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://schemas.datacontract.org/2004/07/Microsoft.Azure.SiteRecovery.V2014_10_27\"&gt;\r\n  &lt;ChildTasks xmlns:d2p1=\"http://schemas.microsoft.com/windowsazure\"&gt;\r\n    &lt;d2p1:Task&gt;\r\n      &lt;d2p1:ID&gt;a9e7e635-7609-4375-9b3d-0c9ff8ab584a&lt;/d2p1:ID&gt;\r\n      &lt;d2p1:Name&gt;Prerequisites check for deleting the protection group&lt;/d2p1:Name&gt;\r\n      &lt;d2p1:Actions xmlns:d4p1=\"h[...]
[...]
