{
  "AzHealthcareApisService+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstestgroup-eus2/providers/Microsoft.HealthcareApis/services/vzmg83?api-version=2021-11-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstestgroup-eus2/providers/Microsoft.HealthcareApis/services/vzmg83?api-version=2021-11-01",
      "Content": "{\r\n  \"kind\": \"fhir\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"cosmosDbConfiguration\": {\r\n      \"offerThroughput\": 400\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"2101a5d3-0000-0400-0000-626b82590000\"" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HealthcareApis/locations/eastus2/operationresults/64f3f4aa-5ca6-402e-aa3c-412c02552a6d?api-version=2021-11-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1196" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstestgroup-eus2/providers/Microsoft.HealthcareApis/services/vzmg83\",\"name\":\"vzmg83\",\"type\":\"Microsoft.HealthcareApis/services\",\"etag\":\"\\\"2101a5d3-0000-0400-0000-626b82590000\\\"\",\"location\":\"eastus2\",\"kind\":\"fhir\",\"properties\":{\"accessPolicies\":[],\"cosmosDbConfiguration\":{\"offerThroughput\":400},\"authenticationConfiguration\":{\"authority\":\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\",\"audience\":\"https://vzmg83.azurehealthcareapis.com\",\"smartProxyEnabled\":false},\"corsConfiguration\":{\"origins\":[],\"headers\":[],\"methods\":[],\"allowCredentials\":false},\"exportConfiguration\":{},\"acrConfiguration\":{\"loginServers\":[]},\"privateEndpointConnections\":[],\"provisioningState\":\"Creating\"}}",
    }
  },
  "AzHealthcareApisService+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HealthcareApis/locations/eastus2/operationresults/64f3f4aa-5ca6-402e-aa3c-412c02552a6d?api-version=2021-11-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HealthcareApis/locations/eastus2/operationresults/64f3f4aa-5ca6-402e-aa3c-412c02552a6d?api-version=2021-11-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "34" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11971" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HealthcareApis/locations/eastus2/operationresults/64f3f4aa-5ca6-402e-aa3c-412c02552a6d\",\"name\":\"64f3f4aa-5ca6-402e-aa3c-412c02552a6d\",\"status\":\"Running\",\"startTime\":\"2022-04-29T06:14:50.1437191Z\"}",
    }
  },
  "AzHealthcareApisService+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HealthcareApis/locations/eastus2/operationresults/64f3f4aa-5ca6-402e-aa3c-412c02552a6d?api-version=2021-11-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HealthcareApis/lo[...]
