{
  "New-AzRoleEligibilityScheduleRequest+[NoContext]+CreateExpanded+$PUT+https://management.azure.com//subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d//providers/Microsoft.Authorization/roleEligibilityScheduleRequests/47f8978c-5d8d-4fbf-b4b6-2f43eeb43eca?api-version=2020-10-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com//subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d//providers/Microsoft.Authorization/roleEligibilityScheduleRequests/47f8978c-5d8d-4fbf-b4b6-2f43eeb43eca?api-version=2020-10-01-preview",
      "Content": "{\r\n  \"properties\": {\r\n    \"scheduleInfo\": {\r\n      \"expiration\": {\r\n        \"type\": \"AfterDuration\",\r\n        \"duration\": \"PT1H\"\r\n      },\r\n      \"startDateTime\": \"2022-02-10T16:20:39.8817269-08:00\"\r\n    },\r\n    \"roleDefinitionId\": \"subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7\",\r\n    \"principalId\": \"5a4bdd72-ab3e-4d8e-ab0f-8dd8917481a2\",\r\n    \"requestType\": \"AdminAssign\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "mspimslice": [ "PROD" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"targetRoleEligibilityScheduleId\":\"/providers/Microsoft.Subscription/subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d/providers/Microsoft.Authorization/roleEligibilitySchedules/47f8978c-5d8d-4fbf-b4b6-2f43eeb43eca\",\"scope\":\"/subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d\",\"roleDefinitionId\":\"/subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7\",\"principalId\":\"5a4bdd72-ab3e-4d8e-ab0f-8dd8917481a2\",\"principalType\":\"User\",\"requestType\":\"AdminAssign\",\"status\":\"Provisioned\",\"scheduleInfo\":{\"startDateTime\":\"2022-02-11T00:20:42.8288753+00:00\",\"expiration\":{\"type\":\"AfterDuration\",\"duration\":\"PT1H\"}},\"ticketInfo\":{},\"requestorId\":\"a2cc980e-9a66-442e-8755-fd5648ed19f2\",\"createdOn\":\"2022-02-11T00:20:41.3288419Z\",\"expandedProperties\":{\"principal\":{\"id\":\"5a4bdd72-ab3e-4d8e-ab0f-8dd8917481a2\",\"displayName\":\"Aman Swaika secondary\",\"email\":\"aman.swaika@gmail.com\",\"type\":\"User\"},\"roleDefinition\":{\"id\":\"/subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7\",\"displayName\":\"Reader\",\"type\":\"BuiltInRole\"},\"scope\":{\"id\":\"/subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d\",\"displayName\":\"Wingtip Toys\",\"type\":\"subscription\"}}},\"name\":\"47f8978c-5d8d-4fbf-b4b6-2f43eeb43eca\",\"id\":\"/providers/Microsoft.Subscription/subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d/providers/Microsoft.Authorization/roleEligibilityScheduleRequests/47f8978c-5d8d-4fbf-b4b6-2f43eeb43eca\",\"type\":\"Microsoft.Authorization/roleEligibilityScheduleRequests\"}"
    }
  }
}