{
  "Stop-AzRoleAssignmentScheduleRequest+[NoContext]+Cancel+$PUT+https://management.azure.com//subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d//providers/Microsoft.Authorization/roleAssignmentScheduleRequests/47f8978c-5d8d-4fbf-b4b6-2f43eeb43ec6?api-version=2020-10-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com//subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d//providers/Microsoft.Authorization/roleAssignmentScheduleRequests/47f8978c-5d8d-4fbf-b4b6-2f43eeb43ec6?api-version=2020-10-01-preview",
      "Content": "{\r\n  \"properties\": {\r\n    \"scheduleInfo\": {\r\n      \"expiration\": {\r\n        \"type\": \"AfterDuration\",\r\n        \"duration\": \"PT30M\"\r\n      },\r\n      \"startDateTime\": \"2022-03-09T17:11:19.7711006-08:00\"\r\n    },\r\n    \"roleDefinitionId\": \"subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7\",\r\n    \"principalId\": \"5a4bdd72-ab3e-4d8e-ab0f-8dd8917481a2\",\r\n    \"requestType\": \"AdminAssign\",\r\n    \"justification\": \"Test\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "mspimslice": [ "PROD" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1196" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"targetRoleAssignmentScheduleId\":\"/providers/Microsoft.Subscription/subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d/providers/Microsoft.Authorization/roleAssignmentSchedules/47f8978c-5d8d-4fbf-b4b6-2f43eeb43ec6\",\"scope\":\"/subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d\",\"roleDefinitionId\":\"/subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7\",\"principalId\":\"5a4bdd72-ab3e-4d8e-ab0f-8dd8917481a2\",\"principalType\":\"User\",\"requestType\":\"AdminAssign\",\"status\":\"Granted\",\"scheduleInfo\":{\"startDateTime\":\"2022-03-10T01:11:19.7711006+00:00\",\"expiration\":{\"type\":\"AfterDuration\",\"duration\":\"PT30M\"}},\"ticketInfo\":{},\"justification\":\"Test\",\"requestorId\":\"a2cc980e-9a66-442e-8755-fd5648ed19f2\",\"createdOn\":\"2022-02-11T00:20:45.9070177Z\",\"expandedProperties\":{\"principal\":{\"id\":\"5a4bdd72-ab3e-4d8e-ab0f-8dd8917481a2\",\"displayName\":\"Aman Swaika secondary\",\"email\":\"aman.swaika@gmail.com\",\"type\":\"User\"},\"roleDefinition\":{\"id\":\"/subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7\",\"displayName\":\"Reader\",\"type\":\"BuiltInRole\"},\"scope\":{\"id\":\"/subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d\",\"displayName\":\"Wingtip Toys\",\"type\":\"subscription\"}}},\"name\":\"47f8978c-5d8d-4fbf-b4b6-2f43eeb43ec6\",\"id\":\"/providers/Microsoft.Subscription/subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d/providers/Microsoft.Authorization/roleAssignmentScheduleRequests/47f8978c-5d8d-4fbf-b4b6-2f43eeb43ec6\",\"type\":\"Microsoft.Authorization/roleAssignmentScheduleRequests\"}"
    }
  },
  "Stop-AzRoleAssignmentScheduleRequest+[NoContext]+Cancel+$POST+https://management.azure.com//subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d//providers/Microsoft.Authorization/roleAssignmentScheduleRequests/47f8978c-5d8d-4fbf-b4b6-2f43eeb43ec6/cancel?api-version=2020-10-01-preview+2": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com//subscriptions/38ab2ccc-3747-4567-b36b-9478f5602f0d//providers/Microsoft.Authorization/roleAssignmentScheduleRequests/47f8978c-5d8d-4fbf-b4b6-2f43eeb43ec6/cancel?api-version=2020-10-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "30" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "mspimslice": [ "PROD" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  }
}