{
  "Entries": [
    {
      "RequestUri": "/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurationMachineRuns?api-version=2017-05-15-preview&$filter=properties%2FcorrelationId%20eq%20b4ec6c22-92bf-4f8a-b2d9-20d8446e618a%20and%20properties%2Fstatus%20eq%20'Succeeded'%20and%20properties%2FtargetComputer%20eq%20'%2Fsubscriptions%2F422b6c61-95b0-4213-b3be-7282315df71d%2FresourceGroups%2Fmo-compute%2Fproviders%2FMicrosoft.Compute%2FvirtualMachines%2Fmo-vm-w-01'",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-resources-eus/providers/Microsoft.Automation/automationAccounts/mo-aaa-eus2/softwareUpdateConfigurationMachineRuns/aafb3b65-41c2-4feb-8de6-ea12c7371b85\",\r\n      \"name\": \"aafb3b65-41c2-4feb-8de6-ea12c7371b85\",\r\n      \"type\": null,\r\n      \"properties\": {\r\n        \"targetComputer\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourceGroups/mo-compute/providers/Microsoft.Compute/virtualMachines/mo-vm-w-01\",\r\n        \"targetComputerType\": \"AzureVirtualMachines\",\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"mo-onetime-02\"\r\n        },\r\n        \"status\": \"Succeeded\",\r\n        \"osType\": \"Windows\",\r\n        \"correlationId\": \"b4ec6c22-92bf-4f8a-b2d9-20d8446e618a\",\r\n        \"sourceComputerId\": \"7dcab1aa-2114-443a-b19f-e98840f1b524\",\r\n        \"startTime\": \"2018-05-17T01:06:39.2826316-07:00\",\r\n        \"endTime\": \"2018-05-17T01:08:22.363-07:00\",\r\n        \"configuredDuration\": \"PT2H\",\r\n        \"job\": null,\r\n        \"error\": null,\r\n        \"creationTime\": \"2018-05-17T01:06:39.2826316-07:00\",\r\n        \"lastModifiedBy\": null,\r\n        \"lastModifiedTime\": \"2018-05-17T01:08:48.177-07:00\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "422b6c61-95b0-4213-b3be-7282315df71d"
  }
}