{
  "Entries": [
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourcegroups/crptestps9817?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"centraluseuap\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps9817\",\r\n  \"name\": \"crptestps9817\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps9817/providers/Microsoft.Network/virtualNetworks/vmsscrptestps9817-vnet?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/vmsscrptestps9817-vnet' under resource group 'crptestps9817' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps9817/providers/Microsoft.Network/virtualNetworks/vmsscrptestps9817-vnet?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"aaefee64-cf15-437c-b127-eb310ac5134b\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vmsscrptestps9817-vnet\",\r\n  \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps9817/providers/Microsoft.Network/virtualNetworks/vmsscrptestps9817-vnet\",\r\n  \"etag\": \"W/\\\"aaefee64-cf15-437c-b127-eb310ac5134b\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"8d56282d-c0de-431a-98a9-a9e4931df9ab\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"privateEndpointVNetPolicies\": \"Disabled\",\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"default\",\r\n        \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps9817/providers/Microsoft.Network/virtualNetworks/vmsscrptestps9817-vnet/subnets/default\",\r\n        \"etag\": \"W/\\\"aaefee64-cf15-437c-b127-eb310ac5134b\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps9817/providers/Microsoft.Network/virtualNetworks/vmsscrptestps9817-vnet?api-version=2024-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ],\r\n      \"ipamPoolPrefixAllocations\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"default\",\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n          \"applicationGatewayIPConfigurations\": [],\r\n          \"ipamPoolPrefixAllocations\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"centraluseuap\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/providers/Microsoft.Network/locations/centraluseuap/operations/2ea266af-ce26-4960-9e21-aad56e043247?api-version=2024-05-01&t=638725140545713916&c=MIIHhzCCBm-gAwIBAgITHgVsohlR2527oAb3YwAABWyiGTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwOTIyMTIzNzU1WhcNMjUwMzIxMTIzNzU1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/providers/Microsoft.Network/locations/centraluseuap/operations/2ea266af-ce26-4960-9e21-aad56e043247?api-version=2024-05-01&t=638725140545713916&c=MIIHhzCCBm-gAwIBAgITHgVsohlR2527oAb3YwAABWyiGTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwOTIyMTIzNzU1WhcNMjUwMzIxMTIzNzU1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
[...]
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/providers/Microsoft.Compute/locations/centraluseuap/publishers/RedHat/artifacttypes/vmimage/offers/RHEL/skus/92-gen2/versions?$top=1&$orderby=name%20desc&api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"CentralUSEUAP\",\r\n    \"name\": \"9.2.2024040517\",\r\n    \"id\": \"/Subscriptions/759532d8-9991-4d04-878f-49f0f4804906/Providers/Microsoft.Compute/Locations/CentralUSEUAP/Publishers/RedHat/ArtifactTypes/VMImage/Offers/RHEL/Skus/92-gen2/Versions/9.2.2024040517\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/providers/Microsoft.Compute/locations/centraluseuap/publishers/RedHat/artifacttypes/vmimage/offers/RHEL/skus/92-gen2/versions/9.2.2024040517?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73999"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n    \"architecture\": \"x64\",\r\n    \"replicaType\": \"Managed\",\r\n    \"replicaCount\": 10,\r\n    \"disallowed\": {\r\n      \"vmDiskType\": \"Unmanaged\"\r\n    },\r\n    \"automaticOSUpgradeProperties\": {\r\n      \"automaticOSUpgradeSupported\": false\r\n    },\r\n    \"imageDeprecationStatus\": {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\n      {\r\n        \"name\": \"SecurityType\",\r\n        \"value\": \"TrustedLaunchSupported\"\r\n      },\r\n      {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\": \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n        \"value\": \"SCSI, NVMe\"\r\n      },\r\n      {\r\n        \"name\": \"IsHibernateSupported\",\r\n        \"value\": \"True\"\r\n      }\r\n    ],\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\": \"Linux\",\r\n      \"sizeInGb\": 64\r\n    },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\": \"CentralUSEUAP\",\r\n  \"name\": \"9.2.2024040517\",\r\n  \"id\": \"/Subscriptions/759532d8-9991-4d04-878f-49f0f4804906/Providers/Microsoft.Compute/Locations/CentralUSEUAP/Publishers/RedHat/ArtifactTypes/VMImage/Offers/RHEL/Skus/92-gen2/Versions/9.2.2024040517\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps9817/providers/Microsoft.Compute/virtualMachineScaleSets/vmsscrptestps9817?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D4s_v3\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Automatic\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"adetest\",\r\n        \"adminUsername\": \"bootuser\",\r\n        \"adminPassword\": \"Sanitized\"\r\n      },\r\n      \"storageProfile\": {\r\n        \"imageReference\": {\r\n          \"publisher\": \"RedHat\",\r\n          \"offer\": \"RHEL\",\r\n          \"sku\": \"92-gen2\",\r\n          \"version\": \"latest\"\r\n        },\r\n        \"osDisk\": {\r\n          \"caching\": \"ReadWrite\",\r\n          \"writeAcceleratorEnabled\": false,\r\n          \"createOption\": \"FromImage\"\r\n        }\r\n      },\r\n      \"networkProfile\": {\r\n        \"networkInterfaceConfigurations\": [\r\n          {\r\n            \"name\": \"vmsscrptestps9817netconfig\",\r\n            \"properties\": {\r\n              \"primary\": true,\r\n              \"enableAcceleratedNetworking\": false,\r\n              \"ipConfigurations\": [\r\n                {\r\n                  \"name\": \"vmsscrptestps9817ip\",\r\n                  \"properties\": {\r\n                    \"subnet\": {\r\n                      \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps9817/providers/Microsoft.Network/virtualNetworks/vmsscrptestps9817-vnet/subnets/default\"\r\n                    },\r\n                    \"primary\": false\r\n                  }\r\n                }\r\n              ],\r\n              \"enableIPForwarding\": false\r\n            }\r\n          }\r\n        ]\r\n      },\r\n      \"securityProfile\": {\r\n        \"uefiSettings\": {\r\n          \"secureBootEnabled\": true,\r\n          \"vTpmEnabled\": true\r\n        },\r\n        \"securityType\": \"trustedlaunch\",\r\n        \"encryptionIdentity\": {\r\n          \"userAssignedIdentityResourceId\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/anshademsitest-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/anshjainmsitestuserassignedmanagedidentity\"\r\n        }\r\n      }\r\n    },\r\n    \"orchestrationMode\": \"Uniform\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"UserAssigned\",\r\n    \"userAssignedIdentities\": {\r\n      \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/anshademsitest-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/anshjainmsitestuserassignedmanagedidentity\": {}\r\n    }\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {}\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "\"1\""
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/0928249a-4305-4e51-b248-e04791c3f26e?p=998719a1-0231-41ff-8083-920bb31aead6&api-version=2024-07-01&t=638725140722043497&c=MIIHhzCCBm-gAwIBAgITfAWZnAKDvd4xEuvOGQAABZmcAjANBgkqhk[...]
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/providers/Microsoft.Compute/locations/CentralUSEUAP/operations/0928249a-4305-4e51-b248-e04791c3f26e?p=998719a1-0231-41ff-8083-920bb31aead6&api-version=2024-07-01&t=638725140722043497&c=MIIHhzCCBm-gAwIBAgITfAWZnAKDvd4xEuvOGQAABZmcAjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQxMDAzMDg1MDA1WhcNMjUwNDAxMDg1MDA1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlv[...]
[...]
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps9817/providers/Microsoft.Compute/virtualMachineScaleSets/vmsscrptestps9817?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "\"3\""
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetVMScaleSetSubscriptionMaximum;2397,Microsoft.Compute/GetVMScaleSetResource;34"
        ],
        "x-ms-need-to-refresh-epl-cache": [
          "False"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vmsscrptestps9817\",\r\n  \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps9817/providers/Microsoft.Compute/virtualMachineScaleSets/vmsscrptestps9817\",\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n    \"type\": \"UserAssigned\",\r\n    \"userAssignedIdentities\": {\r\n      \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/anshademsitest-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/anshjainmsitestuserassignedmanagedidentity\": {\r\n        \"principalId\": \"7089a49e-00be-4313-b644-46a6294d0a91\",\r\n        \"clientId\": \"f78b0724-3943-4e98-a052-14ed38c93994\"\r\n      }\r\n    }\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard_D4s_v3\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"etag\": \"\\\"3\\\"\",\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": true,\r\n    \"orchestrationMode\": \"Uniform\",\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Automatic\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"adetest\",\r\n        \"adminUsername\": \"bootuser\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\": false,\r\n          \"provisionVMAgent\": true\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\n          \"osType\": \"Linux\",\r\n          \"createOption\": \"FromImage\",\r\n          \"caching\": \"ReadWrite\",\r\n          \"writeAcceleratorEnabled\": false,\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Premium_LRS\"\r\n          },\r\n          \"diskSizeGB\": 64\r\n        },\r\n        \"imageReference\": {\r\n          \"publisher\": \"RedHat\",\r\n          \"offer\": \"RHEL\",\r\n          \"sku\": \"92-gen2\",\r\n          \"version\": \"latest\"\r\n        },\r\n        \"diskControllerType\": \"SCSI\"\r\n      },\r\n      \"networkProfile\": {\r\n        \"networkInterfaceConfigurations\": [\r\n          {\r\n            \"name\": \"vmsscrptestps9817netconfig\",\r\n            \"properties\": {\r\n              \"primary\": true,\r\n              \"enableAcceleratedNetworking\": false,\r\n              \"disableTcpStateTracking\": false,\r\n              \"dnsSettings\": {\r\n                \"dnsServers\": []\r\n              },\r\n              \"enableIPForwarding\": false,\r\n              \"ipConfigurations\": [\r\n                {\r\n                  \"name\": \"vmsscrptestps9817ip\",\r\n                  \"properties\": {\r\n                    \"primary\": true,\r\n                    \"subnet\": {\r\n                      \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps9817/providers/Microsoft.Network/virtualNetworks/vmsscrptestps9817-vnet/subnets/default\"\r\n                    },\r\n                    \"privateIPAddressVersion\": \"IPv4\"\r\n                  }\r\n                }\r\n              ]\r\n            }\r\n          }\r\n        ]\r\n      },\r\n      \"securityProfile\": {\r\n        \"uefiSettings\": {\r\n          \"secureBootEnabled\": true,\r\n          \"vTpmEnabled\": true\r\n        },\r\n        \"securityType\": \"TrustedLaunch\",\r\n        \"encryptionIdentity\": {\r\n          \"userAssignedIdentityResourceId\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/anshademsitest-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/anshjainmsitestuserassignedmanagedidentity\"\r\n        }\r\n      },\r\n      \"timeCreated\": \"2025-01-15T10:31:11.5448906+05:30\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"overprovision\": true,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\": \"e069fb73-878a-426f-a208-9ce2ee6c6cc0\",\r\n    \"platformFaultDomainCount\": 5,\r\n    \"timeCreated\": \"2025-01-15T10:31:11.5448906+05:30\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resources?$filter=resourceType%20eq%20'Microsoft.KeyVault%2Fvaults'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
       [...]
    {
      "RequestUri": "/v1.0/me",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ags-diagnostic": [
          "{\"ServerInfo\":{\"DataCenter\":\"Central India\",\"Slice\":\"E\",\"Ring\":\"3\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"PN2PEPF00000274\"}}"
        ],
        "x-ms-resource-unit": [
          "1"
        ],
        "OData-Version": [
          "4.0"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://graph.microsoft.com/v1.0/$metadata#users/$entity\",\r\n  \"businessPhones\": [],\r\n  \"displayName\": \"Anshul Jain\",\r\n  \"givenName\": \"Anshul\",\r\n  \"jobTitle\": \"Software Engineer 2\",\r\n  \"mail\": \"anshjain@microsoft.com\",\r\n  \"mobilePhone\": null,\r\n  \"officeLocation\": \"NOIDA SOVEREIGN/Mobile\",\r\n  \"preferredLanguage\": null,\r\n  \"surname\": \"Jain\",\r\n  \"userPrincipalName\": \"anshjain@microsoft.com\",\r\n  \"id\": \"14547a0b-20d4-46e2-9caf-72729342b466\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps9817/providers/Microsoft.KeyVault/vaults/crptestps9817-kv?api-version=2022-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"sku\": {\r\n      \"name\": \"standard\",\r\n      \"family\": \"A\"\r\n    },\r\n    \"accessPolicies\": [\r\n      {\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"objectId\": \"14547a0b-20d4-46e2-9caf-72729342b466\",\r\n        \"permissions\": {\r\n          \"keys\": [\r\n            \"all\"\r\n          ],\r\n          \"secrets\": [\r\n            \"all\"\r\n          ],\r\n          \"certificates\": [\r\n            \"all\"\r\n          ],\r\n          \"storage\": [\r\n            \"all\"\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"vaultUri\": \"\",\r\n    \"softDeleteRetentionInDays\": 90,\r\n    \"enableRbacAuthorization\": false,\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"defaultAction\": \"Allow\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "800"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "12000"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps9817/providers/Microsoft.KeyVault/vaults/crptestps9817-kv\",\r\n  \"name\": \"crptestps9817-kv\",\r\n  \"type\": \"Microsoft.KeyVault/vaults\",\r\n  \"location\": \"centraluseuap\",\r\n  \"tags\": {},\r\n  \"systemData\": {\r\n    \"createdBy\": \"anshjain@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2025-01-15T05:02:33.223Z\",\r\n    \"lastModifiedBy\": \"anshjain@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2025-01-15T05:02:33.223Z\"\r\n  },\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"family\": \"A\",\r\n      \"name\": \"standard\"\r\n    },\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"accessPolicies\": [\r\n      {\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"objectId\": \"14547a0b-20d4-46e2-9caf-72729342b466\",\r\n        \"permissions\": {\r\n          \"keys\": [\r\n            \"all\"\r\n          ],\r\n          \"secrets\": [\r\n            \"all\"\r\n          ],\r\n          \"certificates\": [\r\n            \"all\"\r\n          ],\r\n          \"storage\": [\r\n            \"all\"\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"enabledForDeployment\": false,\r\n    \"enableSoftDelete\": true,\r\n    \"softDeleteRetentionInDays\": 90,\r\n    \"enableRbacAuthorization\": false,\r\n    \"enablePurgeProtection\": true,\r\n    \"vaultUri\": \"https://crptestps9817-kv.vault.azure.net\",\r\n    \"provisioningState\": \"RegisteringDns\",\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/v1.0/directoryObjects/14547a0b-20d4-46e2-9caf-72729342b466",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ags-diagnostic": [
          "{\"ServerInfo\":{\"DataCenter\":\"Central India\",\"Slice\":\"E\",\"Ring\":\"3\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"PN2PEPF00000274\"}}"
        ],
        "x-ms-resource-unit": [
          "1"
        ],
        "OData-Version": [
          "4.0"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://graph.microsoft.com/v1.0/$metadata#directoryObjects/$entity\",\r\n  \"@odata.type\": \"#microsoft.graph.user\",\r\n  \"id\": \"14547a0b-20d4-46e2-9caf-72729342b466\",\r\n  \"businessPhones\": [],\r\n  \"displayName\": \"Anshul Jain\",\r\n  \"givenName\": \"Anshul\",\r\n  \"jobTitle\": \"Software Engineer 2\",\r\n  \"mail\": \"anshjain@microsoft.com\",\r\n  \"mobilePhone\": null,\r\n  \"officeLocation\": \"NOIDA SOVEREIGN/Mobile\",\r\n  \"preferredLanguage\": null,\r\n  \"surname\": \"Jain\",\r\n  \"userPrincipalName\": \"anshjain@microsoft.com\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/v1.0/directoryObjects/7089a49e-00be-4313-b644-46a6294d0a91",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ags-diagnostic": [
          "{\"ServerInfo\":{\"DataCenter\":\"Central India\",\"Slice\":\"E\",\"Ring\":\"3\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"PN2PEPF00000278\"}}"
        ],
        "x-ms-resource-unit": [
          "1"
        ],
        "OData-Version": [
          "4.0"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://graph.microsoft.com/v1.0/$metadata#directoryObjects/$entity\",\r\n  \"@odata.type\": \"#microsoft.graph.servicePrincipal\",\r\n  \"id\": \"7089a49e-00be-4313-b644-46a6294d0a91\",\r\n  \"deletedDateTime\": null,\r\n  \"accountEnabled\": true,\r\n  \"alternativeNames\": [\r\n    \"isExplicit=True\",\r\n    \"/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourcegroups/anshademsitest-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/anshjainmsitestuserassignedmanagedidentity\"\r\n  ],\r\n  \"appDisplayName\": null,\r\n  \"appDescription\": null,\r\n  \"appId\": \"f78b0724-3943-4e98-a052-14ed38c93994\",\r\n  \"applicationTemplateId\": null,\r\n  \"appOwnerOrganizationId\": null,\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"createdDateTime\": \"2024-10-17T18:26:53Z\",\r\n  \"description\": null,\r\n  \"disabledByMicrosoftStatus\": null,\r\n  \"displayName\": \"anshjainmsitestuserassignedmanagedidentity\",\r\n  \"homepage\": null,\r\n  \"loginUrl\": null,\r\n  \"logoutUrl\": null,\r\n  \"notes\": null,\r\n  \"notificationEmailAddresses\": [],\r\n  \"preferredSingleSignOnMode\": null,\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"replyUrls\": [],\r\n  \"servicePrincipalNames\": [\r\n    \"f78b0724-3943-4e98-a052-14ed38c93994\",\r\n    \"https://identity.azure.net/mT8U0FwQK5nEF2bZDtTKl2IzavEbdi5cOGQf8bjrZ9M=\"\r\n  ],\r\n  \"servicePrincipalType\": \"ManagedIdentity\",\r\n  \"signInAudience\": null,\r\n  \"tags\": [],\r\n  \"tokenEncryptionKeyId\": null,\r\n  \"info\": null,\r\n  \"samlSingleSignOnSettings\": null,\r\n  \"addIns\": [],\r\n  \"appRoles\": [],\r\n  \"keyCredentials\": [\r\n    {\r\n      \"customKeyIdentifier\": \"788CCA3CFD3831F0C9A168A652C2D5911997C221\",\r\n      \"displayName\": \"CN=f78b0724-3943-4e98-a052-14ed38c93994\",\r\n      \"endDateTime\": \"2025-01-15T18:21:00Z\",\r\n      \"key\": null,\r\n      \"keyId\": \"a8e59311-5467-432a-b9b3-4ba67d720a40\",\r\n      \"startDateTime\": \"2024-10-17T18:21:00Z\",\r\n      \"type\": \"AsymmetricX509Cert\",\r\n      \"usage\": \"Verify\"\r\n    }\r\n  ],\r\n  \"oauth2PermissionScopes\": [],\r\n  \"passwordCredentials\": [],\r\n  \"resourceSpecificApplicationPermissions\": [],\r\n  \"verifiedPublisher\": {\r\n    \"displayName\": null,\r\n    \"verifiedPublisherId\": null,\r\n    \"addedDateTime\": null\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/v1.0/directoryObjects/microsoft.graph.getByIds",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"ids\": [\r\n    \"14547a0b-20d4-46e2-9caf-72729342b466\",\r\n    \"7089a49e-00be-4313-b644-46a6294d0a91\"\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://graph.microsoft.com/"
        ],
        "x-ms-ags-diagnostic": [
          "{\"ServerInfo\":{\"DataCenter\":\"Central India\",\"Slice\":\"E\",\"Ring\":\"3\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"PN2PEPF00000278\"}}"
        ],
        "x-ms-resource-unit": [
          "3"
        ],
        "OData-Version": [
          "4.0"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false; charset=ut[...]
[...]
    {
      "RequestUri": "/subscriptions/759532d8-9991-4d04-878f-49f0f4804906/resourceGroups/crptestps9817/providers/Microsoft.Compute/virtualMachineScaleSets/vmsscrptestps9817/extensions/AzureDiskEncryptionForLinux?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
[...]
