{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$top=10&$from=2025-01-31T00%3A00%3A00Z",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "149"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest\",\r\n  \"@odata.count\": 10,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity\",\r\n      \"timestamp\": \"2025-02-05T00:08:48.9692412Z\",\r\n      \"resourceId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg1/providers/microsoft.network/networksecuritygroups/pstests321\",\r\n      \"policyAssignmentId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/microsoft.authorization/policyassignments/pstestdeployassignmentsub\",\r\n      \"policyDefinitionId\": \"/providers/microsoft.management/managementgroups/powershelltesting/providers/microsoft.authorization/policydefinitions/pstestdinedefinition\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"e5a130f3-57fd-46b6-9c55-03d21a853935\",\r\n      \"resourceType\": \"Microsoft.Network/networkSecurityGroups\",\r\n      \"resourceLocation\": \"westcentralus\",\r\n      \"resourceGroup\": \"PSTestRG1\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"PSTestDeployAssignmentSub\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"\",\r\n      \"policyAssignmentScope\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935\",\r\n      \"policyDefinitionName\": \"PSTestDINEDefinition\",\r\n      \"policyDefinitionAction\": \"deployifnotexists\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"\",\r\n      \"policySetDefinitionName\": \"\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"PowershellTesting,AzGovPerfTest,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"\",\r\n      \"complianceState\": \"NonCompliant\",\r\n      \"policyDefinitionGroupNames\": [\r\n        \"\"\r\n      ],\r\n      \"policyDefinitionVersion\": \"1.0.0\",\r\n      \"policySetDefinitionVersion\": \"\",\r\n      \"policyAssignmentVersion\": \"\",\r\n      \"complianceReasonCode\": \"PolicyAssignmentNotFound\"\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity\",\r\n      \"timestamp\": \"2025-02-05T00:08:48.6750437Z\",\r\n      \"resourceId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg1/providers/microsoft.network/networksecuritygroups/pstests325\",\r\n     [...]
