{
  "Entries": [
    {
      "RequestUri": "/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$top=10&$to=2022-01-13T02%3A00%3A00Z",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "148"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://westus.management.azure.com/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest\",\r\n  \"@odata.count\": 10,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://westus.management.azure.com/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity\",\r\n      \"timestamp\": \"2022-01-13T01:54:01.1367211Z\",\r\n      \"resourceId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322\",\r\n      \"policyAssignmentId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/microsoft.authorization/policyassignments/securitycenterbuiltin\",\r\n      \"policyDefinitionId\": \"/providers/microsoft.authorization/policydefinitions/6e2593d9-add6-4083-9c9b-4b7d2188c899\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"086aecf4-23d6-4dfd-99a8-a5c6299f0322\",\r\n      \"resourceType\": \"Microsoft.Resources/subscriptions\",\r\n      \"resourceLocation\": \"\",\r\n      \"resourceGroup\": \"\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"SecurityCenterBuiltIn\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"\",\r\n      \"policyAssignmentScope\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322\",\r\n      \"policyDefinitionName\": \"6e2593d9-add6-4083-9c9b-4b7d2188c899\",\r\n      \"policyDefinitionAction\": \"auditifnotexists\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"/providers/Microsoft.Authorization/policySetDefinitions/1f3afdf9-d0c9-4c3d-847f-89da613e70a8\",\r\n      \"policySetDefinitionName\": \"1f3afdf9-d0c9-4c3d-847f-89da613e70a8\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"security center\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"AzGovPerfTest,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"emailnotificationforhighseverityalertsshouldbeenabledmonitoringeffect\",\r\n      \"complianceState\": \"NonCompliant\",\r\n      \"policyDefinitionGroupNames\": [\r\n        \"azure_security_benchmark_v3.0_ir-2\"\r\n      ],\r\n      \"policyDefinitionVersion\": \"1.0.1\",\r\n      \"policySetDefinitionVersion\": \"41.0.0\",\r\n      \"policyAssignmentVersion\": \"\",\r\n      \"complianceReasonCode\": \"\"\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://westus.management.azure.com/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity\",\r\n      \"timestamp\": \"2022-01-13T01:54:01.024704Z\",\r\n      \"resourceId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322\",\r\n      \"policyAssignmentId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/microsoft.autho[...]
