{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "//subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/govintpolicyrp/providers/microsoft.network/trafficmanagerprofiles/gov-int-policy-rp/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-07-01-preview&$top=10&$expand=PolicyEvaluationDetails",
=======
      "RequestUri": "//subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/cheggpolicy/providers/microsoft.keyvault/vaults/cheggkv/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$top=10&$expand=PolicyEvaluationDetails",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "e3b3c633-3c54-44f2-8a1c-048db0f70a9e"
=======
          "597f7b11-0f9d-42fc-b8c3-1a819bd04fa8"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27317.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/2.0.2.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/3.1.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Vary": [
          "Accept-Encoding"
        ],
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "595"
        ],
        "x-ms-request-id": [
          ":248e506b-9a15-47bf-a7f9-3c6f510251e7"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "x-ms-correlation-request-id": [
          "72b226dd-6f33-4152-8044-717f3f95f285"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20190416T211750Z:72b226dd-6f33-4152-8044-717f3f95f285"
=======
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "597"
        ],
        "x-ms-request-id": [
          ":86c3b694-f561-452f-9405-5d230ced5b8a"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-correlation-request-id": [
          "4fec39f3-5b0c-4542-9d4d-7fe4d1732125"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200331T020613Z:4fec39f3-5b0c-4542-9d4d-7fe4d1732125"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 16 Apr 2019 21:17:49 GMT"
        ],
        "Content-Length": [
          "14638"
=======
          "Tue, 31 Mar 2020 02:06:13 GMT"
        ],
        "Content-Length": [
          "21194"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/govintpolicyrp/providers/microsoft.network/trafficmanagerprofiles/gov-int-policy-rp/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest\",\r\n  \"@odata.count\": 8,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/govintpolicyrp/providers/microsoft.network/trafficmanagerprofiles/gov-int-policy-rp/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity\",\r\n      \"timestamp\": \"2019-04-16T21:11:45.6265047Z\",\r\n      \"resourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/govintpolicyrp/providers/microsoft.network/trafficmanagerprofiles/gov-int-policy-rp\",\r\n      \"policyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/microsoft.authorization/policyassignments/88deedb1a79843fa9b3cd693\",\r\n      \"policyDefinitionId\": \"/providers/microsoft.authorization/policydefinitions/7f89b1eb-583c-429a-8828-af049802c1d9\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"d0610b27-9663-4c05-89f8-5b4be01e86a5\",\r\n      \"resourceType\": \"/Microsoft.Network/trafficManagerProfiles\",\r\n      \"resourceLocation\": \"global\",\r\n      \"resourceGroup\": \"govintpolicyrp\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"88deedb1a79843fa9b3cd693\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"\",\r\n      \"policyAssignmentScope\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5\",\r\n      \"policyDefinitionName\": \"7f89b1eb-583c-429a-8828-af049802c1d9\",\r\n      \"policyDefinitionAction\": \"auditifnotexists\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"/providers/Microsoft.Authorization/policySetDefinitions/89c6cddc-1c73-4ac1-b19c-54d1a15a42f2\",\r\n      \"policySetDefinitionName\": \"89c6cddc-1c73-4ac1-b19c-54d1a15a42f2\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"ArtTest2,ArtTest1,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"auditdiagnosticsetting\",\r\n      \"complianceState\": \"NonCompliant\",\r\n      \"policyEvaluationDetails\": {\r\n        \"ifNotExistsDetails\": {\r\n          \"totalResources\": 0\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/govintpolicyrp/providers/microsoft.network/trafficmanagerprofiles/gov-int-policy-rp/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity\",\r\n      \"timestamp\": \"2019-04-16T21:11:45.626452Z\",\r\n      \"resourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/re[...]
