{
  "Entries": [
    {
      "RequestUri": "/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-07-01-preview&$top=10&$select=Timestamp%2C%20ResourceId%2C%20PolicyAssignmentId%2C%20PolicyDefinitionId%2C%20IsCompliant%2C%20SubscriptionId%2C%20PolicyDefinitionAction",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "591"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest\",\r\n  \"@odata.count\": 10,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity\",\r\n      \"timestamp\": \"2019-04-16T21:13:34.9191846Z\",\r\n      \"resourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/azgovintpolicyimagebuilder/providers/microsoft.compute/virtualmachines/azpolimgbldint3\",\r\n      \"policyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/microsoft.authorization/policyassignments/securitycenterbuiltin\",\r\n      \"policyDefinitionId\": \"/providers/microsoft.authorization/policydefinitions/86b3d65f-7626-441e-b690-81a8b71cff60\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"d0610b27-9663-4c05-89f8-5b4be01e86a5\",\r\n      \"policyDefinitionAction\": \"auditifnotexists\"\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity\",\r\n      \"timestamp\": \"2019-04-16T21:13:34.9191566Z\",\r\n      \"resourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/azgovintpolicyimagebuilder/providers/microsoft.compute/virtualmachines/azpolimgbldint3\",\[...]
