{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-07-01-preview&$top=10&$filter=IsCompliant%20eq%20false%20and%20PolicyDefinitionAction%20eq%20%27deny%27",
=======
      "RequestUri": "/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$top=10&$filter=IsCompliant%20eq%20false%20and%20PolicyDefinitionAction%20eq%20%27deny%27",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "44dfc399-ce7b-4286-9424-faa1b30c418f"
=======
          "bcc9f2cb-05a3-43a5-9d9d-00e3235ae51a"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27317.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/2.0.2.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/3.1.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Vary": [
          "Accept-Encoding"
        ],
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "596"
        ],
        "x-ms-request-id": [
          ":16adc4ba-586b-4c7e-8429-eca6ec8d7764"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "x-ms-correlation-request-id": [
          "5ca27b91-25ee-4720-89c9-992ab66d5604"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20190416T211801Z:5ca27b91-25ee-4720-89c9-992ab66d5604"
=======
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "595"
        ],
        "x-ms-request-id": [
          ":ccb57c35-67fd-40bd-8770-588fb686455f"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-correlation-request-id": [
          "e1ae995a-a081-42ea-98f8-14ac6cdc5e6c"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200331T020623Z:e1ae995a-a081-42ea-98f8-14ac6cdc5e6c"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 16 Apr 2019 21:18:01 GMT"
        ],
        "Content-Length": [
          "15790"
=======
          "Tue, 31 Mar 2020 02:06:23 GMT"
        ],
        "Content-Length": [
          "3572"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest\",\r\n  \"@odata.count\": 10,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity\",\r\n      \"timestamp\": \"2019-04-16T20:22:39.4180978Z\",\r\n      \"resourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/gokmenhtest/providers/microsoft.web/sites/gokmenhnew\",\r\n      \"policyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/gokmenhtest/providers/microsoft.authorization/policyassignments/e99b4785597a4cacb69ddee5\",\r\n      \"policyDefinitionId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/microsoft.authorization/policydefinitions/21f9071d-0dee-4b7e-a6db-be3eb72c13c6\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"d0610b27-9663-4c05-89f8-5b4be01e86a5\",\r\n      \"resourceType\": \"/Microsoft.Web/sites\",\r\n      \"resourceLocation\": \"centralus\",\r\n      \"resourceGroup\": \"gokmenhtest\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"e99b4785597a4cacb69ddee5\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"\",\r\n      \"policyAssignmentScope\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourceGroups/gokmenhtest\",\r\n      \"policyDefinitionName\": \"21f9071d-0dee-4b7e-a6db-be3eb72c13c6\",\r\n      \"policyDefinitionAction\": \"deny\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"\",\r\n      \"policySetDefinitionName\": \"\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"ArtTest2,ArtTest1,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"\",\r\n      \"complianceState\": \"NonCompliant\"\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity\",\r\n      \"timestamp\": \"2019-04-16T20:22:39.3448292Z\",\r\n      \"resourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/jilimwebtest/providers/microsoft.web/sites/jilimwebapp\",\r\n      \"policyAssignmentId\": \"/[...]
