{
  "Entries": [
    {
      "RequestUri": "//subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourceGroups/PSTestRG1/providers/Microsoft.Network/networkSecurityGroups/pstests1/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$top=10&$filter=PolicyDefinitionAction%20eq%20%27modify%27&$expand=PolicyEvaluationDetails",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "149"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourceGroups/PSTestRG1/providers/Microsoft.Network/networkSecurityGroups/pstests1/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest\",\r\n  \"@odata.count\": 1,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourceGroups/PSTestRG1/providers/Microsoft.Network/networkSecurityGroups/pstests1/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity\",\r\n      \"timestamp\": \"2025-02-05T00:08:39.1076061Z\",\r\n      \"resourceId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/pstestrg1/providers/microsoft.network/networksecuritygroups/pstests1\",\r\n      \"policyAssignmentId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/microsoft.authorization/policyassignments/pstestmodifyassignmentsub\",\r\n      \"policyDefinitionId\": \"/providers/microsoft.management/managementgroups/powershelltesting/providers/microsoft.authorization/policydefinitions/pstestmodifydefinition\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"e5a130f3-57fd-46b6-9c55-03d21a853935\",\r\n      \"resourceType\": \"Microsoft.Network/networkSecurityGroups\",\r\n      \"resourceLocation\": \"eastus\",\r\n      \"resourceGroup\": \"PSTestRG1\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"PSTestModifyAssignmentSub\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"\",\r\n      \"policyAssignmentScope\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935\",\r\n      \"policyDefinitionName\": \"PSTestModifyDefinition\",\r\n      \"policyDefinitionAction\": \"modify\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"\",\r\n      \"policySetDefinitionName\": \"\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"PowershellTesting,AzGovPerfTest,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"\",\r\n      \"complianceState\": \"NonCompliant\",\r\n      \"policyDefinitionGroupNames\": [\r\n        \"\"\r\n      ],\r\n      \"policyDefinitionVersion\": \"1.0.0\",\r\n      \"policySetDefinitionVersion\": \"\",\r\n      \"policyAssignmentVersion\": \"\",\r\n      \"complianceReasonCode\": \"\",\r\n      \"policyEvaluationDetails\": {\r\n        \"evaluatedExpressions\": [\r\n          {\r\n            \"result\": \"True\",\r\n            \"expressionKind\": \"Field\",\r\n            \"expression\": \"type\",\r\n            \"path\": \"type\",\r\n            \"expressionValue\": \"Microsoft.Network/networkSecurityGroups\",\r\n            \"targetValue\": \"Microsoft.Network/networkSecurityGroups\",\r\n            \"operator\": \"Equals\"\r\n          },\r\n          {\r\n            \"result\": \"True\",\r\n            \"expressionKind\": \"Field\",\r\n            \"expression\": \"name\",\r\n            \"path\": \"name\",\r\n            \"expressionValue\": \"pstests1\",\r\n            \"targetValue\": \"pstests*\",\r\n            \"operator\": \"Like\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "e5a130f3-57fd-46b6-9c55-03d21a853935"
  }
}