{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$top=10",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "597"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest\",\r\n  \"@odata.count\": 10,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity\",\r\n      \"timestamp\": \"2019-12-09T23:23:17.6603882Z\",\r\n      \"resourceId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/microsoft.keyvault/vaults/cleanupservice5\",\r\n      \"policyAssignmentId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/microsoft.authorization/policyassignments/d5489878355444ca921e197f\",\r\n      \"policyDefinitionId\": \"/providers/microsoft.authorization/policydefinitions/cf820ca0-f99e-4f3e-84fb-66e913812d21\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"0b40be06-04e8-4f70-abde-a502b2646fe8\",\r\n      \"resourceType\": \"/Microsoft.KeyVault/vaults\",\r\n      \"resourceLocation\": \"northcentralus\",\r\n      \"resourceGroup\": \"cleanupservice\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"d5489878355444ca921e197f\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"\",\r\n      \"policyAssignmentScope\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourceGroups/cleanupservice\",\r\n      \"policyDefinitionName\": \"cf820ca0-f99e-4f3e-84fb-66e913812d21\",\r\n      \"policyDefinitionAction\": \"auditifnotexists\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"\",\r\n      \"policySetDefinitionName\": \"\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"2PolicyTestMG,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"\",\r\n      \"complianceState\": \"NonCompliant\",\r\n      \"policyDefinitionGroupNames\": [\r\n        \"\"\r\n      ]\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity\",\r\n      \"timestamp\": \"2019-12-09T23:23:17.6603329Z\",\r\n      \"resourceId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/microsoft.keyvault/vaults/cleanupservice5\",\r\n      \"p[...]
