{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourcegroups/pstestrg9831?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/pstestrg9831\",\r\n  \"name\": \"pstestrg9831\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/pstestrg9831/providers/Microsoft.CognitiveServices/accounts/csapstestrg9831?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"kind\": \"OpenAI\",\r\n  \"sku\": {\r\n    \"name\": \"S0\"\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"properties\": {}\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "\"bc017be5-0000-0100-0000-6494bb970000\""
        ],
        "azure-asyncoperation": [
          "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/eastus/operationResults/3d09a6fb-e6fe-4132-a2de-50da825011a3?api-version=2017-04-18"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/pstestrg9831/providers/Microsoft.CognitiveServices/accounts/csapstestrg9831\",\r\n  \"name\": \"csapstestrg9831\",\r\n  \"type\": \"Microsoft.CognitiveServices/accounts\",\r\n  \"etag\": \"\\\"bc017be5-0000-0100-0000-6494bb970000\\\"\",\r\n  \"location\": \"eastus\",\r\n  \"sku\": {\r\n    \"name\": \"S0\"\r\n  },\r\n  \"kind\": \"OpenAI\",\r\n  \"properties\": {\r\n    \"endpoint\": \"https://eastus.api.cognitive.microsoft.com/\",\r\n    \"internalId\": \"a011e853565f40078e99591b0fb19d48\",\r\n    \"dateCreated\": \"2023-06-22T21:22:31.5827129Z\",\r\n    \"callRateLimit\": {\r\n      \"rules\": [\r\n        {\r\n          \"key\": \"openai.dalle.post\",\r\n          \"renewalPeriod\": 1,\r\n          \"count\": 30,\r\n          \"matchPatterns\": [\r\n            {\r\n              \"path\": \"dalle/*\",\r\n              \"method\": \"POST\"\r\n            },\r\n            {\r\n              \"path\": \"openai/images/*\",\r\n              \"method\": \"POST\"\r\n            }\r\n          ]\r\n        },\r\n        {\r\n          \"key\": \"openai.dalle.other\",\r\n          \"renewalPeriod\": 1,\r\n          \"count\": 30,\r\n          \"matchPatterns\": [\r\n            {\r\n              \"path\": \"dalle/*\",\r\n              \"method\": \"*\"\r\n            },\r\n            {\r\n              \"path\": \"openai/operations/images/*\",\r\n              \"method\": \"*\"\r\n            }\r\n          ]\r\n        },\r\n        {\r\n          \"key\": \"openai\",\r\n          \"renewalPeriod\": 1,\r\n          \"count\": 30,\r\n          \"matchPatterns\": [\r\n            {\r\n              \"path\": \"openai/*\",\r\n              \"method\": \"*\"\r\n            }\r\n          ]\r\n        },\r\n        {\r\n          \"key\": \"default\",\r\n          \"renewalPeriod\": 1,\r\n          \"count\": 30,\r\n          \"matchPatterns\": [\r\n            {\r\n              \"path\": \"*\",\r\n              \"method\": \"*\"\r\n            }\r\n          ]\r\n        }\r\n      ]\r\n    },\r\n    \"isMigrated\": false,\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"capabilities\": [\r\n      {\r\n        \"name\": \"VirtualNetworks\"\r\n      },\r\n      {\r\n        \"name\": \"CustomerManagedKey\"\r\n      },\r\n      {\r\n        \"name\": \"MaxFineTuneCount\",\r\n        \"value\": \"100\"\r\n      },\r\n      {\r\n        \"name\": \"MaxRunningFineTuneCount\",\r\n        \"value\": \"1\"\r\n      },\r\n      {\r\n        \"name\": \"MaxUserFileCount\",\r\n        \"value\": \"50\"\r\n      },\r\n      {\r\n        \"name\": \"MaxTrainingFileSize\",\r\n        \"value\": \"100000000\"\r\n      },\r\n      {\r\n        \"name\": \"MaxUserFileImportDurationInHours\",\r\n        \"value\": \"1\"\r\n      },\r\n      {\r\n        \"name\": \"MaxFineTuneJobDurationInHours\",\r\n        \"value\": \"720\"\r\n      },\r\n      {\r\n        \"name\": \"BypassBilling\"\r\n      },\r\n      {\r\n        \"name\": \"raiLevelOverride\"\r\n      }\r\n    ],\r\n    \"endpoints\": {\r\n      \"OpenAI Language Model Instance API\": \"https://eastus.api.cognitive.microsoft.com/\",\r\n      \"OpenAI Dall-E API\": \"https://eastus.api.cognitive.microsoft.com/\",\r\n      \"OpenAI Whisper API\": \"https://eastus.api.cognitive.microsoft.com/\"\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"50841d5f-166a-406c-8472-6800c9698b43\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2023-06-22T21:22:31.1452859Z\",\r\n    \"lastModifiedBy\": \"50841d5f-166a-406c-8472-6800c9698b43\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2023-06-22T21:22:31.1452859Z\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/eastus/operationResults/3d09a6fb-e6fe-4132-a2de-50da825011a3?api-version=2017-04-18",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/eastus/operationResults/3d09a6fb-e6fe-4132-a2de-50da825011a3\",\r\n  \"name\": \"3d09a6fb-e6fe-4132-a2de-50da825011a3\",\r\n  \"status\": \"Creating\",\r\n  \"startTime\": \"2023-06-22T21:22:31Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/eastus/operationResults/3d09a6fb-e6fe-4132-a2de-50da825011a3?api-version=2017-04-18",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/eastus/operationResults/3d09a6fb-e6fe-4132-a2de-50da825011a3\",\r\n  \"name\": \"3d09a6fb-e6fe-4132-a2de-50da825011a3\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2023-06-22T21:22:31Z\",\r\n  \"endTime\": \"2023-06-22T21:23:11Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/pstestrg9831/providers/Microsoft.CognitiveServices/accounts/csapstestrg9831/models?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"format\": \"OpenAI\",\r\n      \"name\": \"ada\",\r\n      \"version\": \"1\",\r\n      \"isDefaultVersion\": false,\r\n      \"skus\": [\r\n        {\r\n          \"name\": \"Standard\",\r\n          \"usageName\": \"OpenAI.Standard.ada\",\r\n          \"capacity\": {\r\n            \"maximum\": 10000,\r\n            \"default\": 120\r\n          },\r\n          \"deprecationDate\": \"2024-03-01T00:00:00Z\",\r\n          \"ratelimits\": [\r\n            {\r\n              \"key\": \"request\",\r\n              \"renewalPeriod\": 10,\r\n              \"count\": 1\r\n            },\r\n            {\r\n              \"key\": \"token\",\r\n              \"renewalPeriod\": 60,\r\n              \"count\": 1000\r\n            }\r\n          ]\r\n        }\r\n      ],\r\n      \"maxCapacity\": 3,\r\n      \"capabilities\": {\r\n        \"fineTune\": \"true\",\r\n        \"inference\": \"false\",\r\n        \"scaleType\": \"Manual\",\r\n        \"completion\": \"true\",\r\n        \"search\": \"true\",\r\n        \"FineTuneTokensMaxValue\": \"2000000000\"\r\n      },\r\n      \"finetuneCapabilities\": {\r\n        \"scaleType\": \"Manual,Standard\",\r\n        \"completion\": \"true\",\r\n        \"search\": \"true\",\r\n        \"FineTuneTokensMaxValue\": \"2000000000\"\r\n      },\r\n      \"deprecation\": {\r\n        \"fineTune\": \"2024-03-01T00:00:00Z\",\r\n        \"inference\": \"2024-03-01T00:00:00Z\"\r\n      },\r\n      \"lifecycleStatus\": \"Preview\",\r\n      \"systemData\": {\r\n        \"createdBy\": \"Microsoft\",\r\n        \"createdAt\": \"2022-03-01T00:00:00Z\",\r\n        \"lastModifiedBy\": \"Microsoft\",\r\n        \"lastModifiedAt\": \"2022-03-01T00:00:00Z\"\r\n      },\r\n      \"canBeDeployed\": true\r\n    },\r\n    {\r\n      \"format\": \"OpenAI\",\r\n      \"name\": \"babbage\",\r\n      \"version\": \"1\",\r\n      \"isDefaultVersion\": false,\r\n      \"skus\": [\r\n        {\r\n          \"name\": \"Standard\",\r\n          \"usageName\": \"OpenAI.Standard.babbage\",\r\n          \"capacity\": {\r\n            \"maximum\": 10000,\r\n            \"default\": 120\r\n          },\r\n          \"deprecationDate\": \"2024-03-01T00:00:00Z\",\r\n          \"ratelimits\": [\r\n         [...]
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourcegroups/pstestrg9831?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzk4MzEtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzk4MzEtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzk4MzEtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzk4MzEtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-ListModels": [
      "pstestrg9831"
    ]
  },
  "Variables": {
    "SubscriptionId": "f9b96b36-1f5e-4021-8959-51527e26e6d3"
  }
}