{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourcegroups/pstestrg5800?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US EUAP\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/pstestrg5800\",\r\n  \"name\": \"pstestrg5800\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/pstestrg5800/providers/Microsoft.CognitiveServices/accounts/csapstestrg5800?api-version=2022-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"kind\": \"TextAnalytics\",\r\n  \"sku\": {\r\n    \"name\": \"S2\"\r\n  },\r\n  \"location\": \"Central US EUAP\",\r\n  \"properties\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"02006421-0000-3300-0000-623cda7f0000\""
        ],
        "azure-asyncoperation": [
          "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/Central US EUAP/operationResults/236b0f30-0481-4d9a-b49b-e874aa03c099?api-version=2017-04-18"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/pstestrg5800/providers/Microsoft.CognitiveServices/accounts/csapstestrg5800\",\r\n  \"name\": \"csapstestrg5800\",\r\n  \"type\": \"Microsoft.CognitiveServices/accounts\",\r\n  \"etag\": \"\\\"02006421-0000-3300-0000-623cda7f0000\\\"\",\r\n  \"location\": \"Central US EUAP\",\r\n  \"sku\": {\r\n    \"name\": \"S2\"\r\n  },\r\n  \"kind\": \"TextAnalytics\",\r\n  \"properties\": {\r\n    \"endpoint\": \"https://centraluseuap.api.cognitive.microsoft.com/\",\r\n    \"internalId\": \"d91c3f54ceca4f53a5dc6f4955b9b34e\",\r\n    \"dateCreated\": \"2022-03-24T20:54:23.085546Z\",\r\n    \"apiProperties\": {\r\n      \"qnaAzureSearchEndpointKey\": null\r\n    },\r\n    \"backupUpperLimit\": 20,\r\n    \"isMigrated\": false,\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"capabilities\": [\r\n      {\r\n        \"name\": \"VirtualNetworks\"\r\n      },\r\n      {\r\n        \"name\": \"CustomerManagedKey\"\r\n      },\r\n      {\r\n        \"name\": \"Container\",\r\n        \"value\": \"TextAnalytics.*,TextAnalytics.Healthcare,TextAnalytics.HealthcareFhir,TextAnalytics.Keyphrase,TextAnalytics.KeyphraseV2,TextAnalytics.KeyPhraseONNX,TextAnalytics.LanguageFastText,TextAnalytics.Language,TextAnalytics.LanguageV2,TextAnalytics.Sentiment,TextAnalytics.SentimentV2,TextAnalytics.SentimentV3,TextAnalytics.SentimentV3Preview\"\r\n      },\r\n      {\r\n        \"name\": \"Cloud\",\r\n        \"value\": \"QuestionAnswer.AllApis,LanguageService.QuestionAnsweringApis\"\r\n      }\r\n    ],\r\n    \"endpoints\": {\r\n      \"Text Analytics\": \"https://centraluseuap.api.cognitive.microsoft.com/\",\r\n      \"LanguageAuthoring\": \"https://centraluseuap.api.cognitive.microsoft.com/\",\r\n      \"ConversationalLanguageUnderstanding\": \"https://centraluseuap.api.cognitive.microsoft.com/\",\r\n      \"Custom Text Authoring Internal APIs\": \"https://centraluseuap.api.cognitive.microsoft.com/\",\r\n      \"Conversational Language Understanding Authoring Internal APIs\": \"https://centraluseuap.api.cognitive.microsoft.com/\",\r\n      \"Custom Text Authoring\": \"https://centraluseuap.api.cognitive.microsoft.com/\",\r\n      \"Conversational Language Understanding Authoring\": \"https://centraluseuap.api.cognitive.microsoft.com/\",\r\n      \"ConversationalLURuntime\": \"https://centraluseuap.api.cognitive.microsoft.com/\",\r\n      \"Language\": \"https://centraluseuap.api.cognitive.microsoft.com/\",\r\n      \"QnAMaker\": \"https://centraluseuap.api.cognitive.microsoft.com/\",\r\n      \"turing\": \"https://centraluseuap.api.cognitive.microsoft.com/\",\r\n      \"Turing DeepWrite\": \"https://centraluseuap.api.cognitive.microsoft.com/\",\r\n      \"QuestionAnswering\": \"https://centraluseuap.api.cognitive.microsoft.com/\",\r\n      \"QuestionAnsweringBizQA\": \"https://centraluseuap.api.cognitive.microsoft.com/\",\r\n      \"QuestionAnsweringQnAGen\": \"https://centraluseuap.api.cognitive.microsoft.com/\",\r\n      \"LUIS.Authoring\": \"https://centraluseuap.api.cognitive.microsoft.com/\"\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"50841d5f-166a-406c-8472-6800c9698b43\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2022-03-24T20:54:22.8001958Z\",\r\n    \"lastModifiedBy\": \"50841d5f-166a-406c-8472-6800c9698b43\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2022-03-24T20:54:22.8001958Z\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/pstestrg5800/providers/Microsoft.CognitiveServices/accounts/csapstestrg5800?api-version=2022-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US EUAP\",\r\n  \"properties\": {\r\n    \"restore\": true\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"02007821-0000-3300-0000-623cdac50000\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f9b96b36-1f5e-4021-8959-51[...]
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/Central%20US%20EUAP/operationResults/236b0f30-0481-4d9a-b49b-e874aa03c099?api-version=2017-04-18",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/Central US EUAP/operationResults/236b0f30-0481-4d9a-b49b-e874aa03c099\",\r\n  \"name\": \"236b0f30-0481-4d9a-b49b-e874aa03c099\",\r\n  \"status\": \"Creating\",\r\n  \"startTime\": \"2022-03-24T20:54:23Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/Central%20US%20EUAP/operationResults/236b0f30-0481-4d9a-b49b-e874aa03c099?api-version=2017-04-18",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/Central US EUAP/operationResults/236b0f30-0481-4d9a-b49b-e874aa03c099\",\r\n  \"name\": \"236b0f30-0481-4d9a-b49b-e874aa03c099\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2022-03-24T20:54:23Z\",\r\n  \"endTime\": \"2022-03-24T20:54:55Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/deletedAccounts?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "a01380de-c22b-4b02-a53b-9119260aacc9",
          "57788f33-322e-4304-a4ad-97fa4fe22b8d",
          "a59db926-8219-41e9-92a3-6bcaf48bd269",
          "324b4d61-dc52-4eb1-8cd0-b883ebffb753",
          "1c57c25a-4b24-4bff-80fa-1977e58f550c",
          "fea7b55f-9068-48fd-8ffd-708f79822b33",
          "2b5b6595-4b6f-4902-9cf9-df5ac37cd42c",
          "ad238122-70ae-4c76-b1de-24b24e9d103a",
          "0a22a78e-6e8a-405b-a7b0-3a6afe6f3411",
          "ffffb4cb-d196-41b7-a9fb-3f17e95ffd86[...]
[...]
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/Central%20US%20EUAP/resourceGroups/pstestrg5800/deletedAccounts/csapstestrg5800?api-version=2022-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=ut[...]
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/Central%20US%20EUAP/resourceGroups/pstestrg5800/deletedAccounts/csapstestrg5800?api-version=2022-03-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/Central%20US%20EUAP/operationResults/4cdcced7-3c26-4c33-86ce-3f89b798f277?api-version=2017-04-18&operationResultResponseType=Location"
        ],
        "azure-asyncoperation": [
          "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/Central%20US%20EUAP/operationResults/4cdcced7-3c26-4c33-86ce-3f89b798f277?api-version=2017-04-18"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14997"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/Central%20US%20EUAP/operationResults/4cdcced7-3c26-4c33-86ce-3f89b798f277?api-version=2017-04-18&operationResultResponseType=Location",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourcegroups/pstestrg5800?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzU4MDAtQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzU4MDAtQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzU4MDAtQ0VOVFJBTFVTRVVBUCIsImpvYkxvY2F0aW9uIjoiY2VudHJhbHVzZXVhcCJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-SoftDelete": [
      "pstestrg5800"
    ]
  },
  "Variables": {
    "SubscriptionId": "f9b96b36-1f5e-4021-8959-51527e26e6d3"
  }
}