{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/skus?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"name\": \"C2\",\r\n      \"tier\": \"Standard\",\r\n      \"kind\": \"TextTranslation\",\r\n      \"locations\": [\r\n        \"AUSTRALIAEAST\"\r\n      ],\r\n      \"locationInfo\": [\r\n        {\r\n          \"location\": \"AUSTRALIAEAST\",\r\n          \"zones\": [],\r\n          \"zoneDetails\": []\r\n        }\r\n      ],\r\n      \"restrictions\": []\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"name\": \"C2\",\r\n      \"tier\": \"Standard\",\r\n      \"kind\": \"TextTranslation\",\r\n      \"locations\": [\r\n        \"BRAZILSOUTH\"\r\n      ],\r\n      \"locationInfo\": [\r\n        {\r\n          \"location\": \"BRAZILSOUTH\",\r\n          \"zones\": [],\r\n          \"zoneDetails\": []\r\n        }\r\n      ],\r\n      \"restrictions\": []\r\n    },\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      [...]
[...]
