{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices\",\r\n  \"namespace\": \"Microsoft.CognitiveServices\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"7d312290-28c8-473c-a0ed-8e53749b6d6d\",\r\n      \"roleDefinitionId\": \"5cb87f79-a7c3-4a95-9414-45b65974b51b\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"locations\": [\r\n        \"Global\",\r\n        \"Australia East\",\r\n        \"Brazil South\",\r\n        \"West US\",\r\n        \"West US 2\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\",\r\n        \"West Central US\",\r\n        \"South Central US\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"Canada Central\",\r\n        \"Japan East\",\r\n        \"Central India\",\r\n        \"UK South\",\r\n        \"Japan West\",\r\n        \"Korea Central\",\r\n        \"France Central\",\r\n        \"North Central US\",\r\n        \"Central US\",\r\n        \"South Africa North\",\r\n        \"UAE North\",\r\n        \"Sweden Central\",\r\n        \"Switzerland North\",\r\n        \"Switzerland West\",\r\n        \"Germany West Central\",\r\n        \"Norway East\",\r\n        \"West US 3\",\r\n        \"Jio India West\",\r\n        \"Qatar Central\",\r\n        \"Canada East\",\r\n        \"Poland central\",\r\n        \"South India\",\r\n        \"Italy North\",\r\n        \"Spain Central\",\r\n        \"UK West\",\r\n        \"Jio India Central\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2024-10-01\",\r\n        \"2024-06-01-preview\",\r\n        \"2024-04-01-preview\",\r\n        \"2023-10-01-preview\",\r\n        \"2023-06-01-preview\",\r\n        \"2023-05-01\",\r\n        \"2022-12-01\",\r\n        \"2022-10-01\",\r\n        \"2022-03-01\",\r\n        \"2021-10-01\",\r\n        \"2021-04-30\",\r\n        \"2017-04-18\",\r\n        \"2016-02-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity\"\r\n    },\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locations\": [\r\n        \"Global\",\r\n        \"Australia East\",\r\n        \"Brazil South\",\r\n        \"West US\",\r\n        \"West US 2\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\",\r\n        \"West Central US\",\r\n        \"South Central US\",\r[...]
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourcegroups/pstestrg225?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/pstestrg225\",\r\n  \"name\": \"pstestrg225\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/pstestrg225/providers/Microsoft.CognitiveServices/accounts/csapstestrg225?api-version=2024-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"kind\": \"TextAnalytics\",\r\n  \"sku\": {\r\n    \"name\": \"S2\"\r\n  },\r\n  \"location\": \"West Central US\",\r\n  \"properties\": {\r\n    \"customSubDomainName\": \"csapstestrg225\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "\"020059cc-0000-0600-0000-6792cd400000\""
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/West%20Central%20US/operationResults/ddf1c426-dc39-412c-bd5b-db3bfddcb157?api-version=2017-04-18&t=638732708484539964&c=MIIHhzCCBm-gAwIBAgITfAWKQTwBhttpMSs06wAABYpBPDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTI0MDEzODIxWhcNMjUwMzIzMDEzODIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbn[...]
[...]
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/West%20Central%20US/operationResults/ddf1c426-dc39-412c-bd5b-db3bfddcb157?api-version=2017-04-18&t=638732708484539964&c=MIIHhzCCBm-gAwIBAgITfAWKQTwBhttpMSs06wAABYpBPDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTI0MDEzODIxWhcNMjUwMzIzMDEzODIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0a[...]
[...]
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/pstestrg225/providers/Microsoft.CognitiveServices/accounts/csapstestrg225?api-version=2024-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "\"02006acc-0000-0600-0000-6792cd5f0000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/pstestrg225/providers/Microsoft.CognitiveServices/accounts/csapstestrg225\",\r\n  \"name\": \"csapstestrg225\",\r\n  \"type\": \"Microsoft.CognitiveServices/accounts\",\r\n  \"etag\": \"\\\"02006acc-0000-0600-0000-6792cd5f0000\\\"\",\r\n  \"location\": \"West Central US\",\r\n  \"sku\": {\r\n    \"name\": \"S2\"\r\n  },\r\n  \"kind\": \"TextAnalytics\",\r\n  \"properties\": {\r\n    \"endpoint\": \"https://csapstestrg225.cognitiveservices.azure.com/\",\r\n    \"internalId\": \"2f61638abec44600b0c4e85ecc2b8912\",\r\n    \"dateCreated\": \"2025-01-23T23:14:04.066089Z\",\r\n    \"apiProperties\": {\r\n      \"qnaAzureSearchEndpointKey\": null\r\n    },\r\n    \"isMigrated\": false,\r\n    \"customSubDomainName\": \"csapstestrg225\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"capabilities\": [\r\n      {\r\n        \"name\": \"VirtualNetworks\"\r\n      },\r\n      {\r\n        \"name\": \"CustomerManagedKey\"\r\n      },\r\n      {\r\n        \"name\": \"Container\",\r\n        \"value\": \"TextAnalytics.*,TextAnalytics.Healthcare,TextAnalytics.HealthcareFhir,TextAnalytics.EntityV3,TextAnalytics.EntityONNX,TextAnalytics.Keyphrase,TextAnalytics.KeyphraseV2,TextAnalytics.KeyPhraseONNX,TextAnalytics.LanguageFastText,TextAnalytics.Language,TextAnalytics.LanguageV2,TextAnalytics.Sentiment,TextAnalytics.SentimentV2,TextAnalytics.SentimentV3,TextAnalytics.SentimentV3Preview,TextAnalytics.SentimentONNX,TextAnalytics.CustomNER,TextAnalytics.textanalyticsdispatcher,TextAnalytics.SummarizationFrontend,TextAnalytics.SummarizationWorker,TextAnalytics.PII,TextAnalytics.CluRuntime,TextAnalytics.NER\"\r\n      },\r\n      {\r\n        \"name\": \"Cloud\",\r\n        \"value\": \"QuestionAnswer.AllApis,LanguageService.QuestionAnsweringApis\"\r\n      }\r\n    ],\r\n    \"endpoints\": {\r\n      \"Text Analytics\": \"https://csapstestrg225.cognitiveservices.azure.com/\",\r\n      \"Custom Text Authoring\": \"https://csapstestrg225.cognitiveservices.azure.com/\",\r\n      \"Conversational Language Understanding Authoring\": \"https://csapstestrg225.cognitiveservices.azure.com/\",\r\n      \"Custom Question Answering Authoring\": \"https://csapstestrg225.cognitiveservices.azure.com/\",\r\n      \"Custom Question Answering\": \"https://csapstestrg225.cognitiveservices.azure.com/\",\r\n      \"ConversationalLURuntime\": \"https://csapstestrg225.cognitiveservices.azure.com/\",\r\n      \"Language\": \"https://csapstestrg225.cognitiveservices.azure.com/\",\r\n      \"QnAMaker\": \"https://csapstestrg225.cognitiveservices.azure.com/\",\r\n      \"Turing\": \"https://csapstestrg225.cognitiveservices.azure.com/\",\r\n      \"QuestionAnswering\": \"https://csapstestrg225.cognitiveservices.azure.com/\",\r\n      \"LUIS\": \"https://csapstestrg225.cognitiveservices.azure.com/\",\r\n      \"Container\": \"https://csapstestrg225.cognitiveservices.azure.com/\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"tianxinliu@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2025-01-23T23:14:03.1414924Z\",\r\n    \"lastModifiedBy\": \"tianxinliu@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2025-01-23T23:14:03.1414924Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/West%20Central%20US/operationResults/5a071bc9-fe75-4645-9f4e-5c07ff6127a3?api-version=2017-04-18&t=638732709146465146&c=MIIHpTCCBo2gAwIBAgITfwTVOORCmB4_WExtiQAEBNU45DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIxMjIzMjM2WhcNMjUwNzIwMjIzMjM2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0a[...]
[...]
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourcegroups/pstestrg225?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzIyNS1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-09-01&t=638732709548502887&c=MIIHpTCCBo2gAwIBAgITfwTVOORCmB4_WExtiQAEBNU45DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIxMjIzMjM2WhcNMjUwNzIwMjIzMjM2WjBAMT4wPAYDVQQDEzV[...]
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzIyNS1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-09-01&t=638732709548502887&c=MIIHpTCCBo2gAwIBAgITfwTVOORCmB4_WExtiQAEBNU45DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIxMjIzMjM2WhcNMjUwNzIwMjIzMjM2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdG[...]
[...]
