{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices\",\r\n  \"namespace\": \"Microsoft.CognitiveServices\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"7d312290-28c8-473c-a0ed-8e53749b6d6d\",\r\n      \"roleDefinitionId\": \"5cb87f79-a7c3-4a95-9414-45b65974b51b\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"accounts\",\r\n      \"locations\": [\r\n        \"Global\",\r\n        \"Australia East\",\r\n        \"Brazil South\",\r\n        \"West US\",\r\n        \"West US 2\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\",\r\n        \"West Central US\",\r\n        \"South Central US\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"Canada Central\",\r\n        \"Japan East\",\r\n        \"Central India\",\r\n        \"UK South\",\r\n        \"Japan West\",\r\n        \"Korea Central\",\r\n        \"France Central\",\r\n        \"North Central US\",\r\n        \"Central US\",\r\n        \"South Africa North\",\r\n        \"UAE North\",\r\n        \"Sweden Central\",\r\n        \"Switzerland North\",\r\n        \"Switzerland West\",\r\n        \"Germany West Central\",\r\n        \"Norway East\",\r\n        \"West US 3\",\r\n        \"Jio India West\",\r\n        \"Qatar Central\",\r\n        \"Canada East\",\r\n        \"Poland central\",\r\n        \"South India\",\r\n        \"Italy North\",\r\n        \"Spain Central\",\r\n        \"UK West\",\r\n        \"Jio India Central\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2024-10-01\",\r\n        \"2024-06-01-preview\",\r\n        \"2024-04-01-preview\",\r\n        \"2023-10-01-preview\",\r\n        \"2023-06-01-preview\",\r\n        \"2023-05-01\",\r\n        \"2022-12-01\",\r\n        \"2022-10-01\",\r\n        \"2022-03-01\",\r\n        \"2021-10-01\",\r\n        \"2021-04-30\",\r\n        \"2017-04-18\",\r\n        \"2016-02-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SystemAssignedResourceIdentity\"\r\n    },\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locations\": [\r\n        \"Global\",\r\n        \"Australia East\",\r\n        \"Brazil South\",\r\n        \"West US\",\r\n        \"West US 2\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\",\r\n        \"West Central US\",\r\n        \"South Central US\",\r[...]
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourcegroups/pstestrg328?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/pstestrg328\",\r\n  \"name\": \"pstestrg328\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/eastus/models?api-version=2024-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/EastUS/models/OpenAI.dall-e-3.3.0\",\r\n      \"type\": \"Microsoft.CognitiveServices/locations/models\",\r\n      \"name\": \"OpenAI.dall-e-3.3.0\",\r\n      \"location\": \"EastUS\",\r\n      \"kind\": \"OpenAI\",\r\n      \"skuName\": \"S0\",\r\n      \"model\": {\r\n        \"format\": \"OpenAI\",\r\n        \"name\": \"dall-e-3\",\r\n        \"version\": \"3.0\",\r\n        \"isDefaultVersion\": true,\r\n        \"skus\": [\r\n          {\r\n            \"name\": \"Standard\",\r\n            \"usageName\": \"OpenAI.Standard.Dalle\",\r\n            \"capacity\": {\r\n              \"maximum\": 1000,\r\n              \"default\": 1\r\n            },\r\n            \"deprecationDate\": \"2025-04-30T00:00:00Z\",\r\n            \"rateLimits\": [\r\n              {\r\n                \"key\": \"request\",\r\n                \"renewalPeriod\": 60,\r\n                \"count\": 3\r\n              }\r\n            ]\r\n          },\r\n          {\r\n            \"name\": \"Provisioned\",\r\n            \"usageName\": \"OpenAI.Provisioned.Dalle\",\r\n            \"capacity\": {\r\n              \"minimum\": 100,\r\n              \"maximum\": 6000,\r\n              \"step\": 100,\r\n              \"default\": 300\r\n            },\r\n            \"deprecationDate\": \"2025-04-30T00:00:00Z\",\r\n            \"costs\": [\r\n              {\r\n                \"name\": \"Hosting\",\r\n                \"meterId\": \"ad2b8d29-d6bd-5327-9a0b-e2e53fab0d32\",\r\n                \"unit\": \"1 Unit/Hour\"\r\n              }\r\n            ]\r\n          }\r\n        ],\r\n        \"maxCapacity\": 2,\r\n        \"capabilities\": {\r\n          \"inference\": \"true\",\r\n          \"imageGenerations\": \"true\",\r\n          \"imageEdits\": \"true\",\r\n          \"imageVariations\": \"true\"\r\n        },\r\n        \"deprecation\": {\r\n          \"inference\": \"2025-04-30T00:00:00Z\"\r\n        },\r\n        \"lifecycleStatus\": \"Preview\",\r\n        \"systemData\": {\r\n          \"createdBy\": \"Microsoft\",\r\n          \"createdAt\": \"2023-08-11T00:00:00Z\",\r\n          \"lastModifiedBy\": \"Microsoft\",\r\n          \"lastModifiedAt\": \"2023-08-11T00:00:00Z\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/providers/Microsoft.CognitiveServices/locations/EastUS/models/OpenAI.dall-e-2.2.0\",\r\n      \"type\": \"Microsoft.CognitiveServices/locations/models\",\r\n      \"name\": \"OpenAI.dall-e-2.2.0\",\r\n      \"location\": \"EastUS\",\r\n      \"kind\": \"OpenAI\",\r\n      \"skuName\": \"S0\",\r\n      \"model\": {\r\n        \"format\": \"OpenAI\",\r\n      [...]
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourcegroups/pstestrg328?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzMyOC1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2016-09-01&t=638732724640769175&c=MIIHhzCCBm-gAwIBAgITfAWKQTwBhttpMSs06wAABYpBPDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTI0MDEzODIxWhcNMjUwMzIzMDEzODIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbn[...]
    {
      "RequestUri": "/subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzMyOC1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2016-09-01&t=638732724640769175&c=MIIHhzCCBm-gAwIBAgITfAWKQTwBhttpMSs06wAABYpBPDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTI0MDEzODIxWhcNMjUwMzIzMDEzODIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0a[...]
[...]
