{
  "Entries": [
    {
      "RequestUri": "/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a\",\r\n      \"roleDefinitionId\": \"18363e25-ff21-4159-ae8d-7dfecb5bd001\"\r\n    },\r\n    {\r\n      \"applicationId\": \"40c49ff3-c6ae-436d-b28e-b8e268841980\",\r\n      \"roleDefinitionId\": \"d4d2d679-cce0-429d-9a3b-17118c035f66\"\r\n    },\r\n    {\r\n      \"applicationId\": \"d66e9e8e-53a4-420c-866d-5bb39aaea675\",\r\n      \"roleDefinitionId\": \"d4d2d679-cce0-429d-9a3b-17118c035f66\"\r\n    },\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-[...]
    {
      "RequestUri": "/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/resourcegroups/ps4273?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"eastus2euap\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/resourceGroups/ps4273\",\r\n  \"name\": \"ps4273\",\r\n  \"location\": \"eastus2euap\",\r\n  \"tags\": {\r\n    \"Created\": \"2026-08-13T17:31:39.5361717Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/resourceGroups/ps4273/providers/Microsoft.Network/interconnectGroups/ps5504?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/interconnectGroups/ps5504' under resource group 'ps4273' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/resourceGroups/ps4273/providers/Microsoft.Network/interconnectGroups/ps5504?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"b7328cef-b28a-4c07-bfc2-4d270e919638\""
        ],
        "x-ms-throttle-levels": [
          "operationRatePct=0.2, operationConcurrencyPct=0.7, subscriptionReadRatePct=0.2, etc"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1098"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16498"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5504\",\r\n  \"id\": \"/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/resourceGroups/ps4273/providers/Microsoft.Network/interconnectGroups/ps5504\",\r\n  \"etag\": \"W/\\\"b7328cef-b28a-4c07-bfc2-4d270e919638\\\"\",\r\n  \"type\": \"Microsoft.Network/interconnectGroups\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"173d2e97-dc0f-4dcf-b5a8-d880eb6206f7\",\r\n    \"scope\": \"InfiniBand\",\r\n    \"subgroupProfile\": {\r\n      \"vmSize\": \"Standard_ND128isr_GB300_v6\",\r\n      \"scope\": \"VerticalConnect\",\r\n      \"size\": 18\r\n    },\r\n    \"subgroups\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/resourceGroups/ps4273/providers/Microsoft.Network/interconnectGroups/ps5504?api-version=2025-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttle-levels": [
          "operationConcurrencyPct=0.3, subscriptionWriteRatePct=0.8, etc"
        ],
        "x-ms-throttling-version": [
          "v2"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "799"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/resourcegroups/ps4273?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzQyNzMtRUFTVFVTMkVVQVAiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czJldWFwIiwiam9iU3RvcmFnZUFjY291bnQiOiIvY3NtL3N0b3JhZ2VhY2NvdW50cy9nbG9iYWwvcnBmZGxqb2IwMHByb2RibmV1YXAwNyJ9?api-version=2016-09-01&t=639222391031150222&c=MIIHlDCCBnygAwIBAgIQZiYkoV_LM7Hwt06_u_DzJDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBID[...]
    {
      "RequestUri": "/subscriptions/5833e0eb-b53c-4156-b478-2eac8f04aec6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzQyNzMtRUFTVFVTMkVVQVAiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czJldWFwIiwiam9iU3RvcmFnZUFjY291bnQiOiIvY3NtL3N0b3JhZ2VhY2NvdW50cy9nbG9iYWwvcnBmZGxqb2IwMHByb2RibmV1YXAwNyJ9?api-version=2016-09-01&t=639222391031150222&c=MIIHlDCCBnygAwIBAgIQZiYkoV_LM7Hwt06_u_DzJDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQxM[...]
[...]
