{
  "Entries": [
    {
      "RequestUri": "/subscriptions/bab08e11-7b12-4354-9fd1-4b5d64d40b68/resourceGroups/Api-Default-East-US/providers/Microsoft.ApiManagement/service/hydraapimservice9895/apis/onesdk8984?api-version=2016-10-10&path=soapapifromFile&wsdlServiceName=Weather&wsdlEndpointName=WeatherSoap&apiType=Http",
      "RequestMethod": "PUT",
      "RequestBody": "<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://ws.cdyne.com/WeatherWS/\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://ws.cdyne.com/WeatherWS/\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\" targetNamespace=\"http://ws.cdyne.com/WeatherWS/\">\r\n      <s:element name=\"GetWeatherInformation\">\r\n        <s:complexType />\r\n      </s:element>\r\n      <s:element name=\"GetWeatherInformationResponse\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"GetWeatherInformationResult\" type=\"tns:ArrayOfWeatherDescription\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n      <s:complexType name=\"ArrayOfWeatherDescription\">\r\n        <s:sequence>\r\n          <s:element minOccurs=\"0\" maxOccurs=\"unbounded\" name=\"WeatherDescription\" type=\"tns:WeatherDescription\" />\r\n        </s:sequence>\r\n      </s:complexType>\r\n      <s:complexType[...]
    {
      "RequestUri": "/subscriptions/bab08e11-7b12-4354-9fd1-4b5d64d40b68/resourceGroups/Api-Default-East-US/providers/Microsoft.ApiManagement/service/hydraapimservice9895/apis/onesdk8984?api-version=2016-10-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/apis/onesdk8984\",\r\n  \"name\": \"Weather\",\r\n  \"description\": null,\r\n  \"serviceUrl\": \"http://wsf.cdyne.com/WeatherWS/Weather.asmx\",\r\n  \"path\": \"soapapifromFile\",\r\n  \"protocols\": [\r\n    \"https\"\r\n  ],\r\n  \"authenticationSettings\": {\r\n    \"oAuth2\": null,\r\n    \"openid\": null\r\n  },\r\n  \"subscriptionKeyParameterNames\": {\r\n    \"header\": \"Ocp-Apim-Subscription-Key\",\r\n    \"query\": \"subscription-key\"\r\n  },\r\n  \"type\": \"soap\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ],
        "ETag": [
          "\"AAAAAAAAD6E=\""
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/bab08e11-7b12-4354-9fd1-4b5d64d40b68/resourceGroups/Api-Default-East-US/providers/Microsoft.ApiManagement/service/hydraapimservice9895/apis/onesdk605?api-version=2016-10-10&path=soapapifromUrl&wsdlServiceName=StockQuote&wsdlEndpointName=StockQuoteSoap&apiType=Http",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"link\": \"http://www.webservicex.net/stockquote.asmx?WSDL\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/vnd.ms.wsdl.link+xml"
        ],
        "If-Match": [
          "*"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/bab08e11-7b12-4354-9fd1-4b5d64d40b68/resourceGroups/Api-Default-East-US/providers/Microsoft.ApiManagement/service/hydraapimservice9895/apis/onesdk605?api-version=2016-10-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "<wsdl:definitions xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:tns=\"http://www.webserviceX.NET/\" targetNamespace=\"http://www.webserviceX.NET/\">\r\n  <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\" targetNamespace=\"http://www.webserviceX.NET/\" xmlns:apim-wsdltns=\"http://www.webserviceX.NET/\" xmlns:s=\"http://www.w3.org/2001/XMLSchema\">\r\n      <s:element name=\"GetQuote\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"symbol\" type=\"s:string\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n      <s:element name=\"GetQuoteResponse\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"GetQuoteResult\" type=\"s:string\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n      <s:element name=\"string\" nillable=\"true\" type=\"s:string\" />\r\n    </s:schema>\r\n  </wsdl:types>\r\n  <wsdl:message name=\"GetQuote_InputMessage\">\r\n    <wsdl:part name=\"parameters\" element=\"tns:GetQuote\" />\r\n  </wsdl:message>\r\n  <wsdl:message name=\"GetQuote_OutputMessage\">\r\n    <wsdl:part name=\"parameters\" element=\"tns:GetQuoteResponse\" />\r\n  </wsdl:message>\r\n  <wsdl:portType name=\"StockQuote\">\r\n    <wsdl:operation name=\"GetQuote\">\r\n      <wsdl:input message=\"tns:GetQuote_InputMessage\" />\r\n      <wsdl:output message=\"tns:GetQuote_OutputMessage\" />\r\n    </wsdl:operation>\r\n  </wsdl:portType>\r\n  <wsdl:binding name=\"StockQuote\" type=\"tns:StockQuote\">\r\n    <binding transport=\"http://schemas.xmlsoap.org/soap/http\" xmlns=\"http://schemas.xmlsoap.org/wsdl/soap/\" />\r\n    <wsdl:operation name=\"GetQuote\">\r\n      <soap:operation soapAction=\"http://www.webserviceX.NET/GetQuote\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" />\r\n      <wsdl:input>\r\n        <soap:body use=\"literal\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" />\r\n      </wsdl:input>\r\n      <wsdl:output>\r\n        <soap:body use=\"literal\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" />\r\n      </wsdl:output>\r\n    </wsdl:operation>\r\n  </wsdl:binding>\r\n  <wsdl:service name=\"StockQuote\">\r\n    <wsdl:port name=\"StockQuote\" binding=\"tns:StockQuote\">\r\n      <address location=\"https://hydraapimservice9895.azure-api.net/soapapifromUrl\" xmlns=\"http://schemas.xmlsoap.org/wsdl/soap/\" />\r\n    </wsdl:port>\r\n  </wsdl:service>\r\n</wsdl:definitions>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/wsdl+xml; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14989"
        ],
        "ETag": [
          "\"AAAAAAAAD6c=\""
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/bab08e11-7b12-4354-9fd1-4b5d64d40b68/resourceGroups/Api-Default-East-US/providers/Microsoft.ApiManagement/service/hydraapimservice9895/apis/onesdk605?api-version=2016-10-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "If-Match": [
          "*"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "": [
      "onesdk8984",
      "onesdk605"
    ]
  },
  "Variables": {
    "SubscriptionId": "bab08e11-7b12-4354-9fd1-4b5d64d40b68"
  }
}