{
  "Entries": [
    {
      "RequestUri": "/subscriptions/bab08e11-7b12-4354-9fd1-4b5d64d40b68/resourceGroups/Api-Default-East-US/providers/Microsoft.ApiManagement/service/hydraapimservice9895/tenant/access/git?api-version=2016-07-07",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"57dd82ef7392b30085030004\",\r\n  \"primaryKey\": \"VkiGE/zvCZAbOhb/ra2BFvzEyRnvVocK7JtZ3AJLR1ZEw+V+Fqc2yQTL+ws2DKxu3CQTdxIRUW3+5OEqoPZB7w==\",\r\n  \"secondaryKey\": \"KmZtLy1rPNVwNEEHEQPkCjOyC9jQnnCXy2vu/COa5PaRa5EkC9AeK36mX+7Fvwiz8z6cBwLXRm2vR4bI7ONQiw==\",\r\n  \"enabled\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14973"
        ],
        "ETag": [
          "\"AAAAAAAAB9kAAAAAAAAAAA==\""
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/bab08e11-7b12-4354-9fd1-4b5d64d40b68/resourceGroups/Api-Default-East-US/providers/Microsoft.ApiManagement/service/hydraapimservice9895/tenant/configuration/syncState?api-version=2016-07-07",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"branch\": \"master\",\r\n  \"commitId\": \"50fa756c45d34f0818f1119775298a64b872a900\",\r\n  \"isExport\": false,\r\n  \"isSynced\": false,\r\n  \"isGitEnabled\": true,\r\n  \"syncDate\": \"2016-09-17T18:41:11.7453019Z\",\r\n  \"configurationChangeDate\": \"2016-09-20T01:31:29.4974576Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14972"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/bab08e11-7b12-4354-9fd1-4b5d64d40b68/resourceGroups/Api-Default-East-US/providers/Microsoft.ApiManagement/service/hydraapimservice9895/tenant/configuration/save?api-version=2016-07-07",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"branch\": \"master\",\r\n  \"force\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"Id\": \"57e09194cac81c09ac91513f\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1185"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/bab08e11-7b12-4354-9fd1-4b5d64d40b68/resourceGroups/Api-Default-East-US/providers/Microsoft.ApiManagement/service/hydraapimservice9895/tenant/operationResults/57e09194cac81c09ac91513f?api-version=2016-07-07"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/bab08e11-7b12-4354-9fd1-4b5d64d40b68/resourceGroups/Api-Default-East-US/providers/Microsoft.ApiManagement/service/hydraapimservice9895/tenant/operationResults/57e09194cac81c09ac91513f?api-version=2016-07-07",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"57e09194cac81c09ac91513f\",\r\n  \"status\": \"InProgress\",\r\n  \"started\": \"2016-09-20T01:32:04.91\",\r\n  \"updated\": \"2016-09-20T01:32:05.727\",\r\n  \"resultInfo\": null,\r\n  \"error\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14971"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/bab08e11-7b12-4354-9fd1-4b5d64d40b68/resourceGroups/Api-Default-East-US/providers/Microsoft.ApiManagement/service/hydraapimservice9895/tenant/operationResults/57e09194cac81c09ac91513f?api-version=2016-07-07"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/bab08e11-7b12-4354-9fd1-4b5d64d40b68/resourceGroups/Api-Default-East-US/providers/Microsoft.ApiManagement/service/hydraapimservice9895/tenant/configuration/validate?api-version=2016-07-07",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"branch\": \"master\",\r\n  \"force\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"Id\": \"57e091d2cac81c09ac915143\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1184"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/bab08e11-7b12-4354-9fd1-4b5d64d40b68/resourceGroups/Api-Default-East-US/providers/Microsoft.ApiManagement/service/hydraapimservice9895/tenant/operationResults/57e091d2cac81c09ac915143?api-version=2016-07-07"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/bab08e11-7b12-4354-9fd1-4b5d64d40b68/resourceGroups/Api-Default-East-US/providers/Microsoft.ApiManagement/service/hydraapimservice9895/tenant/configuration/deploy?api-version=2016-07-07",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"branch\": \"master\",\r\n  \"force\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"Id\": \"57e091f1cac81c09ac915146\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1183"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/bab08e11-7b12-4354-9fd1-4b5d64d40b68/resourceGroups/Api-Default-East-US/providers/Microsoft.ApiManagement/service/hydraapimservice9895/tenant/operationResults/57e091f1cac81c09ac915146?api-version=2016-07-07"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/bab08e11-7b12-4354-9fd1-4b5d64d40b68/resourceGroups/Api-Default-East-US/providers/Microsoft.ApiManagement/service/hydraapimservice9895/tenant/operationResults/57e091f1cac81c09ac915146?api-version=2016-07-07",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"57e091f1cac81c09ac915146\",\r\n  \"status\": \"Succeeded\",\r\n  \"started\": \"2016-09-20T01:33:37.717\",\r\n  \"updated\": \"2016-09-20T01:34:06.897\",\r\n  \"resultInfo\": \"Latest commit 0c6d36b5e38894f7f8236edc4ee8133cf68183ca was successfully deployed from master. Previous configuration was saved to the 'ConfigurationBackup' branch.\",\r\n  \"error\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14967"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "bab08e11-7b12-4354-9fd1-4b5d64d40b68"
  }
}