{
  "Get-AzNeonPostgresBranch+[NoContext]+List+$GET+https://management.azure.com/subscriptions/a81c0054-6c92-41aa-a235-4f9f98f917c6/resourceGroups/neonrg/providers/Neon.Postgres/organizations/NeonDemoOrgPS1/projects/dawn-breeze-86932057/branches?api-version=2025-03-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a81c0054-6c92-41aa-a235-4f9f98f917c6/resourceGroups/neonrg/providers/Neon.Postgres/organizations/NeonDemoOrgPS1/projects/dawn-breeze-86932057/branches?api-version=2025-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "199995" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"projectId\":\"dawn-breeze-86932057\",\"attributes\":[{\"name\":\"createdAt\",\"value\":\"May 12, 2025 8:02 AM\"},{\"name\":\"logicalSize\",\"value\":\"30785536\"},{\"name\":\"cpuUsedSec\",\"value\":\"80\"},{\"name\":\"computeTimeSeconds\",\"value\":\"80\"},{\"name\":\"activeTimeSeconds\",\"value\":\"312\"},{\"name\":\"writtenDataBytes\",\"value\":\"34531256\"},{\"name\":\"dataTransferBytes\",\"value\":\"0\"},{\"name\":\"isProtected\",\"value\":\"false\"},{\"name\":\"isDefault\",\"value\":\"true\"},{\"name\":\"lastActive\",\"value\":\"May 12, 2025 8:02 AM\"},{\"name\":\"autoscalingLimitMinCu\",\"value\":\"0.25\"},{\"name\":\"autoscalingLimitMaxCu\",\"value\":\"0.25\"}],\"entityId\":\"br-damp-bird-a82olmcu\",\"entityName\":\"main\",\"createdAt\":\"May 12, 2025 8:02 AM\",\"provisioningState\":\"idle\"}}]}",
    }
  },
  "Get-AzNeonPostgresBranch+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/a81c0054-6c92-41aa-a235-4f9f98f917c6/resourceGroups/neonrg/providers/Neon.Postgres/organizations/NeonDemoOrgPS1/projects/dawn-breeze-86932057/branches/br-damp-bird-a82olmcu?api-version=2025-03-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a81c0054-6c92-41aa-a235-4f9f98f917c6/resourceGroups/neonrg/providers/Neon.Postgres/organizations/NeonDemoOrgPS1/projects/dawn-breeze-86932057/branches/br-damp-bird-a82olmcu?api-version=2025-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "199995" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"projectId\":\"dawn-breeze-86932057\",\"parentId\":null,\"roleName\":null,\"databaseName\":null,\"roles\":null,\"databases\":null,\"endpoints\":null,\"attributes\":[{\"name\":\"logicalSize\",\"value\":\"30785536\"},{\"name\":\"cpuUsedSec\",\"value\":\"80\"},{\"name\":\"computeTimeSeconds\",\"value\":\"80\"},{\"name\":\"activeTimeSeconds\",\"value\":\"312\"},{\"name\":\"writtenDataBytes\",\"value\":\"34531256\"},{\"name\":\"dataTransferBytes\",\"value\":\"0\"},{\"name\":\"isProtected\",\"value\":\"false\"},{\"name\":\"isDefault\",\"value\":\"true\"}],\"entityId\":\"br-damp-bird-a82olmcu\",\"entityName\":\"main\",\"createdAt\":\"May 12, 2025 8:02 AM\",\"provisioningState\":\"Succeeded\"}}",
    }
  }
}