{
  "Update-AzNeonPostgresOrganization+[NoContext]+UpdateExpanded+$PATCH+https://management.azure.com/subscriptions/5d9a6cc3-4e60-4b41-be79-d28f0a01074e/resourceGroups/NeonDemoRG/providers/Neon.Postgres/organizations/almasTestNeonPSRecord1A?api-version=2024-08-01-preview+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/5d9a6cc3-4e60-4b41-be79-d28f0a01074e/resourceGroups/NeonDemoRG/providers/Neon.Postgres/organizations/almasTestNeonPSRecord1A?api-version=2024-08-01-preview",
      "Content": "{\r\n  \"properties\": {\r\n    \"userDetails\": {\r\n      \"firstName\": \"Almas\",\r\n      \"lastName\": \"Khan\",\r\n      \"emailAddress\": \"khanalmas@microsoft.com\",\r\n      \"upn\": \"khanalmas_microsoft.com#EXT#@qumulotesttenant2.onmicrosoft.com\",\r\n      \"phoneNumber\": \"+1234567890\"\r\n    },\r\n    \"companyDetails\": {\r\n      \"companyName\": \"DemoCompany\",\r\n      \"country\": \"USA\",\r\n      \"officeAddress\": \"1234 Azure Ave\",\r\n      \"businessPhone\": \"+1234567890\",\r\n      \"domain\": \"demo.com\",\r\n      \"numberOfEmployees\": 500\r\n    },\r\n    \"partnerOrganizationProperties\": {\r\n      \"singleSignOnProperties\": {\r\n        \"singleSignOnState\": \"Enable\",\r\n        \"enterpriseAppId\": \"app12345\",\r\n        \"singleSignOnUrl\": \"https://sso.partnerorg.com\",\r\n        \"aadDomains\": [ \"partnerorg.com\" ]\r\n      },\r\n      \"organizationId\": \"org12345\",\r\n      \"organizationName\": \"PartnerOrgRecord1A\"\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"02000384-0000-3300-0000-672e0e9b0000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/5d9a6cc3-4e60-4b41-be79-d28f0a01074e/resourceGroups/NeonDemoRG/providers/Neon.Postgres/organizations/almasTestNeonPSRecord1A\",\"name\":\"almasTestNeonPSRecord1A\",\"type\":\"neon.postgres/organizations\",\"location\":\"centraluseuap\",\"systemData\":{\"createdBy\":\"khanalmas@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2024-11-08T13:12:49.8725261Z\",\"lastModifiedBy\":\"khanalmas@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2024-11-08T13:14:02.7229596Z\"},\"properties\":{\"marketplaceDetails\":{\"subscriptionId\":\"05336f7b-90c8-4e9f-c2b1-1d7cc83c5fa7\",\"subscriptionStatus\":\"Subscribed\",\"offerDetails\":{\"publisherId\":\"neon1722366567200\",\"offerId\":\"neon_test\",\"planId\":\"neon_test_1\",\"planName\":\"Neon Serverless Postgres - Free (Test_Liftr)\",\"termUnit\":\"P1M\",\"termId\":\"gmz7xq9ge3py\"}},\"userDetails\":{\"firstName\":\"Almas\",\"lastName\":\"Khan\",\"emailAddress\":\"khanalmas@microsoft.com\",\"upn\":\"khanalmas_microsoft.com#EXT#@qumulotesttenant2.onmicrosoft.com\",\"phoneNumber\":\"+1234567890\"},\"companyDetails\":{\"companyName\":\"DemoCompany\",\"country\":\"USA\",\"officeAddress\":\"1234 Azure Ave\",\"businessPhone\":\"+1234567890\",\"domain\":\"demo.com\",\"numberOfEmployees\":500},\"provisioningState\":\"Succeeded\",\"partnerOrganizationProperties\":{\"organizationId\":\"org12345\",\"organizationName\":\"PartnerOrgRecord1A\",\"singleSignOnProperties\":{\"singleSignOnState\":\"Enable\",\"enterpriseAppId\":\"app12345\",\"singleSignOnUrl\":\"https://sso.partnerorg.com\",\"aadDomains\":[\"partnerorg.com\"]}}}}",
    }
  }
}