{
  "Update-AzNeonPostgresOrganization+[NoContext]+UpdateExpanded+$PATCH+https://management.azure.com/subscriptions/a81c0054-6c92-41aa-a235-4f9f98f917c6/resourceGroups/neonrg/providers/Neon.Postgres/organizations/NeonDemoOrgPS1?api-version=2025-03-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/a81c0054-6c92-41aa-a235-4f9f98f917c6/resourceGroups/neonrg/providers/Neon.Postgres/organizations/NeonDemoOrgPS1?api-version=2025-03-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"marketplaceDetails\": {\r\n      \"offerDetails\": {\r\n        \"publisherId\": \"neon1722366567200\",\r\n        \"offerId\": \"neon_serverless_postgres_azure_prod\",\r\n        \"planId\": \"neon_serverless_postgres_azure_prod_free\",\r\n        \"planName\": \"Free Plan\",\r\n        \"termUnit\": \"P1M\",\r\n        \"termId\": \"gmz7xq9ge3py\"\r\n      },\r\n      \"subscriptionId\": \"e276aac0-83e0-4381-dffe-0400d1af8065\",\r\n      \"subscriptionStatus\": \"Subscribed\"\r\n    },\r\n    \"userDetails\": {\r\n      \"firstName\": \"Demo\",\r\n      \"lastName\": \"User\",\r\n      \"emailAddress\": \"Demouser@testtestliftrtest2.onmicrosoft.com\",\r\n      \"upn\": \"Demouser@testtestliftrtest2.onmicrosoft.com\",\r\n      \"phoneNumber\": \"+1234567890\"\r\n    },\r\n    \"companyDetails\": {\r\n      \"companyName\": \"Contoso\",\r\n      \"country\": \"USA\",\r\n      \"officeAddress\": \"1234 Azure Ave\",\r\n      \"businessPhone\": \"+1234567890\",\r\n      \"domain\": \"contoso.com\",\r\n      \"numberOfEmployees\": 500\r\n    },\r\n    \"partnerOrganizationProperties\": {\r\n      \"singleSignOnProperties\": {\r\n        \"singleSignOnState\": \"Enable\",\r\n        \"enterpriseAppId\": \"\",\r\n        \"singleSignOnUrl\": \"https://console.neon.tech/azure/sso/org-bitter-scene-70654971\",\r\n        \"aadDomains\": [ \"\" ]\r\n      },\r\n      \"organizationId\": \"org-bitter-scene-70654971\",\r\n      \"organizationName\": \"NeonDemoOrgPS1\"\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 400,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-failure-cause": [ "gateway" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "199" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"error\":{\"code\":\"ResourcePatchValidateFailed\",\"message\":\"Plan is not changed for resource\"}}",
    }
  }
}