{
    "Entries": [
        {
            "RequestUri": "/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourcegroups/Default-Web-EastUS/providers/Microsoft.Storage.Admin/farms/3c62b865-d397-47fe-99ed-6dda536a1a69/tableserverinstances/D11180COL0/restart?api-version=2015-12-01-preview",
            "RequestMethod": "POST",
            "RequestBody": "",
            "RequestHeaders": {
            },
            "ResponseBody": "",
            "ResponseHeaders": {
                "Retry-After": [
                    "5"
                ],
                "x-ms-ratelimit-remaining-subscription-writes": [
                    "1190"
                ],
                "Location": [
                    "https://management.azure.com/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourcegroups/Default-Web-EastUS/providers/Microsoft.Storage.Admin/farms/3c62b865-d397-47fe-99ed-6dda536a1a69/tableserverinstances/D11180COL0/operationresults/8006fda9-6397-4a93-8d10-d5dd36b20c93?api-version=2015-12-01-preview"
                ]
            },
            "StatusCode": 202
        },
        {
            "RequestUri": "/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourcegroups/Default-Web-EastUS/providers/Microsoft.Storage.Admin/farms/3c62b865-d397-47fe-99ed-6dda536a1a69/tableserverinstances/D11180COL0/operationresults/8006fda9-6397-4a93-8d10-d5dd36b20c93?api-version=2015-12-01-preview",            
            "RequestMethod": "GET",
            "RequestBody": "",
            "RequestHeaders": {
                "x-ms-version": [
                    "2015-12-01-preview"
                ]
            },
            "ResponseBody": "",
            "ResponseHeaders": {
                "Retry-After": [
                    "5"
                ],
                "x-ms-ratelimit-remaining-subscription-reads": [
                    "31991"
                ],
                "Location": [
                    "https://management.azure.com/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourcegroups/Default-Web-EastUS/providers/Microsoft.Storage.Admin/farms/3c62b865-d397-47fe-99ed-6dda536a1a69/tableserverinstances/D11180COL0/operationresults/8006fda9-6397-4a93-8d10-d5dd36b20c93?api-version=2015-12-01-preview"
                ]
            },
            "StatusCode": 202
        },        
        {
            "RequestUri": "/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourcegroups/Default-Web-EastUS/providers/Microsoft.Storage.Admin/farms/3c62b865-d397-47fe-99ed-6dda536a1a69/tableserverinstances/D11180COL0/operationresults/8006fda9-6397-4a93-8d10-d5dd36b20c93?api-version=2015-12-01-preview",            
            "RequestMethod": "GET",
            "RequestBody": "",
            "RequestHeaders": {
                "x-ms-version": [
                    "2015-12-01-preview"
                ]
            },
            "ResponseBody": "",
            "ResponseHeaders": {
                "x-ms-ratelimit-remaining-subscription-reads": [
                    "31988"
                ]
            },
            "StatusCode": 200
        }
    ],
  "Names": {
  },
  "Variables": {
    "SubscriptionId": "a93fb07c-6c93-40be-bf3b-4f0deba10f4b"
  }
}