{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/providers/Microsoft.Compute?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/providers/Microsoft.Compute\",\r\n  \"namespace\": \"Microsoft.Compute\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"60e6cd67-9c8c-4951-9b3c-23c25a2169af\",\r\n    \"roleDefinitionId\": \"e4770acb-272e-4dc8-87f3-12f44a612224\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"availabilitySets\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"Central US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"South India\",\r\n        \"Central India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West US 2\",\r\n        \"West Central US\",\r\n        \"UK South\",\r\n        \"UK West\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"virtualMachines\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"Central US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n  [...]
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourcegroups/crptestps5726?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726\",\r\n  \"name\": \"crptestps5726\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/virtualNetworks/vnetcrptestps5726?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/vnetcrptestps5726' under resource group 'crptestps5726' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/virtualNetworks/vnetcrptestps5726?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps5726\",\r\n  \"id\": \"/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/virtualNetworks/vnetcrptestps5726\",\r\n  \"etag\": \"W/\\\"dad65d33-8242-4b9d-8a5e-37dd18356281\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"6347f207-bf80-4bc3-8797-4fbef6e4eb04\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnetcrptestps5726\",\r\n        \"id\": \"/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/virtualNetworks/vnetcrptestps5726/subnets/subnetcrptestps5726\",\r\n        \"etag\": \"W/\\\"dad65d33-8242-4b9d-8a5e-37dd18356281\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceTunnels\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"dad65d33-8242-4b9d-8a5e-37dd18356281\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14950"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/virtualNetworks/vnetcrptestps5726?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"resourceNavigationLinks\": []\r\n        },\r\n        \"name\": \"subnetcrptestps5726\"\r\n      }\r\n    ],\r\n    \"VirtualNetworkPeerings\": []\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps5726\",\r\n  \"id\": \"/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/virtualNetworks/vnetcrptestps5726\",\r\n  \"etag\": \"W/\\\"f551f14f-13e8-4407-9212-552a4fd67727\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"6347f207-bf80-4bc3-8797-4fbef6e4eb04\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnetcrptestps5726\",\r\n        \"id\": \"/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/virtualNetworks/vnetcrptestps5726/subnets/subnetcrptestps5726\",\r\n        \"etag\": \"W/\\\"f551f14f-13e8-4407-9212-552a4fd67727\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceTunnels\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/providers/Microsoft.Network/locations/eastus/operations/dd513206-a7e7-4711-a777-48c8e2f23bf6?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/providers/Microsoft.Network/locations/eastus/operations/dd513206-a7e7-4711-a777-48c8e2f23bf6?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14951"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps5726?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/pubipcrptestps5726' under resource group 'crptestps5726' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps5726?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"pubipcrptestps5726\",\r\n  \"id\": \"/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps5726\",\r\n  \"etag\": \"W/\\\"481d8a82-7701-4a3b-ace4-e08d2fd85ae1\\\"\",\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"776b34ee-9010-41db-8810-d573281bfa73\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"pubipcrptestps5726\",\r\n      \"fqdn\": \"pubipcrptestps5726.eastus.cloudapp.azure.com\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"481d8a82-7701-4a3b-ace4-e08d2fd85ae1\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14945"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/networkInterfaces/niccrptestps5726?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/niccrptestps5726' under resource group 'crptestps5726' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/networkInterfaces/niccrptestps5726?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"niccrptestps5726\",\r\n  \"id\": \"/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/networkInterfaces/niccrptestps5726\",\r\n  \"etag\": \"W/\\\"1042498b-6b51-4065-b181-bfa1f9b864d2\\\"\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"6fb7671f-c9be-45b8-8ea6-93dddb5e35fa\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/networkInterfaces/niccrptestps5726/ipConfigurations/ipconfig1\",\r\n        \"etag\": \"W/\\\"1042498b-6b51-4065-b181-bfa1f9b864d2\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps5726\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/virtualNetworks/vnetcrptestps5726/subnets/subnetcrptestps5726\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"a5zeoy2ax5buxb2xj45pnzhlae.bx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\": false\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"1042498b-6b51-4065-b181-bfa1f9b864d2\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14941"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/networkInterfaces/niccrptestps5726?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"applicationGatewayBackendAddressPools\": [],\r\n          \"loadBalancerBackendAddressPools\": [],\r\n          \"loadBalancerInboundNatRules\": [],\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"resourceNavigationLinks\": []\r\n            },\r\n            \"id\": \"/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/virtualNetworks/vnetcrptestps5726/subnets/subnetcrptestps5726\"\r\n          },\r\n          \"primary\": true,\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/sub[...]
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Storage/storageAccounts/stocrptestps5726?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/providers/Microsoft.Storage/operations/874a5770-2065-4e6b-b6c8-53bbf574348d?monitor=true&api-version=2015-06-15"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/providers/Microsoft.Storage/operations/874a5770-2065-4e6b-b6c8-53bbf574348d?monitor=true&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"location\": \"East US\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14983"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Storage/storageAccounts/stocrptestps5726?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Storage/storageAccounts/stocrptestps5726\",\r\n  \"location\": \"eastus\",\r\n  \"name\": \"stocrptestps5726\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\",\r\n    \"creationTime\": \"2016-10-04T01:36:32.1966669Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://stocrptestps5726.blob.core.windows.net/\",\r\n      \"file\": \"https://stocrptestps5726.file.core.windows.net/\",\r\n      \"queue\": \"https://stocrptestps5726.queue.core.windows.net/\",\r\n      \"table\": \"https://stocrptestps5726.table.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"eastus\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"secondaryLocation\": \"westus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"statusOfSecondary\": \"available\"\r\n  },\r\n  \"tags\": {},\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14982"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Storage/storageAccounts/stocrptestps5726/listKeys?api-version=2015-06-15",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"key1\": \"qAbcVWli3mKOArWdF9sON4MlxZSGL+kMJeR1fvYm0xZqf0p6PMbZX18RIpecPaBcHOMfOjmjSWafpRZAcv/YkA==\",\r\n  \"key2\": \"12Ql7vgcwApVf9VB+0B9O3zcbgU7EVwHevIg/pQIBWoEVSRJeQIaG2sd1PLCUZjaB/UBnO7yvTBDAAqtltt/Nw==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/providers/Microsoft.Storage/storageAccounts?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/etw/providers/Microsoft.Storage/storageAccounts/3l2mbhljshv3g100\",\r\n      \"location\": \"centralus\",\r\n      \"name\": \"3l2mbhljshv3g100\",\r\n      \"properties\": {\r\n        \"accountType\": \"Standard_LRS\",\r\n        \"creationTime\": \"2016-08-24T00:20:58.8126963Z\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://3l2mbhljshv3g100.blob.core.windows.net/\",\r\n          \"file\": \"https://3l2mbhljshv3g100.file.core.windows.net/\",\r\n          \"queue\": \"https://3l2mbhljshv3g100.queue.core.windows.net/\",\r\n          \"table\": \"https://3l2mbhljshv3g100.table.core.windows.net/\"\r\n        },\r\n        \"primaryLocation\": \"centralus\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"statusOfPrimary\": \"available\"\r\n      },\r\n      \"tags\": {\r\n        \"clusterName\": \"testzc\",\r\n        \"resourceType\": \"Service Fabric\"\r\n      },\r\n      \"type\": \"Microsoft.Storage/storageAccounts\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/etw/providers/Microsoft.Storage/storageAccounts/3l2mbhljshv3g101\",\r\n      \"location\": \"centralus\",\r\n      \"name\": \"3l2mbhljshv3g101\",\r\n      \"properties\": {\r\n        \"accountType\": \"Standard_LRS\",\r\n        \"creationTime\": \"2016-08-24T00:[...]
[...]
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Compute/virtualMachines/vmcrptestps5726?api-version=2016-03-30",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2008-R2-SP1\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"name\": \"osDisk\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://stocrptestps5726.blob.core.windows.net/test/os.vhd\"\r\n        },\r\n        \"caching\": \"ReadWrite\",\r\n        \"createOption\": \"fromImage\"\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 1,\r\n          \"name\": \"testDataDisk1\",\r\n          \"vhd\": {\r\n            \"uri\": \"https://stocrptestps5726.blob.core.windows.net/test/data1.vhd\"\r\n          },\r\n          \"caching\": \"ReadOnly\",\r\n          \"createOption\": \"empty\",\r\n          \"diskSizeGB\": 10\r\n        },\r\n        {\r\n          \"lun\": 2,\r\n          \"name\": \"testDataDisk2\",\r\n          \"vhd\": {\r\n            \"uri\": \"https://stocrptestps5726.blob.core.windows.net/test/data2.vhd\"\r\n          },\r\n          \"caching\": \"ReadOnly\",\r\n          \"createOption\": \"empty\",\r\n          \"diskSizeGB\": 11\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"adminPassword\": \"PLACEHOLDER1@\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true\r\n      }\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/networkInterfaces/niccrptestps5726\"\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": true,\r\n        \"storageUri\": \"https://stocrptestps5726.blob.core.windows.net/\"\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"vmId\": \"1bfccd62-f108-4a31-a45b-712af1f5d220\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2008-R2-SP1\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"osDisk\",\r\n        \"createOption\": \"FromImage\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://stocrptestps5726.blob.core.windows.net/test/os.vhd\"\r\n        },\r\n        \"caching\": \"ReadWrite\"\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 1,\r\n          \"name\": \"testDataDisk1\",\r\n          \"createOption\": \"Empty\",\r\n          \"vhd\": {\r\n            \"uri\": \"https://stocrptestps5726.blob.core.windows.net/test/data1.vhd\"\r\n          },\r\n          \"caching\": \"ReadOnly\",\r\n          \"diskSizeGB\": 10\r\n        },\r\n        {\r\n          \"lun\": 2,\r\n          \"name\": \"testDataDisk2\",\r\n          \"createOption\": \"Empty\",\r\n          \"vhd\": {\r\n            \"uri\": \"https://stocrptestps5726.blob.core.windows.net/test/data2.vhd\"\r\n          },\r\n          \"caching\": \"ReadOnly\",\r\n          \"diskSizeGB\": 11\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": true\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Network/networkInterfaces/niccrptestps5726\"\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": true,\r\n        \"storageUri\": \"https://stocrptestps5726.blob.core.windows.net/\"\r\n      }\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"id\": \"/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Compute/virtualMachines/vmcrptestps5726\",\r\n  \"name\": \"vmcrptestps5726\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/providers/Microsoft.Compute/locations/eastus/operations/d15d920b-4b77-4fbf-863c-de863cf036e2?api-version=2016-03-30"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/providers/Microsoft.Compute/locations/eastus/operations/d15d920b-4b77-4fbf-863c-de863cf036e2?api-version=2016-03-30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2016-10-03T18:37:04.7494147-07:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"d15d920b-4b77-4fbf-863c-de863cf036e2\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/providers/Microsoft.Compute/locations/eastus/operations/d15d920b-4b77-4fbf-863c-de863cf036e2?api-version=2016-03-30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2016-10-03T18:37:04.7494147-07:00\",\r\n  \"endTime\": \"2016-10-03T18:44:42.8505072-07:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"d15d920b-4b77-4fbf-863c-de863cf036e2\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14984"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/providers/Microsoft.Compute/locations/eastus/publishers?api-version=2016-03-30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"eastus\",\r\n    \"name\": \"4psa\",\r\n    \"id\": \"/Subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/Providers/Microsoft.Compute/Locations/eastus/Publishers/4psa\"\r\n  },\r\n  {\r\n    \"lo[...]
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Compute/artifacttypes/vmextension/types?api-version=2016-03-30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"eastus\",\r\n    \"name\": \"BGInfo\",\r\n    \"id\": \"/Subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/Providers/Microsoft.Compute/Locations[...]
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/providers/Microsoft.Compute/locations/eastus/publishers/Microsoft.Compute/artifacttypes/vmextension/types/BGInfo/versions?api-version=2016-03-30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"location\": \"eastus\",\r\n    \"name\": \"2.1\",\r\n    \"id\": \"/Subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/Providers/Microsoft.Compute/Locations/eastus/Publishers/Microsoft.Compute/ArtifactTypes/VMExtension/Types/BGInfo/Versions/2.1\"\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14980"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b3701996-8220-448f-8e5e-5796facd4d84/resourceGroups/crptestps5726/providers/Microsoft.Compute/virtualMachines/vmcrptestps5726/extensions/BGInfo?api-version=2016-03-30",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publisher\": \"Microsoft.Compute\",\r\n    \"type\": \"BGInfo\",\r\n    \"typeHandlerVersion\": \"2.1\",\r\n    \"autoUpgradeMinorVersion\": true\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
[...]
