{
  "New-AzLabServicesSchedule+[NoContext]+Create+$GET+https://management.azure.com/subscriptions/63d7e191-c910-43ba-908f-252519936998/resourceGroups/powershell-sdk-testing/providers/Microsoft.LabServices/labs/lab-unit-powershell/schedules/secondtestschedule?api-version=2021-10-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/63d7e191-c910-43ba-908f-252519936998/resourceGroups/powershell-sdk-testing/providers/Microsoft.LabServices/labs/lab-unit-powershell/schedules/secondtestschedule?api-version=2021-10-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "76" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11993" ],
        "api-supported-versions": [ "2020-05-01-preview, 2021-10-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"systemData\":{\"createdBy\":\"rbest@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2021-10-22T19:42:32.4540315Z\",\"lastModifiedBy\":\"rbest@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2021-10-22T19:42:32.4540315Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"startAt\":\"2021-10-23T00:42:30\",\"stopAt\":\"2021-10-23T01:42:30\",\"recurrencePattern\":{\"frequency\":\"Weekly\",\"weekDays\":[\"Friday\"],\"interval\":1,\"expirationDate\":\"2021-11-11\"},\"timeZoneId\":\"America/Los_Angeles\"},\"id\":\"/subscriptions/63d7e191-c910-43ba-908f-252519936998/resourceGroups/powershell-sdk-testing/providers/Microsoft.LabServices/labs/lab-unit-powershell/schedules/secondtestschedule\",\"name\":\"secondtestschedule\",\"type\":\"Microsoft.LabServices/labs/schedules\"}",
    }
  }
}