{
  "New-AzLabServicesLabPlan+[NoContext]+Create+$PUT+https://management.azure.com/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/resourceGroups/rg-test-powershell/providers/Microsoft.LabServices/labPlans/LabPlan-test-powershell?api-version=2021-10-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/resourceGroups/rg-test-powershell/providers/Microsoft.LabServices/labPlans/LabPlan-test-powershell?api-version=2021-10-01-preview",
      "Content": "{\n  \"location\": \"eastus2\",\n  \"properties\": {\n    \"defaultConnectionProfile\": {\n      \"webSshAccess\": \"None\",\n      \"webRdpAccess\": \"None\",\n      \"clientSshAccess\": \"None\",\n      \"clientRdpAccess\": \"Public\"\n    },\n    \"defaultAutoShutdownProfile\": {\n      \"shutdownOnDisconnect\": \"Disabled\",\n      \"shutdownWhenNotConnected\": \"Disabled\",\n      \"shutdownOnIdle\": \"None\"\n    },\n    \"supportInfo\": {\n      \"url\": \"https://www.secondtest.com\",\n      \"email\": \"secondlp@test.com\",\n      \"phone\": \"123-234-3456\",\n      \"instructions\": \"second Support Information\"\n    },\n    \"allowedRegions\": [ \"eastus2\" ]\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/resourceGroups/rg-test-powershell/providers/Microsoft.LabServices/labPlans/LabPlan-test-powershell?api-version=2021-10-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/providers/Microsoft.LabServices/locations/eastus2/operationResults/8e9e57f8-b524-42b0-a961-91f34095d831?api-version=2021-10-01-preview" ],
        "Operation-Location": [ "https://management.azure.com/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/providers/Microsoft.LabServices/locations/eastus2/operationResults/8e9e57f8-b524-42b0-a961-91f34095d831?api-version=2021-10-01-preview" ],
        "api-supported-versions": [ "2020-05-01-preview, 2021-10-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"systemData\":{\"createdBy\":\"rbest@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2021-10-14T17:42:04.5788582Z\",\"lastModifiedBy\":\"rbest@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2021-10-14T17:42:04.5788582Z\"},\"properties\":{\"provisioningState\":\"Creating\",\"defaultConnectionProfile\":{\"webSshAccess\":\"None\",\"webRdpAccess\":\"None\",\"clientSshAccess\":\"None\",\"clientRdpAccess\":\"Public\"},\"defaultAutoShutdownProfile\":{\"shutdownOnDisconnect\":\"Disabled\",\"shutdownWhenNotConnected\":\"Disabled\",\"shutdownOnIdle\":\"None\"},\"allowedRegions\":[\"eastus2\"],\"supportInfo\":{\"url\":\"https://www.secondtest.com/\",\"email\":\"secondlp@test.com\",\"phone\":\"123-234-3456\",\"instructions\":\"second Support Information\"}},\"location\":\"eastus2\",\"id\":\"/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/resourceGroups/rg-test-powershell/providers/Microsoft.LabServices/labPlans/LabPlan-test-powershell\",\"name\":\"LabPlan-test-powershell\",\"type\":\"Microsoft.LabServices/labPlans\"}",
    }
  },
  "New-AzLabServicesLabPlan+[NoContext]+Create+$GET+https://management.azure.com/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/providers/Microsoft.LabServices/locations/eastus2/operationResults/8e9e57f8-b524-42b0-a961-91f34095d831?api-version=2021-10-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/providers/Microsoft.LabServices/locations/eastus2/operationResults/8e9e57f8-b524-42b0-a961-91f34095d831?api-version=2021-10-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ],
        "api-supported-versions": [ "2020-05-01-preview, 2021-10-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/providers/Microsoft.LabServices/locations/eastus2/operationResults/8e9e57f8-b524-42b0-a961-91f34095d831\",\"name\":\"8e9e57f8-b524-42b0-a961-91f34095d831\",\"status\":\"Succeeded\",\"startTime\":\"2021-10-14T17:42:05.0903084\",\"endTime\":\"2021-10-14T17:42:10.0834848\"}",
    }
  },
  "New-AzLabServicesLabPlan+[NoContext]+Create+$GET+https://management.azure.com/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/resourceGroups/rg-test-powershell/providers/Microsoft.LabServices/labPlans/LabPlan-test-powershell?api-version=2021-10-01-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/2d5eedc9-8509-41fe-aac8-f16d54583ac6/resourceGroups/rg-test-powershell/providers/M[...]
