{
  "Remove-AzLabServicesSchedule+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/63d7e191-c910-43ba-908f-252519936998/resourceGroups/powershell-sdk-testing/providers/Microsoft.LabServices/labs/lab-unit-powershell/schedules/secondtestschedule?api-version=2021-10-01-preview+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/63d7e191-c910-43ba-908f-252519936998/resourceGroups/powershell-sdk-testing/providers/Microsoft.LabServices/labs/lab-unit-powershell/schedules/secondtestschedule?api-version=2021-10-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/63d7e191-c910-43ba-908f-252519936998/providers/Microsoft.LabServices/locations/westcentralus/operationResults/e6f4939a-b926-4046-bb6b-58c5ac6b6a13?api-version=2021-10-01-preview\u0026monitor=true" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14999" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/63d7e191-c910-43ba-908f-252519936998/providers/Microsoft.LabServices/locations/westcentralus/operationResults/e6f4939a-b926-4046-bb6b-58c5ac6b6a13?api-version=2021-10-01-preview" ],
        "Operation-Location": [ "https://management.azure.com/subscriptions/63d7e191-c910-43ba-908f-252519936998/providers/Microsoft.LabServices/locations/westcentralus/operationResults/e6f4939a-b926-4046-bb6b-58c5ac6b6a13?api-version=2021-10-01-preview" ],
        "api-supported-versions": [ "2020-05-01-preview, 2021-10-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/63d7e191-c910-43ba-908f-252519936998/providers/Microsoft.LabServices/locations/westcentralus/operationResults/e6f4939a-b926-4046-bb6b-58c5ac6b6a13\",\"name\":\"e6f4939a-b926-4046-bb6b-58c5ac6b6a13\",\"status\":\"InProgress\",\"startTime\":\"2021-10-26T21:25:26.3777004\"}",
    }
  },
  "Remove-AzLabServicesSchedule+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/63d7e191-c910-43ba-908f-252519936998/providers/Microsoft.LabServices/locations/westcentralus/operationResults/e6f4939a-b926-4046-bb6b-58c5ac6b6a13?api-version=2021-10-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/63d7e191-c910-43ba-908f-252519936998/providers/Microsoft.LabServices/locations/westcentralus/operationResults/e6f4939a-b926-4046-bb6b-58c5ac6b6a13?api-version=2021-10-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ],
        "api-supported-versions": [ "2020-05-01-preview, 2021-10-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/63d7e191-c910-43ba-908f-252519936998/providers/Microsoft.LabServices/locations/westcentralus/operationResults/e6f4939a-b926-4046-bb6b-58c5ac6b6a13\",\"name\":\"e6f4939a-b926-4046-bb6b-58c5ac6b6a13\",\"status\":\"Succeeded\",\"startTime\":\"2021-10-26T21:25:26.3777004\",\"endTime\":\"2021-10-26T21:25:50.4239502\"}",
    }
  },
  "Remove-AzLabServicesSchedule+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/63d7e191-c910-43ba-908f-252519936998/providers/Microsoft.LabServices/locations/westcentralus/operationResults/e6f4939a-b926-4046-bb6b-58c5ac6b6a13?api-version=2021-10-01-preview\u0026monitor=true+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/63d7e191-c910-43ba-908f-252519936998/providers/Mi[...]
