{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"query\": \"project id\",\r\n  \"options\": {\r\n    \"$top\": 3,\r\n    \"$skip\": 2,\r\n    \"resultFormat\": \"objectArray\",\r\n    \"allowPartialScopes\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-resource-requests": [
          "14"
        ],
        "x-ms-user-quota-remaining": [
          "14"
        ],
        "x-ms-user-quota-resets-after": [
          "00:00:05"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14990"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"totalRecords\": 71,\r\n  \"count\": 3,\r\n  \"data\": [\r\n    {\r\n      \"id\": \"/subscriptions/eaab1166-1e13-4370-a951-6ed345a48c15/resourceGroups/lakshmia-test/providers/Providers.Test/statefulResources/0JH-JSRBLS\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/eaab1166-1e13-4370-a951-6ed345a48c15/resourceGroups/lakshmia-test/providers/Providers.Test/statefulResources/0JH-SRPariv\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/eaab1166-1e13-4370-a951-6ed345a48c15/resourceGroups/lakshmia-test/providers/Providers.Test/statefulResources/0JH-SRParivar\"\r\n    }\r\n  ],\r\n  \"facets\": [],\r\n  \"resultTruncated\": \"false\",\r\n  \"$skipToken\": \"ew0KICAiJGlkIjogIjEiLA0KICAiTWF4Um93cyI6IDMsDQogICJSb3dzVG9Ta2lwIjogNSwNCiAgIkt1c3RvQ2x1c3RlclVybCI6ICJodHRwczovL2FybXRvcG9sb2d5Lmt1c3RvLndpbmRvd3MubmV0Ig0KfQ==\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "eaab1166-1e13-4370-a951-6ed345a48c15"
  }
}