{
  "Entries": [
    {
      "RequestUri": "/subscriptions?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\"value\": [{\"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000\", \"subscriptionId\": \"00000000-0000-0000-0000-000000000000\", \"displayName\": \"Test Subscription\", \"state\": \"Enabled\", \"authorizationSource\": \"RoleBased\"}]}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.ResourceGraph/resources?api-version=2019-04-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"subscriptions\": [\r\n    \"00000000-0000-0000-0000-000000000000\"\r\n  ],\r\n  \"query\": \"project id, tags, properties |where tags != '' | where properties != '' | limit 2\",\r\n  \"options\": {\r\n    \"$top\": 2,\r\n    \"$skip\": 0,\r\n    \"resultFormat\": \"objectArray\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-user-quota-resets-after": [
          "00:00:05"
        ],
        "x-ms-user-quota-remaining": [
          "13"
        ],
        "x-ms-ratelimit-remaining-tenant-resource-requests": [
          "13"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"totalRecords\": 2,\r\n  \"count\": 2,\r\n  \"data\": [\r\n      {\r\n        \"id\":        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MEMVM/providers/Microsoft.Compute/virtualMachines/memvm/extensions/MicrosoftMonitoringAgent\",\r\n        \"tags\":        {},\r\n         \"properties\":        {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"type\": \"MicrosoftMonitoringAgent\",\r\n          \"autoUpgradeMinorVersion\": true,\r\n          \"typeHandlerVersion\": \"1.0\",\r\n          \"publisher\": \"Microsoft.EnterpriseCloud.Monitoring\",\r\n          \"settings\": {\r\n            \"stopOnMultipleConnections\": true,\r\n            \"workspaceId\": \"0f3577b5-fd56-4f52-81d3-43d1eab26618\"\r\n          }\r\n        }\r\n      },\r\n      {\r\n         \"id\":        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Workerbackup/providers/Microsoft.ClassicCompute/domainNames/worker-b\",\r\n         \"tags\":        {},\r\n         \"properties\":        {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"status\": \"Created\",\r\n          \"hostName\": \"worker-b.cloudapp.net\",\r\n          \"label\": \"worker-b\"\r\n        }\r\n      }\r\n      ],\r\n  \"facets\": [],\r\n  \"resultTruncated\": \"false\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "00000000-0000-0000-0000-000000000000"
  }
}