{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"subscriptions\": [\r\n    \"82506e98-9fdb-41f5-ab67-031005041a26\"\r\n  ],\r\n  \"query\": \"distinct subscriptionId | order by subscriptionId asc\",\r\n  \"options\": {\r\n    \"$top\": 100,\r\n    \"$skip\": 0,\r\n    \"resultFormat\": \"objectArray\",\r\n    \"allowPartialScopes\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-resource-requests": [
          "14"
        ],
        "x-ms-user-quota-remaining": [
          "14"
        ],
        "x-ms-user-quota-resets-after": [
          "00:00:05"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"totalRecords\": 1,\r\n  \"count\": 1,\r\n  \"data\": [\r\n    {\r\n      \"subscriptionId\": \"82506e98-9fdb-41f5-ab67-031005041a26\"\r\n    }\r\n  ],\r\n  \"facets\": [],\r\n  \"resultTruncated\": \"false\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.ResourceGraph/resources?api-version=2021-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"subscriptions\": [\r\n    \"82506e98-9fdb-41f5-ab67-031005041a26\",\r\n    \"000b1166-1e13-4370-a951-6ed345a48c16\"\r\n  ],\r\n  \"query\": \"distinct subscriptionId | order by subscriptionId asc\",\r\n  \"options\": {\r\n    \"$top\": 100,\r\n    \"$skip\": 0,\r\n    \"resultFormat\": \"objectArray\",\r\n    \"allowPartialScopes\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-resource-requests": [
          "12"
        ],
        "x-ms-user-quota-remaining": [
          "12"
        ],
        "x-ms-user-quota-resets-after": [
          "00:00:05"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"totalRecords\": 1,\r\n  \"count\": 1,\r\n  \"data\": [\r\n    {\r\n      \"subscriptionId\": \"82506e98-9fdb-41f5-ab67-031005041a26\"\r\n    }\r\n  ],\r\n  \"facets\": [],\r\n  \"resultTruncated\": \"false\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "82506e98-9fdb-41f5-ab67-031005041a26"
  }
}