{
  "Entries": [
    {
      "RequestUri": "/subscriptions?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\"value\": [{\"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000\", \"subscriptionId\": \"00000000-0000-0000-0000-000000000000\", \"displayName\": \"Test Subscription\", \"state\": \"Enabled\", \"authorizationSource\": \"RoleBased\"}]}",
      "ResponseHeaders": {
        "x-ms-user-quota-resets-after": [
          "00:00:05"
        ],
        "x-ms-user-quota-remaining": [
          "13"
        ],
        "x-ms-ratelimit-remaining-tenant-resource-requests": [
          "13"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "00000000-0000-0000-0000-000000000000"
  }
}