{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.ResourceGraph/resources?api-version=2024-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"query\": \"distinct subscriptionId | order by subscriptionId asc\",\r\n  \"options\": {\r\n    \"$top\": 100,\r\n    \"$skip\": 0,\r\n    \"resultFormat\": \"objectArray\",\r\n    \"allowPartialScopes\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-resource-requests": [
          "10"
        ],
        "x-ms-user-quota-remaining": [
          "10"
        ],
        "x-ms-user-quota-resets-after": [
          "00:00:04"
        ],
        "x-ms-resource-graph-request-duration": [
          "0:00:00:00.3676629"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "2199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"totalRecords\": 13,\r\n  \"count\": 13,\r\n  \"data\": [\r\n    {\r\n      \"subscriptionId\": \"45b60d85-fd72-427a-a708-f994d26e593e\"\r\n    },\r\n    {\r\n      \"subscriptionId\": \"54b875cc-a81a-4914-8bfd-1a36bc7ddf4d\"\r\n    },\r\n    {\r\n      \"subscriptionId\": \"66522bd8-56b0-44fa-bd1f-23485611a6c3\"\r\n    },\r\n    {\r\n      \"subscriptionId\": \"6b085460-5f21-477e-ba44-1035046e9101\"\r\n    },\r\n    {\r\n      \"subscriptionId\": \"9e223dbe-3399-4e19-88eb-0975f02ac87f\"\r\n    },\r\n    {\r\n      \"subscriptionId\": \"b8faf5eb-39a1-42c4-9e2a-335704d4c740\"\r\n    },\r\n    {\r\n      \"subscriptionId\": \"b988efc7-1bc8-4a73-b4a2-5ad864580250\"\r\n    },\r\n    {\r\n      \"subscriptionId\": \"bac420ed-c6fc-4a05-8ac1-8c0c52da1d6e\"\r\n    },\r\n    {\r\n      \"subscriptionId\": \"bd62906c-0a81-43c3-a2f8-126e4cf66ada\"\r\n    },\r\n    {\r\n      \"subscriptionId\": \"dad45786-32e5-4ef3-b90e-8e0838fbadb6\"\r\n    },\r\n    {\r\n      \"subscriptionId\": \"de6bc98d-2a4d-4607-919e-67692d1eba2b\"\r\n    },\r\n    {\r\n      \"subscriptionId\": \"eb87f285-893a-4f0f-8c55-7b4f67b1d097\"\r\n    },\r\n    {\r\n      \"subscriptionId\": \"f0d19b89-f606-48fe-b2b0-c8259f8f25b6\"\r\n    }\r\n  ],\r\n  \"facets\": [],\r\n  \"resultTruncated\": \"false\"\r\n}",
      "StatusCode": 200
    },
[...]
