{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/providers/Microsoft.Resources?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/providers/Microsoft.Resources\",\n  \"namespace\": \"Microsoft.Resources\",\n  \"authorizations\": [\n    {\n      \"applicationId\": \"3b990c8b-9607-4c2a-8b04-1d41985facca\"\n    },\n    {\n      \"applicationId\": \"f77c2a8f-8a0a-4776-8e0a-bcb2549610ca\"\n    }\n  ],\n  \"resourceTypes\": [\n    {\n      \"resourceType\": \"changes\",\n      \"locations\": [],\n      \"apiVersions\": [\n        \"2024-06-01-preview\",\n        \"2023-07-01-preview\",\n        \"2023-03-01-preview\",\n        \"2022-05-01\",\n        \"2022-03-01-preview\"\n      ],\n      \"capabilities\": \"SupportsExtension\"\n    },\n    {\n      \"resourceType\": \"snapshots\",\n      \"locations\": [],\n      \"apiVersions\": [\n        \"2022-11-01-preview\"\n      ],\n      \"capabilities\": \"SupportsExtension\"\n    },\n    {\n      \"resourceType\": \"deploymentScripts\",\n      \"locations\": [\n        \"East Asia\",\n        \"Southeast Asia\",\n        \"Austria East\",\n        \"Australia East\",\n        \"Australia Central\",\n        \"Australia Central 2\",\n        \"Australi[...]
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/providers/Microsoft.KeyVault?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/providers/Microsoft.KeyVault\",\n  \"namespace\": \"Microsoft.KeyVault\",\n  \"authorizations\": [\n    {\n      \"applicationId\": \"cfa8b339-82a2-471a-a3c9-0fc0be7a4093\",\n      \"roleDefinitionId\": \"1cf9858a-28a2-4228-abba-94e606305b95\"\n    },\n    {\n      \"applicationId\": \"589d5083-6f11-4d30-a62a-a4b316a14abf\",\n      \"roleDefinitionId\": \"1f7e9952-ea79-42b8-a90e-b2dabbe1c1f2\"\n    },\n    {\n      \"applicationId\": \"a1b76039-a76c-499f-a2dd-846b4cc32627\"\n    },\n    {\n      \"applicationId\": \"1341df96-0b28-43da-ba24-7a6ce39be816\"\n    }\n  ],\n  \"resourceTypes\": [\n    {\n      \"resourceType\": \"vaults\",\n      \"locations\": [\n        \"North Central US\",\n    [...]
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resources?$filter=resourceType%20eq%20'Microsoft.KeyVault%2FmanagedHSMs'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resourceGroups/cli_test_mhsm_region5qkvfj5s2kfr3kjk2c5x36f2rirvowyushaqrfjskvtxnymv7miz4ak/providers/Microsoft.KeyVault/managedHSMs/clitest-mhsm-ntoayieewcu\",\n      \"name\": \"clitest-mhsm-ntoayieewcu\",\n      \"type\": \"Microsoft.KeyVault/managedHSMs\",\n      \"sku\": {\n        \"name\": \"Standard_B1\",\n        \"family\": \"B\"\n      },\n      \"location\": \"eastus2\",\n      \"tags\": {}\n    }\n  ]\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resourceGroups/yash-rg/providers/Microsoft.KeyVault/managedHSMs/ps9028?api-version=2026-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\n  \"properties\": {\n    \"tenantId\": \"4f00b3b6-2940-4f2c-b037-94637c180d30\",\n    \"initialAdminObjectIds\": [\n      \"2f153a9e-5be9-4f43-abd2-04561777c8b0\"\n    ],\n    \"softDeleteRetentionInDays\": 7,\n    \"networkAcls\": {}\n  },\n  \"sku\": {\n    \"family\": \"B\",\n    \"name\": \"Standard_B1\"\n  },\n  \"identity\": {\n    \"type\": \"UserAssigned\",\n    \"userAssignedIdentities\": {\n      \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/yash-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/yashManagedIdentity01\": {}\n    }\n  },\n  \"location\": \"East Asia\"\n}",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"error\": {\n    \"code\": \"ResourceGroupNotFound\",\n    \"message\": \"Resource group 'yash-rg' could not be found.\"\n  }\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resourcegroups/yash-rg?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-deletes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"error\": {\n    \"code\": \"ResourceGroupNotFound\",\n    \"message\": \"Resource group 'yash-rg' could not be found.\"\n  }\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/providers/Microsoft.KeyVault/locations/East%20Asia/deletedManagedHSMs/ps9028/purge?api-version=2026-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"error\": {\n    \"code\": \"ResourceNotFound\",\n    \"message\": \"The specified resource does not exist. Follow this link for more information: https://go.microsoft.com/fwlink/?linkid=2147446\"\n  }\n}",
      "StatusCode": 404
    }
  ],
  "Names": {
    "Test-NewManagedHsmWithManagedServiceIdentity": [
      "ps9028"
    ]
  },
  "Variables": {
    "SubscriptionId": "f758ac53-3e63-4317-a956-0997793808d7"
  }
}