{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-[...]
    {
      "RequestUri": "/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourcegroups/ps6537?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US 2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537\",\r\n  \"name\": \"ps6537\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/virtualNetworks/ps491?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps491' under resource group 'ps6537' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/virtualNetworks/ps491?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"8da39a35-df1e-41aa-8b1e-13b0332b2788\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps491\",\r\n  \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/virtualNetworks/ps491\",\r\n  \"etag\": \"W/\\\"8da39a35-df1e-41aa-8b1e-13b0332b2788\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"9cd9c378-4499-4292-aa09-4ff4b3ff9e3b\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps6964\",\r\n        \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/virtualNetworks/ps491/subnets/ps6964\",\r\n        \"etag\": \"W/\\\"8da39a35-df1e-41aa-8b1e-13b0332b2788\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/virtualNetworks/ps491?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"ps6964\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"West US 2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/providers/Microsoft.Network/locations/westus2/operations/89e0cd02-2891-4ee3-bde6-4aef0c45a2a9?api-version=2020-06-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps491\",\r\n  \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/virtualNetworks/ps491\",\r\n  \"etag\": \"W/\\\"1062a253-0ba2-432f-bd82-1b16809b51c7\\\"\",\r\n  \"type\": \"Microsoft.Netw[...]
    {
      "RequestUri": "/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/providers/Microsoft.Network/locations/westus2/operations/89e0cd02-2891-4ee3-bde6-4aef0c45a2a9?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/publicIPAddresses/ps6580?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps6580' under resource group 'ps6537' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/publicIPAddresses/ps6580?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"0cb91f6a-41a6-4174-842e-da86f10c12fd\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11978"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps6580\",\r\n  \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/publicIPAddresses/ps6580\",\r\n  \"etag\": \"W/\\\"0cb91f6a-41a6-4174-842e-da86f10c12fd\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"0add81c3-6fcd-45c2-b548-73db6c6ac740\",\r\n    \"ipAddress\": \"20.59.48.203\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/publicIPAddresses/ps6580?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"ipTags\": []\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"West US 2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/providers/Microsoft.Network/locations/westus2/operations/3d88838b-9533-42ea-b200-9448529b0224?api-version=2020-06-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps6580\",\r\n  \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/publicIPAddresses/ps6580\",\r\n  \"etag\": \"W/\\\"93389de1-8d9e-4321-8949-c85528fa2d66\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"0add81c3-6fcd-45c2-b548-73db6c6ac740\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/applicationGateways/ps2267' under resource group 'ps6537' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"981942d4-6c3b-4dc4-9e0a-a10e8e1c41cd\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2267\",\r\n  \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267\",\r\n  \"etag\": \"W/\\\"981942d4-6c3b-4dc4-9e0a-a10e8e1c41cd\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"957ad583-0e07-493d-aa3e-fdbb271360f1\",\r\n    \"sku\": {\r\n      \"name\": \"WAF_v2\",\r\n      \"tier\": \"WAF_v2\"\r\n    },\r\n    \"operationalState\": \"Running\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps8325\",\r\n        \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/gatewayIPConfigurations/ps8325\",\r\n        \"etag\": \"W/\\\"981942d4-6c3b-4dc4-9e0a-a10e8e1c41cd\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/virtualNetworks/ps491/subnets/ps6964\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n      }\r\n    ],\r\n    \"sslCertificates\": [\r\n      {\r\n        \"name\": \"ps1216\",\r\n        \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/sslCertificates/ps1216\",\r\n        \"etag\": \"W/\\\"981942d4-6c3b-4dc4-9e0a-a10e8e1c41cd\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"publicCertData\": \"MIIDogYJKoZIhvcNAQcCoIIDkzCCA48CAQExADALBgkqhkiG9w0BBwGgggN3MIIDczCCAlugAwIBAgIQL/k3jna6xZtLgV+mC9tPdzANBgkqhkiG9w0BAQsFADAxMS8wLQYDVQQDDCZhcHBsaWNhdGlvbmdhdGV3YXkucG93ZXJzaGVsbC50ZXN0LmNvbTAgFw0xNzEwMzExNzA3MDBaGA8yMDU5MTAzMTE3MTcwMVowMTEvMC0GA1UEAwwmYXBwbGljYXRpb25nYXRld2F5LnBvd2Vyc2hlbGwudGVzdC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0xGszrl4F07eN+7WaJhi+ETjDkXJSiTwi0E0qHwCzIFMFypeBGQOQ/nkwcbF/nBRbUQDrGjhaWwdJ0CNHaQ3caVFfNVLb2Wlc4CJazy0bSNyGOJjK4H9WWM+eo7k4jEMmGIp+H5GvovBilwTLK1JQwbrp/XdLgA8TDy8ZLk0LDw5A028QywI8+cRKmmHJoEwIZMMovsqwzAUclsbgKkuRaoF8OOFh9nsOXx9+ulhrqshrpikUsDSsyDhvFLnqVJBdjA1dJDnd8ctGgGXPxhy2SOhOJ/SSPUed0reengNnycBMsumTpW0p/VRgPk1eWRh37MRmxB6X3j5vkgvtt8Z5AgMBAAGjgYQwgYEwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcDATAxBgNVHREEKjAogiZhcHBsaWNhdGlvbmdhdGV3YXkucG93ZXJzaGVsbC50ZXN0LmNvbTAdBgNVHQ4EFgQUCXYSgEunlkxbbGLEItZoAIuBWyUwDQYJKoZIhvcNAQELBQADggEBABYZecViOw7UQDGlc4Oy/sVmKbEF/a7XcOTiq95f39LQshc6ZhtkbvqUwzmGVP8S+DvrShI16F/Tkl/KBtUHG/e+l6GjIVbq1ygeTeAGy6BvNhDa41944Hd4A85X7YeD9qkQzHlAS8gBED1dTh3dXSVVdRZ5pcK0nxfNth3xQGTlfEFpPN6C6434YLQ5RvyYQGJkf3Amu8n8fWT40QIrsIPbbTdmXOl1I60NP7EPQp+9sHtdajZactzFJ2/ovOaK5JGRiX5RtRqz0hQT/6Benn7maD7Hz5bfOB8UmD4iR/QhWrcT+mCr1qS+ZFrD0bcEAi0NoJlSVFIB6rgUyE4CqxExAA==\"\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/sslCertificates\"\r\n      }\r\n    ],\r\n    \"trustedRootCertificates\": [],\r\n    \"trustedClientCertificates\": [],\r\n    \"sslProfiles\": [],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps3915\",\r\n        \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/frontendIPConfigurations/ps3915\",\r\n        \"etag\": \"W/\\\"981942d4-6c3b-4dc4-9e0a-a10e8e1c41cd\\\"\",\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/publicIPAddresses/ps6580\"\r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/httpListeners/ps2711\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendPorts\": [\r\n      {\r\n        \"name\": \"ps665\",\r\n        \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/frontendPorts/ps665\",\r\n        \"etag\": \"W/\\\"981942d4-6c3b-4dc4-9e0a-a10e8e1c41cd\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/httpListeners/ps2711\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\r\n      },\r\n      {\r\n        \"name\": \"ps1523\",\r\n        \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/frontendPorts/ps1523\",\r\n        \"etag\": \"W/\\\"981942d4-6c3b-4dc4-9e0a-a10e8e1c41cd\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 443\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps7949\",\r\n        \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/backendAddressPools/ps7949\",\r\n        \"etag\": \"W/\\\"981942d4-6c3b-4dc4-9e0a-a10e8e1c41cd\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"www.microsoft.com\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"www.bing.com\"\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/requestRoutingRules/ps4083\"\r\n            }\r\n          ],\r\n          \"urlPathMaps\": [\r\n            {\r\n              \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/urlPathMaps/ps7437\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendAddressPools\"\r\n      }\r\n    ],\r\n    \"loadDistributionPolicies\": [],\r\n    \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"name\": \"ps3976\",\r\n        \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/backendHttpSettingsCollection/ps3976\",\r\n        \"etag\": \"W/\\\"981942d4-6c3b-4dc4-9e0a-a10e8e1c41cd\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 443,\r\n          \"protocol\": \"Https\",\r\n          \"cookieBasedAffinity\": \"Enabled\",\r\n          \"pickHostNameFromBackendAddress\": true,\r\n          \"requestTimeout\": 30,\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/requestRoutingRules/ps4083\"\r\n            }\r\n          ],\r\n          \"urlPathMaps\": [\r\n            {\r\n              \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/urlPathMaps/ps7437\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendHttpSettingsCollection\"\r\n      }\r\n    ],\r\n    \"httpListeners\": [\r\n      {\r\n        \"name\": \"ps2711\",\r\n        \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/httpListeners/ps2711\",\r\n        \"etag\": \"W/\\\"981942d4-6c3b-4dc4-9e0a-a10e8e1c41cd\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/frontendIPConfigurations/ps3915\"\r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/frontendPorts/ps665\"\r\n          },\r\n          \"protocol\": \"Http\",\r\n          \"hostNames\": [],\r\n          \"requireServerNameIndication\": false,\r\n          \"customErrorConfigurations\": [],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/requestRoutingRules/ps4083\"\r\n            }\r\n          ],\r\n          \"redirectConfiguration\": [\r\n            {\r\n              \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/redirectConfigurations/ps8776\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/httpListeners\"\r\n      }\r\n    ],\r\n    \"urlPathMaps\": [\r\n      {\r\n        \"name\": \"ps7437\",\r\n        \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/urlPathMaps/ps7437\",\r\n        \"etag\": \"W/\\\"981942d4-6c3b-4dc4-9e0a-a10e8e1c41cd\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"defaultBackendAddressPool\": {\r\n            \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/backendAddressPools/ps7949\"\r\n          },\r\n          \"defaultBackendHttpSettings\": {\r\n            \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/backendHttpSettingsCollection/ps3976\"\r\n          },\r\n          \"pathRules\": [\r\n            {\r\n              \"name\": \"ps535\",\r\n              \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/urlPathMaps/ps7437/pathRules/ps535\",\r\n              \"etag\": \"W/\\\"981942d4-6c3b-4dc4-9e0a-a10e8e1c41cd\\\"\",\r\n              \"properties\": {\r\n                \"provisioningState\": \"Succeeded\",\r\n                \"paths\": [\r\n                  \"/video\"\r\n                ],\r\n                \"redirectConfiguration\": {\r\n                  \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/redirectConfigurations/ps8776\"\r\n                },\r\n                \"rewriteRuleSet\": {\r\n                  \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/rewriteRuleSets/ps6605\"\r\n                }\r\n              },\r\n              \"type\": \"Microsoft.Network/applicationGateways/urlPathMaps/pathRules\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/urlPathMaps\"\r\n      },\r\n      {\r\n        \"name\": \"ps5898\",\r\n        \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/urlPathMaps/ps5898\",\r\n        \"etag\": \"W/\\\"981942d4-6c3b-4dc4-9e0a-a10e8e1c41cd\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"defaultRedirectConfiguration\": {\r\n            \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/redirectConfigurations/ps8776\"\r\n          },\r\n          \"defaultRewriteRuleSet\": {\r\n            \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/rewriteRuleSets/ps6605\"\r\n          },\r\n          \"pathRules\": [\r\n            {\r\n              \"name\": \"ps535\",\r\n              \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/urlPathMaps/ps5898/pathRules/ps535\",\r\n              \"etag[...]
[...]
    {
      "RequestUri": "/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"WAF_v2\",\r\n      \"tier\": \"WAF_v2\"\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/virtualNetworks/ps491/subnets/ps6964\"\r\n          }\r\n        },\r\n        \"name\": \"ps8325\",\r\n        \"id\": \"/subscriptions/f7e1a56e-347b-4103-87c7-e775a3e11ac5/resourceGroups/ps6537/providers/Microsoft.Network/applicationGateways/ps2267/gatewayIpConfigurations/ps8325\"\r\n      }\r\n    ],\r\n    \"authenticationCertificates\": [],\r\n    \"trustedRootCertificates\": [],\r\n    \"trustedClientCertificates\": [],\r\n    \"sslCertificates\": [\r\n      {\r\n        \"properties\": {\r\n          \"data\": \"MIIK8QIBAzCCCq0GCSqGSIb3DQEHAaCCCp4EggqaMIIKljCCBg8GCSqGSIb3DQEHAaCCBgAEggX8MIIF+DCCBfQGCyqGSIb3DQEMCgECoIIE/jCCBPowHAYKKoZIhvcNAQwBAzAOBAgdE3kuZQ+Q3gICB9AEggTY5iAjhTBjltWxD0ssy9ry9anXUgD+FYCFjZzSeOf2O1x8Fp3wu3SG2bMArVOrkrh8oFzZbMnI0JS6vRTFyITlMUNXHWj5J+4Y4AI7rt/5Kg2agHzCp1ssiNtmHAD7+1zsLZ/xX+zT/oGByKRDmBvthKTX0bN1vugOv/bo3SXKaSriL/GIeLvcRovPXYIOFQw17GvykvYGG3X3MHQZJ4EpZwku9cyaleOpmlVRdABW1iW3kNU87N2/0cMzN2FRHrn9fNUfTvshnGob7jiHYXf3iu4ZE+ebAcVRlgWwGS9+kmkI3ueyWGDPDnoSr49PbpznIHt7OcNhWz19oBPVm[...]
[...]
