{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourcegroups/ps3460?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centraluseuap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460\",\r\n  \"name\": \"ps3460\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/virtualNetworks/ps9016?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps9016' under resource group 'ps3460' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/virtualNetworks/ps9016?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"f687b313-2566-4e55-a100-19a164cd9e1a\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps9016\",\r\n  \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/virtualNetworks/ps9016\",\r\n  \"etag\": \"W/\\\"f687b313-2566-4e55-a100-19a164cd9e1a\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"30c54780-aa78-43eb-a882-4e19596f4858\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps9013\",\r\n        \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/virtualNetworks/ps9016/subnets/ps9013\",\r\n        \"etag\": \"W/\\\"f687b313-2566-4e55-a100-19a164cd9e1a\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/virtualNetworks/ps9016?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"ps9013\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  },\r\n  \"location\": \"centraluseuap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://centraluseuap.management.azure.com/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/providers/Microsoft.Network/locations/centraluseuap/operations/558f34b4-f5df-4691-a97f-918e8098a248?api-version=2019-09-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps9016\",\r\n  \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/virtualNetworks/ps9016\",\r\n  \"etag\": \"W/\\\"449e5c57-336d-40b9-af20-4f1726e1ad92\\\"\",\r\n  \"type\": \"Microsoft.Ne[...]
    {
      "RequestUri": "/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/providers/Microsoft.Network/locations/centraluseuap/operations/558f34b4-f5df-4691-a97f-918e8098a248?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/publicIPAddresses/ps4430?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps4430' under resource group 'ps3460' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/publicIPAddresses/ps4430?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"19168ea4-cb2d-454a-a336-0a61c410199d\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11968"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps4430\",\r\n  \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/publicIPAddresses/ps4430\",\r\n  \"etag\": \"W/\\\"19168ea4-cb2d-454a-a336-0a61c410199d\\\"\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"9353361b-8e64-4fc2-82dc-81fede33b2ea\",\r\n    \"ipAddress\": \"52.253.238.178\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/publicIPAddresses/ps4430?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"ipTags\": []\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"centraluseuap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://centraluseuap.management.azure.com/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/providers/Microsoft.Network/locations/centraluseuap/operations/a1abd233-0230-41b6-bf07-63313fb22d81?api-version=2019-09-[...]
[...]
    {
      "RequestUri": "/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/listenerhttpPolicy?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/applicationGatewayWebApplicationFirewallPolicies/listenerhttpPolicy' under resource group 'ps3460' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/listenerhttpPolicy?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"00d3a370-f995-4d66-8966-1a185486d6b4\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11906"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"listenerhttpPolicy\",\r\n  \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/listenerhttpPolicy\",\r\n  \"etag\": \"W/\\\"00d3a370-f995-4d66-8966-1a185486d6b4\\\"\",\r\n  \"type\": \"Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"customRules\": [],\r\n    \"policySettings\": {\r\n      \"requestBodyCheck\": true,\r\n      \"maxRequestBodySizeInKb\": 128,\r\n      \"fileUploadLimitInMb\": 300,\r\n      \"state\": \"Enabled\",\r\n      \"mode\": \"Prevention\"\r\n    },\r\n    \"managedRules\": {\r\n      \"managedRuleSets\": [\r\n        {\r\n          \"ruleSetType\": \"OWASP\",\r\n          \"ruleSetVersion\": \"3.0\",\r\n          \"ruleGroupOverrides\": []\r\n        }\r\n      ],\r\n      \"exclusions\": []\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/videoPolicyName?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/applicationGatewayWebApplicationFirewallPolicies/videoPolicyName' under resource group 'ps3460' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/imagePolicyName?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/applicationGatewayWebApplicationFirewallPolicies/imagePolicyName' under resource group 'ps3460' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/applicationGateways/ps5522' under resource group 'ps3460' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"5ff38cab-e279-4486-8963-dc84e419020d\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11958"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5522\",\r\n  \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522\",\r\n  \"etag\": \"W/\\\"5ff38cab-e279-4486-8963-dc84e419020d\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"ede765f3-9a25-4f35-840e-3d244bb886fd\",\r\n    \"sku\": {\r\n      \"name\": \"WAF_v2\",\r\n      \"tier\": \"WAF_v2\"\r\n    },\r\n    \"operationalState\": \"Running\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps8841\",\r\n        \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/gatewayIPConfigurations/ps8841\",\r\n        \"etag\": \"W/\\\"5ff38cab-e279-4486-8963-dc84e419020d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/virtualNetworks/ps9016/subnets/ps9013\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n      }\r\n    ],\r\n    \"sslCertificates\": [\r\n      {\r\n        \"name\": \"ps219\",\r\n        \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/sslCertificates/ps219\",\r\n        \"etag\": \"W/\\\"5ff38cab-e279-4486-8963-dc84e419020d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"publicCertData\": \"MIIDogYJKoZIhvcNAQcCoIIDkzCCA48CAQExADALBgkqhkiG9w0BBwGgggN3MIIDczCCAlugAwIBAgIQL/k3jna6xZtLgV+mC9tPdzANBgkqhkiG9w0BAQsFADAxMS8wLQYDVQQDDCZhcHBsaWNhdGlvbmdhdGV3YXkucG93ZXJzaGVsbC50ZXN0LmNvbTAgFw0xNzEwMzExNzA3MDBaGA8yMDU5MTAzMTE3MTcwMVowMTEvMC0GA1UEAwwmYXBwbGljYXRpb25nYXRld2F5LnBvd2Vyc2hlbGwudGVzdC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0xGszrl4F07eN+7WaJhi+ETjDkXJSiTwi0E0qHwCzIFMFypeBGQOQ/nkwcbF/nBRbUQDrGjhaWwdJ0CNHaQ3caVFfNVLb2Wlc4CJazy0bSNyGOJjK4H9WWM+eo7k4jEMmGIp+H5GvovBilwTLK1JQwbrp/XdLgA8TDy8ZLk0LDw5A028QywI8+cRKmmHJoEwIZMMovsqwzAUclsbgKkuRaoF8OOFh9nsOXx9+ulhrqshrpikUsDSsyDhvFLnqVJBdjA1dJDnd8ctGgGXPxhy2SOhOJ/SSPUed0reengNnycBMsumTpW0p/VRgPk1eWRh37MRmxB6X3j5vkgvtt8Z5AgMBAAGjgYQwgYEwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcDATAxBgNVHREEKjAogiZhcHBsaWNhdGlvbmdhdGV3YXkucG93ZXJzaGVsbC50ZXN0LmNvbTAdBgNVHQ4EFgQUCXYSgEunlkxbbGLEItZoAIuBWyUwDQYJKoZIhvcNAQELBQADggEBABYZecViOw7UQDGlc4Oy/sVmKbEF/a7XcOTiq95f39LQshc6ZhtkbvqUwzmGVP8S+DvrShI16F/Tkl/KBtUHG/e+l6GjIVbq1ygeTeAGy6BvNhDa41944Hd4A85X7YeD9qkQzHlAS8gBED1dTh3dXSVVdRZ5pcK0nxfNth3xQGTlfEFpPN6C6434YLQ5RvyYQGJkf3Amu8n8fWT40QIrsIPbbTdmXOl1I60NP7EPQp+9sHtdajZactzFJ2/ovOaK5JGRiX5RtRqz0hQT/6Benn7maD7Hz5bfOB8UmD4iR/QhWrcT+mCr1qS+ZFrD0bcEAi0NoJlSVFIB6rgUyE4CqxExAA==\"\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/sslCertificates\"\r\n      }\r\n    ],\r\n    \"trustedRootCertificates\": [],\r\n    \"trustedClientCertificates\": [],\r\n    \"sslProfiles\": [],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps7200\",\r\n        \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/frontendIPConfigurations/ps7200\",\r\n        \"etag\": \"W/\\\"5ff38cab-e279-4486-8963-dc84e419020d\\\"\",\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/publicIPAddresses/ps4430\"\r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/httpListeners/ps9647\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendPorts\": [\r\n      {\r\n        \"name\": \"ps4140\",\r\n        \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/frontendPorts/ps4140\",\r\n        \"etag\": \"W/\\\"5ff38cab-e279-4486-8963-dc84e419020d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/httpListeners/ps9647\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\r\n      },\r\n      {\r\n        \"name\": \"ps7987\",\r\n        \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/frontendPorts/ps7987\",\r\n        \"etag\": \"W/\\\"5ff38cab-e279-4486-8963-dc84e419020d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 443\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps2666\",\r\n        \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/backendAddressPools/ps2666\",\r\n        \"etag\": \"W/\\\"5ff38cab-e279-4486-8963-dc84e419020d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"www.microsoft.com\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"www.bing.com\"\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/requestRoutingRules/ps2777\"\r\n            }\r\n          ],\r\n          \"urlPathMaps\": [\r\n            {\r\n              \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/urlPathMaps/ps1828\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendAddressPools\"\r\n      }\r\n    ],\r\n    \"loadDistributionPolicies\": [],\r\n    \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"name\": \"ps8731\",\r\n        \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/backendHttpSettingsCollection/ps8731\",\r\n        \"etag\": \"W/\\\"5ff38cab-e279-4486-8963-dc84e419020d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 443,\r\n          \"protocol\": \"Https\",\r\n          \"cookieBasedAffinity\": \"Enabled\",\r\n          \"pickHostNameFromBackendAddress\": true,\r\n          \"requestTimeout\": 30,\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/requestRoutingRules/ps2777\"\r\n            }\r\n          ],\r\n          \"urlPathMaps\": [\r\n            {\r\n              \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/urlPathMaps/ps1828\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendHttpSettingsCollection\"\r\n      }\r\n    ],\r\n    \"httpListeners\": [\r\n      {\r\n        \"name\": \"ps9647\",\r\n        \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/httpListeners/ps9647\",\r\n        \"etag\": \"W/\\\"5ff38cab-e279-4486-8963-dc84e419020d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"firewallPolicy\": {\r\n            \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/listenerhttpPolicy\"\r\n          },\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/frontendIPConfigurations/ps7200\"\r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/frontendPorts/ps4140\"\r\n          },\r\n          \"protocol\": \"Http\",\r\n          \"hostNames\": [],\r\n          \"requireServerNameIndication\": false,\r\n          \"customErrorConfigurations\": [],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/requestRoutingRules/ps2777\"\r\n            }\r\n          ],\r\n          \"redirectConfiguration\": [\r\n            {\r\n              \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/redirectConfigurations/ps480\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/httpListeners\"\r\n      }\r\n    ],\r\n    \"urlPathMaps\": [\r\n      {\r\n        \"name\": \"ps1828\",\r\n        \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/urlPathMaps/ps1828\",\r\n        \"etag\": \"W/\\\"5ff38cab-e279-4486-8963-dc84e419020d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"defaultBackendAddressPool\": {\r\n            \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/backendAddressPools/ps2666\"\r\n          },\r\n          \"defaultBackendHttpSettings\": {\r\n            \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/backendHttpSettingsCollection/ps8731\"\r\n          },\r\n          \"pathRules\": [\r\n            {\r\n              \"name\": \"ps8765\",\r\n              \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/urlPathMaps/ps1828/pathRules/ps8765\",\r\n              \"etag\": \"W/\\\"5ff38cab-e279-4486-8963-dc84e419020d\\\"\",\r\n              \"properties\": {\r\n                \"provisioningState\": \"Succeeded\",\r\n                \"paths\": [\r\n                  \"/video\"\r\n                ],\r\n                \"redirectConfiguration\": {\r\n                  \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/redirectConfigurations/ps480\"\r\n                },\r\n                \"rewriteRuleSet\": {\r\n                  \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/rewriteRuleSets/ps9780\"\r\n                },\r\n                \"firewallPolicy\": {\r\n                  \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies/videoPolicyName\"\r\n                }\r\n              },\r\n              \"type\": \"Microsoft.Network/applicationGateways/urlPathMaps/pathRules\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/urlPathMaps\"\r\n      },\r\n      {\r\n        \"name\": \"ps8935\",\r\n        \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/urlPathMaps/ps8935\",\r\n        \"etag\": \"W/\\\"5ff38cab-e279-4486-8963-dc84e419020d\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"defaultRedirectConfiguration\": {\r\n            \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/redirectConfigurations/ps480\"\r\n          },\r\n          \"defaultRewriteRuleSet\": {\r\n            \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/rewriteRuleSets/ps9780\"\r\n          },\r\n          \"pathRules\": [\r\n            {\r\n              \"name\": \"ps8765\",\r\n              \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/urlPathMaps/ps8935/pathRules/ps8765\",\r\n              \"et[...]
[...]
    {
      "RequestUri": "/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"WAF_v2\",\r\n      \"tier\": \"WAF_v2\"\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/virtualNetworks/ps9016/subnets/ps9013\"\r\n          }\r\n        },\r\n        \"name\": \"ps8841\",\r\n        \"id\": \"/subscriptions/1496a758-b2ff-43ef-b738-8e9eb5161a86/resourceGroups/ps3460/providers/Microsoft.Network/applicationGateways/ps5522/gatewayIpConfigurations/ps8841\"\r\n      }\r\n    ],\r\n    \"authenticationCertificates\": [],\r\n    \"trustedRootCertificates\": [],\r\n    \"sslCertificates\": [\r\n      {\r\n        \"properties\": {\r\n          \"data\": \"MIIK8QIBAzCCCq0GCSqGSIb3DQEHAaCCCp4EggqaMIIKljCCBg8GCSqGSIb3DQEHAaCCBgAEggX8MIIF+DCCBfQGCyqGSIb3DQEMCgECoIIE/jCCBPowHAYKKoZIhvcNAQwBAzAOBAgdE3kuZQ+Q3gICB9AEggTY5iAjhTBjltWxD0ssy9ry9anXUgD+FYCFjZzSeOf2O1x8Fp3wu3SG2bMArVOrkrh8oFzZbMnI0JS6vRTFyITlMUNXHWj5J+4Y4AI7rt/5Kg2agHzCp1ssiNtmHAD7+1zsLZ/xX+zT/oGByKRDmBvthKTX0bN1vugOv/bo3SXKaSriL/GIeLvcRovPXYIOFQw17GvykvYGG3X3MHQZJ4EpZwku9cyaleOpmlVRdABW1iW3kNU87N2/0cMzN2FRHrn9fNUfTvshnGob7jiHYXf3iu4ZE+ebAcVRlgWwGS9+kmkI3ueyWGDPDnoSr49PbpznIHt7OcNhWz19oBPVm[...]
[...]
    {
[...]
