{
  "Entries": [
    {
      "RequestUri": "/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourcegroups/ps278?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278\",\r\n  \"name\": \"ps278\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/virtualNetworks/ps1162?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps1162' under resource group 'ps278' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/virtualNetworks/ps1162?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"d809c8e6-8db5-4ea0-adbc-e2db6d5a5170\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps1162\",\r\n  \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/virtualNetworks/ps1162\",\r\n  \"etag\": \"W/\\\"d809c8e6-8db5-4ea0-adbc-e2db6d5a5170\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"1e4713d0-1cea-4837-bbd7-cf10715146f4\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps9917\",\r\n        \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/virtualNetworks/ps1162/subnets/ps9917\",\r\n        \"etag\": \"W/\\\"d809c8e6-8db5-4ea0-adbc-e2db6d5a5170\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      },\r\n      {\r\n        \"name\": \"ps5307\",\r\n        \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/virtualNetworks/ps1162/subnets/ps5307\",\r\n        \"etag\": \"W/\\\"d809c8e6-8db5-4ea0-adbc-e2db6d5a5170\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.2.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/virtualNetworks/ps1162?api-version=2019-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"resourceNavigationLinks\": [],\r\n          \"serviceAssociationLinks\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"ps9917\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.2.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"resourceNavigationLinks\": [],\r\n          \"serviceAssociationLinks\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"ps5307\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/providers/Microsoft.Network/locations/westcentralus/operations/f0f590d9-8ad1-4531-a2ee-7ae40ba0a0d5?api-version=2019-08-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps1162\",\r\n  \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/virtualNetworks/ps1162\",\r\n  \"etag\": \"W/\\\"9c07e3ea-2c45-4658-b268-d40603605ef4\\\"\",\r\n  \"type\": \"Microsoft.Net[...]
    {
      "RequestUri": "/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/providers/Microsoft.Network/locations/westcentralus/operations/f0f590d9-8ad1-4531-a2ee-7ae40ba0a0d5?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/publicIPAddresses/ps7131?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps7131' under resource group 'ps278' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/publicIPAddresses/ps7131?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"3ddd2a67-fbf3-4393-9911-b64720353bd0\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps7131\",\r\n  \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/publicIPAddresses/ps7131\",\r\n  \"etag\": \"W/\\\"3ddd2a67-fbf3-4393-9911-b64720353bd0\\\"\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"e9ff29c2-1ad6-4d85-bd2d-f22b6ac4644b\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/publicIPAddresses/ps7131?api-version=2019-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"ipTags\": []\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/providers/Microsoft.Network/locations/westcentralus/operations/de361cf4-9378-40c1-b4a7-6afbd6bcb6b2?api-version=2019-08-01"
        ],[...]
[...]
    {
      "RequestUri": "/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/applicationGateways/ps1735' under resource group 'ps278' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"c4d9d6bc-37be-45df-a568-2d0d84692442\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11869"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps1735\",\r\n  \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735\",\r\n  \"etag\": \"W/\\\"c4d9d6bc-37be-45df-a568-2d0d84692442\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"3ded6169-4a6b-43b7-b49e-28a4011115a9\",\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"operationalState\": \"Running\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps1680\",\r\n        \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/gatewayIPConfigurations/ps1680\",\r\n        \"etag\": \"W/\\\"c4d9d6bc-37be-45df-a568-2d0d84692442\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/virtualNetworks/ps1162/subnets/ps9917\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n      }\r\n    ],\r\n    \"sslCertificates\": [\r\n      {\r\n        \"name\": \"ps3015\",\r\n        \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/sslCertificates/ps3015\",\r\n        \"etag\": \"W/\\\"c4d9d6bc-37be-45df-a568-2d0d84692442\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"publicCertData\": \"MIIDogYJKoZIhvcNAQcCoIIDkzCCA48CAQExADALBgkqhkiG9w0BBwGgggN3MIIDczCCAlugAwIBAgIQL/k3jna6xZtLgV+mC9tPdzANBgkqhkiG9w0BAQsFADAxMS8wLQYDVQQDDCZhcHBsaWNhdGlvbmdhdGV3YXkucG93ZXJzaGVsbC50ZXN0LmNvbTAgFw0xNzEwMzExNzA3MDBaGA8yMDU5MTAzMTE3MTcwMVowMTEvMC0GA1UEAwwmYXBwbGljYXRpb25nYXRld2F5LnBvd2Vyc2hlbGwudGVzdC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC0xGszrl4F07eN+7WaJhi+ETjDkXJSiTwi0E0qHwCzIFMFypeBGQOQ/nkwcbF/nBRbUQDrGjhaWwdJ0CNHaQ3caVFfNVLb2Wlc4CJazy0bSNyGOJjK4H9WWM+eo7k4jEMmGIp+H5GvovBilwTLK1JQwbrp/XdLgA8TDy8ZLk0LDw5A028QywI8+cRKmmHJoEwIZMMovsqwzAUclsbgKkuRaoF8OOFh9nsOXx9+ulhrqshrpikUsDSsyDhvFLnqVJBdjA1dJDnd8ctGgGXPxhy2SOhOJ/SSPUed0reengNnycBMsumTpW0p/VRgPk1eWRh37MRmxB6X3j5vkgvtt8Z5AgMBAAGjgYQwgYEwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcDATAxBgNVHREEKjAogiZhcHBsaWNhdGlvbmdhdGV3YXkucG93ZXJzaGVsbC50ZXN0LmNvbTAdBgNVHQ4EFgQUCXYSgEunlkxbbGLEItZoAIuBWyUwDQYJKoZIhvcNAQELBQADggEBABYZecViOw7UQDGlc4Oy/sVmKbEF/a7XcOTiq95f39LQshc6ZhtkbvqUwzmGVP8S+DvrShI16F/Tkl/KBtUHG/e+l6GjIVbq1ygeTeAGy6BvNhDa41944Hd4A85X7YeD9qkQzHlAS8gBED1dTh3dXSVVdRZ5pcK0nxfNth3xQGTlfEFpPN6C6434YLQ5RvyYQGJkf3Amu8n8fWT40QIrsIPbbTdmXOl1I60NP7EPQp+9sHtdajZactzFJ2/ovOaK5JGRiX5RtRqz0hQT/6Benn7maD7Hz5bfOB8UmD4iR/QhWrcT+mCr1qS+ZFrD0bcEAi0NoJlSVFIB6rgUyE4CqxExAA==\",\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/httpListeners/ps8326\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/sslCertificates\"\r\n      }\r\n    ],\r\n    \"authenticationCertificates\": [],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps3685\",\r\n        \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/frontendIPConfigurations/ps3685\",\r\n        \"etag\": \"W/\\\"c4d9d6bc-37be-45df-a568-2d0d84692442\\\"\",\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/publicIPAddresses/ps7131\"\r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/httpListeners/ps8326\"\r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/httpListeners/ps9243\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendPorts\": [\r\n      {\r\n        \"name\": \"ps8951\",\r\n        \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/frontendPorts/ps8951\",\r\n        \"etag\": \"W/\\\"c4d9d6bc-37be-45df-a568-2d0d84692442\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 443,\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/httpListeners/ps8326\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\r\n      },\r\n      {\r\n        \"name\": \"ps3190\",\r\n        \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/frontendPorts/ps3190\",\r\n        \"etag\": \"W/\\\"c4d9d6bc-37be-45df-a568-2d0d84692442\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/httpListeners/ps9243\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps4089\",\r\n        \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/backendAddressPools/ps4089\",\r\n        \"etag\": \"W/\\\"c4d9d6bc-37be-45df-a568-2d0d84692442\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"www.microsoft.com\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"www.bing.com\"\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/requestRoutingRules/ps5475\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendAddressPools\"\r\n      }\r\n    ],\r\n    \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"name\": \"ps1646\",\r\n        \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/backendHttpSettingsCollection/ps1646\",\r\n        \"etag\": \"W/\\\"c4d9d6bc-37be-45df-a568-2d0d84692442\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"protocol\": \"Http\",\r\n          \"cookieBasedAffinity\": \"Enabled\",\r\n          \"pickHostNameFromBackendAddress\": true,\r\n          \"requestTimeout\": 30,\r\n          \"probe\": {\r\n            \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/probes/ps4216\"\r\n          },\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/requestRoutingRules/ps5475\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendHttpSettingsCollection\"\r\n      }\r\n    ],\r\n    \"httpListeners\": [\r\n      {\r\n        \"name\": \"ps8326\",\r\n        \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/httpListeners/ps8326\",\r\n        \"etag\": \"W/\\\"c4d9d6bc-37be-45df-a568-2d0d84692442\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/frontendIPConfigurations/ps3685\"\r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/frontendPorts/ps8951\"\r\n          },\r\n          \"protocol\": \"Https\",\r\n          \"sslCertificate\": {\r\n            \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/sslCertificates/ps3015\"\r\n          },\r\n          \"requireServerNameIndication\": false,\r\n          \"customErrorConfigurations\": [],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/requestRoutingRules/ps5475\"\r\n            }\r\n          ],\r\n          \"redirectConfiguration\": [\r\n            {\r\n              \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/redirectConfigurations/ps3992\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/httpListeners\"\r\n      },\r\n      {\r\n        \"name\": \"ps9243\",\r\n        \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.[...]
[...]
    {
      "RequestUri": "/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735?api-version=2019-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"sslPolicy\": {\r\n      \"policyType\": \"Custom\",\r\n      \"cipherSuites\": [\r\n        \"TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256\",\r\n        \"TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384\",\r\n        \"TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA\",\r\n        \"TLS_RSA_WITH_AES_128_GCM_SHA256\"\r\n      ],\r\n      \"minProtocolVersion\": \"TLSv1_1\"\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/virtualNetworks/ps1162/subnets/ps9917\"\r\n          }\r\n        },\r\n        \"name\": \"ps1680\",\r\n        \"id\": \"/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/gatewayIpConfigurations/ps1680\"\r\n      }\r\n    ],\r\n    \"authenticationCertificates\": [],\r\n    \"trustedRootCertificates\": [],\r\n    \"sslCertificates\": [\r\n      {\r\n        \"properties\": {\r\n          \"data\": \"MIIK8QIBAzCCCq0GCSqGSIb3DQEHAaCCCp4EggqaMIIKljCCBg8GCSqGSIb3DQEHAaCCBgAEggX8MIIF+DCCBfQGCyqGSIb3DQEMCgECoIIE/jCCBPowHAYKKoZIhvcNAQwBAzAOBAgdE3kuZQ+Q3gICB9AEggTY5iAjhTBjltWxD0ssy9ry9anXUgD+FYCFjZzSeOf2O1x8Fp3wu3SG2bMArVOrkrh8oFzZbMnI0JS6vRTFyITlMUNXHWj5J+4Y4AI7rt/5Kg2agHzCp1ssiNtmHAD7+1zsLZ/xX+zT/oGByKRDmBvthKTX0bN1vugOv/bo3SXKaSriL/GIeLvcRovPXYIOFQw17GvykvYGG3X3MHQZJ4EpZwku9cyaleOpmlVRdABW1iW3kNU87N2/0cMzN2FRHrn9fNUfTvshnGob7jiHYXf3iu4ZE+ebAcVRlgWwGS9+kmkI3ueyWGDPDnoSr49PbpznIHt7OcNhWz19oBPVm[...]
[...]
    {
      "RequestUri": "/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/resourceGroups/ps278/providers/Microsoft.Network/applicationGateways/ps1735/stop?api-version=2019-08-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/providers/Microsoft.Network/locations/westcentralus/operationResults/d458f211-4c07-49d8-ab50-1a65e90f77d2?api-version=2019-08-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/providers/Microsoft.Network/locations/westcentralus/operations/d458f211-4c07-49d8-ab50-1a65e90f77d2?api-version=2019-08-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/providers/Microsoft.Network/locations/westcentralus/operationResults/d458f211-4c07-49d8-ab50-1a65e90f77d2?api-version=2019-08-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/providers/Microsoft.Network/locations/westcentralus/operationResults/d458f211-4c07-49d8-ab50-1a65e90f77d2?api-version=2019-08-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/providers/Microsoft.Network/locations/westcentralus/operations/d458f211-4c07-49d8-ab50-1a65e90f77d2?api-version=2019-08-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11972"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzI3OC1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzI3OC1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11883"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/5f1006f9-e71f-4023-bb9e-f1c90262eda0/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzI3OC1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11876"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-ApplicationGatewayCRUD2": [
      "ps278",
      "ps1735",
      "ps1162",
      "ps9917",
      "ps5307",
      "ps7131",
      "ps1680",
      "ps8951",
      "ps3190",
      "ps3685",
      "ps8326",
      "ps9243",
      "ps3015",
      "ps2813",
      "ps4089",
      "ps1646",
      "ps3992",
      "ps7185",
      "ps2902",
      "ps5475",
      "ps3104",
      "ps4216"
    ]
  },
  "Variables": {
    "SubscriptionId": "5f1006f9-e71f-4023-bb9e-f1c90262eda0"
  }
}