{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-45a9-930c-ddb2e56fa131\"\r\n    },\r\n    {\r\n      \"applicationId\": \"486c78bf-a0f7-45f1-92fd-37215929e116\",\r\n      \"roleDefinitionId\": \"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d\"\r\n    },\r\n    {\r\n      \"applicationId\": \"19947cfd-0303-466c-ac3c-fcc19a7a1570\",\r\n      \"roleDefinitionId\": \"d813ab6c-bfb7-413e-9462-005b21f0ce09\"\r\n    },\r\n    {\r\n      \"applicationId\": \"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd\",\r\n      \"roleDefinitionId\": \"8141843c-c51c-4c1e-a5bf-0d351594b86c\"\r\n    },\r\n    {\r\n      \"applicationId\": \"328fd23b-de6e-462c-9433-e207470a5727\",\r\n      \"roleDefinitionId\": \"79e29e06-4056-41e5-a6b2-959f1f47747e\"\r\n    },\r\n    {\r\n      \"applicationId\": \"6d057c82-a784-47ae-8d12-ca7b38cf06b4\",\r\n      \"roleDefinitionId\": \"c27dd31e-c1e5-4ab0-93e1-a12ba34f182e\",\r\n      \"managedByRoleDefinitionId\": \"82e8942a-bcb6-444a-b1c4-31a3ea463a7d\"\r\n    },\r\n    {\r\n      \"applicationId\": \"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a\",\r\n      \"roleDefinitionId\": \"18363e25-ff21-4159-ae8d-7dfecb5bd001\"\r\n    },\r\n    {\r\n      \"applicationId\": \"79d7fb34-4bef-4417-8184-ff713af7a679\",\r\n      \"roleDefinitionId\": \"1c1f11ef-abfa-4abe-a02b-226771d07fc7\"\r\n    },\r\n    {\r\n      \"applicationId\": \"38808189-fa7a-4d8a-807f-eba01edacca6\",\r\n      \"roleDefinitionId\": \"7dbad3e2-b105-40d5-8fe4-4a9ff6c17ae6\"\r\n    },\r\n    {\r\n      \"applicationId\": \"6e02f8e9-db9b-4eb5-aa5a-7c8968375f68\",\r\n      \"roleDefinitionId\": \"787424c7-f9d2-416b-a939-4d59deb2d259\"\r\n    },\r\n    {\r\n      \"applicationId\": \"60b2e7d5-a27f-426d-a6b1-acced0846fdf\",\r\n      \"roleDefinitionId\": \"0edb7c43-ed90-4da9-9ca2-e9a5d1521b00\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"checkFrontdoorNameAvailability\",\r\n      \"locations\": [\r\n        \"global\",\r\n        \"Central US\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"West US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2021-06-01\",\r\n        \"2020-07-01\",\r\n        \"2020-05-01\",\r\n        \"2020-01-01\",\r\n        \"2019-08-01\",\r\n        \"2019-05-01\",\r\n        \"2019-04-01\",\r\n        \"2018-08-01\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"frontdoorWebApplicationFirewallManagedRuleSets\",\r\n      \"locations\": [\r\n        \"global\",\r\n        \"Central US\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"North Central US\",\r\n        \"S[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourcegroups/ps1278?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"East US\",\r\n  \"tags\": {\r\n    \"testtag\": \"APPGw tag\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278\",\r\n  \"name\": \"ps1278\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"testtag\": \"APPGw tag\",\r\n    \"Created\": \"2024-02-28T17:12:20.2513996Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/virtualNetworks/ps2158?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps2158' under resource group 'ps1278' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/virtualNetworks/ps2158?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"34f583f0-5e01-4968-9e7a-164b9eaeede8\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2158\",\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/virtualNetworks/ps2158\",\r\n  \"etag\": \"W/\\\"34f583f0-5e01-4968-9e7a-164b9eaeede8\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"8a22f439-2d78-46f0-9e74-2a3f83727429\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps3685\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/virtualNetworks/ps2158/subnets/ps3685\",\r\n        \"etag\": \"W/\\\"34f583f0-5e01-4968-9e7a-164b9eaeede8\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/virtualNetworks/ps2158?api-version=2023-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps3685\",\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n          \"applicationGatewayIPConfigurations\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/eastus/operations/795bd14b-2fed-4dfb-8a5f-2a2bac7076ba?api-version=2023-09-01&t=638447371440395666&c=MIIHADCCBeigAwIBAgITfARlFdSUZK8kechtYQAABGUV1DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMjA1NjEzWhcNMjUwMTI0MjA1NjEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/eastus/operations/795bd14b-2fed-4dfb-8a5f-2a2bac7076ba?api-version=2023-09-01&t=638447371440395666&c=MIIHADCCBeigAwIBAgITfARlFdSUZK8kechtYQAABGUV1DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMjA1NjEzWhcNMjUwMTI0MjA1NjEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dX[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/publicIPAddresses/ps5757?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps5757' under resource group 'ps1278' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/publicIPAddresses/ps5757?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"f0c19a02-924e-4da6-8c69-59553d4392e2\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5757\",\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/publicIPAddresses/ps5757\",\r\n  \"etag\": \"W/\\\"f0c19a02-924e-4da6-8c69-59553d4392e2\\\"\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"00f27fee-59d1-4d58-8c8e-2ceb8cb22b9e\",\r\n    \"ipAddress\": \"52.224.217.1\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": [],\r\n    \"ddosSettings\": {\r\n      \"protectionMode\": \"VirtualNetworkInherited\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/publicIPAddresses/ps5757?api-version=2023-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"zones\": [],\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"ipTags\": []\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/eastus/operations/d3246bcd-ddb6-4733-829a-7febd94a5954?api-version=2023-09-01&t=638447371514253641&c=MIIHADCCBeigAw[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/eastus/operations/d3246bcd-ddb6-4733-829a-7febd94a5954?api-version=2023-09-01&t=638447371514253641&c=MIIHADCCBeigAwIBAgITfARlFdSUZK8kechtYQAABGUV1DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMjA1NjEzWhcNMjUwMTI0MjA1NjEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dX[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/applicationGateways/ps7767' under resource group 'ps1278' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"8b3c8f72-c768-46d5-a262-74da658a10ee\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps7767\",\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767\",\r\n  \"etag\": \"W/\\\"8b3c8f72-c768-46d5-a262-74da658a10ee\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"518937b5-eb50-41cc-8a46-b2d51125397e\",\r\n    \"sku\": {\r\n      \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"family\": \"Generation_1\",\r\n      \"capacity\": 2\r\n    },\r\n    \"operationalState\": \"Running\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps2055\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/gatewayIPConfigurations/ps2055\",\r\n        \"etag\": \"W/\\\"8b3c8f72-c768-46d5-a262-74da658a10ee\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/virtualNetworks/ps2158/subnets/ps3685\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n      }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"trustedRootCertificates\": [\r\n      {\r\n        \"name\": \"ps1846\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/trustedRootCertificates/ps1846\",\r\n        \"etag\": \"W/\\\"8b3c8f72-c768-46d5-a262-74da658a10ee\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"data\": \"MIIDTzCCAjegAwIBAgIQj5oTlR6oyJ1NlX9Wb9aFyjANBgkqhkiG9w0BAQsFADAwMS4wLAYDVQQDEyVBcHBsaWNhdGlvbkdhdGV3YXlTc2xDZXJ0LVVuaXRUZXN0LTAxMB4XDTE2MDIxNzA3MDc1M1oXDTM5MTIzMTIzNTk1OVowMDEuMCwGA1UEAxMlQXBwbGljYXRpb25HYXRld2F5U3NsQ2VydC1Vbml0VGVzdC0wMTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANOUOFVmm+P4ht/qaiGZaiMzZSXwqGP8W/XWZRfJSc1mS6B4zBm8MtndmO9NbPUeGetk3E4jI0egP7NufuTAtfZY5nG9/gsZh8Hp4o+x+6F1wCUtK5pQ5Fne4Vwg0Q9k1CgUfQfK0zEoanOTEylcyp1nVpoGc3v4FZ9pQr8/xQ7+PSwgNpmGpU1gmgorDlXIO8jiKb+WfSoPAhHcavoPFg6DeGv30AK2m8ULFezOqbprrozRxXaKzt8fBaDSP1XMakFaO6ffZU4uNgrehW4zMnpdgAjT5koymDKGAfl/7+5QpLxSKc2478J+PvTwy/rfWKJLbEImoM7WE3imWgrHUNMCAwEAAaNlMGMwYQYDVR0BBFowWIAQxDXqD2PYxSlriJ6HuzZ+b6EyMDAxLjAsBgNVBAMTJUFwcGxpY2F0aW9uR2F0ZXdheVNzbENlcnQtVW5pdFRlc3QtMDGCEI+aE5UeqMidTZV/Vm/WhcowDQYJKoZIhvcNAQELBQADggEBADSC6PHkVYmoVOyyW2g7q3GG3MmXa43/HQNTM+pT3HENAlhGg8T9EFrOQ/0QAoEQbrtsP8Isj5u2Bd4MOlYA180ExyfL/NFb7QpXq/pRLbePMQAQicdSvk/9RyrNRBfNjT2KNlBp3RZtCkJjQWlc5ylWydPy4JPUZxit/5ygCRT+cmN1ioF469Ki8hzBlKmrDg8jkFUwFyD7B0fEfPP0gSZI3F6HqgCK2hzBTjujZjddZyn2XxXlxLu57C83CNPP8fbsGW2CwolgmYvt+dJsdDnT7VKX5RS4cOPp/JGG7QdhzqVBoK0vZP6gHEAOPoqBVUWf8SmlVuAVGmDl8EjLnK8=\",\r\n          \"backendHttpSettings\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/backendHttpSettingsCollection/ps8083\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/trustedRootCertificates\"\r\n      }\r\n    ],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps1116\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/frontendIPConfigurations/ps1116\",\r\n        \"etag\": \"W/\\\"8b3c8f72-c768-46d5-a262-74da658a10ee\\\"\",\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/publicIPAddresses/ps5757\"\r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/httpListeners/powershellBasicSkuTestListener1\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendPorts\": [\r\n      {\r\n        \"name\": \"powershellBasicSkuTestPort80\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/frontendPorts/powershellBasicSkuTestPort80\",\r\n        \"etag\": \"W/\\\"8b3c8f72-c768-46d5-a262-74da658a10ee\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/httpListeners/powershellBasicSkuTestListener1\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"powershellBasicSkuTestBackendPool1\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/backendAddressPools/powershellBasicSkuTestBackendPool1\",\r\n        \"etag\": \"W/\\\"8b3c8f72-c768-46d5-a262-74da658a10ee\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"www.microsoft.com\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"www.bing.com\"\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/requestRoutingRules/powershellBasicSkuTestRoutingRule1\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendAddressPools\"\r\n      }\r\n    ],\r\n    \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"name\": \"ps8083\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/backendHttpSettingsCollection/ps8083\",\r\n        \"etag\": \"W/\\\"8b3c8f72-c768-46d5-a262-74da658a10ee\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 443,\r\n          \"protocol\": \"Https\",\r\n          \"cookieBasedAffinity\": \"Enabled\",\r\n          \"pickHostNameFromBackendAddress\": true,\r\n          \"requestTimeout\": 30,\r\n          \"probe\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/probes/ps2336\"\r\n          },\r\n          \"trustedRootCertificates\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/trustedRootCertificates/ps1846\"\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/requestRoutingRules/powershellBasicSkuTestRoutingRule1\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendHttpSettingsCollection\"\r\n      }\r\n    ],\r\n    \"httpListeners\": [\r\n      {\r\n        \"name\": \"powershellBasicSkuTestListener1\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/httpListeners/powershellBasicSkuTestListener1\",\r\n        \"etag\": \"W/\\\"8b3c8f72-c768-46d5-a262-74da658a10ee\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/frontendIPConfigurations/ps1116\"\r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/frontendPorts/powershellBasicSkuTestPort80\"\r\n          },\r\n          \"protocol\": \"Http\",\r\n          \"hostNames\": [],\r\n          \"requireServerNameIndication\": false,\r\n          \"enableHttp3\": false,\r\n          \"customErrorConfigurations\": [],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/requestRoutingRules/powershellBasicSkuTestRoutingRule1\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/httpListeners\"\r\n      }\r\n    ],\r\n    \"urlPathMaps\": [],\r\n    \"requestRoutingRules\": [\r\n      {\r\n        \"name\": \"powershellBasicSkuTestRoutingRule1\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/requestRoutingRules/powershellBasicSkuTestRoutingRule1\",\r\n        \"etag\": \"W/\\\"8b3c8f72-c768-46d5-a262-74da658a10ee\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"ruleType\": \"Basic\",\r\n          \"priority\": 100,\r\n          \"httpListener\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/httpListeners/powershellBasicSkuTestListener1\"\r\n          },\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/backendAddressPools/powershellBasicSkuTestBackendPool1\"\r\n          },\r\n          \"backendHttpSettings\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/backendHttpSettingsCollection/ps8083\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/requestRoutingRules\"\r\n      }\r\n    ],\r\n    \"probes\": [\r\n      {\r\n        \"name\": \"ps2336\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/probes/ps2336\",\r\n        \"etag\": \"W/\\\"8b3c8f72-c768-46d5-a262-74da658a10ee\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Https\",\r\n          \"host\": \"probe.com\",\r\n          \"path\": \"/path/path.htm\",\r\n          \"interval\": 89,\r\n          \"timeout\": 88,\r\n          \"unhealthyThreshold\": 8,\r\n          \"pickHostNameFromBackendHttpSettings\": false,\r\n          \"minServers\": 0,\r\n          \"match\": {},\r\n          \"backendHttpSettings\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/backendHttpSettingsCollection/ps8083\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/probes\"\r\n      }\r\n    ],\r\n    \"rewriteRuleSets\": [],\r\n    \"redirectConfigurations\": [],\r\n    \"defaultPredefinedSslPolicy\": \"AppGwSslPolicy20220101\",\r\n    \"globalConfiguration\": {\r\n      \"enableRequestBuffering\": true,\r\n      \"enableResponseBuffering\": true\r\n    },\r\n    \"customErrorConfigurations\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767?api-version=2023-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"zones\": [],\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"capacity\": 2\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps2055\",\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/virtualNetworks/ps2158/subnets/ps3685\"\r\n          }\r\n        },\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps1278/providers/Microsoft.Network/applicationGateways/ps7767/gatewayIpConfigurations/ps2055\"\r\n      }\r\n    ],\r\n    \"authenticationCertificates\": [],\r\n    \"trustedRootCertificates\": [\r\n      {\r\n        \"name\": \"ps1846\",\r\n        \"properties\": {\r\n          \"data\": \"MIIDTzCCAjegAwIBAgIQj5oTlR6oyJ1NlX9Wb9aFyjANBgkqhkiG9w0BAQsFADAwMS4wLAYDVQQDEyVBcHBsaWNhdGlvbkdhdGV3YXlTc2xDZXJ0LVVuaXRUZXN0LTAxMB4XDTE2MDIxNzA3MDc1M1oXDTM5MTIzMTIzNTk1OVowMDEuMCwGA1UEAxMlQXBwbGljYXRpb25HYXRld2F5U3NsQ2VydC1Vbml0VGVzdC0wMTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANOUOFVmm+P4ht/qaiGZaiMzZSXwqGP8W/XWZRfJSc1mS6B4zBm8MtndmO9NbPUeGetk3E4jI0egP7N[...]
