{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-45a9-930c-ddb2e56fa131\"\r\n    },\r\n    {\r\n      \"applicationId\": \"486c78bf-a0f7-45f1-92fd-37215929e116\",\r\n      \"roleDefinitionId\": \"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d\"\r\n    },\r\n    {\r\n      \"applicationId\": \"19947cfd-0303-466c-ac3c-fcc19a7a1570\",\r\n      \"roleDefinitionId\": \"d813ab6c-bfb7-413e-9462-005b21f0ce09\"\r\n    },\r\n    {\r\n      \"applicationId\": \"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd\",\r\n      \"roleDefinitionId\": \"8141843c-c51c-4c1e-a5bf-0d351594b86c\"\r\n    },\r\n    {\r\n      \"applicationId\": \"328fd23b-de6e-462c-9433-e207470a5727\",\r\n      \"roleDefinitionId\": \"79e29e06-4056-41e5-a6b2-959f1f47747e\"\r\n    },\r\n    {\r\n      \"applicationId\": \"6d057c82-a784-47ae-8d12-ca7b38cf06b4\",\r\n      \"roleDefinitionId\": \"c27dd31e-c1e5-4ab0-93e1-a12ba34f182e\",\r\n      \"managedByRoleDefinitionId\": \"82e8942a-bcb6-444a-b1c4-31a3ea463a7d\"\r\n    },\r\n    {\r\n      \"applicationId\": \"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a\",\r\n      \"roleDefinitionId\": \"18363e25-ff21-4159-ae8d-7dfecb5bd001\"\r\n    },\r\n    {\r\n      \"applicationId\": \"79d7fb34-4bef-4417-8184-ff713af7a679\",\r\n      \"roleDefinitionId\": \"1c1f11ef-abfa-4abe-a02b-226771d07fc7\"\r\n    },\r\n    {\r\n      \"applicationId\": \"38808189-fa7a-4d8a-807f-eba01edacca6\",\r\n      \"roleDefinitionId\": \"7dbad3e2-b105-40d5-8fe4-4a9ff6c17ae6\"\r\n    },\r\n    {\r\n      \"applicationId\": \"6e02f8e9-db9b-4eb5-aa5a-7c8968375f68\",\r\n      \"roleDefinitionId\": \"787424c7-f9d2-416b-a939-4d59deb2d259\"\r\n    },\r\n    {\r\n      \"applicationId\": \"60b2e7d5-a27f-426d-a6b1-acced0846fdf\",\r\n      \"roleDefinitionId\": \"0edb7c43-ed90-4da9-9ca2-e9a5d1521b00\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"checkFrontdoorNameAvailability\",\r\n      \"locations\": [\r\n        \"global\",\r\n        \"Central US\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"West US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2021-06-01\",\r\n        \"2020-07-01\",\r\n        \"2020-05-01\",\r\n        \"2020-01-01\",\r\n        \"2019-08-01\",\r\n        \"2019-05-01\",\r\n        \"2019-04-01\",\r\n        \"2018-08-01\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"frontdoorWebApplicationFirewallManagedRuleSets\",\r\n      \"locations\": [\r\n        \"global\",\r\n        \"Central US\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"North Central US\",\r\n        \"S[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourcegroups/ps7160?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"East US\",\r\n  \"tags\": {\r\n    \"testtag\": \"APPGw tag\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160\",\r\n  \"name\": \"ps7160\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"testtag\": \"APPGw tag\",\r\n    \"Created\": \"2024-02-28T15:01:48.2486119Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/virtualNetworks/ps513?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps513' under resource group 'ps7160' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/virtualNetworks/ps513?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"fcac2120-2dfc-4177-99a5-b955b09014f9\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps513\",\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/virtualNetworks/ps513\",\r\n  \"etag\": \"W/\\\"fcac2120-2dfc-4177-99a5-b955b09014f9\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"f2d1f669-cd05-4872-bba0-97af2ab508a1\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps6292\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/virtualNetworks/ps513/subnets/ps6292\",\r\n        \"etag\": \"W/\\\"fcac2120-2dfc-4177-99a5-b955b09014f9\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/virtualNetworks/ps513?api-version=2023-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps6292\",\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n          \"applicationGatewayIPConfigurations\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/eastus/operations/5670597d-f6d9-4967-886e-bd2d9d1f7cce?api-version=2023-09-01&t=638447293170545401&c=MIIHADCCBeigAwIBAgITfARlFdSUZK8kechtYQAABGUV1DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMjA1NjEzWhcNMjUwMTI0MjA1NjEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/eastus/operations/5670597d-f6d9-4967-886e-bd2d9d1f7cce?api-version=2023-09-01&t=638447293170545401&c=MIIHADCCBeigAwIBAgITfARlFdSUZK8kechtYQAABGUV1DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMjA1NjEzWhcNMjUwMTI0MjA1NjEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dX[...]
[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/eastus/operations/7578cecf-c8f5-4292-8fa7-1ab0e102f248?api-version=2023-09-01&t=638447293250595255&c=MIIHADCCBeigAwIBAgITfARlFdSUZK8kechtYQAABGUV1DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMjA1NjEzWhcNMjUwMTI0MjA1NjEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dX[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/publicIPAddresses/ps6911?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps6911' under resource group 'ps7160' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/publicIPAddresses/ps6911?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"753d7625-8db4-445d-bd8b-d863b92dc656\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps6911\",\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/publicIPAddresses/ps6911\",\r\n  \"etag\": \"W/\\\"753d7625-8db4-445d-bd8b-d863b92dc656\\\"\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"8af610b7-ddb7-4268-a2a7-bc1bab94a7dc\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/publicIPAddresses/ps6911?api-version=2023-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  },\r\n  \"zones\": [],\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"ipTags\": []\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/eastus/operations/e797a37e-c512-439a-a7a5-152514de3462?api-version=2023-09-01&t=638447293323950160&c=MIIHADCCBeigA[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/eastus/operations/e797a37e-c512-439a-a7a5-152514de3462?api-version=2023-09-01&t=638447293323950160&c=MIIHADCCBeigAwIBAgITfARlFdSUZK8kechtYQAABGUV1DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMjA1NjEzWhcNMjUwMTI0MjA1NjEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dX[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/applicationGateways/ps6579' under resource group 'ps7160' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"acac8c66-372b-4162-abfe-fc4697e1115f\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps6579\",\r\n  \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579\",\r\n  \"etag\": \"W/\\\"acac8c66-372b-4162-abfe-fc4697e1115f\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"57f8e9e9-c872-4be6-92e4-8bf9e870c6ef\",\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\": \"Standard\",\r\n      \"family\": \"Generation_1\",\r\n      \"capacity\": 2\r\n    },\r\n    \"operationalState\": \"Running\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps6345\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/gatewayIPConfigurations/ps6345\",\r\n        \"etag\": \"W/\\\"acac8c66-372b-4162-abfe-fc4697e1115f\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/virtualNetworks/ps513/subnets/ps6292\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n      }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"authenticationCertificates\": [],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps3196\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/frontendIPConfigurations/ps3196\",\r\n        \"etag\": \"W/\\\"acac8c66-372b-4162-abfe-fc4697e1115f\\\"\",\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/publicIPAddresses/ps6911\"\r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/httpListeners/ps9828\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendPorts\": [\r\n      {\r\n        \"name\": \"ps5230\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/frontendPorts/ps5230\",\r\n        \"etag\": \"W/\\\"acac8c66-372b-4162-abfe-fc4697e1115f\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/httpListeners/ps9828\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps5476\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/backendAddressPools/ps5476\",\r\n        \"etag\": \"W/\\\"acac8c66-372b-4162-abfe-fc4697e1115f\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"www.microsoft.com\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"www.bing.com\"\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/requestRoutingRules/ps4480\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendAddressPools\"\r\n      }\r\n    ],\r\n    \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"name\": \"ps7594\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/backendHttpSettingsCollection/ps7594\",\r\n        \"etag\": \"W/\\\"acac8c66-372b-4162-abfe-fc4697e1115f\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 443,\r\n          \"protocol\": \"Https\",\r\n          \"cookieBasedAffinity\": \"Enabled\",\r\n          \"pickHostNameFromBackendAddress\": true,\r\n          \"requestTimeout\": 30,\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/requestRoutingRules/ps4480\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendHttpSettingsCollection\"\r\n      }\r\n    ],\r\n    \"httpListeners\": [\r\n      {\r\n        \"name\": \"ps9828\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/httpListeners/ps9828\",\r\n        \"etag\": \"W/\\\"acac8c66-372b-4162-abfe-fc4697e1115f\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/frontendIPConfigurations/ps3196\"\r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/frontendPorts/ps5230\"\r\n          },\r\n          \"protocol\": \"Http\",\r\n          \"hostNames\": [],\r\n          \"requireServerNameIndication\": false,\r\n          \"enableHttp3\": false,\r\n          \"customErrorConfigurations\": [],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/requestRoutingRules/ps4480\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/httpListeners\"\r\n      }\r\n    ],\r\n    \"urlPathMaps\": [],\r\n    \"requestRoutingRules\": [\r\n      {\r\n        \"name\": \"ps4480\",\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/requestRoutingRules/ps4480\",\r\n        \"etag\": \"W/\\\"acac8c66-372b-4162-abfe-fc4697e1115f\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"ruleType\": \"Basic\",\r\n          \"httpListener\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/httpListeners/ps9828\"\r\n          },\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/backendAddressPools/ps5476\"\r\n          },\r\n          \"backendHttpSettings\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/backendHttpSettingsCollection/ps7594\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/requestRoutingRules\"\r\n      }\r\n    ],\r\n    \"probes\": [],\r\n    \"rewriteRuleSets\": [],\r\n    \"redirectConfigurations\": [],\r\n    \"sslPolicy\": {\r\n      \"disabledSslProtocols\": [\r\n        \"TLSv1_0\",\r\n        \"TLSv1_1\"\r\n      ]\r\n    },\r\n    \"enableFIPS\": true,\r\n    \"defaultPredefinedSslPolicy\": \"AppGwSslPolicy20150501\",\r\n    \"customErrorConfigurations\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579?api-version=2023-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"zones\": [],\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"sslPolicy\": {\r\n      \"disabledSslProtocols\": [\r\n        \"TLSv1_0\",\r\n        \"TLSv1_1\"\r\n      ]\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps6345\",\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/virtualNetworks/ps513/subnets/ps6292\"\r\n          }\r\n        },\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/gatewayIpConfigurations/ps6345\"\r\n      }\r\n    ],\r\n    \"authenticationCertificates\": [],\r\n    \"trustedRootCertificates\": [],\r\n    \"trustedClientCertificates\": [],\r\n    \"sslCertificates\": [],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps3196\",\r\n        \"properties\": {\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/publicIPAddresses/ps6911\"\r\n          }\r\n        },\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicati[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579?api-version=2023-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"zones\": [],\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Standard_Medium\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"sslPolicy\": {\r\n      \"disabledSslProtocols\": [\r\n        \"TLSv1_0\",\r\n        \"TLSv1_1\"\r\n      ]\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps6345\",\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/virtualNetworks/ps513/subnets/ps6292\"\r\n          }\r\n        },\r\n        \"id\": \"/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/resourceGroups/ps7160/providers/Microsoft.Network/applicationGateways/ps6579/gatewayIPConfigurations/ps6345\"\r\n      }\r\n    ],\r\n    \"authenticationCertificates\": [\r\n      {\r\n        \"name\": \"ps4939\",\r\n        \"properties\": {\r\n          \"data\": \"MIIDTzCCAjegAwIBAgIQj5oTlR6oyJ1NlX9Wb9aFyjANBgkqhkiG9w0BAQsFADAwMS4wLAYDVQQDEyVBcHBsaWNhdGlvbkdhdGV3YXlTc2xDZXJ0LVVuaXRUZXN0LTAxMB4XDTE2MDIxNzA3MDc1M1oXDTM5MTIzMTIzNTk1OVowMDEuMCwGA1UEAxMlQXBwbGljYXRpb25HYXRld2F5U3NsQ2VydC1Vbml0VGVzdC0wMTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANOUOFVmm+P4ht/qaiGZaiMzZSXwqGP8W/XWZRfJSc1mS6B4zBm8MtndmO9NbPUeGetk3E4jI0egP7NufuTAtfZY5nG9/gsZh8Hp4o+x+6F1wCUtK5pQ5Fne4Vwg0Q9k1CgUfQfK0zEoanOTEylcyp1nVpoGc3v4FZ9pQr8/xQ7+PSwgNpmGpU1gmgorDlXIO8jiKb+WfSoPAhHcavoPFg6De[...]
[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/eastus/operations/3a2eb8fe-ad35-42bd-880a-e9d57e77dfc3?api-version=2023-09-01&t=638447293376586541&c=MIIHADCCBeigAwIBAgITfARlFdSUZK8kechtYQAABGUV1DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMjA1NjEzWhcNMjUwMTI0MjA1NjEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dX[...]
[...]
    {
      "RequestUri": "/subscriptions/3b028902-cfb5-48e2-aecc-c5bbed898e87/providers/Microsoft.Network/locations/eastus/operations/3a2eb8fe-ad35-42bd-880a-e9d57e77dfc3?api-version=2023-09-01&t=638447293376586541&c=MIIHADCCBeigAwIBAgITfARlFdSUZK8kechtYQAABGUV1DANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwMTMwMjA1NjEzWhcNMjUwMTI0MjA1NjEzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dX[...]
