{
  "Entries": [
    {
      "RequestUri": "/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-45a9-930c-ddb2e56fa131\"\r\n    },\r\n    {\r\n      \"applicationId\": \"486c78bf-a0f7-45f1-92fd-37215929e116\",\r\n      \"roleDefinitionId\": \"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d\"\r\n    },\r\n    {\r\n      \"applicationId\": \"19947cfd-0303-466c-ac3c-fcc19a7a1570\",\r\n      \"roleDefinitionId\": \"d813ab6c-bfb7-413e-9462-005b21f0ce09\"\r\n    },\r\n    {\r\n      \"applicationId\": \"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd\",\r\n      \"roleDefinitionId\": \"8141843c-c51c-4c1e-a5bf-0d351594b86c\"\r\n    },\r\n    {\r\n      \"applicationId\": \"328fd23b-de6e-462c-9433-e207470a5727\",\r\n      \"roleDefinitionId\": \"79e29e06-4056-41e5-a6b2-959f1f47747e\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"virtualNetworks\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"UK West\",\r\n        \"UK South\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"Australia Central\",\r\n        \"South Africa North\",\r\n        \"UAE North\",\r\n        \"Switzerland North\",\r\n        \"Germany West Central\",\r\n        \"Norway East\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2020-03-01\",\r\n        \"2020-01-01\",\r\n        \"2019-12-01\",\r\n        \"2019-11-01\",\r\n        \"2019-09-01\",\r\n        \"2019-08-01\",\r\n        \"2019-07-01\",\r\n        \"2019-06-01\",\r\n        \"2019-04-01\",\r\n        \"2019-02-01\",\r\n        \"2018-12-01\",\r\n        \"2018-11-01\",\r\n        \"2018-10-01\",\r\n        \"2018-08-01\",\r\n        \"2018-07-01\",\r\n        \"2018-06-01\",\r\n        \"2018-05-01\",\r\n        \"2018-04-01\",\r\n        \"2018-03-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-01\",\r\n        \"2017-11-01\",\r\n        \"2017-10-01\",\r\n        \"2017-09-01\",\r\n        \"2017-08-01\",\r\n        \"2017-06-01\",\r\n        \"2017-04-01\",\r\n        \"2017-03-01\",\r\n        \"2016-12-01\",\r\n        \"2016-11-01\",\r\n        \"2016-10-01\",\r\n        \"2016-09-01\",\r\n        \"2016-08-01\",\r\n        \"2016-07-01\",\r\n        \"2016-06-01\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\",\r\n        \"2014-12-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"natGateways\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"UK West\",\r\n        \"UK South\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"Australia Central\",\r\n        \"South Africa North\",\r\n        \"UAE North\",\r\n        \"Switzerland North\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2020-03-01\",\r\n        \"2020-01-01\",\r\n        \"2019-12-01\",\r\n        \"2019-11-01\",\r\n        \"2019-09-01\",\r\n        \"2019-08-01\",\r\n        \"2019-07-01\",\r\n        \"2019-06-01\",\r\n        \"2019-04-01\",\r\n        \"2019-02-01\",\r\n        \"2018-12-01\",\r\n        \"2018-11-01\"\r\n      ],\r\n      \"zoneMappings\": [\r\n        {\r\n          \"location\": \"East US 2\",\r\n          \"zones\": [\r\n            \"3\",\r\n            \"1\",\r\n            \"2\"\r\n          ]\r\n        },\r\n        {\r\n          \"location\": \"Central US\",\r\n          \"zones\": [\r\n            \"3\",\r\n            \"1\",\r\n            \"2\"\r\n          ]\r\n        },\r\n        {\r\n          \"location\": \"West Europe\",\r\n          \"zones\": [\r\n            \"3\",\r\n            \"1\",\r\n            \"2\"\r\n          ]\r\n        },\r\n        {\r\n          \"location\": \"France C[...]
    {
      "RequestUri": "/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourcegroups/ps158?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158\",\r\n  \"name\": \"ps158\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/virtualNetworks/ps4047?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps4047' under resource group 'ps158' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/virtualNetworks/ps4047?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"3009eb9f-6d05-4ed3-965d-bdb5b7e31324\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps4047\",\r\n  \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/virtualNetworks/ps4047\",\r\n  \"etag\": \"W/\\\"3009eb9f-6d05-4ed3-965d-bdb5b7e31324\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"6dc5117d-04d5-4ecc-84f9-09a34f36ed33\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps1637\",\r\n        \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/virtualNetworks/ps4047/subnets/ps1637\",\r\n        \"etag\": \"W/\\\"3009eb9f-6d05-4ed3-965d-bdb5b7e31324\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/virtualNetworks/ps4047?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"ps1637\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/providers/Microsoft.Network/locations/westus2/operations/77e5bba2-5c7a-4887-b37e-94b6d56b244d?api-version=2020-03-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps4047\",\r\n  \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/virtualNetworks/ps4047\",\r\n  \"etag\": \"W/\\\"5528f71d-18ae-4071-858a-6cc80898667d\\\"\",\r\n  \"type\": \"Microsoft.Net[...]
    {
      "RequestUri": "/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/providers/Microsoft.Network/locations/westus2/operations/77e5bba2-5c7a-4887-b37e-94b6d56b244d?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/publicIPAddresses/ps869?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps869' under resource group 'ps158' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/publicIPAddresses/ps869?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"7e08e8d0-e97f-4bc5-ae39-874d7d5ea47b\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps869\",\r\n  \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/publicIPAddresses/ps869\",\r\n  \"etag\": \"W/\\\"7e08e8d0-e97f-4bc5-ae39-874d7d5ea47b\\\"\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"149d83ce-90c0-422b-b1b6-d846c3b5c8ad\",\r\n    \"ipAddress\": \"51.143.110.15\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/applicationGateways/ps6625' under resource group 'ps158' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"5392d903-37d6-48ed-9f1c-eb4cc2947c36\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11967"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps6625\",\r\n  \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625\",\r\n  \"etag\": \"W/\\\"5392d903-37d6-48ed-9f1c-eb4cc2947c36\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westus2\",\r\n  \"zones\": [\r\n    \"1\",\r\n    \"2\"\r\n  ],\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"e613d9e8-523e-405e-8cfa-5ea42540315d\",\r\n    \"sku\": {\r\n      \"name\": \"Standard_v2\",\r\n      \"tier\": \"Standard_v2\"\r\n    },\r\n    \"operationalState\": \"Running\",\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps2172\",\r\n        \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/gatewayIPConfigurations/ps2172\",\r\n        \"etag\": \"W/\\\"5392d903-37d6-48ed-9f1c-eb4cc2947c36\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/virtualNetworks/ps4047/subnets/ps1637\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n      }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"trustedRootCertificates\": [\r\n      {\r\n        \"name\": \"ps213\",\r\n        \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/trustedRootCertificates/ps213\",\r\n        \"etag\": \"W/\\\"5392d903-37d6-48ed-9f1c-eb4cc2947c36\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"data\": \"MIIDTzCCAjegAwIBAgIQj5oTlR6oyJ1NlX9Wb9aFyjANBgkqhkiG9w0BAQsFADAwMS4wLAYDVQQDEyVBcHBsaWNhdGlvbkdhdGV3YXlTc2xDZXJ0LVVuaXRUZXN0LTAxMB4XDTE2MDIxNzA3MDc1M1oXDTM5MTIzMTIzNTk1OVowMDEuMCwGA1UEAxMlQXBwbGljYXRpb25HYXRld2F5U3NsQ2VydC1Vbml0VGVzdC0wMTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANOUOFVmm+P4ht/qaiGZaiMzZSXwqGP8W/XWZRfJSc1mS6B4zBm8MtndmO9NbPUeGetk3E4jI0egP7NufuTAtfZY5nG9/gsZh8Hp4o+x+6F1wCUtK5pQ5Fne4Vwg0Q9k1CgUfQfK0zEoanOTEylcyp1nVpoGc3v4FZ9pQr8/xQ7+PSwgNpmGpU1gmgorDlXIO8jiKb+WfSoPAhHcavoPFg6DeGv30AK2m8ULFezOqbprrozRxXaKzt8fBaDSP1XMakFaO6ffZU4uNgrehW4zMnpdgAjT5koymDKGAfl/7+5QpLxSKc2478J+PvTwy/rfWKJLbEImoM7WE3imWgrHUNMCAwEAAaNlMGMwYQYDVR0BBFowWIAQxDXqD2PYxSlriJ6HuzZ+b6EyMDAxLjAsBgNVBAMTJUFwcGxpY2F0aW9uR2F0ZXdheVNzbENlcnQtVW5pdFRlc3QtMDGCEI+aE5UeqMidTZV/Vm/WhcowDQYJKoZIhvcNAQELBQADggEBADSC6PHkVYmoVOyyW2g7q3GG3MmXa43/HQNTM+pT3HENAlhGg8T9EFrOQ/0QAoEQbrtsP8Isj5u2Bd4MOlYA180ExyfL/NFb7QpXq/pRLbePMQAQicdSvk/9RyrNRBfNjT2KNlBp3RZtCkJjQWlc5ylWydPy4JPUZxit/5ygCRT+cmN1ioF469Ki8hzBlKmrDg8jkFUwFyD7B0fEfPP0gSZI3F6HqgCK2hzBTjujZjddZyn2XxXlxLu57C83CNPP8fbsGW2CwolgmYvt+dJsdDnT7VKX5RS4cOPp/JGG7QdhzqVBoK0vZP6gHEAOPoqBVUWf8SmlVuAVGmDl8EjLnK8=\",\r\n          \"backendHttpSettings\": [\r\n            {\r\n              \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/backendHttpSettingsCollection/ps7158\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/trustedRootCertificates\"\r\n      }\r\n    ],\r\n    \"trustedClientCertificates\": [],\r\n    \"sslProfiles\": [],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps5695\",\r\n        \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/frontendIPConfigurations/ps5695\",\r\n        \"etag\": \"W/\\\"5392d903-37d6-48ed-9f1c-eb4cc2947c36\\\"\",\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/publicIPAddresses/ps869\"\r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/httpListeners/ps3572\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendPorts\": [\r\n      {\r\n        \"name\": \"ps2641\",\r\n        \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/frontendPorts/ps2641\",\r\n        \"etag\": \"W/\\\"5392d903-37d6-48ed-9f1c-eb4cc2947c36\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/httpListeners/ps3572\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/frontendPorts\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps8236\",\r\n        \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/backendAddressPools/ps8236\",\r\n        \"etag\": \"W/\\\"5392d903-37d6-48ed-9f1c-eb4cc2947c36\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"www.microsoft.com\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"www.bing.com\"\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/requestRoutingRules/ps8714\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendAddressPools\"\r\n      }\r\n    ],\r\n    \"loadDistributionPolicies\": [],\r\n    \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"name\": \"ps7158\",\r\n        \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/backendHttpSettingsCollection/ps7158\",\r\n        \"etag\": \"W/\\\"5392d903-37d6-48ed-9f1c-eb4cc2947c36\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 443,\r\n          \"protocol\": \"Https\",\r\n          \"cookieBasedAffinity\": \"Enabled\",\r\n          \"pickHostNameFromBackendAddress\": true,\r\n          \"requestTimeout\": 30,\r\n          \"probe\": {\r\n            \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/probes/ps8026\"\r\n          },\r\n          \"trustedRootCertificates\": [\r\n            {\r\n              \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/trustedRootCertificates/ps213\"\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/requestRoutingRules/ps8714\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/backendHttpSettingsCollection\"\r\n      }\r\n    ],\r\n    \"httpListeners\": [\r\n      {\r\n        \"name\": \"ps3572\",\r\n        \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/httpListeners/ps3572\",\r\n        \"etag\": \"W/\\\"5392d903-37d6-48ed-9f1c-eb4cc2947c36\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/frontendIPConfigurations/ps5695\"\r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/frontendPorts/ps2641\"\r\n          },\r\n          \"protocol\": \"Http\",\r\n          \"hostNames\": [],\r\n          \"requireServerNameIndication\": false,\r\n          \"customErrorConfigurations\": [],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/requestRoutingRules/ps8714\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/httpListeners\"\r\n      }\r\n    ],\r\n    \"urlPathMaps\": [],\r\n    \"requestRoutingRules\": [\r\n      {\r\n        \"name\": \"ps8714\",\r\n        \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/requestRoutingRules/ps8714\",\r\n        \"etag\": \"W/\\\"5392d903-37d6-48ed-9f1c-eb4cc2947c36\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"ruleType\": \"Basic\",\r\n          \"httpListener\": {\r\n            \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/httpListeners/ps3572\"\r\n          },\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/backendAddressPools/ps8236\"\r\n          },\r\n          \"backendHttpSettings\": {\r\n            \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/backendHttpSettingsCollection/ps7158\"\r\n          },\r\n          \"rewriteRuleSet\": {\r\n            \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/rewriteRuleSets/ps4233\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/requestRoutingRules\"\r\n      }\r\n    ],\r\n    \"probes\": [\r\n      {\r\n        \"name\": \"ps8026\",\r\n        \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/probes/ps8026\",\r\n        \"etag\": \"W/\\\"5392d903-37d6-48ed-9f1c-eb4cc2947c36\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Https\",\r\n          \"host\": \"probe.com\",\r\n          \"path\": \"/path/path.htm\",\r\n          \"interval\": 89,\r\n          \"timeout\": 88,\r\n          \"unhealthyThreshold\": 8,\r\n          \"pickHostNameFromBackendHttpSettings\": false,\r\n          \"minServers\": 0,\r\n          \"match\": {},\r\n          \"backendHttpSettings\": [\r\n            {\r\n              \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/backendHttpSettingsCollection/ps7158\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/probes\"\r\n      }\r\n    ],\r\n    \"rewriteRuleSets\": [\r\n      {\r\n        \"name\": \"ps4233\",\r\n        \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/rewriteRuleSets/ps4233\",\r\n        \"etag\": \"W/\\\"5392d903-37d6-48ed-9f1c-eb4cc2947c36\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"rewriteRules\": [\r\n            {\r\n              \"ruleSequence\": 102,\r\n              \"conditions\": [\r\n                {\r\n                  \"variable\": \"var_request_uri\",\r\n                  \"pattern\": \"http\",\r\n                  \"ignoreCase\": true,\r\n                  \"negate\": false\r\n                }\r\n              ],\r\n              \"name\": \"ps1977\",\r\n              \"actionSet\": {\r\n                \"requestHeaderConfigurations\": [\r\n                  {\r\n                    \"headerName\": \"abc\",\r\n                    \"headerValue\": \"def\"\r\n                  }\r\n                ],\r\n                \"responseHeaderConfigurations\": []\r\n              }\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/45a81a6d-520b-4e1b-8355-5a4714332d26/resourceGroups/ps158/providers/Microsoft.Network/applicationGateways/ps6625/requestRoutingRules/ps8714\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/rewriteRuleSets\"\r\n      }\r\n    ],\r\n    \"redirectConfigurations\": [],\r\n    \"privateLinkResources\": [],\r\n    \"sslPolicy\": {\r\n      \"policyType\": \"Custom\",\r\n      \"minProtocolVersion\": \"TLSv1_1\",\r\n      \"cipherSuites\": [\r\n        \"TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256\",\r\n        \"TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384\",\r\n        \"TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA\",\r\n        \"TLS_RSA_WITH_AES_128_GCM_SHA256\"\r\n      ]\r\n    },\r\n    \"autoscaleConfiguration\": {\r\n      \"minCapacity\": 3\r\n    },\r\n    \"customErrorConfigurations\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
[...]
