{
  "Entries": [
    {
      "RequestUri": "/subscriptions/cd45f23b-b832-4fa4-a434-1bf7e6f14a5a/resourcegroups/PowerShellTest?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'PowerShellTest' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/cd45f23b-b832-4fa4-a434-1bf7e6f14a5a/resourcegroups/PowerShellTest?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cd45f23b-b832-4fa4-a434-1bf7e6f14a5a/resourceGroups/PowerShellTest\",\r\n  \"name\": \"PowerShellTest\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cd45f23b-b832-4fa4-a434-1bf7e6f14a5a/resourceGroups/PowerShellTest/providers/Microsoft.Automation/automationAccounts/account-powershell-test?api-version=2021-06-22",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Automation/automationAccounts/account-powershell-test' under resource group 'PowerShellTest' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/cd45f23b-b832-4fa4-a434-1bf7e6f14a5a/resourceGroups/PowerShellTest/providers/Microsoft.Automation/automationAccounts/account-powershell-test?api-version=2021-06-22",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ocp-automation-accountid": [
          "3c8aea95-2cb9-46e1-95e7-f6d51774ee53"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"account-powershell-test\",\r\n  \"systemData\": {\r\n    \"createdAt\": \"2022-08-30T13:29:58.33+05:30\",\r\n    \"lastModifiedAt\": \"2022-08-30T13:30:03.08+05:30\"\r\n  },\r\n  \"id\": \"/subscriptions/cd45f23b-b832-4fa4-a434-1bf7e6f14a5a/resourceGroups/PowerShellTest/providers/Microsoft.Automation/automationAccounts/account-powershell-test\",\r\n  \"type\": \"Microsoft.Automation/AutomationAccounts\",\r\n  \"location\": \"West Central US\",\r\n  \"tags\": {\r\n    \"gg\": \"hh\",\r\n    \"abc\": \"def\"\r\n  },\r\n  \"etag\": null,\r\n  \"properties\": {\r\n    \"disableLocalAuth\": false,\r\n    \"sku\": {\r\n      \"name\": \"Basic\",\r\n      \"family\": null,\r\n      \"capacity\": null\r\n    },\r\n    \"state\": \"Ok\",\r\n    \"RegistrationUrl\": \"https://3c8aea95-2cb9-46e1-95e7-f6d51774ee53.agentsvc.wcus.azure-automation.net/accounts/3c8aea95-2cb9-46e1-95e7-f6d51774ee53\",\r\n    \"encryption\": {\r\n      \"keySource\": \"Microsoft.Automation\",\r\n      \"identity\": {\r\n        \"userAssignedIdentity\": null\r\n      }\r\n    },\r\n    \"privateEndpointConnections\": [],\r\n    \"automationHybridServiceUrl\": \"https://3c8aea95-2cb9-46e1-95e7-f6d51774ee53.jrds.wcus.azure-automation.net/automationAccounts/3c8aea95-2cb9-46e1-95e7-f6d51774ee53\",\r\n    \"RuntimeConfiguration\": {\r\n      \"powershell\": {\r\n        \"builtinModules\": {\r\n          \"Az\": \"8.0.0\"\r\n        }\r\n      },\r\n      \"powershell7\": {\r\n        \"builtinModules\": {\r\n          \"Az\": \"8.0.0\"\r\n        }\r\n      }\r\n    },\r\n    \"creationTime\": \"2022-08-30T13:29:58.33+05:30\",\r\n    \"lastModifiedBy\": null,\r\n    \"lastModifiedTime\": \"2022-08-30T13:30:03.08+05:30\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cd45f23b-b832-4fa4-a434-1bf7e6f14a5a/resourceGroups/PowerShellTest/providers/Microsoft.Automation/automationAccounts/account-powershell-test?api-version=2021-06-22",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ocp-automation-accountid": [
          "3c8aea95-2cb9-46e1-95e7-f6d51774ee53"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"account-powershell-test\",\r\n  \"systemData\": {\r\n    \"createdAt\": \"2022-08-30T13:29:58.33+05:30\",\r\n    \"lastModifiedAt\": \"2022-08-30T13:30:09.2666667+05:30\"\r\n  },\r\n  \"id\": \"/subscriptions/cd45f23b-b832-4fa4-a434-1bf7e6f14a5a/resourceGroups/PowerShellTest/providers/Microsoft.Automation/automationAccounts/account-powershell-test\",\r\n  \"type\": \"Microsoft.Automation/AutomationAccounts\",\r\n  \"location\": \"West Central US\",\r\n  \"tags\": {\r\n    \"lm\": \"jk\"\r\n  },\r\n  \"etag\": null,\r\n  \"properties\": {\r\n    \"disableLocalAuth\": false,\r\n    \"sku\": {\r\n      \"name\": \"Basic\",\r\n      \"family\": null,\r\n      \"capacity\": null\r\n    },\r\n    \"state\": \"Ok\",\r\n    \"RegistrationUrl\": \"https://3c8aea95-2cb9-46e1-95e7-f6d51774ee53.agentsvc.wcus.azure-automation.net/accounts/3c8aea95-2cb9-46e1-95e7-f6d51774ee53\",\r\n    \"encryption\": {\r\n      \"keySource\": \"Microsoft.Automation\",\r\n      \"identity\": {\r\n        \"userAssignedIdentity\": null\r\n      }\r\n    },\r\n    \"privateEndpointConnections\": [],\r\n    \"automationHybridServiceUrl\": \"https://3c8aea95-2cb9-46e1-95e7-f6d51774ee53.jrds.wcus.azure-automation.net/automationAccounts/3c8aea95-2cb9-46e1-95e7-f6d51774ee53\",\r\n    \"RuntimeConfiguration\": {\r\n      \"powershell\": {\r\n        \"builtinModules\": {\r\n          \"Az\": \"8.0.0\"\r\n        }\r\n      },\r\n      \"powershell7\": {\r\n        \"builtinModules\": {\r\n          \"Az\": \"8.0.0\"\r\n        }\r\n      }\r\n    },\r\n    \"creationTime\": \"2022-08-30T13:29:58.33+05:30\",\r\n    \"lastModifiedBy\": null,\r\n    \"lastModifiedTime\": \"2022-08-30T13:30:09.2666667+05:30\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cd45f23b-b832-4fa4-a434-1bf7e6f14a5a/resourceGroups/PowerShellTest/providers/Microsoft.Automation/automationAccounts/account-powershell-test?api-version=2021-06-22",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Free\"\r\n    }\r\n  },\r\n  \"name\": \"account-powershell-test\",\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/cd45f23b-b832-4fa4-a434-1bf7e6f14a5a/resourceGroups/PowerShellTest/providers/Microsoft.Automation/automationAccounts/account-powershell-test?api-version=2021-06-22"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"account-powershell-test\",\r\n  \"systemData\": {\[...]
[...]
    {
      "RequestUri": "/subscriptions/cd45f23b-b832-4fa4-a434-1bf7e6f14a5a/providers/Microsoft.Automation/automationAccounts?api-version=2021-06-22",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "31219c11-519e-4ae0-9c85-5cd17fc950c9",
          "31219c11-519e-4ae0-9c85-5cd17fc950c9",
          "31219c11-519e-4ae0-9c85-5cd17fc950c9",
          "31219c11-519e-4ae0-9c85-5cd17fc950c9",
          "31219c11-519e-4ae0-9c85-5cd17fc950c9",
          "31219c11-519e-4ae0-9c85-5cd17fc950c9",
          "31219c11-519e-4ae0-9c85-5cd17fc950c9",
          "31219c11-519e-4ae0-9c85-5cd17fc950c9",
          "31219c11-519e-4ae0-9c85-5cd17fc950c9",
          "31219c11-519e-4ae0-9c85-5cd17fc950c9[...]
    {
      "RequestUri": "/subscriptions/cd45f23b-b832-4fa4-a434-1bf7e6f14a5a/resourceGroups/PowerShellTest/providers/Microsoft.Automation/automationAccounts/account-powershell-test?api-version=2021-06-22",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "cd45f23b-b832-4fa4-a434-1bf7e6f14a5a"
  }
}