{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps2482?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps5431?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "332be18e-45ed-4b30-a484-0c6e66657c51"
=======
          "53703c8c-92cf-42f4-925d-fd1ea0262c24"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.1"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.11"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "29"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1180"
        ],
        "x-ms-request-id": [
          "c4066933-9455-4580-9d0f-ad589c8fa6c1"
        ],
        "x-ms-correlation-request-id": [
          "c4066933-9455-4580-9d0f-ad589c8fa6c1"
        ],
        "x-ms-routing-request-id": [
          "BRAZILUS:20190715T114237Z:c4066933-9455-4580-9d0f-ad589c8fa6c1"
=======
          "1199"
        ],
        "x-ms-request-id": [
          "cf6d5088-9344-488e-bac8-f863bccb2517"
        ],
        "x-ms-correlation-request-id": [
          "cf6d5088-9344-488e-bac8-f863bccb2517"
        ],
        "x-ms-routing-request-id": [
          "WESTEUROPE:20200409T125225Z:cf6d5088-9344-488e-bac8-f863bccb2517"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 15 Jul 2019 11:42:36 GMT"
=======
          "Thu, 09 Apr 2020 12:52:25 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Length": [
          "165"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2482\",\r\n  \"name\": \"ps2482\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2482/providers/Microsoft.Network/privateDnsZones/ps378.pstest.test?api-version=2018-09-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5431\",\r\n  \"name\": \"ps5431\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5431/providers/Microsoft.Network/privateDnsZones/ps5278.pstest.test?api-version=2018-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"global\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "5ae171c9-57af-4720-a1ff-4a44cb3c1313"
=======
          "295c3300-99f6-4083-ae09-3e492988fd6c"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "If-None-Match": [
          "*"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.PrivateDns.PrivateDnsManagementClient/0.8.0.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PrivateDns.PrivateDnsManagementClient/1.0.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "28"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://brazilus.management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2482/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTthZTRjMmQyNC05NjQyLTQ3YzktYjk4My03M2IzN2E0NzMxMzg=?api-version=2018-09-01"
        ],
        "Retry-After": [
          "10"
=======
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5431/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs0ZThlMDAyYS01MTMwLTRkMDctODE2OS0zOGI2ZmM4NjE2OWQ=?api-version=2018-09-01"
        ],
        "Retry-After": [
          "30"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://brazilus.management.azure.com:443/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2482/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTthZTRjMmQyNC05NjQyLTQ3YzktYjk4My03M2IzN2E0NzMxMzg=?api-version=2018-09-01"
        ],
        "x-ms-request-id": [
          "5ae171c9-57af-4720-a1ff-4a44cb3c1313"
=======
          "https://management.azure.com:443/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5431/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs0ZThlMDAyYS01MTMwLTRkMDctODE2OS0zOGI2ZmM4NjE2OWQ=?api-version=2018-09-01"
        ],
        "x-ms-request-id": [
          "295c3300-99f6-4083-ae09-3e492988fd6c"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
<<<<<<< HEAD
          "11991"
        ],
        "x-ms-correlation-request-id": [
          "77956025-7aff-4fc4-8f47-2f7003d398e5"
        ],
        "x-ms-routing-request-id": [
          "BRAZILUS:20190715T114239Z:77956025-7aff-4fc4-8f47-2f7003d398e5"
        ],
        "Date": [
          "Mon, 15 Jul 2019 11:42:39 GMT"
=======
          "11999"
        ],
        "x-ms-correlation-request-[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2482/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTthZTRjMmQyNC05NjQyLTQ3YzktYjk4My03M2IzN2E0NzMxMzg=?api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
=======
        "x-ms-request-id": [
          "e130295a-9fc9-49e5-99b6-77eb391c5234"
      [...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2482/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTsxZjY0OGIyZC00MzFhLTRlMTItYmRkMC01NjJiMmM3NWFkOWQ=?api-version=2018-09-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5431/providers/Microsoft.Network/privateDnsZones/ps5278.pstest.test\",\r\n  \"name\": \"ps5278.pstest.test\",\r\n  \"type\": \"Microsoft.Network/privateDnsZones\",\r\n  \"etag\": \"1dfa83d7-bf1f-460b-af12-8fcabd2e9761\",\r\n  \"location\": \"global\",\r\n  \"properties\": {\r\n    \"maxNumberOfRecordSets\": 25000,\r\n    \"maxNumberOfVirtualNetworkLinks\": 1000,\r\n    \"maxNumberOfVirtualNetworkLinksWithRegistration\": 100,\r\n    \"numberOfRecordSets\": 1,\r\n    \"numberOfVirtualNetworkLinks\": 0,\r\n    \"numberOfVirtualNetworkLinksWithRegistration\": 0,\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5431/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTtkYmIxYTgwZC05YmZiLTRhNjQtOTUzZC1hMDUxNWEyOGIwNzU=?api-version=2018-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
  [...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps2482/providers/Microsoft.Network/privateDnsZones/ps378.pstest.test?api-version=2018-09-01",
=======
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"PreconditionFailed\",\r\n    \"message\": \"The Zone ps5278.pstest.test exists already and hence cannot be created again.\"\r\n  },\r\n  \"status\": \"Failed\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5431/providers/Microsoft.Network/privateDnsZones/ps5278.pstest.test?api-version=2018-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "e3c697be-1052-40ac-bfb9-0e41b2191eee"
        ],
        "If-Match": [
          "8935429f-df1b-4eca-b16f-b458a8f5e39b"
=======
          "1cc552aa-d9cf-406a-bbec-63af6b532d64"
        ],
        "If-Match": [
          "1dfa83d7-bf1f-460b-af12-8fcabd2e9761"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzI0ODItV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11820"
        ]
=======
          "Thu, 09 Apr 2020 12:54:39 GMT"
>>>>>>> d78b04a5306127f58323[...]
