{
  "[NoDescription]+[NoContext]+AddExpanded+$POST+https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/testgroupbs6ond/providers/Microsoft.Synapse/workspaces/workspacebs6ond/kustoPools/testkustopoolbs6ond/addLanguageExtensions?api-version=2021-06-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/testgroupbs6ond/providers/Microsoft.Synapse/workspaces/workspacebs6ond/kustoPools/testkustopoolbs6ond/addLanguageExtensions?api-version=2021-06-01-preview",
      "Content": "{\r\n  \"value\": [\r\n    {\r\n      \"languageExtensionName\": \"R\"\r\n    }\r\n  ]\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Synapse/locations/East%20US%202/kustoPoolOperationResults/2607651f-82dd-4fe1-b9cb-46a9be3f9200?api-version=2021-06-01-preview\u0026operationResultResponseType=Location" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Synapse/locations/East US 2/kustoPoolOperationResults/2607651f-82dd-4fe1-b9cb-46a9be3f9200?api-version=2021-06-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "[NoDescription]+[NoContext]+AddExpanded+$GET+https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Synapse/locations/East US 2/kustoPoolOperationResults/2607651f-82dd-4fe1-b9cb-46a9be3f9200?api-version=2021-06-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Synapse/locations/East%20US%202/kustoPoolOperationResults/2607651f-82dd-4fe1-b9cb-46a9be3f9200?api-version=2021-06-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "130" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Synapse/locations/East US 2/kustoPoolOperationResults/2607651f-82dd-4fe1-b9cb-46a9be3f9200\",\"name\":\"2607651f-82dd-4fe1-b9cb-46a9be3f9200\",\"status\":\"Running\",\"startTime\":\"2021-09-03T06:29:45.0032982Z\",\"endTime\":\"2021-09-03T06:29:47.1596122Z\",\"percentComplete\":0.5,\"properties\":{\"OperationKind\":\"ServiceConfigurationAlter\",\"RootActivityId\":\"66491615-42a7-46f9-b85b-ed1457848aa4\",\"provisioningState\":\"Running\",\"OperationState\":\"InProgress\"}}",
    }
  },
  "[NoDescription]+[NoContext]+AddExpanded+$GET+https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Synapse/locations/East US 2/kustoPoolOperationResults/2607651f-82dd-4fe1-b9cb-46a9be3f9200?api-version=2021-06-01-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/providers/Microsoft.Synapse/locations/East%20US%202/k[...]
