{
  "[NoDescription]+[NoContext]+Start+$POST+https://management.azure.com/subscriptions/8b3b8a60-1dd0-4824-8770-2ed6a55d8e27/resourceGroups/testgroup4lvzne/providers/Microsoft.Synapse/workspaces/workspace4lvzne/kustoPools/testkustopoolwijmlt/stop?api-version=2021-06-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/8b3b8a60-1dd0-4824-8770-2ed6a55d8e27/resourceGroups/testgroup4lvzne/providers/Microsoft.Synapse/workspaces/workspace4lvzne/kustoPools/testkustopoolwijmlt/stop?api-version=2021-06-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "317" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/8b3b8a60-1dd0-4824-8770-2ed6a55d8e27/providers/Microsoft.Synapse/locations/East%20US%202/kustoPoolOperationResults/66d01ea3-4f10-44ed-a332-8c97d9e4b8bf?api-version=2021-06-01-preview\u0026operationResultResponseType=Location" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/8b3b8a60-1dd0-4824-8770-2ed6a55d8e27/providers/Microsoft.Synapse/locations/East US 2/kustoPoolOperationResults/66d01ea3-4f10-44ed-a332-8c97d9e4b8bf?api-version=2021-06-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1194" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "[NoDescription]+[NoContext]+Start+$GET+https://management.azure.com/subscriptions/8b3b8a60-1dd0-4824-8770-2ed6a55d8e27/providers/Microsoft.Synapse/locations/East US 2/kustoPoolOperationResults/66d01ea3-4f10-44ed-a332-8c97d9e4b8bf?api-version=2021-06-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/8b3b8a60-1dd0-4824-8770-2ed6a55d8e27/providers/Microsoft.Synapse/locations/East%20US%202/kustoPoolOperationResults/66d01ea3-4f10-44ed-a332-8c97d9e4b8bf?api-version=2021-06-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "318" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11919" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/8b3b8a60-1dd0-4824-8770-2ed6a55d8e27/providers/Microsoft.Synapse/locations/East US 2/kustoPoolOperationResults/66d01ea3-4f10-44ed-a332-8c97d9e4b8bf\",\"name\":\"66d01ea3-4f10-44ed-a332-8c97d9e4b8bf\",\"status\":\"Running\",\"startTime\":\"2021-09-06T06:59:48.9888443Z\",\"endTime\":\"2021-09-06T06:59:49.4888407Z\",\"percentComplete\":0.5,\"properties\":{\"OperationKind\":\"ClusterSuspend\",\"RootActivityId\":\"1bc22639-dc6f-41e2-b685-c977cdda0f24\",\"provisioningState\":\"Running\",\"OperationState\":\"InProgress\"}}",
    }
  },
  "[NoDescription]+[NoContext]+Start+$GET+https://management.azure.com/subscriptions/8b3b8a60-1dd0-4824-8770-2ed6a55d8e27/providers/Microsoft.Synapse/locations/East US 2/kustoPoolOperationResults/66d01ea3-4f10-44ed-a332-8c97d9e4b8bf?api-version=2021-06-01-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/8b3b8a60-1dd0-4824-8770-2ed6a55d8e27/providers/Microsoft.Synapse/locations/East%20US%202/kustoPo[...]
