<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Common" version="1.4.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Common.Dependencies" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.Compute" version="6.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.ExpressRoute" version="0.11.2-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.MediaServices" version="1.2.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.ServiceBus" version="0.15.0-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.Storage" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.Store" version="0.11.0-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.TrafficManager" version="0.11.0-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.WebSites" version="4.0.1-prerelease" targetFramework="net45" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net45" />
  <package id="WindowsAzure.ServiceBus" version="2.3.2.0" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="4.0.0" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>
