{
  "Entries": [
    {
      "RequestUri": "/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourcegroups/ps1641?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641\",\r\n  \"name\": \"ps1641\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/virtualNetworks/ps5022?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps5022' under resource group 'ps1641' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/virtualNetworks/ps5022?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"2194b203-c2f8-479f-aa7b-67fb199cd6db\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5022\",\r\n  \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/virtualNetworks/ps5022\",\r\n  \"etag\": \"W/\\\"2194b203-c2f8-479f-aa7b-67fb199cd6db\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n  \"extendedLocation\": {\r\n    \"type\": \"EdgeZone\",\r\n    \"name\": \"microsoftlosangeles1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"e4ca8522-e81f-46d8-99e0-a8df796257ad\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"frontendSubnet\",\r\n        \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/virtualNetworks/ps5022/subnets/frontendSubnet\",\r\n        \"etag\": \"W/\\\"2194b203-c2f8-479f-aa7b-67fb199cd6db\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      },\r\n      {\r\n        \"name\": \"backendSubnet\",\r\n        \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/virtualNetworks/ps5022/subnets/backendSubnet\",\r\n        \"etag\": \"W/\\\"2194b203-c2f8-479f-aa7b-67fb199cd6db\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addr[...]
[...]
    {
      "RequestUri": "/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/virtualNetworks/ps5022?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"extendedLocation\": {\r\n    \"name\": \"microsoftlosangeles1\",\r\n    \"type\": \"EdgeZone\"\r\n  },\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n          \"applicationGatewayIpConfigurations\": []\r\n        },\r\n        \"name\": \"frontendSubnet\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.2.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n          \"applicationGatewayIpConfigurations\": []\r\n        },\r\n        \"name\": \"backendSubnet\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.3.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Disabled\",\r\n          \"applicationGatewayIpConfigurations\": []\r\n        },\r\n        \"name\": \"otherSubnet\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/providers/Microsoft.Network/locations/westus/operations/90263451-4caf-430e-bdac-0bd7c211a97d?api-version=2021-02-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps5022\",\r\n  \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/virtualNetworks/ps5022\",\r\n  \"etag\": \"W/\\\"20623c2f-f6b1-4856-930d-675e8b443e65\\\"\",\r\n  \"type\": \"Microsoft.Ne[...]
    {
      "RequestUri": "/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/providers/Microsoft.Network/locations/westus/operations/90263451-4caf-430e-bdac-0bd7c211a97d?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/loadBalancers/ps6192?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/loadBalancers/ps6192' under resource group 'ps1641' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/loadBalancers/ps6192?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"81043444-ddad-49dc-85e4-89d2db3c5d52\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps6192\",\r\n  \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/loadBalancers/ps6192\",\r\n  \"etag\": \"W/\\\"81043444-ddad-49dc-85e4-89d2db3c5d52\\\"\",\r\n  \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus\",\r\n  \"extendedLocation\": {\r\n    \"type\": \"EdgeZone\",\r\n    \"name\": \"microsoftlosangeles1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"e69bf0e8-8e31-49a7-8062-cebaf9bb8e75\",\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"LB-Frontend\",\r\n        \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/loadBalancers/ps6192/frontendIPConfigurations/LB-Frontend\",\r\n        \"etag\": \"W/\\\"81043444-ddad-49dc-85e4-89d2db3c5d52\\\"\",\r\n        \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.1.5\",\r\n          \"privateIPAllocationMethod\": \"Static\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/virtualNetworks/ps5022/subnets/frontendSubnet\"\r\n          },\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"LB-Backend\",\r\n        \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/loadBalancers/ps6192/backendAddressPools/LB-Backend\",\r\n        \"etag\": \"W/\\\"81043444-ddad-49dc-85e4-89d2db3c5d52\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"loadBalancerBackendAddresses\": []\r\n        },\r\n        \"type\": \"Microsoft.Network/loadBalancers/backendAddressPools\"\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"outboundRules\": [],\r\n    \"inboundNatPools\": []\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/loadBalancers/ps6192?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"extendedLocation\": {\r\n    \"name\": \"microsoftlosangeles1\",\r\n    \"type\": \"EdgeZone\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAddress\": \"10.0.1.5\",\r\n          \"privateIPAllocationMethod\": \"Static\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefixes\": [],\r\n              \"serviceEndpoints\": [],\r\n              \"serviceEndpointPolicies\": [],\r\n              \"ipAllocations\": [],\r\n              \"delegations\": [],\r\n              \"applicationGatewayIpConfigurations\": []\r\n            },\r\n            \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/virtualNetworks/ps5022/subnets/frontendSubnet\"\r\n          }\r\n        },\r\n        \"name\": \"LB-Frontend\",\r\n        \"zones\": [],\r\n        \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/loadBalancers/ps6192/FrontendIpConfigurations/LB-Frontend\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"properties\": {\r\n          \"tunnelInterfaces\": [],\r\n          \"loadBalancerBackendAddresses\": []\r\n        },\r\n        \"name\": \"LB-Backend\",\r\n        \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/loadBalancers/ps6192/BackendAddressPools/LB-Backend\"\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"inboundNatPools\": [],\r\n    \"outboundRules\": []\r\n  },\r\n  \"location\": \"westus\"\r\n}",
[...]
[...]
    {
      "RequestUri": "/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/providers/Microsoft.Network/loadBalancers?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "bd5ddc3c-dd50-46ec-b644-e201a711474b",
          "72537ae1-9e55-43fc-922f-3b185f985769",
          "0b4ca042-1bd1-445e-8a57-53eb9a27ceab"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"jurban-kubernetes\",\r\n      \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/jurban-aks-engine/providers/Microsoft.Network/loadBalancers/jurban-kubernetes\",\r\n      \"etag\": \"W/\\\"ff2e679f-1278-4c7f-9d4e-30fb2b26388a\\\"\",\r\n      \"type\": \"Microsoft.Network/loadBalancers\",\r\n      \"location\": \"westus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"482f75d7-884d-40e9-9a82-9c5bbb06655c\",\r\n        \"frontendIPConfigurations\": [\r\n          {\r\n            \"name\": \"k8s-agent-outbound\",\r\n            \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/jurban-aks-engine/providers/Microsoft.Network/loadBalancers/jurban-kubernetes/frontendIPConfigurations/k8s-agent-outbound\",\r\n            \"etag\": \"W/\\\"ff2e679f-1278-4c7f-9d4e-30fb2b26388a\\\"\",\r\n            \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"privateIPAllocationMethod\": \"Dynamic\",\r\n              \"publicIPAddress\": {\r\n                \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/jurban-aks-engine/providers/Microsoft.Network/publicIPAddresses/k8s-agent-ip-outbound\"\r\n              },\r\n              \"outboundRules\": [\r\n                {\r\n                  \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/jurban-aks-engine/providers/Microsoft.Network/loadBalancers/jurban-kubernetes/outboundRules/LBOutboundRule\"\r\n                }\r\n   [...]
    {
      "RequestUri": "/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/privateLinkServices/PrivateLinkServiceName?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/privateLinkServices/PrivateLinkServiceName' under resource group 'ps1641' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/privateLinkServices/PrivateLinkServiceName?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"b39a3846-0829-4081-8c73-dfd6591e6337\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"PrivateLinkServiceName\",\r\n  \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/privateLinkServices/PrivateLinkServiceName\",\r\n  \"etag\": \"W/\\\"b39a3846-0829-4081-8c73-dfd6591e6337\\\"\",\r\n  \"type\": \"Microsoft.Network/privateLinkServices\",\r\n  \"location\": \"westus\",\r\n  \"extendedLocation\": {\r\n    \"type\": \"EdgeZone\",\r\n    \"name\": \"microsoftlosangeles1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"5e7170cc-820b-4bd9-b080-c26f6b0d24d2\",\r\n    \"fqdns\": [],\r\n    \"alias\": \"privatelinkservicename.c44595a0-bbff-4244-90a6-5c3d93f7a97e.westus.azure.privatelinkservice\",\r\n    \"enableProxyProtocol\": false,\r\n    \"loadBalancerFrontendIpConfigurations\": [\r\n      {\r\n        \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/loadBalancers/ps6192/frontendIPConfigurations/LB-Frontend\"\r\n      }\r\n    ],\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"IpConfigurationName\",\r\n        \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/privateLinkServices/PrivateLinkServiceName/ipConfigurations/IpConfigurationName\",\r\n        \"etag\": \"W/\\\"b39a3846-0829-4081-8c73-dfd6591e6337\\\"\",\r\n        \"type\": \"Microsoft.Network/privateLinkServices/ipConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.3.5\",\r\n          \"privateIPAllocationMethod\": \"Static\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/virtualNetworks/ps5022/subnets/otherSubnet\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"privateEndpointConnections\": [],\r\n    \"networkInterfaces\": [\r\n      {\r\n        \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/networkInterfaces/PrivateLinkServiceName.nic.548a6be8-0625-4a40-b3e4-b15064eb852c\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/virtualNetworks/VNetPE?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/VNetPE' under resource group 'ps1641' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/privateEndpoints/ps9509?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/privateEndpoints/ps9509' under resource group 'ps1641' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/privateEndpoints/ps9509?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"2331ec67-5eb1-40c6-9336-fe1d5966e965\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11972"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps9509\",\r\n  \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/privateEndpoints/ps9509\",\r\n  \"etag\": \"W/\\\"2331ec67-5eb1-40c6-9336-fe1d5966e965\\\"\",\r\n  \"type\": \"Microsoft.Network/privateEndpoints\",\r\n  \"location\": \"westus\",\r\n  \"extendedLocation\": {\r\n    \"type\": \"EdgeZone\",\r\n    \"name\": \"microsoftlosangeles1\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"688aa6bb-b3ba-4095-bb6d-d484f14b5a1f\",\r\n    \"privateLinkServiceConnections\": [\r\n      {\r\n        \"name\": \"PrivateLinkServiceConnectionName\",\r\n        \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/privateEndpoints/ps9509/privateLinkServiceConnections/PrivateLinkServiceConnectionName\",\r\n        \"etag\": \"W/\\\"2331ec67-5eb1-40c6-9336-fe1d5966e965\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateLinkServiceId\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/privateLinkServices/PrivateLinkServiceName\",\r\n          \"groupIds\": [],\r\n          \"privateLinkServiceConnectionState\": {\r\n            \"status\": \"Approved\",\r\n            \"description\": \"\",\r\n            \"actionsRequired\": \"None\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/privateEndpoints/privateLinkServiceConnections\"\r\n      }\r\n    ],\r\n    \"manualPrivateLinkServiceConnections\": [],\r\n    \"subnet\": {\r\n      \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/virtualNetworks/VNetPE/subnets/peSubnet\"\r\n    },\r\n    \"networkInterfaces\": [\r\n      {\r\n        \"id\": \"/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourceGroups/ps1641/providers/Microsoft.Network/networkInterfaces/ps9509.nic.b11a3f05-52ed-42b6-b081-a4d59807f3b1\"\r\n      }\r\n    ],\r\n    \"customDnsConfigs\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/resourcegroups/ps1641?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzE2NDEtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzE2NDEtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzE2NDEtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/baffff89-2c76-424a-af4c-43b7518a3cb8/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzE2NDEtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-PrivateEndpointInEdgeZone": [
      "ps1641",
      "ps9509",
      "ps5022",
      "ps6192"
    ]
  },
  "Variables": {
    "SubscriptionId": "baffff89-2c76-424a-af4c-43b7518a3cb8"
  }
}