{
  "New-AzSentinelAlertRule+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/419581d6-4853-49bd-83b6-d94bb8a77887/resourceGroups/aspstest4pr7te/providers/Microsoft.OperationalInsights/workspaces/asptest4yt0n3/providers/Microsoft.SecurityInsights/alertRules/d65a3750-5f16-4b60-a0c2-ca1ee7a40899?api-version=2021-09-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/419581d6-4853-49bd-83b6-d94bb8a77887/resourceGroups/aspstest4pr7te/providers/Microsoft.OperationalInsights/workspaces/asptest4yt0n3/providers/Microsoft.SecurityInsights/alertRules/d65a3750-5f16-4b60-a0c2-ca1ee7a40899?api-version=2021-09-01-preview",
      "Content": "{\r\n  \"kind\": \"Scheduled\",\r\n  \"properties\": {\r\n    \"queryFrequency\": \"PT1H\",\r\n    \"queryPeriod\": \"P1D\",\r\n    \"triggerOperator\": \"GreaterThan\",\r\n    \"triggerThreshold\": 1,\r\n    \"incidentConfiguration\": {\r\n      \"groupingConfiguration\": {\r\n        \"enabled\": false,\r\n        \"reopenClosedIncident\": false,\r\n        \"lookbackDuration\": \"PT5H\",\r\n        \"matchingMethod\": \"AllEntities\"\r\n      },\r\n      \"createIncident\": false\r\n    },\r\n    \"query\": \"SecurityEvent | take 1\",\r\n    \"displayName\": \"NewAlertRule38x7ic\",\r\n    \"enabled\": false,\r\n    \"suppressionDuration\": \"PT5H\",\r\n    \"suppressionEnabled\": false,\r\n    \"severity\": \"Informational\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "799" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/419581d6-4853-49bd-83b6-d94bb8a77887/resourceGroups/aspstest4pr7te/providers/Microsoft.OperationalInsights/workspaces/asptest4yt0n3/providers/Microsoft.SecurityInsights/alertRules/d65a3750-5f16-4b60-a0c2-ca1ee7a40899\",\"name\":\"d65a3750-5f16-4b60-a0c2-ca1ee7a40899\",\"etag\":\"\\\"61004e36-0000-0100-0000-69c3928d0000\\\"\",\"type\":\"Microsoft.SecurityInsights/alertRules\",\"kind\":\"Scheduled\",\"properties\":{\"incidentConfiguration\":{\"createIncident\":false,\"groupingConfiguration\":{\"enabled\":false,\"reopenClosedIncident\":false,\"lookbackDuration\":\"PT5H\",\"matchingMethod\":\"AllEntities\",\"groupByEntities\":null,\"groupByAlertDetails\":null,\"groupByCustomDetails\":null}},\"queryFrequency\":\"PT1H\",\"queryPeriod\":\"P1D\",\"triggerOperator\":\"GreaterThan\",\"triggerThreshold\":1,\"severity\":\"Informational\",\"query\":\"SecurityEvent | take 1\",\"suppressionDuration\":\"PT5H\",\"suppressionEnabled\":false,\"tactics\":null,\"displayName\":\"NewAlertRule38x7ic\",\"enabled\":false,\"description\":null,\"alertRuleTemplateName\":null,\"lastModifiedUtc\":\"2026-03-25T07:45:17.671388Z\"}}",
    }
  }
}