{
  "Remove-AzSentinelDataConnector+[NoContext]+Delete+$PUT+https://management.azure.com/subscriptions/419581d6-4853-49bd-83b6-d94bb8a77887/resourceGroups/aspstest4pr7te/providers/Microsoft.OperationalInsights/workspaces/asptest4yt0n3/providers/Microsoft.SecurityInsights/dataConnectors/87ee73c4-216c-4d82-bcda-555b974a2930?api-version=2021-09-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/419581d6-4853-49bd-83b6-d94bb8a77887/resourceGroups/aspstest4pr7te/providers/Microsoft.OperationalInsights/workspaces/asptest4yt0n3/providers/Microsoft.SecurityInsights/dataConnectors/87ee73c4-216c-4d82-bcda-555b974a2930?api-version=2021-09-01-preview",
      "Content": "{\r\n  \"kind\": \"GenericUI\",\r\n  \"properties\": {\r\n    \"connectorUiConfig\": {\r\n      \"availability\": {\r\n        \"status\": 1,\r\n        \"isPreview\": true\r\n      },\r\n      \"permissions\": {\r\n        \"customs\": [\r\n          {\r\n            \"name\": \"TestPermission\",\r\n            \"description\": \"Test permission\"\r\n          }\r\n        ]\r\n      },\r\n      \"title\": \"Test\",\r\n      \"publisher\": \"Test\",\r\n      \"descriptionMarkdown\": \"Test\",\r\n      \"graphQueriesTableName\": \"TestTable_CL\",\r\n      \"graphQueries\": [\r\n        {\r\n          \"metricName\": \"Events\",\r\n          \"legend\": \"Events\",\r\n          \"baseQuery\": \"TestTable_CL\"\r\n        }\r\n      ],\r\n      \"sampleQueries\": [\r\n        {\r\n          \"description\": \"All\",\r\n          \"query\": \"TestTable_CL\"\r\n        }\r\n      ],\r\n      \"dataTypes\": [\r\n        {\r\n          \"name\": \"TestTable_CL\",\r\n          \"lastDataReceivedQuery\": \"TestTable_CL | summarize max(TimeGenerated)\"\r\n        }\r\n      ],\r\n      \"connectivityCriteria\": [\r\n        {\r\n          \"type\": \"IsConnectedQuery\",\r\n          \"value\": [ \"TestTable_CL | take 1\" ]\r\n        }\r\n      ],\r\n      \"instructionSteps\": [\r\n        {\r\n          \"title\": \"Connect\",\r\n          \"description\": \"Test\"\r\n        }\r\n      ]\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "799" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/419581d6-4853-49bd-83b6-d94bb8a77887/resourceGroups/aspstest4pr7te/providers/Microsoft.OperationalInsights/workspaces/asptest4yt0n3/providers/Microsoft.SecurityInsights/dataConnectors/87ee73c4-216c-4d82-bcda-555b974a2930\",\"name\":\"87ee73c4-216c-4d82-bcda-555b974a2930\",\"etag\":\"\\\"00005783-0000-0100-0000-69c392b70000\\\"\",\"type\":\"Microsoft.SecurityInsights/dataConnectors\",\"kind\":\"GenericUI\",\"properties\":{\"connectorUiConfig\":{\"availability\":{\"status\":1,\"isPreview\":true},\"permissions\":{\"customs\":[{\"name\":\"TestPermission\",\"description\":\"Test permission\"}]},\"title\":\"Test\",\"publisher\":\"Test\",\"descriptionMarkdown\":\"Test\",\"graphQueriesTableName\":\"TestTable_CL\",\"graphQueries\":[{\"metricName\":\"Events\",\"legend\":\"Events\",[...]
