{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourcegroups/ps2093?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/ps1520?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "fe5c5ad9-a935-4650-bc4a-310ac24e3f02"
=======
          "cda31bd1-a996-44b4-824f-e767bcfdeb7b"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.2.0"
=======
          "FxVersion/4.6.29220.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.24"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "29"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "a65fb662-94e4-4349-bba8-66cf66ebdff0"
        ],
        "x-ms-correlation-request-id": [
          "a65fb662-94e4-4349-bba8-66cf66ebdff0"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20190510T231715Z:a65fb662-94e4-4349-bba8-66cf66ebdff0"
=======
          "deffacec-caa6-4bc0-8d52-1b4c2d0a15a3"
        ],
        "x-ms-correlation-request-id": [
          "deffacec-caa6-4bc0-8d52-1b4c2d0a15a3"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20201008T092716Z:deffacec-caa6-4bc0-8d52-1b4c2d0a15a3"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 10 May 2019 23:17:15 GMT"
=======
          "Thu, 08 Oct 2020 09:27:16 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Length": [
          "165"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourceGroups/ps2093\",\r\n  \"name\": \"ps2093\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/providers/Microsoft.Cdn/profiles?api-version=2019-04-15",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/ps1520\",\r\n  \"name\": \"ps1520\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/providers/Microsoft.Cdn/profiles?api-version=2020-04-15",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "84d0a9ed-7263-4589-a7b8-faa66dc1d978"
=======
          "7a649610-c3c8-4028-80ef-9d5b2a97f83c"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Cdn.CdnManagementClient/4.2.2.0"
=======
          "FxVersion/4.6.29220.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.Cdn.CdnManagementClient/4.4.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "501000bb-9e1d-4290-bd2b-6ba96ed0a291"
        ],
        "x-ms-client-request-id": [
          "84d0a9ed-7263-4589-a7b8-faa66dc1d978"
=======
          "c3a11192-f297-4768-96ad-4f13d7a21711"
        ],
        "x-ms-client-request-id": [
          "7a649610-c3c8-4028-80ef-9d5b2a97f83c"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "OData-Version": [
          "4.0"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
<<<<<<< HEAD
          "Microsoft-IIS/8.5"
=======
          "Microsoft-IIS/10.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-correlation-request-id": [
          "9ba3784b-cd8a-48b5-8649-85730c9c943d"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20190510T231717Z:9ba3784b-cd8a-48b5-8649-85730c9c943d"
=======
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "49"
        ],
        "x-ms-correlation-request-id": [
          "d6ed4c7f-334b-4477-9d79-ad172fba799b"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20201008T092718Z:d6ed4c7f-334b-4477-9d79-ad172fba799b"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 10 May 2019 23:17:16 GMT"
        ],
        "Content-Length": [
          "5756"
=======
          "Thu, 08 Oct 2020 09:27:17 GMT"
        ],
        "Content-Length": [
          "42959"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Hata-AFD\",\r\n      \"id\": \"/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourcegroups/HataTest/providers/Microsoft.Cdn/profiles/Hata-AFD\",\r\n      \"type\": \"Microsoft.Cdn/profiles\",\r\n      \"tags\": {},\r\n      \"location\": \"CentralUs\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_Microsoft\"\r\n      },\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceState\": \"Active\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"profile3470\",\r\n      \"id\": \"/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourcegroups/cdnResourceGroup7289/providers/Microsoft.Cdn/profiles/profile3470\",\r\n      \"type\": \"Microsoft.Cdn/profiles\",\r\n      \"tags\": {\r\n        \"key1\": \"value1\",\r\n        \"key2\": \"value2\"\r\n      },\r\n      \"location\": \"WestUs\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_Microsoft\"\r\n      },\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceState\": \"Active\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"profile981\",\r\n      \"id\": \"/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourcegroups/cdnResourceGroup5308/providers/Microsoft.Cdn/profiles/profile981\",\r\n      \"type\": \"Microsof[...]
    {
      "RequestUri": "/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourceGroups/ps2093/providers/Microsoft.Cdn/profiles/ps5401?api-version=2019-04-15",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"rrms2\",\r\n      \"id\": \"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/rrahultest/providers/Microsoft.Cdn/profiles/rrms2\",\r\n      \"type\": \"Microsoft.Cdn/profiles\",\r\n      \"tags\": {},\r\n      \"location\": \"WestCentra[...]
    {
      "RequestUri": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/ps1520/providers/Microsoft.Cdn/profiles/ps6817?api-version=2020-04-15",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_Akamai\"\r\n  },\r\n  \"location\": \"EastUS\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "73f9fb3f-6c5b-4d03-ace1-b7e511e4cfea"
=======
          "d23f9869-579b-4892-8d8e-8529534e9b5f"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Cdn.CdnManagementClient/4.2.2.0"
=======
          "FxVersion/4.6.29220.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.Cdn.CdnManagementClient/4.4.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "77"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ]
<<<<<<< HEAD
          "cebd7a3b-a9e8-404d-8649-13bd4924c16b"
        ],
        "x-ms-client-request-id": [
          "73f9fb3f-6c5b-4d03-ace1-b7e511e4cfea"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourcegroups/ps2093/providers/Microsoft.Cdn/operationresults/1145c182-26b2-470f-bc1e-95fea451e5e8?api-version=2019-04-15"
=======
          "b4a5e922-3191-4343-a0cf-94c1c57817f2"
        ],
        "x-ms-client-request-id": [
          "d23f9869-579b-4892-8d8e-8529534e9b5f"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9[...]
    {
      "RequestUri": "/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourcegroups/ps2093/providers/Microsoft.Cdn/operationresults/1145c182-26b2-470f-bc1e-95fea451e5e8?api-version=2019-04-15",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps6817\",\r\n  \"id\": \"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/ps1520/providers/Microsoft.Cdn/profiles/ps6817\",\r\n  \"type\": \"Microsoft.Cdn/profiles\",\r\n  \"tags\": {},\r\n  \"location\": \"EastUs\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_Akamai\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"resourceState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourceGroups/ps2093/providers/Microsoft.Cdn/profiles/ps5401?api-version=2019-04-15",
=======
      "ResponseBody": "{\r\n  \"status\": \"InProgress\",\r\n  \"error\": {\r\n    \"code\": \"None\",\r\n    \"message\": null\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.Cdn/checkNameAvailability?api-version=2019-04-15",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"ps4122\",\r\n  \"type\": \"Microsoft.Cdn/Profiles/Endpoints\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"ps6817\",\r\n  \"id\": \"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/ps1520/providers/Microsoft.Cdn/profiles/ps6817\",\r\n  \"type\": \"Microsoft.Cdn/profiles\",\r\n  \"tags\": {},\r\n  \"location\": \"EastUs\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_Akamai\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceState\": \"Active\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourcegroups/ps2093/providers/Microsoft.Cdn/operationresults/e73be2e4-ebf0-4cc5-9adf-a562b9a4866b?api-version=2019-04-15",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps5898\",\r\n  \"id\": \"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/ps1520/providers/Microsoft.Cdn/profiles/ps6817/endpoints/ps5898\",\r\n  \"type\": \"Microsoft.Cdn/profiles/endpoints\",\r\n  \"tags\": {},\r\n  \"location\": \"EastUs\",\r\n  \"properties\": {\r\n    \"hostName\": \"ps5898.azureedge.net\",\r\n    \"originHostHeader\": null,\r\n    \"provisioningState\": \"Creating\",\r\n    \"resourceState\": \"Creating\",\r\n    \"isHttpAllowed\": true,\r\n    \"isHttpsAllowed\": true,\r\n    \"queryStringCachingBehavior\": \"IgnoreQueryString\",\r\n    \"originPath\": null,\r\n    \"origins\": [\r\n      {\r\n        \"name\": \"ps5095\",\r\n        \"properties\": {\r\n          \"hostName\": \"www.microsoft.com\",\r\n          \"httpPort\": null,\r\n          \"httpsPort\": null,\r\n          \"originHostHeader\": null,\r\n          \"priority\": null,\r\n          \"weight\": null,\r\n          \"enabled\": true,\r\n          \"privateLinkResourceId\": null,\r\n          \"privateLinkLocation\": null,\r\n          \"privateLinkAlias\": null,\r\n          \"privateEndpointStatus\": null,\r\n          \"privateLinkApprovalMessage\": null\r\n        }\r\n      }\r\n    ],\r\n    \"originGroups\": [],\r\n    \"defaultOriginGroup\": null,\r\n    \"customDomains\": [],\r\n    \"contentTypesToCompress\": [],\r\n    \"isCompressionEnabled\": false,\r\n    \"optimizationType\": null,\r\n    \"probePath\": null,\r\n    \"geoFilters\": [],\r\n    \"deliveryPolicy\": null,\r\n    \"webApplicationFirewallPolicyLink\": null,\r\n    \"urlSigningKeys\": []\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourceGroups/ps2093/providers/Microsoft.Cdn/profiles/ps5401/endpoints/ps4122/checkResourceUsage?api-version=2019-04-15",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps5898\",\r\n  \"id\": \"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/ps1520/providers/Microsoft.Cdn/profiles/ps6817/endpoints/ps5898\",\r\n  \"type\": \"Microsoft.Cdn/profiles/endpoints\",\r\n  \"tags\": {},\r\n  \"location\"[...]
[...]
    {
      "RequestUri": "/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourcegroups/ps2093?api-version=2016-09-01",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"resourceType\": \"customdomain\",\r\n      \"unit\": \"count\",\r\n      \"currentValue\": 0,\r\n      \"limit\": 20\r\n    },\r\n    {\r\n      \"resourceType\": \"geofilter\",\r\n      \"unit\": \"count\",\r\n      \"currentValue\": 0,\r\n      \"limit\": 25\r\n    },\r\n    {\r\n      \"resourceType\": \"deliveryrule\",\r\n      \"unit\": \"count\",\r\n      \"currentValue\": 0,\r\n      \"limit\": 20\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/ps1520?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "1296c0b1-fd55-46b2-afb0-4dac12c9cf10"
=======
          "b9e96f36-749e-45c2-a4ea-994ce3f96abc"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.2.0"
=======
          "FxVersion/4.6.29220.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.24"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzIwOTMtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01"
=======
          "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzE1MjAtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "25fe0eeb-3803-4009-8608-389542d69059"
        ],
        "x-ms-correlation-request-id": [
          "25fe0eeb-3803-4009-8608-389542d69059"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20190510T231754Z:25fe0eeb-3803-4009-8608-389542d69059"
=======
          "763d7ef1-44e2-49f8-be15-514dd819f21e"
        ],
        "x-ms-correlation-request-id": [
          "763d7ef1-44e2-49f8-be15-514dd819f21e"
        ],
        "x-ms-routing-request-id": [
      [...]
