{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a4d55cc0-84ec-49a6-84fd-ac40300fe684/providers/Microsoft.Sql/locations/North%20Europe/capabilities?api-version=2014-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"North Europe\",\r\n  \"status\": \"Available\",\r\n  \"supportedServerVersions\": [\r\n    {\r\n      \"name\": \"12.0\",\r\n      \"status\": \"Default\",\r\n      \"supportedEditions\": [\r\n        {\r\n          \"name\": \"Basic\",\r\n          \"status\": \"Available\",\r\n          \"supportedServiceLevelObjectives\": [\r\n            {\r\n              \"id\": \"dd6d99bb-f193-4ec1-86f2-43d3bccbc49c\",\r\n              \"name\": \"Basic\",\r\n              \"status\": \"Default\",\r\n              \"supportedMaxSizes\": [\r\n                {\r\n                  \"limit\": 100,\r\n                  \"unit\": \"Megabytes\",\r\n                  \"status\": \"Available\"\r\n                },\r\n                {\r\n                  \"limit\": 500,\r\n                  \"unit\": \"Megabytes\",\r\n                  \"status\": \"Available\"\r\n                },\r\n                {\r\n                  \"limit\": 1,\r\n                  \"unit\": \"Gigabytes\",\r\n                  \"status\": \"Available\"\r\n                },\r\n                {\r\n                  \"limit\": 2,\r\n            [...]
[...]
