{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourcegroups/ps9194?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourceGroups/ps9194\",\r\n  \"name\": \"ps9194\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourceGroups/ps9194/providers/microsoft.insights/components/ps3905?api-version=2015-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'microsoft.insights/components/ps3905' under resource group 'ps9194' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourceGroups/ps9194/providers/microsoft.insights/components/ps3905?api-version=2015-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"kind\": \"web\",\r\n  \"properties\": {\r\n    \"Application_Type\": \"web\",\r\n    \"Request_Source\": \"AzurePowerShell\"\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourceGroups/ps9194/providers/microsoft.insights/components/ps3905\",\r\n  \"name\": \"ps3905\",\r\n  \"type\": \"microsoft.insights/components\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"kind\": \"web\",\r\n  \"etag\": \"\\\"1600ba76-0000-0700-0000-5cbf79bc0000\\\"\",\r\n  \"properties\": {\r\n    \"Ver\": \"v2\",\r\n    \"ApplicationId\": \"ps3905\",\r\n    \"AppId\": \"c5402709-4ba3-42ca-95e9-adb9b4c31c11\",\r\n    \"Application_Type\": \"web\",\r\n    \"Flow_Type\": null,\r\n    \"Request_Source\": \"AzurePowerShell\",\r\n    \"InstrumentationKey\": \"f165b51d-6631-4829-aec8-0df9bb452497\",\r\n    \"Name\": \"ps3905\",\r\n    \"CreationDate\": \"2019-04-24T02:16:52.2481618+05:30\",\r\n    \"PackageId\": null,\r\n    \"TenantId\": \"ee4a95f8-79e8-4366-99c9-0a98bbbc9c32\",\r\n    \"HockeyAppId\": null,\r\n    \"HockeyAppToken\": null,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"SamplingPercentage\": null,\r\n    \"CustomMetricsOptedInType\": null,\r\n    \"Retention\": null\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourceGroups/ps9194/providers/microsoft.insights/actionGroups/ps9883?api-version=2018-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"groupShortName\": \"ASTG\",\r\n    \"enabled\": true,\r\n    \"emailReceivers\": [\r\n      {\r\n        \"name\": \"user1\",\r\n        \"emailAddress\": \"user1@example.com\"\r\n      }\r\n    ],\r\n    \"smsReceivers\": [],\r\n    \"webhookReceivers\": []\r\n  },\r\n  \"location\": \"Global\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourceGroups/ps9194/providers/microsoft.insights/actionGroups/ps9883\",\r\n  \"type\": \"Microsoft.Insights/ActionGroups\",\r\n  \"name\": \"ps9883\",\r\n  \"location\": \"Global\",\r\n  \"kind\": null,\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"groupShortName\": \"ASTG\",\r\n    \"enabled\": true,\r\n    \"emailReceivers\": [\r\n      {\r\n        \"name\": \"user1\",\r\n        \"emailAddress\": \"user1@example.com\",\r\n        \"status\": \"Enabled\",\r\n        \"useCommonAlertSchema\": false\r\n      }\r\n    ],\r\n    \"smsReceivers\": [],\r\n    \"webhookReceivers\": [],\r\n    \"itsmReceivers\": [],\r\n    \"azureAppPushReceivers\": [],\r\n    \"automationRunbookReceivers\": [],\r\n    \"voiceReceivers\": [],\r\n    \"logicAppReceivers\": [],\r\n    \"azureFunctionReceivers\": [],\r\n    \"armRoleReceivers\": []\r\n  },\r\n  \"identity\": null\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourcegroups/ps9194/providers/microsoft.insights/scheduledQueryRules/ps5740?api-version=2018-04-16",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"SQR log alert rule\",\r\n    \"enabled\": \"true\",\r\n    \"source\": {\r\n      \"query\": \"traces | summarize AggregatedValue = count() by bin(timestamp, 5m)\",\r\n      \"authorizedResources\": [\r\n        \"/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourceGroups/ps9194/providers/microsoft.insights/components/ps3905\"\r\n      ],\r\n      \"dataSourceId\": \"/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourceGroups/ps9194/providers/microsoft.insights/components/ps3905\",\r\n      \"queryType\": \"ResultCount\"\r\n    },\r\n    \"schedule\": {\r\n      \"frequencyInMinutes\": 5,\r\n      \"timeWindowInMinutes\": 5\r\n    },\r\n    \"action\": {\r\n      \"odata.type\": \"Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.AlertingAction\",\r\n      \"severity\": \"2\",\r\n      \"aznsAction\": {\r\n        \"actionGroup\": [\r\n          \"/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourceGroups/ps9194/providers/microsoft.insights/actionGroups/ps9883\"\r\n        ],\r\n        \"emailSubject\": \"SQR Log alert trigger notification\",\r\n        \"customWebhookPayload\": \"{}\"\r\n      },\r\n      \"throttlingInMin\": 5,\r\n      \"trigger\": {\r\n        \"thresholdOperator\": \"GreaterThan\",\r\n        \"threshold\": 5.0,\r\n        \"metricTrigger\": {\r\n          \"thresholdOperator\": \"GreaterThan\",\r\n          \"threshold\": 10.0,\r\n          \"metricTriggerType\": \"Total\",\r\n          \"metricColumn\": \"timestamp\"\r\n        }\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"West US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourceGroups/ps9194/providers/microsoft.insights/scheduledqueryrules/ps5740\",\r\n  \"name\": \"ps5740\",\r\n  \"type\": \"microsoft.insights/scheduledqueryrules\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {\r\n    \"hidden-link:/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourceGroups/ps9194/providers/microsoft.insights/components/ps3905\": \"Resource\"\r\n  },\r\n  \"kind\": null,\r\n  \"etag\": \"\\\"76005b29-0000-0700-0000-5cbf79cc0000\\\"\",\r\n  \"properties\": {\r\n    \"description\": \"SQR log alert rule\",\r\n    \"displayName\": \"ps5740\",\r\n    \"enabled\": \"true\",\r\n    \"lastUpdatedTime\": \"2019-04-23T20:47:04.9119636Z\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"source\": {\r\n      \"query\": \"traces | summarize AggregatedValue = count() by bin(timestamp, 5m)\",\r\n      \"authorizedResources\": [\r\n        \"/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourceGroups/ps9194/providers/microsoft.insights/components/ps3905\"\r\n      ],\r\n      \"dataSourceId\": \"/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourceGroups/ps9194/providers/microsoft.[...]
[...]
    {
      "RequestUri": "/subscriptions/ad825170-845c-47db-8f00-11978947b089/providers/microsoft.insights/scheduledQueryRules?api-version=2018-04-16",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourceGroups/IbizaAIExtension/providers/microsoft.insights/scheduledqueryrules/aimon_test_hydrate1fail\",\r\n      \"name\": \"aimon_test_hydrate1fail\",\r\n      \"type\": \"microsoft.insights/scheduledqueryrules\",\r\n      \"location\": \"westcentralus\",\r\n      \"tags\": {\r\n        \"hidden-link:/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourceGroups/IbizaAIExtension/providers/microsoft.insights/components/insightsportal-aimon-test\": \"Resource\"\r\n      },\r\n      \"kind\": null,\r\n      \"etag\": \"\\\"0000ca02-0000-0000-0000-5b6171000000\\\"\",\r\n      \"properties\": {\r\n        \"description\": null,\r\n        \"enabled\": \"true\",\r\n        \"lastUpdatedTime\": \"2018-03-28T10:38:57.5671405Z\",\r\n        \"source\": {\r\n          \"query\": \"requests|count\",\r\n          \"authorizedResources\": [],\r\n          \"dataSourceId\": \"/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourceGroups/IbizaAIExtension/providers/microsoft.insights/components/insightsportal-aimon-test\",\r\n          \"queryType\": \"ResultCount\"\r\n        },\r\n        \"metricName\": \"test-hydrate\",\r\n        \"schedule\": {\r\n          \"frequencyInMinutes\": 1440,\r\n          \"timeWindowInMinutes\": 2880\r\n        },\r\n        \"action\": {\r\n          \"odata.type\": \"Microsoft.WindowsAzure.Management.Monitoring.Alerts.Models.Microsoft.AppInsights.Nexus.DataContracts.Resources.ScheduledQueryRules.ResultToMetricAction\"\r\n        },\r\n        \"displayName\": \"aimon_test_hydrate1fail\",\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n [...]
    {
      "RequestUri": "/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourcegroups/ps9194/providers/microsoft.insights/scheduledQueryRules?api-version=2018-04-16",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"v[...]
[...]
    {
      "RequestUri": "/subscriptions/ad825170-845c-47db-8f00-11978947b089/resourcegroups/ps9194?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ad825170-845c-47db-8f00-11978947b089/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzkxOTQtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14997"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/ad825170-845c-47db-8f00-11978947b089/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzkxOTQtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/ad825170-845c-47db-8f00-11978947b089/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzkxOTQtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/ad825170-845c-47db-8f00-11978947b089/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzkxOTQtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-NewGetUpdateSetRemoveScheduledQueryRule": [
      "ps5740",
      "ps9194",
      "ps3905",
      "ps9883"
    ]
  },
  "Variables": {
    "SubscriptionId": "ad825170-845c-47db-8f00-11978947b089"
  }
}