{
  "Get-AzDatadogCreationSupported+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c/providers/Microsoft.Datadog/subscriptionStatuses/default?api-version=2025-12-26-preview\u0026datadogOrganizationId=ddorgptrg6c+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c/providers/Microsoft.Datadog/subscriptionStatuses/default?api-version=2025-12-26-preview\u0026datadogOrganizationId=ddorgptrg6c",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "18" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "cc808d9c-d2ec-4b58-9eac-f4e1330312d8" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"name\":\"b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c\",\"creationSupported\":true}}",
    }
  }
}