{
  "Get-AzDatadogMonitor+[NoContext]+List+$GET+https://management.azure.com/subscriptions/b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c/providers/Microsoft.Datadog/monitors?api-version=2025-12-26-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c/providers/Microsoft.Datadog/monitors?api-version=2025-12-26-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "20" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "184ebe89-0088-462e-8d77-6dbfa6431dfb", "60b94947-0922-4885-8d9d-8bab53faf38b", "706a65a6-dafc-4dd2-b0d0-e9afb84c1a52" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c/resourceGroups/div-test-rg/providers/Microsoft.Datadog/monitors/div-test-1-link\",\"name\":\"div-test-1-link\",\"type\":\"microsoft.datadog/monitors\",\"sku\":{\"name\":\"Datadog_Billed_Orgs_Monthly\"},\"location\":\"westus2\",\"tags\":{},\"systemData\":{\"createdBy\":\"agarwald@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-05-25T09:59:39.2133997Z\",\"lastModifiedBy\":\"agarwald@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-05-25T09:59:39.2133997Z\"},\"identity\":{\"principalId\":\"605a17cc-ecc9-4140-bce5-89e550ed8494\",\"tenantId\":\"888d76fa-54b2-4ced-8ee5-aac1585adee7\",\"type\":\"SystemAssigned\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"monitoringStatus\":\"Enabled\",\"marketplaceSubscriptionStatus\":\"Active\",\"datadogOrganizationProperties\":{\"name\":\"div-test-1\",\"id\":\"6ca87760-fa24-11ed-a236-da7ad0900003\",\"redirectUri\":\"https://portal.azure.com/TokenAuthorize\",\"enterpriseAppId\":\"\",\"cspm\":false},\"userInfo\":{\"name\":\"Divyansh Agarwal\",\"emailAddress\":\"agarwald@microsoft.com\",\"phoneNumber\":\"\"},\"liftrResourceCategory\":\"MonitorLogs\",\"liftrResourcePreference\":0}},{\"id\":\"/subscriptions/b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c/resourceGroups/malvika-test/providers/Microsoft.Datadog/monitors/test-dd-01\",\"name\":\"test-dd-01\",\"type\":\"microsoft.datadog/monitors\",\"sku\":{\"name\":\"payg_v3_Monthly@TIDgmz7xq9ge3py\"},\"location\":\"westus2\",\"tags\":{},\"systemData\":{\"createdBy\":\"maljindal@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-07-05T07:44:19.4758807Z\",\"lastModifiedBy\":\"ae11f5fb-c627-4eec-b4a0-f7b5969426e5\",\"lastMo[...]
