{
  "New-AzDatadogMarketplaceAgreement+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c/providers/Microsoft.Datadog/agreements/default?api-version=2025-12-26-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c/providers/Microsoft.Datadog/agreements/default?api-version=2025-12-26-preview",
      "Content": "{\r\n  \"properties\": {\r\n    \"accepted\": true\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "6b58d551-e8d4-451b-9c2f-20a0b89e7cc9" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "199" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c/providers/Microsoft.Datadog/agreements/default\",\"name\":\"default\",\"type\":\"microsoft.datadog/agreements\",\"systemData\":{\"createdBy\":\"vermapiyush@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2026-07-23T09:51:25.4657188Z\",\"lastModifiedBy\":\"vermapiyush@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2026-07-23T09:51:25.4657188Z\"},\"properties\":{\"publisher\":null,\"product\":null,\"plan\":null,\"licenseTextLink\":null,\"privacyPolicyLink\":null,\"retrieveDatetime\":null,\"signature\":null,\"accepted\":true}}",
    }
  }
}