{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resources?$filter=resourceType%20eq%20'Microsoft.Batch%2FbatchAccounts'&api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests\",\r\n      \"name\": \"pstests\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"eastus\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14958"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests?api-version=2015-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-07-01"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pstests\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"accountEndpoint\": \"pstests.eastus.batch.azure.com\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests\",\r\n  \"type\": \"Microsoft.Batch/batchAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Thu, 30 Jul 2015 17:18:51 GMT"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14962"
        ],
        "ETag": [
          "0x8D29902F09B724E"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests/listKeys?api-version=2015-07-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-07-01"
        ]
      },
      "ResponseBody": "{\r\n  \"accountName\": \"pstests\",\r\n  \"primary\": \"LjcPYhLUNjgOzrdNciMQS1TZJUoKgOrqhNYv9pbKdNn6GHMBuYwyt9dEx6uSdjzPV4U1N8RFm1EjiakXhq2hng==\",\r\n  \"secondary\": \"Y8oHFA4f8afHXYmqwcvL2Bigg+GkjKhDBBUGGAEkGVoj77rskty8DnAqaqMpntUwQK+yEAJWbgfvoho5AfcM+w==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1185"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs?api-version=2015-06-01.2.0&timeout=30",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"simple\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "ocp-date": [
          "Thu, 30 Jul 2015 17:18:52 GMT"
        ],
        "return-client-request-id": [
          "true"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Thu, 30 Jul 2015 17:18:52 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://pstests.eastus.batch.azure.com/jobs/job-1"
        ],
        "ETag": [
          "0x8D29902F129221A"
        ],
        "Location": [
          "https://pstests.eastus.batch.azure.com/jobs/job-1"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs?api-version=2015-06-01.2.0&timeout=30",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"complex\",\r\n  \"displayName\": \"displayName\",\r\n  \"priority\": 1,\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P1D\",\r\n    \"maxTaskRetryCount\": 5\r\n  },\r\n  \"jobManagerTask\": {\r\n    \"id\": \"jobManager\",\r\n    \"displayName\": \"jobManagerDisplay\",\r\n    \"commandLine\": \"cmd /c dir /s\",\r\n    \"resourceFiles\": [\r\n      {\r\n        \"blobSource\": \"https://testacct.blob.core.windows.net/\",\r\n        \"filePath\": \"filePath\"\r\n      }\r\n    ],\r\n    \"environmentSettings\": [\r\n      {\r\n        \"name\": \"name1\",\r\n        \"value\": \"value1\"\r\n      },\r\n      {\r\n        \"name\": \"name2\",\r\n        \"value\": \"value2\"\r\n      }\r\n    ],\r\n    \"constraints\": {\r\n      \"maxWallClockTime\": \"PT1H\"\r\n    },\r\n    \"killJobOnCompletion\": false,\r\n    \"runElevated\": false\r\n  },\r\n  \"jobPreparationTask\": {\r\n    \"id\": \"jobPrep\",\r\n    \"commandLine\": \"cmd /c dir /s\",\r\n    \"resourceFiles\": [\r\n      {\r\n        \"blobSource\": \"https://testacct.blob.core.windows.net/\",\r\n        \"filePath\": \"jobPrepFilePath\"\r\n      }\r\n    ],\r\n    \"environmentSettings\": [\r\n      {\r\n        \"name\": \"jobPrepName1\",\r\n        \"value\": \"jobPrepValue1\"\r\n      },\r\n      {\r\n        \"name\": \"jobPrepName2\",\r\n        \"value\": \"jobPrepValue2\"\r\n      }\r\n    ],\r\n    \"constraints\": {\r\n      \"maxTaskRetryCount\": 2\r\n    },\r\n    \"runElevated\": false\r\n  },\r\n  \"jobReleaseTask\": {\r\n    \"id\": \"jobRelease\",\r\n    \"commandLine\": \"cmd /c dir /s\",\r\n    \"resourceFiles\": [\r\n      {\r\n        \"blobSource\": \"https://testacct.blob.core.windows.net/\",\r\n        \"filePath\": \"jobReleaseFilePath\"\r\n      }\r\n    ],\r\n    \"environmentSettings\": [\r\n      {\r\n        \"name\": \"jobReleaseName1\",\r\n        \"value\": \"jobReleaseValue1\"\r\n      },\r\n      {\r\n        \"name\": \"jobReleaseName2\",\r\n        \"value\": \"jobReleaseValue2\"\r\n      }\r\n    ],\r\n    \"runElevated\": false\r\n  },\r\n  \"commonEnvironmentSettings\": [\r\n    {\r\n      \"name\": \"commonEnv1\",\r\n      \"value\": \"envValue1\"\r\n    },\r\n    {\r\n      \"name\": \"commonEnv2\",\r\n      \"value\": \"envValue2\"\r\n    }\r\n  ],\r\n  \"poolInfo\": {\r\n    \"autoPoolSpecification\": {\r\n      \"autoPoolIdPrefix\": \"TestSpecPrefix\",\r\n      \"poolLifetimeOption\": \"job\",\r\n      \"keepAlive\": false,\r\n      \"pool\": {\r\n        \"vmSize\": \"small\",\r\n        \"osFamily\": \"4\",\r\n        \"targetOSVersion\": \"*\",\r\n        \"targetDedicated\": 3,\r\n        \"startTask\": {\r\n          \"commandLine\": \"cmd /c dir /s\"\r\n        },\r\n        \"certificateReferences\": [\r\n          {\r\n            \"thumbprint\": \"0123456789ABCDEF\",\r\n            \"thumbprintAlgorithm\": \"sha1\",\r\n            \"storeLocation\": \"localmachine\",\r\n            \"storeName\": \"certStore\",\r\n            \"visibility\": \"starttask\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  },\r\n  \"metadata\": [\r\n    {\r\n      \"name\": \"meta2\",\r\n      \"value\": \"value2\"\r\n    },\r\n    {\r\n      \"name\": \"meta1\",\r\n      \"value\": \"value1\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "ocp-date": [
          "Thu, 30 Jul 2015 17:18:52 GMT"
        ],
        "return-client-request-id": [
          "true"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Thu, 30 Jul 2015 17:18:53 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://pstests.eastus.batch.azure.com/jobs/job-1"
        ],
        "ETag": [
          "0x8D29902F17B92CF"
        ],
        "Location": [
          "https://pstests.eastus.batch.azure.com/jobs/job-1"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/jobs/simple?api-version=2015-06-01.2.0&timeout=30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 30 Jul 2015 17:18:52 GMT"
        ],
        "return-client-request-id": [
          "true"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstests.eastus.batch.azure.com/$metadata#jobs/@Element\",\r\n  \"id\": \"simple\",\r\n  \"url\": \"https://pstests.eastus.batch.azure.com/jobs/simple\",\r\n  \"eTag\": \"0x8D29902F129221A\",\r\n  \"lastModified\": \"2015-07-30T17:18:52.765033Z\",\r\n  \"creationTime\": \"2015-07-30T17:18:52.7490243Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2015-07-30T17:18:52.765033Z\",\r\n  \"priority\": 0,\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  },\r\n  \"executionInfo\": {\r\n    \"startTime\": \"2015-07-30T17:18:52.765033Z\",\r\n    \"poolId\": \"testPool\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Thu, 30 Jul 2015 17:18:52 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D29902F129221A"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobs/complex?api-version=2015-06-01.2.0&timeout=30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 30 Jul 2015 17:18:53 GMT"
        ],
        "return-client-request-id": [
          "true"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstests.eastus.batch.azure.com/$metadata#jobs/@Element\",\r\n  \"id\": \"complex\",\r\n  \"displayName\": \"displayName\",\r\n  \"url\": \"https://pstests.eastus.batch.azure.com/jobs/complex\",\r\n  \"eTag\": \"0x8D29902F17B92CF\",\r\n  \"lastModified\": \"2015-07-30T17:18:53.3053135Z\",\r\n  \"creationTime\": \"2015-07-30T17:18:53.2713085Z\",\r\n  \"state\": \"terminating\",\r\n  \"stateTransitionTime\": \"2015-07-30T17:18:53.3844489Z\",\r\n  \"previousState\": \"active\",\r\n  \"previousStateTransitionTime\": \"2015-07-30T17:18:53.3053135Z\",\r\n  \"priority\": 1,\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P1D\",\r\n    \"maxTaskRetryCount\": 5\r\n  },\r\n  \"jobManagerTask\": {\r\n    \"id\": \"jobManager\",\r\n    \"displayName\": \"jobManagerDisplay\",\r\n    \"commandLine\": \"cmd /c dir /s\",\r\n    \"resourceFiles\": [\r\n      {\r\n        \"blobSource\": \"https://testacct.blob.core.windows.net/\",\r\n        \"filePath\": \"filePath\"\r\n      }\r\n    ],\r\n    \"environmentSettings\": [\r\n      {\r\n        \"name\": \"name1\",\r\n        \"value\": \"value1\"\r\n      },\r\n      {\r\n        \"name\": \"name2\",\r\n        \"value\": \"value2\"\r\n      }\r\n    ],\r\n    \"constraints\": {\r\n      \"maxWallClockTime\": \"PT1H\",\r\n      \"retentionTime\": \"P10675199DT2H48M5.4775807S\",\r\n      \"maxTaskRetryCount\": 5\r\n    },\r\n    \"runElevated\": false,\r\n    \"runExclusive\": true,\r\n    \"killJobOnCompletion\": false\r\n  },\r\n  \"jobPreparationTask\": {\r\n    \"id\": \"jobPrep\",\r\n    \"commandLine\": \"cmd /c dir /s\",\r\n    \"resourceFiles\": [\r\n      {\r\n        \"blobSource\": \"https://testacct.blob.core.windows.net/\",\r\n        \"filePath\": \"jobPrepFilePath\"\r\n      }\r\n    ],\r\n    \"environmentSettings\": [\r\n      {\r\n        \"name\": \"jobPrepName1\",\r\n        \"value\": \"jobPrepValue1\"\r\n      },\r\n      {\r\n        \"name\": \"jobPrepName2\",\r\n        \"value\": \"jobPrepValue2\"\r\n      }\r\n    ],\r\n    \"constraints\": {\r\n      \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n      \"retentionTime\": \"P10675199DT2H48M5.4775807S\",\r\n      \"maxTaskRetryCount\": 2\r\n    },\r\n    \"runElevated\": false,\r\n    \"waitForSuccess\": true,\r\n    \"rerunOnNodeRebootAfterSuccess\": true\r\n  },\r\n  \"jobReleaseTask\": {\r\n    \"id\": \"jobRelease\",\r\n    \"commandLine\": \"cmd /c dir /s\",\r\n    \"resourceFiles\": [\r\n      {\r\n        \"blobSource\": \"https://testacct.blob.core.windows.net/\",\r\n        \"filePath\": \"jobReleaseFilePath\"\r\n      }\r\n    ],\r\n    \"environmentSettings\": [\r\n      {\r\n        \"name\": \"jobReleaseName1\",\r\n        \"value\": \"jobReleaseValue1\"\r\n      },\r\n      {\r\n        \"name\": \"jobReleaseName2\",\r\n        \"value\": \"jobReleaseValue2\"\r\n      }\r\n    ],\r\n    \"maxWallClockTime\": \"PT15M\",\r\n    \"retentionTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"runElevated\": false\r\n  },\r\n  \"commonEnvironmentSettings\": [\r\n    {\r\n      \"name\": \"commonEnv1\",\r\n      \"value\": \"envValue1\"\r\n    },\r\n    {\r\n      \"name\": \"commonEnv2\",\r\n      \"value\": \"envValue2\"\r\n    }\r\n  ],\r\n  \"poolInfo\": {\r\n    \"autoPoolSpecification\": {\r\n      \"autoPoolIdPrefix\": \"TestSpecPrefix\",\r\n      \"poolLifetimeOption\": \"job\",\r\n      \"keepAlive\": false,\r\n      \"pool\": {\r\n        \"osFamily\": \"4\",\r\n        \"targetOSVersion\": \"*\",\r\n        \"vmSize\": \"small\",\r\n        \"maxTasksPerNode\": 1,\r\n        \"taskSchedulingPolicy\": {\r\n          \"nodeFillType\": \"Spread\"\r\n        },\r\n        \"resizeTimeout\": \"PT5M\",\r\n        \"targetDedicated\": 3,\r\n        \"enableAutoScale\": false,\r\n        \"enableInterNodeCommunication\": false,\r\n        \"startTask\": {\r\n          \"commandLine\": \"cmd /c dir /s\",\r\n          \"runElevated\": false,\r\n          \"maxTaskRetryCount\": 0,\r\n          \"waitForSuccess\": false\r\n        },\r\n        \"certificateReferences\": [\r\n          {\r\n            \"thumbprint\": \"0123456789abcdef\",\r\n            \"thumbprintAlgorithm\": \"sha1\",\r\n            \"storeLocation\": \"LocalMachine\",\r\n            \"storeName\": \"certStore\",\r\n            \"visibility\": \"starttask\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  },\r\n  \"metadata\": [\r\n    {\r\n      \"name\": \"meta2\",\r\n      \"value\": \"value2\"\r\n    },\r\n    {\r\n      \"name\": \"meta1\",\r\n      \"value\": \"value1\"\r\n    }\r\n  ],\r\n  \"executionInfo\": {\r\n    \"startTime\": \"2015-07-30T17:18:53.3053135Z\",\r\n    \"poolId\": \"TestSpecPrefix_76E591E4-4A82-4A8F-ABED-340C445563D1\",\r\n    \"schedulingError\": {\r\n      \"category\": \"UserError\",\r\n      \"code\": \"InvalidCertificatesInAutoPool\",\r\n      \"message\": \"One or more certificates specified for the pool are invalid\",\r\n      \"details\": [\r\n        {\r\n          \"name\": \"sha1-0123456789abcdef\",\r\n          \"value\": \"The specified certificate does not exist.\"\r\n        }\r\n      ]\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Thu, 30 Jul 2015 17:18:53 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D29902F17B92CF"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobs/complex?api-version=2015-06-01.2.0&timeout=30",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 30 Jul 2015 17:18:53 GMT"
        ],
        "return-client-request-id": [
          "true"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "6368ed38-3570-481f-b4fa-1d0a6e8d3f3b"
  }
}