{
  "Get-AzAksUpgradeProfile+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/AKS_TEST_RG/providers/Microsoft.ContainerService/managedClusters/AKS_Test_Cluster/upgradeProfiles/default?api-version=2025-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/AKS_TEST_RG/providers/Microsoft.ContainerService/managedClusters/AKS_Test_Cluster/upgradeProfiles/default?api-version=2025-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourcegroups/AKS_TEST_RG/providers/Microsoft.ContainerService/managedClusters/AKS_Test_Cluster/upgradeprofiles/default\",\n \"name\": \"default\",\n \"type\": \"Microsoft.ContainerService/managedClusters/upgradeprofiles\",\n \"properties\": {\n  \"controlPlaneProfile\": {\n   \"kubernetesVersion\": \"1.32.7\",\n   \"osType\": \"Linux\",\n   \"upgrades\": [\n    {\n     \"kubernetesVersion\": \"1.33.3\"\n    },\n    {\n     \"kubernetesVersion\": \"1.33.2\"\n    },\n    {\n     \"kubernetesVersion\": \"1.33.1\"\n    },\n    {\n     \"kubernetesVersion\": \"1.33.0\"\n    }\n   ]\n  },\n  \"agentPoolProfiles\": null\n }\n}",
    }
  }
}