{
  "Get-AzAksTrustedAccessRoleBinding+[NoContext]+List+$GET+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/AKS_TEST_RG/providers/Microsoft.ContainerService/managedClusters/AKS_Test_Cluster/trustedAccessRoleBindings?api-version=2025-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/AKS_TEST_RG/providers/Microsoft.ContainerService/managedClusters/AKS_Test_Cluster/trustedAccessRoleBindings?api-version=2025-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n \"value\": [\n  {\n   \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/AKS_TEST_RG/providers/Microsoft.ContainerService/managedClusters/AKS_Test_Cluster/trustedAccessRoleBindings/testBinding\",\n   \"name\": \"testBinding\",\n   \"type\": \"Microsoft.ContainerService/managedClusters/trustedAccessRoleBindings\",\n   \"properties\": {\n    \"provisioningState\": \"Succeeded\",\n    \"sourceResourceId\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourcegroups/AKS_TEST_RG/providers/Microsoft.MachineLearningServices/workspaces/TestAML001\",\n    \"roles\": [\n     \"Microsoft.MachineLearningServices/workspaces/mlworkload\"\n    ]\n   }\n  }\n ]\n}",
    }
  },
  "Get-AzAksTrustedAccessRoleBinding+[NoContext]+GetViaIdentityManagedCluster+$GET+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/AKS_TEST_RG/providers/Microsoft.ContainerService/managedClusters/AKS_Test_Cluster/trustedAccessRoleBindings/testBinding?api-version=2025-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https[...]
