{
  "Get-AzAksManagedClusterCommandResult+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/aks-test/providers/Microsoft.ContainerService/managedClusters/aks/commandResults/706de66629b14267b4962cf015122c12?api-version=2023-02-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/aks-test/providers/Microsoft.ContainerService/managedClusters/aks/commandResults/706de66629b14267b4962cf015122c12?api-version=2023-02-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n  \"id\": \"706de66629b14267b4962cf015122c12\",\n  \"properties\": {\n   \"provisioningState\": \"Succeeded\",\n   \"exitCode\": 0,\n   \"startedAt\": \"2023-03-31T09:14:38Z\",\n   \"finishedAt\": \"2023-03-31T09:14:40Z\",\n   \"logs\": \"NAME                              STATUS   ROLES   AGE   VERSION\\naks-default-40136599-vmss000000   Ready    agent   68m   v1.24.9\\naks-pool2-22198594-vmss000000     Ready    agent   65m   v1.24.9\\n\"\n  }\n }",
    }
  },
  "Get-AzAksManagedClusterCommandResult+[NoContext]+GetViaIdentity+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/aks-test/providers/Microsoft.ContainerService/managedClusters/aks/commandResults/706de66629b14267b4962cf[...]
