{
  "Get-AzAksManagedClusterOutboundNetworkDependencyEndpoint+[NoContext]+List+$GET+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/AKS_TEST_RG/providers/Microsoft.ContainerService/managedClusters/AKS_Test_Cluster/outboundNetworkDependenciesEndpoints?api-version=2025-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/AKS_TEST_RG/providers/Microsoft.ContainerService/managedClusters/AKS_Test_Cluster/outboundNetworkDependenciesEndpoints?api-version=2025-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n \"value\": [\n  {\n   \"category\": \"azure-resource-management\",\n   \"endpoints\": [\n    {\n     \"domainName\": \"management.azure.com\",\n     \"endpointDetails\": [\n      {\n       \"port\": 443,\n       \"protocol\": \"Https\"\n      }\n     ]\n    },\n    {\n     \"domainName\": \"login.microsoftonline.com\",\n     \"endpointDetails\": [\n      {\n       \"port\": 443,\n       \"protocol\": \"Https\"\n      }\n     ]\n    }\n   ]\n  },\n  {\n   \"category\": \"images\",\n   \"endpoints\": [\n    {\n     \"domainName\": \"mcr.microsoft.com\",\n     \"endpointDetails\": [\n      {\n       \"port\": 443,\n       \"protocol\": \"Https\"\n      }\n     ]\n    },\n    {\n     \"domainName\": \"*.data.mcr.microsoft.com\",\n     \"endpointDetails\": [\n      {\n       \"port\": 443,\n       \"protocol\": \"Https\",\n       \"description\": \"mcr cdn\"\n      }\n     ]\n    }\n   ]\n  },\n  {\n   \"category\": \"artifacts\",\n   \"endpoints\": [\n    {\n     \"domainName\": \"packages.microsoft.com\",\n     \"endpointDetails\": [\n      {\n       \"port\": 443,\n       \"protocol\": \"Https\"\n      }\n     ]\n    },\n    {\n     \"domainName\": \"acs-mirror.azureedge.net\",\n     \"endpointDetails\": [\n      {\n       \"port\": 443,\n       \"protocol\": \"Https\"\n      }\n     ]\n    },\n    {\n     \"domainName\": \"packages.[...]
