{
  "Get-AzAksManagedClusterOSOption+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.ContainerService/locations/eastus/osOptions/default?api-version=2023-02-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.ContainerService/locations/eastus/osOptions/default?api-version=2023-02-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.ContainerService/locations/eastus/osOptions/default\",\n  \"name\": \"default\",\n  \"type\": \"Microsoft.ContainerService/locations/osOptions\",\n  \"properties\": {\n   \"osOptionPropertyList\": [\n    {\n     \"os-type\": \"Linux\",\n     \"os-sku\": \"Ubuntu\",\n     \"enable-fips-image\": false\n    },\n    {\n     \"os-type\": \"Linux\",\n     \"os-sku\": \"Ubuntu\",\n     \"enable-fips-image\": true\n    },\n    {\n     \"os-type\": \"Windows\",\n     \"os-sku\": \"\",\n     \"enable-fips-image\": false\n    },\n    {\n     \"os-type\": \"Windows\",\n     \"os-sku\": \"\",\n     \"enable-fips-image\": true\n    },\n    {\n     \"os-type\": \"Linux\",\n     \"os-sku\": \"CBLMariner\",\n     \"enable-fips-image\": false\n    }\n   ]\n  }\n }",
    }
  }
}