{
  "Remove-AzAksMaintenanceConfiguration+[NoContext]+Delete+$PUT+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/AKS_TEST_RG/providers/Microsoft.ContainerService/managedClusters/AKS_Test_Cluster/maintenanceConfigurations/aksManagedAutoUpgradeSchedule?api-version=2025-08-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/AKS_TEST_RG/providers/Microsoft.ContainerService/managedClusters/AKS_Test_Cluster/maintenanceConfigurations/aksManagedAutoUpgradeSchedule?api-version=2025-08-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"maintenanceWindow\": {\r\n      \"schedule\": {\r\n        \"weekly\": {\r\n          \"intervalWeeks\": 2,\r\n          \"dayOfWeek\": \"Friday\"\r\n        }\r\n      },\r\n      \"durationHours\": 6,\r\n      \"startTime\": \"01:00\"\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "199" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/AKS_TEST_RG/providers/Microsoft.ContainerService/managedClusters/AKS_Test_Cluster/maintenanceConfigurations/aksManagedAutoUpgradeSchedule\",\n \"name\": \"aksManagedAutoUpgradeSchedule\",\n \"properties\": {\n  \"maintenanceWindow\": {\n   \"schedule\": {\n    \"weekly\": {\n     \"intervalWeeks\": 2,\n     \"dayOfWeek\": \"Friday\"\n    }\n   },\n   \"durationHours\": 6,\n   \"utcOffset\": \"+00:00\",\n   \"startDate\": \"2025-11-03\",\n   \"startTime\": \"01:00\"\n  }\n }\n}",
    }
  },
  "Remove-AzAksMaintenanceConfiguration+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/AKS_TEST_RG/providers/Microsoft.ContainerService/managedClusters/AKS_Test_Cluster/maintenanceConfigurations/aksManagedAutoUpgradeSchedule?api-version=2025-08-01+2": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/AKS_TEST_RG/providers/Microsoft.ContainerService/managedClusters/AKS_Test_Cluster/maintenanceConfigurations/aksManagedAutoUpgradeSchedule?api-version=2025-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-deletes": [ "199" ],
        "x-ms-ratelimit-remaining-subscription-global-deletes": [ "2999" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Remove-AzAksMaintenanceConfiguration+[NoContext]+DeleteViaIdentity+$PUT+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca871[...]
