{
  "Start-AzAksManagedClusterCommand+[NoContext]+RunExpanded+$POST+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/aks-test/providers/Microsoft.ContainerService/managedClusters/aks/runCommand?api-version=2023-02-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/aks-test/providers/Microsoft.ContainerService/managedClusters/aks/runCommand?api-version=2023-02-01",
      "Content": "{\r\n  \"command\": \"kubectl get pods --all-namespaces -o wide\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/aks-test/providers/Microsoft.ContainerService/managedclusters/aks/commandResults/b3d43a270409499498a409a2ee4a3fb4?api-version=2023-02-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Start-AzAksManagedClusterCommand+[NoContext]+RunExpanded+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/aks-test/providers/Microsoft.ContainerService/managedclusters/aks/commandResults/b3d43a270409499498a409a2ee4a3fb4?api-version=2023-02-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/aks-test/providers/Microsoft.ContainerService/managedclusters/aks/commandResults/b3d43a270409499498a409a2ee4a3fb4?api-version=2023-02-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n  \"id\": \"b3d43a270409499498a409a2ee4a3fb4\",\n  \"properties\": {\n   \"provisioningState\": \"Succeeded\",\n   \"exitCode\": 0,\n   \"startedAt\": \"2023-03-31T08:51:44Z\",\n   \"finishedAt\": \"2023-03-31T08:51:45Z\",\n   \"logs\": \"NAMESPACE     NAME                                       READY   STATUS      RESTARTS   AGE     IP            NODE                              NOMINATED NODE   READINESS GATES\\naks-command   command-33ddee0548b342bcbd2f0b6e997bb538   0/1     Completed   0          81s     10.224.0.44   aks-pool2-22198594-vmss000000     \\u003cnone\\u003e           \\u003cnone\\u003e\\naks-command   command-836aff9b9f2d4be8ac6b424cf302204f   0/1     Error       0          15m     10.224.0.44   aks-pool2-2219[...]
