<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CloudServiceName" value="CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us" />
    <add key="ResourceName" value="OneSDK-Resource" />
    <add key="ResourceId" value="1975530557201809476" />
    <add key="ResourceNamespace" value="WACis" />
    <add key="CisStampId" value="7ef900f6-ad91-497d-a9c5-2742b7ed4a75" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>
