<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CloudServiceName" value="CisService-DTYHC5NYB4BUTV3ZHFNSE5EKIZZGLGYR44OJUL5OQGG4I2EMYOZA-west-us" />
    <add key="ResourceName" value="OneSDK-Resource" />
    <add key="ResourceId" value="1975530557201809476" />
    <add key="ResourceNamespace" value="WACis" />
    <add key="CisStampId" value="7ef900f6-ad91-497d-a9c5-2742b7ed4a75" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.11.0.0" newVersion="2.11.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
