{
  "Test-AzPeeringRegisteredPrefix+[NoContext]+Validate+$POST+https://management.azure.com/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/resourceGroups/DemoRG/providers/Microsoft.Peering/peerings/DemoPeering/registeredPrefixes/accessibilityTesting2/validate?api-version=2022-10-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/resourceGroups/DemoRG/providers/Microsoft.Peering/peerings/DemoPeering/registeredPrefixes/accessibilityTesting2/validate?api-version=2022-10-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"properties\": {\r\n    \"prefix\": \"240.0.1.0/24\",\r\n    \"prefixValidationState\": \"Pending\",\r\n    \"peeringServicePrefixKey\": \"249aa0dd-6177-4105-94fe-dfefcbf5ab48\",\r\n    \"errorMessage\": \"Internal server error\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"name\": \"accessibilityTesting2\",\r\n  \"id\": \"/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/resourceGroups/DemoRG/providers/Microsoft.Peering/peerings/DemoPeering/registeredPrefixes/accessibilityTesting2\",\r\n  \"type\": \"Microsoft.Peering/peerings/registeredPrefixes\"\r\n}",
    }
  }
}