{
  "Get-AzPurviewDefaultAccount+[NoContext]+Get+$GET+https://management.azure.com/providers/Microsoft.Purview/getDefaultAccount?scopeTenantId=54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\u0026scopeType=Tenant\u0026api-version=2021-07-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Purview/getDefaultAccount?scopeTenantId=54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\u0026scopeType=Tenant\u0026api-version=2021-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "40" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"scopeTenantId\":\"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\"scopeType\":\"Tenant\",\"scope\":\"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\"accountName\":\"bez-test-pa\",\"resourceGroupName\":\"test-rgzw9el\",\"subscriptionId\":\"0b1f6471-1bf0-4dda-aec3-cb9272f09590\"}",
    }
  }
}