{
  "Entries": [
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/providers/Microsoft.Sql/virtualClusters?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "596226df-0a81-4029-a3ec-ab06dedf7ea2",
          "38f7d02b-1f5d-4b3f-b09b-95697c057d0b",
          "99cbc1d8-ad9b-4afa-bacb-89a4ff073c9b",
          "aa0fb51a-124b-42b4-9770-a0af092e4ae3",
          "82af9b64-0e7a-4a33-a48e-86390560fb0d"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"subnetId\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/autobot-instance-pool/providers/Microsoft.Network/virtualNetworks/vnet-autobot-instance-pool/subnets/InstancePool\",\r\n        \"childResources\": [\r\n          \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/autobot-instance-pool/providers/Microsoft.Sql/managedInstances/autobot-instance-pool-instance-0\"\r\n        ]\r\n      },\r\n      \"location\": \"canadacentral\",\r\n      \"id\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/autobot-instance-pool/providers/Microsoft.Sql/virtualClusters/VirtualCluster54fae642-6b7f-4325-b843-e25bdf80c1d6\",\r\n      \"name\": \"VirtualCluster54fae642-6b7f-4325-b843-e25bdf80c1d6\",\r\n      \"type\": \"Microsoft.Sql/virtualClusters\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"subnetId\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Network/virtualNetworks/vnet-sql-mi-secondary/subnets/default\",\r\n        \"childResources\": [\r\n          \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/mi-tooling-cus\"\r\n        ]\r\[...]
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/virtualClusters?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "97402132-9326-43ea-a567-59b6501489b3",
          "5832e616-bd53-4bb2-ba36-310c14fda7f4",
          "fd335404-5a8b-4968-9549-fd83e18a55b6",
 [...]
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/virtualClusters/VirtualCluster3f0314b7-b7c0-4842-94b7-c38eee3404f2?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"subnetId\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Network/virtualNetworks/vnet-mi-tooling/subnets/ManagedInstance\",\r\n    \"childResources\": []\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/virtualClusters/VirtualCluster3f0314b7-b7c0-4842-94b7-c38eee3404f2\",\r\n  \"name\": \"VirtualCluster3f0314b7-b7c0-4842-94b7-c38eee3404f2\",\r\n  \"type\": \"Microsoft.Sql/virtualClusters\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "8313371e-0879-428e-b1da-6353575a9192"
  }
}