{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/jobschedules?api-version=2018-08-01.7.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"testDisableEnableTerminateJobSchedule\",\r\n  \"schedule\": {},\r\n  \"jobSpecification\": {\r\n    \"poolInfo\": {\r\n      \"poolId\": \"testPool\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Mon, 24 Sep 2018 22:05:38 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Mon, 24 Sep 2018 22:05:38 GMT"
        ]
=======
      "RequestUri": "/jobschedules?api-version=2020-03-01.11.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"testDisableEnableTerminateJobSchedule\",\r\n  \"schedule\": {},\r\n  \"jobSpecification\": {\r\n    \"poolInfo\": {\r\n      \"poolId\": \"testPool\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 09 Jun 2020 21:04:29 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D80CB8C00027A3"
        ],
        "Location": [
          "https://prodtest6.francecentral.batch.azure.com/jobschedules/testDisableEnableTerminateJobSchedule"
        ]
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
<<<<<<< HEAD
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/jobschedules/testDisableEnableTerminateJobSchedule"
        ],
        "Date": [
          "Mon, 24 Sep 2018 22:05:38 GMT"
        ],
        "ETag": [
          "0x8D62269DCADCD0B"
        ],
        "Location": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/jobschedules/testDisableEnableTerminateJobSchedule"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobschedules/testDisableEnableTerminateJobSchedule/disable?api-version=2018-08-01.7.0",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 24 Sep 2018 22:05:39 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Mon, 24 Sep 2018 22:05:39 GMT"
        ]
=======
          "https://prodtest6.francecentral.batch.azure.com/jobschedules/testDisableEnableTerminateJobSchedule"
        ],
        "Date": [
          "Tue, 09 Jun 2020 21:04:50 GMT"
        ],
        "Last-Modified": [
          "Tue, 09 Jun 2020 21:04:50 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/jobschedules/testDisableEnableTerminateJobSchedule?api-version=2018-08-01.7.0",
=======
          "https://prodtest6.francecentral.batch.azure.com/jobschedules/testDisableEnableTerminateJobSchedule/disable"
        ],
        "Date": [
          "Tue, 09 Jun 2020 21:05:13 GMT"
        ],
        "Content-Length": [
          "0"
        ],
        "Last-Modified": [
          "Tue, 09 Jun 2020 21:05:13 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/jobschedules/testDisableEnableTerminateJobSchedule?api-version=2020-03-01.11.0",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "4184c262-a139-4cfd-918a-380eea1bb240"
        ],
        "accept-language": [
          "en-US"
        ],
        "ocp-date": [
          "Mon, 24 Sep 2018 22:05:39 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.7.3163.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/9.0.0.0",
          "AzurePowershell/v6.9.0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#jobschedules/@Element\",\r\n  \"id\": \"testDisableEnableTerminateJobSchedule\",\r\n  \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/jobschedules/testDisableEnableTerminateJobSchedule\",\r\n  \"eTag\": \"0x8D62269DCFA07F5\",\r\n  \"lastModified\": \"2018-09-24T22:05:39.3787893Z\",\r\n  \"creationTime\": \"2018-09-24T22:05:38.8792075Z\",\r\n  \"state\": \"disabled\",\r\n  \"stateTransitionTime\": \"2018-09-24T22:05:39.3787893Z\",\r\n  \"previousState\": \"active\",\r\n  \"previousStateTransitionTime\": \"2018-09-24T22:05:38.8792075Z\",\r\n  \"jobSpecification\": {\r\n    \"priority\": 0,\r\n    \"usesTaskDependencies\": false,\r\n    \"onAllTasksComplete\": \"noaction\",\r\n    \"onTaskFailure\": \"noaction\",\r\n    \"constraints\": {\r\n      \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n      \"maxTaskRetryCount\": 0\r\n    },\r\n    \"poolInfo\": {\r\n      \"poolId\": \"testPool\"\r\n    }\r\n  },\r\n  \"executionInfo\": {\r\n    \"recentJob\": {\r\n      \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/jobs/testDisableEnableTerminateJobSchedule:job-1\",\r\n      \"id\": \"testDisableEnableTerminateJobSchedule:job-1\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Mon, 24 Sep 2018 22:05:39 GMT"
        ]
=======
          "6ce7ba13-454a-4a39-93f8-113e181f2d00"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "ocp-date": [
          "Tue, 09 Jun 2020 21:05:13 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/13.0.20.15503",
          "AzurePowershell/Az1.0.0"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D80CB8CD4AC923"
        ]
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 24 Sep 2018 22:05:39 GMT"
        ],
        "ETag": [
          "0x8D62269DCFA07F5"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobschedules/testDisableEnableTerminateJobSchedule/enable?api-version=2018-08-01.7.0",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 24 Sep 2018 22:05:39 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Mon, 24 Sep 2018 22:05:39 GMT"
        ]
=======
          "Tue, 09 Jun 2020 21:05:13 GMT"
        ],
        "Content-Type": [
 [...]
[...]
    {
      "RequestUri": "/jobschedules?api-version=2018-08-01.7.0&$filter=id%20eq%20'testDisableEnableTerminateJobSchedule'",
=======
          "https://prodtest6.francecentral.batch.azure.com/jobschedules/testDisableEnableTerminateJobSchedule/enable"
        ],
        "Date": [
          "Tue, 09 Jun 2020 21:05:13 GMT"
        ],
        "Content-Length": [
          "0"
        ],
        "Last-Modified": [
          "Tue, 09 Jun 2020 21:05:13 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
    {
      "RequestUri": "/jobschedules?api-version=2020-03-01.11.0&$filter=id%20eq%20%27testDisableEnableTerminateJobSchedule%27",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "db8f0d04-d388-47b0-9cc8-3228e1a684a6"
        ],
        "accept-language": [
          "en-US"
        ],
        "ocp-date": [
          "Mon, 24 Sep 2018 22:05:39 GMT"
        ],
        "User-Agent": [
          "FxVersion/4.7.3163.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.16299",
          "Microsoft.Azure.Batch.Protocol.BatchServiceClient/9.0.0.0",
          "AzurePowershell/v6.9.0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#jobschedules\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"testDisableEnableTerminateJobSchedule\",\r\n      \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/jobschedules/testDisableEnableTerminateJobSchedule\",\r\n      \"eTag\": \"0x8D62269DD10EE53\",\r\n      \"lastModified\": \"2018-09-24T22:05:39.5288659Z\",\r\n      \"creationTime\": \"2018-09-24T22:05:38.8792075Z\",\r\n      \"state\": \"active\",\r\n      \"stateTransitionTime\": \"2018-09-24T22:05:39.5288659Z\",\r\n      \"previousState\": \"[...]
    {
      "RequestUri": "/jobschedules/testDisableEnableTerminateJobSchedule/terminate?api-version=2018-08-01.7.0",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 24 Sep 2018 22:05:39 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Mon, 24 Sep 2018 22:05:39 GMT"
        ]
=======
          "Tue, 09 Jun 2020 21:05:13 GMT"
        ],
        "Content-Type": [...]
[...]
    {
      "RequestUri": "/jobschedules/testDisableEnableTerminateJobSchedule?api-version=2020-03-01.11.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Tue, 09 Jun 2020 21:05:14 GMT"
        ]
      },
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "ResponseHeaders": {
<<<<<<< HEAD
        "request-id": [
          "769e0c82-c94a-49f2-ab05-be49e9cd51c3"
=======
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "request-id": [
          "af9b58c9-0c6f-465f-a7e3-e0b05c9c95f6"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Date": [
<<<<<<< HEAD
          "Mon, 24 Sep 2018 22:05:41 GMT"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ]
      },
=======
          "Tue, 09 Jun 2020 21:05:14 GMT"
        ]
      },
      "ResponseBody": "",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
<<<<<<< HEAD
    "SubscriptionId": "2915bbd6-1252-405f-8173-6c00428146d9",
    "AZURE_BATCH_ACCOUNT": "matthchrwestcentralus",
    "AZURE_BATCH_ENDPOINT": "https://matthchrwestcentralus.westcentralus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "matthchrwestcentralus"
=======
    "SubscriptionId": "21abd678-18c5-4660-9fdd-8c5ba6b6fe1f",
    "AZURE_BATCH_ACCOUNT": "prodtest6",
    "AZURE_BATCH_ENDPOINT": "https://prodtest6.francecentral.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "abc"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
  }
}