{
  "Entries": [
    {
      "RequestUri": "/pools?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 22 Mar 2024 20:44:13 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"id\": \"testPool\",\r\n  \"vmSize\": \"STANDARD_D2S_V3\",\r\n  \"virtualMachineConfiguration\": {\r\n    \"imageReference\": {\r\n      \"publisher\": \"canonical\",\r\n      \"offer\": \"0001-com-ubuntu-server-focal\",\r\n      \"sku\": \"20_04-lts\"\r\n    },\r\n    \"nodeAgentSKUId\": \"batch.node.ubuntu 20.04\",\r\n    \"nodePlacementConfiguration\": {\r\n      \"policy\": \"zonal\"\r\n    }\r\n  },\r\n  \"targetDedicatedNodes\": 2,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableInterNodeCommunication\": false,\r\n  \"targetNodeCommunicationMode\": \"default\"\r\n}",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://billstestba24326.uksouth.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\r\n  \"code\": \"PoolExists\",\r\n  \"message\": {\r\n    \"lang\": \"en-US\",\r\n    \"value\": \"The specified pool already exists.\\nRequestId:2a89cedf-ee1b-403d-ac09-834c23af06bd\\nTime:2024-03-22T20:44:14.5234345Z\"\r\n  }\r\n}",
      "StatusCode": 409
    },
[...]
    {
      "RequestUri": "/pools/testPool?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 22 Mar 2024 20:44:14 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "0x8DC4AAF45E03C32"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Fri, 22 Mar 2024 20:33:03 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://billstestba24326.uksouth.batch.azure.com/$metadata#pools/@Element\",\r\n  \"id\": \"testPool\",\r\n  \"url\": \"https://billstestba24326.uksouth.batch.azure.com/pools/testPool\",\r\n  \"eTag\": \"0x8DC4AAF45E03C32\",\r\n  \"lastModified\": \"2024-03-22T20:33:03.182341Z\",\r\n  \"creationTime\": \"2024-03-22T20:33:03.1823398Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2024-03-22T20:33:03.1823398Z\",\r\n  \"allocationState\": \"steady\",\r\n  \"allocationStateTransitionTime\": \"2024-03-22T20:33:30.3746168Z\",\r\n  \"vmSize\": \"standard_d2s_v3\",\r\n  \"resizeTimeout\": \"PT15M\",\r\n  \"currentDedicatedNodes\": 2,\r\n  \"targetDedicatedNodes\": 2,\r\n  \"currentLowPriorityNodes\": 0,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableAutoScale\": false,\r\n  \"enableInterNodeCommunication\": false,\r\n  \"taskSlotsPerNode\": 1,\r\n  \"taskSchedulingPolicy\": {\r\n    \"nodeFillType\": \"Spread\"\r\n  },\r\n  \"virtualMachineConfiguration\": {\r\n    \"imageReference\": {\r\n      \"publisher\": \"canonical\",\r\n      \"offer\": \"0001-com-ubuntu-server-focal\",\r\n      \"sku\": \"20_04-lts\",\r\n      \"version\": \"latest\"\r\n    },\r\n    \"nodeAgentSKUId\": \"batch.node.ubuntu 20.04\",\r\n    \"nodePlacementConfiguration\": {\r\n      \"policy\": \"Zonal\"\r\n    }\r\n  },\r\n  \"targetNodeCommunicationMode\": \"default\",\r\n  \"currentNodeCommunicationMode\": \"classic\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/testPool2?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 22 Mar 2024 20:44:14 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "0x8DC4AAF59354BB8"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
 [...]
    {
      "RequestUri": "/jobschedules?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 22 Mar 2024 20:44:21 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"id\": \"jobSchedule1\",\r\n  \"schedule\": {},\r\n  \"jobSpecification\": {\r\n    \"poolInfo\": {\r\n      \"poolId\": \"testPool\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "0x8DC4AB0DAAE2EC4"
        ],
        "Location": [
          "https://billstestba24326.uksouth.batch.azure.com/jobschedules/jobSchedule1"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://billstestba24326.uksouth.batch.azure.com/jobschedules/jobSchedule1"
        ],
        "Last-Modified": [
          "Fri, 22 Mar 2024 20:44:22 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobschedules?api-version=2024-02-01.19.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 22 Mar 2024 20:44:22 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"id\": \"jobSchedule2\",\r\n  \"schedule\": {\r\n    \"doNotRunUntil\": \"2024-12-01T12:30:00Z\"\r\n  },\r\n  \"jobSpecification\": {\r\n    \"poolInfo\": {\r\n      \"poolId\": \"testPool2\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "0x8DC4AB0DAC9F448"
        ],
        "Location": [
          "https://billstestba24326.uksouth.batch.azure.com/jobschedules/jobSchedule2"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://billstestba24326.uksouth.batch.azure.com/jobschedules/jobSchedule2"
        ],
        "Last-Modified": [
          "Fri, 22 Mar 2024 20:44:22 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobschedules?api-version=2024-02-01.19.0&$filter=id%20eq%20%27jobSchedule1%27%20or%20id%20eq%20%27jobSchedule2%27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 22 Mar 2024 20:44:22 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://billstestba24326.uksouth.batch.azure.com/$metadata#jobschedules\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"jobSchedule1\",\r\n      \"url\": \"https://billstestba24326.uksouth.batch.azure.com/jobschedules/jobSchedule1\",\r\n      \"eTag\": \"0x8DC4AB0DAAE2EC4\",\r\n      \"lastModified\": \"2024-03-22T20:44:22.3315652Z\",\r\n      \"creationTime\": \"2024-03-22T20:44:22.3315652Z\",\r\n      \"state\": \"active\",\r\n      \"stateTransitionTime\": \"2024-03-22T20:44:22.3315652Z\",\r\n      \"jobSpecification\": {\r\n        \"priority\": 0,\r\n        \"maxParallelTasks\": -1,\r\n        \"allowTaskPreemption\": false,\r\n        \"usesTaskDependencies\": false,\r\n        \"onAllTasksComplete\": \"noaction\",\r\n        \"onTaskFailure\": \"noaction\",\r\n        \"constraints\": {\r\n          \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n          \"maxTaskRetryCount\": 0\r\n        },\r\n        \"poolInfo\": {\r\n          \"poolId\": \"testPool\"\r\n        }\r\n      },\r\n      \"executionInfo\": {\r\n        \"recentJob\": {\r\n          \"url\": \"https://billstestba24326.uksouth.batch.azure.com/jobs/jobSchedule1:job-1\",\r\n          \"id\": \"jobSchedule1:job-1\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"jobSchedule2\",\r\n      \"url\": \"https://billstestba24326.uksouth.batch.azure.com/jobschedules/jobSchedule2\",\r\n      \"eTag\": \"0x8DC4AB0DAC9F448\",\r\n      \"lastModified\": \"2024-03-22T20:44:22.5135688Z\",\r\n      \"creationTime\": \"2024-03-22T20:44:22.5135688Z\",\r\n      \"state\": \"active\",\r\n      \"stateTransitionTime\": \"2024-03-22T20:44:22.5135688Z\",\r\n      \"schedule\": {\r\n        \"doNotRunUntil\": \"2024-12-01T12:30:00Z\"\r\n      },\r\n      \"jobSpecification\": {\r\n        \"priority\": 0,\r\n        \"maxParallelTasks\": -1,\r\n        \"allowTaskPreemption\": false,\r\n        \"usesTaskDependencies\": false,\r\n        \"onAllTasksComplete\": \"noaction\",\r\n        \"onTaskFailure\": \"noaction\",\r\n        \"constraints\": {\r\n          \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n          \"maxTaskRetryCount\": 0\r\n        },\r\n        \"poolInfo\": {\r\n          \"poolId\": \"testPool2\"\r\n        }\r\n      },\r\n      \"executionInfo\": {\r\n        \"nextRunTime\": \"2024-12-01T12:30:00Z\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobschedules/jobSchedule2?api-version=2024-02-01.19.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 22 Mar 2024 20:44:22 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"schedule\": {\r\n    \"doNotRunUntil\": \"2025-01-01T12:30:00Z\"\r\n  },\r\n  \"jobSpecification\": {\r\n    \"priority\": 0,\r\n    \"allowTaskPreemption\": false,\r\n    \"maxParallelTasks\": -1,\r\n    \"usesTaskDependencies\": false,\r\n    \"onAllTasksComplete\": \"noaction\",\r\n    \"onTaskFailure\": \"noaction\",\r\n    \"constraints\": {\r\n      \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n      \"maxTaskRetryCount\": 0\r\n    },\r\n    \"poolInfo\": {\r\n      \"poolId\": \"testPool2\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "0x8DC4AB0DB160EF8"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://billstestba24326.uksouth.batch.azure.com/jobschedules/jobSchedule2"
        ],
        "Last-Modified": [
          "Fri, 22 Mar 2024 20:44:23 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobschedules?api-version=2024-02-01.19.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 22 Mar 2024 20:44:23 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://billstestba24326.uksouth.batch.azure.com/$metadata#jobschedules\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"jobSchedule1\",\r\n      \"url\": \"https://billstestba24326.uksouth.batch.azure.com/jobschedules/jobSchedule1\",\r\n      \"eTag\": \"0x8DC4AB0DAAE2EC4\",\r\n      \"lastModified\": \"2024-03-22T20:44:22.3315652Z\",\r\n      \"creationTime\": \"2024-03-22T20:44:22.3315652Z\",\r\n      \"state\": \"deleting\",\r\n      \"stateTransitionTime\": \"2024-03-22T20:44:23.4768391Z\",\r\n      \"previousState\": \"active\",\r\n      \"previousStateTransitionTime\": \"2024-03-22T20:44:22.3315652Z\",\r\n      \"jobSpecification\": {\r\n        \"priority\": 0,\r\n        \"maxParallelTasks\": -1,\r\n        \"allowTaskPreemption\": false,\r\n        \"usesTaskDependencies\": false,\r\n        \"onAllTasksComplete\": \"noaction\",\r\n        \"onTaskFailure\": \"noaction\",\r\n        \"constraints\": {\r\n          \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n          \"maxTaskRetryCount\": 0\r\n        },\r\n        \"poolInfo\": {\r\n        [...]
[...]
    {
      "RequestUri": "/pools/testPool2?api-version=2024-02-01.19.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 22 Mar 2024 20:44:23 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "6602ac9a-5dad-41bd-a792-592c704b6a31",
    "AZURE_BATCH_ACCOUNT": "billstestba24326",
    "AZURE_BATCH_ENDPOINT": "https://billstestba24326.uksouth.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "automation"
  }
}