{
  "Entries": [
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices?resourceType=AutomationAccount&detailLevel=Full&resourceProviderNamespace=automation",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "<CloudServices xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <CloudService>\r\n    <Name>OaaSCSZV2MEWJSFZEUBUOS6RFER33W6CF6HZFLIHTKWAXRNBGWIHNJEUXQ-East-US</Name>\r\n    <Label>OaaSCSZV2MEWJSFZEUBUOS6RFER33W6CF6HZFLIHTKWAXRNBGWIHNJEUXQ-East-US</Label>\r\n    <Description>OaaSCSZV2MEWJSFZEUBUOS6RFER33W6CF6HZFLIHTKWAXRNBGWIHNJEUXQ-East-US in East US</Description>\r\n    <GeoRegion>East US</GeoRegion>\r\n    <Resources>\r\n      <Resource>\r\n        <ResourceProviderNamespace>automation</ResourceProviderNamespace>\r\n        <Type>AutomationAccount</Type>\r\n        <Name>Automation509</Name>\r\n        <Plan>Preview</Plan>\r\n        <SchemaVersion>1.1</SchemaVersion>\r\n        <ETag>c1251ced-1d0f-4cd8-9a9d-2b452f4283d2</ETag>\r\n        <State>Started</State>\r\n        <SubState />\r\n        <OperationStatus>\r\n          <Type>Create</Type>\r\n          <Result>Succeeded</Result>\r\n        </OperationStatus>\r\n        <Label />\r\n      </Resource>\r\n      <Resource>\r\n        <ResourceProviderNamespace>automation</ResourceProviderNamespace>\r\n        <Type>AutomationAccount</Type>\r\n        <Name>elvgAccount</Name>\r\n        <Plan>Preview</Plan>\r\n        <SchemaVersion>1.1</SchemaVersion>\r\n        <ETag>5692ec51-f3da-4795-a2a4-602c5919b91f</ETag>\r\n        <State>Started</State>\r\n        <SubState />\r\n        <OperationStatus>\r\n     [...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/Runbooks?$expand=Schedules&api-version=2014-03-13_Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://oaas.azure-automation.net/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/~/Accounts/AutomationAccount/$metadata#Runbooks\",\r\n  \"value\": [\r\n    {\r\n      \"Schedules\": [\r\n        {\r\n          \"odata.type\": \"AutomationApi.V2014_03_13.OneTimeSchedule\",\r\n          \"ScheduleID\": \"837eaad3-2043-4a2d-995d-bea247ab8378\",\r\n          \"AccountID\": \"18bcf3ce-b68c-462e-b640-c8386d43d30c\",\r\n          \"Name\": \"s01\",\r\n          \"Description\": null,\r\n          \"StartTime\": \"2014-04-30T06:30:00\",\r\n          \"ExpiryTime\": \"2014-04-30T06:30:00\",\r\n          \"CreationTime\": \"2014-04-29T00:00:34.637\",\r\n          \"LastModifiedTime\": \"2014-04-29T00:00:34.637\",\r\n          \"IsEnabled\": true,\r\n          \"NextRun\": null\r\n        }\r\n      ],\r\n      \"#OrchestratorApi.Publish\": {},\r\n      \"#OrchestratorApi.Edit\": {},\r\n      \"AccountID\": \"18bcf3ce-b68c-462e-b640-c8386d43d30c\",\r\n      \"RunbookID\": \"17c9a137-d057-459d-bde3-68a5da1ff9b0\",\r\n      \"RunbookName\": \"myrunbook3\",\r\n      \"CreationTime\": \"2014-04-24T23:44:33\",\r\n      \"LastModifiedTime\": \"2014-04-24T23:44:57.683\",\r\n      \"LastModifiedBy\": \"oaastest@live.com\",\r\n      \"Description\": null,\r\n      \"IsApiOnly\": false,\r\n      \"IsGlobal\": false,\r\n      \"PublishedRunbookVersionID\": \"3f4a63e6-8ee2-4a0e-8d1c-9088af655a8b\",\r\n      \"DraftRunbookVersionID\": \"c465d82a-bf38-4cb2-98b9-510485641f3f\",\r\n      \"Tags\": null,\r\n      \"LogDebug\": false,\r\n      \"LogVerbose\": false,\r\n      \"LogProgress\": false\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "DataServiceVersion": [
          "3.0;"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/RunbookVersions?api-version=2014-03-13_Preview",
      "RequestMethod": "POST",
      "RequestBody": "workflow Use-WorkflowCheckpointSample\r\n{\r\n    Write-Output \"Before Checkpoint.\"\r\n    start-sleep -s 20\r\n\t\r\n    # A checkpoint is created.\r\n    Checkpoint-Workflow\r\n\r\n    # This line occurs after the checkpoint. The runbook will start here on resume.\r\n    Write-Output \"After Checkpoint.\"\r\n}",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://oaas.azure-automation.net/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/~/Accounts/AutomationAccount/$metadata#RunbookVersions/@Element\",\r\n  \"odata.mediaReadLink\": \"RunbookVersions(guid'ee6d2d19-a2be-494b-ab88-b8425b74fda2')/$value\",\r\n  \"odata.mediaContentType\": \"application/octet-stream\",\r\n  \"odata.mediaETag\": \"\\\"635375017454000000\\\"\",\r\n  \"AccountID\": \"18bcf3ce-b68c-462e-b640-c8386d43d30c\",\r\n  \"RunbookVersionID\": \"ee6d2d19-a2be-494b-ab88-b8425b74fda2\",\r\n  \"RunbookID\": \"00000000-0000-0000-0000-000000000000\",\r\n  \"VersionNumber\": 0,\r\n  \"IsDraft\": false,\r\n  \"CreationTime\": \"0001-01-01T00:00:00\",\r\n  \"LastModifiedTime\": \"0001-01-01T00:00:00\"\r\n}",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-location": [
          "https://oaas.azure-automation.net/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/~/Accounts/AutomationAccount/RunbookVersions(guid'ee6d2d19-a2be-494b-ab88-b8425b74fda2')"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/RunbookVersions(guid'ee6d2d19-a2be-494b-ab88-b8425b74fda2')?api-version=2014-03-13_Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      }[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/Runbooks(guid'9f5bd4ad-86e4-46fb-a56d-ecff4a8d0df4')?$expand=Schedules&api-version=2014-03-13_Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
      [...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/Runbooks(guid'9f5bd4ad-86e4-46fb-a56d-ecff4a8d0df4')?api-version=2014-03-13_Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      },
     [...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/Runbooks(guid'9f5bd4ad-86e4-46fb-a56d-ecff4a8d0df4')/Publish?api-version=2014-03-13_Preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-automation-client-request-user-identity": [
          "PowerShell"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://oaas.azure-automation.net/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/~/Accounts/AutomationAccount/$metadata#Edm.Guid\",\r\n  \"value\": \"eb6bef00-9829-447f-a780-d972c6e4b541\"\r\n}",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "DataServiceVersion": [
          "3.0;"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/RunbookParameters?$filter=RunbookVersionID%20eq%20guid'eb6bef00-9829-447f-a780-d972c6e4b541'&api-version=2014-03-13_Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://oaas.azure-automation.net/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/~/Accounts/AutomationAccount/$metadata#RunbookParameters\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "DataServiceVersion": [
          "3.0;"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/Runbooks(guid'9f5bd4ad-86e4-46fb-a56d-ecff4a8d0df4')/Start?api-version=2014-03-13_Preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"parameters\": [\r\n    {\r\n      \"Name\": \"MicrosoftApplicationManagementStartedBy\",\r\n      \"Value\": \"PowerShell\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://oaas.azure-automation.net/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/~/Accounts/AutomationAccount/$metadata#Edm.Guid\",\r\n  \"value\": \"71723a0e-bdda-4857-a7fe-0b8112fd89df\"\r\n}",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "DataServiceVersion": [
          "3.0;"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/Jobs(guid'71723a0e-bdda-4857-a7fe-0b8112fd89df')?$expand=JobContext/RunbookVersion/Runbook,JobContext/Schedule,JobContext/JobParameters&$select=JobID,JobContextID,AccountID,JobStatus,JobStatusDetails,StartTime,EndTime,CreationTime,LastModifiedTime,LastStatusModifiedTime,JobException,JobContext/RunbookVersion/Runbook/RunbookID,JobContext/RunbookVersion/Runbook/Ru[...]
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/Jobs(guid'71723a0e-bdda-4857-a7fe-0b8112fd89df')/Suspend?api-version=2014-03-13_Preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "DataServiceVersion": [
          "3.0;"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/Jobs(guid'71723a0e-bdda-4857-a7fe-0b8112fd89df')/Resume?api-version=2014-03-13_Preview",
      "RequestMethod": "POST",
      "RequestBody": "{}",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "DataServiceVersion": [
          "3.0;"
        ]
      },
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/automation/~/Accounts/AutomationAccount/Runbooks?$filter=RunbookName%20eq%20'Use-WorkflowCheckpointSample'&$expand=Schedules&api-version=2014-03-13_Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "MaxDataServiceVersion": [
          "3.0"
        ],
        "MinDataServiceVersion": [
          "3.0"
        ],
        "x-ms-version": [
          "2013-06-01"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://oaas.azure-automation.net/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/cloudservices/OaaSCS/resources/~/Accounts/AutomationAccount/$metadata#Runbooks\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth2"
        ],
        "DataServiceVersion": [
          "3.0;"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}