{
  "Get-AzSelfHelpDiscoverySolution+[NoContext]+List+$GET+https://management.azure.com//subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourcegroups/qvop21digl/providers/Microsoft.Storage/storageAccounts/teststorageforselfhelp/providers/Microsoft.Help/discoverySolutions?api-version=2023-09-01-preview\u0026$filter=ProblemClassificationId eq \u0027a5db90c3-f147-bce6-83b0-ab5e0aeca1f0\u0027+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com//subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourcegroups/qvop21digl/providers/Microsoft.Storage/storageAccounts/teststorageforselfhelp/providers/Microsoft.Help/discoverySolutions?api-version=2023-09-01-preview\u0026$filter=ProblemClassificationId%20eq%20\u0027a5db90c3-f147-bce6-83b0-ab5e0aeca1f0\u0027",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourcegroups/qvop21digl/providers/Microsoft.Storage/storageAccounts/teststorageforselfhelp/providers/Microsoft.Help/discoverySolutions/a5db90c3-f147-bce6-83b0-ab5e0aeca1f0\",\"name\":\"a5db90c3-f147-bce6-83b0-ab5e0aeca1f0\",\"type\":\"Microsoft.Help/discoverySolutions\",\"properties\":{\"solutions\":[{\"solutionId\":\"apollo-storage-blob-archiving\",\"solutionType\":\"Solutions\",\"description\":\"Řešení potíží s přesunem dat do archivní úrovně\"},{\"solutionId\":\"StorageAccountTierInsight\",\"solutionType\":\"Diagnostics\",\"description\":\"Diagnostic to show which tiers a storage account supports for.\",\"requiredInputs\":[\"SapId\",\"ResourceUri\"]}]}}]}",
    }
  }
}