{
  "Get-AzSelfHelpDiscoverySolution+[NoContext]+List+$GET+https://management.azure.com//subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourcegroups/kdvfm9coi3/providers/Microsoft.Storage/storageAccounts/teststorageforselfhelp/providers/Microsoft.Help/discoverySolutions?api-version=2023-01-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com//subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourcegroups/kdvfm9coi3/providers/Microsoft.Storage/storageAccounts/teststorageforselfhelp/providers/Microsoft.Help/discoverySolutions?api-version=2023-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": ["3"],
        "Authorization": ["[Filtered]"]
      },
      "ContentHeaders": {}
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": ["11999"]
      },
      "ContentHeaders": {
        "Content-Type": ["application/json"]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourceGroups/akshayk-test-resource/providers/Microsoft.KeyVault/vaults/akshayazml8955026135/providers/Microsoft.Help/discoverySolutions/KeyVaultSoftDeleteNotEnabledInsight\",\"name\":\"KeyVaultSoftDeleteNotEnabledInsight\",\"type\":\"Microsoft.Help/discoverySolutions\",\"properties\":{\"solutionId\":\"KeyVaultSoftDeleteNotEnabledInsight\",\"solutionType\":\"Diagnostics\",\"description\":\"Checks a vault's soft delete enabled setting.\",\"requiredParameterSets\":[[\"ResourceUri\"]]}},{\"id\":\"/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourceGroups/akshayk-test-resource/providers/Microsoft.KeyVault/vaults/akshayazml8955026135/providers/Microsoft.Help/discoverySolutions/KeyVaultThrottlingData\",\"name\":\"KeyVaultThrottlingData\",\"type\":\"Microsoft.Help/discoverySolutions\",\"properties\":{\"solutionId\":\"KeyVaultThrottlingData\",\"solutionType\":\"Diagnostics\",\"description\":\"Checks a vault's throttling status.\",\"requiredParameterSets[...]
