{
  "New-AzSelfHelpDiagnostic+[NoContext]+CreateExpanded+$PUT+https://management.azure.com//subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourcegroups/kdvfm9coi3/providers/Microsoft.Storage/storageAccounts/teststorageforselfhelp/providers/Microsoft.Help/diagnostics/ifpmdtra3y?api-version=2023-01-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com//subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourcegroups/kdvfm9coi3/providers/Microsoft.Storage/storageAccounts/teststorageforselfhelp/providers/Microsoft.Help/diagnostics/ifpmdtra3y?api-version=2023-01-01-preview",
      "Content": "{\r\n  \"properties\": {\r\n    \"insights\": [\r\n      {\r\n        \"solutionId\": \"Demo2InsightV2\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/providers/Microsoft.Help/Diagnostics/ifpmdtra3y/operationResults/c624cc0f-25ab-4af7-929a-d2b0ddb2b1d3?api-version=2023-01-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "72" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/providers/Microsoft.Help/Diagnostics/ifpmdtra3y/operationResults/c624cc0f-25ab-4af7-929a-d2b0ddb2b1d3?api-version=2023-01-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourcegroups/kdvfm9coi3/providers/Microsoft.Storage/storageAccounts/teststorageforselfhelp/providers/Microsoft.Help/diagnostics/ifpmdtra3y\",\"name\":\"ifpmdtra3y\",\"type\":\"Microsoft.Help/Diagnostics\",\"properties\":{\"provisioningState\":\"Running\",\"acceptedAt\":\"2023-05-10T23:35:24.5425763Z\"}}",
    }
  }
}