{
  "Update-AzSelfHelpSolution+[NoContext]+UpdateExpanded+$PUT+https://management.azure.com//subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourcegroups/qvop21digl/providers/Microsoft.Storage/storageAccounts/teststorageforselfhelp/providers/Microsoft.Help/solutions/v1xaou4cbm?api-version=2023-09-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com//subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourcegroups/qvop21digl/providers/Microsoft.Storage/storageAccounts/teststorageforselfhelp/providers/Microsoft.Help/solutions/v1xaou4cbm?api-version=2023-09-01-preview",
      "Content": "{\r\n  \"properties\": {\r\n    \"triggerCriteria\": [\r\n      {\r\n        \"name\": \"SolutionId\",\r\n        \"value\": \"keyvault-lostdeletedkeys-apollo-solution\"\r\n      }\r\n    ],\r\n    \"parameters\": {\r\n      \"vault_name\": \"DemoKeyvault\",\r\n      \"SearchText\": \"Can not RDP\"\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/providers/Microsoft.Help/Solutions/v1xaou4cbm/operationResults/0026e2b9-c85e-4557-bd25-bf982f3a1ac7?api-version=2023-09-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "497" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/providers/Microsoft.Help/Solutions/v1xaou4cbm/operationResults/0026e2b9-c85e-4557-bd25-bf982f3a1ac7?api-version=2023-09-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/6bded6d5-a6af-43e1-96d3-bf71f6f5f8ba/resourcegroups/qvop21digl/providers/Microsoft.Storage/storageAccounts/teststorageforselfhelp/providers/Microsoft.Help/solutions/v1xaou4cbm\",\"name\":\"v1xaou4cbm\",\"type\":\"Microsoft.Help/Solutions\",\"properties\":{\"title\":\"lost or deleted keys and secrets in key vault\",\"content\":\"\u003ch2\u003eResolve issues with soft delete and purge protection in Azure Key Vault\u003c/h2\u003e\\n\u003cp\u003eKey Vault\u0027s soft-delete feature allows recovery of deleted vaults and key vault objects, for example, keys, secrets, and certificates.\u003c/p\u003e\\n\u003cp\u003eThis safeguard offers the following protections:\u003c/p\u003e\\n\u003cul\u003e\\n\u003cli\u003eOnce a secret, key, certificate, or key vault is deleted, it will remain recoverable for a configurable period of 7 t[...]
