{
  "Get-AzConfluentConnector+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/209ad589-cefc-4b2b-8eca-a12d726494a4/resourceGroups/LiftrConfluent_IT/providers/Microsoft.Confluent/organizations/australiaeast-resource-name/environments/env-n5zmkv/clusters/lkc-1126wj/connectors/testConnSrc-y07jl4?api-version=2025-08-18-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/209ad589-cefc-4b2b-8eca-a12d726494a4/resourceGroups/LiftrConfluent_IT/providers/Microsoft.Confluent/organizations/australiaeast-resource-name/environments/env-n5zmkv/clusters/lkc-1126wj/connectors/testConnSrc-y07jl4?api-version=2025-08-18-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 500,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "49db6fe2-bf0b-4bca-80d5-8e6864cd68b1" ],
        "x-ms-failure-cause": [ "service" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"error\":{\"code\":\"RP Internal Server Error\",\"message\":\"Error occured while getting connector Resource with name testConnSrc-y07jl4. Please Verify the entered resource details or try again!!\"}}",
    }
  }
}