{
  "Remove-AzConfluentOrganization+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/24ef61d8-5946-424d-9071-836a721d6a43/resourceGroups/confluentorg-rg-dcn09p/providers/Microsoft.Confluent/organizations/confluentorg-godiy8?api-version=2020-03-01+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/24ef61d8-5946-424d-9071-836a721d6a43/resourceGroups/confluentorg-rg-dcn09p/providers/Microsoft.Confluent/organizations/confluentorg-godiy8?api-version=2020-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "ETag": [ "\"0000d70f-0000-3400-0000-6034abbf0000\"" ],
        "Location": [ "https://management.azure.com/providers/Microsoft.Confluent/locations/EASTUS2EUAP/operationStatuses/1e14ea97-d9ad-402e-a814-91499c9a32b0?api-version=2020-03-01" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "bnVsbA==",
    }
  },
  "Remove-AzConfluentOrganization+[NoContext]+Delete+$GET+https://management.azure.com/providers/Microsoft.Confluent/locations/EASTUS2EUAP/operationStatuses/1e14ea97-d9ad-402e-a814-91499c9a32b0?api-version=2020-03-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Confluent/locations/EASTUS2EUAP/operationStatuses/1e14ea97-d9ad-402e-a814-91499c9a32b0?api-version=2020-03-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"00009d01-0000-3400-0000-6034abc00000\"" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11994" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.Confluent/locations/EASTUS2EUAP/operationStatuses/1e14ea97-d9ad-402e-a814-91499c9a32b0\",\"name\":\"1e14ea97-d9ad-402e-a814-91499c9a32b0\",\"resourceId\":\"/subscriptions/24ef61d8-5946-424d-9071-836a721d6a43/resourceGroups/confluentorg-rg-dcn09p/providers/Microsoft.Confluent/organizations/confluentorg-godiy8\",\"status\":\"Succeeded\",\"startTime\":\"2021-02-23T07:16:15.7409286Z\",\"endTime\":\"2021-02-23T07:16:16.1903653Z\",\"error\":{},\"properties\":null}",
    }
  },
  "Remove-AzConfluentOrganization+[NoContext]+Delete+$GET+https://management.azure.com/providers/Microsoft.Confluent/locations/EASTUS2EUAP/operationStatuses/1e14ea97-d9ad-402e-a814-91499c9a32b0?api-version=2020-03-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Confluent/locations/EASTUS2EUAP/operationStatuses/1e14ea97-d9ad-402e-a814-91499c9a32b0?api-version=2020-03-01",
      "Content": null,
      "Header[...]
