{
  "Update-AzConfluentOrganization+[NoContext]+UpdateExpanded+$PATCH+https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000001/resourceGroups/confluentorg-rg-fwh8oe/providers/Microsoft.Confluent/organizations/confluentorg-63y1vz?api-version=2025-08-18-preview+1": {
    "Response": {
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "Content": "{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000001/resourceGroups/confluentorg-rg-fwh8oe/providers/Microsoft.Confluent/organizations/confluentorg-63y1vz\",\"name\":\"confluentorg-63y1vz\",\"type\":\"microsoft.confluent/organizations\",\"location\":\"eastus2euap\",\"tags\":{\"key03\":\"value03\",\"key02\":\"value02\",\"key01\":\"value01\"},\"properties\":{\"createdTime\":\"0001-01-01T00:00:00Z\",\"provisioningState\":\"Succeeded\",\"offerDetail\":{\"publisherId\":\"confluentinc\",\"id\":\"confluent-cloud-azure-stag\",\"planId\":\"confluent-cloud-azure-payg-stag\",\"planName\":\"Confluent Cloud - Pay as you Go\",\"termUnit\":\"P1M\",\"termId\":\"gmz7xq9ge3py\",\"status\":\"Started\"},\"userDetail\":{\"firstName\":\"Test\",\"lastName\":\"User\",\"emailAddress\":\"user4@example.com\",\"userPrincipalName\":\"user4@example.com\"},\"organizationId\":\"aaaabbbb-cccc-dddd-eeee-ffffffffffff\",\"ssoUrl\":\"https://example.confluent.io/login/sso/aaaabbbb\"}}",
      "StatusCode": 200,
    },
    "Request": {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000001/resourceGroups/confluentorg-rg-fwh8oe/providers/Microsoft.Confluent/organizations/confluentorg-63y1vz?api-version=2025-08-18-preview",
      "Content": "{\"tags\":{\"key01\":\"value01\",\"key02\":\"value02\",\"key03\":\"value03\"}}",
      "ContentHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "Method": "PATCH",
      "Headers": {
        "x-ms-unique-id": [
          "1"
        ],
        "Authorization": [
          "[Filtered]"
        ]
      }
    }
  },
  "Update-AzConfluentOrganization+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000001/resourceGroups/confluentorg-rg-fwh8oe/providers/Microsoft.Confluent/organizations/confluentorg-63y1vz?api-version=2025-08-18-preview+2": {
    "Response": {
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },[...]
