{
  "Get-AzAutomanageBestPractice+[NoContext]+List+$GET+https://management.azure.com/providers/Microsoft.Automanage/bestPractices?api-version=2022-05-04+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Automanage/bestPractices?api-version=2022-05-04",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-reads": [ "2199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/providers/Microsoft.Automanage/bestPractices/AzureBestPracticesProduction\",\"name\":\"AzureBestPracticesProduction\",\"type\":\"Microsoft.Automanage/bestPractices\",\"properties\":{\"configuration\":{\"Antimalware/Enable\":true,\"Antimalware/EnableRealTimeProtection\":true,\"Antimalware/RunScheduledScan\":true,\"Antimalware/ScanType\":\"Quick\",\"Antimalware/ScanDay\":\"7\",\"Antimalware/ScanTimeInMinutes\":\"120\",\"Backup/Enable\":true,\"Backup/PolicyName\":\"dailyBackupPolicy\",\"Backup/TimeZone\":\"UTC\",\"Backup/InstantRpRetentionRangeInDays\":\"2\",\"Backup/SchedulePolicy/ScheduleRunFrequency\":\"Daily\",\"Backup/SchedulePolicy/ScheduleRunTimes\":[\"2017-01-26T00:00:00Z\"],\"Backup/Sc[...]
