{
  "Get-AzPrivateTrafficManagerProfile+[NoContext]+Get - should retrieve a specific profile by name+$GET+https://management.azure.com/subscriptions/ba703c80-5928-4cad-9c62-c80651689acd/resourceGroups/ptm-test-rg-70ad8z/providers/Microsoft.Network/privateTrafficManagerProfiles/ptm-profile-70ad8z?api-version=2026-02-09-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://brazilus.management.azure.com/subscriptions/ba703c80-5928-4cad-9c62-c80651689acd/resourceGroups/ptm-test-rg-70ad8z/providers/Microsoft.Network/privateTrafficManagerProfiles/ptm-profile-70ad8z?api-version=2026-02-09-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "36" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-throttling-version": [ "v1" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "1099" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"customTopologyMapMode\":\"Disabled\",\"dnsConfig\":{\"recordType\":\"CNAME\",\"ttl\":60},\"profileStatus\":\"Enabled\",\"trafficRoutingMethod\":\"weighted\",\"endpoints\":[{\"name\":\"ptm-ep-70ad8z\",\"target\":\"app1.contoso.internal\",\"monitoringTarget\":\"app1.contoso.internal\",\"endpointStatus\":\"Enabled\",\"weight\":50,\"priority\":1,\"alwaysServe\":\"Disabled\"},{\"name\":\"ptm-ep-del-70ad8z\",\"target\":\"app2.contoso.internal\",\"monitoringTarget\":\"app2.contoso.internal\",\"endpointStatus\":\"Enabled\",\"weight\":50,\"priority\":2,\"alwaysServe\":\"Disabled\"}],\"provisioningState\":\"Succeeded\"},\"location\":\"global\",\"tags\":{},\"id\":\"/subscriptions/ba703c80-5928-4cad-9c62-c80651689acd/resourceGroups/ptm-test-rg-70ad8z/providers/Microsoft.Network/PrivateTrafficManagerProfiles/ptm-profile-70ad8z\",\"name\":\"ptm-profile-70ad8z\",\"type\":\"Microsoft.Network/PrivateTrafficManagerProfiles\"}",
    }
  },
  "Get-AzPrivateTrafficManagerProfile+[NoContext]+List - should list profiles in a resource group+$GET+https://management.azure.com/subscriptions/ba703c80-5928-4cad-9c62-c80651689acd/resourceGroups/ptm-test-rg-70ad8z/providers/Microsoft.Network/privateTrafficManagerProfiles?api-version=2026-02-09-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://brazilus.management.azure.com/subscriptions/ba703c80-5928-4cad-9c62-c80651689acd/resourceGroups/ptm-test-rg-70ad8z/providers/Microsoft.Network/privateTrafficManagerProfiles?api-version=2026-02-09-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "37" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "" ],
        "x-ms-throttling-version": [ "v1" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "1098" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"customTopologyMapMode\":\"Disabled\",\"dnsConfig\":{\"recordType\":\"CNAME\",\"ttl\":60},\"profileStatus\":\"Enabled\",\"trafficRoutingMethod\":\"weighted\",\"endpoints\":[{\"name\":\"ptm-ep-70ad8z\",\"target\":\"app1.contoso.internal\",\"monitoringTarget\":\"app1.contoso.internal\",\"endpointStatus\":\"Enabled\",\"weight\":50,\"priority\":1,\"alwaysServe\":\"Disabled\"},{\"name\":\"ptm-ep-del-70ad8z\",\"target\":\"app2.contoso.internal\",\"monitoringTarget\":\"app2.contoso.i[...]
