{
  "New-AzPrivateTrafficManagerHealthPolicy+[NoContext]+CreateViaJsonString - should create a new health policy+$PUT+https://management.azure.com/subscriptions/ba703c80-5928-4cad-9c62-c80651689acd/resourceGroups/ptm-test-rg-70ad8z/providers/Microsoft.Network/privateTrafficManagerProfiles/ptm-profile-70ad8z/healthPolicies/ptm-hp-new-70ad8z?api-version=2026-02-09-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/ba703c80-5928-4cad-9c62-c80651689acd/resourceGroups/ptm-test-rg-70ad8z/providers/Microsoft.Network/privateTrafficManagerProfiles/ptm-profile-70ad8z/healthPolicies/ptm-hp-new-70ad8z?api-version=2026-02-09-preview",
      "Content": "{\r\n  \"kind\": \"Probe\",\r\n  \"properties\": {\r\n    \"name\": \"ptm-hp-new-70ad8z\",\r\n    \"probeConfig\": {\r\n      \"path\": \"/status\",\r\n      \"timeoutInSeconds\": 10,\r\n      \"port\": 8443,\r\n      \"protocol\": \"HTTPS\",\r\n      \"intervalInSeconds\": 30,\r\n      \"toleratedNumberOfFailures\": 3\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "x-ms-throttling-version": [ "v1" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "799" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"kind\":\"Probe\",\"properties\":{\"probeConfig\":{\"protocol\":\"HTTPS\",\"port\":8443,\"path\":\"/status\",\"intervalInSeconds\":30,\"timeoutInSeconds\":10,\"toleratedNumberOfFailures\":3}},\"id\":\"/subscriptions/ba703c80-5928-4cad-9c62-c80651689acd/resourceGroups/ptm-test-rg-70ad8z/providers/Microsoft.Network/PrivateTrafficManagerProfiles/ptm-profile-70ad8z/healthPolicies/ptm-hp-new-70ad8z\",\"name\":\"ptm-hp-new-70ad8z\",\"type\":\"Microsoft.Network/PrivateTrafficManagerProfiles/healthPolicies\"}",
    }
  },
  "New-AzPrivateTrafficManagerHealthPolicy+[NoContext]+CreateViaJsonString - should create a new health policy+$GET+https://management.azure.com/subscriptions/ba703c80-5928-4cad-9c62-c80651689acd/resourceGroups/ptm-test-rg-70ad8z/providers/Microsoft.Network/privateTrafficManagerProfiles/ptm-profile-70ad8z/healthPolicies/ptm-hp-new-70ad8z?api-version=2026-02-09-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://brazilus.management.azure.com/subscriptions/ba703c80-5928-4cad-9c62-c80651689acd/resourceGroups/ptm-test-rg-70ad8z/providers/Microsoft.Network/privateTrafficManagerProfiles/ptm-profile-70ad8z/healthPolicies/ptm-hp-new-70ad8z?api-version=2026-02-09-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "47" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-throttling-version": [ "v1" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "1099" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"kind\":\"Probe\",\"properties\":{\"probeConfig\":{\"protocol\":\"HTTPS\",\"port\":8443,\"path\":\"/status\",\"intervalInSeconds\[...]
