{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/MSI-GLStandard_A1/providers/Microsoft.Compute/virtualMachines/MSI-22122/providers/Microsoft.Security/adaptiveNetworkHardenings?api-version=2020-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"rules\": [\r\n          {\r\n            \"name\": \"SystemGenerated\",\r\n            \"direction\": \"Inbound\",\r\n            \"destinationPort\": 3389,\r\n            \"protocols\": [\r\n              \"TCP\"\r\n            ],\r\n            \"ipAddresses\": []\r\n          }\r\n        ],\r\n        \"effectiveNetworkSecurityGroups\": [\r\n          {\r\n            \"networkInterface\": \"/subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/MSI-GLStandard_A1/providers/Microsoft.Network/networkInterfaces/MSI-1154330049\",\r\n            \"networkSecurityGroups\": [\r\n              \"/subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/MSI-GLStandard_A1/providers/Microsoft.Network/networkSecurityGroups/MSI-GLStandard_A1NSG\"\r\n            ]\r\n          }\r\n        ],\r\n        \"rulesCalculationTime\": \"2020-06-30T19:10:56.4047067Z\"\r\n      },\r\n      \"name\": \"default\",\r\n      \"type\": \"Microsoft.Security/adaptiveNetworkHardenings\",\r\n      \"id\": \"/subscriptions/3eeab341-f466-499c-a8be-85427e154baf/resourceGroups/MSI-GLStandard_A1/providers/Microsoft.Compute/virtualMachines/MSI-22122/providers/Microsoft.Security/adaptiveNetworkHardenings/default\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "3eeab341-f466-499c-a8be-85427e154baf"
  }
}