{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourcegroups/test-delete-pool?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/test-delete-pool\",\r\n  \"name\": \"test-delete-pool\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/test-delete-pool/providers/Microsoft.Batch/batchAccounts/testdeletepool?api-version=2014-05-01-privatepreview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/test-delete-pool/providers/Microsoft.Batch/batchAccounts/testdeletepool/operationResults/26bf9c84-5be1-4daa-984b-fef8a0dbb5d1?api-version=2014-05-01-privatepreview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/test-delete-pool/providers/Microsoft.Batch/batchAccounts/testdeletepool/operationResults/26bf9c84-5be1-4daa-984b-fef8a0dbb5d1?api-version=2014-05-01-privatepreview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01-privatepreview"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"testdeletepool\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"accountEndpoint\": \"testdeletepool.batch.core.windows.net\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/test-delete-pool/providers/Microsoft.Batch/batchAccounts/testdeletepool\",\r\n  \"type\": \"Microsoft.Batch/batchAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Mon, 09 Mar 2015 21:47:52 GMT"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31999"
        ],
        "ETag": [
          "0x8D228C9D44317E0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/test-delete-pool/providers/Microsoft.Batch/batchAccounts/testdeletepool/listKeys?api-version=2014-05-01-privatepreview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01-privatepreview"
        ]
      },
      "ResponseBody": "{\r\n  \"accountName\": \"testdeletepool\",\r\n  \"primary\": \"oVrwiMs/GMbdk8CvG5maQSysMmPckn5YBShsRQdBTAoezqt/qcyZ5ynFkywAxIiE1UU1L6ANblW2ES0Ew7chkQ==\",\r\n  \"secondary\": \"qxfHq3iv9CPIYDZ7E24ncdc0hEt/NHt8FTK3qDxzIeIqsc7oFhCMUdIylrYwGVltmI784TOF0Gr5Vyr8ScMvgg==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools?api-version=2014-10-01.1.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"odata.metadata\": \"https://batch.core.windows.net/$metadata#pools/@Element\",\r\n  \"name\": \"testPool\",\r\n  \"tvmSize\": \"small\",\r\n  \"targetDedicated\": 1,\r\n  \"enableAutoScale\": false,\r\n  \"communication\": false,\r\n  \"osFamily\": \"4\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json;odata=minimalmetadata"
        ],
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Mon, 09 Mar 2015 21:48:40 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Mon, 09 Mar 2015 21:48:42 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://testdeletepool.batch.core.windows.net/pools/testPool"
        ],
        "ETag": [
          "0x8D228C9F224ECED"
        ],
        "Location": [
          "https://testdeletepool.batch.core.windows.net/pools/testPool"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resources?$filter=resourceType%20eq%20'Microsoft.Batch%2FbatchAccounts'&api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-centralus/providers/Microsoft.Batch/batchAccounts/jaschneibatch2\",\r\n      \"name\": \"jaschneibatch2\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"centralus\",\r\n      \"tags\": {\r\n        \"tagname\": \"tagvalue\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/Default-AzureBatch-WestUS/providers/Microsoft.Batch/batchAccounts/jaschneibatch\",\r\n      \"name\": \"jaschneibatch\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"westus\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/test-delete-pool/providers/Microsoft.Batch/batchAccounts/testdeletepool\",\r\n      \"name\": \"testdeletepool\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"eastus\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31974"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools?api-version=2014-10-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Mon, 09 Mar 2015 21:48:43 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://testdeletepool.batch.core.windows.net/$metadata#pools\",\r\n  \"value\": [\r\n    {\r\n      \"name\": \"testPool\",\r\n      \"url\": \"https://testdeletepool.batch.core.windows.net/pools/testPool\",\r\n      \"eTag\": \"0x8D228C9F224ECED\",\r\n      \"lastModified\": \"2015-03-09T21:48:42.8705005Z\",\r\n      \"creationTime\": \"2015-03-09T21:48:42.8705005Z\",\r\n      \"state\": \"active\",\r\n      \"stateTransitionTime\": \"2015-03-09T21:48:42.8705005Z\",\r\n      \"allocationState\": \"resizing\",\r\n      \"allocationStateTransitionTime\": \"2015-03-09T21:48:42.8705005Z\",\r\n      \"osFamily\": \"4\",\r\n      \"targetOSVersion\": \"*\",\r\n      \"currentOSVersion\": \"*\",\r\n      \"tvmSize\": \"small\",\r\n      \"resizeTimeout\": \"PT5M\",\r\n      \"currentDedicated\": 0,\r\n      \"targetDedicated\": 1,\r\n      \"enableAutoScale\": false,\r\n      \"communication\": false,\r\n      \"maxTasksPerTVM\": 1,\r\n      \"schedulingPolicy\": {\r\n        \"tvmFillType\": \"Spread\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/testPool?api-version=2014-10-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Mon, 09 Mar 2015 21:48:43 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://testdeletepool.batch.core.windows.net/$metadata#pools/@Element\",\r\n  \"name\": \"testPool\",\r\n  \"url\": \"https://testdeletepool.bat[...]
[...]
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1URVNUOjJEREVMRVRFOjJEUE9PTC1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-04-01-preview"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31941"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1URVNUOjJEREVMRVRFOjJEUE9PTC1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2014-04-01-preview"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1URVNUOjJEREVMRVRFOjJEUE9PTC1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-04-01-preview"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31938"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "6368ed38-3570-481f-b4fa-1d0a6e8d3f3b"
  }
}