{
  "Get-AzWebPubSubKey+[NoContext]+List+$POST+https://management.azure.com/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/azwps-test-rg/providers/Microsoft.SignalRService/WebPubSub/azwps-1/listKeys?api-version=2021-10-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9caf2a1e-9c49-49b6-89a2-56bdec7e3f97/resourceGroups/azwps-test-rg/providers/Microsoft.SignalRService/WebPubSub/azwps-1/listKeys?api-version=2021-10-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "10" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-rp-server-mvid": [ "052104b6-a76f-4c87-b183-74bee8bc2fa4" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"primaryKey\":\"raRMb9piROXP2oGXITloDlJcU2exPukCx6FngtUY6+A=\",\"secondaryKey\":\"xTHju+zCTR/xJ1UxuB2ORsANVG8EbrFFh9j2Z5RoBZQ=\",\"primaryConnectionString\":\"Endpoint=https://azwps-1.webpubsub.azure.com;AccessKey=raRMb9piROXP2oGXITloDlJcU2exPukCx6FngtUY6+A=;Version=1.0;\",\"secondaryConnectionString\":\"Endpoint=https://azwps-1.webpubsub.azure.com;AccessKey=xTHju+zCTR/xJ1UxuB2ORsANVG8EbrFFh9j2Z5RoBZQ=;Version=1.0;\"}",
    }
  }
}