{
  "Entries": [
    {
      "RequestUri": "/subscriptions/015b5c33-7725-4fc2-9c81-c9b07de44668/providers/Microsoft.Compute/virtualMachines?api-version=2014-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31999"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/test",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "<html>\r\n  <body onload=\"challenge();\">\r\n    <script>eval(function(p,a,c,k,e,r){e=function(c){return c.toString(a)};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\\\b'+e(c)+'\\\\b','g'),k[c]);return p}('g l(){a.j=\\'7=n; h-5=e; i=/\\';c.k.1()};o 6(){3.m=\\'f=0; d-9=8; p=/\\';b.4.2()}',26,26,'1ddae90d1314569990e496307402856b6b3f02b6|reload|reload|document|location|age|challenge|SENGINX-ROBOT-MITIGATION        |600 |age|document|window|window|max|600 |SENGINX-ROBOT-MITIGATION        |function|max|path|cookie|location|challenge_f|cookie|418b499229a73d216cac9b2277427f69eeb7fa7d|function|path'.split('|'),0,{}))</script>\r\n  </body>\r\n</html>",
      "ResponseHeaders": {
        "Content-Type": [
          "text/html"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "015b5c33-7725-4fc2-9c81-c9b07de44668",
    "TenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "Domain": "microsoft.com"
  }
}