{
  "Entries": [
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourcegroups/onesdk4421?api-version=2014-04-01-preview",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "799982"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourcegroups/onesdk4421?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421\",\r\n  \"name\": \"onesdk4421\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "11994"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/resources?&api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "799981"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourcegroups/onesdk4421/providers/Microsoft.Authorization/permissions?api-version=2014-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"actions\": [\r\n        \"*\"\r\n      ],\r\n      \"notActions\": []\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "799996"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/microsoft.network/virtualnetworks/vnetonesdk4421?api-version=2014-12-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOption\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\"\r\n      ]\r\n    },\r\n    \"networkInterfaces\": [],\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"dhcpOptions\": {\r\n            \"dnsServers\": [\r\n              \"10.1.1.1\"\r\n            ]\r\n          },\r\n          \"ipConfigurations\": []\r\n        },\r\n        \"name\": \"subnetonesdk4421\",\r\n        \"tags\": {}\r\n      }\r\n    ]\r\n  },\r\n  \"name\": \"vnetonesdk4421\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "client-tracking-id": [
          "5"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vnetonesdk4421\",\r\n  \"id\": \"/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/Microsoft.Network/virtualNetworks/vnetonesdk4421\",\r\n  \"etag\": \"W/\\\"cc57c7dc-1fdb-4598-95ee-d1380665953c\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnetonesdk4421\",\r\n        \"id\": \"/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/Microsoft.Network/virtualNetworks/vnetonesdk4421/subnets/subnetonesdk4421\",\r\n        \"etag\": \"W/\\\"cc57c7dc-1fdb-4598-95ee-d1380665953c\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"ipConfigurations\": []\r\n        }\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "30"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/providers/Microsoft.Network/locations/westus/operations/c5aca854-82b0-4b44-9736-9cd942fef788?api-version=2014-12-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "11993"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/providers/Microsoft.Network/locations/westus/operations/c5aca854-82b0-4b44-9736-9cd942fef788?api-version=2014-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-12-01-preview"
        ],
        "client-tracking-id": [
          "5"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "799980"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/microsoft.network/virtualnetworks/vnetonesdk4421?api-version=2014-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"vnetonesdk4421\",\r\n  \"id\": \"/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/Microsoft.Network/virtualNetworks/vnetonesdk4421\",\r\n  \"etag\": \"W/\\\"01d679a3-0bd0-4fe6-96db-0c8a684d3e7a\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnetonesdk4421\",\r\n        \"id\": \"/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/Microsoft.Network/virtualNetworks/vnetonesdk4421/subnets/subnetonesdk4421\",\r\n        \"etag\": \"W/\\\"01d679a3-0bd0-4fe6-96db-0c8a684d3e7a\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"ipConfigurations\": []\r\n        }\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"01d679a3-0bd0-4fe6-96db-0c8a684d3e7a\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "799979"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/microsoft.network/publicIPAddresses/pubiponesdk4421/?api-version=2014-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"Resource not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/microsoft.network/publicIPAddresses/pubiponesdk4421/?api-version=2014-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"pubiponesdk4421\",\r\n  \"id\": \"/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/Microsoft.Network/publicIPAddresses/pubiponesdk4421\",\r\n  \"etag\": \"W/\\\"339dbf9d-c3fd-4444-bb2f-d8ce7a2641f2\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"pubiponesdk4421\",\r\n      \"fqdn\": \"pubiponesdk4421.westus.cloudapp.azure.com.\"\r\n    }\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"339dbf9d-c3fd-4444-bb2f-d8ce7a2641f2\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "799975"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/microsoft.network/networkInterfaces/niconesdk4421?api-version=2014-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"Resource not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/microsoft.network/networkInterfaces/niconesdk4421?api-version=2014-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"niconesdk4421\",\r\n  \"id\": \"/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/Microsoft.Network/networkInterfaces/niconesdk4421\",\r\n  \"etag\": \"W/\\\"69f7cf5f-9f8f-4623-beee-396c18f56067\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig\",\r\n        \"id\": \"/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/Microsoft.Network/networkInterfaces/niconesdk4421/ipConfigurations/ipconfig\",\r\n        \"etag\": \"W/\\\"69f7cf5f-9f8f-4623-beee-396c18f56067\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/Microsoft.Network/publicIPAddresses/pubiponesdk4421\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/Microsoft.Network/virtualNetworks/vnetonesdk4421/subnets/subnetonesdk4421\"\r\n          },\r\n          \"loadBalancerBackendAddressPools\": [],\r\n          \"loadBalancerInboundNatRules\": []\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {}\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"69f7cf5f-9f8f-4623-beee-396c18f56067\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "799971"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/Microsoft.Storage/storageAccounts/stoonesdk4421?&api-version=2014-08-01-alpha",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\",\r\n    \"primaryEndpoints\": {},\r\n    \"customDomains\": [],\r\n    \"secondaryEndpoints\": {}\r\n  },\r\n  \"name\": \"stoonesdk4421\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"stoonesdk4421\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\",\r\n    \"primaryEndpoints\": {},\r\n    \"customDomains\": [],\r\n    \"secondaryEndpoints\": {}\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/providers/Microsoft.Storage/operations/b27f0b20-ca77-40da-a66b-b3af47f7de03?&api-version=2014-08-01-alpha"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/providers/Microsoft.Storage/operations/b27f0b20-ca77-40da-a66b-b3af47f7de03?monitor=true&&api-version=2014-08-01-alpha"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "11990"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/Microsoft.Compute/virtualMachines/vmonesdk4421?api-version=2014-12-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"sourceImage\": {\r\n        \"id\": \"/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/services/images/a699494373c04fc0bc8f2bb1389d6106__Windows-Server-2012-Datacenter-201410.01-en.us-127GB.vhd\"\r\n      },\r\n      \"destinationVhdsContainer\": \"https://stoonesdk4421.blob.core.windows.net/test\",\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"adminPassword\": \"BaR@123onesdk4421\"\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/Microsoft.Network/networkInterfaces/niconesdk4421\"\r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"name\": \"vmonesdk4421\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "client-tracking-id": [
          "23"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"sourceImage\": {\r\n        \"id\": \"/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/services/images/a699494373c04fc0bc8f2bb1389d6106__Windows-Server-2012-Datacenter-201410.01-en.us-127GB.vhd\"\r\n      },\r\n      \"destinationVhdsContainer\": \"https://stoonesdk4421.blob.core.windows.net/test\",\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"vmonesdk4421-os-20141125-045942-070761\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://stoonesdk4421.blob.core.windows.net/test/vmonesdk4421-os-20141125-045942-070761.vhd\"\r\n        },\r\n        \"caching\": \"ReadWrite\"\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\"\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/Microsoft.Network/networkInterfaces/niconesdk4421\"\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"creating\"\r\n  },\r\n  \"name\": \"vmonesdk4421\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {}\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/providers/Microsoft.Compute/locations/westus/operations/30772a7e-b617-41dd-b489-615488671af3?api-version=2014-12-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "11997"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/providers/Microsoft.Compute/locations/westus/operations/30772a7e-b617-41dd-b489-615488671af3?api-version=2014-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-12-01-preview"
        ],
        "client-tracking-id": [
          "23"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"30772a7e-b617-41dd-b489-615488671af3\",\r\n  \"status\": \"inProgress\",\r\n  \"startTime\": \"2014-11-24T20:59:36.1645837-08:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "799995"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/providers/Microsoft.Compute/locations/westus/operations/30772a7e-b617-41dd-b489-615488671af3?api-version=2014-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-12-01-preview"
        ],
        "client-tracking-id": [
          "23"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"30772a7e-b617-41dd-b489-615488671af3\",\r\n  \"status\": \"succeeded\",\r\n  \"startTime\": \"2014-11-24T20:59:36.1645837-08:00\",\r\n  \"endTime\": \"2014-11-24T21:06:17.8650741-08:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "799973"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/Microsoft.Compute/virtualMachines/vmonesdk4421/start?api-version=2014-12-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "client-tracking-id": [
          "41"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/providers/Microsoft.Compute/locations/westus/operations/1b2854b9-18b0-484c-93db-4597c5772509?api-version=2014-12-01-preview"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/providers/Microsoft.Compute/locations/westus/operations/1b2854b9-18b0-484c-93db-4597c5772509?monitor=true&api-version=2014-12-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "11996"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/Microsoft.Compute/virtualMachines/vmonesdk4421/restart?api-version=2014-12-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "client-tracking-id": [
          "45"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/providers/Microsoft.Compute/locations/westus/operations/172ad991-fdc6-4cb5-ade2-c021ca580826?api-version=2014-12-01-preview"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/providers/Microsoft.Compute/locations/westus/operations/172ad991-fdc6-4cb5-ade2-c021ca580826?monitor=true&api-version=2014-12-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "11995"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/Microsoft.Compute/virtualMachines/vmonesdk4421/stop?api-version=2014-12-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "client-tracking-id": [
          "49"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/providers/Microsoft.Compute/locations/westus/operations/97f49f27-4927-4dc1-8e88-c122a3d2da5a?api-version=2014-12-01-preview"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/providers/Microsoft.Compute/locations/westus/operations/97f49f27-4927-4dc1-8e88-c122a3d2da5a?monitor=true&api-version=2014-12-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "11994"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/resourceGroups/onesdk4421/providers/Microsoft.Compute/virtualMachines?api-version=2014-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "799917"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs0NDIxLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0=?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-04-01-preview"
        ],
        "client-tracking-id": [
          "68"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "799935"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs0NDIxLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0=?api-version=2014-04-01-preview"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/84fffc2f-5d77-449a-bc7f-58c363f2a6b9/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs0NDIxLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0=?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-04-01-preview"
        ],
        "client-tracking-id": [
          "68"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "799920"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-VirtualMachine": [
      "onesdk4421"
    ]
  },
  "Variables": {
    "SubscriptionId": "84fffc2f-5d77-449a-bc7f-58c363f2a6b9",
    "TenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "Domain": "microsoft.com"
  }
}