{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourcegroups/onesdk4038?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/onesdk4038\",\r\n  \"name\": \"onesdk4038\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1181"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/onesdk4038/providers/Microsoft.Network/dnszones/onesdk6905.pstest.test?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"global\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "If-None-Match": [
          "*"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/onesdk4038/providers/Microsoft.Network/dnszones/onesdk6905.pstest.test\",\r\n  \"name\": \"onesdk6905.pstest.test\",\r\n  \"type\": \"Microsoft.Network/dnszones\",\r\n  \"etag\": \"00000002-0000-0000-4af7-c3570ad4d101\",\r\n  \"location\": \"global\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"maxNumberOfRecordSets\": 5000,\r\n    \"nameServers\": [\r\n      \"ns1-01.daily.azure-dns.com.\",\r\n      \"ns2-01.daily.azure-dns.net.\",\r\n      \"ns3-01.daily.azure-dns.org.\",\r\n      \"ns4-01.daily.azure-dns.info.\"\r\n    ],\r\n    \"numberOfRecordSets\": 2\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11980"
        ],
        "ETag": [
          "00000002-0000-0000-4af7-c3570ad4d101"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/onesdk4038/providers/Microsoft.Network/dnszones/onesdk6905.pstest.test/PTR/onesdk9762?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"onesdk9762\",\r\n  \"properties\": {\r\n    \"TTL\": 100,\r\n    \"PTRRecords\": []\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "If-None-Match": [
          "*"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/onesdk4038/providers/Microsoft.Network/dnszones/onesdk6905.pstest.test/PTR/onesdk9762\",\r\n  \"name\": \"onesdk9762\",\r\n  \"type\": \"Microsoft.Network/dnszones/PTR\",\r\n  \"etag\": \"b6a7fa01-5f21-4492-bf0c-2cb860064ccf\",\r\n  \"properties\": {\r\n    \"metadata\": null,\r\n    \"fqdn\": \"onesdk9762.onesdk6905.pstest.test.\",\r\n    \"TTL\": 100,\r\n    \"PTRRecords\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "ETag": [
          "b6a7fa01-5f21-4492-bf0c-2cb860064ccf"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/onesdk4038/providers/Microsoft.Network/dnszones/onesdk6905.pstest.test/PTR/onesdk9762?api-version=2016-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"onesdk9762\",\r\n  \"properties\": {\r\n    \"TTL\": 100,\r\n    \"PTRRecords\": [\r\n      {\r\n        \"ptrdname\": \"contoso2.com\"\r\n      },\r\n      {\r\n        \"ptrdname\": \"contoso3.com\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "If-Match": [
          "b6a7fa01-5f21-4492-bf0c-2cb860064ccf"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/onesdk4038/providers/Microsoft.Network/dnszones/onesdk6905.pstest.test/PTR/onesdk9762\",\r\n  \"name\": \"onesdk9762\",\r\n  \"type\": \"Microsoft.Network/dnszones/PTR\",\r\n  \"etag\": \"8ef5aa89-b929-4c44-b151-1acaf4b5c65d\",\r\n  \"properties\": {\r\n    \"metadata\": null,\r\n    \"fqdn\": \"onesdk9762.onesdk6905.pstest.test.\",\r\n    \"TTL\": 100,\r\n    \"PTRRecords\": [\r\n      {\r\n        \"ptrdname\": \"contoso2.com\"\r\n      },\r\n      {\r\n        \"ptrdname\": \"contoso3.com\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11998"
        ],
        "ETag": [
          "8ef5aa89-b929-4c44-b151-1acaf4b5c65d"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/onesdk4038/providers/Microsoft.Network/dnszones/onesdk6905.pstest.test/PTR?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/onesdk4038/providers/Microsoft.Network/dnszones/onesdk6905.pstest.test/PTR/onesdk9762\",\r\n      \"name\": \"onesdk9762\",\r\n      \"type\": \"Microsoft.Network/dnszones/PTR\",\r\n      \"etag\": \"8ef5aa89-b929-4c44-b151-1acaf4b5c65d\",\r\n      \"properties\": {\r\n        \"metadata\": null,\r\n        \"fqdn\": \"onesdk9762.onesdk6905.pstest.test.\",\r\n        \"TTL\": 100,\r\n        \"PTRRecords\": [\r\n          {\r\n            \"ptrdname\": \"contoso2.com\"\r\n          },\r\n          {\r\n            \"ptrdname\": \"contoso3.com\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11998"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/onesdk4038/providers/Microsoft.Network/dnszones/onesdk6905.pstest.test?api-version=2016-04-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net:443/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/onesdk4038/providers/Microsoft.Network/dnsOperationStatuses/delzone63603023709328158660910088?api-version=2016-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11982"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/onesdk4038/providers/Microsoft.Network/dnsOperationResults/delzone63603023709328158660910088?api-version=2016-04-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c/resourceGroups/onesdk4038/providers/Microsoft.Network/dnsOperationStatuses/delzone63603023709328158660910088?api-version=2016-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11983"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-RecordSetPTR": [
      "onesdk6905",
      "onesdk9762",
      "onesdk4038"
    ]
  },
  "Variables": {
    "SubscriptionId": "3cfb1b34-e5a9-4f98-bf9c-e4d69a6b170c"
  }
}