{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Marketplace/privateStores/a70d384d-ec34-47dd-9d38-ec6df452cba1/offers?api-version=2020-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-version": [
          "1.0.0.1039 (AzureUX-MarketPlaceRP:master.0c59859b5.200612-1805)"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Marketplace/privateStores/a70d384d-ec34-47dd-9d38-ec6df452cba1/offers/websense-apmailpe.triton-ap-data\",\r\n      \"name\": \"websense-apmailpe.triton-ap-data\",\r\n      \"type\": \"Microsoft.Marketplace/privateStores/offers\",\r\n      \"properties\": {\r\n        \"uniqueOfferId\": \"websense-apmailpe.triton-ap-data\",\r\n        \"specificPlanIdsLimitation\": [\r\n          \"0001\"\r\n        ],\r\n        \"eTag\": \"\\\"19001e9c-0000-0100-0000-5ee25b190000\\\"\",\r\n        \"privateStoreId\": \"a70d384d-ec34-47dd-9d38-ec6df452cba1\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/providers/Microsoft.Marketplace/privateStores/a70d384d-ec34-47dd-9d38-ec6df452cba1/offers/manageengine.passwordmanagerpro-windows\",\r\n      \"name\": \"manageengine.passwordmanagerpro-windows\",\r\n      \"type\": \"Microsoft.Marketplace/privateStores/offers\",\r\n      \"properties\": {\r\n        \"uniqueOfferId\": \"manageengine.passwordmanagerpro-windows\",\r\n        \"specificPlanIdsLimitation\": [\r\n          \"0001\"\r\n        ],\r\n        \"eTag\": \"\\\"19003d9c-0000-0100-0000-5ee25b1b0000\\\"\",\r\n        \"privateStoreId\": \"a70d384d-ec34-47dd-9d38-ec6df452cba1\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/providers/Microsoft.Marketplace/privateStores/a70d384d-ec34-47dd-9d38-ec6df452cba1/offers/altamira-corporation.lumify\",\r\n      \"name\": \"altamira-corporation.lumify\",\r\n      \"type\": \"Microsoft.Marketplace/privateStores/offers\",\r\n      \"properties\": {\r\n        \"uniqueOfferId\": \"altamira-corporation.lumify\",\r\n        \"specificPlanIdsLimitation\": [\r\n          \"lumify\",\r\n          \"0001\"\r\n        ],\r\n        \"eTag\": \"\\\"020032e7-0000-0100-0000-5ee629440000\\\"\",\r\n        \"privateStoreId\": \"a70d384d-ec34-47dd-9d38-ec6df452cba1\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "bc17bb69-1264-4f90-a9f6-0e51e29d5281"
  }
}