{
  "Entries": [
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/locations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Locations xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Location>\r\n    <Name>East US</Name>\r\n    <DisplayName>East US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableService>Storage</AvailableService>\r\n      <AvailableService>PersistentVMRole</AvailableService>\r\n      <AvailableService>HighMemory</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>A10</RoleSize>\r\n        <RoleSize>A11</RoleSize>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>A8</RoleSize>\r\n        <RoleSize>A9</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Standard_A1_v2</RoleSize>\r\n        <RoleSize>Stand[...]
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/operations/1e7c9fb623c673faa85049fbfcee6537",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>1e7c9fb6-23c6-73fa-a850-49fbfcee6537</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/services/images",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2017-01-01"
        ]
      },
      "ResponseBody": "<Images xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <OSImage>\r\n    <Category>Public</Category>\r\n    <Label>Visual Studio Community 2015 Update 3 with Azure SDK 2.9 on Windows Server 2012 R2</Label>\r\n    <Location>East Asia;Southeast Asia;North Europe;West Europe;Central US;East US;East US 2;South Central US</Location>\r\n    <LogicalSizeInGB>128</LogicalSizeInGB>\r\n    <Name>03f55de797f546a1b29d1b8d66be687a__VS-2015-Comm-VSU3-AzureSDK-29-WS2012R2-2018-01-11</Name>\r\n    <OS>Windows</OS>\r\n    <Eula>https://www.visualstudio.com/license-terms/</Eula>\r\n    <Description>&lt;p&gt;Visual Studio Community 2015 Update 3 is our free, full featured and extensible IDE for non-enterprise application development. This image contains Windows Server 2012 R2 with Visual Studio Community 2015 Update 3. It allows you to easily and quickly set up a development environment in Azure to build and test applications using Visual Studio.&lt;/p&gt;&lt;p&gt;This image was created from the latest bits available on 1/11/2018.&lt;/p&gt;&lt;p&gt;The Visual Studio software is preinstalled in this VM, but you must acquire a Visual Studio subscription separately which allows you to sign in to and run Visual Studio on this VM.&lt;/p&gt;</Description>\r\n    <ImageFamily>Visual Studio Community 2015 Update 3 with Azure SDK 2.9 on Windows Server 2012 R2</ImageFamily>\r\n    <PublishedDate>2018-01-11T08:00:00Z</PublishedDate>\r\n    <IsPremium>false</IsPremium>\r\n    <IconUri>VisualStudio2013_100.png</IconUri>\r\n    <PrivacyUri>https://go.microsoft.com/fwlink/?LinkID=824704</PrivacyUri>\r\n    <RecommendedVMSize>Standard_D2s_v3</RecommendedVMSize>\r\n    <PublisherName>Microsoft Visual Studio Group</PublisherName>\r\n    <SmallIconUri>VisualStudio2013_45.png</SmallIconUri>\r\n    <IOType>Standard_LRS</IOType>\r\n  </OSImage>\r\n  <OSImage>\r\n    <Category>Public</Category>\r\n    <Label>Visual Studio Community 2015 Update 3 with Azure SDK 2.9 on Windows Server 2012 R2</Label>\r\n    <Location>East Asia;Southeast Asia;North Europe;West Europe;Central US;East US;East US 2;South Central US</Location>\r\n    <LogicalSizeInGB>128</LogicalSizeInGB>\r\n    <Name>03f55de797f546a1b29d1b8d66be687a__VS-2015-Comm-VSU3-AzureSDK-29-WS2012R2-2018-02-14</Name>\r\n    <OS>Windows</OS>\r\n    <E[...]
