{
  "Entries": [
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/locations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Locations xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Location>\r\n    <Name>Central US</Name>\r\n    <DisplayName>Central US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableService>Storage</AvailableService>\r\n      <AvailableService>PersistentVMRole</AvailableService>\r\n      <AvailableService>HighMemory</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Standard_D1</RoleSize>\r\n        <RoleSize>Standard_D1_v2</RoleSize>\r\n        <RoleSize>Standard_D11</RoleSize>\r\n        <RoleSize>Standard_D11_v2</RoleSize>\r\n        <RoleSize>Standard_D12</RoleSize>\r\n        <RoleSize>Standard_D12_v2</RoleSize>\r\n        <RoleSize>Standard_D13</RoleSize>\r\n        <RoleSize>Standard_D13_v2</RoleSize>\r\n        <RoleSize>Standard_D14</RoleSize>\r\n        <RoleSize>Standard_D14_v2</RoleSize>\r\n        <RoleSize>Standard_D2</RoleSize>\r\n        <RoleSize>Standard_D2_v2</RoleSize>\r\n        <RoleSize>Standard_D3</RoleSize>\r\n        <RoleSize>Standard_D3_v2</RoleSize>\r\n        <RoleSize>Standard_D4</RoleSize>\r\n        <RoleSize>Standard_D4_v2</RoleSize>\r\n        <RoleSize>Standard_D5_v2</RoleSize>\r\n      </WebWorkerRoleSizes>\r\n      <VirtualMachinesRoleSizes>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>Basic_A0</RoleSize>\r\n        <RoleSize>Basic_A1</RoleSize>\r\n        <RoleSize>Basic_A2</RoleSize>\r\n        <RoleSize>Basic_A3</RoleSize>\r\n        <RoleSize>Basic_A4</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Standard_D1</RoleSize>\r\n        <RoleSize>Standard_D1_v2</RoleSize>\r\n        <RoleSize>Standard_D11</RoleSize>\r\n        <RoleSize>Standard_D11_v2</RoleSize>\r\n        <RoleSize>Standard_D12</RoleSize>\r\n        <RoleSize>Standard_D12_v2</RoleSize>\r\n        <RoleSize>Standard_D13</RoleSize>\r\n        <RoleSize>Standard_D13_v2</RoleSize>\r\n        <RoleSize>Standard_D14</RoleSize>\r\n        <RoleSize>Standard_D14_v2</RoleSize>\r\n        <RoleSize>Standard_D2</RoleSize>\r\n        <RoleSize>Standard_D2_v2</RoleSize>\r\n        <RoleSize>Standard_D3</RoleSize>\r\n        <RoleSize>Standard_D3_v2</RoleSize>\r\n        <RoleSize>Standard_D4</RoleSize>\r\n        <RoleSize>Standard_D4_v2</RoleSize>\r\n        <RoleSize>Standard_D5_v2</RoleSize>\r\n      </VirtualMachinesRoleSizes>\r\n    </ComputeCapabilities>\r\n    <StorageCapabilities>\r\n      <StorageAccountTypes>\r\n        <StorageAccountType>Standard_LRS</StorageAccountType>\r\n        <StorageAccountType>Standard_ZRS</StorageAccountType>\r\n        <StorageAccountType>Standard_GRS</StorageAccountType>\r\n        <StorageAccountType>Standard_RAGRS</StorageAccountType>\r\n        <StorageAccountType>Premium_LRS</StorageAccountType>\r\n      </StorageAccountTypes>\r\n    </StorageCapabilities>\r\n  </Location>\r\n  <Location>\r\n    <Name>South Central US</Name>\r\n    <DisplayName>South Central US</DisplayName>\r\n    <AvailableServi[...]
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/operations/28d6220ea15c28a1b26f7bea5830962f",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>28d6220e-a15c-28a1-b26f-7bea5830962f</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/services/images",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-04-01"
        ]
      },
      "ResponseBody": "<Images xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <OSImage>\r\n    <Category>Public</Category>\r\n    <Label>CoreCLR x64 Beta5 (11624) with PartsUnlimited Demo App on Ubuntu Server 14.04 LTS</Label>\r\n    <Location>East Asia;Southeast Asia;North Europe;West Europe;Central US;East US;East US 2;South Central US;West US</Location>\r\n    <LogicalSizeInGB>30</LogicalSizeInGB>\r\n    <Name>03f55de797f546a1b29d1b8d66be687a__CoreCLR-x64-Beta5-Linux-PartsUnlimited-Demo-App-201504.29</Name>\r\n    <OS>Linux</OS>\r\n    <Eula>http://go.microsoft.com/fwlink/?LinkId=521895</Eula>\r\n    <Description>Linux VM image with coreclr-x64-beta5-11624 installed to /opt/dnx. This image is based on Ubuntu 14.04 LTS, with prerequisites of CoreCLR installed. It also contains PartsUnlimited demo app which runs on the installed coreclr. The demo app is installed to /opt/demo. To run the demo, please type the command '/opt/demo/Kestrel' in a terminal window. The website is listening on port 5004. Please enable or map a endpoint of HTTP port 5004 for your azure VM.</Description>\r\n    <ImageFamily>CoreCLR x64 Beta5 (11624) with PartsUnlimited Demo App on Ubuntu Server 14.04 LTS</ImageFamily>\r\n    <PublishedDate>2015-04-29T07:00:00Z</PublishedDate>\r\n    <IsPremium>false</IsPremium>\r\n    <IconUri>Ubuntu-cof-45.png</IconUri>\r\n    <PrivacyUri>http://go.microsoft.com/fwlink/?LinkID=528096</PrivacyUri>\r\n    <RecommendedVMSize>Standard_D1</RecommendedVMSize>\r\n    <PublisherName>Microsoft Visual Studio Group</PublisherName>\r\n    <SmallIconUri>Ubuntu-cof-45.png</SmallIconUri>\r\n    <IOType>Standard_LRS</IOType>\r\n  </OSImage>\r\n  <OSImage>\r\n    <Category>Public</Category>\r\n    <Label>Team Foundation Server 2013 Update 4 on Windows Server 2012 R2</Label>\r\n    <Location>East Asia;Southeast Asia;North Europe;West Europe;Central US;East US;East US 2;South Central US;West US</Location>\r\n    <LogicalSizeInGB>128</LogicalSizeInGB>\r\n    <Name>03f55de797f546a1b29d1b8d66be687a__Team-Foundation-Server-2013-Update4-WS2012R2</Name>\r\n    <OS>Windows</OS>\r\n    <Eula>http://www.mi[...]
[...]
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/services/vmimages",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-04-01"
        ]
      },
      "ResponseBody": "<VMImages xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <VMImage>\r\n    <Name>1acf693f34c74e86a50be61cb631ddfe__ClouderaGolden-202406-699696</Name>\r\n    <Label>CDH 5.1 Evaluation</Label>\r\n    <Category>Public</Category>\r\n    <Description>Single click deployment of CDH 5.1 Evaluation for MR, HDFS and HIVE</Description>\r\n    <OSDiskConfiguration>\r\n      <Name>ClouderaGolden-202406-699696-os-2014-10-06</Name>\r\n      <HostCaching>ReadWrite</HostCaching>\r\n      <OSState>Specialized</OSState>\r\n      <OS>Linux</OS>\r\n      <LogicalDiskSizeInGB>30</LogicalDiskSizeInGB>\r\n      <IOType>Standard_LRS</IOType>\r\n    </OSDiskConfiguration>\r\n    <DataDiskConfigurations />\r\n    <Location>East Asia;Southeast Asia;North Europe;West Europe;Central US;East US;East US 2;South Central US;West US</Location>\r\n    <CreatedTime>1801-01-01T00:00:00Z</CreatedTime>\r\n    <ModifiedTime>1801-01-01T00:00:00Z</ModifiedTime>\r\n    <ImageFamily>CDH 5.1 Evaluation</ImageFamily>\r\n    <RecommendedVMSize>Standard_D14</RecommendedVMSize>\r\n    <IsPremium>false</IsPremium>\r\n    <Eula>http://www.gnu.org/copyleft/gpl.html</Eula>\r\n    <PrivacyUri>http://www.cloudera.com/content/cloudera/en/privacy-policy.html</PrivacyUri>\r\n    <PublisherName>Cloudera</PublisherName>\r\n    <PublishedDate>2014-10-27T04:00:00Z</PublishedDate>\r\n    <VMImageState>VMImageReadyForUse</VMImageState>\r\n  </VMImage>\r\n  <VMImage>\r\n    <Name>d4a65b493c36471ba82b42d53fbd8063__Microsoft-Azure-Site-Recovery-Config-Server-Non-VPN-201507.06</Name>\r\n    <Label>Microsoft Azure Site Recovery Configuration Server  Non-VPN</Label>\r\n    <Category>Public</Category>\r\n    <Description>The Microsoft Azure Site Recovery Configuration Server acts as the centralized management server for disaster recovery management operations in the Microsoft Azure Site Recovery scen[...]
