{
  "Entries": [
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/services/networking/reservedips",
      "RequestMethod": "POST",
      "RequestBody": "<ReservedIP xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <Name>onesdk9482</Name>\r\n  <DeploymentName></DeploymentName>\r\n  <Location>West Central US</Location>\r\n  <IPTagList>\r\n    <IPTag>\r\n      <IPTagType>FirstPartyUsage</IPTagType>\r\n      <Value>/tagTypes/SystemService/operators/Microsoft/platforms/Azure/services/Microsoft.AzureAD</Value>\r\n    </IPTag>\r\n  </IPTagList>\r\n</ReservedIP>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2017-01-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/operations/7c256912341aad0b9a5f442450d349e6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2017-01-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>7c256912-341a-ad0b-9a5f-442450d349e6</ID>\r\n  <Status>InProgress</Status>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/operations/7c256912341aad0b9a5f442450d349e6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2017-01-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>7c256912-341a-ad0b-9a5f-442450d349e6</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/services/networking/reservedips/onesdk9482",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2017-01-01"
        ]
      },
      "ResponseBody": "<ReservedIP xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Name>onesdk9482</Name>\r\n  <Address>13.71.201.120</Address>\r\n  <Id>3fbeeb35-68a6-42b8-aceb-e3dfdadf7843</Id>\r\n  <State>Created</State>\r\n  <Location>West Central US</Location>\r\n  <IPTagList>\r\n    <IPTag>\r\n      <IPTagType>FirstPartyUsage</IPTagType>\r\n      <Value>/tagTypes/SystemService/operators/Microsoft/platforms/Azure/services/Microsoft.AzureAD</Value>\r\n    </IPTag>\r\n  </IPTagList>\r\n</ReservedIP>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/119560de-0077-4c77-bfd0-b739e5b6aae2/operations/80665073cb27a278af4511b34f940642",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2017-01-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>80665073-cb27-a278-af45-11b34f940642</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-AzureReservedIPWithIPTags": [
      "onesdk9482"
    ]
  },
  "Variables": {
    "SubscriptionId": "119560de-0077-4c77-bfd0-b739e5b6aae2"
  }
}