{
  "Entries": [
    {
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk5454?api-version=2017-05-10",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk5454?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"EastUS2EUAP\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk5454\",\r\n  \"name\": \"onesdk5454\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk5454/providers/Microsoft.Solutions/applicationdefinitions/onesdk4580?api-version=2017-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"onesdk4580\",\r\n  \"location\": \"EastUS2EUAP\",\r\n  \"properties\": {\r\n    \"lockLevel\": \"ReadOnly\",\r\n    \"displayName\": \"myAppDefPoSH\",\r\n    \"description\": \"Test\",\r\n    \"authorizations\": [\r\n      {\r\n        \"principalId\": \"5e91139a-c94b-462e-a6ff-1ee95e8aac07\",\r\n        \"roleDefinitionId\": \"8e3af657-a8ff-443c-a75c-2fe8c4bcb635\"\r\n      }\r\n    ],\r\n    \"packageFileUri\": \"https://testclinew.blob.core.windows.net/files/vivekMAD.zip\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"isEnabled\": true,\r\n    \"lockLevel\": \"ReadOnly\",\r\n    \"displayName\": \"myAppDefPoSH\",\r\n    \"description\": \"Test\",\r\n    \"authorizations\": [\r\n      {\r\n        \"principalId\": \"5e91139a-c94b-462e-a6ff-1ee95e8aac07\",\r\n        \"roleDefinitionId\": \"8e3af657-a8ff-443c-a75c-2fe8c4bcb635\"\r\n      }\r\n    ],\r\n    \"artifacts\": [\r\n      {\r\n        \"name\": \"ApplianceResourceTemplate\",\r\n        \"type\": \"Template\",\r\n        \"uri\": \"https://prdsapplianceprodbnep01.blob.core.windows.net/appliancedefinitions/001C5_72F988BF86F141AF91AB2D7CD011DB47_65A604C0AA77B2B54C9A3BFE7EF6B4BE7218A125/applicationResourceTemplate.json?sv=2014-02-14&sr=b&sig=%2FEWO8BJ7fX5Iqt9JqAtJtk0AsVZhG35cvJD3yAEOYgw%3D&se=2117-09-20T02:09:59Z&sp=r\"\r\n      },\r\n      {\r\n        \"name\": \"CreateUiDefinition\",\r\n        \"type\": \"Custom\",\r\n        \"uri\": \"https://management.azure.com/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk5454/providers/Microsoft.Solutions/applicationDefinitions/onesdk4580/applicationArtifacts/ApplicationCreateUiDefinition?api-version=2017-09-01\"\r\n      }\r\n    ]\r\n  },\r\n  \"id\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk5454/providers/Microsoft.Solutions/applicationDefinitions/onesdk4580\",\r\n  \"name\": \"onesdk4580\",\r\n  \"type\": \"Microsoft.Solutions/applicationDefinitions\",\r\n  \"location\": \"EastUS2EUAP\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk5454/providers/Microsoft.Solutions/applications/onesdk1561?api-version=2017-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"onesdk1561\",\r\n  \"location\": \"EastUS2EUAP\",\r\n  \"properties\": {\r\n    \"managedResourceGroupId\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk6655\",\r\n    \"applicationDefinitionId\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk5454/providers/Microsoft.Solutions/applicationDefinitions/onesdk4580\",\r\n    \"parameters\": {\r\n      \"adminUsername\": {\r\n        \"value\": \"xDeploymentTestHost2s8168\"\r\n      },\r\n      \"adminPassword\": {\r\n        \"value\": \"Test12346!sdsfg\"\r\n      },\r\n      \"dnsLabelPrefix\": {\r\n        \"value\": \"testsdk27da341s\"\r\n      }\r\n    }\r\n  },\r\n  \"kind\": \"ServiceCatalog\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"managedResourceGroupId\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk6655\",\r\n    \"applicationDefinitionId\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk5454/providers/Microsoft.Solutions/applicationDefinitions/onesdk4580\",\r\n    \"publisherPackageId\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk5454/providers/Microsoft.Solutions/applicationDefinitions/onesdk4580\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"uiDefinitionUri\": \"https://prdsapplianceprodbnep01.blob.core.windows.net/appliancedefinitions/001C5_72F988BF86F141AF91AB2D7CD011DB47_65A604C0AA77B2B54C9A3BFE7EF6B4BE7218A125/createUiDefinition.json?sv=2014-02-14&sr=b&sig=1isa63y%2FgbEn1slcu69%2F2FFj1Z%2BPCm7SPhHZBgqPTS0%3D&se=2117-09-20T02:09:59Z&sp=r\"\r\n  },\r\n  \"id\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk5454/providers/Microsoft.Solutions/applications/onesdk1561\",\r\n  \"name\": \"onesdk1561\",\r\n  \"type\": \"Microsoft.Solutions/applications\",\r\n  \"kind\": \"ServiceCatalog\",\r\n  \"location\": \"EastUS2EUAP\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk5454/providers/Microsoft.Solutions/locations/EastUS2EUAP/operationStatuses/eyJvcGVyYXRpb25OYW1lIjoiTWljcm9zb2Z0LlNvbHV0aW9ucy9hcHBsaWNhdGlvbnMvd3JpdGUiLCJqb2JJZCI6IkFwcGxpYW5jZVByb3Zpc2lvbmluZ0pvYjoyRFJHQToyRE9ORVNESzU0NTQ6MkRPTkVTREsxNTYxIiwiZnVsbHlRdWFsaWZpZWRBcHBsaWFuY2VJZCI6Ii9zdWJzY3JpcHRpb25zLzM4YjU5OGZjLWU1N2EtNDIzZi1iMmU3LWRjMGRkYjYzMWYxZi9yZXNvdXJjZUdyb3Vwcy9vbmVzZGs1NDU0L3Byb3ZpZGVycy9NaWNyb3NvZnQuU29sdXRpb25zL2FwcGxpY2F0aW9ucy9vbmVzZGsxNTYxIn0?api-version=2016-09-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk5454/providers/Microsoft.Solutions/locations/EastUS2EUAP/operationStatuses/eyJvcGVyYXRpb25OYW1lIjoiTWljcm9zb2Z0LlNvbHV0aW9ucy9hcHBsaWNhdGlvbnMvd3JpdGUiLCJqb2JJZCI6IkFwcGxpYW5jZVByb3Zpc2lvbmluZ0pvYjoyRFJHQToyRE9ORVNESzU0NTQ6MkRPTkVTREsxNTYxIiwiZnVsbHlRdWFsaWZpZWRBcHBsaWFuY2VJZCI6Ii9zdWJzY3JpcHRpb25zLzM4YjU5OGZjLWU1N2EtNDIzZi1iMmU3LWRjMGRkYjYzMWYxZi9yZXNvdXJjZUdyb3Vwcy9vbmVzZGs1NDU0L3Byb3ZpZGVycy9NaWNyb3NvZnQuU29sdXRpb25zL2FwcGxpY2F0aW9ucy9vbmVzZGsxNTYxIn0?api-version=2016-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Accepted\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14964"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk5454/providers/Microsoft.Solutions/applications/onesdk1561?api-version=2017-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"managedResourceGroupId\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk6655\",\r\n    \"applicationDefinitionId\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk5454/providers/Microsoft.Solutions/applicationDefinitions/onesdk4580\",\r\n    \"publisherPackageId\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk5454/providers/Microsoft.Solutions/applicationDefinitions/onesdk4580\",\r\n    \"parameters\": {\r\n      \"adminUsername\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"xDeploymentTestHost2s8168\"\r\n      },\r\n      \"adminPassword\": {\r\n        \"type\": \"SecureString\"\r\n      },\r\n      \"dnsLabelPrefix\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"testsdk27da341s\"\r\n      },\r\n      \"ubuntuOSVersion\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"16.04.0-LTS\"\r\n      }\r\n    },\r\n    \"provisioningState\": \"Accepted\",\r\n    \"uiDefinitionUri\": \"https://prdsapplianceprodbnep01.blob.core.windows.net/appliancedefinitions/001C5_72F988BF86F141AF91AB2D7CD011DB47_65A604C0AA77B2B54C9A3BFE7EF6B4BE7218A125/createUiDefinition.json?sv=2014-02-14&sr=b&sig=1isa63y%2FgbEn1slcu69%2F2FFj1Z%2BPCm7SPhHZBgqPTS0%3D&se=2117-09-20T02:09:59Z&sp=r\",\r\n    \"authorizations\": [\r\n      {\r\n        \"principalId\": \"5e91139a-c94b-462e-a6ff-1ee95e8aac07\",\r\n        \"roleDefinitionId\": \"8e3af657-a8ff-443c-a75c-2fe8c4bcb635\"\r\n      }\r\n    ]\r\n  },\r\n  \"id\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk5454/providers/Microsoft.Solutions/applications/onesdk1561\",\r\n  \"name\": \"onesdk1561\",\r\n  \"type\": \"Microsoft.Solutions/applications\",\r\n  \"kind\": \"ServiceCatalog\",\r\n  \"location\": \"EastUS2EUAP\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk5454/providers/Microsoft.Solutions/applications/onesdk1561?api-version=2017-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"managedResourceGroupId\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk6655\",\r\n    \"applicationDefinitionId\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk5454/providers/Microsoft.Solutions/applicationDefinitions/onesdk4580\",\r\n    \"publisherPackageId\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk5454/providers/Microsoft.Solutions/applicationDefinitions/onesdk4580\",\r\n    \"parameters\": {\r\n      \"adminUsername\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"xDeploymentTestHost2s8168\"\r\n      },\r\n      \"adminPassword\": {\r\n        \"type\": \"SecureString\"\r\n      },\r\n      \"dnsLabelPrefix\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"testsdk27da341s\"\r\n      },\r\n      \"ubuntuOSVersion\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"16.04.0-LTS\"\r\n      }\r\n    },\r\n    \"outputs\": {\r\n      \"hostname\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"testsdk27da341s.westus.cloudapp.azure.com\"\r\n      },\r\n      \"sshCommand\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"ssh xDeploymentTestHost2s8168@testsdk27da341s.westus.cloudapp.azure.com\"\r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"uiDefinitionUri\": \"https://prdsapplianceprodbnep01.blob.core.windows.net/appliancedefinitions/001C5_72F988BF86F141AF91AB2D7CD011DB47_65A604C0AA77B2B54C9A3BFE7EF6B4BE7218A125/createUiDefinition.json?sv=2014-02-14&sr=b&sig=1isa63y%2FgbEn1slcu69%2F2FFj1Z%2BPCm7SPhHZBgqPTS0%3D&se=2117-09-20T02:09:59Z&sp=r\",\r\n    \"authorizations\": [\r\n      {\r\n        \"principalId\": \"5e91139a-c94b-462e-a6ff-1ee95e8aac07\",\r\n        \"roleDefinitionId\": \"8e3af657-a8ff-443c-a75c-2fe8c4bcb635\"\r\n      }\r\n    ]\r\n  },\r\n  \"id\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk5454/providers/Microsoft.Solutions/applications/onesdk1561\",\r\n  \"name\": \"onesdk1561\",\r\n  \"type\": \"Microsoft.Solutions/applications\",\r\n  \"kind\": \"ServiceCatalog\",\r\n  \"location\": \"EastUS2EUAP\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk5454/providers/Microsoft.Solutions/applications/onesdk1561?api-version=2017-09-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"tags\": {\r\n    \"test\": \"test\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"managedResourceGroupId\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk6655\",\r\n    \"applicationDefinitionId\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourceGroups/onesdk5454/providers/Microsoft.Solutions/applicationDefinitions/onesdk4580\",\r\n    \"pub[...]
    {
      "RequestUri": "/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk5454/providers/Microsoft.Solutions/applications?api-version=2017-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"managedResourceGroupId\": \"/subscriptions/38b598fc-e57a-423f-b2e7-dc0ddb631f1f/resourcegroups/onesdk6655\",\r\n        \"applicationDefinitionId[...]
