{
  "Entries": [
    {
      "RequestUri": "//subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationDefinitions/e7d4730c-b52a-42b4-b974-6772d88cf7c6?api-version=2018-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"authorizations\": [\r\n      {\r\n        \"principalId\": \"d6f6c88a-5b7a-455e-ba40-ce146d4d3671\",\r\n        \"roleDefinitionId\": \"acdd72a7-3385-48ef-bd42-f606fba81ae7\"\r\n      }\r\n    ],\r\n    \"registrationDefinitionName\": \"ps6245\",\r\n    \"managedByTenantId\": \"bab3375b-6197-4a15-a44b-16c41faa91d7\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"registrationDefinitionName\": \"ps6245\",\r\n    \"managedByTenantId\": \"bab3375b-6197-4a15-a44b-16c41faa91d7\",\r\n    \"authorizations\": [\r\n      {\r\n        \"principalId\": \"d6f6c88a-5b7a-455e-ba40-ce146d4d3671\",\r\n        \"roleDefinitionId\": \"acdd72a7-3385-48ef-bd42-f606fba81ae7\"\r\n      }\r\n    ],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"managedByTenantName\": \"Default Directory\"\r\n  },\r\n  \"id\": \"/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationDefinitions/e7d4730c-b52a-42b4-b974-6772d88cf7c6\",\r\n  \"type\": \"Microsoft.ManagedServices/registrationDefinitions\",\r\n  \"name\": \"e7d4730c-b52a-42b4-b974-6772d88cf7c6\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationAssignments/846b8de3-400b-4e89-b1f4-5bb7b73f12be?api-version=2018-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"registrationDefinitionId\": \"/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationDefinitions/e7d4730c-b52a-42b4-b974-6772d88cf7c6\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"registrationDefinitionId\": \"/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationDefinitions/e7d4730c-b52a-42b4-b974-6772d88cf7c6\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationAssignments/846b8de3-400b-4e89-b1f4-5bb7b73f12be\",\r\n  \"type\": \"Microsoft.ManagedServices/registrationAssignments\",\r\n  \"name\": \"846b8de3-400b-4e89-b1f4-5bb7b73f12be\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "//subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationAssignments/846b8de3-400b-4e89-b1f4-5bb7b73f12be?$expandRegistrationDefinition=true&api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"registrationDefinitionId\": \"/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationDefinitions/e7d4730c-b52a-42b4-b974-6772d88cf7c6\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"registrationDefinition\": {\r\n      \"properties\": {\r\n        \"registrationDefinitionName\": \"ps6245\",\r\n        \"managedByTenantId\": \"bab3375b-6197-4a15-a44b-16c41faa91d7\",\r\n        \"authorizations\": [\r\n          {\r\n            \"principalId\": \"d6f6c88a-5b7a-455e-ba40-ce146d4d3671\",\r\n            \"roleDefinitionId\": \"acdd72a7-3385-48ef-bd42-f606fba81ae7\"\r\n          }\r\n        ],\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"manageeTenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"manageeTenantName\": \"Microsoft\",\r\n        \"managedByTenantName\": \"Default Directory\"\r\n      },\r\n      \"id\": \"/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationDefinitions/e7d4730c-b52a-42b4-b974-6772d88cf7c6\",\r\n      \"type\": \"Microsoft.ManagedServices/registrationDefinitions\",\r\n      \"name\": \"e7d4730c-b52a-42b4-b974-6772d88cf7c6\"\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationAssignments/846b8de3-400b-4e89-b1f4-5bb7b73f12be\",\r\n  \"type\": \"Microsoft.ManagedServices/registrationAssignments\",\r\n  \"name\": \"846b8de3-400b-4e89-b1f4-5bb7b73f12be\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationDefinitions/e7d4730c-b52a-42b4-b974-6772d88cf7c6?api-version=2018-06-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"registrationDefinitionName\": \"ps6245\",\r\n    \"managedByTenantId\": \"bab3375b-6197-4a15-a44b-16c41faa91d7\",\r\n    \"authorizations\": [\r\n      {\r\n        \"principalId\": \"d6f6c88a-5b7a-455e-ba40-ce146d4d3671\",\r\n        \"roleDefinitionId\": \"acdd72a7-3385-48ef-bd42-f606fba81ae7\"\r\n      }\r\n    ],\r\n    \"provisioningState\": \"Deleted\",\r\n    \"managedByTenantName\": \"Default Directory\"\r\n  },\r\n  \"id\": \"/subscriptions/38bd4bef-41ff-45b5-b3af-d03e55a4ca15/providers/Microsoft.ManagedServices/registrationDefinitions/e7d4730c-b52a-42b4-b974-6772d88cf7c6\",\r\n  \"type\": \"Microsoft.ManagedServices/registrationDefinitions\",\r\n  \"name\": \"e7d4730c-b52a-42b4-b974-6772d88cf7c6\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-ManagedServices_CRUD": [
      "ps6245"
    ]
  },
  "Variables": {
    "SubscriptionId": "38bd4bef-41ff-45b5-b3af-d03e55a4ca15"
  }
}