{
  "AzContainerApp+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup6950/providers/Microsoft.App/managedEnvironments/env6950/certificates/envcert6950?api-version=2022-03-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup6950/providers/Microsoft.App/managedEnvironments/env6950/certificates/envcert6950?api-version=2022-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "14" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11990" ],
        "api-supported-versions": [ "2022-01-01-preview, 2022-03-01, 2022-05-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup6950/providers/Microsoft.App/managedEnvironments/env6950/certificates/envcert6950\",\"name\":\"envcert6950\",\"type\":\"Microsoft.App/managedEnvironments/certificates\",\"location\":\"canadacentral\",\"systemData\":{\"createdBy\":\"v-jinpel@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2022-05-30T10:56:38.8682999\",\"lastModifiedBy\":\"v-jinpel@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2022-05-30T10:56:38.8682999\"},\"properties\":{\"subjectName\":\"CN=www.fabrikam.com\",\"issuer\":\"CN=www.fabrikam.com\",\"issueDate\":\"2022-05-25T10:43:28\",\"expirationDate\":\"2023-05-25T11:03:28\",\"thumbprint\":\"4FCA2F8CA8A95F87F7CDC7B69DA441C3E1A178FF\",\"valid\":true,\"publicKeyHash\":\"PtV2Vv9HDXb5qeF6RdLLX+Fnao2KsGuZJvazEsU8/Mo=\",\"provisioningState\":\"Succeeded\"}}",
    }
  },
  "AzContainerApp+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup6950/providers/Microsoft.App/managedEnvironments/env6950?api-version=2022-03-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup6950/providers/Microsoft.App/managedEnvironments/env6950?api-versi[...]
