{
  "Get-AzFabricCapacitySku+[NoContext]+List+$GET+https://management.azure.com/subscriptions/066c6e9e-c9ae-453d-bd2c-dacb1194fc0d/providers/Microsoft.Fabric/skus?api-version=2023-11-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/066c6e9e-c9ae-453d-bd2c-dacb1194fc0d/providers/Microsoft.Fabric/skus?api-version=2023-11-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "8" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "498" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "7498" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"resourceType\":\"Capacities\",\"name\":\"F1024\",\"locations\":[\"Australia East\"],\"locationInfo\":[{\"location\":\"Australia East\",\"zones\":[],\"zoneDetails\":[]}],\"restrictions\":[]},{\"resourceType\":\"Capacities\",\"name\":\"F1024\",\"locations\":[\"Australia Southeast\"],\"locationInfo\":[{\"location\":\"Australia Southeast\",\"zones\":[],\"zoneDetails\":[]}],\"restrictions\":[]},{\"resourceType\":\"Capacities\",\"name\":\"F1024\",\"locations\":[\"Brazil South\"],\"locationInfo\":[{\"location\":\"Brazil South\",\"zones\":[],\"zoneDetails\":[]}],\"restrictions\":[]},{\"resourceType\":\"Capacities\",\"name\":\"F1024\",\"locations\":[\"Canada Central\"],\"locationInfo\":[...]
