{
  "Test-AzFabricCapacityNameAvailability+[NoContext]+CheckExpanded+$POST+https://management.azure.com/subscriptions/066c6e9e-c9ae-453d-bd2c-dacb1194fc0d/providers/Microsoft.Fabric/locations/West US/checkNameAvailability?api-version=2023-11-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/066c6e9e-c9ae-453d-bd2c-dacb1194fc0d/providers/Microsoft.Fabric/locations/West%20US/checkNameAvailability?api-version=2023-11-01",
      "Content": "{\n  \"name\": \"fkpryhadsgcx\",\n  \"type\": \"Microsoft.Fabric/capacities\"\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-current-utc-date": [ "9/1/2024 1:12:32 PM" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "399" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "5999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"nameAvailable\":true}",
    }
  },
  "Test-AzFabricCapacityNameAvailability+[NoContext]+CheckExpanded+$POST+https://management.azure.com/subscriptions/066c6e9e-c9ae-453d-bd2c-dacb1194fc0d/providers/Microsoft.Fabric/locations/West US/checkNameAvailability?api-version=2023-11-01+2": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/066c6e9e-c9ae-453d-bd2c-dacb1194fc0d/providers/Microsoft.Fabric/locations/West%20US/checkNameAvailability?api-version=2023-11-01",
      "Content": "{\n  \"name\": \"lkwhyfmoqsjt\",\n  \"type\": \"Microsoft.Fabric/capacities\"\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-current-utc-date": [ "9/1/2024 1:12:33 PM" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "399" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "5999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"nameAvailable\":false,\"reason\":\"AlreadyExists\",\"message\":\"Fabric Capacity with same name is already present\"}",
    }
  }
}