{
  "Entries": [
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/locations",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Locations xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Location>\r\n    <Name>East US</Name>\r\n    <DisplayName>East US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableService>Storage</AvailableService>\r\n      <AvailableService>PersistentVMRole</AvailableService>\r\n      <AvailableService>HighMemory</AvailableService>\r\n    </AvailableServices>\r\n    <ComputeCapabilities>\r\n      <WebWorkerRoleSizes>\r\n        <RoleSize>A10</RoleSize>\r\n        <RoleSize>A11</RoleSize>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>A8</RoleSize>\r\n        <RoleSize>A9</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Standard_D1</RoleSize>\r\n        <RoleSize>Standard_D11</RoleSize>\r\n        <RoleSize>Standard_D12</RoleSize>\r\n        <RoleSize>Standard_D13</RoleSize>\r\n        <RoleSize>Standard_D14</RoleSize>\r\n        <RoleSize>Standard_D2</RoleSize>\r\n        <RoleSize>Standard_D3</RoleSize>\r\n        <RoleSize>Standard_D4</RoleSize>\r\n      </WebWorkerRoleSizes>\r\n      <VirtualMachinesRoleSizes>\r\n        <RoleSize>A10</RoleSize>\r\n        <RoleSize>A11</RoleSize>\r\n        <RoleSize>A5</RoleSize>\r\n        <RoleSize>A6</RoleSize>\r\n        <RoleSize>A7</RoleSize>\r\n        <RoleSize>A8</RoleSize>\r\n        <RoleSize>A9</RoleSize>\r\n        <RoleSize>Basic_A0</RoleSize>\r\n        <RoleSize>Basic_A1</RoleSize>\r\n        <RoleSize>Basic_A2</RoleSize>\r\n        <RoleSize>Basic_A3</RoleSize>\r\n        <RoleSize>Basic_A4</RoleSize>\r\n        <RoleSize>ExtraLarge</RoleSize>\r\n        <RoleSize>ExtraSmall</RoleSize>\r\n        <RoleSize>Large</RoleSize>\r\n        <RoleSize>Medium</RoleSize>\r\n        <RoleSize>Small</RoleSize>\r\n        <RoleSize>Standard_D1</RoleSize>\r\n        <RoleSize>Standard_D11</RoleSize>\r\n        <RoleSize>Standard_D12</RoleSize>\r\n        <RoleSize>Standard_D13</RoleSize>\r\n        <RoleSize>Standard_D14</RoleSize>\r\n        <RoleSize>Standard_D2</RoleSize>\r\n        <RoleSize>Standard_D3</RoleSize>\r\n        <RoleSize>Standard_D4</RoleSize>\r\n      </VirtualMachinesRoleSizes>\r\n    </ComputeCapabilities>\r\n    <StorageCapabilities>\r\n      <StorageAccountTypes>\r\n        <StorageAccountType>Standard_LRS</StorageAccountType>\r\n        <StorageAccountType>Standard_ZRS</StorageAccountType>\r\n        <StorageAccountType>Standard_GRS</StorageAccountType>\r\n        <StorageAccountType>Standard_RAGRS</StorageAccountType>\r\n      </StorageAccountTypes>\r\n    </StorageCapabilities>\r\n  </Location>\r\n  <Location>\r\n    <Name>West US</Name>\r\n    <DisplayName>West US</DisplayName>\r\n    <AvailableServices>\r\n      <AvailableService>Compute</AvailableService>\r\n      <AvailableServ[...]
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/operations/c2ddebac2ec1ce2b85e6a2b9be0ae65b",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>c2ddebac-2ec1-ce2b-85e6-a2b9be0ae65b</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/services/images",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-04-01"
        ]
      },
      "ResponseBody": "<Images xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <OSImage>\r\n    <Category>Public</Category>\r\n    <Label>CoreCLR x64 Beta5 (11624) with PartsUnlimited Demo App on Ubuntu Server 14.04 LTS</Label>\r\n    <Location>East Asia;Southeast Asia;North Europe;West Europe;Central US;East US;East US 2;South Central US;West US</Location>\r\n    <LogicalSizeInGB>30</LogicalSizeInGB>\r\n    <Name>03f55de797f546a1b29d1b8d66be687a__CoreCLR-x64-Beta5-Linux-PartsUnlimited-Demo-App-201504.29</Name>\r\n    <OS>Linux</OS>\r\n    <Eula>http://go.microsoft.com/fwlink/?LinkId=521895</Eula>\r\n    <Description>Linux VM image with coreclr-x64-beta5-11624 installed to /opt/dnx. This image is based on Ubuntu 14.04 LTS, with prerequisites of CoreCLR installed. It also contains PartsUnlimited demo app which runs on the installed coreclr. The demo app is installed to /opt/demo. To run the demo, please type the command '/opt/demo/Kestrel' in a terminal window. The website is listening on port 5004. Please enable or map a endpoint of HTTP port 5004 for your azure VM.</Description>\r\n    <ImageFamily>CoreCLR x64 Beta5 (11624) with PartsUnlimited Demo App on Ubuntu Server 14.04 LTS</ImageFamily>\r\n    <PublishedDate>2015-04-29T07:00:00Z</PublishedDate>\r\n    <IsPremium>false</IsPremium>\r\n    <IconUri>Ubuntu-cof-45.png</IconUri>\r\n    <PrivacyUri>http://go.microsoft.com/fwlink/?LinkID=528096</PrivacyUri>\r\n    <RecommendedVMSize>Standard_D1</RecommendedVMSize>\r\n    <PublisherName>Microsoft Visual Studio Group</PublisherName>\r\n    <SmallIconUri>Ubuntu-cof-45.png</SmallIconUri>\r\n    <IOType>Standard_LRS</IOType>\r\n  </OSImage>\r\n  <OSImage>\r\n    <Category>Public</Category>\r\n    <Label>Team Foundation Server 2013 Update 4 on Windows Server 2012 R2</Label>\r\n    <Location>East Asia;Southeast Asia;North Europe;West Europe;Central US;East US;East US 2;South Central US;West US</Location>\r\n    <LogicalSizeInGB>128</LogicalSizeInGB>\r\n    <Name>03f55de797f546a1b29d1b8d66be687a__Team-Foundation-Server-2013-Update4-WS2012R2</Name>\r\n    <OS>Windows</OS>\r\n    <Eula>http://www.mi[...]
[...]
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/services/vmimages",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-04-01"
        ]
      },
      "ResponseBody": "<VMImages xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <VMImage>\r\n    <Name>imgpstestsvc1463</Name>\r\n    <Label>pstestsvc1463</Label>\r\n    <Category>User</Category>\r\n    <OSDiskConfiguration>\r\n      <Name>imgpstestsvc1463-os-2015-08-06</Name>\r\n      <HostCaching>ReadWrite</HostCaching>\r\n      <OSState>Specialized</OSState>\r\n      <OS>Windows</OS>\r\n      <MediaLink>http://psteststo7810.blob.core.windows.net/myvhds/imgpstestsvc1463-os-2015-08-06.vhd</MediaLink>\r\n      <LogicalDiskSizeInGB>32</LogicalDiskSizeInGB>\r\n      <IOType>Standard</IOType>\r\n    </OSDiskConfiguration>\r\n    <DataDiskConfigurations>\r\n      <DataDiskConfiguration>\r\n        <Name>imgpstestsvc1463-datadisk-0-2015-08-06</Name>\r\n        <HostCaching>ReadOnly</HostCaching>\r\n        <Lun>0</Lun>\r\n        <MediaLink>https://psteststo7810.blob.core.windows.net/myvhds/imgpstestsvc1463-datadisk-0-2015-08-06.vhd</MediaLink>\r\n        <LogicalDiskSizeInGB>1</LogicalDiskSizeInGB>\r\n        <IOType>Standard</IOType>\r\n      </DataDiskConfiguration>\r\n    </DataDiskConfigurations>\r\n    <ServiceName>pstestsvc1463</ServiceName>\r\n    <DeploymentName>pstestsvc1463Prod</DeploymentName>\r\n    <RoleName>pstestsvc1463</RoleName>\r\n    <Location>West US</Location>\r\n    <CreatedTime>2015-08-06T21:27:54.644789Z</CreatedTime>\r\n    <ModifiedTime>2015-08-06T21:27:54.644789Z</ModifiedTime>\r\n    <IsPremium>false</IsPremium>\r\n    <VMImageState>VMImageReadyForUse</VMImageState>\r\n    <RoleStateOnCapture>StoppedVM</RoleStateOnCapture>\r\n    <RoleSizeOnCapture>Large</RoleSizeOnCapture>\r\n  </VMImage>\r\n  <VMImage>\r\n    <Name>imgpstestsvc14632</Name>\r\n    <Label>pstestsvc1463</Label>\r\n    <Category>User</Category>\r\n    <OSDiskConfiguration>\r\n      <Name>imgpstestsvc14632-os-2015-08-06</Name>\r\n      <HostCaching>ReadWrite</HostCaching>\r\n      <OSState>Generalized</OSState>\r\n      <OS>Windows</OS>\r\n      <MediaLink>http://psteststo7810.blob.core.windows.net/myvhds/imgpstestsvc14632-os-2015-08-06.vhd</MediaLink>\r\n      <LogicalDiskSi[...]
[...]
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/services/storageservices",
      "RequestMethod": "POST",
      "RequestBody": "<CreateStorageServiceInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>pstestonesdk2888</ServiceName>\r\n  <Description p2:nil=\"true\" xmlns:p2=\"http://www.w3.org/2001/XMLSchema-instance\" />\r\n  <Label>cHN0ZXN0b25lc2RrMjg4OA==</Label>\r\n  <Location>East US</Location>\r\n  <AccountType>Standard_GRS</AccountType>\r\n</CreateStorageServiceInput>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ],
        "Location": [
          "https://management.core.windows.net/subscriptions/4d368445-cbb1-42a7-97a6-6850ab99f48e/storage/pstestonesdk2888"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/services/hostedservices",
      "RequestMethod": "POST",
      "RequestBody": "<CreateHostedService xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>pstestonesdk8943</ServiceName>\r\n  <Label>cHN0ZXN0b25lc2RrODk0Mw==</Label>\r\n  <Location>East US</Location>\r\n</CreateHostedService>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2015-04-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ],
        "Location": [
          "https://management.core.windows.net/subscriptions/4d368445-cbb1-42a7-97a6-6850ab99f48e/compute/pstestonesdk8943"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/services/hostedservices/pstestonesdk8943/deploymentslots/Production",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-04-01"
        ]
      },
      "ResponseBody": "<Error xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Code>ResourceNotFound</Code>\r\n  <Message>No deployments were found.</Message>\r\n</Error>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/4d368445-cbb1-42a7-97a6-6850ab99f48e/services/hostedservices/pstestonesdk8943/deploymentslots/Production",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-04-01"
        ]
      },
      "ResponseBody": "<Deployment xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Name>cdf34a4c-363c-41ba-9274-0a1d859d3b88</Name>\r\n  <DeploymentSlot>Production</DeploymentSlot>\r\n  <PrivateID>50ecf2507df146d7bc966ccef242671a</PrivateID>\r\n  <Status>Running</Status>\r\n  <Label>cHN0ZXN0b25lc2RrODk0Mw==</Label>\r\n  <Url>http://pstestonesdk8943.cloudapp.net/</Url>\r\n  <Configuration>PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IS0tICAqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqICBUaGlzIGZpbGUgd2FzIGdlbmVyYXRlZCBieSBhIHRvb2wgZnJvbSB0aGUgcHJvamVjdCBmaWxlOiBTZXJ2aWNlQ29uZmlndXJhdGlvbi5DbG91ZC5jc2NmZyAgQ2hhbmdlcyB0byB0aGlzIGZpbGUgbWF5IGNhdXNlIGluY29ycmVjdCBiZWhhdmlvciBhbmQgd2lsbCBiZSBsb3N0IGlmIHRoZSBmaWxlIGlzIHJlZ2VuZXJhdGVkLiAgKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKi0tPjxTZXJ2aWNlQ29uZmlndXJhdGlvbiBzZXJ2aWNlTmFtZT0iT25lV2ViT25lV29ya2VyIiB4bWxucz0iaHR0cDovL3NjaGVtYXMubWljcm9zb2Z0LmNvbS9TZXJ2aWNlSG9zdGluZy8yMDA4LzEwL1NlcnZpY2VDb25maWd1cmF0aW9uIiBvc0ZhbWlseT0iMiIgb3NWZXJzaW9uPSIqIiBzY2hlbWFWZXJzaW9uPSIyMDEyLTEwLjEuOCI+ICA8Um9sZSBuYW1lPSJXZWJSb2xlMSI+ICAgIDxJbnN0YW5jZXMgY291bnQ9IjEiIC8+ICAgIDxDb25maWd1cmF0aW9uU2V0dGluZ3M+ICAgICAgPFNldHRpbmcgbmFtZT0iTWljcm9zb2Z0LldpbmRvd3NBenVyZS5QbHVnaW5zLkRpYWdub3N0aWNzLkNvbm5lY3Rpb25TdHJpbmciIHZhbHVlPSJVc2VEZXZlbG9wbWVudFN0b3JhZ2U9dHJ1ZSIgLz4gICAgPC9Db25maWd1cmF0aW9uU2V0dGluZ3M+ICA8L1JvbGU+ICA8Um9sZSBuYW1lPSJXb3JrZXJSb2xlMSI+ICAgIDxJbnN0YW5jZXMgY291bnQ9IjEiIC8+ICAgIDxDb25maWd1cmF0aW9uU2V0dGluZ3M+ICAgICAgPFNldHRpbmcgbmFtZT0iTWljcm9zb2Z0LldpbmRvd3NBenVyZS5QbHVnaW5zLkRpYWdub3N0aWNzLkNvbm5lY3Rpb25TdHJpbmciIHZhbHVlPSJVc2VEZXZlbG9wbWVudFN0b3JhZ2U9dHJ1ZSIgLz4gICAgPC9Db25maWd1cmF0aW9uU2V0dGluZ3M+ICA8L1JvbGU+PC9TZXJ2aWNlQ29uZmlndXJhdGlvbj4=</Configuration>\r\n  <RoleInstanceList>\r\n    <RoleInstance>\r\n      <RoleName>WebRole1</RoleName>\r\n      <InstanceName>WebRole1_IN_0</InstanceName>\r\n      <InstanceStatus>CreatingVM</InstanceStatus>\r\n      <InstanceUpgradeDomain>0</InstanceUpgradeDomain>\r\n      <InstanceFaultDomain>0</InstanceFaultDomain>\r\n      <InstanceSize>Small</InstanceSize>\r\n      <InstanceStateDetails />\r\n      <IpAddress>100.117.106.56</IpAddress>\r\n      <InstanceEndpoints>\r\n        <InstanceEndpoint>\r\n          <Name>Endpoint1</Name>\r\n          <Vip>137.135.102.129</Vip>\r\n          <PublicPort>80</PublicPort>\r\n          <LocalPort>80</LocalPort>\r\n          <Protocol>http</Protocol>\r\n        </InstanceEndpoint>\r\n        <InstanceEndpoint>\r\n          <Name>Microsoft.WindowsAzure.Plugins.RemoteForwarder.RdpInput</Name>\r\n          <Vip>137.135.102.129</Vip>\r\n          <PublicPort>3389</PublicPort>\r\n          <LocalPort>20000</LocalPort>\r\n          <Protocol>tcp</Protocol>\r\n        </InstanceEndpoint>\r\n      </InstanceEndpoints>\r\n      <PowerState>Stopped</PowerState>\r\n    </RoleInstance>\r\n    <RoleInstance>\r\n      <RoleName>WorkerRole1</RoleName>\r\n      <InstanceName>WorkerRole1_IN_0</InstanceName>\r\n      <InstanceStatus>CreatingVM</InstanceStatus>\r\n      <InstanceUpgradeDomain>0</InstanceUpgradeDomain>\r\n      <InstanceFaultDomain>0</InstanceFaultDomain>\r\n      <InstanceSize>Small</InstanceSize>\r\n      <InstanceStateDetails />\r\n      <IpAddress>100.117.84.95</IpAddress>\r\n      <PowerState>Stopped</PowerState>\r\n    </RoleInstance>\r\n  </RoleInstanceList>\r\n  <UpgradeDomainCount>1</UpgradeDomainCount>\r\n  <RoleList>\r\n    <Role>\r\n      <RoleName>WebRole1</RoleName>\r\n      <OsVersion>WA-GUEST-OS-2.41_201507-02</OsVersion>\r\n      <ConfigurationSets>\r\n        <ConfigurationSet i:type=\"NetworkConfigurationSet\">\r\n          <ConfigurationSetType>NetworkConfiguration</ConfigurationSetType>\r\n          <InputEndpoints>\r\n            <InputEndpoint>\r\n              <Port>80</Port>\r\n              <Protocol>http</Protocol>\r\n              <Vip>137.135.102.129</Vip>\r\n              <VirtualIPName>OneWebOneWorkerContractContract</VirtualIPName>\r\n            </InputEndpoint>\r\n            <InputEndpoint>\r\n              <Port>3389</Port>\r\n              <Protocol>tcp</Protocol>\r\n              <Vip>137.135.102.129</Vip>\r\n              <VirtualIPName>OneWebOneWorkerContractContract</VirtualIPName>\r\n            </InputEndpoint>\r\n          </InputEndpoints>\r\n          <SubnetNames />\r\n        </ConfigurationSet>\r\n      </ConfigurationSets>\r\n    </Role>\r\n    <Role>\r\n      <RoleName>WorkerRole1</RoleName>\r\n      <OsVersion>WA-GUEST-OS-2.41_201507-02</OsVersion>\r\n      <ConfigurationSets>\r\n        <ConfigurationSet i:type=\"NetworkConfigurationSet\">\r\n          <ConfigurationSetType>NetworkConfiguration</ConfigurationSetType>\r\n          <SubnetNames />\r\n        </ConfigurationSet>\r\n      </ConfigurationSets>\r\n    </Role>\r\n  </RoleList>\r\n  <SdkVersion>1.8.31004.1351</SdkVersion>\r\n  <Locked>false</Locked>\r\n  <RollbackAllowed>false</RollbackAllowed>\r\n  <CreatedTime>2015-08-07T08:19:38Z</CreatedTime>\r\n  <LastModifiedTime>2015-08-07T08:20:29Z</LastModifiedTime>\r\n  <ExtendedProperties />\r\n  <PersistentVMDowntime>\r\n    <StartTime>2015-08-04T15:59:24Z</StartTime>\r\n    <EndTime>2015-08-08T15:59:24Z</EndTime>\r\n    <Status>PersistentVMUpdateScheduled</Status>\r\n  </PersistentVMDowntime>\r\n  <ExtensionConfiguration>\r\n    <AllRoles />\r\n    <NamedRoles>\r\n      <Role>\r\n        <RoleName>WebRole1</RoleName>\r\n        <Extensions>\r\n          <Extension>\r\n            <Id>WebRole1-RDP-Production-Ext-0</Id>\r\n            <State>enable</State>\r\n          </Extension>\r\n          <Extension>\r\n            <Id>WebRole1-ADDomain-Production-Ext-0</Id>\r\n            <State>enable</State>\r\n          </Extension>\r\n        </Extensions>\r\n      </Role>\r\n    </NamedRoles>\r\n  </ExtensionConfiguration>\r\n  <VirtualIPs>\r\n    <VirtualIP>\r\n      <Address>137.135.102.129</Address>\r\n      <IsDnsProgrammed>true</IsDnsProgrammed>\r\n      <Name>OneWebOneWorkerContractContract</Name>\r\n    </VirtualIP>\r\n  </VirtualIPs>\r\n  <LoadBalancers />\r\n</Deployment>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
[...]
