{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/servicePrincipals?$filter=servicePrincipalNames/any(c:%20c%20eq%20'badspn')&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "nwoPDPBe8J1qM7KlA3xNHurxCxJXOtsHl8UwAYIE67M="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "M-FO4c5DhVmtQiDEIm5_XjqocO_vV9an3r6bMTWVw25znyFFFOX2M0MyqCvx5q7yCNhCo4tHcW92szDxlXaXoFEaO8dx5LFHZ2c7uJ8zR4mBG-6cD2pt63RHey32cpIw031BVqCQsWGQ2aJU2at0HuUawDKVROXLgfDk0yDyo_7vguy2DRdC6MhtvvOYlYgOJByqE7gon7_lZyXYUmiP6w.p_vnmdSdb2kYSe1hqcew5SWjIFJHxNdswPfLEHzfHko"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "515954"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}