{
  "Get-AzEventHubCluster+[NoContext]+List+$GET+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.EventHub/clusters?api-version=2022-01-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.EventHub/clusters?api-version=2022-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "43" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "", "9ceab9a0-59bf-4074-bdaf-df5f3892aa23_M6SN1_M6SN1", "5e6d53f8-dcde-414a-b5a5-1f2913f90d46_M10SN1_M10SN1", "", "4f85f361-b321-4acc-91ad-0d175ac5263f_M2SN1_M2SN1", "f179c6bb-cc0f-4254-bb53-7f9377d549e3_M2SN1_M2SN1" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11962" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/framborg/providers/Microsoft.EventHub/clusters/frambunctious\",\"name\":\"frambunctious\",\"type\":\"Microsoft.EventHub/Clusters\",\"location\":\"eastasia\",\"tags\":{},\"properties\":{\"createdAt\":\"0001-01-01T00:00:00Z\",\"updatedAt\":\"2022-08-04T20:44:02.8142956Z\",\"provisioningState\":\"Succeeded\",\"status\":\"Active\",\"supportsScaling\":true,\"metricId\":\"PROD-HK-V51000\"},\"sku\":{\"name\":\"Dedicated\",\"capacity\":1}},{\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/cluster0xdp53\",\"name\":\"cluster0xdp53\",\"type\":\"Microsoft.EventHub/Clusters\",\"location\":\"eastasia\",\"properties\":{\"createdAt\":\"2022-11-18T05:29:06.3049731Z\",\"updatedAt\":\"2022-11-18T05:29:06.3049731Z\",\"provisioningState\":\"Creating\",\"status\":\"Creating\",\"supportsScaling\":true,\"metricId\":\"\"},\"sku\":{\"name\":\"Dedicated\"[...]
