{
  "Get-AzEventHubNamespaceV2+[NoContext]+List+$GET+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.EventHub/namespaces?api-version=2023-01-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.EventHub/namespaces?api-version=2023-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "54" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "" ],
        "x-ms-throttling-version": [ "v1" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/Default-EventHub-1620/providers/Microsoft.EventHub/namespaces/sdk-NS-8157\",\"name\":\"sdk-NS-8157\",\"type\":\"Microsoft.EventHub/Namespaces\",\"location\":\"australiaeast\",\"tags\":{\"tag1\":\"value1\",\"tag2\":\"value2\"},\"properties\":{\"minimumTlsVersion\":\"1.0\",\"publicNetworkAccess\":\"Enabled\",\"disableLocalAuth\":false,\"zoneRedundant\":false,\"metricId\":\"326100e2-f69d-4268-8503-075374f62b6e:sdk-ns-8157\",\"serviceBusEndpoint\":\"https://sdk-NS-8157.servicebus.windows.net:443/\",\"isAutoInflateEnabled\":false,\"maximumThroughputUnits\":0,\"kafkaEnabled\":true,\"provisioningState\":\"Succeeded\",\"status\":\"Active\",\"createdAt\":\"2022-06-14T01:09:19.1036599Z\",\"updatedAt\":\"2022-06-14T22:16:50.8086671Z\"},\"sku\":{\"name\":\"Standard\",\"tier\":\"Standard\",\"capacity\":1}},{\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestvj6k4w/providers/Microsoft.EventHub/namespaces/namespaceNamey3cetb\",\"name\":\"namespaceNamey3cetb\",\"type\":\"Microsoft.EventHub/Namespaces\",\"location\":\"australiaeast\",\"tags\":{},\"properties\":{\"minimumTlsVersion\":\"1.2\",\"publicNetworkAccess\":\"Enabled\",\"disableLocalAuth\":false,\"zoneRedundant\":true,\"metricId\":\"326100e2-f69d-4268-8503-075374f62b6e:namespacenamey3cetb\",\"se[...]
