{
  "Get-AzEventHubKey+[NoContext]+GetExpandedNamespace+$POST+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/Autorest-PS-EventHub-rci2wp/providers/Microsoft.EventHub/namespaces/namespaceName42kzga/authorizationRules/auth-rulevc2hn9/listKeys?api-version=2023-01-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/Autorest-PS-EventHub-rci2wp/providers/Microsoft.EventHub/namespaces/namespaceName42kzga/authorizationRules/auth-rulevc2hn9/listKeys?api-version=2023-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "54" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-messaging-activity-id": [ "5e207256-f227-4654-8b7e-2ebdd40f02bd" ],
        "x-ms-messaging-routing-id": [ "EASTUS|EASTUS|G6|2025-01-21T11:38:39" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "799" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"primaryConnectionString\":\"Endpoint=sb://namespacename42kzga.servicebus.windows.net/;SharedAccessKeyName=auth-rulevc2hn9;SharedAccessKey=sanitizer1\",\"secondaryConnectionString\":\"Endpoint=sb://namespacename42kzga.servicebus.windows.net/;SharedAccessKeyName=auth-rulevc2hn9;SharedAccessKey=sanitizer2\",\"primaryKey\":\"sanitizer1\",\"secondaryKey\":\"sanitizer2\",\"keyName\":\"auth-rulevc2hn9\"}",
    }
  },
  "Get-AzEventHubKey+[NoContext]+GetExpandedEntity+$POST+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/Autorest-PS-EventHub-rci2wp/providers/Microsoft.EventHub/namespaces/namespaceName42kzga/eventhubs/eventHubkunz3v/authorizationRules/auth-rulebc97lg/listKeys?api-version=2023-01-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4[...]
