{
  "New-AzEventHubCluster+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/clusterldc79a?api-version=2022-01-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/clusterldc79a?api-version=2022-01-01-preview",
      "Content": "{\n  \"location\": \"eastasia\",\n  \"sku\": {\n    \"name\": \"Dedicated\",\n    \"capacity\": 2\n  },\n  \"properties\": {\n    \"supportsScaling\": true\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/microsoft.eventhub/locations/eastasia/clusterOperationResults/326100e2-f69d-4268-8503-075374f62b6e-AutomatedPowershellTesting-clusterldc79a?isAsyncHeader=false\u0026resourceName=clusterldc79a\u0026resourceGroupName=AutomatedPowershellTesting\u0026resourceType=cluster\u0026api-version=2022-01-01-preview" ],
        "Azure-AsyncOperation": [ "https://management.azure.com:443/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/microsoft.eventhub/locations/eastasia/clusterOperationResults/326100e2-f69d-4268-8503-075374f62b6e-AutomatedPowershellTesting-clusterldc79a?isAsyncHeader=true\u0026resourceName=clusterldc79a\u0026resourceGroupName=AutomatedPowershellTesting\u0026resourceType=cluster\u0026api-version=2022-01-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1189" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/clusterldc79a\",\"name\":\"clusterldc79a\",\"type\":\"Microsoft.EventHub/Clusters\",\"location\":\"eastasia\",\"properties\":{\"status\":\"Unknown\",\"supportsScaling\":true},\"sku\":{\"name\":\"Dedicated\",\"capacity\":2}}",
    }
  },
  "New-AzEventHubCluster+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/microsoft.eventhub/locations/eastasia/clusterOperationResults/326100e2-f69d-4268-8503-075374f62b6e-AutomatedPowershellTesting-clusterldc79a?isAsyncHeader=true\u0026resourceName=clusterldc79a\u0026resourceGroupName=AutomatedPowershellTesting\u0026resourceType=cluster\u0026api-version=2022-01-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/microsoft.eventhub/locations/eastasia/clusterOperationResults/326100e2-f69d-4268-8503-075374f62b6e-AutomatedPowershellTesting-clusterldc79a?isAsyncHeader=true\u0026resourceName=clusterldc79a\u0026resourceGroupName=AutomatedPowershellTesting\u0026resourceType=cluster\u0026api-version=2022-01-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "75" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11909" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"name\":\"326100e2-f69d-4268-8503-075374f62b6e-AutomatedPowershellTesting-clusterldc79a\",\"status\":\"Failed\",\"error\":{\"code\":\"500\",\"message\":\"No InternalSubscription has necessary capacity\"}}",
    }
  }
}