{
  "Remove-AzEventHubSchemaGroup+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/0c324d8a-48fd-4bf7-af95-c686eefae895/resourceGroups/Autorest-PS-EventHub-a0nzt5/providers/Microsoft.EventHub/namespaces/namespaceNametu3zkp/schemagroups/schemaGrouprp3sqz?api-version=2026-07-01-preview+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/0c324d8a-48fd-4bf7-af95-c686eefae895/resourceGroups/Autorest-PS-EventHub-a0nzt5/providers/Microsoft.EventHub/namespaces/namespaceNametu3zkp/schemagroups/schemaGrouprp3sqz?api-version=2026-07-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "197" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-messaging-activity-id": [ "00000001-0000-0000-0002-000000000528" ],
        "x-ms-messaging-routing-id": [ "PROD|AUSTRALIAEAST|AUSTRALIAEAST|G6|2026-10-01T11:57:49" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "199" ],
        "x-ms-ratelimit-remaining-subscription-global-deletes": [ "2999" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Remove-AzEventHubSchemaGroup+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/0c324d8a-48fd-4bf7-af95-c686eefae895/resourceGroups/Autorest-PS-EventHub-a0nzt5/providers/Microsoft.EventHub/namespaces/namespaceNametu3zkp/schemagroups/schemaGrouprp3sqz?api-version=2026-07-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0c324d8a-48fd-4bf7-af95-c686eefae895/resourceGroups/Autorest-PS-EventHub-a0nzt5/providers/Microsoft.EventHub/namespaces/namespaceNametu3zkp/schemagroups/schemaGrouprp3sqz?api-version=2026-07-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "198" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-messaging-activity-id": [ "7e41be27-8b93-4475-8ff3-dd0b86c34bcb" ],
        "x-ms-messaging-routing-id": [ "PROD|AUSTRALIAEAST|AUSTRALIAEAST|G13|2026-10-01T11:57:50" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "248" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3748" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"error\":{\"code\":\"EntityNotFound\",\"message\":\"Schema Group does not exist\"}}",
    }
  },
  "Remove-AzEventHubSchemaGroup+[NoContext]+DeleteViaIdentity+$GET+https://management.azure.com/subscriptions/0c324d8a-48fd-4bf7-af95-c686eefae895/resourceGroups/Autorest-PS-EventHub-a0nzt5/providers/Microsoft.EventHub/namespaces/namespaceNametu3zkp/schemagroups/schemaGroupvo7xd6?api-version=2026-07-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0c324d8a-48fd-4bf7-af95-c686eefae895/resourceGroups/Autorest-PS-EventHub-a0nzt5/providers/Microsoft.EventHub/namespaces/namespaceNametu3zkp/schemagroups/schemaGroupvo7xd6?api-version=2026-07-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "199" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-messaging-activity-id": [ "0f9530db-556f-4740-9af7-9fd1b3ece439" ],
        "x-ms-messaging-routing-id": [ "PROD|AUSTRALIAEAST|AUSTRALIAEAST|G2|2026-10-01T11:57:51" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "247" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3747" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/0c324d8a-48fd-4bf7-af95-c686eefae895/resourceGroups/Autorest-PS-EventHub-a0nzt5/providers/Microsoft.EventHub/namespaces/namespaceNametu3zkp/schemaGroups/schemaGroupvo7xd6\",\"name\":\"schemaGroupvo7xd6\",\"type\":\"Microsoft.EventHub/namespaces/schemagroups\",\"location\":\"australiaeast\",\"properties\":{\"updatedAtUtc\":\"2026-10-01T11:53:10.0444863Z\",\"createdAtUtc\":\"2026-10-01T11:53:10.0444863Z\",\"eTag\":\"04b4444c-f81e-4d2e-8fc6-161b8c2ea13e\",\"groupProperties\":{},\"schemaCompatibility\":\"Backward\",\"schemaType\":\"Avro\"}}",
    }
  },
  "Remove-AzEventHubSchemaGroup+[NoContext]+DeleteViaIdentity+$DELETE+https://management.azure.com/subscriptions/0c324d8a-48fd-4bf7-af95-c686eefae895/resourceGroups/Autorest-PS-EventHub-a0nzt5/providers/Microsoft.EventHub/namespaces/namespaceNametu3zkp/schemagroups/schemaGroupvo7xd6?api-version=2026-07-01-preview+2": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/0c324d8a-48fd-4bf7-af95-c686eefae895/resourceGro[...]
