{
  "Remove-AzEventHub+[NoContext]+Delete+$PUT+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestqy8fdg/providers/Microsoft.EventHub/namespaces/namespaceName0hiqkr/eventhubs/eh1?api-version=2023-01-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestqy8fdg/providers/Microsoft.EventHub/namespaces/namespaceName0hiqkr/eventhubs/eh1?api-version=2023-01-01-preview",
      "Content": "{\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-messaging-activity-id": [ "7c161b0c-66fb-4b67-b1f4-69ab35f7aa09" ],
        "x-ms-messaging-routing-id": [ "EASTUS|EASTUS|G6|2024-02-21T12:54:01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestqy8fdg/providers/Microsoft.EventHub/namespaces/namespaceName0hiqkr/eventhubs/eh1\",\"name\":\"eh1\",\"type\":\"Microsoft.EventHub/namespaces/eventhubs\",\"location\":\"eastus\",\"properties\":{\"retentionDescription\":{\"cleanupPolicy\":\"Delete\",\"retentionTimeInHours\":168},\"messageRetentionInDays\":7,\"partitionCount\":4,\"status\":\"Active\",\"createdAt\":\"2024-02-21T12:54:01.003Z\",\"updatedAt\":\"2024-02-21T12:54:01.31Z\",\"partitionIds\":[\"0\",\"1\",\"2\",\"3\"]}}",
    }
  },
  "Remove-AzEventHub+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestqy8fdg/providers/Microsoft.EventHub/namespaces/namespaceName0hiqkr/eventhubs/eh1?api-version=2023-01-01-preview+2": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestqy8fdg/providers/Microsoft.EventHub/namespaces/namespaceName0hiqkr/eventhubs/eh1?api-version=2023-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "137" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-messaging-activity-id": [ "00000001-0000-0000-0002-000000003404" ],
        "x-ms-messaging-routing-id": [ "EASTUS|EASTUS|G3|2024-02-21T12:54:06" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14999" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Remove-AzEventHub+[NoContext]+Delete+$GET+https://managem[...]
