{
<<<<<<< HEAD
  "Remove-AzEventHub+[NoContext]+Delete+$PUT+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestwfkmlo/providers/Microsoft.EventHub/namespaces/namespaceNamez6sfbn/eventhubs/eh1?api-version=2022-10-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestwfkmlo/providers/Microsoft.EventHub/namespaces/namespaceNamez6sfbn/eventhubs/eh1?api-version=2022-10-01-preview",
=======
  "Remove-AzEventHub+[NoContext]+Delete+$PUT+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestbexylc/providers/Microsoft.EventHub/namespaces/namespaceNameyb2pzf/eventhubs/eh1?api-version=2022-01-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestbexylc/providers/Microsoft.EventHub/namespaces/namespaceNameyb2pzf/eventhubs/eh1?api-version=2022-01-01-preview",
>>>>>>> 97176e9029ae7684a4ab56b6bec6966b134d4f91
      "Content": "{\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-writes": [ "1183" ],
        "x-ms-request-id": [ "cd501a3a-1549-48e4-a575-a240d5f36d1d" ],
        "x-ms-correlation-request-id": [ "cd501a3a-1549-48e4-a575-a240d5f36d1d" ],
        "x-ms-routing-request-id": [ "SOUTHCENTRALUS:20230213T180959Z:cd501a3a-1549-48e4-a575-a240d5f36d1d" ],
        "Strict-Transport-Security": [ "max-age=31536000; includeSubDomains" ],
        "X-Content-Type-Options": [ "nosniff" ],
        "Date": [ "Mon, 13 Feb 2023 18:09:58 GMT" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestwfkmlo/providers/Microsoft.EventHub/namespaces/namespaceNamez6sfbn/eventhubs/eh1\",\"name\":\"eh1\",\"type\":\"Microsoft.EventHub/namespaces/eventhubs\",\"location\":\"eastus\",\"properties\":{\"retentionDescription\":{\"cleanupPolicy\":\"Delete\",\"retentionTimeInHours\":168},\"messageRetentionInDays\":7,\"partitionCount\":4,\"status\":\"Active\",\"createdAt\":\"2023-02-13T18:09:58.45Z\",\"updatedAt\":\"2023-02-13T18:09:58.76Z\",\"partitionIds\":[\"0\",\"1\",\"2\",\"3\"]}}",
    }
  },
  "Remove-AzEventHub+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestwfkmlo/providers/Microsoft.EventHub/namespaces/namespaceNamez6sfbn/eventhubs/eh1?api-version=2022-10-01-preview+2": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestwfkmlo/providers/Microsoft.EventHub/namespaces/namespaceNamez6sfbn/eventhubs/eh1?api-version=2022-10-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "182" ]
=======
        "x-ms-ratelimit-remaining-subscription-writes": [ "1184" ],
        "x-ms-request-id": [ "f4db4cc7-1b15-4bf0-8f7f-c26afccca49a" ],
        "x-ms-correlation-request-id": [ "f4db4cc7-1b15-4bf0-8f7f-c26afccca49a" ],
        "x-ms-routing-request-id": [ "KOREACENTRAL:20221125T110408Z:f4db4cc7-1b15-4bf0-8f7f-c26afccca49a" ],
        "Strict-Transport-Security": [ "max-age=31536000; includeSubDomains" ],
        "X-Content-Type-Options": [ "nosniff" ],
        "Date": [ "Fr[...]
