{
  "Set-AzEventHubCluster+[NoContext]+SetExpanded+$GET+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/cluster5nfrp9?api-version=2022-01-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/cluster5nfrp9?api-version=2022-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "256" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11810" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/cluster5nfrp9\",\"name\":\"cluster5nfrp9\",\"type\":\"Microsoft.EventHub/Clusters\",\"location\":\"eastasia\",\"properties\":{\"createdAt\":\"2022-11-18T10:37:54.329831Z\",\"updatedAt\":\"2022-11-18T10:37:54.329831Z\",\"provisioningState\":\"Creating\",\"status\":\"Creating\",\"supportsScaling\":true,\"metricId\":\"\"},\"sku\":{\"name\":\"Dedicated\",\"capacity\":2}}",
    }
  },
  "Set-AzEventHubCluster+[NoContext]+SetExpanded+$PUT+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/cluster5nfrp9?api-version=2022-01-01-preview+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/cluster5nfrp9?api-version=2022-01-01-preview",
      "Content": "{\n  \"location\": \"eastasia\",\n  \"sku\": {\n    \"name\": \"Dedicated\",\n    \"capacity\": 3\n  },\n  \"properties\": {\n    \"supportsScaling\": true\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 500,
      "Headers": {
        "x-ms-failure-cause": [ "service" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1162" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"error\":{\"code\":\"MissingScaleUnitMetadataStoreInternalServerError\",\"message\":\"Missing scale unit \u0027\u0027 in metadata store\"}}",
    }
  },
  "Set-AzEventHubCluster+[NoContext]+SetViaIdentityExpanded+$GET+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/cluster5nfrp9?api-version=2022-01-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups[...]
