{
  "Set-AzEventHubNamespaceV2+[NoContext]+SetExpanded+$GET+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestxq9rwk/providers/Microsoft.EventHub/namespaces/namespaceV58rh5i9?api-version=2022-01-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestxq9rwk/providers/Microsoft.EventHub/namespaces/namespaceV58rh5i9?api-version=2022-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "350" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Server-SB": [ "Service-Bus-Resource-Provider/CH3" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"sku\":{\"name\":\"Premium\",\"tier\":\"Premium\",\"capacity\":1},\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestxq9rwk/providers/Microsoft.EventHub/namespaces/namespaceV58rh5i9\",\"name\":\"namespaceV58rh5i9\",\"type\":\"Microsoft.EventHub/Namespaces\",\"location\":\"North Europe\",\"tags\":{},\"identity\":{\"type\":\"UserAssigned\",\"userAssignedIdentities\":{\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/ps-testing/providers/Microsoft.ManagedIdentity/userAssignedIdentities/PS-Testing-MSI1\":{\"clientId\":\"38a989a1-3fab-4015-b546-cbcf7a67aa89\",\"principalId\":\"624205aa-192c-4303-9606-990d06cbd997\"},\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/ps-testing/providers/Microsoft.ManagedIdentity/userAssignedIdentities/PS-Testing-MSI2\":{\"clientId\":\"440d7336-c408-4327-ad13-10a4e71aad64\",\"principalId\":\"1bdb6af0-4284-47f4-b049-94aa2868d90b\"}}},\"properties\":{\"minimumTlsVersion\":\"1.2\",\"publicNetworkAccess\":\"Enabled\",\"disableLocalAuth\":false,\"zoneRedundant\":true,\"isAutoInflateEnabled\":false,\"maximumThroughputUnits\":0,\"encryption\":{\"keySource\":\"Microsoft.KeyVault\",\"keyVaultProperties\":[{\"keyName\":\"key1\",\"keyVaultUri\":\"https://keyvaultname4wmh0p.vault.azure.net\",\"keyVersion\":\"\",\"identity\":{\"userAssignedIdentity\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/ps-testing/providers/Microsoft.ManagedIdentity/userAssignedIdentities/PS-Testing-MSI1\"}},{\"keyName\":\"key2\",\"keyVaultUri\":\"https://keyvaultname4wmh0p.vault.azure.net\",\"keyVersion\":\"\",\"identity\":{\"userAssignedIdentity\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/ps-testing/providers/Microsoft.ManagedIdentity/userAssignedIdentities/PS-Testing-MSI1\"}}],\"requireInfrastructureEncryption\":false},\"kafkaEnabled\":true,\"provisioningState\":\"Succeeded\",\"metricId\":\"326100e2-f69d-4268-8503-075374f62b6e:namespacev58rh5i9\",\"createdAt\":\"2022-11-24T11:31:59.95Z\",\"updatedAt\":\"2022-11-24T11:39:18.84Z\",\"serviceBusEndpoint\":\"https://namespaceV58rh5i9.servicebus.windows.net:443/\",\"status\":\"Active\"}}",
    }
  },
  "Set-AzEventHubNamespaceV2+[NoContext]+SetExpanded+$GET+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestxq9rwk/providers/Microsoft.EventHub/namespaces/namespaceV58rh5i9?api-version=2022-01-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestxq9rwk/providers/Micr[...]
