{
  "Set-AzEventHubNamespaceV2+[NoContext]+SetExpanded+$GET+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestjnm84f/providers/Microsoft.EventHub/namespaces/namespaceV5w9cyeq?api-version=2023-01-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestjnm84f/providers/Microsoft.EventHub/namespaces/namespaceV5w9cyeq?api-version=2023-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "346" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-messaging-activity-id": [ "0e26bfb9-5ba8-4275-ba5c-6350ddf9b776" ],
        "x-ms-messaging-routing-id": [ "NORTHEUROPE|NORTHEUROPE|G14|2024-02-01T17:33:07" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11992" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/resourceGroupAutorestjnm84f/providers/Microsoft.EventHub/namespaces/namespaceV5w9cyeq\",\"name\":\"namespaceV5w9cyeq\",\"type\":\"Microsoft.EventHub/Namespaces\",\"location\":\"northeurope\",\"tags\":{},\"properties\":{\"minimumTlsVersion\":\"1.2\",\"publicNetworkAccess\":\"Enabled\",\"disableLocalAuth\":false,\"encryption\":{\"keySource\":\"Microsoft.KeyVault\",\"keyVaultProperties\":[{\"keyName\":\"key1\",\"keyVaultUri\":\"https://keyVaultNamexydtwz.vault.azure.net/\",\"identity\":{\"userAssignedIdentity\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/ps-testing/providers/Microsoft.ManagedIdentity/userAssignedIdentities/PS-Testing-MSI1\"}},{\"keyName\":\"key2\",\"keyVaultUri\":\"https://keyVaultNamexydtwz.vault.azure.net/\",\"identity\":{\"userAssignedIdentity\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/ps-testing/providers/Microsoft.ManagedIdentity/userAssignedIdentities/PS-Testing-MSI1\"}}],\"requireInfrastructureEncryption\":false},\"privateEndpointConnections\":[],\"zoneRedundant\":true,\"metricId\":\"326100e2-f69d-4268-8503-075374f62b6e:namespacev5w9cyeq\",\"updatedAt\":\"2024-02-01T17:02:39.1122071Z\",\"serviceBusEndpoint\":\"https://namespaceV5w9cyeq.servicebus.windows.net\",\"isAutoInflateEnabled\":false,\"maximumThroughputUnits\":0,\"kafkaEnabled\":true,\"provisioningState\":\"Succeeded\",\"status\":\"Active\",\"createdAt\":\"2024-02-01T17:01:38.4377889Z\"},\"identity\":{\"type\":\"UserAssigned\",\"userAssignedIdentities\":{\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/ps-testing/providers/Microsoft.ManagedIdentity/userAssignedIdentities/PS-Testing-MSI1\":{\"clientId\":\"38a989a1-3fab-4015-b546-cbcf7a67aa89\",\"principalId\":\"624205aa-192c-4303-9606-990d06cbd997\"},\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/ps-testing/providers/Microsoft.ManagedIdentity/userAssignedIdentities/PS-Testing-MSI2\":{\"clientId\":\"440d7336-c408-4327-ad13-10a4e71aad64\",\"principalId\":\"1bdb6af0-4284-47f4-b049-94aa2868d90b\"}}},\"sku\":{\"name\":\"Premium\",\"tier\":\"Premium\",\"capacity\":1}}",
    }
  },
  "Set-AzEventHubNamespaceV2+[NoContext]+SetExpanded+$GET+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestjnm84f/providers/Microsoft.EventHub/namespaces/namespaceV5w9cyeq?api-version=2023-01-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/resourceGroupAutorestjnm84f/providers/Microsoft.Eve[...]
