{
  "Set-AzEventHubCluster+[NoContext]+SetExpanded+$GET+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/clustertjld7z?api-version=2022-01-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/clustertjld7z?api-version=2022-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "288" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11836" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/clustertjld7z\",\"name\":\"clustertjld7z\",\"type\":\"Microsoft.EventHub/Clusters\",\"location\":\"eastasia\",\"properties\":{\"createdAt\":\"2022-09-26T10:55:02.7223903Z\",\"updatedAt\":\"2022-09-26T11:43:24.050027Z\",\"provisioningState\":\"Succeeded\",\"status\":\"Active\",\"supportsScaling\":true,\"metricId\":\"PROD-HK-V51003\"},\"sku\":{\"name\":\"Dedicated\",\"capacity\":2}}",
    }
  },
  "Set-AzEventHubCluster+[NoContext]+SetExpanded+$PUT+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/clustertjld7z?api-version=2022-01-01-preview+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourceGroups/AutomatedPowershellTesting/providers/Microsoft.EventHub/clusters/clustertjld7z?api-version=2022-01-01-preview",
      "Content": "{\n  \"location\": \"eastasia\",\n  \"sku\": {\n    \"name\": \"Dedicated\",\n    \"capacity\": 3\n  },\n  \"properties\": {\n    \"supportsScaling\": true\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/microsoft.eventhub/locations/eastasia/clusterOperationResults/3ec9ffc3-b01f-4ee3-b416-c8aa3a07b419?isAsyncHeader=false\u0026resourceName=clustertjld7z\u0026resourceGroupName=AutomatedPowershellTesting\u0026resourceType=cluster\u0026api-version=2022-01-01-preview" ],
        "Azure-AsyncOperation": [ "https://management.azure.com:443/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/microsoft.eventhub/locations/eastasia/clusterOperationResults/3ec9ffc3-b01f-4ee3-b416-c8aa3a07b419?isAsyncHeader=true\u0026resourceName=clustertjld7z\u0026resourceGroupName=AutomatedPowershellTesting\u0026resourceType=cluster\u0026api-version=2022-01-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1171" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "applica[...]
