{
  "Set-AzEventHubNamespaceV2+[NoContext]+SetExpanded+$GET+https://management.azure.com/subscriptions/1f64c91d-2e06-42bc-97b6-7773dbff4f40/resourceGroups/Autorest-PS-EventHub-wvbour/providers/Microsoft.EventHub/namespaces/namespaceV5no7fgq?api-version=2026-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/1f64c91d-2e06-42bc-97b6-7773dbff4f40/resourceGroups/Autorest-PS-EventHub-wvbour/providers/Microsoft.EventHub/namespaces/namespaceV5no7fgq?api-version=2026-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "291" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-messaging-activity-id": [ "3f722335-5a58-4608-aa7e-7f7247e4e732" ],
        "x-ms-messaging-routing-id": [ "PROD|EASTUS|EASTUS|G7|2026-07-15T12:25:23" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/1f64c91d-2e06-42bc-97b6-7773dbff4f40/resourceGroups/Autorest-PS-EventHub-wvbour/providers/Microsoft.EventHub/namespaces/namespaceV5no7fgq\",\"name\":\"namespaceV5no7fgq\",\"type\":\"Microsoft.EventHub/Namespaces\",\"location\":\"eastus\",\"tags\":{},\"properties\":{\"ipAddressType\":\"IPv4\",\"dnsNamePolicy\":\"StandardNonPartitionedZone\",\"platformCapabilities\":{\"confidentialCompute\":{\"mode\":\"Disabled\"}},\"errors\":[],\"geoDataReplication\":{\"maxReplicationLagDurationInSeconds\":0,\"locations\":[{\"locationName\":\"eastus\",\"roleType\":\"Primary\",\"replicaState\":\"Ready\"}]},\"minimumTlsVersion\":\"1.2\",\"publicNetworkAccess\":\"Enabled\",\"disableLocalAuth\":false,\"encryption\":{\"keySource\":\"Microsoft.KeyVault\",\"keyVaultProperties\":[{\"keyName\":\"key1\",\"keyVaultUri\":\"https://eh-ps-yu2o19-kv1.vault.azure.net/\",\"identity\":{\"userAssignedIdentity\":\"/subscriptions/1f64c91d-2e06-42bc-97b6-7773dbff4f40/resourcegroups/Autorest-PS-EventHub-wvbour/providers/Microsoft.ManagedIdentity/userAssignedIdentities/eh-ps-yu2o19-msi1\"}},{\"keyName\":\"key2\",\"keyVaultUri\":\"https://eh-ps-yu2o19-kv1.vault.azure.net/\",\"identity\":{\"userAssignedIdentity\":\"/subscriptions/1f64c91d-2e06-42bc-97b6-7773dbff4f40/resourcegroups/Autorest-PS-EventHub-wvbour/providers/Microsoft.ManagedIdentity/userAssignedIdentities/eh-ps-yu2o19-msi1\"}}],\"requireInfrastructureEncryption\":false},\"zoneRedundant\":true,\"isAutoInflateEnabled\":false,\"maximumThroughputUnits\":0,\"kafkaEnabled\":true,\"provisioningState\":\"Succeeded\",\"status\":\"Active\",\"createdAt\":\"2026-07-15T11:45:26.4810891Z\",\"updatedAt\":\"2026-07-15T11:46:45Z\",\"metricId\":\"1f64c91d-2e06-42bc-97b6-7773dbff4f40:namespacev5no7fgq\",\"serviceBusEndpoint\":\"https://namespaceV5no7fgq.servicebus.windows.net:443/\"},\"identity\":{\"type\":\"UserAssigned\",\"userAssignedIdentities\":{\"/subscriptions/1f64c91d-2e06-42bc-97b6-7773dbff4f40/resourcegroups/Autorest-PS-EventHub-wvbour/providers/Microsoft.ManagedIdentity/userAssignedIdentities/eh-ps-yu2o19-msi1\":{\"clientId\":\"d211257e-55c7-4c9f-9cd2-51a321ff360e\",\"principalId\":\"30b3393f-6146-4590-b78c-a93c71724c0d\"},\"/subscriptions/1f64c91d-2e06-42bc-97b6-7773dbff4f40/resourcegroups/Autorest-PS-EventHub-wvbour/providers/Microsoft.ManagedIdentity/userAssignedIdentities/eh-ps-yu2o19-msi2\":{\"clientId\":\"4dbbbfb4-73a0-4802-a48b-d254ae198353\",\"principalId\":\"8849124b-abfe-43ae-b566-7a8da4b12137\"}}},\"sku\":{\"name\":\"Premium\",\"tier\":\"Premium\",\"capacity\":1}}",
    }
  },
  "Set-AzEventHubNamespaceV2+[NoContext]+SetExpanded+$GET+https://management.azure.com/subscriptions/1f64c91d-2e06-42bc-97b6-7773dbff4f40/resourceGroups/Autorest-PS-EventHub-wvbour/providers/Microsoft.EventHub/namespaces/namespaceV5no7fgq?api-version=2026-01-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/1f64c91d-2e06-42bc-97b6-7773dbff4f40/resourceGroups/Autorest-PS-EventHub-wvbour/providers/Microsoft.EventHub/na[...]
