{
    "AzPostgreSqlFlexibleServerFirewallRule+[NoContext]+ViaName+$PUT+https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/PostgreSqlTest/providers/Microsoft.DBForPostgreSql/flexibleServers/postgresql-flexible-test-100-2/firewallRules/postgresqlrule01?api-version=2020-02-14-preview+1": {
      "Request": {
        "Method": "PUT",
        "RequestUri": "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/PostgreSqlTest/providers/Microsoft.DBForPostgreSql/flexibleServers/postgresql-flexible-test-100-2/firewallRules/postgresqlrule01?api-version=2020-02-14-preview",
        "Content": "{\r\n  \"properties\": {\r\n    \"startIpAddress\": \"0.0.0.0\",\r\n    \"endIpAddress\": \"0.0.0.1\"\r\n  }\r\n}",
        "Headers": {
        },
        "ContentHeaders": {
          "Content-Type": [ "application/json" ]
        }
      },
      "Response": {
        "StatusCode": 202,
        "Headers": {
          "Location": [ "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/30e212f2-4eeb-438b-9af4-918fc7f2efa9?api-version=2020-02-14-preview" ],
          "Retry-After": [ "60" ],
          "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/30e212f2-4eeb-438b-9af4-918fc7f2efa9?api-version=2020-02-14-preview" ],
          "x-ms-ratelimit-remaining-subscription-writes": [ "1188" ]
        },
        "ContentHeaders": {
          "Content-Type": [ "application/json; charset=utf-8" ]
        },
        "Content": "{\"operation\":\"UpsertServerFirewallRulesManagementOperation\",\"startTime\":\"2021-02-04T09:12:27.143Z\"}"
      }
    },
    "AzPostgreSqlFlexibleServerFirewallRule+[NoContext]+ViaName+$GET+https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/30e212f2-4eeb-438b-9af4-918fc7f2efa9?api-version=2020-02-14-preview+2": {
      "Request": {
        "Method": "GET",
        "RequestUri": "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/30e212f2-4eeb-438b-9af4-918fc7f2efa9?api-version=2020-02-14-preview",
        "Content": null,
        "Headers": {
          "Authorization": [ "[Filtered]" ],
          "x-ms-unique-id": [ "122" ]
        },
        "ContentHeaders": {
        }
      },
      "Response": {
        "StatusCode": 200,
        "Headers": {
          "Retry-After": [ "60" ],
          "x-ms-ratelimit-remaining-subscription-reads": [ "11922" ]
        },
        "ContentHeaders": {
          "Content-Type": [ "application/json; charset=utf-8" ]
        },
        "Content": "{\"name\":\"30e212f2-4eeb-438b-9af4-918fc7f2efa9\",\"status\":\"Succeeded\",\"startTime\":\"2021-02-04T09:12:27.143Z\"}"
      }
    },
    "AzPostgreSqlFlexibleServerFirewallRule+[NoContext]+ViaName+$GET+https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/PostgreSqlTest/providers/Microsoft.DBForPostgreSql/flexibleServers/postgresql-flexible-test-100-2/firewallRules/postgresqlrule01?api-version=2020-02-14-preview+3": {
      "Request": {
        "Method": "GET",
        "RequestUri": "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/PostgreSqlTest/providers/Microsoft.DBForPostgreSql/flexibleServers/postgresql-flexible-test-100-2/firewallRules/postgresqlrule01?api-version=2020-02-14-preview",
        "Content": null,
        "Headers": {
          "Authorization": [ "[Filtered]" ],
          "x-ms-unique-id": [ "123" ]
        },
        "ContentHeaders": {
        }
      },
      "Response": {
        "StatusCode": 200,
        "Headers": {
          "x-ms-ratelimit-remaining-subscription-reads": [ "11921" ]
        },
        "ContentHeaders": {
          "Content-Type": [ "application/json; charset=utf-8" ]
        },
        "Content": "{\"properties\":{\"startIpAddress\":\"0.0.0.0\",\"endIpAddress\":\"0.0.0.1\"},\"id\":\"/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/PostgreSqlTest/providers/Microsoft.DBforPostgreSQL/flexibleServers/postgresql-flexible-test-100-2/firewallRules/postgresqlrule01\",\"name\":\"postgresqlrule01\",\"type\":\"Microsoft.DBforPostgreSQL/flexibleServers/firewallRules\"}"
      }
    },
    "AzPostgreSqlFlexibleServerFirewallRule+[NoContext]+ViaName+$GET+https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/PostgreSqlTest/providers/Microsoft.DBForPostgreSql/flexibleServers/postgresql-flexible-test-100-2/firewallRules/postgresqlrule01?api-version=2020-02-14-preview+4": {
      "Request": {
        "Method": "GET",
        "RequestUri": "https://management.azure.c[...]
