{
  "AzPostgreSqlFlexibleServerCreateWithVnet+[NoContext]+VnetNameScenario-ValidVnet+$PUT+https://management.azure.com/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/resourceGroups/PostgreSqlTest/providers/Microsoft.DBforPostgreSQL/flexibleServers/postgresql-flexible-test-200?api-version=2022-01-20-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/resourceGroups/PostgreSqlTest/providers/Microsoft.DBforPostgreSQL/flexibleServers/postgresql-flexible-test-200?api-version=2022-01-20-preview",
      "Content": "{\r\n  \"location\": \"eastus\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_D2s_v3\",\r\n    \"tier\": \"GeneralPurpose\"\r\n  },\r\n  \"properties\": {\r\n    \"storage\": {\r\n      \"storageSizeGB\": 128\r\n    },\r\n    \"backup\": {\r\n      \"backupRetentionDays\": 7\r\n    },\r\n    \"network\": {\r\n      \"delegatedSubnetResourceId\": \"/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/resourceGroups/PostgreSqlTest/providers/Microsoft.Network/virtualNetworks/postgresqlvnet/subnets/Subnetpostgresql-flexible-test-200\",\r\n      \"privateDnsZoneArmResourceId\": \"/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/resourceGroups/postgresqltest/providers/Microsoft.Network/privateDnsZones/postgresql-flexible-test-200.private.postgres.database.azure.com\"\r\n    },\r\n    \"administratorLogin\": \"mildroedeer9\",\r\n    \"administratorLoginPassword\": \"vHlKiVKVfC976KfP\",\r\n    \"version\": \"12\",\r\n    \"createMode\": \"Default\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/80757fed-2490-4394-b145-3d54d12422f8?api-version=2022-01-20-preview" ],
        "Retry-After": [ "60" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/80757fed-2490-4394-b145-3d54d12422f8?api-version=2022-01-20-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"operation\":\"UpsertServerManagementOperationV2\",\"startTime\":\"2022-08-17T10:53:52.783Z\"}",
    }
  },
  "AzPostgreSqlFlexibleServerCreateWithVnet+[NoContext]+VnetNameScenario-ValidVnet+$GET+https://management.azure.com/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/80757fed-2490-4394-b145-3d54d12422f8?api-version=2022-01-20-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/80757fed-2490-4394-b145-3d54d12422f8?api-version=2022-01-20-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "5" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Retry-After": [ "60" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"name\":\"80757fed-2490-4394-b145-3d54d12422f8\",\"status\":\"InProgress\",\"startTime\":\"2022-08-17T10:53:52.783Z\"}",
    }
  },
  "AzPostgreSqlFlexibleServerCreateWithVnet+[NoContext]+VnetNameScenario-ValidVnet+$GET+https://management.azure.com/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/80757fed-2490-4394-b145-3d54d12422f8?api-version=2022-01-20-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/929287ae-[...]
