{
  "AzPostgreSqlFlexibleServer+[NoContext]+List+$GET+https://management.azure.com/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/providers/Microsoft.DBforPostgreSQL/flexibleServers?api-version=2021-06-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/providers/Microsoft.DBforPostgreSQL/flexibleServers?api-version=2021-06-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "f06d1c48-ed49-4f19-897c-2e5415e57246", "47836c0f-a2b7-4fee-a73e-7f3880c236c9", "9bd99477-9cde-4b26-8740-8d847ed48a10", "add79228-84c0-432e-9207-b829a9a4374e", "9cedc48a-1662-4da9-9f9c-c21964ca3943", "ce4bb890-696c-4849-a549-c6db4da37afc", "593c3037-4912-4445-bb74-165336684663" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"sku\":{\"name\":\"Standard_B1ms\",\"tier\":\"Burstable\"},\"properties\":{\"fullyQualifiedDomainName\":\"m13-1-signoff.postgres.database.azure.com\",\"version\":\"12\",\"minorVersion\":\"7\",\"administratorLogin\":\"azureuser\",\"state\":\"Ready\",\"availabilityZone\":\"2\",\"storage\":{\"storageSizeGB\":32},\"backup\":{\"backupRetentionDays\":7,\"geoRedundantBackup\":\"Disabled\",\"earliestRestoreDate\":\"2021-07-21T00:47:41.2382602+00:00\"},\"network\":{\"publicNetworkAccess\":\"Enabled\"},\"highAvailability\":{\"mode\":\"Disabled\",\"state\":\"NotEnabled\"}},\"location\":\"Central US\",\"tags\":{},\"id\":\"/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/resourceGroups/bdavison/providers/Microsoft.DBforPostgreSQL/flexibleServers/m13-1-signoff\",\"name\":\"m13-1-signoff\",\"type\":\"Microsoft.DBforPostgreSQL/flexibleServers\"},{\"sku\":{\"name\":\"Standard_D2s_v3\",\"tier\":\"GeneralPurpose\"},\"properties\":{\"fullyQualifiedDomainName\":\"ashu-pgsql-flex.postgres.database.azure.com\",\"version\":\"12\",\"minorVersion\":\"7\",\"administratorLogin\":\"ashu\",\"state\":\"Ready\",\"availabilityZone\":\"1\",\"storage\":{\"storageSizeGB\":128},\"backup\":{\"backupRetentionDays\":7,\"geoRedundantBackup\":\"Disabled\",\"earliestRestoreDate\":\"2021-07-16T18:40:02.5792142+00:00\"},\"network\":{\"publicNetworkAccess\":\"Enabled\"},\"highAvailability\":{\"mode\":\"ZoneRedundant\",\"state\":\"Healthy\",\"standbyAvailabilityZone\":\"2\"}},\"location\":\"East US\",\"tags\":{},\"id\":\"/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/resourceGroups/ashu-rg1/providers/Microsoft.DBforPostgreSQL/flexibleServers/ashu-pgsql-flex\",\"name\":\"ashu-pgsql-flex\",\"type\":\"Microsoft.DBforPostgreSQL/flexibleServers\"},{\"sku\":{\"name\":\"Standard_B1ms\",\"tier\":\"Burstable\"},\"properties\":{\"fullyQualifiedDomainName\":\"bdavison-m13canary-signoff.postgres.database.azure.com\",\"version\":\"12\",\"minorVersion\":\"7\",\"admini[...]
