{
  "AzPostgreSqlFlexibleServer+[NoContext]+List+$GET+https://management.azure.com/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/providers/Microsoft.DBforPostgreSQL/flexibleServers?api-version=2021-06-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/providers/Microsoft.DBforPostgreSQL/flexibleServers?api-version=2021-06-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "36e7a039-5afb-4592-a647-83fc3cf93479", "a87ad9a6-22cc-4f17-8e0e-3ea66dd3e7c2", "85a19e71-5268-4857-ae6a-c04bddb86849", "9fd64f0c-886b-4958-aec1-414291c7ef4f", "b1e66698-a416-4682-8e84-9d034b923e5d", "046d16b7-d5d4-4d28-bc9a-a050822aa3e1" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11994" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"sku\":{\"name\":\"Standard_D2s_v3\",\"tier\":\"GeneralPurpose\"},\"properties\":{\"fullyQualifiedDomainName\":\"ashu-pgsql-flex.postgres.database.azure.com\",\"version\":\"12\",\"minorVersion\":\"7\",\"administratorLogin\":\"ashu\",\"state\":\"Ready\",\"availabilityZone\":\"1\",\"storage\":{\"storageSizeGB\":128},\"backup\":{\"backupRetentionDays\":7,\"geoRedundantBackup\":\"Disabled\",\"earliestRestoreDate\":\"2021-07-19T01:57:35.2012713+00:00\"},\"network\":{\"publicNetworkAccess\":\"Enabled\"},\"highAvailability\":{\"mode\":\"ZoneRedundant\",\"state\":\"Healthy\",\"standbyAvailabilityZone\":\"2\"}},\"location\":\"East US\",\"tags\":{},\"id\":\"/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/resourceGroups/ashu-rg1/providers/Microsoft.DBforPostgreSQL/flexibleServers/ashu-pgsql-flex\",\"name\":\"ashu-pgsql-flex\",\"type\":\"Microsoft.DBforPostgreSQL/flexibleServers\"},{\"sku\":{\"name\":\"Standard_B1ms\",\"tier\":\"Burstable\"},\"properties\":{\"fullyQualifiedDomainName\":\"bdavison-m13canary-signoff.postgres.database.azure.com\",\"version\":\"12\",\"minorVersion\":\"7\",\"administratorLogin\":\"azureuser\",\"state\":\"Ready\",\"availabilityZone\":\"1\",\"storage\":{\"storageSizeGB\":32},\"backup\":{\"backupRetentionDays\":7,\"geoRedundantBackup\":\"Disabled\",\"earliestRestoreDate\":\"2021-07-19T01:57:35.2012713[...]
