{
  "Remove-AzPostgreSqlServer+[NoContext]+Delete+$PUT+https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/PostgreSqlTest/providers/Microsoft.DBForPostgreSQL/servers/postgresql-test-200?api-version=2017-12-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/PostgreSqlTest/providers/Microsoft.DBForPostgreSQL/servers/postgresql-test-200?api-version=2017-12-01",
      "Content": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5_4\"\r\n  },\r\n  \"properties\": {\r\n    \"createMode\": \"Default\",\r\n    \"administratorLogin\": \"pwsh\",\r\n    \"administratorLoginPassword\": \"Pa88word!\"\r\n  },\r\n  \"location\": \"eastus2euap\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBForPostgreSQL/locations/eastus2euap/operationResults/aa2e4c2e-8d5c-444d-bf04-c321ea4d76fb?api-version=2017-12-01" ],
        "Retry-After": [ "60" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBForPostgreSQL/locations/eastus2euap/azureAsyncOperation/aa2e4c2e-8d5c-444d-bf04-c321ea4d76fb?api-version=2017-12-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1181" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"operation\":\"UpsertElasticServer\",\"startTime\":\"2020-09-25T11:25:18.407Z\"}"
    }
  },
  "Remove-AzPostgreSqlServer+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBForPostgreSQL/locations/eastus2euap/azureAsyncOperation/aa2e4c2e-8d5c-444d-bf04-c321ea4d76fb?api-version=2017-12-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBForPostgreSQL/locations/eastus2euap/azureAsyncOperation/aa2e4c2e-8d5c-444d-bf04-c321ea4d76fb?api-version=2017-12-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "150", "151" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Retry-After": [ "60" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11882" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"name\":\"aa2e4c2e-8d5c-444d-bf04-c321ea4d76fb\",\"status\":\"InProgress\",\"startTime\":\"2020-09-25T11:25:18.407Z\"}"
    }
  },
  "Remove-AzPostgreSqlServer+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBForPostgreSQL/locations/eastus2euap/azureAsyncOperation/aa2e4c2e-8d5c-444d-bf04-c321ea4d76fb?api-version=2017-12-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/M[...]
