{
  "Restore-AzPostgreSqlFlexibleServer+[NoContext]+PointInTimeRestore+$PUT+https://management.azure.com/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/resourceGroups/PostgreSqlTest/providers/Microsoft.DBforPostgreSQL/flexibleServers/postgresql-flexible-test-200?api-version=2022-01-20-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/resourceGroups/PostgreSqlTest/providers/Microsoft.DBforPostgreSQL/flexibleServers/postgresql-flexible-test-200?api-version=2022-01-20-preview",
      "Content": "{\r\n  \"location\": \"eastus\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_D2s_v3\",\r\n    \"tier\": \"GeneralPurpose\"\r\n  },\r\n  \"properties\": {\r\n    \"storage\": {\r\n      \"storageSizeGB\": 128\r\n    },\r\n    \"backup\": {\r\n      \"backupRetentionDays\": 7\r\n    },\r\n    \"network\": {\r\n      \"delegatedSubnetResourceId\": \"/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/resourceGroups/PostgreSqlTest/providers/Microsoft.Network/virtualNetworks/nonexistingvnetforpowershelltest/subnets/nonexistingsubnetforpowershelltest\",\r\n      \"privateDnsZoneArmResourceId\": \"/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/resourceGroups/postgresqltest/providers/Microsoft.Network/privateDnsZones/postgresql-flexible-test-200.private.postgres.database.azure.com\"\r\n    },\r\n    \"administratorLogin\": \"curiousstork3\",\r\n    \"administratorLoginPassword\": \"52tSPOekLazrbe6d\",\r\n    \"version\": \"12\",\r\n    \"createMode\": \"Default\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/11047e45-50a1-48d5-8e22-4a4d079432a1?api-version=2022-01-20-preview" ],
        "Retry-After": [ "60" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/11047e45-50a1-48d5-8e22-4a4d079432a1?api-version=2022-01-20-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"operation\":\"UpsertServerManagementOperationV2\",\"startTime\":\"2022-08-19T05:48:31.287Z\"}",
    }
  },
  "Restore-AzPostgreSqlFlexibleServer+[NoContext]+PointInTimeRestore+$GET+https://management.azure.com/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/11047e45-50a1-48d5-8e22-4a4d079432a1?api-version=2022-01-20-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/11047e45-50a1-48d5-8e22-4a4d079432a1?api-version=2022-01-20-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "4" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Retry-After": [ "60" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11997" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"name\":\"11047e45-50a1-48d5-8e22-4a4d079432a1\",\"status\":\"InProgress\",\"startTime\":\"2022-08-19T05:48:31.287Z\"}",
    }
  },
  "Restore-AzPostgreSqlFlexibleServer+[NoContext]+PointInTimeRestore+$GET+https://management.azure.com/subscriptions/929287ae-832a-4946-8006-a6cc2a3f7244/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/11047e45-50a1-48d5-8e22-4a4d079432a1?api-version=2022-01-20-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/929287ae-832a-4946-8006[...]
