{
  "Update-AzPostgreSqlFlexibleServerConfiguration+[NoContext]+UpdateExpanded+$PATCH+https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/PostgreSqlTest/providers/Microsoft.DBForPostgreSql/flexibleServers/postgresql-flexible-test-100/configurations/work_mem?api-version=2020-02-14-preview+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/PostgreSqlTest/providers/Microsoft.DBForPostgreSql/flexibleServers/postgresql-flexible-test-100/configurations/work_mem?api-version=2020-02-14-preview",
      "Content": "{\r\n  \"properties\": {\r\n    \"value\": \"10240\",\r\n    \"source\": \"user-override\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBforPostgreSQL/locations/eastus2euap/operationResults/4f49a233-b3c9-4f43-859e-1260748f24ca?api-version=2020-02-14-preview" ],
        "Retry-After": [ "10" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBforPostgreSQL/locations/eastus2euap/azureAsyncOperation/4f49a233-b3c9-4f43-859e-1260748f24ca?api-version=2020-02-14-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1197" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"operation\":\"UpdateConfigurationManagementOperation\",\"startTime\":\"2020-11-12T23:12:43.627Z\"}"
    }
  },
  "Update-AzPostgreSqlFlexibleServerConfiguration+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBforPostgreSQL/locations/eastus2euap/azureAsyncOperation/4f49a233-b3c9-4f43-859e-1260748f24ca?api-version=2020-02-14-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.DBforPostgreSQL/locations/eastus2euap/azureAsyncOperation/4f49a233-b3c9-4f43-859e-1260748f24ca?api-version=2020-02-14-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "8" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Retry-After": [ "10" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11983" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"name\":\"4f49a233-b3c9-4f43-859e-1260748f24ca\",\"status\":\"Succeeded\",\"startTime\":\"2020-11-12T23:12:43.627Z\"}"
    }
  },
  "Update-AzPostgreSqlFlexibleServerConfiguration+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/PostgreSqlTest/providers/Microsoft.DBForPostgreSql/flexibleServers/postgresql-flexible-test-100/configurations/work_mem?api-version=2020-02-14-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/PostgreSqlTest/providers/Microsoft.DBForPostgreSql/flexibleServers/postgresql-flexible-test-100/configurations/work_mem?api-version=2020-02-14-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "9" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11982" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"value\":\"10240\",\"description\":\"Sets the amount of memory to be used by internal sort operations and hash tables before writing to temporary disk files.\",\"defaultValue\":\"4096\",\"dataType\":\"Integer\",\"allowedValues\":\"4096-2097151\",\"source\":\"user-override\"},\"id\":\"/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/PostgreSqlTest/providers/Microsoft.DBforPostgreSQL/serversv2/postgresql-flexible-test-100/configurations/work_mem\",\"name\":\"work_mem\",\"type\":\"Microsoft.DBforPostgreSQL/flexibleServers/configurations\"}"
    }
  },
  "Update-AzPostgreSqlFlexibleServerConfiguration+[NoContext]+UpdateViaIdentityExpanded+$PATCH+https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/resourceGroups/PostgreSqlTest/providers/Microsoft.DBForPostgreSql/flexibleServers/postgresql-flexible-test-100/configurations/work_mem?api-version=2020-02-14-preview+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://manageme[...]
