{
  "Get-AzImageBuilderTemplate+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImages/imageTemplates?api-version=2022-07-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImages/imageTemplates?api-version=2022-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "10" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n \"value\": [\n  {\n   \"properties\": {\n    \"source\": {\n     \"exactVersion\": \"18.04.202306070\",\n     \"offer\": \"UbuntuServer\",\n     \"publisher\": \"Canonical\",\n     \"sku\": \"18.04-LTS\",\n     \"type\": \"PlatformImage\",\n     \"version\": \"latest\"\n    },\n    \"customize\": [\n     {\n      \"name\": \"CheckSumCompareShellScript\",\n      \"scriptUri\": \"https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/quickquickstarts/customizeScript2.sh\",\n      \"sha256Checksum\": \"ade4c5214c3c675e92c66e2d067a870c5b81b9844b3de3cc72c49ff36425fc93\",\n      \"type\": \"Shell\"\n     }\n    ],\n    \"distribute\": [\n     {\n      \"artifactTags\": {\n       \"tag\": \"dis-share\"\n      },\n      \"excludeFromLatest\": false,\n      \"galleryImageId\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps-test-gxk2a7/providers/Microsoft.Compute/galleries/azpsgallery52ison/images/azpsvmimage1\",\n      \"replicationRegions\": [\n       \"eastus2\"\n      ],\n      \"runOutputName\": \"runoutput1\",\n      \"type\": \"SharedImage\",\n      \"versioning\": null\n     }\n    ],\n    \"provisioningState\": \"Succeeded\",\n    \"buildTimeoutInMinutes\": 0,\n    \"stagingResourceGroup\": \"\",\n    \"exactStagingResourceGroup\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/IT_azps-test-gxk2a7_azps-tmp-oe785q_71fb3e73-e3c2-482b-868e-1b59dcc10b95\"\n   },\n   \"identity\": {\n    \"type\": \"UserAssigned\",\n    \"userAssignedIdentities\": {\n     \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/azps-test-gxk2a7/providers/Microsoft.ManagedIdentity/userAssignedIdentities/azps-mi-fwy8g3\": {\n      \"principalId\": \"148ce61c-21ce-4062-bbd6-86f8897d591e\",\n      \"clientId\": \"318be9be-4498-4972-aeff-46124bb1712b\"\n     }\n    }\n   },\n   \"tags\": {\n    \"123\": \"abc\"\n   },\n   \"location\": \"eastus\",\n   \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/azps-test-gxk2a7/providers/Microsoft.VirtualMachineImages/imageTemplates/azps-tmp-oe785q\",\n   \"name\": \"azps-tmp-oe785q\",\n   \"type\": \"Microsoft.VirtualMachineImages/imageTemplates\"\n  },\n  {\n   \"properties\": {\n    \"source\": {\n     \"exactVersion\": \"18.04.202306070\",\n     \"offer\": \"UbuntuServer\",\n     \"publisher\": \"Canonical\",\n     \"sku\": \"18.04-LTS\",\n     \"type\": \"PlatformImage\",\n     \"version\": \"latest\"\n    },\n    \"customize\": [\n     {\n      \"name\": \"CheckSumCompareShellScript\",\n      \"scriptUri\": \"https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/quickquickstarts/customizeScript2.sh\",\n      \"sha256Checksum\": \"ade4c5214c3c675e92c66e2d067a870c5b81b9844b3de3cc72c49ff36425fc93\",\n      \"type\": \"Shell\"\n     }\n    ],\n    \"distribute\": [\n     {\n      \"artifactTags\": {\n       \"tag\": \"dis-share\"\n      },\n      \"excludeFromLatest\": false,\n      \"galleryImageId\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps-test-gxk2a7/providers/Microsoft.Compute/galleries/azpsgallery52ison/images/azpsvmimage1\",\n      \"replicationRegions\": [\n       \"eastus2\"\n      ],\n      \"runOutputName\": \"runoutput1\",\n      \"type\": \"SharedImage\",\n      \"versioning\": null\n     }\n    ],\n    \"provisioningState\": \"Succeeded\",\n    \"lastRunStatus\": {\n     \"startTime\": \"2023-08-29T04:25:14.771401453Z\",\n     \"endTime\": \"2023-08-29T04:32:52.479591067Z\",\n     \"runState\": \"Canceled\",\n     \"message\": \"The build was canceled\"\n    },\n    \"buildTimeoutInMinutes\": 0,\n    \"stagingResourceGroup\": \"\",\n    \"exactStagingResourceGroup\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/IT_azps-test-gxk2a7_azps-tmp-v7cd43_44dc8526-fe48-4ed5-953e-8a9c67f5d997\"\n   },\n   \"identity\": {\n    \"type\": \"UserAssigned\",\n    \"userAssignedIdentities\": {\n     \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/azps-test-gxk2a7/providers/Microsoft.Manag[...]
