{
  "Get-AzImageBuilderTemplate+[NoContext]+List+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.VirtualMachineImages/imageTemplates?api-version=2022-02-14+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.VirtualMachineImages/imageTemplates?api-version=2022-02-14",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "47" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "4b06c0f3-6612-4033-aa40-7a45750314d3", "b8616e33-66d7-470b-8248-c5f9cbd9f463" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11954" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"source\":{\"exactVersion\":\"18.04.202207120\",\"offer\":\"UbuntuServer\",\"publisher\":\"Canonical\",\"sku\":\"18.04-LTS\",\"type\":\"PlatformImage\",\"version\":\"latest\"},\"customize\":[{\"name\":\"CheckSumCompareShellScript\",\"scriptUri\":\"https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/quickquickstarts/customizeScript2.sh\",\"sha256Checksum\":\"ade4c5214c3c675e92c66e2d067a870c5b81b9844b3de3cc72c49ff36425fc93\",\"type\":\"Shell\"}],\"distribute\":[{\"artifactTags\":{\"tag\":\"dis-share\"},\"excludeFromLatest\":false,\"galleryImageId\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/bez-rg/providers/Microsoft.Compute/galleries/bez_gallery/images/bez-image\",\"replicationRegions\":[\"eastus2\"],\"runOutputName\":\"runoutput-01\",\"type\":\"SharedImage\"}],\"provisioningState\":\"Succeeded\",\"lastRunStatus\":{\"startTime\":\"2022-08-16T07:37:10.013111605Z\",\"endTime\":\"2022-08-16T07:41:26.290314501Z\",\"runState\":\"Canceled\",\"message\":\"The build was canceled\"},\"buildTimeoutInMinutes\":0,\"stagingResourceGroup\":\"\",\"exactStagingResourceGroup\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/IT_bez-rg_bez-test-img-temp_9db43526-147b-4650-a0df-279eb16dcd2f\"},\"identity\":{\"type\":\"UserAssigned\",\"userAssignedIdentities\":{\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/bez-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/bez-id\":{\"principalId\":\"4bb3a5bc-72c6-48e1-b0db-3d6d30261091\",\"clientId\":\"ed125e0e-f4e2-4ef9-b2e0-aeb9ea2f856b\"}}},\"tags\":{},\"location\":\"eastus\",\"id\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/bez-rg/providers/Microsoft.VirtualMachineImages/imageTemplates/bez-test-img-temp\",\"name\":\"bez-test-img-temp\",\"type\":\"Microsoft.VirtualMachineImages/imageTemplates\"},{\"properties\":{\"source\":{\"exactVersion\":\"18.04.202208100\",\"offer\":\"UbuntuServer\",\"publisher\":\"Canonical\",\"sku\":\"18.04-LTS\",\"type\":\"PlatformImage\",\"version\":\"latest\"},\"customize\":[{\"name\":\"CheckSumCompareShellScript\",\"scrip[...]
