{
  "Get-AzImageBuilderTemplate+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImages/imageTemplates?api-version=2022-07-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImages/imageTemplates?api-version=2022-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "10" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n \"value\": [\n  {\n   \"properties\": {\n    \"source\": {\n     \"exactVersion\": \"18.04.202306070\",\n     \"offer\": \"UbuntuServer\",\n     \"publisher\": \"Canonical\",\n     \"sku\": \"18.04-LTS\",\n     \"type\": \"PlatformImage\",\n     \"version\": \"latest\"\n    },\n    \"customize\": [\n     {\n      \"name\": \"CheckSumCompareShellScript\",\n      \"scriptUri\": \"https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/quickquickstarts/customizeScript2.sh\",\n      \"sha256Checksum\": \"ade4c5214c3c675e92c66e2d067a870c5b81b9844b3de3cc72c49ff36425fc93\",\n      \"type\": \"Shell\"\n     }\n    ],\n    \"distribute\": [\n     {\n      \"artifactTags\": {\n       \"tag\": \"dis-share\"\n      },\n      \"excludeFromLatest\": false,\n      \"galleryImageId\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps-test-8vi0xa/providers/Microsoft.Compute/galleries/azpsgalleryfx9o0t/images/azpsvmimage1\",\n      \"replicationRegions\": [\n       \"eastus2\"\n      ],\n      \"runOutputName\": \"runoutput1\",\n      \"type\": \"SharedImage\",\n      \"versioning\": null\n     }\n    ],\n    \"provisioningState\": \"Succeeded\",\n    \"lastRunStatus\": {\n     \"startTime\": \"2023-08-29T07:02:39.157357071Z\",\n     \"endTime\": \"0001-01-01T00:00:00Z\",\n     \"runState\": \"Running\",\n     \"runSubState\": \"Building\",\n     \"message\": \"\"\n    },\n    \"buildTimeoutInMinutes\": 0,\n    \"stagingResourceGroup\": \"\",\n    \"exactStagingResourceGroup\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/IT_azps-test-8vi0xa_azps-tmp-495alx_a7f1b87f-3ac7-4303-a205-e9cddbf9fc77\"\n   },\n   \"identity\": {\n    \"type\": \"UserAssigned\",\n    \"userAssignedIdentities\": {\n     \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/azps-test-8vi0xa/providers/Microsoft.ManagedIdentity/userAssignedIdentities/azps-mi-wr80ck\": {\n      \"principalId\": \"df49987a-6c77-41e9-adb1-db1b891e5cd3\",\n      \"clientId\": \"71968084-1f2c-4c17-9196-98c7b3866682\"\n     }\n    }\n   },\n   \"tags\": {},\n   \"location\": \"eastus\",\n   \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/azps-test-8vi0xa/providers/Microsoft.VirtualMachineImages/imageTemplates/azps-tmp-495alx\",\n   \"name\": \"azps-tmp-495alx\",\n   \"type\": \"Microsoft.VirtualMachineImages/imageTemplates\"\n  },\n  {\n   \"properties\": {\n    \"source\": {\n     \"exactVersion\": \"18.04.202306070\",\n     \"offer\": \"UbuntuServer\",\n     \"publisher\": \"Canonical\",\n     \"sku\": \"18.04-LTS\",\n     \"type\": \"PlatformImage\",\n     [...]
