{
  "Get-AzImageBuilderTrigger+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps-test-90ifun/providers/Microsoft.VirtualMachineImages/imageTemplates/azps-tmp-emf39o/triggers?api-version=2022-07-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps-test-90ifun/providers/Microsoft.VirtualMachineImages/imageTemplates/azps-tmp-emf39o/triggers?api-version=2022-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "15" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n \"value\": [\n  {\n   \"properties\": {\n    \"kind\": \"SourceImage\",\n    \"provisioningState\": \"Succeeded\",\n    \"status\": {\n     \"code\": \"Healthy\",\n     \"message\": \"Trigger is active\",\n     \"time\": \"2023-08-29T06:38:45.084776886Z\"\n    }\n   },\n   \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/azps-test-90ifun/providers/Microsoft.VirtualMachineImages/imageTemplates/azps-tmp-emf39o/triggers/azps-trigger-ib7m3o\",\n   \"name\": \"azps-trigger-ib7m3o\",\n   \"type\": \"Microsoft.VirtualMachineImages/imageTemplates/triggers\"\n  }\n ]\n}",
    }
  },
  "Get-AzImageBuilderTrigger+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azps-test-90ifun/providers/Microsoft.VirtualMachineImages/imageTemplates/azps-tmp-emf39o/triggers/azps-trigger-ib7m3o?api-version=2022-07-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-[...]
