{
  "New-AzImageBuilderTemplate+[NoContext]+platformimg-managedimg+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/wyunchi-imagebuilder/providers/Microsoft.VirtualMachineImages/imageTemplates/template-name-bvf4ey?api-version=2020-02-14+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/wyunchi-imagebuilder/providers/Microsoft.VirtualMachineImages/imageTemplates/template-name-bvf4ey?api-version=2020-02-14",
      "Content": "{\n  \"location\": \"eastus\",\n  \"properties\": {\n    \"source\": {\n      \"type\": \"PlatformImage\",\n      \"offer\": \"UbuntuServer\",\n      \"publisher\": \"Canonical\",\n      \"sku\": \"18.04-LTS\",\n      \"version\": \"latest\"\n    },\n    \"customize\": [\n      {\n        \"name\": \"downloadBuildArtifacts\",\n        \"type\": \"Shell\",\n        \"scriptUri\": \"https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/quickquickstarts/customizeScript2.sh\",\n        \"sha256Checksum\": \"ade4c5214c3c675e92c66e2d067a870c5b81b9844b3de3cc72c49ff36425fc93\"\n      }\n    ],\n    \"distribute\": [\n      {\n        \"type\": \"ManagedImage\",\n        \"artifactTags\": {\n          \"source\": \"azVmPlatform\",\n          \"baseofimg\": \"UbuntuServer\"\n        },\n        \"runOutputName\": \"runout-template-name-bvf4ey\",\n        \"imageId\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/wyunchi-imagebuilder/providers/Microsoft.Compute/images/dis-img-17guo8\",\n        \"location\": \"eastus\"\n      }\n    ]\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ],
        "azure-asyncoperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImages/locations/eastus/operations/92ea2706-53a5-4710-83d9-876e71da6f80?api-version=2020-02-14" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n \"properties\": {\n  \"source\": {\n   \"offer\": \"UbuntuServer\",\n   \"publisher\": \"Canonical\",\n   \"sku\": \"18.04-LTS\",\n   \"type\": \"PlatformImage\",\n   \"version\": \"latest\"\n  },\n  \"customize\": [\n   {\n    \"name\": \"downloadBuildArtifacts\",\n    \"scriptUri\": \"https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/quickquickstarts/customizeScript2.sh\",\n    \"sha256Checksum\": \"ade4c5214c3c675e92c66e2d067a870c5b81b9844b3de3cc72c49ff36425fc93\",\n    \"type\": \"Shell\"\n   }\n  ],\n  \"distribute\": [\n   {\n    \"artifactTags\": {\n     \"baseofimg\": \"UbuntuServer\",\n     \"source\": \"azVmPlatform\"\n    },\n    \"imageId\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/wyunchi-imagebuilder/providers/Microsoft.Compute/images/dis-img-17guo8\",\n    \"location\": \"eastus\",\n    \"runOutputName\": \"runout-template-name-bvf4ey\",\n    \"type\": \"ManagedImage\"\n   }\n  ],\n  \"provisioningState\": \"Creating\",\n  \"buildTimeoutInMinutes\": 0\n },\n \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/wyunchi-imagebuilder/providers/Microsoft.VirtualMachineImages/imageTemplates/template-name-bvf4ey\",\n \"name\": \"template-name-bvf4ey\",\n \"type\": \"Microsoft.VirtualMachineImages/imageTemplates\",\n \"location\": \"eastus\",\n \"tags\": {}\n}"
    }
  },
  "New-AzImageBuilderTemplate+[NoContext]+platformimg-managedimg+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImages/locations/eastus/operations/92ea2706-53a5-4710-83d9-876e71da6f80?api-version=2020-02-14+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImages/locations/eastus/operations/92ea2706-53a5-4710-83d9-876e71da6f80?api-version=2020-02-14",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "29", "30" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11975" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n \"name\": \"92EA2706-53A5-4710-83D9-876E71DA6F80\",\n \"status\": \"Succeeded\",\n \"startTime\": \"2020-04-30T07:12:48.0686802Z\",\n \"endTime\": \"2020-04-30T07:13:12.5675512Z\"\n}"
    }
  },
  "New-AzImageBuilderTemplate+[NoContext]+platformimg-managedimg+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/wyunchi-imagebuilder/providers/Microsoft.VirtualMachineImages/imageTemplates/template-name-bvf4ey?api-version=2020-02-14+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/wyu[...]
