{
  "New-AzImageBuilderTemplate+[NoContext]+ExpandedParameterSet+$PUT+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/bez-rg-jutb12/providers/Microsoft.VirtualMachineImages/imageTemplates/bez-tmp-yakdor?api-version=2022-02-14+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/bez-rg-jutb12/providers/Microsoft.VirtualMachineImages/imageTemplates/bez-tmp-yakdor?api-version=2022-02-14",
      "Content": "{\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"source\": {\r\n      \"type\": \"PlatformImage\",\r\n      \"publisher\": \"Canonical\",\r\n      \"offer\": \"UbuntuServer\",\r\n      \"sku\": \"18.04-LTS\",\r\n      \"version\": \"latest\"\r\n    },\r\n    \"customize\": [\r\n      {\r\n        \"type\": \"Shell\",\r\n        \"name\": \"CheckSumCompareShellScript\",\r\n        \"scriptUri\": \"https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/quickquickstarts/customizeScript2.sh\",\r\n        \"sha256Checksum\": \"ade4c5214c3c675e92c66e2d067a870c5b81b9844b3de3cc72c49ff36425fc93\"\r\n      }\r\n    ],\r\n    \"distribute\": [\r\n      {\r\n        \"type\": \"SharedImage\",\r\n        \"runOutputName\": \"runoutput-01\",\r\n        \"artifactTags\": {\r\n          \"tag\": \"dis-share\"\r\n        },\r\n        \"galleryImageId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/bez-rg-jutb12/providers/Microsoft.Compute/galleries/testGalleryNamemx9y1g/images/test-image\",\r\n        \"replicationRegions\": [ \"eastus2\" ],\r\n        \"excludeFromLatest\": false\r\n      }\r\n    ]\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"UserAssigned\",\r\n    \"userAssignedIdentities\": {\r\n      \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/bez-rg-jutb12/providers/Microsoft.ManagedIdentity/userAssignedIdentities/bez-id-s3xvgt\": {\r\n      }\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ],
        "azure-asyncoperation": [ "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.VirtualMachineImages/locations/centraluseuap/operations/f3d6d575-4468-4647-b93c-6865fe2b2420?api-version=2022-02-14" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n \"properties\": {\n  \"source\": {\n   \"exactVersion\": \"latest\",\n   \"offer\": \"UbuntuServer\",\n   \"publisher\": \"Canonical\",\n   \"sku\": \"18.04-LTS\",\n   \"type\": \"PlatformImage\",\n   \"version\": \"latest\"\n  },\n  \"customize\": [\n   {\n    \"name\": \"CheckSumCompareShellScript\",\n    \"scriptUri\": \"https://raw.githubusercontent.com/danielsollondon/azvmimagebuilder/master/quickquickstarts/customizeScript2.sh\",\n    \"sha256Checksum\": \"ade4c5214c3c675e92c66e2d067a870c5b81b9844b3de3cc72c49ff36425fc93\",\n    \"type\": \"Shell\"\n   }\n  ],\n  \"distribute\": [\n   {\n    \"artifactTags\": {\n     \"tag\": \"dis-share\"\n    },\n    \"excludeFromLatest\": false,\n    \"galleryImageId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/bez-rg-jutb12/providers/Microsoft.Compute/galleries/testGalleryNamemx9y1g/images/test-image\",\n    \"replicationRegions\": [\n     \"eastus2\"\n    ],\n    \"runOutputName\": \"runoutput-01\",\n    \"type\": \"SharedImage\"\n   }\n  ],\n  \"provisioningState\": \"Creating\",\n  \"buildTimeoutInMinutes\": 0,\n  \"stagingResourceGroup\": \"\",\n  \"exactStagingResourceGroup\": \"\"\n },\n \"identity\": {\n  \"type\": \"UserAssigned\",\n  \"userAssignedIdentities\": {\n   \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/bez-rg-jutb12/providers/Microsoft.ManagedIdentity/userAssignedIdentities/bez-id-s3xvgt\": {}\n  }\n },\n \"tags\": {},\n \"location\": \"centraluseuap\",\n \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/bez-rg-jutb12/providers/Microsoft.VirtualMachineImages/imageTemplates/bez-tmp-yakdor\",\n \"name\": \"bez-tmp-yakdor\",\n \"type\": \"Microsoft.VirtualMachineImages/imageTemplates\"\n}",
    }
  },
  "New-AzImageBuilderTemplate+[NoContext]+ExpandedParameterSet+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.VirtualMachineImages/locations/centraluseuap/operations/f3d6d575-4468-4647-b93c-6865fe2b2420?api-version=2022-02-14+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.VirtualMachineImages/locations/centraluseuap/operations/f3d6d575-4468-4647-b93c-6865fe2b2420?api-version=2022-02-14",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "58" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11944" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n \"name\": \"F3D6D575-4468-4647-B93C-6865FE2B2420\",\n \"status\": \"InProgress\",\n \"startTime\": \"2022-08-18T09:43:12.8971736Z\"\n}",
    }
  },
  "New-AzImageBuilderTemplate+[NoContext]+ExpandedParameterSet+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.VirtualMachineImages/locations/centraluseuap/operations/f3d6d575-4468-4647-b93c-6865fe2b2420?api-version=2022-02-14+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft[...]
