{
  "Remove-AzImageBuilderTemplate+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/wyunchi-imagebuilder/providers/Microsoft.VirtualMachineImages/imageTemplates/template-name-bvf4ey?api-version=2020-02-14+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/wyunchi-imagebuilder/providers/Microsoft.VirtualMachineImages/imageTemplates/template-name-bvf4ey?api-version=2020-02-14",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "65" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImages/locations/eastus/operations/3db845ed-36fa-4091-8b51-2258ae3c558f?api-version=2020-02-14" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14999" ],
        "azure-asyncoperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImages/locations/eastus/operations/3db845ed-36fa-4091-8b51-2258ae3c558f?api-version=2020-02-14" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Remove-AzImageBuilderTemplate+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImages/locations/eastus/operations/3db845ed-36fa-4091-8b51-2258ae3c558f?api-version=2020-02-14+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImages/locations/eastus/operations/3db845ed-36fa-4091-8b51-2258ae3c558f?api-version=2020-02-14",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "65", "66" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11948" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n \"name\": \"3DB845ED-36FA-4091-8B51-2258AE3C558F\",\n \"status\": \"InProgress\",\n \"startTime\": \"2020-04-30T07:18:16.2435417Z\"\n}"
    }
  },
  "Remove-AzImageBuilderTemplate+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImages/locations/eastus/operations/3db845ed-36fa-4091-8b51-2258ae3c558f?api-version=2020-02-14+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImag[...]
