{
  "Start-AzImageBuilderTemplate+[NoContext]+Run+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/wyunchi-imagebuilder/providers/Microsoft.VirtualMachineImages/imageTemplates/template-name-g5m1vy/run?api-version=2020-02-14+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/wyunchi-imagebuilder/providers/Microsoft.VirtualMachineImages/imageTemplates/template-name-g5m1vy/run?api-version=2020-02-14",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImages/locations/eastus/operations/46442dc5-a321-487b-8f4f-1a5aa9723305?api-version=2020-02-14" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "azure-asyncoperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImages/locations/eastus/operations/46442dc5-a321-487b-8f4f-1a5aa9723305?api-version=2020-02-14" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Start-AzImageBuilderTemplate+[NoContext]+Run+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImages/locations/eastus/operations/46442dc5-a321-487b-8f4f-1a5aa9723305?api-version=2020-02-14+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImages/locations/eastus/operations/46442dc5-a321-487b-8f4f-1a5aa9723305?api-version=2020-02-14",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1", "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11993" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n \"name\": \"46442DC5-A321-487B-8F4F-1A5AA9723305\",\n \"status\": \"InProgress\",\n \"startTime\": \"2020-04-30T09:15:18.4529853Z\"\n}"
    }
  },
  "Start-AzImageBuilderTemplate+[NoContext]+Run+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImages/locations/eastus/operations/46442dc5-a321-487b-8f4f-1a5aa9723305?api-version=2020-02-14+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.VirtualMachineImages/l[...]
