{
  "Start-AzImageBuilderTemplate+[NoContext]+Run+$POST+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/bez-rg-jutb12/providers/Microsoft.VirtualMachineImages/imageTemplates/bez-tmp-2vd7ij/run?api-version=2022-02-14+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/bez-rg-jutb12/providers/Microsoft.VirtualMachineImages/imageTemplates/bez-tmp-2vd7ij/run?api-version=2022-02-14",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "80" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.VirtualMachineImages/locations/eastus/operations/0ef8ef87-3714-4c5a-a375-9d461015e522?api-version=2022-02-14" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ],
        "azure-asyncoperation": [ "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.VirtualMachineImages/locations/eastus/operations/0ef8ef87-3714-4c5a-a375-9d461015e522?api-version=2022-02-14" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Start-AzImageBuilderTemplate+[NoContext]+Run+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.VirtualMachineImages/locations/eastus/operations/0ef8ef87-3714-4c5a-a375-9d461015e522?api-version=2022-02-14+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.VirtualMachineImages/locations/eastus/operations/0ef8ef87-3714-4c5a-a375-9d461015e522?api-version=2022-02-14",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "81" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11925" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n \"name\": \"0EF8EF87-3714-4C5A-A375-9D461015E522\",\n \"status\": \"InProgress\",\n \"startTime\": \"2022-08-18T09:48:36.9505136Z\"\n}",
    }
  },
  "Start-AzImageBuilderTemplate+[NoContext]+Run+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.VirtualMachineImages/locations/eastus/operations/0ef8ef87-3714-4c5a-a375-9d461015e522?api-version=2022-02-14+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.VirtualMachineImages/[...]
