{
  "AzScVmmInventoryItem+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e7d5c01-90ea-4969-bdbf-a4517cd82ccd/resourceGroups/az-pwsh-test-rg-02/providers/Microsoft.ScVmm/vmmServers/az-pwsh-test-vmm/inventoryItems?api-version=2023-10-07+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e7d5c01-90ea-4969-bdbf-a4517cd82ccd/resourceGroups/az-pwsh-test-rg-02/providers/Microsoft.ScVmm/vmmServers/az-pwsh-test-vmm/inventoryItems?api-version=2023-10-07",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "42" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/9e7d5c01-90ea-4969-bdbf-a4517cd82ccd/resourceGroups/az-pwsh-test-rg-02/providers/Microsoft.ScVmm/vmmServers/az-pwsh-test-vmm/InventoryItems/266bfe3f-1ac8-46ea-a947-bb8c5629108c\",\"name\":\"266bfe3f-1ac8-46ea-a947-bb8c5629108c\",\"type\":\"microsoft.scvmm/vmmservers/inventoryitems\",\"kind\":\"Cloud\",\"systemData\":{\"createdBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"createdByType\":\"Application\",\"createdAt\":\"2025-03-09T16:24:24.6103225Z\",\"lastModifiedBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2025-03-09T16:24:35.5930125Z\"},\"properties\":{\"inventoryItemName\":\"Test\",\"uuid\":\"266bfe3f-1ac8-46ea-a947-bb8c5629108c\",\"inventoryType\":\"Cloud\",\"provisioningState\":\"Succeeded\"}},{\"id\":\"/subscriptions/9e7d5c01-90ea-4969-bdbf-a4517cd82ccd/resourceGroups/az-pwsh-test-rg-02/providers/Microsoft.ScVmm/vmmServers/az-pwsh-test-vmm/InventoryItems/2c7660b4-d056-440f-a8af-23fa52b663bd\",\"name\":\"2c7660b4-d056-440f-a8af-23fa52b663bd\",\"type\":\"microsoft.scvmm/vmmservers/inventoryitems\",\"kind\":\"Cloud\",\"systemData\":{\"createdBy\":\"319f651f-7ddb-4fc6-9857-7aef9250bd05\",\"createdByType\":\"Application\",\"createdAt\":\"2025-03-09T16:24:24.6546458Z\",\"la[...]
