{
  "Get-AzMdpPool+[NoContext]+List+$GET+https://management.azure.com/subscriptions/21af6cf1-77ad-42cd-ad19-e193de033071/providers/Microsoft.DevOpsInfrastructure/pools?api-version=2024-10-19+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/21af6cf1-77ad-42cd-ad19-e193de033071/providers/Microsoft.DevOpsInfrastructure/pools?api-version=2024-10-19",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "405ed9ef-6da6-490a-b093-4b19297fa0a2", "7c6c402a-b536-43ea-b085-cd988c2ce437", "5e597ddf-7a0c-4336-8ec2-1d0dd234b1cf", "bb6930a1-9a02-4b76-8731-08e733313a65", "88e6eafe-2243-4eaa-a996-b9d792d2a1c2", "81372e60-c315-49c1-9702-208c888d7a98", "541c8b17-77ae-4d15-9f7c-8f680dab6918", "ee992122-0991-41e1-a70f-6c5f7e48ec2b", "e0d4b54c-8d91-4213-8ad9-4ecbf48b01f6", "ec1a58c1-0de3-401e-ad2b-fa305dbd3ee0", "38c8d80f-8bb2-4f06-8926-4db013b246a6", "7f36af41-fc60-414a-92bd-a294cf3cca66" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/21af6cf1-77ad-42cd-ad19-e193de033071/resourceGroups/yujshin/providers/Microsoft.DevOpsInfrastructure/pools/yujshinDataDisks\",\"name\":\"yujshinDataDisks\",\"type\":\"microsoft.devopsinfrastructure/pools\",\"location\":\"australiaeast\",\"tags\":{},\"systemData\":{\"createdBy\":\"yujshin@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2024-07-26T04:57:51.8702645Z\",\"lastModifiedBy\":\"yujshin@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2024-07-27T07:51:38.6331425Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"organizationProfile\":{\"organizations\":[{\"url\":\"https://dev.azure.com/managed-org-demo\",\"projects\":[],\"parallelism\":1}],\"permissionProfile\":{\"kind\":\"Inherit\"},\"kind\":\"AzureDevOps\"},\"devCenterProjectResourceId\":\"/subscriptions/a2e95d27-c161-4b61-bda4-11512c14c2c2/resourceGroups/yujshin/providers/Microsoft.DevCenter/projects/yujshin_project\",\"maximumConcurrency\":1,\"agentProfile\":{\"kind\":\"Stateless\"},\"fabricProfile\":{\"sku\":{\"name\":\"Standard_F2s_v2\"},\"images\":[{\"resourceId\":\"/subscriptions/21af6cf1-77ad-42cd-ad19-e193de033071/Providers/Microsoft.Compute/Locations/australiaeast/publishers/microsoftwindowsserver/artifacttypes/vmimage/offers/windowsserver/skus/2022-datacenter-core-smalldisk-g2/versions/latest\",\"aliases\":[],\"buffer\":\"*\"}],\"osProfile\":{\"secretsManagementSettings\":{\"observedCertificates\":[],\"keyExportable\":false},\"logonType\":\"Service\"},\"storageProfile\":{\"osDiskStorageAccountType\":\"Standard\"},\"kind\":\"Vmss\"}}},{\"id\":\"/subscriptions/21af6cf1-77ad-42cd-ad19-e193de033071/resourceGroups/1ESRM/providers/Microsoft.DevOpsInfrastructure/pools/jacky-test-mdp-prod3\",\"name\":\"jacky-test-mdp-prod3\",\"type\":\"microsoft.devopsinfrastructure/pools\",\"location\":\"australiaeast\",\"tags\":{},\"systemData\":{\"createdBy\":\"jackylui@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2024-07-26T22:05:09.6974298Z\",\"lastModifiedBy\":\"jackylui@microsoft.com\",\"lastMo[...]
