{
  "Entries": [
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourcegroups/payi-test?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/payi-test\",\r\n  \"name\": \"payi-test\",\r\n  \"location\": \"southeastasia\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/payi-test/providers/Microsoft.Sql/servers/payi-testsvr?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"cloudsa\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"payi-testsvr.database.windows.net\"\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/payi-test/providers/Microsoft.Sql/servers/payi-testsvr\",\r\n  \"name\": \"payi-testsvr\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/payi-test/providers/Microsoft.Sql/servers/payi-testsvr/databases/payi-testdb-geo2?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 10\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 268435456000,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"4e46a601-21da-4c6a-b3e8-f1e023c4ceee\",\r\n    \"creationDate\": \"2018-04-18T18:50:14.017Z\",\r\n    \"currentServiceObjectiveName\": \"S0\",\r\n    \"requestedServiceObjectiveName\": \"S0\",\r\n    \"defaultSecondaryLocation\": \"East Asia\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"earliestRestoreDate\": \"2018-04-18T19:20:59.22Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"currentSku\": {\r\n      \"name\": \"Standard\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 10\r\n    }\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/payi-test/providers/Microsoft.Sql/servers/payi-testsvr/databases/payi-testdb-geo2\",\r\n  \"name\": \"payi-testdb-geo2\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14994"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/payi-test/providers/Microsoft.Sql/servers/payi-testsvr/recoverabledatabases/payi-testdb-geo2?api-version=2014-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/payi-test/providers/Microsoft.Sql/servers/payi-testsvr/recoverabledatabases/payi-testdb-geo2\",\r\n  \"name\": \"payi-testdb-geo2\",\r\n  \"type\": \"Microsoft.Sql/servers/recoverableDatabases\",\r\n  \"properties\": {\r\n    \"edition\": \"Standard\",\r\n    \"lastAvailableBackupDate\": \"2018-04-27T19:58:12\",\r\n    \"serviceLevelObjective\": \"S0\",\r\n    \"elasticPoolName\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/payi-test/providers/Microsoft.Sql/servers/payi-testsvr/databases/powershell_db_georestored2?api-version=2017-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"createMode\": \"Recovery\",\r\n    \"sourceDatabaseId\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/payi-test/providers/Microsoft.Sql/servers/payi-testsvr/recoverabledatabases/payi-testdb-geo2\",\r\n    \"restorePointInTime\": \"0001-01-01T00:00:00Z\",\r\n    \"recoveryServicesRecoveryPointId\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/payi-test/providers/Microsoft.Sql/servers/payi-testsvr/recoverabledatabases/payi-testdb-geo2\",\r\n    \"recoverableDatabaseId\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/payi-test/providers/Microsoft.Sql/servers/payi-testsvr/recoverabledatabases/payi-testdb-geo2\"\r\n  },\r\n  \"location\": \"southeastasia\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateRecoverRequest\",\r\n  \"startTime\": \"2018-04-27T21:03:13.037Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/providers/Microsoft.Sql/locations/southeastasia/databaseAzureAsyncOperation/6b6fcddc-55aa-4f38-bea2-ad8ea375ec70?api-version=2017-10-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/providers/Microsoft.Sql/locations/southeastasia/databaseOperationResults/6b6fcddc-55aa-4f38-bea2-ad8ea375ec70?api-version=2017-10-01-preview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/providers/Microsoft.Sql/locations/southeastasia/databaseAzureAsyncOperation/6b6fcddc-55aa-4f38-bea2-ad8ea375ec70?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"6b6fcddc-55aa-4f38-bea2-ad8ea375ec70\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2018-04-27T21:03:13.037Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/payi-test/providers/Microsoft.Sql/servers/payi-testsvr/databases/powershell_db_georestored_vcore?api-version=2017-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen4\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"createMode\": \"Recovery\",\r\n    \"sourceDatabaseId\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/payi-test/providers/Microsoft.Sql/servers/payi-testsvr/recoverabledatabases/payi-testdb-geo2\",\r\n    \"restorePointInTime\": \"0001-01-01T00:00:00Z\",\r\n    \"recoveryServicesRecoveryPointId\": \"/subscriptions/df7c055c-6310-4374-9852-10ef71ce5f85/resourceGroups/payi-test/providers/Microsoft.Sql/[...]
[...]
