{
  "Entries": [
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "5da460c8-eb7d-4b07-a6e5-6cbc9437001f"
=======
          "4516d054-be08-4d4b-afcd-f76eb7fa3970"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27019.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17134.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.1.13"
=======
          "FxVersion/4.6.28619.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.20"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
<<<<<<< HEAD
          "25c3457c-98fa-45f0-bfaf-23dd3ff28456"
        ],
        "x-ms-correlation-request-id": [
          "25c3457c-98fa-45f0-bfaf-23dd3ff28456"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20190118T202135Z:25c3457c-98fa-45f0-bfaf-23dd3ff28456"
=======
          "9354c212-bf3f-42f1-bee2-b19327a01d1c"
        ],
        "x-ms-correlation-request-id": [
          "9354c212-bf3f-42f1-bee2-b19327a01d1c"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200730T204128Z:9354c212-bf3f-42f1-bee2-b19327a01d1c"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 18 Jan 2019 20:21:35 GMT"
=======
          "Thu, 30 Jul 2020 20:41:27 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "3084"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices\",\r\n  \"namespace\": \"Microsoft.Devices\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"checkNameAvailability\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2018-12-01-preview\",\r\n        \"2018-04-01\",\r\n        \"2018-01-22\",\r\n        \"2017-07-01\",\r\n        \"2017-01-19\",\r\n        \"2016-02-03\",\r\n        \"2015-08-15-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"checkProvisioningServiceNameAvailability\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2018-01-22\",\r\n        \"2017-11-15\",\r\n        \"2017-08-21-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resou[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourcegroups/ps4506?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
=======
          "5690"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices\",\r\n  \"namespace\": \"Microsoft.Devices\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"0cd79364-7a90-4354-9984-6e36c841418d\",\r\n      \"roleDefinitionId\": \"C121DF10-FE58-4BC4-97F9-8296879F7BBB\"\r\n    },\r\n    {\r\n      \"applicationId\": \"29f411f1-b2cf-4043-8ac8-2185d7316811\"\r\n    },\r\n    {\r\n      \"applicationId\": \"89d10474-74af-4874-99a7-c23c2f643083\",\r\n      \"roleDefinitionId\": \"7df22794-26e3-4f94-9d50-a4f0f6e1cb41\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"checkNameAvailability\",\r\n      \"locations\": [\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\",\r\n        \"W[...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4506/providers/Microsoft.Devices/IotHubs/ps9242?api-version=2018-12-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3206\",\r\n  \"name\": \"ps3206\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3206/providers/Microsoft.Devices/IotHubs/ps4560?api-version=2019-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"location\": \"West US 2\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27019.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17134.",
          "Microsoft.Azure.Management.IotHub.IotHubClient/2.8.0.0"
=======
          "FxVersion/4.6.28619.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.IotHub.IotHubClient/2.10.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "85"
=======
          "87"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/operationResults/b3NfaWhfM2EwNzBjZTMtNjE5My00NjE4LWEwNzMtYzMwZGU0MzZiMjQ0?api-version=2018-12-01-preview&operationSource=os_ih&asyncinfo"
=======
          "https://management.azure.com/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/operationResults/b3NfaWhfMjYxOWI2OTItYjE1Zi00MzE1LWFiODQtMmMwZmFjZWRhMmJm?api-version=2019-07-01-preview&operationSource=os_ih&asyncinfo"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "4999"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "e403f015-2cfd-4091-a28c-d51f7c34b738"
        ],
        "x-ms-correlation-request-id": [
          "e403f015-2cfd-4091-a28c-d51f7c34b738"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20190118T202141Z:e403f015-2cfd-4091-a28c-d51f7c34b738"
=======
          "b996c31c-a92a-4665-b33f-1ab2bd010280"
        ],
        "x-ms-correlation-request-id": [
          "b996c31c-a92a-4665-b33f-1ab2bd010280"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200730T204145Z:b996c31c-a92a-4665-b33f-1ab2bd010280"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 18 Jan 2019 20:21:40 GMT"
        ],
        "Content-Length": [
          "619"
=======
          "Thu, 30 Jul 2020 20:41:45 GMT"
        ],
        "Content-Length": [
          "621"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4506/providers/Microsoft.Devices/IotHubs/ps9242\",\r\n  \"name\": \"ps9242\",\r\n  \"type\": \"Microsoft.Devices/IotHubs\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n  \"resourcegroup\": \"ps4506\",\r\n  \"properties\": {\r\n    \"state\": \"Activating\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"enableFileUploadNotifications\": false,\r\n    \"cloudToDevice\": {\r\n      \"maxDeliveryCount\": 10,\r\n      \"defaultTtlAsIso8601\": \"PT1H\",\r\n      \"feedback\": {\r\n        \"lockDurationAsIso8601\": \"PT1M\",\r\n        \"ttlAsIso8601\": \"PT1H\",\r\n        \"maxDeliveryCount\": 10\r\n      }\r\n    },\r\n    \"features\": \"None\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4506/providers/Microsoft.Devices/IotHubs/ps9242?api-version=2018-12-01-preview",
      "RequestMethod": "PUT",
      //[SuppressMessage("Microsoft.Security", "CS002:SecretInNextLine")]
      "RequestBody": "{\r\n  \"etag\": \"AAAAAARXyYI=\",\r\n  \"properties\": {\r\n    \"ipFilterRules\": [],\r\n    \"eventHubEndpoints\": {\r\n      \"events\": {\r\n        \"retentionTimeInDays\": 1,\r\n        \"partitionCount\": 4\r\n      },\r\n      \"operationsMonitoringEvents\": {\r\n        \"retentionTimeInDays\": 1,\r\n        \"partitionCount\": 4\r\n      }\r\n    },\r\n    \"routing\": {\r\n      \"endpoints\": {\r\n        \"serviceBusQueues\": [],\r\n        \"serviceBusTopics\": [],\r\n        \"eventHubs\": [\r\n          {\r\n            \"connectionString\": \"Endpoint=sb://eventhub4361.servicebus.windows.net/;SharedAccessKeyName=ps9516;SharedAccessKey=md2PJMZtaw2mk06XyhLeon3q0Bxwj/+GyPc6NZWbDUk=;EntityPath=ps622\",\r\n            \"name\": \"ps889\",\r\n            \"subscriptionId\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n            \"resourceGroup\": \"ps4506\"\r\n          }\r\n        ],\r\n        \"storageContainers\": []\r\n      },\r\n      \"routes\": [],\r\n      \"fallbackRoute\": {\r\n        \"name\": \"$fallback\",\r\n        \"condition\": \"true\",\r\n        \"endpointNames\": [\r\n          \"events\"\r\n        ],\r\n        \"isEnabled\": true,\r\n        \"source\": \"DeviceMessages\"\r\n      }\r\n    },\r\n    \"storageEndpoints\": {\r\n      \"$default\": {\r\n        \"sasTtlAsIso8601\": \"PT1H\",\r\n        \"connectionString\": \"\",\r\n        \"containerName\": \"\"\r\n      }\r\n    },\r\n    \"messagingEndpoints\": {\r\n      \"fileNotifications\": {\r\n        \"lockDurationAsIso8601\": \"PT1M\",\r\n        \"ttlAsIso8601\": \"PT1H\",\r\n        \"maxDeliveryCount\": 10\r\n      }\r\n    },\r\n    \"enableFileUploadNotifications\": false,\r\n    \"cloudToDevice\": {\r\n      \"maxDeliveryCount\": 10,\r\n      \"defaultTtlAsIso8601\": \"PT1H\",\r\n      \"feedback\": {\r\n        \"lockDurationAsIso8601\": \"PT1M\",\r\n        \"ttlAsIso8601\": \"PT1H\",\r\n        \"maxDeliveryCount\": 10\r\n      }\r\n    },\r\n    \"operationsMonitoringProperties\": {\r\n      \"events\": {\r\n        \"None\": \"None\",\r\n        \"Connections\": \"None\",\r\n        \"DeviceTelemetry\": \"None\",\r\n        \"C2DCommands\": \"None\",\r\n        \"DeviceIdentityOperations\": \"None\",\r\n        \"FileUploadOperations\": \"None\",\r\n        \"Routes\": \"None\"\r\n      }\r\n    },\r\n    \"features\": \"None\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"location\": \"West US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3206/providers/Microsoft.Devices/IotHubs/ps4560\",\r\n  \"name\": \"ps4560\",\r\n  \"type\": \"Microsoft.Devices/IotHubs\",\r\n  \"location\": \"West US 2\",\r\n  \"tags\": {},\r\n  \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n  \"resourcegroup\": \"ps3206\",\r\n  \"properties\": {\r\n    \"state\": \"Activating\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"enableFileUploadNotifications\": false,\r\n    \"cloudToDevice\": {\r\n      \"maxDeliveryCount\": 10,\r\n      \"defaultTtlAsIso8601\": \"PT1H\",\r\n      \"feedback\": {\r\n        \"lockDurationAsIso8601\": \"PT1M\",\r\n        \"ttlAsIso8601\": \"PT1H\",\r\n        \"maxDeliveryCount\": 10\r\n      }\r\n    },\r\n    \"features\": \"None\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3206/providers/Microsoft.Devices/IotHubs/ps4560?api-version=2019-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"etag\": \"AAAAAJ5XVLk=\",\r\n  \"properties\": {\r\n    \"ipFilterRules\": [],\r\n    \"eventHubEndpoints\": {\r\n      \"events\": {\r\n        \"retentionTimeInDays\": 1,\r\n        \"partitionCount\": 4\r\n      }\r\n    },\r\n    \"routing\": {\r\n      \"endpoints\": {\r\n        \"serviceBusQueues\": [],\r\n        \"serviceBusTopics\": [],\r\n        \"eventHubs\": [\r\n          {\r\n            \"connectionString\": \"Endpoint=sb://eventhub637.servicebus.windows.net:5671/;SharedAccessKeyName=ps424;SharedAccessKey=****;EntityPath=ps6509\",\r\n            \"name\": \"ps5242\",\r\n            \"subscriptionId\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n            \"resourceGroup\": \"ps3206\"\r\n          }\r\n        ],\r\n        \"storageContainers\": [\r\n          {\r\n            \"connectionString\": \"DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=pshardcodedstorage1234;AccountKey=****\",\r\n            \"name\": \"ps3913\",\r\n            \"subscriptionId\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n            \"resourceGroup\": \"pshardcodedrg1234\",\r\n            \"containerName\": \"container1\",\r\n            \"fileNameFormat\": \"{iothub}/{partition}/{YYYY}/{MM}/{DD}/{HH}/{mm}\",\r\n            \"batchFrequencyInSeconds\": 300,\r\n            \"maxChunkSizeInBytes\": 314572800,\r\n            \"encoding\": \"json\"\r\n          },\r\n          {\r\n            \"connectionString\": \"DefaultEndpointsProtocol=https;AccountName=pshardcodedstorage1234;AccountKey=W1ujKNLtPmMtaNqZfOCUU5cnYMI8bQeF9ODce4riISyT2RSXiIxcwuwQhzCmIuwPWi82ParLfbq1bOF5ypUnPw==;EndpointSuffix=core.windows.net\",\r\n            \"name\": \"ps7754\",\r\n            \"subscriptionId\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n            \"resourceGroup\": \"pshardcodedrg1234\",\r\n            \"containerName\": \"container2\"[...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3206/providers/Microsoft.Devices/IotHubs/ps4560?api-version=2019-07-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"etag\": \"AAAAAJ5bfKo=\",\r\n  \"properties\": {\r\n    \"ipFilterRules\": [],\r\n    \"eventHubEndpoints\": {\r\n      \"events\": {\r\n        \"retentionTimeInDays\": 1,\r\n        \"partitionCount\": 4\r\n      }\r\n    },\r\n    \"routing\": {\r\n      \"endpoints\": {\r\n        \"serviceBusQueues\": [],\r\n        \"serviceBusTopics\": [],\r\n        \"eventHubs\": [\r\n          {\r\n            \"connectionString\": \"Endpoint=sb://eventhub637.servicebus.windows.net:5671/;SharedAccessKeyName=ps424;SharedAccessKey=****;EntityPath=ps6509\",\r\n            \"name\": \"ps5242\",\r\n            \"subscriptionId\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n            \"resourceGroup\": \"ps3206\"\r\n          }\r\n        ],\r\n        \"storageContainers\": []\r\n      },\r\n      \"routes\": [],\r\n      \"fallbackRoute\": {\r\n        \"name\": \"$fallback\",\r\n        \"condition\": \"true\",\r\n        \"endpointNames\": [\r\n          \"events\"\r\n        ],\r\n        \"isEnabled\": true,\r\n        \"source\": \"DeviceMessages\"\r\n      },\r\n      \"enrichments\": []\r\n    },\r\n    \"storageEndpoints\": {\r\n      \"$default\": {\r\n        \"sasTtlAsIso8601\": \"PT1H\",\r\n        \"connectionString\": \"\",\r\n        \"containerName\": \"\"\r\n      }\r\n    },\r\n    \"messagingEndpoints\": {\r\n      \"fileNotifications\": {\r\n        \"lockDurationAsIso8601\": \"PT1M\",\r\n        \"ttlAsIso8601\": \"PT1H\",\r\n        \"maxDeliveryCount\": 10\r\n      }\r\n    },\r\n    \"enableFileUploadNotifications\": false,\r\n    \"cloudToDevice\": {\r\n  [...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/operationResults/b3NfaWhfM2EwNzBjZTMtNjE5My00NjE4LWEwNzMtYzMwZGU0MzZiMjQ0?api-version=2018-12-01-preview&operationSource=os_ih&asyncinfo",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3206/providers/Microsoft.Devices/IotHubs/ps4560\",\r\n  \"name\": \"ps4560\",\r\n  \"type\": \"Microsoft.Devices/IotHubs\",\r\n  \"location\": \"West US 2\",\r\n  \"tags\": {},\r\n  \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n  \"resourcegroup\": \"ps3206\",\r\n  \"etag\": \"AAAAAJ5bfKo=\",\r\n  \"properties\": {\r\n    \"operationsMonitoringProperties\": {\r\n      \"events\": {\r\n        \"None\": \"None\",\r\n        \"Connections\": \"None\",\r\n        \"DeviceTelemetry\": \"None\",\r\n        \"C2DCommands\": \"None\",\r\n        \"DeviceIdentityOperations\": \"None\",\r\n        \"FileUploadOperations\": \"None\",\r\n        \"Routes\": \"None\"\r\n      }\r\n    },\r\n    \"provisioningState\": \"Accepted\",\r\n    \"authorizationPolicies\": [\r\n      {\r\n        \"keyName\": \"iothubowner\",\r\n        \"primaryKey\": \"ias8xYD/BVzNSFtoMQt8g7oyya2gKVjF5BW5g28eorY=\",\r\n        \"secondaryKey\": \"BMANY2lVeWkwxQnypbR1ik/txxqTwGUsOzZDpfCZ34w=\",\r\n        \"rights\": \"RegistryWrite, ServiceConnect, DeviceConnect\"\r\n      },\r\n      {\r\n        \"keyName\": \"service\",\r\n        \"primaryKey\": \"X3sW9tC3MR3DGzotX68yEwP8qMIWZa8BQrY0e8+9OIg=\",\r\n        \"secondaryKey\": \"dbKKZ0NB+Y2IujvU2rBOpnygwyIBAe9pVA5Y6MRkKTY=\",\r\n        \"rights\": \"ServiceConnect\"\r\n      },\r\n      {\r\n        \"keyName\": \"device\",\r\n        \"primaryKey\": \"MJslAeTjuREVAz7T9AbLj1h1rqv3BklS1oH5eDWFgwI=\",\r\n        \"secondaryKey\": \"3zNjW6oOVSnTnpHIBz+yVHkLA1jyT3LlR0YFDDJsBpQ=\",\r\n        \"rights\": \"DeviceConnect\"\r\n      },\r\n      {\r\n        \"keyName\": \"registryRead\",\r\n        \"primaryKey\": \"kQXWydwELg5i4QjK3qtpOo8Nw4wG+tp8fNEkYUYkWrY=\",\r\n        \"secondaryKey\": \"2dS+gOi1qqVlzHN2MK2igQRxzdz7lidoMUUQJmAuP4c=\",\r\n        \"rights\": \"RegistryRead\"\r\n      },\r\n      {\r\n        \"keyName\": \"registryReadWrite\",\r\n        \"primaryKey\": \"k8kmNyooqFttHJsDVJtMTqu0sSSF/FqCFSTTXyL7JhE=\",\r\n        \"secondaryKey\": \"yBx/kzMawnmvoQRyluGOnWhvC8Qql5193oo7YDz3+DQ=\",\r\n        \"rights\": \"RegistryWrite\"\r\n      }\r\n    ],\r\n    \"ipFilterRules\": [],\r\n    \"eventHubEndpoints\": {\r\n      \"events\": {\r\n        \"retentionTimeInDays\": 1,\r\n        \"partitionCount\": 4\r\n      },\r\n      \"operationsMonitoringEvents\": {\r\n        \"retentionTimeInDays\": 1,\r\n        \"partitionCount\": 4,\r\n        \"partitionIds\": [\r\n          \"0\",\r\n          \"1\",\r\n          \"2\",\r\n          \"3\"\r\n        ],\r\n        \"path\": \"ps4560-operationmonitoring\",\r\n        \"endpoint\": \"sb://iothub-ns-ps4560-3949383-fd6fa25476.servicebus.windows.net/\",\r\n        \"internalAuthorizationPolicies\": [\r\n          {\r\n            \"KeyName\": \"scaleunitsend-f459458b-61a0-4d34-b164-1b6407447631-iothub\",\r\n            \"PrimaryKey\": \"NLYP51WPskWM/jmFDkJUYzAjUj2/aDaj9Qe+bsyRuB8=\",\r\n            \"SecondaryKey\": \"6upXNOPtokfEKzg7f/MxwpUJ/CqtA+CgRB75KvR64Wk=\",\r\n            \"ClaimType\": \"SharedAccessKey\",\r\n            \"ClaimValue\": \"None\",\r\n            \"Rights\": [\r\n              \"Send\"\r\n            ],\r\n            \"CreatedTime\": \"Thu, 30 Jul 2020 20:52:02 GMT\",\r\n            \"ModifiedTime\": \"Thu, 30 Jul 2020 20:52:02 GMT\"\r\n          },\r\n          {\r\n            \"KeyName\": \"owner-34cdace9-57e7-4d3a-85ed-780161e4e17b-iothub\",\r\n            \"PrimaryKey\": \"0m40LrG0hYXSMoQnCjG7nKrXS+tt+Sz0r1X3MxesZCc=\",\r\n            \"SecondaryKey\": \"BSHt6yuQwmNgDgwKL2vTJno4zHzNLZKev3oR85ft1Ro=\",\r\n            \"ClaimType\": \"SharedAccessKey\",\r\n            \"ClaimValue\": \"None\",\r\n            \"Rights\": [\r\n              \"Listen\",\r\n              \"Manage\",\r\n     [...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/operationResults/b3NfaWhfMjYxOWI2OTItYjE1Zi00MzE1LWFiODQtMmMwZmFjZWRhMmJm?api-version=2019-07-01-preview&operationSource=os_ih&asyncinfo",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27019.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.171[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4506/providers/Microsoft.Devices/IotHubs/ps9242?api-version=2018-12-01-preview",
=======
      "ResponseBody": "{\r\n  \"status\": \"Running\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4506/providers/Microsoft.Devices/IotHubs/ps9242?api-version=2018-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3206/providers/Microsoft.Devices/IotHubs/ps4560\",\r\n  \"name\": \"ps4560\",\r\n  \"type\": \"Microsoft.Devices/IotHubs\",\r\n  \"location\": \"West US 2\",\r\n  \"tags\": {},\r\n  \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n  \"resourcegroup\": \"ps3206\",\r\n  \"etag\": \"AAAAAJ5UXO0=\",\r\n  \"properties\": {\r\n    \"locations\": [\r\n      {\r\n        \"location\": \"West US 2\",\r\n        \"role\": \"primary\"\r\n      },\r\n      {\r\n        \"location\": \"West Central US\",\r\n        \"role\": \"secondary\"\r\n      }\r\n    ],\r\n    \"state\": \"Active\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"ipFilterRules\": [],\r\n    \"hostName\": \"ps4560.azure-devices.net\",\r\n    \"eventHubEndpoints\": {\r\n      \"events\": {\r\n        \"retentionTimeInDays\": 1,\r\n        \"partitionCount\": 4,\r\n        \"partitionIds\": [\r\n          \"0\",\r\n          \"1\",\r\n          \"2\",\r\n          \"3\"\r\n        ],\r\n        \"path\": \"ps4560\",\r\n        \"endpoint\": \"sb://iothub-ns-ps4560-3949383-fd6fa25476.servicebus.windows.net/\"\r\n      }\r\n    },\r\n    \"routing\": {\r\n      \"endpoints\": {\r\n        \"serviceB[...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps4506/providers/Microsoft.EventHub/namespaces/eventHub4361?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"isAutoInflateEnabled\": false,\r\n    \"kafkaEnabled\": false\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3206/providers/Microsoft.Devices/IotHubs/ps4560\",\r\n  \"name\": \"ps4560\",\r\n  \"type\": \"Microsoft.Devices/IotHubs\",\r\n  \"location\": \"West US 2\",\r\n  \"tags\": {},\r\n  \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n  \"resourcegroup\": \"ps3206\",\r\n  \"etag\": \"AAAAAJ5[...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3206/providers/Microsoft.EventHub/namespaces/eventHub637?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US 2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "49"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3206/providers/Microsoft.EventHub/namespaces/eventHub637\",\r\n  \"name\": \"eventHub637\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces\",\r\n  \"location\": \"West US 2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"zoneRedundant\": false,\r\n    \"isAutoInflateEnabled\": false,\r\n    \"maximumThroughputUnits\": 0,\r\n    \"kafkaEnabled\": true,\r\n    \"provisioningState\": \"Created\",\r\n    \"metricId\": \"91d12660-3dec-467a-be2a-213b5544ddc0:eventhub637\",\r\n    \"createdAt\": \"2020-07-30T20:44:50.163Z\",\r\n    \"updatedAt\": \"2020-07-30T20:44:50.163Z\",\r\n    \"serviceBusEndpoint\": \"https://eventHub637.servicebus.windows.net:443/\",\r\n    \"status\": \"Activating\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3206/providers/Microsoft.EventHub/namespaces/eventHub637/eventhubs/ps6509?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"messageRetentionInDays\": 3,\r\n    \"partitionCount\": 2\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3206/providers/Microsoft.EventHub/namespaces/eventHub637/eventhubs/ps6509\",\r\n  \"name\": \"ps6509\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces/EventHubs\",\r\n  \"location\": \"West US 2\",\r\n  \"properties\": {\r\n    \"messageRetentionInDays\": 3,\r\n    \"partitionCount\": 2,\r\n    \"status\": \"Active\",\r\n    \"createdAt\": \"2020-07-30T20:46:11.633Z\",\r\n    \"updatedAt\": \"2020-07-30T20:46:11.883Z\",\r\n    \"partitionIds\": [\r\n      \"0\",\r\n      \"1\"\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3206/providers/Microsoft.EventHub/namespaces/eventHub637/eventhubs/ps6509/authorizationRules/ps424?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3206/providers/Microsoft.EventHub/namespaces/eventHub637/eventhubs/ps6509/authorizationRules/ps424\",\r\n  \"name\": \"ps424\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules\",\r\n  \"location\": \"West US 2\",\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3206/providers/Microsoft.EventHub/namespaces/eventHub637/eventhubs/ps6509/authorizationRules/ps424/listKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/CH3"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryConnectionString\": \"Endpoint=sb://eventhub637.servicebus.windows.net/;SharedAccessKeyName=ps424;SharedAccessKey=AW2s4P8O4mD+LYNDTXrpx0VIhDyivejYLWHBj9izRas=;EntityPath=ps6509\",\r\n  \"secondaryConnectionString\": \"Endpoint=sb://eventhub637.servicebus.windows.net/;SharedAccessKeyName=ps424;SharedAccessKey=9ETlAaUIiVNkHdzM3YKNyrcoK8cI87Xe1JOhR0sQn3c=;EntityPath=ps6509\",\r\n  \"primaryKey\": \"AW2s4P8O4mD+LYNDTXrpx0VIhDyivejYLWHBj9izRas=\",\r\n  \"secondaryKey\": \"9ETlAaUIiVNkHdzM3YKNyrcoK8cI87Xe1JOhR0sQn3c=\",\r\n  \"keyName\": \"ps424\"\r\n}",
      "StatusCode": 200
    },
    {
[...]
