{
  "Get-AzMonitorHealthModelEntityDataAnnotation+[NoContext]+GetExpanded+$POST+https://management.azure.com/subscriptions/00000000-0000-4000-8000-000000000001/resourceGroups/azps-ch-rg-a9skjo/providers/Microsoft.CloudHealth/healthmodels/azps-hm-shared-a9skjo/entities/azps-ent-shared-a9skjo/addDataAnnotation?api-version=2026-09-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-4000-8000-000000000001/resourceGroups/azps-ch-rg-a9skjo/providers/Microsoft.CloudHealth/healthmodels/azps-hm-shared-a9skjo/entities/azps-ent-shared-a9skjo/addDataAnnotation?api-version=2026-09-01-preview",
      "Content": "{\n  \"annotationDetails\": {\n    \"key\": \"value\"\n  },\n  \"description\": \"annotation for get\"\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "198" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"annotationId\":\"00000000-0000-4000-8000-000000000043\",\"createdAt\":\"2026-09-10T05:20:09.3230532+00:00\",\"annotationDetails\":{\"key\":\"value\"},\"description\":\"annotation for get\"}",
    }
  },
  "Get-AzMonitorHealthModelEntityDataAnnotation+[NoContext]+GetExpanded+$POST+https://management.azure.com/subscriptions/00000000-0000-4000-8000-000000000001/resourceGroups/azps-ch-rg-a9skjo/providers/Microsoft.CloudHealth/healthmodels/azps-hm-shared-a9skjo/entities/azps-ent-shared-a9skjo/getDataAnnotations?api-version=2026-09-01-preview+2": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-4000-8000-000000000001/resourceGroups/azps-ch-rg-a9skjo/providers/Microsoft.CloudHealth/healthmodels/azps-hm-shared-a9skjo/entities/azps-ent-shared-a9skjo/getDataAnnotations?api-version=2026-09-01-preview",
      "Content": "{\n  \"top\": 5\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "246" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3746" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"entityName\":\"azps-ent-shared-a9skjo\",\"annotations\":[{\"annotationId\":\"00000000-0000-4000-8000-000000000043\",\"createdAt\":\"2026-09-10T05:20:09.3230532+00:00\",\"annotationDetails\":{\"key\":\"value\"},\"description\":\"annotation for get\"},{\"annotationId\":\"00000000-0000-4000-8000-000000000007\",\"createdAt\":\"2026-09-10T05:20:04.6639752+00:00\",\"annotationDetails\":{\"source\":\"test\",\"ticket\":\"CH-1001\"},\"description\":\"annotation created by test\"}]}",
    }
  }
}