{
  "Get-AzMonitorHealthModelEntity+[NoContext]+List+$GET+https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-ch-rg-ms1q6l/providers/Microsoft.CloudHealth/healthmodels/azps-hm-shared-ms1q6l/entities?api-version=2026-05-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-ch-rg-ms1q6l/providers/Microsoft.CloudHealth/healthmodels/azps-hm-shared-ms1q6l/entities?api-version=2026-05-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [
          "38"
        ],
        "Authorization": [
          "[Filtered]"
        ]
      },
      "ContentHeaders": {}
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ]
      },
      "ContentHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azps-ch-rg-ms1q6l/providers/microsoft.cloudhealth/healthmodels/azps-hm-shared-ms1q6l/entities/azps-disc-shared-ms1q6l\",\"name\":\"azps-disc-shared-ms1q6l\",\"type\":\"Microsoft.CloudHealth/healthmodels/entities\",\"systemData\":{\"createdByType\":\"Application\",\"createdAt\":\"2026-08-18T10:56:41.5663909Z\",\"lastModifiedAt\":\"2026-08-18T10:56:41.5663967Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"displayName\":\"Shared discovery rule\",\"icon\":{\"iconName\":\"DiscoveryRule\"},\"impact\":\"Standard\",\"discoveredBy\":\"azps-disc-shared-ms1q6l\",\"healthState\":\"Unknown\"}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azps-ch-rg-ms1q6l/providers/microsoft.cloudhealth/healthmodels/azps-hm-shared-ms1q6l/entities/azps-ent-child-ms1q6l\",\"name\":\"azps-ent-child-ms1q6l\",\"type\":\"Microsoft.CloudHealth/healthmodels/entities\",\"systemData\":{\"createdBy\":\"user@example.com\",\"createdByType\":\"User\",\"createdAt\":\"2026-08-18T10:54:25.7108891Z\",\"lastModifiedBy\":\"user@example.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2026-08-18T10:54:26.4712744Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"displayName\":\"Shared child entity\",\"healthObjective\":99.5,\"impact\":\"Standard\",\"healthState\":\"Unknown\"}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azps-ch-rg-ms1q6l/providers/microsoft.cloudhealth/healthmodels/azps-hm-shared-ms1q6l/entities/azps-ent-shared-ms1q6l\",\"name\":\"azps-ent-shared-ms1q6l\",\"type\":\"Microsoft.CloudHealth/healthmodels/entities\",\"systemData\":{\"createdBy\":\"user@example.com\",\"createdByType\":\"User\",\"createdAt\":\"2026-08-18T10:53:53.1743962Z\",\"lastModifiedBy\":\"user@example.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2026-08-18T10:53:53.5398371Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"displayName\":\"Shared entity\",\"healthObjective\":99.9,\"impact\":\"Standard\",\"healthState\":\"Unknown\"}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azps-ch-rg-ms1q6l/providers/microsoft.cloudhealth/healthmodels/azps-hm-shared-ms1q6l/entities/azps-hm-shared-ms1q6l\",\"name\":\"azps-hm-shared-ms1q6l\",\"type\":\"Microsoft.CloudHealth/healthmodels/entities\",\"systemData\":{\"lastModifiedAt\":\"2026-08-18T10:53:20.4782387Z\"},\"properties\":{\"displayName\":\"azps-hm-shared-ms1q6l\",\"canvasPosition\":{\"x\":0.0,\"y\":0.0},\"impact\":\"Standard\",\"healthState\":\"Unknown\"}}]}",
    }
  },
  "Get-AzMonitorHealthModelEntity+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-ch-rg-ms1q6l/providers/Microsoft.CloudHealth/healthmodels/azps-hm-shared-ms1q6l/entities/azps-ent-shared-ms1q6l?api-version=2026-05-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0[...]
