{
  "Update-AzMonitorHealthModelRelationship+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-ch-rg-ms1q6l/providers/Microsoft.CloudHealth/healthmodels/azps-hm-shared-ms1q6l/relationships/azps-rel-shared-ms1q6l?api-version=2026-05-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-ch-rg-ms1q6l/providers/Microsoft.CloudHealth/healthmodels/azps-hm-shared-ms1q6l/relationships/azps-rel-shared-ms1q6l?api-version=2026-05-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [
          "126"
        ],
        "Authorization": [
          "[Filtered]"
        ]
      },
      "ContentHeaders": {}
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ]
      },
      "ContentHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "Content": "{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/azps-ch-rg-ms1q6l/providers/microsoft.cloudhealth/healthmodels/azps-hm-shared-ms1q6l/relationships/azps-rel-shared-ms1q6l\",\"name\":\"azps-rel-shared-ms1q6l\",\"type\":\"Microsoft.CloudHealth/healthmodels/relationships\",\"systemData\":{\"createdBy\":\"user@example.com\",\"createdByType\":\"User\",\"createdAt\":\"2026-08-18T10:56:08.3205896Z\",\"lastModifiedBy\":\"user@example.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2026-08-18T10:56:09.1402424Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"displayName\":\"Shared relationship\",\"parentEntityName\":\"azps-ent-shared-ms1q6l\",\"childEntityName\":\"azps-ent-child-ms1q6l\"}}",
    }
  },
  "Update-AzMonitorHealthModelRelationship+[NoContext]+UpdateExpanded+$PUT+https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-ch-rg-ms1q6l/providers/Microsoft.CloudHealth/healthmodels/azps-hm-shared-ms1q6l/relationships/azps-rel-shared-ms1q6l?api-version=2026-05-01-preview+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azps-ch-rg-ms1q6l/providers/Microsoft.CloudHealth/healthmodels/azps-hm-shared-ms1q6l/relationships/azps-rel-shared-ms1q6l?api-version=2026-05-01-preview",
      "Content": "{\n  \"properties\": {\n    \"displayName\": \"Shared relationship updated\",\n    \"parentEntityName\": \"azps-ent-shared-ms1q6l\",\n    \"childEntityName\": \"azps-ent-child-ms1q6l\",\n    \"tags\": {\n      \"role\": \"dependency\"\n    }\n  }\n}",
      "Headers": {},
      "ContentHeaders": {
        "Content-Type": [
          "application/json"
        ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ]
      },
      "ContentHeaders": {
[...]
