{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/DTL-TestGroup/providers/Microsoft.DevTestLab/labs/onesdklab0111/policysets/default/policies/MaxVmsAllowedPerUser?api-version=2016-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceInGroupDoesNotExist\",\r\n    \"message\": \"The resource 'onesdklab0111/default/MaxVmsAllowedPerUser' under resource group 'DTL-TestGroup' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/DTL-TestGroup/providers/Microsoft.DevTestLab/labs/onesdklab0111/policysets/default/policies/MaxVmsAllowedPerUser?api-version=2016-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"status\": \"Enabled\",\r\n    \"factName\": \"UserOwnedLabVmCount\",\r\n    \"threshold\": \"5\",\r\n    \"evaluatorType\": \"MaxValuePolicy\",\r\n    \"createdDate\": \"2024-11-01T11:36:52.1386267+08:00\",\r\n    \"uniqueIdentifier\": \"ad8295e8-e847-45ef-83a2-168ab8c83789\"\r\n  },\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/dtl-testgroup/providers/microsoft.devtestlab/labs/onesdklab0111/policysets/default/policies/maxvmsallowedperuser\",\r\n  \"name\": \"MaxVmsAllowedPerUser\",\r\n  \"type\": \"Microsoft.DevTestLab/labs/policySets/policies\"\r\n}",
      "StatusCode": 200
    },
[...]
