{
  "Entries": [
    {
      "RequestUri": "/tenants?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/tenants/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\r\n      \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14999"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590\",\r\n      \"subscriptionId\": \"0b1f6471-1bf0-4dda-aec3-cb9272f09590\",\r\n      \"displayName\": \"AzureSDKADGraph2\",\r\n      \"state\": \"Enabled\",\r\n      \"subscriptionPolicies\": {\r\n        \"locationPlacementId\": \"Internal_2014-09-01\",\r\n        \"quotaId\": \"Internal_2014-09-01\",\r\n        \"spendingLimit\": \"Off\"\r\n      },\r\n      \"authorizationSource\": \"Legacy\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14998"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_dns_zone5_importpsrx4oeeiblbkbddy3bwaeebmqqv2rf7dhcr5xtq4kfa7uuenbyajag\",\r\n      \"name\": \"cli_dns_zone5_importpsrx4oeeiblbkbddy3bwaeebmqqv2rf7dhcr5xtq4kfa7uuenbyajag\",\r\n      \"location\": \"westus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_ag_private_ipsda5vkhqjdq23wtmuycu7bkiig7imzbvlqu4etlga2ixemk6gqql2\",\r\n      \"name\": \"cli_test_ag_private_ipsda5vkhqjdq23wtmuycu7bkiig7imzbvlqu4etlga2ixemk6gqql2\",\r\n      \"location\": \"westus\",\r\n      \"tags\": {\r\n        \"product\": \"azurecli\",\r\n        \"cause\": \"automation\",\r\n        \"date\": \"2018-05-17T20:19:08Z\"\r\n      },\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_cannotdelete_resource_lockgzfvhhyaaogl2ecqeng6egpkx3t4bi4hq22xh2lv\",\r\n      \"name\": \"cli_test_cannotdelete_resource_lockgzfvhhyaaogl2ecqeng6egpkx3t4bi4hq22xh2lv\",\r\n      \"location\": \"westus\",\r\n      \"tags\": {\r\n        \"product\": \"azurecli\"[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"ps1551\",\r\n  \"homepage\": \"http://ps1551\",\r\n  \"identifierUris\": [\r\n    \"http://ps1551\"\r\n  ],\r\n  \"passwordCredentials\": [\r\n    {\r\n      \"startDate\": \"2018-05-23T20:45:04.3849157Z\",\r\n      \"endDate\": \"2019-05-23T20:45:04.3849157Z\",\r\n      \"keyId\": \"a265f4b9-23d3-4a7f-abe6-e2f93e19f124\",\r\n      \"value\": \"e269d2b5-cdad-4e04-ae9f-d5e3f65a2de6\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"111290f0-c5b6-4db7-835b-76eae3679fa4\",\r\n  \"deletionTimestamp\": null,\r\n  \"acceptMappedClaims\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"a85aa91c-9225-452b-8796-f8393ef8e702\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"ps1551\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://ps1551\",\r\n  \"identifierUris\": [\r\n    \"http://ps1551\"\r\n  ],\r\n  \"informationalUrls\": {\r\n    \"termsOfService\": null,\r\n    \"support\": null,\r\n    \"privacy\": null,\r\n    \"marketing\": null\r\n  },\r\n  \"isDeviceOnlyAuthSupported\": null,\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"logo@odata.mediaContentType\": \"application/json;odata=minimalmetadata; charset=utf-8\",\r\n  \"logoUrl\": null,\r\n  \"oauth2AllowIdTokenImplicitFlow\": false,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access ps1551 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access ps1551\",\r\n      \"id\": \"2cb18973-8a10-4f03-b8fd-6a69eb2da8d4\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access ps1551 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access ps1551\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"parentalControlSettings\": {\r\n    \"countriesBlockedForMinors\": [],\r\n    \"legalAgeGroupRule\": \"Allow\"\r\n  },\r\n  \"passwordCredentials\": [\r\n    {\r\n      \"customKeyIdentifier\": null,\r\n      \"endDate\": \"2019-05-23T20:45:04.3849157Z\",\r\n      \"keyId\": \"a265f4b9-23d3-4a7f-abe6-e2f93e19f124\",\r\n      \"startDate\": \"2018-05-23T20:45:04.3849157Z\",\r\n      \"value\": null\r\n    }\r\n  ],\r\n  \"publicClient\": null,\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"signInAudience\": null,\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "+EOS4a"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "lTozdcSBQrdMbP_X4EER5blklDH-VG9OHh6OK16mh_8nXhKD03bIyRsZHaPCjGf-lYN6jB578wfoDgEdRZe1bXCtFOtMPoAy-IQiSqSG4wsOlJ1BA7t4tOFPzJNu0DKpreBWngmd3v7RMrE3O4jkhA.npwGH5wmzWBBCTqt-tBH6iSRjyxi5kC7LwYDozXi3sw"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2253550"
        ],
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/111290f0-c5b6-4db7-835b-76eae3679fa4/Microsoft.DirectoryServices.Application"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"a85aa91c-9225-452b-8796-f8393ef8e702\",\r\n  \"accountEnabled\": true,\r\n  \"passwordCredentials\": [\r\n    {\r\n      \"startDate\": \"2018-05-23T20:45:04.3849157Z\",\r\n      \"endDate\": \"2019-05-23T20:45:04.3849157Z\",\r\n      \"keyId\": \"a265f4b9-23d3-4a7f-abe6-e2f93e19f124\",\r\n      \"value\": \"e269d2b5-cdad-4e04-ae9f-d5e3f65a2de6\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"9cba7e7e-7b97-41e7-acbe-3649aabc748c\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"ps1551\",\r\n  \"appId\": \"a85aa91c-9225-452b-8796-f8393ef8e702\",\r\n  \"appOwnerTenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"ps1551\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://ps1551\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access ps1551 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access ps1551\",\r\n      \"id\": \"2cb18973-8a10-4f03-b8fd-6a69eb2da8d4\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access ps1551 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access ps1551\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [\r\n    {\r\n      \"customKeyIdentifier\": null,\r\n      \"endDate\": \"2019-05-23T20:45:04.3849157Z\",\r\n      \"keyId\": \"a265f4b9-23d3-4a7f-abe6-e2f93e19f124\",\r\n      \"startDate\": \"2018-05-23T20:45:04.3849157Z\",\r\n      \"value\": null\r\n    }\r\n  ],\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"AzureSDKTeam\",\r\n  \"replyUrls\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"a85aa91c-9225-452b-8796-f8393ef8e702\",\r\n    \"http://ps1551\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"signInAudience\": null,\r\n  \"tags\": [],\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "+EOS"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "FlHGTmeqyo9u-K4MY_-GtE1j4jFTrp2aRkK6a9JTzCx2M-LaDpvRE9d3PEGa25URR3c-17lGnJcBl6iC_PzjRtx3boh4mguiY9PpwnJOXlkCkQyASzfZxG39RO_obt_2IDyGTcu50xX1dO-iBe1WSw.gXq3I39laqW9T68O9rHrQxj6fbkIjXw3Z44PuDD4dT8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1230812"
        ],
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/9cba7e7e-7b97-41e7-acbe-3649aabc748c/Microsoft.DirectoryServices.ServicePrincipal"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "//subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/yg1/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20'Contributor'&api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleName\": \"Contributor\",\r\n        \"type\": \"BuiltInRole\",\r\n        \"description\": \"Lets you manage everything except access to resources.\",\r\n        \"assignableScopes\": [\r\n          \"/\"\r\n        ],\r\n        \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n              \"*\"\r\n            ],\r\n            \"notActions\": [\r\n              \"Microsoft.Authorization/*/Delete\",\r\n              \"Microsoft.Authorization/*/Write\",\r\n              \"Microsoft.Authorization/elevateAccess/Action\"\r\n            ],\r\n            \"dataActions\": [],\r\n            \"notDataActions\": []\r\n          }\r\n        ],\r\n        \"createdOn\": \"0001-01-01T08:00:00Z\",\r\n        \"updatedOn\": \"2016-12-14T02:04:45.1393855Z\",\r\n        \"createdBy\": null,\r\n        \"updatedBy\": null\r\n      },\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\r\n      \"type\": \"Microsoft.Authorization/roleDefinitions\",\r\n      \"name\": \"b24988ac-6180-42a0-ab88-20f7382dd24c\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-request-charge": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/yg1/providers/Microsoft.Authorization/roleAssignments/a3a28198-945f-4e64-914f-99d5610bc3af?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/yg1/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\r\n    \"principalId\": \"9cba7e7e-7b97-41e7-acbe-3649aabc748c\",\r\n    \"canDelegate\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c\",\r\n    \"principalId\": \"9cba7e7e-7b97-41e7-acbe-3649aabc748c\",\r\n    \"principalType\": \"ServicePrincipal\",\r\n    \"scope\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/yg1\",\r\n    \"createdOn\": \"2018-05-23T20:45:06.7787944Z\",\r\n    \"updatedOn\": \"2018-05-23T20:45:06.7787944Z\",\r\n    \"createdBy\": null,\r\n    \"updatedBy\": \"5963f50c-7c43-405c-af7e-53294de76abd\"\r\n  },\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/yg1/providers/Microsoft.Authorization/roleAssignments/a3a28198-945f-4e64-914f-99d5610bc3af\",\r\n  \"type\": \"Microsoft.Authorization/roleAssignments\",\r\n  \"name\": \"a3a28198-945f-4e64-914f-99d5610bc3af\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-request-charge": [
          "4"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "//subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleName\": \"Contributor\",\r\n    \"type\": \"BuiltInRole\",\r\n    \"description\": \"Lets you manage everything except access to resources.\",\r\n   [...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/getObjectsByObjectIds?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"objectIds\": [\r\n    \"9cba7e7e-7b97-41e7-acbe-3649aabc748c\"\r\n  ],\r\n  \"includeDirectoryObjectReferences\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n      \"objectType\": \"ServicePrincipal\",\r\n      \"objectId\": \"9cba7e7e-7b97-41e7-acbe-3649aabc748c\",\r\n      \"de[...]
[...]
    {
      "RequestUri": "//subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/yg1/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20'9cba7e7e-7b97-41e7-acbe-3649aabc748c'&api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleDefinitionId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09[...]
[...]
    {
      "RequestUri": "//subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/yg1/providers/Microsoft.Authorization/roleDefinitions?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleName\": \"cli-test-role2ardtmq\",\r\n        \"type\": \"CustomRole\",\r\n        \"description\": \"Can monitor compute, network an[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20'9cba7e7e-7b97-41e7-acbe-3649aabc748c'&api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleDefinitionId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Micros[...]
[...]
    {
      "RequestUri": "//subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleName\": \"cli-test-role2ardtmq\",\r\n        \"type\": \"CustomRole\",\r\n        \"description\": \"Can monitor compute, network and storage, and rest[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications?$filter=appId%20eq%20'a85aa91c-9225-452b-8796-f8393ef8e702'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Application\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.Direc[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/111290f0-c5b6-4db7-835b-76eae3679fa4?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "MH0R8mLEKNJg37JupYky5a6a5nCUFLw87urdg3u3YYE="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "nxZPhjNbkTjA4NfhmwBUBMPfAcjztDC3vsq5slTrJUvOydqZ05GXZZ-ij9UAdCeFdQb9rzPjrDKirlgbcNaGLLOdnccaLHLj-hY29CBujWlmBUUMEMyFpDWenZhooiVu-x6UxTcXx9WreGPUKhFcgA.29gvyspKEHsW9YtPANjt2cI1ihTSTHhyzWZOH-5WAeo"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "1924541"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "StatusCode": 204
    },
[...]
