{
  "Entries": [
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/users/baadc0de-baad-c0de-baad-c0debaadc0de?api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource 'baadc0de-baad-c0de-baad-c0debaadc0de' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "uWh47T9cQylboVyeD3aWIImoO8tOo13UeQFaz8gobJo="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "QM66hHrIVD0wm6Cagd7Lo6L36L0ycJM9X-pXVRXOZtHpqNRKjmzkXk1s867MmXKT_jVGgQGDsdYuBMUcAZKG5zSOkfH9Bf8MdoHPgcJAqXbXuKEBNBnL5ityYp8MV4vjVpMHy4AajNHXX8QuQu3l8FwycpMi_Ms9GfsdqRQ_3rCh9ZnkEm5BSx_C2K6_xafG5YDRGyJcdmUbR2nfkuE_gA.OOJZyarRX-pqMYn0HOYaI5-gjwpI-S7wL_YOvPZ1mPo"
        ],
        "Duration": [
          "572073"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}