{
  "Entries": [
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"ps6850\",\r\n  \"homepage\": \"http://ps6850\",\r\n  \"identifierUris\": [\r\n    \"http://ps6850\"\r\n  ],\r\n  \"passwordCredentials\": [\r\n    {\r\n      \"startDate\": \"2018-05-23T20:40:13.4491229Z\",\r\n      \"endDate\": \"2019-05-23T20:40:13.4491229Z\",\r\n      \"keyId\": \"882ffbef-10c3-4bae-9675-dc8626bfeae3\",\r\n      \"value\": \"39481260-ecfd-4d66-b792-40995c518a94\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"d334bb80-fb22-40ae-8d4c-84ad665a5def\",\r\n  \"deletionTimestamp\": null,\r\n  \"acceptMappedClaims\": null,\r\n  \"addIns\": [],\r\n  \"appId\": \"7e2c6c6b-3fe6-4bae-9d69-009811a19564\",\r\n  \"appRoles\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"ps6850\",\r\n  \"errorUrl\": null,\r\n  \"groupMembershipClaims\": null,\r\n  \"homepage\": \"http://ps6850\",\r\n  \"identifierUris\": [\r\n    \"http://ps6850\"\r\n  ],\r\n  \"informationalUrls\": {\r\n    \"termsOfService\": null,\r\n    \"support\": null,\r\n    \"privacy\": null,\r\n    \"marketing\": null\r\n  },\r\n  \"isDeviceOnlyAuthSupported\": null,\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"logo@odata.mediaContentType\": \"application/json;odata=minimalmetadata; charset=utf-8\",\r\n  \"logoUrl\": null,\r\n  \"oauth2AllowIdTokenImplicitFlow\": false,\r\n  \"oauth2AllowImplicitFlow\": false,\r\n  \"oauth2AllowUrlPathMatching\": false,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access ps6850 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access ps6850\",\r\n      \"id\": \"69a30e9e-2537-4b10-b4bf-d25b456887bd\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access ps6850 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access ps6850\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"oauth2RequirePostResponse\": false,\r\n  \"optionalClaims\": null,\r\n  \"parentalControlSettings\": {\r\n    \"countriesBlockedForMinors\": [],\r\n    \"legalAgeGroupRule\": \"Allow\"\r\n  },\r\n  \"passwordCredentials\": [\r\n    {\r\n      \"customKeyIdentifier\": null,\r\n      \"endDate\": \"2019-05-23T20:40:13.4491229Z\",\r\n      \"keyId\": \"882ffbef-10c3-4bae-9675-dc8626bfeae3\",\r\n      \"startDate\": \"2018-05-23T20:40:13.4491229Z\",\r\n      \"value\": null\r\n    }\r\n  ],\r\n  \"publicClient\": null,\r\n  \"recordConsentConditions\": null,\r\n  \"replyUrls\": [],\r\n  \"requiredResourceAccess\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"signInAudience\": null,\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "Q"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "8apb77NthiSPC3y_1cdyXLM5GT00FVysy5dxRrmYX7ejzpZgEoslrFJnTzIjyTRq8sSy4YlkGI2zWQID1fWsUDSDQ8B0tWsZKa5un7EmGYnZWBIO7sAMAlIAXRs7kCFcIu3HYXm44tVBmkbqum6vww.HLd3l3CpnJCXx1b0zOW-hMsdwhiduwAJAN_4PBGz2Wk"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "2265345"
        ],
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/d334bb80-fb22-40ae-8d4c-84ad665a5def/Microsoft.DirectoryServices.Application"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/servicePrincipals?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"7e2c6c6b-3fe6-4bae-9d69-009811a19564\",\r\n  \"accountEnabled\": true,\r\n  \"passwordCredentials\": [\r\n    {\r\n      \"startDate\": \"2018-05-23T20:40:13.4491229Z\",\r\n      \"endDate\": \"2019-05-23T20:40:13.4491229Z\",\r\n      \"keyId\": \"882ffbef-10c3-4bae-9675-dc8626bfeae3\",\r\n      \"value\": \"39481260-ecfd-4d66-b792-40995c518a94\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"97ae5653-e6e3-420d-a73c-148152ba394f\",\r\n  \"deletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"addIns\": [],\r\n  \"alternativeNames\": [],\r\n  \"appDisplayName\": \"ps6850\",\r\n  \"appId\": \"7e2c6c6b-3fe6-4bae-9d69-009811a19564\",\r\n  \"appOwnerTenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\r\n  \"appRoleAssignmentRequired\": false,\r\n  \"appRoles\": [],\r\n  \"displayName\": \"ps6850\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://ps6850\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"oauth2Permissions\": [\r\n    {\r\n      \"adminConsentDescription\": \"Allow the application to access ps6850 on behalf of the signed-in user.\",\r\n      \"adminConsentDisplayName\": \"Access ps6850\",\r\n      \"id\": \"69a30e9e-2537-4b10-b4bf-d25b456887bd\",\r\n      \"isEnabled\": true,\r\n      \"type\": \"User\",\r\n      \"userConsentDescription\": \"Allow the application to access ps6850 on your behalf.\",\r\n      \"userConsentDisplayName\": \"Access ps6850\",\r\n      \"value\": \"user_impersonation\"\r\n    }\r\n  ],\r\n  \"passwordCredentials\": [\r\n    {\r\n      \"customKeyIdentifier\": null,\r\n      \"endDate\": \"2019-05-23T20:40:13.4491229Z\",\r\n      \"keyId\": \"882ffbef-10c3-4bae-9675-dc8626bfeae3\",\r\n      \"startDate\": \"2018-05-23T20:40:13.4491229Z\",\r\n      \"value\": null\r\n    }\r\n  ],\r\n  \"preferredTokenSigningKeyThumbprint\": null,\r\n  \"publisherName\": \"AzureSDKTeam\",\r\n  \"replyUrls\": [],\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"7e2c6c6b-3fe6-4bae-9d69-009811a19564\",\r\n    \"http://ps6850\"\r\n  ],\r\n  \"servicePrincipalType\": \"Application\",\r\n  \"signInAudience\": null,\r\n  \"tags\": [],\r\n  \"tokenEncryptionKeyId\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "ocp-aad-diagnostics-server-name": [
          "pz"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "9TNWtgh-iIavo59n6B6W1QnPryFwN8JUX9ClRzfkWRirst73SghJPaNEvSelF9VAZAJYnQK7cR0rHwGoVNmJhztXLovRB4zpF-0Icgs5gckkKzwqXBg03n6MZmHVN9aMpm2iK4u8pgZtZ6LoYXxuIQ.gBi-1CUmb9h4rC8fmJn2LDRHThrNShEdA1ZUbMNZLHU"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "1736618"
        ],
        "Location": [
          "https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/directoryObjects/97ae5653-e6e3-420d-a73c-148152ba394f/Microsoft.DirectoryServices.ServicePrincipal"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "//subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20'Reader'&api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleName\": \"Reader\",\r\n        \"type\": \"BuiltInRole\",\r\n        \"description\": \"Lets you view everything, but not make any changes.\",\r\n        \"assignableScopes\": [\r\n          \"/\"\r\n        ],\r\n        \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n              \"*/read\"\r\n            ],\r\n            \"notActions\": [],\r\n            \"dataActions\": [],\r\n            \"notDataActions\": []\r\n          }\r\n        ],\r\n        \"createdOn\": \"0001-01-01T08:00:00Z\",\r\n        \"updatedOn\": \"2018-01-30T18:08:25.4031403Z\",\r\n        \"createdBy\": null,\r\n        \"updatedBy\": null\r\n      },\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7\",\r\n      \"type\": \"Microsoft.Authorization/roleDefinitions\",\r\n      \"name\": \"acdd72a7-3385-48ef-bd42-f606fba81ae7\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-request-charge": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleAssignments/99a4a6bd-ca4e-49e0-a12d-35cb5c27e73a?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7\",\r\n    \"principalId\": \"97ae5653-e6e3-420d-a73c-148152ba394f\",\r\n    \"canDelegate\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"PrincipalNotFound\",\r\n    \"message\": \"Principal 97ae5653e6e3420da73c148152ba394f does not exist in the directory 54826b22-38d6-4fb2-bad9-b7b93a3e9c5a.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "StatusCode": 400
    },
[...]
    {
      "RequestUri": "//subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleAssignments/1495882d-eee3-4a8c-98e4-4cf0cdbdf7a8?api-version=2018-01-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7\",\r\n    \"principalId\": \"97ae5653-e6e3-420d-a73c-148152ba394f\",\r\n    \"canDelegate\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleDefinitionId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7\",\r\n    \"principalId\": \"97ae5653-e6e3-420d-a73c-148152ba394f\",\r\n    \"principalType\": \"ServicePrincipal\",\r\n    \"scope\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590\",\r\n    \"createdOn\": \"2018-05-23T20:40:22.3252543Z\",\r\n    \"updatedOn\": \"2018-05-23T20:40:22.3252543Z\",\r\n    \"createdBy\": null,\r\n    \"updatedBy\": \"5963f50c-7c43-405c-af7e-53294de76abd\"\r\n  },\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleAssignments/1495882d-eee3-4a8c-98e4-4cf0cdbdf7a8\",\r\n  \"type\": \"Microsoft.Authorization/roleAssignments\",\r\n  \"name\": \"1495882d-eee3-4a8c-98e4-4cf0cdbdf7a8\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-request-charge": [
          "4"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "//subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"roleName\": \"Reader\",\r\n    \"type\": \"BuiltInRole\",\r\n    \"description\": \"Lets you view everything, but not make any changes.\",\r\n    \"assig[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/getObjectsByObjectIds?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"objectIds\": [\r\n    \"97ae5653-e6e3-420d-a73c-148152ba394f\"\r\n  ],\r\n  \"includeDirectoryObjectReferences\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.ServicePrincipal\",\r\n      \"objectType\": \"ServicePrincipal\",\r\n      \"objectId\": \"97ae5653-e6e3-420d-a73c-148152ba394f\",\r\n      \"de[...]
[...]
    {
      "RequestUri": "//subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20'97ae5653-e6e3-420d-a73c-148152ba394f'&api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleDefinitionId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Micro[...]
[...]
    {
      "RequestUri": "//subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleDefinitions?api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleName\": \"cli-test-role2ardtmq\",\r\n        \"type\": \"CustomRole\",\r\n        \"description\": \"Can monitor compute, network and storage, and rest[...]
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Authorization/roleAssignments?$filter=principalId%20eq%20'97ae5653-e6e3-420d-a73c-148152ba394f'&api-version=2018-01-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"roleDefinitionId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Micros[...]
[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications?$filter=appId%20eq%20'7e2c6c6b-3fe6-4bae-9d69-009811a19564'&api-version=1.6",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/$metadata#directoryObjects/Microsoft.DirectoryServices.Application\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.Direc[...]
    {
      "RequestUri": "/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/applications/d334bb80-fb22-40ae-8d4c-84ad665a5def?api-version=1.6",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "YaUr/QI8BdH2+9T2GuYNq7DhUfKmqQhjXjhZvXluhlA="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "aW4NkHHRRz_oCdVoPChxETuufkb4mBt1v9bTqqTNSNfFJVq0DDlTHxyTfHfgSmOk84PItB30UqVmzc2Mr_8zHEeUREOcdjQAO23zcxiuLPNlYacBZ07wXrXa3ob9ydgVuDaDKAkuQ-C1p-08HDSfYg.vbYkijz5XlarYDpOb5XhN-a8pF4ztxvYLq6AwGXQ1NY"
        ],
        "DataServiceVersion": [
          "1.0;"
        ],
        "Duration": [
          "2662868"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "StatusCode": 204
    },
[...]
