{
  "Entries": [
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/pstestrg6310?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg6310\",\r\n  \"name\": \"pstestrg6310\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg6310/providers/Microsoft.Insights/components/apppstestrg6310?api-version=2018-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Insights/components/apppstestrg6310' under resource group 'pstestrg6310' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg6310/providers/Microsoft.Insights/components/apppstestrg6310?api-version=2018-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"kind\": \"web\",\r\n  \"properties\": {\r\n    \"Application_Type\": \"web\",\r\n    \"Request_Source\": \"AzurePowerShell\"\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg6310/providers/microsoft.insights/components/apppstestrg6310\",\r\n  \"name\": \"apppstestrg6310\",\r\n  \"type\": \"microsoft.insights/components\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"kind\": \"web\",\r\n  \"etag\": \"\\\"090051c0-0000-0100-0000-5ead3f290000\\\"\",\r\n  \"properties\": {\r\n    \"Ver\": \"v2\",\r\n    \"ApplicationId\": \"apppstestrg6310\",\r\n    \"AppId\": \"9582aefe-a20b-447b-94a7-32a0fe559c59\",\r\n    \"Application_Type\": \"web\",\r\n    \"Flow_Type\": null,\r\n    \"Request_Source\": \"AzurePowerShell\",\r\n    \"InstrumentationKey\": \"52671e8e-c7d0-45ad-8dac-506faa0ac74e\",\r\n    \"ConnectionString\": \"InstrumentationKey=52671e8e-c7d0-45ad-8dac-506faa0ac74e\",\r\n    \"Name\": \"apppstestrg6310\",\r\n    \"CreationDate\": \"2020-05-02T17:36:41.0917213+08:00\",\r\n    \"TenantId\": \"57947cb5-aadd-4b6c-9e8e-27f545bb7bf5\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"SamplingPercentage\": null,\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg6310/providers/Microsoft.Insights/components/apppstestrg6310/exportconfiguration?api-version=2015-05-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"RecordTypes\": \"Requests,Event\",\r\n  \"DestinationType\": \"Blob\",\r\n  \"DestinationAddress\": \"https://dummysa.blob.core.windows.net/dummycontianer?sv=2015-04-05&sr=c&sig=xxxxxxxxx&sp=w\",\r\n  \"IsEnabled\": \"true\",\r\n  \"DestinationStorageSubscriptionId\": \"50359d91-7b9d-4823-85af-eb298a61ba97\",\r\n  \"DestinationStorageLocationId\": \"eastus\",\r\n  \"DestinationAccountId\": \"/subscriptions/50359d91-7b9d-4823-85af-eb298a61ba97/resourceGroups/pstestrg6310/providers/Microsoft.Storage/storageAccounts/dummysa\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"ExportId\": \"HVTIk5pJGzYqAe10rHb2McBj5Q=\",\r\n    \"InstrumentationKey\": \"52671e8e-c7d0-45ad-8dac-506faa0ac74e\",\r\n    \"RecordTypes\": \"Requests, Event\",\r\n    \"ApplicationName\": \"apppstestrg6310\",\r\n    \"SubscriptionId\": \"57947cb5-aadd-4b6c-9e8e-27f545bb7bf5\",\r\n    \"ResourceGroup\": \"pstestrg6310\",\r\n    \"DestinationStorageSubscriptionId\": \"50359d91-7b9d-4823-85af-eb298a61ba97\",\r\n    \"DestinationStorageLocationId\": \"eastus\",\r\n    \"DestinationAccountId\": \"/subscriptions/50359d91-7b9d-4823-85af-eb298a61ba97/resourceGroups/pstestrg6310/providers/Microsoft.Storage/storageAccounts/dummysa\",\r\n    \"DestinationType\": \"Blob\",\r\n    \"IsUserEnabled\": \"True\",\r\n    \"LastUserUpdate\": \"2020-05-02T09:36:46.5443765Z\",\r\n    \"NotificationQueueEnabled\": \"False\",\r\n    \"DestinationKustoCluster\": null,\r\n    \"DestinationKustoDatabase\": null,\r\n    \"TransformationType\": \"Default\",\r\n    \"ExportStatus\": \"Preparing\",\r\n    \"LastSuccessTime\": null,\r\n    \"LastGapTime\": null,\r\n    \"PermanentErrorReason\": \"None\",\r\n    \"StorageName\": \"dummysa\",\r\n    \"ContainerName\": \"dummycontianer\"\r\n  }\r\n]",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg6310/providers/Microsoft.Insights/components/apppstestrg6310/exportconfiguration/HVTIk5pJGzYqAe10rHb2McBj5Q%3D?api-version=2015-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-export-configuration-count": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"ExportId\": \"HVTIk5pJGzYqAe10rHb2McBj5Q=\",\r\n  \"InstrumentationKey\": \"52671e8e-c7d0-45ad-8dac-506faa0ac74e\",\r\n  \"RecordTypes\": \"Requests, Event\",\r\n  \"ApplicationName\": \"apppstestrg6310\",\r\n  \"SubscriptionId\": \"57947cb5-aadd-4b6c-9e8e-27f545bb7bf5\",\r\n  \"ResourceGroup\": \"pstestrg6310\",\r\n  \"DestinationStorageSubscriptionId\": \"50359d91-7b9d-4823-85af-eb298a61ba97\",\r\n  \"DestinationStorageLocationId\": \"eastus\",\r\n  \"DestinationAccountId\": \"/subscriptions/50359d91-7b9d-4823-85af-eb298a61ba97/resourceGroups/pstestrg6310/providers/Microsoft.Storage/storageAccounts/dummysa\",\r\n  \"DestinationType\": \"Blob\",\r\n  \"IsUserEnabled\": \"True\",\r\n  \"LastUserUpdate\": \"2020-05-02T09:36:46.5443765Z\",\r\n  \"NotificationQueueEnabled\": \"False\",\r\n  \"DestinationKustoCluster\": null,\r\n  \"DestinationKustoDatabase\": null,\r\n  \"TransformationType\": \"Default\",\r\n  \"ExportStatus\": \"Preparing\",\r\n  \"LastSuccessTime\": null,\r\n  \"LastGapTime\": null,\r\n  \"PermanentErrorReason\": \"None\",\r\n  \"StorageName\": \"dummysa\",\r\n  \"ContainerName\": \"dummycontianer\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/pstestrg6310?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzYzMTAtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzYzMTAtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzYzMTAtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzYzMTAtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-SetApplicationInsightsContinuousExport": [
      "pstestrg6310"
    ]
  },
  "Variables": {
    "SubscriptionId": "57947cb5-aadd-4b6c-9e8e-27f545bb7bf5"
  }
}