{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/b90b0dec-9b9a-4778-a84e-4ffb73bb17f6/resourcegroups/pstestrg1182?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/pstestrg6310?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "28"
<<<<<<< HEAD
        ],
        "User-Agent": [
          "Microsoft.Azure.Management.Resources.ResourceManagementClient/2.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b90b0dec-9b9a-4778-a84e-4ffb73bb17f6/resourceGroups/pstestrg1182\",\r\n  \"name\": \"pstestrg1182\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "02cc7abd-b146-4843-852f-155ecc3b7a2f"
        ],
        "x-ms-correlation-request-id": [
          "02cc7abd-b146-4843-852f-155ecc3b7a2f"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20171009T175832Z:02cc7abd-b146-4843-852f-155ecc3b7a2f"
=======
          "97bc513b-c1f8-4728-b94b-bc04bdc9aab0"
        ],
        "x-ms-correlation-request-id": [
          "97bc513b-c1f8-4728-b94b-bc04bdc9aab0"
        ],
        "x-ms-routing-request-id": [
          "JAPANEAST:20200502T093632Z:97bc513b-c1f8-4728-b94b-bc04bdc9aab0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Mon, 09 Oct 2017 17:58:32 GMT"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b90b0dec-9b9a-4778-a84e-4ffb73bb17f6/resourceGroups/pstestrg1182/providers/microsoft.insights/components/apppstestrg1182?api-version=2015-05-01",
=======
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
          "Sat, 02 May 2020 09:36:31 GMT"
        ],
        "Content-Length": [
          "177"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg6310\",\r\n  \"name\": \"pstestrg6310\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg6310/providers/Microsoft.Insights/components/apppstestrg6310?api-version=2018-05-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "1b8322a1-39e6-419a-af71-f7bd86b639ca"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.2110.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.15063",
          "Microsoft.Azure.Management.ApplicationInsights.Management.ApplicationInsightsManagementClient/0.1.0.1"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'microsoft.insights/components/apppstestrg1182' under resource group 'pstestrg1182' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "36a61c9d-3944-49e5-8293-4f91a3379680"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.ApplicationInsights.Management.ApplicationInsightsManagementClient/0.3.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "4d18935f-facf-4169-b0c5-b6813d69dc7d"
        ],
        "x-ms-correlation-request-id": [
          "4d18935f-facf-4169-b0c5-b6813d69dc7d"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20171009T175833Z:4d18935f-facf-4169-b0c5-b6813d69dc7d"
=======
          "a5bc8981-ce7a-4533-b56a-f283fe72e03a"
        ],
        "x-ms-correlation-request-id": [
          "a5bc8981-ce7a-4533-b56a-f283fe72e03a"
        ],
        "x-ms-routing-request-id": [
          "JAPANEAST:20200502T093633Z:a5bc8981-ce7a-4533-b56a-f283fe72e03a"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Mon, 09 Oct 2017 17:58:32 GMT"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b90b0dec-9b9a-4778-a84e-4ffb73bb17f6/resourceGroups/pstestrg1182/providers/microsoft.insights/components/apppstestrg1182?api-version=2015-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"kind\": \"web\",\r\n  \"properties\": {\r\n    \"Application_Type\": \"web\",\r\n    \"Request_Source\": \"AzurePowerShell\"\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b90b0dec-9b9a-4778-a84e-4ffb73bb17f6/resourceGroups/pstestrg1182/providers/microsoft.insights/components/apppstestrg1182\",\r\n  \"name\": \"apppstestrg1182\",\r\n  \"type\": \"microsoft.insights/components\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"kind\": \"web\",\r\n  \"etag\": \"\\\"7b007a33-0000-0000-0000-59dbb8ca0000\\\"\",\r\n  \"properties\": {\r\n    \"Ver\": \"v2\",\r\n    \"ApplicationId\": \"apppstestrg1182\",\r\n    \"AppId\": \"8343f153-1503-44b9-b4d1-5a121571332f\",\r\n    \"Application_Type\": \"web\",\r\n    \"Flow_Type\": null,\r\n    \"Request_Source\": \"AzurePowerShell\",\r\n    \"InstrumentationKey\": \"d517a908-5359-4c64-a677-ba793c037dff\",\r\n    \"Name\": \"apppstestrg1182\",\r\n    \"CreationDate\": \"2017-10-09T10:58:35.0254507-07:00\",\r\n    \"PackageId\": null,\r\n    \"TenantId\": \"8b41dbed-3445-4071-893b-0d78932d36df\",\r\n    \"HockeyAppId\": null,\r\n    \"HockeyAppToken\": null,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"SamplingPercentage\": null\r\n  }\r\n}",
      "ResponseHeaders": {
=======
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
          "Sat, 02 May 2020 09:36:32 GMT"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "161"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Insights/components/apppstestrg6310' under resource group 'pstestrg6310' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg6310/providers/Microsoft.Insights/components/apppstestrg6310?api-version=2018-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"kind\": \"web\",\r\n  \"properties\": {\r\n    \"Application_Type\": \"web\",\r\n    \"Request_Source\": \"AzurePowerShell\"\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
<<<<<<< HEAD
        "Expires": [
          "-1"
=======
        "Content-Length": [
          "144"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "5bacbcc8-9f34-42f9-81db-70111d495514"
        ],
        "x-content-type-options": [
          "nosniff",
          "nosniff"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
=======
          "cf3c8fb4-bb8b-4d8f-b784-d0f8e88584c6"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Request-Context": [
          "appId=cid-v1:920e14b1-13f3-461a-a4bb-b4fe6f1a4525"
        ],
        "Access-Control-Expose-Headers": [
          "Request-Context"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "a165375e-d629-4811-9b12-88098011dd54"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20171009T175836Z:a165375e-d629-4811-9b12-88098011dd54"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Mon, 09 Oct 2017 17:58:35 GMT"
        ],
        "Server": [
          "Microsoft-IIS/8.5"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b90b0dec-9b9a-4778-a84e-4ffb73bb17f6/resourceGroups/pstestrg1182/providers/microsoft.insights/components/apppstestrg1182/exportconfiguration?api-version=2015-05-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"RecordTypes\": \"Requests,Event\",\r\n  \"DestinationType\": \"Blob\",\r\n  \"DestinationAddress\": \"https://dummysa.blob.core.windows.net/dummycontianer?sv=2015-04-05&sr=c&sig=xxxxxxxxx\",\r\n  \"IsEnabled\": \"true\",\r\n  \"DestinationStorageSubscriptionId\": \"50359d91-7b9d-4823-85af-eb298a61ba97\",\r\n  \"DestinationStorageLocationId\": \"eastus\",\r\n  \"DestinationAccountId\": \"/subscriptions/50359d91-7b9d-4823-85af-eb298a61ba97/resourceGroups/pstestrg1182/providers/Microsoft.Storage/storageAccounts/dummysa\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"ExportId\": \"gYBO3kOGlkPP0mwsoRXkzcaf0L8=\",\r\n    \"InstrumentationKey\": \"d517a908-5359-4c64-a677-ba793c037dff\",\r\n    \"RecordTypes\": \"Requests, Event\",\r\n    \"ApplicationName\": \"apppstestrg1182\",\r\n    \"SubscriptionId\": \"b90b0dec-9b9a-4778-a84e-4ffb73bb17f6\",\r\n    \"ResourceGroup\": \"pstestrg1182\",\r\n    \"DestinationStorageSubscriptionId\": \"50359d91-7b9d-4823-85af-eb298a61ba97\",\r\n    \"DestinationStorageLocationId\": \"eastus\",\r\n    \"DestinationAccountId\": \"/subscriptions/50359d91-7b9d-4823-85af-eb298a61ba97/resourceGroups/pstestrg1182/providers/Microsoft.Storage/storageAccounts/dummysa\",\r\n    \"DestinationType\": \"Blob\",\r\n    \"IsUserEnabled\": \"True\",\r\n    \"LastUserUpdate\": \"2017-10-09T17:58:36.6935553Z\",\r\n    \"NotificationQueueEnabled\": \"False\",\r\n    \"DestinationKustoCluster\": null,\r\n    \"DestinationKustoDatabase\": null,\r\n    \"ExportStatus\": \"Preparing\",\r\n    \"LastSuccessTime\": null,\r\n    \"LastGapTime\": null,\r\n    \"PermanentErrorReason\": \"None\",\r\n    \"StorageName\": \"dummysa\",\r\n    \"ContainerName\": \"dummycontianer\"\r\n  }\r\n]",
      "ResponseHeaders": {
=======
          "0018cc1c-bc4f-4c67-9a82-43e3b0636773"
        ],
        "x-ms-routing-request-id": [
          "JAPANEAST:20200502T093645Z:0018cc1c-bc4f-4c67-9a82-43e3b0636773"
        ],
        "Date": [
          "Sat, 02 May 2020 09:36:44 GMT"
        ],
        "Content-Length": [
          "890"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg6310/providers/microsoft.insights/components/apppstestrg6310\",\r\n  \"name\": \"apppstestrg6310\",\r\n  \"type\": \"microsoft.insights/components\",\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"kind\": \"web\",\r\n  \"etag\": \"\\\"090051c0-0000-0100-0000-5ead3f290000\\\"\",\r\n  \"properties\": {\r\n    \"Ver\": \"v2\",\r\n    \"ApplicationId\": \"apppstestrg6310\",\r\n    \"AppId\": \"9582aefe-a20b-447b-94a7-32a0fe559c59\",\r\n    \"Application_Type\": \"web\",\r\n    \"Flow_Type\": null,\r\n    \"Request_Source\": \"AzurePowerShell\",\r\n    \"InstrumentationKey\": \"52671e8e-c7d0-45ad-8dac-506faa0ac74e\",\r\n    \"ConnectionString\": \"InstrumentationKey=52671e8e-c7d0-45ad-8dac-506faa0ac74e\",\r\n    \"Name\": \"apppstestrg6310\",\r\n    \"CreationDate\": \"2020-05-02T17:36:41.0917213+08:00\",\r\n    \"TenantId\": \"57947cb5-aadd-4b6c-9e8e-27f545bb7bf5\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"SamplingPercentage\": null,\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg6310/providers/Microsoft.Insights/components/apppstestrg6310/exportconfiguration?api-version=2015-05-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"RecordTypes\": \"Requests,Event\",\r\n  \"DestinationType\": \"Blob\",\r\n  \"DestinationAddress\": \"https://dummysa.blob.core.windows.net/dummycontianer?sv=2015-04-05&sr=c&sig=xxxxxxxxx&sp=w\",\r\n  \"IsEnabled\": \"true\",\r\n [...]
    {
      "RequestUri": "/subscriptions/b90b0dec-9b9a-4778-a84e-4ffb73bb17f6/resourceGroups/pstestrg1182/providers/microsoft.insights/components/apppstestrg1182/exportconfiguration/gYBO3kOGlkPP0mwsoRXkzcaf0L8%3D?api-version=2015-05-01",
=======
          "c31ce5a6-8bdd-4d8b-9424-1a5d34d43f7e"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Request-Context": [
          "appId=cid-v1:920e14b1-13f3-461a-a4bb-b4fe6f1a4525"
        ],
        "Access-Control-Expose-Headers": [
          "Request-Context"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
          "707da06b-1981-4c34-9130-e6615c09d8fa"
        ],
        "x-ms-routing-request-id": [
          "JAPANEAST:20200502T093646Z:707da06b-1981-4c34-9130-e6615c09d8fa"
        ],
        "Date": [
          "Sat, 02 May 2020 09:36:45 GMT"
        ],
        "Content-Length":[...]
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/pstestrg6310/providers/Microsoft.Insights/components/apppstestrg6310/exportconfiguration/HVTIk5pJGzYqAe10rHb2McBj5Q%3D?api-version=2015-05-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "e1b593ea-beaa-4827-9fca-91ee3c001f5a"
        ],
        "accept-language": [
          "en-US"
        ],
 [...]
[...]
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/pstestrg6310?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-ms-request-id": [
          "abd827c1-d4d9-4ba3-9d3a-fc7c6b4c80ca"
        ],
        "x-ms-correlation-request-id": [
          "abd827c1-d4d9-4ba3-9d3a-fc7c6b4c80ca"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20171009T175841Z:abd827c1-d4d9-4ba3-9d3a-fc7c6b4c80ca"
=======
        "Location": [
          "https://management.azure.com/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzYzMTAtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ],
        "x-ms-request-id": [
          "0ffc6bd0-1257-4e37-96aa-d2b5fb9ea288"
        ],
        "x-ms-correlation-request-id": [
          "0ffc6bd0-1257-4e37-96aa-d2b5fb9ea288"
        ],
        "x-ms-routing-request-id": [
          "JAPANEAST:20200502T093656Z:0ffc6bd0-1257-4e37-96aa-d2b5fb9ea288"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Mon, 09 Oct 2017 17:58:40 GMT"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/b90b0dec-9b9a-4778-a84e-4ffb73bb17f6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzExODItRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/b90b0dec-9b9a-4778-a84e-4ffb73bb17f6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzExODItRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
=======
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
          "Sat, 02 May 2020 09:36:56 GMT"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzYzMTAtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
=======
        "Location": [
[...]
[...]
