{
  "Entries": [
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group-ps-test/providers/Microsoft.HDInsight/clusters/ps-test-cluster?api-version=2024-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "eastasia"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"clusterVersion\": \"5.1.3000.0\",\r\n    \"clusterHdpVersion\": \"5.1-0\",\r\n    \"osType\": \"Linux\",\r\n    \"clusterDefinition\": {\r\n      \"blueprint\": \"https://blueprints.azurehdinsight.net/hadoop-5.1.3000.0.2506160526.json\",\r\n      \"kind\": \"HADOOP\",\r\n      \"componentVersion\": {\r\n        \"Hadoop\": \"3.3\"\r\n      }\r\n    },\r\n    \"clusterId\": \"b38c3d04715249cdaf7c588e449fabae\",\r\n    \"computeProfile\": {\r\n      \"roles\": [\r\n        {\r\n          \"name\": \"headnode\",\r\n          \"targetInstanceCount\": 2,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_e4_v3\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser\"\r\n            }\r\n          },\r\n          \"virtualNetworkProfile\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group-ps-test/providers/Microsoft.Network/virtualNetworks/hdi-vn-0\",\r\n            \"subnet\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group-ps-test/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default\"\r\n          },\r\n          \"encryptDataDisks\": false\r\n        },\r\n        {\r\n          \"name\": \"workernode\",\r\n          \"targetInstanceCount\": 4,\r\n          \"hardwareProfile\": {\r\n            \"vmSize\": \"standard_e8_v3\"\r\n          },\r\n          \"osProfile\": {\r\n            \"linuxOperatingSystemProfile\": {\r\n              \"username\": \"sshuser\"\r\n            }\r\n          },\r\n          \"virtualNetworkProfile\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroup[...]
[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/East%20Asia/capabilities?api-version=2024-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "eastasia"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"versions\": {\r\n    \"paas\": {\r\n      \"available\": []\r\n    },\r\n    \"iaas\": {\r\n      \"available\": [\r\n        {\r\n          \"friendlyName\": \"4.0\",\r\n          \"displayName\": \"Version 5.0.3000.0.2504081919\",\r\n          \"isDefault\": false,\r\n          \"componentVersions\": {\r\n            \"HDP\": \"3.0\",\r\n            \"Hadoop\": \"3.1.0\",\r\n            \"HBase\": \"2.1.6\",\r\n            \"InteractiveHive\": \"3.1\",\r\n            \"Kafka\": \"2.1.1\"\r\n          }\r\n        },\r\n        {\r\n          \"friendlyName\": \"5.0\",\r\n          \"displayName\": \"Version 5.0.3000.1.2504081919\",\r\n          \"isDefault\": false,\r\n          \"componentVersions\": {\r\n            \"Spark\": \"3.1\",\r\n            \"InteractiveHive\": \"3.1\",\r\n            \"Kafka\": \"2.4.1\"\r\n          }\r\n        },\r\n        {\r\n          \"friendlyName\": \"5.1\",\r\n          \"displayName\": \"Version 5.1.3000.0.2506160526\",\r\n          \"isDefault\": false,\r\n          \"componentVersions\": {\r\n            \"Kafka\": \"3.2.0\",\r\n            \"HBase\": \"2.4.11\",\r\n            \"InteractiveHive\": \"3.1.2\",\r\n            \"Hadoop\": \"3.3.4\",\r\n            \"Spark\": \"3.3.0\"\r\n          }\r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"regions\": {\r\n    \"paas\": {\r\n      \"available\": [\r\n        \"EAST ASIA\"\r\n      ]\r\n    },\r\n    \"iaas\": {\r\n      \"available\": [\r\n        \"EAST ASIA\"\r\n      ]\r\n    }\r\n  },\r\n  \"features\": [\r\n    \"ADD_ALL_NEW_HOSTS_WHEN_AMBARI_ADD_HOSTS_SUCCEEDED\",\r\n    \"ADD_NAME_RESERVATION_RECORD\",\r\n    \"ADD_RP_TO_DEDICATED_SQL_SERVER_ACL\",\r\n    \"ALLOW_CX_TO_USE_HDI_RESERVED_SERVICE_TAGS\",\r\n    \"ALLOW_GATEWAY_AUTH_BYPASS\",\r\n    \"ALLOW_IP_WHITELISTING_WITH_SERVICE_TAGS\",\r\n    \"ALLOW_RANGER_BYPASS_AUTH_IN_GATEWAY_3_6\",\r\n    \"ALLOW_RANGER_BYPASS_AUTH_IN_GATEWAY_4_0\",\r\n    \"ALLOW_RANGER_BYPASS_AUTH_IN_GATEWAY_5_0\",\r\n    \"ALLOW_RP_ACCESS_TO_CUSTOMER_SQL_DB\",\r[...]
    {
      "RequestUri": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/East%20Asia/billingSpecs?api-version=2024-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-hdi-served-by": [
          "eastasia"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1098"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16498"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"vmSizes\": [\r\n    \"STANDARD_A1_V2\",\r\n    \"STANDARD_A2_V2\",\r\n    \"STANDARD_A2M_V2\",\r\n    \"STANDARD_A4_V2\",\r\n    \"STANDARD_A4M_V2\",\r\n    \"STANDARD_A8_V2\",\r\n    \"STANDARD_A8M_V2\",\r\n    \"STANDARD_D1\",\r\n    \"STANDARD_D1_V2\",\r\n    \"STANDARD_D11\",\r\n    \"STANDARD_D11_V2\",\r\n    \"STANDARD_D12\",\r\n    \"STANDARD_D12_V2\",\r\n    \"STANDARD_D13\",\r\n    \"STANDARD_D13_V2\",\r\n    \"STANDARD_D14\",\r\n    \"STANDARD_D14_V2\",\r\n    \"STANDARD_D15\",\r\n    \"STANDARD[...]
    {
      "RequestUri": "/templeton/v1/hive?user.name=admin",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "useragent": [
          "HDInsight Job SDK .Net 2.0.7.0"
        ],
        "Content-Type": [
          "application/text"
        ]
      },
      "RequestBody": "execute=select%20count%28%2A%29%20from%20default.hivesampletable&statusdir=2025-08-05T09-19-20-e72ffe96-2a47-4af6-819f-f2b2ee173028",
      "ResponseHeaders": {
        "x-ms-hdi-active": [
          "hn0-b38c3d.5ofbzdrbbv2uhnhmquwuhire4e.hx.internal.cloudapp.net"
        ],
        "x-ms-hdi-http-host": [
          "hn0-b38c3d.5ofbzdrbbv2uhnhmquwuhire4e.hx.internal.cloudapp.net:30111"
        ],
        "x-ms-hdi-http-gateway": [
          "gw2-b38c3d"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"job_1754041095307_0027\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/templeton/v1/jobs/job_1754041095307_0027?user.name=admin&fields=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "useragent": [
          "HDInsight Job SDK .Net 2.0.7.0"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-hdi-active": [
          "hn0-b38c3d.5ofbzdrbbv2uhnhmquwuhire4e.hx.internal.cloudapp.net"
        ],
        "x-ms-hdi-http-host": [
          "hn0-b38c3d.5ofbzdrbbv2uhnhmquwuhire4e.hx.internal.cloudapp.net:30111"
        ],
        "x-ms-hdi-http-gateway": [
          "gw0-b38c3d"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": {\r\n    \"mapProgress\": 0.0,\r\n    \"reduceProgress\": 0.0,\r\n    \"cleanupProgress\": 0.0,\r\n    \"setupProgress\": 0.0,\r\n    \"runState\": 4,\r\n    \"startTime\": 1754385565489,\r\n    \"queue\": \"default\",\r\n    \"priority\": \"DEFAULT\",\r\n    \"schedulingInfo\": \"NA\",\r\n    \"failureInfo\": \"NA\",\r\n    \"jobACLs\": {},\r\n    \"jobName\": \"TempletonControllerJob\",\r\n    \"jobFile\": \"/mapreducestaging/admin/.staging/job_1754041095307_0027/job.xml\",\r\n    \"finishTime\": 0,\r\n    \"historyFile\": \"\",\r\n    \"trackingUrl\": \"http://hn1-b38c3d.5ofbzdrbbv2uhnhmquwuhire4e.hx.internal.cloudapp.net:8088/proxy/application_1754041095307_0027/\",\r\n    \"numUsedSlots\": 0,\r\n    \"numReservedSlots\": 0,\r\n    \"usedMem\": 0,\r\n    \"reservedMem\": 0,\r\n    \"neededMem\": 0,\r\n    \"username\": \"admin\",\r\n    \"jobId\": \"job_1754041095307_0027\",\r\n    \"jobID\": {\r\n      \"id\": 27,\r\n      \"jtIdentifier\": \"1754041095307\"\r\n    },\r\n    \"jobPriority\": \"DEFAULT\",\r\n    \"uber\": false,\r\n    \"jobComplete\": false,\r\n    \"retired\": false,\r\n    \"state\": \"PREP\"\r\n  },\r\n  \"profile\": {\r\n    \"user\": \"admin\",\r\n    \"jobFile\": \"/mapreducestaging/admin/.staging/job_1754041095307_0027/job.xml\",\r\n    \"url\": \"http://hn1-b38c3d.5ofbzdrbbv2uhnhmquwuhire4e.hx.internal.cloudapp.net:8088/proxy/application_1754041095307_0027/\",\r\n    \"queueName\": \"default\",\r\n    \"jobId\": \"job_1754041095307_0027\",\r\n    \"jobID\": {\r\n      \"id\": 27,\r\n      \"jtIdentifier\": \"1754041095307\"\r\n    },\r\n    \"jobName\": \"TempletonControllerJob\"\r\n  },\r\n  \"id\": \"job_1754041095307_0027\",\r\n  \"parentId\": null,\r\n  \"percentComplete\": null,\r\n  \"exitValue\": null,\r\n  \"user\": \"admin\",\r\n  \"callback\": null,\r\n  \"completed\": null,\r\n  \"userargs\": {\r\n    \"statusdir\": \"2025-08-05T09-19-20-e72ffe96-2a47-4af6-819f-f2b2ee173028\",\r\n    \"file\": null,\r\n    \"enablejobreconnect\": null,\r\n    \"define\": [],\r\n    \"enablelog\": \"false\",\r\n    \"user.name\": \"admin\",\r\n    \"files\": null,\r\n    \"callback\": null,\r\n    \"execute\": \"select count(*) from default.hivesampletable\"\r\n  },\r\n  \"msg\": null\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/ws/v1/cluster/apps/application_1754041095307_0027/state",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "useragent": [
          "HDInsight Job SDK .Net 2.0.7.0"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-hdi-active": [
          "hn1-b38c3d.5ofbzdrbbv2uhnhmquwuhire4e.hx.internal.cloudapp.net"
        ],
        "x-ms-hdi-http-host": [
          "hn1-b38c3d.5ofbzdrbbv2uhnhmquwuhire4e.hx.internal.cloudapp.net:8088"
        ],
        "x-ms-hdi-http-gateway": [
          "gw2-b38c3d"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"state\": \"ACCEPTED\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/templeton/v1/mapreduce/jar?user.name=admin",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "useragent": [
          "HDInsight Job SDK .Net 2.0.7.0"
        ],
        "Content-Type": [
          "application/text"
        ]
      },
      "RequestBody": "jar=%2Fexample%2Fjars%2Fhadoop-mapreduce-examples.jar&class=pi&arg=10&arg=10&statusdir=2025-08-05T09-20-36-6ac36387-278c-445a-8b4e-db0274b8b9de",
      "ResponseHeaders": {
        "x-ms-hdi-active": [
          "hn0-b38c3d.5ofbzdrbbv2uhnhmquwuhire4e.hx.internal.cloudapp.net"
        ],
        "x-ms-hdi-http-host": [
          "hn0-b38c3d.5ofbzdrbbv2uhnhmquwuhire4e.hx.internal.cloudapp.net:30111"
        ],
        "x-ms-hdi-http-gateway": [
          "gw0-b38c3d"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"job_1754041095307_0029\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/templeton/v1/jobs/job_1754041095307_0029?user.name=admin",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "useragent": [
          "HDInsight Job SDK .Net 2.0.7.0"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-hdi-active": [
          "hn0-b38c3d.5ofbzdrbbv2uhnhmquwuhire4e.hx.internal.cloudapp.net"
        ],
        "x-ms-hdi-http-host": [
          "hn0-b38c3d.5ofbzdrbbv2uhnhmquwuhire4e.hx.internal.cloudapp.[...]
