{
  "Invoke-AzRedisEnterpriseCacheForceDatabaseUnlink+[NoContext]+Force unlink database from group+$POST+https://management.azure.com/subscriptions/6b9ac7d2-7f6d-4de4-962c-43fda44bc3f2/resourceGroups/ps-redisenterprise-rg-gpzvr18i/providers/Microsoft.Cache/redisEnterprise/ps-cache-test3/databases/default/forceUnlink?api-version=2022-01-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/6b9ac7d2-7f6d-4de4-962c-43fda44bc3f2/resourceGroups/ps-redisenterprise-rg-gpzvr18i/providers/Microsoft.Cache/redisEnterprise/ps-cache-test3/databases/default/forceUnlink?api-version=2022-01-01",
      "Content": "{\r\n  \"ids\": [ \"/subscriptions/6b9ac7d2-7f6d-4de4-962c-43fda44bc3f2/resourceGroups/ps-redisenterprise-rg-gpzvr18i/providers/Microsoft.Cache/redisEnterprise/ps-cache-test4/databases/default\" ]\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/6b9ac7d2-7f6d-4de4-962c-43fda44bc3f2/resourceGroups/ps-redisenterprise-rg-gpzvr18i/providers/Microsoft.Cache/redisEnterprise/ps-cache-test3/databases/default/operationresults/de8ea0e0-030d-4e81-8377-4d1eaa9590ee?api-version=2022-01-01" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/6b9ac7d2-7f6d-4de4-962c-43fda44bc3f2/providers/Microsoft.Cache/locations/East%20US/operationsStatus/de8ea0e0-030d-4e81-8377-4d1eaa9590ee?api-version=2022-01-01" ],
        "x-rp-server-mvid": [ "a16a8967-ff32-4f76-ad37-63467a1c5564" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"StatusCode\": 202\r\n}"
    }
  },
  "Invoke-AzRedisEnterpriseCacheForceDatabaseUnlink+[NoContext]+Force unlink database from group+$GET+https://management.azure.com/subscriptions/6b9ac7d2-7f6d-4de4-962c-43fda44bc3f2/providers/Microsoft.Cache/locations/East US/operationsStatus/de8ea0e0-030d-4e81-8377-4d1eaa9590ee?api-version=2022-01-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/6b9ac7d2-7f6d-4de4-962c-43fda44bc3f2/providers/Microsoft.Cache/locations/East%20US/operationsStatus/de8ea0e0-030d-4e81-8377-4d1eaa9590ee?api-version=2022-01-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "211" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-rp-server-mvid": [ "a16a8967-ff32-4f76-ad37-63467a1c5564" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11975" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/6b9ac7d2-7f6d-4de4-962c-43fda44bc3f2/providers/Microsoft.Cache/locations/East US/operationsStatus/de8ea0e0-030d-4e81-8377-4d1eaa9590ee\",\"name\":\"de8ea0e0-030d-4e81-8377-4d1eaa9590ee\",\"status\":\"Succeeded\",\"startTime\":\"2022-07-10T18:04:28.929098+00:00\",\"endTime\":\"2022-07-10T18:04:29.868803+00:00\"}"
    }
  },
  "Invoke-AzRedisEnterpriseCacheForceDatabaseUnlink+[NoContext]+Force unlink database from group+$GET+https://management.azure.com/subscriptions/6b9ac7d2-7f6d-4de4-962c-43fda44bc3f2/providers/Microsoft.Cache/locations/East US/operationsStatus/de8ea0e0-030d-4e81-8377-4d1eaa9590ee?api-version=2022-01-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/6b9ac7d2-7f6d-4de4-962c-43fda44bc3f2/providers/Microsoft.Cache/locations/East%20US/operationsStatus/de8ea0e0-030d-4e81-8377-4d1eaa9590ee?api-version=2022-01-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "212" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-rp-server-mvid": [ "a16a8967-ff32-4f76-ad37-63467a1c5564" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11974" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/6b9ac7d2-7f6d-4de4-962c-43fda44bc3f2/providers/Microsoft.Cache/locations/East US/operationsStatus/de8ea0e0-030d-4e81-8377-4d1eaa9590ee\",\"name\":\"de8ea0e0-030d-4e81-8377-4d1eaa9590ee\",\"status\":\"Succeeded\",\"startTime\":\"2022-07-10T18:04:28.929098+00:00\",\"endTime\":\"2022-07-10T18:04:29.868803+00:00\"}"
    }
  }
}