{
  "Get-AzSpringCloudBuildServiceSupportedBuildpack+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/springcloud-rg-0zquav/providers/Microsoft.AppPlatform/Spring/spring-f7lz2n/buildServices/default/supportedBuildpacks?api-version=2022-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/springcloud-rg-0zquav/providers/Microsoft.AppPlatform/Spring/spring-f7lz2n/buildServices/default/supportedBuildpacks?api-version=2022-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ],
        "x-rp-server-mvid": [ "b4692fb5-75b2-4001-b951-6c09037b5614" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"type\":\"Microsoft.AppPlatform/Spring/buildServices/supportedBuildpacks\",\"properties\":{\"buildpackId\":\"tanzu-buildpacks/java-azure\"},\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/springcloud-rg-0zquav/providers/Microsoft.AppPlatform/Spring/spring-f7lz2n/buildServices/default/supportedBuildpacks/tanzu-buildpacks-java-azure\",\"name\":\"tanzu-buildpacks-java-azure\"},{\"type\":\"Microsoft.AppPlatform/Spring/buildServices/supportedBuildpacks\",\"properties\":{\"buildpackId\":\"tanzu-buildpacks/dotnet-core\"},\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/springcloud-rg-0zquav/providers/Microsoft.AppPlatform/Spring/spring-f7lz2n/buildServices/default/supportedBuildpacks/tanzu-buildpacks-dotnet-core\",\"name\":\"tanzu-buildpacks-dotnet-core\"},{\"type\":\"Microsoft.AppPlatform/Spring/buildServices/su[...]
