{
  "Remove-AzSpringCloud+[NoContext]+Delete+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appplatform-rg-1e8ql7/providers/Microsoft.AppPlatform/Spring/spring-nao5ws?api-version=2020-07-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appplatform-rg-1e8ql7/providers/Microsoft.AppPlatform/Spring/spring-nao5ws?api-version=2020-07-01",
      "Content": "{\r\n  \"location\": \"eastus2\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appplatform-rg-1e8ql7/providers/Microsoft.AppPlatform/locations/eastus2/operationResults/42a5b4a4-4dad-4688-b9c4-4b99cf5282c3/Spring/spring-nao5ws?api-version=2020-07-01" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "1199" ],
        "x-rp-server-mvid": [ "8b2201a3-b262-411f-86ab-fbda1b5a0f0c" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appplatform-rg-1e8ql7/providers/Microsoft.AppPlatform/locations/eastus2/operationStatus/spring-nao5ws/operationId/42a5b4a4-4dad-4688-b9c4-4b99cf5282c3?api-version=2020-07-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"provisioningState\":\"Creating\",\"version\":3,\"serviceId\":\"3943889001e04397808d7a30baf8915c\"},\"type\":\"Microsoft.AppPlatform/Spring\",\"sku\":{\"name\":\"S0\",\"tier\":\"Standard\"},\"location\":\"eastus2\",\"tags\":null,\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appplatform-rg-1e8ql7/providers/Microsoft.AppPlatform/Spring/spring-nao5ws\",\"name\":\"spring-nao5ws\"}"
    }
  },
  "Remove-AzSpringCloud+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appplatform-rg-1e8ql7/providers/Microsoft.AppPlatform/locations/eastus2/operationStatus/spring-nao5ws/operationId/42a5b4a4-4dad-4688-b9c4-4b99cf5282c3?api-version=2020-07-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appplatform-rg-1e8ql7/providers/Microsoft.AppPlatform/locations/eastus2/operationStatus/spring-nao5ws/operationId/42a5b4a4-4dad-4688-b9c4-4b99cf5282c3?api-version=2020-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1", "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11990" ],
        "x-rp-server-mvid": [ "8b2201a3-b262-411f-86ab-fbda1b5a0f0c" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appplatform-rg-1e8ql7/providers/Microsoft.AppPlatform/locations/eastus2/operationStatus/spring-nao5ws/operationId/42a5b4a4-4dad-4688-b9c4-4b99cf5282c3\",\"name\":\"42a5b4a4-4dad-4688-b9c4-4b99cf5282c3\",\"status\":\"Running\",\"startTime\":\"2020-09-28T06:46:27.1025188Z\"}"
    }
  },
  "Remove-AzSpringCloud+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appplatform-rg-1e8ql7/providers/Microsoft.AppPlatform/locations/eastus2/operationStatus/spring-nao5ws/operationId/42a5b4a4-4dad-4688-b9c4-4b99cf5282c3?api-version=2020-07-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-097[...]
