{
  "Get-AzDnsTestMe+[NoContext]+Scenario+$PUT+https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/miyanni-test/providers/Microsoft.Network/dnsZones/www.miyanni.zone?api-version=2018-05-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/miyanni-test/providers/Microsoft.Network/dnsZones/www.miyanni.zone?api-version=2018-05-01",
      "Content": "{\r\n  \"location\": \"global\"\r\n}",
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "0000000a-0000-0000-88b4-fc480039d501" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"\\/subscriptions\\/c9cbd920-c00c-427c-852b-8aaf38badaeb\\/resourceGroups\\/miyanni-test\\/providers\\/Microsoft.Network\\/dnszones\\/www.miyanni.zone\",\"name\":\"www.miyanni.zone\",\"type\":\"Microsoft.Network\\/dnszones\",\"etag\":\"0000000a-0000-0000-88b4-fc480039d501\",\"location\":\"global\",\"tags\":{},\"properties\":{\"maxNumberOfRecordSets\":10000,\"maxNumberOfRecordsPerRecordSet\":null,\"nameServers\":[\"ns1-09.ppe.azure-dns.com.\",\"ns2-09.ppe.azure-dns.net.\",\"ns3-09.ppe.azure-dns.org.\",\"ns4-09.ppe.azure-dns.info.\"],\"numberOfRecordSets\":3,\"zoneType\":\"Public\"}}"
    }
  },
  "Get-AzDnsTestMe+[NoContext]+Scenario+$GET+https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/miyanni-test/providers/Microsoft.Network/dnsZones/www.miyanni.zone?api-version=2018-05-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/miyanni-test/providers/Microsoft.Network/dnsZones/www.miyanni.zone?api-version=2018[...]
