{
  "New-AzStreamAnalyticsTransformation+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/streamanalytics-rg-y9u3hp/providers/Microsoft.StreamAnalytics/streamingjobs/joboy3kfj/transformations/transf9gq24m?api-version=2017-04-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/streamanalytics-rg-y9u3hp/providers/Microsoft.StreamAnalytics/streamingjobs/joboy3kfj/transformations/transf9gq24m?api-version=2017-04-01-preview",
      "Content": "{\r\n  \"properties\": {\r\n    \"streamingUnits\": 6,\r\n    \"query\": \"SELECT * INTO output94e0bw FROM inputqf47vo HAVING Temperature \\u003e 27\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "d405d898-5b0b-416e-9417-5fca3716a42d" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "199" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/streamanalytics-rg-y9u3hp/providers/Microsoft.StreamAnalytics/streamingjobs/joboy3kfj/transformations/transf9gq24m\",\r\n  \"name\": \"transf9gq24m\",\r\n  \"type\": \"Microsoft.StreamAnalytics/streamingjobs/transformations\",\r\n  \"properties\": {\r\n    \"streamingUnits\": 6,\r\n    \"query\": \"SELECT * INTO output94e0bw FROM inputqf47vo HAVING Temperature \u003e 27\"\r\n  }\r\n}",
    }
  },
  "New-AzStreamAnalyticsTransformation+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/streamanalytics-rg-y9u3hp/providers/Microsoft.StreamAnalytics/streamingjobs/joboy3kfj/transformations/transf9gq24m?api-version=2017-04-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/streamanalytics-rg-y9u3hp/providers/Microsoft.StreamAnalytics/streamingjobs/joboy3kfj/transformations/transf9gq24m?api-version=2017-04-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "245" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "d405d898-5b0b-416e-9417-5fca3716a42d" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"id\": \"/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/streamanalytics-rg-y9u3hp/providers/Microsoft.StreamAnalytics/streamingjobs/joboy3kfj/transformations/transf9gq24m\",\r\n  \"name\": \"transf9gq24m\",\r\n  \"type\": \"Microsoft.StreamAnalytics/streamingjobs/transformations\",\r\n  \"properties\": {\r\n    \"streamingUnits\": 6,\r\n    \"query\": \"SELECT * INTO output94e0bw FROM inputqf47vo HAVING Temperature \u003e 27\"\r\n  }\r\n}",
    }
  }
}