{
  "Entries": [
    {
      "RequestUri": "/subscriptions/cd45f23b-b832-4fa4-a434-1bf7e6f14a5a/resourceGroups/to-delete-02/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations/DG-suc-04?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"updateConfiguration\": {\r\n      \"operatingSystem\": \"Windows\",\r\n      \"windows\": {\r\n        \"includedUpdateClassifications\": \"Security,Critical\",\r\n        \"rebootSetting\": \"IfRequired\"\r\n      },\r\n      \"duration\": \"PT2H\",\r\n      \"targets\": {\r\n        \"nonAzureQueries\": [\r\n          {\r\n            \"functionAlias\": \"SavedSearch1\",\r\n            \"workspaceId\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/workspace-a159f395-2f28-4897-b66e-a3b3b9a7cde5-eus\"\r\n          },\r\n          {\r\n            \"functionAlias\": \"SavedSearch2\",\r\n            \"workspaceId\": \"/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/workspace-a159f395-2f28-4897-b66e-a3b3b9a7cde5-eus\"\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"scheduleInfo\": {\r\n      \"startTime\": \"2022-09-28T15:18:57.3823518+05:30\",\r\n      \"expiryTime\": \"9999-12-31T23:59:59.9999999+05:30\",\r\n      \"expiryTimeOffsetMinutes\": 0.0,\r\n      \"isEnabled\": true,\r\n      \"nextRunOffsetMinutes\": 0.0,\r\n      \"frequency\": \"Onetime\",\r\n      \"creationTime\": \"0001-01-01T05:30:00+05:30\",\r\n      \"lastModifiedTime\": \"0001-01-01T05:30:00+05:30\",\r\n      \"description\": \"test-OneTime\"\r\n    },\r\n    \"tasks\": {}\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"LinkedAuthorizationFailed\",\r\n    \"message\": \"The client '42b6a6c1-a89d-4b28-88f2-c055cd5cc223' with object id '42b6a6c1-a89d-4b28-88f2-c055cd5cc223' has permission to perform action 'Microsoft.Automation/automationAccounts/softwareUpdateConfigurations/write' on scope '/subscriptions/cd45f23b-b832-4fa4-a434-1bf7e6f14a5a/resourceGroups/to-delete-02/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations/DG-suc-04'; however, it does not have permission to perform action 'Microsoft.OperationalInsights/workspaces/analytics/query/action' on the linked scope(s) '/subscriptions/422b6c61-95b0-4213-b3be-7282315df71d/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/workspace-a159f395-2f28-4897-b66e-a3b3b9a7cde5-eus' or the linked scope(s) are invalid.\"\r\n  }\r\n}",
      "StatusCode": 403
    }
  ],
  "Names": {},
  "Variables": {}
}