{
  "Entries": [
    {
      "RequestUri": "/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powershell-record-tests/providers/Microsoft.Automation/automationAccounts/record-tests-aa/softwareUpdateConfigurations/DG-suc-04?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"updateConfiguration\": {\r\n      \"operatingSystem\": \"Windows\",\r\n      \"windows\": {\r\n        \"includedUpdateClassifications\": \"Security,Critical\",\r\n        \"rebootSetting\": \"IfRequired\"\r\n      },\r\n      \"duration\": \"PT2H\",\r\n      \"azureVirtualMachines\": [\r\n        \"/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powershell-record-tests/providers/Microsoft.Compute/virtualMachines/record-test-linux-1\"\r\n      ],\r\n      \"targets\": {\r\n        \"azureQueries\": [\r\n          {\r\n            \"scope\": [\r\n              \"/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powershell-record-tests\"\r\n            ],\r\n            \"locations\": [\r\n              \"Japan East\",\r\n              \"UK South\"\r\n            ],\r\n            \"tagSettings\": {\r\n              \"tags\": {\r\n                \"tag1\": [\r\n                  \"tag1Value1\",\r\n                  \"tag1Value2\"\r\n                ],\r\n                \"tag2\": [\r\n                  \"tag2Value\"\r\n                ]\r\n              },\r\n              \"filterOperator\": \"All\"\r\n            }\r\n          }\r\n        ],\r\n        \"nonAzureQueries\": [\r\n          {\r\n            \"functionAlias\": \"SavedSearch1\",\r\n            \"workspaceId\": \"/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourcegroups/powershell-record-tests/providers/microsoft.operationalinsights/workspaces/record-tests-ws\"\r\n          },\r\n          {\r\n            \"functionAlias\": \"SavedSearch2\",\r\n            \"workspaceId\": \"/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourcegroups/powershell-record-tests/providers/microsoft.operationalinsights/workspaces/record-tests-ws\"\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"scheduleInfo\": {\r\n      \"startTime\": \"2023-11-27T11:06:47.8569276+05:30\",\r\n      \"expiryTime\": \"9999-12-31T23:59:59.9999999+05:30\",\r\n      \"expiryTimeOffsetMinutes\": 0.0,\r\n      \"isEnabled\": true,\r\n      \"nextRunOffsetMinutes\": 0.0,\r\n      \"frequency\": \"Onetime\",\r\n      \"creationTime\": \"0001-01-01T05:30:00+05:30\",\r\n      \"lastModifiedTime\": \"0001-01-01T05:30:00+05:30\",\r\n      \"description\": \"test-OneTime\"\r\n    },\r\n    \"tasks\": {}\r\n  }\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powershell-record-tests/providers/Microsoft.Automation/automationAccounts/record-tests-aa/softwareUpdateConfigurations/DG-suc-04?api-version=2019-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "99"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powershell-record-tests/providers/Microsoft.Automation/automationAccounts/record-tests-aa/softwareUpdateConfigurations/DG-suc-04\",\r\n  \"name\": \"DG-suc-04\",\r\n  \"type\": null,\r\n  \"properties\": {\r\n    \"updateConfiguration\": {\r\n      \"operatingSystem\": \"Windows\",\r\n      \"windows\": {\r\n        \"includedUpdateClassifications\": \"Critical, Security\",\r\n        \"excludedKbNumbers\": null,\r\n        \"includedKbNumbers\": null,\r\n        \"rebootSetting\": \"IfRequired\"\r\n      },\r\n      \"linux\": null,\r\n      \"targets\": {\r\n        \"azureQueries\": [\r\n          {\r\n            \"scope\": [\r\n              \"/subscriptions/783fd652-64f3-4680-81e9-0b978c542005/resourceGroups/powershell-record-tests\"\r\n            ],\r\n            \"tagSettings\": {\r\n              \"tags\": {\r\n                \"tag1\": [\r\n                  \"tag1Value1\",\r\n                  \"tag1Value2\"\r\n                ],\r\n                \"tag2\": [\r\n                  \"tag2Value\"\r\n       [...]
[...]
