{
  "PostOperationsAzWorkloads+[NoContext]+PostOperationsSapDiskConfiguration+$POST+https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/centraluseuap/sapVirtualInstanceMetadata/default/getDiskConfigurations?api-version=2024-09-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/centraluseuap/sapVirtualInstanceMetadata/default/getDiskConfigurations?api-version=2024-09-01",
      "Content": "{\n  \"appLocation\": \"centraluseuap\",\n  \"environment\": \"NonProd\",\n  \"sapProduct\": \"S4HANA\",\n  \"databaseType\": \"HANA\",\n  \"deploymentType\": \"SingleServer\",\n  \"dbVmSku\": \"Standard_E32ds_v4\"\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "02db7c3a-bdad-4e94-9346-f2caa5a72682" ],
        "api-supported-versions": [ "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01, 2023-10-01-preview, 2024-02-01-preview, 2024-09-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"volumeConfigurations\":{\"hana/data\":{\"recommendedConfiguration\":{\"count\":3,\"sizeGB\":128,\"sku\":{\"name\":\"Premium_LRS\"}},\"supportedConfigurations\":[{\"sku\":{\"name\":\"Premium_LRS\"},\"sizeGB\":128,\"minimumSupportedDiskCount\":3,\"maximumSupportedDiskCount\":7,\"iopsReadWrite\":500,\"mbpsReadWrite\":100,\"diskTier\":\"P10\"}]},\"hana/log\":{\"recommendedConfiguration\":{\"count\":3,\"sizeGB\":128,\"sku\":{\"name\":\"Premium_LRS\"}},\"supportedConfigurations\":[{\"sku\":{\"name\":\"Premium_LRS\"},\"sizeGB\":128,\"minimumSupportedDiskCount\":3,\"maximumSupportedDiskCount\":7,\"iopsReadWrite\":500,\"mbpsReadWrite\":100,\"diskTier\":\"P10\"}]},\"hana/shared\":{\"recommendedConfiguration\":{\"count\":1,\"sizeGB\":256,\"sku\":{\"name\":\"StandardSSD_LRS\"}},\"supportedConfigurations\":[{\"sku\":{\"name\":\"Standa[...]
