{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/vivga/providers/Microsoft.Compute/virtualMachines/Viv1809SDDC/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments?api-version=2018-11-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"westcentralus\",\r\n      \"id\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/vivga/providers/Microsoft.Compute/virtualMachines/Viv1809SDDC/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/WhitelistedApplication\",\r\n      \"name\": \"WhitelistedApplication\",\r\n      \"properties\": {\r\n        \"complianceStatus\": \"NonCompliant\",\r\n        \"assignmentHash\": \"69F892A374D1B02FD2F7C321E0B76DADE037703E7D3E2F8109B7496B31F53FFC.E381A1748D08855C4004123F85A5DAE5D26E33B38FFDAACE715AB39B88F8BF04\",\r\n        \"latestReportId\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/vivga/providers/Microsoft.Compute/virtualMachines/Viv1809SDDC/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/WhitelistedApplication/reports/e8f3ec17-0a83-407f-ae59-eb221dcd80fe\",\r\n        \"lastComplianceStatusChecked\": \"2019-02-07T16:31:22Z\",\r\n        \"context\": null,\r\n        \"guestConfiguration\": {\r\n          \"kind\": null,\r\n          \"name\": \"WhitelistedApplication\",\r\n          \"version\": \"1.*\",\r\n          \"contentUri\": \"https://oaasguestconfigwcuss1.blob.core.windows.net/builtinconfig/WhitelistedApplication/WhitelistedApplication_1.5.0.0.zip\",\r\n          \"contentHash\": \"69F892A374D1B02FD2F7C321E0B76DADE037703E7D3E2F8109B7496B31F53FFC\",\r\n          \"contentType\": null,\r\n          \"configurationParameter\": [\r\n            {\r\n              \"name\": \"[InstalledApplication]bwhitelistedapp;Name\",\r\n              \"value\": \"*Chrome*\"\r\n            }\r\n          ],\r\n          \"configurationSetting\": null\r\n        },\r\n        \"provisioningState\": null\r\n      }\r\n    },\r\n    {\r\n      \"location\": \"westcentralus\",\r\n      \"id\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/vivga/providers/Microsoft.Compute/virtualMachines/Viv1809SDDC/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditSecureProtocol\",\r\n      \"name\": \"AuditSecureProtocol\",\r\n      \"properties\": {\r\n        \"complianceStatus\": \"Compliant\",\r\n        \"assignmentHash\": \"98ACBE11E578A78AC17C43A19045E3[...]
    {
      "RequestUri": "/providers/Microsoft.Authorization/policySetDefinitions/25ef9b72-4af2-4501-acd1-fc814e73dde1?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"[Preview]: Audit that an application is installed inside Windows VMs\",\r\n    \"policyType\": \"BuiltIn\",\r\n    \"description\": \"This initiative will both deploy the policy requirements and audit that the specified application is installed inside Windows virtual machines. For more information on guest configuration policies, please visit http://aka.ms/gcpol\",\r\n    \"metadata\": {\r\n      \"category\": \"Guest Configuration\"\r\n    },\r\n    \"parameters\": {\r\n      \"installedApplication\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Application name (supports wildcard)\",\r\n          \"description\": \"Application name. Example: 'Microsoft SQL Server 2014 (64-bit)' or 'Microsoft SQL Server 2014*' to match any application starting with 'Microsoft SQL Server 2014'.\"\r\n        }\r\n      }\r\n    },\r\n    \"policyDefinitions\": [\r\n      {\r\n        \"policyDefinitionReferenceId\": \"Deploy_InstalledApp\",\r\n        \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/12f7e5d0-42a7-4630-80d8-54fb7cff9bd6\",\r\n        \"parameters\": {\r\n          \"installedApplication\": {\r\n            \"value\": \"[parameters('installedApplication')]\"\r\n          }\r\n        }\r\n      },\r\n      {\r\n        \"policyDefinitionReferenceId\": \"Audit_InstalledApp\",\r\n        \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/5e393799-e3ca-4e43-a9a5-0ec4648a57d9\"\r\n      }\r\n    ]\r\n  },\r\n  \"id\": \"/providers/Microsoft.Authorization/policySetDefinitions/25ef9b72-4af2-4501-acd1-fc814e73dde1\",\r\n  \"type\": \"Microsoft.Authorization/policySetDefinitions\",\r\n  \"name\": \"25ef9b72-4af2-4501-acd1-fc814e73dde1\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Authorization/policyDefinitions/12f7e5d0-42a7-4630-80d8-54fb7cff9bd6?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"[Preview]: Deploy VM extension to audit that an application is installed inside Windows VMs\",\r\n    \"policyType\": \"BuiltIn\",\r\n    \"mode\": \"Indexed\",\r\n    \"description\": \"Include this rule to deploy the VM extension for Microsoft Guest Configuration, the VM extension for Microsoft Azure Managed Service Identity, and the required content to audit that an application is installed inside Windows virtual machines. This policy should only be used along with its corresponding audit policy in an initiative/policy set. For more information on guest configuration policies, please visit http://aka.ms/gcpol\",\r\n    \"metadata\": {\r\n      \"category\": \"Guest Configuration\",\r\n      \"requiredProviders\": [\r\n        \"Microsoft.GuestConfiguration\"\r\n      ]\r\n    },\r\n    \"parameters\": {\r\n      \"installedApplication\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Application name (supports wildcard)\",\r\n          \"description\": \"Application name. Example: 'Microsoft SQL Server 2014 (64-bit)' or 'Microsoft SQL Server 2014*' to match any application starting with 'Microsoft SQL Server 2014'.\"\r\n        }\r\n      }\r\n    },\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"allOf\": [\r\n          {\r\n            \"field\": \"type\",\r\n            \"equals\": \"Microsoft.Compute/virtualMachines\"\r\n          },\r\n          {\r\n            \"anyOf\": [\r\n              {\r\n                \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                \"in\": [\r\n                  \"MicrosoftDynamicsAX\",\r\n                  \"MicrosoftWindowsDesktop\",\r\n                  \"MicrosoftVisualStudio\",\r\n                  \"incredibuild\",\r\n                  \"MicrosoftWindowsServerHPCPack\",\r\n                  \"esri\"\r\n                ]\r\n              },\r\n              {\r\n                \"allOf\": [\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                    \"equals\": \"MicrosoftWindowsServer\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imageSKU\",\r\n                    \"notLike\": \"2008*\"\r\n                  }\r\n                ]\r\n              },\r\n              {\r\n                \"allOf\": [\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                    \"equals\": \"MicrosoftSQLServer\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imageSKU\",\r\n                    \"notEquals\": \"SQL2008R2SP3-WS2008R2SP1\"\r\n                  }\r\n                ]\r\n              },\r\n              {\r\n                \"allOf\": [\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                    \"equals\": \"microsoft-dsvm\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imageOffer\",\r\n                    \"equals\": \"dsvm-windows\"\r\n                  }\r\n             [...]
[...]
    {
      "RequestUri": "/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/vivga/providers/Microsoft.Compute/virtualMachines/Viv1809SDDC/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/WhitelistedApplication/reports/e8f3ec17-0a83-407f-ae59-eb221dcd80fe?api-version=2018-11-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11982"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/vivga/providers/Microsoft.Compute/virtualMachines/Viv1809SDDC/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/WhitelistedApplication/reports/e8f3ec17-0a83-407f-ae59-eb221dcd80fe\",\r\n  \"name\": \"e8f3ec17-0a83-407f-ae59-eb221dcd80fe\",\r\n  \"properties\": {\r\n    \"complianceStatus\": \"NonCompliant\",\r\n    \"assignment\": {\r\n      \"name\": \"WhitelistedApplication\",\r\n      \"configuration\": {\r\n        \"name\": \"WhitelistedApplication\",\r\n        \"version\": \"1.5.0.0\"\r\n      }\r\n    },\r\n    \"reportId\": \"e8f3ec17-0a83-407f-ae59-eb221dcd80fe\",\r\n    \"vm\": {\r\n      \"id\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/vivga/providers/Microsoft.Compute/virtualMachines/Viv1809SDDC\",\r\n      \"uuid\": \"5f1486e6-45c1-4ff1-b892-5b6989e78b68\"\r\n    },\r\n    \"details\": {\r\n      \"complianceStatus\": \"NonCompliant\",\r\n      \"startTime\": \"2019-02-07T16:30:46Z\",\r\n      \"endTime\": \"2019-02-07T16:31:22Z\",\r\n      \"jobId\": \"e8f3ec17-0a83-407f-ae59-eb221dcd80fe\",\r\n      \"resources\": [\r\n        {\r\n          \"complianceStatus\": \"NonCompliant\",\r\n          \"reasons\": [\r\n            {\r\n              \"phrase\": \"The following applications are not installed: '*Chrome*'.\",\r\n              \"code\": \"UserApplication:InstalledApplication:ApplicationNotInstalled\"\r\n            }\r\n          ],\r\n          \"properties\": {\r\n            \"ApplicationInfo\": [\r\n              {\r\n                \"Ensure\": \"Absent\",\r\n                \"Name\": \"*Chrome*\"\r\n              }\r\n            ],\r\n            \"ConfigurationName\": \"WhitelistedApplication\",\r\n            \"DependsOn\": null,\r\n            \"Ensure\": \"Absent\",\r\n            \"ModuleName\": \"UserApplication\",\r\n            \"ModuleVersion\": \"1.0.0.3\",\r\n            \"Name\": \"*Chrome*\",\r\n            \"PsDscRunAsCredential\": null,\r\n            \"Reasons\": [\r\n              {\r\n                \"Code\": \"UserApplication:InstalledApplication:ApplicationNotInstalled\",\r\n                \"Phrase\": \"The following applications are not installed: '*Chrome*'.\"\r\n              }\r\n            ],\r\n            \"ResourceId\": \"[InstalledApplication]bwhitelistedapp\",\r\n            \"SourceInfo\": null\r\n          }\r\n        }\r\n      ],\r\n      \"operationType\": \"Consistency\"\r\n    },\r\n    \"startTime\": \"2019-02-07T16:30:46Z\",\r\n    \"endTime\": \"2019-02-07T16:31:22Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
