{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/amits-test/providers/Microsoft.Compute/virtualMachines/amits-winser6/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments?api-version=2018-11-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"centraluseuap\",\r\n      \"id\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/amits-test/providers/Microsoft.Compute/virtualMachines/amits-winser6/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditWindowsService\",\r\n      \"name\": \"AuditWindowsService\",\r\n      \"properties\": {\r\n        \"complianceStatus\": \"NonCompliant\",\r\n        \"assignmentHash\": \"FCE48C2D50C34F88FC258BB3F59B4727676A31FE20B474074C48DC87A7874B11.E3B0C44298FC1C149AFBF4C8996FB92427AE41E4649B934CA495991B7852B855\",\r\n        \"latestReportId\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/amits-test/providers/Microsoft.Compute/virtualMachines/amits-winser6/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditWindowsService/reports/45d4d0ee-cef6-4e67-8d75-7ed30e850523\",\r\n        \"lastComplianceStatusChecked\": \"2019-02-20T01:45:12Z\",\r\n        \"context\": null,\r\n        \"guestConfiguration\": {\r\n          \"kind\": null,\r\n          \"name\": \"AuditWindowsService\",\r\n          \"version\": \"1.2.1.0\",\r\n          \"contentUri\": \"https://github.com/Microsoft/PowerShell-DSC-for-Linux/raw/amits/custompolicy/MyCustomPolicy4/AuditWindowsService.zip\",\r\n          \"contentHash\": \"FCE48C2D50C34F88FC258BB3F59B4727676A31FE20B474074C48DC87A7874B11\",\r\n          \"contentType\": null,\r\n          \"configurationParameter\": [],\r\n          \"configurationSetting\": null\r\n        },\r\n        \"provisioningState\": null\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Authorization/policySetDefinitions/8174929b-2752-46af-9167-89d2d6780439?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"PolicySetDefinitionNotFound\",\r\n    \"message\": \"The policy set definition '8174929b-2752-46af-9167-89d2d6780439' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/providers/Microsoft.Authorization/policySetDefinitions/8174929b-2752-46af-9167-89d2d6780439?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"\\\"[Initiative] Monitor Windows Service.\\\"\",\r\n    \"policyType\": \"Custom\",\r\n    \"description\": \"Policy to monitor Windows Service.\",\r\n    \"metadata\": {\r\n      \"category\": \"Guest Configuration\",\r\n      \"createdBy\": \"cf38f268-bf7b-4d70-ad46-c7e6bea34eaa\",\r\n      \"createdOn\": \"2019-02-15T21:16:22.5647356Z\",\r\n      \"updatedBy\": null,\r\n      \"updatedOn\": null\r\n    },\r\n    \"policyDefinitions\": [\r\n      {\r\n        \"policyDefinitionReferenceId\": \"Deploy_AuditWindowsService\",\r\n        \"policyDefinitionId\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/providers/Microsoft.Authorization/policyDefinitions/2bb772f0-1b53-4011-a902-2c93f6055827\"\r\n      },\r\n      {\r\n        \"policyDefinitionReferenceId\": \"Audit_AuditWindowsService\",\r\n        \"policyDefinitionId\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/providers/Microsoft.Authorization/policyDefinitions/499efe15-07d3-4ef1-b9a9-4209fcb55260\"\r\n      }\r\n    ]\r\n  },\r\n  \"id\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/providers/Microsoft.Authorization/policySetDefinitions/8174929b-2752-46af-9167-89d2d6780439\",\r\n  \"type\": \"Microsoft.Authorization/policySetDefinitions\",\r\n  \"name\": \"8174929b-2752-46af-9167-89d2d6780439\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Authorization/policyDefinitions/2bb772f0-1b53-4011-a902-2c93f6055827?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"PolicyDefinitionNotFound\",\r\n    \"message\": \"The policy definition '2bb772f0-1b53-4011-a902-2c93f6055827' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/providers/Microsoft.Authorization/policyDefinitions/2bb772f0-1b53-4011-a902-2c93f6055827?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"\\\"[Deploy] Monitor Windows Service.\\\"\",\r\n    \"policyType\": \"Custom\",\r\n    \"mode\": \"All\",\r\n    \"description\": \"Policy to monitor Windows Service.\",\r\n    \"metadata\": {\r\n      \"category\": \"Guest Configuration\",\r\n      \"requiredProviders\": [\r\n        \"Microsoft.GuestConfiguration\"\r\n      ],\r\n      \"createdBy\": \"cf38f268-bf7b-4d70-ad46-c7e6bea34eaa\",\r\n      \"createdOn\": \"2019-02-15T21:16:20.2675284Z\",\r\n      \"updatedBy\": null,\r\n      \"updatedOn\": null\r\n    },\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"allOf\": [\r\n          {\r\n            \"field\": \"type\",\r\n            \"equals\": \"Microsoft.Compute/virtualMachines\"\r\n          },\r\n          {\r\n            \"anyOf\": [\r\n              {\r\n                \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                \"in\": [\r\n                  \"MicrosoftDynamicsAX\",\r\n                  \"MicrosoftWindowsDesktop\",\r\n                  \"MicrosoftVisualStudio\",\r\n                  \"incredibuild\",\r\n                  \"MicrosoftWindowsServerHPCPack\",\r\n                  \"esri\"\r\n                ]\r\n              },\r\n              {\r\n                \"allOf\": [\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                    \"equals\": \"MicrosoftWindowsServer\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imageSKU\",\r\n                    \"notLike\": \"2008*\"\r\n                  }\r\n                ]\r\n              },\r\n              {\r\n                \"allOf\": [\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                    \"equals\": \"MicrosoftSQLServer\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imageSKU\",\r\n                    \"notEquals\": \"SQL2008R2SP3-WS2008R2SP1\"\r\n                  }\r\n                ]\r\n              },\r\n              {\r\n                \"allOf\": [\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                    \"equals\": \"microsoft-dsvm\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imageOffer\",\r\n                    \"equals\": \"dsvm-windows\"\r\n                  }\r\n             [...]
[...]
    {
      "RequestUri": "/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/amits-test/providers/Microsoft.Compute/virtualMachines/amits-winser6/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditWindowsService/reports/45d4d0ee-cef6-4e67-8d75-7ed30e850523?api-version=2018-11-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11982"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/amits-test/providers/Microsoft.Compute/virtualMachines/amits-winser6/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditWindowsService/reports/45d4d0ee-cef6-4e67-8d75-7ed30e850523\",\r\n  \"name\": \"45d4d0ee-cef6-4e67-8d75-7ed30e850523\",\r\n  \"properties\": {\r\n    \"complianceStatus\": \"NonCompliant\",\r\n    \"assignment\": {\r\n      \"name\": \"AuditWindowsService\",\r\n      \"configuration\": {\r\n        \"name\": \"AuditWindowsService\",\r\n        \"version\": \"1.2.1.0\"\r\n      }\r\n    },\r\n    \"reportId\": \"45d4d0ee-cef6-4e67-8d75-7ed30e850523\",\r\n    \"vm\": {\r\n      \"id\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/amits-test/providers/Microsoft.Compute/virtualMachines/amits-winser6\",\r\n      \"uuid\": \"2a71dc82-653c-4368-9067-1d56eeb5110d\"\r\n    },\r\n    \"details\": {\r\n      \"complianceStatus\": \"NonCompliant\",\r\n      \"startTime\": \"2019-02-20T01:45:10Z\",\r\n      \"endTime\": \"2019-02-20T01:45:12Z\",\r\n      \"jobId\": \"45d4d0ee-cef6-4e67-8d75-7ed30e850523\",\r\n      \"resources\": [\r\n        {\r\n          \"complianceStatus\": \"NonCompliant\",\r\n          \"reasons\": [],\r\n          \"properties\": {\r\n            \"BuiltInAccount\": null,\r\n            \"ConfigurationName\": \"foo\",\r\n            \"Credential\": null,\r\n            \"Dependencies\": null,\r\n            \"DependsOn\": null,\r\n            \"Description\": null,\r\n            \"DesktopInteract\": null,\r\n            \"DisplayName\": null,\r\n            \"Ensure\": \"Absent\",\r\n            \"ModuleName\": \"GuestConfiguration\",\r\n            \"ModuleVersion\": \"1.0.0.0\",\r\n            \"Name\": \"foo\",\r\n            \"Path\": null,\r\n            \"PsDscRunAsCredential\": null,\r\n            \"ResourceId\": \"[Service]s\",\r\n            \"SourceInfo\": null,\r\n            \"StartupTimeout\": null,\r\n            \"StartupType\": null,\r\n            \"State\": null,\r\n            \"TerminateTimeout\": null\r\n          }\r\n        }\r\n      ],\r\n      \"operationType\": \"Consistency\"\r\n    },\r\n    \"startTime\": \"2019-02-20T01:45:10Z\",\r\n    \"endTime\": \"2019-02-20T01:45:12Z\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "b5e4748c-f69a-467c-8749-e2f9c8cd3db0"
  }
}