{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/PolicyE2ETest_58_20_10_06-08-2020/providers/Microsoft.Compute/virtualMachines/pol-2016corsml/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments?api-version=2018-11-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"centraluseuap\",\r\n      \"id\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/PolicyE2ETest_58_20_10_06-08-2020/providers/Microsoft.Compute/virtualMachines/pol-2016corsml/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/EnforcePasswordHistory\",\r\n      \"name\": \"EnforcePasswordHistory\",\r\n      \"properties\": {\r\n        \"complianceStatus\": \"NonCompliant\",\r\n        \"assignmentHash\": \"447C29C2E7B7330CE51C1B5B69DBDFE9E5A727BDB87D63846303055DDA6275C7.E3B0C44298FC1C149AFBF4C8996FB92427AE41E4649B934CA495991B7852B855\",\r\n        \"parameterHash\": \"\",\r\n        \"latestReportId\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/PolicyE2ETest_58_20_10_06-08-2020/providers/Microsoft.Compute/virtualMachines/pol-2016corsml/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/EnforcePasswordHistory/reports/22f8be31-1f8b-4777-8494-409fe4154be5\",\r\n        \"lastComplianceStatusChecked\": \"2020-06-09T00:31:00Z\",\r\n        \"context\": null,\r\n        \"guestConfiguration\": {\r\n          \"kind\": null,\r\n          \"name\": \"EnforcePasswordHistory\",\r\n          \"version\": \"1.*\",\r\n          \"contentUri\": \"https://oaasguestconfigeaps1.blob.core.windows.net/builtinconfig/EnforcePasswordHistory/EnforcePasswordHistory_1.1.0.0.zip\",\r\n          \"contentHash\": \"447C29C2E7B7330CE51C1B5B69DBDFE9E5A727BDB87D63846303055DDA6275C7\",\r\n          \"contentType\": null,\r\n          \"assignmentType\": null,\r\n          \"configurationParameter\": [],\r\n          \"configurationProtectedParameter\": [],\r\n          \"configurationSetting\": null\r\n        },\r\n        \"provisioningState\": null\r\n      }\r\n    },\r\n    {\r\n      \"location\": \"centraluseuap\",\r\n      \"id\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/PolicyE2ETest_58_20_10_06-08-2020/providers/Microsoft.Compute/virtualMachines/pol-2016corsml/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/StorePasswordsUsingReversibleEncryption\",\r\n      \"name\": \"StorePasswordsUsingReversibleEncryption\",\r\n      \"properties\": {\r\n        \"complianceStatus\": \"Compl[...]
    {
      "RequestUri": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/PolicyE2ETest_58_20_10_06-08-2020/providers/Microsoft.HybridCompute/machines/pol-2016corsml/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments?api-version=2018-11-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.HybridCompute/machines/pol-2016corsml' under resource group 'PolicyE2ETest_58_20_10_06-08-2020' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/providers/Microsoft.Authorization/policySetDefinitions/92e09915-8806-493c-baac-4858b0eeea7b?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11532"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"PolicySetDefinitionNotFound\",\r\n    \"message\": \"The policy set definition '92e09915-8806-493c-baac-4858b0eeea7b' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/providers/Microsoft.Authorization/policySetDefinitions/92e09915-8806-493c-baac-4858b0eeea7b?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11716"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"[Initiative] [dsc_e2e_test] Audit Windows Service (do not delete).\",\r\n    \"policyType\": \"Custom\",\r\n    \"description\": \"Policy to audit Windows service state.\",\r\n    \"metadata\": {\r\n      \"category\": \"Guest Configuration\",\r\n      \"createdBy\": \"cf38f268-bf7b-4d70-ad46-c7e6bea34eaa\",\r\n      \"createdOn\": \"2019-07-25T00:36:25.3860314Z\",\r\n      \"updatedBy\": null,\r\n      \"updatedOn\": null\r\n    },\r\n    \"parameters\": {},\r\n    \"policyDefinitions\": [\r\n      {\r\n        \"policyDefinitionReferenceId\": \"Deploy_AuditWindowsService\",\r\n        \"policyDefinitionId\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/providers/Microsoft.Authorization/policyDefinitions/a71505d3-c1a0-442e-9b87-0b1dca9c1deb\",\r\n        \"parameters\": {}\r\n      },\r\n      {\r\n        \"policyDefinitionReferenceId\": \"Audit_AuditWindowsService\",\r\n        \"policyDefinitionId\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/providers/Microsoft.Authorization/policyDefinitions/08a87b8a-e824-44fa-bf85-0f61a161eebb\"\r\n      }\r\n    ]\r\n  },\r\n  \"id\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/providers/Microsoft.Authorization/policySetDefinitions/92e09915-8806-493c-baac-4858b0eeea7b\",\r\n  \"type\": \"Microsoft.Authorization/policySetDefinitions\",\r\n  \"name\": \"92e09915-8806-493c-baac-4858b0eeea7b\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Authorization/policyDefinitions/a71505d3-c1a0-442e-9b87-0b1dca9c1deb?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11531"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"PolicyDefinitionNotFound\",\r\n    \"message\": \"The policy definition 'a71505d3-c1a0-442e-9b87-0b1dca9c1deb' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/providers/Microsoft.Authorization/policyDefinitions/a71505d3-c1a0-442e-9b87-0b1dca9c1deb?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11715"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"[Deploy] [dsc_e2e_test] Audit Windows Service (do not delete).\",\r\n    \"policyType\": \"Custom\",\r\n    \"mode\": \"All\",\r\n    \"description\": \"Policy to audit Windows service state.\",\r\n    \"metadata\": {\r\n      \"category\": \"Guest Configuration\",\r\n      \"requiredProviders\": [\r\n        \"Microsoft.GuestConfiguration\"\r\n      ],\r\n      \"createdBy\": \"cf38f268-bf7b-4d70-ad46-c7e6bea34eaa\",\r\n      \"createdOn\": \"2019-07-25T00:36:23.7141557Z\",\r\n      \"updatedBy\": null,\r\n      \"updatedOn\": null\r\n    },\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"allOf\": [\r\n          {\r\n            \"field\": \"type\",\r\n            \"equals\": \"Microsoft.Compute/virtualMachines\"\r\n          },\r\n          {\r\n            \"anyOf\": [\r\n              {\r\n                \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                \"in\": [\r\n                  \"esri\",\r\n                  \"incredibuild\",\r\n                  \"MicrosoftDynamicsAX\",\r\n                  \"MicrosoftSharepoint\",\r\n                  \"MicrosoftVisualStudio\",\r\n                  \"MicrosoftWindowsDesktop\",\r\n                  \"MicrosoftWindowsServerHPCPack\"\r\n                ]\r\n              },\r\n              {\r\n                \"allOf\": [\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                    \"equals\": \"MicrosoftWindowsServer\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imageSKU\",\r\n                    \"notLike\": \"2008*\"\r\n                  }\r\n                ]\r\n              },\r\n              {\r\n                \"allOf\": [\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                    \"equals\": \"MicrosoftSQLServer\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imageSKU\",\r\n                    \"notEquals\": \"SQL2008R2SP3-WS2008R2SP1\"\r\n                  }\r\n                ]\r\n              },\r\n              {\r\n                \"allOf\": [\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                    \"equals\": \"microsoft-dsvm\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imageOffer\",\r\n                    \"equals\": \"dsvm-windows\"\r\n                  }\r\n             [...]
[...]
    {
      "RequestUri": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/PolicyE2ETest_58_20_10_06-08-2020/providers/Microsoft.Authorization/policyAssignments?$filter=policyDefinitionId%20eq%20'/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/providers/Microsoft.Authorization/policySetDefinitions/92e09915-8806-493c-baac-4858b0eeea7b'&api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11713"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"A0\",\r\n        \"tier\": \"Free\"\r\n      },\r\n      \"properties\": {\r\n        \"displayName\": \"Audit Windows Service[92e09915-8806-493c-baac-4858b0eeea7b]\",\r\n        \"policyDefinitionId\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/providers/Microsoft.Authorization/policySetDefinitions/92e09915-8806-493c-baac-4858b0eeea7b\",\r\n        \"scope\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourcegroups/PolicyE2ETest_58_20_10_06-08-2020\",\r\n        \"parameters\": {},\r\n        \"metadata\": {\r\n          \"createdBy\": \"b5da3617-fffe-4154-afc7-c12b6ca097ba\",\r\n          \"createdOn\": \"2020-06-08T10:21:14.5586625Z\",\r\n          \"updatedBy\": null,\r\n          \"updatedOn\": null\r\n        }\r\n      },\r\n      \"identity\": {\r\n        \"principalId\": \"38e8b070-8498-4a61-902d-3cff98fb5fc9\",\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"type\": \"SystemAssigned\"\r\n      },\r\n      \"id\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourcegroups/PolicyE2ETest_58_20_10_06-08-2020/providers/Microsoft.Authorization/policyAssignments/82c2cbb0-3d76-4105-ad8b-bdef50730517\",\r\n      \"type\": \"Microsoft.Authorization/policyAssignments\",\r\n      \"name\": \"82c2cbb0-3d76-4105-ad8b-bdef50730517\",\r\n      \"location\": \"westus\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/PolicyE2ETest_58_20_10_06-08-2020/providers/Microsoft.Compute/virtualMachines/pol-2016corsml/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditWindowsService/reports/6ff507c8-5960-4ec6-84e5-f55045217066?api-version=2018-11-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11985"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/PolicyE2ETest_58_20_10_06-08-2020/providers/Microsoft.Compute/virtualMachines/pol-2016corsml/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditWindowsService/reports/6ff507c8-5960-4ec6-84e5-f55045217066\",\r\n  \"name\": \"6ff507c8-5960-4ec6-84e5-f55045217066\",\r\n  \"properties\": {\r\n    \"complianceStatus\": \"NonCompliant\",\r\n    \"assignment\": {\r\n      \"name\": \"AuditWindowsService\",\r\n      \"configuration\": {\r\n        \"name\": \"AuditWindowsService\",\r\n        \"version\": \"1.0.0.0\"\r\n      }\r\n    },\r\n    \"reportId\": \"6ff507c8-5960-4ec6-84e5-f55045217066\",\r\n    \"vm\": {\r\n      \"id\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/PolicyE2ETest_58_20_10_06-08-2020/providers/Microsoft.Compute/virtualMachines/pol-2016corsml\",\r\n      \"uuid\": \"02a56b44-1a71-4748-b5bb-1914de36f2df\"\r\n    },\r\n    \"details\": {\r\n      \"complianceStatus\": \"NonCompliant\",\r\n      \"startTime\": \"2020-06-09T00:24:12Z\",\r\n      \"endTime\": \"2020-06-09T00:24:28Z\",\r\n      \"jobId\": \"6ff507c8-5960-4ec6-84e5-f55045217066\",\r\n      \"resources\": [\r\n        {\r\n          \"complianceStatus\": \"NonCompliant\",\r\n          \"reasons\": [\r\n            {\r\n              \"phrase\": \"Property: \\\"State\\\" | Expected: \\\"Running\\\" | Actual: null. \\n\",\r\n              \"code\": \"ResourceNotCompliant_[Service]windowsService\"\r\n            }\r\n          ],\r\n          \"properties\": {\r\n            \"BuiltInAccount\": null,\r\n            \"ConfigurationName\": \"DSCConfig\",\r\n            \"Credential\": null,\r\n            \"Dependencies\": null,\r\n            \"DependsOn\": null,\r\n            \"Description\": null,\r\n            \"DesktopInteract\": null,\r\n            \"DisplayName\": null,\r\n            \"Ensure\": \"Absent\",\r\n            \"ModuleName\": \"PSDscResources\",\r\n            \"ModuleVersion\": \"2.10.0.0\",\r\n            \"Name\": \"myWindowsService\",\r\n            \"Path\": null,\r\n            \"PsDscRunAsCredential\": null,\r\n            \"ResourceId\": \"[Service]windowsService\",\r\n            \"SourceInfo\": null,\r\n            \"StartupTimeout\": null,\r\n            \"StartupType\": null,\r\n            \"State\": null,\r\n            \"TerminateTimeout\": null\r\n          }\r\n        }\r\n      ],\r\n      \"operationType\": \"Consistency\"\r\n    },\r\n    \"startTime\": \"2020-06-09T00:24:12Z\",\r\n    \"endTime\": \"2020-06-09T00:24:28Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/PolicyE2ETest_58_20_10_06-08-2020/providers/Microsoft.HybridCompute/machines/pol-2016corsml/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditWindowsService/reports/6ff507c8-5960-4ec6-84e5-f55045217066?api-version=2018-11-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.HybridCompute/machines/pol-2016corsml' under resource group 'PolicyE2ETest_58_20_10_06-08-2020' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/PolicyE2ETest_58_20_10_06-08-2020/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-04-04&$top=1&$orderby=Timestamp%20desc&$filter=PolicySetDefinitionName%20eq%20%2792e09915-8806-493c-baac-4858b0eeea7b%27%20and%20contains%28ResourceId%2C%27pol-2016corsml%27%29",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "599"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11717"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/PolicyE2ETest_58_20_10_06-08-2020/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest\",\r\n  \"@odata.count\": 1,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourceGroups/PolicyE2ETest_58_20_10_06-08-2020/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity\",\r\n      \"timestamp\": \"2020-06-08T21:39:01.1117391Z\",\r\n      \"resourceId\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourcegroups/policye2etest_58_20_10_06-08-2020/providers/microsoft.compute/virtualmachines/pol-2016corsml/providers/microsoft.guestconfiguration/guestconfigurationassignments/auditwindowsservice\",\r\n      \"policyAssignmentId\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourcegroups/policye2etest_58_20_10_06-08-2020/providers/microsoft.authorization/policyassignments/82c2cbb0-3d76-4105-ad8b-bdef50730517\",\r\n      \"policyDefinitionId\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/providers/microsoft.authorization/policydefinitions/08a87b8a-e824-44fa-bf85-0f61a161eebb\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"f66367e1-cf7d-407b-ba39-53230cc79071\",\r\n      \"resourceType\": \"Microsoft.GuestConfiguration/guestConfigurationAssignments\",\r\n      \"resourceLocation\": \"centraluseuap\",\r\n      \"resourceGroup\": \"PolicyE2ETest_58_20_10_06-08-2020\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"82c2cbb0-3d76-4105-ad8b-bdef50730517\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"\",\r\n      \"policyAssignmentScope\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/resourcegroups/PolicyE2ETest_58_20_10_06-08-2020\",\r\n      \"policyDefinitionName\": \"08a87b8a-e824-44fa-bf85-0f61a161eebb\",\r\n      \"policyDefinitionAction\": \"audit\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"/subscriptions/f66367e1-cf7d-407b-ba39-53230cc79071/providers/Microsoft.Authorization/policySetDefinitions/92e09915-8806-493c-baac-4858b0eeea7b\",\r\n      \"policySetDefinitionName\": \"92e09915-8806-493c-baac-4858b0eeea7b\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"guest configuration\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"d12984f0-19bf-4e3a-8d8b-18dcd401d227,48fed3a1-0814-4847-88ce-b766155f2792,CnAIOrchestrationServicePublicCorpprod,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"audit_auditwindowsservice\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "f66367e1-cf7d-407b-ba39-53230cc79071"
  }
}