{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/vivga/providers/Microsoft.Compute/virtualMachines/Viv1809SDDC/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments?api-version=2018-11-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"eastus2\",\r\n      \"id\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/vivga/providers/Microsoft.Compute/virtualMachines/Viv1809SDDC/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/WhitelistedApplication\",\r\n      \"name\": \"WhitelistedApplication\",\r\n      \"properties\": {\r\n        \"complianceStatus\": \"NonCompliant\",\r\n        \"assignmentHash\": \"F0E7EE1C4E7543F8C02B7D1A231C4CEBB9942579CEF502D13CE2D9318DDD8860.E381A1748D08855C4004123F85A5DAE5D26E33B38FFDAACE715AB39B88F8BF04\",\r\n        \"parameterHash\": \"W0luc3RhbGxlZEFwcGxpY2F0aW9uXWJ3aGl0ZWxpc3RlZGFwcDtOYW1lPSpDaHJvbWUq\",\r\n        \"latestReportId\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/vivga/providers/Microsoft.Compute/virtualMachines/Viv1809SDDC/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/WhitelistedApplication/reports/fa442837-2652-4697-b4e9-5f0a4d1228a5\",\r\n        \"lastComplianceStatusChecked\": \"2019-05-31T01:08:57Z\",\r\n        \"context\": null,\r\n        \"guestConfiguration\": {\r\n          \"kind\": null,\r\n          \"name\": \"WhitelistedApplication\",\r\n          \"version\": \"1.*\",\r\n          \"contentUri\": \"https://oaasguestconfigeus2s1.blob.core.windows.net/builtinconfig/WhitelistedApplication/WhitelistedApplication_1.7.0.0.zip\",\r\n          \"contentHash\": \"F0E7EE1C4E7543F8C02B7D1A231C4CEBB9942579CEF502D13CE2D9318DDD8860\",\r\n          \"contentType\": null,\r\n          \"configurationParameter\": [\r\n            {\r\n              \"name\": \"[InstalledApplication]bwhitelistedapp;Name\",\r\n              \"value\": \"*Chrome*\"\r\n            }\r\n          ],\r\n          \"configurationSetting\": null\r\n        },\r\n        \"provisioningState\": null\r\n      }\r\n    },\r\n    {\r\n      \"location\": \"eastus2\",\r\n      \"id\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/vivga/providers/Microsoft.Compute/virtualMachines/Viv1809SDDC/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/AuditSecureProtocol\",\r\n      \"name\": \"AuditSecureProtocol\",\r\n      \"properties\": {\r\n        \"complianceStatus\": \"Compliant\",\r\n        \"assignmentHash\": \"98ACBE11E578A78AC17C43A19045E3E80D08[...]
    {
      "RequestUri": "/providers/Microsoft.Authorization/policySetDefinitions/25ef9b72-4af2-4501-acd1-fc814e73dde1?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"Audit Windows VMs that do not have the specified applications installed\",\r\n    \"policyType\": \"BuiltIn\",\r\n    \"description\": \"This initiative deploys the policy requirements and audits Windows virtual machines that do not have the specified applications installed. For more information on Guest Configuration policies, please visit https://aka.ms/gcpol\",\r\n    \"metadata\": {\r\n      \"category\": \"Guest Configuration\"\r\n    },\r\n    \"parameters\": {\r\n      \"installedApplication\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Application names (supports wildcards)\",\r\n          \"description\": \"A semicolon-separated list of the names of the applications that should be installed. e.g. 'Microsoft SQL Server 2014 (64-bit); Microsoft Visual Studio Code' or 'Microsoft SQL Server 2014*' (to match any application starting with 'Microsoft SQL Server 2014')\"\r\n        }\r\n      }\r\n    },\r\n    \"policyDefinitions\": [\r\n      {\r\n        \"policyDefinitionReferenceId\": \"Deploy_InstalledApp\",\r\n        \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/12f7e5d0-42a7-4630-80d8-54fb7cff9bd6\",\r\n        \"parameters\": {\r\n          \"installedApplication\": {\r\n            \"value\": \"[parameters('installedApplication')]\"\r\n          }\r\n        }\r\n      },\r\n      {\r\n        \"policyDefinitionReferenceId\": \"Audit_InstalledApp\",\r\n        \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/5e393799-e3ca-4e43-a9a5-0ec4648a57d9\"\r\n      }\r\n    ]\r\n  },\r\n  \"id\": \"/providers/Microsoft.Authorization/policySetDefinitions/25ef9b72-4af2-4501-acd1-fc814e73dde1\",\r\n  \"type\": \"Microsoft.Authorization/policySetDefinitions\",\r\n  \"name\": \"25ef9b72-4af2-4501-acd1-fc814e73dde1\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Authorization/policyDefinitions/12f7e5d0-42a7-4630-80d8-54fb7cff9bd6?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"displayName\": \"Deploy requirements to audit Windows VMs that do not have the specified applications installed\",\r\n    \"policyType\": \"BuiltIn\",\r\n    \"mode\": \"Indexed\",\r\n    \"description\": \"This policy creates a Guest Configuration assignment to audit Windows virtual machines that do not have the specified applications installed. It also creates a system-assigned managed identity and deploys the VM extension for Guest Configuration. This policy should only be used along with its corresponding audit policy in an initiative. For more information on Guest Configuration policies, please visit https://aka.ms/gcpol\",\r\n    \"metadata\": {\r\n      \"category\": \"Guest Configuration\",\r\n      \"requiredProviders\": [\r\n        \"Microsoft.GuestConfiguration\"\r\n      ]\r\n    },\r\n    \"parameters\": {\r\n      \"installedApplication\": {\r\n        \"type\": \"String\",\r\n        \"metadata\": {\r\n          \"displayName\": \"Application names (supports wildcards)\",\r\n          \"description\": \"A semicolon-separated list of the names of the applications that should be installed. e.g. 'Microsoft SQL Server 2014 (64-bit); Microsoft Visual Studio Code' or 'Microsoft SQL Server 2014*' (to match any application starting with 'Microsoft SQL Server 2014')\"\r\n        }\r\n      }\r\n    },\r\n    \"policyRule\": {\r\n      \"if\": {\r\n        \"allOf\": [\r\n          {\r\n            \"field\": \"type\",\r\n            \"equals\": \"Microsoft.Compute/virtualMachines\"\r\n          },\r\n          {\r\n            \"anyOf\": [\r\n              {\r\n                \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                \"in\": [\r\n                  \"MicrosoftDynamicsAX\",\r\n                  \"MicrosoftWindowsDesktop\",\r\n                  \"MicrosoftVisualStudio\",\r\n                  \"incredibuild\",\r\n                  \"MicrosoftWindowsServerHPCPack\",\r\n                  \"esri\"\r\n                ]\r\n              },\r\n              {\r\n                \"allOf\": [\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                    \"equals\": \"MicrosoftWindowsServer\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imageSKU\",\r\n                    \"notLike\": \"2008*\"\r\n                  }\r\n                ]\r\n              },\r\n              {\r\n                \"allOf\": [\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                    \"equals\": \"MicrosoftSQLServer\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imageSKU\",\r\n                    \"notEquals\": \"SQL2008R2SP3-WS2008R2SP1\"\r\n                  }\r\n                ]\r\n              },\r\n              {\r\n                \"allOf\": [\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imagePublisher\",\r\n                    \"equals\": \"microsoft-dsvm\"\r\n                  },\r\n                  {\r\n                    \"field\": \"Microsoft.Compute/imageOffer\",\r\n                    \"equals\": \"dsvm-windows\"\r\n                  }\r\n             [...]
[...]
    {
      "RequestUri": "/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/vivga/providers/Microsoft.Authorization/policyAssignments?$filter=policyDefinitionId%20eq%20'/providers/Microsoft.Authorization/policySetDefinitions/25ef9b72-4af2-4501-acd1-fc814e73dde1'&api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"A0\",\r\n        \"tier\": \"Free\"\r\n      },\r\n      \"properties\": {\r\n        \"displayName\": \"[Preview]: Audit that an application is installed inside Windows VMs\",\r\n        \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policySetDefinitions/25ef9b72-4af2-4501-acd1-fc814e73dde1\",\r\n        \"scope\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/vivga\",\r\n        \"notScopes\": [],\r\n        \"parameters\": {\r\n          \"installedApplication\": {\r\n            \"value\": \"*Chrome*\"\r\n          }\r\n        },\r\n        \"metadata\": {\r\n          \"assignedBy\": \"Viv Gendehosahally Lingaiah\",\r\n          \"parameterScopes\": {}\r\n        }\r\n      },\r\n      \"identity\": {\r\n        \"principalId\": \"61cd1df5-a208-4b1e-bcde-ae14891aede3\",\r\n        \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n        \"type\": \"SystemAssigned\"\r\n      },\r\n      \"id\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/vivga/providers/Microsoft.Authorization/policyAssignments/3ff511e208f944e2a7eb7436\",\r\n      \"type\": \"Microsoft.Authorization/policyAssignments\",\r\n      \"name\": \"3ff511e208f944e2a7eb7436\",\r\n      \"location\": \"eastus\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/vivga/providers/Microsoft.Compute/virtualMachines/Viv1809SDDC/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/WhitelistedApplication/reports/fa442837-2652-4697-b4e9-5f0a4d1228a5?api-version=2018-11-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/vivga/providers/Microsoft.Compute/virtualMachines/Viv1809SDDC/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/WhitelistedApplication/reports/fa442837-2652-4697-b4e9-5f0a4d1228a5\",\r\n  \"name\": \"fa442837-2652-4697-b4e9-5f0a4d1228a5\",\r\n  \"properties\": {\r\n    \"complianceStatus\": \"NonCompliant\",\r\n    \"assignment\": {\r\n      \"name\": \"WhitelistedApplication\",\r\n      \"configuration\": {\r\n        \"name\": \"WhitelistedApplication\",\r\n        \"version\": \"1.7.0.0\"\r\n      }\r\n    },\r\n    \"reportId\": \"fa442837-2652-4697-b4e9-5f0a4d1228a5\",\r\n    \"vm\": {\r\n      \"id\": \"/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourceGroups/vivga/providers/Microsoft.Compute/virtualMachines/Viv1809SDDC\",\r\n      \"uuid\": \"439050a0-2374-40ac-83b6-058e1a9da426\"\r\n    },\r\n    \"details\": {\r\n      \"complianceStatus\": \"NonCompliant\",\r\n      \"startTime\": \"2019-05-31T01:08:55Z\",\r\n      \"endTime\": \"2019-05-31T01:08:57Z\",\r\n      \"jobId\": \"fa442837-2652-4697-b4e9-5f0a4d1228a5\",\r\n      \"resources\": [\r\n        {\r\n          \"complianceStatus\": \"NonCompliant\",\r\n          \"reasons\": [\r\n            {\r\n              \"phrase\": \"The following applications are not installed: '*Chrome*'.\",\r\n              \"code\": \"UserApplication:InstalledApplication:ApplicationNotInstalled\"\r\n            }\r\n          ],\r\n          \"properties\": {\r\n            \"ApplicationInfo\": [\r\n              {\r\n                \"Ensure\": \"Absent\",\r\n                \"Name\": \"*Chrome*\"\r\n              }\r\n            ],\r\n            \"ConfigurationName\": \"WhitelistedApplication\",\r\n            \"DependsOn\": null,\r\n            \"Ensure\": \"Absent\",\r\n            \"ModuleName\": \"UserApplication\",\r\n            \"ModuleVersion\": \"1.0.0.3\",\r\n            \"Name\": \"*Chrome*\",\r\n            \"PsDscRunAsCredential\": null,\r\n            \"Reasons\": [\r\n              {\r\n                \"Code\": \"UserApplication:InstalledApplication:ApplicationNotInstalled\",\r\n                \"Phrase\": \"The following applications are not installed: '*Chrome*'.\"\r\n              }\r\n            ],\r\n            \"ResourceId\": \"[InstalledApplication]bwhitelistedapp\",\r\n            \"SourceInfo\": null\r\n          }\r\n        }\r\n      ],\r\n      \"operationType\": \"Consistency\"\r\n    },\r\n    \"startTime\": \"2019-05-31T01:08:55Z\",\r\n    \"endTime\": \"2019-05-31T01:08:57Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/providers/Microsoft.Authorization/policySetDefinitions/25ef9b72-4af2-4501-acd1-fc814e73dde1/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-07-01-preview&$top=1&$orderby=Timestamp%20desc&$filter=resourceGroup%20eq%20%27vivga%27%20and%20policyDefinitionAction%20eq%20%27deployifnotexists%27%20and%20contains%28ResourceId%2C%27Viv1809SDDC%27%29",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "599"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.nextLink\": null,\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/providers/Microsoft.Authorization/policySetDefinitions/25ef9b72-4af2-4501-acd1-fc814e73dde1/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest\",\r\n  \"@odata.count\": 0,\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "b5e4748c-f69a-467c-8749-e2f9c8cd3db0"
  }
}