{
  "Remove-AzResourceMoverMoveCollection+[NoContext]+Delete+$PUT+https://management.azure.com/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/MoveCollection-RG-rms/providers/Microsoft.Migrate/moveCollections/MoveColRemoveTest?api-version=2021-01-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/MoveCollection-RG-rms/providers/Microsoft.Migrate/moveCollections/MoveColRemoveTest?api-version=2021-01-01",
      "Content": "{\n  \"identity\": {\n    \"type\": \"SystemAssigned\"\n  },\n  \"properties\": {\n    \"sourceRegion\": \"eastus\",\n    \"targetRegion\": \"westus2\"\n  },\n  \"location\": \"eastus2euap\"\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"4d0024a8-0000-3400-0000-601909750000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/MoveCollection-RG-rms/providers/Microsoft.Migrate/moveCollections/MoveColRemoveTest\",\"name\":\"MoveColRemoveTest\",\"type\":\"Microsoft.Migrate/moveCollections\",\"etag\":\"\\\"4d0024a8-0000-3400-0000-601909750000\\\"\",\"location\":\"eastus2euap\",\"properties\":{\"sourceRegion\":\"eastus\",\"targetRegion\":\"westus2\",\"provisioningState\":\"Succeeded\",\"errors\":null},\"identity\":{\"principalId\":\"9f2d905c-2fc0-43e2-b78d-70056de0ec4f\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"type\":\"SystemAssigned\"}}",
    }
  },
  "Remove-AzResourceMoverMoveCollection+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/MoveCollection-RG-rms/providers/Microsoft.Migrate/moveCollections/MoveColRemoveTest?api-version=2021-01-01+2": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/MoveCollection-RG-rms/providers/Microsoft.Migrate/moveCollections/MoveColRemoveTest?api-version=2021-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/providers/Microsoft.Migrate/locations/eastus2euap/rmsOperationResults/a35f22db-296a-4971-93a1-e16e8a6b253d?api-version=2021-01-01\u0026operationResultResponseType=Location" ],
        "Retry-After": [ "0" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/providers/Microsoft.Migrate/locations/eastus2euap/rmsOperationResults/a35f22db-296a-4971-93a1-e16e8a6b253d?api-version=2021-01-01" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14999" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Remove-AzResourceMoverMoveCollection+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/e80eb9fa-c996-4435-aa32-5af6[...]
