{
  "Entries": [
    {
      "RequestUri": "/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourcegroups/PSTestRG1/providers/Microsoft.Authorization/policyAssignments/PSTestAuditAssignmentRG/providers/Microsoft.PolicyInsights/policyEvents/default/queryResults?api-version=2019-10-01&$top=10",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "149"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://westus.management.azure.com/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourcegroups/PSTestRG1/providers/Microsoft.Authorization/policyAssignments/PSTestAuditAssignmentRG/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default\",\r\n  \"@odata.count\": 10,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://westus.management.azure.com/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourcegroups/PSTestRG1/providers/Microsoft.Authorization/policyAssignments/PSTestAuditAssignmentRG/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity\",\r\n      \"timestamp\": \"2022-01-13T18:13:53.2557569Z\",\r\n      \"resourceId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourcegroups/PSTestRG1/providers/Microsoft.Network/networkSecurityGroups/pstests199\",\r\n      \"policyAssignmentId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourceGroups/PSTestRG1/providers/Microsoft.Authorization/policyAssignments/PSTestAuditAssignmentRG\",\r\n      \"policyDefinitionId\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/providers/Microsoft.Authorization/policyDefinitions/PSTestAuditDefinition\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"086aecf4-23d6-4dfd-99a8-a5c6299f0322\",\r\n      \"resourceType\": \"Microsoft.Network/networkSecurityGroups\",\r\n      \"resourceLocation\": \"eastus\",\r\n      \"resourceGroup\": \"PSTestRG1\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"PSTestAuditAssignmentRG\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"{}\",\r\n      \"policyAssignmentScope\": \"/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourceGroups/PSTestRG1\",\r\n      \"policyDefinitionName\": \"PSTestAuditDefinition\",\r\n      \"policyDefinitionAction\": \"audit\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"\",\r\n      \"policySetDefinitionName\": \"\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"AzGovPerfTest,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"\",\r\n      \"complianceState\": \"NonCompliant\",\r\n      \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"principalOid\": \"5e3ea7e8-c6f8-4026-a517-53a24fc529ab\"\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://westus.management.azure.com/subscriptions/086aecf4-23d6-4dfd-99a8-a5c6299f0322/resourcegroups/PSTestRG1/providers/Microsoft.Authorization/policyAssignments/PSTestAuditAssignmentRG/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity\",\r\n      \"timestamp\": \"2022-01-13T18:13:53.2557229Z\",\r\n      \"resourceId\": \"/subscriptions/086aecf4-23d6[...]
