{
  "Entries": [
    {
      "RequestUri": "/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyEvents/default/queryResults?api-version=2018-04-04&$top=10&$from=2019-01-20T00%3A00%3A00Z",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "595"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default\",\r\n  \"@odata.count\": 10,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity\",\r\n      \"timestamp\": \"2019-04-16T21:08:42.0610596Z\",\r\n      \"resourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/akhe-incident-86230190/providers/Microsoft.Authorization/locks/DeleteLock\",\r\n      \"policyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourceGroups/akhe-incident-86230190/providers/Microsoft.Authorization/policyAssignments/d2101b18c58142acafa06f07\",\r\n      \"policyDefinitionId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policyDefinitions/5b02be71-b0a4-4942-a376-9dc88d9ca8d6\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"d0610b27-9663-4c05-89f8-5b4be01e86a5\",\r\n      \"resourceType\": \"/Microsoft.Authorization/locks\",\r\n      \"resourceLocation\": \"eastus2\",\r\n      \"resourceGroup\": \"akhe-incident-86230190\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"d2101b18c58142acafa06f07\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"{}\",\r\n      \"policyAssignmentScope\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourceGroups/akhe-incident-86230190\",\r\n      \"policyDefinitionName\": \"5b02be71-b0a4-4942-a376-9dc88d9ca8d6\",\r\n      \"policyDefinitionAction\": \"auditifnotexists\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"\",\r\n      \"policySetDefinitionName\": \"\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"ArtTest2,ArtTest1,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"\",\r\n      \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"principalOid\": \"59840ddc-3e4e-4f5c-8418-67d57253b859\"\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity\",\r\n      \"timestamp\": \"2019-04-16T21:04:39.7864634Z\",\r\n      \"resourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourceGroups/argh/providers/Microsoft.Network/networkSecurityGroups/PortLockdown-westeurope\",\r\n      \"policyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourceGroups/argh/providers/Microsoft.Authorization/policyAssignments/77fec4647f8442e3b7ce96db\",\r\n      \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/1e30110a-5ceb-460c-a204-c1c3969c6d62\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"d0610b27-9663-4c05-89f8-5b4be01e86a5\",\r\n      \"resourceType\": \"/Microsoft.Network/networkSecurityGroups\",\r\n      \"resourceLocation\": \"westeurope\",\r\n      \"resourceGroup\": \"argh\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"77fec4647f8442e3b7ce96db\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"{\\\"tagName\\\":{\\\"value\\\":\\\"name\\\"},\\\"tagValue\\\":{\\\"value\\\":\\\"value\\\"}}\",\r\n      \"policyAssignmentScope\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourceGroups/argh\",\r\n      \"policyDefinitionName\": \"1e30110a-5ceb-460c-a204-c1c3969c6d62\",\r\n      \"policyDefinitionAction\": \"deny\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"\",\r\n      \"policySetDefinitionName\": \"\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"\",\r\[...]
