{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.Authorization/policyAssignments/SecurityCenterBuiltIn/providers/Microsoft.PolicyInsights/policyEvents/default/queryResults?api-version=2018-04-04&$top=10&$from=2019-12-01T00%3A00%3A00Z",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "598"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.Authorization/policyAssignments/SecurityCenterBuiltIn/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default\",\r\n  \"@odata.count\": 7,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.Authorization/policyAssignments/SecurityCenterBuiltIn/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity\",\r\n      \"timestamp\": \"2019-12-09T23:08:19.6279773Z\",\r\n      \"resourceId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/resourcegroups/cleanupservice/providers/Microsoft.KeyVault/vaults/cleanupservice5\",\r\n      \"policyAssignmentId\": \"/subscriptions/0b40be06-04e8-4f70-abde-a502b2646fe8/providers/Microsoft.Authorization/policyAssignments/SecurityCenterBuiltIn\",\r\n      \"policyDefinitionId\": \"/providers/Microsoft.Authorization/policyDefinitions/cf820ca0-f99e-4f3e-84fb-66e913812d21\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"0b40be06-04e8-4f70-abde-a502b2646fe8\",\r\n      \"resourceType\": \"/Microsoft.KeyVault/vaults\",\r\n      \"resourceLocation\": \"northcentralus\",\r\n      \"resourceGroup\": \"cleanupservice\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"SecurityCenterBuiltIn\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"{\\\"diagnosticsLogsInServiceFabricMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"systemUpdatesMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"systemConfigurationsMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"endpointProtectionMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"diskEncryptionMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"networkSecurityGroupsMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"webApplicationFirewallMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"sqlAuditingMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"sqlEncryptionMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"nextGenerationFirewallMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"vulnerabilityAssesmentMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"storageEncryptionMonitoringEffect\\\":{\\\"value\\\":\\\"Audit\\\"},\\\"jitNetworkAccessMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"adaptiveApplicationControlsMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"identityDesignateLessThanOwnersMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"identityDesignateMoreThanOneOwnerMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"identityEnableMFAForOwnerPermissionsMonitoringEffect\\\":{\\\"value\\\":\\\"AuditIfNotExists\\\"},\\\"identityEnableMFAForWritePermissionsMonitoringEffect\\\":{\\\"va[...]
