{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policyAssignments/PSTestAuditAssignmentSub/providers/Microsoft.PolicyInsights/policyEvents/default/queryResults?api-version=2019-10-01&$top=10&$from=2025-01-31T00%3A00%3A00Z",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "146"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policyAssignments/PSTestAuditAssignmentSub/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default\",\r\n  \"@odata.count\": 10,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policyAssignments/PSTestAuditAssignmentSub/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity\",\r\n      \"timestamp\": \"2025-02-04T22:36:38.5400587Z\",\r\n      \"resourceId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourcegroups/PSTestRG2/providers/Microsoft.Network/networkSecurityGroups/pstests197\",\r\n      \"policyAssignmentId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policyAssignments/PSTestAuditAssignmentSub\",\r\n      \"policyDefinitionId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policyDefinitions/PSTestAuditDefinition\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"e5a130f3-57fd-46b6-9c55-03d21a853935\",\r\n      \"resourceType\": \"Microsoft.Network/networkSecurityGroups\",\r\n      \"resourceLocation\": \"westus3\",\r\n      \"resourceGroup\": \"PSTestRG2\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"PSTestAuditAssignmentSub\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"\",\r\n      \"policyAssignmentScope\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935\",\r\n      \"policyDefinitionName\": \"PSTestAuditDefinition\",\r\n      \"policyDefinitionAction\": \"audit\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"\",\r\n      \"policySetDefinitionName\": \"\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"PowershellTesting,AzGovPerfTest,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"\",\r\n      \"complianceState\": \"NonCompliant\",\r\n      \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"principalOid\": \"aaa98dcf-7592-4632-a750-6f61c2d0d1d7\"\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/Microsoft.Authorization/policyAssignments/PSTestAuditAssignmentSub/providers/Microsoft.PolicyInsights/policyEvents/$metadata#default/$entity\",\r\n      \"timestamp\": \"2025-02-04T22:36:38.4519011Z\",\r\n      \"resourceId\": \"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/resourc[...]
