{
  "AzVMwareProvisionedNetwork+[NoContext]+List+$GET+https://management.azure.com/subscriptions/cef41485-ad1e-4cc3-a652-4c2620b8a2d0/resourceGroups/testgroupt54xji/providers/Microsoft.AVS/privateClouds/azps_test_cloudt8yx/provisionedNetworks?api-version=2024-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/cef41485-ad1e-4cc3-a652-4c2620b8a2d0/resourceGroups/testgroupt54xji/providers/Microsoft.AVS/privateClouds/azps_test_cloudt8yx/provisionedNetworks?api-version=2024-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "109" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group1/providers/Microsoft.AVS/privateClouds/cloud1/provisionedNetworks/vsan\",\"name\":\"vsan\",\"type\":\"Microsoft.AVS/privateClouds/provisionedNetworks\",\"properties\":{\"addressPrefix\":\"10.0.2.128/25\",\"networkType\":\"vsan\"}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group1/providers/Microsoft.AVS/privateClouds/cloud1/provisionedNetworks/esxvmot\",\"name\":\"esxvmot\",\"type\":\"Microsoft.AVS/privateClouds/provisionedNetworks\",\"properties\":{\"addressPrefix\":\"10.0.1.128/25\",\"networkType\":\"esxvmot\"}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group1/providers/Microsoft.AVS/privateClouds/cloud1/provisionedNetworks/mgmtvnet\",\"name[...]
