{
  "AzVMwareAddon+[NoContext]+List+$PUT+https://management.azure.com/subscriptions/cef41485-ad1e-4cc3-a652-4c2620b8a2d0/resourceGroups/testgroupyv1fcm/providers/Microsoft.AVS/privateClouds/azps_test_cloudkwyi/addons/SRM?api-version=2023-09-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/cef41485-ad1e-4cc3-a652-4c2620b8a2d0/resourceGroups/testgroupyv1fcm/providers/Microsoft.AVS/privateClouds/azps_test_cloudkwyi/addons/SRM?api-version=2023-09-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"addonType\": \"SRM\",\r\n    \"licenseKey\": \"YourLicenseKeyValue\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "text/html; charset=utf-8" ]
      },
      "Content": "\u003c!DOCTYPE html\u003e\n\u003chtml lang=\"en\"\u003e\n\u003chead\u003e\n    \u003cmeta charset=\"utf-8\"\u003e\n    \u003ctitle\u003e404 Not Found\u003c/title\u003e\n\u003c/head\u003e\n\u003cbody align=\"center\"\u003e\n    \u003cdiv role=\"main\" align=\"center\"\u003e\n        \u003ch1\u003e404: Not Found\u003c/h1\u003e\n        \u003cp\u003eThe requested resource could not be found.\u003c/p\u003e\n        \u003chr /\u003e\n    \u003c/div\u003e\n    \u003cdiv role=\"contentinfo\" align=\"center\"\u003e\n        \u003csmall\u003eRocket\u003c/small\u003e\n    \u003c/div\u003e\n\u003c/body\u003e\n\u003c/html\u003e",
    }
  },
  "AzVMwareAddon+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/cef41485-ad1e-4cc3-a652-4c2620b8a2d0/resourceGroups/testgroupyv1fcm/providers/Microsoft.AVS/privateClouds/azps_test_cloudkwyi/addons/vr?api-version=2023-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://localhost/subscriptions/cef41485-ad1e-4cc3-a652-4c2620b8a2d0/resourceGroups/testgroupyv1fcm/providers/Microsoft.AVS/privateClouds/azps_test_cloudkwyi/addons/vr?api-version=2023-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "text/html; charset=utf-8" ]
      },
      "Content": "\u003c!DOCTYPE html\u003e\n\u003chtml lang=\"en\"\u003e\n\u003chead\u003e\n    \u003cmeta charset=\"utf-8\"\u003e\n    \u003ctitle\u003e404 Not Found\u003c/title\u003e\n\u003c/head\u003e\n\u003cbody align=\"center\"\u003e\n    \u003cdiv role=\"main\" al[...]
