{
  "AzVMwareVirtualMachine+[NoContext]+List+$GET+https://management.azure.com/subscriptions/cef41485-ad1e-4cc3-a652-4c2620b8a2d0/resourceGroups/testgroupt54xji/providers/Microsoft.AVS/privateClouds/azps_test_cloudt8yx/clusters/82e7ug/virtualMachines?api-version=2024-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/cef41485-ad1e-4cc3-a652-4c2620b8a2d0/resourceGroups/testgroupt54xji/providers/Microsoft.AVS/privateClouds/azps_test_cloudt8yx/clusters/82e7ug/virtualMachines?api-version=2024-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "121" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group1/providers/Microsoft.AVS/privateClouds/cloud1/clusters/cluster1/virtualMachines/vm-209\",\"name\":\"vm-209\",\"type\":\"Microsoft.AVS/privateClouds/clusters/virtualMachines\",\"properties\":{\"displayName\":\"contoso-vm1\",\"moRefId\":\"vm-209\",\"folderPath\":\"vm/folder-1\",\"restrictMovement\":\"Disabled\"}},{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/group1/providers/Microsoft.AVS/privateClouds/cloud1/clusters/cluster1/virtualMachines/vm-128\",\"name\":\"vm-128\",\"type\":\"Microsoft.AVS/privateClouds/clusters/virtualMachines\",\"properties\":{\"displayName\":\"contoso-vm2\",\"moRefId\":\"vm-128\",\"folderPath\":\"vm\",\"restrictMovement\":\"Enabled\"}}]}",
    }
  },
  "AzVMwareVirtualMachine+[NoContext]+Get+$GET+https://management.azure.com/subscrip[...]
