{
  "AzVMwarePrivateCloudNsxtPassword+[NoContext]+Rotate+$POST+https://management.azure.com/subscriptions/cef41485-ad1e-4cc3-a652-4c2620b8a2d0/resourceGroups/testgroupob3cse/providers/Microsoft.AVS/privateClouds/azps_test_cloudbe0c/rotateNsxtPassword?api-version=2023-09-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/cef41485-ad1e-4cc3-a652-4c2620b8a2d0/resourceGroups/testgroupob3cse/providers/Microsoft.AVS/privateClouds/azps_test_cloudbe0c/rotateNsxtPassword?api-version=2023-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "96" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 204,
      "Headers": {
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  }
}