{
  "Entries": [
    {
      "RequestUri": "/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/providers/Microsoft.SignalRService?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/providers/Microsoft.SignalRService\",\r\n  \"namespace\": \"Microsoft.SignalRService\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"SignalR\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"West US\",\r\n        \"Southeast Asia\",\r\n        \"West Europe\",\r\n        \"West US 2\",\r\n        \"Central US EUAP\",\r\n        \"East US 2\",\r\n        \"North Europe\",\r\n        \"Australia East\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central US\",\r\n        \"Japan East\",\r\n        \"UK South\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2018-03-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"locations\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2018-03-01-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"locations/operationResults\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"West US\",\r\n        \"Southeast Asia\",\r\n        \"West Europe\",\r\n        \"West US 2\",\r\n        \"Central US EUAP\",\r\[...]
    {
      "RequestUri": "/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/resourceGroups/signalr-test-rg-ps6082/providers/Microsoft.SignalRService/SignalR/signalr-test-rg-ps6082?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'signalr-test-rg-ps6082' could not be found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/resourceGroups/signalr-test-rg-ps6082/providers/Microsoft.SignalRService/SignalR/signalr-test-rg-ps6082?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_S1\",\r\n    \"tier\": \"Standard\",\r\n    \"size\": \"S1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"externalIP\": \"168.61.53.220\",\r\n    \"hostName\": \"signalr-test-rg-ps6082.service.signalr.net\",\r\n    \"publicPort\": 5001,\r\n    \"serverPort\": 5002,\r\n    \"version\": \"1.0-preview\",\r\n    \"hostNamePrefix\": null\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/resourceGroups/signalr-test-rg-ps6082/providers/Microsoft.SignalRService/SignalR/signalr-test-rg-ps6082\",\r\n  \"name\": \"signalr-test-rg-ps6082\",\r\n  \"type\": \"Microsoft.SignalRService/SignalR\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ],
        "x-rp-server-mvid": [
          "8828a1fd-9d7b-4b2f-af6f-9535e08f2ceb"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/resourcegroups/signalr-test-rg-ps6082?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'signalr-test-rg-ps6082' could not be found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/resourceGroups/signalr-test-rg-ps6082/providers/Microsoft.SignalRService/locations/eastus/operationResults/934148f2-d43d-4f93-b2d9-4df0ccf164f8/SignalR/signalr-test-rg-ps6082?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "8828a1fd-9d7b-4b2f-af6f-9535e08f2ceb"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/resourceGroups/signalr-test-rg-ps6082/providers/Microsoft.SignalRService/locations/eastus/operationResults/934148f2-d43d-4f93-b2d9-4df0ccf164f8/SignalR/signalr-test-rg-ps6082?api-version=2018-03-01-preview"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/resourceGroups/signalr-test-rg-ps6082/providers/Microsoft.SignalRService/SignalR?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Standard_S1\",\r\n        \"tier\": \"Standard\",\r\n        \"size\": \"S1\",\r\n        \"capacity\": 1\r\n      },\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"externalIP\": \"168.61.53.220\",\r\n        \"hostName\": \"signalr-test-rg-ps6082.service.signalr.net\",\r\n        \"publicPort\": 5001,\r\n        \"serverPort\": 5002,\r\n        \"version\": \"1.0-preview\",\r\n        \"hostNamePrefix\": null\r\n      },\r\n      \"location\": \"eastus\",\r\n      \"tags\": null,\r\n      \"id\": \"/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/resourceGroups/signalr-test-rg-ps6082/providers/Microsoft.SignalRService/SignalR/signalr-test-rg-ps6082\",\r\n      \"name\": \"signalr-test-rg-ps6082\",\r\n      \"type\": \"Microsoft.SignalRService/SignalR\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "x-rp-server-mvid": [
          "8828a1fd-9d7b-4b2f-af6f-9535e08f2ceb"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/resourceGroups/signalr-test-rg-ps6082/providers/Microsoft.SignalRService/SignalR/signalr-test-ps2197?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.SignalRService/SignalR/signalr-test-ps2197' under resource group 'signalr-test-rg-ps6082' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/resourceGroups/signalr-test-rg-ps6082/providers/Microsoft.SignalRService/locations/eastus/operationResults/baa76d1c-dad7-48df-9fd5-9cc4268c75d0/SignalR/signalr-test-ps2197?api-version=2018-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11982"
        ],
        "x-rp-server-mvid": [
          "8828a1fd-9d7b-4b2f-af6f-9535e08f2ceb"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/resourceGroups/signalr-test-rg-ps6082/providers/Microsoft.SignalRService/locations/eastus/operationResults/baa76d1c-dad7-48df-9fd5-9cc4268c75d0/SignalR/signalr-test-ps2197?api-version=2018-03-01-preview"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/resourceGroups/signalr-test-rg-ps6082/providers/Microsoft.SignalRService/SignalR/signalr-test-ps2197/listKeys?api-version=2018-03-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"UMdCvVRmKpcpQ07gh87JXX93rTIml/0RGDwPmGS+OB8=\",\r\n  \"secondaryKey\": \"wghT6Eb5XRu95nHjgn9R3aQ4dL/zm2wyJpfxSmZLdC0=\",\r\n  \"primaryConnectionString\": \"Endpoint=https://signalr-test-ps2197.service.signalr.net;AccessKey=UMdCvVRmKpcpQ07gh87JXX93rTIml/0RGDwPmGS+OB8=;\",\r\n  \"secondaryConnectionString\": \"Endpoint=https://signalr-test-ps2197.service.signalr.net;AccessKey=wghT6Eb5XRu95nHjgn9R3aQ4dL/zm2wyJpfxSmZLdC0=;\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "x-rp-server-mvid": [
          "8828a1fd-9d7b-4b2f-af6f-9535e08f2ceb"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/resourceGroups/signalr-test-rg-ps6082/providers/Microsoft.SignalRService/SignalR/signalr-test-ps2197/regenerateKey?api-version=2018-03-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyType\": \"Primary\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"N7PQd8ZXzqNWvyrWletNgUiCyFc0QT8UXU3/GqmAodg=\",\r\n  \"secondaryKey\": \"wghT6Eb5XRu95nHjgn9R3aQ4dL/zm2wyJpfxSmZLdC0=\",\r\n  \"primaryConnectionString\": \"Endpoint=https://signalr-test-ps2197.service.signalr.net;AccessKey=N7PQd8ZXzqNWvyrWletNgUiCyFc0QT8UXU3/GqmAodg=;\",\r\n  \"secondaryConnectionString\": \"Endpoint=https://signalr-test-ps2197.service.signalr.net;AccessKey=wghT6Eb5XRu95nHjgn9R3aQ4dL/zm2wyJpfxSmZLdC0=;\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "x-rp-server-mvid": [
          "8828a1fd-9d7b-4b2f-af6f-9535e08f2ceb"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/resourceGroups/signalr-test-rg-ps6082/providers/Microsoft.SignalRService/locations/eastus/operationResults/bf8f35a8-86c1-43d3-a09c-28ad0c726dcb/SignalR/signalr-test-ps2197?api-version=2018-03-01-preview"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/resourcegroups/signalr-test-rg-ps6082?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TSUdOQUxSOjJEVEVTVDoyRFJHOjJEUFM2MDgyLUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-09-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TSUdOQUxSOjJEVEVTVDoyRFJHOjJEUFM2MDgyLUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TSUdOQUxSOjJEVEVTVDoyRFJHOjJEUFM2MDgyLUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-09-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/2085065b-00f8-4cba-9675-ba15f4d4ab66/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TSUdOQUxSOjJEVEVTVDoyRFJHOjJEUFM2MDgyLUVBU1RVUyIsImpvYkxvY2F0aW9uIjoiZWFzdHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-AzureRmSignalRWithDefaultArgs": [
      "ps6082",
      "ps2197",
      "ps6349"
    ]
  },
  "Variables": {
    "SubscriptionId": "2085065b-00f8-4cba-9675-ba15f4d4ab66"
  }
}