{
  "Remove-AzDataMigrationToSqlVM+[NoContext]+Delete+$PUT+https://management.azure.com/subscriptions/f133ff51-53dc-4486-a487-47049d50ab9e/resourceGroups/DMSv2-TestRG/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/arvindp-sqlvm/providers/Microsoft.DataMigration/databaseMigrations/VmUnitTestTargetDb?api-version=2025-06-30+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/f133ff51-53dc-4486-a487-47049d50ab9e/resourceGroups/DMSv2-TestRG/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/arvindp-sqlvm/providers/Microsoft.DataMigration/databaseMigrations/VmUnitTestTargetDb?api-version=2025-06-30",
      "Content": "{\r\n  \"properties\": {\r\n    \"scope\": \"/subscriptions/f133ff51-53dc-4486-a487-47049d50ab9e/resourceGroups/tsum38RG/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/unitTest\",\r\n    \"migrationService\": \"/subscriptions/f133ff51-53dc-4486-a487-47049d50ab9e/resourceGroups/tsum38RG/providers/Microsoft.DataMigration/SqlMigrationServices/alias\",\r\n    \"sourceSqlConnection\": {\r\n      \"dataSource\": \"sampledomain.onmicrosoft.com\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"userName\": \"domainUserName\",\r\n      \"password\": \"domainPassword\"\r\n    },\r\n    \"sourceDatabaseName\": \"AdventureWorks\",\r\n    \"backupConfiguration\": {\r\n      \"sourceLocation\": {\r\n        \"fileShare\": {\r\n          \"path\": \"\\\\\\\\\\\\\\\\sampledomain.onmicrosoft.com\\\\\\\\SharedBackup\\\\\\\\tsuman\",\r\n          \"username\": \"domainUserName\",\r\n          \"password\": \"domainPassword\"\r\n        }\r\n      },\r\n      \"targetLocation\": {\r\n        \"storageAccountResourceId\": \"/subscriptions/f133ff51-53dc-4486-a487-47049d50ab9e/resourceGroups/aaskhan/providers/Microsoft.Storage/storageAccounts/aasimmigrationtest\",\r\n        \"accountKey\": \"AccountKey\"\r\n      }\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 400,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "799" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"error\":{\"code\":\"InvalidParameterValue\",\"message\":\"Invalid value provided for parameter \u0027Scope\u0027. Specify a valid parameter value.\"}}",
    }
  }
}