{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/enrollmentAccounts/455fd0a7-b04e-4a92-9e1b-d0650c8ba276/providers/Microsoft.Subscription/createSubscription?api-version=2019-10-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"displayName\": \"ps821\",\r\n  \"owners\": [],\r\n  \"offerType\": \"MS-AZR-0017P\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/providers/Microsoft.Subscription/subscriptionOperations/MmM1OWY5YTMtOTRlOC00YjI1LTk5MzQtZDU2ZmE1OWFkOWMz?api-version=2019-10-01-preview"
        ],
        "Retry-After": [
          "30"
        ],
        "x-gsm": [
          "1.0.0.0"
        ],
        "x-ms-ratelimit-remaining-tenant-resource-requests": [
          "499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/providers/Microsoft.Subscription/subscriptionOperations/MmM1OWY5YTMtOTRlOC00YjI1LTk5MzQtZDU2ZmE1OWFkOWMz?api-version=2019-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "x-gsm": [
          "1.0.0.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"subscriptionLink\": \"/subscriptions/2c59f9a3-94e8-4b25-9934-d56fa59ad9c3\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/providers/Microsoft.Subscription/subscriptionOperations/MmM1OWY5YTMtOTRlOC00YjI1LTk5MzQtZDU2ZmE1OWFkOWMz?api-version=2019-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "x-gsm": [
          "1.0.0.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"subscriptionLink\": \"/subscriptions/2c59f9a3-94e8-4b25-9934-d56fa59ad9c3\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-NewSubscription": [
      "ps821"
    ]
  },
  "Variables": {
    "SubscriptionId": "5b47c35e-863f-4c66-ba9f-52b9d0ced037"
  }
}