{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourcegroups/ps4833?api-version=2018-05-01",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourcegroups/ps4833?api-version=2018-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833\",\r\n  \"name\": \"ps4833\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Compute/availabilitySets/ps4833?api-version=2017-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\": 2,\r\n    \"platformFaultDomainCount\": 2\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Aligned\"\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1196"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\": 2,\r\n    \"platformFaultDomainCount\": 2\r\n  },\r\n  \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Compute/availabilitySets/ps4833\",\r\n  \"name\": \"ps4833\",\r\n  \"sku\": {\r\n    \"name\": \"Aligned\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Compute/images/Win2016Datacenter?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Compute/images/Win2016Datacenter' under resource group 'ps4833' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Compute/virtualMachines/ps4833?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Compute/virtualMachines/ps4833' under resource group 'ps4833' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Compute/virtualMachines/ps4833?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/LowCostGet3Min;3994,Microsoft.Compute/LowCostGet30Min;31961"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"vmId\": \"27909b1b-97d1-4614-8d11-8fb06dd9199b\",\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Compute/availabilitySets/PS4833\"\r\n    },\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2016-Datacenter\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"ps4833_OsDisk_1_7b121122b24b4d34a548e31480d0beb0\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n          \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Compute/disks/ps4833_OsDisk_1_7b121122b24b4d34a548e31480d0beb0\"\r\n        },\r\n        \"diskSizeGB\": 127\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"ps4833\",\r\n      \"adminUsername\": \"admin01\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": true\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/networkInterfaces/ps4833\"\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Compute/virtualMachines/ps4833\",\r\n  \"name\": \"ps4833\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Compute/availabilitySets/ps4833?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/LowCostGet3Min;3998,Microsoft.Compute/LowCostGet30Min;31969"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"platformUpdateDomainCount\": 2,\r\n    \"platformFaultDomainCount\": 2,\r\n    \"virtualMachines\": []\r\n  },\r\n  \"type\": \"Microsoft.Compute/availabilitySets\",\r\n  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Compute/availabilitySets/ps4833\",\r\n  \"name\": \"ps4833\",\r\n  \"sku\": {\r\n    \"name\": \"Aligned\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/networkInterfaces/ps4833?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/ps4833' under resource group 'ps4833' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/networkInterfaces/ps4833?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"03b726e4-25bb-476b-b120-a6f491785131\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps4833\",\r\n  \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/networkInterfaces/ps4833\",\r\n  \"etag\": \"W/\\\"03b726e4-25bb-476b-b120-a6f491785131\\\"\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"266519c3-2f35-4033-84a8-880a677e267e\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ps4833\",\r\n        \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/networkInterfaces/ps4833/ipConfigurations/ps4833\",\r\n        \"etag\": \"W/\\\"03b726e4-25bb-476b-b120-a6f491785131\\\"\",\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"192.168.1.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/publicIPAddresses/ps4833\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/virtualNetworks/ps4833/subnets/ps4833\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"ts5pkcssbnpelegpcrronrbtde.bx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/networkSecurityGroups/ps4833\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/publicIPAddresses/ps4833?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps4833' under resource group 'ps4833' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/publicIPAddresses/ps4833?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"25d2f6ae-5d41-47ad-b8fa-b3b052be6cee\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps4833\",\r\n  \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/publicIPAddresses/ps4833\",\r\n  \"etag\": \"W/\\\"25d2f6ae-5d41-47ad-b8fa-b3b052be6cee\\\"\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"ec7ffcc7-da5f-42b7-b809-1e427ba2cd9f\",\r\n    \"ipAddress\": \"52.224.217.95\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"ps4833-ps4833\",\r\n      \"fqdn\": \"ps4833-ps4833.eastus.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/virtualNetworks/ps4833?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps4833' under resource group 'ps4833' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/virtualNetworks/ps4833?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"0475ca98-fe12-46e6-8eec-054ddbe50416\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps4833\",\r\n  \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/virtualNetworks/ps4833\",\r\n  \"etag\": \"W/\\\"0475ca98-fe12-46e6-8eec-054ddbe50416\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"0af5be9c-0b52-455e-90cf-1462e6c4331c\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"192.168.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps4833\",\r\n        \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/virtualNetworks/ps4833/subnets/ps4833\",\r\n        \"etag\": \"W/\\\"0475ca98-fe12-46e6-8eec-054ddbe50416\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"192.168.1.0/24\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/networkSecurityGroups/ps4833?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkSecurityGroups/ps4833' under resource group 'ps4833' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/networkSecurityGroups/ps4833?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"9c56c34c-47a9-493e-886e-a7aaa485aa5a\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps4833\",\r\n  \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/networkSecurityGroups/ps4833\",\r\n  \"etag\": \"W/\\\"9c56c34c-47a9-493e-886e-a7aaa485aa5a\\\"\",\r\n  \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"7b280cec-5daf-4338-9e86-fdc3d0f84e61\",\r\n    \"securityRules\": [\r\n      {\r\n        \"name\": \"ps48333389\",\r\n        \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/networkSecurityGroups/ps4833/securityRules/ps48333389\",\r\n        \"etag\": \"W/\\\"9c56c34c-47a9-493e-886e-a7aaa485aa5a\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/securityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"3389\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 1000,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"ps48335985\",\r\n        \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/networkSecurityGroups/ps4833/securityRules/ps48335985\",\r\n        \"etag\": \"W/\\\"9c56c34c-47a9-493e-886e-a7aaa485aa5a\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/securityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"5985\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 1001,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      }\r\n    ],\r\n    \"defaultSecurityRules\": [\r\n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/networkSecurityGroups/ps4833/defaultSecurityRules/AllowVnetInBound\",\r\n        \"etag\": \"W/\\\"9c56c34c-47a9-493e-886e-a7aaa485aa5a\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\",\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\": \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"[...]
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/networkSecurityGroups/ps4833?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"securityRules\": [\r\n      {\r\n        \"properties\": {\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"3389\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 1000,\r\n          \"direction\": \"Inbound\"\r\n        },\r\n        \"name\": \"ps48333389\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"protocol\": \"Tcp\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"5985\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\": \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 1001,\r\n          \"direction\": \"Inbound\"\r\n        },\r\n        \"name\": \"ps48335985\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/providers/Microsoft.Network/locations/eastus/operations/0d8247c0-cb00-4b29-b365-b1435a7630e5?api-version=2017-10-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps4833\",\r\n  \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9b[...]
[...]
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/providers/Microsoft.Network/locations/eastus/operations/75243451-8f9d-4ec5-857f-ac4908bcf6d7?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "2"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Compute/virtualMachines/ps4833?api-version=2017-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2016-Datacenter\",\r\n        \"version\": \"latest\"\r\n      }\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"ps4833\",\r\n      \"adminUsername\": \"admin01\",\r\n      \"adminPassword\": \"werWER345#%^\",\r\n      \"windowsConfiguration\": {}\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Network/networkInterfaces/ps4833\"\r\n        }\r\n      ]\r\n    },\r\n    \"availabilitySet\": {\r\n      \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourceGroups/ps4833/providers/Microsoft.Compute/availabilitySets/ps4833\"\r\n    }\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/providers/Microsoft.Compute/locations/eastus/operations/409dd536-897e-4c08-b195-5f7c9f7da07c?api-version=2017-12-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;238,Microsoft.Compute/PutVM30Min;1195"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"vmId\": \"27909b1b-97d1-4614-8d11-8fb06dd9199b\",\r\n    \"availabilitySet\": {\r\n      \"id\": \[...]
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/providers/Microsoft.Compute/locations/eastus/operations/409dd536-897e-4c08-b195-5f7c9f7da07c?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "70"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14997,Microsoft.Compute/GetOperation30Min;29953"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2019-03-29T07:25:30.8794533-07:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"409dd536-897e-4c08-b195-5f7c9f7da07c\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/providers/Microsoft.Compute/locations/eastus/operations/409dd536-897e-4c08-b195-5f7c9f7da07c?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14985,Microsoft.Compute/GetOperation30Min;29940"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2019-03-29T07:25:30.8794533-07:00\",\r\n  \"endTime\": \"2019-03-29T07:30:11.3638209-07:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"409dd536-897e-4c08-b195-5f7c9f7da07c\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/resourcegroups/ps4833?api-version=2018-05-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzQ4MzMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2018-05-01"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzQ4MzMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzQ4MzMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2018-05-01"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzQ4MzMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11978"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-SimpleNewVmWithAvailabilitySet": [
      "ps4833"
    ]
  },
  "Variables": {
    "SubscriptionId": "7dec1fd6-2e45-4798-9be5-efba704319b4"
  }
}