{
  "Entries": [
    {
      "RequestUri": "/pools?api-version=2021-06-01.14.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"removenodepool\",\r\n  \"vmSize\": \"standard_d1_v2\",\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"osVersion\": \"*\"\r\n  },\r\n  \"targetDedicatedNodes\": 2,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableInterNodeCommunication\": true\r\n}",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 27 Aug 2021 16:24:48 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D969772FE80CC3"
        ],
        "Location": [
          "https://mikeportal.eastus.batch.azure.com/pools/removenodepool"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://mikeportal.eastus.batch.azure.com/pools/removenodepool"
        ],
        "Last-Modified": [
          "Fri, 27 Aug 2021 16:24:47 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/pools/removenodepool?api-version=2021-06-01.14.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 27 Aug 2021 16:24:48 GMT"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D969772FE80CC3"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Fri, 27 Aug 2021 16:24:47 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://mikeportal.eastus.batch.azure.com/$metadata#pools/@Element\",\r\n  \"id\": \"removenodepool\",\r\n  \"url\": \"https://mikeportal.eastus.batch.azure.com/pools/removenodepool\",\r\n  \"eTag\": \"0x8D969772FE80CC3\",\r\n  \"lastModified\": \"2021-08-27T16:24:47.5397315Z\",\r\n  \"creationTime\": \"2021-08-27T16:24:47.5397315Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2021-08-27T16:24:47.5397315Z\",\r\n  \"allocationState\": \"resizing\",\r\n  \"allocationStateTransitionTime\": \"2021-08-27T16:24:47.5397315Z\",\r\n  \"vmSize\": \"standard_d1_v2\",\r\n  \"resizeTimeout\": \"PT15M\",\r\n  \"currentDedicatedNodes\": 0,\r\n  \"targetDedicatedNodes\": 2,\r\n  \"currentLowPriorityNodes\": 0,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableAutoScale\": false,\r\n  \"enableInterNodeCommunication\": true,\r\n  \"taskSlotsPerNode\": 1,\r\n  \"taskSchedulingPolicy\": {\r\n    \"nodeFillType\": \"Spread\"\r\n  },\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"osVersion\": \"*\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/removenodepool/nodes?api-version=2021-06-01.14.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 27 Aug 2021 16:26:25 GMT"
        ]
      },
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://mikeportal.eastus.batch.azure.com/$metadata#nodes\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"tvmps_1a54c16fd71fbf22007483648992e2077ade0e66b76aa74d080696499cb95812_d\",\r\n      \"url\": \"https://mikeportal.eastus.batch.azure.com/pools/removenodepool/nodes/tvmps_1a54c16fd71fbf22007483648992e2077ade0e66b76aa74d080696499cb95812_d\",\r\n      \"state\": \"creating\",\r\n      \"schedulingState\": \"enabled\",\r\n      \"stateTransitionTime\": \"2021-08-27T16:26:21.6599375Z\",\r\n      \"allocationTime\": \"2021-08-27T16:26:21.6599375Z\",\r\n      \"ipAddress\": \"10.218.0.4\",\r\n      \"affinityId\": \"TVM:tvmps_1a54c16fd71fbf22007483648992e2077ade0e66b76aa74d080696499cb95812_d\",\r\n      \"vmSize\": \"standard_d1_v2\",\r\n      \"totalTasksRun\": 0,\r\n      \"totalTasksSucceeded\": 0,\r\n      \"runningTasksCount\": 0,\r\n      \"runningTaskSlotsCount\": 0,\r\n      \"isDedicated\": true,\r\n      \"endpointConfiguration\": {\r\n        \"inboundEndpoints\": [\r\n          {\r\n            \"name\": \"Microsoft.WindowsAzure.Plugins.RemoteForwarder.RdpInput\",\r\n            \"protocol\": \"tcp\",\r\n            \"frontendPort\": 3389,\r\n            \"backendPort\": 20000\r\n          }\r\n        ]\r\n      },\r\n      \"virtualMachineInfo\": {}\r\n    },\r\n    {\r\n      \"id\": \"tvmps_616813b017ea95e95afa28e793d040ba1123bd35fbb524375188b0a7d34879c7_d\",\r\n      \"url\": \"https://mikeportal.eastus.batch.azure.com/pools/removenodepool/nodes/tvmps_616813b017ea95e95afa28e793d040ba1123bd35fbb524375188b0a7d34879c7_d\",\r\n      \"state\": \"creating\",\r\n      \"schedulingState\": \"enabled\",\r\n      \"stateTransitionTime\": \"2021-08-27T16:26:21.6609379Z\",\r\n      \"allocationTime\": \"2021-08-27T16:26:21.6609379Z\",\r\n      \"ipAddress\": \"10.218.0.5\",\r\n      \"affinityId\": \"TVM:tvmps_616813b017ea95e95afa28e793d040ba1123bd35fbb524375188b0a7d34879c7_d\",\r\n      \"vmSize\": \"standard_d1_v2\",\r\n      \"totalTasksRun\": 0,\r\n      \"totalTasksSucceeded\": 0,\r\n      \"runningTasksCount\": 0,\r\n      \"runningTaskSlotsCount\": 0,\r\n      \"isDedicated\": true,\r\n      \"endpointConfiguration\": {\r\n        \"inboundEndpoints\": [\r\n          {\r\n            \"name\": \"Microsoft.WindowsAzure.Plugins.RemoteForwarder.RdpInput\",\r\n            \"protocol\": \"tcp\",\r\n            \"frontendPort\": 3389,\r\n            \"backendPort\": 20000\r\n          }\r\n        ]\r\n      },\r\n      \"virtualMachineInfo\": {}\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/removenodepool/removenodes?api-version=2021-06-01.14.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"nodeList\": [\r\n    \"tvmps_1a54c16fd71fbf22007483648992e2077ade0e66b76aa74d080696499cb95812_d\",\r\n    \"tvmps_616813b017ea95e95afa28e793d040ba1123bd35fbb524375188b0a7d34879c7_d\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 27 Aug 2021 16:26:25 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "0x8D9697769FE3C4A"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://mikeportal.eastus.batch.azure.com/pools/removenodepool/removenodes"
        ],
        "Last-Modified": [
          "Fri, 27 Aug 2021 16:26:24 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/pools/removenodepool/nodes?api-version=2021-06-01.14.0&$select=id%2Cstate",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 27 Aug 2021 16:26:26 GMT"
        ]
      },
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://mikeportal.eastus.batch.azure.com/$metadata#nodes\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"tvmps_1a54c16fd71fbf22007483648992e2077ade0e66b76aa74d080696499cb95812_d\",\r\n      \"state\": \"creating\",\r\n      \"virtualMachineInfo\": {}\r\n    },\r\n    {\r\n      \"id\": \"tvmps_616813b017ea95e95afa28e793d040ba1123bd35fbb524375188b0a7d34879c7_d\",\r\n      \"state\": \"creating\",\r\n      \"virtualMachineInfo\": {}\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/removenodepool?api-version=2021-06-01.14.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 27 Aug 2021 16:26:41 GMT"
        ]
      },
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "ba2358c2-42f2-4138-88df-7c68cf608bea",
    "AZURE_BATCH_ACCOUNT": "mikeportal",
    "AZURE_BATCH_ENDPOINT": "https://mikeportal.eastus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "batchportal"
  }
}