{
  "Entries": [
    {
      "RequestUri": "/pools/testPool/nodes?api-version=2021-06-01.14.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 27 Aug 2021 16:22:42 GMT"
        ]
      },
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://mikeportal.eastus.batch.azure.com/$metadata#nodes\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"tvmps_06e333efaab6a295eddf31ab64af1beb132de30da2619fab68431dcc2a5e0c4f_d\",\r\n      \"url\": \"https://mikeportal.eastus.batch.azure.com/pools/testPool/nodes/tvmps_06e333efaab6a295eddf31ab64af1beb132de30da2619fab68431dcc2a5e0c4f_d\",\r\n      \"state\": \"rebooting\",\r\n      \"schedulingState\": \"enabled\",\r\n      \"stateTransitionTime\": \"2021-08-27T16:22:38.7947452Z\",\r\n      \"lastBootTime\": \"2021-08-27T01:31:49.00627Z\",\r\n      \"allocationTime\": \"2021-08-27T01:30:23.4794868Z\",\r\n      \"ipAddress\": \"10.218.0.4\",\r\n      \"affinityId\": \"TVM:tvmps_06e333efaab6a295eddf31ab64af1beb132de30da2619fab68431dcc2a5e0c4f_d\",\r\n      \"vmSize\": \"standard_d1_v2\",\r\n      \"totalTasksRun\": 1,\r\n      \"totalTasksSucceeded\": 1,\r\n      \"runningTasksCount\": 0,\r\n      \"runningTaskSlotsCount\": 0,\r\n      \"recentTasks\": [\r\n        {\r\n          \"taskUrl\": \"https://mikeportal.eastus.batch.azure.com/jobs/createTaskCollectionJob/tasks/simple1\",\r\n          \"jobId\": \"createTaskCollectionJob\",\r\n          \"taskId\": \"simple1\",\r\n          \"taskState\": \"completed\",\r\n          \"executionInfo\": {\r\n            \"startTime\": \"2021-08-27T16:08:33.02231Z\",\r\n            \"endTime\": \"2021-08-27T16:08:33.069198Z\",\r\n            \"exitCode\": 0,\r\n            \"result\": \"success\",\r\n            \"retryCount\": 0,\r\n            \"requeueCount\": 0\r\n          }\r\n        }\r\n      ],\r\n      \"startTask\": {\r\n        \"commandLine\": \"cmd /c echo hello\",\r\n        \"userIdentity\": {\r\n          \"autoUser\": {\r\n            \"scope\": \"pool\",\r\n            \"elevationLevel\": \"nonadmin\"\r\n          }\r\n        },\r\n        \"maxTaskRetryCount\": 0,\r\n        \"waitForSuccess\": true\r\n      },\r\n      \"startTaskInfo\": {\r\n        \"state\": \"completed\",\r\n        \"startTime\": \"2021-08-27T01:31:49.459393Z\",\r\n        \"endTime\": \"2021-08-27T01:31:49.521897Z\",\r\n        \"exitCode\": 0,\r\n        \"result\": \"success\",\r\n        \"retryCount\": 0\r\n      },\r\n      \"certificateReferences\": [],\r\n      \"isDedicated\": true,\r\n      \"endpointConfiguration\": {\r\n        \"inboundEndpoints\": [\r\n          {\r\n            \"name\": \"Microsoft.WindowsAzure.Plugins.RemoteForwarder.RdpInput\",\r\n            \"protocol\": \"tcp\",\r\n            \"frontendPort\": 3389,\r\n            \"backendPort\": 20000\r\n          }\r\n        ]\r\n      },\r\n      \"nodeAgentInfo\": {\r\n        \"lastUpdateTime\": \"2021-08-27T01:31:49.00627Z\",\r\n        \"version\": \"1.9.14\"\r\n      },\r\n      \"virtualMachineInfo\": {}\r\n    },\r\n    {\r\n      \"id\": \"tvmps_4109062b0e8548c8f8e8341010d95a7f915aa2dbcbf46cd71183db0d156bec9b_d\",\r\n      \"url\": \"https://mikeportal.eastus.batch.azure.com/pools/testPool/nodes/tvmps_4109062b0e8548c8f8e8341010d95a7f915aa2dbcbf46cd71183db0d156bec9b_d\",\r\n      \"state\": \"reimaging\",\r\n      \"schedulingState\": \"enabled\",\r\n      \"stateTransitionTime\": \"2021-08-27T16:22:39.0627482Z\",\r\n      \"lastBootTime\": \"2021-08-27T01:31:49.004852Z\",\r\n      \"alloca[...]
    {
      "RequestUri": "/pools/testPool/nodes/tvmps_06e333efaab6a295eddf31ab64af1beb132de30da2619fab68431dcc2a5e0c4f_d?api-version=2021-06-01.14.0&$select=id%2Cstate",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 27 Aug 2021 16:22:42 GMT"
        ]
      },
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://mikeportal.eastus.batch.azure.com/$metadata#nodes/@Element\",\r\n  \"id\": \"tvmps_06e333efaab6a295eddf31ab64af1beb132de30da2619fab68431dcc2a5e0c4f_d\",\r\n  \"state\": \"rebooting\",\r\n  \"virtualMachineInfo\": {}\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/testPool/nodes/tvmps_06e333efaab6a295eddf31ab64af1beb132de30da2619fab68431dcc2a5e0c4f_d?api-version=2021-06-01.14.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 27 Aug 2021 16:24:45 GMT"
        ]
      },
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
 [...]
    {
      "RequestUri": "/pools/testPool/nodes/tvmps_06e333efaab6a295eddf31ab64af1beb132de30da2619fab68431dcc2a5e0c4f_d/disablescheduling?api-version=2021-06-01.14.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"nodeDisableSchedulingOption\": \"terminate\"\r\n}",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 27 Aug 2021 16:24:45 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://mikeportal.eastus.batch.azure.com/pools/testPool/nodes/tvmps_06e333efaab6a295eddf31ab64af1beb132de30da2619fab68431dcc2a5e0c4f_d/disablescheduling"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/testPool/nodes/tvmps_06e333efaab6a295eddf31ab64af1beb132de30da2619fab68431dcc2a5e0c4f_d?api-version=2021-06-01.14.0&$select=id%2CschedulingState",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 27 Aug 2021 16:24:45 GMT"
        ]
      },
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://mikeportal.eastus.batch.azure.com/$metadata#nodes/@Element\",\r\n  \"id\": \"tvmps_06e333efaab6a295eddf31ab64af1beb132de30da2619fab68431dcc2a5e0c4f_d\",\r\n  \"schedulingState\": \"disabled\",\r\n  \"virtualMachineInfo\": {}\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/testPool/nodes/tvmps_06e333efaab6a295eddf31ab64af1beb132de30da2619fab68431dcc2a5e0c4f_d/enablescheduling?api-version=2021-06-01.14.0",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 27 Aug 2021 16:24:45 GMT"
        ]
      },
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://mikeportal.eastus.batch.azure.com/pools/testPool/nodes/tvmps_06e333efaab6a295eddf31ab64af1beb132de30da2619fab68431dcc2a5e0c4f_d/enablescheduling"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "ba2358c2-42f2-4138-88df-7c68cf608bea",
    "AZURE_BATCH_ACCOUNT": "mikeportal",
    "AZURE_BATCH_ENDPOINT": "https://mikeportal.eastus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "batchportal"
  }
}