{
  "Entries": [
    {
      "RequestUri": "/pools?api-version=2022-10-01.16.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 05 Dec 2022 17:58:40 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"id\": \"removenodepool\",\r\n  \"vmSize\": \"standard_d1_v2\",\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"osVersion\": \"*\"\r\n  },\r\n  \"targetDedicatedNodes\": 2,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableInterNodeCommunication\": true,\r\n  \"targetNodeCommunicationMode\": \"classic\"\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "0x8DAD6EA575C6914"
        ],
        "Location": [
          "https://mikebatcheast.eastus.batch.azure.com/pools/removenodepool"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://mikebatcheast.eastus.batch.azure.com/pools/removenodepool"
        ],
        "Last-Modified": [
          "Mon, 05 Dec 2022 17:58:40 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/pools/removenodepool?api-version=2022-10-01.16.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 05 Dec 2022 17:58:41 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "0x8DAD6EA575C6914"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Mon, 05 Dec 2022 17:58:40 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://mikebatcheast.eastus.batch.azure.com/$metadata#pools/@Element\",\r\n  \"id\": \"removenodepool\",\r\n  \"url\": \"https://mikebatcheast.eastus.batch.azure.com/pools/removenodepool\",\r\n  \"eTag\": \"0x8DAD6EA575C6914\",\r\n  \"lastModified\": \"2022-12-05T17:58:40.2711828Z\",\r\n  \"creationTime\": \"2022-12-05T17:58:40.2711828Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2022-12-05T17:58:40.2711828Z\",\r\n  \"allocationState\": \"resizing\",\r\n  \"allocationStateTransitionTime\": \"2022-12-05T17:58:40.2711828Z\",\r\n  \"vmSize\": \"standard_d1_v2\",\r\n  \"resizeTimeout\": \"PT15M\",\r\n  \"currentDedicatedNodes\": 0,\r\n  \"targetDedicatedNodes\": 2,\r\n  \"currentLowPriorityNodes\": 0,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableAutoScale\": false,\r\n  \"enableInterNodeCommunication\": true,\r\n  \"taskSlotsPerNode\": 1,\r\n  \"taskSchedulingPolicy\": {\r\n    \"nodeFillType\": \"Spread\"\r\n  },\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"osVersion\": \"*\"\r\n  },\r\n  \"targetNodeCommunicationMode\": \"classic\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/removenodepool/nodes?api-version=2022-10-01.16.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 05 Dec 2022 18:02:41 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://mikebatcheast.eastus.batch.azure.com/$metadata#nodes\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"tvmps_0bdd26dd66c3b174a7c168a86ca40eabffc9f0cb5d4334d01c8e77dcb9de72ea_d\",\r\n      \"url\": \"https://mikebatcheast.eastus.batch.azure.com/pools/removenodepool/nodes/tvmps_0bdd26dd66c3b174a7c168a86ca40eabffc9f0cb5d4334d01c8e77dcb9de72ea_d\",\r\n      \"state\": \"creating\",\r\n      \"schedulingState\": \"enabled\",\r\n      \"stateTransitionTime\": \"2022-12-05T18:02:36.1626999Z\",\r\n      \"allocationTime\": \"2022-12-05T18:02:36.1626999Z\",\r\n      \"ipAddress\": \"10.218.0.5\",\r\n      \"affinityId\": \"TVM:tvmps_0bdd26dd66c3b174a7c168a86ca40eabffc9f0cb5d4334d01c8e77dcb9de72ea_d\",\r\n      \"vmSize\": \"standard_d1_v2\",\r\n      \"totalTasksRun\": 0,\r\n      \"totalTasksSucceeded\": 0,\r\n      \"runningTasksCount\": 0,\r\n      \"runningTaskSlotsCount\": 0,\r\n      \"isDedicated\": true,\r\n      \"endpointConfiguration\": {\r\n        \"inboundEndpoints\": [\r\n          {\r\n            \"name\": \"Microsoft.WindowsAzure.Plugins.RemoteForwarder.RdpInput\",\r\n            \"protocol\": \"tcp\",\r\n            \"frontendPort\": 3389,\r\n            \"backendPort\": 20000\r\n          }\r\n        ]\r\n      },\r\n      \"virtualMachineInfo\": {}\r\n    },\r\n    {\r\n      \"id\": \"tvmps_abd80991a6e854a147a149ccc572cfcfb5e16158eb83a4390df50c15f81b5f0f_d\",\r\n      \"url\": \"https://mikebatcheast.eastus.batch.azure.com/pools/removenodepool/nodes/tvmps_abd80991a6e854a147a149ccc572cfcfb5e16158eb83a4390df50c15f81b5f0f_d\",\r\n      \"state\": \"creating\",\r\n      \"schedulingState\": \"enabled\",\r\n      \"stateTransitionTime\": \"2022-12-05T18:02:36.1626999Z\",\r\n      \"allocationTime\": \"2022-12-05T18:02:36.1626999Z\",\r\n      \"ipAddress\": \"10.218.0.4\",\r\n      \"affinityId\": \"TVM:tvmps_abd80991a6e854a147a149ccc572cfcfb5e16158eb83a4390df50c15f81b5f0f_d\",\r\n      \"vmSize\": \"standard_d1_v2\",\r\n      \"totalTasksRun\": 0,\r\n      \"totalTasksSucceeded\": 0,\r\n      \"runningTasksCount\": 0,\r\n      \"runningTaskSlotsCount\": 0,\r\n      \"isDedicated\": true,\r\n      \"endpointConfiguration\": {\r\n        \"inboundEndpoints\": [\r\n          {\r\n            \"name\": \"Microsoft.WindowsAzure.Plugins.RemoteForwarder.RdpInput\",\r\n            \"protocol\": \"tcp\",\r\n            \"frontendPort\": 3389,\r\n            \"backendPort\": 20000\r\n          }\r\n        ]\r\n      },\r\n      \"virtualMachineInfo\": {}\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/removenodepool/removenodes?api-version=2022-10-01.16.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 05 Dec 2022 18:02:42 GMT"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"nodeList\": [\r\n    \"tvmps_0bdd26dd66c3b174a7c168a86ca40eabffc9f0cb5d4334d01c8e77dcb9de72ea_d\",\r\n    \"tvmps_abd80991a6e854a147a149ccc572cfcfb5e16158eb83a4390df50c15f81b5f0f_d\"\r\n  ]\r\n}",
      "ResponseHeaders": {
        "ETag": [
          "0x8DAD6EAE70BF2D2"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://mikebatcheast.eastus.batch.azure.com/pools/removenodepool/removenodes"
        ],
        "Last-Modified": [
          "Mon, 05 Dec 2022 18:02:41 GMT"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/pools/removenodepool/nodes?api-version=2022-10-01.16.0&$select=id%2Cstate",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 05 Dec 2022 18:02:42 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://mikebatcheast.eastus.batch.azure.com/$metadata#nodes\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"tvmps_0bdd26dd66c3b174a7c168a86ca40eabffc9f0cb5d4334d01c8e77dcb9de72ea_d\",\r\n      \"state\": \"creating\",\r\n      \"virtualMachineInfo\": {}\r\n    },\r\n    {\r\n      \"id\": \"tvmps_abd80991a6e854a147a149ccc572cfcfb5e16158eb83a4390df50c15f81b5f0f_d\",\r\n      \"state\": \"creating\",\r\n      \"virtualMachineInfo\": {}\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/removenodepool?api-version=2022-10-01.16.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 05 Dec 2022 18:03:27 GMT"
        ]
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "67e11b19-95f8-4d96-a472-5f626c5445ec",
    "AZURE_BATCH_ACCOUNT": "mikebatcheast",
    "AZURE_BATCH_ENDPOINT": "https://mikebatcheast.eastus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "mikeazure"
  }
}