{
  "[NoDescription]+[NoContext]+List+$GET+https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/skus?api-version=2024-04-13+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/skus?api-version=2024-04-13",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "40" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"resourceType\":\"clusters\",\"name\":\"Dev(No SLA)_Standard_D11_v2\",\"tier\":\"Basic\",\"locations\":[\"australiacentral\"],\"locationInfo\":[{\"location\":\"australiacentral\",\"zones\":[],\"zoneDetails\":[]}],\"restrictions\":[]},{\"resourceType\":\"clusters\",\"name\":\"Dev(No SLA)_Standard_D11_v2\",\"tier\":\"Basic\",\"locations\":[\"australiaeast\"],\"locationInfo\":[{\"location\":\"australiaeast\",\"zones\":[\"3\",\"1\",\"2\"],\"zoneDetails\":[]}],\"restrictions\":[]},{\"resourceType\":\"clusters\",\"name\":\"Dev(No SLA)_Standard_D11_v2\",\"tier\":\"Basic\",\"locations\":[\"australiasoutheast\"],\"locationInfo\":[{\"location\":\"australiasoutheast\",\"zones\":[],\"zoneDetails\":[]}],\"restrictions\":[]},{\"resour[...]
