{
  "[NoDescription]+[NoContext]+List+$POST+https://management.azure.com/subscriptions/0c302431-1ad0-4187-87c9-d4cebcf7edc2/resourceGroups/PWSH-SDK-sloc4i/providers/Microsoft.Kusto/Clusters/pssdksloc4i/Databases/TestDb/listPrincipals?api-version=2024-04-13+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/0c302431-1ad0-4187-87c9-d4cebcf7edc2/resourceGroups/PWSH-SDK-sloc4i/providers/Microsoft.Kusto/Clusters/pssdksloc4i/Databases/TestDb/listPrincipals?api-version=2024-04-13",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "135" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "199" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"name\":\"Jia Seng Law (Centific Technologies Inc) (v-jiasenglaw_microsoft.com#EXT#@azclitools20260430.onmicrosoft.com)\",\"role\":\"Admin\",\"type\":\"User\",\"fqn\":\"aaduser=de9050dc-ffd4-444c-b113-b94ad83e7559;544a7a2e-697f-487c-b2b0-a13df7f346b6\",\"email\":\"v-jiasenglaw@microsoft.com\",\"appId\":\"\",\"tenantName\":\"Azure Client Tools 2026-04-30\"},{\"name\":\"KustoTestPrincipal-sloc4i\",\"role\":\"Admin\",\"type\":\"App\",\"fqn\":\"aadapp=609982ee-9c2e-4d6d-ad0b-f54bbe0d394b;544a7a2e-697f-487c-b2b0-a13df7f346b6\",\"email\":\"\",\"appId\":\"609982ee-9c2e-4d6d-ad0b-f54bbe0d394b\",\"tenantName\":\"Azure Client Tools 2026-04-30\"}]}",
    }
  }
}