{
  "[NoDescription]+[NoContext]+RemoveExpanded+$POST+https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/PWSH-SDK-xnefmp/providers/Microsoft.Kusto/Clusters/pssdkxnefmp/Databases/TestDb/listPrincipals?api-version=2024-04-13+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/PWSH-SDK-xnefmp/providers/Microsoft.Kusto/Clusters/pssdkxnefmp/Databases/TestDb/listPrincipals?api-version=2024-04-13",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "446" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "799" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"name\":\"Ran Houdine (ranhoudine@microsoft.com)\",\"role\":\"Admin\",\"type\":\"User\",\"fqn\":\"aaduser=0a6b1d4f-b679-4c5d-b7f8-8c4c13adb618;72f988bf-86f1-41af-91ab-2d7cd011db47\",\"email\":\"ranhoudine@microsoft.com\",\"appId\":\"\",\"tenantName\":\"Microsoft\"},{\"name\":\"rpe2euser\",\"role\":\"Admin\",\"type\":\"App\",\"fqn\":\"aadapp=3c5cd8d1-b5a2-41e9-b592-533bc0a146d0;72f988bf-86f1-41af-91ab-2d7cd011db47\",\"email\":\"\",\"appId\":\"3c5cd8d1-b5a2-41e9-b592-533bc0a146d0\",\"tenantName\":\"Microsoft\"},{\"name\":\"rpe2euser\",\"role\":\"Viewer\",\"type\":\"App\",\"fqn\":\"aadapp=3c5cd8d1-b5a2-41e9-b592-533bc0a146d0;72f988bf-86f1-41af-91ab-2d7cd011db47\",\"email\":\"\",\"appId\":\"3c5cd8d1-b5a2-41e9-b592-533bc0a146d0\",\"tenantName\":\[...]
