{
  "[NoDescription]+[NoContext]+CheckExpanded+$POST+https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East US/checkNameAvailability?api-version=2023-08-15+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East%20US/checkNameAvailability?api-version=2023-08-15",
      "Content": "{\r\n  \"name\": \"pssdk3w8cj7\",\r\n  \"type\": \"Microsoft.Kusto/clusters\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1192" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"name\":\"pssdk3w8cj7\",\"nameAvailable\":false,\"message\":\"Name \u0027pssdk3w8cj7\u0027 with type Engine is already taken. Please specify a different name\"}",
    }
  }
}