{
  "Get-AzDeviceRegistryAsset+[NoContext]+List+$PUT+https://management.azure.com/subscriptions/efb15086-3322-405d-a9d0-c35715a9b722/resourceGroups/adr-pwsh-test-rg/providers/Microsoft.DeviceRegistry/assets/test-asset-list1?api-version=2025-10-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/efb15086-3322-405d-a9d0-c35715a9b722/resourceGroups/adr-pwsh-test-rg/providers/Microsoft.DeviceRegistry/assets/test-asset-list1?api-version=2025-10-01",
      "Content": "{\n  \"location\": \"eastus2\",\n  \"properties\": {\n    \"assetEndpointProfileRef\": \"myAssetEndpointProfile\"\n  },\n  \"extendedLocation\": {\n    \"type\": \"CustomLocation\",\n    \"name\": \"/subscriptions/efb15086-3322-405d-a9d0-c35715a9b722/resourceGroups/adr-pwsh-test-rg/providers/Microsoft.ExtendedLocation/customLocations/location-mkzkq\"\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"30013cf3-0000-0200-0000-688081ac0000\"" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "f0e6a3ad-74b9-45f4-9130-f51a60945d5e" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/efb15086-3322-405d-a9d0-c35715a9b722/providers/Microsoft.DeviceRegistry/locations/EASTUS2/operationStatuses/f8e1f74e-2f5c-4dd9-ba78-048785d3494b*F2705B3B1D9C2519112A0790204E1D134F51140274B2DE172538E6513087D394?api-version=2025-10-01\u0026t=638888490682527225\u0026c=MIIHhzCCBm-gAwIBAgITfAh_EjM5CPJ1HOWmNAAACH8SMzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNzE3MDk0NTA0WhcNMjY[...]
