{
  "Get-AzDeviceRegistryBillingContainer+[NoContext]+List+$GET+https://management.azure.com/subscriptions/53cd450b-b108-4e6e-b048-f63c1dcc8c8f/providers/Microsoft.DeviceRegistry/billingContainers?api-version=2026-03-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/53cd450b-b108-4e6e-b048-f63c1dcc8c8f/providers/Microsoft.DeviceRegistry/billingContainers?api-version=2026-03-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/53cd450b-b108-4e6e-b048-f63c1dcc8c8f/providers/Microsoft.DeviceRegistry/billingContainers/adr-billing\",\"name\":\"adr-billing\",\"type\":\"microsoft.deviceregistry/billingcontainers\",\"etag\":\"\\\"3600c979-0000-0500-0000-6841fe510000\\\"\",\"systemData\":{\"createdBy\":\"6ce3f5ab-5f16-4633-a660-21ceb8d74c01\",\"createdByType\":\"Application\",\"createdAt\":\"2025-06-05T20:30:07.6386228Z\",\"lastModifiedBy\":\"6ce3f5ab-5f16-4633-a660-21ceb8d74c01\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2025-06-05T20:30:07.8148108Z\"},\"properties\":{\"provisioningState\":\"Succeeded\"}}]}",
    }
  },
  "Get-AzDeviceRegistryBillingContainer+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/53cd450b-b108-4e6e-b048-f63c1dcc8c8f/providers/Microsoft.DeviceRegistry/billingContainers/adr-billing?api-version=2026-03-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/53cd450b-b108-4e6e-b048-f63c1dcc8c8f/providers/Microsoft.DeviceRegistry/billingContainers/adr-billing?api-version=2026-03-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"3600c979-0000-0500-0000-6841fe510000\"" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/53cd450b-b108-4e6e-b048-f63c1dcc8c8f/providers/Microsoft.DeviceRegistry/billingContainers/adr-billing\",\"name\":[...]
