{
  "New-AzDeviceRegistryNamespace+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/efb15086-3322-405d-a9d0-c35715a9b722/resourceGroups/adr-pwsh-test-rg/providers/Microsoft.DeviceRegistry/namespaces/test-namespace-create-expanded1?api-version=2025-10-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/efb15086-3322-405d-a9d0-c35715a9b722/resourceGroups/adr-pwsh-test-rg/providers/Microsoft.DeviceRegistry/namespaces/test-namespace-create-expanded1?api-version=2025-10-01",
      "Content": "{\n  \"location\": \"eastus2\",\n  \"properties\": {\n    \"messaging\": {\n      \"endpoints\": {\n        \"myendpoint2\": {\n          \"endpointType\": \"Microsoft.Devices/IotHubs\",\n          \"address\": \"https://myendpoint2.westeurope-1.iothub.azure.net\",\n          \"resourceId\": \"/subscriptions/efb15086-3322-405d-a9d0-c35715a9b722/resourceGroups/adr-pwsh-test-rg/providers/Microsoft.IotHub/namespaces/contoso-hub-namespace2\"\n        },\n        \"myendpoint1\": {\n          \"endpointType\": \"Microsoft.Devices/IotHubs\",\n          \"address\": \"https://myendpoint1.westeurope-1.iothub.azure.net\",\n          \"resourceId\": \"/subscriptions/efb15086-3322-405d-a9d0-c35715a9b722/resourceGroups/adr-pwsh-test-rg/providers/Microsoft.IotHub/namespaces/contoso-hub-namespace1\"\n        }\n      }\n    }\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"0000ff52-0000-0200-0000-687f5c6d0000\"" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "81838ba3-0a58-4d45-9cc3-3cd3ae6be1d4" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/efb15086-3322-405d-a9d0-c35715a9b722/resourceGroups/adr-pwsh-test-rg/providers/Microsoft.DeviceRegistry/namespaces/test-namespace-create-expanded1\",\"name\":\"test-namespace-create-expanded1\",\"type\":\"microsoft.deviceregistry/namespaces\",\"location\":\"eastus2\",\"systemData\":{\"createdBy\":\"rylo@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-07-22T07:48:52.4682531Z\",\"lastModifiedBy\":\"rylo@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2025-07-22T09:39:56.8586277Z\"},\"properties\":{\"messaging\":{\"endpoints\":{\"myendpoint2\":{\"resourceId\":\"/subscriptions/efb15086-3322-405d-a9d0-c35715a9b722/resourceGroups/adr-pwsh-test-rg/providers/Microsoft.IotHub/namespaces/contoso-hub-namespace2\",\"address\":\"https://myendpoint2.westeurope-1.iothub.azure.net\",\"endpointType\":\"Microsoft.Devices/IotHubs\"},\"myendpoint1\":{\"resourceId\":\"/subscriptions/efb15086-3322-405d-a9d0-c35715a9b722/resourceGroups/adr-pwsh-test-rg/providers/Microsoft.IotHub/namespaces/contoso-hub-namespace1\",\"address\":\"https://myendpoint1.westeurope-1.iothub.azure.net\",\"endpointType\":\"Microsoft.Devices/IotHubs\"}}},\"uuid\":\"984d6eda-3d05-4f59-89aa-1821c05102b8\",\"provisioningState\":\"Succeeded\"}}",
    }
  },
  "New-AzDeviceRegistryNamespace+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/efb15086-3322-405d-a9d0-c35715a9b722/resourceGroups/adr-pwsh-test-rg/providers/Microsoft.DeviceRegistry/namespaces/test-namespace-create-expanded1?api-version=2025-10-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/efb15086-3322-405d-a9d0-c35715a9b722/resourceGroups/adr-pwsh-test-rg/providers/Microsoft.DeviceRegistry/namespaces/test-namespace-create-expanded1?api-version=2025-10-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"0000ff52-0000-0200-0000-687f5c6d0000\"" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "249" ],
        "x-ms-providerhub-traffic": [ "True" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/efb15086-3322-405d-a9d0-c35715a9b722/reso[...]
