{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/providers/Microsoft.Resources?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/providers/Microsoft.Resources\",\n  \"namespace\": \"Microsoft.Resources\",\n  \"authorizations\": [\n    {\n      \"applicationId\": \"3b990c8b-9607-4c2a-8b04-1d41985facca\"\n    },\n    {\n      \"applicationId\": \"f77c2a8f-8a0a-4776-8e0a-bcb2549610ca\"\n    }\n  ],\n  \"resourceTypes\": [\n    {\n      \"resourceType\": \"changes\",\n      \"locations\": [],\n      \"apiVersions\": [\n        \"2024-06-01-preview\",\n        \"2023-07-01-preview\",\n        \"2023-03-01-preview\",\n        \"2022-05-01\",\n        \"2022-03-01-preview\"\n      ],\n      \"capabilities\": \"SupportsExtension\"\n    },\n    {\n      \"resourceType\": \"snapshots\",\n      \"locations\": [],\n      \"apiVersions\": [\n        \"2022-11-01-preview\"\n      ],\n      \"capabilities\": \"SupportsExtension\"\n    },\n    {\n      \"resourceType\": \"deploymentScripts\",\n      \"locations\": [\n        \"East Asia\",\n        \"Southeast Asia\",\n        \"Austria East\",\n        \"Australia East\",\n        \"Australia Central\",\n        \"Australia Central 2\",\n        \"Australi[...]
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/providers/Microsoft.KeyVault?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/providers/Microsoft.KeyVault\",\n  \"namespace\": \"Microsoft.KeyVault\",\n  \"authorizations\": [\n    {\n      \"applicationId\": \"cfa8b339-82a2-471a-a3c9-0fc0be7a4093\",\n      \"roleDefinitionId\": \"1cf9858a-28a2-4228-abba-94e606305b95\"\n    },\n    {\n      \"applicationId\": \"589d5083-6f11-4d30-a62a-a4b316a14abf\",\n      \"roleDefinitionId\": \"1f7e9952-ea79-42b8-a90e-b2dabbe1c1f2\"\n    },\n    {\n      \"applicationId\": \"a1b76039-a76c-499f-a2dd-846b4cc32627\"\n    },\n    {\n      \"applicationId\": \"1341df96-0b28-43da-ba24-7a6ce39be816\"\n    }\n  ],\n  \"resourceTypes\": [\n    {\n      \"resourceType\": \"vaults\",\n      \"locations\": [\n        \"North Central US\",\n    [...]
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resourcegroups/ps3889?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\n  \"location\": \"West US\"\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resourceGroups/ps3889\",\n  \"name\": \"ps3889\",\n  \"location\": \"westus\",\n  \"properties\": {\n    \"provisioningState\": \"Succeeded\"\n  }\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resources?$filter=resourceType%20eq%20'Microsoft.KeyVault%2Fvaults'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": []\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resources?$filter=resourceType%20eq%20'Microsoft.KeyVault%2Fvaults'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resourceGroups/ps3889/providers/Microsoft.KeyVault/vaults/ps1074\",\n      \"name\": \"ps1074\",\n      \"type\": \"Microsoft.KeyVault/vaults\",\n      \"location\": \"westus\",\n      \"tags\": {}\n    }\n  ]\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resources?$filter=resourceType%20eq%20'Microsoft.KeyVault%2Fvaults'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resourceGroups/ps3889/providers/Microsoft.KeyVault/vaults/ps1074\",\n      \"name\": \"ps1074\",\n      \"type\": \"Microsoft.KeyVault/vaults\",\n      \"location\": \"westus\",\n      \"tags\": {}\n    },\n    {\n      \"id\": \"/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resourceGroups/ps3889/providers/Microsoft.KeyVault/vaults/ps815\",\n      \"name\": \"ps815\",\n      \"type\": \"Microsoft.KeyVault/vaults\",\n      \"location\": \"westus\",\n      \"tags\": {\n        \"abcdefg\": \"bcdefgh\"\n      }\n    }\n  ]\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/v1.0/me",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ags-diagnostic": [
          "{\"ServerInfo\":{\"DataCenter\":\"Australia East\",\"Slice\":\"E\",\"Ring\":\"5\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"SY2PEPF00002E3F\"}}"
        ],
        "x-ms-resource-unit": [
          "1"
        ],
        "OData-Version": [
          "4.0"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"@odata.context\": \"https://graph.microsoft.com/v1.0/$metadata#users/$entity\",\n  \"businessPhones\": [],\n  \"displayName\": \"Yash Patil\",\n  \"givenName\": null,\n  \"jobTitle\": null,\n  \"mail\": \"patilyash@microsoft.com\",\n  \"mobilePhone\": null,\n  \"officeLocation\": null,\n  \"preferredLanguage\": null,\n  \"surname\": null,\n  \"userPrincipalName\": \"patilyash_microsoft.com#EXT#@azclitools20260720.onmicrosoft.com\",\n  \"id\": \"bb83257d-f1d0-412f-85a2-22c2b259e928\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resourceGroups/ps3889/providers/Microsoft.KeyVault/vaults/ps1074?api-version=2026-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\n  \"location\": \"West US\",\n  \"properties\": {\n    \"tenantId\": \"4f00b3b6-2940-4f2c-b037-94637c180d30\",\n    \"sku\": {\n      \"name\": \"standard\",\n      \"family\": \"A\"\n    },\n    \"accessPolicies\": [\n      {\n        \"tenantId\": \"4f00b3b6-2940-4f2c-b037-94637c180d30\",\n        \"objectId\": \"bb83257d-f1d0-412f-85a2-22c2b259e928\",\n        \"permissions\": {\n          \"keys\": [\n            \"all\"\n          ],\n          \"secrets\": [\n            \"all\"\n          ],\n          \"certificates\": [\n            \"all\"\n          ],\n          \"storage\": [\n            \"all\"\n          ]\n        }\n      }\n    ],\n    \"vaultUri\": \"\",\n    \"enableSoftDelete\": true,\n    \"softDeleteRetentionInDays\": 90,\n    \"enableRbacAuthorization\": true,\n    \"networkAcls\": {\n      \"bypass\": \"AzureServices\",\n      \"defaultAction\": \"Allow\"\n    }\n  }\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resourceGroups/ps3889/providers/Microsoft.KeyVault/vaults/ps1074\",\n  \"name\": \"ps1074\",\n  \"type\": \"Microsoft.KeyVault/vaults\",\n  \"location\": \"West US\",\n  \"tags\": {},\n  \"systemData\": {\n    \"createdBy\": \"patilyash@microsoft.com\",\n    \"createdByType\": \"User\",\n    \"createdAt\": \"2026-08-13T17:45:57.604Z\",\n    \"lastModifiedBy\": \"patilyash@microsoft.com\",\n    \"lastModifiedByType\": \"User\",\n    \"lastModifiedAt\": \"2026-08-13T17:45:57.604Z\"\n  },\n  \"properties\": {\n    \"sku\": {\n      \"family\": \"A\",\n      \"name\": \"standard\"\n    },\n    \"tenantId\": \"4f00b3b6-2940-4f2c-b037-94637c180d30\",\n    \"accessPolicies\": [\n      {\n        \"tenantId\": \"4f00b3b6-2940-4f2c-b037-94637c180d30\",\n        \"objectId\": \"bb83257d-f1d0-412f-85a2-22c2b259e928\",\n        \"permissions\": {\n          \"keys\": [\n            \"all\"\n          ],\n          \"secrets\": [\n            \"all\"\n          ],\n          \"certificates\": [\n            \"all\"\n          ],\n          \"storage\": [\n            \"all\"\n          ]\n        }\n      }\n    ],\n    \"enabledForDeployment\": false,\n    \"enabledForDiskEncryption\": false,\n    \"enabledForTemplateDeployment\": false,\n    \"enableSoftDelete\": true,\n    \"softDeleteRetentionInDays\": 90,\n    \"enableRbacAuthorization\": true,\n    \"vaultUri\": \"https://ps1074.vault.azure.net\",\n    \"provisioningState\": \"RegisteringDns\",\n    \"publicNetworkAccess\": \"Enabled\"\n  }\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/v1.0/directoryObjects/bb83257d-f1d0-412f-85a2-22c2b259e928",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ags-diagnostic": [
          "{\"ServerInfo\":{\"DataCenter\":\"Australia East\",\"Slice\":\"E\",\"Ring\":\"5\",\"ScaleUnit\":\"002\",\"RoleInstance\":\"SY2PEPF00002E3F\"}}"
        ],
        "x-ms-resource-unit": [
          "1"
        ],
        "OData-Version": [
          "4.0"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"@odata.context\": \"https://graph.microsoft.com/v1.0/$metadata#directoryObjects/$entity\",\n  \"@odata.type\": \"#microsoft.graph.user\",\n  \"id\": \"bb83257d-f1d0-412f-85a2-22c2b259e928\",\n  \"businessPhones\": [],\n  \"displayName\": \"Yash Patil\",\n  \"givenName\": null,\n  \"jobTitle\": null,\n  \"mail\": \"patilyash@microsoft.com\",\n  \"mobilePhone\": null,\n  \"officeLocation\": null,\n  \"preferredLanguage\": null,\n  \"surname\": null,\n  \"userPrincipalName\": \"patilyash_microsoft.com#EXT#@azclitools20260720.onmicrosoft.com\"\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resourceGroups/ps3889/resources?$filter=resourceType%20eq%20'Microsoft.KeyVault%2Fvaults'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"value\": [\n    {\n      \"id\": \"/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resourceGroups/ps3889/providers/Microsoft.KeyVault/vaults/ps1074\",\n      \"name\": \"ps1074\",\n      \"type\": \"Microsoft.KeyVault/vaults\",\n      \"location\": \"westus\",\n      \"tags\": {}\n    },\n    {\n      \"id\": \"/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resourceGroups/ps3889/providers/Microsoft.KeyVault/vaults/ps815\",\n      \"name\": \"ps815\",\n      \"type\": \"Microsoft.KeyVault/vaults\",\n      \"location\": \"westus\",\n      \"tags\": {\n        \"abcdefg\": \"bcdefgh\"\n      }\n    }\n  ]\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resourceGroups/ps3285/resources?$filter=resourceType%20eq%20'Microsoft.KeyVault%2Fvaults'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\n  \"error\": {\n    \"code\": \"ResourceGroupNotFound\",\n    \"message\": \"Resource group 'ps3285' could not be found.\"\n  }\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/resourcegroups/ps3889?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzM4ODktV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMiLCJqb2JTdG9yYWdlQWNjb3VudCI6Ii9jc20vc3RvcmFnZWFjY291bnRzL2dsb2JhbC9ycGZkbGpvYjAwcHJvZGJ5MDEifQ?api-version=2016-09-01&t=639222400419965170&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMTE2[...]
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzM4ODktV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMiLCJqb2JTdG9yYWdlQWNjb3VudCI6Ii9jc20vc3RvcmFnZWFjY291bnRzL2dsb2JhbC9ycGZkbGpvYjAwcHJvZGJ5MDEifQ?api-version=2016-09-01&t=639222400419965170&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMTE2NTU0MVoXDTI3MDI[...]
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzM4ODktV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMiLCJqb2JTdG9yYWdlQWNjb3VudCI6Ii9jc20vc3RvcmFnZWFjY291bnRzL2dsb2JhbC9ycGZkbGpvYjAwcHJvZGJ5MDEifQ?api-version=2016-09-01&t=639222400579922849&c=MIIIJzCCBw-gAwIBAgIRAP6hYiF_Dzq5w1_0AMe4nPwwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV0NVUyBDQSAwMTAeFw0yNjA0MTAwNzExMzRaFw0yNjE[...]
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzM4ODktV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMiLCJqb2JTdG9yYWdlQWNjb3VudCI6Ii9jc20vc3RvcmFnZWFjY291bnRzL2dsb2JhbC9ycGZkbGpvYjAwcHJvZGJ5MDEifQ?api-version=2016-09-01&t=639222400740579155&c=MIIIJzCCBw-gAwIBAgIRAP6hYiF_Dzq5w1_0AMe4nPwwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV0NVUyBDQSAwMTAeFw0yNjA0MTAwNzExMzRaFw0yNjE[...]
    {
      "RequestUri": "/subscriptions/f758ac53-3e63-4317-a956-0997793808d7/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzM4ODktV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMiLCJqb2JTdG9yYWdlQWNjb3VudCI6Ii9jc20vc3RvcmFnZWFjY291bnRzL2dsb2JhbC9ycGZkbGpvYjAwcHJvZGJ5MDEifQ?api-version=2016-09-01&t=639222400900439091&c=MIIIJzCCBw-gAwIBAgIRAP6hYiF_Dzq5w1_0AMe4nPwwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV0NVUyBDQSAwMTAeFw0yNjA0MTAwNzExMzRaFw0yNjE[...]
[...]
