{
  "AzHealthcareFhirService+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstestgroup-eus2/providers/Microsoft.HealthcareApis/workspaces/mtz9gq/fhirservices/egp40u?api-version=2021-11-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstestgroup-eus2/providers/Microsoft.HealthcareApis/workspaces/mtz9gq/fhirservices/egp40u?api-version=2021-11-01",
      "Content": "{\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"authenticationConfiguration\": {\r\n      \"authority\": \"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"audience\": \"https://azpshcws-egp40u.fhir.azurehealthcareapis.com\"\r\n    }\r\n  },\r\n  \"kind\": \"fhir-R4\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"23011c64-0000-0400-0000-626b8d770000\"" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HealthcareApis/locations/eastus2/operationresults/5v09tvde38b9gag032136lz35?api-version=2021-11-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1184" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstestgroup-eus2/providers/Microsoft.HealthcareApis/workspaces/mtz9gq/fhirservices/egp40u\",\"name\":\"mtz9gq/egp40u\",\"type\":\"Microsoft.HealthcareApis/workspaces/fhirservices\",\"etag\":\"\\\"23011c64-0000-0400-0000-626b8d770000\\\"\",\"location\":\"eastus2\",\"kind\":\"fhir-R4\",\"properties\":{\"accessPolicies\":[],\"acrConfiguration\":{\"loginServers\":[]},\"authenticationConfiguration\":{\"authority\":\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\",\"audience\":\"https://azpshcws-egp40u.fhir.azurehealthcareapis.com\",\"smartProxyEnabled\":false},\"corsConfiguration\":{\"origins\":[],\"headers\":[],\"methods\":[],\"allowCredentials\":false},\"exportConfiguration\":{},\"resourceVersionPolicyConfiguration\":{\"default\":\"versioned\"},\"eventState\":\"Disabled\",\"privateEndpointConnections\":[],\"publicNetworkAccess\":\"Enabled\",\"provisioningState\":\"Creating\"}}",
    }
  },
  "AzHealthcareFhirService+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HealthcareApis/locations/eastus2/operationresults/5v09tvde38b9gag032136lz35?api-version=2021-11-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HealthcareApis/locations/eastus2/operationresults/5v09tvde38b9gag032136lz35?api-version=2021-11-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "168" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11853" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HealthcareApis/locations/eastus2/operationresults/5v09tvde38b9gag032136lz35\",\"name\":\"5v09tvde38b9gag032136lz35\",\"status\":\"Running\",\"startTime\":\"2022-04-29T07:02:15.2171086Z\"}",
    }
  },
  "AzHealthcareFhirService+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HealthcareApis/locations/eastus2/operationresults/5v09tvde38b9gag032136lz35?api-version=2021-11-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HealthcareApis/locations/eas[...]
