{
  "AzHealthcareIotConnectorFhirDestination+[NoContext]+CreateExpanded1+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstestgroup-eus2/providers/Microsoft.HealthcareApis/workspaces/ax2qzb/iotconnectors/xuez6r/fhirdestinations/v0276w?api-version=2021-11-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstestgroup-eus2/providers/Microsoft.HealthcareApis/workspaces/ax2qzb/iotconnectors/xuez6r/fhirdestinations/v0276w?api-version=2021-11-01",
      "Content": "{\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"fhirMapping\": {\r\n      \"content\": {\r\n        \"templateType\": \"CollectionFhirTemplate\",\r\n        \"template\": [ ]\r\n      }\r\n    },\r\n    \"resourceIdentityResolutionType\": \"Create\",\r\n    \"fhirServiceResourceId\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstestgroup-eus2/providers/Microsoft.HealthcareApis/workspaces/ax2qzb/fhirservices/wq9m2j\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"cf00625b-0000-0400-0000-6242fe580000\"" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HealthcareApis/locations/eastus2/operationresults/lwnkosymdnylu86z25vr3y7gs?api-version=2021-11-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1183" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstestgroup-eus2/providers/Microsoft.HealthcareApis/workspaces/ax2qzb/iotconnectors/xuez6r/fhirdestinations/v0276w\",\"name\":\"ax2qzb/xuez6r/v0276w\",\"type\":\"Microsoft.HealthcareApis/workspaces/iotconnectors/fhirdestinations\",\"etag\":\"\\\"cf00625b-0000-0400-0000-6242fe580000\\\"\",\"location\":\"eastus2\",\"properties\":{\"resourceIdentityResolutionType\":\"Create\",\"fhirServiceResourceId\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstestgroup-eus2/providers/Microsoft.HealthcareApis/workspaces/ax2qzb/fhirservices/wq9m2j\",\"fhirMapping\":{\"content\":{\"templateType\":\"CollectionFhirTemplate\",\"template\":[]}},\"provisioningState\":\"Creating\"}}",
    }
  },
  "AzHealthcareIotConnectorFhirDestination+[NoContext]+CreateExpanded1+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HealthcareApis/locations/eastus2/operationresults/lwnkosymdnylu86z25vr3y7gs?api-version=2021-11-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HealthcareApis/locations/eastus2/operationresults/lwnkosymdnylu86z25vr3y7gs?api-version=2021-11-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "290" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11848" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HealthcareApis/locations/eastus2/operationresults/lwnkosymdnylu86z25vr3y7gs\",\"name\":\"lwnkosymdnylu86z25vr3y7gs\",\"status\":\"Succeeded\",\"startTime\":\"2022-03-29T12:40:56.2577837Z\"}",
    }
  },
  "AzHealthcareIotConnectorFhirDestination+[NoContext]+CreateExpanded1+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/azpstestgroup-eus2/providers/Microsoft.HealthcareApis/workspaces/ax2qzb/iotconnectors/xuez6r/fhirdestinations/v0276w?api-version=2021-11-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02a[...]
