{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/testCarrier/providers/Microsoft.Peering/peerings?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "597"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Basic_Exchange_Free\",\r\n        \"tier\": \"Basic\",\r\n        \"family\": \"Exchange\",\r\n        \"size\": \"Free\"\r\n      },\r\n      \"kind\": \"Exchange\",\r\n      \"properties\": {\r\n        \"exchange\": {\r\n          \"connections\": [\r\n            {\r\n              \"peeringDBFacilityId\": 87,\r\n              \"connectionState\": \"None\",\r\n              \"bgpSession\": {\r\n                \"sessionPrefixV4\": \"193.178.185.0/24\",\r\n                \"sessionPrefixV6\": \"2001:7f8:19:1::/64\",\r\n                \"microsoftSessionIPv4Address\": \"193.178.185.84\",\r\n                \"peerSessionIPv4Address\": \"193.178.185.95\",\r\n                \"peerSessionIPv6Address\": \"193.178.185.112/32\",\r\n                \"sessionStateV4\": \"None\",\r\n                \"sessionStateV6\": \"None\",\r\n                \"maxPrefixesAdvertisedV4\": 4299,\r\n                \"maxPrefixesAdvertisedV6\": 1586,\r\n                \"md5AuthenticationKey\": \"5668daa01dcafdfba3c3acbdee31dfa2\"\r\n              },\r\n              \"connectionIdentifier\": \"a6882593-4423-4427-8673-57aafef28581\"\r\n            },\r\n            {\r\n              \"peeringDBFacilityId\": 87,\r\n              \"connectionState\": \"None\",\r\n              \"bgpSession\": {\r\n                \"sessionPrefixV4\": \"193.178.185.0/24\",\r\n                \"sessionPrefixV6\": \"2001:7f8:19:1::/64\",\r\n                \"microsoftSessionIPv4Address\": \"193.178.185.104\",\r\n                \"peerSessionIPv4Address\": \"193.178.185.95\",\r\n                \"peerSes[...]
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/testCarrier/providers/Microsoft.Peering/peerings/LegacyConvertExchange6948?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic_Exchange_Free\",\r\n    \"tier\": \"Basic\",\r\n    \"family\": \"Exchange\",\r\n    \"size\": \"Free\"\r\n  },\r\n  \"kind\": \"Exchange\",\r\n  \"properties\": {\r\n    \"exchange\": {\r\n      \"conne[...]
