{
  "Entries": [
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/providers/Microsoft.Sql?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/providers/Microsoft.Sql\",\r\n  \"namespace\": \"Microsoft.Sql\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"e4ab13ed-33cb-41b4-9140-6e264582cf85\",\r\n      \"roleDefinitionId\": \"ec3ddc95-44dc-47a2-9926-5e9f5ffd44ec\"\r\n    },\r\n    {\r\n      \"applicationId\": \"0130cc9f-7ac5-4026-bd5f-80a08a54e6d9\",\r\n      \"roleDefinitionId\": \"45e8abf8-0ec4-44f3-9c37-cff4f7779302\"\r\n    },\r\n    {\r\n      \"applicationId\": \"76cd24bf-a9fc-4344-b1dc-908275de6d6d\",\r\n      \"roleDefinitionId\": \"c13b7b9c-2ed1-4901-b8a8-16f35468da29\"\r\n    },\r\n    {\r\n      \"applicationId\": \"76c7f279-7959-468f-8943-3954880e0d8c\",\r\n      \"roleDefinitionId\": \"7f7513a8-73f9-4c5f-97a2-c41f0ea783ef\",\r\n      \"managedByRoleDefinitionId\": \"f2f79976-90be-4501-89c6-7caf12474683\"\r\n    },\r\n    {\r\n      \"applicationId\": \"022907d3-0f1b-48f7-badc-1ba6abab6d66\"\r\n    },\r\n    {\r\n      \"applicationId\": \"9c8b80bc-6887-42d0-b1af-d0c40f9bf1fa\"\r\n    },\r\n    {\r\n      \"applicationId\": \"ceecbdd6-288c-4be9-8445-74f139e5db19\",\r\n      \"roleDefinitionId\": \"fc2bd133-800a-4a15-b4aa-3c8b28179efe\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"operations\",\r\n      \"locations\": [\r\n        \"Australia Central\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Austria East\",\r\n        \"Belgium Central\",\r\n        \"Brazil South\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central India\",\r\n        \"Central US\",\r\n        \"Chile Central\",\r\n        \"Denmark East\",\r\n        \"East Asia\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"France Central\",\r\n        \"Germany West Central\",\r\n        \"Indonesia Central\",\r\n        \"Israel Central\",\r\n        \"Italy North\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"Malaysia West\",\r\n        \"Mexico Central\",\r\n        \"New Zealand North\",\r\n        \"North Central US\",\r\n        \"North Europe\",\r\n        \"Norway East\",\r\n        \"Poland Central\",\r\n        \"Qatar Central\",\r\n        \"South Africa North\",\r\n        \"South Central US\",\r\n        \"South India\",\r\n        \"Southeast Asia\",\r\n        \"Spain Central\",\r\n        \"Sweden Central\",\r\n        \"Switzerland North\",\r\n        \"UAE North\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"West Central US\",\r\n        \"West Europe\",\r\n        \"West India\",\r\n        \"West US\",\r\n        \"West US 2\",\r\n        \"West US 3\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2025-02-01-preview\",\r\n        \"2025-01-01\",\r\n        \"2024-11-01-preview\",\r\n        \"2024-08-01-preview\",\r\n        \"2024-05-01-preview\",\r\n        \"2023-08-01-preview\",\r\n        \"2023-08-01\",\r\n        \"2023-05-01-preview\",\r\n        \"2023-02-01-preview\",\r\n        \"2022-11-01-preview\",\r\n        \"2022-08-01-preview\",\r\n        \"2022-05-01-preview\",\r\n        \"2022-02-01-preview\",\r\n        \"2021-11-01-preview\",\r\n        \"2021-11-01[...]
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourcegroups/ps2829?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West US 3\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829\",\r\n  \"name\": \"ps2829\",\r\n  \"location\": \"westus3\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/ps4344' under resource group 'ps2829' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"ps4344.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"minimalTlsVersion\": \"1.2\",\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"restrictOutboundNetworkAccess\": \"Disabled\",\r\n    \"externalGovernanceStatus\": \"Disabled\",\r\n    \"retentionDays\": -1\r\n  },\r\n  \"location\": \"westus3\",\r\n  \"id\": \"/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344\",\r\n  \"name\": \"ps4344\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344?api-version=2024-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"Sanitized\",\r\n    \"minimalTlsVersion\": \"1.2\",\r\n    \"createMode\": \"Normal\"\r\n  },\r\n  \"location\": \"West US 3\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/locations/westus3/serverOperationResults/12a707a5-79e9-4cef-9018-44e9a57ecba4?api-version=2024-11-01-preview&t=639130858098306947&c=MIIIJjCCBw6gAwIBAgIQeSFTiJSpNPhyUgF82Ee0vTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDQwOTAyNDc1M1oXDTI2MTAwNDA4NDc1M1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2Vy[...]
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/locations/westus3/serverAzureAsyncOperation/12a707a5-79e9-4cef-9018-44e9a57ecba4?api-version=2024-11-01-preview&t=639130858098306947&c=MIIIJjCCBw6gAwIBAgIQeSFTiJSpNPhyUgF82Ee0vTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDQwOTAyNDc1M1oXDTI2MTAwNDA4NDc1M1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUu[...]
[...]
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/firewallRules/AllowAllAzureIPs?api-version=2023-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The requested resource of type 'Microsoft.Sql/servers/firewallRules' with name 'AllowAllAzureIPs' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/firewallRules/AllowAllAzureIPs?api-version=2023-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"startIpAddress\": \"0.0.0.0\",\r\n    \"endIpAddress\": \"0.0.0.0\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"startIpAddress\": \"0.0.0.0\",\r\n    \"endIpAddress\": \"0.0.0.0\"\r\n  },\r\n  \"id\": \"/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/firewallRules/AllowAllAzureIPs\",\r\n  \"name\": \"AllowAllAzureIPs\",\r\n  \"type\": \"Microsoft.Sql/servers/firewallRules\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/databases/ps1068?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/ps4344/databases/ps1068' under resource group 'ps2829' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/databases/ps1068?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 10\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 268435456000,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"8c7d46db-e178-46db-93f8-f20d9cfd537a\",\r\n    \"creationDate\": \"2026-04-29T18:58:44.353Z\",\r\n    \"currentServiceObjectiveName\": \"S0\",\r\n    \"requestedServiceObjectiveName\": \"S0\",\r\n    \"defaultSecondaryLocation\": \"eastus\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"readScale\": \"Disabled\",\r\n    \"currentSku\": {\r\n      \"name\": \"Standard\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 10\r\n    },\r\n    \"currentBackupStorageRedundancy\": \"Geo\",\r\n    \"requestedBackupStorageRedundancy\": \"Geo\",\r\n    \"maintenanceConfigurationId\": \"/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default\",\r\n    \"isLedgerOn\": false,\r\n    \"isInfraEncryptionEnabled\": false,\r\n    \"availabilityZone\": \"NoPreference\"\r\n  },\r\n  \"location\": \"westus3\",\r\n  \"id\": \"/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/databases/ps1068\",\r\n  \"name\": \"ps1068\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/databases/ps1068?api-version=2024-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"S0\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"maxSizeBytes\": 268435456000,\r\n    \"readScale\": \"\",\r\n    \"keys\": {}\r\n  },\r\n  \"location\": \"westus3\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/locations/westus3/databaseOperationResults/be47c0b1-f0b4-4bdf-8b79-261d7840fdc7?api-version=2024-11-01-preview&t=639130858790460331&c=MIIIJjCCBw6gAwIBAgIQeSFTiJSpNPhyUgF82Ee0vTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIE[...]
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/locations/westus3/databaseAzureAsyncOperation/be47c0b1-f0b4-4bdf-8b79-261d7840fdc7?api-version=2024-11-01-preview&t=639130858790304080&c=MIIIJjCCBw6gAwIBAgIQeSFTiJSpNPhyUgF82Ee0vTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDQwOTAyNDc1M1oXDTI2MTAwNDA4NDc1M1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdG[...]
[...]
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/ps4344/jobAgents/ps9730' under resource group 'ps2829' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/locations/westus3/jobAgentAzureAsyncOperation/ecab1afc-e010-457a-bd2f-4a516c035b7b?api-version=2023-05-01-preview&t=639130859262665591&c=MIIIJjCCBw6gAwIBAgIQeSFTiJSpNPhyUgF82Ee0vTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDQwOTAyNDc1M1oXDTI2MTAwNDA4NDc1M1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdG[...]
[...]
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/credentials/ps5873?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The requested resource of type 'Microsoft.Sql/servers/jobAgents/credentials' with name 'ps5873' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/credentials/ps5873?api-version=2023-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"username\": \"testusername\",\r\n    \"password\": \"Sanitized\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"username\": \"testusername\"\r\n  },\r\n  \"id\": \"/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/credentials/ps5873\",\r\n  \"name\": \"ps5873\",\r\n  \"type\": \"Microsoft.Sql/servers/jobAgents/credentials\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/targetGroups/ps6226?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The requested resource of type 'Microsoft.Sql/servers/jobAgents/targetGroups' with name 'ps6226' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/targetGroups/ps6226?api-version=2023-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"members\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"members\": []\r\n  },\r\n  \"id\": \"/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/targetGroups/ps6226\",\r\n  \"name\": \"ps6226\",\r\n  \"type\": \"Microsoft.Sql/servers/jobAgents/targetGroups\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/jobs/ps9921?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "248"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3748"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The requested resource of type 'Microsoft.Sql/servers/jobAgents/jobs' with name 'ps9921' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/jobs/ps9921?api-version=2023-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"schedule\": {\r\n      \"startTime\": \"2026-04-29T19:00:07.2817608Z\",\r\n      \"enabled\": false\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"description\": \"\",\r\n    \"version\": 0,\r\n    \"schedule\": {\r\n      \"startTime\": \"2026-04-29T19:00:07.2817608Z\",\r\n      \"endTime\": \"9999-12-31T11:59:59Z\",\r\n      \"type\": \"Once\",\r\n      \"enabled\": false\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/jobs/ps9921\",\r\n  \"name\": \"ps9921\",\r\n  \"type\": \"Microsoft.Sql/servers/jobAgents/jobs\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/jobs/ps9921/steps/ps7505?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "248"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3748"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The requested resource of type 'Microsoft.Sql/servers/jobAgents/jobs/steps' with name 'ps7505' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/jobs/ps9921/steps/ps7505?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"stepId\": 1,\r\n    \"targetGroup\": \"/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/targetGroups/ps6226\",\r\n    \"credential\": \"/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/credentials/ps5873\",\r\n    \"action\": {\r\n      \"type\": \"TSql\",\r\n      \"source\": \"Inline\",\r\n      \"value\": \"SELECT 1\"\r\n    },\r\n    \"executionOptions\": {\r\n      \"timeoutSeconds\": 43200,\r\n      \"retryAttempts\": 10,\r\n      \"initialRetryIntervalSeconds\": 1,\r\n      \"maximumRetryIntervalSeconds\": 120,\r\n      \"retryIntervalBackoffMultiplier\": 2.0\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/jobs/ps9921/steps/ps7505\",\r\n  \"name\": \"ps7505\",\r\n  \"type\": \"Microsoft.Sql/servers/jobAgents/jobs/steps\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/jobs/ps9921/steps/ps7505?api-version=2023-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "247"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3747"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"stepId\": 1,\r\n    \"targetGroup\": \"/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/targetGroups/ps5243\",\r\n    \"credential\": \"/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/credentials/ps4710\",\r\n    \"action\": {\r\n      \"type\": \"TSql\",\r\n      \"source\": \"Inline\",\r\n      \"value\": \"SELECT 2\"\r\n    },\r\n    \"output\": {\r\n      \"type\": \"SqlDatabase\",\r\n      \"subscriptionId\": \"491eb092-7930-4466-98cc-cd2899f25d1a\",\r\n      \"resourceGroupName\": \"ps2829\",\r\n      \"serverName\": \"ps4344\",\r\n      \"databaseName\": \"ps1068\",\r\n      \"schemaName\": \"schema1\",\r\n      \"tableName\": \"table1\",\r\n      \"credential\": \"/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/credentials/ps5873\"\r\n    },\r\n    \"executionOptions\": {\r\n      \"timeoutSeconds\": 43200,\r\n      \"retryAttempts\": 10,\r\n      \"initialRetryIntervalSeconds\": 1,\r\n      \"maximumRetryIntervalSeconds\": 120,\r\n      \"retryIntervalBackoffMultiplier\": 2.0\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/491eb092-7930-4466-98cc-cd2899f25d1a/resourceGroups/ps2829/providers/Microsoft.Sql/servers/ps4344/jobAgents/ps9730/jobs/ps9921/steps/ps7505\",\r\n  \"name\": \"ps7505\",\r\n  \"type\": \"Microsoft.Sql/servers/jobAgents/jobs/steps\"\r\n}",
      "StatusCode": 200
    },
[...]
