{
  "Entries": [
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ayang-rg/providers/Microsoft.Sql/locations/southeastasia/longTermRetentionServers/ayang-southeastasia/longTermRetentionDatabases/dbcopysource/longTermRetentionBackups?onlyLatestPerDatabase=false&api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"serverName\": \"ayang-southeastasia\",\r\n        \"serverCreateTime\": \"2020-09-14T18:57:08.7Z\",\r\n        \"databaseName\": \"dbcopysource\",\r\n        \"backupTime\": \"2021-03-16T05:48:48Z\",\r\n        \"backupExpirationTime\": \"2021-03-23T05:48:48Z\",\r\n        \"backupStorageRedundancy\": \"Local\"\r\n      },\r\n      \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ayang-rg/providers/Microsoft.Sql/locations/southeastasia/longTermRetentionServers/ayang-southeastasia/longTermRetentionDatabases/dbcopysource/longTermRetentionBackups/03eeba6a-4c60-412a-88b3-b9f8593349f8;132603473280000000\",\r\n      \"name\": \"03eeba6a-4c60-412a-88b3-b9f8593349f8;132603473280000000\",\r\n      \"type\": \"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ayang-rg/providers/Microsoft.Sql/servers/ayang-southeastasia?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"cloudSA\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"ayang-southeastasia.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ayang-rg/providers/Microsoft.Sql/servers/ayang-southeastasia\",\r\n  \"name\": \"ayang-southeastasia\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ayang-rg/providers/Microsoft.Sql/servers/ayang-southeastasia/databases/dbcopysource?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\",\r\n    \"capacity\": 5\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 2147483648,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"03eeba6a-4c60-412a-88b3-b9f8593349f8\",\r\n    \"creationDate\": \"2020-09-14T18:59:04.7Z\",\r\n    \"currentServiceObjectiveName\": \"Basic\",\r\n    \"requestedServiceObjectiveName\": \"Basic\",\r\n    \"defaultSecondaryLocation\": \"eastasia\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"earliestRestoreDate\": \"2021-03-10T00:00:00Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"currentSku\": {\r\n      \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"capacity\": 5\r\n    },\r\n    \"currentBackupStorageRedundancy\": \"Geo\",\r\n    \"requestedBackupStorageRedundancy\": \"Local\",\r\n    \"maintenanceConfigurationId\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default\"\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ayang-rg/providers/Microsoft.Sql/servers/ayang-southeastasia/databases/dbcopysource\",\r\n  \"name\": \"dbcopysource\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ayang-rg/providers/Microsoft.Sql/servers/ayang-southeastasia/databases/dbcopysource?api-version=2020-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"maxSizeBytes\": 0,\r\n    \"readScale\": \"Disabled\",\r\n    \"requestedBackupStorageRedundancy\": \"Local\"\r\n  },\r\n  \"location\": \"southeastasia\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ayang-rg/providers/Microsoft.Sql/locations/southeastasia/databaseOperationResults/73705741-2c4d-40cd-8925-e03f0fa6af5d?api-version=2020-11-01-preview"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ayang-rg/providers/Microsoft.Sql/locations/southeastasia/databaseAzureAsyncOperation/73705741-2c4d-40cd-8925-e03f0fa6af5d?api-version=2020-11-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpdateLogicalDatabase\",\r\n  \"startTime\": \"2021-03-17T06:51:50.223Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ayang-rg/providers/Microsoft.Sql/locations/southeastasia/databaseAzureAsyncOperation/73705741-2c4d-40cd-8925-e03f0fa6af5d?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"73705741-2c4d-40cd-8925-e03f0fa6af5d\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-03-17T06:51:50.223Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ayang-rg/providers/Microsoft.Sql/locations/southeastasia/longTermRetentionServers/ayang-southeastasia/longTermRetentionDatabases/dbcopysource/longTermRetentionBackups/03eeba6a-4c60-412a-88b3-b9f8593349f8%3B132603473280000000?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaini[...]
[...]
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ayang-rg/providers/Microsoft.Sql/locations/southeastasia/longTermRetentionServers/ayang-southeastasia/longTermRetentionDatabases/dbcopysource/longTermRetentionBackups/03eeba6a-4c60-412a-88b3-b9f8593349f8%3B132603473280000000/update?api-version=2020-11-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"requestedBackupStorageRedundancy\": \"Local\"\r\n  }\r[...]
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/providers/Microsoft.Sql/locations/southeastasia/longTermRetentionBackupAzureAsyncOperation/b9acb3cc-f38c-4cc4-9d27-cf8d8a6e3d0f?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"b9acb3cc-f38c-4cc4-9d27-cf8d8a6e3d0f\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-03-17T06:52:06.507Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/providers/Microsoft.Sql/locations/southeastasia/longTermRetentionBackupOperationResults/b9acb3cc-f38c-4cc4-9d27-cf8d8a6e3d0f?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"requestId\": \"b9acb3cc-f38c-4cc4-9d27-cf8d8a6e3d0f\",\r\n    \"operationType\": \"UpdateBackup\",\r\n    \"fromBackupResourceId\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ayang-rg/providers/Microsoft.Sql/locations/Southeast Asia/longTermRetentionServers/ayang-southeastasia/longTermRetentionDatabases/dbcopysource/longTermRetentionBackups/03eeba6a-4c60-412a-88b3-b9f8593349f8;132603473280000000\",\r\n    \"toBackupResourceId\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/providers/Microsoft.Sql/locations/Southeast Asia/longTermRetentionServers/ayang-southeastasia/longTermRetentionDatabases/dbcopysource/longTermRetentionBackups/03eeba6a-4c60-412a-88b3-b9f8593349f8;132603473280000000\",\r\n    \"targetBackupStorageRedundancy\": \"Local\",\r\n    \"status\": \"Succeeded\",\r\n    \"message\": \"Complete\"\r\n  },\r\n  \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/ayang-rg/providers/Microsoft.Sql/locations/Southeast Asia/longTermRetentionBackupOperationResults/b9acb3cc-f38c-4cc4-9d27-cf8d8a6e3d0f\",\r\n  \"name\": \"b9acb3cc-f38c-4cc4-9d27-cf8d8a6e3d0f\",\r\n  \"type\": \"Microsoft.Sql/locations/longTermRetentionBackupOperationResults\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "412b782d-2511-4c6d-98f2-3ea01b1c83c3"
  }
}