{
  "Entries": [
    {
      "RequestUri": "/subscriptions/01c4ec88-e179-44f7-9eb0-e9719a5087ab/providers/Microsoft.Sql/locations/eastasia/longTermRetentionBackups?onlyLatestPerDatabase=false&api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"serverName\": \"ayang-eas\",\r\n        \"serverCreateTime\": \"2021-01-28T08:54:24.823Z\",\r\n        \"databaseName\": \"ltr3\",\r\n        \"backupTime\": \"2021-02-21T14:02:40Z\",\r\n        \"backupExpirationTime\": \"2021-03-23T14:02:40Z\",\r\n        \"backupStorageRedundancy\": \"Geo\"\r\n      },\r\n      \"id\": \"/subscriptions/01c4ec88-e179-44f7-9eb0-e9719a5087ab/resourceGroups/testrg/providers/Microsoft.Sql/locations/eastasia/longTermRetentionServers/ayang-eas/longTermRetentionDatabases/ltr3/longTermRetentionBackups/b880d6cf-a2fe-48d6-8813-1fb2f53bdf9e;132583897600000000\",\r\n      \"name\": \"b880d6cf-a2fe-48d6-8813-1fb2f53bdf9e;132583897600000000\",\r\n      \"type\": \"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"serverName\": \"ayang-eas\",\r\n        \"serverCreateTime\": \"2021-01-28T08:54:24.823Z\",\r\n        \"databaseName\": \"ltr3\",\r\n        \"backupTime\": \"2021-02-28T14:08:52Z\",\r\n        \"backupExpirationTime\": \"2021-03-30T14:08:52Z\",\r\n        \"backupStorageRedundancy\": \"Geo\"\r\n      },\r\n      \"id\": \"/subscrip[...]
    {
      "RequestUri": "/subscriptions/01c4ec88-e179-44f7-9eb0-e9719a5087ab/resourceGroups/testrg/providers/Microsoft.Sql/locations/eastasia/longTermRetentionServers/ayang-eas/longTermRetentionDatabases/ltr3/longTermRetentionBackups/b880d6cf-a2fe-48d6-8813-1fb2f53bdf9e%3B132583897600000000/copy?api-version=2020-11-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"targetSubscriptionId\": \"01c4ec88-e179-44f7-9eb0-e9719a5087ab\",\r\n    \"targetResourceGroup\": \"testrg\",\r\n    \"targetServerResourceId\": \"/subscriptions/01c4ec88-e179-44f7-9eb0-e9719a5087ab/resourceGroups/testrg/providers/Microsoft.Sql/servers/ayang-stage-seas\",\r\n    \"targetDatabaseName\": \"tgt-ltr1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/01c4ec88-e179-44f7-9eb0-e9719a5087ab/providers/Microsoft.Sql/locations/eastasia/longTermRetentionBackupOperationResults/7aa806e8-4ac8-441a-9bbb-36809c1b6233?api-version=2020-11-01-preview"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/01c4ec88-e179-44f7-9eb0-e9719a5087ab/providers/Microsoft.Sql/locations/eastasia/longTermRetentionBackupAzureAsyncOperation/7aa806e8-4ac8-441a-9bbb-36809c1b6233?api-version=2020-11-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CopyBackup\",\r\n  \"startTime\": \"2021-03-17T07:19:11.64Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/01c4ec88-e179-44f7-9eb0-e9719a5087ab/providers/Microsoft.Sql/locations/eastasia/longTermRetentionBackupAzureAsyncOperation/7aa806e8-4ac8-441a-9bbb-36809c1b6233?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"7aa806e8-4ac8-441a-9bbb-36809c1b6233\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2021-03-17T07:19:11.64Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/01c4ec88-e179-44f7-9eb0-e9719a5087ab/providers/Microsoft.Sql/locations/eastasia/longTermRetentionBackupOperationResults/7aa806e8-4ac8-441a-9bbb-36809c1b6233?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"requestId\": \"7aa806e8-4ac8-441a-9bbb-36809c1b6233\",\r\n    \"operationType\": \"CopyBackup\",\r\n    \"fromBackupResourceId\": \"/subscriptions/01c4ec88-e179-44f7-9eb0-e9719a5087ab/resourceGroups/testrg/providers/Microsoft.Sql/locations/East Asia/longTermRetentionServers/ayang-eas/longTermRetentionDatabases/ltr3/longTermRetentionBackups/b880d6cf-a2fe-48d6-8813-1fb2f53bdf9e;132583897600000000\",\r\n    \"toBackupResourceId\": \"/subscriptions/01c4ec88-e179-44f7-9eb0-e9719a5087ab/resourceGroups/testrg/providers/Microsoft.Sql/locations/Southeast Asia/longTermRetentionServers/ayang-stage-seas/longTermRetentionDatabases/tgt-ltr1/longTermRetentionBackups/82e82850-f172-4726-9455-9aafaf8663bd;132583897600000000\",\r\n    \"status\": \"Succeeded\",\r\n    \"message\": \"Complete\"\r\n  },\r\n  \"id\": \"/subscriptions/01c4ec88-e179-44f7-9eb0-e9719a5087ab/resourceGroups/testrg/providers/Microsoft.Sql/locations/East Asia/longTermRetentionBackupOperationResults/7aa806e8-4ac8-441a-9bbb-36809c1b6233\",\r\n  \"name\": \"7aa806e8-4ac8-441a-9bbb-36809c1b6233\",\r\n  \"type\": \"Microsoft.Sql/locations/longTermRetentionBackupOperationResults\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/01c4ec88-e179-44f7-9eb0-e9719a5087ab/resourceGroups/testrg/providers/Microsoft.Sql/locations/eastasia/longTermRetentionServers/ayang-eas/longTermRetentionDatabases/ltr3/longTermRetentionBackups/b880d6cf-a2fe-48d6-8813-1fb2f53bdf9e%3B132583897600000000?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"serverName\": \"ayang-eas\",\r\n    \"serverCreateTime\": \"2021-01-28T08:54:24.823Z\",\r\n    \"databaseName\": \"ltr3\",\r\n    \"backupTime\": \"2021-02-21T14:02:40Z\",\r\n    \"backupExpirationTime\": \"2021-03-23T14:02:40Z\",\r\n    \"backupStorageRedundancy\": \"Geo\"\r\n  },\r\n  \"id\": \"/subscriptions/01c4ec88-e179-44f7-9eb0-e9719a5087ab/resourceGroups/testrg/providers/Microsoft.Sql/locations/eastasia/longTermRetentionServers/ayang-eas/longTermRetentionDatabases/ltr3/longTermRetentionBackups/b880d6cf-a2fe-48d6-8813-1fb2f53bdf9e;132583897600000000\",\r\n  \"name\": \"b880d6cf-a2fe-48d6-8813-1fb2f53bdf9e;132583897600000000\",\r\n  \"type\": \"Microsoft.Sql/locations/longTermRetentionServers/longTermRetentionDatabases/longTermRetentionBackups\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/01c4ec88-e179-44f7-9eb0-e9719a5087ab/resourceGroups/testrg/providers/Microsoft.Sql/locations/Southeast%20Asia/longTermRetentionServers/ayang-stage-seas/longTermRetentionDatabases/tgt-ltr1/longTermRetentionBackups/82e82850-f172-4726-9455-9aafaf8663bd%3B132583897600000000?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-sub[...]
