{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/providers/Microsoft.Authorization/denyAssignments?$filter=denyAssignmentName%20eq%20'AzureAuthzSDK_22704996-FBD0-4AB1-8625-722D897825D2'&api-version=2018-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-request-charge": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"denyAssignmentName\": \"AzureAuthzSDK_22704996-FBD0-4AB1-8625-722D897825D2\",\r\n        \"description\": \"Test deny assignment for AzureAuthzSDK\",\r\n        \"permissions\": [\r\n          {\r\n            \"actions\": [\r\n              \"foo/*\"\r\n            ],\r\n            \"notActions\": [\r\n              \"foo/*/read\"\r\n            ],\r\n            \"dataActions\": [\r\n              \"foo/*\"\r\n            ],\r\n            \"notDataActions\": []\r\n          }\r\n        ],\r\n        \"scope\": \"/subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f\",\r\n        \"doNotApplyToChildScopes\": false,\r\n        \"principals\": [\r\n          {\r\n            \"id\": \"f9e08843d2b74dbca5845e88a7e229a6\",\r\n            \"type\": \"Group\"\r\n          }\r\n        ],\r\n        \"excludePrincipals\": [],\r\n        \"isSystemProtected\": true,\r\n        \"createdOn\": \"2018-09-20T20:32:31.7438709Z\",\r\n        \"updatedOn\": \"2018-09-20T21:40:03.4634449Z\",\r\n        \"createdBy\": null,\r\n        \"updatedBy\": null\r\n      },\r\n      \"id\": \"/subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/providers/Microsoft.Authorization/denyAssignments/22704996-fbd0-4ab1-8625-722d897825d2\",\r\n      \"type\": \"Microsoft.Authorization/denyAssignments\",\r\n      \"name\": \"22704996-fbd0-4ab1-8625-722d897825d2\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/1273adef-00a3-4086-a51a-dbcce1857d36/getObjectsByObjectIds?api-version=1.6",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"objectIds\": [\r\n    \"f9e08843d2b74dbca5845e88a7e229a6\"\r\n  ],\r\n  \"includeDirectoryObjectReferences\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "sjU31wcZZQkSllvwYiJGtga5DQTbyVp6msGr4BIoWXU="
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.6"
        ],
        "ocp-aad-session-key": [
          "fFH0KghnsHrDgHPOwe0jQAzRd07JwruRato0LWxa1ACGlPDB1KqQnerBurZ2mV-gzgLG23AJihc0nCl6wNpwOAnywq7LmdG8rUa_cuPZavslTbL6m5sTTqO705JKDjDY.jP63fC7GcCPt7Lo4wHM4J_hg9_bOrqDFeYMgzyjD0MA"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Duration": [
          "378746"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1273adef-00a3-4086-a51a-dbcce1857d36/$metadata#directoryObjects\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.DirectoryServices.Group\",\r\n      \"objectType\": \"Group\",\r\n      \"objectId\": \"f9e08843-d2b7-4dbc-a584-5e88a7e229a6\",\r\n      \"deletionTimestamp\": null,\r\n      \"description\": null,\r\n      \"dirSyncEnabled\": null,\r\n      \"displayName\": \"powershellgroup\",\r\n      \"lastDirSyncTime\": null,\r\n      \"mail\": null,\r\n      \"mailNickname\": \"e6968bb6-df90-47ee-8d72-93eff56e1051\",\r\n      \"mailEnabled\": false,\r\n      \"onPremisesDomainName\": null,\r\n      \"onPremisesNetBiosName\": null,\r\n      \"onPremisesSamAccountName\": null,\r\n      \"onPremisesSecurityIdentifier\": null,\r\n      \"provisioningErrors\": [],\r\n      \"proxyAddresses\": [],\r\n      \"securityEnabled\": true\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "4004a9fd-d58e-48dc-aeb2-4a4aec58606f",
    "TenantId": "1273adef-00a3-4086-a51a-dbcce1857d36",
    "Domain": "rbacclitest.onmicrosoft.com"
  }
}