{
  "Get-AzPolicyStateSummary+[NoContext]+ManagementGroupScope+$POST+https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2024-10-01\u0026$top=10\u0026$from=2026-03-26T14:37:36.0000000-07:00+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2024-10-01\u0026$top=10\u0026$from=2026-03-26T14:37:36.0000000-07:00",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "187" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [ "96" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "2199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"@odata.context\":\"https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary\",\"@odata.count\":1,\"value\":[{\"@odata.id\":null,\"@odata.context\":\"https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity\",\"results\":{\"queryResultsUri\":\"https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2024-10-01\u0026$from=2026-03-26 21:37:36Z\u0026$to=2026-03-31 21:43:44Z\",\"nonCompliantResources\":1023,\"nonCompliantPolicies\":9,\"resourceDetails\":[{\"complianceState\":\"noncompliant\",\"count\":1023},{\"complianceState\":\"unknown\",\"count\":4}],\"policyDetails\":[{\"complianceState\":\"noncompliant\",\"count\":9},{\"complianceState\":\"unknown\",\"count\":6}],\"policyGroupDetails\":[{\"complianceState\":\"noncompliant\",\"count\":9},{\"complianceState\":\"unknown\",\"count\":6}]},\"policyAssignments\":[{\"policyAssignmentId\":\"/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/microsoft.authorization/policyassignments/pstestmodifyassignmentsub\",\"policySetDefinitionId\":\"\",\"results\":{\"queryResultsUri\":\"https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2024-10-01\u0026$from=2026-03-26 21:37:36Z\u0026$to=2026-03-31 21:43:44Z\u0026$filter=PolicyAssignmentId eq \u0027/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/microsoft.authorization/policyassignments/pstestmodifyassignmentsub\u0027\",\"nonCompliantResources\":1021,\"nonCompliantPolicies\":1,\"resourceDetails\":[{\"complianceState\":\"noncompliant\",\"count\":1021}],\"policyDetails\":[{\"complianceState\":\"noncompliant\",\"count\":1}],\"policyGroupDetails\":[{\"complianceState\":\"noncompliant\",\"count\":1}]},\"policyDefinitions\":[{\"policyDefinitionGroupNames\":[\"\"],\"policyDefinitionReferenceId\":\"\",\"policyDefinitionId\":\"/providers/microsoft.management/managementgroups/powershelltesting/providers/microsoft.authorization/policydefinitions/pstestmodifydefinition\",\"effect\":\"modify\",\"results\":{\"queryResultsUri\":\"https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2024-10-01\u0026$from=2026-03-26 21:37:36Z\u0026$to=2026-03-31 21:43:44Z\u0026$filter=PolicyAssignmentId eq \u0027/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/microsoft.authorization/policyassignments/pstestmodifyassignmentsub\u0027 and PolicyDefinitionId eq \u0027/providers/microsoft.management/managementgroups/powershelltesting/providers/microsoft.authorization/policydefinitions/pstestmodifydefinition\u0027\",\"nonCompliantResources\":1021,\"resourceDetails\":[{\"complianceState\":\"noncompliant\",\"count\":1021}],\"policyDetails\":[{\"complianceState\":\"noncompliant\",\"count\":1}],\"policyGroupDetails\":[{\"complianceState\":\"noncompliant\",\"count\":1}]}}],\"policyGroups\":[{\"policyGroupName\":\"\",\"results\":{\"queryResultsUri\":\"https://management.azure.com/providers/Microsoft.Management/managementGroups/PowershellTesting/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2024-10-01\u0026$from=2026-03-26 21:37:36Z\u0026$to=2026-03-31 21:43:44Z\u0026$filter=PolicyAssignmentId eq \u0027/subscriptions/e5a130f3-57fd-46b6-9c55-03d21a853935/providers/microsoft.authorization/policyassignments/pstestmodifyassignmentsub\u0027 and PolicySetDefinitionId eq \u0027[...]
