{
  "Entries": [
    {
      "RequestUri": "/subscriptions/2eea9431-9cbc-4ec6-a4c6-0596e434aaa2/resourcegroups/mms-eus/providers/Microsoft.OperationalInsights/workspaces/188087e4-5850-4d8b-9d08-3e5b448eaecd/search?api-version=2015-03-20",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"top\": 5,\r\n  \"highlight\": {},\r\n  \"query\": \"*\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/2eea9431-9cbc-4ec6-a4c6-0596e434aaa2/resourceGroups/mms-eus/providers/Microsoft.OperationalInsights/workspaces/188087e4-5850-4d8b-9d08-3e5b448eaecd/search/d66b5275-fcec-4201-bd18-e410e51c0abf\",\r\n  \"__metadata\": {\r\n    \"resultType\": \"raw\",\r\n    \"total\": 33015772,\r\n    \"top\": 5,\r\n    \"RequestId\": \"d66b5275-fcec-4201-bd18-e410e51c0abf\",\r\n    \"Status\": \"Pending\",\r\n    \"NumberOfDocuments\": 0,\r\n    \"StartTime\": \"2016-04-27T07:18:35.4034126Z\",\r\n    \"LastUpdated\": \"2016-04-27T07:18:37.7316029Z\",\r\n    \"ETag\": \"635973383177316029\",\r\n    \"sort\": [\r\n      {\r\n        \"name\": \"TimeGenerated\",\r\n        \"order\": \"desc\"\r\n      }\r\n    ],\r\n    \"requestTime\": 2432\r\n  },\r\n  \"value\": [\r\n    {\r\n      \"TimeGenerated\": \"2016-04-27T06:07:02.627Z\",\r\n      \"SourceSystem\": \"OpsManager\",\r\n      \"Computer\": \"lewang-hp.redmond.corp.microsoft.com\",\r\n      \"Channel\": \"Security\",\r\n      \"Task\": 13570,\r\n      \"Level\": 8,\r\n      \"EventData\": \"<EventData xmlns=\\\"http://schemas.microsoft.com/win/2004/08/events/event\\\">\\r\\n  <Data Name=\\\"SubjectUserSid\\\">S-1-5-18</Data>\\r\\n  <Data Name=\\\"SubjectUserName\\\">LEWANG-HP$</Data>\\r\\n  <Data Name=\\\"SubjectDomainName\\\">REDMOND</Data>\\r\\n  <Data Name=\\\"SubjectLogonId\\\">0x3e7</Data>\\r\\n  <Data Name=\\\"TargetUserSid\\\">S-1-5-18</Data>\\r\\n  <Data Name=\\\"TargetUserName\\\">LEWANG-HP$</Data>\\r\\n  <Data Name=\\\"TargetDomainName\\\">REDMOND</Data>\\r\\n  <Data Name=\\\"TargetLogonId\\\">0x3e7</Data>\\r\\n  <Data Name=\\\"ProcessName\\\">C:\\\\Windows\\\\System32\\\\svchost.exe</Data>\\r\\n  <Data Name=\\\"ProcessId\\\">0x4b4</Data>\\r\\n  <Data Name=\\\"EnabledPrivilegeList\\\">SeAssignPrimaryTokenPrivilege \\t\\t\\tSeIncreaseQuotaPrivilege \\t\\t\\tSeSecurityPrivilege \\t\\t\\tSeTakeOwnershipPrivilege \\t\\t\\tSeLoadDriverPrivilege \\t\\t\\tSeSystemtimePrivilege \\t\\t\\tSeBackupPrivilege \\t\\t\\tSeRestorePrivilege \\t\\t\\tSeShutdownPrivilege \\t\\t\\tSeSystemEnvironmentPrivilege \\t\\t\\tSeUndockPrivilege \\t\\t\\tSeManageVolumePrivilege</Data>\\r\\n  <Data Name=\\\"DisabledPrivilegeList\\\">-</Data>\\r\\n</EventData>\",\r\n      \"EventID\": 4703,\r\n      \"Activity\": \"4703\",\r\n      \"MG\": \"00000000-0000-0000-0000-000000000001\",\r\n      \"TimeCollected\": \"2016-04-27T06:07:03.073Z\",\r\n      \"ManagementGroupName\": \"AOI-188087e4-5850-4d8b-9d08-3e5b448eaecd\",\r\n      \"id\": \"4668cfe7-1977-f569-e436-1247bac5a5d9\",\r\n      \"Type\": \"SecurityEvent\",\r\n      \"EventSourceName\": \"Microsoft-Windows-Security-Auditing\",\r\n      \"__metadata\": {\r\n        \"Type\": \"SecurityEvent\",\r\n        \"TimeGenerated\": \"2016-04-27T06:07:02.627Z\",\r\n        \"highlighting\": {}\r\n      }\r\n    },\r\n    {\r\n      \"TimeGenerated\": \"2016-04-27T06:07:02.587Z\",\r\n      \"SourceSystem\": \"OpsManager\",\r\n      \"Computer\": \"lewang-hp.redmond.corp.microsoft.com\",\r\n      \"Channel\": \"Security\",\r\n      \"Task\": 13570,\r\n      \"Level\": 8,\r\n      \"EventData\": \"<EventData xmlns=\\\"http://schemas.microsoft.com/win/2004/08/events/event\\\">\\r\\n  <Data Name=\\\"SubjectUserSid\\\">S-1-5-18</Data>\\r\\n  <Data Name=\\\"SubjectUserName\\\">LEWANG-HP$[...]
    {
      "RequestUri": "/subscriptions/2eea9431-9cbc-4ec6-a4c6-0596e434aaa2/resourcegroups/mms-eus/providers/Microsoft.OperationalInsights/workspaces/188087e4-5850-4d8b-9d08-3e5b448eaecd/search/d66b5275-fcec-4201-bd18-e410e51c0abf?api-version=2015-03-20",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/2eea9431-9cbc-4ec6-a4c6-0596e434aaa2/resourceGroups/mms-eus/providers/Microsoft.OperationalInsig[...]
