{
  "Entries": [
    {
      "RequestUri": "/subscriptions/2eea9431-9cbc-4ec6-a4c6-0596e434aaa2/resourcegroups/mms-eus/providers/Microsoft.OperationalInsights/workspaces/188087e4-5850-4d8b-9d08-3e5b448eaecd/savedSearches?api-version=2015-03-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"__metadata\": {},\r\n  \"value\": [\r\n    {\r\n      \"id\": \"subscriptions/2eea9431-9cbc-4ec6-a4c6-0596e434aaa2/resourceGroups/mms-eus/providers/Microsoft.OperationalInsights/workspaces/188087e4-5850-4d8b-9d08-3e5b448eaecd/savedSearches/computergroups|all computers\",\r\n      \"etag\": \"W/\\\"datetime'2016-03-08T19%3A07%3A36.9130817Z'\\\"\",\r\n      \"properties\": {\r\n        \"Category\": \"ComputerGroups\",\r\n        \"DisplayName\": \"all computers\",\r\n        \"Query\": \"* | measure count() by Computer\",\r\n        \"Version\": 1\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"subscriptions/2eea9431-9cbc-4ec6-a4c6-0596e434aaa2/resourceGroups/mms-eus/providers/Microsoft.OperationalInsights/workspaces/188087e4-5850-4d8b-9d08-3e5b448eaecd/savedSearches/computergroups|allcomputers\",\r\n      \"etag\": \"W/\\\"datetime'2015-11-18T22%3A43%3A46.0427228Z'\\\"\",\r\n      \"properties\": {\r\n        \"Category\": \"ComputerGroups\",\r\n        \"DisplayName\": \"allcomputers\",\r\n        \"Query\": \"* | measure count() by[...]
[...]
    {
      "RequestUri": "/subscriptions/2eea9431-9cbc-4ec6-a4c6-0596e434aaa2/resourcegroups/mms-eus/providers/Microsoft.OperationalInsights/workspaces/188087e4-5850-4d8b-9d08-3e5b448eaecd/savedSearches/test-new-saved-search-id-2015?api-version=2015-03-20",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"Category\": \"Saved Search Test Category\",\r\n    \"DisplayName\": \"TestingSavedSearch\",\r\n    \"Query\": \"* | measure Count() by Computer\",\r\n    \"Version\": 1,\r\n    \"Tags\": [\r\n      {\r\n        \"Name\": \"Group\",\r\n        \"Value\": \"Computer\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/2eea9431-9cbc-4ec6-a4c6-0596e434aaa2/resourceGroups/mms-eus/providers/Microsoft.OperationalInsights/workspaces/188087e4-5850-4d8b-9d08-3e5b448eaecd/savedSearches/test-new-saved-search-id-2015\",\r\n  \"etag\": \"W/\\\"datetime'2016-04-27T07%3A19%3A18.715657Z'\\\"\",\r\n  \"properties\": {\r\n    \"Category\": \"Saved Search Test Category\",\r\n    \"DisplayName\": \"TestingSavedSearch\",\r\n    \"Query\": \"* | measure Count() by Computer\",\r\n    \"Tags\": [\r\n      {\r\n        \"Name\": \"Group\",\r\n        \"Value\": \"Computer\"\r\n      }\r\n    ],\r\n    \"Version\": 1\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/2eea9431-9cbc-4ec6-a4c6-0596e434aaa2/resourcegroups/mms-eus/providers/Microsoft.OperationalInsights/workspaces/188087e4-5850-4d8b-9d08-3e5b448eaecd/savedSearches/test-new-saved-search-id-2015?api-version=2015-03-20",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "2eea9431-9cbc-4ec6-a4c6-0596e434aaa2"
  }
}