{
  "Entries": [
    {
      "RequestUri": "/subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourcegroups/mms-eus/providers/Microsoft.OperationalInsights/workspaces/workspace-861bd466-5400-44be-9552-5ba40823c3aa/savedSearches?api-version=2015-03-20",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"__metadata\": {},\r\n  \"value\": [\r\n    {\r\n      \"id\": \"subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourceGroups/mms-eus/providers/Microsoft.OperationalInsights/workspaces/workspace-861bd466-5400-44be-9552-5ba40823c3aa/savedSearches/0022aa2d-e4c2-4792-8672-c46e77ed116e\",\r\n      \"etag\": \"W/\\\"datetime'2015-11-12T23%3A14%3A17.26477Z'\\\"\",\r\n      \"properties\": {\r\n        \"Category\": \"Alert\",\r\n        \"DisplayName\": \"SS\",\r\n        \"Query\": \"*\",\r\n        \"Version\": 1\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourceGroups/mms-eus/providers/Microsoft.OperationalInsights/workspaces/workspace-861bd466-5400-44be-9552-5ba40823c3aa/savedSearches/1|test\",\r\n      \"etag\": \"W/\\\"datetime'2015-08-27T19%3A04%3A25.7940321Z'\\\"\",\r\n      \"properties\": {\r\n        \"Category\": \"1\",\r\n        \"DisplayName\": \"TestBen\",\r\n        \"Query\": \"* Type=Alert  (AlertSeverity=error)  SourceDisplayN[...]
[...]
    {
      "RequestUri": "/subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourcegroups/mms-eus/providers/Microsoft.OperationalInsights/workspaces/workspace-861bd466-5400-44be-9552-5ba40823c3aa/savedSearches/test-new-saved-search-id-2015?api-version=2015-03-20",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"Category\": \"Saved Search Test Category\",\r\n    \"DisplayName\": \"TestingSavedSearch\",\r\n    \"Query\": \"* | measure Count() by Type\",\r\n    \"Version\": 1\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourceGroups/mms-eus/providers/Microsoft.OperationalInsights/workspaces/workspace-861bd466-5400-44be-9552-5ba40823c3aa/savedSearches/test-new-saved-search-id-2015\",\r\n  \"etag\": \"W/\\\"datetime'2016-01-15T23%3A12%3A52.463434Z'\\\"\",\r\n  \"properties\": {\r\n    \"Category\": \"Saved Search Test Category\",\r\n    \"DisplayName\": \"TestingSavedSearch\",\r\n    \"Query\": \"* | measure Count() by Type\",\r\n    \"Version\": 1\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourcegroups/mms-eus/providers/Microsoft.OperationalInsights/workspaces/workspace-861bd466-5400-44be-9552-5ba40823c3aa/savedSearches/test-new-saved-search-id-2015?api-version=2015-03-20",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "df1ec963-d784-4d11-a779-1b3eeb9ecb78"
  }
}