{
  "Entries": [
    {
      "RequestUri": "/subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourcegroups/OI-Default-East-US/providers/Microsoft.OperationalInsights/workspaces/rasha/search?api-version=2015-03-20",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"top\": 25,\r\n  \"skip\": 0,\r\n  \"highlight\": {},\r\n  \"includeArchive\": false,\r\n  \"query\": \"*\",\r\n  \"facet\": {\r\n    \"limit\": 0,\r\n    \"mincount\": 0,\r\n    \"range\": {}\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourceGroups/OI-Default-East-US/providers/Microsoft.OperationalInsights/workspaces/rasha/search/e06f9607-6fee-4616-a3f0-06560ab46296\",\r\n  \"__metadata\": {\r\n    \"resultType\": \"raw\",\r\n    \"total\": 46785694,\r\n    \"top\": 25,\r\n    \"CoreResponses\": [],\r\n    \"CoreSummaries\": [\r\n      {\r\n        \"Status\": \"Pending\",\r\n        \"NumberOfDocuments\": 193532127\r\n      }\r\n    ],\r\n    \"Status\": \"Pending\",\r\n    \"NumberOfDocuments\": 193532127,\r\n    \"StartTime\": \"2015-12-03T21:29:43.7823329Z\",\r\n    \"LastUpdated\": \"2015-12-03T21:29:44.7511016Z\",\r\n    \"ETag\": \"635847749847511016\",\r\n    \"sort\": [\r\n      {\r\n        \"name\": \"TimeGenerated\",\r\n        \"order\": \"desc\"\r\n      }\r\n    ],\r\n    \"requestTime\": 1346\r\n  },\r\n  \"value\": [\r\n    {\r\n      \"TimeGenerated\": \"2015-12-03T21:28:35.603Z\",\r\n      \"SourceSystem\": \"OpsManager\",\r\n      \"Computer\": \"CLICH-PC01.northamerica.corp.microsoft.com\",\r\n      \"Channel\": \"Security\",\r\n      \"Task\": 13570,\r\n      \"Level\": 8,\r\n      \"EventData\": \"<EventData xmlns=\\\"http://schemas.microsoft.com/win/2004/08/events/event\\\">\\r\\n  <Data Name=\\\"SubjectUserSid\\\">S-1-5-18</Data>\\r\\n  <Data Name=\\\"SubjectUserName\\\">CLICH-PC01$</Data>\\r\\n  <Data Name=\\\"SubjectDomainName\\\">NORTHAMERICA</Data>\\r\\n  <Data Name=\\\"SubjectLogonId\\\">0x3e7</Data>\\r\\n  <Data Name=\\\"TargetUserSid\\\">S-1-5-18</Data>\\r\\n  <Data Name=\\\"TargetUserName\\\">CLICH-PC01$</Data>\\r\\n  <Data Name=\\\"TargetDomainName\\\">NORTHAMERICA</Data>\\r\\n  <Data Name=\\\"TargetLogonId\\\">0x3e7</Data>\\r\\n  <Data Name=\\\"ProcessName\\\">C:\\\\Windows\\\\System32\\\\svchost.exe</Data>\\r\\n  <Data Name=\\\"ProcessId\\\">0x528</Data>\\r\\n  <Data Name=\\\"EnabledPrivilegeList\\\">SeAssignPrimaryTokenPrivilege \\t\\t\\tSeIncreaseQuotaPrivilege \\t\\t\\tSeSecurityPrivilege \\t\\t\\tSeTakeOwnershipPrivilege \\t\\t\\tSeLoadDriverPrivilege \\t\\t\\tSeSystemtimePrivilege \\t\\t\\tSeBackupPrivilege \\t\\t\\tSeRestorePrivilege \\t\\t\\tSeShutdownPrivilege \\t\\t\\tSeSystemEnvironmentPrivilege \\t\\t\\tSeUndockPrivilege \\t\\t\\tSeManageVolumePrivilege</Data>\\r\\n  <Data Name=\\\"DisabledPrivilegeList\\\">-</Data>\\r\\n</EventData>\",\r\n      \"EventID\": 4703,\r\n      \"Activity\": \"4703\",\r\n      \"MG\": \"00000000-0000-0000-0000-000000000001\",\r\n      \"TimeCollected\": \"2015-12-03T21:28:35.687Z\",\r\n      \"ManagementGroupName\": \"AOI-54bd7c21-cc2a-40fb-898f-ffd15604043e\",\r\n      \"id\": \"a9c4c74e-5ffb-0573-c5c7-cc7a71298e3d\",\r\n      \"Type\": \"SecurityEvent\",\r\n      \"EventSourceName\": \"Microsoft-Windows-Security-Auditing\",\r\n      \"__metadata\": {\r\n        \"Type\": \"SecurityEvent\",\r\n        \"TimeGenerated\": \"2015-12-03T21:28:35.603Z\",\r\n        \"highlighting\": {}\r\n      }\r\n    },\r\n    {\r\n      \"TimeGenerated\": \"2015-12-03T21:28:35.45Z\",\r\n      \"SourceSystem\": \"OpsManager\",\r\n      \"Computer\": \"CLICH-PC01.northamerica.corp.microsoft.com\",\r\n      \"Channel\": \"Security\",\r\n      \"Task\": 13570,\r\n      \"Level\": 8,\r\n      \"EventData\": \"<EventData xmlns=\\\"http://schemas.microsoft.com/win/2004/08/events/event\\\">\\r\\n  <Data Name=\\\"SubjectUserSid\\\">S-1-5-18</Data>\\r\\n  <Data Name=\\\"SubjectUserName\\\">CLICH[...]
    {
      "RequestUri": "/subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourcegroups/OI-Default-East-US/providers/Microsoft.OperationalInsights/workspaces/rasha/search/e06f9607-6fee-4616-a3f0-06560ab46296?api-version=2015-03-20",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/df1ec963-d784-4d11-a779-1b3eeb9ecb78/resourceGroups/OI-Default-East-US/providers/Microsoft.OperationalInsights/works[...]
