{
  "Entries": [
    {
      "RequestUri": "/subscriptions/06adb0b3-baaa-4e5f-9df6-ca770f7902cd/resourceGroups/Group-6/providers/Microsoft.Sql/servers/witest-eus/databases?api-version=2014-04-01&$expand=schemas%2Ftables%2FrecommendedIndexes",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/06adb0b3-baaa-4e5f-9df6-ca770f7902cd/resourceGroups/Group-6/providers/Microsoft.Sql/servers/witest-eus/databases/master\",\r\n      \"name\": \"master\",\r\n      \"type\": \"Microsoft.Sql/servers/databases\",\r\n      \"location\": \"East US 2\",\r\n      \"properties\": {\r\n        \"databaseId\": \"a5adadde-203c-498f-8e1d-55a2ef4478e6\",\r\n        \"edition\": \"System\",\r\n        \"status\": \"Online\",\r\n        \"serviceLevelObjective\": \"System0\",\r\n        \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n        \"maxSizeBytes\": \"5368709120\",\r\n        \"creationDate\": \"2015-07-21T13:29:26.69Z\",\r\n        \"currentServiceObjectiveId\": \"29dd7459-4a7c-4e56-be22-f0adda49440d\",\r\n        \"requestedServiceObjectiveId\": \"29dd7459-4a7c-4e56-be22-f0adda49440d\",\r\n        \"requestedServiceObjectiveName\": null,\r\n        \"defaultSecondaryLocation\": \"North Europe\",\r\n        \"earliestRestoreDate\": null,\r\n        \"kind\": \"v12.0,system\",\r\n        \"schemas\": [],\r\n        \"elasticPoolName\": null,\r\n        \"containmentState\": 2\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/06adb0b3-baaa-4e5f-9df6-ca770f7902cd/resourceGroups/Group-6/providers/Microsoft.Sql/servers/witest-eus/databases/witestdb-eus\",\r\n      \"name\": \"witestdb-eus\",\r\n      \"type\": \"Microsoft.Sql/servers/databases\",\r\n      \"location\": \"East US 2\",\r\n      \"properties\": {\r\n        \"databaseId\": \"40cadced-1e4f-4eef-8108-acb6d3989b50\",\r\n        \"edition\": \"Standard\",\r\n        \"status\": \"Online\",\r\n        \"serviceLevelObjective\": \"S0\",\r\n        \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n        \"maxSizeBytes\": \"268435456000\",\r\n        \"creationDate\": \"2015-07-21T13:29:53.413Z\",\r\n        \"currentServiceObjectiveId\": \"f1173c43-91bd-4aaa-973c-54e79e15235b\",\r\n        \"requestedServiceObjectiveId\": \"f1173c43-91bd-4aaa-973c-54e79e15235b\",\r\n        \"requestedServiceObjectiveName\": null,\r\n        \"defaultSecondaryLocation\": \"North Europe\",\r\n        \"earliestRestoreDate\": \"2015-07-21T13:41:03.84Z\",\r\n        \"kind\": \"v12.0,user\",\r\n        \"schemas\": [\r\n          {\r\n            \"id\": \"/subscriptions/06adb0b3-baaa-4e5f-9df6-ca770f7902cd/resourceGroups/Group-6/providers/Microsoft.Sql/servers/witest-eus/databases/witestdb-eus/schemas/dbo\",\r\n            \"name\": \"dbo\",\r\n            \"type\": \"Microsoft.Sql/servers/databases/schemas\",\r\n            \"properties\": {\r\n              \"tables\": [\r\n                {\r\n                  \"id\": \"/subscriptions/06adb0b3-baaa-4e5f-9df6-ca770f7902cd/resourceGroups/Group-6/providers/Microsoft.Sql/servers/witest-eus/databases/witestdb-eus/schemas/dbo/tables/Clusters\",\r\n                  \"name\": \"Clusters\",\r\n                  \"type\": \"Microsoft.Sql/servers/databases/schemas/tables\",\r\n                  \"properties\": {\r\n                    \"recommendedIndexes\": [\r\n                      {\r\n                        \"id\": \"/subscriptions/06adb0b3-baaa-4e5f-9df6-ca770f7902cd/resourceGroups/Group-6/providers/Microsoft.Sql/servers/witest-eus/databases/witestdb-eus/schemas/dbo/tables/Clusters/recommendedIndexes/nci_wi_Clusters_034590D0-0378-4AB9-96D5-C144B14F6A9B\",\r\n                        \"name\": \"nci_wi_Clusters_034590D0-0378-4AB9-96D5-C144B14F6A9B\",\r\n                        \"type\": \"Microsoft.Sql/servers/databases/schemas/tables/recommendedIndexes\",\r\n                        \"properties\": {\r\n                          \"action\": \"Create\",\r\n                          \"state\": \"Active\",\r\n                          \"created\": \"2015-07-21T17:12:32\",\r\n                          \"lastModified\": \"2015-07-21T17:12:32\",\r\n                          \"indexType\": \"NONCLUSTERED\",\r\n                          \"schema\": \"dbo\",\r\n                          \"table\": \"Clusters\",\r\n                          \"columns\": [\r\n                            \"ClusterId\"\r\n                          ],\r\n                          \"includedColumns\": [\r\n                            \"ClusterName\"\r\n                          ],\r\n                          \"indexScript\": \"CREATE NONCLUSTERED INDEX [nci_wi_Clusters_034590D0-0378-4AB9-96D5-C144B14F6A9B] ON dbo.Clusters (ClusterId) INCLUDE (ClusterName) WITH (ONLINE = ON)\",\r\n                          \"estimatedImpact\": [\r\n                            {\r\n                              \"name\": \"benefit\",\r\n                              \"unit\": \"unitless\",\r\n                              \"changeValueAbsolute\": 3.0,\r\n                              \"changeValueRelative\": null\r\n                            },\r\n                            {\r\n                              \"name\": \"space_change\",\r\n                              \"unit\": \"megabytes\",\r\n                              \"changeValueAbsolute\": 0.09765625,\r\n                              \"changeValueRelative\": null\r\n                            },\r\n                            {\r\n                              \"name\": \"action_duration\",\r\n                              \"unit\": \"seconds\",\r\n                              \"changeValueAbsolute\": 36000.0,\r\n                              \"changeValueRelative\": null\r\n                            }\r\n                          ],\r\n                          \"reportedImpact\": [\r\n                            {\r\n                              \"name\": \"space_change\",\r\n                              \"unit\": \"megabytes\",\r\n                              \"changeValueAbsolute\": null,\r\n                              \"changeValueRelative\": null\r\n                            },\r\n                            {\r\n                              \"name\": \"action_duration\",\r\n                              \"unit\": \"seconds\",\r\n                            [...]
    {
      "RequestUri": "/subscriptions/06adb0b3-baaa-4e5f-9df6-ca770f7902cd/resourceGroups/Group-6/providers/Microsoft.Sql/servers/witest-eus/databases/witestdb-eus?api-version=2014-04-01&$expand=schemas%2Ftables%2FrecommendedIndexes",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/06adb0b3-baaa-4e5f-9df6-ca770f7902cd/resourceGroups/Group-6/providers/Microsoft.Sql/servers/witest-eus/databases/wit[...]
[...]
