{
  "New-AzADDomainService+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/youriADDomain-rg-d74j9z/providers/Microsoft.AAD/domainServices/youriADDomainTest0rzngb?api-version=2020-01-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/youriADDomain-rg-d74j9z/providers/Microsoft.AAD/domainServices/youriADDomainTest0rzngb?api-version=2020-01-01",
      "Content": "{\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"domainName\": \"youriAdDomain.com\",\r\n    \"replicaSets\": [\r\n      {\r\n        \"location\": \"westus\",\r\n        \"subnetId\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/youriADDomain-rg-d74j9z/providers/Microsoft.Network/virtualNetworks/youriNTW1f6kb0/subnets/default\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "W/\"datetime\u00272020-12-27T12%3A19%3A12.53638Z\u0027\"" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.AAD/locations/westus/operationResults/f9a23dc0-392e-4b51-becf-aa728276cabc?api-version=2020-01-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/youriADDomain-rg-d74j9z/providers/Microsoft.AAD/domainServices/youriADDomainTest0rzngb\",\"name\":\"youriADDomainTest0rzngb\",\"type\":\"Microsoft.AAD/domainServices\",\"etag\":\"W/\\\"datetime\u00272020-12-27T12%3A19%3A12.53638Z\u0027\\\"\",\"location\":\"westus\",\"properties\":{\"version\":2,\"tenantId\":\"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\"domainName\":\"youriAdDomain.com\",\"deploymentId\":\"b68c69a0-9c7b-4a36-aad4-2fa674a5eb7f\",\"syncOwner\":\"b68c69a0-9c7b-4a36-aad4-2fa674a5eb7f\",\"replicaSets\":[{\"replicaSetId\":\"b68c69a0-9c7b-4a36-aad4-2fa674a5eb7f\",\"location\":\"West US\",\"subnetId\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/youriADDomain-rg-d74j9z/providers/Microsoft.Network/virtualNetworks/youriNTW1f6kb0/subnets/default\"}],\"domainSecuritySettings\":{\"ntlmV1\":\"Enabled\",\"tlsV1\":\"Enabled\",\"syncNtlmPasswords\":\"Enabled\",\"syncKerberosPasswords\":\"Enabled\",\"syncOnPremPasswords\":\"Enabled\"},\"sku\":\"Enterprise\",\"provisioningState\":\"Creating\"}}"
    }
  },
  "New-AzADDomainService+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.AAD/locations/westus/operationResults/f9a23dc0-392e-4b51-becf-aa728276cabc?api-version=2020-01-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.AAD/locations/westus/operationResults/f9a23dc0-392e-4b51-becf-aa728276cabc?api-version=2020-01-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11996" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.AAD/locations/westus/operationResults/f9a23dc0-392e-4b51-becf-aa728276cabc\",\"name\":\"f9a23dc0-392e-4b51-becf-aa728276cabc\",\"status\":\"Creating\",\"startTime\":\"0001-01-01T00:00:00Z\",\"endTime\":\"0001-01-01T00:00:00Z\",\"percentComplete\":0.0}"
    }
  },
  "New-AzADDomainService+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.AAD/locations/westus/operationResults/f9a23dc0-392e-4b51-becf-aa728276cabc?api-version=2020-01-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.AAD/locations/westus/operationResults/f9a23dc0-392e-4b51-becf[...]
