{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourcegroups/onesdk5197?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197\",\r\n  \"name\": \"onesdk5197\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/servers/onesdk170?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/onesdk170' under resource group 'onesdk5197' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/servers/onesdk170?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"onesdk170.sqltest-eg1.mscds.com\"\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"id\": \"/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/servers/onesdk170\",\r\n  \"name\": \"onesdk170\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14243"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/servers/onesdk170?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!\"\r\n  },\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2017-10-27T05:12:09.753Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/locations/eastus2/serverAzureAsyncOperation/8ffe71df-8e79-4073-b3f2-be2774d4e430?api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/locations/eastus2/serverOperationResults/8ffe71df-8e79-4073-b3f2-be2774d4e430?api-version=2015-05-01-preview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/locations/eastus2/serverAzureAsyncOperation/8ffe71df-8e79-4073-b3f2-be2774d4e430?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"8ffe71df-8e79-4073-b3f2-be2774d4e430\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2017-10-27T05:12:09.753Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14479"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/servers/onesdk170/databases/onesdk5926?api-version=2014-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/onesdk170/databases/onesdk5926' under resource group 'onesdk5197' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/servers/onesdk170/databases/onesdk5926?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"edition\": \"Premium\",\r\n    \"maxSizeBytes\": \"0\",\r\n    \"readScale\": \"Disabled\"\r\n  },\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2017-10-26T22:13:24.451-07:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "30"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/servers/onesdk170/databases/onesdk5926/azureAsyncOperation/9eedcab3-85b0-44c0-be6d-092e27da5d28?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/servers/onesdk170/databases/onesdk5926/operationResults/9eedcab3-85b0-44c0-be6d-092e27da5d28?api-version=2014-04-01-Preview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/servers/onesdk170/databases/onesdk5926/operationResults/9eedcab3-85b0-44c0-be6d-092e27da5d28?api-version=2014-04-01-Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2017-10-27T05:13:24.437Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "Retry-After": [
          "30"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/servers/onesdk170/databases/onesdk5926/azureAsyncOperation/9eedcab3-85b0-44c0-be6d-092e27da5d28?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14701"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/servers/onesdk170/databases/onesdk5926/operationResults/9eedcab3-85b0-44c0-be6d-092e27da5d28?api-version=2014-04-01-Preview"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/servers/onesdk170/databases/onesdk5926/operationResults/9eedcab3-85b0-44c0-be6d-092e27da5d28?api-version=2014-04-01-Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/servers/onesdk170/databases/onesdk5926\",\r\n  \"name\": \"onesdk5926\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\",\r\n  \"location\": \"East US 2\",\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"databaseId\": \"7dd8859f-b0a3-48aa-a334-5a1d1b7fe7c7\",\r\n    \"edition\": \"Premium\",\r\n    \"status\": \"Online\",\r\n    \"serviceLevelObjective\": \"P1\",\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": \"536870912000\",\r\n    \"creationDate\": \"2017-10-27T05:13:25.327Z\",\r\n    \"currentServiceObjectiveId\": \"7203483a-c4fb-4304-9e9f-17c71c904f5d\",\r\n    \"requestedServiceObjectiveId\": \"7203483a-c4fb-4304-9e9f-17c71c904f5d\",\r\n    \"requestedServiceObjectiveName\": \"P1\",\r\n    \"sampleName\": null,\r\n    \"defaultSecondaryLocation\": \"East US 2\",\r\n    \"earliestRestoreDate\": \"2017-10-27T05:24:15.21Z\",\r\n    \"elasticPoolName\": null,\r\n    \"containmentState\": 2,\r\n    \"readScale\": \"Disabled\",\r\n    \"failoverGroupId\": null,\r\n    \"zoneRedundant\": false\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14698"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/servers/onesdk170/databases/onesdk5542/azureAsyncOperation/a58f7ba2-f486-4b5d-8508-0d1ceb03380c?api-version=2014-04-01-Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operationId\": \"a58f7ba2-f486-4b5d-8508-0d1ceb03380c\",\r\n  \"status\": \"InProgress\",\r\n  \"error\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/servers/onesdk170/databases/onesdk5542/azureAsyncOperation/a58f7ba2-f486-4b5d-8508-0d1ceb03380c?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14695"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/onesdk5197/providers/Microsoft.Sql/se