{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourcegroups/ps5645?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/ps5645\",\r\n  \"name\": \"ps5645\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/ps5645/providers/Microsoft.Sql/servers/ps3234?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/ps3234' under resource group 'ps5645' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/ps5645/providers/Microsoft.Sql/servers/ps3234?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"ps3234.sqltest-eg1.mscds.com\"\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"id\": \"/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/ps5645/providers/Microsoft.Sql/servers/ps3234\",\r\n  \"name\": \"ps3234\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13869"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/ps5645/providers/Microsoft.Sql/servers/ps3234?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!\"\r\n  },\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2017-10-31T22:11:09.603Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/ps5645/providers/Microsoft.Sql/locations/eastus2/serverAzureAsyncOperation/cdc06c0f-35b8-49b0-ace1-e7965f4dec87?api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/ps5645/providers/Microsoft.Sql/locations/eastus2/serverOperationResults/cdc06c0f-35b8-49b0-ace1-e7965f4dec87?api-version=2015-05-01-preview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/fc083c6b-c3dd-47c4-bec7-ec4721548d07/resourceGroups/ps5645/providers/Microsoft.Sql/locations/eastus2/serverAzureAsyncOperation/cdc06c0f-35b8-49b0-ace1-e7965f4dec87?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"cdc06c0f-35b8-49b0-ace1-e7965f4dec87\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2017-10-31T22:11:09.603Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14377"
        ]
      },
      "StatusCode": 200
    },
[...]
