{
  "Get-AzRecoveryServicesBackupItem+[NoContext]+GetItemsForVault+$GET+https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupProtectedItems?api-version=2023-02-01\u0026$filter=backupManagementType eq %27AzureIaasVM%27 and itemType eq %27VM%27+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupProtectedItems?api-version=2023-02-01\u0026$filter=backupManagementType%20eq%20%27AzureIaasVM%27%20and%20itemType%20eq%20%27VM%27",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "41" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "299" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;hiagarg;hiaganewvm1/protectedItems/VM;iaasvmcontainerv2;hiagarg;hiaganewvm1\",\"name\":\"VM;iaasvmcontainerv2;hiagarg;hiaganewvm1\",\"type\":\"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems\",\"properties\":{\"friendlyName\":\"hiagaNewVm1\",\"virtualMachineId\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.Compute/virtualMachines/hiagaNewVm1\",\"protectionStatus\":\"Healthy\",\"protectionState\":\"Protected\",\"healthStatus\":\"Passed\",\"healthDetails\":[{\"code\":400239,\"title\":\"IaasVmHealthGreenDefault\",\"message\":\"Backup pre-check status of this virtual machine is OK.\",\"recommendations\":[]}],\"lastBackupStatus\":\"Completed\",\"lastBackupTime\":\"2023-11-05T23:04:36.8488706Z\",\"protectedItemDataId\":\"1387825650\",\"protectedItemType\":\"Microsoft.Compute/virtualMachines\",\"backupManagementType\":\"AzureIaasVM\",\"workloadType\":\"VM\",\"containerName\":\"iaasvmcontainerv2;hiagarg;hiaganewvm1\",\"sourceResourceId\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.Compute/virtualMachines/hiagaNewVm1\",\"policyId\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupPolicies/DefaultPolicy\",\"policyName\":\"DefaultPolicy\",\"lastRecoveryPoint\":\"2023-11-05T23:04:39.6312969Z\",\"vaultId\":\"https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault\",\"isArchiveEnabled\":false,\"softDeleteRetentionPeriod\":0}},{\"id\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;hiagarg;hiaganewvm2/protectedItems/VM;iaasvmcontainerv2;hiagarg;hiaganewvm2\",\"name\":\"VM;iaasvmcontainerv2;hiagarg;hiaganewvm2\",\"type\":\"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems\",\"properties\":{\"friendlyName\":\"hiaganewVM2\",\"v[...]
