{
  "Get-AzRecoveryServicesBackupProtectableItem+[NoContext]+List+$GET+https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupProtectableItems?api-version=2023-02-01\u0026$filter=backupManagementType eq %27AzureWorkload%27 and workloadType eq %27SQLDataBase%27+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupProtectableItems?api-version=2023-02-01\u0026$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20workloadType%20eq%20%27SQLDataBase%27",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "46" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "299" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;hiagarg;sql-migration-vm1/protectableItems/sqlinstance;mssqlserver\",\"name\":\"sqlinstance;mssqlserver\",\"type\":\"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems\",\"properties\":{\"parentName\":\"MSSQLSERVER\",\"serverName\":\"sql-migration-v\",\"isAutoProtectable\":true,\"isAutoProtected\":false,\"subinquireditemcount\":3,\"subprotectableitemcount\":3,\"prebackupvalidation\":{\"status\":\"Success\",\"code\":\"Success\"},\"IsProtectable\":false,\"backupManagementType\":\"AzureWorkload\",\"workloadType\":\"SQL\",\"protectableItemType\":\"SQLInstance\",\"friendlyName\":\"MSSQLSERVER\",\"protectionState\":\"NotProtected\"}},{\"id\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/hiagarg/providers/Microsoft.RecoveryServices/vaults/hiagaVault/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;hiagarg;sql-migration-vm1/protectableItems/sqldatabase;mssqlserver;master\",\"name\":\"sqldatabase;mssqlserver;master\",\"type\":\"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems\",\"properties\":{\"parentName\":\"MSSQLSERVER\",\"serverNam[...]
