{
  "Entries": [
    {
      "RequestUri": "/63d3030d-0ad0-4c4f-8bce-c95a0a669524/cloudservices?api-version=2015-04-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<CloudServices xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <CloudService>\r\n    <Name>RecoveryServices-KL3RZAJ53PF6LVMMAAQ3POPYBY6NXMNSYTW2VH7JISKRFRMEIKVQ-West-US</Name>\r\n    <Label>456a5ef4-fbe3-4312-a559-4dda0b96a5d8</Label>\r\n    <Description>5881c515-ffd2-4f5b-ba20-79712f40e24b</Description>\r\n    <GeoRegion>West US</GeoRegion>\r\n    <Resources>\r\n      <Resource>\r\n        <ResourceProviderNamespace>WAHyperVRecoveryManager</ResourceProviderNamespace>\r\n        <Type>HyperVRecoveryManagerVault</Type>\r\n        <Name>vault4RecordingTests</Name>\r\n        <Plan />\r\n        <SchemaVersion>1.1</SchemaVersion>\r\n        <ETag>72a6d8e1-64bd-4557-8c2d-db1da8cb0730</ETag>\r\n        <State>Started</State>\r\n        <SubState>Ok</SubState>\r\n        <OutputItems>\r\n          <OutputItem>\r\n            <Key>StampId</Key>\r\n            <Value>abeb635b-e186-4605-b464-c7c9e55b226a</Value>\r\n          </OutputItem>\r\n          <OutputItem>\r\n            <Key>ResourceId</Key>\r\n            <Value>3856054504088339384</Value>\r\n          </OutputItem>\r\n          <OutputItem>\r\n            <Key>BackendStampId</Key>\r\n            <Value>75d5c811-a801-4332-8f96-43640cad60e9</Value>\r\n          </OutputItem>\r\n        </OutputItems>\r\n        <OperationStatus>\r\n          <Type>Create</Type>\r\n          <Result>Succeeded</Result>\r\n        </OperationStatus>\r\n        <Label />\r\n      </Resource>\r\n    </Resources>\r\n  </CloudService>\r\n</CloudServices>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/63d3030d-0ad0-4c4f-8bce-c95a0a669524/cloudservices/RecoveryServices-KL3RZAJ53PF6LVMMAAQ3POPYBY6NXMNSYTW2VH7JISKRFRMEIKVQ-West-US/resources/WAHyperVRecoveryManager/~/HyperVRecoveryManagerVault/vault4RecordingTests/Servers?api-version=2015-04-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<ArrayOfServer xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Server>\r\n    <ID>4c83e038-7abd-428b-9138-81065e2bb559</ID>\r\n    <Name>HRM-04-020.dratest.nttest.microsoft.com</Name>\r\n    <Connected>true</Connected>\r\n    <LastHeartbeat>2015-04-16T14:39:18.9313309Z</LastHeartbeat>\r\n    <ProviderVersion>3.5.721.0</ProviderVersion>\r\n    <ServerVersion>3.2.7768.0</ServerVersion>\r\n    <FabricObjectID>4c83e038-7abd-428b-9138-81065e2bb559</FabricObjectID>\r\n    <FabricType>VMM</FabricType>\r\n    <Type>VMM</Type>\r\n  </Server>\r\n  <Server>\r\n    <ID>8ec64e79-fb97-4837-a6b1-1968f3fcc63f</ID>\r\n    <Name>HRM-04-019.dratest.nttest.microsoft.com</Name>\r\n    <Connected>true</Connected>\r\n    <LastHeartbeat>2015-04-16T14:39:19.7621001Z</LastHeartbeat>\r\n    <ProviderVersion>3.5.721.0</ProviderVersion>\r\n    <ServerVersion>3.2.7768.0</ServerVersion>\r\n    <FabricObjectID>8ec64e79-fb97-4837-a6b1-1968f3fcc63f</FabricObjectID>\r\n    <FabricType>VMM</FabricType>\r\n    <Type>VMM</Type>\r\n  </Server>\r\n</ArrayOfServer>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/63d3030d-0ad0-4c4f-8bce-c95a0a669524/cloudservices/RecoveryServices-KL3RZAJ53PF6LVMMAAQ3POPYBY6NXMNSYTW2VH7JISKRFRMEIKVQ-West-US/resources/WAHyperVRecoveryManager/~/HyperVRecoveryManagerVault/vault4RecordingTests/Storages?api-version=2015-04-10&ServerId=4c83e038-7abd-428b-9138-81065e2bb559",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<ArrayOfStorage xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Storage>\r\n    <ID>eed8635c-cc78-4fa5-a81b-ccd6ff8f23fd</ID>\r\n    <Name>phase2RecoveryStorageClassification</Name>\r\n    <FabricObjectID>eed8635c-cc78-4fa5-a81b-ccd6ff8f23fd</FabricObjectID>\r\n    <FabricType>VMM</FabricType>\r\n    <ServerID>4c83e038-7abd-428b-9138-81065e2bb559</ServerID>\r\n    <Type>Classification</Type>\r\n    <StoragePools i:nil=\"true\" />\r\n  </Storage>\r\n</ArrayOfStorage>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/63d3030d-0ad0-4c4f-8bce-c95a0a669524/cloudservices/RecoveryServices-KL3RZAJ53PF6LVMMAAQ3POPYBY6NXMNSYTW2VH7JISKRFRMEIKVQ-West-US/resources/WAHyperVRecoveryManager/~/HyperVRecoveryManagerVault/vault4RecordingTests/StorageMappings?api-version=2015-04-10&PrimaryServerId=4c83e038-7abd-428b-9138-81065e2bb559&RecoveryServerId=8ec64e79-fb97-4837-a6b1-1968f3fcc63f",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<ArrayOfStorageMapping xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" />",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/63d3030d-0ad0-4c4f-8bce-c95a0a669524/cloudservices/RecoveryServices-KL3RZAJ53PF6LVMMAAQ3POPYBY6NXMNSYTW2VH7JISKRFRMEIKVQ-West-US/resources/WAHyperVRecoveryManager/~/HyperVRecoveryManagerVault/vault4RecordingTests/StorageMappings?api-version=2015-04-10&PrimaryServerId=4c83e038-7abd-428b-9138-81065e2bb559&RecoveryServerId=8ec64e79-fb97-4837-a6b1-1968f3fcc63f",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<ArrayOfStorageMapping xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <StorageMapping>\r\n    <PrimaryServerId>4c83e038-7abd-428b-9138-81065e2bb559</PrimaryServerId>\r\n    <PrimaryStorageId>eed8635c-cc78-4fa5-a81b-ccd6ff8f23fd</PrimaryStorageId>\r\n    <PrimaryStorageName>phase2RecoveryStorageClassification</PrimaryStorageName>\r\n    <RecoveryServerId>8ec64e79-fb97-4837-a6b1-1968f3fcc63f</RecoveryServerId>\r\n    <RecoveryStorageId>428b97ff-fca2-4ac9-a169-7b39c00ddad4</RecoveryStorageId>\r\n    <RecoveryStorageName>phase2PrimaryStorageClassification</RecoveryStorageName>\r\n  </StorageMapping>\r\n</ArrayOfStorageMapping>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/63d3030d-0ad0-4c4f-8bce-c95a0a669524/cloudservices/RecoveryServices-KL3RZAJ53PF6LVMMAAQ3POPYBY6NXMNSYTW2VH7JISKRFRMEIKVQ-West-US/resources/WAHyperVRecoveryManager/~/HyperVRecoveryManagerVault/vault4RecordingTests/StorageMappings?api-version=2015-04-10",
      "RequestMethod": "POST",
      "RequestBody": "<StorageMappingInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <PrimaryServerId>4c83e038-7abd-428b-9138-81065e2bb559</PrimaryServerId>\r\n  <PrimaryStorageId>eed8635c-cc78-4fa5-a81b-ccd6ff8f23fd</PrimaryStorageId>\r\n  <RecoveryServerId>8ec64e79-fb97-4837-a6b1-1968f3fcc63f</RecoveryServerId>\r\n  <RecoveryStorageId>428b97ff-fca2-4ac9-a169-7b39c00ddad4</RecoveryStorageId>\r\n</StorageMappingInput>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1429191570819)\\/\",\"NotAfterTimestamp\":\"\\/Date(1429796370819)\\/\",\"ClientRequestId\":\"8ee92d34-71ab-4314-a490-c341ce22e921-2015-04-16 14:39:30Z-P\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"IuaLMltLUBA6c7/MhnbGFmLEGLmz9a8yNY9PBMfVeTw=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ],
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<Job xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>82ecbee4-d887-47c0-bda1-d594cdbca102</ID>\r\n  <ActivityId>8ee92d34-71ab-4314-a490-c341ce22e921-2015-04-16 14:39:30Z-P</ActivityId>\r\n  <AllowedActions xmlns:d2p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\r\n    <d2p1:string>Cancel</d2p1:string>\r\n    <d2p1:string>Restart</d2p1:string>\r\n  </AllowedActions>\r\n  <DisplayName>Classification mapping</DisplayName>\r\n  <EndTime i:nil=\"true\" />\r\n  <Errors />\r\n  <Name>ClassificationPairing</Name>\r\n  <StartTime>2015-04-16T14:39:31.749611Z</StartTime>\r\n  <State>InProgress</State>\r\n  <StateDescription>InProgress</StateDescription>\r\n  <TargetObjectId>eed8635c-cc78-4fa5-a81b-ccd6ff8f23fd</TargetObjectId>\r\n  <TargetObjectName>phase2RecoveryStorageClassification</TargetObjectName>\r\n  <TargetObjectType>Storage</TargetObjectType>\r\n  <Tasks>\r\n    <Task>\r\n      <ID>PairClassificationsPreflightChecksTask</ID>\r\n      <Name>Prerequisites check for mapping classifications</Name>\r\n      <Actions xmlns:d4p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\r\n      <ChildJobId i:nil=\"true\" />\r\n      <EndTime>0001-01-01T00:00:00</EndTime>\r\n      <ExtendedDetails>&lt;Task xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://schemas.microsoft.com/windowsazure\"&gt;\r\n  &lt;ID i:nil=\"true\" /&gt;\r\n  &lt;Name i:nil=\"true\" /&gt;\r\n  &lt;Actions xmlns:d2p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" i:nil=\"true\" /&gt;\r\n  &lt;ChildJobId i:nil=\"true\" /&gt;\r\n  &lt;EndTime&gt;0001-01-01T00:00:00&lt;/EndTime&gt;\r\n  &lt;ExtendedDetails i:nil=\"true\" /&gt;\r\n  &lt;StartTime&gt;0001-01-01T00:00:00&lt;/StartTime&gt;\r\n  &lt;State i:nil=\"true\" /&gt;\r\n  &lt;StateDescription i:nil=\"true\" /&gt;\r\n  &lt;TaskType i:nil=\"true\" /&gt;\r\n&lt;/Task&gt;</ExtendedDetails>\r\n      <StartTime>2015-04-16T14:39:32.0746738Z</StartTime>\r\n      <State>Succeeded</State>\r\n      <StateDescription>Completed</StateDescription>\r\n      <TaskType>TaskDetails</TaskType>\r\n    </Task>\r\n    <Task>\r\n      <ID>PairClassificationsTask</ID>\r\n      <Name>Mapping classifications</Name>\r\n      <Actions xmlns:d4p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" />\r\n      <ChildJobId i:nil=\"true\" />\r\n      <EndTime>0001-01-01T00:00:00</EndTime>\r\n      <ExtendedDetails>&lt;Task xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://schemas.microsoft.com/windowsazure\"&gt;\r\n  &lt;ID i:nil=\"true\" /&gt;\r\n  &lt;Name i:nil=\"true\" /&gt;\r\n  &lt;Actions xmlns:d2p1=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\" i:nil=\"true\" /&gt;\r\n  &lt;ChildJobId i:nil=\"true\" /&gt;\r\n  &lt;EndTime&gt;0001-01-01T00:00:00&lt;/EndTime&gt;\r\n  &lt;ExtendedDetails i:nil=\"true\" /&gt;\r\n  &lt;StartTime&gt;0001-01-01T00:00:00&lt;/StartTime&gt;\r\n  &lt;State i:nil=\"true\" /&gt;\r\n  &lt;StateDescription i:nil=\"true\" /&gt;\r\n  &lt;TaskType i:nil=\"true\" /&gt;\r\n&lt;/Task&gt;</ExtendedDetails>\r\n      <StartTime>0001-01-01T00:00:00</StartTime>\r\n      <State>NotStarted</State>\r\n      <StateDescription>NotStarted</StateDescription>\r\n      <TaskType>TaskDetails</TaskType>\r\n    </Task>\r\n  </Tasks>\r\n</Job>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/63d3030d-0ad0-4c4f-8bce-c95a0a669524/cloudservices/RecoveryServices-KL3RZAJ53PF6LVMMAAQ3POPYBY6NXMNSYTW2VH7JISKRFRMEIKVQ-West-US/resources/WAHyperVRecoveryManager/~/HyperVRecoveryManagerVault/vault4RecordingTests/Jobs/82ecbee4-d887-47c0-bda1-d594cdbca102?api-version=2015-04-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2013-03-01"
        ]
      },
      "ResponseBody": "<Job xmlns=\"http://[...]
