<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AzureStackMachineName" value="azstackvm"/>
    <add key="ArmEndpoint" value="https://azstackvm:30005/"/>
    <add key="GalleryEndpoint" value="https://azstackvm:30016/"/>
    <add key ="AadEnvironment" value="true"/>
    <!-- Random guid given below, modify with the correct one in Record mode-->
    <add key ="AadTenantId" value="4893904a-4e53-4e79-95dd-5f1747e47654"/>
    <add key ="AadApiApplicationId" value ="https://azstackvm.api.azstacktestad.onmicrosoft.com"/>
    <add key="AadLoginUri" value="https://login.windows.net/"/>
    <add key="AadGraphUri" value="https://graph.windows.net/"/>
  </appSettings>
</configuration>
