{
  "Entries": [
    {
      "RequestUri": "/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourcegroups/sql-ie-cmdlet-test-rg90063?api-version=2016-02-01",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourcegroups/sql-ie-cmdlet-test-rg90063?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Australia East\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063\",\r\n  \"name\": \"sql-ie-cmdlet-test-rg90063\",\r\n  \"location\": \"australiaeast\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/resources?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063?api-version=2014-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/sql-ie-cmdlet-server90063' under resource group 'sql-ie-cmdlet-test-rg90063' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063?api-version=2014-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063\",\r\n  \"name\": \"sql-ie-cmdlet-server90063\",\r\n  \"type\": \"Microsoft.Sql/servers\",\r\n  \"location\": \"Australia East\",\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"fullyQualifiedDomainName\": \"sql-ie-cmdlet-server90063.database.windows.net\",\r\n    \"administratorLogin\": \"testuser\",\r\n    \"administratorLoginPassword\": null,\r\n    \"externalAdministratorLogin\": null,\r\n    \"externalAdministratorSid\": null,\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14914"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"version\": \"12.0\",\r\n    \"administratorLogin\": \"testuser\",\r\n    \"administratorLoginPassword\": \"IEp@ssw0rd8170\"\r\n  },\r\n  \"location\": \"Australia East\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063\",\r\n  \"name\": \"sql-ie-cmdlet-server90063\",\r\n  \"type\": \"Microsoft.Sql/servers\",\r\n  \"location\": \"Australia East\",\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"fullyQualifiedDomainName\": \"sql-ie-cmdlet-server90063.database.windows.net\",\r\n    \"administratorLogin\": \"testuser\",\r\n    \"administratorLoginPassword\": \"IEp@ssw0rd8170\",\r\n    \"externalAdministratorLogin\": null,\r\n    \"externalAdministratorSid\": null,\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063/databases/sql-ie-cmdlet-db90063?api-version=2014-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/sql-ie-cmdlet-server90063/databases/sql-ie-cmdlet-db90063' under resource group 'sql-ie-cmdlet-test-rg90063' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063/databases/sql-ie-cmdlet-db90063?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"maxSizeBytes\": \"0\"\r\n  },\r\n  \"location\": \"Australia East\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2016-04-18T10:43:17.5-07:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "30"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063/databases/sql-ie-cmdlet-db90063/azureAsyncOperation/0651a73c-307f-4717-8dad-6092bdadc0f3?api-version=2014-04-01-Preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063/databases/sql-ie-cmdlet-db90063/operationResults/0651a73c-307f-4717-8dad-6092bdadc0f3?api-version=2014-04-01-Preview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063/databases/sql-ie-cmdlet-db90063/operationResults/0651a73c-307f-4717-8dad-6092bdadc0f3?api-version=2014-04-01-Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2016-04-18T17:43:1[...]
[...]
    {
      "RequestUri": "/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063/databases/sql-ie-cmdlet-db90063/operationResults/0651a73c-307f-4717-8dad-6092bdadc0f3?api-version=2014-04-01-Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063/databases/sql-ie-cmdlet-db90063\",\r\n  \"name\": \"sql-ie-cmdlet-db90063\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\",\r\n  \"location\": \"Australia East\",\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"databaseId\": \"c9b6c20b-efcc-4c26-a6c2-764bd61a5f43\",\r\n    \"edition\": \"Standard\",\r\n    \"status\": \"Online\",\r\n    \"serviceLevelObjective\": \"S0\",\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": \"268435456000\",\r\n    \"creationDate\": \"2016-04-18T17:43:17.907Z\",\r\n    \"currentServiceObjectiveId\": \"f1173c43-91bd-4aaa-973c-54e79e15235b\",\r\n    \"requestedServiceObjectiveId\": \"f1173c43-91bd-4aaa-973c-54e79e15235b\",\r\n    \"requestedServiceObjectiveName\": null,\r\n    \"defaultSecondaryLocation\": \"Australia Southeast\",\r\n    \"earliestRestoreDate\": \"2016-04-18T17:54:01.157Z\",\r\n    \"elasticPoolName\": null,\r\n    \"containmentState\": 2\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14911"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063/firewallRules/AllowAllAzureIPs?api-version=2014-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"code\": \"NotFound\",\r\n  \"message\": \"Resource not found for the segment 'firewallRules'.\",\r\n  \"target\": null,\r\n  \"details\": [],\r\n  \"innererror\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14910"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063/firewallRules/AllowAllAzureIPs?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"startIpAddress\": \"0.0.0.0\",\r\n    \"endIpAddress\": \"0.0.0.0\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063/firewallRules/AllowAllAzureIPs\",\r\n  \"name\": \"AllowAllAzureIPs\",\r\n  \"type\": \"Microsoft.Sql/servers/firewallRules\",\r\n  \"location\": \"Australia East\",\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"startIpAddress\": \"0.0.0.0\",\r\n    \"endIpAddress\": \"0.0.0.0\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063/databases/sql-ie-cmdlet-db90063/export?api-version=2014-04-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"storageKeyType\": \"StorageAccessKey\",\r\n  \"storageKey\": \"StorageKey\",\r\n  \"storageUri\": \"http://test.blob.core.windows.net/bacpacs/sql-ie-cmdlet-db90063.bacpac\",\r\n  \"administratorLogin\": \"testuser\",\r\n  \"administratorLoginPassword\": \"IEp@ssw0rd8170\",\r\n  \"authenticationType\": \"sql\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"Export\",\r\n  \"startTime\": \"2016-04-18T17:44:15.794Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "Retry-After": [
          "30"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063/databases/sql-ie-cmdlet-db90063/importExportOperationResults/a31733e3-0241-470c-8b6d-b53b6795d708?api-version=2014-04-01-Preview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063/databases/sql-ie-cmdlet-db90063/importExportOperationResults/a31733e3-0241-470c-8b6d-b53b6795d708?api-version=2014-04-01-Preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"blobUri\": \"http://test.blob.core.windows.net/bacpacs/sql-ie-cmdlet-db90063.bacpac\",\r\n  \"databaseName\": \"sql-ie-cmdlet-db90063\",\r\n  \"errorMessage\": null,\r\n  \"lastModifiedTime\": \"4/18/2016 5:44:14 PM\",\r\n  \"queuedTime\": \"4/18/2016 5:44:14 PM\",\r\n  \"requestId\": \"a31733e3-0241-470c-8b6d-b53b6795d708\",\r\n  \"requestType\": \"Export\",\r\n  \"serverName\": \"sql-ie-cmdlet-server90063.database.windows.net\",\r\n  \"status\": \"Running, Progress = 0%\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ],
        "Retry-After": [
          "30"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14909"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/97708d83-5999-4b97-835b-d059bed92299/resourceGroups/sql-ie-cmdlet-test-rg90063/providers/Microsoft.Sql/servers/sql-ie-cmdlet-server90063/databases/sql-ie-cmdlet-db90063/importExportOperationResults/a31733e3-0241-470c-8b6d-b53b6795d708?api-version=2014-04-01-Preview"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/97708d83-5999-4b97-835b-d059bed92299/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRJRToyRENNRExFVDoyRFRFU1Q6MkRSRzkwMDYzLUFVU1RSQUxJQUVBU1QiLCJqb2JMb2NhdGlvbiI6ImF1c3RyYWxpYWVhc3QifQ?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/97708d83-5999-4b97-835b-d059bed92299/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRJRToyRENNRExFVDoyRFRFU1Q6MkRSRzkwMDYzLUFVU1RSQUxJQUVBU1QiLCJqb2JMb2NhdGlvbiI6ImF1c3RyYWxpYWVhc3QifQ?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/97708d83-5999-4b97-835b-d059bed92299/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRJRToyRENNRExFVDoyRFRFU1Q6MkRSRzkwMDYzLUFVU1RSQUxJQUVBU1QiLCJqb2JMb2NhdGlvbiI6ImF1c3RyYWxpYWVhc3QifQ?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14990"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "CallSite.Target": [
      "IEp@ssw0rd8170"
    ]
  },
  "Variables": {
    "SubscriptionId": "97708d83-5999-4b97-835b-d059bed92299",
    "TenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "Domain": "microsoft.com",
    "User": "llali@microsoft.com"
  }
}