{
  "Remove-AzRecoveryServicesReplicationPolicy+[NoContext]+Delete+$PUT+https://management.azure.com/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/ASRTesting/providers/Microsoft.RecoveryServices/vaults/HyperV2AzureVault/replicationPolicies/replicapolicy5h2a?api-version=2023-02-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/ASRTesting/providers/Microsoft.RecoveryServices/vaults/HyperV2AzureVault/replicationPolicies/replicapolicy5h2a?api-version=2023-02-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"providerSpecificInput\": {\r\n      \"instanceType\": \"HyperVReplicaAzure\",\r\n      \"recoveryPointHistoryDuration\": 10,\r\n      \"applicationConsistentSnapshotFrequencyInHours\": 3,\r\n      \"replicationInterval\": 300\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/ASRTesting/providers/Microsoft.RecoveryServices/vaults/HyperV2AzureVault/replicationPolicies/replicapolicy5h2a/operationresults/e7115e5b-4bed-4597-a618-010b929acf17?api-version=2023-02-01" ],
        "Retry-After": [ "30" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/ASRTesting/providers/Microsoft.RecoveryServices/vaults/HyperV2AzureVault/replicationOperationStatus/e7115e5b-4bed-4597-a618-010b929acf17?api-version=2023-02-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Remove-AzRecoveryServicesReplicationPolicy+[NoContext]+Delete+$GET+https://management.azure.com/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/ASRTesting/providers/Microsoft.RecoveryServices/vaults/HyperV2AzureVault/replicationOperationStatus/e7115e5b-4bed-4597-a618-010b929acf17?api-version=2023-02-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/ASRTesting/providers/Microsoft.RecoveryServices/vaults/HyperV2AzureVault/replicationOperationStatus/e7115e5b-4bed-4597-a618-010b929acf17?api-version=2023-02-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "20" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11997" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"error\":null,\"id\":null,\"name\":\"e7115e5b-4bed-4597-a618-010b929acf17\",\"properties\":null,\"status\":\"Succeeded\",\"startTime\":\"2023-06-06T11:43:31.8882601Z\",\"endTime\":\"2023-06-06T11:43:32.0000000Z\",\"percentComplete\":null}"
    }
  },
  "Remove-AzRecoveryServicesReplicationPolicy+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/ASRTesting/providers/Microsoft.RecoveryServices/vaults/HyperV2AzureVault/replicationPolicies/replicapolicy5h2a?api-version=2023-02-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/ASRTesting/providers/Microsoft.RecoveryServices/vaults/HyperV2AzureVault/replicationPolicies/replicapolicy5h2a?api-version=2023-02-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "21" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11996" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/ASRTesting/providers/Microsoft.RecoveryServices/vaults/HyperV2AzureVault/replicationPolicies/replicapolicy5h2a\",\"name\":\"replicapolicy5h2a\",\"type\":\"Microsoft.RecoveryServices/vaults/replicationPolicies\",\"properties\":{\"friendlyName\":\"replicapolicy5h2a\",\"providerSpecificDetails\":{\"instanceType\":\"HyperVReplicaAzure\",\"recoveryPointHistoryDurationInHours\":10,\"applicationConsistentSnapshotFrequencyInHours\":3,\"replicationInterval\":300,\"encryption\":\"Disabled\",\"activeStorageAccountId\":null}}}"
    }
  },
  "Remove-AzRecoveryServicesReplicationPolicy+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/ASRTesting/providers/Microsoft.RecoveryServices/vaults/HyperV2AzureVault/replicationPolicies?api-version=2023-02-01+4": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/ASRTesting/providers/Microsoft.RecoveryServices/vaults/HyperV2AzureVault/replicationPolicies?api-version=2023-02-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "22" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11995" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/ASRTesting/providers/Microsoft.RecoveryServices/vaults/HyperV2AzureVault/replicationPolicies/replicapolicy5h2a\",\"name\":\"replicapolicy5h2a\",\"type\":\"Microsoft.RecoveryServices/vaults/replicationPolicies\",\"properties\":{\"friendlyName\":\"replicapolicy5h2a\",\"providerSpecificDetails\":{\"instanceType\":\"HyperVReplicaAzure\",\"recoveryPointHistoryDurationInHours\":10,\"applicationConsistentSnapshotFrequencyInHo[...]
