{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peeringServiceProviders?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate-dSTS": [
          "http://schemas.microsoft.com/dsts/saml2-bearer metadata-version=1,sts-realm=realm://dsts.core.azure-test.net/,certificate-sts-address=https://co2agg04-dsts.dsts.core.azure-test.net/v2/wstrust/13/certificate,issued-token-sts-address=https://co2agg04-dsts.dsts.core.azure-test.net/v2/wstrust/13/issuedtoken-bearer,discovery-sts-address=https://co2agg04-dsts.dsts.core.azure-test.net/2012/IDstsDiscoveryService,service-dns-name=secrets.wanrr-test.radar.core.azure-test.net,known-sts-thumbprints=ForBackwardCompatibility,trusted-sts-thumbprints=ForBackwardCompatibility,error=3,error-description=\"The security token is invalid. Cannot decode base64 encoded string. The input is not a valid Base-64 string as it contains a non-base 64 character, more than two padding characters, or an illegal character among the padding characters. \""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"serviceProviderName\": \"Cogent Communications Inc.\"\r\n      },\r\n      \"name\": \"Cogent Communications Inc.\",\r\n      \"type\": \"Microsoft.Peering/peeringServiceProviders\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"serviceProviderName\": \"CenturyLink\"\r\n      },\r\n      \"name\": \"CenturyLink\",\r\n      \"type\": \"Microsoft.Peering/peeringServiceProviders\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"serviceProviderName\": \"Verizon Communications Inc.\"\r\n      },\r\n      \"name\": \"Verizon Communications Inc.\",\r\n      \"type\": \"Microsoft.Peering/peeringServiceProviders\"[...]
