{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/providers/Microsoft.Peering/peeringServiceProviders?api-version=2019-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "59"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"serviceProviderName\": \"TestPeer1\"\r\n      },\r\n      \"name\": \"TestPeer1\",\r\n      \"type\": \"Microsoft.Peering/peeringServiceProviders\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"serviceProviderName\": \"AS47765-Global2536\"\r\n      },\r\n      \"name\": \"AS47765-Global2536\",\r\n      \"type\": \"Microsoft.Peering/peeringServiceProviders\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"serviceProviderName\": \"AS8088-Global1513\"\r\n      },\r\n      \"name\": \"AS8088-Global1513\",\r\n      \"type\": \"Microsoft.Peering/peeringServiceProviders\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"serviceProviderName\": \"AS26601-Global9517\"\r\n      },\r\n      \"name\": \"AS26601-Global9517\",\r\n      \"type\": \"Microsoft.Peering/peeringServiceProviders\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"serviceProviderName\": \"AS56845-Global1191\"\r\n      },\r\n      \"name\": \"AS56845-Global1191\",\r\n      \"type\": \"Microsoft.Peering/peeringServiceProviders\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "3e919f9a-4e26-4736-aa8d-d596d9a49239"
  }
}