{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourcegroups/DmResource-PsTestRun1779?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun1779\",\r\n  \"name\": \"DmResource-PsTestRun1779\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun1779/providers/Microsoft.DataMigration/services/DmService-PsTestRun7745?api-version=2017-11-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualSubnetId\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/Gennadyk2/providers/Microsoft.Network/virtualNetworks/Gennadyk2/subnets/default\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Basic_1vCore\"\r\n  },\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Accepted\",\r\n    \"virtualSubnetId\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/Gennadyk2/providers/Microsoft.Network/virtualNetworks/Gennadyk2/subnets/default\"\r\n  },\r\n  \"etag\": \"CCBy8qewQyaxb91zgZiTHucOaISov1bsjaf3NRC8jaU=\",\r\n  \"id\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun1779/providers/Microsoft.DataMigration/services/DmService-PsTestRun7745\",\r\n  \"location\": \"southcentralus\",\r\n  \"name\": \"DmService-PsTestRun7745\",\r\n  \"sku\": {\r\n    \"name\": \"Basic_1vCore\",\r\n    \"size\": \"1 vCore\",\r\n    \"tier\": \"Basic\"\r\n  },\r\n  \"type\": \"Microsoft.DataMigration/services\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "30"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/providers/Microsoft.DataMigration/locations/southcentralus/operationStatuses/36de7432-c63f-4635-ae1e-6355c4f499c7?api-version=2017-04-15-privatepreview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1149"
        ],
        "ETag": [
          "\"CCBy8qewQyaxb91zgZiTHucOaISov1bsjaf3NRC8jaU=\""
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/providers/Microsoft.DataMigration/locations/southcentralus/operationStatuses/36de7432-c63f-4635-ae1e-6355c4f499c7?api-version=2017-04-15-privatepreview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"36de7432-c63f-4635-ae1e-6355c4f499c7\",\r\n  \"id\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/providers/Microsoft.DataMigration/locations/southcentralus/operationStatuses/36de7432-c63f-4635-ae1e-6355c4f499c7\",\r\n  \"status\": \"Running\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14689"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun1779/providers/Microsoft.DataMigration/services/DmService-PsTestRun7745?api-version=2017-11-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"publicKey\": \"0;AQAB;zRwzk231+y/+bwxzNLhCSm8k8pAeM5WJXWXZr2FmJbrITldJ8nsvgTDmPaLCZePZDFdVDSr0Z53maa/YDz1mcwid3JHBXQorRqZ9rAVMRoPsAURMfRNStof4KbFNDWYOFzcV/fYvHGHn1OQhNbcp/A0HXy+OjBqJdS1y+M15vxk/p4hrlnqQ5EsFKnJiWRP0In4dwj8BU1eDvYKg0/nazEIs5HaTae24wcDcSf5WzVuEJsH+R3QAWN83vaQUBJguMchcNRgdLwS389KsKh2vGdmFsQ/PQLjhCZVdsBSQP7mPwxLGF8jkZsnTzyhwOymQsrs2eE9Wg6mmGwidvYplaw==\",\r\n    \"virtualSubnetId\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/Gennadyk2/providers/Microsoft.Network/virtualNetworks/Gennadyk2/subnets/default\"\r\n  },\r\n  \"etag\": \"LYsLgTlwK96CeojaGXhSsaunW90G/jHXlzPZSs+tV8E=\",\r\n  \"id\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun1779/providers/Microsoft.DataMigration/services/DmService-PsTestRun7745\",\r\n  \"location\": \"southcentralus\",\r\n  \"name\": \"DmService-PsTestRun7745\",\r\n  \"sku\": {\r\n    \"name\": \"Basic_1vCore\",\r\n    \"size\": \"1 vCore\",\r\n    \"tier\": \"Basic\"\r\n  },\r\n  \"type\": \"Microsoft.DataMigration/services\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14659"
        ],
        "ETag": [
          "\"LYsLgTlwK96CeojaGXhSsaunW90G/jHXlzPZSs+tV8E=\""
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun1779/providers/Microsoft.DataMigration/services/DmService-PsTestRun7745/projects/DmProject-PsTestRun1254?api-version=2017-11-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sourcePlatform\": \"SQL\",\r\n    \"targetPlatform\": \"SQLDB\",\r\n    \"sourceConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"52.170.102.36\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"targetConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"pstarget.database.windows.net\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"databasesInfo\": [\r\n      {\r\n        \"sourceDatabaseName\": \"DmDbName-PsTestRun2167\"\r\n      },\r\n      {\r\n        \"sourceDatabaseName\": \"DmDbName-PsTestRun1117\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"sourcePlatform\": \"SQL\",\r\n    \"targetPlatform\": \"SQLDB\",\r\n    \"creationTime\": \"2017-11-07T18:14:22.9788583-08:00\",\r\n    \"sourceConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"52.170.102.36\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"targetConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"pstarget.database.windows.net\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n     [...]
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun1779/providers/Microsoft.DataMigration/services/DmService-PsTestRun7745/projects/DmProject-PsTestRun1254/tasks/DmTask-PsTestRun6211?api-version=2017-11-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"taskType\": \"GetUserTables.Sql\",\r\n    \"input\": {\r\n      \"connectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"52.170.102.36\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        \"trustServerCertificate\": true,\r\n        \"userName\": \"psadmin\",\r\n        \"password\": \"Benchmarking2017\"\r\n      },\r\n      \"selectedDatabases\": [\r\n        \"tpcc_528MB\"\r\n      ]\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"input\": {\r\n      \"connectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"52.170.102.36\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        \"trustServerCertificate\": true,\r\n        \"userName\": \"psadmin\"\r\n      },\r\n      \"selectedDatabases\": [\r\n        \"tpcc_528MB\"\r\n      ]\r\n    },\r\n    \"taskType\": \"GetUserTables.Sql\",\r\n    \"state\": \"Queued\"\r\n  },\r\n  \"etag\": \"f2PWGos2f5i/CuuFAe3ldv4noSpl5dH3mXG1U8dtNu8=\",\r\n  \"id\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun1779/providers/Microsoft.DataMigration/services/DmService-PsTestRun7745/projects/DmProject-PsTestRun1254/tasks/DmTask-PsTestRun6211\",\r\n  \"name\": \"DmTask-PsTestRun6211\",\r\n  \"type\": \"Microsoft.DataMigration/services/projects/tasks\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1135"
        ],
        "ETag": [
          "\"f2PWGos2f5i/CuuFAe3ldv4noSpl5dH3mXG1U8dtNu8=\""
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun1779/providers/Microsoft.DataMigration/services/DmService-PsTestRun7745/projects/DmProject-PsTestRun1254/tasks/DmTask-PsTestRun6211?$expand=output&api-version=2017-11-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"input\": {\r\n      \"connectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"52.170.102.36\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        \"trustServerCertificate\": true,\r\n        \"userName\": \"psadmin\"\r\n      },\r\n      \"selectedDatabases\": [\r\n        \"tpcc_528MB\"\r\n      ]\r\n    },\r\n    \"output\": [],\r\n    \"taskType\": \"GetUserTables.Sql\",\r\n    \"state\": \"Queued\"\r\n  },\r\n  \"id\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun1779/providers/Microsoft.DataMigration/services/DmService-PsTestRun7745/projects/DmProject-PsTestRun1254/tasks/DmTask-PsTestRun6211\",\r\n  \"name\": \"DmTask-PsTestRun6211\",\r\n  \"type\": \"Microsoft.DataMigration/services/projects/tasks\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14658"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/DmResource-PsTestRun1779/providers/Microsoft.DataMigration/services/DmService-PsTestRun7745/projects/DmProject-PsTestRun1254/tasks/DmTask-PsTestRun6211?$expand=output&api-version=2017-11-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"input\": {\r\n      \"connectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"52.170.102.36\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        \"trustServerCertificate\": true,\r\n        \"userName\": \"psadmin\"\r\n      },\r\n      \"selectedDatabases\": [\r\n        \"tpcc_528MB\"\r\n      ]\r\n    },\r\n    \"output\": [\r\n      {\r\n        \"databasesToTables\": {\r\n          \"tpcc_528MB\": [\r\n            {\r\n              \"$type\": \"Microsoft.SqlServer.Advisor.SqlQueries.Models.QueryTable, Microsoft.SqlServer.Advisor.SqlQueries\",\r\n              \"hasRows\": true,\r\n              \"name\": \"dbo.CUSTOMER\"\r\n            },\r\n            {\r\n              \"$type\": \"Microsoft.SqlServer.Advisor.SqlQueries.Models.QueryTable, Microsoft.SqlServer.Advisor.SqlQueries\",\r\n              \"hasRows\": true,\r\n              \"name\": \"dbo.DISTRICT\"\r\n            },\r\n            {\r\n              \"$type\": \"Microsoft.SqlServer.Advisor.SqlQueries.Models.QueryTable, Microsoft.SqlServer.Advisor.SqlQueries\",\r\n              \"hasRows\": true,\r\n[...]
[...]
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourcegroups/DmResource-PsTestRun1779?api-version=2016-02-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1168"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVOMTc3OS1TT1VUSENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoic291dGhjZW50cmFsdXMifQ?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVOMTc3OS1TT1VUSENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoic291dGhjZW50cmFsdXMifQ?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14750"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVOMTc3OS1TT1VUSENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoic291dGhjZW50cmFsdXMifQ?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVOMTc3OS1TT1VUSENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoic291dGhjZW50cmFsdXMifQ?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14722"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "testName": [
      "DmResource-PsTestRun1779",
      "DmService-PsTestRun7745",
      "DmProject-PsTestRun1254",
      "DmDbName-PsTestRun2167",
      "DmDbName-PsTestRun1117",
      "DmTask-PsTestRun6211"
    ]
  },
  "Variables": {
    "SubscriptionId": "fc04246f-04c5-437e-ac5e-206a19e7193f"
  }
}