{
  "Entries": [
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourcegroups/shuhuan_PPE_9-11v2?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/shuhuan_PPE_9-11v2\",\r\n  \"name\": \"shuhuan_PPE_9-11v2\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/shuhuan_PPE_9-11v2/providers/Microsoft.DataMigration/services/shuhuan_PPE_9-11v2?api-version=2018-07-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNicId\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/shuhuan_PPE_9-11v2/providers/Microsoft.Network/networkInterfaces/NIC-5vqhydx2wa2zceqcgz8rsjh5\",\r\n    \"virtualSubnetId\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-USC-VNET-6617/subnets/Subnet-1\"\r\n  },\r\n  \"etag\": \"olgmWSsKH4SkGGoOuz6FxII6OdtYBHfojQYsOV8lvl0=\",\r\n  \"id\": \"/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/shuhuan_PPE_9-11v2/providers/Microsoft.DataMigration/services/shuhuan_PPE_9-11v2\",\r\n  \"location\": \"centralus\",\r\n  \"name\": \"shuhuan_PPE_9-11v2\",\r\n  \"sku\": {\r\n    \"name\": \"BusinessCritical_4vCores\",\r\n    \"size\": \"4 vCores\",\r\n    \"tier\": \"Business Critical\"\r\n  },\r\n  \"type\": \"Microsoft.DataMigration/services\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11961"
        ],
        "ETag": [
          "\"olgmWSsKH4SkGGoOuz6FxII6OdtYBHfojQYsOV8lvl0=\""
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/shuhuan_PPE_9-11v2/providers/Microsoft.DataMigration/services/shuhuan_PPE_9-11v2/projects/DmProject-PsTestRun6703?api-version=2018-07-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sourcePlatform\": \"SQL\",\r\n    \"targetPlatform\": \"SQLMI\",\r\n    \"sourceConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"steven-work.redmond.corp.microsoft.com\\\\stevenf16,12345\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"targetConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"shuhuandmsdbs.database.windows.net\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"databasesInfo\": [\r\n      {\r\n        \"sourceDatabaseName\": \"DmDbName-PsTestRun6620\"\r\n      },\r\n      {\r\n        \"sourceDatabaseName\": \"DmDbName-PsTestRun5882\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"centralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"sourcePlatform\": \"SQL\",\r\n    \"targetPlatform\": \"SQLMI\",\r\n    \"creationTime\": \"2018-09-18T12:01:49.609655-07:00\",\r\n    \"sourceConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"steven-work.redmond.corp.microsoft.com\\\\stevenf16,12345\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"targetConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"shuhuandmsdbs.database.windows.net\",\r\n      \"a[...]
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/shuhuan_PPE_9-11v2/providers/Microsoft.DataMigration/services/shuhuan_PPE_9-11v2/projects/DmProject-PsTestRun6703/tasks/DmTask-PsTestRun2100?api-version=2018-07-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"taskType\": \"ValidateMigrationInput.SqlServer.AzureSqlDbMI\",\r\n    \"input\": {\r\n      \"sourceConnectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"steven-work.redmond.corp.microsoft.com\\\\stevenf16,12345\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        \"trustServerCertificate\": true,\r\n        \"userName\": \"testuser\",\r\n        \"password\": \"Pass\"\r\n      },\r\n      \"targetConnectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"demomi.scus1b3fba4c2acae.database.windows.net\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        \"trustServerCertificate\": true,\r\n        \"userName\": \"demouser\",\r\n        \"password\": \"Password\"\r\n      },\r\n      \"selectedDatabases\": [\r\n        {\r\n          \"name\": \"TestMI\",\r\n          \"restoreDatabaseName\": \"shuhuanTest3\",\r\n          \"backupFileShare\": {\r\n            \"userName\": \"REDMOND\\\\shuhuan\",\r\n            \"password\": \"Bluesoda2@2@\",\r\n            \"path\": \"\\\\\\\\steven-work.redmond.corp.microsoft.com\\\\MI_drop\"\r\n          }\r\n        }\r\n      ],\r\n      \"backupFileShare\": {\r\n        \"userName\": \"REDMOND\\\\shuhuan\",\r\n        \"password\": \"Bluesoda2@2@\",\r\n        \"path\": \"\\\\\\\\steven-work.redmond.corp.microsoft.com\\\\MI_drop\"\r\n      },\r\n      \"backupBlobShare\": {\r\n        \"sasUri\": \"https://shuhuanblob.blob.core.windows.net/blobs?st=2018-09-13T22%3A14%3A54Z&se=2018-09-20T22%3A14%3A00Z&sp=rwdl&sv=2018-03-28&sr=c&sig=6idNuEv9ybzXrUIjSrRo%2FOJbRIpe5rIYNSHsx0zZOYI%3D\"\r\n      },\r\n      \"backupMode\": \"CreateBackup\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"input\": {\r\n      \"sourceConnectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"steven-work.redmond.corp.microsoft.com\\\\stevenf16,12345\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        [...]
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/shuhuan_PPE_9-11v2/providers/Microsoft.DataMigration/services/shuhuan_PPE_9-11v2/projects/DmProject-PsTestRun6703/tasks/DmTask-PsTestRun2100?$expand=output&api-version=2018-07-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"input\": {\r\n      \"sourceConnectionInfo\": {\r\n        \"type\": \[...]
[...]
    {
      "RequestUri": "/subscriptions/fc04246f-04c5-437e-ac5e-206a19e7193f/resourceGroups/shuhuan_PPE_9-11v2/providers/Microsoft.DataMigration/services/shuhuan_PPE_9-11v2/projects/DmProject-PsTestRun6703/tasks/DmTask-PsTestRun2100?api-version=2018-07-15-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "testName": [
      "DmProject-PsTestRun6703",
      "DmDbName-PsTestRun6620",
      "DmDbName-PsTestRun5882",
      "DmTask-PsTestRun2100"
    ]
  },
  "Variables": {
    "SubscriptionId": "fc04246f-04c5-437e-ac5e-206a19e7193f"
  }
}