{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourcegroups/DmResource-PsTestRun9311?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westeurope\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun9311\",\r\n  \"name\": \"DmResource-PsTestRun9311\",\r\n  \"location\": \"westeurope\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun9311/providers/Microsoft.DataMigration/services/DmService-PsTestRun6755?api-version=2018-03-31-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualSubnetId\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-WEU-VNET-6187/subnets/Subnet-1\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Basic_2vCores\"\r\n  },\r\n  \"location\": \"westeurope\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Accepted\",\r\n    \"virtualSubnetId\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-WEU-VNET-6187/subnets/Subnet-1\"\r\n  },\r\n  \"etag\": \"Kt5lb/jbaT10GapKFoL+YbErFJyJTo6ZhXTFGHM/LeA=\",\r\n  \"id\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun9311/providers/Microsoft.DataMigration/services/DmService-PsTestRun6755\",\r\n  \"location\": \"westeurope\",\r\n  \"name\": \"DmService-PsTestRun6755\",\r\n  \"sku\": {\r\n    \"name\": \"Basic_2vCores\",\r\n    \"size\": \"2 vCores\",\r\n    \"tier\": \"Basic\"\r\n  },\r\n  \"type\": \"Microsoft.DataMigration/services\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "30"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/providers/Microsoft.DataMigration/locations/westeurope/operationStatuses/d4cacd84-f52c-466b-bc0d-af0c41c8a49c?api-version=2018-03-31-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "ETag": [
          "\"Kt5lb/jbaT10GapKFoL+YbErFJyJTo6ZhXTFGHM/LeA=\""
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/providers/Microsoft.DataMigration/locations/westeurope/operationStatuses/d4cacd84-f52c-466b-bc0d-af0c41c8a49c?api-version=2018-03-31-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"d4cacd84-f52c-466b-bc0d-af0c41c8a49c\",\r\n  \"id\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/providers/Microsoft.DataMigration/locations/westeurope/operationStatuses/d4cacd84-f52c-466b-bc0d-af0c41c8a49c\",\r\n  \"status\": \"Running\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14984"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun9311/providers/Microsoft.DataMigration/services/DmService-PsTestRun6755?api-version=2018-03-31-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNicId\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun9311/providers/Microsoft.Network/networkInterfaces/NIC-df8ug7fw5ect7mmntey89i38\",\r\n    \"virtualSubnetId\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-WEU-VNET-6187/subnets/Subnet-1\"\r\n  },\r\n  \"etag\": \"E10F0If8JnKvRFsXnCuwWyGicSXKuRsGcm/0v/qfnqg=\",\r\n  \"id\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun9311/providers/Microsoft.DataMigration/services/DmService-PsTestRun6755\",\r\n  \"location\": \"westeurope\",\r\n  \"name\": \"DmService-PsTestRun6755\",\r\n  \"sku\": {\r\n    \"name\": \"Basic_2vCores\",\r\n    \"size\": \"2 vCores\",\r\n    \"tier\": \"Basic\"\r\n  },\r\n  \"type\": \"Microsoft.DataMigration/services\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14987"
        ],
        "ETag": [
          "\"E10F0If8JnKvRFsXnCuwWyGicSXKuRsGcm/0v/qfnqg=\""
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun9311/providers/Microsoft.DataMigration/services/DmService-PsTestRun6755/projects/DmProject-PsTestRun3799?api-version=2018-03-31-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sourcePlatform\": \"SQL\",\r\n    \"targetPlatform\": \"SQLDB\",\r\n    \"sourceConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"10.135.14.62\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"targetConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"ssma-test-server.database.windows.net\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"databasesInfo\": [\r\n      {\r\n        \"sourceDatabaseName\": \"DmDbName-PsTestRun2511\"\r\n      },\r\n      {\r\n        \"sourceDatabaseName\": \"DmDbName-PsTestRun9949\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"westeurope\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"sourcePlatform\": \"SQL\",\r\n    \"targetPlatform\": \"SQLDB\",\r\n    \"creationTime\": \"2018-04-04T13:17:58.7268493-07:00\",\r\n    \"sourceConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"10.135.14.62\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"targetConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"ssma-test-server.database.windows.net\",\r\n      \"authentication\": \"SqlAuthentication\",\r[...]
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun9311/providers/Microsoft.DataMigration/services/DmService-PsTestRun6755/projects/DmProject-PsTestRun3799/tasks/DmTask-PsTestRun6512?api-version=2018-03-31-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"taskType\": \"GetUserTables.Sql\",\r\n    \"input\": {\r\n      \"connectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"10.135.14.62\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        \"trustServerCertificate\": true,\r\n        \"userName\": \"testpsuser\",\r\n        \"password\": \"dmsTestPwd2018\"\r\n      },\r\n      \"selectedDatabases\": [\r\n        \"tpcc\"\r\n      ]\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"input\": {\r\n      \"connectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"10.135.14.62\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        \"trustServerCertificate\": true,\r\n        \"userName\": \"testpsuser\"\r\n      },\r\n      \"selectedDatabases\": [\r\n        \"tpcc\"\r\n      ]\r\n    },\r\n    \"taskType\": \"GetUserTables.Sql\",\r\n    \"state\": \"Queued\"\r\n  },\r\n  \"etag\": \"pskyDUxJi5lX2kS4I4bHgUTvcWxcBGcLxhCzWW1WUvk=\",\r\n  \"id\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun9311/providers/Microsoft.DataMigration/services/DmService-PsTestRun6755/projects/DmProject-PsTestRun3799/tasks/DmTask-PsTestRun6512\",\r\n  \"name\": \"DmTask-PsTestRun6512\",\r\n  \"type\": \"Microsoft.DataMigration/services/projects/tasks\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "ETag": [
          "\"pskyDUxJi5lX2kS4I4bHgUTvcWxcBGcLxhCzWW1WUvk=\""
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun9311/providers/Microsoft.DataMigration/services/DmService-PsTestRun6755/projects/DmProject-PsTestRun3799/tasks/DmTask-PsTestRun6512?$expand=output&api-version=2018-03-31-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"input\": {\r\n      \"connectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"10.135.14.62\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        \"trustServerCertificate\": true,\r\n        \"userName\": \"testpsuser\"\r\n      },\r\n      \"selectedDatabases\": [\r\n        \"tpcc\"\r\n      ]\r\n    },\r\n    \"output\": [],\r\n    \"taskType\": \"GetUserTables.Sql\",\r\n    \"state\": \"Queued\"\r\n  },\r\n  \"id\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun9311/providers/Microsoft.DataMigration/services/DmService-PsTestRun6755/projects/DmProject-PsTestRun3799/tasks/DmTask-PsTestRun6512\",\r\n  \"name\": \"DmTask-PsTestRun6512\",\r\n  \"type\": \"Microsoft.DataMigration/services/projects/tasks\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14986"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun9311/providers/Microsoft.DataMigration/services/DmService-PsTestRun6755/projects/DmProject-PsTestRun3799/tasks/DmTask-PsTestRun6512?$expand=output&api-version=2018-03-31-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"input\": {\r\n      \"connectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"10.135.14.62\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        \"trustServerCertificate\": true,\r\n        \"userName\": \"testpsuser\"\r\n      },\r\n      \"selectedDatabases\": [\r\n        \"tpcc\"\r\n      ]\r\n    },\r\n    \"output\": [\r\n      {\r\n        \"databasesToTables\": {\r\n          \"tpcc\": [\r\n            {\r\n              \"$type\": \"Microsoft.SqlServer.Advisor.SqlQueries.Models.QueryTable, Microsoft.SqlServer.Advisor.SqlQueries\",\r\n              \"hasRows\": false,\r\n              \"name\": \"dbo.CUSTOMER\"\r\n            },\r\n            {\r\n              \"$type\": \"Microsoft.SqlServer.Advisor.SqlQueries.Models.QueryTable, Microsoft.SqlServer.Advisor.SqlQueries\",\r\n              \"hasRows\": false,\r\n              \"name\": \"dbo.DISTRICT\"\r\n            },\r\n            {\r\n              \"$type\": \"Microsoft.SqlServer.Advisor.SqlQueries.Models.QueryTable, Microsoft.SqlServer.Advisor.SqlQueries\",\r\n              \"hasRows\": false,\[...]
[...]
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourcegroups/DmResource-PsTestRun9311?api-version=2016-02-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVOOTMxMS1XRVNURVVST1BFIiwiam9iTG9jYXRpb24iOiJ3ZXN0ZXVyb3BlIn0?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVOOTMxMS1XRVNURVVST1BFIiwiam9iTG9jYXRpb24iOiJ3ZXN0ZXVyb3BlIn0?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14984"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVOOTMxMS1XRVNURVVST1BFIiwiam9iTG9jYXRpb24iOiJ3ZXN0ZXVyb3BlIn0?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVOOTMxMS1XRVNURVVST1BFIiwiam9iTG9jYXRpb24iOiJ3ZXN0ZXVyb3BlIn0?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14960"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "testName": [
      "DmResource-PsTestRun9311",
      "DmService-PsTestRun6755",
      "DmProject-PsTestRun3799",
      "DmDbName-PsTestRun2511",
      "DmDbName-PsTestRun9949",
      "DmTask-PsTestRun6512"
    ]
  },
  "Variables": {
    "SubscriptionId": "6a37df99-a9de-48c4-91e5-7e6ab00b2362"
  }
}