{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourcegroups/DmResource-PsTestRun6134?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westeurope\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun6134\",\r\n  \"name\": \"DmResource-PsTestRun6134\",\r\n  \"location\": \"westeurope\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun6134/providers/Microsoft.DataMigration/services/DmService-PsTestRun805?api-version=2018-03-31-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualSubnetId\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-WEU-VNET-6187/subnets/Subnet-1\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Basic_2vCores\"\r\n  },\r\n  \"location\": \"westeurope\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Accepted\",\r\n    \"virtualSubnetId\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-WEU-VNET-6187/subnets/Subnet-1\"\r\n  },\r\n  \"etag\": \"k/Hqa48ZJxda6TfUtQle64neKeWkiO0ZopXfb4lZ+EU=\",\r\n  \"id\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun6134/providers/Microsoft.DataMigration/services/DmService-PsTestRun805\",\r\n  \"location\": \"westeurope\",\r\n  \"name\": \"DmService-PsTestRun805\",\r\n  \"sku\": {\r\n    \"name\": \"Basic_2vCores\",\r\n    \"size\": \"2 vCores\",\r\n    \"tier\": \"Basic\"\r\n  },\r\n  \"type\": \"Microsoft.DataMigration/services\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "30"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/providers/Microsoft.DataMigration/locations/westeurope/operationStatuses/6f93155b-c854-467f-8a11-68a0d4ad7ca1?api-version=2018-03-31-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "ETag": [
          "\"k/Hqa48ZJxda6TfUtQle64neKeWkiO0ZopXfb4lZ+EU=\""
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/providers/Microsoft.DataMigration/locations/westeurope/operationStatuses/6f93155b-c854-467f-8a11-68a0d4ad7ca1?api-version=2018-03-31-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"6f93155b-c854-467f-8a11-68a0d4ad7ca1\",\r\n  \"id\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/providers/Microsoft.DataMigration/locations/westeurope/operationStatuses/6f93155b-c854-467f-8a11-68a0d4ad7ca1\",\r\n  \"status\": \"Running\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14987"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun6134/providers/Microsoft.DataMigration/services/DmService-PsTestRun805?api-version=2018-03-31-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"virtualNicId\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun6134/providers/Microsoft.Network/networkInterfaces/NIC-43wy3swa3b7y7ip6tdcrunmj\",\r\n    \"virtualSubnetId\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-WEU-VNET-6187/subnets/Subnet-1\"\r\n  },\r\n  \"etag\": \"TungrWm/koUzjDVjSQbK0FMFyIZfeQr1b3+8zxB92Ss=\",\r\n  \"id\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun6134/providers/Microsoft.DataMigration/services/DmService-PsTestRun805\",\r\n  \"location\": \"westeurope\",\r\n  \"name\": \"DmService-PsTestRun805\",\r\n  \"sku\": {\r\n    \"name\": \"Basic_2vCores\",\r\n    \"size\": \"2 vCores\",\r\n    \"tier\": \"Basic\"\r\n  },\r\n  \"type\": \"Microsoft.DataMigration/services\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ],
        "ETag": [
          "\"TungrWm/koUzjDVjSQbK0FMFyIZfeQr1b3+8zxB92Ss=\""
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun6134/providers/Microsoft.DataMigration/services/DmService-PsTestRun805/projects/DmProject-PsTestRun2883?api-version=2018-03-31-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sourcePlatform\": \"SQL\",\r\n    \"targetPlatform\": \"SQLDB\",\r\n    \"sourceConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"10.135.14.62\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"targetConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"ssma-test-server.database.windows.net\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"databasesInfo\": [\r\n      {\r\n        \"sourceDatabaseName\": \"DmDbName-PsTestRun5453\"\r\n      },\r\n      {\r\n        \"sourceDatabaseName\": \"DmDbName-PsTestRun8687\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"westeurope\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"sourcePlatform\": \"SQL\",\r\n    \"targetPlatform\": \"SQLDB\",\r\n    \"creationTime\": \"2018-04-04T03:12:05.433975-07:00\",\r\n    \"sourceConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"10.135.14.62\",\r\n      \"authentication\": \"SqlAuthentication\",\r\n      \"encryptConnection\": true,\r\n      \"trustServerCertificate\": true\r\n    },\r\n    \"targetConnectionInfo\": {\r\n      \"type\": \"SqlConnectionInfo\",\r\n      \"dataSource\": \"ssma-test-server.database.windows.net\",\r\n      \"authentication\": \"SqlAuthentication\",\r\[...]
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun6134/providers/Microsoft.DataMigration/services/DmService-PsTestRun805/projects/DmProject-PsTestRun2883/tasks/DmTask-PsTestRun8126?api-version=2018-03-31-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"taskType\": \"ConnectToSource.SqlServer\",\r\n    \"input\": {\r\n      \"sourceConnectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"10.135.14.62\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        \"trustServerCertificate\": true,\r\n        \"userName\": \"testpsuser\",\r\n        \"password\": \"dmsTestPwd2018\"\r\n      },\r\n      \"CollectLogins\": false,\r\n      \"CollectAgentJobs\": false\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"input\": {\r\n      \"sourceConnectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"10.135.14.62\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        \"trustServerCertificate\": true,\r\n        \"userName\": \"testpsuser\"\r\n      },\r\n      \"CollectLogins\": false,\r\n      \"CollectAgentJobs\": false\r\n    },\r\n    \"taskType\": \"ConnectToSource.SqlServer\",\r\n    \"state\": \"Queued\"\r\n  },\r\n  \"etag\": \"IVPRPHntHN88YL5T+bivXFIjwnhfzcoaiU4g8OtSL8o=\",\r\n  \"id\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun6134/providers/Microsoft.DataMigration/services/DmService-PsTestRun805/projects/DmProject-PsTestRun2883/tasks/DmTask-PsTestRun8126\",\r\n  \"name\": \"DmTask-PsTestRun8126\",\r\n  \"type\": \"Microsoft.DataMigration/services/projects/tasks\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "ETag": [
          "\"IVPRPHntHN88YL5T+bivXFIjwnhfzcoaiU4g8OtSL8o=\""
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun6134/providers/Microsoft.DataMigration/services/DmService-PsTestRun805/projects/DmProject-PsTestRun2883/tasks/DmTask-PsTestRun8126?$expand=output&api-version=2018-03-31-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"input\": {\r\n      \"sourceConnectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"10.135.14.62\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        \"trustServerCertificate\": true,\r\n        \"userName\": \"testpsuser\"\r\n      },\r\n      \"CollectLogins\": false,\r\n      \"CollectAgentJobs\": false\r\n    },\r\n    \"output\": [],\r\n    \"taskType\": \"ConnectToSource.SqlServer\",\r\n    \"state\": \"Queued\"\r\n  },\r\n  \"id\": \"/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun6134/providers/Microsoft.DataMigration/services/DmService-PsTestRun805/projects/DmProject-PsTestRun2883/tasks/DmTask-PsTestRun8126\",\r\n  \"name\": \"DmTask-PsTestRun8126\",\r\n  \"type\": \"Microsoft.DataMigration/services/projects/tasks\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14990"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourceGroups/DmResource-PsTestRun6134/providers/Microsoft.DataMigration/services/DmService-PsTestRun805/projects/DmProject-PsTestRun2883/tasks/DmTask-PsTestRun8126?$expand=output&api-version=2018-03-31-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"input\": {\r\n      \"sourceConnectionInfo\": {\r\n        \"type\": \"SqlConnectionInfo\",\r\n        \"dataSource\": \"10.135.14.62\",\r\n        \"authentication\": \"SqlAuthentication\",\r\n        \"encryptConnection\": true,\r\n        \"trustServerCertificate\": true,\r\n        \"userName\": \"testpsuser\"\r\n      },\r\n      \"CollectLogins\": false,\r\n      \"CollectAgentJobs\": false\r\n    },\r\n    \"output\": [\r\n      {\r\n        \"id\": \"09b17e72-a64c-4f41-978b-6b5ec0c36d9e\",\r\n        \"name\": \"database1\",\r\n        \"sizeMB\": 4.0,\r\n        \"databaseFiles\": [\r\n          {\r\n            \"$type\": \"Microsoft.SqlServer.Migration.Service.Scenarios.Contracts.Migration.DatabaseFileInfo, Microsoft.SqlServer.Migration.Service.Scenarios.Contracts\",\r\n            \"restoreFullName\": null,\r\n            \"databaseName\": null,\r\n            \"id\": \"d1d4b0b7-6cea-49d3-8a3d-28fcdf1235f0\",\r\n            \"logicalName\": \"database1\",\r\n            \"physicalFullName\": \"C:\\\\Program Files\\\\Microsoft SQL Server\\\\MSSQL12.MSSQLSERVER\\\\MSSQL\\\\DATA\\\\database1.mdf\",\r\n            \"fileType\": \"Rows\",\r\n            \"sizeMB\": 3.0\r\n          },\r\n          {\r\n            \"$type\": \"Microsoft.SqlServer.Migration.Service.Scenarios.Contracts.Migration.DatabaseFileInfo, Microsoft.SqlServer.Migration.Service.Scenarios.Contracts\",\r\n            \"restoreFullName\": null,\r\n            \"databaseName\": null,\r\n            \"id\": \"43ad4314-c6a9-440b-9bea-84402d96127c\",\r\n            \"logicalName\": \"database1_log\",\r\n            \"physicalFullName\": \"C:\\\\Program Files\\\\Microsoft SQL Server\\\\MSSQL12.MSSQLSERVER\\\\MSSQL\\\\DATA\\\\database1_log.ldf\",\r\n            \"fileType\": \"Log\",\r\n            \"sizeMB\": 1.0\r\n          }\r\n        ],\r\n        \"compatibilityLevel\": \"CompatLevel120\",\r\n        \"databaseState\": \"Online\",\r\n        \"resultType\": \"DatabaseLevelOutput\"\r\n      },\r\n      {\r\n        \"id\": \"28074c4d-25e2-4b26-af57-03347c366bff\",\r\n        \"name\": \"AlmostNothing1\",\r\n        \"sizeMB\": 3.984375,\r\n        \"databaseFiles\": [\r\n          {\r\n            \"$type\": \"Microsoft.SqlServer.Migration.Service.Scenarios.Contracts.Migration.DatabaseFileInfo, Microsoft.SqlServer.Migration.Service.Scenarios.Contracts\",\r\n            \"restoreFullName\": null,\r\n            \"databaseName\": null,\r\n           [...]
[...]
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/resourcegroups/DmResource-PsTestRun6134?api-version=2016-02-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVONjEzNC1XRVNURVVST1BFIiwiam9iTG9jYXRpb24iOiJ3ZXN0ZXVyb3BlIn0?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVONjEzNC1XRVNURVVST1BFIiwiam9iTG9jYXRpb24iOiJ3ZXN0ZXVyb3BlIn0?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14988"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVONjEzNC1XRVNURVVST1BFIiwiam9iTG9jYXRpb24iOiJ3ZXN0ZXVyb3BlIn0?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/6a37df99-a9de-48c4-91e5-7e6ab00b2362/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1ETVJFU09VUkNFOjJEUFNURVNUUlVONjEzNC1XRVNURVVST1BFIiwiam9iTG9jYXRpb24iOiJ3ZXN0ZXVyb3BlIn0?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14962"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "testName": [
      "DmResource-PsTestRun6134",
      "DmService-PsTestRun805",
      "DmProject-PsTestRun2883",
      "DmDbName-PsTestRun5453",
      "DmDbName-PsTestRun8687",
      "DmTask-PsTestRun8126"
    ]
  },
  "Variables": {
    "SubscriptionId": "6a37df99-a9de-48c4-91e5-7e6ab00b2362"
  }
}