{
  "swagger": "2.0",
  "info": {
    "title": "Azure Compute resource management API.",
    "version": "2025-04-01",
    "description": "Compute Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "VirtualMachineScaleSets"
    },
    {
      "name": "RollingUpgradeStatusInfos"
    },
    {
      "name": "VirtualMachineScaleSetExtensions"
    },
    {
      "name": "VirtualMachineScaleSetVMS"
    },
    {
      "name": "VirtualMachineScaleSetVMExtensions"
    },
    {
      "name": "VirtualMachines"
    },
    {
      "name": "VirtualMachineExtensions"
    },
    {
      "name": "AvailabilitySets"
    },
    {
      "name": "ProximityPlacementGroups"
    },
    {
      "name": "DedicatedHostGroups"
    },
    {
      "name": "DedicatedHosts"
    },
    {
      "name": "SshPublicKeyResources"
    },
    {
      "name": "Images"
    },
    {
      "name": "RestorePointCollections"
    },
    {
      "name": "RestorePoints"
    },
    {
      "name": "CapacityReservationGroups"
    },
    {
      "name": "CapacityReservations"
    },
    {
      "name": "VirtualMachineRunCommands"
    },
    {
      "name": "VirtualMachineScaleSetVMRunCommands"
    }
  ],
  "paths": {
    "/providers/Microsoft.Compute/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/availabilitySets": {
      "get": {
        "operationId": "AvailabilitySets_ListBySubscription",
        "tags": [
          "AvailabilitySets"
        ],
        "description": "Lists all availability sets in a subscription.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply to the operation. Allowed values are 'instanceView'.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AvailabilitySetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/capacityReservationGroups": {
      "get": {
        "operationId": "CapacityReservationGroups_ListBySubscription",
        "tags": [
          "CapacityReservationGroups"
        ],
        "description": "Lists all of the capacity reservation groups in the subscription. Use the nextLink property in the response to get the next page of capacity reservation groups.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. Based on the expand param(s) specified we return Virtual Machine or ScaleSet VM Instance or both resource Ids which are associated to capacity reservation group in the response.",
            "required": false,
            "type": "string",
            "enum": [
              "virtualMachineScaleSetVMs/$ref",
              "virtualMachines/$ref"
            ],
            "x-ms-enum": {
              "name": "ExpandTypesForGetCapacityReservationGroups",
              "modelAsString": true,
              "values": [
                {
                  "name": "virtualMachineScaleSetVMs/$ref",
                  "value": "virtualMachineScaleSetVMs/$ref"
                },
                {
                  "name": "virtualMachines/$ref",
                  "value": "virtualMachines/$ref"
                }
              ]
            }
          },
          {
            "name": "resourceIdsOnly",
            "in": "query",
            "description": "The query option to fetch Capacity Reservation Group Resource Ids. <br> 'CreatedInSubscription' enables fetching Resource Ids for all capacity reservation group resources created in the subscription. <br> 'SharedWithSubscription' enables fetching Resource Ids for all capacity reservation group resources shared with the subscription. <br> 'All' enables fetching Resource Ids for all capacity reservation group resources shared with the subscription and created in the subscription.",
            "required": false,
            "type": "string",
            "enum": [
              "CreatedInSubscription",
              "SharedWithSubscription",
              "All"
            ],
            "x-ms-enum": {
              "name": "ResourceIdOptionsForGetCapacityReservationGroups",
              "modelAsString": true,
              "values": [
                {
                  "name": "CreatedInSubscription",
                  "value": "CreatedInSubscription"
                },
                {
                  "name": "SharedWithSubscription",
                  "value": "SharedWithSubscription"
                },
                {
                  "name": "All",
                  "value": "All"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/hostGroups": {
      "get": {
        "operationId": "DedicatedHostGroups_ListBySubscription",
        "tags": [
          "DedicatedHostGroups"
        ],
        "description": "Lists all of the dedicated host groups in the subscription. Use the nextLink property in the response to get the next page of dedicated host groups.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/images": {
      "get": {
        "operationId": "Images_List",
        "tags": [
          "Images"
        ],
        "description": "Gets the list of Images in the subscription. Use nextLink property in the response to get the next page of Images. Do this till nextLink is null to fetch all the Images.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ImageListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers": {
      "get": {
        "operationId": "VirtualMachineImagesEdgeZone_ListPublishers",
        "description": "Gets a list of virtual machine image publishers for the specified Azure location and edge zone.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          },
          {
            "name": "edgeZone",
            "in": "path",
            "description": "The name of the edge zone.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers": {
      "get": {
        "operationId": "VirtualMachineImagesEdgeZone_ListOffers",
        "description": "Gets a list of virtual machine image offers for the specified location, edge zone and publisher.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          },
          {
            "name": "edgeZone",
            "in": "path",
            "description": "The name of the edge zone.",
            "required": true,
            "type": "string"
          },
          {
            "name": "publisherName",
            "in": "path",
            "description": "A valid image publisher.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus": {
      "get": {
        "operationId": "VirtualMachineImagesEdgeZone_ListSkus",
        "description": "Gets a list of virtual machine image SKUs for the specified location, edge zone, publisher, and offer.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          },
          {
            "name": "edgeZone",
            "in": "path",
            "description": "The name of the edge zone.",
            "required": true,
            "type": "string"
          },
          {
            "name": "publisherName",
            "in": "path",
            "description": "A valid image publisher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "offer",
            "in": "path",
            "description": "A valid image publisher offer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions": {
      "get": {
        "operationId": "VirtualMachineImagesEdgeZone_List",
        "description": "Gets a list of all virtual machine image versions for the specified location, edge zone, publisher, offer, and SKU.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          },
          {
            "name": "edgeZone",
            "in": "path",
            "description": "The name of the edge zone.",
            "required": true,
            "type": "string"
          },
          {
            "name": "publisherName",
            "in": "path",
            "description": "A valid image publisher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "offer",
            "in": "path",
            "description": "A valid image publisher offer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skus",
            "in": "path",
            "description": "A valid image SKU.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An integer value specifying the number of images to return that matches supplied values.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Specifies the order of the results returned. Formatted as an OData query.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions/{version}": {
      "get": {
        "operationId": "VirtualMachineImagesEdgeZone_Get",
        "description": "Gets a virtual machine image in an edge zone.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          },
          {
            "name": "edgeZone",
            "in": "path",
            "description": "The name of the edge zone.",
            "required": true,
            "type": "string"
          },
          {
            "name": "publisherName",
            "in": "path",
            "description": "A valid image publisher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "offer",
            "in": "path",
            "description": "A valid image publisher offer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skus",
            "in": "path",
            "description": "A valid image SKU.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "description": "A valid image SKU version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineImage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/vmimages": {
      "get": {
        "operationId": "VirtualMachineImages_ListByEdgeZone",
        "description": "Gets a list of all virtual machine image versions for the specified edge zone",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          },
          {
            "name": "edgeZone",
            "in": "path",
            "description": "The name of the edge zone.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/VmImagesInEdgeZoneListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/logAnalytics/apiAccess/getRequestRateByInterval": {
      "post": {
        "operationId": "LogAnalytics_ExportRequestRateByInterval",
        "description": "Export logs that show Api requests made by this subscription in the given time window to show throttling activities.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the LogAnalytics getRequestRateByInterval Api.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestRateByIntervalInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LogAnalyticsOperationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/logAnalytics/apiAccess/getThrottledRequests": {
      "post": {
        "operationId": "LogAnalytics_ExportThrottledRequests",
        "description": "Export logs that show total throttled Api requests for this subscription in the given time window.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThrottledRequestsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LogAnalyticsOperationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers": {
      "get": {
        "operationId": "VirtualMachineImages_ListPublishers",
        "description": "Gets a list of virtual machine image publishers for the specified Azure location.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types": {
      "get": {
        "operationId": "VirtualMachineExtensionImages_ListTypes",
        "description": "Gets a list of virtual machine extension image types.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineExtensionImage"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions": {
      "get": {
        "operationId": "VirtualMachineExtensionImages_ListVersions",
        "description": "Gets a list of virtual machine extension image versions.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineExtensionImage"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions/{version}": {
      "get": {
        "operationId": "VirtualMachineExtensionImages_Get",
        "description": "Gets a virtual machine extension image.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineExtensionImage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers": {
      "get": {
        "operationId": "VirtualMachineImages_ListOffers",
        "description": "Gets a list of virtual machine image offers for the specified location and publisher.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "description": "A valid image publisher.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus": {
      "get": {
        "operationId": "VirtualMachineImages_ListSkus",
        "description": "Gets a list of virtual machine image SKUs for the specified location, publisher, and offer.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "description": "A valid image publisher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "offer",
            "in": "path",
            "description": "A valid image publisher offer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions": {
      "get": {
        "operationId": "VirtualMachineImages_List",
        "description": "Gets a list of all virtual machine image versions for the specified location, publisher, offer, and SKU.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "description": "A valid image publisher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "offer",
            "in": "path",
            "description": "A valid image publisher offer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skus",
            "in": "path",
            "description": "A valid image SKU.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions/{version}": {
      "get": {
        "operationId": "VirtualMachineImages_Get",
        "description": "Gets a virtual machine image.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "description": "A valid image publisher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "offer",
            "in": "path",
            "description": "A valid image publisher offer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skus",
            "in": "path",
            "description": "A valid image SKU.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "description": "A valid image SKU version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineImage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/runCommands": {
      "get": {
        "operationId": "VirtualMachineRunCommands_List",
        "description": "Lists all available run commands for a subscription in a location.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RunCommandListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/runCommands/{commandId}": {
      "get": {
        "operationId": "VirtualMachineRunCommands_Get",
        "description": "Gets specific run command for a subscription in a location.",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          },
          {
            "name": "commandId",
            "in": "path",
            "description": "Specifies a commandId of predefined built-in script. Command IDs available for Linux are listed at https://aka.ms/RunCommandManagedLinux#available-commands, Windows at https://aka.ms/RunCommandManagedWindows#available-commands.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RunCommandDocument"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/usages": {
      "get": {
        "operationId": "Usage_List",
        "description": "Gets, for the specified location, the current compute resource usage information as well as the limits for compute resources under the subscription.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ListUsagesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/virtualMachineScaleSets": {
      "get": {
        "operationId": "VirtualMachineScaleSets_ListByLocation",
        "description": "Gets all the VM scale sets under the specified subscription for the specified location.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/virtualMachines": {
      "get": {
        "operationId": "VirtualMachines_ListByLocation",
        "description": "Gets all the virtual machines under the specified subscription for the specified location.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/vmSizes": {
      "get": {
        "operationId": "VirtualMachineSizes_List",
        "description": "This API is deprecated. Use [Resources Skus](https://docs.microsoft.com/rest/api/compute/resourceskus/list)",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineSizeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/proximityPlacementGroups": {
      "get": {
        "operationId": "ProximityPlacementGroups_ListBySubscription",
        "tags": [
          "ProximityPlacementGroups"
        ],
        "description": "Lists all proximity placement groups in a subscription.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProximityPlacementGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/restorePointCollections": {
      "get": {
        "operationId": "RestorePointCollections_ListAll",
        "tags": [
          "RestorePointCollections"
        ],
        "description": "Gets the list of restore point collections in the subscription. Use nextLink property in the response to get the next page of restore point collections. Do this till nextLink is not null to fetch all the restore point collections.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RestorePointCollectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/sshPublicKeys": {
      "get": {
        "operationId": "SshPublicKeys_ListBySubscription",
        "tags": [
          "SshPublicKeyResources"
        ],
        "description": "Lists all of the SSH public keys in the subscription. Use the nextLink property in the response to get the next page of SSH public keys.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SshPublicKeysGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/virtualMachineScaleSets": {
      "get": {
        "operationId": "VirtualMachineScaleSets_ListAll",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Gets a list of all VM Scale Sets in the subscription, regardless of the associated resource group. Use nextLink property in the response to get the next page of VM Scale Sets. Do this till nextLink is null to fetch all the VM Scale Sets.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetListWithLinkResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/virtualMachines": {
      "get": {
        "operationId": "VirtualMachines_ListAll",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Lists all of the virtual machines in the specified subscription. Use the nextLink property in the response to get the next page of virtual machines.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "statusOnly",
            "in": "query",
            "description": "statusOnly=true enables fetching run time status of all Virtual Machines in the subscription.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The system query option to filter VMs returned in the response. Allowed value is 'virtualMachineScaleSet/id' eq /subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmssName}'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on operation. 'instanceView' enables fetching run time status of all Virtual Machines, this can only be specified if a valid $filter option is specified",
            "required": false,
            "type": "string",
            "enum": [
              "instanceView"
            ],
            "x-ms-enum": {
              "name": "ExpandTypesForListVMs",
              "modelAsString": true,
              "values": [
                {
                  "name": "instanceView",
                  "value": "instanceView"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets": {
      "get": {
        "operationId": "AvailabilitySets_List",
        "tags": [
          "AvailabilitySets"
        ],
        "description": "Lists all availability sets in a resource group.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AvailabilitySetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}": {
      "get": {
        "operationId": "AvailabilitySets_Get",
        "tags": [
          "AvailabilitySets"
        ],
        "description": "Retrieves information about an availability set.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "description": "The name of the availability set.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "operationId": "AvailabilitySets_CreateOrUpdate",
        "tags": [
          "AvailabilitySets"
        ],
        "description": "Create or update an availability set.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "description": "The name of the availability set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create Availability Set operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AvailabilitySet' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "operationId": "AvailabilitySets_Update",
        "tags": [
          "AvailabilitySets"
        ],
        "description": "Update an availability set.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "description": "The name of the availability set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update Availability Set operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AvailabilitySetUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "operationId": "AvailabilitySets_Delete",
        "tags": [
          "AvailabilitySets"
        ],
        "description": "Delete an availability set.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "description": "The name of the availability set.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}/cancelMigrationToVirtualMachineScaleSet": {
      "post": {
        "operationId": "AvailabilitySets_CancelMigrationToVirtualMachineScaleSet",
        "tags": [
          "AvailabilitySets"
        ],
        "description": "Cancel the migration operation on an Availability Set.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "description": "The name of the availability set.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}/convertToVirtualMachineScaleSet": {
      "post": {
        "operationId": "AvailabilitySets_ConvertToVirtualMachineScaleSet",
        "tags": [
          "AvailabilitySets"
        ],
        "description": "Create a new Flexible Virtual Machine Scale Set and migrate all the Virtual Machines in the Availability Set. This does not trigger a downtime on the Virtual Machines.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "description": "The name of the availability set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the migrate operation on the availability set.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ConvertToVirtualMachineScaleSetInput"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}/startMigrationToVirtualMachineScaleSet": {
      "post": {
        "operationId": "AvailabilitySets_StartMigrationToVirtualMachineScaleSet",
        "tags": [
          "AvailabilitySets"
        ],
        "description": "Start migration operation on an Availability Set to move its Virtual Machines to a Virtual Machine Scale Set. This should be followed by a migrate operation on each Virtual Machine that triggers a downtime on the Virtual Machine.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "description": "The name of the availability set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the migrate operation on the availability set.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrateToVirtualMachineScaleSetInput"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}/validateMigrationToVirtualMachineScaleSet": {
      "post": {
        "operationId": "AvailabilitySets_ValidateMigrationToVirtualMachineScaleSet",
        "tags": [
          "AvailabilitySets"
        ],
        "description": "Validates that the Virtual Machines in the Availability Set can be migrated to the provided Virtual Machine Scale Set.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "description": "The name of the availability set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the migrate operation on the availability set.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrateToVirtualMachineScaleSetInput"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}/vmSizes": {
      "get": {
        "operationId": "AvailabilitySets_ListAvailableSizes",
        "tags": [
          "AvailabilitySets"
        ],
        "description": "Lists all available virtual machine sizes that can be used to create a new virtual machine in an existing availability set.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "description": "The name of the availability set.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineSizeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups": {
      "get": {
        "operationId": "CapacityReservationGroups_ListByResourceGroup",
        "tags": [
          "CapacityReservationGroups"
        ],
        "description": "Lists all of the capacity reservation groups in the specified resource group. Use the nextLink property in the response to get the next page of capacity reservation groups.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. Based on the expand param(s) specified we return Virtual Machine or ScaleSet VM Instance or both resource Ids which are associated to capacity reservation group in the response.",
            "required": false,
            "type": "string",
            "enum": [
              "virtualMachineScaleSetVMs/$ref",
              "virtualMachines/$ref"
            ],
            "x-ms-enum": {
              "name": "ExpandTypesForGetCapacityReservationGroups",
              "modelAsString": true,
              "values": [
                {
                  "name": "virtualMachineScaleSetVMs/$ref",
                  "value": "virtualMachineScaleSetVMs/$ref"
                },
                {
                  "name": "virtualMachines/$ref",
                  "value": "virtualMachines/$ref"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}": {
      "get": {
        "operationId": "CapacityReservationGroups_Get",
        "tags": [
          "CapacityReservationGroups"
        ],
        "description": "The operation that retrieves information about a capacity reservation group.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. 'InstanceView' will retrieve the list of instance views of the capacity reservations under the capacity reservation group which is a snapshot of the runtime properties of a capacity reservation that is managed by the platform and can change outside of control plane operations.",
            "required": false,
            "type": "string",
            "enum": [
              "instanceView"
            ],
            "x-ms-enum": {
              "name": "CapacityReservationGroupInstanceViewTypes",
              "modelAsString": true,
              "values": [
                {
                  "name": "instanceView",
                  "value": "instanceView"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "operationId": "CapacityReservationGroups_CreateOrUpdate",
        "tags": [
          "CapacityReservationGroups"
        ],
        "description": "The operation to create or update a capacity reservation group. When updating a capacity reservation group, only tags and sharing profile may be modified. Please refer to https://aka.ms/CapacityReservation for more details.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create capacity reservation Group.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CapacityReservationGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroup"
            }
          },
          "201": {
            "description": "Resource 'CapacityReservationGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "operationId": "CapacityReservationGroups_Update",
        "tags": [
          "CapacityReservationGroups"
        ],
        "description": "The operation to update a capacity reservation group. When updating a capacity reservation group, only tags and sharing profile may be modified.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update capacity reservation Group operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroupUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "operationId": "CapacityReservationGroups_Delete",
        "tags": [
          "CapacityReservationGroups"
        ],
        "description": "The operation to delete a capacity reservation group. This operation is allowed only if all the associated resources are disassociated from the reservation group and all capacity reservations under the reservation group have also been deleted. Please refer to https://aka.ms/CapacityReservation for more details.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}/capacityReservations": {
      "get": {
        "operationId": "CapacityReservations_ListByCapacityReservationGroup",
        "tags": [
          "CapacityReservations"
        ],
        "description": "Lists all of the capacity reservations in the specified capacity reservation group. Use the nextLink property in the response to get the next page of capacity reservations.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CapacityReservationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}/capacityReservations/{capacityReservationName}": {
      "get": {
        "operationId": "CapacityReservations_Get",
        "tags": [
          "CapacityReservations"
        ],
        "description": "The operation that retrieves information about the capacity reservation.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationName",
            "in": "path",
            "description": "The name of the capacity reservation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. 'InstanceView' retrieves a snapshot of the runtime properties of the capacity reservation that is managed by the platform and can change outside of control plane operations.",
            "required": false,
            "type": "string",
            "enum": [
              "instanceView"
            ],
            "x-ms-enum": {
              "name": "CapacityReservationInstanceViewTypes",
              "modelAsString": true,
              "values": [
                {
                  "name": "instanceView",
                  "value": "instanceView"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CapacityReservation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "operationId": "CapacityReservations_CreateOrUpdate",
        "tags": [
          "CapacityReservations"
        ],
        "description": "The operation to create or update a capacity reservation. Please note some properties can be set only during capacity reservation creation. Please refer to https://aka.ms/CapacityReservation for more details.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationName",
            "in": "path",
            "description": "The name of the capacity reservation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create capacity reservation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CapacityReservation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CapacityReservation' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CapacityReservation"
            }
          },
          "201": {
            "description": "Resource 'CapacityReservation' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CapacityReservation"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "CapacityReservations_Update",
        "tags": [
          "CapacityReservations"
        ],
        "description": "The operation to update a capacity reservation.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationName",
            "in": "path",
            "description": "The name of the capacity reservation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update capacity reservation operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CapacityReservationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CapacityReservation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "CapacityReservations_Delete",
        "tags": [
          "CapacityReservations"
        ],
        "description": "The operation to delete a capacity reservation. This operation is allowed only when all the associated resources are disassociated from the capacity reservation. Please refer to https://aka.ms/CapacityReservation for more details. Note: Block capacity reservations cannot be deleted after it has been successfully allocated until the schedule end time.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationName",
            "in": "path",
            "description": "The name of the capacity reservation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups": {
      "get": {
        "operationId": "DedicatedHostGroups_ListByResourceGroup",
        "tags": [
          "DedicatedHostGroups"
        ],
        "description": "Lists all of the dedicated host groups in the specified resource group. Use the nextLink property in the response to get the next page of dedicated host groups.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}": {
      "get": {
        "operationId": "DedicatedHostGroups_Get",
        "tags": [
          "DedicatedHostGroups"
        ],
        "description": "Retrieves information about a dedicated host group.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. 'InstanceView' will retrieve the list of instance views of the dedicated hosts under the dedicated host group. 'UserData' is not supported for dedicated host group.",
            "required": false,
            "type": "string",
            "enum": [
              "instanceView",
              "userData",
              "resiliencyView"
            ],
            "x-ms-enum": {
              "name": "InstanceViewTypes",
              "modelAsString": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "operationId": "DedicatedHostGroups_CreateOrUpdate",
        "tags": [
          "DedicatedHostGroups"
        ],
        "description": "Create or update a dedicated host group. For details of Dedicated Host and Dedicated Host Groups please see [Dedicated Host Documentation] (https://go.microsoft.com/fwlink/?linkid=2082596)",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create Dedicated Host Group.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DedicatedHostGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroup"
            }
          },
          "201": {
            "description": "Resource 'DedicatedHostGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "operationId": "DedicatedHostGroups_Update",
        "tags": [
          "DedicatedHostGroups"
        ],
        "description": "Update an dedicated host group.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update Dedicated Host Group operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroupUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "operationId": "DedicatedHostGroups_Delete",
        "tags": [
          "DedicatedHostGroups"
        ],
        "description": "Delete a dedicated host group.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts": {
      "get": {
        "operationId": "DedicatedHosts_ListByHostGroup",
        "tags": [
          "DedicatedHosts"
        ],
        "description": "Lists all of the dedicated hosts in the specified dedicated host group. Use the nextLink property in the response to get the next page of dedicated hosts.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DedicatedHostListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts/{hostName}": {
      "get": {
        "operationId": "DedicatedHosts_Get",
        "tags": [
          "DedicatedHosts"
        ],
        "description": "Retrieves information about a dedicated host.",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostName",
            "in": "path",
            "description": "The name of the dedicated host.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. 'InstanceView' will retrieve the list of instance views of the dedicated host. 'UserData' is not supported for dedicated host.",
            "required": false,
            "type": "string",
            "enum": [
              "instanceView",
              "userData",
              "resiliencyView"
            ],
            "x-ms-enum": {
              "name": "InstanceViewTypes",
              "modelAsString": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DedicatedHost"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "operationId": "DedicatedHosts_CreateOrUpdate",
        "tags": [
          "DedicatedHosts"
        ],
        "description": "Create or update a dedicated host .",
        "parameters": [
          {
            "$ref": "./types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostName",
            "in": "path",
            "description": "The name of the dedicated host.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create Dedicated Host.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DedicatedHost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DedicatedHost' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DedicatedHost"
            }
          },
          "201": {
            "description": "Resource 'DedicatedHost' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DedicatedHost"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
[...]
