{
  "Get-AzComputeFleetOrganization+[NoContext]+List+$GET+https://management.azure.com/subscriptions/24ef61d8-5946-424d-9071-836a721d6a43/providers/Microsoft.ComputeFleet/organizations?api-version=2020-03-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/24ef61d8-5946-424d-9071-836a721d6a43/providers/Microsoft.ComputeFleet/organizations?api-version=2020-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "96ab6b93-94da-4afe-9f52-ba1c78779650", "c655d10e-29c1-42a1-9591-e5ad720627ac" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11989" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/24ef61d8-5946-424d-9071-836a721d6a43/resourceGroups/srallurirg/providers/Microsoft.ComputeFleet/organizations/ppe-metrics-2\",\"name\":\"ppe-metrics-2\",\"type\":\"Microsoft.ComputeFleet/organizations\",\"location\":\"eastus2euap\",\"tags\":{\"test\":\"metrics\"},\"properties\":{\"createdTime\":\"2021-02-20T03:27:56.2878473Z\",\"provisioningState\":\"Succeeded\",\"organizationId\":\"cb95f250-e8a7-4b40-9ca4-fdf2954eceb0\",\"ssoUrl\":\"https://stag.cpdev.cloud/login/sso/cb95f250-e8a7-4b40-9ca4-fdf2954eceb0\",\"offerDetail\":{\"publisherId\":\"computefleetinc\",\"id\":\"computefleet-cloud-azure-stag\",\"planId\":\"computefleet-cloud-azure-payg-stag\",\"planName\":\"ComputeFleet Cloud - Pay as you Go\",\"termUnit\":\"P1M\",\"status\":\"Subscribed\"},\"userDetail\":{\"firstName\":null,\"lastName\":null,\"emailAddress\":\"sralluri@microsoft.com\"}}},{\"id\":\"/subscriptions/24ef61d8-5946-424d-9071-836a721d6a43/resourceGroups/lucas-rg-test/providers/Microsoft.ComputeFleet/organizations/computefleetorg-01-portal\",\"name\":\"computefleetorg-01-portal\",\"type\":\"Microsoft.ComputeFleet/organizations\",\"location\":\"eastus2euap\",\"tags\":{},\"properties\":{\"createdTime\":\"2021-02-23T06:46:09.9593156Z\",\"provisioningState\":\"Failed\",\"organizationId\":null,\"ssoUrl\":null,\"offerDetail\":{\"publisherId\":\"c[...]
