{
  "Get-AzComputeFleetMarketplaceAgreement+[NoContext]+List+$GET+https://management.azure.com/subscriptions/24ef61d8-5946-424d-9071-836a721d6a43/providers/Microsoft.ComputeFleet/agreements?api-version=2020-03-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/24ef61d8-5946-424d-9071-836a721d6a43/providers/Microsoft.ComputeFleet/agreements?api-version=2020-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11994" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/24ef61d8-5946-424d-9071-836a721d6a43/providers/Microsoft.ComputeFleet/agreements/marketplace\",\"name\":\"marketplace\",\"type\":\"Microsoft.ComputeFleet/agreements\",\"properties\":{\"publisher\":\"Microsoft\",\"product\":\"Marketplace\",\"plan\":\"Marketplace\",\"licenseTextLink\":\"https://azure.microsoft.com/en-us/support/legal/marketplace-terms/\",\"privacyPolicyLink\":\"http://www.microsoft.com/privacy\",\"retrieveDatetime\":null,\"signature\":\"\",\"accepted\":false}},{\"id\":\"/subscriptions/24ef61d8-5946-424d-9071-836a721d6a43/providers/Microsoft.ComputeFleet/agreements/default\",\"name\":\"computefleet\",\"type\":\"Microsoft.ComputeFleet/offertypes\",\"properties\":{\"publisher\":\"ComputeFleet\",\"product\":\"Marketplace\",\"plan\":\"ComputeFleet\",\"licenseTextLink\":\"https://www.computefleet.io/marketplace-terms-of-service/\",\"privacyPolicyLink\":\"https://assets.computefleet.io/m/1353b6c3146e5feb/original/20200911-ComputeFleet_Privacy_Statement.pdf\",\"retrieveDatetime\":null,\"signature\":\"\",\"accepted\":false}}]}",
    }
  }
}