{
  "Restart-AzFunctionApp, Stop-AzFunctionApp and Start-AzFunctionApp+[NoContext]+ByName \u0027Functions-PowerShell-74-1atxo6\u0027+$POST+https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-rs70mo/providers/Microsoft.Web/sites/Functions-PowerShell-74-1atxo6/restart?api-version=2023-12-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-rs70mo/providers/Microsoft.Web/sites/Functions-PowerShell-74-1atxo6/restart?api-version=2023-12-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1052" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "799" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "11999" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Restart-AzFunctionApp, Stop-AzFunctionApp and Start-AzFunctionApp+[NoContext]+ByName \u0027Functions-PowerShell-74-1atxo6\u0027+$GET+https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-rs70mo/providers/Microsoft.Web/sites/Functions-PowerShell-74-1atxo6?api-version=2023-12-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-rs70mo/providers/Microsoft.Web/sites/Functions-PowerShell-74-1atxo6?api-version=2023-12-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1053" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"1DC55C5F0805755\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-rs70mo/providers/Microsoft.Web/sites/Functions-PowerShell-74-1atxo6\",\"name\":\"Functions-PowerShell-74-1atxo6\",\"type\":\"Microsoft.Web/sites\",\"kind\":\"functionapp\",\"location\":\"Central US\",\"properties\":{\"name\":\"Functions-PowerShell-74-1atxo6\",\"state\":\"Running\",\"hostNames\":[\"functions-powershell-74-1atxo6.azurewebsites.net\"],\"webSpace\":\"Functions-Test-Windows-Premium-rs70mo-CentralUSwebspace\",\"selfLink\":\"https://waws-prod-dm1-017.api.azurewebsites.windows.net:454/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/webspaces/Functions-Test-Windows-Premium-rs70mo-CentralUSwebspace/sites/Functions-PowerShell-74-1atxo6\",\"repositorySiteName\":\"Functions-PowerShell-74-1atxo6\",\"owner\":null,\"usageState\":\"Normal\",\"enabled\":true,\"adminEnabled\":true,\"siteScopedCertificatesEnabled\":false,\"afdEnabled\":false,\"enabledHostNames\":[\"functions-powershell-74-1atxo6.azurewebsites.net\",\"functions-powershell-74-1atxo6.scm.azurewebsites.net\"],\"siteProperties\":{\"metadata\":null,\"properties\":[{\"name\":\"LinuxFxVersion\",\"value\":\"\"},{\"name\":\"WindowsFxVersion\",\"value\":null}],\"appSettings\":null},\"availabilityState\":\"Normal\",\"sslCertificates\":null,\"csrs\":[],\"cers\":null,\"siteMode\":null,\"hostNameSslStates\":[{\"name\":\"functions-powershell-74-1atxo6.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"virtualIPv6\":null,\"thumbprint\":null,\"certificateResourceId\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Standard\"},{\"name\":\"functions-powershell-74-1atxo6.scm.azurewebsites.net\",\"sslState\":\"Disabled\",\"ipBasedSslResult\":null,\"virtualIP\":null,\"virtualIPv6\":null,\"thumbprint\":null,\"certificateResourceId\":null,\"toUpdate\":null,\"toUpdateIpBasedSsl\":null,\"ipBasedSslState\":\"NotConfigured\",\"hostType\":\"Repository\"}],\"computeMode\":null,\"serverFarm\":null,\"serverFarmId\":\"/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-rs70mo/providers/Microsoft.Web/serverfarms/Functions-Windows-Premium-qnrsj3\",\"reserved\":false,\"isXenon\":false,\"hyperV\":false,\"sandboxType\":null,\"lastModifiedTimeUtc\":\"2025-11-15T00:22:34.6133333\",\"storageRecoveryDefaultState\":\"Running\",\"contentAvailabilityState\":\"Normal\",\"runtimeAvailabilityState\":\"Normal\",\"dnsConfiguration\":{},\"vnetRouteAllEnabled\":false,\"containerAllocationSubnet\":null,\"useContainerLocalhostBindings\":null,\"vnetImagePullEnabled\":false,\"vnetContentShareEnabled\":false,\"legacyServiceEndpointTrafficEvaluation\":null,\"siteConfig\":{\"numberOfWorkers\":1,\"defaultDocuments\":null,\"netFrameworkVersion\":null,\"phpVersion\":null,\"pythonVersion\":null,\"nodeVersion\":null,\"powerShellVersion\":null,\"linuxFxVersion\":\"\",\"windowsFxVersion\":null,\"sandboxType\":null,\"windowsConfiguredStacks\":null,\"requestTracingEnabled\":null,\"remoteDebuggingEnabled\":null,\"remoteDebuggingVersion\":null,\"httpLoggingEnabled\":null,\"azureMonitorLogCategories\":null,\"acrUseManagedIdentityCreds\":false,\"acrUserManagedIdentityID\":null,\"logsDirectorySizeLimit\":null,\"detailedErrorLoggingEnabled\":null,\"publishingUsername\":null,\"publishingPassword\":null,\"appSettings\":null,\"metadata\":null,\"connectionStrings\":null,\"machineKey\":null,\"handlerMappings\":null,\"documentRoot\":null,\"scmType\":null,\"use32BitWorkerProcess\":null,\"webSocketsEnabled\":null,\"alwaysOn\":false,\"javaVersion\":null,\"javaContainer\":null,\"javaContainerVersion\":null,\"appCommandLine\":null,\"managedPipelineMode\":null,\"virtualApplications\":null,\"winAuthAdminState\":null,\"winAuthTenantState\":null,\"customAppPoolIdentityAdminState\":null,\"customAppPoolIdentityTenantState\":null,\"runtimeADUser\":null,\"runtimeADUserPassword\":null,\"loadBalancing\":null,\"routingRules\":null,\"experiments\":null,\"limits\":null,\"autoHealEnabled\":null,\"autoHealRules\":null,\"tracingOptions\":null,\"vnetName\":null,\"vnetRouteAllEnabled\":null,\"vnetPrivatePortsCount\":null,\"publicNetworkAccess\":null,\"cors\":null,\"push\":null,\"apiDefinition\":null,\"apiManagementConfig\":null,\"autoSwapSlotName\":null,\"localMySqlEnabled\":null,\"managedServiceIdentityId\":null,\"xManagedServiceIdentityId\":null,\"keyVaultReferenceIdentity\":null,\"ipSecurityRestrictions\":null,\"ipSecurityRestrictionsDefaultAction\":null,\"scmIpSecurityRestrictions\":null,\"scmIpSecurityRestrictionsDefaultAction\":null,\"scmIpSecurityRestrictionsUseMain\":null,\"http20Enabled\":false,\"minTlsVersion\":null,\"minTlsCipherSuite\":null,\"scmMinTlsCipherSuite\":null,\"supportedTlsCipherSuites\":null,\"scmSupportedTlsCipherSuites\":null,\"scmMinTlsVersion\":null,\"ftpsState\":null,\"preWarmedInstanceCount\":null,\"functionAppScaleLimit\":0,\"elasticWebAppScaleLimit\":null,\"healthCheckPath\":null,\"fileChangeAuditEnabled\":null,\"functionsRuntimeScaleMonitoringEnabled\":null,\"websiteTimeZone\":null,\"minimumElasticInstanceCount\":1,\"azureStorageAccounts\":null,\"http20ProxyFlag\":null,\"sitePort\":null,\"antivirusScanEnabled\":null,\"storageType\":null,\"sitePrivateLinkHostEnabled\":null,\"clusteringEnabled\":false,\"webJobsEnabled\":false},\"functionAppConfig\":null,\"daprConfig\":null,\"deploymentId\":\"Functions-PowerShell-74-1atxo6\",\"slotName\":null,\"trafficManagerHostNames\":null,\"sku\":\"ElasticPremium\",\"scmSiteAlsoStopped\":false,\"targetSwapSlot\":null,\"hostingEnvironment\":null,\"hostingEnvironmentProfile\":null,\"clientAffinityEnabled\":false,\"clientAffinityProxyEnabled\":false,\"useQueryStringAffinity\":false,\"blockPathTraversal\":false,\"clientCertEnabled\":false,\"clientCertMode\":\"Required\",\"clientCertExclusionPaths\":null,\"clientCertExclusionEndPoints\":null,\"hostNamesDisabled\":false,\"ipMode\":\"IPv4\",\"vnetBackupRestoreEnabled\":false,\"domainVerificationIdentifiers\":null,\"customDomainVerificationId\":\"820897FA13D4FC50B7CBA5CA68DA3943859519540BB2DE7460C95F1DB1087127\",\"kind\":\"functionapp\",\"managedEnvironmentId\":null,\"workloadProfileName\":null,\"resourceConfig\":null,\"inboundIpAddress\":\"40.86.96.177\",\"possibleInboundIpAddresses\":\"40.86.96.177,13.89.172.13\",\"inboundIpv6Address\":\"2603:1030:10:8::9\",\"possibleInboundIpv6Addresses\":\"2603:1030:10:8::9\",\"ftpUsername\":\"Functions-PowerShell-74-1atxo6\\\\$Functions-PowerShell-74-1atxo6\",\"ftpsHostName\":\"ftps://waws-prod-dm1-017.ftp.azurewebsites.windows.net/site/wwwroot\",\"outboundIpAddresses\":\"40.122.72.190,40.122.212.27,52.165.20.100,40.78.158.252,40.122.213.17,40.86.96.177\",\"possibleOutboundIpAddresses\":\"40.86.96.40,40.86.100.91,40.86.101.33,40.86.103.136,20.221.48.131,40.122.72.190,40.122.212.27,52.165.20.100,40.78.158.252,40.122.213.17,20.221.3.72,20.221.3.106,20.221.3.254,20.221.4.13,20.221.4.27,20.221.4.72,4.249.217.78,4.249.216.53,4.249.216.60,4.249.216.110,4.249.217.84,4.249.217.87,40.86.96.177\",\"outboundIpv6Addresses\":\"2603:1030:b:25::d1,2603:1030:b:5::235,2603:1030:b:f::10d,2603:1030:b:c::161,2603:1030:b:b::10c,2603:1030:10:8::9,2603:10e1:100:2::2856:60b1\",\"possibleOutboundIpv6Addresses\":\"2603:1030:b:a::112,2603:1030:b:3::156,2603:1030:b:6::338,2603:1030:b:3::15c,2603:1030:b:25::d1,2603:1030:b:5::235,2603:1030:b:f::10d,2603:1030:b:c::161,2603:1030:b:b::10c,2603:1030:b:13::19c,2603:1030:b:25::d4,2603:1030:b:25::d5,2603:1030:b:5::59,2603:1030:b:12::135,2603:1030:b:5::5b,2603:1030:b:c::163,2603:1030:b:12::136,2603:1030:b:3::167,2603:1030:b:b::10e,2603:1030:b:24::fb,2603:1030:b:f::110,2603:1030:10:8::9,2603:10e1:100:2::2856:60b1\",\"containerSize\":1536,\"dailyMemoryTimeQuota\":0,\"suspendedTill\":null,\"siteDisabledReason\":0,\"functionExecutionUnitsCache\":null,\"maxNumberOfWorkers\":null,\"homeStamp\":\"waws-prod-dm1-017\",\"cloningInfo\":null,\"hostingEnvironmentId\":null,\"tags\":null,\"resourceGroup\":\"Functions-Test-Windows-Premium-rs70mo\",\"defaultHostName\":\"functions-powershell-74-1atxo6.azurewebsites.net\",\"slotSwapStatus\":null,\"httpsOnly\":false,\"endToEndEncryptionEnabled\":false,\"functionsRuntimeAdminIsolationEnabled\":false,\"redundancyMode\":\"None\",\"inProgressOperationId\":null,\"geoDistributions\":null,\"privateEndpointConnections\":[],\"publicNetworkAccess\":null,\"buildVersion\":null,\"targetBuildVersion\":null,\"migrationState\":null,\"eligibleLogCategories\":\"FunctionAppLogs,AppServiceAuthenticationLogs\",\"inFlightFeatures\":[\"SiteContainers\",\"RouteGeoCapacityClientTrafficToV2\",\"RouteOperationClientTrafficToV2\",\"RouteGeoPlanClientTrafficToV2\",\"RouteGeoSourceControlKeyClientTrafficToV2\",\"RouteGeoUserClientTrafficToV2\"],\"storageAccountRequired\":false,\"virtualNetworkSubnetId\":null,\"keyVaultReferenceIdentity\":\"SystemAssigned\",\"autoGeneratedDomainNameLabelScope\":null,\"privateLinkIdentifiers\":null,\"sshEnabled\":null}}",
    }
  },
  "Restart-AzFunctionApp, Stop-AzFunctionApp and Start-AzFunctionApp+[NoContext]+ByName \u0027Functions-PowerShell-74-1atxo6\u0027+$POST+https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-rs70mo/providers/Microsoft.Web/sites/Functions-PowerShell-74-1atxo6/config/appsettings/list?api-version=2023-12-01+3": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-rs70mo/providers/Microsoft.Web/sites/Functions-PowerShell-74-1atxo6/config/appsettings/list?api-version=2023-12-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1054" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "799" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-rs70mo/providers/Microsoft.Web/sites/Functions-PowerShell-74-1atxo6/config/appsettings\",\"name\":\"appsettings\",\"type\":\"Microsoft.Web/sites/config\",\"location\":\"Central US\",\"properties\":{\"FUNCTIONS_WORKER_RUNTIME\":\"powershell\",\"AzureWebJobsStorage\":\"DefaultEndpointsProtocol=https;AccountName=REDACTEDACCOUNT;AccountKey=STORAGE-ACCOUNT-KEY-REDACTED;EndpointSuffix=core.windows.net\",\"FUNCTIONS_EXTENSION_VERSION\":\"~4\",\"WEBSITE_CONTENTAZUREFILECONNECTIONSTRING\":\"DefaultEndpointsProtocol=https;AccountName=REDACTEDACCOUNT;AccountKey=STORAGE-ACCOUNT-KEY-REDACTED;EndpointSuffix=core.windows.net\",\"WEBSITE_CONTENTSHARE\":\"functions-powershell-74-1atxo6\",\"APPLICATIONINSIGHTS_CONNECTION_STRING\":\"InstrumentationKey=AI-INSTRUMENTATION-KEY-REDACTED;IngestionEndpoint=https://redacted.ingest/;LiveEndpoint=https://redacted.live/;ApplicationId=APP-INSIGHTS-APPID-REDACTED\"}}",
    }
  },
  "Restart-AzFunctionApp, Stop-AzFunctionApp and Start-AzFunctionApp+[NoContext]+ByName \u0027Functions-PowerShell-74-1atxo6\u0027+$GET+https://management.azure.com/subscriptions/26cfabf6-eb15-4de5-ae51-f2218958bd5f/resourceGroups/Functions-Test-Windows-Premium-rs70mo/providers/Microsoft.Web/sites/Functions-[...]
