{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups/AzGovPerfTest/providers/Microsoft.PolicyInsights/policyStates/default/queryResults?api-version=2019-10-01&$top=10&$from=2022-01-08T00%3A00%3A00Z",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-policy-insights-requests": [
          "149"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://westus.management.azure.com/providers/Microsoft.Management/managementGroups/AzGovPerfTest/providers/Microsoft.PolicyInsights/policyStates/$metadata#default\",\r\n  \"@odata.count\": 10,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://westus.management.azure.com/providers/Microsoft.Management/managementGroups/AzGovPerfTest/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity\",\r\n      \"timestamp\": \"2022-01-13T20:52:59.1432731Z\",\r\n      \"resourceId\": \"/subscriptions/5ed21cc4-a600-49f3-bbca-e21ae4799be2\",\r\n      \"policyAssignmentId\": \"/subscriptions/5ed21cc4-a600-49f3-bbca-e21ae4799be2/providers/microsoft.authorization/policyassignments/securitycenterbuiltin\",\r\n      \"policyDefinitionId\": \"/providers/microsoft.authorization/policydefinitions/6e2593d9-add6-4083-9c9b-4b7d2188c899\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"5ed21cc4-a600-49f3-bbca-e21ae4799be2\",\r\n      \"resourceType\": \"Microsoft.Resources/subscriptions\",\r\n      \"resourceLocation\": \"\",\r\n      \"resourceGroup\": \"\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"SecurityCenterBuiltIn\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"\",\r\n      \"policyAssignmentScope\": \"/subscriptions/5ed21cc4-a600-49f3-bbca-e21ae4799be2\",\r\n      \"policyDefinitionName\": \"6e2593d9-add6-4083-9c9b-4b7d2188c899\",\r\n      \"policyDefinitionAction\": \"auditifnotexists\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"/providers/Microsoft.Authorization/policySetDefinitions/1f3afdf9-d0c9-4c3d-847f-89da613e70a8\",\r\n      \"policySetDefinitionName\": \"1f3afdf9-d0c9-4c3d-847f-89da613e70a8\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"security center\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"AzGovPerfTest,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"emailnotificationforhighseverityalertsshouldbeenabledmonitoringeffect\",\r\n      \"complianceState\": \"NonCompliant\",\r\n      \"policyDefinitionGroupNames\": [\r\n        \"azure_security_benchmark_v3.0_ir-2\"\r\n      ],\r\n      \"policyDefinitionVersion\": \"1.0.1\",\r\n      \"policySetDefinitionVersion\": \"44.0.0\",\r\n      \"policyAssignmentVersion\": \"\",\r\n      \"complianceReasonCode\": \"\"\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://westus.management.azure.com/providers/Microsoft.Management/managementGroups/AzGovPerfTest/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity\",\r\n      \"timestamp\": \"2022-01-13T20:52:59.0499127Z\",\r\n      \"resourceId\": \"/subscriptions/5ed21cc4-a600-49f3-bbca-e21ae4799be2\",\r\n      \"policyAssignmentId\": \"/subscriptions/5ed21cc4-a600-49f3-bbca-e21ae4799be2/providers/mi[...]
