{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups/azgovtest4/providers/Microsoft.PolicyInsights/policyStates/default/queryResults?api-version=2018-04-04&$top=10&$from=2018-03-31T00:00:00Z",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/providers/Microsoft.Management/managementGroups/azgovtest4/providers/Microsoft.PolicyInsights/policyStates/$metadata#default\",\r\n  \"@odata.count\": 10,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/providers/Microsoft.Management/managementGroups/azgovtest4/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity\",\r\n      \"timestamp\": \"2018-06-04T17:33:57Z\",\r\n      \"resourceId\": \"/subscriptions/acc3e6fc-7c70-46a9-8d3d-a50f58b72b07/resourceGroups/ignite2016/providers/microsoft.insights/actionGroups/ignite2016seau_AG_1\",\r\n      \"policyAssignmentId\": \"/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.Authorization/policyAssignments/186044306c044a1d8c0ff76c\",\r\n      \"policyDefinitionId\": \"/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.Authorization/policyDefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"acc3e6fc-7c70-46a9-8d3d-a50f58b72b07\",\r\n      \"resourceType\": \"/microsoft.insights/actionGroups\",\r\n      \"resourceLocation\": \"global\",\r\n      \"resourceGroup\": \"ignite2016\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"186044306c044a1d8c0ff76c\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"{\\\"allowedLocations\\\":{\\\"value\\\":[\\\"centralus\\\"]}}\",\r\n      \"policyAssignmentScope\": \"/providers/Microsoft.Management/managementGroups/AzGovTest1\",\r\n      \"policyDefinitionName\": \"022d9357-5a90-46f7-9554-21d30ce4c32d\",\r\n      \"policyDefinitionAction\": \"audit\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"\",\r\n      \"policySetDefinitionName\": \"\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"AzGovTest4,AzGovTest3,AzGovTest2,AzGovTest1,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"\"\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/providers/Microsoft.Management/managementGroups/azgovtest4/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity\",\r\n      \"timestamp\": \"2018-06-04T17:33:57Z\",\r\n      \"resourceId\": \"/subscriptions/acc3e6fc-7c70-46a9-8d3d-a50f58b72b07/resourceGroups/ignite2016/providers/microsoft.insights/actionGroups/ignite2016seau_AG_1\",\r\n      \"policyAssignmentId[...]
