{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/default/queryResults?api-version=2018-07-01-preview&$top=10&$from=2019-01-20T00%3A00%3A00Z",
=======
      "RequestUri": "/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/providers/Microsoft.PolicyInsights/policyStates/default/queryResults?api-version=2019-10-01&$top=10&$from=2020-03-24T00%3A00%3A00Z",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "fc2d0dfb-4f18-478e-a9fc-0b2b4bce0ac9"
=======
          "5275f478-de9f-495e-a80a-b689a785522d"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27317.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/2.0.2.0"
=======
          "FxVersion/4.6.28516.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.PolicyInsights.PolicyInsightsClient/3.1.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Vary": [
          "Accept-Encoding"
        ],
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "596"
        ],
        "x-ms-request-id": [
          ":7c92676b-f4b7-4e83-8590-6efc45ed956e"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11965"
        ],
        "x-ms-correlation-request-id": [
          "12bc203e-6eca-43cd-a887-9a72699d2e8f"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20190416T211735Z:12bc203e-6eca-43cd-a887-9a72699d2e8f"
=======
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "598"
        ],
        "x-ms-request-id": [
          ":90aa1843-18ab-454e-9776-7b84f5e43302"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "x-ms-correlation-request-id": [
          "3615a5c1-b167-49ab-81f8-7e70253fa4ed"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200331T000648Z:3615a5c1-b167-49ab-81f8-7e70253fa4ed"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 16 Apr 2019 21:17:35 GMT"
        ],
        "Content-Length": [
          "17416"
=======
          "Tue, 31 Mar 2020 00:06:48 GMT"
        ],
        "Content-Length": [
          "16908"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/$metadata#default\",\r\n  \"@odata.count\": 10,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity\",\r\n      \"timestamp\": \"2019-04-16T21:13:34.9191846Z\",\r\n      \"resourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/azgovintpolicyimagebuilder/providers/microsoft.compute/virtualmachines/azpolimgbldint3\",\r\n      \"policyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/microsoft.authorization/policyassignments/securitycenterbuiltin\",\r\n      \"policyDefinitionId\": \"/providers/microsoft.authorization/policydefinitions/86b3d65f-7626-441e-b690-81a8b71cff60\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"d0610b27-9663-4c05-89f8-5b4be01e86a5\",\r\n      \"resourceType\": \"/Microsoft.Compute/virtualMachines\",\r\n      \"resourceLocation\": \"eastus\",\r\n      \"resourceGroup\": \"AzGovIntPolicyImageBuilder\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"SecurityCenterBuiltIn\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"\",\r\n      \"policyAssignmentScope\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5\",\r\n      \"policyDefinitionName\": \"86b3d65f-7626-441e-b690-81a8b71cff60\",\r\n      \"policyDefinitionAction\": \"auditifnotexists\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"/providers/Microsoft.Authorization/policySetDefinitions/1f3afdf9-d0c9-4c3d-847f-89da613e70a8\",\r\n      \"policySetDefinitionName\": \"1f3afdf9-d0c9-4c3d-847f-89da613e70a8\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"ArtTest2,ArtTest1,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"systemupdatesmonitoring\",\r\n      \"complianceState\": \"NonCompliant\"\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity\",\r\n      \"timestamp\": \"2019-04-16T21:13:34.9191566Z\",\r\n      \"resourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/azgovintpolicyimagebuilder/providers/microsoft.compute/virtualmachines/azpolimgbldint3\",\r\n[...]
