{
  "Entries": [
    {
      "RequestUri": "/subscriptions/58768663-9606-45cf-a196-136d98585866/resourcegroups/ps1831?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "Bearer authorization_uri=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", error=\"invalid_token\", error_description=\"The access token has expired.\""
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ExpiredAuthenticationToken\",\r\n    \"message\": \"The access token expiry UTC time '10/22/2024 5:21:32 PM' is earlier than current UTC time '10/22/2024 5:22:12 PM'.\"\r\n  }\r\n}",
      "StatusCode": 401
    },
    {
      "RequestUri": "/subscriptions/58768663-9606-45cf-a196-136d98585866/resourceGroups/ps1831/providers/Microsoft.Network/privateDnsZones/ps1539.pstest.test?api-version=2024-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": [
          "*"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"tags\": {\r\n    \"tag1\": \"value1\"\r\n  },\r\n  \"location\": \"global\"\r\n}",
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "Bearer authorization_uri=\"https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47\", error=\"invalid_token\", error_description=\"The access token has expired.\""
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ExpiredAuthenticationToken\",\r\n    \"message\": \"The access token expiry UTC time '10/22/2024 5:21:32 PM' is earlier than current UTC time '10/22/2024 5:22:12 PM'.\"\r\n  }\r\n}",
      "StatusCode": 401
    }
  ],
  "Names": {
    "Test-UpdateLinkWithNoChangesShouldNotThrow": [
      "ps1539",
      "ps8446",
      "ps1831"
    ]
  },
  "Variables": {
    "SubscriptionId": "58768663-9606-45cf-a196-136d98585866"
  }
}