{
  "Get-AzContainerRegistryUsage+[NoContext]+List+$GET+https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ContainerTest/providers/Microsoft.ContainerRegistry/registries/beauxq/listUsages?api-version=2023-01-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0e745469-49f8-48c9-873b-24ca87143db1/resourceGroups/ContainerTest/providers/Microsoft.ContainerRegistry/registries/beauxq/listUsages?api-version=2023-01-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "92" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "api-supported-versions": [ "2023-01-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "248" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3748" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"name\":\"Size\",\"limit\":536870912000,\"currentValue\":0,\"unit\":\"Bytes\"},{\"name\":\"Webhooks\",\"limit\":500,\"currentValue\":2,\"unit\":\"Count\"},{\"name\":\"Geo-replications\",\"limit\":-1,\"currentValue\":3,\"unit\":\"Count\"},{\"name\":\"IPRules\",\"limit\":200,\"currentValue\":0,\"unit\":\"Count\"},{\"name\":\"VNetRules\",\"limit\":100,\"currentValue\":0,\"unit\":\"Count\"},{\"name\":\"PrivateEndpointConnections\",\"limit\":200,\"currentValue\":0,\"unit\":\"Count\"},{\"name\":\"ScopeMaps\",\"limit\":50000,\"currentValue\":2,\"unit\":\"Count\"},{\"name\":\"Tokens\",\"limit\":50000,\"currentValue\":2,\"unit\":\"Count\"}]}",
    }
  }
}