{
  "Test-AzContainerRegistryNameAvailability+[NoContext]+Check+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2023-01-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2023-01-01-preview",
      "Content": "{\r\n  \"name\": \"rfkqmj\",\r\n  \"type\": \"Microsoft.ContainerRegistry/registries\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11843" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"nameAvailable\":false,\"reason\":\"AlreadyExists\",\"message\":\"The registry rfkqmj is already in use.\"}",
    }
  }
}