{
  "Entries": [
    {
      "RequestUri": "/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem/snapshots?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1D4EFFFF2C1B3AB\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem/snapshots/2019-04-04T20_53_01_1789822\",\r\n      \"name\": \"2019-04-04T20:53:01.1789822\",\r\n      \"type\": \"Microsoft.Web/sites/snapshots\",\r\n      \"properties\": {\r\n        \"time\": \"2019-04-04T20:53:01.1789822\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem/snapshots/2019-04-05T04_53_01_4488346\",\r\n      \"name\": \"2019-04-05T04:53:01.4488346\",\r\n      \"type\": \"Microsoft.Web/sites/snapshots\",\r\n      \"properties\": {\r\n        \"time\": \"2019-04-05T04:53:01.4488346\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/798436ab-a054-4fbf[...]
    {
      "RequestUri": "/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1D4EFFFF2C1B3AB\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem\",\r\n  \"name\": \"nkprem\",\r\n  \"type\": \"Microsoft.Web/sites\",\r\n  \"kind\": \"app\",\r\n  \"location\": \"West US 2\",\r\n  \"properties\": {\r\n    \"name\": \"nkprem\",\r\n    \"state\": \"Running\",\r\n    \"hostNames\": [\r\n      \"nkprem.azurewebsites.net\"\r\n    ],\r\n    \"webSpace\": \"web2-WestUS2webspace\",\r\n    \"selfLink\": \"https://waws-prod-mwh-027.api.azurewebsites.windows.net:454/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/webspaces/web2-WestUS2webspace/sites/nkprem\",\r\n    \"repositorySiteName\": \"nkprem\",\r\n    \"owner\": null,\r\n    \"usageState\": \"Normal\",\r\n    \"enabled\": true,\r\n    \"adminEnabled\": true,\r\n    \"enabledHostNames\": [\r\n      \"nkprem.azurewebsites.net\",\r\n      \"nkprem.scm.azurewebsites.net\"\r\n    ],\r\n    \"siteProperties\": {\r\n      \"metadata\": null,\r\n      \"properties\": [\r\n        {\r\n          \"name\": \"LinuxFxVersion\",\r\n          \"value\": \"\"\r\n        },\r\n        {\r\n          \"name\": \"WindowsFxVersion\",\r\n          \"value\": null\r\n        }\r\n      ],\r\n      \"appSettings\": null\r\n    },\r\n    \"availabilityState\": \"Normal\",\r\n    \"sslCertificates\": null,\r\n    \"csrs\": [],\r\n    \"cers\": null,\r\n    \"siteMode\": null,\r\n    \"hostNameSslStates\": [\r\n      {\r\n        \"name\": \"nkprem.azurewebsites.net\",\r\n        \"sslState\": \"Disabled\",\r\n        \"ipBasedSslResult\": null,\r\n        \"virtualIP\": null,\r\n        \"thumbprint\": null,\r\n        \"toUpdate\": null,\r\n        \"toUpdateIpBasedSsl\": null,\r\n        \"ipBasedSslState\": \"NotConfigured\",\r\n        \"hostType\": \"Standard\"\r\n      },\r\n      {\r\n        \"name\": \"nkprem.scm.azurewebsites.net\",\r\n        \"sslState\": \"Disabled\",\r\n        \"ipBasedSslResult\": null,\r\n        \"virtualIP\": null,\r\n        \"thumbprint\": null,\r\n        \"toUpdate\": null,\r\n        \"toUpdateIpBasedSsl\": null,\r\n        \"ipBasedSslState\": \"NotConfigured\",\r\n        \"hostType\": \"Repository\"\r\n      }\r\n    ],\r\n    \"computeMode\": null,\r\n    \"serverFarm\": null,\r\n    \"serverFarmId\": \"/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/serverfarms/premiumasp\",\r\n    \"reserved\": false,\r\n    \"isXenon\": false,\r\n    \"hyperV\": false,\r\n    \"lastModifiedTimeUtc\": \"2019-04-11T00:46:06.9066667\",\r\n    \"storageRecoveryDefaultState\": \"Running\",\r\n    \"contentAvailabilityState\": \"Normal\",\r\n    \"runtimeAvailabilityState\": \"Normal\",\r\n    \"siteConfig\": null,\r\n    \"deploymentId\": \"nkprem\",\r\n    \"trafficManagerHostNames\": null,\r\n    \"sku\": \"PremiumV2\",\r\n    \"scmSiteAlsoStopped\": false,\r\n    \"targetSwapSlot\": null,\r\n    \"hostingEnvironment\": null,\r\n    \"hostingEnvironmentProfile\": null,\r\n    \"clientAffinityEnabled\": true,\r\n    \"clientCertEnabled\": false,\r\n    \"clientCertExclusionPaths\": null,\r\n    \"hostNamesDisabled\": false,\r\n    \"domainVerificationIdentifiers\": null,\r\n    \"kind\": \"app\",\r\n    \"outboundIpAddresses\": \"52.183.70.91,52.183.23.46,52.191.169.11\",\r\n    \"possibleOutboundIpAddresses\": \"13.77.157.133,13.66.163.144,52.229.14.204,13.66.193.95,13.66.193.186,52.183.70.91,52.183.23.46,52.191.169.11\",\r\n    \"containerSize\": 0,\r\n    \"dailyMemoryTimeQuota\": 0,\r\n    \"suspendedTill\": null,\r\n    \"siteDisabledReason\": 0,\r\n    \"functionExecutionUnitsCache\": null,\r\n    \"maxNumberOfWorkers\": null,\r\n    \"homeStamp\": \"waws-prod-mwh-027\",\r\n    \"cloningInfo\": null,\r\n    \"hostingEnvironmentId\": null,\r\n    \"tags\": null,\r\n    \"resourceGroup\": \"web2\",\r\n    \"defaultHostName\": \"nkprem.azurewebsites.net\",\r\n    \"slotSwapStatus\": null,\r\n    \"httpsOnly\": false,\r\n    \"redundancyMode\": \"None\",\r\n    \"inProgressOperationId\": null,\r\n    \"geoDistributions\": null\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem/config/web?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem/config/web\",\r\n  \"name\": \"nkprem\",\r\n  \"type\": \"Microsoft.Web/sites/config\",\r\n  \"location\": \"West US 2\",\r\n  \"properties\": {\r\n    \"numberOfWorkers\": 1,\r\n    \"defaultDocuments\": [\r\n      \"Default.htm\",\r\n      \"Default.html\",\r\n      \"Default.asp\",\r\n      \"index.htm\",\r\n      \"index.html\",\r\n      \"iisstart.htm\",\r\n      \"default.aspx\",\r\n      \"index.php\",\r\n      \"hostingstart.html\"\r\n    ],\r\n    \"netFrameworkVersion\": \"v4.0\",\r\n    \"phpVersion\": \"5.6\",\r\n    \"pythonVersion\": \"\",\r\n    \"nodeVersion\": \"\",\r\n    \"linuxFxVersion\": \"\",\r\n    \"windowsFxVersion\": null,\r\n    \"requestTracingEnabled\": false,\r\n    \"remoteDebuggingEnabled\": false,\r\n    \"remoteDebuggingVersion\": \"VS2017\",\r\n    \"httpLoggingEnabled\": false,\r\n    \"logsDirectorySizeLimit\": 35,\r\n    \"detailedErrorLoggingEnabled\": false,\r\n    \"publishingUsername\": \"$nkprem\",\r\n    \"publishingPassword\": null,\r\n    \"appSettings\": null,\r\n    \"azureStorageAccounts\": null,\r\n    \"metadata\": null,\r\n    \"connectionStrings\": null,\r\n    \"machineKey\": null,\r\n    \"handlerMappings\": null,\r\n    \"documentRoot\": null,\r\n    \"scmType\": \"None\",\r\n    \"use32BitWorkerProcess\": true,\r\n    \"webSocketsEnabled\": false,\r\n    \"alwaysOn\": false,\r\n    \"javaVersion\": null,\r\n    \"javaContainer\": null,\r\n    \"javaContainerVersion\": null,\r\n    \"appCommandLine\": \"\",\r\n    \"managedPipelineMode\": \"Integrated\",\r\n    \"virtualApplications\": [\r\n      {\r\n        \"virtualPath\": \"/\",\r\n        \"physicalPath\": \"site\\\\wwwroot\",\r\n        \"preloadEnabled\": false,\r\n        \"virtualDirectories\": null\r\n      }\r\n    ],\r\n    \"winAuthAdminState\": 0,\r\n    \"winAuthTenantState\": 0,\r\n    \"customAppPoolIdentityAdminState\": false,\r\n    \"customAppPoolIdentityTenantState\": false,\r\n    \"runtimeADUser\": null,\r\n    \"runtimeADUserPassword\": null,\r\n    \"loadBalancing\": \"LeastRequests\",\r\n    \"routingRules\": [],\r\n    \"experiments\": {\r\n      \"rampUpRules\": []\r\n    },\r\n    \"limits\": null,\r\n    \"autoHealEnabled\": false,\r\n    \"autoHealRules\": null,\r\n    \"tracingOptions\": null,\r\n    \"vnetName\": \"\",\r\n    \"siteAuthEnabled\": false,\r\n    \"siteAuthSettings\": {\r\n      \"enabled\": null,\r\n      \"unauthenticatedClientAction\": null,\r\n      \"tokenStoreEnabled\": null,\r\n      \"allowedExternalRedirectUrls\": null,\r\n      \"defaultProvider\": null,\r\n      \"clientId\": null,\r\n      \"clientSecret\": null,\r\n      \"clientSecretCertificateThumbprint\": null,\r\n      \"issuer\": null,\r\n      \"allowedAudiences\": null,\r\n      \"additionalLoginParams\": null,\r\n      \"isAadAutoProvisioned\": false,\r\n      \"googleClientId\": null,\r\n      \"googleClientSecret\": null,\r\n      \"googleOAuthScopes\": null,\r\n      \"facebookAppId\": null,\r\n      \"facebookAppSecret\": null,\r\n      \"facebookOAuthScopes\": null,\r\n      \"twitterConsumerKey\": null,\r\n      \"twitterConsumerSecret\": null,\r\n      \"microsoftAccountClientId\": null,\r\n      \"microsoftAccountClientSecret\": null,\r\n      \"microsoftAccountOAuthScopes\": null\r\n    },\r\n    \"cors\": null,\r\n    \"push\": null,\r\n    \"apiDefinition\": null,\r\n    \"autoSwapSlotName\": null,\r\n    \"localMySqlEnabled\": false,\r\n    \"managedServiceIdentityId\": null,\r\n    \"xManagedServiceIdentityId\": null,\r\n    \"ipSecurityRestrictions\": null,\r\n    \"scmIpSecurityRestrictions\": null,\r\n    \"scmIpSecurityRestrictionsUseMain\": false,\r\n    \"http20Enabled\": false,\r\n    \"minTlsVersion\": \"1.2\",\r\n    \"ftpsState\": \"AllAllowed\",\r\n    \"reservedInstanceCount\": 0\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem/config/appsettings/list?api-version=2018-02-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem/config/appsettings\",\r\n  \"name\": \"appsettings\",\r\n  \"type\": \"Microsoft.Web/sites/config\",\r\n  \"location\": \"West US 2\",\r\n  \"properties\": {\r\n    \"WEBSITE_NODE_DEFAULT_VERSION\": \"6.9.1\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem/config/connectionstrings/list?api-version=2018-02-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem/config/connectionstrings\",\r\n  \"name\": \"connectionstrings\",\r\n  \"type\": \"Microsoft.Web/sites/config\",\r\n  \"location\": \"West US 2\",\r\n  \"properties\": {}\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem/config/azurestorageaccounts/list?api-version=2018-02-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11997"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem/config/appsettings\",\r\n  \"name\": \"azurestorageaccounts\",\r\n  \"type\": \"Microsoft.Web/sites/config\",\r\n  \"location\": \"West US 2\",\r\n  \"properties\": {}\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem/restoreSnapshot?api-version=2018-02-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"snapshotTime\": \"2019-04-11T19:48:26\",\r\n    \"recoverySource\": {\r\n      \"location\": \"West US 2\",\r\n      \"id\": \"/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem\"\r\n    },\r\n    \"overwrite\": true,\r\n    \"recoverConfiguration\": true,\r\n    \"ignoreConflictingHostNames\": true,\r\n    \"useDRSecondary\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1D4EFFFF2C1B3AB\""
        ],
        "Location": [
          "https://management.azure.com/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem/operationresults/51cb814b-9820-4f74-8a6c-22af6ce6a564?api-version=2018-02-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem/restoreSnapshot?api-version=2018-02-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"snapshotTime\": \"2019-04-11T19:48:26\",\r\n    \"recoverySource\": {\r\n      \"location\": \"West US 2\",\r\n      \"id\": \"/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem\"\r\n    },\r\n    \"overwrite\": true,\r\n    \"recoverConfiguration\": false,\r\n    \"ignoreConflictingHostNames\": true,\r\n    \"useDRSecondary\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1D4F0A40AB39DF5\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"Code\": \"Conflict\",\r\n  \"Message\": \"Cannot modify this site because another operation is in progress. Details: Id: 0572565d-b9a1-4736-8954-cbaca90304ae, OperationName: Restore, CreatedTime: 4/11/2019 8:20:31 PM, RequestId: 5e36def6-07b5-471b-86e0-c2c2610b16d3, EntityType: 3\",\r\n  \"Target\": null,\r\n  \"Details\": [\r\n    {\r\n      \"Message\": \"Cannot modify this site because another operation is in progress. Details: Id: 0572565d-b9a1-4736-8954-cbaca90304ae, OperationName: Restore, CreatedTime: 4/11/2019 8:20:31 PM, RequestId: 5e36def6-07b5-471b-86e0-c2c2610b16d3, EntityType: 3\"\r\n    },\r\n    {\r\n      \"Code\": \"Conflict\"\r\n    },\r\n    {\r\n      \"ErrorEntity\": {\r\n        \"ExtendedCode\": \"59203\",\r\n        \"MessageTemplate\": \"Cannot modify this site because another operation is in progress. Details: {0}\",\r\n        \"Parameters\": [\r\n          \"Id: 0572565d-b9a1-4736-8954-cbaca90304ae, OperationName: Restore, CreatedTime: 4/11/2019 8:20:31 PM, RequestId: 5e36def6-07b5-471b-86e0-c2c2610b16d3, EntityType: 3\"\r\n        ],\r\n        \"Code\": \"Conflict\",\r\n        \"Message\": \"Cannot modify this site because another operation is in progress. Details: Id: 0572565d-b9a1-4736-8954-cbaca90304ae, OperationName: Restore, CreatedTime: 4/11/2019 8:20:31 PM, RequestId: 5e36def6-07b5-471b-86e0-c2c2610b16d3, EntityType: 3\"\r\n      }\r\n    }\r\n  ],\r\n  \"Innererror\": null\r\n}",
      "StatusCode": 409
    },
    {
      "RequestUri": "/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem/operationresults/51cb814b-9820-4f74-8a6c-22af6ce6a564?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1D4F0A40AB39DF5\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type[...]
[...]
    {
      "RequestUri": "/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem/slots/staging/restoreSnapshot?api-version=2018-02-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"snapshotTime\": \"2019-04-11T19:48:26\",\r\n    \"recoverySource\": {\r\n      \"location\": \"West US 2\",\r\n      \"id\": \"/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem\"\r\n    },\r\n    \"overwrite\": true,\r\n    \"recoverConfiguration\": true,\r\n    \"ignoreConflictingHostNames\": true,\r\n    \"useDRSecondary\": true\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1D4F0A40AB39DF5\""
        ],
        "Location": [
          "https://management.azure.com/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem/slots/staging/operationresults/2116d6f9-9f80-4001-880d-9404e5c9d488?api-version=2018-02-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/798436ab-a054-4fbf-ba01-f9f8cce4e65f/resourceGroups/web2/providers/Microsoft.Web/sites/nkprem/slots/staging/operationresults/2116d6f9-9f80-4001-880d-9404e5c9d488?api-version=2018-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1D4F0A415800040\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
       [...]
[...]
