{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9532a63e-f2eb-4649-bb23-5ed01077ce80/providers/Microsoft.Network/expressRouteServiceProviders?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"AT&T Netbond Test\",\r\n      \"id\": \"/subscriptions//resourceGroups//providers/Microsoft.Network/expressRouteServiceProviders/\",\r\n      \"type\": \"Microsoft.Network/expressRouteServiceProviders\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"peeringLocations\": [\r\n          \"Area51\",\r\n          \"ASCVA001\",\r\n          \"SN1CA001\"\r\n        ],\r\n        \"bandwidthsOffered\": [\r\n          {\r\n            \"offerName\": \"50Mbps\",\r\n            \"valueInMbps\": 50\r\n          },\r\n          {\r\n            \"offerName\": \"100Mbps\",\r\n            \"valueInMbps\": 100\r\n          },\r\n          {\r\n            \"offerName\": \"200Mbps\",\r\n            \"valueInMbps\": 200\r\n          },\r\n          {\r\n            \"offerName\": \"500Mbps\",\r\n            \"valueInMbps\": 500\r\n          },\r\n          {\r\n            \"offerName\": \"1Gbps\",\r\n            \"valueInMbps\": 1000\r\n          },\r\n          {\r\n            \"offerName[...]
