{
  "Entries": [
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"regps3697\",\r\n  \"type\": \"Microsoft.ContainerRegistry/registries\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"Microsoft\",\r\n  \"type\": \"Microsoft.ContainerRegistry/registries\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": false,\r\n  \"reason\": \"Invalid\",\r\n  \"message\": \"The specified resource name is disallowed\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-AzureContainerRegistryNameAvailability": [
      "ps3697"
    ]
  },
  "Variables": {
    "SubscriptionId": "474240ee-c2a4-4373-bc0d-bd2e3dba4714"
  }
}