{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/providers?api-version=2016-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/providers/Microsoft.Batch\",\r\n      \"namespace\": \"Microsoft.Batch\",\r\n      \"authorization\": {\r\n        \"applicationId\": \"ddbf3205-c6bd-46ae-8127-60eb93363864\",\r\n        \"roleDefinitionId\": \"b7f84953-1d03-4eab-9ea4-45f065258ff8\"\r\n      },\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"batchAccounts\",\r\n          \"locations\": [\r\n            \"West Europe\",\r\n            \"East US\",\r\n            \"East US 2\",\r\n            \"West US\",\r\n            \"North Central US\",\r\n            \"Brazil South\",\r\n            \"North Europe\",\r\n            \"Central US\",\r\n            \"East Asia\",\r\n            \"Japan East\",\r\n            \"Australia Southeast\",\r\n            \"Japan West\",\r\n            \"Korea South\",\r\n            \"Korea Central\",\r\n            \"Southeast Asia\",\r\n            \"South Central US\",\r\n            \"Australia East\",\r\n            \"South India\",\r\n            \"Central India\",\r\n            \"Canada Central\",\r\n            \"Canada East\",\r\n            \"UK South\",\r\n            \"UK West\",\r\n            \"West Central US\",\r\n            \"West US 2\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2017-01-01\",\r\n            \"2015-12-01\",\r\n            \"2015-09-01\"\r\n          ],\r\n          \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n        },\r\n        {\r\n          \"resourceType\": \"operations\",\r\n          \"locations\": [\r\n            \"West Europe\",\r\n            \"East US\",\r\n            \"East US 2\",\r\n            \"West US\",\r\n            \"North Central US\",\r\n            \"Brazil South\",\r\n            \"North Europe\",\r\n            \"Central US\",\r\n            \"East Asia\",\r\n            \"Japan East\",\r\n            \[...]
    {
      "RequestUri": "/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/providers/Microsoft.ContainerRegistry?api-version=2016-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/providers/Microsoft.ContainerRegistry\",\r\n  \"namespace\": \"Microsoft.ContainerRegistry\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"6a0ec4d3-30cb-4a83-91c0-ae56[...]
    {
      "RequestUri": "/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourcegroups/onesdk4348?api-version=2016-07-01",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourcegroups/onesdk4348?api-version=2016-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourceGroups/onesdk4348\",\r\n  \"name\": \"onesdk4348\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2017-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"onesdk5216\",\r\n  \"type\": \"Microsoft.ContainerRegistry/registries\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14980"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2017-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"onesdk5216\",\r\n  \"type\": \"Microsoft.ContainerRegistry/registries\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": false,\r\n  \"reason\": \"AlreadyExists\",\r\n  \"message\": \"The registry onesdk5216 is already in use.\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14978"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourcegroups/onesdk4348/providers/Microsoft.Resources/deployments/ContainerRegistry_onesdk5216?api-version=2016-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"resources\": [\r\n        {\r\n          \"type\": \"Microsoft.Storage/storageAccounts\",\r\n          \"name\": \"onesdk5216040456\",\r\n          \"location\": \"westus\",\r\n          \"apiVersion\": \"2016-12-01\",\r\n          \"tags\": {\r\n            \"containerregistry\": \"onesdk5216\"\r\n          },\r\n          \"sku\": {\r\n            \"name\": \"Standard_LRS\"\r\n          },\r\n          \"kind\": \"Storage\",\r\n          \"properties\": {\r\n            \"encryption\": {\r\n              \"services\": {\r\n                \"blob\": {\r\n                  \"enabled\": true\r\n                }\r\n              },\r\n              \"keySource\": \"Microsoft.Storage\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"Microsoft.ContainerRegistry/registries\",\r\n          \"name\": \"onesdk5216\",\r\n          \"location\": \"westus\",\r\n          \"apiVersion\": \"2017-03-01\",\r\n          \"sku\": {\r\n            \"name\": \"Basic\"\r\n          },\r\n          \"dependsOn\": [\r\n            \"[resourceId('Microsoft.Storage/storageAccounts', 'onesdk5216040456')]\"\r\n          ],\r\n          \"properties\": {\r\n            \"adminUserEnabled\": false,\r\n            \"storageAccount\": {\r\n              \"name\": \"onesdk5216040456\",\r\n              \"accessKey\": \"[listKeys(resourceId('Microsoft.Storage/storageAccounts', 'onesdk5216040456'), '2016-12-01').keys[0].value]\"\r\n            }\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"mode\": \"Incremental\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourceGroups/onesdk4348/providers/Microsoft.Resources/deployments/ContainerRegistry_onesdk5216\",\r\n  \"name\": \"ContainerRegistry_onesdk5216\",\r\n  \"properties\": {\r\n    \"templateHash\": \"15235240245203337674\",\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"timestamp\": \"2017-04-28T16:04:57.3009718Z\",\r\n    \"duration\": \"PT0.273477S\",\r\n    \"correlationId\": \"812d46d7-a93b-4a54-915c-ebea52f8992c\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.Storage\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"storageAccounts\",\r\n            \"locations\": [\r\n              \"westus\"\r\n            ]\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"namespace\": \"Microsoft.ContainerRegistry\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"registries\",\r\n            \"locations\": [\r\n              \"westus\"\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": [\r\n      {\r\n        \"dependsOn\": [\r\n          {\r\n            \"id\": \"/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourceGroups/onesdk4348/providers/Microsoft.Storage/storageAccounts/onesdk5216040456\",\r\n            \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n            \"resourceName\": \"onesdk5216040456\"\r\n          },\r\n          {\r\n            \"id\": \"/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourceGroups/onesdk4348/providers/Microsoft.Storage/storageAccounts/onesdk5216040456\",\r\n            \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n            \"resourceName\": \"onesdk5216040456\",\r\n            \"actionName\": \"listKeys\",\r\n            \"apiVersion\": \"2016-12-01\"\r\n          }\r\n        ],\r\n        \"id\": \"/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourceGroups/onesdk4348/providers/Microsoft.ContainerRegistry/registries/onesdk5216\",\r\n        \"resourceType\": \"Microsoft.ContainerRegistry/registries\",\r\n        \"resourceName\": \"onesdk5216\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourcegroups/onesdk4348/providers/Microsoft.Resources/deployments/ContainerRegistry_onesdk5216/operationStatuses/08587082113884501109?api-version=2016-07-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourcegroups/onesdk4348/deployments/ContainerRegistry_onesdk5216/operations?api-version=2016-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourceGroups/onesdk4348/providers/Microsoft.Resources/deployments/ContainerRegistry_onesdk5216/operations/053760821DAC4FBE\",\r\n      \"operationId\": \"053760821DAC4FBE\",\r\n      \"properties\": {\r\n        \"provisioningOperation\": \"Create\",\r\n        \"provisioningState\": \"Running\",\r\n        \"timestamp\": \"2017-04-28T16:05:02.1727353Z\",\r\n        \"duration\": \"PT3.6831534S\",\r\n        \"trackingId\": \"780ac1fd-400e-48b3-8fd3-cd5644ac6828\",\r\n        \"serviceRequestId\": \"812d46d7-a93b-4a54-915c-ebea52f8992c\",\r\n        \"statusCode\": \"Accepted\",\r\n        \"targetResource\": {\r\n          \"id\": \"/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourceGroups/onesdk4348/providers/Microsoft.Storage/storageAccounts/onesdk5216040456\",\r\n          \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n          \"resourceName\": \"onesdk5216040456\"\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourceGroups/onesdk4348/providers/Microsoft.ContainerRegistry/registries/onesdk5216?api-version=2017-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\"\r\n  },\r\n  \"type\": \"Microsoft.ContainerRegistry/registries\",\r\n  \"id\": \"/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourcegroups/onesdk4348/providers/Microsoft.ContainerRegistry/registries/onesdk5216\",\r\n  \"name\": \"onesdk5216\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"loginServer\": \"onesdk5216.azurecr.io\",\r\n    \"creationDate\": \"2017-04-28T16:05:25.0638652Z\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"adminUserEnabled\": false,\r\n    \"storageAccount\": {\r\n      \"name\": \"onesdk5216040456\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14979"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourceGroups/onesdk4348/providers/Microsoft.ContainerRegistry/registries?api-version=2017-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"sku\": {\r\n        \"name\": \"Basic\",\r\n        \"tier\": \"Basic\"\r\n      },\r\n      \"type\": \"Microsoft.ContainerRegistry/registries\",\r\n      \"id\": \"/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourcegroups/onesdk4348/providers/Microsoft.ContainerRegistry/registries/onesdk5216\",\r\n      \"name\": \"onesdk5216\",\r\n      \"location\": \"westus\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"loginServer\": \"onesdk5216.azurecr.io\",\r\n        \"creationDate\": \"2017-04-28T16:05:25.0638652Z\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"adminUserEnabled\": false,\r\n        \"storageAccount\": {\r\n          \"name\": \"onesdk5216040456\"\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14976"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resources?$filter=ResourceType%20eq%20'Microsoft.Storage/storageAccounts'%20AND%20name%20eq%20'onesdk5216040456'&api-version=2016-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourceGroups/onesdk4348/providers/Microsoft.Storage/storageAccounts/onesdk5216040456\",\r\n      \"name\": \"onesdk5216040456\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_LRS\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"kind\": \"Storage\",\r\n      \"location\": \"westus\",\r\n      \"tags\": {\r\n        \"containerregistry\": \"onesdk5216\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14982"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourceGroups/onesdk4348/providers/Microsoft.Storage/storageAccounts/onesdk5216040456/listKeys?api-version=2016-12-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"permissions\": \"Full\",\r\n      \"value\": \"ZOsMUxqE0wo6VmbFMo1Zmelxnr867P3xTEb1/FfzKcF5wFrTJ66eaBfUhv1bjnLB85KAFkQzXSkFouIhfBuGCA==\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"permissions\": \"Full\",\r\n      \"value\": \"12qpZjjNAe+xYeGjtYfEfSwBWYGLQKZLSEFFnbZc+Yd+QEXPSnJTDWBKLlNGq7ENwBmLRfkxkhlXS0YsXPNHyA==\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/resourcegroups/onesdk4348?api-version=2016-07-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs0MzQ4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-07-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs0MzQ4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14973"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs0MzQ4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-07-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/3eb31d8d-2879-4706-89b4-4dc4047726c6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1PTkVTREs0MzQ4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14970"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-AzureContainerRegistry": [
      "onesdk4348",
      "onesdk5216",
      "onesdk7181"
    ]
  },
  "Variables": {
    "SubscriptionId": "3eb31d8d-2879-4706-89b4-4dc4047726c6"
  }
}