{
  "Entries": [
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/providers?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/providers/Microsoft.AAD\",\r\n      \"namespace\": \"Microsoft.AAD\",\r\n      \"authorizations\": [\r\n        {\r\n          \"applicationId\": \"443155a6-77f3-45e3-882b-22b3a8d431fb\",\r\n          \"roleDefinitionId\": \"7389DE79-3180-4F07-B2BA-C5BA1F01B03A\"\r\n        },\r\n        {\r\n          \"applicationId\": \"abba844e-bc0e-44b0-947a-dc74e5d09022\",\r\n          \"roleDefinitionId\": \"63BC473E-7767-42A5-A3BF-08EB71200E04\"\r\n        }\r\n      ],\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"DomainServices\",\r\n          \"locations\": [\r\n            \"West US\",\r\n            \"Central US\",\r\n            \"East US\",\r\n            \"South Central US\",\r\n            \"West Europe\",\r\n            \"North Europe\",\r\n            \"East Asia\",\r\n            \"Southeast Asia\",\r\n            \"East US 2\",\r\n            \"Australia East\",\r\n            \"Australia Southeast\",\r\n            \"West Central US\",\r\n            \"North Central US\",\r\n            \"Japan East\",\r\n            \"Japan West\",\r\n            \"Brazil South\",\r\n            \"Central India\",\r\n            \"South India\",\r\n            \"West India\",\r\n            \"Canada Central\",\r\n            \"Canada East\",\r\n            \"West US 2\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2017-06-01\",\r\n            \"2017-01-01\"\r\n          ],\r\n          \"capabilities\": \"None\"\r\n        },\r\n        {\r\n          \"resourceType\": \"locations\",\r\n          \"locations\": [\r\n            \"West US\",\r\n            \"Central US\",\r\n            \"East US\",\r\n            \"South Central US\",\r\n            \"West Europe\",\r\n            \"North Europe\",\r\n            \"East Asia\",\r\n            \"Southeast Asia\",\r\n            \"East US 2\",\r\n            \"Australia East\",\r\n            \"Australia Southeast\",\r\n            \"West Centra[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/providers/Microsoft.ContainerRegistry?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/providers/Microsoft.ContainerRegistry\",\r\n  \"namespace\": \"Microsoft.ContainerRegistry\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"6a0ec4d3-30cb-4a83-91c0-ae56bc0e3d26\",\r\n    \"roleDefinitionId\": \"78e18383-93eb-418a-9887-bc9271046576\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"registries\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"South Central US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Australia East\",\r\n        \"Australia Southe[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourcegroups/rgps9117?api-version=2017-05-10",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14984"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourcegroups/rgps9117?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps9117\",\r\n  \"name\": \"rgps9117\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"regps2897\",\r\n  \"type\": \"Microsoft.ContainerRegistry/registries\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourcegroups/rgps9117/providers/Microsoft.Resources/deployments/ContainerRegistry_regps2897?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"resources\": [\r\n        {\r\n          \"type\": \"Microsoft.Storage/storageAccounts\",\r\n          \"name\": \"regps2897071902\",\r\n          \"location\": \"westus\",\r\n          \"apiVersion\": \"2016-12-01\",\r\n          \"tags\": {\r\n            \"containerregistry\": \"regps2897\"\r\n          },\r\n          \"sku\": {\r\n            \"name\": \"Standard_LRS\"\r\n          },\r\n          \"kind\": \"Storage\",\r\n          \"properties\": {\r\n            \"encryption\": {\r\n              \"services\": {\r\n                \"blob\": {\r\n                  \"enabled\": true\r\n                }\r\n              },\r\n              \"keySource\": \"Microsoft.Storage\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"Microsoft.ContainerRegistry/registries\",\r\n          \"name\": \"regps2897\",\r\n          \"location\": \"westus\",\r\n          \"apiVersion\": \"2017-10-01\",\r\n          \"sku\": {\r\n            \"name\": \"Classic\"\r\n          },\r\n          \"dependsOn\": [\r\n            \"[resourceId('Microsoft.Storage/storageAccounts', 'regps2897071902')]\"\r\n          ],\r\n          \"properties\": {\r\n            \"adminUserEnabled\": true,\r\n            \"storageAccount\": {\r\n              \"id\": \"[resourceId('Microsoft.Storage/storageAccounts', 'regps2897071902')]\"\r\n            }\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"mode\": \"Incremental\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps9117/providers/Microsoft.Resources/deployments/ContainerRegistry_regps2897\",\r\n  \"name\": \"ContainerRegistry_regps2897\",\r\n  \"properties\": {\r\n    \"templateHash\": \"5983356734132926725\",\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"timestamp\": \"2017-11-20T19:19:03.5599977Z\",\r\n    \"duration\": \"PT0.4042472S\",\r\n    \"correlationId\": \"1ebba58f-77d8-4393-a0b8-0edae3f24648\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.Storage\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"storageAccounts\",\r\n            \"locations\": [\r\n              \"westus\"\r\n            ]\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"namespace\": \"Microsoft.ContainerRegistry\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"registries\",\r\n            \"locations\": [\r\n              \"westus\"\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": [\r\n      {\r\n        \"dependsOn\": [\r\n          {\r\n            \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps9117/providers/Microsoft.Storage/storageAccounts/regps2897071902\",\r\n            \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n            \"resourceName\": \"regps2897071902\"\r\n          }\r\n        ],\r\n        \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps9117/providers/Microsoft.ContainerRegistry/registries/regps2897\",\r\n        \"resourceType\": \"Microsoft.ContainerRegistry/registries\",\r\n        \"resourceName\": \"regps2897\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourcegroups/rgps9117/providers/Microsoft.Resources/deployments/ContainerRegistry_regps2897/operationStatuses/08586904013423218575?api-version=2017-05-10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourcegroups/rgps9117/deployments/ContainerRegistry_regps2897/operations?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14982"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourcegroups/rgps9117/deployments/ContainerRegistry_regps2897/operations?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps9117/providers/Microsoft.Resources/deployments/ContainerRegistry_regps2897/operations/E51F3EAED396FBD6\",\r\n      \"operationId\": \"E51F3EAED396FBD6\",\r\n      \"properties\": {\r\n        \"provisioningOperation\": \"Create\",\r\n        \"provisioningState\": \"Running\",\r\n        \"timestamp\": \"2017-11-20T19:19:15.055663Z\",\r\n        \"duration\": \"PT11.208237S\",\r\n        \"trackingId\": \"352dc4a7-adea-480f-8365-82c65bafa48e\",\r\n        \"serviceRequestId\": \"1ebba58f-77d8-4393-a0b8-0edae3f24648\",\r\n        \"statusCode\": \"Accepted\",\r\n        \"targetResource\": {\r\n          \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps9117/providers/Microsoft.Storage/storageAccounts/regps2897071902\",\r\n          \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n          \"resourceName\": \"regps2897071902\"\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14978"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps9117/providers/Microsoft.ContainerRegistry/registries/regps2897?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Classic\",\r\n    \"tier\": \"Classic\"\r\n  },\r\n  \"type\": \"Microsoft.ContainerRegistry/registries\",\r\n  \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps9117/providers/Microsoft.ContainerRegistry/registries/regps2897\",\r\n  \"name\": \"regps2897\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"loginServer\": \"regps2897.azurecr.io\",\r\n    \"creationDate\": \"2017-11-20T19:19:56.4381629Z\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"adminUserEnabled\": true,\r\n    \"storageAccount\": {\r\n      \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps9117/providers/Microsoft.Storage/storageAccounts/regps2897071902\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14990"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps9117/providers/Microsoft.ContainerRegistry/registries/regps2897/listCredentials?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"username\": \"regps2897\",\r\n  \"passwords\": [\r\n    {\r\n      \"name\": \"password\",\r\n      \"value\": \"EAjD8URmjmgjbL5C+QR7A76JY=AjFVEm\"\r\n    },\r\n    {\r\n      \"name\": \"password2\",\r\n      \"value\": \"82TnGX06d1JssOSIle0nQ=MKMM0rMWO8\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps9117/providers/Microsoft.ContainerRegistry/registries/regps2897/regenerateCredential?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"password\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"username\": \"regps2897\",\r\n  \"passwords\": [\r\n    {\r\n      \"name\": \"password\",\r\n      \"value\": \"k4gbmryJ0+0CwZMCbamVvOIA5DJyzlvI\"\r\n    },\r\n    {\r\n      \"name\": \"password2\",\r\n      \"value\": \"82TnGX06d1JssOSIle0nQ=MKMM0rMWO8\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourcegroups/rgps9117?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1BTOTExNy1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2017-05-10"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1BTOTExNy1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14966"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1BTOTExNy1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2017-05-10"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1BTOTExNy1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14959"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-AzureContainerRegistryCredential": [
      "ps9117",
      "ps2897",
      "ps3080",
      "ps9344",
      "ps1194"
    ]
  },
  "Variables": {
    "SubscriptionId": "474240ee-c2a4-4373-bc0d-bd2e3dba4714"
  }
}