{
  "Entries": [
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/providers?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/providers/Microsoft.Advisor\",\r\n      \"namespace\": \"Microsoft.Advisor\",\r\n      \"authorization\": {\r\n        \"applicationId\": \"c39c9bac-9d1f-4dfb-aa29-27f6365e5cb7\",\r\n        \"roleDefinitionId\": \"8a63b04c-3731-409b-9765-f1175c047872\"\r\n      },\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"suppressions\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19-rc\",\r\n            \"2017-04-19-alpha\",\r\n            \"2017-04-19\",\r\n            \"2017-03-31-alpha\",\r\n            \"2017-03-31\",\r\n            \"2016-07-12-rc\",\r\n            \"2016-07-12-preview\",\r\n            \"2016-07-12-alpha\",\r\n            \"2016-05-09-preview\",\r\n            \"2016-05-09-alpha\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"recommendations\",\r\n          \"locations\": [],\r\n          \"a[...]
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/providers/Microsoft.ContainerRegistry?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/providers/Microsoft.ContainerRegistry\",\r\n  \"namespace\": \"Microsoft.ContainerRegistry\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"6a0ec4d3-30cb-4a83-91c0-ae56[...]
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourcegroups/rgps1209?api-version=2017-05-10",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14969"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourcegroups/rgps1209?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209\",\r\n  \"name\": \"rgps1209\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"regps1283\",\r\n  \"type\": \"Microsoft.ContainerRegistry/registries\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14982"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourcegroups/rgps1209/providers/Microsoft.Resources/deployments/ContainerRegistry_regps1283?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"resources\": [\r\n        {\r\n          \"type\": \"Microsoft.Storage/storageAccounts\",\r\n          \"name\": \"regps1283120017\",\r\n          \"location\": \"westus\",\r\n          \"apiVersion\": \"2016-12-01\",\r\n          \"tags\": {\r\n            \"containerregistry\": \"regps1283\"\r\n          },\r\n          \"sku\": {\r\n            \"name\": \"Standard_LRS\"\r\n          },\r\n          \"kind\": \"Storage\",\r\n          \"properties\": {\r\n            \"encryption\": {\r\n              \"services\": {\r\n                \"blob\": {\r\n                  \"enabled\": true\r\n                }\r\n              },\r\n              \"keySource\": \"Microsoft.Storage\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"Microsoft.ContainerRegistry/registries\",\r\n          \"name\": \"regps1283\",\r\n          \"location\": \"westus\",\r\n          \"apiVersion\": \"2017-10-01\",\r\n          \"sku\": {\r\n            \"name\": \"Classic\"\r\n          },\r\n          \"dependsOn\": [\r\n            \"[resourceId('Microsoft.Storage/storageAccounts', 'regps1283120017')]\"\r\n          ],\r\n          \"properties\": {\r\n            \"adminUserEnabled\": false,\r\n            \"storageAccount\": {\r\n              \"id\": \"[resourceId('Microsoft.Storage/storageAccounts', 'regps1283120017')]\"\r\n            }\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"mode\": \"Incremental\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.Resources/deployments/ContainerRegistry_regps1283\",\r\n  \"name\": \"ContainerRegistry_regps1283\",\r\n  \"properties\": {\r\n    \"templateHash\": \"15114723740825117823\",\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"timestamp\": \"2018-03-27T00:00:19.0311646Z\",\r\n    \"duration\": \"PT0.4035523S\",\r\n    \"correlationId\": \"a14dd5e2-1add-4261-81c1-506acdd400d0\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.Storage\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"storageAccounts\",\r\n            \"locations\": [\r\n              \"westus\"\r\n            ]\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"namespace\": \"Microsoft.ContainerRegistry\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"registries\",\r\n            \"locations\": [\r\n              \"westus\"\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": [\r\n      {\r\n        \"dependsOn\": [\r\n          {\r\n            \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.Storage/storageAccounts/regps1283120017\",\r\n            \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n            \"resourceName\": \"regps1283120017\"\r\n          }\r\n        ],\r\n        \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.ContainerRegistry/registries/regps1283\",\r\n        \"resourceType\": \"Microsoft.ContainerRegistry/registries\",\r\n        \"resourceName\": \"regps1283\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourcegroups/rgps1209/providers/Microsoft.Resources/deployments/ContainerRegistry_regps1283/operationStatuses/08586794980668499985?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1183"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourcegroups/rgps1209/providers/Microsoft.Resources/deployments/ContainerRegistry_regps1283/operationStatuses/08586794980668499985?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Running\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14970"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.ContainerRegistry/registries/regps1283?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Classic\",\r\n    \"tier\": \"Classic\"\r\n  },\r\n  \"type\": \"Microsoft.ContainerRegistry/registries\",\r\n  \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.ContainerRegistry/registries/regps1283\",\r\n  \"name\": \"regps1283\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"loginServer\": \"regps1283.azurecr.io\",\r\n    \"creationDate\": \"2018-03-27T00:00:48.0068398Z\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"adminUserEnabled\": false,\r\n    \"storageAccount\": {\r\n      \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.Storage/storageAccounts/regps1283120017\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14981"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.ContainerRegistry/registries/regps1283/webhooks/whps7546?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"serviceUri\": \"http://bing.com/\",\r\n    \"status\": \"enabled\",\r\n    \"actions\": [\r\n      \"push\",\r\n      \"delete\"\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceTypeNotSupportedForRegistry\",\r\n    \"message\": \"The resource type webhooks is not supported for the registry regps1283.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 400
    },
[...]
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.ContainerRegistry/registries/regps321/webhooks/whps5798?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"tags\": {\r\n    \"key\": \"val\"\r\n  },\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"serviceUri\": \"http://bing.com/\",\r\n    \"status\": \"enabled\",\r\n    \"scope\": \"foo:*\",\r\n    \"actions\": [\r\n      \"push\",\r\n      \"delete\"\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.ContainerRegistry/registries/webhooks\",\r\n  \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.ContainerRegistry/registries/regps321/webhooks/whps5798\",\r\n  \"name\": \"whps5798\",\r\n  \"location\": \"centralus\",\r\n  \"tags\": {\r\n    \"key\": \"val\"\r\n  },\r\n  \"properties\": {\r\n    \"status\": \"enabled\",\r\n    \"scope\": \"foo:*\",\r\n    \"actions\": [\r\n      \"push\",\r\n      \"delete\"\r\n    ],\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.ContainerRegistry/registries/regps321/webhooks/whps782/getCallbackConfig?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"serviceUri\": \"http://bing.com/\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.ContainerRegistry/registries/regps321/webhooks/whps782/getCallbackConfig?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"serviceUri\": \"http://microsoft.com/\",\r\n  \"customHeaders\": {\r\n    \"testheader\": \"123\",\r\n    \"customheader\": \"abc\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1189"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.ContainerRegistry/registries/regps321/replications/westus2?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.ContainerRegistry/registries/replications\",\r\n  \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.ContainerRegistry/registries/regps321/replications/westus2\",\r\n  \"name\": \"westus2\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"status\": {\r\n      \"timestamp\": \"2018-03-27T00:01:41.0212573Z\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.ContainerRegistry/registries/regps321/replications/westus2/operationStatuses/replications-6436fa1d-fc61-4f0f-a913-12249332f417?api-version=2017-10-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1187"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.ContainerRegistry/registries/regps321/replications/westus2/operationStatuses/replications-6436fa1d-fc61-4f0f-a913-12249332f417?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Creating\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.ContainerRegistry/registries/regps321/replications/westus2/operationStatuses/replications-6436fa1d-fc61-4f0f-a913-12249332f417?api-version=2017-10-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14972"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.ContainerRegistry/registries/regps321/replications/westus2?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.ContainerRegistry/registries/replications\",\r\n  \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.ContainerRegistry/registries/regps321/replications/westus2\",\r\n  \"name\": \"westus2\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"status\": {\r\n      \"displayStatus\": \"Syncing\",\r\n      \"timestamp\": \"2018-03-27T00:01:57.138302Z\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14970"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.ContainerRegistry/registries/regps321/webhooks?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"type\": \"Microsoft.ContainerRegistry/registries/webhooks\",\r\n      \"id\": \"/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1[...]
[...]
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.ContainerRegistry/registries/regps321/webhooks/whps2591/ping?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"44b6f7a1-ebc2-46fb-bf20-9afd64e74044\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1185"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourceGroups/rgps1209/providers/Microsoft.ContainerRegistry/registries/regps321/webhooks/whps2591/listEvents?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"eventRequestMessage\": {\r\n        \"content\": {\r\n          \"id\": \"4498e4fd-c17d-4d3d-a9c6-7cd1cd4c82f4\",\r\n          \"timestamp\": \"2018-03-27T00:02:06.005727Z\",\r\n          \"action\": \"ping\"\r\n        },\r\n        \"headers\": {\r\n          \"Content-Type\": \"application/json; charset=utf-8\",\r\n          \"Content-Length\": \"121\"\r\n        },\r\n        \"method\": \"POST\",\r\n        \"requestUri\": \"http://bing.com/\",\r\n        \"version\": \"1.1\"\r\n      },\r\n      \"eventResponseMessage\": {\r\n        \"content\": \"\",\r\n        \"headers\": {\r\n          \"X-MSEdge-Ref\": \"Ref A: F8AB4DF3AE7948B1BE1A07A01B7A49B3 Ref B: CO1EDGE0213 Ref C: 2018-03-27T00:02:06Z\",\r\n          \"Date\": \"Tue, 27 Mar 2018 00:02:05 GMT\",\r\n          \"Server\": \"Microsoft-IIS/10.0\",\r\n          \"Content-Length\": \"0\"\r\n        },\r\n        \"reasonPhrase\": \"MethodNotAllowed\",\r\n        \"statusCode\": \"405\",\r\n        \"version\": \"1.1\"\r\n      },\r\n      \"id\": \"4498e4fd-c17d-4d3d-a9c6-7cd1cd4c82f4\"\r\n    },\r\n    {\r\n      \"eventRequestMessage\": {\r\n        \"content\": {\r\n          \"id\": \"44b6f7a1-ebc2-46fb-bf20-9afd64e74044\",\r\n          \"timestamp\": \"2018-03-27T00:02:05.6932691Z\",\r\n          \"action\": \"ping\"\r\n        },\r\n        \"headers\": {\r\n          \"Content-Type\": \"application/json; charset=utf-8\",\r\n          \"Content-Length\": \"121\"\r\n        },\r\n        \"method\": \"POST\",\r\n        \"requestUri\": \"http://bing.com/\",\r\n        \"version\": \"1.1\"\r\n      },\r\n      \"eventResponseMessage\": {\r\n        \"content\": \"\",\r\n        \"headers\": {\r\n          \"X-MSEdge-Ref\": \"Ref A: 7BBF19EB335D4F919CD58BB939A821AF Ref B: CO1EDGE0213 Ref C: 2018-03-27T00:02:05Z\",\r\n          \"Date\": \"Tue, 27 Mar 2018 00:02:04 GMT\",\r\n          \"Server\": \"Microsoft-IIS/10.0\",\r\n          \"Content-Length\": \"0\"\r\n        },\r\n        \"reasonPhrase\": \"MethodNotAllowed\",\r\n        \"statusCode\": \"405\",\r\n        \"version\": \"1.1\"\r\n      },\r\n      \"id\": \"44b6f7a1-ebc2-46fb-bf20-9afd64e74044\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1183"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/resourcegroups/rgps1209?api-version=2017-05-10",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1BTMTIwOS1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2017-05-10"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1BTMTIwOS1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14967"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1BTMTIwOS1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2017-05-10"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/84c559c6-30a0-417c-ba06-8a2253b388c3/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1BTMTIwOS1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14957"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-AzureContainerRegistryWebhook": [
      "ps1209",
      "ps1283",
      "ps7546",
      "ps6501",
      "ps5264",
      "ps2416",
      "ps8808",
      "ps321",
      "ps5798",
      "ps782",
      "ps2591"
    ]
  },
  "Variables": {
    "SubscriptionId": "84c559c6-30a0-417c-ba06-8a2253b388c3"
  }
}