{
  "Entries": [
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/providers?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/providers/Microsoft.AAD\",\r\n      \"namespace\": \"Microsoft.AAD\",\r\n      \"authorizations\": [\r\n        {\r\n          \"applicationId\": \"443155a6-77f3-45e3-882b-22b3a8d431fb\",\r\n          \"roleDefinitionId\": \"7389DE79-3180-4F07-B2BA-C5BA1F01B03A\"\r\n        },\r\n        {\r\n          \"applicationId\": \"abba844e-bc0e-44b0-947a-dc74e5d09022\",\r\n          \"roleDefinitionId\": \"63BC473E-7767-42A5-A3BF-08EB71200E04\"\r\n        }\r\n      ],\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"DomainServices\",\r\n          \"locations\": [\r\n            \"West US\",\r\n            \"Central US\",\r\n            \"East US\",\r\n            \"South Central US\",\r\n            \"West Europe\",\r\n            \"North Europe\",\r\n            \"East Asia\",\r\n            \"Southeast Asia\",\r\n            \"East US 2\",\r\n            \"Australia East\",\r\n            \"Australia Southeast\",\r\n            \"West Central US\",\r\n            \"North Central US\",\r\n            \"Japan East\",\r\n            \"Japan West\",\r\n            \"Brazil South\",\r\n            \"Central India\",\r\n            \"South India\",\r\n            \"West India\",\r\n            \"Canada Central\",\r\n            \"Canada East\",\r\n            \"West US 2\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2017-06-01\",\r\n            \"2017-01-01\"\r\n          ],\r\n          \"capabilities\": \"None\"\r\n        },\r\n        {\r\n          \"resourceType\": \"locations\",\r\n          \"locations\": [\r\n            \"West US\",\r\n            \"Central US\",\r\n            \"East US\",\r\n            \"South Central US\",\r\n            \"West Europe\",\r\n            \"North Europe\",\r\n            \"East Asia\",\r\n            \"Southeast Asia\",\r\n            \"East US 2\",\r\n            \"Australia East\",\r\n            \"Australia Southeast\",\r\n            \"West Centra[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/providers/Microsoft.ContainerRegistry?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/providers/Microsoft.ContainerRegistry\",\r\n  \"namespace\": \"Microsoft.ContainerRegistry\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"6a0ec4d3-30cb-4a83-91c0-ae56bc0e3d26\",\r\n    \"roleDefinitionId\": \"78e18383-93eb-418a-9887-bc9271046576\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"registries\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"East US\",\r\n        \"South Central US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Australia East\",\r\n        \"Australia Southe[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourcegroups/rgps2476?api-version=2017-05-10",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourcegroups/rgps2476?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476\",\r\n  \"name\": \"rgps2476\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"regps9266\",\r\n  \"type\": \"Microsoft.ContainerRegistry/registries\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14982"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourcegroups/rgps2476/providers/Microsoft.Resources/deployments/ContainerRegistry_regps9266?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"resources\": [\r\n        {\r\n          \"type\": \"Microsoft.Storage/storageAccounts\",\r\n          \"name\": \"regps9266071135\",\r\n          \"location\": \"westus\",\r\n          \"apiVersion\": \"2016-12-01\",\r\n          \"tags\": {\r\n            \"containerregistry\": \"regps9266\"\r\n          },\r\n          \"sku\": {\r\n            \"name\": \"Standard_LRS\"\r\n          },\r\n          \"kind\": \"Storage\",\r\n          \"properties\": {\r\n            \"encryption\": {\r\n              \"services\": {\r\n                \"blob\": {\r\n                  \"enabled\": true\r\n                }\r\n              },\r\n              \"keySource\": \"Microsoft.Storage\"\r\n            }\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"Microsoft.ContainerRegistry/registries\",\r\n          \"name\": \"regps9266\",\r\n          \"location\": \"westus\",\r\n          \"apiVersion\": \"2017-10-01\",\r\n          \"sku\": {\r\n            \"name\": \"Classic\"\r\n          },\r\n          \"dependsOn\": [\r\n            \"[resourceId('Microsoft.Storage/storageAccounts', 'regps9266071135')]\"\r\n          ],\r\n          \"properties\": {\r\n            \"adminUserEnabled\": false,\r\n            \"storageAccount\": {\r\n              \"id\": \"[resourceId('Microsoft.Storage/storageAccounts', 'regps9266071135')]\"\r\n            }\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"mode\": \"Incremental\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.Resources/deployments/ContainerRegistry_regps9266\",\r\n  \"name\": \"ContainerRegistry_regps9266\",\r\n  \"properties\": {\r\n    \"templateHash\": \"6091659672499442734\",\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"timestamp\": \"2017-11-20T19:11:36.9456047Z\",\r\n    \"duration\": \"PT0.7824541S\",\r\n    \"correlationId\": \"ee705390-4ca7-4327-836e-4491de1ad3b2\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.Storage\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"storageAccounts\",\r\n            \"locations\": [\r\n              \"westus\"\r\n            ]\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"namespace\": \"Microsoft.ContainerRegistry\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"registries\",\r\n            \"locations\": [\r\n              \"westus\"\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": [\r\n      {\r\n        \"dependsOn\": [\r\n          {\r\n            \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.Storage/storageAccounts/regps9266071135\",\r\n            \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n            \"resourceName\": \"regps9266071135\"\r\n          }\r\n        ],\r\n        \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.ContainerRegistry/registries/regps9266\",\r\n        \"resourceType\": \"Microsoft.ContainerRegistry/registries\",\r\n        \"resourceName\": \"regps9266\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourcegroups/rgps2476/providers/Microsoft.Resources/deployments/ContainerRegistry_regps9266/operationStatuses/08586904017893144885?api-version=2017-05-10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourcegroups/rgps2476/deployments/ContainerRegistry_regps9266/operations?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourcegroups/rgps2476/deployments/ContainerRegistry_regps9266/operations?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.Resources/deployments/ContainerRegistry_regps9266/operations/BC104C051BEE9721\",\r\n      \"operationId\": \"BC104C051BEE9721\",\r\n      \"properties\": {\r\n        \"provisioningOperation\": \"Create\",\r\n        \"provisioningState\": \"Running\",\r\n        \"timestamp\": \"2017-11-20T19:11:55.931338Z\",\r\n        \"duration\": \"PT16.7702647S\",\r\n        \"trackingId\": \"16eafd6f-cb41-4754-8104-103f617a5a92\",\r\n        \"serviceRequestId\": \"ee705390-4ca7-4327-836e-4491de1ad3b2\",\r\n        \"statusCode\": \"Accepted\",\r\n        \"targetResource\": {\r\n          \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.Storage/storageAccounts/regps9266071135\",\r\n          \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n          \"resourceName\": \"regps9266071135\"\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14990"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.ContainerRegistry/registries/regps9266?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Classic\",\r\n    \"tier\": \"Classic\"\r\n  },\r\n  \"type\": \"Microsoft.ContainerRegistry/registries\",\r\n  \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.ContainerRegistry/registries/regps9266\",\r\n  \"name\": \"regps9266\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"loginServer\": \"regps9266.azurecr.io\",\r\n    \"creationDate\": \"2017-11-20T19:12:34.0965289Z\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"adminUserEnabled\": false,\r\n    \"storageAccount\": {\r\n      \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.Storage/storageAccounts/regps9266071135\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14981"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.ContainerRegistry/registries/regps9266/replications/centralus?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceTypeNotSupportedForRegistry\",\r\n    \"message\": \"The resource type replications is not supported for the registry regps9266.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 400
    },
[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.ContainerRegistry/registries/regps717/replications/repps3427?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centralus\",\r\n  \"tags\": {\r\n    \"key\": \"val\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.ContainerRegistry/registries/replications\",\r\n  \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.ContainerRegistry/registries/regps717/replications/repps3427\",\r\n  \"name\": \"repps3427\",\r\n  \"location\": \"centralus\",\r\n  \"tags\": {\r\n    \"key\": \"val\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"status\": {\r\n      \"timestamp\": \"2017-11-20T19:12:58.6253323Z\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.ContainerRegistry/registries/regps717/replications/repps3427/operationStatuses/replications-bb8b1dde-53ea-4af9-bcb4-df247ebd2d55?api-version=2017-10-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.ContainerRegistry/registries/regps717/replications/repps3427/operationStatuses/replications-bb8b1dde-53ea-4af9-bcb4-df247ebd2d55?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Creating\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.ContainerRegistry/registries/regps717/replications/repps3427/operationStatuses/replications-bb8b1dde-53ea-4af9-bcb4-df247ebd2d55?api-version=2017-10-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14977"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.ContainerRegistry/registries/regps717/replications/repps3427?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.ContainerRegistry/registries/replications\",\r\n  \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.ContainerRegistry/registries/regps717/replications/repps3427\",\r\n  \"name\": \"repps3427\",\r\n  \"location\": \"centralus\",\r\n  \"tags\": {\r\n    \"key\": \"val\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"status\": {\r\n      \"displayStatus\": \"Ready\",\r\n      \"timestamp\": \"2017-11-20T19:13:14.157178Z\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14975"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.ContainerRegistry/registries/regps717/replications/westus2?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.ContainerRegistry/registries/repli[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.ContainerRegistry/registries/regps717/replications/westus2/operationStatuses/replications-22f97a7b-1f26-438c-aeee-36ef698a0a02?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.ContainerRegistry/registries/regps717/replications/westus2/operationStatuses/replications-22f97a7b-1f26-438c-aeee-36ef698a0a02?api-version=2017-10-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14974"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.ContainerRegistry/registries/regps717/replications?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"type\": \"Microsoft.ContainerRegistry/registries/replications\",\r\n      \"id\": \"/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGrou[...]
[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/resourceGroups/rgps2476/providers/Microsoft.ContainerRegistry/registries/regps717/replications/westus2?api-version=2017-10-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "null",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/providers/Microsoft.ContainerRegistry/locations/westus2/operationResults/replications-2d4abb3b-d5be-4096-bbe7-aaf019c8a2aa?api-version=2017-10-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/providers/Microsoft.ContainerRegistry/locations/westus2/operationResults/replications-2d4abb3b-d5be-4096-bbe7-aaf019c8a2aa?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14971"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1BTMjQ3Ni1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14979"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1BTMjQ3Ni1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2017-05-10"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/474240ee-c2a4-4373-bc0d-bd2e3dba4714/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1SR1BTMjQ3Ni1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14964"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-AzureContainerRegistryReplication": [
      "ps2476",
      "ps9266",
      "ps4390",
      "ps5342",
      "ps717",
      "ps3427"
    ]
  },
  "Variables": {
    "SubscriptionId": "474240ee-c2a4-4373-bc0d-bd2e3dba4714"
  }
}