{
  "Get-AzWorkloadsSapDatabaseInstance+[NoContext]+List+$GET+https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/PS_CLI_TF_RG/providers/Microsoft.Workloads/sapVirtualInstances/PS1/databaseInstances?api-version=2023-10-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/PS_CLI_TF_RG/providers/Microsoft.Workloads/sapVirtualInstances/PS1/databaseInstances?api-version=2023-10-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "7" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "1fa89108-98f0-47b2-a3af-db099a4b3ea8", "06dd2d50-f2df-4c32-b29f-429afdd4b751", "2b220acc-00ca-4f80-8ba8-54947a3a4f5a", "f04491bd-502b-47b8-aaa8-ca82c1c5a29e", "4b98909e-3d6c-4305-883c-6b597224848e", "c6654bd2-117d-4482-93ee-de414cd33748", "d2e23358-28a2-44b4-9054-92852d71b3d1", "b4801459-184e-4c75-a44b-ed0656ceb180", "f386bda9-609e-4891-821d-1262ca311ff0", "e98f3795-aed7-4d7a-ba80-82e459bba9bb", "55c41187-3a7d-4843-b2ae-a25a849b7d50", "d14209f9-49da-4b38-8289-9471b37f4281", "c0682047-795d-47f4-871c-1a2ca4972800", "3d126c4e-3b67-455b-ad23-fbda602565d2", "834491c1-9393-4cf1-9a61-431e9e08e3ed", "9564dbb9-c5ab-49e1-af4c-d45158c4a76b", "e484b229-53f2-44f8-b5ba-c8115ec90a71", "0ad84084-8045-49b1-a3c4-5455c34b151a" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11993" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/PS_CLI_TF_RG/providers/Microsoft.Workloads/sapVirtualInstances/PS1/databaseInstances/PS1\",\"name\":\"PS1\",\"type\":\"microsoft.workloads/sapvirtualinstances/databaseinstances\",\"location\":\"eastus\",\"tags\":{\"TestType\":\"PS\"},\"systemData\":{\"createdBy\":\"ea21b132-560f-4b0b-9876-903b6bca7b9d\",\"createdByType\":\"Application\",\"createdAt\":\"2023-11-09T17:32:06.2107665Z\",\"lastModifiedBy\":\"jasksingh@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-11-11T12:09:35.2771856Z\"},\"properties\":{\"subnet\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/JASKIRAT-RG/providers/Microsoft.Network/virtualNetworks/JAS-SAP-VNET/subnets/Subnet-2\",\"databaseSid\":\"PS1\",\"ipAddress\":\"10.0.1.13\",\"databaseType\":\"hdb\",\"status\":\"Running\",\"vmDetails\":[{\"virtualMachineId\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/PS_CLI_TF_RG/providers/Microsoft.Compute/virtualMachines/ps1dbvm\",\"status\":\"Running\"}],\"provisioningState\":\"Succeeded\"}}]}",
    }
  },
  "Get-AzWorkloadsSapDatabaseInstance+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/PS_CLI_TF_RG/providers/Microsoft.Workloads/sapVirtualInstances/PS1/databaseInstances/PS1?api-version=2023-10-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/PS_CLI_TF_RG/providers/Microsoft.Workloads/sapVirtualInstances/PS1/databaseInstances/PS1?api-version=2023-10-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "8" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"d8021708-0000-0100-0000-654f6eff0000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11992" ],
        "x-ms-providerhub-traffic": [ "True" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/PS_CLI_TF_RG/providers/Microsoft.Workloads/sapVirtualInstances/PS1/databaseInstances/PS1\",\"name\":\"PS1\",\"type\":\"microsoft.workloads/sapvirtualinstances/databaseinstances\",\"location\":\"eastus\",\"tags\":{\"TestType\":\"PS\"},\"systemData\":{\"createdBy\":\"ea21b132-560f-4b0b-98[...]
