{
  "Invoke-AzWorkloadsSapSizingRecommendation+[NoContext]+SapExpanded+$POST+https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/eastus/sapVirtualInstanceMetadata/default/getSizingRecommendations?api-version=2023-10-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/eastus/sapVirtualInstanceMetadata/default/getSizingRecommendations?api-version=2023-10-01-preview",
      "Content": "{\n  \"appLocation\": \"eastus\",\n  \"environment\": \"NonProd\",\n  \"sapProduct\": \"S4HANA\",\n  \"deploymentType\": \"SingleServer\",\n  \"saps\": 10000,\n  \"dbMemory\": 256,\n  \"databaseType\": \"HANA\",\n  \"dbScaleMethod\": \"ScaleUp\"\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "8680a90e-918e-4d40-84fd-f283cdf2b52c" ],
        "api-supported-versions": [ "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01, 2023-10-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"vmSku\":\"Standard_E32ds_v4\",\"deploymentType\":\"SingleServer\"}",
    }
  }
}