{
  "Remove-AzWorkloadsSapLandscapeMonitor+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-160323-ams7/sapLandscapeMonitor/default?api-version=2023-04-01+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-160323-ams7/sapLandscapeMonitor/default?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14999" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Remove-AzWorkloadsSapLandscapeMonitor+[NoContext]+DeleteViaIdentity+$DELETE+https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-170323-ams3/sapLandscapeMonitor/default?api-version=2023-04-01+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-170323-ams3/sapLandscapeMonitor/default?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14998" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  }
}