{
  "Entries": [
    {
      "RequestUri": "/subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backup/BackupVault/backuprn/registeredContainers/iaasvmcontainer%3Bhydrarecordvm%3Bhydrarecordvm/protectedItems/iaasvmcontainer%3Bhydrarecordvm%3Bhydrarecordvm/backup?api-version=2014-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "\"34c3c958-faf5-42e9-8f0b-5e0514ce17d8\"",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "999997"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backup/BackupVault/backuprn/operationResults/34c3c958-faf5-42e9-8f0b-5e0514ce17d8?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\",\r\n  \"error\": {\r\n    \"code\": \"\",\r\n    \"message\": \"\"\r\n  },\r\n  \"jobList\": [\r\n    \"720733ef-b2ef-48f5-9bc7-31b178d32b2c\"\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backup/BackupVault/backuprn/jobs/720733ef-b2ef-48f5-9bc7-31b178d32b2c?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"tasksList\": [\r\n      {\r\n        \"taskId\": \"Take Snapshot\",\r\n        \"startTime\": null,\r\n        \"endTime\": null,\r\n        \"duration\": \"00:00:00\",\r\n        \"status\": \"InProgress\",\r\n        \"progressPercentage\": null\r\n      },\r\n      {\r\n        \"taskId\": \"Transfer data to Backup vault\",\r\n        \"startTime\": null,\r\n        \"endTime\": null,\r\n        \"duration\": \"00:00:00\",\r\n        \"status\": \"NotStarted\",\r\n        \"progressPercentage\": null\r\n      }\r\n    ],\r\n    \"propertyBag\": {\r\n      \"VM Name\": \"hydrarecordvm\"\r\n    },\r\n    \"progressPercentage\": null,\r\n    \"dynamicErrorMessage\": null,\r\n    \"workloadType\": \"IaasVM\",\r\n    \"operation\": \"Backup\",\r\n    \"status\": \"InProgress\",\r\n    \"startTimestamp\": \"2015-08-14T10:32:38.1972982Z\",\r\n    \"endTimestamp\": \"2001-01-01T00:00:00Z\",\r\n    \"duration\": \"00:00:13.9125259\",\r\n    \"entityFriendlyName\": \"hydrarecordvm\",\r\n    \"actionsInfo\": [\r\n      1\r\n    ],\r\n    \"errorDetails\": null\r\n  },\r\n  \"id\": \"/subscriptions/f5303a0b-fae4-4cdb-b44d-0e4c032dde26/resourceGroups/backuprg/providers/Microsoft.Backup/BackupVault/backuprn/jobs/720733ef-b2ef-48f5-9bc7-31b178d32b2c\",\r\n  \"name\": \"720733ef-b2ef-48f5-9bc7-31b178d32b2c\",\r\n  \"type\": \"Microsoft.Backup/BackupVault/jobs\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "f5303a0b-fae4-4cdb-b44d-0e4c032dde26"
  }
}