{
  "Get-AzAlbFrontend+[NoContext]+List+$GET+https://management.azure.com/subscriptions/711d99a7-fd79-4ce7-9831-ea1afa18442e/resourceGroups/test-rg/providers/Microsoft.ServiceNetworking/trafficControllers/test-alb/frontends?api-version=2023-05-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/711d99a7-fd79-4ce7-9831-ea1afa18442e/resourceGroups/test-rg/providers/Microsoft.ServiceNetworking/trafficControllers/test-alb/frontends?api-version=2023-05-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "31" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11994" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"fqdn\": \"0f3d063c2eedf612df507fd35e261274.fz56.alb.azure.com\",\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/711d99a7-fd79-4ce7-9831-ea1afa18442e/resourcegroups/test-rg/providers/Microsoft.ServiceNetworking/trafficControllers/test-alb/frontends/test-frontend1\",\r\n      \"name\": \"test-frontend1\",\r\n      \"type\": \"Microsoft.ServiceNetworking/TrafficControllers/Frontends\",\r\n      \"etag\": \"aa082cc3-f8ab-47bf-950f-110b98eff300\",\r\n      \"location\": \"NorthCentralUS\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"fqdn\": \"e853d603ee81f4af13e83a6df300045d.fz85.alb.azure.com\",\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/711d99a7-fd79-4ce7-9831-ea1afa18442e/resourcegroups/test-rg/providers/Microsoft.ServiceNetworking/trafficControllers/test-alb/frontends/test-frontend2\",\r\n      \"name\": \"test-frontend2\",\r\n      \"type\": \"Microsoft.ServiceNetworking/TrafficControllers/Frontends\",\r\n      \"etag\": \"388c05aa-ad3d-45df-82b7-7d0e1ec12763\",\r\n      \"location\": \"NorthCentralUS\"\r\n    }\r\n  ]\r\n}",
    }
  },
  "Get-AzAlbFrontend+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/711d99a7-fd79-4ce7-9831-ea1afa18442e/resourceGroups/test-rg/providers/Microsoft.ServiceNetworking/trafficControllers/test-alb/frontends/test-frontend1?api-version=2023-05-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/711d99a7-fd79-4ce7-9831-ea1afa18442e/resourceGroups/test-rg/providers/Microsoft.ServiceNetworking/trafficControllers/test-alb/frontends/test-frontend1?api-version=2023-05-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "32" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"aa082cc3-f8ab-47bf-950f-110b98eff300\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11993" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"properties\": {\r\n    \"fqdn\": \"0f3d063c2eedf612df507fd35e261274.fz56.alb.azure.com\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/711d99a7-fd79-4ce7-9831-ea1afa18442e/resourcegroups/test-rg/providers/Microsoft.ServiceNetworking/trafficControllers/test-alb/frontends/test-frontend1\",\r\n  \"name\": \"test-frontend1\",\r\n  \"type\": \"Microsoft.ServiceNetworking/TrafficControllers/Frontends\",\r\n  \"etag\": \"aa082cc3-f8ab-47bf-950f-110b98eff300\",\r\n  \"location\": \"NorthCentralUS\"\r\n}",
    }
  }
}