{
  "New-AzAlbAssociation+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/711d99a7-fd79-4ce7-9831-ea1afa18442e/resourceGroups/test-rg/providers/Microsoft.ServiceNetworking/trafficControllers/association-test-alb/associations/test-association?api-version=2023-05-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/711d99a7-fd79-4ce7-9831-ea1afa18442e/resourceGroups/test-rg/providers/Microsoft.ServiceNetworking/trafficControllers/association-test-alb/associations/test-association?api-version=2023-05-01-preview",
      "Content": "{\n  \"location\": \"northcentralus\",\n  \"properties\": {\n    \"subnet\": {\n      \"id\": \"/subscriptions/711d99a7-fd79-4ce7-9831-ea1afa18442e/resourceGroups/test-rg/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/extra-alb-subnet\"\n    },\n    \"associationType\": \"subnets\"\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Retry-After": [ "10" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/711d99a7-fd79-4ce7-9831-ea1afa18442e/providers/Microsoft.ServiceNetworking/locations/northcentralus/operations/2ed2ca80-8a37-4f32-8127-0a0ea685e1d0?api-version=2023-05-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"properties\": {\r\n    \"associationType\": \"subnets\",\r\n    \"subnet\": {\r\n      \"id\": \"/subscriptions/711d99a7-fd79-4ce7-9831-ea1afa18442e/resourceGroups/test-rg/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/extra-alb-subnet\"\r\n    },\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/711d99a7-fd79-4ce7-9831-ea1afa18442e/resourceGroups/test-rg/providers/Microsoft.ServiceNetworking/trafficControllers/association-test-alb/associations/test-association\",\r\n  \"name\": \"test-association\",\r\n  \"type\": \"Microsoft.ServiceNetworking/TrafficControllers/Associations\",\r\n  \"etag\": \"bb376f0b-655d-4c5f-bf9a-4c958e6ae371\",\r\n  \"location\": \"NorthCentralUS\"\r\n}",
    }
  },
  "New-AzAlbAssociation+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/711d99a7-fd79-4ce7-9831-ea1afa18442e/providers/Microsoft.ServiceNetworking/locations/northcentralus/operations/2ed2ca80-8a37-4f32-8127-0a0ea685e1d0?api-version=2023-05-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/711d99a7-fd79-4ce7-9831-ea1afa18442e/providers/Microsoft.ServiceNetworking/locations/northcentralus/operations/2ed2ca80-8a37-4f32-8127-0a0ea685e1d0?api-version=2023-05-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "44" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Retry-After": [ "10" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11986" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"status\": \"InProgress\"\r\n}",
    }
  },
  "New-AzAlbAssociation+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/711d99a7-fd79-4ce7-9831-ea1afa18442e/providers/Microsoft.ServiceNetworking/locations/northcentralus/operations/2ed2ca80-8a37-4f32-8127-0a0ea685e1d0?api-version=2023-05-01-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/711d99a7-fd79-4ce7-9831-ea1afa18442e/providers/Microsoft.ServiceNetworking/loc[...]
