{
  "Get-AzsVirtualNetwork+[NoContext]+TestGetAllVirtualNetworks+$GET+https://adminmanagement.local.azurestack.external/subscriptions/e0472ab8-6c95-464d-bd13-590c91be5bbf/providers/Microsoft.Network.Admin/adminVirtualNetworks?api-version=2015-06-15+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://adminmanagement.local.azurestack.external/subscriptions/e0472ab8-6c95-464d-bd13-590c91be5bbf/providers/Microsoft.Network.Admin/adminVirtualNetworks?api-version=2015-06-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "18" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "14999" ],
        "WWW-Authenticate": [ "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvuy1AezaFcs48ZidoX8DiVFWiPWxVp00aoayjOwD0nsvjkz9iRsr5HEiLQKvnWvkjjv6fUyZJSz8ABQj+IwagnUViMeKQT6BuB01BZyai74yDY9AOjqDxIn0KtnDcxWA1Yp7exN8s2JBSBtrMEJDV" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"canvr991vNet1\",\r\n      \"type\": \"Microsoft.Network.Admin/adminVirtualNetworks\",\r\n      \"location\": \"\",\r\n      \"id\": \"/subscriptions/cff91c32-ac01-4309-8fd9-25a8fc524a40/resourceGroups/canvr991/providers/Microsoft.Network/virtualNetworks/canvr991vNet1\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"configurationState\": {\r\n          \"status\": \"Success\",\r\n          \"lastUpdatedTime\": \"2019-11-13T20:07:19.7368585+00:00\",\r\n          \"virtualNetworkInterfaceErrors\": [],\r\n          \"hostErrors\": []\r\n        },\r\n        \"subscriptionId\": \"cff91c32-ac01-4309-8fd9-25a8fc524a40\",\r\n        \"tenantResourceUri\": \"/subscriptions/cff91c32-ac01-4309-8fd9-25a8fc524a40/resourceGroups/canvr991/providers/Microsoft.Network/virtualNetworks/canvr991vNet1\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"testvmVNET\",\r\n      \"type\": \"Microsoft.Network.Admin/adminVirtualNetworks\",\r\n      \"location\": \"\",\r\n      \"id\": \"/subscriptions/cff91c32-ac01-4309-8fd9-25a8fc524a40/resourceGroups/canvr991/providers/Microsoft.Network/virtualNetworks/testvmVNET\",\r\n      \"properties\": {\r\n        \"provi[...]
