{
  "Entries": [
    {
      "RequestUri": "/pools?api-version=2017-01-01.4.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"changeospool\",\r\n  \"vmSize\": \"small\",\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"targetOSVersion\": \"*\"\r\n  },\r\n  \"targetDedicated\": 0,\r\n  \"enableInterNodeCommunication\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Thu, 09 Feb 2017 17:18:10 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Thu, 09 Feb 2017 17:18:10 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://jstesteastus2.eastus2.batch.azure.com/pools/changeospool"
        ],
        "ETag": [
          "0x8D4510F9F6CB55A"
        ],
        "Location": [
          "https://jstesteastus2.eastus2.batch.azure.com/pools/changeospool"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/pools/changeospool?api-version=2017-01-01.4.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 09 Feb 2017 17:18:10 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://jstesteastus2.eastus2.batch.azure.com/$metadata#pools/@Element\",\r\n  \"id\": \"changeospool\",\r\n  \"url\": \"https://jstesteastus2.eastus2.batch.azure.com/pools/changeospool\",\r\n  \"eTag\": \"0x8D4510F9F6CB55A\",\r\n  \"lastModified\": \"2017-02-09T17:18:10.7143514Z\",\r\n  \"creationTime\": \"2017-02-09T17:18:10.7143514Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2017-02-09T17:18:10.7143514Z\",\r\n  \"allocationState\": \"steady\",\r\n  \"allocationStateTransitionTime\": \"2017-02-09T17:18:10.8333402Z\",\r\n  \"vmSize\": \"small\",\r\n  \"resizeTimeout\": \"PT15M\",\r\n  \"currentDedicated\": 0,\r\n  \"targetDedicated\": 0,\r\n  \"enableAutoScale\": false,\r\n  \"enableInterNodeCommunication\": true,\r\n  \"maxTasksPerNode\": 1,\r\n  \"taskSchedulingPolicy\": {\r\n    \"nodeFillType\": \"Spread\"\r\n  },\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"targetOSVersion\": \"*\",\r\n    \"currentOSVersion\": \"*\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Thu, 09 Feb 2017 17:18:10 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D4510F9F6CB55A"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/changeospool/upgradeos?api-version=2017-01-01.4.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"targetOSVersion\": \"WA-GUEST-OS-2.51_201605-01\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Thu, 09 Feb 2017 17:18:11 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Thu, 09 Feb 2017 17:18:11 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://jstesteastus2.eastus2.batch.azure.com/pools/changeospool/upgradeos"
        ],
        "ETag": [
          "0x8D4510F9FDDD3FE"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/pools/changeospool?api-version=2017-01-01.4.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 09 Feb 2017 17:18:11 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "46241355-bb95-46a9-ba6c-42b554d71925",
    "AZURE_BATCH_ACCOUNT": "jstesteastus2",
    "AZURE_BATCH_ENDPOINT": "https://jstesteastus2.eastus2.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "default-eastus"
  }
}