{
  "Entries": [
    {
      "RequestUri": "/pools?api-version=2018-03-01.6.1",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"changeospool\",\r\n  \"vmSize\": \"small\",\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"targetOSVersion\": \"*\"\r\n  },\r\n  \"targetDedicatedNodes\": 0,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableInterNodeCommunication\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Fri, 25 May 2018 18:40:43 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Fri, 25 May 2018 18:40:43 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://batchtestaccount.westus.batch.azure.com/pools/changeospool"
        ],
        "ETag": [
          "0x8D5C26F05E4ECE2"
        ],
        "Location": [
          "https://batchtestaccount.westus.batch.azure.com/pools/changeospool"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/pools/changeospool?api-version=2018-03-01.6.1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 25 May 2018 18:40:44 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://batchtestaccount.westus.batch.azure.com/$metadata#pools/@Element\",\r\n  \"id\": \"changeospool\",\r\n  \"url\": \"https://batchtestaccount.westus.batch.azure.com/pools/changeospool\",\r\n  \"eTag\": \"0x8D5C26F05E4ECE2\",\r\n  \"lastModified\": \"2018-05-25T18:40:43.8840546Z\",\r\n  \"creationTime\": \"2018-05-25T18:40:43.8840546Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2018-05-25T18:40:43.8840546Z\",\r\n  \"allocationState\": \"steady\",\r\n  \"allocationStateTransitionTime\": \"2018-05-25T18:40:44.041944Z\",\r\n  \"vmSize\": \"small\",\r\n  \"resizeTimeout\": \"PT15M\",\r\n  \"currentDedicatedNodes\": 0,\r\n  \"targetDedicatedNodes\": 0,\r\n  \"currentLowPriorityNodes\": 0,\r\n  \"targetLowPriorityNodes\": 0,\r\n  \"enableAutoScale\": false,\r\n  \"enableInterNodeCommunication\": true,\r\n  \"maxTasksPerNode\": 1,\r\n  \"taskSchedulingPolicy\": {\r\n    \"nodeFillType\": \"Spread\"\r\n  },\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"targetOSVersion\": \"*\",\r\n    \"currentOSVersion\": \"*\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Fri, 25 May 2018 18:40:43 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D5C26F05E4ECE2"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/changeospool/upgradeos?api-version=2018-03-01.6.1",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"targetOSVersion\": \"WA-GUEST-OS-2.51_201605-01\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Fri, 25 May 2018 18:40:44 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Fri, 25 May 2018 18:40:44 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://batchtestaccount.westus.batch.azure.com/pools/changeospool/upgradeos"
        ],
        "ETag": [
          "0x8D5C26F062AF0DF"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/pools/changeospool?api-version=2018-03-01.6.1",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Fri, 25 May 2018 18:40:44 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "ac86108b-e8ec-4858-8603-2f80105f96db",
    "AZURE_BATCH_ACCOUNT": "batchtestaccount",
    "AZURE_BATCH_ENDPOINT": "https://batchtestaccount.westus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "antoniowtestbatchrg"
  }
}