{
  "Entries": [
    {
      "RequestUri": "/pools/testPool?api-version=2016-07-01.3.1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 01 Aug 2016 19:21:28 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstestaccount.centralus.batch.azure.com/$metadata#pools/@Element\",\r\n  \"id\": \"testPool\",\r\n  \"url\": \"https://pstestaccount.centralus.batch.azure.com/pools/testPool\",\r\n  \"eTag\": \"0x8D3BA40BF20F39E\",\r\n  \"lastModified\": \"2016-08-01T19:19:23.6652958Z\",\r\n  \"creationTime\": \"2016-05-19T00:32:54.5271672Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2016-05-19T00:32:54.5271672Z\",\r\n  \"allocationState\": \"steady\",\r\n  \"allocationStateTransitionTime\": \"2016-08-01T19:20:03.1275922Z\",\r\n  \"vmSize\": \"small\",\r\n  \"resizeTimeout\": \"PT15M\",\r\n  \"resizeError\": {\r\n    \"code\": \"ResizeStopped\",\r\n    \"message\": \"Desired number of dedicated nodes could not be allocated due to a StopPoolResize operation\"\r\n  },\r\n  \"currentDedicated\": 1,\r\n  \"targetDedicated\": 3,\r\n  \"enableAutoScale\": false,\r\n  \"enableInterNodeCommunication\": false,\r\n  \"maxTasksPerNode\": 1,\r\n  \"taskSchedulingPolicy\": {\r\n    \"nodeFillType\": \"Pack\"\r\n  },\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"targetOSVersion\": \"*\",\r\n    \"currentOSVersion\": \"*\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Mon, 01 Aug 2016 19:19:23 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D3BA40BF20F39E"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/testPool?api-version=2016-07-01.3.1&$select=id%2Cstate",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 01 Aug 2016 19:21:29 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstestaccount.centralus.batch.azure.com/$metadata#pools/@Element\",\r\n  \"id\": \"testPool\",\r\n  \"state\": \"active\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Mon, 01 Aug 2016 19:19:23 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D3BA40BF20F39E"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools?api-version=2016-07-01.3.1&$filter=id%20eq%20'testPool'",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 01 Aug 2016 19:21:29 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstestaccount.centralus.batch.azure.com/$metadata#pools\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"testPool\",\r\n      \"url\": \"https://pstestaccount.centralus.batch.azure.com/pools/testPool\",\r\n      \"eTag\": \"0x8D3BA40BF20F39E\",\r\n      \"lastModified\": \"2016-08-01T19:19:23.6652958Z\",\r\n      \"creationTime\": \"2016-05-19T00:32:54.5271672Z\",\r\n      \"state\": \"active\",\r\n      \"stateTransitionTime\": \"2016-05-19T00:32:54.5271672Z\",\r\n      \"allocationState\": \"steady\",\r\n      \"allocationStateTransitionTime\": \"2016-08-01T19:20:03.1275922Z\",\r\n      \"vmSize\": \"small\",\r\n      \"resizeTimeout\": \"PT15M\",\r\n      \"resizeError\": {\r\n        \"code\": \"ResizeStopped\",\r\n        \"message\": \"Desired number of dedicated nodes could not be allocated due to a StopPoolResize operation\"\r\n      },\r\n      \"currentDedicated\": 1,\r\n      \"targetDedicated\": 3,\r\n      \"enableAutoScale\": false,\r\n      \"enableInterNodeCommunication\": false,\r\n      \"maxTasksPerNode\": 1,\r\n      \"taskSchedulingPolicy\": {\r\n        \"nodeFillType\": \"Pack\"\r\n      },\r\n      \"cloudServiceConfiguration\": {\r\n        \"osFamily\": \"4\",\r\n        \"targetOSVersion\": \"*\",\r\n        \"currentOSVersion\": \"*\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools?api-version=2016-07-01.3.1&$filter=id%20eq%20'testPool'&$select=id%2Cstate",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 01 Aug 2016 19:21:29 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstestaccount.centralus.batch.azure.com/$metadata#pools\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"testPool\",\r\n      \"state\": \"active\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "46241355-bb95-46a9-ba6c-42b554d71925",
    "AZURE_BATCH_ACCOUNT": "pstestaccount",
    "AZURE_BATCH_ENDPOINT": "https://pstestaccount.centralus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "AccountMgmtSampleGroup"
  }
}