{
  "Entries": [
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.Resources?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.Resources\",\r\n  \"namespace\": \"Microsoft.Resources\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"3b990c8b-9607-4c2a-8b04-1d41985facca\"\r\n    },\r\n    {\r\n      \"applicationId\": \"f77c2a8f-8a0a-4776-8e0a-bcb2549610ca\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"changes\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2024-06-01-preview\",\r\n        \"2023-07-01-preview\",\r\n        \"2023-03-01-preview\",\r\n        \"2022-05-01\",\r\n        \"2022-03-01-preview\"\r\n      ],\r\n      \"capabilities\": \"SupportsExtension\"\r\n    },\r\n    {\r\n      \"resourceType\": \"snapshots\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2022-11-01-preview\"\r\n      ],\r\n      \"capabilities\": \"SupportsExtension\"\r\n    },\r\n    {\r\n      \"resourceType\": \"deploymentScripts\",\r\n      \"locations\": [\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Austria East\",\r\n        \"Australia East\",\r\n        \"Australia Central\",\r\n        \"Austra[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync\",\r\n  \"namespace\": \"Microsoft.StorageSync\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"9469b9f5-6722-4481-a2b2-14ed560b706f\",\r\n      \"roleDefinitionId\": \"4cd49d82-1f4d-43fc-af0c-1c1203668e5a\"\r\n    },\r\n    {\r\n      \"applicationId\": \"ad47578a-93bb-4ab8-85ed-8e99cd5a48da\",\r\n      \"roleDefinitionId\": \"4cd49d82-1f4d-43fc-af0c-1c1203668e5a\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageSyncServices\",\r\n      \"locations\": [\r\n        \"West Central US\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourcegroups/ps9382?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps9382\",\r\n  \"name\": \"ps9382\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/CentralUSEUAP/checkNameAvailability?api-version=2025-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"name\": \"sssps2009\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\"\r\n}",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "99ad9de2-ebea-442b-9752-a40c69d67104"
        ],
        "X-ServiceFabricRequestId": [
          "7f2a78b1-d1d7-4326-8cf3-b2399ca7eb26"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps9382/providers/Microsoft.StorageSync/storageSyncServices/sssps2009?api-version=2025-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\"\r\n  },\r\n  \"tags\": {},\r\n  \"location\": \"Central US EUAP\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjAyNDg2YjE3LTg0YzUtNGY2Zi1iMTUzLTM4OWJiZTE2Mjc4NyIsIndvcmtmbG93SWQiOiIwYjJkM2JlNi1jNDMwLTQyOGMtOGJhMC1mZDBiNzNjYjE4ZDQiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZDNlZjIxYTUtYzFiOS00NzUzLTg0ODQtNjIzZWIxNTAyYjA1In0=?api-version=2025-12-01&t=639240635389218422&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFAD[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjAyNDg2YjE3LTg0YzUtNGY2Zi1iMTUzLTM4OWJiZTE2Mjc4NyIsIndvcmtmbG93SWQiOiIwYjJkM2JlNi1jNDMwLTQyOGMtOGJhMC1mZDBiNzNjYjE4ZDQiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZDNlZjIxYTUtYzFiOS00NzUzLTg0ODQtNjIzZWIxNTAyYjA1In0=?api-version=2025-12-01&t=639240635389062156&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01[...]
[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps9382/providers/Microsoft.StorageSync/storageSyncServices/sssps2009?api-version=2025-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "b3c3fb97-67ac-4335-931a-d9643d57f3e6"
        ],
        "X-ServiceFabricRequestId": [
          "5661387e-d9e7-4da4-9d36-641f2c484327"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"principalId\": \"828ba4f3-c9b9-46e5-8cee-8d951c6beed4\",\r\n    \"userAssignedIdentities\": {}\r\n  },\r\n  \"properties\": {\r\n    \"storageSyncServiceStatus\": 0,\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\",\r\n    \"privateEndpointConnections\": [],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"useIdentity\": true,\r\n    \"lastWorkflowId\": \"storageSyncServices/sssps2009/workflows/0b2d3be6-c430-428c-8ba0-fd0b73cb18d4\",\r\n    \"lastOperationName\": \"ICreateStorageSyncServiceWorkflow2\"\r\n  },\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps9382/providers/Microsoft.StorageSync/storageSyncServices/sssps2009\",\r\n  \"name\": \"sssps2009\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"2a9cc9f0-884a-4fd1-a87b-4bbec753776e\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2026-09-03T20:18:57.2967516Z\",\r\n    \"lastModifiedBy\": \"2a9cc9f0-884a-4fd1-a87b-4bbec753776e\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2026-09-03T20:18:57.2967516Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps9382/providers/Microsoft.StorageSync/storageSyncServices/sssps2009/syncGroups/sgps9209?api-version=2025-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {}\r\n}",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "d9a548cf-6d34-4200-8ea5-4f0fc4030408"
        ],
        "X-ServiceFabricRequestId": [
          "d59ce327-ef30-4aa6-ac50-b7c7d803e4ae"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"syncGroupStatus\": \"0\",\r\n    \"uniqueId\": \"7c95c210-200e-49a4-b4a2-9ecb9eb3fb5f\"\r\n  },\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps9382/providers/Microsoft.StorageSync/storageSyncServices/sssps2009/syncGroups/sgps9209\",\r\n  \"name\": \"sgps9209\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices/syncGroups\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"2a9cc9f0-884a-4fd1-a87b-4bbec753776e\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2026-09-03T20:19:21.0437801Z\",\r\n    \"lastModifiedBy\": \"2a9cc9f0-884a-4fd1-a87b-4bbec753776e\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2026-09-03T20:19:21.0437801Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjAyNDg2YjE3LTg0YzUtNGY2Zi1iMTUzLTM4OWJiZTE2Mjc4NyIsIndvcmtmbG93SWQiOiI2NzBlMzU0MS03NWVkLTRhODQtYTdiZC0zNzJjZmZlYjYyNDEiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMmE1NzQ0ODktZTBhOS00NTg0LThlMDYtOTkwYjAxYzVhYTUzIn0=?api-version=2025-12-01&t=639240635642060134&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01[...]
[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjAyNDg2YjE3LTg0YzUtNGY2Zi1iMTUzLTM4OWJiZTE2Mjc4NyIsIndvcmtmbG93SWQiOiI2NzBlMzU0MS03NWVkLTRhODQtYTdiZC0zNzJjZmZlYjYyNDEiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMmE1NzQ0ODktZTBhOS00NTg0LThlMDYtOTkwYjAxYzVhYTUzIn0=?api-version=2025-12-01&t=639240635642216429&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDE[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps9382/providers/Microsoft.StorageSync/storageSyncServices?api-version=2025-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "dfa8e7d3-e5ab-4426-a7bb-e595b37bf12b"
        ],
        "mise-correlation-id": [
          "3d07c5f6-59e0-4924-a75e-933cdad9749d"
        ],
        "X-ServiceFabricRequestId": [
          "919cdb0b-222e-4e92-ad58-c52849744833"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzkzODItV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMiLCJqb2JTdG9yYWdlQWNjb3VudCI6Ii9jc20vc3RvcmFnZWFjY291bnRzL2dsb2JhbC9ycGZkbGpvYjAwcHJvZGJ5MDQifQ?api-version=2016-09-01&t=639240635896938603&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMTE2NTU0MVoXDTI3MDI[...]
[...]
