{
  "Entries": [
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.Resources?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.Resources\",\r\n  \"namespace\": \"Microsoft.Resources\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"3b990c8b-9607-4c2a-8b04-1d41985facca\"\r\n    },\r\n    {\r\n      \"applicationId\": \"f77c2a8f-8a0a-4776-8e0a-bcb2549610ca\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"changes\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2024-06-01-preview\",\r\n        \"2023-07-01-preview\",\r\n        \"2023-03-01-preview\",\r\n        \"2022-05-01\",\r\n        \"2022-03-01-preview\"\r\n      ],\r\n      \"capabilities\": \"SupportsExtension\"\r\n    },\r\n    {\r\n      \"resourceType\": \"snapshots\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2022-11-01-preview\"\r\n      ],\r\n      \"capabilities\": \"SupportsExtension\"\r\n    },\r\n    {\r\n      \"resourceType\": \"deploymentScripts\",\r\n      \"locations\": [\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Austria East\",\r\n        \"Australia East\",\r\n        \"Australia Central\",\r\n        \"Austra[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync\",\r\n  \"namespace\": \"Microsoft.StorageSync\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"9469b9f5-6722-4481-a2b2-14ed560b706f\",\r\n      \"roleDefinitionId\": \"4cd49d82-1f4d-43fc-af0c-1c1203668e5a\"\r\n    },\r\n    {\r\n      \"applicationId\": \"ad47578a-93bb-4ab8-85ed-8e99cd5a48da\",\r\n      \"roleDefinitionId\": \"4cd49d82-1f4d-43fc-af0c-1c1203668e5a\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageSyncServices\",\r\n      \"locations\": [\r\n        \"West Central US\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourcegroups/ps8942?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps8942\",\r\n  \"name\": \"ps8942\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/CentralUSEUAP/checkNameAvailability?api-version=2025-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"name\": \"sssps8794\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\"\r\n}",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "3460a7fd-6838-48f7-97e4-aa1b8b781a01"
        ],
        "X-ServiceFabricRequestId": [
          "a1fb54a7-be22-479e-a415-210581b8c7f1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps8942/providers/Microsoft.StorageSync/storageSyncServices/sssps8794?api-version=2025-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\"\r\n  },\r\n  \"tags\": {},\r\n  \"location\": \"Central US EUAP\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6ImJkN2RhOTZiLWJkOTctNDNlMi1iODE5LWI0YTJhYWJiYTQwMyIsIndvcmtmbG93SWQiOiI1NTU0ODJjYi1iZTUzLTQ0ZmQtYWRjZC1lYWRkMzU0ODViMmQiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMDNiYzczZGYtMTRkMi00ZTQzLTk3NGYtMTY5N2Q1YmMyMjZiIn0=?api-version=2025-12-01&t=639240636145874193&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFAD[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6ImJkN2RhOTZiLWJkOTctNDNlMi1iODE5LWI0YTJhYWJiYTQwMyIsIndvcmtmbG93SWQiOiI1NTU0ODJjYi1iZTUzLTQ0ZmQtYWRjZC1lYWRkMzU0ODViMmQiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMDNiYzczZGYtMTRkMi00ZTQzLTk3NGYtMTY5N2Q1YmMyMjZiIn0=?api-version=2025-12-01&t=639240636145717942&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps8942/providers/Microsoft.StorageSync/storageSyncServices/sssps8794?api-version=2025-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "769af578-ea69-4a28-a94c-328163b9270b"
        ],
        "X-ServiceFabricRequestId": [
          "448931ce-bb9d-4c0d-8c54-fccaeb59c57e"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"principalId\": \"e1e2f93e-0054-425f-b82b-ec5e9bf88a6f\",\r\n    \"userAssignedIdentities\": {}\r\n  },\r\n  \"properties\": {\r\n    \"storageSyncServiceStatus\": 0,\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\",\r\n    \"privateEndpointConnections\": [],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"useIdentity\": true,\r\n    \"lastWorkflowId\": \"storageSyncServices/sssps8794/workflows/555482cb-be53-44fd-adcd-eadd35485b2d\",\r\n    \"lastOperationName\": \"ICreateStorageSyncServiceWorkflow2\"\r\n  },\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps8942/providers/Microsoft.StorageSync/storageSyncServices/sssps8794\",\r\n  \"name\": \"sssps8794\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"2a9cc9f0-884a-4fd1-a87b-4bbec753776e\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2026-09-03T20:20:12.2592824Z\",\r\n    \"lastModifiedBy\": \"2a9cc9f0-884a-4fd1-a87b-4bbec753776e\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2026-09-03T20:20:12.2592824Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps8942/providers/Microsoft.StorageSync/storageSyncServices/sssps8794/syncGroups/sgps6122?api-version=2025-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {}\r\n}",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "85de543b-a5de-4ea2-9831-0bf6fd203138"
        ],
        "X-ServiceFabricRequestId": [
          "209721b7-6ec7-4f60-b19c-8872f131563a"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"syncGroupStatus\": \"0\",\r\n    \"uniqueId\": \"5389f26f-bd35-4a11-940c-3380dd238d16\"\r\n  },\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps8942/providers/Microsoft.StorageSync/storageSyncServices/sssps8794/syncGroups/sgps6122\",\r\n  \"name\": \"sgps6122\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices/syncGroups\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"2a9cc9f0-884a-4fd1-a87b-4bbec753776e\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2026-09-03T20:20:26.3549994Z\",\r\n    \"lastModifiedBy\": \"2a9cc9f0-884a-4fd1-a87b-4bbec753776e\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2026-09-03T20:20:26.3549994Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6ImJkN2RhOTZiLWJkOTctNDNlMi1iODE5LWI0YTJhYWJiYTQwMyIsIndvcmtmbG93SWQiOiIyYTY0OTZjYy0zNzA3LTQwYTktYTU1OC01Y2Q1MWNmODgyODEiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiNDBhMDgwN2YtYWE1NC00MzIwLWJlODctMDllNGRkMjI0MjBiIn0=?api-version=2025-12-01&t=639240636410248170&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01[...]
[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6ImJkN2RhOTZiLWJkOTctNDNlMi1iODE5LWI0YTJhYWJiYTQwMyIsIndvcmtmbG93SWQiOiIyYTY0OTZjYy0zNzA3LTQwYTktYTU1OC01Y2Q1MWNmODgyODEiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiNDBhMDgwN2YtYWE1NC00MzIwLWJlODctMDllNGRkMjI0MjBiIn0=?api-version=2025-12-01&t=639240636410248170&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDE[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps8942/providers/Microsoft.StorageSync/storageSyncServices?api-version=2025-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "310b2167-da5d-4b70-af3a-5b071a99b5f5"
        ],
        "mise-correlation-id": [
          "8101999d-be8b-48ad-9141-61a5878e7e85"
        ],
        "X-ServiceFabricRequestId": [
          "5dba821d-3233-423b-95de-1c556f9815a4"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzg5NDItV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMiLCJqb2JTdG9yYWdlQWNjb3VudCI6Ii9jc20vc3RvcmFnZWFjY291bnRzL2dsb2JhbC9ycGZkbGpvYjAwcHJvZGJ5MDQifQ?api-version=2016-09-01&t=639240636644095353&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMTE2NTU0MVoXDTI3MDI[...]
[...]
