{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/providers/Microsoft.Resources?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Resources?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "42ca35d5-90da-48d2-8427-6334404c40e9"
=======
          "20f66a32-9490-4757-a833-b92b5281b1a7"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.16"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
<<<<<<< HEAD
          "543451fe-ca2b-47e2-80a6-5a62b4ebf7d1"
        ],
        "x-ms-correlation-request-id": [
          "543451fe-ca2b-47e2-80a6-5a62b4ebf7d1"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190703T184335Z:543451fe-ca2b-47e2-80a6-5a62b4ebf7d1"
=======
          "efaa8b9b-22e5-4ac9-be40-5e4b72f03f2e"
        ],
        "x-ms-correlation-request-id": [
          "efaa8b9b-22e5-4ac9-be40-5e4b72f03f2e"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200623T071540Z:efaa8b9b-22e5-4ac9-be40-5e4b72f03f2e"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 03 Jul 2019 18:43:34 GMT"
=======
          "Tue, 23 Jun 2020 07:15:39 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "8818"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/providers/Microsoft.Resources\",\r\n  \"namespace\": \"Microsoft.Resources\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"tenants\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2019-05-01\",\r\n        \"2019-04-01\",\r\n        \"2019-03-01\",\r\n        \"2018-11-01\",\r\n        \"2018-09-01\",\r\n        \"2018-08-01\",\r\n        \"2018-07-01\",\r\n        \"2018-05-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-01\",\r\n        \"2017-08-01\",\r\n        \"2017-06-01\",\r\n        \"2017-05-10\",\r\n        \"2017-05-01\",\r\n        \"2017-03-01\",\r\n        \"2016-09-01\",\r\n        \"2016-07-01\",\r\n        \"2016-06-01\",\r\n        [...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/providers/Microsoft.StorageSync?api-version=2016-09-01",
=======
          "10899"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Resources\",\r\n  \"namespace\": \"Microsoft.Resources\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"3b990c8b-9607-4c2a-8b04-1d41985facca\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"tenants\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2020-01-01\",\r\n        \"2019-09-01\",\r\n        \"2019-05-01\",\r\n        \"2019-04-01\",\r\n        \"2019-03-01\",\r\n        \"2018-11-01\",\r\n        \"2018-09-01\",\r\n        \"2018-08-01\",\r\n        \"2018-07-01\",\r\n        \"2018-05-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-0[...]
[...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourcegroups/ps3958?api-version=2016-09-01",
=======
          "7645"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.StorageSync\",\r\n  \"namespace\": \"Microsoft.StorageSync\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"9469b9f5-6722-4481-a2b2-14ed560b706f\",\r\n      \"roleDefinitionId\": \"4cd49d82-1f4d-43fc-af0c-1c1203668e5a\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageSyncServices\",\r\n      \"locations\": [\r\n        \"West Central US\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"East US\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Brazil South\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"West US 2\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"France South\",\r\n        \"South Africa North\",\r\n        \"South Africa West\",\r\n        \"UAE North\",\r\n        \"UAE Central\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2020-03-01\",\r\n        \"2019-10-01\",\r\n        \"2019-06-01\",\r\n        \"2019-03-01\",\r\n        \"2019-02-01\",\r\n        \"2018-10-01\",\r\n        \"2018-07-01\",\r\n        \"2018-04-02\",\r\n        \"2018-01-01-preview\",\r\n        \"2017-06-05-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"storageSyncServices/syncGroups\",\r\n      \"locations\": [\r\n        \"West Central US\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"East US\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n  [...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourcegroups/ps6056?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "a5450d8e-3393-49b9-af61-8b24583f8e83"
=======
          "50691462-65e5-4d4f-a078-7e24316b208e"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.Resour[...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/providers/Microsoft.StorageSync/locations/CentralUSEUAP/checkNameAvailability?api-version=2019-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"sssps5526\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps6056\",\r\n  \"name\": \"ps6056\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps3958/providers/Microsoft.StorageSync/storageSyncServices/sssps5526?api-version=2019-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps6056/providers/Microsoft.StorageSync/storageSyncServices/sssps3166?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.StorageSync.StorageSyncManagementClient/3.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.StorageSync.StorageSyncManagementClient/5.0.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "52"
=======
          "125"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "x-ms-request-id": [
          "790e31f0-1da2-4311-8b4c-84b045507712"
=======
        "Location": [
          "https://management.azure.com/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6ImJiN2U4MDNmLTM2YTctNGRkOS04NDJmLWYwYmRiN2QyM2IzZiIsIndvcmtmbG93SWQiOiJiZTBhNjg2YS03YTRhLTRhNTYtOWQyOC1hYmIxMTA5YzhlMmUiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZDQxOTFlMTYtZTlkNy00YTg1LWJlMjAtMmNiOGU2NzUyZjI0In0=?api-version=2020-03-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6ImJiN2U4MDNmLTM2YTctNGRkOS04NDJmLWYwYmRiN2QyM2IzZiIsIndvcmtmbG93SWQiOiJiZTBhNjg2YS03YTRhLTRhNTYtOWQyOC1hYmIxMTA5YzhlMmUiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZDQxOTFlMTYtZTlkNy00YTg1LWJlMjAtMmNiOGU2NzUyZjI0In0=?api-version=2020-03-01"
        ],
        "x-ms-request-id": [
          "48eafb4e-9f0c-443c-8cba-bca13a36c113"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "f7cf4135-eff6-4247-a446-cd2146f98e30"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190703T184338Z:f7cf4135-eff6-4247-a446-cd2146f98e30"
        ],
        "Date": [
          "Wed, 03 Jul 2019 18:43:38 GMT"
        ],
        "Content-Length": [
          "329"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
=======
          "eb30fcb9-5ea2-447b-b766-bb649caa479b"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200623T071542Z:eb30fcb9-5ea2-447b-b766-bb649caa479b"
        ],
        "Date": [
          "Tue, 23 Jun 2020 07:15:42 GMT"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6ImJiN2U4MDNmLTM2YTctNGRkOS04NDJmLWYwYmRiN2QyM2IzZiIsIndvcmtmbG93SWQiOiJiZTBhNjg2YS03YTRhLTRhNTYtOWQyOC1hYmIxMTA5YzhlMmUiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZDQxOTFlMTYtZTlkNy00YTg1LWJlMjAtMmNiOGU2NzUyZjI0In0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6ImJiN2U4MDNmLTM2YTctNGRkOS04NDJmLWYwYmRiN2QyM2IzZiIsIndvcmtmbG93SWQiOiJiZTBhNjg2YS03YTRhLTRhNTYtOWQyOC1hYmIxMTA5YzhlMmUiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZDQxOTFlMTYtZTlkNy00YTg1LWJlMjAtMmNiOGU2NzUyZjI0In0=\",\r\n  \"name\": \"eyJwYXJ0aXRpb25JZCI6ImJiN2U4MDNmLTM2YTctNGRkOS04NDJmLWYwYmRiN2QyM2IzZiIsIndvcmtmbG93SWQiOiJiZTBhNjg2YS03YTRhLTRhNTYtOWQyOC1hYmIxMTA5YzhlMmUiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZDQxOTFlMTYtZTlkNy00YTg1LWJlMjAtMmNiOGU2NzUyZjI0In0=\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-06-23T07:15:43.0517772Z\",\r\n  \"endTime\": \"2020-06-23T07:15:49.5287823Z\",\r\n  \"properties\": {}\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps6056/providers/Microsoft.StorageSync/storageSyncServices/sssps3166?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageSyncServiceStatus\": null,\r\n    \"storageSyncServiceUid\": null\r\n  },\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps3958/providers/microsoft.storagesync/storageSyncServices/sssps5526\",\r\n  \"name\": \"sssps5526\",\r\n  \"type\": \"microsoft.storagesync/storageSyncServices\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps3958/providers/Microsoft.StorageSync/storageSyncServices/sssps5526/syncGroups/sgps7647?api-version=2019-03-01",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageSyncServiceStatus\": 0,\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\",\r\n    \"privateEndpointConnections\": [],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"lastWorkflowId\": \"storageSyncServices/sssps3166/workflows/be0a686a-7a4a-4a56-9d28-abb1109c8e2e\",\r\n    \"lastOperationName\": \"ICreateStorageSyncServiceWorkflow\"\r\n  },\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps6056/providers/microsoft.storagesync/storageSyncServices/sssps3166\",\r\n  \"name\": \"sssps3166\",\r\n  \"type\": \"microsoft.storagesync/storageSyncServices\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps3958/providers/Microsoft.StorageSync/storageSyncServices/sssps5526/syncGroups/sgps7647?api-version=2019-03-01",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"syncGroupStatus\": \"0\",\r\n    \"uniqueId\": \"58d2f0ca-731b-4485-b74f-9b5acd88dbd4\"\r\n  },\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps6056/providers/microsoft.storagesync/storageSyncServices/sssps3166/syncGroups/sgps2808\",\r\n  \"name\": \"sgps2808\",\r\n  \"type\": \"microsoft.storagesync/storageSyncServices/syncGroups\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps3958/providers/Microsoft.StorageSync/storageSyncServices?api-version=2019-03-01",
=======
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6ImJiN2U4MDNmLTM2YTctNGRkOS04NDJmLWYwYmRiN2QyM2IzZiIsIndvcmtmbG93SWQiOiIwYmFlMzJhZS0xOTg1LTRlNGEtYWJkZC0wOTEzYWViNGE3MmEiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiM2RjMmU2ZDEtMmE5Ny00NWVjLWIzNjQtZGJlMjhlMDk0YTIzIn0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "Respons[...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6ImJiN2U4MDNmLTM2YTctNGRkOS04NDJmLWYwYmRiN2QyM2IzZiIsIndvcmtmbG93SWQiOiIwYmFlMzJhZS0xOTg1LTRlNGEtYWJkZC0wOTEzYWViNGE3MmEiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiM2RjMmU2ZDEtMmE5Ny00NWVjLWIzNjQtZGJlMjhlMDk0YTIzIn0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
