{
  "Entries": [
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.Resources?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.Resources\",\r\n  \"namespace\": \"Microsoft.Resources\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"3b990c8b-9607-4c2a-8b04-1d41985facca\"\r\n    },\r\n    {\r\n      \"applicationId\": \"f77c2a8f-8a0a-4776-8e0a-bcb2549610ca\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"changes\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2024-06-01-preview\",\r\n        \"2023-07-01-preview\",\r\n        \"2023-03-01-preview\",\r\n        \"2022-05-01\",\r\n        \"2022-03-01-preview\"\r\n      ],\r\n      \"capabilities\": \"SupportsExtension\"\r\n    },\r\n    {\r\n      \"resourceType\": \"snapshots\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2022-11-01-preview\"\r\n      ],\r\n      \"capabilities\": \"SupportsExtension\"\r\n    },\r\n    {\r\n      \"resourceType\": \"deploymentScripts\",\r\n      \"locations\": [\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Austria East\",\r\n        \"Australia East\",\r\n        \"Australia Central\",\r\n        \"Austra[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync\",\r\n  \"namespace\": \"Microsoft.StorageSync\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"9469b9f5-6722-4481-a2b2-14ed560b706f\",\r\n      \"roleDefinitionId\": \"4cd49d82-1f4d-43fc-af0c-1c1203668e5a\"\r\n    },\r\n    {\r\n      \"applicationId\": \"ad47578a-93bb-4ab8-85ed-8e99cd5a48da\",\r\n      \"roleDefinitionId\": \"4cd49d82-1f4d-43fc-af0c-1c1203668e5a\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageSyncServices\",\r\n      \"locations\": [\r\n        \"West Central US\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourcegroups/ps1159?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps1159\",\r\n  \"name\": \"ps1159\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/CentralUSEUAP/checkNameAvailability?api-version=2025-12-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"name\": \"sssps4394\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\"\r\n}",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "41c177ea-ce57-4590-bc14-e60b71d1223e"
        ],
        "X-ServiceFabricRequestId": [
          "414f9338-b4fa-41a7-a511-f07b4c390954"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps1159/providers/Microsoft.StorageSync/storageSyncServices/sssps4394?api-version=2025-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\"\r\n  },\r\n  \"tags\": {},\r\n  \"location\": \"Central US EUAP\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjI1MDc2ZDg2LWY3YzktNGQ0OC04OWRmLTg5Y2IyNWE2OWI4NyIsIndvcmtmbG93SWQiOiJhNDAxMDVmYy1lNmZmLTQ2MjItOTEwNi1jNTI0MTUzNzk1NTMiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiNjAyN2IyZWUtMGU4ZS00OWU2LTliYmYtZWE5OWNhMjQwMjY2In0=?api-version=2025-12-01&t=639228763834899536&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFAD[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjI1MDc2ZDg2LWY3YzktNGQ0OC04OWRmLTg5Y2IyNWE2OWI4NyIsIndvcmtmbG93SWQiOiJhNDAxMDVmYy1lNmZmLTQ2MjItOTEwNi1jNTI0MTUzNzk1NTMiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiNjAyN2IyZWUtMGU4ZS00OWU2LTliYmYtZWE5OWNhMjQwMjY2In0=?api-version=2025-12-01&t=639228763834430801&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps1159/providers/Microsoft.StorageSync/storageSyncServices/sssps4394?api-version=2025-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "7eee8345-84a2-40f4-aff4-1c540613e157"
        ],
        "X-ServiceFabricRequestId": [
          "f3a987c9-39b9-420e-ad3c-2a3acb42c57d"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"principalId\": \"364a6ea2-c6a0-4386-91f9-09063604e124\",\r\n    \"userAssignedIdentities\": {}\r\n  },\r\n  \"properties\": {\r\n    \"storageSyncServiceStatus\": 0,\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\",\r\n    \"privateEndpointConnections\": [],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"useIdentity\": true,\r\n    \"lastWorkflowId\": \"storageSyncServices/sssps4394/workflows/a40105fc-e6ff-4622-9106-c52415379553\",\r\n    \"lastOperationName\": \"ICreateStorageSyncServiceWorkflow2\"\r\n  },\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps1159/providers/Microsoft.StorageSync/storageSyncServices/sssps4394\",\r\n  \"name\": \"sssps4394\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"anpint@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2026-08-21T02:33:01.8962119Z\",\r\n    \"lastModifiedBy\": \"anpint@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2026-08-21T02:33:01.8962119Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps1159/providers/Microsoft.StorageSync/storageSyncServices/sssps4394/syncGroups/sgps646?api-version=2025-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {}\r\n}",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "1f0092fc-e24c-4261-a542-c9872e85a2ab"
        ],
        "X-ServiceFabricRequestId": [
          "5983a10b-0cee-40bd-be9a-7eeb47d93722"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"syncGroupStatus\": \"0\",\r\n    \"uniqueId\": \"f17fb679-5493-4d6e-9249-6db82db9c217\"\r\n  },\r\n  \"id\": \"/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps1159/providers/Microsoft.StorageSync/storageSyncServices/sssps4394/syncGroups/sgps646\",\r\n  \"name\": \"sgps646\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices/syncGroups\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"anpint@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2026-08-21T02:33:14.5921702Z\",\r\n    \"lastModifiedBy\": \"anpint@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2026-08-21T02:33:14.5921702Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjI1MDc2ZDg2LWY3YzktNGQ0OC04OWRmLTg5Y2IyNWE2OWI4NyIsIndvcmtmbG93SWQiOiIzZWI2MmQ0Ni01Y2ZjLTRmMDYtYmZjOC0xOTQwZTY5NWE2MDciLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMGVjOGQ3ZTMtNDYwMS00M2M2LWIxNDctMzQ3NmNhODc5NzdjIn0=?api-version=2025-12-01&t=639228763964233247&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01[...]
[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjI1MDc2ZDg2LWY3YzktNGQ0OC04OWRmLTg5Y2IyNWE2OWI4NyIsIndvcmtmbG93SWQiOiIzZWI2MmQ0Ni01Y2ZjLTRmMDYtYmZjOC0xOTQwZTY5NWE2MDciLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMGVjOGQ3ZTMtNDYwMS00M2M2LWIxNDctMzQ3NmNhODc5NzdjIn0=?api-version=2025-12-01&t=639228763964233247&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDE[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/resourceGroups/ps1159/providers/Microsoft.StorageSync/storageSyncServices?api-version=2025-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "da4f1796-db20-4c64-acca-5f152db37874"
        ],
        "mise-correlation-id": [
          "a630f756-a7c8-4e51-b33d-03b6cd43b806"
        ],
        "X-ServiceFabricRequestId": [
          "04e74e5b-37f9-40ac-b524-973b380e3344"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/af72424d-1867-4a42-b623-a748d8ab0333/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzExNTktV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMiLCJqb2JTdG9yYWdlQWNjb3VudCI6Ii9jc20vc3RvcmFnZWFjY291bnRzL2dsb2JhbC9ycGZkbGpvYjAwcHJvZGJ5MDQifQ?api-version=2016-09-01&t=639228764188299336&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMTE2NTU0MVoXDTI3MDI[...]
[...]
