{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.Resources?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.Resources\",\r\n  \"namespace\": \"Microsoft.Resources\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"3b990c8b-9607-4c2a-8b04-1d41985facca\"\r\n    },\r\n    {\r\n      \"applicationId\": \"f77c2a8f-8a0a-4776-8e0a-bcb2549610ca\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"changes\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2023-07-01-preview\",\r\n        \"2023-03-01-preview\",\r\n        \"2022-05-01\",\r\n        \"2022-03-01-preview\"\r\n      ],\r\n      \"capabilities\": \"SupportsExtension\"\r\n    },\r\n    {\r\n      \"resourceType\": \"snapshots\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2022-11-01-preview\"\r\n      ],\r\n      \"capabilities\": \"SupportsExtension\"\r\n    },\r\n    {\r\n      \"resourceType\": \"deploymentScripts\",\r\n      \"locations\": [\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"Cana[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync\",\r\n  \"namespace\": \"Microsoft.StorageSync\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"9469b9f5-6722-4481-a2b2-14ed560b706f\",\r\n      \"roleDefinitionId\": \"4cd49d82-1f4d-43fc-af0c-1c1203668e5a\"\r\n    },\r\n    {\r\n      \"applicationId\": \"ad47578a-93bb-4ab8-85ed-8e99cd5a48da\",\r\n      \"roleDefinitionId\": \"4cd49d82-1f4d-43fc-af0c-1c1203668e5a\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageSyncServices\",\r\n      \"locations\": [\r\n        \"West Central US\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourcegroups/ps7884?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps7884\",\r\n  \"name\": \"ps7884\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/CentralUSEUAP/checkNameAvailability?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"name\": \"sssps765\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\"\r\n}",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "cd919915-0f75-42ac-bdb9-0d07eb7b354f"
        ],
        "X-ServiceFabricRequestId": [
          "99a79f1c-05e1-4be2-a6d9-6ea30c8fda74"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps7884/providers/Microsoft.StorageSync/storageSyncServices/sssps765?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\"\r\n  },\r\n  \"tags\": {},\r\n  \"location\": \"Central US EUAP\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6ImZlMDY2NjRiLTI2MjAtNGRlMy1iMjdiLTM4YzMzNDI4ZDQxZSIsIndvcmtmbG93SWQiOiI0MmY2ZTEzMi02NDBlLTQyZWUtYTJlZC1iNTI1Yjk5NjMzMjYiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMzU4ZjExZGItYjA4YS00NTliLTk1ZWQtOTA2ODM5ZjdjYzI4In0=?api-version=2022-09-01&t=638549003962850579&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQ[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6ImZlMDY2NjRiLTI2MjAtNGRlMy1iMjdiLTM4YzMzNDI4ZDQxZSIsIndvcmtmbG93SWQiOiI0MmY2ZTEzMi02NDBlLTQyZWUtYTJlZC1iNTI1Yjk5NjMzMjYiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMzU4ZjExZGItYjA4YS00NTliLTk1ZWQtOTA2ODM5ZjdjYzI4In0=?api-version=2022-09-01&t=638549003962694348&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZP[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps7884/providers/Microsoft.StorageSync/storageSyncServices/sssps765?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "ae3aba25-f762-4b67-82e1-cf1818c2afe7"
        ],
        "X-ServiceFabricRequestId": [
          "277e01ff-b53d-4b15-8828-de03ac1215ce"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageSyncServiceStatus\": 0,\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\",\r\n    \"privateEndpointConnections\": [],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"useIdentity\": false,\r\n    \"lastWorkflowId\": \"storageSyncServices/sssps765/workflows/42f6e132-640e-42ee-a2ed-b525b9963326\",\r\n    \"lastOperationName\": \"ICreateStorageSyncServiceWorkflow2\"\r\n  },\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps7884/providers/Microsoft.StorageSync/storageSyncServices/sssps765\",\r\n  \"name\": \"sssps765\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"ankushb@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-06-25T08:19:55.8788069Z\",\r\n    \"lastModifiedBy\": \"ankushb@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2024-06-25T08:19:55.8788069Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps7884/providers/Microsoft.StorageSync/storageSyncServices/sssps765/syncGroups/sgps3738?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {}\r\n}",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "9fe2748a-2dab-4126-b8a7-8cf20e903151"
        ],
        "X-ServiceFabricRequestId": [
          "d1de753a-0e61-42db-a9a7-36ab6a2e9ce2"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"syncGroupStatus\": \"0\",\r\n    \"uniqueId\": \"e2213c81-90b9-4d98-be00-862813accb1b\"\r\n  },\r\n  \"id\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps7884/providers/Microsoft.StorageSync/storageSyncServices/sssps765/syncGroups/sgps3738\",\r\n  \"name\": \"sgps3738\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices/syncGroups\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"ankushb@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2024-06-25T08:20:07.2306491Z\",\r\n    \"lastModifiedBy\": \"ankushb@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2024-06-25T08:20:07.2306491Z\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps7884/providers/Microsoft.StorageSync/storageSyncServices/sssps765/syncGroups?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "6cfbf870-c8d0-475e-b501-e70ed1c5e082"
        ],
        "X-ServiceFabricRequestId": [
          "4c1c63dd-670b-4621-8d6c-ac12e6283013"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"syncGroupStatus\": \"0\",\r\n        \"uniqueId\": \"e2213c81-90b9-4d98-be00-862813accb1b\"\r\n      },\r\n      \"id\": \"/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps7884/providers/Microsoft.StorageSync/storageSyncServices/sssps765/syncGroups/sgps3738\",\r\n      \"name\": \"sgps3738\",\r\n      \"type\": \"Microsoft.StorageSync/storageSyncServices/syncGroups\",\r\n      \"systemData\": {\r\n        \"createdBy\": \"ankushb@microsoft.com\",\r\n        \"createdByType\": \"User\",\r\n        \"createdAt\": \"2024-06-25T08:20:07.2306491Z\",\r\n        \"lastModifiedBy\": \"ankushb@microsoft.com\",\r\n        \"lastModifiedByType\": \"User\",\r\n        \"lastModifiedAt\": \"2024-06-25T08:20:07.2306491Z\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6ImZlMDY2NjRiLTI2MjAtNGRlMy1iMjdiLTM4YzMzNDI4ZDQxZSIsIndvcmtmbG93SWQiOiJkMjY0MGNiZS1iNDg3LTRkYzctODkzMC1lNmFjMjg2YTZiOTkiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMjI2YmUyMjEtMzlkOS00ZjkzLTg0MzgtZGViN2FkNDQ3YjJkIn0=?api-version=2022-09-01&t=638549004092490722&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZP[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6ImZlMDY2NjRiLTI2MjAtNGRlMy1iMjdiLTM4YzMzNDI4ZDQxZSIsIndvcmtmbG93SWQiOiJkMjY0MGNiZS1iNDg3LTRkYzctODkzMC1lNmFjMjg2YTZiOTkiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiMjI2YmUyMjEtMzlkOS00ZjkzLTg0MzgtZGViN2FkNDQ3YjJkIn0=?api-version=2022-09-01&t=638549004092490722&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKC[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/ps7884/providers/Microsoft.StorageSync/storageSyncServices?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "mise-correlation-id": [
          "705909a6-faf3-4ea8-ac17-3db2fe8d93f4"
        ],
        "X-ServiceFabricRequestId": [
          "d0db2e80-1782-487d-800a-5b6103d05e2e"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzc4ODQtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01&t=638549004209453301&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE1MTI0NjQwWhcNMjUwNTEwMTI0NjQwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F[...]
[...]
