{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/providers/Microsoft.Resources?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Resources?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "09d0b6d2-16c7-48f8-a004-9888819d9dbd"
=======
          "c2649c2a-ebd2-419c-a1c8-05e98d57123e"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.16"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11999"
        ],
        "x-ms-request-id": [
          "7b7f7f44-75b9-41eb-96e9-6c04a5f2f83f"
        ],
        "x-ms-correlation-request-id": [
          "7b7f7f44-75b9-41eb-96e9-6c04a5f2f83f"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190703T184430Z:7b7f7f44-75b9-41eb-96e9-6c04a5f2f83f"
=======
          "11994"
        ],
        "x-ms-request-id": [
          "2298aa94-e2e8-4ede-aa6b-b35202a08126"
        ],
        "x-ms-correlation-request-id": [
          "2298aa94-e2e8-4ede-aa6b-b35202a08126"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200623T071653Z:2298aa94-e2e8-4ede-aa6b-b35202a08126"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Wed, 03 Jul 2019 18:44:29 GMT"
=======
          "Tue, 23 Jun 2020 07:16:52 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "8818"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/providers/Microsoft.Resources\",\r\n  \"namespace\": \"Microsoft.Resources\",\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"tenants\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2019-05-01\",\r\n        \"2019-04-01\",\r\n        \"2019-03-01\",\r\n        \"2018-11-01\",\r\n        \"2018-09-01\",\r\n        \"2018-08-01\",\r\n        \"2018-07-01\",\r\n        \"2018-05-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-01\",\r\n        \"2017-08-01\",\r\n        \"2017-06-01\",\r\n        \"2017-05-10\",\r\n        \"2017-05-01\",\r\n        \"2017-03-01\",\r\n        \"2016-09-01\",\r\n        \"2016-07-01\",\r\n        \"2016-06-01\",\r\n        [...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/providers/Microsoft.StorageSync?api-version=2016-09-01",
=======
          "10899"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.Resources\",\r\n  \"namespace\": \"Microsoft.Resources\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"3b990c8b-9607-4c2a-8b04-1d41985facca\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"tenants\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2020-01-01\",\r\n        \"2019-09-01\",\r\n        \"2019-05-01\",\r\n        \"2019-04-01\",\r\n        \"2019-03-01\",\r\n        \"2018-11-01\",\r\n        \"2018-09-01\",\r\n        \"2018-08-01\",\r\n        \"2018-07-01\",\r\n        \"2018-05-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-0[...]
[...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourcegroups/ps7929?api-version=2016-09-01",
=======
          "7645"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/Microsoft.StorageSync\",\r\n  \"namespace\": \"Microsoft.StorageSync\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"9469b9f5-6722-4481-a2b2-14ed560b706f\",\r\n      \"roleDefinitionId\": \"4cd49d82-1f4d-43fc-af0c-1c1203668e5a\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageSyncServices\",\r\n      \"locations\": [\r\n        \"West Central US\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"East US\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Brazil South\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"West US 2\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"France South\",\r\n        \"South Africa North\",\r\n        \"South Africa West\",\r\n        \"UAE North\",\r\n        \"UAE Central\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2020-03-01\",\r\n        \"2019-10-01\",\r\n        \"2019-06-01\",\r\n        \"2019-03-01\",\r\n        \"2019-02-01\",\r\n        \"2018-10-01\",\r\n        \"2018-07-01\",\r\n        \"2018-04-02\",\r\n        \"2018-01-01-preview\",\r\n        \"2017-06-05-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"storageSyncServices/syncGroups\",\r\n      \"locations\": [\r\n        \"West Central US\",\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"East US\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n  [...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourcegroups/ps553?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "e149d358-cbc0-4560-84b5-304cde38a5cd"
=======
          "397fa549-04e3-4984-9625-7c6d679c5391"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.Resour[...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/providers/Microsoft.StorageSync/locations/CentralUSEUAP/checkNameAvailability?api-version=2019-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"sssps6956\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps553\",\r\n  \"name\": \"ps553\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps7929/providers/Microsoft.StorageSync/storageSyncServices/sssps6956?api-version=2019-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps553/providers/Microsoft.StorageSync/storageSyncServices/sssps2245?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\"\r\n  }\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27617.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.StorageSync.StorageSyncManagementClient/3.0.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.StorageSync.StorageSyncManagementClient/5.0.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "52"
=======
          "125"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "x-ms-request-id": [
          "446179f8-5110-4ccb-afe0-d343fc56cee7"
=======
        "Location": [
          "https://management.azure.com/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjU0ZjBiMWYwLTI0ZGYtNGIyNC1hNjZhLWUwYWQxNzcxMGM4ZSIsIndvcmtmbG93SWQiOiIyNjViYzM0ZC1kM2UwLTQ2YmYtODI5Zi05Yzg4MjcyMzdkMzYiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiNTFlYTAxMTMtZTgyOS00NWUzLTkyMGMtNjQxZDVmMDM0MmM2In0=?api-version=2020-03-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjU0ZjBiMWYwLTI0ZGYtNGIyNC1hNjZhLWUwYWQxNzcxMGM4ZSIsIndvcmtmbG93SWQiOiIyNjViYzM0ZC1kM2UwLTQ2YmYtODI5Zi05Yzg4MjcyMzdkMzYiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiNTFlYTAxMTMtZTgyOS00NWUzLTkyMGMtNjQxZDVmMDM0MmM2In0=?api-version=2020-03-01"
        ],
        "x-ms-request-id": [
          "4a365464-1b26-4281-924f-6a19d9a2c2e0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "604f35b7-3553-4039-8a78-518ac9b2e7cc"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190703T184433Z:604f35b7-3553-4039-8a78-518ac9b2e7cc"
        ],
        "Date": [
          "Wed, 03 Jul 2019 18:44:33 GMT"
        ],
        "Content-Length": [
          "329"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
=======
          "f43c5d66-ebfc-4a18-a95a-fabcd39d188e"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20200623T071655Z:f43c5d66-ebfc-4a18-a95a-fabcd39d188e"
        ],
        "Date": [
          "Tue, 23 Jun 2020 07:16:54 GMT"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjU0ZjBiMWYwLTI0ZGYtNGIyNC1hNjZhLWUwYWQxNzcxMGM4ZSIsIndvcmtmbG93SWQiOiIyNjViYzM0ZC1kM2UwLTQ2YmYtODI5Zi05Yzg4MjcyMzdkMzYiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiNTFlYTAxMTMtZTgyOS00NWUzLTkyMGMtNjQxZDVmMDM0MmM2In0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageSyncServiceStatus\": null,\r\n    \"storageSyncServiceUid\": null\r\n  },\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps7929/providers/microsoft.storagesync/storageSyncServices/sssps6956\",\r\n  \"name\": \"sssps6956\",\r\n  \"type\": \"microsoft.storagesync/storageSyncServices\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps7929/providers/Microsoft.StorageSync/storageSyncServices/sssps6956/syncGroups/sgps7185?api-version=2019-03-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjU0ZjBiMWYwLTI0ZGYtNGIyNC1hNjZhLWUwYWQxNzcxMGM4ZSIsIndvcmtmbG93SWQiOiIyNjViYzM0ZC1kM2UwLTQ2YmYtODI5Zi05Yzg4MjcyMzdkMzYiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiNTFlYTAxMTMtZTgyOS00NWUzLTkyMGMtNjQxZDVmMDM0MmM2In0=\",\r\n  \"name\": \"eyJwYXJ0aXRpb25JZCI6IjU0ZjBiMWYwLTI0ZGYtNGIyNC1hNjZhLWUwYWQxNzcxMGM4ZSIsIndvcmtmbG93SWQiOiIyNjViYzM0ZC1kM2UwLTQ2YmYtODI5Zi05Yzg4MjcyMzdkMzYiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiNTFlYTAxMTMtZTgyOS00NWUzLTkyMGMtNjQxZDVmMDM0MmM2In0=\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-06-23T07:16:55.9800235Z\",\r\n  \"endTime\": \"2020-06-23T07:17:02.241408Z\",\r\n  \"properties\": {}\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps553/providers/Microsoft.StorageSync/storageSyncServices/sssps2245?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageSyncServiceStatus\": 0,\r\n    \"incomingTrafficPolicy\": \"AllowAllTraffic\",\r\n    \"privateEndpointConnections\": [],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"lastWorkflowId\": \"storageSyncServices/sssps2245/workflows/265bc34d-d3e0-46bf-829f-9c8827237d36\",\r\n    \"lastOperationName\": \"ICreateStorageSyncServiceWorkflow\"\r\n  },\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps553/providers/microsoft.storagesync/storageSyncServices/sssps2245\",\r\n  \"name\": \"sssps2245\",\r\n  \"type\": \"microsoft.storagesync/storageSyncServices\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps7929/providers/Microsoft.StorageSync/storageSyncServices/sssps6956/syncGroups/sgps7185?api-version=2019-03-01",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"syncGroupStatus\": \"0\",\r\n    \"uniqueId\": \"e9177703-615a-44f9-8582-7887415b653c\"\r\n  },\r\n  \"id\": \"/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/resourceGroups/ps553/providers/microsoft.storagesync/storageSyncServices/sssps2245/syncGroups/sgps6043\",\r\n  \"name\": \"sgps6043\",\r\n  \"type\": \"microsoft.storagesync/storageSyncServices/syncGroups\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjU0ZjBiMWYwLTI0ZGYtNGIyNC1hNjZhLWUwYWQxNzcxMGM4ZSIsIndvcmtmbG93SWQiOiJjNjgwNjdkMS1kODhkLTQzM2MtYjU3Ny1lMTEzMzUyOGYyMjciLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiYzliMWJkMDQtNDVhZS00ZTU1LWFjZDgtZDVhYTljYTdmMjdkIn0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "Respons[...]
    {
      "RequestUri": "/subscriptions/1dfbd0ca-8f09-4063-8b4d-85ca8f8a383b/providers/microsoft.storagesync/locations/centraluseuap/operationresults/eyJwYXJ0aXRpb25JZCI6IjU0ZjBiMWYwLTI0ZGYtNGIyNC1hNjZhLWUwYWQxNzcxMGM4ZSIsIndvcmtmbG93SWQiOiJjNjgwNjdkMS1kODhkLTQzM2MtYjU3Ny1lMTEzMzUyOGYyMjciLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiYzliMWJkMDQtNDVhZS00ZTU1LWFjZDgtZDVhYTljYTdmMjdkIn0=?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "R[...]
