<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- Global credentials used in all tests  -->
    <section id="global">
        <secPwd>E2B2ypIorsKKGCCXUysbFT/z4GTnz1ZneygUOYi9dz0=</secPwd>
        <applicationId>a000255f-5f09-45e0-a970-9d9ed9cc6453</applicationId>
        <tenantId>72f988bf-86f1-41af-91ab-2d7cd011db47</tenantId>
        <subscriptionId>45b60d85-fd72-427a-a708-f994d26e593e</subscriptionId>
        <resourceGroupName>weitry</resourceGroupName>
    </section>
    
    <!-- Config for adls.ps1 -->
    <section id="adls">
        <!-- Account requirements: -->
        <!-- 1. Enable HierarchicalNamespace -->
        <accountName>weiadlscanary1</accountName>
        <entityId>d6f7e858-345d-45f6-849c-8175519656b7</entityId>
    </section>
    
    <!-- Config for alds_setaclresusive.ps1 -->
    <section id="adlsSetAcl">
        <accountName>adlstest0</accountName>
        <leaseId>7d17aac1-860d-4604-b49f-982e2df5f7d2</leaseId>
    </section>

    <!-- Config for dataplane.ps1 -->
    <section id="dataplane">
        <!-- Account requirements:
        1. Enable AllowSharedKeyAccess
        2. Enable DeleteRetentionPolicy
        3. Enable ContainerDeleteRetentionPolicy
        4. Enable LastAccessTimeTrackingPolicy
        5. Enable versioning  -->
        <accountName id="1">weirp1</accountName>
        <accountName id="2">weirp3</accountName>
        <!-- TODO: Add any special requirements to the account if exits  -->
        <accountName id="3">weiadlscanary1</accountName>
        <paritionZone>
            <nameZone>weirp1.z10</nameZone>
        </paritionZone>
        <downloadManagedDisk>
        <!-- Disk is https://ms.portal.azure.com/#@microsoft.onmicrosoft.com/resource/subscriptions/{SubscriptionId}/resourceGroups/weitry/providers/Microsoft.Compute/disks/weioauthsas_download1G/overview -->
            <diskName>weioauthsas_download1G</diskName>
        </downloadManagedDisk>
    </section>
    
    <!-- Config for dataplane_preview.ps1 -->
    <section id="dataplanePreview">
        <accountName>weirp1</accountName>
    </section>

    <!-- Config for srp.ps1  -->
    <section id="srp">
        <accountName id="1">weirp1</accountName>
        <accountName id="2">weirp3</accountName>
        <!-- Accounts for ORS test. Prepartion steps can be found in the test case  -->
        <accountName id="4">weiors4</accountName>
        <accountName id="5">weiors3</accountName>
        <!-- Container requirements:  -->
        <!-- 1. Contains a blob named "test" -->
        <containerName id="1">testcon</containerName>
        <!-- Container name can be any value  -->
        <containerName>weitest</containerName>
        <!-- vents are created beforehand. See details in the test case  -->
        <vnet id="1">/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourcegroups/weitest/providers/Microsoft.Network/virtualNetworks/vnettry1/subnets/subnet1</vnet>
        <vnet id="2">/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourcegroups/weitest/providers/Microsoft.Network/virtualNetworks/vnettry1/subnets/subnet2</vnet>
        <!-- Key vault created under the testing resource group weitry -->
        <keyVault id="1">
            <vaultName>weiestest</vaultName>
            <keyVaultUri>https://weiestest.vault.azure.net:443</keyVaultUri>
            <keyName>wrappingKey</keyName>
            <keyVersion>34a0ba563b4243d9a0ef2b1d3c0c7d57</keyVersion>
            <argumentList>https://weiestest.vault.azure.net:443</argumentList>
            <keyUri id="1">https://weiestest.vault.azure.net:443/keys/wrappingKey/34a0ba563b4243d9a0ef2b1d3c0c7d57</keyUri>
            <keyUri id="2">https://weiestest.vault.azure.net:443/keys/wrappingKey2/2e0fed7ac63448bc907bb32689a4bf63</keyUri>
            <keyUri id="3">https://weiestest.vault.azure.net:443/keys/wrappingKey2</keyUri>
        </keyVault>
        <fileAD>
            <resourceGroupName>aadrg</resourceGroupName>
            <accountName id="1">weifilead12</accountName>
            <accountName id="2">weifileadd2</accountName>
            <accountName id="3">weifilead3</accountName>
            <accountName id="4">weifilead4</accountName>
            <accountName id="5">weifileaad5</accountName>
            <domainName>onpremaadstg.com</domainName>
            <netBiosDomainName>onpremaadstg.com</netBiosDomainName>
            <forestName>onpremaadstg.com</forestName>
            <domainGuid>aebfc118-9fa9-4732-a21f-d98e41a77ae1</domainGuid>
            <domainSid>S-1-5-21-2400535526-2334094090-2402026252</domainSid>
            <azureStorageSid>S-1-5-21-2400535526-2334094090-2402026252-0012</azureStorageSid>
        </fileAD>
        <userIdentity>
            <!-- Key vault is created before tests. Creation steps are in the test case  -->
            <keyVaultName id="1">weiestestkeyvault10</keyVaultName>
            <keyVaultName id="2">weikeyvault11</keyVaultName>
            <keyVersion id="1">8e74036e0d534e58b3bd84b319e31d8f</keyVersion>
            <keyVersion id="2">cec74739005f4c23b44f62e92115ec60</keyVersion>
            <userIdentity id="1">/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/weitry/providers/Microsoft.ManagedIdentity/userAssignedIdentities/weitestid1</userIdentity>
            <userIdentity id="2">/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/weitry/providers/Microsoft.ManagedIdentity/userAssignedIdentities/weitestid2</userIdentity>
            <adGroupObjectId id="1">d6f7e858-345d-45f6-849c-8175519656b7</adGroupObjectId>
            <!-- ID of /subscriptions/{SubscriptionId}/resourceGroups/weitry/providers/Microsoft.ManagedIdentity/userAssignedIdentities/weitestid1 -->
            <adGroupObjectId id="2">8a5450b5-4cb1-49cf-a735-c3a2294004cf</adGroupObjectId>
            <!-- ID of /subscriptions/{SubscriptionId}/resourceGroups/weitry/providers/Microsoft.ManagedIdentity/userAssignedIdentities/weitestid2 -->
            <adGroupObjectId id="3">35cd3417-aa14-4228-8293-be96e239345b</adGroupObjectId>
        </userIdentity>
        <nfsv3>
            <!-- vnet should be created beforehand with the following commands:  -->
            <!-- New-AzVirtualNetwork -ResourceGroupName $rgname -Location "eastus2euap" -AddressPrefix 10.0.0.0/24 -Name "vnet1"  -->
            <!-- $n = Get-AzVirtualNetwork -ResourceGroupName $rgname -Name "vnet1" | Add-AzVirtualNetworkSubnetConfig -Name "subnet1" -AddressPrefix "10.0.0.0/28" -ServiceEndpoint "Microsoft.Storage"  | Set-AzVirtualNetwork  -->
            <vnet>/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/weitest/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1</vnet>
        </nfsv3>
        <federatedClientId>
            <subscription>6aa097dd-f3db-48c9-9a80-782acceb98a6</subscription>
            <tenant>35f1ae92-94d6-4601-bed3-8fd2f0e518ed</tenant>
            <keyvaultName>weitest</keyvaultName>
            <userIdentity>/subscriptions/6aa097dd-f3db-48c9-9a80-782acceb98a6/resourcegroups/weitry/providers/Microsoft.ManagedIdentity/userAssignedIdentities/weitestidfed</userIdentity>
            <objectId>d6f7e858-345d-45f6-849c-8175519656b7</objectId>
            <federatedClientId id="1">09cbe251-7f95-4d18-a8b8-737fd05a4c36</federatedClientId>
            <federatedClientId id="2">c2bdc6ca-a59c-411c-bf1a-a97ceade71ea</federatedClientId>
        </federatedClientId>
    </section>
</config>