{
  "Get-AzWebPubSubSku+[NoContext]+List+$GET+https://management.azure.com/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/resourceGroups/azwps-test-rg2/providers/Microsoft.SignalRService/WebPubSub/azwps1/skus?api-version=2022-08-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e77b08cc-d20a-411b-aa8e-6b453f1f7971/resourceGroups/azwps-test-rg2/providers/Microsoft.SignalRService/WebPubSub/azwps1/skus?api-version=2022-08-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "30" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-rp-server-mvid": [ "0895b6bc-4801-4f4f-8fe1-12ae1c9d7162" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "247" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3747" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"resourceType\":\"Microsoft.SignalRService/WebPubSub\",\"sku\":{\"name\":\"Free_F1\",\"tier\":\"Free\",\"capacity\":null},\"capacity\":{\"minimum\":1,\"maximum\":1,\"default\":1,\"allowedValues\":[1],\"scaleType\":\"Manual\"}},{\"resourceType\":\"Microsoft.SignalRService/WebPubSub\",\"sku\":{\"name\":\"Standard_S1\",\"tier\":\"Standard\",\"capacity\":null},\"capacity\":{\"minimum\":1,\"maximum\":100,\"default\":1,\"allowedValues\":[1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100],\"scaleType\":\"Manual\"}},{\"resourceType\":\"Microsoft.SignalRService/WebPubSub\",\"sku\":{\"name\":\"Premium_P1\",\"tier\":\"Premium\",\"capacity\":null},\"capacity\":{\"minimum\":1,\"maximum\":100,\"default\":1,\"allowedValues\":[1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100],\"scaleType\":\"Automatic\"}},{\"resourceType\":\"Microsoft.SignalRService/WebPubSub\",\"sku\":{\"name\":\"Standard_S2\",\"tier\":\"Standard\",\"capacity\":null},\"capacity\":{\"minimum\":100,\"maximum\":1000,\"default\":100,\"allowedValues\":[100,200,300,400,500,600,700,800,900,1000],\"scaleType\":\"Manual\"}},{\"resourceType\":\"Microsoft.SignalRService/WebPubSub\",\"sku\":{\"name\":\"Premium_P2\",\"tier\":\"Premium\",\"capacity\":null},\"capacity\":{\"minimum\":100,\"maximum\":1000,\"default\":100,\"allowedValues\":[100,200,300,400,500,600,700,800,900,1000],\"scaleType\":\"Automatic\"}}],\"nextLink\":null}",
    }
  }
}