{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis/ps749?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"path\": \"openapifromFile\",\r\n    \"value\": \"{\\r\\n    \\\"openapi\\\": \\\"3.0.0\\\",\\r\\n    \\\"servers\\\": [\\r\\n        {\\r\\n            \\\"url\\\": \\\"http://petstore.swagger.io/v2\\\"\\r\\n        }\\r\\n    ],\\r\\n    \\\"info\\\": {\\r\\n        \\\"description\\\": \\\":dog: :cat: :rabbit: This is a sample server Petstore server.  You can find out more about Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).  For this sample, you can use the api key `special-key` to test the authorization filters.\\\",\\r\\n        \\\"version\\\": \\\"1.0.0\\\",\\r\\n        \\\"title\\\": \\\"Swagger Petstore\\\",\\r\\n        \\\"termsOfService\\\": \\\"http://swagger.io/terms/\\\",\\r\\n        \\\"contact\\\": {\\r\\n            \\\"email\\\": \\\"apiteam@swagger.io\\\"\\r\\n        },\\r\\n        \\\"license\\\": {\\r\\n            \\\"name\\\": \\\"Apache 2.0\\\",\\r\\n            \\\"url\\\": \\\"http://www.apache.org/licenses/LICENSE-2.0.html\\\"\\r\\n        }\\r\\n    },\\r\\n    \\\"tags\\\": [\\r\\n        {\\r\\n            \\\"name\\\": \\\"pet\\\",\\r\\n            \\\"description\\\": \\\"Everything about your Pets\\\",\\r\\n            \\\"externalDocs\\\": {\\r\\n                \\\"description\\\": \\\"Find out more\\\",\\r\\n                \\\"url\\\": \\\"http://swagger.io\\\"\\r\\n            }\\r\\n        },\\r\\n        {\\r\\n            \\\"name\\\": \\\"store\\\",\\r\\n            \\\"description\\\": \\\"Access to Petstore orders\\\"\\r\\n        },\\r\\n        {\\r\\n            \\\"name\\\": \\\"user\\\",\\r\\n            \\\"description\\\": \\\"Operations about user\\\",\\r\\n            \\\"externalDocs\\\": {\\r\\n                \\\"description\\\": \\\"Find out more about our store\\\",\\r\\n                \\\"url\\\": \\\"http://swagger.io\\\"\\r\\n            }\\r\\n        }\\r\\n    ],\\r\\n    \\\"paths\\\": {\\r\\n        \\\"/pet\\\": {\\r\\n            \\\"post\\\": {\\r\\n                \\\"tags\\\": [\\r\\n                    \\\"pet\\\"\\r\\n                ],\\r\\n                \\\"summary\\\": \\\"Add a new pet to the store\\\",\\r\\n                \\\"description\\\": \\\"\\\",\\r\\n                \\\"operationId\\\": \\\"addPet\\\",\\r\\n                \\\"responses\\\": {\\r\\n                    \\\"405\\\": {\\r\\n                        \\\"description\\\": \\\"Invalid input\\\"\\r\\n                    }\\r\\n                },\\r\\n                \\\"security\\\": [\\r\\n                    {\\r\\n                        \\\"petstore_auth\\\": [\\r\\n                            \\\"write:pets\\\",\\r\\n                            \\\"read:pets\\\"\\r\\n                        ]\\r\\n                    }\\r\\n                ],\\r\\n                \\\"requestBody\\\": {\\r\\n                    \\\"$ref\\\": \\\"#/components/requestBodies/Pet\\\"\\r\\n                },\\r\\n                \\\"parameters\\\": []\\r\\n            },\\r\\n            \\\"put\\\": {\\r\\n                \\\"tags\\\": [\\r\\n                    \\\"pet\\\"\\r\\n                ],\\r\\n                \\\"summary\\\": \\\"Update an existing pet\\\",\\r\\n                \\\"description\\\": \\\"\\\",\\r\\n                \\\"operationId\\\": \\\"updatePet\\\",\\r\\n                \\\"responses\\\": {\\r\\n                    \\\"400\\\": {\\r\\n                        \\\"description\\\": \\\"Invalid ID supplied\\\"\\r\\n                    },\\r\\n                    \\\"404\\\": {\\r\\n                        \\\"description\\\": \\\"Pet not found\\\"\\r\\n                    },\\r\\n                    \\\"405\\\": {\\r\\n                        \\\"description\\\": \\\"Validation exception\\\"\\r\\n                    }\\r\\n                },\\r\\n                \\\"security\\\": [\\r\\n                    {\\r\\n                        \\\"petstore_auth\\\": [\\r\\n                            \\\"write:pets\\\",\\r\\n                            \\\"read:pets\\\"\\r\\n                        ]\\r\\n                    }\\r\\n                ],\\r\\n                \\\"requestBody\\\": {\\r\\n                    \\\"$ref\\\": \\\"#/components/requestBodies/Pet\\\"\\r\\n                },\\r\\n                \\\"parameters\\\": []\\r\\n            }\\r\\n        },\\r\\n        \\\"/pet/findByStatus\\\": {\\r\\n            \\\"get\\\": {\\r\\n                \\\"tags\\\": [\\r\\n                    \\\"pet\\\"\\r\\n                ],\\r\\n                \\\"summary\\\": \\\"Finds Pets by status\\\",\\r\\n                \\\"description\\\": \\\"Multiple status values can be provided with comma separated strings\\\",\\r\\n                \\\"operationId\\\": \\\"findPetsByStatus\\\",\\r\\n                \\\"parameters\\\": [\\r\\n                    {\\r\\n                        \\\"name\\\": \\\"status\\\",\\r\\n                        \\\"in\\\": \\\"query\\\",\\r\\n                        \\\"description\\\": \\\"Status values that need to be considered for filter\\\",\\r\\n                        \\\"required\\\": true,\\r\\n                        \\\"explode\\\": true,\\r\\n                        \\\"schema\\\": {\\r\\n                            \\\"type\\\": \\\"array\\\",\\r\\n                            \\\"items\\\": {\\r\\n                                \\\"type\\\": \\\"string\\\",\\r\\n                                \\\"enum\\\": [\\r\\n                                    \\\"available\\\",\\r\\n                                    \\\"pending\\\",\\r\\n                                    \\\"sold\\\"\\r\\n                                ],\\r\\n                                \\\"default\\\": \\\"available\\\"\\r\\n                            }\\r\\n                        }\\r\\n                    }\\r\\n                ],\\r\\n                \\\"responses\\\": {\\r\\n                    \\\"200\\\": {\\r\\n                        \\\"description\\\": \\\"successful operation\\\",\\r\\n                        \\\"content\\\": {\\r\\n                            \\\"application/xml\\\": {\\r\\n                                \\\"schema\\\": {\\r\\n                                    \\\"type\\\": \\\"array\\\",\\r\\n                                    \\\"items\\\": {\\r\\n                                        \\\"$ref\\\": \\\"#/components/schemas/Pet\\\"\\r\\n                                    }\\r\\n                                }\\r\\n                            },\\r\\n                            \\\"applica[...]
    {
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis/ps749?api-version=2019-12-01&asyncId=5f17190fa2ca600fe4c29689&asyncCode=201",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"AAAAAAAAO+4=\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis/ps749\",\r\n  \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"ps749\",\r\n  \"properties\": {\r\n    \"displayName\": \"Swagger Petstore\",\r\n    \"apiRevision\": \"1\",\r\n    \"description\": \":dog: :cat: :rabbit: This is a sample server Petstore server.  You can find out more about Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).  For this sample, you can use the api key `special-key` to test the authorization filters.\",\r\n    \"subscriptionRequired\": true,\r\n    \"serviceUrl\": \"http://petstore.swagger.io/v2\",\r\n    \"path\": \"openapifromFile\",\r\n    \"protocols\": [\r\n      \"https\"\r\n    ],\r\n    \"authenticationSettings\": {\r\n      \"oAuth2\": null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\": {\r\n      \"header\": \"Ocp-Apim-Subscription-Key\",\r\n      \"query\": \"subscription-key\"\r\n    },\r\n    \"isCurrent\": true\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis/ps749/schemas?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis/ps749/schemas/5f17190fa2ca600fe4c29688\",\r\n      \"type\": \"Microsoft.ApiManagement/service/apis/schemas\",\r\n      \"name\": \"5f17190fa2ca600fe4c29688\",\r\n      \"properties\": {\r\n        \"contentType\": \"application/vnd.oai.openapi.components+json\",\r\n        \"document\": {\r\n          \"components\": {\r\n            \"schemas\": {\r\n              \"Order\": {\r\n                \"type\": \"object\",\r\n                \"properties\": {\r\n                  \"id\": {\r\n                    \"type\": \"integer\",\r\n                    \"format\": \"int64\"\r\n                  },\r\n                  \"petId\": {\r\n                    \"type\": \"integer\",\r\n                    \"format\": \"int64\"\r\n                  },\r\n                  \"quantity\": {\r\n                    \"type\": \"integer\",\r\n                    \"format\": \"int32\"\r\n                  },\r\n                  \"shipDate\": {\r\n                    \"type\": \"string\",\r\n                    \"format\": \"date-time\"\r\n                  },\r\n                  \"status\": {\r\n                    \"enum\": [\r\n                      \"placed\",\r\n                      \"approved\",\r\n                      \"delivered\"\r\n                    ],\r\n                    \"type\": \"string\",\r\n                    \"description\": \"Order Status\"\r\n                  },\r\n                  \"complete\": {\r\n                    \"type\": \"boolean\",\r\n                    \"default\": false\r\n                  }\r\n                },\r\n                \"xml\": {\r\n                  \"name\": \"Order\"\r\n                }\r\n              },\r\n              \"Category\": {\r\n                \"type\": \"object\",\r\n                \"properties\": {\r\n                  \"id\": {\r\n                    \"type\": \"integer\",\r\n                    \"format\": \"int64\"\r\n                  },\r\n                  \"name\": {\r\n                    \"type\": \"string\"\r\n                  }\r\n                },\r\n                \"xml\": {\r\n                  \"name\": \"Category\"\r\n                }\r\n              },\r\n              \"User\": {\r\n                \"type\": \"object\",\r\n                \"properties\": {\r\n                  \"id\": {\r\n                    \"type\": \"integer\",\r\n                    \"format\": \"int64\"\r\n                  },\r\n                  \"username\": {\r\n                    \"type\": \"string\"\r\n                  },\r\n                  \"firstName\": {\r\n                    \"type\": \"string\"\r\n                  },\r\n                  \"lastName\": {\r\n                    \"type\": \"string\"\r\n                  },\r\n                  \"email\": {\r\n                    \"type\": \"string\"\r\n                  },\r\n                  \"password\": {\r\n                    \"type\": \"string\"\r\n                  },\r\n                  \"phone\": {\r\n                    \"type\": \"string\"\r\n                  },\r\n                  \"userStatus\": {\r\n                    \"type\": \"integer\",\r\n                    \"description\": \"User Status\",\r\n                    \"format\": \"int32\"\r\n                  }\r\n                },\r\n                \"xml\": {\r\n                  \"name\": \"User\"\r\n                }\r\n              },\r\n              \"Tag\": {\r\n                \"type\": \"object\",\r\n                \"properties\": {\r\n                  \"id\": {\r\n                    \"type\": \"integer\",\r\n                    \"format\": \"int64\"\r\n                  },\r\n                  \"name\": {\r\n                    \"type\": \"string\"\r\n                  }\r\n                },\r\n                \"xml\": {\r\n                  \"name\": \"Tag\"\r\n                }\r\n              },\r\n              \"Pet\": {\r\n                \"required\": [\r\n                  \"name\",\r\n                  \"photoUrls\"\r\n                ],\r\n                \"type\": \"object\",\r\n                \"properties\": {\r\n                  \"id\": {\r\n                    \"type\": \"integer\",\r\n                    \"format\": \"int64\"\r\n                  },\r\n                  \"category\": {\r\n                    \"$ref\": \"#/components/schemas/Category\"\r\n                  },\r\n                  \"name\": {\r\n                    \"type\": \"string\",\r\n                    \"example\": \"doggie\"\r\n                  },\r\n                  \"photoUrls\": {\r\n                    \"type\": \"array\",\r\n                    \"items\": {\r\n                      \"type\": \"string\"\r\n                    },\r\n                    \"xml\": {\r\n                      \"name\": \"photoUrl\",\r\n                      \"wrapped\": true\r\n                    }\r\n                  },\r\n                  \"tags\": {\r\n                    \"type\": \"array\",\r\n                    \"items\": {\r\n                      \"$ref\": \"#/components/schemas/Tag\"\r\n                    },\r\n                    \"xml\": {\r\n                      \"name\": \"tag\",\r\n                      \"wrapped\": true\r\n                    }\r\n                  },\r\n                  \"status\": {\r\n                    \"enum\": [\r\n                      \"available\",\r\n                      \"pending\",\r\n                      \"sold\"\r\n                    ],\r\n                    \"type\": \"string\",\r\n                    \"description\": \"pet status in the store\"\r\n                  }\r\n                },\r\n                \"xml\": {\r\n                  \"name\": \"Pet\"\r\n                }\r\n              },\r\n              \"ApiResponse\": {\r\n                \"type\": \"object\",\r\n                \"properties\": {\r\n                  \"code\": {\r\n                    \"type\": \"integer\",\r\n                    \"format\": \"int32\"\r\n                  },\r\n                  \"type\": {\r\n                    \"type\": \"string\"\r\n                  },\r\n                  \"message\": {\r\n                    \"type\": \"string\"\r\n                  }\r\n                }\r\n              },\r\n              \"PetFindByStatusGet200ApplicationXmlResponse\": {\r\n                \"type\": \"array\",\r\n                \"items\": {\r\n                  \"$ref\": \"#/components/schemas/PetRequest-xml\"\r\n                }\r\n              },\r\n              \"PetFindByStatusGet200ApplicationJsonResponse\": {\r\n                \"type\": \"array\",\r\n                \"items\": {\r\n                  \"$ref\": \"#/components/schemas/PetRequest-xml\"\r\n                }\r\n              },\r\n              \"PetFindByTagsGet200ApplicationXmlResponse\": {\r\n                \"type\": \"array\",\r\n                \"items\": {\r\n                  \"$ref\": \"#/components/schemas/PetRequest-xml\"\r\n                }\r\n              },\r\n              \"PetFindByTagsGet200ApplicationJsonResponse\": {\r\n                \"type\": \"array\",\r\n                \"items\": {\r\n                  \"$ref\": \"#/components/schemas/PetRequest-xml\"\r\n                }\r\n              },\r\n              \"Pet-petId-UploadImagePostRequest\": {\r\n                \"type\": \"string\",\r\n                \"format\": \"binary\"\r\n              },\r\n              \"StoreInventoryGet200ApplicationJsonResponse\": {\r\n                \"type\": \"object\",\r\n                \"additionalProperties\": {\r\n                  \"type\": \"integer\",\r\n                  \"format\": \"int32\"\r\n                }\r\n              },\r\n              \"UserLoginGet200ApplicationXmlResponse\": {\r\n                \"type\": \"string\"\r\n              },\r\n              \"UserLoginGet200ApplicationJsonResponse\": {\r\n                \"type\": \"string\"\r\n              },\r\n              \"PetRequest-json\": {\r\n                \"required\": [\r\n                  \"name\",\r\n                  \"photoUrls\"\r\n                ],\r\n                \"type\": \"object\",\r\n                \"properties\": {\r\n                  \"id\": {\r\n                    \"type\": \"integer\",\r\n                    \"format\": \"int64\"\r\n                  },\r\n                  \"category\": {\r\n                    \"$ref\": \"#/components/schemas/Category\"\r\n                  },\r\n                  \[...]
    {
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis/ps749%3Brev%3D1?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"Open api via Apim\",\r\n    \"subscriptionKeyParameterNames\": {\r\n      \"header\": \"Ocp-Apim-Subscription-Key\",\r\n      \"query\": \"subscription-key\"\r\n    },\r\n    \"type\": \"http\",\r\n    \"apiRevision\": \"1\",\r\n    \"apiVersion\": \"\",\r\n    \"isCurrent\": true,\r\n    \"subscriptionRequired\": true,\r\n    \"displayName\": \"apimPetstore\",\r\n    \"serviceUrl\": \"http://petstore.swagger.io/v2\",\r\n    \"path\": \"openapifromFile\",\r\n    \"protocols\": [\r\n      \"https\"\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "If-Match": [
          "*"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"AAAAAAAAPDQ=\""
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis/ps749\",\r\n  \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"ps749\",\r\n  \"properties\": {\r\n    \"displayName\": \"apimPetstore\",\r\n    \"apiRevision\": \"1\",\r\n    \"description\": \"Open api via Apim\",\r\n    \"subscriptionRequired\": true,\r\n    \"serviceUrl\": \"http://petstore.swagger.io/v2\",\r\n    \"path\": \"openapifromFile\",\r\n    \"protocols\": [\r\n      \"https\"\r\n    ],\r\n    \"authenticationSettings\": {\r\n      \"oAuth2\": null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\": {\r\n      \"header\": \"Ocp-Apim-Subscription-Key\",\r\n      \"query\": \"subscription-key\"\r\n    },\r\n    \"isCurrent\": true,\r\n    \"apiVersion\": \"\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a200340d-6b82-494d-9dbf-687ba6e33f9e/resourceGroups/powershelltest/providers/Microsoft.ApiManagement/service/powershellsdkservice/apis/ps749?deleteRevisions=true&api-version=2019-12-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "If-Match": [
          "*"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14997"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "": [
      "ps749"
    ]
  },
  "Variables": {
    "SubscriptionId": "a200340d-6b82-494d-9dbf-687ba6e33f9e"
  }
}