{
  "Add-AzKustoClusterLanguageExtension+[NoContext]+AddExpanded+$POST+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/testgroupyefkpv/providers/Microsoft.Kusto/Clusters/blablab123/addLanguageExtensions?api-version=2021-01-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/testgroupyefkpv/providers/Microsoft.Kusto/Clusters/blablab123/addLanguageExtensions?api-version=2021-01-01",
      "Content": "{\r\n  \"value\": [\r\n    {\r\n      \"languageExtensionName\": \"R\"\r\n    }\r\n  ]\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/0fed33b7-0933-458c-aff0-3a16da5687b6?api-version=2021-01-01\u0026operationResultResponseType=Location" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/0fed33b7-0933-458c-aff0-3a16da5687b6?api-version=2021-01-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Add-AzKustoClusterLanguageExtension+[NoContext]+AddExpanded+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/0fed33b7-0933-458c-aff0-3a16da5687b6?api-version=2021-01-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/0fed33b7-0933-458c-aff0-3a16da5687b6?api-version=2021-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "114", "115" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "289" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationresults/0fed33b7-0933-458c-aff0-3a16da5687b6\",\"name\":\"0fed33b7-0933-458c-aff0-3a16da5687b6\",\"status\":\"Running\",\"startTime\":\"2021-05-06T07:10:13.3807374Z\",\"endTime\":\"2021-05-06T07:10:16.8184773Z\",\"percentComplete\":0.5,\"properties\":{\"OperationKind\":\"ServiceConfigurationAlter\",\"RootActivityId\":\"d3aeefcf-bf5a-4223-b0c3-1941876c61c4\",\"provisioningState\":\"Running\",\"OperationState\":\"InProgress\"}}"
    }
  },
  "Add-AzKustoClusterLanguageExtension+[NoContext]+AddExpanded+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/0fed33b7-0933-458c-aff0-3a16da5687b6?api-version=2021-01-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operation[...]
