{
  "Get-AzKustoClusterSku+[NoContext]+[NoScenario]+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/skus?api-version=2020-06-14+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/skus?api-version=2020-06-14",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"resourceType\":\"clusters\",\"name\":\"Dev(No SLA)_Standard_D11_v2\",\"tier\":\"Basic\",\"locations\":[\"australiacentral\"],\"locationInfo\":[{\"location\":\"australiacentral\",\"zones\":[],\"zoneDetails\":[]}],\"restrictions\":[]},{\"resourceType\":\"clusters\",\"name\":\"Standard_D11_v2\",\"tier\":\"Standard\",\"locations\":[\"australiacentral\"],\"locationInfo\":[{\"location\":\"australiacentral\",\"zones\":[],\"zoneDetails\":[]}],\"restrictions\":[]},{\"resourceType\":\"clusters\",\"name\":\"Standard_D12_v2\",\"tier\":\"Standard\",\"locations\":[\"australiacentral\"],\"locationInfo\":[{\"location\":\"australiacentral\",\"zones\":[],\"zoneDetails\":[]}],\"restrictions\":[]},{\"resourceType\":\"clusters\",\"name\":\"[...]
