{
  "Get-AzKustoClusterSku+[NoContext]+List+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/skus?api-version=2020-02-15+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/skus?api-version=2020-02-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "22" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11993" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"resourceType\":\"clusters\",\"name\":\"D13_v2\",\"tier\":\"Standard\",\"locations\":[\"centralus\"],\"locationInfo\":[{\"location\":\"centralus\",\"zones\":[\"2\",\"1\",\"3\"],\"zoneDetails\":[]}],\"restrictions\":[]},{\"resourceType\":\"clusters\",\"name\":\"D14_v2\",\"tier\":\"Standard\",\"locations\":[\"centralus\"],\"locationInfo\":[{\"location\":\"centralus\",\"zones\":[\"2\",\"1\",\"3\"],\"zoneDetails\":[]}],\"restrictions\":[]},{\"resourceType\":\"clusters\",\"name\":\"L8\",\"tier\":\"Standard\",\"locations\":[\"centralus\"],\"locationInfo\":[{\"location\":\"centralus\",\"zones\":[\"2\",\"1\",\"3\"],\"zoneDetails\":[]}],\"restrictions\":[]},{\"resourceType\":\"clusters\",\"name\":\"L16\",\"tier\":\[...]
