{
  "[NoDescription]+[NoContext]+Diagnose+$POST+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/testgrouppazj5i/providers/Microsoft.Kusto/Clusters/testclusterpazj5i/diagnoseVirtualNetwork?api-version=2021-08-27+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/testgrouppazj5i/providers/Microsoft.Kusto/Clusters/testclusterpazj5i/diagnoseVirtualNetwork?api-version=2021-08-27",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "292" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/dae10b45-2eaa-4dc9-967a-c7774b9d88f6?api-version=2021-08-27\u0026operationResultResponseType=Location" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/dae10b45-2eaa-4dc9-967a-c7774b9d88f6?api-version=2021-08-27" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1197" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "[NoDescription]+[NoContext]+Diagnose+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/dae10b45-2eaa-4dc9-967a-c7774b9d88f6?api-version=2021-08-27+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/dae10b45-2eaa-4dc9-967a-c7774b9d88f6?api-version=2021-08-27",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "293" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-operation-root-activity-id": [ "da7418ab-9307-4b4a-8489-c64dc98f695c" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "289" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationresults/dae10b45-2eaa-4dc9-967a-c7774b9d88f6\",\"name\":\"dae10b45-2eaa-4dc9-967a-c7774b9d88f6\",\"status\":\"Running\",\"startTime\":\"2021-09-17T17:15:44.0150928Z\",\"endTime\":\"2021-09-17T17:15:44.0150928Z\",\"percentComplete\":0.5,\"properties\":{}}",
    }
  },
  "[NoDescription]+[NoContext]+Diagnose+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/dae10b45-2eaa-4dc9-967a-c7774b9d88f6?api-version=2021-08-27+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/dae10b45-2eaa-4dc9-967a-c77[...]
