{
  "Invoke-AzKustoDiagnoseClusterVirtualNetwork+[NoContext]+Diagnose+$POST+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/testgroupkqvp2f/providers/Microsoft.Kusto/Clusters/testclusterkqvp2f/diagnoseVirtualNetwork?api-version=2021-01-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/testgroupkqvp2f/providers/Microsoft.Kusto/Clusters/testclusterkqvp2f/diagnoseVirtualNetwork?api-version=2021-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "224" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/197e764c-6282-44f3-b9d1-cf9c8624d654?api-version=2021-01-01\u0026operationResultResponseType=Location" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/197e764c-6282-44f3-b9d1-cf9c8624d654?api-version=2021-01-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1186" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Invoke-AzKustoDiagnoseClusterVirtualNetwork+[NoContext]+Diagnose+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/197e764c-6282-44f3-b9d1-cf9c8624d654?api-version=2021-01-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/197e764c-6282-44f3-b9d1-cf9c8624d654?api-version=2021-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "224", "225" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "279" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationresults/197e764c-6282-44f3-b9d1-cf9c8624d654\",\"name\":\"197e764c-6282-44f3-b9d1-cf9c8624d654\",\"status\":\"Running\",\"startTime\":\"2021-05-09T10:16:03.4808518Z\",\"endTime\":\"2021-05-09T10:16:03.4808518Z\",\"percentComplete\":0.5,\"properties\":{}}"
    }
  },
  "Invoke-AzKustoDiagnoseClusterVirtualNetwork+[NoContext]+Diagnose+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/197e764c-6282-44f3-b9d1-cf9c8624d654?api-version=2021-01-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/[...]
