{
  "[NoDescription]+[NoContext]+Diagnose+$POST+https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/testgroupl3rxfo/providers/Microsoft.Kusto/Clusters/testclusterl3rxfo/diagnoseVirtualNetwork?api-version=2022-02-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/testgroupl3rxfo/providers/Microsoft.Kusto/Clusters/testclusterl3rxfo/diagnoseVirtualNetwork?api-version=2022-02-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "248" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East%20US/operationResults/656c9b26-65bf-4ae1-81d2-bd90c3982b10?api-version=2022-02-01\u0026operationResultResponseType=Location" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East US/operationResults/656c9b26-65bf-4ae1-81d2-bd90c3982b10?api-version=2022-02-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1188" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "[NoDescription]+[NoContext]+Diagnose+$GET+https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East US/operationResults/656c9b26-65bf-4ae1-81d2-bd90c3982b10?api-version=2022-02-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East%20US/operationResults/656c9b26-65bf-4ae1-81d2-bd90c3982b10?api-version=2022-02-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "249" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-operation-root-activity-id": [ "ea614648-77fb-4469-956c-0bf5406d674e" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "275" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East US/operationresults/656c9b26-65bf-4ae1-81d2-bd90c3982b10\",\"name\":\"656c9b26-65bf-4ae1-81d2-bd90c3982b10\",\"status\":\"Running\",\"startTime\":\"2022-03-20T15:29:03.8031211Z\",\"endTime\":\"2022-03-20T15:29:03.8031211Z\",\"percentComplete\":0.5,\"properties\":{}}",
    }
  },
  "[NoDescription]+[NoContext]+Diagnose+$GET+https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East US/operationResults/656c9b26-65bf-4ae1-81d2-bd90c3982b10?api-version=2022-02-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East%20US/operationResults/656c9b26-65bf-4ae1-81d2-bd9[...]
