{
  "[NoDescription]+[NoContext]+DataExpandedEventHub+$POST+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/test-clients-rg/providers/Microsoft.Kusto/Clusters/eventgridclienttest/Databases/databasetest/dataConnectionValidation?api-version=2021-01-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/test-clients-rg/providers/Microsoft.Kusto/Clusters/eventgridclienttest/Databases/databasetest/dataConnectionValidation?api-version=2021-01-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"location\": \"Australia Central\",\r\n    \"kind\": \"EventHub\",\r\n    \"properties\": {\r\n      \"eventHubResourceId\": \"/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourcegroups/test-clients-rg/providers/Microsoft.EventHub/namespaces/testclientsns/eventhubs/testclientseh\",\r\n      \"consumerGroup\": \"$Default\",\r\n      \"compression\": \"None\"\r\n    }\r\n  },\r\n  \"dataConnectionName\": \"testdataconnectionqlp6ob9u4t7o\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/Australia Central/operationResults/af23341a-b17d-49e3-bbdb-9ad623c4dd77?api-version=2021-01-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1195" ],
        "Location": [ "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/Australia%20Central/operationResults/af23341a-b17d-49e3-bbdb-9ad623c4dd77?api-version=2021-01-01\u0026operationResultResponseType=Location" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "[NoDescription]+[NoContext]+DataExpandedEventHub+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/Australia Central/operationResults/af23341a-b17d-49e3-bbdb-9ad623c4dd77?api-version=2021-01-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/Australia%20Central/operationResults/af23341a-b17d-49e3-bbdb-9ad623c4dd77?api-version=2021-01-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "25" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "299" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/Australia Central/operationresults/af23341a-b17d-49e3-bbdb-9ad623c4dd77\",\"name\":\"af23341a-b17d-49e3-bbdb-9ad623c4dd77\",\"status\":\"Succeeded\",\"startTime\":\"2021-05-13T11:57:21.6048093Z\",\"endTime\":\"2021-05-13T11:57:27.4177738Z\",\"percentComplete\":1.0,\"properties\":{\"Value\":[{\"ErrorMessage\":\"event hub resource id and consumer group tuple provided are already used\"}]}}",
    }
  },
  "[NoDescription]+[NoContext]+DataExpandedEventHub+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/Australia Central/operationResults/af23341a-b17d-49e3-bbdb-9ad623c4dd77?api-version=2021-01-01\u0026operationResultResponseType=Location+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/[...]
