{
"Invoke-AzKustoDiagnoseClusterVirtualNetwork+[NoContext]+Diagnose+$POST+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/sdkpowershellrg/providers/Microsoft.Kusto/Clusters/sdkpsclustereu/diagnoseVirtualNetwork?api-version=2020-02-15+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/sdkpowershellrg/providers/Microsoft.Kusto/Clusters/sdkpsclustereu/diagnoseVirtualNetwork?api-version=2020-02-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "18" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/5aef1392-1e51-4445-b228-564d5e2fec14?api-version=2020-02-15" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "Location": [ "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/5aef1392-1e51-4445-b228-564d5e2fec14?api-version=2020-02-15\u0026operationResultResponseType=Location" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Invoke-AzKustoDiagnoseClusterVirtualNetwork+[NoContext]+Diagnose+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/5aef1392-1e51-4445-b228-564d5e2fec14?api-version=2020-02-15+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/5aef1392-1e51-4445-b228-564d5e2fec14?api-version=2020-02-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "18", "19" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "299" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationresults/5aef1392-1e51-4445-b228-564d5e2fec14\",\"name\":\"5aef1392-1e51-4445-b228-564d5e2fec14\",\"status\":\"Running\",\"startTime\":\"2020-04-05T15:35:56.5895568Z\",\"endTime\":\"2020-04-05T15:35:56.5895568Z\",\"percentComplete\":0.5,\"properties\":{}}"
    }
  },
  "Invoke-AzKustoDiagnoseClusterVirtualNetwork+[NoContext]+Diagnose+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/5aef1392-1e51-4445-b228-564d5e2fec14?api-version=2020-02-15+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/[...]
