{
  "[NoDescription]+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/testgroupkqvp2f/providers/Microsoft.Kusto/Clusters/testclustere2ay54?api-version=2021-01-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/testgroupkqvp2f/providers/Microsoft.Kusto/Clusters/testclustere2ay54?api-version=2021-01-01",
      "Content": "{\r\n  \"location\": \"East US\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_D11_v2\",\r\n    \"tier\": \"Standard\"\r\n  }\r\n}",
      "Headers": {},
      "ContentHeaders": {
        "Content-Type": ["application/json"]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/7154f499-b76d-497e-b775-271998a49789?api-version=2021-01-01"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": ["199"],
        "ETag": ["\"\""]
      },
      "ContentHeaders": {
        "Content-Type": ["application/json; charset=utf-8"]
      },
      "Content": "{\"id\":\"/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/testgroupkqvp2f/providers/Microsoft.Kusto/Clusters/testclustere2ay54\",\"name\":\"testclustere2ay54\",\"type\":\"Microsoft.Kusto/Clusters\",\"etag\":\"\\\"\\\"\",\"location\":\"East US\",\"sku\":{\"name\":\"Standard_D11_v2\",\"tier\":\"Standard\"},\"properties\":{\"state\":\"Creating\",\"provisioningState\":\"Creating\"}}"
    }
  },
  "[NoDescription]+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/7154f499-b76d-497e-b775-271998a49789?api-version=2021-01-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/7154f499-b76d-497e-b775-271998a49789?api-version=2021-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [
          "1084",
          "1085",
          "1086",
          "1087",
          "1088",
          "1089",
          "1090",
          "1091"
        ],
        "Authorization": ["[Filtered]"]
      },
      "ContentHeaders": {}
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": ["293"]
      },
      "ContentHeaders": {
        "Content-Type": ["application/json; charset=utf-8"]
      },
      "Content": "{\"id\":\"/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationresults/7154f499-b76d-497e-b775-271998a49789\",\"name\":\"7154f499-b76d-497e-b775-271998a49789\",\"status\":\"Running\",\"startTime\":\"2021-05-10T06:21:09.6900806Z\",\"endTime\":\"2021-05-10T06:21:09.6900806Z\",\"percentComplete\":0.5,\"properties\":{\"OperationKind\":\"ClusterCreateExternal\",\"RootActivityId\":\"ac63bb44-30dc-47ad-a780-a1190489b71b\",\"provisioningState\":\"Running\",\"OperationState\":\"InProgress\"}}"
    }
  },
  "[NoDescription]+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/7154f499-b76d-497e-b775-271998a49789?api-version=2021-01-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/7154f499-[...]
