{
  "Remove-AzKustoDatabase+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/sdkpowershellrg/providers/Microsoft.Kusto/Clusters/sdkpsclustereu/Databases/sdkpowershelldb?api-version=2020-02-15+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/sdkpowershellrg/providers/Microsoft.Kusto/Clusters/sdkpsclustereu/Databases/sdkpowershelldb?api-version=2020-02-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "708" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/c8642c28-891a-4dcf-8a89-f7c3f6fd2cc4?api-version=2020-02-15" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14999" ],
        "Location": [ "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/c8642c28-891a-4dcf-8a89-f7c3f6fd2cc4?api-version=2020-02-15\u0026operationResultResponseType=Location" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Remove-AzKustoDatabase+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/c8642c28-891a-4dcf-8a89-f7c3f6fd2cc4?api-version=2020-02-15+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/c8642c28-891a-4dcf-8a89-f7c3f6fd2cc4?api-version=2020-02-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "708", "709" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "298" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationresults/c8642c28-891a-4dcf-8a89-f7c3f6fd2cc4\",\"name\":\"c8642c28-891a-4dcf-8a89-f7c3f6fd2cc4\",\"status\":\"Succeeded\",\"startTime\":\"2020-03-29T21:14:49.4411043Z\",\"endTime\":\"2020-03-29T21:14:52.7692652Z\",\"percentComplete\":1.0,\"properties\":{\"OperationKind\":\"DatabaseDelete\",\"RootActivityId\":\"ec3e782f-c733-4cf5-8f15-5a3f3f5b6976\",\"provisioningState\":\"Succeeded\"}}"
    }
  },
  "Remove-AzKustoDatabase+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/c8642c28-891a-4dcf-8a89-f7c3f6fd2cc4?api-version=2020-02-15\u0026operationResultResponseType=Location+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locati[...]
