{
  "[NoDescription]+[NoContext]+Delete+$PUT+https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/PS-SDK-s52kui/providers/Microsoft.Kusto/Clusters/pssdks52kui/Databases/TestDb/PrincipalAssignments/testPrincipalAssignmentNameSecondary?api-version=2022-12-29+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/PS-SDK-s52kui/providers/Microsoft.Kusto/Clusters/pssdks52kui/Databases/TestDb/PrincipalAssignments/testPrincipalAssignmentNameSecondary?api-version=2022-12-29",
      "Content": "{\r\n  \"properties\": {\r\n    \"principalId\": \"18778869-0a89-4c08-a241-561036bd0ac7\",\r\n    \"role\": \"Viewer\",\r\n    \"principalType\": \"App\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East US/operationResults/ac1e84d4-354b-4b09-877c-f084c42c1d3b?api-version=2022-12-29" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/PS-SDK-s52kui/providers/Microsoft.Kusto/Clusters/pssdks52kui/Databases/TestDb/PrincipalAssignments/testPrincipalAssignmentNameSecondary\",\"name\":\"pssdks52kui/TestDb/testPrincipalAssignmentNameSecondary\",\"type\":\"Microsoft.Kusto/Clusters/Databases/PrincipalAssignments\",\"properties\":{\"principalId\":\"18778869-0a89-4c08-a241-561036bd0ac7\",\"role\":\"Viewer\",\"principalType\":\"App\",\"provisioningState\":\"Creating\"}}",
    }
  },
  "[NoDescription]+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East US/operationResults/ac1e84d4-354b-4b09-877c-f084c42c1d3b?api-version=2022-12-29+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East%20US/operationResults/ac1e84d4-354b-4b09-877c-f084c42c1d3b?api-version=2022-12-29",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "449" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-operation-root-activity-id": [ "05f47da7-84e1-4840-a852-ed6e73d917fb" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "279" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East US/operationresults/ac1e84d4-354b-4b09-877c-f084c42c1d3b\",\"name\":\"ac1e84d4-354b-4b09-877c-f084c42c1d3b\",\"status\":\"Succeeded\",\"startTime\":\"2023-03-12T20:58:30.7893797Z\",\"endTime\":\"2023-03-12T20:58:33.3832743Z\",\"percentComplete\":1.0,\"properties\":{\"operationKind\":\"DatabaseAddPrincipals\",\"provisioningState\":\"Succeeded\",\"operationState\":\"Completed\"}}",
    }
  },
  "[NoDescription]+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/PS-SDK-s52kui/providers/Microsoft.Kusto/Clusters/pssdks52kui/Databases/TestDb/PrincipalAssignments/testPrincipalAssignmentNameSecondary?api-version=2022-12-29+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/PS-SDK-s52ku[...]
