{
  "Remove-AzKustoDatabasePrincipalAssignment+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/sdkpowershellrg/providers/Microsoft.Kusto/Clusters/sdkpsclustereu/Databases/sdkpowershelldb/PrincipalAssignments/principalassignment1?api-version=2020-02-15+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/sdkpowershellrg/providers/Microsoft.Kusto/Clusters/sdkpsclustereu/Databases/sdkpowershelldb/PrincipalAssignments/principalassignment1?api-version=2020-02-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "284" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/7d34a802-a789-4085-9d1b-60284c98fe57?api-version=2020-02-15" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14998" ],
        "Location": [ "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/7d34a802-a789-4085-9d1b-60284c98fe57?api-version=2020-02-15\u0026operationResultResponseType=Location" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Remove-AzKustoDatabasePrincipalAssignment+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/7d34a802-a789-4085-9d1b-60284c98fe57?api-version=2020-02-15+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/7d34a802-a789-4085-9d1b-60284c98fe57?api-version=2020-02-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "284", "285" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "299" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationresults/7d34a802-a789-4085-9d1b-60284c98fe57\",\"name\":\"7d34a802-a789-4085-9d1b-60284c98fe57\",\"status\":\"Succeeded\",\"startTime\":\"2020-04-02T15:56:12.9019807Z\",\"endTime\":\"2020-04-02T15:56:13.0113497Z\",\"percentComplete\":1.0,\"properties\":{\"OperationKind\":\"DatabaseDropPrincipals\",\"RootActivityId\":\"ce05de59-4c82-44b1-883d-56a58a85053b\",\"provisioningState\":\"Succeeded\"}}"
    }
  },
  "Remove-AzKustoDatabasePrincipalAssignment+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/7d34a802-a789-4085-9d1b-60284c98fe57?api-version=2020-02-15\u0026operationResultResponseType=Location+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/7d34a802-a789-4085-9d1b-60284c98fe57?api-version=2020-02-15\u0026operationResultResponseType=Location",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "284", "285", "286" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "298" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  }
}