{
  "[NoDescription]+[NoContext]+Start+$POST+https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/PS-SDK-s52kui/providers/Microsoft.Kusto/Clusters/ssdkfollows52kui/stop?api-version=2022-12-29+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/resourceGroups/PS-SDK-s52kui/providers/Microsoft.Kusto/Clusters/ssdkfollows52kui/stop?api-version=2022-12-29",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "466" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East%20US/operationResults/31fe7e4b-0f36-457c-90ae-db7b6c3d3d4c?api-version=2022-12-29\u0026operationResultResponseType=Location" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East US/operationResults/31fe7e4b-0f36-457c-90ae-db7b6c3d3d4c?api-version=2022-12-29" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "[NoDescription]+[NoContext]+Start+$GET+https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East US/operationResults/31fe7e4b-0f36-457c-90ae-db7b6c3d3d4c?api-version=2022-12-29+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East%20US/operationResults/31fe7e4b-0f36-457c-90ae-db7b6c3d3d4c?api-version=2022-12-29",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "467" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-operation-root-activity-id": [ "2ef4a477-efca-4a12-9a1b-833b394642c9" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "295" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East US/operationresults/31fe7e4b-0f36-457c-90ae-db7b6c3d3d4c\",\"name\":\"31fe7e4b-0f36-457c-90ae-db7b6c3d3d4c\",\"status\":\"Running\",\"startTime\":\"2023-03-12T21:01:33.2602285Z\",\"endTime\":\"2023-03-12T21:01:35.7290723Z\",\"percentComplete\":0.5,\"properties\":{\"operationKind\":\"ClusterSuspend\",\"provisioningState\":\"Running\",\"operationState\":\"InProgress\"}}",
    }
  },
  "[NoDescription]+[NoContext]+Start+$GET+https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East US/operationResults/31fe7e4b-0f36-457c-90ae-db7b6c3d3d4c?api-version=2022-12-29+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e8257c73-24c5-4791-94dc-8b7901c90dbf/providers/Microsoft.Kusto/locations/East%20US/operationResults/31fe7e4b-0f36-457[...]
