{
  "Stop-AzKustoCluster+[NoContext]+Stop+$POST+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/testgroupkqvp2f/providers/Microsoft.Kusto/Clusters/testclusteruoesij/stop?api-version=2021-01-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/testgroupkqvp2f/providers/Microsoft.Kusto/Clusters/testclusteruoesij/stop?api-version=2021-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "419" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/9bc01bd2-d6e7-4683-a897-bb4fa4089b5a?api-version=2021-01-01\u0026operationResultResponseType=Location" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/9bc01bd2-d6e7-4683-a897-bb4fa4089b5a?api-version=2021-01-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1197" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Stop-AzKustoCluster+[NoContext]+Stop+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/9bc01bd2-d6e7-4683-a897-bb4fa4089b5a?api-version=2021-01-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/9bc01bd2-d6e7-4683-a897-bb4fa4089b5a?api-version=2021-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "419", "420" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "288" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationresults/9bc01bd2-d6e7-4683-a897-bb4fa4089b5a\",\"name\":\"9bc01bd2-d6e7-4683-a897-bb4fa4089b5a\",\"status\":\"Running\",\"startTime\":\"2021-05-09T12:39:42.1865551Z\",\"endTime\":\"2021-05-09T12:39:42.8897364Z\",\"percentComplete\":0.5,\"properties\":{\"OperationKind\":\"ClusterSuspend\",\"RootActivityId\":\"8533350e-d791-4a64-bdd7-5cae68ea37b0\",\"provisioningState\":\"Running\",\"OperationState\":\"InProgress\"}}"
    }
  },
  "Stop-AzKustoCluster+[NoContext]+Stop+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/9bc01bd2-d6e7-4683-a897-bb4fa4089b5a?api-version=2021-01-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/9bc01bd2-d6e7-4[...]
