{
  "Stop-AzKustoCluster+[NoContext]+Stop+$POST+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/testgroup5arkid/providers/Microsoft.Kusto/Clusters/testcluster0whu7z/stop?api-version=2020-06-14+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/resourceGroups/testgroup5arkid/providers/Microsoft.Kusto/Clusters/testcluster0whu7z/stop?api-version=2020-06-14",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "536" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/9bc773cd-a454-4178-a2f2-8834bf15dd7f?api-version=2020-06-14\u0026operationResultResponseType=Location" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/9bc773cd-a454-4178-a2f2-8834bf15dd7f?api-version=2020-06-14" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Stop-AzKustoCluster+[NoContext]+Stop+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/9bc773cd-a454-4178-a2f2-8834bf15dd7f?api-version=2020-06-14+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/9bc773cd-a454-4178-a2f2-8834bf15dd7f?api-version=2020-06-14",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "536", "537" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "299" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationresults/9bc773cd-a454-4178-a2f2-8834bf15dd7f\",\"name\":\"9bc773cd-a454-4178-a2f2-8834bf15dd7f\",\"status\":\"Running\",\"startTime\":\"2020-07-30T12:42:41.7362415Z\",\"endTime\":\"2020-07-30T12:42:42.705125Z\",\"percentComplete\":0.5,\"properties\":{\"OperationKind\":\"ClusterSuspend\",\"RootActivityId\":\"7702dc86-db1d-4eca-b1f7-cfc0c8feba3c\",\"provisioningState\":\"Running\",\"OperationState\":\"InProgress\"}}"
    }
  },
  "Stop-AzKustoCluster+[NoContext]+Stop+$GET+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/operationResults/9bc773cd-a454-4178-a2f2-8834bf15dd7f?api-version=2020-06-14+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/operationResults/9bc773cd-a454-4[...]
