{
  "Test-AzKustoDataConnectionNameAvailability+[NoContext]+CheckViaIdentityExpanded+$GET+https://management.azure.com/subscriptions/9012ad7e-f906-4683-8f8a-ca02a62e5614/resourceGroups/test-clients-rg/providers/Microsoft.Kusto/Clusters/eventgridclienttest/Databases/databasetest?api-version=2021-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9012ad7e-f906-4683-8f8a-ca02a62e5614/resourceGroups/test-clients-rg/providers/Microsoft.Kusto/Clusters/eventgridclienttest/Databases/databasetest?api-version=2021-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": ["60"],
        "Authorization": ["[Filtered]"]
      },
      "ContentHeaders": {}
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-failure-cause": ["gateway"]
      },
      "ContentHeaders": {
        "Content-Type": ["application/json; charset=utf-8"]
      },
      "Content": "{\"error\":{\"code\":\"ResourceGroupNotFound\",\"message\":\"Resource group \u0027test-clients-rg\u0027 could not be found.\"}}"
    }
  }
}
