{
  "[NoDescription]+[NoContext]+CheckExpanded+$POST+https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East US/checkNameAvailability?api-version=2021-01-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/11d5f159-a21d-4a6c-8053-c3aae30057cf/providers/Microsoft.Kusto/locations/East%20US/checkNameAvailability?api-version=2021-01-01",
      "Content": "{\r\n  \"name\": \"testclusterkqvp2f\",\r\n  \"type\": \"Microsoft.Kusto/clusters\"\r\n}",
      "Headers": {},
      "ContentHeaders": {
        "Content-Type": ["application/json"]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": ["1191"]
      },
      "ContentHeaders": {
        "Content-Type": ["application/json; charset=utf-8"]
      },
      "Content": "{\"name\":\"testclusterkqvp2f\",\"nameAvailable\":false,\"message\":\"Name \u0027testclusterkqvp2f\u0027 with type Engine is already taken. Please specify a different name\"}"
    }
  }
}
