{
  "[NoDescription]+[NoContext]+CheckExpanded+$POST+https://management.azure.com/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/resourceGroups/test-clients-rg/providers/Microsoft.Kusto/Clusters/testclusternetwork2/managedPrivateEndpointsCheckNameAvailability?api-version=2021-08-27+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/resourceGroups/test-clients-rg/providers/Microsoft.Kusto/Clusters/testclusternetwork2/managedPrivateEndpointsCheckNameAvailability?api-version=2021-08-27",
      "Content": "{\r\n  \"name\": \"testmanagedprivateendpoint\",\r\n  \"type\": \"Microsoft.Kusto/Clusters/managedPrivateEndpoints\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1196" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"name\":\"testmanagedprivateendpoint\",\"nameAvailable\":true,\"message\":\"\"}",
    }
  },
  "Test-AzKustoManagedPrivateEndpointNameAvailability+[NoContext]+[NoScenario]+$POST+https://management.azure.com/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/resourceGroups/test-clients-rg/providers/Microsoft.Kusto/Clusters/testclusternetwork2/managedPrivateEndpointsCheckNameAvailability?api-version=2021-08-27+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/58359f48-f3fe-4fd2-b007-4e3dede54d09/resourceGroups/test-clients-rg/providers/Microsoft.Kusto/Clusters/testclusternetwork2/managedPrivateEndpointsCheckNameAvailability?api-version=2021-08-27",
      "Content": "{\r\n  \"name\": \"testmanagedprivateendpoint\",\r\n  \"type\": \"Microsoft.Kusto/Clusters/managedPrivateEndpoints\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1195" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"name\":\"testmanagedprivateendpoint\",\"nameAvailable\":true,\"message\":\"\"}",
    }
  }
}