{
  "Update-AzKustoDataConnection+[NoContext]+UpdateExpandedEventHub+$PATCH+https://management.azure.com/subscriptions/9012ad7e-f906-4683-8f8a-ca02a62e5614/resourceGroups/test-clients-rg/providers/Microsoft.Kusto/Clusters/eventgridclienttest/Databases/databasetest/DataConnections/testdataconnectiondvma1g?api-version=2021-01-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/9012ad7e-f906-4683-8f8a-ca02a62e5614/resourceGroups/test-clients-rg/providers/Microsoft.Kusto/Clusters/eventgridclienttest/Databases/databasetest/DataConnections/testdataconnectiondvma1g?api-version=2021-01-01",
      "Content": "{\r\n  \"kind\": \"EventHub\",\r\n  \"location\": \"Australia Central\",\r\n  \"properties\": {\r\n    \"compression\": \"None\",\r\n    \"consumerGroup\": \"$Default\",\r\n    \"eventHubResourceId\": \"/subscriptions/9012ad7e-f906-4683-8f8a-ca02a62e5614/resourcegroups/test-clients-rg/providers/Microsoft.EventHub/namespaces/testclientsns/eventhubs/testclientseh\"\r\n  }\r\n}",
      "Headers": {},
      "ContentHeaders": {
        "Content-Type": ["application/json"]
      }
    },
    "Response": {
      "StatusCode": 409,
      "Headers": {
        "x-ms-failure-cause": ["gateway"]
      },
      "ContentHeaders": {
        "Content-Type": ["application/json; charset=utf-8"]
      },
      "Content": "{\"error\":{\"code\":\"ReadOnlyDisabledSubscription\",\"message\":\"The subscription \u00279012ad7e-f906-4683-8f8a-ca02a62e5614\u0027 is disabled and therefore marked as read only. You cannot perform any write actions on this subscription until it is re-enabled.\"}}"
    }
  },
  "Update-AzKustoDataConnection+[NoContext]+UpdateExpandedEventGrid+$PATCH+https://management.azure.com/subscriptions/9012ad7e-f906-4683-8f8a-ca02a62e5614/resourceGroups/test-clients-rg/providers/Microsoft.Kusto/Clusters/eventgridclienttest/Databases/databasetest/DataConnections/testdataconnectiondvma1gg?api-version=2021-01-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/9012ad7e-f906-4683-8f8a-ca02a62e5614/resourceGroups/test-clients-rg/providers/Microsoft.Kusto/Clusters/eventgridclienttest/Databases/databasetest/DataConnections/testdataconnectiondvma1gg?api-version=2021-01-01",
      "Content": "{\r\n  \"kind\": \"EventGrid\",\r\n  \"location\": \"Australia Central\",\r\n  \"properties\": {\r\n    \"consumerGroup\": \"$Default\",\r\n    \"eventHubResourceId\": \"/subscriptions/9012ad7e-f906-4683-8f8a-ca02a62e5614/resourcegroups/test-clients-rg/providers/Microsoft.EventHub/namespaces/testclientsns/eventhubs/testclientseg\",\r\n    \"storageAccountResourceId\": \"/subscriptions/9012ad7e-f906-4683-8f8a-ca02a62e5614/resourcegroups/test-clients-rg/providers/Microsoft.Storage/storageAccounts/testclients\"\r\n  }\r\n}",
      "Headers": {},
      "ContentHeaders": {
        "Content-Type": ["application/json"]
      }
    },
    "Response": {
      "StatusCode": 409,
      "Headers": {
        "x-ms-failure-cause": ["gateway"]
      },
      "ContentHeaders": {
        "Content-Type": ["application/json; charset=utf-8"]
      },
      "Content": "{\"error\[...]
