{
  "Get-AzCarbonEmissionReport+[NoContext]+GetCarbonEmissionsOverallSummaryReport+$POST+https://management.azure.com/providers/Microsoft.Carbon/carbonEmissionReports?api-version=2025-04-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Carbon/carbonEmissionReports?api-version=2025-04-01",
      "Content": "{\r\n  \"dateRange\": {\r\n    \"start\": \"2024-03-01\",\r\n    \"end\": \"2025-03-01\"\r\n  },\r\n  \"reportType\": \"OverallSummaryReport\",\r\n  \"subscriptionList\": [ \"1fcfa925-ad8b-443e-afc9-73038125cc86\" ],\r\n  \"carbonScopeList\": [ \"Scope1\", \"Scope2\", \"Scope3\" ]\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-writes": [ "2498" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "8f67d10a-9ef2-4987-b6e9-58dd40e948e0" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "2199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"dataType\":\"OverallSummaryData\",\"latestMonthEmissions\":3764.88845070415,\"previousMonthEmissions\":3662.81335934428,\"monthOverMonthEmissionsChangeRatio\":0.0278679477619186,\"monthlyEmissionsChangeValue\":102.075091359864}]}",
    }
  },
  "Get-AzCarbonEmissionReport+[NoContext]+GetCarbonEmissionsMonthlySummaryReport+$POST+https://management.azure.com/providers/Microsoft.Carbon/carbonEmissionReports?api-version=2025-04-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Carbon/carbonEmissionReports?api-version=2025-04-01",
      "Content": "{\r\n  \"dateRange\": {\r\n    \"start\": \"2024-03-01\",\r\n    \"end\": \"2025-03-01\"\r\n  },\r\n  \"reportType\": \"MonthlySummaryReport\",\r\n  \"subscriptionList\": [ \"1fcfa925-ad8b-443e-afc9-73038125cc86\" ],\r\n  \"carbonScopeList\": [ \"Scope1\", \"Scope2\", \"Scope3\" ]\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-writes": [ "2496" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "0e77cafe-b879-4309-8e9a-0a4fbdbe0d81" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "2199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"dataType\":\"MonthlySummaryData\",\"date\":\"2024-03-01\",\"carbonIntensity\":0.0170261988257036,\"latestMonthEmissions\":127.264697099075,\"previousMonthEmissions\":103.363434855836,\"monthOverMonthEmissionsChangeRatio\":0.231235177861249,\"monthlyEmissionsChangeValue\":23.9012622432389},{\"dataType\":\"MonthlySummaryData\",\"date\":\"2024-04-01\",\"carbonIntensity\":0.0339931563188226,\"latestMonthEmissions\":477.077652156969,\"previousMonthEmissions\":127.264697099075,\"monthOverMonthEmissionsChangeRatio\":2.74870378849498,\"monthlyEmissionsChangeValue\":349.8129550578[...]
