{
  "Get-AzCarbonEmissionDataAvailableDateRange+[NoContext]+Get+$POST+https://management.azure.com/providers/Microsoft.Carbon/queryCarbonEmissionDataAvailableDateRange?api-version=2025-04-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Carbon/queryCarbonEmissionDataAvailableDateRange?api-version=2025-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-writes": [ "2499" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "7387539c-bd5b-408e-9afe-32893cb89ac7" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"startDate\":\"2024-03-01\",\"endDate\":\"2025-03-01\"}",
    }
  }
}