{
  "Entries": [
    {
      "RequestUri": "/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$top=3&$select=Timestamp%2C%20ResourceId%2C%20PolicyAssignmentId%2C%20PolicyDefinitionId%2C%20IsCompliant%2C%20SubscriptionId%2C%20PolicyDefinitionAction",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest\",\r\n  \"@odata.count\": 3,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity\",\r\n      \"Timestamp\": \"2018-03-22T18:57:18Z\",\r\n      \"ResourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourceGroups/MC_joelpotest_aks0_eastus/providers/Microsoft.Network/loadBalancers/kubernetes\",\r\n      \"PolicyAssignmentId\": \"/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.Authorization/policyAssignments/1ef5d536aec743a0aa801c1a\",\r\n      \"PolicyDefinitionId\": \"/providers/Microsoft.Management/managementGroups/AzGovTest1/providers/Microsoft.Authorization/policyDefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d\",\r\n      \"IsCompliant\": false,\r\n      \"SubscriptionId\": \"d0610b27-9663-4c05-89f8-5b4be01e86a5\",\r\n      \"PolicyDefinitionAction\": \"audit\"\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity\",\r\n      \"Timestamp\": \"2018-03-22T18:57:18Z\",\r\n      \"ResourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/AzureResourcesCache/providers/Microsoft.ServiceFabric/clusters/gov-rp-int-arc/applications/ResourcesCacheVali[...]
