{
    "Entries": [
        {
            "RequestUri": "/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/providers/microsoft.insights/eventtypes/management/values?$filter=eventTimestamp%20ge%20'2015-02-10T02:35:00.0000000Z'%20and%20eventTimestamp%20le%20'2015-02-10T02:40:00.0000000Z'%20and%20resourceType%20eq%20'microsoft.insights/autoscalesettings'&api-version=2015-04-01",
            "RequestMethod": "GET",
            "RequestBody": "",
            "RequestHeaders": {
            },
            "ResponseBody": "{\"value\":[{\"caller\":\"Microsoft.Insights/autoscaleSettings\",\"channels\":\"Admin, Operation\",\"claims\":{\"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/spn\":\"Microsoft.Insights/autoscaleSettings\"},\"correlationId\":\"ac5b03ca-05d4-4811-9c27-0314a145f785\",\"description\":\"The autoscale engine attempting to scale resource '/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourceGroups/Default-Web-EastUS/providers/microsoft.web/serverFarms/DefaultServerFarm' from 1 instances count to 2 instances count.\",\"eventDataId\":\"8ac77f91-47ea-4fc5-bd56-a39c8bf52e6d\",\"eventName\":{\"value\":\"AutoscaleAction\",\"localizedValue\":\"Autoscale a resource.\"},\"category\":{\"value\":\"microsoft.insights/autoscalesettings\",\"localizedValue\":\"Microsoft Insights Autoscale Settings\"},\"id\":\"/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourceGroups/Default-Web-EastUS/providers/microsoft.web/serverFarms/DefaultServerFarm/events/8ac77f91-47ea-4fc5-bd56-a39c8bf52e6d/ticks/635591326997519815\",\"level\":\"Informational\",\"resourceGroupName\":\"Default-Web-EastUS\",\"resourceProviderName\":{\"value\":\"microsoft.web\",\"localizedValue\":\"Azure Web Sites\"},\"resourceUri\":\"/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourceGroups/Default-Web-EastUS/providers/microsoft.web/serverFarms/DefaultServerFarm\",\"operationId\":\"ac5b03ca-05d4-4811-9c27-0314a145f785\",\"operationName\":{\"value\":\"ScaleUp\",\"localizedValue\":\"Scale up\"},\"properties\":{\"Description\":\"The autoscale engine attempting to scale resource '/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourceGroups/Default-Web-EastUS/providers/microsoft.web/serverFarms/DefaultServerFarm' from 1 instances count to 2 instances count.\",\"ResourceName\":\"/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourceGroups/Default-Web-EastUS/providers/microsoft.web/serverFarms/DefaultServerFarm\",\"OldInstancesCount\":\"1\",\"NewInstancesCount\":\"2\",\"ActiveAutoscaleProfile\":\"{\r\n  \\\"Name\\\": \\\"No scheduled times\\\",\r\n \\\"Capacity\\\": {\r\n    \\\"Minimum\\\": \\\"1\\\",\r\n    \\\"Maximum\\\": \\\"3\\\",\r\n    \\\"Default\\\": \\\"1\\\"\r\n  },\r\n  \\\"Rules\\\": [\r\n    {\r\n      \\\"MetricTrigger\\\": {\r\n        \\\"Name\\\": \\\"CpuPercentage\\\",\r\n        \\\"Namespace\\\": \\\"\\\",\r\n        \\\"Resource\\\": \\\"/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourceGroups/Default-Web-EastUS/providers/microsoft.web/serverFarms/DefaultServerFarm\\\",\r\n        \\\"ResourceLocation\\\": \\\"East US\\\",\r\n        \\\"TimeGrain\\\": \\\"PT1M\\\",\r\n        \\\"Statistic\\\": \\\"Average\\\",\r\n        \\\"TimeWindow\\\": \\\"PT45M\\\",\r\n        \\\"TimeAggregation\\\": \\\"Average\\\",\r\n        \\\"Operator\\\": \\\"GreaterThanOrEqual\\\",\r\n        \\\"Threshold\\\": 14.0,\r\n        \\\"Source\\\": \\\"WebsiteDedicated:eastuswebspace:DefaultServerFarm\\\"\r\n      },\r\n      \\\"ScaleAction\\\": {\r\n        \\\"Direction\\\": \\\"Increase\\\",\r\n        \\\"Type\\\": \\\"ChangeCount\\\",\r\n        \\\"Value\\\": \\\"1\\\",\r\n        \\\"Cooldown\\\": \\\"PT5M\\\"\r\n      }\r\n    },\r\n    {\r\n      \\\"MetricTrigger\\\": {\r\n        \\\"Name\\\": \\\"CpuPercentage\\\",\r\n        \\\"Namespace\\\": \\\"\\\",\r\n        \\\"Resource\\\": \\\"/subscriptions/a93fb07c-6c93-40be-bf3b-4f0deba10f4b/resourceGroups/Default-Web-EastUS/providers/microsoft.web/serverFarms/DefaultServerFarm\\\",\r\n        \\\"ResourceLocation\\\": \\\"East US\\\",\r\n        \\\"TimeGrain\\\": \\\"PT1M\\\",\r\n        \\\"Statistic\\\": \\\"Average\\\",\r\n        [...]
