{
  "Entries": [
    {
      "RequestUri": "/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policyAssignments/0727ffc1697048c5b4884aef/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$top=1",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policyAssignments/0727ffc1697048c5b4884aef/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest\",\r\n  \"@odata.count\": 1,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policyAssignments/0727ffc1697048c5b4884aef/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity\",\r\n      \"Timestamp\": \"2018-03-22T18:16:11Z\",\r\n      \"ResourceId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5\",\r\n      \"PolicyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policyAssignments/0727ffc1697048c5b4884aef\",\r\n      \"PolicyDefinitionId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/Microsoft.Authorization/policyDefinitions/eec60ca7-e6ec-4c77-902f-0c9a622560f1\",\r\n      \"EffectiveParameters\": null,\r\n      \"IsCompliant\": false,\r\n      \"SubscriptionId\": \"d0610b27-9663-4c05-89f8-5b4be01e86a5\",\r\n      \"ResourceType\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5\",\r\n      \"ResourceLocation\": null,\r\n      \"ResourceGroup\": null,\r\n      \"ResourceTags\": \"tbd\",\r\n      \"PolicyAssignmentName\": \"0727ffc1697048c5b4884aef\",\r\n      \"PolicyAssignmentOwner\": \"tbd\",\r\n      \"PolicyAssignmentParameters\": \"{}\",\r\n      \"PolicyAssignmentScope\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5\",\r\n      \"PolicyDefinitionName\": \"eec60ca7-e6ec-4c77-902f-0c9a622560f1\",\r\n      \"PolicyDefinitionAction\": \"deployifnotexists\",\r\n      \"PolicyDefinitionCategory\": \"tbd\",\r\n      \"PolicySetDefinitionId\": null,\r\n      \"PolicySetDefinitionName\": null,\r\n      \"PolicySetDefinitionOwner\": null,\r\n      \"PolicySetDefinitionCategory\": null,\r\n      \"PolicySetDefinitionParameters\": null,\r\n      \"ManagementGroupIds\": \"AzGovTest5,AzGovTest3,AzGovTest2,AzGovTest1,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"PolicyDefinitionReferenceId\": null\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14983"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "d0610b27-9663-4c05-89f8-5b4be01e86a5"
  }
}