// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

namespace Microsoft.Azure.PowerShell.Cmdlets.AD.Cmdlets
{
    using static Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Extensions;

    /// <summary>Grants OAuth2 permissions for the relevant resource Ids of an app.</summary>
    /// <remarks>
    /// [OpenAPI] OAuth2PermissionGrant_Create=>POST:"/{tenantID}/oauth2PermissionGrants"
    /// </remarks>
    [global::System.Management.Automation.Cmdlet(global::System.Management.Automation.VerbsCommon.New, @"AzADOAuth2PermissionGrant_CreateExpanded", SupportsShouldProcess = true)]
    [global::System.Management.Automation.OutputType(typeof(Microsoft.Azure.PowerShell.Cmdlets.AD.Models.Api16.IOAuth2PermissionGrant))]
    [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Description(@"Grants OAuth2 permissions for the relevant resource Ids of an app.")]
    [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Generated]
    public partial class NewAzADOAuth2PermissionGrant_CreateExpanded : global::System.Management.Automation.PSCmdlet,
        Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener
    {
        /// <summary>A unique id generatd for the this cmdlet when it is instantiated.</summary>
        private string __correlationId = System.Guid.NewGuid().ToString();

        /// <summary>A copy of the Invocation Info (necessary to allow asJob to clone this cmdlet)</summary>
        private global::System.Management.Automation.InvocationInfo __invocationInfo;

        /// <summary>A unique id generatd for the this cmdlet when ProcessRecord() is called.</summary>
        private string __processRecordId;

        /// <summary>
        /// The <see cref="global::System.Threading.CancellationTokenSource" /> for this operation.
        /// </summary>
        private global::System.Threading.CancellationTokenSource _cancellationTokenSource = new global::System.Threading.CancellationTokenSource();

        /// <summary>Backing field for <see cref="Body" /> property.</summary>
        private Microsoft.Azure.PowerShell.Cmdlets.AD.Models.Api16.IOAuth2PermissionGrant _body= new Microsoft.Azure.PowerShell.Cmdlets.AD.Models.Api16.OAuth2PermissionGrant();

        private Microsoft.Azure.PowerShell.Cmdlets.AD.Models.Api16.IOAuth2PermissionGrant Body { get => this._body; set => this._body = value; }

        /// <summary>Wait for .NET debugger to attach</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Wait for .NET debugger to attach")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AD.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter Break { get; set; }

        /// <summary>The reference to the client API class.</summary>
        public Microsoft.Azure.PowerShell.Cmdlets.AD.Ad Client => Microsoft.Azure.PowerShell.Cmdlets.AD.Module.Instance.ClientAPI;

        /// <summary>
        /// The id of the resource's service principal granted consent to impersonate the user when accessing the resource (represented
        /// by the resourceId property).
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The id of the resource's service principal granted consent to impersonate the user when accessing the resource (represented by the resourceId property).")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AD.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The id of the resource's service principal granted consent to impersonate the user when accessing the resource (represented by the resourceId property).",
        SerializedName = @"clientId",
        PossibleTypes = new [] { typeof(string) })]
        public string ClientId { get => Body.ClientId ?? null; set => Body.ClientId = value; }

        /// <summary>
        /// Indicates if consent was provided by the administrator (on behalf of the organization) or by an individual.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Indicates if consent was provided by the administrator (on behalf of the organization) or by an individual.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AD.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Indicates if consent was provided by the administrator (on behalf of the organization) or by an individual.",
        SerializedName = @"consentType",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.AD.Support.ConsentType) })]
        [global::System.Management.Automation.ArgumentCompleter(typeof(Microsoft.Azure.PowerShell.Cmdlets.AD.Support.ConsentType))]
        public Microsoft.Azure.PowerShell.Cmdlets.AD.Support.ConsentType ConsentType { get => Body.ConsentType ?? ((Microsoft.Azure.PowerShell.Cmdlets.AD.Support.ConsentType)""); set => Body.ConsentType = value; }

        /// <summary>
        /// The credentials, account, tenant, and subscription used for communication with Azure
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The credentials, account, tenant, and subscription used for communication with Azure.")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::System.Management.Automation.Alias("AzureRMContext", "AzureCredential")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AD.ParameterCategory.Azure)]
        public global::System.Management.Automation.PSObject DefaultProfile { get; set; }

        /// <summary>Expiry time for TTL</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Expiry time for TTL")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AD.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Expiry time for TTL",
        SerializedName = @"expiryTime",
        PossibleTypes = new [] { typeof(string) })]
        public string ExpiryTime { get => Body.ExpiryTime ?? null; set => Body.ExpiryTime = value; }

        /// <summary>SendAsync Pipeline Steps to be appended to the front of the pipeline</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "SendAsync Pipeline Steps to be appended to the front of the pipeline")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AD.ParameterCategory.Runtime)]
        public Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.SendAsyncStep[] HttpPipelineAppend { get; set; }

        /// <summary>SendAsync Pipeline Steps to be prepended to the front of the pipeline</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "SendAsync Pipeline Steps to be prepended to the front of the pipeline")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AD.ParameterCategory.Runtime)]
        public Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.SendAsyncStep[] HttpPipelinePrepend { get; set; }

        /// <summary>Accessor for our copy of the InvocationInfo.</summary>
        public global::System.Management.Automation.InvocationInfo InvocationInformation { get => __invocationInfo = __invocationInfo ?? this.MyInvocation ; set { __invocationInfo = value; } }

        /// <summary>
        /// <see cref="IEventListener" /> cancellation delegate. Stops the cmdlet when called.
        /// </summary>
        global::System.Action Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener.Cancel => _cancellationTokenSource.Cancel;

        /// <summary><see cref="IEventListener" /> cancellation token.</summary>
        global::System.Threading.CancellationToken Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener.Token => _cancellationTokenSource.Token;

        /// <summary>The id of the permission grant</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The id of the permission grant")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AD.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The id of the permission grant",
        SerializedName = @"objectId",
        PossibleTypes = new [] { typeof(string) })]
        public string ObjectId { get => Body.ObjectId ?? null; set => Body.ObjectId = value; }

        /// <summary>Microsoft.DirectoryServices.OAuth2PermissionGrant</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Microsoft.DirectoryServices.OAuth2PermissionGrant")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AD.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Microsoft.DirectoryServices.OAuth2PermissionGrant",
        SerializedName = @"odata.type",
        PossibleTypes = new [] { typeof(string) })]
        public string OdataType { get => Body.OdataType ?? null; set => Body.OdataType = value; }

        /// <summary>
        /// The instance of the <see cref="Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.HttpPipeline" /> that the remote call will use.
        /// </summary>
        private Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.HttpPipeline Pipeline { get; set; }

        /// <summary>
        /// When consent type is Principal, this property specifies the id of the user that granted consent and applies only for that
        /// user.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "When consent type is Principal, this property specifies the id of the user that granted consent and applies only for that user.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AD.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"When consent type is Principal, this property specifies the id of the user that granted consent and applies only for that user.",
        SerializedName = @"principalId",
        PossibleTypes = new [] { typeof(string) })]
        public string PrincipalId { get => Body.PrincipalId ?? null; set => Body.PrincipalId = value; }

        /// <summary>The URI for the proxy server to use</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "The URI for the proxy server to use")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AD.ParameterCategory.Runtime)]
        public global::System.Uri Proxy { get; set; }

        /// <summary>Credentials for a proxy server to use for the remote call</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Credentials for a proxy server to use for the remote call")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AD.ParameterCategory.Runtime)]
        public global::System.Management.Automation.PSCredential ProxyCredential { get; set; }

        /// <summary>Use the default credentials for the proxy</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Use the default credentials for the proxy")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AD.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter ProxyUseDefaultCredentials { get; set; }

        /// <summary>Object Id of the resource you want to grant</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Object Id of the resource you want to grant")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AD.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Object Id of the resource you want to grant",
        SerializedName = @"resourceId",
        PossibleTypes = new [] { typeof(string) })]
        public string ResourceId { get => Body.ResourceId ?? null; set => Body.ResourceId = value; }

        /// <summary>
        /// Specifies the value of the scope claim that the resource application should expect in the OAuth 2.0 access token. For
        /// example, User.Read
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Specifies the value of the scope claim that the resource application should expect in the OAuth 2.0 access token. For example, User.Read")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AD.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Specifies the value of the scope claim that the resource application should expect in the OAuth 2.0 access token. For example, User.Read",
        SerializedName = @"scope",
        PossibleTypes = new [] { typeof(string) })]
        public string Scope { get => Body.Scope ?? null; set => Body.Scope = value; }

        /// <summary>Start time for TTL</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Start time for TTL")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AD.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Start time for TTL",
        SerializedName = @"startTime",
        PossibleTypes = new [] { typeof(string) })]
        public string StartTime { get => Body.StartTime ?? null; set => Body.StartTime = value; }

        /// <summary>Backing field for <see cref="TenantId" /> property.</summary>
        private string _tenantId;

        /// <summary>The tenant ID.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The tenant ID.")]
        [Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The tenant ID.",
        SerializedName = @"tenantID",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.AD.Category(global::Microsoft.Azure.PowerShell.Cmdlets.AD.ParameterCategory.Path)]
        public string TenantId { get => this._tenantId; set => this._tenantId = value; }

        /// <summary>
        /// <c>overrideOnCreated</c> will be called before the regular onCreated has been processed, allowing customization of what
        /// happens on that response. Implement this method in a partial class to enable this behavior
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.AD.Models.Api16.IOAuth2PermissionGrant"
        /// /> from the remote call</param>
        /// <param name="returnNow">/// Determines if the rest of the onCreated method should be processed, or if the method should
        /// return immediately (set to true to skip further processing )</param>

        partial void overrideOnCreated(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.AD.Models.Api16.IOAuth2PermissionGrant> response, ref global::System.Threading.Tasks.Task<bool> returnNow);

        /// <summary>
        /// (overrides the default BeginProcessing method in global::System.Management.Automation.PSCmdlet)
        /// </summary>
        protected override void BeginProcessing()
        {
            Module.Instance.SetProxyConfiguration(Proxy, ProxyCredential, ProxyUseDefaultCredentials);
            if (Break)
            {
                Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.AttachDebugger.Break();
            }
            ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Events.CmdletBeginProcessing).Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
        }

        /// <summary>Performs clean-up after the command execution</summary>
        protected override void EndProcessing()
        {
            ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Events.CmdletEndProcessing).Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
        }

        /// <summary>Handles/Dispatches events during the call to the REST service.</summary>
        /// <param name="id">The message id</param>
        /// <param name="token">The message cancellation token. When this call is cancelled, this should be <c>true</c></param>
        /// <param name="messageData">Detailed message data for the message event.</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the message is completed.
        /// </returns>
         async global::System.Threading.Tasks.Task Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener.Signal(string id, global::System.Threading.CancellationToken token, global::System.Func<Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.EventData> messageData)
        {
            using( NoSynchronizationContext )
            {
                if (token.IsCancellationRequested)
                {
                    return ;
                }

                switch ( id )
                {
                    case Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Events.Verbose:
                    {
                        WriteVerbose($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Events.Warning:
                    {
                        WriteWarning($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Events.Information:
                    {
                        var data = messageData();
                        WriteInformation(data, new[] { data.Message });
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Events.Debug:
                    {
                        WriteDebug($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Events.Error:
                    {
                        WriteError(new global::System.Management.Automation.ErrorRecord( new global::System.Exception(messageData().Message), string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null ) );
                        return ;
                    }
                }
                await Microsoft.Azure.PowerShell.Cmdlets.AD.Module.Instance.Signal(id, token, messageData, (i,t,m) => ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Signal(i,t,()=> Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.EventDataConverter.ConvertFrom( m() ) as Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.EventData ), InvocationInformation, this.ParameterSetName, __correlationId, __processRecordId, null );
                if (token.IsCancellationRequested)
                {
                    return ;
                }
                WriteDebug($"{id}: {(messageData().Message ?? global::System.String.Empty)}");
            }
        }

        /// <summary>
        /// Intializes a new instance of the <see cref="NewAzADOAuth2PermissionGrant_CreateExpanded" /> cmdlet class.
        /// </summary>
        public NewAzADOAuth2PermissionGrant_CreateExpanded()
        {

        }

        /// <summary>Performs execution of the command.</summary>
        protected override void ProcessRecord()
        {
            ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Events.CmdletProcessRecordStart).Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
            __processRecordId = System.Guid.NewGuid().ToString();
            try
            {
                // work
                if (ShouldProcess($"Call remote 'OAuth2PermissionGrantCreate' operation"))
                {
                    using( var asyncCommandRuntime = new Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.PowerShell.AsyncCommandRuntime(this, ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Token) )
                    {
                        asyncCommandRuntime.Wait( ProcessRecordAsync(),((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Token);
                    }
                }
            }
            catch (global::System.AggregateException aggregateException)
            {
                // unroll the inner exceptions to get the root cause
                foreach( var innerException in aggregateException.Flatten().InnerExceptions )
                {
                    ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Events.CmdletException, $"{innerException.GetType().Name} - {innerException.Message} : {innerException.StackTrace}").Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                    // Write exception out to error channel.
                    WriteError( new global::System.Management.Automation.ErrorRecord(innerException,string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null) );
                }
            }
            catch (global::System.Exception exception) when ((exception as System.Management.Automation.PipelineStoppedException)== null || (exception as System.Management.Automation.PipelineStoppedException).InnerException != null)
            {
                ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Events.CmdletException, $"{exception.GetType().Name} - {exception.Message} : {exception.StackTrace}").Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                // Write exception out to error channel.
                WriteError( new global::System.Management.Automation.ErrorRecord(exception,string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null) );
            }
            finally
            {
                ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Events.CmdletProcessRecordEnd).Wait();
            }
        }

        /// <summary>Performs execution of the command, working asynchronously if required.</summary>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        protected async global::System.Threading.Tasks.Task ProcessRecordAsync()
        {
            using( NoSynchronizationContext )
            {
                await ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Events.CmdletProcessRecordAsyncStart); if( ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                await ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Events.CmdletGetPipeline); if( ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                Pipeline = Microsoft.Azure.PowerShell.Cmdlets.AD.Module.Instance.CreatePipeline(InvocationInformation, __correlationId, __processRecordId, this.ParameterSetName);
                if (null != HttpPipelinePrepend)
                {
                    Pipeline.Prepend((this.CommandRuntime as Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.PowerShell.IAsyncCommandRuntimeExtensions)?.Wrap(HttpPipelinePrepend) ?? HttpPipelinePrepend);
                }
                if (null != HttpPipelineAppend)
                {
                    Pipeline.Append((this.CommandRuntime as Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.PowerShell.IAsyncCommandRuntimeExtensions)?.Wrap(HttpPipelineAppend) ?? HttpPipelineAppend);
                }
                // get the client instance
                try
                {
                    await ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Events.CmdletBeforeAPICall); if( ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                    await this.Client.OAuth2PermissionGrantCreate(TenantId, Body, onCreated, this, Pipeline);
                    await ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Events.CmdletAfterAPICall); if( ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                }
                catch (Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.UndeclaredResponseException urexception)
                {
                    WriteError(new global::System.Management.Automation.ErrorRecord(urexception, urexception.StatusCode.ToString(), global::System.Management.Automation.ErrorCategory.InvalidOperation, new {  TenantId=TenantId,body=Body})
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(urexception.Message) { RecommendedAction = urexception.Action }
                    });
                }
                finally
                {
                    await ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.Events.CmdletProcessRecordAsyncEnd);
                }
            }
        }

        /// <summary>Interrupts currently running code within the command.</summary>
        protected override void StopProcessing()
        {
            ((Microsoft.Azure.PowerShell.Cmdlets.AD.Runtime.IEventListener)this).Cancel();
            base.StopProcessing();
        }

        /// <summary>a delegate that is called when the remote service returns 201 (Created).</summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.AD.Models.Api16.IOAuth2PermissionGrant"
        /// /> from the remote call</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        private async global::System.Threading.Tasks.Task onCreated(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.AD.Models.Api16.IOAuth2PermissionGrant> response)
        {
            using( NoSynchronizationContext )
            {
                var _returnNow = global::System.Threading.Tasks.Task<bool>.FromResult(false);
                overrideOnCreated(responseMessage, response, ref _returnNow);
                // if overrideOnCreated has returned true, then return right away.
                if ((null != _returnNow && await _returnNow))
                {
                    return ;
                }
                // onCreated - response for 201 / application/json
                // (await response) // should be Microsoft.Azure.PowerShell.Cmdlets.AD.Models.Api16.IOAuth2PermissionGrant
                WriteObject((await response));
            }
        }
    }
}