{
  "Get-AzDeidService+[NoContext]+List+$GET+https://management.azure.com/subscriptions/a49b70b4-60ee-4422-a7e2-3a5223f5fae4/providers/Microsoft.HealthDataAIServices/deidServices?api-version=2024-09-20+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a49b70b4-60ee-4422-a7e2-3a5223f5fae4/providers/Microsoft.HealthDataAIServices/deidServices?api-version=2024-09-20",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "22" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "852fb5dc-4b88-46c7-aefd-3a5c97300e91", "bfcd898b-abcf-420d-8ecd-78d625069318", "6edff90f-d5cd-42ce-af0f-56cde41dd442", "d3460dff-c761-483d-b618-a26cf85c875c", "0cdcba7b-f523-457e-a186-f775773b60ba", "f4d4f595-1c11-4380-a34f-8f1f463aae23", "6c05bbf6-eeae-419d-b0c8-c45f683d1940", "f0bd79b2-70c5-4747-8971-090848bd8b06" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/a49b70b4-60ee-4422-a7e2-3a5223f5fae4/resourceGroups/deid-rp-testing/providers/Microsoft.HealthDataAIServices/DeidServices/Test8b3445a3-66e1-4f46-b\",\"name\":\"Test8b3445a3-66e1-4f46-b\",\"type\":\"microsoft.healthdataaiservices/deidservices\",\"location\":\"eastus\",\"systemData\":{\"createdBy\":\"b7e07e25-e7d0-40ec-8046-94279a2b0a38\",\"createdByType\":\"Application\",\"createdAt\":\"2024-08-24T15:44:03.6480108Z\",\"lastModifiedBy\":\"b7e07e25-e7d0-40ec-8046-94279a2b0a38\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2024-08-24T15:44:03.6480108Z\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"serviceUrl\":\"https://h7b4hxehbchtf2at.api.eus001.deid.azure.com\",\"publicNetworkAccess\":\"Enabled\"}},{\"id\":\"/subscriptions/a49b70b4-60ee-4422-a7e2-3a5223f5fae4/resourceGroups/deid-rp-testing/providers/Microsoft.HealthDataAIServices/DeidServices/Test5cf9363c-c402-4651-9\",\"name\":\"Test5cf9363c-c402-4651-9\",\"type\":\"microsoft.healthdataaiservices/deidservices\",\"location\":\"eastus\",\"systemData\":{\"createdBy\":\"b7e07e25-e7d0-40ec-8046-94279a2b0a38\",\"createdByType\":\"Application\",\"createdAt\":\"2024-08-24T15:54:03.5592076Z\",\"lastModifiedBy\":\"b7e07e25-e7d0-40ec-8[...]
