{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/providers/Microsoft.Peering/peerAsns/Global8363?api-version=2019-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 65000,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@ps4043.com\",\r\n        \"noc@Global8363.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"ps1897\"\r\n      ]\r\n    },\r\n    \"peerName\": \"ps4043\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"peerAsn\": 65000,\r\n    \"peerContactInfo\": {\r\n      \"emails\": [\r\n        \"noc@ps4043.com\",\r\n        \"noc@Global8363.com\"\r\n      ],\r\n      \"phone\": [\r\n        \"ps1897\"\r\n      ]\r\n    },\r\n    \"peerName\": \"ps4043\",\r\n    \"validationState\": \"None\"\r\n  },\r\n  \"name\": \"Global8363\",\r\n  \"id\": \"/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/providers/Microsoft.Peering/peerAsns/Global8363\",\r\n  \"type\": \"Microsoft.Peering/peerAsns\"\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/providers/Microsoft.Peering/peerAsns?api-version=2019-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14994"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"peerAsn\": 65000,\r\n        \"peerContactInfo\": {\r\n          \"emails\": [\r\n            \"noc@ps4043.com\",\r\n            \"noc@Global8363.com\",\r\n            \"ps2187@Global8363.com\"\r\n          ],\r\n          \"phone\": [\r\n            \"ps1897\"\r\n          ]\r\n        },\r\n        \"peerName\": \"ps4043\",\r\n        \"validationState\": \"None\"\r\n      },\r\n      \"name\": \"Global8363\",\r\n      \"id\": \"/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/providers/Microsoft.Peering/peerAsns/Global8363\",\r\n      \"type\": \"Microsoft.Peering/peerAsns\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/4445bf11-61c4-436f-a940-60194f8aca57/providers/Microsoft.Peering/peerAsns/Global8363?api-version=2019-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "false",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-SetPeerAsn": [
      "Global8363",
      "ps4043",
      "ps1897",
      "ps2187"
    ]
  },
  "Variables": {
    "SubscriptionId": "4445bf11-61c4-436f-a940-60194f8aca57"
  }
}