{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a1bfa635-f2bf-42f1-86b5-848c674fc321/providers/Microsoft.Resources/deployments/ps1611/validate?api-version=2022-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\n  \"location\": \"West US 2\",\n  \"properties\": {\n    \"template\": {\n      \"definitions\": {\n        \"customType\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"age\": {\n              \"type\": \"int\"\n            }\n          }\n        },\n        \"nullableCustomType\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"age\": {\n              \"type\": \"int\"\n            }\n          },\n          \"nullable\": true\n        },\n        \"customTypeWithRequired\": {\n          \"$ref\": \"#/definitions/customType\",\n          \"nullable\": false\n        },\n        \"nullableArrayOfObjectsType\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"property1\": {\n                \"type\": \"string\"\n              }\n            }\n          },\n          \"nullable\": true\n        }\n      },\n      \"outputs\": {\n        \"greeting\": {\n          \"type\": \"string\",\n          \"value\": \"[if(not(empty(parameters('yourName'))), format('Hello, {0}. Nice to meet you!', parameters('yourName')), 'Hey, nice to meet you!')]\"\n        },\n        \"output1\": {\n          \"$ref\": \"#/definitions/nullableArrayOfObjectsType\",\n          \"value\": \"[parameters('param1')]\"\n        }\n      },\n      \"parameters\": {\n        \"yourName\": {\n          \"type\": \"string\",\n          \"nullable\": true\n        },\n        \"optionalCustomType\": {\n          \"$ref\": \"#/definitions/customType\",\n          \"nullable\": true\n        },\n        \"requiredNullableCustomType\": {\n          \"$ref\": \"#/definitions/nullableCustomType\"\n        },\n        \"optionalRequiredCustomType\": {\n          \"$ref\": \"#/definitions/customTypeWithRequired\",\n          \"nullable\": true\n        },\n        \"param1\": {\n          \"$ref\": \"#/definitions/nullableArrayOfObjectsType\"\n        }\n      },\n      \"metadata\": {\n        \"_generator\": {\n          \"name\": \"bicep\",\n          \"version\": \"0.25.53.49325\",\n          \"templateHash\": \"12898147683986343357\"\n        }\n      },\n      \"languageVersion\": \"2.0\",\n      \"contentVersion\": \"1.0.0.0\",\n      \"resources\": {},\n      \"$schema\": \"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#\"\n    },\n    \"parameters\": {},\n    \"mode\": \"Incremental\"\n  }\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\n  \"id\": \"/subscriptions/a1bfa635-f2bf-42f1-86b5-848c674fc321/providers/Microsoft.Resources/deployments/ps1611\",\n  \"name\": \"ps1611\",\n  \"type\": \"Microsoft.Resources/deployments\",\n  \"location\": \"westus2\",\n  \"properties\": {\n    \"templateHash\": \"12898147683986343357\",\n    \"parameters\": {\n      \"yourName\": {\n        \"type\": \"String\",\n        \"value\": null\n      },\n      \"optionalCustomType\": {\n        \"type\": \"Object\",\n        \"value\": null\n      },\n      \"requiredNullableCustomType\": {\n        \"type\": \"Object\",\n        \"value\": null\n      },\n      \"optionalRequiredCustomType\": {\n        \"type\": \"Object\",\n        \"value\": null\n      },\n      \"param1\": {\n        \"type\": \"Array\",\n        \"value\": null\n      }\n    },\n    \"mode\": \"Incremental\",\n    \"provisioningState\": \"Succeeded\",\n    \"timestamp\": \"0001-01-01T00:00:00Z\",\n    \"duration\": \"PT0S\",\n    \"correlationId\": \"d9c06c89-542b-452a-8280-89270d55373f\",\n    \"providers\": [],\n    \"dependencies\": [],\n    \"validatedResources\": []\n  }\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a1bfa635-f2bf-42f1-86b5-848c674fc321/providers/Microsoft.Resources/deployments/ps1611?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\n  \"location\": \"West US 2\",\n  \"properties\": {\n    \"template\": {\n      \"definitions\": {\n        \"customType\": {\n          \"type\": \"object\",\n          \"prope[...]
    {
      "RequestUri": "/subscriptions/a1bfa635-f2bf-42f1-86b5-848c674fc321/providers/Microsoft.Resources/deployments/ps1611/operations?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\n  \"value\": []\n}",
      "StatusCode": 200
    },
[...]
