{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/da364f0f-307b-41c9-9d47-b7413ec45535/resourceGroups/pstestFSRG1bca8f8e/providers/Microsoft.RecoveryServices/vaults?api-version=2016-06-01",
=======
      "RequestUri": "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/pstestrg8895/providers/Microsoft.RecoveryServices/vaults/pstestrsv8895?api-version=2016-06-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "cdb4dcc1-f982-411c-9f01-2ce002e19d38-2018-10-12 11:58:13Z-P"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.3190.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17763",
          "Microsoft.Azure.Management.RecoveryServices.RecoveryServicesClient/4.2.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"southeastasia\",\r\n      \"name\": \"PSTestFSRSV1bca8f8e\",\r\n      \"etag\": \"W/\\\"datetime'2018-10-12T09%3A39%3A19.2619034Z'\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/da364f0f-307b-41c9-9d47-b7413ec45535/resourceGroups/pstestFSRG1bca8f8e/providers/Microsoft.RecoveryServices/vaults/PSTestFSRSV1bca8f8e\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"RS0\",\r\n        \"tier\": \"Standard\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ]
=======
          "3add8128-4b7a-48c6-89fd-0b2b9e921923-2020-12-21 16:43:29Z-P"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.RecoveryServices.RecoveryServicesClient/4.3.1.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "6f59e1b1-00f3-4b5f-81ec-051967303d03"
        ],
        "x-ms-client-request-id": [
          "cdb4dcc1-f982-411c-9f01-2ce002e19d38-2018-10-12 11:58:13Z-P"
=======
          "d130785d-c8ee-420e-a8f8-f5380694f956"
        ],
        "x-ms-client-request-id": [
          "3add8128-4b7a-48c6-89fd-0b2b9e921923-2020-12-21 16:43:29Z-P"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11818"
        ],
        "x-ms-correlation-request-id": [
          "6f59e1b1-00f3-4b5f-81ec-051967303d03"
        ],
        "x-ms-routing-request-id": [
          "SOUTHINDIA:20181012T115813Z:6f59e1b1-00f3-4b5f-81ec-051967303d03"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Fri, 12 Oct 2018 11:58:12 GMT"
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/da364f0f-307b-41c9-9d47-b7413ec45535/resourceGroups/pstestFSRG1bca8f8e/providers/Microsoft.RecoveryServices/vaults/PSTestFSRSV1bca8f8e/backupPolicies/newFilePolicy?api-version=2016-12-01",
=======
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "x-ms-correlation-request-id": [
          "d130785d-c8ee-420e-a8f8-f5380694f956"
        ],
        "x-ms-routing-request-id": [
          "CENTRALINDIA:20201221T164330Z:d130785d-c8ee-420e-a8f8-f5380694f956"
        ],
        "Date": [
          "Mon, 21 Dec 2020 16:43:29 GMT"
        ],
        "Content-Length": [
          "466"
        ],
        "Content-Type": [
          "application/json"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"southeastasia\",\r\n  \"name\": \"pstestrsv8895\",\r\n  \"etag\": \"W/\\\"datetime'2019-10-29T07%3A22%3A47.495853Z'\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"privateEndpointStateForBackup\": \"None\",\r\n    \"privateEndpointStateForSiteRecovery\": \"None\"\r\n  },\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/pstestrg8895/providers/Microsoft.RecoveryServices/vaults/pstestrsv8895\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n  \"sku\": {\r\n    \"name\": \"RS0\",\r\n    \"tier\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/pstestrg8895/providers/Microsoft.RecoveryServices/vaults/pstestrsv8895/backupPolicies/newFilePolicy?api-version=2020-10-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "d2d056bd-b387-49bd-af55-ec11d15516d3"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent"[...]
    {
      "RequestUri": "/Subscriptions/da364f0f-307b-41c9-9d47-b7413ec45535/resourceGroups/pstestFSRG1bca8f8e/providers/Microsoft.RecoveryServices/vaults/PSTestFSRSV1bca8f8e/backupPolicies/newFilePolicy?api-version=2016-12-01",
=======
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "149"
        ],
        "x-ms-correlation-request-id": [
          "09c73397-7140-443a-843f-d36441af876d"
        ],
        "x-ms-routing-request-id": [
          "CENTRALINDIA:20201221T164331Z:09c73397-7140-443a-843f-d36441af876d"
        ],
        "Date": [
          "Mon, 21 Dec 2020 16:43:31 GMT"
        ],
        "Content-Length": [
          "2"
        ],
        "Content-Type": [
          "application/json"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/Subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/pstestrg8895/providers/Microsoft.RecoveryServices/vaults/pstestrsv8895/backupPolicies/newFilePolicy?api-version=2020-10-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "3eec8397-cdf7-41aa-8b15-735b44f2b917"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.3190.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17763",
          "Microsoft.Azure.Management.RecoveryServices.Backup.RecoveryServicesBackupClient/3.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/da364f0f-307b-41c9-9d47-b7413ec45535/resourceGroups/pstestFSRG1bca8f8e/providers/Microsoft.RecoveryServices/vaults/PSTestFSRSV1bca8f8e/backupPolicies/newFilePolicy\",\r\n  \"name\": \"newFilePolicy\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/backupPolicies\",\r\n  \"properties\": {\r\n    \"backupManagementType\": \"AzureStorage\",\r\n    \"schedulePolicy\": {\r\n      \"schedulePolicyType\": \"SimpleSchedulePolicy\",\r\n      \"scheduleRunFrequency\": \"Daily\",\r\n      \"scheduleRunTimes\": [\r\n        \"2018-10-12T13:00:00Z\"\r\n      ],\r\n      \"scheduleWeeklyFrequency\": 0\r\n    },\r\n    \"retentionPolicy\": {\r\n      \"retentionPolicyType\": \"LongTermRetentionPolicy\",\r\n      \"dailySchedule\": {\r\n        \"retentionTimes\": [\r\n          \"2018-10-12T13:00:00Z\"\r\n        ],\r\n        \"retentionDuration\": {\r\n          \"count\": 30,\r\n          \"durationType\": \"Days\"\r\n        }\r\n      }\r\n    },\r\n    \"timeZone\": \"Utc\",\r\n    \"protectedItemsCount\": 0\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ]
=======
          "10901312-8722-4f51-8a0e-f43debf909ed"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19042.",
          "Microsoft.Azure.Management.RecoveryServices.Backup.RecoveryServicesBackupClient/4.1.3.0"
        ]
      },
     [...]
[...]
    {
      "RequestUri": "/Subscriptions/da364f0f-307b-41c9-9d47-b7413ec45535/resourceGroups/pstestFSRG1bca8f8e/providers/Microsoft.RecoveryServices/vaults/PSTestFSRSV1bca8f8e/backupPolicies/newFilePolicy?api-version=2016-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"backupManagementType\": \"AzureStorage\",\r\n    \"workLoadType\": \"AzureFileShare\",\r\n    \"schedulePolicy\": {\r\n      \"schedulePolicyType\": \"SimpleSchedulePolicy\",\r\n      \"scheduleRunFrequency\": \"Daily\",\r\n      \"scheduleRunTimes\": [\r\n        \"2018-10-12T13:00:00Z\"\r\n      ]\r\n    },\r\n    \"retentionPolicy\": {\r\n      \"retentionPolicyType\": \"LongTermRetentionPolicy\",\r\n      \"dailySchedule\": {\r\n        \"retentionTimes\": [\r\n          \"2018-10-12T13:00:00Z\"\r\n        ],\r\n        \"retentionDuration\": {\r\n        [...]
[...]
    {
      "RequestUri": "/Subscriptions/da364f0f-307b-41c9-9d47-b7413ec45535/resourceGroups/pstestFSRG1bca8f8e/providers/Microsoft.RecoveryServices/vaults/PSTestFSRSV1bca8f8e/backupPolicies?$filter=backupManagementType%20eq%20'AzureStorage'&api-version=2017-07-01",
=======
          "a3abb8e9-c8be-41b5-a625-c424b9ffebd1"
        ],
        "x-ms-routing-request-id": [
          "CENTRALINDIA:20201221T164339Z:a3abb8e9-c8be-41b5-a625-c424b9ffebd1"
        ],
        "Date": [
          "Mon, 21 Dec 2020 16:43:38 GMT"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/pstestrg8895/providers/Microsoft.RecoveryServices/vaults/pstestrsv8895/backupPolicies?$filter=backupManagementType%20eq%20'AzureStorage'&api-version=2020-10-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "b50b1043-b09c-4d5c-af37-0798405d334f"
        ],
        "accept-language": [
          "e[...]
