{
  "Get-AzDiscoveryWorkspacePrivateEndpointConnection+[NoContext]+List+$GET+https://management.azure.com/subscriptions/b7b46ea4-92fa-466d-9a33-c25506fc99ac/resourceGroups/pstest-discovery-uksouth/providers/Microsoft.Discovery/workspaces/pstest-ws-get01/privateEndpointConnections?api-version=2026-06-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/b7b46ea4-92fa-466d-9a33-c25506fc99ac/resourceGroups/pstest-discovery-uksouth/providers/Microsoft.Discovery/workspaces/pstest-ws-get01/privateEndpointConnections?api-version=2026-06-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "132" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/b7b46ea4-92fa-466d-9a33-c25506fc99ac/resourceGroups/pstest-discovery-uksouth/providers/Microsoft.Discovery/workspaces/pstest-ws-get01/privateEndpointConnections/pstest-ws-pe03.ab3f6c49-0768-4164-b052-e76579e2e276\",\"name\":\"pstest-ws-pe03.ab3f6c49-0768-4164-b052-e76579e2e276\",\"type\":\"microsoft.discovery/workspaces/privateEndpointConnections\",\"systemData\":{\"createdBy\":\"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\"createdByType\":\"Application\",\"createdAt\":\"2026-07-22T15:19:22.4059026Z\",\"lastModifiedBy\":\"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2026-07-22T15:19:22.4059026Z\"},\"properties\":{\"provisioningState\":\"Failed\",\"privateEndpoint\":{\"id\":\"/subscriptions/b7b46ea4-92fa-466d-9a33-c25506fc99ac/resourceGroups/pstest-discovery-uksouth/providers/Microsoft.Network/privateEndpoints/pstest-ws-pe03\"},\"groupIds\":[\"workspace\"],\"privateLinkServiceConnectionState\":{\"status\":\"Approved\"}}},{\"id\":\"/subscriptions/b7b46ea4-92fa-466d-9a33-c25506fc99ac/resourceGroups/pstest-discovery-uksouth/providers/Microsoft.Discovery/workspaces/pstest-ws-get01/privateEndpointConnections/pstest-ws-pe04.07dacb0e-6e9d-4b6b-baf8-6a08c27d45bf\",\"name\":\"pstest-ws-pe04.07dacb0e-6e9d-4b6b-baf8-6a08c27d45bf\",\"type\":\"microsoft.discovery/workspaces/privateEndpointConnections\",\"systemData\":{\"createdBy\":\"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\"createdByType\":\"Application\",\"c[...]
