{
  "Get-AzDataCollectionRule+[NoContext]+List1+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.Insights/dataCollectionRules?api-version=2022-06-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.Insights/dataCollectionRules?api-version=2022-06-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "13" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "api-supported-versions": [ "2019-11-01-preview, 2021-04-01, 2021-09-01-preview, 2022-06-01, 2023-03-11, 2024-03-11" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"immutableId\":\"dcr-969ff5578cfe412190f2df587f33ac67\",\"dataSources\":{\"performanceCounters\":[{\"streams\":[\"Microsoft-InsightsMetrics\"],\"samplingFrequencyInSeconds\":60,\"counterSpecifiers\":[\"\\\\Processor(_Total)\\\\% Processor Time\"],\"name\":\"perfCounter01\"},{\"streams\":[\"Microsoft-Perf\"],\"samplingFrequencyInSeconds\":15,\"counterSpecifiers\":[\"\\\\Processor(_Total)\\\\% Processor Time\",\"\\\\Memory\\\\Committed Bytes\",\"\\\\LogicalDisk(_Total)\\\\Free Megabytes\",\"\\\\PhysicalDisk(_Total)\\\\Avg. Disk Queue Length\"],\"name\":\"cloudTeamCoreCounters\"}]},\"destinations\":{\"azureMonitorMetrics\":{\"name\":\"azureMonitorMetrics-default\"}},\"dataFlows\":[{\"streams\":[\"Microsoft-InsightsMetrics\"],\"destinations\":[\"azureMonitorMetrics-default\"]}],\"provisioningState\":\"Succeeded\"},\"location\":\"eastus\",\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/AMCS-TEST/providers/Microsoft.Insights/dataCollectionRules/testCollectionRule1\",\"name\":\"testCollectionRule1\",\"type\":\"Microsoft.Insights/dataCollectionRules\",\"etag\":\"\\\"bc006f51-0000-0100-0000-67248d140000\\\"\",\"systemData\":{\"createdBy\":\"v-jinpel@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2024-11-01T08:11:00.202736Z\",\"lastModifiedBy\":\"v-jinpel@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2024-11-01T08:11:00.202736Z\"}},{\"properties\":{\"immutableId\":\"dcr-7a0baae696bb418bba4137bdf3183830\",\"dataSources\":{\"performanceCounters\":[{\"streams\":[\"Microsoft-Perf\"],\"samplingFrequencyInSeconds\":15,\"counterSpecifiers\":[\"\\\\\\\\Processor(_Total)\\\\\\\\% Processor Time\",\"\\\\\\\\Memory\\\\\\\\Committed Bytes\",\"\\\\\\\\LogicalDisk(_Total)\\\\\\\\Free Megabytes\",\"\\\\\\\\PhysicalDisk(_Total)\\\\\\\\Avg. Disk Queue Length\"],\"name\":\"cloudTeamCoreCounters\"},{\"streams\":[\"Microsoft-Perf\"],\"samplingFrequencyInSeconds\":30,\"counterSpecifiers\":[\"\\\\\\\\Process(_Total)\\\\\\\\Thread Count\"],\"name\":\"appTeamExtraCounters\"}],\"windowsEventLogs\":[{\"streams\":[\"Microsoft-WindowsEvent\"],\"xPathQueries\":[\"Security!*\"],\"name\":\"cloudSecurityTeamEvents\"},{\"streams\":[\"Microsoft-WindowsEvent\"],\"xPathQueries\":[\"System![System[(Level = 1 or Level = 2 or Level = 3)]]\",\"Application!*[System[(Level = 1 or Level = 2 or Level = 3)]]\"],\"name\":\"appTeam1AppEvents\"}],\"syslog\":[{\"streams\":[\"Microsoft-Syslog\"],\"facilityNames\":[\"cron\"],\"logLevels\":[\"Debug\",\"Critical\",\"Emergency\"],\"name\":\"cronSyslog\"},{\"streams\":[\"Microsoft-Syslog\"],\"facilityNames\":[\"syslog\"],\"logLevels\":[\"Alert\",\"Critical\",\"Emergency\"],\"name\":\"syslogBase\"}]},\"destinations\":{\"logAnalytics\":[{\"workspaceResourceId\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/AMCS-TEST2/providers/Microsoft.OperationalInsights/workspaces/amcs-logtest-ws\",\"workspaceId\":\"0f9bd0cf-4050-42c3-aaf5-2a7994eeca3c\",\"name\":\"centralWorkspace\"}]},\"dataFlows\":[{\"streams\":[\"Microsoft-Perf\",\"Microsoft-Syslog\"],\"destinations\":[\"centralWorkspace\"]}],\"provisioningState\":\"Succeeded\"},\"location\":\"eastus\",\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/AMCS-TEST2/providers/Microsoft.Insights/dataCollectionRules/testCollectionRule2\",\"name\":\"testCollectionRule2\",\"type\":\"Microsoft.Insights/dataCollectionRules\",\"etag\":\"\\\"bc008b51-0000-0100-0000-67248d180000\\\"\",\"systemData\":{\"createdBy\":\"v-jinpel@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2024-11-01T08:11:03.0737917Z\",\"lastModifiedBy\":\"v-jinpel@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2024-11-01T08:11:03.0737917Z\"}}],\"nextLink\":null}",
    }
  },
  "Get-AzDataCollectionRule+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/AMCS-TEST/providers/Microsoft.Insights/dataCollectionRules/testCollectionRule1?api-version=2022-06-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/AMCS-TEST/providers/Microsoft.Insights/dataCollectionRules/testCollection[...]
