{
  "New-AzDataCollectionRule+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/AMCS-TEST/providers/Microsoft.Insights/dataCollectionRules/testCollectionRule3?api-version=2022-06-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/AMCS-TEST/providers/Microsoft.Insights/dataCollectionRules/testCollectionRule3?api-version=2022-06-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"dataSources\": {\r\n      \"performanceCounters\": [\r\n        {\r\n          \"streams\": [ \"Microsoft-Perf\" ],\r\n          \"samplingFrequencyInSeconds\": 15,\r\n          \"counterSpecifiers\": [ \"\\\\\\\\Processor(_Total)\\\\\\\\% Processor Time\", \"\\\\\\\\Memory\\\\\\\\Committed Bytes\", \"\\\\\\\\LogicalDisk(_Total)\\\\\\\\Free Megabytes\", \"\\\\\\\\PhysicalDisk(_Total)\\\\\\\\Avg. Disk Queue Length\" ],\r\n          \"name\": \"cloudTeamCoreCounters\"\r\n        },\r\n        {\r\n          \"streams\": [ \"Microsoft-Perf\" ],\r\n          \"samplingFrequencyInSeconds\": 30,\r\n          \"counterSpecifiers\": [ \"\\\\\\\\Process(_Total)\\\\\\\\Thread Count\" ],\r\n          \"name\": \"appTeamExtraCounters\"\r\n        }\r\n      ],\r\n      \"windowsEventLogs\": [\r\n        {\r\n          \"streams\": [ \"Microsoft-WindowsEvent\" ],\r\n          \"xPathQueries\": [ \"System![System[(Level = 1 or Level = 2 or Level = 3)]]\", \"Application!*[System[(Level = 1 or Level = 2 or Level = 3)]]\" ],\r\n          \"name\": \"appTeam1AppEvents\"\r\n        }\r\n      ]\r\n    },\r\n    \"destinations\": {\r\n      \"azureMonitorMetrics\": {\r\n        \"name\": \"azureMonitorMetrics-default\"\r\n      }\r\n    },\r\n    \"dataFlows\": [\r\n      {\r\n        \"streams\": [ \"Microsoft-InsightsMetrics\" ],\r\n        \"destinations\": [ \"azureMonitorMetrics-default\" ]\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"eastus\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "147" ],
        "api-supported-versions": [ "2019-11-01-preview, 2021-04-01, 2021-09-01-preview, 2022-06-01, 2023-03-11" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"immutableId\":\"dcr-ef36b313319546dda041d68b91342651\",\"dataSources\":{\"performanceCounters\":[{\"streams\":[\"Microsoft-Perf\"],\"samplingFrequencyInSeconds\":15,\"counterSpecifiers\":[\"\\\\\\\\Processor(_Total)\\\\\\\\% Processor Time\",\"\\\\\\\\Memory\\\\\\\\Committed Bytes\",\"\\\\\\\\LogicalDisk(_Total)\\\\\\\\Free Megabytes\",\"\\\\\\\\PhysicalDisk(_Total)\\\\\\\\Avg. Disk Queue Length\"],\"name\":\"cloudTeamCoreCounters\"},{\"streams\":[\"Microsoft-Perf\"],\"samplingFrequencyInSeconds\":30,\"counterSpecifiers\":[\"\\\\\\\\Process(_Total)\\\\\\\\Thread Count\"],\"name\":\"appTeamExtraCounters\"}],\"windowsEventLogs\":[{\"streams\":[\"Microsoft-WindowsEvent\"],\"xPathQueries\":[\"System![System[(Level = 1 or Level = 2 or Level = 3)]]\",\"Application!*[System[(Level = 1 or Level = 2 or Level = 3)]]\"],\"name\":\"appTeam1AppEvents\"}]},\"destinations\":{\"azureMonitorMetrics\":{\"name\":\"azureMonitorMetrics-default\"}},\"dataFlows\":[{\"streams\":[\"Microsoft-InsightsMetrics\"],\"destinations\":[\"azureMonitorMetrics-default\"]}],\"provisioningState\":\"Succeeded\"},\"location\":\"eastus\",\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/AMCS-TEST/providers/Microsoft.Insights/dataCollectionRules/testCollectionRule3\",\"name\":\"testCollectionRule3\",\"type\":\"Microsoft.Insights/dataCollectionRules\",\"etag\":\"\\\"750141f1-0000-0100-0000-6524f4c60000\\\"\",\"systemData\":{\"createdBy\":\"v-jiaji@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-10-10T06:52:54.6695465Z\",\"lastModifiedBy\":\"v-jiaji@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-10-10T06:52:54.6695465Z\"}}",
    }
  },
  "New-AzDataCollectionRule+[NoContext]+CreateViaJsonFilePath+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/AMCS-TEST/providers/Microsoft.Insights/dataCollectionRules/testCollectionRule4?api-version=2022-06-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/AMCS-TEST/providers/Micros[...]
