{
  "Update-AzDataCollectionRule+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/AMCS-TEST/providers/Microsoft.Insights/dataCollectionRules/testCollectionRule1?api-version=2022-06-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/AMCS-TEST/providers/Microsoft.Insights/dataCollectionRules/testCollectionRule1?api-version=2022-06-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "33" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "api-supported-versions": [ "2019-11-01-preview, 2021-04-01, 2021-09-01-preview, 2022-06-01, 2023-03-11, 2024-03-11" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"immutableId\":\"dcr-969ff5578cfe412190f2df587f33ac67\",\"dataSources\":{\"performanceCounters\":[{\"streams\":[\"Microsoft-InsightsMetrics\"],\"samplingFrequencyInSeconds\":60,\"counterSpecifiers\":[\"\\\\Processor(_Total)\\\\% Processor Time\"],\"name\":\"perfCounter01\"},{\"streams\":[\"Microsoft-Perf\"],\"samplingFrequencyInSeconds\":15,\"counterSpecifiers\":[\"\\\\Processor(_Total)\\\\% Processor Time\",\"\\\\Memory\\\\Committed Bytes\",\"\\\\LogicalDisk(_Total)\\\\Free Megabytes\",\"\\\\PhysicalDisk(_Total)\\\\Avg. Disk Queue Length\"],\"name\":\"cloudTeamCoreCounters\"}]},\"destinations\":{\"azureMonitorMetrics\":{\"name\":\"azureMonitorMetrics-default\"}},\"dataFlows\":[{\"streams\":[\"Microsoft-InsightsMetrics\"],\"destinations\":[\"azureMonitorMetrics-default\"]}],\"provisioningState\":\"Succeeded\"},\"location\":\"eastus\",\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/AMCS-TEST/providers/Microsoft.Insights/dataCollectionRules/testCollectionRule1\",\"name\":\"testCollectionRule1\",\"type\":\"Microsoft.Insights/dataCollectionRules\",\"etag\":\"\\\"bc006f51-0000-0100-0000-67248d140000\\\"\",\"systemData\":{\"createdBy\":\"v-jinpel@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2024-11-01T08:11:00.202736Z\",\"lastModifiedBy\":\"v-jinpel@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2024-11-01T08:11:00.202736Z\"}}",
    }
  },
  "Update-AzDataCollectionRule+[NoContext]+UpdateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/AMCS-TEST/providers/Microsoft.Insights/dataCollectionRules/testCollectionRule1?api-version=2022-06-01+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/AMCS-TEST/providers/Microsoft.Insights/dataCollectionRules/testCollectionRule1?api-version=2022-06-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"dataSources\": {\r\n      \"performanceCounters\": [\r\n        {\r\n          \"streams\": [ \"Microsoft-InsightsMetrics\" ],\r\n          \"samplingFrequencyInSeconds\": 60,\r\n          \"counterSpecifiers\": [ \"\\\\Processor(_Total)\\\\% Processor Time\" ],\r\n          \"name\": \"perfCounter01\"\r\n        },\r\n        {\r\n          \"streams\": [ \"Microsoft-Perf\" ],\r\n          \"samplingFrequencyInSeconds\": 15,\r\n          \"counterSpecifiers\": [ \"\\\\Processor(_Total)\\\\% Processor Time\", \"\\\\Memory\\\\Committed Bytes\", \"\\\\LogicalDisk(_Total)\\\\Free Megabytes\", \"\\\\PhysicalDisk(_Total)\\\\Avg. Disk Queue Length\" ],\r\n          \"name\": \"cloudTeamCoreCounters\"\r\n        }\r\n      ],\r\n      \"syslog\": [\r\n        {\r\n          \"streams\": [ \"Microsoft-Syslog\" ],\r\n          \"facilityNames\": [ \"syslog\" ],\r\n          \"logLevels\": [ \"Alert\", \"Critical\", \"Emergency\" ],\r\n          \"name\": \"syslogBase\"\r\n        }\r\n      ]\r\n    },\r\n    \"destinations\": {\r\n      \"azureMonitorMetrics\": {\r\n        \"name\": \"azureMonitorMetrics-default\"\r\n      }\r\n    },\r\n    \"dataFlows\": [\r\n      {\r\n        \"streams\": [ \"Microsoft-InsightsMetrics\" ],\r\n        \"destinations\": [ \"azureMonitorMetrics-default\" ]\r\n      }\r\n    ]\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"None\"\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"123\": \"abc\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "148" ],
        "api-supported-versions": [ "2019-11-01-preview, 2021-04-01, 2021-09-01-preview, 2022-06-01, 2023-03-11, 2024-03-11" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/js[...]
