<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.KeyVault" version="3.0.0-alpha" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault.WebKey" version="3.0.0-alpha" targetFramework="net452" />
  <package id="Microsoft.Azure.Management.Compute" version="18.0.0" targetFramework="net452" />
  <package id="Microsoft.Azure.Management.KeyVault" version="2.4.1-alpha" targetFramework="net452" />
  <package id="Microsoft.Azure.Management.Network" version="15.1.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.Management.ResourceManager" version="1.6.0-preview" targetFramework="net452" />
  <package id="Microsoft.Azure.Management.ServiceFabric" version="1.0.0-preview" targetFramework="net45" />
  <package id="Microsoft.Azure.Management.Storage" version="6.5.0-preview" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
</packages>