{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/dc-cmdlet-test-rgps4050?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourcegroups/dc-cmdlet-test-rgps2326?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "2b17bc02-8e24-45ce-89f3-77088bf787e1"
=======
          "35d4e6d6-d49a-421b-9c64-12a3bc1b867b"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.1.17"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.29"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "37"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "3b988549-171c-4546-b99f-11b08b551cd6"
        ],
        "x-ms-correlation-request-id": [
          "3b988549-171c-4546-b99f-11b08b551cd6"
        ],
        "x-ms-routing-request-id": [
          "UKWEST:20190305T171543Z:3b988549-171c-4546-b99f-11b08b551cd6"
=======
          "b2e95d78-9cee-441f-b11e-858f81b00d8d"
        ],
        "x-ms-correlation-request-id": [
          "b2e95d78-9cee-441f-b11e-858f81b00d8d"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20201117T203204Z:b2e95d78-9cee-441f-b11e-858f81b00d8d"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 05 Mar 2019 17:15:43 GMT"
=======
          "Tue, 17 Nov 2020 20:32:03 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Length": [
          "206"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050\",\r\n  \"name\": \"dc-cmdlet-test-rgps4050\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps2326\",\r\n  \"name\": \"dc-cmdlet-test-rgps2326\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps2326/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2326?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "50a9b961-7f96-48f1-9516-eea4709a116e"
=======
          "37662e6c-8e70-4844-9268-a080a7eddb12"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.28.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.46.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "e799501b-abce-4b73-9bdd-645555e33580"
        ],
        "x-ms-correlation-request-id": [
          "e799501b-abce-4b73-9bdd-645555e33580"
        ],
        "x-ms-routing-request-id": [
          "UKWEST:20190305T171543Z:e799501b-abce-4b73-9bdd-645555e33580"
=======
          "4c6db414-dda5-4d06-851c-cbfc4178fdaf"
        ],
        "x-ms-correlation-request-id": [
          "4c6db414-dda5-4d06-851c-cbfc4178fdaf"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20201117T203204Z:4c6db414-dda5-4d06-851c-cbfc4178fdaf"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 05 Mar 2019 17:15:43 GMT"
=======
          "Tue, 17 Nov 2020 20:32:03 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "171"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/dc-cmdlet-serverps4050' under resource group 'dc-cmdlet-test-rgps4050' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps2326/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2326?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.28.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.46.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "ec3a7276-362f-4f04-bdd3-c7e87fcab6ca"
=======
          "5bf8edd3-ae8b-4927-9692-a521cf9a1c2b"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11980"
        ],
        "x-ms-correlation-request-id": [
          "8942f749-6122-401b-9abf-0c1aad33ea6c"
        ],
        "x-ms-routing-request-id": [
          "UKWEST:20190305T171632Z:8942f749-6122-401b-9abf-0c1aad33ea6c"
=======
          "11991"
        ],
        "x-ms-correlation-request-id": [
          "837de172-7c07-407c-9e92-39c7ffa53289"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20201117T203311Z:837de172-7c07-407c-9e92-39c7ffa53289"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 05 Mar 2019 17:16:32 GMT"
        ],
        "Content-Length": [
          "413"
=======
          "Tue, 17 Nov 2020 20:33:11 GMT"
        ],
        "Content-Length": [
          "477"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testlogin\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"dc-cmdlet-serverps4050.database.windows.net\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050\",\r\n  \"name\": \"dc-cmdlet-serverps4050\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testlogin\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"dc-cmdlet-serverps2326.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps2326/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2326\",\r\n  \"name\": \"dc-cmdlet-serverps2326\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps2326/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2326?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testlogin\",\r\n    \"administratorLoginPassword\": \"testp@ssMakingIt1007Longer\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "57860ceb-092e-469f-8bb4-7153d95e08fa"
=======
          "8251c71c-a2db-420c-9866-86a535a3fb16"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.28.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.46.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "190"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/194b42dc-d104-4eb3-9427-087f060964ca?api-version=2015-05-01-preview"
=======
          "https://management.azure.com/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps2326/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/0561136a-276c-4d91-80a9-78b3b6b86b49?api-version=2019-06-01-preview"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/194b42dc-d104-4eb3-9427-087f060964ca?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "194b42dc-d104-4eb3-9427-087f060964ca"
=======
          "https://management.azure.com/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps2326/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/0561136a-276c-4d91-80a9-78b3b6b86b49?api-version=2019-06-01-preview"
        ],
        "x-ms-request-id": [
          "0561136a-276c-4d91-80a9-78b3b6b86b49"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Server": [...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/194b42dc-d104-4eb3-9427-087f060964ca?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-11-17T20:32:06.037Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/194b42dc-d104-4eb3-9427-087f060964ca?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"0561136a-276c-4d91-80a9-78b3b6b86b49\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-11-17T20:32:06.037Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050/firewallRules/dcRule?api-version=2014-04-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"0561136a-276c-4d91-80a9-78b3b6b86b49\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-11-17T20:32:06.037Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps2326/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2326/firewallRules/dcRule?api-version=2014-04-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "Microsoft.Azure.Management.Sql.LegacySdk.SqlManagementClient/1.0.0.0"
=======
          "Microsoft.Azure.Management.Sql.LegacySdk.SqlManagementClient/2.12.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "5c1fa09c-bf05-4618-90b5-a4b5f6e0a712"
=======
          "3d9fef93-8018-4379-8e08-9b3dda9e9912"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11998"
        ],
        "x-ms-correlation-request-id": [
          "5821fc28-1572-4057-ad5a-6c1889b234fd"
        ],
        "x-ms-routing-request-id": [
          "UKWEST:20190305T171633Z:5821fc28-1572-4057-ad5a-6c1889b234fd"
        ],
        "Date": [
          "Tue, 05 Mar 2019 17:16:33 GMT"
=======
          "11999"
        ],
        "x-ms-correlation-request-id": [
          "fe205513-471a-4946-9243-68095cb2c183"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20201117T203311Z:fe205513-471a-4946-9243-68095cb2c183"
        ],
        "Date": [
          "Tue, 17 Nov 2020 20:33:11 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Length": [
          "136"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"NotFound\",\r\n  \"message\": \"Resource not found for the segment 'firewallRules'.\",\r\n  \"target\": null,\r\n  \"details\": [],\r\n  \"innererror\": []\r\n}",
      "StatusCode": 404
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050/firewallRules/dcRule?api-version=2014-04-01",
=======
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps2326/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2326/firewallRules/dcRule?api-version=2014-04-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"startIpAddress\": \"0.0.0.0\",\r\n    \"endIpAddress\": \"255.255.255.255\"\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "Microsoft.Azure.Management.Sql.LegacySdk.SqlManagementClient/1.0.0.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "101"
=======
          "Microsoft.Azure.Management.Sql.LegacySdk.SqlManagementClient/2.12.0.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "101"
        ]
      },
      "ResponseHeaders": {
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps2326/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2326/firewallRules/dcRule\",\r\n  \"name\": \"dcRule\",\r\n  \"type\": \"Microsoft.Sql/servers/firewallRules\",\r\n  \"location\": \"West Central US\",\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"startIpAddress\": \"0.0.0.0\",\r\n    \"endIpAddress\": \"255.255.255.255\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps2326/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2326/securityAlertPolicies/Default?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"state\": \"Disabled\",\r\n    \"disabledAlerts\": [\r\n      \"\"\r\n    ],\r\n    \"emailAddresses\": [\r\n      \"\"\r\n    ],\r\n    \"emailAccountAdmins\": false,\r\n    \"storageEndpoint\": \"\",\r\n    \"storageAccountAccessKey\": \"\",\r\n    \"retentionDays\": 0,\r\n    \"creationTime\": \"0001-01-01T00:00:00Z\"\r\n  },\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps2326/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2326/securityAlertPolicies/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/securityAlertPolicies\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/providers/Microsoft.Sql/locations/westcentralus/securityAlertPoliciesAzureAsyncOperation/f3929ce1-937b-4cd5-b746-6e99d5a7eb60?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "no-store, no-cache"
        ],
        "x-ms-request-id": [
          "69c7a27b-9ed1-4b18-9723-14108fcbbf1e"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
=======
          "no-cache"
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
          "0419274e-8c74-46d7-8d35-c375c0e69aae"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-ms-correlation-request-id": [
          "876ee938-e63e-4301-bbb1-3af0aeb86ce3"
        ],
        "x-ms-routing-request-id": [
          "UKWEST:20190305T171634Z:876ee938-e63e-4301-bbb1-3af0aeb86ce3"
        ],
        "Date": [
          "Tue, 05 Mar 2019 17:16:34 GMT"
        ],
        "Content-Length": [
          "355"
        ],
        "Content-Type": [
          "application/json; odata=minimalmetadata; streaming=true; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050/firewallRules/dcRule\",\r\n  \"name\": \"dcRule\",\r\n  \"type\": \"Microsoft.Sql/servers/firewallRules\",\r\n  \"location\": \"West Central US\",\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"startIpAddress\": \"0.0.0.0\",\r\n    \"endIpAddress\": \"255.255.255.255\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050/databases/dc-cmdlet-dbps4050?api-version=2017-10-01-preview",
=======
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "x-ms-correlation-request-id": [
          "8e7d2870-a7a9-4447-90f9-5f4b34d7f6a6"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20201117T203317Z:8e7d2870-a7a9-4447-90f9-5f4b34d7f6a6"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
          "Tue, 17 Nov 2020 20:33:17 GMT"
        ],
        "Content-Length": [
          "107"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"f3929ce1-937b-4cd5-b746-6e99d5a7eb60\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-11-17T20:33:14.257Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050/databases/dc-cmdlet-dbps4050?api-version=2017-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"maxSizeBytes\": 0,\r\n    \"readScale\": \"Disabled\"\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 2\r\n  },\r\n  \"kind\": \"v12.0,user,vcore\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 34359738368,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"2b477613-c759-4181-a733-3bcda5a2144a\",\r\n    \"creationDate\": \"2020-11-17T20:34:06.693Z\",\r\n    \"currentServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"requestedServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"maxLogSizeBytes\": 10307921510,\r\n    \"earliestRestoreDate\": \"2020-11-17T21:04:06.693Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"currentSku\": {\r\n      \"name\": \"GP_Gen5\",\r\n      \"tier\": \"GeneralPurpose\",\r\n      \"family\": \"Gen5\",\r\n      \"capacity\": 2\r\n    },\r\n    \"storageAccountType\": \"GRS\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps2326/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2326/databases/dc-cmdlet-dbps2326\",\r\n  \"name\": \"dc-cmdlet-dbps2326\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/77ca2ef5-2343-4483-bcb2-e010338dd361?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2020-11-17T20:33:18.977Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050/databases/dc-cmdlet-dbps4050/recommendedSensitivityLabels?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"598bcd1e-0221-4525-b8c2-0e392fbe4e8c\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-11-17T20:33:18.977Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050/databases/dc-cmdlet-dbps4050/schemas/dbo/tables/Persons/columns/Address/sensitivityLabels/current?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"598bcd1e-0221-4525-b8c2-0e392fbe4e8c\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-11-17T20:33:18.977Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps4050/providers/Microsoft.Sql/servers/dc-cmdlet-serverps4050/databases/dc-cmdlet-dbps4050/schemas/dbo/tables/Persons/columns/Address/sensitivityLabels/current?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"managedBy\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps2326/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2326/databases/dc-cmdlet-dbps2326\",\r\n      \"properties\": {\r\n        \"schemaName\": \"dbo\",\r\n        \"tableName\": \"Persons\",\r\n        \"columnName\": \"LastName\",\r\n        \"labelName\": \"Confidential - GDPR\",\r\n        \"labelId\": \"bf91e08c-f4f0-478a-b016-25164b2a65ff\",\r\n        \"informationType\": \"Name\",\r\n        \"informationTypeId\": \"57845286-7598-22f5-9659-15b24aeb125e\",\r\n        \"isDisabled\": false,\r\n        \"rank\": \"Medium\"\r\n      },\r\n      \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps2326/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2326/databases/dc-cmdlet-dbps2326/schemas/dbo/tables/Persons/columns/LastName/sensitivityLabels/recommended\",\r\n      \"name\": \"recommended\",\r\n      \"type\": \"Microsoft.Sql/servers/databases/sensitivityLabels\"\r\n    },\r\n    {\r\n      \"managedBy\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps2326/providers/Microsoft.Sql/servers/dc-cmdlet-serverps2326/databases/dc-cmdlet-dbps2326/schemas/dbo/tables/Persons/columns/LastName/sensitivityLabels/current?api-version=2017-03-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "af4f67da-1f00-4e8b-abe1-b49a64e68fae"
===[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1EQzoyRENNRExFVDoyRFRFU1Q6MkRSR1BTNDA1MC1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/o[...]
[...]
