{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/dc-cmdlet-test-rgps5341?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourcegroups/dc-cmdlet-test-rgps9946?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "53cf2648-43d2-4697-98bc-9ce601e705f9"
=======
          "49c32ca4-98db-4678-9049-7bd75a067052"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.1.17"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.29"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "37"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "336be077-77f8-4d04-af9a-dfc7e771b43d"
        ],
        "x-ms-correlation-request-id": [
          "336be077-77f8-4d04-af9a-dfc7e771b43d"
        ],
        "x-ms-routing-request-id": [
          "UKWEST:20190305T171014Z:336be077-77f8-4d04-af9a-dfc7e771b43d"
=======
          "fb597e30-a3a0-417d-8418-70f5d9f755f4"
        ],
        "x-ms-correlation-request-id": [
          "fb597e30-a3a0-417d-8418-70f5d9f755f4"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20201117T202305Z:fb597e30-a3a0-417d-8418-70f5d9f755f4"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 05 Mar 2019 17:10:13 GMT"
=======
          "Tue, 17 Nov 2020 20:23:05 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Length": [
          "206"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341\",\r\n  \"name\": \"dc-cmdlet-test-rgps5341\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5341?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps9946\",\r\n  \"name\": \"dc-cmdlet-test-rgps9946\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps9946/providers/Microsoft.Sql/servers/dc-cmdlet-serverps9946?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "2e4c168b-c11d-4020-baf0-0748558a8803"
=======
          "9eb4f475-2cf3-47ce-a7bd-1b23515f2954"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.28.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.46.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "e4c8d889-8176-48fe-9dc1-46ed83c1a979"
        ],
        "x-ms-correlation-request-id": [
          "e4c8d889-8176-48fe-9dc1-46ed83c1a979"
        ],
        "x-ms-routing-request-id": [
          "UKWEST:20190305T171015Z:e4c8d889-8176-48fe-9dc1-46ed83c1a979"
=======
          "3003808e-d00c-46bd-9af1-856d66ae243e"
        ],
        "x-ms-correlation-request-id": [
          "3003808e-d00c-46bd-9af1-856d66ae243e"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20201117T202306Z:3003808e-d00c-46bd-9af1-856d66ae243e"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 05 Mar 2019 17:10:15 GMT"
=======
          "Tue, 17 Nov 2020 20:23:05 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "171"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/dc-cmdlet-serverps5341' under resource group 'dc-cmdlet-test-rgps5341' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps9946/providers/Microsoft.Sql/servers/dc-cmdlet-serverps9946?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.28.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.46.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "a59e67cd-461c-4b4a-bddc-315720996d35"
=======
          "1aee4bf6-30cf-4d15-8911-1d2cd3b8a8a2"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11984"
        ],
        "x-ms-correlation-request-id": [
          "a9a5b644-ea17-401c-b963-b96eef877ed6"
        ],
        "x-ms-routing-request-id": [
          "UKWEST:20190305T171104Z:a9a5b644-ea17-401c-b963-b96eef877ed6"
=======
          "11990"
        ],
        "x-ms-correlation-request-id": [
          "9eadd7d5-5a24-45f1-859c-1cd6f4ad2536"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20201117T202412Z:9eadd7d5-5a24-45f1-859c-1cd6f4ad2536"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 05 Mar 2019 17:11:04 GMT"
        ],
        "Content-Length": [
          "413"
=======
          "Tue, 17 Nov 2020 20:24:11 GMT"
        ],
        "Content-Length": [
          "477"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testlogin\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"dc-cmdlet-serverps5341.database.windows.net\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5341\",\r\n  \"name\": \"dc-cmdlet-serverps5341\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5341?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testlogin\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"dc-cmdlet-serverps9946.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps9946/providers/Microsoft.Sql/servers/dc-cmdlet-serverps9946\",\r\n  \"name\": \"dc-cmdlet-serverps9946\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5341?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testlogin\",\r\n    \"administratorLoginPassword\": \"testp@ssMakingIt1007Longer\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testlogin\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"dc-cmdlet-serverps9946.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps9946/providers/Microsoft.Sql/servers/dc-cmdlet-serverps9946\",\r\n  \"name\": \"dc-cmdlet-serverps9946\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps9946/providers/Microsoft.Sql/servers/dc-cmdlet-serverps9946?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.28.0.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "190"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.46.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Location": [
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/d26672eb-9a2c-4359-9949-ed40b9d04f3a?api-version=2015-05-01-preview"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/d26672eb-9a2c-4359-9949-ed40b9d04f3a?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "d26672eb-9a2c-4359-9949-ed40b9d04f3a"
=======
        "x-ms-request-id": [
          "22fa5222-dc87-49d4-89cb-6235a758d6d3"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
          "aafb84e7-6c74-43f9-8656-6b9c53e89467"
        ],
        "x-ms-routing-request-id": [
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/d26672eb-9a2c-4359-9949-ed40b9d04f3a?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testlogin\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"dc-cmdlet-serverps9946.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps9946/providers/Microsoft.Sql/servers/dc-cmdlet-serverps9946\",\r\n  \"name\": \"dc-cmdlet-serverps9946\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/d26672eb-9a2c-4359-9949-ed40b9d04f3a?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-11-17T20:23:06.997Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/d26672eb-9a2c-4359-9949-ed40b9d04f3a?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"4ce56b81-77b1-4562-91e4-f2ac83eb7f62\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-11-17T20:23:06.997Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5341/firewallRules/dcRule?api-version=2014-04-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"4ce56b81-77b1-4562-91e4-f2ac83eb7f62\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-11-17T20:23:06.997Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps9946/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/4ce56b81-77b1-4562-91e4-f2ac83eb7f62?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "Microsoft.Azure.Management.Sql.LegacySdk.SqlManagementClient/1.0.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.46.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "no-store, no-cache"
        ],
        "x-ms-request-id": [
          "fb478753-f953-4670-9575-ef70a89b315c"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
=======
          "no-cache"
        ],
        "Pragma": [
          "no-cache"
        ],
        "Retry-After": [
          "1"
        ],
        "x-ms-request-id": [
          "bd76fbbb-1bc9-4450-80ea-5e76250bdc12"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11982"
        ],
        "x-ms-correlation-request-id": [
          "281bb7f0-50cd-4fa4-a061-180430f58704"
        ],
        "x-ms-routing-request-id": [
          "UKWEST:20190305T171105Z:281bb7f0-50cd-4fa4-a061-180430f58704"
        ],
        "Date": [
          "Tue, 05 Mar 2019 17:11:04 GMT"
        ],
        "Content-Length": [
          "136"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"NotFound\",\r\n  \"message\": \"Resource not found for the segment 'firewallRules'.\",\r\n  \"target\": null,\r\n  \"details\": [],\r\n  \"innererror\": []\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5341/firewallRules/dcRule?api-version=2014-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"startIpAddress\": \"0.0.0.0\",\r\n    \"endIpAddress\": \"255.255.255.255\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "11995"
        ],
        "x-ms-correlation-request-id": [
          "228ddc16-e38b-4131-90d6-c9921a93fd46"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20201117T202311Z:228ddc16-e38b-4131-90d6-c9921a93fd46"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
          "Tue, 17 Nov 2020 20:23:11 GMT"
        ],
        "Content-Length": [
          "108"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"4ce56b81-77b1-4562-91e4-f2ac83eb7f62\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-11-17T20:23:06.997Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps9946/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/4ce56b81-77b1-4562-91e4-f2ac83eb7f62?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "no-store, no-cache"
        ],
        "x-ms-request-id": [
          "bc9e4c2a-2c78-4699-ab0c-ce938d91de7d"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Preference-Applied": [
          "return-content"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
=======
          "no-cache"
        ],
        "Pragma": [
          "no-cache"
        ],
        "Retry-After": [
          "20"
        ],
        "x-ms-request-id": [
          "facb9401-1bfb-4783-bbb1-8e99f36753c4"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Server": [
          "[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5341/databases/dc-cmdlet-dbps5341?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ],
        "x-ms-correlation-request-id": [
          "8445ecb9-2590-4805-b68d-2fb18f3d19d5"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20201117T202312Z:8445ecb9-2590-4805-b68d-2fb18f3d19d5"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
          "Tue, 17 Nov 2020 20:23:12 GMT"
        ],
        "Content-Length": [
          "108"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"4ce56b81-77b1-4562-91e4-f2ac83eb7f62\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-11-17T20:23:06.997Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps9946/providers/Microsoft.Sql/servers/dc-cmdlet-serverps9946/securityAlertPolicies/Default?api-version=2017-03-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "388999c8-3500-4cbc-ae25-8e2c15627492"
=======
          "897a800c-5b40-4670-a215-3472c77970cd"
>>>>>>> d78b04a[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5341/databases/dc-cmdlet-dbps5341?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"state\": \"Disabled\",\r\n    \"disabledAlerts\": [\r\n      \"\"\r\n    ],\r\n    \"emailAddresses\": [\r\n      \"\"\r\n    ],\r\n    \"emailAccountAdmins\": false,\r\n    \"storageEndpoint\": \"\",\r\n    \"storageAccountAccessKey\": \"\",\r\n    \"retentionDays\": 0,\r\n    \"creationTime\": \"0001-01-01T00:00:00Z\"\r\n  },\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps9946/providers/Microsoft.Sql/servers/dc-cmdlet-serverps9946/securityAlertPolicies/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/securityAlertPolicies\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/providers/Microsoft.Sql/locations/westcentralus/securityAlertPoliciesAzureAsyncOperation/c0157e96-47d3-41da-8964-69e66eaec309?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "9cfc14f3-0708-44fa-ba51-fca0323ae40f"
=======
          "159f6[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5341/databases/dc-cmdlet-dbps5341?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 2\r\n  },\r\n  \"kind\": \"v12.0,user,vcore\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 34359738368,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"50fb2c68-d8c0-4470-a11d-3c05fa867cf4\",\r\n    \"creationDate\": \"2020-11-17T20:24:58.073Z\",\r\n    \"currentServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"requestedServiceObjectiveName\": \"GP_Gen5_2\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"maxLogSizeBytes\": 10307921510,\r\n    \"earliestRestoreDate\": \"2020-11-17T20:54:58.073Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"currentSku\": {\r\n      \"name\": \"GP_Gen5\",\r\n      \"tier\": \"GeneralPurpose\",\r\n      \"family\": \"Gen5\",\r\n      \"capacity\": 2\r\n    },\r\n    \"storageAccountType\": \"GRS\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/dc-cmdlet-test-rgps9946/providers/Microsoft.Sql/servers/dc-cmdlet-serverps9946/databases/dc-cmdlet-dbps9946\",\r\n  \"name\": \"dc-cmdlet-dbps9946\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/5ef63a2c-d15f-403e-a4ac-e671b8265182?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"c[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5341/databases/dc-cmdlet-dbps5341/recommendedSensitivityLabels?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 2\r\n  },\r\n  \"kind\": \"v12.0,user,vcore\",\r\n  \"properties\": {\[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5341/databases/dc-cmdlet-dbps5341/schemas/dbo/tables/Persons/columns/Address/sensitivityLabels/current?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2020-11-17T20:24:19.357Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5341/databases/dc-cmdlet-dbps5341/schemas/dbo/tables/Persons/columns/Address/sensitivityLabels/current?api-version=2017-03-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"labelName\": \"Confidential\",\r\n    \"labelId\": \"331f0b13-76b5-2f1b-a77b-def5a73c73c2\",\r\n    \"informationType\": \"Contact Info\",\r\n    \"informationTypeId\": \"5c503e21-22c6-81fa-620b-f369b8ec38d1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
      "ResponseBody": "{\r\n  \"name\": \"6f0fde0f-bbe0-4842-8f85-2442a1f466e4\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-11-17T20:24:19.357Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5341/databases/dc-cmdlet-dbps5341/schemas/dbo/tables/Persons/columns/City/sensitivityLabels/current?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"6f0fde0f-bbe0-4842-8f85-2442a1f466e4\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-11-17T20:24:19.357Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/dc-cmdlet-test-rgps5341/providers/Microsoft.Sql/servers/dc-cmdlet-serverps5341/databases/dc-cmdlet-dbps5341/schemas/dbo/tables/Persons/columns/City/sensitivityLabels/current?api-version=2017-03-01-preview",
=======
[...]
