{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.RecoveryServices/vaults?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"centralus\",\r\n      \"name\": \"vijami-mig-proj2e89rsvault\",\r\n      \"etag\": \"W/\\\"datetime'2020-03-03T09%3A01%3A09.90723Z'\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"privateEndpointStateForBackup\": \"None\",\r\n        \"privateEndpointStateForSiteRecovery\": \"None\"\r\n      },\r\n      \"id\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.RecoveryServices/vaults/vijami-mig-proj2e89rsvault\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"RS0\",\r\n        \"tier\": \"Standard\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.RecoveryServices/vaults/vijami-mig-proj2e89rsvault/replicationFabrics?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1585831329427)\\/\",\"NotAfterTimestamp\":\"\\/Date(1586436129427)\\/\",\"ClientRequestId\":\"9a1d8b4f-9e40-4b99-86fd-eb4e3b33c6df-2020-04-02 13:42:09Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"ECNRPs3vrmAVnHVBt7PzZEMClkOa8/rUZ6o/9TLZlpY=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11956"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"vijamiMig-lat29ddreplicationfabric\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationFabrics\",\r\n      \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.RecoveryServices/vaults/vijami-mig-proj2e89rsvault/replicationFabrics/vijamiMig-lat29ddreplicationfabric\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"vijamiMig-lat29ddreplicationfabric\",\r\n        \"encryptionDetails\": {\r\n          \"kekState\": \"None\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"rolloverEncryptionDetails\": {\r\n          \"kekState\": \"None\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"internalIdentifier\": \"ad2d3055-6dfe-5445-8d85-7acbeb6f3952\",\r\n        \"bcdrState\": \"Valid\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"VMwareV2\",\r\n          \"vmwareSiteId\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.OffAzure/VMwareSites/vijamiMig-lat29ddsite\",\r\n          \"physicalSiteId\": null,\r\n          \"migrationSolutionId\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.Migrate/MigrateProjects/vijami-mig-proj/Solutions/Servers-Migration-ServerMigration\",\r\n          \"srsServiceEndpoint\": \"https://pod01-srs1.cus.hypervrecoverymanager.windowsazure.com\",\r\n          \"serviceEndpoint\": \"https://pod01-srs1.cus.hypervrecoverymanager.windowsazure.com\",\r\n          \"serviceResourceId\": \"70701616594027520\",\r\n          \"serviceContainerId\": \"26079271263094\",\r\n          \"processServers\": []\r\n        },\r\n        \"healthErrorDetails\": [],\r\n        \"health\": \"Normal\"\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.RecoveryServices/vaults/vijami-mig-proj2e89rsvault/replicationFabrics/vijamiMig-lat29ddreplicationfabric?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1585831329987)\\/\",\"NotAfterTimestamp\":\"\\/Date(1586436129987)\\/\",\"ClientReques[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.RecoveryServices/vaults/vijami-mig-proj2e89rsvault/replicationFabrics/vijamiMig-lat29ddreplicationfabric/replicationProtectionContainers?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1585831330744)\\/\",\"NotAfterTimestamp\":\"\\/Date(15[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.RecoveryServices/vaults/vijami-mig-proj2e89rsvault/replicationFabrics/vijamiMig-lat29ddreplicationfabric/replicationProtectionContainers/vijamiMig-lat29ddreplicationcontainer?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1585831331137)\\[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.RecoveryServices/vaults/vijami-mig-proj2e89rsvault/replicationFabrics/vijamiMig-lat29ddreplicationfabric/replicationProtectionContainers/vijamiMig-lat29ddreplicationcontainer/replicationProtectionContainerMappings?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBefor[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.RecoveryServices/vaults/vijami-mig-proj2e89rsvault/replicationPolicies/migratevijamiMig-lat29ddsitepolicy?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1585831331893)\\/\",\"NotAfterTimestamp\":\"\\/Date(1586436131893)\\/\",\"ClientRequestId\":\"7a6b8439-2f8f-4cd6-9928-f677e4233eb6-2020-04-02 13:42:11Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"flIio+ZPZUtOMUwr8lQThkT4gqJDIE4lheDwrShYgtU=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11951"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.RecoveryServices/vaults/vijami-mig-proj2e89rsvault/replicationPolicies/migratevijamiMig-lat29ddsitepolicy\",\r\n  \"name\": \"migratevijamiMig-lat29ddsitepolicy\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/replicationPolicies\",\r\n  \"properties\": {\r\n    \"friendlyName\": \"migratevijamiMig-lat29ddsitepolicy\",\r\n    \"providerSpecificDetails\": {\r\n      \"instanceType\": \"VMwareCbt\",\r\n      \"recoveryPointHistoryInMinutes\": 4320,\r\n      \"appConsistentFrequencyInMinutes\": 240,\r\n      \"crashConsistentFrequencyInMinutes\": 60\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.RecoveryServices/vaults/vijami-mig-proj2e89rsvault/replicationPolicies/VmwareCbtTestPolicy?api-version=2018-07-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"providerSpecificInput\": {\r\n      \"instanceType\": \"VMwareCbt\",\r\n      \"recoveryPointHistoryInMinutes\": 60,\r\n      \"crashConsistentFrequencyInMinutes\": 15,\r\n      \"appConsistentFrequencyInMinutes\": 60\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1585831332257)\\/\",\"NotAfterTimestamp\":\"\\/Date(1586436132257)\\/\",\"ClientRequestId\":\"ddccf50a-b9d1-4da1-9d98-6b936740346d-2020-04-02 13:42:12Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"211Ooy8nmMerqiWhuX/X+9Mg1nLZ04rpTjS6/UsYAWY=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.RecoveryServices/vaults/vijami-mig-proj2e89rsvault/replicationPolicies/VmwareCbtTestPolicy/operationresults/a534e95a-f275-4740-8ce0-c2490151a073?api-version=2018-07-10"
        ],
        "Retry-After": [
          "30"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.RecoveryServices/vaults/vijami-mig-proj2e89rsvault/replicationOperationStatus/a534e95a-f275-4740-8ce0-c2490151a073?api-version=2018-07-10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.RecoveryServices/vaults/vijami-mig-proj2e89rsvault/replicationJobs/a534e95a-f275-4740-8ce0-c2490151a073?api-version=2018-07-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1585831333346)\\/\",\"NotAfterTimestamp\":\"\\/Date(1586436133346)\\/\",\"ClientRequestId\":\"9c9eb8b3-0211-4a99-84aa-8c05f75bd110-2020-04-02 13:42:13Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"ra+sdhgcsEjnK+cR4Un8uxIXgAYFavQOE2e8qKJWuYQ=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11950"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.RecoveryServices/vaults/vijami-mig-proj2e89rsvault/replicationJobs/a534e95a-f275-4740-8ce0-c2490151a073\",\r\n  \"name\": \"a534e95a-f275-4740-8ce0-c2490151a073\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults/replicationJobs\",\r\n  \"properties\": {\r\n    \"activityId\": \"ddccf50a-b9d1-4da1-9d98-6b936740346d-2020-04-02 13:42:12Z-Ps ActivityId: 7a4a36d3-3684-4439-a5a5-bb1527b7cd76\",\r\n    \"scenarioName\": \"AddProtectionProfile\",\r\n    \"friendlyName\": \"Create replication policy\",\r\n    \"state\": \"Succeeded\",\r\n    \"stateDescription\": \"Completed\",\r\n    \"tasks\": [\r\n      {\r\n        \"taskId\": \"AddProtectionProfilePreflightsCheckTask\",\r\n        \"name\": \"AddProtectionProfilePreflightsCheckTask\",\r\n        \"startTime\": \"2020-04-02T13:42:13.0021013Z\",\r\n        \"endTime\": \"2020-04-02T13:42:13.3459056Z\",\r\n        \"allowedActions\": [],\r\n        \"friendlyName\": \"Prerequisites check for creating the replication policy\",\r\n        \"state\": \"Succeeded\",\r\n        \"stateDescription\": \"Completed\",\r\n        \"taskType\": \"TaskDetails\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"TaskDetails\"\r\n        },\r\n        \"groupTaskCustomDetails\": null,\r\n        \"errors\": []\r\n      },\r\n      {\r\n        \"taskId\": \"AddProtectionProfileTask\",\r\n        \"name\": \"AddProtectionProfileTask\",\r\n        \"startTime\": \"2020-04-02T13:42:13.3459056Z\",\r\n        \"endTime\": \"2020-04-02T13:42:13.3459056Z\",\r\n        \"allowedActions\": [],\r\n        \"friendlyName\": \"Creating the replication policy\",\r\n        \"state\": \"Succeeded\",\r\n        \"stateDescription\": \"Completed\",\r\n        \"taskType\": \"TaskDetails\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"TaskDetails\"\r\n        },\r\n        \"groupTaskCustomDetails\": null,\r\n        \"errors\": []\r\n      }\r\n    ],\r\n    \"errors\": [],\r\n    \"startTime\": \"2020-04-02T13:42:12.7477501Z\",\r\n    \"endTime\": \"2020-04-02T13:42:13Z\",\r\n    \"allowedActions\": [],\r\n    \"targetObjectId\": \"1b7f387c-8fd2-5a3b-8a92-4e60adc2c21b\",\r\n    \"targetObjectName\": \"VmwareCbtTestPolicy\",\r\n    \"targetInstanceType\": \"ProtectionProfile\",\r\n    \"customDetails\": {\r\n      \"instanceType\": \"AsrJobDetails\",\r\n      \"affectedObjectDetails\": {}\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.RecoveryServices/vaults/vijami-mig-proj2e89rsvault/replicationFabrics/vijamiMig-lat29ddreplicationfabric/replicationProtectionContainers/vijamiMig-lat29ddreplicationcontainer/replicationProtectionContainerMappings/pcmmapping?api-version=2018-07-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"targetProtectionContainerId\": \"Microsoft Azure\",\r\n    \"policyId\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.RecoveryServices/vaults/vijami-mig-proj2e89rsvault/replicationPolicies/VmwareCbtTestPolicy\",\r\n    \"providerSpecificInput\": {\r\n      \"instanceType\": \"VMwareCbt\",\r\n      \"keyVaultId\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.KeyVault/vaults/migratekv1214124206\",\r\n      \"keyVaultUri\": \"https://migratekv1214124206.vault.azure.net\",\r\n      \"storageAccountId\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.Storage/storageAccounts/migrategwsa1214124206\",\r\n      \"storageAccountSasSecretName\": \"migrategwsa1214124206-gwySas\",\r\n      \"serviceBusConnectionStringSecretName\": \"ServiceBusConnectionString\",\r\n      \"targetLocation\": \"centralus\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1585831334404)\\/\",\"NotAfterTimestamp\":\"\\/Date(1586436134404)\\/\",\"ClientRequestId\":\"75d8957f-7837-4908-989f-740dfcd21002-2020-04-02 13:42:14Z-Ps\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"+OPIh/XmVR9gywIQmcQRPJpQhKWLNUKB0Q9hyjeEfzM=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\[...]
[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/vijami-rg/providers/Microsoft.RecoveryServices/vaults/vijami-mig-proj2e89rsvault/replicationFabrics/vijamiMig-lat29ddreplicationfabric/replicationProtectionContainers/vijamiMig-lat29ddreplicationcontainer/replicationProtectionContainerMappings/pcmmapping/remove?api-version=2018-07-10",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"providerSpecificInput\": {}\r\n [...]
[...]
