{
  "Get-AzEmailServicedataEmailSendResult+[NoContext]+Get+$POST+https://persistentcommresourcenamemf8he5.unitedstates.communication.azure.com/emails:send?api-version=2024-07-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://persistentcommresourcenamemf8he5.unitedstates.communication.azure.com/emails:send?api-version=2024-07-01-preview",
      "Content": "{\r\n  \"content\": {\r\n    \"subject\": \"Test Email\",\r\n    \"plainText\": \"This is the first email from ACS - HTML\"\r\n  },\r\n  \"recipients\": {\r\n    \"to\": [\r\n      {\r\n        \"address\": \"contosouser@contoso.com\",\r\n        \"displayName\": \"ContosoUser\"\r\n      }\r\n    ]\r\n  },\r\n  \"senderAddress\": \"DoNotReply@3e45443c-baa6-46e9-848e-e671458a3e6c.azurecomm.net\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Retry-After": [ "3" ],
        "mise-correlation-id": [ "e0835065-8b24-4af1-bd8e-71e22318ec67" ],
        "Operation-Location": [ "https://persistentcommresourcenamemf8he5.unitedstates.communication.azure.com/emails/operations/e97d8927-703d-4f43-a513-3fc9da4a1528?api-version=2024-07-01-preview" ],
        "api-supported-versions": [ "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"e97d8927-703d-4f43-a513-3fc9da4a1528\",\"status\":\"Running\",\"error\":null}",
    }
  },
  "Get-AzEmailServicedataEmailSendResult+[NoContext]+Get+$GET+https://persistentcommresourcenamemf8he5.unitedstates.communication.azure.com/emails/operations/e97d8927-703d-4f43-a513-3fc9da4a1528?api-version=2024-07-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://persistentcommresourcenamemf8he5.unitedstates.communication.azure.com/emails/operations/e97d8927-703d-4f43-a513-3fc9da4a1528?api-version=2024-07-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "17" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "mise-correlation-id": [ "907ddcff-9cfb-465a-b5e6-c53d43af5e8f" ],
        "api-supported-versions": [ "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"e97d8927-703d-4f43-a513-3fc9da4a1528\",\"status\":\"Succee[...]
