{
  "Send-AzEmailServicedataEmail+[NoContext]+Send+$POST+https://persistentcommresourcename2iyr7h.unitedstates.communication.azure.com/emails:send?api-version=2024-07-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://persistentcommresourcename2iyr7h.unitedstates.communication.azure.com/emails:send?api-version=2024-07-01-preview",
      "Content": "{\r\n  \"content\": {\r\n    \"subject\": \"Test Email\",\r\n    \"plainText\": \"This is the first email from ACS - HTML\",\r\n    \"html\": \"\\u003chtml\\u003e\\u003chead\\u003e\\u003ctitle\\u003eExciting offer!\\u003c/title\\u003e\\u003c/head\\u003e\\u003cbody\\u003e\\u003cimg src=\\u0027cid:inline-attachment\\u0027 alt=\\u0027kitten\\u0027/\\u003e\\u003ch1\\u003eThis exciting offer was created especially for you, our most loyal customer.\\u003c/h1\\u003e\\u003c/body\\u003e\\u003c/html\\u003e\"\r\n  },\r\n  \"recipients\": {\r\n    \"to\": [\r\n      {\r\n        \"address\": \"contosouser@contoso.com\",\r\n        \"displayName\": \"ContosoUser\"\r\n      }\r\n    ]\r\n  },\r\n  \"senderAddress\": \"DoNotReply@015e54a3-c31f-4028-90d3-a13009fc9c14.azurecomm.net\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Retry-After": [ "3" ],
        "mise-correlation-id": [ "a930f6db-9a9c-40e7-9e53-125c9dbd995e" ],
        "Operation-Location": [ "https://persistentcommresourcename2iyr7h.unitedstates.communication.azure.com/emails/operations/0f2453d1-126a-4b80-ac37-038bd078402e?api-version=2024-07-01-preview" ],
        "api-supported-versions": [ "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"0f2453d1-126a-4b80-ac37-038bd078402e\",\"status\":\"Running\",\"error\":null}",
    }
  },
  "Send-AzEmailServicedataEmail+[NoContext]+Send+$GET+https://persistentcommresourcename2iyr7h.unitedstates.communication.azure.com/emails/operations/0f2453d1-126a-4b80-ac37-038bd078402e?api-version=2024-07-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://persistentcommresourcename2iyr7h.unitedstates.communication.azure.com/emails/operations/0f2453d1-126a-4b80-ac37-038bd078402e?api-version=2024-07-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "26" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "mise-correlation-id": [ "fdb4247f-04a2-4007-809e-affb7ce7d96a" ],
        "api-supported-versions": [ "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"0f2453d1-126a-4b80-ac37-038bd078402e\",\"status\":\"Succee[...]
