{
  "Send-AzEmailServicedataEmail+[NoContext]+Send+$POST+https://persistentcommresourcenamer2hbpi.unitedstates.communication.azure.com/emails:send?api-version=2024-07-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://persistentcommresourcenamer2hbpi.unitedstates.communication.azure.com/emails:send?api-version=2024-07-01-preview",
      "Content": "{\r\n  \"content\": {\r\n    \"subject\": \"Test Email\",\r\n    \"plainText\": \"This is the first email from ACS - HTML\",\r\n    \"html\": \"\\u003chtml\\u003e\\u003chead\\u003e\\u003ctitle\\u003eExciting offer!\\u003c/title\\u003e\\u003c/head\\u003e\\u003cbody\\u003e\\u003cimg src=\\u0027cid:inline-attachment\\u0027 alt=\\u0027kitten\\u0027/\\u003e\\u003ch1\\u003eThis exciting offer was created especially for you, our most loyal customer.\\u003c/h1\\u003e\\u003c/body\\u003e\\u003c/html\\u003e\"\r\n  },\r\n  \"recipients\": {\r\n    \"to\": [\r\n      {\r\n        \"address\": \"contosouser@contoso.com\",\r\n        \"displayName\": \"ContosoUser\"\r\n      }\r\n    ]\r\n  },\r\n  \"senderAddress\": \"DoNotReply@bf416eac-62af-4775-af28-8c5304afebb1.azurecomm.net\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Retry-After": [ "3" ],
        "mise-correlation-id": [ "70ec3629-e60f-45da-9079-e5b5d0790841" ],
        "Operation-Location": [ "https://persistentcommresourcenamer2hbpi.unitedstates.communication.azure.com/emails/operations/7a5c4492-50e6-4a97-b9ba-67236f7fa968?api-version=2024-07-01-preview" ],
        "api-supported-versions": [ "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"7a5c4492-50e6-4a97-b9ba-67236f7fa968\",\"status\":\"Running\",\"error\":null}",
    }
  },
  "Send-AzEmailServicedataEmail+[NoContext]+Send+$GET+https://persistentcommresourcenamer2hbpi.unitedstates.communication.azure.com/emails/operations/7a5c4492-50e6-4a97-b9ba-67236f7fa968?api-version=2024-07-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://persistentcommresourcenamer2hbpi.unitedstates.communication.azure.com/emails/operations/7a5c4492-50e6-4a97-b9ba-67236f7fa968?api-version=2024-07-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "27" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "mise-correlation-id": [ "901cf2dd-95af-46f1-83c7-dbd93239f76a" ],
        "api-supported-versions": [ "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"7a5c4492-50e6-4a97-b9ba-67236f7fa968\",\"status\":\"Succee[...]
