{
  "AzArcResourceBridge+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup-resource-bridge-eastus/providers/Microsoft.ResourceConnector/appliances/y3szqh?api-version=2022-10-27+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup-resource-bridge-eastus/providers/Microsoft.ResourceConnector/appliances/y3szqh?api-version=2022-10-27",
      "Content": "{\r\n  \"tags\": {\r\n    \"123\": \"abc\"\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"infrastructureConfig\": {\r\n      \"provider\": \"HCI\"\r\n    },\r\n    \"distro\": \"AKSEdge\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "Azure-Asyncoperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/microsoft.resourceconnector/locations/eastus/operationsstatus/13a403f9-05b1-4304-9ddf-e4c87ef7b078?api-version=2020-07-15-privatepreview" ],
        "X-Ms-Async-Operation-Timeout": [ "PT60M" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/testgroup-resource-bridge-eastus/providers/microsoft.resourceconnector/appliances/y3szqh\",\"name\":\"y3szqh\",\"location\":\"eastus\",\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"c4b149f7-7171-4586-8666-8ebfc7e98714\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\"},\"tags\":{\"123\":\"abc\"},\"type\":\"Microsoft.ResourceConnector/appliances\",\"systemData\":{\"createdBy\":\"v-jinpel@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-02-22T14:25:55.6096192Z\",\"lastModifiedBy\":\"v-jinpel@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-02-22T14:25:55.6096192Z\"},\"properties\":{\"distro\":\"AKSEdge\",\"status\":\"WaitingForHeartbeat\",\"provisioningState\":\"Creating\",\"infrastructureConfig\":{\"provider\":\"HCI\"}}}",
    }
  },
  "AzArcResourceBridge+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/microsoft.resourceconnector/locations/eastus/operationsstatus/13a403f9-05b1-4304-9ddf-e4c87ef7b078?api-version=2020-07-15-privatepreview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/microsoft.resourceconnector/locations/eastus/operationsstatus/13a403f9-05b1-4304-9ddf-e4c87ef7b078?api-version=2020-07-15-privatepreview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "3" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.ResourceConnector/locations/eastus/operationsstatus/13a403f9-05b1-4304-9ddf-e4c87ef7b078\",\"name\":\"13a403f9-05b1-4304-9ddf-e4c87ef7b078\",\"status\":\"Succeeded\",\"startTime\":\"2023-02-22T14:25:58.259037841Z\",\"endTime\":\"2023-02-22T14:26:11.81889681Z\"}",
    }
  },
  "AzArcResourceBridge+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup-resource-bridge-eastus/providers/Microsoft.ResourceConnector/appliances/y3szqh?api-version=2022-10-27+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup-resource-bridge-ea[...]
