{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/providers/Microsoft.Devices/IotHubs?api-version=2016-02-03",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/rg-ml/providers/Microsoft.Devices/IotHubs/freeML\",\r\n      \"name\": \"freeML\",\r\n      \"type\": \"Microsoft.Devices/IotHubs\",\r\n      \"location\": \"australiasoutheast\",\r\n      \"tags\": {},\r\n      \"subscriptionid\": \"e0b81f36-36ba-44f7-b550-7c9344a35893\",\r\n      \"resourcegroup\": \"rg-ml\",\r\n      \"etag\": \"AAAAAABOYq0=\",\r\n      \"properties\": {\r\n        \"state\": \"Active\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"ipFilterRules\": [],\r\n        \"hostName\": \"freeML.azure-devices.net\",\r\n        \"eventHubEndpoints\": {\r\n          \"events\": {\r\n            \"retentionTimeInDays\": 1,\r\n            \"partitionCount\": 2,\r\n            \"partitionIds\": [\r\n              \"0\",\r\n              \"1\"\r\n            ],\r\n            \"path\": \"iothub-ehub-freeml-26265-74adfd3f15\",\r\n            \"endpoint\": \"sb://ihsuprodmlres001dednamespace.servicebus.windows.net/\"\r\n          },\r\n          \"operationsMonitoringEvents\": {\r\n            \"retentionTimeInDays\": 1,\r\n            \"partitionCount\": 2,\r\n            \"partitionIds\": [\r\n              \"0\",\r\n              \"1\"\r\n            ],\r\n            \"path\": \"iothub-ehub-freeml-26265-74c8c4b2c7\",\r\n            \"endpoint\": \"sb://ihsuprodmlres002dednamespace.servicebus.windows.net/\"\r\n          }\r\n        },\r\n        \"storageEndpoints\": {\r\n          \"$default\": {\r\n            \"sasTtlAsIso8601\": \"PT1H\",\r\n            \"connectionString\": \"\",\r\n            \"containerName\": \"\"\r\n          }\r\n        },\r\n        \"messagingEndpoints\": {\r\n          \"fileNotifications\": {\r\n            \"lockDurationAsIso8601\": \"PT1M\",\r\n            \"ttlAsIso8601\": \"PT1H\",\r\n            \"maxDeliveryCount\": 10\r\n          }\r\n        },\r\n        \"enableFileUploadNotifications\": false,\r\n        \"cloudToDevice\": {\r\n          \"maxDeliveryCount\": 10,\r\n          \"defaultTtlAsIso8601\": \"PT1H\",\r\n          \"feedback\": {\r\n            \"lockDurationAsIso8601\": \"PT1M\",\r\n            \"ttlAsIso8601\": \"PT1H\",\r\n            \"maxDeliveryCount\": 10\r\n          }\r\n        },\r\n        \"operationsMonitoringProperties\": {\r\n          \"events\": {\r\n            \"None\": \"None\",\r\n            \"Connections\": \"None\",\r\n            \"DeviceTelemetry\": \"None\",\r\n            \"C2DCommands\": \"None\",\r\n            \"DeviceIdentityOperations\": \"None\",\r\n            \"FileUploadOperations\": \"None\"\r\n          }\r\n        },\r\n        \"features\": \"None\",\r\n        \"generationNumber\": 0\r\n      },\r\n      \"sku\": {\r\n        \"name\": \"F1\",\r\n        \"tier\": \"Free\",\r\n        \"capacity\": 1\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/ProdSmokeTest/providers/Microsoft.Devices/IotHubs/sy-001-smoke\",\r\n      \"name\": \"sy-001-smoke\",\r\n      \"type\": \"Microsoft.Devices/IotHubs\",\r\n      \"location\": \"australiaeast\",\r\n      \"tags\": {},\r\n      \"subscriptionid\": \"e0b81f36-36ba-44f7-b550-7c9344a35893\",\r\n      \"resourcegroup\": \"ProdSmokeTest\",\r\n      \"etag\": \"AAAAAABZyoo=\",\r\n     [...]
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourcegroups/powershellrg?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"northeurope\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg\",\r\n  \"name\": \"powershellrg\",\r\n  \"location\": \"northeurope\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub?api-version=2016-02-03",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"subscriptionid\": \"e0b81f36-36ba-44f7-b550-7c9344a35893\",\r\n  \"resourcegroup\": \"powershellrg\",\r\n  \"sku\": {\r\n    \"name\": \"S1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"location\": \"northeurope\"\r\n}",
      "RequestHeaders": {
        "Con[...]
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub?api-version=2016-02-03",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"subscriptionid\": \"e0b81f36-36ba-44f7-b550-7c9344a35893\",\r\n  \"resourcegroup\": \"powershellrg\",\r\n  \"etag\": \"AAAAAABx6M8=\",\r\n  \"properties\": {\r\n    \"authorizationPolicies\": [\r\n      {\r\n        \"keyName\": \"iothubowner\",\r\n        \"primaryKey\": \"81fgrTkqGQpgzvOBe4/LtKUkvLIhx3oLkbN5nPly1ik=\",\r\n        \"secondaryKey\": \"2uzdSDS1y4H4oxfR4L2bw/cnsgYF/gOWsHBCQ7fhc0E=\",\r\n        \"rights\": \"DeviceConnect\"\r\n      },\r\n      {\r\n        \"keyName\": \"service\",\r\n        \"primaryKey\": \"MzRrotLUxmBRJ/vEUeaNnu684/7oGAOWPm44VoVwySs=\",\r\n        \"secondaryKey\": \"qiOV+PJ2ywQ6d+bbiqi0YXFBZFLESj+7hU2Ny2Fda2U=\",\r\n        \"rights\": \"ServiceConnect\"\r\n      },\r\n      {\r\n        \"keyName\": \"device\",\r\n        \"primaryKey\": \"czqIHz0MpKYdp8C3gSeHj04Hbo87PMDXY1sig1jmYRk=\",\r\n        \"secondaryKey\": \"rBEqF5EgDyv0eEJDA9mC9SNO/1UUJFOZ4bClPDl35lk=\",\r\n     [...]
[...]
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub/operationResults/YWFjYTE1YTctODVhYy00ZGY2LThlM2QtMDY4OTExMGUxZGVk?api-version=2016-02-03&asyncinfo",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Running\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14982"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs?api-version=2016-02-03",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub\",\r\n      \"name\": \"powershellioth[...]
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub/quotaMetrics?api-version=2016-02-03",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"Name\": \"TotalMessages\",\r\n      \"CurrentValue\": 0,\r\n      \"MaxValue\": 400000\r\n    },\r\n    {\r\n      \"Name\": \"TotalDeviceCount\",\r\n      \"CurrentValue\": 0,\r\n      \"MaxValue\": 500000\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14956"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub/IotHubStats?api-version=2016-02-03",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"totalDeviceCount\": 0,\r\n  \"enabledDeviceCount\": 0,\r\n  \"disabledDeviceCount\": 0\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14955"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub/skus?api-version=2016-02-03",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"resourceType\": \"Microsoft.Devices/IotHubs\",\r\n      \"sku\": {\r\n        \"name\": \"S1\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"capacity\": {\r\n        \"minimum\": 1,\r\n        \"maximum\": 200,\r\n        \"default\": 1,\r\n        \"scaleType\": \"Manual\"\r\n      }\r\n    },\r\n    {\r\n      \"resourceType\": \"Microsoft.Devices/IotHubs\",\r\n      \"sku\": {\r\n        \"name\": \"S2\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"capacity\": {\r\n        \"minimum\": 1,\r\n        \"maximum\": 200,\r\n        \"default\": 1,\r\n        \"scaleType\": \"Manual\"\r\n      }\r\n    },\r\n    {\r\n      \"resourceType\": \"Microsoft.Devices/IotHubs\",\r\n      \"sku\": {\r\n        \"name\": \"S3\",\r\n        \"tier\": \"Standard\"\r\n      },\r\n      \"capacity\": {\r\n        \"minimum\": 1,\r\n        \"maximum\": 10,\r\n        \"default\": 1,\r\n        \"scaleType\": \"Manual\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14954"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub/eventHubEndpoints/events/ConsumerGroups?api-version=2016-02-03",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    \"$Default\"\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14953"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub/eventHubEndpoints/operationsMonitoringEvents/ConsumerGroups?api-version=2016-02-03",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    \"$Default\"\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14952"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub/listkeys?api-version=2016-02-03",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"keyName\": \"iothubowner\",\r\n      \"primaryKey\": \"81fgrTkqGQpgzvOBe4/LtKUkvLIhx3oLkbN5nPly1ik=\",\r\n      \"secondaryKey\": \"2uzdSDS1y4H4oxfR4L2b[...]
[...]
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub/IotHubKeys/iothubowner/listkeys?api-version=2016-02-03",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"keyName\": \"iothubowner\",\r\n  \"primaryKey\": \"81fgrTkqGQpgzvOBe4/LtKUkvLIhx3oLkbN5nPly1ik=\",\r\n  \"secondaryKey\": \"2uzdSDS1y4H4oxfR4L2bw/cnsgYF/gOWsHBCQ7fhc0E=\",\r\n  \"rights\": \"RegistryWrite, ServiceConnect, DeviceConnect\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub/eventHubEndpoints/events/ConsumerGroups/cg1?api-version=2016-02-03",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"tags\": null,\r\n  \"id\": \"/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub\",\r\n  \"name\": \"cg1\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub/operationResults/MjVhMThhZjAtNjdlMS00YzdhLWI0OGQtYzg3MDk3ZWRkMTQ0?api-version=2016-02-03&asyncinfo",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14941"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub/operationResults/YWQ5M2Q5ODItMTc4YS00NzIzLTkwZjItNjUzZmE4NGU0ZWEz?api-version=2016-02-03&asyncinfo",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14938"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub/operationResults/YjA1N2NiMTctMjI1ZS00OTIwLWE3YTUtYzcwY2U5ZTg2N2Yx?api-version=2016-02-03&asyncinfo",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Running\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14932"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub/operationResults/ZTRiZmE4YzUtNjNkYy00MTk0LTg4NWYtM2Y2ZmNmYTNhMmE1?api-version=2016-02-03&asyncinfo",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14927"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub/operationResults/N2VhMDU4MzAtMTJmMy00NzQ2LWJmNWEtN2ZmYmY5MzkxNjkx?api-version=2016-02-03&asyncinfo",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14923"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub/operationResults/YzQ0ZTA2YTEtMmY0MS00ZTQ1LTliYmQtM2Y3OGM2ZDA1NGMy?api-version=2016-02-03&asyncinfo",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14918"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub?api-version=2016-02-03",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "null",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "15"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub/operationResults/NjI2Y2NlNWQtNTRjNy00YWY5LTkzNDMtOTgxYzkxOTE2ZWQ5?api-version=2016-02-03&asyncinfo"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1187"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub/operationResults/NjI2Y2NlNWQtNTRjNy00YWY5LTkzNDMtOTgxYzkxOTE2ZWQ5?api-version=2016-02-03"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/e0b81f36-36ba-44f7-b550-7c9344a35893/resourceGroups/powershellrg/providers/Microsoft.Devices/IotHubs/powershelliothub/operationResults/NjI2Y2NlNWQtNTRjNy00YWY5LTkzNDMtOTgxYzkxOTE2ZWQ5?api-version=2016-02-03&asyncinfo",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14917"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "e0b81f36-36ba-44f7-b550-7c9344a35893"
  }
}