{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applicationTypes?api-version=2023-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applicationTypes/VotingType?api-version=2023-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.ServiceFabric/clusters/applicationTypes\",\r\n  \"location\": \"southcentralus\",\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applicationTypes/VotingType\",\r\n  \"name\": \"VotingType\",\r\n  \"etag\": \"W/\\\"638888217468398112\\\"\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"iliu@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2025-07-22T15:55:46.6693514-07:00\",\r\n    \"lastModifiedBy\": \"iliu@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2025-07-22T15:55:46.6693514-07:00\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applicationTypes/VotingType?api-version=2023-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"Resource /subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/AZURERMSFRG/providers/Microsoft.ServiceFabric/clusters/AZURERMSFCLUSTERTEST/applicationTypes/VOTINGTYPE not found.\",\r\n    \"details\": [\r\n      {\r\n        \"code\": \"Exception\",\r\n        \"message\": \"System.Fabric.Wrp.Errors.WrpException: Resource /subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/AZURERMSFRG/providers/Microsoft.ServiceFabric/clusters/AZURERMSFCLUSTERTEST/applicationTypes/VOTINGTYPE not found.\\r\\n   at System.Fabric.Wrp.DataAccess.Cache`1.GetReadOnlyItem(String key) in C:\\\\__w\\\\1\\\\s\\\\src\\\\Common\\\\DataAccess\\\\Cache.cs:line 138\\r\\n   at System.Fabric.Wrp.DataAccess.ResourceCache`1.GetReadOnlyItem(String key, String etag) in C:\\\\__w\\\\1\\\\s\\\\src\\\\Common\\\\DataAccess\\\\ResourceCache.cs:line 45\\r\\n   at System.Fabric.Wrp.BackendService.Operation.GetApplicationTypeOperation`1.Execute() in C:\\\\__w\\\\1\\\\s\\\\src\\\\WRPService\\\\Operation\\\\GetApplicationTypeOperation.cs:line 40\\r\\n   at System.Fabric.Wrp.BackendService.Operation.SynchronousOperation`1.ExecuteAsync(CancellationToken cancellationToken) in C:\\\\__w\\\\1\\\\s\\\\src\\\\WRPService\\\\Operation\\\\SynchronousOperation.cs:line 23\\r\\n   at System.Fabric.Wrp.OperationBase`1.<RunWithInstrumentationAsync>d__17.MoveNext() in C:\\\\__w\\\\1\\\\s\\\\src\\\\Common\\\\Operations\\\\OperationBase.cs:line 225\\r\\n--- End of stack trace from previous location where exception was thrown ---\\r\\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\\r\\n   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)\\r\\n   at System.Fabric.Wrp.OperationBase`1.<RunAsync>d__6.MoveNext() in C:\\\\__w\\\\1\\\\s\\\\src\\\\Common\\\\Operations\\\\OperationBase.cs:line 0\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applicationTypes/VotingType?api-version=2023-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-deletes": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "b36cdf46-b75d-4dc2-9fe1-1296ee8c623d"
  }
}