{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applications?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applicationTypes?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applicationTypes?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"type\": \"Microsoft.ServiceFabric/clusters/applicationTypes\",\r\n      \"location\": \"southcentralus\",\r\n      \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applicationTypes/CalcServiceApp\",\r\n      \"name\": \"CalcServiceApp\",\r\n      \"tags\": {},\r\n      \"etag\": \"W/\\\"637346718778966507\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applicationTypes/CalcServiceApp?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.ServiceFabric/clusters/applicationTypes\",\r\n  \"location\": \"southcentralus\",\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applicationTypes/CalcServiceApp\",\r\n  \"name\": \"CalcServiceApp\",\r\n  \"tags\": {},\r\n  \"etag\": \"W/\\\"637346718778966507\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applicationTypes/CalcServiceApp/versions/1.0?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"Resource /subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/AZURERMSFRG/providers/Microsoft.ServiceFabric/clusters/AZURERMSFCLUSTERTEST/applicationTypes/CALCSERVICEAPP/versions/1.0 not found.\",\r\n    \"details\": []\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applicationTypes/CalcServiceApp/versions/1.0?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.ServiceFabric/clusters/applicationTypes/versions\",\r\n  \"location\": \"southcentralus\",\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applicationTypes/CalcServiceApp/versions/1.0\",\r\n  \"name\": \"1.0\",\r\n  \"tags\": {},\r\n  \"etag\": \"W/\\\"637346718783032784\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"appPackageUrl\": \"https://azsfapptest.blob.core.windows.net/azsfapptest/CalcApp_1.0.sfpkg\",\r\n    \"defaultParameterList\": {\r\n      \"mode\": \"decimal\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applicationTypes/CalcServiceApp/versions/1.0?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"appPackageUrl\": \"https://azsfapptest.blob.core.windows.net/azsfapptest/CalcApp_1.0.sfpkg\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/operationResults/1a55834e-b818-454e-83e3-6a660cf79294?api-version=2020-03-01&Experiment=local"
        ],
        "Retry-After": [
          "60"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com:443/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/operations/1a55834e-b818-454e-83e3-6a660cf79294?api-version=2020-03-01&Experiment=local"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.ServiceFabric/clusters/applicationTypes/versions\",\r\n  \"location\": \"southcentralus\",\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applicationTypes/CalcServiceApp/versions/1.0\",\r\n  \"name\": \"1.0\",\r\n  \"tags\": {},\r\n  \"etag\": \"W/\\\"637346718783032784\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"appPackageUrl\": \"https://azsfapptest.blob.core.windows.net/azsfapptest/CalcApp_1.0.sfpkg\",\r\n    \"defaultParameterList\": {}\r\n  }\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/operations/1a55834e-b818-454e-83e3-6a660cf79294?api-version=2020-03-01&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/operations/1a55834e-b818-454e-83e3-6a660cf79294\",\r\n  \"name\": \"1a55834e-b818-454e-83e3-6a660cf79294\",\r\n  \"status\": \"Created\",\r\n  \"startTime\": \"2020-09-02T19:31:18.3032784Z\",\r\n  \"endTime\": \"0001-01-01T00:00:00\",\r\n  \"percentComplete\": 0.0\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/operations/1a55834e-b818-454e-83e3-6a660cf79294?api-version=2020-03-01&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/operations/1a55834e-b818-454e-83e3-6a660cf79294\",\r\n  \"name\": \"1a55834e-b818-454e-83e3-6a660cf79294\",\r\n  \"status\": \"InProgress:{\\r\\n  \\\"Details\\\": \\\"Running Image Builder process ...\\\"\\r\\n}\",\r\n  \"startTime\": \"2020-09-02T19:31:18.3032784Z\",\r\n  \"endTime\": \"0001-01-01T00:00:00\",\r\n  \"percentComplete\": 0.0\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applications/CalcServiceApp?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"Resource /subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/AZURERMSFRG/providers/Microsoft.ServiceFabric/clusters/AZURERMSFCLUSTERTEST/applications/CALCSERVICEAPP not found.\",\r\n    \"details\": []\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applications/testApp289?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"typeVersion\": \"1.0\",\r\n    \"typeName\": \"CalcServiceApp\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/operationResults/5821171b-4fbb-48a0-ab77-46205d58c67e?api-version=2020-03-01&Experiment=local"
        ],
        "Retry-After": [
          "60"
      [...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applications/testApp289?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"typeVersion\": \"1.1\",\r\n    \"parameters\": {\r\n      \"Mode\": \"decimal\"\r\n    },\r\n    \"upgradePolicy\": {\r\n      \"upgradeReplicaSetCheckTimeout\": \"00:05:00\",\r\n      \"forceRestart\": true,\r\n      \"rollingUpgradeMonitoringPolicy\": {\r\n        \"failureAction\": \"Rollback\",\r\n        \"healthCheckWaitDuration\": \"00:00:00\",\r\n        \"healthCheckStableDuration\": \"00:00:00\",\r\n        \"healthCheckRetryTimeout\": \"00:00:00\",\r\n        \"upgradeTimeout\": \"01:56:40\",\r\n        \"upgradeDomainTimeout\": \"01:23:20\"\r\n      },\r\n      \"applicationHealthPolicy\": {\r\n        \"defaultServiceTypeHealthPolicy\": {\r\n          \"maxPercentUnhealthyServices\": 0,\r\n          \"maxPercentUnhealthyPartitionsPerService\": 0,\r\n          \"maxPercentUnhealthyReplicasPerPartition\": 0\r\n        }\r\n      }\r\n    },\r\n    \"removeApplicationCapacity\": false,\r\n    \"typeName\": \"CalcServiceApp\"\r\n  },\r\n  \"location\": \"southcentralus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/operationResults/499d86c5-6e38-415e-ab06-0347d17e623b?api-version=[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applications/testApp289?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"typeVersion\": \"1.1\",\r\n    \"parameters\": {\r\n      \"Mode\": \"decimal\"\r\n    },\r\n    \"upgradePolicy\": {\r\n      \"upgradeReplicaSetCheckTimeout\": \"00:05:00\",\r\n      \"forceRestart\": true,\r\n      \"rollingUpgradeMonitoringPolicy\": {\r\n        \"failureAction\": \"Rollback\",\r\n        \"healthCheckWaitDuration\": \"00:00:00\",\r\n        \"healthCheckStableDuration\": \"00:00:00\",\r\n        \"healthCheckRetryTimeout\": \"00:00:00\",\r\n        \"upgradeTimeout\": \"01:56:40\",\r\n        \"upgradeDomainTimeout\": \"01:23:20\"\r\n      },\r\n      \"applicationHealthPolicy\": {\r\n        \"considerWarningAsError\": false,\r\n        \"maxPercentUnhealthyDeployedApplications\": 0,\r\n        \"defaultServiceTypeHealthPolicy\": {\r\n          \"maxPercentUnhealthyServices\": 0,\r\n          \"maxPercentUnhealthyPartitionsPerService\": 0,\r\n          \"maxPercentUnhealthyReplicasPerPartition\": 0\r\n        }\r\n      }\r\n    },\r\n    \"minimumNodes\": 1,\r\n    \"maximumNodes\": 4,\r\n    \"removeApplicationCapacity\": false,\r\n    \"typeName\": \"CalcServiceApp\"\r\n  },\r\n  \"location\": \"southcentralus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/operationResults/d18ba861[...]
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applications/testApp289/services/testApp289~testService4302?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"Resource /subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/AZURERMSFRG/providers/Microsoft.ServiceFabric/clusters/AZURERMSFCLUSTERTEST/applications/TESTAPP289/services/TESTAPP289~TESTSERVICE4302 not found.\",\r\n    \"details\": []\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applications/testApp289/services/testApp289~testService4302?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.ServiceFabric/clusters/applications/services\",\r\n  \"location\": \"southcentralus\",\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applications/testApp289/services/testApp289~testService4302\",\r\n  \"name\": \"testApp289~testService4302\",\r\n  \"tags\": {},\r\n  \"etag\": \"W/\\\"637346721838856050\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"serviceKind\": \"Stateless\",\r\n    \"serviceTypeName\": \"CalcServiceType\",\r\n    \"partitionDescription\": {\r\n      \"partitionScheme\": \"Singleton\"\r\n    },\r\n    \"serviceLoadMetrics\": [],\r\n    \"servicePlacementPolicies\": [],\r\n    \"instanceCount\": -1\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/azurermsfrg/providers/Microsoft.Resources/deployments/AzPSService-testApp289testService4302/validate?api-version=2016-09-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"parameters\": {\r\n        \"applicationName\": {\r\n          \"type\": \"string\",\r\n          \"metadata\": {\r\n            \"description\": \"The application name\"\r\n          }\r\n        },\r\n        \"clusterName\": {\r\n          \"type\": \"string\",\r\n          \"metadata\": {\r\n            \"description\": \"Name of your cluster - Between 3 and 23 characters. Letters and numbers only\"\r\n          }\r\n        },\r\n        \"serviceKind\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"Stateless\",\r\n          \"metadata\": {\r\n            \"description\": \"The service kind. Stateless or Stateful\"\r\n          }\r\n        },\r\n        \"serviceName\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"AzureFileVolumePlugin2~Service\",\r\n          \"metadata\": {\r\n            \"description\": \"The service name\"\r\n          }\r\n        },\r\n        \"serviceTypeName\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"partitionScheme\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"Singleton\",\r\n          \"metadata\": {\r\n            \"description\": \"Partition Scheme.\"\r\n          }\r\n        },\r\n        \"partitionDescription\": {\r\n          \"type\": \"Object\"\r\n        },\r\n        \"instanceCount\": {\r\n          \"type\": \"int\"\r\n        }\r\n      },\r\n      \"resources\": [\r\n        {\r\n          \"apiVersion\": \"2017-07-01-preview\",\r\n          \"type\": \"Microsoft.ServiceFabric/clusters/applications/services\",\r\n          \"name\": \"[concat(parameters('clusterName'), '/', parameters('applicationName'), '/', parameters('serviceName'))]\",\r\n          \"properties\": {\r\n            \"serviceKind\": \"[parameters('serviceKind')]\",\r\n            \"serviceTypeName\": \"[parameters('serviceTypeName')]\",\r\n            \"partitionDescription\": \"[parameters('partitionDescription')]\",\r\n            \"correlationScheme\": [],\r\n            \"serviceLoadMetrics\": [],\r\n            \"servicePlacementPolicies\": [],\r\n            \"instanceCount\": \"[parameters('instanceCount')]\"\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"parameters\": {\r\n      \"clusterName\": {\r\n        \"value\": \"azurermsfclustertest\"\r\n      },\r\n      \"applicationName\": {\r\n        \"value\": \"testApp289\"\r\n      },\r\n      \"serviceName\": {\r\n        \"value\": \"testApp289~testService4302\"\r\n      },\r\n      \"serviceTypeName\": {\r\n        \"value\": \"CalcServiceType\"\r\n      },\r\n      \"partitionDescription\": {\r\n        \"value\": {\r\n          \"partitionScheme\": \"Singleton\"\r\n        }\r\n      },\r\n      \"instanceCount\": {\r\n        \"value\": -1\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.Resources/deployments/AzPSService-testApp289testService4302\",\r\n  \"name\": \"AzPSService-testApp289testService4302\",\r\n  \"properties\": {\r\n    \"templateHash\": \"2149306139495103575\",\r\n    \"parameters\": {\r\n      \"applicationName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"testApp289\"\r\n      },\r\n      \"clusterName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"azurermsfclustertest\"\r\n      },\r\n      \"serviceKind\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"Stateless\"\r\n      },\r\n      \"serviceName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"testApp289~testService4302\"\r\n      },\r\n      \"serviceTypeName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"CalcServiceType\"\r\n      },\r\n      \"partitionScheme\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"Singleton\"\r\n      },\r\n      \"partitionDescription\": {\r\n        \"type\": \"Object\",\r\n        \"value\": {\r\n          \"partitionScheme\": \"Singleton\"\r\n        }\r\n      },\r\n      \"instanceCount\": {\r\n        \"type\": \"Int\",\r\n        \"value\": -1\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"timestamp\": \"2020-09-02T19:36:21.505728Z\",\r\n    \"duration\": \"PT0S\",\r\n    \"correlationId\": \"c825ddcf-3508-46e0-bf7f-0a76913fdf9a\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.ServiceFabric\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"clusters/applications/services\",\r\n            \"locations\": [\r\n              null\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": [],\r\n    \"validatedResources\": [\r\n      {\r\n        \"apiVersion\": \"2017-07-01-preview\",\r\n        \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourceGroups/azurermsfrg/providers/Microsoft.ServiceFabric/clusters/azurermsfclustertest/applications/testApp289/services/testApp289~testService4302\",\r\n        \"name\": \"azurermsfclustertest/testApp289/testApp289~testService4302\",\r\n        \"type\": \"Microsoft.ServiceFabric/clusters/applications/services\",\r\n        \"properties\": {\r\n          \"serviceKind\": \"Stateless\",\r\n          \"serviceTypeName\": \"CalcServiceType\",\r\n          \"partitionDescription\": {\r\n            \"partitionScheme\": \"Singleton\"\r\n          },\r\n          \"correlationScheme\": [],\r\n          \"serviceLoadMetrics\": [],\r\n          \"servicePlacementPolicies\": [],\r\n          \"instanceCount\": -1\r\n        }\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/azurermsfrg/providers/Microsoft.Resources/deployments/AzPSService-testApp289testService4302?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"parameters\": {\r\n        \"ap[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/resourcegroups/azurermsfrg/providers/Microsoft.Resources/deployments/AzPSService-testApp289testService4302/operationStatuses/08586025315033700007?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Running\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/operations/499d86c5-6e38-415e-ab06-0347d17e623b?api-version=2020-03-01&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/operations/499d86c5-6e38-415e-ab06-0347d17e623b\",\r\n  \"name\": \"499d86c5-6e38-415e-ab06-0347d17e623b\",\r\n  \"status\": \"InProgress:{\\r\\n  \\\"AppUpgradeState\\\": \\\"RollingForwardInProgress\\\",\\r\\n  \\\"UpgradeDomainProgress\\\": {\\r\\n    \\\"UpgradeDomainName\\\": \\\"\\\",\\r\\n    \\\"NodeProgressList\\\": []\\r\\n  },\\r\\n  \\\"NextUpgradeDomain\\\": null\\r\\n}\",\r\n  \"startTime\": \"2020-09-02T19:41:26.7354996Z\",\r\n  \"endTime\": \"0001-01-01T00:00:00\",\r\n  \"percentComplete\": 0.0\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/operationResults/1fcaba74-4081-41f0-9049-cdbf2767a984?api-version=2020-03-01&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11975"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b36cdf46-b75d-4dc2-9fe1-1296ee8c623d/providers/Microsoft.ServiceFabric/locations/southcentralus/operationResults/954329de-362d-413f-9e05-974442a6a879?api-version=2020-03-01&Experiment=local",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11972"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-App": [
      "testApp289",
      "testService4302"
    ]
  },
  "Variables": {
    "SubscriptionId": "b36cdf46-b75d-4dc2-9fe1-1296ee8c623d"
  }
}