{
  "AzConnectedVMwareCluster+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/a1ffc958-d2c7-493e-9f1e-125a0477f536/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/clusters/Cluster1?api-version=2023-10-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/a1ffc958-d2c7-493e-9f1e-125a0477f536/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/clusters/Cluster1?api-version=2023-10-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 403,
      "Headers": {
        "x-ms-failure-cause": [ "gateway" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"error\":{\"code\":\"AuthorizationFailed\",\"message\":\"The client \u0027sanmishra@microsoft.com\u0027 with object id \u002753497f26-f5bb-460a-8e64-f81c3e0cd5c9\u0027 does not have authorization to perform action \u0027Microsoft.ConnectedVMwarevSphere/clusters/read\u0027 over scope \u0027/subscriptions/a1ffc958-d2c7-493e-9f1e-125a0477f536/resourceGroups/azcli-test-rg/providers/Microsoft.ConnectedVMwarevSphere/clusters/Cluster1\u0027 or the scope is invalid. If access was recently granted, please refresh your credentials.\"}}",
    }
  }
}