{
  "New-AzLogzSubAccount+[NoContext]+CRUCase+$PUT+https://management.azure.com/subscriptions/ce37d538-dfa3-49c3-b3cd-149b4b7db48a/resourceGroups/logz-rg-el53t6/providers/Microsoft.Logz/monitors/monitor-wscj87/accounts/subAccountsds1sl?api-version=2020-10-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/ce37d538-dfa3-49c3-b3cd-149b4b7db48a/resourceGroups/logz-rg-el53t6/providers/Microsoft.Logz/monitors/monitor-wscj87/accounts/subAccountsds1sl?api-version=2020-10-01-preview",
      "Content": "{\r\n  \"properties\": {\r\n    \"userInfo\": {\r\n      \"firstName\": \"Yao\",\r\n      \"lastName\": \"Lucas\",\r\n      \"emailAddress\": \"v-diya@microsoft.com\",\r\n      \"phoneNumber\": \"1111111111\"\r\n    },\r\n    \"planData\": {\r\n      \"usageType\": \"PAYG\",\r\n      \"billingCycle\": \"Monthly\",\r\n      \"planDetails\": \"100gb14days\",\r\n      \"effectiveDate\": \"2021-09-17T07:12:01.8731223Z\"\r\n    }\r\n  },\r\n  \"location\": \"westus2\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"0000e559-0000-0800-0000-61443fcb0000\"" ],
        "Location": [ "https://management.azure.com/providers/Microsoft.Logz/locations/WESTUS2/operationStatuses/56d55149-7f0a-429f-a757-1873cd04c1e2*050AF275F9DEC2417DE497191D71D12730C0E20F8B20B17703CAD4B7C93AD039?api-version=2020-10-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Microsoft.Logz/locations/WESTUS2/operationStatuses/56d55149-7f0a-429f-a757-1873cd04c1e2*050AF275F9DEC2417DE497191D71D12730C0E20F8B20B17703CAD4B7C93AD039?api-version=2020-10-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/ce37d538-dfa3-49c3-b3cd-149b4b7db48a/resourceGroups/logz-rg-el53t6/providers/Microsoft.Logz/monitors/monitor-wscj87/accounts/subAccountsds1sl\",\"name\":\"subAccountsds1sl\",\"type\":\"microsoft.logz/monitors/accounts\",\"location\":\"westus2\",\"systemData\":{\"createdBy\":\"v-diya@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2021-09-17T07:12:06.7465785Z\",\"lastModifiedBy\":\"v-diya@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2021-09-17T07:12:06.7465785Z\"},\"properties\":{\"provisioningState\":\"Accepted\",\"monitoringStatus\":\"Enabled\",\"marketplaceSubscriptionStatus\":\"Active\",\"logzOrganizationProperties\":{\"companyName\":\"monitor-wscj87\",\"id\":null,\"enterpriseAppId\":null,\"singleSignOnUrl\":null},\"userInfo\":null,\"planData\":{\"usageType\":\"PAYG\",\"billingCycle\":\"Monthly\",\"planDetails\":\"100gb14days\",\"effectiveDate\":\"2021-09-17T07:12:01.8731223Z\"},\"liftrResourceCategory\":\"MonitorLogs\",\"liftrResourcePreference\":0}}",
    }
  },
  "New-AzLogzSubAccount+[NoContext]+CRUCase+$GET+https://management.azure.com/providers/Microsoft.Logz/locations/WESTUS2/operationStatuses/56d55149-7f0a-429f-a757-1873cd04c1e2*050AF275F9DEC2417DE497191D71D12730C0E20F8B20B17703CAD4B7C93AD039?api-version=2020-10-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Logz/locations/WESTUS2/operationStatuses/56d55149-7f0a-429f-a757-1873cd04c1e2*050AF275F9DEC2417DE497191D71D12730C0E20F8B20B17703CAD4B7C93AD039?api-version=2020-10-01-preview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"01007b40-0000-0800-0000-61443fe20000\"" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.Logz/locations/WESTUS2/operationStatuses/56d55149-7f0a-429f-a757-1873cd04c1e2*050AF275F9DEC2417DE497191D71D12730C0E20F8B20B17703CAD4B7C93AD039\",\"name\":\"56d55149-7f0a-429f-a757-1873cd04c1e2*050AF275F9DEC2417DE497191D71D12730C0E20F8B20B17703CAD4B7C93AD039\",\"resourceId\":\"/subscriptions/ce37d538-dfa3-49c3-b3cd-149b4b7db48a/resourceGroups/logz-rg-el53t6/providers/Microsoft.Logz/monitors/monitor-wscj87/accounts/subAccountsds1sl\",\"status\":\"Succeeded\",\"startTime\":\"2021-09-17T07:12:09.8203568Z\",\"endTime\":\"2021-09-17T07:12:34.3804618Z\",\"error\":{},\"properties\":null}",
    }
  },
  "New-AzLogzSubAccount+[NoContext]+CRUCase+$GET+https://management.azure.com/subscriptions/ce37d538-dfa3-49c3-b3cd-149b4b7db48a/resourceGroups/logz-rg-el53t6/providers/Microsoft.Logz/monitors/monitor-wscj87/accounts/subAccountsds1sl?api-version=2020-10-01-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/ce37d538-dfa3-49c3-b3cd-149b4b7db48a/resourceGroups/logz-rg-el53t6/providers/Microsoft.L[...]
