{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/mlcrp-cmdlet-test-remove-all-ps1383?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US 2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/mlcrp-cmdlet-test-remove-all-ps1383\",\r\n  \"name\": \"mlcrp-cmdlet-test-remove-all-ps1383\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/mlcrp-cmdlet-test-remove-all-ps1383/providers/Microsoft.MachineLearningCompute/operationalizationClusters/mlcrp-cmdlet-test-remove-all-ps4628?api-version=2017-08-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"Deployed from powershell\",\r\n    \"clusterType\": \"Local\"\r\n  },\r\n  \"location\": \"East US 2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/mlcrp-cmdlet-test-remove-all-ps1383/providers/Microsoft.MachineLearningCompute/operationalizationClusters/mlcrp-cmdlet-test-remove-all-ps4628\",\r\n  \"name\": \"mlcrp-cmdlet-test-remove-all-ps4628\",\r\n  \"type\": \"Microsoft.MachineLearningCompute/operationalizationClusters\",\r\n  \"location\": \"East US 2\",\r\n  \"tags\": null,\r\n  \"properties\": {\r\n    \"createdOn\": \"2018-02-09T01:22:38.006Z\",\r\n    \"description\": \"Deployed from powershell\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"provisioningErrors\": null,\r\n    \"storageAccount\": {\r\n      \"resourceId\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/mlcrp-cmdlet-test-remove-all-ps1383-azureml-c7344/providers/Microsoft.Storage/storageAccounts/mlcrpstg21c757828413\"\r\n    },\r\n    \"containerRegistry\": {\r\n      \"resourceId\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/mlcrp-cmdlet-test-remove-all-ps1383-azureml-c7344/providers/Microsoft.ContainerRegistry/registries/mlcrpacr31c88722e9ed\"\r\n    },\r\n    \"clusterType\": \"Local\",\r\n    \"containerService\": null,\r\n    \"appInsights\": {\r\n      \"resourceId\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/mlcrp-cmdlet-test-remove-all-ps1383-azureml-c7344/providers/Microsoft.Insights/components/mlcrpai7f288331a5b4\"\r\n    },\r\n    \"globalServiceConfiguration\": null\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.MachineLearningCompute/locations/eastus2/operationsStatus/a2de5562-6c29-485e-b113-bb79384971f9?api-version=2017-06-01-preview"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.MachineLearningCompute/locations/eastus2/operationsStatus/a2de5562-6c29-485e-b113-bb79384971f9?api-version=2017-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/locations/eastus2/operationStatus/a2de5562-6c29-485e-b113-bb79384971f9\",\r\n  \"name\": \"a2de5562-6c29-485e-b113-bb79384971f9\",\r\n  \"status\": \"Creating\",\r\n  \"startTime\": \"2018-02-09T01:22:39.393Z\",\r\n  \"percentComplete\": 0.0\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14973"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.MachineLearningCompute/locations/eastus2/operationsStatus/a2de5562-6c29-485e-b113-bb79384971f9?api-version=2017-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/locations/eastus2/operationStatus/a2de5562-6c29-485e-b113-bb79384971f9\",\r\n  \"name\": \"a2de5562-6c29-485e-b113-bb79384971f9\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2018-02-09T01:22:39.393Z\",\r\n  \"endTime\": \"2018-02-09T01:24:42.241Z\",\r\n  \"percentComplete\": 0.0\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14971"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/mlcrp-cmdlet-test-remove-all-ps1383/providers/Microsoft.MachineLearningCompute/operationalizationClusters?api-version=2017-08-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/mlcrp-cmdlet-test-remove-all-ps1383/providers/Microsoft.MachineLearningCompute/operationalizationClusters/mlcrp-cmdlet-test-remove-all-ps4628\",\r\n      \"name\": \"mlcrp-cmdlet-test-remove-all-ps4628\",\r\n      \"type\": \"Microsoft.MachineLearningCompute/operationalizationClusters\",\r\n      \"location\": \"East US 2\",\r\n      \"tags\": null,\r\n      \"properties\": {\r\n        \"createdOn\[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/mlcrp-cmdlet-test-remove-all-ps1383/providers/Microsoft.MachineLearningCompute/operationalizationClusters/mlcrp-cmdlet-test-remove-all-ps4628?api-version=2017-08-01-preview&deleteAll=true",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.MachineLearningCompute/locations/eastus2/operationsStatus/8e73f23b-f9b6-47f7-b0f9-fa8e99a4978e?api-version=2017-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.MachineLearningCompute/locations/eastus2/operationsStatus/8e73f23b-f9b6-47f7-b0f9-fa8e99a4978e?api-version=2017-06-01-preview"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.MachineLearningCompute/locations/eastus2/operationsStatus/8e73f23b-f9b6-47f7-b0f9-fa8e99a4978e?api-version=2017-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/locations/eastus2/operationStatus/8e73f23b-f9b6-47f7-b0f9-fa8e99a4978e\",\r\n  \"name\": \"8e73f23b-f9b6-47f7-b0f9-fa8e99a4978e\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2018-02-09T01:25:12.098Z\",\r\n  \"endTime\": \"2018-02-09T01:27:13.12Z\",\r\n  \"percentComplete\": 0.0,\r\n  \"error\": {}\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14963"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/mlcrp-cmdlet-test-remove-all-ps1383-azureml-c7344?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'mlcrp-cmdlet-test-remove-all-ps1383-azureml-c7344' could not be found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/mlcrp-cmdlet-test-remove-all-ps1383?api-version=2016-02-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1NTENSUDoyRENNRExFVDoyRFRFU1Q6MkRSRU1PVkU6MkRBTEw6MkRQUzEzODMtRUFTVFVTMiIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMiJ9?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1NTENSUDoyRENNRExFVDoyRFRFU1Q6MkRSRU1PVkU6MkRBTEw6MkRQUzEzODMtRUFTVFVTMiIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMiJ9?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1NTENSUDoyRENNRExFVDoyRFRFU1Q6MkRSRU1PVkU6MkRBTEw6MkRQUzEzODMtRUFTVFVTMiIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMiJ9?api-version=2016-02-01"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1NTENSUDoyRENNRExFVDoyRFRFU1Q6MkRSRU1PVkU6MkRBTEw6MkRQUzEzODMtRUFTVFVTMiIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMiJ9?api-version=2016-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-02-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14988"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-RemoveIncludeAllResources": [
      "ps1383",
      "ps4628"
    ]
  },
  "Variables": {
    "SubscriptionId": "c9cbd920-c00c-427c-852b-8aaf38badaeb"
  }
}