{
  "Get-AzSupportFile+[NoContext]+List+$GET+https://management.azure.com/subscriptions/4df09db9-7a7e-450b-8f88-00fb97c277bd/providers/Microsoft.Support/fileWorkspaces/test-ps-0c3b99a5-4267-4823-bac3-9ce954258d71/files?api-version=2022-09-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/4df09db9-7a7e-450b-8f88-00fb97c277bd/providers/Microsoft.Support/fileWorkspaces/test-ps-0c3b99a5-4267-4823-bac3-9ce954258d71/files?api-version=2022-09-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "7" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/4df09db9-7a7e-450b-8f88-00fb97c277bd/providers/Microsoft.Support/fileWorkspaces/test-ps-0c3b99a5-4267-4823-bac3-9ce954258d71/files/test2.txt\",\"name\":\"test2.txt\",\"type\":\"Microsoft.Support/files\",\"properties\":{\"createdOn\":\"2024-01-31T20:48:23Z\",\"fileSize\":4,\"chunkSize\":4,\"numberOfChunks\":1}}]}",
    }
  },
  "Get-AzSupportFile+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/4df09db9-7a7e-450b-8f88-00fb97c277bd/providers/Microsoft.Support/fileWorkspaces/test-ps-0c3b99a5-4267-4823-bac3-9ce954258d71/files/test2.txt?api-version=2022-09-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/4df09db9-7a7e-450b-8f88-00fb97c277bd/providers/Microsoft.Support/fileWorkspaces/test-ps-0c3b99a5-4267-4823-bac3-9ce954258d71/files/test2.txt?api-version=2022-09-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "8" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/4df09db9-7a7e-450b-8f88-00fb97c277bd/providers/Microsoft.Support/fileWorkspaces/test-ps-0c3b99a5-4267-4823-bac3-9ce954258d71/files/test2.txt\",\"name\":\"test2.txt\",\"type\":\"Microsoft.Support/files\",\"properties\":{\"createdOn\":\"2024-01-31T20:48:23Z\",\"fileSize\":4,\"chunkSize\":4,\"numberOfChunks\":1}}",
    }
  }
}