{
  "New-AzSupportFileWorkspace+[NoContext]+Create+$PUT+https://management.azure.com/subscriptions/4df09db9-7a7e-450b-8f88-00fb97c277bd/providers/Microsoft.Support/fileWorkspaces/test-ps-788d2c69-ffb3-4b2e-96a0-769089ff7a7a?api-version=2022-09-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/4df09db9-7a7e-450b-8f88-00fb97c277bd/providers/Microsoft.Support/fileWorkspaces/test-ps-788d2c69-ffb3-4b2e-96a0-769089ff7a7a?api-version=2022-09-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/4df09db9-7a7e-450b-8f88-00fb97c277bd/providers/Microsoft.Support/fileWorkspaces/test-ps-788d2c69-ffb3-4b2e-96a0-769089ff7a7a?api-version=2022-09-01-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/4df09db9-7a7e-450b-8f88-00fb97c277bd/providers/Microsoft.Support/fileWorkspaces/test-ps-788d2c69-ffb3-4b2e-96a0-769089ff7a7a\",\"name\":\"test-ps-788d2c69-ffb3-4b2e-96a0-769089ff7a7a\",\"type\":\"Microsoft.Support/fileWorkspaces\",\"properties\":{\"expirationTime\":\"2024-01-30T21:24:25Z\",\"createdOn\":\"2024-01-29T21:24:25Z\"}}",
    }
  }
}