{
  "New-AzSupportFileWorkspacesNoSubscription+[NoContext]+Create+$PUT+https://management.azure.com/providers/Microsoft.Support/fileWorkspaces/test-ps-a169629b-d263-4ba1-872a-0d79019ca2d3?api-version=2022-09-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Support/fileWorkspaces/test-ps-a169629b-d263-4ba1-872a-0d79019ca2d3?api-version=2022-09-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Location": [ "https://management.azure.com/providers/Microsoft.Support/fileWorkspaces/test-ps-a169629b-d263-4ba1-872a-0d79019ca2d3?api-version=2022-09-01-preview" ],
        "x-ms-ratelimit-remaining-tenant-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.Support/fileWorkspaces/test-ps-a169629b-d263-4ba1-872a-0d79019ca2d3\",\"name\":\"test-ps-a169629b-d263-4ba1-872a-0d79019ca2d3\",\"type\":\"Microsoft.Support/fileWorkspaces\",\"properties\":{\"expirationTime\":\"2024-01-30T21:25:41Z\",\"createdOn\":\"2024-01-29T21:25:41Z\"}}",
    }
  }
}