{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps9989?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-45a9-930c-ddb2e56fa131\"\r\n    },\r\n    {\r\n      \"applicationId\": \"486c78bf-a0f7-45f1-92fd-37215929e116\",\r\n      \"roleDefinitionId\": \"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"virtualNetworks\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"UK West\",\r\n        \"UK South\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"West US\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2018-07-01\",\r\n        \"2018-06-01\",\r\n        \"2018-05-01\",\r\n        \"2018-04-01\",\r\n        \"2018-03-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-01\",\r\n        \"2017-11-01\",\r\n        \"2017-10-01\",\r\n        \"2017-09-01\",\r\n        \"2017-08-01\",\r\n        \"2017-06-01\",\r\n        \"2017-04-01\",\r\n        \"2017-03-01\",\r\n        \"2016-12-01\",\r\n        \"2016-11-01\",\r\n        \"2016-10-01\",\r\n        \"2016-09-01\",\r\n        \"2016-08-01\",\r\n        \"2016-07-01\",\r\n        \"2016-06-01\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\",\r\n        \"2014-12-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"publicIPAddresses\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\"[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps5436?api-version=2016-09-01",
>>>>>>> f10edb53ef6ba2d17ef0cb5c111d7177f59e8a8f
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
<<<<<<< HEAD
          "16e20777-ba96-470d-b3e9-7a9b33102bed"
=======
          "33309b15-1af6-4d84-87b9-3fe2e3d111c2"
>>>>>>> f10edb53ef6ba2d17ef0cb5c111d7177f59e8a8f
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.3132.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17134",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/4.1.0"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps9989\",\r\n  \"name\": \"ps9989\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5436\",\r\n  \"name\": \"ps5436\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
>>>>>>> f10edb53ef6ba2d17ef0cb5c111d7177f59e8a8f
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1190"
        ],
        "x-ms-request-id": [
          "487b4f0b-b800-4fa5-ac24-05c41eb593a9"
        ],
        "x-ms-correlation-request-id": [
          "487b4f0b-b800-4fa5-ac24-05c41eb593a9"
        ],
        "x-ms-routing-request-id": [
          "BRAZILUS:20180907T070127Z:487b4f0b-b800-4fa5-ac24-05c41eb593a9"
=======
          "1169"
        ],
        "x-ms-request-id": [
          "179c4280-8f37-466d-b922-54c5d1917c34"
        ],
        "x-ms-correlation-request-id": [
          "179c4280-8f37-466d-b922-54c5d1917c34"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20180903T144622Z:179c4280-8f37-466d-b922-54c5d1917c34"
>>>>>>> f10edb53ef6ba2d17ef0cb5c111d7177f59e8a8f
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 07 Sep 2018 07:01:27 GMT"
=======
          "Mon, 03 Sep 2018 14:46:22 GMT"
>>>>>>> f10edb53ef6ba2d17ef0cb5c111d7177f59e8a8f
        ]
      },
      "StatusCode": 201
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps9989/providers/Microsoft.Network/loadBalancers/ps7473?api-version=2018-08-01",
=======
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps5436/providers/Microsoft.Network/loadBalancers/ps1637?api-version=2018-07-01",
>>>>>>> f10edb53ef6ba2d17ef0cb5c111d7177f59e8a8f
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "51b90f3f-8f76-4d46-8df9-611ec274c726"
=======
          "e7a5563e-74ed-4d83-b600-7bc3bcd8cf42"
>>>>>>> f10edb53ef6ba2d17ef0cb5c111d7177f59e8a8f
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.3132.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17134",
<<<<<<< HEAD
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/loadBalancers/ps7473' under resource group 'ps9989' was not found.\"\r\n  }\r\n}",
=======
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.3.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/loadBalancers/ps1637' under resource group 'ps5436' was not found.\"\r\n  }\r\n}",
>>>>>>> f10edb53ef6ba2d17ef0cb5c111d7177f59e8a8f
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "8361249c-dc72-47d5-a268-488a89c64b3e"
        ],
        "x-ms-correlation-request-id": [
          "8361249c-dc72-47d5-a268-488a89c64b3e"
        ],
        "x-ms-routing-request-id": [
          "BRAZILUS:20180907T070128Z:8361249c-dc72-47d5-a268-488a89c64b3e"
=======
          "60f7e17e-fe9a-49ff-ae2b-5e66f155635c"
        ],
        "x-ms-correlation-request-id": [
          "60f7e17e-fe9a-49ff-ae2b-5e66f155635c"
        ],
        "x-m[...]
