{
  "Entries": [
    {
      "RequestUri": "/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/services/storageservices",
      "RequestMethod": "POST",
      "RequestBody": "<CreateStorageServiceInput xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>storthree</ServiceName>\r\n  <Description p2:nil=\"true\" xmlns:p2=\"http://www.w3.org/2001/XMLSchema-instance\" />\r\n  <Label>c3RvcnRocmVl</Label>\r\n  <Location>West US</Location>\r\n  <AccountType>Standard_GRS</AccountType>\r\n</CreateStorageServiceInput>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ],
        "Location": [
          "https://management.core.windows.net/subscriptions/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/storage/storthree"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/operations/f3707248ccdf38bb8d1023d75e7c12fb",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>f3707248-ccdf-38bb-8d10-23d75e7c12fb</ID>\r\n  <Status>InProgress</Status>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/operations/f3707248ccdf38bb8d1023d75e7c12fb",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<Operation xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ID>f3707248-ccdf-38bb-8d10-23d75e7c12fb</ID>\r\n  <Status>Succeeded</Status>\r\n  <HttpStatusCode>200</HttpStatusCode>\r\n</Operation>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/services/hostedservices",
      "RequestMethod": "POST",
      "RequestBody": "<CreateHostedService xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <ServiceName>storthree</ServiceName>\r\n  <Label>c3RvcnRocmVl</Label>\r\n  <Location>West US</Location>\r\n</CreateHostedService>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ],
        "Location": [
          "https://management.core.windows.net/subscriptions/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/compute/storthree"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/services/hostedservices/storthree/deploymentslots/Production",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "<Error xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Code>ResourceNotFound</Code>\r\n  <Message>No deployments were found.</Message>\r\n</Error>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/services/hostedservices/storthree/deploymentslots/Production",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "<Deployment xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Name>storthree</Name>\r\n  <DeploymentSlot>Production</DeploymentSlot>\r\n  <PrivateID>ddcfeed0be0d4eadac1cf2ffd5d706c1</PrivateID>\r\n  <Status>Running</Status>\r\n  <Label>c3RvcnRocmVl</Label>\r\n  <Url>http://storthree.cloudapp.net/</Url>\r\n  <Configuration>PFNlcnZpY2VDb25maWd1cmF0aW9uIHhtbG5zOnhzZD0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEiIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL1NlcnZpY2VIb3N0aW5nLzIwMDgvMTAvU2VydmljZUNvbmZpZ3VyYXRpb24iPg0KICA8Um9sZSBuYW1lPSJ2bXRocmVlIj4NCiAgICA8SW5zdGFuY2VzIGNvdW50PSIxIiAvPg0KICA8L1JvbGU+DQo8L1NlcnZpY2VDb25maWd1cmF0aW9uPg==</Configuration>\r\n  <RoleInstanceList>\r\n    <RoleInstance>\r\n      <RoleName>vmthree</RoleName>\r\n      <InstanceName>vmthree</InstanceName>\r\n      <InstanceStatus>RoleStateUnknown</InstanceStatus>\r\n      <InstanceUpgradeDomain>0</InstanceUpgradeDomain>\r\n      <InstanceFaultDomain>0</InstanceFaultDomain>\r\n      <InstanceSize>Small</InstanceSize>\r\n      <InstanceStateDetails />\r\n      <IpAddress>10.93.60.70</IpAddress>\r\n      <InstanceEndpoints>\r\n        <InstanceEndpoint>\r\n          <Name>PowerShell</Name>\r\n          <Vip>40.118.214.128</Vip>\r\n          <PublicPort>64439</PublicPort>\r\n          <LocalPort>5986</LocalPort>\r\n          <Protocol>tcp</Protocol>\r\n        </InstanceEndpoint>\r\n        <InstanceEndpoint>\r\n          <Name>RemoteDesktop</Name>\r\n          <Vip>40.118.214.128</Vip>\r\n          <PublicPort>49627</PublicPort>\r\n          <LocalPort>3389</LocalPort>\r\n          <Protocol>tcp</Protocol>\r\n        </InstanceEndpoint>\r\n      </InstanceEndpoints>\r\n      <PowerState>Starting</PowerState>\r\n      <GuestAgentStatus>\r\n        <ProtocolVersion>1.0</ProtocolVersion>\r\n        <Timestamp>2017-01-02T07:04:34Z</Timestamp>\r\n        <GuestAgentVersion>Unknown</GuestAgentVersion>\r\n        <Status>NotReady</Status>\r\n        <FormattedMessage>\r\n          <Language>en-US</Language>\r\n          <Message>Status not available for role vmthree.</Message>\r\n        </FormattedMessage>\r\n      </GuestAgentStatus>\r\n    </RoleInstance>\r\n  </RoleInstanceList>\r\n  <UpgradeDomainCount>1</UpgradeDomainCount>\r\n  <RoleList>\r\n    <Role i:type=\"PersistentVMRole\">\r\n      <RoleName>vmthree</RoleName>\r\n      <OsVersion />\r\n      <RoleType>PersistentVMRole</RoleType>\r\n      <ConfigurationSets>\r\n        <ConfigurationSet i:type=\"NetworkConfigurationSet\">\r\n          <ConfigurationSetType>NetworkConfiguration</ConfigurationSetType>\r\n          <InputEndpoints>\r\n            <InputEndpoint>\r\n              <LocalPort>5986</LocalPort>\r\n              <Name>PowerShell</Name>\r\n              <Port>64439</Port>\r\n              <Protocol>tcp</Protocol>\r\n              <Vip>40.118.214.128</Vip>\r\n              <EnableDirectServerReturn>false</EnableDirectServerReturn>\r\n            </InputEndpoint>\r\n            <InputEndpoint>\r\n              <LocalPort>3389</LocalPort>\r\n              <Name>RemoteDesktop</Name>\r\n              <Port>49627</Port>\r\n              <Protocol>tcp</Protocol>\r\n              <Vip>40.118.214.128</Vip>\r\n              <EnableDirectServerReturn>false</EnableDirectServerReturn>\r\n            </InputEndpoint>\r\n          </InputEndpoints>\r\n          <SubnetNames />\r\n        </ConfigurationSet>\r\n      </ConfigurationSets>\r\n      <ResourceExtensionReferences>\r\n        <ResourceExtensionReference>\r\n          <ReferenceName>BGInfo</ReferenceName>\r\n          <Publisher>Microsoft.Compute</Publisher>\r\n          <Name>BGInfo</Name>\r\n          <Version>2.*</Version>\r\n          <ResourceExtensionParameterValues />\r\n          <State>Enable</State>\r\n        </ResourceExtensionReference>\r\n      </ResourceExtensionReferences>\r\n      <DataVirtualHardDisks />\r\n      <OSVirtualHardDisk>\r\n        <HostCaching>ReadWrite</HostCaching>\r\n        <DiskName>storthree-vmthree-0-201701020704030352</DiskName>\r\n        <MediaLink>https://storthree.blob.core.windows.net/vhds/storthree-vmthree-2017-1-2-7-3-58-664-0.vhd</MediaLink>\r\n        <SourceImageName>a699494373c04fc0bc8f2bb1389d6106__Windows-Server-2012-R2-20161214-en.us-127GB.vhd</SourceImageName>\r\n        <OS>Windows</OS>\r\n        <IOType>Standard</IOType>\r\n      </OSVirtualHardDisk>\r\n      <RoleSize>Small</RoleSize>\r\n      <DefaultWinRmCertificateThumbprint>F4FFAD1BB881B0894FFAA4F635662B4E1B282912</DefaultWinRmCertificateThumbprint>\r\n      <ProvisionGuestAgent>true</ProvisionGuestAgent>\r\n      <DebugSettings>\r\n        <BootDiagnosticsEnabled>true</BootDiagnosticsEnabled>\r\n        <ConsoleScreenshotBlobUri>http://storthree.blob.core.windows.net/bootdiagnostics91b096aa-a5b1-4d0f-b38e-4b53a10de544/storthree.ddcfeed0be0d4eadac1cf2ffd5d706c1.vmthree-screenshot.bmp</ConsoleScreenshotBlobUri>\r\n      </DebugSettings>\r\n    </Role>\r\n  </RoleList>\r\n  <SdkVersion />\r\n  <Locked>false</Locked>\r\n  <RollbackAllowed>false</RollbackAllowed>\r\n  <CreatedTime>2017-01-02T07:04:00Z</CreatedTime>\r\n  <LastModifiedTime>2017-01-02T07:04:34Z</LastModifiedTime>\r\n  <ExtendedProperties />\r\n  <PersistentVMDowntime>\r\n    <StartTime>2016-12-20T15:24:52Z</StartTime>\r\n    <EndTime>2017-12-20T15:24:52Z</EndTime>\r\n    <Status>PersistentVMUpdateScheduled</Status>\r\n  </PersistentVMDowntime>\r\n  <VirtualIPs>\r\n    <VirtualIP>\r\n      <Address>40.118.214.128</Address>\r\n      <IsDnsProgrammed>true</IsDnsProgrammed>\r\n      <Name>storthreeContractContract</Name>\r\n    </VirtualIP>\r\n  </VirtualIPs>\r\n  <InternalDnsSuffix>storthree.d7.internal.cloudapp.net</InternalDnsSuffix>\r\n  <LoadBalancers />\r\n</Deployment>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/services/images/a699494373c04fc0bc8f2bb1389d6106__Windows-Server-2012-R2-20161214-en.us-127GB.vhd",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "<OSImage xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Category>Public</Category>\r\n  <Label>Windows Server 2012 R2 Datacenter, December 2016</Label>\r\n  <Location>East Asia;Southeast Asia;Australia East;Australia Southeast;Brazil South;North Europe;West Europe;Central India;South India;West India;Japan East;Japan West;Central US;East US;East US 2;North Central US;South Central US;West US</Location>\r\n  <LogicalSizeInGB>128</LogicalSizeInGB>\r\n  <Name>a699494373c04fc0bc8f2bb1389d6106__Windows-Server-2012-R2-20161214-en.us-127GB.vhd</Name>\r\n  <OS>Windows</OS>\r\n  <Description>At the heart of the Microsoft Cloud OS vision, Windows Server 2012 R2 brings Microsoft's experience delivering global-scale cloud services into your infrastructure. It offers enterprise-class performance, flexibility for your applications and excellent economics for your datacenter and hybrid cloud environment. This image includes Windows Server 2012 R2 Update.</Description>\r\n  <ImageFamily>Windows Server 2012 R2 Datacenter</ImageFamily>\r\n  <ShowInGui>true</ShowInGui>\r\n  <PublishedDate>2016-12-14T08:00:00Z</PublishedDate>\r\n  <IsPremium>false</IsPremium>\r\n  <IconUri>WindowsServer2012R2_100.png</IconUri>\r\n  <RecommendedVMSize>Standard_D1</RecommendedVMSize>\r\n  <PublisherName>Microsoft Windows Server Group</PublisherName>\r\n  <SmallIconUri>WindowsServer2012R2_45.png</SmallIconUri>\r\n  <IOType>Standard_LRS</IOType>\r\n</OSImage>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/services/vmimages",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "<VMImages xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <VMImage>\r\n    <Name>chef-extn-ubuntu-test-agent205</Name>\r\n    <Label>Test drop of Azure Agent 2.0.5 - 6 June</Label>\r\n    <Category>User</Category>\r\n    <OSDiskConfiguration>\r\n      <Name>chef-extn-ubuntu-test-agent205-os-2014-06-06</Name>\r\n      <HostCaching>ReadWrite</HostCaching>\r\n      <OSState>Generalized</OSState>\r\n      <OS>Linux</OS>\r\n      <MediaLink>http://kdstorage.blob.core.windows.net/vhds/chef-extn-ubuntu-test-agent205-os-2014-06-06.vhd</MediaLink>\r\n      <LogicalDiskSizeInGB>30</LogicalDiskSizeInGB>\r\n      <IOType>Standard_LRS</IOType>\r\n    </OSDiskConfiguration>\r\n    <DataDiskConfigurations />\r\n    <ServiceName>kd-azurefix</ServiceName>\r\n    <DeploymentName>kd-azurefix</DeploymentName>\r\n    <RoleName>kd-azurefix</RoleName>\r\n    <Location>West US</Location>\r\n    <CreatedTime>2014-06-06T11:23:51.9880247Z</CreatedTime>\r\n    <ModifiedTime>2014-06-06T11:23:51.9880247Z</ModifiedTime>\r\n    <IsPremium>false</IsPremium>\r\n    <VMImageState>VMImageReadyForUse</VMImageState>\r\n    <RoleStateOnCapture>RoleStateStoppedDeallocated</RoleStateOnCapture>\r\n    <RoleSizeOnCapture>Small</RoleSizeOnCapture>\r\n  </VMImage>\r\n  <VMImage>\r\n    <Name>Chef-Server-Image-v12.0</Name>\r\n    <Label>Chef-Server-Image</Label>\r\n    <Category>User</Category>\r\n    <OSDiskConfiguration>\r\n      <Name>Chef-Server-Image-v12.0-os-2015-01-12</Name>\r\n      <HostCaching>ReadWrite</HostCaching>\r\n      <OSState>Generalized</OSState>\r\n      <OS>Linux</OS>\r\n      <MediaLink>http://kdstorage.blob.core.windows.net/vhds/Chef-Server-Image-v12.0-os-2015-01-12.vhd</MediaLink>\r\n      [...]
    {
      "RequestUri": "/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/services/hostedservices/operations/isavailable/storthree",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "<AvailabilityResponse xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Result>false</Result>\r\n  <Reason>A hosted service with the specified name already exists.</Reason>\r\n</AvailabilityResponse>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/services/resourceextensions/Microsoft.Compute/BGInfo",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "<ResourceExtensions xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ResourceExtension>\r\n    <Publisher>Microsoft.Compute</Publisher>\r\n    <Name>BGInfo</Name>\r\n    <Version>1.0</Version>\r\n    <Label>Windows Azure VMAccess Extension for IaaS</Label>\r\n    <Description>Windows Azure BGInfo Extension for IaaS</Description>\r\n    <PublicConfigurationSchema />\r\n    <PrivateConfigurationSchema />\r\n    <ReplicationCompleted>true</ReplicationCompleted>\r\n  </ResourceExtension>\r\n  <ResourceExtension>\r\n    <Publisher>Microsoft.Compute</Publisher>\r\n    <Name>BGInfo</Name>\r\n    <Version>1.0.1</Version>\r\n    <Label>Windows Azure BGinfo Extension for IaaS</Label>\r\n    <Description>Windows Azure BGInfo Extension for IaaS</Description>\r\n    <PublicConfigurationSchema />\r\n    <PrivateConfigurationSchema />\r\n    <ReplicationCompleted>true</ReplicationCompleted>\r\n  </ResourceExtension>\r\n  <ResourceExtension>\r\n    <Publisher>Microsoft.Compute</Publisher>\r\n    <Name>BGInfo</Name>\r\n    <Version>1.1</Version>\r\n    <Label>Windows Azure BGinfo Extension for IaaS</Label>\r\n    <Description>Windows Azure BGInfo Extension for IaaS</Description>\r\n    <PublicConfigurationSchema />\r\n    <PrivateConfigurationSchema />\r\n    <ReplicationCompleted>true</ReplicationCompleted>\r\n  </ResourceExtension>\r\n  <ResourceExtension>\r\n    <Publisher>Microsoft.Compute</Publisher>\r\n    <Name>BGInfo</Name>\r\n    <Version>1.2.2</Version>\r\n    <Label>Windows Azure BGInfo Extension for IaaS</Label>\r\n    <Description>Windows Azure BGInfo Extension for IaaS</Description>\r\n    <PublicConfigurationSchema />\r\n    <PrivateConfigurationSchema />\r\n    <ReplicationCompleted>true</ReplicationCompleted>\r\n    <CompanyName>Microsoft Azure</CompanyName>\r\n    <PublishedDate>2015-09-03T02:54:22.524853Z</PublishedDate>\r\n    <Regions />\r\n  </ResourceExtension>\r\n  <ResourceExtension>\r\n    <Publisher>Microsoft.Compute</Publisher>\r\n    <Name>BGInfo</Name>\r\n    <Version>2.1</Version>\r\n    <Label>Windows Azure Json-Versioned BGInfo Extension</Label>\r\n    <Description>Windows Azure Json-Versioned BGInfo Extension</Description>\r\n    <PublicConfigurationSchema />\r\n    <PrivateConfigurationSchema />\r\n    <ReplicationCompleted>true</ReplicationCompleted>\r\n    <IsJsonExtension>true</IsJsonExtension>\r\n    <CompanyName>Microsoft</CompanyName>\r\n    <PublishedDate>2015-09-03T05:03:02.3580868Z</PublishedDate>\r\n    <Regions />\r\n  </ResourceExtension>\r\n</ResourceExtensions>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/services/hostedservices/storthree/deployments",
      "RequestMethod": "POST",
      "RequestBody": "<Deployment xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <Name>storthree</Name>\r\n  <DeploymentSlot>Production</DeploymentSlot>\r\n  <Label>storthree</Label>\r\n  <RoleList>\r\n    <Role>\r\n      <RoleName>vmthree</RoleName>\r\n      <RoleType>PersistentVMRole</RoleType>\r\n      <ConfigurationSets>\r\n        <ConfigurationSet>\r\n          <ConfigurationSetType>NetworkConfiguration</ConfigurationSetType>\r\n          <InputEndpoints>\r\n            <InputEndpoint>\r\n              <LocalPort>3389</LocalPort>\r\n              <Name>RemoteDesktop</Name>\r\n              <Protocol>tcp</Protocol>\r\n            </InputEndpoint>\r\n            <InputEndpoint>\r\n              <LocalPort>5986</LocalPort>\r\n              <Name>PowerShell</Name>\r\n              <Protocol>tcp</Protocol>\r\n            </InputEndpoint>\r\n          </InputEndpoints>\r\n          <SubnetNames />\r\n          <PublicIPs />\r\n          <NetworkInterfaces />\r\n          <StoredCertificateSettings />\r\n        </ConfigurationSet>\r\n        <ConfigurationSet>\r\n          <ConfigurationSetType>WindowsProvisioningConfiguration</ConfigurationSetType>\r\n          <ComputerName>vmthree</ComputerName>\r\n          <AdminPassword>PLACEHOLDER1@</AdminPassword>\r\n          <ResetPasswordOnFirstLogon>false</ResetPasswordOnFirstLogon>\r\n          <EnableAutomaticUpdates>true</EnableAutomaticUpdates>\r\n          <StoredCertificateSettings />\r\n          <WinRM>\r\n            <Listeners>\r\n              <Listener>\r\n                <Protocol>Https</Protocol>\r\n              </Listener>\r\n            </Listeners>\r\n          </WinRM>\r\n          <AdminUsername>pstestuser</AdminUsername>\r\n        </ConfigurationSet>\r\n      </ConfigurationSets>\r\n      <ResourceExtensionReferences>\r\n        <ResourceExtensionReference>\r\n          <ReferenceName>BGInfo</ReferenceName>\r\n          <Publisher>Microsoft.Compute</Publisher>\r\n          <Name>BGInfo</Name>\r\n          <Version>2.*</Version>\r\n          <ResourceExtensionParameterValues />\r\n        </ResourceExtensionReference>\r\n      </ResourceExtensionReferences>\r\n      <Label>storthree</Label>\r\n      <OSVirtualHardDisk>\r\n        <MediaLink>https://storthree.blob.core.windows.net/vhds/storthree-vmthree-2017-1-2-7-3-58-664-0.vhd</MediaLink>\r\n        <SourceImageName>a699494373c04fc0bc8f2bb1389d6106__Windows-Server-2012-R2-20161214-en.us-127GB.vhd</SourceImageName>\r\n      </OSVirtualHardDisk>\r\n      <ProvisionGuestAgent>true</ProvisionGuestAgent>\r\n      <DebugSettings>\r\n        <BootDiagnosticsEnabled>true</BootDiagnosticsEnabled>\r\n      </DebugSettings>\r\n    </Role>\r\n  </RoleList>\r\n</Deployment>",
      "RequestHeaders": {
        "Content-Type": [
          "application/xml"
        ],
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/services/resourceextensions",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "<ResourceExtensions xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <ResourceExtension>\r\n    <Publisher>Acronis.Backup</Publisher>\r\n    <Name>AcronisBackup</Name>\r\n    <Version>1.0</Version>\r\n    <Label>Acronis</Label>\r\n    <Description>Acronis VM Extension for Acronis Backup Cloud</Description>\r\n    <ReplicationCompleted>true</ReplicationCompleted>\r\n    <Eula>http://www.acronis.com/en-us/download/docs/eula/consumer/</Eula>\r\n    <PrivacyUri>http://www.acronis.com/en-us/company/privacy.html</PrivacyUri>\r\n    <HomepageUri>http://www.acronis.com/redirector/products/abs/</HomepageUri>\r\n    <IsJsonExtension>true</IsJsonExtension>\r\n    <CompanyName>Acronis</CompanyName>\r\n    <PublishedDate>2016-05-17T13:29:11.5053433Z</PublishedDate>\r\n    <Regions />\r\n  </ResourceExtension>\r\n  <ResourceExtension>\r\n    <Publisher>Acronis.Backup</Publisher>\r\n    <Name>AcronisBackupLinux</Name>\r\n    <Version>1.0</Version>\r\n    <Label>Acronis</Label>\r\n    <Description>Acronis VM Extension for Acronis Backup Cloud</Description>\r\n    <ReplicationCompleted>true</ReplicationCompleted>\r\n    <Eula>http://www.acronis.com/en-us/download/docs/eula/consumer/</Eula>\r\n    <PrivacyUri>http://www.acronis.com/en-us/company/privacy.html</PrivacyUri>\r\n    <HomepageUri>http://www.acronis.com/redirector/products/abs/</HomepageUri>\r\n    <IsJsonExtension>true</IsJsonExtension>\r\n    <CompanyName>Acronis</CompanyName>\r\n    <PublishedDate>2016-05-17T14:10:02.5465304Z</PublishedDate>\r\n    <Regions />\r\n  </ResourceExtension>\r\n  <ResourceExtension>\r\n    <Publisher>AlertLogic.</Publisher>\r\n    <Name>AlertLogicLM</Name>\r\n    <Version>1.3</Version>\r\n    <Label>Log Manager</Label>\r\n    <Description>Alert Logic Log Manager</Description>\r\n    <PublicConfigurationSchema />\r\n    <PrivateConfigurationSchema />\r\n    <SampleConfig>eyJydW50aW1lU2V0dGluZ3MiOiBbeyJoYW5kbGVyU2V0dGluZ3MiOiB7InB1YmxpY1NldHRpbmdzIjogeyJSZWdpc3RyYXRpb25LZXkiOiB7InJlZ2lzdHJhdGlvbktleSI6ICIifX19fV19</SampleConfig>\r\n    <ReplicationCompleted>true</ReplicationCompleted>\r\n    <Eula>http://www.alertlogic.com/</Eula>\r\n    <PrivacyUri>http://www.alertlogic.com/</PrivacyUri>\r\n    <HomepageUri>http://www.alertlogic.com/</HomepageUri>\r\n    <IsJsonExtension>true</IsJsonExtension>\r\n    <SupportedOS>Windows</SupportedOS>\r\n    <CompanyName>Alert Logic, Inc.</CompanyName>\r\n    <PublishedDate>2014-10-29T20:15:41.018188Z</PublishedDate>\r\n  </ResourceExtension>\r\n  <ResourceExtension>\r\n    <Publisher>AlertLogic.Extension</Publisher>\r\n    <Name>AlertLogicLM</Name>\r\n    <Version>1.9</Version>\r\n    <Label>Log Manager</Label>\r\n    <Description>Alert Logic Log Manager</Description>\r\n    <PublicConfigurationSchema />\r\n    <PrivateConfigurationSchema />\r\n    <SampleConfig>PCFbQ0R[...]
[...]
    {
      "RequestUri": "/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/services/hostedservices/storthree/deployments/storthree/roles/vmthree",
      "RequestMethod": "PUT",
      "RequestBody": "<PersistentVMRole xmlns=\"http://schemas.microsoft.com/windowsazure\">\r\n  <RoleName>vmthree</RoleName>\r\n  <RoleType>PersistentVMRole</RoleType>\r\n  <ConfigurationSets>\r\n    <ConfigurationSet>\r\n      <ConfigurationSetType>NetworkConfiguration</ConfigurationSetType>\r\n      <InputEndpoints>\r\n        <InputEndpoint>\r\n          <LocalPort>5986</LocalPort>\r\n          <Name>PowerShell</Name>\r\n          <Port>64439</Port>\r\n          <Protocol>tcp</Protocol>\r\n          <Vip>40.118.214.128</Vip>\r\n [...]
[...]
    {
      "RequestUri": "/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/services/storageservices/storthree",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-03-01"
        ]
      },
      "ResponseBody": "<Error xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Code>BadRequest</Code>\r\n  <Message>Storage account storthree has some active image(s) and/or disk(s), e.g. storthree-vmthree-0-201701020704030352. Ensure these image(s) and/or disk(s) are removed before deleting this storage account.</Message>\r\n</Error>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 400
    },
    {
      "RequestUri": "/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/services/hostedservices/storthree?embed-detail=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "<HostedService xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Url>https://management.core.windows.net/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/services/hostedservices/storthree</Url>\r\n  <ServiceName>storthree</ServiceName>\r\n  <HostedServiceProperties>\r\n    <Description i:nil=\"true\" />\r\n    <Location>West US</Location>\r\n    <Label>c3RvcnRocmVl</Label>\r\n    <Status>Created</Status>\r\n    <DateCreated>2017-01-02T07:03:54Z</DateCreated>\r\n    <DateLastModified>2017-01-02T07:05:13Z</DateLastModified>\r\n    <ExtendedProperties>\r\n      <ExtendedProperty>\r\n        <Name>ResourceGroup</Name>\r\n        <Value>storthree</Value>\r\n      </ExtendedProperty>\r\n      <ExtendedProperty>\r\n        <Name>ResourceLocation</Name>\r\n        <Value>West US</Value>\r\n      </ExtendedProperty>\r\n    </ExtendedProperties>\r\n  </HostedServiceProperties>\r\n  <Deployments>\r\n    <Deployment>\r\n      <Name>storthree</Name>\r\n      <DeploymentSlot>Production</DeploymentSlot>\r\n      <PrivateID>ddcfeed0be0d4eadac1cf2ffd5d706c1</PrivateID>\r\n      <Status>Running</Status>\r\n      <Label>c3RvcnRocmVl</Label>\r\n      <Url>http://storthree.cloudapp.net/</Url>\r\n      <Configuration>PFNlcnZpY2VDb25maWd1cmF0aW9uIHhtbG5zOnhzZD0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEiIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vc2N[...]
[...]
    {
      "RequestUri": "/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/services/hostedservices/storthree/deployments/storthree",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99/services/hostedservices/storthree",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2016-06-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "ussouth3"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "e00d2b3f-3b94-4dfc-ae8e-ca34c8ba1a99"
  }
}