{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps1498?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
=======
      "RequestUri": "/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11979"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-45a9-930c-ddb2e56fa131\"\r\n    },\r\n    {\r\n      \"applicationId\": \"486c78bf-a0f7-45f1-92fd-37215929e116\",\r\n      \"roleDefinitionId\": \"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d\"\r\n    },\r\n    {\r\n      \"applicationId\": \"19947cfd-0303-466c-ac3c-fcc19a7a1570\",\r\n      \"roleDefinitionId\": \"d813ab6c-bfb7-413e-9462-005b21f0ce09\"\r\n    },\r\n    {\r\n      \"applicationId\": \"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd\",\r\n      \"roleDefinitionId\": \"8141843c-c51c-4c1e-a5bf-0d351594b86c\"\r\n    },\r\n    {\r\n      \"applicationId\": \"328fd23b-de6e-462c-9433-e207470a5727\",\r\n      \"roleDefinitionId\": \"79e29e06-4056-41e5-a6b2-959f1f47747e\"\r\n    },\r\n    {\r\n      \"applicationId\": \"6d057c82-a784-47ae-8d12-ca7b38cf06b4\",\r\n      \"roleDefinitionId\": \"c27dd31e-c1e5-4ab0-93e1-a12ba34f182e\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"virtualNetworks\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"UK West\",\r\n        \"UK South\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"Australia Central\",\r\n        \"South Africa North\",\r\n        \"UAE North\",\r\n        \"Switzerland North\",\r\n        \"Germany West Central\",\r\n        \"Norway East\",\r\n        \"West US\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\",\r\n        \"France South\",\r\n        \"Australia Central 2\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2020-07-01\",\r\n        \"2020-05-01\",\r\n        \"2020-04-01\",\r\n        \"2020-03-01\",\r\n        \"2020-01-01\",\r\n        \"2019-12-01\",\r\n        \"2019-11-01\",\r\n        \"2019-09-01\",\r\n        \"2019-08-01\",\r\n        \"2019-07-01\",\r\n        \"2019-06-01\",\r\n        \"2019-04-01\",\r\n        \"2019-02-01\",\r\n        \"2018-12-01\",\r\n        \"2018-11-01\",\r\n        \"2018-10-01\",\r\n        \"2018-08-01\",\r\n        \"2018-07-01\",\r\n        \"2018-06-01\",\r\n        \"2018-05-01\",\r\n        \"2018-04-01\",\r\n        \"2018-03-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-01\",\r\n        \"2017-11-01\",\r\n        \"2017-10-01\",\r\n        \"2017-09-01\",\r\n        \"2017-08-01\",\r\n        \"2017-06-01\",\r\n        \"2017-04-01\",\r\n        \"2017-03-01\",\r\n        \"2016-12-01\",\r\n        \"2016-11-01\",\r\n        \"2016-10-01\",\r\n        \"2016-09-01\",\r\n        \"2016-08-01\",\r\n        \"2016-07-01\",\r\n        \"2016-06-01\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\",\r\n        \"2014-12-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"natGateways\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n [...]
    {
      "RequestUri": "/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/resourcegroups/ps7907?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.1"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.13"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "35"
=======
          "37"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1198"
        ],
        "x-ms-request-id": [
          "87326de1-c485-4e3c-ac6f-05d29481edaf"
        ],
        "x-ms-correlation-request-id": [
          "87326de1-c485-4e3c-ac6f-05d29481edaf"
        ],
        "x-ms-routing-request-id": [
          "WESTEUROPE:20190712T095530Z:87326de1-c485-4e3c-ac6f-05d29481edaf"
=======
          "1199"
        ],
        "x-ms-request-id": [
          "a0127128-bd9e-419c-9dc0-0e240302405f"
        ],
        "x-ms-correlation-request-id": [
          "a0127128-bd9e-419c-9dc0-0e240302405f"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200607T151053Z:a0127128-bd9e-419c-9dc0-0e240302405f"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 12 Jul 2019 09:55:29 GMT"
=======
          "Sun, 07 Jun 2020 15:10:53 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Length": [
          "172"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps1498\",\r\n  \"name\": \"ps1498\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps1498/providers/Microsoft.Network/virtualNetworks/VirtualNetworkName?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/resourceGroups/ps7907\",\r\n  \"name\": \"ps7907\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/resourceGroups/ps7907/providers/Microsoft.Network/virtualNetworks/VirtualNetworkName?api-version=2020-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "9791087b-39d4-466f-b305-8dde13a54620"
=======
          "5e0feba7-0951-4f6d-83d7-11a77e3cb33d"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "7ef44f5c-27e0-43c8-8174-dc8b52a40c74"
        ],
        "x-ms-correlation-request-id": [
          "7ef44f5c-27e0-43c8-8174-dc8b52a40c74"
        ],
        "x-ms-routing-request-id": [
          "WESTEUROPE:20190712T095532Z:7ef44f5c-27e0-43c8-8174-dc8b52a40c74"
=======
          "527aa34e-4f9f-49c4-a055-13ed905e5c79"
        ],
        "x-ms-correlation-request-id": [
          "527aa34e-4f9f-49c4-a055-13ed905e5c79"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200607T151053Z:527aa34e-4f9f-49c4-a055-13ed905e5c79"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 12 Jul 2019 09:55:31 GMT"
=======
          "Sun, 07 Jun 2020 15:10:53 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "162"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/VirtualNetworkName' under resource group 'ps1498' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/resourceGroups/ps7907/providers/Microsoft.Network/virtualNetworks/VirtualNetworkName?api-version=2020-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"49ee9461-df7f-4275-82ed-9c79ca7e0d4b\""
        ],
        "x-ms-request-id": [
          "2b591813-8c40-4e85-b139-1078f549b142"
        ],
        "x-ms-correlation-request-id": [
          "24de0c58-e2e1-4599-9f4e-addf3fea0463"
        ],
        "x-ms-arm-service-request-id": [
          "abcc570c-1828-4f25-90ef-8ee67ad7a2e9"
=======
          "W/\"caff6844-3e37-4a64-959a-7b12c8e0a164\""
        ],
        "x-ms-request-id": [
          "cf882423-2929-4368-98df-a10ba0693960"
        ],
        "x-ms-correlation-request-id": [
          "0a2fe98f-deea-4310-acb9-e33da90961e7"
        ],
        "x-ms-arm-service-request-id": [
          "d7da700d-536e-455f-bf47-6f6bd646010f"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11984"
        ],
        "x-ms-routing-request-id": [
          "WESTEUROPE:20190712T095540Z:24de0c58-e2e1-4599-9f4e-addf3fea0463"
=======
          "11994"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200607T151058Z:0a2fe98f-deea-4310-acb9-e33da90961e7"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Fri, 12 Jul 2019 09:55:39 GMT"
        ],
        "Content-Length": [
          "1318"
=======
          "Sun, 07 Jun 2020 15:10:57 GMT"
        ],
        "Content-Length": [
          "1312"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"VirtualNetworkName\",\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps1498/providers/Microsoft.Network/virtualNetworks/VirtualNetworkName\",\r\n  \"etag\": \"W/\\\"49ee9461-df7f-4275-82ed-9c79ca7e0d4b\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"983a70cb-7853-4bd6-816d-9d583b04a39e\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/8\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"SubnetName\",\r\n        \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps1498/providers/Microsoft.Network/virtualNetworks/VirtualNetworkName/subnets/SubnetName\",\r\n        \"etag\": \"W/\\\"49ee9461-df7f-4275-82ed-9c79ca7e0d4b\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps1498/providers/Microsoft.Network/virtualNetworks/VirtualNetworkName?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/8\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"resourceNavigationLinks\": [],\r\n          \"serviceAssociationLinks\": [],\r\n          \"delegations\": []\r\n        },\r\n        \"name\": \"SubnetName\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"VirtualNetworkName\",\r\n  \"id\": \"/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/resourceGroups/ps7907/providers/Microsoft.Network/virtualNetworks/VirtualNetworkName\",\r\n  \"e[...]
    {
      "RequestUri": "/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/resourceGroups/ps7907/providers/Microsoft.Network/virtualNetworks/VirtualNetworkName?api-version=2020-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/8\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"SubnetName\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"East US 2\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "598"
=======
          "683"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ]
<<<<<<< HEAD
          "c1bb25a0-9319-45cb-a0c4-4c273e2bc897"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/westcentralus/operations/c1bb25a0-9319-45cb-a0c4-4c273e2bc897?api-version=2019-06-01"
        ],
        "x-ms-correlation-request-id": [
          "659f7878-a1e0-422e-9706-fe3a7273c8d7"
        ],
        "x-ms-arm-service-request-id": [
          "c9ba9865-59ec-497e-8db2-e429ce68df3d"
=======
          "40621e5b-9149-40cb-9c93-4eae3b1d2dbe"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/providers/Microsoft.Network/locations/eastus2/operations/40621e5b-9149-40cb-9c93-4eae3b1d2dbe?api-version=2020-07-01"
        ],
        "x-ms-correlation-request-id": [
          "0becdcb6-e99d-45e3-8e74-d098ff355e4e"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-arm-service-request-id": [
          "7aebff2f-7ef7-4cfd-b3d5-2ba2fffb8eb5"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1195"
        ],
        "x-ms-routi[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/providers/Microsoft.Network/locations/westcentralus/operations/c1bb25a0-9319-45cb-a0c4-4c273e2bc897?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"VirtualNetworkName\",\r\n  \"id\": \"/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/resourceGroups/ps7907/providers/Microsoft.Network/virtualNetworks/VirtualNetworkName\",\r\n  \"etag\": \"W/\\\"c06545b2-43a4-4c18-8ba1-0462356fcc09\\\"\",\r\[...]
    {
      "RequestUri": "/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/providers/Microsoft.Network/locations/eastus2/operations/40621e5b-9149-40cb-9c93-4eae3b1d2dbe?api-version=2020-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
=======
          "FxVersion/4.6.28207.03"[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps1498/providers/Microsoft.Network/loadBalancers/ps5353?api-version=2019-06-01",
=======
          "216"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/loadBalancers/ps7683' under resource group 'ps7907' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps1498/providers/Microsoft.Network/loadBalancers/ps5353?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps7683\",\r\n  \"id\": \"/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/resourceGroups/ps7907/providers/Microsoft.Network/loadBalancers/ps7683\",\r\n  \"etag\": \"W/\\\"ba5c6c27-b126-4039-a5a2-c0b7eb97bb1a\\\"\",\r\n  \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"24b3df10-85b8-4423-93fd-824469363693\",\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps7683\",\r\n        \"id\": \"/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/resourceGroups/ps7907/providers/Microsoft.Network/loadBalancers/ps7683/frontendIPConfigurations/ps7683\",\r\n        \"etag\": \"W/\\\"ba5c6c27-b126-4039-a5a2-c0b7eb97bb1a\\\"\",\r\n        \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.1.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/resourceGroups/ps7907/providers/Microsoft.Network/virtualNetworks/VirtualNetworkName/subnets/SubnetName\"\r\n          },\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"inboundNatPools\": []\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps1498/providers/Microsoft.Network/loadBalancers/ps5353?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefixes\": [],\r\n              \"serviceEndpoints\": [],\r\n              \"serviceEndpointPolicies\": [],\r\n              \"resourceNavigationLinks\": [],\r\n              \"serviceAssociationLinks\": [],\r\n              \"delegations\": []\r\n            },\r\n            \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps1498/providers/Microsoft.Network/virtualNetworks/VirtualNetworkName/subnets/SubnetName\"\r\n          }\r\n        },\r\n        \"name\": \"ps5353\",\r\n        \"zones\": [],\r\n        \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps1498/providers/Microsoft.Network/loadBalancers/ps5353/FrontendIpConfigurations/ps5353\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n    \"inboundNatRules\": [],\r\n    \"inboundNatPools\": [],\r\n    \"outboundRules\": []\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"ps7683\",\r\n  \"id\": \"/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/resourceGroups/ps7907/providers/Microsoft.Network/loadBalancers/ps7683\",\r\n  \"etag\": \"W/\\\"e87ac365-17e2-4c01-b06e-4f4259a8dce4\\\"\",\r\n  \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"[...]
[...]
    {
      "RequestUri": "/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/resourcegroups/ps7907?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "64d2ead1-a41b-4523-ad2e-334a45a638dd"
=======
          "d338b98d-a97c-4266-9a6f-377878cef98a"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.1"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.13"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzE0OTgtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01"
=======
          "https://management.azure.com/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzc5MDctV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?ap[...]
    {
      "RequestUri": "/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzc5MDctV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/3dc13b6d-6896-40ac-98f7-f18cbce2a405/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzc5MDctV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
