{
  "Entries": [
    {
      "RequestUri": "/jobs?api-version=2016-07-01.3.1",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"filterTestId1\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Mon, 01 Aug 2016 20:44:02 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Mon, 01 Aug 2016 20:44:01 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://pstestaccount.centralus.batch.azure.com/jobs/job-1"
        ],
        "ETag": [
          "0x8D3BA4C91F45B3A"
        ],
        "Location": [
          "https://pstestaccount.centralus.batch.azure.com/jobs/job-1"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/jobs/filterTestId1/terminate?api-version=2016-07-01.3.1",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 01 Aug 2016 20:44:03 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Mon, 01 Aug 2016 20:44:02 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://pstestaccount.centralus.batch.azure.com/jobs/filterTestId1/terminate"
        ],
        "ETag": [
          "0x8D3BA4C9245EBEA"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/jobs?api-version=2016-07-01.3.1&$filter=startswith(id%2C'filterTest')",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 01 Aug 2016 20:44:06 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstestaccount.centralus.batch.azure.com/$metadata#jobs\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"filterTestId2\",\r\n      \"url\": \"https://pstestaccount.centralus.batch.azure.com/jobs/filterTestId2\",\r\n      \"eTag\": \"0x8D3BA4C921D1986\",\r\n      \"lastModified\": \"2016-08-01T20:44:02.103335Z\",\r\n      \"creationTime\": \"2016-08-01T20:44:02.0842928Z\",\r\n      \"state\": \"active\",\r\n      \"stateTransitionTime\": \"2016-08-01T20:44:02.103335Z\",\r\n      \"priority\": 0,\r\n      \"usesTaskDependencies\": false,\r\n      \"constraints\": {\r\n        \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n        \"maxTaskRetryCount\": 0\r\n      },\r\n      \"poolInfo\": {\r\n        \"poolId\": \"testPool\"\r\n      },\r\n      \"executionInfo\": {\r\n        \"startTime\": \"2016-08-01T20:44:02.103335Z\",\r\n        \"poolId\": \"testPool\"\r\n      },\r\n      \"onAllTasksComplete\": \"noaction\",\r\n      \"onTaskFailure\": \"noaction\"\r\n    },\r\n    {\r\n      \"id\": \"filterTestId1\",\r\n      \"url\": \"https://pstestaccount.centralus.batch.azure.com/jobs/filterTestId1\",\r\n      \"eTag\": \"0x8D3BA4C9245EBEA\",\r\n      \"lastModified\": \"2016-08-01T20:44:02.370865Z\",\r\n      \"creationTime\": \"2016-08-01T20:44:01.808279Z\",\r\n      \"state\": \"completed\",\r\n      \"stateTransitionTime\": \"2016-08-01T20:44:02.9344013Z\",\r\n      \"previousState\": \"active\",\r\n      \"previousStateTransitionTime\": \"2016-08-01T20:44:01.8363194Z\",\r\n      \"priority\": 0,\r\n      \"usesTaskDependencies\": false,\r\n      \"constraints\": {\r\n        \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n        \"maxTaskRetryCount\": 0\r\n      },\r\n      \"poolInfo\": {\r\n        \"poolId\": \"testPool\"\r\n      },\r\n      \"executionInfo\": {\r\n        \"startTime\": \"2016-08-01T20:44:01.8363194Z\",\r\n        \"endTime\": \"2016-08-01T20:44:02.9344013Z\",\r\n        \"poolId\": \"testPool\",\r\n        \"terminateReason\": \"UserTerminate\"\r\n      },\r\n      \"onAllTasksComplete\": \"noaction\",\r\n      \"onTaskFailure\": \"noaction\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/filterTestId1?api-version=2016-07-01.3.1",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 01 Aug 2016 20:44:07 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/jobs/thirdtestId?api-version=2016-07-01.3.1",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 01 Aug 2016 20:44:07 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "46241355-bb95-46a9-ba6c-42b554d71925",
    "AZURE_BATCH_ACCOUNT": "pstestaccount",
    "AZURE_BATCH_ENDPOINT": "https://pstestaccount.centralus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "AccountMgmtSampleGroup"
  }
}