{
  "Entries": [
    {
      "RequestUri": "/jobs?api-version=2016-07-01.3.1",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"testJob112e\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"autoPoolSpecification\": {\r\n      \"autoPoolIdPrefix\": \"TestSpecPrefix\",\r\n      \"poolLifetimeOption\": \"job\",\r\n      \"keepAlive\": false,\r\n      \"pool\": {\r\n        \"vmSize\": \"small\",\r\n        \"cloudServiceConfiguration\": {\r\n          \"osFamily\": \"4\",\r\n          \"targetOSVersion\": \"\"\r\n        },\r\n        \"targetDedicated\": 3\r\n      }\r\n    }\r\n  },\r\n  \"onAllTasksComplete\": \"noAction\",\r\n  \"onTaskFailure\": \"performExitOptionsJobAction\",\r\n  \"usesTaskDependencies\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Thu, 25 Aug 2016 04:12:53 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Thu, 25 Aug 2016 04:12:52 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://pstestaccount.centralus.batch.azure.com/jobs/job-1"
        ],
        "ETag": [
          "0x8D3CC9E15AB669E"
        ],
        "Location": [
          "https://pstestaccount.centralus.batch.azure.com/jobs/job-1"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/testJob112e/tasks?api-version=2016-07-01.3.1",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"taskId1\",\r\n  \"commandLine\": \"cmd /c dir /s\",\r\n  \"exitConditions\": {\r\n    \"exitCodes\": [\r\n      {\r\n        \"code\": 2,\r\n        \"exitOptions\": {}\r\n      }\r\n    ],\r\n    \"exitCodeRanges\": [\r\n      {\r\n        \"start\": 0,\r\n        \"end\": 5,\r\n        \"exitOptions\": {}\r\n      }\r\n    ],\r\n    \"schedulingError\": {\r\n      \"jobAction\": \"none\"\r\n    },\r\n    \"default\": {\r\n      \"jobAction\": \"none\"\r\n    }\r\n  },\r\n  \"runElevated\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Thu, 25 Aug 2016 04:12:54 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Thu, 25 Aug 2016 04:12:54 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://pstestaccount.centralus.batch.azure.com/jobs/testJob112e/tasks/taskId1"
        ],
        "ETag": [
          "0x8D3CC9E168D957A"
        ],
        "Location": [
          "https://pstestaccount.centralus.batch.azure.com/jobs/testJob112e/tasks/taskId1"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/testJob112e/tasks?api-version=2016-07-01.3.1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 25 Aug 2016 04:12:55 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstestaccount.centralus.batch.azure.com/$metadata#tasks\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"taskId1\",\r\n      \"url\": \"https://pstestaccount.centralus.batch.azure.com/jobs/testJob112e/tasks/taskId1\",\r\n      \"eTag\": \"0x8D3CC9E168D957A\",\r\n      \"creationTime\": \"2016-08-25T04:12:54.464857Z\",\r\n      \"lastModified\": \"2016-08-25T04:12:54.464857Z\",\r\n      \"state\": \"active\",\r\n      \"stateTransitionTime\": \"2016-08-25T04:12:54.464857Z\",\r\n      \"commandLine\": \"cmd /c dir /s\",\r\n      \"runElevated\": false,\r\n      \"exitConditions\": {\r\n        \"exitCodes\": [\r\n          {\r\n            \"code\": 2,\r\n            \"exitOptions\": {\r\n              \"jobAction\": \"none\"\r\n            }\r\n          }\r\n        ],\r\n        \"exitCodeRanges\": [\r\n          {\r\n            \"start\": 0,\r\n            \"end\": 5,\r\n            \"exitOptions\": {\r\n              \"jobAction\": \"none\"\r\n            }\r\n          }\r\n        ],\r\n        \"schedulingError\": {\r\n          \"jobAction\": \"none\"\r\n        },\r\n        \"default\": {\r\n          \"jobAction\": \"none\"\r\n        }\r\n      },\r\n      \"constraints\": {\r\n        \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n        \"retentionTime\": \"P10675199DT2H48M5.4775807S\",\r\n        \"maxTaskRetryCount\": 0\r\n      },\r\n      \"executionInfo\": {\r\n        \"retryCount\": 0,\r\n        \"requeueCount\": 0\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/testJob112e?api-version=2016-07-01.3.1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 25 Aug 2016 04:12:55 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstestaccount.centralus.batch.azure.com/$metadata#jobs/@Element\",\r\n  \"id\": \"testJob112e\",\r\n  \"url\": \"https://pstestaccount.centralus.batch.azure.com/jobs/testJob112e\",\r\n  \"eTag\": \"0x8D3CC9E15AB669E\",\r\n  \"lastModified\": \"2016-08-25T04:12:52.9825438Z\",\r\n  \"creationTime\": \"2016-08-25T04:12:52.8893248Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2016-08-25T04:12:52.9825438Z\",\r\n  \"priority\": 0,\r\n  \"usesTaskDependencies\": false,\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"poolInfo\": {\r\n    \"autoPoolSpecification\": {\r\n      \"autoPoolIdPrefix\": \"TestSpecPrefix\",\r\n      \"poolLifetimeOption\": \"job\",\r\n      \"keepAlive\": false,\r\n      \"pool\": {\r\n        \"vmSize\": \"small\",\r\n        \"maxTasksPerNode\": 1,\r\n        \"taskSchedulingPolicy\": {\r\n          \"nodeFillType\": \"Spread\"\r\n        },\r\n        \"resizeTimeout\": \"PT15M\",\r\n        \"targetDedicated\": 3,\r\n        \"enableAutoScale\": false,\r\n        \"enableInterNodeCommunication\": false,\r\n        \"cloudServiceConfiguration\": {\r\n          \"osFamily\": \"4\",\r\n          \"targetOSVersion\": \"*\"\r\n        }\r\n      }\r\n    }\r\n  },\r\n  \"executionInfo\": {\r\n    \"startTime\": \"2016-08-25T04:12:52.9825438Z\",\r\n    \"poolId\": \"TestSpecPrefix_255647CC-710A-4CE1-9D9D-1025ACE242DB\"\r\n  },\r\n  \"onAllTasksComplete\": \"noaction\",\r\n  \"onTaskFailure\": \"performexitoptionsjobaction\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Thu, 25 Aug 2016 04:12:52 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D3CC9E15AB669E"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/testJob112e?api-version=2016-07-01.3.1",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 25 Aug 2016 04:12:56 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "46241355-bb95-46a9-ba6c-42b554d71925",
    "AZURE_BATCH_ACCOUNT": "pstestaccount",
    "AZURE_BATCH_ENDPOINT": "https://pstestaccount.centralus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "accountmgmtsamplegroup"
  }
}