{
  "Entries": [
    {
      "RequestUri": "/jobs?api-version=2016-07-01.3.1",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"testDisableEnableTerminateJob\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Sat, 19 Nov 2016 00:05:23 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Sat, 19 Nov 2016 00:05:25 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://jstesteastus2.eastus2.batch.azure.com/jobs/job-1"
        ],
        "ETag": [
          "0x8D4100FC34E0EB1"
        ],
        "Location": [
          "https://jstesteastus2.eastus2.batch.azure.com/jobs/job-1"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/testDisableEnableTerminateJob/disable?api-version=2016-07-01.3.1",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"disableTasks\": \"terminate\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Sat, 19 Nov 2016 00:05:25 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Sat, 19 Nov 2016 00:05:26 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://jstesteastus2.eastus2.batch.azure.com/jobs/testDisableEnableTerminateJob/disable"
        ],
        "ETag": [
          "0x8D4100FC4381B13"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/jobs/testDisableEnableTerminateJob?api-version=2016-07-01.3.1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Sat, 19 Nov 2016 00:05:26 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://jstesteastus2.eastus2.batch.azure.com/$metadata#jobs/@Element\",\r\n  \"id\": \"testDisableEnableTerminateJob\",\r\n  \"url\": \"https://jstesteastus2.eastus2.batch.azure.com/jobs/testDisableEnableTerminateJob\",\r\n  \"eTag\": \"0x8D4100FC4381B13\",\r\n  \"lastModified\": \"2016-11-19T00:05:26.8647699Z\",\r\n  \"creationTime\": \"2016-11-19T00:05:25.311915Z\",\r\n  \"state\": \"disabled\",\r\n  \"stateTransitionTime\": \"2016-11-19T00:05:26.88777Z\",\r\n  \"previousState\": \"active\",\r\n  \"previousStateTransitionTime\": \"2016-11-19T00:05:25.3309105Z\",\r\n  \"priority\": 0,\r\n  \"usesTaskDependencies\": false,\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  },\r\n  \"executionInfo\": {\r\n    \"startTime\": \"2016-11-19T00:05:25.3309105Z\",\r\n    \"poolId\": \"testPool\"\r\n  },\r\n  \"onAllTasksComplete\": \"noaction\",\r\n  \"onTaskFailure\": \"noaction\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Sat, 19 Nov 2016 00:05:26 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D4100FC4381B13"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/testDisableEnableTerminateJob?api-version=2016-07-01.3.1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Sat, 19 Nov 2016 00:05:26 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://jstesteastus2.eastus2.batch.azure.com/$metadata#jobs/@Element\",\r\n  \"id\": \"testDisableEnableTerminateJob\",\r\n  \"url\": \"https://jstesteastus2.eastus2.batch.azure.com/jobs/testDisableEnableTerminateJob\",\r\n  \"eTag\": \"0x8D4100FC49F0278\",\r\n  \"lastModified\": \"2016-11-19T00:05:27.5391608Z\",\r\n  \"creationTime\": \"2016-11-19T00:05:25.311915Z\",\r\n  \"state\": \"completed\",\r\n  \"stateTransitionTime\": \"2016-11-19T00:05:27.578581Z\",\r\n  \"previousState\": \"active\",\r\n  \"previousStateTransitionTime\": \"2016-11-19T00:05:27.2137716Z\",\r\n  \"priority\": 0,\r\n  \"usesTaskDependencies\": false,\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  },\r\n  \"executionInfo\": {\r\n    \"startTime\": \"2016-11-19T00:05:25.3309105Z\",\r\n    \"endTime\": \"2016-11-19T00:05:27.578581Z\",\r\n    \"poolId\": \"testPool\",\r\n    \"terminateReason\": \"UserTerminate\"\r\n  },\r\n  \"onAllTasksComplete\": \"noaction\",\r\n  \"onTaskFailure\": \"noaction\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Sat, 19 Nov 2016 00:05:27 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D4100FC49F0278"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/testDisableEnableTerminateJob/enable?api-version=2016-07-01.3.1",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Sat, 19 Nov 2016 00:05:26 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Sat, 19 Nov 2016 00:05:27 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://jstesteastus2.eastus2.batch.azure.com/jobs/testDisableEnableTerminateJob/enable"
        ],
        "ETag": [
          "0x8D4100FC46D5BF4"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/jobs?api-version=2016-07-01.3.1&$filter=id%20eq%20'testDisableEnableTerminateJob'",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Sat, 19 Nov 2016 00:05:26 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://jstesteastus2.eastus2.batch.azure.com/$metadata#jobs\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"testDisableEnableTerminateJob\",\r\n      \"url\": \"https://jstesteastus2.eastus2.batch.azure.com/jobs/testDisableEnableTerminateJob\",\r\n      \"eTag\": \"0x8D4100FC46D5BF4\",\r\n      \"lastModified\": \"2016-11-19T00:05:27.2137716Z\",\r\n      \"creationTime\": \"2016-11-19T00:05:25.311915Z\",\r\n      \"state\": \"active\",\r\n      \"stateTransitionTime\": \"2016-11-19T00:05:27.2137716Z\",\r\n      \"previousState\": \"disabled\",\r\n      \"previousStateTransitionTime\": \"2016-11-19T00:05:26.88777Z\",\r\n      \"priority\": 0,\r\n      \"usesTaskDependencies\": false,\r\n      \"constraints\": {\r\n        \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n        \"maxTaskRetryCount\": 0\r\n      },\r\n      \"poolInfo\": {\r\n        \"poolId\": \"testPool\"\r\n      },\r\n      \"executionInfo\": {\r\n        \"startTime\": \"2016-11-19T00:05:25.3309105Z\",\r\n        \"poolId\": \"testPool\"\r\n      },\r\n      \"onAllTasksComplete\": \"noaction\",\r\n      \"onTaskFailure\": \"noaction\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/testDisableEnableTerminateJob/terminate?api-version=2016-07-01.3.1",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Sat, 19 Nov 2016 00:05:26 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Sat, 19 Nov 2016 00:05:27 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://jstesteastus2.eastus2.batch.azure.com/jobs/testDisableEnableTerminateJob/terminate"
        ],
        "ETag": [
          "0x8D4100FC49F0278"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/jobs/testDisableEnableTerminateJob?api-version=2016-07-01.3.1",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Sat, 19 Nov 2016 00:05:26 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "46241355-bb95-46a9-ba6c-42b554d71925",
    "AZURE_BATCH_ACCOUNT": "jstesteastus2",
    "AZURE_BATCH_ENDPOINT": "https://jstesteastus2.eastus2.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "default-eastus"
  }
}