{
  "Entries": [
    {
      "RequestUri": "/jobs?api-version=2016-02-01.3.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"testJob4\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"autoPoolSpecification\": {\r\n      \"autoPoolIdPrefix\": \"TestSpecPrefix\",\r\n      \"poolLifetimeOption\": \"job\",\r\n      \"keepAlive\": false,\r\n      \"pool\": {\r\n        \"vmSize\": \"small\",\r\n        \"cloudServiceConfiguration\": {\r\n          \"osFamily\": \"4\",\r\n          \"targetOSVersion\": \"\"\r\n        },\r\n        \"targetDedicated\": 3\r\n      }\r\n    }\r\n  },\r\n  \"usesTaskDependencies\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Wed, 13 Apr 2016 04:27:00 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Wed, 13 Apr 2016 04:27:02 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://testmatt2.eastus.batch.azure.com/jobs/job-1"
        ],
        "ETag": [
          "0x8D36353DCAFF828"
        ],
        "Location": [
          "https://testmatt2.eastus.batch.azure.com/jobs/job-1"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/testJob4/tasks?api-version=2016-02-01.3.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"taskId1\",\r\n  \"commandLine\": \"cmd /c dir /s\",\r\n  \"runElevated\": false,\r\n  \"dependsOn\": {\r\n    \"taskIds\": [\r\n      \"2\",\r\n      \"3\"\r\n    ],\r\n    \"taskIdRanges\": [\r\n      {\r\n        \"start\": 1,\r\n        \"end\": 10\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Wed, 13 Apr 2016 04:27:01 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Wed, 13 Apr 2016 04:27:02 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://testmatt2.eastus.batch.azure.com/jobs/testJob4/tasks/taskId1"
        ],
        "ETag": [
          "0x8D36353DCCE91E0"
        ],
        "Location": [
          "https://testmatt2.eastus.batch.azure.com/jobs/testJob4/tasks/taskId1"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/testJob4?api-version=2016-02-01.3.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 13 Apr 2016 04:27:02 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://testmatt2.eastus.batch.azure.com/$metadata#jobs/@Element\",\r\n  \"id\": \"testJob4\",\r\n  \"url\": \"https://testmatt2.eastus.batch.azure.com/jobs/testJob4\",\r\n  \"eTag\": \"0x8D36353DCAFF828\",\r\n  \"lastModified\": \"2016-04-13T04:27:02.5327144Z\",\r\n  \"creationTime\": \"2016-04-13T04:27:02.5098246Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2016-04-13T04:27:02.5327144Z\",\r\n  \"priority\": 0,\r\n  \"usesTaskDependencies\": true,\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"poolInfo\": {\r\n    \"autoPoolSpecification\": {\r\n      \"autoPoolIdPrefix\": \"TestSpecPrefix\",\r\n      \"poolLifetimeOption\": \"job\",\r\n      \"keepAlive\": false,\r\n      \"pool\": {\r\n        \"vmSize\": \"small\",\r\n        \"maxTasksPerNode\": 1,\r\n        \"taskSchedulingPolicy\": {\r\n          \"nodeFillType\": \"Spread\"\r\n        },\r\n        \"resizeTimeout\": \"PT15M\",\r\n        \"targetDedicated\": 3,\r\n        \"enableAutoScale\": false,\r\n        \"enableInterNodeCommunication\": false,\r\n        \"cloudServiceConfiguration\": {\r\n          \"osFamily\": \"4\",\r\n          \"targetOSVersion\": \"*\"\r\n        }\r\n      }\r\n    }\r\n  },\r\n  \"executionInfo\": {\r\n    \"startTime\": \"2016-04-13T04:27:02.5327144Z\",\r\n    \"poolId\": \"TestSpecPrefix_A2501381-3EFF-4E87-956B-FDA6AD298231\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Wed, 13 Apr 2016 04:27:02 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D36353DCAFF828"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/testJob4/tasks/taskId1?api-version=2016-02-01.3.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 13 Apr 2016 04:27:02 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://testmatt2.eastus.batch.azure.com/$metadata#tasks/@Element\",\r\n  \"id\": \"taskId1\",\r\n  \"url\": \"https://testmatt2.eastus.batch.azure.com/jobs/testJob4/tasks/taskId1\",\r\n  \"eTag\": \"0x8D36353DCCE91E0\",\r\n  \"creationTime\": \"2016-04-13T04:27:02.7332576Z\",\r\n  \"lastModified\": \"2016-04-13T04:27:02.7332576Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2016-04-13T04:27:02.7332576Z\",\r\n  \"commandLine\": \"cmd /c dir /s\",\r\n  \"dependsOn\": {\r\n    \"taskIds\": [\r\n      \"2\",\r\n      \"3\"\r\n    ],\r\n    \"taskIdRanges\": [\r\n      {\r\n        \"start\": 1,\r\n        \"end\": 10\r\n      }\r\n    ]\r\n  },\r\n  \"runElevated\": false,\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"retentionTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"executionInfo\": {\r\n    \"retryCount\": 0,\r\n    \"requeueCount\": 0\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Wed, 13 Apr 2016 04:27:02 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D36353DCCE91E0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/testJob4?api-version=2016-02-01.3.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 13 Apr 2016 04:27:03 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "46241355-bb95-46a9-ba6c-42b554d71925",
    "AZURE_BATCH_ACCOUNT": "testmatt2",
    "AZURE_BATCH_ENDPOINT": "https://testmatt2.eastus.batch.azure.com"
  }
}