{
  "Entries": [
    {
      "RequestUri": "/jobs?api-version=2016-07-01.3.1",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"JobWithApplicationPackageReference\",\r\n  \"priority\": 0,\r\n  \"jobManagerTask\": {\r\n    \"id\": \"jobManager\",\r\n    \"displayName\": \"jobManagerDisplay\",\r\n    \"commandLine\": \"cmd /c dir /s\",\r\n    \"constraints\": {\r\n      \"maxWallClockTime\": \"PT1H\"\r\n    },\r\n    \"killJobOnCompletion\": false,\r\n    \"runElevated\": false,\r\n    \"applicationPackageReferences\": [\r\n      {\r\n        \"applicationId\": \"foo\",\r\n        \"version\": \"beta\"\r\n      }\r\n    ]\r\n  },\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  },\r\n  \"usesTaskDependencies\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Mon, 15 Aug 2016 03:15:31 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Mon, 15 Aug 2016 03:15:32 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://pstestaccount.centralus.batch.azure.com/jobs/job-1"
        ],
        "ETag": [
          "0x8D3C4BA6AE04B1D"
        ],
        "Location": [
          "https://pstestaccount.centralus.batch.azure.com/jobs/job-1"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/JobWithApplicationPackageReference?api-version=2016-07-01.3.1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 15 Aug 2016 03:15:32 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstestaccount.centralus.batch.azure.com/$metadata#jobs/@Element\",\r\n  \"id\": \"JobWithApplicationPackageReference\",\r\n  \"url\": \"https://pstestaccount.centralus.batch.azure.com/jobs/JobWithApplicationPackageReference\",\r\n  \"eTag\": \"0x8D3C4BA6AE04B1D\",\r\n  \"lastModified\": \"2016-08-15T03:15:32.5417245Z\",\r\n  \"creationTime\": \"2016-08-15T03:15:32.4567285Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2016-08-15T03:15:32.5417245Z\",\r\n  \"priority\": 0,\r\n  \"usesTaskDependencies\": false,\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"jobManagerTask\": {\r\n    \"id\": \"jobManager\",\r\n    \"displayName\": \"jobManagerDisplay\",\r\n    \"commandLine\": \"cmd /c dir /s\",\r\n    \"applicationPackageReferences\": [\r\n      {\r\n        \"applicationId\": \"foo\",\r\n        \"version\": \"beta\"\r\n      }\r\n    ],\r\n    \"constraints\": {\r\n      \"maxWallClockTime\": \"PT1H\",\r\n      \"retentionTime\": \"P10675199DT2H48M5.4775807S\",\r\n      \"maxTaskRetryCount\": 0\r\n    },\r\n    \"runElevated\": false,\r\n    \"runExclusive\": true,\r\n    \"killJobOnCompletion\": false\r\n  },\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  },\r\n  \"executionInfo\": {\r\n    \"startTime\": \"2016-08-15T03:15:32.5417245Z\",\r\n    \"poolId\": \"testPool\"\r\n  },\r\n  \"onAllTasksComplete\": \"noaction\",\r\n  \"onTaskFailure\": \"noaction\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Mon, 15 Aug 2016 03:15:32 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D3C4BA6AE04B1D"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/JobWithApplicationPackageReference?api-version=2016-07-01.3.1",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 15 Aug 2016 03:15:33 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "46241355-bb95-46a9-ba6c-42b554d71925",
    "AZURE_BATCH_ACCOUNT": "pstestaccount",
    "AZURE_BATCH_ENDPOINT": "https://pstestaccount.centralus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "accountmgmtsamplegroup"
  }
}