{
  "Entries": [
    {
      "RequestUri": "/jobs?api-version=2016-07-01.3.1",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"simple\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  },\r\n  \"usesTaskDependencies\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Mon, 01 Aug 2016 20:45:49 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Mon, 01 Aug 2016 20:45:48 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://pstestaccount.centralus.batch.azure.com/jobs/job-1"
        ],
        "ETag": [
          "0x8D3BA4CD1817F13"
        ],
        "Location": [
          "https://pstestaccount.centralus.batch.azure.com/jobs/job-1"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs?api-version=2016-07-01.3.1",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"complex\",\r\n  \"displayName\": \"displayName\",\r\n  \"priority\": 1,\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P1D\",\r\n    \"maxTaskRetryCount\": 5\r\n  },\r\n  \"jobManagerTask\": {\r\n    \"id\": \"jobManager\",\r\n    \"displayName\": \"jobManagerDisplay\",\r\n    \"commandLine\": \"cmd /c dir /s\",\r\n    \"resourceFiles\": [\r\n      {\r\n        \"blobSource\": \"https://testacct.blob.core.windows.net/\",\r\n        \"filePath\": \"filePath\"\r\n      }\r\n    ],\r\n    \"environmentSettings\": [\r\n      {\r\n        \"name\": \"name1\",\r\n        \"value\": \"value1\"\r\n      },\r\n      {\r\n        \"name\": \"name2\",\r\n        \"value\": \"value2\"\r\n      }\r\n    ],\r\n    \"constraints\": {\r\n      \"maxWallClockTime\": \"PT1H\"\r\n    },\r\n    \"killJobOnCompletion\": false,\r\n    \"runElevated\": false\r\n  },\r\n  \"jobPreparationTask\": {\r\n    \"id\": \"jobPrep\",\r\n    \"commandLine\": \"cmd /c dir /s\",\r\n    \"resourceFiles\": [\r\n      {\r\n        \"blobSource\": \"https://testacct.blob.core.windows.net/\",\r\n        \"filePath\": \"jobPrepFilePath\"\r\n      }\r\n    ],\r\n    \"environmentSettings\": [\r\n      {\r\n        \"name\": \"jobPrepName1\",\r\n        \"value\": \"jobPrepValue1\"\r\n      },\r\n      {\r\n        \"name\": \"jobPrepName2\",\r\n        \"value\": \"jobPrepValue2\"\r\n      }\r\n    ],\r\n    \"constraints\": {\r\n      \"maxTaskRetryCount\": 2\r\n    },\r\n    \"runElevated\": false\r\n  },\r\n  \"jobReleaseTask\": {\r\n    \"id\": \"jobRelease\",\r\n    \"commandLine\": \"cmd /c dir /s\",\r\n    \"resourceFiles\": [\r\n      {\r\n        \"blobSource\": \"https://testacct.blob.core.windows.net/\",\r\n        \"filePath\": \"jobReleaseFilePath\"\r\n      }\r\n    ],\r\n    \"environmentSettings\": [\r\n      {\r\n        \"name\": \"jobReleaseName1\",\r\n        \"value\": \"jobReleaseValue1\"\r\n      },\r\n      {\r\n        \"name\": \"jobReleaseName2\",\r\n        \"value\": \"jobReleaseValue2\"\r\n      }\r\n    ],\r\n    \"runElevated\": false\r\n  },\r\n  \"commonEnvironmentSettings\": [\r\n    {\r\n      \"name\": \"commonEnv1\",\r\n      \"value\": \"envValue1\"\r\n    },\r\n    {\r\n      \"name\": \"commonEnv2\",\r\n      \"value\": \"envValue2\"\r\n    }\r\n  ],\r\n  \"poolInfo\": {\r\n    \"autoPoolSpecification\": {\r\n      \"autoPoolIdPrefix\": \"TestSpecPrefix\",\r\n      \"poolLifetimeOption\": \"job\",\r\n      \"keepAlive\": false,\r\n      \"pool\": {\r\n        \"vmSize\": \"small\",\r\n        \"cloudServiceConfiguration\": {\r\n          \"osFamily\": \"4\",\r\n          \"targetOSVersion\": \"\"\r\n        },\r\n        \"targetDedicated\": 3,\r\n        \"startTask\": {\r\n          \"commandLine\": \"cmd /c dir /s\"\r\n        },\r\n        \"certificateReferences\": [\r\n          {\r\n            \"thumbprint\": \"0123456789ABCDEF\",\r\n            \"thumbprintAlgorithm\": \"sha1\",\r\n            \"storeLocation\": \"localmachine\",\r\n            \"storeName\": \"certStore\",\r\n            \"visibility\": [\r\n              \"starttask\"\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  },\r\n  \"metadata\": [\r\n    {\r\n      \"name\": \"meta2\",\r\n      \"value\": \"value2\"\r\n    },\r\n    {\r\n      \"name\": \"meta1\",\r\n      \"value\": \"value1\"\r\n    }\r\n  ],\r\n  \"usesTaskDependencies\": false\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Mon, 01 Aug 2016 20:45:50 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Mon, 01 Aug 2016 20:45:49 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://pstestaccount.centralus.batch.azure.com/jobs/job-1"
        ],
        "ETag": [
          "0x8D3BA4CD20B8E25"
        ],
        "Location": [
          "https://pstestaccount.centralus.batch.azure.com/jobs/job-1"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/simple?api-version=2016-07-01.3.1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 01 Aug 2016 20:45:50 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstestaccount.centralus.batch.azure.com/$metadata#jobs/@Element\",\r\n  \"id\": \"simple\",\r\n  \"url\": \"https://pstestaccount.centralus.batch.azure.com/jobs/simple\",\r\n  \"eTag\": \"0x8D3BA4CD1817F13\",\r\n  \"lastModified\": \"2016-08-01T20:45:48.4577555Z\",\r\n  \"creationTime\": \"2016-08-01T20:45:48.4281874Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2016-08-01T20:45:48.4577555Z\",\r\n  \"priority\": 0,\r\n  \"usesTaskDependencies\": false,\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"poolInfo\": {\r\n    \"poolId\": \"testPool\"\r\n  },\r\n  \"executionInfo\": {\r\n    \"startTime\": \"2016-08-01T20:45:48.4577555Z\",\r\n    \"poolId\": \"testPool\"\r\n  },\r\n  \"onAllTasksComplete\": \"noaction\",\r\n  \"onTaskFailure\": \"noaction\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Mon, 01 Aug 2016 20:45:48 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D3BA4CD1817F13"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/complex?api-version=2016-07-01.3.1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 01 Aug 2016 20:45:50 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstestaccount.centralus.batch.azure.com/$metadata#jobs/@Element\",\r\n  \"id\": \"complex\",\r\n  \"displayName\": \"displayName\",\r\n  \"url\": \"https://pstestaccount.centralus.batch.azure.com/jobs/compl[...]
[...]
    {
      "RequestUri": "/jobs/complex?api-version=2016-07-01.3.1",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 01 Aug 2016 20:45:51 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "46241355-bb95-46a9-ba6c-42b554d71925",
    "AZURE_BATCH_ACCOUNT": "pstestaccount",
    "AZURE_BATCH_ENDPOINT": "https://pstestaccount.centralus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "AccountMgmtSampleGroup"
  }
}