{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.ManagementPartner/partners/123456?api-version=2018-02-01",
      "RequestMethod": "PATCH",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/microsoft.managementpartner/partners/123456\",\r\n  \"type\": \"Microsoft.ManagementPartner/partners\",\r\n  \"name\": \"123456\",\r\n  \"etag\": 26,\r\n  \"properties\": {\r\n    \"partnerId\": \"123456\",\r\n    \"tenantId\": \"1b1121dd-6900-412a-af73-e8d44f81e1c1\",\r\n    \"objectId\": \"2119ba66-2042-49a1-bc31-940691d21bf4\",\r\n    \"updatedTime\": \"2018-02-01T08:16:23.3125453Z\",\r\n    \"createdTime\": \"2018-01-20T05:36:32.6851653Z\",\r\n    \"state\": \"Active\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1199"
        ],
        "x-gsm": [
          "8.1.0.38 (AD-CAB-Provisioning:dev.44ef628fd.180131-1010)"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "d14e8666-b43e-4f12-aa78-06c49c4859de",
    "TenantId": "1b1121dd-6900-412a-af73-e8d44f81e1c1",
    "Domain": ""
  }
}