{
  "Entries": [
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-set?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The requested resource of type 'Microsoft.Sql/managedInstances' with name 'az-powershell-flexmem-testing-set' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-set?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_G8IM\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen8IM\",\r\n    \"capacity\": 8\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"isGeneralPurposeV2\": true,\r\n    \"administratorLogin\": \"testusername\",\r\n    \"subnetId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/Gen8MMNeu/providers/Microsoft.Network/virtualNetworks/vnet-clperf-gen8mm-baseline-neu-gp8/subnets/ManagedInstance\",\r\n    \"state\": \"Creating\",\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"hybridSecondaryUsage\": \"Active\",\r\n    \"vCores\": 8,\r\n    \"storageSizeInGB\": 32,\r\n    \"storageIOps\": 2000,\r\n    \"storageThroughputMBps\": 75,\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"publicDataEndpointEnabled\": false,\r\n    \"proxyOverride\": \"Default\",\r\n    \"timezoneId\": \"UTC\",\r\n    \"maintenanceConfigurationId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default\",\r\n    \"privateEndpointConnections\": [],\r\n    \"minimalTlsVersion\": \"1.2\",\r\n    \"currentBackupStorageRedundancy\": \"Geo\",\r\n    \"requestedBackupStorageRedundancy\": \"Geo\",\r\n    \"zoneRedundant\": false,\r\n    \"virtualClusterId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/Gen8MMNeu/providers/Microsoft.Sql/virtualClusters/VirtualClustere1191eb1-6da2-4772-bdbf-8a1ec9c94375\",\r\n    \"externalGovernanceStatus\": \"Disabled\",\r\n    \"pricingModel\": \"Regular\",\r\n    \"createTime\": \"2025-08-15T18:19:32.153Z\",\r\n    \"authenticationMetadata\": \"AzureAD\",\r\n    \"databaseFormat\": \"SQLServer2022\",\r\n    \"requestedLogicalAvailabilityZone\": \"NoPreference\"\r\n  },\r\n  \"location\": \"northeurope\",\r\n  \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-set\",\r\n  \"name\": \"az-powershell-flexmem-testing-set\",\r\n  \"type\": \"Microsoft.Sql/managedInstances\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-set?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_G8IM\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen8IM\",\r\n    \"capacity\": 8\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"fullyQualifiedDomainName\": \"az-powershell-flexmem-testing-set.2bb6721dfd00.database.windows.net\",\r\n    \"isGeneralPurposeV2\": true,\r\n    \"administratorLogin\": \"testusername\",\r\n    \"subnetId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/Gen8MMNeu/providers/Microsoft.Network/virtualNetworks/vnet-clperf-gen8mm-baseline-neu-gp8/subnets/ManagedInstance\",\r\n    \"state\": \"Creating\",\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"hybridSecondaryUsage\": \"Active\",\r\n    \"vCores\": 8,\r\n    \"storageSizeInGB\": 32,\r\n    \"storageIOps\": 2000,\r\n    \"storageThroughputMBps\": 75,\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"dnsZone\": \"2bb6721dfd00\",\r\n    \"publicDataEndpointEnabled\": false,\r\n    \"proxyOverride\": \"Default\",\r\n    \"timezoneId\": \"UTC\",\r\n    \"maintenanceConfigurationId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default\",\r\n    \"privateEndpointConnections\": [],\r\n    \"minimalTlsVersion\": \"1.2\",\r\n    \"currentBackupStorageRedundancy\": \"Geo\",\r\n    \"requestedBackupStorageRedundancy\": \"Geo\",\r\n    \"zoneRedundant\": false,\r\n    \"virtualClusterId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/Gen8MMNeu/providers/Microsoft.Sql/virtualClusters/VirtualClustere1191eb1-6da2-4772-bdbf-8a1ec9c94375\",\r\n    \"externalGovernanceStatus\": \"Disabled\",\r\n    \"pricingModel\": \"Regular\",\r\n    \"createTime\": \"2025-08-15T18:19:32.153Z\",\r\n    \"authenticationMetadata\": \"AzureAD\",\r\n    \"databaseFormat\": \"SQLServer2022\",\r\n    \"requestedLogicalAvailabilityZone\": \"NoPreference\"\r\n  },\r\n  \"location\": \"northeurope\",\r\n  \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-set\",\r\n  \"name\": \"az-powershell-flexmem-testing-set\",\r\n  \"type\": \"Microsoft.Sql/managedInstances\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-set?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_G8IM\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen8IM\",\r\n    \"capacity\": 8\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"fullyQualifiedDomainName\": \"az-powershell-flexmem-testing-set.2bb6721dfd00.database.windows.net\",\r\n    \"isGeneralPurposeV2\": true,\r\n    \"administratorLogin\": \"testusername\",\r\n    \"subnetId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/Gen8MMNeu/providers/Microsoft.Network/virtualNetworks/vnet-clperf-gen8mm-baseline-neu-gp8/subnets/ManagedInstance\",\r\n    \"state\": \"Ready\",\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"hybridSecondaryUsage\": \"Active\",\r\n    \"vCores\": 8,\r\n    \"storageSizeInGB\": 32,\r\n    \"storageIOps\": 2000,\r\n    \"storageThroughputMBps\": 75,\r\n    \"memorySizeInGB\": 64,\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"dnsZone\": \"2bb6721dfd00\",\r\n    \"publicDataEndpointEnabled\": false,\r\n    \"proxyOverride\": \"Default\",\r\n    \"timezoneId\": \"UTC\",\r\n    \"maintenanceConfigurationId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default\",\r\n    \"privateEndpointConnections\": [],\r\n    \"minimalTlsVersion\": \"1.2\",\r\n    \"currentBackupStorageRedundancy\": \"Geo\",\r\n    \"requestedBackupStorageRedundancy\": \"Geo\",\r\n    \"zoneRedundant\": false,\r\n    \"virtualClusterId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/Gen8MMNeu/providers/Microsoft.Sql/virtualClusters/VirtualClustere1191eb1-6da2-4772-bdbf-8a1ec9c94375\",\r\n    \"externalGovernanceStatus\": \"Disabled\",\r\n    \"pricingModel\": \"Regular\",\r\n    \"createTime\": \"2025-08-15T18:19:32.153Z\",\r\n    \"authenticationMetadata\": \"AzureAD\",\r\n    \"databaseFormat\": \"SQLServer2022\",\r\n    \"requestedLogicalAvailabilityZone\": \"NoPreference\"\r\n  },\r\n  \"location\": \"northeurope\",\r\n  \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-set\",\r\n  \"name\": \"az-powershell-flexmem-testing-set\",\r\n  \"type\": \"Microsoft.Sql/managedInstances\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-set?api-version=2024-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_G8IM\"\r\n  },\r\n  \"properties\": {\r\n    \"isGeneralPurposeV2\": true,\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"Sanitized\",\r\n    \"subnetId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/Gen8MMNeu/providers/Microsoft.Network/virtualNetworks/vnet-clperf-gen8mm-baseline-neu-gp8/subnets/ManagedInstance\",\r\n    \"vCores\": 8,\r\n    \"storageSizeInGB\": 32,\r\n    \"storageIOps\": 2000,\r\n    \"publicDataEndpointEnabled\": false\r\n  },\r\n  \"location\": \"northeurope\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_G8IM\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen8IM\",\r\n    \"capacity\": 8\r\n  },\r\n  \"properties\": {\r\n    \"p[...]
[...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-set?$expand=administrators%2Factivedirectory&api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscripti[...]
[...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/locations/northeurope/managedInstanceAzureAsyncOperation/9dc1d1e7-3971-4e9c-af14-ec8d08e592d8?api-version=2024-11-01-preview&t=638908836083088941&c=MIIHhzCCBm-gAwIBAgITfAh_Ec4cGA5eC_tcQwAACH8RzjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNzE3MDk0MzUwWhcNMjYwMTEzMDk0MzUwWjBAMT4wPAYDVQQDEzVhc3l[...]
[...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-set?api-version=2024-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/locations/northeurope/managedInstanceOperationResults/362861ff-6093-4861-bbf9-3bc91ac235c3?api-version=2024-11-01-preview&t=638908854778996244&c=MIIHpTCCBo2gAwIBAgITfwXYLwBldsI4-E8kQgAEBdgvADANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNzE1MDYxODA0WhcNMjYwMTExMDYxODA0WjBAMT4wPAY[...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/locations/northeurope/managedInstanceAzureAsyncOperation/362861ff-6093-4861-bbf9-3bc91ac235c3?api-version=2024-11-01-preview&t=638908854778839906&c=MIIHpTCCBo2gAwIBAgITfwXYLwBldsI4-E8kQgAEBdgvADANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNzE1MDYxODA0WhcNMjYwMTExMDYxODA0WjBAMT4wPAYDVQQDEzVhc3l[...]
[...]
