{
  "Entries": [
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourcegroups/ps2461?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westeurope\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/ps2461\",\r\n  \"name\": \"ps2461\",\r\n  \"location\": \"westeurope\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/portalrg/providers/Microsoft.Network/virtualNetworks/vnet-portal-testing?api-version=2021-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"571b8b4e-be46-4cb8-a1c0-00955f7785ec\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vnet-portal-testing\",\r\n  \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/portalrg/providers/Microsoft.Network/virtualNetworks/vnet-portal-testing\",\r\n  \"etag\": \"W/\\\"571b8b4e-be46-4cb8-a1c0-00955f7785ec\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westeurope\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"859a918b-4ae9-4165-bbcc-4ec8816e7608\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ManagedInstance\",\r\n        \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/portalrg/providers/Microsoft.Network/virtualNetworks/vnet-portal-testing/subnets/ManagedInstance\",\r\n        \"etag\": \"W/\\\"571b8b4e-be46-4cb8-a1c0-00955f7785ec\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"networkSecurityGroup\": {\r\n            \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/portalrg/providers/Microsoft.Network/networkSecurityGroups/nsg-portal-testing\"\r\n          },\r\n          \"routeTable\": {\r\n            \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/portalrg/providers/Microsoft.Network/routeTables/rt-portal-testing\"\r\n          },\r\n          \"networkIntentPolicies\": [\r\n            {\r\n              \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/portalrg/providers/Microsoft.Network/networkIntentPolicies/mi_default_859a918b-4ae9-4165-bbcc-4ec8816e7608_10-0-0-0-24\"\r\n            }\r\n          ],\r\n          \"resourceNavigationLinks\": [\r\n            {\r\n              \"name\": \"VirtualCluster6827e226-0656-4bd7-9fc4-4329839411fc\",\r\n              \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/portalrg/providers/Microsoft.Network/virtualNetworks/vnet-portal-testing/subnets/ManagedInstance/resourceNavigationLinks/VirtualCluster6827e226-0656-4bd7-9fc4-4329839411fc\",\r\n              \"etag\": \"W/\\\"571b8b4e-be46-4cb8-a1c0-00955f7785ec\\\"\",\r\n              \"type\": \"Microsoft.Network/virtualNetworks/subnets/resourceNavigationLinks\",\r\n              \"properties\": {\r\n                \"provisioningState\": \"Succeeded\",\r\n                \"linkedResourceType\": \"Microsoft.Sql/virtualClusters\",\r\n                \"link\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/portalrg/providers/Microsoft.Sql/virtualClusters/VirtualCluster6827e226-0656-4bd7-9fc4-4329839411fc?api-version=2015-05-01-preview\"\r\n              }\r\n            }\r\n          ],\r\n          \"delegations\": [\r\n            {\r\n              \"name\": \"dlg-portal-testing\",\r\n              \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/portalrg/providers/Microsoft.Network/virtualNetworks/vnet-portal-testing/subnets/ManagedInstance/delegations/dlg-portal-testing\",\r\n              \"etag\": \"W/\\\"571b8b4e-be46-4cb8-a1c0-00955f7785ec\\\"\",\r\n              \"properties\": {\r\n                \"provisioningState\": \"Succeeded\",\r\n                \"serviceName\": \"Microsoft.Sql/managedInstances\",\r\n                \"actions\": [\r\n                  \"Microsoft.Network/virtualNetworks/subnets/join/action\",\r\n                  \"Microsoft.Network/virtualNetworks/subnets/prepareNetworkPolicies/action\",\r\n                  \"Microsoft.Network/virtualNetworks/subnets/unprepareNetworkPolicies/action\"\r\n                ]\r\n              },\r\n              \"type\": \"Microsoft.Network/virtualNetworks/subnets/delegations\"\r\n            }\r\n          ],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      },\r\n      {\r\n        \"name\": \"tooling\",\r\n        \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/portalrg/providers/Microsoft.Network/virtualNetworks/vnet-portal-testing/subnets/tooling\",\r\n        \"etag\": \"W/\\\"571b8b4e-be46-4cb8-a1c0-00955f7785ec\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"networkSecurityGroup\": {\r\n            \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/portalrg/providers/Microsoft.Network/networkSecurityGroups/vnet-portal-testing-tooling-NRMS\"\r\n          },\r\n          \"ipConfigurations\": [\r\n            {\r\n              \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/portalrg/providers/Microsoft.Network/networkInterfaces/tooling717/ipConfigurations/ipconfig1\"\r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/portalrg/providers/Microsoft.Network/networkInterfaces/tooling-vm743/ipConfigurations/ipconfig1\"\r\n            }\r\n          ],\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      },\r\n      {\r\n        \"name\": \"mdcs-tooling\",\r\n        \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/portalrg/providers/Microsoft.Network/virtualNetworks/vnet-portal-testing/subnets/mdcs-tooling\",\r\n    [...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/ps2461/providers/Microsoft.Sql/managedInstances/ps7014?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/managedInstances/ps7014' under resource group 'ps2461' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/ps2461/providers/Microsoft.Sql/managedInstances/ps7014?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"identity\": {\r\n    \"principalId\": \"6147380b-0bca-475b-a7c5-6eeffc3daaeb\",\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 4\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"fullyQualifiedDomainName\": \"ps7014.7c2d7b8f5240.database.windows.net\",\r\n    \"administratorLogin\": \"testusername\",\r\n    \"subnetId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/portalrg/providers/Microsoft.Network/virtualNetworks/vnet-portal-testing/subnets/ManagedInstance\",\r\n    \"state\": \"Creating\",\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"vCores\": 4,\r\n    \"storageSizeInGB\": 256,\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"dnsZone\": \"7c2d7b8f5240\",\r\n    \"publicDataEndpointEnabled\": false,\r\n    \"timezoneId\": \"UTC\",\r\n    \"maintenanceConfigurationId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default\",\r\n    \"privateEndpointConnections\": [],\r\n    \"storageAccountType\": \"GRS\",\r\n    \"zoneRedundant\": false\r\n  },\r\n  \"location\": \"westeurope\",\r\n  \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/ps2461/providers/Microsoft.Sql/managedInstances/ps7014\",\r\n  \"name\": \"ps7014\",\r\n  \"type\": \"Microsoft.Sql/managedInstances\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/ps2461/providers/Microsoft.Sql/managedInstances/ps7014?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11980"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"identity\": {\r\n    \"principalId\": \"6147380b-0bca-475b-a7c5-6eeffc3daaeb\",\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 4\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"fullyQualifiedDomainName\": \"ps7014.7c2d7b8f5240.database.windows.net\",\r\n    \"administratorLogin\": \"testusername\",\r\n    \"subnetId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/portalrg/providers/Microsoft.Network/virtualNetworks/vnet-portal-testing/subnets/ManagedInstance\",\r\n    \"state\": \"Ready\",\r\n    \"licenseType\": \"BasePrice\",\r\n    \"vCores\": 4,\r\n    \"storageSizeInGB\": 256,\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"dnsZone\": \"7c2d7b8f5240\",\r\n    \"publicDataEndpointEnabled\": true,\r\n    \"proxyOverride\": \"Proxy\",\r\n    \"timezoneId\": \"UTC\",\r\n    \"maintenanceConfigurationId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default\",\r\n    \"privateEndpointConnections\": [],\r\n    \"storageAccountType\": \"GRS\",\r\n    \"zoneRedundant\": false\r\n  },\r\n  \"location\": \"westeurope\",\r\n  \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/ps2461/providers/Microsoft.Sql/managedInstances/ps7014\",\r\n  \"name\": \"ps7014\",\r\n  \"type\": \"Microsoft.Sql/managedInstances\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/ps2461/providers/Microsoft.Sql/managedInstances/ps7014?api-version=2020-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\"\r\n  },\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!\",\r\n    \"subnetId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/portalrg/providers/Microsoft.Network/virtualNetworks/vnet-portal-testing/subnets/ManagedInstance\",\r\n    \"vCores\": 4,\r\n    \"publicDataEndpointEnabled\": false\r\n  },\r\n  \"location\": \"westeurope\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"identity\": {\r\n    \"principalId\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\": \"00000000-0000-0000-0000-000000000000\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 4\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"administratorLogin\": \"testusername\",\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"vCores\": 4,\r\n    \"storageSizeInGB\": 256,\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"publicDataEndpointEnabled\": false,\r\n    \"timezoneId\": \"UTC\",\r\n    \"maintenanceConfigurationId\": \"SystemDefault\",\r\n    \"privateEndpointConnections\": [],\r\n    \"storageAccountType\": \"GRS\"\r\n  },\r\n  \"location\": \"westeurope\",\r\n  \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/ps2461/providers/Microsoft.Sql/managedInstances/ps7014\",\r\n  \"name\": \"ps7014\",\r\n  \"type\": \"Microsoft.Sql/managedInstances\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/ps2461/providers/Microsoft.Sql/managedInstances/ps7014?api-version=2020-11-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"GP_Gen5\",\r\n    \"tier\": \"GeneralPurpose\"\r\n  },\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!\",\r\n    \"subnetId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/portalrg/providers/Microsoft.Network/virtualNetworks/vnet-portal-testing/subnets/ManagedInstance\",\r\n    \"licenseType\": \"BasePrice\",\r\n    \"vCores\": 4,\r\n    \"storageSizeInGB\": 64,\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"publicDataEndpointEnabled\": false,\r\n    \"timezoneId\": \"UTC\",\r\n    \"maintenanceConfigurationId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default\",\r\n    \"storageAccountType\": \"GRS\"\r\n  },\r\n  \"location\": \"westeurope\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/ps2461/providers/Microsoft.Sql/locations/westeurope/managedInstanceAzureAsyncOperation/66e7af0a-1de9-4f00-ba2c-b5dc3fad94dd?api-version=2020-11-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"identity\": {\r\n[...]
[...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/ps2461/providers/Microsoft.Sql/managedInstances/ps7014?$expand=administrators%2Factivedirectory&api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
    [...]
[...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/ps2461/providers/Microsoft.Sql/locations/westeurope/managedInstanceAzureAsyncOperation/66e7af0a-1de9-4f00-ba2c-b5dc3fad94dd?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11993"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"66e7af0a-1de9-4f00-ba2c-b5dc3fad94dd\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-07-29T09:23:04.72Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourcegroups/ps2461?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzI0NjEtV0VTVEVVUk9QRSIsImpvYkxvY2F0aW9uIjoid2VzdGV1cm9wZSJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzI0NjEtV0VTVEVVUk9QRSIsImpvYkxvY2F0aW9uIjoid2VzdGV1cm9wZSJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzI0NjEtV0VTVEVVUk9QRSIsImpvYkxvY2F0aW9uIjoid2VzdGV1cm9wZSJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzI0NjEtV0VTVEVVUk9QRSIsImpvYkxvY2F0aW9uIjoid2VzdGV1cm9wZSJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-SetManagedInstance": [
      "ps2461",
      "ps7014"
    ]
  },
  "Variables": {
    "SubscriptionId": "62e48210-5e43-423e-889b-c277f3e08c39"
  }
}