{
  "Entries": [
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-new?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-new' under resource group 'uroskrstic' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-new?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_G8IM\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen8IM\",\r\n    \"capacity\": 8\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"isGeneralPurposeV2\": true,\r\n    \"administratorLogin\": \"testusername\",\r\n    \"subnetId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/Gen8MMNeu/providers/Microsoft.Network/virtualNetworks/vnet-clperf-gen8mm-baseline-neu-gp8/subnets/ManagedInstance\",\r\n    \"state\": \"Creating\",\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"hybridSecondaryUsage\": \"Active\",\r\n    \"vCores\": 8,\r\n    \"storageSizeInGB\": 32,\r\n    \"storageIOps\": 2000,\r\n    \"storageThroughputMBps\": 75,\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"publicDataEndpointEnabled\": false,\r\n    \"proxyOverride\": \"Default\",\r\n    \"timezoneId\": \"UTC\",\r\n    \"maintenanceConfigurationId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default\",\r\n    \"privateEndpointConnections\": [],\r\n    \"minimalTlsVersion\": \"1.2\",\r\n    \"currentBackupStorageRedundancy\": \"Geo\",\r\n    \"requestedBackupStorageRedundancy\": \"Geo\",\r\n    \"zoneRedundant\": false,\r\n    \"externalGovernanceStatus\": \"Disabled\",\r\n    \"pricingModel\": \"Regular\",\r\n    \"createTime\": \"2025-08-13T17:59:00.337Z\",\r\n    \"authenticationMetadata\": \"AzureAD\",\r\n    \"databaseFormat\": \"SQLServer2022\",\r\n    \"requestedLogicalAvailabilityZone\": \"NoPreference\"\r\n  },\r\n  \"location\": \"northeurope\",\r\n  \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-new\",\r\n  \"name\": \"az-powershell-flexmem-testing-new\",\r\n  \"type\": \"Microsoft.Sql/managedInstances\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-new?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_G8IM\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen8IM\",\r\n    \"capacity\": 8\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"isGeneralPurposeV2\": true,\r\n    \"administratorLogin\": \"testusername\",\r\n    \"subnetId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/Gen8MMNeu/providers/Microsoft.Network/virtualNetworks/vnet-clperf-gen8mm-baseline-neu-gp8/subnets/ManagedInstance\",\r\n    \"state\": \"Creating\",\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"hybridSecondaryUsage\": \"Active\",\r\n    \"vCores\": 8,\r\n    \"storageSizeInGB\": 32,\r\n    \"storageIOps\": 2000,\r\n    \"storageThroughputMBps\": 75,\r\n    \"memorySizeInGB\": 64,\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"publicDataEndpointEnabled\": false,\r\n    \"proxyOverride\": \"Default\",\r\n    \"timezoneId\": \"UTC\",\r\n    \"maintenanceConfigurationId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default\",\r\n    \"privateEndpointConnections\": [],\r\n    \"minimalTlsVersion\": \"1.2\",\r\n    \"currentBackupStorageRedundancy\": \"Geo\",\r\n    \"requestedBackupStorageRedundancy\": \"Geo\",\r\n    \"zoneRedundant\": false,\r\n    \"virtualClusterId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/Gen8MMNeu/providers/Microsoft.Sql/virtualClusters/VirtualClustere1191eb1-6da2-4772-bdbf-8a1ec9c94375\",\r\n    \"externalGovernanceStatus\": \"Disabled\",\r\n    \"pricingModel\": \"Regular\",\r\n    \"createTime\": \"2025-08-13T17:59:00.337Z\",\r\n    \"authenticationMetadata\": \"AzureAD\",\r\n    \"databaseFormat\": \"SQLServer2022\",\r\n    \"requestedLogicalAvailabilityZone\": \"NoPreference\"\r\n  },\r\n  \"location\": \"northeurope\",\r\n  \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-new\",\r\n  \"name\": \"az-powershell-flexmem-testing-new\",\r\n  \"type\": \"Microsoft.Sql/managedInstances\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-new?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_G8IM\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen8IM\",\r\n    \"capacity\": 8\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"isGeneralPurposeV2\": true,\r\n    \"administratorLogin\": \"testusername\",\r\n    \"subnetId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/Gen8MMNeu/providers/Microsoft.Network/virtualNetworks/vnet-clperf-gen8mm-baseline-neu-gp8/subnets/ManagedInstance\",\r\n    \"state\": \"Creating\",\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"hybridSecondaryUsage\": \"Active\",\r\n    \"vCores\": 8,\r\n    \"storageSizeInGB\": 32,\r\n    \"storageIOps\": 2000,\r\n    \"storageThroughputMBps\": 75,\r\n    \"memorySizeInGB\": 64,\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"dnsZone\": \"2bb6721dfd00\",\r\n    \"publicDataEndpointEnabled\": false,\r\n    \"proxyOverride\": \"Default\",\r\n    \"timezoneId\": \"UTC\",\r\n    \"maintenanceConfigurationId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default\",\r\n    \"privateEndpointConnections\": [],\r\n    \"minimalTlsVersion\": \"1.2\",\r\n    \"currentBackupStorageRedundancy\": \"Geo\",\r\n    \"requestedBackupStorageRedundancy\": \"Geo\",\r\n    \"zoneRedundant\": false,\r\n    \"virtualClusterId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/Gen8MMNeu/providers/Microsoft.Sql/virtualClusters/VirtualClustere1191eb1-6da2-4772-bdbf-8a1ec9c94375\",\r\n    \"externalGovernanceStatus\": \"Disabled\",\r\n    \"pricingModel\": \"Regular\",\r\n    \"createTime\": \"2025-08-13T17:59:00.337Z\",\r\n    \"authenticationMetadata\": \"AzureAD\",\r\n    \"databaseFormat\": \"SQLServer2022\",\r\n    \"requestedLogicalAvailabilityZone\": \"NoPreference\"\r\n  },\r\n  \"location\": \"northeurope\",\r\n  \"id\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-new\",\r\n  \"name\": \"az-powershell-flexmem-testing-new\",\r\n  \"type\": \"Microsoft.Sql/managedInstances\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-new?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_G8IM\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen8IM\",\r\n    \"capacity\": 8\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"fullyQualifiedDomainName\": \"az-powershell-flexmem-testing-new.2bb6721dfd00.database.windows.net\",\r\n    \"isGeneralPurposeV2\": true,\r\n    \"administratorLogin\": \"testusername\",\r\n    \"subnetId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/Gen8MMNeu/providers/Microsoft.Network/virtualNetworks/vnet-clperf-gen8mm-baseline-neu-gp8/subnets/ManagedInstance\",\r\n    \"state\": \"Creating\",\r\n    \"licenseType\": \"LicenseIncluded\",\r\n    \"hybridSecondaryUsage\": \"Active\",\r\n    \"vC[...]
[...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-flexmem-testing-new?api-version=2024-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_G8IM\"\r\n  },\r\n  \"properties\": {\r\n    \"isGeneralPurposeV2\": true,\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"Sanitized\",\r\n    \"subnetId\": \"/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/Gen8MMNeu/providers/Microsoft.Network/virtualNetworks/vnet-clperf-gen8mm-baseline-neu-gp8/subnets/ManagedInstance\",\r\n    \"vCores\": 8,\r\n    \"storageSizeInGB\": 32,\r\n    \"storageIOps\": 2000,\r\n    \"memorySizeInGB\": 64,\r\n    \"publicDataEndpointEnabled\": false\r\n  },\r\n  \"location\": \"northeurope\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "800"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "12000"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"GP_G8IM\",\r\n    \"tier\": \"GeneralPurpose\",\r\n    \"family\": \"Gen8IM\",\r\n    \"capacity\": 8\r\n  },\r\n  \"properties\": {\r\n    \"p[...]
    {
      "RequestUri": "/subscriptions/62e48210-5e43-423e-889b-c277f3e08c39/resourceGroups/uroskrstic/providers/Microsoft.Sql/managedInstances/az-powershell-no-flexmem-testing-new?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/managedInstances/az-powershell-no-flexmem-testing-new' under resource group 'uroskrstic' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
