{
  "Get-AzConnectedLicenseProfile+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/edyoung/providers/Microsoft.HybridCompute/machines/WIN-89LGOPE94T3/licenseProfiles/default?api-version=2024-07-31-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/edyoung/providers/Microsoft.HybridCompute/machines/WIN-89LGOPE94T3/licenseProfiles/default?api-version=2024-07-31-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/edyoung/providers/Microsoft.HybridCompute/machines/WIN-89LGOPE94T3/licenseProfiles/default\",\"name\":\"default\",\"location\":\"centraluseuap\",\"type\":\"Microsoft.HybridCompute/machines/licenseProfiles\",\"properties\":{\"provisioningState\":\"Succeeded\",\"esuProfile\":{\"serverType\":\"Datacenter\",\"esuEligibility\":\"Ineligible\",\"esuKeyState\":\"Inactive\"},\"productProfile\":{}}}",
    }
  }
}