{
  "Get-AzConnectedMachine+[NoContext]+List+$GET+https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/providers/Microsoft.HybridCompute/machines?api-version=2024-07-10+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/providers/Microsoft.HybridCompute/machines?api-version=2024-07-10",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "337caedf-94a4-4be3-9124-a22b6b9bc53d", "a2e3336f-ad2c-44a1-b7b3-8f635d3804e2", "a82bca53-6fb2-4a2a-9d78-5525ddadc498", "f8786a0b-5070-4c43-905f-a26dafff0839", "73d84290-91e5-4cbb-9faf-6606cc479d3c", "1d68d3c4-96a8-4052-bfaf-47b8e47d7463", "6d250066-b355-4287-af0b-d0f74209beec", "7d137b24-7946-4d31-bb16-76689bfb5209" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/donaliu3/providers/Microsoft.HybridCompute/machines/Arc-Win-Demo\",\"name\":\"Arc-Win-Demo\",\"location\":\"westcentralus\",\"type\":\"Microsoft.HybridCompute/machines\",\"tags\":{\"Project\":\"jumpstart_azure_arc_servers\"},\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"1c1d7add-ec45-4f8b-969b-ceb5e60af94f\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"agentVersion\":\"1.46.02809.1841\",\"status\":\"Connected\",\"lastStatusChange\":\"2024-10-03T20:19:15.1902992Z\",\"errorDetails\":[],\"displayName\":\"Arc-Win-Demo\",\"machineFqdn\":\"Arc-Win-Demo\",\"osName\":\"windows\",\"osVersion\":\"10.0.20348.2700\",\"osType\":\"windows\",\"osProfile\":{\"computerName\":\"Arc-Win-Demo\"},\"vmId\":\"36b1f6d8-7adb-452e-9140-a09d98655c92\",\"vmUuid\":\"4407A197-1DA3-42C2-9F94-1C0ED3E65E6D\",\"clientPublicKey\":\"MIIBCgKCAQEA13fRx1IYqV/49YYa280NWN4Qj95S2yieHnzX/hY8+CXitGM13Id8rkKw4Jw16vZuPl8qshBIEGMJ0yYXQVKUyt3Vb/nfd7E33zh4Z89ApICgAG75j9KvVOeusYgGSDCs8fJrQrZkIzLnVyIQeM+uER672oX2zzVc8DnpPm23z4GcJBcUFO8GxX3mZVz9FviW3byOHa3D9IuTIAIGhpaStI/4rA+CKahHrPk6psi4O03AO+WkRQoo58W0BIbMtnvZQdj3x0AC3iI/jxCYzjoutc9TgACIlYLQc5HcG2iY/RKm9I3PKmPpVbJEPg3cFFuEpKSdSFRtvlwFI9DGXUPDswIDAQAB\",\"osSku\":\"Windows Server 2022 Datacenter\",\"osEdition\":\"serverdatacenter\",\"osInstallDate\":\"2024-09-12T17:44:28Z\",\"domainName\":\"WORKGROUP\",\"adFqdn\":\"Arc-Win-Demo\",\"dnsFqdn\":\"Arc-Win-Demo\",\"mssqlDiscovered\":\"false\",\"cloudMetadata\":{\"provider\":\"N/A\"},\"detectedProperties\":{\"cloudprovider\":\"N/A\",\"coreCount\":\"1\",\"logicalCoreCount\":\"2\",\"manufacturer\":\"Microsoft Corporation\",\"model\":\"Virtual Machine\",\"mssqldiscovered\":\"false\",\"processorCount\":\"1\",\"processorNames\":\"AMD EPYC 7763 64-Core Processor\",\"productType\":\"8\",\"serialNumber\":\"4708-7785-5746-4791-9961-7817-21\",\"smbiosAssetTag\":\"7783-7084-3265-9085-8269-3286-77\",\"totalPhysicalMemoryInBytes\":\"17179869184\",\"totalPhysicalMemoryInGigabytes\":\"16\",\"vmuuidEsu2012\":\"4407A197-1DA3-42C2-9F94-1C0ED3E65E6D\"},\"privateLinkScopeResourceId\":\"/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/donaliu3/providers/Microsoft.HybridCompute/privateLinkScopes/Arc-Win-Demo-PLS\",\"agentConfiguration\":{\"proxyUrl\":\"\",\"incomingConnectionsPorts\":[],\"extensionsAllowList\":[],\"extensionsBlockList\":[],\"proxyBypass\":[],\"extensionsEnabled\":\"true\",\"guestConfigurationEnabled\":\"true\",\"configMode\":\"full\"},\"serviceStatuses\":{\"extensionService\":{\"status\":\"running\",\"startupType\":\"automatic\"},\"guestConfigurationService\":{\"status\":\"running\",\"startupType\":\"automatic\"}},\"agentUpgrade\":{\"enableAutomaticUpgrade\":false},\"networkProfile\":{\"networkInterfaces\":[{\"ipAddresses\":[{\"address\":\"10.1.0.4\",\"ipAddressVersion\":\"IPv4\",\"subnet\":{\"addressPrefix\":\"10.1.0.0/24\"}}],\"macAddress\":\"60:45:bd:25:04:4d\",\"id\":\"6\",\"name\":\"Ethernet\"}]},\"licenseProfile\":{\"licenseStatus\":\"Licensed\",\"licenseChannel\":\"Volume:GVLK\",\"esuProfile\":{\"licenseAssignmentState\":\"NotAssigned\",\"serverType\":\"Datacenter\",\"esuEligibility\":\"Ineligible\",\"esuKeyState\":\"Inactive\",\"esuKeys\":[]}},\"storageProfile\":{\"disks\":[{\"path\":\"\\\\\\\\.\\\\PHYSICALDRIVE0\",\"diskType\":\"Fixed hard disk media\",\"generatedId\":\"\\\\\\\\.\\\\PHYSICALDRIVE0\",\"id\":\"\\\\\\\\.\\\\PHYSICALDRIVE0\",\"name\":\"Microsoft Virtual Disk\",\"maxSizeInBytes\":136366917120,\"usedSpaceInBytes\":18043319808}]},\"firmwareProfile\":{\"serialNumber\":\"4708-7785-5746-4791-9961-7817-21\",\"type\":\"EFI\"},\"hardwareProfile\":{\"totalPhysicalMemoryInBytes\":17179869184,\"numberOfCpuSockets\":1,\"processors\":[{\"name\":\"AMD EPYC 7763 64-Core Processor                \",\"numberOfCores\":1}]}}},{\"id\":\"/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/duyt-test/providers/Microsoft.HybridCompute/machines/duytsni2\",\"name\":\"duytsni2\",\"location\":\"westus2\",\"type\":\"Microsoft.HybridCompute/machines\",\"tags\":{\"ArcSQLServerExtensionDeployment\":\"Disabled\"},\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"15de1476-7f93-4b50-abc3-427dd9de0558\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"agentVersion\":\"1.46.02829.7543\",\"status\":\"Connected\",\"lastStatusChange\":\"2024-10-03T20:16:50.2370471Z\",\"errorDetails\":[],\"displayName\":\"duyt-homevm\",\"machineFqdn\":\"duyt-homevm\",\"osName\":\"windows\",\"osVersion\":\"10.0.26100.1742\",\"osType\":\"windows\",\"osProfile\":{\"computerName\":\"duyt-homevm\"},\"vmId\":\"b35ff3b3-8e99-4dcd-95d9-45202316816d\",\"vmUuid\":\"3C57CCD3-4F38-4413-88DA-C51A0B8B9FB2\",\"clientPublicKey\":\"MIIBCgKCAQEAvv7lhduSsdAVyVoj67cR5vUyr5OUiI9wb2ObVoTTmNjN1qkmTVdP89duXMgnwko9cOq/aNE1X6oC1On6muBm8htCBnkzi1aVqksyNeXwR4LYU4/c5oNIYOQvHMryYIEqGVVGoXr/fndWz1zEu3kbMXsx/bDOy4Ujizn2c0r44jpwORYiw4o+oVTlh3H0rEU+yxuaJTRk7Y84JolwqJzQq4argAUxMExHdjyveQ26n2p+bJFvGwaeZKV6hG3Yc3myGMvTygk4gABMlpAZSvX5bd1sciZPdNIB+Of35ZQjVeIvxiqquUOcREqv1rZnC0Z3907WzskUzShCCrOVRGI/TwIDAQAB\",\"osSku\":\"Windows 11 Enterprise N\",\"osEdition\":\"enterprisen\",\"osInstallDate\":\"2024-09-23T18:23:39+00:00\",\"domainName\":\"WORKGROUP\",\"adFqdn\":\"duyt-homevm\",\"dnsFqdn\":\"duyt-homevm\",\"mssqlDiscovered\":\"false\",\"cloudMetadata\":{\"provider\":\"N/A\"},\"detectedProperties\":{\"architecture\":\"amd64\",\"cloudprovider\":\"N/A\",\"coreCount\":\"3\",\"logicalCoreCount\":\"6\",\"manufacturer\":\"Microsoft Corporation\",\"model\":\"Virtual Machine\",\"mssqldiscovered\":\"false\",\"processorCount\":\"1\",\"processorNames\":\"AMD Ryzen 5 5600X 6-Core Processor\",\"productType\":\"27\",\"serialNumber\":\"0595-3855-9710-4885-7771-6992-11\",\"smbiosAssetTag\":\"0595-3855-9710-4885-7771-6992-11\",\"totalPhysicalMemoryInBytes\":\"4294967296\",\"totalPhysicalMemoryInGigabytes\":\"4\",\"vmuuidEsu[...]
