{
  "Get-AzConnectedNetworkSecurityPerimeterConfiguration+[NoContext]+List+$GET+https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/privateLinkScopes/myScope/networkSecurityPerimeterConfigurations?api-version=2024-03-31-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/privateLinkScopes/myScope/networkSecurityPerimeterConfigurations?api-version=2024-03-31-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-throttling-version": [ "v1" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/privateLinkScopes/myScope/networkSecurityPerimeterConfigurations/90eb1fda-6016-40bb-8785-5974398f92aa.myScope-0ecf1e4b-93c4-4c6f-884e-7042acfeb87a\",\"type\":\"Microsoft.HybridCompute/privateLinkScopes/networkSecurityPerimeterConfigurations\",\"name\":\"90eb1fda-6016-40bb-8785-5974398f92aa.myScope-0ecf1e4b-93c4-4c6f-884e-7042acfeb87a\",\"properties\":{\"provisioningState\":\"Succeeded\",\"provisioningIssues\":[],\"networkSecurityPerimeter\":{\"id\":\"/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.Network/networkSecurityPerimeters/myPerimeter\",\"perimeterGuid\":\"90eb1fda-6016-40bb-8785-5974398f92aa\",\"location\":\"centraluseuap\"},\"resourceAssociation\":{\"name\":\"myScope-0ecf1e4b-93c4-4c6f-884e-7042acfeb87a\",\"accessMode\":\"Learning\"},\"profile\":{\"id\":\"/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.Network/networkSecurityPerimeters/myPerimeter/profiles/defaultProfile\",\"name\":\"defaultProfile\",\"accessRulesVersion\":0,\"accessRules\":[],\"diagnosticSettingsVersion\":0,\"enabledLogCategories\":[\"NspPublicInboundPerimeterRulesAllowed\",\"NspPublicInboundPerimeterRulesDenied\",\"NspPublicOutboundPerimeterRulesAllowed\",\"NspPublicOutboundPerimeterRulesDenied\",\"NspIntraPerimeterOutboundAllowed\",\"NspPublicInboundResourceRulesAllowed\",\"NspPublicInboundResourceRulesDenied\",\"NspPublicOutboundResourceRulesAllowed\",\"NspPublicOutboundResourceRulesDenied\",\"NspPrivateInboundAllowed\",\"NspIntraPerimeterInboundAllowed\",\"NspOutboundAttempt\",\"NspCrossPerimeterInboundAllowed\",\"NspC[...]
