{
  "Get-AzConnectedNetworkSecurityPerimeterConfiguration+[NoContext]+List+$GET+https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/privateLinkScopes/myScope/networkSecurityPerimeterConfigurations?api-version=2024-03-31-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/privateLinkScopes/myScope/networkSecurityPerimeterConfigurations?api-version=2024-03-31-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-throttling-version": [ "v1" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[]}",
    }
  },
  "Get-AzConnectedNetworkSecurityPerimeterConfiguration+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/privateLinkScopes/myScope/networkSecurityPerimeterConfigurations/myPerimeter?api-version=2024-03-31-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/privateLinkScopes/myScope/networkSecurityPerimeterConfigurations/myPerimeter?api-version=2024-03-31-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-throttling-version": [ "v1" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"error\":{\"code\":\"HCRP404\",\"message\":\"The requested resource was not found.\",\"target\":\"b24cc8ee-df4f-48ac-94cf-46edf36b0fae/ytongtest/myScope/myPerimeter\"}}",
    }
  }
}