{
  "Get-AzConnectedLicenseProfile+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/PayGo_cmdlet/providers/Microsoft.HybridCompute/machines/WIN-IAH3TLSP7A8/licenseProfiles/default?api-version=2024-07-31-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/PayGo_cmdlet/providers/Microsoft.HybridCompute/machines/WIN-IAH3TLSP7A8/licenseProfiles/default?api-version=2024-07-31-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/PayGo_cmdlet/providers/Microsoft.HybridCompute/machines/WIN-IAH3TLSP7A8/licenseProfiles/default\",\"name\":\"default\",\"location\":\"eastus\",\"type\":\"Microsoft.HybridCompute/machines/licenseProfiles\",\"properties\":{\"provisioningState\":\"Succeeded\",\"esuProfile\":{\"serverType\":\"Datacenter\",\"esuEligibility\":\"Ineligible\",\"esuKeyState\":\"Inactive\"},\"productProfile\":{\"productType\":\"WindowsServer\",\"productFeatures\":[{\"name\":\"WindowsServerAzureArcMgmt\",\"subscriptionStatus\":\"Enabled\",\"enrollmentDate\":\"2024-11-08T01:58:37.6099656Z\",\"billingStartDate\":\"2024-11-08T01:58:37.6096833Z\"},{\"name\":\"Hotpatch\",\"subscriptionStatus\":\"Enabled\",\"enrollmentDate\":\"2024-11-08T01:58:37.6095044Z\",\"billingStartDate\":\"2025-02-01T00:00:00\"}],\"subscriptionStatus\":\"Enabled\",\"enrollmentDate\":\"2024-11-08T01:53:34.9899742Z\",\"billingStartDate\":\"2024-11-15T01:53:34.989552Z\"}}}",
    }
  }
}