{
  "Get-AzConnectedExtensionType+[NoContext]+List+$GET+https://management.azure.com/providers/Microsoft.HybridCompute/locations/eastus/publishers/Microsoft.Azure.AzureDefenderForServers/extensionTypes?api-version=2024-11-10-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.HybridCompute/locations/eastus/publishers/Microsoft.Azure.AzureDefenderForServers/extensionTypes?api-version=2024-11-10-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "5" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-reads": [ "2199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/providers/Microsoft.HybridCompute/locations/eastus/publishers/microsoft.azure.azuredefenderforservers/extensionTypes/mde.linux\",\"name\":\"mde.linux\"},{\"id\":\"/providers/Microsoft.HybridCompute/locations/eastus/publishers/microsoft.azure.azuredefenderforservers/extensionTypes/mde.windows\",\"name\":\"mde.windows\"}]}",
    }
  }
}