{
  "Invoke-AzConnectedAssessMachinePatch+[NoContext]+Assess+$POST+https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/testmachine/assessPatches?api-version=2022-12-27+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/machines/testmachine/assessPatches?api-version=2022-12-27",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "11" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/providers/Microsoft.HybridCompute/locations/eastus2euap/updateCenterOperationResults/55df7c65-d892-42f3-b9ea-93091de18b04?api-version=2022-12-27" ],
        "api-supported-versions": [ "2020-08-15-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Invoke-AzConnectedAssessMachinePatch+[NoContext]+Assess+$GET+https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/providers/Microsoft.HybridCompute/locations/eastus2euap/updateCenterOperationResults/55df7c65-d892-42f3-b9ea-93091de18b04?api-version=2022-12-27+2": {
    "Request": {
      "Method": "[...]
