{
  "Update-AzConnectedMachine+[NoContext]+Update+$PATCH+https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/machines/testmachine?api-version=2024-05-20-preview+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/machines/testmachine?api-version=2024-05-20-preview",
      "Content": "{\r\n  \"properties\": {\r\n    \"privateLinkScopeResourceId\": \"/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/privateLinkScopes/myPrivateLinkScope\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "319" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/machines/testmachine\",\"name\":\"testmachine\",\"location\":\"centraluseuap\",\"tags\":{},\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"183aa6ec-eca8-45ad-9e46-35fb2eeaba72\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\"},\"type\":\"Microsoft.HybridCompute/machines\",\"properties\":{\"provisioningState\":\"Updating\",\"agentVersion\":\"1.46.02809.1841\",\"status\":\"Connected\",\"lastStatusChange\":\"2024-09-19T20:23:00.7638621Z\",\"errorDetails\":[],\"displayName\":\"LAPTOP-S0HSJ7FB\",\"machineFqdn\":\"LAPTOP-S0HSJ7FB\",\"osName\":\"windows\",\"osVersion\":\"10.0.19045.4894\",\"osType\":\"windows\",\"osProfile\":{\"computerName\":\"LAPTOP-S0HSJ7FB\"},\"vmId\":\"44761a02-c502-428f-9895-219eb39525a0\",\"vmUuid\":\"1A9E1B42-3894-11EC-80F0-84A9388B55FE\",\"clientPublicKey\":\"MIIBCgKCAQEAtV+JgX3qPo7ndlhXntcGZzocWjPEy348UC4PdRckqpgt1/e3ljbhf8e9Z73gPvmza3FdGB0wpDaejbC5pHC3ClQW6KbwkHk5IcEkWFwLTN5zhxbLSdqaSYNAKRCr08LUAo4ZtQfW3AR4lFDpJQDA0c3HvzxvOr1pXwwbKw4wMEeV4AERi7dqHf6Bl+4zv2Mga425Z5cB9iX4zNmsx4F7aZ2lh35nbXjdBNKs+Pc74EUKPVi/WbJn92bq6Mc/45XiiGSqyGr7lrE8uyqqzLCW7GoLnA6W3+dONglv6e31WIoWQl90OqqyEc+p+ocW0BekdDoHDlC0MhKgtJEmoXJh5QIDAQAB\",\"osSku\":\"Windows 10 Enterprise\",\"osEdition\":\"enterprise\",\"osInstallDate\":\"2023-02-07T08:27:20+00:00\",\"domainName\":\"WORKGROUP\",\"adFqdn\":\"LAPTOP-S0HSJ7FB\",\"dnsFqdn\":\"LAPTOP-S0HSJ7FB\",\"mssqlDiscovered\":\"false\",\"cloudMetadata\":{\"provider\":\"N/A\"},\"detectedProperties\":{\"cloudprovider\":\"N/A\",\"coreCount\":\"4\",\"logicalCoreCount\":\"8\",\"manufacturer\":\"LENOVO\",\"model\":\"20Y0S2PE00\",\"mssqldiscovered\":\"false\",\"processorCount\":\"1\",\"processorNames\":\"11th Gen Intel(R) Core(TM) i7-1185G7 @ 3.00GHz\",\"productType\":\"4\",\"serialNumber\":\"PF33PR6M\",\"smbiosAssetTag\":\"14765144\",\"totalPhysicalMemoryInBytes\":\"34359738368\",\"totalPhysicalMemoryInGigabytes\":\"32\",\"vmuuidEsu2012\":\"1A9E1B42-3894-11EC-80F0-84A9388B55FE\"},\"privateLinkScopeResourceId\":\"/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/privateLinkScopes/myPrivateLinkScope\",\"agentConfiguration\":{\"proxyUrl\":\"\",\"incomingConnectionsPorts\":[],\"extensionsAllowList\":[],\"extensionsBlockList\":[],\"proxyBypass\":[],\"extensionsEnabled\":\"true\",\"guestConfigurationEnabled\":\"true\",\"configMode\":\"full\"},\"serviceStatuses\":{\"extensionService\":{\"status\":\"running\",\"startupType\":\"automatic\"},\"guestConfigurationService\":{\"status\":\"running\",\"startupType\":\"automatic\"}},\"agentUpgrade\":{\"enableAutomaticUpgrade\":false},\"networkProfile\":{\"networkInterfaces\":[{\"ipAddresses\":[{\"address\":\"172.30.240.1\",\"ipAddressVersion\":\"IPv4\",\"subnet\":{\"addressPrefix\":\"172.30.240.0/20\"}}],\"macAddress\":\"00:15:5d:94:45:7d\",\"id\":\"30\",\"name\":\"vEthernet (Default Switch)\"},{\"ipAddresses\":[{\"address\":\"192.168.1.243\",\"ipAddressVersion\":\"IPv4\",\"subnet\":{\"addressPrefix\":\"192.168.1.0/24\"}}],\"macAddress\":\"7c:70:db:1b:2c:22\",\"id\":\"10\",\"name\":\"Wi-Fi\"},{\"ipAddresses\":[{\"address\":\"2001:0:2841:f634:1c12:2f8a:52bb:ceed\",\"ipAddressVersion\":\"IPv6\",\"subnet\":{\"addressPrefix\":\"2001:0:2841:f634::/64\"}}],\"macAddress\":\"00:00:00:00:00:00:00:e0\",\"id\":\"13\",\"name\":\"Teredo Tunneling Pseudo-Interface\"}]},\"licenseProfile\":{\"licenseStatus\":\"Licensed\",\"licenseChannel\":\"Retail\",\"esuProfile\":{\"licenseAssignmentState\":\"NotAssigned\",\"serverType\":\"Unknown\",\"esuEligibility\":\"Ineligible\",\"esuKeyState\":\"Inactive\",\"esuKeys\":[]}},\"storageProfile\":{\"disks\":[{\"path\":\"\\\\\\\\.\\\\PHYSICALDRIVE0\",\"diskType\":\"Fixed hard disk media\",\"generatedId\":\"\\\\\\\\.\\\\PHYSICALDRIVE0\",\"id\":\"\\\\\\\\.\\\\PHYSICALDRIVE0\",\"name\":\"SKHynix_HFS512GDE9X081N\",\"maxSizeInBytes\":512105932800,\"usedSpaceInBytes\":254967855104}]},\"firmwareProfile\":{\"serialNumber\":\"PF33PR6M\",\"type\":\"EFI\"},\"hardwareProfile\":{\"totalPhysicalMemoryInBytes\":34359738368,\"numberOfCpuSockets\":1,\"processors\":[{\"name\":\"11th Gen Intel(R) Core(TM) i7-1185G7 @ 3.00GHz\",\"numberOfCores\":4}]}}}",
    }
  }
}