{
  "Get-AzServiceBusNamespaceV2+[NoContext]+List+$GET+https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.ServiceBus/namespaces?api-version=2022-10-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/providers/Microsoft.ServiceBus/namespaces?api-version=2022-10-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "35" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "", "", "", "", "1909334c-3776-42a9-859d-390781e842e8_M5CH3_M5CH3", "ff598901-4c03-4e73-9e42-4c2189b66be6_M1CH3_M1CH3", "", "", "", "", "", "", "", "41e68726-c050-44e8-ac82-b3dbd103df48_M10CH3_M10CH3", "5f8b3bbb-27c5-456e-adfa-9e2bf53ccbf3_M1CH3_M1CH3", "", "", "", "", "", "", "", "", "", "" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11996" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/damorg/providers/Microsoft.ServiceBus/namespaces/testPSV2\",\"name\":\"testPSV2\",\"type\":\"Microsoft.ServiceBus/Namespaces\",\"location\":\"australiaeast\",\"tags\":{},\"properties\":{\"premiumMessagingPartitions\":1,\"minimumTlsVersion\":\"1.2\",\"publicNetworkAccess\":\"Enabled\",\"disableLocalAuth\":false,\"zoneRedundant\":true,\"metricId\":\"326100e2-f69d-4268-8503-075374f62b6e:testpsv2\",\"updatedAt\":\"2024-01-24T02:04:20.5598499Z\",\"serviceBusEndpoint\":\"https://testPSV2.servicebus.windows.net\",\"provisioningState\":\"Succeeded\",\"status\":\"Active\",\"createdAt\":\"2022-08-17T11:12:03.0498916Z\"},\"sku\":{\"name\":\"Premium\",\"tier\":\"Premium\",\"capacity\":1}},{\"id\":\"/subscriptions/326100e2-f69d-4268-8503-075374f62b6e/resourcegroups/SDK-ServiceBus-7854/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-8751\",\"name\":\"sdk-Namespace-8751\",\"type\":\"Microsoft.ServiceBus/Namespaces\",\"location\":\"australiaeast\",\"tags\":{},\"properties\":{\"premiumMessagingPartitions\":0,\"minimumTlsVersion\":\"1.2\",\"publicNetworkAccess\":\"Enabled\",\"disableLocalAuth\":false,\"zoneRedundant\":false,\"metricId\":\"326100e2-f69d-4268-8503-075374f62b6[...]
