<?xml version="1.0"?>
<!-- Generated web.config for Django azure projects.  You can add a web.config file to your project to customize this. -->
<configuration>
  <appSettings>
    <add key="EMULATED" value="true" />
    <add key="WSGI_HANDLER" value="django.core.handlers.wsgi.WSGIHandler()"/>
    <add key="PYTHONPATH" value="%RootDir%\$RoleName$"/>
    <add key="DJANGO_SETTINGS_MODULE" value="$RoleName$.settings" />
    <!--
    <add key="StorageAccountName" value="devstoreaccount1" />
    <add key="StorageAccountKey" value="Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==" />
    <add key="ServiceBusNamespace" value="" />
    <add key="ServiceBusIssuerName" value="" />
    <add key="ServiceBusIssuerSecretKey" value="" />
    -->
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />  
        </add>
      </listeners>
    </trace>
  </system.diagnostics>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="Django FastCGI" 
           path="handler.fcgi" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="%INTERPRETERPATH%|%WFASTCGIPATH%" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Configure Python" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <action type="Rewrite" url="handler.fcgi/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
