<?xml version="1.0"?>
<!-- Generated web.config for Django azure projects.  You can add a web.config file to your project to customize this. -->
<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="django.core.handlers.wsgi.WSGIHandler()"/>
    <add key="PYTHONPATH" value="%RootDir%\$RoleName$"/>
    <add key="DJANGO_SETTINGS_MODULE" value="$RoleName$.settings" />
    <!--
    <add key="StorageAccountName" value="" />
    <add key="StorageAccountKey" value="" />
    <add key="ServiceBusNamespace" value="" />
    <add key="ServiceBusIssuerName" value="" />
    <add key="ServiceBusIssuerSecretKey" value="" />
    -->
  </appSettings>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="Django FastCGI" 
           path="handler.fcgi" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="%INTERPRETERPATH%|%WFASTCGIPATH%" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Configure Python" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <action type="Rewrite" url="handler.fcgi/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
