{
  "New-AzDataBoxJob+[NoContext]+Import Job Test+$PUT+https://management.azure.com/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/databox-pwsh-rg-7h/providers/Microsoft.DataBox/jobs/powershellnsgk?api-version=2022-12-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/databox-pwsh-rg-7h/providers/Microsoft.DataBox/jobs/powershellnsgk?api-version=2022-12-01",
      "Content": "{\n  \"sku\": {\n    \"name\": \"DataBox\"\n  },\n  \"location\": \"WestUS\",\n  \"properties\": {\n    \"transferType\": \"ImportToAzure\",\n    \"details\": {\n      \"contactDetails\": {\n        \"contactName\": \"random\",\n        \"phone\": \"1234567891\",\n        \"phoneExtension\": \"\",\n        \"mobile\": \"\",\n        \"emailList\": [ \"dhja@microsoft.com\" ]\n      },\n      \"shippingAddress\": {\n        \"streetAddress1\": \"101 TOWNSEND ST\",\n        \"streetAddress2\": \"\",\n        \"streetAddress3\": \"\",\n        \"city\": \"San Francisco\",\n        \"stateOrProvince\": \"CA\",\n        \"country\": \"US\",\n        \"postalCode\": \"94107\",\n        \"zipExtendedCode\": \"\",\n        \"companyName\": \"\",\n        \"addressType\": \"Commercial\"\n      },\n      \"dataImportDetails\": [\n        {\n          \"accountDetails\": {\n            \"dataAccountType\": \"StorageAccount\",\n            \"sharePassword\": \"\",\n            \"storageAccountId\": \"/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/dhja/providers/Microsoft.Storage/storageAccounts/dhjapowershellstorage\"\n          }\n        }\n      ],\n      \"jobDetailsType\": \"DataBox\",\n      \"expectedDataSizeInTeraBytes\": 0,\n      \"devicePassword\": \"\"\n    }\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/providers/Microsoft.DataBox/locations/WestUS/operationResults/5a75e017-1d53-4d18-9000-9bc4429a01e4?api-version=2022-12-01" ],
        "Retry-After": [ "10" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "New-AzDataBoxJob+[NoContext]+Import Job Test+$GET+https://management.azure.com/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/providers/Microsoft.DataBox/locations/WestUS/operationResults/5a75e017-1d53-4d18-9000-9bc4429a01e4?api-version=2022-12-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/providers/Microsoft.DataBox/locations/WestUS/operationResults/5a75e017-1d53-4d18-9000-9bc4429a01e4?api-version=2022-12-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "7" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/databox-pwsh-rg-7h/providers/Microsoft.DataBox/jobs/powershellnsgk?api-version=2022-12-01" ],
        "Retry-After": [ "10" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11996" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
[...]
