{
  "Update-AzDataBoxJob+[NoContext]+Microsoft managed to customer managed system assigned+$PATCH+https://management.azure.com/subscriptions/0c302431-1ad0-4187-87c9-d4cebcf7edc2/resourceGroups/databox-pwsh-rg-ev/providers/Microsoft.DataBox/jobs/powershellRandoma9hi?api-version=2025-02-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/0c302431-1ad0-4187-87c9-d4cebcf7edc2/resourceGroups/databox-pwsh-rg-ev/providers/Microsoft.DataBox/jobs/powershellRandoma9hi?api-version=2025-02-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"details\": {\r\n      \"contactDetails\": {\r\n        \"contactName\": \"random\",\r\n        \"phone\": \"1234567891\",\r\n        \"emailList\": [ \"v-jiasenglaw@microsoft.com\" ]\r\n      },\r\n      \"shippingAddress\": {\r\n        \"streetAddress1\": \"101 TOWNSEND ST\",\r\n        \"city\": \"San Francisco\",\r\n        \"stateOrProvince\": \"CA\",\r\n        \"country\": \"US\",\r\n        \"postalCode\": \"94107\"\r\n      }\r\n    }\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "198" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"error\": {\r\n    \"code\": \"SsemUserErrorEntityNotFound\",\r\n    \"message\": \"Could not find the entity powershellRandoma9hi.\\r\\nProvide a valid entity name and retry the operation.\",\r\n    \"details\": [\r\n      null\r\n    ]\r\n  }\r\n}",
    }
  },
  "Update-AzDataBoxJob+[NoContext]+Microsoft managed to customer managed system assigned+$PATCH+https://management.azure.com/subscriptions/0c302431-1ad0-4187-87c9-d4cebcf7edc2/resourceGroups/databox-pwsh-rg-ev/providers/Microsoft.DataBox/jobs/powershellRandoma9hi?api-version=2025-02-01+2": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/0c302431-1ad0-4187-87c9-d4cebcf7edc2/resourceGroups/databox-pwsh-rg-ev/providers/Microsoft.DataBox/jobs/powershellRandoma9hi?api-version=2025-02-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"details\": {\r\n      \"contactDetails\": {\r\n        \"contactName\": \"random\",\r\n        \"phone\": \"1234567891\",\r\n        \"emailList\": [ \"v-jiasenglaw@microsoft.com\" ]\r\n      },\r\n      \"shippingAddress\": {\r\n        \"streetAddress1\": \"101 TOWNSEND ST\",\r\n        \"city\": \"San Francisco\",\r\n        \"stateOrProvince\": \"CA\",\r\n        \"country\": \"US\",\r\n        \"postalCode\": \"94107\"\r\n      },\r\n      \"keyEncryptionKey\": {\r\n        \"identityProperties\": {\r\n          \"type\": \"SystemAssigned\"\r\n        },\r\n        \"kekType\": \"CustomerManaged\",\r\n        \"kekUrl\": \"\",\r\n        \"kekVaultResourceID\": \"\"\r\n      }\r\n    }\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 400,
      "Headers": {
        "x-ms-failure-cause": [ "gateway" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"error\":{\"code\":\"LinkedInvalidPropertyId\",\"message\":\"Property id \u0027\u0027 at path \u0027properties.details.keyEncryptionKey.kekVaultResourceID\u0027 is invalid. Expect fully qualified resource Id that start with \u0027/subscriptions/{subscriptionId}\u0027 or \u0027/providers/{resourceProviderNamespace}/\u0027.\"}}",
    }
  },
  "Update-AzDataBoxJob+[NoContext]+System assigned to user assigned+$PATCH+https://management.azure.com/subscriptions/0c302431-1ad0-4187-87c9-d4cebcf7edc2/resourceGroups/databox-pwsh-rg-ev/providers/Microsoft.DataBox/jobs/powershellRandoma9hi?api-version=2025-02-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/0c302431-1ad0-4187-87c9-d4cebcf7edc2/resourceGroups/databox-pwsh-rg-ev/providers/Microsoft.DataBox/jobs/powershellRandoma9hi?api-version=2025-02-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"details\": {\r\n      \"keyEncryptionKey\": {\r\n        \"identityProperties\": {\r\n          \"type\": \"UserAssigned\"\r\n        },\r\n        \"kekType\": \"CustomerManaged\",\r\n        \"kekUrl\": \"\",\r\n        \"kekVaultResourceID\": \"\"\r\n      }\r\n    }\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"UserAssigned\",\r\n    \"userAssignedIdentities\": {\r\n      \"\": {\r\n      }\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 400,
      "Headers": {
        "x-ms-failure-cause": [ "gateway" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"error\":{\"code\":\"LinkedInvalidPropertyId\",\"message\":\"Property id \u0027\u0027 at path \u0027properties.details.keyEncryptionKey.kekVaultResourceID\u0027 is invalid. Expect fully qualified resource Id that start with \u0027/subscriptions/{subscriptionId}\u0027 or \u0027/providers/{resourceProviderNamespace}/\u0027.\"}}",
    }
  }
}