{
  "Get-AzBillingBenefitsSavingsPlan+[NoContext]+List+$GET+https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlanOrders/254638e0-2860-4e7b-af3e-92285554fc9d/savingsPlans?api-version=2022-11-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlanOrders/254638e0-2860-4e7b-af3e-92285554fc9d/savingsPlans?api-version=2022-11-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-reads": [ "11999" ],
        "x-ms-version": [ "1.0.2141.1412" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/providers/microsoft.billingbenefits/savingsPlanOrders/254638e0-2860-4e7b-af3e-92285554fc9d/savingsPlans/cd6d708d-068e-4972-8535-410de471558f\",\"name\":\"cd6d708d-068e-4972-8535-410de471558f\",\"type\":\"microsoft.billingbenefits/savingsPlanOrders/savingsPlans\",\"sku\":{\"name\":\"Compute_Savings_Plan\"},\"properties\":{\"billingScopeId\":\"/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47\",\"billingAccountId\":\"/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31\",\"billingProfileId\":\"/providers/Microsoft.Billing/billingAccounts/4973e1de-a829-5c64-4fef-0a692e2b3108:1970c5da-0aa4-46fd-a917-4772f9a17978_2019-05-31/billingProfiles/KPSV-DWNE-BG7-TGB\",\"billingPlan\":\"P1M\",\"appliedScopeProperties\":{\"resourceGroupId\":\"/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47/resourcegroups/fastpathtesting_20210915\",\"displayName\":\"fastpathtesting_20210915\"},\"commitment\":{\"grain\":\"Hourly\",\"currencyCode\":\"USD\",\"amount\":0.001},\"renew\":false,\"appliedScopeType\":\"Single\",\"displayName\":\"Compute_SavingsPlan_11-07-2022_15-57\",\"provisioningState\":\"Succeeded\",\"term\":\"P3Y\",\"displayProvisioningState\":\"Succeeded\",\"userFriendlyAppliedScopeType\":\"ResourceGroup\",\"expiryDateTime\":\"2025-11-08T00:00:06.3636747Z\",\"purchaseDateTime\":\"2022-11-07T23:57:58.2428677Z\",\"benefitStartTime\":\"2022-11-08T00:00:06.3636747Z\",\"effectiveDateTime\":\"2022-11-08T00:00:07.4262438Z\",\"utilization\":{\"trend\":\"SAME\",\"aggregates\":[{\"grain\":1.0,\"grainUnit\":\"days\",\"value\":100.0,\"valueUnit\":\"percentage\"},{\"grain\":7.0,\"grainUnit\":\"days\",\"value\":100.0,\"valueUnit\":\"percentage\"},{\"grain\":30.0,\"grainUnit\":\"days\",\"value\":100.29,\"valueUnit\":\"percentage\"}]}}}]}",
    }
  },
  "Get-AzBillingBenefitsSavingsPlan+[NoContext]+Get+$GET+https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlanOrders/254638e0-2860-4e7b-af3e-92285554fc9d/savingsPlans/cd6d708d-068e-4972-8535-410de471558f?api-version=2022-11-01+1": {
    "Request": {
      "Method": "GET",[...]
