{
  "Invoke-AzBillingBenefitsElevateSavingPlanOrder+[NoContext]+Elevate+$POST+https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlanOrders/e0b1f446-5684-4fa6-a0c8-d394368eda11/elevate?api-version=2022-11-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlanOrders/e0b1f446-5684-4fa6-a0c8-d394368eda11/elevate?api-version=2022-11-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-writes": [ "1199" ],
        "x-ms-version": [ "1.0.2141.1412" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"roleDefinitionId\":\"/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635\",\"principalId\":\"067e7443-3a55-40b6-a2d8-0a7a12a9da2d\",\"scope\":\"/providers/Microsoft.BillingBenefits/savingsplanorders/e0b1f446-5684-4fa6-a0c8-d394368eda11\"},\"id\":\"/providers/Microsoft.BillingBenefits/savingsplanorders/e0b1f446-5684-4fa6-a0c8-d394368eda11/providers/Microsoft.Authorization/roleAssignments/916f99c5-1a1f-47c9-b0e0-3503593b6a60\",\"name\":\"916f99c5-1a1f-47c9-b0e0-3503593b6a60\"}",
    }
  },
  "Invoke-AzBillingBenefitsElevateSavingPlanOrder+[NoContext]+ElevateViaIdentity+$POST+https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlanOrders/e45905d2-9207-4f24-8549-f615c203b49b/elevate?api-version=2022-11-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlanOrders/e45905d2-9207-4f24-8549-f615c203b49b/elevate?api-version[...]
