{
  "Invoke-AzBillingBenefitsSavingsPlanUpdateValidation+[NoContext]+ValidateExpanded+$POST+https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlanOrders/d7ea1620-2bba-46e2-8434-11f31bfb984d/savingsPlans/9fde2a72-776b-49fc-869c-dca8859d7d62/validate?api-version=2022-11-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlanOrders/d7ea1620-2bba-46e2-8434-11f31bfb984d/savingsPlans/9fde2a72-776b-49fc-869c-dca8859d7d62/validate?api-version=2022-11-01",
      "Content": "{\r\n  \"benefits\": [\r\n    {\r\n      \"appliedScopeProperties\": {\r\n        \"subscriptionId\": \"/subscriptions/eef82110-c91b-4395-9420-fcfcbefc5a47\"\r\n      },\r\n      \"appliedScopeType\": \"Single\"\r\n    }\r\n  ]\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-writes": [ "1199" ],
        "x-ms-version": [ "1.0.2141.1412" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"benefits\":[{\"valid\":true}]}",
    }
  },
  "Invoke-AzBillingBenefitsSavingsPlanUpdateValidation+[NoContext]+Validate+$POST+https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlanOrders/d7ea1620-2bba-46e2-8434-11f31bfb984d/savingsPlans/9fde2a72-776b-49fc-869c-dca8859d7d62/validate?api-version=2022-11-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.BillingBenefits/savingsPlanOrders/d7ea1620-2bba-46e2-8434-11f31bfb984d/savings[...]
