{
  "Get-AzAcatWebhook+[NoContext]+List+$GET+https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/powershell-test-report/webhooks?api-version=2023-02-15-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/powershell-test-report/webhooks?api-version=2023-02-15-preview",
      "Content": null,
      "Headers": {
        "x-ms-aad-user-token": [ "[Filtered]" ],
        "x-ms-unique-id": [ "4" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-reads": [ "11999" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "45ec4297-933e-47e9-8f60-066fbc55c4b0" ],
        "X-ms-Operation-Id": [ "05ae113c88cab9f5c458dccc5db70628" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/providers/Microsoft.AppComplianceAutomation/reports/powershell-test-report/webhooks/test-webhook\",\"name\":\"test-webhook\",\"type\":\"Microsoft.AppComplianceAutomation/reports/webhooks\",\"systemData\":{\"createdBy\":\"\",\"createdByType\":\"User\",\"createdAt\":\"2024-03-20T02:59:35.1943262Z\",\"lastModifiedBy\":\"FunctionApp\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2024-03-20T03:09:14.879Z\"},\"properties\":{\"webhookId\":\"fbcf4364-9c93-4f69-ab86-0cf39e393a94\",\"webhookName\":\"test-webhook\",\"status\":\"Enabled\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"sendAllEvents\":\"true\",\"events\":[],\"payloadUrl\":\"https://example.com\",\"contentType\":\"application/json\",\"webhookKeyEnabled\":\"false\",\"enableSslVerification\":\"true\",\"deliveryStatus\":\"Succeeded\",\"provisioningState\":\"Succeeded\"}}]}",
    }
  },
  "Get-AzAcatWebhook+[NoContext]+Get+$GET+https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/powershell-test-report/webhooks/test-webhook?api-version=2023-02-15-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/powershell-test-report/webhooks/test-webhook?api-version=2023-02-15-preview",
      "Content": null,
      "Headers": {
  [...]
