{
  "Get-AzsEdgeGateway+[NoContext]+TestListEdgeGateways+$GET+https://adminmanagement.redmond.ext-n22r0903.masd.stbtest.microsoft.com/subscriptions/f7f5c0d1-e0a3-41f5-bf30-d27f13c9a3a7/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/edgeGateways?api-version=2016-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://adminmanagement.redmond.ext-n22r0903.masd.stbtest.microsoft.com/subscriptions/f7f5c0d1-e0a3-41f5-bf30-d27f13c9a3a7/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/edgeGateways?api-version=2016-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "62" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "14935" ],
        "WWW-Authenticate": [ "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvcz68DwNiQ58wU3lUUj6W48giTNzxyW0tUwLrojiGFA21LswNXq0SvTKNxYKdkKkffMMtYGoUXmdAVDnmPtPV3ebly1lG7TCRSLE4qgmsT0RfeZ86ozGKHi4BQEj+uF1/NwFasaGffJS+PAonR9Z+" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/f7f5c0d1-e0a3-41f5-bf30-d27f13c9a3a7/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/edgeGateways/n22r0903-Gwy01\",\"name\":\"redmond/n22r0903-Gwy01\",\"type\":\"Microsoft.Fabric.Admin/fabricLocations/edgeGateways\",\"location\":\"redmond\",\"tags\":{},\"properties\":{\"state\":\"Active\",\"totalCapacity\":14000000,\"availableCapacity\":14000000,\"numberOfConnections\":0}},{\"id\":\"/subscriptions/f7f5c0d1-e0a3-41f5-bf30-d27f13c9a3a7/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/edgeGateways/n22r0903-Gwy02\",\"name\":\"redmond/n22r0903-Gwy02\",\"type\":\"Microsoft.Fabric.Admin/fabricLocations/edgeGateways\",\"location\":\"redmond\",\"tags\":{},\"properties\":{\"state\":\"Active\",\"totalCapacity\":14000000,\"availableCapacity\":14000000,\"numberOfConnections\":0}},{\"id\":\"/subscriptions/f7f5c0d1-e0a3-41f5-bf30-d27f13c[...]
