{
  "[NoDescription]+[NoContext]+[NoScenario]+$PUT+https://adminmanagement.redmond.ext-n22r0903.masd.stbtest.microsoft.com/subscriptions/f7f5c0d1-e0a3-41f5-bf30-d27f13c9a3a7/resourceGroups/system.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/ipPools/ok?api-version=2016-05-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://adminmanagement.redmond.ext-n22r0903.masd.stbtest.microsoft.com/subscriptions/f7f5c0d1-e0a3-41f5-bf30-d27f13c9a3a7/resourceGroups/system.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/ipPools/ok?api-version=2016-05-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"addressPrefix\": \"192.168.99.0/24\",\r\n    \"endIpAddress\": \"192.168.99.254\",\r\n    \"startIpAddress\": \"192.168.88.1\"\r\n  }\r\n}",
      "Headers": {
        "x-ms-unique-id": [ "11" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Retry-After": [ "60" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "Location": [ "https://adminmanagement.redmond.ext-n22r0903.masd.stbtest.microsoft.com/subscriptions/f7f5c0d1-e0a3-41f5-bf30-d27f13c9a3a7/resourceGroups/system.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/networkOperationResults/24519f30-3218-4e78-b247-dd7bc14956a3?api-version=2016-05-01" ],
        "WWW-Authenticate": [ "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvtcPzkT6ykD2x6biIgL02u2XMAhnvvTXwO5TG/E4zG5wP+CrrbplZJcWacw8SC7cevBE9uIO9TD7eBK2uxsuqP7kWNOX3UexNeJl3X449Kn7AKdqTSKYkSVM9p4l7PcxFRkPqBVSH/IlJeiVdOwwE" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/f7f5c0d1-e0a3-41f5-bf30-d27f13c9a3a7/resourceGroups/system.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/ipPools/ok\",\"name\":\"redmond/ok\",\"type\":\"Microsoft.Fabric.Admin/fabricLocations/ipPools\",\"location\":\"redmond\",\"tags\":{},\"properties\":{\"startIpAddress\":\"192.168.88.1\",\"endIpAddress\":\"192.168.99.254\",\"addressPrefix\":\"192.168.99.0/24\",\"provisioningState\":1}}"
    }
  },
  "[NoDescription]+[NoContext]+[NoScenario]+$GET+https://adminmanagement.redmond.ext-n22r0903.masd.stbtest.microsoft.com/subscriptions/f7f5c0d1-e0a3-41f5-bf30-d27f13c9a3a7/resourceGroups/system.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/networkOperationResults/24519f30-3218-4e78-b247-dd7bc14956a3?api-version=2016-05-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://adminmanagement.redmond.ext-n22r0903.masd.stbtest.microsoft.com/su[...]
