{
  "Entries": [
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourcegroups/sql-td-cmdlet-test-rgps2869?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/sql-td-cmdlet-test-rgps2869\",\r\n  \"name\": \"sql-td-cmdlet-test-rgps2869\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/sql-td-cmdlet-test-rgps2869/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps2869?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/sql-td-cmdlet-serverps2869' under resource group 'sql-td-cmdlet-test-rgps2869' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/sql-td-cmdlet-test-rgps2869/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps2869?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11951"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sql-td-cmdlet-serverps2869.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/sql-td-cmdlet-test-rgps2869/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps2869\",\r\n  \"name\": \"sql-td-cmdlet-serverps2869\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/sql-td-cmdlet-test-rgps2869/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps2869?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!Sec\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://brazilus.management.azure.com/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/sql-td-cmdlet-test-rgps2869/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/a49aad0a-1b8d-4102-b1b3-c86c2e2d9848?api-version=2019-06-01-preview"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://brazilus.management.azure.com/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/sql-td-cmdlet-test-rgps2869/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/a49aad0a-1b8d-4102-b1b3-c86c2e2d9848?api-version=2019-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-09-08T00:41:55.933Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/sql-td-cmdlet-test-rgps2869/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/a49aad0a-1b8d-4102-b1b3-c86c2e2d9848?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11959"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"a49aad0a-1b8d-4102-b1b3-c86c2e2d9848\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-09-08T00:41:55.933Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/sql-td-cmdlet-test-rgps2869/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps2869/databases/sql-td-cmdlet-dbps2869?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/sql-td-cmdlet-serverps2869/databases/sql-td-cmdlet-dbps2869' under resource group 'sql-td-cmdlet-test-rgps2869' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/sql-td-cmdlet-test-rgps2869/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps2869/databases/sql-td-cmdlet-dbps2869?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11945"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\",\r\n    \"capacity\": 5\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 2147483648,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"1891d709-1401-45ed-8aaa-728478fa019c\",\r\n    \"creationDate\": \"2020-09-08T00:43:53.98Z\",\r\n    \"currentServiceObjectiveName\": \"Basic\",\r\n    \"requestedServiceObjectiveName\": \"Basic\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"earliestRestoreDate\": \"2020-09-08T01:13:53.98Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"readReplicaCount\": 0,\r\n    \"currentSku\": {\r\n      \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"capacity\": 5\r\n    },\r\n    \"storageAccountType\": \"GRS\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/sql-td-cmdlet-test-rgps2869/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps2869/databases/sql-td-cmdlet-dbps2869\",\r\n  \"name\": \"sql-td-cmdlet-dbps2869\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/sql-td-cmdlet-test-rgps2869/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/52bf43f2-4921-4756-828c-2981de11e186?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11948"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"52bf43f2-4921-4756-828c-2981de11e186\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-09-08T00:43:09.997Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/sql-td-cmdlet-test-rgps2869/providers/Microsoft.Storage/storageAccounts/tdcmdletsps2869?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://brazilus.management.azure.com/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/providers/Microsoft.Storage/locations/westcentralus/asyncoperations/940043c5-a316-4940-8924-72f3033b8721?monitor=true&api-version=2017-10-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1182"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/providers/Microsoft.Storage/locations/westcentralus/asyncoperations/940043c5-a316-4940-8924-72f3033b8721?monitor=true&api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11849"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/sql-td-cmdlet-test-rgps2869/providers/Microsoft.Storage/storageAccounts/tdcmdletsps2869\",\r\n  \"name\": \"tdcmdletsps2869\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-09-08T00:44:05.9727562Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-09-08T00:44:05.9727562Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2020-09-08T00:44:05.9258796Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://tdcmdletsps2869.blob.core.windows.net/\",\r\n      \"queue\": \"https://tdcmdletsps2869.queue.core.windows.net/\",\r\n      \"table\": \"https://tdcmdletsps2869.table.core.windows.net/\",\r\n      \"file\": \"https://tdcmdletsps2869.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"westcentralus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"westus2\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/sql-td-cmdlet-test-rgps2869/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps2869/securityAlertPolicies/Default?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11943"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"state\": \"Disabled\",\r\n    \"disabledAlerts\": [\r\n      \"\"\r\n    ],\r\n    \"emailAddresses\": [\r\n      \"\"\r\n    ],\r\n    \"emailAccountAdmins\": false,\r\n    \"storageEndpoint\": \"\",\r\n    \"storageAccountAccessKey\": \"\",\r\n    \"retentionDays\": 0,\r\n    \"creationTime\": \"0001-01-01T00:00:00Z\"\r\n  },\r\n  \"id\": \"/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/sql-td-cmdlet-test-rgps2869/providers/Microsoft.Sql/servers/sql-td-cmdlet-serverps2869/securityAlertPolicies/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/securityAlertPolicies\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/providers/Microsoft.Sql/locations/westcentralus/securityAlertPoliciesAzureAsyncOperation/fb8a1d60-77a1-4f6d-a194-ba21af146242?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11941"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"fb8a1d60-77a1-4f6d-a194-ba21af146242\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-09-08T00:44:38.247Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resources?$filter=resourceType%20eq%20'Microsoft.ClassicStorage%2FstorageAccounts'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11948"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/Default-Storage-JapanWest/providers/Microsoft.ClassicStorage/storageAccounts/wasd2c002jawe1ahspsmi42\",\r\n      \"name\": \"wasd2c002jawe1ahspsmi42\",\r\n      \"type\": \"Microsoft.ClassicStorage/storageAccounts\",\r\n      \"location\": \"japanwest\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/Default-Storage-JapanWest/providers/Microso[...]
[...]
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resources?$filter=resourceType%20eq%20'Microsoft.Storage%2FstorageAccounts'&api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11947"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n[...]
[...]
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/sql-td-cmdlet-test-rgps2869/providers/Microsoft.ClassicStorage/storageAccounts/tdcmdletsps2869/listKeys?api-version=2014-06-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.ClassicStorage/storageAccounts/tdcmdletsps2869' under resource group 'sql-td-cmdlet-test-rgps2869' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/resourceGroups/sql-td-cmdlet-test-rgps2869/providers/Microsoft.Storage/storageAccounts/tdcmdletsps2869/listKeys?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\": \"T9yB7KBtcSsQTzmjBxlCbYwPr+xJBukE/mcJUC0Qb/MyneA4T36aBpiBZ87WBMefDnb8QIQJ07UODwmF7NQ/3A==\",\r\n      \"permissions\": \"FULL\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"xKDHbDSTvmnc6/UFyir9ZgbcAl3t+N+dw2EEglwUTQemTQ8iLtMO4wXsodY9Z5zGmDhgNY89wgSPph0ErE14Vg==\",\r\n      \"permissions\": \"FULL\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRURDoyRENNRExFVDoyRFRFU1Q6MkRSR1BTMjg2OS1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://brazilus.management.azure.com/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRURDoyRENNRExFVDoyRFRFU1Q6MkRSR1BTMjg2OS1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11949"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/b75889fa-6661-44e0-a844-cd96ec938991/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRURDoyRENNRExFVDoyRFRFU1Q6MkRSR1BTMjg2OS1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11942"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-ThreatDetectionServerUpdatePolicy": [
      "ps2869"
    ]
  },
  "Variables": {
    "SubscriptionId": "b75889fa-6661-44e0-a844-cd96ec938991"
  }
}