{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/providers/Microsoft.Compute?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "6c80a066-62a2-449f-8284-223ea59c6a11"
=======
          "801c1568-6d42-4932-98d1-2e1eb196b0cf"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27414.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.1.18"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.14"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11969"
        ],
        "x-ms-request-id": [
          "00b06411-9cde-4e5d-9969-59a5aa965c75"
        ],
        "x-ms-correlation-request-id": [
          "00b06411-9cde-4e5d-9969-59a5aa965c75"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190409T103500Z:00b06411-9cde-4e5d-9969-59a5aa965c75"
=======
          "11979"
        ],
        "x-ms-request-id": [
          "1764e9a7-1048-422c-846c-9504d4fac69b"
        ],
        "x-ms-correlation-request-id": [
          "1764e9a7-1048-422c-846c-9504d4fac69b"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200605T112111Z:1764e9a7-1048-422c-846c-9504d4fac69b"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 09 Apr 2019 10:34:59 GMT"
=======
          "Fri, 05 Jun 2020 11:21:11 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "21714"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/providers/Microsoft.Compute\",\r\n  \"namespace\": \"Microsoft.Compute\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"60e6cd67-9c8c-4951-9b3c-23c25a2169af\",\r\n      \"roleDefinitionId\": \"e4770acb-272e-4dc8-87f3-12f44a612224\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a303894e-f1d8-4a37-bf10-67aa654a0596\",\r\n      \"roleDefinitionId\": \"903ac751-8ad5-4e5a-bfc2-5e49f450a241\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a8b6bf88-1d1a-4626-b040-9a729ea93c65\",\r\n      \"roleDefinitionId\": \"45c8267c-80ba-4b96-9a43-115b8f49fccd\"\r\n    },\r\n    {\r\n      \"applicationId\": \"184909ca-69f1-4368-a6a7-c558ee6eb0bd\",\r\n      \"roleDefinitionId\": \"45c8267c-80ba-4b96-9a43-115b8f49fccd\"\r\n    },\r\n    {\r\n      \"applicationId\": \"5e5e43d4-54da-4211-86a4-c6e7f3715801\",\r\n      \"roleDefinitionId\": \"ffcd6e5b-8772-457d-bb17-89703c03428f\"\r\n    },\r\n    {\r\n      \"applicationId\": \"ce6ff14a-7fdc-4685-bbe0-f6afdfcfa8e0\",\r\n      \"roleDefinitionId\": \"cb17cddc-dbac-4ae0-ae79-8db34eddfca0\"\r\n    },\r\n    {\r\n      \"applicationId\": \"372140e0-b3b7-4226-8ef9-d57986796201\",\r\n      \"roleDefinitionId\": \"cb17cddc-dbac-4ae0-ae79-8db34eddfca0\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"availabilitySets\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"Central US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"South India\",\r\n        \"Central India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West US 2\",\r\n        \"West Central US\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"South Africa North\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-03-01\",\r\n        \"2018-10-01\",\r\n        \"2018-06-01\",\r\n        \"2018-04-01\",\r\n        \"2017-12-01\",\r\n        \"2017-03-30\",\r\n        \"2016-08-30\",\r\n        \"2016-04-30-preview\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"virtualMachines\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"Central US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"South India\",\r\n        \"Central India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West US 2\",\r\n        \"West Central US\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"South Africa North\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-03-01\",\r\n        \"2018-10-01\",\r\n        \"2018-06-01\",\r\n        \"2018-04-01\",\r\n        \"2017-12-01\",\r\n        \"2017-03-30\",\r\n        \"2016-08-30\",\r\n        \"2016-04-30-preview\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\"\r\n      ],\r\n      \"zoneMappings\": [\r\n        {\r\n          \"location\": \"East US 2\",\r\n          \"zones\": [\r\n            \"1\",\r\n            \"2\",\r\n            \"3\"\r\n          ]\r\n        },\r\n        {\r\n          \"location\": \"Central US\",\r\n          \"zones\": [\r\n            \"1\",\r\n            \"2\",\r\n            \"3\"\r\n          ]\r\n        },\r\n        {\r\n          \"location\": \"West Europe\",\r\n          \"zones\": [\r\n            \"1\",\r\n            \"2\",\r\n            \"3\"\r\n          ]\r\n        },\r\n        {\r\n          \"location\": \"France C[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourcegroups/crptestps8579?api-version=2016-09-01",
=======
          "31466"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/providers/Microsoft.Compute\",\r\n  \"namespace\": \"Microsoft.Compute\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"60e6cd67-9c8c-4951-9b3c-23c25a2169af\",\r\n      \"roleDefinitionId\": \"e4770acb-272e-4dc[...]
[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8579/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8579?api-version=2018-12-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8213\",\r\n  \"name\": \"crptestps8213\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8213/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8213?api-version=2020-03-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "5bd236e2-6b2d-4b8e-b00c-7a5823ae5560"
=======
          "0094e184-ab53-43bf-9656-d0ec044d808a"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27414.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.10.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.20.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "d6eeb648-0d11-4ced-9475-f733aefc077c"
        ],
        "x-ms-correlation-request-id": [
          "d6eeb648-0d11-4ced-9475-f733aefc077c"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190409T103502Z:d6eeb648-0d11-4ced-9475-f733aefc077c"
=======
          "61aeda0f-e15e-4a40-a562-23eb927f482e"
        ],
        "x-ms-correlation-request-id": [
          "61aeda0f-e15e-4a40-a562-23eb927f482e"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200605T112112Z:61aeda0f-e15e-4a40-a562-23eb927f482e"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 09 Apr 2019 10:35:02 GMT"
=======
          "Fri, 05 Jun 2020 11:21:12 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "168"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/vnetcrptestps8579' under resource group 'crptestps8579' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8213/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8213?api-version=2020-03-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27414.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.10.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.20.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"9e4a3494-a3c5-4db3-9da2-6f8862acbea4\""
        ],
        "x-ms-request-id": [
          "65235678-108b-4261-ac9c-6ce8d0e1d818"
        ],
        "x-ms-correlation-request-id": [
          "3aac35f8-9374-4e5a-a1c8-4de164a28b73"
=======
          "W/\"45a8d55a-a367-4c4d-8f5b-e78a20126378\""
        ],
        "x-ms-request-id": [
          "e9748122-9702-4898-99ab-189459cb8f83"
        ],
        "x-ms-correlation-request-id": [
          "4232b79c-fbe9-4c05-895d-e1fce32c144f"
        ],
        "x-ms-arm-service-request-id": [
          "c4e1fb12-584c-4063-9c77-459de97cc32b"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11978"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190409T103507Z:3aac35f8-9374-4e5a-a1c8-4de164a28b73"
=======
          "11961"
        ],
        "x-ms-routing-request-id": [
          "GERMANYWESTCENTRAL:20200605T112118Z:4232b79c-fbe9-4c05-895d-e1fce32c144f"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Tue, 09 Apr 2019 10:35:07 GMT"
        ],
        "Content-Length": [
          "1226"
=======
          "Fri, 05 Jun 2020 11:21:18 GMT"
        ],
        "Content-Length": [
          "1341"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps8579\",\r\n  \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8579/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8579\",\r\n  \"etag\": \"W/\\\"9e4a3494-a3c5-4db3-9da2-6f8862acbea4\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"a4e045b5-8fe5-47a8-8c55-716b3967a595\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnetcrptestps8579\",\r\n        \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8579/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8579/subnets/subnetcrptestps8579\",\r\n        \"etag\": \"W/\\\"9e4a3494-a3c5-4db3-9da2-6f8862acbea4\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": []\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8579/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8579?api-version=2018-12-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps8213\",\r\n  \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8213/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8213\",\r\n  \"etag\": \"W/\\\"45a8d55a-a367-4c4d-8f5b-e78a20126378\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"5d3105a3-c1e8-4f36-be00-d15e60e11e00\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnetcrptestps8213\",\r\n        \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8213/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8213/subnets/subnetcrptestps8213\",\r\n        \"etag\": \"W/\\\"45a8d55a-a367-4c4d-8f5b-e78a20126378\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8579/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8579?api-version=2018-12-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"resourceNavigationLinks\": [],\r\n          \"serviceAssociationLinks\": [],\r\n          \"delegations\": []\r\n        },\r\n        \"name\": \"subnetcrptestps8579\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps8213\",\r\n  \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8213/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8213\",\[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8213/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8213?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"subnetcrptestps8213\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27414.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.10.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.20.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "602"
=======
          "691"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ]
<<<<<<< HEAD
          "41450182-cbb1-40a2-8302-3401d82572e6"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/providers/Microsoft.Network/locations/eastus/operations/41450182-cbb1-40a2-8302-3401d82572e6?api-version=2018-12-01"
        ],
        "x-ms-correlation-request-id": [
          "7ae35d46-8064-4ac7-9c20-ef213e4605a2"
=======
          "bed1842f-533e-4303-8230-df7bbede52be"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/providers/Microsoft.Network/locations/eastus/operations/bed1842f-533e-4303-8230-df7bbede52be?api-version=2020-03-01"
        ],
        "x-ms-correlation-request-id": [
          "38069277-0b70-4acb-87f6-cffa721e939b"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-arm-service-request-id": [
          "f6c227d3-99bc-434d-98f9-c8aca6f0ae98"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1194"
        ],
        "x-ms-routi[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/providers/Microsoft.Network/locations/eastus/operations/41450182-cbb1-40a2-8302-3401d82572e6?api-version=2018-12-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps8213\",\r\n  \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8213/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8213\",\r\n  \"etag\": \"W/\\\"197a26d1-b031-4359-bf1a-7d48f1d0115a\\\"\",\r\n [...]
[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8579/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps8579?api-version=2018-12-01",
=======
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/pubipcrptestps8213' under resource group 'crptestps8213' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8579/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps8579?api-version=2018-12-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"pubipcrptestps8213\",\r\n  \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8213/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps8213\",\r\n  \"etag\": \"W/\\\"abe87d29-6730-45fb-b088-d97c1eb3a9b5\\\"\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"c692c2f5-fc4e-4957-adb6-ea71ad9b5dae\",\r\n    \"ipAddress\": \"52.191.20.188\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"pubipcrptestps8213\",\r\n      \"fqdn\": \"pubipcrptestps8213.eastus.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/providers/Microsoft.Network/locations/eastus/operations/6a63221f-5b45-42f6-bad5-d55f0d1fa830?api-version=2018-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8213/providers/Microsoft.Network/networkInterfaces/nic0crptestps8213?api-version=2020-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Retry-After": [
          "2"
        ],
        "x-ms-request-id": [
          "87794123-1ba6-4d08-92ee-[...]
[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/providers/Microsoft.Network/locations/eastus/operations/6a63221f-5b45-42f6-bad5-d55f0d1fa830?api-version=2018-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"nic0crptestps8213\",\r\n  \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8213/providers/Microsoft.Network/networkInterfaces/nic0crptestps8213\",\r\n  \"etag\": \"W/\\\"9768a685-d5d4-4544-b2df-ad6c3d0e8d6c\\\"\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"8cf23f51-3123-4d2b-a1af-c1d428415c3d\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8213/providers/Microsoft.Network/networkInterfaces/nic0crptestps8213/ipConfigurations/ipconfig1\",\r\n        \"etag\": \"W/\\\"9768a685-d5d4-4544-b2df-ad6c3d0e8d6c\\\"\",\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8213/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps8213\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8213/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8213/subnets/subnetcrptestps8213\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"umctcxpiye1e5pqa0fpgbyi4aa.bx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\": false,\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n    \"nicType\": \"Standard\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8213/providers/Microsoft.Network/networkInterfaces/nic0crptestps8213?api-version=2020-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"virtualNetworkTaps\": [],\r\n          \"applicationGatewayBackendAddressPools\": [],\r\n          \"loadBalancerBackendAddressPools\": [],\r\n          \"loadBalancerInboundNatRules\": [],\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefixes\": [],\r\n              \"serviceEndpoints\": [],\r\n              \"serviceEndpointPolicies\": [],\r\n              \"ipAllocations\": [],\r\n              \"delegations\": []\r\n            },\r\n            \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8213/providers/Microsoft.Network/virtualNetworks/vnetcrptestps8213/subnets/subnetcrptestps8213\"\r\n          },\r\n          \"primary\": true,\r\n          \"publicIPAddress\": {\r\n            \"properties\": {\r\n              \"ipTags\": []\r\n            },\r\n            \"zones\": [],\r\n            \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8213/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps8213\",\r\n            \"tags\": {}\r\n          }\r\n        },\r\n        \"name\": \"ipconfig1\"\r\n      }\r\n    ],\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\": false\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Retry-After": [
          "2"
        ],
        "x-ms-req[...]
[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps8213/providers/Microsoft.Storage/storageAccounts/stocrptestps8213?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Retry-After": [
          "2"
        ],
        "x-ms-request-id": [
          "b2128462-5100-42c1-8a0c-cf95553ce41f"
        ],
        "x-ms-correlation-request-id": [
          "ef16a207-6aee-4923-a8b6-53fe29879bf8"
=======
        "Location": [
          "https://management.azure.com/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/providers/Microsoft.Storage/locations/eastus/asyncoperations/28a04912-25d8-48a5-a830-8a544f9be9a9?monitor=true&api-version=2017-10-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-request-id": [
          "28a04912-25d8-48a5-a830-8a544f9be9a9"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; inc[...]
[...]
    {
[...]
