{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/providers?api-version=2018-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/7dec1fd6-2e45-4798-9be5-efba704319b4/providers/Microsoft.Authorization\",\r\n      \"namespace\": \"Microsoft.Authorization\",\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"roleAssignments\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2018-12-01-preview\",\r\n            \"2018-09-01-preview\",\r\n            \"2018-01-01-preview\",\r\n            \"2017-10-01-preview\",\r\n            \"2017-09-01\",\r\n            \"2017-05-01\",\r\n            \"2016-07-01\",\r\n            \"2015-07-01\",\r\n            \"2015-06-01\",\r\n            \"2015-05-01-preview\",\r\n            \"2014-10-01-preview\",\r\n            \"2014-07-01-preview\",\r\n            \"2014-04-01-preview\"\r\n          ],\r\n          \"apiProfiles\": [\r\n            {\r\n              \"profileVersion\": \"2018-06-01-profile\",\r\n              \"apiVersion\": \"2017-09-01\"\r\n            }\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"roleDefinitions\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2018-01-01-preview\",\r\n            \"2017-09-01\",\r\n            \"2017-05-01\",\r\n            \"2016-07-01\",\r\n            \"2015-07-01\",\r\n            \"2015-06-01\",\r\n            \"2015-05-01-preview\",\r\n            \"2014-10-01-preview\",\r\n            \"2014-07-01-preview\"[...]
