{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourcegroups/crptestps2247?api-version=2021-04-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourcegroups/crptestps2247?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"southcentralus\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247\",\r\n  \"name\": \"crptestps2247\",\r\n  \"type\": \"Microsoft.Resources/resourceGroups\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/virtualNetworks/vnetcrptestps2247?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/vnetcrptestps2247' under resource group 'crptestps2247' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/virtualNetworks/vnetcrptestps2247?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"a5756a03-2973-44db-9f3c-45afa0045585\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps2247\",\r\n  \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/virtualNetworks/vnetcrptestps2247\",\r\n  \"etag\": \"W/\\\"a5756a03-2973-44db-9f3c-45afa0045585\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"70d8d91e-db84-4ccd-8cbc-36df4b6b39cf\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnetcrptestps2247\",\r\n        \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/virtualNetworks/vnetcrptestps2247/subnets/subnetcrptestps2247\",\r\n        \"etag\": \"W/\\\"a5756a03-2973-44db-9f3c-45afa0045585\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/virtualNetworks/vnetcrptestps2247?api-version=2022-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n          \"applicationGatewayIpConfigurations\": []\r\n        },\r\n        \"name\": \"subnetcrptestps2247\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"southcentralus\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/providers/Microsoft.Network/locations/southcentralus/operations/d294cf92-3baf-4958-bb3d-b30d8655840d?api-version=2022-07-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps2247\",\r\n  \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/virtualNetworks/vnetcrptestps2247\",\r\n  \"etag\": \"W/\\\"0add1e52-28b6-4e59-a811-56a0bbf08e73\\\"\",\[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/providers/Microsoft.Network/locations/southcentralus/operations/d294cf92-3baf-4958-bb3d-b30d8655840d?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps2247?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/pubipcrptestps2247' under resource group 'crptestps2247' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps2247?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"a1ac21c2-fd36-4df2-891a-eff312a0c502\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pubipcrptestps2247\",\r\n  \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps2247\",\r\n  \"etag\": \"W/\\\"a1ac21c2-fd36-4df2-891a-eff312a0c502\\\"\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"017c109c-8841-4528-bcf3-52363e2f7c97\",\r\n    \"ipAddress\": \"20.165.34.19\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"pubipcrptestps2247\",\r\n      \"fqdn\": \"pubipcrptestps2247.southcentralus.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": [],\r\n    \"ddosSettings\": {\r\n      \"protectionMode\": \"VirtualNetworkInherited\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps2247?api-version=2022-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"pubipcrptestps2247\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"southcentralus\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/providers/Microsoft.Network/locations/southcentralus/operations/aa4dc984-6d18-43da-884c-24d7513d9908?api-version=2022-07-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscripti[...]
[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/networkInterfaces/nic0crptestps2247?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/nic0crptestps2247' under resource group 'crptestps2247' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/networkInterfaces/nic0crptestps2247?api-version=2022-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"7cecaa4e-01d0-49c6-9f21-4b01ca88ecd3\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"nic0crptestps2247\",\r\n  \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/networkInterfaces/nic0crptestps2247\",\r\n  \"etag\": \"W/\\\"7cecaa4e-01d0-49c6-9f21-4b01ca88ecd3\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"20faf45e-d6d0-4c76-b646-15068d40fd4d\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/networkInterfaces/nic0crptestps2247/ipConfigurations/ipconfig1\",\r\n        \"etag\": \"W/\\\"7cecaa4e-01d0-49c6-9f21-4b01ca88ecd3\\\"\",\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps2247\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/virtualNetworks/vnetcrptestps2247/subnets/subnetcrptestps2247\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"d1m3q2ee1pguzdf2g1puw0zzzh.jx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\": false,\r\n    \"disableTcpStateTracking\": false,\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n    \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"southcentralus\",\r\n  \"kind\": \"Regular\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/networkInterfaces/nic0crptestps2247?api-version=2022-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"virtualNetworkTaps\": [],\r\n          \"applicationGatewayBackendAddressPools\": [],\r\n          \"loadBalancerBackendAddressPools\": [],\r\n          \"loadBalancerInboundNatRules\": [],\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefixes\": [],\r\n              \"serviceEndpoints\": [],\r\n              \"serviceEndpointPolicies\": [],\r\n              \"ipAllocations\": [],\r\n              \"delegations\": [],\r\n              \"applicationGatewayIpConfigurations\": []\r\n            },\r\n            \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/virtualNetworks/vnetcrptestps2247/subnets/subnetcrptestps2247\"\r\n          },\r\n          \"primary\": true,\r\n          \"publicIPAddress\": {\r\n            \"properties\": {\r\n              \"ipTags\": []\r\n            },\r\n            \"zones\": [],\r\n            \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps2247\",\r\n            \"tags\": {}\r\n          }\r\n        },\r\n        \"name\": \"ipconfig1\"\r\n      }\r\n    ],\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\": false\r\n  },\r\n  \"location\": \"southcentralus\"\r\n}",
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/providers/Microsoft.Network/locations/southcentralus/operations/32125169-c40e-4704-ba17-7982d54ec830?api-version=2022-07-0[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Storage/storageAccounts/stocrptestps2247?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"southcentralus\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/providers/Microsoft.Storage/locations/southcentralus/asyncoperations/e3498322-d58a-420e-b391-0e22d98d61d1?monitor=true&api-version=2017-10-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/providers/Microsoft.Storage/locations/southcentralus/asyncoperations/e3498322-d58a-420e-b391-0e22d98d61d1?monitor=true&api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Premium_LRS\",\r\n    \"tier\": \"Premium\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Storage/storageAccounts/stocrptestps2247\",\r\n  \"name\": \"stocrptestps2247\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"southcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2023-01-02T15:51:19.9950485Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2023-01-02T15:51:19.9950485Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2023-01-02T15:51:19.5419175Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://stocrptestps2247.blob.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"southcentralus\",\r\n    \"statusOfPrimary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Storage/storageAccounts/stocrptestps2247/listKeys?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      //[SuppressMessage("Microsoft.Security", "CS002:SecretInNextLine")]
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\": \"UEoOR17OKYSeyovN7/Be/AJtKcdwrU9DOMnU0xEPLhkVxY9K+1fQMW7NNZdnV+doO2ZgMmW/W0mN+AStohUr5Q==\",\r\n      \"permissions\": \"FULL\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"tH2cblP+JfIJZ3vCfbDVQ6BltRa7I4WelnGFPzKoAK/f6nyXTER3D+dAlopzjyZ0m2uimDBt2N6X+AStIBt8dA==\",\r\n      \"permissions\": \"FULL\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Compute/virtualMachines/vmcrptestps2247?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_E4s_v3\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2019-Datacenter\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"name\": \"osDisk\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"writeAcceleratorEnabled\": false,\r\n        \"createOption\": \"FromImage\",\r\n        \"diskSizeGB\": 128\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 1,\r\n          \"name\": \"testDataDisk1\",\r\n          \"caching\": \"ReadOnly\",\r\n          \"createOption\": \"Empty\",\r\n          \"diskSizeGB\": 10\r\n        },\r\n        {\r\n          \"lun\": 2,\r\n          \"name\": \"testDataDisk2\",\r\n          \"caching\": \"ReadOnly\",\r\n          \"createOption\": \"Empty\",\r\n          \"diskSizeGB\": 11\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"adminPassword\": \"PLACEHOLDER1@\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true\r\n      }\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"properties\": {\r\n            \"primary\": true\r\n          },\r\n          \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/networkInterfaces/nic0crptestps2247\"\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": false\r\n      }\r\n    }\r\n  },\r\n  \"location\": \"southcentralus\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/providers/Microsoft.Compute/locations/southcentralus/operations/fc1ced40-0048-428a-8440-c06ad6a30063?p=e0e1f1d5-2f7c-40f7-96d3-7efdf3558f7e&api-version=2022-08-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1199"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vmcrptestps2247\",\r\n  \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Compute/virtualMachines/vmcrptestps2247\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"vmId\": \"4582d405-f70a-4fbc-b50a-92cd2adae238\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_E4s_v3\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2019-Datacenter\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\": \"17763.3770.221211\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"osDisk\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"writeAcceleratorEnabled\": false,\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\"\r\n        },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\": 128\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 1,\r\n          \"name\": \"testDataDisk1\",\r\n          \"createOption\": \"Empty\",\r\n          \"caching\": \"ReadOnly\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Premium_LRS\"\r\n          },\r\n          \"deleteOption\": \"Detach\",\r\n          \"diskSizeGB\": 10,\r\n          \"toBeDetached\": false\r\n        },\r\n        {\r\n          \"lun\": 2,\r\n          \"name\": \"testDataDisk2\",\r\n          \"createOption\": \"Empty\",\r\n          \"caching\": \"ReadOnly\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Premium_LRS\"\r\n          },\r\n          \"deleteOption\": \"Detach\",\r\n          \"diskSizeGB\": 11,\r\n          \"toBeDetached\": false\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"AutomaticByOS\",\r\n          \"assessmentMode\": \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\": false\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"id\": \"/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Network/networkInterfaces/nic0crptestps2247\",\r\n          \"properties\": {\r\n            \"primary\": true\r\n          }\r\n        }\r\n      ]\r\n    },\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n        \"enabled\": false\r\n      }\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"timeCreated\": \"2023-01-02T16:51:43.1379161+01:00\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/providers/Microsoft.Compute/locations/southcentralus/operations/fc1ced40-0048-428a-8440-c06ad6a30063?p=e0e1f1d5-2f7c-40f7-96d3-7efdf3558f7e&api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "4"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29999"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2023-01-02T16:51:42.7472546+01:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"fc1ced40-0048-428a-8440-c06ad6a30063\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/providers/Microsoft.Compute/locations/southcentralus/operations/fc1ced40-0048-428a-8440-c06ad6a30063?p=e0e1f1d5-2f7c-40f7-96d3-7efdf3558f7e&api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;14997,Microsoft.Compute/GetOperation30Min;29997"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2023-01-02T16:51:42.7472546+01:00\",\r\n  \"endTime\": \"2023-01-02T16:51:59.1864212+01:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"fc1ced40-0048-428a-8440-c06ad6a30063\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Compute/virtualMachines/vmcrptestps2247?$expand=instanceView&api-version=2022-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/LowCostGet3Min;3995,Microsoft.Compute/LowCostGet30Min;31993"
        ],
        "x-ms-ratelim[...]
    {
      "RequestUri": "/subscriptions/e314011a-a999-4470-afdc-368f5b67c69f/resourceGroups/crptestps2247/providers/Microsoft.Compute/virtualMachines/vmcrptestps2247/extensions/MonitorX64Windows?api-version=2022-08-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"forceUpdateTag\": \"638082751256406954\",\r\n    \"publisher\": \"Microsoft.AzureCAT.AzureEnhancedMonitoring.Test\",\r\n    \"type\": \"MonitorX64Windows\",\r\n    \"typeHandlerVersion\": \"1.0\",\r\n    \"autoUpgradeMinorVersion\": true,\r\n    \"settings\": {\r\n      \"cfg\": []\r\n    }\r\n  },\r\n  \"location\": \"southcentralus\"\r\n}",
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
[...]
