{
  "Entries": [
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/externalSecuritySolutions?api-version=2015-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"kind\": \"AAD\",\r\n      \"properties\": {\r\n        \"connectivityState\": \"Discovered\",\r\n        \"deviceVendor\": \"microsoft\",\r\n        \"deviceType\": \"Azure Active Directory Identity Protection\",\r\n        \"workspace\": {\r\n          \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-487bb485-b5b0-471e-9c0d-10717612f869-eus\"\r\n        }\r\n      },\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/defaultresourcegroup-eus/providers/Microsoft.Security/locations/centralus/externalSecuritySolutions/aad_defaultworkspace-487bb485-b5b0-471e-9c0d-10717612f869-eus\",\r\n      \"name\": \"aad_defaultworkspace-487bb485-b5b0-471e-9c0d-10717612f869-eus\",\r\n      \"type\": \"Microsoft.Security/locations/externalSecuritySolutions\",\r\n      \"location\": \"eastus\"\r\n    },\r\n    {\r\n      \"kind\": \"AAD\",\r\n      \"properties\": {\r\n        \"connectivityState\": \"Discovered\",\r\n        \"deviceVendor\": \"microsoft\",\r\n        \"deviceType\": \"Azure Active Directory Identity Protection\",\r\n        \"workspace\": {\r\n          \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourcegroups/defaultresourcegroup-weu/providers/microsoft.operationalinsights/workspaces/defaultworkspace-487bb485-b5b0-471e-9c0d-10717612f8[...]
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/defaultresourcegroup-eus/providers/Microsoft.Security/locations/centralus/ExternalSecuritySolutions/aad_defaultworkspace-487bb485-b5b0-471e-9c0d-10717612f869-eus?api-version=2015-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"kind\": \"AAD\",\r\n  \"properties\": {\r\n    \"connectivityState\": \"Discovered\",\r\n    \"deviceVendor\": \"microsoft\",\r\n    \"deviceType\": \"Azure Active Directory Identity Protection\",\r\n    \"workspace\": {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-487bb485-b5b0-471e-9c0d-10717612f869-eus\"\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/defaultresourcegroup-eus/providers/Microsoft.Security/locations/centralus/externalSecuritySolutions/aad_defaultworkspace-487bb485-b5b0-471e-9c0d-10717612f869-eus\",\r\n  \"name\": \"aad_defaultworkspace-487bb485-b5b0-471e-9c0d-10717612f869-eus\",\r\n  \"type\": \"Microsoft.Security/locations/externalSecuritySolutions\",\r\n  \"location\": \"eastus\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "487bb485-b5b0-471e-9c0d-10717612f869"
  }
}