{
  "Get-AzPeeringService+[NoContext]+List1+$GET+https://management.azure.com/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/providers/Microsoft.Peering/peeringServices?api-version=2022-10-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/providers/Microsoft.Peering/peeringServices?api-version=2022-10-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "15" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "01f9f314-256a-4a65-9b14-ffe533bef4d3", "fb2199f3-49dc-4dcb-ab66-4ca9cdc33b82", "84de8adb-1ec4-4f92-920e-2ee153e5c173" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "599" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"peeringServiceLocation\":\"Georgia\",\"peeringServiceProvider\":\"MicrosoftEdge\",\"provisioningState\":\"Succeeded\",\"providerPrimaryPeeringLocation\":\"Atlanta\"},\"location\":\"East US 2\",\"tags\":{},\"name\":\"TestPrefixForAtlanta\",\"id\":\"/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/resourceGroups/DemoRG/providers/Microsoft.Peering/peeringServices/TestPrefixForAtlanta\",\"type\":\"Microsoft.Peering/peeringServices\"},{\"properties\":{\"peeringServiceLocation\":\"Virginia\",\"peeringServiceProvider\":\"MicrosoftEdge\",\"provisioningState\":\"Succeeded\",\"providerPrimaryPeeringLocation\":\"Dallas\"},\"location\":\"East US\",\"tags\":{},\"name\":\"TestExtension\",\"id\":\"/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/resourceGroups/DemoRG/providers/Microsoft.Peering/peeringServices/TestExtension\",\"type\":\"Microsoft.Peering/peeringServices\"},{\"properties\":{\"peeringServiceLocation\":\"Virginia\",\"peeringServiceProvider\":\"MicrosoftEdge\",\"provisioningState\":\"Succeeded\",\"providerPrimaryPeeringLocation\":\"Atlanta\",\"providerBackupPeeringLocation\":\"Dallas\"},\"location\":\"East US\",\"tags\":{},\"name\":\"TestExtension2\",\"id\":\"/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/resourceGroups/DemoRG/providers/Microsoft.Peering/peeringServices/TestExtension2\",\"type\":\"Microsoft.Peering/peeringServices\"},{\"properties\":{\"peeringServiceLocation\":\"London\",\"peeringServiceProvider\":\"InterCloud\",\"provisioningState\":\"Succeeded\",\"providerPrimaryPeeringLocation\":\"London\"},\"location\":\"UK South\",\"tags\":{},\"name\":\"DemoPeeringServiceInterCloudLondon\",\"id\":\"/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/resourceGroups/DemoRG/providers/Microsoft.Peering/peeringServices/DemoPeeringServiceInterCloudLondon\",\"type\":\"Microsoft.Peering/peeringServices\"},{\"properties\":{\"peeringServiceLocation\":\"Ile-de-France\",\"peeringServiceProvider\":\"InterCloud\",\"provisioningState\":\"Succeeded\"},\"location\":\"UK South\",\"tags\":{\"hello\":\"world\"},\"name\":\"DRTestInterCloud\",\"id\":\"/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/resourceGroups/DemoRG/providers/Microsoft.Peering/peeringServices/DRTestInterCloud\",\"type\":\"Microsoft.Peering/peeringServices\"},{\"properties\":{\"peeringServiceLocation\":\"Ile-de-France\",\"peeringServiceProvider\":\"InterCloud\",\"provisioningState\":\"Succeeded\",\"providerPrimaryPeeringLocation\":\"London\"},\"location\":\"UK South\",\"tags\":{},\"name\":\"Gaurav Thareja\",\"id\":\"/su[...]
