{
  "Get-AzPeeringRegisteredAsn+[NoContext]+List+$GET+https://management.azure.com/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/resourceGroups/MAPSDemo/providers/Microsoft.Peering/peerings/MapsIxRs/registeredAsns?api-version=2022-10-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/resourceGroups/MAPSDemo/providers/Microsoft.Peering/peerings/MapsIxRs/registeredAsns?api-version=2022-10-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "11" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11997" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"asn\": 6500,\r\n        \"peeringServicePrefixKey\": \"767c9f30-7388-49ef-ba8e-e2d16d1c08e4\",\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"name\": \"fgfg\",\r\n      \"id\": \"/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/resourceGroups/MAPSDemo/providers/Microsoft.Peering/peerings/MapsIxRs/registeredAsns/fgfg\",\r\n      \"type\": \"Microsoft.Peering/peerings/registeredAsns\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"asn\": 65000,\r\n        \"peeringServicePrefixKey\": \"32259ee0-ea01-495e-8279-06c24ef7aae0\",\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"name\": \"homedepottest\",\r\n      \"id\": \"/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/resourceGroups/MAPSDemo/providers/Microsoft.Peering/peerings/MapsIxRs/registeredAsns/homedepottest\",\r\n      \"type\": \"Micros[...]
