{
  "New-AzPeeringRegisteredAsn+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/resourceGroups/MAPSDemo/providers/Microsoft.Peering/peerings/MapsIxRs/registeredAsns/TestAsn?api-version=2022-10-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/resourceGroups/MAPSDemo/providers/Microsoft.Peering/peerings/MapsIxRs/registeredAsns/TestAsn?api-version=2022-10-01",
      "Content": "{\n  \"properties\": {\n    \"asn\": 65001\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"properties\": {\r\n    \"asn\": 65001,\r\n    \"peeringServicePrefixKey\": \"9aa88d64-fd78-47b7-8f4a-854dbc76b8a5\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"name\": \"TestAsn\",\r\n  \"id\": \"/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/resourceGroups/MAPSDemo/providers/Microsoft.Peering/peerings/MapsIxRs/registeredAsns/TestAsn\",\r\n  \"type\": \"Microsoft.Peering/peerings/registeredAsns\"\r\n}",
    }
  }
}