{
  "New-AzPeeringService+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/resourceGroups/DemoRG/providers/Microsoft.Peering/peeringServices/TestPeeringService?api-version=2022-10-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/resourceGroups/DemoRG/providers/Microsoft.Peering/peeringServices/TestPeeringService?api-version=2022-10-01",
      "Content": "{\n  \"properties\": {\n    \"peeringServiceLocation\": \"Georgia\",\n    \"peeringServiceProvider\": \"MicrosoftEdge\",\n    \"providerPrimaryPeeringLocation\": \"Atlanta\"\n  },\n  \"location\": \"East US 2\"\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "99" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"properties\": {\r\n    \"peeringServiceLocation\": \"Georgia\",\r\n    \"peeringServiceProvider\": \"MicrosoftEdge\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"providerPrimaryPeeringLocation\": \"Atlanta\"\r\n  },\r\n  \"location\": \"East US 2\",\r\n  \"name\": \"TestPeeringService\",\r\n  \"id\": \"/subscriptions/e815e305-b43a-49c4-8b1a-4e61f1aec1e8/resourceGroups/DemoRG/providers/Microsoft.Peering/peeringServices/TestPeeringService\",\r\n  \"type\": \"Microsoft.Peering/peeringServices\"\r\n}",
    }
  }
}