{
  "Get-AzBlockchainMemberConsortiumMember+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/lucas-bc-rg/providers/Microsoft.Blockchain/blockchainMembers/myblockchainhlqc92/consortiumMembers?api-version=2018-06-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/lucas-bc-rg/providers/Microsoft.Blockchain/blockchainMembers/myblockchainhlqc92/consortiumMembers?api-version=2018-06-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"name\":\"myblockchainhlqc92\",\"displayName\":\"myblockchainhlqc92\",\"subscriptionId\":\"9e223dbe-3399-4e19-88eb-0975f02ac87f\",\"role\":\"ADMIN\",\"status\":\"Ready\",\"joinDate\":\"2020-05-20T06:46:53.7486376Z\",\"dateModified\":\"2020-05-20T06:55:52\"}]}"
    }
  }
}