{
  "Update-AzBlockchainMember+[NoContext]+UpdateExpanded+$PATCH+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/lucas-bc-rg/providers/Microsoft.Blockchain/blockchainMembers/myblockchainhlqc92?api-version=2018-06-01-preview+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/lucas-bc-rg/providers/Microsoft.Blockchain/blockchainMembers/myblockchainhlqc92?api-version=2018-06-01-preview",
      "Content": "{\n  \"properties\": {\n    \"password\": \"strongMemberAccountPassword@2\"\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"location\":\"eastus\",\"name\":\"myblockchainhlqc92\",\"kind\":null,\"properties\":{\"validatorNodesSku\":{\"capacity\":2},\"userName\":\"myblockchainhlqc92\",\"password\":null,\"consortium\":\"consortiumhlqc92\",\"consortiumRole\":\"ADMIN\",\"consortiumMemberDisplayName\":\"myblockchainhlqc92\",\"consortiumManagementAccountAddress\":null,\"consortiumManagementAccountPassword\":null,\"firewallRules\":null,\"rootContractAddress\":null,\"publicKey\":null,\"provisioningState\":\"Succeeded\",\"dns\":\"myblockchainhlqc92.blockchain.azure.com\",\"protocol\":\"Quorum\"},\"type\":\"Microsoft.Blockchain/blockchainMembers\",\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/lucas-bc-rg/providers/Microsoft.Blockchain/blockchainMembers/myblockchainhlqc92\",\"tags\":null,\"sku\":{\"name\":\"S0\",\"tier\":\"Standard\"}}"
    }
  },
  "Update-AzBlockchainMember+[NoContext]+UpdateExpanded+$PATCH+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/lucas-bc-rg/providers/Microsoft.Blockchain/blockchainMembers/myblockchainhlqc92?api-version=2018-06-01-preview+2": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/lucas-bc-rg/providers/Microsoft.Blockchain/blockchainMembers/myblockchainhlqc92?api-version=2018-06-01-preview",
      "Content": "{\n  \"tags\": {\n    \"update\": \"password\"\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"location\":\"eastus\",\"name\":\"myblockchainhlqc92\",\"kind\":null,\"properties\":{\"validatorNodesSku\[...]
