{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Automation\",\r\n      \"namespace\": \"Microsoft.Automation\",\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"automationAccounts\",\r\n          \"locations\": [\r\n            \"Japan East\",\r\n            \"East US 2\",\r\n            \"West Europe\",\r\n            \"Southeast Asia\",\r\n            \"South Central US\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2015-01-01-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"automationAccounts/runbooks\",\r\n          \"locations\": [\r\n            \"Japan East\",\r\n            \"East US 2\",\r\n            \"West Europe\",\r\n            \"Southeast Asia\",\r\n            \"South Central US\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2015-01-01-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"operations\",\r\n          \"locations\": [\r\n            \"South Central US\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2015-01-01-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"automationAccounts/configurations\",\r\n          \"locations\": [\r\n            \"Japan East\",\r\n            \"East US 2\",\r\n            \"West Europe\",\r\n            \"Southeast Asia\",\r\n            \"South Central US\",\r\n            \"North Central US\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2015-01-01-preview\"\r\n          ]\r\n        }\r\n      ],\r\n      \"registrationState\": \"Registered\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Batch\",\r\n      \"namespace\": \"Microsoft.Batch\",\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"batchAccounts\",\r\n          \"locations\": [\r\n            \"West Europe\",\r\n            \"East US\",\r\n            \"East US 2\",\r\n            \"West US\",\r\n            \"North Central US\",\r\n            \"Brazil South\",\r\n            \"North Europe\",\r\n            \"Central US\",\r\n            \"East Asia\",\r\n            \"Japan East\",\r\n            \"Australia Southeast\",\r\n            \"Japan West\",\r\n            \"Southeast Asia\",\r\n            \"South Central US\",\r\n            \"Australia East\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2015-07-01\",\r\n            \"2014-05-01-privatepreview\"\r\n          ]\r\n        }\r\n      ],\r\n      \"registrationState\": \"Registered\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/microsoft.cache\",\r\n      \"namespace\": \"microsoft.cache\",\r\n      \"authorization\": {\r\n        \"applicationId\": \"96231a05-34ce-4eb4-aa6a-70759cbb5e83\",\r\n        \"roleDefinitionId\": \"4f731528-ba85-45c7-acfb-cd0a9b3cf31b\"\r\n      },\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"Redis\",\r\n          \"locations\": [\r\n            \"North Central US\",\r\n            \"South Central US\",\r\n            \"Central US\",\r\n            \"West Europe\",\r\n            \"North Europe\",\r\n            \"West US\",\r\n            \"East US\",\r\n            \"East US 2\",\r\n            \"Japan East\",\r\n            \"Japan West\",\r\n          [...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourcegroups/crptestps9993?api-version=2014-04-01-preview",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourcegroups/crptestps9993?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993\",\r\n  \"name\": \"crptestps9993\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/resources?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourcegroups/crptestps9993/providers/Microsoft.Authorization/permissions?api-version=2015-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"actions\": [\r\n        \"*\"\r\n      ],\r\n      \"notActions\": []\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-gateway-service-instanceid": [
          "PASFE_IN_0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14953"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/virtualnetworks/vnetcrptestps9993?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/vnetcrptestps9993' under resource group 'crptestps9993' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/virtualnetworks/vnetcrptestps9993?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps9993\",\r\n  \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/virtualNetworks/vnetcrptestps9993\",\r\n  \"etag\": \"W/\\\"7b30b342-ad51-470e-8af5-d7ab44c5ee27\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"15fd3e29-f7b0-40ed-96f8-9362960fb209\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnetcrptestps9993\",\r\n        \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/virtualNetworks/vnetcrptestps9993/subnets/subnetcrptestps9993\",\r\n        \"etag\": \"W/\\\"7b30b342-ad51-470e-8af5-d7ab44c5ee27\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"7b30b342-ad51-470e-8af5-d7ab44c5ee27\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/virtualnetworks/vnetcrptestps9993?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"ipConfigurations\": []\r\n        },\r\n        \"name\": \"subnetcrptestps9993\"\r\n      }\r\n    ]\r\n  },\r\n  \"name\": \"vnetcrptestps9993\",\r\n  \"type\": \"microsoft.network/virtualNetworks\",\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps9993\",\r\n  \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/virtualNetworks/vnetcrptestps9993\",\r\n  \"etag\": \"W/\\\"852b327f-4be8-4deb-8845-2352fb280a25\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"15fd3e29-f7b0-40ed-96f8-9362960fb209\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnetcrptestps9993\",\r\n        \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/virtualNetworks/vnetcrptestps9993/subnets/subnetcrptestps9993\",\r\n        \"etag\": \"W/\\\"852b327f-4be8-4deb-8845-2352fb280a25\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Network/locations/westus/operations/a95b9541-117e-450f-adbe-77aa71221d96?api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Network/locations/westus/operations/a95b9541-117e-450f-adbe-77aa71221d96?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-05-01-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps9993/?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/pubipcrptestps9993' under resource group 'crptestps9993' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps9993/?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"pubipcrptestps9993\",\r\n  \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps9993\",\r\n  \"etag\": \"W/\\\"1c906757-82c2-4ba4-987b-544d458b2937\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"b2536981-38dc-43ba-bd33-847788e8774b\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"pubipcrptestps9993\",\r\n      \"fqdn\": \"pubipcrptestps9993.westus.cloudapp.azure.com\"\r\n    }\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"1c906757-82c2-4ba4-987b-544d458b2937\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14990"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/networkInterfaces/niccrptestps9993?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/niccrptestps9993' under resource group 'crptestps9993' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/networkInterfaces/niccrptestps9993?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"niccrptestps9993\",\r\n  \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/networkInterfaces/niccrptestps9993\",\r\n  \"etag\": \"W/\\\"f8af6a1e-dd22-4c0f-bd2a-c7d4c3d7eee1\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"bb4405ac-ae51-401b-ab65-2d1dab959d4c\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/networkInterfaces/niccrptestps9993/ipConfigurations/ipconfig1\",\r\n        \"etag\": \"W/\\\"f8af6a1e-dd22-4c0f-bd2a-c7d4c3d7eee1\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps9993\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/virtualNetworks/vnetcrptestps9993/subnets/subnetcrptestps9993\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": []\r\n    },\r\n    \"enableIPForwarding\": false\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"f8af6a1e-dd22-4c0f-bd2a-c7d4c3d7eee1\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14986"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/networkInterfaces/niccrptestps9993?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/virtualNetworks/vnetcrptestps9993/subnets/subnetcrptestps9993\"\r\n          },\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps9993\"\r\n          },\r\n          \"loadBalancerBackendAddressPools\": [],\r\n          \"loadBalancerInboundNatRules\": []\r\n        },\r\n        \"name\": \"ipconfig1\"\r\n      }\r\n    ],\r\n    \"primary\": false,\r\n    \"enableIPForwarding\": false\r\n  },\r\n  \"name\": \"niccrptestps9993\",\r\n  \"type\": \"microsoft.network/networkInterfaces\",\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"niccrptestps9993\",\r\n  \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/networkInterfaces/niccrptestps9[...]
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Storage/storageAccounts/stocrptestps9993?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Storage/operations/37001853-0bd3-4f59-8386-9776bcd6d1e1?monitor=true&api-version=2015-05-01-preview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Storage/operations/37001853-0bd3-4f59-8386-9776bcd6d1e1?monitor=true&api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Storage/operations/37001853-0bd3-4f59-8386-9776bcd6d1e1?monitor=true&api-version=2015-05-01-preview"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Storage/storageAccounts/stocrptestps9993?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Storage/storageAccounts/stocrptestps9993\",\r\n  \"location\": \"West US\",\r\n  \"name\": \"stocrptestps9993\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\",\r\n    \"creationTime\": \"2015-09-24T23:24:36.5840151Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://stocrptestps9993.blob.core.windows.net/\",\r\n      \"queue\": \"https://stocrptestps9993.queue.core.windows.net/\",\r\n      \"table\": \"https://stocrptestps9993.table.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"West US\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"secondaryLocation\": \"East US\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"statusOfSecondary\": \"available\"\r\n  },\r\n  \"tags\": {},\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Compute/virtualMachines/vmcrptestps9993?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2008-R2-SP1\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"name\": \"osDisk\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://stocrptestps9993.blob.core.windows.net/test/os.vhd\"\r\n        },\r\n        \"caching\": \"ReadWrite\",\r\n        \"createOption\": \"FromImage\"\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 1,\r\n          \"name\": \"testDataDisk1\",\r\n          \"vhd\": {\r\n            \"uri\": \"https://stocrptestps9993.blob.core.windows.net/test/data1.vhd\"\r\n          },\r\n          \"caching\": \"ReadOnly\",\r\n          \"createOption\": \"Empty\",\r\n          \"diskSizeGB\": 10\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"adminPassword\": \"BaR@123crptestps9993\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true\r\n      }\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"properties\": {},\r\n          \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/networkInterfaces/niccrptestps9993\"\r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"name\": \"vmcrptestps9993\",\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"vmId\": \"8ce37834-f4a1-42dc-baba-c2d2ffbc9898\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2008-R2-SP1\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"osDisk\",\r\n        \"createOption\": \"FromImage\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://stocrptestps9993.blob.core.windows.net/test/os.vhd\"\r\n        },\r\n        \"caching\": \"ReadWrite\"\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 1,\r\n          \"name\": \"testDataDisk1\",\r\n          \"createOption\": \"Empty\",\r\n          \"vhd\": {\r\n            \"uri\": \"https://stocrptestps9993.blob.core.windows.net/test/data1.vhd\"\r\n          },\r\n          \"caching\": \"ReadOnly\",\r\n          \"diskSizeGB\": 10\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": true\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"properties\": {},\r\n          \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Network/networkInterfaces/niccrptestps9993\"\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Compute/virtualMachines/vmcrptestps9993\",\r\n  \"name\": \"vmcrptestps9993\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Compute/locations/westus/operations/1e181641-1a7b-41c3-97e2-077020cbd239?api-version=2015-06-15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Compute/locations/westus/operations/1e181641-1a7b-41c3-97e2-077020cbd239?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operationId\": \"1e181641-1a7b-41c3-97e2-077020cbd239\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2015-09-24T16:25:05.0410874-07:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14984"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Compute/locations/westus/operations/1e181641-1a7b-41c3-97e2-077020cbd239?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operationId\": \"1e181641-1a7b-41c3-97e2-077020cbd239\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2015-09-24T16:25:05.0410874-07:00\",\r\n  \"endTime\": \"2015-09-24T16:32:18.8847762-07:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14969"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Compute/virtualMachines/vmcrptestps9993/extensions/Microsoft.Powershell.DSC?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publisher\": \"Microsoft.Powershell\",\r\n    \"type\": \"DSC\",\r\n    \"typeHandlerVersion\": \"2.3\",\r\n    \"autoUpgradeMinorVersion\": false,\r\n    \"settings\": {\r\n      \"SasToken\": null,\r\n      \"ModulesUrl\": null,\r\n      \"ConfigurationFunction\": null,\r\n      \"Properties\": null,\r\n      \"ProtocolVersion\": null\r\n    },\r\n    \"protectedSettings\": {\r\n      \"DataBlobUri\": null,\r\n      \"Items\": null\r\n    }\r\n  },\r\n  \"name\": \"Microsoft.Powershell.DSC\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines/extensions\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"publisher\": \"Microsoft.Powershell\",\r\n    \"type\": \"DSC\",\r\n    \"typeHandlerVersion\": \"2.3\",\r\n    \"autoUpgradeMinorVersion\": false,\r\n   [...]
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps9993/providers/Microsoft.Compute/virtualMachines/vmcrptestps9993/extensions/Microsoft.Powershell.DSC?$expand=instanceView&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
[...]
