{
  "Entries": [
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Automation\",\r\n      \"namespace\": \"Microsoft.Automation\",\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"automationAccounts\",\r\n          \"locations\": [\r\n            \"Japan East\",\r\n            \"East US 2\",\r\n            \"West Europe\",\r\n            \"Southeast Asia\",\r\n            \"South Central US\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2015-01-01-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"automationAccounts/runbooks\",\r\n          \"locations\": [\r\n            \"Japan East\",\r\n            \"East US 2\",\r\n            \"West Europe\",\r\n            \"Southeast Asia\",\r\n            \"South Central US\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2015-01-01-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"operations\",\r\n          \"locations\": [\r\n            \"South Central US\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2015-01-01-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"automationAccounts/configurations\",\r\n          \"locations\": [\r\n            \"Japan East\",\r\n            \"East US 2\",\r\n            \"West Europe\",\r\n            \"Southeast Asia\",\r\n            \"South Central US\",\r\n            \"North Central US\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2015-01-01-preview\"\r\n          ]\r\n        }\r\n      ],\r\n      \"registrationState\": \"Registered\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Batch\",\r\n      \"namespace\": \"Microsoft.Batch\",\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"batchAccounts\",\r\n          \"locations\": [\r\n            \"West Europe\",\r\n            \"East US\",\r\n            \"East US 2\",\r\n            \"West US\",\r\n            \"North Central US\",\r\n            \"Brazil South\",\r\n            \"North Europe\",\r\n            \"Central US\",\r\n            \"East Asia\",\r\n            \"Japan East\",\r\n            \"Australia Southeast\",\r\n            \"Japan West\",\r\n            \"Southeast Asia\",\r\n            \"South Central US\",\r\n            \"Australia East\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2015-07-01\",\r\n            \"2014-05-01-privatepreview\"\r\n          ]\r\n        }\r\n      ],\r\n      \"registrationState\": \"Registered\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/microsoft.cache\",\r\n      \"namespace\": \"microsoft.cache\",\r\n      \"authorization\": {\r\n        \"applicationId\": \"96231a05-34ce-4eb4-aa6a-70759cbb5e83\",\r\n        \"roleDefinitionId\": \"4f731528-ba85-45c7-acfb-cd0a9b3cf31b\"\r\n      },\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"Redis\",\r\n          \"locations\": [\r\n            \"North Central US\",\r\n            \"South Central US\",\r\n            \"Central US\",\r\n            \"West Europe\",\r\n            \"North Europe\",\r\n            \"West US\",\r\n            \"East US\",\r\n            \"East US 2\",\r\n            \"Japan East\",\r\n            \"Japan West\",\r\n          [...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourcegroups/crptestps4244?api-version=2014-04-01-preview",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13868"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourcegroups/crptestps4244?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244\",\r\n  \"name\": \"crptestps4244\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/resources?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13867"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourcegroups/crptestps4244/providers/Microsoft.Authorization/permissions?api-version=2015-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"actions\": [\r\n        \"*\"\r\n      ],\r\n      \"notActions\": []\r\n    }\r\n  ],\r\n  \"nextLink\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-gateway-service-instanceid": [
          "PASFE_IN_1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14508"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/virtualnetworks/vnetcrptestps4244?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/vnetcrptestps4244' under resource group 'crptestps4244' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/virtualnetworks/vnetcrptestps4244?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps4244\",\r\n  \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/virtualNetworks/vnetcrptestps4244\",\r\n  \"etag\": \"W/\\\"b58c2f9b-cecc-4a6d-b379-40b8d51f0d93\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"c4e53225-afd6-4e79-ac39-9fa0de1c9472\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnetcrptestps4244\",\r\n        \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/virtualNetworks/vnetcrptestps4244/subnets/subnetcrptestps4244\",\r\n        \"etag\": \"W/\\\"b58c2f9b-cecc-4a6d-b379-40b8d51f0d93\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"b58c2f9b-cecc-4a6d-b379-40b8d51f0d93\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13525"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/virtualnetworks/vnetcrptestps4244?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"ipConfigurations\": []\r\n        },\r\n        \"name\": \"subnetcrptestps4244\"\r\n      }\r\n    ]\r\n  },\r\n  \"name\": \"vnetcrptestps4244\",\r\n  \"type\": \"microsoft.network/virtualNetworks\",\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps4244\",\r\n  \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/virtualNetworks/vnetcrptestps4244\",\r\n  \"etag\": \"W/\\\"3c83112a-39ac-432d-9e24-0587b8598aa1\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"c4e53225-afd6-4e79-ac39-9fa0de1c9472\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": [\r\n        \"10.1.1.1\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnetcrptestps4244\",\r\n        \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/virtualNetworks/vnetcrptestps4244/subnets/subnetcrptestps4244\",\r\n        \"etag\": \"W/\\\"3c83112a-39ac-432d-9e24-0587b8598aa1\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\": \"10.0.0.0/24\"\r\n        }\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Network/locations/westus/operations/d4b6ded8-6e63-44a1-bc7f-183edb80846c?api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Network/locations/westus/operations/d4b6ded8-6e63-44a1-bc7f-183edb80846c?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-05-01-preview"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13526"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps4244/?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/pubipcrptestps4244' under resource group 'crptestps4244' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps4244/?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"pubipcrptestps4244\",\r\n  \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps4244\",\r\n  \"etag\": \"W/\\\"ca4343a9-ef23-4e24-9846-34935824f2db\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"549c53f6-9513-43f5-b270-fc60d818ee51\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"pubipcrptestps4244\",\r\n      \"fqdn\": \"pubipcrptestps4244.westus.cloudapp.azure.com\"\r\n    }\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"ca4343a9-ef23-4e24-9846-34935824f2db\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13521"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/networkInterfaces/niccrptestps4244?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/niccrptestps4244' under resource group 'crptestps4244' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/networkInterfaces/niccrptestps4244?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"niccrptestps4244\",\r\n  \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/networkInterfaces/niccrptestps4244\",\r\n  \"etag\": \"W/\\\"1d6a6754-b4bc-43b3-a2ff-593056f1e8c0\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"c2c76e1d-92a7-428d-82c5-407aaea44ac2\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/networkInterfaces/niccrptestps4244/ipConfigurations/ipconfig1\",\r\n        \"etag\": \"W/\\\"1d6a6754-b4bc-43b3-a2ff-593056f1e8c0\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps4244\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/virtualNetworks/vnetcrptestps4244/subnets/subnetcrptestps4244\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": []\r\n    },\r\n    \"enableIPForwarding\": false\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"1d6a6754-b4bc-43b3-a2ff-593056f1e8c0\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13517"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/networkInterfaces/niccrptestps4244?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/virtualNetworks/vnetcrptestps4244/subnets/subnetcrptestps4244\"\r\n          },\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps4244\"\r\n          },\r\n          \"loadBalancerBackendAddressPools\": [],\r\n          \"loadBalancerInboundNatRules\": []\r\n        },\r\n        \"name\": \"ipconfig1\"\r\n      }\r\n    ],\r\n    \"primary\": false,\r\n    \"enableIPForwarding\": false\r\n  },\r\n  \"name\": \"niccrptestps4244\",\r\n  \"type\": \"microsoft.network/networkInterfaces\",\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"niccrptestps4244\",\r\n  \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/networkInterfaces/niccrptestps4[...]
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Storage/storageAccounts/stocrptestps4244?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Storage/operations/744eafc8-b793-45fb-b215-0dd1bd5bb998?monitor=true&api-version=2015-05-01-preview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Storage/operations/744eafc8-b793-45fb-b215-0dd1bd5bb998?monitor=true&api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "25"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14133"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Storage/operations/744eafc8-b793-45fb-b215-0dd1bd5bb998?monitor=true&api-version=2015-05-01-preview"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Storage/storageAccounts/stocrptestps4244?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Storage/storageAccounts/stocrptestps4244\",\r\n  \"location\": \"West US\",\r\n  \"name\": \"stocrptestps4244\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\",\r\n    \"creationTime\": \"2015-09-23T19:52:38.5342819Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://stocrptestps4244.blob.core.windows.net/\",\r\n      \"queue\": \"https://stocrptestps4244.queue.core.windows.net/\",\r\n      \"table\": \"https://stocrptestps4244.table.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"West US\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"secondaryLocation\": \"East US\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"statusOfSecondary\": \"available\"\r\n  },\r\n  \"tags\": {},\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14130"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Compute/virtualMachines/vmcrptestps4244?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2008-R2-SP1\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"name\": \"osDisk\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://stocrptestps4244.blob.core.windows.net/test/os.vhd\"\r\n        },\r\n        \"caching\": \"ReadWrite\",\r\n        \"createOption\": \"FromImage\"\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 1,\r\n          \"name\": \"testDataDisk1\",\r\n          \"vhd\": {\r\n            \"uri\": \"https://stocrptestps4244.blob.core.windows.net/test/data1.vhd\"\r\n          },\r\n          \"caching\": \"ReadOnly\",\r\n          \"createOption\": \"Empty\",\r\n          \"diskSizeGB\": 10\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"adminPassword\": \"BaR@123crptestps4244\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true\r\n      }\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"properties\": {},\r\n          \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/networkInterfaces/niccrptestps4244\"\r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"name\": \"vmcrptestps4244\",\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"vmId\": \"36562f6c-2773-40fd-b81e-035ae03cb63d\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"WindowsServer\",\r\n        \"sku\": \"2008-R2-SP1\",\r\n        \"version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\": \"osDisk\",\r\n        \"createOption\": \"FromImage\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://stocrptestps4244.blob.core.windows.net/test/os.vhd\"\r\n        },\r\n        \"caching\": \"ReadWrite\"\r\n      },\r\n      \"dataDisks\": [\r\n        {\r\n          \"lun\": 1,\r\n          \"name\": \"testDataDisk1\",\r\n          \"createOption\": \"Empty\",\r\n          \"vhd\": {\r\n            \"uri\": \"https://stocrptestps4244.blob.core.windows.net/test/data1.vhd\"\r\n          },\r\n          \"caching\": \"ReadOnly\",\r\n          \"diskSizeGB\": 10\r\n        }\r\n      ]\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"test\",\r\n      \"adminUsername\": \"Foo12\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\": true\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\": {\r\n      \"networkInterfaces\": [\r\n        {\r\n          \"properties\": {},\r\n          \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Network/networkInterfaces/niccrptestps4244\"\r\n        }\r\n      ]\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"id\": \"/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Compute/virtualMachines/vmcrptestps4244\",\r\n  \"name\": \"vmcrptestps4244\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Compute/locations/westus/operations/fdfc6258-ae12-448f-bbdb-8a9c27250946?api-version=2015-06-15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Compute/locations/westus/operations/fdfc6258-ae12-448f-bbdb-8a9c27250946?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operationId\": \"fdfc6258-ae12-448f-bbdb-8a9c27250946\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2015-09-23T12:53:08.1343668-07:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13866"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/providers/Microsoft.Compute/locations/westus/operations/fdfc6258-ae12-448f-bbdb-8a9c27250946?api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operationId\": \"fdfc6258-ae12-448f-bbdb-8a9c27250946\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2015-09-23T12:53:08.1343668-07:00\",\r\n  \"endTime\": \"2015-09-23T12:59:04.9742208-07:00\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13854"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Compute/virtualMachines/vmcrptestps4244/extensions/Microsoft.Powershell.DSC?api-version=2015-06-15",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publisher\": \"Microsoft.Powershell\",\r\n    \"type\": \"DSC\",\r\n    \"typeHandlerVersion\": \"2.3\",\r\n    \"autoUpgradeMinorVersion\": false,\r\n    \"settings\": {\r\n      \"SasToken\": null,\r\n      \"ModulesUrl\": null,\r\n      \"ConfigurationFunction\": null,\r\n      \"Properties\": null,\r\n      \"ProtocolVersion\": null\r\n    },\r\n    \"protectedSettings\": {\r\n      \"DataBlobUri\": null,\r\n      \"Items\": null\r\n    }\r\n  },\r\n  \"name\": \"Microsoft.Powershell.DSC\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines/extensions\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"publisher\": \"Microsoft.Powershell\",\r\n    \"type\": \"DSC\",\r\n    \"typeHandlerVersion\": \"2.3\",\r\n    \"autoUpgradeMinorVersion\": false,\r\n   [...]
[...]
    {
      "RequestUri": "/subscriptions/4c85cb83-4cad-46cd-a771-ff9d1c079de2/resourceGroups/crptestps4244/providers/Microsoft.Compute/virtualMachines/vmcrptestps4244/extensions/Microsoft.Powershell.DSC?$expand=instanceView&api-version=2015-06-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
[...]
