{
  "Deploy-AzDevCenterUserEnvironment+[NoContext]+ReplaceExpanded+$PUT+https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshdc645vnb.canadacentral.devcenter.azure.com/projects/pwshProja68gny/users/me/environments/envtest1?api-version=2023-04-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshdc645vnb.canadacentral.devcenter.azure.com/projects/pwshProja68gny/users/me/environments/envtest1?api-version=2023-04-01",
      "Content": "{\r\n  \"parameters\": {\r\n    \"name\": \"tijokm\"\r\n  },\r\n  \"environmentType\": \"m780es\",\r\n  \"catalogName\": \"x3vu7b\",\r\n  \"environmentDefinitionName\": \"FunctionApp\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Location": [ "https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshdc645vnb.canadacentral.devcenter.azure.com/projects/pwshproja68gny/operationstatuses/d5ed8c8d-6616-4189-be7f-7f530872b4bd?api-version=2023-04-01\u0026monitor=true" ],
        "Operation-Location": [ "https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshdc645vnb.canadacentral.devcenter.azure.com/projects/pwshproja68gny/operationstatuses/d5ed8c8d-6616-4189-be7f-7f530872b4bd?api-version=2023-04-01" ],
        "X-Rate-Limit-Limit": [ "1m" ],
        "X-Rate-Limit-Remaining": [ "299" ],
        "X-Rate-Limit-Reset": [ "2023-07-28T18:21:40.4809104Z" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"name\": \"envtest1\",\n  \"environmentType\": \"m780es\",\n  \"user\": \"c3c951b7-d307-4c40-9495-70bd562d98d5\",\n  \"provisioningState\": \"Updating\",\n  \"resourceGroupId\": \"/subscriptions/f141e9f2-4778-45a4-9aa0-8b31e6469454/resourceGroups/pwshproja68gny-envtest1\",\n  \"catalogName\": \"x3vu7b\",\n  \"environmentDefinitionName\": \"FunctionApp\",\n  \"parameters\": {\n    \"name\": \"tijokm\"\n  }\n}",
    }
  },
  "Deploy-AzDevCenterUserEnvironment+[NoContext]+ReplaceExpanded+$GET+https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshdc645vnb.canadacentral.devcenter.azure.com/projects/pwshproja68gny/operationstatuses/d5ed8c8d-6616-4189-be7f-7f530872b4bd?api-version=2023-04-01\u0026monitor=true+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshdc645vnb.canadacentral.devcenter.azure.com/projects/pwshproja68gny/operationstatuses/d5ed8c8d-6616-4189-be7f-7f530872b4bd?api-version=2023-04-01\u0026monitor=true",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshdc645vnb.canadacentral.devcenter.azure.com/projects/pwshproja68gny/operationstatuses/d5ed8c8d-6616-4189-be7f-7f530872b4bd?api-version=2023-04-01\u0026monitor=true" ],
        "Retry-After": [ "30" ],
        "Operation-Location": [ "https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshdc645vnb.canadacentral.devcenter.azure.com/projects/pwshproja68gny/operationstatuses/d5ed8c8d-6616-4189-be7f-7f530872b4bd?api-version=2023-04-01" ],
        "X-Rate-Limit-Limit": [ "1m" ],
        "X-Rate-Limit-Remaining": [ "299" ],
        "X-Rate-Limit-Reset": [ "2023-07-28T18:22:11.4317670Z" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"id\": \"/projects/pwshproja68gny/operationStatuses/d5ed8c8d-6616-4189-be7f-7f530872b4bd\",\n  \"name\": \"d5ed8c8d-6616-4189-be7f-7f530872b4bd\",\n  \"status\": \"Running\",\n  \"startTime\": \"2023-07-28T18:20:40.9574666+00:00\"\n}",
    }
  },
  "Deploy-AzDevCenterUserEnvironment+[NoContext]+ReplaceExpanded+$GET+https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshdc645vnb.canadacentral.devcenter.azure.com/projects/pwshproja68gny/operationstatuses/d5ed8c8d-6616-4189-be7f-7f530872b4bd?api-version=2023-04-01\u0026monitor=true+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshdc645vnb.canadacentral.devcenter.azure.com/proj[...]
