{
  "Get-AzDevCenterUserEnvironmentLog+[NoContext]+Get+$GET+https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshtestdevcenter.centraluseuap.devcenter.azure.com/projects/pwshProj3stxlh/users/me/environments/amlim-pwsh/operations/4d48a4d5-7edc-437d-9bfa-30e9b4328f68/logs?api-version=2025-04-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshtestdevcenter.centraluseuap.devcenter.azure.com/projects/pwshProj3stxlh/users/me/environments/amlim-pwsh/operations/4d48a4d5-7edc-437d-9bfa-30e9b4328f68/logs?api-version=2025-04-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "4" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "X-Rate-Limit-Limit": [ "1m" ],
        "X-Rate-Limit-Remaining": [ "298" ],
        "X-Rate-Limit-Reset": [ "2023-11-13T05:20:44.7743353Z" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "text/plain" ]
      },
      "Content": "{\"id\":\"/subscriptions/306bbddd-068b-4efc-a779-50342af2547a/resourceGroups/pwshproj3stxlh-amlim-pwsh/providers/Microsoft.Resources/deployments/pwshproj3stxlh.amlim-pwsh.133443186791697888\",\"name\":\"pwshproj3stxlh.amlim-pwsh.133443186791697888\",\"type\":\"Microsoft.Resources/deployments\",\"location\":null,\"properties\":{\"provisioningState\":\"Succeeded\",\"correlationId\":\"ba132096-ecce-47fb-a3cd-d1a82d376c42\",\"timestamp\":\"2023-11-13T03:11:22.7515479Z\",\"duration\":\"PT1.1408739S\",\"outputs\":null,\"providers\":[],\"dependencies\":[],\"templateLink\":{\"uri\":\"https://pf27qwjresc6gqyl.blob.core.windows.net/templates/pwshproj3stxlh.amlim-pwsh.133443186791697888/Environments/Sandbox/azuredeploy.json\",\"id\":null,\"relativePath\":null,\"contentVersion\":\"1.0.0.0\",\"queryString\":null},\"parameters\":null,\"parametersLink\":null,\"mode\":\"Incremental\",\"debugSetting\":null,\"onErrorDeployment\":null,\"templateHash\":\"17750672647523699609\",\"outputResources\":[],\"validatedResources\":null,\"error\":null},\"tags\":{\"AdeEnvironmentName\":\"amlim-pwsh\",\"AdeProjectName\":\"pwshproj3stxlh\",\"AdeDevCenterName\":\"pwshtestdevcenter\",\"AdeEnvironmentTypeName\":\"dev\"}}",
    }
  }
}