{
  "Get-AzDevCenterUserCatalog+[NoContext]+List+$GET+https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshdc645vnb.canadacentral.devcenter.azure.com/projects/pwshProja68gny/catalogs?api-version=2025-04-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshdc645vnb.canadacentral.devcenter.azure.com/projects/pwshProja68gny/catalogs?api-version=2025-04-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "43" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "X-Rate-Limit-Limit": [ "1m" ],
        "X-Rate-Limit-Remaining": [ "298" ],
        "X-Rate-Limit-Reset": [ "2023-07-28T01:55:59.4067508Z" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"value\": [\n    {\n      \"name\": \"x3vu7b\"\n    }\n  ]\n}",
    }
  },
  "Get-AzDevCenterUserCatalog+[NoContext]+List+$GET+https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshdc645vnb.canadacentral.devcenter.azure.com/projects/pwshProja68gny/catalogs?api-version=2025-04-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshdc645vnb.canadacentral.devcenter.azure.com/projects/pwshProja68gny/catalogs?api-version=2025-04-01-preview",
      "Content": null,
    [...]
