{
  "Get-AzDevCenterUserDevBox+[NoContext]+List+$GET+https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshdc645vnb.canadacentral.devcenter.azure.com/devboxes?api-version=2023-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshdc645vnb.canadacentral.devcenter.azure.com/devboxes?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "28" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "X-Rate-Limit-Limit": [ "1m" ],
        "X-Rate-Limit-Remaining": [ "298" ],
        "X-Rate-Limit-Reset": [ "2023-07-28T04:34:55.1708471Z" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"value\": [\n    {\n      \"name\": \"4fwrtd\",\n      \"projectName\": \"pwshProjt69b30\",\n      \"poolName\": \"dxu5mw\",\n      \"hibernateSupport\": \"Enabled\",\n      \"provisioningState\": \"Succeeded\",\n      \"actionState\": \"Unknown\",\n      \"powerState\": \"Running\",\n      \"uniqueId\": \"2a784c31-4380-40df-ac71-18782949789f\",\n      \"location\": \"canadacentral\",\n      \"osType\": \"Windows\",\n      \"user\": \"c3c951b7-d307-4c40-9495-70bd562d98d5\",\n      \"hardwareProfile\": {\n        \"vCPUs\": 8,\n        \"skuName\": \"general_a_8c32gb1024ssd_v2\",\n        \"memoryGB\": 32\n      },\n      \"storageProfile\": {\n        \"osDisk\": {\n          \"diskSizeGB\": 1024\n        }\n      },\n      \"imageReference\": {\n        \"name\": \"MicrosoftWindowsDesktop_windows-ent-cpc_win11-22h2-ent-cpc-os\",\n        \"version\": \"1.0.0\",\n        \"operatingSystem\": \"Windows11\",\n        \"osBuildNumber\": \"win11-22h2-ent-cpc-os\",\n        \"publishedDate\": \"2022-09-20T00:00:00+00:00\"\n      },\n      \"createdTime\": \"2023-07-26T03:05:18.2143879+00:00\",\n      \"localAdministrator\": \"Enabled\"\n    },\n    {\n      \"name\": \"k507fd\",\n      \"projectName\": \"pwshProja68gny\",\n      \"poolName\": \"nzboe1\",\n      \"hibernateSupport\": \"Enabled\",\n      \"provisioningState\": \"Succeeded\",\n      \"actionState\": \"Started\",\n      \"powerState\": \"Running\",\n      \"uniqueId\": \"33be1ba8-c55e-4cd3-9ec5-5ea6f801384e\",\n      \"location\": \"canadacentral\",\n      \"osType\": \"Windows\",\n      \"user\": \"c3c951b7-d307-4c40-9495-70bd562d98d5\",\n      \"har[...]
