{
  "Invoke-AzDevCenterUserDelayEnvironmentAction+[NoContext]+Delay+$GET+https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshtestdevcenter.centraluseuap.devcenter.azure.com/projects/pwshProj3stxlh/users/me/environments/amlim-pwsh/actions/Delete?api-version=2023-10-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshtestdevcenter.centraluseuap.devcenter.azure.com/projects/pwshProj3stxlh/users/me/environments/amlim-pwsh/actions/Delete?api-version=2023-10-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "X-Rate-Limit-Limit": [ "1m" ],
        "X-Rate-Limit-Remaining": [ "299" ],
        "X-Rate-Limit-Reset": [ "2023-11-13T05:37:13.4766872Z" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\n  \"name\": \"Delete\",\n  \"uri\": \"https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshtestdevcenter.centraluseuap.devcenter.azure.com/projects/pwshproj3stxlh/users/c3c951b7-d307-4c40-9495-70bd562d98d5/environments/amlim-pwsh/environmentactions/Delete\",\n  \"actionType\": \"Delete\",\n  \"next\": {\n    \"scheduledTime\": \"2023-12-01T07:35:00.000000Z\"\n  },\n  \"lastModifiedBy\": \"c3c951b7-d307-4c40-9495-70bd562d98d5\",\n  \"lastModifiedAt\": \"2023-11-13T04:39:13.5195132+00:00\"\n}",
    }
  },
  "Invoke-AzDevCenterUserDelayEnvironmentAction+[NoContext]+Delay+$POST+https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshtestdevcenter.centraluseuap.devcenter.azure.com/projects/pwshProj3stxlh/users/me/environments/amlim-pwsh/actions/Delete:delay?api-version=2023-10-01-preview&until=2023-11-23T00:05:00.0000000Z+2": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://003b06c3-d471-4452-9686-9e7f3ca85f0a-pwshtestdevcenter.c[...]
