{
  "Get-AzMarketplaceBillingPrivateStoreAccount+[NoContext]+Billing+$POST+https://management.azure.com/providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/billingAccounts?api-version=2021-06-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/billingAccounts?api-version=2021-06-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-version": [ "6.0.01808.0002-f172fc53" ],
        "x-ms-ratelimit-remaining-tenant-writes": [ "1198" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"billingAccounts\":[]}",
    }
  }
}