{
  "Set-AzMarketplacePrivateStoreCollection+[NoContext]+UpdateExpanded+$PUT+https://management.azure.com/providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/collections/7f5402e4-e8f4-46bd-9bd1-8d27866a6065?api-version=2021-06-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/collections/7f5402e4-e8f4-46bd-9bd1-8d27866a6065?api-version=2021-06-01",
      "Content": "{\n  \"properties\": {\n    \"collectionName\": \"setColltest\",\n    \"subscriptionsList\": [ \"1052ff5a-aa43-4ca1-bd18-010399494ce5\" ]\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-version": [ "6.0.01808.0002-f172fc53" ],
        "x-ms-ratelimit-remaining-tenant-writes": [ "1191" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"systemData\":{\"createdBy\":\"\",\"createdByType\":\"User\",\"createdAt\":\"2021-12-26T15:09:12.0901710Z\",\"lastModifiedBy\":\"\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2021-12-26T15:09:12.1101282Z\"},\"id\":\"providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/collections/7f5402e4-e8f4-46bd-9bd1-8d27866a6065\",\"name\":\"7f5402e4-e8f4-46bd-9bd1-8d27866a6065\",\"type\":\"Microsoft.Marketplace/privateStores/collections\",\"properties\":{\"collectionId\":\"7f5402e4-e8f4-46bd-9bd1-8d27866a6065\",\"collectionName\":\"setColltest\",\"claim\":null,\"allSubscriptions\":false,\"subscriptionsList\":[\"1052ff5a-aa43-4ca1-bd18-010399494ce5\"],\"enabled\":false,\"numberOfOffers\":0}}",
    }
  },
  "Set-AzMarketplacePrivateStoreCollection+[NoContext]+UpdateExpanded+$PUT+https://management.azure.com/providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/collections/7f5402e4-e8f4-46bd-9bd1-8d27866a6065?api-version=2021-06-01+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Marketplace/privateStores/a260d38c-96cf-492d-a340-404d0c4b3ad6/collections/7f5402e4-e8f4-46bd-9bd1-8d27866a6[...]
