{
  "Get-AzMigrateLocalReplicationFabric+[NoContext]+List+$GET+https://management.azure.com/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b/providers/Microsoft.DataReplication/replicationFabrics?api-version=2024-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b/providers/Microsoft.DataReplication/replicationFabrics?api-version=2024-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "", "" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "799" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"location\":\"centraluseuap\",\"tags\":{},\"properties\":{\"provisioningState\":\"Succeeded\",\"serviceEndpoint\":null,\"serviceResourceId\":\"37bc07a1-0e5c-405e-a7db-c21716bf966e\",\"health\":\"Normal\",\"healthErrors\":[],\"customProperties\":{\"hyperVSiteId\":\"/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b/resourceGroups/hafework-hvpubb-rg/providers/Microsoft.OffAzure/HyperVSites/hafeworksrc16536site\",\"fabricResourceId\":\"4638160455473039265\",\"fabricContainerId\":\"29229036079555\",\"migrationSolutionId\":\"/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b/resourceGroups/hafework-hvpubb-rg/providers/Microsoft.Migrate/MigrateProjects/hafework-hvpubb/Solutions/Servers-Migration-ServerMigration_DataReplication\",\"migrationHubUri\":null,\"instanceType\":\"HyperVMigrate\"}},\"id\":\"/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b/resourceGroups/hafework-hvpubb-rg/providers/Microsoft.DataReplication/replicationFabrics/hafeworksrc10b30replicationfabric\",\"name\":\"hafeworksrc10b30replicationfabric\",\"type\":\"Microsoft.DataReplication/replicationFabrics\",\"systemData\":{\"createdBy\":\"aszregistrationuser@aszregistration.onmicrosoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-11-13T23:06:22.3108508+00:00\",\"lastModifiedBy\":\"aszregistrationuser@aszregistration.onmicrosoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-11-13T23:06:22.3108508+00:00\"}},{\"location\":\"centraluseuap\",\"tags\":{},\"properties\":{\"provisioningState\":\"Succeeded\",\"serviceEndpoint\":null,\"serviceResourceId\":\"61ecccb5-b21a-4f77-9196-b1e9b8a245be\",\"health\":\"Normal\",\"healthErrors\":[],\"customProperties\":{\"azStackHciSiteId\":\"/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b/resourceGroups/hafework-hvpubb-rg/providers/Microsoft.OffAzure/HyperVSites/hafeworktar1350site\",\"applianceName\":[\"hafeworktar\"],\"cluster\":{\"clusterName\":\"rr1001-cl.rr1001.masd.stbtest.microsoft.com\",\"resourceName\":\"/Subscriptions/921d26b3-c14d-4efc-b56e-93a2439e028c/resourceGroups/EDGECI-REGISTRATION-b88rr1001/providers/Microsoft.AzureStackHCI/clusters/cluster-5fe62ea2c51a4b10bf9be8b195a7a90c\",\"storageAccountName\":null,\"storageContainers\":null},\"fabricResourceId\":\"5726241277606677685\",\"fabricContainerId\":\"29259966081320\",\"migrationSolutionId\":\"/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b/resourceGroups/hafework-hvpubb-rg/providers/Microsoft.Migrate/MigrateProjects/hafework-hvpubb/Solutions/Servers-Migration-ServerMigration_DataReplication\",\"migrationHubUri\":null,\"instanceType\":\"AzStackHCI\"}},\"id\":\"/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b/resourceGroups/hafework-hvpubb-rg/providers/Microsoft.DataReplication/replicationFabrics/hafeworktarb9bareplicationfabric\",\"name\":\"hafeworktarb9bareplicationfabric\",\"type\":\"Microsoft.DataReplication/replicationFabrics\",\"systemData\":{\"createdBy\":\"aszregistrationuser@aszregistration.onmicrosoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-11-13T23:39:04.5194862+00:00\",\"lastModifiedBy\":\"aszregistrationuser@aszregistration.onmicrosoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-11-13T23:39:04.5194862+00:00\"}},{\"location\":\"centraluseuap\",\"tags\":{},\"properties\":{\"provisioningState\":\"Succeeded\",\"serviceEndpoint\":null,\"serviceResourceId\":\"43325b1e-f259-4bf0-b58e-b0db61598c55\",\"health\":\"Normal\",\"healthErrors\":[],\"customProperties\":{\"vmwareSiteId\":\"/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b/resourceGroups/trumanbrownvmw-refresh-signoff/providers/Microsoft.OffAzure/VMwareSites/tb-signoff-src5540site\",\"migrationSolutionId\":\"/subscriptions/de3c4d5e-af08-451a-a873-438d86ab6f4b/resourceGroups/trumanbrownvmw-refresh-signoff/providers/Microsoft.Migrate/MigrateProjects/trumanbrownvmw-refresh-signoff/Solutions/Servers-Migration-ServerMigration_DataReplication\",\"instanceType\":\"VMwareMigrate\"}},\"id\":\"/subscriptions/de3c4d5e-af0[...]
