{
  "Get-AzMigrateRunAsAccount+[NoContext]+List+$GET+https://management.azure.com/subscriptions/6b72781d-4550-419b-a56e-44055341a88e/resourceGroups/cbtgqlsrcrg/providers/Microsoft.OffAzure/VMwareSites/ecygqlapp4055site/runAsAccounts?api-version=2020-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/6b72781d-4550-419b-a56e-44055341a88e/resourceGroups/cbtgqlsrcrg/providers/Microsoft.OffAzure/VMwareSites/ecygqlapp4055site/runAsAccounts?api-version=2020-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "18" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-throttling-version": [ "v2" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/6b72781d-4550-419b-a56e-44055341a88e/resourceGroups/cbtgqlsrcrg/providers/Microsoft.OffAzure/VMwareSites/ecygqlapp4055site/runasaccounts/9dd70654-9f18-5dcc-993a-c950ac540221\",\"name\":\"9dd70654-9f18-5dcc-993a-c950ac540221\",\"type\":\"Microsoft.OffAzure/VMwareSites/runasaccounts\",\"properties\":{\"displayName\":\"vcencred\",\"credentialType\":\"VMwareFabric\",\"createdTimestamp\":\"2025-01-09T09:02:26.1056337Z\",\"updatedTimestamp\":\"2025-09-24T08:34:27.3181902Z\",\"applianceName\":null}}],\"nextLink\":null}",
    }
  },
  "Get-AzMigrateRunAsAccount+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/6b72781d-4550-419b-a56e-44055341a88e/resourceGroups/cbtgqlsrcrg/providers/Microsoft.OffAzure/VMwareSites/ecygqlapp4055site/runAsAccounts/9dd70654-9f18-5dcc-993a-c950ac540221?api-version=2020-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/6b72781d-4550-419b-a56e-44055341a88e/resourceGroups/cbtgqlsrcrg/providers/Microso[...]
