{
  "Get-AzMigrateProject+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/6b72781d-4550-419b-a56e-44055341a88e/resourceGroups/cbtgqlsrcrg/providers/Microsoft.Migrate/migrateProjects/cbtecygqlproj?api-version=2018-09-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/6b72781d-4550-419b-a56e-44055341a88e/resourceGroups/cbtgqlsrcrg/providers/Microsoft.Migrate/migrateProjects/cbtecygqlproj?api-version=2018-09-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "5" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"f4026eef-0000-0200-0000-691bb78a0000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/6b72781d-4550-419b-a56e-44055341a88e/resourceGroups/cbtgqlsrcrg/providers/Microsoft.Migrate/migrateProjects/cbtecygqlproj\",\"name\":\"cbtecygqlproj\",\"type\":\"Microsoft.Migrate/migrateProjects\",\"etag\":\"\\\"f4026eef-0000-0200-0000-691bb78a0000\\\"\",\"location\":\"eastus2euap\",\"tags\":{\"Migrate Project\":\"cbtecygqlproj\"},\"properties\":{\"registeredTools\":[\"ServerDiscovery\",\"ServerAssessment\",\"ServerMigration\"],\"serviceEndpoint\":\"https://cb121902-1f18-48bc-a0a9-5fff0e00d1fa-isv.ecy.hub.privatelink.prod.migration.windowsazure.com/resources/cb121902-1f18-48bc-a0a9-5fff0e00d1fa\",\"summary\":{\"servers\":{\"instanceType\":\"Servers\",\"discoveredCount\":78,\"assessedCount\":38,\"replicatingCount\":2,\"testMigratedCount\":1,\"migratedCount\":0,\"refreshSummaryState\":\"Completed\",\"lastSummaryRefreshedTime\":\"2025-06-18T08:25:38.839053Z\",\"extendedSummary\":{\"microsoftDiscoveredCount\":\"78\",\"microsoftMachinesCount\":\"78\"}},\"databases\":{\"instanceType\":\"Databases\",\"refreshSummaryState\":\"Completed\",\"lastSummaryRefreshedTime\":\"2025-01-09T08:29:25.9758205Z\",\"extendedSummary\":{}},\"webApplications\":{\"instanceType\":\"WebApplications\",\"refreshSummaryState\":\"Completed\",\"lastSummaryRefreshedTime\":\"2025-11-18T07:27:38.1908008Z\",\"extendedSummary\":{}},\"desktopVirtualization\":{\"instanceType\":\"DesktopVirtualization\",\"refreshSummaryState\":\"Completed\",\"lastSummaryRefreshedTime\":\"2025-01-09T08:29:25.9758205Z\",\"extendedSummary\":{}}},\"lastSummaryRefreshedTime\":\"2025-06-18T08:25:38.839053Z\",\"refreshSummaryState\":\"Completed\",\"provisioningState\":\"Succeeded\"}}",
    }
  }
}