{
  "Get-AzMigrateProject+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/cbtsignoff2201rg/providers/Microsoft.Migrate/migrateProjects/signoffccyproj?api-version=2018-09-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/cbtsignoff2201rg/providers/Microsoft.Migrate/migrateProjects/signoffccyproj?api-version=2018-09-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "20" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"0300e365-0000-3300-0000-6331532e0000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11977" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/cbtsignoff2201rg/providers/Microsoft.Migrate/MigrateProjects/signoffccyproj\",\"name\":\"signoffccyproj\",\"type\":\"Microsoft.Migrate/MigrateProjects\",\"etag\":\"\\\"0300e365-0000-3300-0000-6331532e0000\\\"\",\"location\":\"centraluseuap\",\"tags\":{\"Migrate Project\":\"signoffccyproj\"},\"properties\":{\"registeredTools\":[\"ServerDiscovery\",\"ServerAssessment\",\"ServerMigration\"],\"serviceEndpoint\":\"https://0f82ca5a-999c-4ace-8260-792870874610-isv.ccy.hub.privatelink.prod.migration.windowsazure.com/resources/0f82ca5a-999c-4ace-8260-792870874610\",\"summary\":{\"servers\":{\"instanceType\":\"Servers\",\"discoveredCount\":144,\"assessedCount\":0,\"replicatingCount\":7,\"testMigratedCount\":0,\"migratedCount\":0,\"refreshSummaryState\":\"Completed\",\"lastSummaryRefreshedTime\":\"2022-09-26T11:15:55.0545447Z\",\"extendedSummary\":{\"microsoftDiscoveredCount\":\"144\",\"microsoftMachinesCount\":\"144\"}},\"databases\":{\"instanceType\":\"Databases\",\"refreshSummaryState\":\"Completed\",\"lastSummaryRefreshedTime\":\"2022-07-24T17:46:46.451848Z\",\"extendedSummary\":{}},\"webApplications\":{\"instanceType\":\"WebApplications\",\"refreshSummaryState\":\"Completed\",\"lastSummaryRefreshedTime\":\"2022-09-26T11:18:55.4121801Z\",\"extendedSummary\":{}},\"desktopVirtualization\":{\"instanceType\":\"DesktopVirtualization\",\"refreshSummaryState\":\"Completed\",\"lastSummaryRefreshedTime\":\"2022-07-24T17:46:46.451848Z\",\"extendedSummary\":{}}},\"lastSummaryRefreshedTime\":\"2022-09-26T11:15:55.0545447Z\",\"refreshSummaryState\":\"Completed\",\"provisioningState\":\"Succeeded\"}}"
    }
  }
}