{
  "New-AzMigrateHCIServerReplication+[NoContext]+ByIdDefaultUser+$GET+https://management.azure.com/subscriptions/40b6d51e-c6c9-47c8-9203-52fdeaec6d1e/resourceGroups/samlee3-rg4/providers/Microsoft.OffAzure/HyperVSites/samlee3src41244site/machines/0560e6aa-9b2d-45e5-92cd-4ff618d09bec?api-version=2020-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/40b6d51e-c6c9-47c8-9203-52fdeaec6d1e/resourceGroups/samlee3-rg4/providers/Microsoft.OffAzure/HyperVSites/samlee3src41244site/machines/0560e6aa-9b2d-45e5-92cd-4ff618d09bec?api-version=2020-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"instanceUuid\":\"0560e6aa-9b2d-45e5-92cd-4ff618d09bec\",\"hostFqdn\":\"RRN44-13-33.CFDEV.NTTEST.MICROSOFT.COM\",\"hostId\":\"/subscriptions/40b6d51e-c6c9-47c8-9203-52fdeaec6d1e/resourceGroups/samlee3-rg4/providers/Microsoft.OffAzure/HyperVSites/samlee3src41244site/hosts/rrn44-13-33-cfdev-nttest-micros-8c18e4d9-da77-4eb3-aecd-61afae77325f\",\"generation\":1,\"version\":\"5.0\",\"highAvailability\":\"No\",\"clusterFqdn\":null,\"clusterId\":null,\"maxMemoryMB\":1048576,\"isDynamicMemoryEnabled\":false,\"disks\":[{\"instanceId\":\"Microsoft:0560E6AA-9B2D-45E5-92CD-4FF618D09BEC\\\\83F8638B-8DCA-4152-9EDA-2CA8B33039B4\\\\0\\\\0\\\\L\",\"vhdId\":\"01d7a152-d18d-490f-ad07-db8620f6a09d\",\"maxSizeInBytes\":42949672960,\"name\":\"14393.0.amd64fre.rs1_release.160715-1616_server_serverdatacentereval_en-us_138E9ECD-3547-4241-975F-4404FD4F5132\",\"diskType\":\"Differencing\",\"lun\":0,\"path\":\"F:\\\\samlee3vms\\\\testsamlee1vm\\\\14393.0.amd64fre.rs1_release.160715-1616_server_serverdatacentereval_en-us_138E9ECD-3547-4241-975F-4404FD4F5132.avhd\"}],\"networkAdapters\":[{\"networkId\":\"\",\"subnetName\":\"\",\"staticIpAdress\":null,\"nicType\":\"NicType\",\"nicId\":\"Microsoft:0560E6AA-9B2D-45E5-92CD-4FF618D09BEC\\\\617EFC72-6B3C-47F4-9198-A58C24E787B6\",\"macAddress\":\"00:15:5d:e6:4f:f1\",\"ipAddressList\":[],\"networkName\":null,\"ipAddressType\":\"Dynamic\"}],\"managementServerType\":\"Host\",\"secureBootTemplateId\":\"\",\"secureBootEnabled\":false,\"secureBootTemplate\":\"\",\"tpmEnabled\":false,\"ksdEnabled\":false,\"shieldingRequested\":false,\"dataProtectionRequested\":false,\"encryptStateAndVmMigrationTraffic\":false,\"virtualizationBasedSecurityOptOut\":false,\"powerStatus\":\"PowerOff\",\"vmFqdn\":\"\",\"vmConfigurationFileLocation\":\"F:\\\\samlee3vms\\\\testsamlee1vm\\\\testsamlee1\\\\Virtual Machines\\\\0560E6AA-9B2D-45E5-92CD-4FF618D09BEC.xml\",\"firmware\":\"BIOS\",\"guestOSDetails\":{\"osType\":null,\"osName\":null,\"osVersion\":null,\"osArchitecture\":null},\"numberOfApplications\":-1,\"guestDetailsDiscoveryTimestamp\":null,\"isFileServerSupported\":null,\"isGuestDetailsDiscoveryInProgress\":true,\"dependencyMapping\":\"Disabled\",\"dependencyMappingStartTime\":null,\"dependencyMappingEndTime\":null,\"runAsAccountId\":null,\"applianceNames\":[],\"errors\":[],\"applicationDiscovery\":{\"discoveryScopeStatus\":\"RunAsAccountNotAssociated\",\"errors\":[],\"hydratedRunAsAccountId\":null},\"dependencyMapDiscovery\":{\"discoveryScopeStatus\":\"RunAsAccountNotAssociated\",\"errors\":[],\"hydratedRunAsAccountId\":null},\"staticDiscovery\":{\"discoveryScopeStatus\":\"DiscoverySucceeded\",\"errors\":[],\"hydratedRunAsAccountId\":null},\"sqlDiscovery\":{\"successfullyDiscoveredServerCount\":-1,\"totalServerCount\":-1,\"sqlMetadataHydratedRunAsAccountId\":null,\"sqlMetadataDiscoveryPipe\":\"Unknown\",\"discoveryScopeStatus\":\"RunAsAccountNotAssociated\"},\"webAppDiscovery\":{\"totalWebServerCount\":0,\"totalWebApplicationCount\":0,\"discoveryScopeStatus\":\"RunAsAccountNotAssociated\"},\"oracleDiscovery\":{\"totalInstanceCount\":0,\"totalDatabaseCount\":0,\"shallowDiscoveryStatus\":\"Disabled\",\"discoveryScopeStatus\":\"DiscoverySucceeded\"},\"springBootDiscovery\":{\"totalInstanceCount\":0,\"totalApplicationCount\":0,\"shallowDiscoveryStatus\":\"Disabled\",\"discoveryScopeStatus\":\"DiscoverySucceeded\"},\"mySQLDiscovery\":{\"totalInstanceCount\":0,\"totalDatabaseCount\":0,\"shallowDiscoveryStatus\":\"Disabled\",\"discoveryScopeStatus\":\"DiscoverySucceeded\"},\"iisDiscovery\":{\"totalWebServerCount\":0,\"totalWebApplicationCount\":0,\"discoveryScopeStatus\":\"RunAsAccountNotAssociated\"},\"tomcatDiscovery\":{\"totalWebServerCount\":0,\"totalWebApplicationCount\":0,\"discoveryScopeStatus\":\"RunAsAccountNotAssociated\"},\"appsAndRoles\":null,\"productSupportStatus\":{\"currentVersion\":null,\"esuStatus\":\"Unknown\",\"supportStatus\":\"Unknown\",\"supportEndDate\":\"0001-01-01T00:00:00\",\"esuYear\":\"Unknown\"},\"eTag\":\"\\\"1c04a172-0000-1800-0000-650639570000\\\"\",\"numberOfProcessorCore\":1,\"allocatedMemoryInMB\":16384.0,\"operatingSystemDetails\":{\"osType\":\"otherguestfamily\",\"osName\":null,\"osVersion\":null,\"osArchitecture\":null},\"biosSerialNumber\":\"6736-3103-4448-5783-4045-8105-00\",\"biosGuid\":\"52CE3FBC-60FD-400B-8D9F-D0839790B885\",\"displayName\":\"testsamlee1\",\"isDeleted\":false,\"createdTimestamp\":\"2023-08-31T22:45:58.1940880Z\",\"tags\":{\"asrprotectedmachine\":\"false\"},\"updatedTimestamp\":\"2023-09-16T23:25:11.1017631Z\"},\"id\":\"/subscriptions/40b6d51e-c6c9-47c8-9203-52fdeaec6d1e/resourceGroups/samlee3-rg4/providers/Microsoft.OffAzure/HyperVSites/samlee3src41244site/machines/0560e6aa-9b2d-45e5-92cd-4ff618d09bec\",\"name\":\"0560e6aa-9b2d-45e5-92cd-4ff618d09bec\",\"type\":\"Microsoft.OffAzure/HyperVSites/machines\",\"tags\":{\"asrprotectedmachine\":\"false\"}}",
    }
  },
  "New-AzMigrateHCIServerReplication+[NoContext]+ByIdDefaultUser+$GET+https://management.azure.com/subscriptions/40b6d51e-c6c9-47c8-9203-52fdeaec6d1e/resourceGroups/samlee3-rg4/providers/Microsoft.OffAzure/HyperVSites/samlee3src41244site?api-version=2020-01-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/40b6d51e-c6c9-47c8-9203-52fdeaec6d1e/resourceGroups/samlee3-rg4/providers/Microsoft.OffAzure/HyperVSites/samlee3src41244site?api-version=2020-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"2e01917f-0000-1800-0000-650639670000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/40b6d51e-c6c9-47c8-9203-52fdeaec6d1e/resourceGroups/samlee3-rg4/providers/Microsoft.OffAzure/HyperVSites/samlee3src41244site\",\"name\":\"samlee3src41244site\",\"type\":\"Microsoft.OffAzure/HyperVSites\",\"etag\":\"\\\"2e01917f-0000-1800-0000-650639670000\\\"\",\"location\":\"southeastasia\",\"kind\":\"Migrate\",\"properties\":{\"masterSiteId\":\"/subscriptions/40b6d51e-c6c9-47c8-9203-52fdeaec6d1e/resourceGroups/samlee3-rg4/providers/Microsoft.OffAzure/MasterSites/samlee3proj46422mastersite\",\"servicePrincipalIdentityDetails\":{\"tenantId\":\"c76bd4d1-bea3-45ea-be1b-4a745a675d07\",\"applicationId\":\"e2344540-afb8-4d15-843d-2e7c35b090ab\",\"objectId\":\"c8c56849-02b1-4b12-95af-c2e94b9aaf1e\",\"audience\":\"e2344540-afb8-4d15-843d-2e7c35b090ab\",\"aadAuthority\":\"https://login.microsoftonline.com/c76bd4d1-bea3-45ea-be1b-4a745a675d07\",\"rawCertData\":\"MIIDNDCCAhygAwIBAgIQdGNdN/CjS8ufM+qldDz6xzANBgkqhkiG9w0BAQsFADAXMRUwEwYDVQQDEwxBZ2VudFNwbkNlcnQwHhcNMjMwODA5MjIyMTE2WhcNMjQwODA5MjIzMTE2WjAXMRUwEwYDVQQDEwxBZ2VudFNwbkNlcnQwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDuy6pxPqzVD9WVHGBw3+EQNSAbkvCMGDU+yNu6e1a1+OGonopJYJ+W5IF9pgCgGY/VK5Yokgv4gj+dDCaHEDXshLxh9cLoaxXwvP83UdoR2e7lA3cbGAXqxJQw2/9jfaoa+ipvnenejKiWEjWzZmxPglWGGaO+NnhQm6l99a+Az2SGT+7Z8BD+eiNLu/kvblhu2I2zlBDxtaq+HtRtcduO0PRpbrTV7WTUCIpRKnELs4+Kz1VleCK3idxUZgwQiKcc/BbjS0jtF2tKr7KiUUNqTDGm2RtYqx4RShYjt+baXs477XtjEjl0NTK85XOMFyyXyTn8P9rW42eDZzgorlY1AgMBAAGjfDB6MA4GA1UdDwEB/wQEAwIFoDAJBgNVHRMEAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAfBgNVHSMEGDAWgBQvwkawBAIeLPXDn6aMqPWc4S2M3jAdBgNVHQ4EFgQUL8JGsAQCHiz1w5+mjKj1nOEtjN4wDQYJKoZIhvcNAQELBQADggEBAArSSHkrEHcJyz75KC1DNFdrpESEo5Wy3oV4gZe4cOtfQd8tu4iJUSgagy1NdoQ2puatD7CJQ0nvAUGzAu5MMbeotihBvtHLSJTxbxumRgshsblrZA+a38q9qwUSLlJP9dUtG/cN0G0jB6xLj9ZoeHXKviQodLlXqHPb7qhHHqMxKFKZViWU2tV863QYLVSDR7eZOD7qiFXPxm0RNQyrHctrvT4k3Ra1E22gxH171PSDfdab9GBGDitzw9lErLK2qfIwE7SoaSUm1YXu0A5z7eQJSDcojdfi4lzhOUtmJN/Gmln/JrZ4AGhAs9gghe5n/c6vp85UomtWAc6lXJkWZK4=\"},\"agentDetails\":{\"id\":\"38144592-82bd-4537-806a-2529e6f42f4d-agent\",\"version\":\"2.0.2199.56\",\"lastHeartBeatUtc\":\"2023-09-16T23:20:33.5941976Z\",\"keyVaultUri\":\"https://samlee3proj46422kv.vault.azure.net\",\"keyVaultId\":\"/subscriptions/40b6d51e-c6c9-47c8-9203-52fdeaec6d1e/resourceGroups/samlee3-rg4/providers/Microsoft.KeyVault/vaults/samlee3proj46422kv\"},\"applianceName\":\"samlee3src4\",\"discoverySolutionId\":\"/subscriptions/40b6d51e-c6c9-47c8-9203-52fdeaec6d1e/resourceGroups/samlee3-rg4/providers/Microsoft.Migrate/MigrateProjects/samlee3proj4/Solutions/Servers-Discovery-ServerDiscovery\",\"serviceEndpoint\":\"https://discoverysrv.sea.test.migration.windowsazure.com/\",\"provisioningState\":\"Succeeded\"}}",
    }
  },
  "New-AzMigrateHCIServerReplication+[NoContext]+ByIdDefaultUser+$GET+https://management.azure.com/subscriptions/40b6d51e-c6c9-47c8-9203-52fdeaec6d1e/resourceGroups/samlee3-rg4/providers/Microsoft.Migrate/migrateProjects/samlee3proj4/solutions/Servers-Migration-ServerMigration_DataReplication?api-version=2018-09-01-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/40b6d51e-c6c9-47c8-9203-52fdeaec6d1e[...]
