{
  "New-AzMigrateServerReplication+[NoContext]+ByIdDefaultUser+$GET+https://management.azure.com/subscriptions/6b72781d-4550-419b-a56e-44055341a88e/resourceGroups/cbtgqlsrcrg/providers/Microsoft.OffAzure/VMwareSites/ecygqlapp4055site/machines/idclab-vcen8-fareast-corp-micro-d2408603-48eb-434f-8cd5-f34828328495_5037d276-0d72-7b96-7f6d-2ce50a4c05e5?api-version=2020-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/6b72781d-4550-419b-a56e-44055341a88e/resourceGroups/cbtgqlsrcrg/providers/Microsoft.OffAzure/VMwareSites/ecygqlapp4055site/machines/idclab-vcen8-fareast-corp-micro-d2408603-48eb-434f-8cd5-f34828328495_5037d276-0d72-7b96-7f6d-2ce50a4c05e5?api-version=2020-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "38" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-throttling-version": [ "v2" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"totalDiskSizeInGB\":40.0,\"vCenterFQDN\":\"idclab-vcen8.fareast.corp.microsoft.com\",\"vCenterId\":\"/subscriptions/6b72781d-4550-419b-a56e-44055341a88e/resourceGroups/cbtgqlsrcrg/providers/Microsoft.OffAzure/VMwareSites/ecygqlapp4055site/vcenters/idclab-vcen8-fareast-corp-micro-d2408603-48eb-434f-8cd5-f34828328495\",\"instanceUuid\":\"5037d276-0d72-7b96-7f6d-2ce50a4c05e5\",\"dataCenterScope\":\"Server Migration Datacenter\",\"description\":\"\",\"disks\":[{\"uuid\":\"6000C298-484c-efb1-c52b-7d782a6e492c\",\"label\":\"Hard disk 1\",\"diskProvisioningPolicy\":\"ThickProvisioned\",\"diskScrubbingPolicy\":\"LazilyScrubbed\",\"diskMode\":\"persistent\",\"controllerType\":\"VirtualLsiLogicSASController\",\"maxSizeInBytes\":42949672960,\"usedSpaceInBytes\":0,\"name\":\"scsi0:0\",\"diskType\":\"Static\",\"lun\":0,\"path\":\"[datastore1 (2)] testvmvcen8/testvmvcen8.vmdk\",\"logicalSectorSizeInBytes\":0}],\"hostInMaintenanceMode\":false,\"hostName\":\"10.150.102.91\",\"hostPowerState\":\"poweredOn\",\"hostVersion\":\"7.0.3\",\"networkAdapters\":[{\"label\":\"Network adapter 1\",\"adapterType\":\"VirtualE1000e\",\"nicId\":\"4000\",\"macAddress\":\"00:50:56:b7:ac:d7\",\"ipAddressList\":[],\"networkName\":\"VM Network\",\"ipAddressType\":\"Static\"}],\"vMwareToolsStatus\":\"NotRunning\",\"vMwareToolsVersion\":\"12325\",\"changeTrackingSupported\":true,\"changeTrackingEnabled\":true,\"maxSnapshots\":-1,\"diskEnabledUuid\":\"yes\",\"numberOfSnapshots\":0,\"altGuestName\":\"windows2019srv_64Guest\",\"powerStatus\":\"OFF\",\"vmFqdn\":\"\",\"vmConfigurationFileLocation\":\"[datastore1 (2)] testvmvcen8/testvmvcen8.vmx\",\"firmware\":\"bios\",\"guestOSDetails\":{\"osType\":null,\"osName\":null,\"osVersion\":null,\"osArchitecture\":null},\"numberOfApplications\":-1,\"guestDetailsDiscoveryTimestamp\":null,\"isFileServerSupported\":null,\"isGuestDetailsDiscoveryInProgress\":true,\"dependencyMapping\":\"Disabled\",\"autoEnableDependencyMapping\":\"ValidationInProgress\",\"dependencyMappingStartTime\":null,\"dependencyMappingEndTime\":null,\"runAsAccountId\":null,\"applianceNames\":[],\"errors\":[],\"distinctErrorCount\":0,\"applicationDiscovery\":{\"discoveryScopeStatus\":\"RunAsAccountNotAssociated\",\"errors\":[],\"hydratedRunAsAccountId\":null},\"dependencyMapDiscovery\":{\"discoveryScopeStatus\":\"RunAsAccountNotAssociated\",\"errors\":[],\"hydratedRunAsAccountId\":null},\"staticDiscovery\":{\"discoveryScopeStatus\":\"DiscoverySucceeded\",\"errors\":[],\"hydratedRunAsAccountId\":null},\"sqlDiscovery\":{\"successfullyDiscoveredServerCount\":-1,\"totalServerCount\":-1,\"sqlMetadataHydratedRunAsAccountId\":null,\"sqlMetadataDiscoveryPipe\":\"Unknown\",\"discoveryScopeStatus\":\"RunAsAccountNotAssociated\"},\"webAppDiscovery\":{\"totalWebServerCount\":0,\"totalWebApplicationCount\":0,\"discoveryScopeStatus\":\"RunAsAccountNotAssociated\"},\"oracleDiscovery\":{\"totalInstanceCount\":0,\"totalDatabaseCount\":0,\"shallowDiscoveryStatus\":\"Disabled\",\"discoveryScopeStatus\":\"DiscoverySucceeded\"},\"springBootDiscovery\":{\"totalInstanceCount\":0,\"totalApplicationCount\":0,\"shallowDiscoveryStatus\":\"Disabled\",\"discoveryScopeStatus\":\"DiscoverySucceeded\"},\"mySQLDiscovery\":{\"totalInstanceCount\":0,\"totalDatabaseCount\":0,\"shallowDiscoveryStatus\":\"Disabled\",\"discoveryScopeStatus\":\"DiscoverySucceeded\"},\"pgSQLDiscovery\":{\"totalInstanceCount\":0,\"totalDatabaseCount\":0,\"shallowDiscoveryStatus\":\"Disabled\",\"discoveryScopeStatus\":\"DiscoverySucceeded\"},\"iisDiscovery\":{\"totalWebServerCount\":0,\"totalWebApplicationCount\":0,\"discoveryScopeStatus\":\"RunAsAccountNotAssociated\"},\"tomcatDiscovery\":{\"totalWebServerCount\":0,\"totalWebApplicationCount\":0,\"discoveryScopeStatus\":\"RunAsAccountNotAssociated\"},\"appsAndRoles\":null,\"totalApplicationCount\":0,\"totalInstanceCount\":-1,\"ipAddresses\":\"\",\"productSupportStatus\":{\"currentVersion\":\"\",\"esuStatus\":\"Unknown\",\"supportStatus\":\"Unknown\",\"supportEndDate\":\"0001-01-01T00:00:00\",\"esuYear\":\"Unknown\"},\"discoveredWorkloads\":[],\"eTag\":\"\\\"c701e8bf-0000-0200-0000-68d5dfee0000\\\"\",\"numberOfProcessorCore\":4,\"allocatedMemoryInMB\":4096.0,\"operatingSystemDetails\":{\"osType\":\"windowsguest\",\"osName\":\"Windows Server 2019 (64-bit)\",\"osVersion\":\"\",\"osArchitecture\":\"x86_64\"},\"biosSerialNumber\":\"4237f71e-14fa-ccb3-de23-bb5d517902ef\",\"biosGuid\":\"4237f71e-14fa-ccb3-de23-bb5d517902ef\",\"displayName\":\"GQLVM-DoNotDelete\",\"isDeleted\":false,\"createdTimestamp\":\"2025-01-09T09:08:22.8522988Z\",\"tags\":{\"asrprotectedmachine\":\"False\"},\"updatedTimestamp\":\"2025-09-26T00:35:58.0568991Z\"},\"id\":\"/subscriptions/6b72781d-4550-419b-a56e-44055341a88e/resourceGroups/cbtgqlsrcrg/providers/Microsoft.OffAzure/VMwareSites/ecygqlapp4055site/machines/idclab-vcen8-fareast-corp-micro-d2408603-48eb-434f-8cd5-f34828328495_5037d276-0d72-7b96-7f6d-2ce50a4c05e5\",\"name\":\"idclab-vcen8-fareast-corp-micro-d2408603-48eb-434f-8cd5-f34828328495_5037d276-0d72-7b96-7f6d-2ce50a4c05e5\",\"type\":\"Microsoft.OffAzure/VMwareSites/machines\",\"tags\":{\"asrprotectedmachine\":\"False\"}}",
    }
  },
  "New-AzMigrateServerReplication+[NoContext]+ByIdDefaultUser+$GET+https://management.azure.com/subscriptions/6b72781d-4550-419b-a56e-44055341a88e/resourceGroups/cbtgqlsrcrg/providers/Microsoft.OffAzure/VMwareSites/ecygqlapp4055site?api-version=2020-01-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/6b72781d-4550-419b-a56e-44055341a88e/resourceGroups/cbtgqlsrcrg/providers/Microsoft.OffAzure/VMwareSites/ecygqlapp4055site?api-version=2020-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "39" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"00008d07-0000-3400-0000-677f91720000\"" ],
        "x-ms-throttling-version": [ "v2" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/6b72781d-4550-419b-a56e-44055341a88e/resourceGroups/cbtgqlsrcrg/providers/Microsoft.OffAzure/vmwareSites/ecygqlapp4055site\",\"name\":\"ecygqlapp4055site\",\"type\":\"Microsoft.OffAzure/vmwareSites\",\"etag\":\"\\\"00008d07-0000-3400-0000-677f91720000\\\"\",\"location\":\"eastus2euap\",\"kind\":\"Migrate\",\"properties\":{\"masterSiteId\":\"/subscriptions/6b72781d-4550-419b-a56e-44055341a88e/resourceGroups/cbtgqlsrcrg/providers/Microsoft.OffAzure/MasterSites/cbtecygqlproj0541mastersite\",\"servicePrincipalIdentityDetails\":{\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"applicationId\":\"82546859-22b0-49c8-ba6e-417ce67bc88c\",\"objectId\":\"3e1dee66-bb3a-4523-b431-0626476bb3b4\",\"audience\":\"82546859-22b0-49c8-ba6e-417ce67bc88c\",\"aadAuthority\":\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\",\"rawCertData\":\"MIIHdTCCBl2gAwIBAgITfAXVHFdW6GvNQuz+kQAABdUcVzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQxMDMwMTY1MTI2WhcNMjUxMDI1MTY1MTI2WjAuMSwwKgYDVQQDEyN0ZXN0LmRldi5taWdyYXRpb24ud2luZG93c2F6dXJlLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJ9Ysc15rZ1NhltNvetRcM1yQl6oL5MaSekRzIxVbBqKANGxftR9xF97298JVMgPd3PB1Eya0dx0QsDrrt6BAaknB6bjBNY17OhzCezgfhzk4baVC3LfAOkKjNLpoEKDB5kRTlTT0g+8N9YyaSPpYvLFz5H7MreZP9i8TEGDCTZ6nDIVqiV/uPbsR5GG+X[...]
