{
  "New-AzFirmwareAnalysisWorkspaceUploadUrl+[NoContext]+Generate+$POST+https://management.azure.com/subscriptions/4a6ec1c4-e0e2-4e4c-b532-fe37a0d9b3ab/resourceGroups/FirmwareAnalysisRG/providers/Microsoft.IoTFirmwareDefense/workspaces/default/generateUploadUrl?api-version=2024-01-10+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/4a6ec1c4-e0e2-4e4c-b532-fe37a0d9b3ab/resourceGroups/FirmwareAnalysisRG/providers/Microsoft.IoTFirmwareDefense/workspaces/default/generateUploadUrl?api-version=2024-01-10",
      "Content": "{\n  \"firmwareId\": \"e0a16256-d186-4d4f-87fc-24bd0dab91cf\"\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "298" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"url\":\"https://storfistdeveusuploadkalb.blob.core.windows.net/4a6ec1c4-e0e2-4e4c-b532-fe37a0d9b3ab/e0a16256-d186-4d4f-87fc-24bd0dab91cf/e2e9a94b-69b1-4c34-847a-2746b75ba8f9?skoid=8cd0a9b4-5c2c-4190-a129-c8939eb2d83f\u0026sktid=72f988bf-86f1-41af-91ab-2d7cd011db47\u0026skt=2024-02-12T21%3A08%3A03Z\u0026ske=2024-02-13T21%3A08%3A03Z\u0026sks=b\u0026skv=2021-08-06\u0026sv=2021-08-06\u0026st=2024-02-12T21%3A08%3A03Z\u0026se=2024-02-13T01%3A08%3A03Z\u0026sr=b\u0026sp=cw\u0026sig=c05Kq54tvEn1hX53KaX0flfPOGiSOYWdvEeTpFzfoPo%3D\"}",
    }
  }
}