// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

namespace Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Cmdlets
{
    using static Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Extensions;
    using System;

    /// <summary>Update or Create a Log Analytics workspace table.</summary>
    /// <remarks>
    /// [OpenAPI] CreateOrUpdate=>PUT:"/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/tables/{tableName}"
    /// </remarks>
    [global::System.Management.Automation.Cmdlet(global::System.Management.Automation.VerbsCommon.New, @"AzOperationalInsightsTable_CreateExpanded", SupportsShouldProcess = true)]
    [global::System.Management.Automation.OutputType(typeof(Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Models.Api20211201Preview.ITable))]
    [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Description(@"Update or Create a Log Analytics workspace table.")]
    [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Generated]
    public partial class NewAzOperationalInsightsTable_CreateExpanded : global::System.Management.Automation.PSCmdlet,
        Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener
    {
        /// <summary>A unique id generatd for the this cmdlet when it is instantiated.</summary>
        private string __correlationId = System.Guid.NewGuid().ToString();

        /// <summary>A copy of the Invocation Info (necessary to allow asJob to clone this cmdlet)</summary>
        private global::System.Management.Automation.InvocationInfo __invocationInfo;

        /// <summary>A unique id generatd for the this cmdlet when ProcessRecord() is called.</summary>
        private string __processRecordId;

        /// <summary>
        /// The <see cref="global::System.Threading.CancellationTokenSource" /> for this operation.
        /// </summary>
        private global::System.Threading.CancellationTokenSource _cancellationTokenSource = new global::System.Threading.CancellationTokenSource();

        /// <summary>when specified, runs this cmdlet as a PowerShell job</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Run the command as a job")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter AsJob { get; set; }

        /// <summary>Wait for .NET debugger to attach</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Wait for .NET debugger to attach")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter Break { get; set; }

        /// <summary>The reference to the client API class.</summary>
        public Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.OperationalInsights Client => Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Module.Instance.ClientAPI;

        /// <summary>
        /// The credentials, account, tenant, and subscription used for communication with Azure
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The credentials, account, tenant, and subscription used for communication with Azure.")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::System.Management.Automation.Alias("AzureRMContext", "AzureCredential")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Azure)]
        public global::System.Management.Automation.PSObject DefaultProfile { get; set; }

        /// <summary>SendAsync Pipeline Steps to be appended to the front of the pipeline</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "SendAsync Pipeline Steps to be appended to the front of the pipeline")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Runtime)]
        public Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.SendAsyncStep[] HttpPipelineAppend { get; set; }

        /// <summary>SendAsync Pipeline Steps to be prepended to the front of the pipeline</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "SendAsync Pipeline Steps to be prepended to the front of the pipeline")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Runtime)]
        public Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.SendAsyncStep[] HttpPipelinePrepend { get; set; }

        /// <summary>Accessor for our copy of the InvocationInfo.</summary>
        public global::System.Management.Automation.InvocationInfo InvocationInformation { get => __invocationInfo = __invocationInfo ?? this.MyInvocation ; set { __invocationInfo = value; } }

        /// <summary>
        /// <see cref="IEventListener" /> cancellation delegate. Stops the cmdlet when called.
        /// </summary>
        global::System.Action Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener.Cancel => _cancellationTokenSource.Cancel;

        /// <summary><see cref="IEventListener" /> cancellation token.</summary>
        global::System.Threading.CancellationToken Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener.Token => _cancellationTokenSource.Token;

        /// <summary>Backing field for <see cref="Name" /> property.</summary>
        private string _name;

        /// <summary>The name of the table.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The name of the table.")]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The name of the table.",
        SerializedName = @"tableName",
        PossibleTypes = new [] { typeof(string) })]
        [global::System.Management.Automation.Alias("TableName")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Path)]
        public string Name { get => this._name; set => this._name = value; }

        /// <summary>
        /// when specified, will make the remote call, and return an AsyncOperationResponse, letting the remote operation continue
        /// asynchronously.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Run the command asynchronously")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter NoWait { get; set; }

        /// <summary>Backing field for <see cref="ParametersBody" /> property.</summary>
        private Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Models.Api20211201Preview.ITable _parametersBody= new Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Models.Api20211201Preview.Table();

        /// <summary>Workspace data table definition.</summary>
        private Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Models.Api20211201Preview.ITable ParametersBody { get => this._parametersBody; set => this._parametersBody = value; }

        /// <summary>
        /// The instance of the <see cref="Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.HttpPipeline" /> that the remote call will use.
        /// </summary>
        private Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.HttpPipeline Pipeline { get; set; }

        /// <summary>The table plan.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The table plan.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The table plan.",
        SerializedName = @"plan",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Support.TablePlanEnum) })]
        [global::System.Management.Automation.ArgumentCompleter(typeof(Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Support.TablePlanEnum))]
        public Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Support.TablePlanEnum Plan { get => ParametersBody.Plan ?? ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Support.TablePlanEnum)""); set => ParametersBody.Plan = value; }

        /// <summary>The URI for the proxy server to use</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "The URI for the proxy server to use")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Runtime)]
        public global::System.Uri Proxy { get; set; }

        /// <summary>Credentials for a proxy server to use for the remote call</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Credentials for a proxy server to use for the remote call")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Runtime)]
        public global::System.Management.Automation.PSCredential ProxyCredential { get; set; }

        /// <summary>Use the default credentials for the proxy</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Use the default credentials for the proxy")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter ProxyUseDefaultCredentials { get; set; }

        /// <summary>Backing field for <see cref="ResourceGroupName" /> property.</summary>
        private string _resourceGroupName;

        /// <summary>The name of the resource group. The name is case insensitive.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The name of the resource group. The name is case insensitive.")]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The name of the resource group. The name is case insensitive.",
        SerializedName = @"resourceGroupName",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Path)]
        public string ResourceGroupName { get => this._resourceGroupName; set => this._resourceGroupName = value; }

        /// <summary>The timestamp to end the restore by (UTC).</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The timestamp to end the restore by (UTC).")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The timestamp to end the restore by (UTC).",
        SerializedName = @"endRestoreTime",
        PossibleTypes = new [] { typeof(global::System.DateTime) })]
        public global::System.DateTime RestoredLogsEndRestoreTime { get => ParametersBody.RestoredLogsEndRestoreTime ?? default(global::System.DateTime); set => ParametersBody.RestoredLogsEndRestoreTime = value; }

        /// <summary>The timestamp to start the restore from (UTC).</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The timestamp to start the restore from (UTC).")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The timestamp to start the restore from (UTC).",
        SerializedName = @"startRestoreTime",
        PossibleTypes = new [] { typeof(global::System.DateTime) })]
        public global::System.DateTime RestoredLogsStartRestoreTime { get => ParametersBody.RestoredLogsStartRestoreTime ?? default(global::System.DateTime); set => ParametersBody.RestoredLogsStartRestoreTime = value; }

        /// <summary>
        /// The data table data retention in days, between 4 and 730. Setting this property to null will default to the workspace
        /// retention.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The data table data retention in days, between 4 and 730. Setting this property to null will default to the workspace retention.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The data table data retention in days, between 4 and 730. Setting this property to null will default to the workspace retention.",
        SerializedName = @"retentionInDays",
        PossibleTypes = new [] { typeof(int) })]
        public int RetentionInDay { get => ParametersBody.RetentionInDay ?? default(int); set => ParametersBody.RetentionInDay = value; }

        /// <summary>A list of table custom columns.</summary>
        [global::System.Management.Automation.AllowEmptyCollection]
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "A list of table custom columns.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"A list of table custom columns.",
        SerializedName = @"columns",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Models.Api20211201Preview.IColumn) })]
        public Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Models.Api20211201Preview.IColumn[] SchemaColumn { get => ParametersBody.SchemaColumn ?? null /* arrayOf */; set => ParametersBody.SchemaColumn = value; }

        /// <summary>Table description.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Table description.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Table description.",
        SerializedName = @"description",
        PossibleTypes = new [] { typeof(string) })]
        public string SchemaDescription { get => ParametersBody.SchemaDescription ?? null; set => ParametersBody.SchemaDescription = value; }

        /// <summary>Table display name.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Table display name.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Table display name.",
        SerializedName = @"displayName",
        PossibleTypes = new [] { typeof(string) })]
        public string SchemaDisplayName { get => ParametersBody.SchemaDisplayName ?? null; set => ParametersBody.SchemaDisplayName = value; }

        /// <summary>Table name.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Table name.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Table name.",
        SerializedName = @"name",
        PossibleTypes = new [] { typeof(string) })]
        public string SchemaName { get => ParametersBody.SchemaName ?? null; set => ParametersBody.SchemaName = value; }

        /// <summary>Search results table's Description.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Search results table's Description.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Search results table's Description.",
        SerializedName = @"description",
        PossibleTypes = new [] { typeof(string) })]
        public string SearchResultsDescription { get => ParametersBody.SearchResultsDescription ?? null; set => ParametersBody.SearchResultsDescription = value; }

        /// <summary>The timestamp to end the search by (UTC)</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The timestamp to end the search by (UTC)")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The timestamp to end the search by (UTC)",
        SerializedName = @"endSearchTime",
        PossibleTypes = new [] { typeof(global::System.DateTime) })]
        public global::System.DateTime SearchResultsEndSearchTime { get => ParametersBody.SearchResultsEndSearchTime ?? default(global::System.DateTime); set => ParametersBody.SearchResultsEndSearchTime = value; }

        /// <summary>Limit the search job to return up to specified number of rows.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Limit the search job to return up to specified number of rows.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Limit the search job to return up to specified number of rows.",
        SerializedName = @"limit",
        PossibleTypes = new [] { typeof(int) })]
        public int SearchResultsLimit { get => ParametersBody.SearchResultsLimit ?? default(int); set => ParametersBody.SearchResultsLimit = value; }

        /// <summary>Search job query.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Search job query.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Search job query.",
        SerializedName = @"query",
        PossibleTypes = new [] { typeof(string) })]
        public string SearchResultsQuery { get => ParametersBody.SearchResultsQuery ?? null; set => ParametersBody.SearchResultsQuery = value; }

        /// <summary>The timestamp to start the search from (UTC)</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The timestamp to start the search from (UTC)")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The timestamp to start the search from (UTC)",
        SerializedName = @"startSearchTime",
        PossibleTypes = new [] { typeof(global::System.DateTime) })]
        public global::System.DateTime SearchResultsStartSearchTime { get => ParametersBody.SearchResultsStartSearchTime ?? default(global::System.DateTime); set => ParametersBody.SearchResultsStartSearchTime = value; }

        /// <summary>Backing field for <see cref="SubscriptionId" /> property.</summary>
        private string _subscriptionId;

        /// <summary>The ID of the target subscription.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The ID of the target subscription.")]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The ID of the target subscription.",
        SerializedName = @"subscriptionId",
        PossibleTypes = new [] { typeof(string) })]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.DefaultInfo(
        Name = @"",
        Description =@"",
        Script = @"(Get-AzContext).Subscription.Id")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Path)]
        public string SubscriptionId { get => this._subscriptionId; set => this._subscriptionId = value; }

        /// <summary>
        /// The table data total retention in days, between 4 and 2555. Setting this property to null will default to table retention.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The table data total retention in days, between 4 and 2555. Setting this property to null will default to table retention.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The table data total retention in days, between 4 and 2555. Setting this property to null will default to table retention.",
        SerializedName = @"totalRetentionInDays",
        PossibleTypes = new [] { typeof(int) })]
        public int TotalRetentionInDay { get => ParametersBody.TotalRetentionInDay ?? default(int); set => ParametersBody.TotalRetentionInDay = value; }

        /// <summary>Backing field for <see cref="WorkspaceName" /> property.</summary>
        private string _workspaceName;

        /// <summary>The name of the workspace.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The name of the workspace.")]
        [Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The name of the workspace.",
        SerializedName = @"workspaceName",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Category(global::Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.ParameterCategory.Path)]
        public string WorkspaceName { get => this._workspaceName; set => this._workspaceName = value; }

        /// <summary>
        /// <c>overrideOnDefault</c> will be called before the regular onDefault has been processed, allowing customization of what
        /// happens on that response. Implement this method in a partial class to enable this behavior
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Models.Api20.IErrorResponse"
        /// /> from the remote call</param>
        /// <param name="returnNow">/// Determines if the rest of the onDefault method should be processed, or if the method should
        /// return immediately (set to true to skip further processing )</param>

        partial void overrideOnDefault(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Models.Api20.IErrorResponse> response, ref global::System.Threading.Tasks.Task<bool> returnNow);

        /// <summary>
        /// <c>overrideOnOk</c> will be called before the regular onOk has been processed, allowing customization of what happens
        /// on that response. Implement this method in a partial class to enable this behavior
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Models.Api20211201Preview.ITable"
        /// /> from the remote call</param>
        /// <param name="returnNow">/// Determines if the rest of the onOk method should be processed, or if the method should return
        /// immediately (set to true to skip further processing )</param>

        partial void overrideOnOk(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Models.Api20211201Preview.ITable> response, ref global::System.Threading.Tasks.Task<bool> returnNow);

        /// <summary>
        /// (overrides the default BeginProcessing method in global::System.Management.Automation.PSCmdlet)
        /// </summary>
        protected override void BeginProcessing()
        {
            Module.Instance.SetProxyConfiguration(Proxy, ProxyCredential, ProxyUseDefaultCredentials);
            if (Break)
            {
                Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.AttachDebugger.Break();
            }
            ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Events.CmdletBeginProcessing).Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
        }

        /// <summary>Creates a duplicate instance of this cmdlet (via JSON serialization).</summary>
        /// <returns>a duplicate instance of NewAzOperationalInsightsTable_CreateExpanded</returns>
        public Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Cmdlets.NewAzOperationalInsightsTable_CreateExpanded Clone()
        {
            var clone = new NewAzOperationalInsightsTable_CreateExpanded();
            clone.__correlationId = this.__correlationId;
            clone.__processRecordId = this.__processRecordId;
            clone.DefaultProfile = this.DefaultProfile;
            clone.InvocationInformation = this.InvocationInformation;
            clone.Proxy = this.Proxy;
            clone.Pipeline = this.Pipeline;
            clone.AsJob = this.AsJob;
            clone.Break = this.Break;
            clone.ProxyCredential = this.ProxyCredential;
            clone.ProxyUseDefaultCredentials = this.ProxyUseDefaultCredentials;
            clone.HttpPipelinePrepend = this.HttpPipelinePrepend;
            clone.HttpPipelineAppend = this.HttpPipelineAppend;
            clone.ParametersBody = this.ParametersBody;
            clone.SubscriptionId = this.SubscriptionId;
            clone.ResourceGroupName = this.ResourceGroupName;
            clone.WorkspaceName = this.WorkspaceName;
            clone.Name = this.Name;
            return clone;
        }

        /// <summary>Performs clean-up after the command execution</summary>
        protected override void EndProcessing()
        {
            ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Events.CmdletEndProcessing).Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
        }

        /// <summary>Handles/Dispatches events during the call to the REST service.</summary>
        /// <param name="id">The message id</param>
        /// <param name="token">The message cancellation token. When this call is cancelled, this should be <c>true</c></param>
        /// <param name="messageData">Detailed message data for the message event.</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the message is completed.
        /// </returns>
         async global::System.Threading.Tasks.Task Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener.Signal(string id, global::System.Threading.CancellationToken token, global::System.Func<Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.EventData> messageData)
        {
            using( NoSynchronizationContext )
            {
                if (token.IsCancellationRequested)
                {
                    return ;
                }

                switch ( id )
                {
                    case Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Events.Verbose:
                    {
                        WriteVerbose($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Events.Warning:
                    {
                        WriteWarning($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Events.Information:
                    {
                        // When an operation supports asjob, Information messages must go thru verbose.
                        WriteVerbose($"INFORMATION: {(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Events.Debug:
                    {
                        WriteDebug($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Events.Error:
                    {
                        WriteError(new global::System.Management.Automation.ErrorRecord( new global::System.Exception(messageData().Message), string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null ) );
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Events.DelayBeforePolling:
                    {
                        if (true == MyInvocation?.BoundParameters?.ContainsKey("NoWait"))
                        {
                            var data = messageData();
                            if (data.ResponseMessage is System.Net.Http.HttpResponseMessage response)
                            {
                                var asyncOperation = response.GetFirstHeader(@"Azure-AsyncOperation");
                                var location = response.GetFirstHeader(@"Location");
                                var uri = global::System.String.IsNullOrEmpty(asyncOperation) ? global::System.String.IsNullOrEmpty(location) ? response.RequestMessage.RequestUri.AbsoluteUri : location : asyncOperation;
                                WriteObject(new Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.PowerShell.AsyncOperationResponse { Target = uri });
                                // do nothing more.
                                data.Cancel();
                                return;
                            }
                        }
                        break;
                    }
                }
                await Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Module.Instance.Signal(id, token, messageData, (i,t,m) => ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Signal(i,t,()=> Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.EventDataConverter.ConvertFrom( m() ) as Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.EventData ), InvocationInformation, this.ParameterSetName, __correlationId, __processRecordId, null );
                if (token.IsCancellationRequested)
                {
                    return ;
                }
                WriteDebug($"{id}: {(messageData().Message ?? global::System.String.Empty)}");
            }
        }

        /// <summary>
        /// Intializes a new instance of the <see cref="NewAzOperationalInsightsTable_CreateExpanded" /> cmdlet class.
        /// </summary>
        public NewAzOperationalInsightsTable_CreateExpanded()
        {

        }

        /// <summary>Performs execution of the command.</summary>
        protected override void ProcessRecord()
        {
            ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Events.CmdletProcessRecordStart).Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
            __processRecordId = System.Guid.NewGuid().ToString();
            try
            {
                // work
                if (ShouldProcess($"Call remote 'TablesCreateOrUpdate' operation"))
                {
                    if (true == MyInvocation?.BoundParameters?.ContainsKey("AsJob"))
                    {
                        var instance = this.Clone();
                        var job = new Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.PowerShell.AsyncJob(instance, this.MyInvocation.Line, this.MyInvocation.MyCommand.Name, this._cancellationTokenSource.Token, this._cancellationTokenSource.Cancel);
                        JobRepository.Add(job);
                        var task = instance.ProcessRecordAsync();
                        job.Monitor(task);
                        WriteObject(job);
                    }
                    else
                    {
                        using( var asyncCommandRuntime = new Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.PowerShell.AsyncCommandRuntime(this, ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Token) )
                        {
                            asyncCommandRuntime.Wait( ProcessRecordAsync(),((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Token);
                        }
                    }
                }
            }
            catch (global::System.AggregateException aggregateException)
            {
                // unroll the inner exceptions to get the root cause
                foreach( var innerException in aggregateException.Flatten().InnerExceptions )
                {
                    ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Events.CmdletException, $"{innerException.GetType().Name} - {innerException.Message} : {innerException.StackTrace}").Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                    // Write exception out to error channel.
                    WriteError( new global::System.Management.Automation.ErrorRecord(innerException,string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null) );
                }
            }
            catch (global::System.Exception exception) when ((exception as System.Management.Automation.PipelineStoppedException)== null || (exception as System.Management.Automation.PipelineStoppedException).InnerException != null)
            {
                ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Events.CmdletException, $"{exception.GetType().Name} - {exception.Message} : {exception.StackTrace}").Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                // Write exception out to error channel.
                WriteError( new global::System.Management.Automation.ErrorRecord(exception,string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null) );
            }
            finally
            {
                ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Events.CmdletProcessRecordEnd).Wait();
            }
        }

        /// <summary>Performs execution of the command, working asynchronously if required.</summary>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        protected async global::System.Threading.Tasks.Task ProcessRecordAsync()
        {
            using( NoSynchronizationContext )
            {
                await ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Events.CmdletProcessRecordAsyncStart); if( ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                await ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Events.CmdletGetPipeline); if( ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                Pipeline = Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Module.Instance.CreatePipeline(InvocationInformation, __correlationId, __processRecordId, this.ParameterSetName);
                if (null != HttpPipelinePrepend)
                {
                    Pipeline.Prepend((this.CommandRuntime as Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.PowerShell.IAsyncCommandRuntimeExtensions)?.Wrap(HttpPipelinePrepend) ?? HttpPipelinePrepend);
                }
                if (null != HttpPipelineAppend)
                {
                    Pipeline.Append((this.CommandRuntime as Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.PowerShell.IAsyncCommandRuntimeExtensions)?.Wrap(HttpPipelineAppend) ?? HttpPipelineAppend);
                }
                // get the client instance
                try
                {
                    await ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Events.CmdletBeforeAPICall); if( ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                    await this.Client.TablesCreateOrUpdate(SubscriptionId, ResourceGroupName, WorkspaceName, Name, ParametersBody, onOk, onDefault, this, Pipeline);
                    await ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Events.CmdletAfterAPICall); if( ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                }
                catch (Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.UndeclaredResponseException urexception)
                {
                    WriteError(new global::System.Management.Automation.ErrorRecord(urexception, urexception.StatusCode.ToString(), global::System.Management.Automation.ErrorCategory.InvalidOperation, new {  SubscriptionId=SubscriptionId,ResourceGroupName=ResourceGroupName,WorkspaceName=WorkspaceName,Name=Name,body=ParametersBody})
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(urexception.Message) { RecommendedAction = urexception.Action }
                    });
                }
                finally
                {
                    await ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.Events.CmdletProcessRecordAsyncEnd);
                }
            }
        }

        /// <summary>Interrupts currently running code within the command.</summary>
        protected override void StopProcessing()
        {
            ((Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.IEventListener)this).Cancel();
            base.StopProcessing();
        }

        /// <summary>
        /// a delegate that is called when the remote service returns default (any response code not handled elsewhere).
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Models.Api20.IErrorResponse"
        /// /> from the remote call</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        private async global::System.Threading.Tasks.Task onDefault(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Models.Api20.IErrorResponse> response)
        {
            using( NoSynchronizationContext )
            {
                var _returnNow = global::System.Threading.Tasks.Task<bool>.FromResult(false);
                overrideOnDefault(responseMessage, response, ref _returnNow);
                // if overrideOnDefault has returned true, then return right away.
                if ((null != _returnNow && await _returnNow))
                {
                    return ;
                }
                // Error Response : default
                var code = (await response)?.Code;
                var message = (await response)?.Message;
                if ((null == code || null == message))
                {
                    // Unrecognized Response. Create an error record based on what we have.
                    var ex = new Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Runtime.RestException<Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Models.Api20.IErrorResponse>(responseMessage, await response);
                    WriteError( new global::System.Management.Automation.ErrorRecord(ex, ex.Code, global::System.Management.Automation.ErrorCategory.InvalidOperation, new { SubscriptionId=SubscriptionId, ResourceGroupName=ResourceGroupName, WorkspaceName=WorkspaceName, Name=Name, body=ParametersBody })
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(ex.Message) { RecommendedAction = ex.Action }
                    });
                }
                else
                {
                    WriteError( new global::System.Management.Automation.ErrorRecord(new global::System.Exception($"[{code}] : {message}"), code?.ToString(), global::System.Management.Automation.ErrorCategory.InvalidOperation, new { SubscriptionId=SubscriptionId, ResourceGroupName=ResourceGroupName, WorkspaceName=WorkspaceName, Name=Name, body=ParametersBody })
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(message) { RecommendedAction = global::System.String.Empty }
                    });
                }
            }
        }

        /// <summary>a delegate that is called when the remote service returns 200 (OK).</summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Models.Api20211201Preview.ITable"
        /// /> from the remote call</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        private async global::System.Threading.Tasks.Task onOk(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Models.Api20211201Preview.ITable> response)
        {
            using( NoSynchronizationContext )
            {
                var _returnNow = global::System.Threading.Tasks.Task<bool>.FromResult(false);
                overrideOnOk(responseMessage, response, ref _returnNow);
                // if overrideOnOk has returned true, then return right away.
                if ((null != _returnNow && await _returnNow))
                {
                    return ;
                }
                // onOk - response for 200 / application/json
                // (await response) // should be Microsoft.Azure.PowerShell.Cmdlets.OperationalInsights.Models.Api20211201Preview.ITable
                WriteObject((await response));
            }
        }
    }
}