{
  "Get-AzMongoDBProject+[NoContext]+List+$GET+https://management.azure.com/subscriptions/cbdb67be-e103-4770-a797-2a2fa42eb6f3/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/KanedaTest/projects?api-version=2026-03-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/cbdb67be-e103-4770-a797-2a2fa42eb6f3/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/KanedaTest/projects?api-version=2026-03-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "3" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "2c82259f-38bb-42d8-b19e-6621000e9394" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/cbdb67be-e103-4770-a797-2a2fa42eb6f3/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/KanedaTest/projects/asdfsadf\",\"name\":\"asdfsadf\",\"type\":\"MongoDB.Atlas/organizations/projects\",\"properties\":{\"projectId\":\"6a3937eb751e66481282d3a7\",\"projectName\":\"asdfsadf\",\"organizationId\":\"6a2b114e620de528f66a43eb\",\"clusterCount\":0,\"provisioningState\":\"Succeeded\"}},{\"id\":\"/subscriptions/cbdb67be-e103-4770-a797-2a2fa42eb6f3/resourceGroups/sharmaanuTest/providers/MongoDB.Atlas/organizations/KanedaTest/projects/mavarsh-test-1\",\"name\":\"mavarsh-test-1\",\"type\":\"MongoDB.Atlas/organizations/projects\",\"properties\":{\"projectId\":\"6a39281864733305129a1678\",\"projectName\":\"mavarsh-test-1\",\"organizationId\":\"6a2b114e620de528f66a43eb\",\"clusterCount\":0,\"provisioningState\":\"Succeeded\"}},{\"id\":\"/subscriptions/cbdb67be-e103-47[...]
