{
  "Get-AzMongoDBOrganization+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/cbdb67be-e103-4770-a797-2a2fa42eb6f3/resourceGroups/ajaykumar-rg/providers/MongoDB.Atlas/organizations/MongoDBV2-11July-5?api-version=2026-03-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/cbdb67be-e103-4770-a797-2a2fa42eb6f3/resourceGroups/ajaykumar-rg/providers/MongoDB.Atlas/organizations/MongoDBV2-11July-5?api-version=2026-03-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"28012325-0000-0200-0000-6870af0a0000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/cbdb67be-e103-4770-a797-2a2fa42eb6f3/resourceGroups/ajaykumar-rg/providers/MongoDB.Atlas/organizations/MongoDBV2-11July-5\",\"name\":\"MongoDBV2-11July-5\",\"type\":\"mongodb.atlas/organizations\",\"location\":\"East US 2\",\"systemData\":{\"createdBy\":\"ajaykumar@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-07-11T06:26:59.3569359Z\",\"lastModifiedBy\":\"b059abce-70fd-4c8f-a117-96d2192e90e1\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2025-07-11T06:28:26.6775428Z\"},\"properties\":{\"marketplace\":{\"subscriptionId\":\"4aa85669-6516-4964-cc9e-758d047a47b5\",\"subscriptionStatus\":\"Subscribed\",\"offerDetails\":{\"publisherId\":\"mongodb\",\"offerId\":\"mongodb_atlas_azure_native_prod\",\"planId\":\"private_plan\",\"planName\":\"Pay as You Go (Free) (Private)\",\"termUnit\":\"P1M\",\"termId\":\"gmz7xq9ge3py\"}},\"user\":{\"firstName\":\"Ajay\",\"lastName\":\"Kumar\",\"emailAddress\":\"ajaykumar@microsoft.com\",\"upn\":\"ajaykumar@microsoft.com\"},\"provisioningState\":\"Succeeded\",\"partnerProperties\":{\"organizationId\":\"6870aee2c10e78749fbe5353\",\"organizationName\":\"MongoDBPortalTest\",\"redirectUrl\":\"https://account.mongodb.com/account/reset/password?email=ajaykumar%40microsoft.com\u0026orgId=6870aee2c10e78749fbe5353\u0026shouldRedirect=true\"}}}",
    }
  }
}