{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/billingPeriods?api-version=2018-03-01-preview&$top=1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/c909e979-ef71-4def-a970-bc7c154db8c5/providers/Microsoft.Billing/billingPeriods/201806-1\",\r\n      \"type\": \"Microsoft.Billing/billingPeriods\",\r\n      \"name\": \"201806-1\",\r\n      \"properties\": {\r\n        \"billingPeriodStartDate\": \"2018-03-06\",\r\n        \"billingPeriodEndDate\": \"2018-04-05\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "api-supported-versions": [
          "2017-04-24-preview, 2018-03-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "c909e979-ef71-4def-a970-bc7c154db8c5"
  }
}