{
  "Get-AzAcatReport+[NoContext]+List+$GET+https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports?api-version=2024-06-27+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports?api-version=2024-06-27",
      "Content": null,
      "Headers": {
        "x-ms-aad-user-token": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-throttling-version": [ "v1" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "e0d9ed83-3784-476d-85b0-787f8ead940e" ],
        "X-ms-Operation-Id": [ "4744274727bad253f89a360c7c8341a7" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/providers/Microsoft.AppComplianceAutomation/reports/E2ETest-ScopedManualStatus-20240604060229\",\"name\":\"E2ETest-ScopedManualStatus-20240604060229\",\"type\":\"Microsoft.AppComplianceAutomation/reports\",\"systemData\":{\"createdBy\":\"\",\"createdByType\":\"User\",\"createdAt\":\"2024-06-04T06:02:29.0086845Z\",\"lastModifiedBy\":\"\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2024-06-04T06:02:53.7148338Z\"},\"properties\":{\"status\":\"Active\",\"errors\":[],\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"offerGuid\":\"e21cdb71-97a7-43cf-9bca-b3602cdf4eaf\",\"timeZone\":\"China Standard Time\",\"triggerTime\":\"2023-01-08T23:00:00Z\",\"nextTriggerTime\":\"2024-06-05T23:00:00Z\",\"lastTriggerTime\":\"2024-06-05T00:04:41.125Z\",\"subscriptions\":[\"120b982f-6bd3-4b60-98d2-a7b7ecd6c78e\"],\"resources\":[{\"resourceId\":\"/subscriptions/120b982f-6bd3-4b60-98d2-a7b7ecd6c78e/resourceGroups/acat-aws/providers/Microsoft.HybridCompute/machines/i-0f85f65e4741defab\",\"resourceType\":\"Microsoft.HybridCompute/machines\",\"resourceKind\":\"Test\",\"resourceOrigin\":\"Azure\",\"accountId\":null},{\"resourceId\":\"/subscriptions/120b982f-6bd3-4b60-98d2-a7b7ecd6c78e/resourceGroups/testresourcegroup/providers/Microsoft.Storage/storageAccounts/storageaccountname\",\"resourceType\":\"Microsoft.Storage/storageAccounts\",\"resourceKind\":\"Test\",\"resourceOrigin\":\"Azure\",\"accountId\":null}],\"complianceStatus\":{\"m365\":{\"passedCount\":4,\"failedCount\":38,\"manualCount\":0,\"notApplicableCount\":3,\"pendingCount\":0}},\"provisioningState\":\"Succeeded\"}},{\"id\":\"/providers/Microsoft.AppComplianceAutomation/reports/crstatustest-prod-20240603200357\",\"name\":\"crstatustest-prod-20240603200357\",\"type\":\"Microsoft.AppComplianceAutomation/reports\",\"systemData\":{\"createdBy\":\"\",\"createdByType\":\"User\",\"createdAt\":\"2024-06-03T20:05:55.5566711Z\",\"lastModifiedBy\":\"\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2024-06-03T20:05:55.5566711Z\"},\"properties\":{\"status\":\"Active\",\"errors\":[],\"tenantId\":\"[...]
