{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourcegroups/onesdk579?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579\",\r\n  \"name\": \"onesdk579\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/virtualNetworks/onesdk6967?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/onesdk6967' under resource group 'onesdk579' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/virtualNetworks/onesdk6967?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk6967\",\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/virtualNetworks/onesdk6967\",\r\n  \"etag\": \"W/\\\"be25c9dd-a60f-4a15-99ba-4306c31367ae\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"4867d43f-fad2-4a41-b20d-ac726317774b\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"onesdk8139\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/virtualNetworks/onesdk6967/subnets/onesdk8139\",\r\n        \"etag\": \"W/\\\"be25c9dd-a60f-4a15-99ba-4306c31367ae\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceTunnels\": []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"onesdk1683\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/virtualNetworks/onesdk6967/subnets/onesdk1683\",\r\n        \"etag\": \"W/\\\"be25c9dd-a60f-4a15-99ba-4306c31367ae\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.2.0/24\",\r\n          \"serviceTunnels\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"be25c9dd-a60f-4a15-99ba-4306c31367ae\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/virtualNetworks/onesdk6967?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"resourceNavigationLinks\": []\r\n        },\r\n        \"name\": \"onesdk8139\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.2.0/24\",\r\n          \"resourceNavigationLinks\": []\r\n        },\r\n        \"name\": \"onesdk1683\"\r\n      }\r\n    ],\r\n    \"VirtualNetworkPeerings\": []\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk6967\",\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/virtualNetworks/onesdk6967\",\r\n  \"etag\": \"W/\\\"851f0fdd-fb52-4209-ae38-2d37b4fd6245\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"l[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operations/7e595fb4-efb1-412e-8569-2ec6d9951fdc?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/publicIPAddresses/onesdk2646?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/onesdk2646' under resource group 'onesdk579' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/publicIPAddresses/onesdk2646?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk2646\",\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/publicIPAddresses/onesdk2646\",\r\n  \"etag\": \"W/\\\"a44fe3c8-0466-4b2c-bead-fcefd7c30c9e\\\"\",\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"b7532a1a-9cfb-4312-aa28-52072e9ea385\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"a44fe3c8-0466-4b2c-bead-fcefd7c30c9e\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/publicIPAddresses/onesdk2646?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\"\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk2646\",\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/publicIPAddresses/onesdk2646\",\r\n  \"etag\": \"W/\\\"5c01bc56-1412-460a-a274-929754ef9a95\\\"\",\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"b7532a1a-9cfb-4312-aa28-52072e9ea385\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operations/72cef24b-6623-498c-994c-e82c02587afc?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/networkInterfaces/onesdk9882?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/onesdk9882' under resource group 'onesdk579' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/networkInterfaces/onesdk9882?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk9882\",\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/networkInterfaces/onesdk9882\",\r\n  \"etag\": \"W/\\\"4521e920-c086-4fc1-a5ee-ca071c635202\\\"\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"927b1bb8-b534-4e22-9532-0d78695cd4a5\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/networkInterfaces/onesdk9882/ipConfigurations/ipconfig1\",\r\n        \"etag\": \"W/\\\"4521e920-c086-4fc1-a5ee-ca071c635202\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.2.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/virtualNetworks/onesdk6967/subnets/onesdk1683\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"h5kgosgs5jauvmqnvrzggf1xjd.d--x.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\": false\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"4521e920-c086-4fc1-a5ee-ca071c635202\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14989"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/networkInterfaces/onesdk9882?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"applicationGatewayBackendAddressPools\": [],\r\n          \"loadBalancerBackendAddressPools\": [],\r\n          \"loadBalancerInboundNatRules\": [],\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"resourceNavigationLinks\": []\r\n            },\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/virtualNetworks/onesdk6967/subnets/onesdk1683\"\r\n          },\r\n          \"primary\": true\r\n        },\r\n        \"name\": \"ipconfig1\"\r\n      }\r\n    ],\r\n    \"enableA[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/networkInterfaces/onesdk9882?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"applicationGatewayBackendAddressPools\": [\r\n            {\r\n              \"properties\": {\r\n                \"backendIPConfigurations\": [],\r\n                \"backendAddresses\": [],\r\n                \"provisioningState\": \"Succeeded\"\r\n              },\r\n              \"name\": \"onesdk5754\",\r\n              \"etag\": \"W/\\\"296c1c96-a7e4-4ecc-a051-51bbe578d738\\\"\",\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/backendAddressPools/onesdk5754\"\r\n            }\r\n          ],\r\n          \"loadBalancerBackendAddressPools\": [],\r\n          \[...]
[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/applicationGateways/onesdk6356' under resource group 'onesdk579' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk6356\",\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356\",\r\n  \"etag\": \"W/\\\"296c1c96-a7e4-4ecc-a051-51bbe578d738\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"7060e2fe-ffa7-4b00-bba4-89214f5ab11f\",\r\n    \"sku\": {\r\n      \"name\": \"Standard_Small\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"onesdk3048\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/gatewayIPConfigurations/onesdk3048\",\r\n        \"etag\": \"W/\\\"296c1c96-a7e4-4ecc-a051-51bbe578d738\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/virtualNetworks/onesdk6967/subnets/onesdk8139\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"authenticationCertificates\": [\r\n      {\r\n        \"name\": \"onesdk9838\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/authenticationCertificates/onesdk9838\",\r\n        \"etag\": \"W/\\\"296c1c96-a7e4-4ecc-a051-51bbe578d738\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"data\": \"MIIDTzCCAjegAwIBAgIQj5oTlR6oyJ1NlX9Wb9aFyjANBgkqhkiG9w0BAQsFADAwMS4wLAYDVQQDEyVBcHBsaWNhdGlvbkdhdGV3YXlTc2xDZXJ0LVVuaXRUZXN0LTAxMB4XDTE2MDIxNzA3MDc1M1oXDTM5MTIzMTIzNTk1OVowMDEuMCwGA1UEAxMlQXBwbGljYXRpb25HYXRld2F5U3NsQ2VydC1Vbml0VGVzdC0wMTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANOUOFVmm+P4ht/qaiGZaiMzZSXwqGP8W/XWZRfJSc1mS6B4zBm8MtndmO9NbPUeGetk3E4jI0egP7NufuTAtfZY5nG9/gsZh8Hp4o+x+6F1wCUtK5pQ5Fne4Vwg0Q9k1CgUfQfK0zEoanOTEylcyp1nVpoGc3v4FZ9pQr8/xQ7+PSwgNpmGpU1gmgorDlXIO8jiKb+WfSoPAhHcavoPFg6DeGv30AK2m8ULFezOqbprrozRxXaKzt8fBaDSP1XMakFaO6ffZU4uNgrehW4zMnpdgAjT5koymDKGAfl/7+5QpLxSKc2478J+PvTwy/rfWKJLbEImoM7WE3imWgrHUNMCAwEAAaNlMGMwYQYDVR0BBFowWIAQxDXqD2PYxSlriJ6HuzZ+b6EyMDAxLjAsBgNVBAMTJUFwcGxpY2F0aW9uR2F0ZXdheVNzbENlcnQtVW5pdFRlc3QtMDGCEI+aE5UeqMidTZV/Vm/WhcowDQYJKoZIhvcNAQELBQADggEBADSC6PHkVYmoVOyyW2g7q3GG3MmXa43/HQNTM+pT3HENAlhGg8T9EFrOQ/0QAoEQbrtsP8Isj5u2Bd4MOlYA180ExyfL/NFb7QpXq/pRLbePMQAQicdSvk/9RyrNRBfNjT2KNlBp3RZtCkJjQWlc5ylWydPy4JPUZxit/5ygCRT+cmN1ioF469Ki8hzBlKmrDg8jkFUwFyD7B0fEfPP0gSZI3F6HqgCK2hzBTjujZjddZyn2XxXlxLu57C83CNPP8fbsGW2CwolgmYvt+dJsdDnT7VKX5RS4cOPp/JGG7QdhzqVBoK0vZP6gHEAOPoqBVUWf8SmlVuAVGmDl8EjLnK8=\",\r\n          \"backendHttpSettings\": [\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/backendHttpSettingsCollection/onesdk9651\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"onesdk2915\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/frontendIPConfigurations/onesdk2915\",\r\n        \"etag\": \"W/\\\"296c1c96-a7e4-4ecc-a051-51bbe578d738\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/publicIPAddresses/onesdk2646\"\r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/httpListeners/onesdk1072\"\r\n            }\r\n          ]\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"onesdk5701\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/frontendIPConfigurations/onesdk5701\",\r\n        \"etag\": \"W/\\\"296c1c96-a7e4-4ecc-a051-51bbe578d738\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.6\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/virtualNetworks/onesdk6967/subnets/onesdk8139\"\r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/httpListeners/onesdk3870\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendPorts\": [\r\n      {\r\n        \"name\": \"onesdk438\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/frontendPorts/onesdk438\",\r\n        \"etag\": \"W/\\\"296c1c96-a7e4-4ecc-a051-51bbe578d738\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/httpListeners/onesdk1072\"\r\n            }\r\n          ]\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"onesdk2015\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/frontendPorts/onesdk2015\",\r\n        \"etag\": \"W/\\\"296c1c96-a7e4-4ecc-a051-51bbe578d738\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 8080,\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/httpListeners/onesdk3870\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"onesdk1620\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/backendAddressPools/onesdk1620\",\r\n        \"etag\": \"W/\\\"296c1c96-a7e4-4ecc-a051-51bbe578d738\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"1.1.1.1\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"2.2.2.2\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"3.3.3.3\"\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/requestRoutingRules/onesdk5932\"\r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/requestRoutingRules/onesdk4018\"\r\n            }\r\n          ]\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"onesdk5754\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/backendAddressPools/onesdk5754\",\r\n        \"etag\": \"W/\\\"296c1c96-a7e4-4ecc-a051-51bbe578d738\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"backendAddresses\": []\r\n        }\r\n      }\r\n    ],\r\n    \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"name\": \"onesdk1861\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/backendHttpSettingsCollection/onesdk1861\",\r\n        \"etag\": \"W/\\\"296c1c96-a7e4-4ecc-a051-51bbe578d738\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"protocol\": \"Http\",\r\n          \"cookieBasedAffinity\": \"Disabled\",\r\n          \"requestTimeout\": 30,\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/requestRoutingRules/onesdk5932\"\r\n            }\r\n          ]\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"onesdk9651\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/application[...]
[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Standard_Small\",\r\n      \"tier\": \"Standard\",\r\n      \"capacity\": 2\r\n    },\r\n    \"sslPolicy\": {\r\n      \"disabledSslProtocols\": [\r\n        \"TLSv1_0\",\r\n        \"TLSv1_1\"\r\n      ]\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/virtualNetworks/onesdk6967/subnets/onesdk8139\"\r\n          }\r\n        },\r\n        \"name\": \"onesdk3048\",\r\n        \"id\": \"\"\r\n      }\r\n    ],\r\n    \"authenticationCertificates[...]
[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/backendhealth?api-version=2016-09-01&$expand=backendhealth%2Fapplicationgatewayresource",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "null",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operationResults/e385ba12-77b7-42cb-ac6a-88dab068e11e?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operationResults/e385ba12-77b7-42cb-ac6a-88dab068e11e?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"backendAddressPools\": [\r\n    {\r\n      \"backendAddressPool\": {\r\n        \"name\": \"onesdk1620\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/backendAddressPools/onesdk1620\",\r\n        \"etag\": \"W/\\\"296c1c96-a7e4-4ecc-a051-51bbe578d738\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"1.1.1.1\"\r\n            },\[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk579/providers/Microsoft.Network/applicationGateways/onesdk6356/backendhealth?api-version=2016-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "null",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operationResults/9697f338-0322-4bb2-9d6a-913bf6caeb7d?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operationResults/9697f338-0322-4bb2-9d6a-913bf6caeb7d?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
[...]
