{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourcegroups/onesdk4755?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755\",\r\n  \"name\": \"onesdk4755\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/virtualNetworks/onesdk2871?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/onesdk2871' under resource group 'onesdk4755' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/virtualNetworks/onesdk2871?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk2871\",\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/virtualNetworks/onesdk2871\",\r\n  \"etag\": \"W/\\\"f5cd2874-e77c-4d5f-a61a-bc7278638de4\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"4182bb8d-1164-4178-91a8-59254fa19a3b\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"onesdk414\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/virtualNetworks/onesdk2871/subnets/onesdk414\",\r\n        \"etag\": \"W/\\\"f5cd2874-e77c-4d5f-a61a-bc7278638de4\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceTunnels\": []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"onesdk9923\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/virtualNetworks/onesdk2871/subnets/onesdk9923\",\r\n        \"etag\": \"W/\\\"f5cd2874-e77c-4d5f-a61a-bc7278638de4\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.2.0/24\",\r\n          \"serviceTunnels\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"f5cd2874-e77c-4d5f-a61a-bc7278638de4\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/virtualNetworks/onesdk2871?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"resourceNavigationLinks\": []\r\n        },\r\n        \"name\": \"onesdk414\"\r\n      },\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.2.0/24\",\r\n          \"resourceNavigationLinks\": []\r\n        },\r\n        \"name\": \"onesdk9923\"\r\n      }\r\n    ],\r\n    \"VirtualNetworkPeerings\": []\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk2871\",\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/virtualNetworks/onesdk2871\",\r\n  \"etag\": \"W/\\\"30ecb5a4-dafd-4154-a8cc-70f0133ef024\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operations/ff5d0046-16e8-4e7d-98a1-a9032fa73f67?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/publicIPAddresses/onesdk3062?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/onesdk3062' under resource group 'onesdk4755' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/publicIPAddresses/onesdk3062?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk3062\",\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/publicIPAddresses/onesdk3062\",\r\n  \"etag\": \"W/\\\"67b30a01-aabf-41fd-83fa-0990168ffa83\\\"\",\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"5f422c52-73bb-4a33-bb89-ddbb1c0116ee\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"67b30a01-aabf-41fd-83fa-0990168ffa83\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/publicIPAddresses/onesdk3062?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\"\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk3062\",\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/publicIPAddresses/onesdk3062\",\r\n  \"etag\": \"W/\\\"33aa8b70-b8da-4809-99d4-c93fbcff806e\\\"\",\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"5f422c52-73bb-4a33-bb89-ddbb1c0116ee\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operations/7887505e-3597-48ce-baab-adcdfa54bc85?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/networkInterfaces/onesdk7957?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/onesdk7957' under resource group 'onesdk4755' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/networkInterfaces/onesdk7957?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk7957\",\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/networkInterfaces/onesdk7957\",\r\n  \"etag\": \"W/\\\"84d7f773-5a8f-4979-a203-78e760872b81\\\"\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"517ca266-e2f0-4383-a427-b39eb1fad9ee\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/networkInterfaces/onesdk7957/ipConfigurations/ipconfig1\",\r\n        \"etag\": \"W/\\\"84d7f773-5a8f-4979-a203-78e760872b81\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.2.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/virtualNetworks/onesdk2871/subnets/onesdk9923\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"rw3yeqlecf2edenilesu5im0hd.d--x.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"enableIPForwarding\": false\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "W/\"84d7f773-5a8f-4979-a203-78e760872b81\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14988"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/networkInterfaces/onesdk7957?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"applicationGatewayBackendAddressPools\": [],\r\n          \"loadBalancerBackendAddressPools\": [],\r\n          \"loadBalancerInboundNatRules\": [],\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"resourceNavigationLinks\": []\r\n            },\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/virtualNetworks/onesdk2871/subnets/onesdk9923\"\r\n          },\r\n          \"primary\": true\r\n        },\r\n        \"name\": \"ipconfig1\"\r\n      }\r\n    ],\r\n    \"enable[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/networkInterfaces/onesdk7957?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"applicationGatewayBackendAddressPools\": [\r\n            {\r\n              \"properties\": {\r\n                \"backendIPConfigurations\": [],\r\n                \"backendAddresses\": [],\r\n                \"provisioningState\": \"Succeeded\"\r\n              },\r\n              \"name\": \"onesdk6856\",\r\n              \"etag\": \"W/\\\"479c5973-ba91-4024-9557-23c0437fc7a8\\\"\",\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/backendAddressPools/onesdk6856\"\r\n            }\r\n          ],\r\n          \"loadBalancerBackendAddressPools\": [],\r\n          [...]
[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/applicationGateways/onesdk7181' under resource group 'onesdk4755' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk7181\",\r\n  \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181\",\r\n  \"etag\": \"W/\\\"479c5973-ba91-4024-9557-23c0437fc7a8\\\"\",\r\n  \"type\": \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"6db48fbd-053f-4a3c-aa7e-a3dc37b9b2f3\",\r\n    \"sku\": {\r\n      \"name\": \"WAF_Medium\",\r\n      \"tier\": \"WAF\",\r\n      \"capacity\": 2\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"name\": \"onesdk7000\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/gatewayIPConfigurations/onesdk7000\",\r\n        \"etag\": \"W/\\\"479c5973-ba91-4024-9557-23c0437fc7a8\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/virtualNetworks/onesdk2871/subnets/onesdk414\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"sslCertificates\": [],\r\n    \"authenticationCertificates\": [\r\n      {\r\n        \"name\": \"onesdk7293\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/authenticationCertificates/onesdk7293\",\r\n        \"etag\": \"W/\\\"479c5973-ba91-4024-9557-23c0437fc7a8\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"data\": \"MIIDTzCCAjegAwIBAgIQj5oTlR6oyJ1NlX9Wb9aFyjANBgkqhkiG9w0BAQsFADAwMS4wLAYDVQQDEyVBcHBsaWNhdGlvbkdhdGV3YXlTc2xDZXJ0LVVuaXRUZXN0LTAxMB4XDTE2MDIxNzA3MDc1M1oXDTM5MTIzMTIzNTk1OVowMDEuMCwGA1UEAxMlQXBwbGljYXRpb25HYXRld2F5U3NsQ2VydC1Vbml0VGVzdC0wMTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANOUOFVmm+P4ht/qaiGZaiMzZSXwqGP8W/XWZRfJSc1mS6B4zBm8MtndmO9NbPUeGetk3E4jI0egP7NufuTAtfZY5nG9/gsZh8Hp4o+x+6F1wCUtK5pQ5Fne4Vwg0Q9k1CgUfQfK0zEoanOTEylcyp1nVpoGc3v4FZ9pQr8/xQ7+PSwgNpmGpU1gmgorDlXIO8jiKb+WfSoPAhHcavoPFg6DeGv30AK2m8ULFezOqbprrozRxXaKzt8fBaDSP1XMakFaO6ffZU4uNgrehW4zMnpdgAjT5koymDKGAfl/7+5QpLxSKc2478J+PvTwy/rfWKJLbEImoM7WE3imWgrHUNMCAwEAAaNlMGMwYQYDVR0BBFowWIAQxDXqD2PYxSlriJ6HuzZ+b6EyMDAxLjAsBgNVBAMTJUFwcGxpY2F0aW9uR2F0ZXdheVNzbENlcnQtVW5pdFRlc3QtMDGCEI+aE5UeqMidTZV/Vm/WhcowDQYJKoZIhvcNAQELBQADggEBADSC6PHkVYmoVOyyW2g7q3GG3MmXa43/HQNTM+pT3HENAlhGg8T9EFrOQ/0QAoEQbrtsP8Isj5u2Bd4MOlYA180ExyfL/NFb7QpXq/pRLbePMQAQicdSvk/9RyrNRBfNjT2KNlBp3RZtCkJjQWlc5ylWydPy4JPUZxit/5ygCRT+cmN1ioF469Ki8hzBlKmrDg8jkFUwFyD7B0fEfPP0gSZI3F6HqgCK2hzBTjujZjddZyn2XxXlxLu57C83CNPP8fbsGW2CwolgmYvt+dJsdDnT7VKX5RS4cOPp/JGG7QdhzqVBoK0vZP6gHEAOPoqBVUWf8SmlVuAVGmDl8EjLnK8=\",\r\n          \"backendHttpSettings\": [\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/backendHttpSettingsCollection/onesdk3386\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"onesdk8699\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/frontendIPConfigurations/onesdk8699\",\r\n        \"etag\": \"W/\\\"479c5973-ba91-4024-9557-23c0437fc7a8\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/publicIPAddresses/onesdk3062\"\r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/httpListeners/onesdk3590\"\r\n            }\r\n          ]\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"onesdk6790\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/frontendIPConfigurations/onesdk6790\",\r\n        \"etag\": \"W/\\\"479c5973-ba91-4024-9557-23c0437fc7a8\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.6\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/virtualNetworks/onesdk2871/subnets/onesdk414\"\r\n          },\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/httpListeners/onesdk2547\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"frontendPorts\": [\r\n      {\r\n        \"name\": \"onesdk8329\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/frontendPorts/onesdk8329\",\r\n        \"etag\": \"W/\\\"479c5973-ba91-4024-9557-23c0437fc7a8\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/httpListeners/onesdk3590\"\r\n            }\r\n          ]\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"onesdk8862\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/frontendPorts/onesdk8862\",\r\n        \"etag\": \"W/\\\"479c5973-ba91-4024-9557-23c0437fc7a8\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 8080,\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/httpListeners/onesdk2547\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"onesdk9234\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/backendAddressPools/onesdk9234\",\r\n        \"etag\": \"W/\\\"479c5973-ba91-4024-9557-23c0437fc7a8\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"backendAddresses\": [\r\n            {\r\n              \"ipAddress\": \"1.1.1.1\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"2.2.2.2\"\r\n            },\r\n            {\r\n              \"ipAddress\": \"3.3.3.3\"\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/requestRoutingRules/onesdk3233\"\r\n            },\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/requestRoutingRules/onesdk6259\"\r\n            }\r\n          ]\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"onesdk6856\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/backendAddressPools/onesdk6856\",\r\n        \"etag\": \"W/\\\"479c5973-ba91-4024-9557-23c0437fc7a8\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"backendAddresses\": []\r\n        }\r\n      }\r\n    ],\r\n    \"backendHttpSettingsCollection\": [\r\n      {\r\n        \"name\": \"onesdk233\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/backendHttpSettingsCollection/onesdk233\",\r\n        \"etag\": \"W/\\\"479c5973-ba91-4024-9557-23c0437fc7a8\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 80,\r\n          \"protocol\": \"Http\",\r\n          \"cookieBasedAffinity\": \"Disabled\",\r\n          \"requestTimeout\": 30,\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/requestRoutingRules/onesdk3233\"\r\n            }\r\n          ]\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"onesdk3386\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/backendHttpSettingsCollection/onesdk3386\",\r\n        \"etag\": \"W/\\\"479c5973-ba91-4024-9557-23c0437fc7a8\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"port\": 443,\r\n          \"protocol\": \"Https\",\r\n          \"cookieBasedAffinity\": \"Enabled\",\r\n          \"requestTimeout\": 30,\r\n          \"probe\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/probes/onesdk1661\"\r\n          },\r\n          \"authenticationCertificates\": [\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/authenticationCertificates/onesdk7293\"\r\n            }\r\n          ],\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/requestRoutingRules/onesdk6259\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"httpListeners\": [\r\n      {\r\n        \"name\": \"onesdk3590\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/httpListeners/onesdk3590\",\r\n        \"etag\": \"W/\\\"479c5973-ba91-4024-9557-23c0437fc7a8\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/frontendIPConfigurations/onesdk8699\"\r\n          },\r\n          \"frontendPort\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/frontendPorts/onesdk8329\"\r\n          },\r\n          \"protocol\": \"Http\",\r\n          \"requireServerNameIndication\": false,\r\n          \"requestRoutingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/requestRoutingRules/onesdk3233\"\r\n            }\r\n          ]\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"onesdk2547\",\r\n        \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applic[...]
[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"WAF_Medium\",\r\n      \"tier\": \"WAF\",\r\n      \"capacity\": 2\r\n    },\r\n    \"sslPolicy\": {\r\n      \"disabledSslProtocols\": [\r\n        \"TLSv1_0\",\r\n        \"TLSv1_1\"\r\n      ]\r\n    },\r\n    \"gatewayIPConfigurations\": [\r\n      {\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/virtualNetworks/onesdk2871/subnets/onesdk414\"\r\n          }\r\n        },\r\n        \"name\": \"onesdk7000\",\r\n        \"id\": \"\"\r\n      }\r\n    ],\r\n    \"authenticationCertificates[...]
[...]
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/resourceGroups/onesdk4755/providers/Microsoft.Network/applicationGateways/onesdk7181/backendhealth?api-version=2016-09-01&$expand=backendhealth%2Fapplicationgatewayresource",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "null",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "10"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operationResults/38fc5218-4a85-4ec3-acef-811c6fe90a47?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/0a4ae132-d38b-487e-9051-a22d852b2834/providers/Microsoft.Network/locations/westus.validation/operationResults/38fc5218-4a85-4ec3-acef-811c6fe90a47?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "null",
      "ResponseHeaders": {
        "Content-Type": [
[...]
