{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.OperationalInsights?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.OperationalInsights\",\r\n  \"namespace\": \"Microsoft.OperationalInsights\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"d2a0a418-0aac-4541-82b2-b3142c89da77\",\r\n      \"roleDefinitionId\": \"86695298-2eb9-48a7-9ec3-2fdb38b6878b\"\r\n    },\r\n    {\r\n      \"applicationId\": \"ca7f3f0b-7d91-482c-8e09-c5d840d0eac5\",\r\n      \"roleDefinitionId\": \"5d5a2e56-9835-44aa-93db-d2f19e155438\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"workspaces\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"West Europe\",\r\n        \"Southeast Asia\",\r\n        \"Australia Southeast\",\r\n        \"West Central US\",\r\n        \"Japan East\",\r\n        \"UK South\",\r\n        \"Central India\",\r\n        \"Canada Central\",\r\n        \"West US 2\",\r\n        \"Australia Central\",\r\n        \"Australia East\",\r\n        \"France Central\",\r\n        \"Korea Central\",\r\n        \"North Europe\",\r\n        \"Central US\",\r\n        \"East Asia\",[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/ps2050?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/ps2050\",\r\n  \"name\": \"ps2050\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/ps2050/providers/Microsoft.OperationalInsights/workspaces/AzTestps6783?api-version=2021-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"pergb2018\"\r\n    },\r\n    \"features\": {}\r\n  },\r\n  \"tags\": {},\r\n  \"location\": \"East US\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/ps2050/providers/Microsoft.OperationalInsights/workspaces/AzTestps6783?api-version=2021-12-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "199"
        ],
        "api-supported-versions": [
          "2021-12-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "2999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"customerId\": \"77403bf2-429b-4499-9107-94d05e38e491\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n      \"lastSkuUpdate\": \"2024-11-28T09:17:20.0083434Z\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\": \"2024-11-29T00:00:00Z\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\",\r\n    \"createdDate\": \"2024-11-28T09:17:20.0083434Z\",\r\n    \"modifiedDate\": \"2024-11-28T09:17:20.0083434Z\"\r\n  },\r\n  \"location\": \"East US\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/ps2050/providers/Microsoft.OperationalInsights/workspaces/AzTestps6783\",\r\n  \"name\": \"AzTestps6783\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"etag\": \"\\\"8e0963d8-0000-0100-0000-674835200000\\\"\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/ps2050/providers/Microsoft.OperationalInsights/workspaces/AzTestps6783?api-version=2021-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "api-supported-versions": [
          "2021-12-01-preview"
        ],
        "x-ms-ratelimit[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/ps2050/providers/Microsoft.OperationalInsights/workspaces/AzTestps6783/dataSources?$filter=kind%20eq%20'IISLogs'&api-version=2020-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "api-supported-versions": [
          "2015-03-20, 2015-11-01-preview, 2017-01-01-preview, 2017-03-03-preview, 2017-03-15-preview, 2017-04-26-preview, 2020-03-01-preview, 2020-08-01, 2020-10-01, 2023-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"__metadata\": null,\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/ps2050/providers/Microsoft.OperationalInsights/workspaces/AzTestps6783/dataSources?$filter=kind%20eq%20'IISLogs'&api-version=2020-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "api-supported-versions": [
          "2015-03-20, 2015-11-01-preview, 2017-01-01-preview, 2017-03-03-preview, 2017-03-15-preview, 2017-04-26-preview, 2020-03-01-preview, 2020-08-01, 2020-10-01, 2023-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"__metadata\": null,\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"state\": \"OnPremiseEnabled\"\r\n      },\r\n      \"kind\": \"IISLogs\",\r\n      \"id\": \"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/ps2050/providers/Microsoft.OperationalInsights/workspaces/AzTestps6783/datasources/DataSource_IISLogs\",\r\n      \"name\": \"DataSource_IISLogs\",\r\n      \"type\": \"Microsoft.OperationalInsights/workspaces/datasources\",\r\n      \"etag\": \"W/\\\"datetime'2024-11-28T09%3A17%3A55.3116659Z'\\\"\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/ps2050/providers/Microsoft.OperationalInsights/workspaces/AzTestps6783/dataSources/DataSource_IISLogs?api-version=2020-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "api-supported-versions": [
          "2015-03-20, 2015-11-01-preview, 2017-01-01-preview, 2017-03-03-preview, 2017-03-15-preview, 2017-04-26-preview, 2020-03-01-preview, 2020-08-01, 2020-10-01, 2023-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/ps2050/providers/Microsoft.OperationalInsights/workspaces/AzTestps6783/dataSources?$filter=kind%20eq%20'CustomLogCollection'&api-version=2020-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "api-supported-versions": [
          "2015-03-20, 2015-11-01-preview, 2017-01-01-preview, 2017-03-03-preview, 2017-03-15-preview, 2017-04-26-preview, 2020-03-01-preview, 2020-08-01, 2020-10-01, 2023-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"__metadata\": null,\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/ps2050/providers/Microsoft.OperationalInsights/workspaces/AzTestps6783/dataSources/DataSource_CustomLogCollection?api-version=2020-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "api-supported-versions": [
          "2015-03-20, 2015-11-01-preview, 2017-01-01-preview, 2017-03-03-preview, 2017-03-15-preview, 2017-04-26-preview, 2020-03-01-preview, 2020-08-01, 2020-10-01, 2023-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/ps2050/providers/Microsoft.OperationalInsights/workspaces/AzTestps6783/dataSources?$filter=kind%20eq%20'LinuxPerformanceCollection'&api-version=2020-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "api-supported-versions": [
          "2015-03-20, 2015-11-01-preview, 2017-01-01-preview, 2017-03-03-preview, 2017-03-15-preview, 2017-04-26-preview, 2020-03-01-preview, 2020-08-01, 2020-10-01, 2023-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"__metadata\": null,\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/ps2050/providers/Microsoft.OperationalInsights/workspaces/AzTestps6783/dataSources/DataSource_LinuxPerformanceCollection?api-version=2020-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "api-supported-versions": [
          "2015-03-20, 2015-11-01-preview, 2017-01-01-preview, 2017-03-03-preview, 2017-03-15-preview, 2017-04-26-preview, 2020-03-01-preview, 2020-08-01, 2020-10-01, 2023-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/ps2050/providers/Microsoft.OperationalInsights/workspaces/AzTestps6783/dataSources?$filter=kind%20eq%20'LinuxSyslogCollection'&api-version=2020-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "api-supported-versions": [
          "2015-03-20, 2015-11-01-preview, 2017-01-01-preview, 2017-03-03-preview, 2017-03-15-preview, 2017-04-26-preview, 2020-03-01-preview, 2020-08-01, 2020-10-01, 2023-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"__metadata\": null,\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/ps2050/providers/Microsoft.OperationalInsights/workspaces/AzTestps6783/dataSources/DataSource_LinuxSyslogCollection?api-version=2020-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "api-supported-versions": [
          "2015-03-20, 2015-11-01-preview, 2017-01-01-preview, 2017-03-03-preview, 2017-03-15-preview, 2017-04-26-preview, 2020-03-01-preview, 2020-08-01, 2020-10-01, 2023-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 404
    },
[...]
