{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/sql-va-cmdlet-test-rgps64?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourcegroups/sql-va-cmdlet-test-rgps6019?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "53207c86-9d47-48e1-ad7a-bd0c6a2719a2"
=======
          "14a0b29a-d3f8-40b1-ae97-6e27cee71c6b"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27110.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.1"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.29"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "37"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "d52e21f7-97e2-4753-8e1f-d2294cadbce3"
        ],
        "x-ms-correlation-request-id": [
          "d52e21f7-97e2-4753-8e1f-d2294cadbce3"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190704T115616Z:d52e21f7-97e2-4753-8e1f-d2294cadbce3"
=======
          "d5ae5cdf-649e-42f9-90c9-13395dcb23a5"
        ],
        "x-ms-correlation-request-id": [
          "d5ae5cdf-649e-42f9-90c9-13395dcb23a5"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20201117T212949Z:d5ae5cdf-649e-42f9-90c9-13395dcb23a5"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 04 Jul 2019 11:56:15 GMT"
        ],
        "Content-Length": [
          "210"
=======
          "Tue, 17 Nov 2020 21:29:48 GMT"
        ],
        "Content-Length": [
          "214"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64\",\r\n  \"name\": \"sql-va-cmdlet-test-rgps64\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps64?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps6019\",\r\n  \"name\": \"sql-va-cmdlet-test-rgps6019\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps6019/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps6019?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "5e40ffd4-3c15-4a07-96c2-48e342ec7402"
=======
          "38369511-5adc-41ab-b64a-2d7ecaff89a1"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27110.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.31.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.46.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "9916aa30-11a9-47a3-91c7-8be2aa4eeb7e"
        ],
        "x-ms-correlation-request-id": [
          "9916aa30-11a9-47a3-91c7-8be2aa4eeb7e"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190704T115617Z:9916aa30-11a9-47a3-91c7-8be2aa4eeb7e"
=======
          "c03c2998-58ab-453d-98c3-7c2839023a60"
        ],
        "x-ms-correlation-request-id": [
          "c03c2998-58ab-453d-98c3-7c2839023a60"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20201117T212949Z:c03c2998-58ab-453d-98c3-7c2839023a60"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 04 Jul 2019 11:56:16 GMT"
=======
          "Tue, 17 Nov 2020 21:29:49 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "175"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/sql-va-cmdlet-serverps64' under resource group 'sql-va-cmdlet-test-rgps64' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps6019/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps6019?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27110.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.31.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.46.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "4f8beedb-404a-4477-93e1-b96faca824d5"
=======
          "70b60599-8916-4d44-b64e-e41026e38882"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11992"
        ],
        "x-ms-correlation-request-id": [
          "90cc3fd8-40b3-48d7-8808-3c29723224ab"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190704T115705Z:90cc3fd8-40b3-48d7-8808-3c29723224ab"
=======
          "11990"
        ],
        "x-ms-correlation-request-id": [
          "43131d2b-825b-43e4-9463-59c7f4ec10e6"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20201117T213057Z:43131d2b-825b-43e4-9463-59c7f4ec10e6"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 04 Jul 2019 11:57:05 GMT"
        ],
        "Content-Length": [
          "424"
=======
          "Tue, 17 Nov 2020 21:30:56 GMT"
        ],
        "Content-Length": [
          "496"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sql-va-cmdlet-serverps64.database.windows.net\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps64\",\r\n  \"name\": \"sql-va-cmdlet-serverps64\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps64?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sql-va-cmdlet-serverps6019.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps6019/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps6019\",\r\n  \"name\": \"sql-va-cmdlet-serverps6019\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps6019/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps6019?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!Sec\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "43336223-cd64-4a04-9e6a-a6a36350f28d"
=======
          "7ca3625e-68dc-451a-93aa-f7e07ed10658"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27110.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.31.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.46.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "186"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/30ec9e98-3b2e-4afd-8a91-06c46d7c7d10?api-version=2015-05-01-preview"
=======
          "https://management.azure.com/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps6019/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/3fddf21b-1988-4472-bd77-c36294db329c?api-version=2019-06-01-preview"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/30ec9e98-3b2e-4afd-8a91-06c46d7c7d10?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "30ec9e98-3b2e-4afd-8a91-06c46d7c7d10"
=======
          "https://management.azure.com/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps6019/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/3fddf21b-1988-4472-bd77-c36294db329c?api-version=2019-06-01-preview"
        ],
        "x-ms-request-id": [
          "3fddf21b-1988-4472-bd77-c36294db329c"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Serve[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/30ec9e98-3b2e-4afd-8a91-06c46d7c7d10?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-11-17T21:29:51.273Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/30ec9e98-3b2e-4afd-8a91-06c46d7c7d10?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"3fddf21b-1988-4472-bd77-c36294db329c\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-11-17T21:29:51.273Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps64/databases/sql-va-cmdlet-dbps64?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"3fddf21b-1988-4472-bd77-c36294db329c\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-11-17T21:29:51.273Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps64/databases/sql-va-cmdlet-dbps64?api-version=2017-10-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\"\r\n  },\r\n  \"properties\": {\r\n    \"maxSizeBytes\": 0,\r\n    \"readScale\": \"Disabled\"\r\n  },\r\n  \"location\": \"westcentralus\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\",\r\n    \"capacity\": 5\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 2147483648,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"f8495484-4741-437c-81e9-ba732831e3c9\",\r\n    \"creationDate\": \"2020-11-17T21:31:41.477Z\",\r\n    \"currentServiceObjectiveName\": \"Basic\",\r\n    \"requestedServiceObjectiveName\": \"Basic\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"earliestRestoreDate\": \"2020-11-17T22:01:41.477Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"currentSku\": {\r\n      \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"capacity\": 5\r\n    },\r\n    \"storageAccountType\": \"GRS\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps6019/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps6019/databases/sql-va-cmdlet-dbps6019\",\r\n  \"name\": \"sql-va-cmdlet-dbps6019\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/f9020f92-dca8-4fde-b741-fbe987bb6bb6?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2020-11-17T21:30:58.603Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Storage/storageAccounts/sqlvacmdletsps64?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"a57c6d23-51be-460b-9cff-e98c7d7d85d2\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-11-17T21:30:58.603Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps64/securityAlertPolicies/Default?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps6019/providers/Microsoft.Storage/storageAccounts/sqlvacmdletsps6019\",\r\n  \"name\": \"sqlvacmdletsps6019\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-11-17T21:31:46.3809002Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-11-17T21:31:46.3809002Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2020-11-17T21:31:46.3027426Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://sqlvacmdletsps6019.blob.core.windows.net/\",\r\n      \"queue\": \"https://sqlvacmdletsps6019.queue.core.windows.net/\",\r\n      \"table\": \"https://sqlvacmdletsps6019.table.core.windows.net/\",\r\n      \"file\": \"https://sqlvacmdletsps6019.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"westcentralus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"westus2\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps64/securityAlertPolicies/Default?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"state\": \"Disabled\",\r\n    \"disabledAlerts\": [\r\n      \"\"\r\n    ],\r\n    \"emailAddresses\": [\r\n      \"\"\r\n    ],\r\n    \"emailAccountAdmins\": false,\r\n    \"storageEndpoint\": \"\",\r\n    \"storageAccountAccessKey\": \"\",\r\n    \"retentionDays\": 0,\r\n    \"creationTime\": \"0001-01-01T00:00:00Z\"\r\n  },\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps6019/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps6019/securityAlertPolicies/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/securityAlertPolicies\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/providers/Microsoft.Sql/locations/westcentralus/securityAlertPoliciesAzureAsyncOperation/4acd8bca-d3ab-4305-8f41-8263b12863c2?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertServerThreatDetectionPolicy\",\r\n  \"startTime\": \"2020-11-17T21:32:14.617Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps64/vulnerabilityAssessments/default?api-version=2018-06-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"366c327d-d69e-4e4f-af4e-047561c91c89\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-11-17T21:32:14.617Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps64/vulnerabilityAssessments/default?api-version=2018-06-01-preview",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"recurringScans\": {\r\n      \"isEnabled\": false,\r\n      \"emailSubscriptionAdmins\": true\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps6019/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps6019/vulnerabilityAssessments/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/vulnerabilityAssessments\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps64/vulnerabilityAssessments/default?api-version=2018-06-01-preview",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageContainerPath\": \"https://sqlvacmdletsps6019.blob.core.windows.net/vulnerability-assessment/\",\r\n    \"recurringScans\": {\r\n      \"isEnabled\": false,\r\n      \"emailSubscriptionAdmins\": true,\r\n      \"emails\": []\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps6019/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps6019/vulnerabilityAssessments/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/vulnerabilityAssessments\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resources?$filter=resourceType%20eq%20'Microsoft.ClassicStorage%2FstorageAccounts'&api-version=2016-09-01",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageContainerPath\": \"https://sqlvacmdletsps6019.blob.core.windows.net/custom-container/\",\r\n    \"recurringScans\": {\r\n      \"isEnabled\": false,\r\n      \"emailSubscriptionAdmins\": true,\r\n      \"emails\": []\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps6019/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps6019/vulnerabilityAssessments/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/vulnerabilityAssessments\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resources?$filter=resourceType%20eq%20'Microsoft.ClassicStorage%2FstorageAccounts'&api-version=2016-09-01",
=======
          "4415"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/Default-SQL-EastUS2/providers/Microsoft.ClassicStorage/storageAccounts/testmetricsxioclassic\",\r\n      \"name\": \"testmetricsxioclassic\",\r\n      \"type\": \"Microsoft.ClassicStorage/storageAccounts\",\r\n      \"location\": \"eastus2\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/Default-SQL-JapanEast/providers/Microsoft.ClassicStorag[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resources?$filter=resourceType%20eq%20'Microsoft.Storage%2FstorageAccounts'&api-version=2016-09-01",
=======
          "4415"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/Default-SQL-EastUS2/providers/Microsoft.ClassicStorage/storageAccounts/testmetricsxioclassic\",\r\n      \"name\": \"testmetricsxioclassic[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Storage/storageAccounts/sqlvacmdletsps64/listKeys?api-version=2017-10-01",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps6019/providers/Microsoft.Sto[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Storage/storageAccounts/sqlvacmdletsps64/listKeys?api-version=2017-10-01",
=======
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\": \"IhqsU8TmUNS+7ARaoRWIKb+36xucv0bMYUvZGX1+43pOu0gcwUz32y1owlrjvwn58Km2kuXgbXb/QYp5K4136Q==\",\r\n      \"permissions\": \"FULL\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"DIiWWmF1eavdA75pcWdmhHALjs1Tv6jhxfouBbNJyeNddKriv3OQE8PEwv0QLkA4Geu+0ZfzuVDYZ1hXoaVXQw==\",\r\n      \"permissions\": \"FULL\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps6019/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps6019/vulnerabilityAssessments/default?api-version=2018-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"storageContainerPath\": \"https://storage1.blob.core.windows.net/custom-container\",\r\n    \"storageContainerSasKey\": \"st=XXXXXXXXXXXXXXX\",\r\n    \"recurringScans\": {\r\n      \"isEnabled\": false,\r\n      \"emailSubscriptionAdmins\": true,\r\n      \"emails\": [\r\n        \"test1@mailTest.com\",\r\n        \"test2@mailTest.com\"\r\n      ]\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "65bb12b1-dd2c-4f63-ad78-3099764a2375"
=======
          "86e0c46f-ee67-4874-8453-08e05e6b8e3e"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Sql/servers/newServerNameps64?api-version=2015-05-01-preview",
=======
          "240"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/newservernameps6019' under resource group 'sql-va-cmdlet-test-rgps6019' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps6019/providers/Microsoft.Sql/servers/newservernameps6019?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27110.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Manage[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Sql/servers/newServerNameps64/securityAlertPolicies/Default?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"446f731e-fe17-4355-ac88-a6d757b2b66d\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-11-17T21:32:22.82Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps6019/providers/Microsoft.Sql/servers/newservernameps6019/securityAlertPolicies/Default?api-version=2017-03-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "1cbfce97-0154-4549-9c9b-38d5ed7606f1"
=======
          "f426145b-6761-40b5-96dc-b8ce62c59785"
>>>>>>> d78b04[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps64/providers/Microsoft.Sql/servers/newServerNameps64/vulnerabilityAssessments/default?api-version=2018-06-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"0362e0ed-f3b9-4051-9a78-6a2426667726\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-11-17T21:33:29.21Z\"\r\n}",
      "StatusCode": 200
    },
    {
[...]
