{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/sql-va-cmdlet-test-rgps4931?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourcegroups/sql-va-cmdlet-test-rgps1582?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "a7724125-d535-4a0b-b02e-277c9e9d567a"
=======
          "5a1aef68-5bcf-48fa-9492-d5cf25da5d74"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27110.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.1"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.29"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "37"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "8c5af633-fdb0-4ca4-b445-0d21b6ab12ef"
        ],
        "x-ms-correlation-request-id": [
          "8c5af633-fdb0-4ca4-b445-0d21b6ab12ef"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190704T120202Z:8c5af633-fdb0-4ca4-b445-0d21b6ab12ef"
=======
          "947ae044-8442-49d8-ab7f-274d8c3cd1b1"
        ],
        "x-ms-correlation-request-id": [
          "947ae044-8442-49d8-ab7f-274d8c3cd1b1"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20201117T214055Z:947ae044-8442-49d8-ab7f-274d8c3cd1b1"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 04 Jul 2019 12:02:02 GMT"
=======
          "Tue, 17 Nov 2020 21:40:54 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Length": [
          "214"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931\",\r\n  \"name\": \"sql-va-cmdlet-test-rgps4931\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps4931?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps1582\",\r\n  \"name\": \"sql-va-cmdlet-test-rgps1582\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps1582/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps1582?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "b4716115-4ba3-4c10-b209-575951425717"
=======
          "2d78e7d0-afb5-4cf0-aee2-97cea0dc4822"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27110.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.31.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.46.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "38081cc6-4a87-4fbd-be3f-96ec219d9c61"
        ],
        "x-ms-correlation-request-id": [
          "38081cc6-4a87-4fbd-be3f-96ec219d9c61"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190704T120203Z:38081cc6-4a87-4fbd-be3f-96ec219d9c61"
=======
          "f8339a9a-e072-481b-82c8-88c295d54fc9"
        ],
        "x-ms-correlation-request-id": [
          "f8339a9a-e072-481b-82c8-88c295d54fc9"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20201117T214055Z:f8339a9a-e072-481b-82c8-88c295d54fc9"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 04 Jul 2019 12:02:03 GMT"
=======
          "Tue, 17 Nov 2020 21:40:54 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "179"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/sql-va-cmdlet-serverps4931' under resource group 'sql-va-cmdlet-test-rgps4931' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps1582/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps1582?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27110.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.31.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.46.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "4f26a37d-6a54-47fe-b0ce-e56a487f8c51"
=======
          "78ee3796-24fe-4ca3-a171-c019cace5ec4"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11992"
        ],
        "x-ms-correlation-request-id": [
          "a5f9f2d7-f9e8-4890-b981-1b0ffe01bf8b"
        ],
        "x-ms-routing-request-id": [
          "UKSOUTH2:20190704T120251Z:a5f9f2d7-f9e8-4890-b981-1b0ffe01bf8b"
=======
          "11991"
        ],
        "x-ms-correlation-request-id": [
          "83dece30-5c6d-4a3a-8eda-e06c1d8f50dc"
        ],
        "x-ms-routing-request-id": [
          "WESTCENTRALUS:20201117T214142Z:83dece30-5c6d-4a3a-8eda-e06c1d8f50dc"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 04 Jul 2019 12:02:50 GMT"
        ],
        "Content-Length": [
          "432"
=======
          "Tue, 17 Nov 2020 21:41:41 GMT"
        ],
        "Content-Length": [
          "496"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sql-va-cmdlet-serverps4931.database.windows.net\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps4931\",\r\n  \"name\": \"sql-va-cmdlet-serverps4931\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps4931?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sql-va-cmdlet-serverps1582.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps1582/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps1582\",\r\n  \"name\": \"sql-va-cmdlet-serverps1582\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps1582/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps1582?api-version=2019-06-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!Sec\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "da53d7ae-b063-432b-bef6-5e9dda43425f"
=======
          "ae8c5cf5-9217-49e8-aad8-b551b3f9bc22"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27110.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.31.0.0"
=======
          "FxVersion/4.6.29321.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Sql.SqlManagementClient/1.46.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "186"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/422e1964-8a10-4756-8d65-b29ee21004ce?api-version=2015-05-01-preview"
=======
          "https://management.azure.com/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps1582/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/a69eeff4-d5da-4fe7-aed4-869667983d7e?api-version=2019-06-01-preview"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/422e1964-8a10-4756-8d65-b29ee21004ce?api-version=2015-05-01-preview"
        ],
        "x-ms-request-id": [
          "422e1964-8a10-4756-8d65-b29ee21004ce"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
=======
          "https://management.azure.com/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps1582/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/a69eeff4-d5da-4fe7-aed4-869667983d7e?api-version=2019-06-01-preview"
        ],
        "x-ms-request-id": [
          "a69eeff4-d5da-4fe7-aed4-86[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/422e1964-8a10-4756-8d65-b29ee21004ce?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-11-17T21:40:56.55Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/422e1964-8a10-4756-8d65-b29ee21004ce?api-version=2015-05-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"a69eeff4-d5da-4fe7-aed4-869667983d7e\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-11-17T21:40:56.55Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps4931/databases/sql-va-cmdlet-dbps4931?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"a69eeff4-d5da-4fe7-aed4-869667983d7e\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-11-17T21:40:56.55Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps4931/databases/sql-va-cmdlet-dbps4931?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\",\r\n    \"capacity\": 5\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 2147483648,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"8018785c-a16b-4949-8d82-e561c492c74f\",\r\n    \"creationDate\": \"2020-11-17T21:42:22.673Z\",\r\n    \"currentServiceObjectiveName\": \"Basic\",\r\n    \"requestedServiceObjectiveName\": \"Basic\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"earliestRestoreDate\": \"2020-11-17T22:12:22.673Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"currentSku\": {\r\n      \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"capacity\": 5\r\n    },\r\n    \"storageAccountType\": \"GRS\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps1582/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps1582/databases/sql-va-cmdlet-dbps1582\",\r\n  \"name\": \"sql-va-cmdlet-dbps1582\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/6059dfaa-8ea6-4d24-b226-a89911061ec2?api-version=2017-10-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"CreateLogicalDatabase\",\r\n  \"startTime\": \"2020-11-17T21:41:42.847Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Storage/storageAccounts/sqlvacmdletsps4931?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"d090bd74-38aa-4088-92c7-b38fef9bbc12\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-11-17T21:41:42.847Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps4931/securityAlertPolicies/Default?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps1582/providers/Microsoft.Storage/storageAccounts/sqlvacmdletsps1582\",\r\n  \"name\": \"sqlvacmdletsps1582\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-11-17T21:42:29.1970574Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2020-11-17T21:42:29.1970574Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2020-11-17T21:42:29.1345524Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://sqlvacmdletsps1582.blob.core.windows.net/\",\r\n      \"queue\": \"https://sqlvacmdletsps1582.queue.core.windows.net/\",\r\n      \"table\": \"https://sqlvacmdletsps1582.table.core.windows.net/\",\r\n      \"file\": \"https://sqlvacmdletsps1582.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"westcentralus\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"westus2\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps4931/securityAlertPolicies/Default?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"state\": \"Disabled\",\r\n    \"disabledAlerts\": [\r\n      \"\"\r\n    ],\r\n    \"emailAddresses\": [\r\n      \"\"\r\n    ],\r\n    \"emailAccountAdmins\": false,\r\n    \"storageEndpoint\": \"\",\r\n    \"storageAccountAccessKey\": \"\",\r\n    \"retentionDays\": 0,\r\n    \"creationTime\": \"0001-01-01T00:00:00Z\"\r\n  },\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps1582/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps1582/securityAlertPolicies/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/securityAlertPolicies\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/providers/Microsoft.Sql/locations/westcentralus/securityAlertPoliciesAzureAsyncOperation/c6ff2c19-3cb5-437a-8fc7-83fa9678123c?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"operation\": \"UpsertServerThreatDetectionPolicy\",\r\n  \"startTime\": \"2020-11-17T21:42:57.223Z\"\r\n}",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps4931/databases/sql-va-cmdlet-dbps4931/vulnerabilityAssessments/default?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"b1505367-68b6-4eee-a8d8-91b48c6e2695\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-11-17T21:42:57.223Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps4931/databases/sql-va-cmdlet-dbps4931/vulnerabilityAssessments/default?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"recurringScans\": {\r\n      \"isEnabled\": false,\r\n      \"emailSubscriptionAdmins\": true\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps1582/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps1582/databases/sql-va-cmdlet-dbps1582/vulnerabilityAssessments/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/databases/vulnerabilityAssessments\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps4931/databases/sql-va-cmdlet-dbps4931/vulnerabilityAssessments/default?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageContainerPath\": \"https://sqlvacmdletsps1582.blob.core.windows.net/vulnerability-assessment/\",\r\n    \"recurringScans\": {\r\n      \"isEnabled\": false,\r\n      \"emailSubscriptionAdmins\": true,\r\n      \"emails\": []\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps1582/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps1582/databases/sql-va-cmdlet-dbps1582/vulnerabilityAssessments/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/databases/vulnerabilityAssessments\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resources?$filter=resourceType%20eq%20'Microsoft.ClassicStorage%2FstorageAccounts'&api-version=2016-09-01",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageContainerPath\": \"https://sqlvacmdletsps1582.blob.core.windows.net/custom-container/\",\r\n    \"recurringScans\": {\r\n      \"isEnabled\": false,\r\n      \"emailSubscriptionAdmins\": true,\r\n      \"emails\": []\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps1582/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps1582/databases/sql-va-cmdlet-dbps1582/vulnerabilityAssessments/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/databases/vulnerabilityAssessments\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resources?$filter=resourceType%20eq%20'Microsoft.ClassicStorage%2FstorageAccounts'&api-version=2016-09-01",
=======
          "4415"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/Default-SQL-EastUS2/providers/Microsoft.ClassicStorage/storageAccounts/testmetricsxioclassic\",\r\n      \"name\": \"testmetricsxioclassic\",\r\n      \"type\": \"Microsoft.ClassicStorage/storageAccounts\",\r\n      \"location\": \"eastus2\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/Default-SQL-JapanEast/providers/Microsoft.ClassicStorag[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resources?$filter=resourceType%20eq%20'Microsoft.Storage%2FstorageAccounts'&api-version=2016-09-01",
=======
          "4415"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/Default-SQL-EastUS2/providers/Microsoft.ClassicStorage/storageAccounts/testmetricsxioclassic\",\r\n      \"name\": \"testmetricsxioclassic[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Storage/storageAccounts/sqlvacmdletsps4931/listKeys?api-version=2017-10-01",
=======
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps1582/providers/Microsoft[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Storage/storageAccounts/sqlvacmdletsps4931/listKeys?api-version=2017-10-01",
=======
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\": \"rGe6LOo0vg0lkN7w4oy2Kb3gBTt1Hrg0c6nyxeZfd1udx1tJujg5+UB6C4L8YWDk01oDzlYuXPYepZw7EmtkQw==\",\r\n      \"permissions\": \"FULL\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"bktaf0SG8nEk4VeHbIQVXSiL/DN6gB8tBBtSyeYsPs63BiegVoJH1BVQ0mPzM6Fqe1X/5ZZvgSSQSN6kdcUqdg==\",\r\n      \"permissions\": \"FULL\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91446693-dafa-4cc0-8b12-ec2c6c3f6250/resourceGroups/sql-va-cmdlet-test-rgps1582/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps1582/databases/sql-va-cmdlet-dbps1582/vulnerabilityAssessments/default?api-version=2017-03-01-preview",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"storageContainerPath\": \"https://storage1.blob.core.windows.net/custom-container\",\r\n    \"storageContainerSasKey\": \"st=XXXXXXXXXXXXXXX\",\r\n    \"recurringScans\": {\r\n      \"isEnabled\": false,\r\n      \"emailSubscriptionAdmins\": true,\r\n      \"emails\": [\r\n        \"test1@mailTest.com\",\r\n        \"test2@mailTest.com\"\r\n      ]\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "83646e35-4ceb-4161-ac7a-53949e2ff303"
=======
          "ff55c293-4023-46fc-9fbb-3c3aee8f9ce1"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "[...]
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps4931/databases/newDatabaseName?api-version=2017-10-01-preview",
=======
          "273"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/sql-va-cmdlet-serverps1582/databases/newDatabaseName' under resource group 'sql-va-cmdlet-test-rgps1582' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-va-cmdlet-test-rgps4931/providers/Microsoft.Sql/servers/sql-va-cmdlet-serverps4931/databases/newDatabaseName/vulnerabilityAssessments/default?api-version=2017-03-01-preview",
=======
      "ResponseBody": "{\r\n  \"name\": \"7d010781-f137-4bcc-97ff-7af9b52ff9d8\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-11-17T21:43:07.377Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRWQToyRENNRExFVDoyRFRFU1Q6MkRSR1BTNDkzMS1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRWQToyRENNRExFVDoyRFRFU1Q6MkRSR1BTNDkzMS1XRVNUQ0VOVFJBTFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0Y2VudHJhbHVzIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11988"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
