{
    "Entries": [
      {
        "RequestUri": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourcegroups/pstestrg8895?api-version=2016-09-01",
        "RequestMethod": "PUT",
        "RequestHeaders": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "RequestBody": "{\r\n  \"location\": \"eastus2euap\"\r\n}",
        "ResponseHeaders": {
          "x-ms-ratelimit-remaining-subscription-writes": [
            "1199"
          ],
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "ResponseBody": "{\r\n  \"id\": \"/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/pstestrg8895\",\r\n  \"name\": \"pstestrg8895\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
        "StatusCode": 201
      },
      {
        "RequestUri": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/checkNameAvailability?api-version=2022-09-01",
        "RequestMethod": "POST",
        "RequestHeaders": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "RequestBody": "{\r\n  \"name\": \"stofailoverpstestrg8895\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
        "ResponseHeaders": {
          "x-ms-ratelimit-remaining-subscription-reads": [
            "11999"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
        "StatusCode": 200
      },
      {
        "RequestUri": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/pstestrg8895/providers/Microsoft.Storage/storageAccounts/stofailoverpstestrg8895?api-version=2022-09-01",
        "RequestMethod": "PUT",
        "RequestHeaders": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_RAGRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"eastus2euap\"\r\n}",
        "ResponseHeaders": {
          "Location": [
            "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/3503ba82-d7c3-4c90-89b1-8b540588945f?monitor=true&api-version=2022-09-01"
          ],
          "Retry-After": [
            "17"
          ],
          "x-ms-ratelimit-remaining-subscription-writes": [
            "1199"
          ],
          "Content-Type": [
            "text/plain; charset=utf-8"
          ]
        },
        "ResponseBody": "",
        "StatusCode": 202
      },
      {
        "RequestUri": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/3503ba82-d7c3-4c90-89b1-8b540588945f?monitor=true&api-version=2022-09-01",
        "RequestMethod": "GET",
        "RequestHeaders": {
        },
        "RequestBody": "",
        "ResponseHeaders": {
          "x-ms-ratelimit-remaining-subscription-reads": [
            "11998"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_RAGRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/pstestrg8895/providers/Microsoft.Storage/storageAccounts/stofailoverpstestrg8895\",\r\n  \"name\": \"stofailoverpstestrg8895\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"eastus2euap\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"keyCreationTime\": {\r\n      \"key1\": \"2022-12-05T03:10:29.4964419Z\",\r\n      \"key2\": \"2022-12-05T03:10:29.4964419Z\"\r\n    },\r\n    \"allowCrossTenantReplication\": false,\r\n    \"privateEndpointConnections\": [],\r\n    \"minimumTlsVersion\": \"TLS1_0\",\r\n    \"allowBlobPublicAccess\": true,\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": true,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"keyType\": \"Account\",\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2022-12-05T03:10:30.1839934Z\"\r\n        },\r\n        \"blob\": {\r\n          \"keyType\": \"Account\",\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2022-12-05T03:10:30.1839934Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2022-12-05T03:10:29.3870545Z\",\r\n    \"primaryEndpoints\": {\r\n      \"dfs\": \"https://stofailoverpstestrg8895.dfs.core.windows.net/\",\r\n      \"web\": \"https://stofailoverpstestrg8895.z3.web.core.windows.net/\",\r\n      \"blob\": \"https://stofailoverpstestrg8895.blob.core.windows.net/\",\r\n      \"queue\": \"https://stofailoverpstestrg8895.queue.core.windows.net/\",\r\n      \"table\": \"https://stofailoverpstestrg8895.table.core.windows.net/\",\r\n      \"file\": \"https://stofailoverpstestrg8895.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"eastus2euap\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"centraluseuap\",\r\n    \"statusOfSecondary\": \"available\",\r\n    \"secondaryEndpoints\": {\r\n      \"dfs\": \"https://stofailoverpstestrg8895-secondary.dfs.core.windows.net/\",\r\n      \"web\": \"https://stofailoverpstestrg8895-secondary.z3.web.core.windows.net/\",\r\n      \"blob\": \"https://stofailoverpstestrg8895-secondary.blob.core.windows.net/\",\r\n      \"queue\": \"https://stofailoverpstestrg8895-secondary.queue.core.windows.net/\",\r\n      \"table\": \"https://stofailoverpstestrg8895-secondary.table.core.windows.net/\"\r\n    }\r\n  }\r\n}",
        "StatusCode": 200
      },
[...]
      {
        "RequestUri": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/pstestrg8895/providers/Microsoft.Storage/storageAccounts/stofailoverpstestrg8895?api-version=2022-09-01&$expand=geoReplicationStats",
        "RequestMethod": "GET",
        "RequestHeaders": {
        },
        "RequestBody": "",
        "ResponseHeaders": {
          "x-ms-ratelimit-remaining-subscription-reads": [
            "11999"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_RAGRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/pstestrg8895/providers/Microsoft.Storage/storageAccounts/stofailoverpstestrg8895\",\r\n  \"name\": \"stofailoverpstestrg8895\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"eastus2euap\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"keyCreationTime\": {\r\n      \"key1\": \"2022-12-05T03:10:29.4964419Z\",\r\n      \"key2\": \"2022-12-05T03:10:29.4964419Z\"\r\n    },\r\n    \"allowCrossTenantReplication\": false,\r\n    \"privateEndpointConnections\": [],\r\n    \"minimumTlsVersion\": \"TLS1_0\",\r\n    \"allowBlobPublicAccess\": true,\r\n    \"geoReplicationStats\": {\r\n      \"status\": \"Unavailable\",\r\n      \"lastSyncTime\": \"2022-12-05T03:10:29Z\",\r\n      \"canFailover\": false\r\n    },\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": true,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"keyType\": \"Account\",\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2022-12-05T03:10:30.1839934Z\"\r\n        },\r\n        \"blob\": {\r\n          \[...]
[...]
      {
        "RequestUri": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/resourceGroups/pstestrg8895/providers/Microsoft.Storage/storageAccounts/stofailoverpstestrg8895/failover?api-version=2022-09-01&failoverType=Planned",
        "RequestMethod": "POST",
        "RequestHeaders": {
        },
        "RequestBody": "",
        "ResponseHeaders": {
          "Location": [
            "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/providers/Microsoft.Storage/locations/eastus2euap/asyncoperations/f21cd6ee-04ba-49a5-892c-979857c15e9e?monitor=true&api-version=2022-09-01"
          ],
          "Retry-After": [
            "17"
          ],
          "x-ms-ratelimit-remaining-subscription-writes": [
            "1199"
          ],
          "Content-Type": [
            "text/plain; charset=utf-8"
          ]
        },
        "ResponseBody": "",
        "StatusCode": 202
      },
[...]
      {
        "RequestUri": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzg4OTUtRUFTVFVTMkVVQVAiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czJldWFwIn0?api-version=2016-09-01",
        "RequestMethod": "GET",
        "RequestHeaders": {
        },
        "RequestBody": "",
        "ResponseHeaders": {
          "Location": [
            "https://management.azure.com/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzg4OTUtRUFTVFVTMkVVQVAiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czJldWFwIn0?api-version=2016-09-01"
          ],
          "Retry-After": [
            "15"
          ],
          "x-ms-ratelimit-remaining-subscription-reads": [
            "11999"
          ]
        },
        "ResponseBody": "",
        "StatusCode": 202
      },
[...]
      {
        "RequestUri": "/subscriptions/45b60d85-fd72-427a-a708-f994d26e593e/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzg4OTUtRUFTVFVTMkVVQVAiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czJldWFwIn0?api-version=2016-09-01",
        "RequestMethod": "GET",
        "RequestHeaders": {
        },
        "RequestBody": "",
        "ResponseHeaders": {
          "x-ms-ratelimit-remaining-subscription-reads": [
            "11991"
          ]
        },
        "ResponseBody": "",
        "StatusCode": 200
      }
    ],
    "Names": {
      "Test-FailoverAzureStorageAccountPlanned": [
        "pstestrg8895"
      ]
    },
    "Variables": {
      "SubscriptionId": "45b60d85-fd72-427a-a708-f994d26e593e"
    }
  }