{
  "Entries": [
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a\",\r\n      \"roleDefinitionId\": \"18363e25-ff21-4159-ae8d-7dfecb5bd001\"\r\n    },\r\n    {\r\n      \"applicationId\": \"40c49ff3-c6ae-436d-b28e-b8e268841980\",\r\n      \"roleDefinitionId\": \"d4d2d679-cce0-429d-9a3b-17118c035f66\"\r\n    },\r\n    {\r\n      \"applicationId\": \"d66e9e8e-53a4-420c-866d-5bb39aaea675\",\r\n      \"roleDefinitionId\": \"d4d2d679-cce0-429d-9a3b-17118c035f66\"\r\n    },\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourcegroups/ps8399?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West Central US\",\r\n  \"tags\": {\r\n    \"testtag\": \"testval\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399\",\r\n  \"name\": \"ps8399\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {\r\n    \"testtag\": \"testval\",\r\n    \"Created\": \"2025-04-04T18:47:20.563005Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/virtualNetworks/ps7344?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps7344' under resource group 'ps8399' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/virtualNetworks/ps7344?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"8af4f8a2-b726-4b02-93ea-b55ad9bb4dca\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps7344\",\r\n  \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/virtualNetworks/ps7344\",\r\n  \"etag\": \"W/\\\"8af4f8a2-b726-4b02-93ea-b55ad9bb4dca\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"d9e95aee-2759-4796-abf3-1db709ef30dd\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"privateEndpointVNetPolicies\": \"Disabled\",\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps5641\",\r\n        \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/virtualNetworks/ps7344/subnets/ps5641\",\r\n        \"etag\": \"W/\\\"8af4f8a2-b726-4b02-93ea-b55ad9bb4dca\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/virtualNetworks/ps7344?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ],\r\n      \"ipamPoolPrefixAllocations\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps5641\",\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\",\r\n          \"applicationGatewayIPConfigurations\": [],\r\n          \"ipamPoolPrefixAllocations\": []\r\n        }\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/providers/Microsoft.Network/locations/westcentralus/operations/6da9e766-1087-4f9a-89cd-4531647f796c?api-version=2024-07-01&t=638793892460425805&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/providers/Microsoft.Network/locations/westcentralus/operations/6da9e766-1087-4f9a-89cd-4531647f796c?api-version=2024-07-01&t=638793892460425805&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/publicIPAddresses/ps1299?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/ps1299' under resource group 'ps8399' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/publicIPAddresses/ps1299?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"646e817a-beb5-410a-8470-4ac954726063\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps1299\",\r\n  \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/publicIPAddresses/ps1299\",\r\n  \"etag\": \"W/\\\"646e817a-beb5-410a-8470-4ac954726063\\\"\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"d82f0c3a-f718-4b41-9dbf-cf494e20a5b2\",\r\n    \"ipAddress\": \"52.150.239.133\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": [],\r\n    \"ddosSettings\": {\r\n      \"protectionMode\": \"VirtualNetworkInherited\"\r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/publicIPAddresses/ps1299?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"zones\": [],\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"ipTags\": []\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/providers/Microsoft.Network/locations/westcentralus/operations/1f95d436-db1e-4fd0-bb6d-d48ab5e94117?api-version=2024-07-01&t=638793892587498828&c[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/providers/Microsoft.Network/locations/westcentralus/operations/1f95d436-db1e-4fd0-bb6d-d48ab5e94117?api-version=2024-07-01&t=638793892587498828&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/loadBalancers/ps9326' under resource group 'ps8399' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"4c3d2425-8564-47a3-9ec4-2149bb20277b\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1098"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16498"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps9326\",\r\n  \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326\",\r\n  \"etag\": \"W/\\\"4c3d2425-8564-47a3-9ec4-2149bb20277b\\\"\",\r\n  \"type\": \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"6bb2ea49-7b63-4051-b80c-44279bf65081\",\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps1753\",\r\n        \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326/frontendIPConfigurations/ps1753\",\r\n        \"etag\": \"W/\\\"4c3d2425-8564-47a3-9ec4-2149bb20277b\\\"\",\r\n        \"type\": \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/publicIPAddresses/ps1299\"\r\n          },\r\n          \"loadBalancingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326/loadBalancingRules/ps2643\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps3160\",\r\n        \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326/backendAddressPools/ps3160\",\r\n        \"etag\": \"W/\\\"4c3d2425-8564-47a3-9ec4-2149bb20277b\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"loadBalancerBackendAddresses\": [],\r\n          \"loadBalancingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326/loadBalancingRules/ps2643\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/loadBalancers/backendAddressPools\"\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [\r\n      {\r\n        \"name\": \"ps2643\",\r\n        \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326/loadBalancingRules/ps2643\",\r\n        \"etag\": \"W/\\\"4c3d2425-8564-47a3-9ec4-2149bb20277b\\\"\",\r\n        \"type\": \"Microsoft.Network/loadBalancers/loadBalancingRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326/frontendIPConfigurations/ps1753\"\r\n          },\r\n          \"frontendPort\": 80,\r\n          \"backendPort\": 80,\r\n          \"enableFloatingIP\": false,\r\n          \"idleTimeoutInMinutes\": 15,\r\n          \"protocol\": \"Tcp\",\r\n          \"enableDestinationServiceEndpoint\": false,\r\n          \"enableTcpReset\": true,\r\n          \"allowBackendPortConflict\": false,\r\n          \"loadDistribution\": \"Default\",\r\n          \"disableOutboundSnat\": true,\r\n          \"disableConnectionTracking\": false,\r\n          \"enableConnectionTracking\": false,\r\n          \"backendAddressPool\": {\r\n            \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326/backendAddressPools/ps3160\"\r\n          },\r\n          \"backendAddressPools\": [\r\n            {\r\n              \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326/backendAddressPools/ps3160\"\r\n            }\r\n          ],\r\n          \"probe\": {\r\n            \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326/probes/ps3655\"\r\n          }\r\n        }\r\n      }\r\n    ],\r\n    \"probes\": [\r\n      {\r\n        \"name\": \"ps3655\",\r\n        \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326/probes/ps3655\",\r\n        \"etag\": \"W/\\\"4c3d2425-8564-47a3-9ec4-2149bb20277b\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"protocol\": \"Tcp\",\r\n          \"port\": 80,\r\n          \"intervalInSeconds\": 360,\r\n          \"numberOfProbes\": 5,\r\n          \"probeThreshold\": 1,\r\n          \"noHealthyBackendsBehavior\": \"AllProbedDown\",\r\n          \"loadBalancingRules\": [\r\n            {\r\n              \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326/loadBalancingRules/ps2643\"\r\n            }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/loadBalancers/probes\"\r\n      }\r\n    ],\r\n    \"inboundNatRules\": [],\r\n    \"outboundRules\": [],\r\n    \"inboundNatPools\": []\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"ps1753\",\r\n        \"zones\": [],\r\n        \"properties\": {\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"zones\": [],\r\n            \"properties\": {\r\n              \"ipTags\": []\r\n            },\r\n            \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/publicIPAddresses/ps1299\",\r\n            \"tags\": {}\r\n          }\r\n        },\r\n        \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326/FrontendIpConfigurations/ps1753\"\r\n      }\r\n    ],\r\n    \"backendAddressPools\": [\r\n      {\r\n        \"name\": \"ps3160\",\r\n        \"properties\": {\r\n          \"tunnelInterfaces\": [],\r\n          \"loadBalancerBackendAddresses\": []\r\n        },\r\n        \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326/BackendAddressPools/ps3160\"\r\n      }\r\n    ],\r\n    \"loadBalancingRules\": [\r\n      {\r\n        \"name\": \"ps2643\",\r\n        \"properties\": {\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGr[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/publicIPAddresses/RdpPublicIP?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/RdpPublicIP' under resource group 'ps8399' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/providers/Microsoft.Network/locations/westcentralus/operations/5b8e4fb7-bb2e-4b80-879d-e481713a9455?api-version=2024-07-01&t=638793892723224914&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/networkInterfaces/NIC?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkInterfaces/NIC' under resource group 'ps8399' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/networkInterfaces/NIC?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"8c50fce3-83e9-475f-b926-89e6ce8367be\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"NIC\",\r\n  \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/networkInterfaces/NIC\",\r\n  \"etag\": \"W/\\\"8c50fce3-83e9-475f-b926-89e6ce8367be\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"8c146376-16ae-4188-b903-f9b67b3760ab\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ps3092\",\r\n        \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/networkInterfaces/NIC/ipConfigurations/ps3092\",\r\n        \"etag\": \"W/\\\"8c50fce3-83e9-475f-b926-89e6ce8367be\\\"\",\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.1.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/publicIPAddresses/RdpPublicIP\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/virtualNetworks/ps7344/subnets/ps5641\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\",\r\n          \"loadBalancerBackendAddressPools\": [\r\n            {\r\n              \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326/backendAddressPools/ps3160\"\r\n            }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"3znotwkze4lepk5tdw1qt1zq1f.yx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\": false,\r\n    \"disableTcpStateTracking\": false,\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n    \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true,\r\n    \"defaultOutboundConnectivityEnabled\": false,\r\n    \"auxiliaryMode\": \"None\",\r\n    \"auxiliarySku\": \"None\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"westcentralus\",\r\n  \"kind\": \"Regular\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/networkInterfaces/NIC?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ps3092\",\r\n        \"properties\": {\r\n          \"subnet\": {\r\n            \"properties\": {\r\n              \"addressPrefixes\": [],\r\n              \"serviceEndpoints\": [],\r\n              \"serviceEndpointPolicies\": [],\r\n              \"ipAllocations\": [],\r\n              \"delegations\": [],\r\n              \"applicationGatewayIPConfigurations\": [],\r\n              \"ipamPoolPrefixAllocations\": []\r\n            },\r\n            \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/virtualNetworks/ps7344/subnets/ps5641\"\r\n          },\r\n          \"virtualNetworkTaps\": [],\r\n          \"applicationGatewayBackendAddressPools\": [],\r\n          \"loadBalancerBackendAddressPools\": [\r\n            {\r\n              \"properties\": {\r\n                \"tunnelInterfaces\": [],\r\n                \"loadBalancerBackendAddresses\": []\r\n              },\r\n              \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/loadBalancers/ps9326/BackendAddressPools/ps3160\"\r\n            }\r\n          ],\r\n          \"loadBalancerInboundNatRules\": [],\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"privateIPAddressVersion\": \"IPv4\",\r\n          \"primary\": false,\r\n          \"publicIPAddress\": {\r\n            \"zones\": [],\r\n            \"properties\": {\r\n              \"ipTags\": []\r\n            },\r\n            \"id\": \"/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Network/publicIPAddresses/RdpPublicIP\",\r\n            \"tags\": {}\r\n          }\r[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/providers/Microsoft.Network/locations/westcentralus/operations/d14b51fb-af5f-45fe-95a2-0a53fe713f1e?api-version=2024-07-01&t=638793892766037585&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW5[...]
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/providers/Microsoft.Storage/checkNameAvailability?api-version=2021-02-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"name\": \"testfps8399myvm040411480\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/38acb747-b5d3-4338-a7fc-31f49e38850b/resourceGroups/ps8399/providers/Microsoft.Storage/storageAccounts/testfps8399myvm040411480?api-version=2021-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "Location": [
[...]
