{
  "Entries": [
    {
      "RequestUri": "/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/Microsoft.Subscriptions.Admin/plans?api-version=2015-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/resourceGroups/rg/providers/Microsoft.Subscriptions.Admin/plans/plan1\",\r\n      \"name\": \"plan1\",\r\n      \"type\": \"Microsoft.Subscriptions.Admin/plans\",\r\n      \"location\": \"local\",\r\n      \"properties\": {\r\n        \"name\": \"plan1\",\r\n        \"displayName\": \"plan1-test\",\r\n        \"description\": \"foobar2\",\r\n        \"subscriptionCount\": 0,\r\n        \"quotaIds\": [\r\n          \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/Microsoft.Compute.Admin/locations/local/quotas/Default Quota\",\r\n          \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/Microsoft.KeyVault.Admin/locations/local/quotas/Unlimited\",\r\n          \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/Microsoft.Network.Admin/locations/local/quotas/Default Quota\",\r\n          \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/[...]
    {
      "RequestUri": "/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/resourcegroups/rg/providers/Microsoft.Subscriptions.Admin/plans/plan1?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"foobar2\",\r\n    \"displayName\": \"plan1-test-test\",\r\n    \"quotaIds\": [\r\n      \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/Microsoft.Compute.Admin/locations/local/quotas/Default Quota\",\r\n      \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/Microsoft.KeyVault.Admin/locations/local/quotas/Unlimited\",\r\n      \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/Microsoft.Network.Admin/locations/local/quotas/Default Quota\",\r\n      \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/Microsoft.Storage.Admin/locations/local/quotas/Default Quota\",\r\n      \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/Microsoft.Subscriptions.Admin/locations/local/quotas/delegatedProviderQuota\"\r\n    ],\r\n    \"name\": \"plan1\",\r\n    \"subscriptionCount\": 0\r\n  },\r\n  \"location\": \"local\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/resourceGroups/rg/providers/Microsoft.Subscriptions.Admin/plans/plan1\",\r\n  \"name\": \"plan1\",\r\n  \"type\": \"Microsoft.Subscriptions.Admin/plans\",\r\n  \"location\": \"local\",\r\n  \"properties\": {\r\n    \"name\": \"plan1\",\r\n    \"displayName\": \"plan1-test-test\",\r\n    \"description\": \"foobar2\",\r\n    \"subscriptionCount\": 0,\r\n    \"quotaIds\": [\r\n      \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/Microsoft.Compute.Admin/locations/local/quotas/Default Quota\",\r\n      \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/Microsoft.KeyVault.Admin/locations/local/quotas/Unlimited\",\r\n      \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/Microsoft.Network.Admin/locations/local/quotas/Default Quota\",\r\n      \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/Microsoft.Storage.Admin/locations/local/quotas/Default Quota\",\r\n      \"/subscriptions/ca831431-dac2-4466-a538-59fa3f882f68/providers/Microsoft.Subscriptions.Admin/locations/local/quotas/delegatedProviderQuota\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1179"
        ]
      },
      "StatusCode": 200
    },
[...]
