{
  "Entries": [
    {
      "RequestUri": "/pools/testIaasPool/nodes?api-version=2016-02-01.3.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 06 Apr 2016 01:02:24 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstestaccount.eastus.batch.azure.com/$metadata#nodes\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"tvm-587366007_1-20160404t091749z\",\r\n      \"url\": \"https://pstestaccount.eastus.batch.azure.com/pools/testIaasPool/nodes/tvm-587366007_1-20160404t091749z\",\r\n      \"state\": \"idle\",\r\n      \"schedulingState\": \"enabled\",\r\n      \"stateTransitionTime\": \"2016-04-04T09:34:55.415483Z\",\r\n      \"lastBootTime\": \"2016-04-04T09:34:55.276291Z\",\r\n      \"allocationTime\": \"2016-04-04T09:17:49.7952887Z\",\r\n      \"ipAddress\": \"10.0.0.4\",\r\n      \"affinityId\": \"TVM:tvm-587366007_1-20160404t091749z\",\r\n      \"vmSize\": \"standard_a1\",\r\n      \"totalTasksRun\": 0,\r\n      \"totalTasksSucceeded\": 0,\r\n      \"runningTasksCount\": 0\r\n    },\r\n    {\r\n      \"id\": \"tvm-587366007_2-20160404t091749z\",\r\n      \"url\": \"https://pstestaccount.eastus.batch.azure.com/pools/testIaasPool/nodes/tvm-587366007_2-20160404t091749z\",\r\n      \"state\": \"idle\",\r\n      \"schedulingState\": \"enabled\",\r\n      \"stateTransitionTime\": \"2016-04-04T09:34:55.505854Z\",\r\n      \"lastBootTime\": \"2016-04-04T09:34:55.38422Z\",\r\n      \"allocationTime\": \"2016-04-04T09:17:49.7952887Z\",\r\n      \"ipAddress\": \"10.0.0.5\[...]
    {
      "RequestUri": "/pools/testIaasPool/nodes/tvm-587366007_1-20160404t091749z?api-version=2016-02-01.3.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 06 Apr 2016 01:02:28 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstestaccount.eastus.batch.azure.com/$metadata#nodes/@Element\",\r\n  \"id\": \"tvm-587366007_1-20160404t091749z\",\r\n  \"url\": \"https://pstestaccount.eastus.batch.azure.com/pools/testIaasPool/nodes/tvm-587366007_1-20160404t091749z\",\r\n  \"state\": \"idle\",\r\n  \"schedulingState\": \"enabled\",\r\n  \"stateTransitionTime\": \"2016-04-04T09:34:55.415483Z\",\r\n  \"lastBootTime\": \"2016-04-04T09:34:55.276291Z\",\r\n  \"allocationTime\": \"2016-04-04T09:17:49.7952887Z\",\r\n  \"ipAddress\": \"10.0.0.4\",\r\n  \"affinityId\": \"TVM:tvm-587366007_1-20160404t091749z\",\r\n  \"vmSize\": \"standard_a1\",\r\n  \"totalTasksRun\": 0,\r\n  \"totalTasksSucceeded\": 0,\r\n  \"runningTasksCount\": 0\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/testIaasPool/nodes/tvm-587366007_1-20160404t091749z/remoteloginsettings?api-version=2016-02-01.3.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 06 Apr 2016 01:02:29 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstestaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings\",\r\n  \"remoteLoginIPAddress\": \"13.92.193.250\",\r\n  \"remoteLoginPort\": 50000\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://pstestaccount.eastus.batch.azure.com/pools/testIaasPool/nodes/tvm-587366007_1-20160404t091749z/remoteloginsettings"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "46241355-bb95-46a9-ba6c-42b554d71925",
    "AZURE_BATCH_ACCOUNT": "pstestaccount",
    "AZURE_BATCH_ENDPOINT": "https://pstestaccount.eastus.batch.azure.com"
  }
}