{
  "Entries": [
    {
      "RequestUri": "/pools/testPool/nodes?api-version=2018-03-01.6.1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 06 Jun 2018 01:01:29 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#nodes\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"tvm-3840119875_1-20180606t005645z\",\r\n      \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/testPool/nodes/tvm-3840119875_1-20180606t005645z\",\r\n      \"state\": \"idle\",\r\n      \"schedulingState\": \"enabled\",\r\n      \"stateTransitionTime\": \"2018-06-06T01:00:51.860284Z\",\r\n      \"lastBootTime\": \"2018-06-06T01:00:50.462955Z\",\r\n      \"allocationTime\": \"2018-06-06T00:56:45.3586019Z\",\r\n      \"ipAddress\": \"100.73.160.207\",\r\n      \"affinityId\": \"TVM:tvm-3840119875_1-20180606t005645z\",\r\n      \"vmSize\": \"standard_d1_v2\",\r\n      \"totalTasksRun\": 0,\r\n      \"totalTasksSucceeded\": 0,\r\n      \"runningTasksCount\": 0,\r\n      \"startTask\": {\r\n        \"commandLine\": \"cmd /c echo hello\",\r\n        \"resourceFiles\": [],\r\n        \"userIdentity\": {\r\n          \"autoUser\": {\r\n            \"scope\": \"task\",\r\n            \"elevationLevel\": \"nonadmin\"\r\n          }\r\n        },\r\n        \"maxTaskRetryCount\": 0,\r\n        \"waitForSuccess\": true\r\n      },\r\n      \"startTaskInfo\": {\r\n        \"state\": \"completed\",\r\n        \"startTime\": \"2018-06-06T01:00:51.450462Z\",\r\n        \"endTime\": \"2018-06-06T01:00:51.813417Z\",\r\n        \"exitCode\": 0,\r\n        \"result\": \"Success\",\r\n        \"retryCount\": 0\r\n      },\r\n      \"isDedicated\": true\r\n    },\r\n    {\r\n      \"id\": \"tvm-3840119875_2-20180606t005645z\",\r\n      \"url\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/testPool/nodes/tvm-3840119875_2-20180606t005645z\",\r\n      \"state\": \"idle\",\r\n      \"schedulingState\": \"enabled\",\r\n      \"stateTransitionTime\": \"2018-06-06T00:59:51.973056Z\",\r\n      \"lastBootTime\": \"2018-06-06T00:59:50.501139Z\",\r\n      \"allocationTime\": \"2018-06-06T00:56:45.3586019Z\",\r\n      \"ipAddress\": \"100.73.156.166\",\r\n      \"affinityId\": \"TVM:tvm-3840119875_2-20180606t005645z\",\r\n      \"vmSize\": \"standard_d1_v2\",\r\n      \"totalTasksRun\": 0,\r\n      \"totalTasksSucceeded\": 0,\r\n      \"runningTasksCount\": 0,\r\n      \"startTask\": {\r\n        \"commandLine\": \"cmd /c echo hello\",\r\n        \"resourceFiles\": [],\r\n        \"userIdentity\": {\r\n          \"autoUser\": {\r\n            \"scope\": \"task\",\r\n            \"elevationLevel\": \"nonadmin\"\r\n          }\r\n        },\r\n        \"maxTaskRetryCount\": 0,\r\n        \"waitForSuccess\": true\r\n      },\r\n      \"startTaskInfo\": {\r\n        \"state\": \"completed\",\r\n        \"startTime\": \"2018-06-06T00:59:51.534433Z\",\r\n        \"endTime\": \"2018-06-06T00:59:51.910566Z\",\r\n        \"exitCode\": 0,\r\n        \"result\": \"Success\",\r\n        \"retryCount\": 0\r\n      },\r\n      \"isDedicated\": true\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/testPool/nodes/tvm-3840119875_1-20180606t005645z?api-version=2018-03-01.6.1&$select=id%2Cstate",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 06 Jun 2018 01:01:29 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#nodes/@Element\",\r\n  \"id\": \"tvm-3840119875_1-20180606t005645z\",\r\n  \"state\": \"idle\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/testPool/nodes/tvm-3840119875_1-20180606t005645z?api-version=2018-03-01.6.1",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 06 Jun 2018 01:01:33 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://matthchrwestcentralus.westcentralus.batch.azure.com/$metadata#nodes/@Element\",\r\n  \"id\": \"tvm-3840119875_1-20180606t005645z\",\r\n  \"url\": \"https://matthchr[...]
[...]
    {
      "RequestUri": "/pools/testPool/nodes/tvm-3840119875_1-20180606t005645z/reboot?api-version=2018-03-01.6.1",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"nodeRebootOption\": \"terminate\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Wed, 06 Jun 2018 01:01:33 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/testPool/nodes/tvm-3840119875_1-20180606t005645z/reboot"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/pools/testPool/nodes/tvm-3840119875_2-20180606t005645z/reimage?api-version=2018-03-01.6.1",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"nodeReimageOption\": \"terminate\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Wed, 06 Jun 2018 01:01:34 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://matthchrwestcentralus.westcentralus.batch.azure.com/pools/testPool/nodes/tvm-3840119875_2-20180606t005645z/reimage"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "2915bbd6-1252-405f-8173-6c00428146d9",
    "AZURE_BATCH_ACCOUNT": "matthchrwestcentralus",
    "AZURE_BATCH_ENDPOINT": "https://matthchrwestcentralus.westcentralus.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "matthchrwestcentralus"
  }
}