{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.PolicyInsights/policyMetadata?api-version=2019-10-01&$top=10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-policy-insights-requests": [
          "187"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"metadataId\": \"Microsoft Managed Control 1000\",\r\n        \"category\": \"Access Control\",\r\n        \"title\": \"Access Control Policy And Procedures\",\r\n        \"owner\": \"Azure Information System Security Officer, Azure C+AI Security\",\r\n        \"additionalContentUrl\": \"\",\r\n        \"metadata\": {}\r\n      },\r\n      \"id\": \"/providers/Microsoft.PolicyInsights/policyMetadata/ACF1000\",\r\n      \"name\": \"ACF1000\",\r\n      \"type\": \"Microsoft.PolicyInsights/policyMetadata\"\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"metadataId\": \"Microsoft Managed Control 1001\",\r\n        \"category\": \"Access Control\",\r\n        \"title\": \"Access Control Policy And Procedures\",\r\n        \"owner\": \"Azure Information System Security Officer, Azure C+AI Security\",\r\n        \"additionalContentUrl\": \"\",\r\n        \"metadata\": {}\r\n      },\r\n      \"id\": \"/providers/Microsoft.PolicyInsights/policyMet[...]
