{
  "New-AzWorkloadsProviderHanaDbInstanceObject+[NoContext]+__AllParameterSets+$PUT+https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-160323-ams7/providerInstances/suha-hana-1?api-version=2023-04-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-160323-ams7/providerInstances/suha-hana-1?api-version=2023-04-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"providerSettings\": {\r\n      \"providerType\": \"SapHana\",\r\n      \"hostname\": \"10.0.81.4\",\r\n      \"dbName\": \"SYSTEMDB\",\r\n      \"sqlPort\": \"1433\",\r\n      \"instanceNumber\": \"00\",\r\n      \"dbUsername\": \"SYSTEM\",\r\n      \"dbPassword\": \"mX5Ext661bQN\",\r\n      \"sslPreference\": \"Disabled\",\r\n      \"sapSid\": \"X00\"\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"00005202-0000-3400-0000-641444000000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/d5e7d81e-689c-4a71-bab6-ed228e5d166f*9E7D6F5F0E8D3B8B7F1F3B235B0239BBBE817CB3A1CF597449BF35E7F559EF75?api-version=2023-04-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-160323-ams7/providerInstances/suha-hana-1\",\"name\":\"suha-hana-1\",\"type\":\"microsoft.workloads/monitors/providerinstances\",\"systemData\":{\"createdBy\":\"sshrivastava@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-03-16T10:36:26.5508586Z\",\"lastModifiedBy\":\"sshrivastava@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-03-17T10:42:06.9582855Z\"},\"properties\":{\"provisioningState\":\"Accepted\",\"providerSettings\":{\"providerType\":\"SapHana\",\"hostname\":\"10.0.81.4\",\"dbName\":\"SYSTEMDB\",\"sqlPort\":\"1433\",\"instanceNumber\":\"00\",\"dbUsername\":\"SYSTEM\",\"sslPreference\":\"Disabled\",\"sapSid\":\"X00\"}}}",
    }
  },
  "New-AzWorkloadsProviderHanaDbInstanceObject+[NoContext]+__AllParameterSets+$GET+https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/d5e7d81e-689c-4a71-bab6-ed228e5d166f*9E7D6F5F0E8D3B8B7F1F3B235B0239BBBE817CB3A1CF597449BF35E7F559EF75?api-version=2023-04-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/d5e7d81e-689c-4a71-bab6-ed228e5d166f*9E7D6F5F0E8D3B8B7F1F3B235B0239BBBE817CB3A1CF597449BF35E7F559EF75?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"0000b640-0000-3400-0000-641444000000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11988" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/d5e7d81e-689c-4a71-bab6-ed228e5d166f*9E7D6F5F0E8D3B8B7F1F3B235B0239BBBE817CB3A1CF597449BF35E7F559EF75\",\"name\":\"d5e7d81e-689c-4a71-bab6-ed228e5d166f*9E7D6F5F0E8D3B8B7F1F3B235B0239BBBE817CB3A1CF597449BF35E7F559EF75\",\"resourceId\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-160323-ams7/providerInstances/suha-hana-1\",\"status\":\"Accepted\",\"startTime\":\"2023-03-17T10:42:08.1067848Z\"}",
    }
  },
  "New-AzWorkloadsProviderHanaDbInstanceObject+[NoContext]+__AllParameterSets+$GET+https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/d5e7d81e-689c-4a71-bab6-ed228e5d166f*9E7D6F5F0E8D3B8B7F1F3B235B0239BBBE817CB3A1CF597449BF35E7F559EF75?api-version=2023-04-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com[...]
