{
  "Entries": [
    {
      "RequestUri": "/subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourcegroups/System.local/providers/Microsoft.Storage.Admin/farms?api-version=2015-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/1346c918-6b29-4d63-afb1-7f5767f1550b\",\r\n      \"name\": \"1346c918-6b29-4d63-afb1-7f5767f1550b\",\r\n      \"type\": \"Microsoft.Storage.Admin/farms\",\r\n      \"location\": \"local\",\r\n      \"properties\": {\r\n        \"farmId\": \"1346c918-6b29-4d63-afb1-7f5767f1550b\",\r\n        \"version\": \"2015-12-01-preview\",\r\n        \"settingsStore\": \"AzS-ACS01.azurestack.local:19000\",\r\n        \"settings\": {\r\n          \"settingsPollingIntervalInSecond\": 60,\r\n          \"retentionPeriodForDeletedStorageAccountsInDays\": 0,\r\n          \"hostStyleHttpPort\": 0,\r\n          \"hostStyleHttpsPort\": 0,\r\n          \"corsAllowedOriginsList\": \"https://adminportal.local.azurestack.external/;https://adminportal.local.azurestack.external:12649/;https://portal.local.azurestack.external/;https://portal.local.azurestack.external:12649/\",\r\n          \"dataCenterUriHostSuffixes\": \"local.azurestack.external\",\r\n          \"bandwidthThrottleIsEnabled\": false,\r\n          \"usageCollectionIntervalInSeconds\": 10,\r\n          \"feedbackRefreshIntervalInSeconds\": 10,\r\n          \"numberOfAccountsToSync\": 20,\r\n          \"defaultThrottleProbabilityDecayIntervalInSeconds\": 240,\r\n          \"gracePeriodForFullThrottlingInRefreshIntervals\": 3,\r\n          \"gracePeriodMaxThrottleProbability\": 0.9,\r\n          \"overallRequestThresholdInTps\": 10000.0,\r\n          \"defaultRequestThresholdInTps\": 200.0,\r\n          \"minimumRequestThresholdInTps\": 1.0,\r\n          \"toleranceFactorForTps\": 2.0,\r\n          \"overallIngressThresholdInGbps\": 25.0,\r\n          \"defaultIngressThresholdInGbps\": 2.0,\r\n          \"minimumIngressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForIngress\": 2.0,\r\n          \"overallIntranetIngressThresholdInGbps\": 25.0,\r\n          \"defaultIntranetIngressThresholdInGbps\": 2.0,\r\n          \"minimumIntranetIngressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForIntranetIngress\": 2.0,\r\n          \"overallEgressThresholdInGbps\": 30.0,\r\n          \"defaultEgressThresholdInGbps\": 3.0,\r\n          \"minimumEgressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForEgress\": 2.0,\r\n          \"overallIntranetEgressThresholdInGbps\": 30.0,\r\n          \"defaultIntranetEgressThresholdInGbps\": 3.0,\r\n          \"minimumIntranetEgressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForIntranetEgress\": 2.0,\r\n          \"overallTotalIngressThresholdInGbps\": 50.0,\r\n          \"defaultTotalIngressThresholdInGbps\": 5.0,\r\n          \"minimumTotalIngressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForTotalIngress\": 2.0,\r\n          \"overallTotalEgressThresholdInGbps\": 50.0,\r\n          \"defaultTotalEgressThresholdInGbps\": 5.0,\r\n          \"minimumTotalEgressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForTotalEgress\": 2.0\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvshHNCB/zRXmX3T7tKdCp5iLBRNDzAg4YcHm57MYMv/8oYFm9WVR3rrusCWkW7FDRKcS6sQyLHwhrH89WKAtnhBCXus5aoIfC4IqmjyEfMvUKZmaFSjZhOshRkMbnYJXPuiQxmlOiu6wkRGrcF8vR"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14528"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourcegroups/System.local/providers/Microsoft.Storage.Admin/farms/1346c918-6b29-4d63-afb1-7f5767f1550b/tableservices/default?api-version=2015-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/1346c918-6b29-4d63-afb1-7f5767f1550b/tableservices/default\",\r\n  \"name\": \"1346c918-6b29-4d63-afb1-7f5767f1550b/default\",\r\n  \"type\": \"Microsoft.Storage.Admin/farms/tableservices\",\r\n  \"location\": \"local\",\r\n  \"properties\": {\r\n    \"settings\": {\r\n      \"frontEndHttpListenPort\": 11002,\r\n      \"frontEndHttpsListenPort\": 11102,\r\n      \"frontEndCallbackThreadsCount\": 1600,\r\n      \"frontEndCpuBasedKeepAliveThrottlingEnabled\": true,\r\n      \"frontEndCpuBasedKeepAliveThrottlingPercentCpuThreshold\": 90.0,\r\n      \"frontEndCpuBasedKeepAliveThrottlingPercentRequestsToThrottle\": 2.0,\r\n      \"frontEndCpuBasedKeepAliveThrottlingCpuMonitorIntervalInSeconds\": 5,\r\n      \"frontEndMemoryThrottlingEnabled\": true,\r\n      \"frontEndMaxMillisecondsBetweenMemorySamples\": 10000,\r\n      \"frontEndMemoryThrottleThresholdSettings\": \"5,100,0;7,50,0;10,25,0;15,0,25;\",\r\n      \"frontEndMinThreadPoolThreads\": 1850,\r\n      \"frontEndThreadPoolBasedKeepAliveIOCompletionThreshold\": 1500,\r\n      \"frontEndThreadPoolBasedKeepAliveWorkerThreadThreshold\": 1500,\r\n      \"frontEndThreadPoolBasedKeepAliveMonitorIntervalInSeconds\": 30,\r\n      \"frontEndThreadPoolBasedKeepAlivePercentage\": 10.0,\r\n      \"frontEndUseSlaTimeInAvailability\": true\r\n    },\r\n    \"version\": \"1.0\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv+h4VY0p1FakZX+cpsZOpw+LWLu1duU2Sdgqrg3DyxUWf2d1yEBa7RKkYjSMLf78Pt4GeMLo4NoNBkJJaoKz6ApN0/+jqxiVjkGC30K8j0/TnnK+dt9K/Qor4jK8sYFjVHs0utlsx90CWlmvK/THB"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14527"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "8ab2551d-41e5-489b-9273-1cdf1cbc7dc6"
  }
}