{
  "Entries": [
    {
      "RequestUri": "/subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourcegroups/System.local/providers/Microsoft.Storage.Admin/farms?api-version=2015-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/1346c918-6b29-4d63-afb1-7f5767f1550b\",\r\n      \"name\": \"1346c918-6b29-4d63-afb1-7f5767f1550b\",\r\n      \"type\": \"Microsoft.Storage.Admin/farms\",\r\n      \"location\": \"local\",\r\n      \"properties\": {\r\n        \"farmId\": \"1346c918-6b29-4d63-afb1-7f5767f1550b\",\r\n        \"version\": \"2015-12-01-preview\",\r\n        \"settingsStore\": \"AzS-ACS01.azurestack.local:19000\",\r\n        \"settings\": {\r\n          \"settingsPollingIntervalInSecond\": 60,\r\n          \"retentionPeriodForDeletedStorageAccountsInDays\": 0,\r\n          \"hostStyleHttpPort\": 0,\r\n          \"hostStyleHttpsPort\": 0,\r\n          \"corsAllowedOriginsList\": \"https://adminportal.local.azurestack.external/;https://adminportal.local.azurestack.external:12649/;https://portal.local.azurestack.external/;https://portal.local.azurestack.external:12649/\",\r\n          \"dataCenterUriHostSuffixes\": \"local.azurestack.external\",\r\n          \"bandwidthThrottleIsEnabled\": false,\r\n          \"usageCollectionIntervalInSeconds\": 10,\r\n          \"feedbackRefreshIntervalInSeconds\": 10,\r\n          \"numberOfAccountsToSync\": 20,\r\n          \"defaultThrottleProbabilityDecayIntervalInSeconds\": 240,\r\n          \"gracePeriodForFullThrottlingInRefreshIntervals\": 3,\r\n          \"gracePeriodMaxThrottleProbability\": 0.9,\r\n          \"overallRequestThresholdInTps\": 10000.0,\r\n          \"defaultRequestThresholdInTps\": 200.0,\r\n          \"minimumRequestThresholdInTps\": 1.0,\r\n          \"toleranceFactorForTps\": 2.0,\r\n          \"overallIngressThresholdInGbps\": 25.0,\r\n          \"defaultIngressThresholdInGbps\": 2.0,\r\n          \"minimumIngressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForIngress\": 2.0,\r\n          \"overallIntranetIngressThresholdInGbps\": 25.0,\r\n          \"defaultIntranetIngressThresholdInGbps\": 2.0,\r\n          \"minimumIntranetIngressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForIntranetIngress\": 2.0,\r\n          \"overallEgressThresholdInGbps\": 30.0,\r\n          \"defaultEgressThresholdInGbps\": 3.0,\r\n          \"minimumEgressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForEgress\": 2.0,\r\n          \"overallIntranetEgressThresholdInGbps\": 30.0,\r\n          \"defaultIntranetEgressThresholdInGbps\": 3.0,\r\n          \"minimumIntranetEgressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForIntranetEgress\": 2.0,\r\n          \"overallTotalIngressThresholdInGbps\": 50.0,\r\n          \"defaultTotalIngressThresholdInGbps\": 5.0,\r\n          \"minimumTotalIngressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForTotalIngress\": 2.0,\r\n          \"overallTotalEgressThresholdInGbps\": 50.0,\r\n          \"defaultTotalEgressThresholdInGbps\": 5.0,\r\n          \"minimumTotalEgressThresholdInGbps\": 0.0008,\r\n          \"toleranceFactorForTotalEgress\": 2.0\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvxtnRJrBncISSDKGeDxvbkJQdhqyRmDDRLM3KEoNG/vrQR7RzmLqETSi/lSSm85PyQgKao1ZXsZymjEWGSaKbSDL/UJ8JETEW0NmtEMzXEn64wUvEDDWg7R7aB156Tj1FDjjvdwCzB1KMQQDk14Tm"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14422"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourcegroups/System.local/providers/Microsoft.Storage.Admin/farms/1346c918-6b29-4d63-afb1-7f5767f1550b/acquisitions?api-version=2015-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "[\r\n  {\r\n    \"id\": \"/subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/1346c918-6b29-4d63-afb1-7f5767f1550b/acquisitions/070a9487-a940-4273-8d38-e7d2b9b7685a\",\r\n    \"name\": \"1346c918-6b29-4d63-afb1-7f5767f1550b/070a9487-a940-4273-8d38-e7d2b9b7685a\",\r\n    \"type\": \"Microsoft.Storage.Admin/farms/acquisitions\",\r\n    \"location\": \"local\",\r\n    \"properties\": {\r\n      \"filePath\": \"C:\\\\ClusterStorage\\\\Volume1\\\\SHARES\\\\SU1_OBJSTORE\\\\BlobService\\\\Partition_00001_{64AC5FAE-5533-47F0-AD9D-1B099E5CBCD1}\\\\satestdeployment\\\\vhds_d7\\\\81b025bd-0752-42fb-9c4b-f58538da811a.vhd\",\r\n      \"maximumblobsize\": 32212255232,\r\n      \"status\": \"Success\",\r\n      \"susbcriptionid\": \"8ab2551d-41e5-489b-9273-1cdf1cbc7dc6\",\r\n      \"storageaccount\": \"satestdeployment\",\r\n      \"container\": \"vhds\",\r\n      \"blob\": \"osdisk.vhd\",\r\n      \"acquisitionid\": \"070a9487-a940-4273-8d38-e7d2b9b7685a\"\r\n    }\r\n  },\r\n  {\r\n    \"id\": \"/subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/1346c918-6b29-4d63-afb1-7f5767f1550b/acquisitions/a64e46a0-feb5-408e-8835-f1d293feab59\",\r\n    \"name\": \"1346c918-6b29-4d63-afb1-7f5767f1550b/a64e46a0-feb5-408e-8835-f1d293feab59\",\r\n    \"type\": \"Microsoft.Storage.Admin/farms/acquisitions\",\r\n    \"location\": \"local\",\r\n    \"prope[...]
