{
  "Remove-AzTimeSeriesInsightsEventSource+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/tsi-test-7tfe3n/providers/Microsoft.TimeSeriesInsights/environments/rstr-p9he3s/eventsources/rstr-6u8fco?api-version=2020-05-15+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/tsi-test-7tfe3n/providers/Microsoft.TimeSeriesInsights/environments/rstr-p9he3s/eventsources/rstr-6u8fco?api-version=2020-05-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "61" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 204,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14992" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  },
  "Remove-AzTimeSeriesInsightsEventSource+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/tsi-test-7tfe3n/providers/Microsoft.TimeSeriesInsights/environments/rstr-p9he3s/eventSources?api-version=2020-05-15+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/tsi-test-7tfe3n/providers/Microsoft.TimeSeriesInsights/environments/rstr-p9he3s/eventSources?api-version=2020-05-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "62" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11916" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"value\":[]}"
    }
  },
  "Remove-AzTimeSeriesInsightsEventSource+[NoContext]+DeleteViaIdentity+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/tsi-test-7tfe3n/providers/Microsoft.TimeSeriesInsights/environments/tsi-envf4bmgi/eventsources/tsi-es7290p4?api-version=2020-05-15+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/tsi-test-7tfe3n/providers/Microsoft.TimeSeriesInsights/environments/tsi-envf4bmgi/eventsources/tsi-es7290p4?api-version=2020-05-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "63" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11915" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"kind\":\"Microsoft.EventHub\",\"location\":\"EastUs2\",\"tags\":null,\"properties\":{\"eventSourceResourceId\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/tsi-test-7tfe3n/providers/Microsoft.EventHub/namespaces/eventhubspace-ibonus/eventhubs/eventhubname-yf0sp4\",\"consumerGroupName\":\"tsi-test-7tfe3n\",\"eventHubName\":\"eventhubname-yf0sp4\",\"keyName\":\"RootManageSharedAccessKey\",\"serviceBusNamespace\":\"eventhubspace-ibonus\",\"creationTime\":\"2020-07-29T04:20:48.6498087Z\",\"provisioningState\":\"Succeeded\"},\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/tsi-test-7tfe3n/providers/Microsoft.TimeSeriesInsights/environments/tsi-envf4bmgi/eventsources/tsi-es7290p4\",\"name\":\"tsi-es7290p4\",\"type\":\"Microsoft.TimeSeriesInsights/Environments/EventSources\"}"
    }
  },
  "Remove-AzTimeSeriesInsightsEventSource+[NoContext]+DeleteViaIdentity+$DELETE+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/tsi-test-7tfe3n/providers/Microsoft.TimeSeriesInsights/environments/tsi-envf4bmgi/eventsources/tsi-es7290p4?api-version=2020-05-15+2": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-[...]
