{
  "Variables": {
    "SubscriptionId": "6bb9d374-1f0d-437e-8bbe-4bc892850065"
  },
  "Names": {
    "Test-ProfileCrudWithRecordType": [
      "ps5200",
      "ps5100",
      "ps5300"
    ]
  },
  "Entries": [
    {
      "RequestMethod": "PUT",
      "ResponseBody": "{\"location\":\"westus\",\"name\":\"ps5100\",\"id\":\"/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065/resourceGroups/ps5100\",\"properties\":{\"provisioningState\":\"Succeeded\"}}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestHeaders": {
      },
      "RequestUri": "/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065/resourcegroups/ps5100?api-version=2016-09-01",
      "RequestBody": "",
      "StatusCode": 201
    },
    {
      "RequestMethod": "GET",
      "ResponseBody": "{\"error\":{\"message\":\"The profile 'ps5200' does not exist.\",\"code\":\"NotFound\"}}",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestHeaders": {
      },
      "RequestUri": "/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065/resourceGroups/ps5100/providers/Microsoft.Network/trafficmanagerprofiles/ps5200?api-version=2024-04-01-preview",
      "RequestBody": "",
      "StatusCode": 404
    },
    {
      "RequestMethod": "PUT",
      "ResponseBody": "{\"id\":\"/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065/resourceGroups/ps5100/providers/Microsoft.Network/trafficManagerProfiles/ps5200\",\"type\":\"Microsoft.Network/trafficManagerProfiles\",\"tags\":{},\"location\":\"global\",\"properties\":{\"trafficViewEnrollmentStatus\":\"Disabled\",\"monitorConfig\":{\"protocol\":\"HTTP\",\"toleratedNumberOfFailures\":3,\"timeoutInSeconds\":10,\"intervalInSeconds\":30,\"path\":\"/testpath.asp\",\"profileMonitorStatus\":\"Inactive\",\"port\":80},\"trafficRoutingMethod\":\"Performance\",\"recordType\":\"A\",\"maxReturn\":null,\"dnsConfig\":{\"relativeName\":\"ps5300\",\"fqdn\":\"ps5300.trafficmanager.net\",\"ttl\":50},\"endpoints\":[],\"profileStatus\":\"Enabled\"},\"name\":\"ps5200\"}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "4499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestHeaders": {
      },
      "RequestUri": "/subscriptions/6bb9d374-1f0d-437e-8bbe-4bc892850065/resourceGroups/ps5100/providers/Microsoft.Network/trafficmanagerprofiles/ps5200?api-version=2024-04-01-preview",
      "RequestBody": "",
     [...]
