{
  "Entries": [
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/providers/Microsoft.OperationalInsights?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/providers/Microsoft.OperationalInsights\",\r\n  \"namespace\": \"Microsoft.OperationalInsights\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"d2a0a418-0aac-4541-82b2-b3142c89da77\",\r\n      \"roleDefinitionId\": \"86695298-2eb9-48a7-9ec3-2fdb38b6878b\"\r\n    },\r\n    {\r\n      \"applicationId\": \"ca7f3f0b-7d91-482c-8e09-c5d840d0eac5\",\r\n      \"roleDefinitionId\": \"5d5a2e56-9835-44aa-93db-d2f19e155438\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"workspaces\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"West Europe\",\r\n        \"Southeast Asia\",\r\n        \"Australia Southeast\",\r\n        \"West Central US\",\r\n        \"Japan East\",\r\n        \"UK South\",\r\n        \"Central India\",\r\n        \"Canada Central\",\r\n        \"West US 2\",\r\n        \"Australia Central\",\r\n        \"Australia East\",\r\n        \"France Central\",\r\n        \"Korea Central\",\r\n        \"North Europe\",\r\n        \"Central US\",\r\n        \"East Asia\",\r\n        \"East US 2\",\r\n        \"South Central US\",\r\n        \"North Central US\",\r\n        \"West US\",\r\n        \"UK West\",\r\n        \"South Africa North\",\r\n        \"Brazil South\",\r\n        \"Switzerland North\",\r\n        \"Switzerland West\",\r\n        \"Germany West Central\",\r\n        \"Australia Central 2\",\r\n        \"UAE Central\",\r\n        \"UAE North\",\r\n        \"Japan West\",\r\n        \"Brazil Southeast\",\r\n        \"Norway East\",\r\n        \"Norway West\",\r\n        \"France South\",\r\n        \"South India\",\r\n        \"Korea South\",\r\n        \"Jio India Central\",\r\n        \"Jio India West\",\r\n        \"Canada East\",\r\n        \"West US 3\",\r\n        \"Sweden Central\",\r\n        \"East US 2 EUAP\",\r\n        \"Qatar Central\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2021-12-01-preview\",\r\n        \"2021-06-01\",\r\n        \"2021-03-01-privatepreview\",\r\n        \"2020-10-01\",\r\n        \"2020-08-01\",\r\n        \"2020-03-01-preview\",\r\n        \"2017-04-26-preview\",\r\n        \"2017-03-15-preview\",\r\n        \"2017-03-03-preview\",\r\n        \"2017-01-01-preview\",\r\n        \"2015-11-01-preview\",\r\n        \"2015-03-20\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"querypacks\",\r\n      \"locations\": [\r\n        \"West Central US\",\r\n        \"East US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"Southeast Asia\",\r\n        \"West US 2\",\r\n        \"UK South\",\r\n        \"Canada Central\",\r\n        \"Central India\",\r\n        \"Japan East\",\r\n        \"Australia East\"[...]
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps2613?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourceGroups/ps2613\",\r\n  \"name\": \"ps2613\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps2613/providers/Microsoft.OperationalInsights/workspaces/AzTestps2028?api-version=2021-12-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"pergb2018\"\r\n    },\r\n    \"features\": {}\r\n  },\r\n  \"tags\": {\r\n    \"tag1\": \"val1\"\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"efb446d8-28f6-4dbe-8ada-0c61f6c2f792\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n      \"lastSkuUpdate\": \"Thu, 07 Jul 2022 13:08:37 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\": \"Thu, 07 Jul 2022 20:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\",\r\n    \"createdDate\": \"Thu, 07 Jul 2022 13:08:37 GMT\",\r\n    \"modifiedDate\": \"Thu, 07 Jul 2022 13:08:37 GMT\"\r\n  },\r\n  \"id\": \"/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps2613/providers/microsoft.operationalinsights/workspaces/aztestps2028\",\r\n  \"name\": \"AzTestps2028\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\": \"East US\",\r\n  \"tags\": {\r\n    \"tag1\": \"val1\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps2613/providers/Microsoft.OperationalInsights/workspaces/AzTestps2028?api-version=2021-12-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"pergb2018\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\",\r\n    \"features\": {}\r\n  },\r\n  \"tags\": {\r\n    \"foo\": \"bar\",\r\n    \"foo2\": \"bar2\"\r\n  },\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"efb446d8-28f6-4dbe-8ada-0c61f6c2f792\",[...]
[...]
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps2613/providers/Microsoft.OperationalInsights/workspaces/AzTestps2028?api-version=2021-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.OperationalInsights/workspaces/AzTestps2028' under resource group 'ps2613' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/providers/Microsoft.OperationalInsights/workspaces?api-version=2021-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "e826e3bf-43fc-47d2-be5a-b362fa745f1d",
          "7a802f57-33b7-4667-97be-943a7622489e",
          "",
          "",
          "",
          "",
          "",
          "f8cc4ffb-c82a-4b3b-8300-ca1c45e6e2e5",
          "",
          "",
          "28e8574d-5dc2-4399-965b-df94ded782a0",
          "",
          "",
          "",
          "",
          "8137893e-ac28-4655-8552-9c3a0887d643",
          "a64252b5-8f6e-4518-9837-1d8540273d8d",
          "86f6e206-3b6e-4a63-9fe5-e0a840837311",
          "",
          "",
          "",
          "",
          "2ed1baf1-0db6-44ed-a8a7-ab7b609fae84",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          "",
          ""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"source\": \"Azure\",\r\n        \"customerId\": \"f83d42b0-5b0f-47d1-bad1-00d057233dbb\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"sku\": {\r\n          \"name\": \"pergb2018\",\r\n          \"lastSkuUpdate\": \"Tue, 16 Nov 2021 08:40:39 GMT\"\r\n        },\r\n        \"retentionInDays\": 30,\r\n        \"features\": {\r\n          \"legacy\": 0,\r\n          \"searchVersion\": 1,\r\n          \"enableLogAccessUsingOnlyReso[...]
[...]
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps2613/providers/Microsoft.OperationalInsights/workspaces?api-version=2021-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"value\[...]
[...]
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps2613/providers/Microsoft.OperationalInsights/workspaces/AzTestps9266?api-version=2021-12-01-preview&force=false",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps2613/providers/Microsoft.OperationalInsights/deletedWorkspaces?api-version=2021-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "84594614-bfd8-447b-85b0-d2271bf9bd21",
          "c10f5e9e-2a0c-4cc5-a528-c6301b3082ed",
          "",
          "",
          "",
          [...]
[...]
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps2613/providers/Microsoft.OperationalInsights/workspaces/AzTestps2028?api-version=2021-12-01-preview&force=true",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/resourcegroups/ps2613?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzI2MTMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzI2MTMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzI2MTMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/57947cb5-aadd-4b6c-9e8e-27f545bb7bf5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzI2MTMtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-WorkspaceCreateUpdateDelete": [
      "ps2028",
      "ps2613",
      "ps9266"
    ]
  },
  "Variables": {
    "SubscriptionId": "57947cb5-aadd-4b6c-9e8e-27f545bb7bf5"
  }
}