<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="SecureDevelopmentTools" value="https://pkgs.dev.azure.com/SecurityTools/_packaging/SecureDevelopmentTools/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
