{
  "Entries": [
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps7179?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"eastus2euap\",\r\n  \"tags\": {\r\n    \"testtag\": \"testval\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7179\",\r\n  \"name\": \"ps7179\",\r\n  \"location\": \"eastus2euap\",\r\n  \"tags\": {\r\n    \"testtag\": \"testval\",\r\n    \"Created\": \"2023-05-11T01:36:55.7860497Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps7179/providers/Microsoft.Resources/deployments/ps7179?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"parameters\": {\r\n        \"newStorageAccountName\": {\r\n          \"defaultValue\": \"[concat('testvmssnrpacc', substring(uniqueString(resourceGroup().id), 0, 4))]\",\r\n          \"type\": \"string\"\r\n        },\r\n        \"storageAccountDomain\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"vmssnrptester\",\r\n          \"metadata\": {\r\n            \"description\": \"The domain of the storage account to be created.\"\r\n          }\r\n        },\r\n        \"adminUsername\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"xplatuser\"\r\n        },\r\n        \"adminPassword\": {\r\n          \"type\": \"securestring\",\r\n          \"defaultValue\": \"Pa$$word2017\"\r\n        },\r\n        \"storageLocation\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"Southeast Asia\",\r\n          \"metadata\": {\r\n            \"description\": \"Location to deploy\"\r\n          }\r\n        },\r\n        \"location\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"Southeast Asia\",\r\n          \"metadata\": {\r\n            \"description\": \"Location to deploy all the resources in.\"\r\n          }\r\n        },\r\n        \"newDomainName\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"testvmssnrpacc\"\r\n        },\r\n        \"vmssName\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"vmssip\"\r\n        },\r\n        \"imagePublisher\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"MicrosoftWindowsServer\",\r\n          \"metadata\": {\r\n            \"description\": \"Image Publisher\"\r\n          }\r\n        },\r\n        \"imageOffer\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"WindowsServer\",\r\n          \"metadata\": {\r\n            \"description\": \"Image Offer\"\r\n          }\r\n        },\r\n        \"imageSKU\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"2012-R2-Datacenter\",\r\n          \"metadata\": {\r\n            \"description\": \"Image SKU\"\r\n          }\r\n        },\r\n        \"instanceCount\": {\r\n          \"type\": \"string\",\r\n          \"defaultValue\": \"2\",\r\n          \"metadata\": {\r\n            \"description\": \"Number of VM instances\"\r\n          }\r\n        }\r\n      },\r\n      \"variables\": {\r\n        \"storageAccountType\": \"Standard_LRS\",\r\n        \"newStorageAccountName2\": \"[concat(parameters('newStorageAccountName'), '2')]\",\r\n        \"location\": \"[parameters('location')]\",\r\n        \"vnetName\": \"vnet1\",\r\n        \"pipName\": \"pip1\",\r\n        \"lbName\": \"lb1\",\r\n        \"nsgName\": \"nsg1\",\r\n        \"pipID\": \"[resourceId('Microsoft.Network/publicIPAddresses',variables('pipName'))]\",\r\n        \"lbID\": \"[resourceId('Microsoft.Network/loadBalancers',variables('lbName'))]\",\r\n        \"vnetID\": \"[resourceId('Microsoft.Network/virtualNetworks',variables('vnetName'))]\",\r\n        \"frontendIPConfigID\": \"[concat(variables('lbID'),'/frontendIPConfigurations/ip1')]\",\r\n        \"backendaddressPoolID\": \"[concat(variables('lbID'),'/backendAddressPools/addressPool1')]\",\r\n        \"inboundNatPoolID\": \"[concat(variables('lbID'),'/backendAddressPools/natPool1')]\",\r\n        \"subnetID\": \"[concat(variables('vnetID'),'/subnets/subnet1')]\"\r\n      },\r\n      \"resources\": [\r\n        {\r\n          \"type\": \"Microsoft.Storage/storageAccounts\",\r\n          \"name\": \"[parameters('newStorageAccountName')]\",\r\n          \"apiVersion\": \"2015-06-15\",\r\n          \"location\": \"[parameters('storageLocation')]\",\r\n          \"properties\": {\r\n            \"accountType\": \"[variables('storageAccountType')]\"\r\n          }\r\n        },\r\n        {\r\n          \"type\": \"Microsoft.Storage/storageAccounts\",\r\n          \"name\": \"[variables('newStorageAccountName2')]\",\r\n          \"apiVersion\": \"2015-06-15\",\r\n          \"location\": \"[parameters('storageLocation')]\",\r\n          \"properties\": {\r\n            \"accountType\": \"[variables('storageAccountType')]\"\r\n          }\r\n        },\r\n        {\r\n          \"apiVersion\": \"2015-06-15\",\r\n          \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n          \"name\": \"[variables('pipName')]\",\r\n          \"location\": \"[variables('location')]\",\r\n          \"properties\": {\r\n            \"publicIPAllocationMethod\": \"Dynamic\"\r\n          }\r\n        },\r\n        {\r\n          \"apiVersion\": \"2015-06-15\",\r\n          \"type\": \"Microsoft.Network/virtualNetworks\",\r\n          \"name\": \"[variables('vnetName')]\",\r\n          \"location\": \"[variables('location')]\",\r\n          \"properties\": {\r\n            \"addressSpace\": {\r\n              \"addressPrefixes\": [\r\n                \"10.0.0.0/16\"\r\n              ]\r\n            },\r\n            \"subnets\": [\r\n              {\r\n                \"name\": \"subnet1\",\r\n                \"properties\": {\r\n                  \"addressPrefix\": \"10.0.0.0/24\"\r\n                }\r\n              }\r\n            ]\r\n          }\r\n        },\r\n        {\r\n          \"apiVersion\": \"2015-06-15\",\r\n          \"name\": \"[variables('lbName')]\",\r\n          \"type\": \"Microsoft.Network/loadBalancers\",\r\n          \"location\": \"[variables('location')]\",\r\n          \"dependsOn\": [\r\n            \"[concat('Microsoft.Network/publicIPAddresses/', variables('pipName'))]\"\r\n          ],\r\n          \"properties\": {\r\n            \"frontendIPConfigurations\": [\r\n              {\r\n                \"name\": \"ip1\",\r\n                \"properties\": {\r\n                  \"publicIPAddress\": {\r\n                    \"id\": \"[variables('pipID')]\"\r\n                  }\r\n                }\r\n              }\r\n            ],\r\n            \"backendAddressPools\": [\r\n              {\r\n                \"name\": \"addressPool1\"\r\n              }\r\n            ],\r\n            \"loadbalancingRules\": [\r\n              {\r\n                \"name\": \"lbrule1\",\r\n                \"properties\": {\r\n                  \"frontendIPConfiguration\": {\r\n                    \"id\": \"[variables('frontendIPConfigID')]\"\r\n                  },\r\n                  \"backendaddressPool\": {\r\n                    \"id\": \"[variables('backendaddressPoolID')]\"\r\n                  },\r\n                  \"protocol\": \"tcp\",\r\n                  \"frontendPort\": 80,\r\n                  \"backendPort\": 82\r\n                }\r\n              }\r\n            ],\r\n            \"inboundNatPools\": [\r\n              {\r\n                \"name\": \"natPool1\",\r\n                \"properties\": {\r\n                  \"frontendIPConfiguration\": {\r\n                    \"id\": \"[variables('frontendIPConfigID')]\"\r\n                  },\r\n                  \"protocol\": \"tcp\",\r\n                  \"frontendPortRangeStart\": 3389,\r\n                  \"frontendPortRangeEnd\": 4500,\r\n                  \"backendPort\": 3389\r\n                }\r\n              }\r\n            ]\r\n          }\r\n        },\r\n        {\r\n          \"apiVersion\": \"2015-06-15\",\r\n          \"location\": \"[variables('location')]\",\r\n          \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n          \"name\": \"[variables('nsgName')]\",\r\n          \"properties\": {\r\n            \"securityRules\": [\r\n              {\r\n                \"name\": \"ssh\",\r\n                \"properties\": {\r\n                  \"access\": \"Allow\",\r\n                  \"description\": \"Allow SSH\",\r\n                  \"destinationAddressPrefix\": \"*\",\r\n                  \"destinationPortRange\": \"22\",\r\n                  \"direction\": \"Inbound\",\r\n                  \"priority\": 201,\r\n                  \"protocol\": \"Tcp\",\r\n                  \"sourceAddressPrefix\": \"*\",\r\n                  \"sourcePortRange\": \"*\"\r\n                }\r\n              },\r\n              {\r\n                \"name\": \"swarm-listen-port\",\r\n                \"properties\": {\r\n                  \"access\": \"Allow\",\r\n                  \"description\": \"Allow 'swarm join' ingress to manager node\",\r\n                  \"destinationAddressPrefix\": \"10.0.0.0/24\",\r\n                  \"destinationPortRange\": \"2377\",\r\n                  \"direction\": \"Inbound\",\r\n                  \"priority\": 202,\[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps7179/providers/Microsoft.Resources/deployments/ps7179/operationStatuses/08585178378680511118?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11967"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Running\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps7179/providers/Microsoft.Resources/deployments/ps7179?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11953"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7179/providers/Microsoft.Resources/deployments/ps7179\",\r\n  \"name\": \"ps7179\",\r\n  \"properties\": {\r\n    \"templateHash\": \"8490319921552032509\",\r\n    \"parameters\": {\r\n      \"newStorageAccountName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"testvmssnrpaccaz5t\"\r\n      },\r\n      \"storageAccountDomain\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"vmssnrptester\"\r\n      },\r\n      \"adminUsername\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"xplatuser\"\r\n      },\r\n      \"adminPassword\": {\r\n        \"type\": \"SecureString\"\r\n      },\r\n      \"storageLocation\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"Southeast Asia\"\r\n      },\r\n      \"location\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"Southeast Asia\"\r\n      },\r\n      \"newDomainName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"testvmssnrpacc\"\r\n      },\r\n      \"vmssName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"vmssip\"\r\n      },\r\n      \"imagePublisher\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"MicrosoftWindowsServer\"\r\n      },\r\n      \"imageOffer\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"WindowsServer\"\r\n      },\r\n      \"imageSKU\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"2012-R2-Datacenter\"\r\n      },\r\n      \"instanceCount\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"2\"\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"timestamp\": \"2023-05-11T01:43:59.7925217Z\",\r\n    \"duration\": \"PT7M1.0115554S\",\r\n    \"correlationId\": \"09df0ded-b468-41e5-8cfc-1d75ece84883\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.Storage\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"storageAccounts\",\r\n            \"locations\": [\r\n              \"southeastasia\"\r\n            ]\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"namespace\": \"Microsoft.Network\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"publicIPAddresses\",\r\n            \"locations\": [\r\n              \"southeastasia\"\r\n            ]\r\n          },\r\n          {\r\n            \"resourceType\": \"virtualNetworks\",\r\n            \"locations\": [\r\n              \"southeastasia\"\r\n            ]\r\n          },\r\n          {\r\n            \"resourceType\": \"loadBalancers\",\r\n            \"locations\": [\r\n              \"southeastasia\"\r\n            ]\r\n          },\r\n          {\r\n            \"resourceType\": \"networkSecurityGroups\",\r\n            \"locations\": [\r\n              \"southeastasia\"\r\n            ]\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"namespace\": \"Microsoft.Compute\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"virtualMachineScaleSets\",\r\n            \"locations\": [\r\n              \"southeastasia\"\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": [\r\n      {\r\n        \"dependsOn\": [\r\n          {\r\n            \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7179/providers/Microsoft.Network/publicIPAddresses/pip1\",\r\n            \"resourceType\": \"Microsoft.Network/publicIPAddresses\",\r\n            \"resourceName\": \"pip1\"\r\n          }\r\n        ],\r\n        \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7179/providers/Microsoft.Network/loadBalancers/lb1\",\r\n        \"resourceType\": \"Microsoft.Network/loadBalancers\",\r\n        \"resourceName\": \"lb1\"\r\n      },\r\n      {\r\n        \"dependsOn\": [\r\n          {\r\n            \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7179/providers/Microsoft.Storage/storageAccounts/testv[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7179/providers/Microsoft.Compute/virtualMachineScaleSets/vmssip/publicipaddresses?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"pub1\",\r\n      \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7179/providers/Microsoft.Compute/virtualMachineScaleSets/vmssip/virtualMachines/0/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1\",\r\n      \"etag\": \"W/\\\"04239a5e-bc28-4acf-ad5c-2e9edc5d1a8a\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"3b9dc95b-5f5a-4282-b379-7d1a8fa2b949\",\r\n        \"publicIPAddressVersion\": \"IPv4\",\r\n        \"publicIPAllocationMethod\": \"Dynamic\",\r\n        \"idleTimeoutInMinutes\": 10,\r\n        \"dnsSettings\": {\r\n          \"domainNameLabel\": \"vm0.testvmssnrpacc\",\r\n          \"fqdn\": \"vm0.testvmssnrpacc.southeastasia.cloudapp.azure.com\"\r\n        },\r\n        \"ipTags\": [],\r\n        \"ipConfiguration\": {\r\n          \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7179/providers/Microsoft.Compute/virtualMachineScaleSets/vmssip/virtualMachines/0/networkInterfaces/nic1/ipConfigurations/ip1\"\r\n        }\r\n      },\r\n      \"sku\": {\r\n        \"name\": \"Basic\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"pub1\",\r\n      \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7179/providers/Microsoft.Compute/virtualMachineScaleSets/vmssip/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1\",\r\n      \"etag\": \"W/\\\"482f574e-615f-4e30-9689-a932b0b5c187\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"23cede6f-912f-425a-8506-553009ecfffe\",\r\n        \"ipAddress\": \"4.194.187.249\",\r\n        \"publicIPAddressVersion\": \"IPv4\",\r\n        \"publicIPAllocationMethod\": \"Dynamic\",\r\n        \"idleTimeoutInMinutes\": 10,\r\n        \"dnsSettings\": {\r\n          \"domainNameLabel\": \"vm1.testvmssnrpacc\",\r\n          \"fqdn\": \"vm1.testvmssnrpacc.southeastasia.cloudapp.azure.com\"\r\n        },\r\n        \"ipTags\": [],\r\n        \"ipConfiguration\": {\r\n          \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps71[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7179/providers/Microsoft.Compute/virtualMachineScaleSets/vmssip/virtualMachines/0/networkInterfaces/nic1/ipconfigurations/ip1/publicipaddresses?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11947"
        ],
        "Content-Type": [
      [...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7179/providers/Microsoft.Compute/virtualMachineScaleSets/vmssip/virtualMachines/0/networkInterfaces/nic1/ipconfigurations/ip1/publicipaddresses/pub1?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "ETag": [
          "W/\"04239a5e-bc28-4acf-ad5c-2e9edc5d1a8a\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pub1\",\r\n  \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7179/providers/Microsoft.Compute/virtualMachineScaleSets/vmssip/virtualMachines/0/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1\",\r\n  \"etag\": \"W/\\\"04239a5e-bc28-4acf-ad5c-2e9edc5d1a8a\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"3b9dc95b-5f5a-4282-b379-7d1a8fa2b949\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 10,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"vm0.testvmssnrpacc\",\r\n      \"fqdn\": \"vm0.testvmssnrpacc.southeastasia.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourceGroups/ps7179/providers/Microsoft.Compute/virtualMachineScaleSets/vmssip/virtualMachines/0/networkInterfaces/nic1/ipConfigurations/ip1\"\r\n    }\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/resourcegroups/ps7179?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzcxNzktRUFTVFVTMkVVQVAiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czJldWFwIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14990"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzcxNzktRUFTVFVTMkVVQVAiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czJldWFwIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzcxNzktRUFTVFVTMkVVQVAiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czJldWFwIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11981"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/947d47b4-7883-4bb9-9d85-c5e8e2f572ce/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzcxNzktRUFTVFVTMkVVQVAiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czJldWFwIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-PublicIpAddressVmss": [
      "ps7179",
      "ps8018",
      "ps3054"
    ]
  },
  "Variables": {
    "SubscriptionId": "947d47b4-7883-4bb9-9d85-c5e8e2f572ce"
  }
}