{
  "Entries": [
    {
      "RequestUri": "/%2Fsubscriptions%2F075423e9-7d33-4166-8bdf-3920b04e3735%2FresourceGroups%2FMichalResourceGroup%2Fproviders%2FMicrosoft.Devices%2FIotHubs%2FMichalDemoHub/providers/Microsoft.Security/deviceSecurityGroups/samplesecuritygroup?api-version=2019-08-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"timeWindowRules\": [\r\n      {\r\n        \"timeWindowSize\": \"PT5M\",\r\n        \"minThreshold\": 0,\r\n        \"maxThreshold\": 30,\r\n        \"isEnabled\": true,\r\n        \"ruleType\": \"ActiveConnectionsNotInAllowedRange\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "249"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/075423e9-7d33-4166-8bdf-3920b04e3735/resourceGroups/MichalResourceGroup/providers/Microsoft.Devices/IotHubs/MichalDemoHub/providers/Microsoft.Security/deviceSecurityGroups/samplesecuritygroup\",\r\n  \"name\": \"samplesecuritygroup\",\r\n  \"type\": \"Microsoft.Security/DeviceSecurityGroups\",\r\n  \"properties\": {\r\n    \"thresholdRules\": [],\r\n    \"timeWindowRules\": [\r\n      {\r\n        \"ruleType\": \"ActiveConnectionsNotInAllowedRange\",\r\n        \"displayName\": \"Number of active connections is not in allowed range\",\r\n        \"description\": \"Get an alert when the number of active connections of a device in the time window is not in the allowed range\",\r\n        \"isEnabled\": true,\r\n        \"minThreshold\": 0,\r\n        \"maxThreshold\": 30,\r\n        \"timeWindowSize\": \"PT5M\"\r\n      },\r\n      {\r\n        \"ruleType\": \"AmqpC2DMessagesNotInAllowedRange\",\r\n        \"displayName\": \"Number of cloud to device messages (AMQP protocol) is not in allowed range\",\r\n        \"description\": \"Get an alert when the n[...]
