{
  "Entries": [
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourcegroups/sql-ads-cmdlet-test-rgps9654?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654\",\r\n  \"name\": \"sql-ads-cmdlet-test-rgps9654\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps9654?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/sql-ads-cmdlet-serverps9654' under resource group 'sql-ads-cmdlet-test-rgps9654' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps9654?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11942"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sql-ads-cmdlet-serverps9654.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"restrictOutboundNetworkAccess\": \"Disabled\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps9654\",\r\n  \"name\": \"sql-ads-cmdlet-serverps9654\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps9654?api-version=2021-02-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!Sec\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/fbe762df-a15c-46b1-909d-d303c8802ded?api-version=2021-02-01-preview"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/fbe762df-a15c-46b1-909d-d303c8802ded?api-version=2021-02-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2022-03-07T17:04:24.637Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/fbe762df-a15c-46b1-909d-d303c8802ded?api-version=2021-02-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11949"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"fbe762df-a15c-46b1-909d-d303c8802ded\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2022-03-07T17:04:24.637Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps9654/databases/sql-ads-cmdlet-dbps9654?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/sql-ads-cmdlet-serverps9654/databases/sql-ads-cmdlet-dbps9654' under resource group 'sql-ads-cmdlet-test-rgps9654' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps9654/databases/sql-ads-cmdlet-dbps9654?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11934"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\",\r\n    \"capacity\": 5\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 2147483648,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"8d1b0009-1b00-47cb-bd60-a717d1d1a1da\",\r\n    \"creationDate\": \"2022-03-07T17:06:32.993Z\",\r\n    \"currentServiceObjectiveName\": \"Basic\",\r\n    \"requestedServiceObjectiveName\": \"Basic\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"readScale\": \"Disabled\",\r\n    \"currentSku\": {\r\n      \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"capacity\": 5\r\n    },\r\n    \"currentBackupStorageRedundancy\": \"Geo\",\r\n    \"requestedBackupStorageRedundancy\": \"Geo\",\r\n    \"maintenanceConfigurationId\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default\",\r\n    \"isLedgerOn\": false,\r\n    \"isInfraEncryptionEnabled\": false\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps9654/databases/sql-ads-cmdlet-dbps9654\",\r\n  \"name\": \"sql-ads-cmdlet-dbps9654\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/75ee0a61-a54b-4752-bd15-56374dfecc15?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11938"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"75ee0a61-a54b-4752-bd15-56374dfecc15\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2022-03-07T17:05:34.323Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps9654/securityAlertPolicies/Default?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11932"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"state\": \"Disabled\",\r\n    \"disabledAlerts\": [\r\n      \"\"\r\n    ],\r\n    \"emailAddresses\": [\r\n      \"\"\r\n    ],\r\n    \"emailAccountAdmins\": false,\r\n    \"storageEndpoint\": \"\",\r\n    \"storageAccountAccessKey\": \"\",\r\n    \"retentionDays\": 0,\r\n    \"creationTime\": \"0001-01-01T00:00:00Z\"\r\n  },\r\n  \"id\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps9654/securityAlertPolicies/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/securityAlertPolicies\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/providers/Microsoft.Sql/locations/westcentralus/securityAlertPoliciesAzureAsyncOperation/1dd9071d-0f41-4c08-85ad-5448c0abbf44?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11928"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"1dd9071d-0f41-4c08-85ad-5448c0abbf44\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2022-03-07T17:06:36.743Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps9654/vulnerabilityAssessments/default?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11891"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"recurringScans\": {\r\n      \"isEnabled\": false,\r\n      \"emailSubscriptionAdmins\": true\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps9654/vulnerabilityAssessments/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/vulnerabilityAssessments\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps9654/vulnerabilityAssessments/default?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11887"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageContainerPath\": \"https://sqlvag5dm5toeaenl4.blob.core.windows.net/vulnerability-assessment/\",\r\n    \"recurringScans\": {\r\n      \"isEnabled\": true,\r\n      \"emailSubscriptionAdmins\": true,\r\n      \"emails\": []\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps9654/vulnerabilityAssessments/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/vulnerabilityAssessments\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourcegroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Resources/deployments/EnableVA_sql-ads-cmdlet-test-srv1?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"parameters\": {\r\n        \"serverName\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"location\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"enableVa\": {\r\n          \"type\": \"bool\",\r\n          \"defaultValue\": true\r\n        }\r\n      },\r\n      \"variables\": {\r\n        \"subscriptionId\": \"[subscription().subscriptionId]\",\r\n        \"resourceGroupName\": \"[resourceGroup().name]\",\r\n        \"uniqueStorage\": \"[uniqueString(variables('subscriptionId'), variables('resourceGroupName'), parameters('location'))]\",\r\n        \"storageName\": \"[tolower(concat('sqlva', variables('uniqueStorage')))]\"\r\n      },\r\n      \"resources\": [\r\n        {\r\n          \"condition\": \"[parameters('enableVa')]\",\r\n          \"type\": \"Microsoft.Storage/storageAccounts\",\r\n          \"name\": \"[variables('storageName')]\",\r\n          \"apiVersion\": \"2019-04-01\",\r\n          \"location\": \"[parameters('location')]\",\r\n          \"sku\": {\r\n            \"name\": \"Standard_LRS\"\r\n          },\r\n          \"kind\": \"StorageV2\",\r\n          \"properties\": {\r\n            \"supportsHttpsTrafficOnly\": true\r\n          }\r\n        },\r\n        {\r\n          \"condition\": \"[parameters('enableVa')]\",\r\n          \"type\": \"Microsoft.Sql/servers/vulnerabilityAssessments\",\r\n          \"name\": \"[concat(parameters('serverName'), '/Default')]\",\r\n          \"apiVersion\": \"2018-06-01-preview\",\r\n          \"properties\": {\r\n            \"storageContainerPath\": \"[if(parameters('enableVa'), concat(reference(variables('storageName'), '2018-02-01').primaryEndpoints.blob, 'vulnerability-assessment'), '')]\",\r\n            \"storageAccountAccessKey\": \"[if(parameters('enableVa'), listKeys(variables('storageName'), '2018-02-01').keys[0].value, '')]\",\r\n            \"recurringScans\": {\r\n              \"isEnabled\": true,\r\n              \"emailSubscriptionAdmins\": true\r\n            }\r\n          },\r\n          \"dependsOn\": [\r\n            \"[concat('Microsoft.Storage/storageAccounts/', variables('storageName'))]\"\r\n          ]\r\n        }\r\n      ]\r\n    },\r\n    \"parameters\": {\r\n      \"serverName\": {\r\n        \"value\": \"sql-ads-cmdlet-serverps9654\"\r\n      },\r\n      \"location\": {\r\n        \"value\": \"westcentralus\"\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourcegroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Resources/deployments/EnableVA_sql-ads-cmdlet-test-srv1/operationStatuses/08585549340551701905?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Resources/deployments/EnableVA_sql-ads-cmdlet-test-srv1\",\r\n  \"name\": \"EnableVA_sql-ads-cmdlet-test-srv1\",\r\n  \"properties\": {\r\n    \"templateHash\": \"8848793624544363827\",\r\n    \"parameters\": {\r\n      \"serverName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"sql-ads-cmdlet-serverps9654\"\r\n      },\r\n      \"location\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"westcentralus\"\r\n      },\r\n      \"enableVa\": {\r\n        \"type\": \"Bool\",\r\n        \"value\": true\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"timestamp\": \"2022-03-07T17:07:11.9838389Z\",\r\n    \"duration\": \"PT0.000157S\",\r\n    \"correlationId\": \"a7e18107-bc7b-4a54-8c63-d3ecdb9fcb5b\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.Storage\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"storageAccounts\",\r\n            \"locations\": [\r\n              \"westcentralus\"\r\n            ]\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"namespace\": \"Microsoft.Sql\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"servers/vulnerabilityAssessments\",\r\n            \"locations\": [\r\n              null\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": [\r\n      {\r\n        \"dependsOn\": [\r\n          {\r\n            \"id\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Storage/storageAccounts/sqlvag5dm5toeaenl4\",\r\n            \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n            \"resourceName\": \"sqlvag5dm5toeaenl4\"\r\n          },\r\n          {\r\n            \"id\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Storage/storageAccounts/sqlvag5dm5toeaenl4\",\r\n            \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n            \"resourceName\": \"sqlvag5dm5toeaenl4\",\r\n            \"apiVersion\": \"2018-02-01\"\r\n          },\r\n          {\r\n            \"id\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Storage/storageAccounts/sqlvag5dm5toeaenl4\",\r\n            \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n            \"resourceName\": \"sqlvag5dm5toeaenl4\",\r\n            \"actionName\": \"listKeys\",\r\n            \"apiVersion\": \"2018-02-01\"\r\n          }\r\n        ],\r\n        \"id\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/sql-ads-cmdlet-test-rgps9654/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps9654/vulnerabilityAssessments/Default\",\r\n        \"resourceType\": \"Microsoft.Sql/servers/vulnerabilityAssessments\",\r\n        \"resourceName\": \"sql-ads-cmdlet-serverps9654/Default\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRBRFM6MkRDTURMRVQ6MkRURVNUOjJEUkdQUzk2NTQtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/8313371e-0879-428e-b1da-6353575a9192/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRBRFM6MkRDTURMRVQ6MkRURVNUOjJEUkdQUzk2NTQtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1TUUw6MkRBRFM6MkRDTURMRVQ6MkRURVNUOjJEUkdQUzk2NTQtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11982"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-AdvancedDataSecurityPolicyTest": [
      "ps9654"
    ]
  },
  "Variables": {
    "SubscriptionId": "8313371e-0879-428e-b1da-6353575a9192"
  }
}