{
  "Entries": [
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourcegroups/sql-ads-cmdlet-test-rgps7333?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333\",\r\n  \"name\": \"sql-ads-cmdlet-test-rgps7333\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps7333?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/sql-ads-cmdlet-serverps7333' under resource group 'sql-ads-cmdlet-test-rgps7333' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps7333?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sql-ads-cmdlet-serverps7333.database.windows.net\",\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps7333\",\r\n  \"name\": \"sql-ads-cmdlet-serverps7333\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps7333?api-version=2019-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!Sec\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/91f6a326-ac61-4564-a21a-bcd1283c06ed?api-version=2019-06-01-preview"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/91f6a326-ac61-4564-a21a-bcd1283c06ed?api-version=2019-06-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2020-09-14T00:43:10.47Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/91f6a326-ac61-4564-a21a-bcd1283c06ed?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"91f6a326-ac61-4564-a21a-bcd1283c06ed\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-09-14T00:43:10.47Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps7333/databases/sql-ads-cmdlet-dbps7333?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/sql-ads-cmdlet-serverps7333/databases/sql-ads-cmdlet-dbps7333' under resource group 'sql-ads-cmdlet-test-rgps7333' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps7333/databases/sql-ads-cmdlet-dbps7333?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\",\r\n    \"capacity\": 5\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 2147483648,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"d8c902ab-63e8-44d9-b692-65d603b2b077\",\r\n    \"creationDate\": \"2020-09-14T00:44:44.593Z\",\r\n    \"currentServiceObjectiveName\": \"Basic\",\r\n    \"requestedServiceObjectiveName\": \"Basic\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"earliestRestoreDate\": \"2020-09-14T01:14:44.593Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"readReplicaCount\": 0,\r\n    \"currentSku\": {\r\n      \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"capacity\": 5\r\n    },\r\n    \"storageAccountType\": \"GRS\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps7333/databases/sql-ads-cmdlet-dbps7333\",\r\n  \"name\": \"sql-ads-cmdlet-dbps7333\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/a3df29e8-5a12-494d-a689-d9b91f7f738e?api-version=2019-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"a3df29e8-5a12-494d-a689-d9b91f7f738e\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2020-09-14T00:43:57.157Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps7333/securityAlertPolicies/Default?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11981"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"state\": \"Disabled\",\r\n    \"disabledAlerts\": [\r\n      \"\"\r\n    ],\r\n    \"emailAddresses\": [\r\n      \"\"\r\n    ],\r\n    \"emailAccountAdmins\": false,\r\n    \"storageEndpoint\": \"\",\r\n    \"storageAccountAccessKey\": \"\",\r\n    \"retentionDays\": 0,\r\n    \"creationTime\": \"0001-01-01T00:00:00Z\"\r\n  },\r\n  \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps7333/securityAlertPolicies/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/securityAlertPolicies\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/providers/Microsoft.Sql/locations/westcentralus/securityAlertPoliciesAzureAsyncOperation/0b202c02-b52d-410f-92c6-63db98f31f90?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11977"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"0b202c02-b52d-410f-92c6-63db98f31f90\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2020-09-14T00:44:58.36Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps7333/vulnerabilityAssessments/default?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11940"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"recurringScans\": {\r\n      \"isEnabled\": false,\r\n      \"emailSubscriptionAdmins\": true\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps7333/vulnerabilityAssessments/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/vulnerabilityAssessments\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps7333/vulnerabilityAssessments/default?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11936"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageContainerPath\": \"https://sqlvajggjxncj5kcy6.blob.core.windows.net/vulnerability-assessment/\",\r\n    \"recurringScans\": {\r\n      \"isEnabled\": true,\r\n      \"emailSubscriptionAdmins\": true,\r\n      \"emails\": []\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps7333/vulnerabilityAssessments/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/vulnerabilityAssessments\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourcegroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Resources/deployments/EnableVA_sql-ads-cmdlet-test-srv1?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"parameters\": {\r\n        \"serverName\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"location\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"enableVa\": {\r\n          \"type\": \"bool\",\r\n          \"defaultValue\": true\r\n        }\r\n      },\r\n      \"variables\": {\r\n        \"subscriptionId\": \"[subscription().subscriptionId]\",\r\n        \"resourceGroupName\": \"[resourceGroup().name]\",\r\n        \"uniqueStorage\": \"[uniqueString(variables('subscriptionId'), variables('resourceGroupName'), parameters('location'))]\",\r\n        \"storageName\": \"[tolower(concat('sqlva', variables('uniqueStorage')))]\"\r\n      },\r\n      \"resources\": [\r\n        {\r\n          \"condition\": \"[parameters('enableVa')]\",\r\n          \"type\": \"Microsoft.Storage/storageAccounts\",\r\n          \"name\": \"[variables('storageName')]\",\r\n          \"apiVersion\": \"2019-04-01\",\r\n          \"location\": \"[parameters('location')]\",\r\n          \"sku\": {\r\n            \"name\": \"Standard_LRS\"\r\n          },\r\n          \"kind\": \"StorageV2\",\r\n          \"properties\": {\r\n            \"supportsHttpsTrafficOnly\": true\r\n          }\r\n        },\r\n        {\r\n          \"condition\": \"[parameters('enableVa')]\",\r\n          \"type\": \"Microsoft.Sql/servers/vulnerabilityAssessments\",\r\n          \"name\": \"[concat(parameters('serverName'), '/Default')]\",\r\n          \"apiVersion\": \"2018-06-01-preview\",\r\n          \"properties\": {\r\n            \"storageContainerPath\": \"[if(parameters('enableVa'), concat(reference(variables('storageName'), '2018-02-01').primaryEndpoints.blob, 'vulnerability-assessment'), '')]\",\r\n            \"storageAccountAccessKey\": \"[if(parameters('enableVa'), listKeys(variables('storageName'), '2018-02-01').keys[0].value, '')]\",\r\n            \"recurringScans\": {\r\n              \"isEnabled\": true,\r\n              \"emailSubscriptionAdmins\": true\r\n            }\r\n          },\r\n          \"dependsOn\": [\r\n            \"[concat('Microsoft.Storage/storageAccounts/', variables('storageName'))]\"\r\n          ]\r\n        }\r\n      ]\r\n    },\r\n    \"parameters\": {\r\n      \"serverName\": {\r\n        \"value\": \"sql-ads-cmdlet-serverps7333\"\r\n      },\r\n      \"location\": {\r\n        \"value\": \"westcentralus\"\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourcegroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Resources/deployments/EnableVA_sql-ads-cmdlet-test-srv1/operationStatuses/08586015625610772190?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Resources/deployments/EnableVA_sql-ads-cmdlet-test-srv1\",\r\n  \"name\": \"EnableVA_sql-ads-cmdlet-test-srv1\",\r\n  \"properties\": {\r\n    \"templateHash\": \"13703894538782990056\",\r\n    \"parameters\": {\r\n      \"serverName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"sql-ads-cmdlet-serverps7333\"\r\n      },\r\n      \"location\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"westcentralus\"\r\n      },\r\n      \"enableVa\": {\r\n        \"type\": \"Bool\",\r\n        \"value\": true\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"timestamp\": \"2020-09-14T00:45:24.8892259Z\",\r\n    \"duration\": \"PT0.4888245S\",\r\n    \"correlationId\": \"c3dd7248-bd51-4ae8-8f26-a5bbcd0522eb\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.Storage\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"storageAccounts\",\r\n            \"locations\": [\r\n              \"westcentralus\"\r\n            ]\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"namespace\": \"Microsoft.Sql\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"servers/vulnerabilityAssessments\",\r\n            \"locations\": [\r\n              null\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": [\r\n      {\r\n        \"dependsOn\": [\r\n          {\r\n            \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Storage/storageAccounts/sqlvajggjxncj5kcy6\",\r\n            \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n            \"resourceName\": \"sqlvajggjxncj5kcy6\"\r\n          },\r\n          {\r\n            \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Storage/storageAccounts/sqlvajggjxncj5kcy6\",\r\n            \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n            \"resourceName\": \"sqlvajggjxncj5kcy6\",\r\n            \"apiVersion\": \"2018-02-01\"\r\n          },\r\n          {\r\n            \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Storage/storageAccounts/sqlvajggjxncj5kcy6\",\r\n            \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n            \"resourceName\": \"sqlvajggjxncj5kcy6\",\r\n            \"actionName\": \"listKeys\",\r\n            \"apiVersion\": \"2018-02-01\"\r\n          }\r\n        ],\r\n        \"id\": \"/subscriptions/412b782d-2511-4c6d-98f2-3ea01b1c83c3/resourceGroups/sql-ads-cmdlet-test-rgps7333/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps7333/vulnerabilityAssessments/Default\",\r\n        \"resourceType\": \"Microsoft.Sql/servers/vulnerabilityAssessments\",\r\n        \"resourceName\": \"sql-ads-cmdlet-serverps7333/Default\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
