{
  "Entries": [
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/sql-ads-cmdlet-test-rgps5782?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782\",\r\n  \"name\": \"sql-ads-cmdlet-test-rgps5782\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps5782?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/sql-ads-cmdlet-serverps5782' under resource group 'sql-ads-cmdlet-test-rgps5782' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps5782?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11950"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"kind\": \"v12.0\",\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"version\": \"12.0\",\r\n    \"state\": \"Ready\",\r\n    \"fullyQualifiedDomainName\": \"sql-ads-cmdlet-serverps5782.database.windows.net\"\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps5782\",\r\n  \"name\": \"sql-ads-cmdlet-serverps5782\",\r\n  \"type\": \"Microsoft.Sql/servers\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps5782?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"administratorLogin\": \"testusername\",\r\n    \"administratorLoginPassword\": \"t357ingP@s5w0rd!Sec\",\r\n    \"version\": \"12.0\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/locations/westcentralus/serverOperationResults/9d78ef2d-5536-49fb-a5d9-715f754bab1f?api-version=2015-05-01-preview"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/9d78ef2d-5536-49fb-a5d9-715f754bab1f?api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServer\",\r\n  \"startTime\": \"2019-05-23T08:01:22.683Z\"\r\n}",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/locations/westcentralus/serverAzureAsyncOperation/9d78ef2d-5536-49fb-a5d9-715f754bab1f?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11956"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"9d78ef2d-5536-49fb-a5d9-715f754bab1f\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2019-05-23T08:01:22.683Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps5782/databases/sql-ads-cmdlet-dbps5782?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Sql/servers/sql-ads-cmdlet-serverps5782/databases/sql-ads-cmdlet-dbps5782' under resource group 'sql-ads-cmdlet-test-rgps5782' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps5782/databases/sql-ads-cmdlet-dbps5782?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11944"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Basic\",\r\n    \"capacity\": 5\r\n  },\r\n  \"kind\": \"v12.0,user\",\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"maxSizeBytes\": 2147483648,\r\n    \"status\": \"Online\",\r\n    \"databaseId\": \"22087bf7-dc0f-4b6d-92a2-e3d7080b42eb\",\r\n    \"creationDate\": \"2019-05-23T08:02:43.133Z\",\r\n    \"currentServiceObjectiveName\": \"Basic\",\r\n    \"requestedServiceObjectiveName\": \"Basic\",\r\n    \"defaultSecondaryLocation\": \"westus2\",\r\n    \"catalogCollation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"zoneRedundant\": false,\r\n    \"earliestRestoreDate\": \"2019-05-23T08:32:43.133Z\",\r\n    \"readScale\": \"Disabled\",\r\n    \"readReplicaCount\": 0,\r\n    \"currentSku\": {\r\n      \"name\": \"Basic\",\r\n      \"tier\": \"Basic\",\r\n      \"capacity\": 5\r\n    }\r\n  },\r\n  \"location\": \"westcentralus\",\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps5782/databases/sql-ads-cmdlet-dbps5782\",\r\n  \"name\": \"sql-ads-cmdlet-dbps5782\",\r\n  \"type\": \"Microsoft.Sql/servers/databases\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/locations/westcentralus/databaseAzureAsyncOperation/f72b3596-f59f-427c-a66b-d298e68736e4?api-version=2017-10-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11947"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"f72b3596-f59f-427c-a66b-d298e68736e4\",\r\n  \"status\": \"InProgress\",\r\n  \"startTime\": \"2019-05-23T08:02:10.633Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps5782/securityAlertPolicies/Default?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11942"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"state\": \"Disabled\",\r\n    \"disabledAlerts\": [\r\n      \"\"\r\n    ],\r\n    \"emailAddresses\": [\r\n      \"\"\r\n    ],\r\n    \"emailAccountAdmins\": false,\r\n    \"storageEndpoint\": \"\",\r\n    \"storageAccountAccessKey\": \"\",\r\n    \"retentionDays\": 0,\r\n    \"creationTime\": \"0001-01-01T00:00:00Z\"\r\n  },\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps5782/securityAlertPolicies/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/securityAlertPolicies\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/providers/Microsoft.Sql/locations/westcentralus/securityAlertPoliciesAzureAsyncOperation/4542a261-4bb9-425f-b0ec-d5a449d58c3a?api-version=2017-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11937"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"4542a261-4bb9-425f-b0ec-d5a449d58c3a\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2019-05-23T08:02:58.303Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps5782/vulnerabilityAssessments/default?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11898"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"recurringScans\": {\r\n      \"isEnabled\": false,\r\n      \"emailSubscriptionAdmins\": true\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps5782/vulnerabilityAssessments/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/vulnerabilityAssessments\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps5782/vulnerabilityAssessments/default?api-version=2018-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11894"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageContainerPath\": \"https://sqlvabzyyycrnqgily.blob.core.windows.net/vulnerability-assessment/\",\r\n    \"recurringScans\": {\r\n      \"isEnabled\": true,\r\n      \"emailSubscriptionAdmins\": false,\r\n      \"emails\": []\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps5782/vulnerabilityAssessments/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Sql/servers/vulnerabilityAssessments\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Resources/deployments/EnableADS_sql-ads-cmdlet-test-srv?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"template\": {\r\n      \"$schema\": \"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#\",\r\n      \"contentVersion\": \"1.0.0.0\",\r\n      \"parameters\": {\r\n        \"serverName\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"location\": {\r\n          \"type\": \"string\"\r\n        },\r\n        \"enableVa\": {\r\n          \"type\": \"bool\",\r\n          \"defaultValue\": true\r\n        }\r\n      },\r\n      \"variables\": {\r\n        \"subscriptionId\": \"[subscription().subscriptionId]\",\r\n        \"resourceGroupName\": \"[resourceGroup().name]\",\r\n        \"uniqueStorage\": \"[uniqueString(variables('subscriptionId'), variables('resourceGroupName'), parameters('location'))]\",\r\n        \"storageName\": \"[tolower(concat('sqlva', variables('uniqueStorage')))]\"\r\n      },\r\n      \"resources\": [\r\n        {\r\n          \"condition\": \"[parameters('enableVa')]\",\r\n          \"type\": \"Microsoft.Storage/storageAccounts\",\r\n          \"name\": \"[variables('storageName')]\",\r\n          \"apiVersion\": \"2016-01-01\",\r\n          \"location\": \"[parameters('location')]\",\r\n          \"sku\": {\r\n            \"name\": \"Standard_LRS\"\r\n          },\r\n          \"kind\": \"Storage\",\r\n          \"properties\": {}\r\n        },\r\n        {\r\n          \"type\": \"Microsoft.Sql/servers/securityAlertPolicies\",\r\n          \"name\": \"[concat(parameters('serverName'), '/Default')]\",\r\n          \"apiVersion\": \"2017-03-01-preview\",\r\n          \"properties\": {\r\n            \"state\": \"Enabled\",\r\n            \"emailAccountAdmins\": true\r\n          }\r\n        },\r\n        {\r\n          \"condition\": \"[parameters('enableVa')]\",\r\n          \"type\": \"Microsoft.Sql/servers/vulnerabilityAssessments\",\r\n          \"name\": \"[concat(parameters('serverName'), '/Default')]\",\r\n          \"apiVersion\": \"2018-06-01-preview\",\r\n          \"properties\": {\r\n            \"storageContainerPath\": \"[if(parameters('enableVa'), concat(reference(variables('storageName'), '2018-02-01').primaryEndpoints.blob, 'vulnerability-assessment'), '')]\",\r\n            \"storageAccountAccessKey\": \"[if(parameters('enableVa'), listKeys(variables('storageName'), '2018-02-01').keys[0].value, '')]\",\r\n            \"recurringScans\": {\r\n              \"isEnabled\": true,\r\n              \"emailSubscriptionAdmins\": false\r\n            }\r\n          },\r\n          \"dependsOn\": [\r\n            \"[concat('Microsoft.Storage/storageAccounts/', variables('storageName'))]\",\r\n            \"[concat('Microsoft.Sql/servers/', parameters('serverName'), '/securityAlertPolicies/Default')]\"\r\n          ]\r\n        }\r\n      ]\r\n    },\r\n    \"parameters\": {\r\n      \"serverName\": {\r\n        \"value\": \"sql-ads-cmdlet-serverps5782\"\r\n      },\r\n      \"location\": {\r\n        \"value\": \"westcentralus\"\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourcegroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Resources/deployments/EnableADS_sql-ads-cmdlet-test-srv/operationStatuses/08586430079322995934?api-version=2016-09-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Resources/deployments/EnableADS_sql-ads-cmdlet-test-srv\",\r\n  \"name\": \"EnableADS_sql-ads-cmdlet-test-srv\",\r\n  \"properties\": {\r\n    \"templateHash\": \"4112143771273868046\",\r\n    \"parameters\": {\r\n      \"serverName\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"sql-ads-cmdlet-serverps5782\"\r\n      },\r\n      \"location\": {\r\n        \"type\": \"String\",\r\n        \"value\": \"westcentralus\"\r\n      },\r\n      \"enableVa\": {\r\n        \"type\": \"Bool\",\r\n        \"value\": true\r\n      }\r\n    },\r\n    \"mode\": \"Incremental\",\r\n    \"provisioningState\": \"Accepted\",\r\n    \"timestamp\": \"2019-05-23T08:09:15.4684433Z\",\r\n    \"duration\": \"PT2.2904121S\",\r\n    \"correlationId\": \"a488973e-575c-452e-8ff4-a250da376ccd\",\r\n    \"providers\": [\r\n      {\r\n        \"namespace\": \"Microsoft.Storage\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"storageAccounts\",\r\n            \"locations\": [\r\n              \"westcentralus\"\r\n            ]\r\n          }\r\n        ]\r\n      },\r\n      {\r\n        \"namespace\": \"Microsoft.Sql\",\r\n        \"resourceTypes\": [\r\n          {\r\n            \"resourceType\": \"servers/securityAlertPolicies\",\r\n            \"locations\": [\r\n              null\r\n            ]\r\n          },\r\n          {\r\n            \"resourceType\": \"servers/vulnerabilityAssessments\",\r\n            \"locations\": [\r\n              null\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"dependencies\": [\r\n      {\r\n        \"dependsOn\": [\r\n          {\r\n            \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Storage/storageAccounts/sqlvabzyyycrnqgily\",\r\n            \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n            \"resourceName\": \"sqlvabzyyycrnqgily\"\r\n          },\r\n          {\r\n            \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps5782/securityAlertPolicies/Default\",\r\n            \"resourceType\": \"Microsoft.Sql/servers/securityAlertPolicies\",\r\n            \"resourceName\": \"sql-ads-cmdlet-serverps5782/Default\"\r\n          },\r\n          {\r\n            \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Storage/storageAccounts/sqlvabzyyycrnqgily\",\r\n            \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n            \"resourceName\": \"sqlvabzyyycrnqgily\",\r\n            \"apiVersion\": \"2018-02-01\"\r\n          },\r\n          {\r\n            \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Storage/storageAccounts/sqlvabzyyycrnqgily\",\r\n            \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n            \"resourceName\": \"sqlvabzyyycrnqgily\",\r\n            \"actionName\": \"listKeys\",\r\n            \"apiVersion\": \"2018-02-01\"\r\n          }\r\n        ],\r\n        \"id\": \"/subscriptions/cca24ec8-99b5-4aa7-9ff6-486e886f304c/resourceGroups/sql-ads-cmdlet-test-rgps5782/providers/Microsoft.Sql/servers/sql-ads-cmdlet-serverps5782/vulnerabilityAssessments/Default\",\r\n        \"resourceType\": \"Microsoft.Sql/servers/vulnerabilityAssessments\",\r\n        \"resourceName\": \"sql-ads-cmdlet-serverps5782/Default\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
