{
  "New-AzWorkloadsProviderPrometheusOSInstanceObject+[NoContext]+__AllParameterSets+$PUT+https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-160323-ams7/providerInstances/suha-os-1?api-version=2023-04-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-160323-ams7/providerInstances/suha-os-1?api-version=2023-04-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"providerSettings\": {\r\n      \"providerType\": \"PrometheusOS\",\r\n      \"prometheusUrl\": \"http://10.1.0.4:9100/metrics\",\r\n      \"sslPreference\": \"Disabled\",\r\n      \"sapSid\": \"X00\"\r\n    }\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"0000c302-0000-3400-0000-641451260000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/41ab1cef-61ee-4eba-9ef4-2c032af3e591*6E77053B6B98265D96E60B59AE83132A76A7B1EA2C160941AD1C81EFE679D721?api-version=2023-04-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-160323-ams7/providerInstances/suha-os-1\",\"name\":\"suha-os-1\",\"type\":\"microsoft.workloads/monitors/providerinstances\",\"systemData\":{\"createdBy\":\"sshrivastava@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-03-17T11:01:18.7628958Z\",\"lastModifiedBy\":\"sshrivastava@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-03-17T11:38:13.1478253Z\"},\"properties\":{\"provisioningState\":\"Accepted\",\"providerSettings\":{\"providerType\":\"PrometheusOS\",\"prometheusUrl\":\"http://10.1.0.4:9100/metrics\",\"sslPreference\":\"Disabled\",\"sapSid\":\"X00\"}}}",
    }
  },
  "New-AzWorkloadsProviderPrometheusOSInstanceObject+[NoContext]+__AllParameterSets+$GET+https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/41ab1cef-61ee-4eba-9ef4-2c032af3e591*6E77053B6B98265D96E60B59AE83132A76A7B1EA2C160941AD1C81EFE679D721?api-version=2023-04-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/41ab1cef-61ee-4eba-9ef4-2c032af3e591*6E77053B6B98265D96E60B59AE83132A76A7B1EA2C160941AD1C81EFE679D721?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"00001944-0000-3400-0000-641451260000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11986" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/41ab1cef-61ee-4eba-9ef4-2c032af3e591*6E77053B6B98265D96E60B59AE83132A76A7B1EA2C160941AD1C81EFE679D721\",\"name\":\"41ab1cef-61ee-4eba-9ef4-2c032af3e591*6E77053B6B98265D96E60B59AE83132A76A7B1EA2C160941AD1C81EFE679D721\",\"resourceId\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-160323-ams7/providerInstances/suha-os-1\",\"status\":\"Accepted\",\"startTime\":\"2023-03-17T11:38:14.3787497Z\"}",
    }
  },
  "New-AzWorkloadsProviderPrometheusOSInstanceObject+[NoContext]+__AllParameterSets+$GET+https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/41ab1cef-61ee-4eba-9ef4-2c032af3e591*6E77053B6B98265D96E60B59AE83132A76A7B1EA2C160941AD1C81EFE679D721?api-version=2023-04-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azu[...]
