{
  "Remove-AzWorkloadsProviderInstance+[NoContext]+Delete+$DELETE+https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-160323-ams7/providerInstances/suha-sql-1?api-version=2023-04-01+1": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-160323-ams7/providerInstances/suha-sql-1?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "ETag": [ "\"0000f302-0000-3400-0000-64145a4e0000\"" ],
        "Location": [ "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/8221801d-57f2-49f8-95cf-9286802e662e*A7F8953A893BE67BDF63CE090365ED21D0993A2A92F501FC802E4591AD4E4D2B?api-version=2023-04-01" ],
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14999" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "82b8b6d5-4085-4032-8010-4a81f2128420" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/8221801d-57f2-49f8-95cf-9286802e662e*A7F8953A893BE67BDF63CE090365ED21D0993A2A92F501FC802E4591AD4E4D2B?api-version=2023-04-01" ],
        "api-supported-versions": [ "2021-12-01-preview, 2022-10-15-preview, 2022-11-01-preview, 2023-04-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "bnVsbA==",
    }
  },
  "Remove-AzWorkloadsProviderInstance+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/8221801d-57f2-49f8-95cf-9286802e662e*A7F8953A893BE67BDF63CE090365ED21D0993A2A92F501FC802E4591AD4E4D2B?api-version=2023-04-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/8221801d-57f2-49f8-95cf-9286802e662e*A7F8953A893BE67BDF63CE090365ED21D0993A2A92F501FC802E4591AD4E4D2B?api-version=2023-04-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"00006746-0000-3400-0000-64145a520000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11991" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/8221801d-57f2-49f8-95cf-9286802e662e*A7F8953A893BE67BDF63CE090365ED21D0993A2A92F501FC802E4591AD4E4D2B\",\"name\":\"8221801d-57f2-49f8-95cf-9286802e662e*A7F8953A893BE67BDF63CE090365ED21D0993A2A92F501FC802E4591AD4E4D2B\",\"resourceId\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-160323-ams7/providerInstances/suha-sql-1\",\"status\":\"Succeeded\",\"startTime\":\"2023-03-17T12:17:18.5328577Z\",\"endTime\":\"2023-03-17T12:17:22.4968323Z\",\"properties\":null}",
    }
  },
  "Remove-AzWorkloadsProviderInstance+[NoContext]+Delete+$GET+https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/providers/Microsoft.Workloads/locations/EASTUS2EUAP/operationStatuses/8221801d-57f2-49f8-95cf-9286802e662e*A7F8953A893BE67BDF63CE090365ED21D0993A2A92F501FC802E4591AD4E4D2B?api-version=2023-04-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b76[...]
