{
  "Update-AzWorkloadsMonitor+[NoContext]+UpdateExpanded+$PATCH+https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-160323-ams7?api-version=2023-04-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-160323-ams7?api-version=2023-04-01",
      "Content": "{\r\n  \"tags\": {\r\n    \"name\": \"suha\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"0000291c-0000-3400-0000-641832140000\"" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-160323-ams7\",\"name\":\"suha-160323-ams7\",\"type\":\"microsoft.workloads/monitors\",\"location\":\"eastus2euap\",\"tags\":{\"name\":\"suha\"},\"systemData\":{\"createdBy\":\"sshrivastava@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2023-03-16T09:57:29.2058589Z\",\"lastModifiedBy\":\"sshrivastava@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-03-20T10:14:43.1766433Z\"},\"properties\":{\"appLocation\":\"eastus\",\"routingPreference\":\"RouteAll\",\"managedResourceGroupConfiguration\":{\"name\":\"mrg-16037\"},\"monitorSubnet\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/e2e-portal-wlmonitor-do-not-delete/providers/Microsoft.Network/virtualNetworks/vnetpeeringtest/subnets/snet-1603-4\",\"provisioningState\":\"Succeeded\",\"logAnalyticsWorkspaceArmId\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/mrg-16037/providers/microsoft.operationalinsights/workspaces/sapmon-laws-874eca89287299\",\"msiArmId\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/mrg-16037/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sapmon-msi-874eca89287299\",\"storageAccountArmId\":\"/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourcegroups/mrg-16037/providers/Microsoft.Storage/storageAccounts/sapsto874eca89287299\"}}",
    }
  },
  "Update-AzWorkloadsMonitor+[NoContext]+UpdateViaIdentityExpanded+$PATCH+https://management.azure.com/subscriptions/49d64d54-e966-4c46-a868-1999802b762c/resourceGroups/suha-0802-rg1/providers/Microsoft.Workloads/monitors/suha-160323-ams7?api-version=2023-04-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://[...]
