{
  "Remove-AzAppConfigurationLock+[NoContext]+Lock+$PUT+https://sanitized.azconfig.io/locks/k6i7?api-version=2024-09-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://sanitized.azconfig.io/locks/k6i7?api-version=2024-09-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"U2y5br7ouxJXI5VK96al9raMYun5Q34Zo9_pYM2W9VU\"" ],
        "Sync-Token": [ "zAJw6V16=MTM6MTkjODMxNjk2Nzg=;sn=83169678" ],
        "x-ms-date": [ "Fri, 10 Apr 2026 21:24:33 GMT" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/vnd.microsoft.appconfig.kv+json; charset=utf-8" ],
        "Last-Modified": [ "Fri, 10 Apr 2026 21:24:33 GMT" ]
      },
      "Content": "{\"etag\":\"U2y5br7ouxJXI5VK96al9raMYun5Q34Zo9_pYM2W9VU\",\"key\":\"k6i7\",\"label\":null,\"content_type\":null,\"value\":\"value3\",\"tags\":{},\"locked\":true,\"last_modified\":\"2026-04-10T21:24:33+00:00\"}",
    }
  },
  "Remove-AzAppConfigurationLock+[NoContext]+Lock+$DELETE+https://sanitized.azconfig.io/kv/k6i7?api-version=2024-09-01+2": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://sanitized.azconfig.io/kv/k6i7?api-version=2024-09-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 409,
      "Headers": {
        "Sync-Token": [ "zAJw6V16=MTM6MTkjODMxNjk2Nzk=;sn=83169679" ],
        "x-ms-date": [ "Fri, 10 Apr 2026 21:24:33 GMT" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/problem+json; charset=utf-8" ]
      },
      "Content": "{\"type\":\"https://azconfig.io/errors/key-locked\",\"title\":\"Modifing key \u0027k6i7\u0027 is not allowed\",\"name\":\"k6i7\",\"detail\":\"The key is read-only. To allow modification unlock it first.\",\"status\":409}",
    }
  },
  "Remove-AzAppConfigurationLock+[NoContext]+Lock+$DELETE+https://sanitized.azconfig.io/locks/k6i7?api-version=2024-09-01+3": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://sanitized.azconfig.io/locks/k6i7?api-version=2024-09-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"Elf5iRU[...]
