{
  "Remove-AzAppConfigurationLock+[NoContext]+Lock+$PUT+https://sanitized.azconfig.io/locks/ghse?api-version=2024-09-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://sanitized.azconfig.io/locks/ghse?api-version=2024-09-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"XUPjwgA6pDMxXlceYzKkL-HvrRwUsVf9p541fpM4Fo8\"" ],
        "Sync-Token": [ "zAJw6V16=MTU6MTkjNzk0NjgyODA=;sn=79468280" ],
        "x-ms-date": [ "Fri, 10 Apr 2026 21:33:22 GMT" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/vnd.microsoft.appconfig.kv+json; charset=utf-8" ],
        "Last-Modified": [ "Fri, 10 Apr 2026 21:33:22 GMT" ]
      },
      "Content": "{\"etag\":\"XUPjwgA6pDMxXlceYzKkL-HvrRwUsVf9p541fpM4Fo8\",\"key\":\"ghse\",\"label\":null,\"content_type\":null,\"value\":\"value3\",\"tags\":{},\"locked\":true,\"last_modified\":\"2026-04-10T21:33:22+00:00\"}",
    }
  },
  "Remove-AzAppConfigurationLock+[NoContext]+Lock+$DELETE+https://sanitized.azconfig.io/kv/ghse?api-version=2024-09-01+2": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://sanitized.azconfig.io/kv/ghse?api-version=2024-09-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 409,
      "Headers": {
        "Sync-Token": [ "zAJw6V16=MTU6MTkjNzk0NjgyODE=;sn=79468281" ],
        "x-ms-date": [ "Fri, 10 Apr 2026 21:33:22 GMT" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/problem+json; charset=utf-8" ]
      },
      "Content": "{\"type\":\"https://azconfig.io/errors/key-locked\",\"title\":\"Modifing key \u0027ghse\u0027 is not allowed\",\"name\":\"ghse\",\"detail\":\"The key is read-only. To allow modification unlock it first.\",\"status\":409}",
    }
  },
  "Remove-AzAppConfigurationLock+[NoContext]+Lock+$DELETE+https://sanitized.azconfig.io/locks/ghse?api-version=2024-09-01+3": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://sanitized.azconfig.io/locks/ghse?api-version=2024-09-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"Xm-0KN6[...]
