{
  "Get-AzAppConfigurationKey+[NoContext]+Get+$GET+https://sanitized.azconfig.io/keys?api-version=2026-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://sanitized.azconfig.io/keys?api-version=2026-04-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Sync-Token": [ "zAJw6V16=MTQ6MTkjOTAwMzUxMTU=;sn=90035115" ],
        "x-ms-date": [ "Tue, 02 Jun 2026 22:07:15 GMT" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/vnd.microsoft.appconfig.keyset+json; charset=utf-8" ]
      },
      "Content": "{\"items\":[{\"name\":\"dogp\"}]}",
    }
  }
}