{
  "Get-AzAppConfigurationKey+[NoContext]+Get+$GET+https://sanitized.azconfig.io/keys?api-version=2024-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://sanitized.azconfig.io/keys?api-version=2024-09-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Sync-Token": [ "zAJw6V16=MTI6MTkjNzkyNzkyMTE=;sn=79279211" ],
        "x-ms-date": [ "Thu, 16 Apr 2026 21:51:39 GMT" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/vnd.microsoft.appconfig.keyset+json; charset=utf-8" ]
      },
      "Content": "{\"items\":[{\"name\":\"2wcg\"}]}",
    }
  }
}