{
  "Get-AzAppConfigurationRevision+[NoContext]+Get+$GET+https://sanitized.azconfig.io/revisions?api-version=2026-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://sanitized.azconfig.io/revisions?api-version=2026-04-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"uuesnpXYGKsNodGCoiwng2PwZpgI0l6vT20RdP4DBCg\"" ],
        "Sync-Token": [ "zAJw6V16=MTQ6MTkjOTAwMzUxMTc=;sn=90035117" ],
        "x-ms-date": [ "Tue, 02 Jun 2026 22:07:48 GMT" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8" ]
      },
      "Content": "{\"etag\":\"uuesnpXYGKsNodGCoiwng2PwZpgI0l6vT20RdP4DBCg\",\"items\":[{\"etag\":\"Ab4ggJ4mn9nhh3z8e9fDikHaV1bURoR_uzJE9H8OP2U\",\"key\":\"dogp\",\"label\":null,\"content_type\":null,\"value\":\"value3\",\"description\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2026-06-02T22:07:14+00:00\"},{\"etag\":\"pF1rCUYVwpfHB4J4hbYRkPNVVEyNinLOtoIu5AIdvkQ\",\"key\":\"dogp\",\"label\":null,\"content_type\":null,\"value\":\"value3\",\"description\":null,\"tags\":{},\"locked\":true,\"last_modified\":\"2026-06-02T22:07:14+00:00\"},{\"etag\":\"88GojF3RB7hf7M2aJrWvc1CnivNyUhDQiJGzQD2DOWo\",\"key\":\"dogp\",\"label\":null,\"content_type\":null,\"value\":\"value3\",\"description\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2026-06-02T22:07:12+00:00\"},{\"etag\":\"JW0vovyK6jO68hKj4nR4k_VUJ0RlW20f3-rVcbfToWc\",\"key\":\"dogp\",\"label\":null,\"content_type\":null,\"value\":\"value2\",\"description\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2026-06-02T22:07:12+00:00\"},{\"etag\":\"sR2YeKmCDC7vV9oZk1iaP_k4CNomfBzMJUWWLNLFo4A\",\"key\":\"dogp\",\"label\":\"test\",\"content_type\":null,\"value\":\"yo68mbijgx9u7q2r\",\"description\":null,\"tags\":{},\"locked\":false,\"last_modified\":\"2026-06-02T22:07:11+00:00\"}]}",
    }
  }
}