{
  "Remove-AzAppConfigurationKeyValue+[NoContext]+Delete+$PUT+https://sanitized.azconfig.io/kv/deletetest-key1?api-version=2024-09-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://sanitized.azconfig.io/kv/deletetest-key1?api-version=2024-09-01",
      "Content": "{\r\n  \"value\": \"to-be-deleted\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"U26nAGdixkVUyJA41Oj9qwGvv7sM5SWHVH-BTTHc3Bk\"" ],
        "Sync-Token": [ "zAJw6V16=MTU6MTkjNzk0NjgzMjY=;sn=79468326" ],
        "x-ms-date": [ "Fri, 10 Apr 2026 21:35:31 GMT" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/vnd.microsoft.appconfig.kv+json; charset=utf-8" ],
        "Last-Modified": [ "Fri, 10 Apr 2026 21:35:31 GMT" ]
      },
      "Content": "{\"etag\":\"U26nAGdixkVUyJA41Oj9qwGvv7sM5SWHVH-BTTHc3Bk\",\"key\":\"deletetest-key1\",\"label\":null,\"content_type\":null,\"value\":\"to-be-deleted\",\"tags\":{},\"locked\":false,\"last_modified\":\"2026-04-10T21:35:31+00:00\"}",
    }
  },
  "Remove-AzAppConfigurationKeyValue+[NoContext]+Delete+$DELETE+https://sanitized.azconfig.io/kv/deletetest-key1?api-version=2024-09-01+2": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://sanitized.azconfig.io/kv/deletetest-key1?api-version=2024-09-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"U26nAGdixkVUyJA41Oj9qwGvv7sM5SWHVH-BTTHc3Bk\"" ],
        "Sync-Token": [ "zAJw6V16=MTU6MTkjNzk0NjgzMjc=;sn=79468327" ],
        "x-ms-date": [ "Fri, 10 Apr 2026 21:35:31 GMT" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/vnd.microsoft.appconfig.kv+json; charset=utf-8" ],
        "Last-Modified": [ "Fri, 10 Apr 2026 21:35:31 GMT" ]
      },
      "Content": "{\"etag\":\"U26nAGdixkVUyJA41Oj9qwGvv7sM5SWHVH-BTTHc3Bk\",\"key\":\"deletetest-key1\",\"label\":null,\"content_type\":null,\"value\":\"to-be-deleted\",\"tags\":{},\"locked\":false,\"last_modified\":\"2026-04-10T21:35:31+00:00\"}",
    }
  },
  "Remove-AzAppConfigurationKeyValue+[NoContext]+Delete+$GET+https://sanitized.azconfig.io/kv/deletetest-key1?api-version=2024-09-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://sanitized.azconfig.io/kv/deletetest-key1?api-version=2024-09-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 404,
      "Headers": {
        "Sync-Token": [ "zAJw6V16=MTU6MTkjNzk0NjgzMjc=;sn=79468327" ],
        "x-ms-date": [ "Fri, 10 Apr 2026 21:35:31 GMT" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  }
}