{
  "Set-AzAppConfigurationLock+[NoContext]+Put+$PUT+https://sanitized.azconfig.io/kv/locktest-key1?api-version=2024-09-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://sanitized.azconfig.io/kv/locktest-key1?api-version=2024-09-01",
      "Content": "{\r\n  \"value\": \"lock-value\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"wq0uSnBpuJus7CejlETaVQhK7AUmli6cTC6O2ISzc5k\"" ],
        "Sync-Token": [ "zAJw6V16=MTU6MTkjNzk0NjgzMzg=;sn=79468338" ],
        "x-ms-date": [ "Fri, 10 Apr 2026 21:35:34 GMT" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/vnd.microsoft.appconfig.kv+json; charset=utf-8" ],
        "Last-Modified": [ "Fri, 10 Apr 2026 21:35:34 GMT" ]
      },
      "Content": "{\"etag\":\"wq0uSnBpuJus7CejlETaVQhK7AUmli6cTC6O2ISzc5k\",\"key\":\"locktest-key1\",\"label\":null,\"content_type\":null,\"value\":\"lock-value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2026-04-10T21:35:34+00:00\"}",
    }
  },
  "Set-AzAppConfigurationLock+[NoContext]+Put+$PUT+https://sanitized.azconfig.io/locks/locktest-key1?api-version=2024-09-01+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://sanitized.azconfig.io/locks/locktest-key1?api-version=2024-09-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"FN5iJnynlm3CLHuLyYu9-xbj250P0k0qVTMZCALfrxM\"" ],
        "Sync-Token": [ "zAJw6V16=MTU6MTkjNzk0NjgzMzk=;sn=79468339" ],
        "x-ms-date": [ "Fri, 10 Apr 2026 21:35:34 GMT" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/vnd.microsoft.appconfig.kv+json; charset=utf-8" ],
        "Last-Modified": [ "Fri, 10 Apr 2026 2[...]
