{
  "Set-AzAppConfigurationLock+[NoContext]+Put+$PUT+https://sanitized.azconfig.io/kv/locktest-key1?api-version=2024-09-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://sanitized.azconfig.io/kv/locktest-key1?api-version=2024-09-01",
      "Content": "{\r\n  \"value\": \"lock-value\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"J5liMu3Srr_wCsEpGJ923Ga0loL9j0kaoGNsRHeIVSA\"" ],
        "Sync-Token": [ "zAJw6V16=MTI6MTkjNzkyNzkyNjM=;sn=79279263" ],
        "x-ms-date": [ "Thu, 16 Apr 2026 21:53:50 GMT" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/vnd.microsoft.appconfig.kv+json; charset=utf-8" ],
        "Last-Modified": [ "Thu, 16 Apr 2026 21:53:50 GMT" ]
      },
      "Content": "{\"etag\":\"J5liMu3Srr_wCsEpGJ923Ga0loL9j0kaoGNsRHeIVSA\",\"key\":\"locktest-key1\",\"label\":null,\"content_type\":null,\"value\":\"lock-value\",\"tags\":{},\"locked\":false,\"last_modified\":\"2026-04-16T21:53:50+00:00\"}",
    }
  },
  "Set-AzAppConfigurationLock+[NoContext]+Put+$PUT+https://sanitized.azconfig.io/locks/locktest-key1?api-version=2024-09-01+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://sanitized.azconfig.io/locks/locktest-key1?api-version=2024-09-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"7W3WAcmpEqIUw0nWMvtkrfxDe-5ODQlD79vMIexe1nU\"" ],
        "Sync-Token": [ "zAJw6V16=MTI6MTkjNzkyNzkyNjQ=;sn=79279264" ],
        "x-ms-date": [ "Thu, 16 Apr 2026 21:53:50 GMT" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/vnd.microsoft.appconfig.kv+json; charset=utf-8" ],
        "Last-Modified": [ "Thu, 16 Apr 2026 2[...]
