{
  "Update-AzAppConfigurationSnapshot+[NoContext]+UpdateExpanded+$PUT+https://sanitized.azconfig.io/snapshots/updsnap-xj8gmh?api-version=2024-09-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://sanitized.azconfig.io/snapshots/updsnap-xj8gmh?api-version=2024-09-01",
      "Content": "{\r\n  \"filters\": [\r\n    {\r\n      \"key\": \"k6i7\"\r\n    }\r\n  ]\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "ETag": [ "\"IPqxx51CooBVrEs_lIznzvYcXFI9Cgk3PYyjXnkCHHg\"" ],
        "Operation-Location": [ "https://sanitized.azconfig.io/operations?snapshot=updsnap-xj8gmh\u0026api-version=2024-09-01" ],
        "Link": [ "\u003c/kv?snapshot=updsnap-xj8gmh\u0026api-version=2024-09-01\u003e; rel=\"items\"" ],
        "Sync-Token": [ "zAJw6V16=MTM6MTkjODMxNjk3Mjk=;sn=83169729" ],
        "x-ms-date": [ "Fri, 10 Apr 2026 21:27:21 GMT" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8" ],
        "Last-Modified": [ "Fri, 10 Apr 2026 21:27:21 GMT" ]
      },
      "Content": "{\"etag\":\"IPqxx51CooBVrEs_lIznzvYcXFI9Cgk3PYyjXnkCHHg\",\"name\":\"updsnap-xj8gmh\",\"status\":\"provisioning\",\"filters\":[{\"key\":\"k6i7\",\"label\":null,\"tags\":[]}],\"composition_type\":\"key\",\"created\":\"2026-04-10T21:27:21.5198902+00:00\",\"size\":0,\"items_count\":0,\"tags\":{},\"retention_period\":2592000}",
    }
  },
  "Update-AzAppConfigurationSnapshot+[NoContext]+UpdateExpanded+$GET+https://sanitized.azconfig.io/operations?snapshot=updsnap-xj8gmh\u0026api-version=2024-09-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://sanitized.azconfig.io/operations?snapshot=updsnap-xj8gmh\u0026api-version=2024-09-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "Sync-Token": [ "zAJw6V16=MTM6MTkjODMxNjk3MzA=;sn=83169730" ],
        "x-ms-date": [ "Fri, 10 Apr 2026 21:27:52 GMT" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"5Tj0W7k9EUjiZMN_nE_r4ucVkbGH1bd_WOsxbxm0zc8\",\"status\":\"Succeeded\",\"error\":null}",
    }
  },
  "Update-AzAppConfigurationSnapshot+[NoContext]+UpdateExpanded+$GET+https://sanitized.azconfig.io/snapshots/updsnap-xj8gmh?api-version=2024-09-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://sanitized.azconfig.io/snapshots/updsnap-xj8gmh?api-version=2024-09-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Hea[...]
