{
  "Entries": [
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourcegroups/onesdk5711?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5711\",\r\n  \"name\": \"onesdk5711\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5711/providers/Microsoft.DataFactory/factories/onesdk9595?api-version=2017-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"location\": \"East US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk9595\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"loggingStorageAccountKey\": \"**********\",\r\n    \"createTime\": \"2017-09-15T05:16:27.4134629Z\",\r\n    \"version\": \"2017-09-01-preview\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"c72082fa-3a7b-4417-9b3e-40dd406ee8ad\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n  },\r\n  \"id\": \"/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5711/providers/Microsoft.DataFactory/factories/onesdk9595\",\r\n  \"type\": \"Microsoft.DataFactory/factories\",\r\n  \"location\": \"East US\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5711/providers/Microsoft.DataFactory/factories/onesdk9595/integrationRuntimes/test-integrationruntime-for-piping?api-version=2017-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"Code\": \"NotFound\",\r\n  \"Message\": \"The document could not be retrieved because it does not exist.\",\r\n  \"Target\": \"/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5711/providers/Microsoft.DataFactory/factories/onesdk9595/integrationruntimes/test-integrationruntime-for-piping\",\r\n  \"Details\": null,\r\n  \"Error\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14971"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5711/providers/Microsoft.DataFactory/factories/onesdk9595/integrationRuntimes/test-integrationruntime-for-piping?api-version=2017-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"type\": \"SelfHosted\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5711/providers/Microsoft.DataFactory/factories/onesdk9595/integrationruntimes/test-integrationruntime-for-piping\",\r\n  \"name\": \"test-integrationruntime-for-piping\",\r\n  \"properties\": {\r\n    \"type\": \"SelfHosted\"\r\n  },\r\n  \"etag\": \"01005315-0000-0000-0000-59bb622d0000\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5711/providers/Microsoft.DataFactory/factories/onesdk9595/integrationRuntimes?api-version=2017-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5711/providers/Microsoft.DataFactory/factories/onesdk9595/integrationruntimes/test-integrationruntime-for-piping\",\r\n      \"name\": \"test-integrationruntime-for-piping\",\r\n      \"properties\": {\r\n        \"type\": \"SelfHosted\"\r\n      },\r\n      \"etag\": \"01005315-0000-0000-0000-59bb622d0000\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14970"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5711/providers/Microsoft.DataFactory/factories/onesdk9595/integrationRuntimes/test-integrationruntime-for-piping/listAuthKeys?api-version=2017-09-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"authKey1\": \"IR@24e53c05-f34f-4f07-b83d-b4d1e67452bb@onesdk9595@eu@8L5oUBMWoRU3WixtkiFoghpo+xkStWhePogTN5yyO14=\",\r\n  \"authKey2\": \"IR@24e53c05-f34f-4f07-b83d-b4d1e67452bb@onesdk9595@eu@3PD+0CrC0OQmQVh7GmNO9CCS31zkA5C0sc65irTe0zc=\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5711/providers/Microsoft.DataFactory/factories/onesdk9595/integrationRuntimes/test-integrationruntime-for-piping/regenerateAuthKey?api-version=2017-09-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyName\": \"AuthKey1\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"authKey1\": \"IR@24e53c05-f34f-4f07-b83d-b4d1e67452bb@onesdk9595@eu@udaVkVqc2+jOJUomX6vXN4LB0Jwu0y6Awbgy6ZqgFHI=\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5711/providers/Microsoft.DataFactory/factories/onesdk9595/integrationRuntimes/test-integrationruntime-for-piping/monitoringData?api-version=2017-09-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"test-integrationruntime-for-piping\",\r\n  \"nodes\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5711/providers/Microsoft.DataFactory/factories/onesdk9595?api-version=2017-09-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-IntegrationRuntime-Piping": [
      "onesdk9595",
      "onesdk5711"
    ]
  },
  "Variables": {
    "SubscriptionId": "58ecb5c2-9069-4de0-9e51-380d69be3228"
  }
}