{
  "Entries": [
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourcegroups/onesdk4409?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk4409\",\r\n  \"name\": \"onesdk4409\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk4409/providers/Microsoft.DataFactory/factories/onesdk7685?api-version=2017-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"location\": \"East US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk7685\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"loggingStorageAccountKey\": \"**********\",\r\n    \"createTime\": \"2017-09-15T04:51:21.7728741Z\",\r\n    \"version\": \"2017-09-01-preview\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"27c5faca-1f3d-47f2-8582-9e4f09cbb1a6\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n  },\r\n  \"id\": \"/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk4409/providers/Microsoft.DataFactory/factories/onesdk7685\",\r\n  \"type\": \"Microsoft.DataFactory/factories\",\r\n  \"location\": \"East US\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk4409/providers/Microsoft.DataFactory/factories/onesdk7685/integrationRuntimes/selfhosted-test-integrationruntime?api-version=2017-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"Code\": \"NotFound\",\r\n  \"Message\": \"The document could not be retrieved because it does not exist.\",\r\n  \"Target\": \"/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk4409/providers/Microsoft.DataFactory/factories/onesdk7685/integrationruntimes/selfhosted-test-integrationruntime\",\r\n  \"Details\": null,\r\n  \"Error\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14295"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk4409/providers/Microsoft.DataFactory/factories/onesdk7685/integrationRuntimes/selfhosted-test-integrationruntime?api-version=2017-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk4409/providers/Microsoft.DataFactory/factories/onesdk7685/integrationruntimes/selfhosted-test-integrationruntime\",\r\n  \"name\": \"selfhosted-test-integrationruntime\",\r\n  \"properties\": {\r\n    \"type\": \"SelfHosted\"\r\n  },\r\n  \"etag\": \"02007117-0000-0000-0000-59bb5c4d0000\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14293"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk4409/providers/Microsoft.DataFactory/factories/onesdk7685/integrationRuntimes/selfhosted-test-integrationruntime?api-version=2017-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"type\": \"SelfHosted\",\r\n    \"description\": \"description\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk4409/providers/Microsoft.DataFactory/factories/onesdk7685/integrationruntimes/selfhosted-test-integrationruntime\",\r\n  \"name\": \"selfhosted-test-integrationruntime\",\r\n  \"properties\": {\r\n    \"type\": \"SelfHosted\",\r\n    \"description\": \"description\"\r\n  },\r\n  \"etag\": \"02007217-0000-0000-0000-59bb5c520000\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk4409/providers/Microsoft.DataFactory/factories/onesdk7685/integrationRuntimes?api-version=2017-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk4409/providers/Microsoft.DataFactory/factories/onesdk7685/integrationruntimes/selfhosted-test-integrationruntime\",\r\n      \"name\": \"selfhosted-test-integrationruntime\",\r\n      \"properties\": {\r\n        \"type\": \"SelfHosted\"\r\n      },\r\n      \"etag\": \"02007117-0000-0000-0000-59bb5c4d0000\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14292"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk4409/providers/Microsoft.DataFactory/factories/onesdk7685/integrationRuntimes/selfhosted-test-integrationruntime/listAuthKeys?api-version=2017-09-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"authKey1\": \"IR@3fbd332c-aedd-4c7c-abee-71d8e3b03a1f@onesdk7685@eu@4YVSwbRGZi+ko2yIt2HBp0gekAlltHutC0fxTIE+C+M=\",\r\n  \"authKey2\": \"IR@3fbd332c-aedd-4c7c-abee-71d8e3b03a1f@onesdk7685@eu@cJoeKJKvUoRdxJUXtGSy2dq06qDjQ14AonKuTYIaunQ=\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk4409/providers/Microsoft.DataFactory/factories/onesdk7685/integrationRuntimes/selfhosted-test-integrationruntime/regenerateAuthKey?api-version=2017-09-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"keyName\": \"authKey1\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"authKey1\": \"IR@3fbd332c-aedd-4c7c-abee-71d8e3b03a1f@onesdk7685@eu@/g8SmrEtipcojRtds6ut/RhPZXuRiZJSQBuO6PeLBcQ=\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk4409/providers/Microsoft.DataFactory/factories/onesdk7685/integrationRuntimes/selfhosted-test-integrationruntime/monitoringData?api-version=2017-09-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"selfhosted-test-integrationruntime\",\r\n  \"nodes\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk4409/providers/Microsoft.DataFactory/factories/onesdk7685?api-version=2017-09-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-SelfHosted-IntegrationRuntime": [
      "onesdk7685",
      "onesdk4409"
    ]
  },
  "Variables": {
    "SubscriptionId": "58ecb5c2-9069-4de0-9e51-380d69be3228"
  }
}