{
  "Entries": [
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourcegroups/onesdk5522?api-version=2016-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"East US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522\",\r\n  \"name\": \"onesdk5522\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522/providers/Microsoft.DataFactory/factories/onesdk295?api-version=2017-09-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"location\": \"East US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"onesdk295\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"loggingStorageAccountKey\": \"**********\",\r\n    \"createTime\": \"2017-09-15T05:44:59.6382886Z\",\r\n    \"version\": \"2017-09-01-preview\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"7703cfb4-5334-48a0-a207-63292ceb95f8\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n  },\r\n  \"id\": \"/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522/providers/Microsoft.DataFactory/factories/onesdk295\",\r\n  \"type\": \"Microsoft.DataFactory/factories\",\r\n  \"location\": \"East US\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522/providers/Microsoft.DataFactory/factories/onesdk295/integrationRuntimes/managed-dedicated-test-ir?api-version=2017-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"Code\": \"NotFound\",\r\n  \"Message\": \"The document could not be retrieved because it does not exist.\",\r\n  \"Target\": \"/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522/providers/Microsoft.DataFactory/factories/onesdk295/integrationruntimes/managed-dedicated-test-ir\",\r\n  \"Details\": null,\r\n  \"Error\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13982"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522/providers/Microsoft.DataFactory/factories/onesdk295/integrationRuntimes/managed-dedicated-test-ir?api-version=2017-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522/providers/Microsoft.DataFactory/factories/onesdk295/integrationruntimes/managed-dedicated-test-ir\",\r\n  \"name\": \"managed-dedicated-test-ir\",\r\n  \"properties\": {\r\n    \"type\": \"Managed\",\r\n    \"typeProperties\": {\r\n      \"computeProperties\": {\r\n        \"location\": \"East US\",\r\n        \"nodeSize\": \"Standard_A4_v2\",\r\n        \"numberOfNodes\": 1,\r\n        \"maxParallelExecutionsPerNode\": 1\r\n      },\r\n      \"ssisProperties\": {\r\n        \"catalogInfo\": {\r\n          \"catalogServerEndpoint\": \"yandongtestsvr.database.windows.net\",\r\n          \"catalogAdminUserName\": \"yanzhang\",\r\n          \"catalogAdminPassword\": {\r\n            \"type\": \"SecureString\",\r\n            \"value\": \"**********\"\r\n          },\r\n          \"catalogPricingTier\": \"S1\"\r\n        }\r\n      }\r\n    },\r\n    \"description\": \"Managed dedicated integration runtime\",\r\n    \"state\": \"Initial\"\r\n  },\r\n  \"etag\": \"0100cc15-0000-0000-0000-59bb68dd0000\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13980"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522/providers/Microsoft.DataFactory/factories/onesdk295/integrationRuntimes/managed-dedicated-test-ir/start?api-version=2017-09-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522/providers/Microsoft.DataFactory/factories/onesdk295/integrationRuntimes/managed-dedicated-test-ir/start/operationresults/125f7a63b0014ac287afebd476df2454?api-version=2017-09-01-preview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522/providers/Microsoft.DataFactory/factories/onesdk295/integrationRuntimes/managed-dedicated-test-ir/start/operationresults/125f7a63b0014ac287afebd476df2454?api-version=2017-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13961"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522/providers/Microsoft.DataFactory/factories/onesdk295/integrationRuntimes/managed-dedicated-test-ir/start/operationresults/125f7a63b0014ac287afebd476df2454?api-version=2017-09-01-preview"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522/providers/Microsoft.DataFactory/factories/onesdk295/integrationRuntimes/managed-dedicated-test-ir/start/operationresults/125f7a63b0014ac287afebd476df2454?api-version=2017-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"managed-dedicated-test-ir\",\r\n  \"properties\": {\r\n    \"dataFactoryName\": \"onesdk295\",\r\n    \"state\": \"Started\",\r\n    \"iRType\": \"Managed\",\r\n    \"type\": \"Managed\",\r\n    \"dataFactoryLocation\": null,\r\n    \"resourceUri\": null,\r\n    \"typeProperties\": {\r\n      \"nodes\": [\r\n        {\r\n          \"nodeId\": \"tvm-3657382398_1-20170915t054808z\",\r\n          \"status\": \"Unavailable\",\r\n          \"errors\": [\r\n            {\r\n              \"time\": \"2017-09-15T06:03:29.3651478Z\",\r\n              \"code\": \"AzureSqlConnectionFailure\",\r\n              \"parameters\": [],\r\n              \"message\": \"Sql Error Number: 18456\"\r\n            }\r\n          ]\r\n        }\r\n      ],\r\n      \"otherErrors\": [],\r\n      \"state\": \"Started\",\r\n      \"createTime\": \"2017-09-15T05:45:04.6456922Z\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13766"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522/providers/Microsoft.DataFactory/factories/onesdk295/integrationRuntimes?api-version=2017-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522/providers/Microsoft.DataFactory/factories/onesdk295[...]
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522/providers/Microsoft.DataFactory/factories/onesdk295/integrationRuntimes/managed-dedicated-test-ir/stop?api-version=2017-09-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522/providers/Microsoft.DataFactory/factories/onesdk295/integrationRuntimes/managed-dedicated-test-ir/stop/operationresults/4d14277ce99f48fcb753b05b118fa4bf?api-version=2017-09-01-preview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522/providers/Microsoft.DataFactory/factories/onesdk295/integrationRuntimes/managed-dedicated-test-ir/stop/operationresults/4d14277ce99f48fcb753b05b118fa4bf?api-version=2017-09-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13754"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522/providers/Microsoft.DataFactory/factories/onesdk295/integrationRuntimes/managed-dedicated-test-ir/stop/operationresults/4d14277ce99f48fcb753b05b118fa4bf?api-version=2017-09-01-preview"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/58ecb5c2-9069-4de0-9e51-380d69be3228/resourceGroups/onesdk5522/providers/Microsoft.DataFactory/factories/onesdk295?api-version=2017-09-01-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1189"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-ManagedDedicated-IntegrationRuntime": [
      "onesdk295",
      "onesdk5522"
    ]
  },
  "Variables": {
    "SubscriptionId": "58ecb5c2-9069-4de0-9e51-380d69be3228"
  }
}