{
    "Entries":  [
                    {
                        "RequestUri":  "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/afs-pstest-rg/providers/Microsoft.RecoveryServices/vaults/afs-pstest-vault?api-version=2024-02-01",
                        "RequestMethod":  "GET",
                        "RequestHeaders":  {
                        "RequestBody":  "",
                        "ResponseHeaders":  {
                                                "x-ms-ratelimit-remaining-subscription-reads":  [
                                                                                                    "11999"
                                                                                                ],
                                                "Content-Type":  [
                                                                     "application/json; charset=utf-8"
                                                                 ]
                        "ResponseBody":  "{\r\n  \"location\": \"eastasia\",\r\n  \"name\": \"afs-pstest-vault\",\r\n  \"etag\": \"W/\\\"datetime\u00272024-02-18T23%3A05%3A44.5550154Z\u0027\\\"\",\r\n  \"tags\": {\r\n    \"MABUsed\": \"yes\",\r\n    \"Owner\": \"hiaga\",\r\n    \"Purpose\": \"testing\",\r\n    \"DeleteBy\": \"01-2099\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"privateEndpointStateForBackup\": \"None\",\r\n    \"privateEndpointStateForSiteRecovery\": \"None\",\r\n    \"backupStorageVersion\": \"V1\",\r\n    \"securitySettings\": {\r\n      \"immutabilitySettings\": null,\r\n      \"softDeleteSettings\": {\r\n        \"softDeleteRetentionPeriodInDays\": 14,\r\n        \"softDeleteState\": \"Disabled\",\r\n        \"enhancedSecurityState\": \"Disabled\"\r\n      },\r\n      \"multiUserAuthorization\": \"Disabled\"\r\n    },\r\n    \"redundancySettings\": {\r\n      \"standardTierStorageRedundancy\": \"GeoRedundant\",\r\n      \"crossRegionRestore\": \"Disabled\"\r\n    },\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"restoreSettings\": {\r\n      \"crossSubscriptionRestoreSettings\": {\r\n        \"crossSubscriptionRestoreState\": \"Enabled\"\r\n      }\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/afs-pstest-rg/providers/Microsoft.RecoveryServices/vaults/afs-pstest-vault\",\r\n  \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n  \"sku\": {\r\n    \"name\": \"RS0\",\r\n    \"tier\": \"Standard\"\r\n  }\r\n}",
                        "StatusCode":  200
                    },
                    {
                        "RequestUri":  "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/afs-pstest-rg/providers/Microsoft.RecoveryServices/vaults/afs-pstest-vault/backupProtectionContainers?$filter=friendlyName%20eq%20\u0027afspstestsa\u0027%20and%20backupManagementType%20eq%20\u0027AzureStorage\u0027\u0026api-version=2023-08-01",
                        "RequestMethod":  "GET",
                        "RequestHeaders":  {
                        "RequestBody":  "",
                        "ResponseHeaders":  {
                                                "x-ms-ratelimit-remaining-subscription-resource-requests":  [
                                                                                                                "299"
                                                                                                            ],
                                                "Content-Type":  [
                                                                     "application/json; charset=utf-8"
                                                                 ]
                        "ResponseBody":  "{\r\n  \"value\": []\r\n}",
                        "StatusCode":  200
                    },
                    {
                        "RequestUri":  "/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/afs-pstest-rg/providers/Microsoft.RecoveryServices/vaults/afs-pstest-vault/backupProtectionContainers?$filter=friendlyName%20eq%20\u0027afspstestsa\u0027%20and%20backupManagementType%20eq%20\u0027AzureStorage\u0027\u0026api-version=2023-08-01",
                        "RequestMethod":  "GET",
[...]
