{
    "Entries":  [
                    {
                        "RequestUri":  "/subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults?api-version=2016-06-01",
                        "RequestMethod":  "GET",
                        "RequestBody":  "",
                        "RequestHeaders":  {
                                               "x-ms-version":  [
                                                                    "2015-01-01"
                                                                ]
                        "ResponseBody":  "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"westus\",\r\n      \"name\": \"pstestrsvault\",\r\n      \"etag\": \"W/\\\"datetime\u00272016-11-10T12%3A32%3A19.0555189Z\u0027\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"RS0\",\r\n        \"tier\": \"Standard\"\r\n      }\r\n    }\r\n  ]\r\n}",
                        "ResponseHeaders":  {
                                                "Content-Type":  [
                                                                     "application/json"
                                                                 ],
                                                "x-ms-ratelimit-remaining-subscription-reads":  [
                                                                                                    "14945"
                                                                                                ]
                        "StatusCode":  200
                    },
                    {
                        "RequestUri":  "/subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault?api-version=2016-06-01",
                        "RequestMethod":  "GET",
                        "RequestBody":  "",
                        "RequestHeaders":  {
                                               "x-ms-version":  [
                                              [...]
