{
  "Entries": [
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/compliances?api-version=2017-08-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/compliances/2020-11-30Z\",\r\n      \"name\": \"2020-11-30Z\",\r\n      \"type\": \"Microsoft.Security/compliances\",\r\n      \"properties\": {\r\n        \"scope\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869\",\r\n        \"assessmentResult\": [\r\n          {\r\n            \"type\": \"Compliant\",\r\n            \"percentage\": 0.09375\r\n          }\r\n        ],\r\n        \"resourceCount\": 32,\r\n        \"assessmentTimestampUtcDate\": \"2020-11-30T00:00:00Z\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/compliances/2020-11-29Z\",\r\n      \"name\": \"2020-11-29Z\",\r\n      \"type\": \"Microsoft.Security/compliances\",\r\n      \"properties\": {\r\n        \"scope\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869\",\r\n        \"assessmentResult\": [\r\n          {\r\n            \"type\": \"Compliant\",\r\n            \"percentage\":[...]
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/locations?api-version=2015-06-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "99"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/locations/centralus\",\r\n      \"name\": \"centralus\",\r\n      \"type\": \"Microsoft.Security/locations\",\r\n      \"properties\": {\r\n        \"homeRegionName\": \"centralus\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/compliances/2020-11-30Z?api-version=2017-08-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "748"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/providers/Microsoft.Security/compliances/2020-11-30Z\",\r\n  \"name\": \"2020-11-30Z\",\r\n  \"type\": \"Microsoft.Security/compliances\",\r\n  \"properties\": {\r\n    \"scope\": \"/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869\",\r\n    \"assessmentResult\": [\r\n      {\r\n        \"type\": \"Compliant\",\r\n        \"percentage\": 0.09375\r\n      }\r\n    ],\r\n    \"resourceCount\": 32,\r\n    \"assessmentTimestampUtcDate\": \"2020-11-30T00:00:00Z\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "487bb485-b5b0-471e-9c0d-10717612f869"
  }
}