{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Capacity/reservationOrders/704aee8c-c906-47c7-bd22-781841fb48b5/split?api-version=2018-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"quantities\": [\r\n      1,\r\n      1\r\n    ],\r\n    \"reservationId\": \"/providers/Microsoft.Capacity/reservationOrders/704aee8c-c906-47c7-bd22-781841fb48b5/reservations/ac7f6b04-ff45-4da1-83f3-b0f2f6c8128e\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"sku\": {\r\n      \"name\": \"Standard_B1ms\"\r\n    },\r\n    \"id\": \"/providers/microsoft.capacity/reservationOrders/704aee8c-c906-47c7-bd22-781841fb48b5/reservations/efcd2077-baa6-4be3-8190-2b9ba939c8bc\",\r\n    \"type\": \"Microsoft.Capacity/reservationOrders/reservations\",\r\n    \"name\": \"704aee8c-c906-47c7-bd22-781841fb48b5/efcd2077-baa6-4be3-8190-2b9ba939c8bc\",\r\n    \"etag\": 2,\r\n    \"location\": \"westeurope\",\r\n    \"properties\": {\r\n      \"appliedScopeType\": \"Shared\",\r\n      \"quantity\": 1,\r\n      \"provisioningState\": \"Succeeded\",\r\n      \"expiryDate\": \"2019-06-15\",\r\n      \"displayName\": \"Powershell_Test\",\r\n      \"effectiveDateTime\": \"2018-06-15T22:22:46.669627Z\",\r\n      \"lastUpdatedDateTime\": \"2018-06-15T22:22:53.5650117Z\",\r\n      \"reservedResourceType\": \"VirtualMachines\",\r\n      \"instanceFlexibility\": \"On\",\r\n      \"skuDescription\": \"Standard_B1ms\",\r\n      \"splitProperties\": {\r\n        \"splitSource\": \"/providers/microsoft.capacity/reservationOrders/704aee8c-c906-47c7-bd22-781841fb48b5/reservations/ac7f6b04-ff45-4da1-83f3-b0f2f6c8128e\"\r\n      }\r\n    }\r\n  },\r\n  {\r\n    \"sku\": {\r\n      \"name\": \"Standard_B1ms\"\r\n    },\r\n    \"id\": \"/providers/microsoft.capacity/reservationOrders/704aee8c-c906-47c7-bd22-781841fb48b5/reservations/0281e256-5b31-424a-8df8-e67f6531113a\",\r\n    \"type\": \"Microsoft.Capacity/reservationOrders/reservations\",\r\n    \"name\": \"704aee8c-c906-[...]
