{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Capacity/reservationOrders/ffa7538a-2251-489d-82bf-7efcb8b346d7/reservations/cf909cbc-f1e6-46b7-a3cc-6bf51cdc571f?api-version=2018-06-01",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"appliedScopeType\": \"Single\",\r\n    \"appliedScopes\": [\r\n      \"/subscriptions/caadc3f2-e83e-487c-9a14-41f74366467f\"\r\n    ],\r\n    \"instanceFlexibility\": \"On\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_NC12s_v2\"\r\n  },\r\n  \"id\": \"/providers/microsoft.capacity/reservationOrders/ffa7538a-2251-489d-82bf-7efcb8b346d7/reservations/cf909cbc-f1e6-46b7-a3cc-6bf51cdc571f\",\r\n  \"type\": \"Microsoft.Capacity/reservationOrders/reservations\",\r\n  \"name\": \"ffa7538a-2251-489d-82bf-7efcb8b346d7/cf909cbc-f1e6-46b7-a3cc-6bf51cdc571f\",\r\n  \"etag\": 6,\r\n  \"location\": \"westeurope\",\r\n  \"properties\": {\r\n    \"appliedScopes\": [\r\n      \"/subscriptions/caadc3f2-e83e-487c-9a14-41f74366467f\"\r\n    ],\r\n    \"appliedScopeType\": \"Single\",\r\n    \"quantity\": 2,\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"expiryDate\": \"2019-06-06\",\r\n    \"displayName\": \"bigCatTest_NCv2\",\r\n    \"effectiveDateTime\": \"2018-06-07T22:36:43.2418851Z\",\r\n    \"lastUpdatedDateTime\": \"2018-06-07T22:36:46.7738802Z\",\r\n    \"reservedResourceType\": \"VirtualMachines\",\r\n    \"autoFit\": \"CapacityPriority\",\r\n    \"instanceFlexibility\": \"On\",\r\n    \"skuDescription\": \"Standard_NC12s_v2\",\r\n    \"mergeProperties\": {\r\n      \"mergeSources\": [\r\n        \"/providers/microsoft.capacity/reservationOrders/ffa7538a-2251-489d-82bf-7efcb8b346d7/reservations/3b0e3ccb-fdfb-43a1-9840-00227fcef48e\",\r\n        \"/providers/microsoft.capacity/reservationOrders/ffa7538a-2251-489d-82bf-7efcb8b346d7/reservations/f2dce229-7c5c-4017-ac84-fe38c6d69430\"\r\n      ]\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-writes": [
          "1197"
        ],
        "x-ms-test": [
          "{\"contact\":\"cabri-fixedheader\",\"scenarios\":\"ACE Purchase Test\",\"retention\":\"6/16/2018 8:21:53 PM\"}"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "caadc3f2-e83e-487c-9a14-41f74366467f"
  }
}