{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Capacity/reservationOrders/55793bc2-e5c2-4a98-9d5c-0a0bce6cf998/reservations/55ef9160-825e-4ca3-969e-c919de3c57ec?api-version=2017-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\"\r\n  },\r\n  \"id\": \"/providers/microsoft.capacity/reservationOrders/55793bc2-e5c2-4a98-9d5c-0a0bce6cf998/reservations/55ef9160-825e-4ca3-969e-c919de3c57ec\",\r\n  \"type\": \"Microsoft.Capacity/reservationOrders/reservations\",\r\n  \"name\": \"55793bc2-e5c2-4a98-9d5c-0a0bce6cf998/55ef9160-825e-4ca3-969e-c919de3c57ec\",\r\n  \"etag\": 4,\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"appliedScopeType\": \"Shared\",\r\n    \"quantity\": 5,\r\n    \"meters\": [\r\n      \"c90f4d88-01c1-48e9-ba9d-cb9c6ccaedd3\"\r\n    ],\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"expiryDate\": \"2018-09-26\",\r\n    \"provisioningSubState\": \"Active\",\r\n    \"displayName\": \"cabri_test\",\r\n    \"region\": \"eastus\",\r\n    \"effectiveDateTime\": \"2017-10-04T22:16:57.6038027Z\",\r\n    \"lastUpdatedDateTime\": \"2017-10-04T22:17:04.634299Z\",\r\n    \"mergeProperties\": {\r\n      \"mergeSources\": [\r\n        \"/providers/microsoft.capacity/reservationOrders/55793bc2-e5c2-4a98-9d5c-0a0bce6cf998/reservations/4964fc57-4ed9-40d6-8cff-841b8be5a35f\",\r\n        \"/providers/microsoft.capacity/reservationOrders/55793bc2-e5c2-4a98-9d5c-0a0bce6cf998/reservations/2df4bed8-28b5-464b-a280-cf171b970c1b\"\r\n      ]\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "98df3792-7962-4f18-8be2-d5576f122de3"
  }
}