{
  "Entries": [
    {
      "RequestUri": "/subscriptions/22fc5687-5914-49c3-8280-34f8a089827e/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvOvX24tSHPQiNiAzdjTmhETcu4DJufpBOao4MjDq+FV/7U1hX9zE3rMByjYssX2FsqKNNCodiLsCHchzHHFZDkBVVpe5D58Q+wRoGVag5OxTOAvPLzWAdUumgDURnqxJCO1pTXSFaAbA1IqojY1qA"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14979"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/22fc5687-5914-49c3-8280-34f8a089827e/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local\",\r\n      \"name\": \"local\",\r\n      \"type\": \"Microsoft.InfrastructureInsights.Admin/regionHealths\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"usageMetrics\": [\r\n          {\r\n            \"name\": \"Physical memory\",\r\n            \"metricsValue\": [\r\n              {\r\n                \"name\": \"Used\",\r\n                \"unit\": \"GB\",\r\n                \"value\": 88.431640625\r\n              },\r\n              {\r\n                \"name\": \"Available\",\r\n                \"unit\": \"GB\",\r\n                \"value\": 167.474609375\r\n              }\r\n            ]\r\n          },\r\n          {\r\n            \"name\": \"Physical storage\",\r\n            \"metricsValue\": [\r\n              {\r\n                \"name\": \"Used\",\r\n                \"unit\": \"TB\",\r\n                \"value\": 0.43429387733340263\r\n              },\r\n              {\r\n                \"name\": \"Available\",\r\n                \"unit\": \"TB\",\r\n                \"value\": 20.503023017197847\r\n              }\r\n            ]\r\n          },\r\n          {\r\n            \"name\": \"Public IP address pools\",\r\n            \"metricsValue\": [\r\n              {\r\n                \"name\": \"Used\",\r\n                \"unit\": \"One\",\r\n                \"value\": 33.0\r\n              },\r\n              {\r\n                \"name\": \"Available\",\r\n                \"unit\": \"One\",\r\n                \"value\": 222.0\r\n              }\r\n            ]\r\n          }\r\n        ],\r\n        \"alertSummary\": {\r\n          \"criticalAlertCount\": 0,\r\n          \"warningAlertCount\": 2\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/22fc5687-5914-49c3-8280-34f8a089827e/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts/wrongid/repair?api-version=2016-05-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://adminmanagement.local.azurestack.external/subscriptions/22fc5687-5914-49c3-8280-34f8a089827e/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/healthServiceOperationResults/150978a1-c1e1-449f-a344-62621bd6654a?api-version=2016-05-01"
        ],
        "Retry-After": [
          "60"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvgzAMUON3dw2p6bimBXK+3hLxz/c38yJffK9+KuL4idcu/P1G0Tupsj7Yn2AtJEm4OHShnQLZ7V11FgJVPPEyq39kV3pUE2hkxlxtEO7Blxluu+4kpo4/r+/lKFIn2Y0v9qpE5H5v1wP/G8fBawTG"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/22fc5687-5914-49c3-8280-34f8a089827e/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/healthServiceOperationResults/150978a1-c1e1-449f-a344-62621bd6654a?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv24TLYWz8kccYwvdXfP1tSuLTuFJgVvYZujZ0o/sBeEbc7CDxiF+xbRnz/OlS0+oKsZt9svwK4j4TlZXmUZ3ov/NtnJe3eZIGVqIppfFz/au3GiPRi0pjCGKeEk0PTY/wG4/a+aUldNt+n+5VFTfa"
        ],
        "x-ms-failure-cause": [
          "service"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14975"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Failed\"\r\n  },\r\n  \"error\": {\r\n    \"code\": \"RemediateAlertFailed\",\r\n    \"message\": \"Failed to remediate alert 'wrongid' with error message: Exception of type 'Microsoft.AzureStack.Common.Infrastructure.Http.Client.ErrorModel.NotFoundException' was thrown.\"\r\n  }\r\n}",
      "StatusCode": 500
    },
    {
      "RequestUri": "/subscriptions/22fc5687-5914-49c3-8280-34f8a089827e/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv/vPZQZUqxenU/Arj+z4Tr/+aMzjWgtzCTEBFKhaqtG09kpLF7eAGRmZaxxGC7NgNLegT6yOQIGIY/tKxXxx/hPlVif8TuQA3KscxgaWZgHIh59N9w0W9wcOQIsum2fsQbCvwGRRGXhQ4YXIeNbwY"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14974"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/22fc5687-5914-49c3-8280-34f8a089827e/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts/2cba8f07-4140-470f-a750-16af2f3f0aa4\",\r\n      \"name\": \"local/2cba8f07-4140-470f-a750-16af2f3f0aa4\",\r\n      \"type\": \"Microsoft.InfrastructureInsights.Admin/regionHealths/alerts\",\r\n      \"location\": \"local\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"closedTimestamp\": \"2018-11-16T20:47:45.7979075Z\",\r\n        \"createdTimestamp\": \"2018-11-16T20:41:43.1351285Z\",\r\n        \"description\": [\r\n          {\r\n            \"text\": \"The infrastructure role instance AZS-CA01 is unavailable. This might impact performance and availability of Azure Stack services.\",\r\n            \"type\": \"Text\"\r\n          }\r\n        ],\r\n        \"faultId\": \"175149d2-aabe-49ea-9dd9-c404a4b42bdc\",\r\n        \"alertId\": \"2cba8f07-4140-470f-a750-16af2f3f0aa4\",\r\n        \"faultTypeId\": \"FRP.Heartbeat.InfraVM\",\r\n        \"lastUpdatedTimestamp\": \"2018-11-16T20:47:45.7979075Z\",\r\n        \"alertProperties\": {\r\n          \"heartbeatAlert\": \"true\",\r\n          \"nodeName\": \"AZS-CA01\"\r\n        },\r\n        \"remediation\": [\r\n          {\r\n            \"text\": \"1. Select the 'Repair' action to try to start the Infrastructure role instance, and then wait for the action to complete. Do not attempt to repair more than one alert at a time. Do not attempt the repair action if an update is in progress.\",\r\n            \"type\": \"Text\"\r\n          },\r\n          {\r\n            \"type\": \"NewLine\"\r\n          },\r\n          {\r\n            \"text\": \" 2. A few minutes after the Infrastructure role instance starts, the alert will automatically close. You can view the operational status of the role instance by navigating to the following \",\r\n            \"type\": \"Text\"\r\n          },\r\n          {\r\n            \"linkType\": \"ResourceId\",\r\n            \"resourceId\": \"/subscriptions/22fc5687-5914-49c3-8280-34f8a089827e/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraroleinstances/AZS-CA01\",\r\n            \"type\": \"LinkBegin\"\r\n          },\r\n          {\r\n            \"text\": \"AZS-CA01\",\r\n            \"type\": \"Text\"\r\n          },\r\n          {\r\n            \"type\": \"LinkEnd\"\r\n          },\r\n          {\r\n            \"text\": \". \",\r\n            \"type\": \"Text\"\r\n          },\r\n          {\r\n            \"type\": \"NewLine\"\r\n          },\r\n          {\r\n            \"text\": \" 3. If the alert remains active for more than a few minutes after the repair action completes, start the log file collection process using the guidance from \",\r\n            \"type\": \"Text\"\r\n          },\r\n          {\r\n            \"linkType\": \"Uri\",\r\n            \"uri\": \"https://aka.ms/azurestacklogfiles\",\r\n            \"type\": \"LinkBegin\"\r\n          },\r\n          {\r\n            \"text\": \"https://aka.ms/azurestacklogfiles\",\r\n            \"type\": \"Text\"\r\n          },\r\n          {\r\n            \"type\": \"LinkEnd\"\r\n          },\r\n          {\r\n            \"text\": \", and then contact support.\",\r\n            \"type\": \"Text\"\r\n          }\r\n        ],\r\n        \"resourceProviderRegistrationId\": \"e56bc7b8-c8b5-4e25-b00c-4f951effb22c\",\r\n        \"severity\": \"Warning\",\r\n        \"state\": \"Closed\",\r\n        \"title\": \"Infrastructure role instance unavailable\",\r\n        \"impactedResourceId\": \"/subscriptions/22fc5687-5914-49c3-8280-34f8a089827e/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AZS-CA01\",\r\n        \"impactedResourceDisplayName\": \"AZS-CA01\",\r\n        \"closedByUserAlias\": \"?api-version=1.0.0\",\r\n        \"preview\": \"False\",\r\n        \"hasValidRemediationAction\": true,\r\n        \"remediationHistory\": {\r\n          \"2018-11-16T20:44:01.7297579Z\": \"InProgress\",\r\n          \"2018-11-16T20:44:22.5103805Z\": \"Complete\"\r\n        }\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/22fc5687-5914-49c3-8280-34f8a089827e/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts/2fb6394d-0e1c-45e2-b3ff-89f52d801410\",\r\n      \"name\": \"local/2fb6394d-0e1c-45e2-b3ff-89f52d801410\",\r\n      \"type\": \"Microsoft.InfrastructureInsi[...]
    {
      "RequestUri": "/subscriptions/22fc5687-5914-49c3-8280-34f8a089827e/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/alerts/2cba8f07-4140-470f-a750-16af2f3f0aa4/repair?api-version=2016-05-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://adminmanagement.local.azurestack.external/subscriptions/22fc5687-5914-49c3-8280-34f8a089827e/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/healthServiceOperationResults/99013973-b43f-4d32-adec-185a0bdf3dec?api-version=2016-05-01"
        ],
        "Retry-After": [
          "60"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv1wBgNik/1xazDVUVc3YYGjIddbUXRqNrT6gTdC8baoHBRo0wcMwuMAV92ZrniOUfKHYhIgAP9c4SrwRDb6yi73ZZTAP+PLYylybiHRN4edxh4nEL4/8QUGB/lnDjZfUGpAQlXDtveDiazqYsk9lI"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1190"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/22fc5687-5914-49c3-8280-34f8a089827e/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/healthServiceOperationResults/0a5c6f93-fee9-4725-b015-0d7be4bf206f?api-version=2016-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv51we+H3IkKNErFKyFWD6RqV/sKoh7Bj/g5OtKmZuVzvLZFhMa5ROD5/YCXFvzW0aExf6EuAzN/eXs7mT6uUofpM4YjvxPtmEHW+xQBV8I5zxGbnoK3VakfO8ucKLHX/mpkEQdE8+fFF26fEFZlOB"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14964"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "22fc5687-5914-49c3-8280-34f8a089827e"
  }
}