{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/providers/Microsoft.Network?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "2e709ec7-fe41-47ef-9e8c-3e78a2ea2c4e"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.26614.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.1"
=======
          "f4ddfa68-b06c-42c9-9cd2-2b61389f5d41"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.13"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": [
          "Tue, 16 Jul 2019 07:52:20 GMT"
        ],
=======
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "74868497-8b83-49ff-a869-597b691e6ff9"
        ],
        "x-ms-correlation-request-id": [
          "74868497-8b83-49ff-a869-597b691e6ff9"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190716T075221Z:74868497-8b83-49ff-a869-597b691e6ff9"
        ],
        "strict-transport-security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-content-type-options": [
          "nosniff"
        ],
        "Content-Length": [
          "57295"
=======
          "be9da3a5-7ca5-4070-8a75-3a177b6e68e4"
        ],
        "x-ms-correlation-request-id": [
          "be9da3a5-7ca5-4070-8a75-3a177b6e68e4"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200607T152550Z:be9da3a5-7ca5-4070-8a75-3a177b6e68e4"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
          "Sun, 07 Jun 2020 15:25:50 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
<<<<<<< HEAD
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-45a9-930c-ddb2e56fa131\"\r\n    },\r\n    {\r\n      \"applicationId\": \"486c78bf-a0f7-45f1-92fd-37215929e116\",\r\n      \"roleDefinitionId\": \"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d\"\r\n    },\r\n    {\r\n      \"applicationId\": \"19947cfd-0303-466c-ac3c-fcc19a7a1570\",\r\n      \"roleDefinitionId\": \"d813ab6c-bfb7-413e-9462-005b21f0ce09\"\r\n    },\r\n    {\r\n      \"applicationId\": \"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd\",\r\n      \"roleDefinitionId\": \"8141843c-c51c-4c1e-a5bf-0d351594b86c\"\r\n    },\r\n    {\r\n      \"applicationId\": \"328fd23b-de6e-462c-9433-e207470a5727\",\r\n      \"roleDefinitionId\": \"79e29e06-4056-41e5-a6b2-959f1f47747e\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"virtualNetworks\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"UK West\",\r\n        \"UK South\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"Australia Central\",\r\n        \"Australia Central 2\",\r\n        \"South Africa North\",\r\n        \"UAE North\",\r\n        \"West US\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-06-01\",\r\n        \"2019-04-01\",\r\n        \"2019-02-01\",\r\n        \"2018-12-01\",\r\n        \"2018-11-01\",\r\n        \"2018-10-01\",\r\n        \"2018-08-01\",\r\n        \"2018-07-01\",\r\n        \"2018-06-01\",\r\n        \"2018-05-01\",\r\n        \"2018-04-01\",\r\n        \"2018-03-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-01\",\r\n        \"2017-11-01\",\r\n        \"2017-10-01\",\r\n        \"2017-09-01\",\r\n        \"2017-08-01\",\r\n        \"2017-06-01\",\r\n        \"2017-04-01\",\r\n        \"2017-03-01\",\r\n        \"2016-12-01\",\r\n        \"2016-11-01\",\r\n        \"2016-10-01\",\r\n        \"2016-09-01\",\r\n        \"2016-08-01\",\r\n        \"2016-07-01\",\r\n        \"2016-06-01\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\",\r\n        \"2014-12-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"publicIPAddresses\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\"[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourcegroups/ps4899?api-version=2016-09-01",
=======
        ],
        "Content-Length": [
          "83553"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDef[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourcegroups/ps5149?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "b607dba8-b7db-4c3a-9b34-f78a76a90cd5"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.26614.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.1"
=======
          "bf3ba29c-7997-420d-a241-8d0c37657758"
        ],
        "Accept-L[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps4899/providers/Microsoft.Network/routeFilters/ps2745?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5149\",\r\n  \"name\": \"ps5149\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5149/providers/Microsoft.Network/routeFilters/ps9173?api-version=2020-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "755a3836-c15d-47b0-8758-3d44a2d50bed"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.26614.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.2.0.0"
=======
          "da8e5cde-cf14-49c6-a3e3-913032a62754"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": [
          "Tue, 16 Jul 2019 07:52:25 GMT"
        ],
=======
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Pragma": [
          "no-cache"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "2a36ceaa-cdfe-4938-9ad6-b2104accf7bc"
        ],
        "x-ms-correlation-request-id": [
          "2a36ceaa-cdfe-4938-9ad6-b2104accf7bc"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190716T075225Z:2a36ceaa-cdfe-4938-9ad6-b2104accf7bc"
        ],
        "strict-transport-security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-content-type-options": [
          "nosniff"
        ],
        "Content-Length": [
          "147"
=======
          "a9b4f9e7-8891-4311-9dbf-f10cabeee68d"
        ],
        "x-ms-correlation-request-id": [
          "a9b4f9e7-8891-4311-9dbf-f10cabeee68d"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20200607T152551Z:a9b4f9e7-8891-4311-9dbf-f10cabeee68d"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
          "Sun, 07 Jun 2020 15:25:50 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
<<<<<<< HEAD
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/routeFilters/ps2745' under resource group 'ps4899' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5149/providers/Microsoft.Network/routeFilters/ps9173?api-version=2020-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.26614.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.2.0.0"
=======
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": [
          "Tue, 16 Jul 2019 07:52:36 GMT"
        ],
=======
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Pragma": [
          "no-cache"
        ],
        "ETag": [
<<<<<<< HEAD
          "W/\"2f8ebd94-0e3e-4c8a-aa8c-55c653b4e5a2\""
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-request-id": [
          "277f361c-b165-484d-a7c8-abcaf49d179d"
        ],
        "x-ms-correlation-request-id": [
          "7c7d9f50-6e65-41f9-8090-7118200f7945"
        ],
        "x-ms-arm-service-request-id": [
          "dd1aebab-2097-4162-9e85-20de1872bb1c"
        ],
        "strict-transport-security": [
          "max-age=31536000; includeSubDomains"
        ],
=======
          "W/\"ca7db170-ce45-4218-85a1-7d1c54eb85da\""
        ],
        "x-ms-request-id": [
          "3246f60d-294b-49b5-99aa-0ee4f483d321"
        ],
        "x-ms-correlation-request-id": [
          "28a1a584-8440-4275-ad78-6da0a7a62ae2"
        ],
        "x-ms-arm-service-request-id": [
          "4ce65bad-d218-4a94-8e96[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps4899/providers/Microsoft.Network/routeFilters/ps2745?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps9173\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5149/providers/Microsoft.Network/routeFilters/ps9173\",\r\n  \"etag\": \"W/\\\"ca7db170-ce45-4218-85a1-7d1c54eb85da\\\"\",\r\n  \"type\": \"Microsoft.Network/routeFilters\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"rules\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/resourceGroups/ps4899/providers/Microsoft.Network/routeFilters/ps2745?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"rules\": [],\r\n    \"peerings\": [],\r\n    \"ipv6Peerings\": []\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
=======
        ],
        "Content-Length": [
          "215"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/routeFilters/ps9173' under resource group 'ps5149' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5149/providers/Microsoft.Network/routeFilters/ps9173?api-version=2020-07-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"rules\": []\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "125"
=======
          "79"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": [
          "Tue, 16 Jul 2019 07:52:26 GMT"
        ],
=======
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Pragma": [
          "no-cache"
        ],
        "Retry-After": [
          "10"
        ],
<<<<<<< HEAD
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-request-id": [
          "e129875c-e808-4b0d-9aaf-ee39c48ccf2a"
        ],
        "azure-asyncoperation": [
          "https://management.azure.com/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/providers/Microsoft.Network/locations/westcentralus/operations/e129875c-e808-4b0d-9aaf-ee39c48ccf2a?api-version=2019-06-01"
        ],
        "x-ms-correlation-request-id": [
          "f39badc5-b00c-4248-b445-426a82a8eada"
        ],
        "x-ms-arm-service-request-id": [
          "9f99f70b-8b95-4883-8257-793527b1fbcf"
        ],
        "strict-transport-security": [
          "max-age=31536000; includeSubDomains"
        ],
=======
        "x-ms-request-id": [
          "58efd574-8334-4fd8-8477-c8d37addf980"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/westcentralus/operations/58efd574-8334-4fd8-8477-c8d37addf980?api-version=2020-07-01"
        ],
        "x-ms-correlation-request-id": [
          "ca6244a7-f495-4e0a-be3d-153112baf133"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-arm-service-request-id": [
          "7257dd08-8399-4bcd-9ace-a9394c336e1e"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-routing-request-id[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/providers/Microsoft.Network/locations/westcentralus/operations/e129875c-e808-4b0d-9aaf-ee39c48ccf2a?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps9173\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5149/providers/Microsoft.Network/routeFilters/ps9173\",\r\n  \"etag\": \"W/\\\"7e3a9d5b-0814-43a1-8e51-7db994d28b93\\\"\",\r\n  \"type\": \"Microsoft.Network/routeFilters\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"rules\": []\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/providers/Microsoft.Network/routeFilters?api-version=2019-06-01",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ps9173\",\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5149/providers/Microsoft.Network/routeFilters/ps9173\",\r\n      \"etag\": \"W/\\\"ca7db170-ce45-4218-85a1-7d1c54eb85da\\\"\",\r\n      \"type\": \"Microsoft.Network/routeFilters\",\r\n      \"location\": \"westcentralus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"rules\": []\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/routeFilters?api-version=2020-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "af534505-4ddf-4ec7-9686-d1a8286f976d"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.26614.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.2.0.0"
=======
          "d07c81c3-3d27-4660-af5d-3559d970343b"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": [
          "Tue, 16 Jul 2019 07:52:38 GMT"
        ],
=======
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Pragma": [
          "no-cache"
        ],
        "x-ms-original-request-ids": [
<<<<<<< HEAD
          "d1ac40f0-53f7-4332-8c90-522b367f08cd",
          "764ffb86-794a-4236-a266-8affd624b51a"
=======
          "29c93e38-cbd2-43e7-a702-81527062f1af",
          "2dc06078-7cba-4cf9-897c-e728da140320"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "5c012ea5-b36d-4ec3-81ac-e6277e904f3e"
        ],
        "x-ms-correlation-requ[...]
    {
      "RequestUri": "/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/providers/Microsoft.Network/routeFilters?api-version=2019-06-01",
=======
        ],
        "Content-Length": [
          "1506"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"hub-network-PROD-1001-az03\",\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/CentralUSPerfRG/providers/Microsoft.Network/routeFilters/hub-network-PROD-1001-az03\",\r\n      \"etag\": \"W/\\\"a9938fdf-3918-445d-8ebd-4c4e00b74257\\\"\",\r\n      \"type\": \"Microsoft.Network/routeFilters\",\r\n      \"location\": \"westcentralus\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"rules\": [\r\n          {\r\n            \"name\": \"testjavico\",\r\n            \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/CentralUSPerfRG/providers/Microsoft.Network/routeFilters/hub-network-PROD-1001-az03/routeFilterRules/testjavico\",\r\n            \"etag\": \"W/\\\"a9938fdf-3918-445d-8ebd-4c4e00b74257\\\"\",\r\n            \"properties\": {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"access\": \"Allow\",\r\n              \"routeFilterRuleType\": \"Community\",\r\n              \"communities\": [\r\n                \"12076:51009\"\r\n              ]\r\n            },\r\n            \"type\": \"Microsoft.Network/routeFilters/routeFilterRules\"\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"ps9173\",\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5149/providers/Microsoft.Network/routeFilters/ps9173\",\r\n      \"etag\": \"W/\\\"ca7db170-ce45-4218-85a1-7d1c54eb85da\\\"\",\r\n      \"type\": \"Microsoft.Network/routeFilters\",\r\n      \"location\": \"westcentralus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"rules\": []\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"testfilter\",\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/dihan_test/providers/Microsoft.Network/routeFilters/testfilter\",\r\n      \"etag\": \"W/\\\"1e3a019d-cf67-46d0-b0e9-bb9381255d89\\\"\",\r\n      \"type\": \"Microsoft.Network/routeFilters\",\r\n      \"location\": \"eastus2euap\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"rules\": []\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/resourceGroups/ps5149/providers/Microsoft.Network/routeFilters/ps9173?api-version=2020-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "0cde0607-ef85-4c1a-b66a-f6abbc703098"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.26614.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.2.0.0"
=======
          "32035a91-46ab-4374-959a-39cdc8ba5a21"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28207.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/20.0.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
        "Date": [
          "Tue, 16 Jul 2019 07:52:40 GMT"
        ],
=======
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Pragma": [
          "no-cache"
        ],
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/18b0dc06-a2b8-4c0f-95af-550319fa5eac/providers/Microsoft.Network/locations/westcentralus/operationResults/4e3a9892-ed64-4a13-b266-c3726fc288f1?api-version=2019-06-01"
=======
          "https://management.azure.com/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/locations/westcentralus/operationResults/6d5d0ea1-defc-422a-9c04-d5f79e182b79?api-version=2020-07-01"
>>>>>>> d78b04a5306127f583235b1375[...]
