{
  "Get-AzMetricsBatch+[NoContext]+BatchExpanded+$POST+https://eastus.metrics.monitor.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/metrics:getBatch?starttime=2024-04-09T01%3A50%3A30.9172323Z\u0026endtime=2024-04-09T02%3A50%3A30.9172323Z\u0026metricnamespace=Microsoft.Storage%2FstorageAccounts\u0026metricnames=ingress%2Cegress\u0026api-version=2024-02-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://eastus.metrics.monitor.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/metrics:getBatch?starttime=2024-04-09T01%3A50%3A30.9172323Z\u0026endtime=2024-04-09T02%3A50%3A30.9172323Z\u0026metricnamespace=Microsoft.Storage%2FstorageAccounts\u0026metricnames=ingress%2Cegress\u0026api-version=2024-02-01",
      "Content": "{\r\n  \"resourceids\": [ \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/Monitor-Metric/providers/Microsoft.Storage/storageAccounts/monitortestps01\" ]\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"values\":[{\"starttime\":\"2024-04-09T01:50:30Z\",\"endtime\":\"2024-04-09T02:50:30Z\",\"interval\":\"PT1M\",\"value\":[{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/Monitor-Metric/providers/Microsoft.Storage/storageAccounts/monitortestps01/providers/Microsoft.Insights/metrics/Ingress\",\"type\":\"Microsoft.Insights/metrics\",\"name\":{\"value\":\"Ingress\",\"localizedValue\":\"Ingress\"},\"displayDescription\":\"The amount of ingress data, in bytes. This number includes ingress from an external client into Azure Storage as well as ingress within Azure.\",\"unit\":\"Bytes\",\"timeseries\":[{\"metadatavalues\":[],\"data\":[{\"timeStamp\":\"2024-04-09T01:50:00Z\",\"total\":0},{\"timeStamp\":\"2024-04-09T01:51:00Z\",\"total\":0},{\"timeStamp\":\"2024-04-09T01:52:00Z\",\"total\":0},{\"timeStamp\":\"2024-04-09T01:53:00Z\",\"total\":0},{\"timeStamp\":\"2024-04-09T01:54:00Z\",\"total\":0},{\"timeStamp\":\"2024-04-09T01:55:00Z\",\"total\":0},{\"timeStamp\":\"2024-04-09T01:56:00Z\",\"total\":0},{\"timeStamp\":\"2024-04-09T01:57:00Z\",\"total\":0},{\"timeStamp\":\"2024-04-09T01:58:00Z\",\"total\":0},{\"timeStamp\":\"2024-04-09T01:59:00Z\",\"total\":0},{\"timeStamp\":\"202[...]
