{
  "Entries": [
    {
      "RequestUri": "/subscriptions/46241355-bb95-46a9-ba6c-42b554d71925/resourceGroups/default-eastus/providers/Microsoft.Batch/batchAccounts/testmatt2/applications/test/versions/foo?api-version=2015-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-12-01"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"ApplicationPackageNotFound\",\r\n  \"message\": \"The specified application package does not exist.\\nRequestId:1ed586ed-81a1-4bb6-8bd6-6577c25e7207\\nTime:2016-04-13T04:23:08.2557686Z\",\r\n  \"target\": \"BatchAccount\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/46241355-bb95-46a9-ba6c-42b554d71925/resourceGroups/default-eastus/providers/Microsoft.Batch/batchAccounts/testmatt2/applications/test/versions/foo?api-version=2015-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-12-01"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"test\",\r\n  \"version\": \"foo\",\r\n  \"storageUrl\": \"https://mattpsteststorage.blob.core.windows.net/app-test-a94a8fe5ccb19ba61c4c0873d391e987982fbbd3/test-foo-0ca1815b-50ca-43ff-84a8-55665a18c2f5?sv=2014-02-14&sr=b&sig=PnHD76OsYlBkGxXh2DCsCX0N92JsSuoiAdoY8HvslZI%3D&st=2016-04-13T04%3A18%3A16Z&se=2016-04-13T08%3A23%3A16Z&sp=rw\",\r\n  \"storageUrlExpiry\": \"2016-04-13T08:23:16.1987237Z\",\r\n  \"state\": \"active\",\r\n  \"format\": \"zip\",\r\n  \"lastActivationTime\": \"2016-04-13T04:23:16.9078744Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Wed, 13 Apr 2016 04:23:16 GMT"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ],
        "ETag": [
          "0x8D3635355FB0F94"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/46241355-bb95-46a9-ba6c-42b554d71925/resourceGroups/default-eastus/providers/Microsoft.Batch/batchAccounts/testmatt2/applications/test/versions/foo/activate?api-version=2015-12-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"format\": \"zip\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-version": [
          "2015-12-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Wed, 13 Apr 2016 04:23:11 GMT"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "ETag": [
          "0x8D3635352EB91D4"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/pools?api-version=2016-02-01.3.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"testmatt2pool-id410bc\",\r\n  \"vmSize\": \"small\",\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"targetOSVersion\": \"*\"\r\n  },\r\n  \"targetDedicated\": 3,\r\n  \"enableInterNodeCommunication\": false,\r\n  \"startTask\": {\r\n    \"commandLine\": \"cmd /c echo hello\"\r\n  },\r\n  \"applicationPackageReferences\": [\r\n    {\r\n      \"applicationId\": \"test\",\r\n      \"version\": \"foo\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Wed, 13 Apr 2016 04:23:17 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Wed, 13 Apr 2016 04:23:19 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://testmatt2.eastus.batch.azure.com/pools/testmatt2pool-id410bc"
        ],
        "ETag": [
          "0x8D3635357CBE491"
        ],
        "Location": [
          "https://testmatt2.eastus.batch.azure.com/pools/testmatt2pool-id410bc"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/pools/testmatt2pool-id410bc?api-version=2016-02-01.3.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 13 Apr 2016 04:23:20 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "46241355-bb95-46a9-ba6c-42b554d71925",
    "AZURE_BATCH_ACCOUNT": "testmatt2",
    "AZURE_BATCH_ENDPOINT": "https://testmatt2.eastus.batch.azure.com"
  }
}