{
  "Entries": [
    {
      "RequestUri": "/subscriptions/46241355-bb95-46a9-ba6c-42b554d71925/resourceGroups/default-eastus/providers/Microsoft.Batch/batchAccounts/testmatt2/applications/test/versions/foo?api-version=2015-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-12-01"
        ]
      },
      "ResponseBody": "{\r\n  \"code\": \"ApplicationPackageNotFound\",\r\n  \"message\": \"The specified application package does not exist.\\nRequestId:fba2d33b-e696-4ea7-a9b7-b029f0ee7b24\\nTime:2016-04-13T04:24:01.5156064Z\",\r\n  \"target\": \"BatchAccount\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/46241355-bb95-46a9-ba6c-42b554d71925/resourceGroups/default-eastus/providers/Microsoft.Batch/batchAccounts/testmatt2/applications/test/versions/foo?api-version=2015-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-12-01"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"test\",\r\n  \"version\": \"foo\",\r\n  \"storageUrl\": \"https://mattpsteststorage.blob.core.windows.net/app-test-a94a8fe5ccb19ba61c4c0873d391e987982fbbd3/test-foo-f29b090a-151b-4463-af5a-9558bc3afb26?sv=2014-02-14&sr=b&sig=jML%2FLJ%2BBuMS1Tfxfbe1OTs%2F9mLULeLt2frcV23cAJVQ%3D&st=2016-04-13T04%3A19%3A03Z&se=2016-04-13T08%3A24%3A03Z&sp=rw\",\r\n  \"storageUrlExpiry\": \"2016-04-13T08:24:03.9031454Z\",\r\n  \"state\": \"active\",\r\n  \"format\": \"zip\",\r\n  \"lastActivationTime\": \"2016-04-13T04:24:04.6137516Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Wed, 13 Apr 2016 04:24:04 GMT"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ],
        "ETag": [
          "0x8D36353726AA15C"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/46241355-bb95-46a9-ba6c-42b554d71925/resourceGroups/default-eastus/providers/Microsoft.Batch/batchAccounts/testmatt2/applications/test/versions/foo/activate?api-version=2015-12-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"format\": \"zip\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-version": [
          "2015-12-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Wed, 13 Apr 2016 04:24:03 GMT"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "ETag": [
          "0x8D3635371AF1319"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/pools?api-version=2016-02-01.3.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"testmatt2pool-idcaf60\",\r\n  \"vmSize\": \"small\",\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"targetOSVersion\": \"*\"\r\n  },\r\n  \"targetDedicated\": 3,\r\n  \"enableInterNodeCommunication\": false,\r\n  \"startTask\": {\r\n    \"commandLine\": \"cmd /c echo hello\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Wed, 13 Apr 2016 04:24:04 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Wed, 13 Apr 2016 04:24:06 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://testmatt2.eastus.batch.azure.com/pools/testmatt2pool-idcaf60"
        ],
        "ETag": [
          "0x8D3635373FDED9B"
        ],
        "Location": [
          "https://testmatt2.eastus.batch.azure.com/pools/testmatt2pool-idcaf60"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/pools/testmatt2pool-idcaf60?api-version=2016-02-01.3.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 13 Apr 2016 04:24:06 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://testmatt2.eastus.batch.azure.com/$metadata#pools/@Element\",\r\n  \"id\": \"testmatt2pool-idcaf60\",\r\n  \"url\": \"https://testmatt2.eastus.batch.azure.com/pools/testmatt2pool-idcaf60\",\r\n  \"eTag\": \"0x8D3635373FDED9B\",\r\n  \"lastModified\": \"2016-04-13T04:24:06.8828571Z\",\r\n  \"creationTime\": \"2016-04-13T04:24:06.8828571Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2016-04-13T04:24:06.8828571Z\",\r\n  \"allocationState\": \"resizing\",\r\n  \"allocationStateTransitionTime\": \"2016-04-13T04:24:06.8828571Z\",\r\n  \"vmSize\": \"small\",\r\n  \"resizeTimeout\": \"PT15M\",\r\n  \"currentDedicated\": 0,\r\n  \"targetDedicated\": 3,\r\n  \"enableAutoScale\": false,\r\n  \"enableInterNodeCommunication\": false,\r\n  \"startTask\": {\r\n    \"commandLine\": \"cmd /c echo hello\",\r\n    \"runElevated\": false,\r\n    \"maxTaskRetryCount\": 0,\r\n    \"waitForSuccess\": false\r\n  },\r\n  \"maxTasksPerNode\": 1,\r\n  \"taskSchedulingPolicy\": {\r\n    \"nodeFillType\": \"Spread\"\r\n  },\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"targetOSVersion\": \"*\",\r\n    \"currentOSVersion\": \"*\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Wed, 13 Apr 2016 04:24:06 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D3635373FDED9B"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/testmatt2pool-idcaf60?api-version=2016-02-01.3.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 13 Apr 2016 04:24:07 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://testmatt2.eastus.batch.azure.com/$metadata#pools/@Element\",\r\n  \"id\": \"testmatt2pool-idcaf60\",\r\n  \"url\": \"https://testmatt2.eastus.batch.azure.com/pools/testmatt2pool-idcaf60\",\r\n  \"eTag\": \"0x8D3635374BAD5B7\",\r\n  \"lastModified\": \"2016-04-13T04:24:08.1208759Z\",\r\n  \"creationTime\": \"2016-04-13T04:24:06.8828571Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2016-04-13T04:24:06.8828571Z\",\r\n  \"allocationState\": \"resizing\",\r\n  \"allocationStateTransitionTime\": \"2016-04-13T04:24:06.8828571Z\",\r\n  \"vmSize\": \"small\",\r\n  \"resizeTimeout\": \"PT15M\",\r\n  \"currentDedicated\": 0,\r\n  \"targetDedicated\": 3,\r\n  \"enableAutoScale\": false,\r\n  \"enableInterNodeCommunication\": false,\r\n  \"startTask\": {\r\n    \"commandLine\": \"cmd /c echo hello\",\r\n    \"runElevated\": false,\r\n    \"maxTaskRetryCount\": 0,\r\n    \"waitForSuccess\": false\r\n  },\r\n  \"applicationPackageReferences\": [\r\n    {\r\n      \"applicationId\": \"test\",\r\n      \"version\": \"foo\"\r\n    }\r\n  ],\r\n  \"maxTasksPerNode\": 1,\r\n  \"taskSchedulingPolicy\": {\r\n    \"nodeFillType\": \"Spread\"\r\n  },\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"targetOSVersion\": \"*\",\r\n    \"currentOSVersion\": \"*\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Wed, 13 Apr 2016 04:24:08 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D3635374BAD5B7"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/testmatt2pool-idcaf60/updateproperties?api-version=2016-02-01.3.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"startTask\": {\r\n    \"commandLine\": \"cmd /c echo hello\",\r\n    \"runElevated\": false,\r\n    \"maxTaskRetryCount\": 0,\r\n    \"waitForSuccess\": false\r\n  },\r\n  \"certificateReferences\": [],\r\n  \"applicationPackageReferences\": [\r\n    {\r\n      \"applicationId\": \"test\",\r\n      \"version\": \"foo\"\r\n    }\r\n  ],\r\n  \"metadata\": []\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Wed, 13 Apr 2016 04:24:06 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Wed, 13 Apr 2016 04:24:08 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://testmatt2.eastus.batch.azure.com/pools/testmatt2pool-idcaf60/updateproperties"
        ],
        "ETag": [
          "0x8D3635374BAD5B7"
        ]
      },
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/pools/testmatt2pool-idcaf60?api-version=2016-02-01.3.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Wed, 13 Apr 2016 04:24:08 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "46241355-bb95-46a9-ba6c-42b554d71925",
    "AZURE_BATCH_ACCOUNT": "testmatt2",
    "AZURE_BATCH_ENDPOINT": "https://testmatt2.eastus.batch.azure.com"
  }
}