{
  "Get-AzAlb+[NoContext]+List+$GET+https://management.azure.com/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/providers/Microsoft.ServiceNetworking/trafficControllers?api-version=2025-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/providers/Microsoft.ServiceNetworking/trafficControllers?api-version=2025-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "43" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "", "", "", "" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"configurationEndpoints\":[\"03c4bd93c381425a92591a834f68c6b2.alb.azure.com\"],\"frontends\":[],\"associations\":[],\"securityPolicies\":[],\"provisioningState\":\"Succeeded\"},\"id\":\"/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/resourcegroups/sbportaltesting/providers/Microsoft.ServiceNetworking/trafficControllers/delete\",\"name\":\"delete\",\"type\":\"Microsoft.ServiceNetworking/TrafficControllers\",\"etag\":\"31884043-b918-4b41-b85e-79b331fb3b3f\",\"location\":\"eastus\",\"tags\":{},\"systemData\":{\"createdBy\":\"sarahbarton@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2024-01-19T19:59:03.3707533Z\",\"lastModifiedBy\":\"sarahbarton@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2024-01-19T19:59:03.3707533Z\"}},{\"properties\":{\"configurationEndpoints\":[\"6c86848330bf4abab000f70856c08851.alb.azure.com\"],\"frontends\":[{\"id\":\"/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/resourcegroups/faranbari-dev/providers/Microsoft.ServiceNetworking/trafficControllers/test-portal-agc-3/Frontends/fe-test-1\"},{\"id\":\"/subscriptions/668f1741-ef48-4132-bf98-28b3a3d3f257/resourcegroups/faranbari-dev/providers/Microsoft.ServiceNetworking/trafficControllers/test-portal-agc-[...]
