{
  "Get-AzAlb+[NoContext]+List+$GET+https://management.azure.com/subscriptions/b44225bf-10d9-4f0e-bac4-b9ab720d442b/providers/Microsoft.ServiceNetworking/trafficControllers?api-version=2023-11-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/b44225bf-10d9-4f0e-bac4-b9ab720d442b/providers/Microsoft.ServiceNetworking/trafficControllers?api-version=2023-11-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "17" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"configurationEndpoints\": [\r\n          \"4054475fc01a4b4f9b523451b1cf8465.alb.azure.com\"\r\n        ],\r\n        \"frontends\": [\r\n          {\r\n            \"id\": \"/subscriptions/b44225bf-10d9-4f0e-bac4-b9ab720d442b/resourcegroups/test-rg/providers/Microsoft.ServiceNetworking/trafficControllers/remove-test-alb/frontends/test-frontend\"\r\n          }\r\n        ],\r\n        \"associations\": [\r\n          {\r\n            \"id\": \"/subscriptions/b44225bf-10d9-4f0e-bac4-b9ab720d442b/resourcegroups/test-rg/providers/Microsoft.ServiceNetworking/trafficControllers/remove-test-alb/associations/test-association\"\r\n          }\r\n        ],\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/b44225bf-10d9-4f0e-bac4-b9ab720d442b/resourcegroups/test-rg/providers/Microsoft.ServiceNetworking/trafficControllers/remove-test-alb\",\r\n      \"name\": \"remove-test-alb\",\r\n      \"type\": \"Microsoft.ServiceNetworking/TrafficControllers\",\r\n      \"etag\": \"7112de40-7db1-4e1c-9ff9-e161158ee344\",\r\n      \"location\": \"NorthCentralUS\",\r\n      \"systemData\": {\r\n        \"createdBy\": \"shmalpani@microsoft.com\",\r\n        \"createdByType\": \"User\",\r\n        \"createdAt\": \"2023-12-05T21:49:57.649172Z\",\r\n        \"lastModifiedBy\": \"shmalpani@microsoft.com\",\r\n        \"lastModifiedByType\": \"User\",\r\n        \"lastModifiedAt\": \"2023-12-05T21:49:57.649172Z\"\r\n      }\r\n    },\r\n    {\r\n      \"properties\": {\r\n        \"configurationEndpoints\": [\r\n          \"5221eb54e3ef4ac08ff30957e9efa683.alb.azure.com\"\r\n        ],\r\n        \"frontends\": [],\r\n        \"associations\": [],\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/b44225bf-10d9-4f0e-bac4-b9ab720d442b/resourcegroups/test-rg/providers/Microsoft.ServiceNetworking/trafficControllers/delete-test-alb\"[...]
