{
  "Entries": [
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps3700?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps3700\",\r\n  \"name\": \"ps3700\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps3700/providers/Microsoft.DataLakeStore/accounts/ps2015?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeStore/accounts/ps2015' under resource group 'ps3700' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps3700/providers/Microsoft.DataLakeStore/accounts/ps2015?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallAllowAzureIps\": \"Disabled\",\r\n    \"firewallAllowDataLakeAnalytics\": \"Disabled\",\r\n    \"firewallRules\": [],\r\n    \"virtualNetworkRules\": [],\r\n    \"trustedIdProviderState\": \"Disabled\",\r\n    \"trustedIdProviders\": [],\r\n    \"encryptionState\": \"Enabled\",\r\n    \"encryptionConfig\": {\r\n      \"type\": \"ServiceManaged\"\r\n    },\r\n    \"currentTier\": \"Consumption\",\r\n    \"newTier\": \"Consumption\",\r\n    \"replicationType\": \"LRS\",\r\n    \"dataLakePerformanceTierState\": \"Disabled\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"ps2015.caboaccountdogfood.net\",\r\n    \"accountId\": \"36b8c24b-b7bc-4d00-b329-fb51d16b110d\",\r\n    \"creationTime\": \"2019-10-09T00:31:21.5251055Z\",\r\n    \"lastModifiedTime\": \"2019-10-09T00:31:21.5251055Z\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"4ea6f495-1dfa-4542-b879-6c0105a2e345\",\r\n    \"tenantId\": \"4ca0b6b0-e97c-43bc-aa52-48f274d2cf1a\"\r\n  },\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps3700/providers/Microsoft.DataLakeStore/accounts/ps2015\",\r\n  \"name\": \"ps2015\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps3700/providers/Microsoft.DataLakeStore/accounts/ps2015?api-version=2016-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"encryptionConfig\": {\r\n      \"type\": \"ServiceManaged\"\r\n    },\r\n    \"encryptionState\": \"Enabled\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps3700/providers/Microsoft.DataLakeStore/accounts/ps2015/operationresults/0?api-version=2016-11-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLakeStore/locations/westus/operationResults/36b8c24b-b7bc-4d00-b329-fb51d16b110d_0?api-version=2016-11-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"encryptionState\": \"Enabled\",\r\n    \"encryptionConfig\": {\r\n      \"type\": \"ServiceManaged\"\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"state\": null,\r\n    \"endpoint\": null,\r\n    \"accountId\": \"36b8c24b-b7bc-4d00-b329-fb51d16b110d\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"tenantId\": \"00000000-0000-0000-0000-000000000000\"\r\n  },\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps3700/providers/Microsoft.DataLakeStore/accounts/ps2015\",\r\n  \"name\": \"ps2015\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLakeStore/locations/westus/operationResults/36b8c24b-b7bc-4d00-b329-fb51d16b110d_0?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FadlfolderTest1?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[67b3150b-5bc4-4b6d-a473-32d9300f1a7a][ AuthTime::7910.6::PostAuthTime::3419.1 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[GETFILESTATUS :: 00:00:009 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:754;HandlerTime:11"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlfolderTest1 [67b3150b-5bc4-4b6d-a473-32d9300f1a7a][2019-10-08T17:31:56.0513952-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2FadlfolderTest1?op=MKDIRS&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "2fc4a8b2-daf5-4997-bf3f-946c0927aae2.0.1,1363,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[2fd01b8f-a977-4ad7-bf53-8b623a6803d5][ AuthTime::0::PostAuthTime::0 ][S-HdfsMkdirsV2 :: 00:00:005 ms]%0a[MKDIRS :: 00:00:005 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"boolean\": true\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FadlfolderTest1%2Fadlfile1?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "3792a434-bb42-4de6-8f03-15c5e5277438.0.0,83,,MKDIRS,16,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[ee236cf5-e577-4241-b4aa-01deefe59417][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:002 ms]%0a[GETFILESTATUS :: 00:00:002 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:5;HandlerTime:3"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlfolderTest1/adlfile1 [ee236cf5-e577-4241-b4aa-01deefe59417][2019-10-08T17:31:56.5669590-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FadlfolderTest1%2Fadlfile1?op=CREATE&overwrite=True&leaseid=ce4e4f6a-93ee-4842-972a-69d83ed2cb6e&filesessionid=ce4e4f6a-93ee-4842-972a-69d83ed2cb6e&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "a24c8f6e-ea72-4b7f-a76b-2dfb7456b240.0.1,80,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://ps2015.caboaccountdogfood.net/webhdfs/v1/adlfolderTest1/adlfile1?op=CREATE&overwrite=True&leaseid=ce4e4f6a-93ee-4842-972a-69d83ed2cb6e&filesessionid=ce4e4f6a-93ee-4842-972a-69d83ed2cb6e&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01"
        ],
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[a90d00b7-9699-46f9-bcc4-8a9b51311136][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:002 ms]%0a[S-HdfsCheckAccess :: 00:00:002 ms]%0a[S-HdfsOpenV2 :: 00:00:014 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:000 ms]%0a[CREATE :: 00:00:021 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:24;HandlerTime:23"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/webhdfs/v1%2FadlfolderTest1%2Fadlfile1?op=APPEND&leaseid=ce4e4f6a-93ee-4842-972a-69d83ed2cb6e&filesessionid=ce4e4f6a-93ee-4842-972a-69d83ed2cb6e&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "45e6d5d1-94f8-43c3-997c-5912b4cf3edb.0.0,100,,CREATE,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[e58e11b5-2a48-4abe-b315-5b4d58a42ea5][ AuthTime::0::PostAuthTime::0 ][S-HdfsOpenV2 :: 00:00:009 ms]%0a[S-FsHdfsAppend  :: 00:00:197 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:197 ms]%0a[APPEND :: 00:00:229 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:234;HandlerTime:233"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FadlfolderTest1%2Fadlfile1?op=DELETE&recursive=False&api-version=2018-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "f5013849-f66e-4a11-adef-c65cefcc3bbd.0.0,258,,APPEND,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[cec7d27a-5240-4a60-bde0-56465f2a5c56][ AuthTime::0::PostAuthTime::0 ][S-FsDelete :: 00:00:014 ms]%0a[DELETE :: 00:00:014 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"boolean\": true\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2F?op=ENUMERATEDELETEDITEMS&hint=adlfolderTest1&listSize=1000&api-version=2018-08-01&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "d120f447-d65e-46bc-b1ca-478f58be75e1.0.1,81,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[89e78e10-eb9e-4f46-9386-61004f7c799b][ AuthTime::0::PostAuthTime::0 ][S-SeEnumerateTrashDirectoryWithPaging :: 00:00:017 ms]%0a[ENUMERATEDELETEDITEMS :: 00:00:068 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"trashDir\": {\r\n    \"trashDirEntry\": [],\r\n    \"nextListAfter\": \"\",\r\n    \"numSearched\": 0\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzM3MDAtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzM3MDAtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzM3MDAtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-AdlsEnumerateAndRestoreDeletedItem": [
      "ps3700",
      "ps2015"
    ]
  },
  "Variables": {
    "SubscriptionId": "90585f39-ab85-4921-bb37-0468f7efd1dd"
  }
}