{
  "Entries": [
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps5007?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps5007\",\r\n  \"name\": \"ps5007\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps5007/providers/Microsoft.DataLakeStore/accounts/ps9584?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeStore/accounts/ps9584' under resource group 'ps5007' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps5007/providers/Microsoft.DataLakeStore/accounts/ps9584?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14995"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallAllowAzureIps\": \"Disabled\",\r\n    \"firewallAllowDataLakeAnalytics\": \"Disabled\",\r\n    \"firewallRules\": [],\r\n    \"virtualNetworkRules\": [],\r\n    \"trustedIdProviderState\": \"Disabled\",\r\n    \"trustedIdProviders\": [],\r\n    \"encryptionState\": \"Disabled\",\r\n    \"encryptionConfig\": {},\r\n    \"currentTier\": \"Consumption\",\r\n    \"newTier\": \"Consumption\",\r\n    \"replicationType\": \"LRS\",\r\n    \"dataLakePerformanceTierState\": \"Disabled\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"ps9584.caboaccountdogfood.net\",\r\n    \"accountId\": \"c4ba68df-3abf-48c7-91b8-9056cab29dc8\",\r\n    \"creationTime\": \"2019-04-17T20:29:45.6154731Z\",\r\n    \"lastModifiedTime\": \"2019-04-17T20:29:45.6154731Z\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps5007/providers/Microsoft.DataLakeStore/accounts/ps9584\",\r\n  \"name\": \"ps9584\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps5007/providers/Microsoft.DataLakeStore/accounts/ps9584?api-version=2016-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"encryptionState\": \"Disabled\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps5007/providers/Microsoft.DataLakeStore/accounts/ps9584/operationresults/0?api-version=2016-11-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLakeStore/locations/westus/operationResults/c4ba68df-3abf-48c7-91b8-9056cab29dc80?api-version=2016-11-01&expanded=true"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"encryptionState\": \"Disabled\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"state\": null,\r\n    \"endpoint\": null,\r\n    \"accountId\": \"c4ba68df-3abf-48c7-91b8-9056cab29dc8\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps5007/providers/Microsoft.DataLakeStore/accounts/ps9584\",\r\n  \"name\": \"ps9584\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLakeStore/locations/westus/operationResults/c4ba68df-3abf-48c7-91b8-9056cab29dc80?api-version=2016-11-01&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[d069aa8f-fa15-4b31-a578-c5bc39168122][ AuthTime::10617.9459796067::PostAuthTime::5256.36655479602 ][S-HdfsGetFileStatus :: 00:00:004 ms]%0a[GETFILESTATUS :: 00:00:008 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:954;HandlerTime:10"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlspstestfolder [d069aa8f-fa15-4b31-a578-c5bc39168122][2019-04-17T13:30:19.4155439-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "09606755-1096-4fc2-9231-19776429fafd.0.0,91,,MKDIRS,16,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[be6edc13-031d-48b2-a643-cf900e6d6e41][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[GETFILESTATUS :: 00:00:003 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:7;HandlerTime:5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 0,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"DIRECTORY\",\r\n    \"blockSize\": 0,\r\n    \"accessTime\": 1555533019620,\r\n    \"modificationTime\": 1555533019620,\r\n    \"replication\": 0,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=MKDIRS&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "ce90648e-5e1d-4678-99ef-5cfb899ed68d.0.1,1515,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[11acb786-8275-4282-b59e-351d74981185][ AuthTime::0::PostAuthTime::0 ][S-HdfsMkdirsV2 :: 00:00:006 ms]%0a[MKDIRS :: 00:00:007 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"boolean\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "c2c0f0fd-8b73-4761-a2da-326db9421aed.0.0,87,,GETFILESTATUS,280,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[050b150e-0a85-4e63-a15b-58ed33bcd21d][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:002 ms]%0a[GETFILESTATUS :: 00:00:003 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:7;HandlerTime:5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlspstestfolder/emptyfile.txt [050b150e-0a85-4e63-a15b-58ed33bcd21d][2019-04-17T13:30:19.8842817-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "9bfe746a-e904-4d95-8882-d6596761ae86.0.0,142,,APPEND,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[9947bd61-a0f5-41a6-9e33-fdbf6bb2478d][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:007 ms]%0a[GETFILESTATUS :: 00:00:008 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:12;HandlerTime:10"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 0,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1555533020003,\r\n    \"modificationTime\": 1555533020003,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=CREATE&overwrite=True&leaseid=ca48685b-5c65-4dc8-b84f-852db41ee28b&filesessionid=ca48685b-5c65-4dc8-b84f-852db41ee28b&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "d78d10fd-b34c-460c-9393-60ac09244921.0.1,85,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://ps9584.caboaccountdogfood.net/webhdfs/v1/adlspstestfolder/emptyfile.txt?op=CREATE&overwrite=True&leaseid=ca48685b-5c65-4dc8-b84f-852db41ee28b&filesessionid=ca48685b-5c65-4dc8-b84f-852db41ee28b&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01"
        ],
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[cac7d1a6-a0ef-4a81-b7fc-462c70407633][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[S-HdfsCheckAccess :: 00:00:002 ms]%0a[S-HdfsOpenV2 :: 00:00:017 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:000 ms]%0a[CREATE :: 00:00:027 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:31;HandlerTime:29"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=APPEND&leaseid=ca48685b-5c65-4dc8-b84f-852db41ee28b&filesessionid=ca48685b-5c65-4dc8-b84f-852db41ee28b&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "486a4e80-a8a7-470c-86fa-6147795b851c.0.0,110,,CREATE,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[c640fbe8-4cd8-41e2-b19b-011efe1a95f9][ AuthTime::0::PostAuthTime::0 ][S-HdfsOpenV2 :: 00:00:011 ms]%0a[S-FsHdfsAppend  :: 00:00:034 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:034 ms]%0a[APPEND :: 00:00:059 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:63;HandlerTime:61"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fcontentfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "29c74472-3e2a-4a23-8f04-3d8a70b7faee.0.0,92,,GETFILESTATUS,304,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[b535258a-35cc-4bcb-8605-37859373d398][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[GETFILESTATUS :: 00:00:004 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:8;HandlerTime:6"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlspstestfolder/contentfile.txt [b535258a-35cc-4bcb-8605-37859373d398][2019-04-17T13:30:20.3686620-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fcontentfile.txt?op=CREATE&overwrite=True&leaseid=5cf92957-9ebc-4488-b512-6337a97c56b6&filesessionid=5cf92957-9ebc-4488-b512-6337a97c56b6&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "a6649ccb-e2f5-4dff-bcc5-aa2813f508f8.0.1,87,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
   [...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fcontentfile.txt?op=APPEND&leaseid=5cf92957-9ebc-4488-b512-6337a97c56b6&filesessionid=5cf92957-9ebc-4488-b512-6337a97c56b6&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "Test file content! @ Azure PsTest01?",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "23aa1854-b187-4564-9549-1bbf4e0b9df2.0.0,103,,CREATE,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[79fca2ea-7b76-44ec-9c4a-599cb0909716][ AuthTime::0::PostAuthTime::0 ][S-HdfsOpenV2 :: 00:00:010 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[S-FsHdfsAppend  :: 00:00:063 ms]%0a[WriteTime :: 00:00:063 ms]%0a[APPEND :: 00:00:081 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:84;HandlerTime:83"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "12a957a6-bceb-4c15-b7c0-ee257ba162a2.0.0,148,,GETFILESTATUS,305,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[27511fd8-46c4-4657-8f7f-40049f741344][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[GETFILESTATUS :: 00:00:003 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:7;HandlerTime:5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /encodingFolder/unicodecontentfile.txt [27511fd8-46c4-4657-8f7f-40049f741344][2019-04-17T13:30:20.8842807-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=CREATE&overwrite=True&leaseid=8932240f-0c0e-490e-b58e-33b57e5a65d0&filesessionid=8932240f-0c0e-490e-b58e-33b57e5a65d0&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "ce00f62a-4867-4be4-acb6-44ed35563201.0.1,86,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=APPEND&leaseid=8932240f-0c0e-490e-b58e-33b57e5a65d0&filesessionid=8932240f-0c0e-490e-b58e-33b57e5a65d0&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "8da90a31-3516-4cf0-9d5f-112f0bfb8b3c.0.0,104,,CREATE,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[3f8b3997-ee79-41fb-9f94-1ed901ed1c0e][ AuthTime::0::PostAuthTime::0 ][S-HdfsOpenV2 :: 00:00:011 ms]%0a[S-FsHdfsAppend  :: 00:00:010 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:010 ms]%0a[APPEND :: 00:00:028 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:32;HandlerTime:30"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=APPEND&leaseid=7c33c697-fe8f-4412-8cc7-fe62a6bf19c3&filesessionid=7c33c697-fe8f-4412-8cc7-fe62a6bf19c3&append=true&offset=0&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "8aef79a1-8ec0-41ee-8f0a-56b58e41b704.0.0,110,,APPEND,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[8f0be151-8b3f-4a66-8b8d-9bd9ae07ee49][ AuthTime::0::PostAuthTime::0 ][S-HdfsOpenV2 :: 00:00:009 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:000 ms]%0a[APPEND :: 00:00:010 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:13;HandlerTime:12"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=GETFILESTATUS&tooid=True&getconsistentlength=true&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "81402b94-d919-4de1-a2fd-b48819987331.0.0,91,,APPEND,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[800dc24d-a15c-47ce-a3d8-42761ae7392a][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:006 ms]%0a[GETFILESTATUS :: 00:00:006 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:10;HandlerTime:9"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 0,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1555533020992,\r\n    \"modificationTime\": 1555533020992,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=OPEN&read=true&filesessionid=130e7763-af23-4380-9891-30d6556331a2&offset=0&length=4194304&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "1d4a3ad1-227f-452b-ba89-1adf696f3db2.0.0,222,,GETFILESTATUS,305,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[beb5e520-4443-43cd-9f9d-896a948b300e][ AuthTime::0::PostAuthTime::0 ][S-FsOpenStream :: 00:00:007 ms]%0a[S-FsReadStream :: 00:00:061 ms]%0a[OPEN :: 00:00:068 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/octet-stream"
        ]
      },
      "ResponseBody": "SQAgAGEAbQAgAHUAbgBpAGMAbwBkAGUAIAB0AGUAeAB0AA==",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "6cb79665-4709-4fc8-ac25-6f7b3165086b.0.0,170,,OPEN,34,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[a73c469a-7bfc-415f-a080-428382e77e6a][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[GETFILESTATUS :: 00:00:003 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:8;HandlerTime:5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /encodingFolder/utf32contentfile.txt [a73c469a-7bfc-415f-a080-428382e77e6a][2019-04-17T13:30:21.9780205-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=CREATE&overwrite=True&leaseid=8d030511-2a60-4adb-8dc1-d9bd1a8a0fde&filesessionid=8d030511-2a60-4adb-8dc1-d9bd1a8a0fde&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "728c7266-f9bc-4e29-8221-e3172e695ebe.0.1,86,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=APPEND&leaseid=8d030511-2a60-4adb-8dc1-d9bd1a8a0fde&filesessionid=8d030511-2a60-4adb-8dc1-d9bd1a8a0fde&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "I\u0000\u0000\u0000 \u0000\u0000\u0000a\u0000\u0000\u0000m\u0000\u0000\u0000 \u0000\u0000\u0000u\u0000\u0000\u0000t\u0000\u0000\u0000f\u0000\u0000\u00003\u0000\u0000\u00002\u0000\u0000\u0000 \u0000\u0000\u0000t\u0000\u0000\u0000e\u0000\u0000\u0000x\u0000\u0000\u0000t\u0000\u0000\u0000",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "11b40e59-df8f-4840-b4b1-84fa8d73bd87.0.0,106,,CREATE,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[9e5431bc-2aca-4053-9181-88723fe7d60f][ AuthTime::0::PostAuthTime::0 ][S-HdfsOpenV2 :: 00:00:010 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[S-FsHdfsAppend  :: 00:00:054 ms]%0a[WriteTime :: 00:00:055 ms]%0a[APPEND :: 00:00:073 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:77;HandlerTime:75"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=GETFILESTATUS&tooid=True&getconsistentlength=true&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "82f45ea6-03ff-43f5-a250-e9017701290a.0.0,155,,APPEND,60,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[a106b1f2-4b45-4778-a410-7007b70de8e3][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:087 ms]%0a[GETFILESTATUS :: 00:00:087 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:91;HandlerTime:89"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 60,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1555533022084,\r\n    \"modificationTime\": 1555533022228,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=OPEN&read=true&filesessionid=b16ce03e-78f3-452e-9647-39a09b2cde2f&offset=0&length=4194304&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "0e2832a0-e7fc-4adf-a368-a2f977cb3e84.0.0,169,,GETFILESTATUS,305,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103190910"
        ],
        "Server-Perf": [
          "[44a516d2-64ba-4a0a-bce4-ec436c5d2a70][ AuthTime::0::PostAuthTime::0 ][S-FsOpenStream :: 00:00:007 ms]%0a[S-FsReadStream :: 00:00:019 ms]%0a[OPEN :: 00:00:027 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/octet-stream"
        ]
      },
      "ResponseBody": "SQAAACAAAABhAAAAbQAAACAAAAB1AAAAdAAAAGYAAAAzAAAAMgAAACAAAAB0AAAAZQAAAHgAAAB0AAAA",
      "StatusCode": 200
    },
    {
      "RequestUri": "/WebHdfsExt%2Fadlspstestfolder%2Fcontentfile.txt?op=SETEXPIRY&expireTime=1555533142000&expiryOption=Absolute&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "a2a9ec69-bf81-4161-aecf-e472caa04ceb.0.0,91,,GETFILESTATUS,305,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
[...]
