{
  "Entries": [
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps9634?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1184"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps9634\",\r\n  \"name\": \"ps9634\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps9634/providers/Microsoft.DataLakeStore/accounts/ps2214?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeStore/accounts/ps2214' under resource group 'ps9634' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps9634/providers/Microsoft.DataLakeStore/accounts/ps2214?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14955"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallAllowAzureIps\": \"Disabled\",\r\n    \"firewallAllowDataLakeAnalytics\": \"Disabled\",\r\n    \"firewallRules\": [],\r\n    \"virtualNetworkRules\": [],\r\n    \"trustedIdProviderState\": \"Disabled\",\r\n    \"trustedIdProviders\": [],\r\n    \"encryptionState\": \"Disabled\",\r\n    \"encryptionConfig\": {},\r\n    \"currentTier\": \"Consumption\",\r\n    \"newTier\": \"Consumption\",\r\n    \"replicationType\": \"LRS\",\r\n    \"dataLakePerformanceTierState\": \"Disabled\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"ps2214.caboaccountdogfood.net\",\r\n    \"accountId\": \"d49b2065-b964-4ea2-9c14-c2d30a5cfd37\",\r\n    \"creationTime\": \"2019-04-04T19:19:03.8485008Z\",\r\n    \"lastModifiedTime\": \"2019-04-04T19:19:03.8485008Z\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps9634/providers/Microsoft.DataLakeStore/accounts/ps2214\",\r\n  \"name\": \"ps2214\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps9634/providers/Microsoft.DataLakeStore/accounts/ps2214?api-version=2016-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"encryptionState\": \"Disabled\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps9634/providers/Microsoft.DataLakeStore/accounts/ps2214/operationresults/0?api-version=2016-11-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLakeStore/locations/westus/operationResults/d49b2065-b964-4ea2-9c14-c2d30a5cfd370?api-version=2016-11-01&expanded=true"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1193"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"encryptionState\": \"Disabled\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"state\": null,\r\n    \"endpoint\": null,\r\n    \"accountId\": \"d49b2065-b964-4ea2-9c14-c2d30a5cfd37\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps9634/providers/Microsoft.DataLakeStore/accounts/ps2214\",\r\n  \"name\": \"ps2214\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLakeStore/locations/westus/operationResults/d49b2065-b964-4ea2-9c14-c2d30a5cfd370?api-version=2016-11-01&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14958"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "2d4605e7-42f0-4b4a-9aeb-3a79637c48bf.0.0,91,,ENUMERATEDELETEDITEMS,68,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[5a2ce1ea-b407-4aed-9109-eaf0ed948c78][ AuthTime::847.18400058161::PostAuthTime::810.405694650253 ][S-HdfsGetFileStatus :: 00:00:005 ms]%0a[GETFILESTATUS :: 00:00:005 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:496;HandlerTime:7"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlspstestfolder [5a2ce1ea-b407-4aed-9109-eaf0ed948c78][2019-04-04T12:19:37.9070290-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "b4eabf30-80a2-4453-a1e4-11f1b0738502.0.0,88,,MKDIRS,16,2"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[6887bde8-970b-4e5a-b0f2-cf90667666b5][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[GETFILESTATUS :: 00:00:003 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:6;HandlerTime:5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 0,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"DIRECTORY\",\r\n    \"blockSize\": 0,\r\n    \"accessTime\": 1554405577999,\r\n    \"modificationTime\": 1554405577999,\r\n    \"replication\": 0,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=MKDIRS&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "2188c22a-5117-43e0-b236-e2b5d2bdc84d.0.1,932,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,2"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[b2adccd9-0fcd-447d-b9bc-39cd6e09176d][ AuthTime::0::PostAuthTime::0 ][S-HdfsMkdirsV2 :: 00:00:007 ms]%0a[MKDIRS :: 00:00:007 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"boolean\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "d6cb4c17-1022-43a7-aab0-5ebbf76216ad.0.0,86,,GETFILESTATUS,280,2"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[1cc16d2c-a0ef-476e-bcad-844109371e3a][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[GETFILESTATUS :: 00:00:004 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:7;HandlerTime:5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlspstestfolder/emptyfile.txt [1cc16d2c-a0ef-476e-bcad-844109371e3a][2019-04-04T12:19:38.2038898-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "a224b900-effb-4aaa-8ea2-45d520831c65.0.0,196,,APPEND,0,2"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[2271376a-6c75-4130-86ea-93963f97e2e6][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:007 ms]%0a[GETFILESTATUS :: 00:00:007 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:10;HandlerTime:9"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 0,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1554405578307,\r\n    \"modificationTime\": 1554405578307,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=CREATE&overwrite=True&leaseid=46ab91dc-c98d-436e-8d89-903efedd68f9&filesessionid=46ab91dc-c98d-436e-8d89-903efedd68f9&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "ec4efbf5-ebf3-40e9-b62e-f605f7af5308.0.1,85,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,2"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://ps2214.caboaccountdogfood.net/webhdfs/v1/adlspstestfolder/emptyfile.txt?op=CREATE&overwrite=True&leaseid=46ab91dc-c98d-436e-8d89-903efedd68f9&filesessionid=46ab91dc-c98d-436e-8d89-903efedd68f9&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01"
        ],
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[24c590be-dfef-4c67-af5e-6d2c0442cc47][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:004 ms]%0a[S-HdfsCheckAccess :: 00:00:003 ms]%0a[S-HdfsOpenV2 :: 00:00:016 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:000 ms]%0a[CREATE :: 00:00:024 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:27;HandlerTime:26"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=APPEND&leaseid=46ab91dc-c98d-436e-8d89-903efedd68f9&filesessionid=46ab91dc-c98d-436e-8d89-903efedd68f9&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "2264844d-47e1-4f00-8019-533705da6f8a.0.0,105,,CREATE,0,2"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[895292ad-1bfc-4c37-9f93-73b235abf387][ AuthTime::0::PostAuthTime::0 ][S-HdfsOpenV2 :: 00:00:009 ms]%0a[S-FsHdfsAppend  :: 00:00:097 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:097 ms]%0a[APPEND :: 00:00:116 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:118;HandlerTime:117"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fcontentfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "89455e8e-aeec-46e0-b2c4-d9111b6aed74.0.0,88,,GETFILESTATUS,304,2"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[11e5499a-b237-488c-8edf-13a334d8c874][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[GETFILESTATUS :: 00:00:004 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:7;HandlerTime:5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlspstestfolder/contentfile.txt [11e5499a-b237-488c-8edf-13a334d8c874][2019-04-04T12:19:38.6882930-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fcontentfile.txt?op=CREATE&overwrite=True&leaseid=a4aa6ae5-fda2-4457-bcc0-084f83d8a6df&filesessionid=a4aa6ae5-fda2-4457-bcc0-084f83d8a6df&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "77b7933c-8989-4179-9144-0c9c2a5edd24.0.1,85,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,2"
   [...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fcontentfile.txt?op=APPEND&leaseid=a4aa6ae5-fda2-4457-bcc0-084f83d8a6df&filesessionid=a4aa6ae5-fda2-4457-bcc0-084f83d8a6df&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "Test file content! @ Azure PsTest01?",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "5a0ad6d1-697a-481c-8132-3e67c52af076.0.0,102,,CREATE,0,2"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[69db16d5-a783-4882-8e4d-8aa479769fe6][ AuthTime::0::PostAuthTime::0 ][S-HdfsOpenV2 :: 00:00:010 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[S-FsHdfsAppend  :: 00:00:491 ms]%0a[WriteTime :: 00:00:491 ms]%0a[APPEND :: 00:00:510 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:512;HandlerTime:511"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "e32703a2-2fe7-4ef8-8b35-75b45d754a36.0.0,88,,GETFILESTATUS,305,2"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[8a3c7e1c-25ce-4660-9632-926f1e6b070b][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[GETFILESTATUS :: 00:00:003 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:7;HandlerTime:5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /encodingFolder/unicodecontentfile.txt [8a3c7e1c-25ce-4660-9632-926f1e6b070b][2019-04-04T12:19:39.5788801-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=CREATE&overwrite=True&leaseid=a1cbf61b-8c95-4355-9735-15deb88d4b2e&filesessionid=a1cbf61b-8c95-4355-9735-15deb88d4b2e&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "4a2c758b-299b-4f2b-88dd-bddfac275e58.0.1,85,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,2[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=APPEND&leaseid=a1cbf61b-8c95-4355-9735-15deb88d4b2e&filesessionid=a1cbf61b-8c95-4355-9735-15deb88d4b2e&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "fb0c33b0-935e-4830-a799-cb02e03ced69.0.0,102,,CREATE,0,2"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[92b0dc07-cd8a-4729-aa1a-23e4f929fcb7][ AuthTime::0::PostAuthTime::0 ][S-HdfsOpenV2 :: 00:00:010 ms]%0a[S-FsHdfsAppend  :: 00:00:027 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:027 ms]%0a[APPEND :: 00:00:045 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:48;HandlerTime:46"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=APPEND&leaseid=80925bbf-6d39-463b-b535-df7223f5c1e9&filesessionid=80925bbf-6d39-463b-b535-df7223f5c1e9&append=true&offset=0&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "9bb3de4f-3542-49fa-b6b2-faf7ad8d6c83.0.0,125,,APPEND,0,2"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[4a57911e-7f07-4154-b82a-adc82a6932aa][ AuthTime::0::PostAuthTime::0 ][S-HdfsOpenV2 :: 00:00:010 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:000 ms]%0a[APPEND :: 00:00:011 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:13;HandlerTime:12"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=GETFILESTATUS&tooid=True&getconsistentlength=true&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "9d2c56a8-6273-4ffc-94a6-d23e57c57912.0.0,91,,APPEND,0,2"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[f1c90c36-e85f-4baa-ac69-082b956b9e7d][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:006 ms]%0a[GETFILESTATUS :: 00:00:006 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:9;HandlerTime:8"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 0,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1554405579682,\r\n    \"modificationTime\": 1554405579682,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=OPEN&read=true&filesessionid=b3d58b78-c325-48d2-a43c-e975eaf628b6&offset=0&length=4194304&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "3e305032-8c92-41e8-ba36-200f7fb6b1e0.0.0,396,,GETFILESTATUS,305,2"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[26e0799c-1ca9-4840-a347-b2f62ab8b347][ AuthTime::0::PostAuthTime::0 ][S-FsOpenStream :: 00:00:006 ms]%0a[S-FsReadStream :: 00:00:033 ms]%0a[OPEN :: 00:00:041 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/octet-stream"
        ]
      },
      "ResponseBody": "SQAgAGEAbQAgAHUAbgBpAGMAbwBkAGUAIAB0AGUAeAB0AA==",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "f5c862ad-6ad2-47af-9599-5551afcdec28.0.0,139,,OPEN,34,2"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[bfada2f7-899a-4f8e-89f6-8b18334ccd3c][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[GETFILESTATUS :: 00:00:003 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:6;HandlerTime:5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /encodingFolder/utf32contentfile.txt [bfada2f7-899a-4f8e-89f6-8b18334ccd3c][2019-04-04T12:19:40.8601486-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=CREATE&overwrite=True&leaseid=567ccac4-6df1-430e-825c-e8b839c10157&filesessionid=567ccac4-6df1-430e-825c-e8b839c10157&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "b2586480-afa4-4211-87de-ff3e885cee87.0.1,84,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,2"
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=APPEND&leaseid=567ccac4-6df1-430e-825c-e8b839c10157&filesessionid=567ccac4-6df1-430e-825c-e8b839c10157&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "I\u0000\u0000\u0000 \u0000\u0000\u0000a\u0000\u0000\u0000m\u0000\u0000\u0000 \u0000\u0000\u0000u\u0000\u0000\u0000t\u0000\u0000\u0000f\u0000\u0000\u00003\u0000\u0000\u00002\u0000\u0000\u0000 \u0000\u0000\u0000t\u0000\u0000\u0000e\u0000\u0000\u0000x\u0000\u0000\u0000t\u0000\u0000\u0000",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "4ada6a8a-fc43-4da3-a388-ed9a698871c1.0.0,104,,CREATE,0,2"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[d399f9e2-0175-4e77-8e8d-01725e0fa4ed][ AuthTime::0::PostAuthTime::0 ][S-HdfsOpenV2 :: 00:00:010 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[S-FsHdfsAppend  :: 00:00:101 ms]%0a[WriteTime :: 00:00:101 ms]%0a[APPEND :: 00:00:119 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:122;HandlerTime:120"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=GETFILESTATUS&tooid=True&getconsistentlength=true&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "dda57eae-2d7d-41ee-9721-9df49d543484.0.0,200,,APPEND,60,2"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[85384f79-1c1d-4521-bb36-d8ac7547fb15][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:062 ms]%0a[GETFILESTATUS :: 00:00:063 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:65;HandlerTime:64"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 60,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1554405580957,\r\n    \"modificationTime\": 1554405581235,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=OPEN&read=true&filesessionid=3b93bb7b-48a7-4365-b556-47c36c079822&offset=0&length=4194304&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "991cb969-0bac-4dde-b402-d3f8cf5d36f2.0.0,143,,GETFILESTATUS,305,2"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[318e3dc3-be92-47bf-850d-88b0b72e60db][ AuthTime::0::PostAuthTime::0 ][S-FsOpenStream :: 00:00:006 ms]%0a[S-FsReadStream :: 00:00:048 ms]%0a[OPEN :: 00:00:055 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/octet-stream"
        ]
      },
      "ResponseBody": "SQAAACAAAABhAAAAbQAAACAAAAB1AAAAdAAAAGYAAAAzAAAAMgAAACAAAAB0AAAAZQAAAHgAAAB0AAAA",
      "StatusCode": 200
    },
    {
      "RequestUri": "/WebHdfsExt%2Fadlspstestfolder%2Fcontentfile.txt?op=SETEXPIRY&expireTime=1554405701000&expiryOption=Absolute&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
[...]
