{
  "Entries": [
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute/locations/westcentralus/logAnalytics/apiAccess/getRequestRateByInterval?api-version=2017-12-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"intervalLength\": \"FiveMins\",\r\n  \"blobContainerSasUri\": \"https://stohyleelog.blob.core.windows.net/test?fakesas\",\r\n  \"fromTime\": \"2018-02-27T17:32:20.8703822Z\",\r\n  \"toTime\": \"2018-02-28T17:32:20.8748847Z\",\r\n  \"groupByThrottlePolicy\": true,\r\n  \"groupByOperationName\": true,\r\n  \"groupByResourceName\": true\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute/locations/westcentralus/operations/57fcb292-7a15-4526-a92e-ab13304440d1?api-version=2017-12-01"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetLogAnalytics3Min;9,Microsoft.Compute/GetLogAnalytics30Min;48"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute/locations/westcentralus/operations/57fcb292-7a15-4526-a92e-ab13304440d1?monitor=true&api-version=2017-12-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute/locations/westcentralus/operations/57fcb292-7a15-4526-a92e-ab13304440d1?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2018-03-02T17:32:21.49738-08:00\",\r\n  \"endTime\": \"2018-03-02T17:32:21.8880422-08:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"properties\": {\r\n    \"output\": \"https://stohyleelog.blob.core.windows.net:443/test/RequestRateByInterval_20180227-1732_20180228-1732.csv\"\r\n  },\r\n  \"name\": \"57fcb292-7a15-4526-a92e-ab13304440d1\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;11999,Microsoft.Compute/GetOperation30Min;23998"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute/locations/westcentralus/logAnalytics/apiAccess/getThrottledRequests?api-version=2017-12-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"blobContainerSasUri\": \"https://stohyleelog.blob.core.windows.net/test?fakesas\",\r\n  \"fromTime\": \"2018-02-27T17:32:20.8703822Z\",\r\n  \"toTime\": \"2018-02-28T17:32:20.8748847Z\",\r\n  \"groupByThrottlePolicy\": true,\r\n  \"groupB[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute/locations/westcentralus/operations/b9c76def-f3fc-422e-bc11-3b8e51360173?api-version=2017-12-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"startTime\": \"2018-03-02T17:32:52.3724062-08:00\",\r\n  \"endTime\": \"2018-03-02T17:32:52.4817846-08:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"properties\": {\r\n    \"output\": \"https://stohyleelog.blob.core.windows.net:443/test/ThrottledRequests_20180227-1732_20180228-1732.csv\"\r\n  },\r\n  \"name\": \"b9c76def-f3fc-422e-bc11-3b8e51360173\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-resource": [
          "Microsoft.Compute/GetOperation3Min;11998,Microsoft.Compute/GetOperation30Min;23997"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "24fb23e3-6ba3-41f0-9b6e-e41131d5d61e"
  }
}