// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

namespace Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Cmdlets
{
    using static Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Extensions;
    using Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.PowerShell;
    using Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Cmdlets;
    using System;

    /// <summary>update a BrokerResource</summary>
    /// <remarks>
    /// [OpenAPI] CreateOrUpdate=>PUT:"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperations/instances/{instanceName}/brokers/{brokerName}"
    /// </remarks>
    [global::System.Management.Automation.Cmdlet(global::System.Management.Automation.VerbsCommon.Set, @"AzIoTOperationsServiceBroker_UpdateExpanded", SupportsShouldProcess = true)]
    [global::System.Management.Automation.OutputType(typeof(Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.IBrokerResource))]
    [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Description(@"update a BrokerResource")]
    [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Generated]
    [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.HttpPath(Path = "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperations/instances/{instanceName}/brokers/{brokerName}", ApiVersion = "2024-11-01")]
    public partial class SetAzIoTOperationsServiceBroker_UpdateExpanded : global::System.Management.Automation.PSCmdlet,
        Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener,
        Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IContext
    {
        /// <summary>A unique id generatd for the this cmdlet when it is instantiated.</summary>
        private string __correlationId = System.Guid.NewGuid().ToString();

        /// <summary>A copy of the Invocation Info (necessary to allow asJob to clone this cmdlet)</summary>
        private global::System.Management.Automation.InvocationInfo __invocationInfo;

        /// <summary>A unique id generatd for the this cmdlet when ProcessRecord() is called.</summary>
        private string __processRecordId;

        /// <summary>
        /// The <see cref="global::System.Threading.CancellationTokenSource" /> for this operation.
        /// </summary>
        private global::System.Threading.CancellationTokenSource _cancellationTokenSource = new global::System.Threading.CancellationTokenSource();

        /// <summary>A dictionary to carry over additional data for pipeline.</summary>
        private global::System.Collections.Generic.Dictionary<global::System.String,global::System.Object> _extensibleParameters = new System.Collections.Generic.Dictionary<string, object>();

        /// <summary>Instance broker resource</summary>
        private Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.IBrokerResource _resourceBody = new Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.BrokerResource();

        /// <summary>The setting to enable or disable encryption of internal Traffic.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The setting to enable or disable encryption of internal Traffic.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The setting to enable or disable encryption of internal Traffic.",
        SerializedName = @"encryptInternalTraffic",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.PSArgumentCompleterAttribute("Enabled", "Disabled")]
        public string AdvancedEncryptInternalTraffic { get => _resourceBody.AdvancedEncryptInternalTraffic ?? null; set => _resourceBody.AdvancedEncryptInternalTraffic = value; }

        /// <summary>when specified, runs this cmdlet as a PowerShell job</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Run the command as a job")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter AsJob { get; set; }

        /// <summary>The desired number of physical backend partitions.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The desired number of physical backend partitions.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The desired number of physical backend partitions.",
        SerializedName = @"partitions",
        PossibleTypes = new [] { typeof(int) })]
        public int BackendChainPartition { get => _resourceBody.BackendChainPartition ?? default(int); set => _resourceBody.BackendChainPartition = value; }

        /// <summary>The desired numbers of backend replicas (pods) in a physical partition.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The desired numbers of backend replicas (pods) in a physical partition.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The desired numbers of backend replicas (pods) in a physical partition.",
        SerializedName = @"redundancyFactor",
        PossibleTypes = new [] { typeof(int) })]
        public int BackendChainRedundancyFactor { get => _resourceBody.BackendChainRedundancyFactor ?? default(int); set => _resourceBody.BackendChainRedundancyFactor = value; }

        /// <summary>Number of logical backend workers per replica (pod).</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Number of logical backend workers per replica (pod).")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Number of logical backend workers per replica (pod).",
        SerializedName = @"workers",
        PossibleTypes = new [] { typeof(int) })]
        public int BackendChainWorker { get => _resourceBody.BackendChainWorker ?? default(int); set => _resourceBody.BackendChainWorker = value; }

        /// <summary>Wait for .NET debugger to attach</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Wait for .NET debugger to attach")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter Break { get; set; }

        /// <summary>Accessor for cancellationTokenSource.</summary>
        public global::System.Threading.CancellationTokenSource CancellationTokenSource { get => _cancellationTokenSource ; set { _cancellationTokenSource = value; } }

        /// <summary>The reference to the client API class.</summary>
        public Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.MicrosoftIoTOperationsManagementService Client => Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Module.Instance.ClientAPI;

        /// <summary>Upper bound of a client's Keep Alive, in seconds.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Upper bound of a client's Keep Alive, in seconds.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Upper bound of a client's Keep Alive, in seconds.",
        SerializedName = @"maxKeepAliveSeconds",
        PossibleTypes = new [] { typeof(int) })]
        public int ClientMaxKeepAliveSecond { get => _resourceBody.ClientMaxKeepAliveSecond ?? default(int); set => _resourceBody.ClientMaxKeepAliveSecond = value; }

        /// <summary>Upper bound of Message Expiry Interval, in seconds.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Upper bound of Message Expiry Interval, in seconds.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Upper bound of Message Expiry Interval, in seconds.",
        SerializedName = @"maxMessageExpirySeconds",
        PossibleTypes = new [] { typeof(int) })]
        public int ClientMaxMessageExpirySecond { get => _resourceBody.ClientMaxMessageExpirySecond ?? default(int); set => _resourceBody.ClientMaxMessageExpirySecond = value; }

        /// <summary>Max message size for a packet in Bytes.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Max message size for a packet in Bytes.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Max message size for a packet in Bytes.",
        SerializedName = @"maxPacketSizeBytes",
        PossibleTypes = new [] { typeof(int) })]
        public int ClientMaxPacketSizeByte { get => _resourceBody.ClientMaxPacketSizeByte ?? default(int); set => _resourceBody.ClientMaxPacketSizeByte = value; }

        /// <summary>Upper bound of Receive Maximum that a client can request in the CONNECT packet.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Upper bound of Receive Maximum that a client can request in the CONNECT packet.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Upper bound of Receive Maximum that a client can request in the CONNECT packet.",
        SerializedName = @"maxReceiveMaximum",
        PossibleTypes = new [] { typeof(int) })]
        public int ClientMaxReceiveMaximum { get => _resourceBody.ClientMaxReceiveMaximum ?? default(int); set => _resourceBody.ClientMaxReceiveMaximum = value; }

        /// <summary>Upper bound of Session Expiry Interval, in seconds.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Upper bound of Session Expiry Interval, in seconds.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Upper bound of Session Expiry Interval, in seconds.",
        SerializedName = @"maxSessionExpirySeconds",
        PossibleTypes = new [] { typeof(int) })]
        public int ClientMaxSessionExpirySecond { get => _resourceBody.ClientMaxSessionExpirySecond ?? default(int); set => _resourceBody.ClientMaxSessionExpirySecond = value; }

        /// <summary>
        /// The DefaultProfile parameter is not functional. Use the SubscriptionId parameter when available if executing the cmdlet
        /// against a different subscription
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The DefaultProfile parameter is not functional. Use the SubscriptionId parameter when available if executing the cmdlet against a different subscription.")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::System.Management.Automation.Alias("AzureRMContext", "AzureCredential")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Azure)]
        public global::System.Management.Automation.PSObject DefaultProfile { get; set; }

        /// <summary>Settings of Disk Backed Message Buffer.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Settings of Disk Backed Message Buffer.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Settings of Disk Backed Message Buffer.",
        SerializedName = @"diskBackedMessageBuffer",
        PossibleTypes = new [] { typeof(Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.IDiskBackedMessageBuffer) })]
        public Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.IDiskBackedMessageBuffer DiskBackedMessageBuffer { get => _resourceBody.DiskBackedMessageBuffer ?? null /* object */; set => _resourceBody.DiskBackedMessageBuffer = value; }

        /// <summary>The name of the extended location.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The name of the extended location.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The name of the extended location.",
        SerializedName = @"name",
        PossibleTypes = new [] { typeof(string) })]
        public string ExtendedLocationName { get => _resourceBody.ExtendedLocationName ?? null; set => _resourceBody.ExtendedLocationName = value; }

        /// <summary>Accessor for extensibleParameters.</summary>
        public global::System.Collections.Generic.IDictionary<global::System.String,global::System.Object> ExtensibleParameters { get => _extensibleParameters ; }

        /// <summary>The desired number of frontend instances (pods).</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The desired number of frontend instances (pods).")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The desired number of frontend instances (pods).",
        SerializedName = @"replicas",
        PossibleTypes = new [] { typeof(int) })]
        public int FrontendReplica { get => _resourceBody.FrontendReplica ?? default(int); set => _resourceBody.FrontendReplica = value; }

        /// <summary>Number of logical frontend workers per instance (pod).</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Number of logical frontend workers per instance (pod).")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Number of logical frontend workers per instance (pod).",
        SerializedName = @"workers",
        PossibleTypes = new [] { typeof(int) })]
        public int FrontendWorker { get => _resourceBody.FrontendWorker ?? default(int); set => _resourceBody.FrontendWorker = value; }

        /// <summary>The toggle to enable/disable cpu resource limits.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The toggle to enable/disable cpu resource limits.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The toggle to enable/disable cpu resource limits.",
        SerializedName = @"cpu",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.PSArgumentCompleterAttribute("Enabled", "Disabled")]
        public string GenerateResourceLimitCpu { get => _resourceBody.GenerateResourceLimitCpu ?? null; set => _resourceBody.GenerateResourceLimitCpu = value; }

        /// <summary>SendAsync Pipeline Steps to be appended to the front of the pipeline</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "SendAsync Pipeline Steps to be appended to the front of the pipeline")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Runtime)]
        public Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.SendAsyncStep[] HttpPipelineAppend { get; set; }

        /// <summary>SendAsync Pipeline Steps to be prepended to the front of the pipeline</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "SendAsync Pipeline Steps to be prepended to the front of the pipeline")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Runtime)]
        public Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.SendAsyncStep[] HttpPipelinePrepend { get; set; }

        /// <summary>Backing field for <see cref="InstanceName" /> property.</summary>
        private string _instanceName;

        /// <summary>Name of instance.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "Name of instance.")]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"Name of instance.",
        SerializedName = @"instanceName",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Path)]
        public string InstanceName { get => this._instanceName; set => this._instanceName = value; }

        /// <summary>
        /// Lifetime of certificate. Must be specified using a Go time.Duration format (h|m|s). E.g. 240h for 240 hours and 45m for
        /// 45 minutes.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Lifetime of certificate. Must be specified using a Go time.Duration format (h|m|s). E.g. 240h for 240 hours and 45m for 45 minutes.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Lifetime of certificate. Must be specified using a Go time.Duration format (h|m|s). E.g. 240h for 240 hours and 45m for 45 minutes.",
        SerializedName = @"duration",
        PossibleTypes = new [] { typeof(string) })]
        public string InternalCertDuration { get => _resourceBody.InternalCertDuration ?? null; set => _resourceBody.InternalCertDuration = value; }

        /// <summary>
        /// When to begin renewing certificate. Must be specified using a Go time.Duration format (h|m|s). E.g. 240h for 240 hours
        /// and 45m for 45 minutes.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "When to begin renewing certificate. Must be specified using a Go time.Duration format (h|m|s). E.g. 240h for 240 hours and 45m for 45 minutes.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"When to begin renewing certificate. Must be specified using a Go time.Duration format (h|m|s). E.g. 240h for 240 hours and 45m for 45 minutes.",
        SerializedName = @"renewBefore",
        PossibleTypes = new [] { typeof(string) })]
        public string InternalCertRenewBefore { get => _resourceBody.InternalCertRenewBefore ?? null; set => _resourceBody.InternalCertRenewBefore = value; }

        /// <summary>Accessor for our copy of the InvocationInfo.</summary>
        public global::System.Management.Automation.InvocationInfo InvocationInformation { get => __invocationInfo = __invocationInfo ?? this.MyInvocation ; set { __invocationInfo = value; } }

        /// <summary>The log level. Examples - 'debug', 'info', 'warn', 'error', 'trace'.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The log level. Examples - 'debug', 'info', 'warn', 'error', 'trace'.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The log level. Examples - 'debug', 'info', 'warn', 'error', 'trace'.",
        SerializedName = @"level",
        PossibleTypes = new [] { typeof(string) })]
        public string LogLevel { get => _resourceBody.LogLevel ?? null; set => _resourceBody.LogLevel = value; }

        /// <summary>Memory profile of Broker.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Memory profile of Broker.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"Memory profile of Broker.",
        SerializedName = @"memoryProfile",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.PSArgumentCompleterAttribute("Tiny", "Low", "Medium", "High")]
        public string MemoryProfile { get => _resourceBody.MemoryProfile ?? null; set => _resourceBody.MemoryProfile = value; }

        /// <summary>The prometheus port to expose the metrics.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The prometheus port to expose the metrics.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The prometheus port to expose the metrics.",
        SerializedName = @"prometheusPort",
        PossibleTypes = new [] { typeof(int) })]
        public int MetricPrometheusPort { get => _resourceBody.MetricPrometheusPort ?? default(int); set => _resourceBody.MetricPrometheusPort = value; }

        /// <summary>
        /// <see cref="Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener" /> cancellation delegate. Stops the cmdlet when called.
        /// </summary>
        global::System.Action Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener.Cancel => _cancellationTokenSource.Cancel;

        /// <summary><see cref="Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener" /> cancellation token.</summary>
        global::System.Threading.CancellationToken Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener.Token => _cancellationTokenSource.Token;

        /// <summary>Backing field for <see cref="Name" /> property.</summary>
        private string _name;

        /// <summary>Name of broker.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "Name of broker.")]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"Name of broker.",
        SerializedName = @"brokerName",
        PossibleTypes = new [] { typeof(string) })]
        [global::System.Management.Automation.Alias("BrokerName")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Path)]
        public string Name { get => this._name; set => this._name = value; }

        /// <summary>
        /// when specified, will make the remote call, and return an AsyncOperationResponse, letting the remote operation continue
        /// asynchronously.
        /// </summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "Run the command asynchronously")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter NoWait { get; set; }

        /// <summary>
        /// The instance of the <see cref="Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.HttpPipeline" /> that the remote call will use.
        /// </summary>
        public Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.HttpPipeline Pipeline { get; set; }

        /// <summary>algorithm for private key.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "algorithm for private key.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"algorithm for private key.",
        SerializedName = @"algorithm",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.PSArgumentCompleterAttribute("Ec256", "Ec384", "Ec521", "Ed25519", "Rsa2048", "Rsa4096", "Rsa8192")]
        public string PrivateKeyAlgorithm { get => _resourceBody.PrivateKeyAlgorithm ?? null; set => _resourceBody.PrivateKeyAlgorithm = value; }

        /// <summary>cert-manager private key rotationPolicy.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "cert-manager private key rotationPolicy.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"cert-manager private key rotationPolicy.",
        SerializedName = @"rotationPolicy",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.PSArgumentCompleterAttribute("Always", "Never")]
        public string PrivateKeyRotationPolicy { get => _resourceBody.PrivateKeyRotationPolicy ?? null; set => _resourceBody.PrivateKeyRotationPolicy = value; }

        /// <summary>The URI for the proxy server to use</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "The URI for the proxy server to use")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Runtime)]
        public global::System.Uri Proxy { get; set; }

        /// <summary>Credentials for a proxy server to use for the remote call</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Credentials for a proxy server to use for the remote call")]
        [global::System.Management.Automation.ValidateNotNull]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Runtime)]
        public global::System.Management.Automation.PSCredential ProxyCredential { get; set; }

        /// <summary>Use the default credentials for the proxy</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, DontShow = true, HelpMessage = "Use the default credentials for the proxy")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Runtime)]
        public global::System.Management.Automation.SwitchParameter ProxyUseDefaultCredentials { get; set; }

        /// <summary>Backing field for <see cref="ResourceGroupName" /> property.</summary>
        private string _resourceGroupName;

        /// <summary>The name of the resource group. The name is case insensitive.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The name of the resource group. The name is case insensitive.")]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The name of the resource group. The name is case insensitive.",
        SerializedName = @"resourceGroupName",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Path)]
        public string ResourceGroupName { get => this._resourceGroupName; set => this._resourceGroupName = value; }

        /// <summary>The self check interval.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The self check interval.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The self check interval.",
        SerializedName = @"intervalSeconds",
        PossibleTypes = new [] { typeof(int) })]
        public int SelfCheckIntervalSecond { get => _resourceBody.SelfCheckIntervalSecond ?? default(int); set => _resourceBody.SelfCheckIntervalSecond = value; }

        /// <summary>The toggle to enable/disable self check.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The toggle to enable/disable self check.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The toggle to enable/disable self check.",
        SerializedName = @"mode",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.PSArgumentCompleterAttribute("Enabled", "Disabled")]
        public string SelfCheckMode { get => _resourceBody.SelfCheckMode ?? null; set => _resourceBody.SelfCheckMode = value; }

        /// <summary>The timeout for self check.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The timeout for self check.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The timeout for self check.",
        SerializedName = @"timeoutSeconds",
        PossibleTypes = new [] { typeof(int) })]
        public int SelfCheckTimeoutSecond { get => _resourceBody.SelfCheckTimeoutSecond ?? default(int); set => _resourceBody.SelfCheckTimeoutSecond = value; }

        /// <summary>The self tracing interval.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The self tracing interval.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The self tracing interval.",
        SerializedName = @"intervalSeconds",
        PossibleTypes = new [] { typeof(int) })]
        public int SelfTracingIntervalSecond { get => _resourceBody.SelfTracingIntervalSecond ?? default(int); set => _resourceBody.SelfTracingIntervalSecond = value; }

        /// <summary>The toggle to enable/disable self tracing.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The toggle to enable/disable self tracing.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The toggle to enable/disable self tracing.",
        SerializedName = @"mode",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.PSArgumentCompleterAttribute("Enabled", "Disabled")]
        public string SelfTracingMode { get => _resourceBody.SelfTracingMode ?? null; set => _resourceBody.SelfTracingMode = value; }

        /// <summary>The maximum length of the queue before messages start getting dropped.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The maximum length of the queue before messages start getting dropped.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The maximum length of the queue before messages start getting dropped.",
        SerializedName = @"length",
        PossibleTypes = new [] { typeof(long) })]
        public long SubscriberQueueLimitLength { get => _resourceBody.SubscriberQueueLimitLength ?? default(long); set => _resourceBody.SubscriberQueueLimitLength = value; }

        /// <summary>The strategy to use for dropping messages from the queue.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The strategy to use for dropping messages from the queue.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The strategy to use for dropping messages from the queue.",
        SerializedName = @"strategy",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.PSArgumentCompleterAttribute("None", "DropOldest")]
        public string SubscriberQueueLimitStrategy { get => _resourceBody.SubscriberQueueLimitStrategy ?? null; set => _resourceBody.SubscriberQueueLimitStrategy = value; }

        /// <summary>Backing field for <see cref="SubscriptionId" /> property.</summary>
        private string _subscriptionId;

        /// <summary>The ID of the target subscription. The value must be an UUID.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = true, HelpMessage = "The ID of the target subscription. The value must be an UUID.")]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = true,
        ReadOnly = false,
        Description = @"The ID of the target subscription. The value must be an UUID.",
        SerializedName = @"subscriptionId",
        PossibleTypes = new [] { typeof(string) })]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.DefaultInfo(
        Name = @"",
        Description =@"",
        Script = @"(Get-AzContext).Subscription.Id",
        SetCondition = @"")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Path)]
        public string SubscriptionId { get => this._subscriptionId; set => this._subscriptionId = value; }

        /// <summary>The cache size in megabytes.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The cache size in megabytes.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The cache size in megabytes.",
        SerializedName = @"cacheSizeMegabytes",
        PossibleTypes = new [] { typeof(int) })]
        public int TraceCacheSizeMegabyte { get => _resourceBody.TraceCacheSizeMegabyte ?? default(int); set => _resourceBody.TraceCacheSizeMegabyte = value; }

        /// <summary>The toggle to enable/disable traces.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The toggle to enable/disable traces.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The toggle to enable/disable traces.",
        SerializedName = @"mode",
        PossibleTypes = new [] { typeof(string) })]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.PSArgumentCompleterAttribute("Enabled", "Disabled")]
        public string TraceMode { get => _resourceBody.TraceMode ?? null; set => _resourceBody.TraceMode = value; }

        /// <summary>The span channel capacity.</summary>
        [global::System.Management.Automation.Parameter(Mandatory = false, HelpMessage = "The span channel capacity.")]
        [global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Category(global::Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.ParameterCategory.Body)]
        [Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Info(
        Required = false,
        ReadOnly = false,
        Description = @"The span channel capacity.",
        SerializedName = @"spanChannelCapacity",
        PossibleTypes = new [] { typeof(int) })]
        public int TraceSpanChannelCapacity { get => _resourceBody.TraceSpanChannelCapacity ?? default(int); set => _resourceBody.TraceSpanChannelCapacity = value; }

        /// <summary>
        /// <c>overrideOnDefault</c> will be called before the regular onDefault has been processed, allowing customization of what
        /// happens on that response. Implement this method in a partial class to enable this behavior
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.IErrorResponse">Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.IErrorResponse</see>
        /// from the remote call</param>
        /// <param name="returnNow">/// Determines if the rest of the onDefault method should be processed, or if the method should
        /// return immediately (set to true to skip further processing )</param>

        partial void overrideOnDefault(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.IErrorResponse> response, ref global::System.Threading.Tasks.Task<bool> returnNow);

        /// <summary>
        /// <c>overrideOnOk</c> will be called before the regular onOk has been processed, allowing customization of what happens
        /// on that response. Implement this method in a partial class to enable this behavior
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.IBrokerResource">Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.IBrokerResource</see>
        /// from the remote call</param>
        /// <param name="returnNow">/// Determines if the rest of the onOk method should be processed, or if the method should return
        /// immediately (set to true to skip further processing )</param>

        partial void overrideOnOk(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.IBrokerResource> response, ref global::System.Threading.Tasks.Task<bool> returnNow);

        /// <summary>
        /// (overrides the default BeginProcessing method in global::System.Management.Automation.PSCmdlet)
        /// </summary>
        protected override void BeginProcessing()
        {
            var telemetryId = Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Module.Instance.GetTelemetryId.Invoke();
            if (telemetryId != "" && telemetryId != "internal")
            {
                __correlationId = telemetryId;
            }
            Module.Instance.SetProxyConfiguration(Proxy, ProxyCredential, ProxyUseDefaultCredentials);
            if (Break)
            {
                Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.AttachDebugger.Break();
            }
            ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Events.CmdletBeginProcessing).Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
        }

        /// <summary>Creates a duplicate instance of this cmdlet (via JSON serialization).</summary>
        /// <returns>a duplicate instance of SetAzIoTOperationsServiceBroker_UpdateExpanded</returns>
        public Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Cmdlets.SetAzIoTOperationsServiceBroker_UpdateExpanded Clone()
        {
            var clone = new SetAzIoTOperationsServiceBroker_UpdateExpanded();
            clone.__correlationId = this.__correlationId;
            clone.__processRecordId = this.__processRecordId;
            clone.DefaultProfile = this.DefaultProfile;
            clone.InvocationInformation = this.InvocationInformation;
            clone.Proxy = this.Proxy;
            clone.Pipeline = this.Pipeline;
            clone.AsJob = this.AsJob;
            clone.Break = this.Break;
            clone.ProxyCredential = this.ProxyCredential;
            clone.ProxyUseDefaultCredentials = this.ProxyUseDefaultCredentials;
            clone.HttpPipelinePrepend = this.HttpPipelinePrepend;
            clone.HttpPipelineAppend = this.HttpPipelineAppend;
            clone._resourceBody = this._resourceBody;
            clone.SubscriptionId = this.SubscriptionId;
            clone.ResourceGroupName = this.ResourceGroupName;
            clone.InstanceName = this.InstanceName;
            clone.Name = this.Name;
            return clone;
        }

        /// <summary>Performs clean-up after the command execution</summary>
        protected override void EndProcessing()
        {
            var telemetryInfo = Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Module.Instance.GetTelemetryInfo?.Invoke(__correlationId);
            if (telemetryInfo != null)
            {
                telemetryInfo.TryGetValue("ShowSecretsWarning", out var showSecretsWarning);
                telemetryInfo.TryGetValue("SanitizedProperties", out var sanitizedProperties);
                telemetryInfo.TryGetValue("InvocationName", out var invocationName);
                if (showSecretsWarning == "true")
                {
                    if (string.IsNullOrEmpty(sanitizedProperties))
                    {
                        WriteWarning($"The output of cmdlet {invocationName} may compromise security by showing secrets. Learn more at https://go.microsoft.com/fwlink/?linkid=2258844");
                    }
                    else
                    {
                        WriteWarning($"The output of cmdlet {invocationName} may compromise security by showing the following secrets: {sanitizedProperties}. Learn more at https://go.microsoft.com/fwlink/?linkid=2258844");
                    }
                }
            }
        }

        /// <summary>Handles/Dispatches events during the call to the REST service.</summary>
        /// <param name="id">The message id</param>
        /// <param name="token">The message cancellation token. When this call is cancelled, this should be <c>true</c></param>
        /// <param name="messageData">Detailed message data for the message event.</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the message is completed.
        /// </returns>
         async global::System.Threading.Tasks.Task Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener.Signal(string id, global::System.Threading.CancellationToken token, global::System.Func<Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.EventData> messageData)
        {
            using( NoSynchronizationContext )
            {
                if (token.IsCancellationRequested)
                {
                    return ;
                }

                switch ( id )
                {
                    case Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Events.Verbose:
                    {
                        WriteVerbose($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Events.Warning:
                    {
                        WriteWarning($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Events.Information:
                    {
                        // When an operation supports asjob, Information messages must go thru verbose.
                        WriteVerbose($"INFORMATION: {(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Events.Debug:
                    {
                        WriteDebug($"{(messageData().Message ?? global::System.String.Empty)}");
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Events.Error:
                    {
                        WriteError(new global::System.Management.Automation.ErrorRecord( new global::System.Exception(messageData().Message), string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null ) );
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Events.Progress:
                    {
                        var data = messageData();
                        int progress = (int)data.Value;
                        string activityMessage, statusDescription;
                        global::System.Management.Automation.ProgressRecordType recordType;
                        if (progress < 100)
                        {
                            activityMessage = "In progress";
                            statusDescription = "Checking operation status";
                            recordType = System.Management.Automation.ProgressRecordType.Processing;
                        }
                        else
                        {
                            activityMessage = "Completed";
                            statusDescription = "Completed";
                            recordType = System.Management.Automation.ProgressRecordType.Completed;
                        }
                        WriteProgress(new global::System.Management.Automation.ProgressRecord(1, activityMessage, statusDescription)
                        {
                            PercentComplete = progress,
                        RecordType = recordType
                        });
                        return ;
                    }
                    case Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Events.DelayBeforePolling:
                    {
                        var data = messageData();
                        if (true == MyInvocation?.BoundParameters?.ContainsKey("NoWait"))
                        {
                            if (data.ResponseMessage is System.Net.Http.HttpResponseMessage response)
                            {
                                var asyncOperation = response.GetFirstHeader(@"Azure-AsyncOperation");
                                var location = response.GetFirstHeader(@"Location");
                                var uri = global::System.String.IsNullOrEmpty(asyncOperation) ? global::System.String.IsNullOrEmpty(location) ? response.RequestMessage.RequestUri.AbsoluteUri : location : asyncOperation;
                                WriteObject(new Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.PowerShell.AsyncOperationResponse { Target = uri });
                                // do nothing more.
                                data.Cancel();
                                return;
                            }
                        }
                        else
                        {
                            if (data.ResponseMessage is System.Net.Http.HttpResponseMessage response)
                            {
                                int delay = (int)(response.Headers.RetryAfter?.Delta?.TotalSeconds ?? 30);
                                WriteDebug($"Delaying {delay} seconds before polling.");
                                for (var now = 0; now < delay; ++now)
                                {
                                    WriteProgress(new global::System.Management.Automation.ProgressRecord(1, "In progress", "Checking operation status")
                                    {
                                        PercentComplete = now * 100 / delay
                                    });
                                    await global::System.Threading.Tasks.Task.Delay(1000, token);
                                }
                            }
                        }
                        break;
                    }
                }
                await Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Module.Instance.Signal(id, token, messageData, (i, t, m) => ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Signal(i, t, () => Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.EventDataConverter.ConvertFrom(m()) as Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.EventData), InvocationInformation, this.ParameterSetName, __correlationId, __processRecordId, null );
                if (token.IsCancellationRequested)
                {
                    return ;
                }
                WriteDebug($"{id}: {(messageData().Message ?? global::System.String.Empty)}");
            }
        }

        /// <summary>Performs execution of the command.</summary>
        protected override void ProcessRecord()
        {
            ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Events.CmdletProcessRecordStart).Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
            __processRecordId = System.Guid.NewGuid().ToString();
            try
            {
                // work
                if (ShouldProcess($"Call remote 'BrokerCreateOrUpdate' operation"))
                {
                    if (true == MyInvocation?.BoundParameters?.ContainsKey("AsJob"))
                    {
                        var instance = this.Clone();
                        var job = new Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.PowerShell.AsyncJob(instance, this.MyInvocation.Line, this.MyInvocation.MyCommand.Name, this._cancellationTokenSource.Token, this._cancellationTokenSource.Cancel);
                        JobRepository.Add(job);
                        var task = instance.ProcessRecordAsync();
                        job.Monitor(task);
                        WriteObject(job);
                    }
                    else
                    {
                        using( var asyncCommandRuntime = new Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.PowerShell.AsyncCommandRuntime(this, ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Token) )
                        {
                            asyncCommandRuntime.Wait( ProcessRecordAsync(),((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Token);
                        }
                    }
                }
            }
            catch (global::System.AggregateException aggregateException)
            {
                // unroll the inner exceptions to get the root cause
                foreach( var innerException in aggregateException.Flatten().InnerExceptions )
                {
                    ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Events.CmdletException, $"{innerException.GetType().Name} - {innerException.Message} : {innerException.StackTrace}").Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                    // Write exception out to error channel.
                    WriteError( new global::System.Management.Automation.ErrorRecord(innerException,string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null) );
                }
            }
            catch (global::System.Exception exception) when ((exception as System.Management.Automation.PipelineStoppedException)== null || (exception as System.Management.Automation.PipelineStoppedException).InnerException != null)
            {
                ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Events.CmdletException, $"{exception.GetType().Name} - {exception.Message} : {exception.StackTrace}").Wait(); if( ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                // Write exception out to error channel.
                WriteError( new global::System.Management.Automation.ErrorRecord(exception,string.Empty, global::System.Management.Automation.ErrorCategory.NotSpecified, null) );
            }
            finally
            {
                ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Events.CmdletProcessRecordEnd).Wait();
            }
        }

        /// <summary>Performs execution of the command, working asynchronously if required.</summary>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        protected async global::System.Threading.Tasks.Task ProcessRecordAsync()
        {
            using( NoSynchronizationContext )
            {
                await ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Events.CmdletGetPipeline); if( ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                Pipeline = Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Module.Instance.CreatePipeline(InvocationInformation, __correlationId, __processRecordId, this.ParameterSetName, this.ExtensibleParameters);
                if (null != HttpPipelinePrepend)
                {
                    Pipeline.Prepend((this.CommandRuntime as Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.PowerShell.IAsyncCommandRuntimeExtensions)?.Wrap(HttpPipelinePrepend) ?? HttpPipelinePrepend);
                }
                if (null != HttpPipelineAppend)
                {
                    Pipeline.Append((this.CommandRuntime as Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.PowerShell.IAsyncCommandRuntimeExtensions)?.Wrap(HttpPipelineAppend) ?? HttpPipelineAppend);
                }
                // get the client instance
                try
                {
                    await ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Events.CmdletBeforeAPICall); if( ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                    await this.Client.BrokerCreateOrUpdate(SubscriptionId, ResourceGroupName, InstanceName, Name, _resourceBody, onOk, onDefault, this, Pipeline, Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.SerializationMode.IncludeCreate);
                    await ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Events.CmdletAfterAPICall); if( ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Token.IsCancellationRequested ) { return; }
                }
                catch (Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.UndeclaredResponseException urexception)
                {
                    WriteError(new global::System.Management.Automation.ErrorRecord(urexception, urexception.StatusCode.ToString(), global::System.Management.Automation.ErrorCategory.InvalidOperation, new { SubscriptionId=SubscriptionId,ResourceGroupName=ResourceGroupName,InstanceName=InstanceName,Name=Name})
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(urexception.Message) { RecommendedAction = urexception.Action }
                    });
                }
                finally
                {
                    await ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Signal(Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.Events.CmdletProcessRecordAsyncEnd);
                }
            }
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="SetAzIoTOperationsServiceBroker_UpdateExpanded" /> cmdlet class.
        /// </summary>
        public SetAzIoTOperationsServiceBroker_UpdateExpanded()
        {

        }

        /// <summary>Interrupts currently running code within the command.</summary>
        protected override void StopProcessing()
        {
            ((Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.IEventListener)this).Cancel();
            base.StopProcessing();
        }

        /// <param name="sendToPipeline"></param>
        new protected void WriteObject(object sendToPipeline)
        {
            Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Module.Instance.SanitizeOutput?.Invoke(sendToPipeline, __correlationId);
            base.WriteObject(sendToPipeline);
        }

        /// <param name="sendToPipeline"></param>
        /// <param name="enumerateCollection"></param>
        new protected void WriteObject(object sendToPipeline, bool enumerateCollection)
        {
            Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Module.Instance.SanitizeOutput?.Invoke(sendToPipeline, __correlationId);
            base.WriteObject(sendToPipeline, enumerateCollection);
        }

        /// <summary>
        /// a delegate that is called when the remote service returns default (any response code not handled elsewhere).
        /// </summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.IErrorResponse">Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.IErrorResponse</see>
        /// from the remote call</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        private async global::System.Threading.Tasks.Task onDefault(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.IErrorResponse> response)
        {
            using( NoSynchronizationContext )
            {
                var _returnNow = global::System.Threading.Tasks.Task<bool>.FromResult(false);
                overrideOnDefault(responseMessage, response, ref _returnNow);
                // if overrideOnDefault has returned true, then return right away.
                if ((null != _returnNow && await _returnNow))
                {
                    return ;
                }
                // Error Response : default
                var code = (await response)?.Code;
                var message = (await response)?.Message;
                if ((null == code || null == message))
                {
                    // Unrecognized Response. Create an error record based on what we have.
                    var ex = new Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Runtime.RestException<Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.IErrorResponse>(responseMessage, await response);
                    WriteError( new global::System.Management.Automation.ErrorRecord(ex, ex.Code, global::System.Management.Automation.ErrorCategory.InvalidOperation, new {  })
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(ex.Message) { RecommendedAction = ex.Action }
                    });
                }
                else
                {
                    WriteError( new global::System.Management.Automation.ErrorRecord(new global::System.Exception($"[{code}] : {message}"), code?.ToString(), global::System.Management.Automation.ErrorCategory.InvalidOperation, new {  })
                    {
                      ErrorDetails = new global::System.Management.Automation.ErrorDetails(message) { RecommendedAction = global::System.String.Empty }
                    });
                }
            }
        }

        /// <summary>a delegate that is called when the remote service returns 200 (OK).</summary>
        /// <param name="responseMessage">the raw response message as an global::System.Net.Http.HttpResponseMessage.</param>
        /// <param name="response">the body result as a <see cref="Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.IBrokerResource">Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.IBrokerResource</see>
        /// from the remote call</param>
        /// <returns>
        /// A <see cref="global::System.Threading.Tasks.Task" /> that will be complete when handling of the method is completed.
        /// </returns>
        private async global::System.Threading.Tasks.Task onOk(global::System.Net.Http.HttpResponseMessage responseMessage, global::System.Threading.Tasks.Task<Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.IBrokerResource> response)
        {
            using( NoSynchronizationContext )
            {
                var _returnNow = global::System.Threading.Tasks.Task<bool>.FromResult(false);
                overrideOnOk(responseMessage, response, ref _returnNow);
                // if overrideOnOk has returned true, then return right away.
                if ((null != _returnNow && await _returnNow))
                {
                    return ;
                }
                // onOk - response for 200 / application/json
                // (await response) // should be Microsoft.Azure.PowerShell.Cmdlets.IoTOperationsService.Models.IBrokerResource
                var result = (await response);
                WriteObject(result, false);
            }
        }
    }
}