{
  "Entries": [
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps6122?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps6122\",\r\n  \"name\": \"ps6122\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps6122/providers/Microsoft.DataLakeStore/accounts/ps8504?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeStore/accounts/ps8504' under resource group 'ps6122' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps6122/providers/Microsoft.DataLakeStore/accounts/ps8504?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14957"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallAllowAzureIps\": \"Disabled\",\r\n    \"firewallAllowDataLakeAnalytics\": \"Disabled\",\r\n    \"firewallRules\": [],\r\n    \"virtualNetworkRules\": [],\r\n    \"trustedIdProviderState\": \"Disabled\",\r\n    \"trustedIdProviders\": [],\r\n    \"encryptionState\": \"Disabled\",\r\n    \"encryptionConfig\": {},\r\n    \"currentTier\": \"Consumption\",\r\n    \"newTier\": \"Consumption\",\r\n    \"replicationType\": \"LRS\",\r\n    \"dataLakePerformanceTierState\": \"Disabled\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"ps8504.caboaccountdogfood.net\",\r\n    \"accountId\": \"bde55478-c19d-4e94-921d-7bac443ac7e4\",\r\n    \"creationTime\": \"2019-04-04T18:36:52.474156Z\",\r\n    \"lastModifiedTime\": \"2019-04-04T18:36:52.474156Z\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps6122/providers/Microsoft.DataLakeStore/accounts/ps8504\",\r\n  \"name\": \"ps8504\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps6122/providers/Microsoft.DataLakeStore/accounts/ps8504?api-version=2016-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"encryptionState\": \"Disabled\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps6122/providers/Microsoft.DataLakeStore/accounts/ps8504/operationresults/0?api-version=2016-11-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLakeStore/locations/westus/operationResults/bde55478-c19d-4e94-921d-7bac443ac7e40?api-version=2016-11-01&expanded=true"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1191"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"encryptionState\": \"Disabled\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"state\": null,\r\n    \"endpoint\": null,\r\n    \"accountId\": \"bde55478-c19d-4e94-921d-7bac443ac7e4\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps6122/providers/Microsoft.DataLakeStore/accounts/ps8504\",\r\n  \"name\": \"ps8504\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLakeStore/locations/westus/operationResults/bde55478-c19d-4e94-921d-7bac443ac7e40?api-version=2016-11-01&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14960"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Ftemp?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201424"
        ],
        "Server-Perf": [
          "[9d6cfe5e-9c4a-4543-b897-612358597af4][ AuthTime::919.969890339247::PostAuthTime::1026.89340153628 ][S-HdfsGetFileStatus :: 00:00:004 ms]%0a[GETFILESTATUS :: 00:00:008 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:508;HandlerTime:10"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /temp [9d6cfe5e-9c4a-4543-b897-612358597af4][2019-04-04T11:37:26.8385014-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2Ftemp?op=CREATE&overwrite=True&leaseid=1c691bbb-2ef1-4ed7-aea7-4a7d5d9ffbf1&filesessionid=1c691bbb-2ef1-4ed7-aea7-4a7d5d9ffbf1&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "a22a515a-1880-4a04-b254-d538fb583432.0.1,1050,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://ps8504.caboaccountdogfood.net/webhdfs/v1/temp?op=CREATE&overwrite=True&leaseid=1c691bbb-2ef1-4ed7-aea7-4a7d5d9ffbf1&filesessionid=1c691bbb-2ef1-4ed7-aea7-4a7d5d9ffbf1&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01"
        ],
        "x-origin-server": [
          "bn4sch103201424"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[de96fa0f-158f-4bf2-ae26-c9bae492408a][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[S-HdfsCheckAccess :: 00:00:002 ms]%0a[S-HdfsOpenV2 :: 00:00:016 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:000 ms]%0a[CREATE :: 00:00:024 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:28;HandlerTime:27"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/webhdfs/v1%2Ftemp?op=APPEND&leaseid=1c691bbb-2ef1-4ed7-aea7-4a7d5d9ffbf1&filesessionid=1c691bbb-2ef1-4ed7-aea7-4a7d5d9ffbf1&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "9adfc0ba-41a8-4311-967d-5b9b61f5ece8.0.0,109,,CREATE,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201424"
        ],
        "Server-Perf": [
          "[7eadba37-59f6-4c0d-a839-8bfbebe729c8][ AuthTime::0::PostAuthTime::0 ][S-HdfsOpenV2 :: 00:00:011 ms]%0a[S-FsHdfsAppend  :: 00:00:013 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:014 ms]%0a[APPEND :: 00:00:032 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:35;HandlerTime:34"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2Ftemp?op=GETACLSTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "b3164ac0-7ada-48e5-a6a3-f232c145a54b.0.0,114,,APPEND,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201424"
        ],
        "Server-Perf": [
          "[4a13a97b-bd0a-4ff1-87c6-e4b2a77a6c1b][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetAclStatus :: 00:00:004 ms]%0a[GETACLSTATUS :: 00:00:005 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"AclStatus\": {\r\n    \"entries\": [],\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"permission\": \"770\",\r\n    \"stickyBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Ftemp?op=SETOWNER&owner=027c28d5-c91d-49f0-98c5-d10134b169b3&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "cd4e99a7-2941-4a0a-97ef-124a493622a8.0.0,85,,GETACLSTATUS,159,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201424"
        ],
        "Server-Perf": [
          "[c0e1c735-0336-41ef-bc7e-0866fdf6df4d][ AuthTime::0::PostAuthTime::0 ][S-HdfsSetOwner :: 00:00:008 ms]%0a[SETOWNER :: 00:00:008 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2Ftemp?op=DELETE&recursive=False&api-version=2018-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "21626cbe-37cf-4969-b37e-c5e9f6956227.0.0,85,,GETACLSTATUS,159,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201424"
        ],
        "Server-Perf": [
          "[8d24fa92-6d05-4198-ad0b-de06d5fa7658][ AuthTime::0::PostAuthTime::0 ][S-FsDelete :: 00:00:017 ms]%0a[DELETE :: 00:00:017 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"boolean\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2F?op=GETACLSTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "066c53b2-6877-4433-8999-f0989f017461.0.0,99,,DELETE,16,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201424"
        ],
        "Server-Perf": [
          "[bbc4d209-224b-497b-98e2-a43922f97a61][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetAclStatus :: 00:00:006 ms]%0a[GETACLSTATUS :: 00:00:007 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"AclStatus\": {\r\n    \"entries\": [\r\n      \"group::rwx\"\r\n    ],\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"permission\": \"770\",\r\n    \"stickyBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2F?op=SETACL&aclspec=group%3A%3Arwx%2Cuser%3A%3Arwx%2Cother%3A%3A---%2Cmask%3A%3Arwx%2Cuser%3A027c28d5-c91d-49f0-98c5-d10134b169b3%3Arwx&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "947d2766-fe18-4d3f-a040-e53871ee5bd3.0.0,89,,GETACLSTATUS,171,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201424"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[a3345a45-7d28-40b2-a5e7-2f5eab02130a][ AuthTime::0::PostAuthTime::0 ][S-HdfsSetAcl :: 00:00:007 ms]%0a[SETACL :: 00:00:007 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2F?op=SETACL&aclspec=group%3A%3Arwx%2Cuser%3A%3Arwx%2Cother%3A%3A---%2Cmask%3A%3Arwx&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "500f051a-a770-4657-bca5-0b689f8f3b76.0.0,88,,GETACLSTATUS,219,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201424"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[f92bbe71-a03f-41a9-8fbd-eefa32dc566c][ AuthTime::0::PostAuthTime::0 ][S-HdfsSetAcl :: 00:00:006 ms]%0a[SETACL :: 00:00:006 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2F?op=MODIFYACLENTRIES&aclspec=user%3A027c28d5-c91d-49f0-98c5-d10134b169b3%3Arwx&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "a66b1e60-4754-4753-9afe-92f739f185c6.0.0,87,,GETACLSTATUS,171,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201424"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[9a83f987-fca5-4598-971c-bd48fdcc5cb6][ AuthTime::0::PostAuthTime::0 ][S-HdfsModifyAclEntries :: 00:00:006 ms]%0a[MODIFYACLENTRIES :: 00:00:006 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2F?op=REMOVEACLENTRIES&aclspec=user%3A027c28d5-c91d-49f0-98c5-d10134b169b3&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "5a0efbdf-da16-4510-a6cb-9d2a90bf28ba.0.0,87,,GETACLSTATUS,219,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201424"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[6bab5074-6384-4256-9f9c-707b66dea4ce][ AuthTime::0::PostAuthTime::0 ][S-HdfsRemoveAclEntries :: 00:00:006 ms]%0a[REMOVEACLENTRIES :: 00:00:006 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FaclRecurseFolder?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "8745e755-8c14-44be-9270-a6ddb244ccbc.0.0,87,,GETACLSTATUS,171,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201424"
        ],
        "Server-Perf": [
          "[bd5acf8b-c283-4a53-aa6b-cfec0c067c53][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[GETFILESTATUS :: 00:00:003 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:7;HandlerTime:5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /aclRecurseFolder [bd5acf8b-c283-4a53-aa6b-cfec0c067c53][2019-04-04T11:37:29.3853657-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2FaclRecurseFolder?op=MKDIRS&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "173e76f8-4fbd-4405-aa05-b35c52f668e6.0.1,85,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201424"
        ],
        "Server-Perf": [
          "[9a24b8d7-f01c-4051-a2e4-a01fb3d67c14][ AuthTime::0::PostAuthTime::0 ][S-HdfsMkdirsV2 :: 00:00:010 ms]%0a[MKDIRS :: 00:00:010 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"boolean\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2F?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "d357d603-7210-40af-942f-186b01f5842c.0.0,91,,MKDIRS,16,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201424"
        ],
        "Server-Perf": [
          "[152a9f21-7a5c-4ad2-b96a-c56fa9cf433d][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:002 ms]%0a[GETFILESTATUS :: 00:00:003 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:6;HandlerTime:5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 0,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"DIRECTORY\",\r\n    \"blockSize\": 0,\r\n    \"accessTime\": 1554403012405,\r\n    \"modificationTime\": 1554403049488,\r\n    \"replication\": 0,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"aclBit\": true\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2F?op=LISTSTATUS&listSize=4000&select=Minimal&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103191032"
        ],
        "Server-Perf": [
          "[9d0691ec-8055-4570-8de0-128e181b6110][ AuthTime::0::PostAuthTime::0 ][S-SeEnumerateDirectory :: 00:00:006 ms]%0a[LISTSTATUS :: 00:00:006 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatuses\": {\r\n    \"continuationToken\": null,\r\n    \"FileStatus\": [\r\n      {\r\n        \"pathSuffix\": \"aclRecurseFolder\",\r\n        \"type\": \"DIRECTORY\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FaclRecurseFolder?op=MODIFYACLENTRIES&aclspec=user%3A027c28d5-c91d-49f0-98c5-d10134b169b3%3Arwx&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201424"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[c9ccf843-fb22-430a-9b6a-bc55700b95c0][ AuthTime::0::PostAuthTime::0 ][S-HdfsModifyAclEntries :: 00:00:007 ms]%0a[MODIFYACLENTRIES :: 00:00:007 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FaclRecurseFolder?op=LISTSTATUS&listSize=4000&select=Minimal&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "b7cc5269-0f18-4c29-aae5-3be74a8f8524.0.0,90,,MODIFYACLENTRIES,0,1;ff9606a3-f5f0-4f9b-b314-e36bdf1920e6.0.0,346,,LISTSTATUS,111,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103191032"
        ],
        "Server-Perf": [
          "[fb3130b6-89df-40f6-91e9-1cefb8007ac5][ AuthTime::0::PostAuthTime::0 ][S-SeEnumerateDirectory :: 00:00:005 ms]%0a[LISTSTATUS :: 00:00:005 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatuses\": {\r\n    \"continuationToken\": null,\r\n    \"FileStatus\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FaclOutputFile?op=CREATE&overwrite=True&leaseid=4fef0b40-bef3-48ad-9e48-8597ce0ecda6&filesessionid=4fef0b40-bef3-48ad-9e48-8597ce0ecda6&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "e8375d1e-a976-497e-9a5d-5ec38a358c08.0.0,89,,GETACLSTATUS,219,1"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://ps8504.caboaccountdogfood.net/webhdfs/v1/aclOutputFile?op=CREATE&overwrite=True&leaseid=4fef0b40-bef3-48ad-9e48-8597ce0ecda6&filesessionid=4fef0b40-bef3-48ad-9e48-8597ce0ecda6&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01"
        ],
        "x-origin-server": [
          "bn4sch103191032"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[adb1aa28-9a29-4f30-a5ef-77c6a95aaa5d][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[S-HdfsCheckAccess :: 00:00:002 ms]%0a[S-HdfsOpenV2 :: 00:00:016 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:000 ms]%0a[CREATE :: 00:00:023 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:28;HandlerTime:25"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/webhdfs/v1%2F?op=LISTSTATUS&listSize=4000&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "1f095524-3c10-45a5-8d4e-00db9835f520.0.0,88,,GETACLSTATUS,219,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103191032"
        ],
        "Server-Perf": [
          "[364dc0d3-1ee9-43d9-bee9-64fab541a75e][ AuthTime::0::PostAuthTime::0 ][S-HdfsListStatus :: 00:00:009 ms]%0a[LISTSTATUS :: 00:00:010 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatuses\": {\r\n    \"continuationToken\": \"\",\r\n    \"FileStatus\": [\r\n      {\r\n        \"length\": 0,\r\n        \"pathSuffix\": \"aclOutputFile\",\r\n        \"type\": \"FILE\",\r\n        \"blockSize\": 268435456,\r\n        \"accessTime\": 1554403050332,\r\n        \"modificationTime\": 1554403050332,\r\n        \"replication\": 1,\r\n        \"permission\": \"770\",\r\n        \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n        \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n        \"msExpirationTime\": 0,\r\n        \"aclBit\": false\r\n      },\r\n      {\r\n        \"length\": 0,\r\n        \"pathSuffix\": \"aclRecurseFolder\",\r\n        \"type\": \"DIRECTORY\",\r\n        \"blockSize\": 0,\r\n        \"accessTime\": 1554403049488,\r\n        \"modificationTime\": 1554403049488,\r\n        \"replication\": 0,\r\n        \"permission\": \"770\",\r\n        \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n        \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n        \"aclBit\": true\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FaclRecurseFolder?op=GETACLSTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103191032"
        ],
        "Server-Perf": [
          "[b34bc7ac-37e4-45cd-909f-a4100af8d41e][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetAclStatus :: 00:00:004 ms]%0a[GETACLSTATUS :: 00:00:005 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"AclStatus\": {\r\n    \"entries\": [\r\n      \"user:027c28d5-c91d-49f0-98c5-d10134b169b3:rwx\",\r\n      \"group::rwx\"\r\n    ],\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"permission\": \"770\",\r\n    \"stickyBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FaclOutputFile?op=GETACLSTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "5db675c6-f7c1-4898-9272-407776159d46.0.0,92,,LISTSTATUS,640,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103201424"
        ],
        "Server-Perf": [
          "[4d0815e3-5f34-4257-92ad-6d494740e7ff][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetAclStatus :: 00:00:005 ms]%0a[GETACLSTATUS :: 00:00:005 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"AclStatus\": {\r\n    \"entries\": [],\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"permission\": \"770\",\r\n    \"stickyBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FaclRecurseFolder?op=LISTSTATUS&listSize=4000&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "4cfa92af-53ea-4889-8a93-9b313b609239.0.0,86,,GETACLSTATUS,219,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4sch103191032"
        ],
        "Server-Perf": [
          "[31c84cb0-06c6-422f-b186-56d68657dc71][ AuthTime::0::PostAuthTime::0 ][S-HdfsListStatus :: 00:00:005 ms]%0a[LISTSTATUS :: 00:00:005 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatuses\": {\r\n    \"continuationToken\": \"\",\r\n    \"FileStatus\": []\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FaclOutputFile?op=APPEND&leaseid=4fef0b40-bef3-48ad-9e48-8597ce0ecda6&filesessionid=4fef0b40-bef3-48ad-9e48-8597ce0ecda6&append=true&offset=0&syncFlag=METADATA&api-version=2018-09-01",
[...]
