{
  "Entries": [
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps566?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps566\",\r\n  \"name\": \"ps566\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps566/providers/Microsoft.DataLakeStore/accounts/ps7442?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeStore/accounts/ps7442' under resource group 'ps566' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps566/providers/Microsoft.DataLakeStore/accounts/ps7442?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14960"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallAllowAzureIps\": \"Disabled\",\r\n    \"firewallAllowDataLakeAnalytics\": \"Disabled\",\r\n    \"firewallRules\": [],\r\n    \"virtualNetworkRules\": [],\r\n    \"trustedIdProviderState\": \"Disabled\",\r\n    \"trustedIdProviders\": [],\r\n    \"encryptionState\": \"Disabled\",\r\n    \"encryptionConfig\": {},\r\n    \"currentTier\": \"Consumption\",\r\n    \"newTier\": \"Consumption\",\r\n    \"replicationType\": \"LRS\",\r\n    \"dataLakePerformanceTierState\": \"Disabled\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"ps7442.caboaccountdogfood.net\",\r\n    \"accountId\": \"233a8f2b-fe8a-42f7-a001-06709d919ed2\",\r\n    \"creationTime\": \"2019-04-04T19:40:55.4318998Z\",\r\n    \"lastModifiedTime\": \"2019-04-04T19:40:55.4318998Z\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps566/providers/Microsoft.DataLakeStore/accounts/ps7442\",\r\n  \"name\": \"ps7442\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps566/providers/Microsoft.DataLakeStore/accounts/ps7442?api-version=2016-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"encryptionState\": \"Disabled\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps566/providers/Microsoft.DataLakeStore/accounts/ps7442/operationresults/0?api-version=2016-11-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLakeStore/locations/westus/operationResults/233a8f2b-fe8a-42f7-a001-06709d919ed20?api-version=2016-11-01&expanded=true"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"encryptionState\": \"Disabled\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"state\": null,\r\n    \"endpoint\": null,\r\n    \"accountId\": \"233a8f2b-fe8a-42f7-a001-06709d919ed2\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps566/providers/Microsoft.DataLakeStore/accounts/ps7442\",\r\n  \"name\": \"ps7442\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLakeStore/locations/westus/operationResults/233a8f2b-fe8a-42f7-a001-06709d919ed20?api-version=2016-11-01&expanded=true",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14963"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[77f26652-c084-4f9d-a62f-618fd23851e5][ AuthTime::8468.84642277518::PostAuthTime::42544.8021776178 ][S-HdfsGetFileStatus :: 00:00:004 ms]%0a[GETFILESTATUS :: 00:00:010 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:915;HandlerTime:12"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlspstestfolder [77f26652-c084-4f9d-a62f-618fd23851e5][2019-04-04T12:41:31.0004853-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "52ce95b2-2a6b-4717-a60c-411e96618577.0.0,88,,MKDIRS,16,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[2091fc41-edfb-4342-86b7-a1fd416efd17][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[GETFILESTATUS :: 00:00:003 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:9;HandlerTime:9"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 0,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"DIRECTORY\",\r\n    \"blockSize\": 0,\r\n    \"accessTime\": 1554406891213,\r\n    \"modificationTime\": 1554406891213,\r\n    \"replication\": 0,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=MKDIRS&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "55455943-e8cd-41c4-8cf6-ea65c0c043c9.0.1,1437,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[7d24fe50-5064-4635-a0ff-3ff879d83b1c][ AuthTime::0::PostAuthTime::0 ][S-HdfsMkdirsV2 :: 00:00:006 ms]%0a[MKDIRS :: 00:00:006 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"boolean\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "313e13ca-4f83-48ad-8870-b995b7c547ff.0.0,89,,GETFILESTATUS,280,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[fc7d598e-1aa0-4d36-b5cc-e0be5055c5c5][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[GETFILESTATUS :: 00:00:003 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:6;HandlerTime:4"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlspstestfolder/emptyfile.txt [fc7d598e-1aa0-4d36-b5cc-e0be5055c5c5][2019-04-04T12:41:31.4848795-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "5b39963f-1254-47d8-a94b-b3118285d83a.0.0,538,,APPEND,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[53a9e339-9e64-42d5-8a77-79e6ba36f4f3][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:007 ms]%0a[GETFILESTATUS :: 00:00:007 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:10;HandlerTime:9"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 0,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1554406891608,\r\n    \"modificationTime\": 1554406891608,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=CREATE&overwrite=True&leaseid=eeb75d4c-fc76-4884-9b3d-2f13b94fdbaf&filesessionid=eeb75d4c-fc76-4884-9b3d-2f13b94fdbaf&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "b8087db9-4cf5-477f-8767-4a509d382406.0.1,84,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://ps7442.caboaccountdogfood.net/webhdfs/v1/adlspstestfolder/emptyfile.txt?op=CREATE&overwrite=True&leaseid=eeb75d4c-fc76-4884-9b3d-2f13b94fdbaf&filesessionid=eeb75d4c-fc76-4884-9b3d-2f13b94fdbaf&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01"
        ],
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "ContentLength": [
          "0"
        ],
        "Server-Perf": [
          "[37a11067-544e-4a26-aad0-b2271a75a054][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[S-HdfsCheckAccess :: 00:00:002 ms]%0a[S-HdfsOpenV2 :: 00:00:035 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:000 ms]%0a[CREATE :: 00:00:044 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:47;HandlerTime:46"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=APPEND&leaseid=eeb75d4c-fc76-4884-9b3d-2f13b94fdbaf&filesessionid=eeb75d4c-fc76-4884-9b3d-2f13b94fdbaf&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "ee17d42e-e3f6-4a75-b443-7b450dd6a5da.0.0,126,,CREATE,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[b54e7701-68e9-45bd-99b0-7412b3db963e][ AuthTime::0::PostAuthTime::0 ][S-HdfsOpenV2 :: 00:00:010 ms]%0a[S-FsHdfsAppend  :: 00:00:419 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:419 ms]%0a[APPEND :: 00:00:455 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:460;HandlerTime:459"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fcontentfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "2de3c649-5ced-40cd-8574-2361173f7af3.0.0,88,,GETFILESTATUS,304,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[57bae1c6-aca5-4fae-a76b-b21932e2d8e2][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[GETFILESTATUS :: 00:00:003 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:6;HandlerTime:5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlspstestfolder/contentfile.txt [57bae1c6-aca5-4fae-a76b-b21932e2d8e2][2019-04-04T12:41:32.3754867-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fcontentfile.txt?op=CREATE&overwrite=True&leaseid=a8197f0e-5b1c-44b4-93b5-7031c17b3a28&filesessionid=a8197f0e-5b1c-44b4-93b5-7031c17b3a28&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "802201d4-5e18-405b-a319-562d95c157a7.0.1,84,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
   [...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fcontentfile.txt?op=APPEND&leaseid=a8197f0e-5b1c-44b4-93b5-7031c17b3a28&filesessionid=a8197f0e-5b1c-44b4-93b5-7031c17b3a28&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "Test file content! @ Azure PsTest01?",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "102164ed-d44a-4f90-b7ef-3599dca22772.0.0,102,,CREATE,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[5495aec8-d529-4ec8-8e9d-b4075b68fc11][ AuthTime::0::PostAuthTime::0 ][S-HdfsOpenV2 :: 00:00:011 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[S-FsHdfsAppend  :: 00:00:286 ms]%0a[WriteTime :: 00:00:286 ms]%0a[APPEND :: 00:00:304 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:307;HandlerTime:306"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "14c7dea0-6a0a-4ea7-94ef-d5e3b2666e28.0.0,87,,GETFILESTATUS,305,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[857506c5-ef89-45a1-8a81-b7a17576497d][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:002 ms]%0a[GETFILESTATUS :: 00:00:003 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:6;HandlerTime:4"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /encodingFolder/unicodecontentfile.txt [857506c5-ef89-45a1-8a81-b7a17576497d][2019-04-04T12:41:33.0473875-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=CREATE&overwrite=True&leaseid=e96359c3-db81-4887-99ab-98787370a424&filesessionid=e96359c3-db81-4887-99ab-98787370a424&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "1c93dd9a-fc7f-4f0b-afc9-2c67e2b25a9d.0.1,83,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=APPEND&leaseid=e96359c3-db81-4887-99ab-98787370a424&filesessionid=e96359c3-db81-4887-99ab-98787370a424&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "3afe8879-0ff4-4cc2-818c-52c5b9c5f41d.0.0,100,,CREATE,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[99bb4952-2a94-4fc0-a112-d09167428276][ AuthTime::0::PostAuthTime::0 ][S-HdfsOpenV2 :: 00:00:009 ms]%0a[S-FsHdfsAppend  :: 00:00:089 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:089 ms]%0a[APPEND :: 00:00:106 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:108;HandlerTime:107"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=APPEND&leaseid=7271517d-c28d-46cb-bbf0-295577cfbbf7&filesessionid=7271517d-c28d-46cb-bbf0-295577cfbbf7&append=true&offset=0&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "47016c09-c422-421f-9292-d17a00048b5d.0.0,186,,APPEND,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[490e7bc4-8f32-4c67-8787-6698d2fd09a2][ AuthTime::0::PostAuthTime::0 ][S-HdfsOpenV2 :: 00:00:010 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[WriteTime :: 00:00:000 ms]%0a[APPEND :: 00:00:010 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:13;HandlerTime:11"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=GETFILESTATUS&tooid=True&getconsistentlength=true&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "267c1308-4542-4b26-9a66-7c9e46fcc807.0.0,90,,APPEND,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[a4d7dc0a-a991-4e3c-a691-5cb808e4d40a][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:041 ms]%0a[GETFILESTATUS :: 00:00:041 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:44;HandlerTime:43"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 0,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1554406893153,\r\n    \"modificationTime\": 1554406893153,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=OPEN&read=true&filesessionid=751aa092-7719-4212-a6e6-5566cce95cf2&offset=0&length=4194304&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "67bda607-e5f9-49c3-977e-1e94e120e1c6.0.0,165,,GETFILESTATUS,305,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[6fec8b35-216b-4b39-b262-23d19d162397][ AuthTime::0::PostAuthTime::0 ][S-FsOpenStream :: 00:00:006 ms]%0a[S-FsReadStream :: 00:00:071 ms]%0a[OPEN :: 00:00:078 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/octet-stream"
        ]
      },
      "ResponseBody": "SQAgAGEAbQAgAHUAbgBpAGMAbwBkAGUAIAB0AGUAeAB0AA==",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "4c441287-0cb7-44af-8d4c-43abf96fb793.0.0,176,,OPEN,34,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[a24d654b-c742-4106-9b03-91b360954f72][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[GETFILESTATUS :: 00:00:003 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
          "RequestTime:7;HandlerTime:5"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /encodingFolder/utf32contentfile.txt [a24d654b-c742-4106-9b03-91b360954f72][2019-04-04T12:41:34.1879648-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=CREATE&overwrite=True&leaseid=963e09f2-4a4e-44f0-8f09-ca8608cd1520&filesessionid=963e09f2-4a4e-44f0-8f09-ca8608cd1520&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "f96298e0-4886-44de-b6f8-9cbe7ef41a79.0.1,85,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=APPEND&leaseid=963e09f2-4a4e-44f0-8f09-ca8608cd1520&filesessionid=963e09f2-4a4e-44f0-8f09-ca8608cd1520&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "I\u0000\u0000\u0000 \u0000\u0000\u0000a\u0000\u0000\u0000m\u0000\u0000\u0000 \u0000\u0000\u0000u\u0000\u0000\u0000t\u0000\u0000\u0000f\u0000\u0000\u00003\u0000\u0000\u00002\u0000\u0000\u0000 \u0000\u0000\u0000t\u0000\u0000\u0000e\u0000\u0000\u0000x\u0000\u0000\u0000t\u0000\u0000\u0000",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "12340b15-8c5b-4f97-99c3-074b5228898d.0.0,102,,CREATE,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[5d650873-b148-4ee6-8d08-ae53bc8eac74][ AuthTime::0::PostAuthTime::0 ][S-HdfsOpenV2 :: 00:00:010 ms]%0a[BufferingTime :: 00:00:000 ms]%0a[S-FsHdfsAppend  :: 00:00:116 ms]%0a[WriteTime :: 00:00:116 ms]%0a[APPEND :: 00:00:133 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:136;HandlerTime:135"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=GETFILESTATUS&tooid=True&getconsistentlength=true&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "5902ed9e-deb8-4bd8-8e21-7e0bb6b9de31.0.0,214,,APPEND,60,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[aaad4a14-dc8a-4241-a6f6-acf7990423a1][ AuthTime::0::PostAuthTime::0 ][S-HdfsGetFileStatus :: 00:00:080 ms]%0a[GETFILESTATUS :: 00:00:081 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "x-ms-server-perf": [
          "RequestTime:83;HandlerTime:82"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 60,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1554406894284,\r\n    \"modificationTime\": 1554406894484,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=OPEN&read=true&filesessionid=aaa9367a-ee41-4530-8127-7faf7fae51db&offset=0&length=4194304&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "ba1047fe-973c-484c-8fab-29b89002e1f4.0.0,161,,GETFILESTATUS,305,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
          "bn4phy101161121"
        ],
        "Server-Perf": [
          "[f0a0ef45-94ab-41b3-a4fc-3df314ce62e2][ AuthTime::0::PostAuthTime::0 ][S-FsOpenStream :: 00:00:007 ms]%0a[S-FsReadStream :: 00:00:015 ms]%0a[OPEN :: 00:00:022 ms]%0a"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/octet-stream"
        ]
      },
      "ResponseBody": "SQAAACAAAABhAAAAbQAAACAAAAB1AAAAdAAAAGYAAAAzAAAAMgAAACAAAAB0AAAAZQAAAHgAAAB0AAAA",
      "StatusCode": 200
    },
    {
      "RequestUri": "/WebHdfsExt%2Fadlspstestfolder%2Fcontentfile.txt?op=SETEXPIRY&expireTime=1554407014000&expiryOption=Absolute&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "950fe6c0-84fb-46a7-b09a-aeb363e885df.0.0,87,,GETFILESTATUS,305,1"
        ]
      },
      "ResponseHeaders": {
        "x-origin-server": [
[...]
