{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps4989?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps9590?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "3a96522c-cb1e-46a1-b3dd-1f6d214acaab"
=======
          "a37ab731-cb3a-4f32-945d-ee04c041aea4"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.26628.05",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.1.18"
=======
          "FxVersion/4.6.28008.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "28"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
<<<<<<< HEAD
          "1188"
        ],
        "x-ms-request-id": [
          "fb55780b-2c04-4a26-b702-6673c07f8489"
        ],
        "x-ms-correlation-request-id": [
          "fb55780b-2c04-4a26-b702-6673c07f8489"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20190404T185856Z:fb55780b-2c04-4a26-b702-6673c07f8489"
=======
          "1199"
        ],
        "x-ms-request-id": [
          "008dfb91-761b-4078-a224-3728de911bba"
        ],
        "x-ms-correlation-request-id": [
          "008dfb91-761b-4078-a224-3728de911bba"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191009T001326Z:008dfb91-761b-4078-a224-3728de911bba"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 04 Apr 2019 18:58:55 GMT"
=======
          "Wed, 09 Oct 2019 00:13:25 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Length": [
          "165"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps4989\",\r\n  \"name\": \"ps4989\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps4989/providers/Microsoft.DataLakeStore/accounts/ps8609?api-version=2016-11-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps9590\",\r\n  \"name\": \"ps9590\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps9590/providers/Microsoft.DataLakeStore/accounts/ps2606?api-version=2016-11-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "cccd7235-1eec-4db0-821d-44d0bfafb5ba"
=======
          "5d786c97-84eb-4a54-821d-472a25582498"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.26628.05",
=======
          "FxVersion/4.6.28008.01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.DataLake.Store.DataLakeStoreAccountManagementClient/2.4.2.0"
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "ba2e12bb-48b4-43dd-9a71-cf672712d133"
        ],
        "x-ms-correlation-request-id": [
          "ba2e12bb-48b4-43dd-9a71-cf672712d133"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20190404T185857Z:ba2e12bb-48b4-43dd-9a71-cf672712d133"
=======
          "2d8e639f-a90b-43fb-a1ff-78d7e77a7ce1"
        ],
        "x-ms-correlation-request-id": [
          "2d8e639f-a90b-43fb-a1ff-78d7e77a7ce1"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191009T001327Z:2d8e639f-a90b-43fb-a1ff-78d7e77a7ce1"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 04 Apr 2019 18:58:57 GMT"
=======
          "Wed, 09 Oct 2019 00:13:27 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "149"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeStore/accounts/ps8609' under resource group 'ps4989' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps9590/providers/Microsoft.DataLakeStore/accounts/ps2606?api-version=2016-11-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.26628.05",
=======
          "FxVersion/4.6.28008.01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.DataLake.Store.DataLakeStoreAccountManagementClient/2.4.2.0"
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "946faeca-22a3-4ba0-8d17-bb2b7e2f4952"
=======
          "8ec825dc-909c-435d-8f60-02dd793a3b33"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "14944"
=======
          "14995"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Server": [
          "Microsoft-IIS/10.0"
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "65b0990a-a990-4c48-aca6-f408a08ce58b"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20190404T185935Z:65b0990a-a990-4c48-aca6-f408a08ce58b"
=======
          "350dd071-403c-4138-8a48-b6bf2f342a5f"
        ],
        "x-ms-routing-request-id": [
          "NORTHEUROPE:20191009T001408Z:350dd071-403c-4138-8a48-b6bf2f342a5f"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 04 Apr 2019 18:59:35 GMT"
=======
          "Wed, 09 Oct 2019 00:14:08 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Length": [
          "1015"
        ],
        "Content-Type": [
          "application/json"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallAllowAzureIps\": \"Disabled\",\r\n    \"firewallAllowDataLakeAnalytics\": \"Disabled\",\r\n    \"firewallRules\": [],\r\n    \"virtualNetworkRules\": [],\r\n    \"trustedIdProviderState\": \"Disabled\",\r\n    \"trustedIdProviders\": [],\r\n    \"encryptionState\": \"Enabled\",\r\n    \"encryptionConfig\": {\r\n      \"type\": \"ServiceManaged\"\r\n    },\r\n    \"currentTier\": \"Consumption\",\r\n    \"newTier\": \"Consumption\",\r\n    \"replicationType\": \"LRS\",\r\n    \"dataLakePerformanceTierState\": \"Disabled\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"ps8609.caboaccountdogfood.net\",\r\n    \"accountId\": \"085c500f-8dd5-4274-aded-520bf340f9bf\",\r\n    \"creationTime\": \"2019-04-04T18:59:04.0391586Z\",\r\n    \"lastModifiedTime\": \"2019-04-04T18:59:04.0391586Z\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"e222a33b-6c52-4bb0-bcd8-312ea8df037b\",\r\n    \"tenantId\": \"4ca0b6b0-e97c-43bc-aa52-48f274d2cf1a\"\r\n  },\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps4989/providers/Microsoft.DataLakeStore/accounts/ps8609\",\r\n  \"name\": \"ps8609\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps9590/providers/Microsoft.DataLakeStore/accounts/ps2606?api-version=2016-11-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"properties\": {\r\n    \"encryptionConfig\": {\r\n      \"type\": \"ServiceManaged\"\r\n    },\r\n    \"encryptionState\": \"Enabled\"\r\n  }\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "11f6a6f0-b4bf-4c0b-9fe9-bbf1ef0fe403"
=======
          "d06215e6-e9f6-4e9f-a524-751c863f9d04"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.26628.05",
=======
          "FxVersion/4.6.28008.01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.14393.",
          "Microsoft.Azure.Management.DataLake.Store.DataLakeStoreAccountManagementClient/2.4.2.0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "222"
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps4989/providers/Microsoft.DataLakeStore/accounts/ps8609/operationresults/0?api-version=2016-11-01"
=======
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps9590/providers/Microsoft.DataLakeStore/accounts/ps2606/operationresults/0?api-version=2016-11-01"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLakeStore/locations/westus/operationResults/085c500f-8dd5-4274-aded-520bf340f9bf0?api-version=2016-11-01&expanded=true"
        ],
        "x-ms-request-id": [
          "861a6abd-0d1d-41d3-ab49-b49a4f11c9d3"
=======
          "https://api-dogfood.resources.windows-int.net/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLak[...]
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLakeStore/locations/westus/operationResults/085c500f-8dd5-4274-aded-520bf340f9bf0?api-version=2016-11-01&expanded=true",
=======
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"encryptionState\": \"Enabled\",\r\n    \"encryptionConfig\": {\r\n      \"type\": \"ServiceManaged\"\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"state\": null,\r\n    \"endpoint\": null,\r\n    \"accountId\": \"7a3d15a9-1ef9-4bb2-a0f5-13e8038f71bb\"\r\n  },\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"tenantId\": \"00000000-0000-0000-0000-000000000000\"\r\n  },\r\n  \"id\": \"/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourceGroups/ps9590/providers/Microsoft.DataLakeStore/accounts/ps2606\",\r\n  \"name\": \"ps2606\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLakeStore/locations/westus/operationResults/7a3d15a9-1ef9-4bb2-a0f5-13e8038f71bb_0?api-version=2016-11-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.26628.05",
=======
          "FxVersion/4.6.28008.01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
          "OSName[...]
    {
      "RequestUri": "/webhdfs/v1%2FadlfolderTest1?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "Microsoft.Azure.DataLake.Store;1.2.2-beta/Microsoft Windows 10.0.14393  X64/NETCOREAPP1_1/AzurePowershell/Az1.0.0"
        ],
        "x-ms-client-request-id": [
          "e2dd27c5-5bb3-459c-a400-c9a253a03870.0"
=======
          "Microsoft.Azure.DataLake.Store;1.2.1-alpha/Microsoft Windows 10.0.14393  X64/NETCOREAPP1_1/AzurePowershell/Az1.0.0"
        ],
        "x-ms-client-request-id": [
          "491b869c-b9e2-44f7-8a2f-6684dc9c2bac.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "6f022c5e-d270-4fce-ba94-32500ee303cb"
        ],
        "x-origin-server": [
          "bn4sch103190124"
        ],
        "Server-Perf": [
          "[6f022c5e-d270-4fce-ba94-32500ee303cb][ AuthTime::957.609833228762::PostAuthTime::1111.15245499255 ][S-HdfsGetFileStatus :: 00:00:005 ms]%0a[GETFILESTATUS :: 00:00:006 ms]%0a"
=======
          "5a6a89d0-c78a-4a40-8965-4ea25a520172"
        ],
        "x-origin-server": [
          "bn4sch103190224"
        ],
        "Server-Perf": [
          "[5a6a89d0-c78a-4a40-8965-4ea25a520172][ AuthTime::966.7::PostAuthTime::316069.5 ][S-HdfsGetFileStatus :: 00:00:003 ms]%0a[GETFILESTATUS :: 00:00:004 ms]%0a"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "x-ms-server-perf": [
<<<<<<< HEAD
          "RequestTime:885;HandlerTime:8"
=======
          "RequestTime:5043;HandlerTime:6"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Strict-Transport-Security": [
          "max-age=15724800; includeSubDomains"
        ],
        "Date": [
<<<<<<< HEAD
          "Thu, 04 Apr 2019 18:59:38 GMT"
=======
          "Wed, 09 Oct 2019 00:14:14 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "235"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlfolderTest1 [6f022c5e-d270-4fce-ba94-32500ee303cb][2019-04-04T11:59:38.4157921-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
=======
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlfolderTest1 [5a6a89d0-c78a-4a40-8965-4ea25a520172][2019-10-08T17:14:15.1923008-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2FadlfolderTest1?op=MKDIRS&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "e2dd27c5-5bb3-459c-a400-c9a253a03870.0.1,1445,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
        ],
        "User-Agent": [
          "Microsoft.Azure.DataLake.Store;1.2.2-beta/Microsoft Windows 10.0.14393  X64/NETCOREAPP1_1/AzurePowershell/Az1.0.0"
        ],
        "x-ms-client-request-id": [
          "28a6e1ee-2c06-4aa5-9159-7279fe0be5f2.0"
=======
          "491b869c-b9e2-44f7-8a2f-6684dc9c2bac.0.1,5644,HTTP NotFound ( FileNotFoundException ),GETF[...]
[...]
    {
      "RequestUri": "/webhdfs/v1%2FadlfolderTest1%2Fadlfile1?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "336729b3-87cb-4b9f-bb37-a17a6aa16cec.0.0,88,,MKDIRS,16,1"
        ],
        "User-Agent": [
          "Microsoft.Azure.DataLake.Store;1.2.2-beta/Microsoft Windows 10.0.14393  X64/NETCOREAPP1_1/AzurePowershell/Az1.0.0"
        ],
        [...]
[...]
    {
      "RequestUri": "/webhdfs/v1%2FadlfolderTest1%2Fadlfile1?op=CREATE&overwrite=True&leaseid=35386d32-5dfa-4bd5-b189-04549b1b15a2&filesessionid=35386d32-5dfa-4bd5-b189-04549b1b15a2&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
=======
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlfolderTest1/adlfile1 [f67d4f66-1e99-4748-aa45-8da1c384ec4d][2019-10-08T17:14:16.9421890-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FadlfolderTest1%2Fadlfile1?op=DELETE&recursive=False&api-version=2018-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "1d8df518-81b2-4455-9c34-e856dbb4c756.0.0,131,,APPEND,0,1"
        ],
        "User-Agent": [
          "Microsoft.Azure.DataLake.Store;1.2.2-beta/Microsoft Windows 10.0.14393  X64/NETCOREAPP1_1/AzurePowershell/Az1.0.0"
        ],
       [...]
[...]
    {
      "RequestUri": "/webhdfs/v1%2F?op=ENUMERATEDELETEDITEMS&hint=adlfolderTest1&listSize=1000&api-version=2018-08-01&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
<<<<<<< HEAD
          "d50a29d3-d63f-444a-a698-992f13403d94.0.1,85,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
        ],
        "User-Agent": [
          "Microsoft.Azure.DataLake.Store;1.2.2-beta/Microsoft Windows [...]
[...]
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/providers/Microsoft.DataLakeStore/locations/westus/operationResults/7a3d15a9-1ef9-4bb2-a0f5-13e8038f71bb_1?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/90585f39-ab85-4921-bb37-0468f7efd1dd/resourcegroups/ps9590/providers/Microsoft.DataLakeStore/accounts/ps2606/operationresults/1?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 404
    },
[...]
