{
  "Entries": [
    {
      "RequestUri": "/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourcegroups/ps7357?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourceGroups/ps7357\",\r\n  \"name\": \"ps7357\",\r\n  \"location\": \"eastus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourceGroups/ps7357/providers/Microsoft.DataLakeStore/accounts/ps9896?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.DataLakeStore/accounts/ps9896' under resource group 'ps7357' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourceGroups/ps7357/providers/Microsoft.DataLakeStore/accounts/ps9896?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"firewallState\": \"Disabled\",\r\n    \"firewallAllowAzureIps\": \"Disabled\",\r\n    \"firewallAllowDataLakeAnalytics\": \"Disabled\",\r\n    \"firewallRules\": [],\r\n    \"virtualNetworkRules\": [],\r\n    \"trustedIdProviderState\": \"Disabled\",\r\n    \"trustedIdProviders\": [],\r\n    \"encryptionState\": \"Disabled\",\r\n    \"encryptionConfig\": {},\r\n    \"currentTier\": \"Consumption\",\r\n    \"newTier\": \"Consumption\",\r\n    \"dataLakePerformanceTierState\": \"Disabled\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"state\": \"Active\",\r\n    \"endpoint\": \"ps9896.azuredatalakestore.net\",\r\n    \"accountId\": \"ffc752ca-53f9-4c56-84d1-a64b0e433d91\",\r\n    \"creationTime\": \"2020-03-17T21:05:37.0260864Z\",\r\n    \"lastModifiedTime\": \"2020-03-17T21:05:37.0260864Z\"\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourceGroups/ps7357/providers/Microsoft.DataLakeStore/accounts/ps9896\",\r\n  \"name\": \"ps9896\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourceGroups/ps7357/providers/Microsoft.DataLakeStore/accounts/ps9896?api-version=2016-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"encryptionState\": \"Disabled\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourcegroups/ps7357/providers/Microsoft.DataLakeStore/accounts/ps9896/operationresults/0?api-version=2016-11-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/ffc752ca-53f9-4c56-84d1-a64b0e433d91_0?api-version=2016-11-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"encryptionState\": \"Disabled\",\r\n    \"provisioningState\": \"Creating\",\r\n    \"state\": null,\r\n    \"endpoint\": null,\r\n    \"accountId\": \"ffc752ca-53f9-4c56-84d1-a64b0e433d91\"\r\n  },\r\n  \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/resourceGroups/ps7357/providers/Microsoft.DataLakeStore/accounts/ps9896\",\r\n  \"name\": \"ps9896\",\r\n  \"type\": \"Microsoft.DataLakeStore/accounts\"\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/19bfaf65-cc32-4d16-b78f-9a1416a4584b/providers/Microsoft.DataLakeStore/locations/eastus2/operationResults/ffc752ca-53f9-4c56-84d1-a64b0e433d91_0?api-version=2016-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlspstestfolder [6422f606-5eec-4bdd-a335-f284835debd3][2020-03-17T14:06:10.4689302-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "40e4cbfd-f5ac-482d-9617-859eed481234.0.0,81,,MKDIRS,16,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 0,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"DIRECTORY\",\r\n    \"blockSize\": 0,\r\n    \"accessTime\": 1584479170670,\r\n    \"modificationTime\": 1584479170670,\r\n    \"replication\": 0,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"a9490485-6472-48d0-bf72-50cb3c216b9c\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=MKDIRS&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "b10fec83-ca65-4a8a-875a-762179b70f68.0.1,791,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"boolean\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "ca10e868-3647-4d97-aee0-58a08586167a.0.0,76,,GETFILESTATUS,280,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlspstestfolder/emptyfile.txt [7bf09430-5c15-4d84-93b2-d48cdcf55a31][2020-03-17T14:06:10.9064068-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "fff09479-12d6-474d-ac0f-b319bc8a667b.0.0,98,,APPEND,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 0,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1584479171019,\r\n    \"modificationTime\": 1584479171019,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"a9490485-6472-48d0-bf72-50cb3c216b9c\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=CREATE&overwrite=True&leaseid=2aec2bfd-76ab-4136-9a4c-f8acbac81f1d&filesessionid=2aec2bfd-76ab-4136-9a4c-f8acbac81f1d&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "d99830a3-d751-404e-85a1-36c16f1e6b21.0.1,75,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://ps9896.azuredatalakestore.net/webhdfs/v1/adlspstestfolder/emptyfile.txt?op=CREATE&overwrite=True&leaseid=2aec2bfd-76ab-4136-9a4c-f8acbac81f1d&filesessionid=2aec2bfd-76ab-4136-9a4c-f8acbac81f1d&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01"
        ],
        "ContentLength": [
          "0"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=APPEND&leaseid=2aec2bfd-76ab-4136-9a4c-f8acbac81f1d&filesessionid=2aec2bfd-76ab-4136-9a4c-f8acbac81f1d&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "47c6d4e2-4618-40c1-a5a6-b3d40f190d44.0.0,89,,CREATE,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fcontentfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "7397c655-0ba7-4eba-9c60-16e7f77ce8a4.0.0,77,,GETFILESTATUS,304,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /adlspstestfolder/contentfile.txt [94e1c94f-015e-420c-8a23-ea370fabac32][2020-03-17T14:06:11.3282580-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fcontentfile.txt?op=CREATE&overwrite=True&leaseid=63b798cc-6151-433f-a81f-f97bb79127e2&filesessionid=63b798cc-6151-433f-a81f-f97bb79127e2&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "ed40d41f-a6bd-4e23-b877-fe579814ceb4.0.1,75,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://ps9896.azuredatalakestore.net/webhdfs/v1/adlspstestfolder/contentfile.txt?op=CREATE&overwrite=True&leaseid=63b798cc-6151-433f-a81f-f97bb79127e2&filesessionid=63b798cc-6151-433f-a81f-f97bb79127e2&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01"
        ],
        "ContentLength": [
          "0"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fcontentfile.txt?op=APPEND&leaseid=63b798cc-6151-433f-a81f-f97bb79127e2&filesessionid=63b798cc-6151-433f-a81f-f97bb79127e2&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "Test file content! @ Azure PsTest01?",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "6c081a9a-580d-451d-bcc6-e6b3bce2aef2.0.0,90,,CREATE,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "50a71f56-1bf7-4460-8a79-1ac5cd463a3e.0.0,76,,GETFILESTATUS,305,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /encodingFolder/unicodecontentfile.txt [ce201792-bc79-4c55-8158-821e0dc3727a][2020-03-17T14:06:11.7344837-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=CREATE&overwrite=True&leaseid=b91c6894-4eda-40b3-a840-95d5d8a08385&filesessionid=b91c6894-4eda-40b3-a840-95d5d8a08385&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "8f3cf24e-73c8-4763-8820-9a521393f45d.0.1,77,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://ps9896.azuredatalakestore.net/webhdfs/v1/encodingFolder/unicodecontentfile.txt?op=CREATE&overwrite=True&leaseid=b91c6894-4eda-40b3-a840-95d5d8a08385&filesessionid=b91c6894-4eda-40b3-a840-95d5d8a08385&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01"
        ],
        "ContentLength": [
          "0"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=APPEND&leaseid=b91c6894-4eda-40b3-a840-95d5d8a08385&filesessionid=b91c6894-4eda-40b3-a840-95d5d8a08385&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "4be7a146-f185-4363-9424-4d8c5b284015.0.0,89,,CREATE,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=APPEND&leaseid=d90e8370-678d-468d-bac3-c7e6e0f8870b&filesessionid=d90e8370-678d-468d-bac3-c7e6e0f8870b&append=true&offset=0&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "aa02d746-cd34-4444-8d3b-360cbfb69748.0.0,86,,APPEND,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=GETFILESTATUS&tooid=True&getconsistentlength=true&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "0934848a-b76a-46cc-8172-5c14a86039b5.0.0,86,,APPEND,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 0,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1584479171822,\r\n    \"modificationTime\": 1584479171822,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"a9490485-6472-48d0-bf72-50cb3c216b9c\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Funicodecontentfile.txt?op=OPEN&read=true&filesessionid=7000b869-e6a0-48f4-83ec-56a0565b7d71&offset=0&length=4194304&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "e4ab8330-ac13-436a-96cc-a5fb9ee068c0.0.0,129,,GETFILESTATUS,305,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/octet-stream"
        ]
      },
      "ResponseBody": "SQAgAGEAbQAgAHUAbgBpAGMAbwBkAGUAIAB0AGUAeAB0AA==",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "9dd03c27-b78e-4e24-9ced-e14fd65aaa10.0.0,108,,OPEN,34,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /encodingFolder/utf32contentfile.txt [95f68cd6-ca7b-4bd8-8898-a812635bb56a][2020-03-17T14:06:12.5938059-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=CREATE&overwrite=True&leaseid=908a8bd7-7e19-4a73-9b07-a9c00743aba1&filesessionid=908a8bd7-7e19-4a73-9b07-a9c00743aba1&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "447bee91-aedb-4f56-9eff-522eea74954a.0.1,74,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,1"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://ps9896.azuredatalakestore.net/webhdfs/v1/encodingFolder/utf32contentfile.txt?op=CREATE&overwrite=True&leaseid=908a8bd7-7e19-4a73-9b07-a9c00743aba1&filesessionid=908a8bd7-7e19-4a73-9b07-a9c00743aba1&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01"
        ],
        "ContentLength": [
          "0"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=APPEND&leaseid=908a8bd7-7e19-4a73-9b07-a9c00743aba1&filesessionid=908a8bd7-7e19-4a73-9b07-a9c00743aba1&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "I\u0000\u0000\u0000 \u0000\u0000\u0000a\u0000\u0000\u0000m\u0000\u0000\u0000 \u0000\u0000\u0000u\u0000\u0000\u0000t\u0000\u0000\u0000f\u0000\u0000\u00003\u0000\u0000\u00002\u0000\u0000\u0000 \u0000\u0000\u0000t\u0000\u0000\u0000e\u0000\u0000\u0000x\u0000\u0000\u0000t\u0000\u0000\u0000",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "1450a5f5-20a6-4d08-8dbc-146614dd0be4.0.0,123,,CREATE,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=GETFILESTATUS&tooid=True&getconsistentlength=true&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "da73a155-f71c-4a4c-ba6a-c541d20e5acc.0.0,126,,APPEND,60,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 60,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1584479172726,\r\n    \"modificationTime\": 1584479172828,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"a9490485-6472-48d0-bf72-50cb3c216b9c\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FencodingFolder%2Futf32contentfile.txt?op=OPEN&read=true&filesessionid=f2f37836-2118-42f8-bb9f-f56871eba8cc&offset=0&length=4194304&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "7e067a35-657d-437a-abec-6f6dca934013.0.0,213,,GETFILESTATUS,305,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/octet-stream"
        ]
      },
      "ResponseBody": "SQAAACAAAABhAAAAbQAAACAAAAB1AAAAdAAAAGYAAAAzAAAAMgAAACAAAAB0AAAAZQAAAHgAAAB0AAAA",
      "StatusCode": 200
    },
    {
      "RequestUri": "/WebHdfsExt%2Fadlspstestfolder%2Fcontentfile.txt?op=SETEXPIRY&expireTime=1584479293000&expiryOption=Absolute&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "2969291b-f180-47c3-9638-0bd9467e5d9a.0.0,76,,GETFILESTATUS,305,1"
        ]
      },
      "ResponseHeaders": {
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/WebHdfsExt%2Fadlspstestfolder%2Fcontentfile.txt?op=SETEXPIRY&expireTime=-1&expiryOption=NeverExpire&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "8fbfb4c0-273b-4b11-b790-5d65ed7b6706.0.0,82,,GETFILESTATUS,317,1"
        ]
      },
      "ResponseHeaders": {
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder?op=LISTSTATUS&listSize=4000&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "94e6226e-0d18-45d2-bbe5-2bf06a657f61.0.0,76,,GETFILESTATUS,305,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatuses\": {\r\n    \"continuationToken\": \"\",\r\n    \"FileStatus\": [\r\n      {\r\n        \"length\": 36,\r\n        \"pathSuffix\": \"contentfile.txt\",\r\n        \"type\": \"FILE\",\r\n        \"blockSize\": 268435456,\r\n        \"accessTime\": 1584479171421,\r\n        \"modificationTime\": 1584479171531,\r\n        \"replication\": 1,\r\n        \"permission\": \"770\",\r\n        \"owner\": \"a9490485-6472-48d0-bf72-50cb3c216b9c\",\r\n        \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n        \"msExpirationTime\": 0,\r\n        \"aclBit\": false\r\n      },\r\n      {\r\n        \"length\": 0,\r\n        \"pathSuffix\": \"emptyfile.txt\",\r\n        \"type\": \"FILE\",\r\n        \"blockSize\": 268435456,\r\n        \"accessTime\": 1584479171019,\r\n        \"modificationTime\": 1584479171019,\r\n        \"replication\": 1,\r\n        \"permission\": \"770\",\r\n        \"owner\": \"a9490485-6472-48d0-bf72-50cb3c216b9c\",\r\n        \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n        \"msExpirationTime\": 0,\r\n        \"aclBit\": false\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=APPEND&leaseid=b595f632-0f01-4f41-acf0-6cdb4d52289e&filesessionid=b595f632-0f01-4f41-acf0-6cdb4d52289e&append=true&offset=0&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "e17075eb-36da-496d-bf2e-281bf3d98d0e.0.0,78,,LISTSTATUS,665,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Femptyfile.txt?op=GETFILESTATUS&tooid=True&getconsistentlength=true&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "57d115bd-8d41-4956-b9c9-86b144b78140.0.0,79,,APPEND,0,1"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 0,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1584479171019,\r\n    \"modificationTime\": 1584479171019,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"a9490485-6472-48d0-bf72-50cb3c216b9c\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2Fadlspstestfolder%2Fconcatfile.txt?op=MSCONCAT&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"sources\": [\r\n    \"/adlspstestfolder/emptyfile.txt\",\r\n    \"/adlspstestfolder/contentfile.txt\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "3963c015-e701-4f58-ac9a-1358af123aaf.0.0,87,,GETFILESTATUS,305,1"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
[...]
