{
  "Entries": [
    {
      "RequestUri": "/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a0be0c72-870e-46f0-9c49-c98333a996f7\",\r\n      \"roleDefinitionId\": \"7ce22727-ffce-45a9-930c-ddb2e56fa131\"\r\n    },\r\n    {\r\n      \"applicationId\": \"486c78bf-a0f7-45f1-92fd-37215929e116\",\r\n      \"roleDefinitionId\": \"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d\"\r\n    },\r\n    {\r\n      \"applicationId\": \"19947cfd-0303-466c-ac3c-fcc19a7a1570\",\r\n      \"roleDefinitionId\": \"d813ab6c-bfb7-413e-9462-005b21f0ce09\"\r\n    },\r\n    {\r\n      \"applicationId\": \"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd\",\r\n      \"roleDefinitionId\": \"8141843c-c51c-4c1e-a5bf-0d351594b86c\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"virtualNetworks\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West Central US\",\r\n        \"West US 2\",\r\n        \"UK West\",\r\n        \"UK South\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"South Africa North\",\r\n        \"West US\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-04-01\",\r\n        \"2019-02-01\",\r\n        \"2018-12-01\",\r\n        \"2018-11-01\",\r\n        \"2018-10-01\",\r\n        \"2018-08-01\",\r\n        \"2018-07-01\",\r\n        \"2018-06-01\",\r\n        \"2018-05-01\",\r\n        \"2018-04-01\",\r\n        \"2018-03-01\",\r\n        \"2018-02-01\",\r\n        \"2018-01-01\",\r\n        \"2017-11-01\",\r\n        \"2017-10-01\",\r\n        \"2017-09-01\",\r\n        \"2017-08-01\",\r\n        \"2017-06-01\",\r\n        \"2017-04-01\",\r\n        \"2017-03-01\",\r\n        \"2016-12-01\",\r\n        \"2016-11-01\",\r\n        \"2016-10-01\",\r\n        \"2016-09-01\",\r\n        \"2016-08-01\",\r\n        \"2016-07-01\",\r\n        \"2016-06-01\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\",\r\n        \"2014-12-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"publicIPAddresses\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\"[...]
    {
      "RequestUri": "/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourcegroups/ps1630?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630\",\r\n  \"name\": \"ps1630\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/serviceEndpointPolicies/ServiceEndpointPolicy1?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/serviceEndpointPolicies/ServiceEndpointPolicy1' under resource group 'ps1630' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/serviceEndpointPolicies/ServiceEndpointPolicy1?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"1c94e545-cb84-4217-96a5-3f2e7578119a\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11981"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ServiceEndpointPolicy1\",\r\n  \"id\": \"/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/serviceEndpointPolicies/ServiceEndpointPolicy1\",\r\n  \"etag\": \"W/\\\"1c94e545-cb84-4217-96a5-3f2e7578119a\\\"\",\r\n  \"type\": \"Microsoft.Network/serviceEndpointPolicies\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"7ed820cc-7b1d-40b6-8b23-d0c1b68bdf4b\",\r\n    \"serviceEndpointPolicyDefinitions\": [\r\n      {\r\n        \"name\": \"ServiceEndpointPolicyDefinition1\",\r\n        \"id\": \"/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/serviceEndpointPolicies/ServiceEndpointPolicy1/serviceEndpointPolicyDefinitions/ServiceEndpointPolicyDefinition1\",\r\n        \"etag\": \"W/\\\"1c94e545-cb84-4217-96a5-3f2e7578119a\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"service\": \"Microsoft.Storage\",\r\n          \"description\": \"New Policy\",\r\n          \"serviceResources\": [\r\n            \"/subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount\"\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/serviceEndpointPolicies/serviceEndpointPolicyDefinitions\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/serviceEndpointPolicies/ServiceEndpointPolicy1?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"Resource /subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/serviceEndpointPolicies/ServiceEndpointPolicy1 not found.\",\r\n    \"details\": []\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/serviceEndpointPolicies/ServiceEndpointPolicy1?api-version=2019-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"serviceEndpointPolicyDefinitions\": [\r\n      {\r\n        \"properties\": {\r\n          \"description\": \"New Policy\",\r\n          \"service\": \"Microsoft.Storage\",\r\n          \"serviceResources\": [\r\n            \"/subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount\"\r\n          ]\r\n        },\r\n        \"name\": \"ServiceEndpointPolicyDefinition1\"\r\n      }\r\n    ]\r\n  },\r\n  \"location\": \"West Central US\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/providers/Microsoft.Network/locations/westcentralus/operations/c2294048-90ce-4859-99e8-dd42b0c22acb?api-version=2019-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ServiceEndpointPolicy1\",\r\n  \"id\": \"/subscription[...]
[...]
    {
      "RequestUri": "/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/providers/Microsoft.Network/locations/westcentralus/operations/c2294048-90ce-4859-99e8-dd42b0c22acb?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11982"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/serviceEndpointPolicies?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11981"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ServiceEndpointPolicy1\",\r\n      \"id\": \"/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/serviceEndpointPolicies/ServiceEndpointPolicy1\",\r\n      \"etag\": \"W/\\\"1c94e545-cb84-4217-96a5-3f2e7578119a\\\"\",\r\n      \"type\": \"Microsoft.Network/serviceEndpointPolicies\",\r\n      \"location\": \"westcentralus\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succe[...]
    {
      "RequestUri": "/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/providers/Microsoft.Network/ServiceEndpointPolicies?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "bfafee07-eff9-4ff3-b8ac-c3eba4209e85",
          "6277dcb7-4e8c-48b2-b194-698008a74069"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ServiceEndpointPolicy1\",\r\n      \"id\": \"/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.[...]
[...]
    {
      "RequestUri": "/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/virtualNetworks/ps9291?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps9291' under resource group 'ps1630' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/virtualNetworks/ps9291?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"63fe1cf2-ca26-46bb-adbe-b52d2276d428\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11990"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps9291\",\r\n  \"id\": \"/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/virtualNetworks/ps9291\",\r\n  \"etag\": \"W/\\\"63fe1cf2-ca26-46bb-adbe-b52d2276d428\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"5cb8a72e-da0c-48b5-a035-2d7fe583814c\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps8688\",\r\n        \"id\": \"/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/virtualNetworks/ps9291/subnets/ps8688\",\r\n        \"etag\": \"W/\\\"63fe1cf2-ca26-46bb-adbe-b52d2276d428\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"serviceEndpointPolicies\": [\r\n            {\r\n              \"id\": \"/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/serviceEndpointPolicies/ServiceEndpointPolicy1\"\r\n            }\r\n          ],\r\n          \"serviceEndpoints\": [\r\n            {\r\n              \"provisioningState\": \"Succeeded\",\r\n              \"service\": \"Microsoft.Storage\",\r\n              \"locations\": [\r\n                \"westcentralus\",\r\n                \"westus2\"\r\n              ]\r\n            }\r\n          ],\r\n          \"delegations\": []\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/virtualNetworks/ps9291?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"b04d8d3a-aeba-4ce0-a6b5-50513a0820c6\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps9291\",\r\n  \"id\": \"/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/virtualNetworks/ps9291\",\r\n  \"etag\": \"W/\\\"b04d8d3a-aeba-4ce0-a6b5-50513a0820c6\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"5cb8a72e-da0c-48b5-a035-2d7fe583814c\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps8688\",\r\n        \"id\": \"/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/virtualNetworks/ps9291/subnets/ps8688\",\r\n        \"etag\": \"W/\\\"b04d8d3a-aeba-4ce0-a6b5-50513a0820c6\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": []\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/virtualNetworks/ps9291?api-version=2019-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"resourceNavigationLinks\": [],\r\n          \"serviceAssociationLinks\": [],\r\n          \"delegations\": [],\r\n          \"provisioningState\": \"Succeeded\"\r\n        },\r\n        \"name\": \"ps8688\",\r\n        \"etag\": \"W/\\\"63fe1cf2-ca26-46bb-adbe-b52d2276d428\\\"\",\r\n        \"id\": \"/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/virtualNetworks/ps9291/subnets/ps8688\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"resourceGuid\": \"5cb8a72e-da0c-48b5-a035-2d7fe583814c\",\r[...]
[...]
    {
      "RequestUri": "/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/resourceGroups/ps1630/providers/Microsoft.Network/serviceEndpointPolicies/ServiceEndpointPolicy1?api-version=2019-04-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/providers/Microsoft.Network/locations/westcentralus/operationResults/3d703ecf-3cd9-4a9e-94f0-03cc52439f2c?api-version=2019-04-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/providers/Microsoft.Network/locations/westcentralus/operations/3d703ecf-3cd9-4a9e-94f0-03cc52439f2c?api-version=2019-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/providers/Microsoft.Network/locations/westcentralus/operationResults/3d703ecf-3cd9-4a9e-94f0-03cc52439f2c?api-version=2019-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/providers/Microsoft.Network/locations/westcentralus/operationResults/3d703ecf-3cd9-4a9e-94f0-03cc52439f2c?api-version=2019-04-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/providers/Microsoft.Network/locations/westcentralus/operations/3d703ecf-3cd9-4a9e-94f0-03cc52439f2c?api-version=2019-04-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzE2MzAtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzE2MzAtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11987"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/8c1389f9-2300-496d-bc82-8fcc65ef6f5d/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzE2MzAtV0VTVENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoid2VzdGNlbnRyYWx1cyJ9?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11980"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-VirtualNetworkSubnetServiceEndpointPolicies": [
      "ps1630",
      "ps9291",
      "ps8688",
      "ps5653"
    ]
  },
  "Variables": {
    "SubscriptionId": "8c1389f9-2300-496d-bc82-8fcc65ef6f5d"
  }
}