{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/resourcegroups/ps7714?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/resourceGroups/ps7714\",\r\n  \"name\": \"ps7714\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/resourceGroups/ps7714/providers/Microsoft.Network/networkSecurityGroups/ps4664?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/networkSecurityGroups/ps4664' under resource group 'ps7714' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/resourceGroups/ps7714/providers/Microsoft.Network/networkSecurityGroups/ps4664?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"aa0a7399-22ab-468f-ac6c-829c0ee002ce\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps4664\",\r\n  \"id\": \"/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/resourceGroups/ps7714/providers/Microsoft.Network/networkSecurityGroups/ps4664\",\r\n  \"etag\": \"W/\\\"aa0a7399-22ab-468f-ac6c-829c0ee002ce\\\"\",\r\n  \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"2d2a9ea1-248d-4953-be45-f57dd34a7e5d\",\r\n    \"securityRules\": [],\r\n    \"defaultSecurityRules\": [\r\n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/resourceGroups/ps7714/providers/Microsoft.Network/networkSecurityGroups/ps4664/defaultSecurityRules/AllowVnetInBound\",\r\n        \"etag\": \"W/\\\"aa0a7399-22ab-468f-ac6c-829c0ee002ce\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\",\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\": \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\n        \"id\": \"/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/resourceGroups/ps7714/providers/Microsoft.Network/networkSecurityGroups/ps4664/defaultSecurityRules/AllowAzureLoadBalancerInBound\",\r\n        \"etag\": \"W/\\\"aa0a7399-22ab-468f-ac6c-829c0ee002ce\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n        \"properties\": {\r\n      [...]
[...]
    {
      "RequestUri": "/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/resourceGroups/ps7714/providers/Microsoft.Network/networkSecurityGroups/ps4664?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"securityRules\": [],\r\n    \"defaultSecurityRules\": []\r\n  },\r\n  \"location\": \"westus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/providers/Microsoft.Network/locations/westus/operations/b2ce75fc-e966-4cf3-9a35-25ec307595fc?api-version=2019-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps4664\",\r\n  \"id\": \"/subscriptions/0140911e-1040-48da-8b[...]
    {
      "RequestUri": "/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/providers/Microsoft.Network/locations/westus/operations/b2ce75fc-e966-4cf3-9a35-25ec307595fc?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/resourceGroups/ps7714/providers/Microsoft.Network/virtualNetworks/ps2286?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps2286' under resource group 'ps7714' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/resourceGroups/ps7714/providers/Microsoft.Network/virtualNetworks/ps2286?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"fbf6caf2-e78f-453a-9c16-ece63e70f0fe\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps2286\",\r\n  \"id\": \"/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/resourceGroups/ps7714/providers/Microsoft.Network/virtualNetworks/ps2286\",\r\n  \"etag\": \"W/\\\"fbf6caf2-e78f-453a-9c16-ece63e70f0fe\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"22c8501e-1022-4dd7-a9dd-bf3c42b5155e\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"ps1412\",\r\n        \"id\": \"/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/resourceGroups/ps7714/providers/Microsoft.Network/virtualNetworks/ps2286/subnets/ps1412\",\r\n        \"etag\": \"W/\\\"fbf6caf2-e78f-453a-9c16-ece63e70f0fe\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"networkSecurityGroup\": {\r\n            \"id\": \"/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/resourceGroups/ps7714/providers/Microsoft.Network/networkSecurityGroups/ps4664\"\r\n          },\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [\r\n            {\r\n              \"name\": \"adbDelegation\",\r\n              \"id\": \"/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/resourceGroups/ps7714/providers/Microsoft.Network/virtualNetworks/ps2286/subnets/ps1412/delegations/adbDelegation\",\r\n              \"etag\": \"W/\\\"fbf6caf2-e78f-453a-9c16-ece63e70f0fe\\\"\",\r\n              \"properties\": {\r\n                \"provisioningState\": \"Succeeded\",\r\n                \"serviceName\": \"Microsoft.Databricks/workspaces\",\r\n                \"actions\": [\r\n                  \"Microsoft.Network/virtualNetworks/subnets/join/action\",\r\n                  \"Microsoft.Network/virtualNetworks/subnets/prepareNetworkPolicies/action\"\r\n                ]\r\n              },\r\n              \"type\": \"Microsoft.Network/virtualNetworks/subnets/delegations\"\r\n            }\r\n          ],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/resourceGroups/ps7714/providers/Microsoft.Network/virtualNetworks/ps2286?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.1.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"networkSecurityGroup\": {\r\n            \"properties\": {\r\n              \"securityRules\": [],\r\n              \"defaultSecurityRules\": []\r\n            },\r\n            \"id\": \"/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/resourceGroups/ps7714/providers/Microsoft.Network/networkSecurityGroups/ps4664\",\r\n            \"tags\": {}\r\n          },\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"resourceNavigationLinks\": [],\r\n          \"serviceAssociationLinks\": [],\r\n          \"delegations\": [\r\n            {\r\n              \"properties\": {\r\n                \"serviceName\": \"Microsoft.Databricks/workspaces\",\r\n                \"actions\": []\r\n              },\r\n              \"name\": \"adbDelegation\"\r\n            }\r\n          ],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"ps1412\"\r\n      }\r\n    ],\r\n    \"vir[...]
[...]
    {
      "RequestUri": "/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/resourceGroups/ps7714/providers/Microsoft.Network/virtualNetworks/ps2286/subnets/ps1412/PrepareNetworkPolicies?api-version=2019-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"serviceName\": \"Microsoft.Databricks/workspaces\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/providers/Microsoft.Network/locations/westus/operationResults/2e46b786-4c50-47bc-bd49-384ac8671b6e?api-version=2019-06-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/providers/Microsoft.Network/locations/westus/operations/2e46b786-4c50-47bc-bd49-384ac8671b6e?api-version=2019-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/providers/Microsoft.Network/locations/westus/operationResults/2e46b786-4c50-47bc-bd49-384ac8671b6e?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/providers/Microsoft.Network/locations/westus/operationResults/2e46b786-4c50-47bc-bd49-384ac8671b6e?api-version=2019-06-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/providers/Microsoft.Network/locations/westus/operations/2e46b786-4c50-47bc-bd49-384ac8671b6e?api-version=2019-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/resourceGroups/ps7714/providers/Microsoft.Network/virtualNetworks/ps2286/subnets/ps1412/UnprepareNetworkPolicies?api-version=2019-06-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"serviceName\": \"Microsoft.Databricks/workspaces\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/providers/Microsoft.Network/locations/westus/operationResults/d570e6a2-2d63-4b70-aa87-9970b0179bc0?api-version=2019-06-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/providers/Microsoft.Network/locations/westus/operations/d570e6a2-2d63-4b70-aa87-9970b0179bc0?api-version=2019-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzc3MTQtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzc3MTQtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/0140911e-1040-48da-8bc9-b99fb3dd88a6/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzc3MTQtRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-ResetAzVirtualNetworkSubnetPolicy": [
      "ps7714",
      "ps2286",
      "ps1412",
      "ps4664"
    ]
  },
  "Variables": {
    "SubscriptionId": "0140911e-1040-48da-8bc9-b99fb3dd88a6"
  }
}