{
  "New-AzResourceGraphQuery+[NoContext]+CreateExpandedByQuery+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/resourcegraph-rg-/providers/microsoft.resourcegraph/queries/query-fdbjcl?api-version=2018-09-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/resourcegraph-rg-/providers/microsoft.resourcegraph/queries/query-fdbjcl?api-version=2018-09-01-preview",
      "Content": "{\r\n  \"location\": \"global\",\r\n  \"properties\": {\r\n    \"description\": \"requesting a subset of resource fields.\",\r\n    \"query\": \"project id, name, type, location, tags\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-resource-requests": [ "1" ],
        "x-ms-user-quota-remaining": [ "1" ],
        "x-ms-user-quota-resets-after": [ "00:00:00" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1197" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"resultKind\":\"UnKnown\",\"timeModified\":\"2020-10-27T07:17:46.2137714Z\",\"query\":\"project id, name, type, location, tags\",\"description\":\"requesting a subset of resource fields.\"},\"type\":\"microsoft.resourcegraph/queries\",\"location\":\"global\",\"subscriptionId\":\"9e223dbe-3399-4e19-88eb-0975f02ac87f\",\"resourceGroup\":\"resourcegraph-rg-\",\"name\":\"query-fdbjcl\",\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/resourcegraph-rg-/providers/microsoft.resourcegraph/queries/query-fdbjcl\",\"etag\":\"\\\"f600672c-0000-0d00-0000-5f97c99a0000\\\"\"}"
    }
  },
  "New-AzResourceGraphQuery+[NoContext]+CreateExpandedByFile+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/resourcegraph-rg-/providers/microsoft.resourcegraph/queries/query-wzje76?api-version=2018-09-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/resourcegra[...]
