{
  "Update-AzResourceGraphQuery+[NoContext]+UpdateExpanded+$PATCH+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/resourcegraph-rg-/providers/microsoft.resourcegraph/queries/query-ikqyf4?api-version=2024-04-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/resourcegraph-rg-/providers/microsoft.resourcegraph/queries/query-ikqyf4?api-version=2024-04-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"query\": \"project id, name, type, location\"\r\n  },\r\n  \"tags\": {\r\n    \"key1\": \"1\",\r\n    \"key3\": \"3\",\r\n    \"key2\": \"2\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-resource-requests": [ "1" ],
        "x-ms-user-quota-remaining": [ "1" ],
        "x-ms-user-quota-resets-after": [ "00:00:00" ],
        "x-ms-resource-graph-request-duration": [ "0:00:00:00.1111613" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "799" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"resultKind\":\"UnKnown\",\"timeModified\":\"2025-02-08T01:15:19.5926837Z\",\"query\":\"project id, name, type, location\",\"description\":\"requesting a subset of resource fields.\"},\"type\":\"microsoft.resourcegraph/queries\",\"location\":\"global\",\"subscriptionId\":\"9e223dbe-3399-4e19-88eb-0975f02ac87f\",\"resourceGroup\":\"resourcegraph-rg-\",\"name\":\"query-ikqyf4\",\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/resourcegraph-rg-/providers/microsoft.resourcegraph/queries/query-ikqyf4\",\"tags\":{\"key1\":\"1\",\"key3\":\"3\",\"key2\":\"2\"},\"etag\":\"\\\"0301dc89-0000-1800-0000-67a6b0270000\\\"\"}",
    }
  },
  "Update-AzResourceGraphQuery+[NoContext]+UpdateViaIdentityExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/resourcegraph-rg-/providers/microsoft.resourcegraph/queries/query-pl8t5b?api-version=2024-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/resourcegraph-rg-/providers/microsoft.resourcegraph/queries/query-pl8t5b?api-version=2024-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "16" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-resource-requests": [ "1" ],
        "x-ms-user-quota-remaining": [ "1" ],
        "x-ms-user-quota-resets-after": [ "00:00:00" ],
        "x-ms-resource-graph-request-duration": [ "0:00:00:00.0034188" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-rea[...]
