{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resources?$filter=resourceType%20eq%20'Microsoft.Batch%2FbatchAccounts'&api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests\",\r\n      \"name\": \"pstests\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"eastus\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14951"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests?api-version=2015-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-07-01"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pstests\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"accountEndpoint\": \"pstests.batch.core.windows.net\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests\",\r\n  \"type\": \"Microsoft.Batch/batchAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Thu, 09 Jul 2015 19:08:20 GMT"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14959"
        ],
        "ETag": [
          "0x8D28891C15000DE"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests/listKeys?api-version=2015-07-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-07-01"
        ]
      },
      "ResponseBody": "{\r\n  \"accountName\": \"pstests\",\r\n  \"primary\": \"LvTRVrhrb0mV/DvM55d7NT36RpCLXka/hrZSZQnNKlfV8nxzU0ChDAxrILper4n3AndEtMgyxW404JKkGodXFA==\",\r\n  \"secondary\": \"Lc37R3wawurI2u8oLu6pblhfYBW7S6770vbeqnUQJX87kT7R5hEFq2IlEfowvQ+rO3K0frlfFNlyiL/rkaYnFw==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1183"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/testPool/tvms?api-version=2014-10-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Thu, 09 Jul 2015 19:08:20 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstests.batch.core.windows.net/$metadata#tvms\",\r\n  \"value\": [\r\n    {\r\n      \"name\": \"tvm-4155946844_1-20150709t190321z\",\r\n      \"url\": \"https://pstests.batch.core.windows.net/pools/testPool/tvms/tvm-4155946844_1-20150709t190321z\",\r\n      \"state\": \"starting\",\r\n      \"stateTransitionTime\": \"2015-07-09T19:05:21.2458155Z\",\r\n      \"tvmAllocationTime\": \"2015-07-09T19:03:21.1746171Z\",\r\n      \"ipAddress\": \"10.76.28.116\",\r\n      \"affinityId\": \"TVM:tvm-4155946844_1-20150709t190321z\",\r\n      \"tvmSize\": \"small\",\r\n      \"totalTasksRun\": 0\r\n    },\r\n    {\r\n      \"name\": \"tvm-4155946844_2-20150709t190321z\",\r\n      \"url\": \"https://pstests.batch.core.windows.net/pools/testPool/tvms/tvm-4155946844_2-20150709t190321z\",\r\n      \"state\": \"idle\",\r\n      \"stateTransitionTime\": \"2015-07-09T19:08:05.7418843Z\",\r\n      \"lastBootTime\": \"2015-07-09T19:08:05.6548918Z\",\r\n      \"tvmAllocationTime\": \"2015-07-09T19:03:21.1746171Z\",\r\n      \"ipAddress\": \"10.76.16.79\",\r\n      \"affinityId\": \"TVM:tvm-4155946844_2-20150709t190321z\",\r\n      \"tvmSize\": \"small\",\r\n      \"totalTasksRun\": 0,\r\n      \"startTask\": {\r\n        \"commandLine\": \"cmd /c echo hello\",\r\n        \"runElevated\": false,\r\n        \"maxTaskRetryCount\": 0,\r\n        \"waitForSuccess\": false\r\n      },\r\n      \"startTaskInfo\": {\r\n        \"state\": \"completed\",\r\n        \"startTime\": \"2015-07-09T19:08:05.773026Z\",\r\n        \"endTime\": \"2015-07-09T19:08:06.6520273Z\",\r\n        \"exitCode\": 0,\r\n        \"retryCount\": 0\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"tvm-4155946844_3-20150709t190321z\",\r\n      \"url\": \"https://pstests.batch.core.windows.net/pools/testPool/tvms/tvm-4155946844_3-20150709t190321z\",\r\n      \"state\": \"idle\",\r\n      \"stateTransitionTime\": \"2015-07-09T19:08:05.6824444Z\",\r\n      \"lastBootTime\": \"2015-07-09T19:08:05.603148Z\",\r\n      \"tvmAllocationTime\": \"2015-07-09T19:03:21.1746171Z\",\r\n      \"ipAddress\": \"10.76.12.86\",\r\n      \"affinityId\": \"TVM:tvm-4155946844_3-20150709t190321z\",\r\n      \"tvmSize\": \"small\",\r\n      \"totalTasksRun\": 0,\r\n      \"startTask\": {\r\n        \"commandLine\": \"cmd /c echo hello\",\r\n        \"runElevated\": false,\r\n        \"maxTaskRetryCount\": 0,\r\n        \"waitForSuccess\": false\r\n      },\r\n      \"startTaskInfo\": {\r\n        \"state\": \"completed\",\r\n        \"startTime\": \"2015-07-09T19:08:05.7094503Z\",\r\n        \"endTime\": \"2015-07-09T19:08:06.6014509Z\",\r\n        \"exitCode\": 0,\r\n        \"retryCount\": 0\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/testPool/tvms/tvm-4155946844_1-20150709t190321z?api-version=2014-10-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Thu, 09 Jul 2015 19:08:20 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstests.batch.core.windows.net/$metadata#tvms/@Element\",\r\n  \"name\": \"tvm-4155946844_1-20150709t190321z\",\r\n  \"url\": \"https://pstests.batch.core.windows.net/pools/testPool/tvms/tvm-4155946844_1-20150709t190321z\",\r\n  \"state\": \"starting\",\r\n  \"stateTransitionTime\": \"2015-07-09T19:05:21.2458155Z\",\r\n  \"tvmAllocationTime\": \"2015-07-09T19:03:21.1746171Z\",\r\n  \"ipAddress\": \"10.76.28.116\",\r\n  \"affinityId\": \"TVM:tvm-4155946844_1-20150709t190321z\",\r\n  \"tvmSize\": \"small\",\r\n  \"totalTasksRun\": 0\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/testPool/tvms/tvm-4155946844_1-20150709t190321z?api-version=2014-10-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Thu, 09 Jul 2015 19:08:21 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstests.batch.core.windows.net/$metadata#tvms/@Element\",\r\n  \"name\": \"tvm-4155946844_1-20150709t190321z\",\r\n  \"url\": \"https://pstests.batch.core.windows.net/pools/testPool/tvms/tvm-4155946844_1-20150709t190321z\",\r\n  \"state\": \"starting\",\r\n  \"stateTransitionTime\": \"2015-07-09T19:05:21.2458155Z\",\r\n  \"tvmAllocationTime\": \"2015-07-09T19:03:21.1746171Z\",\r\n  \"ipAddress\": \"10.76.28.116\",\r\n  \"affinityId\": \"TVM:tvm-4155946844_1-20150709t190321z\",\r\n  \"tvmSize\": \"small\",\r\n  \"totalTasksRun\": 0\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "6368ed38-3570-481f-b4fa-1d0a6e8d3f3b"
  }
}