{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resources?$filter=resourceType%20eq%20'Microsoft.Batch%2FbatchAccounts'&api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests\",\r\n      \"name\": \"pstests\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"eastus\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14952"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests?api-version=2015-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-07-01"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pstests\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"accountEndpoint\": \"pstests.batch.core.windows.net\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests\",\r\n  \"type\": \"Microsoft.Batch/batchAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Thu, 09 Jul 2015 19:07:55 GMT"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14960"
        ],
        "ETag": [
          "0x8D28891B20D255A"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests/listKeys?api-version=2015-07-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-07-01"
        ]
      },
      "ResponseBody": "{\r\n  \"accountName\": \"pstests\",\r\n  \"primary\": \"LvTRVrhrb0mV/DvM55d7NT36RpCLXka/hrZSZQnNKlfV8nxzU0ChDAxrILper4n3AndEtMgyxW404JKkGodXFA==\",\r\n  \"secondary\": \"Lc37R3wawurI2u8oLu6pblhfYBW7S6770vbeqnUQJX87kT7R5hEFq2IlEfowvQ+rO3K0frlfFNlyiL/rkaYnFw==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1184"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/testPool/tvms?api-version=2014-10-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Thu, 09 Jul 2015 19:07:54 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstests.batch.core.windows.net/$metadata#tvms\",\r\n  \"value\": [\r\n    {\r\n      \"name\": \"tvm-4155946844_1-20150709t190321z\",\r\n      \"url\": \"https://pstests.batch.core.windows.net/pools/testPool/tvms/tvm-4155946844_1-20150709t190321z\",\r\n      \"state\": \"starting\",\r\n      \"stateTransitionTime\": \"2015-07-09T19:05:21.2458155Z\",\r\n      \"tvmAllocationTime\": \"2015-07-09T19:03:21.1746171Z\",\r\n      \"ipAddress\": \"10.76.28.116\",\r\n      \"affinityId\": \"TVM:tvm-4155946844_1-20150709t190321z\",\r\n      \"tvmSize\": \"small\",\r\n      \"totalTasksRun\": 0\r\n    },\r\n    {\r\n      \"name\": \"tvm-4155946844_2-20150709t190321z\",\r\n      \"url\": \"https://pstests.batch.core.windows.net/pools/testPool/tvms/tvm-4155946844_2-20150709t190321z\",\r\n      \"state\": \"starting\",\r\n      \"stateTransitionTime\": \"2015-07-09T19:04:51.2463856Z\",\r\n      \"tvmAllocationTime\": \"2015-07-09T19:03:21.1746171Z\",\r\n      \"ipAddress\": \"10.76.16.79\",\r\n      \"affinityId\": \"TVM:tvm-4155946844_2-20150709t190321z\",\r\n      \"tvmSize\": \"small\",\r\n      \"totalTasksRun\": 0\r\n    },\r\n    {\r\n      \"name\": \"tvm-4155946844_3-20150709t190321z\",\r\n      \"url\": \"https://pstests.batch.core.windows.net/pools/testPool/tvms/tvm-4155946844_3-20150709t190321z\",\r\n      \"state\": \"starting\",\r\n      \"stateTransitionTime\": \"2015-07-09T19:04:51.299389Z\",\r\n      \"tvmAllocationTime\": \"2015-07-09T19:03:21.1746171Z\",\r\n      \"ipAddress\": \"10.76.12.86\",\r\n      \"affinityId\": \"TVM:tvm-4155946844_3-20150709t190321z\",\r\n      \"tvmSize\": \"small\",\r\n      \"totalTasksRun\": 0\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/testPool?api-version=2014-10-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Thu, 09 Jul 2015 19:07:55 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstests.batch.core.windows.net/$metadata#pools/@Element\",\r\n  \"name\": \"testPool\",\r\n  \"url\": \"https://pstests.batch.core.windows.net/pools/testPool\",\r\n  \"eTag\": \"0x8D28890DD2FCEE8\",\r\n  \"lastModified\": \"2015-07-09T19:01:58.0227304Z\",\r\n  \"creationTime\": \"2015-07-09T19:01:58.0227304Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2015-07-09T19:01:58.0227304Z\",\r\n  \"allocationState\": \"steady\",\r\n  \"allocationStateTransitionTime\": \"2015-07-09T19:03:22.4082136Z\",\r\n  \"osFamily\": \"4\",\r\n  \"targetOSVersion\": \"*\",\r\n  \"currentOSVersion\": \"*\",\r\n  \"tvmSize\": \"small\",\r\n  \"resizeTimeout\": \"PT5M\",\r\n  \"currentDedicated\": 3,\r\n  \"targetDedicated\": 3,\r\n  \"enableAutoScale\": false,\r\n  \"communication\": false,\r\n  \"startTask\": {\r\n    \"commandLine\": \"cmd /c echo hello\",\r\n    \"runElevated\": false,\r\n    \"maxTaskRetryCount\": 0,\r\n    \"waitForSuccess\": false\r\n  },\r\n  \"maxTasksPerTVM\": 1,\r\n  \"schedulingPolicy\": {\r\n    \"tvmFillType\": \"Spread\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Thu, 09 Jul 2015 19:01:58 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D28890DD2FCEE8"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "6368ed38-3570-481f-b4fa-1d0a6e8d3f3b"
  }
}