{
  "Entries": [
    {
      "RequestUri": "/subscriptions/22e614a1-bbb9-4692-acc9-e5c8e9b22b7e/resources?$filter=resourceType%20eq%20'Microsoft.Batch%2FbatchAccounts'&api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/22e614a1-bbb9-4692-acc9-e5c8e9b22b7e/resourceGroups/cmdletexample/providers/Microsoft.Batch/batchAccounts/cmdletexample\",\r\n      \"name\": \"cmdletexample\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"westus\",\r\n      \"tags\": {\r\n        \"tag1\": \"value1\",\r\n        \"tag2\": \"value2\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/22e614a1-bbb9-4692-acc9-e5c8e9b22b7e/resourceGroups/tests/providers/Microsoft.Batch/batchAccounts/filetests\",\r\n      \"name\": \"filetests\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"westus\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/22e614a1-bbb9-4692-acc9-e5c8e9b22b7e/resourceGroups/tests/providers/Microsoft.Batch/batchAccounts/vmtests\",\r\n      \"name\": \"vmtests\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"westus\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31993"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/22e614a1-bbb9-4692-acc9-e5c8e9b22b7e/resourceGroups/tests/providers/Microsoft.Batch/batchAccounts/vmtests?api-version=2014-05-01-privatepreview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01-privatepreview"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"vmtests\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"accountEndpoint\": \"vmtests.batch-test.windows-int.net\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/22e614a1-bbb9-4692-acc9-e5c8e9b22b7e/resourceGroups/tests/providers/Microsoft.Batch/batchAccounts/vmtests\",\r\n  \"type\": \"Microsoft.Batch/batchAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Tue, 31 Mar 2015 20:01:29 GMT"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31992"
        ],
        "ETag": [
          "0x8D23A049C8F5080"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/22e614a1-bbb9-4692-acc9-e5c8e9b22b7e/resourceGroups/tests/providers/Microsoft.Batch/batchAccounts/vmtests/listKeys?api-version=2014-05-01-privatepreview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-01-privatepreview"
        ]
      },
      "ResponseBody": "{\r\n  \"accountName\": \"vmtests\",\r\n  \"primary\": \"Q3qH/tNRG6f8IWCxnJnlOt/RWKp6IxlULHwHuT0Dpjrj5Q3JbIfh35ilSKLO9goKaG9ML2Xl//xyg5dAyjPwXQ==\",\r\n  \"secondary\": \"C4qco6CRJmOtPm+NZuJ1mejaE60cRvWiczMiI5YkVP0W7ZAeV/jh0vHzd6YF7MZCirT4lKUwIi7RVeN7ZxX3TQ==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/pools/testPool/tvms?api-version=2014-10-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Tue, 31 Mar 2015 20:01:29 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://vmtests.batch-test.windows-int.net/$metadata#tvms\",\r\n  \"value\": [\r\n    {\r\n      \"name\": \"tvm-1900272697_1-20150331t180155z\",\r\n      \"url\": \"https://vmtests.batch-test.windows-int.net/pools/testPool/tvms/tvm-1900272697_1-20150331t180155z\",\r\n      \"state\": \"idle\",\r\n      \"stateTransitionTime\": \"2015-03-31T18:08:20.6560023Z\",\r\n      \"lastBootTime\": \"2015-03-31T18:08:20.513005Z\",\r\n      \"tvmAllocationTime\": \"2015-03-31T18:01:55.4609252Z\",\r\n      \"ipAddress\": \"10.78.118.52\",\r\n      \"affinityId\": \"TVM:tvm-1900272697_1-20150331t180155z\",\r\n      \"tvmSize\": \"small\",\r\n      \"totalTasksRun\": 0\r\n    },\r\n    {\r\n      \"name\": \"tvm-1900272697_2-20150331t180155z\",\r\n      \"url\": \"https://vmtests.batch-test.windows-int.net/pools/testPool/tvms/tvm-1900272697_2-20150331t180155z\",\r\n      \"state\": \"idle\",\r\n      \"stateTransitionTime\": \"2015-03-31T18:06:59.524712Z\",\r\n      \"lastBootTime\": \"2015-03-31T18:06:59.3577122Z\",\r\n      \"tvmAllocationTime\": \"2015-03-31T18:01:55.4609252Z\",\r\n      \"ipAddress\": \"10.78.162.115\",\r\n      \"affinityId\": \"TVM:tvm-1900272697_2-20150331t180155z\",\r\n      \"tvmSize\": \"small\",\r\n      \"totalTasksRun\": 0\r\n    },\r\n    {\r\n      \"name\": \"tvm-1900272697_3-20150331t180155z\",\r\n      \"url\": \"https://vmtests.batch-test.windows-int.net/pools/testPool/tvms/tvm-1900272697_3-20150331t180155z\",\r\n      \"state\": \"idle\",\r\n      \"stateTransitionTime\": \"2015-03-31T18:08:00.7874676Z\",\r\n      \"lastBootTime\": \"2015-03-31T18:08:00.3784638Z\",\r\n      \"tvmAllocationTime\": \"2015-03-31T18:01:55.4609252Z\",\r\n      \"ipAddress\": \"10.78.110.48\",\r\n      \"affinityId\": \"TVM:tvm-1900272697_3-20150331t180155z\",\r\n      \"tvmSize\": \"small\",\r\n      \"totalTasksRun\": 0\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/pools/testPool?api-version=2014-10-01.1.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "return-client-request-id": [
          "False"
        ],
        "ocp-date": [
          "Tue, 31 Mar 2015 20:01:30 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://vmtests.batch-test.windows-int.net/$metadata#pools/@Element\",\r\n  \"name\": \"testPool\",\r\n  \"url\": \"https://vmtests.batch-test.windows-int.net/pools/testPool\",\r\n  \"eTag\": \"0x8D239F3C1ACE69C\",\r\n  \"lastModified\": \"2015-03-31T18:00:50.1831324Z\",\r\n  \"creationTime\": \"2015-03-31T18:00:50.1831324Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2015-03-31T18:00:50.1831324Z\",\r\n  \"allocationState\": \"steady\",\r\n  \"allocationStateTransitionTime\": \"2015-03-31T18:01:54.9119282Z\",\r\n  \"osFamily\": \"4\",\r\n  \"targetOSVersion\": \"*\",\r\n  \"currentOSVersion\": \"*\",\r\n  \"tvmSize\": \"small\",\r\n  \"resizeTimeout\": \"PT5M\",\r\n  \"currentDedicated\": 3,\r\n  \"targetDedicated\": 3,\r\n  \"enableAutoScale\": false,\r\n  \"communication\": false,\r\n  \"maxTasksPerTVM\": 1,\r\n  \"schedulingPolicy\": {\r\n    \"tvmFillType\": \"Spread\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Tue, 31 Mar 2015 18:00:50 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D239F3C1ACE69C"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "22e614a1-bbb9-4692-acc9-e5c8e9b22b7e"
  }
}