{
  "AzKubernetesConfigurationFlux+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroupe5k4zq/providers/Microsoft.Kubernetes/ConnectedClusters/jq6oac/providers/Microsoft.KubernetesConfiguration/extensions/flux?api-version=2022-11-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroupe5k4zq/providers/Microsoft.Kubernetes/ConnectedClusters/jq6oac/providers/Microsoft.KubernetesConfiguration/extensions/flux?api-version=2022-11-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"scope\": {\r\n      \"cluster\": {\r\n        \"releaseNamespace\": \"flux-system\"\r\n      }\r\n    },\r\n    \"extensionType\": \"microsoft.flux\",\r\n    \"autoUpgradeMinorVersion\": true\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Location": [ "https://eastus.rp.kubernetesconfiguration.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroupe5k4zq/providers/Microsoft.Kubernetes/ConnectedClusters/jq6oac/providers/Microsoft.KubernetesConfiguration/extensions/flux" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1195" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroupe5k4zq/providers/Microsoft.Kubernetes/ConnectedClusters/jq6oac/providers/Microsoft.KubernetesConfiguration/extensions/flux/operations/30789bff-0549-40b1-858b-4380bb62f604?api-Version=2022-11-01" ],
        "api-supported-versions": [ "2022-11-01, 2023-02-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroupe5k4zq/providers/Microsoft.Kubernetes/ConnectedClusters/jq6oac/providers/Microsoft.KubernetesConfiguration/extensions/flux\",\"name\":\"flux\",\"type\":\"Microsoft.KubernetesConfiguration/extensions\",\"properties\":{\"extensionType\":\"microsoft.flux\",\"autoUpgradeMinorVersion\":true,\"releaseTrain\":\"Stable\",\"version\":null,\"currentVersion\":null,\"scope\":{\"cluster\":{\"releaseNamespace\":\"flux-system\"}},\"provisioningState\":\"Creating\",\"configurationSettings\":{},\"configurationProtectedSettings\":{},\"statuses\":[],\"aksAssignedIdentity\":null,\"isSystemExtension\":false},\"systemData\":{\"createdBy\":null,\"createdByType\":null,\"createdAt\":\"2023-03-15T06:58:23.5145132+00:00\",\"lastModifiedBy\":null,\"lastModifiedByType\":null,\"lastModifiedAt\":\"2023-03-15T06:58:23.5145132+00:00\"},\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"4ff89cb1-76c8-4c27-b3fe-52385a318fbe\"}}",
    }
  },
  "AzKubernetesConfigurationFlux+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroupe5k4zq/providers/Microsoft.Kubernetes/ConnectedClusters/jq6oac/providers/Microsoft.KubernetesConfiguration/extensions/flux/operations/30789bff-0549-40b1-858b-4380bb62f604?api-Version=2022-11-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroupe5k4zq/providers/Microsoft.Kubernetes/ConnectedClusters/jq6oac/providers/Microsoft.KubernetesConfiguration/extensions/flux/operations/30789bff-0549-40b1-858b-4380bb62f604?api-Version=2022-11-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "19" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11990" ],
        "api-supported-versions": [ "2019-11-01-Preview, 2021-05-01-preview, 2021-06-01-preview, 2021-09-01, 2021-11-01-preview, 2022-01-01-preview, 2022-03-01, 2022-04-02-preview, 2022-07-01, 2022-11-01, 2023-02-01" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroupe5k4zq/providers/Microsoft.Kubernetes/ConnectedClusters/jq6oac/providers/Microsoft.KubernetesConfiguration/extensions/flux/operations/30789bff-0549-40b1-858b-4380bb62f604\",\"name\":\"30789bff-0549-40b1-858b-4380bb62f604\",\"status\":\"Creating\"}",
    }
  },
  "AzKubernetesConfigurationFlux+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroupe5k4zq/providers/Microsoft.Kubernetes/ConnectedClusters/jq6oac/providers/Microsoft.KubernetesConfiguration/extensions/flux/operations/30789bff-0549-40b1-858b-4380bb62f604?api-Version=2022-11-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/[...]
