{
  "Entries": [
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resources?$filter=resourceType%20eq%20'Microsoft.Batch%2FbatchAccounts'&api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests\",\r\n      \"name\": \"pstests\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"eastus\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/Default-AzureBatch-WestUS/providers/Microsoft.Batch/batchAccounts/jaschneibatchtest\",\r\n      \"name\": \"jaschneibatchtest\",\r\n      \"type\": \"Microsoft.Batch/batchAccounts\",\r\n      \"location\": \"westus\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests?api-version=2015-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-07-01"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"pstests\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"accountEndpoint\": \"pstests.eastus.batch.azure.com\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests\",\r\n  \"type\": \"Microsoft.Batch/batchAccounts\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Last-Modified": [
          "Mon, 05 Oct 2015 21:48:12 GMT"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ],
        "ETag": [
          "0x8D2CDCEAA93C417"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/6368ed38-3570-481f-b4fa-1d0a6e8d3f3b/resourceGroups/default-azurebatch-eastus/providers/Microsoft.Batch/batchAccounts/pstests/listKeys?api-version=2015-07-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2015-07-01"
        ]
      },
      "ResponseBody": "{\r\n  \"accountName\": \"pstests\",\r\n  \"primary\": \"hIsQ4xSEK40UEhQPO1ixIV6kxX2Kd7WldCNgTOWFeYRU5EpnfeS5+ZuPNQZXuDalZYEFlgMZc2TkmF/PIBKhBg==\",\r\n  \"secondary\": \"zkP4SqUquW+Vc9Uwu6iAl/EfvrKiUzWznxunIdvDPGngakhTFrmysae7LEF0EI6BzqPrWHngaKzlsbKoQTcQdQ==\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/certificates?api-version=2015-06-01.2.0&timeout=30",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"thumbprint\": \"c1e494a415149c5f211c4778b52f2e834a07247c\",\r\n  \"thumbprintAlgorithm\": \"sha1\",\r\n  \"data\": \"MIIB9DCCAWGgAwIBAgIQpUXhwCuAPJRDhl7kY/0PdTAJBgUrDgMCHQUAMBYxFDASBgNVBAMTC0JhdGNoVGVzdDAxMB4XDTE1MTAwMjE2MjkwNVoXDTM5MTIzMTIzNTk1OVowFjEUMBIGA1UEAxMLQmF0Y2hUZXN0MDEwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAM06unpRipn3BmHBM75d0s8w/Wwifci16PoJo4c2V68GwsCCFsNOn5ypo7BBXo1fpBjrnso5w+koaE5LjxkBSVm+TkogwbKlW6WURTM0O5viRVbPnEEU/Y01Pj5cJElFuLEk9Uoe/r/lP8b5A607t1cPjSXkwhEZEYc3LkHDSo0ZAgMBAAGjSzBJMEcGA1UdAQRAMD6AEFRsTAsrvF+FmPuICooZXaKhGDAWMRQwEgYDVQQDEwtCYXRjaFRlc3QwMYIQpUXhwCuAPJRDhl7kY/0PdTAJBgUrDgMCHQUAA4GBALt0F8Ep+8XVE/M2aNtxzlku72gxiOiAo1HmpUaixXx3gl8kdP3xgoKMaq4JskqdLmbJJUnCQ3wmzsdPwjswsW2ycT12zuBddaiS+id98k8U/KYc6FxMgS+H70FYOxARLn7P4FSSBf/QCyign+BherzezdZ5NBdfzbmWxIMP5iFJ\",\r\n  \"certificateFormat\": \"cer\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "ocp-date": [
          "Mon, 05 Oct 2015 21:48:11 GMT"
        ],
        "return-client-request-id": [
          "true"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://pstests.eastus.batch.azure.com/certificates(ThumbprintAlgorithm=sha1,Thumbprint=c1e494a415149c5f211c4778b52f2e834a07247c)"
        ],
        "Location": [
          "https://pstests.eastus.batch.azure.com/certificates(ThumbprintAlgorithm=sha1,Thumbprint=c1e494a415149c5f211c4778b52f2e834a07247c)"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/pools?api-version=2015-06-01.2.0&timeout=30",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"certPool\",\r\n  \"vmSize\": \"small\",\r\n  \"osFamily\": \"4\",\r\n  \"targetDedicated\": 0,\r\n  \"enableInterNodeCommunication\": false,\r\n  \"certificateReferences\": [\r\n    {\r\n      \"thumbprint\": \"C1E494A415149C5F211C4778B52F2E834A07247C\",\r\n      \"thumbprintAlgorithm\": \"sha1\",\r\n      \"storeLocation\": \"currentuser\",\r\n      \"storeName\": \"My\",\r\n      \"visibility\": \"task\"\r\n    }\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "ocp-date": [
          "Mon, 05 Oct 2015 21:48:12 GMT"
        ],
        "return-client-request-id": [
          "true"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Mon, 05 Oct 2015 21:48:12 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://pstests.eastus.batch.azure.com/pools/certPool"
        ],
        "ETag": [
          "0x8D2CDCEAA8F9A20"
        ],
        "Location": [
          "https://pstests.eastus.batch.azure.com/pools/certPool"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/certificates(thumbprintAlgorithm=sha1,thumbprint=C1E494A415149C5F211C4778B52F2E834A07247C)?api-version=2015-06-01.2.0&timeout=30",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 05 Oct 2015 21:48:12 GMT"
        ],
        "return-client-request-id": [
          "true"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/certificates(thumbprintAlgorithm=sha1,thumbprint=C1E494A415149C5F211C4778B52F2E834A07247C)?api-version=2015-06-01.2.0&timeout=30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 05 Oct 2015 21:48:12 GMT"
        ],
        "return-client-request-id": [
          "true"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstests.eastus.batch.azure.com/$metadata#certificates/@Element\",\r\n  \"thumbprint\": \"c1e494a415149c5f211c4778b52f2e834a07247c\",\r\n  \"thumbprintAlgorithm\": \"sha1\",\r\n  \"url\": \"https://pstests.eastus.batch.azure.com/certificates(thumbprintAlgorithm=sha1,thumbprint=C1E494A415149C5F211C4778B52F2E834A07247C)\",\r\n  \"state\": \"deleting\",\r\n  \"stateTransitionTime\": \"2015-10-05T21:48:12.7346688Z\",\r\n  \"previousState\": \"active\",\r\n  \"previousStateTransitionTime\": \"2015-10-05T21:48:12.2156092Z\",\r\n  \"publicData\": \"MIIB9DCCAWGgAwIBAgIQpUXhwCuAPJRDhl7kY/0PdTAJBgUrDgMCHQUAMBYxFDASBgNVBAMTC0JhdGNoVGVzdDAxMB4XDTE1MTAwMjE2MjkwNVoXDTM5MTIzMTIzNTk1OVowFjEUMBIGA1UEAxMLQmF0Y2hUZXN0MDEwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAM06unpRipn3BmHBM75d0s8w/Wwifci16PoJo4c2V68GwsCCFsNOn5ypo7BBXo1fpBjrnso5w+koaE5LjxkBSVm+TkogwbKlW6WURTM0O5viRVbPnEEU/Y01Pj5cJElFuLEk9Uoe/r/lP8b5A607t1cPjSXkwhEZEYc3LkHDSo0ZAgMBAAGjSzBJMEcGA1UdAQRAMD6AEFRsTAsrvF+FmPuICooZXaKhGDAWMRQwEgYDVQQDEwtCYXRjaFRlc3QwMYIQpUXhwCuAPJRDhl7kY/0PdTAJBgUrDgMCHQUAA4GBALt0F8Ep+8XVE/M2aNtxzlku72gxiOiAo1HmpUaixXx3gl8kdP3xgoKMaq4JskqdLmbJJUnCQ3wmzsdPwjswsW2ycT12zuBddaiS+id98k8U/KYc6FxMgS+H70FYOxARLn7P4FSSBf/QCyign+BherzezdZ5NBdfzbmWxIMP5iFJ\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/certificates(thumbprintAlgorithm=sha1,thumbprint=c1e494a415149c5f211c4778b52f2e834a07247c)?canceldelete&api-version=2015-06-01.2.0&timeout=30",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 05 Oct 2015 21:49:24 GMT"
        ],
        "return-client-request-id": [
          "true"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://pstests.eastus.batch.azure.com/certificates(thumbprintAlgorithm=sha1,thumbprint=c1e494a415149c5f211c4778b52f2e834a07247c)"
        ]
      },
      "StatusCode": 204
    },
[...]
    {
      "RequestUri": "/certificates?$filter=state%20eq%20'active'&api-version=2015-06-01.2.0&timeout=30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 05 Oct 2015 21:49:25 GMT"
        ],
        "return-client-request-id": [
          "true"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://pstests.eastus.batch.azure.com/$metadata#certificates\",\r\n  \"value\": [\r\n    {\r\n      \"thum[...]
[...]
    {
      "RequestUri": "/pools/certPool?api-version=2015-06-01.2.0&timeout=30",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 05 Oct 2015 21:49:25 GMT"
        ],
        "return-client-request-id": [
          "true"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/pools/certPool?api-version=2015-06-01.2.0&timeout=30",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Mon, 05 Oct 2015 21:49:25 GMT"
        ],
        "return-client-request-id": [
          "true"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "6368ed38-3570-481f-b4fa-1d0a6e8d3f3b"
  }
}