{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/providers/Microsoft.StorageSync?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/providers/Microsoft.StorageSync\",\r\n  \"namespace\": \"Microsoft.StorageSync\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"9469b9f5-6722-4481-a2b2-14ed560b706f\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"storageSyncServices\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"East US\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central US\",\r\n        \"East US 2\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Brazil South\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"West Central US\",\r\n        \"Central US EUAP\",\r\n        \"West US 2\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2018-10-01\",\r\n        \"2018-07-01\",\r\n        \"2018-04-02\",\r\n        \"2018-01-01-preview\",\r\n        \"2017-06-05-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"storageSyncServices/syncGroups\",\r\n      \"locations\": [\r\n        \"West US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"East US\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"Central US\",\r\n       [...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourcegroups/ps3732?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps3732\",\r\n  \"name\": \"ps3732\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/providers/Microsoft.StorageSync/locations/CentralUSEUAP/checkNameAvailability?api-version=2019-02-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"sssps6186\",\r\n  \"type\": \"Microsoft.StorageSync/storageSyncServices\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true,\r\n  \"reason\": null,\r\n  \"message\": null\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps3732/providers/Microsoft.StorageSync/storageSyncServices/sssps6186?api-version=2019-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {}\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"storageSyncServiceStatus\": null,\r\n    \"storageSyncServiceUid\": null\r\n  },\r\n  \"location\": \"Central US EUAP\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps3732/providers/microsoft.storagesync/storageSyncServices/sssps6186\",\r\n  \"name\": \"sssps6186\",\r\n  \"type\": \"microsoft.storagesync/storageSyncServices\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps3732/providers/Microsoft.StorageSync/storageSyncServices/sssps6186/registeredServers/583efcbb-5c52-412f-a204-4eedc5ff5e46?api-version=2019-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"serverCertificate\": \"MIIC5DCCAcygAwIBAgIQYyf5gXHPUrdP2mscPVs+KDANBgkqhkiG9w0BAQ0FADAaMRgwFgYDVQQDEw9XSU4tS1A0NUJCOFNFRkswHhcNMTkwNDA0MDExNzM3WhcNMjAwNDA0MDExNzM3WjAaMRgwFgYDVQQDEw9XSU4tS1A0NUJCOFNFRkswggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDEobZq94RXVtqg5/92bLtd3hASiWFWOTgZpa0Kquze/7Ul+jLbSwJjQuayQAJmqDbZaKZte4kEvvqAKroapzotCBGWJf8P7HjFQwtRPeVmxnP6dyvXi7fjzqiCC13obdEsxClBVh3rlCsJDB5ekV6q3urYlX/4ZE0Nyr2lo3C1kmEmyPze84l5oZLTMv75yf97XP6qsqzi0FYd/WjaS9PSKaZX0EviZOnlzOnuHMxPm0j3NsN/S8UZqr8IjO5nJ0uV+/bhS+Acyh2Qor88mAcDrNzHGxjEQf5946UZKflVR66VfDVPe7Bu65jhAdBvvTGPx4c/meIPSEKbxELM+WXNAgMBAAGjJjAkMCIGA1UdJQEB/wQYMBYGCCsGAQUFBwMCBgorBgEEAYI3CgMMMA0GCSqGSIb3DQEBDQUAA4IBAQA9Mh3BOQ3p6h+0zYpI917iNIi+fUwegjaZFyqmanvDcmjWf5+Et+WNJnTx9KMI98HBHOgYZ8tjDcxYAdUfc33bcOGlJEb6b9LznouvNdBNRlIMBkNrgGlw0z/TXur1Xdke26GJb9fxe1tP1bVvevEQOiYEWD+tWzb+e/q08xnorDsuL1qLDMVF8rkRQNKerii+8MsKb+n9db9Q10Xrh6VNBC2WRLNIVSFxAjhMDhQSoVVvi9EnnDnu68iPpmyKrMpreC2Ydio/OFFvo+fLn4ILgttOxtzB0Wumhvi4u0pkqul2DzXApBChLOF8KDroIhMpkdYqYhZwpGtM2fyU0cE5\",\r\n    \"agentVersion\": \"5.0.2.0\",\r\n    \"serverOSVersion\": \"10.0.17763.0\",\r\n    \"lastHeartBeat\": \"4/5/2019 1:58:35 PM\",\r\n    \"serverRole\": \"Standalone\",\r\n    \"clusterId\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"serverId\": \"583efcbb-5c52-412f-a204-4eedc5ff5e46\",\r\n    \"friendlyName\": \"WIN-KP45BB8SEFK\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps3732/providers/microsoft.storagesync/storageSyncServices/sssps6186/workflows/9cf03b54-cc47-4531-bb64-63046c3bb931/operationresults/652baf13-86af-4438-bafb-a481a819f645?api-version=2019-02-01"
        ],
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps3732/providers/microsoft.storagesync/storageSyncServices/sssps6186/workflows/9cf03b54-cc47-4531-bb64-63046c3bb931/operations/652baf13-86af-4438-bafb-a481a819f645?api-version=2019-02-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps3732/providers/microsoft.storagesync/storageSyncServices/sssps6186/workflows/9cf03b54-cc47-4531-bb64-63046c3bb931/operations/652baf13-86af-4438-bafb-a481a819f645?api-version=2019-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps3732/providers/microsoft.storagesync/storageSyncServices/sssps6186/workflow/9cf03b54-cc47-4531-bb64-63046c3bb931/operationresults/652baf13-86af-4438-bafb-a481a819f645\",\r\n  \"name\": \"652baf13-86af-4438-bafb-a481a819f645\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2019-04-05T20:58:36.5021929Z\",\r\n  \"endTime\": \"2019-04-05T20:58:37.0178539Z\",\r\n  \"percentComplete\": null,\r\n  \"error\": null,\r\n  \"properties\": {}\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps3732/providers/Microsoft.StorageSync/storageSyncServices/sssps6186/registeredServers/583efcbb-5c52-412f-a204-4eedc5ff5e46?api-version=2019-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"serverCertificate\": null,\r\n    \"agentVersion\": \"5.0.2.0\",\r\n    \"agentVersionStatus\": null,\r\n    \"agentVersionExpirationDate\": null,\r\n    \"serverOSVersion\": \"10.0.17763.0\",\r\n    \"serverManagementErrorCode\": 0,\r\n    \"lastHeartBeat\": \"2019-04-05T13:58:36.8147095-07:00\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"serverRole\": \"Standalone\",\r\n    \"clusterId\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"clusterName\": \"\",\r\n    \"serverId\": \"583efcbb-5c52-412f-a204-4eedc5ff5e46\",\r\n    \"storageSyncServiceUid\": \"73917679-d037-413c-b40d-fa6fa64eaa0a\",\r\n    \"lastWorkflowId\": \"storageSyncServices/sssps6186/workflows/9cf03b54-cc47-4531-bb64-63046c3bb931\",\r\n    \"lastOperationName\": \"ICreateRegisteredServerWorkflow\",\r\n    \"friendlyName\": \"WIN-KP45BB8SEFK\",\r\n    \"monitoringConfiguration\": \"{\\\"agentConfiguration\\\":\\\"<MonitoringManagement version=\\\\\\\"1.0\\\\\\\" namespace=\\\\\\\"HybridMonitoringV2\\\\\\\" eventVersion=\\\\\\\"1\\\\\\\" timestamp=\\\\\\\"2017-05-30T00:00:38.0823856Z\\\\\\\">  <Accounts>    <Account moniker=\\\\\\\"HybridMonitoringV2\\\\\\\" name=\\\\\\\"HybridMonitoringV2\\\\\\\" key=\\\\\\\"HybridMonitoringV2\\\\\\\" />  </Accounts>  <Management eventVolume=\\\\\\\"Large\\\\\\\" defaultRetentionInDays=\\\\\\\"15\\\\\\\" onDemandRequests=\\\\\\\"false\\\\\\\" noHostLogReporting=\\\\\\\"true\\\\\\\">    <AgentResourceUsage diskQuotaInMB=\\\\\\\"1000\\\\\\\"/>  </Management>  <Events>    <CounterSets storeType=\\\\\\\"Local\\\\\\\">      <CounterSet eventName=\\\\\\\"ServerPerformanceCounters\\\\\\\" priority=\\\\\\\"High\\\\\\\" sampleRateInSeconds=\\\\\\\"300\\\\\\\">        <!-- Server Level Counters -->        <Counter>\\\\\\\\Memory\\\\\\\\Available MBytes</Counter>        <Counter>\\\\\\\\Processor(_Total)\\\\\\\\% Processor Time</Counter>        <Counter>\\\\\\\\Network Interface(*)\\\\\\\\Bytes Total/sec</Counter>        <Counter>\\\\\\\\Network Interface(*)\\\\\\\\Bytes Received/sec</Counter>        <Counter>\\\\\\\\Network Interface(*)\\\\\\\\Bytes Sent/sec</Counter>        <Counter>\\\\\\\\Network Interface(*)\\\\\\\\Current Bandwidth</Counter>        <Counter>\\\\\\\\Network Interface(*)\\\\\\\\Output [...]
[...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps3732/providers/microsoft.storagesync/storageSyncServices/sssps6186/workflows/c67ea515-9cb3-4b3c-ae05-a22b807f0691/operationresults/cd7b96d3-d80d-40cc-a3c8-13b37ae57e32?api-version=2019-02-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzM3MzItV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzM3MzItV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzM3MzItV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-RemoveRegisteredServerResourceId": [
      "ps3732",
      "ps6186"
    ]
  },
  "Variables": {
    "SubscriptionId": "7b96cb02-4663-40f4-9a89-603d3849e46a",
    "TenantId": "0483643a-cb2f-462a-bc27-1a270e5bdc0a",
    "Domain": "",
    "SyncServerId": "/subscriptions/7b96cb02-4663-40f4-9a89-603d3849e46a/resourceGroups/ps3732/providers/Microsoft.StorageSync/storageSyncServices/sssps6186/registeredServers/583EFCBB-5C52-412F-A204-4EEDC5FF5E46"
  }
}