{
  "Entries": [
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/skrivokapic-paasv2?api-version=2021-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"identity\": {\r\n    \"principalId\": \"7e5a0d1e-02b9-4cd1-a011-fcaf39540a5d\",\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"BC_Gen5\",\r\n    \"tier\": \"BusinessCritical\",\r\n    \"family\": \"Gen5\",\r\n    \"capacity\": 8\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"fullyQualifiedDomainName\": \"skrivokapic-paasv2.f1d03b4768ef.database.windows.net\",\r\n    \"administratorLogin\": \"krivi\",\r\n    \"subnetId\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Network/virtualNetworks/vnet-skrivokapic-multiaz-paasv2/subnets/ManagedInstance\",\r\n    \"state\": \"Ready\",\r\n    \"licenseType\": \"BasePrice\",\r\n    \"vCores\": 8,\r\n    \"storageSizeInGB\": 256,\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"dnsZone\": \"f1d03b4768ef\",\r\n    \"publicDataEndpointEnabled\": false,\r\n    \"proxyOverride\": \"Proxy\",\r\n    \"timezoneId\": \"UTC\",\r\n    \"maintenanceConfigurationId\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default\",\r\n    \"privateEndpointConnections\": [],\r\n    \"minimalTlsVersion\": \"1.2\",\r\n    \"currentBackupStorageRedundancy\": \"Zone\",\r\n    \"requestedBackupStorageRedundancy\": \"Zone\",\r\n    \"zoneRedundant\": true\r\n  },\r\n  \"location\": \"southafricanorth\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/skrivokapic-paasv2\",\r\n  \"name\": \"skrivokapic-paasv2\",\r\n  \"type\": \"Microsoft.Sql/managedInstances\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/skrivokapic-paasv2/dtc/current?api-version=2022-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"dtcEnabled\": true,\r\n    \"securitySettings\": {\r\n      \"transactionManagerCommunicationSettings\": {\r\n        \"allowInboundEnabled\": true,\r\n        \"allowOutboundEnabled\": true,\r\n        \"authentication\": \"NoAuth\"\r\n      },\r\n      \"xaTransactionsEnabled\": true,\r\n      \"snaLu6point2TransactionsEnabled\": true,\r\n      \"xaTransactionsDefaultTimeout\": 0,\r\n      \"xaTransactionsMaximumTimeout\": 0\r\n    },\r\n    \"externalDnsSuffixSearchList\": [\r\n      \"hjctg3kijkkx.database.windows.net\"\r\n    ],\r\n    \"dtcHostNameDnsSuffix\": \"chnmvkvk7etugue.hjctg3kijkkx.database.windows.net\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"id\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/skrivokapic-paasv2/dtc/current\",\r\n  \"name\": \"current\",\r\n  \"type\": \"Microsoft.Sql/managedInstances/dtc\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/skrivokapic-paasv2/dtc/current?api-version=2022-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"dtcEnabled\": false,\r\n    \"securitySettings\": {\r\n      \"transactionManagerCommunicationSettings\": {\r\n        \"allowInboundEnabled\": true,\r\n        \"allowOutboundEnabled\": true,\r\n        \"authentication\": \"NoAuth\"\r\n      },\r\n      \"xaTransactionsEnabled\": true,\r\n      \"snaLu6point2TransactionsEnabled\": true,\r\n      \"xaTransactionsDefaultTimeout\": 0,\r\n      \"xaTransactionsMaximumTimeout\": 0\r\n    },\r\n    \"externalDnsSuffixSearchList\": [\r\n      \"hjctg3kijkkx.database.windows.net\"\r\n    ]\r\n  }\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "60"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/southafricanorth/managedInstanceDtcAzureAsyncOperation/e814e4f4-4ed8-48e2-b09f-0b47e715d905?api-version=2022-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"dtcEnabled\": false,\r\n    \"securitySettings\": {\r\n      \"transactionManagerCommunicationSettings\": {\r\n        \"allowInboundEnabled\": true,\r\n        \"allowOutboundEnabled\": true,\r\n        \"authentication\": \"NoAuth\"\r\n      },\r\n      \"xaTransactionsEnabled\": true,\r\n      \"snaLu6point2TransactionsEnabled\": true,\r\n      \"xaTransactionsDefaultTimeout\": 0,\r\n      \"xaTransactionsMaximumTimeout\": 0\r\n    },\r\n    \"externalDnsSuffixSearchList\": [\r\n      \"hjctg3kijkkx.database.windows.net\"\r\n    ],\r\n    \"provisioningState\": \"Updating\"\r\n  },\r\n  \"id\": \"/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/managedInstances/skrivokapic-paasv2/dtc/current\",\r\n  \"name\": \"current\",\r\n  \"type\": \"Microsoft.Sql/managedInstances/dtc\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/southafricanorth/managedInstanceDtcAzureAsyncOperation/e814e4f4-4ed8-48e2-b09f-0b47e715d905?api-version=2022-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"e814e4f4-4ed8-48e2-b09f-0b47e715d905\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2023-01-23T19:36:56.583Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/8313371e-0879-428e-b1da-6353575a9192/resourceGroups/CustomerExperienceTeam_RG/providers/Microsoft.Sql/locations/southafricanorth/managedInstanceDtcAzureAsyncOperation/8665a2b8-f389-4d26-9548-1c48fd533f24?api-version=2022-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"8665a2b8-f389-4d26-9548-1c48fd533f24\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2023-01-23T19:41:06.543Z\"\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "8313371e-0879-428e-b1da-6353575a9192"
  }
}