{
  "Entries": [
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourcegroups/ps917?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourceGroups/ps917\",\r\n  \"name\": \"ps917\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/providers/Microsoft.HealthcareApis/checkNameAvailability?api-version=2020-03-30",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"ps5869\",\r\n  \"type\": \"Microsoft.HealthcareApis/services\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourceGroups/ps917/providers/Microsoft.HealthcareApis/services/ps5869?api-version=2020-03-30",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"accessPolicies\": [],\r\n    \"cosmosDbConfiguration\": {\r\n      \"offerThroughput\": 1000,\r\n      \"keyVaultKeyUri\": \"https://pshealthapitestvault.vault.azure.net/keys/PSKey1\"\r\n    },\r\n    \"authenticationConfiguration\": {\r\n      \"authority\": \"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"audience\": \"https://ps5869.azurehealthcareapis.com\",\r\n      \"smartProxyEnabled\": false\r\n    },\r\n    \"corsConfiguration\": {\r\n      \"maxAge\": 0,\r\n      \"allowCredentials\": false\r\n    },\r\n    \"exportConfiguration\": {\r\n      \"storageAccountName\": \"exportStorage\"\r\n    }\r\n  },\r\n  \"kind\": \"fhir-R4\",\r\n  \"location\": \"southcentralus\",\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1e008fe7-0000-0400-0000-5fb5c1700000\""
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/69043bd8-005d-4b31-918c-2fb02409380e?api-version=2020-03-30"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourceGroups/ps917/providers/Microsoft.HealthcareApis/services/ps5869\",\r\n  \"name\": \"ps5869\",\r\n  \"type\": \"Microsoft.HealthcareApis/services\",\r\n  \"etag\": \"\\\"1e008fe7-0000-0400-0000-5fb5c1700000\\\"\",\r\n  \"location\": \"southcentralus\",\r\n  \"kind\": \"fhir-R4\",\r\n  \"properties\": {\r\n    \"secondaryLocations\": null,\r\n    \"accessPolicies\": [],\r\n    \"cosmosDbConfiguration\": {\r\n      \"offerThroughput\": 1000,\r\n      \"keyVaultKeyUri\": \"https://pshealthapitestvault.vault.azure.net/keys/PSKey1\"\r\n    },\r\n    \"authenticationConfiguration\": {\r\n      \"authority\": \"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"audience\": \"https://ps5869.azurehealthcareapis.com\",\r\n      \"smartProxyEnabled\": false\r\n    },\r\n    \"corsConfiguration\": {\r\n      \"origins\": [],\r\n      \"headers\": [],\r\n      \"methods\": [],\r\n      \"maxAge\": 0,\r\n      \"allowCredentials\": false\r\n    },\r\n    \"exportConfiguration\": {\r\n      \"storageAccountName\": \"exportStorage\"\r\n    },\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": null,\r\n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"identity\": {\r\n    \"principalId\": \"c2bd173a-653c-4d24-ace0-9127d8a842cf\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"type\": \"SystemAssigned\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourceGroups/ps917/providers/Microsoft.HealthcareApis/services/ps5869?api-version=2020-03-30",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"accessPolicies\": [],\r\n    \"cosmosDbConfiguration\": {\r\n      \"offerThroughput\": 400,\r\n      \"keyVaultKeyUri\": \"https://pshealthapitestvault.vault.azure.net/keys/PSKey2\"\r\n    },\r\n    \"authenticationConfiguration\": {\r\n      \"authority\": \"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"audience\": \"https://ps5869.azurehealthcareapis.com\",\r\n      \"smartProxyEnabled\": false\r\n    },\r\n    \"corsConfiguration\": {\r\n      \"origins\": [],\r\n      \"headers\": [],\r\n      \"methods\": [],\r\n      \"maxAge\": 0,\r\n      \"allowCredentials\": false\r\n    },\r\n    \"exportConfiguration\": {\r\n      \"storageAccountName\": \"exportStorage\"\r\n    },\r\n    \"publicNetworkAccess\": \"Enabled\"\r\n  },\r\n  \"kind\": \"fhir-R4\",\r\n  \"location\": \"southcentralus\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n    \"type\": \"None\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1f00b909-0000-0400-0000-5fb5c31c0000\""
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/b0b2473c[...]
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/69043bd8-005d-4b31-918c-2fb02409380e?api-version=2020-03-30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/69043bd8-005d-4b31-918c-2fb02409380e\",\r\n  \"name\": \"69043bd8-005d-4b31-918c-2fb02409380e\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2020-11-19T00:50:56.3913199Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourceGroups/ps917/providers/Microsoft.HealthcareApis/services/ps58691?api-version=2020-03-30",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"accessPolicies\": [\r\n      {\r\n        \"objectId\": \"9b52f7aa-85e9-47e2-8f10-af57e63a4ae1\"\r\n      }\r\n    ],\r\n    \"cosmosDbConfiguration\": {\r\n      \"offerThroughput\": 1000\r\n    },\r\n    \"authenticationConfiguration\": {\r\n      \"authority\": \"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"audience\": \"https://ps58691.azurehealthcareapis.com\",\r\n      \"smartProxyEnabled\": false\r\n    },\r\n    \"corsConfiguration\": {\r\n      \"maxAge\": 0,\r\n      \"allowCredentials\": false\r\n  [...]
[...]
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourceGroups/ps917/providers/Microsoft.HealthcareApis/services?api-version=2020-03-30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11953"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourceGroups/ps917/providers/Microsoft.HealthcareApis/services/ps5869\",\r\n      \"name\": \"ps5869\",\r\n      \"type\": \"Microsoft.HealthcareApis/services\",\r\n      \"etag\": \"\\\"1f002912-0000-0400-0000-5fb5c3850000\\\"\",\r\n      \"location\": \"southcentralus\",\r\n      \"kind\": \"fhir-R4\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"secondaryLocations\": null,\r\n        \"acces[...]
[...]
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourceGroups/ps917/providers/Microsoft.HealthcareApis/services/ps5869?api-version=2020-03-30",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/a6ba8d2c-b4af-4859-94bb-93e4dc6051a1?api-version=2020-03-30&operationResultResponseType=Location"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/a6ba8d2c-b4af-4859-94bb-93e4dc6051a1?api-version=2020-03-30"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/a6ba8d2c-b4af-4859-94bb-93e4dc6051a1?api-version=2020-03-30&operationResultResponseType=Location",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11929"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourcegroups/ps917?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzkxNy1TT1VUSENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoic291dGhjZW50cmFsdXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzkxNy1TT1VUSENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoic291dGhjZW50cmFsdXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzkxNy1TT1VUSENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoic291dGhjZW50cmFsdXMifQ?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzkxNy1TT1VUSENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoic291dGhjZW50cmFsdXMifQ?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-AzRmHealthcareApisService": [
      "ps917",
      "ps5869"
    ]
  },
  "Variables": {
    "SubscriptionId": "17af5f40-c564-4afe-ada0-fe7193bd474a"
  }
}