{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/resourcegroups/ps3089?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/resourceGroups/ps3089\",\r\n  \"name\": \"ps3089\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/providers/Microsoft.HealthcareApis/checkNameAvailability?api-version=2020-03-30",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"ps670\",\r\n  \"type\": \"Microsoft.HealthcareApis/services\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/resourceGroups/ps3089/providers/Microsoft.HealthcareApis/services/ps670?api-version=2020-03-30",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"accessPolicies\": [],\r\n    \"cosmosDbConfiguration\": {\r\n      \"offerThroughput\": 1000\r\n    },\r\n    \"authenticationConfiguration\": {\r\n      \"authority\": \"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"audience\": \"https://ps670.azurehealthcareapis.com\",\r\n      \"smartProxyEnabled\": false\r\n    },\r\n    \"corsConfiguration\": {\r\n      \"maxAge\": 0,\r\n      \"allowCredentials\": false\r\n    },\r\n    \"exportConfiguration\": {\r\n      \"storageAccountName\": \"exportStorage\"\r\n    }\r\n  },\r\n  \"kind\": \"fhir-R4\",\r\n  \"location\": \"southcentralus\",\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1b004871-0000-0400-0000-5ed14c150000\""
        ],
        "azure-asyncoperation": [
          "https://management.azure.com/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/fc3b597b-92b1-436c-aa5d-404369879ed2?api-version=2020-03-30"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/resourceGroups/ps3089/providers/Microsoft.HealthcareApis/services/ps670\",\r\n  \"name\": \"ps670\",\r\n  \"type\": \"Microsoft.HealthcareApis/services\",\r\n  \"etag\": \"\\\"1b004871-0000-0400-0000-5ed14c150000\\\"\",\r\n  \"location\": \"southcentralus\",\r\n  \"kind\": \"fhir-R4\",\r\n  \"properties\": {\r\n    \"secondaryLocations\": null,\r\n    \"accessPolicies\": [],\r\n    \"cosmosDbConfiguration\": {\r\n      \"offerThroughput\": 1000\r\n    },\r\n    \"authenticationConfiguration\": {\r\n      \"authority\": \"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"audience\": \"https://ps670.azurehealthcareapis.com\",\r\n      \"smartProxyEnabled\": false\r\n    },\r\n    \"corsConfiguration\": {\r\n      \"origins\": [],\r\n      \"headers\": [],\r\n      \"methods\": [],\r\n      \"maxAge\": 0,\r\n      \"allowCredentials\": false\r\n    },\r\n    \"exportConfiguration\": {\r\n      \"storageAccountName\": \"exportStorage\"\r\n    },\r\n    \"privateEndpointConnections\": [],\r\n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"identity\": {\r\n    \"principalId\": \"9b8973f1-e110-4dc1-bb81-540bd9e136f4\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"type\": \"SystemAssigned\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/resourceGroups/ps3089/providers/Microsoft.HealthcareApis/services/ps670?api-version=2020-03-30",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"accessPolicies\": [],\r\n    \"cosmosDbConfiguration\": {\r\n      \"offerThroughput\": 400\r\n    },\r\n    \"authenticationConfiguration\": {\r\n      \"authority\": \"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"audience\": \"https://ps670.azurehealthcareapis.com\",\r\n      \"smartProxyEnabled\": false\r\n    },\r\n    \"corsConfiguration\": {\r\n      \"origins\": [],\r\n      \"headers\": [],\r\n      \"methods\": [],\r\n      \"maxAge\": 0,\r\n      \"allowCredentials\": false\r\n    },\r\n    \"exportConfiguration\": {\r\n      \"storageAccountName\": \"exportStorage\"\r\n    }\r\n  },\r\n  \"kind\": \"fhir-R4\",\r\n  \"location\": \"southcentralus\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n    \"type\": \"None\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1b00127d-0000-0400-0000-5ed14d860000\""
        ],
        "azure-asyncoperation": [
          "https://management.azure.com/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/ebb438c8[...]
    {
      "RequestUri": "/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/fc3b597b-92b1-436c-aa5d-404369879ed2?api-version=2020-03-30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/fc3b597b-92b1-436c-aa5d-404369879ed2\",\r\n  \"name\": \"fc3b597b-92b1-436c-aa5d-404369879ed2\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2020-05-29T17:53:26.0183142Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/resourceGroups/ps3089/providers/Microsoft.HealthcareApis/services/ps6701?api-version=2020-03-30",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"accessPolicies\": [\r\n      {\r\n        \"objectId\": \"9b52f7aa-85e9-47e2-8f10-af57e63a4ae1\"\r\n      }\r\n    ],\r\n    \"cosmosDbConfiguration\": {\r\n      \"offerThroughput\": 1000\r\n    },\r\n    \"authenticationConfiguration\": {\r\n      \"authority\": \"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"audience\": \"https://ps6701.azurehealthcareapis.com\",\r\n      \"smartProxyEnabled\": false\r\n    },\r\n    \"corsConfiguration\": {\r\n      \"maxAge\": 0,\r\n      \"allowCredentials\": false\r\n   [...]
[...]
    {
      "RequestUri": "/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/resourceGroups/ps3089/providers/Microsoft.HealthcareApis/services?api-version=2020-03-30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11961"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/resourceGroups/ps3089/providers/Microsoft.HealthcareApis/services/ps670\",\r\n      \"name\": \"ps670\",\r\n      \"type\": \"Microsoft.HealthcareApis/services\",\r\n      \"etag\": \"\\\"1b00787e-0000-0400-0000-5ed14db20000\\\"\",\r\n      \"location\": \"southcentralus\",\r\n      \"kind\": \"fhir-R4\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"secondaryLocations\": null,\r\n        \"access[...]
[...]
    {
      "RequestUri": "/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/resourceGroups/ps3089/providers/Microsoft.HealthcareApis/services/ps670?api-version=2020-03-30",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/dc3a6085-82d9-4e1f-b999-edff70c7afe9?api-version=2020-03-30&operationResultResponseType=Location"
        ],
        "azure-asyncoperation": [
          "https://management.azure.com/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/dc3a6085-82d9-4e1f-b999-edff70c7afe9?api-version=2020-03-30"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/dc3a6085-82d9-4e1f-b999-edff70c7afe9?api-version=2020-03-30&operationResultResponseType=Location",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11940"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/resourcegroups/ps3089?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzMwODktU09VVEhDRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6InNvdXRoY2VudHJhbHVzIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzMwODktU09VVEhDRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6InNvdXRoY2VudHJhbHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzMwODktU09VVEhDRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6InNvdXRoY2VudHJhbHVzIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/c243745d-50bb-48d1-9e62-3f72efb3166c/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzMwODktU09VVEhDRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6InNvdXRoY2VudHJhbHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-AzRmHealthcareApisService": [
      "ps3089",
      "ps670"
    ]
  },
  "Variables": {
    "SubscriptionId": "c243745d-50bb-48d1-9e62-3f72efb3166c"
  }
}