{
  "Entries": [
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourcegroups/ps5897?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"southcentralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourceGroups/ps5897\",\r\n  \"name\": \"ps5897\",\r\n  \"location\": \"southcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/providers/Microsoft.HealthcareApis/checkNameAvailability?api-version=2020-03-30",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"ps6435\",\r\n  \"type\": \"Microsoft.HealthcareApis/services\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourceGroups/ps5897/providers/Microsoft.HealthcareApis/services/ps6435?api-version=2020-03-30",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"accessPolicies\": [],\r\n    \"cosmosDbConfiguration\": {\r\n      \"offerThroughput\": 1000,\r\n      \"keyVaultKeyUri\": \"https://pshealthapitestvault.vault.azure.net/keys/PSKey1\"\r\n    },\r\n    \"authenticationConfiguration\": {\r\n      \"authority\": \"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"audience\": \"https://ps6435.azurehealthcareapis.com\",\r\n      \"smartProxyEnabled\": false\r\n    },\r\n    \"corsConfiguration\": {\r\n      \"maxAge\": 0,\r\n      \"allowCredentials\": false\r\n    },\r\n    \"exportConfiguration\": {\r\n      \"storageAccountName\": \"exportStorage\"\r\n    }\r\n  },\r\n  \"kind\": \"fhir-R4\",\r\n  \"location\": \"southcentralus\",\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"2000180a-0000-0400-0000-5faf5afa0000\""
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/b6a42f69-faa6-4219-9a85-09ac1b3a0c8e?api-version=2020-03-30"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourceGroups/ps5897/providers/Microsoft.HealthcareApis/services/ps6435\",\r\n  \"name\": \"ps6435\",\r\n  \"type\": \"Microsoft.HealthcareApis/services\",\r\n  \"etag\": \"\\\"2000180a-0000-0400-0000-5faf5afa0000\\\"\",\r\n  \"location\": \"southcentralus\",\r\n  \"kind\": \"fhir-R4\",\r\n  \"properties\": {\r\n    \"secondaryLocations\": null,\r\n    \"accessPolicies\": [],\r\n    \"cosmosDbConfiguration\": {\r\n      \"offerThroughput\": 1000,\r\n      \"keyVaultKeyUri\": \"https://pshealthapitestvault.vault.azure.net/keys/PSKey1\"\r\n    },\r\n    \"authenticationConfiguration\": {\r\n      \"authority\": \"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"audience\": \"https://ps6435.azurehealthcareapis.com\",\r\n      \"smartProxyEnabled\": false\r\n    },\r\n    \"corsConfiguration\": {\r\n      \"origins\": [],\r\n      \"headers\": [],\r\n      \"methods\": [],\r\n      \"maxAge\": 0,\r\n      \"allowCredentials\": false\r\n    },\r\n    \"exportConfiguration\": {\r\n      \"storageAccountName\": \"exportStorage\"\r\n    },\r\n    \"privateEndpointConnections\": [],\r\n    \"publicNetworkAccess\": null,\r\n    \"provisioningState\": \"Creating\"\r\n  },\r\n  \"identity\": {\r\n    \"principalId\": \"0da866f6-8c30-4372-b28a-c7a699784579\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"type\": \"SystemAssigned\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourceGroups/ps5897/providers/Microsoft.HealthcareApis/services/ps6435?api-version=2020-03-30",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"accessPolicies\": [],\r\n    \"cosmosDbConfiguration\": {\r\n      \"offerThroughput\": 400,\r\n      \"keyVaultKeyUri\": \"https://pshealthapitestvault.vault.azure.net/keys/PSKey2\"\r\n    },\r\n    \"authenticationConfiguration\": {\r\n      \"authority\": \"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"audience\": \"https://ps6435.azurehealthcareapis.com\",\r\n      \"smartProxyEnabled\": false\r\n    },\r\n    \"corsConfiguration\": {\r\n      \"origins\": [],\r\n      \"headers\": [],\r\n      \"methods\": [],\r\n      \"maxAge\": 0,\r\n      \"allowCredentials\": false\r\n    },\r\n    \"exportConfiguration\": {\r\n      \"storageAccountName\": \"exportStorage\"\r\n    }\r\n  },\r\n  \"kind\": \"fhir-R4\",\r\n  \"location\": \"southcentralus\",\r\n  \"tags\": {},\r\n  \"identity\": {\r\n    \"type\": \"None\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"2000441f-0000-0400-0000-5faf5c870000\""
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/ab3597f8[...]
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/b6a42f69-faa6-4219-9a85-09ac1b3a0c8e?api-version=2020-03-30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/b6a42f69-faa6-4219-9a85-09ac1b3a0c8e\",\r\n  \"name\": \"b6a42f69-faa6-4219-9a85-09ac1b3a0c8e\",\r\n  \"status\": \"Running\",\r\n  \"startTime\": \"2020-11-14T04:20:10.4494496Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourceGroups/ps5897/providers/Microsoft.HealthcareApis/services/ps64351?api-version=2020-03-30",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"accessPolicies\": [\r\n      {\r\n        \"objectId\": \"9b52f7aa-85e9-47e2-8f10-af57e63a4ae1\"\r\n      }\r\n    ],\r\n    \"cosmosDbConfiguration\": {\r\n      \"offerThroughput\": 1000\r\n    },\r\n    \"authenticationConfiguration\": {\r\n      \"authority\": \"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"audience\": \"https://ps64351.azurehealthcareapis.com\",\r\n      \"smartProxyEnabled\": false\r\n    },\r\n    \"corsConfiguration\": {\r\n      \"maxAge\": 0,\r\n      \"allowCredentials\": false\r\n  [...]
[...]
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourceGroups/ps5897/providers/Microsoft.HealthcareApis/services?api-version=2020-03-30",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11953"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourceGroups/ps5897/providers/Microsoft.HealthcareApis/services/ps6435\",\r\n      \"name\": \"ps6435\",\r\n      \"type\": \"Microsoft.HealthcareApis/services\",\r\n      \"etag\": \"\\\"2000d025-0000-0400-0000-5faf5cfe0000\\\"\",\r\n      \"location\": \"southcentralus\",\r\n      \"kind\": \"fhir-R4\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"secondaryLocations\": null,\r\n        \"acce[...]
[...]
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourceGroups/ps5897/providers/Microsoft.HealthcareApis/services/ps6435?api-version=2020-03-30",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/17305137-3aee-4641-a50e-8237abfd0595?api-version=2020-03-30&operationResultResponseType=Location"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/17305137-3aee-4641-a50e-8237abfd0595?api-version=2020-03-30"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/providers/Microsoft.HealthcareApis/locations/southcentralus/operationresults/17305137-3aee-4641-a50e-8237abfd0595?api-version=2020-03-30&operationResultResponseType=Location",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11934"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/resourcegroups/ps5897?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzU4OTctU09VVEhDRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6InNvdXRoY2VudHJhbHVzIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzU4OTctU09VVEhDRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6InNvdXRoY2VudHJhbHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzU4OTctU09VVEhDRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6InNvdXRoY2VudHJhbHVzIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/17af5f40-c564-4afe-ada0-fe7193bd474a/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzU4OTctU09VVEhDRU5UUkFMVVMiLCJqb2JMb2NhdGlvbiI6InNvdXRoY2VudHJhbHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11996"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-AzRmHealthcareApisService": [
      "ps5897",
      "ps6435"
    ]
  },
  "Variables": {
    "SubscriptionId": "17af5f40-c564-4afe-ada0-fe7193bd474a"
  }
}