{
  "Entries": [
    {
      "RequestUri": "/pools/mpiPool?api-version=2017-01-01.4.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 09 Feb 2017 17:16:56 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://jstesteastus2.eastus2.batch.azure.com/$metadata#pools/@Element\",\r\n  \"id\": \"mpiPool\",\r\n  \"url\": \"https://jstesteastus2.eastus2.batch.azure.com/pools/mpiPool\",\r\n  \"eTag\": \"0x8D45073C8128958\",\r\n  \"lastModified\": \"2017-02-08T22:42:37.4201688Z\",\r\n  \"creationTime\": \"2017-02-08T22:42:37.4201688Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2017-02-08T22:42:37.4201688Z\",\r\n  \"allocationState\": \"steady\",\r\n  \"allocationStateTransitionTime\": \"2017-02-08T22:43:43.0270213Z\",\r\n  \"vmSize\": \"small\",\r\n  \"resizeTimeout\": \"PT15M\",\r\n  \"currentDedicated\": 3,\r\n  \"targetDedicated\": 3,\r\n  \"enableAutoScale\": false,\r\n  \"enableInterNodeCommunication\": true,\r\n  \"maxTasksPerNode\": 1,\r\n  \"taskSchedulingPolicy\": {\r\n    \"nodeFillType\": \"Spread\"\r\n  },\r\n  \"cloudServiceConfiguration\": {\r\n    \"osFamily\": \"4\",\r\n    \"targetOSVersion\": \"*\",\r\n    \"currentOSVersion\": \"*\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Wed, 08 Feb 2017 22:42:37 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D45073C8128958"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs?api-version=2017-01-01.4.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"listSubtaskJob\",\r\n  \"priority\": 0,\r\n  \"poolInfo\": {\r\n    \"poolId\": \"mpiPool\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Thu, 09 Feb 2017 17:16:56 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Thu, 09 Feb 2017 17:16:56 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://jstesteastus2.eastus2.batch.azure.com/jobs/job-1"
        ],
        "ETag": [
          "0x8D4510F73724F0A"
        ],
        "Location": [
          "https://jstesteastus2.eastus2.batch.azure.com/jobs/job-1"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/listSubtaskJob/tasks?api-version=2017-01-01.4.0",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"id\": \"testTask\",\r\n  \"commandLine\": \"cmd /c hostname\",\r\n  \"userIdentity\": {\r\n    \"autoUser\": {\r\n      \"scope\": \"task\",\r\n      \"elevationLevel\": \"nonAdmin\"\r\n    }\r\n  },\r\n  \"multiInstanceSettings\": {\r\n    \"numberOfInstances\": 3,\r\n    \"coordinationCommandLine\": \"cmd /c echo coordinating\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata; charset=utf-8"
        ],
        "ocp-date": [
          "Thu, 09 Feb 2017 17:16:57 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Last-Modified": [
          "Thu, 09 Feb 2017 17:16:55 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "DataServiceId": [
          "https://jstesteastus2.eastus2.batch.azure.com/jobs/listSubtaskJob/tasks/testTask"
        ],
        "ETag": [
          "0x8D4510F72D22777"
        ],
        "Location": [
          "https://jstesteastus2.eastus2.batch.azure.com/jobs/listSubtaskJob/tasks/testTask"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/jobs/listSubtaskJob/tasks/testTask?api-version=2017-01-01.4.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 09 Feb 2017 17:16:57 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://jstesteastus2.eastus2.batch.azure.com/$metadata#tasks/@Element\",\r\n  \"id\": \"testTask\",\r\n  \"url\": \"https://jstesteastus2.eastus2.batch.azure.com/jobs/listSubtaskJob/tasks/testTask\",\r\n  \"eTag\": \"0x8D4510F72D22777\",\r\n  \"creationTime\": \"2017-02-09T17:16:55.8817143Z\",\r\n  \"lastModified\": \"2017-02-09T17:16:55.8817143Z\",\r\n  \"state\": \"active\",\r\n  \"stateTransitionTime\": \"2017-02-09T17:16:55.8817143Z\",\r\n  \"commandLine\": \"cmd /c hostname\",\r\n  \"userIdentity\": {\r\n    \"autoUser\": {\r\n      \"scope\": \"task\",\r\n      \"elevationLevel\": \"nonadmin\"\r\n    }\r\n  },\r\n  \"multiInstanceSettings\": {\r\n    \"numberOfInstances\": 3,\r\n    \"coordinationCommandLine\": \"cmd /c echo coordinating\"\r\n  },\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"retentionTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"executionInfo\": {\r\n    \"retryCount\": 0,\r\n    \"requeueCount\": 0\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Thu, 09 Feb 2017 17:16:55 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D4510F72D22777"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/listSubtaskJob/tasks/testTask?api-version=2017-01-01.4.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 09 Feb 2017 17:17:06 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://jstesteastus2.eastus2.batch.azure.com/$metadata#tasks/@Element\",\r\n  \"id\": \"testTask\",\r\n  \"url\": \"https://jstesteastus2.eastus2.batch.azure.com/jobs/listSubtaskJob/tasks/testTask\",\r\n  \"eTag\": \"0x8D4510F72D22777\",\r\n  \"creationTime\": \"2017-02-09T17:16:55.8817143Z\",\r\n  \"lastModified\": \"2017-02-09T17:16:55.8817143Z\",\r\n  \"state\": \"completed\",\r\n  \"stateTransitionTime\": \"2017-02-09T17:17:00.8830551Z\",\r\n  \"previousState\": \"running\",\r\n  \"previousStateTransitionTime\": \"2017-02-09T17:16:57.2988704Z\",\r\n  \"commandLine\": \"cmd /c hostname\",\r\n  \"userIdentity\": {\r\n    \"autoUser\": {\r\n      \"scope\": \"task\",\r\n      \"elevationLevel\": \"nonadmin\"\r\n    }\r\n  },\r\n  \"multiInstanceSettings\": {\r\n    \"numberOfInstances\": 3,\r\n    \"coordinationCommandLine\": \"cmd /c echo coordinating\"\r\n  },\r\n  \"constraints\": {\r\n    \"maxWallClockTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"retentionTime\": \"P10675199DT2H48M5.4775807S\",\r\n    \"maxTaskRetryCount\": 0\r\n  },\r\n  \"executionInfo\": {\r\n    \"startTime\": \"2017-02-09T17:16:57.2988704Z\",\r\n    \"endTime\": \"2017-02-09T17:17:00.8830551Z\",\r\n    \"exitCode\": 0,\r\n    \"retryCount\": 0,\r\n    \"requeueCount\": 0\r\n  },\r\n  \"nodeInfo\": {\r\n    \"affinityId\": \"TVM:tvm-3491083306_1-20170208t224341z\",\r\n    \"nodeUrl\": \"https://jstesteastus2.eastus2.batch.azure.com/pools/mpiPool/nodes/tvm-3491083306_1-20170208t224341z\",\r\n    \"poolId\": \"mpiPool\",\r\n    \"nodeId\": \"tvm-3491083306_1-20170208t224341z\",\r\n    \"taskRootDirectory\": \"workitems\\\\listsubtaskjob\\\\job-1\\\\testtask\\\\0\",\r\n    \"taskRootDirectoryUrl\": \"https://jstesteastus2.eastus2.batch.azure.com/pools/mpiPool/nodes/tvm-3491083306_1-20170208t224341z/files/workitems/listsubtaskjob/job-1/testtask/0\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "Last-Modified": [
          "Thu, 09 Feb 2017 17:16:55 GMT"
        ],
        "DataServiceVersion": [
          "3.0"
        ],
        "ETag": [
          "0x8D4510F72D22777"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/jobs/listSubtaskJob/tasks?api-version=2017-01-01.4.0&$filter=id%20eq%20'testTask'&$select=id%2Cstate",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 09 Feb 2017 17:16:57 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://jstesteastus2.eastus2.batch.azure.com/$metadata#tasks\",\r\n  \"value\": [\r\n    {\r\n      \"id\": \"testTask\",\r\n      \"state\": \"active\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; odata=minimalmetadata"
        ],
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/jobs/listSubtaskJob/tasks/testTask/subtasksinfo?api-version=2017-01-01.4.0",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 09 Feb 2017 17:17:06 GMT"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://jstesteastus2.eastus2.batch.azure.com/$metadata#subtaskinfo\",\r\n  \"value\": [\r\n    {\r\n      \"id\": 1,\r\n      \"startTime\": \"2017-02-09T17:16:57.4950705Z\",\r\n[...]
[...]
    {
      "RequestUri": "/jobs/listSubtaskJob?api-version=2017-01-01.4.0",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "ocp-date": [
          "Thu, 09 Feb 2017 17:17:06 GMT"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 202
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "46241355-bb95-46a9-ba6c-42b554d71925",
    "AZURE_BATCH_ACCOUNT": "jstesteastus2",
    "AZURE_BATCH_ENDPOINT": "https://jstesteastus2.eastus2.batch.azure.com",
    "AZURE_BATCH_RESOURCE_GROUP": "default-eastus"
  }
}