{
  "Get-AzDataBoundaryTenant+[NoContext]+Get+$GET+https://management.azure.com/providers/Microsoft.Resources/dataBoundaries/default?api-version=2024-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Resources/dataBoundaries/default?api-version=2024-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-reads": [ "249" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.Resources/dataBoundaries/8e3c5456-cb2d-4f52-bef9-4581cf5eb1cb\",\"name\":\"8e3c5456-cb2d-4f52-bef9-4581cf5eb1cb\",\"properties\":{\"dataBoundary\":\"EU\",\"provisioningState\":\"Created\"}}",
    }
  }
}