{
  "Set-AzDataBoundary+[NoContext]+Put+$PUT+https://management.azure.com/providers/Microsoft.Resources/dataBoundaries/default?api-version=2024-08-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Resources/dataBoundaries/default?api-version=2024-08-01",
      "Content": "{\r\n  \"properties\": {\r\n    \"dataBoundary\": \"EU\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 403,
      "Headers": {
        "x-ms-failure-cause": [ "gateway" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"error\":{\"code\":\"AuthorizationFailed\",\"message\":\"The client \u0027skadhiresan@microsoft.com\u0027 with object id \u0027ee9b91a6-4b39-4fb5-ba1e-b0a4e6bcd2a0\u0027 does not have authorization to perform action \u0027Microsoft.Resources/dataBoundaries/write\u0027 over scope \u0027/providers/Microsoft.Resources/dataBoundaries/default\u0027 or the scope is invalid. If access was recently granted, please refresh your credentials.\"}}",
    }
  }
}