{
  "Get-AzDynatraceMonitorMarketplaceSaaSResourceDetail+[NoContext]+GetExpanded+$POST+https://management.azure.com/subscriptions/b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c/providers/Dynatrace.Observability/getMarketplaceSaaSResourceDetails?api-version=2024-04-24+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c/providers/Dynatrace.Observability/getMarketplaceSaaSResourceDetails?api-version=2024-04-24",
      "Content": "{\n  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "448eb61e-8b57-4e9b-afd9-336d90d24868" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "199" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"marketplaceSaaSResourceId\":\"8cb20ec6-1b80-4fb7-c79b-51b7bb2b505f\",\"marketplaceSaaSResourceName\":\"MpDt_auto-renew-testi_d9c2a45e-9c0c-4de0-9546-9cb060df7f43\",\"planId\":\"dynatrace_azure_trial\",\"marketplaceSubscriptionStatus\":\"Subscribed\"}",
    }
  }
}