{
  "Update-AzDynatraceMonitor+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/subscriptions/b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c/resourceGroups/dyobrgucrdmo/providers/Dynatrace.Observability/monitors/dyobtpb4k8?api-version=2024-04-24+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c/resourceGroups/dyobrgucrdmo/providers/Dynatrace.Observability/monitors/dyobtpb4k8?api-version=2024-04-24",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "68" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"41005075-0000-0100-0000-690c75ec0000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "249" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "3749" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c/resourceGroups/dyobrgucrdmo/providers/Dynatrace.Observability/monitors/dyobtpb4k8\",\"name\":\"dyobtpb4k8\",\"type\":\"dynatrace.observability/monitors\",\"location\":\"eastus\",\"systemData\":{\"createdBy\":\"arushiarora@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-11-06T10:15:01.9874519Z\",\"lastModifiedBy\":\"dba650ed-9577-4bc0-9b5f-ef73e2d5bdfc\",\"lastModifiedByType\":\"Application\",\"lastModifiedAt\":\"2025-11-06T10:18:20.4743738Z\"},\"properties\":{\"monitoringStatus\":\"Enabled\",\"marketplaceSubscriptionStatus\":\"Active\",\"dynatraceEnvironmentProperties\":{\"userId\":\"246a4351-40f4-40d1-855c-f785e9b6530d\",\"accountInfo\":{\"accountId\":\"c8c08bfe-ce8a-4f4a-ba69-965ac51e1b56\",\"regionId\":\"eastus\"},\"environmentInfo\":{\"environmentId\":\"ayk78418\",\"logsIngestionEndpoint\":\"https://ayk78418.live.dynatrace.com/api/v2/logs/ingest\",\"landingURL\":\"https://ayk78418.live.dynatrace.com/\"},\"singleSignOnProperties\":{\"singleSignOnState\":\"Initial\",\"aadDomains\":[\"mpliftrlogz20210811outlook.onmicrosoft.com\"],\"provisioningState\":\"Accepted\"}},\"userInfo\":{\"firstName\":\"Lucas\",\"lastName\":\"Yao\",\"emailAddress\":\"agarwalshiv@microsoft.com\"},\"planData\":{\"usageType\":\"COMMITTED\",\"billingCycle\":\"MONTHLY\",\"planDetails\":\"azureportalintegration_privatepreview@TIDgmz7xq9ge3py\",\"effectiveDate\":\"2025-11-06T10:18:07.3546628Z\"},\"liftrResourceCategory\":\"MonitorLogs\",\"liftrResourcePreference\":0,\"provisioningState\":\"Succeeded\"}}",
    }
  },
  "Update-AzDynatraceMonitor+[NoContext]+UpdateExpanded+$PUT+https://management.azure.com/subscriptions/b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c/resourceGroups/dyobrgucrdmo/providers/Dynatrace.Observability/monitors/dyobtpb4k8?api-version=2024-04-24+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c/resourceGroups/dyobrgucrdmo/providers/Dynatrace.Observability/monitors/dyobtpb4k8?api-version=2024-04-24",
      "Content": "{\n  \"tags\": {\n    \"key\": \"test\"\n  },\n  \"location\": \"eastus\",\n  \"properties\": {\n    \"dynatraceEnvironmentProperties\": {\n      \"accountInfo\": {\n        \"accountId\": \"c8c08bfe-ce8a-4f4a-ba69-965ac51e1b56\",\n        \"regionId\": \"eastus\"\n      },\n      \"environmentInfo\": {\n        \"environmentId\": \"ayk78418\",\n        \"logsIngestionEndpoint\": \"https://ayk78418.live.dynatrace.com/api/v2/logs/ingest\",\n        \"landingURL\": \"https://ayk78418.live.dynatrace.com/\"\n      },\n      \"singleSignOnProperties\": {\n        \"singleSignOnState\": \"Initial\",\n        \"aadDomains\": [ \"mpliftrlogz20210811outlook.onmicrosoft.com\" ]\n      },\n      \"userId\": \"246a4351-40f4-40d1-855c-f785e9b6530d\"\n    },\n    \"userInfo\": {\n      \"firstName\": \"Lucas\",\n      \"lastName\": \"Yao\",\n      \"emailAddress\": \"agarwalshiv@microsoft.com\"\n    },\n    \"planData\": {\n      \"usageType\": \"COMMITTED\",\n      \"billingCycle\": \"MONTHLY\",\n      \"planDetails\": \"azureportalintegration_privatepreview@TIDgmz7xq9ge3py\",\n      \"effectiveDate\": \"2025-11-06T10:18:07.3546628Z\"\n    },\n    \"monitoringStatus\": \"Enabled\",\n    \"marketplaceSubscriptionStatus\": \"Active\"\n  },\n  \"identity\": {\n    \"type\": \"None\"\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 400,
      "Headers": {
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "dde2f6d9-0256-4529-8e45-cae625cd081f" ],
        "x-ms-failure-cause": [ "service" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "199" ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [ "2999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"error\":{\"code\":\"ResourceCreationValidateFailed\",\"message\":\"The resource validation failed.\"}}",
    }
  },
  "Update-AzDynatraceMonitor+[NoContext]+UpdateViaIdentityExpanded+$GET+https://management.azure.com/subscriptions/b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c/resourceGroups/dyobrgucrdmo/providers/Dynatrace.Observability/monitors/dyobtpb4k8?api-version=2024-04-24+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/b16e4b4e-2ed8-4f32-bac1-0e3eb56bef5c/resourceGroups/dyobrgucrdmo/providers/Dynatra[...]
