{
  "Add-AzGuestSubscription+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000099/providers/Microsoft.ComputeLimit/locations/eastus/guestSubscriptions/00000000-0000-0000-0000-000000000001?api-version=2025-08-15+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000099/providers/Microsoft.ComputeLimit/locations/eastus/guestSubscriptions/00000000-0000-0000-0000-000000000001?api-version=2025-08-15",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000099/providers/Microsoft.ComputeLimit/locations/eastus/guestSubscriptions/00000000-0000-0000-0000-000000000001\",\"name\":\"00000000-0000-0000-0000-000000000001\",\"type\":\"Microsoft.ComputeLimit/locations/guestSubscriptions\",\"properties\":{\"provisioningState\":\"Succeeded\"},\"systemData\":{\"createdBy\":\"user@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2026-03-12T12:00:00.0000000Z\",\"lastModifiedBy\":\"user@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2026-03-12T12:00:00.0000000Z\"}}",
    }
  }
}
