{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/providers/Microsoft.Web?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/providers/Microsoft.Web\",\r\n  \"namespace\": \"Microsoft.Web\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"abfa0a7c-a6b6-4736-8310-5855508787cd\",\r\n    \"roleDefinitionId\": \"f47ed98b-b063-4a5b-9e10-4b9b44fa7735\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"publishingUsers\",\r\n      \"locations\": [\r\n        \"Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"Southeast Asia\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"West US\",\r\n        \"East US\",\r\n        \"Japan West\",\r\n        \"Japan East\",\r\n        \"East Asia\",\r\n        \"East US 2\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Brazil South\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"West India\",\r\n        \"Central India\",\r\n        \"South India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West Central US\",\r\n        \"UK West\",\r\n        \"UK South\",\r\n        \"West US 2\",\r\n        \"MSFT West US\",\r\n        \"MSFT East US\",\r\n        \"MSFT East Asia\",\r\n        \"MSFT North Europe\",\r\n        \"East US 2 (Stage)\",\r\n        \"East Asia (Stage)\",\r\n        \"Central US (Stage)\",\r\n        \"North Central US (Stage)\",\r\n        \"France Central\",\r\n        \"South Africa North\",\r\n        \"Australia Central\",\r\n        \"Switzerland North\",\r\n        \"Germany West Central\",\r\n        \"Norway East\",\r\n        \"UAE North\",\r\n        \"East US 2 EUAP\",\r\n        \"Central US EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2020-10-01\",\r\n        \"2020-09-01\",\r\n        \"2020-06-01\",\r\n        \"2019-08-01\",\r\n        \"2018-11-01\",\r\n        \"2018-02-01\",\r\n        \"2016-03-01\",\r\n        \"2015-08-01\",\r\n        \"2015-07-01\",\r\n        \"2015-06-01\",\r\n        \"2015-05-01\",\r\n        \"2015-04-01\",\r\n        \"2015-02-01\",\r\n        \"2014-11-01\",\r\n        \"2014-06-01\",\r\n        \"2014-04-01-preview\",\r\n        \"2014-04-01\"\r\n      ]\r\n    },\r\n    {\r[...]
    {
      "RequestUri": "/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/resourcegroups/ps7622?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/resourceGroups/ps7622\",\r\n  \"name\": \"ps7622\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/resourceGroups/ps7622/providers/Microsoft.Network/virtualNetworks/ps7622-vnet?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/ps7622-vnet' under resource group 'ps7622' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/resourceGroups/ps7622/providers/Microsoft.Network/virtualNetworks/ps7622-vnet?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"7082b91e-701e-4bef-90e6-3692bddd98d9\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps7622-vnet\",\r\n  \"id\": \"/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/resourceGroups/ps7622/providers/Microsoft.Network/virtualNetworks/ps7622-vnet\",\r\n  \"etag\": \"W/\\\"7082b91e-701e-4bef-90e6-3692bddd98d9\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"350858dc-5e81-417b-ade3-e991eab85315\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"aseSubnet\",\r\n        \"id\": \"/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/resourceGroups/ps7622/providers/Microsoft.Network/virtualNetworks/ps7622-vnet/subnets/aseSubnet\",\r\n        \"etag\": \"W/\\\"7082b91e-701e-4bef-90e6-3692bddd98d9\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/resourceGroups/ps7622/providers/Microsoft.Network/virtualNetworks/ps7622-vnet?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"ipAllocations\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"name\": \"aseSubnet\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"ipAllocations\": []\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "3"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/providers/Microsoft.Network/locations/westus/operations/3458637d-c18f-4da5-8910-e46c529416f5?api-version=2020-06-01"
        ],
        "Azure-AsyncNotification": [
          "Enabled"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps7622-vnet\",\r\n  \"id\": \"/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/resourceGroups/ps7622/providers/Microsoft.Network/virtualNetworks/ps7622-vnet\",\r\n  \"etag\": \"W/\\\"acefdeb4-7761-4927-81df-285e99fa0b8c\\\"\",\r\n  \"type\": \"Mi[...]
    {
      "RequestUri": "/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/providers/Microsoft.Network/locations/westus/operations/3458637d-c18f-4da5-8910-e46c529416f5?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/providers/Microsoft.Network/virtualNetworks?api-version=2020-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "1b428637-f265-4fa5-b6cf-f41a82c4c23d",
          "f813dd97-4db9-4c16-9980-c893438a7d08"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"ps7622-vnet\",\r\n      \"id\": \"/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/resourceGroups/ps7622/providers/Microsoft.Network/virtualNetworks/ps7622-vnet\",\r\n      \"etag\": \"W/\\\"7082b91e-701e-4bef-90e6-3692bddd98d9\\\"\",\r\n      \"type\": \"Microsoft.Network/virtualNetworks\",\r\n      \"location\": \"westus\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceGuid\": \"350858dc-5e81-417b-ade3-e991e[...]
    {
      "RequestUri": "/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/resourceGroups/ps7622/providers/Microsoft.Network/virtualNetworks/ps7622-vnet/subnets/aseSubnet?api-version=2020-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"7082b91e-701e-4bef-90e6-3692bddd98d9\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"aseSubnet\",\r\n  \"id\": \"/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/resourceGroups/ps7622/providers/Microsoft.Network/virtualNetworks/ps7622-vnet/subnets/aseSubnet\",\r\n  \"etag\": \"W/\\\"7082b91e-701e-4bef-90e6-3692bddd98d9\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n    \"serviceEndpoints\": [],\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/resourceGroups/ps7622/providers/Microsoft.Network/virtualNetworks/ps7622-vnet/subnets/aseSubnet?api-version=2020-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "W/\"9a769f0b-d426-4e56-a741-5680400e6595\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"aseSubnet\",\r\n  \"id\": \"/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/resourceGroups/ps7622/providers/Microsoft.Network/virtualNetworks/ps7622-vnet/subnets/aseSubnet\",\r\n  \"etag\": \"W/\\\"9a769f0b-d426-4e56-a741-5680400e6595\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n    \"serviceEndpoints\": [],\r\n    \"delegations\": [\r\n      {\r\n        \"name\": \"delegation\",\r\n        \"id\": \"/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/resourceGroups/ps7622/providers/Microsoft.Network/virtualNetworks/ps7622-vnet/subnets/aseSubnet/delegations/delegation\",\r\n        \"etag\": \"W/\\\"9a769f0b-d426-4e56-a741-5680400e6595\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"serviceName\": \"Microsoft.Web/hostingEnvironments\",\r\n          \"actions\": [\r\n            \"Microsoft.Network/virtualNetworks/subnets/action\"\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets/delegations\"\r\n      }\r\n    ],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/resourceGroups/ps7622/providers/Microsoft.Web/hostingEnvironments/ps7622-ase?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"name\": \"ps7622-ase\",\r\n    \"location\": \"West US\",\r\n    \"virtualNetwork\": {\r\n      \"id\": \"/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/resourceGroups/ps7622/providers/Microsoft.Network/virtualNetworks/ps7622-vnet/subnets/aseSubnet\"\r\n    },\r\n    \"workerPools\": []\r\n  },\r\n  \"kind\": \"ASEv2\",\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/resourceGroups/ps7622/providers/Microsoft.Web/hostingEnvironments/ps7622-ase\",\r\n  \"name\": \"ps7622-ase\",\r\n  \"type\": \"Microsoft.Web/hostingEnvironments\",\r\n  \"kind\": \"ASEV2\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"name\": \"ps7622-ase\",\r\n    \"location\": \"West US\",\r\n    \"provisioningState\": \"InProgress\",\r\n    \"fileServerRoleCount\": null,\r\n    \"status\": \"Preparing\",\r\n    \"publicHost\": \"waws-prod-bay-dd427fc9.cloudapp.net\",\r\n    \"vnetName\": \"ps7622-vnet\",\r\n    \"vnetResourceGroupName\": \"ps7622\",\r\n    \"vnetSubnetName\": \"aseSubnet\",\r\n    \"virtualNetwork\": {\r\n      \"id\": \"/subscriptions/a6f7834d-3304-4890-82af-ec04cb382539/resourceGroups/ps7622/providers/Microsoft.Network/virtualNetworks/ps7622-vnet/subnets/aseSubnet\",\r\n      \"name\": \"aseSubnet\",\r\n      \"type\": \"Microsoft.Network/virtualNetworks/subnets\",\r\n      \"subnet\": \"\"\r\n    },\r\n    \"internalLoadBalancingMode\": \"None\",\r\n    \"multiSize\": \"Standard_D1_V2\",\r\n    \"multiRoleCount\": 2,\r\n    \"workerPools\": null,\r\n    \"ipsslAddressCount\": 2,\r\n    \"databaseEdition\": \"Standard\",\r\n    \"databaseServiceObjective\": \"S1\",\r\n    \"upgradeDomains\": 20,\r\n    \"subscriptionId\": \"a6f7834d-3304-4890-82af-ec04cb382539\",\r\n    \"dnsSuffix\": \"ps7622-ase.p.azurewebsites.net\",\r\n    \"lastAction\": \"PrevalidateAndStompDeploy\",\r\n    \"lastActionResult\": \"Created\",\r\n    \"allowedMultiSizes\": \"Medium,Large,ExtraLarge,Standard_D2,Standard_D3,Standard_D4,Standard_D1_V2,Standard_D2_V2,Standard_D3_V2,Standard_D4_V2\",\r\n    \"allowedWorkerSizes\": \"Small,Medium,Large,ExtraLarge,Standard_D1,Standard_D2,Standard_D3,Standard_D4,Standard_D1_V2,Standard_D2_V2,Standard_D3_V2,Standard_D4_V2\",\r\n    \"maximumNumberOfMachines\": 250,\r\n    \"vipMappings\": null,\r\n    \"environmentCapacities\": null,\r\n    \"networkAccessControlList\": [],\r\n    \"environmentIsHealthy\": true,\r\n    \"environmentStatus\": null,\r\n    \"resourceGroup\": \"ps7622\",\r\n    \"frontEndScaleFactor\": 15,\r\n    \"defaultFrontEndScaleFactor\": 15,\r\n    \"apiManagementAccountId\": null,\r\n    \"suspended\": false,\r\n    \"dynamicCacheEnabled\": null,\r\n    \"clusterSettings\": null,\r\n    \"templateNameOverride\": null,\r\n    \"userWhitelistedIpRanges\": null,\r\n    \"hasLinuxWorkers\": false,\r\n    \"sslCertKeyVaultId\": null,\r\n    \"sslCertKeyVaultSecretName\": null,\r\n    \"privateEndpointConnections\": [],\r\n    \"upgradePreference\": \"None\",\r\n    \"osPreference\": \"Windows\",\r\n    \"dedicatedHostCount\": null\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
