{
  "Entries": [
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/ExpressRoutePortsLocations?api-version=2020-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Area51-ERDirect\",\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/expressRoutePortsLocations/Area51-ERDirect\",\r\n      \"type\": \"Microsoft.Network/expressRoutePortsLocations\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"address\": \"N/A\",\r\n        \"contact\": \"N/A\",\r\n        \"availableBandwidths\": []\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"CDC-Canberra\",\r\n      \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/expressRoutePortsLocations/CDC-Canberra\",\r\n      \"type\": \"Microsoft.Network/expressRoutePortsLocations\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"address\": \"2 Leonora Street, Fyshwick\",\r\n        \"contact\": \"contact@canberradc.com.au\",\r\n        \"availableBandwidth[...]
    {
      "RequestUri": "/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/ExpressRoutePortsLocations/Cheyenne-ERDirect?api-version=2020-07-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"Cheyenne-ERDirect\",\r\n  \"id\": \"/subscriptions/62364504-2406-418e-971c-05822ff72fad/providers/Microsoft.Network/expressRoutePortsLocations/Cheyenne-ERDirect\",\r\n  \"type\": \"Microsoft.Network/expressRoutePortsLocations\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"address\": \"N/A\",\r\n    \"contact\": \"N/A\",\r\n    \"availableBandwidths\": []\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "62364504-2406-418e-971c-05822ff72fad"
  }
}
