{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/c017063b-18ad-5e26-f4af-a4d7eff204cb%3A171df24e-c924-4c58-9daa-a0bdb1686fef_2019-05-31/billingProfiles?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11998"
        ],
        "x-ms-service-version": [
          "10.6.1271.445"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview, 2020-05-01"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Billing/billingAccounts/c017063b-18ad-5e26-f4af-a4d7eff204cb:171df24e-c924-4c58-9daa-a0bdb1686fef_2019-05-31/billingProfiles/RZKZ-H3N4-BG7-TGB\",\r\n      \"name\": \"RZKZ-H3N4-BG7-TGB\",\r\n      \"properties\": {\r\n        \"billTo\": {\r\n          \"addressLine1\": \"1 Microsoft Way\",\r\n          \"city\": \"Redmond\",\r\n          \"companyName\": \"TestTest_QCUS_BillingAccount\",\r\n          \"country\": \"US\",\r\n          \"email\": \"admin@TestTestQCUSBillAcct.onmicrosoft.com\",\r\n          \"phoneNumber\": \"4255551234\",\r\n          \"postalCode\": \"98052\",\r\n          \"region\": \"wa\"\r\n        },\r\n        \"currency\": \"USD\",\r\n        \"displayName\": \"Billing profile 01\",\r\n        \"enabledAzurePlans\": [\r\n          {\r\n            \"skuId\": \"0002\",\r\n            \"skuDescription\": \"Microsoft Azure Plan for DevTest\"\r\n          },\r\n          {\r\n            \"skuId\": \"0001\",\r\n            \"skuDescription\": \"Microsoft Azure Plan\"\r\n          }\r\n        ],\r\n        \"hasReadAccess\": true,\r\n        \"invoiceDay\": 5,\r\n        \"invoiceEmailOptIn\": true,\r\n        \"invoiceSections\": {\r\n          \"hasMoreResults\": false\r\n        },\r\n        \"poNumber\": \"399cnn3132\",\r\n        \"spendingLimit\": \"Off\",\r\n        \"status\": \"Warned\",\r\n        \"statusReasonCode\": \"PastDue\",\r\n        \"systemId\": \"RZKZ-H3N4-BG7-TGB\"\r\n      },\r\n      \"type\": \"Microsoft.Billing/billingAccounts/billingProfiles\"\r\n    },\r\n    {\r\n      \"id\": \"/providers/Microsoft.Billing/billingAccounts/c017063b-18ad-5e26-f4af-a4d7eff204cb:171df24e-c924-4c58-9daa-a0bdb1686fef_2019-05-31/billingProfiles/S2ZP-F6CT-BG7-TGB\",\r\n      \"name\": \"S2ZP-F6CT-BG7-TGB\",\r\n      \"properties\": {\r\n        \"billTo\": {\r\n          \"addressLine1\": \"One Microsoft Way\",\r\n          \"city\": \"Redmond\",\r\n          \"companyName\": \"Microsoft\",\r\n        [...]
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/c017063b-18ad-5e26-f4af-a4d7eff204cb%3A171df24e-c924-4c58-9daa-a0bdb1686fef_2019-05-31/billingProfiles/RZKZ-H3N4-BG7-TGB?api-version=2020-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11997"
        ],
        "x-ms-service-version": [
          "10.6.1271.445"
        ],
        "api-s[...]
