{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Billing/billingAccounts/723c8ce0-33ba-5ba7-ef23-e1b72f15f1d8%3A4ce5b530-c82b-44e8-97ec-49f3cce9f14d_2019-05-31/billingProfiles?api-version=2019-10-01-preview&$expand=enabledAzurePlans",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "x-ms-service-version": [
          "9.11.1075.352"
        ],
        "api-supported-versions": [
          "2018-11-01-preview, 2019-10-01-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/providers/Microsoft.Billing/billingAccounts/723c8ce0-33ba-5ba7-ef23-e1b72f15f1d8:4ce5b530-c82b-44e8-97ec-49f3cce9f14d_2019-05-31/billingProfiles/H6RI-TXWC-BG7-PGB\",\r\n      \"name\": \"H6RI-TXWC-BG7-PGB\",\r\n      \"properties\": {\r\n        \"address\": {\r\n          \"addressLine1\": \"390 8th Ave\",\r\n          \"city\": \"New York\",\r\n          \"companyName\": \"Canary Test EA Transition 2\",\r\n          \"country\": \"US\",\r\n          \"postalCode\": \"10001\",\r\n          \"region\": \"ny\"\r\n        },\r\n        \"enabledAzurePlans\": [\r\n          {\r\n            \"productId\": \"DZH318Z0BPS6\",\r\n            \"skuId\": \"0001\",\r\n            \"skuDescription\": \"Microsoft Azure Plan\"\r\n          },\r\n          {\r\n            \"productId\": \"DZH318Z0BPS6\",\r\n            \"skuId\": \"0002\",\r\n            \"skuDescription\": \"Microsoft Azure Plan for DevTest\"\r\n          }\r\n        ],\r\n        \"currency\": \"USD\",\r\n        \"displayName\": \"Canary Test EA Transition 2\",\r\n        \"hasReadAccess\": true,\r\n        \"invoiceDay\": 5,\r\n        \"invoiceEmailOptIn\": true\r\n      },\r\n      \"type\": \"Microsoft.Billing/billingAccounts/billingProfiles\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "df6e24cd-21d5-4f70-ac15-32bb1f8b4536"
  }
}