{
  "Get-AzEdgeOrderProductFamily+[NoContext]+ListExpanded+$POST+https://management.azure.com/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/providers/Microsoft.EdgeOrder/listProductFamilies?api-version=2021-12-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/providers/Microsoft.EdgeOrder/listProductFamilies?api-version=2021-12-01",
      "Content": "{\n  \"filterableProperties\": {\n    \"azurestackedge\": [\n      {\n        \"type\": \"ShipToCountries\",\n        \"supportedValues\": [ \"US\" ]\n      }\n    ]\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11994" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"productLines\": [\r\n          {\r\n            \"properties\": {\r\n              \"products\": [\r\n                {\r\n                  \"properties\": {\r\n                    \"configurations\": [],\r\n                    \"filterableProperties\": [\r\n                      {\r\n                        \"type\": \"ShipToCountries\",\r\n                        \"supportedValues\": [\r\n                          \"US\",\r\n                          \"AU\",\r\n                          \"CA\",\r\n                          \"HK\",\r\n                          \"JP\",\r\n                          \"MO\",\r\n                          \"MY\",\r\n                          \"NZ\",\r\n          [...]
