{
  "Update-AzEdgeOrderAddress+[NoContext]+UpdateExpanded+$PATCH+https://management.azure.com/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/databox-pwsh-rg-ny/providers/Microsoft.EdgeOrder/addresses/pwAddTestvca7?api-version=2021-12-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/databox-pwsh-rg-ny/providers/Microsoft.EdgeOrder/addresses/pwAddTestvca7?api-version=2021-12-01",
      "Content": "{\n  \"properties\": {\n    \"shippingAddress\": {\n      \"streetAddress1\": \"101 TOWNSEND ST\",\n      \"city\": \"San Francisco\",\n      \"stateOrProvince\": \"CA\",\n      \"country\": \"US\",\n      \"postalCode\": \"94107\",\n      \"addressType\": \"Commercial\"\n    },\n    \"contactDetails\": {\n      \"contactName\": \"random\",\n      \"phone\": \"1234567891\",\n      \"emailList\": [ \"dhja@microsoft.com\" ]\n    }\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1196" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"properties\": {\r\n    \"shippingAddress\": {\r\n      \"streetAddress1\": \"101 TOWNSEND ST\",\r\n      \"city\": \"San Francisco\",\r\n      \"stateOrProvince\": \"CA\",\r\n      \"country\": \"US\",\r\n      \"postalCode\": \"94107\",\r\n      \"addressType\": \"Commercial\"\r\n    },\r\n    \"contactDetails\": {\r\n      \"contactName\": \"random\",\r\n      \"phone\": \"1234567891\",\r\n      \"emailList\": [\r\n        \"dhja@microsoft.com\"\r\n      ]\r\n    },\r\n    \"addressValidationStatus\": \"Valid\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"dhja@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n    \"createdAt\": \"2021-11-23T09:23:25.5619786+00:00\",\r\n    \"lastModifiedBy\": \"dhja@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\": \"2021-11-23T09:24:44.3184867+00:00\"\r\n  },\r\n  \"location\": \"eastus\",\r\n  \"tags\": {},\r\n  \"name\": \"pwAddTestvca7\",\r\n  \"id\": \"/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/databox-pwsh-rg-ny/providers/Microsoft.EdgeOrder/addresses/pwAddTestvca7\",\r\n  \"type\": \"Microsoft.EdgeOrder/addresses\"\r\n}",
    }
  }
}