{
  "Entries": [
    {
      "RequestUri": "/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/resourcegroups/pstestrg7941?api-version=2014-04-01-preview",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31999"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/resourcegroups/pstestrg7941?api-version=2014-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/resourceGroups/pstestrg7941\",\r\n  \"name\": \"pstestrg7941\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/resourceGroups/pstestrg7941/resources?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31998"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/resourcegroups/pstestrg7941/providers/Microsoft.Authorization/permissions?api-version=2014-07-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"actions\": [\r\n        \"*\"\r\n      ],\r\n      \"notActions\": []\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31999"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/resourceGroups/pstestrg7941/providers/Microsoft.Storage/storageAccounts/stopstestrg7941?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_GRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "null",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "25"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/providers/Microsoft.Storage/operations/a7f7b841-aeb8-46ed-a52e-cad2bbadf5fc?monitor=true&api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/providers/Microsoft.Storage/operations/a7f7b841-aeb8-46ed-a52e-cad2bbadf5fc?monitor=true&api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "null",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "25"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/providers/Microsoft.Storage/operations/a7f7b841-aeb8-46ed-a52e-cad2bbadf5fc?monitor=true&api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31999"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/resourceGroups/pstestrg7941/providers/Microsoft.Storage/storageAccounts/stopstestrg7941?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/resourceGroups/pstestrg7941/providers/Microsoft.Storage/storageAccounts/stopstestrg7941\",\r\n  \"name\": \"stopstestrg7941\",\r\n  \"location\": \"West US\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"accountType\": \"Standard_GRS\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://stopstestrg7941.blob.core.windows.net/\",\r\n      \"queue\": \"https://stopstestrg7941.queue.core.windows.net/\",\r\n      \"table\": \"https://stopstestrg7941.table.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"West US\",\r\n    \"statusOfPrimary\": \"Available\",\r\n    \"secondaryLocation\": \"East US\",\r\n    \"statusOfSecondary\": \"Available\",\r\n    \"creationTime\": \"2015-04-21T02:25:46.5287076Z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31997"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/resourceGroups/pstestrg7941/providers/Microsoft.Storage/storageAccounts/stopstestrg7941?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/resourceGroups/pstestrg7941/providers/Microsoft.Storage/storageAccounts/stopstestrg7941\",\r\n  \"name\": \"stopstestrg7941\",\r\n  \"location\": \"West US\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"accountType\": \"Standard_RAGRS\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://stopstestrg7941.blob.core.windows.net/\",\r\n      \"queue\": \"https://stopstestrg7941.queue.core.windows.net/\",\r\n      \"table\": \"https://stopstestrg7941.table.core.windows.net/\"\r\n    },\r\n    \"secondaryEndpoints\": {\r\n      \"blob\": \"https://stopstestrg7941-secondary.blob.core.windows.net/\",\r\n      \"queue\": \"https://stopstestrg7941-secondary.queue.core.windows.net/\",\r\n      \"table\": \"https://stopstestrg7941-secondary.table.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"West US\",\r\n    \"statusOfPrimary\": \"Available\",\r\n    \"secondaryLocation\": \"East US\",\r\n    \"statusOfSecondary\": \"Available\",\r\n    \"creationTime\": \"2015-04-21T02:25:46.5287076Z\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31993"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/resourceGroups/pstestrg7941/providers/Microsoft.Storage/storageAccounts?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/resourceGroups/pstestrg7941/providers/Microsoft.Storage/storageAccounts/stopstestrg7941\",\r\n      \"name\": \"stopstestrg7941\",\r\n      \"location\": \"West US\",\r\n      \"type\": \"Microsoft.Storage/storageAccounts\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"accountType\": \"Standard_GRS\",\r\n        \"primaryEndpoints\": {\r\n          \"blob\": \"https://stopstestrg7941.blob.core.windows.net/\",\r\n          \"queue\": \"https://stopstestrg7941.queue.core.windows.net/\",\r\n          \"table\": \"https://stopstestrg7941.table.core.windows.net/\"\r\n        },\r\n        \"primaryLocation\": \"West US\",\r\n        \"statusOfPrimary\": \"Available\",\r\n        \"secondaryLocation\": \"East US\",\r\n        \"statusOfSecondary\": \"Available\",\r\n        \"creationTime\": \"2015-04-21T02:25:46.5287076Z\"\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": \"\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31995"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/resourceGroups/pstestrg7941/providers/Microsoft.Storage/storageAccounts/stopstestrg7941?api-version=2015-05-01-preview",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"accountType\": \"Standard_LRS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"Resource not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzc5NDEtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-04-01-preview"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31996"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzc5NDEtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2014-04-01-preview"
        ]
      },
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/a0d901ba-9956-4f7d-830c-2d7974c36666/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QU1RFU1RSRzc5NDEtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-04-01-preview"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31993"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-SetAzureStorageAccount": [
      "pstestrg7941"
    ]
  },
  "Variables": {
    "SubscriptionId": "a0d901ba-9956-4f7d-830c-2d7974c36666",
    "TenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
    "Domain": "microsoft.com"
  }
}
