{
  "Get-AzServiceLinkerConfigurationForWebapp+[NoContext]+Get+$POST+https://management.azure.com//subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-test-app/providers/Microsoft.ServiceLinker/linkers/preparedLinker/listConfigurations?api-version=2022-05-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com//subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-test-app/providers/Microsoft.ServiceLinker/linkers/preparedLinker/listConfigurations?api-version=2022-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "7f20d8aa-7bf1-4e47-af4a-ece7b8b3ff68" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"configurations\":[{\"name\":\"AZURE_POSTGRESQL_NAME\",\"value\":\"postgres\"},{\"name\":\"AZURE_POSTGRESQL_HOST\",\"value\":\"servicelinker-postgresql-function-test.postgres.database.azure.com\"},{\"name\":\"AZURE_POSTGRESQL_USER\",\"value\":\"servicelinker@servicelinker-postgresql-function-test\"},{\"name\":\"AZURE_POSTGRESQL_PASSWORD\",\"value\":\"microsoft123!\"}]}"
    }
  }
}