{
  "Get-AzServiceLinkerConfigurationForSpringcloud+[NoContext]+Get+$POST+https://management.azure.com//subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/e2etest/deployments/default/providers/Microsoft.ServiceLinker/linkers/preparedLinker/listConfigurations?api-version=2022-05-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com//subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.AppPlatform/Spring/servicelinker-springcloud/apps/e2etest/deployments/default/providers/Microsoft.ServiceLinker/linkers/preparedLinker/listConfigurations?api-version=2022-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "b5b9b4de-7820-499b-a662-430ef63db778" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"configurations\":[{\"name\":\"AZURE_POSTGRESQL_CONNECTIONSTRING\",\"value\":\"Server=servicelinker-postgresql.postgres.database.azure.com;Database=pollsdb;Port=5432;Ssl Mode=Require;User Id=servicelinker@servicelinker-postgresql;\"}]}",
    }
  }
}