{
  "Test-AzServiceLinkerForWebApp+[NoContext]+Validate+$POST+https://management.azure.com//subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-test-app/providers/Microsoft.ServiceLinker/linkers/preparedLinker/validateLinker?api-version=2022-11-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com//subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-test-app/providers/Microsoft.ServiceLinker/linkers/preparedLinker/validateLinker?api-version=2022-11-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "54" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/233660b0-40de-4caa-9cb5-075206d285cf*B991DCAFEBFF5C3A79EC9E2FD2F2ADE7A54C04792D45A2389E902AD7087E3F40?api-version=2021-01-01-privatepreview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1192" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "725339a3-36b7-4425-a653-442ea79108a9" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/233660b0-40de-4caa-9cb5-075206d285cf*B991DCAFEBFF5C3A79EC9E2FD2F2ADE7A54C04792D45A2389E902AD7087E3F40?api-version=2021-01-01-privatepreview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "bnVsbA==",
    }
  },
  "Test-AzServiceLinkerForWebApp+[NoContext]+Validate+$GET+https://management.azure.com/subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/233660b0-40de-4caa-9cb5-075206d285cf*B991DCAFEBFF5C3A79EC9E2FD2F2ADE7A54C04792D45A2389E902AD7087E3F40?api-version=2021-01-01-privatepreview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/233660b0-40de-4caa-9cb5-075206d285cf*B991DCAFEBFF5C3A79EC9E2FD2F2ADE7A54C04792D45A2389E902AD7087E3F40?api-version=2021-01-01-privatepreview",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "55" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"b2041a9e-0000-0100-0000-63d754230000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11964" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/233660b0-40de-4caa-9cb5-075206d285cf*B991DCAFEBFF5C3A79EC9E2FD2F2ADE7A54C04792D45A2389E902AD7087E3F40\",\"name\":\"233660b0-40de-4caa-9cb5-075206d285cf*B991DCAFEBFF5C3A79EC9E2FD2F2ADE7A54C04792D45A2389E902AD7087E3F40\",\"resourceId\":\"/subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/resourceGroups/servicelinker-test-linux-group/providers/Microsoft.Web/sites/servicelinker-test-app/providers/Microsoft.ServiceLinker/linkers/preparedLinker\",\"status\":\"Succeeded\",\"startTime\":\"2023-01-30T05:22:39.7280338Z\",\"endTime\":\"2023-01-30T05:22:43.6578975Z\",\"properties\":{\"Message\":\"{\\\"ConnectionName\\\":\\\"preparedLinker\\\",\\\"IsConnectionAvailable\\\":false,\\\"ValidationDetail\\\":[{\\\"Name\\\":\\\"The target existence is validated\\\",\\\"Description\\\":null,\\\"Result\\\":0},{\\\"Name\\\":\\\"The target\u0027s network access is validated\\\",\\\"Description\\\":\\\"Deny public network access is set to yes. Please confirm you are using private endpoint connection to access target resource.\\\",\\\"Result\\\":2},{\\\"Name\\\":\\\"The configured values is validated\\\",\\\"Description\\\":\\\"name of connection is incorrect\\\",\\\"Result\\\":1}],\\\"ReportStartTimeUtc\\\":\\\"2023-01-30T05:22:41.3441432Z\\\",\\\"ReportEndTimeUtc\\\":\\\"2023-01-30T05:22:42.4906781Z\\\",\\\"SourceId\\\":null,\\\"TargetId\\\":null,\\\"AuthType\\\":4}\",\"linkerName\":\"preparedLinker\",\"isConnectionAvailable\":false,\"validationDetail\":[{\"name\":\"The target existence is validated\",\"description\":null,\"result\":\"success\"},{\"name\":\"The target\u0027s network access is validated\",\"description\":\"Deny public network access is set to yes. Please confirm you are using private endpoint connection to access target resource.\",\"result\":\"warning\"},{\"name\":\"The configured values is validated\",\"description\":\"name of connection is incorrect\",\"result\":\"failure\"}],\"reportStartTimeUtc\":\"2023-01-30T05:22:41.3441432Z\",\"reportEndTimeUtc\":\"2023-01-30T05:22:42.4906781Z\",\"sourceId\":null,\"targetId\":null,\"authType\":\"secret\"}}",
    }
  },
  "Test-AzServiceLinkerForWebApp+[NoContext]+Validate+$GET+https://management.azure.com/subscriptions/937bc588-a144-4083-8612-5f9ffbbddb14/providers/Microsoft.ServiceLinker/locations/EASTUS/operationStatuses/233660b0-40de-4caa-9cb5-075206d285cf*B991DCAFEBFF5C3A79EC9E2FD2F2ADE7A54C04792D45A2389E902AD7087E3F40?api-version=2021-01-01-privatepreview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/937bc588-a144-40[...]
