{
  "Entries": [
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Advisor\",\r\n      \"namespace\": \"Microsoft.Advisor\",\r\n      \"authorization\": {\r\n        \"applicationId\": \"c39c9bac-9d1f-4dfb-aa29-27f6365e5cb7\",\r\n        \"roleDefinitionId\": \"8a63b04c-3731-409b-9765-f1175c047872\"\r\n      },\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"suppressions\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\",\r\n            \"2016-07-12-preview\",\r\n            \"2016-05-09-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"configurations\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"recommendations\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\",\r\n            \"2016-07-12-preview\",\r\n            \"2016-05-09-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"generateRecommendations\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\",\r\n            \"2016-07-12-preview\",\r\n            \"2016-05-09-preview\"\r\n          ]\r\n        },\r\n        {\r\n          \"resourceType\": \"operations\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-04-19\",\r\n            \"2017-03-31\",\r\n            \"2016-07-12-preview\",\r\n            \"2016-05-09-preview\"\r\n          ]\r\n        }\r\n      ],\r\n      \"registrationState\": \"Registered\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.AnalysisServices\",\r\n      \"namespace\": \"Microsoft.AnalysisServices\",\r\n      \"authorization\": {\r\n        \"applicationId\": \"4ac7d521-0382-477b-b0f8-7e1d95f85ca2\",\r\n        \"roleDefinitionId\": \"490d5987-bcf6-4be6-b6b2-056a78cb693a\"\r\n      },\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"servers\",\r\n          \"locations\": [\r\n            \"West US\",\r\n            \"North Europe\",\r\n            \"South Central US\",\r\n            \"West Europe\",\r\n            \"West Central US\",\r\n            \"Southeast Asia\",\r\n            \"East US 2\",\r\n            \"North Central US\",\r\n            \"Brazil South\",\r\n            \"Canada Central\",\r\n            \"Australia Southeast\",\r\n            \"Japan East\",\r\n            \"UK South\",\r\n            \"West India\",\r\n            \"West US 2\",\r\n            \"Central US\",\r\n            \"East US\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2017-08-01-beta\",\r\n            \"2017-08-01\",\r\n            \"2017-07-14\",\r\n            \"2016-05-16\"\r\n          ],\r\n          \"apiProfiles\": [\r\n            {\r\n              \"profileVersion\": \"2018-06-01-profile\",\r\n              \"apiVersion\": \"2017-08-01\"\r\n            }\r\n          ],\r\n          \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n        },\r\n        {\r\n          \"resourceType\": \"locations\",\r\n          \"locations\": [],\r\n          \"apiVersions\": [\r\n            \"2017-08-01-beta\",\r\n            \"2017-08-01\",\r\n            \"2017-07-14\",\r\n            \"2016-05-16\"\r\n          ],\r\n          \"apiProfiles\": [\r\n            {\r\n              \"profileVersion\": \"2018-06-01-profile\",\r\n              \"apiVersion\": \"2017-08[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network?api-version=2017-05-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-4804-adc4-14ece36cc7a1\"\r\n    },\r\n    {\r\n      \"applicationId\": \"7c33bfcb-8d33-48d6-8e60-dc6404003489\",\r\n      \"roleDefinitionId\": \"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3\"\r\n    },\r\n    {\r\n      \"applicationId\": \"1e3e4475-288f-4018-a376-df66fd7fac5f\",\r\n      \"roleDefinitionId\": \"1d538b69-3d87-4e56-8ff8-25786fd48261\"\r\n    },\r\n    {\r\n  [...]
