{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3ca49042-782a-4cc9-89b5-ee1b487fe115/providers?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/3ca49042-782a-4cc9-89b5-ee1b487fe115/providers/microsoft.batch\",\r\n      \"namespace\": \"microsoft.batch\",\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"batchAccounts\",\r\n          \"locations\": [\r\n            \"West US\",\r\n            \"East US\",\r\n            \"East US 2\",\r\n            \"North Central US\",\r\n            \"South Central US\",\r\n            \"Central US\",\r\n            \"West Europe\",\r\n            \"North Europe\",\r\n            \"East Asia\",\r\n            \"Southeast Asia\",\r\n            \"Japan West\",\r\n            \"Japan East\",\r\n            \"Brazil South\"\r\n          ],\r\n          \"apiVersions\": [\r\n            \"2014-05-01-privatepreview\"\r\n          ]\r\n        }\r\n      ],\r\n      \"registrationState\": \"Unregistered\"\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/3ca49042-782a-4cc9-89b5-ee1b487fe115/providers/microsoft.cache\",\r\n      \"namespace\": \"microsoft.cache\",\r\n      \"resourceTypes\": [\r\n        {\r\n          \"resourceType\": \"Redis\",\r\n          \"locations\": [\r\n            \"North Central US\",\r\n            \"South Central US\",\r\n            \"Central US\",\r\n            \"West Europe\",\r\n            \"North Europe\",\r\n            \"West US\",\r\n  [...]
[...]
    {
      "RequestUri": "/providers/microsoft.insights/operations?api-version=2015-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Insights/AlertRules/Write\",\r\n      \"display\": {\r\n        \"publisher\": \"Microsoft\",\r\n        \"provider\": \"Microsoft Monitoring Insights\",\r\n        \"resource\": \"Alert Rules\",\r\n        \"operation\": \"Alert Rule write\",\r\n        \"description\": \"Writing to an alert rule configuration\"\r\n      },\r\n      \"properties\": {}\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Insights/AlertRules/Delete\",\r\n      \"display\": {\r\n        \"publisher\": \"Microsoft\",\r\n        \"provider\": \"Microsoft Monitoring Insights\",\r\n        \"resource\": \"Alert Rules\",\r\n        \"operation\": \"Alert Rule delete\",\r\n        \"description\": \"Deleting an alert rule configuration\"\r\n      },\r\n      \"properties\": {}\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.Insights/AlertRules/Read\",\r\n      \"di[...]
[...]
    {
      "RequestUri": "/providers/Microsoft.Authorization/operations?api-version=2015-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Authorization/classicAdministrators/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Authorization\",\r\n        \"resource\": \"Classic Administrator\",\r\n        \"operation\": \"Get Administrator\",\r\n   [...]
[...]
    {
      "RequestUri": "/providers/Microsoft.ClassicCompute/operations?api-version=2014-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.ClassicCompute/domainNames/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft ClassicCompute\",\r\n        \"resource\": \"Domain Name\",\r\n        \"operation\": \"Gets Domain Names\",\r\n        \"descriptio[...]
[...]
    {
      "RequestUri": "/providers/Microsoft.ClassicNetwork/operations?api-version=2014-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.ClassicNetwork/virtualNetworks/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft ClassicNetwork\",\r\n        \"resource\": \"Virtual Network\",\r\n        \"operation\": \"Get Virtual Network\",\r\n        \"[...]
[...]
    {
      "RequestUri": "/providers/Microsoft.ClassicStorage/operations?api-version=2014-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.ClassicStorage/storageAccounts/read\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft ClassicStorage\",\r\n        \"resource\": \"Storage Account\",\r\n        \"operation\": \"Get The Storage Account\",\r\n      [...]
[...]
    {
      "RequestUri": "/providers/Microsoft.OperationalInsights/operations?api-version=2014-11-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.OperationalInsights/workspaces/write\",\r\n      \"display\": {\r\n        \"provider\": \"Microsoft Operational Insights\",\r\n        \"resource\": \"Workspaces\",\r\n        \"operation\": \"Create Workspace\",\r\n      [...]
[...]
    {
      "RequestUri": "/providers/Microsoft.Insights/operations?api-version=2015-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Insights/AlertRules/Write\",\r\n      \"display\": {\r\n        \"publisher\": \"Microsoft\",\r\n        \"provider\": \"Microsoft Monitoring Insights\",\r\n        \"resource\": \"Alert Rules\",\r\n        \"operation\": \"Alert Rule[...]
[...]
    {
      "RequestUri": "/providers/MicROsoFt.InSIghTs/operations?api-version=2015-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.Insights/AlertRules/Write\",\r\n      \"display\": {\r\n        \"publisher\": \"Microsoft\",\r\n        \"provider\": \"Microsoft Monitoring Insights\",\r\n        \"resource\": \"Alert Rules\",\r\n        \"operation\": \"Alert Rule[...]
