{
  "New-AzSapMonitor+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.HanaOnAzure/sapMonitors/sapMonitor-wrlm5y-test?api-version=2020-02-07-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.HanaOnAzure/sapMonitors/sapMonitor-wrlm5y-test?api-version=2020-02-07-preview",
      "Content": "{\n  \"location\": \"westus2\",\n  \"properties\": {\n    \"enableCustomerAnalytics\": true,\n    \"logAnalyticsWorkspaceArmId\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/costmanagement-rg-r3ox95/providers/microsoft.operationalinsights/workspaces/monitoringworkspace-4qo1xt\",\n    \"logAnalyticsWorkspaceId\": \"\",\n    \"logAnalyticsWorkspaceSharedKey\": \"Qf/scKlrNjkyMot3WIlWvw1/p3c1+1uRtu5fRI0ihpws92OqawKurEYuODmGlkfb81gfW03zTITzOF1QARpF6w==\",\n    \"monitorSubnet\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.Network/virtualNetworks/vnet-sap/subnets/subnet-admin\"\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/45cbdd2c-56af-4eb4-bd5d-a49da76eff4a?api-version=2020-02-07-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ],
        "azure-asyncoperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/45cbdd2c-56af-4eb4-bd5d-a49da76eff4a?api-version=2020-02-07-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n  \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.HanaOnAzure/sapMonitors/sapMonitor-wrlm5y-test\",\n  \"location\": \"westus2\",\n  \"name\": \"sapMonitor-wrlm5y-test\",\n  \"tags\": {},\n  \"type\": \"Microsoft.HanaOnAzure/sapMonitors\",\n  \"properties\": {\n   \"provisioningState\": \"Accepted\",\n   \"managedResourceGroupName\": \"\",\n   \"enableCustomerAnalytics\": true,\n   \"sapMonitorCollectorVersion\": \"\",\n   \"logAnalyticsWorkspaceArmId\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourcegroups/costmanagement-rg-r3ox95/providers/microsoft.operationalinsights/workspaces/monitoringworkspace-4qo1xt\",\n   \"logAnalyticsWorkspaceSharedKey\": \"Qf/scKlrNjkyMot3WIlWvw1/p3c1+1uRtu5fRI0ihpws92OqawKurEYuODmGlkfb81gfW03zTITzOF1QARpF6w==\",\n   \"monitorSubnet\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.Network/virtualNetworks/vnet-sap/subnets/subnet-admin\"\n  }\n }"
    }
  },
  "New-AzSapMonitor+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/45cbdd2c-56af-4eb4-bd5d-a49da76eff4a?api-version=2020-02-07-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/45cbdd2c-56af-4eb4-bd5d-a49da76eff4a?api-version=2020-02-07-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1", "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/45cbdd2c-56af-4eb4-bd5d-a49da76eff4a?api-version=2017-11-03-preview" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11994" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n  \"name\": \"45cbdd2c-56af-4eb4-bd5d-a49da76eff4a\",\n  \"status\": \"InProgress\",\n  \"startTime\": \"2020-07-06T06:16:26.2984518Z\",\n  \"error\": {\n   \"code\": \"\",\n   \"message\": \"\"\n  }\n }"
    }
  },
  "New-AzSapMonitor+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/45cbdd2c-56af-4eb4-bd5d-a49da76eff4a?api-version=2017-11-03-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operation[...]
