{
  "New-AzSapMonitorProviderInstance+[NoContext]+CreateExpandedByString+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.HanaOnAzure/sapMonitors/sapMonitor-wrlm5y-test/providerInstances/sapInstance-ywnfxq?api-version=2020-02-07-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.HanaOnAzure/sapMonitors/sapMonitor-wrlm5y-test/providerInstances/sapInstance-ywnfxq?api-version=2020-02-07-preview",
      "Content": "{\n  \"properties\": {\n    \"type\": \"SapHana\",\n    \"metadata\": \"null\",\n    \"properties\": \"{\\n  \\\"hanaHostname\\\": \\\"hdb1-0\\\",\\n  \\\"hanaDbName\\\": \\\"SYSTEMDB\\\",\\n  \\\"hanaDbPassword\\\": \\\"Manager1\\\",\\n  \\\"hanaDbUsername\\\": \\\"SYSTEM\\\",\\n  \\\"hanaDbSqlPort\\\": 30015\\n}\"\n  }\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/afefbee9-085a-435e-8d01-1a31c3db76a5?api-version=2020-02-07-preview" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1197" ],
        "azure-asyncoperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/afefbee9-085a-435e-8d01-1a31c3db76a5?api-version=2020-02-07-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n  \"id\": \"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/nancyc-hn1/providers/Microsoft.HanaOnAzure/sapMonitors/sapMonitor-wrlm5y-test/providerInstances/sapInstance-ywnfxq\",\n  \"location\": \"\",\n  \"name\": \"sapInstance-ywnfxq\",\n  \"tags\": null,\n  \"type\": \"Microsoft.HanaOnAzure/sapMonitors/providerInstances\",\n  \"properties\": {\n   \"type\": \"SapHana\",\n   \"properties\": \"{\\\"hanaHostname\\\":\\\"hdb1-0\\\",\\\"hanaDbName\\\":\\\"SYSTEMDB\\\",\\\"hanaDbSqlPort\\\":30015,\\\"hanaDbUsername\\\":\\\"SYSTEM\\\"}\",\n   \"metadata\": \"null\",\n   \"provisioningState\": \"Accepted\"\n  }\n }"
    }
  },
  "New-AzSapMonitorProviderInstance+[NoContext]+CreateExpandedByString+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/afefbee9-085a-435e-8d01-1a31c3db76a5?api-version=2020-02-07-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/afefbee9-085a-435e-8d01-1a31c3db76a5?api-version=2020-02-07-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1", "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/afefbee9-085a-435e-8d01-1a31c3db76a5?api-version=2017-11-03-preview" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11991" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\n  \"name\": \"afefbee9-085a-435e-8d01-1a31c3db76a5\",\n  \"status\": \"InProgress\",\n  \"startTime\": \"2020-07-06T06:45:06.7623378Z\",\n  \"error\": {\n   \"code\": \"\",\n   \"message\": \"\"\n  }\n }"
    }
  },
  "New-AzSapMonitorProviderInstance+[NoContext]+CreateExpandedByString+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/locations/westus2/operationsStatus/afefbee9-085a-435e-8d01-1a31c3db76a5?api-version=2017-11-03-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.HanaOnAzure/loc[...]
