# Multi-job configuration must be converted to matrix strategy: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/phases?view=azure-devops&tabs=yaml#multi-job-configuration
parameters:
- name: TargetBranch
  displayName: Branch this module will generated to
  type: string
  default: main
- name: ServiceName
  displayName: Service to generate
  type: string
  default: Databricks

trigger:
  branches:
    include:
    - eng/archive-test

resources:
  repositories:
  - repository: self
    type: git
    ref: refs/heads/eng/archive-test

jobs:
- job: Job_1
  displayName: "Service: ${{ parameters.ServiceName }}"
  timeoutInMinutes: 90
  pool: pool-windows-2019
  steps:
  - checkout: self
  - template: util/get-github-pat-steps.yml
  - task: NodeTool@0
    displayName: Use Node 14.15.5
    inputs:
      versionSpec: 14.15.5
  - task: PowerShell@2
    displayName: Generate
    inputs:
      targetType: inline
      script: |
        $PR = $(System.PullRequest.PullRequestNumber);
        $Commit = $(Build.SourceVersion);
        Write-Warning "PR: $PR";
        Write-Warning "Commit: $Commit";
      workingDirectory: src/${{ parameters.ServiceName }}