variables:
  WindowsName: windows
  WindowsImage: vs2017-win2016
  LinuxName: linux
  LinuxImage: ubuntu-18.04
  MacOSName: macOS
  MacOSImage: macOS-10.14
  TestFramework: netcoreapp2.2
  TestTarget: Test
  Configuration: Debug

jobs:
- job: Build
  displayName: Build
  condition: succeeded()
  strategy:
    matrix:
      windows:
        OSName: ${{ variables.WindowsName }}
        ImageName: ${{ variables.WindowsImage }}
      linux:
        OSName: ${{ variables.LinuxName }}
        ImageName: ${{ variables.LinuxImage }}
      macOS:
        OSName: ${{ variables.MacOSName }}
        ImageName: ${{ variables.MacOSImage }}
  pool:
    vmImage: $(ImageName)

  steps:
  - template: util/build-steps.yml
    parameters:
      osName: $(OSName)
      testFramework: ${{ variables.TestFramework }}
      configuration: ${{ variables.Configuration }}

- job: Analyze
  displayName: Analyze
  dependsOn: Build
  condition: succeeded()
  strategy:
    matrix:
      windows:
        OSName: ${{ variables.WindowsName }}
        ImageName: ${{ variables.WindowsImage }}
      linux:
        OSName: ${{ variables.LinuxName }}
        ImageName: ${{ variables.LinuxImage }}
      macOS:
        OSName: ${{ variables.MacOSName }}
        ImageName: ${{ variables.MacOSImage }}
  pool:
    vmImage: $(ImageName)

  steps:
  - template: util/analyze-steps.yml
    parameters:
      osName: $(OSName)
      configuration: ${{ variables.Configuration }}

- job: Test
  displayName: Test
  dependsOn: Build
  condition: succeeded()
  timeoutInMinutes: 120
  strategy:
    matrix:
      windows:
        OSName: ${{ variables.WindowsName }}
        ImageName: ${{ variables.WindowsImage }}
      linux:
        OSName: ${{ variables.LinuxName }}
        ImageName: ${{ variables.LinuxImage }}
      macOS:
        OSName: ${{ variables.MacOSName }}
        ImageName: ${{ variables.MacOSImage }}
  pool:
    vmImage: $(ImageName)

  steps:
  - template: util/test-steps.yml
    parameters:
      osName: $(OSName)
      testFramework: ${{ variables.TestFramework }}
      testTarget: ${{ variables.TestTarget }}
      configuration: ${{ variables.Configuration }}
