variables:
  WindowsName: windows
  WindowsImage: vs2017-win2016
  LinuxName: linux
  LinuxImage: ubuntu-20.04
  MacOSName: macOS
  MacOSImage: macOS-10.14
  TestFramework: netcoreapp2.1
  TestTarget: Test
  Configuration: Debug
  DebugLocalBuildTasks: true
  IsGenerateBased: $[eq(variables['system.pullRequest.targetBranch'], 'generation')]
  BuildTimeoutInMinutes: 120
  AnalysisTimeoutInMinutes: 120

trigger: none

pr:
  branches:
    include:
      - '*'
    exclude:
      - Azs-tzl

jobs:
- job: Build
  displayName: Build
  condition: succeeded()
  timeoutInMinutes: ${{ variables.BuildTimeoutInMinutes }}
  strategy:
    matrix:
      windows:
        OSName: ${{ variables.WindowsName }}
        ImageName: ${{ variables.WindowsImage }}
      linux:
        OSName: ${{ variables.LinuxName }}
        ImageName: ${{ variables.LinuxImage }}
      macOS:
        OSName: ${{ variables.MacOSName }}
        ImageName: ${{ variables.MacOSImage }}
  pool:
    vmImage: $(ImageName)

  steps:
  - template: util/build-steps.yml
    parameters:
      osName: $(OSName)
      testFramework: ${{ variables.TestFramework }}
      configuration: ${{ variables.Configuration }}

- job: Analyze
  displayName: Analyze
  dependsOn: Build
  condition: succeeded()
  timeoutInMinutes: ${{ variables.AnalysisTimeoutInMinutes }}
  strategy:
    matrix:
      windows:
        OSName: ${{ variables.WindowsName }}
        ImageName: ${{ variables.WindowsImage }}
      linux:
        OSName: ${{ variables.LinuxName }}
        ImageName: ${{ variables.LinuxImage }}
      macOS:	
        OSName: ${{ variables.MacOSName }}	
        ImageName: ${{ variables.MacOSImage }}
  pool:
    vmImage: $(ImageName)

  steps:
  - template: util/analyze-steps.yml
    parameters:
      osName: $(OSName)
      configuration: ${{ variables.Configuration }}

- job: Test
  displayName: Test
  dependsOn: Build
  condition: succeeded()
  timeoutInMinutes: 180
  strategy:
    matrix:
      windows:
        OSName: ${{ variables.WindowsName }}
        ImageName: ${{ variables.WindowsImage }}
      linux:
        OSName: ${{ variables.LinuxName }}
        ImageName: ${{ variables.LinuxImage }}
      macOS:	
        OSName: ${{ variables.MacOSName }}	
        ImageName: ${{ variables.MacOSImage }}
  pool:
    vmImage: $(ImageName)

  steps:
  - template: util/test-steps.yml
    parameters:
      osName: $(OSName)
      testFramework: ${{ variables.TestFramework }}
      testTarget: ${{ variables.TestTarget }}
      configuration: ${{ variables.Configuration }}
