parameters:
- name: win_ps
  displayName: Windows PowerShell Version
  type: string
  default: 5.1.14
- name: ps7
  displayName: PowerShell 7.0.x Version
  type: string
  default: 7.0.13
- name: ps7_1
  displayName: PowerShell 7.1.x Version
  type: string
  default: 7.1.7
- name: ps7_2
  displayName: PowerShell 7.2.x Version
  type: string
  default: 7.2.7
- name: latest_ps
  displayName: PowerShell Latest Version
  type: string
  default: latest

variables:
  winAgentPoolName: pool-windows-2019
  winAgentPoolVMImage: ''
  linuxAgentPoolName: pool-ubuntu-2004
  linuxAgentPoolVMImage: ''
  macOsAgentPoolName: Azure Pipelines
  macOsAgentPoolVMImage: macOS-11
  netCoreVersion: 7.0.x

pr: none
trigger: none

jobs:
- template: util/smoke-test-steps.yml
  parameters:
    name: 'Win_PS5_1_14_SmokeTest'
    agentPoolName: ${{ variables.winAgentPoolName }}''
    agentPoolVMImage: ${{ variables.winAgentPoolVMImage }}
    psVersion: ${{ parameters.win_ps }}
    netCoreVersion: ${{ variables.netCoreVersion }}

- template: util/smoke-test-steps.yml
  parameters:
    name: 'Win_PS7_0_X_SmokeTest'
    agentPoolName: ${{ variables.winAgentPoolName }}''
    agentPoolVMImage: ${{ variables.winAgentPoolVMImage }}
    psVersion: ${{ parameters.ps7 }}
    netCoreVersion: ${{ variables.netCoreVersion }}

- template: util/smoke-test-steps.yml
  parameters:
    name: 'Win_PS7_1_X_SmokeTest'
    agentPoolName: ${{ variables.winAgentPoolName }}''
    agentPoolVMImage: ${{ variables.winAgentPoolVMImage }}
    psVersion: ${{ parameters.ps7_1 }}
    netCoreVersion: ${{ variables.netCoreVersion }}

- template: util/smoke-test-steps.yml
  parameters:
    name: 'Win_PS7_2_X_SmokeTest'
    agentPoolName: ${{ variables.winAgentPoolName }}''
    agentPoolVMImage: ${{ variables.winAgentPoolVMImage }}
    psVersion: ${{ parameters.ps7_2 }}
    netCoreVersion: ${{ variables.netCoreVersion }}

- template: util/smoke-test-steps.yml
  parameters:
    name: 'Win_Latest_PS_SmokeTest'
    agentPoolName: ${{ variables.winAgentPoolName }}''
    agentPoolVMImage: ${{ variables.winAgentPoolVMImage }}
    psVersion: ${{ parameters.latest_ps }}
    netCoreVersion: ${{ variables.netCoreVersion }}

- template: util/smoke-test-steps.yml
  parameters:
    name: 'Linux_PS7_0_X_SmokeTest'
    agentPoolName: ${{ variables.linuxAgentPoolName }}''
    agentPoolVMImage: ${{ variables.linuxAgentPoolVMImage }}
    psVersion: ${{ parameters.ps7 }}
    netCoreVersion: ${{ variables.netCoreVersion }}

- template: util/smoke-test-steps.yml
  parameters:
    name: 'Linux_PS7_1_X_SmokeTest'
    agentPoolName: ${{ variables.linuxAgentPoolName }}''
    agentPoolVMImage: ${{ variables.linuxAgentPoolVMImage }}
    psVersion: ${{ parameters.ps7_1 }}
    netCoreVersion: ${{ variables.netCoreVersion }}

- template: util/smoke-test-steps.yml
  parameters:
    name: 'Linux_PS7_2_X_SmokeTest'
    agentPoolName: ${{ variables.linuxAgentPoolName }}''
    agentPoolVMImage: ${{ variables.linuxAgentPoolVMImage }}
    psVersion: ${{ parameters.ps7_2 }}
    netCoreVersion: ${{ variables.netCoreVersion }}

- template: util/smoke-test-steps.yml
  parameters:
    name: 'Linux_Latest_PS_SmokeTest'
    agentPoolName: ${{ variables.linuxAgentPoolName }}''
    agentPoolVMImage: ${{ variables.linuxAgentPoolVMImage }}
    psVersion: ${{ parameters.latest_ps }}
    netCoreVersion: ${{ variables.netCoreVersion }}

- template: util/smoke-test-steps.yml
  parameters:
    name: 'MacOS_PS7_2_X_SmokeTest'
    agentPoolName: ${{ variables.macOsAgentPoolName }}''
    agentPoolVMImage: ${{ variables.macOsAgentPoolVMImage }}
    psVersion: ${{ parameters.ps7_2 }}
    netCoreVersion: ${{ variables.netCoreVersion }}

- template: util/smoke-test-steps.yml
  parameters:
    name: 'MacOS_Latest_PS_SmokeTest'
    agentPoolName: ${{ variables.macOsAgentPoolName }}''
    agentPoolVMImage: ${{ variables.macOsAgentPoolVMImage }}
    psVersion: ${{ parameters.latest_ps }}
    netCoreVersion: ${{ variables.netCoreVersion }}