# Variable 'IsGenerateBased' was defined in the Variables tab
# Variable 'NugetSecurityAnalysisWarningLevel' was defined in the Variables tab
# Cron Schedules have been converted using UTC Time Zone and may need to be updated for your location
schedules:
- cron: 0 4 * * 1,2,3,4,5
  branches:
    include:
    - main
resources:
  repositories:
  - repository: self
    type: git
    ref: refs/heads/main
jobs:
- job: Job_1
  displayName: Main
  timeoutInMinutes: 120
  pool: pool-windows-2019
  steps:
  - checkout: self
    fetchTags: false
  - template: util/get-github-pat-steps.yml
  - task: PowerShell@2
    displayName: Install platyPS
    inputs:
      targetType: inline
      script: Install-Module platyPS -Force -Confirm:$false -Scope CurrentUser
      pwsh: true
  - task: NodeTool@0
    displayName: Install Node 14.17.1
    condition: eq(variables.IsGenerateBased, true)
    inputs:
      versionSpec: 14.17.1

  - task: PowerShell@2
    displayName: Install autorest
    condition: eq(variables.IsGenerateBased, true)
    inputs:
      targetType: inline
      script: npm install autorest@latest;$env:NODE_OPTIONS="--max-old-space-size=65536"
  - task: PowerShell@2
    displayName: Build
    inputs:
      targetType: inline
      script: dotnet msbuild build.proj /t:"Build;GenerateHelp" /p:"PullRequestNumber=$(System.PullRequest.PullRequestNumber);IsSecurityCheck=true"
    env:
      OCTOKITPAT: $(GithubToken)
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@3
    displayName: Run CredScan
    inputs:
      toolMajorVersion: V2
      outputFormat: sarif
      scanFolder: SecurityTmp
      suppressionsFile: tools/SecurityTools/CredScanSuppressions.json
  - task: PowerShell@2
    displayName: Generate a response text file for BinSkim
    inputs:
      targetType: 'inline'
      script: |
        New-Item $(Build.SourcesDirectory)/artifacts/FilesToScan.rsp -ItemType File -Force
        (Get-ChildItem -Path .\artifacts\Debug -Include *.dll,*.exe -Exclude msalruntime.dll,msalruntime_arm64.dll,msalruntime_x86.dll -Recurse).FullName > $(Build.SourcesDirectory)/artifacts/FilesToScan.rsp
      pwsh: true

  - task: securedevelopmentteam.vss-secure-development-tools.build-task-binskim.BinSkim@4
    displayName: Run BinSkim
    inputs:
      InputType: 'CommandLine'
      arguments: 'analyze @$(Build.SourcesDirectory)/artifacts/FilesToScan.rsp --config default --recurse --statistics'

  - task: PowerShell@2
    displayName: Cleanup Build
    inputs:
      targetType: inline
      script: ./tools/CleanupBuild.ps1
      pwsh: true

  - task: PoliCheck@2
    displayName: Run PoliCheck
    inputs:
      targetArgument: $(Build.SourcesDirectory)/artifacts/Debug
      result: $(Build.SourcesDirectory)/artifacts/result/PoliCheck.xml
      optionsFTPATH: tools/SecurityTools/PoliCheckFileExtensions.xml
  - task: PublishPipelineArtifact@0
    displayName: Save artifacts
    condition: succeededOrFailed()
    inputs:
      artifactName: artifacts
      targetPath: artifacts
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-publishsecurityanalysislogs.PublishSecurityAnalysisLogs@3
    # see https://eng.ms/docs/microsoft-security/microsoft-threat-protection-mtp/cloud-and-enterprise-security-cesec/security-integration/guardian-wiki/sdl-azdo-extension/publish-security-analysis-logs
    displayName: 'Publish Security Analysis Logs'
    inputs:
      ArtifactName: CodeAnalysisLogs
      ArtifactType: Container
      PublishProcessedResults: false
      AllTools: true
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-postanalysis.PostAnalysis@2
    # see https://eng.ms/docs/microsoft-security/microsoft-threat-protection-mtp/cloud-and-enterprise-security-cesec/security-integration/guardian-wiki/sdl-azdo-extension/secure-development-tools-extension-for-azure-devops#post-analysis-build-break:~:text=To%20introduce%20a%20build%20break
    displayName: Analyze Results (may block build)
    inputs:
      GdnBreakAllTools: false
      GdnBreakGdnToolBinSkim: true
      GdnBreakGdnToolCredScan: true
      GdnBreakGdnToolPoliCheck: true
