# Variable 'ADOToken' and 'BotAccessToken' was defined in the Variables tab
jobs:
- job: UpdateJson
  displayName: Update fabricbot.json
  steps:
  - pwsh: |
      ./tools/Github/ParseWiki2Json.ps1 -ADOToken $(ADOToken)
    displayName: Update fabricbot.json file locally
      
  - task: PowerShell@2
    displayName: Git commit and push
    inputs:
      targetType: inline
      script: |
        git config --global user.email "65331932+azure-powershell-bot@users.noreply.github.com"
        git config --global user.name "azure-powershell-bot"
        git checkout -b "internal/sync-fabricbot-json"
        
        git add .
        git commit -m "Sync fabricbot22.json"
        
        git remote set-url origin https://$(BotAccessToken)@github.com/xtR0d666/azure-powershell.git;
        git push origin internal/sync-fabricbot-json --force
  
  - pwsh: |
      $Title = "Sync fabricbot.json According To ADO Wiki Page"
      $HeadBranch = "internal/sync-fabricbot-json"
      $BaseBranch = "main"
      $Description = "This PR sync taskType: scheduledAndTrigger part of fabricbot.json from table of Service-Team-Label-and-Contact-List in ADO wiki page"
      ./tools/Github/CreatePR.ps1 -Title $Title -HeadBranch $HeadBranch -BaseBranch $BaseBranch -BotAccessToken $(BotAccessToken) -Description $Description
    displayName: Create PR to main branch
  