resources:
  repositories:
  - repository: self
    type: git
    ref: main

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - .azure-pipelines
      - .devcontainer
      - tools
      - src/lib
      - .ci-config.json
      - src/shared
      - build.proj
      - src/Az.props
      - src/Az.Shared.props
      - src/Az.Test.props
      - src/Az.autorest.props
      - src/Az.Post.props
      - src/psm1.props
      - NuGet.Config
      
variables:
  GenerationBranchName: generation

jobs:
- job: Sync
  displayName: Sync task
  condition: succeeded()
  strategy:
    matrix:
      Generation:
        BranchName: ${{ variables.GenerationBranchName }}

  steps:
  - template: util/get-github-pat-steps.yml
  - task: PowerShell@2
    displayName: Sync branch
    inputs:
      targetType: inline
      script: >-
        ./tools/SyncFromMainBranch.ps1 -BranchName $(BranchName) -GithubToken $(GithubToken)
      pwsh: true

  - pwsh: |
      $Title = "Sync tools code from main branch to $(BranchName) branch"
      $HeadBranch = "syncToolsFolder-$(BranchName)"
      $BaseBranch = "$(BranchName)"
      $Description = "Migrate Sync tools code from main branch to $(BranchName) branch"
      ./tools/Github/CreatePR.ps1 -Title $Title -HeadBranch $HeadBranch -BaseBranch $BaseBranch -BotAccessToken $(GithubToken) -Description $Description
    displayName: Create PR to $(BranchName) branch
