variables:
  AgentPoolName: pool-windows-2019
  WindowsName: windows
  WindowsImage: windows-2019
  TestFramework: net6.0
  TestTarget: Test
  Configuration: Debug
  DebugLocalBuildTasks: true
  IsGenerateBased: $[startsWith(variables['system.pullRequest.targetBranch'], 'generation')]
  BuildTimeoutInMinutes: 120
  AnalysisTimeoutInMinutes: 120
  EnableTestCoverage: true
  TestCoverageLocation: $(Build.SourcesDirectory)/artifacts
  PowerShellPlatform: Windows PowerShell
  AZURE_CLIENTS_SHOW_SECRETS_WARNING: true

trigger: none

pr:
  branches:
    include:
      - future

jobs:
- job: Build
  displayName: Build
  condition: and(eq(variables.IsGenerateBased, false), succeeded())
  timeoutInMinutes: ${{ variables.BuildTimeoutInMinutes }}
  pool: ${{ variables.AgentPoolName }}

  steps:
  - task: ms.vss-governance-buildtask.governance-build-task-component-detection.ComponentGovernanceComponentDetection@0
    displayName: 'Component Detection'
    continueOnError: true
  - checkout: self
  - task: PowerShell@2
    displayName: 'Initialize Build'
    inputs:
      targetType: inline
      pwsh: true
      script: |
        $filesChangedOutputPath = Join-Path "$(Build.SourcesDirectory)" 'artifacts' 'FilesChanged.txt'
        Write-Host "##vso[task.setvariable variable=FilesChangedOutputPath]$filesChangedOutputPath"
        New-Item -Type File -Path $filesChangedOutputPath -Force
        $subTasksFilePath = Join-Path "$(Build.SourcesDirectory)" 'artifacts' 'SubTasksFile.txt'
        Write-Host "##vso[task.setvariable variable=SubTasksFilePath]$subTasksFilePath"

        $filesChangedScriptPath = Join-Path "$(Build.SourcesDirectory)" 'tools' 'BuildScripts' 'FilesChangedScript.psm1'
        Import-Module $filesChangedScriptPath
        Get-FilesChangedFromPR -RepoRoot "$(Build.SourcesDirectory)" -TargetBranch "$(System.PullRequest.TargetBranch)" | Out-File $filesChangedOutputPath
  - template: util/build-steps.yml
    parameters:
      configuration: ${{ variables.Configuration }}
      testFramework: ${{ variables.TestFramework }}
      powerShellPlatform: ${{ variables.PowerShellPlatform }}
      filesChangedOutputPath: $(FilesChangedOutputPath)
      subTasksFilePath: $(SubTasksFilePath)

- job: Analyze
  displayName: Analyze
  dependsOn: Build
  condition: succeeded()
  timeoutInMinutes: ${{ variables.AnalysisTimeoutInMinutes }}
  pool: ${{ variables.AgentPoolName }}

  steps:
  - template: util/analyze-steps.yml
    parameters:
      configuration: ${{ variables.Configuration }}
      testFramework: ${{ variables.TestFramework }}
      powerShellPlatform: ${{ variables.PowerShellPlatform }}
      IsGenerateBased: ${{ variables.IsGenerateBased }}

- job: Test
  displayName: Test
  dependsOn: Build
  timeoutInMinutes: 180
  pool: ${{ variables.AgentPoolName }}

  steps:
  - template: util/test-steps.yml
    parameters:
      osName: ${{ variables.WindowsName }}
      testFramework: ${{ variables.TestFramework }}
      testTarget: ${{ variables.TestTarget }}
      configuration: ${{ variables.Configuration }}
      powerShellPlatform: ${{ variables.PowerShellPlatform }}