variables:
  WindowsName: windows
  WindowsImage: VS2017-Win2016
  TestFramework: netcoreapp2.1
  TestTarget: Test
  Configuration: Debug
  DebugLocalBuildTasks: true
  IsGenerateBased: $[eq(variables['system.pullRequest.targetBranch'], 'generation')]

trigger: none

pr:
  branches:
    include:
      - '*'
    exclude:
      - Azs-tzl

jobs:
- job: Build
  displayName: Build
  condition: and(eq(variables.IsGenerateBased, false), succeeded())
  pool:
    vmImage: ${{ variables.WindowsImage }}

  steps:
  - task: ms.vss-governance-buildtask.governance-build-task-component-detection.ComponentGovernanceComponentDetection@0
    displayName: 'Component Detection'
    continueOnError: true
  - template: util/build-steps.yml
    parameters:
      osName: ${{ variables.WindowsName }}
      testFramework: ${{ variables.TestFramework }}
      configuration: ${{ variables.Configuration }}

- job: Analyze
  displayName: Analyze
  dependsOn: Build
  condition: and(eq(variables.IsGenerateBased, false), succeeded())
  timeoutInMinutes: 90
  pool:
    vmImage: ${{ variables.WindowsImage }}

  steps:
  - template: util/analyze-steps.yml
    parameters:
      osName: ${{ variables.WindowsName }}
      configuration: ${{ variables.Configuration }}
  - task: PowerShell@2
    displayName: 'Cleanup Build'
    inputs:
      targetType: filePath
      filePath: tools/CleanupBuild.ps1
      pwsh: true
  - task: NuGetCommand@2
    displayName: 'Download BinSkim'
    inputs:
      command: custom
      arguments: 'install Microsoft.CodeAnalysis.BinSkim -OutputDirectory $(System.DefaultWorkingDirectory)/tools/SecurityTools -Version 1.7.0'
  - task: PowerShell@2
    displayName: 'Run BinSkim'
    inputs:
      targetType: filePath
      filePath: tools/SecurityTools/RunBinSkim.ps1
      pwsh: true

- job: Test
  displayName: Test
  dependsOn: Build
  condition: and(eq(variables.IsGenerateBased, false), succeeded())
  timeoutInMinutes: 180
  pool:
    vmImage: ${{ variables.WindowsImage }}

  steps:
  - template: util/test-steps.yml
    parameters:
      osName: ${{ variables.WindowsName }}
      testFramework: ${{ variables.TestFramework }}
      testTarget: ${{ variables.TestTarget }}
      configuration: ${{ variables.Configuration }}
