{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/providers/Microsoft.Network?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/providers/Microsoft.Network\",\r\n  \"namespace\": \"Microsoft.Network\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a\",\r\n      \"roleDefinitionId\": \"18363e25-ff21-4159-ae8d-7dfecb5bd001\"\r\n    },\r\n    {\r\n      \"applicationId\": \"40c49ff3-c6ae-436d-b28e-b8e268841980\",\r\n      \"roleDefinitionId\": \"d4d2d679-cce0-429d-9a3b-17118c035f66\"\r\n    },\r\n    {\r\n      \"applicationId\": \"d66e9e8e-53a4-420c-866d-5bb39aaea675\",\r\n      \"roleDefinitionId\": \"d4d2d679-cce0-429d-9a3b-17118c035f66\"\r\n    },\r\n    {\r\n      \"applicationId\": \"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c\",\r\n      \"roleDefinitionId\": \"13ba9ab4-19f0-[...]
    {
      "RequestUri": "/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourcegroups/ps4960?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/ps4960\",\r\n  \"name\": \"ps4960\",\r\n  \"location\": \"westcentralus\",\r\n  \"tags\": {\r\n    \"Created\": \"2026-08-20T21:02:14.5584858Z\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/ps4960/providers/Microsoft.Network/expressRouteLags/ps4497?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/expressRouteLags/ps4497' under resource group 'ps4960' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/ps4960/providers/Microsoft.Network/expressRouteLags/ps4497?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttle-levels": [
          "operationRatePct=0.1, operationConcurrencyPct=0.5, etc"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"ps4497\",\r\n  \"id\": \"/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/ps4960/providers/Microsoft.Network/expressRouteLags/ps4497\",\r\n  \"etag\": \"W/\\\"454156f9-a835-4d99-9014-3e14e8a4a969\\\"\",\r\n  \"type\": \"Microsoft.Network/expressRouteLags\",\r\n  \"location\": \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"bc7bab38-f4ef-431d-b1ff-45017ed12450\",\r\n    \"links\": [\r\n      {\r\n        \"name\": \"link1\",\r\n        \"id\": \"/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/ps4960/providers/Microsoft.Network/expressRouteLags/ps4497/links/link1\",\r\n        \"etag\": \"W/\\\"454156f9-a835-4d99-9014-3e14e8a4a969\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"routerName\": \"exr03.sin30\",\r\n          \"interfaceName\": \"ae508\",\r\n          \"adminState\": \"Disabled\",\r\n          \"macSecConfig\": {\r\n            \"cipher\": \"GcmAes128\",\r\n            \"sciState\": \"Disabled\"\r\n          },\r\n          \"members\": [\r\n            {\r\n              \"name\": \"member1\",\r\n              \"id\": \"/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/ps4960/providers/Microsoft.Network/expressRouteLags/ps4497/links/link1/members/member1\",\r\n              \"etag\": \"W/\\\"454156f9-a835-4d99-9014-3e14e8a4a969\\\"\",\r\n              \"properties\": {\r\n                \"provisioningState\": \"Succeeded\",\r\n                \"interfaceName\": \"xe-0/1/10:0\",\r\n                \"patchPanelId\": \"PATCH-PANEL-21\",\r\n                \"rackId\": \"RACK-21\",\r\n                \"coloLocation\": \"\",\r\n                \"connectorType\": \"LC\",\r\n                \"adminState\": \"Enabled\"\r\n              },\r\n              \"type\": \"Microsoft.Network/expressRouteLags/links/members\"\r\n            },\r\n            {\r\n              \"name\": \"member2\",\r\n              \"id\": \"/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/ps4960/providers/Microsoft.Network/expressRouteLags/ps4497/links/link1/members/member2\",\r\n              \"etag\": \"W/\\\"454156f9-a835-4d99-9014-3e14e8a4a969\\\"\",\r\n   [...]
[...]
    {
      "RequestUri": "/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/ps4960/providers/Microsoft.Network/expressRouteLags/ps4497?api-version=2025-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"peeringLocation\": \"Azure\",\r\n    \"bandwidthInGbps\": 10,\r\n    \"encapsulation\": \"QinQ\",\r\n    \"links\": [],\r\n    \"numberOfPorts\": 2,\r\n    \"minimumActivePortsRequired\": 2,\r\n    \"lacpTimer\": \"slow\"\r\n  },\r\n  \"location\": \"West Central US\"\r\n}",
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/providers/Microsoft.Network/locations/westcentralus/operations/7fd8d1ab-a8b6-4c58-b37c-be082cf2629d?api-version=2025-09-01&t=639228565380972386&c=MIIHlDCCBnygAwIBAgIQdihCASSXG-dKfI_D-VVlqTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDcwNjE5MTk1OVoXDTI3MDEwMjAxMTk1OVowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVy[...]
    {
      "RequestUri": "/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/providers/Microsoft.Network/locations/westcentralus/operations/7fd8d1ab-a8b6-4c58-b37c-be082cf2629d?api-version=2025-09-01&t=639228565380972386&c=MIIHlDCCBnygAwIBAgIQdihCASSXG-dKfI_D-VVlqTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDcwNjE5MTk1OVoXDTI3MDEwMjAxMTk1OVowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0[...]
[...]
    {
      "RequestUri": "/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/ps4960/providers/Microsoft.Network/expressRouteLags/ps4497/links?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttle-levels": [
          "operationConcurrencyPct=0.5, subscriptionReadRatePct=0.1, etc"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "1099"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "16499"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"link1\",\r\n      \"id\": \"/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/ps4960/providers/Microsoft.Network/expressRouteLags/ps4497/links/link1\",\r\n      \"etag\": \"W/\\\"454156f9-a835-4d99-9014-3e14e8a4a969\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"routerName\": \"exr03.sin30\",\r\n        \"interfaceName\": \"ae508\",\r\n        \"adminState\": \"Disabled\",\r\n        \"macSecConfig[...]
    {
      "RequestUri": "/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/ps4960/providers/Microsoft.Network/expressRouteLags/ps4497/links/link1/members?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-throttle-levels": [
          "operationConcurrencyPct=0.5, subscriptionReadRatePct=0.1, etc"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
         [...]
[...]
    {
      "RequestUri": "/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/ps4960/providers/Microsoft.Network/expressRouteLags/ps4497/generateLoa?api-version=2025-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"customerName\": \"someCustomer\",\r\n  \"members\": [\r\n    \"member1\",\r\n    \"member2\"\r\n  ]\r\n}",
      "ResponseHeaders": {
        "x-ms-throttle-levels": [
          "operationConcurrencyPct=0.3, subscriptionWriteRatePct=0.2, etc"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "799"
        ],
        "x-ms-ratelimit-remaining-subscription-global-writes": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"encodedContent\": \"JVBERi0xLjcNCiW1tbW1DQoxIDAgb2JqDQo8PC9UeXBlL0NhdGFsb2cvUGFnZXMgMiAwIFIvTGFuZyhlbikgL1N0cnVjdFRyZWVSb290IDE1IDAgUi9NYXJrSW5mbzw8L01hcmtlZCB0cnVlPj4vTWV0YWRhdGEgMTQ0IDAgUi9WaWV3ZXJQcmVmZXJlbmNlcyAxNDUgMCBSPj4NCmVuZG9iag0KMiAwIG9iag0KPDwvVHlwZS9QYWdlcy9Db3VudCAyL0tpZHNbIDMgMCBSIDEyIDAgUl0gPj4NCmVuZG9iag0KMyAwIG9iag0KPDwvVHlwZS9QYWdlL1BhcmVudCAyIDAgUi9SZXNvdXJjZXM8PC9Gb250PDwvRjEgNSAwIFIvRjIgOSAwIFI+Pi9FeHRHU3RhdGU8PC9HUzcgNyAwIFIvR1M4IDggMCBSPj4vWE9iamVjdDw8L0ltYWdlMTEgMTEgMCBSPj4vUHJvY1NldFsvU[...]
    {
      "RequestUri": "/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/resourceGroups/ps4960/providers/Microsoft.Network/expressRouteLags/ps4497?api-version=2025-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/providers/Microsoft.Network/locations/westcentralus/operationResults/acdcfafb-3ae0-4744-aba9-5d0072b0dd43?api-version=2025-09-01&t=639228566428966975&c=MIIHlDCCBnygAwIBAgIQdihCASSXG-dKfI_D-VVlqTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDcwNjE5MTk1OVoXDTI3MDEwMjAxMTk1OVowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC[...]
    {
      "RequestUri": "/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/providers/Microsoft.Network/locations/westcentralus/operations/acdcfafb-3ae0-4744-aba9-5d0072b0dd43?api-version=2025-09-01&t=639228566428654440&c=MIIHlDCCBnygAwIBAgIQdihCASSXG-dKfI_D-VVlqTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDcwNjE5MTk1OVoXDTI3MDEwMjAxMTk1OVowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0[...]
[...]
    {
      "RequestUri": "/subscriptions/7d747eed-b44c-4257-8d43-df9ebd94546b/providers/Microsoft.Network/locations/westcentralus/operationResults/acdcfafb-3ae0-4744-aba9-5d0072b0dd43?api-version=2025-09-01&t=639228566428966975&c=MIIHlDCCBnygAwIBAgIQdihCASSXG-dKfI_D-VVlqTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDcwNjE5MTk1OVoXDTI3MDEwMjAxMTk1OVowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wg[...]
[...]
