{
  "Entries": [
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices\",\r\n  \"namespace\": \"Microsoft.Devices\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"0cd79364-7a90-4354-9984-6e36c841418d\",\r\n      \"roleDefinitionId\": \"C121DF10-FE58-4BC4-97F9-8296879F7BBB\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"checkNameAvailability\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2019-03-22-preview\",\r\n        \"2019-03-22\",\r\n        \"2018-12-01-preview\",\r\n        \"2018-04-01\",\r\n        \"2018-01-22\",\r\n        \"2017-07-01\",\r\n        \"2017-01-19\",\r\n        \"2016-02-03\",\r\n        \"2015-08-15-preview\"\r\n      ]\r\n    },\r\n    {\r\n      \"resourceType\": \"checkProvisioningServiceNameAvailability\",\r\n      \"locations\": [],\r\n      \"apiVersions\": [\r\n        \"2018-01-22\",\r\n        \"2017-11-15\",\r\n        \"2017-[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/IotHubs?api-version=2018-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/affandarrg/providers/Microsoft.Devices/IotHubs/affanga\",\r\n      \"name\": \"affanga\",\r\n      \"type\": \"Microsoft.Devices/IotHubs\",\r\n      \"location\": \"westus\",\r\n      \"tags\": {\r\n        \"foo\": \"bar\"\r\n      },\r\n      \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n      \"resourcegroup\": \"affandarrg\",\r\n      \"etag\": \"AAAAAAXjmtY=\",\r\n      \"properties\": {\r\n        \"locations\": [\r\n          {\r\n            \"location\": \"West US\",\r\n            \"role\": \"primary\"\r\n          },\r\n          {\r\n            \"location\": \"East US\",\r\n            \"role\": \"secondary\"\r\n          }\r\n        ],\r\n        \"operationsMonitoringProperties\": {\r\n          \"events\": {\r\n            \"None\": \"None\",\r\n            \"Connections\": \"None\",\r\n            \"DeviceTelemetry\": \"None\",\r\n            \"C2DCommands\": \"None\",\r\n            \"DeviceIdentityOperations\": \"None\",\r\n            \"FileUploadOperations\": \"None\",\r\n            \"Routes\": \"None\"\r\n          }\r\n        },\r\n        \"state\": \"Active\",\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"ipFilterRules\": [],\r\n        \"hostName\": \"affanga.azure-devices.net\",\r\n        \"eventHubEndpoints\": {\r\n          \"events\": {\r\n            \"retentionTimeInDays\": 1,\r\n            \"partitionCount\": 4,\r\n            \"partitionIds\": [\r\n              \"0\",\r\n              \"1\",\r\n              \"2\",\r\n              \"3\"\r\n            ],\r\n            \"path\": \"affanga\",\r\n            \"endpoint\": \"sb://iothub-ns-affanga-85919-dbb37074f2.servicebus.windows.net/\"\r\n          },\r\n          \"operationsMonitoringEvents\": {\r\n            \"retentionTimeInDays\": 1,\r\n            \"partitionCount\": 4,\r\n            \"partitionIds\": [\r\n              \"0\",\r\n              \"1\",\r\n              \"2\",\r\n              \"3\"\r\n            ],\r\n            \"path\": \"affanga-operationmonitoring\",\r\n            \"endpoint\": \"sb://iothub-ns-affanga-85919-dbb37074f2.servicebus.windows.net/\"\r\n          }\r\n        },\r\n        \"routing\": {\r\n          \"endpoints\": {\r\n            \"serviceBusQueues\": [],\r\n            \"serviceBusTopics\": [],\r\n            \"eventHubs\": [],\r\n            \"storageContainers\": [\r\n              {\r\n                \"connectionString\": \"DefaultEndpointsProtocol=https;AccountName=affanwj;AccountKey=****\",\r\n                \"containerName\": \"iotcontainer\",\r\n                \"fileNameFormat\": \"{iothub}/{partition}/{YYYY}/{MM}/{DD}/{HH}/{mm}\",\r\n                \"batchFrequencyInSeconds\": 100,\r\n                \"maxChunkSizeInBytes\": 104857600,\r\n                \"encoding\": \"avro\",\r\n                \"name\": \"stg1\",\r\n                \"id\": \"f2f26f9d-72a2-4409-b4fd-24b0fd4e9afb\",\r\n                \"subscriptionId\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n                \"resourceGroup\": \"affandarrg\"\r\n              }\r\n            ]\r\n          },\r\n          \"routes\": [],\r\n          \"fallbackRoute\": {\r\n            \"name\": \"$fallback\",\r\n            \"source\": \"DeviceMessages\",\r\n            \"condition\": \"true\",\r\n            \"endpointNames\": [\r\n              \"events\"\r\n            ],\r\n            \"isEnabled\": true\r\n          }\r\n        },\r\n        \"storageEndpoints\": {\r\n          \"$default\": {\r\n            \"sasTtlAsIso8601\": \"PT1H\",\r\n            \"connectionString\": \"\",\r\n            \"containerName\": \"\"\r\n          }\r\n        },\r\n        \"messagingEndpoints\": {\r\n          \"fileNotifications\": {\r\n            \"lockDurationAsIso8601\": \"PT1M\",\r\n            \"ttlAsIso8601\": \"PT1H\",\r\n            \"maxDeliveryCount\": 10\r\n          }\r\n        },\r\n        \"enableFileUploadNotifications\": false,\r\n        \"cloudToDevice\": {\r\n          \"maxDeliveryCount\": 10,\r\n          \"defaultTtlAsIso8601\": \"PT1H\",\r\n          \"feedback\": {\r\n            \"lockDurationAsIso8601\": \"PT1M\",\r\n            \"ttlAsIso8601\": \"PT1H\",\r\n            \"maxDeliveryCount\": 10\r\n          }\r\n        },\r\n        \"features\": \"None\"\r\n      },\r\n      \"sku\": {\r\n        \"name\": \"S1\",\r\n        \"tier\": \"Standard\",\r\n        \"capacity\": 1\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ilie/providers/Microsoft.Devices/IotHubs/IlieEdgeTest\",\r\n      \"name\": \"IlieEdgeTest\",\r\n      \"type\": \"Microsoft.Devices/IotHubs\",\r\n      \"location\": \"eastus\",\r\n      \"tags\": {},\r\n      \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n      \"resourcegroup\": \"ilie\",\r\n      \"etag\": \"AAAAAAXQNps=\",\r\n      \"properties\": {\r\n   [...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourcegroups/ps3420?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420\",\r\n  \"name\": \"ps3420\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.EventHub/namespaces/ps5651?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"isAutoInflateEnabled\": false,\r\n    \"kafkaEnabled\": false\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.EventHub/namespaces/ps5651\",\r\n  \"name\": \"ps5651\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"isAutoInflateEnabled\": false,\r\n    \"maximumThroughputUnits\": 0,\r\n    \"kafkaEnabled\": false,\r\n    \"provisioningState\": \"Created\",\r\n    \"metricId\": \"91d12660-3dec-467a-be2a-213b5544ddc0:ps5651\",\r\n    \"createdAt\": \"2019-06-24T19:12:27.5Z\",\r\n    \"updatedAt\": \"2019-06-24T19:12:27.5Z\",\r\n    \"serviceBusEndpoint\": \"https://ps5651.servicebus.windows.net:443/\",\r\n    \"status\": \"Activating\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.EventHub/namespaces/ps5651/eventhubs/ps4591?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"messageRetentionInDays\": 3,\r\n    \"partitionCount\": 2\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.EventHub/namespaces/ps5651/eventhubs/ps4591\",\r\n  \"name\": \"ps4591\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces/EventHubs\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"messageRetentionInDays\": 3,\r\n    \"partitionCount\": 2,\r\n    \"status\": \"Active\",\r\n    \"createdAt\": \"2019-06-24T19:13:46.6Z\",\r\n    \"updatedAt\": \"2019-06-24T19:13:46.857Z\",\r\n    \"partitionIds\": [\r\n      \"0\",\r\n      \"1\"\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.EventHub/namespaces/ps5651/eventhubs/ps4591/authorizationRules/ps6662?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.EventHub/namespaces/ps5651/eventhubs/ps4591/authorizationRules/ps6662\",\r\n  \"name\": \"ps6662\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules\",\r\n  \"location\": \"West US\",\r\n  \"properties\": {\r\n    \"rights\": [\r\n      \"Listen\",\r\n      \"Send\"\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.EventHub/namespaces/ps5651/eventhubs/ps4591/authorizationRules/ps6662/ListKeys?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryConnectionString\": \"Endpoint=sb://ps5651.servicebus.windows.net/;SharedAccessKeyName=ps6662;SharedAccessKey=WAqfg9liIOaqG1PZFtZwsBqUCLzopVeVhGXiUEUJ2nM=;EntityPath=ps4591\",\r\n  \"secondaryConnectionString\": \"Endpoint=sb://ps5651.servicebus.windows.net/;SharedAccessKeyName=ps6662;SharedAccessKey=bDYUcZqV611OoD0QHUrtdiozwLR38DP++SzzVMNutvg=;EntityPath=ps4591\",\r\n  \"primaryKey\": \"WAqfg9liIOaqG1PZFtZwsBqUCLzopVeVhGXiUEUJ2nM=\",\r\n  \"secondaryKey\": \"bDYUcZqV611OoD0QHUrtdiozwLR38DP++SzzVMNutvg=\",\r\n  \"keyName\": \"ps6662\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs/ps2137?api-version=2018-12-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"routing\": {\r\n      \"endpoints\": {\r\n        \"eventHubs\": [\r\n          {\r\n            \"connectionString\": \"Endpoint=sb://ps5651.servicebus.windows.net/;SharedAccessKeyName=ps6662;SharedAccessKey=WAqfg9liIOaqG1PZFtZwsBqUCLzopVeVhGXiUEUJ2nM=;EntityPath=ps4591\",\r\n            \"name\": \"eh1\"\r\n          }\r\n        ]\r\n      },\r\n      \"routes\": [\r\n        {\r\n          \"name\": \"route\",\r\n          \"source\": \"DeviceMessages\",\r\n          \"condition\": \"true\",\r\n          \"endpointNames\": [\r\n            \"eh1\"\r\n          ],\r\n          \"isEnabled\": true\r\n        }\r\n      ]\r\n    },\r\n    \"features\": \"None\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"B1\",\r\n    \"capacity\": 1\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/operationResults/b3NfaWhfNmFkMzQ2NTItNmVjNi00NDIxLWIyNDktNzg2MTlmNDY2MDlk?api-version=2018-12-01-preview&operationSource=os_ih&asyncinfo"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "4999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/su[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs/ps2137?api-version=2018-12-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"etag\": \"AAAAAAadR8o=\",\r\n  \"properties\": {\r\n    \"authorizationPolicies\": [\r\n      {\r\n        \"keyName\": \"iothubowner\",\r\n        \"primaryKey\": \"oHxYiBr6AnalXnE9QKuJSQ+zEbOEEWhO2OagW1Stigo=\",\r\n        \"secondaryKey\": \"jU8Tlcw7hXfYBsJ7Lrk/pnxVHD+JnzNRS9oW9cL9TE8=\",\r\n        \"rights\": \"RegistryWrite, ServiceConnect, DeviceConnect\"\r\n      },\r\n      {\r\n        \"keyName\": \"service\",\r\n        \"primaryKey\": \"N9uuqoft7p6sbN5kJBKQWwlFci4g/3bkZSSW/KJ0h9M=\",\r\n        \"secondaryKey\": \"tFxwUfm8+i90QvLqjd4QdQ3JLYg83U3VLEkm95Y2xHg=\",\r[...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/operationResults/b3NfaWhfNmFkMzQ2NTItNmVjNi00NDIxLWIyNDktNzg2MTlmNDY2MDlk?api-version=2018-12-01-preview&operationSource=os_ih&asyncinfo",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Running\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs/ps2137?api-version=2018-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11930"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs/ps2137\",\r\n  \"name\": \"ps2137\",\r\n  \"type\": \"Microsoft.Devices/IotHubs\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n  \"resourcegroup\": \"ps3420\",\r\n  \"etag\": \"AAAAAAadTaU=\",\r\n  \"properties\": {\r\n    \"locations\": [\r\n      {\r\n        \"location\": \"West US\",\r\n        \"role\": \"primary\"\r\n      },\r\n      {\r\n        \"location\": \"East US\",\r\n        \"role\": \"secondary\"\r\n      }\r\n    ],\r\n    \"operationsMonitoringProperties\": {\r\n      \"events\": {\r\n        \"None\": \"None\",[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs/ps2137?api-version=2018-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11929"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs/ps2137\",\r\n  \"name\": \"ps2137\",\r\n  \"type\": \"Microsoft.Devices/IotHubs\",\r\n  \"location\": \"West US\",\r\n  \"tags\": {\r\n    \"key2\": \"value2\",\r\n    \"key1\": \"value1\"\r\n  },\r\n  \"subscriptionid\": \"91d12660-3dec-467a-be2a-213b5544ddc0\",\r\n  \"resourcegroup\": \"ps3420\",\r\n  \"etag\": \"AAAAAAadTaw=\",\r\n  \"properties\": {\r\n    \"locations\": [\r\n      {\r\n        \"location\": \"West US\",\r\n        \"role\": \"primary\"\r\n      },\r\n      {\r\n        \"location\": \"East US\",\r\n        \"role\": \"secondary\"\r\n      }\r\n    ],\r\n    \"operationsMonitoringProperties\": {\r\n      \"events\": {\r[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs?api-version=2018-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11986"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs/ps2137/quotaMetrics?api-version=2018-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11984"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"TotalMessages\",\r\n      \"currentValue\": 0,\r\n      \"maxValue\": 400000\r\n    },\r\n    {\r\n      \"name\": \"TotalDeviceCount\",\r\n      \"currentValue\": 0,\r\n      \"maxValue\": 1000000\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs/ps2137/IotHubStats?api-version=2018-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11983"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"totalDeviceCount\": 0,\r\n  \"enabledDeviceCount\": 0,\r\n  \"disabledDeviceCount\": 0\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs/ps2137/skus?api-version=2018-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11982"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"resourceType\": \"Microsoft.Devices/IotHubs\",\r\n      \"sku\": {\r\n        \"name\": \"B1\",\r\n        \"tier\": \"Basic\"\r\n      },\r\n      \"capacity\": {\r\n        \"minimum\": 1,\r\n        \"maximum\": 200,\r\n        \"default\": 1,\r\n        \"scaleType\": \"Manual\"\r\n      }\r\n    },\r\n    {\r\n      \"resourceType\": \"Microsoft.Devices/IotHubs\",\r\n      \"sku\": {\r\n        \"name\": \"B2\",\r\n        \"tier\": \"Basic\"\r\n      },\r\n      \"capacity\": {\r\n        \"minimum\": 1,\r\n        \"maximum\": 200,\r\n        \"default\": 1,\r\n        \"scaleType\": \"Manual\"\r\n      }\r\n    },\r\n    {\r\n      \"resourceType\": \"Microsoft.Devices/IotHubs\",\r\n      \"sku\": {\r\n        \"name\": \"B3\",\r\n        \"tier\": \"Bas[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs/ps2137/eventHubEndpoints/events/ConsumerGroups?api-version=2018-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11981"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"created\": \"Mon, 24 Jun 2019 19:15:30 GMT\"\r\n      },\r\n      \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs/ps2137/eventHubEndpoints/events/ConsumerGroups/%24Default\",\r\n      \"name\": \"$Default\",\r\n      \"type\": \"Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups\",\r\n      \"etag\": null\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs/ps2137/eventHubEndpoints/operationsMonitoringEvents/ConsumerGroups?api-version=2018-12-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11980"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"created\": \"Mon, 24 Jun 2019 19:15:29 GMT\"\r\n      },\r\n      \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs/ps2137/eventHubEndpoints/operationsMonitoringEvents/ConsumerGroups/%24Default\",\r\n      \"name\": \"$Default\",\r\n      \"type\": \"Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups\",\r\n      \"etag\": null\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs/ps2137/listkeys?api-version=2018-12-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody":[...]
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs/ps2137/IotHubKeys/iothubowner/listkeys?api-version=2018-12-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"keyName\": \"iothubowner\",\r\n  \"primaryKey\": \"oHxYiBr6AnalXnE9QKuJSQ+zEbOEEWhO2OagW1Stigo=\",\r\n  \"secondaryKey\": \"jU8Tlcw7hXfYBsJ7Lrk/pnxVHD+JnzNRS9oW9cL9TE8=\",\r\n  \"rights\": \"RegistryWrite, ServiceConnect, DeviceConnect\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs/ps2137/eventHubEndpoints/events/ConsumerGroups/cg1?api-version=2018-12-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"created\": \"Mon, 24 Jun 2019 19:19:07 GMT\"\r\n  },\r\n  \"id\": \"/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs/ps2137/eventHubEndpoints/events/ConsumerGroups/cg1\",\r\n  \"name\": \"cg1\",\r\n  \"type\": \"Microsoft.Devices/IotHubs/EventHubEndpoints/ConsumerGroups\",\r\n  \"etag\": null\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/operationResults/b3NfaWhfY2I4OTQ5NWQtZWFjOC00MjdkLWJhMmItODYzZjY1MDc4N2U0?api-version=2018-12-01-preview&operationSource=os_ih&asyncinfo",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11972"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/resourceGroups/ps3420/providers/Microsoft.Devices/IotHubs/ps2137/IotHubKeys/iothubowner1/listkeys?api-version=2018-12-01-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1192"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"keyName\": \"iothubowner1\",\r\n  \"primaryKey\": \"Qywp9tFz6Sai4lbLWmAMIwZ0l0s4IL3ZyrKf/5yTvEI=\",\r\n  \"secondaryKey\": \"/3HiLrqVlwIjtq2KhjgQDA89oXoEbVACHeA90kElGsY=\",\r\n  \"rights\": \"RegistryRead\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/operationResults/b3NfaWhfZTRjNDYzMDUtZDhiNi00OWEwLTlkNjAtNTY1NzRmMDdhODk1?api-version=2018-12-01-preview&operationSource=os_ih&asyncinfo",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11969"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/operationResults/b3NfaWhfODlhNGQ0MWMtZmVlMS00MWI1LWFlYzEtZGI4ZGJiMmE2ZTVj?api-version=2018-12-01-preview&operationSource=os_ih&asyncinfo",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11966"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/91d12660-3dec-467a-be2a-213b5544ddc0/providers/Microsoft.Devices/operationResults/b3NfaWhfNzI2MTg2YmMtMGFmNS00NjMzLWIxZjgtYzEyNWEzZWMyNDhm?api-version=2018-12-01-preview&operationSource=os_ih&asyncinfo",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11963"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
[...]
