{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Consumption/budgets/Budget-ps9858?api-version=2018-01-31",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"category\": \"Cost\",\r\n    \"amount\": 6000.0,\r\n    \"timeGrain\": \"Monthly\",\r\n    \"timePeriod\": {\r\n      \"startDate\": \"2018-06-01T18:28:16.1567494Z\",\r\n      \"endDate\": \"2018-08-31T18:28:16.1567494Z\"\r\n    },\r\n    \"filters\": {},\r\n    \"notifications\": {}\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Consumption/budgets/Budget-ps9858\",\r\n  \"name\": \"Budget-ps9858\",\r\n  \"type\": \"Microsoft.Consumption/budgets\",\r\n  \"eTag\": \"\\\"1d401b1f7931739\\\"\",\r\n  \"properties\": {\r\n    \"timePeriod\": {\r\n      \"startDate\": \"2018-06-01T00:00:00Z\",\r\n      \"endDate\": \"2018-08-31T00:00:00Z\"\r\n    },\r\n    \"timeGrain\": \"Monthly\",\r\n    \"amount\": 6000.0,\r\n    \"currentSpend\": null,\r\n    \"category\": \"Cost\",\r\n    \"notifications\": {},\r\n    \"filters\": {\r\n      \"resourceGroups\": [],\r\n      \"resources\": [],\r\n      \"meters\": [],\r\n      \"tags\": {}\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "session-id": [
          "a7e77235-a5c3-4aca-88a2-ba6a0b4b2d69"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Location": [
          "https://consumption.azure.com/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Consumption/budgets/Budget-ps9858?api-version=2018-01-31"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Consumption/budgets/Budget-ps9858?api-version=2018-01-31",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"category\": \"Cost\",\r\n    \"amount\": 7500.0,\r\n    \"timeGrain\": \"Monthly\",\r\n    \"timePeriod\": {\r\n      \"startDate\": \"2018-06-01T00:00:00Z\",\r\n      \"endDate\": \"2018-08-31T00:00:00Z\"\r\n    },\r\n    \"filters\": {\r\n      \"resourceGroups\": [],\r\n      \"resources\": [],\r\n      \"meters\": []\r\n    },\r\n    \"notifications\": {\r\n      \"NotificationKey-ps3311\": {\r\n        \"enabled\": true,\r\n        \"operator\": \"GreaterThanOrEqualTo\",\r\n        \"threshold\": 90.0,\r\n        \"contactEmails\": [\r\n          \"johndoe@contoso.com\",\r\n          \"janesmith@contoso.com\"\r\n        ],\r\n        \"contactRoles\": [\r\n          \"Owner\",\r\n          \"Reader\",\r\n          \"Contributor\"\r\n        ]\r\n      }\r\n    }\r\n  },\r\n  \"eTag\": \"\\\"1d401b1f871dffd\\\"\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Consumption/budgets/Budget-ps9858\",\r\n  \"name\": \"Budget-ps9858\",\r\n  \"type\": \"Microsoft.Consumption/budgets\",\r\n  \"eTag\": \"\\\"1d401b1f93812c9\\\"\",\r\n  \"properties\": {\r\n    \"timePeriod\": {\r\n      \"startDate\": \"2018-06-01T00:00:00Z\",\r\n      \"endDate\": \"2018-08-31T00:00:00Z\"\r\n    },\r\n    \"timeGrain\": \"Monthly\",\r\n    \"amount\": 7500.0,\r\n    \"currentSpend\": null,\r\n    \"category\": \"Cost\",\r\n    \"notifications\": {\r\n      \"notificationKey-ps3311\": {\r\n        \"enabled\": true,\r\n        \"operator\": \"GreaterThanOrEqualTo\",\r\n        \"threshold\": 90.0,\r\n        \"contactEmails\": [\r\n          \"johndoe@contoso.com\",\r\n          \"janesmith@contoso.com\"\r\n        ],\r\n        \"contactRoles\": [\r\n          \"Owner\",\r\n          \"Reader\",\r\n          \"Contributor\"\r\n        ],\r\n        \"contactGroups\": []\r\n      }\r\n    },\r\n    \"filters\": {\r\n      \"resourceGroups\": [],\r\n      \"resources\": [],\r\n      \"meters\": [],\r\n      \"tags\": {}\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "session-id": [
          "eb9298e4-e8a2-4d87-95cf-8ca7a6e422cb"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Consumption/budgets/Budget-ps9858?api-version=2018-01-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Consumption/budgets/Budget-ps9858\",\r\n  \"name\": \"Budget-ps9858\",\r\n  \"type\": \"Microsoft.Consumption/budgets\",\r\n  \"eTag\": \"\\\"1d401b1f7931739\\\"\",\r\n  \"properties\": {\r\n    \"timePeriod\": {\r\n      \"startDate\": \"2018-06-01T00:00:00Z\",\r\n      \"endDate\": \"2018-08-31T00:00:00Z\"\r\n    },\r\n    \"timeGrain\": \"Monthly\",\r\n    \"amount\": 6000.0,\r\n    \"currentSpend\": {\r\n      \"amount\": 0.0,\r\n      \"unit\": \"USD\"\r\n    },\r\n    \"category\": \"Cost\",\r\n    \"notifications\": {},\r\n    \"filters\": {\r\n      \"resourceGroups\": [],\r\n      \"resources\": [],\r\n      \"meters\": [],\r\n      \"tags\": {}\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "session-id": [
          "54497291-16e5-49a7-9310-bd0ec7491927"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Consumption/budgets/Budget-ps9858?api-version=2018-01-31",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"404\",\r\n    \"message\": \"No budget found matching budgetName: Budget-ps9858, under entityType: Subscription, SubscriptionGuid: 1caaa5a3-2b66-438e-8ab4-bce37d518c5d, resourceGroup: . (Request ID: 33f0a661-773e-4c2e-bda0-d24617ac4c42)\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "session-id": [
          "990d3d14-baa3-4655-825c-14db7b67ad06"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ]
      },
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/1caaa5a3-2b66-438e-8ab4-bce37d518c5d/providers/Microsoft.Consumption/budgets/Budget-ps9858?api-version=2018-01-31",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "session-id": [
          "5ca477e9-be8b-4d00-9121-4aa307a3fd28"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-BudgetAtSubscriptionLevel": [
      "ps9858",
      "ps3311"
    ]
  },
  "Variables": {
    "SubscriptionId": "1caaa5a3-2b66-438e-8ab4-bce37d518c5d"
  }
}