{
  "Entries": [
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "cc999aff-0a97-4db4-9777-b2398d2ff6e3"
=======
          "5c5f5744-ef9b-4249-9d5c-7e684256abf0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27414.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.2.0"
=======
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.2"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11998"
        ],
        "x-ms-request-id": [
          "a744f2d0-8167-4ac7-b500-79b987c2f8f0"
        ],
        "x-ms-correlation-request-id": [
          "a744f2d0-8167-4ac7-b500-79b987c2f8f0"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20190512T002408Z:a744f2d0-8167-4ac7-b500-79b987c2f8f0"
=======
          "11999"
        ],
        "x-ms-request-id": [
          "999bf9f3-18c9-474a-aea5-7a38cc1ff2e8"
        ],
        "x-ms-correlation-request-id": [
          "999bf9f3-18c9-474a-aea5-7a38cc1ff2e8"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190725T053854Z:999bf9f3-18c9-474a-aea5-7a38cc1ff2e8"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Sun, 12 May 2019 00:24:07 GMT"
=======
          "Thu, 25 Jul 2019 05:38:53 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "21714"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute\",\r\n  \"namespace\": \"Microsoft.Compute\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"60e6cd67-9c8c-4951-9b3c-23c25a2169af\",\r\n      \"roleDefinitionId\": \"e4770acb-272e-4dc8-87f3-12f44a612224\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a303894e-f1d8-4a37-bf10-67aa654a0596\",\r\n      \"roleDefinitionId\": \"903ac751-8ad5-4e5a-bfc2-5e49f450a241\"\r\n    },\r\n    {\r\n      \"applicationId\": \"a8b6bf88-1d1a-4626-b040-9a729ea93c65\",\r\n      \"roleDefinitionId\": \"45c8267c-80ba-4b96-9a43-115b8f49fccd\"\r\n    },\r\n    {\r\n      \"applicationId\": \"184909ca-69f1-4368-a6a7-c558ee6eb0bd\",\r\n      \"roleDefinitionId\": \"45c8267c-80ba-4b96-9a43-115b8f49fccd\"\r\n    },\r\n    {\r\n      \"applicationId\": \"5e5e43d4-54da-4211-86a4-c6e7f3715801\",\r\n      \"roleDefinitionId\": \"ffcd6e5b-8772-457d-bb17-89703c03428f\"\r\n    },\r\n    {\r\n      \"applicationId\": \"ce6ff14a-7fdc-4685-bbe0-f6afdfcfa8e0\",\r\n      \"roleDefinitionId\": \"cb17cddc-dbac-4ae0-ae79-8db34eddfca0\"\r\n    },\r\n    {\r\n      \"applicationId\": \"372140e0-b3b7-4226-8ef9-d57986796201\",\r\n      \"roleDefinitionId\": \"cb17cddc-dbac-4ae0-ae79-8db34eddfca0\"\r\n    }\r\n  ],\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"availabilitySets\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"Central US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"South India\",\r\n        \"Central India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West US 2\",\r\n        \"West Central US\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"South Africa North\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-03-01\",\r\n        \"2018-10-01\",\r\n        \"2018-06-01\",\r\n        \"2018-04-01\",\r\n        \"2017-12-01\",\r\n        \"2017-03-30\",\r\n        \"2016-08-30\",\r\n        \"2016-04-30-preview\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\"\r\n      ],\r\n      \"capabilities\": \"CrossResourceGroupResourceMove, CrossSubscriptionResourceMove\"\r\n    },\r\n    {\r\n      \"resourceType\": \"virtualMachines\",\r\n      \"locations\": [\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"West US\",\r\n        \"Central US\",\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"North Europe\",\r\n        \"West Europe\",\r\n        \"East Asia\",\r\n        \"Southeast Asia\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Brazil South\",\r\n        \"South India\",\r\n        \"Central India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"West US 2\",\r\n        \"West Central US\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"South Africa North\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-03-01\",\r\n        \"2018-10-01\",\r\n        \"2018-06-01\",\r\n        \"2018-04-01\",\r\n        \"2017-12-01\",\r\n        \"2017-03-30\",\r\n        \"2016-08-30\",\r\n        \"2016-04-30-preview\",\r\n        \"2016-03-30\",\r\n        \"2015-06-15\",\r\n        \"2015-05-01-preview\"\r\n      ],\r\n      \"zoneMappings\": [\r\n        {\r\n          \"location\": \"East US 2\",\r\n          \"zones\": [\r\n            \"1\",\r\n            \"2\",\r\n            \"3\"\r\n          ]\r\n        },\r\n        {\r\n          \"location\": \"Central US\",\r\n          \"zones\": [\r\n            \"1\",\r\n            \"2\",\r\n            \"3\"\r\n          ]\r\n        },\r\n        {\r\n          \"location\": \"West Europe\",\r\n          \"zones\": [\r\n            \"1\",\r\n            \"2\",\r\n            \"3\"\r\n          ]\r\n        },\r\n        {\r\n          \"location\": \"France C[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourcegroups/crptestps3072?api-version=2016-09-01",
=======
          "24591"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute\",\r\n  \"namespace\": \"Microsoft.Compute\",\r\n  \"authorizations\": [\r\n    {\r\n      \"applicationId\": \"60e6cd67-9c8c-4951-9b3c-23c25a2169af\",\r\n      \"roleDefinitionId\": \"e4770acb-272e-4dc[...]
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps3072/providers/Microsoft.Compute/galleries/gallerycrptestps3072?api-version=2019-03-01",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps921\",\r\n  \"name\": \"crptestps921\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps921/providers/Microsoft.Compute/galleries/gallerycrptestps921?api-version=2019-07-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"Original Description\"\r\n  },\r\n  \"location\": \"EastUS\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "700ae97e-bdc6-4cab-9c47-1de95fe3348f"
=======
          "18682519-3e9c-465f-88e1-c9f68c14cce3"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27414.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Compute.ComputeManagementClient/27.0.0.0"
=======
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Compute.ComputeManagementClient/28.0.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "96"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute/locations/eastus/capsOperations/881668ee-3512-43c5-a251-078718b739dd?api-version=2019-03-01"
=======
          "https://management.azure.com/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute/locations/eastus/capsOperations/91e86389-82b7-448c-8785-d9c1cc174527?api-version=2019-07-01"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "x-ms-served-by": [
<<<<<<< HEAD
          "268f1f30-5444-4031-b1cb-9150bc4e7073_132009060162384330,268f1f30-5444-4031-b1cb-9150bc4e7073_132009060162384330"
        ],
        "x-ms-request-id": [
          "881668ee-3512-43c5-a251-078718b739dd"
=======
          "268f1f30-5444-4031-b1cb-9150bc4e7073_132064279772129572,268f1f30-5444-4031-b1cb-9150bc4e7073_132064279772129572"
        ],
        "x-ms-request-id": [
          "91e86389-82b7-448c-8785-d9c1cc174527"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "a6512c6c-0b08-44bc-bf08-072222ca1dc8"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20190512T002411Z:a6512c6c-0b08-44bc-bf08-072222ca1dc8"
=======
          "ed0593e2-d947-40f7-840c-de74ccbcb55c"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190725T053859Z:ed0593e2-d947-40f7-840c-de74ccbcb55c"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Sun, 12 May 2019 00:24:11 GMT"
        ],
        "Content-Length": [
          "473"
=======
          "Thu, 25 Jul 2019 05:38:59 GMT"
        ],
        "Content-Length": [
          "469"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps3072/providers/Microsoft.Compute/galleries/gallerycrptestps3072\",\r\n  \"name\": \"gallerycrptestps3072\",\r\n  \"properties\": {\r\n    \"description\": \"Original Description\",\r\n    \"identifier\": {\r\n      \"uniqueName\": \"24fb23e3-6ba3-41f0-9b6e-e41131d5d61e-GALLERYCRPTESTPS3072\"\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Compute/locations/eastus/capsOperations/881668ee-3512-43c5-a251-078718b739dd?api-version=2019-03-01",
=======
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps921/providers/Microsoft.Compute/galleries/gallerycrptestps921\",\r\n  \"name\": \"gallerycrptestps921\",\r\n  \"properties\": {\r\n    \"description\": \"Original Description\",\r\n    \"identifier\": {\r\n      \"uniqueName\": \"24fb23e3-6ba3-41f0-9b6e-e41131d5d61e-GALLERYCRPTESTPS921\"\r\n    },\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps3072/providers/Microsoft.Compute/galleries/gallerycrptestps3072?api-version=2019-03-01",
=======
      "ResponseBody": "{\r\n  \"startTime\": \"2019-07-24T22:38:59.014764-07:00\",\r\n  \"endTime\": \"2019-07-24T22:38:59.2335018-07:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"91e86389-82b7-448c-8785-d9c1cc174527\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps3072/providers/Microsoft.Compute/galleries/gallerycrptestps3072/images/galleryimagecrptestps3072?api-version=2019-03-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"description\": \"Original Description\",\r\n    \"eula\": \"eula\",\r\n    \"privacyStatementUri\": \"https://www.microsoft.com\",\r\n    \"releaseNoteUri\": \"https://www.microsoft.com\",\r\n    \"osType\": \"Linux\",\r\n    \"osState\": \"Generalized\",\r\n    \"endOfLifeDate\": \"2025-02-18T12:07:00Z\",\r\n    \"identifier\": {\r\n      \"publisher\": \"galleryPublisher20180927\",\r\n      \"offer\": \"galleryOffer20180927\",\r\n      \"sku\": \"gallerySku20180927\"\r\n    },\r\n    \"recommended\": {\r\n      \"vCPUs\": {\r\n        \"min\": 2,\r\n        \"max\": 32\r\n      },\r\n      \"memory\": {\r\n        \"min\": 1,\r\n        \"max\": 100\r\n      }\r\n    },\r\n    \"disallowed\": {\r\n      \"diskTypes\": [\r\n        \"Premium_LRS\"\r\n      ]\r\n    },\r\n    \"purchasePlan\": {\r\n      \"name\": \"purchasePlanName\",\r\n      \"publisher\": \"\",\r\n      \"product\": \"purchasePlanProduct\"\r\n    }\r\n  },\r\n  \"location\": \"EastUS\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Compute/galleries\",\r\n  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps921/providers/Microsoft.Compute/galleries/gallerycrptestps921\",\r\n  \"name\": \"gallerycrptestps921\",\r\n  \"properties\": {\r\n    \"description\": \"Original Description\",\r\n    \"identifier\": {\r\n      \"uniqueName\": \"24fb23e3-6ba3-41f0-9b6e-e41131d5d61e-GALLERYCRPTESTPS921\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps3072/providers/Microsoft.Network/virtualNetworks/vnetcrptestps3072?api-version=2019-02-01",
=======
      "ResponseBody": "{\r\n  \"type\": \"Microsoft.Compute/galleries/images\",\r\n  \"location\": \"eastus\",\r\n  \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps921/providers/Microsoft.Compute/galleries/gallerycrptestps921/images/galleryimagecrptestps921\"[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps921/providers/Microsoft.Network/virtualNetworks/vnetcrptestps921?api-version=2019-06-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "805a5469-2445-4fae-8f3a-a8bc3f5f16f0"
=======
          "501b4ed3-f6ef-4233-b64a-f9efabd7648c"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27414.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.11.0.0"
=======
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.13.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ]
<<<<<<< HEAD
          "6b6d8049-0f73-47cf-8cfe-caba06c53381"
        ],
        "x-ms-correlation-request-id": [
          "6b6d8049-0f73-47cf-8cfe-caba06c53381"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20190512T002516Z:6b6d8049-0f73-47cf-8cfe-caba06c53381"
=======
          "c6ccfce1-0d7c-459e-a43a-464314f3ec7d"
        ],
        "x-ms-correlation-request-id": [
          "c6ccfce1-0d7c-459e-a43a-464314f3ec7d"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190725T054004Z:c6ccfce1-0d7c-459e-a43a-464314f3ec7d"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Sun, 12 May 2019 00:25:16 GMT"
=======
          "Thu, 25 Jul 2019 05:40:03 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "168"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/virtualNetworks/vnetcrptestps3072' under resource group 'crptestps3072' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps921/providers/Microsoft.Network/virtualNetworks/vnetcrptestps921?api-version=2019-06-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.6.27414.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.11.0.0"
=======
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.13.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "ETag": [
<<<<<<< HEAD
          "W/\"6fdd4fac-0fc2-4c5a-b820-4bd89ddcbff2\""
        ],
        "x-ms-request-id": [
          "84a5c11a-bd53-4aaf-99b3-3617bb03de24"
        ],
        "x-ms-correlation-request-id": [
          "78ab44a5-7eca-4326-ae3a-599a918b0202"
=======
          "W/\"90222057-7f4e-4d7a-ab5f-363f734a6b18\""
        ],
        "x-ms-request-id": [
          "0d14c69a-a2e5-4ff4-884d-02fba719285c"
        ],
        "x-ms-correlation-request-id": [
          "7f306c3c-3570-4d01-8265-7276d38a8567"
        ],
        "x-ms-arm-service-request-id": [
          "ac348068-9da2-4f3b-a0a4-de51aa96797f"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0",
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
<<<<<<< HEAD
          "11995"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20190512T002522Z:78ab44a5-7eca-4326-ae3a-599a918b0202"
=======
          "11996"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20190725T054010Z:7f306c3c-3570-4d01-8265-7276d38a8567"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Sun, 12 May 2019 00:25:22 GMT"
        ],
        "Content-Length": [
          "1226"
=======
          "Thu, 25 Jul 2019 05:40:09 GMT"
        ],
        "Content-Length": [
          "1334"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps3072\",\r\n  \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps3072/providers/Microsoft.Network/virtualNetworks/vnetcrptestps3072\",\r\n  \"etag\": \"W/\\\"6fdd4fac-0fc2-4c5a-b820-4bd89ddcbff2\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"26549807-65a4-483a-9c7d-6ffea13ce965\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnetcrptestps3072\",\r\n        \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps3072/providers/Microsoft.Network/virtualNetworks/vnetcrptestps3072/subnets/subnetcrptestps3072\",\r\n        \"etag\": \"W/\\\"6fdd4fac-0fc2-4c5a-b820-4bd89ddcbff2\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": []\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps3072/providers/Microsoft.Network/virtualNetworks/vnetcrptestps3072?api-version=2019-02-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps921\",\r\n  \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps921/providers/Microsoft.Network/virtualNetworks/vnetcrptestps921\",\r\n  \"etag\": \"W/\\\"90222057-7f4e-4d7a-ab5f-363f734a6b18\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"e6ea6da1-6a62-4aad-a7af-7a2f97247ab1\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"subnetcrptestps921\",\r\n        \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps921/providers/Microsoft.Network/virtualNetworks/vnetcrptestps921/subnets/subnetcrptestps921\",\r\n        \"etag\": \"W/\\\"90222057-7f4e-4d7a-ab5f-363f734a6b18\\\"\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps3072/providers/Microsoft.Network/virtualNetworks/vnetcrptestps3072?api-version=2019-02-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"properties\": {\r\n          \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"addressPrefixes\": [],\r\n          \"serviceEndpoints\": [],\r\n          \"serviceEndpointPolicies\": [],\r\n          \"resourceNavigationLinks\": [],\r\n          \"serviceAssociationLinks\": [],\r\n          \"delegations\": []\r\n        },\r\n        \"name\": \"subnetcrptestps3072\"\r\n      }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  },\r\n  \"location\": \"EastUS\"\r\n}",
      "RequestHeaders": {
=======
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps921\",\r\n  \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps921/providers/Microsoft.Network/virtualNetworks/vnetcrptestps921\",\r\n [...]
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Network/locations/eastus/operations/f76b532e-b4d4-4d3e-a870-c4039eaa5ee8?api-version=2019-02-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"vnetcrptestps921\",\r\n  \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps921/providers/Microsoft.Network/virtualNetworks/vnetcrptestps921\",\r\n  \"etag\": \"W/\\\"acfdf546-5e09-46bd-93d9-3ce9c97ee2cf\\\"\",\r\n  \"[...]
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps3072/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps3072?api-version=2019-02-01",
=======
          "169"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Network/publicIPAddresses/pubipcrptestps921' under resource group 'crptestps921' was not found.\"\r\n  }\r\n}",
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps3072/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps3072?api-version=2019-02-01",
=======
      "ResponseBody": "{\r\n  \"name\": \"pubipcrptestps921\",\r\n  \"id\": \"/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps921/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps921\",\r\n  \"etag\": \"W/\\\"13dcb96e-719f-4fd0-9f3b-7a65d262e2c9\\\"\",\r\n  \"location\": \"eastus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"84b00e7c-e095-4b5e-bd26-88df1caa99c0\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"pubipcrptestps921\",\r\n      \"fqdn\": \"pubipcrptestps921.eastus.cloudapp.azure.com\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Basic\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps921/providers/Microsoft.Network/publicIPAddresses/pubipcrptestps921?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"dnsSettings\": {\r\n      \"domainNameLabel\": \"pubipcrptestps921\"\r\n    },\r\n    \"ipTags\": []\r\n  },\r\n  \"zones\": [],\r\n  \"location\": \"EastUS\"\r\n}",
      "RequestHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27414.06",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.11.0.0"
=======
          "FxVersion/4.6.27817.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18362.",
          "Microsoft.Azure.Management.Network.NetworkManagementClient/19.13.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
<<<<<<< HEAD
          "208"
=======
          "207"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "1"
        ]
<<<<<<< HEAD
          "de721f2d-2d80-485b-a248-029b41a42240"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/providers/Microsoft.Network/locations/eastus/operations/de721f2d-2d80-485b-a248-029b41a42240?api-version=2019-02-01"
        ],
        "x-ms-correlation-request-id": [
          "fd7da146-1bf9-473e-a311-c902e7188cc9"
=======
          "b1b50b5a-e7d0-46f6-b4d7-df4388c8b0ec"
[...]
[...]
    {
      "RequestUri": "/subscriptions/24fb23e3-6ba3-41f0-9b6e-e41131d5d61e/resourceGroups/crptestps3072/providers/Microsoft.Network/networkInterfaces/niccrptestps3072?api-version=2019-02-01",
=======
          "167"
        ]
      },
[...]
