{
  "Backup-AzDataProtectionBackupInstanceAdhoc+[NoContext]+BackupExpanded+$GET+https://management.azure.com/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/sarath-vault/backupInstances?api-version=2022-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/sarath-vault/backupInstances?api-version=2022-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"friendlyName\":\"7k0ccypod01otds1\",\"dataSourceInfo\":{\"resourceID\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/Blob-Backup/providers/Microsoft.Storage/storageAccounts/7k0ccypod01otds1\",\"resourceUri\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/Blob-Backup/providers/Microsoft.Storage/storageAccounts/7k0ccypod01otds1\",\"datasourceType\":\"Microsoft.Storage/storageAccounts/blobServices\",\"resourceName\":\"7k0ccypod01otds1\",\"resourceType\":\"Microsoft.Storage/storageAccounts\",\"resourceLocation\":\"centraluseuap\",\"objectType\":\"Datasource\"},\"policyInfo\":{\"policyId\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/sarath-vault/backupPolicies/blobpolicy\",\"policyVersion\":\"\",\"policyParameters\":{\"dataStoreParametersList\":[{\"objectType\":\"AzureOperationalStoreParameters\",\"dataStoreType\":\"OperationalStore\",\"resourceGroupId\":\"\"}]}},\"protectionStatus\":{\"status\":\"ProtectionConfigured\"},\"currentProtectionState\":\"ProtectionConfigured\",\"provisioningState\":\"Succeeded\",\"objectType\":\"BackupInstance\"},\"id\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/sarath-vault/backupInstances/7k0ccypod01otds1-7k0ccypod01otds1-520ff77c-75eb-4cd4-a0d2-ad4ebb32d097\",\"name\":\"7k0ccypod01otds1-7k0ccypod01otds1-520ff77c-75eb-4cd4-a0d2-ad4ebb32d097\",\"type\":\"Microsoft.DataProtection/backupVaults/backupInstances\"},{\"properties\":{\"friendlyName\":\"clibugbashsa\",\"dataSourceInfo\":{\"resourceID\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/ABC/providers/Microsoft.Storage/storageAccounts/clibugbashsa\",\"resourceUri\":\"\",\"datasourceType\":\"Microsoft.Storage/storageAccounts/blobServices\",\"resourceName\":\"clibugbashsa\",\"resourceType\":\"Microsoft.Storage/storageAccounts\",\"resourceLocation\":\"centraluseuap\",\"ob[...]
