{
  "Get-AzDataProtectionBackupInstance+[NoContext]+GetAll+$GET+https://management.azure.com/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/sarath-vault/backupInstances?api-version=2021-07-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/sarath-vault/backupInstances?api-version=2021-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"friendlyName\":\"pstestdisk2\",\"dataSourceInfo\":{\"resourceID\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourcegroups/sarath-rg/providers/Microsoft.Compute/disks/pstestdisk2\",\"resourceUri\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourcegroups/sarath-rg/providers/Microsoft.Compute/disks/pstestdisk2\",\"datasourceType\":\"Microsoft.Compute/disks\",\"resourceName\":\"pstestdisk2\",\"resourceType\":\"Microsoft.Compute/disks\",\"resourceLocation\":\"centraluseuap\",\"objectType\":\"Datasource\"},\"policyInfo\":{\"policyId\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/sarath-vault/backupPolicies/DiskPolicy1\",\"policyParameters\":{\"dataStoreParametersList\":[{\"objectType\":\"AzureOperationalStoreParameters\",\"dataStoreType\":\"OperationalStore\",\"resourceGroupId\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourcegroups/sarath-rg\"}]}},\"protectionStatus\":{\"status\":\"ProtectionConfigured\"},\"currentProtectionState\":\"ProtectionConfigured\",\"provisioningState\":\"Succeeded\",\"objectType\":\"BackupInstance\"},\"id\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/sarath-vault/backupInstances/pstestdisk2-pstestdisk2-b72ef488-fc30-4257-a2f0-b30528ee8e91\",\"name\":\"pstestdisk2-pstestdisk2-b72ef488-fc30-4257-a2f0-b30528ee8e91\",\"type\":\"Microsoft.DataProtection/backupVaults/backupInstances\"},{\"properties\":{\"friendlyName\":\"temp\",\"dataSourceInfo\":{\"resourceID\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/sarath-rg/providers/Microsoft.Compute/disks/temp\",\"resourceUri\":\"\",\"datasourceType\":\"Microsoft.Compute/disks\",\"resourceName\":\"temp\",\"resourceType\":\"Microsoft.Compute/disks\",\"resourceLocation\":\"centraluseuap\",\"objectType\":\"Datasource\"},\"policyInfo\":{\"policyId\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/sarath-vault/backupPolicies/DiskPolicy1\",\"policyParameters\":{\"dataStoreParametersList\":[{\"dataStoreType\":\"OperationalStore\",\"objectType\":null}]}},\"protectionStatus\":{\"status\":\"ProtectionError\",\"errorDetails\":{\"message\":\"Microsoft Azure Backup encountered an internal error.\",\"recommendedAction\":[\"Wait for a few minutes and then try the operation again. If the issue persists, please contact Microsoft support.\"],\"code\":\"CloudInternalError\",\"target\":\"\",\"isRetryable\":false,\"isUserError\":false,\"properties\":{\"ActivityId\":\"3b7bacaf-2ef3-4f3e-9fb7-8257d827d07e-Ibz\"}}},\"currentProtectionState\":\"ProtectionError\",\"protectionErrorDetails\":{\"message\":\"Microsoft Azure Backup encountered an internal error.\",\"recommendedAction\":[\"Wait for a few minutes and then try the operation again. If the issue persists, please contact Microsoft support.\"],\"code\":\"CloudInternalError\",\"target\":\"\",\"isRetryable\":false,\"isUserError\":false,\"properties\":{\"ActivityId\":\"3b7bacaf-2ef3-4f3e-9fb7-8257d827d07e-Ibz\"}},\"provisioningState\":\"Succeeded\",\"objectType\":\"BackupInstance\"},\"id\":\"/subscriptions/62b829ee-7936-40c9-a1c[...]
