{
  "Initialize-AzDataProtectionRestoreRequest+[NoContext]+__AllParameterSets+$GET+https://management.azure.com/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.DataProtection/backupVaults/jecECYBlobVault/backupInstances?api-version=2021-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.DataProtection/backupVaults/jecECYBlobVault/backupInstances?api-version=2021-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "10" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.DataProtection/backupVaults/jecECYBlobVault/backupInstances/jececyblobstorage-jececyblobstorage-828ee34c-9ffc-4365-9b13-609f89cb200b\",\"name\":\"jececyblobstorage-jececyblobstorage-828ee34c-9ffc-4365-9b13-609f89cb200b\",\"type\":\"Microsoft.DataProtection/backupVaults/backupInstances\",\"properties\":{\"friendlyName\":\"Microsoft.Storage/storageAccounts\",\"dataSourceInfo\":{\"resourceID\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.Storage/storageAccounts/jececyblobstorage\",\"resourceUri\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.Storage/storageAccounts/jececyblobstorage\",\"datasourceType\":\"Microsoft.Storage/storageAccounts/blobServices\",\"resourceName\":\"jececyblobstorage\",\"resourceType\":\"Microsoft.Storage/storageAccounts\",\"resourceLocation\":\"eastus2euap\",\"objectType\":\"Datasource\"},\"policyInfo\":{\"policyId\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.DataProtection/backupVaults/jecECYBlobVault/backupPolicies/retention60days\"},\"protectionStatus\":{\"status\":\"ProtectionConfigured\"},\"currentProtectionState\":\"ProtectionConfigured\",\"provisioningState\":\"Succeeded\",\"objectType\":\"BackupInstance\"}},{\"id\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.DataProtection/backupVaults/jecECYBlobVault/backupInstances/ecystorageaccount-ecystorageaccount-6cf6c912-e433-4614-ba78-f26a653d4085\",\"name\":\"ecystorageaccount-ecystorageaccount-6cf6c912-e433-4614-ba78-f26a653d4085\",\"type\":\"Microsoft.DataProtection/backupVaults/backupInstances\",\"properties\":{\"friendlyName\":\"ecystoragea[...]
