{
  "Initialize-AzDataProtectionRestoreRequest+[NoContext]+__AllParameterSets+$POST+https://management.azure.com/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.DataProtection/backupVaults/jecECYBlobVault/backupInstances/ecystorageaccount-ecystorageaccount-6cf6c912-e433-4614-ba78-f26a653d4085/findRestorableTimeRanges?api-version=2021-01-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.DataProtection/backupVaults/jecECYBlobVault/backupInstances/ecystorageaccount-ecystorageaccount-6cf6c912-e433-4614-ba78-f26a653d4085/findRestorableTimeRanges?api-version=2021-01-01",
      "Content": "{\r\n  \"sourceDataStoreType\": \"OperationalStore\",\r\n  \"startTime\": \"2021-03-27T14:59:45.0000000Z\",\r\n  \"endTime\": \"2021-04-26T14:59:45.0000000Z\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1196" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"ecystorageaccount-ecystorageaccount-6cf6c912-e433-4614-ba78-f26a653d4085\",\"type\":\"Microsoft.DataProtection/backupVaults/backupInstances/findRestorableTimeRanges\",\"properties\":{\"restorableTimeRanges\":[{\"startTime\":\"2021-03-27T14:59:45.0000000Z\",\"endTime\":\"2021-04-26T09:29:46.1472620Z\",\"objectType\":\"RestorableTimeRange\"}],\"objectType\":\"AzureBackupFindRestorableTimeRangesResponse\"}}",
    }
  },
  "Initialize-AzDataProtectionRestoreRequest+[NoContext]+__AllParameterSets+$GET+https://management.azure.com/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.DataProtection/backupVaults/jecECYBlobVault?api-version=2021-01-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.DataProtection/backupVaults/jecECYBlobVault?api-version=2021-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "39" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11965" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"location\":\"eastus2euap\",\"tags\":{},\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"d3026af2-1184-47e4-bed5-0a29b48d8fa3\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\"},\"id\":\"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourcegroups/BlobBackup-BugBash/providers/Microsoft.DataProtection/BackupVaults/jecECYBlobVault\",\"name\":\"jecECYBlobVault\",\"type\":\"Microsoft.DataProtection/backupVaults\",\"properties\":{\"provisioningState\":\"Succeeded\",\"storageSettings\":[{\"datastoreType\":\"VaultStore\",\"type\":\"LocallyRedundant\"}]}}",
    }
  },
  "Initialize-AzDataProtectionRestoreRequest+[NoContext]+__AllParameterSets+$POST+https://management.azure.com/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.DataProtection/backupVaults/jecECYBlobVault/backupInstances/ecystorageaccount-ecystorageaccount-6cf6c912-e433-4614-ba78-f26a653d4085/restore?api-version=2021-01-01+3": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.DataProtection/backupVaults/jecECYBlobVault/backupInstances/ecystorageaccount-ecystorageaccount-6cf6c912-e433-4614-ba78-f26a653d4085/restore?api-version=2021-01-01",
      "Content": "{\r\n  \"restoreTargetInfo\": {\r\n    \"objectType\": \"restoreTargetInfo\",\r\n    \"recoveryOption\": \"FailIfExists\",\r\n    \"restoreLocation\": \"eastus2euap\",\r\n    \"datasourceInfo\": {\r\n      \"datasourceType\": \"Microsoft.Storage/storageAccounts/blobServices\",\r\n      \"objectType\": \"Datasource\",\r\n      \"resourceID\": \"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.Storage/storageAccounts/ecystorageaccount\",\r\n      \"resourceLocation\": \"eastus2euap\",\r\n      \"resourceName\": \"ecystorageaccount\",\r\n      \"resourceType\": \"Microsoft.Storage/storageAccounts\",\r\n      \"resourceUri\": \"/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/resourceGroups/BlobBackup-BugBash/providers/Microsoft.Storage/storageAccounts/ecystorageaccount\"\r\n    }\r\n  },\r\n  \"objectType\": \"AzureBackupRecoveryTimeBasedRestoreRequest\",\r\n  \"sourceDataStoreType\": \"OperationalStore\",\r\n  \"recoveryPointTime\": \"2021-04-26T09:29:46.0000000Z\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/providers/Microsoft.DataProtection/locations/eastus2euap/operationResults/Y2ZlZmJjZDktYzhkOC00M2Q2LWI0MjgtMmZlYzkzZmM1NGY2O2RiZGU2MDUzLWNlNmMtNGY2MC05ZmI5LTVlZGVhYzMzZDU4OQ==?api-version=2021-01-01" ],
        "Retry-After": [ "30" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/62b829ee-7936-40c9-a1c9-47a93f9f3965/providers/Microsoft.DataProtection/locations/eastus2euap/operationStatus/Y2ZlZmJjZDktYzhkOC00M2Q2LWI0MjgtMmZlYzkzZmM1NGY2O2RiZGU2MDUzLWNlNmMtNGY2MC05ZmI5LTVlZGVhYzMzZDU4OQ==?api-version=2021-01-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1195" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Initialize-AzDataProtectionRestoreRequest+[NoContext]+__AllParamete[...]
