{
  "New-AzDataProtectionBackupVault+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/new-testing-vault-k7yfhae8id?api-version=2021-07-01+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/new-testing-vault-k7yfhae8id?api-version=2021-07-01",
      "Content": "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"location\": \"centraluseuap\",\r\n  \"properties\": {\r\n    \"storageSettings\": [\r\n      {\r\n        \"datastoreType\": \"VaultStore\",\r\n        \"type\": \"LocallyRedundant\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Retry-After": [ "10" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.DataProtection/locations/centraluseuap/operationStatus/MjJjZmJjN2MtMTUwNi00Y2EzLWFmNWQtNWIwMzRhZmM3MGEzOzBiZDQ5ZDcyLWEyYjgtNDlhYS05ODA2LTdkYjc4YmU1MWU2ZQ==?api-version=2021-07-01" ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [ "99" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"location\":\"centraluseuap\",\"properties\":{\"provisioningState\":\"Provisioning\",\"storageSettings\":[{\"datastoreType\":\"VaultStore\",\"type\":\"LocallyRedundant\"}]},\"id\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/new-testing-vault-k7yfhae8id\",\"name\":\"new-testing-vault-k7yfhae8id\",\"type\":\"Microsoft.DataProtection/backupVaults\"}",
    }
  },
  "New-AzDataProtectionBackupVault+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.DataProtection/locations/centraluseuap/operationStatus/MjJjZmJjN2MtMTUwNi00Y2EzLWFmNWQtNWIwMzRhZmM3MGEzOzBiZDQ5ZDcyLWEyYjgtNDlhYS05ODA2LTdkYjc4YmU1MWU2ZQ==?api-version=2021-07-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.DataProtection/locations/centraluseuap/operationStatus/MjJjZmJjN2MtMTUwNi00Y2EzLWFmNWQtNWIwMzRhZmM3MGEzOzBiZDQ5ZDcyLWEyYjgtNDlhYS05ODA2LTdkYjc4YmU1MWU2ZQ==?api-version=2021-07-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "2" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11999" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"id\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/providers/Microsoft.DataProtection/locations/centraluseuap/operationStatus/MjJjZmJjN2MtMTUwNi00Y2EzLWFmNWQtNWIwMzRhZmM3MGEzOzBiZDQ5ZDcyLWEyYjgtNDlhYS05ODA2LTdkYjc4YmU1MWU2ZQ==\",\"name\":\"MjJjZmJjN2MtMTUwNi00Y2EzLWFmNWQtNWIwMzRhZmM3MGEzOzBiZDQ5ZDcyLWEyYjgtNDlhYS05ODA2LTdkYjc4YmU1MWU2ZQ==\",\"status\":\"Succeeded\",\"startTime\":\"2021-08-29T08:31:22.5510715Z\",\"endTime\":\"2021-08-29T08:31:23Z\"}",
    }
  },
  "New-AzDataProtectionBackupVault+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/new-testing-vault-k7yfhae8id?api-version=2021-07-01+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/new-testing-vault-k7yfhae8id?api-version=2021-07-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "3" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11998" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\"location\":\"centraluseuap\",\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"4449fb75-7e4e-40a4-8959-f62288035fed\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\"},\"properties\":{\"provisioningState\":\"Succeeded\",\"storageSettings\":[{\"datastoreType\":\"VaultStore\",\"type\":\"LocallyRedundant\"}]},\"id\":\"/subscriptions/38304e13-357e-405e-9e9a-220351dcce8c/resourceGroups/sarath-rg/providers/Microsoft.DataProtection/backupVaults/new-testing-vault-k7yfhae8id\",\"name\":\"new-testing-vault-k7yfhae8id\",\"type\":\"Microsoft.DataProtection/backupVaults\"}",
    }
  },
  "New-AzDataProtectionBackupVault+[NoContext][...]
