{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.Management/managementGroups/azgovtest4/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2018-04-04&$top=10&$from=2018-03-31T00:00:00Z",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/providers/Microsoft.Management/managementGroups/azgovtest4/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary\",\r\n  \"@odata.count\": 1,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/providers/Microsoft.Management/managementGroups/azgovtest4/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity\",\r\n      \"results\": {\r\n        \"queryResultsUri\": \"https://management.azure.com/providers/Microsoft.Management/managementGroups/azgovtest4/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-04-04&$from=2018-03-31 00:00:00Z&$to=2018-06-04 19:26:43Z&$filter=IsCompliant eq false\",\r\n        \"nonCompliantResources\": 22368,\r\n        \"nonCompliantPolicies\": 16\r\n      },\r\n      \"policyAssignments\": [\r\n        {\r\n          \"policyAssignmentId\": \"/providers/microsoft.management/managementgroups/azgovtest1/providers/microsoft.authorization/policyassignments/22005cc594164636a6444db8\",\r\n          \"policySetDefinitionId\": \"/providers/microsoft.management/managementgroups/azgovtest1/providers/microsoft.authorization/policysetdefinitions/335cefd2-ab16-430f-b364-974a170eb1d5\",\r\n          \"results\": {\r\n            \"queryResultsUri\": \"https://management.azure.com/providers/Microsoft.Management/managementGroups/azgovtest4/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-04-04&$from=2018-03-31 00:00:00Z&$to=2018-06-04 19:26:43Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/providers/microsoft.management/managementgroups/azgovtest1/providers/microsoft.authorization/policyassignments/22005cc594164636a6444db8'\",\r\n            \"nonCompliantResources\": 22368,\r\n            \"nonCompliantPolicies\": 2\r\n          },\r\n          \"policyDefinitions\": [\r\n            {\r\n              \"policyDefinitionReferenceId\": \"4337452039094051187\",\r\n              \"policyDefinitionId\": \"/providers/microsoft.management/managementgroups/azgovtest1/providers/microsoft.authorization/policydefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d\",\r\n              \"effect\": \"audit\",\r\n              \"results\": {\r\n                \"queryResultsUri\": \"https://management.azure.com/providers/Microsoft.Management/managementGroups/azgovtest4/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-04-04&$from=2018-03-31 00:00:00Z&$to=2018-06-04 19:26:43Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/providers/microsoft.management/managementgroups/azgovtest1/providers/microsoft.authorization/policyassignments/22005cc59416463[...]
