{
  "Entries": [
    {
      "RequestUri": "/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/bulenttestrg/providers/Microsoft.Authorization/policyAssignments/f4d1645d-9180-4968-99df-17234d0f7019/providers/Microsoft.PolicyInsights/policyStates/latest/summarize?api-version=2018-04-04&$top=10&$from=2018-04-04T00:00:00Z",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/bulenttestrg/providers/Microsoft.Authorization/policyAssignments/f4d1645d-9180-4968-99df-17234d0f7019/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary\",\r\n  \"@odata.count\": 1,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/bulenttestrg/providers/Microsoft.Authorization/policyAssignments/f4d1645d-9180-4968-99df-17234d0f7019/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity\",\r\n      \"results\": {\r\n        \"queryResultsUri\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/bulenttestrg/providers/Microsoft.Authorization/policyAssignments/f4d1645d-9180-4968-99df-17234d0f7019/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-04-04&$from=2018-04-04 00:00:00Z&$to=2018-06-02 01:47:44Z&$filter=IsCompliant eq false\",\r\n        \"nonCompliantResources\": 2,\r\n        \"nonCompliantPolicies\": 1\r\n      },\r\n      \"policyAssignments\": [\r\n        {\r\n          \"policyAssignmentId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/bulenttestrg/providers/microsoft.authorization/policyassignments/f4d1645d-9180-4968-99df-17234d0f7019\",\r\n          \"policySetDefinitionId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/microsoft.authorization/policysetdefinitions/3e275e2e-a157-4ade-8f91-43b3ea37000c\",\r\n          \"results\": {\r\n            \"queryResultsUri\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/bulenttestrg/providers/Microsoft.Authorization/policyAssignments/f4d1645d-9180-4968-99df-17234d0f7019/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-04-04&$from=2018-04-04 00:00:00Z&$to=2018-06-02 01:47:44Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/bulenttestrg/providers/microsoft.authorization/policyassignments/f4d1645d-9180-4968-99df-17234d0f7019'\",\r\n            \"nonCompliantResources\": 2,\r\n            \"nonCompliantPolicies\": 2\r\n          },\r\n          \"policyDefinitions\": [\r\n            {\r\n              \"policyDefinitionReferenceId\": \"\",\r\n              \"policyDefinitionId\": \"/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/providers/microsoft.authorization/policydefinitions/3e275e2e-a157-4ade-8f91-43b3ea370007\",\r\n              \"effect\": \"deny\",\r\n              \"results\": {\r\n                \"queryResultsUri\": \"https://management.azure.com/subscriptions/d0610b27-9663-4c05-89f8-5b4be01e86a5/resourcegroups/bulenttestrg/providers/Microsoft.Authorization/policyAssignments/f4d1645d-9180-4968-99df-17234d0f7019/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2018-04-04&$from=2018-04-04 00:00:00Z&$to=2018-06-02 01:47:44Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/d061[...]
