{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourcegroups/ps4553?api-version=2016-09-01",
=======
      "RequestUri": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/ps6280?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "9e5614c6-2456-4441-a2ec-597ed6292cd8"
=======
          "3e5ecb2d-8cc2-4289-a116-6331d9302341"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.2.0"
=======
          "FxVersion/4.6.29220.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.Internal.Resources.ResourceManagementClient/1.3.24"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "29"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
<<<<<<< HEAD
          "9bc36811-205e-4230-89eb-f91426b3fe7c"
        ],
        "x-ms-correlation-request-id": [
          "9bc36811-205e-4230-89eb-f91426b3fe7c"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20190511T000427Z:9bc36811-205e-4230-89eb-f91426b3fe7c"
=======
          "da204ad7-6992-4e16-98cc-e42e734e0fda"
        ],
        "x-ms-correlation-request-id": [
          "da204ad7-6992-4e16-98cc-e42e734e0fda"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20201008T102753Z:da204ad7-6992-4e16-98cc-e42e734e0fda"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Sat, 11 May 2019 00:04:27 GMT"
=======
          "Thu, 08 Oct 2020 10:27:53 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Length": [
          "165"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourceGroups/ps4553\",\r\n  \"name\": \"ps4553\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/providers/Microsoft.Cdn/profiles?api-version=2019-04-15",
=======
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/ps6280\",\r\n  \"name\": \"ps6280\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/providers/Microsoft.Cdn/profiles?api-version=2020-04-15",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "f4a3877a-bf00-4ece-b921-4545ba07d6f4"
=======
          "b950d19e-1adf-48aa-9fde-64429887d468"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Cdn.CdnManagementClient/4.2.2.0"
=======
          "FxVersion/4.6.29220.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.Cdn.CdnManagementClient/4.4.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
<<<<<<< HEAD
          "273c35dc-8273-4c78-b48f-d93e706119eb"
        ],
        "x-ms-client-request-id": [
          "f4a3877a-bf00-4ece-b921-4545ba07d6f4"
=======
          "87e29540-519e-49cd-a154-39d1094dd65d"
        ],
        "x-ms-client-request-id": [
          "b950d19e-1adf-48aa-9fde-64429887d468"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "OData-Version": [
          "4.0"
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "Server": [
<<<<<<< HEAD
          "Microsoft-IIS/8.5"
=======
          "Microsoft-IIS/10.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-AspNet-Version": [
          "4.0.30319"
        ],
        "X-Powered-By": [
          "ASP.NET"
        ],
<<<<<<< HEAD
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "x-ms-correlation-request-id": [
          "2008fdd1-774d-4885-9194-4995ea75efb8"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20190511T000428Z:2008fdd1-774d-4885-9194-4995ea75efb8"
=======
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "49"
        ],
        "x-ms-correlation-request-id": [
          "e6c72af7-68c7-4d08-9114-8078ce5ef6d8"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20201008T102757Z:e6c72af7-68c7-4d08-9114-8078ce5ef6d8"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Sat, 11 May 2019 00:04:27 GMT"
        ],
        "Content-Length": [
          "5756"
=======
          "Thu, 08 Oct 2020 10:27:57 GMT"
        ],
        "Content-Length": [
          "42959"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "Expires": [
          "-1"
        ]
      },
<<<<<<< HEAD
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"profile4551\",\r\n      \"id\": \"/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourcegroups/cdnResourceGroup7011/providers/Microsoft.Cdn/profiles/profile4551\",\r\n      \"type\": \"Microsoft.Cdn/profiles\",\r\n      \"tags\": {\r\n        \"key1\": \"value1\",\r\n        \"key2\": \"value2\"\r\n      },\r\n      \"location\": \"WestUs\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_Akamai\"\r\n      },\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\",\r\n        \"resourceState\": \"Active\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"profile6554\",\r\n      \"id\": \"/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourcegroups/cdnResourceGroup7289/providers/Microsoft.Cdn/profiles/profile6554\",\r\n      \"type\": \"Microsoft.Cdn/profiles\",\r\n      \"tags\": {\r\n        \"key1\": \"value1\",\r\n        \"key2\": \"value2\"\r\n      },\r\n      \"location\": \"WestUs\",\r\n      \"sku\": {\r\n        \"name\": \"Standard_Microsoft\"\r\n      },\r\n      \"[...]
[...]
    {
      "RequestUri": "/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourceGroups/ps4553/providers/Microsoft.Cdn/profiles/ps9236?api-version=2019-04-15",
=======
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"test123\",\r\n      \"id\": \"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/varunch/providers/Microsoft.Cdn/profiles/test123\",\r\n      \"type\": \"Microsoft.Cdn/profiles\",\r\n      \"tags\": {},\r\n      \"location\": \"WestUs\",[...]
    {
      "RequestUri": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/ps6280/providers/Microsoft.Cdn/profiles/ps2234?api-version=2020-04-15",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_Akamai\"\r\n  },\r\n  \"location\": \"EastUS\"\r\n}",
      "RequestHeaders": {
<<<<<<< HEAD
          "3afb8b9b-c6e8-4561-88c5-9f32780e33a2"
=======
          "6fab1389-7014-470b-8518-bcdb80110897"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Cdn.CdnManagementClient/4.2.2.0"
=======
          "FxVersion/4.6.29220.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.Cdn.CdnManagementClient/4.4.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Content-Length": [
          "77"
        ]
      },
      "ResponseHeaders": {
        "Retry-After": [
          "10"
        ]
<<<<<<< HEAD
          "69c7c2c1-dafa-4809-9477-826a49a24dbc"
        ],
        "x-ms-client-request-id": [
          "3afb8b9b-c6e8-4561-88c5-9f32780e33a2"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourcegroups/ps4553/providers/Microsoft.Cdn/operationresults/02c11698-27bc-4372-aa37-2e33f24444e2?api-version=2019-04-15"
=======
          "466a390b-13d1-4fdf-a32b-a6774fe60b6c"
        ],
        "x-ms-client-request-id": [
          "6fab1389-7014-470b-8518-bcdb80110897"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9[...]
    {
      "RequestUri": "/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourcegroups/ps4553/providers/Microsoft.Cdn/operationresults/02c11698-27bc-4372-aa37-2e33f24444e2?api-version=2019-04-15",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps2234\",\r\n  \"id\": \"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/ps6280/providers/Microsoft.Cdn/profiles/ps2234\",\r\n  \"type\": \"Microsoft.Cdn/profiles\",\r\n  \"tags\": {},\r\n  \"location\": \"EastUs\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_Akamai\"\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"resourceState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourcegroups/ps4553/providers/Microsoft.Cdn/operationresults/1782cc49-a947-489d-af54-6d358797cee7?api-version=2019-04-15",
=======
      "ResponseBody": "{\r\n  \"name\": \"ps2352\",\r\n  \"id\": \"/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/ps6280/providers/Microsoft.Cdn/profiles/ps2234/endpoints/ps2352\",\r\n  \"type\": \"Microsoft.Cdn/profiles/endpoints\",\r\n  \"tags\": {},\r\n  \"location\": \"EastUs\",\r\n  \"properties\": {\r\n    \"hostName\": \"ps2352.azureedge.net\",\r\n    \"originHostHeader\": null,\r\n    \"provisioningState\": \"Creating\",\r\n    \"resourceState\": \"Creating\",\r\n    \"isHttpAllowed\": true,\r\n    \"isHttpsAllowed\": true,\r\n    \"queryStringCachingBehavior\": \"IgnoreQueryString\",\r\n    \"originPath\": null,\r\n    \"origins\": [\r\n      {\r\n        \"name\": \"contoso\",\r\n        \"properties\": {\r\n          \"hostName\": \"www.contoso.com\",\r\n          \"httpPort\": null,\r\n          \"httpsPort\": null,\r\n          \"originHostHeader\": null,\r\n          \"priority\": null,\r\n          \"weight\": null,\r\n          \"enabled\": true,\r\n          \"privateLinkResourceId\": null,\r\n          \"privateLinkLocation\": null,\r\n          \"privateLinkAlias\": null,\r\n          \"privateEndpointStatus\": null,\r\n          \"privateLinkApprovalMessage\": null\r\n        }\r\n      }\r\n    ],\r\n    \"originGroups\": [],\r\n    \"defaultOriginGroup\": null,\r\n    \"customDomains\": [],\r\n    \"contentTypesToCompress\": [],\r\n    \"isCompressionEnabled\": false,\r\n    \"optimizationType\": null,\r\n    \"probePath\": null,\r\n    \"geoFilters\": [],\r\n    \"deliveryPolicy\": null,\r\n    \"webApplicationFirewallPolicyLink\": null,\r\n    \"urlSigningKeys\": []\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourcegroups/ps4553/providers/Microsoft.Cdn/operationresults/1782cc49-a947-489d-af54-6d358797cee7?api-version=2019-04-15",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "OData-Version": [
          "4.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11994"
        ]
=======
          "11997"
        ],
        "x-ms-correlation-request-id": [
          "eab8d71e-3938-46c4-b741-ed5bc9471643"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20201008T102840Z:eab8d71e-3938-46c4-b741-ed5bc9471643"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
        "Date": [
<<<<<<< HEAD
          "Sat, 11 May 2019 00:05:12 GMT"
=======
          "Thu, 08 Oct 2020 10:28:39 GMT"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Length": [
          "77"
        ],
        "Content-Type": [
          "application/json; odata.metadata=minimal; odata.streaming=true"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"Succeeded\",\r\n  \"error\": {\r\n    \"code\": \"None\",\r\n    \"message\": null\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourceGroups/ps4553/providers/Microsoft.Cdn/profiles/ps9236/endpoints/ps2304?api-version=2019-04-15",
=======
      "RequestUri": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/ps6280/providers/Microsoft.Cdn/profiles/ps2234/endpoints/ps2352?api-version=2020-04-15",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMetho[...]
[...]
    {
      "RequestUri": "/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourceGroups/ps6280/providers/Microsoft.Cdn/profiles/ps2234?api-version=2020-04-15",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "d90ae548-a99f-4cf5-bb0d-7fd9639d9042"
=======
          "d5a5bcc8-f8a2-4d88-838d-736cc934935f"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
<<<<<<< HEAD
          "FxVersion/4.6.27129.04",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.17763.",
          "Microsoft.Azure.Management.Cdn.CdnManagementClient/4.2.2.0"
=======
          "FxVersion/4.6.29220.03",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.19041.",
          "Microsoft.Azure.Management.Cdn.CdnManagementClient/4.4.0.0"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ]
      },
      "ResponseHeaders": {
        "Location": [
<<<<<<< HEAD
          "https://management.azure.com/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourcegroups/ps4553/providers/Microsoft.Cdn/operationresults/58f1b1f3-fd1f-42a1-8ff9-c1515ff3afa2/profileresults/ps9236?api-version=2019-04-15"
=======
          "https://management.azure.com/subscriptions/27cafca8-b9a4-4264-b399-45d0c9cca1ab/resourcegroups/ps6280/providers/Microsoft.Cdn/operationresults/333e6a0e-9bdc-4fef-a240-06c8b725af30/profileresults/ps2234?api-version=2020-04-15"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Retry-After": [
          "10"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "f7d70545-5c03-4e7e-ad36-9f290df8e821"
        ],
        "x-ms-client-request-id": [
          "d90ae548-a99f-4cf5-bb0d-7fd9639d9042"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/47f4bc68-6fe4-43a2-be8b-dfd0e290efa2/resourcegroups/ps4553/providers/Microsoft.Cdn/operationresults/58f1b1f3-fd1f-42a1-8ff9-c1515ff3afa2?api-version=2019-04-15"
=======
          "1236b4d4-6297-4c1f-ad83-7a417df0bc02"
        ],
        "x-[...]
