{
  "Get-AzResourceMoverMoveResource+[NoContext]+List+$GET+https://management.azure.com/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/MoveCollection-RG-rms/providers/Microsoft.Migrate/moveCollections/MoveCollection-rms/moveResources?api-version=2023-08-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/MoveCollection-RG-rms/providers/Microsoft.Migrate/moveCollections/MoveCollection-rms/moveResources?api-version=2023-08-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "9" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11991" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"name\":\"mr-nsg\",\"id\":\"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourceGroups/MoveCollection-RG-rms/providers/Microsoft.Migrate/moveCollections/MoveCollection-rms/moveResources/mr-nsg\",\"type\":null,\"properties\":{\"provisioningState\":\"Succeeded\",\"isResolveRequired\":false,\"sourceId\":\"/subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourcegroups/demo-RG-rms/providers/Microsoft.Network/networkSecurityGroups/demo-NSG-rms\",\"targetId\":null,\"existingTargetId\":null,\"resourceSettings\":{\"resourceType\":\"Microsoft.Network/networkSecurityGroups\",\"securityRules\":null,\"tags\":null,\"targetResourceName\":\"demo-NSG-rms-centralus\",\"targetResourceGroupName\":\"demo-RG-rms-centralus\"},\"moveStatus\":{\"moveState\":\"PreparePending\",\"jobStatus\":null,\"errors\":{\"properties\":{\"code\":\"DependencyComputationPending\",\"message\":\"The dependency computation is not completed for resource - /subscriptions/e80eb9fa-c996-4435-aa32-5af6f3d3077c/resourcegroups/demo-RG-rms/providers/Microsoft.Network/networkSecurityGroups/demo-NSG-rms\u0027.\\n    Possible Causes: Dependency computation is pending for resource.\\n    Recommended Action: Validate dependencies to compute the dependencies.\\n    \",\"details\":[]}}},\"dependsOn\":[],\"dependsOnOverrides\":[],\"errors\":null,\"sourceResourceSettings\":{\"resourceType\":\"Microsoft.Network/networkSecurityGroups\",\"securityRules\":[{\"name\":\"NRMS-Rule-103\",\"access\":\"Allow\",\"description\":\"Created by Azure Core Security managed policy, rule can be deleted but do not change source ips, please see aka.ms/cainsgpolicy\",\"destinationAddressPrefix\":\"*\",\"destinationPortRange\":\"*\",\"direction\":\"Inbound\",\"priority\":103,\"protocol\":\"*\",\"sourceAddressPrefix\":\"CorpNetPublic\",\"sourcePortRange\":\"*\"},{\"name\":\"NRMS-Rule-105\",\"access\":\"Deny\",\"description\":\"DO NOT DELETE - Will result in ICM Sev 2 - Azure Core Security, see aka.ms/cainsgpolicy\",\"destinationAddressPrefix\":\"*\",\"destinationPortRange\":\"1433,1434,3306,4333,5432,6379,7000,7001,7199,9042,9160,9300,16379,26379,27017\",\"direction\":\"Inbound\",\"priority\":105,\"protocol\":\"*\",\"sourceAddressPrefix\":\"Internet\",\"sourcePortRange\":\"*\"},{\"name\":\"NRMS-Rule-104\",\"access\":\"Allow\",\"description\":\"Cr[...]
