{
  "Entries": [
    {
      "RequestUri": "/subscriptions//resourcegroups/ps4390?api-version=2021-04-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 400
    },
    {
      "RequestUri": "/subscriptions//resourcegroups/ps4390?api-version=2021-04-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 400
    }
  ],
  "Names": {
    "Test-SetAzResourceForNonExistingResource": [
      "ps4390",
      "ps2431"
    ]
  },
  "Variables": {
    "SubscriptionId": ""
  }
}