{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0c302431-1ad0-4187-87c9-d4cebcf7edc2/resourceGroups/ps3373/providers/Microsoft.Storage/storageAccounts/ps8743?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'ps3373' could not be found.\"\r\n  }\r\n}",
      "StatusCode": 404
    }
  ],
  "Names": {
    "Test-SetAzResourceForNonExistingResourceGroup": [
      "ps3373",
      "ps8743"
    ]
  },
  "Variables": {
    "SubscriptionId": "0c302431-1ad0-4187-87c9-d4cebcf7edc2"
  }
}