{
  "Entries": [
    {
      "RequestUri": "/subscriptions/0c302431-1ad0-4187-87c9-d4cebcf7edc2/resources?$filter=resourceType%20EQ%20'Microsoft.FakeProvider/fakeType'&api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "249"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [
          "3749"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "0"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0c302431-1ad0-4187-87c9-d4cebcf7edc2"
  }
}