{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourcegroups/audit-cmdlet-test-rgps8735?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"canadacentral\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735\",\r\n  \"name\": \"audit-cmdlet-test-rgps8735\",\r\n  \"location\": \"canadacentral\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/providers/Microsoft.Storage/checkNameAvailability?api-version=2022-05-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"sqlstorageps8735\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"nameAvailable\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Storage/storageAccounts/sqlstorageps8735?api-version=2022-05-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"canadacentral\",\r\n  \"properties\": {\r\n    \"isHnsEnabled\": true\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/providers/Microsoft.Storage/locations/canadacentral/asyncoperations/4ad5deb7-ea68-486d-a83e-272dbf84d82f?monitor=true&api-version=2022-05-01"
        ],
        "Retry-After": [
          "17"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/providers/Microsoft.Storage/locations/canadacentral/asyncoperations/4ad5deb7-ea68-486d-a83e-272dbf84d82f?monitor=true&api-version=2022-05-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_GRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"id\": \"/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Storage/storageAccounts/sqlstorageps8735\",\r\n  \"name\": \"sqlstorageps8735\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"canadacentral\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"keyCreationTime\": {\r\n      \"key1\": \"2021-11-11T08:01:41.0902388Z\",\r\n      \"key2\": \"2021-11-11T08:01:41.0902388Z\"\r\n    },\r\n    \"privateEndpointConnections\": [],\r\n    \"minimumTlsVersion\": \"TLS1_0\",\r\n    \"allowBlobPublicAccess\": true,\r\n    \"isHnsEnabled\": true,\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"supportsHttpsTrafficOnly\": true,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"keyType\": \"Account\",\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2021-11-11T08:01:41.0902388Z\"\r\n        },\r\n        \"blob\": {\r\n          \"keyType\": \"Account\",\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2021-11-11T08:01:41.0902388Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"accessTier\": \"Hot\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2021-11-11T08:01:41.0121046Z\",\r\n    \"primaryEndpoints\": {\r\n      \"dfs\": \"https://sqlstorageps8735.dfs.core.windows.net/\",\r\n      \"web\": \"https://sqlstorageps8735.z9.web.core.windows.net/\",\r\n      \"blob\": \"https://sqlstorageps8735.blob.core.windows.net/\",\r\n      \"queue\": \"https://sqlstorageps8735.queue.core.windows.net/\",\r\n      \"table\": \"https://sqlstorageps8735.table.core.windows.net/\",\r\n      \"file\": \"https://sqlstorageps8735.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"canadacentral\",\r\n    \"statusOfPrimary\": \"available\",\r\n    \"secondaryLocation\": \"canadaeast\",\r\n    \"statusOfSecondary\": \"available\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735' under resource group 'audit-cmdlet-test-rgps8735' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStorage\": {\r\n      \"accountUrl\": \"https://sqlstorageps8735.dfs.core.windows.net\",\r\n      \"filesystem\": \"sqlcmdletfsps8735\"\r\n    },\r\n    \"encryption\": {\r\n      \"doubleEncryptionEnabled\": false\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"connectivityEndpoints\": {\r\n      \"web\": \"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f7f31cba8-b597-4129-b158-8f21a7395bd0%2fresourceGroups%2faudit-cmdlet-test-rgps8735%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2faudit-cmdlet-workspaceps8735\",\r\n      \"dev\": \"https://audit-cmdlet-workspaceps8735.dev.azuresynapse.net\",\r\n      \"sqlOnDemand\": \"audit-cmdlet-workspaceps8735-ondemand.sql.azuresynapse.net\",\r\n      \"sql\": \"audit-cmdlet-workspaceps8735.sql.azuresynapse.net\"\r\n    },\r\n    \"managedResourceGroupName\": \"synapseworkspace-managedrg-0d3529dc-da36-4430-bf86-742f84699ae2\",\r\n    \"sqlAdministratorLogin\": \"testlogin\",\r\n    \"privateEndpointConnections\": [],\r\n    \"workspaceUID\": \"39c5dd51-4d3c-4ce7-88a2-9168e94c34ce\",\r\n    \"extraProperties\": {\r\n      \"WorkspaceType\": \"Normal\",\r\n      \"IsScopeEnabled\": false\r\n    },\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"cspWorkspaceAdminProperties\": {\r\n      \"initialWorkspaceAdminObjectId\": \"ca728363-7297-4e35-a9c3-c6400837883e\"\r\n    },\r\n    \"trustedServiceBypassEnabled\": false\r\n  },\r\n  \"type\": \"Microsoft.Synapse/workspaces\",\r\n  \"id\": \"/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735\",\r\n  \"location\": \"canadacentral\",\r\n  \"name\": \"audit-cmdlet-workspaceps8735\",\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n    \"principalId\": \"16089d8c-6f6a-4885-963f-f4ecd34c23f7\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"defaultDataLakeStorage\": {\r\n      \"accountUrl\": \"https://sqlstorageps8735.dfs.core.windows.net\",\r\n      \"filesystem\": \"sqlcmdletfsps8735\"\r\n    },\r\n    \"sqlAdministratorLoginPassword\": \"testp@ssMakingIt1007Longer\",\r\n    \"sqlAdministratorLogin\": \"testlogin\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\"\r\n  },\r\n  \"location\": \"canadacentral\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735/operationStatuses/f09da56e-daed-43d2-b82d-7cd5b2c5f05a?api-version=2021-06-01"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \[...]
    {
      "RequestUri": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735/operationStatuses/f09da56e-daed-43d2-b82d-7cd5b2c5f05a?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"InProgress\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735/sqlPools/auditsqlpoolps8735?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735/sqlPools/auditsqlpoolps8735' under resource group 'audit-cmdlet-test-rgps8735' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735/sqlPools/auditsqlpoolps8735?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11974"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"status\": \"Online\",\r\n    \"maxSizeBytes\": 263882790666240,\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"restorePointInTime\": \"0001-01-01T00:00:00\",\r\n    \"creationDate\": \"2021-11-11T08:08:07.96Z\",\r\n    \"storageAccountType\": \"GRS\",\r\n    \"sourceDatabaseDeletionDate\": \"0001-01-01T00:00:00\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"DW200c\",\r\n    \"capacity\": 0\r\n  },\r\n  \"id\": \"/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735/sqlPools/auditsqlpoolps8735\",\r\n  \"name\": \"auditsqlpoolps8735\",\r\n  \"type\": \"Microsoft.Synapse/workspaces/sqlPools\",\r\n  \"location\": \"canadacentral\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735/sqlPools/auditsqlpoolps8735?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"DW200c\"\r\n  },\r\n  \"properties\": {\r\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\r\n    \"createMode\": \"Default\"\r\n  },\r\n  \"location\": \"canadacentral\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735/operationResults/c8e3565f-0eb4-481d-8587-4140932de28f?api-version=2021[...]
[...]
    {
      "RequestUri": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourcegroups/audit-cmdlet-test-rgps8735/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-logworkspaceps8735?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.OperationalInsights/workspaces/audit-cmdlet-logworkspaceps8735' under resource group 'audit-cmdlet-test-rgps8735' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourcegroups/audit-cmdlet-test-rgps8735/providers/Microsoft.OperationalInsights/workspaces/audit-cmdlet-logworkspaceps8735?api-version=2020-03-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\": \"ecb92cb2-60cd-4fb7-beea-7a7cfc17e2e3\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"sku\": {\r\n      \"name\": \"standard\",\r\n      \"lastSkuUpdate\": \"Thu, 11 Nov 2021 08:08:27 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\": \"Fri, 12 Nov 2021 01:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\",\r\n    \"createdDate\": \"Thu, 11 Nov 2021 08:08:28 GMT\",\r\n    \"modifiedDate\": \"Thu, 11 Nov 2021 08:08:29 GMT\"\r\n  },\r\n  \"id\": \"/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourcegroups/audit-cmdlet-test-rgps8735/providers/microsoft.operationalinsights/workspaces/audit-cmdlet-logworkspaceps8735\",\r\n  \"name\": \"audit-cmdlet-logworkspaceps8735\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n  \"location\": \"canadacentral\",\r\n  \"tags\": {}\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.EventHub/namespaces/audit-cmdlet-event-hub-nsps8735?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"canadacentral\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Server-SB": [
          "Service-Bus-Resource-Provider/SN1"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "49"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"id\": \"/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.EventHub/namespaces/audit-cmdlet-event-hub-nsps8735\",\r\n  \"name\": \"audit-cmdlet-event-hub-nsps8735\",\r\n  \"type\": \"Microsoft.EventHub/Namespaces\",\r\n  \"location\": \"Canada Central\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"disableLocalAuth\": false,\r\n    \"zoneRedundant\": false,\r\n    \"isAutoInflateEnabled\": false,\r\n    \"maximumThroughputUnits\": 0,\r\n    \"kafkaEnabled\": true,\r\n    \"provisioningState\": \"Created\",\r\n    \"metricId\": \"7f31cba8-b597-4129-b158-8f21a7395bd0:audit-cmdlet-event-hub-nsps8735\",\r\n    \"createdAt\": \"2021-11-11T08:09:01.39Z\",\r\n    \"updatedAt\": \"2021-11-11T08:09:01.39Z\",\r\n    \"serviceBusEndpoint\": \"https://audit-cmdlet-event-hub-nsps8735.servicebus.windows.net:443/\",\r\n    \"status\": \"Activating\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735/providers/Microsoft.Insights/diagnosticSettings?api-version=2017-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735/providers/Microsoft.Insights/diagnosticSettings?api-version=2017-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourcegroups/audit-cmdlet-test-rgps8735/providers/microsoft.synapse/workspaces/audit-cmdlet-workspaceps8735/providers/microsoft.insights/diagnosticSettings/SQLSecurityAuditEvents_3d229c42-c7e7-4c97-9a99-ec0d0d8b86c1_1\",\r\n      \"type\": \"Microsoft.Insights/diagnosticSettings\",\r\n      \"name\": \"SQLSecurityAuditEvents_3d229c42-c7e7-4c97-9a99-ec0d0d8b86c1_1\",\r\n      \"location\": null,\r\n      \"kind\": null,\r\n      \"tags\": null,\r\n      \"properties\": {\r\n        \"storageAccountId\": null,\r\n        \"serviceBusRuleId\": null,\r\n        \"workspaceId\": null,\r\n        \"eventHubAuthorizationRuleId\": \"/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourcegroups/audit-cmdlet-test-rgps8735/providers/microsoft.EventHub/namespaces/audit-cmdlet-event-hub-nsps8735/authorizationrules/RootManageSharedAccessKey\",\r\n        \"eventHubName\": null,\r\n        \"metrics\": [\r\n          {\r\n            \"category\": \"AllMetrics\",\r\n            \"enabled\": false,\r\n            \"retentionPolicy\": null\r\n          }\r\n        ],\r\n        \"logs\": [\r\n          {\r\n            \"category\": \"SynapseRbacOperations\",\r\n            \"categoryGroup\": null,\r\n            \"enabled\": false,\r\n            \"retentionPolicy\": null\r\n          },\r\n          {\r\n            \"category\": \"GatewayApiRequests\",\r\n            \"categoryGroup\": null,\r\n            \"enabled\": false,\r\n            \"retentionPolicy\": null\r\n          },\r\n          {\r\n            \"category\": \"SQLSecurityAuditEvents\",\r\n            \"categoryGroup\": null,\r\n            \"enabled\": true,\r\n            \"retentionPolicy\": null\r\n          },\r\n          {\r\n            \"category\": \"BuiltinSqlReqsEnded\",\r\n            \"categoryGroup\": null,\r\n            \"enabled\": false,\r\n            \"retentionPolicy\": null\r\n          },\r\n          {\r\n            \"category\": \"IntegrationPipelineRuns\",\r\n            \"categoryGroup\": null,\r\n            \"enabled\": false,\r\n            \"retentionPolicy\": null\r\n          },\r\n          {\r\n            \"category\": \"IntegrationActivityRuns\",\r\n            \"categoryGroup\": null,\r\n            \"enabled\": false,\r\n            \"retentionPolicy\": null\r\n          },\r\n          {\r\n            \"category\": \"IntegrationTriggerRuns\",\r\n            \"categoryGroup\": null,\r\n            \"enabled\": false,\r\n            \"retentionPolicy\": null\r\n          }\r\n        ],\r\n        \"logAnalyticsDestinationType\": null\r\n      },\r\n      \"identity\": null\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735/extendedAuditingSettings/default?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11972"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"predicateExpression\": \"\",\r\n    \"retentionDays\": 0,\r\n    \"auditActionsAndGroups\": [],\r\n    \"isStorageSecondaryKeyInUse\": false,\r\n    \"isAzureMonitorTargetEnabled\": false,\r\n    \"state\": \"Disabled\",\r\n    \"storageEndpoint\": \"\",\r\n    \"storageAccountSubscriptionId\": \"00000000-0000-0000-0000-000000000000\"\r\n  },\r\n  \"id\": \"/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735/extendedAuditingSettings/Default\",\r\n  \"name\": \"Default\",\r\n  \"type\": \"Microsoft.Synapse/workspaces/extendedAuditingSettings\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735/providers/microsoft.insights/diagnosticSettings?api-version=2017-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Storage/storageAccounts/sqlstorageps8735?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "Response[...]
[...]
    {
      "RequestUri": "//subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Storage/storageAccounts/sqlstorageps8735/listKeys?api-version=2017-06-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-resource-requests": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\": \"4j67WQrwwjRjZ9u58JPFAvedFxW0J4ynBQcYY6pY1a9dO4sJLnoZwqiUMP3Bu45rltenxuO7m1T9ZODtctdWsg==\",\r\n      \"permissions\": \"FULL\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"uo10cRgL4ny60PuBCGLzbj7Cgq7T2cTk24CL8vxHIfFAJzsU/VA5cV8y8FbWCsNDdkntMWdzdYC/vY3vEvhGpA==\",\r\n      \"permissions\": \"FULL\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735/auditingSettings/default?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"state\": \"Enabled\",\r\n    \"storageEndpoint\": \"https://sqlstorageps8735.blob.core.windows.net\",\r\n    \"storageAccountAccessKey\": \"4j67WQrwwjRjZ9u58JPFAvedFxW0J4ynBQcYY6pY1a9dO4sJLnoZwqiUMP3Bu45rltenxuO7m1T9ZODtctdWsg==\",\r\n    \"retentionDays\": 8,\r\n    \"auditActionsAndGroups\": [\r\n      \"SUCCESSFUL_DATABASE_AUTHENTICATION_GROUP\",\r\n      \"FAILED_DATABASE_AUTHENTICATION_GROUP\"\r\n    ],\r\n    \"storageAccountSubscriptionId\": \"7f31cba8-b597-4129-b158-8f21a7395bd0\",\r\n    \"isStorageSecondaryKeyInUse\": false\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735/operationResults/sql07ftr-a4dade8d-5bf9-47f5-b547-7934a5505afe?api-version=2021-06-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735/operationStatuses/sql07ftr-a4dade8d-5bf9-47f5-b547-7934a5505afe?api-version=2021-06-01"
        ],
        "RetryAfter": [
          "60"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/7f31cba8-b597-4129-b158-8f21a7395bd0/resourceGroups/audit-cmdlet-test-rgps8735/providers/Microsoft.Synapse/workspaces/audit-cmdlet-workspaceps8735/operationStatuses/sql07ftr-a4dade8d-5bf9-47f5-b547-7934a5505afe?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11969"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"a4dade8d-5bf9-47f5-b547-7934a5505afe\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-11-11T08:10:10.497Z\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "//resources?api-version=2018-05-01&$filter=(subscriptionId%20eq%20'7f31cba8-b597-4129-b158-8f21a7395bd0')%20and%20((resourceType%20eq%20'microsoft.storage/storageaccounts')%20or%20(resourceType%20eq%20'microsoft.classicstorage/storageaccounts'))%20and%20(name%20eq%20'sqlstorageps8735')",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
[...]
