{
  "Get-AzContainerGroup+[NoContext]+Get+$GET+https://management.azure.com/subscriptions/da28f5e5-aa45-46fe-90c8-053ca49ab4b5/resourceGroups/test-rg9iwau/providers/Microsoft.ContainerInstance/containerGroups/bez-test-cg?api-version=2024-05-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/da28f5e5-aa45-46fe-90c8-053ca49ab4b5/resourceGroups/test-rg9iwau/providers/Microsoft.ContainerInstance/containerGroups/bez-test-cg?api-version=2024-05-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "46" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"properties\":{\"sku\":\"Standard\",\"isCreatedFromStandbyPool\":false,\"provisioningState\":\"Succeeded\",\"provisioningTimeoutInSeconds\":1800,\"isCustomProvisioningTimeout\":false,\"containers\":[{\"name\":\"bez-test-ci\",\"properties\":{\"image\":\"mcr.microsoft.com/azuredocs/aci-helloworld:latest\",\"ports\":[],\"environmentVariables\":[],\"configMap\":{\"keyValuePairs\":{}},\"instanceView\":{\"restartCount\":0,\"currentState\":{\"state\":\"Running\",\"startTime\":\"2024-10-31T04:52:46.771Z\",\"detailStatus\":\"\"},\"events\":[{\"count\":1,\"firstTimestamp\":\"2024-10-31T04:52:33Z\",\"lastTimestamp\":\"2024-10-31T04:52:33Z\",\"name\":\"Pulling\",\"message\":\"pulling image \\\"mcr.microsoft.com/azuredocs/aci-helloworld@sha256:b9cec4d6b50c6bf25e3f7f93bdc1628e5dca972cf132d38ed8f5bc955bb179c3\\\"\",\"type\":\"Normal\"},{\"count\":1,\"firstTimestamp\":\"2024-10-31T04:52:38Z\",\"lastTimestamp\":\"2024-10-31T04:52:38Z\",\"name\":\"Pulled\",\"message\":\"Successfully pulled image \\\"mcr.microsoft.com/azuredocs/aci-helloworld@sha256:b9cec4d6b50c6bf25e3f7f93bdc1628e5dca972cf132d38ed8f5bc955bb179c3\\\"\",\"type\":\"Normal\"},{\"count\":1,\"firstTimestamp\":\"2024-10-31T04:52:46Z\",\"lastTimestamp\":\"2024-10-31T04:52:46Z\",\"name\":\"Started\",\"message\":\"Started container\",\"type\":\"Normal\"}]},\"resources\":{\"requests\":{\"memoryInGB\":1.5,\"cpu\":1.0}}}}],\"initContainers\":[],\"osType\":\"Linux\",\"instanceView\":{\"events\":[],\"state\":\"Running\"}},\"id\":\"/subscriptions/da28f5e5-aa45-46fe-90c8-053ca49ab4b5/resourceGroups/test-rg9iwau/providers/Microsoft.ContainerInstance/containerGroups/bez-test-cg\",\"name\":\"bez-test-cg\",\"type\":\"Microsoft.ContainerInstance/containerGroups\",\"location\":\"eastus\"}",
    }
  },
  "Get-AzContainerGroup+[NoContext]+List1+$GET+https://management.azure.com/subscriptions/da28f5e5-aa45-46fe-90c8-053ca49ab4b5/resourceGroups/test-rg9iwau/providers/Microsoft.ContainerInstance/containerGroups?api-version=2024-05-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/da28f5e5-aa45-46fe-90c8-053ca49ab4b5/resourceGroups/test-rg9iwau/providers/Microsoft.ContainerInstance/containerGroups?api-version=2024-05-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "47" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"sku\":\"Standard\",\"isCreatedFromStandbyPool\":false,\"provisioningState\":\"Succeeded\",\"provisioningTimeoutInSeconds\":1800,\"isCustomProvisioningTimeout\":false,\"containers\":[{\"name\":\"bez-test-ci\",\"properties\":{\"image\":\"mcr.microsoft.com/azuredocs/aci-helloworld:latest\",\"ports\":[],\"environmentVariables\":[],\"configMap\":{\"keyValuePairs\":{}},\"resources\":{\"requests\":{\"memoryInGB\":1.5,\"cpu\":1.0}}}}],\"initContainers\":[],\"osType\":\"Linux\"},\"id\[...]
