{
  "Get-AzContainerInstanceCachedImage+[NoContext]+List+$GET+https://management.azure.com/subscriptions/da28f5e5-aa45-46fe-90c8-053ca49ab4b5/providers/Microsoft.ContainerInstance/locations/eastus/cachedImages?api-version=2024-05-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/da28f5e5-aa45-46fe-90c8-053ca49ab4b5/providers/Microsoft.ContainerInstance/locations/eastus/cachedImages?api-version=2024-05-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "59" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "1099" ],
        "x-ms-ratelimit-remaining-subscription-global-reads": [ "16499" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"osType\":\"Windows\",\"osVersion\":\"Windows Server 2019 - Before 2B\",\"image\":\"mcr.microsoft.com/powershell:nanoserver-1809\"},{\"osType\":\"Windows\",\"osVersion\":\"Windows Server 2019 - Before 2B\",\"image\":\"mcr.microsoft.com/dotnet/framework/runtime:4.8-20190418-windowsservercore-ltsc2019\"},{\"osType\":\"Windows\",\"osVersion\":\"Windows Server 2019 - Before 2B\",\"image\":\"mcr.microsoft.com/dotnet/framework/runtime:4.7.2-20190409-windowsservercore-ltsc2019\"},{\"osType\":\"Windows\",\"osVersion\":\"Windows Server 2019 - Before 2B\",\"image\":\"mcr.microsoft.com/[...]
