{
  "Entries": [
    {
      "RequestUri": "/subscriptions/3e919f9a-4e26-4736-aa8d-d596d9a49239/resourceGroups/CenturyLink/providers/Microsoft.Peering/peerings/Portland/receivedRoutes?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"prefix\": \"8.23.254.0/24\",\r\n      \"nextHop\": \"104.44.14.34\",\r\n      \"asPath\": \"3356\",\r\n      \"originAsValidationState\": \"Invalid\",\r\n      \"rpkiValidationState\": \"Unknown\",\r\n      \"trustAnchor\": \"None\",\r\n      \"receivedTimestamp\": \"2019-08-09T07:14:46Z\"\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "3e919f9a-4e26-4736-aa8d-d596d9a49239"
  }
}