{
  "Entries": [
    {
      "RequestUri": "//subscriptions/0a363e8c-a728-4970-8108-d104b63cb74f/resourceGroups/azssh_powershell_relayinformationutils_test/providers/Microsoft.HybridCompute/machines/relay-info-tests-u20/providers/Microsoft.HybridConnectivity/endpoints/default/listCredentials?api-version=2021-10-06-preview&expiresin=3600",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "mise-correlation-id": [
          "04433ef2-c2b6-4210-9d60-1fe6bc1408fc"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"relay\": {\r\n    \"namespaceName\": \"azgn-eastasia-public-1p-seasg3-007\",\r\n    \"namespaceNameSuffix\": \"servicebus.windows.net\",\r\n    \"hybridConnectionName\": \"microsoft.hybridcompute/machines/c7945d582abb32c29ab53042bfd35ada5723b4d096bfb89ff50b9c7e3923c50c/1661983922725648640\",\r\n    \"accessKey\": \"SharedAccessSignature sr=http%3A%2F%2Fazgn-eastasia-public-1p-seasg3-007.servicebus.windows.net%2Fmicrosoft.hybridcompute%2Fmachines%2Fc7945d582abb32c29ab53042bfd35ada5723b4d096bfb89ff50b9c7e3923c50c%2F1661983922725648640%2F&sig=GqZUgO6GcEbKm6ZE2S78a9o461zA4QVJ2%2BXfof2bdb4%3D&se=1661988122&skn=sender20220831\",\r\n    \"expiresOn\": 1661987522\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "0a363e8c-a728-4970-8108-d104b63cb74f"
  }
}