{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache\",\r\n  \"namespace\": \"Microsoft.Cache\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"96231a05-34ce-4eb4-aa6a-70759cbb5e83\",\r\n    \"roleDefinitionId\": \"4f731528-ba85-45c7-acfb-cd0a9b3cf31b\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"Redis\",\r\n      \"locations\": [\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"West US\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"West US 2\",\r\n        \"West Central US\",\r\n        \"South India\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"Australia Central\",\r\n        \"South Africa North\",\r\n        \"UAE North\",\r\n        \"Switzerland North\",\r\n        \"Germany West Central\",\r\n        \"Norway East\",\r\n        \"Jio India West\",\r\n        \"West US 3\",\r\n        \"Sweden Central\",\r\n        \"Qatar Central\",\r\n        \"Poland Central\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2023-05-01-preview\",\r\n        \"2023-04-01\",\r\n        \"2022-06-01\",\r\n        \"2022-05-01\",\r\n        \"2021-06-01\",\r\n        \"2020-12-01\",\r\n        \"2020-06-01\",\r\n        \"2019-07-01\",\r\n        \"2018-03-01\",\r\n        \"2017-10-01\",\r\n        \"2017-02-01\",\r\n        \"2016-04-01\",\r\n        \"2015-08-01\",\r\n        \"2015-03-01\",\r\n        \"2014-04-01-preview\",\r\n        \"2014-04-01\"\r\n      ],\r\n      \"zoneMappings\": [\r\n        {\r\n          \"location\": \"Australia East\",\r\n          \"zones\": [\r\n            \"2\",\r\n            \"1\",\r\n            \"3\"\r\n          ]\r\n        },\r\n        {\r\n          \"location\": \"Brazil South\",\r\n          \"zones\": [\r\n            \"2\",\r\n            \"1\",\r\n            \"3\"\r\n          ]\r\n        },\r\n        {\r\n          \"location\": \"Canada Central\",\r\n          \"zones\": [\r\n            \"2\",\r\n            \"1\",\r\n            \"3\"\r\n          ]\r\n        },\r\n        {\r\n          \"location\": \"Cen[...]
[...]
    {
      "RequestUri": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourcegroups/PowerShellTest-17?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/PowerShellTest-17\",\r\n  \"name\": \"PowerShellTest-17\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/PowerShellTest-17/providers/Microsoft.Cache/redis/redisteam23626?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Cache/Redis/redisteam23626' under resource group 'PowerShellTest-17' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/register?api-version=2016-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7c4785eb-d3cf[...]
[...]
    {
      "RequestUri": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/PowerShellTest-17/providers/Microsoft.Cache/redis/redisteam23626?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Premium\",\r\n      \"family\": \"P\",\r\n      \"capacity\": 1\r\n    }\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/PowerShellTest-17/providers/Microsoft.Cache/redis/redisteam23626?api-version=2023-04-01"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/West%20US/asyncOperations/35477d2c-00d9-45c4-a55b-d4a030fbd580?api-version=2023-04-01"
        ],
        "x-rp-server-mvid": [
          "a0b06561-a997-4530-9895-4d1f88d34448"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/PowerShellTest-17/providers/Microsoft.Cache/Redis/redisteam23626\",\r\n  \"location\": \"West US\",\r\n  \"name\": \"redisteam23626\",\r\n  \"type\": \"Microsoft.Cache/Redis\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"redisVersion\": \"6.0\",\r\n    \"sku\": {\r\n      \"name\": \"Premium\",\r\n      \"family\": \"P\",\r\n      \"capacity\": 1\r\n    },\r\n    \"enableNonSslPort\": false,\r\n    \"instances\": [\r\n      {\r\n        \"sslPort\": 15000,\r\n        \"isMaster\": false,\r\n        \"isPrimary\": false\r\n      },\r\n      {\r\n        \"sslPort\": 15001,\r\n        \"isMaster\": false,\r\n        \"isPrimary\": false\r\n      }\r\n    ],\r\n    \"publicNetworkAccess\": \"Enabled\",\r\n    \"redisConfiguration\": {\r\n      \"maxclients\": \"7500\",\r\n      \"maxmemory-reserved\": \"642\",\r\n      \"maxfragmentationmemory-reserved\": \"642\",\r\n      \"maxmemory-delta\": \"642\"\r\n    },\r\n    \"accessKeys\": {\r\n      \"primaryKey\": \"Sanitized\",\r\n      \"secondaryKey\": \"Sanitized\"\r\n    },\r\n    \"hostName\": \"redisteam23626.redis.cache.windows.net\",\r\n    \"port\": 6379,\r\n    \"sslPort\": 6380,\r\n    \"linkedServers\": []\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/PowerShellTest-17/providers/Microsoft.Cache/redis/redisteam23626/listKeys?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "a0b06561-a997-4530-9895-4d1f88d34448"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"Sanitized\",\r\n  \"secondaryKey\": \"Sanitized\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/PowerShellTest-17/providers/Microsoft.Cache/redis?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "ea2efbb4-ac57-49ac-86e3-ccad1871eeb0",
          "9454a2cd-ec40-4701-8aac-8d7d644bbc26"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/PowerShellTest-17/providers/Microsoft.Cache/Redis/redisteam23627\",\r\n      \"location\": \"Central US\",\r\n      \"name\": \"redisteam23627\",\r\n      \"type\": \"Microsoft.Cache/Redis\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"provisioningState\": \"Creating\",\r\n        \"redisVersion\": \"6.0\",\r\n        \"sku\": {\r\n          \"name\": \"Premium\",\r\n          \"f[...]
[...]
    {
      "RequestUri": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/redis?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-original-request-ids": [
          "60477cfb-60c9-423a-a6a7-0201503af292",
          "b8d1e145-9ee5-4425-a584-5e941214f85c",
          "3f6d46cc-e321-4937-b99c-799310493692",
          "a5111929-1070-4933-95a9-4a128edfc7e8",
        [...]
[...]
    {
      "RequestUri": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/PowerShellTest-17/providers/Microsoft.Cache/redis/redisteam23626/linkedServers/redisteam23627?api-version=2023-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"linkedRedisCacheId\": \"/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/PowerShellTest-17/providers/Microsoft.Cache/Redis/redisteam23627\",\r\n    \"linkedRedisCacheLocation\": \"Central US\",\r\n    \"serverRole\": \"Secondary\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/West%20US/asyncOperations/2b9acbaf-06ee-4871-be16-5169be435849?api-version=2023-04-01"
        ],
        "x-rp-server-mvid": [
          "a0b06561-a997-4530-9895-4d1f88d34448"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/PowerShellTest-17/providers/Microsoft.Cache/Redis/redisteam23626/linkedServers/redisteam23627\",\r\n  \"name\": \"redisteam23627\",\r\n  \"type\": \"Microsoft.Cache/Redis/linkedServers\",\r\n  \"properties\": {\r\n    \"linkedRedisCacheId\": \"/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/PowerShellTest-17/providers/Microsoft.Cache/Redis/redisteam23627\",\r\n    \"linkedRedisCacheLocation\": \"Central US\",\r\n    \"serverRole\": \"Secondary\",\r\n    \"geoReplicatedPrimaryHostName\": \"redisteam23627.geo.redis.cache.windows.net\",\r\n    \"primaryHostName\": \"redisteam23626.redis.cache.windows.net\",\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}",
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/PowerShellTest-17/providers/Microsoft.Cache/redis/redisteam23626/linkedServers?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-rp-server-mvid": [
          "a0b06561-a997-4530-9895-4d1f88d34448"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/PowerShellTest-17/providers/Microsoft.Cache/Redis/redisteam23626/linkedServers/redisteam23627\",\r\n      \"name\": \"redisteam23627\",\r\n      \"type\": \"Microsoft.Cache/Redis/linkedServers\",\r\n      \"properties\": {\r\n        \"linkedRedisCacheId\": \"/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourceGroups/PowerShellTest-17/providers/Microsoft.Cache/Redis/redisteam23627\",\r\n        \"linkedRedisCacheLocation\": \"Central US\",\r\n        \"serverRole\": \"Secondary\",\r\n        \"geoReplicatedPrimaryHostName\": \"redisteam23627.geo.redis.cache.windows.net\",\r\n        \"primaryHostName\": \"redisteam23626.redis.cache.windows.net\",\r\n        \"provisioningState\": \"Succeeded\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/West%20US/operationresults/9a82f1e6-aaf1-4b18-a65e-3b9bbb4f3515?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/West%20US/operationresults/9a82f1e6-aaf1-4b18-a65e-3b9bbb4f3515?api-version=2023-04-01"
        ],
        "x-rp-server-mvid": [
          "a0b06561-a997-4530-9895-4d1f88d34448"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/Central%20US/operationresults/d81486e4-0389-4222-a088-a3a925f4548c?api-version=2023-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/providers/Microsoft.Cache/locations/Central%20US/operationresults/d81486e4-0389-4222-a088-a3a925f4548c?api-version=2023-04-01"
        ],
        "x-rp-server-mvid": [
          "a0b06561-a997-4530-9895-4d1f88d34448"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11997"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/resourcegroups/PowerShellTest-17?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QT1dFUlNIRUxMVEVTVDoyRDE3LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QT1dFUlNIRUxMVEVTVDoyRDE3LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/7c4785eb-d3cf-4349-b811-8d756312d1ff/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QT1dFUlNIRUxMVEVTVDoyRDE3LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "7c4785eb-d3cf-4349-b811-8d756312d1ff"
  }
}