{
  "Entries": [
    {
<<<<<<< HEAD
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/PowerShellTest-5?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PowerShellTest-5\",\r\n  \"name\": \"PowerShellTest-5\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
=======
      "RequestUri": "/subscriptions/bc130894-c5b3-4adc-a077-0b51f3714abe/providers/Microsoft.Cache?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
<<<<<<< HEAD
=======
        "Content-Length": [
          "3202"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/bc130894-c5b3-4adc-a077-0b51f3714abe/providers/Microsoft.Cache\",\r\n  \"namespace\": \"Microsoft.Cache\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"96231a05-34ce-4eb4-aa6a-70759cbb5e83\",\r\n    \"roleDefinitionId\": \"4f731528-ba85-45c7-acfb-cd0a9b3cf31b\"\r\n  },\r\n  \"resourceTypes\": [\r\n    {\r\n      \"resourceType\": \"Redis\",\r\n      \"locations\": [\r\n        \"North Central US\",\r\n        \"South Central US\",\r\n        \"Central US\",\r\n        \"West Europe\",\r\n        \"North Europe\",\r\n        \"West US\",\r\n        \"East US\",\r\n        \"East US 2\",\r\n        \"Japan East\",\r\n        \"Japan West\",\r\n        \"Brazil South\",\r\n        \"Southeast Asia\",\r\n        \"East Asia\",\r\n        \"Australia East\",\r\n        \"Australia Southeast\",\r\n        \"Central India\",\r\n        \"West India\",\r\n        \"Canada Central\",\r\n        \"Canada East\",\r\n        \"UK South\",\r\n        \"UK West\",\r\n        \"West US 2\",\r\n        \"West Central US\",\r\n        \"South India\",\r\n        \"Korea Central\",\r\n        \"Korea South\",\r\n        \"France Central\",\r\n        \"Australia Central\",\r\n        \"South Africa North\",\r\n        \"UAE North\",\r\n        \"Central US EUAP\",\r\n        \"East US 2 EUAP\"\r\n      ],\r\n      \"apiVersions\": [\r\n        \"2019-07-01\",\r\n        \"2018-03-01\",\r\n        \"2017-10-01\",\r\n        \"2017-02-01\",\r\n        \"2016-04-01\",\r\n        \"2015-08-01\",\r\n        \"2015-03-01\",\r\n        \"2014-04-01-preview\",\r\n        \"2014-04-01\"\r\n      ],\r\n      \"zoneMappings\": [\r\n        {\r\n          \"location\": \"East US 2\",\r\n          \"zones\": []\r\n        },\r\n        {\r\n          \"location\": \"Central US\",\r\n          \"zones\": [\r\n            \"1\",\r\n            \"2\",\r\n            \"3\"\r\n          ]\r\n        },\r\n        {\r\n          \"location\": \"West Europe\",\r\n          \"zones\": [\r\n            \"1\",\r\n            \"2\",\r\n            \"3\"\r\n          ]\r\n        },\r\n        {\r\n          \"location\": \"East US 2 EUAP\",\r\n          \"zones\": [\r\n            \"1\",\r\n            \"2\",[...]
    {
      "RequestUri": "/subscriptions/bc130894-c5b3-4adc-a077-0b51f3714abe/resourcegroups/PowerShellTest-5?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Pragma": [
          "no-cache"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "2f9a5c55-f296-45fc-9c23-a20fb87e5435"
        ],
        "x-ms-correlation-request-id": [
          "2f9a5c55-f296-45fc-9c23-a20fb87e5435"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180828T224007Z:2f9a5c55-f296-45fc-9c23-a20fb87e5435"
=======
          "1d083a42-c2a9-461d-9328-e2b1c9061cb2"
        ],
        "x-ms-correlation-request-id": [
          "1d083a42-c2a9-461d-9328-e2b1c9061cb2"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191108T200221Z:1d083a42-c2a9-461d-9328-e2b1c9061cb2"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Tue, 28 Aug 2018 22:40:07 GMT"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PowerShellTest-5/providers/Microsoft.Storage/storageAccounts/redisteam005s?api-version=2017-06-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Content-Type": [
          "text/plain; charset=utf-8"
        ]
=======
        "Date": [
          "Fri, 08 Nov 2019 20:02:21 GMT"
        ],
        "Content-Length": [
          "185"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/bc130894-c5b3-4adc-a077-0b51f3714abe/resourceGroups/PowerShellTest-5\",\r\n  \"name\": \"PowerShellTest-5\",\r\n  \"location\": \"westus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/bc130894-c5b3-4adc-a077-0b51f3714abe/resourceGroups/PowerShellTest-5/providers/Microsoft.Storage/storageAccounts/redisteam005s?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\"\r\n  },\r\n  \"kind\": \"StorageV2\",\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
<<<<<<< HEAD
=======
        "Location": [
          "https://management.azure.com/subscriptions/bc130894-c5b3-4adc-a077-0b51f3714abe/providers/Microsoft.Storage/locations/westus/asyncoperations/50ad44a0-7e24-4e71-8259-2094c4bf4840?monitor=true&api-version=2017-10-01"
        ],
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "Retry-After": [
          "17"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "d5db84b1-cfb2-43be-886e-baff37b076a7"
=======
          "50ad44a0-7e24-4e71-8259-2094c4bf4840"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
<<<<<<< HEAD
=======
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0,Microsoft-HTTPAPI/2.0 Microsoft-HTTPAPI/2.0"
        ],
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "2a46d3de-0ea0-43ad-b1e4-4bf12ac2ef27"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180828T224008Z:2a46d3de-0ea0-43ad-b1e4-4bf12ac2ef27"
=======
          "50251cdb-765c-43eb-948b-20be59e6d95d"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191108T200223Z:50251cdb-765c-43eb-948b-20be59e6d95d"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Tue, 28 Aug 2018 22:40:08 GMT"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/westus/asyncoperations/d5db84b1-cfb2-43be-886e-baff37b076a7?monitor=true&api-version=2017-06-01"
        ],
        "Server": [
          "Microsoft-Azure-Storage-Resource-Provider/1.0,Microsoft-HTTPAPI/2.0 Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/westus/asyncoperations/d5db84b1-cfb2-43be-886e-baff37b076a7?monitor=true&api-version=2017-06-01",
=======
        "Date": [
          "Fri, 08 Nov 2019 20:02:22 GMT"
        ],
        "Content-Type": [
          "text/plain; charset=utf-8"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/bc130894-c5b3-4adc-a077-0b51f3714abe/providers/Microsoft.Storage/locations/westus/asyncoperations/50ad44a0-7e24-4e71-8259-2094c4bf4840?monitor=true&api-version=2017-10-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "FxVersion/4.7.3132.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17134",
          "Microsoft.Azure.Management.Storage.StorageManagementClient/6.5.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\": \"Standard\"\r\n  },\r\n  \"kind\": \"Storage\",\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PowerShellTest-5/providers/Microsoft.Storage/storageAccounts/redisteam005s\",\r\n  \"name\": \"redisteam005s\",\r\n  \"type\": \"Microsoft.Storage/storageAccounts\",\r\n  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"networkAcls\": {\r\n      \"bypass\": \"AzureServices\",\r\n      \"virtualNetworkRules\": [],\r\n      \"ipRules\": [],\r\n      \"defaultAction\": \"Allow\"\r\n    },\r\n    \"trustedDirectories\": [\r\n      \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\r\n    ],\r\n    \"supportsHttpsTrafficOnly\": false,\r\n    \"encryption\": {\r\n      \"services\": {\r\n        \"file\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2018-08-28T22:40:08.6732437Z\"\r\n        },\r\n        \"blob\": {\r\n          \"enabled\": true,\r\n          \"lastEnabledTime\": \"2018-08-28T22:40:08.6732437Z\"\r\n        }\r\n      },\r\n      \"keySource\": \"Microsoft.Storage\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"creationTime\": \"2018-08-28T22:40:08.2983027Z\",\r\n    \"primaryEndpoints\": {\r\n      \"blob\": \"https://redisteam005s.blob.core.windows.net/\",\r\n      \"queue\": \"https://redisteam005s.queue.core.windows.net/\",\r\n      \"table\": \"https://redisteam005s.table.core.windows.net/\",\r\n      \"file\": \"https://redisteam005s.file.core.windows.net/\"\r\n    },\r\n    \"primaryLocation\": \"westus\",\r\n    \"statusOfPrimary\": \"available\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ]
=======
          "FxVersion/4.6.28008.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Storage.Version2017.10.01.StorageManagementClient/1.3.2"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
 [...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PowerShellTest-5/providers/Microsoft.Cache/Redis/redisteam005?api-version=2017-10-01",
=======
        "Date": [
          "Fri, 08 Nov 2019 20:02:39 GMT"
        ],
        "Content-Length": [
          "1065"
        ],
        "Content-Type": [
          "application/json"
        ],
        "Expires": [
          "-1"
        ]
      },
      "ResponseBody": "{\r\n  \"sku\": {\r\n    \"name\": \"Sta[...]
    {
      "RequestUri": "/subscriptions/bc130894-c5b3-4adc-a077-0b51f3714abe/resourceGroups/PowerShellTest-5/providers/Microsoft.Cache/Redis/redisteam005?api-version=2018-03-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "6ec81d4c-310a-456d-819b-98d3523ad7a4"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.3132.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17134",
          "Microsoft.Azure.Management.Redis.RedisManagementClient/4.4.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.Cache/Redis/redisteam005' under resource group 'PowerShellTest-5' was not found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "bb61f43a-0672-460b-b508-271b5dbec416"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28008.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Redis.RedisManagementClient/5.0.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "03e073cc-f0f0-43ec-a34f-1c6035a4f246"
        ],
        "x-ms-correlation-request-id": [
          "03e073cc-f0f0-43ec-a34f-1c6035a4f246"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180828T224026Z:03e073cc-f0f0-43ec-a34f-1c6035a4f246"
=======
          "af99d120-2b39-4888-999e-a348c50edc71"
        ],
        "x-ms-correlation-request-id": [
          "af99d120-2b39-4888-999e-a348c50edc71"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191108T200240Z:af99d120-2b39-4888-999e-a348c50edc71"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Tue, 28 Aug 2018 22:40:26 GMT"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/bc130894-c5b3-4adc-a077-0b51f3714abe/resourceGroups/PowerShellTest-5/providers/Microsoft.Cache/Redis/redisteam005?api-version=2018-03-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "4b904192-334d-41cf-a859-72762ccf1cf7"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.3132.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17134",
          "Microsoft.Azure.Management.Redis.RedisManagementClient/4.4.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PowerShellTest-5/providers/Microsoft.Cache/Redis/redisteam005\",\r\n  \"location\": \"West US\",\r\n  \"name\": \"redisteam005\",\r\n  \"type\": \"Microsoft.Cache/Redis\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"redisVersion\": \"3.2.7\",\r\n    \"sku\": {\r\n      \"name\": \"Premium\",\r\n      \"family\": \"P\",\r\n      \"capacity\": 1\r\n    },\r\n    \"enableNonSslPort\": false,\r\n    \"redisConfiguration\": {\r\n      \"maxclients\": \"7500\",\r\n      \"maxmemory-reserved\": \"200\",\r\n      \"maxfragmentationmemory-reserved\": \"300\",\r\n      \"maxmemory-delta\": \"200\"\r\n    },\r\n    \"accessKeys\": null,\r\n    \"hostName\": \"redisteam005.redis.cache.windows.net\",\r\n    \"port\": 6379,\r\n    \"sslPort\": 6380,\r\n    \"linkedServers\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
          "be1c1ea1-ebdd-4656-ba28-4517283cde35"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.28008.01",
          "OSName/Windows",
          "OSVersion/Microsoft.Windows.10.0.18363.",
          "Microsoft.Azure.Management.Redis.RedisManagementClient/5.0.0.0"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "f36d3d8d-dd09-4efb-b8b5-7d364bb5cb87"
        ],
        "x-rp-server-mvid": [
          "9aaa90c1-3b88-45ca-9a75-95763c01c286"
=======
          "abaf26c1-4f85-40a6-b4bb-b32b9ac9edc4"
        ],
        "x-rp-server-mvid": [
          "b09efde1-09da-489a-a212-fff1069a7e86"
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Strict-Transport-Security": [
          "max-age=31536000; includeSubDomains"
        ],
        "X-Content-Type-Options": [
          "nosniff"
        ],
<<<<<<< HEAD
=======
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "x-ms-correlation-request-id": [
<<<<<<< HEAD
          "b706d45d-4682-45a4-a0c4-3abc97351628"
        ],
        "x-ms-routing-request-id": [
          "WESTUS2:20180828T224059Z:b706d45d-4682-45a4-a0c4-3abc97351628"
        ],
        "Cache-Control": [
          "no-cache"
        ],
        "Date": [
          "Tue, 28 Aug 2018 22:40:59 GMT"
        ],
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Cache/register?api-version=2016-09-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Cache\",\r\n  \"namespace\": \"Microsoft.Cache\",\r\n  \"authorization\": {\r\n    \"applicationId\": \"96231a05-34ce-4eb4-aa6a-70759cbb5e83\",\r\n    \"roleD[...]
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PowerShellTest-5/providers/Microsoft.Cache/Redis/redisteam005?api-version=2017-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"Premium\",\r\n      \"family\": \"P\",\r\n      \"capacity\": 1\r\n    }\r\n  },\r\n  \"location\": \"West US\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PowerShellTest-5/providers/Microsoft.Cache/Redis/redisteam005\",\r\n  \"location\": \"West US\",\r\n  \"name\": \"redisteam005\",\r\n  \"type\": \"Microsoft.Cache/Redis\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Creating\",\r\n    \"redisVersion\": \"3.2.7\",\r\n    \"sku\": {\r\n      \"name\": \"Premium\",\r\n      \"family\": \"P\",\r\n      \"capacity\": 1\r\n    },\r\n    \"enableNonSslPort\": false,\r\n    \"redisConfiguration\": {\r\n      \"maxclients\": \"7500\",\r\n      \"maxmemory-reserved\": \"200\",\r\n      \"maxfragmentationmemory-reserved\": \"300\",\r\n      \"maxmemory-delta\": \"200\"\r\n    },\r\n    \"accessKeys\": {\r\n      \"primaryKey\": \"nyH9WC5hZ59XfUyivR+Ew3J5HNAxBS7AzislZ7oGgmA=\",\r\n      \"secondaryKey\": \"uvhTYO7T7zrkAeI8S4maWXTUPokxmRDPSbZiWFHh3ZY=\"\r\n    },\r\n    \"hostName\": \"redisteam005.redis.cache.windows.net\",\r\n    \"port\": 6379,\r\n    \"sslPort\": 6380,\r\n    \"linkedServers\": []\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
=======
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11972"
        ],
        "x-ms-corre[...]
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PowerShellTest-5/providers/Microsoft.Cache/Redis/redisteam005/listKeys?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"primaryKey\": \"nyH9WC5hZ59XfUyivR+Ew3J5HNAxBS7AzislZ7oGgmA=\",\r\n  \"secondaryKey\": \"uvhTYO7T7zrkAeI8S4maWXTUPokxmRDPSbZiWFHh3ZY=\"\r\n}",
      "ResponseHeaders": {
        "Content-[...]
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PowerShellTest-5/providers/Microsoft.Storage/storageAccounts/redisteam005s/listKeys?api-version=2017-06-01",
=======
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11970"
        ],
        "x-ms-correlation-request-id": [
          "92286a1f-77c9-4161-a3c6-e676b436f7a6"
        ],
        "x-ms-routing-request-id": [
[...]
    {
      "RequestUri": "/subscriptions/bc130894-c5b3-4adc-a077-0b51f3714abe/providers/Microsoft.Cache/register?api-version=2016-09-01",
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
<<<<<<< HEAD
          "9248a18c-baea-4854-9fd7-72d12e089554"
        ],
        "accept-language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.7.3132.0",
          "OSName/Windows10Enterprise",
          "OSVersion/6.3.17134",
          "Microsoft.Azure.Management.Storage.StorageManagementClient/6.5.0.0"
        ]
      },
      "ResponseBody": "{\r\n  \"keys\": [\r\n    {\r\n      \"keyName\": \"key1\",\r\n      \"value\": \"BOvImp/dc3GlgjfEIVl+DxCGXt0fRUHWA0ESfayA8z0rYyBaJNQM6m7ZkpTyaxeAoNk9XZc5xo8iAg/7TWUU3Q==\",\r\n      \"permissions\": \"FULL\"\r\n    },\r\n    {\r\n      \"keyName\": \"key2\",\r\n      \"value\": \"W/mcYaANiDzZZDB1wt/Qh69dQVs1Dt2bSufNSNC5UB/0RaL60O9NGhCONqJxRS5XIm2DIK+5gw40tllU+kJPdA==\",\r\n      \"permissions\": \"FULL\"\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ]
=======
          "616b39ce-6988-4816-96e5-eaac7811144b"
        ],
        "Accept-Language": [
          "en-US"
        ],
        "User-Agent": [
          "FxVersion/4.6.[...]
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Cache/Redis/?api-version=2017-10-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PowerShellTest-5/providers/Microsoft.Cache/Redis/redisteam005\",\r\n      \"location\": \"West US\",\r\n      \"name\": \"redisteam005\[...]
[...]
    {
      "RequestUri": "/subscriptions/bc130894-c5b3-4adc-a077-0b51f3714abe/providers/Microsoft.Cache/Redis?api-version=2018-03-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "a2bb2f56-5494-4af3-bfe6-ebbfdf8c716a"
        ],
        "x-rp-server-mvid": [
   [...]
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/PowerShellTest-5/providers/Microsoft.Cache/Redis/redisteam005/export?api-version=2017-10-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"prefix\": \"sunny\",\r\n  \"container\": \"https://redisteam005s.blob.core.windows.net/exportimport?sv=2017-07-29&sr=c&sig=%2F4VMyZM7DSthZTAzDKX6xdmbHBn2l0dHtBu2kTfwz3Y%3D&st=2018-08-28T22%3A33%3A33Z&se=2018-08-29T00%3A53%3A33Z&sp=rwdl\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
=======
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads":[...]
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Cache/locations/West%20US/operationresults/315856f3-7e6b-4ea3-b795-07d5c0b03745?api-version=2017-10-01",
=======
        "Server": [
          "Microsoft-HTTPAPI/2.0"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-ms-correlation-request-id": [
          "f8b73d2b-34f3-4051-b9a8-a1ea1b8ddc4a"
        ],
        "x-ms-routing-request-id": [
          "WESTUS:20191108T201721Z:f8b73d2b-34f3-4051-b9a8-a1ea1b8ddc4a"
        ],
        "Date": [
          "Fri, 08 Nov 2019 20:17:21 GMT"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/bc130894-c5b3-4adc-a077-0b51f3714abe/resourceGroups/PowerShellTest-5/providers/Microsoft.Cache/Redis/redisteam005/import?api-version=2018-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"files\": [\r\n    \"https://redisteam005s.blob.core.windows.net/exportimport/sunny?sv=2019-02-02&sr=b&sig=yr%2BIaHvVlHizuuAKMWv2p9lmePxM6YL27x0wNQBVfOQ%3D&st=2019-11-08T19%3A58%3A22Z&se=2019-11-08T22%3A18%3A22Z&sp=rwdl\"\r\n  ]\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/bc130894-c5b3-4adc-a077-0b51f3714abe/providers/Microsoft.Cache/locations/West%20US/operationresults/ae89b611-4da3-4883-8fb8-dac5a16eed52?api-version=2018-03-01"
        ],
        "x-rp-server-mvid": [
          "b09efde1-09da-489a-a212-fff1069a7e86"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/bc130894-c5b3-4adc-a077-0b51f3714abe/resourceGroups/PowerShellTest-5/providers/Microsoft.Cache/Redis/redisteam005/forceReboot?api-version=2018-03-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"rebootType\": \"PrimaryNode\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
>>>>>>> d78b04a5306127f583235b13752c48d4f7d1289a
        ],
        "Pragma": [
          "no-cache"
        ],
        "x-ms-request-id": [
<<<<<<< HEAD
          "668b239e-4429-4d30-a693-e564ba4e3589"
        ],
        "x-rp-server-mvid": [
          "9aaa90c1-3b88-45ca-9a75-95763c01c286"
=======
          "7fc60ccb-014f-418f-b2f[...]
[...]
    {
      "RequestUri": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QT1dFUlNIRUxMVEVTVDoyRDUtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2016-09-01",
=======
        "Date": [
          "Fri, 08 Nov 2019 20:24:57 GMT"
        ],
        "Expires": [
          "-1"
        ],
        "Content-Length": [
          "0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
